[2017-01-03 12:39] iltar commented on #21103
I don't know why we still don't have those :/

[2017-01-03 13:28] #21024 closed

[2017-01-03 13:31] xabbuh commented on #18755
Are we in fact sure that the error handler is working this way? I think naming your data provider this way, the only effect is that deprecations triggered during the data provider call are silenced.

ping @nicolas-grekas

[2017-01-03 13:38] nicolas-grekas commented on #18755
true, so maybe we can't remove this convention if annotations can't be read on them?

[2017-01-03 13:39] Steveb-p commented on #17297
This proved useful to me. Thanks @danieledangeli

[2017-01-03 13:47] #21005 closed

[2017-01-03 13:54] #21123 closed

[2017-01-03 14:19] Jean85 commented on #21125
While at lunch :smile: I got an other idea about a different approach to solve this issue:

 * Create classes inside the `Symfony\Bridge\PhpUnit\Compat` namespace with same name of PHPUnit 6 classes
   * Example: `\PHPUnit_Util_ErrorHandler` AKA `PHPUnit\Util\ErrorHandler` becomes `Symfony\Bridge\PhpUnit\Compat\Util\ErrorHandler`
 * The compat classes will just have the necessary _dark magic_ to e

[2017-01-03 14:40] kostiklv commented on #20619
Most probably related to #13955, #15020. Decreasing GC probability, by increasing `framework.session.gc_divisor` to 1000 or more should help (but it will not solve the problem completely). Alternative is to disable session cleanup by setting `gc_probability` to 0, and then clearing expired session via cron job, off-hours.

[2017-01-03 17:14] Romain commented on #20619
Hi @kostiklv,
Thanks for this feedback.
Could you tell me more about GC probability? What does it refer to?
Thanks for your help
Romain

[2017-01-03 17:30] xabbuh commented on #21116
I am closing here as this is not a bug in Symfony, but something that needs to be clarified in the documentation. I opened symfony/symfony-docs#7311 to keep track of it.

[2017-01-03 17:30] #21116 closed

[2017-01-03 17:37] xabbuh commented on #20853
@peterrehm Are you able to provide a test case that used to pass before, but broke with #19388? I would like to look into a solution that wouldn't break @yakobe's fix.

[2017-01-03 18:03] peterrehm commented on #20853
@xabbuh Please have a look at https://github.com/symfony/symfony/pull/20857 I recommend to revert asap and to look for a new solution. I dont think it will be an easy solution.

[2017-01-03 19:40] yakobe commented on #20853
I find it a little dangerous to simply revert the code without a new solution for the group sequence. That would technically create another BC break for people that rely on that functionality. Myself, for example 😁. And also @senaria (the original author of the pr)

[2017-01-03 20:43] peterrehm commented on #20853
You two are from the same company, and you broke the validator. That is why imho the revert is needed asap, knowing you dislike it 😃. Then someone should look for a proper workaround. Cant you guys look into this?

[2017-01-03 22:05] yakobe commented on #20853
We both have projects that will break if it is reverted. Perhaps many more people do now too? Once something is in a "stable" release, people base solutions on it. It is currenly not so much 'broken' but providing a solution for another use case.

I agree that the current situation is not optimal. I'm swamped right now, but I can take a look as soon as possible. However, before I start implementin

[2017-01-04 08:31] Jean85 commented on #21107
@tkleinhakisa you have to use the UniqueEntity validator. https://symfony.com/doc/current/reference/constraints/UniqueEntity.html

[2017-01-04 08:39] Vinorcola commented on #21107
@Jean85 Some may not use entities into their forms!

[2017-01-04 08:43] tzfrs opened #21154 "Deprecation warnings for form options I'm not using."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.12

I created a FormType that extends the `AbstractType`. I have only a `buildForm` method in it which adds some fields. There are some fields which are other custom form types of mine, but those also only have the `buildForm` m

[2017-01-04 09:06] Jean85 commented on #21107
Then the only secure solution is an unique index on the DB level.

[2017-01-04 09:46] Hanmac commented on #21103
i don't know if that does target this issue too, but i would like to hear your guys opinions about it.

i often do this in my bundles because i need some object repositories in my other services:

[code]

whould such a ``@Service`` anotation work for this too?
hm or maybe that should be done as param for ``@ORM`` anotations?

or would some kind of dynamic Service Provider that does look for "app.%

[2017-01-04 09:53] stof commented on #21103
The annotation would not help here as you need a factory.

Btw, be careful that defining the doctrine repository as a service is incompatible with resetting the entity manager (as the repository would not be replaced by the new repository created by the new entity manager), so I would advice against this.

[2017-01-04 09:59] iltar commented on #21103
@stof if you have to reset your entity manager, you probably have a bigger issue. I always recommend that if the entity manager is closed, it thus crashed somewhere and it's not safe to continue the normal flow.

[2017-01-04 10:02] stof commented on #21103
@iltar there is a very valid use case for resetting the manager: long-running process where you want to be able to process the next message in the queue even if the processing of the previous message failed (having to make your consumer process crash all the time is not good).

[2017-01-04 10:06] iltar commented on #21103
@stof and what about all the (now) un-managed entities floating around everywhere and nowhere? If you try to flush an entity used by another uow, it will most likely cause a bunch of issues and there are probably a dozen more side effects. However, this is slightly going off-topic.

My opinion on service annotations in a class? Bad idea for the aforementioned reasons, I don't think it's worth it.

[2017-01-04 10:07] stof commented on #21103
@iltar I'm also clearing the entity manager between processing of different queue messages anyway (otherwise I would be leaking memory). But anyway, this is off-topic for this issue.

[2017-01-04 10:40] pierredup commented on #21014
This seems to be broken from Symfony >= 2.8.14, even when using monolog-bundle 2.x.

I created 3 complete new checkouts of Symfony standard, 2.8.13 - 2.8.15.
On 2.8.13, the logs shows in the Symfony profiler.
From 2.8.14 onwards, no logs shows, and both 2.8.14 and 2.8.15 uses monolog-bundle 2.11.3

[2017-01-04 10:48] nicolas-grekas commented on #14340
Note that IDEs can also do this on their own:
PhpStorm: https://www.jetbrains.com/help/phpstorm/2016.3/deployment-mappings-tab.html
Netbeans: http://forums.netbeans.org/ptopic53513.html
Eclipse PDT: http://www.eclipse.org/pdt/help/html/adding_a_server_path_map.htm
Sublime Text: https://github.com/martomo/SublimeTextXdebug#features

List copy/pasted from https://bugs.xdebug.org/view.php?id=1344

[2017-01-04 10:58] jordisala1991 commented on #21014
3.0.0 also works for me

[2017-01-04 11:01] tkleinhakisa commented on #21107
@Jean85 The UniqueEntity validator have exactly the problem i describe: it can return true but the insert fails due to unique index at the db level. In that case you need to catch the exception and add the error manually as @Vinorcola exemple in the first message

[2017-01-04 11:21] aserra opened #21157 "Fatal error: Using $this when not in object context - Unescaper.php on line 53"
| Q                | A
| ---------------- | -----
| Bug report?      | yes

In PHP Version 5.3.29
`use Symfony\Component\Yaml\Yaml;`
`$translate =  Yaml::parse( file_get_contents( PATH_TRANSLATE ) );`

Returns:
`Fatal error: Using $this when not in object context in /.../yaml/Unescaper.php on line 53`

Also, I tried:

`use Symfony\Component\Yaml\Yaml;`
`$yaml = new Yaml();`
`$translate =  $yaml->p

[2017-01-04 11:24] xabbuh commented on #21157
Which Symfony version (or version of the Yaml component) do you use?

[2017-01-04 11:28] HeahDude commented on #21154
Hello @tzfrs are you sure your forms are not using any types from third party bundles or do you use any form type extensions that might set these options?

[2017-01-04 11:35] xabbuh commented on #21154
The profiler may help you and give you the trace of where the option is actually set

[2017-01-04 11:38] Jean85 commented on #21125
I've started a WIP PR (#21158) to try my approach, and the only doubt that I have is how to solve argument typehints; example:

    public function addSkippedTest(\PHPUnit_Framework_Test $test, \Exception $e, $time)

The only approach that I found that would preserve BC is a bit verbose:

    public function addSkippedTest($test, \Exception $e, $time)
    {
        if ($test instanceof \PHPUnit_Fr

[2017-01-04 11:41] aserra commented on #21157
I try the master just now. I'm not using under Symfony.

[2017-01-04 11:52] iltar opened #21159 "[RFC] ArgumentValueResolver for the Session (or Flashbag)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3

### The `getFlashBag()` Issue

One constantly recurring issue, is the missing method of `getFlashBag()` in the `SessionInterface`. This leads to being unable to get the flash bag in a clean way.
 - Injection the `SessionInterf

[2017-01-04 12:23] tzfrs commented on #21154
@HeahDude, Yes, I'm sure. A type I'm using extending the AbstractType and including another FormType which is extending the AbstractType. When I remove the include of the second type I don't get any deprecation warnings.

When I add the sub form type again and comment everything out in that class I get the deprecation errors again.

This is the stack trace

[code]

I searched my whole project for

[2017-01-04 12:44] HeahDude commented on #21154
OK, can you please show the output of `composer show -i`?

[2017-01-04 12:51] xabbuh commented on #21157
Well, you will have to use 2.7 or 2.8 if you are still stuck with PHP 5.3. Symfony dropped support for PHP versions < 5.5 with Symfony 3.0.

[2017-01-04 13:13] tzfrs commented on #21154
Sure, here it is

[code]

[2017-01-04 13:18] #21014 closed

[2017-01-04 13:18] Vinorcola commented on #21107
To make things clear, I'm not looking for an alternative way. It's just a debugging matter, so not a big deal. I just noticed that de DebugToolBar do not detect some form error (edded manually). @patrick-mcdougle explained us why.

But this is an edge case, and furthermore, concerning debugging only. So we just have to decide if this bug worth being corrected knowing the amount of work it will nee

[2017-01-04 13:20] tzfrs commented on #21154
No, it's one of mine and only extends the `AbstractType`. And when I put comments on every line of the file, I still get those deprecation warnings. I can suppress them, when I add the attributes and options manually, e.g.

`$builder->add('sub_type', SubType::class, ['attr' => ['readonly' => null]]`

If I do it like this I don't get the warnings, but this feels more like a workaround than a soluti

[2017-01-04 13:26] #20954 closed

[2017-01-04 13:28] fabpot commented on #21159
I like the first solution the most. Injecting the Session instance makes a lot of sense to me.

[2017-01-04 13:44] HeahDude commented on #21154
@tzfrs I could not trigger any deprecations on symfony 2.8.12.

Would you be able to fork symfony standard and add the minimum of code to reproduce your issue? Thanks!

[2017-01-04 14:41] tkleinhakisa commented on #21107
I agree with @Vinorcola

I guess it would require to decorate the Form class to add a specific behavior to the addError method in dev mod when the toolbar is activated. It might not worth all that work for a debugging issue.

[2017-01-04 16:27] wouterj opened #21161 "[PhpunitBridge] Simple PHPunit incorrectly marks tests as passed in PHP 5.6+"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1 (probably any?)

Example:

 * Incorrectly passing job in PHP 5.6: https://travis-ci.org/symfony-cmf/sonata-phpcr-admin-integration-bundle/jobs/188865130
 * Correctly failing job in PHP 5.5: https://travis-ci.org/symfony-cmf/so

[2017-01-04 18:32] BjornTwachtmann opened #21163 "[Translation] version >= 3.1.7 creating empty cache files for fallback locales that are not found"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.1.7

3.1.7 seems to have introduced a change that is breaking certain aspects of Translation our project was relying on.

Esentially, where a fallback locale is not found for a translation with a locale in the form "en_GB" (as op

[2017-01-04 19:50] #18563 closed

[2017-01-04 23:24] HeahDude commented on #21095
@roji430 You need to register the [HttpFoundationExtension](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/HttpFoundation/Type/FormTypeHttpFoundationExtension.php) or the [FormTypeHttpFoundationExtension](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/HttpFoundation/Type/FormTypeHttpFoundationExtension.php), you can also do

[2017-01-04 23:45] 4rthem commented on #21055
I think my issue explains yours: #21130

[2017-01-05 08:30] tzfrs commented on #21154
Hi, I may be able to do that on the weekend.

[2017-01-05 09:54] fbourigault opened #21168 "[RFC] Display Response content in profiler"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3

# Context
Today, only the Response headers are displayed in the profiler. Sometimes, having the response content may help debugging.

## Use cases
- Display a response of a previous browser request.
- Display the response of a

[2017-01-05 09:59] mickaelandrieu commented on #17762
Sorry to re-up this old thread, but do we have an "out-of-the-box" solution right now ?

I do not consider this issue closed  :)

[2017-01-05 10:10] stof commented on #17762
But are you using macros in all your blocks ?

[2017-01-05 10:29] xorgxx opened #21169 "Issue with the Symfony routing"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 3.2.1

Hi i get some funny thing with the routing.
http://www.life.ap1/app_dev.php/fr/life/nfctag/secure/5f31879beb5e3fe04ae3f8c299562f19 > it working well.
http://www.life.ap1/app_dev.php/fr/life/nfctag/secure/cd9fb2

[2017-01-05 10:39] xorgxx commented on #21169
if i change http://www.life.ap1/app_dev.php/fr/life/nfctag/secure/c986232129604fbb0d98bbd5352eb536 to http://www.life.ap1/app_dev.php/fr/life/nfctag/secure/c986232129604fbb0d98bbd5352eb533 then it working again

[2017-01-05 10:47] javiereguiluz commented on #21169
@xorgxx we'd need more information about the error to see if this is a Symfony issue or something about your app. Can you share a screenshot of the exception page displayed by Symfony? Thanks!

[2017-01-05 10:55] xorgxx commented on #21169
the difficulty for me is that i dont know where to start or look. i code in Phpstorm 2016.3 and i even cant put breakpoint to stop before redirection.

[2017-01-05 11:01] xorgxx commented on #21169
here is my config fosUser
[code]

[2017-01-05 11:37] xorgxx commented on #21169
it since that if i take 2 the last (c986232129604fbb0d98bbd5352eb5 [36]) from the key,  then all is go again.

[2017-01-05 11:58] xorgxx commented on #21169
so i confirme all work **if not 32 character** !!!

[2017-01-05 12:01] javiereguiluz commented on #21169
If that's the error, I'm afraid that we should close this issue because it can't be a Symfony issue. The values of the routing placeholders can be much longer than 32 characters. The only limit is in the name of the placeholder itself (in your case, `key`). That name must be less than 32 character ... but there's no limit for its value.

[2017-01-05 12:10] xorgxx commented on #21169
well ok i close this issue, but there is no way to see where the problem it. more over i try the same fink on new fesh projet and get the simce problem !!

Thank for you help.

[2017-01-05 12:10] #21169 closed

[2017-01-05 12:12] javiereguiluz commented on #21169
You can ask for more help in real time using our new Slack chat. There is a #support channel for this kind of questions: http://slackinvite.me/to/symfony-devs

[2017-01-05 12:14] xorgxx commented on #21169
well i find one solution so this is close for me, but thank for this link .-)

[2017-01-05 13:05] xabbuh commented on #21169
@xorgxx If you can reproduce the issue on a fresh installation of the Symfony Standard Edition, it would be nice if you could provide a fork of it with the changes made that are necessary to reproduce it.

[2017-01-05 14:36] sstok commented on #21169
@javiereguiluz The Slack channel is not listed in http://symfony.com/support is this is a new way to get support? I have no experience with Slack 😄 so I'm curious how Symfony is using it.

[2017-01-05 14:39] javiereguiluz commented on #21169
@sstok it will be listed soon (there's a pending PR for that)  For now we're listing it as an alternative to IRC to get real-time support. Stack Overflow is still the preferred way because the discussions are less volatile and the provided solutions can be reused. Slack (and IRC) is for quick and unimportant discussions and chats.

[2017-01-05 17:47] xorgxx commented on #21169
so after lot of looking. the problem is only in dev mode. and if thing thas the problem in "cache"

[2017-01-05 18:41] iltar commented on #21168
While I think this feature might help, having an actual rendered page has a other challenges:
 - CSS
 - Javascript
 - Cookies
 - Debug performance

The first 3, I have no idea how to fix. The last one could be solved by making this feature an opt-in. I personally wouldn't want to have this on for each request.

[2017-01-05 19:27] xorgxx commented on #21169
and this bug/or not but only "bug" with firefox 50.1 !!! not the sime bug with Ie 11 (Ms)

[2017-01-05 19:42] stof commented on #21168
I vote -1 for having this in core.

Note that if you want to have such feature, you can build it in a bundle. Bundles can hook in the profiler to add more panels with their own data

[2017-01-05 19:46] fabpot commented on #21168
👎 for me as well

[2017-01-05 20:26] samayo opened #21170 "Incorrect variable dumps raw profiler content into web"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 3.2.9

Well, this could be some sort of a feature, look at this simple code I have:

[code]

I am passing 'mistakenly' the undefined variable `$format` to a method, instead of `$_format`.

Now, when I go to `http://localhost

[2017-01-05 22:16] stof commented on #21170
This is not the profiler. This is the exception page (in HTML format) being returned while the browser does not treat it as HTML (and so displays the source).
This still looks weird though

[2017-01-06 03:07] #20875 closed

[2017-01-06 03:10] #21040 closed

[2017-01-06 04:45] #20873 closed

[2017-01-06 05:47] xabbuh commented on #21170
@samayo Can you fork the Symfony Standard Edition and make the changes that are needed to reproduce your issue?

[2017-01-06 05:50] xabbuh commented on #21157
Closing here for now as this looks like an issue with the selected package version.

@aserra Feel free to comment when you are able to reproduce your issue using Symfony 2.7 or 2.8 and we can consider to reopen.

[2017-01-06 05:50] #21157 closed

[2017-01-06 05:53] xabbuh commented on #21095
Closing due to the lack of feedback.

@roji430 Please comment when you can provide some steps to reproduce your issue and we can consider to reopen.

[2017-01-06 05:53] #21095 closed

[2017-01-06 05:54] xabbuh commented on #20933
Closing due to the lack of feedback.

@blanselle Please comment if you can provide more insights and we can consider to reopen.

[2017-01-06 05:54] #20933 closed

[2017-01-06 05:56] xabbuh commented on #20822
Closing due to the lack of feedback.

@fxOne Please leave a reply when you can provide some steps to reproduce your issue and we can consider to reopen.

[2017-01-06 05:56] #20822 closed

[2017-01-06 06:01] xabbuh commented on #20578
@HeahDude Do you have an idea how we can solve this issue?

[2017-01-06 06:04] xabbuh commented on #20759
Closing due to the lack of feedback.

@geoffry-brier Please comment if you can provide additional information and we can consider to reopen.

[2017-01-06 06:06] xabbuh commented on #20678
Closing due to the lack of feedback.

@martixy Please reply if you can provide more information and we can consider to reopen.

[2017-01-06 06:06] #20678 closed

[2017-01-06 06:14] xabbuh commented on #20338
Closing due to the lack of feedback.

@stivenllupa Please leave a comment when you are able to give some steps to reproduce your issue.

[2017-01-06 06:14] #20338 closed

[2017-01-06 06:14] #20309 closed

[2017-01-06 06:21] xabbuh commented on #20305
@sandermarechal The part of the docs you cited is talking about session-based authentication. However, as your firewall is stateless the is no session involved. Of course, if you think this could be clarified somehow in the documentation, you can create a PR for the docs or open an issue in the [documentation repository] (https://github.com/symfony/symfony-docs). I am closing here anyway as this i

[2017-01-06 06:21] #20305 closed

[2017-01-06 06:25] xabbuh commented on #19935
Closing due to the lack of feedback.

[2017-01-06 06:25] #19935 closed

[2017-01-06 06:29] xabbuh commented on #19354
Is there anything we can actually do in the core about this issue (the pan converters are part of the SensioFrameworkExtraBundle)?

@HeahDude Maybe something you want to consider?

[2017-01-06 06:52] xabbuh commented on #19206
Is there anything we can do here? I mean even if PHP is not able to create a valid `Date` instance for the given date what are we supposed to do? Furthermore, using a 64bit version of PHP should mitigate the issue as it supports a broader range of dates.

[2017-01-06 07:36] iltar commented on #19354
@xabbuh see https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/436

Fabien was working on something, but I don't know if he had the time to finish this

[2017-01-06 08:37] mvrhov opened #21172 "Workflow component only supports twig 1.x"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2

[2017-01-06 08:39] stof commented on #21172
What is the issue with Twig 2 ?

[2017-01-06 08:40] mvrhov commented on #21172
As per require-dev it's only tested against 1.x branch

[2017-01-06 08:45] stof commented on #21172
Well, it is tested against Twig 2 when running the fullstack testsuite on Travis, so it is working already. We should just update the constraint in the component

[2017-01-06 08:48] rvanlaak commented on #21159
I'm a bit late with this party (as PR #21164 already is there), but injecting the `Session` makes way more sense, as you also would not inject `request->cookies`.

[2017-01-06 09:50] Guikingone commented on #21103
Not a big fan of annotations, if we inject the service using annotations, we link the logic of services to the framework and the class become dependant of the framework logic, i support the vision @dunglas on this part.

Same thinking about getters injection, this way, the logic of the class become dependant of the framework component, what if we want to inject some classes coming from Zend ? Or j

[2017-01-06 10:04] theofidry opened #21173 "Simplify configuration registration"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | master

I guess it's not everyone, but I personally use _a lot_ of configuration files. I like to split them when it makes sense and avoid having config files that are too big. On my last 3 good sized projects (not all from me actu

[2017-01-06 10:08] chalasr opened #21174 "[VarDumper] Switch between occurrences using keyboard in HtmlDumper's search utility"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

A search functionality has been added to the HtmlDumper in #21109, which is quite nice.
The current implementation make us able to switch between results through clicks on the up/down arrows (buttons):

<img src="https://cloud.

[2017-01-06 10:09] nicolas-grekas commented on #21174
arrow up/down instead?

[2017-01-06 10:15] chalasr commented on #21174
Maybe but IMHO the more it replicates the browser's behavior, better it is. Enter/shift+enter is the one I tried naturally

[2017-01-06 10:33] Nicofuma commented on #21103
Lets be honest, you don't change the framework of your project every morning. And when you do change the foundation of your project (yes,, the framework is the foundation of the project) it's a massive task and 2 annotations won't change that much especially if the annotation is only used with autowiring (to not have to write the same 4 lines of yaml for every service)

[2017-01-06 10:33] ogizanagi commented on #21174
I planned to add this feature and rely on the same keyboard shortcuts as when performing a search in browsers. AFAIK: <kbd>CTRL/CMD</kbd> + <kbd>shift</kbd> + <kbd>G</kbd> and add a help box somewhere.

See http://www.howtogeek.com/114518/47-keyboard-shortcuts-that-work-in-all-web-browsers/

[2017-01-06 10:37] Guikingone commented on #21103
For sure, it's just about linking the logic to the framework, not complaining about the changement of framework on a project, i don't change the foundation every morning.

[2017-01-06 10:41] javiereguiluz commented on #21103
Just for reference, this is how autowiring works in Spring Framework ... and still most developers consider that framework professional, great, etc.

[code]

The Symfony autowiring feels like "half-done": you want to go fast with autowiring ... but you still need to waste your time with config files. If you want autowiring, you shouldn't have to deal with that.

[2017-01-06 10:46] dunglas commented on #21103
@javiereguiluz it will not be the case anymore if/when we'll integrate ActionBundle.

[2017-01-06 10:47] dunglas commented on #21103
About Spring, `@Autowired` is a proprietary and deprecated annotation, for new projects, the standard `@Inject` annotation must be used instead.

[2017-01-06 10:47] javiereguiluz commented on #21173
In 2.8 we introduced a feature to load recursively all config files in directories. Would that help you?

[code]

See http://symfony.com/blog/new-in-symfony-2-8-dx-improvements#recursive-directory-loading-for-configuration-and-routing

[2017-01-06 10:51] theofidry commented on #21173
@javiereguiluz interesting feature I didn't know about it! But nope, there is two issues:

- You would need to recursively include `config` itself, I've just putted `security.yml` and `framework.yml` but I have a lot more at the root
- Files need to be included only for the right environment if they follow the `_<envname>.yml` pattern

[2017-01-06 10:53] javiereguiluz commented on #21173
Move the files to load automatically to a dedicated folder inside `app/config/`

Change your strategy and use `<envname>/filename.yml` instead of `filename_<envname>.yml`

[2017-01-06 10:55] remicollet opened #21175 "Failed tests with PHP 7.1.1RC1"
Detected in Fedora QA, test suite fails since PHP was updated from 7.1.0 to 7.1.1RC1
https://apps.fedoraproject.org/koschei/package/php-symfony?collection=f26

In Symfony/Bridge/Twig
[code]

In Symfony/Bundle/FrameworkBundle
[code]

All failure mostly the same (see "build.log" in above link for full output)

I report this early as we need to detect quickly if this is a possible regression in 7.1.1

[2017-01-06 11:30] #18755 closed

[2017-01-06 11:45] theofidry commented on #21173
@javiereguiluz it's doable, but I'm not really fond of it, it requires too much tweaking with conventions I'm not happy with where I would like it to "just works". If you have:

[code]

This looks really annoying to me, I want `repositories.yml` and `repositories_prod.yml` next to each other.

But I understand it may be too opinionated to be integrated in the core. I'm just making the suggestion a

[2017-01-06 11:46] javiereguiluz commented on #21173
@theofidry I totally understand you. It's doable ... but annoying. Let's wait for more opinions!

[2017-01-06 12:13] attila901 opened #21176 "[TwigBundle] Attempted to call an undefined method named "getTemplateName" of class "Twig_Error_Runtime"."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  |  3.2.1, 3.1.8, 2.8.15, 2.7.22

```Twig_Error::getTemplateName``` was removed with https://github.com/twigphp/Twig/commit/b8dabf67341a0d1d5262b2dfcd99841f15f5eccc#diff-e7bace45505091def27fd3bcf8592eafL102 commit.

In ```TwigEngine::r

[2017-01-06 12:49] yalg commented on #21176
I've got the same error with Symfo 2.8.15 since twig 2.0 update.

This message occurs only when we use Template annotation without template name, and when there is an error in twig template. So we don't show the twig_error report.

If we give template name, it desapear, and it display the twig_error correctly.

I think that commit #9218cac for TwigEngine.php solve the problem but not merge.

[2017-01-06 12:58] burci commented on #21176
@yalg 9218cacf317c0df071b4c338dd4173c63922328d is merged into master and v3.2.1  v3.1.8 v2.8.15 v2.7.22 but not fixing the issu.

[2017-01-06 13:08] yalg commented on #21176
@burci Strange, because when I show my vendor files, I dosen't see any commit #9218cac update.

[2017-01-06 13:11] burci commented on #21176
@yalg if you open 9218cacf317c0df071b4c338dd4173c63922328d you can see the tags / branches that includes that commit, it was merged with #20831.

[2017-01-06 13:19] sstok commented on #21173
What if we add Glob support for the directory loader?

`- { resource: "acme/{framework,security}_%kernel.environment%.yml" }`
`- { resource: "acme/**_%kernel.environment%.yml" }`

[2017-01-06 13:26] yalg commented on #21176
@burci thanks, and sorry, I don't know what appens, but after another composer update, it seems to be the same code (maybe forgot to refresh my remote files in IDE), but I'm ok that it's not fixing the issue

[2017-01-06 14:27] iltar commented on #21173
You could make a convention that if the file name (minus `.yml`) matches the extension name, it would be loaded as such. Additional check: only actually load it if the first key in yaml also matches.

[2017-01-06 14:45] agrisvv opened #21181 "system cache set namespace doctrine provider adapter"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

example config

[code]

[code]
Then in code get namespace:

[code]

RESULT namespace

| PROD                | DEV
| ---------------- | -----
| NcV0bhGeDK     | test_namespace:

So doctrine provider namespace are overwrite. an

[2017-01-06 15:04] fabpot commented on #21172
/cc @lyrixx

[2017-01-06 15:22] lyrixx commented on #21172
I just opened a PR

[2017-01-06 15:22] #20668 closed

[2017-01-06 15:35] xabbuh commented on #20853
@peterrehm Can you check if #21183 fixes your issue?

@yakobe Can you confirm that your use case doesn't break with the changes I propose in #21183?

[2017-01-06 15:50] #21172 closed

[2017-01-06 16:32] nicolas-grekas commented on #20532
@thi3rry your issue is different and should be solved by #21184
@RubenHarms can we close this issue then?

[2017-01-06 16:59] GuilhemN opened #21185 "[RFC][Yaml] Add custom tags support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3.0

Custom tags support is a very important feature imo that currently lacks to the yaml component.
It is basically allowing things like:
[code]

By having a dedicated system for tags, we could centralize their management and av

[2017-01-06 17:23] #20560 closed

[2017-01-06 17:58] xabbuh commented on #21175
This should be fixed by #21119.

[2017-01-06 18:22] stof commented on #21175
technically, the break is not because PHP was updated from 7.1.0 to 7.1.1-RC1, but because the calendar was updated to 2017 😄
Can you try running the testsuite using the latest dev version for this particular branch rather than the latest tagged release for it (the PR above is merged, but not yet released) to confirm that  there is no other issue ?

[2017-01-06 18:34] remicollet commented on #21175
Indeed, I also notice they test suite now fails with 7.0.14.

I confirm git snapshot (rev 5518f6a2d02d592e4a7ecaa13e312315a558371e) test suite passes.

Thanks.

[2017-01-06 18:34] #21175 closed

[2017-01-06 18:40] chalasr opened #21187 "[Serializer] Can't use config files without bundle"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3

Similar to https://github.com/symfony/symfony/issues/15655 for the serializer.
Actually, the serializer configuration files must reside in a bundle to be detected e.g. `AppBundle/Resources/config/serialization`.
On the other h

[2017-01-06 19:36] theofidry commented on #21173
@iltar not sure to have understood what you meant, could you elaborate?

[2017-01-06 19:36] jpauli commented on #21175
Wow, that was a good one

[2017-01-06 19:48] iltar commented on #21173
- `framework.yml` loads the extension named `framework`
- `iltar_http.yml` loads the extension named `iltar_http`
- etc.

Requirement: The first key of the file has to match the extension name, so that same as it is now, but just a fail safe for autodetection.

[2017-01-06 19:50] IceShack commented on #17762
Well, in that project we had a generic form template with widget blocks for all simple form types and one form template extending that for form types which where basically groups of simple form types. In that second template every widget block used macros for row layouts (multiple fields in one row, etc.). Using just blocks and no macros would have made the code quite messy (for example: more "set

[2017-01-06 19:59] theofidry commented on #21173
ah yeah that's what I do but not all my files requires an extension (if the default suffice, or if there is no extension, just services – yeah I have extension and service in the same file) and that requires to parse the file content before loading them, which is far from ideal as well.

[2017-01-06 20:00] iltar commented on #21173
Load the content, parse the yaml, then merge the arrays or skip it if it failed

[2017-01-06 20:05] theofidry commented on #21173
Hm actually when I decide if a file is loaded or not, I just choose the appropriate name, having the content matching is just a convention but it's not what I'm basing the loading on. For example if I want to add a file `base_parameters.yml` I want it to be loaded, not because of it's content (it could be empty), but just because it's name is not specific to an environment (hence included for any)

[2017-01-06 20:48] #15986 closed

[2017-01-06 21:49] nicolas-grekas commented on #21185
What would be the resulting PHP structure ?

[2017-01-06 22:09] GuilhemN commented on #21185
Nothing's finished but I began [this](https://github.com/symfony/symfony/compare/master...GuilhemN:TAGS).
I made a class per tag and it resulted to:
[code]

[2017-01-06 23:59] ogizanagi commented on #21187
There is a pending PR regarding the validator: https://github.com/symfony/symfony/pull/19086 :)

[2017-01-07 02:14] c33s opened #21189 "Domain required in Phpunit test when redirecting"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

- PHPUnit 5.7.4
- PHP 7.0.13
- Windows7x64
- Symfony 3.2.1

the following test, taken from https://symfony.com/doc/current/testing.html#working-with-the-test-client (scroll up to Useful Assertions), shows the example without

[2017-01-07 08:51] nicolas-grekas commented on #21185
Would it be possible to have a much smaller diff, to only and code for supporting for first level tags, `!foo`?
About the resulting output PHP structure, should we add a single `TaggedValue` class with getTag and getValue?
Would that make sense ?

[2017-01-07 08:54] xabbuh commented on #21185
The idea looks interesting and might help implementing #21071. I am just not sure how we should best implement it to allow some flexibility which will probably be needed.

[2017-01-07 08:58] nicolas-grekas commented on #21185
Note that#21071is ready and shouldn't be waiting for this one. But of course, it'd be great to leverage tags to use tags instead of social keys when it's ready.

[2017-01-07 09:19] GuilhemN commented on #21185
@nicolas-grekas and hardcode in the parser the defaults ?

Would that make sense ?

I don't think that's worth it, having it as arguments is enough imo.

@xabbuh indeed, you can still take a look at other libraries and see if their implementation inspires you ([`js-yaml`](https://github.com/nodeca/js-yaml/blob/master/lib/js-yaml/type.js), [the php yaml extension](http://php.net/manual/fr/yaml.call

[2017-01-07 09:41] chalasr commented on #21187
@ogizanagi I totally missed them, thanks.
Updated this to talk about the serializer only

[2017-01-07 09:49] xabbuh commented on #21185
@nicolas-grekas I agree that it shouldn't wait. But having sort for custom tags in 3.3 would allow to update your implementation before the final release.

[2017-01-07 10:12] nicolas-grekas commented on #21185
Of course not, "foo" === "whatever" !== "hardcoded".

What does that mean? Looks like we're talking foreign languages :)

So, back to my first question, which still needs an answer: "What would be the resulting PHP structure ?", where "resulting" means "output from the parser" (and not "internal structure").

Let's take an example, in the context of the DI component: `$output = Yaml::parse('- !ite

[2017-01-07 11:04] GuilhemN commented on #21185
@nicolas-grekas did you mean having [this](https://github.com/symfony/symfony/compare/master...GuilhemN:TAGS2)?

I was talking about having an interface for tags (and manage them in the parser):
[code]
But it seems you were talking about having a special class for the output :stuck_out_tongue:

[code]
It seems weird to me; core tags (eg `!!binary`, `!!str`, etc.) would be directly transformed in t

[2017-01-07 11:25] chalasr commented on #20429
@pocky See #21190, it should help here

[2017-01-07 11:58] nicolas-grekas commented on #21185
About the diff, yes!

custom vs core, that's enough a difference to me, so yes

sure, but people are already iterating over the resulting structure to just read what's inside of it, so that doesn't shock me.

responsibility = complexity. Given that we don't want to build a full hydrating system here, we can only support simple types here (similar to doctrine annotations). Which means "more powerfu

[2017-01-07 12:35] nicolas-grekas opened #21193 "[DI] Deprecate case insentivity of service identifiers"
| Q                | A
| ---------------- | -----
| RFC?             | yes
| Symfony version  | 3.3

Case insensitivity blocks some optimizations in the dumped container, slows down getting some services (especially now that we're going to use class names as ids) and adds code complexity.
We'd better make them case sensitive in 4.0, thus deprecate before.

[2017-01-07 13:31] fabpot commented on #21193
I agree

[2017-01-07 13:49] mvrhov commented on #21193
So the recommended way of getting service by name will from 4.00 be `ClassName:class` as the IDE will help greatly there will be less typing however overriding/decorating the services will be annoying as the name won't represent the actual class anymore but the name itself will suggest that. ATM the service name could be seen as some kind of alias.

[2017-01-07 14:15] #12007 closed

[2017-01-07 16:55] Guikingone opened #21197 "[Workflow] Moving workflow configuration into separate file"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

I was using the workflow component and find the configuration approach a little bit to "complicated" by the way that we need to inject key into the config.yml and expect that no "yaml" error are made, this way, i was thinking a

[2017-01-07 17:31] #20048 closed

[2017-01-07 17:40] lyrixx commented on #21197
Hello @Guikingone

I'm not sure to understand what you want. You can already put the workflow configuration into a dedicated file. (like any other bundle configuration BTW)

See this application for [an example](https://github.com/lyrixx/SFLive-Paris2016-Workflow/blob/master/app/config/config.yml#L5)

[2017-01-07 17:52] Guikingone commented on #21197
Hi @lyrixx

In fact, i was just thinking about a "native" way of configuring workflow without using the config.yml file, like we can set services and routes inside a dedicated file.

By the actual way, i find (i can be the only one because of the relative youngness of the component) that configuring a workflow can be boring and pretty hard due by the fact that Yaml could be corrupt by spaces and t

[2017-01-07 17:55] theofidry commented on #21197
It makes sense to me at least to specify a config file like for the router for example in `framework.workflow` 👍

[2017-01-07 17:56] lyrixx commented on #21197
What would be format of the "separate file" ?

[2017-01-07 17:58] theofidry commented on #21197
[code]

[code]

That would also allow in the future to allow a XML/PHP file for it if that makes sense

[2017-01-07 18:05] lyrixx commented on #21197
@theofidry  I don't understand why you want to invent a new way of doing something that is already possible with the same exact configuration format.

Then, you can already import .xml file. or .php file (like for every other part of the framework configuration).

[2017-01-07 18:06] Guikingone commented on #21197
As i see in the doc, you must use the default structure to load workflows :

[code]

This way, the workflows key is right under the framework key but that's not (in my opinion) the best way to load this type of config, is you look at the services or security files, they use a 'unique' key who allow to load file without using the framework key, the solution of @theofidry could be great but the comp

[2017-01-07 18:13] lyrixx commented on #21197
The DIC and the Router component have their own configuration loader system
The security have its own key because it is not in the `FrameworkBundle` (so `framework` key) but in the `SecurityBundle` (so `security` key)

So just to be sure, you just want to get ride of the `framework` key?

[2017-01-07 18:17] Guikingone commented on #21197
Yes, it's just about forgetting the framework key and/or moving the logic of workflow config into a dedicated file (if the framework key can be forget, the move of the logic into a separate file isn't obligatory but could be a plus), i think that could help to the configuration of the component and could lead to less parse error.

[2017-01-07 18:18] wouterj commented on #21197
@Guikingone these "keys" are related to specific Dependency Injection Extensions (those of the FrameworkBundle and SecurityBundle).

It is perfectly possible to put this config in a seperate file. Read the [How to Organize Configuration Files](http://symfony.com/doc/current/configuration/configuration_organization.html) documentation article for more information about this.

This is actually more

[2017-01-07 18:18] theofidry commented on #21197
@lyrixx personally it's not so much the framework key that bother me, it's that for the framework config, everything is in one place. As the workflow config grows, it becomes very noisy and it's better to separate it, but again if you do that right now, you no longer have all of your framework config in one place which is not ideal.

Granted it's not too big of an issue really, but I believe it's

[2017-01-07 18:21] lyrixx commented on #21197
Again and again, it's **already** possible to put the configuration into another file. So if the issue is not about the framework key, it don't understand this issue.

[2017-01-07 18:24] theofidry commented on #21197
@lyrixx let me rephrase: the `framework` key becomes a "problem" only when you move the workflow config in a separate file.

[2017-01-07 18:25] wouterj commented on #21197
I think what this issue is about:

Instead of including the workflow config in the DI extension, the component should provide it's own YamlFileLoader, XmlFileLoader and PhpFileLoader.

The benefit of this is, is that it might makes configuration a bit nicer when using the component standalone. However, as this introduces quite some extra work, I propose to not do that:

 * Using the `DefinitionBui

[2017-01-07 18:29] Guikingone commented on #21197
👍 for @theofidry vision, ths key become problematic when you move the logic and i find that the logic of the workflow could/should be move into a separate file, this configuration could be pretty large and hard to set into the same file as the configuration for the whole framework.

@wouterj Yes, the component isn't very used outside of the framework but that's not really the problem, problem is,

[2017-01-07 18:31] lyrixx commented on #21197
Could you fork the SE and show me what you want?

[2017-01-07 18:32] wouterj commented on #21197
Well, it's not much of a harder reading level imo. After all, what we're talking about is 1 word ("framework") and 4 spaces of indentation (which you can perfectly reduce to 1 space btw) per line.

What this still makes very clear is that the workflow is part of the FrameworkBundle and one has to look at the Framework DI extension in order to see how it's processed.

[2017-01-07 18:40] Guikingone commented on #21197
@lyrixx Yes, i do that tomorrow when i come home.

@wouterj Yes, the process is pretty long and the investisment probably don't justify the work but i find strange this type of config, i know, we can inject workflows file into the config file (i take a look at your repo @lyrixx) but i just find that with the configuration of the framework and the workflow, this could lead to misunderstand of all t

[2017-01-07 18:48] dunglas commented on #21187
I agree it must be done for 3.3 as bundle-less app will become fist-class citizens. I can work on this.

[2017-01-07 19:55] fabpot commented on #21187
That would be great

[2017-01-07 21:58] HeahDude commented on #20578
@xabbuh Sadly we rely on the Intl formatter to parse the submitted string from the pattern, so I can only see one fix and one workaround for now.

To fix it, we could create a regex from the `$pattern` argument (defined through the `format` option) using a private static method in the `DateTimeToLocalizedStringTransformer` and throw a transformation failed exception when the value does not match (

[2017-01-08 00:41] #20429 closed

[2017-01-08 01:04] samayo commented on #21170
@xabbuh [Here is my fork with the changes](https://github.com/symfony/symfony-standard/compare/master...samayo:master) I tested in local and pushed it as is.

[2017-01-08 09:35] Nyholm commented on #21197
I agree with that the configuration under the `framework` could be massive. Especially with the workflow component. What I've done (and what have been suggested in this PR) is that you put it in a separate file.

[code]
[code]

I do not think there is a problem with starting the "workflows.yml" with the `framework:` key. In fact, it is only logical. 🖖

[2017-01-08 11:35] n-for-all opened #21199 "Too much exceptions"
if i pass an array of options that include any other key, this shows an exception, what for?, if the option is unknown, simply ignore or issue a warning in the logs.

![image](https://cloud.githubusercontent.com/assets/171367/21749355/a7962d2a-d5b6-11e6-971e-66ae7213cd1b.png)

slow down a little on exceptions, there is no global exception handler for symfony and neither we can control the exceptio

[2017-01-08 11:44] chalasr commented on #21187
Thanks. Note that #19086 does it for the validator by adding a config option instead of only detecting some given places in `app/`, I think it makes sense as it's consistent with the doctrine configuration.

[2017-01-08 12:23] xabbuh commented on #21189
I think this is something that needs to be clarified in the documentation instead.

[2017-01-08 12:27] xabbuh commented on #21199
We throw exceptions when something goes wrong that shouldn't be ignored because ignoring it would either break your application or lead to issue that are hard to debug. Of course, if you think that there are places where we throw exceptions of which you think they shouldn't be thrown, we can discuss that from case to case. But that's not something we will change generally.

[2017-01-08 12:45] wouterj commented on #21170
I can confirm this issue with Symfony 3.2.1.

status: reviewed

[2017-01-08 12:47] nicolas-grekas commented on #21079
Reopening: autowiring has AutowireServiceResource, but with closure proxies, and getter injection, we're going to need a more generic mechanism.

[2017-01-08 12:48] n-for-all commented on #21199
ok thanks, right now i am trying to fix this issue, either by removing the additional options before i pass them, which means i get the form registry, resolve the type, get the default options and remove the additional ones before passing the type to the builder, and i can't seem to find a way to override the options resolver, neither i can get the "form registry" from the "form factory" because i

[2017-01-08 12:51] xabbuh commented on #21199
I am not sure if I understand your use case. Why do you actually pass options that are invalid in the first place?

[2017-01-08 12:51] wouterj commented on #21170
Ah, I got the error. I would not say this is a bug, this is completely expected behaviour:

As the `_format` route parameter is set to `rss` in this case, the response will be set to be RSS. As the exception controller doesn't support RSS, it'll simply render the default HTML response. However, it's still sent as being RSS, so the browser doesn't render it as HTML.

If you access `http://localhost

[2017-01-08 12:56] n-for-all commented on #21199
because there are some options that doesn't exist on some fields, like placeholder or pattern, or data-* options, which breaks the form builder, unless i override each field with these options.

[2017-01-08 12:58] xabbuh commented on #21199
So why do you pass these options to form types then that don't support them?

[2017-01-08 13:02] n-for-all commented on #21199
it is very simple, the user saves what he wants, i check the required fields, pass them to the form handler, and additional fields, i pass them to another handler to add them to the fields.

currently the forms are limited and can't be overriden easily, if i am able to override and pass my options resolver, i would be able to pass the extra fields and print the in the template.

so instead of over

[2017-01-08 13:04] samayo commented on #21170
I would support the second option. Whatever it is, full application path should not be displayed to visitors.

[2017-01-08 13:08] wouterj commented on #21170
Please note that we're now talking about the dev environment. On the production environment (The thing your visitors will visit), another template is rendered (the `error` one instead of the `exception` one). This will hide all sensitive information.

[2017-01-08 13:11] samayo commented on #21170
Ah, I assumed it would be the same for prod as well, since it would throw an exception as well. My bad

[2017-01-08 13:11] xabbuh commented on #21199
I don't see how this is related to how Symfony works. If you are already able to dynamically add form types to your form tree based on the user's input, you already have to decide which kind of concrete form type to add. At this step you then also have control over which options you pass to the form type.

[2017-01-08 13:21] n-for-all commented on #21199
The form must support all fields by symfony, approx 30 fields, there should be a way i get the default options from the form builder to be able to compare.

so how can i know the default fields required for each field type from the form factory or the builder?, i can't see to find a way for that, unless i go to the docs and copy each option for each field type to know the options required.

[2017-01-08 13:26] xabbuh commented on #21199
Even if you were able to retrieve all the available options, how would you proceed then? How would you determine sensible values for all the options?

[2017-01-08 13:38] n-for-all commented on #21199
i don't,  just exclude the additional options

if you go to any field:

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Core/Type/BirthdayType.php

you will see that the defaults is passed to the resolver, with the resolver method "getRequiredOptions" and "getDefinedOptions" you can get the options i need and required for the field to parse correctly.

https://g

[2017-01-08 13:58] wouterj commented on #21199
[code]

[2017-01-08 14:31] HeahDude commented on #21199
Almost there ;)
[code]

[2017-01-08 16:18] n-for-all commented on #21199
i understand, however i don't have the form registry, i have $app['form.factory'] which is registered through silex provider, i have:

Symfony\Component\Form\FormFactory
Symfony\Component\Form\FormBuilder

which of both and how i can retrieve the form registry?

[2017-01-08 17:31] HeahDude commented on #21199
@n-for-all I've opened https://github.com/silexphp/Silex/pull/1473 to fix your issue.

[2017-01-08 18:48] rommeras opened #21204 "Symfony duplicates content-type header"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.8

I use php 7.0.0 with symfony 3.1.8. The issue is when I got errors from php - symfony doesn't return me stack trace, all I can see is "Internal Server Error" page. In logs of apache I found FastCGI: comm with server "/Applica

[2017-01-08 19:51] SenseException opened #21206 "[Validator] Exception handling with objects others than Constraint in Composite"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | >= 2.7

This is a minor bug in `Symfony\Component\Validator\Constraints\Composite` in the Exception handling. While going through the nested constraints, a constraint that doesn't implement `Symfony\Component\Validator\Constraint` r

[2017-01-08 20:26] Modelizer opened #21207 "Hyperlink (anchor tag) inside terminal - Symfony/Process"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | no valid

Can we create a hyperlink inside the terminal? I'm working on a project to automate most of the task which user needs to do it manually while installation. I'm using Symfony process to do it. When search for a package and

[2017-01-08 21:23] GromNaN commented on #21207
I don't know if you can display interactive links in the terminal (like <a>). Displaying the URL should be enough to be clicked: http://stackoverflow.com/questions/2338765/is-there-a-way-to-make-a-link-clickable-in-the-osx-terminal

[2017-01-08 21:26] fabpot commented on #21207
A terminal only displays text. But indeed, some of them detects URLs and allows you to click on them.

[2017-01-08 21:26] #21207 closed

[2017-01-08 21:46] ianfp commented on #21103
I'm in favour of this proposal. I have a project that is very heavy on server-side processing (not a simple CRUD REST backend) with *lots* of services, and I'm finding that maintaining both YAML files and the classes is becoming a hassle. I'm trying out JMSDiExtraBundle and I think it's an improvement, but this proposal seems to have a simpler syntax, which I like.

Specifically, I don't like comp

[2017-01-09 06:15] patrick-mcdougle commented on #20619
The timeout is being caused by symfony essentially serializing connections to your site (since each connection is reading from and locking the session). The best advice I can give is to speed up your controllers so the locks are released faster, or try to make sure that your requests only read from the session if absolutely necessary.

[2017-01-09 09:48] Codenator81 commented on #21172
@stof Have issues with twig 2. It not works with debug panel

[2017-01-09 09:52] Codenator81 commented on #21172
Twig_Error_Syntax in exception.html.twig line 12:
Unknown "format_file_from_text" filter.

[2017-01-09 09:54] stof commented on #21193
@mvrhov we don't enforce using class names as id (it would break many use cases, as being able to replace an implementation is a great use case).
But we are making the ``id`` optional, using the class name in this case, to keep things simpler for newcomers.

[2017-01-09 10:03] lyrixx commented on #21172
Hello @Codenator81

It has nothing to do with the workflow component. Could you open a new issue?

Thanks.

[2017-01-09 10:11] Codenator81 commented on #21172
OK @lyrixx . Thanks

[2017-01-09 10:13] Codenator81 opened #21212 "twig 2 not works with debug panel"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

Have issues with twig 2. It not works with debug panel
just do composer update on standard project from symfony 3.2.1
[code]
and I have errors with my Twig services because `Twig_Function_Method` and `Twig_SimpleFilter` remov

[2017-01-09 10:34] stof commented on #21212
Twig_SimpleFilter is **not** removed from Twig 2. So saying you have an error because of it looks weird.

and Twig_Function_Method is not used anymore in Symfony, so it probably comes from your own code or from a third-party bundle (and this class is indeed removed in Twig 2, as it was deprecated in Twig 1.x since some time)

[2017-01-09 10:40] fleskalebas opened #21213 "Fatal error: SessionHandlerProxy"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

After upgrading to PHP 7.1 and symfony 3.2.1 I sometimes (once a week, random) get the following error:

I changed the following lines in config.yml to the new Symfony 3 style:
[code]

But it still happened.

After reading ht

[2017-01-09 10:41] Codenator81 commented on #21212
@stof
[code]
 this came from TwigBundle

[2017-01-09 10:55] stof commented on #21212
But this filter is defined in Symfony, so it looks weird

[2017-01-09 11:31] mvrhov commented on #21193
Then the above doesn't make much sense (ok, it does, if the service name is class name). AFAIR the we switched once before to CI ones.

[2017-01-09 11:40] stof commented on #21193
I don't understand your answer

[2017-01-09 14:07] fabpot commented on #21212
I got the same error a few days ago and it was because of a definition issue in my code. I will try to replicate to see how we can get a better error message in this case.

[2017-01-09 14:27] #21199 closed

[2017-01-09 14:27] Codenator81 commented on #21212
1) When I try install new symfony 3 project via composer `composer create-project symfony/framework-standard-edition my_project_name` it don`t update to twig 2.0 straight way with `composer update`
2) when install new project via symfony installer it is allow update to twig 2.0 straight after install via `composer update` and no errors on plain project

So that is my project update issue. My proje

[2017-01-09 14:35] javiereguiluz opened #21215 "[Console] Support empty values for options"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7

Fabien added [this comment](https://github.com/symfony/symfony/pull/21210#issuecomment-271297002) about this bug:

[2017-01-09 14:38] #19738 closed

[2017-01-09 14:43] Codenator81 commented on #21212
so there only
[code]
added on top of original `composer.json`

[2017-01-09 14:57] Codenator81 commented on #21212
Issue arise when I add custom extension:
[code]
[code]

[2017-01-09 15:03] stof commented on #21212
Can you show the output of ``composer show -i |grep twig`` ?

[2017-01-09 15:04] W0rma commented on #21005
@xabbuh Yes, issue is fixed. Thank you!

[2017-01-09 15:05] Codenator81 commented on #21212
AleksandrssiMac:front alex$ composer show -i |grep twig
You are using the deprecated option "installed". Only installed packages are shown by default now. The --all option can be used to show all packages.
twig/twig                            v2.0.0  Twig, the flexible, fast, and secure template language for PHP

[2017-01-09 15:11] Codenator81 commented on #21212
Error page
[code]

[2017-01-09 15:21] stof commented on #21212
the Twig_Error_Syntax looks related to the initial error in ``Twig_ExtensionSet->initExtension(object(AppExtension))``, forbidding Twig to initialized extensions properly (and so failing later when we use it to display the exception page, as it is in an incomplete state).

The original issue is that your ``AppExtension::getFunctions`` implementation uses the old Twig 1.x way (which triggered warni

[2017-01-09 15:34] Codenator81 commented on #21212
thanks @stof Right
[code]
fix bug so this is my bug not symfony but error yes weird

[2017-01-09 16:01] stof commented on #21212
you can even remove the ``'cardEmpty' => `` part. Array keys are meaningless now

[2017-01-09 16:06] Codenator81 commented on #21212
True test it. Thanks @stof

[2017-01-09 16:42] deanc opened #21216 "[ExpressionLanguage] Validate access to public properties of object"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.* 3.*

When using the `ExpressionLanguage` component to access the public property of an object, no validation is provided to ensure that this property exists. This (I think) could potentially result in expressions evaluating inco

[2017-01-09 16:46] stof commented on #21216
Well, this is not a syntax error (the syntax is fine). This is a runtime error (values of variables are runtime-only). And adding stricter validation at runtime is possible only in interpreted mode, not in compiled mode (as we cannot add this to the compiled code without making things insane and requiring some functions to be available at runtime).
And so we already rejected this in the past (we d

[2017-01-09 16:48] deanc commented on #21216
Hi @stof and thanks for the quickly reply. You are correct, of course about it being a runtime error. What would you suggest for a user who wishes to solve this problem?

[2017-01-09 16:50] magnetik opened #21217 "[Form] DateType does not convert timezone"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7

The `DateTimeToLocalizedStringTransformer` when used with a pattern that have only date (in `DateType` for instance) does not convert the result in the desired output

Reproduction steps:
- Use `DateType` in a form
- Set the `m

[2017-01-09 17:20] Romain commented on #20619
Ok, thanks @patrick-mcdougle.
I'll close this issue for now, if I face this problem again, I'll let you know.

[2017-01-09 17:20] #20619 closed

[2017-01-09 19:21] tkleinhakisa commented on #21217
It looks good to me. When the time is not considered it doesn't make much sense to talk about timezones.

2017-01-10 is tuesday january the 10th of year 2017 whereever you are on earth, it can't be monday the 9th nor wednesday the 11th.
If you consider it as a time interval then it is more than 24 hours.
If you want to specify a 24 hours interval it should be 2017-01-10 00:00:00 Europe/Berlin to 2

[2017-01-09 20:30] #21212 closed

[2017-01-10 00:09] theofidry opened #21222 "[DI] Autowiring debug tools"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | dunno

A lot of new features related to the auto-wiring have been added recently:

- Autowiring
- Setter auto-wiring
- Getter auto-wiring

IMO, especially with the last two, it starts to become necessary to have more tooling to deb

[2017-01-10 06:47] mdzzohrabi commented on #21176
I have the same issue , after composer update , in version 2.8.15

[2017-01-10 07:44] dunglas commented on #21222
The `debug:container` command already tell if a service is autowired or not (in detailed mode).

[2017-01-10 08:31] theofidry commented on #21222
That's a start but quite limited. For example I may want to know which service is auto-wired, but if I have 200 services I won't check them one by one... It is great to get the details of a service, not to analyze the list of services.

Maybe we could add an option to `debug:container`, e.g. `debug:container --auto-wired`.

[2017-01-10 08:35] nicolas-grekas commented on #21222
Or you could use grep :)

[2017-01-10 08:36] theofidry commented on #21222
How? you don't know if the service is auto-wired from the name do you?

[2017-01-10 08:42] nicolas-grekas commented on #21222
grep autowire -Cxx?

[2017-01-10 08:43] iltar commented on #21222
grep sadly doesn't work in windows unless you use WSL. Sadly this requires you to have your environment re-setup in Linux.

[2017-01-10 08:44] magnetik commented on #21217
I see your point but it still feels weird to me.

I'm using the DateType to select the 24h interval of the user's selected day. Most of the use case I can think of using a DateType in a timezone changing application imply this, but maybe it's only my confirmation bias. Maybe it would be a little less surprising if the output were "2017-01-10 00:00:00 Pacific/Tahiti".
Maybe it's a DX issue of the `

[2017-01-10 08:47] theofidry commented on #21222
@nicolas-grekas I still don't see how it would work, `debug:container` just displays:

[code]

so you can't get the auto-wire information from it, the only way AFAIK is to get the service details to check the autowire section.

[2017-01-10 08:50] nicolas-grekas commented on #21222
or submit a PR :)

[2017-01-10 09:07] tkleinhakisa commented on #21217
Think of it in the other way (model_timezone to Berlin, default to Tahiti) then you would get 2017-01-09 which would be event more surprising

I agree with that

That seems like the real bug here.

I think one of the pb is that there is no object in PHP to represent only a date, but always a datetime so you end up with "2017-01-10 00:00:00 Pacific/Tahiti" when it should only be "2017-01-10"

If yo

[2017-01-10 10:47] chalasr commented on #21215
@fabpot Ok that passing `--prefix=""` or `--prefix ""` should give an empty prefix, but when passing `--prefix` without explicit value, how should it behave (take the default value or be empty)?

[2017-01-10 12:51] dsaet56yhdfsefret opened #21227 "Support different template engines"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | dev

Twig is great, don't get me wrong. But HTML is really too verbose and messy, and Twig doesn't seem to address this issue. There are other template engines such as [Slim](http://slim-lang.com) that offer a much cleaner syntax a

[2017-01-10 13:03] stof commented on #21227
I don't think Symfony will do it in core.
But you can add them in third-party bundles, and integrating them with the templating component (there was a SmartyBundle integrating Smarty for instance, not sure it is still maintained).

[2017-01-10 13:42] ydomenjoud commented on #21176
Dirty work-around : Replace getTemplateName by getFile on line 55
( SF3.2.1 )

[2017-01-10 13:51] #21176 closed

[2017-01-10 14:15] javiereguiluz commented on #21227
@dsaet56yhdfsefret if I understand this correctly, you are not asking for adding new template engines but support for new content formats. For example, we have `index.html.twig` but you want to create a `index.slim.twig` template, right? You want Slim for the markup and Twig for the dynamic templating stuff.

You could define those `.slim.twig` templates and let Symfony do its stuff. Then, you def

[2017-01-10 14:37] jupeter commented on #21125
Hi guys,

small tip - I got same problem with PHP 5.6.29 + latest stable phpunit (v5.7.5):
[code]
Problem does not appear in 7.0.9+

Resolved adding manually "files" in "autoload-dev":
[code]
This change works for php5 and 7.

[2017-01-10 14:55] chalasr commented on #21215
See #21228

[2017-01-10 14:57] fabpot commented on #21227
Closing as this is a duplicate of another request in Twig. But basically, Symfony does not care about which templating system you are using in your project, so feel free to use whichever you like.

[2017-01-10 14:57] #21227 closed

[2017-01-10 15:41] #20853 closed

[2017-01-10 17:02] jacoz opened #21229 "[TwigBridge] String concatenation and trans filter"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7.22

Hi,
having something like `{{ "my.message." ~ someVar|trans }}` or `{{ ("my.message." ~ someVar)|trans }}` the translation fails because the engine doesn't seem to be able to parse the concatenation.

[2017-01-10 17:20] stof commented on #21229
I don't understand what you mean here

[2017-01-10 17:23] jacoz commented on #21229
@stof having this scenario:
[code]

I'm expecting that the `trans` filter would have as first argument the evaluated string: `my.message.foo`, but it doesn't, it actually is `my.message.someVar`

[2017-01-10 17:27] stof commented on #21229
OK, is it your real code ? If no, please paste the extract of your real code, to let us spot silly typos in it. There is no reason to get ``my.message.someVar`` in your case here

[2017-01-10 17:49] Rezequiel commented on #21176
Apparently you fixed for Symfony 2.7 only. So, why you close this issue if Symfony 3.2 still with this error?

[2017-01-10 18:01] xabbuh commented on #21176
@Rezequiel Branches are merged up to the `master` branch on a regular basis. Thus, eventually this PR will land in 3.2 before the next patch release (which will be `3.2.2`).

[2017-01-10 18:03] Rezequiel commented on #21176
@xabbuh excellent, thanks for the explanation!

[2017-01-10 18:32] fancyweb commented on #21229
@jacoz I don't think this is a bug.
You either have to use the `format` filter ``{{ 'my.message.%s'|format(someVar)|trans }}` or brackets `{{ ('my.message' ~ someVar)|trans }}`

[2017-01-11 08:24] xabbuh commented on #20443
Closing here as it turns out that the described behaviour was no bug but a misconfiguration.

[2017-01-11 08:24] #20443 closed

[2017-01-11 09:01] mvrhov commented on #21217
Like @tkleinhakisa said. Timezone is irrelevant when operation in date only mode. IMO, the time part when in Date only mode should return default timezone and 00:00:00 as a time portion. So it seems that the choice widget is behaving wrong.

[2017-01-11 11:01] nietonfir commented on #16823
In case someone is interested: I have an OpenLDAP instance configured with the meta backend as a proxy for two ldap directories (with distinct uid's!). As such, users have two different dn (`ou=companyA,ou=users,dc=local` vs `ou=companyB,ou=users,dc=local`). The user provider logic is fairly simple, in my case I decided to use a chained provider for two ldap providers for the same host but with di

[2017-01-11 11:48] javiereguiluz opened #21235 "Revamp the main Symfony README file"
In the [Symfony Slack channel](https://slackinvite.me/to/symfony-devs) someone suggested to make the README file of this repo "more sexy". I agree, but let's see what the community thinks about this.

## Problems of the current README

* The title is README instead of Symfony
* It doesn't mention that Symfony uses the MIT license
* It references old projects using Symfony: Dailymotion, Yahoo! Answ

[2017-01-11 11:52] Jean85 commented on #21235
Great suggestions!
Along with the Semver notice, I would add a link to the BC promise, and point the user to the UPGRADE-*.md files.

[2017-01-11 11:57] iltar commented on #21235
Great suggestion, I'm all for!

[2017-01-11 12:06] stof commented on #21235
not in the readme. Only contributors are interested in it, so this should go in the contributing file

And explain explicitly that the github issue tracker is not our support channel (with a link to https://symfony.com/support)

[2017-01-11 12:08] elonmir commented on #21235
You might consider adding the slack channel link as well.

[2017-01-11 12:09] javiereguiluz commented on #21235
@Jean85 you are right. License is already highlighted by GitHub.
@stof good point; issues !== support
@elonmir yes, it's proposed to add it to the new community section

[2017-01-11 12:21] csarrazi commented on #16823
@nietonfir As mentioned before, a repeated query should not be necessary in all cases. However, keep in mind that you may have access to different attributes depending on the user, or search may actually be disabled for users other than the search user, based on the access controls enforced by the server.

Indeed, in many setups, human users may not have the ability to search other users' informat

[2017-01-11 13:31] reypm opened #21236 "Any chance to separate the Symfony Debug Bar as a component?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | N/A

I have been working with Symfony for a while and I should say is the best PHP framework I have ever tried. This days there are a few more out there: Laravel, Zend Framework, Yii and of course vanilla PHP applications - yes they

[2017-01-11 13:44] stof commented on #21236
the Symfony Profiler is currently strongly coupled to HttpFoundation (and requires a bunch of manual work if you don't use HttpKernel, to reintegrate it with a different kernel system). So it is not usable for any project using another library for HTTP requests and responses.
changing this requires rewriting the component entirely (and would probably be a migration nightmare due to the current arc

[2017-01-11 13:48] reypm commented on #21236
@stof currently I am using ZF1 (yes EOL and so on but is what the company I work for use so ....) and I don't have a clue to use such components on top of it I don't even if it's possible since ZF1 seems to be lazy in some aspects.

[2017-01-11 14:04] javiereguiluz commented on #21236
@reypm I'm not sure this will happen anytime soon. This component can only work well with a Symfony-based project (Symfony or Silex) because every panel is tightly integrated with Symfony features. For your specific case, you should consider using [Z-Ray](http://www.zend.com/en/products/server/z-ray) instead.

[2017-01-11 14:09] reypm commented on #21236
thx @javiereguiluz I will give this a try (tried before but couldn't get it to work properly will try again though) I am not sure to leave this issue open looking for other answers, what do you think, should I close it or keep it open for a while?

[2017-01-11 14:22] stof commented on #21236
ZF1 is definitely not based on the Symfony 2+ components (which were written years *after* ZF1). So you cannot get the Symfony Profiler system for now.

@reypm I'm closing this issue, because we already have another issue about decoupling the profiler from HttpFoundation (and splitting the component is not worth the effort before that IMO. No need to rename classes twice)

[2017-01-11 14:22] #21236 closed

[2017-01-11 15:54] aminemat commented on #17562
Any update on this folks? Issue is still present with hhvm `3.15.0`

[2017-01-11 17:46] ogizanagi commented on #21174
Done in #21238 with main browser shortcuts.

[2017-01-11 18:20] #6919 closed

[2017-01-11 18:31] #19440 closed

[2017-01-11 18:52] xabbuh commented on #20534
@dunglas More specific exceptions would allow to base the response status code on the exception being thrown instead of having to parse the exception message. See #21239 for a suggestion to improve the situation for Drupal.

@wimleers @catch56 Can you confirm that such a change would ease Drupal's situation?

[2017-01-11 19:12] Haehnchen commented on #19440
@bcremer thx for this contribution

[2017-01-11 19:18] xabbuh commented on #21161
@wouterj Did you maybe find out what is the cause for this behaviour?

[2017-01-11 19:56] wouterj commented on #21161
Didn't digg into this.

This is an exception thrown in a PHPunit test listener. I think that'll make people able to recreate this behaviour and maybe find out what it is. It's happend a couple times in the CMF builds now, so I think it's a consistent bug.

[2017-01-11 21:32] #21193 closed

[2017-01-11 22:18] tkleinhakisa commented on #21217
I agree with 00:00:00 default timezone. Should the tz options be removed/deprecated ?
This looks like a bc break for people relying on the bad behavior of the choice widget

@magnetik I do it the opposite in my app: select a date and the event is active for that date no matter what the end users tz are (the event lasts more than 24h). In that case it would create failure in some case where the con

[2017-01-11 23:19] Bilge opened #21240 "[Yaml] Linter does not understand multi-line plain-style strings"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7.0

Yaml linter does not understand multi-line (lines containing `\n`) [plain-style](http://www.yaml.org/spec/1.2/spec.html#id2788859) strings.

[code]

Should parse as: `['foo bar']`. Instead gives parse error on line 2.

[2017-01-12 02:21] IanAtOcucom commented on #9233
For me the major challenge is that SessionBagInterface doesn't declare the get/set methods that all of its implementations contain, so it throws warnings in the IDE (and arguably breaks the spec)

Simply adding get/set methods would go a long way to fixing this.

[2017-01-12 04:23] xabbuh commented on #21240
Thank you for the report. Support for this feature was added in #21114 and will be available in the upcoming 3.3 release. Thus, I am closing here.

[2017-01-12 04:23] #21240 closed

[2017-01-12 04:50] xabbuh commented on #21055
Could you please check if the changes made in #21237 already fix your issue?

[2017-01-12 04:51] xabbuh commented on #21130
Does #21237 fix your issue?

[2017-01-12 04:52] xabbuh commented on #17562
@aminemat Would you like to give a try to the approach described in https://github.com/symfony/symfony/issues/17562#issuecomment-176054449?

[2017-01-12 09:31] lcobucci commented on #21055
@xabbuh yes it does 😉. Closing...

[2017-01-12 09:31] #21055 closed

[2017-01-12 10:35] HKandulla opened #21242 "Form: RepeatedType Field ignores validation if single value is passed"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

I came across a strange behaviour that looks like a bug to me. We use Symfony for a JSON API and fill the forms with arrays. When I submit an array where the password consists of an array with two keys, the validation workd f

[2017-01-12 10:46] jakzal commented on #21242
You didn't really make your password field required. Setting the `required` option to `true` [only enables client-side html5 validation](http://symfony.com/doc/current/reference/forms/types/form.html#required). You'll need to define [a list of constraints](http://symfony.com/doc/current/reference/forms/types/form.html#constraints) to validate it on the server side.

Closing as this is not a bug.

[2017-01-12 10:50] HeahDude commented on #21242
Hey @HKandulla thanks for opening this issue.

I think this is expected here, since the default validation of the repeated type only check that both values are the same.

To support your case you should use a `NotBlank` constraint, since the submitted empty string is handled as `null` converted in this case to an empty array because the type is compound.

[2017-01-12 11:00] 4rthem commented on #21130
Yes, great! Thank you @nicolas-grekas, @xabbuh!

[2017-01-12 11:00] #21130 closed

[2017-01-12 11:21] HKandulla commented on #21242
Hi @jakzal, @HeahDude thanks for your quick responses and help!

I added the constraints to the entity properties and thought the form would validate against those (which it does if the field is present/submitted, I guess).

So if I understand you/forms right, the form does validate against constraints defined on the entity properties, but only if the field (key) is present in the submitted data.

[2017-01-12 11:38] HKandulla commented on #21242
Hi @jakzal, @HeahDude,

looks like my theory is wrong. Even with NotBlank and Length(array('min' => 3)) constraints added to the form field. I can still pass and single string as password and the form validates fine (and ignores the value). Looks like I have to make sure that password contains an array with two keys before passing it to the form..

´´´
        $builder
            ->add('password'

[2017-01-12 11:52] jakzal commented on #21242
Have you tried with [first_options & second_options](https://symfony.com/doc/current/reference/forms/types/repeated.html#first-options)?

[2017-01-12 12:18] HKandulla commented on #21242
unfortunately, first_options and second_options doesn't help. If password is of type array it gets validated if it is of type string it gets ignored and validation passes.

[2017-01-12 12:30] mvrhov commented on #21217
tz on date only component was deprecated. datetime component needs it.

[2017-01-12 12:53] nicolas-grekas commented on #12302
I'm closing this one, because #20793 fixes the Symfony related part, and the remaining part is fixed by using Symfony Cache, which handles serialization failures properly (no exception, no write).

[2017-01-12 12:53] #12302 closed

[2017-01-12 12:55] roji430 opened #21245 "form filed naming isssue"
Hi,
I am new to symfony form so i am posting this question .
basically i have form with lot of field in and what i need is the form data should be in single array
for Eg:
lets suppose the form fields names  are name,username,password, etc...
and i need to get these all filed inside a array named user
likes this
`user=>{name=>'shajsdahsd,
password'=>'asdjasdh,
etc...`
so i give form filed names as

[2017-01-12 12:57] HeahDude commented on #21242
Could you please try to add `'empty_data' => array()` to the password field?

[2017-01-12 13:10] tkleinhakisa commented on #21217
I could not find any deprecation in the DateType: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Core/Type/DateType.php

Am i looking at the wrong place ?

[2017-01-12 13:28] mvrhov commented on #21217
No it's a fu*kup #12404 They are supposed to be marked as deprecated, but were directly removed. And then added back and not marked as deprecated.

[2017-01-12 13:42] iltar commented on #21245
For support questions, please join IRC (freenode.net #symfony) or join slack: symfony-devs.

[2017-01-12 14:03] Wirone commented on #20764
@nicolas-grekas I don't understand.

I have this configuration:

[code]

I have to decorate `cache.app` somewhere in my bundle's config in order to use `TagAwareAdapter`?

Shouldn't `FrameworkBundle` support this out-of-the-box?

[2017-01-12 14:29] amine-betari commented on #17013
Hi,

I created my form as a service, it works well, by cons I have a problem at the level of modification because  I used the inheritance of the forms

An idea please?

[2017-01-12 14:47] enumag opened #21247 "CurrencyBundle::getRoundingIncrement() always retruns 0"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.7

I'm solving certain issues with currencies and rounding in our system. While doing that I noticed method `NumberFormatter::roundCurrency()` which applies something called "Swiss rounding"? I'm not quite sure what it is about

[2017-01-12 14:54] HKandulla commented on #21242
`'empty_data' => array()` doesn't help either.

[2017-01-12 15:00] HKandulla commented on #21242
I added all suggestions together:

[code]

But
[code]
still validates to true

[2017-01-12 15:03] roji430 commented on #21245
Thank u @iltar

[2017-01-12 15:03] #21245 closed

[2017-01-12 15:18] chalasr commented on #21193
Would doing the same for parameters be relevant?

[2017-01-12 16:03] nicolas-grekas commented on #21193
@chalasr I don't think so. I mean, deprecating for ids has a *first* technical reason, which is doing more inlining, thus perf. For params, unless you can envision one, there is no such gain.

[2017-01-12 16:09] killerwolf opened #21249 "[Asset] Use http base_urls for non secure requests"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | 3.2.0

# RequestContextAware assets serving

The documentation [(Asset Component documentation)](http://symfony.com/doc/master/components/asset.html) states:
_HTTPs or protocol-relative URLs for HTTPs requests, any base URL for

[2017-01-12 16:12] stof commented on #21249
Register your base URL as protocol-relative.

[2017-01-12 16:45] killerwolf commented on #21249
I am using 2 different (sub)domains (one for https and one for http), so protocol relative URLs is not an option.

Is there a way to decorate these service (or package), in order to unset HTTPS endpoints from base_urls after creating sslPackage

Note: seems like this was already discussed here without any response https://github.com/symfony/symfony/issues/15244

[2017-01-12 16:49] lyrixx commented on #21197
The initial request was about declaring the configuration in another file and then referencing this file into the `config.yml` file. As I said it is already supported.

Then, it looks like there is an issue with the first `framework` key. Unfortunately it's not possible to remove it as the Config component does not work like this.

If you want, you can open a new issue about supporting "prefix" du

[2017-01-12 16:49] #21197 closed

[2017-01-12 16:55] Guikingone commented on #21197
Hi @lyrixx,

Yes, that what i saw trying to build the workflowbundle inside the SE, probably not easy but possible, the injection of the key is probably the hardest way and could cost time into the development.

For the framework, i'm still convinced that we can get rid of the framework key but that's my personal vision and i work on this way on the fork that i did, for the declaration, i'm wasn't

[2017-01-12 17:00] lyrixx commented on #21197
I'm not sure to understand, but even if you have a workflow bundle, the `workflow` key will be here.
So here we are arguing about one key, and an extra indentation of 4 spaces...

If you have something to review, I will be happy to do it ;)

[2017-01-12 17:02] javsalgar opened #21252 "Swiftmailer CVE-2016-10074"
On 25.12.2016 a security issue (CVE-2016-10074) was found in the Swiftmailer component for versions lower than 5.4.5. Is symfony affected by this issue?

More info: http://pwnscriptum.com/

[2017-01-12 17:06] stof commented on #21252
Symfony is not affected, because it does not contain the swiftmailer source code, and does not use swiftmailer.

Projects using both Symfony and Swiftmailer may be affected. But the fix is simple: they should upgrade the swiftmailer version they use (and the ``security:check`` command already knows about this CVE to warn them)

[2017-01-12 17:06] #21252 closed

[2017-01-12 17:09] Guikingone commented on #21197
The main problem wasn't about the workflow key, problem was about the framework key who's not on the right place with workflow (or the inverse, workflow should be separated from the framework key in my opinion) but yeah, for sure, once i've something who can stand, definitively gonna give you a deeper access :)

[2017-01-12 17:27] xabbuh commented on #17013
@amine-betari We do use GitHub only to coordinate the development of Symfony. Please use one of the [support channels](http://symfony.com/support) to seek for help. Thank you for understanding.

[2017-01-12 17:40] stof commented on #21197
having a prototyped array node as top-level configuration of a bundle is a bad idea, as it makes it very hard to evolve the config in a BC way in the future (thus I'm not even sure it works fine).
so even if bundles were configured by a WorkflowBundle rather than FrameworkBundle, doing this would be a bad idea:

[code]

A future-proof way for the bundle would have to be:

[code]

[2017-01-12 17:55] nicolas-grekas commented on #10486
Now that we're able to inject env vars in the config, I think we should disable delayed expansion in 4.0, thus trigger a deprecation in 3.3.
Anyone who'd like to give it a try?

[2017-01-12 18:07] sstok commented on #21252
If you want to be sure to never accidentally install a vulnerable version you can install the
https://github.com/Roave/SecurityAdvisories composer meta-package which uses the security-advisories database.

Note in the case of Swiftmailer it may actually break Composer depending on the constraints of defined dependencies, that actually indicates a much bigger problem for those packages.

[2017-01-12 18:07] xabbuh commented on #21242
Would you be able to provide a failing test case that illustrates your issue? Maybe fork the Symfony Standard Edition and add a functional test.

[2017-01-12 18:42] #21217 closed

[2017-01-12 19:57] ogizanagi commented on #21242
I was able to reproduce the issue when submitting `['password': ""]`.
It seems a `TransformationFailedException` is thrown with `#message: "Compound forms expect an array or NULL on submission."`. But the fact is that for some reasons, no error is added to the "password" compound form...

I think #20966 would solve it, at least by not considering the form valid. But still not having the error mapp

[2017-01-12 20:18] ogizanagi commented on #21242
To complete: The error mapping does not happen, because the `error_mapping` option of the form is set to `['.' => 'first]` by the [RepeatedTypeValidatorExtension](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Validator/Type/RepeatedTypeValidatorExtension.php#L28-L34).
But as the `form[password][first]` is not submitted (`form[password]`is instead, with a strin

[2017-01-12 20:28] dunglas commented on #21187
I'll wait the merge of this one because most code can be factorized.

[2017-01-12 21:12] HeahDude commented on #21242
Thanks @ogizanagi, you're right, I'm working on it ;)

[2017-01-12 22:41] nietonfir commented on #16823
@csarrazi You're totally right, I didn't think about that use case. Can't wait to see your solution. ;-) Is there anything one could help with?

[2017-01-12 23:37] keradus opened #21266 "Prevent test extending"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | n/a

Somehow related to #20493 (cc @nicolas-grekas).

Symfony project treats (which is good) it tests as internal code that should serve only this repo purposes.
It's not common, but I do saw very edge case when someone actually ext

[2017-01-12 23:43] theofidry commented on #21266
Aren't tests already excluded from the classmap by default? Having to manually register them is already a sign that this should not done.

Instead of final, we could also use `@private`, although not official, in most IDEs this prevent auto-completion to work for those classes (outside of your package).

[2017-01-12 23:44] nicolas-grekas commented on #21266
If it's not written on the BC promise page, we should mention it there. It's too much pain on the code side.

[2017-01-12 23:46] nicolas-grekas commented on #21266
"Tests" (with an "s") folders are excluded from the BC promise, that's the policy.

[2017-01-13 00:08] keradus commented on #21266
@theofidry
`@internal` instead of `@private` and all good with the annotation
excluded from classmap, but not all are using classmaps on dev envs. if one would load standard psr loader instead of classmap loader test classes will be registered.

@nicolas-grekas
I totally agree with the policy, but then one is still able to technically abuse it if he is not aware of policy in the first place. `@int

[2017-01-13 08:00] iltar commented on #21266
Related: #17749

[2017-01-13 08:43] xabbuh commented on #20764
@Wirone You can just do that in your custom service configuration: http://symfony.com/doc/current/service_container/service_decoration.html

[2017-01-13 08:49] Wirone commented on #20764
I know, I've only asked about it because I didn't believe it's not a built-in, configuration feature.

[2017-01-13 08:54] mvrhov commented on #21247
Do you have the intl installed? If not, then the symfony is using it's own implementation of en only locale.

[2017-01-13 08:54] xabbuh commented on #20764
@Wirone Ah, I misunderstood your last comment then. And indeed, for now you have to decorate this for yourself.

[2017-01-13 08:55] enumag commented on #21247
Yes I do.

[2017-01-13 09:38] yuioppooh commented on #20919
Thanks for your reply, I had thought about this method but I saw that some command in files in the vendor directory uses the call to the current kernel. So it will not work anymore for the console commands ...

[2017-01-13 09:44] Guikingone commented on #21197
Yes, definitively looking in this direction @stof, the second option is the idea that i have when trying to build the process into the WorkflowBundle.

[2017-01-13 10:32] mvrhov commented on #20919
For the cli you should pick up the host from the cli.. env
and then you run the app/console like this `HOST=example.com app/console`

[2017-01-13 11:34] stof commented on #21266
they are out of the classmap, but the PSR-4 autoloader can find them

[2017-01-13 11:37] stof commented on #21197
Well, how is the second option better than this from a config PoV ?

[code]

The only difference is the first line.

Then, saying that FrameworkBundle should not be responsible for the configuration of workflows in favor of a different bundle is a separate topic than the one you brought here (which may be a good idea for symfony/flex)

[2017-01-13 12:06] javiereguiluz commented on #21235
The community seems to agree with this. So before starting to work on this PR, we need the approval of Symfony deciders. Thanks!

[2017-01-13 12:28] tgalopin opened #21273 "[RFC] Improve tracking of environment variables in the case of private services"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes (kind of)
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.2

Recently, I stumbled upon an issue with environment variables that I had troubles to understand. Here it is:

I have two environment variables, defined in my `parameters.yml` with a default value of empty:

[code]

I

[2017-01-13 12:45] HeahDude commented on #21273
Related https://github.com/symfony/symfony/issues/20850.

[2017-01-13 13:10] lyrixx commented on #20919
I don't see the issue, it *is* the current kernel. Can you show me an example?

[2017-01-13 13:20] stof commented on #21273
/cc @nicolas-grekas

[2017-01-13 13:23] marcverney opened #21274 ""Object could not be converted to string" in UniqueEntityValidator with foreign primary keys"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.2

## tl;dr

The UniqueEntityValidator makes the wrong assumption that Doctrine's [`ClassMetaData::getIdentifierValues()`](https://github.com/doctrine/common/blob/master/lib/Doctrine/Common/Persistence/Mapping/ClassMetadata.php#

[2017-01-13 13:25] stephan-v opened #21275 "How to get the modification/creation time from a cache entry?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | x.y.z

Hi,

I have a question about using the symfony cache component  in a project of mine.

I am using the YAML decoder to decode a YAML file of mine to a PHP array. In turn, this php array is being used as the value for a cache en

[2017-01-13 13:50] nicolas-grekas commented on #21275
Symfony Cache implements PSR-6, and PSR-6 does not provide any mean to get this date back.
This means it's your responsibility to store the date as another item key.

[2017-01-13 13:54] javiereguiluz commented on #21275
@nicolas-grekas at the beginning, Symfony Cache was a strict PSR-6 implementation ... but lately we added some features and we are not PSR-6 strict. So, maybe, if we consider this a useful feature, we could add it, right?

[2017-01-13 13:55] stephan-v commented on #21275
@nicolas-grekas I was afraid so. Too bad because it would be really helpful. Thanks for taking your time to read my question!

[2017-01-13 13:58] stephan-v commented on #21275
@javiereguiluz It seems really helpful, especially since Symfony already has a YAML decoder available.

Let's say you have YAML config file that you want to cache, you would have no immediate way to rewrite to the cache after a file change to the YAML file without having the modification time.

[2017-01-13 14:08] nicolas-grekas commented on #21275
@javiereguiluz why not, but as in #19728, it'd be great to do this in coordination with others so that it ends up in the fig's hands. So, please open an RFC if you mind.
I'm closing this issue for now since it's "solved".

[2017-01-13 14:08] #21275 closed

[2017-01-13 15:04] vlahanas opened #21278 "Translation strange behavior with .yaml in 3.2.1"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | 3.2.1

Hello,
I am facing an issue with translations. I am using both .yaml and .xml files. Although when i run the
php bin/console debug:translation {locale}
command i can see all my translations, those included in .yaml files a

[2017-01-13 15:38] aitboudad commented on #21278
Can you please fork the Symfony Standard Edition and make the changes to reproduce your issue?

[2017-01-13 16:37] Aerendir opened #21281 "BUG: KNP Menu: Unable to find template "knp_menu.html.twig""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | yes/no
| Symfony version  | 2.8.16

The error appeared after upgrading composer that upgraded Symfony to version 2.8.16.
Falling back to Symfony 2.8.15 "solves" the error.

What have I to do?

[I opened this same issue on the KNP Menu repository, too.](ht

[2017-01-13 17:32] nicolas-grekas commented on #20658
Sharing my recent thought on this:

it *could* be a good idea to allow classes/objects to declare a set of services they need (in a way that the FIG/a PSR could define).
This could be as simple as making them able to declare a map of "id" => "type" that the object needs.
Eg:

'logger' => 'Psr\Log\LoggerInterface'

this meaning: please, someone, give me a container that has a service called 'logger

[2017-01-13 17:47] xabbuh commented on #21281
Can you fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2017-01-13 17:47] mnapoli commented on #20658
@nicolas-grekas I'm not sure I understand. `ContainerInterface` (aka injecting and using the container as a service locator) has proven to be useful in cases where *you don't know what you are going to `get()`*.

For example, in Zend Expressive or Slim, the router (or the dispatcher) `get()` the controller to call. The router cannot declare beforehand what entries it needs, because it's resolved a

[2017-01-13 17:53] nicolas-grekas commented on #20658
Would be great to post an excerpt of these concrete examples on the fig list, with actual code samples of how each work in the email !

[2017-01-13 18:07] mnapoli commented on #20658
@nicolas-grekas good idea it seems it could help, I'll try to find time to do that this week-end.

But to be concrete that's exactly the same thing that's done here in Symfony's router: https://github.com/symfony/symfony/blob/5129c4cf7e294b1a5ea30d6fec6e89b75396dcd2/src/Symfony/Bundle/FrameworkBundle/Controller/ControllerResolver.php#L65 (and that's just one example) I.e. in `routing.yml` you map

[2017-01-13 18:39] xabbuh commented on #19010
I am closing this issue as we won't be able to fix something in the code as long as we are unable to reproduce it.

@pawel-k-coll Feel free to comment with further information on how to reproduce your issue and we can consider to reopen.

[2017-01-13 18:39] #19010 closed

[2017-01-13 18:43] xabbuh commented on #18156
I am closing here as the related PR was rejected and it does not seem that we will change the validator in the future. Though as explained in https://github.com/symfony/symfony/pull/18428#issuecomment-225791827 one can simply create their own validator if you have a need for this.

[2017-01-13 18:43] #18156 closed

[2017-01-13 18:46] xabbuh commented on #18560
I am closing here as the simple check is indeed very limited. However, you can use the `egulias/email-validator` package together with the constraint's `strict` option to perform a more elaborated e-mail address check.

[2017-01-13 18:46] #18560 closed

[2017-01-13 18:47] xabbuh commented on #18930
@hurricane-voronin Can you explain the problem you face in more detail? What do you try to solve and why does it not work?

[2017-01-13 18:48] #20394 closed

[2017-01-13 18:50] xabbuh commented on #19937
Closing here as #20793 has been merged. Please comment with some more details if you still experience any issues.

[2017-01-13 18:50] #19937 closed

[2017-01-13 18:55] unkind commented on #20658
@mnapoli in general, I'm not sure if it makes sense to couple such services with DI-container concept (like PSR-11). See this example: https://github.com/symfony/symfony/issues/20875#issuecomment-266801911. It may be simple callable:
[code]

[2017-01-13 19:58] vlahanas commented on #21278
@aitboudad  Closing the issue, since i could not reproduce it in a clean installation of Symfony Standard Edition. Most probably i have messed-up with something in my configuration. Sorry about that...

[2017-01-13 19:58] #21278 closed

[2017-01-13 20:00] nicolas-grekas opened #21282 "[FrameworkBundle] Add new "routing.annotated_controller" service tag"
| Q                | A
| ---------------- | -----
| Feature request? | yes
| RFC?             | yes
| Symfony version  | 3.3

When one defines a controller as a service, it would be nice to be able to wire it with routing in a snap of a tag.
eg
[code]

Using this tag, the routes would be specified as annotations on the related class+methods (which means moving [AnnotatedRouteControllerLoader](http

[2017-01-13 20:11] iltar commented on #21282
You have my vote for sure! See #12915

[2017-01-13 20:33] umulmrum commented on #21281
I can confirm the problem for Symfony 3.2.2 - "solved" after downgrading symfony/symfony to 3.2.1

[2017-01-13 21:08] xabbuh commented on #21281
@umulmrum Can you describe which steps we need to do to reproduce your issue?

[2017-01-13 22:13] HeahDude commented on #21282
Although the approach in #12915 was refused, this sounds more reasonable today now that Tobion's comment is resolved and regarding the direction symfony is taking for controllers and bundless apps 👍.

[2017-01-13 22:18] umulmrum commented on #21281
@xabbuh I haven't managed yet to reproduce the issue with a fork of the standard edition.
What's a bit strange is the error message:

"Unable to find template "knp_menu.html.twig" (looked into: [my document root]/vendor/symfony/symfony/src/Symfony/Bridge/Twig/Resources/views/Form) in AppBundle::menu.html.twig at line 1."

Looks like only the form directory is considered, but I have no clue why. Po

[2017-01-13 23:01] chalasr opened #21284 "[FrameworkBundle] Move compiler passes in their component"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3

Helps when using them independently with the DI component (also giving it visibility).
The most part are unlikely to be extended as is, they can be deprecated/moved in 3.3 (wired only if the component is installed) and removed

[2017-01-13 23:44] umulmrum commented on #21281
@xabbbuh OK, it was actually quite easy to reproduce.

Just follow the instructions in the KnpMenuBundle docs to add a menu in the most simple way, and additionally set another menu template in config.yml. But what is important: The error only occurs if the KnpMenuBundle is registered AFTER the TwigBundle in AppKernel. I tend to sort things alphabetically instead of appending at the end, but didn'

[2017-01-14 07:27] #20411 closed

[2017-01-14 07:30] xabbuh commented on #14722
This should be fixed by #20411 now.

[2017-01-14 07:30] #14722 closed

[2017-01-14 08:03] ro0NL commented on #21282
I'd prefer keeping the trigger and app specific route config in `routing.yml` (prefix, enabled, etc.)

But the concept of annotated controllers as a service sounds good :+1:

[2017-01-14 08:07] mahagr commented on #20411
:+1:  Thanks for fixing this one, its a big one. It should also improve yaml parsing performance (on affected input) by a great deal.

[2017-01-14 08:32] sstok commented on #21282
I prefer to keep routes in the routing itself, using tags feels to magical and less conventional.
Unless you register them as services and then "import" those service definitions.

To automatically register routes to a pool (for manual importing) you can have a look at https://github.com/rollerworks/RouteAutowiringBundle (and it would be great if this could be moved to the Symfony framework itself

[2017-01-14 09:55] xabbuh commented on #21281
@umulmrum Thank you for your great effort to provide the failing example. It helped me a lot to reproduce your issue and work on a fix.

@Aerendir @umulmrum Could you both please check if #21285 fixes your issue?

[2017-01-14 10:15] HKandulla commented on #21242
Thanks for working on this. If I can help out, please let me know.

[2017-01-14 10:52] GDmac opened #21286 "2.8 http-kernel fixture test gives linter error, php < 7.1"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 2.8

introducing php 7.1 syntax in 2.8 (php 5.3+ compatible) makes php lint go red.
https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/HttpKernel/Tests/Fixtures/Controller/NullableController.php#L16

php 7.0 gives: sy

[2017-01-14 11:11] iltar commented on #21282
This would be nothing more than aggregating the services and then reading the annotations during cache warmup. Instead of having to guess the service id for the class based on annotation, this is probably injected during container compilation.

[2017-01-14 11:52] RichardBradley commented on #20411
You're welcome.

Do you know when I can expect a 3.2 based release which will include this fix?

[2017-01-14 12:04] dmaicher commented on #21274
Thanks for the detailed description. I was able to reproduce it and proposed a fix that is similar to what you tested.

The message can indeed get quite long now :cry: But maybe someone has a better idea...

See https://github.com/symfony/symfony/pull/21288

[2017-01-14 13:23] mahagr commented on #20411
I'm waiting for the release as much as you do :)

[2017-01-14 13:38] dunglas commented on #21284
It has already been discussed several time and I think most people agree that it's a good idea. It's in the spirit of what we try to do with 3.3 too. 👍 for me.

[2017-01-14 13:43] dunglas commented on #21282
There is several use cases for controller as a service. One can be decoupling actions form the framework. Another unrelated usage is too enable autowiring on controllers, so you can inject services without defining them in a config file.

The suggestion of @nicolas-grekas makes sense in the 2nd context. The goal is to make the framework easy to use for newcomers, not to decouple from the framework

[2017-01-14 13:59] nicolas-grekas commented on #20656
I guess this should also allow generating proxies based on abstract classes?

[2017-01-14 14:03] theofidry commented on #20656
Possibly, but I would add the support for it in a second iteration.

[2017-01-14 16:33] javiereguiluz commented on #21284
👍  it makes a lot of sense to me and I can't see any drawback so far.

[2017-01-14 16:38] javiereguiluz commented on #21286
It's true that the class uses PHP 7.1 syntax, but if you look into the three tests that use it:

* src/Symfony/Component/HttpKernel/Tests/ControllerMetadata/ArgumentMetadataFactoryTest.php
* src/Symfony/Component/HttpKernel/Tests/Controller/ArgumentResolverTest.php
* src/Symfony/Component/HttpKernel/Tests/Controller/ControllerResolverTest.php

You'll see that all of them includes the `@requires PH

[2017-01-14 16:50] ro0NL commented on #21284
See also #20250 where the approach is to make special names configurable (imo. this is nice for the component part of it).

However the console passes were merged anyway (https://github.com/symfony/symfony/pull/19443#issuecomment-255525343), so im curious about the general approach here..

Not doing it, means the pass is pretty much useless for people wanting to do different naming. Which raises t

[2017-01-14 17:01] javiereguiluz commented on #21215
Closing it as "impossible to fix" ... documenting this behavior in https://github.com/symfony/symfony-docs/pull/7363

[2017-01-14 17:02] #21281 closed

[2017-01-14 17:03] fabpot commented on #21284
I think it makes sense. Let's do it.

[2017-01-14 17:05] fabpot commented on #21286
You probably need to exclude the `vendor` directory from being inspected by Netbeans. In any case, there is nothing we can do in Symfony itself.

[2017-01-14 17:05] #21286 closed

[2017-01-14 17:13] chalasr commented on #21215
Hmm, solving the issue of having empty strings when quotes are specified involves to loose `null` values when it make sense thus cannot be solved without refactoring.
However #21228 fixes a real issue about the impossibility to know if an option was set without/with an empty value, which is I think what Fabien meant at first.

Think about our first issue with the `--prefix` option, the first fix m

[2017-01-14 17:32] chalasr commented on #21284
@fabpot See #21283 for the Form.

[2017-01-14 17:37] xabbuh commented on #20411
Since the last patch releases have just been released two days ago you will have to wait for about four weeks for the next releases.

[2017-01-14 17:45] chalasr commented on #21284
@ro0NL Outside of the special name handling, having passes in the components make the DI component and the whole tagging feature discoverable/available when using the component standalone.

About the special name handling, the feature could be added in a next time (sure, not passed through the constructor), moving passes will at least give the idea of using the DI component for achieving such need

[2017-01-14 17:52] ro0NL commented on #21284
:+1: for as is moving to the components... just mentioning different approaches already :)

There was also discussion about some generic approach, i can imagine we can simplify some passes with a

[code]

Perhaps something to look into.

[2017-01-15 11:08] GDmac commented on #21286
@javiereguiluz phpunit is not the issue, that runs fine. It is the linter in de editor / IDE that is problematic.

@fabpot ignoring vendor is not a good option, it would ruin any navigation and code hints by the IDE.

Can the NullableController be set to a more compatible syntax ?
[code]

Not every studio / project is on bleeding edge PHP 7.1.
This is for Symfony 2.8, which still supports PHP 5,
A

[2017-01-15 12:24] roji430 opened #21297 "symfony form label attribute 'for' not changing according to form_widget 'id' change while passing through template"
i am rendering a form containing form fields in symfony in my template i am doing rendering the form part by part like this ` {{- form_label(form.category,'Categoryname',{ 'label_attr' : {'class': 'control-label','for':'Cname'}}) -}}
 {{- form_widget(form.category,{ 'attr': {'class': 'form-control col-md-10','max-length':55},'label': 'Category name','required':true,'id':'Cname' }) -}}`

but 'id' o

[2017-01-15 12:45] sstok commented on #21222
👍 for `--auto-wired` option.

OT.

git-bash works, I actually used that all the time when doing development. Cmd is not as powerful and ConEmu with Bash, and PowerShell was to new to me.

Only problem is the paths, oh Windows when will adapt to the POSIX filesystem naming.

And else pass the output to a file and and use an editor to search :trollface:

[2017-01-15 12:50] ro0NL commented on #21297
You should not set the ID attribute yourself, it's under debate though :) https://github.com/symfony/symfony/issues/20965#issuecomment-267764478

I believe you can access the generated id via `form.category.vars.id`.

You should really checkout the support channels at https://symfony.com/support as this is not really the place to do so.

[2017-01-15 13:24] xabbuh commented on #21286
@GDmac There is a difference between scanning the code to be able to provide auto-completion information and complaining about potential incompatibilities beefier of features not available because of older PHP versions. And this fixture was precisely added to ensure that the SUT does not break support for PHP 7.1 features.

[2017-01-15 14:13] Simperfit commented on #21284
👍

[2017-01-15 15:43] thomasez commented on #20748
There it is.

composer update && ./bin/console --env=prod -v cache:clear

Should be enough. No need to create a database.

[2017-01-15 15:58] roji430 commented on #21297
@ro0NL so you are telling that i should not set the id attribute via 'attr' ,but what  if i need custom id so that my java script can work with out any problem

[2017-01-15 16:10] ro0NL commented on #21297
You can pass it right? `document.getElementById('{{ form.field.vars.id }}')`

Or select elements by class name or so..

[2017-01-15 16:10] thomasez commented on #20748
Hmm, I removed jms/security-extra-bundle and the issue goes away.

I presume this can be dropped as a symfony bug and rather report this on the specific bundle.

[2017-01-15 16:44] #21174 closed

[2017-01-15 19:52] umulmrum commented on #21281
@xabbuh I merged 2.7 into 3.2 locally and the problem is gone. Thanks for the really quick fix!

[2017-01-15 20:52] chalasr opened #21299 "[DI] ClosureProxyArgument: Definition could not be converted to string"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no (it'll be when 3.3 released)
| RFC?             | no
| Symfony version  | 3.3

I just ran into the following:

  Catchable Fatal Error: Object of class Symfony\Component\DependencyInjection\Definition could not be converted to string

 () at /Volumes/HD/Sites/tests/closure-pro

[2017-01-15 21:01] mattab commented on #14716
fyi you can add helper method to do this yourself, [as we do in @Piwik](https://github.com/piwik/piwik/blob/3.x-dev/core/Plugin/ConsoleCommand.php#L33-L45)

[code]

[2017-01-16 10:44] javiereguiluz commented on #19462
Closing it because of the lack of feedback and because we haven't received any similar reports.

[2017-01-16 10:44] #19462 closed

[2017-01-16 10:45] javiereguiluz commented on #19821
Closing it as fixed by #21054.

[2017-01-16 10:45] #19821 closed

[2017-01-16 11:04] slootjes commented on #21213
I just had the same issue but with the "open" method indead. The solution to restart the webserver worked for me which let's me think it is related to a faulty opcache somewhere.

Symfony 3.2.1, PHP 7.0.8, Apache 2.4.18

[2017-01-16 11:11] fleskalebas commented on #21213
Last week I downgraded to PHP 7.0.14 but issue occured again.
Opcache sounds like a good 'cause'. Maybe combination PHP + Opcache + Apache + Windows?

My Opcache settings:

[code]
Rest is default.

[2017-01-16 11:50] jpetitcolas opened #21302 "DOMCrawler: removing extra break lines and spaces?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.1.7

We are currently implementing a functional test, testing content of the following code:

[code]

We need to test content of the `.availability` element. Hence, we use something like:

[code]

However, as there are some line

[2017-01-16 13:01] nicolas-grekas commented on #21266
To help move on, I'm :-1: here. The amount of work + maintenance burden this is going to put on use is not worth it IMHO.

[2017-01-16 13:05] nicolas-grekas commented on #21170
I'd be -1 for magic format conversion on the header side.
For rendering exceptions as text, there is #18722 (needs to be reviewed thought).

[2017-01-16 13:07] nicolas-grekas commented on #20988
signal "11" means segfault, means PHP bug, we can't do anything about it I think.

[2017-01-16 13:11] nicolas-grekas commented on #20538
@niels-nijens would you be able to submit a PR that fixes/adds the feature you're missing, like this "interactive-mode" you're thinking about?

[2017-01-16 13:12] nicolas-grekas commented on #20517
@teohhanhui @Oliboy50 could you please tell us if you're warming up the cache while the server is running? Are your clearing the cache beforehand? How? Can you describe your deployment process so that we can figure out how the race condition is met a bit?

[2017-01-16 13:35] mandelaloko commented on #4067
Nice!

[2017-01-16 13:44] Oliboy50 commented on #20517
@nicolas-grekas we use Capistrano as our deployment system, therefore the whole project is built (along with the cache) in a separate directory then, if everything worked fine, the symlink is updated to point to the new project sources

[2017-01-16 13:52] xabbuh commented on #20924
@jlamur Sorry for not responding earlier. New features and deprecations should always target the `master` branch.

[2017-01-16 13:55] teohhanhui commented on #20517
It was `rm -r var/cache/*` followed by `composer install ...`. (Basically
Symfony's composer post-install script defaults to `--no-warmup` when doing
the `cache:clear`.) It's in a Docker volume. Symlink is not used.

So, sometimes (very rarely?) the error I described above happens on the
first page load, but I'm not sure how to reproduce.

On Mon, 16 Jan 2017, 21:13 Nicolas Grekas, <notifications@

[2017-01-16 14:20] skalpa opened #21304 "[Debug] ErrorHandler::setLoggers() fatals if a buffered exception is not an ErrorException"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

If the bootstrapping logger is buffering an exception that does not extend `ErrorException`, calling `ErrorHandler::setDefaultLogger()` or `ErrorHandler::setLogger()` results in `Fatal error: Call to undefined method \Foo\Exc

[2017-01-16 14:40] mrsuh opened #21305 "Custom Expression Language function not working in @Security annotation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.9

AppBundle\ExpressionLanguage\ExpressionLanguageProvider;
[code]

services.yml
[code]
AppBundle\Controller\MyController;
[code]

**Error**: The function "test" does not exist around position 1.

[2017-01-16 14:47] nicolas-grekas commented on #21304
Would you like to submit a PR against branch 2.8 where the class has been introduced?

[2017-01-16 15:35] sc0rp10 opened #21307 "[Routing] Why pathname decodes before matching?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes

I'm using Silex 2.0 have route `/{uri1}/{uri2}` and uri ```/http%3A%2F%2Fhttpbin.org%2Frobots.txt/http%3A%2F%2Fhttpbin.org%2Frobots.txt```
I expect next parameters in route:
[code]
But I got false. If I add regex advice `.+` to both placeholders, I see

[code]
In the `UrlMatcher::match` I see `$this->matchCollection(rawurl

[2017-01-16 15:41] yapro opened #21308 "How to log php errors on production environment"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 2.8.11

Start to install my vendors:
[code]
Check problems:
[code]
Clear all cache:
[code]
Warmup my cache:
[code]
Execute my command:
[code]
As can you see, I see the error in output but I don`t see the error in my log file. My se

[2017-01-16 15:46] javiereguiluz commented on #21308
I'd say that's the expected behavior ... but others will confirm or deny this.

[2017-01-16 15:56] javiereguiluz commented on #21302
This was proposed, and rejected, a few years ago in #11470. Two methods were proposed: `trim()` and `flatten()` (the last one is what you are asking for in this issue).

I still think it'd be a good idea. Let's ping @symfony/deciders to see if they've changed their opinion about this. Thanks!

[2017-01-16 15:58] keradus commented on #21266
I do not find this argument valid. Could be done automatically and only for newest line (to not cause merging issues)

[2017-01-16 16:01] fabpot commented on #20988
I had the same issue with non-final releases of PHP 7.1, but not anymore since 7.1.0 final. @xiangjihan Can you confirm?

[2017-01-16 16:09] chalasr commented on #21308
Since 3.2 there is a [`framework.php_errors.throw`](http://symfony.com/doc/current/reference/configuration/framework.html#throw) option which could surely help (not sure), but for 2.8 I'd say there's nothing wrong too

[2017-01-16 16:09] skalpa commented on #21304
Sure, I'll do this shortly.

[2017-01-16 16:15] fabpot commented on #21266
I'm also against this change.

Tests are internal by definition. If people want to reuse some `*TestCase` classes not under the `Test/` directory (not that no `s` at the end), they are on their own.

Mentioning this in our BC promise is indeed a good idea. Marking all tests as internal and final is not IMHO.

[2017-01-16 16:53] #21274 closed

[2017-01-16 17:03] keradus commented on #21266
so, it is a matter of kindly asking vs forbidding on code level ;)

[2017-01-16 18:27] nicolas-grekas commented on #21299
can you please try this patch?
[code]

[2017-01-16 18:47] nicolas-grekas commented on #21273
@tgalopin would you mind trying this patch, and if it works, open a PR with a test case?
[code]

[2017-01-16 18:55] chalasr commented on #21299
I was right to report... the fix is far simpler that what I had in mind,  thanks!
See #21312 :)

[2017-01-16 20:26] yceruto commented on #15534
I'm migrating a project from Symfony2 to Symfony3 with the same problem, any suggestion about this?

Status: Reviewed

[2017-01-16 20:55] #21304 closed

[2017-01-16 21:18] tgalopin commented on #21273
I will do this week-end.

[2017-01-16 22:16] rafa0809 commented on #19532
Adding more info about this problem. Look at this code:

`
// File tests.bootstrap.php launched before PHPUnit tests
<?php

if ( isset($_ENV[ 'BOOTSTRAP_CLEAR_CACHE_ENV' ]) ) {
    echo '    >Running clear cache & load fixtures: DOING' . PHP_EOL;
    passthru( sprintf(
        'php "bin/console" cache:clear --env=%s --no-warmup --quiet',
        $_ENV[ 'BOOTSTRAP_CLEAR_CACHE_ENV' ]
    ) );
    if

[2017-01-17 00:55] reypm opened #21316 "Web Profiler throws 404 error on new Symfony 3.2 running in a Docker stack"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

I am starting a new application and I decide to use Docker for development since it's faster and easy to use. I have build my own stack running Centos 7 with Supervisord, Apache/2.4.6, PHP 7.1.0 and MySQL 5.7.17. The stack is

[2017-01-17 08:30] Chi-teck opened #21317 "[Console] Options are not recognized if command name is not specified"
Q                | A
 ---------------- | -----
 Bug report?      | yes
 BC Break report? | no
 Symfony version  | 3.2.0

It happens when default command is configured. So that  `php app.php app:foo --bar example` works fine but `php app.php --bar example` returns _CommandNotFoundException_ exception "Command "example" is not defined. ".

[2017-01-17 08:36] stof commented on #21317
this is known (and documented IIRC). There is nothing we can do here in a BC way.

[2017-01-17 08:37] zerkms commented on #14716
@mattab a minor issue in your code: the `empty` in the condition would cause the false negatives when the value passed is `'0'`

[2017-01-17 08:44] javiereguiluz commented on #21316
I'm sorry but I must close this issue. For now, it looks like a support question. When this is confirmed as a Symfony bug (or there's a stronger suspicion about that) we can reopen it. Thanks for understanding it.

There are a lot of Symfony developers using Docker and Symfony 3.2, so this can't be a general problem. In addition to StackOverflow, you can also consider using the `#support` channel

[2017-01-17 08:44] #21316 closed

[2017-01-17 08:45] javiereguiluz commented on #21317
@stof do you consider this a bug to be fixed in 3.3 ... or "a broken feature" that won't be fixed? Thanks!

[2017-01-17 08:47] xabbuh commented on #21317
@javiereguiluz IIRC there were bug reports in the past and we came to the conclusion that this isn't something that could be fixed without breaking backwards compatibility.

[2017-01-17 08:53] xabbuh commented on #21317
And @stof is right that we talk about this limitation [in the documentation](http://symfony.com/doc/current/components/console/changing_default_command.html):

[2017-01-17 08:54] javiereguiluz commented on #21317
@xabbuh thanks for the info. But I still don't know if this is a known bug that won't be fixed until 4.0 ... or a known limitation that will never be fixed.

[2017-01-17 08:57] javiereguiluz commented on #15203
@unkind I'm sorry but I must close this as "won't fix" because at least 3 Core Team members are against it. Luckily, since this issue was open, Symfony added a new Cache component that could be used to store those large parameters.

[2017-01-17 08:57] #15203 closed

[2017-01-17 09:45] stoccc opened #21319 "[Security] LdapUserProvider should not be aware of user password"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8

Steps to reproduce the bug.
1. Configure auth with form_login_ldap in security.yml (see http://symfony.com/doc/2.8/security/ldap.html#configuration-example-for-form-login)
2. Configure the default LDAP user provider (see http:/

[2017-01-17 10:29] mattab commented on #14716
Good spotting @zerkms - pull request welcome :-

[2017-01-17 12:50] Guikingone commented on #21197
The first problem was about the workflow key who's located on the config.yml file, in my opinion, that's a bad idea for future evolutions and dev process, it put too much config key into one file, like @lyrixx says, you can put the key into a separate file and inject this last one into the config.yml.

Even if it's a good idea for "dispatching" the logic injected into config.yml, that's a bad idea

[2017-01-17 15:08] #20486 closed

[2017-01-17 15:28] javiereguiluz commented on #17957
Should we close this issue as "fixed" ?

1) The mentioned doc has already been updated since this report: http://symfony.com/doc/current/bundles/override.html#services-configuration

2) The constructor of `DataCollectorTranslator` already makes a check about the translator class:

[code]

[2017-01-17 16:12] jean-pasqualini opened #21321 "Remove feature auto_alias because it is not fully implemented"
Original pull request : https://github.com/symfony/symfony/pull/12526

@wouterj @xabbuh @nicolas-grekas @fabpot

The feature implement the CompilerPass AutoAliasServicePass see https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Compiler/AutoAliasServicePass.php

Unfortunately it has never been wired. So it is not available in symfony.

Why do we keep this feat

[2017-01-17 16:21] stof commented on #21321
We cannot remove it, because the compiler pass may be wired by other projects using the component (I'm quite sure Drupal 8 wires it, as they were the one requesting it)

[2017-01-17 16:29] javiereguiluz commented on #20403
@tsantos84 although I like your proposal ... the implementation would be impractical for the reason explained by @derrabus. That's why I must vote :-1: to this proposal.

[2017-01-17 16:31] javiereguiluz commented on #20454
@khaninejad could you please provide more information about the `.vtt` extension?  I can't find it in [the official list of MIME types and extensions](http://www.iana.org/assignments/media-types/media-types.xhtml).

[2017-01-17 16:34] fabpot commented on #21321
Indeed, we added it for Drupal even if we are not using it directly.

[2017-01-17 16:34] #21321 closed

[2017-01-17 16:40] khaninejad commented on #20454
Sure.
*WebVTT* is a format for displaying timed text tracks (such as subtitles or
captions) using the <track>
<https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track> element.
https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API
On Tue, Jan 17, 2017 at 8:01 PM Javier Eguiluz <notifications@github.com>
wrote:

[2017-01-17 16:41] stof commented on #21197
well, each bundle has its own top-level config key. So using a different top-level key requires putting things in a separate bundle (which also has drawbacks).

[2017-01-17 16:48] Tobion commented on #21307
You cannot just match the raw URI as it could also have encoded versions of unreserved chars like `a`. This wouldn't match anymore but should be considered equal. So what would be needed is decoding depending on if its a reserved or unreserved char.
But the routing component does not distinguish between slash and encoded slash for historical and security reasons. There are already multiple issues

[2017-01-17 16:49] twoleds opened #21322 "[TwigBundle] [Form] Problem with twig warmer and form templates"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.*

Twig warmer doesn't warm up templates for the form component. We use read-only file system on production and we have problem with the missing templates.

The form templates are in non-standard path: `src/Symfony/Bridge/Twig/R

[2017-01-17 16:55] javiereguiluz commented on #20748
Closing it as per @thomasez comments. @iltar if you think we should do what you proposed in https://github.com/symfony/symfony/issues/20748#issuecomment-264787130 please create a new issue. Thanks!

[2017-01-17 16:55] #20748 closed

[2017-01-17 17:26] xabbuh commented on #21322
Couldn't we do that [in the extension](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php#L92)? And shouldn't we also add the paths discovered from other bundles here too?

[2017-01-17 17:46] chalasr commented on #21215
This should be reopened :)

[2017-01-17 19:18] twoleds commented on #21322
I tried to do that in the extension and it works, but I want to keep warming the templates only if the `form.extension` is enabled and I cannot check it in the extension because the service isn't available there. But if it isn't big problem with warming the templates when the extension is disabled, we can do it in the extension.

[2017-01-17 20:46] tsantos84 commented on #20403
Hi @javiereguiluz and @derrabus, I agree with you both although I thought about make it configurable in framework bundle, so we can enable/disable this feature on demand.

[2017-01-17 22:06] ChadSikorra commented on #21319
Yeah, that would be a problem. Each time the user is refreshed from the LdapUserProvider, if it pulled the password attribute initially (and it contained something), it would invalidate the user in the authentication provider as the old and new user object passwords will not match. That's my understanding of this issue anyway. Maybe I'm overlooking something?

[2017-01-18 05:26] #21299 closed

[2017-01-18 05:46] #19297 closed

[2017-01-18 05:50] estahn opened #21328 "[LDAP] Update throws "Constraint violation""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

When fetching an entry from the ActiveDirectory server and then immediately saving it again, we see the following error:

[code]

If using only certain attributes, e.g.

[code]

It will succeed.

So pushing the entire LDAP en

[2017-01-18 08:53] stoccc commented on #21319
@ChadSikorra
I think you got exactly the problem.

[2017-01-18 09:22] javiereguiluz commented on #20454
We're trying to fix this in #21329. Let's wait and see if they accept it!

[2017-01-18 10:02] niels-nijens commented on #20538
@nicolas-grekas Sure! I might be able to create a first attempt this weekend.

[2017-01-18 10:05] nicolas-grekas commented on #20538
Please keep in mind that we'd prefer as less public/protected exposure as possible :)

[2017-01-18 11:28] javiereguiluz commented on #16541
Closing it as fixed by #19552 where we added `JsonResponse::fromJsonString()`

[2017-01-18 11:28] #16541 closed

[2017-01-18 11:50] maff opened #21330 "[Cache] TagAwareAdapter in combination with lifetime can return items with invalidated tags"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

When using the `TagAwareAdapter` in combination with an adapter with a default lifetime set it is possible to have the cache return previously invalidated items. See the example below:

[code]

Technically it is not a bug as t

[2017-01-18 12:55] magarzon commented on #20398
Why don't have the same for the JsonEncoder (or any encoder)?

[2017-01-18 13:11] dunglas commented on #20398
Not yet.

[2017-01-18 13:21] magarzon commented on #15171
@IndraGunawan the feature was in development by @dunglas in #15200, but was close in favor of #18016, that for me is not the same

[2017-01-18 14:09] stof commented on #15171
@magarzon #15200 was not mergeable, due to breaking BC.

[2017-01-18 14:34] xabbuh commented on #21330
I do not understand your issue. Why should the last fetch be a hit if you invalidated all items tagged with `baz` before and didn't save the item again afterwards?

[2017-01-18 14:39] maff commented on #21330
Sorry if the example may be misleading. The assert fails, so the item IS a hit again (`isHit()` returns true).

[2017-01-18 15:02] nicolas-grekas commented on #21330
ping @Nyholm : could lead to a nice test case for our shared test suite.

[2017-01-18 15:16] #20454 closed

[2017-01-18 15:29] PatrickBauer opened #21337 "[Console] v. 2.8.16 - undefined Outputformatter::escapeTrailingBackslash()"
After updating from symfony/console 2.8.15 to 2.8.16 the following error message appears while using the Drupal console:

`Error: Call to undefined method Symfony\Component\Console\Formatter\OutputFormatter::escapeTrailingBackslash() in Symfony\Component\Console\Helper\SymfonyQuestionHelper->writePrompt() (line 57 of /Users/patrickbauer/Sites/vs_root/vendor/symfony/console/Helper/SymfonyQuestionHe

[2017-01-18 15:37] xabbuh commented on #21337
The method is there: https://github.com/symfony/symfony/blame/2.8/src/Symfony/Component/Console/Formatter/OutputFormatter.php#L50

Do you maybe have to clear your Opcache?

[2017-01-18 15:42] nicolas-grekas commented on #21330
See #21338

[2017-01-18 15:54] PatrickBauer commented on #21337
As far as I know, Opcache is disabled for CLI scripts, isn't it?
I wouldn't know how to empty it right now, but I saw the following error in PhpStorm at the given line:

![symfony-trailingbackslash](https://cloud.githubusercontent.com/assets/1428943/22071198/b8519b1e-dd9e-11e6-96c8-f209d9a2a4a2.jpg)

[2017-01-18 16:08] stof commented on #21337
depends on your config in php.ini

yeah, PhpStorm complains about any usage of internal code. It is not smart enough to detect that the usage is in the same package than the definition (and if symfony/console was not allowed to use its own internal code, there would be no point having it)

[2017-01-18 16:51] stof commented on #21337
Can you show the output of ``composer show 'symfony/*'`` ?

[2017-01-18 16:54] PatrickBauer commented on #21337
Sure. The system we're using is Drupal 8 with the Drupal Console.

[code]

[2017-01-18 16:58] stof commented on #21337
hmm, does Drupal embed its own version of the symfony/console component somewhere, or is everything managed by composer ?
I'm wondering whether it is possible that a second version of the component code may live in your project (and having OutputFormatter being loaded from this other version which would not have the internal method)

[2017-01-18 17:02] PatrickBauer commented on #21337
As far as I know everything is managed through composer (as long as one uses https://github.com/drupal-composer/drupal-project).

There is no other OutputFormatter in the project files, see:

![outputformatter](https://cloud.githubusercontent.com/assets/1428943/22074320/4376f226-dda8-11e6-8dea-977f128488e1.jpg)

[2017-01-18 17:11] antanas-arvasevicius opened #21339 "[FrameworkBundle] CachePoolClearerPass fails if "cache.annotations" service is created"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.0-dev

Using Symfony 3.3.0-dev + "jms/di-extra-bundle": "dev-master" got an error:

  [Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
  You have requested a non-existent service "cache.annotations".

P

[2017-01-18 17:23] stof commented on #21339
The issue is that ``has()`` does not guarantee that there is a definition (it may be an alias too).

Btw, instantiating a service does *not* remove the Definition object

[2017-01-18 18:04] maff commented on #21330
Thanks for the quick response!

[2017-01-18 18:47] ogizanagi commented on #21317
I think it'll never be fixed. But it can be solved in userland, using a foolish workaround like the following (with some limitations too...):

[code]

[2017-01-18 19:26] antanas-arvasevicius commented on #21339
Hi,
it does! Look at https://github.com/symfony/dependency-injection/blob/master/ContainerBuilder.php#L377  it removes definitions when they are instantiated and assigned to container.

Changing `has()` to `hasDefinition()` maybe fix the problem, but still, "cache.annotations" service configuration will be different when some previous compiler pass instantiates that before CachePoolClearerPass rew

[2017-01-18 20:05] antanas-arvasevicius commented on #21339
Related: https://github.com/symfony/symfony/commit/24c40e0d22120bfd63b4a1fa868a756438a55c12

[2017-01-18 21:36] lebedevsergey commented on #21308
For me it is a real problem as the project I participate in use Symfony 2.8 and logging is vital for us. And in some situations we don't have error mesage into our logs and try to catch bugs without logged information - that can be very difficult.

[2017-01-19 01:54] xiangjihan commented on #20988
@nicolas-grekas I think this is a Zend Engine with class_exists, but  I  do not know debug with the core dump file.

[2017-01-19 02:08] xiangjihan commented on #20988
@fabpot It occured when I was using PHP7.1.0 by remi repo. Then I  degrade PHP to 7.0.14. Now I am ready to upgrade php to 7.1.1 by remi, And try again.

[2017-01-19 03:51] yceruto commented on #15534
I leave here my solution in case someone needs it, I'm not completely sure if it's correct way, but at least it works as I expect.

[code]
[code]

[2017-01-19 04:07] behram commented on #21229
probably you can use twig `attribute` function.

Related link;
 - http://twig.sensiolabs.org/doc/2.x/functions/attribute.html

[2017-01-19 07:29] antanas-arvasevicius commented on #21339
@stof looks you've been right, don't know how "cache.annotations" disappears from container definitions? Can be found in AnnotationConfigurationPass but on in CachePoolClearerPass

[2017-01-19 07:30] joelrotelli commented on #21337
@PatrickBauer Same problem here with drupal-composer

[2017-01-19 08:17] xabbuh commented on #21337
Could one of you push an example project to GitHub that would allow us to reproduce your issue?

[2017-01-19 08:19] xabbuh commented on #21229
@jacoz Can you please provide the information @stof asked for? Otherwise we cannot really help you.

[2017-01-19 08:35] modestguy commented on #21308
Agree with topicstarter. Seems like a bug.

[2017-01-19 08:38] PatrickBauer commented on #21337
You could use https://github.com/drupal-composer/drupal-project, install Drupal Console and use the "drupal site:install" command.

In the meantime there was another issue to be found here, with a possible fix (didn't try it yet):
https://github.com/hechoendrupal/drupal-console/issues/3100

[2017-01-19 08:41] n1x0id commented on #21308
Fix please, it is vitally important to me

[2017-01-19 08:56] undercloud opened #21340 "Non-blocking external processes using Process Component"
Hi! Just little question:)
Can I create non-blocking process  using https://symfony.com/doc/current/components/process.html
I need something like this
http://stackoverflow.com/questions/1019867/is-there-a-way-to-use-shell-exec-without-waiting-for-the-command-to-complete
Or I need to specify options for  each platform e.g ``` /dev/null 2>/dev/null & ```?

[2017-01-19 09:12] stof commented on #21340
You can start a process without blocking the main process using ``$process->start()``. But you cannot make the process outlive the PHP process (unless maybe using ``/dev/null 2>/dev/null &`` but I'm not sure it works fine).

When pcntl is available (which is never the case on windows), there is a trick to do this by forking the PHP process, so that the main PHP process can stop, and the forked pro

[2017-01-19 09:15] xabbuh commented on #21337
@PatrickBauer Thanks for the feedback and linking the related issue. I am closing here as this should indeed be fixed the linked PR. Please leave feedback here if the fix in Drupal does not solve your issue.

[2017-01-19 09:15] #21337 closed

[2017-01-19 09:37] lyrixx commented on #21308
For older version of symfony you can use this:

[code]
+ the following lines in your `config.yml`

[code]

[2017-01-19 10:08] Bavragor commented on #19441
Confirmed it also 👍

[2017-01-19 11:10] severak opened #21343 "Happy guy on exception pages"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             |  no
| Symfony version  | 2.x + 3.x

Hi, this little guy at Symfony error page seems to be happy that Exception occured:

![screenshot379](https://cloud.githubusercontent.com/assets/615685/22104451/7bf9eef4-de3f-11e6-8396-7806bda2a856.png)

**This is compl

[2017-01-19 11:15] jenkoian commented on #21343
How about a confused John Travolta? (https://github.com/jolicode/GifExceptionBundle)

![](https://raw.githubusercontent.com/jolicode/GifExceptionBundle/master/Resources/public/images/404/confused-travolta.gif)

[2017-01-19 11:23] javiereguiluz commented on #21343
@severak thanks for your proposal. However, I must close this as duplicated because we are already redesigning the exception pages in #20951. Thanks!

[2017-01-19 11:23] #21343 closed

[2017-01-19 11:33] javiereguiluz commented on #21060
Closing it as fixed by #21303.

[2017-01-19 11:33] #21060 closed

[2017-01-19 11:38] javiereguiluz commented on #19895
I agree with Fabien. Using "igbinary" automatically when it's available on the server feels too magic for Symfony. It'd be better to add a config option to enable this feature explicitly.

[2017-01-19 11:42] javiereguiluz commented on #16224
I'm sorry but I must close this issue because of the lack of feedback from the community. We didn't receive any issue report related to this either, so maybe this is a very edgy case.

In any case, if checking the JSON validity is critical for your app, you can do that beforehand and then use the new `return JsonResponse::fromJsonString($jsonContents);` shortcut?

If you disagree with our response

[2017-01-19 11:42] #16224 closed

[2017-01-19 12:06] #21340 closed

[2017-01-19 12:11] stof commented on #21340
btw, forking the process with pcntl as done in server:start is probably a very bad idea in non-CLI processes.

[2017-01-19 13:07] undercloud commented on #21340
In my case, I use CLI

[2017-01-19 14:23] javiereguiluz commented on #20130
If Symfony is going for bundle-less apps (I don't know if this is correct!) then it may be better to always  include the `Bundle` suffix to better differentiate *"my app stuff"* and *"third-party bundles stuff"*.

In any case, the decision should be one of the following:

1. Keep the `Bundle` suffix in Twig namespaces to match the rest of syntaxes
2. Remove the `Bundle` suffix everywhere to match

[2017-01-19 16:20] stof commented on #20130
Regarding controllers, we are not using ``@.../`` currently, but ``...:``, so I don't think we need to force consistency here (removing the Bundle suffix and adding ``@`` would still not make it look the same). Changing the convention here would be a BC break for the sake of breaking BC, which is not worth the effort for the community IMO.

And regarding resources, I don't think we need to push fo

[2017-01-19 18:35] HeahDude commented on #21297
@roji430 You can customize the form view using `buildView()` or `finishView` in your form type:
[code]
or override the form theme of your field to define the needed html with the proper id and html attributes.

Anyway we should close here IMHO, since this is expected and unlikely to change as said in #20965 (to avoid weird side effects).

[2017-01-19 18:51] #21330 closed

[2017-01-19 20:03] antanas-arvasevicius commented on #21339
"cache.annotations" definitions is removed when `DependencyInjection/Compiler/DecoratorServicePass.php:64`  calls `$container->setAlias('cache.annotations', new Alias('cache.annotations.recorder', false));`
Here: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/ContainerBuilder.php#L643

And then `RemovePrivateAliasesPass` removes an alias to "cache.annotati

[2017-01-19 20:18] ogizanagi opened #21349 "[SecurityBundle] Tests segfaults with php 7.1.0 on OS X 10.12.2"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3 (master)

For some reasons, since 7497f1c, using php 7.1.0 (built: Dec  2 2016, Liip PHP OS X 10.12.2), I get segmentation faults when executing tests on the `SecurityBundle`:

[code]

There are actually many tests triggering a

[2017-01-19 20:18] nicolas-grekas commented on #21339
For reference, that's on purpose: the goal is to *not* block the removal of private pools when they are just injected in the clearer.

[2017-01-19 20:23] nicolas-grekas commented on #21349
Ping @jpauli
General note: segfaults are PHP bugs, not Symfony's

[2017-01-19 20:23] chalasr commented on #21349
Same on my side (OSX 10.11.6, PHP 7.1.0)

[2017-01-19 20:31] antanas-arvasevicius commented on #21339
I don't get it, why CachePoolClearerPass trying to get definition of "cache.annotations" if it is actually an alias which get removed in RemovePrivateAliasesPasss and this is called first.
And actually real definition is "cache.annotations.recorder" which I think should be modified in CachePoolClearerPass then it make sense
Now passes call sequence is: `RemovePrivateAliasesPass  -> CachePoolCleare

[2017-01-19 20:34] #21297 closed

[2017-01-19 22:19] chalasr opened #21351 "[DI][Autowiring] Resolve ambiguous dependency when it is decorated"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

If a service is decorated and the decorator doesn't set the `autowiring-type` explicitly, then it is judged as ambiguous by the AutowirePass, for example:

[code]
[code]
Gives:

  Unable to autowire argument of type "Symfony\Co

[2017-01-19 22:40] nicolas-grekas commented on #21339
I mean: changing the order of compiler passes is going to affect all pools. The fix needs to affect only the cache.annotation related issue.

[2017-01-20 11:10] Loupax opened #21355 "StreamedResponses send response to stdout before $response->send() is called in app.php"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

Steps to reproduce:

1. Create a controller that returns a StreamedResponse and create a route to it.
For example

[code]
2. Change your webapp entry point file to look something like this.

[code]

3. Visit your new URL and

[2017-01-20 13:09] Soullivaneuh commented on #17935
I quite agree with @wouterj. Adding a `form_javascript` tag does not mean we manage javascript, but we let the possibility to the bundle maintainers and the devs to add some JS definition to form types options.

As you can see, many bundles are doing this with the same way and now a special bundle appear for the `form_javascript` and `form_stylesheet` functions.

IMHO, this should be re-thinked. :

[2017-01-20 13:41] greg0ire commented on #17935
I would be against mixing js code inside twig. Instead, I think data attributes should be used whenever js needs some data from the server. I also think there could be a service that, when given a complicated, composite form with needs for several different js to work properly, could list said js files in a deduplicated manner for use by whatever frontend tool the user want to pipe them into.

Thi

[2017-01-20 14:20] meDavid opened #21358 "Feature: Allow extensions on the workflow definitions"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | >=3.2

I would like to extends the workflow definitions with extra properties such as schedule information. Currently the implementation of the workflow Definition is marked as final in https://github.com/symfony/symfony/blob/maste

[2017-01-20 14:32] winzou commented on #8834
Hi guys, what happened to this issue? Is it solved in 3.0? Is there any workaround for previous versions? Thanks for letting us know what to do with it ;)

[2017-01-20 14:43] stof commented on #17935
Well, solutions based on a block in the form theme were all about putting some inline JS code during the rendering of the form, which defeats all JS best practices (the first one being that it forces you to load the JS dependencies, for instance jQuery, before the body of the page, otherwise the inline code breaks). The solution of having a block renderer for each FormView is *not* suited for load

[2017-01-20 14:58] javiereguiluz commented on #17935
I think we're focusing too much on the problems instead of the solutions. Apparently, all the popular Symfony bundles "suffer" from this problem. OK ... but, what can do Symfony to help them fix this problem?

[2017-01-20 15:02] stof commented on #17935
@javiereguiluz the solution is simple: write unobstrusive javascript binding itself based on a class added on the field (which does not require any new feature), and ship your JS code as an external file which can be loaded a single time, by the preferred mean (bundled with other files for instance, etc...); As long as bundles want to write inline JS code, they will suffer from these issues (and t

[2017-01-20 15:20] xabbuh commented on #20135
see #21359 for a fix

[2017-01-20 16:26] greg0ire opened #21364 "[Console]Add option to hide the choices"
| Q                | A
| ---------------- | -----
| Feature request? | yes

When the using `SymfonyStyle::choice` with a very long choice list, one can't see the question unless they scroll backwards. If the choices are well known (like language codes or country codes), it might be enough to ask the question without showing any choices and let the auto-completer do its job. I can work on it if you

[2017-01-20 16:35] yapro opened #21365 "Display a map of services dependencies"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.11

I know about command:

[code]

but it list of services.

How to display a map of services dependencies?

[2017-01-20 16:52] fabpot commented on #21351
I think it should be fixed globally or not at all.

[2017-01-20 16:53] fabpot commented on #21351
And of course, I would prefer to fix it globally :)

[2017-01-20 16:55] curiosity26 opened #21366 "Child Class extension of Parent Class which implements ContainerAwareInterface isn't automatically injected the @service_container"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7.6

When creating a class that extends another class which implements ContainerAwareInterface, the container is not injecting into the service without having to declare the call in the yaml file.

[code]

[code]

Fix:

[code]

[2017-01-20 18:10] antanas-arvasevicius commented on #21339
@nicolas-grekas @stof please review PR https://github.com/symfony/symfony/pull/21362

[2017-01-20 18:45] GuilhemN opened #21367 "[FrameworkBundle] Execute the PhpDocExtractor earlier"
| Q                | A
| ---------------- | -----
| Bug report?      | yes, kind of
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8 -> master

I wonder if this is logical to execute [the `PhpDocExtractor` after the `ReflectionExtractor`](https://github.com/symfony/symfony/blob/c2a6ddc0ea13cecc1d6b3ea2c167c199b7fdcd48/src/Symfony/Bundle/FrameworkBund

[2017-01-20 19:10] ogizanagi commented on #21367
👍 I agree it's more logical and the order I personally rely on in my own projects. This is also the order described on the documentation page: http://symfony.com/doc/current/components/property_info.html

[2017-01-20 19:16] GuilhemN commented on #21367
Apparently the `DoctrineExtractor` already has a priority of `-999`, so I'd say it's safer to change the priority of the `ReflectionExtractor` to `-1002` or lower.

[2017-01-20 19:20] ogizanagi commented on #21366
Nor it does usually for the parent. 😅
There is actually no check for a definition class implementing `ContainerAwareInterface` adding the call automagically. It only inject the container magically for controllers and commands.
You still have to add a call to the definition for classic services.

Side-note: you can use the [ContainerAwareTrait](https://github.com/symfony/symfony/blob/master/src/Sym

[2017-01-20 19:22] curiosity26 commented on #21366
Ah I just assumed since it worked on controllers it would work on services.
And why not, right?

Feature request?
On Fri, Jan 20, 2017 at 2:20 PM Maxime Steinhausser <
notifications@github.com> wrote:

--
Alex Boyce

[2017-01-20 19:24] ogizanagi commented on #21366
I think it's mainly because we don't want to advocate injecting the whole container in a service, which is a very bad practice (but sometimes necessary).

[2017-01-20 19:27] curiosity26 commented on #21366
I agree. I'm no advocate. But I also think expected behavior should be
standardized. So if it works on Controllers, I would expect it to work on
any ContainerAwareInterface.

But knowing this for certain is good enough for me. It would be nice to not
have to junk up my yaml though :)
On Fri, Jan 20, 2017 at 2:25 PM Maxime Steinhausser <
notifications@github.com> wrote:

--
Alex Boyce

[2017-01-20 19:35] ogizanagi commented on #21366
any ContainerAwareInterface.

It works, but it's not even handled by the DI component itself but by the framework bundle.
It's very specific to it and this fact probably won't help justifying such an addition to the DI component ^^'.

[2017-01-20 19:36] xabbuh commented on #21351
I agree. Not sure yet how to fix it though.

[2017-01-20 19:38] xabbuh commented on #21366
I am closing here as the reported behaviour is not a bug, but the intended behaviour. Thank you for understanding.

[2017-01-20 19:38] #21366 closed

[2017-01-20 19:39] curiosity26 commented on #21366
Oh ok. I get it. Thanks for the explanation.
On Fri, Jan 20, 2017 at 2:35 PM Maxime Steinhausser <
notifications@github.com> wrote:

--
Alex Boyce

[2017-01-20 20:32] ogizanagi commented on #21365
Don't know if that's what you expect, but Symfony ships with a `GraphvizDumper` you can use to generate something like:

<img width="1127" alt="screenshot 2017-01-20 a 21 29 12" src="https://cloud.githubusercontent.com/assets/2211145/22164471/9f25e9c8-df57-11e6-8341-17dd5d692f7e.PNG">

However there is no command allowing to dump the container right now, though it can be an idea.

[2017-01-20 20:45] ogizanagi commented on #21364
Somehow related to https://github.com/symfony/symfony/pull/15553, but I guess your suggestion is to add a new SymfonyStyle method making use of the autocompletion & validation rather than a `ChoiceQuestion` ? :)

[2017-01-20 21:30] GromNaN commented on #21365
The Graphviz of a symfony standard container is huge, thus useless.
I've hacked a command to build the `.dot` file from the dumped `.xml`in the cache: https://gist.github.com/GromNaN/af7e53de4b9e0167f1f294a9a0db0ab2

[2017-01-20 22:48] chalasr commented on #21351
You're both talking about fixing it, I'm not sure it can be without introducing something like a `Definition::$decorator` to be populated from the `DecoratorServicePass` and consumed by the `AutowirePass` (or remove this line https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Compiler/DecoratorServicePass.php#L41, not aware of the drawbacks).

I'll look at it.

[2017-01-20 23:27] greg0ire commented on #21364
Un uh yes it's very related indeed! Would be nice to have it available through the SymfonyStyle as you suggest though

[2017-01-21 01:34] dunglas commented on #21367
It was done on purpose because parsing PHPDoc is extremely slow. On the other hand using reflection is fast.
But we can reconsider it.

[2017-01-21 11:46] HeahDude commented on #21364
👍 I've used an custom style with a method like this for the next release of GeneratorBundle, and thought about proposing it to the core. Don't have time for this, would love to see a PR though.

Here's what I used (not pushed yet) https://github.com/HeahDude/SensioGeneratorBundle/blob/generate-bundle/Command/Style/SensioGeneratorStyle.php#L68.

[2017-01-21 11:59] greg0ire commented on #21364
Thanks @HeahDude , I'll probably make a PR with this soon.

[2017-01-21 17:18] wouterj opened #21369 "[DI] Cannot declare class ...\DefinitionDecorator, because the name is already in use"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.3-dev

When using `DefinitionDecorator` in a unit test, the error above will be triggered. Seems like the renaming is not done properly.

**Test output**
[code]

[2017-01-21 20:11] GuilhemN commented on #21367
see https://github.com/symfony/symfony/pull/21370

[2017-01-22 17:27] wouterj opened #21373 "[WebServerBundle] Potential BC break as FrameworkBundle doesn't register this bundle?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.3-dev

As of https://github.com/symfony/symfony/pull/21039 , the `server:*` commands are moved to a new bundle. This is all nice and such, but it also is kind of a BC break: All applications updating to Symfony 3.3 will have to ma

[2017-01-23 01:34] leevigraham commented on #17799
`$clearMissing = $this->getConfig()->getOption('expanded', false) ?: $clearMissing;`

I fixed my issue by removing `'expanded' => true` from my forms.I guess this isn't an option for everyone tho.

[2017-01-23 02:04] weaverryan commented on #21103
I've added a possible implementation at #21376

[2017-01-23 07:44] Simperfit commented on #21369
Isn't it because of the `class_alias` on line 226 in ChildDefinition ?

[2017-01-23 09:42] jpauli commented on #21349
We released 7.1.1 recently. Could you try with that version ?

[2017-01-23 10:00] nicolas-grekas commented on #21161
The behavior is the same whe using the native phpunit (v5.7 tested).
If I comment all calls to `markTestSuiteSkipped` in `vendor/symfony-cmf/testing/src/Phpunit/DatabaseTestListener.php`, then the errors are reported as expected.

Closing as "not a bug" on Symfony - might be one in phpunit or DatabaseTestListener thought.

[2017-01-23 10:00] #21161 closed

[2017-01-23 10:24] javiereguiluz commented on #19942
Even if this idea is changed to only provide a linter command and not a fixer, I'd love to see it happen.

(Context -> this morning, a minor error in a XLIFF translation file completely broke a bundle release: https://github.com/javiereguiluz/EasyAdminBundle/pull/1490)

[2017-01-23 10:30] rvanlaak commented on #19942
@javiereguiluz we right now have the `yml` linter in our test suite, which saved us from releasing broken bundles several times already. So 👍 from me on that specific context too.

[2017-01-23 10:35] chalasr commented on #21373
#21039 clearly states that it contains BC breaks so I guess it has been accepted.
I think the upgrade file should mention it though

[2017-01-23 13:36] chalasr commented on #21282
This may fit quite well with what is proposed in #21289 I guess:

[code]

[2017-01-23 14:09] TheCelavi opened #21378 "[Validator] Feature request: Constraint "Any""
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.*, 3.*

Description: There is constraint "All" that allows us to provide several fundamental constraints that all has to be valid for validation to pass. There is no constraint "Any" for which we can provide several fundamental co

[2017-01-23 14:25] sh4ka commented on #21373
What about an 'easypick' for the docs?

[2017-01-23 18:23] #15655 closed

[2017-01-23 18:57] ogizanagi opened #21380 "[DI][DX] Optional class for named services DX issue"
| Q                | A
| ---------------- | -----
| Bug report?      | yesish
| Feature request? | no
| BC Break report? | not really
| RFC?             | no
| Symfony version  | 3.3

Since https://github.com/symfony/symfony/pull/21133, the `class` attribute isn't required anymore when using a classname as service id:

[code]

However, due to the current implementation, the following is considered

[2017-01-23 19:42] ogizanagi commented on #21349
Sure. Same issue using PHP 7.1.1 freshly compiled.

[2017-01-23 20:51] xabbuh commented on #21369
@wouterj How can I reproduce this issue?

[2017-01-23 20:55] nicolas-grekas commented on #21339
@antanas-arvasevicius can you please confirm that #21381 fixes your issue?

[2017-01-23 21:04] nicolas-grekas commented on #21380
IMHO, there are two no-gos:
- using a convention to "sniff" what "looks enough like" a class or not;
- using `class_exists`, because that would slow down the creation of the compiler, and more importantly make it context-sensitive.

Which means I'm leaning towards answering "no, we can't" to your "Should we care?" question.

That being said, what about catching the `Error` that comes up when a cla

[2017-01-23 21:07] chalasr commented on #21187
https://github.com/symfony/symfony/pull/19086 has been merged now

[2017-01-23 21:38] antanas-arvasevicius commented on #21339
Hi, I can confirm that your PR fixes my issue. So my PR gets deprecated :)

[2017-01-23 22:47] #10895 closed

[2017-01-24 00:48] #20888 closed

[2017-01-24 06:27] ZCJ opened #21384 "[DebugToolBar] Attributes dump"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

If there are multiple Roles to be checked (access _control), the attributes are being escaped and dumped (profiler_dump) in the debug toolbar. Isn't it better to just print the attributes without the indexes?

example:
- { pa

[2017-01-24 08:45] tolbon opened #21386 "ParameterBag issues with type return"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2

Hi All,

I have got an issue with ParameterBag of HttpFoundation

I use this method
[code]
and other methods like ``getInt()``, ``getAlpha()``

If my URL is http://my/url?param=stuff
it works great
but for testing purpose I tri

[2017-01-24 08:54] jpauli commented on #21349
Could you fill in a bug on https://bugs.php.net/ with the stack trace and the version of Symfony you are testing please ?

[2017-01-24 09:49] greg0ire commented on #21364
@HeahDude : I made [a PR on your PR branch](https://github.com/HeahDude/SensioGeneratorBundle/pull/1), and then closed it because if we go that way (not using the choice question), we lose [the default validator](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Console/Question/ChoiceQuestion.php#L127), which is a no-go for me since I need to use this with an associative array.

[2017-01-24 10:24] #21384 closed

[2017-01-24 10:29] cH40z-Lord opened #21390 "[VarDumper][RFC] Ability to hide properties from being dumped"
| Q                | A
| ---------------- | -----
| Bug report?      |no
| Feature request? | yes
| BC Break report? | not sure
| RFC?             | yes
| Symfony version  | 2.x/3.x

Imagine the following situation: You've got a class like this

[code]

Now if you put a very large string into the `$contents` property, such as a dump from an XML file that you've fetched from the web, dumping that i

[2017-01-24 10:33] stof commented on #21390
Such API is impossible, because ``dump()`` is a variadic function. We have no way to use extra arguments to pass options

[2017-01-24 10:34] fbourigault opened #21391 "[Security][Guard] Per authenticator provider"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | master

Guard is the new way to do authentication, and it does the job really well. But unlike, "old school" AuthenticationListeners, you can't configure the user provider to be used.

Should we allow to configure the userProvider p

[2017-01-24 10:46] gbourgeat opened #21392 "Mismanagement of the data in formtype with collections fields"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7

Hi all,

I am embarrassed by the behavior of the form handler in the management of the forms of type collection.

**My case:**
I have a tree which possesses branches
FormType Tree contains a field branches which is of type col

[2017-01-24 10:48] xabbuh commented on #21392
@gbourgeat Please use English on GitHub so that everyone is able to help you with your issue. Thank you for understanding.

[2017-01-24 11:00] secit-pl opened #21393 "No form tokens after update to Symfony 3.2.2"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

After update from Symfony 3.2.1 to 3.2.2 all my forms have lost the _token input field. I'm using the default form configuration.

    use Symfony\Component\Form\AbstractType;

    class Type extends AbstractType
    {

[2017-01-24 11:10] cH40z-Lord commented on #21390
Variadic parameters are passed in as array. Shouldn't be too hard to check the last entry for a matching flag.

Right now the current implementation of `dump()` is as follows:

[code]

I can't see why it shouldn't be possible to check the last argument element, especially since it doesn't even use the variadic operator of the language itself.

As an alternative we could introduce `dump_all()` whic

[2017-01-24 11:11] gbourgeat commented on #21392
@xabbuh Sorry

[2017-01-24 11:14] stof commented on #21390
But dumped values can be **any** PHP values, even the values corresponding to flags (btw, if the flag is an integer, it is *very* easy to end up with a dumped value being considered as a flag instead).
We cannot enforce the last argument to always be a flag. This would be a BC break, and it would make it painful to use the API.
Thus, having custom arguments *after* a variadic argument is not somet

[2017-01-24 11:15] iltar commented on #21393
It sounds like the CRSF configuration is either in your application off (framework config.yml) or a bug triggered this to be off.

[2017-01-24 11:20] cH40z-Lord commented on #21390
Yes I agree. However, it's easy to use something other than an integer like a string GUID or a hash value. One could even pass an instance of a flag class to prevent any issues.

Either way, I'm open to introduce the aforementioned `dump_all()` (or any other) method if the API really feels too weird.

[2017-01-24 11:21] nicolas-grekas commented on #21390
I fact, this is possible by using a custom cloner, maybe with a custom caster also.
Then, you'll need to rewire the dump function which is only the tip of the iceberg (ie don't focus on it).
See http://symfony.com/doc/current/components/var_dumper/advanced.html

[2017-01-24 11:23] stof commented on #21390
A string GUID would have the same issue (even though collisions would be less likely)

[2017-01-24 11:55] secit-pl commented on #21393
Before the composer update all worked fine, and the CSRF was enabled globally. The only thing I've done was the update of vendors.

[2017-01-24 12:01] secit-pl commented on #21393
@iltar after your comment I've tried to test it with the:

framework:
    csrf_protection: true

before I had:

framework:
    csrf_protection: ~

and the token is still is not displayed if I don't force the csrf_protection => true in each form.

[2017-01-24 12:37] anyt commented on #19612
If you have enabled FOSRestBundle in your application you can use name_prefix with "type: rest" with any route collections, it's not necessary to use FOS routing loader only with only rest route collections.

[2017-01-24 12:58] xabbuh commented on #21392
That's a know limitation of the `CollectionType`. It uses the position of the mapped data in the collection to determine how they have changed. You can use event listeners to  work around this (see #4492 for more information). Therefore I am closing here. Thank you for understanding.

[2017-01-24 12:58] #21392 closed

[2017-01-24 13:00] xabbuh commented on #21393
@secit-pl Is there any chance for you to reproduce your issue with the Symfony Standard Edition? Unfortunately, without further information and without being able to reproduce it we will very likely not be able to help you.

[2017-01-24 13:27] xabbuh commented on #21386
Should this method really return an array then? This looks like an unexpected result to me and I would rather return the empty string instead then.

[2017-01-24 14:05] chalasr commented on #21391
Not sure :) Guard is a (great) alternative to the normal authentication system, providing an easy way to solve from the most basic needs to more complex ones. But there're still use cases where a normal authentication listener+provider is useful, as they are a lot more flexible (they can have a config tree, that I would love to have for Guard though, so that not only the provider could be custom p

[2017-01-24 14:29] fbourigault commented on #21391
I don't feel safe by using a chain_provider for the authentication. Let me explain why.

Imagine we have a guard authenticator like this one (which is more or less the same from the [Guard docs](http://symfony.com/doc/current/security/guard_authentication.html#step-1-create-the-authenticator-class):
[code]

If we use an chain_provider, an attacker could send a request with an `Authorization: Beare

[2017-01-24 15:18] gbourgeat commented on #4492
@archy-bold What you use for indexBy ? Class identifier like "id" or you have add new field just for it ?

thks

[2017-01-24 15:29] chalasr commented on #21284
@ro0NL Applied your suggestion to make service id/tag names configurable through the constructor in #21283 and #21293

[2017-01-24 15:52] #21339 closed

[2017-01-24 16:43] Avtonom opened #21394 "Attempted to load class "CacheException" from namespace "Symfony\Component\Cache\Adapter""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 2.8

Did you forget a "use" statement for
https://github.com/symfony/cache/blob/v3.2.2/Adapter/FilesystemAdapter.php#L81

[2017-01-24 16:45] nicolas-grekas commented on #21394
Thanks for reporting, this has already been fixed in https://github.com/symfony/symfony/pull/21276

[2017-01-24 16:45] #21394 closed

[2017-01-24 21:46] chalasr commented on #21351
See #21397

[2017-01-25 00:23] ogizanagi commented on #21349
Done: https://bugs.php.net/bug.php?id=73989

[2017-01-25 06:58] courtney-miles opened #21398 "All or Collection Constraint validates embedded objects"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.5

When using the `All` constraint on an objects embedded as a property, each object is also validated.

For example, take the following configuration:

    <property name="favoriteColours">
        <constraint name="All">

[2017-01-25 08:08] markusu49 opened #21399 "[Serializer] CamelCaseToSnakeCaseNameConverter upper camel case not working"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | all supported

The CamelCaseToSnakeCaseNameConverter provides a constructor argument to specify whether to use lower camel case or not. Denormalizing upper camel case works fine, but normalizing `ThisIsATest` returns `_this_is_a_tes

[2017-01-25 09:41] theofidry commented on #21399
@markusu49 this is happening because `ThisIsATest` is not camelCase but PascalCase.

[2017-01-25 10:03] wujku commented on #20068
Problem still exists.

[2017-01-25 10:12] markusu49 commented on #21399
Isn't this naming Microsoft-specific (see [Wikipedia](https://en.wikipedia.org/wiki/Camel_case))? What is the `lowerCamelCase` attribute for then?

[2017-01-25 10:21] theofidry commented on #21399
It's not limited to Microsoft but more generally in programming languages.

[2017-01-25 10:28] markusu49 commented on #21399
PascalCase is just another name for upper camel case - people often call things differently. However, the denormalize function supports it:

`return $this->lowerCamelCase ? lcfirst($camelCasedName) : $camelCasedName;`

Why shouldn't the normalize function, too?

[2017-01-25 10:54] chalasr commented on #21391
Well, I don't think there is any security issue in the chain provider itself.

You're responsible for checking the credentials before calling your provider.

A Bearer token should always be decoded, verified and validated before calling any user provider, an email address as Bearer should be  rejected immediately. Btw, you can perfectly validate it in getCredentials(), it's common since APIs are a

[2017-01-25 11:34] Upgreydd commented on #7868
+1

[2017-01-25 12:13] nicolas-grekas commented on #20068
See #21401

[2017-01-25 12:41] lsmith77 commented on #16823
see https://github.com/symfony/symfony/pull/21402

[2017-01-25 12:41] lsmith77 commented on #20905
see https://github.com/symfony/symfony/pull/21402

[2017-01-25 13:09] stof commented on #20068
has the issue been reported to PHP ?

[2017-01-25 13:44] nicolas-grekas opened #21405 "New profiler panel for build time info"
| Q                | A
| ---------------- | -----
| Feature request? | yes
| Symfony version  | 3.3

When the container is compiled, special logs are generated in a file called usually `var/cache/dev/appDevDebugProjectContainerCompiler.log`.

Some deprecations can also be triggered at that build time.

Yet, these deprecations are too often forgotten - because they only appear once.
And the mention

[2017-01-25 13:54] javiereguiluz commented on #21405
Do we need a new panel?

* The initialization time is displayed in the Performance panel.
* The special logs can be displayed in a new tab in the Log panel.

Anything else is missing?

[2017-01-25 13:58] nicolas-grekas commented on #21405
Just to be clear, as I see it, this info should be persistent: it should not be filled only for the very request that generated them - but be available for inspection in any request.
Make it fit into an existing panel is good also.

[2017-01-25 14:07] xabbuh commented on #21405
That's indeed a good idea. One use case where this is useful: When using invalid keywords in YAML DI config files, the `YamlFileLoader` will trigger deprecations. But you either need to run `cache:clear` in verbose mode or take a look into the log panel during the very first request that triggers warming up the cache. Being able to easily introspect the build log will ease catching these mistakes

[2017-01-25 14:37] BallisticPain commented on #15016
http://symfony.com/doc/current/setup/web_server_configuration.html#web-server-apache-fpm

So we found out we had a newer version of Apache than 2.4.9 which then we used the answer of
[code]

Note: Make sure you don't have a trailing slash there either.

[2017-01-25 14:54] magarzon commented on #21367
And if you could choose the priority/order and/or enable/disable each extractor in the FrameworkBundle configuration, it'd be a blast.

My use case: I make calls to an API and deserialize the response into model objects using the Serializer (and PropertyInfo component). So I don't need DoctrineExtractor at all, but it's instantiated and added as first option anyway.

Second issue: I have a class w

[2017-01-25 14:58] issei-m commented on #20806
This problem seems to be caused by IntlDateFormatter stubs.
In my env, a generated timestamp completely differs between stubs and native. A former one seems to not deal with the timezone something properly.

/cc @webmozart @HeahDude

[2017-01-25 15:20] tzfrs opened #21406 "How to use choices_as_values in the future"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.12

I stumbled upon a bug on my web app. Let's assume I have the following array

[code]

Ok, but now to my problem. Symfony wants the values that are displayed to the user, to be the key of the array, and the values used for the

[2017-01-25 15:31] tzfrs commented on #21406
What I noticed is, that I could build it like this

[code]

However, why would I need to go that approach just to display my choices as they are given?

[2017-01-25 15:34] stof commented on #21406
there is a second solution: use ``choice_label`` to provide a callable returning labels, allowing you to have what you want as keys in the choices array (your callable with receive the choice value as first argument and the array key as second argument).

The main reason to stop passing choices as keys is because it forces to select only strings or integers (as they are the only valid keys in PHP)

[2017-01-25 15:36] tzfrs commented on #21406
Hey, seems like we were writing at the same time. Yeah, I found out about the `choice_label` function, was just wondering why I would need to use it if I just want to use the array as it is. But the explanation with bools etc, made sense. Thanks.

[2017-01-25 15:58] stof commented on #21406
and note that you will need to use it only when you actually have several choices with the same label (that the user cannot distinguish, so leading to bad UX). So for most cases, using labels as keys works fine (and contrary to choices, labels are fine with being restricted to strings by PHP)

[2017-01-25 15:59] tzfrs commented on #21406
Yeah thanks, I just had this use case which required it, but you're right, it shouldn't even come to this.

[2017-01-25 17:22] GuilhemN commented on #21367
@magarzon you can remove the extractors you don't need using `$container->removeDefinition('the_extractor_i_dont_want')`.

[2017-01-25 17:47] Zzortell opened #21409 "[Routing][TwigExtensions] Inconsistency of path dealing with boolean"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.1

Hello!

In Twig, the `path` function accepts `true` as a boolean argument and then outputs `"1"` in the url, which is then consistently proccessed by the Router, while when passing `false` it outputs `"false"` in the url, whi

[2017-01-25 18:13] jakzal commented on #20898
@alexbowers thanks for taking your time to make this suggestion! I'm not familiar with the `expect` command. Would you mind explaining a use case for this kind of functionality in the Process component?

[2017-01-25 18:17] alexbowers commented on #20898
Expect is used to "listen" to a commends output and upon a match, perform
some action.

A common use case is to automate inputs in bash, for example, filling in a
password, a path etc.

This exists in python as pexpects, ansible as expects, bash as expects.

On 25 Jan 2017 6:13 pm, "Jakub Zalas" <notifications@github.com> wrote:

[2017-01-25 18:20] alexbowers commented on #20898
Here are some examples of it in python

https://github.com/pexpect/pexpect/tree/master/examples

On 25 Jan 2017 6:17 pm, "Alex Bowers" <bowersbros@gmail.com> wrote:

[2017-01-25 18:20] ro0NL commented on #21386
I think technically we should map each array element (if it's an array) and return the filtered array.

Eventually request validation belongs to your controller, nevertheless this method should work as expected in both scenarios (imo.).

[2017-01-25 18:21] jakzal commented on #20807
@digilist any news? :)

[2017-01-25 18:29] bcremer commented on #13955
Our clients have the same issue since we introduced `PdoSessionHandler` recently so I implemented this changes in a plugin: https://github.com/bcremer/SwagSessionHandler/blob/master/PdoSessionHandler.php

I would like to open a Pull Request to Symfony/Symfony with the updated `PdoSessionHandler`, any objections how to proceed?  In https://github.com/symfony/symfony/pull/14625 the same failed becau

[2017-01-25 18:33] jakzal commented on #20920
Closing since, as explained by others, there's nothing we can do about this.

[2017-01-25 18:33] #20920 closed

[2017-01-25 18:57] ogizanagi commented on #21409
I can't reproduce the issue :/.
Using a boolean as a route parameter will simply resolve to `"1"` in the url if `true` was provided, or `""` if `false` (`"0"` in case of a query parameter).

I.E, given the following `test` route: `"test/{foo}/bar`:

- `path('test', { foo: true, baz: true })` =>`/test/1/bar?baz=1`
- `path('test', { foo: true, baz: false })` =>`/test/1/bar?baz=0`
- `path('test', { f

[2017-01-25 20:35] ogizanagi commented on #21364
Or considering back something like https://github.com/symfony/symfony/pull/15553.

[2017-01-25 20:38] Zzortell commented on #21409
First, thank you for your answer.

Well, for me:
- `{{ path('api.approve_game', {'id': game.id, 'approved': 0}) }}` => `/api/approve_game/53/0`
- `{{ path('api.approve_game', {'id': game.id, 'approved': true}) }}` and `{{ path('api.approve_game', {'id': game.id, 'approved': 1}) }}` =>`/api/approve_game/53/1`

But `{{ path('api.approve_game', {'id': game.id, 'approved': false}) }}`  now throw this

[2017-01-25 20:44] ogizanagi commented on #21409
`{{ path('api.approve_game', {'id': game.id, 'approved': false}) }}`
is throwing because the default requirement for parameters is indeed `[^/]++` (see [route requirements](http://symfony.com/doc/current/routing/requirements.html). [Here is also mentionned the default value](http://symfony.com/doc/current/routing/slash_in_parameter.html#configure-the-route)).
But as the exception message states, t

[2017-01-25 21:04] mariopr25 opened #21410 "Updating Symfony to version 3.2.2 updates Twig to version 2.1.0 that requires PHP 7."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

I have updated my Symfony project from version 3.2.0 to version 3.2.2 using "composer update", and it updates the version of Twig to 2.1.0 that requires PHP 7, but composer.json still displays "php": ">=5.5.9" as the PHP requ

[2017-01-25 22:09] SignpostMarv commented on #9128
The workaround I tinkered with was to extend Store;
- conditionally check for `$response instanceof  BinaryFileResponse`,, calling parent methods on false
- using `$response->getFile()->getSize()` &  `hash_file` w/ `$response->getFile()->getRealPath()`, where the `strlen` & `hash` of `$response->getContent() are used
- duplicating the `write` method & the one private method used in the `write` wor

[2017-01-25 22:42] HeahDude commented on #20806
@issei-m this issue should have been fixed in https://github.com/symfony/symfony/pull/21218 as 2.7.23, 2.8.16, 3.1.9, 3.2.2, could you please confirm?

[2017-01-25 22:56] robfrawley commented on #21410
I ran through the reproduction steps @mariopr25 outlined, and I ran into a slightly different but equally concerning issue on PHP 7: Composer *correctly* upgrades `twig/twig` to the `2.x` series, but while calling the cache warm composer script, a fatal error is thrown:

[code]

The following steps are all that is required to reproduce:

[code]

With that said, I could not reproduce the original i

[2017-01-25 22:58] chalasr commented on #21410
The `>=5.5.9` allows installation of symfony/symfony with PHP 5.5.9+, PHP 7+ included.

in project directory execute composer update or composer update symfony/symfony --with-dependencies
check installation of Twig 2.1.0 instead of 1.x one

There's nothing wrong in having Twig 2.1.0 installed since it is the last stable version
Problem is that your platform should not allow installing it because o

[2017-01-25 23:00] robfrawley commented on #21409
@ogizanagi Is it truly *expected* behavior to treat conversion of `true` and `false` differently?

- `true` => `1`
- 'false' => `""`

That seems inconsistent to me, regardless of original implementation? Is there a good reason for this? Or would it be possible to make the behavior consistent in a future major version release?

[2017-01-25 23:07] chalasr commented on #21399
@theofidry as your last quote points it out, there is indeed two kind of camel case: lower and upper, PascalCase being a synonym of upper camelCase (also known as StudlyCaps).
The `$lowerCamelCase` constructor argument let me understand the same as @markusu49 i.e. you can chose between both syntaxes using this normalizer so the result it expects looks legit to me.

[2017-01-25 23:10] theofidry commented on #21399
@chalasr IMO it's up to discussion, and tbh I don't feel strongly about it, but if the denormalize method supports it, the normalize one should as well indeed.

[2017-01-25 23:12] chalasr commented on #21399
Also I would intuitively prefer a CamelCaseToSnakeCaseNameConverter and a PascalCaseToSnakeCaseNameConverter than only the former handling both

[2017-01-25 23:13] robfrawley commented on #21399
Isn't "lower camel case" simply "camel case", whereas "upper camel case" is "pascal case"? The function arguments are confusing as-is. Two separate converter classes would be more appropriate.

[2017-01-25 23:34] kemalkolayca commented on #21212
Thank you very much. This approach solved my problem.

[2017-01-25 23:50] Jean85 commented on #20806
Damn, this reverses a previous PR where I was involved. I understand why is that like that, but now I'm just desiring so bad a `\Date` object in PHP...

[2017-01-26 01:03] marekkobida opened #21411 "Route requirements - POST body"
| Q                | A
| ---------------- | -----
| Bug report?      | probably no
| Feature request? | true
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

If I send request to /approve without id in POST body request still successfully continues.
Take route requirements care just with GET params?
PS: I'm just using routing component.

[code]

[2017-01-26 01:45] robfrawley opened #21412 ""OutOfBoundsException" with within-bounds index"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.x-dev
| Related Issues | liip/LiipImagineBundle#858

While working to get `liip/imagine-bundle` updated to properly support Symfony 3.3.x, I ran into the following error message, which I found horribly confusing:

The index "0"

[2017-01-26 07:01] markusu49 commented on #21399
How should we handle edge cases then, like passing `ThisIsATest` to the (lower) camel case converter? It currently converts to `_this_is_a_test`, but it isn't reversible, as the unit tests make sure that `_kevin_dunglas` converts to `_kevinDunglas`.

[2017-01-26 07:37] chalasr commented on #21399
@markusu49 Your fix is legit on 2.7. If we want to separate, we have to deprecate this argument and introduce the new converter, that must be done on master, in another PR.

[2017-01-26 07:39] alpham8 opened #21413 "FileLinkFormatter object in strpos"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2

Hi,

I figured out an issue in the class Smfony\Component\HttpKernel\Debug\FileLinkFormatter

In the constructor you got the following lines of code:
[code]

If it runs twice in it, we got suddenly an object of class FileLinkF

[2017-01-26 07:39] xabbuh commented on #21410
It looks like you ran `composer upgrade` on a machine that had PHP 7 while you are using PHP 5 on your server. If you have different PHP versions during development than on your server, you can use Composer's `config.platform.php` option to tell Composer which PHP version to consider.

[2017-01-26 10:01] lyrixx commented on #21358
Hello  @meDavid

Before starting on the PR, could you show us how you would configure it / use it. The example don't have to be working, I just want to understand the use case, and how it could work.

Thanks.

[2017-01-26 10:04] apfelbox commented on #21412
I found this issue, if I want to replace an argument of a service in a compiler pass, of a service that has no arguments:

[code]

And in your compiler pass:

[code]

Please note, that apparently you have to define placeholder arguments in your service definition, if you want it to work. It doesn't suffice, that the class has constructor arguments, but you also need to defined placeholder argument

[2017-01-26 10:06] stof commented on #21412
Well, if there is no argument before, you cannot replace them. you would need to use ``addArgument`` in this case

[2017-01-26 10:46] thewilkybarkid opened #21415 "[HttpFoundation] HTTP/2 support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

We're looking to start serving different assets to HTTP/1.x and HTTP/2 (single CSS files and multiple-files respectively). Cloudfront (for example) will serve HTTP/2 to the client, and downgrade the server request to HTTP/1.1 (

[2017-01-26 10:51] xabbuh commented on #21412
#21416 should make the exception message more clear

[2017-01-26 13:01] wjaspers opened #21417 "[Console] Helper instances should be new for each Command"
Previously, #14505 highlighted the same issue I am experiencing. However, I believe the issue closed prematurely because it attempted to change the behavior of `Command`.

| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.x.x, 3.x.x
| Affected Helpers | Progress, Table

Because t

[2017-01-26 13:30] chalasr commented on #21417
Yeah, helpers are shared when retrieved from the helper set, which can lead to unexpected behaviors when they are stateful.

Another topic but, if you ask me, I would be for dropping the whole HelperSet concept in the next major.
Helpers could just be instantiated directly, like for `SymfonyStyle` (which itself instantiates a lot of helpers), since most of them do not have a any mandatory construc

[2017-01-26 14:01] javiereguiluz commented on #21409
I agree. This looks inconsistent. Bad news is that fixing this will be a BC break. Should we:

* Keep doing `true` -> `1` ... but also do `false` -> `0`  ?
* Keep doing `false` -> `""` ... but also do `true` -> `""`  ?

[2017-01-26 14:06] stof commented on #21409
Well, this is just the way casting a boolean to string works in PHP. The rule is not ``true`` => ``1`` but ``true`` => ``"1"``

[2017-01-26 14:08] stof commented on #21409
And your issue is related to the fact that route placeholders are meant to be strings. Passing booleans there is supported only because casting is supported, but then it follows the PHP casting rules. If you don't want these casting rules, pass a string directly.

[2017-01-26 14:10] chalasr commented on #21410
Or maybe the config.platform.php is set to 7.0?

Btw, see https://getcomposer.org/doc/06-config.md#platform for the documentation of this config option.

[2017-01-26 14:11] javiereguiluz commented on #21410
To bring in some more details:

* When we build the packages used by the Symfony Installer, we always respect the minimum PHP version advertised by Symfony. So, if you do `symfony new my_project` ... you'll get Symfony 3.2 and it will work with PHP 5.5.
* However, just after creating the project, we remove a Composer config called `config.platform.php`
* We do that so when you do a `composer updat

[2017-01-26 14:14] stof commented on #21410
Closing this because there is no issue in Symfony, but a misunderstanding of how composer works, and solutions have been given above

[2017-01-26 14:14] #21410 closed

[2017-01-26 14:37] mote0230 opened #21418 "Empty error message and silent failure on method mismatch when using handleRequest and isValid"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.15

When handling a PUT request, a handlerequest followed by a isValid will result in isValid failing with no error message nor exception. To get around this message the user has to to call createForm specifying the PUT method.

[2017-01-26 14:44] HeahDude commented on #21418
Hello @mote0230, thank you for taking the time to open this issue.

Calling `isValid` before `isSubmitted` has been deprecated as of symfony 3.2, and in this case if you have called `isSubmitted` first it would also fail since the form is not submitted by the handler when methods mismatch.

As changing this behavior would be a big BC break in older versions, this is more a documentation issue IMHO

[2017-01-26 14:48] mote0230 commented on #21418
I don't see how it's a BC to go from failing silently to failing with notificing you somewhere?

[2017-01-26 15:15] robfrawley commented on #21412
@apfelbox @stof @xabbuh Oh, how I love the Symfony community: go to sleep, wake up, PR pending! Thanks.

[2017-01-26 15:15] #21412 closed

[2017-01-26 15:21] robfrawley commented on #21409
I understand *why* it behaves this way, I simply disagree that is should *remain* working this way, moving forward.

[2017-01-26 15:25] issei-m commented on #20806
@HeahDude I don't think so. As before I said, this problem doesn't seem to be `DateTimeToLocalizedStringTransformer`'s matter. This problem is caused by `\Symfony\Component\Intl\DateFormatter\IntlDateFormatter` in Intl component. (So you wouldn't encounter if you're using a native one)

See following snippet - the POC for my opinion on my env (PHP 7.0):

[code]

- A former one (`1483228800`) is ca

[2017-01-26 15:32] HeahDude commented on #21418
How would you handle this notifying then? Because from my POV

is a strong behavioral change that could only be done in master.

The issue to me is the fact that it's not documented, because checking if a form is submitted is fundamental in a controller, otherwise this cannot work at all.

[2017-01-26 15:39] Hanmac commented on #21351
sorry that you didnt managed yet to fix that problem.
but in your example with:
[code]

and Auto does see Decorator and Decorator.inner, i didnt run a test yet, but isnt Decorator.inner an Alias in that place or did i get that wrong?

[2017-01-26 15:52] fabpot commented on #21409
As @stof said, those values are strings, nothing else. Passing a boolean there does not make sense in the first place.

[2017-01-26 16:16] olvlvl opened #21420 "[DI] Unable to resolve env()"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.2

Hi,

I'm trying to use the new `env()` placeholder introduced with https://github.com/symfony/symfony/pull/19681, but I can't get it to work. I installed `symfony/dependency-injection|config|yaml`, and I followed [Setting up