[2021-09-17 10:13] ambroisemaupate commented on #43071
:+1:

This syntax works very well!
[code]

I tried with (it did not work) and `bin/console debug:container RZ\Roadiz\CMS\Forms\NodesType` outputs the same:

[code]

Thanks a lot @stof

[2021-09-17 10:37] r3dge commented on #43042
could you please provide some details to do that ? thank u

[2021-09-17 10:44] alexandre-daubois commented on #42966
I might be wrong but isn't the RFC 4122 representation the same as hexadecimal representation of your UUID?

[2021-09-17 10:51] zim32 opened #43077 "Messagenger logs INFO log level in prod.log"
**Symfony version(s) affected**: 5.2.6

**Description**
I have a lot of log message in my prod.log file

[code]

Event if I have monolog config that prevents loging this level

[code]
As I understand this configuration tells that fingers_crossed will be activated only on error level and go to neseted handler.
Why I have INFO messages in my prod.log file?

[2021-09-17 10:55] Julen10 opened #43078 "Symfony Notifier error while using ChatterInterface"
Hi, I´m trying to test the basic Slack example but using Mattermost. The example is like:
[code]
And what I do is:
[code]

The error I get (on the line $sentMessage = $chatter->send($message);) is the following:
Symfony\Component\HttpClient\Exception\ JsonException - Response body is empty.

[2021-09-17 10:59] soullivaneuh opened #43079 "ConstraintViolationAssertion::assertRaised false positive failure with multiple violations at different paths"
**Symfony version(s) affected**: 4.4.21

**Description**

If I write a test using `ConstraintValidatorTestCase` with multiple violation assertion, the test will failed because of the wrong count of the violations.

**How to reproduce**

[code]

Produce the following error at the first `assertRaised`:

[code]

**Possible Solution**

The violations list of the `assertRaised` method should be filtere

[2021-09-17 11:01] norkunas commented on #43079
You should probably use `buildNextViolation` for the second one

[2021-09-17 11:11] soullivaneuh commented on #43079
@norkunas Wow, I did not expected the existence of this method. It indeed feeds the need, thanks! :+1:

For information, here is the working test:

[code]

[2021-09-17 11:11] #43079 closed, assigned to nobody

[2021-09-17 11:50] fabpico commented on #43046
@alexandre-daubois I already wrote an own validator, I call it in `execute(..)` as first thing, before I run the rest of the command. I would like that with a new mode eg. `InputOption::NOT_EMPTY`, the console component will take care of the validation.

[2021-09-17 12:48] Julen10 commented on #43078
Mattermost error

[2021-09-17 12:48] #43078 closed, assigned to nobody

[2021-09-17 13:03] maidmaid commented on #42966
RFC 4122 representation is like `0178b5a6-67d3-0d9b-889c-7f205750b09d`, so it's not an hex representation.

[2021-09-17 13:12] #36115 closed

[2021-09-17 13:12] #35939 closed

[2021-09-17 13:12] #36018 closed

[2021-09-17 13:24] dsentker commented on #37502
I'm not sure I got the problem right. But providing a value for `locale` causes Symfony to play that language by default.

In our case, the main language is german:

[code]

There is no need to specify a source language or somewhat else. If a language is requested which has not a translation for this message, the german "root" translation is used.

With this strategy, the german version is rendere

[2021-09-17 13:34] BenWaNH commented on #30483
It would be nice !

[2021-09-17 15:32] ghost commented on #43077
You probably encountered a problem solved in this PR https://github.com/symfony/symfony/pull/41163

[2021-09-17 15:44] machitgarha opened #43081 "[Console] Auto-format output based on shell width (i.e. column count)"
Hi everyone. Special thanks to all contributors of `symfony/console`. :D

## Description

The output of a console application created by Console component, should be formatted automatically based on the shell columns count (e.g. `(new Terminal())->getWidth()`). In other words, words should be wrapped based on the shell width on different lines.

Consider Composer `install` command help output, for

[2021-09-17 15:45] p-lorenzo commented on #30483
Really nice!

[2021-09-17 15:51] moebiusband73 commented on #43049
We added a firewall with stateless JWT authentication for all API accesses. This completely solved our problems.
It may help to add a comment in the security documentation about the serializing nature of a PHP session especially with many asynchronous request. This is a pattern that gets more common in modern web applications.
Now where I know it the behavior is clear, but I guess like me a lot of

[2021-09-17 16:04] Tobion commented on #43077
You likely have an error log which triggered outputting all the other logs, including the info logs from before.

[2021-09-17 16:04] #43077 closed, assigned to nobody

[2021-09-17 17:22] ghost commented on #43049
Yes, stateless firewalls do not have this problem. As a workaround for the current problem you can register listener on `kernel.request` event with a high priority that will close session. I do this for GET requests and some configured routes. You can also use RedisHandler that allows to disable session locking.

[2021-09-17 18:35] Warxcell opened #43084 "[DependencyInjection] Wrong decorated cache definition"
**Symfony version(s) affected**: 5.3.7

**Description**
I got

[code]

With Version 5.3.4 I receive

[code]

When I upgraded to 5.3.7 I receive

[code]

**How to reproduce**
See the config in **Description** + I will write a test case for it, when I have time.

**Possible Solution**

When I return `DecoratorServicePass` to line 65 - it's all good

https://github.com/symfony/dependency-injection/co

[2021-09-17 18:44] Warxcell commented on #43049
But you should be careful, not to use session on these requests anymore.

Also be careful, because you can lose data which is written in session.

[2021-09-17 20:19] jsamouh commented on #30483
will dot it next week

[2021-09-17 20:23] Warxcell commented on #43084
Acrually seems like it's kinda false bug, because I missed

[code]

but it was frustrating that it used to work with 5.3.4, because of autowiring. Now autowiring wasn't working.

[2021-09-17 21:18] derrabus commented on #43084
Does this still happen with `"symfony/dependency-injection": "~5.3.8@dev"`?

[2021-09-18 00:21] hultberg opened #43085 "[Serializer] Nested discriminator mapping with false on ALLOW_EXTRA_ATTRIBUTES throws exception"
Hello symfony devs. :wave:  I have what I strongly suspect is a bug to report for you today. :thinking:

**Symfony version(s) affected**: 5.3 (test case is based on 5.3 branch)

**Description**
When using a nested discriminator mapping on two different type properties (which are nested) with serializer component on objects with context `ALLOW_EXTRA_ATTRIBUTES` set to false the `ExtraAttributesExce

[2021-09-18 08:32] 537mfb commented on #42775
@xabbuh 'small' am not sure if i can - it will need a custome authenticator a database, etc

but i'll see what a minimum example can be like and get back to you later today

[2021-09-18 09:12] Chris53897 opened #43086 "[Console] list-command parameter --format : An option with shortcut "e" already exists."
**Symfony version(s) affected**: 5.4.x-dev

**Description**
The paramter **--format** of the console function **list** is not working correctly.

Error: **An option with shortcut "e" already exists.**
symfony console list --format=json
symfony console list --format=xml

Options:
symfony console list --help

works:
symfony console list
symfony console list --raw
symfony console list --env=dev

**Ho

[2021-09-18 13:12] #40260 closed, assigned to nobody

[2021-09-18 13:12] #36605 closed

[2021-09-18 17:06] jbonnier opened #43089 "Profiler time and timeline empty with symfony/http-kernel 5.3.7"
**Symfony version(s) affected**: 5.3.7

**Description**

When updating symfony/http-kernel from 5.3.6 to 5.3.7 the profiler time and execution timeline are empty.

**How to reproduce**
[code]

Load the page: the profiler should be good.

[code]

Load the page: the profiler has no load time nor execution timeline.

**Additional context**

![image](https://user-images.githubusercontent.com/14863969/

[2021-09-18 17:46] derrabus commented on #43089
Duplicate of #42804

[2021-09-18 17:46] #43089 closed, assigned to nobody

[2021-09-18 17:56] wiistriker commented on #40496
Hey, thanks for your comment!

[2021-09-18 19:58] stof commented on #43042
Use the `security.untracked_token_storage` service, as explained in the error message that you pasted in your issue.

[2021-09-18 21:41] mindaugasvcs commented on #29061
It's funny. Why would a non-nullable text property in entity be set to null if HTML form contains empty string for that field?
What's even more funny * @Assert\NotBlank() does not even work as expected in such case. All it says is: Expected argument of type "string", "null" given at property path...

[2021-09-18 21:50] stof commented on #29061
Well, that TypeError happens when setting the value in the object, which happens before running the validator on that object.

[2021-09-18 22:37] hoshiray opened #43090 "Symfony flex package not found upon setting up new project"
So basically Im running this command provided by the documentation:

`composer create-project symfony/website-skeleton my_project_name
`
And Im getting this error:

`/website-skeleton/vendor/symfony/flex/src/Flex.php): Failed to open stream: No such file or directory`

This wasnt happening before.

Full log:

[code]

[2021-09-18 22:45] #43090 closed, assigned to nobody

[2021-09-18 22:46] hoshiray commented on #43090
Closing. It was permission issues.

[2021-09-19 11:04] bhavin-nakrani commented on #41836
I am looking into the Thai language translations

[2021-09-19 11:06] ddaffie commented on #43021
@wouterj Thank you for asking for feedback. I am working in the Drupal core project and we are preparing for using Symfony 6 in our next major release. We are getting the following deprecation warning: "Method "Symfony\Component\Serializer\Normalizer\NormalizerInterface::normalize()" will return "array|string|int|float|bool|\ArrayObject|null" as of its next major version." The problem for us is th

[2021-09-19 11:35] 537mfb commented on #42775
@xabbuh  https://github.com/537mfb/Bug dev branch

[2021-09-19 13:17] quentincaffeino commented on #37707
Remind me in 6 months

[2021-09-19 13:24] #34240 closed

[2021-09-19 14:29] alexander-schranz commented on #37561
Would like to keep it open for discussion :)

[2021-09-19 15:30] #41836 closed, assigned to nobody

[2021-09-19 16:11] stof commented on #36858
@carsonbot this is still a necessary feature of the component

[2021-09-19 16:50] juuuuuu commented on #36594
I had the same problem few months earlier. Let me check again if the issue is still there.

[2021-09-19 17:49] ssi-anik commented on #39294
Two days ago I started reading the routing doc and I couldn't find this "cache related issue" point there. And obviously, after two days I get to find this issue after debugging the whole codebase why it's not working. Can anyone please update the doc or point us somewhere so that we can contribute too?

[2021-09-19 20:28] TheCelavi commented on #26494
I can not reproduce this issue anymore. I will close it, sorry. If I stumble upon it again, will send a PR.

[2021-09-19 20:28] #26494 closed

[2021-09-20 04:50] piotrooo commented on #40360
Still not resolved, IMO should be implementend.

[2021-09-20 06:13] #43086 closed, assigned to nobody

[2021-09-20 06:19] Warxcell commented on #43084
@derrabus seems ok with `~5.3.8@dev`

[2021-09-20 06:20] amigian74 commented on #40103
Hey,

because of the unresolved issues we dont use the messenger component anymore.

[2021-09-20 06:36] jordisala1991 commented on #43021
https://github.com/KnpLabs/KnpMenuBundle
https://github.com/KnpLabs/KnpMenuBundle/blob/master/src/Templating/Helper/MenuHelper.php
[code]

I think this is the only one thats prevents KnpMenuBundle (Sonata also depends on this) from working on Symfony 6.

[2021-09-20 07:29] gquemener commented on #43081
Hi @machitgarha,

That sounds like an interesting feature :thinking:
Have you already started working on an implementation/poc?

I'm curious about the "virtual box" concept you mention, is it something common in the console domain? I haven't been able to find any information on the topic.

Let me know if I can help with the development of the feature.

Have a good day :wave:

[2021-09-20 08:49] hver commented on #42857
I have the same problem with JSON serializer, but I use Doctrine transport.  I have no configuration changes for retry, using default. My json serializer is configured the same as by @B-Galati

The error happens in the function, `\Symfony\Component\Messenger\Transport\Serialization\Normalizer\FlattenExceptionNormalizer::denormalize`
It expects a flatten Exception object in `$data` parameter, but i

[2021-09-20 09:35] r3dge commented on #43042
The container is not injected in this listener. So i can't access to security.untracked_token_storage from this listener.
I don't see how to do that.

[2021-09-20 09:38] machitgarha commented on #43081
Hi @gquemener! Thanks for your reply.

About working on an implementation, no. I love implementing this one, although I have little knowledge of how Symfony Console works, but I have almost no time to do so. Well, it's a dream to get hired to work extensively in open-source, but our world is not perfect. 😃

The "virtual box" is nothing special. It is just a box that is virtual. Just a new combinat

[2021-09-20 10:39] gquemener commented on #43081
Allright, I understand.

I'm not sure how this could be implemented, I will check when I have some free time as well :wink:

[2021-09-20 11:23] sen-higa opened #43102 "[Yaml] PAD(\xc2\x80) is not escaped when Yaml::dump"
**Symfony version(s) affected**: 5.2.1

**Description**

PAD(\xc2\x80) was not escaped when execute Yaml::dump.
According to [yaml specifications](https://yaml.org/spec/1.2/spec.html), PAD should be escaped.

**How to reproduce**

[code]

x80.yml contains unescaped PAD character.

**Possible Solution**

Add "PAD"(\xc2\x80) to escape characters list, and escape when Yaml::dump.

[2021-09-20 12:16] derrabus commented on #43084
Thanks for checking!

[2021-09-20 12:16] #43084 closed, assigned to nobody

[2021-09-20 12:35] xabbuh commented on #43102
Can you please fork the Symfony code and create a failing test case? I will happily look into how to fix it then.

[2021-09-20 13:06] scmika commented on #36319
It's nice to see that at least the issue bot returns regularly to check if this issue has to be closed.
Other than a tag being added, I didn't see any reaction on this. If you don't want to solve this, I'm fine with your decision. But you could be so kind and at least give me any feedback.

[2021-09-20 13:12] #11662 closed

[2021-09-20 13:12] #35593 closed

[2021-09-20 13:19] nicolas-grekas commented on #35593
Please send a PR actually if you want to see this happen.
Fixing the issue on predis' side would be preferred of course.

[2021-09-20 13:41] stof commented on #36319
Well, wouldn't Shopware suffer from exactly the same issue if the code was using `$_FILES` without using FileBag ? After you move the file, the location available in `$_FILES` is stale.

to me, the proper fix would be for Shopware to avoid recreating the Request representation when the cache is active.

[2021-09-20 13:43] stof commented on #28771
Reopening as we have a WIP PR.

[2021-09-20 16:22] scmika commented on #36319
Thank you for your response.

You are right. If you would use the same `$_FILES` index again after moving one specific file it would create a legitimate FileNotFoundException (or an equivalent of it) for already processed files. I haven't quite figured out why Shopware re-runs the FileBag constructor, but since it does: Recreating the FileBag with the same `$_FILES` throws a hard exception that I

[2021-09-20 16:28] stof commented on #36319
My own vote is for "won't fix" for now, unless the impact proves to be bigger. To me, it looks like an issue that should be fixed in Shopware (or in whatever does the weird thing if it is not shopware but a customization  of it).

[2021-09-20 16:33] bhavin-nakrani commented on #41081
I am working on this issue

[2021-09-20 16:52] #41081 closed, assigned to nobody

[2021-09-20 17:08] fabpot commented on #36319
I agree with @stof, that's a won't fix on the Symfony side.

[2021-09-20 17:08] #36319 closed

[2021-09-20 20:32] derrabus commented on #37832
I'm closing this because the issue looks rather like a support request than a bug report. Please feel free to open a discussion, if you still face this problem.

https://github.com/symfony/symfony/discussions

See https://symfony.com/support for more support options.

[2021-09-20 20:32] #37832 closed

[2021-09-20 21:22] upyx opened #43114 "Too early resetting services in messenger"
**Symfony version(s) affected**: 5.4.x

**Description**
I use a new feature added in #41163 with `UidProcessor` from Monolog. Recently I've realized the last INFO log from the messenger ("{class} was handled successfully (acknowledging to transport)") has a uid from the **following** message in a queue. It happens because that log message writes after the `WorkerMessageHandledEvent` that triggers

[2021-09-20 23:48] johnpancoast commented on #15024
bump

[2021-09-21 02:29] zerkms commented on #21580
It's still legit even though silent.

[2021-09-21 03:59] bohanwood commented on #33718
Hello

[2021-09-21 07:11] xabbuh commented on #40414
@LuKePicci Would you like to give this a try?

[2021-09-21 07:12] xabbuh commented on #36396
closing as explained in https://github.com/symfony/symfony/issues/36396#issuecomment-793811034

[2021-09-21 07:12] #36396 closed

[2021-09-21 07:19] xabbuh commented on #43038
@MimoBerlino Would you like to give it a try?

[2021-09-21 07:19] xabbuh commented on #43024
Can you create a small example application that allows to reproduce your issue?

[2021-09-21 07:20] xabbuh commented on #40332
I think what @ro0NL suggested is the way to got. Let's close here as I don't see us changing the component in such a fundamental way as suggested.

[2021-09-21 07:20] #40332 closed, assigned to nobody

[2021-09-21 07:25] xabbuh commented on #42850
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-09-21 07:25] #42850 closed, assigned to nobody

[2021-09-21 07:25] xabbuh commented on #42456
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-09-21 07:25] #42456 closed, assigned to nobody

[2021-09-21 07:25] xabbuh commented on #42663
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-09-21 07:25] #42663 closed, assigned to nobody

[2021-09-21 08:00] LuKePicci commented on #40414
Sorry, I didn't get what you mean with "_this_"

[2021-09-21 08:39] bpolaszek commented on #26494
Issue still exists, easily reproducible:

[code]

Outputs:

[code]

Outputs:

Now that the object became iterable, it is serialized as an array, though we want it serialized as an object.
That's a real PITA when the object was correctly serialized until you add some iterable functionnalities on top of it for whatever reason: you don't expect all properties to suddenly vanish.

[2021-09-21 09:33] xabbuh commented on #40414
I mean trying to work on a fix for this issue.

[2021-09-21 10:47] ajgarlag commented on #39308
@wouterj The upcoming version 5.4 it's ending its development phase, but this issue is still open, and my previous question is still unanswered. I'd like to know your opinion on this topic. Thanks in advance.

[2021-09-21 10:58] jaikdean commented on #39750
This just caught me out, too.

[2021-09-21 11:41] wouterj commented on #39308
Note that development phase isn't yet ended, but will end in a couple days/1 or 2 weeks. Anyway:

I would say cases where token roles and user roles are not the same are indications of roles being "misused" (no judgement here, many applications misuse roles in some place). However, it is a use-case apparently.

In any case, as I understand it, it is possible to have different token and user roles

[2021-09-21 13:09] #37695 closed

[2021-09-21 13:09] #40274 closed, assigned to nobody

[2021-09-21 13:11] Chi-teck commented on #36657
Yes, I would.

[2021-09-21 13:15] scheb commented on #39308
My two cents on that: User roles and token roles are _not_ the same.

User roles are the roles that a user account has configured. That's just user account data. Token roles are the roles that are in effect in a given security context, it's the source of truth for security/access matters.

Yes, for most cases the list of roles will be identical. Though there may be business rules involved, making

[2021-09-21 13:43] #39052 closed, assigned to nobody

[2021-09-21 13:45] tomme87 opened #43123 "MessengerTransportDoctrineSchemaSubscriber:postGenerateSchema adds messenger table to schema even though table is already creatred"
**Symfony version(s) affected**: 5.3

**Description**

When I'm using `Doctrine\ORM\Tools\SchemaTool::createSchema([$classMetadata])` `MessengerTransportDoctrineSchemaSubscriber:postGenerateSchema` adds the messenger table to schema even though the table already exists resulting in "Table 'messenger_messages' already exists" error.

**How to reproduce**

Use the doctrine messenger transport and do

[2021-09-21 13:48] wouterj commented on #39308
Alright, rephrase: Token roles should usually be a subset of User roles

If this is not the case, you are probably using roles for something differently than what they are designed for. We however don't need to force people into our way of thinking imho: it's fine if people get it working (and they apparently do).

[2021-09-21 15:09] xabbuh commented on #42725
Can you create a small example application that allows to reproduce your issue?

[2021-09-21 15:29] xabbuh commented on #33718
@bohanyang Would you like to try to solve this issue?

[2021-09-21 15:33] bohanwood commented on #33718
Sure but maybe we have to write a SQL specific to Oracle to solve this issue.

[2021-09-21 15:52] #40708 closed, assigned to nobody

[2021-09-21 16:14] ghost commented on #43123
Could you add a full error stack trace?

This is awkward as this line should prevent from such an error:
[code]
https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/Connection.php#L301

[2021-09-21 16:29] tomme87 commented on #43123
auto_setup is disabled. But I don't think this issue is related to that. Even if auto_setup was enabled it should not try to create a table that is already created.

The `hasTable()` check only checks the $this->_tables array in Schema, which only contains the table I'm trying to create. It does not do any actual check in the database.

I don't have the full stack trace currently.

[2021-09-21 16:37] sen-higa commented on #43102
I added PAD to escape sequences pattern.
`testEscapedEscapeSequencesInQuotedScalar()` is fail by this change.
https://github.com/sen-higa/symfony/compare/5.4...ebae00aa3c0e59cc26a7c95c96ef904845df2279

[code]

I wrote "\x80" but to exact, PAD character was "\xc2\x80".

[2021-09-21 16:45] ghost commented on #43123
You are right. This looks like a bug then.

[2021-09-21 16:53] ghost commented on #43077
Actually SendFailedMessageForRetryListener logs with an ERROR level and in combination with the issue I've mentioned this is why the guy has multiple INFO logs that are not associated with the actual message that triggered an error.

[2021-09-21 19:58] ThomasLandauer opened #43129 "[Form] Allow `date_widget` *and* `time_widget` to be set to `single_text`"
**Description**
Follow-up of https://github.com/EasyCorp/EasyAdminBundle/issues/4027

I'm suggesting to allow rendering a DateTimeType in two widgets:
* A `single_text` for date,
* and a `single_text` for time

...by setting both `date_widget` and `time_widget` to `single_text`.

Right now, the documentation is misleading, cause there's no hint that you can't use `single_text` for both. So if nobo

[2021-09-21 21:38] melihovv opened #43130 "Problems with \Symfony\Component\Cache\Adapter\ApcuAdapter in cli"
**Symfony version(s) affected**: >=4.4 and even some versions <4.4

**Description**
In our environment we have apcu enabled only in web, in cli it is disabled. Corresponding ini values
[code]
But \Symfony\Component\Cache\Adapter\ApcuAdapter returns true from isSupported method in this case. That leads to problem that \Symfony\Component\PropertyAccess\PropertyAccessor::createCache returns ApcuCache

[2021-09-21 21:52] nicolas-grekas commented on #43130
Why is this an issue? In your setup, on the CLI, `ApcuAdapter` should be functionally equivalent to `NullAdapter`, so that all this won't matter.

[2021-09-21 22:10] melihovv commented on #43130
@nicolas-grekas yeah, it does not hurt our app, because PropertyAccessor or ApcuAdapter is not used anywhere in our app. In symfony PropertyAccessor is used only symfony/security-http component, which is usually run in web, if I'm right.

The only case in which we have problem is in our healthcheck cli command, which we wrote ourselves. We take all services with tag cache.pool and for each we try

[2021-09-21 22:20] nicolas-grekas commented on #43130
In Symfony, things are working as expected :)
The way we work around this issue is by wrapping the `ApcuAdapter` in a `ChainAdapter`
See eg `AbstractAdapter::createSystemCache()`
I'm closing here since there is no bug.

[2021-09-21 22:20] #43130 closed, assigned to nobody

[2021-09-22 00:11] yoshiakiokuma opened #43131 "Warning: ob_end_flush(): Session ini settings cannot be changed after headers have already been sent"
**Symfony version(s) affected**: 4.4

**Description**
Warning: ob_end_flush(): Session ini settings cannot be changed after headers have already been sent in /usr/local/rms/agency/vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Response.php on line 1239

**How to reproduce**
php.ini is untouched after installed. Nothing is changed.  We are now seeing this warning on all symfony pages.

[2021-09-22 07:30] r3dge commented on #43042
Workaround found.

1. Inject TokenStorageInterface in the listener constructor :

`    public function __construct(TokenStorageInterface $tokenStorage)
    {
        $this->tokenStorage = $tokenStorage;
    }`

2. Disable Usage Tracking before to get token

`public function onKernelTerminate(TerminateEvent $event)
    {
            $this->tokenStorage->disableUsageTracking();
            $token =

[2021-09-22 11:39] derrabus commented on #43021
What kind of object is this? The problem is that the allowed return types define what kind of input the encoders can expect. It's a contract between normalizers and encoders. That is why it has been narrowed down to what _all_ encoders understand.

[2021-09-22 12:10] goetas commented on #41007
the issue has been solved by https://github.com/symfony/symfony/pull/36864

[2021-09-22 12:10] #41007 closed, assigned to nobody

[2021-09-22 12:21] wouterj commented on #43021
@jordisala1991 I think it makes sense to revert the native return type and instead use a PHPdoc return type for Symfony 6 on that method. Are you open to create a PR to 6.0 doing that? Thanks!

[2021-09-22 12:22] jordisala1991 commented on #43021
I will! Tonight or maybe tomorrow

[2021-09-22 13:09] #40280 closed, assigned to nobody

[2021-09-22 13:17] liarco commented on #40404
Yes

I still confirm the issue, I also tried to update the dependencies of my reproducer and the result seems to be the same with:
- `5.2`
- `5.3`
- `5.4`

[2021-09-22 13:17] bbrala commented on #43021
@derrabus while thinking about your comment one thing came to mind, since php8+ is required, shouldn't that interface support [Stringable](https://www.php.net/manual/en/class.stringable.php)?

The awnser about the returned object required a little more typing, which i can't do right now :)

[2021-09-22 13:21] derrabus commented on #43021
No, because casting a stringable object to a string should be the concern of the normalizer, not the encoder.

[2021-09-22 13:55] okwinza commented on #43123
Hi @tomme87, could you try to reproduce it with the fix suggested in #41668?

[2021-09-22 18:09] tomme87 commented on #43123
Since I have auto_setup set to false, this fixes it for me. But not sure what would happen if I used auto_setup.

Also, I don't think auto_setup is relevant here, since I should be able to use `createSchema` even if I had auto_setup enabled? or am I missing something?

[2021-09-22 19:57] GromNaN commented on #43131
Can you get the stack trace of the warning ?
This may happen if an other error occurs early in the app run.

[2021-09-22 20:38] #43131 closed, assigned to nobody

[2021-09-22 20:43] MimoBerlino commented on #43038
@xabbuh do you mean the regex has been adapted and ready to be tested/tried?

[2021-09-22 21:50] gnat42 opened #43141 "AuthorizationChecker has no way configuring $exceptionOnNoToken parameter"
**Symfony version(s) affected**: 5.3.7

**Description**
AuthorizationChecker.php has a constructor parameter $exceptionOnNoToken. This is not configurable via security.yaml

I found this issue by having a Guard authenticator and wanted to call isGranted('X', $obj); because at this stage of the guard no token exists it fails. I wanted to set that to false but can't seem to.

**How to reproduce**

N

[2021-09-22 22:00] cizario commented on #26200
what about `bind:` ?

it won't work if you move **the argument** `$my_argument` to anthor separated `services` file (e.g `services/something.yaml`) and rather it throws this weired exception:
[code]
if each `services` file has its own `bind:` section, does this lead to conflict/overrids ? how to counter this properly ?

[2021-09-22 22:26] Evgeny1973 commented on #42288
Have same problem:
![image](https://user-images.githubusercontent.com/20745667/134430128-81892716-7a39-473d-b966-99bc2e1a2355.png)

What should I write in `storage_factory_id:` if i use
`handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler`

[2021-09-22 22:36] chalasr commented on #43141
Not making it configurable is on purpose.
This parameter is part of a compatibility layer between Guard and the new authenticator system.
When using the new authenticator system, the argument value is set to `false` by some compiler pass or SecurityBundle DI extension. And it will take `false` as default and only accepted value in 6.0.

Guard is deprecated in favor of that new system in 5.3 and re

[2021-09-22 22:36] #43141 closed, assigned to nobody

[2021-09-22 22:43] chalasr commented on #43049
Thanks for investigating, closing then.

[2021-09-22 22:43] #43049 closed, assigned to nobody

[2021-09-22 22:59] ghost commented on #43049
Of course. This is a trade off one has to be aware of.

[2021-09-23 01:51] fd6130 commented on #41815
I will work on this.

[2021-09-23 01:57] fd6130 commented on #41815
Seems like it is up to date. I didn't see any missing translate in branch 4.4 for zh_TW.

[2021-09-23 05:59] okwinza commented on #43123
Well it seems that with `auto_setup: true` the messenger schema listener gets triggered every time a schema change occurs somewhere in your code.

Also, this does indeed happen in your app code and not when you are applying migrations, right?

Right now, configuring messenger schema only when calling `messenger:setup` is the only meaningful solution I can see here.

[2021-09-23 07:05] alexandre-daubois commented on #42966
I'm telling this because after trying a few things, I realized that RFC 4122 seems equal to the hex representation but with additional dashes. I tested with the ULID you gave, `01FF2QE789KQSBK3HWT65S9H7S`. Here's my output:

[code]

If this is correct, I'm not sure of the additional value of adding the hex representation?

[2021-09-23 07:38] pdevillard commented on #42288
@Evgeny1973, you can let the following configuration:

[code]

The storage & the handler are two different things, we used to manipulate the handlers but now there is a new layer to dynamically provide an handler (or no session handler at all) depending on the request.

Have a look at `NativeSessionStorageFactory`. It creates a `NativeSessionStorage` which passes your `handler_id`.

[2021-09-23 08:13] xabbuh commented on #43038
No, sorry, I meant if you would like to try fixing the regex in a pull request.

[2021-09-23 09:03] tomme87 commented on #43123
Yes, it needs to happen "runtime".

I'm happy with the suggested fix if that is the only good solution here. This forces anyone that needs to `createSchema` "runtime" to have `auto_setup: false` though. But that is probably ok, since this is obviously an edge case anyway?

[2021-09-23 10:06] wouterj commented on #43021
Thanks @jordisala1991!

_Fyi, I've hidden all comments as "resolved" when we've resolved that return type. This way, I hope this issue can be kept a bit organized. This has nothing to do with the validity of the comments._

[2021-09-23 10:38] fkropfhamer opened #43145 "[Security] FirewallAwareTrait throws Critical Error instead of throwing Exception"
**Symfony version(s) affected**: 5.3.7

**Description**

The Symfony/Bundle/SecurityBundle/Security/FirewallAwareTrait throws Critical Error instead of throwing the right Exception with helpfull Message.
The Error thrown is "Call to undefined function Symfony\Bundle\SecurityBundle\LoginLink\LoginLinkHandler()".
The right Error message, I assume, would be "Cannot determine the correct Symfony\Bundl

[2021-09-23 12:45] nocive commented on #35575
The problem still exists in symfony 4.4.30.

[2021-09-23 13:07] Herz3h commented on #35575
@Volmarg where do you put these values ?

[2021-09-23 13:49] Volmarg commented on #35575
`./config/packages/monolog.yaml`

[code]

Also Symfony 5 has this

`./config/packages/prod/deprecations.yaml`

[code]

So this is probably why it works

[2021-09-23 15:07] Pixelshaped commented on #39763
There is a way:
[code]
Call this right after you modified the connected user's roles and you won't be disconnected. Although this has to be used cautiously.

[2021-09-23 16:08] xabbuh commented on #43044
The issue is that you define the constraints on your form fields. If you move them to your entities, everything works as expected as far as I can see. I am going to close here as I don't see anything wrong, but please feel free to comment if you do not agree and we can reconsider.

[2021-09-23 16:08] #43044 closed, assigned to nobody

[2021-09-24 09:08] MimoBerlino commented on #43038
@xabbuh sure. I'll get the time to look at it.

[2021-09-24 09:30] marco-giannetti opened #43161 "Support for locale nb was dropped"
**Symfony version(s) affected**: 5.3

**Description**
Support for locale **nb** was dropped in the commit [[Intl] Switch from json to php resources ](https://github.com/symfony/symfony/commit/24bfc3bedd6f507956a8c18940e119295cadc317) in 5.3. It was still available in 5.2

**How to reproduce**
[code]

**Possible Solution**

All the `nb.json` files were deleted in this commit, without providing a co

[2021-09-24 09:52] m-vo opened #43162 "[Process] Allow running multiple commands at once"
**Description**
When running a lot of small shell commands after each other, the overhead of creating the underlying processes becomes noticeable. It would be handy if the process component would support chaining commands.

Working directly on a Linux/Windows shell you would typically do this:
[code]
(Yes there are other chaining operators as well like `||`.)

This is currently not possible with t

[2021-09-24 10:18] tyteen4a03 commented on #20201
Any updates to the docs for this? I am using `symfony/symfony` and having trouble to get `dump()` in the global context.

[2021-09-24 13:27] ro0NL commented on #43161
The parent is now `no`: https://github.com/unicode-org/icu/blob/release-69-1/icu4c/source/data/region/nb.txt

maybe https://github.com/symfony/symfony/issues/31348 is relevant

[2021-09-24 13:34] st0at commented on #40551
Yes I would, thank you

[2021-09-24 13:41] uncaught commented on #42895
I have the same issue with Symfony 4.4.30. I've just migrated from 3.4 so I could be missing something, but the profiler is enabled, Stopwatch is definitely installed and debug ist true.

@fabpot would you know by any chance if 4.4.30 could be affected by the same bug? Thanks

[2021-09-24 15:44] #41685 closed, assigned to nobody

[2021-09-24 16:10] #42038 closed, assigned to nobody

[2021-09-24 16:14] maidmaid commented on #40687
Should `->setParameter('root', $root)` be smarter by understanding that root property is a relation whose id is an ulid and then implicitly set the type in the 3rd argument ? Is the bug in Doctrine side ? Wdyt @stof ?

[2021-09-24 16:15] boenner commented on #32080
I tried tackling this in [flatten-nested-attributes](https://github.com/boenner/symfony/tree/serializer-flatten-nested-attributes). Some things are still missing and it's not properly tested yet, so I didn't create a pull request. Could you take a look at the branch, @derrabus, to check if this is the right way to go?

Using the `SerializedName` annotation in `SomeClass`

[code]

together with the

[2021-09-24 16:23] ahmedyakoubi opened #43173 "upgrade to stimulus v3"

[2021-09-24 16:26] #43173 closed, assigned to nobody

[2021-09-25 07:37] icanhazstring opened #43175 "[Messenger] Not working well together with autoconfigure attribute"
**Symfony version(s) affected**: 5.3.*

**Description**
Trying to only configure a single MessageHandler using `AutoconfigureTag` in conjunction with `MessageHandlerInterface` leads to double registered service.

**How to reproduce**
Writing a Handler for any type of event using the `MessageHandlerInterface` will result in that service to be registered as message handler when running `bin/console

[2021-09-25 19:45] Guite commented on #38270
Issue is still relevant. Workaround posted above.

[2021-09-26 12:29] ThomasLandauer commented on #41855
After some more thinking about it, I'm now suggesting:
* **Drop `loose` mode completely**. @javiereguiluz and me are having an ongoing discussion whether `loose` is "too simple" or just "very simple" (https://github.com/symfony/symfony-docs/pull/15853 and https://github.com/symfony/symfony-docs/pull/15856) My bottom line: If you really think that `loose` is useless, then drop it! If somebody wants

[2021-09-26 16:30] #42126 closed, assigned to nobody

[2021-09-26 16:32] #43145 closed, assigned to nobody

[2021-09-26 16:34] #42346 closed, assigned to nobody

[2021-09-26 19:04] meiyasan commented on #42973
Any feedback ?

[2021-09-27 07:26] mtamazlicaru commented on #27683
Still a issue.

[2021-09-27 07:38] elfring opened #43182 "Add test cases for checking of concrete translations according to labels"
[The function “testLabel” is provided](https://github.com/symfony/symfony/blob/0e133be367bd479534127a5ab1675553e173f75c/src/Symfony/Component/Form/Tests/AbstractLayoutTest.php#L145 "Function implementation") by the class “AbstractLayoutTest”.
I suggest to add corresponding test classes which will check the concrete application of translations for known labels.
Will these system checks [improve the

[2021-09-27 07:44] visonforcoding opened #43185 "symfony/validator work for nested object fields"
i define a POPO like

[code]
the Track class also use constraints annoations

[code]

and i validation request

[code]
`TrackPush` can work.  but it can`t work for `Track.eventStatus`

the request body like

[code]
i want it can `throw MethodArgumentNotValidException` for `eventStatus`
anyone can help me?

_Originally posted by @visonforcoding in https://github.com/symfony/symfony/discussions/4318

[2021-09-27 07:44] xabbuh commented on #40360
@piotrooo Would you like to give the implementation a try?

[2021-09-27 07:45] xabbuh commented on #40103
@amigian74 Would you like to try to fix this issue?

[2021-09-27 07:46] xabbuh commented on #43061
@petr-buchyn Do you have any news for us?

[2021-09-27 07:53] piotrooo commented on #40360
@xabbuh If you are intrested this feature I can try.

[2021-09-27 08:07] bastien70 opened #43186 "Add Attribute::IS_REPEATABLE to Security PHP attribute"
It would be nice to be able to add the '`Attribute :: IS_REPEATABLE`' flag to the PHP attribute **Security**.

This is useful when we have several cases to deal with different error messages.

[2021-09-27 08:15] norkunas commented on #43185
define `@Assert\Valid` on your $track prop

[2021-09-27 08:27] xabbuh commented on #43182
I am not sure I understand what concrete changes you have in mind. Would you mind opening a PR with a draft of your idea?

[2021-09-27 08:29] benr77 opened #43187 "[Notifier] Customise browser Flash Message level with importance"
I've just implemented browser flash messages using the Notifier component. Works well and easy to set up.

However, the first thing I noticed is that the "type" for the flash message is hard-coded to `notification`

https://github.com/symfony/symfony/blob/6b1d9b8f7251fb2526e9095061a3809e7ec9e13f/src/Symfony/Component/Notifier/Channel/BrowserChannel.php#L40

Previously my flash messages would use t

[2021-09-27 08:29] xabbuh commented on #43186
Should this be reported to the SensioFrameworkExtraBundle which provides [this attribute](https://github.com/sensiolabs/SensioFrameworkExtraBundle/blob/master/src/Configuration/Security.php)?

[2021-09-27 08:30] xabbuh commented on #43185
I am closing here in favour of the linked discussion. Thank you for understanding.

[2021-09-27 08:30] #43185 closed, assigned to nobody

[2021-09-27 08:49] xabbuh commented on #42973
Do you mean that when the debug mode is enabled the event dispatcher used by the firewall is not decorated by the `TraceableEventDispatcher` class? If so, would you like to try finding out which commit changes that?

[2021-09-27 08:50] xabbuh commented on #43175
Can you create a small example application that allows to reproduce your issue?

[2021-09-27 08:53] xabbuh commented on #38270
Can you create a small example application that allows to reproduce your issue?

[2021-09-27 09:05] Guite commented on #38270
I can do a PR with the proposed changes including a test case that checks exactly this issue. How about that?

[2021-09-27 09:10] stof commented on #43186
Indeed, this is the wrong issue tracker.

@bastien70 this suggestion makes sense (the annotation can be used multiple times), so I suggest you to open a PR on the bundle.

[2021-09-27 09:18] #43186 closed, assigned to nobody

[2021-09-27 09:21] nobYsDarling commented on #29109
This won't work as the container ist frozen/initialized. *at least in Symfony 4.4

[2021-09-27 09:26] #42072 closed, assigned to nobody

[2021-09-27 09:33] icanhazstring commented on #43175
Will do 👍

[2021-09-27 09:43] marcoiosif opened #43192 "[Validator] Custom Validation Constraint"
Hello

https://symfony.com/doc/5.2/validation/custom_constraint.html#creating-the-validator-itself

I have followed the steps of the documentation for creating a custom validation constraint, but i give the next error:

`Argument 2 passed to Symfony\Component\Validator\Mapping\ClassMetadata::addPropertyConstraint() must be an instance of Symfony\Component\Validator\Constraint, instance of App\Vali

[2021-09-27 09:54] norkunas commented on #43192
You should pass the `Hello` constraint not the validator itself as the HelloValidator should handle constraint and build violations :)

[2021-09-27 10:04] nikophil opened #43193 "[Serializer] Problem when serializing/deserializing empty arrays in xml"
**Symfony version(s) affected**: all? actually testing on `5.3.4`

**Description**
When serializing an object with an empty array in xml and then deserializing this array into the same class, I encounter an error.

**How to reproduce**
[code]

(NB: the error is not due to the anonymous class)

[2021-09-27 10:07] petr-buchyn commented on #43061
@xabbuh sorry, was busy, I’ll try to re-check this and submit a PR this week

[2021-09-27 10:12] marcoiosif commented on #43192
Thanks, my mistake. I should have created a constraint before.

[2021-09-27 10:15] elfring commented on #43182
I just propose to distinguish better between abstract and concrete test cases (also for data processing according to translations).
:crystal_ball: How do the possibilities look then for the discovery of unexpected software behaviour?

[2021-09-27 10:23] #43192 closed, assigned to nobody

[2021-09-27 10:59] derrabus commented on #32080
I think, a pull request is always better to discuss changes and the course of action. Don't hesitate to create one, even if it's not ready yet.

[2021-09-27 11:00] temp opened #43194 "audit-trail workflow configuration in xml not working"
**Symfony version(s) affected**: 5.3.7

**Description**
Using the xml-example from https://symfony.com/doc/current/workflow.html#creating-a-workflow throws errors.
[code]

**How to reproduce**
Use the xml-example workflow.xml from https://symfony.com/doc/current/workflow.html#creating-a-workflow

**Possible Solution**
-

**Additional context**
Maybe the audit-trail config is simply missing from th

[2021-09-27 11:14] webignition commented on #35873
Aye, happy to give this a go.

My goal here is to be able to type-hint against an interface rather than `Symfony\Component\Panther\DomCrawler\Crawler` for libraries (of mine) that need to be able to read from a DOM without needing to care about mutating the DOM.

I'll examine both `Symfony\Component\DomCrawler\Crawler` and `Symfony\Component\Panther\DomCrawler\Crawler` with the aim to:

 - factor

[2021-09-27 11:49] xabbuh commented on #43182
I am closing here as you still refuse to give concrete examples or answer our questions.

Frankly spoken: If you do not stop waisting our time, I will close your future tickets without any comments. We have better things to do.

[2021-09-27 11:49] #43182 closed, assigned to nobody

[2021-09-27 11:57] stof commented on #43194
@temp it is indeed missing in the XSD. Do you want to submit a PR adding it ?

[2021-09-27 13:06] #37420 closed

[2021-09-27 13:16] elfring commented on #43182
I referenced previous application examples.
:point_right: Would you find [a contribution](https://github.com/liarco/markus-test/commit/ac14bdc4c4c5351b0254cb5ce0bdee2ab824069e#diff-6c5e425fddffe6daa34474ada97db61c49149dc5cd0a89227ebd70675ae740c6R11 "Basic form translation test") from @liarco helpful for this issue?

[2021-09-27 13:18] xabbuh commented on #43193
Can you create a small example application that allows to reproduce your issue?

[2021-09-27 13:34] nikophil commented on #43193
Hello @xabbuh and thanks for your answer

here is a reproducer

https://github.com/nikophil/serializer_error

just run `bin/console app:test`

[2021-09-27 13:52] temp commented on #43194
@stof Yes, can do!

[2021-09-27 15:03] Clorr commented on #37036
Yes, please

[2021-09-27 15:28] #43114 closed, assigned to nobody

[2021-09-27 16:24] BlueSkunka commented on #43044
It's maybe roughly stated but here how I see my problem and why I think it's, maybe not a bug but at least something that could evolve.

Symfony trying to validate a null object from oneToOne relation which can be null.

Even if I can put the person properties into my patient entity, I can't do that for every person relation that my patient may have (doctor, guardianship, wife/husband, ....).

Sin

[2021-09-27 17:23] himanshu007-creator commented on #43194
Hi, I would like to work on this issue. Please guide me further on what needs to be done ^_^

[2021-09-27 19:16] xabbuh commented on #43044
You don't need to move properties around. It's sufficient enough to not use the `constraints` option in the form types, but to define the constraints on your model instead.

[2021-09-28 06:54] temp commented on #43194
Oh, sorry, did see your comment only after I submitted the PR.

[2021-09-28 08:12] jderusse commented on #43042
I've got similar deprecation triggered when using the `Symfony\Component\Security\Core\Security` helper outside a request (ie, in a Monolog Processor)

[code]

We can not call `disableUsageTracking` because we won't be able to restore the previous state (we don't have `isUsageTracked` method).

The only solution is to inject `security.untracked_token_storage` instead of `security` but this is sad

[2021-09-28 08:13] onatskyy opened #43207 "[Serializer] Attributes that extends the serializer`s annotations are ignored by the serialization process, while doctrine annotations processed"
**Symfony version(s) affected**: >=5.3

**Description**
Classes for serialization, that are configured via Attributes, have different behavior from classes configured via doctrine annotations if these annotations||attributes are children of serializer`s annotation.

**How to reproduce**
F.e. I have some set of serialization groups, that I want to use many times. For it, I create a new class that e

[2021-09-28 08:44] #43194 closed, assigned to nobody

[2021-09-28 09:05] yann-eugone opened #43212 "Autoloading broken with 4.4.31/5.3.8"
**Symfony version(s) affected**: 4.4.31, 5.3.8

**Description**
First encountered an error after `composer update` with
[code]

Then I figured out that classes seems to have been moved to wrong places.

**How to reproduce**
Please consider compare from
- `symfony/translation` : https://github.com/symfony/translation/compare/v5.3.7...v5.3.8
- `symfony/messenger` : https://github.com/symfony/messeng

[2021-09-28 09:07] icanhazstring opened #43213 "[Messenger] And possible others, PSR-4 autoload not working with 5.3.8"
**Symfony version(s) affected**: 5.3.8

**Description**
The symfony/messenger can't be installed in the latest version (5.3.8)
The PSR-4 Autoload is not working anymore.

[code]

Resulting in:

[code]

**How to reproduce**
[code]

[2021-09-28 09:08] icanhazstring commented on #43213
Same as #43212

[2021-09-28 09:13] mkilmanas commented on #43213
Affects at least Messenger and Translation components.
Test classes placed where the actual classes should be.

[2021-09-28 09:13] derrabus commented on #43213
Let's use the earlier issue for the discussion then.

[2021-09-28 09:13] #43213 closed, assigned to nobody

[2021-09-28 09:16] ghost commented on #43212
Same here. Autoloading breaks after running composer update.

[2021-09-28 09:16] HenkPoley opened #43215 "symfony/translation v4.4.31 does not comply with psr-4 autoloading standard"
**Symfony version(s) affected**: "symfony/translation": "v4.4.31" and composer.phar 2.1.8 on Windows

**Description**
When I install symfony/translation v4.4.30 I have no issues.

When I install symfony/translation v4.4.31 I get lots of `Class Symfony\Component\Translation\Exception\<ClassName> located in <project>/vendor/symfony/translation\<ClassName>.php does not comply with psr-4 autoloading s

[2021-09-28 09:16] lowwa132 opened #43216 "Upgrade from v4.4.30 to v4.4.31 fails"
**Symfony version(s) affected**: 4.4.31

**Description**

**How to reproduce**
Execute `./composer.phar update symfony/*`
Output:
Script cache:clear returned with error code 255

**Additional context**
![image](https://user-images.githubusercontent.com/3715048/135059504-9599c4d7-b791-432b-be8a-ca3937bb777c.png)

[2021-09-28 09:17] ioniks opened #43217 "Problem on update to 5.3.8 From 5.3.7"
**Symfony version(s) affected**: 5.3.8

**Description**
On update from 5.3.7 to 5.3.8

[code]

[2021-09-28 09:17] gjuric opened #43218 "Class "Symfony\Component\Mailer\EventListener\EnvelopeListener" used for service "mailer.envelope_listener" cannot be found."
**Symfony version(s) affected**: 5.3.8

**Description**

After upgrading from v5.3.7 to v5.3.8 the following errors occurs:

    Class "Symfony\Component\Mailer\EventListener\EnvelopeListener" used for service "mailer.envelope_listener" cannot be found.

called from **RegisterListenersPass.php (line 143)**

**Possible Solution**
EnvelopeListener.php file should be moved to EventListener folder.

[2021-09-28 09:19] gjuric commented on #43218
It looks like we posted at the same time, duplicate of #43217 but since this one proposes a solution I am not going to close it.

[2021-09-28 09:19] drupol commented on #43212
Same issue: https://pastebin.com/bEK51cD3

[2021-09-28 09:19] hhamon commented on #43212
Experiencing similar issue as well:

[code]

The `Symfony\Component\Messenger\Middleware` namespace doesn't have a `MiddlewareInterface`...

[2021-09-28 09:20] slappyslap opened #43219 "Symfony/Translation update error"
**Symfony version(s) affected**: 4.4.31

**Description**
![image](https://user-images.githubusercontent.com/15176255/135059922-6105a5d5-d460-4a20-9972-0a6a30699189.png)

Error after composer update

**How to reproduce**
Composer update a symfony 4

**Possible Solution**

https://github.com/symfony/translation/commit/9448b295d7c1006db91eb2187df0ea86ea9cf224#diff-098e9cedea5219a72206b689ed5567d5d221

[2021-09-28 09:23] kissifrot commented on #43217
Looks like composer have a lot of complains about psr4:
[code]

[2021-09-28 09:23] phprus commented on #43219
Similar issue on ``composer up`` execution:
[code]

[2021-09-28 09:24] icanhazstring commented on #43175
@xabbuh created a small symfony project displaying this problem.
Also added a readme with the problem.

See: https://github.com/icanhazstring/symfony-messenger-43175

[2021-09-28 09:24] frenchcomp commented on #43215
To complete this issue, I have also an error in my IC tests
PHP Fatal error:  Uncaught Error: Class "Symfony\Component\Translation\Formatter\MessageFormatter" not found

And in the vendor folder of Symfony/Translation, i have only tests files.

[2021-09-28 09:24] Bilge opened #43220 "TranslationPullCommand cannot be found"
**Symfony version(s) affected**: 5.3.8

**Description**
Upgrading v5.3.7 => v5.3.8 gives:

**How to reproduce**
[code]

**Possible Solution**
Downgrade to 5.3.7.

[code]

**Additional context**
I don't understand how this is happening. The service definition seems to be pointing to a class that exists.

[2021-09-28 09:24] szepczynski opened #43221 "symfony/messeger - wrong namespace - Symfony\Component\Messenger\Middleware\MiddlewareInterface"
**Symfony version(s) affected**: 5.3.8

**Description**
Hi,

After upgrade to 5.3.8 from 5.3.7 I'm started getting an error:

[code]

I checked and found that MiddlewareInterface is located in ./vendor/symfony/messenger/MiddlewareInterface.php but the namespace is "Symfony\Component\Messenger\Middleware". I guess that this middleware should be moved into Middleware subdirectory

[2021-09-28 09:24] ioniks commented on #43217
@kissifrot me too

[2021-09-28 09:24] derrabus commented on #43215
Duplicate of #43212

[2021-09-28 09:24] #43215 closed, assigned to nobody

[2021-09-28 09:24] derrabus commented on #43216
Duplicate of #43212

[2021-09-28 09:24] #43216 closed, assigned to nobody

[2021-09-28 09:25] derrabus commented on #43217
Duplicate of #43212

[2021-09-28 09:25] #43217 closed, assigned to nobody

[2021-09-28 09:26] derrabus commented on #43218
Duplicate of #43212

[2021-09-28 09:26] #43218 closed, assigned to nobody

[2021-09-28 09:27] nikolinmajmari opened #43222 "Class "Symfony\Component\Mailer\EventListener\EnvelopeListener" used for service "mailer.envelope_listener" cannot be found."
**Symfony version(s) affected**: 5.3.8
![Capture](https://user-images.githubusercontent.com/51003589/135061194-ea151864-77d9-4035-9981-14b84e46a506.PNG)

**Description**
 I just created a new symfony 5.3.8 project using php 8.0.10 , composer 2.1.3.  Then the program is not executed  and this errorr is shown

Executing script cache:clear [KO]
 [KO]
Script cache:clear returned with error code 1
!!
!

[2021-09-28 09:27] yann-eugone commented on #43212
While everyone is working on a bugfix release for this, you can skip this version with a `conflict` instruction in your `composer.json`

[code]

[2021-09-28 09:27] icanhazstring commented on #43221
Duplicate to #43212

[2021-09-28 09:27] icanhazstring commented on #43222
Duplicate to #43212

[2021-09-28 09:28] derrabus commented on #43219
Duplicate of #43212

[2021-09-28 09:28] #43219 closed, assigned to nobody

[2021-09-28 09:28] gjuric commented on #43212
Mailer is also problematic.

[2021-09-28 09:28] icanhazstring commented on #43220
Duplicate to #43212

[2021-09-28 09:28] #43221 closed, assigned to nobody

[2021-09-28 09:28] #43222 closed, assigned to nobody

[2021-09-28 09:28] #43220 closed, assigned to nobody

[2021-09-28 09:28] derrabus commented on #43220
Duplicate of #43212

[2021-09-28 09:28] icanhazstring commented on #43212
Someone pointed out this commit as possible problem?https://github.com/symfony/messenger/commit/2c472d5c36f599786229d2b6effa7201891a81f0

[2021-09-28 09:28] derrabus commented on #43222
Duplicate of #43212

[2021-09-28 09:29] derrabus commented on #43221
Duplicate of #43212

[2021-09-28 09:29] drupol commented on #43212
I think this is indeed a part of the issue.

[2021-09-28 09:31] Bilge commented on #43212
How did automated tests not catch this? 🤔

[2021-09-28 09:32] drupol commented on #43212
The problematic commits are:

- symfony/messenger: https://github.com/symfony/messenger/commit/2c472d5c36f599786229d2b6effa7201891a81f0
- symfony/translation: https://github.com/symfony/translation/commit/89b162f3d885bae57a79f83df2fc0c4228c117ba
- symfony/mailer: https://github.com/symfony/mailer/commit/ea6c7db7e5f67acb4efb910ed2dd8c7787a61c74
- symfony/notifier: https://github.com/symfony/notifie

[2021-09-28 09:33] jvasseur commented on #43212
Those commits doesn't have this problem in the main repo, it looks like there is a problem in the subtree split process.

[2021-09-28 09:35] szepczynski commented on #43212
I got issue also with symfony/notifier, the full conflict that works:

[code]

[2021-09-28 09:37] jaminellis opened #43223 "fix merge issue in Symfony\Translation"
**Symfony\Translation 5.3.8

**Description**
https://github.com/symfony/translation/tree/v5.3.8 seems to have moved the files into the route, which is leading to multiple errors eg Uncaught Error: Class 'Symfony\Component\Translation\Formatter\MessageFormatter' not found in /var/www/html/vendor/symfony/translation/Translator.php on line 97

**How to reproduce**
Any use of the Translator class will

[2021-09-28 09:38] jderusse commented on #43223
Duplicate of #43212

[2021-09-28 09:38] #43223 closed, assigned to nobody

[2021-09-28 09:42] derrabus commented on #43213
Duplicate of #43212

[2021-09-28 09:44] williamdes commented on #43212
[code]
On old Laravel projects...
Seems like some quality checks are missing..

[2021-09-28 09:44] javiereguiluz commented on #43212
Update: thanks for reporting this issue. We're aware of it and we think we found the cause. We're working on a fix and we hope to fix this very soon. Thanks!

[2021-09-28 09:52] Dectom opened #43225 "Composer "Class 'Symfony\Component\Translation\Loader\ArrayLoader' not found" Error"
**Symfony version(s) affected**: v4.4.31 I think

**Description**
No code has changed for us, Attempted a Composer install on a fresh instance and got this error, attempted a dump auto-load on an existing instance and got the same error... No matter what we do here running composer install or dump it returns the following

I have attempted to checkout a version of our project where a deployment wa

[2021-09-28 09:53] benjdl commented on #43225
I encounter the same issue. I've just downgraded to v5.3.4 for the moment.

[2021-09-28 09:55] Dectom commented on #43225
Sorry for being a bit stupid here but how should I downgrade the package version? It's a dependency of a different package so how would I specify what version I want to use?

[2021-09-28 09:56] derrabus commented on #43225
Duplicate of #43212

[2021-09-28 09:56] #43225 closed, assigned to nobody

[2021-09-28 09:56] clk528 commented on #43225
+1

[2021-09-28 10:04] naifalshaye opened #43226 "Composer install or update not working anymore Class "Symfony\Component\Translation\Loader\ArrayLoader" not found"
**Symfony version(s) affected**:

**Description**

Composer install or update not working anymore   Class "Symfony\Component\Translation\Loader\ArrayLoader" not found

**How to reproduce**
composer install or composer update

**Possible Solution**

**Additional context**

[2021-09-28 10:06] tseho commented on #43226
Already reported here: https://github.com/symfony/symfony/issues/43212

[2021-09-28 10:06] derrabus commented on #43226
Duplicate of #43212

[2021-09-28 10:06] #43226 closed, assigned to nobody

[2021-09-28 10:08] phil-davis commented on #43226
See comment https://github.com/symfony/symfony/issues/43212#issuecomment-929029937

They know about the problem and a fix is coming.

[2021-09-28 10:08] silverbackdan opened #43227 "[Mailer][Translation]: Class not found from v5.3.8"
**Symfony version(s) affected**: 5.3.8

**Description**
Possibly related to https://github.com/symfony/symfony/issues/43212 and https://github.com/symfony/symfony/issues/43226

**How to reproduce**
Clear cache with 5.3.8 of either bundle installed results in:
[code]
or
[code]

The classes to exist

**Possible Solution**
Not sure what would have caused this, a composer namespace config update?

**A

[2021-09-28 10:09] derrabus commented on #43227
Duplicate of #43212

[2021-09-28 10:09] #43227 closed, assigned to nobody

[2021-09-28 10:10] silverbackdan commented on #43227
I saw the comments were added as I was writing up, thanks @derrabus - sorry for dupe.

[2021-09-28 10:10] gander opened #43228 "Updating symfony/translation: Missing ArrayLoader class"
**Symfony version(s) affected**: 4.4.31

**Description**
The error occurred in another package, but I only updated the `symfony/translation` package and this one had _"no significant changes"_.

**How to reproduce**
`Upgrading symfony/translation (v4.4.30 => v4.4.31)`

**Additional context**
[code]
[code]

[2021-09-28 10:11] derrabus commented on #43228
Duplicate of #43212

[2021-09-28 10:11] #43228 closed, assigned to nobody

[2021-09-28 10:12] jokaorgua commented on #43212
don't you think that 5.3.8 tag should be removed from the list of releases until the issue will be fixed to decrease the bug effect?

[2021-09-28 10:12] javiereguiluz commented on #43212
This issue affects to Messenger, Mailer, Notifier and Translator (all of them have bridges). We've fixed the problem and we're force pushing those four repositories, so this should be fixed in just a few minutes.

~If things go as expected, there's no need to remove the 4.4.31 and 5.3.8 releases or re-release them. They will work again when the repositories are re-pushed.~

[2021-09-28 10:13] gander commented on #43212
Same as **_v4.4.31_**

[2021-09-28 10:16] jokaorgua commented on #43212
@javiereguiluz were the tests added to cover this situation in the future?

[2021-09-28 10:19] javiereguiluz commented on #43212
Sadly, PHPUnit/Symfony tests don't matter in this case. It was a bug related to the release process (the actual splitting of the Symfony monorepo into hundreds of stand-alone packages and pushing them to GitHub).

[2021-09-28 10:20] javiereguiluz commented on #43212
Update: apparently, the four faulty components (Messenger, Mailer, Notifier and Translator) have been fixed and we're starting a new release process. Hopefully this will be fully fixed in just a few minutes. Thanks!

[2021-09-28 10:23] Bilge commented on #43212
@javiereguiluz I think we understand the current tests do not cover this, and perhaps even the current testing approach could not cover this, but without fully understanding the problem I would nevertheless tend to assume it would still be *possible* to write a test to cover this, even if it requires a new testing approach to cover component integration.

Aside, what exactly was the problem here?

[2021-09-28 10:23] gander commented on #43212
[code]

[2021-09-28 10:25] javiereguiluz commented on #43212
The new 4.4.* version has been released. Please, run `composer update` again if you use that branch.

The 5.3.* version will follow very soon.

[2021-09-28 10:26] Messhias commented on #43212
Didn't worked out:
<img width="1417" alt="Screenshot 2021-09-28 at 11 25 53" src="https://user-images.githubusercontent.com/1161283/135070240-ce9540d4-ca93-4576-8cba-eb773e7099ba.png">

[2021-09-28 10:28] kylekatarnls commented on #43212
4.4.32 and 5.3.9 are intended to fix it, which is your exact version?

[2021-09-28 10:28] javiereguiluz commented on #43212
Please note that the most recent 4.4 version is 4.4.32 (https://github.com/symfony/symfony/releases/tag/v4.4.32) but Composer/Packagist cahce might still install 4.4.31 for you.

[2021-09-28 10:28] acardielf commented on #43212
It works!

![imagen](https://user-images.githubusercontent.com/1655777/135070586-d6068d2f-c215-451f-ac82-33259c6b25f3.png)

[2021-09-28 10:29] PhilETaylor commented on #43212
Doesnt work for me.

I note in @ancafe he doesnt have `symfony/mailer`?

<img width="796" alt="Screenshot 2021-09-28 at 11 28 41" src="https://user-images.githubusercontent.com/400092/135070606-0ab9ce5b-9d98-4078-b1af-07e8bac255f3.png">

[2021-09-28 10:29] Messhias commented on #43212
After delete `composer.lock` and the vendor folder it worked.

So everyone: don't just run composer update. That the steps:

1 - delete vendor folder.
2 - delete `composer.lock` file.
3 - run composer update.

And they worked out.

[2021-09-28 10:29] javiereguiluz commented on #43212
Final? update: this seems to have been fixed. Please update to get the latest versions:

* https://github.com/symfony/symfony/releases/tag/v4.4.32
* https://github.com/symfony/symfony/releases/tag/v5.3.9

If there's some persisting cache issues, you can try running `composer clear-cache` or even removing the entire `vendor/` directory and installing dependencies again. But that shouldn't be necess

[2021-09-28 10:30] sinnbeck commented on #43212
I had to clear composer cache with  `composer clearcache` to get it working

[2021-09-28 10:30] kolydart commented on #43212
Working for me! THANKS!

[2021-09-28 10:31] BoGnY commented on #43212
v5.3.9 fix the problem!

thanks!

[2021-09-28 10:31] bastihilger commented on #43212
Works for me - thank you for reacting so quickly.

[2021-09-28 10:31] RSickenberg commented on #43212
Working, please use `composer cc` to make it works, no need to redownload the internet a second time.

Thanks @javiereguiluz for fixing this quickly!

[2021-09-28 10:32] javiereguiluz commented on #43212
Thanks should go to Fabien and Nicolas who actually worked on fixing this problem! (and Alexander and others from the Core Team for alerting us early and for managing all the duplicated issue reports) And thanks to all the community for the quick reportings and all your feedback during the resolution process.

[2021-09-28 10:35] volkv commented on #43212
That was unexpected and painful lol

[2021-09-28 10:36] acantepie commented on #43212
I am stuck with symfony 5.3.8, and dunno why. Composer wont dl 5.3.9. I have tried all command above

[2021-09-28 10:38] volkv commented on #43212
`composer cc && composer update` worked for me

[2021-09-28 10:38] phil-davis commented on #43212
Note: https://symfony.com/blog/symfony-4-4-32-released

The "list of changes" has just an empty bullet-point. That will be confusing for readers. I guess the blog post is auto-generated.

[2021-09-28 10:39] nicolas-grekas commented on #43212
Use composer 2 if possible for faster updates (then no need for `composer cc`)

[2021-09-28 10:39] oachoor commented on #43212
Works, except for `symfony/notifier` which still throwing:
[code]

[2021-09-28 10:41] rtwent commented on #43212
Api-platform while `composer update` fails with "* does not comply with psr-4 autoloading standard. Skipping.". It attempts to install `symfony/translation (v5.3.8)`

[2021-09-28 10:42] fabpot commented on #43212
Fixed now

[2021-09-28 10:42] #43212 closed, assigned to nobody

[2021-09-28 10:44] acantepie commented on #43212
Working only with composer 2 for me :
[code]

[2021-09-28 10:45] ARB-aarontolentino commented on #43212
Fixed now at  5.3.9. thanks @fabpot

[2021-09-28 10:46] fabpot commented on #43212
`composer up` should be enough with Composer 2.
If you are still using Composer 1, you might need to run `composer clear-cache` and remove the `vendor` directory before running `composer up` again.

[2021-09-28 10:47] wouterj commented on #43212
But really, if you're still using Composer 1 consider upgrading to Composer 2 using `composer self-update --2` first.

It makes fixing issues quicker, it makes downloading anything quicker and it saves the planet a bit better than Composer 1.

[2021-09-28 10:48] simonberger commented on #43212
There is no new release of symfony/translation for v4.4 yet.

[2021-09-28 10:48] fabpot commented on #43212
There is no need for new releases. I've removed the broken tag, which is enough (as there were no changes still the last tag).

[2021-09-28 10:49] fabpot commented on #43212
There are new releases for components that have changed since the last release though.
Again, if you follow my instructions above, that should be enough.

[2021-09-28 10:49] WifiAccessPoint commented on #43212
I have the same issue as @rtwent

[2021-09-28 10:51] phil-davis commented on #43212
I am still getting:
[code]

Am I supposed to see `symfony/translation` 4.4.32 soon, or is 4.4.31 supposed to disappear, or?

[2021-09-28 10:52] nam89vn-tda commented on #43212
@fabpot
![image](https://user-images.githubusercontent.com/71623219/135073774-4dc9bb8a-8737-4ae1-ba72-9d2f0af73e05.png)

[2021-09-28 10:52] simonberger commented on #43212
I can work around the issue and just conflicted the 4.4.31 releases, but keep in mind there are a lot of proxy solutions out there not using packagist directly. I am not sure artifactory will ever forget the release or at least it will take some time.

[2021-09-28 10:53] phprus commented on #43212
Symfony version: 4.4.30:

[code]

[2021-09-28 10:54] dathwa commented on #43212
Still getting this error on the octobercms platform. Tried composer cc, tried deleting venor and composer.lock, then composer update. still seeing `Downloading symfony/translation (v4.4.31)   `

[2021-09-28 10:54] javiereguiluz commented on #43212
We're locking this issue because the problem was solved. If you still have issues, you can ask in the #support channel of https://symfony.com/slack or in the [Symfony Discussions](https://github.com/symfony/symfony/discussions) at GitHub

-----

### Problem

There was a temporary problem related to class autoloading of some Symfony components. The problem is now fully fixed.

### Solution

If you

[2021-09-28 11:00] fabpot commented on #43212
I've just created the missing tags to ensure a smoother upgrade for everyone. So, a "simple" `composer up` should work everywhere now.

[2021-09-28 11:21] #42724 closed, assigned to nobody

[2021-09-28 11:22] mstaack commented on #43212
all working again, thanks 👍🏼

[2021-09-28 11:34] dmlogic commented on #43212
Thank you for the speedy fix everyone. We found this problem via Carbon and all working fine again now

[2021-09-28 11:56] nikophil commented on #43193
Thanks for tackling that @alexandre-daubois

[2021-09-28 12:17] gh0sthx commented on #43212
Has V4.4.31 been deleted？ I cant find this version

[2021-09-28 12:30] derrabus commented on #43212
Yes, the broken packages have been removed from packagist.

[2021-09-28 12:37] chalasr commented on #43042
I think the helper should handle this case internally: #43235

[2021-09-28 13:06] #39921 closed, assigned to Nyholm

[2021-09-28 13:16] stof commented on #43042
I'm wondering whether the helper should handle this, or whether UsageTrackingTokenStorage should instead accept getting a token from it outside request contexts.

[2021-09-28 13:23] jderusse commented on #43042
Same feeling for me.. Removing the deprecation (and let the method returning `null`) would work for me

[2021-09-28 13:43] phamviet opened #43237 "Ability to start & stop SMTP connection when needed"
**Description**
I am using Mailer in Messenger worker long lived process with AWS SES SMTP interface and it keep throwing error:

I know i can get rid of this error by setting `ping_threshold: 0`  but it is not efficient since the transport have to ping server on every email sending out. It is better to manually stop transport connection when Messenger message get handled (with all emails are sent

[2021-09-28 14:11] ankahla commented on #33311
As menstionned here https://github.com/symfony/symfony/issues/33311#issuecomment-535104030 guzzle output the request headers (including default headers in configuration).
@nicolas-grekas even with this PR #35407 we still not collecting all headers (headers defined in configuration are missing).
I think we need to expose `defaultHeaders` and get them from `HttpClientTrait` directly.

[2021-09-28 14:51] gnat42 commented on #43141
Thanks @chalasr I figured there was a reason but wanted to make sure but couldn't find any. Thanks for the explanation

[2021-09-28 14:55] chalasr commented on #39771
Fixed in https://github.com/actions/starter-workflows/pull/1069 thanks to @TheGarious.

[2021-09-28 14:58] chalasr commented on #43042
If we can get rid of that notice while keeping the BC layer efficient enough, I'm all for removing it. I'm going to investigate

[2021-09-28 19:16] yapro commented on #30420
If you want a prod env, you need to config/packages/framework.yaml add:
[code]
and into phpunit.xml.dist add APP_ENV = prod:
[code]

[2021-09-28 22:19] wbrinkman commented on #42725
Recently came across this as well, but found the answer in an older issue:
https://github.com/symfony/symfony/issues/6763#issuecomment-12333528

While the form docs do not explicitly mention it, the validation docs do:
https://symfony.com/doc/current/validation/translations.html

[2021-09-28 22:49] bigfoot90 commented on #33955
Are there any news on this?

[2021-09-29 01:16] gh0sthx commented on #43212
Why is arrayLoader.php file missing from V4.4.31?

[2021-09-29 06:06] #43042 closed, assigned to nobody

[2021-09-29 06:24] pbek commented on #42895
I can report that the `Performance metrics` are working again on 5.3.9. Thank you very much!

[2021-09-29 06:42] #43193 closed, assigned to nobody

[2021-09-29 07:42] NezaelHD opened #43244 "PUT or PATCH request does not work with my edit form, only POST is working"
Hello,

I am making an edit form in order to edit users.
I wanted to respect HTTP verbs so i edited my `editUser` function in order to send a `PUT` request instead of `POST`.
Unfortunately this does not work, datas are not submitted and my form is rendered again.
I did a bit of digging in order to find why this does not work and i saw that when the request is of type `PUT` the method `isSubmitted`

[2021-09-29 08:14] nyneplus commented on #35331
@papnoisanjeev ever found a solution?
When i edit EmailService.php to use the alias directly by name:
` $mailer = $this->container->get('swiftmailer.mailer.mailer_4650');`
 it works but by class i get this error.

UPDATE
Found it! never name the mailer id default... If it is default it is cleared because internally it is used too...

[2021-09-29 08:28] ilianiv commented on #42683
I have the same incompatibility problem. I don't even use the symfony framework, only the symfony/console package which requires psr/container 1 and my other dependencies require psr/container 2 :(

Waiting for an update.

[2021-09-29 08:31] stof commented on #42683
@ilianiv as said in the previous comment, support for psr/container 2 is coming in Symfony 6 (as it requires a BC break in `symfony/service-contracts` and `symfony/dependency-injection`)

[2021-09-29 08:32] wouterj commented on #42683
As mentioned in the message before yours, updates will come. They won't come any faster with this message, nor any slower. They'll be released at the predefined release time.

A backwards compatibility breaking change can't come as fast as other changes. This stability and the predictable release plan are great assets of Symfony's components, allowing many other libraries to safely use them (like

[2021-09-29 08:47] derrabus commented on #42683
Let's lock the thread to avoid more "me too"s. The issue is solved, the ETA for the release has been communicated:

➡️  **Symfony 6.0 in November 2021** ⬅️

[2021-09-29 08:51] adrienfr commented on #42850
Hi,

I have the same issue since 5.3.8 release and this [change](https://github.com/symfony/symfony/pull/42979/files).

I created a small reproducer [here](https://github.com/adrienfr/sf-test-multiple-loginUser).

When calling `loginUser` multiple times within the same test, user doesn't change in the app:
[code]

Do I need to reset something between each `loginUser` call?

[2021-09-29 11:05] mynameisbogdan commented on #43244
Check https://symfony.com/doc/current/reference/configuration/framework.html#http-method-override since now by default comes disabled in 5.3.

[2021-09-29 11:05] papnoisanjeev commented on #35331
@nyneplus

Actually in our case this issue was coming due to password contains  !   and after changing password and use a simple one it started working.

Also we finally we encrypted the password and decrypted it later resolved the issue and accept each and every password for swiftmailer may be it is coming while parsing specials characters if present in password.

[2021-09-29 11:17] NezaelHD commented on #43244
Thank's for your answer, you solved the problem !
It is written "default:true" on the documentation so i did not investigate on that part.
A documentation update would be nice i think !

Problem solved so i close the issue thank's a lot again ! 😄

[2021-09-29 11:17] #43244 closed, assigned to nobody

[2021-09-29 11:41] ruudk opened #43245 "[DI] Services that are inlined or added to a service locator appear in `removed-ids.php` while they are still in use"
**Symfony version(s) affected**: 5.3

**Description**
I'm trying to use the `removed-ids.php` file that is automatically generated by Symfony to optimize my DI configuration. Mostly, I want to know when services are defined that are not used and remove them.

I noticed that the file is not that useful as it contains a list of all service definitions that were removed from the container. But most o

[2021-09-29 12:09] stof commented on #43245
When a service gets inlined, that id is indeed removed from the final container (you cannot use `$container->has()` or `$container->get()` with that id, but the `get` methods can know that this id used to exist and can adjust the error message). There is nothing guaranteeing that a removed id is equivalent to an unused service.

[2021-09-29 12:17] stof commented on #43245
I'm closing this as it is not a bug. You only have a different expectation about the content of that `removed-ids.php` file, and changing the content of that file would break the core feature using it.

[2021-09-29 12:17] #43245 closed, assigned to nobody

[2021-09-29 12:54] ruudk commented on #43245
What does that mean? What core is using this? I couldn't find it

edit: Found it: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php#L1e319

[2021-09-29 13:21] devnix commented on #40569
No @carlcasbolt, I think I'm going to get some spare time to replicate this

[2021-09-29 13:33] carlcasbolt commented on #40569
@devnix ??

[2021-09-29 13:35] devnix commented on #40569
WTF, excuse the typo, I was mentioning @carsonbot 😳

[2021-09-29 13:38] carlcasbolt commented on #40569
Sounds like an interesting problem and I might find myself trying a few things myself now 😉

[2021-09-29 13:41] #38901 closed, assigned to nobody

[2021-09-29 14:09] adrienfr commented on #41590
@guillaumesmo could you try to check if it still works for you with SF 5.3.9? I have an issue with multiple `loginUser()` since the new release, see [here](https://github.com/symfony/symfony/issues/42850#issuecomment-929973063).

[2021-09-29 17:19] #43207 closed, assigned to nobody

[2021-09-29 17:21] #42806 closed, assigned to nobody

[2021-09-30 06:32] ivuorinen commented on #41819
I could take this one.

[2021-09-30 07:38] derrabus commented on #41819
Sure, go ahead.

[2021-09-30 08:15] ivuorinen commented on #41819
If it's no problem, I'll do this tomorrow, or Sunday at latest -- mainly for those sweet hacktoberfest stats 😄

[2021-09-30 08:50] m-vo commented on #43162
In non-windows environments, we're currently replacing the current shell (that PHP starts automatically) with the command to run by prepending it with `exec `. This makes sure signaling to the process is possible.

For chained commands this cannot work because there is no shell to start the subsequent commands (`exec foo && bar`). We could however prepend a pipe in that case so that subprocesses a

[2021-09-30 09:02] erikas-tranauskas opened #43250 "amqp-messenger $amqpEnvelope->getHeaders() gives Symfony FlattenException::setStatusText() must be of the type string, null given"
**Symfony version(s) affected**: 5.2.1
**AMQP-Messenger versions(s) affected**: 5.2.1

**Description**
I have a strange case where sometimes I start getting these errors while consuming RabbitMQ message via supervisor:
`{"class":"TypeError","message":"Argument 1 passed to Symfony\\Component\\ErrorHandler\\Exception\\FlattenException::setStatusText() must be of the type string, null given, called i

[2021-09-30 09:06] derrabus commented on #43162
Sounds like a good idea to me.

[2021-09-30 09:12] nicolas-grekas commented on #43162
I'm not sure I would recommend adding `withChainedCommand` on the `Process` class.
But a shell command line builder would allow doing that I suppose.

[2021-09-30 09:30] hbouhadji commented on #41151
+1

[2021-09-30 09:31] m-vo commented on #43162
You mean a builder that creates shell system specific shell commands that are then treated as "raw input" like with `Process::fromShellCommandline()`? I think we would loose things like signaling then as well.

We could also introduce a new `Operator` class that you could use like this:
[code]

So the array of commands would be `array<string|Process>` and the operators are substituted with unescap

[2021-09-30 09:36] nicolas-grekas commented on #43162
Why would we loose anything? In the end, the only way to achieve what you describe is to build a shell command line, there is no other way. So yes, I'm thinking about a builder that would generate a string that is then provided to `fromShellCommandline()`.

[2021-09-30 09:38] nicolas-grekas commented on #43162
Another idea: since PHP 7.4, `proc_open()` accepts an array directly. Maybe this removes the overhead you're mentioning, since that's the main motivation for this request. Would you like to have a look?

[2021-09-30 09:42] m-vo commented on #43162
I get your point. My thinking was: We're only adding `exec` to the array version, now, but we want it to be an implementation detail. And then it would be coupled to the builder class as well (*if* it's needed for chained commands).

:+1: I'll have a look.

[2021-09-30 10:06] nicolas-grekas commented on #43162
We could achieve that by wrapping the call to `fromShellCommandline` inside a `getProcess()` method on the builder maybe.

BTW, I'm sure we can cleanup the code on branch 6.0 by leveraging this! PR welcome :)

[2021-09-30 11:31] damienalexandre commented on #32336
I don't know if you found a working solution, but I just needed the same thing and using `submit()` was the way to go.

Then about the CSRF protection, injecting a valid tokens works for me, I published a working example here: https://jolicode.com/blog/display-symfony-form-errors-without-any-submit

[2021-09-30 11:32] AndreasA commented on #22592
Isn't the issue just that the validator uses `get_class($entity)` at two places in the code where the entityClass should be used with a fallback to `get_class($entity)`? wouldn't this already be enough ?

In any case, this is still an issue and requires fixing.

[2021-09-30 11:38] AndreasA commented on #22592
I just encountered the same issue and it should definitely be fixed as using a DTO is just cleaner than using the entity directly, especially with multiple APIs and possible necessary transformations.

Would be great if it would make it into 5.4

And the PR above https://github.com/symfony/symfony/pull/38662 seems to address and fix this issue already, it even takes possible property / field mappi

[2021-09-30 11:38] AndreasA opened #43254 "[DoctrineBridge] [Validator] UniqueEntityValidator should limit the retrieved entities to `2` to avoid potential memory issues with `broad` queries"
**Symfony version(s) affected**: 4.4.* and 5.3.*

**Description**
It isn't that huge an issue because the validator isn't supposed to be use in this way but in theory it would be possible to check uniqueness against a property that isn't strictly unique, e.g. due to old imported data.

This means that the validator could retrieve all those entities. However, in order to determine uniqueness it is

[2021-09-30 11:55] wouterj commented on #41151
Seems like multiple people want this (at least 4 people that have visited this issue). Is anyone up to provide a PR for this change? I would say adding an `?int $lifetime = null` extra argument might be the best option.

[2021-09-30 12:04] christianostrem opened #43256 "Firewall: Restrict access to web profiler (_profiler) for other users than ROLE_ADMINSTRATOR"
**Symfony version(s) affected**: 5.3.7

**Description**
Restrict access to web profiler (_profiler) for other users than ROLE_ADMINSTRATOR

**How to reproduce**
In security.yaml set following settings:

[code]

**Additional context**
If you login and have the role ROLE_ADMINISTRATOR you will not get access to the profiler
and the web profiler says that you are not logged in ROLE_ADMINISTRATOR

If

[2021-09-30 12:04] makraz commented on #41151
@wouterj I'm preparing a PR 👍

[2021-09-30 12:05] hbouhadji commented on #41151
For me, i'm more interested about an "redirect uri after success login" for example like @Warxcell said. I want to redirect a customer to a specific authenticated route by sending a link by email

[2021-09-30 12:58] chalasr commented on #43048
PR welcome

[2021-09-30 13:41] #40381 closed, assigned to nobody

[2021-09-30 13:44] #43250 closed, assigned to nobody

[2021-09-30 13:59] amouhzi opened #43258 "[DependencyInjection] [Routing] BC break: router.request_context.base_url with key:path:url: doesn't work anymore in configuration since 5.2.7"
**Symfony version(s) affected**: ^4.4.22, ^5.2.7 and ^5.3.0

**Description**
Since the commit [2876c](https://github.com/symfony/symfony/commit/2876cf9cc6af8667611980d2796e5f0705bba3b9) we can no longer use URL Env Var Processor functionality to fill `router.request_context.base_url` in the configuration, because the method `Symfony\Component\Routing\RequestContext::fromUri` does not accept null.

[2021-09-30 14:54] agustingomes opened #43260 "[Config] Reflection failure when using `new` in initializers in PHP 8.1"
**Symfony version(s) affected**: 5.3.4 (and potentially other versions allowed to run in PHP 8.1)

**Description**
PHP 8.1 introduces the ability to add [New in initializers](https://wiki.php.net/rfc/new_in_initializers). This breaks the [ReflectionClassResource.php](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Config/Resource/ReflectionClassResource.php#L205) when the reflect

[2021-09-30 15:04] nicolas-grekas commented on #43260
PR welcome indeed!

[2021-09-30 15:09] agustingomes commented on #43260
Will try to dedicate it some time this evening, otherwise I'll come back to it during early october.

[2021-09-30 15:12] MichaelBrauner commented on #32336
Some kind of baked in `initial_validation => true` form option would be great. Maybe this could be solved with a `ValidationListener` on `POST_SET_DATA`.

I dont't know what kind of pitfall are waiting there, but it would be a great win for symfony forms.
I am sure, when this functionality is there - it will be used a lot.

[2021-09-30 16:27] simonberger opened #43263 "[DependencyInjection] CheckTypeDeclarationsPass does not validate deprecated services (in lint:container)"
**Symfony version(s) affected**: 4.4, 5.3

In this bug report I mean the usage of the pass in the `lint:container` usage. I am not aware of other usages.
When calling `lint:container` it won't report broken services that are marked as deprecated.

If the service is deprecated it calls the parent `processValue` function and with this skips the validation.

[code]

[2021-09-30 16:52] simonberger commented on #43263
Had been done in this PR #39861
I am not sure the described effect here had been intended with the change.

[code]

This service is reported by the lint command without marked as deprecated but not when it is.

/cc @chalasr

[2021-09-30 18:36] Philostastically opened #43266 "KernelBrowser reinitializes TokenStorage on subesequent Request calls"
**Symfony version(s) affected**: 5.3.7

**Description**
When calling multiple subsequent requests on the same instance of KernelBrowser, only the first request will have the proper authentication. Upon the 2nd request, the TokenStorage will be reinitialized and will have lost the token, meaning if the user needs to be authorized, the request will result in a 403 Access Denied response.

**How to r

[2021-09-30 21:56] agustingomes commented on #43260
@nicolas-grekas I proposed a fix on the PR https://github.com/symfony/symfony/pull/43267

All the GitHub actions are passing, ~but the AppVeyor checks are failing and I'm not sure why. Can you check to see if I need to do something extra?~ and appveyor is now passing as well.

[2021-10-01 09:21] lyrixx opened #43271 "[RFC][Messenger] Remove ResetLoggersWorkerSubscriber"
Hello,

Since #41163 and #43133 I think #40761 is not needed anymore.

**TL;DR:**

* #41163 In Symfony 5.4 a new system could reset the container between each (AMQP, redis, etc) message. This works by using ServiceResetter between each message (in a worker only)
* #43133 In symfony 5.4, a deprecation notice appear to force user to enable `reset_on_message` (disabled by default to be BC).
* In symf

[2021-10-01 09:57] xabbuh commented on #42725
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-10-01 09:57] #42725 closed, assigned to nobody

[2021-10-01 09:57] xabbuh commented on #43024
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-10-01 09:57] #43024 closed, assigned to nobody

[2021-10-01 10:04] fabpot commented on #43271
#40761 has been introduced in 5.3, not 5.4, so we need a proper deprecation in 5.4 and full removal on 6.0.
:+1: for doing so.

[2021-10-01 10:15] BafS opened #43272 "[DependencyInjection] Non-existent "inner" service when decorated and autowired"
**Symfony version(s) affected**: > v5.3.4

**Description**

There is a breaking change since DependencyInjection was updated (patch version !). It works fine from v5.0.0 to v5.3.4 but newer versions have a breaking change with decorated services. It seems it was introduced #42815 because of the pass order.

**How to reproduce**

[code]

This code works for versions <= v5.3.4 and is breaking for ve

[2021-10-01 10:41] stof commented on #43272
Can you provide the stack trace of the exception you get ?

[2021-10-01 10:55] BafS commented on #43272
Sure!

[code]

[2021-10-01 11:25] xabbuh commented on #43272
Do you still see the error with the latest patch release?

[2021-10-01 11:47] joshlopes opened #43274 "[Bug][PhPUnit] Memory leak since 4.4.20"
**Symfony version(s) affected**: 4.4.20...4.4.32

**Description**
I'm having a problem with 4.4.20 up to the latest version, since version 4.4.20 that my tests stopped running completely due to memory leak. It works on 4.4.19 but not on 4.4.20. Do you have any idea what might be causing this?

**How to reproduce**
Not sure what is causing the issue.

**Possible Solution**
Not sure.

**Additional c

[2021-10-01 11:52] wouterj commented on #43274
Hi! The description as it is isn't really helpful for debugging the issue unfortunately. I would say there are many applications using 4.4.20 without issues, so there probably is something different for your application that causes issues.

Please try to find what is causing the issue, for instance by using a PHP profiler (e.g. https://www.blackfire.io/) and by creating a [minimal reproducible exa

[2021-10-01 12:10] xabbuh commented on #43256
Can you explain a potential use case for this? The WDT is only used in the dev environment so I do not really see a reason to further restrict access to it there.

[2021-10-01 12:12] xabbuh commented on #43254
Sounds reasonable to me. As this looks like a performance improvement to me a PR should be opened against the `5.4` branch.

@AndreasA Up to give it a try?

[2021-10-01 12:14] stof commented on #43256
The default security config in the recipes defines a dev firewall disabling the firewall for the WDT and profiler URLs, allowing you to see those pages even when not logged in (which is useful to debug issues happening on the login page, or early in the request flow when the user is not authenticated yet, etc...).
If you actually want to apply access control on the firewall, you need to edit the p

[2021-10-01 12:27] joshlopes commented on #43274
@wouterj we could put in other words, is something my application might be doing (maybe because is a monolith and we have massive tests!) and something has changed in that version that is causing the memory leak. I guess I was hoping that looking at the versioning someone could point me the culprit...

Maybe this: https://github.com/symfony/symfony/pull/40067/files  ? But is a fix deprecation warn

[2021-10-01 12:29] christianostrem commented on #43256
In my case I have a dev environment on an open domain, where i test new development that hasn't reached the production yet. (With out the _profiler its not dangerous if someone finds it) The domain has to have ssl on it and and if its closed the  certbot wont be able to renew my cert. Since i dont want the web profiler (_profiler) to be open and accessible I require an admin role for it to be acce

[2021-10-01 12:42] nicolas-grekas commented on #43274
Maybe, or maybe not... I'm sorry but there is nothing actionable here.

[2021-10-01 12:55] fabpot commented on #43256
I'm going to close as we don't want to provide features that would make the profiler seems like being safe in the open, which will never be. stof actually described what you can do for your user case though.

[2021-10-01 12:55] #43256 closed, assigned to nobody

[2021-10-01 12:57] christianostrem commented on #43256
Ill figure something out :)

[2021-10-01 12:58] wouterj commented on #43274
E.g. you  can try reverting that code locally in your vendor directly and run your tests again. If the memory issue is fixed, you know that's where you need to debug for the memory leak. If the memory issue isn't fixed, it was not the issue causing the memory leak.

[2021-10-01 13:00] BafS commented on #43272
Yes with version v5.3.8 @xabbuh

[2021-10-01 13:04] wiistriker commented on #16026
-

[2021-10-01 13:35] marco-the-first commented on #43266
I think you have this problem because of the changes from @nicolas-grekas:

[code]
I had also same problem, i was using` storage_factory_id: session.storage.factory.mock_file` in framework setting and i changed it to` storage_id: session.storage.mock_file` and now it works.

tbh i'm not sure if his changes is correct, i think we should check if there is already a session before creating a new one

[2021-10-01 13:55] Seldaek commented on #40661
Still relevant, despite the workaround being in place, I don't think this should be necessary.

[2021-10-01 13:58] Philostastically commented on #43266
So this issue predates these changes by @nicolas-grekas, as 5.3.7 predates his commit. Also once I did update I'm afraid your fix doesn't work. I think it's because I'm only calling `loginUser()` once but calling request twice? It doesn't matter what happens on subequent calls of `loginUser()` (though I do think your reccomendation makes sense).

Even if implement your changes to framework.yaml an

[2021-10-01 13:59] BafS commented on #43272
Why was it closed?
If it was not clear, yes, I do have the bug with version 5.3.8 and 5.3.x-dev e39c344 too.

[2021-10-01 14:03] nicolas-grekas commented on #43272
Oops sorry I read too fast as this being fixed in 5.3.8

[2021-10-01 14:03] xabbuh commented on #43272
Can you create a small example application that allows to reproduce your issue?

[2021-10-01 14:17] BafS commented on #43272
I did a minimal snippet in the description to reproduce the issue.
You simply need to install `symfony/dependency-injection` to be able to reproduce.

- `composer req "symfony/dependency-injection:^5.3"`
- `php bug.php`

[2021-10-01 14:49] stof commented on #43266
@Philostastically if you are using a stateless authentication method (which is generally the case for APIs), being authenticated for a request does not make you being authenticated for the next one. You have to send the authentication headers in each request.

[2021-10-01 15:20] Philostastically commented on #43266
@stof Ah, that makes sense. This is my firewall settings for my test env (for the relevant route).
[code]

Before I migrated to this version symfony (we were on 5.2), we had a custom Authenticator which had been deprecated because of some security flaws, but we kept it around for the tests because thsoe security flaws made it very easy to write manually in the context of tests. I'd rather not reim

[2021-10-01 16:01] wouterj commented on #16026
I see mostly problems in this issue, but no proposed solutions on how to "fix" this issue in Symfony.

The only way I can see this issue move forward and no longer get these stalled questions is if people proposed solutions, maybe even as a pull request.

Note that a rememberme cookie is considered to be a weak authentication mechanism. As such, it is not considered "full fledged". That logic stil

[2021-10-01 16:12] okhoshi commented on #43272
If I may, I have the impression that all these DI issues @BafS mentioned in the OP are due to the various changes in CompilerPass ordering.

If I sum up:
- AutowirePass needs to run after the DecoratorPass for the described behaviour to work.
- DecoratorPass needs to run after the ServiceLocatorTagPass for the behaviour in #42347 to work.
- ServiceLocatorTagPass needs to run after the AutowirePass

[2021-10-01 18:55] stof commented on #43266
Well, the last example you gave, doing a `loginUser` before each call, could be fixed. Currently, `KernelBrowser` reboots the kernel at the beginning of `->request()` except for the first one. This is where things fails for now, as the `loginUser` actions done between both requests are happening on the state of the first request instead of happening after the reboot. I think `loginUser()` could ap

[2021-10-01 19:14] AndreasA commented on #43254
@xabbuh I can't guarantee that I will find the time but I will try to create a PR next week. It should be rather straight forward.
Testing the performance/memory improvement might be more tricky though. However, I guess as long as the existing tests still work as they do currently, it should be fine?

[2021-10-01 20:02] Jean85 commented on #43048
Opened #43281.

[2021-10-01 21:08] TravisCarden opened #43282 "[Finder] Finder::notPath treats absolute paths with trailing slashes as regexes"
**Symfony version(s) affected**: 4.4.30 & 5.3.7

**Description**

Given an absolute path with a trailing slash, `Finder::notPath()` thinks it's a regular expression and fails with "PHP Warning:  preg_match(): Unknown modifier".

**How to reproduce**
[code]

**Possible Solution**

Make it possible to specify that paths should be treated as literal strings, not regular expressions. I don't see a way

[2021-10-01 21:48] VictorABoye commented on #41041
I am looking into updating the Danish translations.

[2021-10-01 22:25] kafene opened #43284 "[HttpFoundation] Deprecate session.upload_progress.* and url_rewriter.tags as valid configuration options."
**Description**
While perusing the source of HttpFoundation on this beautiful Friday evening, I noticed that it permits configuration of the `session.upload_progress.*` and `url_rewriter.tags` ini settings.

In the case of `session.upload_progress.*` - [these are `PHP_INI_PERDIR` options](https://www.php.net/manual/en/session.configuration.php) and can not be configured at runtime with `ini_set`.

[2021-10-01 23:29] Nyholm commented on #41041
Great. Thank you

[2021-10-02 04:09] chris-k-k commented on #16026
I didn't work on the project that showed this behaviour for over a year (symfony 4.x), but I tried to replicate it in my current project (symfony 5.3).
The behaviour is still the same: If a user returns to the site with a remember-me cookie set and tries to access a page he/she is not authorized to view, instead of being redirected to the 403 page he/she is redirected to the login page.

@danielde

[2021-10-02 04:48] fabpot commented on #43284
@kafene Would you like to work on a PR deprecating these settings in 5.4 so that we can remove them in 6.0?

[2021-10-02 04:48] #41041 closed, assigned to nobody

[2021-10-02 04:49] fabpot commented on #43254
No need to test the performance change for this change IMHO.

[2021-10-02 06:28] dhgoratela commented on #41835
I am working on this issue

[2021-10-02 06:58] dhgoratela commented on #41873
I am working on this issue

[2021-10-02 11:02] Bilge opened #43288 "Include blocks"
**Description**
This is a proposal to pass Twig content inline via **blocks** embedded inside the **include** tag. The goal is to promote component architecture and code reuse by passing rich Twig-enabled markup to included templates inline, without having to produce concrete variants using separate files and the _extends_ tag.

Twig's current handling of reuse is a bit confused given that it prov

[2021-10-02 11:06] wouterj commented on #43288
Hi! This is the issue tracker for the Symfony framework, not for the development of Twig. Please open this issue in https://github.com/twigphp/Twig

[2021-10-02 11:06] #43288 closed, assigned to nobody

[2021-10-02 13:01] joshlopes commented on #43274
@wouterj @nicolas-grekas i found the issue, it was a `->shouldBeCalled()` on the logger, the console now throws a `->critical()` and i was expecting a `->error()` not really sure why it goes on madness and eats all the memory. Anyway I guess it changed somewhere the console / logger using ->critical instead error, and I guess it's a Prophecy issue not really Symfony's, as instead being able to han

[2021-10-02 13:01] #43274 closed, assigned to nobody

[2021-10-02 13:03] ajakov commented on #41829
I will take this issue.

[2021-10-02 13:06] #40352 closed, assigned to nobody

[2021-10-02 13:06] #40328 closed, assigned to nobody

[2021-10-02 13:06] stof commented on #40493
I don't see the value of this feature. If there is really a case needing it, `beforeNormalization` can already achieve it. But I don't think this use case is common enough to justify adding a feature dedicated to it (for instance, I don't see any place that would use it in core bundles, while they use the component extensively)

[2021-10-02 14:12] simonberger opened #43292 "HTTP Status message changes in www.iana.org result in failed tests"
Affected Symfony Versions: All (?)

Two HTTP Status messages have been changed in:

https://www.iana.org/assignments/http-status-codes/http-status-codes.xml

which is dynamically loaded in tests and results in 2 failed ones:

- 413 from `Payload Too Large` to `Content Too Large`
- 422 from `Unprocessable Entity` to `Unprocessable Content`

How is this handled? Will there be a change to the tests o

[2021-10-02 14:41] simonberger commented on #43292
Changes applied in draft 14
https://www.ietf.org/rfcdiff?url2=draft-ietf-httpbis-semantics-14.txt&url1=draft-ietf-httpbis-semantics-13.txt

[2021-10-02 14:43] nicolas-grekas commented on #43292
PR welcome :)

[2021-10-02 14:46] simonberger commented on #43292
I can do that I just don't know what. Can the status messages be changed? Isn't that part of BC?

[2021-10-02 19:35] kafene commented on #43284
@fabpot I would be happy to.

[2021-10-03 06:28] #41829 closed, assigned to nobody

[2021-10-03 06:28] #41873 closed, assigned to nobody

[2021-10-03 06:28] #41835 closed, assigned to nobody

[2021-10-03 06:43] ajakov commented on #41830
I will take this one

[2021-10-03 13:06] #27639 closed

[2021-10-03 13:06] #37034 closed

[2021-10-03 13:06] #30692 closed

[2021-10-03 13:19] d-ph commented on #38362
👍

[2021-10-03 16:44] gquemener commented on #36958
Hello @carsonbot, I've opened a PR related to this issue. Would you mind reopening it, please?

[2021-10-03 18:55] riadhlaabidi commented on #41055
can i work on this please ?

[2021-10-03 19:02] fabpot commented on #41055
Sure, please go ahead and create a PR. Thank you.

[2021-10-03 23:48] bigfoot90 commented on #40582
Yes, I'm interested

[2021-10-04 06:17] Guikingone commented on #40493
You're right @stof, I'm closing this issue 🙂

[2021-10-04 06:17] #40493 closed, assigned to nobody

[2021-10-04 06:27] fabpot commented on #42473
The missing translations should be added in `src/Symfony/Component/Security/Core/Resources/translations/security.tl.xlf` (in the 4.4 branch) and you can find the ones missing by comparing with the English version from here `src/Symfony/Component/Security/Core/Resources/translations/security.en.xlf`.

[2021-10-04 06:29] #41830 closed, assigned to nobody

[2021-10-04 06:30] fabpot commented on #41815
There is one missing entry for id `100`. Have a look at `src/Symfony/Component/Validator/Resources/translations/validators.en.xlf` to find the English version and add it in `src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf` (in the 4.4 branch).

[2021-10-04 06:32] fabpot commented on #41089
@shokhaa Can you have a look at `src/Symfony/Component/Security/Core/Resources/translations/security.uz.xlf` as well, translations for id 19 and 20 are missing there. Thank you for your help.

[2021-10-04 06:32] fabpot commented on #40411
We are sill looking for someone to help here.

[2021-10-04 06:43] fd6130 commented on #41815
Thx for reminding me about this issue. I just forgot to update my fork that's why i see no update in between those translations.

[2021-10-04 07:02] dbu commented on #39652
i was running into the same issue. looking at it a bit, i don't think there is a bug or that this is a hack. the default behaviour is to bind a queue to the exchange, but you can overwrite the configuration to make a different queue name, or to not create a queue at all.

having a separate option like 'do-not-create-queues' would be redundant to `queues: []`.

imho it would make sense to document

[2021-10-04 07:03] #41815 closed, assigned to nobody

[2021-10-04 08:00] adrienfr commented on #43266
@stof I have the [same issue](https://github.com/symfony/symfony/issues/42850#issuecomment-929973063) but not using a stateless authentication method.
I created a reproducer (link in comment linked above)

[2021-10-04 08:24] konalexiou commented on #41047
Hi I will look into the Greek translations

[2021-10-04 08:28] carsonbot opened #43304 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf](https://github.com/symfony/symfo

[2021-10-04 08:57] #43292 closed, assigned to nobody

[2021-10-04 09:13] guillaumesmo commented on #41590
@adrienfr I can confirm the issue is back, tested in 5.3.9, worked fine in 5.3.7

probably introduced by #42979

[2021-10-04 09:13] #41047 closed, assigned to nobody

[2021-10-04 09:15] stof commented on #43266
@adrienfr I know that it also happens with a stateful authentication right now. My previous comment suggests a way to fix it.

[2021-10-04 09:17] alexsegura opened #43306 "BC Break when using Redis transport with an empty username"
**Symfony version(s) affected**: 5.3.8

**Description**

I'm using Symfony Messenger with Redis transport (it's Redis 5.x), and when upgrading `symfony/redis-messenger` 5.3.8, my current setup is broken.

The errors are:

[code]

[code]

---

It **used to work** with the following configuration:

[code]

There are some changes between 5.3.7 and 5.3.8 that might explain the bug

https://github.com/

[2021-10-04 09:21] alexsegura commented on #43306
I confirm that downgrading `symfony/redis-messenger` to 5.3.7 fixes my issue

https://github.com/coopcycle/coopcycle-web/commit/b02ba7a6db20d8e8f1bf90127e7cc6a822f24916

[2021-10-04 09:35] NicoHaase opened #43307 "[Profiler] Show number of hydrated Doctrine entities"
**Description**

In a current project, we try to enhance the database performance by lowering the number of hydrated entities (besides other optimizations). To quickly see whether this worked or not, we would like to see the number of hydrated entities in the Profiler, just like the number of queries and their execution time is gathered.

I'd love to hear your opinion about this. Did I configure s

[2021-10-04 09:43] stof commented on #43307
This is related to this ticket in DoctrineBundle: https://github.com/doctrine/DoctrineBundle/issues/109 (it is about collecting timing for hydration, not counting the entities, but both need the same kind of extension points in the ORM). The ORM does not have the necessary extension point to hook the Symfony toolbar into the ORM hydration.

I'm closing this ticket as symfony/symfony is the wrong i

[2021-10-04 09:43] #43307 closed, assigned to nobody

[2021-10-04 10:48] dkarlovi commented on #25729
This is very likely closed by #42502.

[2021-10-04 11:04] n0rbyt3 commented on #43306
@alexsegura There has been a bug where user AND password authentication was not possible. You only need to remove the colon in your dsn string to fix your problem.

But it's indeed a BC break.

[2021-10-04 12:13] melkamar opened #43308 "[Preloading] Multiple "can't preload already declared class""
**Symfony version(s) affected**: 5.3.6

**Description**

After enabling [preloading](https://symfony.com/blog/new-in-symfony-4-4-preloading-symfony-applications-in-php-7-4) PHP-FPM throws warnings on startup and crashes on request processing:

[code]

**Additional context**

I have checked the internet for suggestions and saw [this issue](https://github.com/symfony/symfony/issues/39961) - judging

[2021-10-04 13:06] #36705 closed

[2021-10-04 13:28] TravisCarden commented on #14068
No, @carsonbot. It has not been resolved. 🙂

[2021-10-04 13:51] fabpot commented on #14068
@TravisCarden Would you like to investigate the issue and maybe submit a PR to fix it?

[2021-10-04 14:02] derrabus commented on #14068
@fabpot There is #40689 already.

[2021-10-04 14:45] #43048 closed, assigned to nobody

[2021-10-04 14:57] xabbuh commented on #43061
Let's close here for now. We can consider to reopen once we are able to reproduce the issue.

[2021-10-04 14:57] #43061 closed, assigned to nobody

[2021-10-04 15:27] JohJohan commented on #36784
Yes like @Nyholm mentioned there are open merge request which could add this new feature

[2021-10-04 20:27] riadhlaabidi commented on #43304
@carsonbot there is no missing translations in this file!

[2021-10-04 20:30] riadhlaabidi commented on #41827
@carsonbot there is no missing translations in this file!

[2021-10-04 21:37] afaricamp commented on #41044
I´ll do this issue!

[2021-10-05 01:53] Nyholm commented on #41044
Great!

[2021-10-05 06:28] #43304 closed, assigned to nobody

[2021-10-05 06:28] #41827 closed, assigned to nobody

[2021-10-05 06:28] carsonbot opened #43321 "Missing translations for Greek (el)"
Hello,

There are some missing translation for Greek (el). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.el.xlf](https://github.com/symfony/symfony/blo

[2021-10-05 07:43] leflings commented on #41882
Looks like it's solved with #41858

[2021-10-05 07:43] #41882 closed, assigned to nobody

[2021-10-05 07:51] #40620 closed, assigned to nobody

[2021-10-05 08:56] lyrixx commented on #42205
ping @nicolas-grekas

[2021-10-05 09:03] nommyde commented on #42353
I'd like to, but it's harder than it looks. I think It requires some refactoring

[2021-10-05 09:14] sinansoezen commented on #43266
The change in `framework.yaml` didn't help but this helps.

The change from the commit broke a test where I'm using the session to store additional information and redirecting after sending a form if there is specific information in the session saved. The redirect after submitting the form now finds an „empty“ session without the needed information and redirects me somewhere else. The change in or

[2021-10-05 09:19] nicolas-grekas commented on #42205
This is the case since always, and I don't see why we should change this.

About the way config works, I'm sure this is the result of so many changes on the topic.
I would welcome a cleanup there (that'd preserve the overall behavior).

[2021-10-05 09:31] lyrixx commented on #42205
OK, let's close this one.

About a refactoring: I have no bandwidth ATM for working on it, and IMHO this is really not the priority since it works.

[2021-10-05 09:31] #42205 closed, assigned to nobody

[2021-10-05 09:36] marco-the-first commented on #43266
@sinansoezen, i was aware that my changes was not correct in the framework.yml any way. the `storage_id` is deprecated and i had to keep `storage_factory_id`.

In my case i was using multiple Firewalls in the security.yml and i was also logging in from both of them (one used for normal login, second one is used for API services).

Results: i changed my custom login to login only from one firewall

[2021-10-05 10:58] ivannemets-sravniru commented on #36594
This is still an issue and I think it's quite critical... probably this is not so spread just because not much people use PHP 8 yet in production application

**Preconditions:**
- Symfony v5.2.14
- PHP 8.0.11

**Description:**

So in my use case I have a queue processed by a [consumer](https://symfony.com/doc/current/messenger.html#consuming-messages-running-the-worker) configured using symfony me

[2021-10-05 11:18] treeindark opened #43323 "Route with apache alias"
I use a domaine.tld with 3 mode

domaine.tld/   -> webapp
doamine.tld/api ->sf5
domaine.tld/admin ->sf5

Server is apache :
config
`<VirtualHost *:443>

        ServerName  domaine.tld
        DocumentRoot PATH_PROJECT/public/client

#ADMIN/API
        Alias /admin  "PATH_PROJECT/public"
        Alias /api  "PATH_PROJECT/public"
        <Directory PATH_PROJECT/public>
                Options Index

[2021-10-05 11:29] #43323 closed, assigned to nobody

[2021-10-05 11:56] lyrixx commented on #36594
Do someone want to submit a PR for this issue?

[2021-10-05 13:33] PabloKowalczyk commented on #40548
In the end I used, proposed earlier, https://github.com/Toflar/psr6-symfony-http-cache-store and it works. IMO it will nice addition to Symfony but my issue was resolved, so this ticket can be closed.

[2021-10-05 13:33] #40548 closed, assigned to nobody

[2021-10-05 14:29] lyrixx opened #43325 "[Serializer] Add a more global interface with all method implement by the implemantation"
It's very common in a service to inject the normalizer, and to use `normalize()` or `denormalize()`
However, theses methods does not exist on [`SerializerInterface`](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Serializer/SerializerInterface.php#L17-L38).

So, if we want to use `normalize()`, `denormalize()`, and `serializer`,we need to inject 3 services: NormalizerInterface,

[2021-10-05 15:15] mankowitz commented on #38189
OK

[2021-10-05 15:15] #38189 closed

[2021-10-05 15:15] ro0NL commented on #43325
What's the usecase?

[2021-10-05 15:52] lyrixx commented on #43325
avoid this (or avoid ignoring phpstan error)

[2021-10-05 15:57] lyrixx opened #43327 "[HttpClient] Add support for client pool"
**Description**

Let's consider the following use case:

* I have a cluster of elasticsearch server `[a .. z]`
* My application got the list of some server  `[a .. c]`
* If a request fails on `a`, then retry on `b`, then `c`, then throw an exception.

So it could be nice to have something in the core that allow us to give a list of endpoint instead of one endpoint.

[2021-10-05 15:57] ro0NL commented on #43325
Understood. I meant what usecase requires all 3 services?

Generally I'd prefer wiring an intersection type, rather than introducing a new one.

[2021-10-05 16:00] stof commented on #43325
I don't think the DI component supports intersection types yet for autowiring. @nicolas-grekas can you confirm ?

[2021-10-05 16:04] nicolas-grekas commented on #43325
it doesn't, we never thought about it yet

[2021-10-05 16:14] lyrixx commented on #43325
you are right, it's not common for all interfaces, but normalizer + denormalizer is common to me. Think about the layer between your data (POPO) and Elasticsearch. You want to normalizer before sending to ES, then denormalize when getting the data back.

We can generalize the use case: it occurs when you want to use the serializer to format the data you send / get from a database (or API, you get

[2021-10-05 16:16] ivannemets-sravniru commented on #36594
@lyrixx the question is - what is the proper fix for this issue..

The only solution I can think of so far - is to just remove usage of `\Symfony\Component\Serializer\Normalizer\AbstractObjectNormalizer::$attributesCache` property, don't know if this may cause a notable performance decrease though... But as long as `\Symfony\Component\Serializer\Normalizer\ObjectNormalizer::extractAttributes` and

[2021-10-05 16:21] lyrixx commented on #36594
I already noticed this issue, and IMHO, it should be fixed. But we must be very aware that some very minor could hurt performance a lot. And, while I did not bench your patch, I think it'll decrease performance a lot.

I don't have a better patch ATM, and I'm running out of time for working on this issue :/

(note: I have edited your comment to add some color)

[2021-10-05 16:25] ivannemets-sravniru commented on #36594
@lyrixx
**On the other hand - is it actually correct to rely on normalizer ignoring uninitialized attributes?**

As another potential solution, instead of ignoring uninitialized properties while collecting attributes in `\Symfony\Component\Serializer\Normalizer\AbstractObjectNormalizer::extractAttributes`, we probably could check property initialization while building normalized data array in `\Sy

[2021-10-05 16:35] lyrixx commented on #36594
I think I remember another issue about this topic. But there is already some support for what your say : https://github.com/symfony/symfony/blob/43f0161236381db8a0440db72d0be90289ba71bf/src/Symfony/Component/Serializer/Normalizer/AbstractObjectNormalizer.php#L65

But you idea seems good. Wanna give a try?

[2021-10-05 16:44] ro0NL commented on #43325
+1 for combining normalizers with its counter denormalize part

AFAIK it's the common case: `AbstractNormalizer implements NormalizerInterface, DenormalizerInterface`

[2021-10-05 16:54] lyrixx commented on #43325
What would be the name of the interface ?

[2021-10-05 17:55] ro0NL commented on #43325
i'd opt for deprecating DenormalizerInterface, favoring NormalizerInterface. But `NormalizerInterface&DenormalizerInterface` is a valid type also :}, if not cumbersome.

Maybe intersection support in DI is sufficient ...

[2021-10-05 19:28] xosofox commented on #41702
I'm working on a legacy project that incorporates the username in the password hash, so I'd really like to use a UserPasswordHasher where the user is also available to `->hash()` (or `hashPassword()` respectively) instead of a PasswordHasher.

Is there a way to achieve this?

Is there any chance to redirect the HasherFactory? Or any other approach I am not seeing?

[2021-10-05 19:37] chalasr commented on #41702
@xosofox Please consider using our support platforms: https://symfony.com/support.

[2021-10-05 19:42] Philostastically commented on #43266
@stof I had some free time so I tried implmenting your fix. It worked for the authentication issue, however it did cause one annoying followup issue. First here's my attempted fix:
[code]
The issue is that because a User object is retrieved before the reboot of the kernel, the user object will not have equivalence with the same object retreived after the reboot.  This is an unrealistic example, bu

[2021-10-06 00:49] excitedbox opened #43331 "Why Symfony needs a frontend framework."
Going beyond the fact that most JS framework options are meant to integrate with other JS frameworks or offer their own solutions to routing etc. Symfony uses several non standard components as far as JS is concerned such as Doctrine, Twig, Stimulus and Symfony itself. This means either hacking together our own solution or building from scratch.

If using Symfony comes with the added complexity of

[2021-10-06 06:22] GromNaN commented on #42962
Hi! If not too late, I can take this subject. Here is how I plan to proceed.

I will create a distinct PR for each class. In the following description, `PdoStore` stands for `Symfony\Component\Cache\Adapter\PdoAdapter`, `Symfony\Component\Lock\Store\PdoStore` and `Symfony\Component\Lock\Store\PostgreSqlStore`.

Step 1, in Symfony 5.4 :
- Create `DbalStore` by duplication of `PdoStore` and removing

[2021-10-06 06:29] fabpot commented on #42962
LGTM, but note that we are running out of time for 5.4, so do you think you can work on this very very soon?

[2021-10-06 08:00] herndlm commented on #43331
As this is no issue it sounds like something that should/could be a discussion at https://github.com/symfony/symfony/discussions?

[2021-10-06 08:09] #43331 closed, assigned to nobody

[2021-10-06 08:27] FabienLegouge opened #43337 "[BrowserKit] Source nodes are considered as parents in <picture> context"
Hello !

**Symfony version(s) affected**: 5.2.6

**Description**

The parent node of an ```<img>``` tag set at the end of a ```<picture>``` tag is considered to be the previous ```<source>``` node if it was not closed using ```/>```

**How to reproduce**
- This should work :
[code]
- But the result actually is :
[code]

**Current fix**
- In order to fix this issue, we currently must close the ```<

[2021-10-06 08:32] aliwesome opened #43338 "Missing Iranian Toman (IRT) currency"
There is a common and popular currency in Iran called Iranian Toman (IRT).
Is there any protocols that I could use and send a PR for this new currency?

[2021-10-06 08:38] stof commented on #43337
Parsing the HTML is not implemented in BrowserKit. So this is an issue of the underlying parser.

Are you using the PHP native DOM parsing or the [`masterminds/html5`](https://packagist.org/packages/masterminds/html5) parser ? The HTML5 parser is used at 2 conditions:

- the library is installed
- the HTML has the HTML5 doctype

The native PHP parsing using libxml is known to produce issues when w

[2021-10-06 08:40] stof commented on #43338
The symfony/intl component exposes data coming from [the CLDR project](https://cldr.unicode.org/). So that's where the currency needs to be added.

[2021-10-06 08:44] huzineczerik opened #43339 "[Messenger] SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction"
**Symfony version(s) affected**: 3.5.3

**Description**
Hi all!
We have a problem with messenger working. We dont know how to reproduce this because we dont know what causes.
Our sentry reports this error 122 times:
[code]
Ofcourse this id _432471_ is different in every events.

How can I FIX it?

[2021-10-06 08:50] lljaworski commented on #43339
First of all, try to run on MySQL database command:
`SHOW ENGINE INNODB STATUS;`
The output will contain the section "LATEST DETECTED DEADLOCK", try to catch deadlock with this table (messenger_messages) and check what causing this issue.

[2021-10-06 09:00] braguzz opened #43340 "SonarQube 3 issues"
**Symfony version(s) affected**: 5.3

**Description**
SonarQube analisys get 3 critical bugs.
line 523 of symfony/string/AbstractString.php
line 112 of symfony/var-dumper/Caster/RedisCaster.php
line 123 of symfony/var-dumper/Caster/RedisCaster.php

References used in "foreach" loops should be "unset"

Thanks,

[2021-10-06 09:09] #43338 closed, assigned to nobody

[2021-10-06 09:09] ivannemets-sravniru commented on #36594
Thanks for sharing the link to `SKIP_UNINITIALIZED_VALUES` flag (I didn't know it will be released with v5.4)!
It looks pretty similar to the suggestion I'v explained in my previous comment, but it does not solve the attributes caching issue itself (which I described [here](https://github.com/symfony/symfony/issues/36594#issuecomment-934557405))

I do wanna give it a try, but I don't have enough t

[2021-10-06 09:13] FabienLegouge commented on #43337
Hello !

I am using the Browser Kit's default parser which is ```masterminds/html5``` as we can see in the constructor of the ```Symfony\Component\DomCrawler\Crawler``` class :
[code]

Does that mean that it is an issue to report to the ```masterminds/html5``` repository ?

[2021-10-06 09:16] xabbuh commented on #43337
What about the other two requirements? Do you have `masterminds/html5` installed and does the document being parsed have an HTML5 doctype?

[2021-10-06 09:20] #43271 closed, assigned to nobody

[2021-10-06 09:22] stof commented on #43337
@FabienLegouge the parsing behavior of the DomCrawler component is not to use `masterminds/html5` all the time. It is only used in some specific conditions, as described in my previous comment.

[2021-10-06 09:27] FabienLegouge commented on #43337
Yeah alright my bad I didn't read properly.

Since PHP Storm was not highlighting the HTML5 class as non-existant I thought it was but that was not the case.

I successfully installed the ```masterminds/html5``` package and it seems to be working properly now ! Looks like the default parser was the problem as you mentioned (also my HTML was indeed declaring the HTML5 doctype).

My bad for not havi

[2021-10-06 09:27] #43337 closed, assigned to nobody

[2021-10-06 09:34] Barvoj commented on #42784
`DateInterval` is created via `DateTimeImmutable::diff` https://github.com/symfony/rate-limiter/blob/d00d756e2c9f9c8cc7964c19e619bfe19702559a/RateLimiterFactory.php#L74 and its behaviour is slightly different:

https://3v4l.org/IL9O2

[2021-10-06 09:42] stof opened #43341 "[RFC] Make masterminds/html5 a required dependency of dom-crawler"
**Description**
The DomCrawler has an optional integration with `masterminds/html5` to provide a better parsing of HTML5 (the `DOMDocument::loadHTML` method is based on the HTML4 spec, not the HTML5 one, and so has many issues when using HTML5 features) when the library is available.
Given the frequency of bug reports we get about broken parsing in dom-crawler, I'm wondering whether we should make

[2021-10-06 09:49] fabpot commented on #43341
If we were to do that, that would be for 5.4.
Another possibility is to keep it optional and throw an exception when not available and parsing an HTML5 content.

[2021-10-06 09:52] stof commented on #43341
that would be worse DX IMO, as I expect most projects are using HTML5 now rather than HTML4 (and we cannot throw the exception only when the DOMDocument parsing is wrong, as that would require detecting that, which would involve parsing things...)

[2021-10-06 09:52] huzineczerik commented on #43339
The LATEST DETECTED DEADLOCK contains:
[code]

**More information**
This project is running in Google App Engine and 2 instances are running currently and theese instances connected to a Google Cloud SQL database.
Supervisor config per instance:

[code]

What should I try to change?

[2021-10-06 09:57] nicolas-grekas commented on #43341
Do you have commit access to masterminds/html5 @stof? Would it be possible you gain them if not? Before adding a new dependency to a core Symfony component, we need to check if the dep is compatible with our policies.

[2021-10-06 09:58] nicolas-grekas commented on #43341
Also, won't that make things way slower? Is there a way to take the slow path only when needed? (eg when libxml fails?)

[2021-10-06 09:59] fabpot commented on #43341
IIRC, @tgalopin also contributed a bit to this lib.

[2021-10-06 10:59] lljaworski commented on #43339
check also tip from docs:
"The datetime property of the messages stored in the database uses the timezone of the current system. This may cause issues if multiple machines with different timezone configuration use the same storage."

[2021-10-06 11:08] lljaworski commented on #43339
Additionally, In my position I will consider using for ex. Rabbit as a transport for concurrent consumers. The database is not a good place to keep complex queues, it is more for simpler usage of Symfony messenger.

[2021-10-06 11:39] lyrixx commented on #43341
I confirm the PHP implementation is (was) much slower than the native one. That's why I disabled it in the crawler I built.

However I did not test it with JIT

So if we do that, we must have an option to disable the integration

[2021-10-06 12:22] 99hops opened #43342 "retry_strategy:delay not working with Doctrine dsn"
### Discussed in https://github.com/symfony/symfony/discussions/43298

<div type='discussions-op-text'>

<sup>Originally posted by **nforced** October  3, 2021</sup>
Here is my transport section (Symfony 5.3.9):

[code]

Inside a consumer I throw **RecoverableMessageHandlingException** (tried \Exception() with no difference) and I expect the consumer to retry the message after 2 seconds, instead i

[2021-10-06 12:39] stof commented on #43341
That's the whole point. libxml does not fail. It still produces a DOM, but not the expected one (see #43337 for the latest issue linked to that, I let you search the issue tracker for more if you want).
A few libxml bugs are easy to detect (libxml stops parsing on `\0` for instance), but most of them are not detectable without parsing AFAICT.

I don't have commit access. And if the goal is to have

[2021-10-06 12:49] CharlyPoppins opened #43345 "@Assert\DivisibleBy(0.01) not working"
**Symfony version(s) affected**: 5.2.12

**Description**
Float with value `10.12` fail validation when `@Assert\DivisibleBy(0.01)`

**How to reproduce**
[code]

**Possible Solution**
- I need an additional config in the projet or in php.ini
- `fmod` can't handle this kind on test

**Additional context**
Problem happen in `vendor/symfony/validator/Constraints/DivisibleByValidator.php`
![Capture d’e

[2021-10-06 13:06] #40391 closed, assigned to nobody

[2021-10-06 13:13] stof commented on #43345
Well, divisibility rules for floats can bring quite weird results due to the floating point arithmetic itself (that's the same reason why `0.1 + 0.2 !== 0.3`): floating point numbers can represent exactly all numbers, and so you have rounding issues, for instance when implementing things like `fmod` which guarantees that `$remainder < $divisor` (and so it can return `$remainder = $divisor - 10**-1

[2021-10-06 13:32] stof commented on #43341
If the performance difference justifies keeping it opt-in, maybe we need to find a way to make the solution for visible for projects that need to parse HTML5 code using new features, to reduce the need to report issues here to discover it.
Currently, the doc has a small note about it in https://symfony.com/doc/current/components/dom_crawler.html, but I suspect many people use the DomCrawler withou

[2021-10-06 13:33] silverbackdan opened #43346 "[Serializer] Mapping loaders can differ in production and dev due to independent loader constructor arguments."
**Description**
The services 'serializer.mapping.chain_loader' and 'serializer.mapping.cache_warmer' both call the `ClassMetadataFactory::getMetadataFor` method with their own loaders in the constructor arguments. It'd be preferable for the chain_loader constructor arguments to be used in the cache_warmer, or for the ClassMetadata not to be generated again.

**Example**
I have a compiler pass that

[2021-10-06 14:25] CharlyPoppins commented on #43345
I'm not familiar with fmod... but I have already done something similar to handle float comparison.

Maybe something like this can be done ?

[code]

[2021-10-06 14:27] ivuorinen commented on #41819
Got distracted by life, but finally got the 2 translations done. I hope everything's done correctly.

[2021-10-06 14:59] ankahla opened #43348 "HttpClient panel in the Web Profiler not displaying all request headers"
**Symfony version(s) affected**: 5.3.2

**Description**
As menstionned here #33311 (comment) guzzle output the request headers (including default headers in configuration).
Unfortunatly even with this PR #35407 we still not collecting all headers : headers defined in configuration are missing!

**How to reproduce**
[code]

**Possible Solution**
Exposing `$defaultHeaders` attribute and get it from

[2021-10-06 16:50] acantepie opened #43349 "[HttpFoundation] Invalid phpdoc type"
**Symfony version(s) affected**: 5.3.9

**Description**
On class Symfony\Component\HttpFoundation\InputBag,
the return type "array" on phpdoc is missing for function get()

[2021-10-06 16:56] nicolas-grekas commented on #43349
returning array is deprecated, that's why it's not documented

[2021-10-06 16:56] #43349 closed, assigned to nobody

[2021-10-06 17:00] #41819 closed, assigned to nobody

[2021-10-06 17:08] acantepie commented on #43349
Thanks for reply, but why its deprecated ? Is this feature will be removed on future ?

[2021-10-06 17:13] nicolas-grekas commented on #43349
yes: you need to call `->all('the-param')` instead

[2021-10-06 17:14] ghost commented on #43342
Are you using PostgreSQL? I think the problem might be about `check_delayed_interval`.

[2021-10-06 18:37] 99hops commented on #43342
Yeah, I forgot to write back but it seems that after adding options things are fine.

[code]

Which brings more questions like why this is happening since these are the defaults as per [docs](https://symfony.com/doc/current/messenger.html#doctrine-transport) and why **delay** doesn't apply in case these are not specified.

[2021-10-06 18:56] W0rma opened #43350 "[HttpFoundation] PHP 8.1 deprecation notice in IpUtils::checkIp()"
**Symfony version(s) affected**: 5.3

**Description**
I stumbled upon the method [`IpUtils::checkIp()`](https://github.com/symfony/symfony/blob/808977847fa40f8323c4c850f8ae6f58cffad754/src/Symfony/Component/HttpFoundation/IpUtils.php#L37):

[code]

`substr_count()` is called even if `$requestIp === null` which causes a warning in PHP 8.1 ("substr_count(): Passing null to parameter #1 ($haystack) o

[2021-10-06 18:59] W0rma commented on #43350
Related to https://github.com/symfony/symfony/issues/41552

[2021-10-06 19:04] ghost commented on #43342
Probably docs are not up to date. At the end of the day the code is the real source of truth. It looks like 1 minute is the default.
https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Bridge/Doctrine/Transport/PostgreSqlConnection.php#L32

delay does apply but there aren't any available messages in the queue so this config makes the connection to wait 1 minute before query

[2021-10-06 19:04] AdrienBr opened #43351 "EventSubscriber - Subscribe to events with simple regex"
**Description**

Hi,
I think it would be a good feature to subscribe to events either by name (like now) or by basic expressions like `foo.bar.*`, or `foo.*`

**Example**

Before :
[code]
After :
[code]

Please let me know if you find this interesting, maybe I could take some time to do it

[2021-10-06 19:20] stof commented on #43350
We should also deprecate passing `null` IMO. Before https://github.com/symfony/symfony/pull/33088, it was documented as `@param string $ip`

[2021-10-06 19:24] stof commented on #43351
I fear this will have a big performance impact, because the needs of the event dispatcher is not to find the events for a given listener, but to find the sorted listeners for a given event (without knowing the full list of dispatched events in advanced, so we cannot turn a regexp into the list of matched strings eagerly).
The performance hit is not only due to the usage of a regexp during the even

[2021-10-06 19:58] WaiSkats commented on #43321
Hi, I'm new to open source and participating in Hacktoberfest'21. Can I work in this issue?

[2021-10-06 20:38] derrabus commented on #43350
Would you like to contribute a fix, @W0rma?

[2021-10-06 21:20] derrabus commented on #43351
I never felt I needed something like this. And I fear that this feature would increase the component's complexity and impact its performance negatively.

I would advise against implementing it.

[2021-10-07 05:22] AdrienBr commented on #43351
Ok I understand the problem.

Thank you for your answers.

[2021-10-07 05:34] xabbuh commented on #43351
I have the same concerns as @stof and @derrabus. Given that I close here. Thank you for understanding.

[2021-10-07 05:34] #43351 closed, assigned to nobody

[2021-10-07 07:53] baumerdev commented on #40918
It is currently not working, because 1) the JsonLoginAuthenticator is not adding a RememberMeBadge like e.g. the FormAuthenticator and 2) the CheckRememberMeConditionsListener checks only Request params like query params or POST form vars for the remember me value.

To fix the first problem the Passport instanciated in the JsonLoginAuthenticator's authenticate method needs to get a third parameter

[2021-10-07 09:26] derrabus commented on #42962
Nice work, @GromNaN. Do you have time to look into the cache component as well?

[2021-10-07 09:45] GromNaN commented on #42962
I'm on the cache component.

[2021-10-07 12:12] W0rma commented on #43350
Sure, I've just created #43357 to fix the deprecation warning and I will create additional PRs to deprecate/remove the possibility to pass `null` to various methods of `IpUtils`.

[2021-10-07 12:45] gronostajo opened #43359 "Invalid dbindex silently ignored in Redis DSN"
**Symfony version(s) affected**: 5.3.7, 5.3.8

**Description**
When the Cache component is configured with a Redis DSN with non-numeric dbindex (eg. `redis://redis/foo` rather than `redis://redis/1`), the dbindex is silently ignored.

**How to reproduce**
[code]
Then start using the cache. Default dbindex `0` will be used.

**Possible Solution**
Fail or at least log if the DSN contains a dbindex w

[2021-10-07 13:04] chalasr commented on #43359
Sounds more like an enhancement than a bugfix to me. PR welcome :)

[2021-10-07 13:45] Jean85 commented on #37391
Only workaround has been avoiding to pile up too many errors. No way to avoid the loop for now.

[2021-10-07 13:56] PierreRambaud commented on #6088
Yes :heart:

[2021-10-07 14:34] Tobion commented on #6088
I'm closing the issue. There is already an open PR. If you feel strongly about this feature, you can help make the PR move forward. Thanks.

[2021-10-07 15:49] ymorocutti opened #43363 "Source language from translation provider"
**Symfony version(s) affected**: 5.3.9

**Description**
Using Crowin as a translation provider, I have issue with the xlf file generated while pulling translations.
From what I've seen, generated translations are downloaded from the provider and sent over the XliffFileDumper to be saved inside my project. During this process, the property source-language is changed and no longer follow the default

[2021-10-07 16:03] nicolas-grekas commented on #43363
/cc @welcoMattic

[2021-10-07 16:09] DfKimera commented on #43038
We're also seeing this same problem.
Do you think you'll be able to pick it up @MimoBerlino? We can help out if you don't have the time!

[2021-10-07 19:06] dunglas commented on #43021
There is a problem with `@return` annotations and union types

For instance, if the interface has `@return void|object`, the script adds `: void` to the method instead of `: mixed` or nothing.

Reproducer: https://github.com/api-platform/core/blob/2.6/src/Bridge/Doctrine/Common/DataPersister.php#L50

[2021-10-07 19:59] WaiSkats commented on #41033
Hi, I'm new to open source and participating in Hacktoberfest'21. Can I work on this issue?

[2021-10-07 21:07] Nyholm commented on #41033
Sure. That would be great!

[2021-10-07 22:27] lljaworski commented on #40825
Is such a message will be ok:
`"This value should satisfy at least one of the following constraints: [1][name]:  sub element name should be "bingo" [2][id]:  This field is missing."` ?? @bogdan-dubyk

[2021-10-08 06:28] #41082 closed, assigned to nobody

[2021-10-08 08:27] welcoMattic commented on #43363
@ymorocutti Thanks for this bug report. You are right, the `$this->defaultLocale` variable is never used in TranslationPullCommand, and as I see on your fix, it have to be used in `$writeOptions`. Did you test this fix? If yes, and if it works well, feel free to open a PR :+1:

[2021-10-08 09:06] ymorocutti commented on #43363
@welcoMattic Tank you for your reply. Indeed, I've tested this changed and was able to have my source-language with the intended value.
I've made a pull request to fix this one.

[2021-10-08 09:18] abdounikarim opened #43365 "Profiler not shown when installing a new symfony full project"
**Symfony version(s) affected**: 5.3.9

**Description**
When installing a new project with the next command :
[code]

We don't show the profiler on the home page.

**How to reproduce**
Create a new Symfony Full project and launch the web server.
Even if you install manually the profiler, we don't show it.

**Possible Solution**

**Additional context**

[2021-10-08 10:28] GromNaN commented on #42962
Maintainability being the 1st goal of this split, I wonder if we get real benefits while we introduce code duplication.

I made the split on both components, but there is several parts of duplicate code (SQL queries [1](https://github.com/symfony/symfony/pull/43362/files#diff-6f3ed9629adec15a83efcec6c83826296acb7e55159a0b0ca4289dd9cdab27dcR240-R266) [2](https://github.com/symfony/symfony/pull/4333

[2021-10-08 11:16] ThomasLandauer opened #43366 "`assets:install public` is deleting assets that were created by `assets:install --symlink --env=foo`"
**Symfony version(s) affected**: 5.3.9

**Description**
I have a custom environment `foo`, where EasyAdmin is installed - see `config/bundles.php`:
[code]
So to intsall its assets, I need to run the command in this environment (in `.env.local` I have `APP_ENV='dev'`; this was the fix for https://github.com/EasyCorp/EasyAdminBundle/issues/4174):
[code]
This produces the symlink `public/bundles/easy

[2021-10-08 11:46] AchillesKal commented on #43321
Hey @WaiSkats, are you working on this one or can I take it?

[2021-10-08 12:02] dhodo opened #43367 "Docker Symfony not working without internet connection"
Hi,

I am trying to use my Symfony docker setup on local and run properly as long as I have internet connection. At the time I disconnect from a wired/wifi connection, I am not able to use my Symfony local project anymore. It just stand still loading forever. This just happens since I use docker because before use it I could work on my local projects without internet connection. It happens to me e

[2021-10-08 12:57] #43367 closed, assigned to nobody

[2021-10-08 13:06] #40401 closed, assigned to nobody

[2021-10-08 13:06] #40418 closed, assigned to nobody

[2021-10-08 13:06] #40412 closed, assigned to nobody

[2021-10-08 13:50] apfelbox commented on #31057
As @xabbuh already indicated with the label: I still think properly handling all dates in these types is important.

[2021-10-08 15:26] cb1986ster commented on #37695
I think it will be awsome to have this feature.

[2021-10-08 15:31] cb1986ster commented on #37695
@nuryagdym Hi, I just have the same problem. Did You have any better idea than just run `setSender` ? I thinking to write some small service, kind of email factory to setup all I need, but I realy do not like to wrap services in services.

[2021-10-08 15:31] natewiebe13 opened #43372 "Using isGranted() without a Session"
**Description**
`isGranted()` assumes that it's checking against the currently logged in user. It would be great to be able to use something similar to check against another user or during times when there isn't a session (cronjobs/commands, message queue, etc.).

I would see this as a `userIsGranted()` function to make a distinction. There's cases we'd have to consider, such as if `IS_AUTHENTICAT

[2021-10-08 15:32] tomme87 opened #43373 "[Mime] Base64ContentEncoder does not work for streams opened with php://temp"
**Symfony version(s) affected**: 5.3.8

**Description**
`Symfony\Component\Mime\Encoder\Base64ContentEncoder::encodeByteStream` does not create the correct base64 of streams that is created with `\fopen('php://temp', 'r+')` and the content is longer than 3 chars. The last char is always missing.

**How to reproduce**
[code]

**Additional context**
If I use something else than `\fopen('php://temp',

[2021-10-08 15:52] xabbuh commented on #43373
Can you create a small example application that allows to reproduce your issue?

[2021-10-08 16:39] ro0NL commented on #43366
Ref https://github.com/symfony/symfony/issues/33823

[2021-10-08 16:53] ThomasLandauer commented on #33823
@xabbuh By "orphaned assets" you mean that after removing some bundle, its (previously generated) assets would stay inside `public` forever?

[2021-10-08 17:10] ro0NL commented on #43341
What if we require the HTML5 parser in runtime, if the doctype tell us so ...

Then we could already start deprecating.

Similar as https://github.com/symfony/symfony/issues/43341#issuecomment-935867089 actually :}

[2021-10-08 17:16] stof commented on #43341
@ro0NL if the mere presence of the HTML5 doctype requires using the HTML5 library, we would probably make the dependency required for 95% of our users, given that the HTML5 doctype is the recommended doctype since a decade. Forcing users to install the library themselves in such situation instead of requiring it directly would mean annoying 95% of users.

[2021-10-08 17:23] ro0NL commented on #43341
yet, it's still less annoying than bugs because of an implicit wrong parser.

Im not sure about stats, in that sense we need to account for any non-HTML5 page on the web. I can imagine typically legacy webpages are crawled, due lack of proper APIs.

[2021-10-08 17:28] rimas-kudelis opened #43374 "[Security] Potential error in PreauthenticatedAuthenticationProvider::authenticate()"
**Symfony version(s) affected**: 4.4

**Description**
PreauthenticatedAuthenticationProvider::authenticate() causes an error when passed a token with a user object (as opposed to a username string).

The error happens here:
 https://github.com/symfony/symfony/blob/a4498006357b8ed9cac9d35ec038e303d95ec2d7/src/Symfony/Component/Security/Core/Authentication/Provider/PreAuthenticatedAuthenticationProv

[2021-10-08 17:34] stof commented on #43341
@ro0NL the thing is, not all pages using the HTML5 doctype are broken when being parsed with the libxml parser. And @nicolas-grekas's performance concern is related to those cases.

Indeed, in the case of crawling external pages, non-HTML5 doctypes might be more common. When guessing my 95%, I was thinking only about the usage of DomCrawler in the context of tests (alongside BrowserKit), where the

[2021-10-08 17:39] ro0NL commented on #43341
perhaps allow users to opt-out, if they suffer some performance impact. Or opt-in if our guessing is poor :)

[2021-10-08 17:42] stof commented on #43341
Well, currently, we do the opt-in based on the fact that they installed the library or no.

The hard part about doing an explicit opt-in is the usage with BrowserKit. There, the BrowserKit browser is the one instantiating the Crawler and giving it HTML, which means we would need the opt-in API in BrowserKit too (or we need to refactor the Crawler class entirely so that `addHTML` does not parse the

[2021-10-08 17:45] ro0NL commented on #43341
To me opt-in (either explicitly, or by guessing) means the library is required in runtime. Configuring Crawler thru BrowserKit sounds reasonable IMHO.

[code]

[2021-10-08 20:08] dereuromark opened #43377 "PHP 8.0 polyfill: CurlHandle"
**Description**
When running phpstan over code that is 7.4+, you get
[code]
For
[code]

I checked https://github.com/symfony/polyfill-php80
but it does not contain yet CurlHandle

We could probably add this stub:
[code]
maybe with Exception if we cannot make it work as in 8.0, but then 7.x would also allow running phpstan/psalm on that code.

[2021-10-08 20:27] MimoBerlino commented on #43038
@DfKimera Sure, any help is much appreciated :)
I have it on the list but still didn't get to it.
Cheers

[2021-10-09 00:45] derrabus commented on #43377
How would this actually help? On PHP 7, you could not use an instance of the "polyfilled" class for any cURL functions.

[2021-10-09 00:47] dereuromark commented on #43377
As mentioned above this makes tools like PHPStan/Psalm pass without errors.
When the code is PHP8 aware, but the execution happens in the version still supported and 7.x. And therefore those classes do not yet exist.

By adding polyfill we were also able to remove some other issues like
https://github.com/cakephp/cakephp/pull/16015

[2021-10-09 04:54] fabpot commented on #31057
Who wants to investigate this issue and maybe work on a fix?

[2021-10-09 07:35] ro0NL commented on #43377
Ideally the tool solves it for us :/

https://3v4l.org/odjkY#v7.4.24

[2021-10-09 11:18] AchillesKal commented on #43321
Since @WaiSkats  did not answer I am working on this.

[2021-10-09 13:06] #40361 closed, assigned to nobody

[2021-10-09 13:27] javiereguiluz commented on #43341
Minor comment for your consideration: we shouldn't focus the discussion on slow/fast, because that would only matter if both solutions were equally good. But, apparently, one solution is bad and full of bugs and the other is correct.

[2021-10-09 14:05] fabpot commented on #43341
I agree with @javiereguiluz.

I think we should prefer correctness over speed.

[2021-10-09 17:09] WaiSkats commented on #43321
Sure, I hadn't started working on this.

[2021-10-09 17:16] WaiSkats commented on #41033
[Security][Validator] Missing translations for Bosnian (bs)  #43381

[2021-10-10 06:40] #41033 closed, assigned to nobody

[2021-10-10 06:41] #43321 closed, assigned to nobody

[2021-10-10 06:43] #43363 closed, assigned to nobody

[2021-10-10 06:47] #43350 closed, assigned to nobody

[2021-10-10 06:56] #43284 closed, assigned to nobody

[2021-10-10 06:59] #41497 closed, assigned to nobody

[2021-10-10 08:26] carsonbot opened #43383 "Missing translations for Bosnian (bs)"
Hello,

There are some missing translation for Bosnian (bs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.bs.xlf](https://github.com/symfony/symfony/b

[2021-10-10 08:26] carsonbot opened #43384 "Missing translations for Greek (el)"
Hello,

There are some missing translation for Greek (el). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.el.xlf](https://github.com/symfony/symfony/blo

[2021-10-10 09:25] sirwanveisi opened #43385 "hiddeninput.exe detect as malicious File (TrojanDownloader.Banload) in Virus Total"
**Symfony version(s) affected**: 5.3.9

**Description**
Hi,
We have a problem with the release of our application, because the virustotal.com Flaged hiddeninput.exe as Trojan.
(laravel\vendor\symfony\console\Resources\bin\hiddeninput.exe)
Please provide a solution to this problem.

POC : https://www.virustotal.com/gui/file/8fdff52a7430dba14fb97239c7fe414710991f16da269374e0936a1385f3a318

![image](

[2021-10-10 10:56] derrabus commented on #43385
I think, you should report this issue to "virustotal" instead.

[2021-10-10 11:21] #43385 closed, assigned to nobody

[2021-10-10 11:42] mesilov opened #43387 "symfony serializer ignores name annotations for boolean attribute types"
**Symfony version(s) affected**: 5.3.*

**Description**
Symfony serializer ignores name annotations for boolean attribute types.
If you annotate boolean attribute with custom serialization name and attribute starts with the prefix "is" this annotation  will be ignored

**How to reproduce**
[code]

[code]
Current result
[code]

Expected result
[code]

[2021-10-10 12:49] cztk commented on #39763
17 days since your post @Pixelshaped , thanks, you saved my day - as for me this was not an expected behaviour as well - and can not see why it should.
While this seems ugly to me, time does not allow for a research what event to hook, values to compare to have this implemented in a clean way, todo comments for the win :(
Not happy, however I found this to work for me

[code]

[2021-10-10 17:39] dunglas commented on #43021
We identified another problem while running the tool on the API Platform codebase. When using the tool with the `force=phpdoc` mode, sometimes annotations aren't inserted at a good place and create syntax errors:

Exemple:

[code]

Reproducer: run `SYMFONY_PATCH_TYPE_EXCLUDE='/Uuid|NelmioApiDoc|ArraySubsetLegacy|DataPersister/' SYMFONY_PATCH_TYPE_DECLARATIONS='force=phpdoc&php=7.1' ./vendor/bin/pa

[2021-10-11 06:29] #43383 closed, assigned to nobody

[2021-10-11 06:29] #43384 closed, assigned to nobody

[2021-10-11 09:00] derrabus commented on #43377
Making static analysis tools happy is not the purpose of Symfony's polyfills. This is a false positive of your SA tool.

[2021-10-11 09:02] #43377 closed, assigned to nobody

[2021-10-11 09:09] tomme87 commented on #43373
For some reason I was running an old version of PHP (7.4.11) and was (probably) hit by this bug: https://bugs.php.net/bug.php?id=77069

Closing this issue.

[2021-10-11 09:09] #43373 closed, assigned to nobody

[2021-10-11 10:24] derrabus commented on #42962
That would mean that either DBAL would become our only official way to connect to a database or with that shared façade class you have in mind, we would build our own abstraction layer over database abstraction layers. I think neither is a good idea

[2021-10-11 10:59] StasToken opened #43389 "Memory overflow while loading files Request.php:1559"
**Symfony version(s) affected**: 4.4.32

**Description**
Trying to read a file in RAM instead of moving it

**How to reproduce**
Send file larger than PHP can use

_Controller:_
[code]
when you try to download a small file, the download is successful, if you download a large file, you can get an error

`Error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 534773792 bytes) at

[2021-10-11 11:15] Seldaek opened #43390 "[HttpClient] LogicException thrown while streaming redirected requests with RetryableHttpClient"
**Symfony version(s) affected**: 5.3.4

**Description**
LogicException sometimes thrown in HttpClient when combined with RetryableHttpClient and redirected URLs

**How to reproduce**
[code]

I got this trace from a real application too, not from the above test case:

[code]

The issue seems to occur only with a combination of factors:

- The RetryableHttpClient is used
- The URL redirects (http to

[2021-10-11 11:57] Seldaek opened #43391 "[HttpClient] RetryableHttpClient + streamed responses fails to cancel responses properly"
**Symfony version(s) affected**: 5.3.4

**Description**
When streaming responses and a response times out and gets canceled, it should then not throw anymore on __destruct. This works well without RetryableHttpClient, but when that wrapper is used it somehow still throws on __destruct.

**How to reproduce**
[code]

Running this outputs:

[code]

The fatal error here is not expected, and commenting

[2021-10-11 12:45] derrabus commented on #40726
Let's give it a try: #43392

[2021-10-11 12:53] BafS commented on #43272
I agree with @Okhoshi, could we restore the compiler pass order like it was in 5.3.4?
There were multiple patches committed to fix issues related to the change in the order and there is still some issue. We are still stuck in version v5.3.4 because next versions are not compatible anymore.

[2021-10-11 13:06] #40454 closed, assigned to nobody

[2021-10-11 13:42] stof commented on #40571
Maybe we should deprecate features of `@Security` that rely on accessing the token directly, forcing to use `is_granted` inside the expression instead when wanting to do security checks.

[2021-10-11 14:00] lyrixx commented on #43372
You can use the [AccessDecisionManager](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Security/Core/Authorization/AccessDecisionManagerInterface.php) Directly

[code]

But indeed, a simpler way could be better 👍🏼

[2021-10-11 14:02] chalasr opened #43394 "Replace AppVeyor by Github Action"
**Description**

Although I would really miss being logged as @fabpot:
<img width="413" alt="Screenshot 2021-10-11 at 15 58 31" src="https://user-images.githubusercontent.com/7502063/136802807-bbc212b8-818b-44f1-912b-44dc4b18d96a.png">

The AppVeyor build is constantly failing for some time now and AFAIK we can use GHA to achieve the same goal, hopefully with less problems.

Should we give it a tr

[2021-10-11 14:08] nicolas-grekas commented on #43394
The build is failing because the code is buggy. See #43239
Unless we have an issue with appveyor (which we don't AFAIK :) ), let's work on something that provides value :)

[2021-10-11 14:18] wouterj commented on #43394
One of the issues with Appveyor that we run into ever so often is the random job time limit causing a failure.

But I agree, there is not a real big problem. The reason it often fails is because the tests run on Appveyor have a very different nature from the other tests (windows, 32 bit, and with only minimal PHP extensions)

[2021-10-11 14:19] stof commented on #43394
and those different nature are something we want to keep (as they are tested on purpose), meaning that moving away from Appveyor won't avoid these failures.

[2021-10-11 14:29] javiereguiluz commented on #41855
My proposal:

* Remove `loose` mode
* Make `html5` mode the default one
* Don't make `egulias/email-validator` a hard dependency

Why?

* `html5` is like `loose` done right and it doesn't require any dependency
* It's OK to require `egulias/email-validator` when using the Mailer component (it's 100% related to it) but it's not OK doing the same in the Validator component (where using the Email con

[2021-10-11 14:45] javiereguiluz commented on #43365
I can confirm this error. It happens because of this bug:

[code]

Which is caused by this Symfony Flex recipe which is installed by default when creating the project with `--full` and which assumes that you already have a database:

![doctrine-recipe](https://user-images.githubusercontent.com/73419/136810120-23848f0d-1109-4a3c-9785-52bb8bea13af.png)

[2021-10-11 15:18] chalasr commented on #43394
Makes sense.

[2021-10-11 15:18] #43394 closed, assigned to nobody

[2021-10-11 18:06] Nyholm commented on #40705
@sirian do you know how to address this? Are you up for making a PR?

[2021-10-11 20:34] miguelantoniosantos commented on #43387
Unable to recreate this issue, used your examples under a command to test it.

This is what your script returned.
[code]

[2021-10-11 22:04] miguelantoniosantos commented on #43390
Hello, applied a fix on the referenced PR above.

Please confirm that it also fixes the issue on your side.

Ty

[2021-10-11 23:16] miguelantoniosantos commented on #43391
As tested on [HttpClientTestCase.php:838](https://github.com/symfony/symfony/blob/5.3/src/Symfony/Contracts/HttpClient/Test/HttpClientTestCase.php#L838) if you add the following code after the foreach it will work without errors:
[code]

So, I believe, this is intended, if not the following code on [TransportResponseTrait.php:140](https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/H

[2021-10-12 04:43] #43038 closed, assigned to nobody

[2021-10-12 04:44] #40726 closed, assigned to nobody

[2021-10-12 08:51] villfa commented on #42841
It's related to #42690, but I think there is still an issue (`['results']['error']` instead of `['results'][0]['error']`): https://github.com/symfony/symfony/blob/b9ab0ad73fcd432c577f33e06da55df6def8ba06/src/Symfony/Component/Notifier/Bridge/Firebase/FirebaseTransport.php#L88

[2021-10-12 11:26] #42841 closed, assigned to nobody

[2021-10-12 13:03] iotch opened #43409 "[synfony/lock] v5.3.4 breaks PHP 7.x compatibility"
**Symfony version(s) affected**: not sure

**Description**
Recent `synfony/lock` release (5.3.4) breaks PHP 7.x compatibility. When using  component with the `"symfony/lock": "^5.0"` composer.json constraint, composer's autoloader complains on platform incompatibility despite on Lock's supported PHP versions from 7.2.5:

[code]
This is caused by the following change compared to v5.3.2 - https://gi

[2021-10-12 13:08] lyrixx opened #43410 "[RFC][HttpClient] Add $response->wait();"
**Description**

Sometime, you want to perform HTTP request, but you don't care about the content **but** you want the request to finish before continuing to do something.
For example, when you call the "refresh" endpoint  on Elasticsearch. You may want to be sure the refresh is done before doing anything else.

ATM, to do so you have two options:

* `$response->getContent(false)`:
  1. It creates

[2021-10-12 13:09] wouterj commented on #40692
No, https://github.com/symfony/symfony/issues/40692#issuecomment-812894647 must still be done IIRC.

[2021-10-12 13:10] stof commented on #43410
makes sense to me. /cc @nicolas-grekas

[2021-10-12 13:13] nicolas-grekas commented on #43410
Adding the method to the component would break the abstraction provided by the contracts.
And adding the method to the contracts would 1. require a BC break 2. provide an alternative way to do something that is already possible using a more powerful method.
Calling `$client->stream()` is not internal at all.
My reco here would be to create this `wait()` method in userland. That would fix the issue

[2021-10-12 13:30] stof commented on #43409
This issue can only happen if you run `composer update` on PHP 8 and then run the project on PHP 7.4. That's totally the wrong usage of composer.

psr/log properly defines its PHP requirement, and symfony/lock supports all 3 major versions of psr/log. This means that if you run `composer update` on PHP 7.4 (or on PHP 7.2.5), composer will choose to install psr/log 1, because that's the compatible

[2021-10-12 13:30] #43409 closed, assigned to nobody

[2021-10-12 13:32] iotch commented on #43409
Good point, my bad, sorry!

[2021-10-12 13:34] stof commented on #43410
@nicolas-grekas maybe symfony/http-client could expose some high-level helpers, allowing to make the intent more clear for cases like that by having an actual `wait($response)` method, without the need to make it a method on the response (and so a change in the contract).

`$client->stream()` is not internal, but it is definitely low-level.

[2021-10-12 13:37] lyrixx commented on #43325
Actually, I don't what to do

* :a: wait for PHP 8.1 (`NormalizerInterface&DenormalizerInterface` and support in the DIC)
* :b: make a PR to symfony to deprecate an interface, and add more method to another one. I don't really like it because it will annoy many people.

[2021-10-12 13:40] xabbuh commented on #42973
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-10-12 13:41] xabbuh commented on #39907
closing here as this rather looks like a documentation issue

[2021-10-12 13:41] #39907 closed, assigned to nobody

[2021-10-12 13:42] xabbuh commented on #40351
I agree with @stof and @wouterj. Therefore I am closing here. Thank you for understanding.

[2021-10-12 13:42] #40351 closed, assigned to nobody

[2021-10-12 13:43] xabbuh commented on #42095
@sarbanha Do you have some feedback regarding the PR that @derrabus opened?

[2021-10-12 13:45] xabbuh commented on #43389
Can you create a small example application that allows to reproduce your issue?

[2021-10-12 13:46] xabbuh commented on #43387
@mesilov Can you create a small example application that allows to reproduce your issue?

[2021-10-12 13:48] lyrixx commented on #43410
Yeah, when I said `internal` I meant `low-level`

BC, there is not BC break, we can provide a BC path. But we can also add an helper. I don't care on this point

[2021-10-12 13:53] fideloper commented on #35528
This can work with SMTP as well, it doesn't necessarily need the Google (or Microsoft, which will also require XOAUTH2 eventually) client library.

Swiftmailer does it here: https://github.com/swiftmailer/swiftmailer/blob/5.x/lib/classes/Swift/Transport/Esmtp/Auth/XOAuth2Authenticator.php

In terms of using an SMTP transport, it's essentially just a different way to build up the authentication com

[2021-10-12 14:01] lyrixx commented on #43410
Side note: **MANY** people think the following code will wait for the response:

[code]

So people are not aware that the client is async by default. I answered many question / help teams during coaching sessions about this very topic.

So I do think this need is frequent, but people don't realize they need it because they think it's done by default.

Is a very common issue!

[2021-10-12 14:19] derrabus commented on #43410
I would indeed expect that this call will wait for the response because the returned response object is destructed immediantly and its destructor is blocking.

Test script:

[code]

[2021-10-12 14:21] nicolas-grekas commented on #43410
The destructor waits for the headers only. This is by design. If the code doesn't care about the body, neither does the destructor.

[2021-10-12 14:22] stof commented on #35528
To me, it might make sense to support `XOAUTH2` authentication in the SMTP transport, and leaving the generation/refreshing of the token to the caller (as that's the part that may need to use an SDK)

[2021-10-12 14:31] lyrixx commented on #43410
Wep, this is misleading.

That's why I do think a `$response->wait()` method could be useful

[2021-10-12 14:36] nicolas-grekas commented on #43410
Another argument against wait is async: calling it on responses forces sync operations.
At least it should be `$client->wait($responses|$response)`. But I'm still not sold this should be part of the abstraction, since the abstraction already covers that need.

This is the only code you need to add in userland to cover this:
[code]

[2021-10-12 14:36] villfa commented on #42581
Here a minimal reproducer that shows how to get this exception: https://3v4l.org/FJulF

FYI, I just open a bug report for PHP because I'm not sure it is the expected behaviour: https://bugs.php.net/bug.php?id=81521

[2021-10-12 14:47] logosur commented on #35528
Gmail justy only supports oauth It would be great to have native oauth libraries.

[2021-10-12 14:49] lyrixx commented on #43410
Yes it breaks async but that's the point 🤔

In my class I have different clients ( with different timeout configuration) so it Would be harder that your snippet.

But still, it's not clear for people (even in the core team), so I'm still thinking it's a good idea

[2021-10-12 15:12] derrabus commented on #43410
Right, but I assumed that this is what @lyrixx wanted when he wrote…

When I don't care about the response body, waiting for the headers only (to see if my request has been successful) sounds sufficient to me. What would be the use case of waiting until the whole body is streamed if I intend to scrap it anyway?

[2021-10-12 15:15] lyrixx commented on #43410
When ES index some content for example.

[2021-10-12 15:18] ro0NL commented on #43325
Then a new type 🤷

[2021-10-12 15:25] nicolas-grekas commented on #43410
I understand this works in practice, but this looks like abusing HTTP. It'd be nice if ES would return a series of `102 Processing` instead. I wouldn't add a mainstream method to support that...

[2021-10-12 15:30] romaricdrigon commented on #40817
+1 with this, at least for `getClient()`
This causes a big DX issue in Symfony Panther: when using a remote Selenium client (ie. `Client::createSeleniumClient()`), Symfony-provided web assertions can't be used, as they rely over a $client property which can't be set (since `getClient()`) is private).

Another way around would be to add a protected `setClient()` method, if that modification exposes

[2021-10-12 15:34] lyrixx commented on #43410
Hmm, indeed I understand your POV.

And indeed, it's very strange to return a 200 but continuing to processing something in the background.

I'm closing this issue for the reason you just gave.

[2021-10-12 15:34] #43410 closed, assigned to nobody

[2021-10-12 15:35] lyrixx commented on #43325
But I can not find a name :/

[2021-10-12 16:29] ro0NL commented on #43325
to me normalization comes with de-normalization, hence i think `NormalizerInterface` is the best name. Or both separate as currently :D

NormalizerDenormalizeInterface
Normalizer2Interface

i've no opinion what would be more annoying, a new symbol vs a new method. The latter seems better to discover :shrug:

[2021-10-12 17:08] PaulCombal commented on #40818
Yes indeed, it's probably me having used a config from somewhere else than the official docs. Thank you very much for your input! I'll close the issue for now as the problem is gone. Thanks again!

[2021-10-12 17:08] #40818 closed, assigned to nobody

[2021-10-12 20:12] StasToken commented on #43389
Yes, I will make an example for you, but I will need a little time.

[2021-10-12 22:12] chiqui3d opened #43415 "[http-foundation][HTTP Cache] not work with Etag and LastModified"
**Symfony version(s) affected**: 4.4.30

**Description**
I've been using Symfony HTTP Cache for a long time and it has always worked fine, until I updated to version 4.4.30 of `htttp-foundation`, then it stopped working, it doesn't clean the cache directory. It always shows the same content, I have to delete the complete `var/cache/prod|dev/http_cache` folder.

**How to reproduce**

[code]

**Poss

[2021-10-13 05:10] iva3682 opened #43416 "[Validator] nested AtLeastOneOf"
**Symfony version(s) affected**: 5.3.9

**Description**
Hey! the following validation rule does not work as expected:
[code]
it is necessary that the field is either an empty string, or a numeric type of 10 or 12 characters long + a custom validator.
An empty string is validated, but a string such as '4564' is also validated
I suspect that both AtLeastOneOf use the same context
Then how to make ne

[2021-10-13 06:08] #41044 closed, assigned to nobody

[2021-10-13 06:20] fabpot commented on #40713
@sinansoezen Can you create a pull request with your changes? If not, let's close.

[2021-10-13 06:28] carsonbot opened #43418 "Missing translations for Armenian (hy)"
Hello,

There are some missing translation for Armenian (hy). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 06:28] carsonbot opened #43419 "Missing translations for Basque (eu)"
Hello,

There are some missing translation for Basque (eu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.eu.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 06:28] carsonbot opened #43420 "Missing translations for Bosnian (bs)"
Hello,

There are some missing translation for Bosnian (bs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 06:28] carsonbot opened #43421 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf](https://github.com/

[2021-10-13 06:28] carsonbot opened #43422 "Missing translations for Bulgarian (bg)"
Hello,

There are some missing translation for Bulgarian (bg). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf](https://github.com/symfony/symfony/b

[2021-10-13 06:28] carsonbot opened #43423 "Missing translations for Burmese (my)"
Hello,

There are some missing translation for Burmese (my). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.my.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 06:28] carsonbot opened #43424 "Missing translations for Catalan (ca)"
Hello,

There are some missing translation for Catalan (ca). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ca.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 06:28] carsonbot opened #43425 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf](https://github.com/symfony/symfo

[2021-10-13 06:29] carsonbot opened #43426 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf](https://github.com/symfony/symfo

[2021-10-13 06:29] carsonbot opened #43427 "Missing translations for Croatian (hr)"
Hello,

There are some missing translation for Croatian (hr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 06:29] carsonbot opened #43428 "Missing translations for Czech (cs)"
Hello,

There are some missing translation for Czech (cs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf](https://github.com/symfony/symfony/blob/

[2021-10-13 06:29] carsonbot opened #43429 "Missing translations for Danish (da)"
Hello,

There are some missing translation for Danish (da). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.da.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 06:29] carsonbot opened #43430 "Missing translations for Dutch (nl)"
Hello,

There are some missing translation for Dutch (nl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf](https://github.com/symfony/symfony/blob/

[2021-10-13 06:29] carsonbot opened #43431 "Missing translations for Estonian (et)"
Hello,

There are some missing translation for Estonian (et). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.et.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 06:29] carsonbot opened #43432 "Missing translations for Finnish (fi)"
Hello,

There are some missing translation for Finnish (fi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 06:29] carsonbot opened #43433 "Missing translations for French (fr)"
Hello,

There are some missing translation for French (fr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 06:29] carsonbot opened #43434 "Missing translations for Galician (gl)"
Hello,

There are some missing translation for Galician (gl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 06:29] carsonbot opened #43435 "Missing translations for German (de)"
Hello,

There are some missing translation for German (de). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.de.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 06:29] carsonbot opened #43436 "Missing translations for Greek (el)"
Hello,

There are some missing translation for Greek (el). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.el.xlf](https://github.com/symfony/symfony/blob/

[2021-10-13 06:29] carsonbot opened #43437 "Missing translations for Hungarian (hu)"
Hello,

There are some missing translation for Hungarian (hu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf](https://github.com/symfony/symfony/b

[2021-10-13 07:17] jschaedl commented on #43421
@rezende79 ping

[2021-10-13 07:33] OskarStark commented on #40713
I am on it

[2021-10-13 07:38] rezendus commented on #43421
I will take care of it :)

[2021-10-13 07:58] #40713 closed, assigned to OskarStark

[2021-10-13 07:59] #43433 closed, assigned to nobody

[2021-10-13 07:59] #43431 closed, assigned to nobody

[2021-10-13 08:08] rgergo67 commented on #43437
Hello,

I am going to translate it.

[2021-10-13 08:26] evertharmeling commented on #43430
I will fix this :)

[2021-10-13 08:28] carsonbot opened #43442 "Missing translations for Estonian (et)"
Hello,

There are some missing translation for Estonian (et). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.et.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 08:28] carsonbot opened #43443 "Missing translations for French (fr)"
Hello,

There are some missing translation for French (fr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.fr.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 08:28] carsonbot opened #43444 "Missing translations for Indonesian (id)"
Hello,

There are some missing translation for Indonesian (id). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.id.xlf](https://github.com/symfony/symfony/

[2021-10-13 08:28] carsonbot opened #43445 "Missing translations for Italian (it)"
Hello,

There are some missing translation for Italian (it). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.it.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 08:28] carsonbot opened #43446 "Missing translations for Japanese (ja)"
Hello,

There are some missing translation for Japanese (ja). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 08:28] carsonbot opened #43447 "Missing translations for Lithuanian (lt)"
Hello,

There are some missing translation for Lithuanian (lt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf](https://github.com/symfony/symfony/

[2021-10-13 08:28] carsonbot opened #43448 "Missing translations for Persian (fa)"
Hello,

There are some missing translation for Persian (fa). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 08:28] carsonbot opened #43449 "Missing translations for Polish (pl)"
Hello,

There are some missing translation for Polish (pl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 08:28] carsonbot opened #43450 "Missing translations for Portuguese (pt)"
Hello,

There are some missing translation for Portuguese (pt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf](https://github.com/symfony/symfony/

[2021-10-13 08:28] carsonbot opened #43451 "Missing translations for Romanian (ro)"
Hello,

There are some missing translation for Romanian (ro). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf](https://github.com/symfony/symfony/bl

[2021-10-13 08:28] carsonbot opened #43452 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 08:28] carsonbot opened #43453 "Missing translations for Serbian (sr_Cyrl)"
Hello,

There are some missing translation for Serbian (sr_Cyrl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf](https://github.com/symfony/s

[2021-10-13 08:28] carsonbot opened #43454 "Missing translations for Serbian (sr_Latn)"
Hello,

There are some missing translation for Serbian (sr_Latn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf](https://github.com/symfony/s

[2021-10-13 08:28] carsonbot opened #43455 "Missing translations for Slovak (sk)"
Hello,

There are some missing translation for Slovak (sk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf](https://github.com/symfony/symfony/blob

[2021-10-13 08:28] carsonbot opened #43456 "Missing translations for Slovenian (sl)"
Hello,

There are some missing translation for Slovenian (sl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf](https://github.com/symfony/symfony/b

[2021-10-13 08:28] carsonbot opened #43457 "Missing translations for Spanish (es)"
Hello,

There are some missing translation for Spanish (es). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.es.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 08:28] carsonbot opened #43458 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 08:28] carsonbot opened #43459 "Missing translations for Thai (th)"
Hello,

There are some missing translation for Thai (th). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.th.xlf](https://github.com/symfony/symfony/blob/4

[2021-10-13 08:28] carsonbot opened #43460 "Missing translations for Turkish (tr)"
Hello,

There are some missing translation for Turkish (tr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf](https://github.com/symfony/symfony/blo

[2021-10-13 08:28] carsonbot opened #43461 "Missing translations for Ukrainian (uk)"
Hello,

There are some missing translation for Ukrainian (uk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf](https://github.com/symfony/symfony/b

[2021-10-13 09:38] lyrixx commented on #43443
Already fixed by 8df8a3ec15e2049200dce6265792a234e7391f85 ?

[2021-10-13 09:56] #43443 closed, assigned to nobody

[2021-10-13 12:28] adrienfr commented on #43266
@stof and @nicolas-grekas do you think we could simply revert conditions such as it was before last change?
[code]

[2021-10-13 12:52] noemi-salaun opened #43466 "TranslationUpdateCommand call undefined TranslationWriterInterface::getFormat()"
**Symfony version(s) affected**: 5.3, 4.4, 3.4

**Description**
[`TranslationWriterInterface`](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Translation/Writer/TranslationWriterInterface.php) does not define a `getFormat()` method but [`TranslationUpdateCommand` call `$writer->getFormat()`](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Bundle/FrameworkBundle/Command/T

[2021-10-13 13:06] #39529 closed, assigned to nobody

[2021-10-13 13:36] youssefsaoubou commented on #43466
If you add getFormat() to your MyCustomTranslationWriter it should work fine no ?

[2021-10-13 13:41] noemi-salaun commented on #43466
@ybenhssaien yes of course, but that's not how interface and dependencies should work ^^

[2021-10-13 13:41] egeloen opened #43468 "[Security] Switch user feature with guard authenticator"
Hello,

We use the LexikJWTAuthenticationBundle in a Sylius context. We would like to enable the switch user feature on the firewall which relies on this bundle but the bundle relies on guard authenticator which seems not compatible with the switch user feature. Basically, it results in a not found AuthenticationProviderInterface in the AuthenticationProviderManager.

The main issue seems coming f

[2021-10-13 13:46] keichinger commented on #40741
I've added this annotation (more or less as posted above) in one of our bundles. This has fixed the problem for me, though I'd still love to see it as part of the Symfony core package, if people agree to find it useful enough.

[2021-10-13 13:46] youssefsaoubou commented on #43466
Sorry i deleted my comment, but changing the interface will cause a BC ?

[2021-10-13 13:48] Philosoft commented on #43266
+1 for a bug.

Additional reproduction repo (without doctrine, tests are performed in-place via github actions)
Repo: https://github.com/Philosoft/symfony-login-as-bug
Test: https://github.com/Philosoft/symfony-login-as-bug/blob/master/tests/functional/MegaTest.php#L39-L56

[Fails](https://github.com/Philosoft/symfony-login-as-bug/runs/3878325606) with `symfony/framework-bundle:5.3.8`, [works](htt

[2021-10-13 14:50] OlivierKessler01 commented on #28086
![image](https://user-images.githubusercontent.com/76554137/137157423-8085625f-9a82-4635-abc6-02ace483fd9f.png)
It even breaks the standard "required" asterisk next to the labels on vertical layouts.

[2021-10-13 15:44] chalasr commented on #43468
Hey,
Please provide a stack trace or better, a [reproducer](https://symfony.com/doc/current/contributing/code/reproducer.html#reproducing-complex-bugs)

[2021-10-13 16:17] andreacivita commented on #43445
Hi, I am an italian speaker. I would like to assign to myself this issue :)

[2021-10-13 16:22] andreacivita commented on #38710
I would like to collaborate to italian translation. I commented #43445 issue and i'm waiting to receive assign. :)

[2021-10-13 16:41] Nyholm commented on #43445
That sounds great. Feel free to get started

[2021-10-13 16:43] andreacivita commented on #43445
@Nyholm Done, you should be able to merge this :D

[2021-10-13 16:48] #43445 closed, assigned to nobody

[2021-10-13 16:49] #43448 closed, assigned to nobody

[2021-10-13 16:54] nicolas-grekas commented on #43325
I propose #43479 to fix this issue.

[2021-10-13 16:56] #43457 closed, assigned to nobody

[2021-10-13 16:58] #43435 closed, assigned to nobody

[2021-10-13 17:05] jdreesen commented on #43325
@nicolas-grekas you linked this very issue ;)

[2021-10-13 18:10] kbond commented on #43021
[`Symfony\Component\Console\Input\InputInterface`](https://github.com/symfony/symfony/blob/1d7bc05b8e5867d14299b93e528941878f13388a/src/Symfony/Component/Console/Input/InputInterface.php#L82) is proving troublesome to support in 7.4 and 8.0 (the `mixed` returns).

[2021-10-13 18:16] derrabus commented on #43021
@kbond Do you maintain a package that provides its own implementations of that interface?

[2021-10-13 18:18] kbond commented on #43021
It is an implementation in a _yet to be released_ package I'm working on - I was planning on supporting 7.4 & 8.0.

[2021-10-13 18:23] derrabus commented on #43021
Can you provide a PR against 6.0 that removes the return types that are in your way? Maybe it's better to discuss this on actual code.

[2021-10-13 20:11] jkobus commented on #35098
[Failover transport syntax](http://activemq.apache.org/failover-transport-reference.html) is worth looking at in the context of this feature.

[2021-10-13 21:02] oksidisko opened #43485 "Messenger AMQP consuming performance"
**Description**
Messenger uses basic.get to consume messages, and it's underperforming option compared to basic.consume.

Suggestion is to add separate transport for those who prefer consuming performance over memory/time limit options.

_PS: I believe a warning should be placed as the first line of the AMQP transport documentation section, so developers will not make false assumptions._

[2021-10-13 21:44] Tobion commented on #43485
Ref. #35547

[2021-10-13 22:54] chikaldirick commented on #43461
I would like to work on this one, going to prepare a PR soon for the missing translation.

[2021-10-13 23:54] chikaldirick commented on #43452
I would like to work on that, will attach a PR soon

[2021-10-13 23:56] chikaldirick commented on #43452
Here's a PR: https://github.com/symfony/symfony/pull/43487
It'd be nice to get approval on it

[2021-10-14 00:02] chikaldirick commented on #43461
Here's a PR: https://github.com/symfony/symfony/pull/43486
It'd be nice to get approval on it

[2021-10-14 00:08] chikaldirick commented on #43449
I would like to work on this one, will attach a PR soon.

[2021-10-14 00:10] chikaldirick commented on #43449
Here's a PR: https://github.com/symfony/symfony/pull/43488
It'd be nice to get approval on it

[2021-10-14 00:17] chikaldirick commented on #43455
Sorry for not mentioning, but here's a PR adding new translation in slovak: https://github.com/symfony/symfony/pull/43489

[2021-10-14 00:20] mbabker commented on #43021
Can we re-evaluate the return typehint on `Symfony\Component\Serializer\Normalizer\NormalizerInterface::normalize()`?  I finally was able to unblock some of my own dependencies and get 6.0 components installed, and the one change that is proving to be the most painful in everything I've worked on so far is that typehint.
 https://github.com/BabDev/PagerfantaBundle/commit/6983c668ee5294183a428dd411

[2021-10-14 06:00] #42581 closed, assigned to nobody

[2021-10-14 06:04] ogizanagi commented on #43325
#43479 is merged, agree to close this one?

[2021-10-14 06:28] #43442 closed, assigned to nobody

[2021-10-14 06:28] carsonbot opened #43490 "Missing translations for Persian (fa)"
Hello,

There are some missing translation for Persian (fa). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.fa.xlf](https://github.com/symfony/symfony/blo

[2021-10-14 06:28] carsonbot opened #43491 "Missing translations for Vietnamese (vi)"
Hello,

There are some missing translation for Vietnamese (vi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf](https://github.com/symfony/symfony/