[2016-02-09 11:43] #12442 closed

[2016-02-09 11:50] xabbuh commented on #17627
I agree, this looks like a misusage to me.

@webdevilopers Do you experience the same issue when using the `PRE_SUBMIT` event instead?

[2016-02-09 11:55] xabbuh commented on #14877
@adampastusiak Can you create a new issue if you think that we still have a bug here?

[2016-02-09 11:56] Jean85 commented on #17735
Are you assuming that the Exception code should equals the HTTP response code, right?

[2016-02-09 11:56] xabbuh commented on #17718
closing as a duplicate of #17677

[2016-02-09 11:56] #17718 closed

[2016-02-09 12:01] adampastusiak opened #17736 "Forms with multiple and extended entity type throw an error on Symfony 2.7"
I'm on Symfony 2.7.9 and I have form like this:
[code]
When I try to create view from that form I got 2 exeptions in stack:

in
`
vendor/symfony/symfony/src/Symfony/Component/Form/Extension/Core/DataMapper/CheckboxListMapper.php at line 55
`
[code]

and

in
`
vendor/doctrine/orm/lib/Doctrine/ORM/UnitOfWork.php at line 1243
`
[code]

Of course when you'll try to set data_class you got

exactly like

[2016-02-09 12:02] adampastusiak commented on #14877
@xabbuh Yes of course, I just did: #17736

[2016-02-09 12:15] liamsorsby commented on #17735
@Jean85 Yes. I've looked through the Exception docs here: http://php.net/manual/en/class.exception.php which symfony exceptions extend. If the HTTP response code isn't set then it will by default return 0. Looking at Symfony component exceptions it looks as if the code has been set to the HTTP response code. However, if you take a look at the symfony bridge i.e for twig and have a look at the exce

[2016-02-09 12:17] jakzal commented on #17735
The exception code is not the same as the http status code. It will be set to whatever was set while creating an exception (most of the time the default - 0):

    // status code is 403
    // exception code is 1
    throw new HttpException(403, null, null, [], 1);

I just made a quick test and everything works as expected.

Which code exactly do you mean?

[2016-02-09 12:23] jakzal commented on #16874
@nykopol if you feel something needs to be documented, please open a new issue (or better a PR) in symfony/symfony-docs.

[2016-02-09 12:32] liamsorsby commented on #17735
If you use the EventListener as above and check the $exception->getCode() on a generic Page not found exception you will get 404 returned. However if you do the same thing for a route with an invalid twig path (one that doesn't exist) it will return 0 instead

[2016-02-09 12:37] jakzal commented on #17735
Please provide a more specific example of how to throw such an exception. Unless you set the exception code explicitly, it will always be set to the default value - 0. Status code is a separate thing.

[2016-02-09 12:46] weaverryan commented on #17724
@iltar So first, there *is* still a bug here - I want to make sure we keep that focus :).

But, your idea is interesting. Well actually, if it weren't for this bug, you *can* already do what you're saying, just under the `arguments` keys using indexes 0, 1, 2, etc. However, it *might* be interesting with autowiring to allow named arguments - as it's a bit weird to specify your "argument index 1" v

[2016-02-09 12:59] liamsorsby commented on #17735
Below is a simple example to dump out the error code returned:

[code]

I registered the Listener in my services using the below:

[code]

If I write two seperate controllers one for a Page not found exception and one with an invalid twig exception (where the path to the twig file is incorrect):

[code]

You should see that the /notfound route will dump out 404 as the code but the twigAction will

[2016-02-09 13:04] liamsorsby commented on #17735
I have just noticed the bottom section of the snippet that I've posted below. Still a little unsure as to why the code is different with symfony errors though. However, this should resolve my issue.

[code]

[2016-02-09 13:21] jakzal commented on #17735
Your first example would dump `0`, not `404`. Status code is available for exceptions implementing the HttpExceptionInterface and is set on the response in your last example. If there's no status code, 500 is used. Again, exception code has nothing to do with the status code.

 I don't think there's a bug here.

[2016-02-09 13:21] #17735 closed

[2016-02-09 13:22] liamsorsby commented on #17735
@jakzal No I realised that after my last comment. I apologise for waisting your time with an oversight. Thank you any way.

[2016-02-09 13:53] luispabon commented on #17537
Symfony could help by providing with an easy to configure, specific interface cache infrastructure. Bundles then can resort to that to implement their own caching strategies. It's the whole point of using a framework. At the moment there's a disconnect in between caching on the framework itself, doctrine and third party bundles.

[2016-02-09 15:13] bamarni commented on #6602
@fabpot @webmozart : any news about this one? Is the implementation explained here still the plan for this feature?

[2016-02-09 15:33] javiereguiluz commented on #14273
I'm closing this issue because it doesn't look very actionable. @kalessil please open a pull request instead so we can discuss about the actual proposed changes. Beware that if the changes decrease code readability, they will probably be rejected. Thanks!

[2016-02-09 15:33] #14273 closed

[2016-02-09 15:41] javiereguiluz commented on #17698
@descl did the example provided by @jakzal help you solve your issue? If not, could you please provide more details? Thanks!

[2016-02-09 15:44] Dragnucs opened #17737 "Auto-generated labels are not translated while rising translation issue"
Auto-generated label names, using the `humanize` filter or not, rises a missing translation warning. Yet, they can neither be detected by translation tools `translation:update` and `debug:translation`. Writing translation file manually and correctly placing it, does not solve the issue and labels are still untranslated and rising issues.

I am having this issue using Symfony 3.0.2, Twig and `boots

[2016-02-09 15:46] Dragnucs commented on #10505
@xabbuh Thank you.

[2016-02-09 15:51] javiereguiluz commented on #16965
Reading your comments I'm not sure if this is issue can be fixed or not. Anyone has a better solution for this? Thanks!

[2016-02-09 15:58] xabbuh commented on #17737
Can you fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-02-09 15:59] Gregwar commented on #6602
Actually, I remember some use cases from the original feature proposal:

* Be able to create a form where you enter a login, for instance as a message receiver, and that login would identify directly an entity
* Be able to have hidden fields representing entity id(s) and allowing you to do all your fancy logics to help the user to find the entity using autocompletion, maps, JS etc.
* Be able to "t

[2016-02-09 16:02] javiereguiluz commented on #16756
Closing it because some Symfony Core members are against it. Moreover, as @stof said, we are now focused on removing instead of adding methods like this (e.g. removing `getLogDir()`).

[2016-02-09 16:02] #16756 closed

[2016-02-09 16:26] javiereguiluz commented on #15316
I'm closing this because most people seems to be against integrating a WYSIWYG editor in Symfony core. But I've created an issue in symfony-docs repo to discuss about having an official bundle for this and for integrating it in the framework documentation (see https://github.com/symfony/symfony-docs/issues/6248).

[2016-02-09 16:26] #15316 closed

[2016-02-09 16:30] javiereguiluz commented on #15472
I agree with @nicolas-grekas here: in Windows we should definitely use `\` because that's the right path separator. @fritzmg it's true that there seems to be an inconsistency in `getRootDir()`, but that should be discussed in a different issue. Thanks!

[2016-02-09 16:30] #15472 closed

[2016-02-09 16:34] javiereguiluz commented on #15296
I'm closing this because @weaverryan provided a feasible alternative for this issue.

@nesl247 the "better fix", which would make parameters work in any config file, has been asked before and there are some issues about it, but it's much harder to implement. Thanks for understanding it.

[2016-02-09 16:34] #15296 closed

[2016-02-09 16:41] DrososTasos opened #17739 "translation:update command can only extract from the Resources/views directory"
The `translation:update` command is a great way to extract translation messages and keep them up to date. It's possible to write your own extractors and add them to the chain (by tagging them with `translation.extractor`).

It would be great if the command did not restrict to the view folder (see https://github.com/symfony/framework-bundle/blob/master/Command/TranslationUpdateCommand.php#L124) so

[2016-02-09 16:57] javiereguiluz commented on #11693
Closing it because the discussion stalled a few years ago and one of the mentioned bugs was fixed meanwhile. Please, reopen if you don't agree. Thanks!

[2016-02-09 16:57] #11693 closed

[2016-02-09 17:02] HeahDude commented on #17736
Hi @adampastusiak, I could not reproduce your issue in 2.7.9.

Could you please use the code below to help debuging :

[code]

The dumps may be useful to see il they query and the form mapping succeded before the exception.

Also you may want to provide some default data for the field 'entities' as `multiple` is `true` the form is expecting an array of entities.
There is two ways to do this easily

[2016-02-09 17:05] javiereguiluz commented on #11051
Closing it because we'll never reach an agreement. It's better to leave things as they are: Symfony supports several formats, they all work great and you can freely choose the one you prefer.

[2016-02-09 17:05] #11051 closed

[2016-02-09 18:07] fritzmg commented on #15472
Should I create a separate issue?

[2016-02-09 18:24] xabbuh commented on #16543
Closing here as this seems to be a usage problem.

@ludekbenedik Please let us know if you disagree so we can consider to reopen here.

[2016-02-09 18:24] #16543 closed

[2016-02-09 18:39] xabbuh commented on #17537
What I find useful is if we make it possible to configure some abstract adapters like this:

[code]

Then in your own services you could inject a special `cache` service and use the `cache` tag to decide which cache adapter you want to have injected:

[code]

The `namespace` attribute would only be required for cache adapters that use a shared storage to avoid conflicts between cache keys. A compi

[2016-02-09 18:53] javiereguiluz commented on #15472
@fritzmg yes please. And if you find other places where we hardcode `/` even for Windows, please mention those too. Thanks!

[2016-02-09 19:12] wpeereboom commented on #16461
@mnapoli Did you find or build a work arround ? I run into the same problems. I suggest the option to set and overwrite the existing alias makes most sense. Let me know if I can be at any help.

[2016-02-09 20:03] mnapoli commented on #16461
@wpeereboom I just opened a pull request to fix this: #17742

[2016-02-09 20:09] fabpot commented on #16965
@javiereguiluz I guess someone needs to try @stof suggestions first. I'm not a phpstorm user, so someone needs to do that.

[2016-02-09 21:15] xabbuh commented on #8077
reopening as I think this should be easy to solve (at least I think so and will take a look into it)

[2016-02-09 21:20] xabbuh commented on #6498
reopen as we actually didn't remove the feature

[2016-02-09 21:39] nesl247 commented on #15296
@javiereguiluz Thanks for closing this. I solved this issue for myself a long time ago by just using relatives paths (which I hate, but it works). I had forgotten to close this though.

[2016-02-09 22:29] DavidBadura commented on #17537
i like @xabbuh proposal! :+1:

[2016-02-09 23:17] WouterJ commented on #16965
Specifying an iterator return for `getIterator` doesn't work, PHPstorm will show no suggestion.

A dirty way of implementing this is by adding `@return SplFileInfo[]` for `Finder#getIterator()`, but that is only a hack to get PHPstorm autocompletion working (as it's returning an iterator and not an array of objects).

[2016-02-10 07:44] javiereguiluz commented on #14533
I'm closing this for the reasons given by @nicolas-grekas. Anyway, @flip111 thanks for opening this issue and for investigating new ways of improving Symfony.

[2016-02-10 07:44] #14533 closed

[2016-02-10 08:00] javiereguiluz commented on #12101
Closing it as "won't fix". Even if this was an unexpected change and some people don't like it, 17 minor Symfony versions have been released since this change, so it's too late to revert it. Moreover, the fix for our own apps is easy although a bit cumbersome: just remove the extra quotes in every custom validation message.

@lenardpalko thanks for sending a PR trying to solve this!

[2016-02-10 08:00] #12101 closed

[2016-02-10 08:03] wpeereboom commented on #16461
@mnapoli Great, thanks

[2016-02-10 08:06] adampastusiak commented on #17736
Hi @HeahDude, thank you for your response.

I've used debug code you provide and everything seems to be ok in that dumps.
in
[code]
i got first entity from query builder result (which is fine, this is entity what I expect). But I got error

which is also fine, because I don't have __toString method implemented in that entity. But what is surprising for me (maybe I don't know about something of how

[2016-02-10 09:59] Dragnucs commented on #17737
I am already using the Symfony Standard Edition with no changes, except some additional usual bundles.

The project was created using:
[code]

Here is a relevant part of my config files:
[code]

[code]

[2016-02-10 09:59] jakzal commented on #17720
Indeed, `All` is meant to be used with collections. For scalars you should simply use:

[code]

[2016-02-10 09:59] #17720 closed

[2016-02-10 10:16] jakzal commented on #17739
If you read the command's help it says "[the] command extracts translation strings from templates of a given bundle or the app folder". It was design for extracting messages from templates. It's hard to say what will break if we change this now. Perhaps if you sent a PR that would be simple and covered with tests, we could consider it. What's the use case anyway?

[2016-02-10 11:52] xabbuh commented on #17737
Well, but you must have added some translation files somewhere and being able to see how they look like and where you placed them would make it easier for us to understand your issue.

[2016-02-10 12:00] jakzal commented on #16421
Options I see here:
* Acknowledge this is a PHP bug and do nothing.

* Remove the overridden `getHash()` method. It means we wouldn't trigger a deprecation if someone called this method directly. To be honest I think it's quite unlikely that anyone would rely on `getHash()` without relying on other methods from the `\SplObjectStorage`.

* Don't call parent methods of `\SplObjectStorage`'s, but rep

[2016-02-10 12:03] stof commented on #16421
I suggest going for the second option

[2016-02-10 12:05] stof commented on #17737
``translation:update`` only extracts part of the translations. Even when you use explicit translation keys in your form types labels, they won't be extracted as they are still used through variables in the templates.
The command is not giving you an exhaustive list of the translations.

[2016-02-10 12:06] jakzal commented on #16421
Ok. I'll send a PR soon.

[2016-02-10 12:09] javiereguiluz commented on #17612
After reading @stof's comments, I don't know if there is something left to do by Symfony here.

[2016-02-10 12:17] sanpii commented on #17612
Probably, no. I tried with the doctrine bundle and I don’t have the problem.

[2016-02-10 12:17] #17612 closed

[2016-02-10 12:18] kalessil commented on #14273
Since this not relevant for PHP7, I'd invest time into this.

[2016-02-10 12:53] yakobe commented on #17739
A possible use case would be to update translation messages from forms (and whatever else you could build an extractor for) using the same command. This would open up a lot of possibilities. Yes, there is the JMS translation bundle, but it doesn't fit every use case.

Since this command has a generic name `translation:update` it would be nice if it was configurable to update whatever the extractor

[2016-02-10 13:11] Dragnucs commented on #17737
@xabbuh If I set up my fields like
[code]

And use this translation file
[code]

The generated labels look like **Targeted** and **Mg Active Sales**.

Then if I set up my fields like
[code]
Then the `mgActiveSales` gets translated to **Middle Game Active Sales** and the number of missing translations gets reduced by one.

What is bugging me is that I didn't set any translation settings in my proje

[2016-02-10 13:51] ureimers commented on #17019
The problem seems to be that they keys in `choice_attr` are actually the numbered indexes from the `choices` just like as if they where transformed using `array_values($choices)`.

[code]

[code]

The problem is even more obvious when using:

[code]

[code]

The keys should be 'a', 'b' and 'c' and not 0, 1 and 2. The callback parameters are named just like they are used in [DefaultChoiceListFactor

[2016-02-10 13:54] stof commented on #17737
@Dragnucs you should not use the translator in the form field. This will result in double-translating labels. Set the translation key itself as label (or disable translations for this field by setting ``translation_domain`` to false)

[2016-02-10 14:07] #17737 closed

[2016-02-10 14:08] HeahDude commented on #17736
@adampastusiak glad that works.

In fact when you define `choice_value` option in `EntityType`, behind the scene the callable is used for every choice "loaded" from db but also for the data default value provided, in that case `null` treated as an empty string `''`. That's why I advised you to initalise the data with a new entity.

I know this is not obvious, but this is a best practice you can se

[2016-02-10 14:19] blazarecki commented on #17675
@webmozart I fix the issue in this PR https://github.com/symfony/symfony/pull/17696

Can you look at it ?

Thank you.

[2016-02-10 14:20] HeahDude commented on #17019
Hi @ureimers, actually when you set choices like

[code]

because they converted to an `ArrayChoiceList` which holds two array :

[code]

So you got a callable `call_attr` wich takes :

[code]

Expected behaviour.

You can close this issue, feel free to open one in the docs.

[2016-02-10 14:20] HeahDude commented on #17019
Status: reviewed

[2016-02-10 14:27] stof commented on #17739
The current API of extractors is not well suited for such use case though. this is precisely why I chose a different interface in https://github.com/Incenteev/IncenteevTranslationCheckerBundle

[2016-02-10 14:32] HeahDude commented on #17736
Of courses this example of the book missing `$form->handleRequest($request)` which updates the state of the data in the form by synchronizing submitted data on top of default data. But you could do it in another controller.

[2016-02-10 14:37] iltar opened #17749 "[RFC] Move tests out of the source and source out of the tests"
#### The Source
- Often when I'm auto-completing classes in my IDE, I get the suggestion to use the *Test file.
- Project wide searches and Usage Finder always shows tests using the search key or method/class etc.
- KernelTestCase and WebTestCase are library dependencies in a test directory

I'm working on adding some functional tests to a bundle and this gave me a problem. I had to depend on the

[2016-02-10 14:37] Dragnucs commented on #17737
@stof, of course I should not use the translator in the form field. I also should not have to disable translations in there if I didn't activate them in the first place. I've got hundreds of fields, (72 on a page), setting `translation_domain` just to remove warning somewhere it shouldn't be is not practical.

Please notice that I am not interested in translating my project, just in removing unnec

[2016-02-10 14:45] xabbuh commented on #17737
@Dragnucs You can still use a form type component to globally set the `translation_domain` option to false.

[2016-02-10 14:53] Dragnucs commented on #17737
Ok.

[2016-02-10 15:02] HeahDude commented on #17019
I've updated my answer to better explain what happened in initial post.

[2016-02-10 15:07] WouterJ commented on #16960
I'm a big :+1: for this issue. The current naming is too vague and it can really mean anything... Please note that we should not only care for the real newcomers: People may be seasoned Symfony devs, but new to multiple firewalls and the naming of this option won't help anything. Besides that, renaming is already pretty often done to improve APIs (and in almost all cases, the renaming made sense).

[2016-02-10 15:13] HeahDude commented on #17736
Status: Reviewed

[2016-02-10 15:15] Tobion commented on #17737
Or you can disable the `LoggingTranslator` in dev environment (where it is only active anyway) if you do not want those irrelevant warnings.

[2016-02-10 15:18] #16421 closed

[2016-02-10 16:11] jakzal commented on #17537
@xabbuh I'm not fully convinced by the need of tagging.

Would be more straight forward if you could create cache services with the adapter configuration (although I'm not sure if adapters is a good config name here). The following configuration would register two services - `apc` and `another.apc.cache`:

[code]

[2016-02-10 16:15] Dragnucs commented on #17737
I don't want symfony to think bad of me or my code, not just to shut up
about it.

Le 10.02.2016 15:15, Tobias Schultze a écrit :

Links:
------
[1]
https://github.com/symfony/symfony/issues/17737#issuecomment-182418992

[2016-02-10 16:21] klinki commented on #17640
I have another proposal.

I noticed you mentioned creating RequestFactory class. I agree, it would be great. And it would be great to have method which reads request input from php://input stream. Because right now, PHP doesn't read any data for application/json MIME type (and probably for any other, different then application/x-www-form-urlencoded).

[2016-02-10 16:28] Ener-Getick commented on #17640
@klinki I love this idea, would be amazing to have such thing in the core (we can even imagine parsing the content asynchronously).

[2016-02-10 16:33] jayS-de opened #17752 "http cache fragment optimization"
With commit 195c57e the http_cache fragments have been escaped to prevent code injection, when restoring the cached content. But it seems that the map is a little bit too restrictive and could be optimized by reducing scope of the escaping map

`Symfony\Component\HttpKernel\HttpCache\Esi`

[code]

The ```<s``` for example also applies to ```<span>``` and it's much unlikely that an eval() could do

[2016-02-10 16:33] xabbuh commented on #17537
@jakzal The drawback is that you would then have to configure one adapter per service that gets injected the cache. Otherwise you would need to take care of the cache prefix/namespace in your custom code.

[2016-02-10 16:39] jakzal commented on #17537
Yeah, that's a good thing I think. Tags would be a bit magic. Unless you read the code you don't know it creates a service behind the scenes. Configuring that service instead is more explicit.

[2016-02-10 16:40] javiereguiluz commented on #17537
@xabbuh that's an implementation detail. Each cache service prepends a unique prefix silently. We already do that in some places. Example:

[code]

[2016-02-10 16:41] nicolas-grekas commented on #17537
The service name is a good prefix candidate btw

[2016-02-10 16:42] jvasseur commented on #17537
@xabbuh we could configure the components with a cache service and have each component decorate this service with a cache pool that handle the prefixing.

[2016-02-10 16:56] xabbuh commented on #17537
@javiereguiluz This approach does only work for code that we control in the core. But it does not make sense to let users to the same in their code when they just want to get a cache adapter injected.

However, another solution I see is to create a compiler pass that scans every definition for constructor and method arguments that are references and whose referenced service name is something like

[2016-02-10 18:49] webdevilopers commented on #17627
I tried `PRE_SUBMIT` but it can not be used with my example since `$data` will not be available:
**Error: Call to a member function getRollerShutter() on a non-object**

[code]

Only after SUBMIT the form checks if the user set `rollerShutter` to `true`. If so he has to fill out the type and color too. I think `SUBMIT` is the only availbale event for this, right?

[2016-02-10 19:00] xabbuh commented on #17627
Well, `getData()` in the `PRE_SUBMIT` event [returns the request data](http://symfony.com/doc/current/components/form/form_events.html#component-form-event-table). So you will want to check the proper array key from the request (or pass the underlying entity to the event listener with `use`).

[2016-02-10 19:00] dmaicher commented on #17627
That is correct. In the `PRE_SUBMIT` the data is an array that contains the submitted data that is not yet bound to your model.

So `$data['rollerShutter']` should be `'0'` or `'1'`.

Looking at your example again let me ask what you actually try to achieve :)

If the choice `rollerShutter` is submitted with `0` or `false` then you want to ignore/unset what was submitted for `rollerShutterType` an

[2016-02-10 19:05] ianfp opened #17756 "Improve formatting of `debug:config`"
When I run, eg, `debug:config doctrine`, I get something that looks like this:

[code]

(It looks even worse when word-wrapped on my console.)

It would be nice if the entire thing were presented in "block" style (ie, without the curly-brace syntax).

[2016-02-10 19:07] javiereguiluz commented on #17756
@ianfp thanks for proposing a feature to improve Symfony!

You are right and luckily, this feature is already implemented. See https://github.com/symfony/symfony/pull/17538 for details. You'll be able to use it in the next Symfony stable versions.

Since this feature is completed, I'm closing this issue. Thanks!

[2016-02-10 19:07] #17756 closed

[2016-02-10 19:10] ianfp commented on #17756
Thanks @javiereguiluz! Sorry about the dup.

[2016-02-10 19:14] javiereguiluz commented on #17756
@ianfp no worries. This proves that this feature is really needed so we did the right thing adding it!

[2016-02-10 19:16] dosten commented on #17749
This topic has been discussed some time ago, the major problem with this idea is the subtree split of each component.

[2016-02-10 19:32] iltar commented on #17749
@dosten Yeah I got informed about that. I've updated the issue.

[2016-02-10 19:55] webdevilopers commented on #17627
Actually I need to enable the elements which are disabled before submit.
The term "disable" means "readonly" and HTML attribute `disabled` in this context.
Normally when setting `rollerShutter` to **1** or **true** javascript will enable them.
But still the user can simply submit the form because the Type and Color have a blank placeholder.
Or the form has an error on a different field. That's why

[2016-02-10 19:56] jakzal commented on #17749
We used to have tests outside of the src directory (see https://github.com/symfony/symfony/commit/fea6b79acdf01b79ac3d3206c001a9dec662da93).

We usually put test cases outside of the tests namespace already, so they're not part of the `Tests` namespace. Both WebTestCase and KernelTestCase are already in the `Symfony\Bundle\FrameworkBundle\Test` namespace (the first one was moved recently).

[2016-02-10 21:49] WouterJ commented on #17640
@klinki afaik, `Request#getContent()` reads from `php://input`, right? https://github.com/symfony/http-foundation/blob/6edfe4a63b1f5c0a3d0c6190998c9089784ea883/Request.php#L1494-L1533

[2016-02-11 01:27] -Jerry- opened #17758 "Several validators generate a server error if they receive an array"
If you validate a form field with, for instance, `Symfony\Component\Validator\Constraints\Length` and submit the form with the value of the field as an array, the `LengthValidator` will throw an `UnexpectedTypeException`, generating a 500 response, instead of adding a violation to the form field.

I tried to work around this issue by adding a `Type` constraint, but the `Length` constraint seems to

[2016-02-11 05:52] HeahDude commented on #6602
Hi @Gregwar, (a lot of arguments below, feel free to scroll to the conclusion :)

-   I'm not sure to understand what you mean by "message receiver" but that first case you describe seems to be about sending a scalar value as property from client to server and getting back an entity with that property, which perfectly fits the controller's reponsability (even easier using params converters).
    Y

[2016-02-11 07:39] Gregwar commented on #6602
@HeahDude I never said changing ChoiceType was the better way to achieve these use cases
I was just developping and noticied that, something was kind of missing because it seems odd to have a field type that basically populate a select or so with all the entities that result a query and not being able to identify entity with other mean (see for example https://github.com/symfony/symfony/pull/1951#

[2016-02-11 07:52] HeahDude commented on #17677
Hi @raziel057, the workaround is to use `choice_value` option as below :

$builder->add('participation', ChoiceType::class, array(
    'choices' => [ 'yes' => true, 'no' => false ],
    'choice_value' => function ($choice) {
         return false === $choice ? '0' : (string) $choice;
    },
    'placeholder' => 'Select a value',
    'empty_data' => null,
    'choices_as_values' => true,
));

see #

[2016-02-11 07:53] HeahDude commented on #17677
Bug confirmed.
Status: reviewed

[2016-02-11 08:05] HeahDude commented on #17292
see #17760 for a proposal of a fix.

Workaround using `choice_value` :
->add('buyback', 'choice', [
    'choices' => [
        'Yes'  => true,
        'No'   => false,
    ],
    'choice_value' => function ($choice) {
        return false === $choice ? '0' : (string) $choice;
    },
    'choices_as_values' => true,
    'required'          => false,
]);

[2016-02-11 08:06] HeahDude commented on #17292
Bug confirmed on 2.7 as well as in #17677.

Status: reviewed

[2016-02-11 08:10] raziel057 commented on #17677
@HeahDude Yes in fact, to avoid to use this workarround in all my fields, I created a custom BooleanType with a DataTransformer to be able to use it like this:

[code]

[code]
With a String to Boolean Transformer:

[code]

[2016-02-11 08:18] xabbuh commented on #17439
closing here as it this is more a matter of updating the documentation (see symfony/symfony-docs#6263 for the PR)

[2016-02-11 08:18] #17439 closed

[2016-02-11 08:21] xabbuh commented on #17677
closing here as a duplicate of #17292

[2016-02-11 08:21] #17677 closed

[2016-02-11 08:30] HeahDude commented on #17026
Hi @yellowmamba, which version of symfony are you using ?

[2016-02-11 08:49] javiereguiluz commented on #16096
I'm closing this because at the end is a question about using the Security component.

@lashae I understand that this may be confusing for some people at first, but we haven't received lots of reports about this in the past.

[2016-02-11 08:49] #16096 closed

[2016-02-11 09:15] HeahDude commented on #16530
`data` option replaces the default `null` for populating field, so it's mapped to the view.
`empty_data` is only mapped if there was no submitted data so it cannot reach the view.

About `value="1"`, this is just the default in `CheckboxType` see [here](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Core/Type/CheckboxType.php#L59).

This is an expected behaviou

[2016-02-11 09:22] iltar commented on #17758
If you send the data as an array instead of the value you expect it to be, that means something has been changed and it cannot be mapped back either way. If you modify your forms client side and send them incorrectly, you should be notified of this. If your visitor does this, they deserve no less than a 500 error for messing around with things they shouldn't do.

[2016-02-11 10:17] andrewtch commented on #17739
Huh, I've stumbled upon this issue while trying to extract messages from controllers, so I will continue here.

My offer would be to add keys like ```--php```, ```--twig``` (with --twig defaults). This will support BC with minor problems with those who use PHP templates.

These would traverse all PHP and TWIG files in app (app/Resources) or bundle scope if bundle is defined. Currently my own overr

[2016-02-11 10:39] sstok commented on #17749
To me there is a difference between tests `tests/` (internal, should not be extended in other packages) and test helpers `test/` (traits/test-cases). When you "need" (there is no other way) to extend a test helper that is in `tests/` it should be moved to `test/` so you can use it.

I actually have that problem with some Doctrine tests,
https://github.com/rollerworks/search-doctrine-orm/blob/maste

[2016-02-11 10:47] iltar commented on #17749
@sstok, that's 68 (symfony: 49) directories in total which I'd rather not even have on my filesystem to begin with. I only need them when I explicitly install that repository and I have to run them. Given I'd exclude Tests via a regex, the kernel/web tests are excluded too. The solution is valid but won't work if you have 20 applications and dozens of bundles which all use symfony.

[2016-02-11 10:54] unexge commented on #17026
`CheckboxType` [uses](https://github.com/symfony/symfony/blob/582f4753a343f230fbe18b4e9a0747d48351ddfb/src/Symfony/Component/Form/Extension/Core/Type/CheckboxType.php#L35) `BooleanToStringTransformer`, and in `BooleanToStringTransformer`'s `reverseTransform`, if given value is string, its [always](https://github.com/symfony/symfony/blob/582f4753a343f230fbe18b4e9a0747d48351ddfb/src/Symfony/Componen

[2016-02-11 11:00] IceShack opened #17762 "TwigBridge - Import macros in form_theme not working"
I'm trying to import some macros into my form_theme and I always get following exception:

[code]

If I add the macros directly into the template and use "_self" it works.

Example Template

[code]

I think the problem is somewhere in the TwigBridge, but I don't really understand how it works.

Im Using following versions:
symfony/symfony                     v2.7.9
twig/twig

[2016-02-11 11:12] stof commented on #17762
This is because the form theme does not render the whole template. It calls only a single block. So the import living outside the block is not executed. Put the import inside the block instead

[2016-02-11 11:20] IceShack commented on #17762
@stof thank you for your fast answer. Unfortunately I use quite a lot of blocks, so it would result in a very messy code.

[2016-02-11 11:59] jakzal commented on #16530
Thanks for looking into this @HeahDude! Care to submit a PR to the docs?

[2016-02-11 11:59] #16530 closed

[2016-02-11 12:13] yakobe commented on #17739
@andrewtch That's along the lines that i am thinking too. I would prefer the extractors themselves to know what file types etc they are trying to extract from. Then you dont have to add any extra arguments and you can extract (or "update" as the command suggests) from twig files and php files at the same time. What do you think?

@stof That bundle is ok, but it gives less info than the symfony bui

[2016-02-11 12:25] poolerMF opened #17764 "improve StringUtil::singularify or CollectionType"
I have words like "subjectData" .. or "clientData"
and it's making "subjectDaton", "subjectDatum" ...

or improve CollectionType for custom add/remove methods

[2016-02-11 12:47] jakzal commented on #17758
@-Jerry- what would you expect to happen instead of the currently thrown `UnexpectedTypeException`?

[2016-02-11 13:44] -Jerry- commented on #17758
@iltar I think Symfony should be able to handle manipulated requests like these. 500 is an _Internal Server Error_, but this is clearly not a server error because it is triggered by a specially crafted request from a client. You might argue that this is a bug in my form because I didn't check the type of the field, but explicitly adding a `Type` constraint doesn't help, either.

@jakzal I expected

[2016-02-11 14:03] dunglas commented on #17724
@weaverryan this use case is already supported (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php#L75)

The following snippet should work:

[code]

[2016-02-11 14:06] dunglas commented on #17724
It looks weird in YAML (but works), it's far better in XML:

[code]

[2016-02-11 15:12] HeahDude commented on #16530
@jakzal sure, I take a look.

[2016-02-11 15:34] javiereguiluz commented on #15203
For what is worth, Node.js applies an optimization strategy similar to @unkind's idea:

  * Functions are always inlined ... unless they are "long"
  * Long function = contains more than 600 characters (including white spaces) or more than 196 AST nodes.

Source: http://jayconrod.com/posts/54/a-tour-of-v8-crankshaft-the-optimizing-compiler

[2016-02-11 15:34] HeahDude commented on #16296
This one can be closed as fixed by #16758 IMO.

[2016-02-11 15:58] #16296 closed

[2016-02-11 16:00] HeahDude commented on #16802
Hi @ossinkine, I can confirm your issue, a workaround it to call the field data :
[code]
It's a problem of propagation of submitted data.

I'll send a PR as a proposal to fix this issue, thanks for reporting it.

Status: reviewed

[2016-02-11 17:53] ureimers commented on #17492
Thanks for the link @Tobion!

We use ``umask(0)``, because our hosting partner doesn't allow us to be in the www-data group, let alone changing the user of apache. At least for the time being. I hope to convince them that this is pretty archaic.

But nevertheless: Right now we have a problem, because we can't clear our cache anymore. As we are the only user who have access to the cache directory,

[2016-02-11 18:22] dmaicher commented on #17627
Ok but then we can agree that its not a Symfony bug, right? ;)

[2016-02-11 18:54] ureimers commented on #17019
I see, thanks @HeahDude for the reply.

The main problem of the initial post seems to be to use the old way of specifying choices (``choices_as_values => false``) doesn't work well together with using an array for ``choice_attr``.

When using ``choice_as_values => true`` everything works as expected:

[code]

But the other way around it doesn't:

[code]

Internally this may make sense, but from th

[2016-02-11 18:55] webdevilopers commented on #17627
The (original) issue is that the violation set to the Type or Color is lost after readding the elements with the event.

[2016-02-11 18:57] dmaicher commented on #17627
Yes but most likely that happened because you modified the form in the event ;)

[2016-02-11 21:13] webdevilopers commented on #17627
Since there is no way to modify a field in Symfony I have to re-add the field. The original field was "violated". After re-adding the error / violation is totally lost. I don't think this is an expected behaviour. You want the errors to persist throughout the events / form process.

[2016-02-11 21:15] dmaicher commented on #17627
Yes but as we mentioned you should not add/remove fields in the `SUBMIT` event. That is the cause of the problem ;)

[2016-02-11 21:20] MatTheCat commented on #16782
This behavior is definitely weird. Is there any plan to make it consistent?

[2016-02-11 22:31] xabbuh commented on #17627
Closing as this does not seem to be a bug an Symfony. We can reconsider that if you experience the same issue using the `PRE_SUBMIT` event.

[2016-02-11 22:31] #17627 closed

[2016-02-12 02:05] HeahDude commented on #17019
Thanks @ureimers for your feedback, it seems you're right about a different behaviour of `choice_attr` depending on `choices_as_values`. I try to recap how it is actually working, because many people seem confused with this.

Using `choice_attr` with an array in 2.x
---------------------------------------------------
[code]
__Statement__ : `choice_attr` as an array maps attributes by a flatten ind

[2016-02-12 02:18] rajeshtaneja opened #17772 "[Form] ChoiceFormField should send a value if unchecked."
We have a form which has checkbox with default value checked. With behat when we try to untick it, the value if not changed, because the value is set as null. Reason being:
1. untick set the value [false](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DomCrawler/Field/ChoiceFormField.php#L106)
2. SetValue set the value [null](https://github.com/symfony/symfony/blob/master/src

[2016-02-12 02:35] rajeshtaneja commented on #17772
Sorry for the noise, I know why this is not sent.

[2016-02-12 02:35] #17772 closed

[2016-02-12 02:57] HeahDude commented on #15455
Hi @armetiz, what is the status os this issue ?
__stof__ provided a nice way to deal with your problem.
To avoid dealing with grouped choices you could cast the arrays to objects :
[code]

This should work as expected.

[2016-02-12 03:03] HeahDude commented on #14712
I think #17760 should fix this one.

To be sure it will, you can try this workaround :
[code]

[2016-02-12 03:11] HeahDude commented on #14579
Hi @apfz, setting `empty_value` option will provide data `true` while the submition of the form if none is submitted.
If you want to set a default `true` value to your checkbox so it can appear checked in your view you should use the option `data` instead.

This issue may be close.

Status: reviewed

[2016-02-12 03:13] HeahDude commented on #14565
Hi @webdevilopers, I think you're right, the recent ability to use `choice_attr` should perfectly fit that use case.

Should be closed as fixed by #14050.

[2016-02-12 03:33] HeahDude commented on #14514
Hi @mpdude, I would advise you what I'm actually using in one of my projects, as it may fit your need.

Your `FormType` class instead of mapping "fields", could map a lot of sub form types, with different submit buttons and defining some special css class (by using the `attr` option) allows a lot of tweak on client side.

Then some few lines of jQuery should do the trick : prevent default submissi

[2016-02-12 05:40] apfz commented on #14579
@HeahDude, would `data`  not always set the value to true, and always override the value of the property (public in this case)?

[2016-02-12 06:21] #17586 closed

[2016-02-12 06:27] fabpot commented on #13759
Closing as the function does not return any exception by itself. This is probably related to a bad error handler.

[2016-02-12 06:36] HeahDude commented on #14579
@apfz, no `data` is just about initializing, not submitting, you can still use the form as you intend (set data).

`empty_value` comes in place if you did not submitted data (in this case uncheck the checkbox). So you may not want to do this I think.

[2016-02-12 07:05] javiereguiluz commented on #16529
Any news about this issue? Can we confirm it as a Symfony bug? Thanks!

[2016-02-12 07:07] javiereguiluz commented on #16517
Closing it as "fixed", because as @stof said, this is a well-known and needed Symfony behavior.

[2016-02-12 07:07] #16517 closed

[2016-02-12 07:10] javiereguiluz commented on #16376
I'm closing this as a duplicate of #16540 (which already contains an associated pull request: #17602)

[2016-02-12 07:10] #16376 closed

[2016-02-12 08:36] dazorni opened #17773 "Form Choice options with hidden labels 2.8"
Hi,

we updated from Symfony `2.6` to `2.8` with the choice options you can find below.
We expected the label of our choice type should be hidden and just the value and the input element exists. In 2.6 this worked for us.

When we upgraded to 2.8 (with the same options) the labels are shown again. The Problem is caused by an empty string in the view, not as expected `false`.

[code]

So we added a

[2016-02-12 08:46] javiereguiluz opened #17774 "Allow to define Enum nodes with one element"
In #15433 we partially solved this limitation. But, [as reported](https://github.com/symfony/symfony/pull/15433#issuecomment-183228331) by @ogizanagi, we also need to change EnumNodeDefinition: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Config/Definition/Builder/EnumNodeDefinition.php#L34-L36

[2016-02-12 08:48] #16461 closed

[2016-02-12 09:05] HeahDude commented on #17773
Hi @dazorni, this may be fixed in next releases of symfony by #17760.

Meanwhile using options as below should help :
[code]

Can be closed as duplicate of #17292 IMO.

[2016-02-12 09:21] dazorni commented on #17773
Thanks for your fast feedback! I tried this and i won't get the expected result. The labels are still shown...

[2016-02-12 10:02] HeahDude commented on #14072
A big :+1:  for this !

This could be easily implemented globally in `ChoiceType` and used in all its inheritance, if the filter was applied when building the choice list.

The filter option could be a property path or a callable returning a boolean (`false` reject the choice), so we could have something like :
[code]
and in `ChoiceType` :
[code]
Filtering choices makes sense to me only if they ar

[2016-02-12 10:04] HeahDude commented on #17773
Of courses I've missed that sorry :) so it is :
[code]

[2016-02-12 10:11] ureimers commented on #17019
Phew, that was a comprehensive but very clear roundup. Thank you for taking the time to write it down!

[2016-02-12 10:26] HeahDude commented on #17019
@ureimers thank you, I was afraid it was to long for someone to read, but I could not make it shorter while keeping it as clear as possible. Hope it will help some others to better understand the way it goes.

[2016-02-12 10:30] webdevilopers commented on #17627
You were right guys, the `PRE_SUBMIT` is the correct event to persist the errors. I re-arranged my code:
[code]

The only thing that does not work is unsetting the `$data` for the case the user selected a `rollerShutterType` and then changed his mind and set `rollerShutter` to `false`.
Of course the value is unset on client side by javascript. But do I have to use the `SUBMIT` event to unset `$dat

[2016-02-12 10:33] dmaicher commented on #17627
Yes the correct place for that would be the `SUBMIT` event. Like I posted above this should work:

[code]

[2016-02-12 10:34] webdevilopers commented on #14712
Fix works! :+1:

[2016-02-12 10:36] webdevilopers commented on #17627
Thanks and "Danke" for the great help!

[2016-02-12 10:38] OskarStark commented on #14712
ping @core23 can you please check the fix?

[2016-02-12 10:52] webdevilopers commented on #14712
Ps.: I'm not sure if this has to be considered. When using the `PRE_SUBMIT` event and checking the value for the boolean field you will get **0** or **1**, not the boolean strings:

[code]

[2016-02-12 11:57] javiereguiluz commented on #17386
I can confirm this issue too. In some applications we started seen these errors in the logs:

[code]

[2016-02-12 11:57] weaverryan commented on #15296
btw, I usually solve this now with the MicroKernelTrait, so that my original loading code is in PHP, so it's easy to use a `__DIR__` to target the file. Using a `service` route loader (that the trait uses internally) would also let you import via a service, where you could have the `kernel.root_dir` injected.

Nice seeing you last week @nesl247 :)

[2016-02-12 11:58] javiereguiluz commented on #2630
Closing it as "won't fix" as per @aitboudad's comments. Thanks.

[2016-02-12 11:58] #2630 closed

[2016-02-12 12:10] xabbuh commented on #17386
@javiereguiluz Are you able to extract the steps needed to reproduce the issue on a fresh installation of the Symfony Standard Edition?

[2016-02-12 12:12] COil commented on #17386
It will be in the next release 2.8.3 I think, check #16736.

[2016-02-12 12:13] xabbuh commented on #17386
okay, closing here then if this is fixed by #16736

[2016-02-12 12:19] weaverryan commented on #17724
@dunglas

You're right - but it's odd: if I use your same syntax but with `null`, it'll fail:

[code]

Anyways, with your working example, it just doesn't *feel* right. One day, autowiring might work great. Then suddenly I add a 4th constructor argument that can't be autowired. Suddenly I need to add 5 lines (`arguments` and the lines below) to make the service work again:

[code]

And if we chang

[2016-02-12 12:22] Congelli501 opened #17777 "Since Symfony 3.0.2, the twig->render method doesn't work with absolute path"
Environment:

- PHP 5.6
- GNU/Linux
- Symfony 3.0.2 (ok with 3.0.1)

Since Symfony 3.0.2, the Symfony\Component\Templating\EngineInterface::render method doesn't work with absolute path to the template file (Unable to find template error).

Step to reproduce (from sratch):

[code]

[2016-02-12 12:23] javiereguiluz commented on #11124
Closing it because the discussion stalled and the associated pull request was closed. Besides, Drupal folks could overcome this limitation somehow before releasing Drupal 8. Thank you all for the discussion.

[2016-02-12 12:23] #11124 closed

[2016-02-12 12:27] javiereguiluz commented on #11642
Closing it because some Symfony Core members, such as @stof, doesn't seem to agree with this idea.

[2016-02-12 12:27] #11642 closed

[2016-02-12 12:31] javiereguiluz commented on #11782
Closing this old issue because of the lack of activity. If the problem persists in a maintained Symfony version, please reopen this issue with additional details. Thanks!

[2016-02-12 12:31] #11782 closed

[2016-02-12 12:58] dazorni commented on #17773
I tried this and this doesn't also work. Maybe the result i expect will help:

[code]

The current label value is casted to string. So in the view of the form you get the wrong value (empty string) and not as expected false.

[2016-02-12 13:26] wodka opened #17778 "improve KernelTestCase for MicroKernels"
right now KernelTestCase will always use the first "*Kernel.php" file.

With the addition of MicroKernels there might be multiple:

- AdminKernel.php
- ApiKernel.php
- AppKernel.php

it would be great to be able to override the search to a different Logic https://github.com/symfony/symfony/blob/582f4753a343f230fbe18b4e9a0747d48351ddfb/src/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.php#L118

[2016-02-12 13:40] backbone87 commented on #17773
I think @HeahDude missinterpreted your use-case:
Maybe the following is correct:
[code]

With this setup you can also freely change the order of the choices array and still access everything "by value" like `jQuery.find("input[type=radio][value=3]"` or `$choiceForm->createView()[3]`, even when changing the choices array to `array(3, 1, 2, 4, 5)`.

[2016-02-12 14:06] backbone87 commented on #14514
This is not quite as easy and at least with the current form impl not so good performance wise.

The best bet imho is to provide an external service for this:
[code]

the `queryStringFromFormBuilderService` must create a new form of type FilterType with $hintFilter as data, then create the form view and loop over the leafs in the view tree and build the QS from key/value vars.

[2016-02-12 14:10] xabbuh commented on #16529
@teohhanhui Can you provide a failing test case for this?

[2016-02-12 14:36] webmozart commented on #14514
@mpdude I think it should be easy enough to write a `form_url()` function for Twig that takes the `FormView` and loops over the fields and their values. Each `FormView` stores two attributes that you will need: `$form->vars['full_name']` stores the HTML name and `$form->vars['value']` stores the string value. With those, you can build the key-value pairs of your query string.

Hope this helps. :)

[2016-02-12 14:36] #14514 closed

[2016-02-12 14:39] stof commented on #17778
``getKernelClass`` is precisely the extension for that. Overwrite for your need. You just need to return the class name (and as of the Symfony 2.8 standard-edition, the kernel is autoloadable with Composer, making it very easy to return a class name only as you don't need to require the file)

[2016-02-12 14:45] javiereguiluz commented on #13996
Closing it for the reasons given by @stof in the previous comment and @Tobion in https://github.com/symfony/symfony/pull/17591#issuecomment-182896954.

[2016-02-12 14:45] #13996 closed

[2016-02-12 14:51] wodka commented on #17778
I tried to return the classname but it always failed.

[code]

does not work for app/ApiKernel.php

[2016-02-12 15:34] jakzal commented on #8348
The `ChoiceFormField::isDisabled()` method checks if a currently selected option is disabled.

In case of a radio button this might make sense, as all the radio buttons share the same name.

In case of the checkbox I think the value shouldn't matter. There's always a single checkbox in each `ChoiceFormField`. Therefore I think #2720 broke the behaviour for checkboxes.

In case of a select with opt

[2016-02-12 16:13] #14021 closed

[2016-02-12 16:18] HeahDude commented on #17773
@backbone87 :+1:

[2016-02-12 16:19] xabbuh commented on #17777
Looks like this is caused by #15272 (see #17683).

Status: Reviewed

ping @jakzal

[2016-02-12 16:19] xabbuh commented on #17683
see also #17777 which contains some more information how to reproduce this issue

[2016-02-12 16:21] xabbuh commented on #17758
Couldn't we handle this in the Form layer when the request data is bound?

[2016-02-12 16:22] matthbull opened #17779 "[2.8|3.0][bug][filesystem] IOException from JMSDiExtraBundle::FastDirectoriesResource"
-PHP-7.0.2
-Symfony-2.8.2
-jms/di-extra-bundle v1.6.0

CRITICAL
15:47:26
request	Uncaught PHP Exception Symfony\Component\Filesystem\Exception\IOException: "Failed to create "/data/www/mysite.dev/app/Resources/bin/backup_data/": The class "JMS\DiExtraBundle\Config\FastDirectoriesResource" is performing resource checking through ResourceInterface::isFresh(), which is deprecated since 2.8 and will b

[2016-02-12 16:22] HeahDude commented on #17773
You can also do `'choice_label' => function() { return false; }`

[2016-02-12 16:27] javiereguiluz commented on #17779
@matthbull the first part of the error message seems related to a permission issue that prevents to create a directory. The other part is about a deprecated usage made by JMSDiExtraBundle.

For the first error, check permissions and if it doesn't work, please ask for help using these alternatives: https://symfony.com/support. For the second error, please create an issue in the bundle repository. T

[2016-02-12 16:27] #17779 closed

[2016-02-12 17:22] jakzal commented on #17777
I started looking into this.

re https://github.com/symfony/symfony/pull/12894#issuecomment-68255459

[2016-02-12 18:01] sharpner commented on #17773
Don't you guys think he read the documentation?

[2016-02-12 18:07] maryo opened #17783 "A possibility to set autowiring types of thirdparty services."
I'm missing a possibility to set autowiring types of thirdparty (or framework) services.
I could imagine if one could set it using a service alias but not sure it's a good idea. Maybe there are better ways. It is probably already possible to set the autowiring type in a custom CompilerPass so maybe it's not a good idea at all. This would allow to do it in a configuration file.

Something like
[cod

[2016-02-12 18:21] backbone87 commented on #17773
@sharpner i dont know what point you are trying to make

[2016-02-13 00:01] twifty opened #17786 "[Translation] Fallback not working when using a script"
My default locale is 'en'. At the moment, I only have resource catalogues for the 'en' locale. For every simple locale, for example 'en_US', 'zh_CN', the translator will fallback to the 'en' locale and issue a warning/error.

The problem comes into play when using locales with a script subtag, as in 'zh_Hant_SG' (Singapore Traditional Chinese) or 'zh_Hans_SG' (Simplified Chinese). These correctly

[2016-02-13 08:28] shadz3rg opened #17788 "Symfony 3.0.2 - Kernel locateResource method"
Symfony\Component\HttpKernel\Kernel::locateResource method with given string  "@AppBundle/Resources/changelog.xml" is searching file in /src/AppBundle which is misleading since Resources folder now in /app/Resources
Is it a bug or feature? What should i use instead?

[2016-02-13 08:43] javiereguiluz commented on #17788
@shadz3rg in the GitHub repository we only discuss about Symfony bugs and new features. For this kind of questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

---

In any case, the answer to your question is probably: use the `kernel.root_dir` container parameter, which in most cases corresponds to `app/` directory: `$this->getParame

[2016-02-13 08:43] #17788 closed

[2016-02-13 09:45] HeahDude commented on #14712
@webdevilopers actually without the fix, you get an empty string for `false` and `null` but `'1'` for true.

So this is kind of a fix expected too IMO.

[2016-02-13 10:22] HeahDude opened #17789 "[2.7] [Form] cannot pre select choice in ChoiceType when using radio buttons"
I'm opening this issue in addition of #14712 because this bug does not seem related since the fix provided by ed68dd5 does not work in the special case where you want to use radio buttons by setting `expanded` as `true` and `multiple` as `false`.

~~I managed to get it fix by 097d590 at this [line](https://github.com/HeahDude/symfony/commit/097d5904ad9e12b70b305b2d1a4609a6720483f6#diff-11ee91a32c6

[2016-02-13 10:23] HeahDude commented on #17789
Status: Needs Review

[2016-02-13 12:30] javiereguiluz commented on #16532
Closing it as fixed by #17745.

[2016-02-13 12:30] #16532 closed

[2016-02-13 15:07] javiereguiluz commented on #14435
Closing it in favor of #15294, which not only would provide the name of the firewall but more information.

[2016-02-13 15:07] #14435 closed

[2016-02-13 15:13] javiereguiluz commented on #13956
@Tobion do you still think we should do this change? Thanks.

[2016-02-13 15:18] javiereguiluz commented on #13678
Closing it because this proposal didn't receive enough support from the community or the Symfony Core team. In any case, thanks @heidemn for proposing a way to improve Symfony.

[2016-02-13 15:18] #13678 closed

[2016-02-13 15:25] javiereguiluz commented on #11290
Closing it because the issue can be solved as explained by @stof. Besides, this feature hasn't been requested by other users, so for now we won't add it to the component. Thanks for understanding it.

[2016-02-13 15:25] #11290 closed

[2016-02-13 15:28] Tobion commented on #13956
yes

[2016-02-13 15:33] javiereguiluz commented on #11289
Closing it because this feature looks unnecessary. The Finder component uses the PHP's built-in iterators and is well-tested, so it won't change the default behavior in newer Symfony versions. (And if we break this by mistake, we'll get lots of bug reports and we'll fix it right away).

In any case, if you still want to be sure about the result sorting, you can keep applying the solution you menti

[2016-02-13 15:33] #11289 closed

[2016-02-13 15:42] alex1442 opened #17791 "[3.0.2]problem with buildForm (formtype)"
in ChoiceType::class
if expanded set to `true` then
parameter 'empty_data'  ignored ,

validator return error not null for this value

a similar problem https://github.com/symfony/symfony/issues/17789
sf 3.0.2

[2016-02-13 16:19] Tobion commented on #17026
Closing as duplicate of #15054

[2016-02-13 16:19] #17026 closed

[2016-02-13 16:29] Tobion commented on #14579
@HeahDude You mixed up `empty_value`  (placeholder) and `empty_data` but otherwise it's correct.
So closing.

[2016-02-13 16:29] #14579 closed

[2016-02-13 16:45] Tobion commented on #10477
This use-case is explained in https://webmozart.io/blog/2015/09/09/value-objects-in-symfony-forms/

[2016-02-13 16:45] #10477 closed

[2016-02-13 17:13] #14565 closed

[2016-02-13 17:27] Tobion commented on #17749
This was also done with gitattributes and reverted in #6605
I still think this should be reintroduced as I said in https://github.com/symfony/symfony/issues/6605#issuecomment-60306001

[2016-02-13 18:10] HeahDude commented on #14579
@Tobion, you're right, it was just a typo

[2016-02-13 18:58] HeahDude commented on #11740
I don't agree as it would usually be expected that "selected" values match the default data, otherwise it would be weird IMO.

However you're right, you cannot dynamically set the data in `EntityType` since loading choices is made internally.

For this use case you should load your entities first and pass them through the `choices` option of `ChoiceType` instead, while you would get the opportunit

[2016-02-13 20:26] HeahDude commented on #13589
Cannot a listener of `FormEvent::PRE_SUBMIT` do the job ?
[code]

[2016-02-13 20:32] HeahDude commented on #11740
Here's a possible workaround for symfony 2.7 :

[code]

[2016-02-13 21:10] WishCow commented on #10477
Can you elaborate?

[2016-02-13 22:13] HeahDude commented on #10477
@WishCow when you submit a choice field with no value select, 'empty_data' overrides the submitted data, in that case null.

You may want to set it as : `'empty_data' => new \Bundle\Group()`

But this wouldn't be work because `EntityType` only use "managed" entities and would throw an exception.

The workaround is :
[code]

[2016-02-13 22:14] paul-m opened #17794 "PHP complains about Symfony\Component\HttpKernel\Event\callable"
In circumstances I can't recreate locally, I get the following error with symfony 3.0.2 plus silex 1.3.5 (as a RESTful front-end for Drupal 7).

Works fine locally, dies a firey death on Pantheon hosting. The same code works with symfony 2.8.* and silex 1.2.*.

[code]

The method signature in question looks like this:

[code]

So. Should this say `\callable`?

[2016-02-13 22:58] Taluu commented on #17794
What is your version of php ? `callable` is a php 5.4 feature...

[2016-02-13 23:28] WishCow commented on #10477
I see, thank you.

[2016-02-14 00:53] #17794 closed

[2016-02-14 00:53] Tobion commented on #17794
Looks like a php version error.

[2016-02-14 02:08] paul-m commented on #17794
Ugh. Yes, it is a version problem. Build phase lied to me.

Thanks, folks.

[2016-02-14 09:57] javiereguiluz commented on #17736
Closing it as solved thanks to the excellent help and guidance provided by @HeahDude. Thank you!

[2016-02-14 09:57] #17736 closed

[2016-02-14 10:05] javiereguiluz commented on #17764
I'm afraid that Symfony considers that a feature instead of a bug. The singularify method "correctly" transforms `data` (plural) into `datum` (singular). Some people are against this "feature" but most Symfony developers seem happy with it or they just don't care. That's why I'm closing this issue as "won't fix". Thanks for understanding it.

[2016-02-14 10:05] #17764 closed

[2016-02-14 10:09] javiereguiluz commented on #17773
Closing it as fixed by the answer provided by @backbone87. @dazorni if you don't agree or if the error still persists, please reopen this issue. Thanks!

[2016-02-14 10:09] #17709 closed

[2016-02-14 10:09] #17710 closed

[2016-02-14 10:11] javiereguiluz commented on #17778
@wodka have you tried returning the fully qualified class name?

[2016-02-14 10:55] wodka commented on #17778
this is the fully qualified name :(

ApiKernel File:
[code]

composer.json has the following autoload config:
[code]

I just checked the composer json of symfony-standard:
[code]
<< shouldn't this include app/*Kernel.php to autoload all kernels?

[2016-02-14 13:01] #13505 closed

[2016-02-14 13:46] #17774 closed

[2016-02-14 16:03] dazorni commented on #17773
This issue still exists, i tried all of @backbone87's fixes....

[2016-02-14 16:04] javiereguiluz commented on #17773
Reopening then.

[2016-02-14 16:12] HeahDude commented on #17773
Hi @dazorni, could you please try :

[code]

That works for me.

[2016-02-14 16:13] matteomoretti opened #17796 "[Form] NotBlank constraint on edit"
I noticed that issue https://github.com/symfony/symfony/issues/17180 and I'm in a comparable situation.
I'm trying to setting a `null` value instead of an entity (this time is not a collection as shown in the issue I've linked) and I would like validation to be triggered.
I don't want to rely on client-side validation with HTML5 onto my forms, so, in development env. I use to turn off this kind of

[2016-02-14 16:23] alcaeus commented on #17773
Working around with these options is not going to change the fact that the view will always return an empty string, no matter if the label callback returns false, null or whatever. This is due to a string cast in `DefaultChoiceListFactory`: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php#L127. So, @dazorni can try returning

[2016-02-14 16:48] HeahDude commented on #17773
@alcaeus is right,

You need to normalize `label` in `DefaultChoiceListFactory` :
[code]

[2016-02-14 16:57] HeahDude commented on #17773
Another way without tweaking the core would be to use `#field_id label {display: none; }`

[2016-02-14 17:05] dazorni commented on #17773
So it is a BC Break right? @HeahDude

[2016-02-14 17:08] HeahDude commented on #17773
@dazorni How that ? It could if one used `choice_label` with a callable returning `false` and expected a label as `'0'`

[2016-02-14 17:19] alcaeus commented on #17773
Gave it a quick spin. With 2.6 the configuration specified in the original post would yield 5 radio inputs without a label text. With 2.7 the configuration will yield 5 radio inputs, each with their name as label (this is because

[2016-02-14 17:43] HeahDude commented on #17773
So this is a BC, I send a PR with the fix above.

[2016-02-14 18:11] dazorni commented on #17773
Thanks to @alcaeus

[2016-02-14 18:33] javiereguiluz commented on #17773
@alcaeus yes, let's label it as "BC break".

[2016-02-14 18:41] dawehner commented on #11642
Well, its clear that the usecase of symfony is not that unopinionated that it claims to be.

[2016-02-14 19:39] HeahDude commented on #17773
Tests on #17798 are passing now, if it's merged you will be able to to :

[code]

[2016-02-14 20:55] xabbuh commented on #17791
Can you explain your issues a bit more and how it is even different from the referenced issue? The best would be to form the Symfony Standard Edition and make the changes needed to reproduce it.

[2016-02-14 22:05] HeahDude commented on #17271
This issue should be reopen until #17694 is merged. This is a bug of `EntityType` not handling `choice_value`.

[2016-02-14 23:24] ostrolucky opened #17799 "Update for ChoiceType field via PATCH HTTP method doesn't work"
Form having only one field (choiceType) works fine if sent as POST, but doesn't if same data are sent as PATCH. Tested on symfony 2.7.9 and  3.0.2.

[2016-02-15 00:05] HeahDude commented on #17799
Hi @gadelat, with a PATCH method, `$clearMissing` is false when submitting, see :
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/NativeRequestHandler.php#L129
So it may be related to https://github.com/symfony/symfony/issues/16802, could you please try the fix of this pending PR #17771 ?

[2016-02-15 07:05] alex1442 commented on #17791
in _ChoiceType::class_, if  _expanded_ ===true ,validator return error :
   This value should not be blank.
  This value should not be null.,
but _empty_value_ is defined.
[code]
Size valus asserts:
[code]
if expanded ===false then all right

[2016-02-15 07:14] xabbuh commented on #17271
Well, we can keep it closed as we already keep track of that bug in #13964 and #17693.

[2016-02-15 07:23] xabbuh commented on #17778
The Symfony Standard Edition only comes with one application kernel. Thus there is no need to add such a generic rule for all Symfony applications. But of course you can easily make that change in your application if you have more than one kernel.

[2016-02-15 07:58] alcaeus commented on #17773
@HeahDude thanks - what about the original config that does not specify a `choice_label`?
[code]

[2016-02-15 08:12] #17693 closed

[2016-02-15 08:12] #13964 closed

[2016-02-15 08:22] jakzal commented on #17777
I won't be able to look into this before the weekend.

[2016-02-15 08:31] javiereguiluz opened #17801 "Prevent service names from including characters not supported by the dumper"
The reasons are explained in this other discussion: https://github.com/symfony/symfony/pull/17687

The idea is:

  * Deprecate and trigger deprecation warnings since 3.1
  * Throw exceptions since 4.0

[2016-02-15 08:40] HeahDude commented on #17791
Bug confirmed in 2.7, anytime `expanded` is `true`, either `multiple` is `true` or not.

I've found a fix in `ChoiceType` add this line 95 :

[code]

Status: reviewed

[2016-02-15 09:20] #5656 closed

[2016-02-15 09:20] #11596 closed

[2016-02-15 09:28] HeahDude commented on #17791
This issue comes from `RadioListMapper` and `CheckboxListMapper` IMHO, as they reset submitted data after `Form::submit()` has used `empty_data`.

I don't if we can fix them without the "hack" above in the `Forms::PRE_SUBMIT` event when `expanded` is true.

[2016-02-15 09:36] HeahDude commented on #17773
@alcaeus it does not seem impacted by the BC break, tested and works as expected AFAIK on 2.7.

Can someone else confirm ?

[2016-02-15 09:57] dunglas commented on #17724
@weaverryan it makes a lot of sense to enhance this feature. I personally prefer you're proposal of using:

[code]

Because it couples less the code with the configuration. With named parameters, if you rename a constructor parameter, it breaks the app. With numbers as keys, the only way to break the app is to change the order of parameters (and it's already considered a BC break).

[2016-02-15 10:00] fabpot commented on #17724
:+1: for argument indexes. That's already how we manage arguments internally by the way (`replaceArgument()`).

[2016-02-15 10:46] iltar commented on #17724
Hence my original suggestion, as it's simply mapped and you can use `replaceArgument($number, $argument)`, it will be the least effort and the most intuitive.

[2016-02-15 11:04] appeltaert commented on #17153
@paradajozsef Thanks for the detailed explanation indeed. But sorry, I either disagree or fail to understand :)

Isn't **not** specifying any value such as `app:` the same as `app:~` ? As in NULL, **use defaults**? This is how any Symfony component works anyway.

Setting it to `false` specifically says **do not enable**. No?

The docblock you link to also seem to confirm this:

[code]

So saying t

[2016-02-15 11:15] HeahDude commented on #17791
Beware if you set `empty_data` as a callable you should use this code instead from [line 93 of `ChoiceType`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php#L92) :
[code]

[2016-02-15 11:23] xabbuh commented on #17153
@appeltaert I am not sure I completely understand your issue. Would you be able to provide a failing test case? That would probably make it easier to understand your use case/issue.

[2016-02-15 12:18] gadelat commented on #17799
That Fix improves situation, because at least entity setter is hit now (and with correct value). However, $form->isValid() returns false now when other than first choice is submitted.

Here is simple code demo: https://github.com/gadelat/sfBug  (You need to apply the patch manually)

[2016-02-15 12:42] gadelat commented on #17799
Condition you added in your PR after commit 6ff8ec0 never evaluates to true. Before that commit at least entity setter is hit (which isn't the case without your fix), even though form isn't valid.

Here is simple test case https://github.com/gadelat/sfBug (patch needs not be applied manually)

[2016-02-15 13:17] HeahDude commented on #17799
I can confirm your bug as of 2.7, but even if the the fix provided by #17771 might work, I've experience the same experience as you with validation.

We cannot close this one as duplicate of #16802 yet since in your case the proper fix would be :
[code]

Note that the validation does fail but the data has been updated anyway.

Errors are showing up in wdt if choices before matching the submitted o

[2016-02-15 14:47] bordeux opened #17802 "Validating email problem with SwiftMailer"
Hi guys! I have a problem with email validator. So here is example:
![example](http://i.imgur.com/KsTt7zB.png)

Result in var_dump is 0 = 0 errors. Wtf?!

So ok, meybe this email is correct. But when im creating swift email object o got a exception:

![example](http://i.imgur.com/0fIIUlX.png)

So: strict flag on email object is invalid. :)

[2016-02-15 14:55] spdionis opened #17803 "Upgrade-2.8.md and sensio/distribution-bundle"
Currently there is no mention in the upgrade path about changes made to `app/console` file. Apparently there were changes in `bootstrap.php.cache` generation too.

While upgrading to symfony 2.8 I also upgraded `sensio/distribution-bundle` to version `~5.0` because I noticed that was the version generated when a fresh symfony 2.8 project was created. Apparently though  the autoloader doesn't loade

[2016-02-15 15:41] bamarni opened #17804 "[Console] help and merging of application arguments"
Lately I've seen a few inconsistencies with the help command, mainly due to arguments merging. I'll use composer as an example.

[code]

This issue is due to #3569, I think it should be reverted since @Seldaek fixed it in a more generic way here #7650.

For the help command, the extra arg is still here though :

[code]

I had submitted #9286 on top of @Seldaek fixes, should I rebase and check if i

[2016-02-15 15:48] calinpristavu opened #17805 "[HttpFoundation] [Session] Unnecessary PHP version check"
As the minimum required PHP version has been bumped to 5.5.9, there is a redundant check in the `NativeSessionStorage::regenerate` method for version 5.4.0:
[NativeSessionStorage::regenerate#L185-L192](https://github.com/calinpristavu/symfony/blob/master/src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php#L185-L192)

I started working on a deprecation PR for `2.8` and a f

[2016-02-15 15:50] nicolas-grekas commented on #17805
please open a PR on 3.0 to remove the dead code,
we don't add any deprecation to 2.8

[2016-02-15 16:08] noniagriconomie opened #17806 "[Session] question + information/documentation"
Hi,

I just want to know, as I did not find any doc, why the `session_fixation_strategy` is by default `migrate`? (symfony 2.8)
Is it due to security issues? Or anything else?

As well, it could be cool if we can find a little doc on the block

[code]

in http://symfony.com/doc/current/reference/configuration/security.html

Many thanks :)

[2016-02-15 16:12] xabbuh commented on #17802
Using UTF-8 characters in the local part is totally valid. To avoid issues when using Swiftmailer, you can use the development version of the upcoming 6th version of Swiftmailer (see swiftmailer/swiftmailer#403, swiftmailer/swiftmailer#409, egulias/EmailValidator#42).

[2016-02-15 16:12] #17802 closed

[2016-02-15 16:35] kleijnweb opened #17808 "[Monolog Bridge] Dependency issue"
[code]

This happens when I run composer update --prefer-lowest with symfony/http-kernel: ^3.0 symfony/monolog-bundle: ^2.8. monolog-bridge then claims v2.4.0 to be compatible, which is untrue because it depends on before-mentioned interface which was removed from symfony/http-kernel 3.0.

Adding symfony/monolog-bridge: ^3.0 resolves this issue. Not sure what can be done about it, but thought I'd

[2016-02-15 16:36] calinpristavu commented on #17805
Submitted PR + changed description to comply with fabbot

[2016-02-15 16:52] #17805 closed

[2016-02-15 17:45] stof commented on #17805
Thus, there is nothing to deprecate in 2.8 in this case. The fact that we don't need the version check in 3.x thanks to our version requirement does not imply this is deprecated in 2.8

[2016-02-15 18:00] Gladhon commented on #11752
+1 for not making a subrequest in exceptionhandling.

[2016-02-15 18:25] eXtreme commented on #17803
Well, this is not a correct repository to report this. It is also reported there: https://github.com/sensiolabs/SensioDistributionBundle/pull/255
Also, take look at upgrade notes for symfony standard:
https://github.com/symfony/symfony-standard/blob/2.8/UPGRADE-2.8.md

[2016-02-15 18:28] javiereguiluz commented on #17803
@spdionis thanks for reporting this issue. However, as @eXtreme said, we probably need to fix it in another repository (to be exact, in https://github.com/sensiolabs/SensioDistributionBundle/pull/255). That's why I'm closing this issue.

[2016-02-15 18:28] #17803 closed

[2016-02-15 18:31] spdionis commented on #17803
Thank you for the directions

[2016-02-15 18:39] backbone87 commented on #17773
Imo, this BC break should only be fixed for 2.x and not for 3.x
The change in 3.x should be done within the form template, because an empty label doesnt make much sense from a users perspective, so the check at https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig#L211 should be `is not empty`

[2016-02-15 18:55] weaverryan commented on #17724
Ok then with arguments by index! Actually, I thought that this would already work - I tried that originally and then opened this "bug" (see my original code block, it matches the last one from @dunglas) exactly.

So, this is "actionable" -  someone just needs to make wiring work with a specific index.

Thanks!

[2016-02-15 19:24] xabbuh commented on #17736
@adampastusiak By the way, having to pass an array for the `data` option should only be necessary when the `multiple` option is set to `true`.

[2016-02-15 21:20] appeltaert commented on #17153
@xabbuh Sure, here you go: https://github.com/appeltaert/symfony17153

The first two fail, but they shouldn't.

[2016-02-15 21:51] maryo commented on #16299
@HeahDude I want it for every secured action when the user is redirected to the login page which is done in the entry point in Symfony exactly here: https://github.com/symfony/security-http/blob/master/EntryPoint/FormAuthenticationEntryPoint.php#L50

@javiereguiluz I wanted to display a flash message only in case of anonymous user trying to access a secured page which results into redirection to l

[2016-02-15 22:48] HeahDude commented on #17773
@backbone87, I don't agree with you on this point, there's a real use case for empty label (I often use it myself), allowing to customise form with css. Empty label is not the same as no label, and both should be handled.
Besides a fix would need consistency in all branch IMHO, maintaining two different ways would give headaches to a merger.

[2016-02-15 23:26] HeahDude commented on #16299
The easiest way IMHO would be using a listener on `Kernel::Response` event.
[code]

[2016-02-16 01:59] HeahDude commented on #17799
Ok I think I found a proper way to fix it, could you please try to add this at [line 560 of `Form`]( https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Form.php#L560) :

[code]

[2016-02-16 02:01] HeahDude commented on #16802
Hi @ossinkine, could you please try the fix provided in #17771 to see if it works for your issue ?

[2016-02-16 04:09] sameg14 opened #17815 "PHP Parse error in Symfony3 using installer"
Steps to reproduce

1. Download symfony installer following these instructions
[code]

2. Next attempt to install a new project
[code]
[code]

[2016-02-16 04:12] sameg14 commented on #17815
I am on a mac OSX 10.9.5 and here is my PHP version
[code]

[2016-02-16 06:26] xabbuh commented on #17815
Well, for Symfony 3 you need PHO 5.5 or higher.

[2016-02-16 06:26] #17815 closed

[2016-02-16 07:31] javiereguiluz commented on #17815
@sameg14 the right answer is the one given to you by @xabbuh. But if you have other issues with the Symfony Installer, please open an issue in https://github.com/symfony/symfony-installer Thanks!

[2016-02-16 08:48] ossinkine commented on #16802
Hi @HeahDude
It seems to be working for me

[2016-02-16 11:40] #16665 closed

[2016-02-16 12:43] backbone87 commented on #17773
@HeahDude at least the implications of empty vs no label in terms of accessibility should be mentioned in the form type reference.

[2016-02-16 15:18] HeahDude commented on #16802
Thanks for the feedback.

[2016-02-16 15:57] HeahDude commented on #17773
@backbone87 it's consistent with the `label` option as said in http://symfony.com/doc/2.7/reference/forms/types/form.html#label

Do think it misses "a label can be an empty string" ? I'm not sure but why not ?

However an update for `choice_label` mentioning it can be `false` would be welcome indeed, it's in the todo list of #17798.

[2016-02-16 16:27] wodka commented on #17778
the problem is that getKernelClass() also does a require on the kernel itself. But it is only using the first *Kernel.php file in app/

If an app has multiple microkernels (as far as I understand they have been created for exactly this reason) it tricky to create a WebTestCase.

to be able to use your own kernel you have to override getKernelClass()

[code]

with this modification it is possible t

[2016-02-16 16:44] stof commented on #17778
The main reason it does such require_once is because the kernel was not autoloadable in the projects created before Symfony 2.8. As we use autoloading for the kernel now, we will probably simplify this logic a lot in the future.

When you have multiple kernels, the right way is to make them autoloadable, as done for AppKernel and AppCache as of 2.8

[2016-02-16 17:23] jakzal commented on #17778
@wodka this is what stof's talking about: https://github.com/symfony/symfony-standard/blob/c54fcb038ec23515d408aaf6f605aff61f0d41e5/composer.json#L8

[2016-02-16 17:27] stof commented on #17778
@jakzal he mentionned this line himself previously in the discussion :smile:

[2016-02-16 17:29] jakzal commented on #17778
Nevermind me than! :)

[2016-02-16 17:56] backbone87 commented on #17773
A form element without a label is (in general) very hard to use for people using screenreaders. It should be noted that it is not recommended to omit or use empty labels for form elements. If you need extra elements for styling purposes, you can do this in the form theme.

[2016-02-16 21:08] wodka commented on #17778
oki, adding it there works just as described!

for reference if someone else needs it - add all Kernels to the ClassMap:
[code]

now simply override getKernelClass
[code]

it would be nice to note that somewhere in the documentation

[2016-02-16 21:09] gadelat commented on #17799
Works for both Symfony 2.7 and Symfony 3

[2016-02-16 21:30] xabbuh commented on #17778
Can you open an issue on the docs repo? I am closing here as there does not seem to be anything to do in the code.

[2016-02-16 21:30] #17778 closed

[2016-02-16 22:39] HeahDude commented on #17773
Matter of choice, but one need to be able to choose , a few lines in a (must-edit) form type are more handy that overriding a theme IMO, also you can use `label_attr` for __aria__ data.

[2016-02-16 22:40] maryo commented on #16299
@HeahDude :+1: Very nice trick :)

[2016-02-16 22:41] HeahDude commented on #17799
Thank you for your feedback.

[2016-02-16 22:42] HeahDude commented on #17799
"unconfirmed" label should be removed.

Status: reviewed

[2016-02-16 22:43] HeahDude commented on #16299
;)

[2016-02-16 22:43] HeahDude commented on #16299
This issue may be closed then.

[2016-02-16 22:47] maryo commented on #16299
Well, I still think that the "decoration by default" feature when replacing services with default behavior using a configuration file is not a bad idea. But probably a different issue could be created then. Closing.

[2016-02-16 22:47] #16299 closed

[2016-02-16 22:50] HeahDude commented on #16299
:+1: But maybe hard to implement though.

[2016-02-16 23:00] maryo opened #17821 "Service as a decorator by default for some configurable framework services."
I have an idea. When setting a service id inside a bundle configuration section like for example
security.yml

[code]

the service `app.security.authentication_entry_point` (and some other replaceable services) could be automatically set as a decorator (or maybe when it is explicitly set as a decorator but it is missing the decorated service id) so the alias `app.security.authentication_entry_poin

[2016-02-16 23:12] maryo commented on #16299
I think it's actualy quite easy to implement.
I created another issue
https://github.com/symfony/symfony/issues/17821

[2016-02-17 06:17] HeahDude commented on #17791
See #17822 for a cleaner fix.

[2016-02-17 07:42] iltar commented on #17821
I've read your previous issue but I don't really understand the problem you're trying to solve. Can you provide some nice use-case perhaps?

[2016-02-17 08:32] javiereguiluz opened #17824 "Use immediate redirects"
I was replying to [this StackOverflow question](http://stackoverflow.com/questions/35341084/symfony2-redirectresponse-message/35451398) about a user which complains because redirections display the message *Redirecting to ...*

The reason seems to be that Symfony hardcodes a 1 second delay in the HTML used to perform the redirections ([see code](https://github.com/symfony/symfony/blob/2.8/src/Symf

[2016-02-17 08:38] pawel-k-coll opened #17825 "[2.7] [Validation] YAML validation on abstract class is not inherited, annotation does."
Hi,

i have abstract entity class (superclass), like this:

[code]

When i define validation in annotations, like:

[code]

With annotations every class which extends Location is validated, but i can't do the same when i have validation in YAML files, why?

[2016-02-17 12:11] er1z commented on #17273
I came across this issue too. How it was possible it worked correctly in 2.7 *everytime* and since 2.8 is a pain in...?

[2016-02-17 13:37] calinpristavu opened #17826 "[Config] Missing mandatory dependency on symfony/yaml?"
If you require only the `symfony/config` component you depend on the `symfony/yaml` `Inline` class, which does not show up in the composer `require` section.

Here is a [gist](https://gist.github.com/calinpristavu/d397d64a41c8f2860707) with the proof of error. Steps to reproduce:
1. require only the config component
2. run the code in the gist

In order to solve this, we need to tightly couple the

[2016-02-17 13:46] WouterJ commented on #17826
Well, you are using the `YamlReferenceDumper`. You can use te component perfectly without using this class. That's why it isn't in the main require section.

It should however be added to the "suggest" section of `composer.json`:

[code]

[2016-02-17 13:46] dosten commented on #17826
This isn't entirely true because you are not required to use the `YamlReferenceDumper` but agree that we should add a statement that throws an exception if the Yaml component isn't installed.

[2016-02-17 13:57] calinpristavu commented on #17826
@WouterJ Indeed you are not "supposed" to use it without the yaml component, however it's public and available. the `suggest` section makes perfect sense.

@dosten IMO adding a suggest message is a better solution, because the config component is not supposed to know internally about the yaml one.

[2016-02-17 14:02] dosten commented on #17826
So, if the Config component is not supposed to know about the Yaml component the `YamlReferenceDumper` makes no sense right? IMO if the Config component provides a Yaml dumper is better to add a check in the constructor to have a nice error message and not a random PHP error.

IMO you should add a suggest section in the composer file and a check in the constructor like here https://github.com/symf

[2016-02-17 14:04] calinpristavu commented on #17826
:+1: indeed

[2016-02-17 14:04] WouterJ commented on #17826
@calinpristavu there is no dependency in 2.3 and the next still maintained version is 2.7. So please make a PR against 2.7.

@dosten throwing exceptions isn't done for any other optional deps either

[2016-02-17 14:10] dosten commented on #17826
@WouterJ If you check my example below you will see that the Yaml dumper in the DependencyInjection component have this check and Yaml is a optional dep https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/composer.json#L27

[2016-02-17 14:13] calinpristavu commented on #17826
@dosten True, but in our case the yaml component is only needed in one method for two specific cases:
[1](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php#L94) and [2](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Config/Definition/Dumper/YamlReferenceDumper.php#L109), so it's not correct to assume that the

[2016-02-17 15:21] iltar commented on #17824
Isn't this simply a fallback because of the header failing? I agree that "0" seconds might be a better choice but afaik this case shouldn't be triggered (often).

[2016-02-17 15:45] stof commented on #17824
Yeah, this code is only triggered if the headers cannot be sent properly, which probably indicate a bug in their own code which would output something before sending the response.

[2016-02-17 16:46] ro0NL commented on #16965
Our workaround on doctrine associations `@return ArrayCollection|ContainedObject[]`

- Click-throughs in PHPStorm works on both classes :+1:
- Autocomplete on `ContainedObject` in foreach works as expected :+1:
- Autocomplete on `ArrayCollection` doesnt work :-1:

[2016-02-17 17:08] xabbuh commented on #8348
The handling of select nodes should be fixed by #17542 I guess.

[2016-02-17 17:19] xabbuh commented on #15455
Closing here as this looks more like a support request than a bug report.

@armetiz Please let me know if you don't agree.

[2016-02-17 17:19] #15455 closed

[2016-02-17 17:21] xabbuh commented on #14072
@HeahDude Afaik this proposal contradicts the cache performance improvements (you cannot cache the choices if the filter is some dynamic) that have been done recently, doesn't it?

[2016-02-17 17:26] xabbuh commented on #17019
So do you think there is anything we can do in the code or can we "fix" it by adding something to the documentation? What do you think?

[2016-02-17 17:31] xabbuh commented on #11740
Closing here as I don't see what we can do here in the core and @HeahDude provided a way to achieve this in userland code.

[2016-02-17 17:31] #11740 closed

[2016-02-17 18:10] wesleylancel commented on #17777
I'm seeing a regression where the latest 2.8.x-dev is no longer able to parse the following snippet, whereas 2.8.2 is. Possibly the same cause?

`{% extends "@FOSUserBundle/Resources/views/layout.html.twig" %}`

[2016-02-17 18:10] linxlad opened #17830 "Constraints payload option not available in view"
No matter what variation:

[code]
![Null cause](https://s3.amazonaws.com/f.cl.ly/items/0I0l392K2Q1Y2X1K1o0B/Image%202016-02-17%20at%206.04.20%20PM.png?v=4429c5d7)

The cause is null which contradicts the documentation:

[Constraint Docs](http://symfony.com/doc/current/reference/constraints/NotBlank.html#payload)
and
[Docs paylod in cause property example](http://symfony.com/doc/current/cookbook/va

[2016-02-17 18:53] MichaelMackus commented on #5953
:+1:

[2016-02-17 18:56] MichaelMackus commented on #3622
:+1:  and definitely agree with @kminh

This is compounded by the issue(s) in #5953... makes overriding/modifying validation groups very annoying, especially with cascades. This means if I use a different validation group(s) for the parent, the children must have their own custom validation group(s) (without using cascade_validation of course, which unfortunately sounds like its deprecated as well

[2016-02-17 19:43] craue commented on #15541
@nicolas-grekas, a bit late, but now I can confirm that the issue is actually solved by your PR. Thanks for that.

[2016-02-17 20:31] wesleylancel opened #17834 "Twig namespaced path doesn't work with Bundle inheritance"
When using the following notation for extending a layout:

`{% extends "@FOSUser/layout.html.twig" %}`

the view from the actual `FOSUserBundle` is used, even when it's overriden by a bundle that implements:

[code]

[2016-02-17 21:13] Tobion commented on #17834
Duplicate of #6919

[2016-02-17 21:13] #17834 closed

[2016-02-17 21:29] xabbuh commented on #11838
see #17836

[2016-02-17 21:52] wesleylancel commented on #6919
@Tobion: sorry for duping. Is this something that might still be fixed or does it need to discussed first?

[2016-02-17 21:58] xabbuh commented on #17777
@wesleylancel What error exactly do you experience?

[2016-02-17 22:06] wesleylancel commented on #17777
@xabbuh: I'll look up the exact error tomorrow but it says it can't the template in views/@FOSUserBundle or something. Before the PR it simply didn't parse it because the regexp didn't match and it was passed off to Twig, now it does but it can't actually get all the parts correctly so the TemplateReference contains incorrect data.

[2016-02-18 06:41] adampastusiak commented on #17736
@xabbuh To be honest I wasn't even aware, that I can pass array with object inside as data to FormType. When you provided that solution it has perfectly sense, but I didn't found anything about that in documentantion (maybe this is somewhere but I didn't ran into that).
Nevertheless, @HeahDude  solved my problem very fast and I'm very grateful for that!

[2016-02-18 07:24] #17826 closed

[2016-02-18 08:29] francoispluchino commented on #17777
@wesleylancel The list of affected versions of Symfony is listed in #17683.

[2016-02-18 09:01] seferov opened #17841 "Issue and Pull Request templates"
Yesterday GitHub [announced](https://github.com/blog/2111-issue-and-pull-request-templates) supporting issue and PR templates.

I think it would be nice to add `.github` to add templates automatically instead of adding them manually from the documentation.
https://help.github.com/articles/helping-people-contribute-to-your-project/

[2016-02-18 09:01] nicolas-grekas commented on #17841
Already done :)

[2016-02-18 09:01] #17841 closed

[2016-02-18 09:10] javiereguiluz commented on #17841
@seferov to give you some more info: this is the merged pull request which added this feature: #17831

[2016-02-18 09:14] seferov commented on #17841
@javiereguiluz @nicolas-grekas thanks, good job. Sorry, I was missed that one.

[2016-02-18 09:57] calinpristavu commented on #17830
Weird because I just copy-pasted your form type, created a view, submitted an empty value and my `form.vars.errors.errors.cause` field has the constraint in it, and also the payload... maybe provide more code to find out what's happening?

[2016-02-18 10:05] linxlad commented on #17830
Thanks for testing for me. Strange, I am using Symfony 3.0.2. How are you creating the form in your controller and passing it to the view?

[2016-02-18 10:14] tehplague opened #17842 "[Process] Make $starttime publicly accessible"
Symfony Process keeps a private `$starttime` property which is used to check whether the configured process timeout has expired. It would be useful if this property could be exposed via a public getter, say `getStartTime()` returning a `\DateTime` with its value.

This can e.g. be used to calculate the total time a process has been running for. Currently storing the start time involves additional

[2016-02-18 10:18] tehplague commented on #17842
It should be possible to implement this without breaking BC ;-)

[2016-02-18 10:28] calinpristavu commented on #17830
@linxlad
Just like the documentation suggests:
`$this->createForm(TestType::class);`
`{{ dump(form.password) }}`
using a fresh install of sf 3.0

Please provide the steps to reproduce YOUR issue, otherwise this can be considered a misconfiguration.

[2016-02-18 10:32] xabbuh commented on #17830
@linxlad The best were if you could fork the Symfony Framework Edition and just make the changes that are necessary to reproduce your issue.

[2016-02-18 11:38] Strate opened #17843 "[DX] Profiler: Improve timeline page view: add an hierarchical view with extra info."
Hi everyone!

Firstly, let me describe my issue. This is typical profiler line view:
![image](https://cloud.githubusercontent.com/assets/392644/13142192/8b3a907c-d64c-11e5-8a81-71fa9ba5a580.png)

There is a lot of repeated sql queries, but there is no any extra helpful information to detect the place to optimization. I want to see which queries are executed there. But there is no such info, I shou

[2016-02-18 12:04] #11838 closed

[2016-02-18 12:09] fabpot commented on #17824
As @stof said, nobody should see this notice. As we never had any complaints before, I would say that this is not relevant.

[2016-02-18 12:13] HeahDude commented on #14072
@xabbuh I may be wrong but my example uses pre-loaded choices on generic `ChoiceType` to narrow the array before creating the hash for the view, it does not impact choices loaded by a `choice_loader` as the `DoctrineChoiceLoader` where `choice_list`is returned earlier.

That's why I'm asking if someone has a guess about how to engage it on `choice_loader` as the original post is about an usage wit

[2016-02-18 12:15] HeahDude commented on #14072
I can try to send a PR in the next days to discuss this implementation if you think it make sense.

[2016-02-18 12:16] javiereguiluz commented on #17824
I agree with @fabien. Not having previous complaints is a good indicator of not being relevant. Closing it.

[2016-02-18 12:16] #17824 closed

[2016-02-18 12:32] linxlad commented on #17830
Ok, it turns out it was a caching issue and cause was not being cached with the error message. Thanks a lot for you help guys.

[2016-02-18 12:35] #17830 closed

[2016-02-18 13:42] HeahDude commented on #17019
@xabbuh I'm still a beginner/learner, but I don't think the code required to be fixed for that, it seems consistent as it is to me, but yes I think the docs should mention how choices are indexed :
- by numerical order when `choices_as_values` is `false` (for BC it should remain that way IMHO)
- by string label (choice keys) when `choices_as_values` is `true`

[2016-02-18 14:04] #17701 closed

[2016-02-18 14:13] rvaliev opened #17845 "Warning: session_write_close(): Failed to write session data...."
I'm using Symfony 3.0.2 with:
nginx version: nginx/1.4.6 (Ubuntu)
php version: 7.0.3-4+deb.sury.org~trusty+1

Everything works fine except when I try to enter the Symfony profiler where I get the following message:

Warning: session_write_close(): Failed to write session data (user). Please verify that the current setting of session.save_path is correct (/var/www/Symfony/app/../var/sessions/dev)

[2016-02-18 14:28] Tobion commented on #17845
Duplicate of #17715

As you are the second one reporting this, can you please debug this problem?

[2016-02-18 14:34] rvaliev commented on #17845
Tobion, I'm new to Symfony, what do you mean by "debug this problem"? :)
I've just installed another 2 projects: first one is Symfony 3.0.1 and the second one is 3.0.2. And again I've got the same problem on 3.0.2.
3.0.1 version works flawless.

[2016-02-18 14:38] Tobion commented on #17845
What I mean with this is to try to figure out why the error occurs. So we know the reason and then can work an a fix if it is caused by symfony.

[2016-02-18 14:41] Gladhon opened #17846 "3.0.2 The service "templating.helper.assets" has a dependency on a non-existent service "assets.packages"."
After update from 3.0.1 to 3.0.2 i get an Exception

``
[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
The service "templating.helper.assets" has a dependency on a non-existent service "assets.packages".
``

I have disabled assets and enabled templating engine php, which seems to cause the error.

[2016-02-18 14:48] rvaliev commented on #17845
Ok, here it is:

In:

vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php

On line 216 delete session_write_close(); and it works fine again.

[2016-02-18 14:52] stof commented on #17845
Well, this also removes the associated feature. So it is not a fix.

[2016-02-18 14:54] Tobion commented on #17019
Closing for the detailed reasoning by @HeahDude.
Also keep in mind `choice_attr`, `choice_label` etc are all new options in 2.7 that have been designed for `'choices_as_values' => true`. So using them with `'choices_as_values' => false` may not even be supported and mixing them will lead to headaches as it causes different behavior as outlines above. So just don't use the deprecated choices_as_val

[2016-02-18 14:54] javiereguiluz commented on #17845
@rvaliev to recap the causes of the problem, please confirm me that it only occurs when using the Symfony Profiler in Symfony 3.0.2 (and PHP 7 with nginx). The same setup with Symfony 3.0.1 works perfectly. Thanks.

[2016-02-18 14:55] #17019 closed

[2016-02-18 16:50] rvaliev commented on #17845
@javiereguiluz yes. Problems on Symfony Profiler in Symfony 3.0.2 with
nginx version: 1.4.6 (Ubuntu)
php version: 7.0.3

[2016-02-18 19:16] Tobion commented on #17842
:-1: The starttime is an implementation detail of the timeout and idle timeout logic. We try not to create unecessary extension points. Otherwise we would also need to expose the last output time. Also keeping track of the start time is one line of code. So closing.

[2016-02-18 19:16] #17842 closed

[2016-02-18 20:28] barrymcm commented on #13194
installing symfony/config worked for me ... thanks

[2016-02-18 21:57] ABM-Dan commented on #4067
What happened to choice_attr?

[2016-02-18 22:08] tistre opened #17847 "choice_loader sets form model property to label instead of choice"
When I use the `ChoiceType` with the `choices` setting in a form, my form data object’s property is correctly set to the choice (i.e. the option value, not the option label). But with `choice_loader`, the property is set to the option label instead.

The example below contains two HTML `select` elements, one using `choices` and the other one using `choice_loader`. If you select “Yes” in both field

[2016-02-18 22:24] xabbuh commented on #4067
@ABM-Dan What do you mean?

[2016-02-18 22:28] ABM-Dan commented on #4067
@xabbuh I couldn't find any documentation for EntityType's choice_attr. After some investigating, it turns out it's only in the docs for 2.7, with an example that suits ChoiceType, but is a bit lackluster when it comes to EntityType (for instance, mentioning that $val in the example is an actual Entity, is definetly relevant).

[2016-02-18 22:40] rparsi opened #17848 "Fresh installation of Symfony 3.0.2 project with no changes takes 300 ms avg to load -- too slow"
My env (virtual machine):

CentOS 7, x64
8 GB memory
40+ GB
php 5.6

It takes on avg 300 ms for the app_dev.php page to load, which is quite slow.  How to speed this up?

[2016-02-18 22:54] xabbuh commented on #17846
@Gladhon Can you please show your configuration?

[2016-02-18 22:56] xabbuh commented on #4067
@ABM-Dan Can you please open a new issue on the docs repository if you think we can improve the documentation somehow?

[2016-02-18 23:12] HeahDude commented on #17847
The problem come from you loaded choices :
[code]

[2016-02-18 23:14] ABM-Dan commented on #4067
Will do at a later date.

[2016-02-18 23:18] HeahDude commented on #17847
Ok I misread sorry

[2016-02-18 23:24] HeahDude commented on #17847
An array choice list is like `array($value => $choice)`

[2016-02-18 23:45] HeahDude commented on #4067
@xabbuh what about symfony/symfony-docs#6260 ?

@ABM-Dan be careful if you preset `null` as default data, it will throw an exception in you type hint the callable see https://github.com/symfony/symfony/issues/17736#issuecomment-182390504.

I've planned to open an issue in the docs for it as type hinting in the best practices, but haven't done it yet.

[2016-02-19 00:06] maryo commented on #17821
I was thinking about other places where this feature would be useful so I checked other Symfony bundle configuration files and atually I couldn't come up with any other examples from other Bundles. That's simply because SecurityBundle configuration has very deep structure
http://symfony.com/doc/current/reference/configuration/security.html

So other examples from my applications are again from Sec

[2016-02-19 07:11] javiereguiluz commented on #17848
@rparsi virtual machines are usually much slower than running native software. My question is: What was the average time before upgrading to 3.0.2?

  * If it was much slower, this can be a bug in the new Symfony version and we'll investigate it.
  * If it was similar, then you'll need to ask for support to the Symfony Community. These are the channels to do that: http://symfony.com/support

[2016-02-19 07:13] iltar commented on #17821
So if I understand the issue correctly, the problem lies with the DefinitionDecorator?
[code]

And if I understand this correctly, you want to have the new `security.user_checker.<context>` take over the service decorating the original `security.user_checker` instead of having the `.inner` variant?

[2016-02-19 08:07] Gladhon commented on #17846
[code]

[2016-02-19 08:21] tistre commented on #17847
Thanks so much for the explanation – and sorry for me reporting this as a bug. I just got the `ChoiceLoaderInterface` wrong.

My real use case is more sophisticated, by the way, that’s why I’m going with `choice_loader`. (I’m populating choices from a large database table and don’t want to load all choices for validation.)

For reference, this issue helped me understand what’s meant by “choice”, “

[2016-02-19 08:21] #17847 closed

[2016-02-19 08:38] dupuchba commented on #17848
@rparsi does your host is on Mac OS X, there are usefully small issues with the NFS

[2016-02-19 09:51] Dominik321321 commented on #16800
i faced same problem, atlast i used .Long Path Tool., it was work for me

[2016-02-19 10:30] xabbuh commented on #17846
Indeed, this is an issue. I'll look into it.

[2016-02-19 10:37] Seb33300 opened #17850 "EntityManager Service Auto Wiring"
Hi,

I am trying to use the new [auto wiring feature](http://symfony.com/blog/new-in-symfony-2-8-service-auto-wiring) to automatically load the entity manager to my service:

[code]

[code]

Result is:

[code]

Any idea?

Thanks

Seb

[2016-02-19 10:41] javiereguiluz commented on #17413
Closing it because it seems that this proposal won't get approved.

[2016-02-19 10:41] #17413 closed

[2016-02-19 11:41] javiereguiluz commented on #16105
Could anyone share a clue about how to solve this issue? I'm lost.

[2016-02-19 11:48] Tobion commented on #17850
You probably want to typehint `EntityManagerInterface`

[2016-02-19 12:33] Seb33300 commented on #17850
Same error:

[2016-02-19 13:12] vitek-rostislav opened #17851 "[web debug toolbar] Get toolbar height"
I need to know height of web debug toobar to adjust my layout when toolbar is in two lines. Problem is, that the toolbar is emtpy on document.ready() and its height is 0 at that moment.

I would really appreciate some "toolbar content loaded" event in toolbar_js.html.twig template.

Or any other suggestion?

[2016-02-19 14:43] HeahDude commented on #17789
Should be fixed by e3b366e

[2016-02-19 14:45] J7mbo opened #17853 "Api Token Authentication just does not work"
I have followed the docs on two fresh Symfony 3.0 installs to set up the ability to authenticate via API key but the user is `null` when requesting it in the controller. I have documented my code here:

http://stackoverflow.com/questions/35480550/symfony-authentication-with-an-api-token-request-token-user-is-null

Visiting: `http://127.0.0.1:8000/app_dev.php?apiKey=123456789` with the following co

[2016-02-19 14:50] rparsi commented on #17848
@javiereguiluz @dupuchba
My vm is on a local server in the office.
Xeon E5-2450v2 @ 2.5Ghz x2 (dual cpu, 16 threads per cpu) 192GB RAM DDR3

The vm server itself has only a handful of vms (my dev team is small) and overall cpu/memory usage is low according to our devOps guy.

With Symfony 2.6, 2.7 the average load time of a new project (fresh install -- no changes by me) was 100 to 150 ms.  Starti

[2016-02-19 15:11] javiereguiluz commented on #17848
@rparsi thanks for providing more insights. Since you are going to ask in the support channels and since this error didn't appear on 3.0.2 but at least from Symfony 2.8, I'm going to close this issue. If we have some information proving that this is a Symfony problem, we can reopen this issue or create a new one.

---

You also ask about average load time for `app_dev.php`. My computer is very old

[2016-02-19 15:11] #17848 closed

[2016-02-19 15:23] J7mbo commented on #17853
Turns out that I'm asking for the `$request->getUser()`, which *doesn't* correspond to the currently authenticated user - instead that's for HTTP Basic Auth. This is confusing to be honest, I would expect that the user of the current request would be the currently authenticated user.

[2016-02-19 15:23] #17853 closed

[2016-02-19 15:24] javiereguiluz opened #17856 "[RFC] Show voter information in the security profiler panel"
### Problem

The security panel is not very useful because it provides little information:

![security_before](https://cloud.githubusercontent.com/assets/73419/13179546/ae3166ae-d724-11e5-901c-c5af6df7dc77.png)

### Solution

Could we show at least the information about the voters that granted/rejected access? A quick-and-dirty mockup of the idea:

![security_after](https://cloud.githubusercontent

[2016-02-19 15:31] stof commented on #17856
About what would you display the votes ? There can be many decisions being taken during a page load.

[2016-02-19 15:34] stof commented on #17853
The Request object does not know about the Symfony authentication system. I strongly suggest you to read the Symfony documentation about the Security system.

[2016-02-19 15:37] javiereguiluz commented on #17856
@stof all of them then.

[2016-02-19 15:40] J7mbo commented on #17853
Already read it. It's not made explicitly clear in the authentication by API token documentation and I think it may be helpful to clear up confusion there. Will submit a docs PR.

[2016-02-19 15:42] javiereguiluz commented on #17856
Sorry for the short answer. i just wonder if there is a reliable way to show what's going on regarding the security voters during a page load? (even for cases like the one you commented). Security is the most critical thing in an app and I feel that the profiler doesn't help users as much as it could.

[2016-02-19 15:45] paragonie-scott opened #17857 ""Encoder" is a Misnomer which Leads to Confusion"
Referring to: https://github.com/symfony/symfony/tree/master/src/Symfony/Component/Security/Core/Encoder

I saw [this thread on StackOverflow](https://stackoverflow.com/questions/35505488/password-en-decryption-fails-with-symfony-3-0), wherein the author is confused about actual cryptography terminology. It seems their confusion is stemming from the naming convention that Symfony uses.

I'd like t

[2016-02-19 15:49] javiereguiluz commented on #17857
In the Symfony docs there is another issue related to this: https://github.com/symfony/symfony-docs/issues/5688

[2016-02-19 15:53] stof commented on #17856
@javiereguiluz displaying votes being done would require building a custom AccessDecisionManager to log decisions being made. This is quite easy to do (build a decorating implementation and wrap the service in debug mode)
Registering the vote of each voter for each decision is harder to implement (especially to correlate them with the decision)

[2016-02-19 15:54] javiereguiluz commented on #17851
@vitek-rostislav to be honest, my recommendation would be: "don't care about this".

In Symfony 2.7, the version you mentioned, the toolbar displayed two rows "frequently". In Symfony 2.8 and newer versions, the toolbar is optimized and rarely overflows to two rows.

Besides, I can't understand the need of adjusting the layout because of the toolbar. This toolbar is only displayed in the dev envir

[2016-02-19 15:55] iltar commented on #17856
What about a voter handling N attributes? Something else that could be interesting, would be to display which attributes have been voted on and what the result was:

| Result | Attribute | Source
|----|----|----
| Granted | CAN_SEE_FOO | some/template/file.html.twig:50
| Denied | CAN_SEE_BAR | SomeController:SomeAction:23
| Granted | IS_AUTHENTICATED_ANONYMOUSLY | access_control
| Denied | IS_AUTH

[2016-02-19 15:56] javiereguiluz commented on #17856
@iltar :+1: very nice! I like your idea.

[2016-02-19 15:56] iltar commented on #17850
You want an entity manager but of which connection? For which Entity? This is nearly impossible to determine if you have more than 1 entity manager.

[2016-02-19 16:10] maryo commented on #17850
Exactly. But I guess it should autowire the default one if there is only one in the application. Otherwise you'd have to specify autowiring_types. But looks it is not possible to specify autowiring types for services you "don't own".

I created an issue for this few days ago
https://github.com/symfony/symfony/issues/17783

What do you think @Tobion ?

[2016-02-19 16:14] Seb33300 commented on #17850
Actually, I am passing manually the entity manager service with:
[code]

I only want to do that by auto wiring.

[2016-02-19 16:17] maryo commented on #17850
@Seb33300
So you want to autowire all arguments **EXCEPT** the entity manager? Then you should read this issue at least from this position:

https://github.com/symfony/symfony/issues/17724#issuecomment-183301207

[2016-02-19 16:29] vitek-rostislav commented on #17851
@javiereguiluz thanks for your reply. Seems that the best solution would be use the 2.8 toolbar :)

[2016-02-19 16:30] nicoschoenmaker opened #17858 "[DX] Logging deprecations"
TL;DR; There should be an easy way to see whether deprecation errors occur in production, so you can know whether you're really ready for Symfony 3.

---

We are busy updating our applications to Symfony 3. The simple approach of this problem would be to
* Fix the most obvious deprecations that turn up in the dev bar.
* Update to Symfony 3.
* Test.

However, some of our applications are rather big

[2016-02-19 16:42] Seb33300 commented on #17850
No, I also like to autowire the `@doctrine.orm.entity_manager` service but, if I remove it from the arguments array, I have the error quoted in my first post.

[2016-02-19 18:11] nacc commented on #17489
Note I think I'm seeing this as well in the Ubuntu sbuild environments (used by the package builders). There, the schroots are mounted relatime.

[2016-02-19 18:18] aromer commented on #7868
This issue is about 3 years old now. What would it take to get some movement on it? I should be able to offer some development time to assist with it. We're going to be building out some client side validation soon and I'd rather spend dev cycles contributing back then hacking around the issue.

[2016-02-19 18:35] WouterJ commented on #7868
I think what's missing here is someone to work on it. I like the idea and it seems like other people (including some core team members) like it as well. You can create a PR with "WIP" in its title (Work In Progress), so we can start discussing the feature very quickly. Seeing an (even unfinished) implementation always works better in order to get feedback on it.

[2016-02-19 18:54] Haehnchen commented on #16965
You can use following syntax to support this in userland for all public iteration methods. i am also able to support it the in symfony plugin. depending on your decision

[code]

[2016-02-19 19:22] maryo commented on #17850
OK. I see. The named argument confused me since the name is ignored. But I just tested it and it worked fine for both EntityManager and EntityManagerInterface typehints using

[code]

So you either have more than one entitymanager registered so it cannot guess which one to inject which is not a bug or something strange happened :).

[2016-02-19 20:20] maryo commented on #17821
I am actually not sure. Maybe.

Let's say you've configured `user_checker: app.user_checker`

so there are three IDs now

`security.user_checker` - the default behavior
`app.user_checker` - your custom service
`security.user_checker.secured_area` - the alias symfony creates and uses which points to
[code]

[2016-02-19 20:20] Seb33300 commented on #17850
Hmmm... Strange. I will try it on a clean install.
I am on a Symfony 2.8

[2016-02-19 20:36] rbaarsma opened #17861 "[3.0.2] Custom Validator with Annotation does not seem to be working"
I have a custom Constraint & Validator as a service, as per the documentation, but somehow I can't get it to work (spent hours on this). Might just be missing documentation on the Symfony site.. but would appreciate some help:

Error: `[Semantical Error] The annotation \"@AppBundle\\Validator\\Constraints\\ContainsContact\" in property AppBundle\\Entity\\Project::$name does not exist`

[code]

[co

[2016-02-19 20:39] rbaarsma commented on #17861
Finally found it.

The Constraint and Validator where in the Constraint (no s) directory
That's why the error was given. Renamed directory to Constraints and all was ok.

[2016-02-19 20:39] #17861 closed

[2016-02-19 21:09] CruzyCruz commented on #14547
@Tocacar

Hi,

I have the same problem with my doctrine subscriber (using Sluggable extension and listening to onFlush event). As this subscriber implements *Doctrine\Common\EventSubscriber* and not *Symfony\Component\EventDispatcher\EventSubscriberInterface*, how can you introduce a priority level in *getSubscribedEvents()* method ?

Thank you for your help.

[2016-02-19 21:56] xabbuh commented on #14547
@CruzyCruz You have to set the priority on the service tag. All subscribers will be called in the order of the priority and subscribers being called first are registered first.

[2016-02-19 21:57] rvaliev commented on #17845
Just got the same error using Symfony 3.0.2 on a regular page when building a simple form accordingly to Symfony book.
My controller looks like this:

 $task = new Task();
        $task->setTask("Write a new blog");
        $task->setDueDate(new \DateTime('tomorrow'));

        $form = $this->createFormBuilder($task)
            ->add('task', TextType::class)
            ->add('dueDate', DateType:

[2016-02-19 22:05] CruzyCruz commented on #14547
@xabbuh

Thank you. I didn't know that setting priority at tag level was possible for subscribers also. I try it in my code asap.

[2016-02-19 23:53] HeahDude commented on #11740
@xabbuh the `dynamic_data` option could be easily added in `EntityType`, and would avoid this workaround.

This label DX is explicit, using an `EntityType` means that you want to delegate the loading, otherwise one should use the `ChoiceType` with the `choices` option instead.

But using the `EntityType` you cannot easily "pre set" data as they are not already loaded.
I find it more "dev friendly"

[2016-02-20 09:58] WouterJ commented on #17137
This does not seem to be an issue of the toolbar, but instead of Pace. Pace should not completely change behaviour of the object. There is no way to get the original XMLHttpRequest object.

[2016-02-20 11:46] xabbuh commented on #17851
I agree that we shouldn't do anything here. And by the way, even if the toolbar looks really great, end the it still is just a developer tool. :)

[2016-02-20 11:49] javiereguiluz commented on #17851
Closing it for the reasons explained above.

[2016-02-20 11:49] #17851 closed

[2016-02-20 11:56] xabbuh commented on #17137
Closing here as this needs to be fixed in Pace.

[2016-02-20 11:56] #17137 closed

[2016-02-20 15:48] havvg opened #17864 "[3.0.2] Regression on security.encoder_factory"
It seems there is a regression in `v3.0.2` when you require a password encoder using a factorised service.

[code]

[code]

[2016-02-20 16:53] xabbuh commented on #17846
see #17865 for the fix

[2016-02-20 17:04] xabbuh commented on #17864
Can you provide some steps that are necessary to reproduce your issue on a naked Standard Edition without the need of setting up Behat?

[2016-02-20 17:11] xabbuh commented on #17864
@havvg Just noticed your referenced fork.

Status: Reviewed

[2016-02-20 17:50] HeahDude commented on #17762
Hi @IceShack I created a gist to solve this kind of use case. Macros can be autoloaded, see https://gist.github.com/HeahDude/f9aeb128fcac309dddc8

[2016-02-20 18:02] xabbuh commented on #17864
This also affects Symfony 2.7 and 2.8 (it looks like this issue was introduced by #17554).

[2016-02-20 19:09] xabbuh commented on #17864
see #17866 for the fix

[2016-02-20 19:16] xabbuh commented on #17864
#17867 fixes this for the `2.3` branch

[2016-02-20 23:36] xabbuh commented on #17537
I created #17868 which integrates the Cache component into the FrameworkBundle. It's not finished but I would like to hear your thoughts on it.

[2016-02-20 23:47] andrewtch opened #17869 "Issue with @Template annotations"
Symfony 3.0.2, clear installation. @Template annotation renders the following error:

[code]

Possibly connected with this commit, but not sure: https://github.com/sensiolabs/SensioFrameworkExtraBundle/commit/82b8ad65409c99f693088ecbc09c857f01e3b3fa#diff-95cd70265579b17c2c8bf5b9a3037ee6

[2016-02-20 23:55] andrewtch commented on #17869
dev-master of FrameworkExtraBundle does not work either.

[2016-02-21 10:42] DRaineri opened #17871 "Symfony 3 - Create own user provider - Error Service"
Hi !

I don't use FOSUserBundle and try to implement the FOAOAuthServerBundle, so I need to create my own user provider (if I'm right ^^)

I want to get token for user with
`http://myWebsite.com/web/app_dev.php/oauth/v2/token?client_id=CLIENTID&client_secret=SECRET&grant_type=password&username=mylogin&password=mypassword`

so I have a class user

[code]
and my UserRepository

[code]
and my UserPro

[2016-02-21 11:52] #17871 closed

[2016-02-21 13:20] iltar commented on #17869
@AndrewCarterUK can you show the code that triggers this?

[2016-02-21 14:56] HeahDude commented on #9240
I'm not sure I understood it well but `data` option always has precedence on given data only due to this block https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/FormFactory.php#L75,
so it is an expected behaviour and changing it would be a BC break, right ?

[2016-02-21 15:05] fsevestre commented on #5906
I'm in the exact same situation as @mkilmanas, using SF 3.0.2 and PHP7 with strict_types.

[2016-02-21 15:07] HeahDude commented on #9310
A big :+1: for `allow_add` as I said in https://github.com/symfony/symfony/issues/6602#issuecomment-180071528, but I at this time I was not aware of this issue.

`allow_add` would basically allow to accept a submitted choice which doesn't belong to initial choices, but I don't get what would be the benefit of `allow_delete` in `ChoiceType` ?

[2016-02-21 15:18] CruzyCruz commented on #14547
@xabbuh

It works perfectly:

[code]

[2016-02-21 16:53] #15627 closed

[2016-02-21 17:56] Aerendir opened #17875 "[PropertyAccess] Add the ability to remove elements from the arrays"
In a real generic way, the ability to remove the value from the given path (and the path itself) maybe very useful.

But I think that this can cause incompatibilities with objects.

I've implemented the solution [found here ](http://stackoverflow.com/a/27571257/1399706) in an `ArrayWriter` I wrote using `PropertyAccess` component and I thought it maybe useful if implemented in `PropertyAccess`...

[2016-02-21 18:37] andrewtch commented on #17869
Just adding any controller / action with @Template annotation. Any bundle, yml configs.

[2016-02-21 20:13] iltar commented on #17869
Do you have a stack-trace for me?

[2016-02-21 20:22] andrewtch commented on #17869
Strangely, in PROD i have:

[code]
and in DEV:

[code]

which is, basically, the same lien in the same file.

Logs basically show KenelRequest -> TemplateListener -> Kaboom.

[2016-02-21 20:49] iltar commented on #17869
The class cache is a prod thing (which you can turn off if desired). I will
check tomorrow what goes wrong as all tests succeeded when this PR was
merged. I especially added functionality tests for this so maybe something
changed after the last test ran.

On Sun, 21 Feb 2016 21:22 Andrew Tch <notifications@github.com> wrote:

[2016-02-21 22:45] weaverryan commented on #17783
I've envisioned a configuration like this for end-users:

[code]

It seems to me that *not* being able to "take control" of exactly which service an interface/class should autowire to is a big missing feature. There are several services that I still can't autowire. wdyt @dunglas?

[2016-02-21 23:59] weaverryan commented on #17724
PR at #17876

[2016-02-22 01:17] weaverryan opened #17878 "Autowiring skips scalars, confuses order"
This somewhat relates to #17724

Take this class:

[code]

Currently, since `$foo` is not type-hinted, it just skips filling it in. Because of this, `$definition->getArguments()` returns 2 items with indexes 0 and 2. But the container ultimately passes these as arguments 1 and 2. The error here would be:

Argument 3 passed to ArgumentWithNoTypeHint must be an instance of Lille, none given.

[2016-02-22 01:20] weaverryan commented on #17878
See #17876 for the fix

[2016-02-22 01:22] weaverryan commented on #17783
Actually, there's a much easier solution to implement. Just use a special parameter:

[code]

This could work because *only* the end-user should be specifying autowiring types in this way. So, it's ok that this must be specified all in one place. My other proposal would require a lot of work.

[2016-02-22 07:16] iltar commented on #17869
@andrewtch When I take [`/EventListener/TemplateListener.php line 62` from the commit before mine](https://github.com/sensiolabs/SensioFrameworkExtraBundle/blob/991aba281bc34a9f306e8f6955bae78871ea82c0/EventListener/TemplateListener.php#L62), I get the line you mentioned. [In the most recent master, this line is empty](https://github.com/sensiolabs/SensioFrameworkExtraBundle/blob/master/EventListe

[2016-02-22 07:16] dunglas commented on #17783
@weaverryan in your last proposal, you think about a "special" parameter parsed by the `AutowirePass`?

Your first proposal looks better but, indeed, it requires a some work in all parsers.

[2016-02-22 08:04] andrewtch commented on #17869
Ok, dev-master fixes it. Seems like I pulled old version.

Closing this, but can you bake a tag for FrameworkExtraBundle so it can be used without dev-master? Thank you!

[2016-02-22 08:04] #17869 closed

[2016-02-22 08:08] iltar commented on #17869
You could open an issue on that repository and ask for it as I'm not sure what the release schedule is for the extra bundle.

[2016-02-22 08:25] pculka opened #17879 "[2.8] PHP 7.0 Support?"
The Component/Validator/Constraints/True.php is deprecated, though are there any possibilities this code will be parsed from within Symfony2 core? In case of a bundle which uses this constraint, I'll just dump the Bundle, but ...

**is it SAFE to assume that 2.8.x is PHP7.0 Ready?**

[2016-02-22 08:31] javiereguiluz commented on #17879
As far as I know we don't use those deprecated features in the core. If you find some usage of these deprecations, please open a new issue with their specific information. Thanks!

In [this blog post](http://symfony.com/blog/symfony-achieves-100-php7-compatibility) you have more information about Symfony + PHP 7 and in Travis CI logs you can see that even Symfony versions earlier than 2.8 are comp

[2016-02-22 08:31] #17879 closed

[2016-02-22 08:34] pculka commented on #17879
Thanks, are there plans to remove the conflicting files (for example like abovementioned class) from the branch?

[2016-02-22 08:42] javiereguiluz commented on #17879
@pculka due to our [Backwards Compatibility Promise](http://symfony.com/doc/current/contributing/code/bc.html) we can't remove those files in 2.x branches.

The good news is that those files were removed in 3.x and master branches. See for example: https://github.com/symfony/symfony/tree/3.0/src/Symfony/Component/Validator/Constraints  `True.php` is gone and you only have `IsTrue.php`.

[2016-02-22 10:10] Dominik321321 commented on #17875
i was searching filename too long can't rename, and i found this

article, nice, but i got the solution using 'Long Path Tool" thanks

everybody

[2016-02-22 11:18] cleentfaar opened #17880 "translation_domain not used for invalid_message translation"
I am not sure this is an issue or by design;

From the [documentation](http://symfony.com/doc/current/cookbook/form/data_transformers.html#creating-the-transformer) I understand that when a `DataTransformer` triggers a `TransformationFailedException` in one of my forms, the `invalid_message` option is used to create a form error for the user.

To my surprise, I found that the violation created by

[2016-02-22 11:29] Aerendir opened #17881 "[Serializer] use preg_quote in CamelCaseToSnakeCaseNameConverter"
If the passed property has characters that need quoting, the `NameConverter` doesn't return a value and breaks.

This happened to me deserializing `XML` documents.

I'm going to prepare a patch.

[code]

[2016-02-22 12:22] IceShack commented on #17762
@HeahDude Thanks for your gist

Based on that I got following solution, which for me seems more elegant.
https://gist.github.com/IceShack/cdee4c02753455e9a3c9

[2016-02-22 12:48] HeahDude commented on #17880
Hi @cleentfaar, this is not a bug.

All messages processed during the validation use the "validators" domain by default for their translation.

The Form component defines all of its base error messages in this domain too so you can override them.

You should open an issue in the doc so it may be said expliciltly in the option reference http://symfony.com/doc/current/reference/forms/types/form.html

[2016-02-22 12:49] HeahDude commented on #17762
@IceShack definitly more clean, thanks for your feedback  :)

[2016-02-22 12:51] HeahDude commented on #17762
May you can close this issue then as @stof gave the answer and you have a workaround that suits you ;)

[2016-02-22 12:51] cleentfaar commented on #17880
Perhaps I wasn't clear; I know that form messages are translated with the `validators` domain by default. I also know that you can override the domain by using the `translation_domain` option in your form.

However, the override is not working for errors caused by a `TransformationFailedException`, which can happen when you use a custom `DataTransformer`.

The problematic code (inside `FormValidat

[2016-02-22 13:02] HeahDude commented on #17880
May be I wasn't clear either, `translation_domain` option does not override `validators` domain and that is an expected behaviour.

Then you should use `validators` domain for `TransformationFailedException` because changing this behavior would be a BC break.

[2016-02-22 13:22] cleentfaar commented on #17880
I see, thanks for clarifying!

[2016-02-22 13:22] #17880 closed

[2016-02-22 14:07] liamsorsby opened #17884 "Issue with validator service on unique entities in collections"
We seem to be having an issue with the validator service when using collections and the validator to check for unique entities.

The validator will correctly find any issues before persisting the entity to the doctrine manager.

The validator seems to check the data in the current database but doesn't check the data that is going to be saved.

For instance if title is a unique entity and in my col

[2016-02-22 14:57] iltar commented on #17884
You could put a constraint on your collection which specifies that the titles have to be unique. This is not a bug in the unique entity constraint afaik as it only checks the database.

[2016-02-22 15:04] liamsorsby commented on #17884
@iltar The constraint is on the collection. However as the data is duplicated. I imagine that the database is only checked a single time for performance reasons so on the second insert the database will fail.
When the entity is persisted it wouldn't invalidate as you said it only checks the database. So on the second insert the insert will fail but it would have already passed on the constraint.
W

[2016-02-22 15:06] javiereguiluz commented on #17856
@iltar @stof in #17887 I'm trying to implement your ideas. @iltar I have no idea about how to get the **Source** information of your table. Any clue? Thanks!

[2016-02-22 15:08] HeahDude commented on #8918
This is an old issue but it makes me wonder what kind of message would someone expect to read from a thrown exception with the above implementation ?

How to explicitly trace such a dynamic requirement ? It would be difficult to know when to fix it since the only information would be "The required [option] is missing". There might be a "why" which could be far more complex than in your example and

[2016-02-22 15:14] Nemo64 opened #17888 "streaming a template which uses the session fails"
I tried to stream a template for a change but had Problem with the Session.
I best show a little example:

[code]

[code]

This results into a `RuntimeException`:

[code]

I'm using Symfony 2.7.9 with PHP 7.0.2-4+deb.sury.org~trusty+1.

[2016-02-22 15:21] IceShack commented on #17762
Well, I still think this should work "out-of-the-box".

[2016-02-22 15:22] iltar commented on #17856
@javiereguiluz this is a bit more complicated. In case of `@Security` annotations, you'd want to hook in on the [`SecurityListener` in the SFWEB](https://github.com/sensiolabs/SensioFrameworkExtraBundle/blob/master/EventListener/SecurityListener.php), for the [`access_control` in the AccessListener](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Http/Firewall/AccessL

[2016-02-22 15:34] #17846 closed

[2016-02-22 16:03] jakzal commented on #17806
It's hard to tell why the person who implemented this chose it as a default as it was quite a while ago ;) (see https://github.com/symfony/symfony/commit/57ae50e8942f1a3ee9431c320b404fc1b016b87c where the session strategy was introduced).

It's up to you to choose the right fixation strategy for your application. I think "migrate" is a good default for the framework as the session id is regenerate

[2016-02-22 16:03] #17806 closed

[2016-02-22 16:12] noniagriconomie commented on #17806
@jakzal thanks for your answer and your time

Maybe i will yes :)

[2016-02-22 16:21] jakzal commented on #17153
Indeed, [according to the docs](http://symfony.com/doc/current/components/config/definition.html#optional-sections), setting `mail: false` when a node was configured with `canBeEnabled()` should be equivalent to setting `mail: [enabled: false]`:

[code]

Already [mentioned dockblock](https://github.com/symfony/symfony/blob/2.3/src/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.php

[2016-02-22 16:43] jakzal commented on #17153
@appeltaert having said that, I agree with others saying there's no bug here.

In your case you require values to be provided, but you don't provide any defaults.  Currently, the validation is still run on any child nodes of a node with the "enabled" flag.

Imagine you called `canBeEnabled()` in your config builder, but then you didn't use this value in your DIC extension to see if feature is enab

[2016-02-22 16:43] #17153 closed

[2016-02-22 16:44] jakzal commented on #17153
Very good bug report with supporting test case by the way!

[2016-02-22 16:57] backbone87 commented on #17888
afaik, this is expected behavior, because the session gets written out and closed when the streaming begins. i also dont know why you would stream html-templates. html pages are not large enough most of the time, to benefit from streaming.

[2016-02-22 17:05] backbone87 commented on #8918
I agree with @HeahDude, only the developer can throw a meaningful exception why an option is required in one case, but not in another one. Maybe his examples on how to solve this issue should be added to the symfony-docs.

But i think there is one mistake in @HeahDude example: when checking for $options['data'] and $options['dataPath'] in the last normalizer, i think there is an infinite loop.

[2016-02-22 17:05] Nemo64 commented on #17888
Ahh I see. Makes sense to not block the session while streaming huge files.

My Idea was to to output parts of the template already while i still create the view of a more complicated form in the hopes to make the site feel a little faster.

If it isn't intended for html templates to be streamed, why is `$this->stream` there? Even the `@Template` Annotation allows for streaming.

[2016-02-22 17:19] anacona16 commented on #17856
+1. I do not know how much is complicated, but it would be very useful.

[2016-02-22 17:24] HeahDude commented on #8918
@backbone87, thanks, I've updated the example.

[2016-02-22 17:53] apfelbox opened #17892 "[Security, Profiler] Incomplete implementation of role hierarchies"
Hi,

I am trying to build a bundle implementing custom role definitions including role hierarchies.
That works very well with registering a custom `security.voter`.
As the logic for this role hierarchy is provided by a **custom** security voter, it means the parameter in the security config is empty, i.e.

[code]

in `app/config/security.yml`.

So far, so good.

But there are two integration point

[2016-02-22 17:54] apfelbox commented on #17892
I know that the `@Security`-Annotation is located in the SensioFrameworkExtraBundle, but as both libraries are affected, I want to have one discussion here for both.

[2016-02-22 17:55] ibasaw opened #17893 "validators.no.xlf error on clear cache after composer update"
[Symfony\Component\Translation\Exception\InvalidResourceException]
      Unable to load         "/var/www/sources/xxx/vendor/symfony/symfony/src/Symfony/Component/Validator/Resources/translations/validators.no.xlf": [ERROR 522] Validation failed: no DTD found ! (in n/a - line 2, column 21)
      [ERROR 76] Opening and ending tag mismatch: target line 207 and trans-unit (in n/a - line 208, column 2

[2016-02-22 18:08] jakzal commented on #17777
I'm looking into fixing this now. @wesleylancel I'd appreciate if you shared the stack trace

[2016-02-22 18:19] jakzal commented on #17683
@francoispluchino any idea why the name is normalised to `C:path/to/section/name.php`? I'm not a windows user but this seems wrong as it misses the `/` after `C:`.

[2016-02-22 18:26] francoispluchino commented on #17683
No I haven't idea, but the bug is caused by the name with more dot, not by the drive (ex. `name.html.twig`).
With the old version, the normalization already used the format with only `c:`, and it was not a problem..

[2016-02-22 18:27] jakzal commented on #17683
@francoispluchino I know that, just trying to understand why it's normalised to this form :) Thanks anyway!

[2016-02-22 18:37] francoispluchino commented on #17683
@fabpot Why the `TemplateNameParser` normalize the path without slash after the letter of Windows drive? Is it expected, or it's a bug?

`C:path/to/section/name.html.twig` and not `C/:path/to/section/name.html.twig`.

@jakzal I think it is better to focus on the end of the regex pattern, which blocks the use of file names with more dots.

[2016-02-22 18:37] weaverryan commented on #17783
@dunglas exactly right - a "special" parameter. There is no precedent for using parameters like this in Symfony, but Drupal uses this extensively. The big question is whether or not using a magic parameter like this could cause problem later if we need to break BC. But in this case... I don't think so: we'll be reading this parameter in AutowirePass, so if we deprecate it or change its format, we

[2016-02-22 18:49] xabbuh commented on #17884
The constraint doesn't know that there is another object containing the same data somewhere in your object graph. And as all validation happens before any of your data is written to the database it cannot catch this kind of error, but you have to implement that yourself as a separate constraint on the collection.

[2016-02-22 19:11] peterrehm commented on #17893
Are you on the dev 2.8 branch as 2.8.3 is not yet released?

[2016-02-22 19:14] ibasaw commented on #17893
in my composer.json, got : "symfony/symfony": "2.8.*@dev",

[2016-02-22 20:11] sergiors opened #17895 "Cache: AbstractAdapter.php file try set private vars"
Hi everyone

I'm read the file: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Cache/Adapter/AbstractAdapter.php#L38

apparently the vars are private:
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Cache/CacheItem.php#L28

that's dont work, right?

ping @nicolas-grekas

[2016-02-22 20:15] nicolas-grekas commented on #17895
of course it works, tests pass :)
See https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Cache/Adapter/AbstractAdapter.php#L36

[2016-02-22 20:16] nicolas-grekas commented on #17895
and http://php.net/manual/en/closure.bind.php

[2016-02-22 20:18] sergiors commented on #17895
Got it

[2016-02-22 20:18] #17895 closed

[2016-02-22 22:18] Silverspur commented on #17799
I found this thread looking for a solution of the issue in the case of a expanded+multiple choice field (array of checkboxes). The patch clearly solves the problem, but I'm also wondering how to deal with a single checkbox.

Since $clearMissing is false, the submission of a form with an unchecked checkbox won't make its related data flip from `true` to `false`. I see one solution, i.e. to systemat

[2016-02-22 22:33] liamsorsby commented on #17884
@xabbuh should this not be implemented into the unique constraint to check data to be persisted aswel.

To me it wouldn't seem to make sense that the unique constraint would fail to check all data with itself and the database before being persisted as there would be nothing benificial that could be gained by not adding the check to the constraint.

Would it be feasible to create a PR on the unique

[2016-02-22 22:35] HeahDude commented on #17799
Hi @Silverspur, thank you for your feedback.

You're right at this time, this patch I provided is more like a "hack" to get things working, I'm still looking for a "proper" way to fix this globally.

If you encountered this issue with a single `CheckboxType` I would suggest you open another issue and provide more information about the steps needed to reproduce your issue.

[2016-02-22 22:43] Tobion commented on #17888
Closing as duplicate of #6036
In theory only reading the session does not require it to be restarted. This would solve your problem as well.

[2016-02-22 22:43] #17888 closed

[2016-02-22 23:02] Nemo64 commented on #17888
@Tobion Not really since the flashbag removes it's entries after reading. I therefor need an open session.

[2016-02-22 23:08] backbone87 commented on #17888
@Nemo64 the nature of xml/sgml/html/etc usually makes such formats not well suited for streamed processing, at least how it is used in the browser. but there are dataformats like for example CSV that are very well suited for streaming and streamed processing. you can generate CSVs with twig as well (though i must admit using php for CSV is probably better).

also most modern html forms use JS and

[2016-02-22 23:09] falexis77 opened #17896 "Symfony 3.0.2 : Problem of authentification Login form"
For several days I have this problem of authentication by a login form. When I enter the username 'john' and the password 'fury', I still have the same message : Bad credentials

This is my user entity

[code]

I'm use data fixtures to register a user

[code]

Security.yml

[code]

On the login action

[code]

the template twig for login

[code]

[2016-02-22 23:13] HeahDude commented on #17888
Hi @Nemo64, a `StreamedResponse` send headers once before using a callable for sending content only.

So you may try to pass flashes as a view variable when rendering to solve your issue :
[code]
Then :
[code]

[2016-02-22 23:19] Nemo64 commented on #17888
@backbone87 it isn't well suited, yes, but browser are still capable of streaming them. I think it would make perfekt sense to stream at least the html `<head>` so that the browser can download some Resources already, even if the page is not visible yet.

Also, using Web-Components for example, it is possible to use JavaScript efficiently before the Dom is loaded. If a page is composed of multiple

[2016-02-22 23:25] HeahDude commented on #17888
@Nemo64 You should in that case create a global controller like this :
[code]

[2016-02-23 02:32] ihsanudin opened #17897 "[Security] [Bug] Force login without any password provided"
My Security

[code]

After i'm upgraded Symfony to 3.0.2, i have a problem. After logout, i can access /admin without provide any credential.

I try to change the config and also try login using others browser and i got same problem.

My application run behind varnish but previously i never found this problem

[2016-02-23 04:50] ucay commented on #17897
same with me in symfony 3.0.2, using this configuration of **access_control**
[code]

Here's what i've done:

**cache cleared**
access `/admin` redirect to the login page
access `/admin/` redirect to the login page

**login**
access `/admin/` (default page)
access `/admin/page1`
then logout

**after logout**
access `/admin` redirect to the login page
access `/admin/` open admin homepage with crede

[2016-02-23 05:06] backbone87 commented on #17896
please cleanup your ticket, your posted code is mostly unformatted

[2016-02-23 05:15] backbone87 commented on #17892
you can replace the security.role_hierarchy service definition in your own bundle:
https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/SecurityBundle/Resources/config/security.xml#L66
with your own service you can use another implementation of `RoleHierarchyInterface` supporting mutators.

[2016-02-23 05:25] ucay commented on #17897
I try to comment this in app.php, and works
[code]

[2016-02-23 06:11] ihsanudin commented on #17897
@ucay : not work for me. it's same

[2016-02-23 08:44] Silverspur opened #17899 "Unchecked 'checkbox' field type not taken into account when using a PATCH request"
Since `Form::submit` is called with `$clearMissing` set to `false` in the case of a PATCH request, the submission of a form with an unchecked `checkbox` field won't make its related data flip from true to false: the checkbox is simply considered not present (instead of present and unchecked) and not to be updated.

I've come up with the following workaround: since the front end does not rely on an

[2016-02-23 08:48] cH40z-Lord commented on #17892
@backbone87 sure, though what do you do in the case where you have multiple bundles providing specific security features that don't know of each other and therefore can't be made compatible to extend/call each other?

IMO this is a major design flaw considered implementations in other components allow composition in a very easy way.

[2016-02-23 09:42] javiereguiluz commented on #17896
@falexis77 in the GitHub repository we only discuss about Symfony bugs and new features. For this kind of questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

---

In any case, here is something you might try. In your security.yml file, change this:

[code]

by this:

[code]

Reload the fixtures and check the login form again. If it

[2016-02-23 09:42] #17896 closed

[2016-02-23 10:00] falexis77 opened #17901 "[3.0.2] Problem with authentification"
I'm use data fixtures to register a user on database.
For the password, i use the service "security.password_encoder" to encode the password. I use pbkdf2 algorythm.
On action, i use the service security.authentication_utils.
But, i have the same error message "bad credentials".

[2016-02-23 10:01] javiereguiluz commented on #17901
Closing it as a a duplicate of your previous issue #17896.

I added a reply to your previous issue here: https://github.com/symfony/symfony/issues/17896#issuecomment-187626539

[2016-02-23 10:01] #17901 closed

[2016-02-23 10:24] Seb33300 commented on #17850
@maryo can you tell me what you add in your services.yml to make it works?

I am not able to make it works even on Symfony 3. Maybe I am doing something wrong with typehints.

[2016-02-23 10:50] burci commented on #17893
2.7 affected as well. There is a closing tg missing:

https://github.com/symfony/symfony/blame/ba35f3d7bb78e8dec2e73d2be4af6b070443e799/src/Symfony/Component/Validator/Resources/translations/validators.no.xlf#L207

[2016-02-23 10:54] Seb33300 commented on #17850
OK, the problem was that I had multiple multiple Entity Manager defined on the project...
Another developer added it and I was not aware.

Now, I have another problem trying to autowire the `@validator` (`Symfony\Component\Validator\Validator\RecursiveValidator`)

[2016-02-23 10:55] javiereguiluz commented on #17893
@burci nice catch! I'm going to create right now a pull request to fix this.

[2016-02-23 11:06] ibasaw commented on #17893
didin't see it, and the line number are false, don't got 300 lines in this files.

[2016-02-23 11:21] dunglas commented on #17875
For objects, PropertyAccess is already able to call `remove*` methods.

[2016-02-23 11:57] er1z commented on #17273
Solution: remember to inject ``request_stack`` and **do not** "resolve" the request immediately. Just upon your request. And you save your life. :3

[2016-02-23 12:16] #17893 closed

[2016-02-23 12:58] HeahDude commented on #17899
Hi @Silverspur, I've updated the fix in #17771, could you please confirm it works for your use case ?

[2016-02-23 12:58] HeahDude commented on #17899
Added failing test case in #17771,

Status: Reviewed

[2016-02-23 14:27] pkamps commented on #14748
The function is called 'prepend' so I guess it makes sense.

Still, I also have a problem with that feature. The order of how you register the bundles definitely affects the configuration. For the function 'prepend' you want to register more specific bundles before more generic bundles.
It's the opposite for other features, for example the 'MyBundleExtension::load' function.

Maybe there should be

[2016-02-23 15:19] jakzal commented on #8918
Closing as there's already a more powerful solution for this (as pointed out by @HeahDude).

[2016-02-23 15:19] #8918 closed

[2016-02-23 15:32] magnetik opened #17905 "[Bridge] WebProcessor does not add the correct IP behind a loadbalancer."
Hi,

In the `\Symfony\Bridge\Monolog\Processor\WebProcessor` class, the content of the server attributes of the request is copied info the serverData property.

When processing the request, `\Monolog\Processor\WebProcessor` computes some fields from the serverData (which is basically `$_SERVER`), such as `REMOTE_ADDR` for the `ip` field.
Sadly it is not matching the "correct" IP from `Request->get

[2016-02-23 15:33] antondachauer opened #17906 "Error: Maximum execution time of 30 seconds exceeded"
Hi guys. I just got the message above. Can't understand it, it's the first time I got this error on a previously working system...

**Debugg-Messages**

    INFO - The class "JMS\DiExtraBundle\Config\FastDirectoriesResource" is performing resource checking through ResourceInterface::isFresh(), which is deprecated since 2.8 and will be removed in 3.0
    INFO - Matched route "pp_payment_upgrade_ord

[2016-02-23 15:38] jakzal commented on #17906
@antondachauer did it start happening after you upgraded Symfony or just out of nowhere?

We won't be able to assess if this is a Symfony bug with no steps to reproduce it. Could you provide a fork of Symfony standard edition with this issue reproduced with minimal amount of code please?

[2016-02-23 15:40] tobske opened #17907 "[PropertyAccess] Issue with findAdderAndRemover()"
If you have an entity A with a one-to-many collection to entity B and you use a form for entity A with the option `allow_add` for the collection you can have the following issue:
If entity A only contains a methods `addB()` but doesn't contain `removeB()` the `PropertyAccessor` doesn't return any method in `findAdderAndRemover()` and then throws a `NoSuchPropertyException` in  `writeProperty()`.

[2016-02-23 16:00] bobthecow opened #17908 "[Console] OutputFormatter::escape doesn't :("
With OutputFormatter's current naive escaping, there's no way to represent a formatted string which ends in a literal `\` character:

bobthecow/psysh#282

I spent quite a while last night heading down a rabbit hole to fix this. Escaping `\` itself with a second `\` seemed promising at first, but escaping an arbitrary number of slashes (and getting them back unescaped again) started getting absurd.

[2016-02-23 17:16] apfelbox commented on #17892
@backbone87 you can't, as you need to statically know all used RoleHierarchies in the system. Which currently isn't even possible, as the role hierarchies can be completely hidden inside a security voter.

Which would be fine… if it weren't for the issues described above.

[2016-02-23 18:20] #17864 closed

[2016-02-23 18:52] xabbuh commented on #17907
Can you provide a concrete example please? Not sure I understand what you mean.

[2016-02-23 18:56] xabbuh commented on #17722
@ThomasMoquet Any news here? :)

[2016-02-23 18:57] xabbuh commented on #17698
I am closing here due to the lack of feedback.

@descl Feel free to provide more information and we can reopen the issue if it turns out to be a bug.

[2016-02-23 18:57] #17698 closed

[2016-02-23 18:59] xabbuh commented on #17535
@Ragdata Would you be able to fork the Symfony Standard Edition and make the changes necessary to reproduce your issue?

[2016-02-23 18:59] xabbuh commented on #17265
@dbuton Any news here?

[2016-02-23 19:01] xabbuh commented on #16529
Closing because of the lack of feedback.

@teohhanhui Please let us know when you can provide some more information about how to reproduce your issue.

[2016-02-23 19:01] xabbuh commented on #16412
Is there anything we need to do here?

[2016-02-23 19:45] ibasaw opened #17910 "You have requested a non-existent service "knp_menu.menu_provider.chain""
[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException]
      You have requested a non-existent service "knp_menu.menu_provider.chain". Did you mean this:  "knp_menu.menu_provider"?

in my composer.json, got : "symfony/symfony": "2.8.*@dev"

got this error after a composer update

[2016-02-23 19:49] xabbuh commented on #17910
@ibasaw Can you check if this is the same as #17864 which was fixed by #17866?

[2016-02-23 19:58] ibasaw commented on #17910
@xabbuh : yes it works with #17866

[2016-02-23 20:08] #16805 closed

[2016-02-23 21:05] backbone87 commented on #17892
well role hierarchies are not a "first level" concept in the security component. from the userland view, you deal just with an authChecker. everything else is, like you said, subject to more or less sophisticated voters.

@cH40z-Lord the correct way is to decorate the service: moving the original service def, to a private service and replace the "original" service def, with a custom one, gettin th

[2016-02-23 21:26] backbone87 commented on #17906
just because the timeout occured while the propertyaccessor was used, doesnt mean this component is the cause. from what i see you are handling some paypal related work, which could induce that you use their API, which can be very slow or "hanging" form time to time. This could cause the php timeout.

[2016-02-23 22:12] apfelbox commented on #17892
@backbone87 I am well aware of this fact, that's why I don't suggest a bugfix, but rather a discussion, whether this is something to streamline.

Decorating the service is a way to go, although it seems like an not complicated, but neither very straight forward implementation. I will try to implement it that way, maybe I find more bumps along the road.

Doesn't void the discussion about maybe maki

[2016-02-24 07:26] tistre commented on #17847
For reference, here’s my blog post containing a fully-fledged and working `choice_loader` example:

[A dropdown for large lists in a Symfony 3 form with choice_loader and Select2](http://www.strehle.de/tim/weblog/archives/2016/02/24/1588)

[2016-02-24 08:21] teohhanhui commented on #16529
@xabbuh Please see #17800 (looks like you missed it)

[2016-02-24 08:31] javiereguiluz commented on #16529
Let's reopen until the related pull request is merged.

[2016-02-24 09:23] xabbuh commented on #16529
@teohhanhui Indeed, I missed that. Sorry for that. Next time, it would be the best to leave small comment linking to the PR though as sometimes notifications just get lost. :)

[2016-02-24 10:07] fabpot commented on #17908
ping @nicolas-grekas

[2016-02-24 10:08] teohhanhui commented on #16529
What do you think of the test case? Do you agree with @fabpot that only scalars should be stored as value in the Request `attributes` ParameterBag?

But indeed Symfony itself might store non-scalar values in `_controller`, e.g. https://github.com/symfony/http-kernel/blob/87fccbc6265834836cd9ef4d834f7dce498712e5/Tests/Controller/ControllerResolverTest.php#L30-L38

[2016-02-24 11:03] stof commented on #17908
change the way escaping is done is a BC break, as strings may be escaped manually in some places when writing a message instead of using the escape method.

[2016-02-24 11:10] xabbuh commented on #17897
Can anyone of you fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-02-24 11:35] boast commented on #17676
The proxy bridge seems to handle the lazy-proxy generation wrong (as now a Closure will be generated) thus he line here: https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php#L80

should be changed from:
`$instantiation new $proxyClass`
to
`$instantiation $proxyClass::staticProxyConstructor`
and everything should be working fine again. H

[2016-02-24 11:49] ihsanudin commented on #17897
@xabbuh : I change my Varnish config and the problem is solved. I don't know why

[code]
That is my project that are produce this issue

[2016-02-24 12:06] stof commented on #17676
@Ocramius could you have a look at this issue please ?

[2016-02-24 12:07] stof commented on #17676
@boast on a side note, we don't officially support 2.0 versions of ProxyManager, so getting errors when using may totally be expected.

[2016-02-24 12:26] boast commented on #17676
I know that :) Maybe the BC-break was unintentional? As mentioned before,
doctrine/migrations allowed the version 2 and in symfonys composer.json,
the proxy-manager is only a dev-requirement.

On Wed, 24 Feb 2016 at 13:08 Christophe Coevoet <notifications@github.com>
wrote:

[2016-02-24 13:11] Ocramius commented on #17676
Yes, the BC break was intentional here, although I am not sure if I missed it in the upgrade docs. Needs either a context switch (check for PM version) or relying on ProxyManager's factories (which encapsulate this behaviour)

[2016-02-24 13:29] Ocramius commented on #17676
Ah, no, I documented it, but it's only documented as feature: https://github.com/Ocramius/ProxyManager/blob/6e15877fc03cc211ce798d497a21208a44f7b726/CHANGELOG.md#constructors-in-proxies-are-not-replaced-anymore :-\

[2016-02-24 13:34] Ocramius commented on #17676
Yes, I think the quickest fix here would be to add a conditional around https://github.com/symfony/symfony/blob/1b857996029b1aecfa393b7b6a92653cc3873363/src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/ProxyDumper.php#L80 to either use `new $proxyClassName` or `$proxyClassName::staticProxyConstructor()`. Since no reflection of the proxy is available there, the quickest solution would be to chec

[2016-02-24 14:11] nicolas-grekas commented on #17908
@bobthecow can you please see if #17914 looks good to you?

[2016-02-24 14:33] michaoj opened #17915 "[DependencyInjection] Request for non existing service"
Hi,

Since my project update to version 2.3.38-DEV, I have an error while trying to access my site

[code]

After searching, it looks like the problem occurs for all services with a public=false attribute

This issue seems to be related to this pull request
https://github.com/symfony/symfony/pull/17867

And the pending commit
https://github.com/symfony/symfony/commit/4b33fd3d453dd1846089e9a3d53e96

[2016-02-24 14:41] nicokaag commented on #17910
I Still have this issue on branch 2.8. The commit I'm on is: 4cbb3fd
So I'm not sure if #17866 fixed it.

[2016-02-24 15:04] ibasaw commented on #17910
you're right @nicokaag , on a fresh composer install, got this error too.

ping @xabbuh

[2016-02-24 15:08] pborreli commented on #17915
looks related to #17910, happens with `public="false"` services only

[2016-02-24 15:08] xabbuh commented on #17910
@nicokaag @ibasaw Would you be able to provide some steps to reproduce your issue? Did you clear the cache of your application?

[2016-02-24 15:28] Tobion commented on #17850
Closing as entity manager wiring is solved.

[2016-02-24 15:32] mheki opened #17917 "[Routing] No route found for an optional parameter"
According to http://symfony.com/doc/current/book/routing.html#required-and-optional-placeholders I should be able to have an optional parameter by setting it's default value in `defaults`.
This seems not working for me anymore.
I was playing with the symfony standard edition as well as vanilla symfony in version 3.0.2

Tested on annotation as well as a yaml routing:
[code]
Running:  `bin/console r

[2016-02-24 15:48] marfillaster opened #17918 "field POST_SUBMIT isValid call only covers transformation errors"
It appears constraints registered directly on a particular form field or model property are not getting called during a field's POST_SUBMIT event. I'm guessing the validation triggers only on the top most form POST_SUBMIT. This makes it difficult to add a dynamic field that relies on the validity of the field's submitted data.

[code]

Tested Symfony version 2.8.x
related #15342
related #13318

Ed

[2016-02-24 15:58] nicokaag commented on #17910
@xabbuh I don't have exact steps to reproduce right now. But the call to the service `knp_menu.menu_provider.chain` is done in the cache directory and then the *ProjectContainer.php file.

The code that is generated is something like:
[code]

So for some reason the `doctrine` service got replaced with the `knp_menu.menu_provider.chain` service.

The KnpMenuBundle in my project is a dependency of t

[2016-02-24 16:10] ibasaw commented on #17910
@xabbuh

in the first place, i only do a composer update when it arrived.

got SonataAdminBundle too, i delete cache, composer cache, vendors, then i do a composer update and got this error.

[2016-02-24 16:12] marfillaster commented on #8834
@ikodev i'd add an autosubmit `SubmitType` field with validation_groups option set to false. This submit button will be hidden in view and `click` event should be triggered whenever a dynamic field is changed through JavaScript. Validation will be entirely skipped but make sure you handle the a false validity in the controller.

`if ($form->isSubmitted() && $form->isValid() && !$form->get('autosub

[2016-02-24 17:31] jakzal commented on #17897
@ucay @ihsanudin in both cases it seems to be a problem caused by caching misconfiguration.

If you disagree and think there's an issue with Symfony, please provide more information on how to reproduce it and we'll reopen this issue.

[2016-02-24 17:31] #17897 closed

[2016-02-24 17:40] jakzal commented on #17917
see the explanation here https://github.com/symfony/symfony/issues/5869#issuecomment-9911133

[2016-02-24 18:48] Ocramius commented on #17676
I provided a fix via #17919

[2016-02-24 18:51] ibasaw commented on #17910
@xabbuh

for me in the ProjectContainer.php, the code is:

      /**
     * Gets the 'ao_translation.entity_manager' service.
     *
     * This service is shared.
     * This method always returns the same instance of the service.
     *
     * @return \Doctrine\ORM\EntityManager A Doctrine\ORM\EntityManager instance.
     */
    protected function getAoTranslation_EntityManagerService()
    {

[2016-02-24 18:51] xabbuh commented on #17918
Are you sure that your event listener is actually executed after the validation listener was executed?

[2016-02-24 18:52] xabbuh commented on #17910
@ibasaw Do you have some example code and configuration I can add to a blank Symfony Standard Edition that will lead to this issue?

[2016-02-24 18:59] marfillaster commented on #17918
The ValidationListener is subscribed before the user defined event listener. However, only root form triggers the validation.

[2016-02-24 19:14] ibasaw commented on #17910
@xabbuh : this is because i used https://github.com/adrianolek/AOTranslationBundle.

i had deleted it, and no more error...

[2016-02-24 19:15] yceruto commented on #17342
The problem is here [TraceableUrlMatcher.php#L98](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Routing/Matcher/TraceableUrlMatcher.php#L98) and here [UrlMatcher.php#L210](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Routing/Matcher/UrlMatcher.php#L210)

[code]

Always that we use `UrlMatcher::match` method and the route found have a condition with `r

[2016-02-24 20:30] bobthecow commented on #17908
lgtm. thanks!

[2016-02-24 21:10] mheki commented on #17917
yeah... makes sense. Thanks @jakzal

[2016-02-24 21:10] #17917 closed

[2016-02-24 23:29] TomasVotruba commented on #17856
:+1: Very nice

[2016-02-25 03:43] morille opened #17921 "Login form does nothing if in another firewall"
Using symfony full stack 3.0.2.
Followed exactly the "cookbook/security/form_login_setup.rst". At anchor "#be-sure-the-login-page-isn-t-secure-redirect-loop", the suggestion to "create a special firewall that allows anonymous users for the login page" simply does not work.
The login page is just reloading, no error or authentication happens.

All my PHP/Twig code is exactly as per the doc, and her

[2016-02-25 09:06] swordbeta opened #17922 "[FileSystem] tempnam doesn't work on Google App Engine"
Hi,

In the FileSystem component the `x+` mode is used to create a temporary file. This is sadly not supported by Google App Engine. GAE only supports these modes: r, rb, rt, w, wb, wt. (https://cloud.google.com/appengine/docs/php/googlestorage/advanced#php_filesystem_functions_support_on_google_cloud_storage)

The line in question: https://github.com/symfony/symfony/blob/1b857996029b1aecfa393b7b6

[2016-02-25 09:10] javiereguiluz commented on #17922
@swordbeta do you know if there is a way to detect reliably and unequivocally if the application is running in Google's PHP instead of standard PHP? We make some changes to adapt our code to HHVM (thanks to `if (defined('HHVM_VERSION')) { ... }`) so maybe we could do the same here.

[2016-02-25 09:28] swordbeta commented on #17922
@javiereguiluz Perhaps the `GOOGLE_APPENGINE_CLASSLOADER` constant, I'm just not too sure how reliable it is.

[2016-02-25 10:59] Donool opened #17923 "JsonResponse setCallback throws InvalidArgumentException on valid callback"
Using Symfony 3.0, trying to set a callback on a JsonResponse fails for the following callback: **Utils.callbacks[1]**.

The pattern in setCallback `^[$_\p{L}] $_\p{L}\p{Mn}\p{Mc}\p{Nd}\p{Pc}\x{200C}\x{200D}]*+$/u` fails on anything containing brackets while this could be a valid callback.

This works for me `^[$_\p{L}][$_\p{L}\p{Mn}\p{Mc}\p{Nd}\p{Pc}\.]*+(\x{5b}\S+\x{5d})*$`. This allows callback

[2016-02-25 11:07] xabbuh commented on #17921
Actually, the documentation is not quite correct here.

@morille Can you open an issue on the docs repo so that we fix the cookbook article?

[2016-02-25 11:07] #17921 closed

[2016-02-25 11:08] xabbuh commented on #17923
Can you provide an example that fails for you?

[2016-02-25 11:21] stof commented on #17923
See https://github.com/willdurand/JsonpCallbackValidator for the implementation of the proper validation to accept valid callbacks

[2016-02-25 11:37] Donool commented on #17923
I'm requesting mywebsite.com/function?callback=L.OWM.Utils.callbacks[9].

My functions
`$callback = $request->get('callback');
......
        $response = new JsonResponse($result);
        $response->setCallback($callback);
return $response;`

But it's giving me an InvalidArgumentException on the part **callbacks[9]** in the setCallback().

Is this example enough?

[2016-02-25 11:54] morille commented on #17921
Issue [opened here](https://github.com/symfony/symfony-docs/issues/6307).

[2016-02-25 12:13] NVasse commented on #17910
No more error by deleting the line99 of [symfony/src/Symfony/Component/DependencyInjection/Compiler/ReplaceAliasByActualDefinitionPass.php](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/DependencyInjection/Compiler/ReplaceAliasByActualDefinitionPass.php#L99)

Not sure if this is the solution though.

[2016-02-25 12:48] xabbuh commented on #17910
@NVasse No, we need that line to fix #17864. Can you provide some information about how we can reproduce your issue?

[2016-02-25 13:54] lividgreen opened #17924 "Yaml::parse() incorrectly guesses some strings as floats"
We faced the problem that values like `23e2345` are parsed by Yaml::parse() as floats instead of string. Looks like the parser recognizes them as "float" despite the value doesn't pass the scientific notation: http://www.yaml.org/spec/1.2/spec.html#id2804092

Example:
[code]
This bug is very annoying when you are trying to store some hashes in yaml (like git short revision) that can appear sometim

[2016-02-25 14:32] NVasse commented on #17910
I think that simply having KnpMenuBundle triggers the error.

@xabbuh Doesn't commit 6190058 (which is line 100 of the same file) fix the problem ?

[2016-02-25 15:37] stof commented on #17924
The spec gives a different regex a few lines below though: http://www.yaml.org/spec/1.2/spec.html#id2805071

[2016-02-25 16:12] lyrixx commented on #17924
Related to https://github.com/symfony/symfony/issues/10396 ?

[2016-02-25 17:14] xabbuh commented on #17924
Indeed, returning this as a string look like a bug in the Ruby YAML parser.

[2016-02-25 17:14] #17924 closed

[2016-02-25 18:01] Tobion commented on #17906
Closing as this too generic without steps to reproduce.

[2016-02-25 18:01] #17906 closed

[2016-02-25 18:14] Tobion commented on #17922
Which part of symfony requires the Filesystem::tempnam internally that makes symfony not work on GAE?

[2016-02-25 18:26] xabbuh commented on #17910
By simply adding the KnpMenuBundle I cannot reproduce your issue. Can you please fork the Symfony Standard Edition and make the changes that are needed to reproduce it?

[2016-02-25 19:09] MichaelMackus commented on #14377
I agree with @craigh and feel this is a big BC break. I've been running my head into a wall for a day debugging this, and find the proposed "fix" ridiculous (even though it does indeed seem to work)...

[code]

From my experience, this doesn't *just* affect the view layer. I was unable to set the default "data" value of my choice forms to anything other than a "string" and have the option set as c

[2016-02-25 19:10] MichaelMackus commented on #14712
:+1:

I find this a serious BC break, and the title doesn't do the issue justice. It seems to break for me when setting the "data" of a choice field, for any choice value other than a string. See [this](https://github.com/symfony/symfony/issues/14377#issuecomment-188934334) comment.

[2016-02-25 19:23] stof commented on #14377
@MichaelMackus your proposal does not always work. It depends what ``$choice`` is

[2016-02-25 21:31] MichaelMackus commented on #14377
@stof not sure what you mean by that, I guess I just find it confusing that this worked in SF ~2.6 but seems broken in >2.7.

For example, if I have

[code]

Without setting `choice_value` to the closure in the comment above, if I set the form's data to any of the value objects in the choices array the option does not show as checked in the form.

I'm not sure if this is a separate issue, but seem

[2016-02-25 22:21] xabbuh commented on #17915
@michaoj Can you describe the steps that are necessary to reproduce your issue (best would be if you could fork the Symfony Standard Edition and make the needed changes)?

[2016-02-26 04:29] #13496 closed

[2016-02-26 04:57] #17908 closed

[2016-02-26 05:05] #17292 closed

[2016-02-26 05:05] #14712 closed

[2016-02-26 05:05] #17789 closed

[2016-02-26 05:44] #16540 closed

[2016-02-26 07:48] michaoj commented on #17915
@xabbuh Well, I could indeed fork Symfony Standard Edition but all I did was commenting a line which doesn't seem to be the best solution ;)

By the way, to reproduce this error, I just did a checkout on my project which includes bundles like liip/imagine-bundle or jms/serializer-bundle and then perform a composer install.

Hope this helps

[2016-02-26 09:33] fungio commented on #17910
I have the same error with Symfony 2.8 and KnpMenuBundle. I also have this error with a Symfony 2.3 project. But if I rollback few commits in both my 2.8 and 2.3 projects the problem is "solved" so I'm pretty sure it's not a bug from Knp.
Any clues ?

[2016-02-26 11:22] xabbuh commented on #17910
@fungio I do agree but as long as I cannot reproduce your issue I am unable to create a fix.

[2016-02-26 11:23] xabbuh commented on #17915
@michaoj Well, we needed this line to fix another bug.

Maybe that change was not enough to fix the issue entirely, but as long as we cannot reproduce your issue, we are unable to fix it the right way.

[2016-02-26 11:26] michaoj commented on #17915
@xabbuh Ok, I will try to go down the root of the problem then. Thanks

[2016-02-26 11:46] rapemer commented on #17910
I have the same issue. Problem solved by adding to /app/services.yml:

    knp_menu.menu_provider.chain:
        class: %knp_menu.menu_provider.chain.class%
        arguments: [ {} ]
        public: true

[2016-02-26 11:52] javiereguiluz commented on #17910
Thank you all for investigating this issue. However, as @xabbuh said, we need to be able to reproduce this issue consistently in order to fix it.

So please, could someone fork the Symfony Standard edition and add the minimum number of third-party bundles, config and PHP code to reproduce the issue? Thank you!

[2016-02-26 11:55] ibasaw commented on #17910
@javiereguiluz : which version of symfony ? 2.8 ?

[2016-02-26 11:57] javiereguiluz commented on #17910
If it's a real Symfony bug, the version should be "the oldest Symfony version which is still maintained and it suffers the bug". So it can be 2.3, 2.7 or 2.8.

[2016-02-26 12:04] NVasse commented on #17910
I tried @rapemer solution and now I get the same error from another service `bazinga_geocoder.geocoder.default_adapter` which is also a service with public set to false, I guess that links this problem to #17915

[2016-02-26 12:06] rapemer commented on #17910
@NVasse yeah, it seems to be problem with services public = false

[2016-02-26 12:11] rapemer commented on #17910
Error occured when I used `composer update` at my dev-master (2.8.x-dev) to the latest commit. When I revert to 2.8.2, everything is okay.

[2016-02-26 12:37] webmozart commented on #14377
@MichaelMackus This should definitely work. Could you please open a new ticket with a reproducible test case?

[2016-02-26 12:40] webmozart commented on #14377
By the way, if you pass options that can be cast to strings without generating duplicates, those strings should also be printed in the "value" attributes in the HTML. If that doesn't work for you, please also open a ticket. Thanks!

[2016-02-26 15:17] Kraguesh opened #17934 "2.7 -> 2.8 | delete all depreciations"
Hi everyone,

I update my project 2.7 to 2.8. I wanted to correct all depreciations but I don't understand thos on Form.

My form:
[code]

I don't know what to do with :

- 'Passing type instances to FormBuilder::add(), Form::add() or the FormFactory is deprecated since version 2.8 and will not be supported in 3.0. Use the fully-qualified type class name instead (Eolas\AdvizBundle\Domain\Dashboard

[2016-02-26 16:12] javiereguiluz commented on #17934
@Kraguesh in the GitHub repository we only discuss about Symfony bugs and new features. For this kind of questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

In addition, you may read the [UPGRADE to Symfony 3.0 guide](https://github.com/symfony/symfony/blob/master/UPGRADE-3.0.md) which explains how to solve most of this deprecation

[2016-02-26 16:12] #17934 closed

[2016-02-26 17:03] egeloen opened #17935 "[Form] Add a built-in form_javascript twig function"
Hey!

While trying to fix egeloen/IvoryCKEditorBundle#212 I have added a `form_javascript` Twig functions which allows to render form javascript related code where you want in the template.

Doing so, allow to link javascript code to a specific form type, allow to render your javascript where you want in the page (often at the bottom of the page), allow to take benefit of the form theming inherita

[2016-02-26 17:15] iltar commented on #17935
Do you have an example of form related javascript code?

[2016-02-26 17:34] egeloen commented on #17935
CKEditor is a good example, for each ckeditor form, you have to render some javascript code... But ti also applies to a datepicker, same for a range picker same...

Let's define a datetime picker using jquery in the form theming:

[code]

Then, this block will be used for each datetime form type:

[code]

[2016-02-26 18:13] OndraM opened #17937 "[Process] Incremental output missing since 3.0.2"
Hi, starting with Symfony 3.0.2, getIncrementalOutput() does not contain the produced incremental output in some circumstances.

I traced the cause down to PR #17423. I also discovered that if you call getOutput() before the getIncerementalOutput(), the later one works properly. I guess this is also the reason why it works in unit tests, as the [getOutput](https://github.com/symfony/symfony/blob/m

[2016-02-26 18:23] portey opened #17938 "Form extending type error"
Hi, I'am trying to refactor [my bundle](https://github.com/Youshido/UploadableBundle) for uploadable form type and have error with it rendering, twig can't find block for its row.

The problem is in `Symfony\Component\Form\AbstractRendererEngine`, recursion for method  `loadResourceForBlockNameHierarchy()` not work correct in line 174.  The problem is with form type extending.

To repeat this, jus

[2016-02-26 19:26] paradajozsef commented on #14944
I checked it in the following symfony versions:

- 2.3.37
- 2.7.9
- 2.8.2
- 3.0.2

But I can't reproduce this bug.

Status: Works for me

[2016-02-26 19:28] cmodijk commented on #14944
I just tried it don't know what i did wrong but it works fine here to i'm closing it sorry!

[2016-02-26 19:28] #14944 closed

[2016-02-26 19:31] MichaelMackus opened #17939 "[Form] Symfony not selecting choice based on default choice data"
# Issue

Symfony v2.8.3 is not selecting the default choice based on data set via the "data" parameter, when the choices consist of value objects. Its also not properly populating the "value" of the choices.

# Steps to reproduce

[code]

Note: this is just a symfony project created with `symfony new acme 2.8`

# Results

When navigating to http://127.0.0.1:8000

![2016-02-26-112115_417x217_scrot]

[2016-02-26 19:33] MichaelMackus commented on #14377
@webmozart thanks I've submitted the issue #17939

[2016-02-26 23:46] WouterJ commented on #17915
See https://github.com/WouterJ/symfony/commit/be61610674492b71a30080f1a60ccb396b2be5f0 for a failing test case proofing this bug. It involves having a private aliased service that is created by a factory service. Please note that the bug exists for both the old and new factory API.

[2016-02-26 23:46] WouterJ commented on #17910
See https://github.com/WouterJ/symfony/commit/be61610674492b71a30080f1a60ccb396b2be5f0 for a failing test case proofing this bug. It involves having a private aliased service that is created by a factory service. Please note that the bug exists for both the old and new factory API.

[2016-02-26 23:46] WouterJ commented on #17910
Status: Reviewed

[2016-02-26 23:47] WouterJ commented on #17915
Status: Reviewed

[2016-02-26 23:53] WouterJ commented on #17915
I'm sorry, that test case was proofing something completely irrelevant. In order to reproduce this issue:

 * On a fresh Symfony install (dev-2.8)
 * Add a service config like this:
[code]

Now, somewhere in a controller use `$this->get('app.demo')`.

[2016-02-26 23:54] WouterJ commented on #17910
I'm sorry, that test case was proofing something completely irrelevant. In order to reproduce this issue:

 * On a fresh Symfony install (dev-2.8)
 * Add a service config like this:

[code]
 * Now, somewhere in a controller use `$this->get('app.demo')`.

[2016-02-27 08:03] xabbuh commented on #17884
@liamsorsby I don't see how you would implement it in the unique constraint. But if you have an idea, feel free to submit a pull request.

[2016-02-27 17:26] mvrhov commented on #17935
I'm wondering how come that I'm the only one hitting #6025 when using those 3rd party bundles.

[2016-02-27 19:55] patrick-mcdougle commented on #17845
Does the php package run as a different user perhaps? Could this be a permissions problem?

[2016-02-27 20:30] xabbuh commented on #17938
Can you please provide some code that makes it possible to reproduce your issue?

[2016-02-27 23:05] portey commented on #17938
@xabbuh , yes, here is the code that reproduces it
https://github.com/portey/bundle-debug

I also detected, that it can be my bug, because I had named my form type same as parent type, but in symfony2 everything was good. So, if you think it's my bug, then you can close this issue, and I'll rename my type.

[2016-02-28 00:37] HeahDude commented on #17938
Hi @portey, I think you should try to implement [`FormTypeInterface::getBlockPrefix()`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/FormTypeInterface.php#L86), in your `FileType`, so there is no more conflict.

[2016-02-28 01:11] portey commented on #17938
@HeahDude , thanks.
That's easier solution, than rename type.

[2016-02-28 02:12] videni opened #17944 "Strange behaviour of service container"
When we create a lazy load service , It is supposed to pass initializer to  staticProxyConstructor of a proxy  instead of  its constructor.  I have no idea why this happened, please check this [link.](https://github.com/Sylius/Sylius/issues/4335)

[2016-02-28 07:34] xabbuh commented on #17944
Currently, you have to stick to ProxyManager v1.x when using Symfony (see #17919 for the PR that will fix this). I am closing here as a duplicate of #17676 though.

[2016-02-28 07:34] #17944 closed

[2016-02-28 07:49] xabbuh commented on #17938
@portey In your code, the form type doesn't have a parent form type. Did you make any changes that made the problem go away? You can also take a look at the explanations in https://github.com/symfony/symfony/issues/17009#issuecomment-164679212 and https://github.com/symfony/symfony/issues/16899#issuecomment-164678889. Maybe they do help you too to better understand this (I honestly still don't com

[2016-02-28 08:55] paradajozsef commented on #17907
You can reproduce it with a single entity. If it has addX() method, but doesn't have removeX(), then you will get this exception when trying setValue() with an array.

It's because finAdderAndRemover() searches for both addX and removeX. You have to ipmlement both of them.

If the decision is that this is not a bug, then at least we should mention this in the propertyaccessor documentation. Actual

[2016-02-28 09:00] xabbuh commented on #14072
@HeahDude Yeah, I think having a PR to discuss this is a good idea.

[2016-02-28 09:27] liamsorsby commented on #17884
@xabbuh I may be wrong but isn't the unique constraint to be checked against the data in the form of an array. If so then couldn't I just do an array search on that data? To be honest I've not actually had a look at the unique constraint to be honest. But I will certainly give it a go.

[2016-02-28 09:35] xabbuh commented on #17884
@liamsorsby The unique entity constraint checks that there is no existing entity in your database that already contains the same value(s) for a particular property (or a set of properties).

[2016-02-28 10:02] #15587 closed

[2016-02-28 10:10] iltar commented on #17884
What you probably want is something like this:

[code]

As opposing to the unique entity constraint -which checks just that one field in the database- you want a constraint that checks all the fields in all items of the collection for that constraint.

[2016-02-28 10:10] #12860 closed

[2016-02-28 10:31] liamsorsby commented on #17884
@iltar would this be instead of the unique entity check Or alongside the unique entity check? Is the unique entity check designed so it doesn't check for unique data in the array collection before persisting?

[2016-02-28 10:35] iltar commented on #17884
@liamsorsby in theory you can make the unique constraint do this (but requires a PR)

[2016-02-28 11:27] WouterJ commented on #16272
Let's first very briefly describe what's happening here:

 1. The login page is under a firewall with at least the **`anonymous` and `simple_form` authentication providers enabled**
 1. The login form tries to authenticate the token when logging in. However, the user provider returns an invalid value and the **form authentication provider throws an exception**
 1. On exception, the **authenticatio

[2016-02-28 11:46] ymc-dabe opened #17945 "[travis] No memcache extension loaded for PHP7"
It looks like travis does not load a memcache extension for PHP7. A memcache extension for PHP7 can be found at [websupport-sk/pecl-memcache](https://github.com/websupport-sk/pecl-memcache/tree/php7), but using this one makes a test in the HttpFoundation component fail (see #17873).

FWIW: Debian currently has packaged https://github.com/websupport-sk/pecl-memcache/commit/fdbd46bbc6f53ed6e02452189

[2016-02-28 14:34] robfrawley commented on #17945
It is worth noting that the above referenced Memcached repository contains code that doesn't pass its own tests via `make test` on PHP 7.

Same goes for https://github.com/memcached/memcached and https://github.com/php/pecl-caching-memcache (the lack of standardized PECL development practices in combination with the friction many received on the internals mailing list when requesting a repo within

[2016-02-28 14:59] #17773 closed

[2016-02-28 15:07] #17910 closed

[2016-02-28 15:07] #17915 closed

[2016-02-28 16:28] #17676 closed

[2016-02-28 16:59] robfrawley commented on #17892
I don't consider decoration a great solution: it adds complexity and requires additional knowledge and burden to newcomers looking to implement their own voter implementation. As (arguably) the most important component of any application, as well as (often) the last/least well-understood by users, avoiding complexity in the Security component should be priority #2 (directly following #1: actual "s

[2016-02-28 17:07] romainneutron commented on #17937
I'm gonna check this, thanks for reporting

[2016-02-28 17:28] robfrawley commented on #17856
Related, and touching on a few ideas that would be helpful for the purpose of this issue: #17892.

[2016-02-28 17:32] moorea5551 opened #17948 ".gitignore updates for 3.0"
I created a test application today using 3.0 and noticed that the default .gitignore file hasn't been updated to support  the new directory structure in Symfony3.  I will open a pull request to address the issue.

[2016-02-28 17:35] robfrawley commented on #17892
An additional thought to my previous comments:

The `RoleProviders` value object may be overkill as it is the responsibility of the voter cast a determination, based on whatever criteria it deems fit. Though very often this is a collection of roles, such is an implementation detail of the voter itself.

As such, I'm not sure exposing a collection of `RoleProviders` in a value object is helpful. Ju

[2016-02-28 17:39] moorea5551 commented on #17948
I opened PR #17949 to address this.

[2016-02-28 17:47] robfrawley commented on #17948
I think you have confused the symfony source (this repo) with the symfony standard edition distribution (at symfony/symfony-standard). You'r looking for this https://github.com/symfony/symfony-standard/blob/master/.gitignore which is current.

[2016-02-28 17:48] #17948 closed

[2016-02-28 17:49] moorea5551 commented on #17948
@robfrawley you're right thanks.

[2016-02-28 17:55] robfrawley commented on #17587
@ruudk Your response to @nicolas-grekas leaves me to believe you have your own implementation for reporting to Sentry? Otherwise, assuming you are using the monolog sentry driver, the above linked pull request against Monolog would provide the functionality as you described.

[2016-02-28 18:09] ruudk commented on #17587
It's already fixed. Some exceptions were ignored.

[2016-02-28 18:09] #17587 closed

[2016-02-28 18:16] robfrawley commented on #17444
@ooflorent I'd be very interested in such functionality. If/when you have a fork you start hacking away at give me a ping; I could use this in a few projects and I should be able to carve some time out to help get it done.

[2016-02-28 18:40] HeahDude commented on #17938
@portey, Don't forget to update your service definition as well, by removing the form type alias.

Anyone upgrading to symfony 3 should read carefully [2.7 upgrade file](https://github.com/symfony/symfony/blob/2.8/UPGRADE-2.7.md#form) and [2.8 upgrade file](https://github.com/symfony/symfony/blob/2.8/UPGRADE-2.8.md#form) form sections.

If it's working as expected after you upgraded, you can close

[2016-02-28 18:44] HeahDude commented on #17938
[Line to change in your service definition](https://github.com/Youshido/UploadableBundle/blob/master/Resources/config/services.yml#L35)

Status: Reviewed

[2016-02-28 18:50] HeahDude commented on #14072
@xabbuh Actually, I'm working on a global way to get it in `CollectionType` too ;)
But I may start there and handle `ChoiceType` later, there's a huge PR on its way...
Is the feature frozen state of 3.1 planned for the 1st march ?

[2016-02-28 19:01] robfrawley commented on #17312
@stof Obviously this is minor, but it peeked my interest as a means to learn more about the policies Symfony uses to govern BC breaks and manage issues in general.

I noticed this was marked as an enhancement, which was surprising to me, as it registers as a bug in my mind - no different from someone accidentally committing a misspelled or otherwise completely invalid type hint (aside from the obv

[2016-02-28 21:26] robfrawley commented on #17749
- Tests are documentation and should remain next to their src.
- For production releases, I assume everyone has their own prefered deploy mechanisms: removing files not needed for such an env can easily be accomplished during your preferred deploy operation.
- I too use PHPStorm: I don't understand the difficulty of setting the tests directory to ignored within the IDE if such is desired.

[2016-02-28 22:26] wholehogsoftware commented on #4087
+1

The solution presented here worked for me:

http://jayroman.com/blog/symfony2-quirks-with-doctrine-inheritance-and-unique-constraints

I then ran into another issue after this which was caused by needing to validate at both levels which resulted in 2 validation errors instead of the anticipated 1 but that can be resolved via validation groups so that's not a big deal and certainly better than

[2016-02-28 23:13] TomasVotruba commented on #1547
What state is this in? It looks like there was some voting proposal but just initiator voted.

@henrikbjorn Good job for extracting the feature!

[2016-02-29 00:35] TomasVotruba commented on #8500
I'm also for *won't fix*, since it's been a long time with no progress.

[2016-02-29 00:36] TomasVotruba commented on #9336
Ping @webmozart

[2016-02-29 00:39] TomasVotruba commented on #10113
@Koc Could you send PR for this feature?

[2016-02-29 02:28] trsteel88 commented on #17935
(Y)

[2016-02-29 02:29] trsteel88 commented on #17935
:+1:

[2016-02-29 07:41] #8500 closed

[2016-02-29 07:59] webmozart commented on #9336
@TomasVotruba Indeed this is not such an easy pick. [This post in #9336](https://github.com/symfony/symfony/issues/5013#issuecomment-22811845) and the following posts explain how this could be solved in a nice manner.

The difficulty is that, if we use annotations to configure property paths, we also have to provide XML and YAML mappings, as we do in other places. That's quite a bit of work and du

[2016-02-29 08:04] rvaliev commented on #17845
@patrick-mcdougle  "ps -ef | grep php5" and "ps -ef | grep php7" commands show the same user viz. "vagrant".

[2016-02-29 08:09] webmozart commented on #14260
I think right now it would be good to upgrade to ICU 55.1. That's the version shipped with the current PHP releases. At the moment, our Intl tests rely on our current ICU version (51.2). Upgrading to 55.1 would enable those tests on current PHP releases, where the tests are skipped right now.

[2016-02-29 08:11] webmozart commented on #5013
@lrlopez I don't have time to work on the implementation myself, but I'm happy to support you if you want to work on this!

[2016-02-29 08:13] javiereguiluz commented on #14260
Great. Is this a matter of just executing the existing [update-data.php](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Intl/Resources/bin/update-data.php) script or is the process more involved?

[2016-02-29 08:17] webmozart commented on #14260
@javiereguiluz As far as I can tell, the upgrade is threefold:

* Run the script to update the data.
* Change the stub implementations of the Intl component (have they been moved to a Polyfill?) to mimic PHP's native classes based on ICU 55.1.
* Sometimes, an ICU upgrade causes tests to fail that contain date strings in assertions. For example, it could be that 52.1 localizes specific dates in one

[2016-02-29 08:19] javiereguiluz commented on #14260
@webmozart thanks for the info! Now we need to find a volunteer. Maybe @nicolas-grekas who already did this in the past? Thanks!

[2016-02-29 08:22] webmozart commented on #17935
I like the idea! :) :+1:

[2016-02-29 08:32] webmozart commented on #17312
Thank you for reporting this issue @mvhirsch! The reason for this is that `ClassMetadataInterface` was created much later than `CacheInterface`, which meant that we could not change that interface anymore. I'll add this to 4.0.

[2016-02-29 08:36] webmozart commented on #14072
@HeahDude Thanks for working on this :) Could you push your WIP PR so that we can double-check the approach and make sure you don't invest efforts into a solution that might turn out to be unacceptable for us?

[2016-02-29 08:48] HeahDude commented on #14072
Hi @webmozart, I'm actually working on a `CollectionList` refactoring based on your approach of `ChoiceType` in #14050.

The plan is to include `filter_collection` or `filter_entries` in `CollectionType` in the process and if the check pass, we can add it to `ChoiceType` too.

I'll send a PR in the next hours based on your comment https://github.com/symfony/symfony/pull/13116#issuecomment-18027305

[2016-02-29 08:48] webmozart commented on #14072
After quickly looking at this, I think this should be solved by adding a `choice_filter` option (name consistent with the other `choice_*` options) to DoctrineType. That option would enable a `ChoiceLoader` decorator that is wrapped around the choice loader [before storing it in the cache](https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php#L169).

[2016-02-29 08:52] bamarni commented on #6602
What about having a separate type instead? The original feature is basically just a text type with a custom data transformer.

While implementing this in the choice type I've found it confusing sometimes (eg. expanded option not always meaningful, no concept of label / value for some widgets), a new type would avoid deprecation and make it easier to review for the core team, it's hanging since 2.2

[2016-02-29 08:54] HeahDude commented on #14072
Maybe it could allow to rely on pre set filters in some from type classes using this option instead of managing it in controllers when the same `ChoiceList` may be cached and reused. What do you think ?

[2016-02-29 08:55] webmozart commented on #14072
@HeahDude Can you give an example where that might be useful?

[2016-02-29 08:58] xtuc opened #17954 "[HttpKernel] profiling in production mode"
Hi,

I searched in the [Symfony2 documentation](https://symfony.com/doc/2.7/reference/configuration/framework.html#only-master-requests). It doesn't describe that behavior so it seems like a bug.

The problem is that my application in production mode was profiling. I didn't explicitly activate it.

[code]

For debugging purpose I had this in config.yml :
[code]

Nothing about framework.profiler in

[2016-02-29 08:59] HeahDude commented on #14072
Basic blog, an admin wants to create an article, he needs many `ChoiceType` fields with the same entity collection but the choices available in each field depend on the states or the subclasses of the choices.

[2016-02-29 09:31] iltar commented on #17749
@robfrawley Because if you use symfony/symfony and have 20+ applications doing this, you'll spend too much time ignoring them, where as excluding tests from the packaged version is something you do with your own package, not that of others.

[2016-02-29 09:47] compains opened #17955 "a "+" appears in all responses on 2.7.10"
Just upgraded on Production environment and it started to fail. This "+" appears even on api calls making json responses useless. Downgraded to 2.7.9 and everything worked again.

[2016-02-29 09:51] Seb33300 commented on #17850
Any way to make auto wiring the default entity manager ?
Or to choose the one to be "auto wired" when we have multiple entity managers ?

[2016-02-29 10:55] gharlan commented on #17292
This issue still exists. When selection the `false` value, I get:

[2016-02-29 11:23] althaus opened #17957 "[Translation] Unable to replace Translator class"
Hey,

as we're using Gettext for a project I tried to replace the default Translator class to solve our issues with constraint localization. With Gettext we don't need all the good stuff from the default service. So I wrote a class implementing the `Symfony\Component\Translation\TranslatorInterface` and configured the app to use it instead of the default:

[code]

Now PHP dies with a missing metho

[2016-02-29 11:23] HeahDude commented on #17292
@gharlan, This is not a `ChoiceType` issue.

When you want to accept a false value you should not use the `NotBlank` constraint.

see https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Constraints/NotBlankValidator.php#L32

This is expected.

You should use `choice_value` option to map false to another string value, example :
[code]

[2016-02-29 11:46] Babacooll commented on #17935
Could this be extended to handle form collections javascript functionalities (such as add / delete) ?

[2016-02-29 12:12] jakzal commented on #17955
I don't see this happening in a fresh installation of Symfony 2.7.10. Unless you can provide steps to reproduce your issue, I'll have to assume the issue's in your application.

[2016-02-29 12:14] pvaass commented on #17922
@Tobion The exact error when running a default symfony-standard install (without the fix) is
[code]

[2016-02-29 12:18] egeloen commented on #17935
It should indeed be possible by creating a `collection_javascript` block but IMO, it should not go in the core as it is something specific to each project.

[2016-02-29 12:24] compains commented on #17955
The steps where:

- Update on production machine with capifony (composer update, clear cache and so on)
- Noticed that the application upgraded from 2.7.9 to 2.7.10 and installed new dependency, I don't remember the exact name but started with apc)
- A "+" started to appear in all pages just after opening <body>
- A "+" started to apear in all json calls to a backend also working on Symfony 2.7.9.