[2019-06-04 16:39] teohhanhui commented on #31814
Removing a method from an interface is a BC break. It causes exceptions such as:

[2019-06-04 16:40] lyrixx commented on #31841
We are using [thumbor](https://github.com/thumbor/thumbor) to resize our picture "on the fly". This is quite powerful. So almost everywhere in our application we have suce code:
[code]

We added a new feature in ou backoffice: user can now upload SVG and use them anywhere. But thumbor does not support SVG (this make sens).

So i have overload the twig function to handle both case:
[code]

[2019-06-04 16:41] fabpot commented on #31841
So, you can keep your code but name the function differently. That looks saner to me.

[2019-06-04 16:43] lyrixx commented on #31841
Wep, Basically, this is all about lazyness :)

[2019-06-04 16:57] nicolas-grekas commented on #31814
That's only an issue for mocks, not for real code.
You might need to create a `TestRoleHierarchyInterface` that extends the native one with the added method.
I did something similar in https://github.com/symfony/symfony/pull/31597/files#diff-13b6c6ea7cdaba73a859c38af4231fd6R70 (for another reason)
That could as well be considered an issue with mocking libraries. It would actually be great if they

[2019-06-04 17:02] lyrixx commented on #31814
For what it worth, I stop mocking `RoleHierarchyInterface` and start using `RoleHierarchy` without mock. Simpler!
https://github.com/symfony/symfony/pull/31824/files#diff-953a0eb8ac77c56ed64c155b3c5789feR45

[2019-06-04 17:05] teohhanhui commented on #31814
Mocking is just one of the ways that the problem would manifest itself.

Consider this, it was a real method defined on the interface before, as far as PHP is concerned. In other words, causing the return value of `method_exists` to be changed is a BC break.

[2019-06-04 17:07] teohhanhui commented on #31814
Adding a new method that only exists in PHPDoc `@method` is fine. Removing an existing defined "real" method is not.

[2019-06-04 17:08] ilyachase commented on #31573
@nicolas-grekas did you read initial issue carefully? I said with symfony/cache 1 seconds become 2 seconds.

[2019-06-04 17:25] nicolas-grekas commented on #31573
I read the opposite: you set 3s but the item lasts less than 2. What do I miss?

[2019-06-04 17:37] rbaarsma commented on #31816
Right then, if there's no easy solution, it could possibly be a documentation tweak to make clear you should edit the `bin/phpunit` file OR provide an env variable outside of the `.env.test` and `phpunit.xml` (because both are apparently too late).

So perhaps change the status to clarify documentation? Or simply close.. I have a solution now. Thanks!

[2019-06-04 17:42] Pierstoval commented on #27276
Pagerfanta is one of the most used alongside with KNP Paginator.

If Pagerfanta is looking for maintainers, maybe it could be moved to the Symfony github organization, before even thinking about moving it into the core?

[2019-06-04 17:47] nicolas-grekas commented on #31816
Understood, see https://github.com/symfony/recipes/pull/606!

[2019-06-04 17:53] ilyachase commented on #31573
I mean negotive time shift became 2 seconds.
But I still don't unserstaand - so symfony/cache adds this +1 second shift on purpose? How can you go past the lifetime if memcached only can shift netogive (+0/-0.999999), not positive?

[2019-06-04 17:55] nicolas-grekas opened #31857 "[PhpUnitBridge] DeprecationErrorHandler should read from $_SERVER/ENV"
Right now, it reads `SYMFONY_DEPRECATIONS_HELPER` using only `getenv()`, but this will soon become incompatible with `Dotenv`, since we switcher it to not use `putenv()` by default in new projects.

(note that I wouldn't change reading the other env vars in the class - only `SYMFONY_DEPRECATIONS_HELPER` makes sense for Dotenv)

/cc @greg0ire if you want to give it a try :)

[2019-06-04 17:58] nicolas-grekas commented on #31573
You can't, but Memcached is a backend that does it correctly. The +1s shift is in a generic code that doesn't know if backends are properly implemented. So it takes the safe side and assumes not.
I suppose this can be updated, please have a look if you want.

[2019-06-04 18:00] ilyachase commented on #31573
Thanks for explonation, I will take a look.

[2019-06-04 18:21] jvahldick opened #31858 "[Question][Form] CollectionType"
Hey guys,

Once I upgraded the Symfony version from 4.1 to 4.2, I noticed a change of behaviour regarding the CollectionType once I have nested arrays (array of arrays) on the payload, which previously I needed just to set the allow_extra_fields and allow_add options to true, and it identified the whole payload. Nowadays, it seems that is identifying just the fields compatible with the entry_type

[2019-06-04 18:31] xabbuh commented on #31858
Can you give an example of how your firm looks like and what data you submit?

[2019-06-04 18:35] IMSDeveloper opened #31859 "Form validation, entity property does not exist for extended classes"
**Symfony version(s) affected**: 4.3.0

**Description**
I've updated a project from 4.2.0 to 4.3.0 and now the $form->handleRequest($request) call is triggering an error on an entity which extends from another i.e. joined inheritance. The error I'm getting is 'Property "password" does not exist in class "App\Entity\Organisations\User"'. In my project that entity extends \App\Entity\Users\User whic

[2019-06-04 18:51] xabbuh commented on #31859
This should be fixed by #31836. Can you confirm?

[2019-06-04 18:58] xabbuh commented on #31855
The fact that this was automatically enabled for all classes was a bug which will be fixed in 4.3.1 where you really need to opt-in for the auto validation feature.

Something like this should also work:

[code]

Apart from that I agree that blindly applying the `Length` constraint is a bug.

[2019-06-04 19:00] nicolas-grekas commented on #31447
Please check #31860

[2019-06-04 19:51] lyrixx commented on #27276
Moving it to the symfony org will not bring anything useful imho

[2019-06-04 20:12] jvahldick commented on #31858
Sorry, let me correct something there I didn't realise when I wrote it. I had added a subscriber to handle the result and it was "skipping" the form errors, but actually it considers the payload invalid in the version 4.2.

Following the correction:

Actually, it doesn't read the first level of the array, but it gives an error like an invalid payload if the type does not match with the entry_type.

[2019-06-04 22:16] greg0ire commented on #31857
Added to my todo list :)

[2019-06-04 23:38] tsantos84 commented on #31484
Maybe I didn't understand the entire strategy, but the idea is to keep `symfony/symfony` as central repo?

[2019-06-05 01:55] Tobion commented on #27744
Why not a new command that does this and that people can add to their CI?

[2019-06-05 01:57] #31447 closed

[2019-06-05 02:07] #31809 closed

[2019-06-05 02:14] #31105 closed

[2019-06-05 03:38] fabpot commented on #31841
see https://github.com/twigphp/Twig/pull/3053/files for the deprecations of Twig overloading.

[2019-06-05 03:38] #31841 closed

[2019-06-05 04:46] ssmusoke commented on #27276
Copied from Slack Channel

Just wanted to add my +1 to this, while Symfony is a great framework, there are not too many pre-built out-of-the box end-user solutions, “happy to pay by the way”, the equivalents of Laravel (Nova, Spark, etc).

I think the role of Symfony would be like Google with the “pixel” line provide good enough “reference” solutions for others to pickup and use.

I also understan

[2019-06-05 07:23] ThomasLabstep commented on #27276
I don't understand this debate.
Symfony recommended ORM is Doctrine and it has a super nice paginator system.
I've never had to rely on KNP or PagerFanta solution.

Doctrine Paginator just needs move love, better documentation for all use cases (simple and advanced queries).

I think the doctrine documentation is a bit messy.
Doctrine is changing all the time.

It's hard to find:
https://www.doctr

[2019-06-05 07:55] javiereguiluz commented on #27276
@ThomasLabstep I disagree with you. "Doctrine Paginator" is not a nice paginator system. I don't even consider it a "paginator", but a nice "LIMIT ... OFFSET" replacement.

Why I don't think it's a paginator? In https://github.com/symfony/demo/pull/991 we're replacing Pagerfanta by Doctrine Paginator. As you can see, Doctrine's solution lacks this basic and absolutely mandatory information: https:

[2019-06-05 08:22] mrbaileys opened #31862 "[HttpFoundation] 301 RedirectResponse ignores passed in cache-control header."
**Symfony version(s) affected**: >= 3.2
**Description**

The constructor for `\Symfony\Component\HttpFoundation\RedirectResponse` [removes the cache-control header for 301 responses](https://github.com/symfony/symfony/blob/fc9f9470e81e6fb59bd826d8040b961f7ed30f94/src/Symfony/Component/HttpFoundation/RedirectResponse.php#L45), _unless_ the caller explicitly provides a cache-control header through t

[2019-06-05 08:24] #28587 closed

[2019-06-05 08:32] curry684 commented on #31862
https://github.com/symfony/symfony/issues/27574#issuecomment-396212815 is more relevant than my comment. The assumption that user input is normalized is the dodgy part causing your issue.

I'm not even sure whether there is some kind of documented best practice to avoid caps in headers. If not we certainly should enforce it (more) in code.

[2019-06-05 09:02] Aerendir commented on #27276
To what already told by @javiereguiluz , I add also that Doctrine Paginator is, well, for Doctrine, while Pagerfanta, using adapters, is for anything that requires paginated results.

And I also completely agree with what told by @ThomasLabstep :

The same concepts pop up here and there in this discussion and in other ones, too.

I have another example: Laravel's Cashier.

In Symfony, I had to wri

[2019-06-05 09:33] stof commented on #31841
@fabpot regarding overloading, DebugBundle overloads the `dump` function (registered initially by Twig's DebugExtension) to make it use VarDumper instead of using `var_dump`. What would be the solution there (we cannot avoid registering Twig's DebugExtension as Twig Environment is doing it automatically)

[2019-06-05 09:56] Tobion commented on #31814
According to https://symfony.com/doc/current/contributing/code/bc.html#changing-interfaces @teohhanhui is right.

[2019-06-05 10:30] dsentker commented on #27276
I think we can summarize the whole discussion like this: PagerFanta will is not maintained any longer, KNP is poorly maintained and the Doctrine Paginator only offers a low-level API with no special integration in Symfony (What about Twig?)

@fabpot  has already noted that a (good) Paginator solution is suitable as a recipe without taking it into the core.

I think that's all there is to it. It wo

[2019-06-05 10:47] spackmat commented on #31752
For others: The provided fix solves the problem for me. But my code triggered this bug only, because I had an Entity with single-table-inheritance and some properties of the base class were marked as `private` instead of `protected`. So from the derived subclasses they were not accessible. This was an error in my code triggering this bug here and removing this error solved the problem. So if you e

[2019-06-05 10:53] Koc commented on #27276
Also don't forget that Doctrine's Paginator works only when you select whole or partial entity and don't work for DTO hydration or select custom columns, see https://github.com/doctrine/orm/issues/2596

[2019-06-05 11:22] IMSDeveloper commented on #31859
@xabbuh Yes, can confirm this resolves it.

[2019-06-05 11:22] #31859 closed

[2019-06-05 11:44] Selion05 commented on #31752
I'm wondering if the bug is actually solved? As far as I understand it #31749 doesn't enable the auto validation feature by default. But what if somebody wants to use auto validating in combination with doctrine's resolve_target_entities?

[2019-06-05 11:45] lcp0578 opened #31870 "On windows MINGW32 git bash or cmd.exe call QuestionHelper ask method input chinese word in my command bug"
**Symfony version(s) affected**: 3.4.28

**Description**

my command code:
[code]
on windows MINGW32.

the code: \vendor\symfony\symfony\src\Symfony\Component\Console\Helper\QuestionHelper.php:175
[code]
but, when i use cmd.exe i can't input chinese word.
on my macbook it it ok.
my extends bundle [github.com/kitlabs-cn/KitGeneratorBundle](https://github.com/kitlabs-cn/KitGeneratorBundle)
**How to

[2019-06-05 11:52] nicolas-grekas commented on #31447
Better fix in #31869

[2019-06-05 11:53] xabbuh commented on #31752
@spackmat You shouldn't have to adapt your code. Can you explain why you think that's necessary?

@Selion05 Do you actually run into any issues using the latest `4.3` branch when the feature is enabled?

[2019-06-05 12:14] Selion05 commented on #31752
@xabbuh  Not really sure how to do that with composer so I manually replaced validator and doctrine-bridge from github and enabled auto_mapping like
[code]

and it works :)

[2019-06-05 12:17] teohhanhui commented on #31715
I'm not sure that this issue is actually fixed. The problem in the first place was that Doctrine's proxy class was being used instead of the actual entity class. The related PRs don't seem to address that problem, but merely avoiding it.

[2019-06-05 12:21] xabbuh commented on #31752
@Selion05

Something like this should work:

[code]

[2019-06-05 12:23] xabbuh commented on #31715
@teohhanhui If I don't miss anything, the issue was that the `DoctrineLoader` tried to add constraints to the Doctrine proxy classes that had already been attached to the actual entity class before.

[2019-06-05 12:25] chalasr commented on #31791
Ok, same issue, unable to upgrade to 4.3 in production. Probably related to https://github.com/oerdnj/deb.sury.org/issues/1184

[2019-06-05 12:26] Selion05 commented on #31752
seems solved

[2019-06-05 12:26] spackmat commented on #31752
@xabbuh my own code was not correct at all and so, from the derived subclasses, the private properties didn't exist and trying to add constraints to them triggered this bug. The provided fix solves this, too by checking if properties exist, but they should have existed all the time within the subclasses. So thanks for that bug, which directed me to this bug in my own code. I don't even know, why I

[2019-06-05 12:28] luciano-jr commented on #31858
The behaviour has changed for the ```"symfony/form": "4.1.9"``` to `4.1.10`

[2019-06-05 12:28] xabbuh commented on #31752
@spackmat I don't understand why you consider marking the properties private as bug. That's why I am asking. Maybe we are still missing something that needs to be fixed.

[2019-06-05 12:33] xabbuh commented on #31858
I didn't manage to look into your example in more details yet. But that's probably related to #29307. So adding the `multiple` option to the form type will probably help.

[2019-06-05 12:46] belinde commented on #31855
The workaround you proposed didn't work for me; I tried to to this:
[code]
In this way the regexp always fail, so no entity check is done altogheter; I'll just wait for 4.3.1 to remove it.

I also checked the [official Doctrine documentation](https://www.doctrine-project.org/projects/doctrine-dbal/en/2.9/reference/types.html) and I think it's safe do the `Length` check only on types `string`, `tex

[2019-06-05 12:51] xabbuh commented on #31855
@belinde I didn't have the time to work on this yet. So if you want to propose a PR, I will happily review it.

[2019-06-05 12:59] belinde commented on #31853
Just a quick&dirty hack: the terminal in PhpStorm is loaded by the file `$PHPSTORM_INSTALL_DIR/plugins/terminal/jediterm-bash.in`. If you're stuck (as me) with an old version and cannot upgrade, you can edit that file and add a `export TERMINAL_EMULATOR=JetBrains-JediTerm` just after the other `export`. PhpStorm terminal will now act as it was a brand new version.

I described a way, but I **never

[2019-06-05 13:01] nicolas-grekas commented on #31853
Thanks for the details, closing now :)

[2019-06-05 13:01] #31853 closed

[2019-06-05 13:08] chalasr commented on #31791
Confirmed, the transport works fine with phpredis 4.3 but produces segfault with phpredis 4.2. I'm going to add a conflict rule to the component composer.json.
And we will need to wait for oerdnj/deb.sury.org#1184, +1 welcome there.

[2019-06-05 13:30] #31791 closed

[2019-06-05 13:56] Aerendir opened #31873 "[Bug] Property "domain" does not exist in class "App\Entity\MyEntity""
**Symfony version(s) affected**: 4.3.0

**Description**
In one of my forms I receive this error:

Obviously it doesn't exist as the property is actually `$domains`.

So I have a method `addDomain` and a method `removeDomain`.

The problem is caused by the validation `auto_mapping`: if I disable it, the problem disappears

[code]

[2019-06-05 14:08] xabbuh commented on #31873
This looks like a duplicate of #31796. So I am going to close here. Thank you for understanding.

[2019-06-05 14:08] #31873 closed

[2019-06-05 14:15] alexislefebvre commented on #31762
See also #31653

[2019-06-05 14:15] Aerendir commented on #31796
The `PropertyInfo` causes a lot of troubles: it tries to guess properties starting from methods: this causes a lot of strange behaviors. Not strictly related to this, this is another example: https://github.com/php-translation/symfony-bundle/issues/309

[2019-06-05 14:39] spackmat commented on #31752
I have an Entity setting like this:

    /**
     * @ORM\Entity
     * @ORM\InheritanceType("SINGLE_TABLE")
     * @ORM\DiscriminatorColumn(name="type", type="string")
     * @ORM\DiscriminatorMap({
     *     "one" = "VariantOne",
     * })
     */
    class MySingleTableInheritanceEntity
    {
        /**
         * @ORM\Column(name="aProperty", type="string", length=255, nullable=true)

[2019-06-05 14:55] belinde commented on #31855
Done. I cut&pasted the private method `getLengthConstraint()` from `DoctrineLoader` to the test class, I hope it's ok.
I'm not sure about the `isset($mapping['originalClass'])` part, but I think it's safe to skip anyway.

[2019-06-05 14:55] xabbuh commented on #31752
This behaviour of the Doctrine bridge was a bug and was fixed in #31836.

[2019-06-05 15:01] pierre-H commented on #24924
Me too with Symfony 4.2 :(

[2019-06-05 15:07] lyrixx commented on #31762
And BTW, the return value of `self::createClient();` has changed in the same way. I think this is a BC break too

[2019-06-05 15:20] teohhanhui commented on #31715
Oh yeah, because it was registering `DoctrineLoader` with no regexp: https://github.com/doctrine/DoctrineBundle/blob/a8377d4b60b931a3ad28712aa80fe0b6e3b7c9db/DependencyInjection/DoctrineExtension.php#L799-L812

[2019-06-05 15:26] #29657 closed

[2019-06-05 15:32] jvahldick commented on #31858
Indeed, adding `multiple => true`, and `compound => false` in a new FormType changes the behaviour of the form to _something more similar_ of what we had before.

[code]

Although, at this way, IMO the FormType become a bit obsolete for less structured payloads, as we cannot structure at least part of the payload due to the compound option disables the Form of having more fields, or at least struc

[2019-06-05 15:33] jderusse opened #31877 "[RFC][EventDispatcher] Expose component versions"
**Description**

When implementing a library/bundle which is compatible with several version of dependencies, we have to write code that must adapt to the version of the dependency.
For instance exposing a bundle that is compatible with `symfony/event-dispatcher: ^4.0|^5.0` (or even being compatible with 4.3 without triggering deprecation) we have to code something like
[code]

same issue with `tr

[2019-06-05 15:36] fabpot commented on #31877
I would not like to add files loaded by Composer on each request. We could standardize a `Version` class at the root of each component though to benefit from autoloading.

[2019-06-05 15:37] nicolas-grekas commented on #31877
one could use https://github.com/Ocramius/PackageVersions ?
but honestly, feature-testing has always worked and the added maintenance burden is not worth it.

[2019-06-05 15:49] alexislefebvre commented on #31762
This looks similar to #31653: type hint and return values of the `client` property have changed.

[2019-06-05 15:56] jderusse commented on #31877
Indeed, using  https://github.com/Ocramius/PackageVersions could fit. I didn't know the tool, and have to check the performance impact (ie. in dev mode or when user didn't optimize autoload)

I may have missed something, how would you test feature with new eventDispatcher's dispatch signature?

Regarding the maintenance, what's about using a script to automatically update those file/class, create

[2019-06-05 16:33] xabbuh commented on #31715
The fact that the feature was enabled by default was another bug fixed in #31749.

[2019-06-05 16:36] nicolas-grekas commented on #31762
See #31881

[2019-06-05 16:36] nicolas-grekas commented on #31653
See #31880

[2019-06-05 16:45] fancyweb opened #31882 "[DI] Validate constructor arguments"
**Description**
I often myself manually validating computed arguments in Compiler Pass.

Example :
[code]

Wouldn't it be great if we could enforce strict rules on services arguments (thanks to the Validator component) that would be checked just before compile time to fail properly if there are violations?

That could also prevent us from overriding arguments with invalid values (unless you delete

[2019-06-05 16:55] nicolas-grekas commented on #31882
See #27825, that's how I think we should do it (but this staled so help wanted)

[2019-06-05 16:58] nicolas-grekas commented on #31561
Closing as explained.

[2019-06-05 16:58] #31561 closed

[2019-06-05 17:14] LS05 commented on #30175
I would like to work on this!

[2019-06-05 17:15] LS05 commented on #30163
Same as my comment on #30175 :) Can I work on this too?

[2019-06-05 17:52] javiereguiluz commented on #30175
@LS05 yes, anyone can contribute these missing translations. However, we'd like to have native speakers translating each language. If you are native in Mongolian or know anyone who is and can help you, go ahead! Thanks.

[2019-06-05 17:58] nicolas-grekas opened #31883 "[HttpClient] "auto" mode for option "buffer""
the "buffer" option is required to allow accessing the content several times, but it should really be turned to false when downloading large files. We discussed with @joelwurtz about an "auto" mode, which could be the default one, and which would look at the content-type of the response to auto-enable buffering for some content types only. If anyone wants to take that task.

[2019-06-05 18:01] nicolas-grekas opened #31884 "[HttpClient] add an ArtaxHttpClient"
I think https://github.com/amphp/artax has everything that might be required to implement a fully async client in pure PHP. That would nicely fit between CurlHttpClient (better portability) and NativeHttpClient (really async).

That non-trivial for sure, but maybe someone would like to give it a try?

[2019-06-05 18:04] nicolas-grekas opened #31885 "[HttpClient] provide a way to alter the stream of chunks"
For example one might want to process the chunks while they arrive, or might want to split/group them at specific boundaries like providing one chunk per SSE event, etc.

This currently requires non-trivial boilerplate, since one must decorate all interfaces related to HttpClientInterface.

Maybe the progress callback could be augmented to allow doing so?

[2019-06-05 18:05] nicolas-grekas commented on #30502
Thank you all for your help, all remaining tasks have either PRs or issues, time to close this one!

[2019-06-05 18:05] #30502 closed

[2019-06-05 18:13] LS05 commented on #30175
@javiereguiluz It could be tricky to do this for me :/ Same for #30163
I will search for other good first issues

[2019-06-05 18:13] teohhanhui commented on #31715
@xabbuh I know, but what I was trying to say is that, the bug shouldn't exist according to my logic above, but it does. Which means that my understanding was wrong, which means that we didn't get to the root of the problem, and maybe the bug is still not fixed...

[2019-06-05 18:13] LS05 commented on #30163
Nevermind, I'm not a Finnish speaker, so I can't work on this issue

[2019-06-05 18:48] xabbuh commented on #31715
I think I do not really understand the issue then. Could you create a small example application that allows to reproduce this?

[2019-06-06 06:25] javiereguiluz commented on #31877
@jderusse I disagree with this part: *"I don't like using arbitrary class to guess the version"*  In my opinion it's the opposite: instead of guessing versions or dealing with version numbers which mean nothing ... you check for the existence of some file/class/method that you want to use or add support to. For that reason, I wouldn't add version per component.

[2019-06-06 06:31] nicolas-grekas commented on #31877
class_exists(LegacyEventDispatcherProxy::class) or similar

[2019-06-06 06:32] nicolas-grekas commented on #31877
Or $ed instanceof Contracts\EventDispatcher\EventDispatcherInterface

[2019-06-06 06:41] #31877 closed

[2019-06-06 06:59] #31862 closed

[2019-06-06 07:00] #31816 closed

[2019-06-06 07:11] jderusse commented on #31877
@javiereguiluz I agree with you, and I misspoke myself. What I call `arbitrary class` is a class/interface/method that is absolutely not related to the feature (yeah, `treeBuilder` was a bad example): for instance when checking `LegacyEventDispatcherProxy` to guess the signature of `dispatch($event/*, string $eventName = null*/)` vs `dispatch($eventName, Event $event)`: there is no relation betwee

[2019-06-06 07:27] 1bastien1 commented on #31810
I'm beginner on github's issue but i "know" how symphony works because i used it sometimes. Can i have a indication ?

[2019-06-06 07:46] #31855 closed

[2019-06-06 08:08] henrikvolmer opened #31891 "[PhpDumper\ProxyDumper] I've got a problem with private lazy services like doctrine EntityManager"
**Symfony version(s) affected**: 4.3

**Description**
I made an update from Symfony 3.4 to 4.3. After that I had a problem with lazy services in the console.

The following error occurred:

`PHP Fatal error:  Uncaught Symfony\Component\Debug\Exception\UndefinedMethodException: Attempted to call an undefined method named "staticProxyConstructor" of class "EntityManager_9a5be93"`

I was able to trac

[2019-06-06 08:09] NeilMasters commented on #26099
I have come across this issue and believe its the period in the actual route. With a basic controller(provided below) router:match works on both /test/example-value and /test/example.value however a http request to example.value will return a 404.

`<?php
declare(strict_types=1);

namespace App\Controller\Web\Site;

use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Comp

[2019-06-06 08:18] nicolas-grekas commented on #31891
can you remove the cache manually and try again? still an issue?
(`rm var/cache -Rf`)

[2019-06-06 08:21] henrikvolmer commented on #31891
yes, the issue is still there

[2019-06-06 08:32] nicolas-grekas commented on #31891
Can you share a reproducer please? Typically a repo we could clone?

[2019-06-06 08:33] #31762 closed

[2019-06-06 08:36] #31653 closed

[2019-06-06 08:41] alexander-schranz commented on #31711
@weaverryan will try to have a look at it at the weekend, but if somebody else want to start work on it before just let me know here.

[2019-06-06 09:00] Romaxx opened #31892 "A placeholder name must be a string"
**Symfony version(s) affected**: 4.3.0

**Description**
Symfony log show me:
-User Deprecated: A placeholder name must be a string (0 given). Did you forget to specify the placeholder key for the requirement "id" of route ..
-User Deprecated: A placeholder name must be a string (1 given). Did you forget to specify the placeholder key for the requirement "idaccount" of route ..

**How to reproduce*

[2019-06-06 09:25] nicolas-grekas commented on #31892
requirements must be a map of name to regexp, see https://symfony.com/doc/3.2/routing/requirements.html

[2019-06-06 09:25] #31892 closed

[2019-06-06 09:25] #31833 closed

[2019-06-06 09:32] spackmat commented on #31752
@xabbuh yeah, I know. Just wanted others to also see this bug as an opportunity to discover own bugs like my one with the `private` properties.

(Thanks for the quick fix btw.)

[2019-06-06 09:42] xabbuh commented on #31752
I still don't get why setting properties to private should be a bug.

[2019-06-06 09:54] henrikvolmer commented on #31891
Hello,

thanks for your help, but I found the bug now. It seems that the `symfony/symfony `bundle has a wrong dev-requirement for the `ocramius/proxy-manager` package. Here at least version 0.4 is required, but the missing method `public static staticProxyConstructor` is only available since version 2.0.

See: https://github.com/Ocramius/ProxyManager/releases?after=2.0.0

[2019-06-06 09:59] nicolas-grekas commented on #31891
Good catch, would you mind sending a PR to branch 4.2 to fix it?
it should be `^2.1`, as in the bridge's composer.json

[2019-06-06 10:10] ajgarlag commented on #31747
I've written a quick SwiftMailer bridge for Symfony Mailer using https://github.com/goetas/to-swift-mime-parser, so I can store emails in spools, check them in the profiler, etc., using the standard SwiftMailer integration.

It's available in https://github.com/ajgarlag/AjglSwiftmailerMailer. The problem now is that I cannot add custom transports to the mailer component (#31385), so enabling it is

[2019-06-06 10:13] henrikvolmer commented on #31891
Sure

[2019-06-06 10:25] wiseguy1394 opened #31895 "Tagged Service: doesn't work with abstract classes hierachy"
**Symfony version(s) affected**:  4.3.0 (probably prior versions)

**Description**
With the following class structure:
[code]
and configs in services.yaml :
[code]
the instantiation of class D results in:
[code]

Is it a bug or a wrong configuration/usage of tagged services?

**Possible Solution**
If we change the class structure to:
[code]
It works, but it's not really handy.

[2019-06-06 10:28] bullder commented on #31810
https://github.com/symfony/mailgun-mailer/pull/1

[2019-06-06 10:32] nicolas-grekas commented on #31895
segfaults are PHP bugs...

[2019-06-06 10:34] spackmat commented on #31752
@xabbuh in my case because the parent class is kind of an abstract (= never directly used) class and only the concrete derived classes are the ones used as Entities.

Call it a bug or not, this was not the thing I wanted to implement. For example: The automatic length constraint for properties won't be added by the doctrine bridge, when the properties are declared as private in the parent class. I

[2019-06-06 10:39] xabbuh commented on #31752
Well, but that's the thing I was talking about earlier. The fact this was not working was a bug in 4.3.0 that has been fixed an will be part of 4.3.1.

What should be clear is that Symfony doesn't require you to make your properties `protected` in parent classes and that we need to fix the framework code instead if there are still issues because of that.

[2019-06-06 10:49] spackmat commented on #31752
Then it should be implemented, that the length constraint is added to those private properties. I got this Exception on that properties, because the line

    $metadata->addPropertyConstraint($mapping['fieldName'], new Length(['max' => $mapping['length']]));

failed on those (in the parent class) private properties. Your fix fixes this, because

    elseif (property_exists($className, $mapping['fi

[2019-06-06 11:10] manu-sparheld opened #31896 "Updated from 4.2 to 4.3 and got deprecation"
Hi
I did run `composer update` 3 times. And symfony updated from 4.2 to 4.3. But I am getting below deprecation errors in logs:
[code]

[2019-06-06 11:14] xabbuh commented on #31752
It is added when the parent class is processed. If that doesn't work for you, please create a small example application that allows to reproduce it.

[2019-06-06 11:20] xabbuh commented on #31896
This looks expected to me. New minor releases add deprecations for code that will be removed in the next major version. That's too help you prepare your application for the next major release which would otherwise break your application then if you'd still depend on the deprecated features.

Thus you will need to check where your application (or one of your dependencies) uses these deprecated feat

[2019-06-06 11:20] #31896 closed

[2019-06-06 11:26] spackmat commented on #31752
Then everything is okay. I didn't test that, just had a look at your changed code (and had changed the properties to protected before). So thanks again for making that point clear.

[2019-06-06 11:34] 1bastien1 commented on #31810
already done ?

[2019-06-06 11:40] bullder commented on #31810
kinda done

[2019-06-06 11:40] 1bastien1 commented on #31810
alright

[2019-06-06 11:47] schefpet commented on #31758
And what about to fix it here? https://github.com/symfony/security/blob/master/Core/Encoder/SodiumPasswordEncoder.php

Do you fix everything also in separated components? Because right now it seems to be dangerous to use separated componenst. They maybe miss more than this fix. Thank you

[2019-06-06 12:18] xabbuh commented on #31810
@bullder Can you recreate the PR in this repository? The other one is just a subtree split that is automatically synchronised with this repository.

[2019-06-06 12:51] bullder commented on #31810
https://github.com/symfony/symfony/pull/31897

[2019-06-06 12:58] #31891 closed

[2019-06-06 13:07] DoobleD commented on #16489
I have the exact same issue. Anyone found a solution ?

[2019-06-06 13:29] AhmetBas opened #31902 "[Symfony/mailer] symfony integration for SendInBlue"
The Symfony/mailer has several SMTP providers integrations. Would you be considering adding SendInBlue integration for the mailer component?

[2019-06-06 14:00] martiis commented on #31775
With nested embedded objects it's still a problem.
f.e. embedded object in embedded object in entity.

[2019-06-06 14:16] xabbuh commented on #31775
@martiis Can you open a new issue and provide a small example application that allows to reproduce?

[2019-06-06 14:20] martiis commented on #31775
sure, but in about 1-2 hours, commuting :)

[2019-06-06 15:08] Matts commented on #31895
I was not able to reproduce this issue in Symfony 4.3 - PHP 7.2.17

[2019-06-06 15:19] curry684 commented on #31653
I had similar issues, rewrote half my test suite to accomodate for the 4.3.0 changes and rename `$client` in my own test cases, then upgraded to 4.3.1 just to see my CI phpStan section break again on invalid method calls on `Response`... https://github.com/symfony/symfony/pull/31904 should fix that last remnant.

[2019-06-06 15:22] ricohumme opened #31905 "[Form] DoctrineOrmTypeGuesser causes error for DecimalType"
**Symfony version(s) affected**: 4.3.0

**Description**
The TypeGuesser (DoctrineOrmTypeGuesser) sets the option input to string which causes the StringToFloatTransformer to take effect. Passing a float from the model to the form causes the transformation to fail

**Possible Solution**
Remove the option input: string from the TypeGuesser or allow values which are already a float to pass the transf

[2019-06-06 15:37] xabbuh commented on #31905
This is expected behaviour. The `decimal` type maps values to a PHP string (see https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/basic-mapping.html#doctrine-mapping-types).

[2019-06-06 15:44] bambucha4 opened #31906 "TypeError on components Mailer - MonologBridge - SwiftMailer"
**Symfony version(s) affected**: 4.3.x

**Description**
I have a big project using almost all components by Symfony. I installed a new mailer component and 6 bridges to check if all everything working. In dev envinroment mode everyting is alright, but when I switch to production envinroment mode I get:

**TypeError: Argument 1 passed to Symfony\Bridge\Monolog\Handler\SwiftMailerHandler::setTranspo

[2019-06-06 15:53] bpolaszek commented on #31806
After investigating further:

* Setting up something like a `NullPasswordEncoder` (`algorithm: none`) is actually a very bad idea because some services like `DaoAuthenticationProvider` rely on `PasswordEncoderInterface::isPasswordValid` after the user has been retrieved, to assert that the provided credentials are valid. If we set up a `NullPasswordEncoder::isPasswordValid` which always returns `t

[2019-06-06 15:58] xabbuh commented on #31906
I cannot reproduce what you describe. Can you check out the application I created at https://github.com/xabbuh/issue-31906 and modify it so that we are able to reproduce it?

[2019-06-06 15:59] linaori commented on #31806
You can replace the `DaoAuthenticator` by the guard one.

[2019-06-06 16:05] bambucha4 commented on #31906
Okey, I will try.

[2019-06-06 16:09] xabbuh commented on #31714
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-06-06 16:09] #31714 closed

[2019-06-06 16:16] nicolas-grekas commented on #31906
Already fixed by https://github.com/symfony/symfony/pull/31854?

[2019-06-06 16:19] bambucha4 commented on #31906
I updated to 4.3.1 and nothing.

[2019-06-06 16:33] xabbuh commented on #31906
Does it mean we can close here?

[2019-06-06 16:34] DoobleD commented on #16489
All right, after a bit of trouble, here is my workaround :

First I get the original filename from my entity in the controller, before handling the request : `$filename = entity->getFile();`.

In my form type, I added a hidden input with `mapped = false`.

On the client side, I then use javascript to set that hidden input to some value only if the user changes the file (meaning: if he browses and

[2019-06-06 16:38] bambucha4 commented on #31906
I reproduce a error. I uploaded to: https://github.com/bambucha4/issue-31906/tree/error. The handler swift in monolog_prod.yaml make this problem.

[code]

[2019-06-06 16:53] ricohumme commented on #31905
Expected as it may be regarding the doctrine mapping, the transformer introduces a BC break here. In that case I would expect the transformer to pass when the value enters the transformer as a float.
Wouldn’t you agree?

[2019-06-06 17:00] xabbuh commented on #31905
I would first investigate why your data is a float in the first place as it's probably even not guaranteed that it will work with Doctrine in all cases.

As a quick workaround you can probably also add the `input` option of your form type to `number` explicitly to not rely on the guessing of the option.

[2019-06-06 17:11] verschoof opened #31909 "Restrict Handlers per Bus still not restricting"
**Symfony version(s) affected**: 4.3.?

**Description**
I register 2 command busses:
[code]

`bin/console debug:messenger`
[code]

Looks good, now I go register the messages:

[code]

result:
[code]

I expect to get the result:
[code]

**How to reproduce**
I created a repo: https://github.com/verschoof/symfony-messenger-bug
2 commmits; 1 setup default symfony 2 setup buses

[2019-06-06 17:27] dvdknaap opened #31910 "[Closed] Symfony form profiler bug in 4.3.1"
This issue can be closed it was an bug in my composer.json file.

[2019-06-06 17:34] dvdknaap commented on #31910
Just investigated it more and it's fixed when you add the unseralized when getting the data from FormDataCollector.php

vendor/symfony/form/Extension/DataCollector/FormDataCollector.php #227
[code]

[2019-06-06 17:34] ricohumme commented on #31905
Well, to the why it is a float is simple, the model says it is a float and the return type of the method as well as the declaration of the property is configured that way.

I have in fact implemented the field with the number type in the form explicitly now so the pressure is off at the moment.
However, this is the case for one of our projects. We use a generic form which relies on the guesser to

[2019-06-06 17:40] #31910 closed

[2019-06-06 17:46] wadjeroudi commented on #26993
@nicolas-grekas I think @grisendo is right and there's still room for improvment for the sortListeners.
On a sylius project, the sortListeners is called 10times in each request, on some pages it can take up to 30% (iwall and ewall).
Why not sort them in the compiling part only one time ?

[2019-06-06 17:47] martiis opened #31911 "[DoctrineBridge] DoctrineLoader can't access nested embedded object properties"
**Symfony version(s) affected**: 4.3.x

**Description**
#31775 tackled the issue and #31811 solved it when embedded object does not have an embedded object in it self. The problem still remains when f.e. embedded object is in embedded object in entity.

**How to reproduce**
***Entities***
[code]

[code]
[code]

and if tried to use validator on entity Product

[code]

Problem lays here
https://gith

[2019-06-06 17:51] lyrixx commented on #26993
I did not read the whole thread but we can not sort them at compile time since it's possible to add new listeners at runtime. Btw symfony itself does that.

[2019-06-06 18:05] wadjeroudi commented on #26993
it should be sorted by default and symfony should avoid that practice if possible ?
sorting would be fired only for people who really need to add new listeners at runtime.
@lyrixx do you have an example of listener added at runtime by symfony ?

[2019-06-06 20:13] ubermuda opened #31913 "[HttpClient] Concerns about ResponseInterface::toArray()"
First, I'm not sure what the design goal behind this component is, and I acknowledge that I did not take part in any prior discussions so I apologize in advance if I raise some concerns that have already be discussed.

That being said, I would argue that the goal of any HTTP client implementation that is called "HTTP Client" (and not, for example, "JsonAwareHttpClient") is to implement the protoco

[2019-06-06 20:30] grisendo commented on #26993
I was thinking about storing a boolean property ($sorted)/array of booleans (for each event type). Then, setting it to "false" when adding a new listener, setting it to "true" after sorting them, and also "true" by default (after compiling the container, where they get initially sorted, as I proposed)... and avoid sorting if true === $sorted

[2019-06-06 20:34] nicolas-grekas commented on #26993
@grisendo that's already how it works :)

[2019-06-06 22:45] Tobion opened #31915 "Deprecate global fallback dir to load resources from"
The FileLocator currently defines a global directory where resources can be loaded from. `%kernel.root_dir%/Resources` and `%kernel.root_dir%` are the fallback directories for any resources. So in SF 3 this means
- `app/Resources` can be used to overwrite resources from Bundles
- `app/` can be used to load any resource if they are not found relative to the current directory the source is loaded fr

[2019-06-06 22:59] ojrzenski opened #31916 "Messenger doctrine transport does not decode message headers properly"
**Symfony version(s) affected**: 4.3.x

**Description**
*Symfony\Component\Messenger\Transport\Doctrine\Connection* does not _json_encode_ headers when using **::all()** and **::find()** methods of *DoctrineReceiver*.

This leads to *MessageDecodingFailedException* when using *Symfony\Component\Messenger\Transport\Serialization\Serializer*

**How to reproduce**
* use doctrine transport
* use *mess

[2019-06-07 00:25] jvasseur commented on #31909
This is because of the `autoconfigure` feature that automatically add the `messenger.message_handler` to class implementings the `MessageHandlerInterface` interface.

This is why your `TestSubscriber` is registered twice for the `messenger.bus.events` bus.

You should either disable `autoconfigure` when registering your handler:
[code]

Or use plain classes for your message handlers instead of imp

[2019-06-07 00:39] waeyy opened #31917 "PHPUnit Bridge"
**Symfony version(s) affected**: 4.3.x

**Description**

Impossible de run test

**How to reproduce**

When calling `./bin/phpunit`
We go this error `sh: composer: command not found
PHP Warning:  chdir(): No such file or directory (errno 2) in /vendor/symfony/phpunit-bridge/bin/simple-phpunit.php on line 112

Warning: chdir(): No such file or directory (errno 2) in /vendor/symfony/phpunit-bridge/b

[2019-06-07 05:58] fabpot commented on #31915
Works for me

[2019-06-07 06:38] verschoof commented on #31909
@jvasseur Ahh thanks! That explains. maybe its an idea to add this to the docs?

https://symfony.com/doc/current/messenger/multiple_buses.html#restrict-handlers-per-bus

Because, when you want to restrict you always want to add the `autoconfigure: false`

Thanks for your help! :)

[2019-06-07 07:35] bambucha4 commented on #31906
Can You confirm a this issue ?

[2019-06-07 07:41] javiereguiluz commented on #31902
I don't know if it's the official Symfony position, but my understanding is that the Mailer component is going to do the same as we do for form themes. We only add form theme support for the most popular CSS frameworks in the world (Bootstrap, Foundation, ...) and the rest of frameworks must be supported by the community.

The Mailer component looks like it's doing the same: provide support only f

[2019-06-07 07:47] ajgarlag commented on #31902
@javiereguiluz The problem is that there isn't an easy way to enable third-party transports. See #31385

[2019-06-07 08:08] pierrejolly opened #31920 "Unrecognized option "disable_not_compromised_password""
**Symfony version(s) affected**: 4.3.0|4.3.1

**Description**
In test environment I have the following error :
[code]

**How to reproduce**
Just make a new Symfony 4.3 install then run your app in test env.

[2019-06-07 08:10] pierrejolly commented on #31920
Related #31756 already fixed, sorry.

[2019-06-07 08:10] #31920 closed

[2019-06-07 08:11] PabloKowalczyk commented on #31747
IMO enabling profiler to test e-mails is weird and i really don't like it, also `SwiftMailer`(Bundle) doesn't allow custom transports so it is really pain-in-the-back to test emails in functional tests.
Any attempts to make testing e-mails easier are very welcomed. public `BufferingTransport` service in test environment sounds good to me.

[2019-06-07 08:12] javiereguiluz commented on #31902
@ajgarlag thanks! I wasn't aware of that. I guess that will be considered a missing feature and be implemented in the future (hopefully soon).

[2019-06-07 08:13] lyrixx commented on #26993
@wadjeroudi see
https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Security/Http/Firewall.php#L71
and
https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php#L74-L85

[2019-06-07 08:13] javiereguiluz commented on #31385
We can't provide official integrations for all mailer services, only for the most popular/used ones ... so I guess this is something we should implement to let the community create their own mailer integrations. Thanks.

[2019-06-07 08:23] grisendo commented on #26993
@nicolas-grekas many time since I open this issue, I can't remember how it worked :smile: I'll try to check the code again. So, if there's already a/some boolean/s to control about sorting status, it's just about to get them sorted when compiling the container and set that value/s to "true" by default, right?

[2019-06-07 08:34] InputOutput commented on #31917
Have you tried running `vendor/bin/simple-phpunit` instead?

[2019-06-07 08:37] lyrixx commented on #31917
@waeyy In order to run the phpunit bridge, you need composer [installed globally](https://getcomposer.org/doc/00-intro.md#globally) on your system.

[2019-06-07 08:39] TheGarious opened #31921 "[RFC]Adding command up - down for maintenance"
**Description**
Like Laravel, Symfony doesn't have a command to activate and desactivate a maintenance mode.

**Example**
php bin/console down <-- Maintenance active
php bin/console up <--- Maintenance not active.

[2019-06-07 08:48] ajgarlag commented on #31747
@PabloKowalczyk It looks like there is a way to allow custom transports in SwiftMailer, but I've not tested it: https://github.com/symfony/symfony/issues/2460#issuecomment-297853881

[2019-06-07 09:30] BernhardWebstudio opened #31926 "Form autovalidation breaking doctrine binary type"
**Symfony version(s) affected**: 4.3.0, 4.3.1

**Description**

The auto-validation introduced in #27735 leads to an `Assert\Length()` validator to doctrine mapped fields with a length, but breaks for fields with length and type `binary` because of an invalid charset.

**How to reproduce**

- Create an entity with a field mapping including e.g.: `@ORM\Column(type = "binary", length = 4)`. In the f

[2019-06-07 09:38] ricohumme commented on #31905
After discussing this with my colleague I tried to alter the type of my model from Decimal to Float and the following came to light:
Previous:
Model:
`@ORM\Column(type="decimal", precision=9, scale=2, nullable=true)`
Database:
Datatype: DECIMAL(9,2)

After:
Model:
@ORM\Column(type="float", precision=9, scale=2, nullable=true)
Database:
Datatype: DOUBLE

As long as the precision and scale are defin

[2019-06-07 09:44] fancyweb opened #31927 "[Form] Inconsistent behavior of empty_data with an unchecked checkbox field"
**Symfony version(s) affected**: all

**Description**
When a form type is used as a sub form, the default `empty_data` behavior (with a `data_class`) is inconsistent whether the form has a `CheckboxType` field or not.

cf : https://github.com/symfony/symfony/blob/37ee3695aede3bbd3231549e634188febd5e4a2b/src/Symfony/Component/Form/Extension/Core/Type/FormType.php#L141

If the checkbox field is here

[2019-06-07 09:46] patrickvale commented on #31816
Hi, I'm just updating the docs for this. Can I clarify that the situation is:

- You cannot set the phpunit version by adding or altering the `SYMFONY_PHPUNIT_VERSION` variable in phpunit.xml.dist eg `<server name="SYMFONY_PHPUNIT_VERSION" value="6.5" />`
- You can set the phpunit version by setting a real (not dotenv) Environment variable, for example by passing `SYMFONY_PHPUNIT_VERSION=6.5` in a

[2019-06-07 09:51] nicolas-grekas commented on #31816
* you CAN set the version using phpunit.xml files, that's how recipes do it
* real env var yes
* it's been removed from bin/phupnit, so no for this item (see linked PR above)

[2019-06-07 09:54] rbaarsma commented on #31816
@nicolas-grekas if you CAN set the version using the phpunit.xml files, then how come I am unable to do that? Setting `<env name="SYMFONY_PHPUNIT_VERSION" value="7.5" force="true" />` in the `<php>` section does not work, nor does it work if I use `force="true"`. Can you clarify?

@patrickvale  The way you can override this in the `bin/phpunit` - the way I fixed my issue - is by simply setting `pu

[2019-06-07 09:57] nicolas-grekas commented on #31816
try with `<server>` instead of `<env>`?

[2019-06-07 09:59] xabbuh commented on #31926
Are you sure this still happens with 4.3.1? I would have expected this to be fixed by #31874.

[2019-06-07 10:01] rbaarsma commented on #31816
Nope it's now:

[code]

Still installs the default version

[2019-06-07 10:03] PabloKowalczyk commented on #31747
@ajgarlag if i remember correctly `SwiftMailerBundle` rejects custom transports, also there is no access to transport instance by DI-container.

I would like to do:
[code]
and thats it, without any magic, enabling profiler or other weird things.

BTW is there any way to functional test emails sent in `CLI` commands?

[2019-06-07 10:04] rbaarsma commented on #31816
It makes sense, since phpunit.xml(.dist) is not loaded yet in simple-phpunit at this point, right?

[2019-06-07 10:12] nicolas-grekas commented on #31816
It should because of these lines:
https://github.com/symfony/symfony/blob/4.4/src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php#L17-L48

But this code doesn't honor the "force" attribute so that might be the reason. PR welcome if you want to fix this, branch 4.2.

[2019-06-07 10:39] xabbuh commented on #31921
What would you expect the command to do?

[2019-06-07 10:40] xabbuh commented on #31906
Thanks, I can reproduce it now.

[2019-06-07 10:48] patrickvale commented on #31816
@rbaarsma thanks - that makes sense re. where to set the version in `bin/phpunit`.

I've created a sandbox repo with just symfony/website-skeleton and docker instructions to change and test the version installed by phpunit bridge here https://github.com/patrickvale/set-phpunit-version which does seem to be working as expected (changing the value of `<server name="SYMFONY_PHPUNIT_VERSION" value="7.

[2019-06-07 10:53] bullder commented on #31902
I think you should use their api https://github.com/sendinblue/APIv3-php-library
Integration with marketing platform is not about sending emails in common sense but more about triggering api

[2019-06-07 10:53] TheGarious commented on #31921
Like Laravel, redirect to a maintenance page.

[2019-06-07 10:55] fabpot commented on #31921
We had something similar in Symfony 1. But I decided to not have the same in Symfony 2 as it is better managed by the web server directly (there are many cases where doing it in the project itself does not work when you are updating deps for instance).

[2019-06-07 10:56] fabpot commented on #31902
If you are using their library, no need to use Symfony Mailer. All integrations are relying only on SMTP or direct implementation of the API.

[2019-06-07 11:00] BernhardWebstudio commented on #31926
Oh. You are right, I was incautious when testing the differnt versions. Very much sorry and thanks for pointing out!

[2019-06-07 11:00] #31926 closed

[2019-06-07 11:02] xabbuh commented on #31906
see #31928

[2019-06-07 11:03] TheGarious commented on #31921
It's ok, then my idea is not ok. Thanks :)

[2019-06-07 11:03] xabbuh commented on #31926
@BernhardWebstudio Thank you very much for the feedback. I am glad it's solved for you. :)

[2019-06-07 11:23] #31921 closed

[2019-06-07 11:27] bambucha4 commented on #31906
Thank your for the answer ;)

[2019-06-07 11:29] wadjeroudi commented on #26993
@nicolas-grekas can we at least remove ksort call ?
and use
[code]
will try to investigate more but maybe the execution of the closure can take time, but it could be already there in the old sorted listeners ?

[2019-06-07 12:10] bastnic opened #31929 "[PropertyInfo] PropertyInfoCacheExtractor emits a warning"
**Symfony version(s) affected**: 4.3.1

**Description**
Since upgrade from 4.2.9 to 4.3.1, a Warning is sent on `PropertyInfoCacheExtractor::extract`

```Warning : array_key_exists() expects parameter 2 to be array, null given => /var/www/project/apps/api/vendor/symfony/property-info/PropertyInfoCacheExtractor.php::124```

**How to reproduce**
Not clear yet, I didn't narrow what the problem is yet

[2019-06-07 12:13] bullder commented on #31659
What about not bringing state to that service and just shuffle order of transports? https://github.com/symfony/symfony/pull/31930

[2019-06-07 12:20] bastnic commented on #31929
Update: see #30525.

[2019-06-07 13:01] AhmetBas commented on #31902
@fabpot They have SMTP as API integration. If it's possible to add it, it will be appreciated. This way it's easier to switch from SMTP provider if needed without many changes. Another advantage is to use the HTTP client of Symfony and not guzzle.

[2019-06-07 14:18] dsentker opened #31934 "Entity injection without ParamConverter results in strange behaviour"
**Symfony version(s) affected**: 4.3.0, 4.3.1, maybe < 4.3

**Description**
In a URL, two IDs from different entities must be passed. I forgot in the annotation to deposit the second @ParamConverter hint.

This is what i used in my controller:
[code]
Note that I forgot to specify the second parameter (schedule_id).

**Expected result**
An exception is thrown, informing me that Symfony does not kno

[2019-06-07 15:13] weaverryan commented on #31796
I can confirm this, here is a simple reproducer: https://github.com/weaverryan/symfony-automapper-reproducer - you can see the simple steps in the history:

1) install validator & property-info
2) Create a public setter method in `src/Entity` without a corresponding property
3) Try to validate it (e.g. go to `/` in the reproducer):

<img width="768" alt="Screen Shot 2019-06-07 at 11 13 06 AM" src=

[2019-06-07 15:17] #31906 closed

[2019-06-07 18:08] derrabus commented on #31934
Can you create a small repository that reproduces this issue?

[2019-06-07 18:25] #31796 closed

[2019-06-07 18:27] dbrumann commented on #31909
As already suggested disabling autconfigure or not using the MessageHandlerInterface (to make sure autoconfigure does not apply) seems to be the best option to. In all other cases there might be edge cases, e.g. when not collecting services on some condition, or not allowing the same handler to be registered multiple times.

I have opened a PR in symfony/docs to add a hint to the documentation, to

[2019-06-07 19:40] derrabus commented on #31305
I tried to build an environment to reproduce your issue. But even the cli-alpine container is built with session support.

[2019-06-07 21:54] dsentker commented on #31934
Yes, I will try to setup a reproducable repo for that in the next few days.

[2019-06-07 22:00] Koc commented on #31385
See #31946 with some ideas about implementation

[2019-06-08 06:39] fabpot commented on #31659
As discussed with @bocharsky-bw, I don't think we need to change anything here. If one really cares about round-robin, I think they need to use the messenger integration and send emails with a consumer. Adding a state should be avoided in my opinion, especially as it needs to be "global" across all machines if you have more than one frontend. The added complexity is not worth it as we already have

[2019-06-08 06:39] #31659 closed

[2019-06-08 07:40] smoench opened #31948 "[RFC][5.0][PhpunitBridge] deprecate/remove simple-phpunit"
**Description**
With version 4.8 phpunit had required the yaml component but starting with 5.0 they didn't anymore. The phpunit-bridge documentation still says there will be issues: `Provides a modified version of PHPUnit that does not embed symfony/yaml nor prophecy to prevent any conflicts with these dependencies.`

My prosposal would be deprecate simple-phpunit with 4.4 and remove it with versi

[2019-06-08 08:31] cronk1986 commented on #31796
Perfect, now works!
Thank you!

[2019-06-08 09:21] xabbuh commented on #31911
Status: Reviewed

[2019-06-08 09:30] xabbuh commented on #31911
see #31953

[2019-06-08 10:34] xabbuh commented on #31927
Same as #31572?

[2019-06-08 11:42] ro0NL commented on #31913
see https://github.com/symfony/symfony/pull/30499#discussion_r264011075 for some more info

But PHP has, so this covers HTTP content to PHP array conversion. If supported / technically possible.

It more or less is;

https://github.com/symfony/symfony/blob/82d5ff075a4f679bbf874f201e4351855deb67d6/src/Symfony/Contracts/HttpClient/ResponseInterface.php#L63

[2019-06-08 14:21] nicolas-grekas commented on #31915
@Tobion up for working on a PR?

[2019-06-08 14:53] Simperfit commented on #31915
I'm going to work on this.

[2019-06-08 19:55] linaori commented on #31934
The parameter converter is from here: https://github.com/sensiolabs/SensioFrameworkExtraBundle

[2019-06-08 20:43] Simperfit commented on #31917
Running simple-phpunit does not changes anything as it' already launch. I think this can be closed.

[2019-06-08 21:11] waeyy commented on #31917
Thank you for help guys. As @lyrixx said, i needed to install composer globally.

[2019-06-08 21:11] #31917 closed

[2019-06-09 04:23] modiamir commented on #28257
@xabbuh Does it need to be fixed?

[2019-06-09 04:35] modiamir commented on #26961
@xabbuh  Does it need to be fixed?

[2019-06-09 09:19] xabbuh commented on #28257
I can no longer reproduce it. Probably fixed by #29800.

[2019-06-09 09:19] #28257 closed

[2019-06-09 09:22] xabbuh commented on #26961
it seems so

[2019-06-09 09:25] tvdijen opened #31960 "[event-dispatcher-contracts]: missing dependency"
Affects event-dispatcher >=4.3.0

**Description**
As of `event-dispatcher` 4.3.0, some code was moved to `event-dispatcher-contracts`, which [relies ](https://github.com/symfony/event-dispatcher-contracts/blob/05f4e03ad3ec1b7c071a9b4807b0ecdce568d7f3/EventDispatcherInterface.php#L14)on the package `psr/event-dispatcher`. It is however not listed in the [composer](https://github.com/symfony/event-d

[2019-06-09 09:38] xabbuh commented on #31960
The `use` statement is not an issue as PHP handles if the referenced class or interface does not exist. As you can see in that file two lines below we first check whether the interface exists to decide whether or not our `EventDispatcherInterface` from the contracts extends the PSR interface.

[2019-06-09 09:51] tvdijen commented on #31960
I see, so in runtime it will not cause any issues..

[2019-06-09 09:51] #31960 closed

[2019-06-09 11:46] jschaedl opened #31961 "[FrameworkBundle][Mailer] Introduce a global_from_address configuration option for Mailer integration"
**Description**

It would be nice to have a configuration option for the mailer component integration provided by the FrameworkBundle to configure a global from address, like we had with the SwiftMailerBundle: https://symfony.com/doc/current/reference/configuration/swiftmailer.html#sender-address

The current way to do it atm, as described in the docs, is to implement a listener which is listening

[2019-06-09 16:56] xabbuh commented on #31508
In any case, this needs to be resolved either in the MakerBundle by choosing a different type or in Doctrine by generating different queries for the migration. Both projects have their own repositories. So I am closing here as there is nothing we can do here. Thank you for understanding.

[2019-06-09 16:56] #31508 closed

[2019-06-09 17:08] xabbuh commented on #31234
Is this also an issue when using a version of the Process component that is still supported (i.e. 3.4, 4.2 or 4.3)?

[2019-06-09 17:44] TimoBakx commented on #31916
I can reproduce this using a `ServiceProviderInterface $receivers` (binding that to `@messenger.receiver_locator` and performing the following code:
[code]

This results in:
[code]

This does not happen when the `get()` method is used instead of `all()`. I think this happens because the `get()` method does `$doctrineEnvelope['headers'] = \json_decode($doctrineEnvelope['headers'], true);`, where `a

[2019-06-09 20:24] #31289 closed

[2019-06-09 20:44] PF4Public opened #31968 "Rendering Forms without Translators and Validators"
**Symfony version(s) affected**: 4.3.1

**Description**
When a form is to be rendered, the following code in Twig runs:

[code]

By default `translation_domain` from `validation` "is __not__ same as(false) ", which results in calling `trans`. Which in turn gives an exception

Trying to override `translation_domain` from `validation` implicitly enables `validation` and gives another error:

**How t

[2019-06-10 03:22] andreia commented on #31884
Looks interesting!

[2019-06-10 05:24] wadjeroudi commented on #26993
ok, after more digging there's no room for improvment and my propositions were totally wrongs (except for the initialization of the closure, but that's irrelevant).

the only solution would be to insert the listener at the correct order and not reorder the whole sorted array, maybe with something like that :
https://doc.nette.org/en/2.4/arrays#toc-insertbefore

[2019-06-10 06:39] ndench opened #31969 "EventSubscriber: Subscribe with a parent event class"
**Description**
With the [changes to the EventDispatcher in 4.3](https://symfony.com/blog/new-in-symfony-4-3-simpler-event-dispatching) we now subscribe to events using the FQCN of the event. It would be awesome if you could use the FQCN of a parent class in order to subscribe to all it's children events.

This comes up because we're using events to power our audit trail. Every controller action d

[2019-06-10 07:48] javiereguiluz opened #31970 "[EventDispatcher] Improve performance in "dev" environment"
**Description**

The upcoming Symfony 5.0 release gives us once-in-a-two-years opportunity to improve things. I'd like to improve this: events/listeners take too much time in the "dev" environment.

Look at this profiling of the Symfony Demo app: https://blackfire.io/profiles/f35213c7-d5b5-4eb4-8315-4ad3f24ac9e9/graph

Some things that look "wrong":

* Symfony\Component\HttpKernel\Debug\TraceableE

[2019-06-10 08:23] ChangePlaces opened #31971 "[ROUTING] first GET param has a key of "?foo" instead of "foo""
**Symfony version(s) affected**: 4.3.1

**Description**
Using a simple route `@Route("/foobar")` and passing the Request into the controller method, with a url of `/foobar?foo=asdf`, accessing `$request->query->get('foo')` returns null, however `$request->query->get('?foo')` returns 'asdf';

even $_GET shows '?foo' instead of 'foo'

**How to reproduce**
inside a controller:

[code]

[2019-06-10 08:51] ChangePlaces commented on #31971
user error... my nginx config had a spurious '?'!

[2019-06-10 08:51] #31971 closed

[2019-06-10 09:22] BernardA opened #31973 "Failed opening bootstrap"
**Symfony version(s) affected**:4.2.1

**Description**
Symfony is somehow appending a /src directory on the path to bootstrap and thus generating
error
`Compile Error: Symfony\Component\Debug\DebugClassLoader::main(): Failed opening required '/Users/bernardo/Sites/pdutel/src/config/bootstrap.php' (include_path='.:/Applications/MAMP/bin/php/php7.2.1/lib/php')`
`in index.php line 17`

On index.php t

[2019-06-10 10:31] sergey-shambir commented on #27517
I've faced with similar bug: console scripts doesn't print anything after another command called with `Application::run(...)`.

The problem is that ConsoleHandler class instance shared between old and new Application objects, so new Application drops console settings by calling `ConsoleHandler::setOutput` and `ConsoleHandler::close` methods.

There is workaround: create a new Kernel using an old o

[2019-06-10 11:00] xabbuh commented on #31973
Can you create a small example application that allows to reproduce?

[2019-06-10 11:39] Tobion commented on #31969
You could use the Messenger component which supports this.

[2019-06-10 14:03] dFayet commented on #31968
I'm not sure to have fully understood the `validation` part, for me if you pass some config to `validation` Symfony is right to ask you to install the `Validator` component.

Beside that I think that setting the `translation_domain` to `false` in the `Form` component if there is no translator installed would be correct. I doubt we want the form component to require `symfony/translation`

Any thoug

[2019-06-10 14:51] javiereguiluz commented on #31968
The Form component doesn't require Translation at the moment (https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Form/composer.json) and recently we also decoupled the Validator component from Translation (https://github.com/symfony/symfony/pull/28210).

[2019-06-10 14:52] stof commented on #31968
but the Twig form theme needs at least the translation contracts to be installed.

[2019-06-10 15:11] nicolas-grekas commented on #31968
I missed that. Then we should add translation-contracts to require, right?

[2019-06-10 15:13] PF4Public commented on #31968
@dFayet It is absolutely fine to require `translation` when `trans` function is used. It is absolutely fine to require `validation`, when it  _is_ used. But at present, I'm willing to use neither. And it worked fine until 4.3.1. It probably broke after 4.3

Having `translation_domain` set to `validators` under `validation` when `validation` itself isn't used makes twig require `translations`. Tryi

[2019-06-10 15:41] Eng3l opened #31978 "orm-fixtures incompatible with Symfony 3.4"
I did try to install `orm-fixtures` via composer and its fails, this is my composer.json
[code]
The project was created with this command `composer create-project symfony/website-skeleton:~3.4.0 my_project`

This is the terminal log:
[code]
Thanks

[2019-06-10 16:29] kevin-lot opened #31979 "[Http-Client] Http-Client with Psr18Client, implementation doesn't provide the right exception"
**Symfony version(s) affected**: 4.3

**Description**

http-client with Psr18Client implementation doesn't provide the right exception (when 400 or above code is returned for example).

"Psr\Http\Client\ClientExceptionInterface" is expected instead of "Symfony\Component\HttpClient\Exception\ClientExceptionInterface".

**How to reproduce**

Do a "sendRequest" with "Psr18Client" that returns 404.

*

[2019-06-10 17:24] nicolas-grekas opened #31981 "[5.0] replace return-type annotations by real type declarations on final classes"
For master only, PR welcome.

[2019-06-10 17:35] nicolas-grekas commented on #31979
No exception is expected actually. See fix in #31982

[2019-06-10 18:02] xabbuh commented on #31978
Looks like you need a more recent version of the `doctrine/annotations` package. The `--update-dependencies` option could help here. In any way, this is not related to Symfony but how package management with Composer works. So I am closing here. Thank you for understanding.

[2019-06-10 18:02] #31978 closed

[2019-06-10 18:22] dFayet commented on #31981
I would be glad to work on this, except if you think this task is more for a person with deep knowledge of the Sf code.

[2019-06-10 18:23] nicolas-grekas commented on #31981
Please give it a try, we're here to help!

[2019-06-10 18:26] dFayet commented on #31981
:+1:
Just to be sure, do we consider also the `@final` classes as final?

[2019-06-10 18:31] nicolas-grekas commented on #31981
Yes!

[2019-06-10 21:55] ElGecko76 opened #31985 "[HttpClient] CURLOPT_STDERR resource has gone away"
**Symfony version(s) affected**: 4.3.1

**Description**
I try to send GET request (there is the same problem with another method):

[code]

I get this error in the profiler:

`Uncaught PHP Exception ErrorException: "Warning: curl_multi_exec(): CURLOPT_STDERR resource has gone away, resetting to stderr" at /var/www/my_project/vendor/symfony/http-client/Response/CurlResponse.php line 260`

**Additio

[2019-06-11 00:47] saravpreet opened #31987 "ini_set after session is active"
**Symfony version(s) affected**: master

**Description**
After updating my PHP version to 7.3 I am getting following error:

FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught ErrorException: ini_set(): A session is active. You cannot change the session module's ini settings at this time in /vendor/symfony/http-foundation/Session/Storage/NativeSessionStorage.php:201

[2019-06-11 01:43] Tobion commented on #14064
This could be fixed by reintroducing #7656 but urlencoding the PATH_INFO before using it, e.g. in the router.

[2019-06-11 06:17] fabpot commented on #31592
@Devristo Do you think you can share your work with us?  I'd like to move forward with this one. I can help if needed.

[2019-06-11 06:18] fabpot commented on #31961
Discussion started in #31592. Let's close to have only one thread about this topic.

[2019-06-11 06:18] #31961 closed

[2019-06-11 06:21] #31911 closed

[2019-06-11 06:28] #31400 closed

[2019-06-11 07:10] ajgarlag commented on #31592
@garak To view sent messages in profiler, while this feature is implemented for the new `symfony/mailer` component, you can use [`ajgl/swiftmailer-mailer`](https://github.com/ajgarlag/AjglSwiftmailerMailer)

This package includes a transport that will use the default swift mailer instance as a transport for emails sent with the new symfony mailer service, so you can view them in swift mailer profi

[2019-06-11 07:52] xabbuh commented on #31968
@PF4Public Can you confirm that #31988 fixes this?

[2019-06-11 08:21] MPierre68 opened #31990 "Validation groups and form without entity"
Symfony version(s) affected: 3.4.24 to 3.4.28

Hello, I'm working with form without underling entity and I need to use validation groups.
So i use this doc https://symfony.com/doc/3.4/validation/raw_values.html to affect validation to differents fields
Unfortunatly, only the first group specifed is used by the validator. The others are ignored.

Here is a form type :
[code]

And there a controller

[2019-06-11 10:02] #31970 closed

[2019-06-11 10:18] cybernet commented on #14938
lovely :)

[2019-06-11 10:36] #31979 closed

[2019-06-11 11:40] #31968 closed

[2019-06-11 12:18] Ninos opened #31995 "Preload not working with .enableVersioning()"
4.0

**Description**
`{{ preload( 'your.css') }}` is not working on production environment, if `.enableVersioning()` is enabled. Seems `preload()` is using the normal file url instead of the versioned (your.css instead of your.random.css).

**How to reproduce**
1. Use preload-twig function
2. Enable Versioning & productive env
3. Check site link & also http header link

**Possible Solution**
Use r

[2019-06-11 12:30] linaori commented on #31969
The goal of messages/command is not the same as an event. It would make sense to add this functionality to the event dispatcher imo.

[2019-06-11 12:31] ro0NL commented on #31995
i think you need to transfer your issue to https://github.com/symfony/webpack-encore

[2019-06-11 13:29] javiereguiluz commented on #31995
@Ninos you mentioned that this doesn't work in 4.0. Sadly we don't support that version. do you know if the bug persists in 4.2, which is the oldest 4.x version maintained? Thanks.

[2019-06-11 13:31] chalasr commented on #30914
I'm going to work on the JWT part.

[2019-06-11 13:57] derrabus commented on #31985
The problem with the composer error is that you have both the old contracts package and the new split contracts packages installed. This is something that should be fixed, but I doubt that it causes the problem you're having with the HTTP client.

[2019-06-11 13:59] derrabus commented on #31985
symfony/panther#198 will most likely fix the composer error for you (cc @nicolas-grekas @dunglas).

[2019-06-11 14:06] ElGecko76 commented on #31985
So, the problem is caused by:

Which uses:

in composer.json

[2019-06-11 14:15] dunglas commented on #31985
I just tagged a new release containing Nicolas's patch.

[2019-06-11 14:18] javiereguiluz commented on #31985
@ElGecko76 totally unrelated to your error ... but in case you missed it, you can simplify the code of your HTTP client as follows:

[code]

[2019-06-11 14:28] ElGecko76 commented on #31985
@dunglas Thank you ! :)

@javiereguiluz Thank you ! This simplification automatically encodes in base 64?

For this error, do you know how to correct it?

[2019-06-11 15:07] javiereguiluz commented on #31985
@ElGecko76 yes:

* first, it concatenates the array elements into a string separated by `:`  https://github.com/symfony/symfony/blob/d3055814ad9680e00f2fb00e291aafa986002ad9/src/Symfony/Component/HttpClient/HttpClientTrait.php#L82-L89
* then, it base64 encodes the result https://github.com/symfony/symfony/blob/d3055814ad9680e00f2fb00e291aafa986002ad9/src/Symfony/Component/HttpClient/HttpClientTrai

[2019-06-11 15:19] Tobion commented on #31987
Can you create a small example application that allows to reproduce?

[2019-06-11 15:46] Ninos commented on #31995
@javiereguiluz my bad, we're using v4.2.8 atm

[2019-06-11 16:22] nicolas-grekas opened #31997 "Bad service name on not-autowirable controller"
**Symfony version(s) affected**: 4.3.1

When I type-hint a not-existing type on a controller, I get an error message that contains an id I know nothing about:

This should be this instead:

[2019-06-11 19:46] Devristo commented on #31592
@fabpot See https://github.com/Devristo/symfony/commit/f0235144a4cec28e08178d5dd465c62ddfbba087

My apologies for not finishing it. Could use help with the test case. Would we want an functional test? I struggled to use the private `mailer` service from a functional test.

[2019-06-12 06:28] BernardA commented on #31973
Never mind. Somehow a /public folder was created within .../pdutel/src and in spite that MAMP server was directed to .../pdutel/public it still threw the error.

[2019-06-12 06:28] #31973 closed

[2019-06-12 06:29] NerdyProjects opened #32003 "[Mailer] sender address gets rejected from maildev: Bad sender address"
**Symfony version(s) affected**: 4.3.1

**Description**
I tried switching a project of mine to use symfony mailer. I use mostly manually symfony components (including DI) and configure the mailer with "smtp://maildev" (which is a docker container running maildev. When I send an email with a from address including a name, I get a Bad sender address error.

Using swiftmailer it works...

**How to re

[2019-06-12 06:34] NerdyProjects commented on #32003
So I looked a bit into SMTP spec and to me it seems as if the `MAIL FROM:` part must only ever use an address, without the name, so `<noreply@foodsharing.de>` in this case. The name part must only be present in the mail headers later, e.g. `From:`.

[2019-06-12 06:55] fabpot commented on #32003
This has already been fixed and will be part of the next patch version.

[2019-06-12 07:37] NerdyProjects commented on #32003
Thanks :-)

[2019-06-12 07:37] #32003 closed

[2019-06-12 08:52] JL2014 opened #32005 "Parse error"
**Symfony version(s) affected**:
Changelog.md in "vendor/symfony/property-access" directory say : 2.7.0

**Description**
When use with a validator, this error occurs ;

**How to reproduce**
with specific tools

**Possible Solution**
adapt the source code !?

**Additional context**
used with PHP 5.6.40

[2019-06-12 08:56] Jean85 commented on #31720
@nicolas-grekas isn't that a breaking change though? We are upgrading from the previous minor, and our apps are breaking due to this change...

[2019-06-12 08:56] stof commented on #32005
well, even in 2.7, we have some test fixtures which are using PHP 7 return types, to ensure that PropertyAccess 2.7 supports them properly. But this code will never be used on PHP 5.6 (the tests using this fixture file are skipped).
Which validator are you talking about ?

[2019-06-12 10:04] ElGecko76 commented on #31985
Thank you for correcting the first problem which is totally unrelated to my error.

I tried with dev-master and the error:

is still there

Do you know where this can come from? And is it possible to correct it?

[2019-06-12 10:19] xabbuh commented on #32005
closing here as there is nothing to fix as explained by @stof

[2019-06-12 10:19] #32005 closed

[2019-06-12 11:22] rjwebdev commented on #31883
Would like to give this one a try.

Are we going to decide the content types now for which the buffer should be enabled automatically?

[2019-06-12 11:59] Simperfit commented on #31969
I like the idea too ! @ndench do you want to implement this feature ?

[2019-06-12 12:04] brpauwels opened #32009 "[Messenger] Can't use DispatchAfterCurrentBusStamp for async messages"
**Symfony version(s) affected**: 4.3.1

**Description**
When trying to consume a message with a `DispatchAfterCurrentBusStamp`, you always get the following exception:
[code]

**How to reproduce**
Like described in https://symfony.com/doc/current/messenger/message-recorder.html, I dispatch an event from inside a handler with the `DispatchAfterCurrentBusStamp` stamp:

[code]

The event is configure

[2019-06-12 12:35] bastnic opened #32010 "[Workflow] State machine svg dumper should generate arrow for transitions"
**Symfony version(s) affected**: 4.3.1

**Description**
Previously, state machine svg dump had arrows as transition, while workflow had square. Since ?? (I'm using 4.3.1) the transition is now a square, just like workflow.
The doc show the "correct" form: https://symfony.com/doc/current/workflow/introduction.html

It seems to not be intentional (poke @lyrixx).

**How to reproduce**
See here: https

[2019-06-12 12:55] lyrixx commented on #32010
Thanks you for noticing.
Actually, there are no bugs in Symfony:
https://github.com/symfony/symfony/blob/4.4/src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php#L80-L84

But I made a typo on the demo. I fixed it https://github.com/lyrixx/SFLive-Paris2016-Workflow/pull/28

[2019-06-12 12:55] #32010 closed

[2019-06-12 13:31] nicolas-grekas commented on #31985
can you please try this patch.

[code]

[2019-06-12 13:46] ElGecko76 commented on #31985
I tried and I have this error:

[2019-06-12 13:47] nicolas-grekas commented on #31985
So, it works, and you have an authorization issue :)

[2019-06-12 13:54] ElGecko76 commented on #31985
The Web Debug Toolbar doesn't handle the error, the log is output in the Apache error log. I doesn't know if my development is good but isn't Symfony supposed to display an error in this context ?

[2019-06-12 14:05] nicolas-grekas commented on #31985
@ElGecko76 can you please try the new patch I added in #32011?
It won't fix the authorization error, but it should be a better fix for the one related to "resource has gone away".
About the error, it should be displayed yes, but destructors are tricky so maybe it is called too late in the process.
Why don't you check the response in your code?

[2019-06-12 14:19] ElGecko76 commented on #31985
It happens before It reaches my `dd($response);`. That's why it's a real problem, because I don't have any Symfony output except a plain blank page due to the 500 error from Apache.

My code:

[code]

[2019-06-12 14:31] alexander-schranz commented on #31948
The simple-phpunit does not only handle the dependencies for phpunit it also register the symfony tests listener which enables the features listed in https://symfony.com/doc/current/components/phpunit_bridge.html if I'm not wrong, but think @nicolas-grekas know more about it.

[2019-06-12 14:32] wouterj commented on #31948
The Prophecy conflict is still true: https://github.com/symfony/property-info/blob/master/composer.json#L37

[2019-06-12 14:38] stof commented on #31948
@wouterj no, because Prophecy supports newer versions of the phpdocumentor library now (since years). So composer would be able to find a matching package.

[2019-06-12 14:39] wouterj commented on #31948
Alrighty, if there are no conflicts anymore, 👍 to use normal PHPunit.

[2019-06-12 14:41] stof commented on #31985
at the time you are dumping the response, the HTTP request may still be in progress (`HttpClient::request` is not blocking. Methods of the Response are blocking until the info they need is received).

@nicolas-grekas could it be that the destructor is checking the status code and throwing an exception at the time we are killing the process because of `die` ?

[2019-06-12 14:43] stof commented on #31948
The remaining feature of simple-phpunit is the automatic registration of test listeners (for the time mocking and so on).
In a bare phpunit usage, you would need to register them explicitly in the phpunit config file (the deprecation handler still works out of the box)

[2019-06-12 14:43] smoench commented on #31948
@alexander-schranz via recipes we could provide a phpunit template where those listener are enabled by default.

[2019-06-12 14:44] alexander-schranz commented on #31948
@smoench 👍  sounds good for me, so its also not hidden :)

[2019-06-12 14:45] ElGecko76 commented on #31985
If I take out `dd($response);`, I obtain this error:

[2019-06-12 14:52] weaverryan commented on #32009
Ping @Nyholm - could you take a look?

[2019-06-12 15:30] alanpoulain opened #32015 "[Validator] Exclude patterns in auto mapping"
**Description**
Like autowiring/autoconfiguration, it should be possible to define an exclude glob patterns for the new auto mapping feature.

This way, it should be possible to add auto mapping for an entire directory (like `App\Entity\`) and to exclude some files in it (like `App\Entity\User`).

**Example**
I'm not sure how we could add this feature with the current way to configure it.

Today w

[2019-06-12 15:32] bpolaszek commented on #31806
When using a `json_login` authentication, the `DaoAuthenticator` gets called despite the presence of the guard (it gets called just afterwards).
I ended in not using `json_login` at all and rewrote the whole thing to make it work. Thank you @linaori!

[2019-06-12 15:32] #31806 closed

[2019-06-12 15:35] nicolas-grekas commented on #31985
yes, that's what happens, that's normal behavior here.

@ElGecko76 your code is strange:
`$response instanceof Response`: what is `Response`? There is no `Response` class in the component. There is nothing to check as the response is guaranteed to be a `ResponseInterface` instance.

What does $this->getContent() do? Why not use `return $response->getContent()`?
Also, you are silently ignoring all

[2019-06-12 15:35] dunglas commented on #32015
What do you think about:

[code]

Also, currently you can use the glob syntax to list only the classes you want to include (whitelist).

[2019-06-12 15:37] nicolas-grekas commented on #31985
Oh, I forgot to add (it's mentioned in the doc).
To debug a response, the best is doing `dump($response->getInfo('debug'))`.
This should typically happen after the call to getStatusCode(), because as @stif explained, responses are lazy so that doing the dump earlier cannot be very useful.

Lastly, I don't know about the timeout - that's yours to debug (you know how now :) )

[2019-06-12 15:40] alanpoulain commented on #32015
I like it better, yes :slightly_smiling_face:

You can do a whitelist but I think it defeats the purpose since you have to think about it each time you add a new class.

[2019-06-12 16:04] nicolas-grekas commented on #31985
That's in your code above. You should remove the function and replace it with `return $response->toArray();`

[2019-06-12 16:50] mbessolov opened #32016 "symfony/service-contracts missing required dependency on psr/container"
**Symfony version(s) affected**: 4.3, 4.4 symfony/service-contracts <=1.1.3

**Description**
"symfony/service-contracts" package is misssing required dependency on "psr/container" and cannot be used by itself.

**How to reproduce**
[code]
test.php:
[code]

[code]

**Possible Solution**

Add explicit dependency on `"psr/container": "^1.0"` in symfony/service-contracts package, same as it's already

[2019-06-12 16:57] nicolas-grekas commented on #32016
Same for cache-contracts about psr/cache
I kinda agree this is a mandatory requirement for the both of them, despite the fact that some contracts don't *neeeed* it (e.g. ResetInterface)
I'm OK to add them to the individual contracts (this means symfony/contracts you move them from "require-dev" to "require", and we should remove them from "suggest")
Up for a PR @mbessolov?

[2019-06-12 17:02] ElGecko76 commented on #31985
@nicolas-grekas

`if ($response instanceof Response && $response->getStatusCode() === HttpFoundationResponse::HTTP_OK)
{
        return $this->getContents($response);
    }`

That had I think an interest with Guzzle (if I'm not saying nonsense) but not with the HttpClient component, my bad, I should have read a little more this beautiful documentation ^^.

So, if I understand your explanations, I

[2019-06-12 17:06] nicolas-grekas commented on #31985
You're welcome :)

Yes, this would work out of the box:

`return $this->httpClient->request(Request::METHOD_GET, self::ENDPOINT_LISTS, $this->httpClientBaseConfig)->toArray();`

If a non expected status code is return, this will throw an exception for you so you'll notice.

[2019-06-12 19:20] dunglas commented on #31497
This change causes issues with Docker and other container systems (including for the API Platform distribution).

Previously, it was possible to build the container without having environment variables set. A hack was already necessary, but it was a one easy to maintain:
`RUN echo '<?php return [];' > .env.local.php`

Now even this hack fails, and the workarounds aren't nice:

The first one:
* rem

[2019-06-12 19:22] dunglas commented on #31497
Also, having things looking like secrets stored (even if they aren't production values) in the container will trigger warnings from many security systems.

[2019-06-12 23:01] ndench commented on #31969
@Simperfit yeah I could take a run at it :+1:

[2019-06-13 06:29] mbessolov commented on #32016
Created #32017

To run tests on individual contracts with only that contract's dependencies installed I split (locally) phpunit.xml per contract.
@nicolas-grekas would you like me to 1) add individual phpunit.xml per contract to this PR,
2) create a separate PR, or 3) do nothing as it would be too much an overkill?

[2019-06-13 07:07] dark-matter-matters opened #32018 "Toolbar : Impossible to access an attribute ("nb_errors") on a string variable"
**Symfony version(s) affected**: 4.3.0

**Description**
The web profiler tollbar is throwing an error "An error occurred while loading the web debug toolbar." on every page, when getting http://127.0.0.1:8000/_wdt/xxxxxx.

**How to reproduce**
I'm not sure what triggered this, but I suspect upgrading to 4.3. I use vue..js and an API.
The bundle "symfony/profiler-pack": "*" is probably up to date s

[2019-06-13 07:19] nicolas-grekas commented on #32016
Thanks. No need to do anything for tests, they are on the contracts package only actually.

[2019-06-13 07:23] nicolas-grekas commented on #31497
@dunglas as we discussed onSlack, this change in the recipe was a hack around the root issue, which is that the DATABASE_URL env var is read at build time. This should be fixed in DoctrineBundle I suppose.
I think we can close this issue, right?

[2019-06-13 07:49] teohhanhui commented on #31497
@dunglas I believe we should use `composer dump-env prod` in our Dockerfile. Unfortunately it's not possible to delete a file once we `COPY` it. I'll look into that.

[2019-06-13 09:23] bendavies commented on #31497
@teohhanhui is does? https://github.com/symfony/flex/pull/507

[2019-06-13 09:48] #31985 closed

[2019-06-13 09:50] #32016 closed

[2019-06-13 11:15] fancyweb commented on #31882
That would be a good addition but that's way less powerful than to use the Validator component.

Might be too much code to add for this new feature though compared to what it brings us 🤔

[2019-06-13 11:48] linaori commented on #32018
Heya, can you check if this issue is what you're experiencing? #31476

[2019-06-13 11:56] francoispluchino opened #32021 "[Mailer] Mailer DSN is invalid with AWS credentials"
**Symfony version(s) affected**: 4.3.*

**Description**

Symfony Mailer with the Amazon SES transport cannot create the SMTP/HTTP/API transport when the AWS secret key contains the characters `/` or `+` in the DSN.

The `Transport` method thrown a `Symfony\Component\Mailer\Exception\InvalidArgumentException` with the message `The "api://<RESOLVED_AWS_ACCESS_KEY>:<RESOLVED_AWS_SECRET_KEY>@ses" mail

[2019-06-13 12:16] dark-matter-matters commented on #32018
Thanks, it was indeed the same problem.
I solved it by changing the version of symfony/console, which used to be set to 4.2.* :
`"symfony/console": "4.3.*"`

[2019-06-13 12:16] #32018 closed

[2019-06-13 12:21] Nyholm commented on #32009
Thank you for a very detailed bug report.
You are correct. When the message comes back from the queue we still have the `DispatchAfterCurrentBusStamp` and we are trying to process the message.

I agree with your solution. "dispatch after current" is not a valid stamp when we changed "current".

I'll provide a PR shortly.

(Thank you @weaverryan for the ping)

[2019-06-13 12:54] francoispluchino commented on #32021
The problem is more general, and occurs with all configurations using a DSN, and that uses credentials or query parameters with special characters like `/`, `+`, `:`, `@`, `#`, `%`, etc...

Consequently, it would be necessary to be able to encode a parameter during the conversion of the environment variables, but in this case, it would take a mechanism to detect this encoding in all components usi

[2019-06-13 13:34] eugenmihailescu opened #32028 "Intl::getRegionBundle()->getCountryNames() gets in infinite loop"
**Symfony version(s) affected**: 3.4.4

**Description**
Calling Intl::getRegionBundle()->getCountryNames() ends up - for one reason or another - in an infinite loop.

**How to reproduce**

By calling the `Intl::getRegionBundle()->getCountryNames()` this will call `RegionDataProvider::getNames` which in turn calls the `BundleEntryReader::readEntry`.

In that readEntry `while` loop the `$currentLoca

[2019-06-13 14:04] javiereguiluz commented on #32021
In the main [Doctrine article](https://symfony.com/doc/current/doctrine.html) of the Symfony Docs, we mention this:

![image](https://user-images.githubusercontent.com/73419/59439010-c77e7180-8df4-11e9-9d45-7534fce8d784.png)

But we'd need to add this notice in more places ... or try to fix this in code if possible?

[2019-06-13 14:08] lsv opened #32029 "[Form] Suggesting a "WeekType""
**Description**
It would be very lovely to have a week type.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/week

[2019-06-13 14:42] Nyholm opened #32030 "[Messenger] Why are you forced to specify a "default bus"?"
**Description**
When configure your busses it could look like this:
[code]

Since we are using multiple busses we are forced to define `default_bus`. Why?
I understand it is for autowire but what if I dont want it to autowire?

The issue is the following:

I define my services like

[code]

So if I create two PHP classes like this:

[code]

`Foo` will get an instance of my `messenger.bus.event` an

[2019-06-13 14:50] nicolas-grekas commented on #32030
Can you try using named autowiring aliases?
ie name you buses query.bus + event.bus and have it them work without any binding using $queryBus/$eventBus as argument name (as you do already)?

[2019-06-13 14:57] jfsenechal opened #32031 "symfony/http-client missing function cancel() from Symfony\Contracts\HttpClient\ResponseInterface"
**Symfony version(s) affected**: 4.3.1

**Description**
In symfony/http-client-contracts/ResponseInterface.php has public function cancel()
But /var/www/wordpress/vendor/symfony/http-client/Response/CurlResponse.php doesn't implement it

**Possible Solution**
Add thi function for CurlResponse and NativeResponse

**Additional context**
PHP Fatal error:  Class Symfony\Component\HttpClient\Response\C

[2019-06-13 15:04] nicolas-grekas commented on #32031
You must have missed upgrading the component, v4.3.1 does have the method, see ResponseTrait.

[2019-06-13 15:09] Nyholm commented on #32030
Yeah, that will work. But if I name a variable `$foobarBus`, then I will still the the `messenger.bus.command` instead of an exception. The exception is preferred in this case.

[2019-06-13 15:12] nicolas-grekas commented on #32030
Oh, I agree! I even thing it was the case when I first constributed around this :)

[2019-06-13 15:27] stof commented on #32021
These DSNs are URIs, so the needed escaping is pretty well defined.

But if your env variables contain the individual parts rather than the DSN, a `urlencode` env processor might indeed be needed to build the DSN (you would still not be able to build it in `.env` as you do in your example, as you would then need to apply the encoding in `.env`, not in the Symfony config files, as there is no env p

[2019-06-13 15:47] ro0NL commented on #32028
Wasnt there some issue due a change in the php intl extension... ie https://github.com/symfony/symfony/issues/31087

[2019-06-13 16:34] magnetik commented on #31948
I'm all in favor as it has confused some junior dev a lot:
- Why is it called "simple-phpunit" ;
- Why isn't phpunit available as standard dependency in my vendor directory before I started the test (So no auto completion in the IDE) ;
- What version will be used etc.

[2019-06-13 16:39] francoispluchino commented on #32021
@javiereguiluz Indeed, it would be interesting to indicate this information for each component (and in the installation message in Flex), and even without having seen the documentation, I solved the problem by manually converting the secret key, however, the DX is not "pleasant".

Currently, Flex adds to the installation of `symfony/amazon-mailer` in the file `.env`:

[code]

So, by following the

[2019-06-13 17:13] dmaicher commented on #32028
@eugenmihailescu can you confirm that the issue is fixed with the latest version `v3.4.28`?

[2019-06-13 17:22] nicolas-grekas commented on #29105
Please check #32032, feedback and benchs appreciated.

[2019-06-13 17:25] nicolas-grekas commented on #31948
Big :-1: on my side.
Adding phpunit in composer.jons is a very bad practice, despite the fact the vast majority does it.
Sebastian Bergman expresses the same opinion several times.

[2019-06-13 17:29] #32031 closed

[2019-06-13 17:36] ro0NL opened #32033 "[Messenger] Plan delivery time of messages"
Currently we're using a Redis based bus with the possibility to dispatch events with a planned delivery time in the future (scheduling, e.g. 3 days from now).

I believe SF messenger currently doesnt support it. In practice this could be done using eg. `dispatch($message, [new PlanDeliveryStamp('now +3 days')])`

Thoughts?

[2019-06-13 20:00] francoispluchino commented on #32021
Regarding the environment variables linked to keys stored in AWS KMS, and with the current configuration of the DSN, we must configure the DSN fully in AWS KMS in addition to the `AWS_SECRET_KEY` variable.

However, with the approach below, this problem will no longer exist, and the DX will also be easier, upon installation, and without changing the already established process.

So, I just tested

[2019-06-13 20:01] francoispluchino commented on #26522
There is a use case that this feature witch would simplify the DX, and knowing that in this use case, the environment variables do not replace the parametres. See the issue #32021.

[2019-06-14 05:03] #31810 closed

[2019-06-14 05:49] #27642 closed

[2019-06-14 05:51] ro0NL commented on #31593
from https://github.com/symfony/symfony/issues/21717#issuecomment-480512825)

i figure the feature im seeking is a `choice_order` option.

[2019-06-14 06:11] Simperfit commented on #31995
You should use the return of asset(), preload will preload what you want to be preload, for exemple:
if you preload something that's ajax based it will send a preload request to that script either it exist or not.
[code]
Like this is working properly. I don't think there anything to do here ;).

[2019-06-14 06:19] xabbuh commented on #31990
Status: Reviewed

[2019-06-14 06:42] Simperfit commented on #31997
I've got that too this morning, fixing it right now.

[2019-06-14 07:31] smoench commented on #31948
@nicolas-grekas this RFC is not about enforcing a bad practice but improving PHPUnit's DX. Instead of doing it our way both communities should come together, improving the DX and providing a guide.

IMHO as long as PHPUnit (respectively @sebastianbergmann) is telling us it is [installable](https://phpunit.readthedocs.io/en/8.2/installation.html) via composer the vast majority will do it.
On the ot

[2019-06-14 07:33] xabbuh commented on #31990
please try the fix I suggest in #32037

[2019-06-14 07:45] alexander-schranz commented on #32033
@ro0NL What is the difference to the `DelayStamp`? For redis its not yet implemented but we are working on it here: #31977

[2019-06-14 07:55] #31990 closed

[2019-06-14 07:57] ro0NL commented on #32033
Hi @alexander-schranz , i wasnt sure "delaying" could serve the "scheduling" purpose. I thought it was meant to allow for an increasing delay between e.g. retries.

However, now looking at your PR this looks similar to what we are using; `ZADD` + `ZRANGEBYSCORE`. I should interpret "delay" as "time-to-live" correct?

[2019-06-14 07:58] ajcerezo opened #32038 "Add couchbase bucket adapter in cache component"
**Description**
Add a new adapter in the cache component to be able to use couchbase as a cache system.

[2019-06-14 07:58] #27534 closed

[2019-06-14 07:59] emodric commented on #31289
@nicolas-grekas Can you give a few pointers on how to replace `!tagged` with `!tagged_iterator` with a compiler pass? In my tests, short of using a different set of config files, it is not possible to replace the syntax with a compiler pass because the argument is already converted to the instance of `TaggedIteratorArgument`.

[2019-06-14 08:03] alexander-schranz commented on #32033
@ro0NL the message can live longer. Delayed means the consumer will not get the message before this time so if the delay is 2hours, the consumer will get the message after 2 hours but if the consumer don't read messages the message will still be available in 3 hours or later so its not a timeto live of a message. The redis implementation the sorted set (zadd) ist just use to delay the messages bef

[2019-06-14 08:06] nicolas-grekas commented on #31289
This is the part that should be dropped on your side: don't use the syntax, use a regular argument instead and you'd do in SF2

[2019-06-14 08:12] nicolas-grekas commented on #31948
@smoench sure, I'm only giving my pov on the initial question: it's way too early to even consider deprecating the bridge. If some of us want to improve the state of things up to the point where no remaining features of the bridge need the simple-phpunit script, fine. But that's not the case right now. Please dig deeper into the set of features. I'd be happy to be wrong by mean of future contribut

[2019-06-14 08:17] emodric commented on #31289
I can't do that :/ The code in question is not a standalone app, but a product that can be installed on multiple apps (eZ Platform, Sylius) with multiple versions of Symfony (currently 3.4 and 4.3), but in 6 months it will be 3.4 (lts), 4.4 (lts) and 5.0.

This is the reason for my original comments. There's no way to programatically get rid of the deprecation and still support multiple Symfony ve

[2019-06-14 08:25] ro0NL commented on #32033
Thanks for explaining, i think this is what we're looking for yes. Subscribed to the PR.

[2019-06-14 08:25] #32033 closed

[2019-06-14 08:39] MPierre68 commented on #31990
It fixed for me. Thanks.

[2019-06-14 08:48] finwe opened #32042 "Possible undocumented BC break: Parameter count change in EventDispatcher::dispatch"
**Symfony version(s) affected**: 4.3.0

**Description**
Coming here from https://github.com/symfony/symfony-docs/issues/11628: signature of EventDispatcher::dispatch changed and the change is not described properly in release notes or in documentation.

**How to reproduce**
- Use `$this->eventDispatcher->dispatch('event-name', $event)` with `symfony/event-dispatcher` `4.2.x`
- Upgrade to `4.3.0`
-

[2019-06-14 08:50] emodric commented on #31289
For those facing a similar issue, I found a non-intrusive way (meaning, it is only ran once, on container compile) by overriding `YamlFileLoader` and using it in my DI extension instead the original one:

[code]

[2019-06-14 09:17] tristanbes opened #32043 "[Mailer] JsonException is thrown when calling `send()` method"
**Symfony version(s) affected**: 4.3.1

**Description**
I'm using the new Symfony Mailer, on a real app production environment some of this issue has happened:

[code]

This error has been thrown by `$this->mailer->send($email)`

I'm also using `symfony/mailgun-mailer`

**How to reproduce**
I don't know, sorry :(

**Possible Solution**
Wrap the `$this->mailer->send($email);` in a try/catch block,

[2019-06-14 10:39] javiereguiluz commented on #32042
@finwe this change should be documented in the "Upgrade to Symfony 4.3" guide here: https://github.com/symfony/symfony/blob/4.4/UPGRADE-4.3.md#eventdispatcher

Also, we published a blog post about this: https://symfony.com/blog/new-in-symfony-4-3-simpler-event-dispatching

We're going to update the docs soon.

[2019-06-14 10:55] finwe commented on #32042
How is this not a BC break? Shoudn't this be targeted for 5.0? Current EventDispatcher accepts only a single parameter.

[2019-06-14 11:15] stof commented on #32042
PHP does not break when passing extra arguments. The interface in Contracts is also meant to have 2 params (and the Debug component will warn you if you implement it without the second argument).

The implementations still deal with the argument.

[2019-06-14 11:15] COil opened #32045 "[Form] Double file size validation when file is beyond the 'upload_max_filesize' parameter"
**Symfony version(s) affected**: 4.3.1

**Description**
I have a double file size validation when file is beyond the 'upload_max_filesize' parameter.
In this case the max size is set to 500ko in the form and the max size allowed by php 2mo. Additionally the error message isn't translated.

![sf-bug](https://user-images.githubusercontent.com/177844/59505691-6c0cbc00-8ea6-11e9-82c7-84759135c9de.png)

[2019-06-14 12:03] zghosts commented on #31683
@Koc your suggestion requires changing the base repositories in gedmo/doctrine-extensions, which for a minor release I should not have to do.

As it stands, as of 3.4.28, it's now very much impossible to inject any service into a doctrine eventlistener or subscriber which depends on a repository being injected or any service having a repository injected, where that repository extends any of the do

[2019-06-14 13:04] eugenmihailescu commented on #32028
Yes, the issue is fixed in v3.4.28 :)

[2019-06-14 13:04] #32028 closed

[2019-06-14 14:21] pontus-mp opened #32048 "[Translation] Support name attribute in XLIFF 2.0 loader"
`XliffFileLoader` supports using the XLIFF 1.2 resname attribute (see #5940) as the identifier for translation strings. Unfortunately, it doesn't support an equivalent for XLIFF 2.0.

If I read the standard correctly, the [name attribute](http://docs.oasis-open.org/xliff/xliff-core/v2.0/xliff-core-v2.0.html#name) seems to be appropriate and apparently `XliffFileDumper` already supports writing to

[2019-06-14 14:56] Tobion opened #32049 "[Messenger] make it easier to consume third-party messages"
The messenger component works pretty good by default if you send messenges with the messenger component and also consume them this way. But if you need to consume messages from a third-party there are several problems which requires alot of thought to make this work.

## Serialization does not work - let keep track in #33912

External messages do not have the headers/content that sf serializer req

[2019-06-14 15:54] Tobion commented on #31848
@proArtex What I don't understand is why you have different buses for send and receive? I don't see the potential use-case for this. What are you trying to solve?

[2019-06-14 16:07] Tobion commented on #32030
The default bus requirement is currently enforced mainly because of

1. https://github.com/symfony/symfony/blob/68d1b3fab7476a44e2062eda26b99762b2a194af/src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php#L406-L409

2. As fallback for the `RoutableMessageBus`

Not sure what the best solution for 1. would be. Require people to specify the bus in this method?
For 2. we could solve it b

[2019-06-14 16:12] Tobion commented on #32030
Ref. 31662

[2019-06-14 16:27] Tobion opened #32050 "[Messenger] AMQP retry does not work when having several transports"
**Symfony version(s) affected**: 4.3

**Description**
Several messenger transports with retry/delay does not work. One transport creates a
`delay_queue__1000` with argument `x-dead-letter-exchange: mytransport1`

Another transport tries to use the same queue name but with a diferent `x-dead-letter-exchange: mytransport2`. It's a similar problem as in #31241 but for the exchange name, instead of th

[2019-06-14 19:48] proArtex commented on #31848
@Tobion first I wanted to dispatch a new message inside consumer, that became possible with the last update (dispatch_after_current_bus middleware). But I still have absolutely different middleware stack for sending and receiving messages. In case of one bus I have to use "if" in every middleware to check whether it is sending or receiving. Imo it's better to put "ifs" into configuration of differ

[2019-06-14 21:23] Tobion commented on #31848
Ok makes sense to me. This should be possible once https://github.com/symfony/symfony/issues/31848#issuecomment-498705251 is implemented. You could then overwrite/change the listener and use a different bus.
@proArtex would you want to work on the proposal? Basically extract the hardcoded try-logic inside the Worker into event listeners. The events are already there.

[2019-06-14 23:47] Tobion opened #32055 "[Messenger] error in receiver results in message staying in queue forever"
When an error in the worker happens before the message is dispatched on the bus (deserialization error of a message for example), the message is neither ack, nor nack, the exception not caught and the worker quit.
The result is that the message stays in the queue (at the front). So the next worker will try to receive the same message again and likely fail again. This continues forever and you can'

[2019-06-15 04:26] Simperfit commented on #31573
@ilyachase did you have a look ?

[2019-06-15 04:27] Simperfit commented on #31426
cc @jderusse

[2019-06-15 05:42] proArtex commented on #31848
@Tobion have absolutely no time for now, sorry.

[2019-06-15 06:46] xabbuh commented on #32045
The fact that the message is not translated looks like a bug to me. Can you check in the profiler if it reports any missing translation?

Though I wonder why the size constraint is triggered at all. If the file cannot be uploaded, this shouldn't happen.

[2019-06-15 07:13] #31995 closed

[2019-06-15 07:43] cybernet opened #32058 "Access Abstained with Voter"
**Symfony version(s) affected**: 4.2.9

**Description**
Access Abstained with Voter

**How to reproduce**
I have a basic voter and trying to check if current user can comment ( basic boolean )

I will include only the necessary code blocks

**UserVoter**
`case 'BLOG_USER_CC':
                if ( $user->getCanComment() ) {
                    return true;
                }
                return f

[2019-06-15 09:01] finwe commented on #32042
I'm still not following. When I pass two parameters, string of an event name and the event object, and the definition changes so that only the event name without the event details is accepted, how is this not a bc break?

[2019-06-15 09:03] nicolas-grekas commented on #32042
See the source:

https://github.com/symfony/symfony/blob/9f6cbaa6b976f60a0ad009c2828c5155506dba6c/src/Symfony/Component/EventDispatcher/EventDispatcher.php#L49-L53

[2019-06-15 09:11] nicolas-grekas commented on #26993
For reference, I checked the code again, and everything is already explained in this thread, see the comments I made last year: `ksort()` is FAST. sortListeners does one more thing than calling this function: it initializes the listeners themselves. This MUST be done, of course, so that we can call them. If this step is slow, check your listeners' constructors. Nothing else can be done from the co

[2019-06-15 10:07] opportus commented on #30488
@Snowbaha and at others who get this issue…

In php.ini, try to set `serialize_precision` on `-1`. This solved the issue in my case.

[2019-06-15 17:44] wtorsi opened #32060 "[Messenger][Serializer] Sending files with DataUriNormalizer"
4.3.1

Hi, It's really hard to send files into the bus.
First of all, it's not possible to send anything in the same bus using `DispatchAfterCurrentBusStamp` but it's already opened issue.

Secondly, and it is the main problem, if you try to send `File` or `SplFileInfo`  into the bus, the normalization process of `DataUriNormalizer` will firstly normalize object to `data` string, after that denorm

[2019-06-15 21:22] deepika-maj opened #32062 "[symfony/lock] doesn't work while called via method"
**Symfony version(s) affected**: 4.3.1

I have following test command and when I run the command multiple times at the same time, both process acquire the lock. It is supposed to acquire the lock by only one process.

[code]

[2019-06-15 22:11] nicolas-grekas commented on #31948
I created https://github.com/symfony/symfony-docs/pull/11757 to clarify what the script does. Note that the excerpt in the description of this issue is misleading: the doc already tells about more things the script provides.

If that was the original motivation (if not, what's the problem this issue wants to tackle?), I agree that using composer to control the version of phpunit to use in an app w

[2019-06-16 04:35] ro0NL commented on #31948
Personally i appreciate for `simple-phpunit` being available, it allows to rely on a single package and have an operating + extended + autoloadable phpunit up&running.

:100: agree with @nicolas-grekas for our ultimate goal being to decouple tools from the project deps.

Also work is done to install `simple-phpunit` in various environments; https://hub.docker.com/r/jakzal/phpqa/ (https://github.co

[2019-06-16 06:49] xabbuh commented on #32058
Can you please create a small example application that allows to reproduce?

[2019-06-16 07:51] xabbuh commented on #31934
@dsentker Do you have some update for us? :)

[2019-06-16 07:51] xabbuh commented on #31234
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-06-16 07:51] #31234 closed

[2019-06-16 09:24] cybernet commented on #32058
https://github.com/cybernet/symfony-32058

[2019-06-16 09:58] cybernet opened #32063 "Can't extend base template"
**Symfony version(s) affected**: 4.2.9

**Description**
I can't extend base.html.twig

**How to reproduce**
Create a Basic Controller

[code]
**index**
[code]

**Additional context**
You can use [this project](https://github.com/cybernet/symfony-32058) to test.
![blown](https://user-images.githubusercontent.com/125879/59562606-73f36a00-9026-11e9-9f3e-a9e24b239c00.png)

[2019-06-16 10:13] onEXHovia commented on #32063
@cybernet path to extend template must he string
[code]

[2019-06-16 10:15] cybernet commented on #32063
how did i not see this 😞

[2019-06-16 10:15] #32063 closed

[2019-06-16 11:01] xabbuh commented on #32058
Thank you for the example. Your issue is inside the voter itself. `return in_array($attribute, ['BLOG_USER_CC']) && $subject instanceof User;` inside the `supports()` method will always be `false` as `$subject` is `null`. Change it to `return in_array($attribute, ['BLOG_USER_CC']);` and your voter should work as expected. Closing here as there is no bug.

[2019-06-16 11:01] #32058 closed

[2019-06-16 11:14] #31997 closed

[2019-06-16 16:06] abderrahimoukhrib opened #32064 "Multiple Symfony Projects with one vendor directory"
**Description**
I need to start more than one symfony projects with the same requirements
but i have vendor directory with size => 110 MB
3 Projects => 330 MB
**Example**
[code]

[2019-06-16 16:16] xabbuh commented on #32064
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2019-06-16 16:16] #32064 closed

[2019-06-16 17:53] nicolas-grekas commented on #31913
Thanks for raising the point. For reference, `toArray()` has been introduced in #30499, following #30413 which introduced the component without it. Some general design principles have also been discussed in #30452.

Before the feature was added, e.g. this comment highlighted that the method was missing:

This method is the answer to this need. It could have been implemented in a helper class, but

[2019-06-17 07:43] smoench commented on #31948
@nicolas-grekas Don't get me wrong. I don't want deprecate phpunit-bridge but simple-phpunit. IMHO simple-phpunit is a script respectively a tool and should not be part of a bridge. phpunit-bridge contains many great features / extensions for phpunit. They could be used independently from simple-phpunit. PHPUnit provides a scoped phar-file which should be the preferred one anyway. A big disadvanta

[2019-06-17 07:48] nicolas-grekas commented on #31948
Sure, that's what I'm talking about (I edited the word "bridge" and replaced it by "script", because this is really what I was talking about).

[2019-06-17 08:32] sergey-shambir commented on #27517
And yet one thing: you need to call `$kernel->shutdown();` for the new Kernel after `$application->run(...)` - otherwise PHP will not free database connections until process exit (at least when `Kernel` created in Debug mode, i.e. `$this->appKernel->isDebug()` is true)

[2019-06-17 09:15] piotrooo commented on #25524
@dvc day-saver thx! :)

[2019-06-17 09:24] xabbuh commented on #28023
@shehi I don't know what you mean. If you think something is wrong, please open a new issue and provide some code that allows to reproduce it.

[2019-06-17 09:42] ShuyqcK opened #32067 "APP_ENV definition"
| Q        | A  |
| ------------- |:-------------:|
|  Symfony version ?     | 4.3.1 |

Hi,
[code]
In this section why  Symfony is using only `$_SERVER` to define the environment ?

_Why not using something like that ? :_
[code]
My question is related to this issue [https://bugs.php.net/bug.php?id=67808](https://bugs.php.net/bug.php?id=67808) which initialy refers to Symfony.

[2019-06-17 09:51] nicolas-grekas commented on #32067
It is now, isn't it?
https://github.com/symfony/recipes/blob/b8dc91a1564755e0b606a9f9919debbd8d04ba82/symfony/framework-bundle/3.3/config/bootstrap.php#L51

[2019-06-17 09:56] xabbuh commented on #20201
@harveyelsisura Please open a new issue with some instructions on how to reproduce if you think that something needs to be fixed.

[2019-06-17 10:29] ShuyqcK commented on #32067
Ok, the symfony/flex part of my project wasn't up-to date.
Thanks you.

[2019-06-17 10:29] #32067 closed

[2019-06-17 11:42] COil commented on #32045
Hi Xabbuh, well it's weird, look at this, in the validator panel I can only see my constraint :

![bug02](https://user-images.githubusercontent.com/177844/59601878-a758f600-9105-11e9-8fb4-e8c23a8ff572.png)

But in the form panel, I can see the second message but there isn't constraint violation associated to it (at least in the debug panel)

![bug01](https://user-images.githubusercontent.com/17784

[2019-06-17 12:11] finwe commented on #32042
I see, thanks. So it should be enough to create ignore rules for static analysers until 5.0 is out?

[2019-06-17 12:33] xabbuh commented on #32045
That the filesize check is not listed in the validator panel is expected as that error is caught on the form level and attached as an error to the form without using the validator component.

I am not sure how we would solve the `Image` constraint validation though. We could skip validation if the file is an `UploadedFile` instance whose error is not 0. However, that would require hardcoding knowl

[2019-06-17 13:25] jderusse commented on #32062
This snippet don't use lock in the right way: The instance of `$lock` should live as long as you need to work within the lock. By delegating the creation of the `$lock` instance in a separate method, the lock is automatically released once the instance is destruct (when exit the method `lockInstance`) (see https://symfony.com/doc/current/components/lock.html#usage and the last tips at the end of t

[2019-06-17 13:31] weaverryan commented on #32049
Indeed, consuming things from a 3rd party was not the principal concern when I was adding all the new features for 4.3. It seems to me that, successfully consuming external messages comes down to 3 things:

1) Writing a custom serializer to "map" the JSON/XML into the correct "type" (and use the Symfony serializer internally to do the work).

2) Attach the `SentStamp` and `BusNameStamp` stamps (or

[2019-06-17 13:33] weaverryan commented on #32030
The downside to making `default_bus` optional is that normal, non-named autowiring will work with 1 bus, but then when you add a second, it'll start to fail... which is the same as now, but the error message will be much more obtuse: you'll see an autowiring failed message instead of a concrete message that you're missing a config key.

So, *if* we make it optional, I think that should be consider

[2019-06-17 13:38] jderusse commented on #31426
Thanks @slince for the reproduct case and the clear and deep investigation!

I'm working on a fix.

[2019-06-17 13:42] weaverryan commented on #32055
@Tobion I'm not sure if this fully explains/covers your situation, but a serializer is supposed to throw a `MessageDecodingFailedException` message if deserialization specifically fails: https://github.com/symfony/symfony/blob/a0aa94114a7b0334f94eb53c7536c729c1be2fef/src/Symfony/Component/Messenger/Transport/Serialization/Serializer.php#L67

Then, receivers/transports are supposed to catch this an

[2019-06-17 13:49] weaverryan commented on #32009
@brpauwels @wtorsi - this now has a PR - https://github.com/symfony/symfony/pull/32027 - if you can verify it fixes the issue and comment there, it will help (it's a one-liner you could "hack" into your vendor easily to test)

[2019-06-17 13:55] eXtreme opened #32069 "Routing cache is broken with multi-kernel setup on 4.3"
**Symfony version(s) affected**: 4.3.0, 4.3.1

### Description

I upgraded my app (which is set up with [multiple kernels](https://symfony.com/doc/current/configuration/multiple_kernels.html)) to 4.3 and the routing is broken. In previous versions a cached UrlMatcher (and UrlGenerator) had a filename that depended on kernel name (like `apiApiKernelProdContainerUrlMatcher.php`). Right now it is alw

[2019-06-17 14:00] weaverryan opened #32070 "[Validation] Activate auto-mapped validation via an annotation"
**Description**
The new auto-mapping validation feature is activated via configuration. I think this is too obtuse, and people are wondering "Why is this field required? Where did that validation come from"?

The problem is that ALL your validation currently lives as annotations (or XML, YAML)... except that now this automatic system is activated in an entirely different location. Additionally, th

[2019-06-17 14:19] yceruto commented on #32069
I think this can be considered as a BC break.

Related to PR https://github.com/symfony/symfony/pull/30249 where the `router.cache_class_prefix` was removed from the router options in https://github.com/symfony/symfony/pull/30249/files#diff-a54ffdcb2ee5f6c0c06492fabab70827L69.

Friendly ping to @Tobion

[2019-06-17 15:13] GregRbs92 opened #32072 "[Serializer] Groups not working on AbstractQuery::getArrayResult()"
**Symfony version affected**: 4.3.0

## Description
When getting a result in my Object Repository thanks to **getArrayResult()**, I was not able to apply the **groups** option in the context of the serializer. The result was indeed serialized, but all the properties of the objects fetched from the database were visible.

## How to reproduce
[code]

[code]

[code]
[code]

## Possible Solution
I fix

[2019-06-17 15:45] xabbuh commented on #32072
The groups are associated with your `Thing` class. But when you make use of the `getArrayResult()` method, there are no instances of `Thing` involved and thus the serializer does not know that there are groups to be considered.

[2019-06-17 15:46] #32062 closed

[2019-06-17 15:46] xabbuh commented on #32062
So I am closing here as there is no bug.

[2019-06-17 16:32] GregRbs92 commented on #32072
Thanks for the quick answer !

So if I get it, ```getArrayResult()``` returns an array but do not take care of what is inside this array, right?
This is what I thought when I solved this issue by replacing ```getArrayResult()``` with ```getResult()``` but I still don't get why it works like this. It seems to me that we are losing an important information here when using ```getArrayResult()```, no?

[2019-06-17 16:36] #31913 closed

[2019-06-17 16:43] #32050 closed

[2019-06-17 16:45] fabpot commented on #32070
/cc @dunglas

[2019-06-17 16:47] #31426 closed

[2019-06-17 17:05] alexanderschnitzler opened #32073 "[PropertyInfo] PhpDocExtractor should cache on class level"
**Symfony version(s) affected**: 4.3.0

**Description**
When calling `\TYPO3\CMS\Extbase\Reflection\PropertyInfo\Extractor\PhpDocExtractor::getTypes` with a class and a property name, the result of the combination of arguments is cached – which is fantastic – but when repeatedly calling `getTypes` with the same class name but different property names (which is a common task), the type context is b

[2019-06-17 17:33] xabbuh commented on #32072
Can you explain which difference you expected by using `getArrayResult()` instead of `getResult()` which is usually used?

[2019-06-17 18:45] Nek- commented on #32073
Hello,

Thanks for taking the time to send feedback to the Symfony team. That's great.

I definitely agree with the fact that this needs to be cached. But in fact, Symfony already comes with a cache system. You can decorate your `PropertyInfoExtractor`. Here is your example, but cached:

[code]

I may have misunderstood you and maybe this does not cover your needs, feel free to tell us or close th

[2019-06-17 19:19] alexanderschnitzler commented on #32073
Well, I know that caching solution but it doesn't help with the issue as the caches are generated for each class-property-pair but the type context objects are still created again and again while processing multiple properties of the same class.

The context however, holds information regarding the class, not the property, so creating the context object once for all properties of the same class sa

[2019-06-17 22:00] dunglas commented on #32070
I didn't anticipated this case, and it's indeed a problem. However, it's a very specific one, that should be the exception, not the standard. Having to manually enabling auto-validation kind of defects the point of the feature: catching missing validation constraints, and providing a basic security by default.

I do like the proposed annotations, but as this feature already has to be enabled expli

[2019-06-18 02:42] Tobion opened #32077 "[Messenger] refactoring to get rid of SendersLocatorInterface::getSenderByAlias"
Refactoring idea: Move the `ReceivedStamp` and `RedeliveryStamp` logic from the `SendMessageMiddleware` into the `SendersLocator` (or a decorator of it).
This avoids the need of requiring a `SendersLocatorInterface::getSenderByAlias` method and makes the code cleaner.

[2019-06-18 05:16] ndench commented on #31969
I've submitted a [PR for this](#32079), please review it and let me know if there are any change you'd like me to make :smile:

[2019-06-18 06:44] piotrooo opened #32080 "[Serializer] @SerializedName flattening nested attributes"
**Description**
Sometimes I want to flatten a JSON object into POPHPO.
For example Jackson provide following feature in annotation: `@JsonProperty("filter.key1")`.
`@JsonProperty` like annotation should handle nested values.

**Example**

Following JSON:

[code]

And unmarshalled object:

[code]

[2019-06-18 07:46] Devristo commented on #31592
I managed to create some tests. Could someone check out my PR and see what else is needed?

[2019-06-18 10:22] Daisuke-sama commented on #9310
For me `choice_loader` is not working, because it should be set in the `configureOptions()`, but at the same time I already need yo use that options _resolved_ to generate choices.
I am creating a new FormType , which parent is ChoiceType, and I am not building the form, I am just using `getParent()` and `configureOptions()`. Somewhere I even do , which is a trick for frontend generation, but does

[2019-06-18 13:30] weaverryan commented on #32070
Hmm, yes, I think we can try this :). 2 more questions:

1) would this be for 4.3? It strikes me as a new feature. However, without doing *something* on 4.3, the auto-validation is almost unusable. What I mean is, it's very difficult to work-around this edge case - the only reasonable thing for a user to do would be to disable auto-validation entirely (right?). Can we put this in 4.3? And if not,

[2019-06-18 13:33] AirBair opened #32084 "[Workflow] Custom property in Marking Store not taken into account for State Machine"
**Symfony version(s) affected**: 4.3.1

**Description**
The _'property'_ attribute of the workflow marking store isn't taken into account when defining a state machine.

**How to reproduce**

[code]

Produce:

But with deprecated attributes from the SF 4.2, _'arguments'_ **AND** _'type'_ forced to _'single_state'_ , no more error:
[code]

Am i misunderstood something ? Thanks for your time.

[2019-06-18 14:05] guillaumesmo opened #32085 "[Debug] TraceableEventDispatcher throws exception with Symfony\Contracts Event"
**Symfony version(s) affected**: 4.3.1

**Description**
When using the legacy dispatch ($eventName, $event) with a Symfony\Contracts\EventDispatcher\Event, the exception is thrown: `Argument 1 passed to "Symfony\Component\EventDispatcher\EventDispatcherInterface::dispatch()" must be an instance of Symfony\Component\EventDispatcher\Event, Symfony\Contracts\EventDispatcher\Event given.`

**How to re

[2019-06-18 14:19] xabbuh commented on #32085
This usage looks wrong. When using the legacy signature (i.e. passing an event name as the first argument), the second argument always must have been an object that is an instance of the `Event` class from the EventDispatcher component.

[2019-06-18 14:36] lyrixx commented on #32084
Oups, it looks like a bug indeed ! I will fix it ASAP :)
Thanks for the report !

[2019-06-18 15:04] yceruto commented on #11293
I checked this and we can close here since both features are already supported.

[2019-06-18 15:29] #11293 closed

[2019-06-18 15:31] MarcDiaz commented on #31765
@nicolas-grekas
I am not a Symfony expert yet. Can you tell me where we must put the %env()% for the `usePutenv` argument? In a `config/dotenv.yaml` file?

Thank you in advance.

[2019-06-18 15:36] javiereguiluz commented on #32073
Alexander, thanks a lot for creating this issue and providing so many detailed resources. The profile comparison is quite telling. Before trying to implement this feature, let's wait a bit and see if someone can come up with a potential problem for introducing this cache.

[2019-06-18 15:57] KDederichs opened #32086 "Symfony\Bridge\PhpUnit\Legacy\CoverageListenerForV6 deprecation"
**Symfony version(s) affected**: 4.3.x

**Description**
[code]

**How to reproduce**
Run a test with ```Symfony\Bridge\PhpUnit\CoverageListener``` on PhpUnit V6

**Possible Solution**
Use the Trait instead of extending the Class

[2019-06-18 16:28] nicolas-grekas commented on #31765
Dotenv is configured in config/bootstrap.php
For using references to env vars, see https://symfony.com/doc/current/configuration.html#config-env-vars

[2019-06-18 16:38] zim32 opened #32087 "Can not provide explicit argument when autowire"
**Symfony version(s) affected**: 4

**Description**
Hey guys, really annoying DI stuff. Spend three hours with no success.

I have separate file config/packages/custom_security.yml
which I imported from config/services.yaml like this

[code]

Content of config/packages/custom_security.yml:

[code]

But got error:

**Cannot autowire service "App\Security\LdapUserProviderAdapter": argument "$passwor

[2019-06-18 17:16] igordmed opened #32088 "Error with dispatching messages for AMQP transport using Symfony Messenger"
**Symfony version(s) affected**: 4.3.1

**Description**
An error is being thrown when dispatching a message using the MessageBus from Symfony Messenger. Everything is properly configured since it was working with no problems with this in the previous 4.2.8 version of the component. The error began when I updated Symfony (with all dependencies) to 4.3.1.

The error is:

`Too few arguments to functi

[2019-06-18 17:45] weaverryan commented on #32070
FYI we’ve disabled auto-mapping in the recipe for now.

[2019-06-18 17:57] dunglas commented on #32070
I’ll work on patch tonight. I also agree it qualifies as a bug fix.
Regarding PropertyInfo, a quick fix is to add it as a dependencies or the validator-pack.

[2019-06-18 18:07] xabbuh commented on #32087
The service definition created by loading your `custom_security.yml` file is probably overridden by the PSR-4 based resource in your main `services.yaml` file. Your either need to exclude your class there or move the definition to the main file.

[2019-06-18 18:54] xabbuh commented on #32088
Can you publish an application that allows us to reproduce the issue?

[2019-06-18 19:34] xabbuh commented on #31969
Do we need to consider to add support for this as a bugfix? PSR-14 declares that listener providers (event subscribers in the EventDispatcher component) must treat parent types identically to child classes:

see https://www.php-fig.org/psr/psr-14/#listener-provider

[2019-06-18 19:42] nicolas-grekas commented on #31969
We don't implement ListenerProviderInterface

[2019-06-18 19:46] nicolas-grekas commented on #31969
(and I'm not sure this sentence in PSR 14 means that also - it's more about LSP to me)

[2019-06-18 19:47] jakemalachowski opened #32089 "[Filesystem] mirror() incorrectly skips files when copying from a child directory to a parent directory"
**Symfony version(s) affected**: 4.3+

**Description**
When trying to mirror a child dir into a parent dir, a check in `mirror()` causes all file copies to be skipped.

**How to reproduce**
[code]

[2019-06-18 22:52] lugus opened #32091 "[HttpClient] Can not set json default option"
**Symfony version(s) affected**: 4.3.1

**Description**
As i understand the documentation, it should be possible to create a http client with a default json parameter, and then make a request with others json parameters. But it's actually throwing an error: `Unsupported option "json" passed to Symfony\Component\HttpClient\CurlHttpClient` (Symfony\Component\HttpClient\HttpClientTrait::prepareReques

[2019-06-18 23:12] elliottpost commented on #29952
I've been getting similar issues over the last few weeks:

`PHP Warning:  sem_remove(): SysV semaphore 140711371240096 does not (any longer) exist in /var/www/app.fisheyephub.com/app/vendor/symfony/lock/Store/SemaphoreStore.php on line 95`

I'm uncertain if it's related, but it's also from a cronjob running a command that uses the `Lockable` trait. Here's the cronjob task that executes the script:

[2019-06-19 00:16] Tobion commented on #32055
@weaverryan you are right. Our custom serializer didn't throw a `MessageDecodingFailedException`. Using that errors in serialization are handled correctly. But there is still room for improvments:

1. Serialization errors could use the `failed` transport to keep track of them
2. We should still handle `\AMQPEnvelope::isRedelivery` as explained above. There can be alot of reasons for this to happen

[2019-06-19 06:22] Simperfit commented on #31391
@crtl could you try what @mdeboer suggested ?

[2019-06-19 07:28] fbourigault opened #32093 "[RFC][DotEnv] Move Flex dump-env command to DotEnv component"
I would suggest to move the dump-env command from Flex to the DotEnv component as a standalone executable.

By doing so, anybody using the DotEnv standalone component would be able to use the dumped environment feature.

Also the `symfony:dump-env` could proxy to the component script to keep the current behavior and DX.

WDYT?

[2019-06-19 09:04] stof commented on #32091
This would not help anyway, even if CurlHttpClient would support `json` as a default options, because options are not deep merged with the defaults (which would be a pain if you actually want to override an option). So your example would still send only the `param2` in the JSON.

[2019-06-19 09:30] apfelbox commented on #32093
Doesn't this create a circular dependency in case you changed something in your Dotfile?

As the symfony command would itself use symfony for dumping the vars, it might run into problems. By being a composer command it is decoupled from Symfony, which is a good thing (in this case).

A solution would be to add the command as standalone executable.

[2019-06-19 09:59] BoShurik commented on #32087
I update `Kernel.php`
[code]
And put all custom services in `/config/services` dir so they rewrite autowired ones. As standard `services.yaml` may be too complicated when app is growing.
Maybe it worth to add this to the recipe?

[2019-06-19 10:46] speller opened #32095 "[HttpFoundation] Mistyped Request forwarded headers config?"
**Symfony version(s) affected**: HttpFoundation component, current master branch.

**Description**
The `Request` class has the following definition:
[code]

I'm curious about the last array element HEADER_X_FORWARDED_PORT. The constant name is **PORT**, but its value is **host**. Is it a mistake?

[2019-06-19 10:55] nicolas-grekas commented on #32095
I understand it's surprising, but that's on purpose.

[2019-06-19 10:55] #32095 closed

[2019-06-19 11:36] fbourigault commented on #32093
That's what I'm thinking about. Just forgot to write it down!

[2019-06-19 11:55] toby-griffiths opened #32097 ""Twig extension not enabled" error, even when extension functions are being found"
**Symfony version(s) affected**: 4.2.2

**Description**
I've created an extension that include the `admin_menu()` function, and the autowiring is working to the extent that twig is not reporting that the `admin_menu()` function doesn't exist (which happens if I remove the parent class), however Twig it then reporting `extension is not enabled`, for some reason

**How to reproduce**
[code]

… and d

[2019-06-19 11:57] xabbuh commented on #32097
I am not sure I understand your issue. Which parent class are you talking about?

[2019-06-19 12:30] xabbuh commented on #31987
@saravpreet Did you find some time to create an example application?

[2019-06-19 12:31] xabbuh commented on #31934
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-06-19 12:31] #31934 closed

[2019-06-19 12:32] xabbuh commented on #31361
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-06-19 12:32] #31361 closed

[2019-06-19 12:32] xabbuh commented on #29014
Did anyone manage to provide an example application?

[2019-06-19 13:46] weaverryan commented on #32055
Ok, let's break this down so we can see what actionable things we can do.

That seems reasonable... we would basically "fail" in the same way that an exception from a handler. So, by default, it would fail 3 times, then go to the failure queue. This also would solve item (3) I believe: if exceptions from deserialization are handled the same as exceptions from handlers, then the worker would not ex

[2019-06-19 13:53] weaverryan commented on #32070
We would need to create that pack too :). But, looking into it, I don't think that any of the Symfony components directly require `symfony/validator`. This means that, at some point, to get validation, the user needs to run `composer require ...` in order to get the validator. This is a good things: it means that a pack will work: we can direct the user to run `composer require validato` to get th

[2019-06-19 13:55] lyrixx commented on #32084
Hello. I checked and I can not found a bug.

I tried to reproduce it with https://github.com/lyrixx/SFLive-Paris2016-Workflow
I hit a bug, but legit since I hardcoded `{{ article.marking }}` in my template.
Once I update the template, everything goes fine.
I think you have the same issue in your code :)

I'm gonna clos this issue because there a no issue to me.
But If you thing there is, please gi

[2019-06-19 13:55] #32084 closed

[2019-06-19 14:12] tacman opened #32098 "[Console] Allow Piping responses to Helper ask() method"
**Description**
Helper ask() method should accept piped input

**Example**

    "Dummy -a" | bin/console make:entity --no-interaction

should create the Dummy entity and repository

    "code\nstring\n32\nyes\n" | bin/console make:entity Dummy

Should add a field $code annotated as nullable string(32) to an existing Dummy entity.

     bin/console make:entity Dummy < new_fields.txt

should create

[2019-06-19 14:31] zim32 commented on #32087
I think this behavior is not intuitive.. Maybe some warning must be given..

[2019-06-19 14:51] weaverryan commented on #30765
This seems very reasonable to me, and a nice small (though still complex with BC) step. This will successfully separate two different concepts:

1) `AuthenticationRequestTokenInterface` - simply an object that holds whatever "credentials" that an authentication listener has "grabbed". This is ultimately passed to the authentication provider (specifically `AuthenticationManagerInterface::authentica

[2019-06-19 16:09] Simperfit commented on #32097
@toby-griffiths could you please past the whole service.yaml ?

[2019-06-19 16:30] Simperfit commented on #32043
@tristanbes could you please test the linked PR ? it will not be a strange error but something more linked to what really happen, maybe you could add a log on the response content to see what is the html returned by mailgun ?

[2019-06-19 16:41] Simperfit commented on #30263
@nallias do you use api-platform or fosrestbundle ?

[2019-06-19 16:45] Simperfit commented on #28577
@xabbuh is this still a bug ?

[2019-06-19 16:48] xabbuh commented on #28577
I think so.

[2019-06-19 18:02] eXtreme commented on #32069
By looking at https://github.com/yceruto/symfony-skeleton-vkernel/blob/master/src/VirtualKernel.php (from a "virtual kernel" sketelon app) the solution could be to just add a kernel name prefix directory for cache (so `var/cache/app/...` and `var/cache/api/...`) which solves the problem by separating kernel caches. I'm fine with that TBH.

And when I look at the docs now, I see that the same thing

[2019-06-19 18:10] igordmed commented on #32088
Sorry for the wait! Actually, I managed to fix the odd behavior but updating the messenger dependencies with `composer update messenger --with-dependencies`. Maybe some composer configuration didn't to it properly before, or it was a weird package conflict. Sorry for don't be able to track exactly what happened.

I was trying to duplicate the application I'm working on to link it here but the depe

[2019-06-19 18:21] COil commented on #32045
hi Xabbuh. So, what's your suggestion? I can try to debug this tomorrow.

Why FileType doesn't use the public constants of File for translations?

How to pass the translator object to the file type? The translator object is null, that's why the message isn't translated.

Someone had the same the same problem :

* https://stackoverflow.com/q/56463087/633864

[2019-06-19 18:22] xabbuh commented on #32088
Thank you for the feedback. Let's close here then.

[2019-06-19 18:22] #32088 closed

[2019-06-19 19:09] sr-hosseyni opened #32105 "Ability to get stream resource in CsvEncoder instead of reading entire file in memory"
**Description**
In [CsvEncoder](https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Serializer/Encoder/CsvEncoder.php#L110), Encode method is reading generated data from temp file and return it as a string, In case if the data be too large it may be horrible work
It will be ideal if the developer be able to have another choice to get the resource of the file (file handle)

**Example*

[2019-06-19 19:30] arirangz commented on #19658
Is there a way to limit the profiler storage?
Setting a lifetime or a profile limit? I can't find anything in the documentation or in the code itself.

My var/cache/profiler/ folder is getting huge not clearing previous profiles.

Thanks!

[2019-06-19 19:31] xabbuh commented on #32087
Can you please open an issue in the [documentation repository](https://github.com/symfony/symfony-docs) if you think that the documentation can be improved in some way? I am going to close here as the code is working as expected. Thank you for understanding.

[2019-06-19 19:31] #32087 closed

[2019-06-19 20:44] dunglas commented on #32070
Another alternative is to make `property-info` a hard dependency of `validator`. It's maybe not so stupid after all.

[2019-06-19 23:38] mleczakm opened #32108 "[BC][Config][Security] No ability to use env variables in security config after update to SF 4.3"
**Symfony version(s) affected**: 4.3

**Description**
After update to SF 4.3 apps with environment variables use in security config part stops working, because of this https://github.com/symfony/symfony/commit/857ac9519e1e5545de4d2eef81af52f6fde62d7e

**How to reproduce**
Use env variable in security access control, for example:
[code]
For versions below 4.3 it works as expected, on 4.3 exception

[2019-06-20 01:47] Tobion commented on #32055
Yes the flow is described correctly. Trying to answer your questions:

- (A) That's a tough question. We don't really know if it was handled. It could be handled but just the ack to rabbitmq didn't work. Or it was handled party and then failed and then the nack didn't work either. This undecidable problem is also in the retry. We retry the full message handling. But maybe only part of it failed an

[2019-06-20 03:03] hacktivista commented on #31987
Same error for me. Indeed you are expecting to have the session active on line 203 and setting an ini file on line 212.

https://github.com/symfony/symfony/blob/3ed6f51b12ef91e87efb90379250f6b3d3a7da60/src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php#L203-L212

[2019-06-20 04:55] saravpreet commented on #31987
Calling migrate method in https://github.com/symfony/symfony/blob/4.3/src/Symfony/Component/HttpFoundation/Session/Session.php

also throws this error. Migrate method call $this->storage->regenerate($destroy, $lifetime);

[2019-06-20 06:23] fabpot commented on #19658
As this is a dev tool, there is nothing like that, just clear the cache.

[2019-06-20 06:40] nallias commented on #30263
@Simperfit I know neither of them, nor do they appear in app/AppKernel.php nor in vendor/

[2019-06-20 07:43] mleczakm commented on #32108
Looks like this validation added https://github.com/symfony/symfony/commit/857ac9519e1e5545de4d2eef81af52f6fde62d7e disabled env support, even when default env value is provided.

[2019-06-20 07:46] Simperfit commented on #32108
@mleczakm do you want to look on how you can re-enable env support but still validating this ? maybe with something that will transform the env value before it being denormalized ?

[2019-06-20 07:49] xabbuh commented on #32108
I am already working on a fix.

[2019-06-20 07:53] maidmaid opened #32111 "The server:log command does not show logs"
**Symfony version(s) affected**: 4.2

**Description**
The logs are not shown while we launch `server:log`. The only way to show them is to add `-vvv` option.

**How to reproduce**

[code]

And run `server:log`.

**Possible Solution**

The ConsoleHandler checks the verbosity level. By default the normal verbosity maps to the warning level log. IMO, the `--filter` option should be the only one respo

[2019-06-20 08:31] javiereguiluz commented on #32105
Related to #19238 I think.

[2019-06-20 08:32] noniagriconomie opened #32113 "[RFC] Profiling process on symfony core"
Hi

I recently saw this one https://github.com/symfony/symfony/pull/31991

I would like to know if there is a “profiling process” in the sf core codebase by the core team to monitor/track the feature/bug fix additon

I would really know if there is one, how it is working

if none exists, would it be great to have like an online hackathon for this?

thank you

EDIT : fyi i have openend this discuss

[2019-06-20 08:34] noniagriconomie commented on #32113
[code]

[2019-06-20 08:43] arirangz commented on #19658
Hi Fabpot,

Thanks for your answer.

I understand that as a dev tool options are limited but still it's annoying to have the profiler folder taking 40go after few days without clearing the cache.

Is there a way to use the dev bar but without storing previous profiles, only the current one?

[2019-06-20 08:54] javiereguiluz commented on #32113
The summary of the proposal:

Could we create some benchmarks for some performance-critical features ... and run those benchmarks as part of the release process ... to ensure that new versions don't introduce performance regressions?

[2019-06-20 09:18] noniagriconomie commented on #32113
@javiereguiluz as well as maybe propose some hackathon/ documentation on how to profile symfony for the community?
i mean, there are 2 things actually: feature and bug, so is there someone/something who/which unsure both are ok in regard of the perf, etc

[2019-06-20 09:49] jlhernandez opened #32114 "[Serializer] XML deserialization with MetadataAwareNameConverter and optional xml attributes fails if attributes are not present"
**Symfony version(s) affected**: ^4.3

**Description**
I am using Symfony Serializer to deserialize complex XML documents into custom objects. Some XML nodes have optional attributes that may be present or not.

For example, the "price" node can have a "currency" attribute or not:
  `<price currency="EUR">66</price>`
 or
  `<price>55</price>`
 are both valid.

I am using MetadataAwareNameConverter

[2019-06-20 09:54] xabbuh commented on #32108
Does #32115 help?

[2019-06-20 09:55] GregRbs92 commented on #32072
I was not actually expecting a huge difference between ```getArrayResult()``` and ```getResult()```. I just gave a try to ```getArrayResult()``` for typing pupose, thinking that it would type my variable as an array and that it would contain the instances of the object as ```getResult()``` would.

[2019-06-20 09:59] COil commented on #32045
Why FileType doesn't use the public constants of File for translations?

[2019-06-20 10:01] COil commented on #32045
https://stackoverflow.com/questions/56463087/use-translator-with-filetype

[2019-06-20 10:06] xabbuh commented on #32072
I suggest to stick with `getResult()` then. `getArrayResult()` is actually different in that it does not return an array of objects but an array of arrays (see also https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/dql-doctrine-query-language.html#hydration-modes). I am closing here as there is nothing to fix. Thank you for understanding.

[2019-06-20 10:06] #32072 closed

[2019-06-20 10:17] GregRbs92 commented on #32072
Ok I did not know that ```getArrayResult()``` was using a different hydratation mode indeed. Thank you for your quick answer and your explanation.

[2019-06-20 10:23] xabbuh commented on #32045
@COil I found out why the translation didn't happen (see #32116).

Though I have no idea yet how to prevent the double error message.

[2019-06-20 10:27] AirBair commented on #32084
Hello,

I was able to reproduce the same error on your demo project but but I think it comes from a misunderstanding on my side about the default behavior.

I did not set the attribute '_type'_ under _'marking_store'_ and thought that the default value was _'method'_ since the other two (_'single_state'_ & _'multiple_state'_) are deprecated.

But it seems that _'single_state'_ is still the default

[2019-06-20 10:36] mleczakm commented on #32108
I'm pretty sure it will, big thanks to You :+1: :1st_place_medal:, but I have no idea how to try it with current code without editing vendors manually.

[2019-06-20 10:37] Nyholm opened #32117 "[Messenger] Create a MessageEncodingFailedException"
We currently have a `MessageDecodingFailedException` when the messenger's serializer fails decoding message. But we have not exception thrown when encoding fails.

I suggest to create a `MessageEncodingFailedException`.

(btw, Im currently writing a serializer)

[2019-06-20 11:19] #32108 closed

[2019-06-20 11:26] xabbuh commented on #32108
@mleczakm You can try `4.3.*@dev` now. :)

[2019-06-20 11:48] lyrixx commented on #32084
Actually, `type` and `property` could not work together.
It's document in the [upgrade file](https://github.com/symfony/symfony/blob/4.4/UPGRADE-4.3.md#workflow):

---

 * `MultipleStateMarkingStore` is deprecated. Use `MethodMarkingStore` instead.

   Before:
[code]

   After:
[code]

 * `SingleStateMarkingStore` is deprecated. Use `MethodMarkingStore` instead.

   Before:
[code]

   After:
[code

[2019-06-20 12:18] Tobion commented on #32117
The purpose of the MesseDecodingFailedException is clear at the moment, see https://github.com/symfony/symfony/issues/32055#issuecomment-502687461
What's the purpose of a `MessageEncodingFailedException`

[2019-06-20 12:24] COil commented on #32045
@xabbuh  there is also an error in the translation domain :

Sould be :

    $message = $this->translator->trans($messageTemplate, $messageParameters, 'validators');

in FileType.php.

[2019-06-20 14:10] charlyox commented on #18998
Have same issue on SF 2.6, when orphanRemoval="true" was set on parent's oneToMany attribute. Had to set one of the child collection fields to read_only instead of disabled.

[2019-06-20 14:44] saravpreet commented on #31987
My php -v
`PHP 7.2.19-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: May 31 2019 11:16:55) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies`

For sample application:

composer create-project symfony/http-foundation test
cd test
make a test.php with following content:
`
<?php
use Symfony\Component\HttpFoundation\Session\Session;

require 'ven

[2019-06-20 14:45] awdwad45456 opened #32118 "User gets into dead end when following basic tutorials"
**Symfony version(s) affected**: 4.3.1

**Description**
User runs into `Integrity constraint violation: 1048 Column 'api_token' cannot be null` when following 3 tutorials.

**How to reproduce**
1. https://symfony.com/doc/current/setup.html end at `symfony server:start`
2. https://symfony.com/doc/current/security/guard_authentication.html end after filling in security.yaml
3 .https://symfony.com/do

[2019-06-20 15:07] saravpreet commented on #31987
Create a new file test2.php with the following code and run it php test2.php also produce the  above error
[code]

[2019-06-20 15:56] rbaarsma opened #32120 "UPGRADE to Symfony 4.3 missing helpful documentation"
I had lots of deprecation warnings for twig engine being deprecated and other twig-related stuff that I wasn't using in my code. I have a pretty simple Symfony 4.2 (standardly installed with symfony flex) project and had a hard time locating the source of the problem.

Turns out that in the `framework.yaml` file (`config/packages` dir), from Symfony 4.2 there's still this part:

[code]

Removing t

[2019-06-20 18:38] Simperfit commented on #32120
@rbaarsma I think this is missing from #21035 do you want to add it ?

Status: Reviewed

[2019-06-20 19:26] Simperfit commented on #31789
WDYT @fabpot can we implement this ?

[2019-06-20 19:28] Simperfit commented on #31520
Do we want to implement this ?

[2019-06-20 19:39] tranthienbinh1989 commented on #29772
I got the same issue and it was fixed by removing enable: true

[2019-06-20 19:53] nicolas-grekas commented on #31520
If there is no real world use case, I don't think so, especially because it's pretty reasonable to do it already.

[2019-06-20 19:53] #31520 closed

[2019-06-20 20:03] Simperfit commented on #31422
@czechmarcin do you want to work on this ?

[2019-06-20 20:07] Simperfit commented on #31388
@nicolas-grekas I don't see the use case either.

[2019-06-20 20:09] Simperfit commented on #31268
2 month later, do we want to implement it ?

[2019-06-20 20:10] kiler129 commented on #31789
I will be happy to add this if @fabpot / @nicolas-grekas like the idea :)

[2019-06-20 20:50] yceruto opened #32124 "[Form][BC break] Decimal fields cannot be type-hinted as float"
**Symfony version(s) affected**: 4.3

**Description**
I have the follow entity and field definition:
[code]
and a form field whose "type" is being guessed by `DoctrineOrmTypeGuesser`:
[code]
this works well before 4.3, but after upgrade this app, when the form is being built, this error appears:

**Possible Solution**
It will depend on the right way of type-hinting `decimal` fields.

Even if https

[2019-06-20 21:17] xabbuh commented on #32124
This looks like the same as #31905. While I still think that using `float` as the type here is a mistake I think it does not hurt if we relax the `StringToFloatTransformer` (see #32125).

[2019-06-20 21:21] yceruto commented on #32124
Is this the right way to work around the Doctrine's change detection issue in the model side? '8.000' -> '8.000':
[code]
If we use `float` would incur in the same problem '8.000' -> 8,
but then it looks like a wrong type from the design point of view.

[2019-06-20 21:26] xabbuh commented on #32124
@yceruto Yes, that looks good. If you debug your former code, you should be able to see that the `$price` property is a string and not a float when the object is populated by Doctrine based on the data stored in the database.

[2019-06-20 21:29] xabbuh commented on #31905
See #32125 where we try to relax the data transformer. Does that help here?

[2019-06-20 21:47] ricohumme commented on #31905
I think this will do the trick. Let me test this tomorrow

[2019-06-21 06:23] fabpot commented on #31422
We decided to not make this configurable when we implemented it. I still think that we should not expose this. I don't have the issue/PR right now as I'm on my phone, but it should be easy to find it.

[2019-06-21 06:24] fabpot commented on #31388
Closing as there is no more activity here.

[2019-06-21 06:24] #31388 closed

[2019-06-21 08:29] fabstei opened #32127 "[HTTPClient] 20+ seconds delay on getContent()"
**Symfony version(s) affected**: 4.3.1

**Description**
I'm calling an external API to get accounts. With HTTPClient the request takes 25+ seconds - running it with [Paw](https://paw.cloud/) (a Postman alternative) takes less than a second, so I'm rather sure that it's my code and not the API. This is my code:

Controller
[code]

Service
[code]

Checking with XDebug it "hangs" when I run ->getCont

[2019-06-21 08:44] nesk commented on #28229
@chalasr Sorry to insist, but why the patch has been reverted? What was wrong with it and what can we do to help fix this really annoying issue?

[2019-06-21 09:14] linaori commented on #32118
For documentation issues you can use https://github.com/symfony/symfony-docs

I don't see anything referencing to `api_token` in the 3 pages you've linked though.

[2019-06-21 09:14] czechmarcin commented on #31422
https://github.com/symfony/symfony/pull/15670 - this conversation makes it clear that it won't be implemented. If I have the regarded solution, I will create the PR.
I'm closing this issue. Thank you for the feedback

[2019-06-21 09:14] #31422 closed

[2019-06-21 09:54] wadjeroudi commented on #20262
@xabbuh @stof @ro0NL are you sure that with php 7 changes on error exception / throwable we can't catch the E_WARNING ?

[2019-06-21 09:56] xabbuh commented on #20262
@wadjeroudi Would you like to give it a try?

[2019-06-21 10:31] wadjeroudi commented on #20262
@xabbuh just tried, php 7 didn't improve anything on errors before script execution, but there's a solution that symfony already uses register_shutdown_function

but symfony doesn't log e_warning errors :
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Debug/ErrorHandler.php#L637

[2019-06-21 14:21] Art4 opened #32132 "False-positive ServiceCircularReferenceException is thrown with Decorator"
**Symfony version(s) affected**: 3.4.28

**Description**
I'm building a Decorator for an existing class that needs to implement an interface. In the `__construct()` method I'm typehinting for the same interface.

This leads to a `Symfony\Component\DependencyInjection\Exception\ServiceCircularReferenceException`.

**How to reproduce**

Create two files with the decorator and the interface:

[code]

[2019-06-21 15:02] xabbuh commented on #32132
How did you set up your service config? Did you add any custom config? Is this the only class implementing the interface?

[2019-06-21 15:56] piotrooo commented on #32080
@javiereguiluz any info about this?

[2019-06-21 17:09] zied-ellouze opened #32134 "must be an instance of TraceableAdapter, instance of MemcachedAdapter given"
**Symfony version(s) affected**: 4.2.4

**Description**
I have this error " Argument 2 passed to App\Repository\xxxxxRepository::__construct()
  must be an instance of Symfony\Component\Cache\Adapter\TraceableAdapter, in
  stance of Symfony\Component\Cache\Adapter\MemcachedAdapter given, called in
   /var/www/html/symfony/var/cache/ppd/ContainerFVa8dFa/getxxxxxRepos
  itoryService.php on line 16"

[2019-06-21 17:45] quantumlord42 commented on #29746
I am able to reproduce this issue using MacOS Mojave (10.14.5) Terminal set to use xterm-256color with a height of 40 rows by using just the Symfony Console component version 4.3 without the full stack. I encountered the issue while using output sections and not in conjunction with tables.

**How I Encountered the Issue**
I encountering the issue by using multiple, initially 2, sections and needin

[2019-06-21 18:10] robob4him commented on #25738
Why would the form be invalid with that logic? Validation is the current state + sum of the children's state. Why would errors be any different? "getErrors()" is the explanation to the validity state. IMO this method started out as a bug.

@yarcowang If that works that would be AMAZ-sauce.

[2019-06-21 18:18] robob4him commented on #32120
Many thanks, @rbaarsma. That was driving me crazy.

[2019-06-21 18:28] javiereguiluz commented on #32080
I'm sorry but I don't know the Serializer component much, so we should wait for other people opinions.

[2019-06-21 19:07] JohnstonCode opened #32135 "Route annotation producing broken paths"
**Symfony version(s) affected**: 4.3.1

**Description**
Routes generated using annotations are broken
`@Route("/test", name="test")` is coming out as `<href=>/test` when i do `bin/console debug:router`

**How to reproduce**
Create a new app using ` composer create-project symfony/website-skeleton my-project`
Create a controller using `bin/console make:controller`
Run `bin/console debug:router`

**

[2019-06-21 19:08] #32135 closed

[2019-06-21 20:24] xabbuh commented on #32134
It looks you type-hinted an argument of your class constructor with `TraceableAdapter` which is not used in the `prod` environment. Changing the type-hint to `Symfony\Component\Cache\Adapter\AdapterInterface`, `Symfony\Contracts\Cache\CacheInterface`, or `Psr\Cache\CacheItemPoolInterface` should solve the issue.

[2019-06-21 20:35] Simperfit commented on #32127
Are you using curl ?
Could you maybe make a blackfire profile ?

[2019-06-21 20:37] xabbuh commented on #32118
I am closing here as this repository is indeed only for the Symfony code. Thank you for understanding.

On a side note, I think the confusion comes from mixing both articles. The first one is for protecting an API, the second one is about traditional login forms. If you want to combine both approaches, you will need to make some adjustments I guess. But please leave some feedback in the [documenta

[2019-06-21 20:37] #32118 closed

[2019-06-21 20:58] Simperfit commented on #31113
Someone would like to take this ? I don't see how we can fix it in the Session class.

[2019-06-21 20:59] Simperfit commented on #30750
@lbayerl Can you please check what  @Raulnet said ?

[2019-06-21 21:00] Simperfit commented on #30692
@kiler129 do you want to implement this ?

[2019-06-21 21:01] Simperfit commented on #30682
@ro0NL what do you mean ?

[2019-06-21 21:02] Simperfit commented on #30665
@ro0NL can you add a failling test ?

[2019-06-21 21:24] Simperfit commented on #30488
Do we really need to do something about this ?

[2019-06-21 21:29] Simperfit commented on #30460
@ilyachase The point is, why don't you use monolog for this ? since you can pretty much log anything ?
I don't see why it would be better to reimplement something that monolog is doing greatly with the vardumper and with error_log ?

[2019-06-21 22:25] Nyholm commented on #32117
If my custom serializer fails to encode a message, then I have only `\RuntimeException` that I can throw.
Then transports can catch `MessageEncodingFailedException` to maybe try handle it. Ie, try a different serializer.

[2019-06-21 23:15] Tobion commented on #32117
You can throw any exception. Currently SF messenger does not handle any exception when encoding. We should only add explicit exceptions if they are actually used in some way for a certain behavior. So I'm 👎 at the moment.

[2019-06-22 04:00] ro0NL commented on #30682
There's a difference between registering a bag on the storage vs. on the session.

When registering a bag on the session it get's wrapped:

https://github.com/symfony/symfony/blob/3bbf9da47bdf79d175f84a9a9c73a5d7d4f66beb/src/Symfony/Component/HttpFoundation/Session/Session.php#L246-L249

When you register thru `MockArraySessionStorage` it's not wrapped, however we call `getBag($name)->getBag()` fr

[2019-06-22 04:07] #31113 closed

[2019-06-22 04:10] nicolas-grekas commented on #32127
Can you please describe the outcome? What does "it hangs" mean in the end? It works but it's slow? It throws an exception? Would you be able to provide a reproducer? The code excerpt above are just normal code so there's zero hint right now.

[2019-06-22 04:10] #32134 closed

[2019-06-22 04:11] nicolas-grekas commented on #30460
A global function won't ever be accepted. Use a logger object instead.

[2019-06-22 04:11] #30460 closed

[2019-06-22 04:28] fabstei commented on #32127
It works but it's slow - minimum 20 seconds. There's no exception and the expected result gets returned. I'll try to set up blackfire and will report back.

[2019-06-22 04:47] nicolas-grekas commented on #32127
It would be useful also to share the result of dumping $response->getInfo() and getInfo('debug') too. Thanks.

[2019-06-22 04:55] nicolas-grekas commented on #30665
Can't reproduce.

[2019-06-22 05:18] ro0NL commented on #30665
See https://github.com/ro0NL/symfony-issue-30665

Run `bin/console boo`

![image](https://user-images.githubusercontent.com/1047696/59959771-e3050e80-94bd-11e9-80de-ff3ea325a539.png)

[2019-06-22 05:20] ro0NL commented on #30665
[code]

For what it's worth :)

[2019-06-22 05:23] fabstei commented on #32127
The output of getInfo and getInfo('debug') is here: https://gist.github.com/fabstei/d4c18453454690d5ccb921ba15648ce9

[2019-06-22 05:28] nicolas-grekas commented on #30665
Issue of your terminal, if it's phpstorm they're already working on it. Otherwise we can disable links if there is an env var that allows detecting your particular flavor.

[2019-06-22 05:29] nicolas-grekas commented on #32127
Please call these *after* the response completed.

[2019-06-22 05:38] fabstei commented on #32127
Silly - sorry about that. Here's the updated gist: https://gist.github.com/fabstei/d4c18453454690d5ccb921ba15648ce9

[2019-06-22 05:39] ro0NL commented on #30665
Ah i see, 4.2 doesn't have links at all. Clear :)

Im using GNOME Terminal, regular Ubunutu 16.04 AFAIK :thinking:

[2019-06-22 05:39] fabstei commented on #32127
I also tried to run Blackfire, but it does not seem to include this lengthy API call somehow:

![Screenshot 2019-06-22 07 30 52](https://user-images.githubusercontent.com/1098434/59959965-db933480-94c0-11e9-8485-4dac77f123ea.png)

[2019-06-22 05:42] ro0NL commented on #30665
`echo "https://symfony.com"` works :sweat_smile:

[2019-06-22 05:51] ro0NL commented on #30665
Reading https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda i think my terminal is too old :(

im using 3.18

Let me compare monday on ubuntu 18.04 :)

[2019-06-22 06:11] Simperfit commented on #30665
Ill check on mine this morning ;).

Le sam. 22 juin 2019 à 07:51, Roland Franssen <notifications@github.com> a
écrit :

[2019-06-22 06:13] Simperfit commented on #30682
Ok I understand now ! I think that’s a good idea ! I think the only way to
be sure is by making a PR and see of people agree with you ;). ( I do)

Le sam. 22 juin 2019 à 06:00, Roland Franssen <notifications@github.com> a
écrit :

[2019-06-22 06:35] ilyachase commented on #30460
@nicolas-grekas oh really? Seems that you are completely out of context.
`https://github.com/symfony/var-dumper/blob/master/VarDumper.php#L19`
`https://github.com/symfony/var-dumper/blob/master/Resources/functions/dump.php#L14`

[2019-06-22 06:59] ilyachase commented on #30460
I don't use monolog for what? Follow carefully:
1. There is `symfony/var-dumper` exists for some reason and purpose (I assume for dumping some data during development).
2. I use it just for this purpose. I don't need it on production. I don't need monolog, I don't need `dump` functions in my source code. Having `symfony/var-dumper` in my `dev-requirements` in composer i just enough.
3. Right now `

[2019-06-22 07:47] nicolas-grekas commented on #32127
Did you redact the IP?
But the issue is pretty clear:
 "namelookup_time" => 22.063046

Your local DNS resolver is slow.

[2019-06-22 07:54] fabstei commented on #32127
Yes, I redacted URLs and IPs.

Shouldn't the local DNS resolver also affect my lookups with Paw? They are <1s.

I'll try to look into debugging the DNS resolver.

[2019-06-22 08:07] #28677 closed

[2019-06-22 08:26] #31905 closed

[2019-06-22 08:26] #32124 closed

[2019-06-22 08:38] #19329 closed

[2019-06-22 08:38] #28873 closed

[2019-06-22 08:47] Simperfit commented on #32127
Maybe Paw has it's own dns resolver or does not use the same dns servers ?

[2019-06-22 08:57] Simperfit commented on #32089
@jakemalachowski do you want to fix this ?

[2019-06-22 09:33] ro0NL commented on #30665
updated to 1804 in the meanwhile :joy:  (i was planning to do so anyway)

looks all good now :+1:

![image](https://user-images.githubusercontent.com/1047696/59962124-7d2a7e00-94e1-11e9-8c28-07560ed10b80.png)

(GNOME Terminal 3.28.2)

Closing for now, not sure there's anything worth to do here.

[2019-06-22 09:33] #30665 closed

[2019-06-22 11:57] Art4 commented on #32132
I've updated the issue description. I can reproduce this issue with a fresh symfony installation without any config changes. And yes, this is the only class implementing the interface.

[2019-06-22 18:42] Oryss commented on #32018
I have the same issue and I can't fix it

My composer.json :
`{
    "type": "project",
    "license": "proprietary",
    "require": {
        "php": "^7.3.0",
        "ext-ctype": "*",
        "ext-iconv": "*",
        "doctrine/annotations": "^1.6",
        "elasticsearch/elasticsearch": "6.0.1",
        "exercise/htmlpurifier-bundle": "^2.0",
        "fzaninotto/faker": "^1.8",
        "interven

[2019-06-22 18:55] Art4 commented on #32132
As a workaround I have to remove the type hinting:

[code]

I assume the problem is in the autowiring.

[2019-06-22 19:48] xabbuh commented on #32132
If the service cannot be built, you need to exclude it from the PSR-4 resource loader:

[code]

[2019-06-22 20:14] xabbuh commented on #30682
I agree with the reasoning here, see #32137

[2019-06-22 22:19] #32009 closed

[2019-06-23 09:04] Nyholm opened #32139 "[Cache] Cannot configure chain adapter"
**Symfony version(s) affected**: 3.4.x

**Description**
When trying to configure a cache `ChainAdapter` I get the following error:
[code]

If I look in my container dump I see the following:
[code]

**How to reproduce**

[code]
Add the following contents to `cache.yaml`:

[code]

**Possible Solution**
I've debugged some but I cannot figure out a good solution nor the cause.

[2019-06-23 09:32] xabbuh commented on #32089
see #32138 for a fix

[2019-06-23 10:20] xabbuh commented on #30460
@ilyachase It is not clear to me what this feature request is about. First you were talking about logging. In regard to this I agree with @nicholasgrekas that it's probably not going to happen that we will add a global function related to it as there already is PSR-3 and Monolog which is much more powerful. Now you were also talking about switching between `CliDumper` and `HtmlDumper`. Can you cla

[2019-06-23 10:23] ilyachase commented on #30460
@xabbuh  I'm sorry that it wasn't clear from my initial message, but I described my idea more carefully in previous message.

[2019-06-23 11:08] xabbuh commented on #30460
Since #25125 you control the formatter to be used with the `VAR_DUMPER_FORMAT` environment variable. Doesn't that solve the issue?

[2019-06-23 11:11] ilyachase commented on #30460
@xabbuh no. From the box you have helper functions like "just dump", "dump and die", but for dumping in stderr you must `VAR_DUMPER_FORMAT` every time?

[2019-06-23 11:21] xabbuh commented on #30460
You can easily write one yourself a function that populates the environment variable and calls `dump()` or `dd()` then if you find yourself frequently needing it. But so far I haven't heard before that this is a common use case. So I don't think we will be adding support for it in core.

[2019-06-23 14:27] santilin commented on #22021
I have another use case to avoid splitting lines at the console width, and is when there is a path in the otuput and I want to be able to click on in on my favourite IDE so I want it to be kept in one line

    In Parser.php line 128:

      Couldn't parse test '/home/santilin/devel/yii2base/apps/biosegura.api/tests
      /unit/models/ModelPedidoSemanasTest.php' on line 14
      syntax error, unex

[2019-06-23 14:45] Simperfit commented on #31909
is there anything else to do ?

[2019-06-23 15:03] nicolas-grekas commented on #32043
I think it's important to understand what this HTML is about before improving the exception type.
Could you please try to understand this better?

[2019-06-23 17:56] dmaicher commented on #32139
Seems this is related to this one?

https://github.com/symfony/symfony/issues/26954

[2019-06-23 18:06] Nyholm commented on #32139
Thank you.

Yes. I think so. I’ll test and confirm. I’ll make sure to update the docs if fixed.

[2019-06-23 19:25] Nyholm commented on #32139
Hm.. There is definitely some weird behaviour here:

This is my (semi) working example
[code]

But if I try to add the `cache.pool` tag to my `cache.app` service then I'll get the same error.

This is indeed because of [CachePoolPass line 109](https://github.com/symfony/symfony/blob/v4.3.1/src/Symfony/Component/Cache/DependencyInjection/CachePoolPass.php#L109)

This would be fine (but strange).. h

[2019-06-23 21:09] TiGR opened #32142 "[HttpClient] Getting responses asynchronously as soon as they ready"
Here is the deal: I use Symfony and HttpClient in telegram bot. Bot sends various requests to Telegram's API, and most of these I don't really care to get the response in main bot logic (I want to run the code as fast as possible). However, I'd like to add requests and responses to Sentry breadcrumbs for reporting. Adding requests is easy. Adding responses is tricky.

I don't want actually to call

[2019-06-23 22:12] zied-ellouze commented on #32134
Thank you @xabbuh
What is weird that the same code used in several class, but this error is only raised for 2 classes.

[2019-06-24 04:18] #31909 closed

[2019-06-24 07:07] nicolas-grekas commented on #32142
Thanks for sharing your use case. In the doc, I tried to explain what the contracts provide to fit this use case:
https://symfony.com/doc/current/components/http_client.html#multiplexing-responses

This allows building what you're describing without much complexity. Can you figure out how?
I'm interested to know before giving you more hints, to challenge the doc :)

[2019-06-24 09:57] bpolaszek opened #32148 "[Mailer] Delivery randomly fails with Google SMTP Relay"
Hello there,

## TL;DR:
Using _Google SMTP Relay_ with the new _Mailer Component_ works in a random manner.

-----

### Background
I'm working on a new project for which I chose the new _Mailer component_ over _Swift Mailer_ with the same configuration of what I'm used to (i.e. using [Google SMTP Relay](https://support.google.com/a/answer/2956491)).

This service accessible from Google Apps allows

[2019-06-24 10:08] rbaarsma commented on #31758
@chalasr Why close this issue? It's extremely annoying to have a deprecation that you can't fix. Either it should not yet be deprecated in Symfony 4.3 (but rather in deprecated in Symfony 4.4, when a solution is present to migrate passwords), or the UPGRADE doc should offer some solution to do the migration of passwords manually.

I wouldn't know where to start migrations the passwords and am stuc

[2019-06-24 10:10] rbaarsma commented on #31758
Oh I missed your commit at first. Perhaps it's because the `bcrypt` issue was solved. But I'm using `argon2i`, the Symfony 4.2 standard. Would it perhaps be as simple as add a similar commit for argon2i hashed password?

[2019-06-24 10:50] xavierleune opened #32149 "[Router] TraceableUrlMatcher wrong behaviour with trailing slash"
**Symfony version(s) affected**: 4.3

**Description**
The `TraceableUrlMatcher` does not treat the trailing slash the same way the `UrlMatcher` does.

**How to reproduce**
On a fresh install of the website skeletton with `composer create-project symfony/website-skeleton sf-debug-routes`.

Add in your config/routes.yml the following content:
[code]
According to the documentation, this should be tre

[2019-06-24 11:18] jlslew opened #32150 "Return value of Symfony\Component\Debug\ExceptionHandler::setFileLinkFormat() must be of the type string, null returned"
**Symfony version(s) affected**: master

**Description**

The variable `fileLinkFormat` is initialized everywhere in the class `Symfony\Component\Debug\ExceptionHandler` to null but here it is asking for a string
[code]

**How to reproduce**

- `git clone git@github.com:symfony/website-skeleton.git .`
- `composer install`

**Additional context**

The return type was added in PR #31996

[2019-06-24 11:33] fancyweb commented on #32150
Status: reviewed

Yes, the comment and the strict return type is wrong. Can you send a PR?

[2019-06-24 11:36] leigh-ols opened #32151 "Type validator validates against a different type when submitted data is unchanged from entity"
**Symfony version(s) affected**: 4.3.*

**Description**

When submitting data to a form with a field value that already matches the value in the Entity. Type validation fails.

**How to reproduce**
Entity:

Trying to update an entity, and submitting a field with a value that is unchanged results in a type error. What am I doing wrong?

Entity:
[code]

FormType:
[code]

Controller:
[code]

Submit `

[2019-06-24 12:08] andrew-demb commented on #32151
Doctrine puts string value for `bigint` field in your entity after map from DB row.
It's the reason, why unchanged entity leads to validation issue.

I can't answer, where should be a fix for this.

[2019-06-24 13:47] jakemalachowski commented on #32089
Thanks for taking care of this @xabbuh!

[2019-06-24 14:33] xabbuh commented on #32151
As @andrew-demb says Doctrine maps the `bigint` type to a `string` (see also https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/basic-mapping.html#doctrine-mapping-types). You will need to adapt your validation rules accordingly as currently they do not match what gets back from the database. I am closing here as there is nothing to fix in the Symfony code. Thank you for under

[2019-06-24 14:33] #32151 closed

[2019-06-24 14:42] nikossvnk opened #32155 "[Workflow] BC break after removing workflow.definition tag"
**Symfony version(s) affected**: 4.3.*

**Description**
with this change [[Workflow] Move code from ValidateWorkflowsPass to the FrameworkExten… · symfony/symfony@a608797 · GitHub](https://github.com/symfony/symfony/commit/a608797165a245bfcc67310b30065bbb5f8ffe4c#diff-0e793081ceb720201745c982a568903fL614) workflow services are not tagged anymore with `workflow.definition`

This causes a BC break i

[2019-06-24 14:59] Lctrs commented on #30091
Minimal repro I could get if someone wants to look at it : https://github.com/Lctrs/symfony-issue-30091.

[2019-06-24 15:33] leigh-ols commented on #32151
You don't think this kind of thing needs documenting somewhere?

It is surely the kind of thing that anyone using a bigint is going to run into. And also the kind of thing most people would expect to 'just work'.

'adapt your validation rules accordingly' is also a little vague. Could you perhaps point me in a more specific direction? Many thanks.

[2019-06-24 15:48] maxailloud commented on #30091
Looks like @Lctrs made something that can be use to fix the issue.
Is it enough to work on @stof ?

This bug is really blocking.

[2019-06-24 15:56] Lctrs commented on #30091
From what I can see in the dumped container, it's a circular reference issue.

We have a initialization order like this : `ReproduceIssueCommand -> EntityManager -> DbalConnection -> DoctrineSubscriber -> EntityManager`.

So when the container instantiates the first `EntityManager`, it will initializes another one for the `DoctrineSubscriber`, because the first one is not yet in the array of initi

[2019-06-24 16:18] xabbuh commented on #32151
Well, if your type is `string`, the `Type` constraint needs to be configured accordingly:

[code]

[2019-06-24 16:22] dmaicher commented on #30091
@Lctrs yes that is also what I mentioned here for a related issue:

https://github.com/symfony/symfony/issues/28869#issuecomment-430556954

The question is: why is it not detected as a circular dependency? :smile:

[2019-06-24 16:25] nicolas-grekas commented on #30091
Because it's not :)
One of the edges in the loop is targetting a setters, which makes the loop breakable.

[2019-06-24 16:32] weaverryan commented on #30091
I should have a failing test case shortly...

[2019-06-24 16:49] stof commented on #32151
DBAL maps bigint to a string, because a database bigint does not fit in a 32-bit integer (and they decided to avoid changing the mapping depending on whether PHP is compiled in 32 bits or 64 bits mode).
this is done to avoid having a bigint (which is an exact value in the DB) overflowing to a PHP float (which is not an exact number anymore).

[2019-06-24 17:40] dmaicher opened #32158 "[Console] CommandTester not dispatching console events"
**Version**
3.4 - master(?)

**Description**
In my app I'm using a monolog console handler (see https://symfony.com/doc/current/logging/monolog_console.html) that works by using Symfony console events.

While testing a command with the `CommandTester` I noticed that there is no logging output available from the command's output. That is because the `CommandTester` does not dispatch any console eve

[2019-06-24 17:46] Nyholm commented on #32139
So with some help from Symfony Slack, I now know the following:
- Not all adapters support being tagged with `cache.pool`
- ChainAdapter is one of those pools.
- You can decorate the pool with ProxyAdapter to make sure it can be tagged.

So, I can do something like this:

[code]

I've updated the PR to the docs: https://github.com/symfony/symfony-docs/pull/11813

Thank you for the help.

[2019-06-24 17:46] #32139 closed

[2019-06-24 19:15] WubbleWobble opened #32159 "Strange route prefix being added"
**Symfony version(s) affected**: 4.3.1

**Description**
On a clean install of Symfony 4.3.1 (full/traditional web app version version), routes generated with annotations look to be broken as "<href=>" has been prefixed to the route paths.

**Edit:** Now pretty sure this is just a formatting issue with the path on the debug:router command (see below).

**How to reproduce**

1. symfony new --version

[2019-06-24 20:33] piotrjura commented on #30675
@dipaksid Inside the ExampleVoter (a class created early in the course) you need to return something, like:
[code]
In future, you can just ask on the Q&A section of the tutorial. Note, I'm an author of this course.

[2019-06-24 20:56] WubbleWobble commented on #32159
Have found a conversation + PR that addresses this issue [1], so it looks like this is already being taken care of :)

https://github.com/symfony/symfony/pull/32012

[2019-06-24 20:56] #32159 closed

[2019-06-25 07:52] leigh-ols commented on #32151
Using @Assert\Type("string") results in the same as removing the type constraints as mentioned in the original issue "This value should be of type string" when the value is updated.

Having it set as integer will work when updating but fail when passing in an unchanged value.

Having it set as string will work when passing in an unchanged value but fail when updating.

[2019-06-25 08:05] xabbuh commented on #32151
This comes from the fact that you are using the `IntegerType` here which will automatically map an integer to your entity data. You could remove the type constraint and ensure that the type is valid by having a dedicated setter method which only accepts strings (or type casts integers to strings).

But you can also change your form type so that it only maps strings to your model. If you are alread

[2019-06-25 08:20] tristanbes commented on #32043
Hello,

Unfortunately @nicolas-grekas I cannot understand this better since I got no means to reproduce. The condition were: live application, real traffic, randomly getting this error which was blocking the rest of the process because of the fatal error.

Maybe the mailgun API did timeout ? Maybe the recipient wasn't correct from the mailgun point of view ?

@Simperfit it's very risky to test you

[2019-06-25 08:50] Simperfit commented on #32043
@tristanbes maybe something that could be done is to add a logger and log the result of the mailgun API to see if it's a problem from the mailgun api directly ?

[2019-06-25 09:06] tristanbes commented on #32043
Maybe yes. It's in the vendor side right ?
I think the `send()` method should never stop the execution of the remaining code if there's a problem.

Or if it's not something we want, then, in the doc, wrap each occurence of `send()` inside a try catch, to show that this method is not safe and it could prevent the remaining code from being executed.

[2019-06-25 09:44] TiGR commented on #32142
So, it seems that there is no way to achieve this without interrupting main program flow for this (you have to switch to that foreach cycle, and be there until the very last request is finished). I just thought it might be possible to get it somehow out of `on_progress` callback, or to have another callback for that (say, `on_complete`).

But it seems that at some point I have to switch to analyzi

[2019-06-25 09:59] leigh-ols commented on #32151
"This comes from the fact that you are using the IntegerType here "

When I changed the Assert\Type("string") I removed the UserType IntegerType::class along with it.

It looks like this:

[code]

[code]

The error still persists exactly as described in the original issue.
Set it to assert string (or no assert at all), and it wont allow update. Set it to assert integer, and it will fail when the s

[2019-06-25 10:02] rbaarsma opened #32166 "[Security] 4.3 Always "Bad credentials." with algorithm "auto" when migrating from argoni2"
**Symfony version(s) affected**: 4.3.1

**Description**
Previously encoded passwords with argoni2 algoritm are not verified by Symfony 4.3, although they could be automatically

**How to reproduce**
* Install fresh symfony 4.3 with simple user management (ex. FOSUserBundle)
* Use algoritm argoni2 instead of auto
* create user with hashed password
* switch algoritm to auto
* can't login anymore

**

[2019-06-25 10:03] rbaarsma commented on #32166
@chalasr do you have some time to add your bcrypt fix for argoni2 too? Much appreciated :)

[2019-06-25 10:08] nicolas-grekas commented on #32166
Do you have libsodium? Which version? Which version of php also?

[2019-06-25 10:28] Bankalstep opened #32167 "Deserialize from JSON : wrong attribute type"
**Symfony version(s) affected**:  4.2.9

**Description**

When deserializing a JSON object, I got the following error :

"error":{"code":500,"message":"Internal Server Error","exception":[{"message":"The type of the \"period\" attribute for class \"App\\Entity\\Invoice\" must be one of \"int\" (\"string\" given).","class":"Symfony\\Component\\Serializer\\Exception\\NotNormalizableValueException","

[2019-06-25 10:40] rbaarsma commented on #32166
PHP 7.2.18

libsodium headers version => 1.0.11
libsodium library version => 1.0.11

Also note that I've tried the suggested solution by directly editing the symfony source code and it works.

[2019-06-25 11:05] nicolas-grekas commented on #32166
Which solution? I don't know about it :)

[2019-06-25 11:17] phpdev opened #32168 "[Validation] Automatic validation for boolean columns"
**Symfony version(s) affected**: 4.3.*

**Description**
I try to enable "Automatic validation" feature but its not working well for me.
If column type is boolean, form component creating a html checkbox. After enable "Automatic validation", it's set to required. I cant select for "false". So, it will always "true".

https://symfony.com/blog/new-in-symfony-4-3-automatic-validation

**How to reprodu

[2019-06-25 11:26] rbaarsma commented on #32166
@nicolas-grekas See the bug report under "Possible solution".
[code]

[2019-06-25 11:54] nicolas-grekas commented on #32166
Oh, sorry. So, libsodium is not able to verify argon2i ?! I wouldn't go with this patch. Instead, I would bump the minimum support version of it in the `supports()` method.

[2019-06-25 12:09] rbaarsma commented on #32166
Yup I can verify that the `\sodium_crypto_pwhash_str_verify` function is called and returns `false`, whereas `password_verify` returns `true` for the same inputs.

You expect argon2i will be verified correctly in php 7.3 or something? Not sure exactly what you mean to bump the minimum version. Minimum version of what?

[2019-06-25 12:17] nicolas-grekas commented on #32166
libsodium 1.0.11 is quite old, see https://github.com/jedisct1/libsodium/releases
does it work if you upgrade to a higher version of it? (it should)
can you check which is the minimum version that works?

[2019-06-25 12:27] nicolas-grekas commented on #32166
Looks like 1.0.15 could be the minimum.

[2019-06-25 12:31] #32155 closed

[2019-06-25 12:51] nicolas-grekas commented on #32166
Can you please confirm that #32169 fixes the issue (1.0.14 required there)

[2019-06-25 13:00] rbaarsma commented on #32166
I've not updated libsodium yet (can do that later), but at least I've verified that these changes (specifically the isSupported changes) fix my issue.

Also looking at the code, you should consider to undo https://github.com/symfony/symfony/commit/1318d3bf5160af9a10011b7c62b1182c4c9e5b3d and similarly let bcrypt go through the NativePasswordEncoder.

[2019-06-25 13:03] nicolas-grekas commented on #32166
great thanks

I don't think so.

[2019-06-25 13:20] nicolas-grekas commented on #31883
It should be configurable for sure. Maybe a [no_buffer => regexp] option at the implementation level?
To decide, having a real world use case is always great. If we don't have one, maybe we should wait or close?

[2019-06-25 13:21] rbaarsma commented on #32166
I've tried to update libsodium, but it's too much work. I'm using docker php:7.2-fpm image, based on debian-stretch, and in the apt package manager is no newer version. It's probably much easier for someone with a setup that already includes a newer version to check your assumption if libsodium 1.0.14 does successfully verify argoni2 encrypted passwords.

I've approved the changes, as it looks lik

[2019-06-25 13:26] aurimasniekis opened #32171 "[Messenger] AMQP Pubsub style exchange with individual queue per consumer"
**Description**
At the moment Messenger only supports single handling of message per transport. AMQP supports sending message to exchange which has multiple queues binding to it (Every new consumer creates a queue with a random name (queue name is an empty string server generates random queue name for it) and binds to specific exchange that way whenever exchange receives a new message it will fan

[2019-06-25 13:28] #32166 closed

[2019-06-25 14:06] joeyhub commented on #28577
What's wrong with using session_set_cookie_params? https://www.php.net/manual/en/function.session-set-cookie-params.php

[2019-06-25 14:14] joeyhub commented on #28577
Note that the manual might give the wrong impression that it's just a wrapper for ini_set, TIAS.

[2019-06-25 14:34] joeyhub commented on #28577
You're probably going to just have to session destroy then recreate or something.

[code]

Set what that does, otherwise may just have to look at the PHP source. Hopefully nothing unpleasant would be needed such as session_encode/session_decode, etc. Might want some other hacks for other places like session_id to set, etc.

Personally I usually end up just not using the PHP handler for sessions as

[2019-06-25 14:36] joelwurtz commented on #31883
IMO, automatic buffering should be done for "textual" content types (html / text / xml / json / ....) and there should be no buffer for "binary" content types

[2019-06-25 14:42] leigh-ols commented on #32151
Using `->add('recordQuota', NumberType::class, ['input' => 'string'])` with no `@Asserts\Type` results in `Unable to transform data for property path "recordQuota": Expected a numeric string.` Regardless of if the submitted value is altered or not.

This issue has been closed as not a bug, but to me this still looks like a bug, acts like a bug and smells like a bug.

I can't come up with any combi

[2019-06-25 14:43] aurimasniekis opened #32172 "[Messenger][AQMP] Setup is called every time accessing the queue"
**Symfony version(s) affected**: All since Messenger release

**Description**
Messenger AMQP call setup method on each call to the queue like: `get`, `publish`, `publishWithDelay`.

**How to reproduce**
[code]

I am running modified code which don't sets name if queue name is empty:

[code]

**Possible Solution**
Have a flag in `Connection` object which says that setup has run and only run if AMQP

[2019-06-25 14:45] mbabker commented on #32158
The CommandTester is basically a wrapper around `Command::run()`, which doesn't trigger any events (all of the events come from the application).  So if you're doing a functional test that relies on the events before/after a command is run, it seems like the way you changed your test would be the right way to do it (alternatively you could use the ApplicationTester to run the application).

[2019-06-25 15:18] xabbuh commented on #32151
@leigh-ols Can you create an example application with this that allows to reproduce?

[2019-06-25 16:27] nicolas-grekas commented on #32142
Somehow :)
See https://github.com/symfony/symfony/pull/32174

[2019-06-25 18:46] misterx commented on #31750
I have same error, on Windows 7, PHP 7.2.8
Steps to reproduce:
[code]
Result:
[code]

[2019-06-25 19:24] misterx commented on #31750
Looks like problem in `bypass_shell` option in vendor\symfony\phpunit-bridge\bin\simple-phpunit.php  on line 131. Composer runs from composer.bat file and located in some directory on my PC. That directory added into PATH env to execute composer anywhere, but proc_open with bypass_shell option don't know about this directory.  When i set this option to false, phpunit-bridge working fine.

simple-p

[2019-06-25 19:32] shyim opened #32175 "[Profiler] HTML comments for twig blocks"
**Description**
When a project has huge amount of template files and a new developer has to change something in template, he will search long to find the location he wants to modify. I developed a new NodeVisitor which adds html comments for starting and ending a block. This helps to see directly in developer console, which file has to be modified.

Maybe it's a good addition to the profiler bundl

[2019-06-25 20:48] ro0NL commented on #32175
I tried something similar here #28056, but it has some edge cases for twig not being a HTML only template engine. I don't think we can anticipate it ... but feel to share your implementation :)

[2019-06-25 20:55] shyim commented on #32175
My solution was to add a config to toggle the comments and config with an array of regex to blacklist some types of blocks.

Example:
We normally end a block which is in a html attribute with suffix attributes. So this could be done with a simple regex.

[2019-06-25 23:18] derrabus opened #32179 "[5.0] Add parameter type-hints"
The current master branch (which will become Symfony 5) raised the minimum requirement of php to 7.2. That php version introduced a feature called [Parameter Type Widening](https://wiki.php.net/rfc/parameter-no-type-variance) that allows a class to drop parameter type constraints when overriding/implementing a method from a parent class/interface.

This opens up an interesting upgrade path for us:

[2019-06-25 23:47] Tobion commented on #32171
I don't see yet what exactly you cannot achieve. Can't you define a queue with an empty name? Also why do you define a binding key in your example when you use a fanout exchange? A fanout exchange does not care about routing keys..

[2019-06-25 23:51] Tobion commented on #32171
Btw, if you didn't know, you can already define several queues per transport: https://github.com/symfony/symfony/blob/efaa154c7441adf444231fd684920d106d7335e6/src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php#L85-L88

[2019-06-26 00:02] Tobion commented on #32172
So the problem is that it's not allowed to declare a queue with an empty name? When does the Amqp extension get the real name from the broker? I thought that happens when you declare the queue, see https://www.rabbitmq.com/amqp-0-9-1-reference.html#queue.declare-ok.queue

Btw, you can disable the auto-setup using an option if it's a problem to you.

[2019-06-26 00:05] Tobion commented on #32172
Ah I think I understand the problem: The declaring the queue works on the first call which then receives the real queue name. On the second publish, it tries to declare the queue again which then fails because it tries to use the internal queue name.

[2019-06-26 07:00] Simperfit commented on #29952
Could you please provide a reproducer ?

[2019-06-26 07:08] #32150 closed

[2019-06-26 07:15] #30682 closed

[2019-06-26 07:23] #32089 closed

[2019-06-26 07:31] nicolas-grekas commented on #32179
If we finish https://github.com/symfony/symfony/pull/30323, we might have a way to also add return types. I think @fancyweb would appreciate some help there.

[2019-06-26 07:34] Rebolon commented on #31750
Same problem on windows 10, PHP7.2
It almost works with a WSL (Windows Subsystem Linux)

[2019-06-26 07:36] nicolas-grekas commented on #32127
It's strange that Blackfire doesn't measure the issue. Can you check the info timings when Blackfire is used?

[2019-06-26 07:45] #31916 closed

[2019-06-26 07:46] nicolas-grekas commented on #32093
The core of code we're talking about would look like this (copy-pasted from https://github.com/symfony/flex/blob/master/src/Command/DumpEnvCommand.php):

[code]

I wouldn't make this a command in the component.
Maybe a method on Dotenv? Someone that cares would need to make it happen :)

[2019-06-26 07:49] nicolas-grekas commented on #32091
I'm :-1:, this would be confusing (see @stof's comment)

[2019-06-26 07:49] #32085 closed

[2019-06-26 07:51] nicolas-grekas commented on #32069
I'm wondering if apps that use a single cache directory for multiple kernel aren't broken to begin with.
They should always override the getCacheDir instead, right?
If yes, then we should close this as invalid. It not, I don't how we can preserve BC :)

[2019-06-26 07:53] nicolas-grekas commented on #32042
@finwe correct. Or make static analysers understand the annotations we use, because they make sense in the generic case too.

[2019-06-26 07:53] #32042 closed

[2019-06-26 08:02] nicolas-grekas commented on #31750
@misterx thanks for the hints. Would you be able to submit a patch fixing the issue?

[2019-06-26 08:03] eXtreme commented on #32069
@nicolas-grekas

By looking at the docs, yes, they should always have a separate cache dir. I've setup the project the current way (shared cache) back in Sf3.0 when I started it and never had a single issue with this approach until 4.3. :)

Probably if they were completely separate projects this could be a problem, but it's just a shared codebase with different kernels running different routes/con