[2021-10-14 07:37] lyrixx commented on #43325
Sure 👍🏼  it'll totally fix my issue. thanks @nicolas-grekas

[2021-10-14 07:57] #43325 closed, assigned to nobody

[2021-10-14 08:22] isarastov commented on #43422
I'll take this one

[2021-10-14 09:38] nikophil opened #43496 "[Messenger] store serialized message for retry"
**Description**
When a message is sent for retry, we serialize it from the message POPO object whereas we had the serialized representation of the message before deserializing it.

What if we would store this serialized string once it arrives in messenger, and then use it back if a retry is needed?

This has several advantages, mainly when we're dealing with big payloads:
- prevents the performanc

[2021-10-14 09:43] fabpot commented on #41855
I like your plan @javiereguiluz
Ideally, we would deprecate the `loose` mode in 5.4 to be able to remove it in 6.0

Who wants to create the PR on 5.4?

[2021-10-14 10:16] bbrala commented on #43021
I'd like to add how we use the `normalize()` function in Drupal and why it is as it is. I also have a possible solution that might be usefull.

I'll open a PR that targets the 6.0 branch so we can explore the possible implications.

[2021-10-14 10:50] mescartin commented on #41317
Reproduced in symfony 5.3. Commenting just to get notified whenever the pull request gets merged and the issue closed.

Thanks for the great work!

[2021-10-14 12:37] ThomasLandauer commented on #39986
+1 for the config option, but I'd rather call it something like `public_url` or `allow_internal_urls`.

[2021-10-14 12:52] ThomasLandauer opened #43506 "[Validator] `Assert\Url` Allow forbidding the `@` character"
**Description**
The following does pass as valid URL (just had a real user entering something like this):
[code]
In reality, the user just entered their email address. Symfony's `UrlType::class` prefixed `http://`, and the `Url` constraint accepts this by treating `me` as the "userinfo" part of the URL (see [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.1)).

So I'm suggestin

[2021-10-14 13:06] #37894 closed

[2021-10-14 13:18] elfring commented on #40570
I hope that the chances for a better clarification will grow somehow.

[2021-10-14 13:23] Safranil opened #43509 "[Form] InvalidArgumentException while using type declaration in entity"
**Symfony version(s) affected**: 5.3.4

**Description**
I use PHP 8 and my entities use the type declaration on setter and getter.

When validating a Form with a `null` value on a field that require non null (eg: `method(string $value)`), the `handle()` method throw an `InvalidArgumentException` and a `TypeError`.

**How to reproduce**
<details>
  <summary>Example Entity, Form and Controller</summ

[2021-10-14 13:33] #43421 closed, assigned to nobody

[2021-10-14 14:04] derrabus commented on #43021
@mbabker If you revert that commit and simply add an `array` return type to the `normalize()` method – wouldn't that class work with Symfony 5 and 6?

[2021-10-14 14:16] mbabker commented on #43021
Huh, TIL PHP's type variance will allow that - https://3v4l.org/E1Rng

[2021-10-14 14:46] derrabus commented on #43509
Either use `empty_data`…

[code]

… or make the type declaration nullable.

[2021-10-14 15:58] esmiz commented on #43434
Let me take this one!

[2021-10-14 16:20] ghost commented on #43509
This is absolutely valid. You never know what data will be send in a request. Form Component maps the raw data to your model and when some field does not exist null value is passed so it can be validated against NotNull/NotBlank assert. You have to make you setters nullable as derrabus said or workaround with empty_data but then you will not know if a user didn't send this field or sent an empty s

[2021-10-14 21:02] petrduda commented on #43428
I will fix this :)

[2021-10-14 21:04] welcoMattic commented on #42871
Hello @axi,

I think the source of the problem is in php-translation, not in Symfony. If you use the native command `translation:update` to extract untranslated keys from your source code, the new keys will be created in the right file (intl if it exists, normal one if not, never both).

Moreover, your patch break an old test, which is not a good thing. This test guarantee that old existing messag

[2021-10-15 02:51] dgfmdrv commented on #38155
Hello, I come here trying to read a UNC path.
is_readable return false but  fopen or file_get_contents can read the file.

 https://stackoverflow.com/questions/34531749/php-on-iis-is-readable-over-unc-path

[2021-10-15 05:40] dadangnh commented on #43444
I am on this one :hand:

[2021-10-15 07:13] axi commented on #42871
Hi @welcoMattic Thanks for reviewing this.
Your explanation on the merge operation test make sense.
I'll have a look if I can find something to fix on [php-translation/symfony-bundle](https://github.com/php-translation/symfony-bundle)

[2021-10-15 08:30] fabpot commented on #42871
Let's close this issue then.

[2021-10-15 08:30] #42871 closed, assigned to nobody

[2021-10-15 08:31] #43444 closed, assigned to nobody

[2021-10-15 08:32] #43447 closed, assigned to nobody

[2021-10-15 08:33] #43428 closed, assigned to nobody

[2021-10-15 08:36] #41053 closed, assigned to nobody

[2021-10-15 08:37] #43434 closed, assigned to nobody

[2021-10-15 08:39] #43491 closed, assigned to nobody

[2021-10-15 08:40] #43422 closed, assigned to nobody

[2021-10-15 08:48] #43449 closed, assigned to nobody

[2021-10-15 08:49] #43450 closed, assigned to nobody

[2021-10-15 08:50] #43461 closed, assigned to nobody

[2021-10-15 09:00] #43430 closed, assigned to nobody

[2021-10-15 09:14] #43427 closed, assigned to nobody

[2021-10-15 09:53] axi commented on #42871
Find out that in ```translation:update``` command

``` $operation->moveMessagesToIntlDomainsIfPossible('new'); ```

make the magic happens...
Without it, new messages goes to normal domain... Looks like a quick fix to me :-)

I still wonder, MessageCatalogue tries to abstract use of intl domain (see get() method return intl value if existing, getDomain() never returning domain+intl-icu), why shoul

[2021-10-15 13:14] Thorry84 commented on #35135
Is this still being considered? We've run into the same issue, with many clients asking about it. It makes preferred choices for country selection useless, since the preferred options are practically never on screen.

The rationale for this change is pretty weak, "this option is handy for most users", but can be confusing to some people. So let's break the feature for most users, so those few peop

[2021-10-15 13:30] fd6130 commented on #43425
I will work on this issue.

[2021-10-15 13:30] fd6130 commented on #43426
I will work on this issue.

[2021-10-15 13:31] Safranil commented on #43509
This would work only on string and I also have integer and boolean.

The maker bundle contain an entity generator, I tested and when I ask a field with not nullable string, the entity is generated with `string` type declaration and not `?string` type.

<details>
<summary>A test entity generated with <code>bin/console make:entity</code></summary>

[code]
</details>

I think this should be managed s

[2021-10-15 13:55] Nek- commented on #43415
I managed to [make a reproducer](https://gist.github.com/Nek-/24ec6a4e1bd50f202b66695e852f08af) with your code and can confirm this is a regression. This usage is documented here and should work but stopped working starting with Symfony 4.4.30, 4.4.31 is also impacted. https://symfony.com/doc/current/http_cache/validation.html#validation-with-the-last-modified-header

The problem is located here:

[2021-10-15 14:32] Nek- commented on #43415
To me the problem is not located in Symfony. They actually made a real fix for some situations. You should consider to use the following code:

[code]

What do you think?

The point is to choose between the date or the etag but both are not compatible (anymore, because of the RFC say so).

[2021-10-15 15:13] chiqui3d commented on #43415
It doesn't cost me anything to change the code, I have to modify very little code, but the previous code made more sense. I don't know how it works internally, but this way in the `http_cache ` folder will be left the rest of each modification of the `ETAG`, not substituting the current cache. I need to check

[2021-10-15 15:23] shreyadenny commented on #43459
I'll be working on this issue

[2021-10-15 15:27] shreyadenny commented on #43446
I'll be working on this issue

[2021-10-15 17:39] Nek- commented on #43509
Hello, I just want to link this PR because it's somehow the same work to achieve but on the form component. https://github.com/symfony/symfony/pull/42502

[2021-10-15 20:06] ghost commented on #43509
This is not a duplication. This is a separation between your business logic represented by entity and raw data on data transfer objects  that can be everything. Entities are part of your domain logic and should be in a valid state always while form data is just an input to the infrastructure layer which should be validated and if valid then your entity can be updated.
What's more, sooner oraz late

[2021-10-16 12:15] nicolas-grekas commented on #42787
Thanks for the report. Please don't hesitate to send a PR next time you have the fix!

[2021-10-16 12:15] #42787 closed, assigned to nobody

[2021-10-16 12:24] murphy-nzl opened #43536 "Undefined class constant 'JSON_ARRAY' when make:entity"
**Symfony version(s) affected**: 5.3.9

**Description**

when I indicate the name of a property, I get this error "Undefined class constant 'JSON_ARRAY'" but the entity and the repository are created

So I declare my properties by hand and then do a make:entity --regenerate and my getters and setters are created

**How to reproduce**

php bin/console make:entity
adding new property name

**Possibl

[2021-10-16 12:35] wouterj commented on #43536
Hi there! Thanks for reporting the issue.

This is an issue with the MakerBundle. Other users already reported the bug and a fix has been merged (but not yet released) in https://github.com/symfony/maker-bundle/pull/991

[2021-10-16 12:35] #43536 closed, assigned to nobody

[2021-10-16 13:38] murphy-nzl commented on #43536
oh thanks

[2021-10-16 13:50] #43391 closed, assigned to nobody

[2021-10-16 13:50] #43390 closed, assigned to nobody

[2021-10-16 15:15] 4d4ch4u32 opened #43538 "Argument 3 passed to Symfony\Component\Cache\Adapter\AbstractAdapter::createSystemCache() must be of the type string, null given"
**Symfony version(s) affected**: 5.3.9

**Description**
After upgrading from Symfony 4.4, I'm getting this error:
[code]
**How to reproduce**
Upgrade from Symfony 4.4 to Symfony 5.3

**Additional context**
Stack trace:

[code]

[2021-10-16 15:17] #41958 closed, assigned to nobody

[2021-10-16 15:18] #36594 closed

[2021-10-16 19:21] chiqui3d commented on #43415
I have just tried it and it works that way. That means that in Symfony 5, you also have to use the ETAG based on the Timestamp?

I have seen examples based on content, but I can see that this is very heavy.

I've also noticed that the cache system doesn't clean itself automatically, I'll have to find a solution when the `http_cache `directory grows, like deleting it directly.

Thanks @Nek-

[2021-10-16 19:31] #43415 closed, assigned to nobody

[2021-10-16 21:59] HypeMC opened #43543 "[PhpUnitBridge] `simple-phpunit` not working with `SYMFONY_REQUIRE`"
**Symfony version(s) affected**: 4.4, 5.2, 5.3
**PHP version(s) affected**: 7.4.24, 8.0.11
**Composer version**: 2.1.9
**OS**: Ubuntu 18.04

**Description**
For some reason the `SYMFONY_REQUIRE` env variable causes `simple-phpunit install` to fail. I'm not sure whether this has something to do with the recent changes in flex, but until now it always worked.

I've tested it with different PHP & Sym

[2021-10-17 05:43] belbeche opened #43544 "Maker bundle error"
Iam working  4.4.32

Hello everyone, I am trying to create an entity with these fields and an error thrown.

 `PS C:\Users\acs\Desktop\MySymfony-Course> php bin/Console make:entity Category

 Your entity already exists! So let's add some new fields!

 New property name (press <return> to stop adding fields):

**In MakeEntity.php line 379:**

  **Undefined class constant 'JSON_ARRAY'**

make:entity

[2021-10-17 06:31] nicolas-grekas commented on #43543
Fixed in https://github.com/symfony/recipes/commit/d0ef2575ff71d4bef3f47b93be81bbce7f405426, thanks for the report.

[2021-10-17 06:31] #43543 closed, assigned to nobody

[2021-10-17 06:39] nicolas-grekas commented on #43506
I would personally be in favor of never accepting any userinfo in URLs. Or at least not accepting userinfo by default.

[2021-10-17 06:47] nicolas-grekas commented on #43327
Could that be something that would fit `RetryableHttpClient` with an augmented `RetryStrategyInterface`?
PR welcome anyway :)

[2021-10-17 06:48] nicolas-grekas commented on #43308
Such preloading notices can be ignored, they're only informative.

[2021-10-17 06:48] #43308 closed, assigned to nobody

[2021-10-17 06:51] nicolas-grekas commented on #43272
If we restore the compiler pass pre-#42815, then we should find another fix for #42791 before. Anyone up to digging this?

[2021-10-17 06:53] nicolas-grekas commented on #43263
It looks like this is the intended behavior. Deprecated services are not checked on purpose since #39861

[2021-10-17 08:19] Yvan2Ero opened #43546 "Error: Undefined constant Doctrine\DBAL\Types\Type::JSON_ARRAY when runing symfony console make:entity"
**Symfony version(s) **: 5.3

**I just create new Symfony 5.3 blank project, I have an error when I want to create an entity with the **symfony console make:entity** command. I'm using php-8.0.2, Please I need help
![Screenshot_20211017_091334](https://user-images.githubusercontent.com/63490400/137618209-9c321f23-909e-4e16-8412-dc393e1c2de2.png)
**

[2021-10-17 08:23] okhoshi commented on #43272
I would be happy to propose a PR giving a more concrete overview of my suggestion.

[2021-10-17 08:34] mmarton commented on #43437
The hungarian translation looks complete at https://symfony-translations.nyholm.tech/

[2021-10-17 11:57] HypeMC commented on #43543
Works again, thank you @nicolas-grekas 😄

[2021-10-17 18:33] gkalligeros commented on #43436
hello
can i have a go on this one  ?

[2021-10-17 19:19] chalasr commented on #43263
This has been done to prevent autoloading of deprecated classes indeed, mainly because some Symfony core test cases use that compiler pass. The fact it avoids reporting invalid classes might be an undesirable side effect, given that a deprecated service must keep valid, thus must keep using an existing class.

Maybe we can do better by e.g. making this opt-in, or catching deprecations when loading

[2021-10-17 20:25] simonberger commented on #43538
The version argument for `cache.adapter.system` comes from here: `\Symfony\Bundle\FrameworkBundle\DependencyInjection\FrameworkExtension::registerCacheConfiguration`

You should debug from that point what is going wrong.

[2021-10-17 21:46] ndoulgeridis commented on #32756
I have this same behavior on 5.3.7, any idea how to fix it?

[2021-10-18 07:11] fabpot commented on #43436
@gkalligeros Please, go ahead.

[2021-10-18 07:14] #43425 closed, assigned to nobody

[2021-10-18 07:15] #43426 closed, assigned to nobody

[2021-10-18 07:19] #43455 closed, assigned to nobody

[2021-10-18 07:20] #43452 closed, assigned to nobody

[2021-10-18 07:23] #42473 closed, assigned to nobody

[2021-10-18 07:24] #43459 closed, assigned to nobody

[2021-10-18 07:58] allan-simon opened #43552 "Symfony\Component\Security\Http\Authenticator\FormLoginAuthenticator does not implement Symfony\Component\Security\Guard\AuthenticatorInterface"
**Symfony version(s) affected**: 5.3.9

**Description**

I'm trying to upgrade my "register form also login directly the user" code to be compatible with the new authentication system

my code used to be this

[code]

**How to reproduce**

1. create a register function

[code]

it fails complaining
[code]

while all these classes are provided by Symfony, nothing custom on my side

(on my code I in

[2021-10-18 08:10] fabpot commented on #43437
Id 101 is missing in this file.

[2021-10-18 08:11] #43552 closed, assigned to nobody

[2021-10-18 08:23] aless673 commented on #43506
should be an option

[2021-10-18 08:28] carsonbot opened #43554 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf](https://github.com/symfony/symfo

[2021-10-18 08:28] carsonbot opened #43555 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf](https://github.com/symfony/symfo

[2021-10-18 08:28] carsonbot opened #43556 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blo

[2021-10-18 08:28] carsonbot opened #43557 "Missing translations for Slovak (sk)"
Hello,

There are some missing translation for Slovak (sk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf](https://github.com/symfony/symfony/blob

[2021-10-18 08:28] carsonbot opened #43558 "Missing translations for Tagalog (tl)"
Hello,

There are some missing translation for Tagalog (tl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.tl.xlf](https://github.com/symfony/symfony/b

[2021-10-18 08:28] carsonbot opened #43559 "Missing translations for Thai (th)"
Hello,

There are some missing translation for Thai (th). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.th.xlf](https://github.com/symfony/symfony/blob/4

[2021-10-18 08:35] stof commented on #43506
When configuring webhooks, it is useful to allow specifying the userinfo for auth. So it should not be forbidden all the time. Forbidding it must be configurable.

[2021-10-18 10:04] 4d4ch4u32 commented on #43538
@simonberger Thank you, that helped.

There is the line `$version = new Parameter('container.build_id');`. `$version` seems to be `null` at this point. When I add a parameter named `container.build_id` to my configuration, it works.

[2021-10-18 10:08] BeyerJC opened #43560 "[Security] is_granted twig helper is not registered"
**Symfony version(s) affected**: 5.3.8

**Description**
After composer update and updating all recipes the "is_granted" twig function is not available anymore. When accessing a page i get
[code]

I have  "symfony/security-bundle": "5.3.*" in my composer.json and all libs are installed in vendor/. When i debug the cache warmup, the config "templating_twig.php" does not trigger my breakpoint, other

[2021-10-18 10:09] 4d4ch4u32 commented on #43538
Ok, REMOVING this `container.build_id` fixed it. 💯

[2021-10-18 10:09] #43538 closed, assigned to nobody

[2021-10-18 10:25] simonberger commented on #43538
@antond1990 not really sure from your messages what you did now. But in case you added the parameter once, compiled the container and removed it again then it works until you cleared your container (cache) the next time.
You should investigate why this parameter is not set in your process. I am no expert of the container building process but I think the parameter is one symfony uses internally and

[2021-10-18 10:30] 4d4ch4u32 commented on #43538
In the past it was necessary to set this parameter, with the value NULL (at that time it was still Symfony 2). After upgrading to Symfony 5, the parameter still existed with the same value, so I thought it needed to have a value. After I assigned a value, the project worked fine again. When I removed the parameter completely, it worked too.

[2021-10-18 11:00] yyaremenko opened #43562 "[Serializer > Denormalization] On denormalization, the context for an attribute is taken for the normalized attribute name, not for the class attribute name"
**Symfony version(s) affected**: 5.3

**Description**
Some class is given with the following annotations:

[code]

Upon denormalization, the context is retrieved for the attribute ```serialized_status_name```:

https://github.com/symfony/serializer/blob/5d7f068253ac3e7c62964ebdda491b06d401059a/Normalizer/AbstractObjectNormalizer.php#L350

As metadata for class ```SomeClass``` contains info for att

[2021-10-18 11:00] xabbuh commented on #43560
Can you please show the output of `composer show`?

[2021-10-18 11:02] xabbuh commented on #43389
Do you have any news for us?

[2021-10-18 11:02] xabbuh commented on #43387
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-10-18 11:02] #43387 closed, assigned to nobody

[2021-10-18 11:38] raphaelriehl commented on #41892
Hi, maybe it's another issue, but I encounter same thing with `form_login` and `form_login_ldap`.
When I disable the new authentication manager it's works.
Same problem describe [here](https://stackoverflow.com/questions/68131217/how-to-use-the-ldap-form-login-and-form-login-on-symfony-5-3-with-the-new-authen).

[2021-10-18 11:42] BeyerJC commented on #43560
@xabbuh

[code]

[2021-10-18 11:42] GromNaN commented on #43506
`me@example.com` is invalid for the `UrlValidator` constraint.

The `UrlType` has an option `default_protocol` that can be reset to `null` to avoid auto-prepending `http://` to the value.

The `UrlType` could be fixed to not alter values that looks like email address. If one needs to set an url with the userinfo, they would have to type the scheme part.

[2021-10-18 11:43] AndreasA commented on #43254
OK. Great. I hope I will find time this week but can't guarantee it. Sadly, I didn't find time the last two weeks.

[2021-10-18 12:50] yyaremenko opened #43563 "[Serializer > Context (annotation) > Callbacks] Callbacks defined in the attribute Context annotation are ignored"
**Symfony version(s) affected**: 5.3

**Description**
[According to this post](https://symfony.com/blog/new-in-symfony-5-3-inlined-serialization-context), the Context annotation allows to add context per attribute.

If you look closely into the code though, you'll discover that

1. Upon normalization, the callbacks are only retrieved from the context passed explicitly to ```normalize()``` method:

[2021-10-18 13:06] jdeniau commented on #40851
Found a workaround, but bug is shill relevant I think 🤔

[2021-10-18 13:25] AndreasA commented on #43254
@fabpot @xabbuh

One remaining question though. How dynamic does it need to be? because supporting it for the `findBy` method is simple but if one uses a custom method, it will be more tricky as we do not know which parameter is the limit parameter.

I could only add the limit parameter, if the default method `findBy` is used and if another is used, they should implement it accordingly? Or I could

[2021-10-18 13:40] lyrixx commented on #43327
It looks like indeed 👍🏼

[2021-10-18 13:50] Wirone commented on #40566
I did not find solution for that and I currently don't work with profiler so I can't help much. But from my perspective it's annoying bug even though I understand it's probably hard to cover it since it lays deep (PDO extension). Decision is up to you, I'll understand if you don't want to fix it 🙂

[2021-10-18 14:01] ureimers opened #43565 "[Cache] Using the TagAwareAdapter to decorate an ApcuAdapter doesn't work correctly"
**Symfony version(s) affected**: >= 3.2 (probably any Version that uses the Cache component >= 3.2)

**APCu extension version(s) affected**: <= `5.1.9`

**Description**
When the `TagAwareAdapter` is used to decorate an `ApcuAdapter`, all item retrievals from the cache will miss.

**How to reproduce**
I created a fork of the current `5.3` branch with a simple unit test to reproduce the problem: htt

[2021-10-18 14:23] dsech opened #43566 "[Messenger] `TypeError` in `PhpSerializer::decode()` when message body is not valid"
**Symfony version(s) affected**: 5.3.9

**Description**

There are some broken message bodies for which the `PhpSerializer` format doesn't throw a `MessageDecodingFailedException`, but a `TypeError`:
[code]

**How to reproduce**

1. Use an async transport, like doctrine, with the PHP native serializer.
2. Publish a message with the raw body `x`.

**Possible Solution**

This happens because `PhpSer

[2021-10-18 14:41] franmomu opened #43567 "[Security] Do not throw exception for a non-existing route defined in `_target_path` when login"
**Symfony version(s) affected**: 5.3.x and I guess 4.4.x

**Description**

When [using `_target_path` in a login](https://symfony.com/doc/current/security/form_login.html#control-the-redirect-using-request-parameters), if the value is a non-existing route it throws a `Symfony\Component\Routing\Exception\
RouteNotFoundException`.

**How to reproduce**
In a login form allowing `_target_path`, modify

[2021-10-18 16:48] nicolas-grekas commented on #43348
I just had a look and proposed #43569, which fixes collecting the "debug" info when curl is used and no method is called on response objects.
This does not fix what you describe, but I don't think we can nor should do that.
If you want to know which headers have been sent on the wire, look at this "debug" info instead.

[2021-10-18 16:48] #43348 closed, assigned to nobody

[2021-10-18 16:54] fabpot commented on #43254
Let's optimize for the simple and default `findBy` method. If someone uses a custom method, then they should optimize the query themselves (we might add a note in the docs about it though).

[2021-10-18 16:54] #43258 closed, assigned to nobody

[2021-10-18 16:59] stof commented on #43348
@nicolas-grekas should the profiler display the debug info ?

[2021-10-18 17:07] nicolas-grekas commented on #43348
it does, under "info"

[2021-10-18 17:41] Reza9472 commented on #43490
Hi Bahman.

The file looks like it has the translations.
Could you explain a bit more?

Are you looking for a better translation?

[2021-10-18 17:41] fredsal opened #43570 "[Console,HttpKernel] Missing support for Psr/Log ^3.0 on 5.3,5.4"
It's seems a really small fix on commit https://github.com/symfony/symfony/commit/95029e560d8805efaac9399496028c2ccdac6c24

https://github.com/symfony/symfony/blob/abb9a19f0c1895f50ddf58eacc7643e44febe609/src/Symfony/Component/Console/composer.json#L32
https://github.com/symfony/symfony/blob/abb9a19f0c1895f50ddf58eacc7643e44febe609/src/Symfony/Component/HttpKernel/composer.json#L27

do you accept

[2021-10-18 18:25] fabpot commented on #43490
ID 101 is missing. See https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Validator/Resources/translations/validators.en.xlf for the English version.

[2021-10-18 19:54] derrabus commented on #43570
No, we don't. That's a BC break we won't make in a bugfix release. Thanks for understanding.

[2021-10-18 19:54] #43570 closed, assigned to nobody

[2021-10-18 20:31] fredsal commented on #43570
@derrabus 5.4 still In development and LTS
![image](https://user-images.githubusercontent.com/79155632/137802445-1e82206a-e12a-47c1-8143-6475e46fa0c9.png)

[2021-10-18 20:39] derrabus commented on #43570
… and has to remain backwards-compatible to apps build against Symfony 5.0. This change would break backwards compatibility for no gain.

Symfony 6 will ship compatibility for psr/log 3. That ought to be soon enough, sorry.

[2021-10-18 20:56] BahmanMehrdad commented on #43490
Hi Reza
I added ID 101 to the translation file and applied some edits to previous translations.

[2021-10-18 21:04] wouterj commented on #43570
See also https://github.com/symfony/symfony/issues/42683#issuecomment-929959359 (and the other comments in that issue) and the many more psr/log & psr/container related issues in this issue tracker. A backwards compatibility break is a backwards compatibility break and those must be dealt with according to our release process.

[2021-10-18 21:52] larmpip commented on #43458
I'm working on this issue!!

[2021-10-19 01:32] eman1986 commented on #41769
I have 5.3.8 of the security component and running into this still.

[2021-10-19 04:13] StasToken commented on #43389
Sorry, I can't provide an example yet, as I'm very busy with work. I will open this question later as I prepare everything and let you know.

[2021-10-19 04:13] #43389 closed, assigned to nobody

[2021-10-19 06:29] #43554 closed, assigned to nobody

[2021-10-19 06:29] #43555 closed, assigned to nobody

[2021-10-19 06:29] #43556 closed, assigned to nobody

[2021-10-19 06:29] #43557 closed, assigned to nobody

[2021-10-19 06:29] #43559 closed, assigned to nobody

[2021-10-19 06:44] #43458 closed, assigned to nobody

[2021-10-19 06:47] #42962 closed, assigned to nobody

[2021-10-19 08:04] xabbuh commented on #43254
I agree with @fabpot.

[2021-10-19 08:28] carsonbot opened #43575 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf](https://github.com/symfony/symfony/blo

[2021-10-19 08:45] jotaseme commented on #30483
any update?

[2021-10-19 08:53] kniziol commented on #30483
@jsamouh Did you switch week in your calendar? 😉

[2021-10-19 09:57] derrabus commented on #42962
@GromNaN Both PRs have been merged up to the 6.0 branch, in case you want to take care of removing the deprecation layers.

[2021-10-19 10:32] heardofdezz opened #43581 "ConnectionHelper"
I'm trying to do validate my schema via `php bin/console doctrine:schema:validate`, but i get an error output I reliazed after trying to call on any Doctrine command i get the exact message and i dont know where it comes from.  :

[code]

[2021-10-19 10:36] #43581 closed, assigned to nobody

[2021-10-19 11:07] BeyerJC commented on #43560
[code]

I just checked and this condition results to false, thats why the twig function is not registered.  Twig-Bridge and Security-Bundle are installed and loaded.

Anything i can provide thats helps debugging this ?

[code]

[2021-10-19 11:23] GromNaN commented on #42962
I'm going to do the clean.

[2021-10-19 11:24] GromNaN commented on #38275
What about creating an issue to add completion to framework commands, like @fabpot did in #37186?

[2021-10-19 11:50] fabpot commented on #38275
@GromNaN That would make sense. Do you want to create this issue? We can then advertize it on Twitter to get more people involved.

[2021-10-19 11:58] xabbuh commented on #43560
Can you please also share your `composer.json` file?

[2021-10-19 11:58] BeyerJC commented on #43560
Maybe this can help:

![image](https://user-images.githubusercontent.com/34127121/137904797-c2a8f6d0-c651-4cab-94f7-fd0422db2130.png)

[2021-10-19 12:00] BeyerJC commented on #43560
[code]

[2021-10-19 12:03] xabbuh commented on #43560
Does it change anything if you require the Twig bridge explicitly so that it is not installed as a transitive dependency?

[2021-10-19 12:11] BeyerJC commented on #43560
Yes ! Nothing was installed or updated but now its working !
[code]

But is it correct to have it explicitly added ?

[2021-10-19 13:04] 7system7 commented on #38316
I have the same issue.

[2021-10-19 13:06] derrabus commented on #38586
Oh well. Thanks for the reminder, @carsonbot.

[2021-10-19 13:21] wouterj commented on #38275
This PR implemented on such feature. A good first step would be to investigate where Symfony uses option/argument values and which of these values can/should be completed (command and option names are already autocompleted).

[2021-10-19 14:39] danieldenbraven commented on #43509
@javaDeveloperKid I'm sorry, but this is just not reasonable, no one uses Symfony like this and you can't expect people to duplicate their code just for this (look at the code examples and the Symfony documentation on how to use Forms and Entities). This is definitely a design issue of how the Forms and the Validator components work with the latest versions of PHP. We're struggling with this right

[2021-10-19 15:19] stof opened #43592 "[Console] Implement completion for zsh"
Bash completion was implemented in https://github.com/symfony/symfony/pull/42251

It would be great to have support for zsh as well.

[2021-10-19 15:27] fabpot commented on #43592
fish would be awesome (as this is what I'm using :))

[2021-10-19 15:29] stof commented on #43592
@fabpot I suggest creating a separate issue asking for help for it (so that different people can work on them, and they can each get closed when they are implemented)

[2021-10-19 16:00] GromNaN opened #43594 "[DX] Add completion to Symfony commands"
Completion of command arguments and options is coming in Symfony 5.4 (#38275). Command and option names are already autocompleted, but argument and option values needs to be implemented on each command.

As an example, [#42251](https://github.com/symfony/symfony/pull/42251/files#diff-771e524eaa21e31d32047fda540ba0b53222c74e693bee5a45f6da7fa1644571R87-R96) added completion to  `secrets:remove`.

Th

[2021-10-19 16:03] GromNaN commented on #38275
I created the issue here: https://github.com/symfony/symfony/issues/43594

[2021-10-19 19:53] GromNaN commented on #43594
I'm taking `help` and `list` commands.

[2021-10-19 20:52] Nyholm commented on #42194
@wouterj Is there some specific reason we are using seconds?
What about using microseconds everywhere in version 6.0? (ie still using integers)

[2021-10-19 20:54] wouterj commented on #42194
I don't personally see a use-case of limiting that requires microsecond precision. Are there such use-cases?

[2021-10-19 21:01] Nyholm commented on #42194
Not so much for limiting a user's login attempts but for API requests. I think it make sense. Sure, API authors can have the attitude of "just wait a bit longer", but it seams non-optimal for a library to use seconds.

Changing to microseconds would also line up with messenger and their delay/retry.

------

So Im on the fence, but Im leaning towards microseconds because it gives more freedom to t

[2021-10-19 21:15] jlekowski commented on #42194
@wouterj, @Nyholm, thanks a mill for your time and having a look at this. I will prepare a PR with the changes.

[2021-10-19 21:19] wouterj commented on #42194
Those users should not at all rely on a rate limiter build in php and requiring a full Symfony kernel boot 😅 (as also lined out in the docs, such tooling should be done as close to the edge as possible).

In any case, I guess adding it doesn't hurt much and if @jlekowski wants to put some time into making it like that, I guess there is nothing left to really
"reject" a feature like this.

[2021-10-19 21:30] Nyholm commented on #42194
@jlekowski please ping me in the pr

[2021-10-19 21:49] GromNaN commented on #43594
1. Since `compgen` filters the suggestion with the current input, can we agree that we don't have to filter in PHP? If filtering is necessary, it should be implemented in `CompletionSuggestions`.

2. Several commands uses the `DescriptorHelper` and have common options `--format`. Some code might be factorized.

[2021-10-19 22:04] andyexeter commented on #43594
I'll take `cache:pool:clear` and `cache:pool:delete`.

Should I wait for #43596 to be merged? Seems like that has a couple of useful things for testing.

[2021-10-19 22:27] GromNaN commented on #43594
@andyexeter they are yours.
I will wait for reviews to decide if [the testing class](https://github.com/symfony/symfony/pull/43596/files#diff-daa333a1679e670f76cd7f0e81752cf91f181303608740238353f2269c57c46eR24) is accepted.

[2021-10-20 00:17] reypm commented on #43592
@stof does not the implementation for `bash` works for `zsh` as well as per this line here: https://github.com/symfony/symfony/pull/42251/files#diff-413f288275127b30e381048947488a84bdd0f09e48080c647ba2896db4431e6aR43 ? also - maybe not related - but would be nice to create a new plugin for OhMyZsh (pretty sure a lot of us use it) for the newest Symfony versions.

 - https://github.com/ohmyzsh/ohmy

[2021-10-20 01:35] StaffNowa commented on #43594
I can try help uuid and config 🤔

[2021-10-20 02:35] PHPTCloud opened #43597 "syntax error, unexpected '?', expecting function (T_FUNCTION) or const (T_CONST)"
**Symfony version(s) affected**: 5.4.*

**Description**
/vendor/laminas/laminas-code/src/Generator/ClassGenerator.php (line 36)

**How to reproduce**
after `composer i` (PHP 7.4.21)

[2021-10-20 02:52] IonBazan commented on #43594
Can I take following?
- `debug:firewall`
- `debug:form`
- `debug:messenger`
- `debug:router`

Also, is there a way to suggest directories or files? Using Finder for that seems a bit overkill.

[2021-10-20 05:36] derrabus commented on #43597
This is the Symfony bug tracker. Issues for Laminas Code are tracked here: https://github.com/laminas/laminas-code

[2021-10-20 05:37] #43597 closed, assigned to nobody

[2021-10-20 06:18] GromNaN commented on #43594
@StaffNowa `ulid:generate` and `uuid:generate` are for you.
@IonBazan you get `debug:firewall`, `debug:form`, `debug:messenger`, `debug:router`.

File and directory autocompletion seems to be a native feature of `compgen`: https://unix.stackexchange.com/a/26733

[2021-10-20 06:29] #43575 closed, assigned to nobody

[2021-10-20 06:49] dkarlovi commented on #43594
@wouterj and I discussed files/folders being completed by falling back when nothing is suggested by Symfony. It will require a small tweak to the completion script generator.

[2021-10-20 06:57] IonBazan commented on #43594
@GromNaN I'm asking because `compgen` supports filtering files and directories: https://www.linuxjournal.com/content/more-using-bash-complete-command and some commands we use, like `lint:twig` should only accept `*.twig` files and some other accept only directories, not files.

[2021-10-20 07:02] dkarlovi commented on #43594
@IonBazan you should assume paths will get completed by `compgen` indeed. :+1:

The plan is to add a feature to the completion which will allow "signaling" from the completion output to the completion script, something like suggesting (just an example)
[code]

and the completion script running native filtering. I guess it's too late to add this now (feature freeze)? /cc @wouterj

[2021-10-20 07:04] fabpot commented on #43594
@dkarlovi It's not too late, but we would need to add support quickly if we want to have it in 5.4.

[2021-10-20 07:20] dkarlovi commented on #43594
@fabpot this described feature is sure nice, but take into account that the completion script should get tweaked that it falls back to the native completion anyway if Symfony doesn't suggest anything, as noted in https://github.com/symfony/symfony/issues/43594#issuecomment-947378122 That is a much smaller change so doable today.

It will result in paths being completed as they usually would, so it

[2021-10-20 07:41] wouterj commented on #43594
To keep things focused: please open a poc PR or issue if we need to discuss the file completion more in detail. Personally, given the late timing of this feature, I would propose to just rely on the default file autocompletion as a fallback. Then, in 6.1 (or later, whenever someone has time) we can introduce filtered file autocompletion by using signaling.

Symfony <5.4 had zero auto completion, h

[2021-10-20 07:42] dkarlovi commented on #43594
I just realized falling back when Symfony suggests **nothing** doesn't work because Symfony might be right.

For example, completing this:
[code]

to

[code]

is incorrect since **Symfony was right** to suggest nothing: in this context it's completing command names and there is no command matching this pattern, it would yield bad UX.

So, seems signaling (however primitive) is the only correct way

[2021-10-20 08:06] wouterj commented on #43594
Taking inspiration from https://github.com/posener/complete/tree/master , the only thing we might need to introduce in 5.4 is a `complete.nothing` "signal".

1. Values suggested? -> complete suggested values
2. "nothing" returned? -> don't do anything
3. No values suggested (e.g. no complete support yet)? -> fallback to default bash behavior (i.e. complete files/dirs)

[2021-10-20 08:15] wouterj commented on #43592
@adhocore is working on a zsh implementation :)

[2021-10-20 08:21] nicolas-grekas opened #43600 "Using typed properties on public/protected properties"
Right now, we added types to private/final/internal properties only because they're the only ones we can change without breaking BC.

For public/protected properties, adding a type breaks BC when a child class redeclares an existing properties. The reason is that redeclared properties must have the exact same type and their parent properties. Neither variance nor covariance is allowed for properti

[2021-10-20 08:36] adhocore commented on #43592
more like trying to work on it hehe :)

two approaches:
- generic auto-completer: for cmd and options list it could literally generate list of commands and options on the fly by parsing the `list/help` output and then for the contextual option values it can delegate to the capability of each of the command to supply the list
- compiled auto-completer: one time manual generation of auto-completable

[2021-10-20 08:49] derrabus commented on #43600
This would cause a lot of confusion especially if we do this on classes that don't extend Symfony classes.

https://github.com/symfony/symfony/blob/e3e59469d9f28d0cca5057ee3a589593bbe2637d/src/Symfony/Component/HttpFoundation/Response.php#L147

There's a handfull of places where we have `public static` properties. Those are grep-able. 🙂

For most cases I've found, I'd say that we expect those prop

[2021-10-20 08:51] stof commented on #43600
I agree with @derrabus here. That DebugClassLoader warning probably requires an opt-in, as the DebugClassLoader does not apply only on code extending Symfony classes.

[2021-10-20 08:54] nicolas-grekas commented on #43600
It all depends on the frequency of redeclaring a public/protected property. I don't have stats, but I would think this should be pretty uncommon. If that's the case, then I think we can still do it.

[2021-10-20 08:57] derrabus commented on #43600
I've seen proprietary codebases where overriding a property with a value was a common extension point. That might be ugly design, but I don't think that our `DebugClassLoader` should force that opinion on existing codebases.

[2021-10-20 09:00] nicolas-grekas commented on #43600
`DebugClassLoader` doesn't trigger deprecations for classes in the same vendor. That should cover that.

[2021-10-20 09:06] 99hops opened #43601 "Messenger PostgreSQL use_notify not working with Doctrine DBAL 3"
**Symfony version(s) affected**: 5.3.9

**Description**
After update to Doctrine 2.10.1 which is "current" consumers using PostgreSQL are failing

**How to reproduce**
[Discussed here](https://github.com/doctrine/dbal/issues/4893)

**Possible Solution**
 The driver connection does not extend the PDO connection anymore. There's a getWrappedConnection() method in case you need to access it.

[2021-10-20 09:09] dkarlovi commented on #43594
@GromNaN `completion` command actually has an argument which you can suggest, `shell`.

[2021-10-20 09:16] stof commented on #43592
@adhocore the idea is to rely on the architecture done by @wouterj, so that the same code in `Command::complete()` can work for all shells. We don't want devs to implement 2 or 3 different ways to provide completion (the differences between zsh and bash should be handled in symfony/console)

[2021-10-20 09:18] stof opened #43602 "[Console] Add completion for fish"
Bash completion was implemented in #42251

It would be great to have support for fish as well.

[2021-10-20 09:25] derrabus commented on #43601
Just to recap: You did upgrade to `doctrine/dbal` 3.1 and then the problem appeared? Have you tried downgrading DBAL to 2.13? Can you provide a stack trace of the issue?

[2021-10-20 09:37] dkarlovi opened #43605 "[Console][Completion] Notice: Undefined index: CompletionInput.php:120"
**Symfony version(s) affected**: 5.4-dev

**Description**

[code]

**How to reproduce**

[code]

Completing here triggers the bug. Equivalent completion command invocation (added #43604 to find this):

[code]

[2021-10-20 09:49] #41071 closed, assigned to nobody

[2021-10-20 09:58] derrabus commented on #43605
cc @wouterj

[2021-10-20 10:07] 99hops commented on #43601
I did upgrade doctrine/orm 2.9.0 => 2.10.1 which upgraded doctrine/dbal 2.13.4 => 3.1.3 as dependency.
Locking doctrine/orm to 2.9 ("doctrine/orm": "2.9") downgrades  doctrine/dbal 3.1.3 => 2.13.4 which solves the issue.

My point is that we need to support the current version of doctrine/orm (2.10.1) as 2.9 is now unmaintained.

[2021-10-20 10:08] dkarlovi opened #43607 "[Console][Completion] fallback to native (filesystem) completion when Symfony completion not implemented"
**Symfony version(s) affected**: 5.4-dev

**Description**
See https://github.com/symfony/symfony/issues/43594#issuecomment-947385485 for details.

**How to reproduce**

When trying to autocomplete
[code]

the argument is a file path, it should be completed by the native filesystem method.

**Possible Solution**

Described by @wouterj
https://github.com/symfony/symfony/issues/43594#issuecomment-947

[2021-10-20 10:09] welcoMattic commented on #43594
@GromNaN Great initiative! I can help to make auto-complete for `translation:pull` and `translation:push` commands

[2021-10-20 10:18] dkarlovi opened #43608 "[Console][Completion] allow "signaling" from the completion command to the completion script"
**Description**

Assuming #43607 is implemented (which implies a single signal, `null`), native filesystem is used as a fallback when Symfony doesn't have any completion to do (and doesn't explicitly say there's no matching values, the mentioned `null` signal).

Some values completed by native methods could get additional processing, for example the value could only be allowed to be a file path (n

[2021-10-20 10:21] GromNaN commented on #43594
@welcoMattic you are the one for `translation:pull` and `translation:push`.

[2021-10-20 10:27] wouterj commented on #43594
Just a recap of the debugging info (as it's not yet documented):

 1. You can enable debug mode by running `export SYMFONY_COMPLETION_DEBUG=1` once in your shell
  2. Then open another terminal window and run `bin/console completion --debug`.
  3. Enjoy live debugging information when trying to use the bash completion in the shell of (1):
     ![image](https://user-images.githubusercontent.com/749

[2021-10-20 10:35] makraz commented on #43594
@GromNaN I'm taking `lint` commands

[2021-10-20 10:51] dkarlovi commented on #43594
@GromNaN I'll take the `completion` command.

[2021-10-20 10:57] dkarlovi commented on #43592
@adhocore "zsh support" should have zsh equivalents:
- this template file: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Console/Resources/completion.bash
- this output class: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Console/Completion/Output/BashCompletionOutput.php

[2021-10-20 11:00] dkarlovi commented on #43602
fish support should have fish equivalents:
- this template file: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Console/Resources/completion.bash
- this output class: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Console/Completion/Output/BashCompletionOutput.php

[2021-10-20 11:21] AndreasA commented on #43254
Created a PR now (for docs and symfony). Hopefully I did everything correctly, first symfony PR. However, one integration test is failing but it shouldn't be related to my PR at all (MemcacheAdapter)?

[2021-10-20 11:31] GromNaN commented on #43594
@makraz `lint:twig`, `lint:xliff` and `lint:yaml` are for you.
@dkarlovi `completion` is for you.

[2021-10-20 12:44] derrabus commented on #43601
You know that you can use ORM 2.10 with DBAL 2.13, right?

Anyway, I don't want to suggest downgrades as a solution. I want to trace down your problem. So if you could answer my questions, that would very much help me help you.

[2021-10-20 12:59] #43605 closed, assigned to nobody

[2021-10-20 13:00] alexandre-daubois commented on #43594
Hey! I'd like to take `debug:translation`! :+1:

[2021-10-20 13:03] alexandre-daubois commented on #43594
Hey @GromNaN! I'd like to take `debug:translation`! :+1:

[2021-10-20 13:25] #43566 closed, assigned to nobody

[2021-10-20 13:36] GromNaN commented on #43594
Sure @alexandre-daubois `debug:translation` is in your hands.

[2021-10-20 13:38] ziat1988 opened #43613 "Messenger with Doctrine transport not consuming some messages"
**Symfony version(s) affected**: 4.4

**Description**
My task is sending a bulk emails. And what i do is in the loop, each email will be sent as a message.
When I run the command "php -d memory_limit=-1 bin/console messenger:consume async -vv", for some reasons, and sometimes  there are still some records in my database.
I have tried stop workers and re run command but it only works for the news m

[2021-10-20 13:44] #43613 closed, assigned to nobody

[2021-10-20 14:13] guillaume-a commented on #43602
[Fish custom completion doc](https://fishshell.com/docs/current/completions.html)

[2021-10-20 14:20] ghost commented on #43509
@danieldenbraven
I think you don't understand this issue. What latest versions of PHP have in common with this problem? The OP doesn't even use property typehints in his example. For years you must have had the getters and setters nullable (so as a consequence corresponding fields were nullable also) if you map an entity to form's data_class. This is just how the Form Component works.
- get raw da

[2021-10-20 14:26] Nek- commented on #43509
Actually he does, and it's the error (TypeError).

About your idea of just stopping using forms but doing it with API Platform, I really do not understand your point of view for 3 reasons:
1. Symfony is supposed to be RAD, and so we should be able to use entities in forms and it should not trigger errors (I mean, after all, it's documented!).
2. How using an API instead of a simple form can be a s

[2021-10-20 14:36] derrabus commented on #43509
I agree that the DX could be nicer here. But somebody has to build that. Any volunteers? 🙂

[2021-10-20 14:38] xabbuh commented on #43509
In the [RichModelFormsBundle](https://github.com/qossmic/rich-model-forms-bundle) we among other use cases also deal with type errors when mapping user input from the input data to the model. Anyone wanting to improve DX here please feel free to take inspiration from the code there.

[2021-10-20 14:48] xabbuh commented on #40570
closing here as nobody cared enough to create a PR

[2021-10-20 14:48] #40570 closed, assigned to nobody

[2021-10-20 16:22] aique opened #43618 "json_decode issue on RedisReceiver"
**Symfony version(s) affected**: 5.4

**Description**
Not sure if it's a bug, but when I consume a message, I get the error "Warning: json_decode() expects parameter 1 to be string, array given", because https://github.com/symfony/redis-messenger/blob/5.4/Transport/RedisReceiver.php#L47 is getting $message['data'] instead $message['data']['message'].

This is the $message value at this point:

[co

[2021-10-20 16:41] derrabus commented on #43594
If I were to enable commands in 3rd party packages to provide completion, is there a good way to do that if that package should remain compatible with Symfony 4.4? After all, the interface I need to implement does not exist there.

[2021-10-20 16:43] KojoEnch commented on #27441
"_Duplicating the parent properties_" is not a solution indeed, but prepend the parent class properties would be really useful in some cases.

Is there a way to know if a property is a child or a parent one from within a custom normalizer, like below ?

[code]
Any tip warmly welcome.

[2021-10-20 16:59] dkarlovi commented on #43594
@derrabus IMO that should be discussed in a separate issue since it might be of interest to many other people and is likely to be somewhat elaborate.

[2021-10-20 17:07] derrabus opened #43620 "[Console] Implementing bash completion in a forward-compatible way"
If I were to enable commands in 3rd party packages to provide completion, is there a good way to do that if that package should remain compatible with Symfony 4.4? After all, the interface I need to implement does not exist there.

_Originally posted by @derrabus in https://github.com/symfony/symfony/issues/43594#issuecomment-947843844_

[2021-10-20 17:07] derrabus commented on #43594
Agreed. I've created a new issue for that. Sorry for the disruption. 🙂

[2021-10-20 17:09] derrabus commented on #43620
Brainstorming: Maybe this is just a documentation issue. Or maybe we can move the interface into a contract package to unblock forward-compatibility.

[2021-10-20 17:09] derrabus commented on #43620
cc @wouterj

[2021-10-20 17:35] scyzoryck commented on #43594
Can I grab following commands, please? :)

-  `messenger:failed:remove (id, --transport)`
-  `messenger:failed:retry (id, --transport)`
-  `messenger:failed:show (id, --transport)`

[2021-10-20 17:48] GromNaN commented on #43594
Yes of course @scyzoryck. That's noted.

[2021-10-20 19:37] gkalligeros commented on #43436
there you are

[2021-10-20 19:42] dkarlovi commented on #43620
A a cludge solution, you can conditionally are the interface to the commands if it exists, maybe?

Something like

[code]

Not pretty, but works.
[code]

[2021-10-20 20:07] derrabus commented on #43620
Yes, I was thinking about something similar: Create a dummy interface that conditionally extends the real interface:

[code]

That gives me an interface that I can always implement. Maybe that's the solution already.

[2021-10-20 20:09] dkarlovi commented on #43620
Yours is better! 👌

[2021-10-20 20:14] danielTiringer commented on #43437
I'll add the missing translation.

[2021-10-20 20:21] wouterj commented on #43620
A contracts package is not easily possible I think, as `CompletionInterface` relies on `CompletionInput` and `CompletionSuggestions`.

One thing that I won't reject (it was also discussed shortly on the PR): Drop the `CompletionInterface` and add a no-op `complete(...)` method to the `Command` class - which can be overridden by the child when desired.
This might also open up the possibility of usi

[2021-10-20 21:44] derrabus commented on #43620
🤔 💡 Like this? #43628

[2021-10-20 22:04] eclairia commented on #43594
Hello @GromNaN,

Can I take the following commands?

- `debug:autowiring (search)`
- `debug:config (name, path)`
- `debug:container (name)`

[2021-10-20 22:27] wouterj commented on #43594
@eclairia sure, they are yours now!

[2021-10-20 22:43] ThomasLandauer opened #43629 "[Form] Bootstrap 5 Theme: Better support toggle buttons or document status-quo?"
**Description**
The form theme is **almost** supporting "toggle buttons" https://getbootstrap.com/docs/5.1/forms/checks-radios/#toggle-buttons - so my question is how to proceed.

Status:
By adding
[code]
... you're getting:
[code]
According to the Bootstrap docs, `form-check-input` shouldn't be added to the `<input>`, but it's hard-coded in the form theme: https://github.com/symfony/symfony/blob/

[2021-10-20 23:36] derrabus commented on #43601
Can you please test if #43630 fixes the problem for you?

[2021-10-21 02:28] SaucyGames05 commented on #43558
I would like to work on this :D

[2021-10-21 06:29] #43436 closed, assigned to nobody

[2021-10-21 06:29] #43437 closed, assigned to nobody

[2021-10-21 07:11] 99hops commented on #43601
Here is the trace with DBAL 2.13.4
[code]
While the proposed fix doesn't throw error with DBAL 3.1.3 it does throw another error when downgraded to 2.13.4

[code]

[2021-10-21 07:37] fritzmg commented on #40070
If you use `native://default` then the [`sendmail_path` PHP setting](https://www.php.net/manual/en/mail.configuration.php) is used. If your hosting environment uses `-t` in their `sendmail_path` you would then need to change it there, if you don't want that. Keep in mind that PHP's default is:

[code]

If you use `sendmail://default` then [Symfony Mailer's default command](https://github.com/symfo

[2021-10-21 08:00] seb-jean commented on #40333
Hi,
Yes this bug is still relevant.

[2021-10-21 08:12] Tayfun74 commented on #43594
Hi, can I take the `messenger:setup-transports` command?

[2021-10-21 08:27] derrabus commented on #43601
I've pushed another fix to that PR, can you please check again?

Apparently we're lacking a real integration test that covers the Postgres-specific logic for the messenger. I'll create an issue for that.

[2021-10-21 08:33] derrabus opened #43631 "[Messenger] Integration test for Postgres consumers"
**Symfony version(s) affected**: 5.3.9

**Description**
Discovered while working on #43630. The Postgres-specific logic in `PostgreSqlConnection::get()` is not covered by integration tests. This is why an API change between DBAL 2 and 3 was not found by the test suite.

**Possible Solution**
We already run integration from other components tests against a real Postgres database. We should do the s

[2021-10-21 09:43] #43620 closed, assigned to nobody

[2021-10-21 09:52] GromNaN commented on #43594
@Tayfun74 sure, you got it.

[2021-10-21 09:55] GromNaN commented on #43594
Thank you all for working on the commands. Pull Requests must be rebased since the interface have been removed in #43628.

[2021-10-21 09:56] tmurtazin commented on #43601
I checked current #43630 , that solves the same problem for me (DBAL 3.1.3)

[2021-10-21 10:00] shokhaa commented on #41089
@fabpot in all branches?

[2021-10-21 10:22] Bilge commented on #23956
When was this "glob" syntax ever documented? Since when were parens and pipes ever in any glob implementation?

[2021-10-21 13:01] ericmorand opened #43636 "Requiring HTTP Kernel package doesn't install the Config package"
**Symfony version(s) affected**: 5.3.9

**Description**

The `symfony/http-kernel` package depends on `symfony/config` - for example here:

[code]

But requiring `symfony/http-kernel` doesn't install `symfony/config`.

**Steps to reproduce**

`composer require symfony/http-kernel`

The directory `vendor/symfony` doesn't contain `config`.

[2021-10-21 13:05] ericmorand commented on #43636
It seems like `symfony/config` is a dev dependency of `symfony/http-kernel`.

[2021-10-21 13:09] ericmorand commented on #43636
Actually, it seems that most of the package dependencies are declared as dev dependencies, preventing them from being installed alongside `symfony/http-kernel`.

[2021-10-21 13:10] stof commented on #43636
symfony/config is an optional dependency of symfony/http-kernel, because is is necessary only when using the Kernel class, but not when using only the HttpKernel one (note that the Kernel class also depends on `symfony/dependency-injection`, which is also an optional dependency of the component for the same reason)

[2021-10-21 13:12] cussack commented on #41130
I can confirm the issue with nested caching inside parallel AJAX requests and unfortunate key combinations. Reproducing it manually becomes pretty easy if you reduce the amount of files available for locking to only two, but it's still hard to build an automated test case in plain PHP since it's a concurrency issue.

The real issue here is that there's no timeout to the locks, and a timeout would

[2021-10-21 13:15] ericmorand commented on #43636
So, the Kernel class is provided by `symfony/http-kernel` but can't be used except by requiring an _optional_ dependency? Is this a valid pattern? Config is not optional since it is required by _at least one_ part exposed by the HTTP Kernel component. Would it be optional, the HTTP Kernel would work even when the config component is not installed.

Having to install it to use one of the classes ex

[2021-10-21 13:26] stof commented on #43636
@ericmorand optional dependencies are dependencies required by optional features of a component. You can totally use `symfony/http-kernel` without using the Kernel class (that's exactly what Silex was doing).

[2021-10-21 13:30] webmozart commented on #40794
@carsonbot From my POV this is still open. In one of our projects, we ditched environment variables completely and reintroduced parameters.yaml to make this manageable for our developers. That's not really a solution though.

I reread the thread and still think my approach would facilitate the problem.

* At build time, all environment variables *from the current environment* are compiled into the

[2021-10-21 13:34] ericmorand commented on #43636
Fair point. Can you please provide the link to the documentation with the list of optional features of the HTTP Kernel component?

[2021-10-21 13:38] stof commented on #43636
I don't think the documentation has a list of those (especially given that the doc tends to focus on the usage of components in the context of the framework, and so may not even have docs about the standalone usage of symfony/http-kernel).

The composer.json of `symfony/http-kernel` lists the optional dependencies as package suggestions. But currently, it misses the explanation about why they are

[2021-10-21 14:26] event15 commented on #27921
@kiler129 I know it's been a few years, but I'd like to ask if you plan to return to this code? Do you have a branch somewhere that you started working on that someone could finish for you?

I would like to refresh the discussion here as I am using Laravel which uses TwigBridge to use twig in a project.After caching the views, I started getting the same error whenever there is a twig error.

[2021-10-21 14:50] yyaremenko opened #43637 "[PropertyAccess] No exception if either adder or remover is missing for a collection"
**Symfony version(s) affected**: 5.3

**Description**
[The documentation](https://symfony.com/doc/current/components/property_access.html#writing-to-array-properties)  says **both** adder and remover are mandatory, but there is no check for this requirement on the code side.

**How to reproduce**
1. Create a class which can hold a collection (an array) of other classes.
2. For such class collectio

[2021-10-21 15:52] stof commented on #40411
@meigwilym @Padrig @houdmont you contributed to those translations in the past, so maybe you can help updating them.

[2021-10-21 16:00] meigwilym commented on #40411
I can take a look at this.

[2021-10-21 16:07] fabpot commented on #41089
We just need a PR on the 4.4 branch as the translations are the same on all branches.

[2021-10-21 16:08] stof commented on #41089
@fabpot is the `en` file the same on all branches too, or should the reference be taken in the 5.4 branch ?

[2021-10-21 16:11] #43601 closed, assigned to nobody

[2021-10-22 06:29] #43429 closed, assigned to nobody

[2021-10-22 06:49] alexandre-daubois commented on #43594
Hi @GromNaN, I'd like to take `server:dump` as well! :slightly_smiling_face:

Also, does the `assets:install` commands really needs completion on `target` argument, as this argument must be a folder?

[2021-10-22 07:03] xabbuh commented on #41859
Can you create a small example application that allows to reproduce your issue?

[2021-10-22 07:10] GromNaN commented on #43594
Ok @alexandre-daubois 👍🏻

[2021-10-22 08:35] htuscher opened #43645 "Error messages don't show service causing the issue"
If you get a new project and the first thing you encounter executing `bin/console` is:

[code]
it doesn't help you very much.

I would suggest that the DI component always tells you in which service you're having an issue.

In my case I had to start xdebug to see which definition caused the issue (which was in my case a compilerpass from a third party bundle).

[2021-10-22 08:38] stof commented on #43645
the issue is that the Definition object does not know the id under which it is registered in the ContainerBuilder, and so cannot put it in the messages (and a Definition is not always registered under an id, as you can nest anonymous definitions inline in arguments of other services)

[2021-10-22 08:38] BigChicChicken opened #43646 "Make PropertyAccessor more extensible"
**Description**
Change private methods of `Symfony\Component\PropertyAccess\PropertyAccessor` to protected for make the class overwritable.

**Example**

[code]

[code]

[2021-10-22 08:43] stof commented on #43646
Making things protected basically forbids us from doing any change in the component, as we would have to preserve BC about when we use those protected methods. So this won't be accepted with a justification of "make the class overwritable" (the cost of protected API is very high for maintainers, as inheritance is the worst kind of extension point regarding backward compatibility).

Please describe

[2021-10-22 08:45] stlrnz opened #43648 "[Security] User is loaded on every request"
**Symfony version(s) affected**: 5.3.9

**Description**
After upgrading my application to Symfony 5.3 I tried to enable the new security system. Everything seems to work well. However, I discovered that a fresh user object is loaded by the UserProvider on **every request** (although it is still beeing loaded from the session).
I'm using REMOTE_USER authentication and a custom User and UserProvider

[2021-10-22 08:50] xabbuh commented on #43648
Can you try to debug where the call to `loadUserByUsername()` is coming from?

[2021-10-22 09:04] stlrnz commented on #43648
Sure. It's starting from the AuthenticatorManager which tries to create an AuthenticatedToken
https://github.com/symfony/symfony/blob/9f43121357bfdba3209de6bb974384ff36d8506f/src/Symfony/Component/Security/Http/Authentication/AuthenticatorManager.php#L193

https://github.com/symfony/symfony/blob/9f43121357bfdba3209de6bb974384ff36d8506f/src/Symfony/Component/Security/Http/Authenticator/AbstractPreA

[2021-10-22 09:20] BigChicChicken commented on #43646
I need to change the default `writeCollection` method because the actual logic can break SQL contraints integrity.

For exemple, you have three entities: Category, SubCategory and Product.

A Category have one or more SubCategory and a SubCategory have only one Category.
A Product have one SubCategory and a SubCategory can have multiple Product.

With this configuration if you want to change a Cat

[2021-10-22 09:23] htuscher commented on #43645
OK, then at least the classname so you can search for at least something in your project

[2021-10-22 09:37] Wirone commented on #27921
@nicolas-grekas at this point, if fix could be delivered, from which version should it be forked? Latest supported `4.4`?

[2021-10-22 09:58] stof commented on #43646
to me, this is something that should be solved in the adder of your object rather than by extending the PropertyAccessor.

[2021-10-22 09:59] stof commented on #43646
or maybe something to be solved in your code *before* using the property accessor (your form for instance) to make it use the right Category instead instead of a new one.

[2021-10-22 10:40] 94noni commented on #43594
@GromNaN @wouterj Hi,

May I take and work on both commands `security:encode-password (user-class)` & `security:hash-password (user-class)`?
Thanks

[2021-10-22 10:49] wouterj commented on #43594
Of course @94noni. Good luck :) (I'm not sure if there is a way to find all user classes in an application)

[2021-10-22 11:48] 94noni commented on #43594
@wouterj I saw that both commands have `private $userClasses`, thus I thought we are talking about this data
I do not understand your comment here, I'll open a PR to discuss on it

[2021-10-22 12:06] Kocal commented on #43594
Hi everyone, can I try to add autocompletion to `debug:validator` command?

Thanks!

[2021-10-22 12:10] huzineczerik commented on #43339
@lljaworski

Thank you for your idea. We installed the [RabbitMq](https://www.rabbitmq.com/) and changed the messenger transport to amqp and it seems it is working!

Sorry for the late answer.

[2021-10-22 12:36] wouterj commented on #43594
Yes, it's yours now @Kocal

[2021-10-22 13:06] #40131 closed, assigned to nobody

[2021-10-22 13:37] xabbuh commented on #43618
see #43656

[2021-10-22 13:45] Kocal commented on #43594
What is the best way to suggest values for `class`?

Ideally I would like to suggest all classes that can be debugged (ie. with call to `$this->validator->hasMetadaFor($class)`), but how can I get initial classes list:
- I can't get those classes from the Container (and that's a good thing, since Doctrine Entities are generally excluded from the Container).
- I can't use `get_declared_classes()` b

[2021-10-22 14:18] garak commented on #40894
I do.

[2021-10-22 14:52] umulmrum opened #43658 "[EventDispatcher] Performance of TraceableEventDispatcher::getNotCalledListeners()"
**Description**
I analyzed performance issues in my project in the dev environment when I saw that `TraceableEventDispatcher::getNotCalledListeners()` is using up quite a bit of CPU. This is because all event listeners are instantiated which means that their dependencies are also loaded which in my case ultimately leads to the instantiation of multiple Doctrine repositories and therefore lots of a

[2021-10-22 15:08] Gielovic commented on #25609
I agree. The bug i.m.o. is very relevant and can cause security incidents.

In our case, we created a custom voter, denying access to a certain resource for a user in 'demo-mode'.
With a **unanimous** decision, the user would get a 403.

however, in the prod environment, we enabled login throttling  in config/packages/prod/security.yaml
to find out later, that users were able to access the content

[2021-10-22 16:52] Yahav opened #43662 "[DomCrawler] Strips @click attribute on elements"
**symfony/dom-crawler version(s) affected**: v5.3.7

**Description**
DomCrawler seem to strip @click (on any attribute that starts with @) attribute from elements when using html()

**How to reproduce**
 https://phpsandbox.io/e/x/twxxr?layout=EditorPreview&defaultPath=%2F&theme=dark&showExplorer=no&openedFiles=
_**Click "run" at the right bottom of the screen**_

[2021-10-22 18:24] stof commented on #43662
This seems to be the behavior of the DOM extension of PHP. It looks like it ignores attributes starting with `@`

[2021-10-22 18:25] StaffNowa commented on #43594
Maybe I can help more 🤔

Command config:dump-reference (name, path)

[2021-10-22 18:31] GromNaN commented on #43594
@StaffNowa this is one more for you.

[2021-10-23 01:46] biji opened #43667 "Exception should render in json format for Ajax request"
**Symfony version(s) affected**: 4.4

**Description**

Exception should render in json format for Ajax request

**How to reproduce**

I have routes which can response html (form) and json (save via ajax).
When I add format json, exception rendered in json as expected, but the route can response in html too
[code]

**Possible Solution**

**Additional context**

[2021-10-23 02:48] biji commented on #43667
sorry, my issue fixed by adding `dataType: 'json'` to ajax request

[2021-10-23 02:48] #43667 closed, assigned to nobody

[2021-10-23 04:10] stephenkhoo commented on #43594
I would like to contribute for
debug:event-dispatcher (event, --dispatcher, --format) and translation:update (locale, bundle, --format, --domain, --sort)

but I have some question on the debug:event-dispatcher
The event seems like have dependency on the --dispatcher selected, will the autocomplete need to take this in account?

[2021-10-23 06:42] GromNaN commented on #43594
@stephenkhoo `debug:event-dispatcher` and `translation:update` are for you.

You should use already typed options/arguments to make completion more accurate ; like in #43598.

[2021-10-23 07:02] fabpot commented on #40894
Please, go ahead and create a PR.

[2021-10-23 08:16] stephenkhoo commented on #43594
Okay, will take note on that! Thank you.

[2021-10-23 08:16] David-Maran commented on #40632
I do not know. It's as described in the doc and it doesn't work. Maybe an update of the doc?

[2021-10-23 09:13] nuritnt commented on #43460
I am taking this over 👋🏽

[2021-10-23 13:06] #40549 closed, assigned to nobody

[2021-10-23 15:18] meiyasan commented on #42973
Dear @xabbuh,

Sorry for my late reply. I couldn't spent time on that before.
I can confirm the issue is persisting in 5.3.9.

Following up with you previous comment, I don't think we can really find a commit for this issue.
The point is that the "main" dispatcher has been split into two parts, while before there was only one dispatcher..
So I can still go back to a previous version, but the probl

[2021-10-23 15:25] meiyasan commented on #42973
I just found the origin of the security event dispatcher for my "main" firewall :
`./vendor/symfony/security-bundle/DependencyInjection/SecurityExtension.php(392)`

[2021-10-23 15:28] meiyasan commented on #42973
Printing the `$this->dispatcherLocator`, I can observe that serviceTypes if somehow casting the security dispatcher to be `Symfony\Component\EventDispatcher\EventDispatcher` :
[code]

[2021-10-23 15:34] meiyasan commented on #42973
I could eventually find that the dispatcher is called in `vendor/symfony/security-bundle/DependencyInjection/Compiler/RegisterGlobalSecurityEventListenersPass.php`, but
[code]

This guy is already returning an EventDispatcher instead of a TraceableEventDispatcher, but therefore not tracing the called listener..

[2021-10-23 18:24] Guuzen commented on #40906
Relevant for me. But my case is about allowPlaceholders(): false
Found that It restricts specification of emails in mailer.envelope.recipients via env variable

[2021-10-23 18:32] makraz commented on #43594
@GromNaN I'm taking commands:
- messenger:consume (receivers, --bus, --queues)
- server:log (--host, --format)

[2021-10-23 22:35] Justinas-Jurciukonis opened #43681 "AutowireRequiredMethodsPass::processValue infinite loop"
**Symfony version(s) affected**: 5.3.7

**Description**
In `symfony/dependency-injection/Compiler/AutowireRequiredMethodsPass.php@77` there is _final break_ from infinite loop. If it fails with any other error than `\ReflectionException` it will stay in infinite loop

**Possible Solution**
Make catch be more generic, to catch any `Throwable` to break from loop:

[code]

**Additional context**
This

[2021-10-24 06:28] #41089 closed, assigned to nobody

[2021-10-24 08:45] #42194 closed, assigned to nobody

[2021-10-24 10:00] wouterj commented on #43594
Hi @Kocal! I'm afraid we might not have a way to do that. Completing all class names wouldn't also be that useful (99% of them probably won't have any validation logic), but finishing half a string (e.g. `App\\Dto\\Pr<TAB>`) would be nice, but similarly impossible if we can't get all available class names.

[2021-10-24 10:05] Kocal commented on #43594
Hi @wouterj, thanks for your response!

That what I thought, even if we filter all available class names with `$validator#hasMetadata()`... If we can't get all available class names, then we can't do anything 😬

So what should we do about `debug:validator` command?

[2021-10-24 11:05] burned42 commented on #42589
@ohaag I think this probably got fixed by https://github.com/symfony/symfony/pull/43630

[2021-10-24 11:20] derrabus commented on #42589
Yes, it should have. Can you confirm, @ohaag?

[2021-10-24 12:07] xabbuh commented on #43681
Can you create a small example application that allows to reproduce your issue?

[2021-10-24 12:37] ohaag commented on #42589
I will as soon as I can (probably tommorow).
I'm not sur to understand perfectly the hotfix process. On what version is it available ? Is it live on 5.3.9 stable or should I update on a dev branch ? I don't know how it works as there was no release since the fix has been commited.

[2021-10-24 13:06] #40474 closed, assigned to nobody

[2021-10-24 16:12] StaffNowa commented on #43594
I can help with debug:twig 😏

[2021-10-24 16:27] phillamarmotte opened #43686 "attribute #[isGranted] behaviour with associated array in subject"
**Symfony version(s) affected**: 5.3.0

**Description**

when i use isgranted by injecting the security component i can pass an associative array as subject and get the same keys in the voter.
When i do the same with the #[IsGranted] attribute keys always have the name of the parameters.

**How to reproduce**

[code]

[code]
subject looks like [structure => ... , theme => ...] instead of [foo => .

[2021-10-24 20:11] chalasr commented on #42973
@xKZL Are you wiling to send a PR fixing this?

[2021-10-25 00:35] meiyasan commented on #42973
Yes, but I am lacking knowledges about internal Symfony architecture.. if I can find where the global event dispatcher gets decorated and where is called the security one I could surely do something.

[2021-10-25 06:29] #43453 closed, assigned to nobody

[2021-10-25 06:30] #43454 closed, assigned to nobody

[2021-10-25 10:13] nicolas-grekas commented on #43681
That's already what happens, there is no need to write any code to have this behavior.

A reproducer would definitely be nice as I don't see how this loop can be infinite right now.

[2021-10-25 10:20] lyrixx commented on #40837
A [solution has been provided](https://github.com/symfony/symfony/issues/40837#issuecomment-821514273)

If someone want to make it the default,

* A deprecation notice must be added on 5.4 saying the default value will change in 6.0 (don't forget the CHANGELOG.md and UPGRADE.md)
* The default value must changed on 6.0 (don't forget the CHANGELOG.md)

So I think we can close the issue.

[2021-10-25 10:39] gnito-org commented on #43686
It appears that the code of [IsGrantedListener](https://github.com/sensiolabs/SensioFrameworkExtraBundle/blame/7fd1d54c1b27f094a68ae15a99b7fc815857255f/src/EventListener/IsGrantedListener.php) has been like that for the past three years.

A very quick work-around is to make the array key the same as the name of the array value. That produces the same array structure from both `#IsGranted` and `$se

[2021-10-25 10:52] wouterj commented on #43686
Hi! This is the issue tracker for `symfony/symfony`. The `IsGranted` attribute lives in the SensioFrameworkExtraBundle. Please continue this report by creating an issue at https://github.com/sensiolabs/SensioFrameworkExtraBundle. Thanks!

[2021-10-25 10:52] #43686 closed, assigned to nobody

[2021-10-25 11:37] #40837 closed, assigned to nobody

[2021-10-25 13:24] LauLaman commented on #35925
I would love this.

I generate PDFs async with the symfony/messenger, thus the locale context is lost.
I know i can pass a locale env to all `|trans` and `|format_date` filters but an option to set it only once wil be super convenient.

[2021-10-25 14:25] stof commented on #35925
The case of a the async worker is precisely the case where the LocaleSwitcher service updating the state of all services implementing LocaleAwareInterface makes sense (you would then call the LocaleSwitcher at the beginning of the processing of the queue message.

[2021-10-25 14:27] BesedinSasha commented on #38132
Just realized that PHP desn't work by RFC =)

When I send file using

all is fine, but when I use current behavior

my `$_FILES` variable is empty

May we use some method for backward compatibility?

[2021-10-25 14:34] derrabus commented on #42589
The fix will be released with 5.3.10 and can already be tested on the 5.3 dev branch.

[2021-10-25 15:05] #43306 closed, assigned to nobody

[2021-10-25 18:31] colinodell opened #43703 "[RFC][Console] Ability to check if VALUE_OPTIONAL option was provided"
**Description**

Given a command option defined like this:

[code]

I would like to support three different behaviors in my application:

1. If `--save` is omitted, my command will write the results to stdout
2. If `--save` is provided (without any value), I would like it to default to the given default value of `default.csv`
3. If `--save=elsewhere.csv` is provided, I would like to obtain that us

[2021-10-25 20:03] Tobion opened #43705 "[Messenger] Deprecate MessageHandlerInterface"
**Description**
With the introduction of the attribute `AsMessageHandler` in #43588, the marker interface `MessageHandlerInterface` does not have any purpose except compatibility with PHP < 8. So IMO we should deprecate MessageHandlerInterface.

[2021-10-25 20:21] GromNaN commented on #43703
It is actually possible to distinct the 3 cases, but values are not self-evidents. The default value is returned when the option is not set.

With your example:
[code]

[code]

I would do the following:
[code]

[2021-10-25 20:30] colinodell commented on #43703
Ah, thanks for sharing that example! That does indeed seem to give the desired behavior within the command itself, and that might be the approach I'll have to use temporarily.

However, the downside is that the `--help` information will always show the default value as `php://stdout` and will never tell the user that `--save` without a value will use `default.csv`.  So yes, it does give the right

[2021-10-25 20:41] GromNaN commented on #43703
I'm afraid this can be done with a twist:
[code]

[2021-10-25 20:47] colinodell commented on #43703
That's a clever twist, but it doesn't work if the user specifies `--save=default.csv` because that would use stdout instead :upside_down_face:

[2021-10-25 22:36] GromNaN commented on #43506
Hi @ThomasLandauer, what do you think of this fix? https://github.com/symfony/symfony/pull/43707

[2021-10-26 06:29] carsonbot opened #43708 "Missing translations for Arabic (ar)"
Hello,

There are some missing translation for Arabic (ar). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf](https://github.com/symfony/symfony/blob

[2021-10-26 06:29] carsonbot opened #43709 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf](https://github.com/

[2021-10-26 06:29] carsonbot opened #43710 "Missing translations for Bulgarian (bg)"
Hello,

There are some missing translation for Bulgarian (bg). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf](https://github.com/symfony/symfony/b

[2021-10-26 06:29] carsonbot opened #43711 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf](https://github.com/symfony/symfo

[2021-10-26 06:29] carsonbot opened #43712 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf](https://github.com/symfony/symfo

[2021-10-26 06:29] carsonbot opened #43713 "Missing translations for Croatian (hr)"
Hello,

There are some missing translation for Croatian (hr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf](https://github.com/symfony/symfony/bl

[2021-10-26 06:29] carsonbot opened #43714 "Missing translations for Czech (cs)"
Hello,

There are some missing translation for Czech (cs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf](https://github.com/symfony/symfony/blob/

[2021-10-26 06:29] carsonbot opened #43715 "Missing translations for Danish (da)"
Hello,

There are some missing translation for Danish (da). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.da.xlf](https://github.com/symfony/symfony/blob

[2021-10-26 06:29] carsonbot opened #43716 "Missing translations for Dutch (nl)"
Hello,

There are some missing translation for Dutch (nl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf](https://github.com/symfony/symfony/blob/

[2021-10-26 06:29] carsonbot opened #43717 "Missing translations for Estonian (et)"
Hello,

There are some missing translation for Estonian (et). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.et.xlf](https://github.com/symfony/symfony/bl

[2021-10-26 06:29] carsonbot opened #43718 "Missing translations for Galician (gl)"
Hello,

There are some missing translation for Galician (gl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.gl.xlf](https://github.com/symfony/symfony/bl

[2021-10-26 06:29] carsonbot opened #43719 "Missing translations for Greek (el)"
Hello,

There are some missing translation for Greek (el). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.el.xlf](https://github.com/symfony/symfony/blob/

[2021-10-26 06:29] carsonbot opened #43720 "Missing translations for Hungarian (hu)"
Hello,

There are some missing translation for Hungarian (hu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf](https://github.com/symfony/symfony/b

[2021-10-26 06:29] carsonbot opened #43721 "Missing translations for Indonesian (id)"
Hello,

There are some missing translation for Indonesian (id). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.id.xlf](https://github.com/symfony/symfony/

[2021-10-26 06:29] carsonbot opened #43722 "Missing translations for Italian (it)"
Hello,

There are some missing translation for Italian (it). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.it.xlf](https://github.com/symfony/symfony/blo

[2021-10-26 06:29] carsonbot opened #43723 "Missing translations for Latvian (lv)"
Hello,

There are some missing translation for Latvian (lv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.lv.xlf](https://github.com/symfony/symfony/blo

[2021-10-26 06:29] carsonbot opened #43724 "Missing translations for Lithuanian (lt)"
Hello,

There are some missing translation for Lithuanian (lt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf](https://github.com/symfony/symfony/

[2021-10-26 06:29] carsonbot opened #43725 "Missing translations for Polish (pl)"
Hello,

There are some missing translation for Polish (pl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf](https://github.com/symfony/symfony/blob

[2021-10-26 06:29] carsonbot opened #43726 "Missing translations for Portuguese (pt)"
Hello,

There are some missing translation for Portuguese (pt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf](https://github.com/symfony/symfony/

[2021-10-26 06:29] carsonbot opened #43727 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blo

[2021-10-26 06:33] dadangnh commented on #43721
I am on it :rocket:

[2021-10-26 08:02] #43272 closed, assigned to nobody

[2021-10-26 08:11] #40894 closed, assigned to nobody

[2021-10-26 08:19] qzylalala commented on #43711
Hi,  i'd like to take this.

[2021-10-26 08:20] qzylalala commented on #38710
I'd like to collaborate to Chinese(zh_CN) translation.

[2021-10-26 08:21] #43254 closed, assigned to nobody

[2021-10-26 08:29] carsonbot opened #43733 "Missing translations for Serbian (sr_Cyrl)"
Hello,

There are some missing translation for Serbian (sr_Cyrl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf](https://github.com/symfony/s

[2021-10-26 08:29] carsonbot opened #43734 "Missing translations for Serbian (sr_Latn)"
Hello,

There are some missing translation for Serbian (sr_Latn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf](https://github.com/symfony/s

[2021-10-26 08:29] carsonbot opened #43735 "Missing translations for Slovak (sk)"
Hello,

There are some missing translation for Slovak (sk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf](https://github.com/symfony/symfony/blob

[2021-10-26 08:29] carsonbot opened #43736 "Missing translations for Spanish (es)"
Hello,

There are some missing translation for Spanish (es). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.es.xlf](https://github.com/symfony/symfony/blo

[2021-10-26 08:29] carsonbot opened #43737 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf](https://github.com/symfony/symfony/blo

[2021-10-26 08:29] carsonbot opened #43738 "Missing translations for Thai (th)"
Hello,

There are some missing translation for Thai (th). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.th.xlf](https://github.com/symfony/symfony/blob/4

[2021-10-26 08:29] carsonbot opened #43739 "Missing translations for Ukrainian (uk)"
Hello,

There are some missing translation for Ukrainian (uk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf](https://github.com/symfony/symfony/b

[2021-10-26 08:29] carsonbot opened #43740 "Missing translations for Uzbek (uz)"
Hello,

There are some missing translation for Uzbek (uz). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.uz.xlf](https://github.com/symfony/symfony/blob/

[2021-10-26 08:29] carsonbot opened #43741 "Missing translations for Vietnamese (vi)"
Hello,

There are some missing translation for Vietnamese (vi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf](https://github.com/symfony/symfony/

[2021-10-26 08:48] #43645 closed, assigned to nobody

[2021-10-26 08:51] mouadziani commented on #43708
Fixed #43747

[2021-10-26 10:37] #43721 closed, assigned to nobody

[2021-10-26 10:37] #43490 closed, assigned to nobody

[2021-10-26 11:00] greew commented on #43715
I'll do this!

[2021-10-26 11:56] mrbase commented on #42643
Is that not what you use the `$stopwatch->lab('event');` method for?
.. "Stops then restarts an event"

[2021-10-26 12:01] fd6130 commented on #43712
I will take this issue.

[2021-10-26 12:47] shahriared commented on #43741
Hi,
Can I fix this issue?

[2021-10-26 13:02] huzineczerik commented on #43339
@lljaworski Now we have other problem with Messenger AMQP transport:

[code]

This is our messenger.yaml file:
[code]

Do you have any idea how to solve this problem?

[2021-10-26 13:11] #40525 closed, assigned to nobody

[2021-10-26 14:28] fabpot commented on #43741
Sure, please go ahead.

[2021-10-26 14:37] DanilPrussov commented on #37168
have the same problem.
**PHP Version**: 8.0.11
**Symfony Version**: 5.3.7
**PHPUnit Version**: 9.5.10

[2021-10-26 14:49] tomrummet commented on #43365
What kind of environment are you running?

I have tested with two different environments, one using docker compose and one running Symfony Local Web Server (https://symfony.com/doc/current/setup/symfony_server.html) and profiler is showing up.

[2021-10-26 15:09] edwinschaap commented on #43716
I'll take it 👍

[2021-10-26 15:17] cinamo opened #43753 "[DoctrineBridge] Attribute notation for entity in bundles is not recognized"
### Symfony version(s) affected

5.3

### Description

When loading a bundle with a Doctrine entity, this entity is automatically recognized if `auto_mapping: true` is set in the Doctrine DBAL configuration. If you use annotations (`/** @ORM\Entity */`), this will work well. However, if you use the new Attributes to define the entity and its properties (`#[ORM\Entity]`) this is not recognized by t

[2021-10-26 16:54] jawira commented on #43736
Hi, I'm doing this!

[2021-10-26 17:20] ogizanagi commented on #43703
I think it relates to https://github.com/symfony/symfony/pull/21210 allowing to detect if an argument/option was actually provided or not.
The conclusion was, regardless of the `hasOption` method confusion, the use-cases were too narrowed/unclear.

The `InputOption::VALUE_NULL_IF_OMITTED` seems another, probably even more specific, way.

However it seems that it's still something someone needs fro

[2021-10-26 17:54] jperovic commented on #21420
Boy, this has blown me away! I spent the whole afternoon going through the internals of container builder, before the compilation phase, trying to figure out how it does the resolution.

And Google was not kind either. Any "inject ENV variables in <command/service>", point to the docs for the full Symfony app, and this is not :)

Thanks a bunch, @nicolas-grekas!

[2021-10-26 17:58] stof commented on #21420
The expected behavior is the error here. There is no `SITE_HOST_OVERRIDE` parameter defined in your snippet.

[2021-10-26 18:58] colinodell commented on #43703
Thanks for that workaround, I'll give that a shot.

I also looked at other open-source libraries to see whether/how they handle this situation.

For example, the github.com.spf13/pflag library for Go allows developers to [specify an optional `NoOptDefVal`](https://github.com/spf13/pflag#setting-no-option-default-values-for-flags) ("No Option Default Value") that is returned if the flag/option is p

[2021-10-26 19:39] isarastov commented on #43710
I'm taking this one

[2021-10-26 20:00] colinodell commented on #43703
To summarize the two proposed solutions so far:

 - A new `InputOption::VALUE_NULL_IF_OMITTED` flag, as mentioned earlier
 - A new `InputOption` constructor parameter called something like `$noValueDefault` which would work similarly to the libraries mentioned above

Both would of course require additional changes to work; those are just examples of how the developer would opt into this feature.

[2021-10-26 21:16] ramundomario commented on #43722
I'm on it! :rocket:

[2021-10-26 22:01] ThomasLandauer commented on #43506
I think it's an excellent idea to address this in the `UrlType` form field, and not (as I wrote above) in the validator! After all, it's the form field that "creates" the problem by prefixing "http://".

Plus:

Perfect solution - can't be easier!

[2021-10-27 01:34] dadangnh commented on #43724
I am on it :rocket:

[2021-10-27 08:34] shoosah opened #43769 "uasort(): Returning bool from comparison function is deprecated, return an integer less than, equal to, or greater than zero"
### Symfony version(s) affected

symfony/finder                      v5.3.7

### Description

I recently have upgraded laravel framework version from 6 to 7. And artisan command which was using symfony/finder throws an error:
uasort(): Returning bool from comparison function is deprecated, return an integer less than, equal to, or greater than zero

### How to reproduce

- I updated my composer.js

[2021-10-27 08:53] franmomu commented on #43021
Hi, while trying to test [SncRedisBundle with Symfony 6](https://github.com/snc/SncRedisBundle/pull/630), an error appeared [in CI](https://github.com/snc/SncRedisBundle/runs/4019689740?check_suite_focus=true) because of adding return type declarations to

https://github.com/symfony/symfony/blob/563dbf66b6b28b52d2ff9f5c5721619c87130225/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/A

[2021-10-27 08:55] stof commented on #43769
`^5.0` is not a version but a version constraint. Use `composer show` to see the installed versions (or search manually in your lock file, but that's more tedious)

And please provide a reproducing case showing how you configured the finder.

[2021-10-27 09:08] stof commented on #43021
@franmomu you can add the string return type in the child class even when running on Symfpny 5 (on PHP 7.2+). That variance rule of PHP is precisely what allows adding return types in Symfony 6 while packages can support Symfony 5 and 6.

[2021-10-27 09:09] shoosah commented on #43769
Thanks @stof I updated my comment.

[2021-10-27 09:24] stof commented on #43769
Please also provide the full stack trace rather than a truncated one (`+ 11 vendor frames` does not allow seeing what they are, while the wrong usage on symfony/finder seems to be in laravel, and so in vendors)

[2021-10-27 09:38] nicolas-grekas commented on #43769
You should check the comparison function that is used to sort the files.
As far as I checked correctly, all comparison functions in the source of Symfony return an integer.
Which would mean that the issue might be on Laravel's side, if Laravel is passing a `$sort` function to the finder.

[2021-10-27 09:50] franmomu commented on #43021
Sorry, my explanation was vague, I was referring to BC break for someone extending the `RedisSessionHandler` from that bundle if we add return types declarations in a minor version.

[2021-10-27 09:54] shoosah commented on #43769
Thanks @nicolas-grekas. I'd track it now in Laravel and will close this issue if I find the source of problem.

[2021-10-27 10:10] Nek- commented on #41672
This will break a lot of test suites as soon as people will have updated composer and Symfony, I'm afrayed.

Is there a quick fix to re-enable concerned packages? 🤔

[2021-10-27 10:13] nicolas-grekas commented on #41672
@Nek- yes, see my previous comment.

I'm closing here since there is nothing to fix and the discussion staled.

[2021-10-27 10:16] stof commented on #43021
Well, you indeed need to do a major version if you want to add the return type in a class that is not final (which is why Symfony does those additions in Symfony 6). However, that's totally something that a bundle could do (and if we say that bundles must be able to upgrade to Symfony 6 in minor versions, then we must cancel the whole typing initiative, as there is no way to guarantee that a bundl

[2021-10-27 10:20] shoosah commented on #43769
Thanks again everyone. This was happening due to the wrong version of laravelrus/sleepingowl. I'd appreciate if you could close this issue.

[2021-10-27 10:23] #43769 closed, assigned to nobody

[2021-10-27 10:24] Nek- commented on #41672
Since Symfony _disable_ the component after #40140 , I don't see any way to fix it. Sylius bundles and plugins are usually tested with behat and all dependencies related to the test are (obviously) in dev dependencies. This issue make those tests impossible. (or a big refactoring required)

The impact on the ecosystem is real, bundles will not be updated quickly.

[2021-10-27 10:29] nicolas-grekas commented on #41672
Why can't you enable assets explicitly in the test env?

[2021-10-27 10:40] Nek- commented on #41672
Adding the following configuration:

[code]

Leads to another error:

[code]

Which makes perfect sense because of this line: https://github.com/symfony/symfony/pull/40140/files#diff-58ffcc8e7b802dfed5fa16ed9e11a2d775ff8136b1dd2f66b84273417ad8cb2aR31

[2021-10-27 10:50] nicolas-grekas commented on #41672
This means the check in `ExtensionPass` should be fixed. Instead of relying on the class being available, it should rely on some asset service being registered.

PR welcome on 5.3 I suppose. Please check the other calls to `willBeAvailable()` in the pass if the same reasoning could apply to them.

[2021-10-27 10:53] pizzaminded commented on #43725
i'm on it!

[2021-10-27 10:59] derrabus commented on #43021
`AbstractSessionHandler` is one of those classes where we had to add return types to some methods becuase PHP 8.1 urges us to do so. This of course does not affect the methods you've described, but I don't think we do ourselves a favor if we rollback the return types just for those methods and keep them on other methods of the very same class.

[2021-10-27 11:40] Geoffray-buhler opened #43776 "Intl error with file autogenerate"
I remake my BDD with symfony database:drop and symfony database:create and this error happened

![error](https://user-images.githubusercontent.com/55780756/139030752-29eae800-33b2-46f2-a815-1d87e2aaf825.png)

so i don't understand with i have this error

i try to fix it with this issue
https://github.com/symfony/maker-bundle/pull/991/commits/e0ffa99844790a6911370e5a491507cf6a399d0e

but nothing ch

[2021-10-27 11:50] Nek- commented on #41672
@nicolas-grekas You're absolutely right, but I think this issue should be re-open.

[2021-10-27 12:05] stof commented on #43776
Are you using the (deprecated) `twig/extensions` package in your project ? That's the package defining the `Twig\Extensions\IntlExtension` class

[2021-10-27 12:09] Geoffray-buhler commented on #43776
Yes because we use `|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")` in twig files

[2021-10-27 12:13] stof commented on #43776
`format_datetime` is *not* coming from the old deprecated extensions. But your error message says that your config tries to register a service using the old extension class. So look in your config files where this service is defined.

[2021-10-27 13:02] k0d3r1s commented on #43723
I will take this

[2021-10-27 13:23] #42217 closed, assigned to nobody

[2021-10-27 13:28] saundefined commented on #43727
I am on it 🚀

[2021-10-27 16:15] bertrandseurot commented on #43339
Found in RejectRedeliveredMessageMiddleware :

 AMQP redelivers messages when they do not get acknowledged or rejected. This can happen when the connection times out  or an exception is thrown before acknowledging or rejecting. When such errors happen again while handling the  redelivered message, the message would get redelivered again and again. The purpose of this middleware is to prevent  infi

[2021-10-27 16:27] huzineczerik commented on #43339
Thank you!
We found the problem and it was not because of the messenger.
It caused a task which is create some different-size versions from an image. This task uses 100% CPU for a few minutes and it is not friendly for Google App Enginge. We have to find an another way to solve this problem.

[2021-10-27 16:27] #43339 closed, assigned to nobody

[2021-10-27 17:32] acodispo opened #43789 "[String] EnglishInflector returns incorrect singular for plural zombies"
### Symfony version(s) affected

5.4

### Description

The EnglishInflector singularizes "zombies" to "zomby".

### How to reproduce

[code]

### Possible Solution

[code]

### Additional Context

_No response_

[2021-10-27 18:51] nicolas-grekas commented on #38021
Having checked the tentative on the topic by @noniagriconomie (see symfony/recipes#1005 and #43278, thanks to him), I took more time to review and think about the topic and I think we should not do anything.

Yes, APP_SECRET is a secret. This means that when deploying to production, one must change its value. Aka the value generated by flex in `.env` is fine for dev, and using it in prod is secure

[2021-10-27 19:06] yceruto commented on #40259
FYI with https://github.com/symfony/symfony/pull/43701 you can manage the DI extension of the bundle within the bundle class itself with all the new stuff you currently like and more:
[code]
Further, you can load Config definitions and extension configs from an external file, or if desired, everything can be defined in place.

[2021-10-28 06:25] franmomu commented on #43021
yeah, that's why I asked, because I think this issue is about that:

We might consider, on a case by case basis, whether it's worth to postpone adding a type declaration for a specific method to Symfony 7. This might help you, as a maintainer, to release a new minor instead of a new major version to add support for Symfony 6.

anyway, we'll go with the minor BC break, thanks.

[2021-10-28 06:29] #43708 closed, assigned to nobody

[2021-10-28 06:29] #43710 closed, assigned to nobody

[2021-10-28 06:29] #43711 closed, assigned to nobody

[2021-10-28 06:29] #43712 closed, assigned to nobody

[2021-10-28 06:29] #43715 closed, assigned to nobody

[2021-10-28 06:29] #43716 closed, assigned to nobody

[2021-10-28 06:29] #43720 closed, assigned to nobody

[2021-10-28 06:29] #43722 closed, assigned to nobody

[2021-10-28 06:29] #43723 closed, assigned to nobody

[2021-10-28 06:29] #43724 closed, assigned to nobody

[2021-10-28 06:29] #43727 closed, assigned to nobody

[2021-10-28 06:29] #43733 closed, assigned to nobody

[2021-10-28 06:29] #43734 closed, assigned to nobody

[2021-10-28 06:29] #43736 closed, assigned to nobody

[2021-10-28 06:29] #43739 closed, assigned to nobody

[2021-10-28 06:29] #43741 closed, assigned to nobody

[2021-10-28 06:37] noniagriconomie commented on #38021
Got it @nicolas-grekas thanks :)

[2021-10-28 06:46] pierres opened #43793 "Debug mode is enabled by default in production when Dotenv is not installed"
### Symfony version(s) affected

5.3.9

### Description

When using only environment variables to configure Symfony, you end up with debug mode enabled even when `APP_ENV=prod`. This only happens when `symfony/dotenv` is not installed.

Installing dotenv will disable debug in prod mode by default. Even if you do not use .env files, installing this package will change this behavior. See `\Symfony\C

[2021-10-28 06:51] rimas-kudelis commented on #33466
I do think this issue is still relevant and will remain such until it's either fixed, or a new annotation is introduced to cover actual MaxDepth and not MaxDepthOfSameClass.

[2021-10-28 08:01] #41411 closed, assigned to nobody

[2021-10-28 08:08] ohaag commented on #42589
Yes, I confirm it is fixed.
Reproduced on symfony/doctrine-messenger 5.3.8 and fixed on 5.3.x-dev.
Thank you

[2021-10-28 08:08] #42589 closed, assigned to nobody

[2021-10-28 08:10] derrabus commented on #42589
Thank you for testing!

[2021-10-28 08:23] ohaag commented on #42589
While I'm here, what is the easiest way to know what sub-package of symfony/symfony is impacted by a commit ? In this case the issue was related to the messenger component and the doctrine connector so symfony/doctrine-messenger was easy to find, but sometimes it is less obvious on what project a fix is merged.

[2021-10-28 09:08] stof commented on #43021
@franmomu for the case of the SessionHandler, I think it is not worth delaying the type addition. There are very few bundles that implement custom handlers, and SncRedisBundle could release a major version IMO (if we delay it, the bundle will still need to release a major version at some point, as it would still happen later)

[2021-10-28 09:41] wouterj commented on #43021
Thanks for sharing the finding it in this issue! This kind of discussion is exactly what this issue is about, even if we ultimately decide not to loosen the type.

[2021-10-28 09:51] oleg-andreyev opened #43797 "[Serializer] AnnotationLoader is treating is/has methods as field attributes"
### Symfony version(s) affected

5.3.8

### Description

Using API Platform.
Having an entity with OneToMany relation.
Defining two groups: `item.read`, `collection.read`

When I want to serialize a single item, use `item.read` group to ensure that OneToMany expanded.
[code]

When I want to serialize a collection of items, use `collection.read` group to ensure that OneToMany is not expanded and on

[2021-10-28 10:41] #43789 closed, assigned to nobody

[2021-10-28 13:11] #40572 closed, assigned to nobody

[2021-10-28 13:31] karaka200 opened #43800 "[Doctrine][Bug]Create extra files when install symfony/orm-pack"
When I want to install `composer require symfony/orm-pack`, both `docker-compose.override.yml` and `docker-compose.yml` files are created in the root path. This was not the case before, but it has been around since I installed and uninstalled `Docker Desktop` for Windows 10. Does this cause a problem?

_Originally posted by @karaka200 in https://github.com/symfony/symfony/discussions/43795_

[2021-10-28 13:51] maxhelias commented on #41455
Fixed in https://github.com/symfony/symfony/pull/43108

[2021-10-28 13:58] chalasr commented on #41455
Indeed, thanks Maxime.

[2021-10-28 13:58] #41455 closed, assigned to nobody

[2021-10-28 14:55] peter-si opened #43802 "[Runtime] Runtime from different package is not working"
### Symfony version(s) affected

5.3.7

### Description

We have multiple Symfony apps and to simplify setup of them we have one library (call it symfony-boot) where all common packages, code, settings etc. are. I wanted to add our custom runtime to this library and use across all projects.

However when I run composer install (or dump-autoload) in actual project I'm getting an error from `\Symfon

[2021-10-28 15:12] nicolas-grekas commented on #43802
Fixed in #43376

[2021-10-28 15:12] #43802 closed, assigned to nobody

[2021-10-28 17:42] benblub opened #43806 "Pass client as argument to ElasticsearchLogstashHandler"
### Symfony version(s) affected

5.3.0

### Description

If you pass as Argument in your services.yaml the http_client or a scoped client the Handler perform hundreds Requests until he runs in an error like OutOfMemoryError

### How to reproduce

Set in your services.yaml

a http_client
[code]

OR a scoped client
[code]

for the scoped client in framework.yaml
[code]

From the LOGs/Debugger
From L

[2021-10-28 19:23] #43456 closed, assigned to nobody

[2021-10-28 19:23] #41672 closed, assigned to nobody

[2021-10-28 19:23] #43420 closed, assigned to nobody

[2021-10-28 19:23] #43725 closed, assigned to nobody

[2021-10-28 20:59] xabbuh commented on #43806
Can you create a small example application that allows to reproduce your issue?

[2021-10-28 21:00] xabbuh commented on #43658
Could you create a small application that allows to actually work with something and trying different approaches to improve performance?

[2021-10-29 05:22] Roysten opened #43809 "Unable to connect to database using unix domain socket"
I have a Symfony 5.3 project in which I would like to connect to a Postgres database using unix domain sockets. In doctrine the pgsql driver does not support setting the unix domain socket information in `$DATABASE_URL`, therefore one has to configure it using a `doctrine.yaml`.
I have the following configuration in config/packages/prod/doctrine.yaml:
[code]
When I run `php bin/console debug:confi

[2021-10-29 06:08] #43809 closed, assigned to nobody

[2021-10-29 06:29] carsonbot opened #43811 "Missing translations for Bosnian (bs)"
Hello,

There are some missing translation for Bosnian (bs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.bs.xlf](https://github.com/symfony/symfony/blo

[2021-10-29 06:29] carsonbot opened #43812 "Missing translations for Slovenian (sl)"
Hello,

There are some missing translation for Slovenian (sl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf](https://github.com/symfony/symfony/b

[2021-10-29 06:56] shahriared commented on #43812
Hi,
I can add those translations.

[2021-10-29 07:54] benblub commented on #43806
Here is the examble App
https://github.com/benblub/reproduce-elasticLogstashHandler-bugsearch

[2021-10-29 08:28] fabpot commented on #43812
@shahriared Please, go ahead.

[2021-10-29 09:27] karaka200 commented on #43800
@fabpot
@dunglas
Is it a `bug`?

[2021-10-29 09:54] nicolas-grekas commented on #43800
that's on purpose, see https://github.com/symfony/flex/pull/821

you can opt-out by setting extra.symfony.docker to false in your composer.json file

[2021-10-29 09:54] #43800 closed, assigned to nobody

[2021-10-29 10:04] mateuszbieniek opened #43823 "Cache won't be cleared properly when some cache elements are removed manually"
### Symfony version(s) affected

5.3.10

### Description

On deployment, we use
[code]
command to avoid issues on interface changes. Afterward, standard
[code]
is called.

This results in the cache being cleared only partially (for example template and translation cache are not cleated).

### How to reproduce

1. Clean installation of Sf 5.3.10 with `APP_ENV` set to prod
2. Execute
[code]
3. List

[2021-10-29 10:11] stof commented on #42589
@ohaag look at which part of symfony/symfony is impacted by the diff.
You find the package by going up from that location until you reach a folder containing a composer.json (which is generally the right-most folder being a child of a `Component`, `Contracts`, `Bridge` or `Bundle` folder, so in the case of #43630, that gives you ` src/Symfony/Component/Messenger/Bridge/Doctrine` as folder, which c

[2021-10-29 11:42] pille1842 opened #43826 "ExpressionLanguageSyntax constraint doesn't allow null value"
### Symfony version(s) affected

5.3.8

### Description

The ExpressionLanguageSyntax constraint doesn't allow null values to pass. This evidently stems from `Symfony\Component\Validator\Constraints\ExpressionLanguageSyntaxValidator`, lines 42-44:

[code]

It's true that a null value is not a valid expression. However, this behavior is still different from other constraints: The Email constraint,

[2021-10-29 11:49] dmaicher commented on #43823
I guess `rm -rf var/cache/prod/*.*` only deletes files directly inside the `cache/prod` folder :wink: (or actually everthing that matches the naming `*.*` with a dot)

Maybe try `rm -rf var/cache/prod/*` to actually purge the folder completely?

[2021-10-29 12:05] xabbuh commented on #43826
see #41329

[2021-10-29 12:28] #42095 closed, assigned to nobody

[2021-10-29 12:34] crevillo commented on #43823
Also worth to mention two more things
1) If you just do `php bin/console c:c` cache is cleared as expected (template and translation)
2) if you do `php bin/console c:c && rm -Rf var/cache/prod/*.*` then cache is cleared as expected as well. (template and translation)

So the issue is when the files are removed before trying the cache:clear.

[2021-10-29 12:52] epitre opened #43828 "Cannot test sending email from command with assertEmailCount()"
### Symfony version(s) affected

5.3.9

### Description

I use a command to send an email.

I wrote a PHPUnit test for that with CommandTester as explained here : https://symfony.com/doc/current/console.html#testing-commands

The test fails on the email count.

### How to reproduce

1. Write a command that send an email
2. Write a test that assert how many emails are sent

Test  example :
[code]

[2021-10-29 12:52] PopePAF commented on #41797
It would also be great to add xlf notes via param. Angular for example does it in such a way:

`<span i18n="MEANING|DESCRIPTION@@KEY">Default Locale Translation</span>`

It could be possible to add meaning, description and default locale as $params?! and use those when extracting the trans units....

[2021-10-29 13:29] adrienfr commented on #43828
Can you try with `$commandTester->execute(['command' => $command->getName()]);`?

[2021-10-29 13:30] #42784 closed, assigned to nobody

[2021-10-29 13:44] #42767 closed, assigned to nobody

[2021-10-29 14:22] dkarlovi commented on #43594
Since the release is very close, IMO it's fair to either finish the PRs you've signed up for ASAP or honestly say you'll not make it, maybe somebody else does it in the meantime.

[2021-10-29 14:28] crevillo commented on #43823
Looks somehow related to how `CacheClearCommand`
[code]

When removing the files with rm -rf `var/cache/prod/*.*`, the next execution of `bin console c:c` will create the`containerFile` again. The condition above in that case evaluates to true. If you do that again, as the container file was already there, the filemtime for the container file is less than the _$_SERVER['REQUEST_TIME'] and it evalu

[2021-10-29 14:59] crevillo commented on #43823
Ok, some more findings. I don't think this is a Symfony bug.

As explained above, when we remove the container file and do a cache clear afterwards, the command goes for the "cache is fresh" part and it does not perform the steps to create that *warmup* directory. Instead it tries to evaluate if a file like `var/cache/prod/translations/catalogue.en.g7Xb65G.php` is present as is not fresh.

We can

[2021-10-29 15:03] peter-si opened #43832 "More universal APP_RUNTIME env loading"
### Description

Take also `$_ENV` into consideration when resolving `APP_RUNTIME` and `APP_RUNTIME_OPTIONS`.

On docker apache containers to get env variable into $_SERVER other configuration [steps](https://stackoverflow.com/a/55634277) are needed. This is unnecessary since they are already available in `$_ENV`. Or maybe we can use `getenv()`? I'm preparing a PR for it (will be done in a bit)

#

[2021-10-29 15:05] nicolas-grekas commented on #43832
Using `$_ENV` should be the way to go. Please send the PR on branch 5.3

[2021-10-29 15:06] fabpot commented on #43594
I've made 3 lists in the description to better see which commands have been claimed without PRs yet, commands with a not-yet-merged PR, and commands for which the PR has been merged.

[2021-10-29 15:29] #43618 closed, assigned to nobody

[2021-10-29 15:44] #43260 closed, assigned to nobody

[2021-10-29 16:06] #43832 closed, assigned to nobody

[2021-10-29 16:09] #43811 closed, assigned to nobody

[2021-10-29 16:09] #43812 closed, assigned to nobody

[2021-10-29 16:43] #41959 closed, assigned to nobody

[2021-10-29 16:46] epitre commented on #43828
@adrienfr I tried, but the problem is still here :'(

[2021-10-29 17:16] gabs77 commented on #36657
any idea, when it can be fixed ?

[2021-10-29 21:00] fliespl commented on #13994
@chalasr I haven't tested it properly yet, so forgive me if I missed something, but it feels like this change only made it so that Disabled/Locked Exception are always silent no matter if it was thrown before or after authentication (given that hide_user_not_found flag is set to true).

This way we can't seem to use custom user checked to only trigger disabled/locked notification after validating

[2021-10-30 08:25] xabbuh commented on #36657
@gabs77 Are you interested in giving it a try?

[2021-10-30 08:45] xabbuh commented on #43637
Can you create a small example application that allows to reproduce your issue?

[2021-10-30 09:10] wouterj commented on #43594
Hi @eclairia @stephenkhoo @StaffNowa @Kocal @makraz @lyrixx. Do you have time to create a PR? It's totally not an issue if you no longer can't - it's voluntary work and your participation in this issue is already much appreciated :pray: - but we would like to finish up Symfony 5.4/6.0 soon. I would love to have completion support for all commands, so maybe someone else can take over/help you :)

[2021-10-30 09:22] #36910 closed

[2021-10-30 09:30] Kocal commented on #43594
Hi @wouterj!

I would like to open a PR to add auto-completion to `debug:validator` but it will empty. 😬

As said in my previous comments (https://github.com/symfony/symfony/issues/43594#issuecomment-949646700 / https://github.com/symfony/symfony/issues/43594#issuecomment-950295974), I have no idea how we can get all the classes from a project (without dependening on Composer or the Symfony contai

[2021-10-30 09:35] #38093 closed

[2021-10-30 09:51] wouterj commented on #43594
Ooh, sorry. I went a bit too much into "full automation" mode. Yes, indeed. We decided `debug:validator` can't be done for 5.4/6.0.

[2021-10-30 10:07] yyaremenko commented on #43637
1. Install from here https://github.com/yyaremenko/symfony-bugs-component-property-access
2. Run phpunit test: FAILURE (Comments are not added to the user)
3. Uncomment this method, as advised: https://github.com/yyaremenko/symfony-bugs-component-property-access/blob/c366b77c983ad41c009209a0681bc948f3d1ab92/src/Model/User.php#L22
4. Run phpunit test: SUCCESS (Comments are added to the user)

[2021-10-30 10:15] #43713 closed, assigned to nobody

[2021-10-30 13:06] buffcode commented on #40663
No it has not. Still no simple and reliable way to logout a user programmatically.

[2021-10-30 13:15] wouterj commented on #40663
@buffcode (or anyone in this issue), are you open to create a PR for this targeting 6.1? Seems like everyone likes this feature, so we now need someone to make it happen

[2021-10-30 13:17] chalasr commented on #40663
There is #41406 for this.

[2021-10-30 14:11] ibotdotout commented on #43738
I will pick up this.

[2021-10-30 15:09] lyrixx commented on #43594
Oups I forgot this issue. And I don't have access to a computer ATM. I'm really sorry 😞. Can someone take over me for the workflow components? Thanks

[2021-10-30 16:32] ovgray opened #43845 "[Mailer] TemplatedEmail not properly rendered when template uses inline_css"
### Symfony version(s) affected

5.3.10

### Description

When sending TemplatedEmail with template:

`{% apply inline_css(source("test_email.css")) %}`
    `<p>First line.</p>`
    `<p>Second line.</p>`
    `<p>Third line.</p>`
`{% endapply %}`

and test_email.css:

`p {`
    `line-height: 1.42857143;`
`}`

The body of the email message that is sent is:

`<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4

[2021-10-30 16:43] StaffNowa commented on #43594
Hey, I had small business trip :) Return back and made PR request ;)

[2021-10-30 16:58] StaffNowa commented on #43594
Question about workflow:dump. How we can make autocomplete names from container list? :)

[2021-10-30 17:08] 94noni commented on #43594
Perhaps you can inject the workflow registry which has access to all workflows/statemachines

[2021-10-30 18:07] StaffNowa commented on #43594
Found information from $container->getServiceIds(). Very strange, but we do not have any tests at all for workflow:dump. Maybe is it not testable? :)

[2021-10-30 23:15] BafS commented on #37768
As a workaround, it's possible to set the debug `dump_destination` to `php://stdout`.

[code]

output with colors:
<img width="280" alt="image" src="https://user-images.githubusercontent.com/588205/139560472-13f59fad-4bdd-4036-9a28-bc253d00d3e7.png">

Unfortunately it's not possible to easily set the CLI output to `fopen('php://stdout', 'w')` but changing

https://github.com/symfony/symfony/blob/4

[2021-10-31 06:29] #43738 closed, assigned to nobody

[2021-10-31 07:00] LPodolski opened #43853 "Symfony 4.4.33 release on composer / packagist"
### Symfony version(s) affected

4.4.33,4.4.32

### Description

Symfony versions 4.4.33, 4.4.32 seems not to be released on composer/packagist, despite being released on symfony news

https://symfony.com/blog/symfony-4-4-33-released

https://symfony.com/blog/symfony-4-4-32-released (this release doesn't have any changes in it's release news too)

### How to reproduce

try to update older project

[2021-10-31 09:04] derrabus commented on #43853
We only tag a new release on packages that have been changed since the previous one. 4.4.33 is alive an well, see https://packagist.org/packages/symfony/http-kernel#v4.4.33 for instance.

[2021-10-31 09:04] #43853 closed, assigned to nobody

[2021-10-31 13:02] stephenkhoo commented on #43594
Hi @wouterj
I've quite some idea how to implement on the debug:event-dispatcher already, but the debug:event-dispatcher seems doesn't already have a test, do I need to include that test?

I think without the base test, it will be quite hard for me to continue working on with full confident.

Or if I can just submit a PR on the test for debug:event-dispatcher to kick start?

[2021-10-31 13:11] #40640 closed, assigned to nobody

[2021-10-31 13:24] StaffNowa commented on #43594
Hey, in my case too no any tests in workflow. I think just make first code changes if all good you can write them later before merge code :)

[2021-10-31 13:42] meiyasan opened #43858 "CollectionType: Entry block prefix generalization"
### Description

I fought trying to override CollectionType form template and it turns out that I couldn't override "collection_entry".
It would actually be great to replace a few lines in CollectionType.php and allow that..

### Example

Right now if I want to change collection_prefix name, I can do it, but then I have to put back the "collection_entry" prefix for children elements. Perhaps I sol

[2021-10-31 16:33] maartendekeizer opened #43860 "[Messenger] Redis retry doesn't work on 32bit systems (like Raspberry)"
### Symfony version(s) affected

5.3.8

### Description

When running Symfony on a 32bits system like a Raspberry PI 4 (ARMv7 = 32 bit) the retry mechanisme with a delay doesn't work. This is caused by reaching the PHP_INT_MAX limit when it does calculate the score for the new 'delayed' message.

vendor\symfony\redis-messenger\Transport\Connection.php:476
[code]

Result:
`int(-685048788)`

Expecte

[2021-10-31 17:53] jordisala1991 commented on #43021
For Symfony Panther I am trying the following PR: https://github.com/symfony/panther/pull/509

As you can see, there is a commit (https://github.com/symfony/panther/pull/509/commits/31d379ed84cc7cb041ce2e4ebedeeda448d0a2b3) with the problematic changes, I will list them here so you can decide wether is worth it removing them (I can do the PR). They are more related to the fact that Symfony Panther

[2021-10-31 18:19] paazmaya commented on #43432
I can work on this

[2021-10-31 21:40] raphaeldealmeida commented on #43709
I am on it

[2021-11-01 06:30] #43432 closed, assigned to nobody

[2021-11-01 07:08] gopikrish19 opened #43863 "Parse error: syntax error, unexpected '|', expecting variable (T_VARIABLE) in my_project/vendor/psr/log/src/LoggerInterface.php on line 30"
Hi,

I am using **Symfony 5.3.10**, **api-platform 2.6**, and **php 8.0.3**, when run the server and go to the home page, i got this type of syntax error , i tried to solve this problem by changing the version of psr/log but, it doesn't work, is there any other solutions for this?

[2021-11-01 07:29] #43863 closed, assigned to nobody

[2021-11-01 07:34] KonstantinCodes commented on #36585
@carsonbot It's still current :)

[2021-11-01 10:05] vrushalrt commented on #42542
I'm also facing the same issue but @tito10047 Possible Solution fixes the issue.

[2021-11-01 13:11] #40694 closed, assigned to nobody

[2021-11-01 14:04] Warxcell opened #43866 "[Messenger] Gracefull stop messenger when ran in Docker FPM Image"
### Symfony version(s) affected

ALL

### Description

Hello, we have web app which uses messenger.
We are using single image for web part and messenger, cronjobs.
The problem is that [PHP-FPM doesn't quite follow the standard POSIX signals](https://github.com/php/php-src/blob/17baa87faddc2550def3ae7314236826bc1b1398/sapi/fpm/php-fpm.8.in#L163), so as work-around [Docker image for PHP-FPM override

[2021-11-01 14:52] MiroCillik opened #43868 "[Validator] After update to 5.3.10 before valid urls are now marked as invalid"
### Symfony version(s) affected

5.3.10

### Description

After update to symfony/validator 5.3.10 https://github.com/symfony/symfony/pull/43388 the Url Validator marks urls like `http://internal-api` as invalid. This url was fine in version 5.3.8 and the PR seems to be fixing a different issue, so it seems like unwanted consequence. The hyphen seems to be the problem. Urls like this one are commo

[2021-11-01 14:56] derrabus commented on #43868
Confirmed. @DfKimera, can you have a look please?

[2021-11-01 15:00] valkars commented on #43868
We have another issue, after update urls http://a, http://aa marked as valid, they were invalid earlier, our tests are broken now. This commit I think:
https://github.com/symfony/symfony/commit/27b1153cc4950028be26ab3ba0749655f0e21baf

[2021-11-01 15:15] derrabus commented on #43868
Yes, this is the problem that #43388 attempted to solve. Those two URLs of yours are valid URLs, aren't they?

[2021-11-01 15:26] valkars commented on #43868
They don't have a domain part and any reserved word (localhost), so they are invalid, am I wrong?

[2021-11-01 16:06] derrabus commented on #43868
They don't need to. `a` is a valid hostname. If you want to try it out for yourself, edit your `/etc/hosts` file and bind `a` to a valid IP address (e.g. `127.0.0.1`). Your browser will happily open `http://a` if a web server listens on the machine that belongs to that IP address.

As mentioned by @MiroCillik, hostnames without a domain part are common in Docker setups.

[2021-11-01 16:19] valkars commented on #43868
So we have form with company url and now user can enter http://a, useless validator, thanks for this "feature".

[2021-11-01 16:43] derrabus commented on #43868
Before the change, the user could enter `http://a-a` or `http://localhost` to pass validation. The `Url` constraint has never checked if the URL contained a top level domain.

[2021-11-01 18:09] AdamOndrejkovic opened #43873 "Js not working"
Hi,
I am working on my first Symfony app. And I came across an issue that I couldn't solve so I wanted to ask for some help.
This is my main.js
[code]
and this is my twig
[code]
It's connected and when I run alert without any code in js it works but for some reason when I try to target it like this it doesn't. What is the issue? (

[2021-11-01 18:10] #43873 closed, assigned to nobody

[2021-11-01 19:50] Tetragramat commented on #42966
I believe that inspect should return uid in all awailable formats which includes binary formated as hex.

[2021-11-01 20:12] weaverryan opened #43877 "simple-phpunit.php: Uncaught ValueError: substr_count(): Argument #3... with custom SYMFONY_ROOT_DIR"
### Symfony version(s) affected

4.4

### Description

Hi!

On Symfony UX, we are seeing an error in `substr_count()` from `simple=phpunit.php` - https://github.com/symfony/ux/runs/4072355007?check_suite_focus=true

The issue originates from #43799 and is because we set `SYMFONY_PHPUNIT_DIR: '/tmp/.phpunit'` - so, a path that is outside of the project :).

Cheers!

### How to reproduce

Run:

[cod

[2021-11-02 06:29] #43709 closed, assigned to nobody

[2021-11-02 07:09] stlrnz commented on #43648
Is there anything more I can do to help on this?

[2021-11-02 11:05] #43753 closed, assigned to nobody

[2021-11-02 11:16] diversantvlz commented on #41892
[here](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/LdapFactoryTrait.php#L42) when the parent method is called, the base authenticator is replaced another with a different config. Parent method have hardcoded service id

[2021-11-02 12:19] dsentker commented on #43620
Sorry for asking, but I would like to get to know the update policy better. I don't understand why we can't include the `complete()` method against an interface. Adding a `CompletionInterface` wouldn't cause a BC break for 4.4 after all? And those who use the Symfony/Command Package would have the interface anyway.

// Update: nevermind, my question [just got answered](https://symfony.com/blog/new

[2021-11-02 12:41] Gokujo opened #43885 "Composer TransportException of recipes"
### Symfony version(s) affected

5.3

### Description

I am working behind a proxy through Nexus 'cause the local network is not allowed to access the internet.
My problem is that symfony/flex tries to access recipe file on github.

[code]

### How to reproduce

composer create-project symfony/website-skeleton web

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-02 13:08] PhilETaylor commented on #29746
This is still an issue but beyond my skillset to fix. Sorry.

[2021-11-02 13:11] #38265 closed

[2021-11-02 17:03] jmaribau commented on #43424
Hi, I'm doing this!

[2021-11-02 17:39] msrumon commented on #38958
Yes, please.

[2021-11-02 18:59] GromNaN commented on #43594
Hello @makraz, can I take `messenger:consume`?

Edit: done https://github.com/symfony/symfony/pull/43891

[2021-11-02 19:35] StaffNowa commented on #43594
Hey @makraz, do you have time or we can help you with server:log too?

[2021-11-02 19:39] StaffNowa commented on #43594
@GromNaN now I see server:log. Do we need to autocomplete hostname and format? According me it is not predictable
--host localhost or any IP (can put some localhost IP addreses).
--format - not sure what we can predict :)

[2021-11-02 20:23] GromNaN commented on #43594
What do you think of suggesting the default value for both? It would be useful as a starting point, instead of reading the doc.

[2021-11-02 20:31] StaffNowa commented on #43594
Yes good point👌

[2021-11-02 21:06] StaffNowa commented on #43594
@GromNaN added default hosts and ports from real life :)

[2021-11-03 06:29] #43717 closed, assigned to nobody

[2021-11-03 07:23] k0nst1 opened #43895 "[Cache] No exception is thrown when caching closure"
### Symfony version(s) affected

4.4

### Description
When using the a Cache Pool (happens with CacheItemPoolInterface and CacheInterface) and trying to cache something with the that contains a closure, the marshaller tries to serialize it and runs into an exception. The exception is never handled or logged.

### How to reproduce

Store something that contains a closure into the cache. In my case

[2021-11-03 08:37] zeh-nagel commented on #43895
possible test case
[code]

exception is catched here: vendor/symfony/cache/Marshaller/DefaultMarshaller.php:49

[2021-11-03 08:48] romaricdrigon commented on #25609
Same issue here, in 5.3.10 - and I quite agree with @Gielovic, in my case it was causing tests to behave differently that the app, which could lead to (authorization) issues being pushed to production.

I'm not sure how to easily fix it (in Symfony code), though.

[2021-11-03 08:58] nicolas-grekas commented on #43895
Closing as duplicate of #41685
See #43148 also

[2021-11-03 08:58] #43895 closed, assigned to nobody

[2021-11-03 09:24] stof commented on #43853
To be exact, the comment of @derrabus only applies to patch releases.

[2021-11-03 10:46] xabbuh commented on #43845
Can you create a small example application that allows to reproduce your issue?

[2021-11-03 10:48] xabbuh commented on #43776
I am closing here as this as @stof explained doesn't seem to be caused by an issue in the Symfony codebase.

[2021-11-03 10:48] #43776 closed, assigned to nobody

[2021-11-03 10:48] xabbuh commented on #43681
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-03 10:48] #43681 closed, assigned to nobody

[2021-11-03 10:50] xabbuh commented on #43646
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-03 10:50] #43646 closed, assigned to nobody

[2021-11-03 10:50] xabbuh commented on #41859
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-03 10:50] #41859 closed, assigned to nobody

[2021-11-03 11:49] pyatnitsev opened #43906 "Range validator validate big integer incorrectly"
### Symfony version(s) affected

5.3.10

### Description

Range validator with big integer will work incorrectly on string bigger than 9223372036854775807. For example we have next validator:

[code]
and pass 9223372036854775808 value to validate. It's will be true, but this number bigger than constraint.
It's happens becouse internally 9223372036854775808 will be converted into float(9.2233720368

[2021-11-03 12:13] darkin1 commented on #40862
I struggle with that same issue. Work around is to set

[code]
and `MaxDepth(2)` annotation (or attribute)

[2021-11-03 12:14] walva commented on #37588
I'm having the same issue as @pableu. I'm trying to guest which transport to used based on custom logic.
Unfortunately, if the X-Transport header is added in a listener, it won't alter the transporter. But if the header is added before the transporter, it will work.
![image](https://user-images.githubusercontent.com/3897363/140058091-92c68554-7dce-45f7-a50e-02f570e66d7a.png)

This is related to ht

[2021-11-03 12:33] mateuszbieniek commented on #43823
For simple debugging, I've changed this part
[code]
to
[code]

Now when `cache:clear` command is executed when the cache is present inside `var/cache/prod` we can see everything looks normal:
[code]

But when `rm -rf var/cache/prod/*.*` is executed beforehand, the script is "tricked" into thinking that cache is fresh (and it isn't):
[code]

You can notice, that `filemtime($containerFile)` equals t

[2021-11-03 12:50] nicolas-grekas commented on #43823
You might want to run `rm -rf var/cache/prod/*` instead.
I'm closing because there is no bug in Symfony here.

[2021-11-03 12:50] #43823 closed, assigned to nobody

[2021-11-03 13:38] chx commented on #41025
Well I linked a workaround which makes it impossible to dump the container by hiding it in a closure. Another is to patch Twig Node so that it doesn't var export `thing` and `callable` but I do not know whether that's desirable.

[2021-11-03 13:57] karaka200 opened #43911 "[Security] login_throttling not work"
I install `symfony/rate-limiter` and use `login_throttling` in my `security.yaml`:

[code]

But after entering the wrong username and password more than 3 times, when I enter the username and password correctly, it enter and does not restrict.
is it a Bug?

[2021-11-03 14:01] derrabus commented on #41025
At the moment, I fail to see how we can solve your problem in Symfony. Can you provide a reproducer that does not involve a Drupal setup?

[2021-11-03 14:08] derrabus commented on #40839
I don't see us backporting this feature, so let's close.

[2021-11-03 14:08] #40839 closed, assigned to nobody

[2021-11-03 14:09] stof commented on #43911
Were you entering the right username, or also a wrong one ? The throttling is per username+ip at the configured max attempts (and at 5x that limit for a limit based only on the ip):
https://github.com/symfony/symfony/blob/175e3f7216c426d8917aa51e079de5295a141259/src/Symfony/Component/Security/Http/RateLimiter/DefaultLoginRateLimiter.php#L22-L23
https://github.com/symfony/symfony/blob/175e3f7216c42

[2021-11-03 14:12] #43911 closed, assigned to nobody

[2021-11-03 14:17] xabbuh commented on #40142
Same as #40839?

[2021-11-03 14:20] christian-kolb commented on #40142
@xabbuh No, the referenced issue is about some form of `array<` not working. Sound's like a bug.
My is about `list<` not being interpreted 🙂 It's more of a feature request.

[2021-11-03 14:24] ovgray commented on #43845
Sorry.

On further investigation this is not a bug in Mailer, it is a bug in MS Outlook 2016. If the html portion of the raw message has a "=" immediately before a ".", Outlook seems to remove the '.' before rendering the message.

Closing this issue.

[2021-11-03 14:24] #43845 closed, assigned to nobody

[2021-11-03 14:33] derrabus commented on #40142
@christian-kolb Does the new `PhpStanExtractor` solve this problem for you?

[2021-11-03 14:37] christian-kolb commented on #40142
@derrabus Thanks for the hint 🙂
Unfortunately it doesn't as I don't use PHPStan but Psalm in my projects and as far as I've seen there is no `PsalmExtrator` yet. Are you aware of a plan to add one?

[2021-11-03 14:41] derrabus commented on #40142
That extractor uses a library from PHPStan that you can install independently. For that matter, it should be completely irrelevant which tool you use for static analysis.

[2021-11-03 14:46] christian-kolb commented on #40142
Isn't it meant to be able to read PHPStan annotations? Or is it just using the more advanced extraction for native stuff and ignores the PHPStan annotations?

[2021-11-03 14:59] derrabus commented on #40142
It's just a different implementation of a PHPDoc parser. I haven't tried it myself yet. I just wanted to check if that implementation already fixes your problem.

[2021-11-03 15:02] gmichard opened #43913 "ServiceSubscriberTrait doesn't fully support PHP8 union types"
### Symfony version(s) affected

5.3.10

### Description

An error occurs when using the [Service Subscriber Trait](https://symfony.com/doc/current/service_container/service_subscribers_locators.html#service-subscriber-trait) on a service class that have a method with **more than one type** (i.e. union type) **for return type**.

[code]

### How to reproduce

1. Create a brand new Symfony Applicat

[2021-11-03 15:05] nicolas-grekas commented on #43913
/cc @kbond :)
Note that wiring union|intersection types might very well belong to AutowirePass (reordering and filtering what `TypeReference::getType()` returns to resolve them there.

[2021-11-03 15:16] christian-kolb commented on #40142
Ah that's good to know. I might be able to check this in a few weeks (I'm swamped at the moment).
To be honest I don't use `list<` in my projects anymore because there hasn't been any reaction on the request since February. I'm now always using `array<int, ` which works good enough for me. I'd be also ok with closing this issue in the meantime. Doesn't seem like there was anyone else having the sa

[2021-11-03 15:18] derrabus commented on #40142
I've just checked, `list<>` doesn't work with the PHPStan extractor either. That's a bummer, I'll look into it.

[2021-11-03 15:20] christian-kolb commented on #40142
@derrabus Wow, thanks a lot for your dedication and effort 🙂

[2021-11-03 16:05] #25609 closed

[2021-11-03 16:05] derrabus commented on #40142
Can you please give #43916 a try? It should work with both parser implementations, phpDoumentor and PHPStan.

[2021-11-03 16:12] christian-kolb commented on #40142
@derrabus Wow you're fast 🙂 I'll try my best to get it in next week.

[2021-11-03 16:15] kbond commented on #43913
@gmichard, to clarify, are you trying to "autowire" `getSomethingOrOther`?

@nicolas-grekas can you confirm that union types are not supported by `ServiceSubscriberInterface`? I never got a clear answer here: https://github.com/symfony/symfony/pull/42238#discussion_r732978902 *(quick test in 5.4 shows me no)*

I'm thinking to skip methods without `\ReflectionNamedType` in 4.4+ and in 5.4+, when us

[2021-11-03 16:48] nicolas-grekas commented on #43913
it's never been specified, but it's trivial to define them so I think we should consider them as defined actually:
`?Foo|Bar` / `?Foo&Bar`.

the leading `?` is needed as a flag to express that a key is optional.
Then AutowirePass could parse those, remove built-in types, order, and relying the existing logic to autowire

[2021-11-03 16:52] Jeroeny opened #43918 "[Cache] Memory leak when using the cache"
### Symfony version(s) affected

symfony/framework-bundle:
`5.3.10`, `5.2.14`, `5.1.11`, `5.4.x-dev@24649c622776b36158f80b81b9455987b8129793` , `6.0.x-dev@5284b7f8419f9ed224d8d00d6c945d566343cd83`, `4.4.31`, and I assume every version in between.

PHP: `7.4.15`, `8.0.11`, `8.0.12`, `PHP 8.1.0RC5`

### Description

When using the Symfony cache in a certain way (e.g. calling the cache within a closu

[2021-11-03 17:10] smilesrg opened #43919 "[Workflow] Unable to get transition definition by its name"
### Description

In the documentation:

[code]

but to get specific transitions, I need to get them all and iterate over the array. Would be super nice to get transition and transition metadata by its name.

### Example

### Getting transition by name

Before:
[code]

After:
[code]

### Getting transition metadata by name

Before:
[code]

After:
[code]

[2021-11-03 17:31] sebo commented on #33394
The issue still exists. I had to use the NativePhpSerializer to make it work.

`serializer: messenger.transport.native_php_serializer`

[2021-11-03 17:35] kbond commented on #43913
Ok, this will be in 5.4+ only, correct?

In 4.4+ and 5.4's deprecation layer I'm thinking we should ignore union/intersection types.

[2021-11-03 17:40] piotrecky opened #43921 "[DomCrawler] Closest method: Warning: Attempt to read property "nodeType" on null"
### Symfony version(s) affected

5.3.9

### Description

When I use the method closest on node i have error: Warning: Attempt to read property "nodeType" on null

### How to reproduce

$parentNode->closest('.test');

### Possible Solution

Add break line to loop:

while (\XML_ELEMENT_NODE === $domNode->nodeType) {
            $node = $this->createSubCrawler($domNode);
            if ($node->matche

[2021-11-03 20:29] xabbuh commented on #43921
Can you create a small example application that allows to reproduce your issue?

[2021-11-03 21:01] radikolev commented on #42542
Thank you very much @tito10047 for the Possible Solution!

I have a Symfony project running under a subdirectory (e.g. localhost/MyProject/login) and the login function wasn't working because of that. I've been losing my mind trying to figure out what was going wrong and after searching on google for hours and hours I finally got here and your solution worked perfectly.

[2021-11-03 21:22] gmichard commented on #43913
@kbond
- `autowire` is enabled (`autoconfigure` is enabled too, for what it's worth)
- But this method is not a really a service location. It's a regular method for internal usage, with no argument and with many return types.

A more complete example could be:

[code]

The both methods matches the criteria to add it as subscribed services (non-static, non-internal, etc.).
Perhaps there is a way to

[2021-11-03 21:23] nicolas-grekas commented on #43913
For 5.4+ yes @kbond

[2021-11-03 22:23] kbond commented on #43913
@gmichard Ok, that's what I thought. Keep in mind that you'll also have trouble with non-union return types (ie `getSomethingOrOther(): UserInterface`). https://github.com/symfony/symfony/pull/42238 fixes but only on 5.4 and when using the [new attribute](https://symfony.com/doc/5.4/service_container/service_subscribers_locators.html#service-subscriber-trait). Really, this issue would be fixed by

[2021-11-03 23:18] adrianwnuk commented on #42208
F I X I T

[2021-11-03 23:49] srgpsk commented on #40525
I'm facing the same issue and agree with @Adambean on that

[2021-11-04 06:19] Adambean commented on #40525
Did you try the workaround I posted? https://github.com/symfony/symfony/issues/40525#issuecomment-808565853

[2021-11-04 06:29] #43424 closed, assigned to nobody

[2021-11-04 06:39] fabpot commented on #42208
C O N T R I B U T E

[2021-11-04 10:22] acantepie opened #43925 "[symfony/serializer] Xml deserializer not working as expected"
### Symfony version(s) affected

5.3.10

### Description

Deserialize xml file containing tag without attributes doesn't work as expected.

### How to reproduce

DTO class :
[code]

### Deserializing xml with attribute : (ok)
`$this->serializer->deserialize('<foo bar="bar">Hello</foo>',  Foo::class, 'xml');`

**Have :**
[code]

### Deserializing xml without attribute  : (not ok)
`$this->serializer

[2021-11-04 10:38] ScaryDonetskiy opened #43926 "[DependencyInjection] PhpDumper generate non-valid code for container cache"
### Symfony version(s) affected

5.3.10

### Description

PHP Version: 8.0.12
Symfony Version: 5.3.10

According to documentation (https://symfony.com/doc/current/service_container/definitions.html#constructor-arguments), I'm try to set argument for the service inside the bundle.
`$container->getDefinition('enqueue.transport.'.$name.'.log_extension')->setClass(LogExtension::class)->setArgument('$d

[2021-11-04 10:43] ScaryDonetskiy commented on #43926
Also I can attach example of generated code with error

`return $container->privates['enqueue.transport.default.queue_consumer'] = new \Enqueue\Consumption\QueueConsumer(($container->privates['enqueue.transport.default.context'] ?? $container->load('getEnqueue_Transport_Default_ContextService')), new \Enqueue\Consumption\ChainExtension([0 => ($container->services['App\\MessageProcessor\\PushEventP

[2021-11-04 10:54] nicolas-grekas commented on #43926
Can you please provide a reproducer? Eg a simple app that hits this?

[2021-11-04 11:03] piotrecky commented on #43921
the problem is with my code.

[2021-11-04 11:47] imadige opened #43927 "make:user password yes"
### Symfony version(s) affected

5.6

### Description

make:user password yes

In SecurityConfigUpdater.php line 188:

  Symfony\Bundle\MakerBundle\Security\SecurityConfigUpdater::updatePasswordHashers(): Argument #1 ($userConfig) must
  be of type Symfony\Bundle\MakerBundle\Security\UserClassConfiguration, string given, called in /var/www/vendor/symf
  ony/maker-bundle/src/Security/SecurityConfig

[2021-11-04 11:59] xabbuh commented on #43927
Can you create a small example application that allows to reproduce your issue?

[2021-11-04 12:04] derrabus commented on #43925
Thank you for your bug report. The behavior you describe does not look intended to me. Would you be able to work on a bugfix?

Can you please double-check? As far as I know we haven't released a 5.3.12 yet.

[2021-11-04 12:18] ScaryDonetskiy commented on #43926
I can provide a ConfigurationPass class from my bundle. It it ok for you?

[2021-11-04 12:56] rmikalkenas opened #43929 "[HttpClient] Dns cache issue in long running process"
### Symfony version(s) affected

5.3.10

### Description

Recently came up with very interesting bug or I would say a side affect of symfony http client using in a long running process:

I have a long running process which consumes async envelopes and does http requests to constant host (process might run up to couple of hours). At some point of time the host which we are requesting changed its IP

[2021-11-04 13:04] ubaranouski-pl commented on #37168
The same problem.
PHP 8.0.6
Symfony 5.2
PHPUnit 9.5.10

[2021-11-04 13:11] acantepie commented on #43925
Sorry, it's version 5.3.10. I have edited my post. I will try to work on a bugfix.

[2021-11-04 13:11] #33227 closed

[2021-11-04 13:17] alexander-schranz commented on #40198
/cc @ro0NL I think this is still an issue?

[2021-11-04 13:22] nicolas-grekas commented on #43926
If your pass runs before `ResolveNamedArgumentsPass` (which is the default) then the named arg should be supported.
If it runs after optimization passes, then named args are not supported anymore.
That could be the reason.

[2021-11-04 13:30] nicolas-grekas commented on #43929
Symfony 5.4 will provide your 2nd solution: https://github.com/symfony/symfony/pull/41163

We could also remove the entry from the DNS cache when a transport error happens at connection time. Would you like to give it a try?

[2021-11-04 13:33] #43913 closed, assigned to nobody

[2021-11-04 13:43] stof commented on #43929
@nicolas-grekas Symfony 5.4 will *not* provide that second solution, as the http_client service will not reset its DNS cache when resetting services.

And the reason why the attempt at doing the second solution does not work is because the `kernel.reset` tag is transferred to the decorator service.
@nicolas-grekas given that resetting the service generally relies on calling a method that is not pa

[2021-11-04 13:44] acantepie commented on #43925
I have checked but i don't know how to fix the bug.

The problem is on `XmlEncoder.php` on method `parseXml` :
[code]
If i comment this code;
[code]
a tag without attributes is correctly deserialized but it will break all Unit test :(

[2021-11-04 13:53] nicolas-grekas commented on #43929
Won't https://github.com/symfony/symfony/pull/43333 still forward the call to reset?
Anyway, I agree we should add `kernel.reset` to that list.
It also looks like NativeHttpClient is missing a way to reset its dnscache.
PR welcome to fix both issues.

[2021-11-04 13:55] rmikalkenas commented on #43929
@nicolas-grekas I can help with PR, which branch should I target?

[2021-11-04 14:04] ro0NL commented on #40198
Yes. But the topic is rather complex AFAIK. Maybe @yceruto gained some recent insights in #43701

[2021-11-04 14:05] nicolas-grekas commented on #43929
I'd say 5.4 please

[2021-11-04 16:26] niamzor commented on #43416
Hi!

I can reproduce the bug, please check https://github.com/phillylovepark/symfony-skeleton/tree/43416_validator_nested_atLeastOneOf

Status: Reviewed

[2021-11-04 18:02] #40142 closed, assigned to nobody

[2021-11-04 18:16] wouterj commented on #43594
Hi @stephenkhoo

Yes, you can add a test for the completion support.

There is no direct need to add all missing tests (but if you want to do that as well, a PR is welcome to e.g. 4.4 or 5.3).

[2021-11-04 23:32] longwave opened #43936 "False positives in DebugClassLoader when @param documentation mentions another $variable"
### Symfony version(s) affected

5.4

### Description

When running Drupal core tests against Symfony 5.4, the DebugClassLoader is reporting false positives when an @param tag contains documentation that mentions another $variable.

### How to reproduce

Sample test output from Drupal 9.4 patched for Symfony 5.4 (with patch from e.g. https://www.drupal.org/project/drupal/issues/3161889#comment-142

[2021-11-05 07:26] ch2877 opened #43938 "[Workflow] Command workflow:dump not working"
### Symfony version(s) affected

5.4

### Description

I tryed to dump a workflow in Symfony 5.4 and kept getting the Message

`No service found for "workflow.xyz" nor "state_machine.xyr".`

I tryed to reproduce it in Symfony 5.3 and found that it is working, but got the following warning:

`User Deprecated: Since symfony/framework-bundle 5.3: Accessing the "workflow.xyz" service directly from the

[2021-11-05 08:12] vincentchalamon commented on #43877
Can confirm I have the same issue with the following configuration in my phpunit.xml.dist:
[code]
Removing this parameter from phpunit.xml.dist solved the issue. Thanks for the tip @weaverryan

[2021-11-05 08:29] xabbuh commented on #43938
Can you create a small example application that allows to reproduce your issue?

[2021-11-05 08:36] niamzor commented on #43828
Hi!

I was able to reproduce the bug.
I created a reproduction project [here](https://github.com/phillylovepark/symfony-skeleton/tree/43828_testing_email) on the `43828_testing_email` branch.
There are 2 tests:
* one for the `MailService` where the assertion is working
* one for the `SendMailCommand` where the assertion is not working

Status: Reviewed

[2021-11-05 09:05] zmitic commented on #39924
With latest @fractalzombie patch, everything works perfectly.

Thank you all.

[2021-11-05 09:05] #39924 closed, assigned to nobody

[2021-11-05 09:05] ch2877 commented on #43938
Here it is:
https://github.com/ch2877/symfony_issue_43938

[2021-11-05 09:05] #38843 closed, assigned to nobody

[2021-11-05 09:13] xabbuh commented on #43658
@umulmrum Do you have any news for us?

[2021-11-05 10:06] nicolas-grekas commented on #43936
I suppose `DebugClassLoader::parsePhpDoc()` is at fault.
Would you like to have a look for a fix?

[2021-11-05 10:09] nicolas-grekas commented on #43929
Actually, `NativeHttpClient` might no need a reset: its dnscache is emptied as soon as all requests completed already.
We could still remove the entry from the DNS cache when a transport error happens, for all clients.

[2021-11-05 10:11] nicolas-grekas commented on #40824
Thanks for providing a reproducer!
It be great if someone could have a closer look.
Or maybe you'd like to investigate @rasmustnilsson?

[2021-11-05 10:13] nicolas-grekas commented on #43860
Can't we use a float instead?
@maartendekeizer would you like to give it a try?

[2021-11-05 10:17] stof commented on #43936
@longwave does it also happen if your phpdoc properly define the type of the argument between the `@param` and the argument name ?

[2021-11-05 10:35] rasmustnilsson commented on #40824
No, I never found a workaround.

Sorry, I don't have the time.

[2021-11-05 10:36] nicolas-grekas commented on #37768
I'm not sure what you mean:

would that change be enough or not?
if yes, can you give it a try in a PR?

[2021-11-05 10:50] xabbuh commented on #42775
@537mfb Sorry for not coming back earlier. Looking into it a bit I think this is rather a configuration issue. If I update your firewall config like this, everything seems to work as expected:

[code]

So I am going to close here. But please let me know if you do not agree and we can reconsider.

[2021-11-05 10:50] #42775 closed, assigned to nobody

[2021-11-05 11:06] noniagriconomie commented on #43938
I see the problem, when discussing with @StaffNowa on PR https://github.com/symfony/symfony/pull/43848 we may have misunderstood ourselves, between workflowNames and workflowIds (with prefix `workflow.` and `state_machine.`)
I will provide a fix for v5.4

[2021-11-05 11:15] StaffNowa commented on #43938
Yes, we had before prefixes validation in the switch case.

[2021-11-05 11:30] nicolas-grekas commented on #43877
What's the full error message? Can you maybe submit a fix?

[2021-11-05 11:37] epitre commented on #43828
thank you so much @phillylovepark

[2021-11-05 11:41] vincentchalamon commented on #43877
Stack trace:
#0 /path/to/project/vendor/symfony/phpunit-bridge/bin/simple-phpunit.php(242): substr_count()
#1 /path/to/project/vendor/symfony/phpunit-bridge/bin/simple-phpunit(13): require('...')
#2 {main}
  thrown in /path/to/project/vendor/symfony/phpunit-bridge/bin/simple-phpunit.php on line 242

[2021-11-05 12:26] agaktr commented on #43719
I can help translating the Greek contents!

[2021-11-05 12:32] fabpot commented on #43719
Thank you

[2021-11-05 12:40] sylfabre opened #43941 "[Secrets] Renaming a secret doesn't work"
### Symfony version(s) affected

5.4.0

### Description

I have some secrets in my codebase.
When I rename a file let's say `dev.ALGOLIA_API_KEY.b46f8f` to `dev.ALGOLIA_API_KEY_ADMIN.b46f8f` then the file is not loaded anymore by the SodiumVault.

The issue is because of the MD5 hash at the end of the filename `b46f8f`.

This hash comes from the secret's name `ALGOLIA_API_KEY` so if the name chang

[2021-11-05 13:28] wouterj commented on #40835
Closing as the related PR was also closed. See https://github.com/symfony/symfony/pull/40989#issuecomment-860027786 for the continuation.

[2021-11-05 13:28] #40835 closed, assigned to nobody

[2021-11-05 13:32] dmaicher opened #43943 "[Yaml] Call to undefined function Symfony\Component\Yaml\array_is_list()"
### Symfony version(s) affected

v5.4.0-BETA1

### Description

I just tried installing v5.4.0-BETA1 on one of my projects.

Similar to https://github.com/symfony/symfony/issues/42280 it seems some polyfills are not loaded again:

[code]

### How to reproduce

Use `Incenteev\ParameterHandler\ScriptHandler::buildParameters` in composer `post-install-cmd`

### Possible Solution

Remove usages of `ar

[2021-11-05 13:45] stof commented on #43943
This is the usual issue of `autoload-files` not being loaded in composer scripts.

[2021-11-05 13:46] xabbuh commented on #43943
I am on it.

[2021-11-05 13:47] dmaicher commented on #43943
Possibly we could just revert https://github.com/symfony/symfony/commit/f4da7e40e779a6bc8d3960af9689c0108f088a1f ?

[2021-11-05 13:52] xabbuh commented on #43943
see #43944

[2021-11-05 13:54] nicolas-grekas commented on #43941
I don't remember why we have the hash...
But you should use the commands to do this operation: first create the new secret then delete the old one.

[2021-11-05 14:00] sylfabre commented on #43941
@nicolas-grekas  I _now_ know this but:
- it's not documented
- the hash seems to be just counter-productive

That's why I opened this issue

[2021-11-05 15:11] spackmat commented on #41368
We stumbled upon the exact same problem and after some debugging, the first solution that came into my mind looked like the proposal of @VincentLanglet . After that I found this issue, which would had saved me some hours.

I don't know, if that solution is acceptable, but it would solve the problem in a simple, yet flexible way.

Having Collections with 0 to n subforms is a quite common thing and

[2021-11-05 15:42] srgpsk commented on #40525
@Adambean I noticed that after you pointed on it :) In my case we don't use any guard authenticators, so what I did is - inherited built-in `LdapUserProvider` and overridden `loadUser()` to get attributes without throwing exception.
Thank you for creating this issue, it helped me to establish some order in my thoughts.

P.S. Looks like a good point for PR to me.

[2021-11-05 17:42] #43793 closed, assigned to nobody

[2021-11-05 18:27] #43938 closed, assigned to nobody

[2021-11-05 18:28] #43943 closed, assigned to nobody

[2021-11-05 22:43] H4wKs commented on #43737
Hejsan !

Working on this matter

[2021-11-06 09:12] MichaelBrauner commented on #8918
Thank you for sharing this. This really should be added to the symfony-docs. I will eventually create a PR for this.

[2021-11-06 11:30] Adambean commented on #40525
Ah I've done a similar thing too what with guard authentication being deprecated. I followed this guide to make use of the new Passport authentication system with LDAP:
https://www.ismailzai.com/blog/new-symfony-authenticator-active-directory-integration

[2021-11-06 15:20] 537mfb commented on #42775
Hi @xabbuh
Don't worry about the time that took you to come back to me on this - I understand it completly, we all have our lives to take care of first - I do appreciate the time you took looking at this

as for your answer - I had tried that before but it didn't seem to work - just in case, i left it in there now as I keep looking into this.
looking in the profiler i realized another issue:

When

[2021-11-06 16:06] rmikalkenas commented on #43929
As I mentioned in my first message, I'm using a `CurlHttpClient` and not `NativeHttpClient`. After spending some time to understand how `CurlHttpClient` works I came up with few insights:
1. if you are not passing `$options['resolve']` then there is no way for `$this->multi->dnsCache` to be populated in `CurlHttpClient`. That means that my issue with wrongly resolved IP address has nothing to do w

[2021-11-06 16:12] ddaffie opened #43951 "After running a PHPUnit test Symfony 5.4-beta1 has "fixed" the code from Drupal core with lots of syntax errors"
### Symfony version(s) affected

5.4-beta1

### Description

After I run a single PHPUnit test Symfony 5.4-beta1 has "fixed" the code from Drupal core. This fixing has resulted in creating lots of syntax errors. In the Drupal projects we have a different style guide then in your project. Only the way Symfony fixes the code is by your own style guide, not the one that Drupal is using. There are pro

[2021-11-06 20:32] a1812 commented on #43648
Maybe this will help you?

stateless: true

https://symfony.com/doc/current/security/user_providers.html#creating-a-custom-user-provider

[2021-11-06 21:45] maartendekeizer commented on #43860
We currently deployed all the system with a override of this class where we use seconds instead of ms, that is working fine.

https://github.com/phpredis/phpredis#zadd it look like zadd wants a double; so I think float is possible. I will try to make a few real world tests with floats the next weeks.

[2021-11-06 22:42] xabbuh commented on #43951
Can you create a small example application that allows to reproduce your issue?

[2021-11-06 23:41] egeloen commented on #38381
@numerogeek @BenMorel I just got the same issue and I have wrote this subscriber to reset my Monolog logger:

[code]

[2021-11-07 07:57] MarcoValeri commented on #37439
I have the same issue and if I remove `{% extends 'base.html.twig' %}` from my error page it works.

Apparently, the issue is related to the `path(app.request.attributes.get('_route'))` that I'm using in the `base.html.twig`

[2021-11-07 09:42] xabbuh commented on #42775
You mean that the client is not sending the remember me cookie to the server after having received it?

[2021-11-07 09:50] 537mfb commented on #42775
that is correct - I'm still looking into that - have no clue yet

[2021-11-07 10:14] xabbuh commented on #42775
I am going to check that with your example application.

[2021-11-07 10:16] ddaffie commented on #43951
Howto reproduce this bug:

1. I used [DDEV](https://ddev.readthedocs.io/en/stable/) to create a working environment with Drupal core 9.4.x.

2. Update the Symfony version to 5.4-beta1

3. Run a PHPUnit test. The one that I used for this is: modules/views/tests/src/Unit/Plugin/argument_default/QueryParameterTest.php. Running other PHPUnit tests changes different files in Drupal core.

[code]

Updat

[2021-11-07 12:38] vlad-ghita opened #43953 "[Translation] Loco provider fails when pushing for multiple domains"
### Symfony version(s) affected

5.3.6

### Description

Given:

- non-empty Loco project.
- multiple translation domains

When pushing multiple domains to Loco, exception is thrown:

[code]

### How to reproduce

1. Have empty Loco project.
2. Run this command once:
`php bin\console translation:push loco --domains forms --domains messages --domains validators --force`
3. Run same command again:
`

[2021-11-07 12:52] vlad-ghita opened #43954 "[Translation] With Loco, when pushing multiple domains, only assets from first domain are submitted"
### Symfony version(s) affected

5.3.6

### Description

Given:

- empty Loco project
- multple domains

When pushing multiple domains, only assets from first domain are submitted (eg: forms):
[code]

### How to reproduce

See description.

### Possible Solution

Fix incorrect usage of original catalogue.
[Proposed solution.](https://ibb.co/1b0c17r)

### Additional Context

_No response_

[2021-11-07 13:11] #40751 closed, assigned to nobody

[2021-11-07 13:52] vlad-ghita commented on #42395
When creating an asset, if ID is not specified, Loco auto-generates one from text.
[Reference.](https://localise.biz/api/#!/assets/createAsset)

Thus, provide ID when creating asset.
https://ibb.co/Vjrq7Nq

[2021-11-07 14:46] digilist opened #43956 "[HttpKernel][DependencyInjection][ProxyManager] Class loading error with inline factories"
### Symfony version(s) affected

5.3

### Description

The dependency injection container is usually updated automatically whenever a change has been made that requires an update to the container cache (when the debug mode is enabled).

However, when the [service container is dumped into a single file](https://symfony.com/doc/current/performance.html#dump-the-service-container-into-a-single-file)

[2021-11-07 15:57] lyrixx commented on #38381
There is a new option to reset the container between 2 messages with Symfony 5.4

I'll solve this issue.

[2021-11-07 17:53] jschlies opened #43957 "FlattenException , HtmlErrorRenderer , MS Outlook"
I'm using Symfony\Component\ErrorHandler\Exception\FlattenException and Symfony\Component\ErrorHandler\ErrorRenderer\HtmlErrorRenderer to generate emails to MS Outlook. These emails however, not not 'play well' with the Outlook Client and, per Mailtrap.io, many issue across several clients. Can these be addressed or can someone suggest alternatives?  Thanks

[code]

[code]

[2021-11-07 18:58] xabbuh commented on #43957
Can you clarify which issues you are talking about?

[2021-11-08 00:04] a1812 commented on #43828
replace
$kernel = static::createKernel();  to  $kernel = self::bootKernel();  and should work

[code]

[2021-11-08 05:31] hantsy opened #43958 "[Validator] Attribute can not be applied on Controller method argument"
### Symfony version(s) affected

5.3.x

### Description

Java Bean validation can be applied on method argument in a MVC Controller or other Jakarta EE components, but this does not work in Symfony.

I got the following exception when adding attributes on method arguments of a Controller.

[code]

### How to reproduce

Create a method like this.

[code]

### Possible Solution

Make it work,  and i

[2021-11-08 05:46] hantsy opened #43959 "[Http] Improve the Content Negotiation handling"
### Description

In Spring Web MVC, there is a  `ContentNegotiationManager` to handle langugage, encoding, mediatypes,  also provides **consumes**, and **produces**, **header**  as part of `RequestMapping`(`Route` concept in Symfony) to test the match result of content negotiation.

### Example

It is easy to handle the same URI with different headers and query parameters.

Hope the following work

[2021-11-08 07:33] fancyweb commented on #43959
Route conditions will help you (see https://symfony.com/doc/current/routing.html#matching-expressions).

[2021-11-08 07:37] stlrnz commented on #43648
Thank you for the response, but this does not help. Actually, it does the opposite from what I want: It tells the firewall to be stateless and load the user on every request.

I want the user to be loaded only on the first request and refreshed on the following. That's what the old firewall did.
With the new firewall the user is loaded on the first request and **refreshed and loaded** on every fol

[2021-11-08 08:22] ro0NL commented on #43958
IIUC this could pre-validate the `Request` object as well right? That be sweet.

[2021-11-08 08:53] welcoMattic commented on #42395
@vlad-ghita I think you've found the source of the problem, which is `id` auto-generation by Loco from the translation key. Your fix seems to be the right way to solve the problem, can you open a PR please?
Thank you

[2021-11-08 08:56] umulmrum commented on #43658
@xabbuh Unfortunately I haven't found the time yet - I hope to get started this week (but am also happy if someone else jumps in).

[2021-11-08 09:11] rmikalkenas commented on #43929
@nicolas-grekas I managed to reproduce an issue with wrongly resolved `primary_ip`: https://github.com/rmikalkenas/dns-cache-issue

Take a look at https://github.com/rmikalkenas/dns-cache-issue/blob/master/src/Command/HttpClientCommand.php
The second request should fail and `primary_ip` should be the one added to hosts file, but it remains the same.

Tried to add `\CURLOPT_DNS_CACHE_TIMEOUT => 1`,

[2021-11-08 09:25] ro0NL commented on #42428
@nicolas-grekas pls reconsider :) im depending on it for a [`RedisClientInterface`](https://github.com/palicao/phpRedisTimeSeries/blob/master/src/Client/RedisClientInterface.php) implementation.

[2021-11-08 10:14] makraz commented on #43594
Hi @StaffNowa sorry just back to online work

[2021-11-08 10:21] StaffNowa commented on #43594
@makraz Hey, it is not needed anymore for the server:log command. People decided do not nothing for this command :)

[2021-11-08 10:23] #43594 closed, assigned to nobody

[2021-11-08 10:31] #43929 closed, assigned to nobody

[2021-11-08 12:54] vlad-ghita commented on #42395
I'll try to find some time.

[2021-11-08 13:19] welcoMattic commented on #42395
If you can't, let me know I could later this week

[2021-11-08 13:38] vlad-ghita commented on #42395
Well, I'm a bit busy honestly and I'm not familiar with PR process for Symfony ...

If you can do it, I'd appreciate it.

You could incorporate #43954 as well while at it.

[2021-11-08 13:47] LeonidasJP commented on #37316
Is there any feedback from the Symfony team about this issue available? Why the router is not parsing array container parameters?
I'd like to set the global url prefixes in a `%url_prefixes%` parameter - which can change per setup of the app I'm building on - but due to Symfony not parsing the parameter, it fails...

[2021-11-08 13:59] nicolas-grekas commented on #42428
I'm sorry but as I explained in #42087 I don't have a solution better than telling you to extend `RedisProxy` despite it being `@internal`. Or to find another way to add profiling instrumentation on your side.

[2021-11-08 14:02] olegtytarenko opened #43963 "Exception The arguments array must contain 2 items, 1 given in trigger_deprecation"
### Symfony version(s) affected

5.4.0-BETA1

### Description

In `Symfony\Component\DependencyInjection\Compiler\getDefinitionId:68` used function `trigger_deprecation`

When you try `php bin/console cache:clear` you get exception

[code]

### How to reproduce

function fails when platform try use function `vsprintf`

input params
[code]

[2021-11-08 14:03] derrabus commented on #37316
The config component indeed does not support using parameters this way. This is certainly something that could be built, but somebody has to do it. You're welcome to try, @LeonidasJP.

[2021-11-08 14:03] nicolas-grekas commented on #43951
I failed to reproduce, I don't have a ddev command for example.
But AFAIK, this can only happen if you set the `SYMFONY_PATCH_TYPE_DECLARATIONS` to force=1 or force=2. In which case you're explicitly asking for the code to be patched.

[2021-11-08 14:26] ro0NL commented on #42428
Now im wondering, if good old `lazy: true` on the service definition (with proxy-manager) would work actually :sweat_smile:

[2021-11-08 15:34] xabbuh commented on #43963
I am not sure I understand. Can you create a small example application that allows to reproduce your issue?

[2021-11-08 17:03] mikiamomik commented on #36234
When I try to do this I have this error
`[webpack-cli] TypeError: Cannot read properties of undefined (reading 'name')
    at Extend.looksLikeSimpleCallback (MYDIR/node_modules/laravel-mix/src/components/Extend.js:47:40)
    at Extend.register (MYDIR/node_modules/laravel-mix/src/components/Extend.js:26:18)
    at Object.components.<computed> [as extend] (MYDIR/node_modules/laravel-mix/src/componen

[2021-11-08 18:21] #42395 closed, assigned to nobody

[2021-11-08 18:21] #43954 closed, assigned to nobody

[2021-11-08 18:28] noniagriconomie commented on #43941
@sylfabre @nicolas-grekas Hi :)

I've opened https://github.com/symfony/symfony-docs/pull/16083 for doc purpose

Do you think it could be valuable to add a new command/ or a new argument/option on existing command to handle the renaming logic?

Cheers!

[2021-11-08 18:41] nicolas-grekas commented on #43941
Could someone look at git history to see if it contains something interesting about the hash?

[2021-11-08 19:19] NotionCommotion opened #43968 "UserProviderInterface includes the wrong method"
### Symfony version(s) affected

5.3.10

### Description

Symfony\Component\Security\Core\User\UserProviderInterface should include:

    public function loadUserByIdentifier(string $identifier);

and not:

    public function loadUserByUsername(string $username);

Reference:

- https://symfony.com/doc/current/security/user_providers.html#creating-a-custom-user-provider
- https://github.com/symfon

[2021-11-08 19:49] sylfabre commented on #43941
@nicolas-grekas I think it's a left-over from https://github.com/symfony/symfony/commit/c4653e1f65c1df24bd5e73bc5118a5506834f3a4

The now-deleted file `src/Symfony/Bundle/FrameworkBundle/Secret/Storage/CachedSecretStorage.php` uses the MD5 hash as a cache key but it doesn't make sense anymore now. So I think it can be removed

[2021-11-08 20:22] alex-bacart commented on #43963
I can confirm this exception. To reproduce it create any service/controller with the following constructor:
[code]
I use Symfony 5.4.0-BETA1 and PHP 8.1.0RC5

[2021-11-08 20:30] olegtytarenko commented on #43963
@xabbuh

This exception reproduced when you try use `\Symfony\Component\Cache\Adapter\AdapterInterface` and platform try logged deprecation message.
`vsprintf` tried replace `%s` used `$args` (`vendor/symfony/deprecation-contracts/function.php`) but `$args` have only one value when message have 2 (`%s`).

@alex-bacart

It's can reproduced 8.0

[2021-11-08 21:09] nicolas-grekas commented on #43941
Oh now I remember: it allows making secrets case sensitive. The filename is not enough on Windows

[2021-11-08 21:13] chalasr commented on #43968
It's on purpose. The `loadUserByUsername()` has been deprecated in 5.3 and is removed in 6.0. Classes implementing this interface will be able to remove the `loadUserByUsername()` when upgrading to 6.0 or later, not before.

[2021-11-08 21:25] xabbuh commented on #43968
Did you run into any issues that you experienced with the method not being defined in the interface?

[2021-11-09 06:29] #43737 closed, assigned to nobody

[2021-11-09 10:13] wouterj commented on #43968
Closing as this is the expected BC path as explained by @chalasr.

In 5.3, user providers must implement the old method to be backwards compatible with libraries supporting <5.3. A deprecation will be triggered automatically when you don't implement the new method as well.
In 6.0, we removed the old method and added the new method.

[2021-11-09 10:13] #43968 closed, assigned to nobody

[2021-11-09 11:25] Hanmac opened #43986 ".env file with APP_SECRET triggers GitGuardian"
* when using `symfony new` it does create an .env file with an APP_SECRET variable.
* then symfony cli does make the first commit with all files commited. (this already includes the .env file)
* then when you push it like i did with for reporting another error in a bundle, the .env gets pushed too.
* this will trigger GitGuardian because pushing the APP_SECRET might be a security risk. (sensitive

[2021-11-09 11:33] stlrnz commented on #43648
I created another scenario without using custom code to make sure there is no error in my implementation. I configured `http_basic` auth and a memory user provider.

[code]

When setting break points to `Symfony\Component\Security\Core\User\InMemoryUserProvider`s `loadUserByIdentifier()` and `refreshUser` methods you can see that
* `loadUserByIdentifier()` is called on the first request
* `refresh

[2021-11-09 13:14] gimler opened #43974 "[Routing] override defaults/requirements defined in yaml via annotation"
### Symfony version(s) affected

5.3.10

### Description

I try to add a host default to all my routes and only on some controllers i need to override it.
https://symfony.com/doc/current/routing.html#sub-domain-routing

It is not possible to override the defaults and requirements from annoations.yaml with a route annotation in the controller.

### How to reproduce

[code]
controller
[code]
console

[2021-11-09 13:23] derrabus commented on #43974
I'm a bit confused by the `Requirements` row in your output. You never set those in your configuration examples. Where is this coming from? Anyhow, what would be the result you expect?

[2021-11-09 13:31] gimler commented on #43974
@derrabus sorry my fail i have test booth values but try to keep the example as small as possible i have correct the output

[2021-11-09 13:37] NotionCommotion commented on #43968
Thank you for your response and sorry for the false positive.

[2021-11-09 13:51] li0n12 opened #43975 "[doctrine-bridge] Undefined constant Doctrine\DBAL\Types\Types::JSON_ARRAY at PropertyInfo/DoctrineExtractor.php:169"
### Symfony version(s) affected

5.2.12

### Description

symfony/doctrine-bridge 5.2.12 is not compatible with doctrine/dbal 3.0
there is a usage of Doctrine\DBAL\Types\Types::JSON_ARRAY in
https://github.com/symfony/doctrine-bridge/blob/v5.2.12/PropertyInfo/DoctrineExtractor.php#L169

but in doctrine/dbal v3.0 its removed
so symfony/doctrine-bridge gives:
Error : Undefined constant Doctrine\DBAL

[2021-11-09 13:54] stof commented on #43975
Replacing it is not an option, otherwise we would break support for projects using the deprecated `json_array` type in their mapping.
`Doctrine\DBAL\Types\Types::JSON` should be added in the switch separately.

[2021-11-09 13:57] derrabus commented on #43974
The current implementation of loading config via `resource` works the other way round.

You apparently expected that the settings you make in the YAML file next to the `resource` key is used as a fallback that can be overridden on a per-route basis. But in fact, you provide a setting that overrides the corresponding setting of the loaded routes.

So, as a bug ticket I have to render this issue inv

[2021-11-09 13:59] li0n12 commented on #43975
So there should be added an alias for Doctrine\DBAL\Types\Types::JSON_ARRAY
because in dbal 3.0 its not exists

[2021-11-09 14:15] welcoMattic opened #43976 "[Translation][Loco] Loco Provider pull keys with hyphen notation instead of dot notation"
### Symfony version(s) affected

5.3

### Description

Following https://github.com/symfony/symfony/pull/43967, it seems that the bug is more serious than expected.

I seem to have inadvertently used a deprecated feature of the Loco API. As we were using it in php-translation loco adapter I haven't checked if it was already ok to use it.

The result is that now, we must pass globally unique id for

[2021-11-09 14:47] richard4339 commented on #43963
I'm getting it as well on 5.4.0-BETA1, including after updating to dev-main on deprecation-contracts.

Edit: Stepped through it, can confirm what @olegtytarenko said, the message is `The "Symfony\Component\Cache\Adapter\AdapterInterface" alias is deprecated, use "%s" instead. It is being referenced by the "%s" service.`, package `symfony/framework-bundle`, and the $args array only has one argument

[2021-11-09 14:54] acantepie opened #43977 "[symfony/serializer] Xml deserializer not working as expected with CDATA-section (2)"
### Symfony version(s) affected

5.3.10

### Description

Deserialize xml file containing CDATA section not working as excepted.

### How to reproduce

DTO class :
[code]

## Deserializing xml  with CDATA wrapping all content: (ok)

`$this->serializer->deserialize('<foo baz="baz"><![CDATA[foo]]></foo>', Foo::class, 'xml')`

**Have :**
[code]

## Deserializing xml  with CDATA inner content: (ko)

`

[2021-11-09 15:02] xabbuh commented on #43975
Symfony 5.2 is not supported anymore and a fix has been shipped with 5.3.8 (see symfony/symfony@6faae75102751b9550ed767b7afe5a544e35d5ee). You will need to update to it. That's why I am going to close here. Thank you for understanding.

[2021-11-09 15:02] #43975 closed, assigned to nobody

[2021-11-09 15:03] xabbuh commented on #43977
Can you create a small example application that allows to reproduce your issue? That will make it easier for other people who want to give this a try.

[2021-11-09 15:43] btielen commented on #43906
To me, a better options seems to be to write a [custom validation constraint](https://symfony.com/doc/current/validation/custom_constraint.html).

[2021-11-09 15:46] Hanmac opened #43980 "[DI] You have requested a non-existent service ".service_locator.I3K77mT""
### Symfony version(s) affected

4.4.33

### Description

install new symfony:
[code]

tell nucleos to use orm:
[code]

try to clear the cache:
`php bin/console cache:clear -vvvv`

### How to reproduce

The Crash happen when calling any console command: `php bin/console cache:clear -vvvv`

### Possible Solution

_No response_

### Additional Context

The Exception:

[code]

for some reason the ser

[2021-11-09 15:47] pyatnitsev commented on #43906
@btielen, that's fine solution, but why just fix it in standard one?

[2021-11-09 15:54] btielen commented on #43906
1. Making the bcmath extension required seems undesirable
2. Testing and maintaining code that depends on optional installed extensions is hard

[2021-11-09 15:59] btielen commented on #43906
But maybe the RangeConstraint should throw an Exception when out of range?!

[2021-11-09 16:01] pyatnitsev commented on #43906
1. We can just check bcmath installed, if that -> validate with it, if not -> exception or current behaviour
2. Agree

Nice idea about Exception

[2021-11-09 18:02] stof commented on #43976
The only thing I would do is to use a different separator than `_`, as `_` is a common character both in domains and keys, and so won't ensure uniqueness in those cases (otherwise, use at least multiple `_` as a sequence to reduce the risk)

[2021-11-09 18:12] welcoMattic commented on #43976
Of course, it can be `__` or something else like `@@`

[2021-11-09 18:31] #43974 closed, assigned to nobody

[2021-11-09 18:32] nicolas-grekas commented on #43941
Closing then. We could maybe consider a command to rename.

[2021-11-09 18:32] #43941 closed, assigned to nobody

[2021-11-09 18:33] nicolas-grekas commented on #42428
Could be! :)
Closing meanwhile.

[2021-11-09 18:33] #42428 closed, assigned to nobody

[2021-11-09 18:37] gimler opened #43984 "[Routing] override imported route options via annotations"
### Description

I would like to add host default to all my routes and only on some controllers i need to override it.
I can set the host to all routes as described here https://symfony.com/doc/current/routing.html#sub-domain-routing.

But it should be possible to override in a specific route the defaults, requirement and host value from yaml with a route annotation in the controller.

See also #4

[2021-11-09 18:38] gimler commented on #43974
@derrabus thanks for clarification i have open a feature request for that. Actually i can use a workaround and put the controller in different folders and duplicate the config ;(

[2021-11-09 19:05] nicolas-grekas commented on #41130
I don't know if it's a good idea but it should be possible to wire the Lock component yes.
Until someone is willing to have a closer look, I only have two solutions:
- call `LockRegistry::setFiles([])`
- ~upgrade to 5.4 where semaphores should make this rare~

Closing meanwhile.

[2021-11-09 19:05] #41130 closed, assigned to nobody

[2021-11-09 19:32] sylfabre commented on #43941
@nicolas-grekas Would you accept a PR to comment this decision in the code?

[2021-11-09 19:41] nicolas-grekas commented on #43941
Always :)

[2021-11-09 20:39] fabpot commented on #43976
Let's use `__`

[2021-11-09 21:46] nicolas-grekas commented on #43565
https://github.com/symfony/symfony/pull/23065 was supposed to work around this issue, but it looks like I updated the code in https://github.com/symfony/symfony/commit/25941ffe732461fd4ff0f567153ee6645c8df7eb and I don't remember why. I'm pretty sure I forgot this line was a workaround.

Can you please try it to see if reverting https://github.com/symfony/symfony/commit/25941ffe732461fd4ff0f567153

[2021-11-09 21:47] nicolas-grekas commented on #43636
Closing as there is no bug here.

[2021-11-09 21:47] #43636 closed, assigned to nobody

[2021-11-09 22:12] ureimers commented on #43565
Hi @nicolas-grekas, yes, reverting https://github.com/symfony/symfony/commit/25941ffe732461fd4ff0f567153ee6645c8df7eb does make this work again:

![Reverting 25941ff](https://user-images.githubusercontent.com/1671217/141012152-251ae781-1edb-4656-8618-47289126f1b6.gif)

Unfortunately, I'm not in the office for the next two weeks, so I cannot help you figure out, why the exception was included, righ

[2021-11-09 22:40] ericmorand commented on #43636
@nicolas-grekas, the HttpKernel class doesn't work, plain and simple. You can pretend that it is by design but, well, you have to admit that you could use the "by design" excuse to disqualify any bug into a feature.

The truth is that HttpKernel class can't be used after installing the composer package that provides it. You can call it whatever you want, the rest of the world calls it a bug.

[2021-11-10 06:29] #43719 closed, assigned to nobody

[2021-11-10 06:29] #43446 closed, assigned to nobody

[2021-11-10 07:22] #43877 closed, assigned to nobody

[2021-11-10 08:27] OlivierKessler01 opened #43989 "[Routing] Symfony routing when using mod_alias on Apache requires to duplicate path prefixes."
### Symfony version(s) affected

v5.3.4

### Description

Here is our use case. We want to have our api as well as another app on the same Apache Virtualhost for performance purposes, given they need to have the same domain name to avoid CORS pre-flight requests.

The whole point is using mod_alias rather than mod_proxy.

Unfortunately mod_alias appends a prefix to the variables $_SERVER['SCRIPT_N

[2021-11-10 12:20] stof commented on #43636
@ericmorand the HttpKernel class works out of the box with required dependencies. The Kernel one relies on the optional dependencies.

Not relying on optional dependencies in Symfony components would force us to split existing components into a lot more components (and some of them would be very small, as the YamlFileLoader of the DI component would have to become its own component for instance),

[2021-11-10 12:54] nicolas-grekas commented on #43658
We could find a way to access `EventDispatcher::$listeners` from `TraceableEventDispatcher`. It could be by reflection to me since this is all in the same component. Then, when a listener in that list is a lazy callable (those `\is_array($listener) && isset($listener[0]) && $listener[0] instanceof \Closure && 2 >= \count($listener)` checks in `EventDispatcher`), we won't need to resolve that lazy

[2021-11-10 13:44] nicolas-grekas commented on #43918
Thanks for the reproducer, I also see the memory increase, but I didn't find any obvious reason yet.

The leak is around this stack:
![image](https://user-images.githubusercontent.com/243674/141122389-4c9b8129-4e4b-496c-88d4-98e17cc52bd9.png)

But I don't know where. Help wanted.

[2021-11-10 13:52] Jeroeny commented on #43918
Could this be related https://bugs.php.net/bug.php?id=76982  ?

[2021-11-10 13:59] nicolas-grekas commented on #43956
Thanks for the reproducer.

When `inline_factories` is set, we also inline proxy classes in the dumper container class.
We might be able to fix this by dumping them in a new `proxies.php` file (name to be confirmed when working on the implementation). This file would be loaded only after the cache has been checked, aka when `$this->privates['service_container']` is resolved (see the value of this

[2021-11-10 14:02] nicolas-grekas commented on #43918
It used to be an issue but now the code should not hit this bug, so I don't think that would the issue (but I might be wrong of course, that's just my memory speaking.)

[2021-11-10 14:21] #43963 closed, assigned to nobody

[2021-11-10 17:36] a1812 commented on #43918
hardcode solution

https://github.com/symfony/symfony/blob/07a891f6c57d9da513d75402f2aa2da73d897044/src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php#L397
 insert  before return
[code]

[2021-11-10 17:45] nicolas-grekas commented on #43918
@a1812 thanks for the idea but that doesn't remove the leak.

[2021-11-10 17:50] aleho opened #43997 "[HttpKernel] [HttpCache] AbstractSurrogate doesn't treat 304 response as successful"
### Symfony version(s) affected

4.4+

### Description

When `HttpCache` is allowed to preserve `Last-Modified` (see  #42355) clients will execute subsequent requests with `If-Modified-Since`. If cache then returns a `304 Not Modified` this will result in an exception.

This cycle will continue:
- Request: initial
- Response: sucessful, cache store, `Last-Modified` header
- Request: with `If-Modif

[2021-11-10 17:54] a1812 commented on #43918
@nicolas-grekas
![image](https://user-images.githubusercontent.com/42714329/141166687-64ccf146-9824-4654-a130-7d03b5d4aee7.png)

[2021-11-10 18:13] nicolas-grekas commented on #43918
Oh, that's not what I have. Which version of PHP do you use? Same with the prod env?

[2021-11-10 18:46] a1812 commented on #43918
i tested so:

PHP 8.0.12

[code]

[2021-11-10 18:48] shude opened #43999 "[Serializer] Pass a key property to NotNormalizableValueException"
### Description

When we try to denormalize an object with type-hinted property with builtin type and it does not match we get an NotNormalizableValueException with message that contains a field name. Sometimes we want to get key of that field.
I suggest adding a property ```key```  to NotNormalizableValueException and just set it in ArrayDenormalizer.

### Example

_No response_

[2021-11-10 18:52] fdyckhoff opened #44000 "[symfony/mailjet-mailer] Unable to send an email via API: Message-ID header cannot be customized"
### Symfony version(s) affected

5.2.12

### Description

The mailer is unable to send an email, when using die Mailjet API transport and when trying to customize the Message-ID header. When using "Message-ID" no mail can be sent. Changing it to "Message-Id" will send the mail, but the header is ignored.

The Mailjet API returns a 400 response for header "Message-ID".

[code]

Furthermore this err

[2021-11-10 23:16] michal-lewandowski opened #44003 "[Messenger] More detailed log message of handling error"
### Description

Right now, when the error is thrown during message handling and the limit of retries is hit, we get a critical log with this message:
`Error thrown while handling message {class}. Removing from transport after {retryCount} retries. Error: "{error}"`
From `Symfony\Component\Messenger\EventListenerSendFailedMessageForRetryListener::onMessageFailed`

I think it would be better if the

[2021-11-11 00:14] a1812 commented on #43828
@epitre you checked?

[2021-11-11 05:01] OskarStark commented on #43953
Friendly ping @welcoMattic

[2021-11-11 08:28] leik-software opened #44006 "[Mailer] BCC not working when use DKIMSigner"
### Symfony version(s) affected

5.3.9

### Description

I am aware of closed issue https://github.com/symfony/symfony/issues/36333 but my new app is not working.
I tried both MAILER_DSN=ses+smtp: and MAILER_DSN=ses+https.
I get a json notification from Amazon SNS where I can see that there is no BCC header. The email don't reach to bcc-receiver.

### How to reproduce

$email = new Email();
$email