[2015-03-30 11:41] weaverryan commented on #14096
Fortunately, it's much less of a big deal than you think :). The changes I proposed above for 3.0 would be minimal - *allowing* you to more easily have a bundle-less app, but without changing how bundles work now (because we still do want and need them). If we made all yhose changes today (including the directory structure changes), a 2.x app would still be fully compatible. You could update your

[2015-03-30 12:15] parhamdoustdar commented on #14096
Thanks for the explanation and putting my mind at ease! :)

On 3/30/2015 4:11 PM, Ryan Weaver wrote:

[2015-03-30 12:16] Sander-Toonen commented on #14048
I was confronted with the same issue a while back. I needed to query all users from the database with a specific role (not for anything security related), but since this role could be assigned trough inheritance I could not simply query the database for users having the role. Instead I created an inverted variant of the RoleHierarchy. It returns all roles that lead to a specific role. You can then

[2015-03-30 12:52] twifty opened #14111 "[Config] Wrong exception thrown"
I have a custom route loader. When an exception is thrown from within my loader, in this case it's a `ContextErrorException` for an invalid array key, the browser always shows a `CircularReferenceException`.

Digging into the Symfony code, I can see the problem.

On line 104 of the `Component\Config\Loader\FileLoader` class, the resource is added as a key to a static array. When an exception is th

[2015-03-30 14:16] maidmaid opened #14112 "[Form] Add translation_params options in form type"
Hello !

It is currently not possible to set the translation parameters to translate label form. Why not add ``translation_params`` (in relation to ``translation_domain``) options in form type ? For example :

[code]
[code]

[2015-03-30 14:22] dbaltas commented on #13998
The default `max_nesting_level` has been [raised](https://github.com/xdebug/xdebug/pull/145) to 256 on xdebug 2.3.2

[2015-03-30 15:48] #13957 closed

[2015-03-30 15:51] #12014 closed

[2015-03-30 15:51] fabpot commented on #12014
@javiereguiluz There is probably some tickets to create as follow-ups of this one.

[2015-03-30 18:28] jakzal commented on #10422
@Strate would you mind checking if #13912 fixed this issue for you?

[2015-03-30 20:02] tsantos84 opened #14117 "[Console][Helper][Table] - Render row by row"
I've inspected the Table Helper class and realized that is not possible to render the table row by row. Would be nice if Table Helper had the capability to render a specific row by calling $table->renderRow($i). That way I can process a large amount of items and see in real time the results of each processing.

[2015-03-30 20:07] javiereguiluz commented on #14117
@tsantos84 the problem is that for most tables you need to know the entire table contents before displaying any single row. The reason is that the contents of the table determine its layout. Now that we've introduced the `colspan` and `rowspan` options, your need is even harder to provide.

[2015-03-30 23:58] tsantos84 commented on #14117
@javiereguiluz Thanks for your reply. What you saying is that to calculate the width of the table, you need to know the entire content before, right? And the highest length will determine the width of that column. We are talking about `['column_width' => 'auto']`.  And what you think about to pass a static value when add the headers? Some thing like `['column_width' => 100`], where `100` refers to

[2015-03-31 06:31] abulford opened #14124 "Console command server:start --router argument should support relative file paths"
If a relative file path is used for the `server:start` Console command's `--router` argument, the specified router script appears not to be found and is ignored.  So the following command would result in the PHP built-in web server being started with no router script (not even one of the standard Symfony routers found in `@FrameworkBundle/Resources/config/`):
[code]

This is in contrast to an exam

[2015-03-31 06:34] javiereguiluz commented on #14117
That's exactly what I meant.

This problem is also suffered by browsers when rendering HTML tables. Their solution is to define a `fixed` attribute that can be applied to the `<table>` element. If set, the entire table will be displayed exactly as the first row of the table, no matter how bad the end result may be.

[2015-03-31 07:22] jrobeson opened #14125 "need additional #symfony irc channel ops"
I'm not actually sure where to post this, since the dev list is gone. But i'd like to get additional channel ops for #symfony, #symfony-off, and #symfony-dev.

I'd like to nominate these people:
@WouterJ @Iltar and myself

[2015-03-31 07:28] javiereguiluz commented on #14125
I occasionally visit the Symfony IRC channels and I always find the three of you helping other people. Therefore, I'm :+1: for this proposal.

By the way, does it make sense to maintain `#symfony-off` and `#symfony-dev` channels?

[2015-03-31 07:29] jrobeson commented on #14125
@javiereguiluz : #symfony-off is pretty active now. We are really trying to keep off topic and personal discussions in there and not in the main channel

[2015-03-31 07:31] jrobeson commented on #14125
oh as far as #symfony-dev goes, I'd prefer if it was set to invite only except on hackdays.

[2015-03-31 07:31] iltar commented on #14125
@jrobeson Thanks for the nomination, I'd be happy to help out as I'm usually online most of the week (work) and sometimes even from home.

@javiereguiluz 99% of the time we redirect people from `#symfony-dev` to `#symfony`.

[2015-03-31 07:33] cordoval commented on #14125
:+1: for the nomination though i like the freedom irc has to ask any question and bring free speech in discussion as well :older_man:

[2015-03-31 07:34] jakzal commented on #11566
@spezifanta would you mind to check if the issue persists with xdebug disabled?

[2015-03-31 07:37] javiereguiluz commented on #14125
@jrobeson after reading @iltar comments, what do you think about:

  * Removing `#symfony-dev` and keeping the discussions about Symfony development in the only official site to do that: this GitHub repository.
  * Whenever there is a hackday, the `#symfony` channel will be flooded by Symfony development topics instead of Symfony newcomers questions .... but that isn't necessarily a problem. Newco

[2015-03-31 07:38] fabpot commented on #14125
:+1: ... but I have no idea who can do that.

[2015-03-31 07:39] jrobeson commented on #14125
@javiereguiluz : I think ti's easy enough to just set the channel to invite only and clear it on hackdays. I'd definitely prefer to keep hackdays separate, but change the topic in #symfony to mention that there is a hackday ongoing.

[2015-03-31 07:40] jrobeson commented on #14125
here's the current channel ownerships:

#symfony: fabpot, pookey
#symfony-dev: jonwage, Seldaek, lsmith
#symfony-off: pookey, skoop, hal, FuzzyOne

[2015-03-31 07:43] jrobeson commented on #14125
I'll ask pookey to help us out with #symfony and #symfony-off  and either @lsmith77 or @Seldaek with #symfony-dev.

[2015-03-31 07:45] javiereguiluz commented on #14125
@jrobeson please reconsider your decission: no one in the Symfony core group monitors the `#symfony-dev` channel. Any discussion about Symfony development done outside this GitHub repository is lost.

And it's confusing to have a `-dev` channel: is that for "Symfony developers" or for "Symfony development"?

[2015-03-31 07:45] jrobeson commented on #14125
I've been meaning on asking about this for over a year now, but we finally had an instance in which we wanted to kick someone for flooding the channle, but couldn't do it!

[2015-03-31 07:46] jrobeson commented on #14125
@javiereguiluz : how about we reserve #symfony-hackday channel then? and just leave #symfony-dev invite only to stop people from joining.

[2015-03-31 07:48] javiereguiluz commented on #14125
I'm a follower of the *"less, but better"* philosophy, so I'd prefer to not create separate channels. However, I'll support any proposal to remove the `#symfony-dev` channel :)

[2015-03-31 07:49] jrobeson commented on #14125
@javiereguiluz : i'm going ot have to stand firm on using a different channel than #symfony for hack days.

[2015-03-31 07:53] iltar commented on #14125
@jrobeson what would be the downside of using `#symfony` during the hackdays?

[2015-03-31 07:54] jrobeson commented on #14125
confusion. Because some people are trying to get help with their actual symfony problem, while other people are trying to work together to fix tickets.

[2015-03-31 07:56] jrobeson commented on #14125
We already have enough trouble with a situation like this:

<Person1> Can you help me with X.
--- Person2 Joins ---
<Person2> Can you help me with Y.
<Helper> You should do Z.
<Person2> were you telling me to do Z?

[2015-03-31 07:56] maschmann commented on #14125
Some more flooding :-)
Using a separate channel for hackdays seems a good idea. Does not matter if the channels is empty inbeetween hackdays  - as long as there's a bot or nick parked to prevent overtakes.
Generally a bot in #symfony and/or #symfony-off could solve the ops-problem by a access list and the kick options. Nice side-effect might be to be able to post the Symfony blog posts and communi

[2015-03-31 07:59] cordoval commented on #14125
if i don't recall wrongly @weaverryan was a separate channel proponent. I agree with him and @jrobeson. What I think I disagree is in terms of freedom, we should let trolling on irc be handled by irc means which is ignoring or inactivity or just time. It has always been the case most of the times but i could be wrong. I am a big proponent of freedom so :-1: for invite onlys. :+1: for separate chan

[2015-03-31 08:00] jrobeson commented on #14125
@cordoval : the invite only is just a way to stop people from joining.. the channel will actually be dead, and nobody will be in there.

Also in regards to trolling: Ignoring the trolls is not an effective technique. See the recent #gamergate terribleness

[2015-03-31 08:05] iltar commented on #14125
What I'd like to prevent mainly, would be spam such as the following:

![IRC Spam](http://i.imgur.com/HRkOW9p.png)

[2015-03-31 08:07] cordoval commented on #14125
oh wow, ok then :+1:

[2015-03-31 08:14] jrobeson commented on #14125
what @iltar posted is finally why filed this ticket :)

[2015-03-31 08:17] maschmann commented on #14125
Otherwise it's always an option to /ignore <people> if they annoy ;-)

[2015-03-31 08:27] xabbuh commented on #14125
:+1: for giving op permissions to #symfony and #symfony-off, everytime I join the channel, at least one of them is there and they really go a great job

Not sure how to handle #symfony-dev though. Actually, I don't think we really need to do anything about it as there's not much traffic and most people understand to ask support questions in #symfony instead.

[2015-03-31 08:37] lsmith77 commented on #14125
fine for me .. I think I have admin rights on #symfony-dev

[2015-03-31 09:11] jrobeson commented on #14125
@xabbuh : it seems that at least a few times a week, there's somebody asking questions in #symfony-dev, so Iltar or I have to redirect them to #symfony.

I realized that freenode's ChanServ has a channel redirect feature. That's probably what we should use.

Does everybody agree with redirecting #symfony-dev to #symfony ?

[2015-03-31 09:13] jrobeson commented on #14125
I think we got a little off topic here? should i file a new issue for that?

[2015-03-31 09:16] jrobeson commented on #14125
Here are some channel migration instructions i found: https://wiki.ubuntu.com/IRC/MovingChannels

[2015-03-31 12:41] nikolajosipovic commented on #12423
I'm doing a sub-request (->forward) within the StreamedResponse callback, so the Session is failing to start: `Failed to start session because headers already sent by..`

One solution was to override the introduced save session listener. Any other workaround? Problem is that the session data is required in the sub-request.

[2015-03-31 14:20] javiereguiluz opened #14138 "Update the styles of all the built-in command consoles"
Now that #14057 has been merged, we need to update the styles of all the built-in console commands. Let's make a list to coordinate the work:

  * [x] assetic:dump (https://github.com/symfony/assetic-bundle/pull/387)
  * [x] assetic:watch (https://github.com/symfony/assetic-bundle/pull/387)
  * [x] assets:install (https://github.com/symfony/symfony/pull/14235)
  * [x] cache:clear (https://github.c

[2015-03-31 15:43] cordoval opened #14139 "asset namespaces is only for css and not less?"
I am having weird issues with common js and css libraries after going asset namespaces
is this buggy or not tested with e.g. less assets? bootstrap-select and others fail.

[2015-03-31 15:46] stof commented on #14139
I don't understand what you mean. Please describe the issue you have

[2015-03-31 15:49] cordoval commented on #14139
font awesome and bootstrap select for instance don't load icons or don't work whenever i have code like below:
[code]
Notice the # commented parts. Right now they are moved into the templates. But if i move them here in the yaml file then it stops working as described above.

[2015-03-31 18:03] jakzal commented on #13951
Isn't this already possible with [form theming](http://symfony.com/doc/current/cookbook/form/form_customization.html#form-theming-in-twig)?

[2015-03-31 18:12] jakzal commented on #13964
Are you caching doctrine entities? Have you re-registered them on the entity manager after fetching from cache?

[2015-03-31 18:26] jakzal commented on #13964
Note that I don't know why this condition is there and it's not explained in the code. I expect that doctrine would throw an exception itself if non managed entities were used here. Perhaps @webmozart could tell us more.

[2015-03-31 18:56] jakzal commented on #14021
Correct. I think this is a bug, as here's what we promise in `getPhpFiles()` comment:

*like PHP does* part is currently a lie. Looks like it never worked properly. There's even a test verifying invalid behaviour. Changing it at this point might be problematic due to BC promise :(

[2015-03-31 20:10] gkawka opened #14142 "[Form] Collection prototype no escaping"
I have an issue with collection prototype. Its not escaped so it looks like other form fields on page.
Shouldn't be escaping here?
https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig#L28

[2015-03-31 21:57] WouterJ commented on #14125
* I'm fine with the proposed OPs. It's just so that the channel can be cleaned up when needed and with jrobeson, Iltar and me, I think we've 99% of the time covered with at least one OP.
* I'm a big supporter of a different channel for different stuff (that's also why we created #symfony-docs for the sprint day). As shown by jrobeson, multiple questions at the same time are already hard to follow,

[2015-03-31 22:41] andrerom commented on #13505
Two PR's now exists for this problem, some decision is needed on direction from core people to help us move this forward:

#13506
#13945

[2015-03-31 22:56] cilefen opened #14149 "Define documentation standards for service tags"
I am working on this [Drupal 8 issue for documenting service tags](https://www.drupal.org/node/2264047). Right now it looks as though we may implement a `@service_tag` doc tag.

It would be good to match implementations if Symfony would want to document service tags. Has there been any interest among the Symfony developers in documenting service tags?

[2015-03-31 23:26] MetalMatze opened #14152 "[DomCrawler] Remove nodes from Crawler"
Hey,

I really like the DomCrawler Component and I'm using it for a project where I need to remove a child node from that given Crawler node.
I'm currently stuck on removing that node since there's no remove method or something like that.
On the web there's not much talking about this use case.

Any suggestions on how to do that, maybe adding that function?
Thanks.

[2015-04-01 06:24] jakzal commented on #14054
@arendjantetteroo closing as #13997 was merged.

[2015-04-01 06:24] #14054 closed

[2015-04-01 07:20] jakzal commented on #14039
:+1: for getting rid of the magic deep syntax. Since there's a language construct doing similar thing, it's not worth to maintain it on our side.

I also don't see much value in having ArrayAccess as I prefer explicit calls, and as mentioned by stof it would be less powerful (no default).

[2015-04-01 07:27] jakzal commented on #14152
As [explained in the docs](http://symfony.com/doc/current/components/dom_crawler.html):

And also:

DomCrawler is rather designed to extract details from DOM documents rather than modifying them.

What are you trying to achieve exactly?

[2015-04-01 07:32] enriquemorenotent commented on #14039
Setting a default parameter is quite easy on an array

    $a = array("one" => 1);
    $b = $a["two"] ?: "default";
    echo $b;

will print

    default

[2015-04-01 07:44] jakzal commented on #14039
@enriquemorenotent this will emit a warning: *PHP Notice:  Undefined index: two in Command line code on line 2*

[2015-04-01 07:51] enriquemorenotent commented on #14039
Indeed. You are right.

I agree that a better method to set a default is needed,  but I still think that adding `ArrayAccess` would be a nice add on, since it is a nice native-looking syntax and some people might not even care about having a default.

[2015-04-01 09:06] KentZheng opened #14157 "Tes"
testing

[2015-04-01 09:07] KentZheng commented on #14157
abc

[2015-04-01 09:44] #14157 closed

[2015-04-01 09:59] MetalMatze commented on #14152
Oh, sorry for not seeing that...

The HTML looks like:

    <div class="content">
        <h2 class="gamma">Excerpt</h2>
        ...content html...
    </div>

I'm getting the `.content` Crawler node.

At first I filter the `h2.gamma` to get the excerpt text that I want in my database field.

After that I want everything inside that `.content` except the `h2.gamma` node which I extracted before.
I

[2015-04-01 10:05] blag001 opened #14160 "[Symfony new installer] Fail under proxy"
Hello,
I'm on unbuntu 14.04 and I can't fin a way to use the new symfony installer unde the corporate proxy.
- I've set the HTTP/HTTPS/FTP proxy under `Network > mandatory server`
- `export` in terminal HTTP/HTTPS/FTP proxy

I follow the
[code]
(I set my proxy config for the curl part)
But when use the `symfony new test_project` I only have this :
[code]
I don't find anything on google nor in the

[2015-04-01 10:12] stloyd commented on #14160
This is not Symfony Installer repository. Every issue with that product should be reported in its repository: https://github.com/symfony/symfony-installer

[2015-04-01 10:22] javiereguiluz commented on #14160
@blag001 thanks for reporting this issue. However, as @stloyd said, to keep things sorted, we discuss about the Symfony Installer in another repository. In fact, we already have an issue created to discuss about adding proxy support to the installer. Please check out https://github.com/symfony/symfony-installer/issues/124 and feel free to join the discussion. Thanks.

[2015-04-01 10:46] blag001 commented on #14160
My bad, didn't see the didicate repo... :P
Thanks.

[2015-04-01 11:15] 94noni commented on #14112
Hello

Why not adding the label in twig directly?

[code]

[2015-04-01 11:32] xabbuh commented on #14152
There is the [reduce()](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/DomCrawler/Crawler.php#L377-387) method which makes it possible to filter your results based on a callback. Is that what you are looking for?

[2015-04-01 12:13] maidmaid commented on #14112
Yes it works but the problem with your solution is the only way to do this. Using ``form``, ``form_row``, or ``form_label`` (without argument), it is not possible. Currently writing the label in the ``form_label`` function looks like this ([link](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig#L223)) :

[code]
An empty array as par

[2015-04-01 12:16] 94noni commented on #14112
I understand your point
Maybe wait or ping somewone who can answer this need, or propose a PR direclty :)

[2015-04-01 12:17] craue opened #14165 "[Form] unintended validation BC break by #14050"
#14050 seems to inadvertently affect validation. When submitting an empty required choice field, there's now a message "This value is not valid." which wasn't there before. See https://github.com/symfony/symfony/pull/14050#issuecomment-88445279.

[2015-04-01 12:18] maidmaid commented on #14112
Yes, waiting other point of view before to engage a PR :+1:

[2015-04-01 14:02] webmozart commented on #14165
Could you please post some code to reproduce this issue? Preferably a clone of symfony-standard?

[2015-04-01 14:54] dincho commented on #13552
:+1:

[2015-04-01 15:22] Tobion commented on #14083
Closing because it could be handy but we actually didnt need multiple channels in a single class anymore and using the levels was enough at the end.

[2015-04-01 15:22] #14083 closed

[2015-04-01 15:33] albe commented on #14021
Yeah ok, I understand that :) But really should be adressed in the next major update that is breaking BC

[2015-04-01 16:54] craue commented on #14165
@webmozart: Done in https://github.com/craue/symfony-standard/tree/2.7-symfony-issue-14165.

Pre-PR (using `"symfony/symfony": "2.7.x-dev#ef886548a0b6d1467876a60ef8f2c0f1e5a3ac3c"`) the error message is "This value should not be blank.", caused by the `NotBlank` annotation in the entity.

Post-PR (using `"symfony/symfony": "2.7.x-dev#776796435e9f09cdb1b3afd71df2bff9b89d0c36"`) it's "This value is

[2015-04-01 17:06] #14160 closed

[2015-04-01 17:16] jakzal commented on #14149
We've recently added the `@Event` annotation (see #12299).

I'm not sure how much value would this bring to Symfony. However, to be consistent with `@Event` and doctrine's `@Annotation` I propose you use `@ServiceTag` for Drupal.

[2015-04-01 17:34] jakzal commented on #13977
I agree with stof. BC doesn't mean we keep all the discovered bugs in. It means we don't change behaviour considered to be correct. Otherwise we wouldn't be able to change any code in minor versions ;)

Unfortunately in this case someone was relying on an invalid behaviour, but notice it's even more likely that someone relies on a correct behaviour of more recent Symfony versions. Nothing we can (

[2015-04-01 17:37] Rvanlaak commented on #13552
@dincho decent i18n is something different than enable simple, non-i18n agnostic applications to configure the Twig date format in my opinion ;-)

[2015-04-01 17:43] xabbuh commented on #14149
One problem I see with this is that the interface being used when processing the tag, might not be aware of the tag at all (for example, because the interface in one of the component, but the compiler is in a bundle). How would we deal with this?

[2015-04-01 17:43] jakzal commented on #14109
@nicokaag would it be easy for you to verify if this is still broken in a more recent Symfony version (2.6/2.7)?

[2015-04-01 17:52] jakzal commented on #14149
Note I'm not a fan of introducing it in Symfony, I merely suggested some consistency in naming.

I don't like this way of documenting tags at all. Having this implementation detail in an interface feels a bit wrong to me as it couples the interface to a service container. An interface, or its implementation, can be successfully used without a DI container. It just seems to be a wrong place for thi

[2015-04-01 20:14] MetalMatze commented on #14152
So I tried this.
[code]

It only returns the first node after `h2.gamma`. But I want everything after that headline...

[2015-04-01 20:50] jakzal commented on #14152
Since PHP passes objects by reference, and Crawler is basically a wrapper for [DOMNode](http://php.net/manual/en/class.domnode.php)s, it's technically possible already:

[code]

*If you use [melody](http://melody.sensiolabs.org), run* `melody run https://gist.github.com/jakzal/8dd52d3df9a49c1e5922` to give it a go.

[2015-04-01 21:06] MetalMatze commented on #14152
This works like a charm! Absolutely perfect.

Needed some time to think it through, but I get it now. Thanks and :+1: for [melody](http://melody.sensiolabs.org/).

[2015-04-01 21:06] #14152 closed

[2015-04-01 22:59] xcompass opened #14168 "No token in esi fragment when outer layout is cached"
I'm trying to cache my app and found out there is no token populated in ESI fragment when outer layout is being cached. The ESI fragment is being included in the outer layout as following:

    render_esi(controller('somecontroller'))

The ESI fragment is set to no cache and outer layout is set to be cached for a period of time. I print out the toekn on both outer layout and ESI fragment with the

[2015-04-02 10:32] boekkooi opened #14171 "[DependencyInjection] BC break after PR 13519"
So when updating from SF 2.6.1 to 2.6.6 i found my self stuck with a error on `cache:clear`.
After some research I found out that in one of our internal components we where doing the following:
[code]

This used to work but due to a change made in #13519 if stopped working.
The code dumped after #13519 was merged looks something like (see the double `$this->get`):
[code]

I'm not sure if this a BC

[2015-04-02 10:41] stof commented on #14171
This is an invalid usage of Symfony. The ``setFactoryService`` method is documented as accepting a string argument only.
We never guarantee BC for argument types which are different from the supported ones

[2015-04-02 10:44] boekkooi commented on #14171
@stof I'm not disagreeing there but still it worked for years and now it broke and the error message is not a nice understandable one.

aka the error i got was:
[code]

[2015-04-02 11:00] Tobion commented on #14171
Closing as the behavior for wrong parameters is undefined of course.

[2015-04-02 11:00] #14171 closed

[2015-04-02 11:51] aramalipoor opened #14175 "[Form] How to determine a form is a prototype from CollectionType?"
I'm creating a `TypeExtension` and want to add some variables into `$view->vars`, but how can I check if the form type that I'm currently visiting is actually [created from within a collection?](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Form/Extension/Core/Type/CollectionType.php#L29-L34)

Is it even possible? If not is it a good idea to `setAttribute` on the prototype?
[co

[2015-04-02 11:52] aramalipoor commented on #14175
@stof /cc

[2015-04-02 12:28] alborq opened #14177 "[Form] formName conflict"
Hi.
If name of form has a specific value like 'search' a new field is automaticly create in start of form...

[2015-04-02 12:49] stof commented on #14177
I don't understand what you mean

[2015-04-02 13:51] stof commented on #14086
Reopening because we are not there yet.

We have some classes using reserved keywords in the Validator component (the ``True`` and ``False`` constraints for instance).
The only way to fix this is to rename the constraint to a different name and deprecate the old name (providing it through a class_alias for PHP 5.x to avoid defining a class with the reserved named for PHP 7). So we must do it befor

[2015-04-02 15:35] albe commented on #14021
I created a pull request with a possible solution that I use locally for the time being. That solution is not complete though, since getPhpValues (and maybe other places I don't know of) might need change too. Still in any case you consider fixing this, you can use that as base freely to your liking.

[2015-04-02 16:08] javiereguiluz opened #14183 "Don't repeat the translations in the new Translation profiler panel"
The problem
----------------

I was playing with the new 2.7 translation profiler and the Symfony Demo application. When I was in the backend homepage, where we display 10 rows of items with the buttons `Show` and `Edit` translated, I got the following:

![translation-profiler-default](https://cloud.githubusercontent.com/assets/73419/6967878/b5c1486e-d962-11e4-9f68-48b608c18ab6.png)

Repeating the

[2015-04-02 16:17] WouterJ commented on #14183
:+1: for the last suggestion

[2015-04-02 18:59] aitboudad commented on #14183
@javiereguiluz I made a quick fix #14185 can you check it ?

[2015-04-02 19:34] mpdude commented on #13948
Are you sure that just adding the loaders/dumpers/resources is a problem in itself?

When it comes to memory usage, I'd guess that the registration alone does not (much) harm.

However, once you need a single message from a single domain, the entire catalogue for that locale (comprising all message domains) will be loaded – and possibly the catalogues for all fallback domains as well.

[2015-04-02 22:00] GerbenWijnja opened #14189 "StringUtil::singularify() does not convert "movies" correctly"
The plural map contains:
[code]
And as a result, movies is singularified to movy. Symfony is now looking for 'addMovy' and 'removeMovy' instead of 'addMovie' and 'removeMovie'.

(Is there a possibility to hint for function names by the way?)

The word 'movies' seems to be an exception to the general rule. I checked a couple of word sites and there are only 2 words ending in 'ovies': movies and anc

[2015-04-03 00:04] GerbenWijnja commented on #14189
Reopened the PR, the first one was accidentally set for 2.7 instead of 2.3.

[2015-04-03 00:06] dunglas commented on #14096
For now a *Bundle/Resources/config directory is still required by FrameworkBundle of you want to use YAML or XML formats for the Validator and Serializer Metadata.

Should be fixed to be able to create bundleless apps (and that would be cool).

[2015-04-03 00:30] liutec commented on #14073
I was able to reproduce this and found it to be an issue with the route namespace and in some cases (only able to reproduce once) triggered by a bug introduced in https://github.com/doctrine/annotations/commit/6355277c8254bfeb9db68fae0d1de53f1cd09388#comments which results in a warning being thrown by @unlink($tempfile)

Possibly a problem with re-throwing exceptions in FileLoader

My steps to rep

[2015-04-03 01:21] liutec commented on #14073
I've found this commit https://github.com/symfony/symfony/commit/0ebcf639c3998924b1fd26cc1d52ae4d5aff5b94 to have generated the problem.
Specifically throw $e; instead of just returning from src/Symfony/Component/HttpKernel/EventListener/ExceptionListener.php onKernelException when exception thrown during handler.

[2015-04-03 06:13] cordoval commented on #14015
I think this issue is documentation and not symfony issue. :+1: for closing this @fabpot or whoever is in charge these days.

[2015-04-03 06:32] #13919 closed

[2015-04-03 06:39] nicolas-grekas opened #14193 "Fix choice lists refacto"
Reminder issue for taking care of comments on #14050 (ping @webmozart )

[2015-04-03 06:46] cordoval commented on #13916
@valeriangalliat

[code]

i also get an error on the page showing the first error which is your class Troll does not exist or is missing an use statement. The memory leaks after that error has happened. I believe the ClassNotFoundFatalErrorHandler starts the leak since it builds up a huge array of classes of all the autoloaders. Then after that comes the datacollector which is going to use the mem

[2015-04-03 07:38] nicolas-grekas commented on #14073
Does #14192 enhance the situation? As stated in https://github.com/symfony/symfony/commit/0ebcf639c3998924b1fd26cc1d52ae4d5aff5b94#commitcomment-10558553, the issue is not in this commit, but in the error handling strategy of the route loader. A circular exception is just plain wrong.

[2015-04-03 07:48] javiereguiluz commented on #14073
@nicolas-grekas it's better ... but it's not good enough yet :)

After applying your changes, I see 4 exceptions now. However, I see first the "wrong exceptions". The best exception in this case would be the number 2 (and possibly the numbre 1 too):

![exceptions](https://cloud.githubusercontent.com/assets/73419/6979611/7d2674c8-d9e6-11e4-9453-efb102d41b9d.png)

[2015-04-03 08:00] nicolas-grekas commented on #14073
So, HttpKernel is at the maximum that is legitimate to do: error reporting does not hide anything so the situation can be handled by reading the page.
If we need more, then we need to rethink the error handling part of the route loader.

[2015-04-03 08:15] stof commented on #14096
This is wrong. You cannot pass an absolute path. Twig only accept template logical names. Then, for the Filesystem loader, the logical name is used as a path relative to the configured places indeed, but an absolute path won't work (and you can have several folders being checked for the same logical name)

@parhamdoustdar DoctrineFixturesBundle has always been designed to load dev fixtures. this i

[2015-04-03 08:21] liutec commented on #14073
https://github.com/symfony/symfony/pull/14192 does the trick and saves a lot of debugging. Thx nicholas.

[2015-04-03 08:24] stof commented on #14073
@nicolas-grekas the first exception in this case is wrong: the exception happened too early in the Symfony lifecycle to even give a chance to the kernel to throw the kernel.exception event

[2015-04-03 08:25] parhamdoustdar commented on #14096
I thought so. However, if you look at my question on [StackOverflow](http://stackoverflow.com/questions/29314347/is-it-safe-to-seed-production-databases-with-doctrinefixturesbundle), in actuality, some people are using it on production. Also, for my use case, I need such a tool that is intended to run on production servers.

I can't really understand what `production-ready` vs `development-only` h

[2015-04-03 08:27] stof commented on #14096
@parhamdoustdar DoctrineFixturesBundle does not modify the database. It modifies the data in it, which is also what any other code using Doctrine in your project can do

[2015-04-03 08:35] javiereguiluz commented on #14189
@GerbenWijnja thanks for fixing this error.

However, as I always do when someone reports a problem with the "magic Symfony pluralizator", I'll say it again: I think it's a big mistake to have this code inside Symfony. It's really hard to take into account the myriad of English irregularities and it can interfere with languages different from English. In addition, whenever we add more lines of cod

[2015-04-03 08:43] parhamdoustdar commented on #14096
@stof Right. In your opinion, does this affect where the fixtures must be placed?

[2015-04-03 08:49] WouterJ commented on #14189
@javiereguiluz I think that the core team have understood your opinion on this class. It doesn't make sense to repeat it again and again.

@GerbenWijnja thank you for submitting a PR! If you know you're going to submit a PR, you don't have to create an issue. Issues are a way to discuss new features or to explain the problem, and let someone else fix it.

[2015-04-03 08:50] jakzal commented on #14189
I agree with @javiereguiluz. We can't possibly account for every case and exception.

We need to find a solution though. Perhaps a solution would be to provide end users with a way to either map words or define rules.

[2015-04-03 08:57] WouterJ commented on #14189
I've mentioned it a couple of times already during these discussions. But imo, we should keep using the StringUtil class, but also support the syntax proposed in this PR: https://github.com/symfony/symfony/pull/3819

This would mean that in this case, one can set `movies|movie` as the `property_path` and everything would have worked fine, without having to wait on another bug fix release.

[2015-04-03 08:58] merk commented on #14096
That depends on how you think about fixtures. Do you have a UserFixture? It belongs with your User entity.

Do you have a fixture that depends on multiple bundles' entities? It belongs in your AppBundle (you could argue for putting it in app in that instance too)

[2015-04-03 09:45] valeriangalliat commented on #13916
Thanks for your answer @cordoval. I didn't took the time to investigate further with this bug yet. However I just tried again with the exact same project I captured the first screenshot with (vendors were not updated, code was not changed) but I cannot reproduce anymore.

Since the last time I just upgraded PHP to 5.4.39. I tried to compile 5.4.36 again but I still can't reproduce. Really odd.

[2015-04-03 10:01] parhamdoustdar commented on #14096
@merk, thanks! I'm glad Symfony 3 is going to make applications completely bundleless, or you'd have lots of such conversations on GitHub and StackOverflow! :grin:

[2015-04-03 10:34] xabbuh commented on #14193
see also #14165

[2015-04-03 11:42] fabpot commented on #14193
@webmozart Can you take care of this one ASAP? It means that tests are broken for now and that is going to block the first beta of Symfony 2.7.

[2015-04-03 12:29] #14189 closed

[2015-04-03 12:29] #13552 closed

[2015-04-03 12:58] fabpot commented on #14015
Closing as there is no feedback.

[2015-04-03 12:58] #14015 closed

[2015-04-03 13:07] #9946 closed

[2015-04-03 13:26] iltar opened #14199 "Very unclear message when missing use statements and annotation loader"
I was struggling to debug why I got a circular reference error trying to add my controller to a new application. The controller below with the config in routing.yml should be able to reproduce this. I found out that the error is triggered by a missing use statement: `use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;` as I used `@Template()`. I get the same error if the `@Route` use st

[2015-04-03 13:31] javiereguiluz commented on #14199
Related to #14073?

[2015-04-03 13:31] WouterJ commented on #14199
Looks related to https://github.com/symfony/symfony/issues/14073

[2015-04-03 13:32] WouterJ commented on #14199
Oh, haha. Now I'm almost sure it is related :smile:

[2015-04-03 14:47] cilefen commented on #14149
@xabbuh I agree—the issue over where to document them is difficult.

[2015-04-03 15:03] #14073 closed

[2015-04-03 15:27] webmozart commented on #14193
See #14200 for the CHANGELOG/UPGRADE update.

[2015-04-03 15:38] #8658 closed

[2015-04-03 15:38] #5494 closed

[2015-04-03 15:38] #4067 closed

[2015-04-03 15:43] webmozart commented on #14193
See #14201 for the `trigger_error()` fix.

[2015-04-03 15:51] webmozart commented on #14193
See #14202 for a minor code fix.

[2015-04-03 15:52] webmozart commented on #14193
As [pointed out](https://github.com/symfony/symfony/pull/14050#issuecomment-88450422) by @stof, the deprecation policy of the new "choices_as_values" option is problematic. This needs to be fixed once #14200 is merged.

[2015-04-03 15:53] webmozart commented on #14193
The constructor arguments of the new `ChoiceView` class are unnecessarily reversed compared to the old one, which makes migration more difficult. There was some reason behind this change, but I can't recall, so the argument order should be reversed again to match the old class. This needs to be done once #14200 is merged.

[2015-04-03 15:53] xabbuh commented on #14149
The only place where this basically makes sense is the compiler pass that is processing the particular tag. Though I'm not sure if anyone would really find their description in the API docs (again you would have to know which class processes the tag to find the description).

That would probably be the best solution. We just need to find a way to expose some explanation with a tag.

[2015-04-03 16:11] webmozart commented on #14165
Thanks, I can confirm this. The reason is that `ChoiceToValueTransformer::reverseTransform()` originally returned `null` if either an empty string or `null` were passed, but without asking the choice list first. That was buggy in the case that you mapped the empty string to a custom choice, so I removed that check.

We need to find some other solution to allow empty strings if (i) the placeholder

[2015-04-03 16:28] xabbuh commented on #14111
Is this the same as #14199?

@twifty Can you check if the changes from #14192 solve your issue?

[2015-04-03 16:59] MetalMatze commented on #14152
Thanks for pointing that out. It is the last thing I do with that node, so I guess I'm safe.

[2015-04-03 17:02] #7383 closed

[2015-04-03 17:39] nicolas-grekas commented on #14086
See #14204 for VarDumper

For Debug (and maybe also VarDumper), we'll have to wait until the new exception mechanism is stabilized

[2015-04-03 18:00] xabbuh commented on #11127
Can we close this given that the documentation has been improved now (see symfony/symfony-docs#5021)?

[2015-04-03 18:03] #11127 closed

[2015-04-03 19:44] nicokaag commented on #14109
I tested it on a fresh Symfony 2.6.6 installation, and there it works fine.
In 2.6.6 it actually generates 2 different caches, which is good enough..

[2015-04-03 20:27] jakzal commented on #14109
@nicokaag 2.5 is not maintained anymore. Unless the problem exists in 2.3, I'd consider it fixed.

[2015-04-03 21:29] jhodgdon-drp commented on #14149
Hi there, I'm the Documentation maintainer for Drupal core... A few thoughts on why we're thinking along the directions we're currently thinking:

a) We use a custom docs parser in the Drupal project to make our API documentation site (https://api.drupal.org). It was originally modeled on (or implementing?) Doxygen, but has since evolved. So... basically we can add tags and I (the maintainer of th

[2015-04-03 22:38] twifty commented on #14111
@xabbuh I believe the two mentioned issues would cause the same error, however, the proposed fix does not work in my instance.

Debugging the fix, I see that the caught exception `$e` is already an instance of `FileLoaderImportCircularReferenceException`.

To reproduce the issue, create a custom route loader and throw any type of exception within the `load` method.

The command line output, when c

[2015-04-04 09:33] Tobion commented on #7611
Fixed with new `choice_translation_domain` option.

[2015-04-04 09:33] #7611 closed

[2015-04-04 09:48] aitboudad commented on #14183
@javiereguiluz thank you for your proposal :+1:

[2015-04-04 09:48] #14183 closed

[2015-04-04 10:21] mtal opened #14207 "Constraints on getters with more one word bubbling to parent"
When a put constraint on field getter contains more one word (ex. getNotWorking) it bubbles error to parent form.

![2015-04-04_13-06-34](https://cloud.githubusercontent.com/assets/3755160/6992259/510dfc6c-dacc-11e4-825b-2709208303a8.png)
![2015-04-04_13-06-22](https://cloud.githubusercontent.com/assets/3755160/6992260/510e5662-dacc-11e4-8b43-ce43e807d741.png)
![2015-04-04_13-05-07](https://cloud.

[2015-04-04 12:55] stof commented on #13797
The fact that the validator is loading constraint validators lazily indeed does not mean it loads them everytime to support scoped dependencies. This would either decrease performance for the common or would be a pain to manage.
If the loading was not lazy, the container would throw an exception when injecting the prototype-scoped service btw.

[2015-04-04 15:04] matthieuauger commented on #14096
Hi,

Great discussion here, the current structure leads to very complex applications in real life !

@weaverryan , you said :

I know that in theory if I write a bundle, it should live in a separate repository and be loaded in the vendor/ directory with composer. But in practice, when developing new applications, it often happens to create a bundle (a true bundle) directly in src/, and then once i

[2015-04-04 15:50] nicolas-grekas opened #14208 "[VarDumper] Test with and without symfony_debug extension"
The symfony_debug extension is now built on travis on the 2.7 branch.
The VarDumper should now run two times its test suite: one with the extension enabled and the other without it

[2015-04-04 15:56] iltar commented on #14096
@matthieuauger That possibility would still exist, I don't see how that would no longer be possible in 3.0. If you can register a 3rd party bundle from the vendor, you can register it from anywhere.

[2015-04-04 16:09] sgehrig opened #14209 "[Translation] TranslationDataCollector issues PHP warning when nothing has been translated"
The `\Symfony\Component\Translation\DataCollector\TranslationDataCollector` issues a PHP warning when nothing has been translated. The profiler therefore does not complete successfully and the web debug toolbar fails to load in succession.

The issue has been introduced in commit b470a5bfb6f9b7e484f4848c40a2f9d954400369. `\Symfony\Component\Translation\DataCollector\TranslationDataCollector::sanit

[2015-04-04 16:21] aitboudad commented on #14209
I'll look into it

[2015-04-04 16:26] parhamdoustdar commented on #14096
Yes. The only thing that needs to exist then would be to have a
convention (maybe a note in the best practices documentation?) to say
that the recommended place to put those bundles is in the `src/` directory.

On 4/4/2015 8:27 PM, Iltar van der Berg wrote:

[2015-04-04 16:29] aitboudad commented on #14209
@sgehrig fixed by #14210

[2015-04-04 16:31] sgehrig commented on #14209
@aitboudad: That was fast :-) THX! I was just starting do a setup for creating a pull request :-)

[2015-04-04 17:27] aitboudad commented on #14209
@sgehrig I didn't know you are working on it, so next time I'll ask you :D

[2015-04-04 17:27] #14209 closed

[2015-04-04 17:41] sgehrig commented on #14209
@aitboudad: Just thought that this would have been an easy pick to start contributing...

[2015-04-04 21:02] dosten opened #14212 "[DependencyInjection] Make extensions storage case insensitive"
[code]
This code returns:
[code]
What do you think about making `registerExtension`, `getExtension` and `hasExtension` methods case insensitive? So, this code will return:
[code]

[2015-04-04 21:12] Tobion commented on #14212
AFAIK container service names are case insensitive. So it might make sense to do it for extensions as well.

[2015-04-04 21:32] mpdude commented on #13913
I still see builds of PRs for 2.7 fail with this error message, for example [here](https://travis-ci.org/symfony/symfony/jobs/57173731#L3196). Anything I need to consider or is that a different problem?

[2015-04-04 23:49] maximecolin commented on #14177
If you name your form type "search", the rendering of the form will display a search input before the others inputs.

This name already taken by ```Symfony\Component\Form\Extension\Core\Type\SearchType```, so the block "search_widget" is called when you render your form which has for consequency to render an extra search input. This is the same with "integer", "url", "email", ... This is how the f

[2015-04-05 00:28] #14177 closed

[2015-04-05 07:08] sstok commented on #14212
:+1:

[2015-04-05 13:25] dosten commented on #14212
This must be done into the master branch? Because is a potential BC break.

[2015-04-05 13:31] acrobat commented on #14125
:+1:  for the new ops, @iltar, @jrobeson and @WouterJ are most of the time online and helped me multiple times!

[2015-04-05 14:30] aitboudad commented on #14212
:+1: , it should be done into master

[2015-04-05 14:59] WouterJ commented on #14212
:-1:, because:

* It's inconsistent with every other ID/name in the container (services, tags, ...)
* There is a good reason for this as the alias is used for the configuration. You don't have capitialized/uppercase setting names in your `config.yml`. E.g:
[code]

[2015-04-05 15:14] bdujon commented on #12790
@jakzal sorry for the late answer for me the solution is just to not use sf2 > 2.5.x.
I just tried to reproduce it with the new symfony installer and i reproduce it on /demo/hello/World of the AcmeDemoBundle. I thought it was coming from doctrine but it s not even that.
symfony 2.5.10 : 267ms / 13.8mb
symfony 2.6.6 : 535ms / 14mb
sf 2.6.x just seems 2 time slower than sf 2.5.x
i get that on window

[2015-04-05 15:48] aitboudad commented on #14112
:+1:

[2015-04-05 16:01] aitboudad commented on #13881
I think it's the same of #13483 and to my knowledge the po dumper avoid dump and empty translated row.

[2015-04-05 16:01] #13881 closed

[2015-04-05 16:02] sgiusto opened #14219 "ajax calls not shown in toolbar"
Since version 2.6.6 ajax calls are not detected by The debug toolbar

[2015-04-05 17:01] jakzal commented on #12790
@bdujon since you managed to reproduce it, if you put the code in a public repo I'll have a look.

[2015-04-05 17:01] nicolas-grekas commented on #12790
@bdujon can you confirm this is in prod env (not debug)?

[2015-04-05 17:02] jakzal commented on #12790
wait, are you saying it's slower on the demo without any changes?

[2015-04-05 19:00] CharlyPoppins opened #14224 "buildViolation and translation"
Hi,

I'm trying to use translation in **ExecutionContextInterface $context->buildViolation()**.

My translation is here : **Charly/AdminBundle/Resources/translations/messages.fr.yml** and the code is
[code]
did I miss something using **setTranslationDomain()** ?

[2015-04-05 19:56] Tobion commented on #14224
The file must be named after the translation domain. Also please ask questions on the mailing list, this issue tracker is for bugs only.

[2015-04-05 19:56] #14224 closed

[2015-04-05 20:04] 1ed commented on #14219
This should be fixed by #14170. Could you please check?

[2015-04-05 20:25] WouterJ commented on #12790
On my Windows 8 PC, things are a little bit slower in production (a fresh installation with just AcmeDemoBundle registration and routing moved to prod), but not as dramatic as @bdujon:

* 2.5.10 `/demo/hello/World`: 269 ms
* 2.6.6 `/demo/hello/World`: 304 ms

[2015-04-05 20:40] jakzal commented on #12790
OS X, PHP 5.5.14, prod mode:
* 2.5.10 - 63.5ms, 7.94MB
* 2.6.6 - 67ms, 8.33MB

[2015-04-05 21:00] 1ed commented on #14207
This is expected behaviour. You should write `notWork` instead of `not_work`. See https://github.com/symfony/symfony/issues/10176#issuecomment-34004454

[2015-04-05 21:18] #14207 closed

[2015-04-05 21:23] bdujon commented on #12790
i m sorry i can't reproduce it on AcmeDemoBundle anymore. Now the timer are the same ... (i guess i got tricked by my laptop cpu that must have changed its speed while testing on different page.. each time ... ! )
But i reproduce it each time on a complex page with the timer going from 1000ms on 2.5 to 3000ms on 2.6.
I ll try to narrow it down.

The problem was never on prod environment but only o

[2015-04-05 21:51] bdujon commented on #12790
ok i think i found it. It s at least coming from the choice type form render.
Here s a simple exemple to reproduce it
controller :
[code]
view :
[code]
This takes 570ms with sf 2.5 and 2500ms with sf 2.6 on dev env.

[2015-04-05 21:52] romqin commented on #12122
I'm agree with @layanto and @Tobion

[2015-04-05 23:53] stefanruijsenaars commented on #14086
@stof what are the names we want to go with for the Null, True and False constraints? NullConstraint is not consistent with the other constraints... We'd also want to rename the NotNull constraint and the Validators.

[2015-04-06 06:00] fabpot commented on #12122
:+1: for removing `/bundles` from the regex.

[2015-04-06 09:41] stof commented on #13815
@ptrm04 the user data need to be serializable. In case of Doctrine entities, implementing the Serializable interface is the only way to make it reliable (otherwise you will face issues with uninitialized proxies).
For other implementations of the user, letting PHP serialize the data on its own may be fine (and this is the case in the example of the doc btw).

[2015-04-06 11:00] sgiusto commented on #14219
Hello,

I confirm that applying the patch works!

BR

  Stefano

Da: Gábor Egyed [mailto:notifications@github.com]
Inviato: domenica 5 aprile 2015 22.05
A: symfony/symfony
Cc: Stefano Giusto - Multimedia Point Srl
Oggetto: Re: [symfony] ajax calls not shown in toolbar (#14219) - Posta elettronica trovata in oggetto

This should be fixed by #14170 <https://github.com/symfony/symfony/pull/14170> . C

[2015-04-06 12:39] #14219 closed

[2015-04-06 13:45] ahundiak commented on #14093
Is this discussion online somewhere?  I have a few thoughts on the issue and was wondering what the Symfony folks were thinking.

[2015-04-06 13:49] allan-simon opened #14232 "[DX] how to use DataTransformer to do Entity.base64strAttribute <=> Form.fileUploadInput"
I got a blog plateform, with an entity `Category` this entity has these attribute to it

 - a name
 - an icon as string  (and a Image constraint for  small 40*40 png)

as the file is very small and mime-type assured to be always png, I've decided to store the file content as a Base64 encoded string in the entity/database ,

This way the page can be rendered at once without needing to do extra requ

[2015-04-06 14:00] bdujon commented on #12790
it s because of https://github.com/symfony/symfony/pull/10887
sf 2.6 add a new feature, logging unknow translation. So for a 10000 string loop i had 10000 warning in the debug log.
I m not sure if the performance impact (2000ms) justify these 10000 logs since i dont know enough sf2 logging system.
So i just have to add
[code]
i can live with that :)

[2015-04-06 14:22] aitboudad commented on #12790
@bdujon the issue has been solved by #13651 can you test with 2.7 ?
[code]

[2015-04-06 14:49] bdujon commented on #12790
@aitboudad i got 800ms with 'choice_translation_domain' => false. So i d say that fix it in a much better way than disabling globaly the translation log, thanks ! (now i want to use 2.7 with the fancy translation/twig debugbar :) ).
There is still 300 more ms than in 2.5 but i guess it s coming from other new features like the twig logger which add 10000 lines for showing the rendering of the form

[2015-04-06 15:01] aitboudad commented on #12790
@bdujon nice, I'd say without translation warning logger I think it's difficult to detect those calls.

I'll check it :)

can I close this issue ?

[2015-04-06 15:22] bdujon commented on #12790
Yes you can close it.

Thanks everyone for your help :)

[2015-04-06 15:23] #12790 closed

[2015-04-06 15:37] allan-simon commented on #14232
my current solution is to have two fields for the icon in my entity

[code]
(with the appropriate getter and setter)

then to have my data transformer for the WHOLE class  Category

[code]

and then in my CategoryType to associate the data transformer to the whole channel

[code]

the validation still happen after the data transform, but now it's no more a problem , as the entity will not be persi

[2015-04-06 15:45] 1ed commented on #14138
I created a PR for `assets:install` #14235

[2015-04-06 17:35] xelaris opened #14237 "[Translation] Enable debugging of all bundles translations"
The discussion in PR #13443 arises the idea to add an `--all` flag to the `TranslationDebugCommand` to enable debugging translations of all bundles. This issue should save the idea.

[2015-04-06 17:51] Tobion commented on #14093
@ahundiak it's not online. I found some issues with PSR-7 that I thought must be addressed before it can be interoperable. This is also the main reason why the vote got cancelled. But when these last things are solved, I assume symfony will vote +1.
Feel free to share your thoughts here.

[2015-04-06 23:35] cktdesign opened #14239 "Problem with SourceCodeExtension.php\getControllerRelativePath function in Windows"
To recreate the problem just install symfony demo in windows and browse it. The problem happens because windows use a different directory separator than linux. Github escapes the windows directory separator so instead of it i will use the symbol " | " in the following sentences.
Original function uses the following code

$pathParts = explode('/src/', $absolutePath);

To fix it you could use

if (s

[2015-04-07 06:10] samuel4x4 opened #14240 "Should Symfony integrates queue services support?"
Hello,

"Sending emails is a classic task for any web application and one that has special complications and potential pitfalls. Instead of recreating the wheel, one solution to send emails is to use the SwiftmailerBundle, which leverages the power of the Swift Mailer library. This bundle comes with the Symfony Standard Edition." (http://symfony.com/doc/current/cookbook/email/email.html)

Very coo

[2015-04-07 06:27] javiereguiluz commented on #14239
@cktdesign thanks for reporting this issue. I'll take care of it right away!

By the way, since this is a Symfony Demo issue, next titme it'd be better if you report it directly at https://github.com/symfony/symfony-demo/issues  Thanks!

[2015-04-07 06:43] javiereguiluz commented on #14239
@cktdesign the proposed fix is ready at https://github.com/symfony/symfony-demo/pull/25  If you agree, please close this issue and let's move the discussion to the `symfony-demo` repository. Thanks.

[2015-04-07 07:24] aftabusas opened #14242 "Installing symfony 2.3.6 problem, any help"
![626b2b2b1e23a23e8d3b9a5c4e91a9c6](https://cloud.githubusercontent.com/assets/11830969/7018694/35609088-dd10-11e4-92fd-f3b779ebe1b7.png)
Hey,
i'm new at installing and configuring frameworks.(web dev overall)
While installing symfony 2.3.6 i get this problem .
 It asks to provide database_driver.

Some parameters are missing. Please provide them.
database_driver (pdo_mysql):
database_host (127.0.

[2015-04-07 07:34] dupuchba commented on #14242
Is is the normal flow of the `symfony` installation.
What it does => ask you basic `config`parameters in order to make it faster for you to write your application.
Don't worry, you can always change those parameters in `app/config/..`
***
I suggest you to read the documentation which is the best entry point in the SF world :-).

http://symfony.com/doc/current/book/index.html

[2015-04-07 07:36] dupuchba commented on #14240
IMO it is not part of the scope's framework as it is an architectural decision.

[2015-04-07 07:39] aftabusas commented on #14242
Thank you for the answer.
Is there any way to check symfony 2 from faults after installing? mayb through CMD?

[2015-04-07 07:41] dupuchba commented on #14242
From faults ?

[2015-04-07 07:43] aftabusas commented on #14242
I'm sorry for my bad english. To check if everything works OK ?

[2015-04-07 07:43] javiereguiluz commented on #14242
@aftabusas first of all, welcome to Symfony :)

I completely understand your doubts about the Symfony installation process. In fact, the old Symfony installation method (which is the one you are using) needed so many improvements, that we recently decided to change it completely:

  * Here you can find [a blog post introducing the new installe](http://symfony.com/blog/introducing-the-new-symfony-i

[2015-04-07 07:56] aftabusas commented on #14242
Thank you for a great answer!
Right now i'm trying to install it the new way.

![0f724b28f023fd6595eb9b99a21e196a](https://cloud.githubusercontent.com/assets/11830969/7019025/359be1e8-dd14-11e4-847d-ecd04c78765a.png)

after executing the command symfony new blog it is not recognised as an internal or external command.

[2015-04-07 08:00] javiereguiluz commented on #14242
Since you are using Windows, you don't have a global command called `symfony`. But don't worry, the solution is as easy as exeucting the `symfony` command locally:

![symfony_installer_windows](https://cloud.githubusercontent.com/assets/73419/7019112/d11ca1f0-dd0c-11e4-8a75-43b22a59b0ab.png)

[2015-04-07 08:11] chandon opened #14243 "2.6.6 : AJAX requests in the web debug toolbar not working anymore"
With Symfony 2.6.6, AJAX requests in the web debug toolbar doesn't work anymore : no ajax query (counter remain at 0, and no profile for the requests in the dropdown list)

Going back to 2.6.5, AJAX requests in the web debug toolbar works again

[2015-04-07 08:37] aitboudad commented on #14243
@chandon https://github.com/symfony/symfony/issues/14219

[2015-04-07 09:03] chandon commented on #14243
ok thx

[2015-04-07 09:03] #14243 closed

[2015-04-07 09:13] Tobion commented on #14242
Please continue the discussion on the mailing list where support requests are handled. This issue tracker is for bugs/features only.

[2015-04-07 09:13] #14242 closed

[2015-04-07 09:16] Tobion commented on #14240
Closing as this would be for symfony/standard-edition. Also I agree with @dupuchba that this doesn't belong in the standard edition. Also it's easy to add one of the existing bundles for queues yourself.

[2015-04-07 09:16] #14240 closed

[2015-04-07 09:18] javiereguiluz commented on #14242
Here you can find the information about the Symfony mailing list: http://symfony.com/mailing-lists

@Tobion when you ask a user, specially a newcomer, to use the mailing list, please consider always adding the above URL. Thanks.

[2015-04-07 09:29] #14239 closed

[2015-04-07 09:52] Tobion commented on #14242
@javiereguiluz it's the first hit when you enter "symfony mailing list" into google. I assume every developer should be able to find it even when we don't provide them a link directly. Just saying.

[2015-04-07 10:07] mpdude opened #14244 "Sporadic failures in SigchildEnabledProcessTest"
SigchildEnabledProcessTest::testIdleTimeoutNotExceededWhenOutputIsSent seems to be a volatile test.

[2015-04-07 10:27] #13988 closed

[2015-04-07 10:38] xabbuh commented on #14244
Thank you for reporting this, @mpdude. However, I'm gonna close this nonetheless because we already have one issue covering this (see #14078).

[2015-04-07 10:38] #14244 closed

[2015-04-07 10:39] mpdude commented on #14244
Sorry, missed that one as it did not contain the test class or method name.

Thanks!

[2015-04-07 11:25] pkruithof opened #14246 "[Filesystem] dumpFile() negates default file permissions"
The [`tempnam()`][0] function creates a temporary file with `0600` permissions, regardless of the umask. This requires that every `dumpFile()` call is followed by a `chmod()` to 'fix' the permissions. I would assume that the function does this for me, since other filesystem operations (eg: `copy` and `touch`) also create files with the default file permissions.

I found [this issue][1] that relate

[2015-04-07 12:12] sparrowek opened #14249 "DomCrawler incorrect results for text extraction"
When using extract with '_text' I only got leading text for any node.
The text() function returns "test1test2test4test5test6test7test3" but extract() does not return 'test5' nor 'test7'

[code]

[2015-04-07 12:40] ZCJ opened #14251 "[WebProfiler] Ajax calls are not getting captured anymore in the WebProfiler tool bar (2.6.6)"

[2015-04-07 12:43] javiereguiluz commented on #14251
@ZCJ thanks for reporting this issue.

We're aware of it and we're fixing it in #14219.

[2015-04-07 12:46] klemenb opened #14252 "[Process] "Process->run()" high CPU usage on Windows"
I've been debugging an issue with Laravel's queue listener on Windows and there appears to be a problem with Symfony's Process component that causes an excessive amount of temporary file reads during a simple `Process->run()` execution.

It can be observed by running the below snippet of code and monitoring your CPU usage.
[code]
The problem apparently stems from the combination of `Process->wait(

[2015-04-07 13:10] stof commented on #14251
Closing this because the fix has already been merged in https://github.com/symfony/symfony/pull/14170 and we don't keep issues open when they are fixed (even though the fix is not yet released)

[2015-04-07 13:10] #14251 closed

[2015-04-07 13:46] naroga opened #14253 "Should we not ramp Doctrine's default version to 2.5 in composer.json for the 3.0 release?"
Doctrine 2.5 has just been released, and Symfony is still using `<2.5 ` in composer.json. 2.5 breaks BC with 2.4- projects, so if we can't ramp it up in the 3.0 release, we won't be able to do so until 4.0, I think. Which means eventually we'll be using a deprecated version of doctrine as the default orm of the 3.x branch.

[2015-04-07 14:21] stof commented on #14060
Changing in in the view should be possible using a form type extension overwriting the variables ``valid`` and ``errors`` to reset them (based on an option added by the form type extension). This would allow solving the issue without any change to the form component

[2015-04-07 15:12] arodier-bulbthings opened #14255 "Doctrine database drop"
Hi,

I have a symfony project with a database. In a testing environment, I run a script to drop and create the database from scratch.

If I use both the --if-exists and --force option, the database is not dropped, and I have this error message:

However, if I remove the --if-exists option, it's working:

Unfortunately, I have to use the "--if-exists" option

[2015-04-07 15:59] 1ed commented on #14255
Maybe you are looking for this https://github.com/doctrine/DoctrineBundle/pull/401

[2015-04-07 16:25] arodier-bulbthings commented on #14255
Thanks, I will wait for this fix to be merged, and I will come back to update this bug report.

[2015-04-07 16:27] cordoval commented on #14255
The fix is merged @arodier-bulbthings, but it does not belong to a release but soon it will be. So i think we should close this.

[2015-04-07 16:29] arodier-bulbthings commented on #14255
Ok.

[2015-04-07 16:29] #14255 closed

[2015-04-07 16:50] 1ed commented on #14253
I think you can use whatever version of Doctrine you want in your projects. https://github.com/symfony/symfony/search?l=json&q=doctrine&utf8=%E2%9C%93

[2015-04-07 16:55] webdevsHub opened #14257 "EventDispatcher - Listener Activation Check"
I want to request a feature in EventDispatcher Component to speed up dispatching.

The typical Listener in a Symfony project looks like that:

[code]

So basically I want to execute `//actual listener code` when `EventName` is fired and `someStaticCondition` is true. In every other case Symfony should ignore the whole code at all.

But following actually happens:

1. Listener service definition is

[2015-04-07 16:57] webmozart commented on #14093
Hi @ahundiak, thanks for your interest! You can find most of the discussion on the PHP-FIG mailing list: https://groups.google.com/forum/#!forum/php-fig

There is no dedicated topic to "the symfony opinion" there though. The members of the Symfony core team discuss there as individuals, just like anyone else. Just check the various topics prefixed with [PSR-7] for our appearance.

Once a vote is h

[2015-04-07 17:13] stof commented on #14257
There is a big issue with your proposal:a class can contain as many listeners as you want, given that a listener is a callable, not an object.
So an interface with a static method being called does not work, because it is incompatible with classes containing multiple listeners (which happens regularly, even inside Symfony itself).
The only API I see to handle this would be to let the callable for

[2015-04-07 17:38] webmozart opened #14259 "Change Travis build to run with specific ICU version"
Symfony has various tests that rely on the intl extension to be present. These tests are run only if a certain of the ICU library is compiled with the intl extension (see [IntlTestHelper](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Intl/Util/IntlTestHelper.php)). If not, these tests are skipped. The reason is that we otherwise have volatile tests that succeed on a system with

[2015-04-07 17:41] webmozart commented on #14259
Tagging this as "Critical" since at the moment bugs go undetected.

[2015-04-07 17:53] webmozart opened #14260 "Upgrade ICU to version 55"
We should upgrade the ICU data and tests to the latest version 55.

See also #14259 for a related issue.

[2015-04-07 17:55] naroga commented on #14253
@1ed, I realize we can use whatever version. I'm inquiring about switching the default vendor version. Soon, everyone installing the Symfony project will also be installing a deprecated version of Doctrine by default, and this should probably be fixed.

[2015-04-07 18:24] webdevsHub commented on #14257
That Interface implementation is only a suggestion therefore I did not created a PR.

The interface check would be done in `EventDispatcher::doDispatch()` not in `ContainerAwareEventDispatcher`, so no service ids.

For Subscribers I can think of an `SubscriberCondition` Interface or in general only support single class listeners with that condition (it would be optional anyway).

I like your idea

[2015-04-07 18:26] Mondane opened #14261 "Twig widget form_rest() should also render hidden field _method if not yet rendered."
I have a form with the method set to PUT which I custom render in a template, ie. I'm not using

[code]

or

[code]

I do it more or less like this:

[code]

I believed adding the `form_rest(form)` was enough to make sure non-rendered fields were added (like the _token). It turns out, the hidden field _method, isn't rendered unless you use `form_start()`.

Shouldn't it be logical to have the form_

[2015-04-07 18:42] ibrasho commented on #14259
I don't think travis allows you to custom build PHP easily.

[2015-04-07 20:16] tgalopin commented on #14259
Do you have a specific list of extension needed by Symfony right now? Because by compiling PHP we need to compile all the other libraries that don't come with it by default, don't we?

[2015-04-07 20:44] Pierstoval commented on #14259
Can't you create a zipball of the PHP binary you want and download/execute it directly in your travis-ci config?

[2015-04-07 21:05] xabbuh commented on #14253
@naroga I fail to see what could be changed in Symfony. As far as I see, we don't forbid to use newer Doctrine packages and we also don't bind it anywhere to a particular minor version. However, changing the minimum minor version to something higher would be a BC break.

[2015-04-07 21:07] DerManoMann opened #14263 "TraceableEventDispatcher breaks session handing in controller tests"
Hi there,

I am in the process of upgrading a Silex app and part of that is an upgrade of the sf components. With sf 2.6 I've run into a problem with the TraceableEventDispatcher.
Dispatcher version is v2.6.6

silex_upgrade/vendor/symfony/http-foundation/Symfony/Component/HttpFoundation/Session/Storage/MockArraySessionStorage.php:134
silex_upgrade/vendor/symfony/http-foundation/Symfony/Component/H

[2015-04-07 21:50] TomasVotruba commented on #14263
Hey,

it looks like you provided only list of files from bugtrace.
More relevant would be actual exceptions message or error.

[2015-04-07 21:56] jrobeson commented on #14253
it's too early to worry about what version will be shipped in 3.0. I'm sure it will be updated at some point after the 2.7 release

[2015-04-07 22:07] DerManoMann commented on #14263
Good point.
LogicException: Cannot set session ID after the session has started.

[2015-04-07 22:07] mpajunen commented on #14253
I think this is related to the required Doctrine version [in symfony/standard](https://github.com/symfony/symfony-standard/blob/2.7/composer.json#L12).

The requirement was added in symfony/symfony-standard#774. There does not seem to be a good fix for it yet, but there are some proposed workarounds in symfony/symfony-standard#748.

[2015-04-07 22:12] mpdude commented on #13948
#14265 might be interesting.

[2015-04-07 22:33] webmozart commented on #14259
@tgalopin I don't. In my dev environment, I mostly use the standard configuration.

@Pierstoval That could work. Do you want to work on that?

[2015-04-07 23:07] Tobion commented on #14263
Duplicate of #13450

[2015-04-07 23:07] #14263 closed

[2015-04-07 23:10] yguedidi commented on #14039
@enriquemorenotent FYI, a native way to get a default value for an array item should be:
[code]
http://3v4l.org/tRkMY

[2015-04-07 23:12] Tobion commented on #14261
Makes sense to me since the hidden field _method should not be tied to the form_start as you can put the hidden field anywhere in the form and does not need to be at the start.

[2015-04-07 23:42] aitboudad commented on #13948
As @mpdude say previously adding the loaders/dumpers/resources or even limiting loaded resources ```active_locales``` doesn't solve the issue.

In 2.7 we made many improvement I'd prefer to list them here:

* [merge all fallback catalogues messages into one catalogues](https://github.com/symfony/symfony/pull/13981)
* [move loading resources into Translator initialize.](https://github.com/symfony/s

[2015-04-08 05:38] #6329 closed

[2015-04-08 06:46] jakzal commented on #14257
@webdevsHub as a workaround you could implement the condition in a `kernel.request` listener, which would dispatch a custom event if the condition is met. Your main listener would listen to the custom event.

Static condition methods would only solve the problem partially as there are cases when you'd like to use services to make a decision (without loading the unnecessary services).

I'm a bit af

[2015-04-08 06:57] dupuchba commented on #11915
@mrbase @stof any news on this one ? I need to retreive listeners priority for my project ?

[2015-04-08 07:24] Pierstoval commented on #14259
@webmozart I'm really sorry but I'm sadly not familiar enough with compilation with sources for this kind of work, and I'm afraid it might take too much time for a "compilation-neophyte" like me to do it, admitting that I do it without any error... :confused:

I'm gonna share this problem in different networks and let's hope we find a pro that can do it :smile:

[2015-04-08 07:28] sstok commented on #14259
Maybe Travis not the right option here? I know https://circleci.com/ supports docker images which give you much more freedom. If you make your own image its possible install a specific PHP version with a newer ICU version. At least for this case as 1 container is free, but multiple costs more.

[2015-04-08 07:30] fabpot commented on #14259
I like the Docker approach as it will also be possible for anyone to run the tests on their laptop with the same configuration as the CI. As an added bonus, it also becomes much easier to provide support for third-party deps (like testing sessions on Redis and the like).

[2015-04-08 08:14] stof commented on #14259
Well, providing our own imageS for CircleCI (we probably need several ones as we need several PHP versions) would involve. And maintaining them would mean much more work for us (which is currently done by our CI platform), as we would have to update them regularly for PHP updates.
Given that Travis is our CI server, shouldn't we simply update the test assertions to make them expect ICU 4.8 (which

[2015-04-08 08:19] Pierstoval commented on #14259
:+1: for opening a feature request directly to Travis-CI, I think it's the best possible solution, and certainly the "cleanest"

[2015-04-08 08:28] djoos commented on #14259
The libicu-dev package (as opposed to the approach to install from source above) is installed on the Travis nodes. As they currently still run Ubuntu 12.04LTS ATM, you're getting 4.8. As soon as they start rolling out 14.04LTS you'll get a newer ICU version through. The alternative would be to change the Chef recipe to build ICU from source rather than using the package... If they are open to the

[2015-04-08 08:31] 1ed commented on #14259
We don't have to compile PHP on every build, deb packages can be compiled beforehand for a certain version of ubuntu (or even self containing builds, which only requires libc and no other external dependencies) and just install them on the build machine. But it definitely would be a lot of work to do.

There are official docker for different versions of php https://registry.hub.docker.com/_/php/ .

[2015-04-08 08:38] sstok commented on #14259
Using Docker was just a suggestion ;) we don't have to run all the tests using CircleCI but only those tests which need a specialized PHP installation. With TravisCI you have 3 concurrent runs, with CircleCI only one (for the free plan).

Redis is already available on TravisCI http://docs.travis-ci.com/user/database-setup/#Redis
So why is this not possible right now?

[2015-04-08 08:38] stof commented on #14257
I'm totally against adding a feature which works only for single-listener classes (and being totally broken for other cases, without any sane way for us to warn the user). So the interface-based API is a no-go IMO.

[2015-04-08 09:54] stof commented on #14259
@sstok AFAIK, Travis gives you 5 concurrent jobs (per repo owner, meaning this is shared between the code and the doc)

[2015-04-08 10:03] #14078 closed

[2015-04-08 11:01] timdierolf commented on #3079
I agree. Currently we're running into problems having absolute paths in `app/cache/*/templates.php`.

We're building release packages during a Jenkins build on a dedicated build machine which we then deploy to production machines. But the cache file `app/cache/*/templates.php` contains the absolute paths from the build on the Jenkins machine.

We can omit the `TemplatePathsCacheWarmer` with the `-

[2015-04-08 11:46] mpdude commented on #13948
The tricky part probably is getting realistic scenarios that we can test the optimizations agains.

I mean, for every change or tweak we will probably be able to come up with setups where the change brings a big improvement, does not significantly change things or is even detrimental.

Possibly influential factors are:
* The number of locales in total
* The number of different locales used within

[2015-04-08 12:07] willdurand commented on #13194
Looks like an issue to me as well.

I don't use any XML related stuff, but I still get this error in a Silex app.

[2015-04-08 14:02] jorge07 opened #14269 "Updating from 2.6.5 to 2.6.6 the Ajax request tracker on profiler doesn't work"
Hi,

I update the symfony project from version 2.6.5 to 2.6.6 and the AJAX request on profiler are not tracked anymore.

Thanks

[2015-04-08 14:04] Tobion commented on #14269
Please use the search.

[2015-04-08 14:04] #14269 closed

[2015-04-08 14:18] ahundiak commented on #14093
I have been learning from Symfony for 10+ years.  Not in the least bit concerned about transparency.

I was glad to see Symfony considering adopting psr-7.  One of the few things about the stack that I never really cared for was the lack of Request/Response interfaces which made it more challenging to use some of the follow on components (kernel handler, routing etc) with custom classes.  The abst

[2015-04-08 14:33] aitboudad commented on #14269
@jorge07 see #14251

[2015-04-08 14:55] unkind commented on #14093
@ahundiak the major issue with PSR-7 for Symfony is immutability IMO. It's not bad per se, but it implies huge BC break for Symfony as you can't simply modify request object, you have to also return it somehow in order to replace old one.

[2015-04-08 15:37] ahundiak commented on #14093
For the request object, immutability should not be a problem.  The request itself should not need to be changed, just the attributes.  So:
[code]
Is all that should be needed.  Any existing code that updates the request object (except for attributes) after the object is instantiated really should be examined.

The response object is a bit more challenging.  We probably don't really want a $respons

[2015-04-08 15:39] fabpot commented on #14093
Interfaces for HTTP messages is a discussion we already had... and as you can imagine, I was against that. Why would you want an interface for a data object?

[2015-04-08 15:55] ahundiak commented on #14093
I followed that discussion which is why I never tried to raise the issue.  But based on some of the psr-7 posts, I figured that it might be back on the table for 3.x.

My reason for wanting the interfaces:  I want to be able to use the HttpKernel and the Routing components without being dependent on the actual Symfony Request/Response objects.

If we will never have Symfony interfaces on request/r

[2015-04-08 16:02] unkind commented on #14093
I'm not right, Symfony can implement PSR-7 without fixing existing code. There is no BC break here. In your own codebase you can depend on PSR-7.

[2015-04-08 16:33] jakzal commented on #13194
@willdurand which translation format do you use? Are you getting exactly the same error message? `symfony/config` [is needed for YAML](http://silex.sensiolabs.org/doc/providers/translation.html#yaml-based-language-files)s too.

[2015-04-08 17:16] jakzal commented on #14249
Firstly, your two calls are not equivalent. You filter by `body` first and by `body *` second. First call returns a collection with a single node, while the second call returns multiple nodes. If you filter by `body` you'll get the same string in both cases.

[2015-04-08 17:31] jakzal commented on #14249
Secondly, `text()` and `extract()` behaviour is a bit different.

**text()**

`text()` works on [a single node](https://github.com/symfony/symfony/blob/95b6c564960e185f77a5f2f74916ff8a23b6d80f/src/Symfony/Component/DomCrawler/Crawler.php#L567) (the first found). If `filter()` returns more than a single node, `text()` will only use the first one.

Take `$crawler->filter('body')->text()` as an examp

[2015-04-08 17:31] jakzal commented on #14249
In other words, everything works as expected. Hopefully I managed to clarify this for you.

[2015-04-08 18:45] kalessil opened #14273 "[2.3] Reference mismatches"
Additional (filtered) list of reference mismatches for #14206.

Where there is sense, following aggressive optimization possible (readability will suffer):
array_key_exists => isset + array_key_exists.

The last entry seems to have purpose, needs a short comment that it's designed this way.

[code]

//cc @fabpot

[2015-04-08 19:10] sparrowek commented on #14249
I am still a bit confused - the body has one p and two div's (contained in the p). The text that is inside the p is text2, text5 and text7. Is there a way to extract all of it?

[2015-04-08 19:21] toxygene opened #14274 "Roles are not unserialized in UsernamePasswordToken if they are references to objects in the user"
[code]

The problem appears to be with the role object being serialized as {i:0;r:11;}. I think the issue is that the roles are serialized separately from the user, but \serialize() is still treating the role object as a reference, so on \unserialize(), the reference id doesn't exist.

[2015-04-08 20:22] jakzal commented on #14249
I'll have a look again tomorrow.

[2015-04-08 20:41] WouterJ opened #14275 "Server:run should error when port is already used"
![sf-server-run-same-port](https://cloud.githubusercontent.com/assets/749025/7054568/aa73a742-de3d-11e4-88e2-3eef3974ae75.png)

The above screenshot are 2 terminal windows running at the same time on my PC. I don't think it should be possible to run 2 different applications on the same ip+port? Symfony should either fail and give a usefull description or check for another port to be available (e.g

[2015-04-08 20:49] flack opened #14276 "Form View Transformer inconsistency"
I'm not sure if this has been discussed already, but I couldn't find anything of relevance, so my apologies if I overlooked it.

I'm using a custom `CollectionType` to manage files (where each child consists of one `text` and one `file` field. You can upload new files or edit existing ones). I have a `ViewTransformer` that converts norm data into the format my templates need. It all works very wel

[2015-04-08 21:47] dosten commented on #14275
See #14063

[2015-04-08 21:49] xabbuh commented on #14275
#14063 fixes this only for the `server:start` command. But I agree that the same would be useful for the `server:run` command too.

[2015-04-09 05:58] jakzal commented on #14249
Like I said earlier both methods work as expected. Both `$crawler->filter('body')->text();` and `$crawler->filter('body')->extract(array('_text'));` do return full text inside the body tag (`test1test2test4test5test6test7test3`).

If you need a list of text nodes, instead of a single value you'll need to use XPath. Selecting text nodes is not possible with CSS selectors. It's a limitation of CSS s

[2015-04-09 05:58] #14249 closed

[2015-04-09 05:59] jakzal commented on #14249
I did find one bug though.

In my last example the `filterXPath()` method should return 7 elements. It returns 6 (last two are merged). I'll create a bug report for this.

[2015-04-09 06:07] smolinari commented on #13552
Blog post about this. http://symfony.com/blog/new-in-symfony-2-7-default-date-and-number-format-configuration

Scott

[2015-04-09 06:14] jakzal commented on #14249
Ok, there's no bug after all ;)

Try this to see how PHP loads your html document:

[code]

It outputs:
[code]

This is because we use the [DOM](http://php.net/manual/en/book.dom.php) library internally to load documents. It is a library for handling XML documents. Since your html example is not a valid XML, looks like DOM tries to convert it to a valid document.

Crawler silences warnings while l

[2015-04-09 13:38] jaytaph commented on #13996
@fabpot I think that is a good idea.. however, I do not know what will happen on windows machines. Maybe somebody should verify if this behaviour is the same?

[2015-04-09 13:51] Tobion commented on #13996
@jaytaph on windows it's not masked. The code below returns 300. So I guess the masking is done by the linux console because in mingw your example also outputs 44.

[code]

[2015-04-09 16:31] jaytaph commented on #13996
@Tobion  The cap is actually done by the linux exit_group system call: http://lxr.free-electrons.com/source/kernel/exit.c#L842 Here is the exit code masked with `0xFF` (and shifted, because the lower bits have different meanings, like core dumped,stopped, continued etc).

Same exit result (`44`) works on Darwin too.

It seems that under windows, exit codes are 32-bit signed integers (http://en.wik

[2015-04-09 17:15] stof commented on #12318
@xabbuh I think we could delay the validation of the base URI until the computation of the target, once we know the href (which actually happens later in the logic called in the constructor IIRC)

[2015-04-09 17:27] AntonioAmore opened #14290 "Bootstrap horizontal layout possible bug"
I have following form controls
[code]
Form template contains
[code]

Styling were applied to Filter. and not to Clear filter control.

I added to the ```bottom of bootstrap_3_horizontal_layout.html.twig``` following lines which fixed the issue:

[code]
Platform: Symfony 2 Standard Edition 2.6.6

[2015-04-09 17:28] stof commented on #13485
Allowing to reuse the name is a feature: it allows to overwrite existing fields.

However, overwriting a non-compound field with a compound one can create a very weird behavior.
Here you first get the non-compound rendering for the root form (because it reuses the rendering of the core ``search`` field) and then ``form_rest`` is rendering the child fields because they were not rendered previously.

[2015-04-09 17:28] #13485 closed

[2015-04-09 20:45] Kryniol commented on #12643
Same here.

OS: Ubuntu 14.04
PHP: 5.5.9-1ubuntu4.7
PHPUnit: 4.5.1
Symfony 2.7

[2015-04-10 02:18] jrobeson opened #14292 "redirect #symfony-dev to #symfony"
Opening a new issue , since the main concern of #14125 is solved

I'd like to use freenode's channel redirection feature to have #symfony-dev redirected to #symfony. This redirection will last for 60 days (as defined by the redirect feature/command itself).

[2015-04-10 02:18] jrobeson commented on #14125
I conisder this particular issue closed. I'll opening my other concerns/questions as separate issues.

[2015-04-10 02:18] #14125 closed

[2015-04-10 06:02] fabpot commented on #14292
Go for it!

[2015-04-10 06:02] #14292 closed

[2015-04-10 06:13] samuel4x4 commented on #14240
Hello,

Thanks for feedback guys. You may be right, my idea comes from here: http://laravel.com/docs/master/queues. I used Laravel before Symfony, I'm still connected with what's happening in other frameworks. I think Symfony is the best option for me now, but I really was impressed by the queue support Laravel included in the last version.

I hope nobody feel offended about this idea, I will cont

[2015-04-10 07:47] dupuchba commented on #14240
@samuel4x4 you have bundles that can help you do queue management. But again it is still an architectural decision :-).

[2015-04-10 07:53] jrobeson commented on #14240
i think there's still room for a RAD framework like laravel to be built on top of the symfony framework. Some have been started, but nothing has really gained traction yet :(

[2015-04-10 07:54] xabbuh commented on #12643
@Kryniol Do you get more detailed output when running the tests with the `-v` option?

[2015-04-10 08:08] Rvanlaak opened #14297 "[Translator] First occurence in yml not read"
Over the last few months occasionally a quite weird bug occurs. Seems to be occurring since the `2.6` branch, but don't tested that yet. Will make a reproducible test case later on.

[code]

__Not working__
[code]
__Working__
[code]
The first translation occurrence in the yml file is not read, so the fallback message is shown. Clearing the cache does not solve it, putting a "stub" translation on t

[2015-04-10 08:34] Kryniol commented on #12643
@xabbuh Nope, verbose option doesn't add anything useful to the output when it's a matter of failed test.

[2015-04-10 09:52] aitboudad commented on #14297
I'll look into it

[2015-04-10 10:02] jaytaph commented on #12643
The issue might not be Symfony related.  It occurs during `proc_open` with `pty` as file descriptors. This case is disabled in the php source (http://lxr.php.net/xref/PHP_5_6/ext/standard/proc_open.c#65), and is not configurable to be overridden (something like a `--enable-pts` configure). However, the debian/ubuntu package (i've tested too on 14.04LTS, which uses php 5.5.9), adds a patch that ove

[2015-04-10 10:19] aitboudad commented on #14297
I can't reproduce your issue in both 2.6-dev and 2.7-dev.
can you make the changes in a fork of Symfony Standard Edition to reproduce it?

[2015-04-10 10:37] iltar opened #14300 "[Security] Simplifying custom implementations"
### Current issue - Custom Implementation
When at first I wanted to implement a custom authentication process, it was very clear I should use the `simple_form`, however, in the end I ended up copying a lot of things from the `DaoAuthenticationProvider` and `UserAuthenticationProvider`. My reasons were simple; I had to add additional checks, such as
 - is this IP blocked?
 - Is the captcha entered

[2015-04-10 11:36] dupuchba commented on #11263
any news on this one ?

[2015-04-10 11:46] dupuchba opened #14302 "[EventDispatcher]Get priority on listeners/subscribers"
Hello all,

I'd like to know if there is a way to retrieve listeners/subscribers priority.
There is nothing specified  in the `EventDispatcherInterface`.
@stof as a merger of this component can you tell me ?

Another question I have is why we implicitly sort listeners in `getListeners` in the `EventDispatcher.php`. It's confusing to me because as a user of `getListeners` I am not aware that listen

[2015-04-10 13:31] stof commented on #14302
@dupuchba there is no way to get the priorities.

regarding the fact that the listeners are returned sorted, feel free to send a PR improving the phpdoc to mention it.

[2015-04-10 13:41] dupuchba commented on #14302
@stof Ok, thx :-).

But what do you think about decoupling the sorting of listeners and their "getting".
Besides is this the right design behavior to not being able to get priority ?

[2015-04-10 13:42] stof commented on #14302
@dupuchba how would you decouple it ? and we cannot return them not sorted. It would be a BC break. ``getListeners`` is expected to give the listeners in the order in which they will be called.

[2015-04-10 14:26] mpdude commented on #7796
Something we should discuss again for 3.0, or already too late?

[2015-04-10 14:27] mpdude commented on #7176
@stof What do you think? This is an old issue and not entirely up to date, but maybe something worth discussing for 3.0?

[2015-04-10 14:34] dupuchba commented on #14302
I don't know how to decouple it, it might be a terrible idea. I still added some information on the phpdoc https://github.com/symfony/symfony/pull/14304 .
My main goal is to fetch priorities, I have if it's possible and desirable

[2015-04-10 14:35] jderusse opened #14305 "E_USER_DEPRECATED in TwigExtension"
the TwigExtension use the deprecated parameter `twig.form.resources` in https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExtension.php#L58

[2015-04-10 15:54] jderusse opened #14307 "Trigger a E_USER_DEPRECATED when I used a deprecated service"
My current problem is the following:
I upgrade a legacy application to 2.8. And I've now a `E_USER_DEPRECATED`: `Symfony\Component\Form\Extension\Csrf\CsrfProvider\CsrfProviderAdapter class is deprecated since version 2.4`.
I search a lot and found that the problem was the parameter `csrf_provider` in `security.yml` who's defined to the service `form.csrf_provider`. Finally this service use the de

[2015-04-11 04:24] dosten commented on #14290
How do you applied the theme to the form?

[2015-04-11 04:26] dosten commented on #14275
can this be closed?

[2015-04-11 05:15] cordoval commented on #11958
ping @javiereguiluz is this the wrong PR, or any chance, maybe i should just close it?

[2015-04-11 07:59] nicolas-grekas commented on #14307
Rethinking about this, it would even be simpler and more reliable to just have a "deprecated" tag in the deprecated services definition. In debug mode, this should trigger deprecation notices.

[2015-04-11 08:22] xabbuh commented on #14275
@dosten You can reference this ticket in your PR table under the fixed tickets label. It will then be closed automatically when your PR gets merged.

[2015-04-11 08:41] LiNgOtT opened #14314 "Creating a route with an empty (optional) parameter doesn't work in Twig when using "merge""
### Description
Building a URL in Twig with `path(..)` throws an error when route has a `null` value of an optional parameter.
This only happens, if you merge an array of parameters to the second argument of `path(..)`.
[code]

The parameter `$id` is null in this case and I got the error message below:

Seems to be a similar issue as reported here: #7316

### Controller action
[code]

### Twig tem

[2015-04-11 09:02] iltar commented on #14297
I'm running symfony 2.6 and I don't think I have this issue. I can check next Monday if it's really the case when I update to the latest patch version.

[2015-04-11 09:02] xabbuh commented on #13913
@mpdude Although I'm a bit late to the party, the next time you see something similar, rebasing on the latest upstream branch you based your work on, will probably resolve the failures.

[2015-04-11 09:07] mpdude commented on #13913
Sure, I tried that.

In my particular case it turned out that there were broken tests on *another* Symfony branch than the one my PR was based on. Then, in the `deps=low` test, this faulty branch was used.

I was able to resolve this and learned a lot about the Symfony test/build system along the way. :-).

But anyway - thanks for your help @xabbuh!

[2015-04-11 09:10] AntonioAmore commented on #14290
[code]

[2015-04-11 09:52] xabbuh commented on #14305
IIRC, the parameter needs to be kept here as third-party bundles rely on it.

[2015-04-11 12:09] aitboudad commented on #14237
@sgehrig this can be an easy pick for your first pull request ?

[2015-04-11 13:32] mpdude commented on #6930
Close in favor of #6978?

[2015-04-11 14:04] dosten commented on #14275
@xabbuh done!

[2015-04-11 17:00] sgehrig commented on #14237
@aitboudad I tried to... Please be lenient ;-)

[2015-04-11 19:46] cordoval commented on #14307
@nicolas-grekas is there a way to avoid notices even in debug mode? sometimes even we are doing the right thing, e.g. using twig.form_themes: [...] instead of say twig.form.resources but because there is a setter $container->setParameter('twig.form.resources', $config['form_themes']); even on 2.8 https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bundle/TwigBundle/DependencyInjection/TwigExte

[2015-04-11 19:56] nicolas-grekas commented on #14307
@cordoval see #14305. And yes, this needs a bug fix on 2.7

[2015-04-11 20:34] cordoval commented on #14305
@xabbuh is right, bundles like braincrafted bundle relies on this https://github.com/braincrafted/bootstrap-bundle/blob/develop/DependencyInjection/BraincraftedBootstrapExtension.php#L158-L170. but if you don't use these bundles or the bundles get updated then this warning does not show up. So i believe this ticket can be closed? @nicolas-grekas

[2015-04-11 20:45] nicolas-grekas commented on #14305
Maybe we should open issues/PRs on the bundle we find that need to be updated, referencing this issue?

[2015-04-11 20:48] cordoval commented on #14305
yeah i believe so too and close this one.

[2015-04-11 21:19] jderusse commented on #14305
Indeed, the warning was not triggered by this line, but by a `twig.form.resources` in my config. Sorry for the inconvenience

[2015-04-11 21:19] #14305 closed

[2015-04-11 21:26] cordoval commented on #14305
good catch though, now we can create tickets in other bundles to update them for 2.7. @nicolas-grekas do you think i should add a note like i did here https://github.com/symfony/symfony/pull/14321/files but for this case?

[2015-04-11 21:33] cordoval opened #14322 "Question on bugfixing flow"
perhaps now that 2.7 is about to go out, all from now fixes are going to go now to 2.7 from tomorrow right? not to 2.3 right? Someone is going to have to either back port things right? Or 2.3 is totally dying out right after 2.7 enters in place?

[2015-04-11 22:33] #11189 closed

[2015-04-11 23:49] Tobion commented on #14314
Thanks for the detailed report. But this is the expected behavior.

What URL are you excepting to generate when `id` is not set (default `null`) but `page != 1`? There is no URL that can be generated to match your route. Lets say id is null and page is 2. It cannot genrate `/de/catalog/2` because its missing the id. And `/de/catalog//2` (empty id) does't make sense either.

[2015-04-12 05:58] LiNgOtT commented on #14314
My fault, you are absolutely right.
Thank you so much for the explanation.

[2015-04-12 05:58] #14314 closed

[2015-04-12 07:19] nicolas-grekas commented on #14322
http://symfony.com/roadmap?version=2.3#checker means fixes still go to 2.3 when possible

[2015-04-12 07:19] #14322 closed

[2015-04-12 10:03] byarabah opened #14326 "RuntimeException"
Hi,

When I go on http://127.0.0.1:8000 or http://localhost:8000, I see the following message in the console (and nothing in browser):

[Symfony\Component\Process\Exception\RuntimeException]
   The process has-been Signaled signal with "11".
                                                           
server: run [-d | --docroot = "..."] [-r | --router = "..."] [address]

An idea?

I'm on Mac OS X

[2015-04-12 10:24] jrobeson commented on #14253
@naroga : you should close this here and reopen  this in symfony-standard. . It might even work to just submit a PR to change the dependencies to default to 2.5 and skip opening the issue altogether.

[2015-04-12 11:08] dupuchba commented on #14326
Some questions :
- php version
- sf version
- os version

Anything that can help us understand the context

[2015-04-12 11:15] byarabah commented on #14326
PHP 5.5.20
Symfony 2.6
Apache/2.4.10 (Unix)
OS X Yosemite (10.10.3)

The problem occurs every time I test a page from browser. I make no particular change.

Thanks.

[2015-04-12 12:33] Aerendir opened #14327 "app/bootstrap.cache.app should end with a newline character"
The file should end with a newline character.
Infact, each time I run the insight.sensio checks, it reports this issue.

Maybe a good thing if the generated file ends with a new line character.

[2015-04-12 12:43] Aerendir commented on #14327
Deepening into this issue, i found it is in reality caused by this file https://github.com/sensiolabs/SensioDistributionBundle/blob/master/Resources/bin/build_bootstrap.php

It is in the SensioDistributionBundle, different from Symfony package... What should have I to do now to move this issue from here to the proper location? o.O

[2015-04-12 12:44] fabpot commented on #14327
Yes, moving it to the bundle would be better. Thanks.

[2015-04-12 13:23] Aerendir commented on #14327
I have simply created a new issue there in the SensioDistributionBundle repo: https://github.com/sensiolabs/SensioDistributionBundle/issues/202

I'm closing this...

[2015-04-12 13:30] #14327 closed

[2015-04-12 15:04] fredpeaks opened #14328 "In kernel::terminate() the response object is filled ok but blank screen displayed"
Hi,

On some pages of my website I have a blank screen displayed.
The problem only occurs on my vagrant vm (the site has been tested with the same data on a some servers and this blank problem never happened).
And it's only present in dev environment with debug. If I change app_dev.php to put ```$kernel = new AppKernel('dev', false);```, the page is displayed correctly without error.
When I do a s

[2015-04-12 15:30] juliomatcom opened #14329 "FileLoaderImportCircularReferenceException wrong on Symfony version 2.6.6"
Hi this is an error  that for some people must be confusing, when you dont add in a controller using annotations route the correct namespaces like:
[code]
and then you use :
[code]

In some anotattion in a controller Symfony throw an Exception that says:

[code]

witch is wrong and confusing, thanks

[2015-04-12 17:30] xabbuh commented on #14326
Can you please execute the `server:run` command with the `-vvv` option and check if you get a more detailed error message then?

[2015-04-12 17:44] byarabah commented on #14326
Yes,
More detailed error message:
Exception trace:
 () at /Users/b/Sites/test/vendor/symfony/symfony/src/Symfony/Component/Process/Process.php:367
 Symfony\Component\Process\Process->wait() at /Users/b/Sites/test/vendor/symfony/symfony/src/Symfony/Component/Process/Process.php:210
 Symfony\Component\Process\Process->run() at /Users/b/Sites/test/vendor/symfony/symfony/src/Symfony/Component/Console/

[2015-04-12 18:22] dosten commented on #14329
Duplicated of #14199

[2015-04-12 18:24] fabpot commented on #14199
Now that #14073 has been fixed, can we close this one as well?

[2015-04-12 18:24] #14329 closed

[2015-04-12 18:27] iltar commented on #14199
@fabpot is https://github.com/symfony/symfony/pull/14192/files supposed to fix this? If so I will try this tomorrow and close this issue if it indeed fixes it.

[2015-04-12 18:29] fabpot commented on #14199
@iltar Indeed

[2015-04-12 19:14] nicolas-grekas commented on #14199
#14073 fixes error reporting and makes this error understandable. Still, it does not fix the root of this very issue, which is:
- the routes are loaded but this fails with an exception because the route definition has an issue
- this exception is handled by the HttpKernel and re-injected for rendering to the exception controller route
- but this also fails because for the same reason, the routes c

[2015-04-12 19:22] WouterJ commented on #14307
Checking for a `@deprecated` annotation on the class is not always enough (a service can also be renamed). So I'm +1 for a deprecated tag (which can be provided by the DebugBundle).

[2015-04-12 19:23] weaverryan commented on #14096
@parhamdoustdar Yep, that's exactly what I'm thinking - we'll tell people to consider if they're building something standalone (`app/`) or reusable (library or bundle in `src/`). It's more that we'd be *adding* the possibility to put app code in `app/`, but not taking anything away :).

Cheers!

[2015-04-12 19:27] byarabah commented on #14326
Now I see this error:
FileLoaderImportCircularReferenceException in FileLoader.php line 97:
Circular reference detected in "/Users/b/Sites/test/app/config/routing_dev.yml" ("/Users/b/Sites/test/app/config/routing_dev.yml" > "/Users/b/Sites/test/app/config/routing.yml" > "/Users/b/Sites/test/src/AppBundle/Controller/" > "/Users/b/Sites/test/app/config/routing_dev.yml").

[2015-04-12 19:45] fredpeaks commented on #14328
After some more research with debugger, I think the problem may come from fastcgi or php-fpm because the 500 error response is thrown from the ```Symfony/Component/HttpFoundation/Response::sendContent()``` call.
This method only does a ```echo $this->content;```. I've checked that content is correct before the ```echo``` call but the browser receives instantly an empty 500 response. And of course

[2015-04-12 20:05] Pierstoval commented on #14096
The problem is still the same: what to do with AppBundle? Put its content directly into `app/`?

[2015-04-12 20:06] nicolas-grekas commented on #14328
You should look in your php logs, and/or enable them. The Sf error handler does not hide them at all.

[2015-04-12 20:11] weaverryan commented on #14096
@Pierstoval exactly :). `src/` would be empty, but you can put re-usable things in there if you have them. Do you see an issue with this?

[2015-04-12 20:12] Pierstoval commented on #14096
Nope, but then we should "teach" users about the real difference between `src` and `app`, and there *should* be a difference between them (about namespacing like PSR-0 or PSR-4)

[2015-04-12 21:21] fredpeaks commented on #14328
@nicolas-grekas I have re-checked that php logs are enabled and they are. I've tested with an "undefined function" error and it appears in php logs. But nothing when I load my blank page. And yeah, I finally understood that the error wasn't hidden by sf error handler as I tried to explain in my previous post. But I cannot find were the problem comes from. Thanks

[2015-04-12 21:38] nicolas-grekas commented on #14328
If you have xdebug, can you try with scream mode on?

[2015-04-12 21:47] fredpeaks commented on #14328
@nicolas-grekas I've set xdebug.scream to on but still no error message. (thx for the tip, I didn't knew the scream option)

[2015-04-12 22:07] fredpeaks commented on #14328
I've tried to remove some fields on a form that is rendered on one of the pages that display a blank screen.
The page has been displayed correctly (without the fields of course).
But the problem doesn't come from these particular fields because the page display correctly when I put them back and remove some other fields.
I think the pages that are concerned by the problem are the most complex in t

[2015-04-12 22:47] ptrm04 commented on #13870
@tetranz there is definitely something ongoing - wish I had more time to dive into it, this could affect quite a number of developers. If we could get someone who has tried the steps above and can confirm that he/she is not affected by it we could then take it forward if that was the case. I have tried it on different hosting environments and it all behaves the same. Symfony config checker says yo

[2015-04-12 22:53] ptrm04 commented on #13815
@stof thanks! :-)

[2015-04-12 22:53] #13815 closed

[2015-04-12 22:54] Alsatian67 opened #14332 "[BC Break] "framework.templating.assets_base_urls" in config"
To separate the assets of dev and prod environments, I was using different "export" paths.

These paths were configurated twice : For Assetic / For framework.templating in config_prod.yml and config_dev.yml.

My config_dev.yml :

framework.templating.assets_base_urls: /source

-> All my dev assets were pointing to web/source ...

Since I did the upgrade from Sf 2.6 To 2.7 Beta1, this parameter bri

[2015-04-13 01:26] cordoval commented on #14332
can you please try to reproduce this with SE and link here the reproduction? would help a lot to troubleshoot

[2015-04-13 02:19] dosten commented on #14021
This can be closed?

[2015-04-13 05:03] jakzal commented on #14021
@dosten it hasn't been resolved in any way yet.

[2015-04-13 05:13] parhamdoustdar commented on #14096
Awesome!

On 4/12/2015 11:53 PM, Ryan Weaver wrote:

[2015-04-13 05:22] nicolas-grekas commented on #14328
Can you set it to -1 instead of 512M?

[2015-04-13 07:14] dupuchba commented on #14326
What is the action that you are triing to execute ?

[2015-04-13 07:17] xabbuh commented on #14326
@byarabah Reading your last error message, can you please check if your issue is related to #14199 and if you are able to solve your issue that way?

[2015-04-13 07:57] dupuchba commented on #14302
@stof just to continue on our discussion, do you see any value on being able to retrieve the priority of a given listener/subscriber ?

[2015-04-13 08:53] byarabah commented on #14326
No, that does not solve.
@dupuchba I try to display page in browser

[2015-04-13 08:54] xabbuh commented on #14332
`/source` is no URL. With the new Asset component in Symfony 2.7, you can use the `framework.assets.base_path` option.

[2015-04-13 08:57] xabbuh commented on #14326
@byarabah Can you provide the steps needed to reproduce your issue? Or does this also happen with an unmodified Symfony Standard Edition?

[2015-04-13 08:58] yann-eugone opened #14334 "[Security][Doctrine ORM] Always authenticated as user #1"
Hi all,

I'm facing a very weird problem with user fetching during my authentication process.

I have a very simple use case :

A `User` entity with basic properties :

[code]

A simple security configuration :

[code]

I got 2 users in database :

    ID | USERNAME | PASSWORD
    1  | admin    | admin
    2  | john     | john

When I try to log in with `admin` everything is fine. But when I try w

[2015-04-13 09:04] yann-eugone commented on #14334
About versions :

- `symfony/symfony`: 2.6.6
- `doctrine/orm`: 2.4.7
- `doctrine/dbal`: 2.4.4
- `doctrine/doctrine-bundle`: 1.4.0

[2015-04-13 09:04] jaytaph commented on #12643
I've taken a look in the (a lot of!) code and straces.. and found this to be a bug in the php core.

The issue is as follows (hopefully i can explain it correctly):

When using `enhanceSigchildCompatibility` and `isSigchildEnabled` is true, the Process component will add a 4th file descriptor (which is always a pipe, even when the rest are PTYs). Also, the actual command that will be run in the pr

[2015-04-13 09:37] fredpeaks commented on #14328
@nicolas-grekas I've tried -1 instead of 512M but still the same problem. I know the problem doesn't come from memory because this site has been tested on several servers (windows or linux) and never has memory problem. It has no error of any type at all on other servers, it's working fine and fast...

[2015-04-13 09:39] nicolas-grekas commented on #14328
The ultimate tool are xdebug traces: http://xdebug.org/docs/execution_trace
Look at the output file and where it stops...

[2015-04-13 09:40] jarofgreen commented on #6587
+1 please https://github.com/OpenACalendar/OpenACalendar-Web-Core/issues/379

[2015-04-13 10:03] jarofgreen commented on #6587
So I've just been digging into this and I see what may be an easy answer, at least in "choice" mode ....

https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Form/Extension/Core/Type/TimeType.php

Has this in it:

     $hours = $minutes = array();
                foreach ($options['hours'] as $hour) {
                    $hours[$hour] = str_pad($hour, 2, '0', STR_PAD_LEFT);

[2015-04-13 10:33] aimeos commented on #14062
Any news on this? Our tests break regularly at the moment because of old data in the test session but it's completely random when this happens. insulate() seems that it could help if it would work.

[2015-04-13 10:46] BlackScorp opened #14336 "[Valdiator] PHP Fatal error: Cannot use 'True' as class name as it is reserved"
Hello guys, i'am getting an error while running my tests on PHP 7

will be this changed somehow in the future?

https://travis-ci.org/Opentribes/Core/jobs/58144458

[2015-04-13 10:52] stof commented on #14336
Yes it will. See #14086 for the issue tracking this, and #14228 for the WIP fixing this. I'm closing this issue as duplicate.

[2015-04-13 10:52] #14336 closed

[2015-04-13 10:56] Alsatian67 commented on #14332
@Cordoval, to reproduce the error, you must only set a path like "/source" by framework.templating.assets_base_urls.

@xabbuh
Ok, with framework.assets.base_path I can recreate what I want.

The with sf < 2.7.BETA-1, it was possible to define a route relative to the web path, now it is not possible anymore, isn't it a BC break ?

[2015-04-13 11:01] stof commented on #14332
@Alsatian67 passing a path rather than an url for ``assets_base_urls`` was not a supported use case though

[2015-04-13 11:42] Alsatian67 commented on #14332
It worked fine by me with every Sf versions from 2.2 to 2.6.
I used it in all my apps to seperate prod and dev assets, and point to the good path.

Then there was a bug before Sf 2.7 :

A path by this parameter worked despite it should not work !

[2015-04-13 12:37] cordoval commented on #14332
@Alsatian67 @javiereguiluz did a PR this morning https://github.com/symfony/symfony-docs/pull/5170/files but I suggested this to be documented on the UPGRADE2.7.md document. I think would this had been there you wouldn't have had this problem. However as @stof  is mentioning you should pass an url, even this is clear in the body of tests.

[2015-04-13 12:37] fredpeaks commented on #14328
@nicolas-grekas I'm back after some tests with xdebug traces and it appears that there is no error in the trace, the script doesn't stop until "Symfony\Component\HttpKernel\DataCollector\DumpDataCollector->__destruct()" which is the normal way a Symfony script ends. By the way, the trace file weight 76.5Mo in the most compact form, it's a bit scary !  Here is a compressed version (3Mo), just in ca

[2015-04-13 13:18] naroga commented on #14253
I'll close this issue then. Thanks for the responses, @jrobeson, @mpajunen.

[2015-04-13 13:18] #14253 closed

[2015-04-13 13:20] Alsatian67 commented on #14332
OK, my problem just came from my wrong understanding of the previous configuration in templating.
I was just wondering that it worked with paths before. If I never should use paths on this parameter, it is not a BC brake.

You can close this issue.

Thank you to every one.

[2015-04-13 13:34] Tobion commented on #14253
See symfony/symfony-standard#797

[2015-04-13 13:44] tsantos84 commented on #14117
Hi @javiereguiluz. Sorry for long time without reply this issue. So, is not possible to work with tables like `<table>` in web browsers? I really can't see the problem in pass a fixed width for table's columns. But, if you still think that this feature is not possible for the moment, you can close this issue.

[2015-04-13 13:50] stof commented on #14117
@tsantos84 on the CLI, it is also much harder to wrap the content inside cells in case it becomes wider than the width attributed previously (because we must perform rendering line by line in the output).
So rendering the table without knowing the content will indeed be a huge pain.

[2015-04-13 13:56] tsantos84 commented on #14117
@stof When you say "without knowing the content" are you saying the entire table's content or a content of a single row?

[2015-04-13 14:02] slavafomin opened #14337 "Circular reference with ParamConverter annotation"
Hello!

I've encountered some weird issue when using [ParamConverter](http://symfony.com/doc/current/bundles/SensioFrameworkExtraBundle/annotations/converters.html#doctrine-converter) in my Symfony 2 application (`2.6.6`).

I have the following controller:

[code]

I'm getting the following exception:

[code]

The same problem [is discussed here](http://forum.symfony-project.org/viewtopic.php?p=12

[2015-04-13 14:04] stof commented on #14117
the content of the entire table (rendering a row without the content of this row simply does not make sense)

[2015-04-13 14:09] tsantos84 commented on #14117
Ok guys...closing this issue.

Thanks for your attention.

[2015-04-13 14:09] #14117 closed

[2015-04-13 14:12] javiereguiluz commented on #14337
@slavafomin thanks for reporting this issue.

Apparently, the problem is not related to the ParamConverter. Lately we've received a lot of reports of misleading errors referring to *circular reference errors* when in fact the problem has nothing to do with that (see #14199 and #13963).

@nicolas-grekas worked on a solution for this problem and closed a related issue (#14073). But it looks like we

[2015-04-13 14:13] javiereguiluz commented on #14117
@tsantos84 thanks to you for proposing this idea. Althought this time the proposal didn't make it, please don't hesitate to submit new proposals in the future. Thanks.

[2015-04-13 14:24] tsantos84 commented on #14117
@javiereguiluz thanks to your attention. Sometimes I have some ideas for Symfony Framework and its components. Opening an issue and exposing the idea is the best way or there is a special place to do it.

[2015-04-13 14:32] fredpeaks commented on #14328
Ok, I finally found the origin of the problem.
There was an apache error log I didn't see before (*34y6vt7aepki_error_ssl.log*) were I found these types of messages : ```proxy_fcgi:error``` with the text ```Premature end of script headers: app_dev.php, ...```
This leads me to a stackoverflow page where the solution was : http://stackoverflow.com/questions/28602857/after-login-get-blank-page-only-i

[2015-04-13 14:32] #14328 closed

[2015-04-13 14:35] javiereguiluz commented on #14117
@tsantos84 in the past we had a `symfony-dev` mailing list to discuss about the development of the framework. But it was closed in favor of this GitHub repository. So you are right, this is the best place to open issues to discuss about the new or the existing Symfony features.

[2015-04-13 14:40] #14332 closed

[2015-04-13 14:41] nicolas-grekas commented on #14328
See #8413 for reference (and related issues)

[2015-04-13 14:45] Tobion commented on #14040
Remvong the `domain = null` might cause too much trouble for not much gain. So I would propose to go the opposite route to make things consistent.

1. add a constant TranslatorInterface::DEFAULT_DOMAIN = 'messages'
2. change signature of MessageCatalogueInterface to use null as well

[2015-04-13 15:34] #14124 closed

[2015-04-13 15:34] Rvanlaak commented on #14257
Can't the multiple listener per class problem be solved by making the condition an optional parameter in the listener tag declaration? That way the Listener doesn't has to implement the interface.

[code]

[2015-04-13 16:03] willdurand opened #14339 "[FrameworkBundle] Bundled router files have hardcoded front controller names"
Hi!

Not sure whether we can do anything for this, but [router_dev.php](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bundle/FrameworkBundle/Resources/config/router_dev.php) _et al._ require `app_[dev|test].php` front controllers, which might not exist. For instance, I use `index.php` files rather than `app.php`.

Because such files are not part of the Standard Edition (that is opinionat

[2015-04-13 16:35] dupuchba opened #14340 "Is it possible to make xdebug.file_link_format work from a VM"
Hi all,

I am actually using vagrant @work and I just discover the magic with `xdebug.file_link_format` which work well outside my vagrant.

Here is my problem, when I trie to click on the debug tool bar on my controller name to be redirected IDE, It open my IDE but with my vagrant's path like this :

![capture_d ecran_2015-04-13_a_18_33_18](https://cloud.githubusercontent.com/assets/911705/712020

[2015-04-13 16:37] stof commented on #14340
AFAIK, no

[2015-04-13 17:00] tsantos84 commented on #14117
Ok @javiereguiluz. thanks.

[2015-04-13 20:12] xelaris commented on #14334
This is misinterpreted. In fact the `$id` parameter is converted to `array("id" => $id)`, if it is not an array and given the identifier attribute is `id`. https://github.com/doctrine/doctrine2/blob/v2.4.7/lib/Doctrine/ORM/EntityManager.php#L371

[2015-04-13 20:26] javiereguiluz opened #14342 "Fix FileLoaderImportCircularReferenceException errors"
Symfony 2.6.5 version changed the way errors are displayed in the browser. Lately a lot of users are complaining about this new behavior: #14337, #14199, #1396, #14111, #14073.

Symfony 2.7 beta tried to solve this problem, but the result is not completely satisfactory.

To better understand the problem, check out the different error messages that you get when your controller uses the `@Security`

[2015-04-13 20:28] yann-eugone commented on #14334
Ok. I see. I steel have the problem but I will take a look further tomorrow morning

[2015-04-13 20:51] Green-Cat commented on #14342
:+1:

[2015-04-13 20:58] nicolas-grekas commented on #14342
Let's close all duplicates :) The issue also exists in 2.3. Here is the situation:

#14073 fixes error reporting and makes this error understandable. Still, it does not fix the root of this very issue, which is:
- the routes are loaded but this fails with an exception because the route definition has an issue
- this exception is handled by the HttpKernel and re-injected for rendering to the except

[2015-04-13 22:08] colinodell commented on #14060
Thanks for the advice @stof, I'll work on implementing that method instead.

[2015-04-14 06:02] iltar commented on #14199
Closed in favor of #14342

[2015-04-14 06:02] #14199 closed

[2015-04-14 07:20] jakzal commented on #14062
It's not a bug.

The script that's generated to run in a separate process [looks for an autoloader file](https://github.com/symfony/FrameworkBundle/blob/d90650905dbe8f99f13b8f2ef44051cf223a3482/Client.php#L169-L174) in the same directory the kernel is located. That's where the `autoload.php` file is located in a Symfony Standard Edition.

Your Fixtures project doesn't have an autoloader. Either co

[2015-04-14 07:20] #14062 closed

[2015-04-14 07:32] yann-eugone commented on #14334
OK I found my problem...
I'm using SyliusResourceBundle, and to be able to administrate users, I had to use the Sylius repository base class, which redefine the `find` method of the repository.
I'll open a ticket to their repository.
Thanks and sorry

[2015-04-14 07:32] #14334 closed

[2015-04-14 07:44] nicolas-grekas commented on #14342
The perfect error message we want is not the one we had in 2.6.4.
Here it is :-) (patch pending)

![x](https://cloud.githubusercontent.com/assets/243674/7132566/bd0b04da-e28a-11e4-9eab-47632c6da3c3.png)

[2015-04-14 07:54] dupuchba commented on #14257
@Rvanlaak It is quite a good idea IMO.

[2015-04-14 08:30] javiereguiluz commented on #14342
@nicolas-grekas you are awesome! Thanks a lot for making Symfony errors great again :)

[2015-04-14 08:36] jarofgreen commented on #6587
Looking at this again quickly, I would guess the proper thing to do is set the default and let programmers override this. Oh, and this applies to minutes and seconds to.

[code]

If someone from the project gives the nod that this could be a good option, I'm happy to boot up a VM with PHP 5.5 so I can test this against the branch master which I notice is branded V3? Would be cool to get this in th

[2015-04-14 08:37] nicolas-grekas commented on #14342
See #14345 and #14346

[2015-04-14 09:06] Rvanlaak commented on #14297
Tried to narrow this down, but did not resolve it completely yet. It has something to do with the initial caching of the translation catalogs, because after restarting Apache on the PROD environment the key is read properly.

Will work on debugging this later on.

[2015-04-14 10:34] derrabus opened #14349 "[WebProfilerBundle] [HttpKernel] Version feedback feature slows down application behind corporate proxy"
Now that the first beta release of Symfony 2.7 is available, I tried to upgrade my client's projects from Symfony 2.6 to 2.7. After the upgrade, the application became extremely slow: Each request took two minutes (!) to complete.

Tracing down the problem, I found that a `file_get_contents()` call inside the `ConfigDataCollector` class of the HttpKernel component took so much time. Obviously, it'

[2015-04-14 10:49] stloyd commented on #14349
Yes, that's the issue I mentioned in PR for that feature.

Better would be to remove whole external call & use pregenerate constant values like is used for versions etc.

[2015-04-14 12:31] ZakClayton commented on #13585
I've just started to get this issue. I feel it maybe something to do with how i have set the value for the field.

I am required to pass the entity ID through the post request if it existed. I know there are many methods for this and i probably have not chosen the correct one but nether the less that is not the issue.

I have a field called **shopId** which is also set in my **Shop** entity and ha

[2015-04-14 13:12] xabbuh commented on #13585
`$request->request->get('name') = null`

The correct way would be `$request->request->get('form_name')['name']`

[2015-04-14 13:16] ZakClayton commented on #13585
So as suspected it wasn't a bug at all just user error. Thank you for confirming and sorry for re-opening.

[2015-04-14 13:27] maximecolin opened #14350 "ArrayChoiceList usage"
Hi,

I'm trying to replace a ChoiceList which is deprecated by an ArrayChoiceList as recommended in ChoiceList docblock.

Unfortunately I can't reproduce the wanted ChoiceList result with an ArrayChoiceList.

Before i had

[code]

Which create a choice with 2 radio buttons, the html values were yes/no, the html labels were Oui/Non and the php values were true/false. Everything works fine.

Now I w

[2015-04-14 13:55] Tobion commented on #14350
choice_list is deprecated as well. You can just use `choices` directly. See #14050

[2015-04-14 14:06] stof commented on #14350
@Tobion this is wrong. the ``choice_list`` option is not deprecated

@maximecolin what are you dumping for the form data

[2015-04-14 14:11] adam187 commented on #14350
@stof Looks like it is

https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php#L261

https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php#L315

[2015-04-14 15:22] maximecolin commented on #14350
@stof I'm dumping ```form.newsletter.vars.data```

@Tobion Thanks, it looks like what I need, but I can't make it works neither.

First, ```'choice_value' => function ($choice, $key) { ... }```, i've got an error, $key parameter seems to be unexpected.

Then i try this way :

[code]

This is quite the same thing as the doc in the PR but it produce the same result as the ArrayChoiceList. The data a

[2015-04-14 16:23] Tobion commented on #14350
How do you create the form and field?

[2015-04-14 17:05] xabbuh commented on #14111
closing in favor of #14342

[2015-04-14 17:05] #14111 closed

[2015-04-14 17:06] xabbuh commented on #14337
closing in favor of #14342

[2015-04-14 17:06] #14337 closed

[2015-04-14 17:58] Soullivaneuh opened #14353 "Cache clear try to clear on the wrong directory de_"
Since I updated symfony to `2.7.0-BETA1`, I have the following error by running `php app/console cache:clear`:

[code]

Indeed, `app/cache/de_`.

I don't have this error on previous version (2.7.x-dev 350f30b0e1651371a5a31c61c5d13c972b9d5c24)

[2015-04-14 18:20] jakzal commented on #14168
What kind of reverse proxy do you use? Varnish or Symfony's HttpCache?

[2015-04-14 18:23] jakzal commented on #14175
Please use the [mailing list](http://symfony.com/mailing-lists) or the [IRC channel](http://symfony.com/irc) for support questions.

[2015-04-14 18:23] #14175 closed

[2015-04-14 18:27] xcompass commented on #14168
Using Symfony's HttpCache. Never tried it on Varnish.

[2015-04-14 18:49] jakzal commented on #13916
Feel free to reopen if you manage to reproduce this problem again.

[2015-04-14 18:49] #13916 closed

[2015-04-14 20:03] Soullivaneuh commented on #14353
Just tested with a fresh symfony installation, same kind of results:

[code]

[2015-04-14 20:42] SoboLAN commented on #14257
@Rvanlaak I like your idea too. Although I would be a bit cautios with this because encouraging developers to rely on static context is less than ideal (it discourages the use of DI, which in turn makes it harder to write unit-tests ) .

Maybe having something like this implemented but with a big red warning/recommendation in the documentation that it should only be used in the case when instantia

[2015-04-14 21:33] Soullivaneuh opened #14357 "Call to a member function createListFromFlippedChoices() on a non-object"
On symfony 2.7.0-BETA1, given the following FormType:

[code]

And the following service declaration:

[code]

Got this error when using it:

[code]

Possibly related to this big PR: #14050

[2015-04-14 21:39] stof commented on #14357
@Soullivaneuh First remark, you should not extend from the ChoiceType class. Instead, you should rely on the form type hierarchy by returning ``choice`` in the ``getParent`` method.

And if you extend from a class, you should be careful about calling the parent constructor. The issue in your case is that you don't construct the choiceType parent class properly, leaving it in an invalid state.

[2015-04-14 22:08] Soullivaneuh commented on #14357
Indeed, I created this form service base on old SecurityFormType of SonataUserBundle : https://github.com/sonata-project/SonataUserBundle/blob/2.1/Form/Type/SecurityRolesType.php

After following your advice, this works great. Here the corrected class for another people who can get stuck with the same problem:

[code]

Thanks for your time @stof. :+1:

[2015-04-14 22:09] #14357 closed

[2015-04-14 23:53] michaelcullum opened #14358 "Show forwarded controller/sub request on the web dev toolbar"
As it uses the request attributes it still detects it as the controller set by the router, if you forward to another controller it only detected as a sub request and not visible at first glance on the web dev toolbar. It could/should show any forwarded controllers/sub requests or at least the final controller that renders a response in the expanded information (on the web developer toolbar).

[2015-04-15 06:27] dupuchba commented on #14340
Maybe @nicolas-grekas has an answer :-) ?

[2015-04-15 06:42] nicolas-grekas commented on #14340
Using ini_set in your front controller?

[2015-04-15 07:02] javiereguiluz commented on #14353
I can reproduce the issue following the steps provided by @Soullivaneuh. The `cache:clear` command is the only one that fails, the rest of commands work as expected.

[2015-04-15 07:02] Rvanlaak commented on #14257
What about the condition not being static, it also could be a callable or other service definition right?

[2015-04-15 07:23] jakzal commented on #14232
Please ask support questions on the mailing list or IRC :)

Documentation should be discussed in the symfony/symfony-docs repo.

[2015-04-15 07:23] #14232 closed

[2015-04-15 07:26] SoboLAN commented on #14257
Yes, but if you'd have to instantiate another service to test the condition, that would defeat the entire purpose of the feature (which is improving performance).

[2015-04-15 07:36] jakzal commented on #14257
@SoboLAN not necessarily. You might need a different set of services (more lightweight) to make a decision, than those needed for the actual listener. However, this can already be solved with an approach I gave earlier.

[2015-04-15 07:38] dupuchba commented on #14340
yes, a little too much IMO
What about modifying `src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/request.html.twig` by adding a configurable option ?

[2015-04-15 07:41] jakzal commented on #14242
@Tobion I'm with Javier on this one, although I'm guilty of not including the link myself from time to time. I believe this is not a big effort to include the link but it makes a real difference for newcomers. We should whatever we can to make their lives a bit easier :)

[2015-04-15 07:55] Rvanlaak commented on #14257
Introducing a custom event where the service would listen to as @jakzal proposes already is a neat solution, but adds more complexity to DI in my opinion. That way a custom event always is needed, while adding a condition could be anything between a simple static callable and a lightweight service. Especially for services like APIs that have network overhead this could improve performance.

[2015-04-15 07:57] jakzal commented on #14257
@Rvanlaak I'm not proposing to add anything to the framework. I only describe what you can already do.

[2015-04-15 08:45] fabpot commented on #14353
fixed by symfony/symfony-standard#799

[2015-04-15 08:45] #14353 closed

[2015-04-15 09:08] xabbuh commented on #14353
FYI, as @xelaris stated in https://github.com/symfony/symfony-standard/issues/798#issuecomment-93072930 this was an issue in the doctrine/annotations library. They published the `1.2.4` release last night which fixed our issue when bumping the version in the Symfony Standard Edition.

[2015-04-15 10:59] Rvanlaak commented on #14257
@jakzal did understood that :+1:

[2015-04-15 15:09] danaki opened #14363 "EventDispatcher multiple handlers in one Listener gives error"
My listener looks like that:

[code]

Just tried to implement multiple listeners with different priorities in one class followed documentation inside the class https://github.com/symfony/symfony/blob/master/src/Symfony/Component/EventDispatcher/EventSubscriberInterface.php

After app/console cache:clean get Notice: Array to string conversion 500 Internal Server Error - ContextErrorException in in

[2015-04-15 15:30] #14075 closed

[2015-04-15 15:59] dincho commented on #14349
No it's not German. It's sober man thing. :+1:

[2015-04-15 16:12] dupuchba commented on #14363
@danaki can you provide a repo to simplify test or confirm that only implementing multiple listeners in one class make an internal error ?

[2015-04-15 16:43] dosten commented on #14363
@danaki what version are you using it?

[2015-04-15 22:10] dupuchba commented on #14363
@danaki can't reproduce your bug :(

[2015-04-16 07:35] apfz opened #14368 "Bug in getTemplating_Helper_AssetsService() Symfony 2.7-Beta 1"
This was triggered by having {{ tinymce_init() }} in a javascript block.

An exception has been thrown during the rendering of a template ("Catchable Fatal Error: Argument 1 passed to Symfony\Bundle\FrameworkBundle\Templating\Helper\AssetsHelper::__construct() must be an instance of Symfony\Component\Asset\Packages, string given, called in /my/directory/app/cache/dev/appDevDebugProjectContainer.ph

[2015-04-16 08:13] lsmith77 commented on #13505
@symfony/deciders I would like us to discuss this if we are going to put it into 2.7 .. obviously now we can also decide to delay it until 2.8 LTS but the decision should be conscious rather than accidental.

[2015-04-16 08:18] fabpot commented on #13505
2.7 beta1 is out, so no new features can be added to it. It would be for 2.8.

[2015-04-16 08:20] Pierstoval commented on #13505
Let's update #13945 in favor of the 2.8 branch then.
Ping @andrerom :smile:

[2015-04-16 08:27] derrabus commented on #14340
Maybe path mapping is rather a problem that JetBrains should solve. For remote debugging, they have solved this already, so maybe it's not a hard thing for them to extend this feature to those links.

[2015-04-16 08:31] dupuchba commented on #14340
@derrabus I use phpstorm but the problem is the same with sublime text or any other IDE

[2015-04-16 08:58] derrabus commented on #14340
@dupuchba Sure, and you use Symfony, but the problem is the same with Wordpress or Zend Framework.

My point is that this mapping is something very specific to your development environment. Another developer of your team probably needs different path mapping settings. This is why I'd rather implement such a feature into the IDE than into an application framework.

[2015-04-16 09:32] danaki commented on #14363
"symfony/symfony": "2.6.*"

[2015-04-16 09:41] xabbuh commented on #14363
@danaki Will you be able to fork the Symfony Standard Edition and make the necessary changes that are required to reproduce your issue? Or at least describe the steps that make it possible to reproduce it?

[2015-04-16 09:46] dupuchba commented on #14363
@xabbuh :+1:

[2015-04-16 11:42] #14363 closed

[2015-04-16 11:48] stof commented on #14363
@danaki why have you closed it ? Is it solved for you ? If yes, please describe what it was to help people who might face the same

[2015-04-16 12:35] SoboLAN opened #14376 "Routing component has a dependency that is not specified in its composer.json"
I ran into a bit of a problem while writing some code.

A project of mine depends on `Routing` component. When I was trying to write a unit-test for my code and mocking the `Router` class, PHPUnit (4.4.5) kept failing with the following error:

[code]

As far as I can tell from [Router's source](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Routing/Router.php), it depends on `S

[2015-04-16 12:42] xabbuh commented on #14376
Thanks for reporting this @SoboLAN. However, the dependency on the ExpressionLanguage component is not a hard one. That's why it is only listed in the `suggest` section. So I'm going to close here. Please refer to #12828 for more information. Thank you.

[2015-04-16 12:42] #14376 closed

[2015-04-16 12:44] stof commented on #14376
@SoboLAN the issue is that the PHPUnit mocking tool does not support mocking a class with typehints on non-existent methods. But as far as PHP is concerned, this is perfectly valid (a typehint does not trigger any autoloading).
Both Prophecy and Mockery are able to mock such classes properly btw.

[2015-04-16 12:51] Soullivaneuh opened #14377 "[Form] choices_as_value not working properly with associative arrays"
By following the upgrade to 2.7 documentation, I'm changing `choice` options.

With the given form:

[code]

We get this output:

[code]

If I try to reverse choices and use `choices_as_value` option:

[code]

I got this:

[code]

As you can see, my associated array keys are simply ignored and replaced by numeric values.

[2015-04-16 12:52] andrerom commented on #13505
Ok, I will do that tomorrow :)

[2015-04-16 12:52] Soullivaneuh commented on #14377
Possibly related to #14350 but not sure.

[2015-04-16 13:08] SoboLAN commented on #14376
@stof Thanks. I already used Mockery in some projects and I like it, but in this case my team and I agreed to go with PHPUnit alone.

@xabbuh Even if the dependency is a very weak one, it's rather strange to not fix this problem. Personally, I tried the solution in the referred issue but it still doesn't work (and it intuitively makes sense that it won't). So, in order not to waste too much on thi

[2015-04-16 13:13] stof commented on #14376
@SoboLAN as of PHPUnit 4.5, Prophecy is included in PHPUnit already

[2015-04-16 13:16] stof commented on #14376
@SoboLAN and there is **no** problem in Symfony. The only problem is that PHPUnit_Mock_Object does not support such case.

On a side note, you should mock the RouterInterface whenever possible rather than the Router implementation, and you won't face this issue at all (``addExpressionLanguageProvider`` is not part of the interface)

[2015-04-16 13:21] SoboLAN commented on #14376
@stof I'm so stupid ... of course I should've mocked the interface. Did it and it works. Thanks so much.

[2015-04-16 13:27] danaki commented on #14363
Can't reproduce it manually, can't get to work custom events in Symfony since there're lack of documentation and free time. Tried with knp paginator items event like in example in topic starter -- gives the same error. So in conclusion can't expose my private project sources where the error reproduces and can't reproduce it on clean project.

[2015-04-16 15:11] dosten commented on #14368
Can you paste the generated `getTemplating_Helper_AssetsService()` method in `app/cache/dev/appDevDebugProjectContainer.php` ?

[2015-04-16 15:20] apfz commented on #14368
sorry I forgot. Here it is!

 <pre><code>
   /**
     * Gets the 'templating.helper.assets' service.
     *
     * This service is shared.
     * This method always returns the same instance of the service.
     *
     * @return \Symfony\Bundle\FrameworkBundle\Templating\Helper\AssetsHelper A Symfony\Bundle\FrameworkBundle\Templating\Helper\AssetsHelper instance.
     */
    protected function get

[2015-04-16 15:22] Tobion commented on #14377
If you submit this form I assume the, the correct value, e.g. `production` is written to the model? Does that work? If so it's just the form values that changed, not the actual data on the model.
Btw, you can also try to use `choice_value` option.

[2015-04-16 15:52] Soullivaneuh commented on #14377
@Tobion indeed, the model data is not impacted.

Sorry for that, I was just in trouble with the new render. ;)

Thanks! :+1:

[2015-04-16 17:05] Tobion commented on #14377
I guess for people that rely on the values in javascript for example, it's still problematic.

[2015-04-16 17:34] michaelkonecny opened #14379 "doctrine:generate:entities adds setters/getters to wrong class"
Imagine I have an entity such as:

    namespace Acme\DemoBundle\Entity;

    use Doctrine\ORM\Mapping as ORM;
    /**
     * Product
     *
     * @ORM\HasLifecycleCallbacks
     * @ORM\EntityListeners({"ProductListener"})
     */
    class Product {
        private $id;

        private $name;
    }

    class ProductListener {
       // ...

    }

If i run

    php app/console doctrine:generat

[2015-04-16 17:40] jakzal commented on #14302
there's already a discussion about it in #11263

[2015-04-16 17:40] #14302 closed

[2015-04-16 18:03] Soullivaneuh commented on #14377
@Tobion it's possible, didn't think about that. Do you want me to reopen this issue?

[2015-04-16 19:28] mpdude opened #14380 "[RFC][Translator] Deprecate fallback catalogues and remove them in 3.0"
I would like to propose deprecating the concept of fallback catalogues, in particular the `addFallbackCatalogue()` and `getFallbackCatalogue()` methods, in `MessageCatalogueInterface` and to remove the corresponding implementations from `MessageCatalogue` in Symfony 3.0.

I will try to work out the details and come up with a PR once the basic idea gets approval.

Here's why.
### Background

A `Mes

[2015-04-16 19:50] stof commented on #14138
The list you gave here contains lots of commands which are not in the core but in other bundles

[2015-04-16 19:51] stof commented on #13887
I suggest initializing the Translator with the default locale rather than ``null``, so that it still has a locale before the kernel.request event.

What do you think @aitboudad @fabpot ?

[2015-04-16 20:00] stof commented on #10422
Closing as there is no feedback and this indeed looks like the issue fixed by #13912

Please reopen an issue in case the issue still happen

[2015-04-16 20:00] #10422 closed

[2015-04-16 20:03] stof commented on #4743
@Seldaek I think this should be closed. The router never advocates that ``_controller`` will contain a resolved class name in the controller string reference (hint: it cannot make such promise, for instance for controllers defined as services where the ``_controller`` string needs to contain the service id, not a class name).
the proper solution for NelmioApiDocBundle would be to use the Controlle

[2015-04-16 20:14] Seldaek commented on #4743
Fine by me.

[2015-04-16 20:14] #4743 closed

[2015-04-16 20:15] javiereguiluz commented on #14138
That's right. But this is a meta-issue to simplify tracking which commands are updated and which not.

[2015-04-16 21:57] aitboudad commented on #13887
@stof or adding `KernelEvents::EXCEPTION` event ?
[code]

[2015-04-16 22:37] stof commented on #13887
@aitboudad this would not change the fact that we would have a translator with the ``null`` locale before actually setting it. And ``null`` is invalid (you cannot use the translator in this case)

[2015-04-16 22:43] stof commented on #14380
How would this work for the fallback ? would the fallback handling be moved to the translator itself ?

[2015-04-16 23:53] aitboudad commented on #13887
fixed #14381

[2015-04-17 04:51] mpdude commented on #14380
@stof Exactly.

Instead of iterating along the fallback chain, it would determine the sequence of locales to be checked and then consult each of these catalogues in turn.

[2015-04-17 08:08] Soullivaneuh opened #14382 "[Form] Choice types with choice_list option breaks on 2.7"
Form choice type with `choice_list` option seems to be broken on rendering since Symfony 2.7.

See the concerned ticket: https://github.com/sonata-project/SonataAdminBundle/issues/2916

And the concerned type: https://github.com/sonata-project/SonataAdminBundle/blob/master/Form/Type/ModelType.php#L103-L115

Can you confirm?

[2015-04-17 08:55] Soullivaneuh commented on #14377
I reopen it. This not work with array fields on model.

According to this `roles` field ORM mapping: https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/config/doctrine-mapping/User.orm.xml#L35

And the following security roles type:

[code]

This will give numeric again value but we **also affect** the data model as it's an array.

[2015-04-17 08:55] Soullivaneuh commented on #14377
@webmozart can we have your opinion about this?

Thanks.

[2015-04-17 09:04] jaytaph opened #14384 "[finder] Command::addAtIndex() fails on adding Commands"
Even though it states it's supported, the [Command::addAtIndex](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Finder/Shell/Command.php#L290) fails when adding a `Command` to it. It works correctly with strings:

Works:

        $cmd1 = Command::create()->cmd("echo")->arg("--bar");
        $cmd1->addAtIndex('-E', 1);

Fails:

        $cmd1 = Command::create()->cmd("echo")->arg("

[2015-04-17 09:57] dupuchba commented on #14302
@jakzal you just closed the other one :(

[2015-04-17 10:35] stof commented on #14302
@dupuchba the other one is not closed

[2015-04-17 11:30] Soullivaneuh commented on #14377
This not works with complex encapsulated forms, like this twig form override:

[code]

`form[choiceFormView.vars.value]` doesn't work anymore cause `value` is not an integer and not the real value.

I think it's BC break because if not, I shouldn't have to change my code to get it working, isn't it?

[2015-04-17 13:19] thunderer commented on #14384
I reproduced this issue, exact error was:

[code]

I applied mentioned fix and it solved the issue, tests pass as well. I'll work on a PR.

[2015-04-17 13:41] phansys commented on #14379
I think this check isn't done because command relies on passed entities follow PSR-0/4, thus only the entity class is expected to be found inside that file.

[2015-04-17 14:59] #13887 closed

[2015-04-17 15:04] #12273 closed

[2015-04-17 15:12] aitboudad commented on #11292
fixed #13443

[2015-04-17 15:12] #11292 closed

[2015-04-17 15:49] jaytaph commented on #14384
Didnt had the time to patch it up myself. Awesome work :)

[2015-04-17 15:49] michaelkonecny commented on #14379
Ah, you're right, I should actually put it in a seperate file! I don't know why I didnt'.

Thank you!

[2015-04-17 15:49] #14379 closed

[2015-04-17 21:44] lce-fr opened #14387 "[terminal] doctrine:generate:entity outside a bundle"
Currently it is only possible to generate entity inside bundle. However some practices recommends to put business logic outside bundle as much as possible. Therefore some projects uses the following folder hierarchy :

src/ORM/Doctrine/Entity
src/Model
src/Transformer

and an unique bundle in src/Vendor/AppBundle

Now if you want to generate the terminal entity, outputs will not match the architec

[2015-04-17 21:49] mnpenner opened #14388 "[HttpFoundation] There's no getter for Response::$statusText"
I'm trying to convert a Symfony Request object to a different (PSR7-compliant) request object, but there's no way for me to get the `$statusText`.

Can we get a getter please? There's one for statusCode, but not statusText.

[2015-04-18 01:49] CuAnnan opened #14389 "Can't make new project on Centos 5.5"
Centos 5.5
used the instructions on the website verbatim.

PHP Fatal error:  Call to undefined function Symfony\Installer\posix_getpwuid() in phar:///usr/local/bin/symfony/src/Symfony/Installer/NewCommand.php on line 367

[2015-04-18 02:01] dosten commented on #14389
The error seems to be related to the Symfony Installer, can you open a PR in the symfony/symfony-installer repo?

[2015-04-18 02:02] CuAnnan commented on #14389
Sorry, new to this.

[2015-04-18 02:02] #14389 closed

[2015-04-18 09:21] Syam commented on #13751
Meet same issue, returning null from CustomAuthenticator::createToken() method will result as a fatal error :

[code]

[2015-04-18 09:37] hhamon opened #14393 "[2.7] [Form] Regression on non required ChoiceType handling"
As of 03efce1b568379eac21d880e427090e43035f505, the `ChoiceType` is broken when dealing with empty value (or `required = false` option). Take the following simple example to illustrate the problem:

[code]
The created form has one child field called `assignee`. It's a dropdown list of persons and it automatically includes an empty value when it's rendered thanks to the `required` option set to `fa

[2015-04-18 09:52] fago opened #14394 "[Validator] Property paths starting with 0 are broken"
While working on upgrading Symfony validator API usage from 2.4 to 2.5 for Drupal, it turned out that propertypaths starting with 0 are broken. E.g. 0.value would result into value. I'll create a PR for that.

Also see https://www.drupal.org/node/2343035

[2015-04-18 10:11] stof commented on #14394
This property path ``0.value`` would mean accessing the property ``0`` of the object, and the ``value`` on it. ``0`` is an invalid property name in PHP. So what is the use case for such property path ?

[2015-04-18 10:14] #14342 closed

[2015-04-18 10:14] fago opened #14396 "[Validator] 2.5 API lacks a way of preprocessing validated values"
We ran into an issue while porting the Drupal symfony validator integration to 2.5 API compatibility at https://www.drupal.org/node/2343035. With the 2.4 API it was possible to preprocess every value that is being validated before it is passed on to validators. Unfortunately in 2.5 that's not possible any more.

In Drupal, the validation metadata comes with the objects we want to validate. Those o

[2015-04-18 10:16] stof commented on #14396
What do you mean by preprocing values ?

[2015-04-18 10:17] #11958 closed

[2015-04-18 10:21] fago commented on #14396
Please see the PR or https://www.drupal.org/node/2343035#comment-9840605 for a working patch implementing the interface.
So what we are doing there (in most cases) is to assign $typed_data->getValue() to $value - where $typed_data was the previous $value.

[2015-04-18 10:23] stof commented on #14396
I'm not asking for how it would be implementing. I'm asking about the feature itself and and its goal.

[2015-04-18 10:37] stof commented on #14387
``doctrine:generate:entity`` is not part of Symfony itself, so this is the wrong issue tracker to report it. Please open an issue on SensioGeneratorBundle instead.

[2015-04-18 10:37] #14387 closed

[2015-04-18 10:55] fago commented on #14396
I think I described that in the initial post, not? If there is something unclear there, I'm happy to provide more context.
Well, the general goal is being able to use Symfony validator 2.5 API in Drupal, instead of having to use the 2.4 BC layer as this will prevent us from upgrading to Symfony 3.

[2015-04-18 10:57] Berdir commented on #14394
The case for that are lists. Our data structure are always lists of Field objects, represented by objects that implement ArrayAccess/Traversable.

[2015-04-18 11:31] stof commented on #14396
@fago why not writing a validation constraint for the TypedData implementatio itself rather than writing a special metadata system unwrapping the typed data and then accessing the typed data again from inside the validator to run more constraints on them ?
This would avoid to introduce the extra feature. Note that I haven't tried this approach. I only looked at the code quickly.

@webmozart what d

[2015-04-18 12:14] fago commented on #14396
I already tried a special constraint wrapping others in order to preprocess things. But I ran into the problem, that when you invoke the validator with the constraints directly, it does not cascade any more (it just uses some generic metdadata class also).  See https://www.drupal.org/node/2343035#comment-9826007

Also, it has issues for constraints which need to be able to use the TypedData object

[2015-04-18 13:48] Tobion commented on #14394
Array keys must be accessed with the index syntax, e.g. `[0]` in property path.

[2015-04-18 14:09] adamelso commented on #13450
@jakzal I'm having the same issue also when running Behat 3. I started getting this exception when I upgraded Symfony from 2.6.4 to 2.6.5.

[2015-04-18 16:45] andig opened #14400 "[HttpFoundation] __toString/prepareRequestUri omits query part if headers not set"
I'm using [GuzzleAdapter](https://github.com/jenssegers/php-proxy/blob/master/src/Adapter/Guzzle/GuzzleAdapter.php) to retrieve Symfony `HttpFoundation\Request`s via Guzzle.

GuzzleAdapter uses `HttpFoundation\Request->toString()` to obtain a string representation of the request. If the request does not contain one of the headers used by `HttpFoundation\Request->prepareRequestUri()`, the `query` p

[2015-04-18 17:22] stevenmusumeche opened #14401 "Fatal Error: Class 'Symfony\Component\Form\FormEvent' not found"
On a production server running Symfony 2.6 fine for over a week, I suddenly started getting this error which broke the site:

php.EMERGENCY: Fatal Error: Class 'Symfony\Component\Form\FormEvent' not found {"type":1,"file":"/var/www/symfony/vendor/symfony/symfony/src/Symfony/Component/Form/Form.php","line":340,"level":30709,"stack":[]} []

Nothing was happening on the server at the time, the soluti

[2015-04-18 17:28] Tobion commented on #14401
Closing as this is not related to symfony and impossible to help with without any debug info. Maybe your (APC) cache got currepted or a PHP bug...

[2015-04-18 17:28] #14401 closed

[2015-04-18 19:04] lce-fr commented on #14387
Sorry for the mistake, thanks !

[2015-04-18 21:20] Tobion commented on #12799
Closing as I agree with @stof. Even after reading

[2015-04-18 21:20] #12799 closed

[2015-04-19 00:51] peterrehm commented on #12799
@Tobion Let me try once more to make the issue I am seeing more clear.

The way how validation is applied on readonly and disabled fields is confusing.
Fields of a readonly field will always be validated, of a disabled field only if another
constraint fails as well.

The goal is to get a disabled field which will be validated. This makes sense if for instance
you have permissions in your app and s

[2015-04-19 00:58] Tobion commented on #12799
If you feel something must be changed, please provide a PR.

[2015-04-19 01:00] peterrehm commented on #12799
I will do once it is discussed, otherwise I might waste my time. Could I explain it now better to you?

[2015-04-19 01:02] Tobion commented on #12799
Why would you validate things that cannot be changed by a user? You do not need to validate stuff that the app has set itself. I don't get it.

[2015-04-19 01:04] Tobion commented on #12799
And I'm pretty sure whatever you try to achieve can be done with a listener.

[2015-04-19 01:25] peterrehm commented on #12799
To give you a practical example, a user can select 2 options in a select field when configuring a quote.
Option one is to exclude the installation cost, option 2 is to include the cost. If you want to include the installation the installation must be configured. If he has not the permissions to edit that he will see blank fields and will be unable to save that form and will get an error.

[code]

[2015-04-19 06:34] HeahDude commented on #14393
Maybe symfony/Component/Form/Extension/Core/Type/ChoiceType.php line 251, but I don't know how to fix it.

[2015-04-19 07:11] HeahDude opened #14404 "[2.7][Form] label_attr in choice_attr for choice field when expanded"
Since 03efce1 we can add attributes to options with 'choice_attr' and that's a really cool stuff among the bunch of features. Thanks for the job !

But when choice list is expanded it could be useful to pass attributes to option's label.

This throws an exception in twig rendering as html options attributes should not be arrays and they shouldn't except with this particular case of `label_attr` in

[2015-04-19 11:24] HeahDude commented on #14382
`@deprecated since version 2.7, to be removed in 3.0.
 *             Use {@link BaseChoiceListInterface} instead.`

[2015-04-19 11:31] HeahDude commented on #14142
could you try the fix in #14405

[2015-04-19 11:35] Tobion commented on #14404
As said in https://github.com/symfony/symfony/pull/14405/files#r28652029 `label_attr` in `choice_attr` is not correct. To support your use-case, we would need to add another option: `choice_label_attr` with the same logic as the other choice options.

[2015-04-19 11:43] HeahDude commented on #14404
ok, I take a look.

Thanks for the feed back.

[2015-04-19 11:44] HeahDude commented on #14404
I can't close ?

[2015-04-19 12:00] #14404 closed

[2015-04-19 12:06] nicolas-grekas opened #14408 "[Translator] Tests failing on 2.6"
@aitboudad can you please have a look at 2.6 tests, see why they fail?

[2015-04-19 12:14] aitboudad commented on #14408
I'll look into it

[2015-04-19 12:18] BlueM commented on #14340
According to your screenshot, you are on OS X. In that case, a pretty simple solution is to use a custom URL scheme which acts as a wrapper around a URL using `xdebug.file_link_format` (or which will do whatevery you want). The most simple way to implement the wrapper code is an AppleScript bundle (maybe 20 lines of code, plus a few lines in Info.plist), but in case you’re familiar with Cocoa, you

[2015-04-19 12:39] aitboudad commented on #14408
done #14410

[2015-04-19 12:46] meskis opened #14411 "[Form] [DateType] Chaning month name"
Hello,

As I noticed, PHP natively has issue in month names in DateType and it uses PHP native month names. So is it possible to overwrite those when using date elements in forms?

[2015-04-19 16:00] Zzortell commented on #11838
I will try to submit a patch.

[2015-04-19 16:49] #14408 closed

[2015-04-19 17:04] xabbuh commented on #13972
Reopening as we need to find a way to fix this for 2.3 too.

[2015-04-19 18:39] Soullivaneuh commented on #14382
@HeahDude Thanks for this indication but deprecated does not mean BC break.

Upgrade from `2.6` to `2.7` **should not** break all related bundle. Normally no code modification had to be done, isn't it?

[2015-04-19 18:53] ctrl-f5 commented on #13450
I'm also running into this, reverting to 2.6.4 did not help in my case...

[2015-04-19 21:33] aitboudad commented on #3148
Closing in favor of https://github.com/symfony/symfony-docs/issues/5193

[2015-04-19 21:33] #3148 closed

[2015-04-19 21:39] phansys commented on #14388
Note that ```Response::$statusTexts``` var is public, thus you can get the text given any code. IE:

[code]

[2015-04-19 21:41] mnpenner commented on #14388
Yes, but `Response::$statusText` isn't necessarily equivalent to that since you can set it manually.

[2015-04-19 22:06] Soullivaneuh commented on #14382
BTW, using `ArrayChoiceList` instead of `SimpleChoiceList` does not resolve this issue.

[2015-04-19 22:08] phansys commented on #14388
After check out [```Response::setStatusCode()```](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/HttpFoundation/Response.php#L485) this seems right. It would be a new feature. Would you mind open a PR against 2.8?

[2015-04-19 22:13] Tobion commented on #14388
The getter should be named after PSR-7.

[2015-04-19 22:22] mnpenner commented on #14388
@phansys Yeah, that's exactly what I'm talking about. You can set it, but not get it.

@Tobion i.e. `getReasonPhrase`? It's referred to as "status text" in Symfony though, are you sure it's a good idea to name it differently?

[2015-04-19 22:30] hhamon commented on #14307
A `deprecated` tag seems to be a smart solution.

[2015-04-19 22:57] hhamon commented on #12547
Can this issue be closed?

[2015-04-19 23:12] hhamon commented on #6732
+1

[2015-04-19 23:13] Tobion commented on #14388
Yes because that's according to RFC 2616.

[2015-04-19 23:18] Tobion commented on #6732
What's the point of adding these options instead of using attr? All attributes that have no backend logic have actually been removed, e.g. max_length, pattern, read_only. So I'm rather -1 on doing the same thing with two different approaches.

[2015-04-19 23:30] Tobion commented on #12547
This ticket doesn't make sense to me. It's an optional field. The count constraint will make the field pass when it's not set. So whatever you set as `min` doesn't matter when the file field is not set by the user.

[2015-04-20 06:35] jakzal commented on #14411
What's your issue with month names?

It's not clear from your description if you've got problems using Datatype, or you're reporting a bug/feature request. If it's the first, we're not using github for support and you should use [the mailing list](http://symfony.com/mailing-lists) instead (all I can do is to point you to [the DateType reference](http://symfony.com/doc/current/reference/forms/types

[2015-04-20 07:23] fabpot commented on #14388
The status text does not bring any value and should not be relied on. That's why there is no getter in Symfony. I think that this should also be removed from PSR-7. As a matter of fact, it has been dropped from HTTP 2 altogether.

[2015-04-20 07:29] fabpot commented on #14388
I've just opened a PR on the PSR-7 repository: https://github.com/php-fig/fig-standards/pull/526

[2015-04-20 07:39] taemtha commented on #14368
I got the same error here.
This happen if i calling an twig extension which need the 'templating.helper.assets' service.

[code]

Generated code in the devcontainer:
[code]

[2015-04-20 07:57] maximecolin commented on #14377
I think it's a BC break too, many of my choice type doesn't work anymore since this update.

[2015-04-20 08:10] maximecolin commented on #14350
@Tobion Nothing strange. I used this form type before the choice update and it worked well. Since the update I can't make it works.

Before (works):

[code]

After (doesn't work):

[code]

[2015-04-20 08:24] dupuchba commented on #14340
@BlueM Ty for the solution but IMO that's more an "hack" than a real solution for my problem (my co-workers have exactly the same issue on ubuntu).

[2015-04-20 09:12] baptistedonaux opened #14416 "[2.7] Fails to clear cache."
I will become upgrade to sf 2.7. When I execute cache:clear command, I have this error.

[code]

The problem is in Symfony/Component/Translator/Translator::initializeCacheCatalogue().

The single closure must a instance of Symfony/Component/Config/ConfigCacheInterface. The object given is Symfony/Component/Config/ConfigCache.

This error is really strange. Possible a PHP parse fail ?

[2015-04-20 09:46] Rvanlaak commented on #14380
How would this work for overriding a single Form label of lets say the FOSUserBundle by creating `/app/Resources/FOSUserBundle/translations/messages.en.yml`? Or is overriding outside of the scope of this RFC, or does this use case not fall under the "parent catalog" your referring to in 2)?

[2015-04-20 09:49] cfhay opened #14417 "PhpProcess seem to affect stream_sockets"
Test environment:
OS: Windows 7 Pro 64Bit, SP1
PHP: 5.6.8 64Bit (CLI)
Symfony: 2.6.5

`stream_socket_server()` works from a script on the machine without problems. But when used in a script created by `PhpProcess`, it stops working. No idea why. When using `proc_open()` directly (both with the input file as parameter or as standard input), the problem doesn't appear. The problem doesn't appear on

[2015-04-20 10:17] aitboudad commented on #14416
can you check that `bootstrap.php.cache` has been updated after the upgrade ?

[2015-04-20 10:24] Zzortell commented on #11838
Do I depreciate using the value false for the option ?

[2015-04-20 10:41] stof commented on #14380
@Rvanlaak this has nothing to do here. Overriding a message has nothing to do with fallback catalogues. Fallback catalogues are about usign a different locale (``fr_FR`` -> ``fr`` -> ``en``) when the message does not exist in the current locale.
Overriding translations simply replace the previous translation in the catalogue entirely

[2015-04-20 11:27] andig commented on #14400
In addition to the problem above, also `Request::create` doesn't help here since- if I create a POST request- it will invariably assign the `parameters` to `request` instead of `query`.

[2015-04-20 11:57] nurikabe commented on #12547
@Tobion That's counter-intuitive to me.  I would assume `Count(array('min'=>1))` would require at least one file to be uploaded.

[2015-04-20 12:06] Tobion commented on #12547
All constraints allow `null` to support optional fields. There is alot of info available on this.

[2015-04-20 12:10] meskis commented on #14411
Ok, the question is: is it possible to overwrite month names in date form type? :)

[2015-04-20 12:12] Tobion commented on #14411
You can maybe translate them to something else or use a custom form type. Please ask questions on the mailing list.

[2015-04-20 12:12] #14411 closed

[2015-04-20 12:15] taemtha commented on #14368
The faulty service is configured here:
./symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Resources/config/templating.xml
[code]

but the class:
./symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Templating/Helper/AssetsHelper.php

has only the new construcor with the only parameter " Package $package"

[code]

[2015-04-20 12:21] Tobion commented on #14142
The documentation escapes it explicitly when rendering individually. Do you render the whole collection or under which circumstances do you have the problem?

[2015-04-20 12:27] baptistedonaux commented on #14416
When I run composer event ```post-update-cmd```, I display any deprecated message like it.

[code]

[2015-04-20 12:30] #14416 closed

[2015-04-20 12:44] xabbuh commented on #14416
@baptistdedonaux Are you sure that the warming is not triggered by your application or one of the other packages you use?

[2015-04-20 12:48] dosten commented on #14368
@taemtha I don't find any code that replace the first argument with a default package, if you delete the `<argument /> ` line, works?

[2015-04-20 12:52] jakzal commented on #12547
see https://github.com/symfony/symfony/issues/10221#issuecomment-34769066 and #11956

[2015-04-20 13:08] jakzal commented on #14368
The first argument is [replaced by FrameworkExtension](https://github.com/symfony/FrameworkBundle/blob/4d4a85bed21604132db86d24d0af101518a18d50/DependencyInjection/FrameworkExtension.php#L593).

[2015-04-20 13:21] Tobion commented on #12547
But if this the comments in https://github.com/symfony/symfony/issues/12547#issuecomment-65315690 and

are true, then this seem strange to me. When no file is uploaded then the value should be null and not an array with an empty string.

[2015-04-20 13:22] dosten commented on #14368
@jakzal that code replaces the default package and the packages into the `assets.packages` definition, AssetsHelper needs as first argument an instance of `Packages`, so this defintion is wrong, right?
[code]
must be
[code]
correct me if i'm wrong

[2015-04-20 13:26] dosten commented on #14368
The tests of AssetsHelper seems fine, but the definition seems wrong.

[2015-04-20 13:51] byarabah commented on #14326
Problem solved. The cause was this route:
Route("/{Id}" name = "click_test" requirements = {id = "[0-9] +"})

Missing quotes around "id"

Thank you and sorry, the bug was me!

[2015-04-20 13:54] #14326 closed

[2015-04-20 15:10] HeahDude commented on #14142
@Tobion  @gkawka maybe the placeholder not prototype. Should be related to #14393 and #14165

[2015-04-20 15:35] robertfausk commented on #13956
What about letting the check run on ```kernel.terminate```?
So no user won't have any impact.

[2015-04-20 15:45] robertfausk commented on #13955
+1 for that. PdoSessionHandler as of symfony 2.7 is not usable on large production websites with default php session garbage collector.

[2015-04-20 15:49] Tobion commented on #13956
Not that easy because it doesnt work with the SessionHanlderInterface provided by PHP.

[2015-04-20 16:07] Tobion commented on #13956
What could be possible is to do the gc in the destructor of the session handler or provide an interface like `DelayableGarbageCollection` whose method is then called on a kernel.terminate event. But this is tricky, because the pdo connection is closed then already, so it would need to reconnect.

[2015-04-20 16:35] xabbuh commented on #14368
@apfz @taemtha Can you please check if the changes from #14419 solve your issue?

[2015-04-20 17:00] mnpenner commented on #14388
Submitted a PR. I'm not too familiar with the git/github ecosystem; hopefully I did that right.

Even if this is removed from PSR-7, I think Symfony should add the getter unless you plan on removing the setter.

[2015-04-20 17:07] gondo commented on #3137
i just hit this wall, any update?

[2015-04-20 19:34] markitosgv commented on #14368
Same bug error with IvoryCKEditorBundle library

[2015-04-20 19:55] jessegreathouse opened #14423 "[TwigBundle] {% include myVariable %} doesn't use __toString() method of my composite view name"
In my twig template if I include another template like:

    {% include "MyBundle:Default:index-searchform.html.twig" with {form:form} %}

it works fine.

But if I use a variable for the include path like this:

    {% include searchFormView with {form:form} %}

I get this error:

    Unable to find template "MyBundle:Default:index-searchform.html.twig" in     MyBundle::layout.html.twig at line 53

[2015-04-20 20:00] WouterJ commented on #13288
If there is something "terrribly wrong", shouldn't this issue be reopened?

[2015-04-20 20:27] xabbuh commented on #14368
@markitosgv Can you please also check if #14419 goddess this for you?

[2015-04-20 21:13] gkawka commented on #14142
@Tobion well im confused - imo escaping should be done by default because its expected behaviour in other hand i can understand it collection element should be visible for frontend in dev cycle. I think best way whould be parametrize or something like that. For now its rather messy in html :(
In that case in all my projects i should create custom form themes just for create collection prototype ex

[2015-04-20 21:42] jakzal commented on #13288
@WouterJ I don't think this is a Symfony issue (unless you can prove me wrong). Also, see https://github.com/facebook/hhvm/issues/2215#issuecomment-42688047

[2015-04-20 22:08] markitosgv commented on #14368
@xabbuh test ok! solve IvoryCKEditorBundle problem too

[2015-04-21 04:02] boekkooi opened #14425 "[Debug] ErrorHandler won't trace E_USER_DEPRECATED"
I'm not sure if this is a bug or just a mistake on my part but when I add:
[code]

I would expect that the 'stack' would be filled for all `trigger_error( ..., E_USER_DEPRECATED)` calls and that this would be passed to the ErrorHandler logger but this seems not to happen.

Can someone help me figure out what is going wrong?

P.S. For now I just added ` || $type === E_USER_DEPRECATED` to [ErrorHand

[2015-04-21 05:31] hanl2 opened #14426 "Symfony2+nginx external ENV vars aren't recognized by doctrine DB actions. fails with 'connection refused'."
I'm running Symfony2 2.6.6, nginx 1.7.12 on linux/64.

env VARS

	SYMFONY__DATABASE__PASSWORD => "testtesttest"
	SYMFONY__DATABASE__USER => "root"

have been set in shell & nginx.

As documented

	"How to Set external Parameters in the Service Container":
	 http://symfony.com/doc/current/cookbook/configuration/external_parameters.html

	    "Now that you have declared an environment variable, it w

[2015-04-21 05:37] #14368 closed

[2015-04-21 06:22] jrobeson commented on #14426
it's probably because of this: https://github.com/symfony/symfony/issues/7555

[2015-04-21 07:03] jakzal commented on #14423
I don't think this is a problem of TwigBundle. It's just like twig works. Not sure if this should be a supported use case, but the [Twig](https://github.com/twigphp/Twig) repository is more suitable to discuss this.

Btw, try casting it to string earlier:

{% include "" ~ searchFormView with {form:form} %}

[2015-04-21 07:03] #14423 closed

[2015-04-21 07:11] jakzal commented on #14426
Indeed. Closing as a duplicate.

[2015-04-21 07:11] #14426 closed

[2015-04-21 08:22] baptistedonaux commented on #14416
This is my composer.json. Only "knplabs/knp-paginator-bundle" require upgrade.

[code]

[2015-04-21 09:39] taemtha commented on #14368
@xabbuh The changes from #14419 solves my issue! Thanks!

[2015-04-21 10:34] Koc opened #14427 "[Form] Allow "choices" option to be callable for "entity" type field"
Use case: we need call custom method of repository for getting choices list. Currently we should inject em/repository into service for doing this. It would be nice add support of callable like:

[code]

NB: I know that we can provide custom "query_builder" option for build it, but it isn't enough in this case. We should do some post-process actions with entities after they are loaded.

[2015-04-21 10:34] hacfi commented on #13977
Not sure if related but currently I can’t parse my parameters.yml which was generated by incenteev/composer-parameter-handler because of a leading `#`. Looking into the issue at the moment.

[2015-04-21 10:53] cirpo commented on #13977
we solved on our side trimming the generated files before passing them to the parser.

I think we should close this issue. @stof ?

[2015-04-21 11:03] #13977 closed

[2015-04-21 12:26] max-kovpak opened #14428 "Forget about app_<environment>.php"
I think it's not very useful to write every time in browser app_< environment >.php. So I have some solution that I using in my projects:
1) in parameters.yml add:
[code]
2) in app.php add code:
[code]
And then set current environment to AppKernel.

[2015-04-21 12:43] unkind commented on #14428
[Symfony SE](https://github.com/symfony/symfony-standard) is better place for this kind of suggestion.

However, I think it would be easier to setup web-server properly so you can request "foo.dev", "foo.test", etc. to switch between environments.

[2015-04-21 13:12] javiereguiluz commented on #14428
@max-kovpak thanks for proposing this idea.

The main issue that I see with the proposal is that it would slow down the application a lot. Keep in mind that this file is executed for every single request, and this proposal would require to parse a YAML file each time.

Besides, it's not that bad to put the environment in the URL. Trust me that I'm very lazy and I love to simplify things, but in th

[2015-04-21 14:01] dosten commented on #14428
Agree with @javiereguiluz but i like the idea of only one entry point. In a project i have only one entry point that uses the SYFMONY_ENV env var like in `app/console`.
[code]
just my 2c

[2015-04-21 14:07] jakzal commented on #14428
We've already discussed an approach like this and it was rejected in the end: https://github.com/symfony/symfony/issues/11310#issuecomment-74035716

[2015-04-21 14:07] #14428 closed

[2015-04-21 18:42] aledeg opened #14430 "NumberFormatter fails to parse invalid numbers"
I was trying to validate my form entries using the *Type* validation with *integer* type and I get the following error:

This error does not occur all the time, only when the value to format does not start with a number. So **123dd** will return an error but **dd123** will fail.

For more information, you could have a look [on my stackoverflow question](http://stackoverflow.com/questions/29779716/

[2015-04-21 20:31] dimarick commented on #14274
This happened because https://bugs.php.net/bug.php?id=65591
serialize/unserialize works incorrent when calls parent::serialize()

[2015-04-21 23:04] trsteel88 opened #14435 "Retrieve the current firewall name for a Request"
I am trying to determine the current firewall name for a Request (application has multiple firewalls). Is this possible?

I can see a map is creating in [SecurityExtension.php](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php#L242)

However, I can't use this map as it is only available to the Firewall which doesn't expose a way

[2015-04-21 23:22] max-kovpak commented on #14428
@javiereguiluz you right, but maybe we can to think about this issue and make one entry point in a project. For example like in Laravel5 you have .env file where you set APP_ENV, it's really simple. We can remove $environment and $debug args from Kernel __construct and allow our application detect current environment hwithout us.

[2015-04-21 23:58] hacfi commented on #14435
@trsteel88 Just debugged this issue and I think you’re right..the firewall name is not accessible directly.

If you urgently need this you can create a very ugly hack:
Add a compiler pass which "steals" the security firewall map:

[code]

then you add `$refs` to a service which contains the same logic as `Symfony\Bundle\SecurityBundle\Security\FirewallMap`: https://github.com/symfony/symfony/blob/

[2015-04-22 00:06] dosten commented on #14430
What is your ICU version?  `php --ri intl`

[2015-04-22 01:57] wcluijt commented on #14393
I was experiencing this in my project after upgrading to 2.7.  I think it may be related to the `src/Symfony/Component/Form/Extension/Core/DataTransformer/ChoiceToValueTransformer.php` file change in https://github.com/symfony/symfony/commit/1d89922782922fe3bcacb09f91e8c3c992d29d3f, specifically the removal of this block of code (https://github.com/symfony/symfony/commit/1d89922782922fe3bcacb09f91

[2015-04-22 04:03] trsteel88 commented on #14435
Thanks for getting back to me @hacfi. I considered that but it felt very hacky.

I thought it may have been exposed somewhere so I was trying to avoid it. Since it isn't, I will have to use this method.

Would love to see a public method made available.

[2015-04-22 07:50] Koc commented on #9233
What about return back to this issue before 3.0?

[2015-04-22 07:55] Koc commented on #11742
ref #9233, https://github.com/symfony/symfony/issues/6036#issuecomment-60523194

[2015-04-22 09:35] samvaughton commented on #14165
I'm also getting this. For an entity form type that is not required by default it will cause a SQL error due to an empty string `""` being passed in the `WHERE IN (?)` clause.

If the `empty_data` is `0` then the query runs how it should but displays the "This value is not valid" message since no entity exists with id `0`.

This stops any form from having optional entity form types.

[2015-04-22 09:36] Agares opened #14440 "When no error handler is registered, empty ESI fragments are cached on error"
When using symfony's built in front proxy, when an ESI fragment raises php error/warning/notice, the front proxy caches an empty response.

[2015-04-22 11:07] maximecolin opened #14441 "error_bubbling doesn't work properly with inherit_data"
[code]

[code]

I expect error on from bubbles to parent range field but it bubbles to the root form.

[2015-04-22 12:03] acrozes opened #14442 "command: security:check => SSL error on windows"
Now, when I run the command  (windows - php 5.6.4 - sf 2.6.6):
[code]
I don't see any option to disable SSL strict verication ...

[2015-04-22 12:03] fabpot commented on #14442
Can you try to upgrade to the 2.0.2 version? It should fix your issue.

[2015-04-22 12:16] webdevilopers commented on #4492
I'm not sure if my use case covers the original one by @maciej-pyszynski but I have a similar behaviour with the `choice` type:
[code]

I'm using jQuery's Sortable to drag the choices into a sortable layer. My order on client side was 6, 1, 2.

When submitting the form I get the following dump - first one directly from `$_POST` with original order and the second one from `$form->getData()`:
![bild

[2015-04-22 12:25] maximecolin commented on #14441
Maybe related to #13702

[2015-04-22 12:26] acrozes commented on #14442
You right.
What is the command to update it ? I don't see anything in the doc about it ...

[2015-04-22 12:31] aledeg commented on #14430
I don't know if this works in an older version. But I think it didn't work.
I check the code that fails in older version of the NumberFormatter class (up to 2.3) and the regex matching a number is the same.

[2015-04-22 13:07] stof commented on #14442
``composer update sensiolabs/security-checker`` (assuming you have ``composer`` available globally. Adapt the command otherwise)

[2015-04-22 13:34] stof opened #14444 "Symfony\Component\Stopwatch\Tests\StopwatchEventTest::testEnsureStopped is volatile"
See https://travis-ci.org/symfony/symfony/jobs/59546578

[2015-04-22 14:28] webmozart commented on #14396
Given the already heavy implementation of the validator, I don't think we should add extra logic for rare use cases.

I talked to @fago in person and the solution seems to be to add custom implementations of ValidatorInterface and ContextualValidatorInterface, since they have a very different object graph than we do anyway. As such, I will close this issue.

[2015-04-22 14:28] #14396 closed

[2015-04-22 14:29] acrozes commented on #14442
Thx
In the composer.lock :
[code]
So I have the last version and I still have the ssl error ...

[2015-04-22 14:30] stof commented on #14442
which PHP version are you using ?

[2015-04-22 14:32] acrozes commented on #14442
windows - php 5.6.4 - sf 2.6.6

[2015-04-22 14:41] webmozart commented on #13891
Closed due to lack of feedback. Please reopen if you can reproduce this issue on a fork of the Symfony Standard Edition.

[2015-04-22 14:50] djave-co opened #14447 "Cannot redeclare class Symfony\Component\Finder\Adapter\AbstractFindAdapter"
I've run into this error a couple of times today and I'm absolutely stumped – There isn't much of a Stack trace. I am running an install of Laravel.

    [2015-04-22 15:32:39] production.ERROR: exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Cannot redeclare class Symfony\Component\Finder\Adapter\AbstractFindAdapter' in /var/www/web/website-name/htdocs/vendor/symfon

[2015-04-22 14:53] webmozart commented on #13885
The context has access to the object anyway via getValue(). Can you describe the problem you are facing?

[2015-04-22 15:00] webmozart commented on #13853
This is fixed in #14448.

[2015-04-22 15:26] spackmat commented on #14393
@wcluijt This fixes the problem for me, too: no more field errors for non required entity fields. Thanks!

[2015-04-22 16:14] adridev commented on #14441
For me,

I have a form A with two others embedded B and C. Setting 'error_bubbling' to false in all posible ways error still bubbling to A. I set 'cascade_validation' to true also, but anyway.

Cheers!

[2015-04-22 18:36] iltar commented on #14435
The new logout function of twig in 2.7 has support for a specific firewall, maybe that can point you in the right direction.

[2015-04-22 18:50] nicolas-grekas commented on #14447
If that's on 2.7, can you please verify that #14450 fixes the issue?

[2015-04-22 18:56] jaytaph commented on #14435
That code is actually inside the logout generator: https://github.com/symfony/symfony/blob/5bb2816b0f0300c2143f25d0cd82de2831b94abb/src/Symfony/Component/Security/Http/Logout/LogoutUrlGenerator.php#L98

It will try and fetch the providerKey from the current token. It assumes that each firewall has a providerkey that matches the firewall name (this doesn't have to be the case though, sometime you h

[2015-04-22 19:08] dosten commented on #14430
I found that the problem is the `intl.error_level` option. Can you comment the `intl.error_level` line in your `php.ini` or set the value to 0?

[2015-04-22 20:02] aledeg commented on #14430
If I change the error_level to 0, I don't have errors anymore.

What I don't understand is why there is two level of validation. If I enter text in an *integer* field, the validation of type is done by the field. But if I chose to use a *text* field, the validation of type is done with the validator.

[2015-04-22 20:30] dosten commented on #14430
The integer type is rendered as a input[type=number], which have a HTML5 validation by default. see http://symfony.com/doc/current/book/forms.html#form-validation for instructions for disable it.

[2015-04-22 21:14] dosten commented on #14444
I cannot see any error in that job, here yes https://travis-ci.org/symfony/symfony/jobs/59554714.
[code]
we can increase the delta in `StopwatchTest` to 35, but increasing the delta in `StopwatchEventTest` to 150 is too much, right?

[2015-04-22 21:57] Falc commented on #13891
Try this to reproduce it: https://github.com/Falc/symfony-standard/tree/error-maxsize

[code]

Open 127.0.0.1:8000 in your browser and you will see what happens when setting the maxSize option in a File constraint in these ways:

1. Setting as option in the constructor.
2. $constraint->maxSize = '1000000'.
3. $constraint->maxSize = '1M'.

Approaches 1 and 2 work with `"symfony/validator": ">= 2.5.

[2015-04-22 23:26] yoocloud opened #14453 "The option "constraints" does not exist"
I am using Symfony 2.6. I am trying to create a form without Entity, but get the following error:

[code]

My class:

[code]

As can be seen, tried anyway. I also tried as is the documentation for using the component form outbox, but get the same error.

http://symfony.com/doc/current/components/form/introduction.html#form-validation

[2015-04-23 01:20] Tobion commented on #14453
Please ask support questions on the mailing list: http://symfony.com/mailing_lists

[2015-04-23 01:20] #14453 closed

[2015-04-23 06:28] djave-co commented on #14447
I'm on 2.5.* from a default Laravel 4.2 install

    symfony/finder                    v2.5.11            Symfony Finder

https://github.com/laravel/framework/blob/4.2/composer.json

[2015-04-23 06:29] jrobeson commented on #14447
@djave-co : 2.5 only receives security fixes at this point (and even that will stop soon).

[2015-04-23 06:57] hhamon commented on #14393
I'm not sure it's as easy as this fix because you could choose to have an « empty value » with a value. For example `---`.

[2015-04-23 08:04] nicolas-grekas commented on #14447
Meanwhile, you can comment this line https://github.com/symfony/symfony/blob/2.5/src/Symfony/Component/Debug/ErrorHandler.php#L310

[2015-04-23 08:20] stof commented on #14444
@dosten a volatile test means it fails randomly (depending on the load of the Travis servers for instance)

[2015-04-23 09:47] cs278 commented on #14246
There is a further issue, the `chmod()` needs to be applied after the file is written but **before** it is moved. The current order breaks the atomic nature of this method, as reads to the file by other users will fail until the mode is changed.

[2015-04-23 09:54] goncalomcunha opened #14455 "[Command] Improvements on generating entities"
Hello. When I generate an entity with the command

<code>php app/console doctrine:generate:entity --with-repository</code>

the repository always goes to the "Entity" directory. Since that with the new symfony demo application the repositories are stored in a "Repository" directory to be more organized, would it be possible to change that command so that the generated repository goes to the "Repos

[2015-04-23 10:00] xabbuh commented on #14455
@goncalomcunha The `doctrine:generate:entity` command is part of the SensioGeneratorBundle and there also is a pull request proposing this change (see sensiolabs/SensioGeneratorBundle#342).

[2015-04-23 10:00] #14455 closed

[2015-04-23 10:36] goncalomcunha commented on #14455
What about the issue about precision/scale for decimals, and nullable for all fields? Where should I submit it? If there is none already

[2015-04-23 10:45] xabbuh commented on #14455
@goncalomcunha Please report that on the SensioGeneratorBundle repository (if it's not known yet).

[2015-04-23 11:05] nicolas-grekas commented on #14425
the trace is never logged when the deprecation is silenced. Did you exclude E_USER_DEPRECATED from the global error_reporting() level?

[2015-04-23 11:15] nicolas-grekas commented on #14425
Hum, traces are here when screaming is enabled, which is the default in debug mode.
Repeated occurrences of the same error log the trace only once.
Can you see the trace for the very first notice?

[2015-04-23 12:20] aledeg commented on #14430
Thank you. I knew that but I didn't mentioned it since I am not using HTML5.
I build an API which consume JSON or XML data. That's why I don't understand why there is 2 levels of validation.

[2015-04-23 12:56] dosten commented on #14444
@stof yes, i know. I'm saying that the failing assertions have a 4th parameter named $delta. Ex:
[code]
In the example, phpunit assert as equals values between [263, 337].
The error is: "Failed asserting that 422 matches expected 300.", so the Travis server has 122 miliseconds of delay (in this case).
What i say in my previous comment is that we can increase `self:DELTA` to 150, so phpunit will as

[2015-04-23 12:59] dosten commented on #14430
You're welcome :) If you need help, you can make a question in the mailing list http://symfony.com/mailing_lists. Is this resolved? Can this be closed?

[2015-04-23 13:06] aledeg commented on #14430
I will close it but I am still confused.

[2015-04-23 13:06] #14430 closed

[2015-04-23 13:36] Epskampie commented on #13963
Fixed: https://github.com/symfony/symfony/pull/14345
Closing.

[2015-04-23 13:36] #13963 closed

[2015-04-23 13:47] stof commented on #14444
@dosten if we increase the delta too much, the test will be totally useless. So updating blindly the delta until we never see failures anymore is not the solution either. In the end, we would not detect real bugs in the logic anymore if we allow too much

[2015-04-23 15:00] ConneXNL commented on #12298
In what way was this fixed? I still have terrible performance without the changes listed above.

[2015-04-23 15:17] #14447 closed

[2015-04-23 16:48] jakzal commented on #12298
@ConneXNL if you provide a script reproducing your issue, I'll be happy to look into it. The current issue was related to a namespace discovery logic.

[2015-04-23 21:22] jeskew opened #14459 "Indexed arrays have no definitive representation in config definitions"
To add a collection of values to a config, one must currently add a prototyped array node:

[code]

However, this construct could also indicate that you wish to allow a map with arbitrary keys. The resulting value could either be a vector or a map, which can be problematic if Symfony is managing configs for a polyglot project.

Would it be possible to add a new node definition type for indexed arr

[2015-04-24 07:44] Rvanlaak opened #14461 "[DX][WebProfiler] Remove session attribute"
The request panel shows the attributes and flashes that are stored in the session. Quite often I find myself clearing the cache via the cli, in order to just remove a single session attribute of a single user.

What about adding functions to remove attributes from the User's session directly from the Profiler? That would improve the developer's life a bit.

[2015-04-24 10:13] webmozart commented on #10868
I just discovered this issue again. What's the current status?

[2015-04-24 12:01] webmozart commented on #14393
See #14465 for the implementation of @wcluijt's fix.

[2015-04-24 12:18] webmozart commented on #13797
Closing due to lack of feedback.

[2015-04-24 12:18] #13797 closed

[2015-04-24 12:19] webmozart commented on #13739
Closing due to lack of feedback.

[2015-04-24 12:19] #13739 closed

[2015-04-24 12:26] webmozart commented on #13664
Hi @david-fanin, thank you for reporting this issue! What you experience is not a bug. You cannot rely on the constraints being executed in any particular order. Hence you also cannot check whether a constraint caused an error from the validator of another constraint.

The only mechanism to enforce validation in a particular order is a group sequence. [Read the documentation](http://symfony.com/do

[2015-04-24 12:26] #13664 closed

[2015-04-24 12:27] webmozart commented on #13560
ref #12312

[2015-04-24 12:33] webmozart commented on #12907
Hi @brpaz, as the other posters mentioned, you won't see any error if the `$gender` field contains `null`. If you want to mark the field as "requried", at a `NotNull` constraint to the field.

If you experience your problems for other "empty" values than `null` (such as `""`), you should make sure to convert the empty value to `null` in your model.

[2015-04-24 12:33] #12907 closed

[2015-04-24 12:36] webmozart commented on #12467
Closing due to lack of feedback.

[2015-04-24 12:36] #12467 closed

[2015-04-24 23:04] lukasgeiter opened #14467 "Router ignoring anything before `app.php`"
I originally discovered this with the Laravel Framework that uses the Symfony Request class...
When the application is running under domain root and it receives a request like:

    /foo/bar/app.php/blog

It will completely ignore `/foo/bar` and, instead of returning a 404 response, display the page normally.

And here's a live example (the assets are broken but the it still shows the *News* page)

[2015-04-24 23:08] #14467 closed

[2015-04-25 00:22] xelaris commented on #13751
@dadamssg I think the bug fixed by #12002 differs from your issue, since there was a `Fatal Error` when passing `null` instead of a token. You get an `AuthenticationCredentialsNotFoundException`, don't you? This is an expected case and should result in a `401 Unauthenticated` response or a redirect to an entry point like a login form. Maybe the missing part is to enable anonymous access to the fir

[2015-04-25 08:23] iltar commented on #14459
I ran into this issue not too long ago, I wanted something like this:
[code]

I was unable to get this to work, even when combining existing symfony code.

[2015-04-25 08:49] Syam commented on #13751
@xelaris This is the same issue as described in this thread title and @dadamssg messages.
I am using symfony 2.5, the fix you referenced is for 2.4

[2015-04-25 09:19] xelaris commented on #13751
@Syam IMO even if the title matches the same topic, it can't be the same issue, since you get the `Fatal Error`, while he gets an `AuthenticationCredentialsNotFoundException`.
Anyway 2.5 won't get any bugfix, since the support for bugfixes ended in january. Consider upgrading to 2.6.

[2015-04-25 15:34] adamelso commented on #13450
I've discovered that I had a listener subscribed to the `kernel.request` event that used the Sylius Money Helper service. This had since been modified to be injected with a LocaleContext, a service that depends on the session: https://github.com/Sylius/Sylius/pull/2579

However my listener had a priority of -64, so it should have been triggered after the TestSessionListener, right? TestSessionList

[2015-04-25 17:45] david-fanin commented on #13664
Hi, thank you for your reply. The given solution works!

However, I also used this solution for an another case where I have an "Assert\True" instead of an "Assert\Callback" and it does not work in this case. And yet, I have followed the example of the documentation.

My code :
[code]

I pass the following groups to the "CreateForm": `array('requestPassword', 'requestPassword2')`

I made a mistake

[2015-04-26 15:02] WouterJ opened #14475 "[PhpunitBridge] Add a mode to show messages but exit with 0"
With the CMF, we want to fix as many deprecated notices as possible. However, as we rely on SonataAdminBundle, there still are some unresolvable deprecated notices. This causes the build to fail.

We can use the `weak` mode and have a passing build, but this also hides the messages of the deprecations. This means new deprecated notices can be introduced without us noticing it. I think there should

[2015-04-26 20:31] JHGitty opened #14476 "Use array as container parameter in routing.yml"
Why can I not use an array as container parameter in routing.yml ?

I need it here: https://github.com/lunetics/LocaleBundle/issues/148

[code]

[code]

[2015-04-26 20:48] Tobion commented on #14476
The requirement must be a regex. A regex cannot be an array. What you probably want is something like `en|de|fr`.

[2015-04-26 20:48] #14476 closed

[2015-04-27 02:11] weaverryan commented on #12360
Quickly, there are a few problems with the `AbstractVoter` that we should solve. I don't mean to add more to this, but we should fix them all at once, and add any deprecations we need (for 2.8):

1) It doesn't work unless you pass an object: https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Security/Core/Authorization/Voter/AbstractVoter.php#L61. There is an issue about this somewh

[2015-04-27 05:11] boekkooi commented on #14425
@nicolas-grekas Nope I have this problem even when I force  error_reporting to -1.

Yeah when E_USER_DEPRECATED is screaming you get the trace but this won't help me when the first scream is from a third party bundle.

But setting `traceAt(E_USER_DEPRECATED)` won't trace anything. It really should at least trace the first one exception but not even that is happening.

[2015-04-27 12:14] #13874 closed

[2015-04-27 12:33] #14275 closed

[2015-04-27 14:18] javiereguiluz opened #14481 "VarDumper recursive toggling issue"
In Symfony 2.7, VarDumper allows to expand all nodes recursively by pressing <kbd>Ctrl</kbd> key before clicking in a node arrow:

![VarDumper in Symfony 2.7](https://cloud.githubusercontent.com/assets/73419/7349278/2c8dc71c-ecf8-11e4-93b9-7a62f07eaa6c.gif)

Sadly, this feature doesn't work in my Mac OS X computer (I've tested it with Chrome and Firefox). I can't make it work neither with <kbd>Ctr

[2015-04-27 14:35] schmittjoh opened #14482 "[Process] Consider allowing streamable input"
Currently, the process component assumes that input is known before a command is invoked. Sometimes, you want to stream the input, i.e. gradually write it to the process that is being run. This could for example be done by exposing the pipes, or maybe better a specific method for writing:

[code]

[2015-04-27 16:30] userfriendly opened #14486 "Can't set form field to NULL value in 2.7.0-BETA1"
Something that used to work before I upgraded to 2.7 doesn't anymore: setting a NULL value in a dropdown field. I've created a test bundle demonstrating the problem:

https://github.com/userfriendly/form-field-null-test-bundle

Have a look at the README and the code, and if you're not seeing anything obvious, install the bundle in a test project using Symfony 2.7 - I'm hoping it's something I'm do

[2015-04-27 16:40] #14481 closed

[2015-04-27 17:10] sam0delkin opened #14487 "Conditional loading of form types/type extensions"
Hi, i'm working as a collaborator on [FormBundle](https://github.com/itedev/FormBundle). I have some questions, depending conditional loading of configs:
1) For now, we are using this structure for loading plugins configuration:
[code]
so, if user choose to load plugin in config, then plugin configuration will be loaded.
I also found, that default form compiler pass not actually injecting type/typ

[2015-04-27 19:51] Tobion commented on #14487
Please ask support questions on the mailing list. http://symfony.com/mailing_lists
Thanks

[2015-04-27 19:51] #14487 closed

[2015-04-27 19:54] Tobion commented on #14486
Duplicate of #14393

[2015-04-27 19:54] #14486 closed

[2015-04-27 20:07] userfriendly commented on #14486
Thanks! :)

[2015-04-28 01:37] cordoval opened #14488 "fix BC break on framework bundle twig keys"
https://github.com/symfony/symfony/pull/14321

[2015-04-28 07:24] klaascuvelier opened #14490 "[2.3][SECURITY] cancelCookie in RememberMeService does not take option in to account"
The `cancelCookie` method in the AbstractRememberMeService uses the default values for `secure` and `httpOnly` to clear the cookie.
From a logical standpoint, a cookie is being deleted and it makes sense to not take into account the options, but from a technical standpoint, you are just settings a cookie with a certain value and expiration date so here as well the settings from config.yml should b