[2017-10-12 15:35] mxp100 commented on #24456
insert into sessions values ('abc', 2147483647, 2147483647);
DELETE FROM sessions WHERE ses_lifetime + ses_time < 1509428343;
select * from sessions;

[2017-10-12 15:36] mxp100 commented on #24456
ses_lifetime = 2147483647 and you reproduce problem

[2017-10-12 16:17] elabayoub opened #24538 "Null class reserved in php7"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7

Hey,
I'am trying to use this repo (2.7) with php7, but unfortunately 'Null' can't be used as a name because it's reserved for php7. I have changed the name and it's usages manually its works, but i need a stable version for my

[2017-10-12 16:24] xabbuh commented on #24538
You need to use the `IsNull` constraint instead (see http://symfony.com/doc/2.7/reference/constraints/IsNull.html).

[2017-10-12 16:24] #24538 closed

[2017-10-12 16:51] ossinkine commented on #23110
This is the minimum version to reproduce that I was able to achieve: https://github.com/ossinkine/symfony-standard/tree/issue-23110
This is Symfony Standard edition with installed Sonata admin and Vich uploader bundles and Doctrine migrations package.
I ran test in a container based on `php:alpine` with installed opache (`docker-php-ext-install opcache`).
If disable one of Vich uploader, Migration

[2017-10-12 16:57] paul-m commented on #23003
Thanks. I'm a bit of a newbie to the Symfony way of doing things, so I wasn't sure if it was me missing a step or something.

I'm coming at this from the Drupal 8 world, where we're stuck at phpunit-bridge 3.2.*. See https://www.drupal.org/node/2882826

[2017-10-12 17:15] Tobion commented on #24456
That's just the standard https://en.wikipedia.org/wiki/Year_2038_problem hit now if you use big lifetimes. So the proper fix might to use bigger integer column. As your solution will give you another 20 years to hit the problem again, it's better than nothing. ;)

[2017-10-12 18:31] gnat42 opened #24540 "TwigDataCollector chokes on dynamic 'string' based templates"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | no
| Symfony version  | 3.4.x-dev

We have a situation where we deal with some user-editable templates. Think, templates that are merged with needed content, in this case legal documents. The user can then edit the automatically produced content and we

[2017-10-12 21:56] #15524 closed

[2017-10-13 06:48] nicolas-grekas commented on #23003
@paul-m about https://www.drupal.org/node/2882826, the bridge should work with a recent enough version of PHPunit 4.8.*

[2017-10-13 07:51] elabayoub commented on #24538
Thanks for your reply, you're right, but i'am talking about the class "\vendor\symfony\symfony\src\Symfony\Component\Validator\Constraints\Null.php"
When the projects builds it gives that error. Just if there is a way that composer ignore it or don't install it...
Regards.

[2017-10-13 07:54] xabbuh commented on #24538
Can you give the full error that you get including its stack trace?

[2017-10-13 07:56] stof commented on #24538
If you don't use this deprecated constraint, PHP has no reason to load the field (and so to break due to the reserved class name)

[2017-10-13 07:56] NicoHaase commented on #24538
@elabayoub , have you seen the big deprecation notice in the Null constraint? ;)

[2017-10-13 08:12] renatomefi commented on #23520
@nicolas-grekas what's the solution when I don't own the bundle?

[2017-10-13 08:27] manuelkiessling opened #24543 "What is the idiomatic way to inject a private third-party service into a WebTestCase in 3.4/4.0?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0-DEV

Up until 3.3, I would often make use of container services from within my WebTestCases, like this:

[code]

However, `fos_user.user_manager` is a private service, and 3.4 deprecates retrieving those through the container.

[2017-10-13 08:33] elabayoub commented on #24538
@xabbuh, @stof, thanks for your help you were right it isn't used so it doesn't cause any problem, the problem was another bundle.
@NicoHaase, yes i saw it and i didn't say that i'm using it ;). thanks

[2017-10-13 08:45] nicolas-grekas commented on #23520
Not use env vars for this specific option (not all options are meant to be compatible with enb vars)
Or submit a PR on the bundle to add support for env vars if that makes sense.

[2017-10-13 09:12] allfreelancers opened #24544 "Failed to start the session because headers have already been sent by "" at line 0."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Level | Channel | Message
-- | -- | --
INFO                12:11:19 | php | User Deprecated: The JavierEguiluz\Bundle\EasyAdminBundle\EasyAdminBundle class is deprecated since version 1.16 and will be removed in 2.0. Use the

[2017-10-13 09:13] mxp100 commented on #24456
it's standard practice for unlimited sessions

[2017-10-13 09:25] pascalwacker opened #24545 "APCu Cache Data not cleared under Symfony 3.1"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.3

[code]

We're using APCu to speed up our Symfony application. When changing an Entity field the server throws an `Uncaught PHP Exception ReflectionException`.

let's say we have an Entity in `AppBundle\Entity\Foo.php` which h

[2017-10-13 09:37] nicolas-grekas commented on #24545
When you clear the cache, the dumped factory method should contain a random version string that should prevent this issue. Can you please check your dumper container file and find this string (search for "new ApcuAdapter"). Does the version change when you clear the cache?

[2017-10-13 10:02] pascalwacker commented on #24545
So I ran a grep on the server with enabled caching (like stated in the sniped above). The result was:

[code]
I'm guessing you're talking about the `$namespace` in `pagename/vendor/symfony/symfony/src/Symfony/Component/Cache/Adapter/AbstractAdapter.php:81`

[2017-10-13 10:10] nicolas-grekas commented on #24545
I mean `$version` (the namespace is stable, $version is not).
can you grep var/cache for "ApcuAdapter"? before and after clear?

[2017-10-13 10:42] pascalwacker commented on #24545
Didn't produce any result.
`grep -irn "ApcuAdapter" var/cache/` didn't return anything
`php bin/console cache:clear --env=prod --no-debug`
`php bin/console cache:warmup --env=prod --no-debug`
`grep -irn "ApcuAdapter" var/cache/` didn't return anything

Do I need to enable the `ApcuAdapter` somewhere? If so where? `app/AppKernel.php` or `web/app.php`

This would be the content of my `web/app.php` f

[2017-10-13 10:51] nicolas-grekas commented on #24545
Oh sorry I read to fast. So yes, the behavior is expected: doctrine's integration with apcu doesn't handle this situation, as described in FriendsOfSymfony/FOSUserBundle#2355

You'd need to wire a Symfony cache pool to do so (and replace "apcu" in the config).
Here is an example:

[code]

[2017-10-13 10:52] nicolas-grekas commented on #24545
Closing as there is not bug.

[2017-10-13 10:52] #24545 closed

[2017-10-13 11:34] szymach opened #24546 "A request to revert changes in removing empty file uploads"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | possibly
| RFC?             | no
| Symfony version  | 3.3.10

Hello,
The change introduced in #24198 broke our file upload bundle. Our flow looks like this:

1. We use a form to create an entity with a file, using a form field which is not actually persisted. From it, we create a

[2017-10-13 11:36] guldil opened #24547 "Wrong version in web debug toolbar symfony 2.8.28"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.28

I update a project to latest version 2.8.28 with composer but in the web debugger it still show 2.8.24.

I cleared cache, i removed vendor, i tried a lot a things...

![image](https://user-images.githubusercontent.com/571804

[2017-10-13 11:39] javiereguiluz commented on #24547
In the source code of 2.8.28, the version number is correct: https://github.com/symfony/symfony/blob/v2.8.28/src/Symfony/Component/HttpKernel/Kernel.php#L62

The web profiler takes the value directly from it, so if you are seeing a different number, I'd say that it could be caused by some cache (maybe OPcache?)

[2017-10-13 11:49] nicolas-grekas commented on #24546
ping @enumag

[2017-10-13 11:56] guldil commented on #24547
i reboot my VM, clear opcache, still stuck at 2.8.24...

[2017-10-13 12:01] mvrhov commented on #24545
@nicolas-grekas He's using the default symfony configuration.
Ping @javiereguiluz this should get ported into the default symfony configuration.

[2017-10-13 12:02] xabbuh commented on #24546
@szymach I am not sure I understand your issue. Can you create a small example project that allows to reproduce it?

[2017-10-13 12:04] xabbuh commented on #24545
@mvrhov This would be a feature request for DoctrineBundle to ease the usage of cache pools in Doctrine's caching layer.

[2017-10-13 12:15] pascalwacker commented on #24545
@mvrhov I changed `apc` to `apcu` as that's supported by our hoster plus under `doctrine.orm.second_level_cache.enabled` I set the value to `true`. Otherwise I just removed the comment in the `app/config/config_prod.yml` file.

@xabbuh Can the DoctrineBundle hook in the default `cache:clear` command?

[2017-10-13 12:20] szymach commented on #24546
Long story short - we need those empty file fields in order to substitute the empty value with the one recreated from the database. For example, I have an entity with collection of entities that only contain a file field:

[code]

Now, the only time a value for the `file` field is sent is when a user actually uploads a new file. If you edit the `Entity` class, we do not put the current value to th

[2017-10-13 12:33] enumag commented on #24546
This is quite difficult to understand. Can we see the form?

The effect of that PR is to replace `[null]` with `[]`. I have no idea how you managed to put `[file => null]` in there... Would this work for you? https://github.com/symfony/symfony/commit/d545dcb8e6e9bd4b5192eba603cc5543d30464f3

[2017-10-13 12:34] mvrhov commented on #24545
@pascalwacker Yes, and tha't what I've written, that what the nicholas have written above should be default symfony standard edition configuration.

[2017-10-13 12:46] yceruto commented on #24547
@guldil do you have tried `composer dump-autoload` to regenerate the autoload file?

[2017-10-13 12:47] szymach commented on #24546
Here are example forms:
[code]

[code]

Edit an existing `Gallery`, with 1 element in the `photos` collection. Previously, after submitting the form, you would get a `null` for key `gallery[photos][0][image]`. Now, that key is non-existent, because no value was actually submitted for it (we replace that empty value later on). Since this was the only field for that collection item and it is empty,

[2017-10-13 12:48] nicolas-grekas commented on #24545
Would be great to submit it as part of a Flex recipe for sure!

[2017-10-13 12:52] chhoulet opened #24549 "MappingException error on production"
Hello,

I 'm in trouble : in my dev environnement, everything is fine. But when I 'm in prod, I have this terrible error :
" [2017-10-13 13:15:33] security.DEBUG: User was reloaded from a user provider. {"username":"Gerant BETon","provider":"FOS\\UserBundle\\Security\\UserProvider"} []
[2017-10-13 13:15:33] request.CRITICAL: Uncaught PHP Exception Doctrine\Common\Persistence\Mapping\MappingExcepti

[2017-10-13 12:53] enumag commented on #24546
Did you try it with the commit I referenced above? If I understand the issue correctly it should help... Then we just need to add another test case and we're good.

[2017-10-13 12:54] guldil commented on #24547
@yceruto i tried, composer dump-autoload, composer update, still 2.8.24.

i'll try to push source to another server.

[2017-10-13 13:04] szymach commented on #24546
Well .... it does :) But what happens if you upload multiple files for a single field? Could you end up with a case of `$file = [null, null]`? It would not affect us, since we handle multiple file upload differently, but you may want to take that into consideration.

[2017-10-13 13:14] iltar commented on #24549
For support questions, check https://symfony.com/support

This does not look like a framework issue.

[2017-10-13 13:16] yceruto commented on #24546
I think we have two options only, (1) select none file (2) select multiple files, so (at least on a normal behavior) with a single field you'll have `[null]` or `[<File>, <File>]`.

[2017-10-13 13:17] #24549 closed

[2017-10-13 13:17] enumag commented on #24546
As far as I know, that is not possible.

[2017-10-13 13:22] szymach commented on #24546
In that case I consider your fix to do the job. Thank you :)

[2017-10-13 13:22] fabpot commented on #24544
For support questions, check https://symfony.com/support

This does not look like a framework issue.

[2017-10-13 13:22] #24544 closed

[2017-10-13 13:23] #16726 closed

[2017-10-13 13:23] #23003 closed

[2017-10-13 13:30] #24533 closed

[2017-10-13 13:34] rcwsr opened #24550 "Update from 2.8.27 to 2.8.28 includes BC break in MergeCollectionListener"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 2.8.28

Just updated from 2.8.27 to 2.8.28 and some of our tests have started failing, I'm not sure exactly why yet, but I've narrowed it down to this change https://github.com/symfony/symfony/commit/aaba6b4c2bdbe2d4a92754ea4f9a4357

[2017-10-13 13:57] #24525 closed

[2017-10-13 13:59] enumag commented on #24546
After some experiments `[null, null]` is in fact possible for cases like this:

[code]

In this case I believe we want to remove the nulls. So the correct fix in my opinion is to detect whether the  array is associative and use array_filter only if it is not. What do you guys think?

[2017-10-13 14:15] yceruto commented on #24550
Could you show us the test case, please?

[2017-10-13 14:20] szymach commented on #24546
Hey. I will get back to you later this evening with a response, since I will need to do some additional checks on the solution you provided and I do not have the time ATM.

[2017-10-13 14:25] dmaicher opened #24552 "[FrameworkBundle] make resettable services configurable/opt-in on 3.4?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | yes
| RFC?             | yes
| Symfony version  | 3.4

I found some issues when testing Symfony 3.4.x-dev on one of my biggest apps.

With this PR https://github.com/symfony/symfony/pull/24155 the resettable services have been introduced and it seems this is quite a behavior chan

[2017-10-13 14:29] lyrixx commented on #24397
Actually, I don't really need this feature. I'm closing it.

[2017-10-13 14:29] #24397 closed

[2017-10-13 14:44] nicolas-grekas commented on #24552
I think the CPU argument is negligible, the reset method do nothing. But for the "functional tests" one, I have no contra-argument. We need to support your use case as it was supported before.
So, we have to add an option in the config, isn't it? Do we have any other choice?

[2017-10-13 14:53] hefekranz commented on #20588
super bad.

[2017-10-13 14:55] xabbuh commented on #24552
Why not. But that option should probably be opt-in for BC.

[2017-10-13 15:04] guldil commented on #24547
same problem on another VM with Apache2, Kernel.php is up to date, not the Debug WebToolBar :

![image](https://user-images.githubusercontent.com/5718040/31552737-972fbc6e-b038-11e7-85ad-086e66472eb9.png)

[2017-10-13 15:16] javiereguiluz commented on #24547
If you see the profiler template, we just output the value collected for the Symfony version without any manipulation: https://github.com/symfony/symfony/blob/d04c0ea45b9a8cd8fa44414754e5abb719eb1fc4/src/Symfony/Bundle/WebProfilerBundle/Resources/views/Collector/config.html.twig#L29

The version is collected here, which just takes the `Kernel::VERSION` value without any manipulation: https://githu

[2017-10-13 15:25] BoShurik opened #24553 "[FrameworkBundle] Serializer not work without PropertyAccess component"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

FrameworkBundle assumes that `PropertyAccess` component is present
https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L139

We need to add it as a dep

[2017-10-13 15:32] guldil commented on #24547
var_dump show 2.8.24...

[2017-10-13 15:32] weaverryan commented on #20588
Hmm, seems we could probably add a check for the class a better exception if it's not found. @dunglas there are quite a few optional deps inside `symfony/serializer` - what do you think about adding some more explicit checks when optional deps are used in the code?

[2017-10-13 15:37] guldil commented on #24547
I found it, it's in boostrap.php.cache :

`const VERSION ='2.8.24';
const VERSION_ID = 20824;
const MAJOR_VERSION = 2;
const MINOR_VERSION = 8;
const RELEASE_VERSION = 24;
const EXTRA_VERSION ='';
const END_OF_MAINTENANCE ='11/2018';
const END_OF_LIFE ='11/2019';
public function __construct($environment, $debug)`

[2017-10-13 15:38] dunglas commented on #20588
Why not, but it's already explicitly stated in the suggest section of `composer.json`: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Serializer/composer.json#L45

[2017-10-13 15:43] weaverryan commented on #24545
See doctrine/DoctrineBundle#585

As @xabbuh mentioned, I think this can be done inside DoctrineBundle... which would mean that the user (and Flex recipe) would need almost zero config.

[2017-10-13 15:43] fabpot commented on #20588
We are throwing specific exception for such cases in other places in the framework, I think it's better than having a PHP error. By the way, the `suggest` section of `composer.json` is not really useful here.

[2017-10-13 15:48] dunglas commented on #20588
Ok I'll open a PR to add exceptions.

[2017-10-13 16:11] dmaicher commented on #24547
the boostrap.php.cache file should be regenerated after composer update/install?

[2017-10-13 16:15] guldil commented on #24547
ok it's working now.

 I remove boostrap.php.cache and created a new one with distribution-bundle. Then i have to fix my "console" "app.php" and "app_dev.php". It was an old upgrade Symfony 2.3 project to 2.8 ...

This issue help me : https://github.com/sensiolabs/SensioDistributionBundle/issues/302

So it's not a bug, just a problem with upgrade to 2.8...

[2017-10-13 16:16] dmaicher commented on #24547
Ok :+1: can you close the issue then?

[2017-10-13 17:09] #24547 closed

[2017-10-13 18:51] szymach commented on #24546
OK, so I have checked whether your proposal will affect our multiple files upload and it does, unfortunately. We really need these empty values for our bundle to work, otherwise the form fields are removed before we can do anything about it. We may find a workaround for it, but it could also mean rewriting the bundle from scratch or abandoning it altogether, which I would rather avoid, since we ha

[2017-10-13 19:03] enumag commented on #24546
The problem is that when you have `<input type="file" multiple name="upload[]">` then it has this results:

[code]

Which is wtf, the expected result for the last case is of course an empty array.

This was fixed in symfony/form UploadType by removing the null. However this fix was problematic because:
a} didn't work for me because while http-foundation returned `[null]`, UploadType somehow reciev

[2017-10-13 19:11] szymach commented on #24546
Well it does what it currently does - it yields an empty array instead of array with `null`s for each empty uploaded item. It removes the array keys we expect them to be.

[2017-10-13 19:17] enumag commented on #24546
Replacing `['upload' => [null]]` with `['upload' => []]` does not remove the upload key. Yes it removed the 0 key since `[null]` is actually `[0 => null]` but that's just for sequential arrays (integer keys) and from the example above you're using associative arrays (string keys) so this should not affect you.

[2017-10-13 20:43] nicolas-grekas commented on #23997
I think we can solve quite easily this by adding a new behavior for references, we could name e.g. `ContainerInterface::RUNTIME_EXCEPTION_ON_INVALID`.
We would also need to add `getError()/adderror()` methods on `Reference`, as we already did on `Definition`, to define the exception message. Then, `PhpDumper` and `ContainerBuilder` would throw these when appropriate. Should be doable for 4.1 I sup

[2017-10-13 23:14] yceruto opened #24555 "[HttpKernel] Bindings scalar named arguments to action method does not work"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

I have this controller/action with a scalar argument `$env`:
[code]

My configuration to bind this argument:
[code]

`> bin/console cache:clear`:

Setting a plain string value (`$args[$p->name] = $bindingValue;` -> `'%kernel.en

[2017-10-14 01:45] maryo opened #24558 "OrderedHashMap compares keys loosely"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

[code]
https://3v4l.org/ZWo3B

As you can see, after the unset of `1`, it was correctly unset from the internal `elements` array. But incorrect key was removed from `orderedKeys` property. The key should be probably stored a

[2017-10-14 08:07] hefekranz commented on #20588
Thanks guys!

[2017-10-14 12:10] ro0NL opened #24559 "DI bindings requires services to be public"
| Q                | A
| ---------------- | -----
| Bug report?      | yes?
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

Given

[code]

I get

[code]

Making `bar` public fixes it. Am i missing something why "bar" cant be private?

[2017-10-14 12:27] ptmr-io commented on #23202
How would setting up the monolog server look like to work properly with symfony on windows subsystem? Might be worth mentioning!

[2017-10-14 14:29] galthron commented on #19620
Its been a while and its closed but @ideal-it-solutions what was your solution for that ?

[2017-10-14 14:37] vudaltsov opened #24560 "[Form] FormInterface::getPropertyPath() return type incosistency"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3

In [FormInterface::getPropertyPath()](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/FormInterface.php#L176) the return type is not nullable.

But its implementation in [Form::getPropertyPath()](https:/

[2017-10-14 14:50] olvlvl opened #24561 "[Forms] Type options are shared amount instances"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8 - dev-master

Hi,

After 2 hours tinkering around `symfony/forms` code to investigate a strange behavior I discovered that a type configuration is _shared_ between all form instances, which might be ok until you use `data` to

[2017-10-14 15:58] iltar commented on #24561
You should probably just bind the data when creating the form and pass that to the form factory. I think this is something that should be be documented as something to not due to to the issue you described.

[2017-10-14 16:32] dmaicher commented on #24561
This is expected behavior imho.

I usually achieve this using form events. If you bind a listener to `FormEvents::PRE_SET_DATA` you can set the data you want on the event.

[2017-10-14 17:33] derrabus commented on #24552
I'm curious: What kind of functional test is broken by the reset feature? And would it help to perform your tests before terminating the kernel?

[2017-10-14 17:56] dmaicher commented on #24552
One example is a functional login test that asserts some permissions of the user after performing the request:

[code]

Leads now to:

[code]

One other test uses a client to perform a request and then uses some services like this:

[code]

There are some other tests that fail with a weird `Error: Class 'appTestProjectContainer' not found`. Did not debug those further.

I'm not saying this is impo

[2017-10-14 18:03] iltar commented on #24561
Or just pass the data argument when building the form in those methods: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/FormFactory.php#L16

Using a form event is quite overkill.

[2017-10-14 18:20] TerjeBr commented on #6036
This is fixed by #24523 and can be closed.

[2017-10-14 18:52] adeanzan commented on #22721
I also hit this problem when deploying to production without a composer.json file. If this issue is closed, is there a better one to request that `getProjectDir()` gets added to `AppKernel.php`?

[2017-10-14 19:16] weaverryan commented on #23997
In the case of a service locator (like the one used in the arg resolver), when would the error be triggered exactly? When we actually try to access the service from the locator? In that case, wouldn't the error happen as soon as the service arg resolve tried to resolve the argument (therefore not allowing other resolvers a chance)? I'm very interested in this, and now I can see most of the picture

[2017-10-14 19:47] nicolas-grekas commented on #23997
It would throw when accessing the service yes.
Yes, it would prevent any lower priority resolver to act.
But I don't think there is any use case for a lower priority resolver, so should be acceptable IMHO.

[2017-10-15 08:05] javiereguiluz commented on #24512
Fixed by #24519.

[2017-10-15 08:05] #24512 closed

[2017-10-15 10:42] nicolas-grekas opened #24562 "The debug:container command is confusing"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1

Would have been great for 3.4 but I guess it's too late now :)

When one runs the `debug:container` command, the list of *public* services is displayed.
If the `--show-private` flag is passed, private services are displayed al

[2017-10-15 10:47] weaverryan commented on #24562
Also, `debug:container --types` is a pretty long command... for what is probably (currently) the most useful way to run the command. I'd like to make that `debug:types` (even if that's just a shortcut).

[2017-10-15 10:49] javiereguiluz commented on #24562
I find `debug:services` easier to understand than `debug:types` ("types" is too generic ... and problematic in Symfony because Symfony Forms use "types" instead of "fields").

[2017-10-15 11:06] nicolas-grekas commented on #24493
What about allowing null as I'd for this?
Would be better IMHO.
PR should be submitted asap to make it into 3.4.

[2017-10-15 13:18] weaverryan commented on #24562
Yea.. so maybe debug:services would need to behave different in the future and show “types” by default only, as the types are what you want most of the time. Anyways, we need to give it some thought.

[2017-10-15 13:22] weaverryan commented on #24559
Yea, this seems wrong... I assume if you used arguments instead of bind, it works fine (i.e. the issue is special to bind)?

[2017-10-15 13:26] weaverryan commented on #24555
Hmmm, I know you can specify scalar args if you specify them on the controller.service_arguments tag... so the controller args system *does* support scalar args. I’m not in a spot to look at the code deeply, but there should be a simple fix: make bind do the same thing that happens with the processing of the args on the tag. Maybe that help... but me (later) or Nicolas may need to check this...

[2017-10-15 13:31] weaverryan commented on #24553
Related to #20588, but slightly different

[2017-10-15 13:54] weaverryan commented on #24543
Actually, this is currently the way to do this (so good find), though you should do this only in config_test.yml so that the public service is only accessible where you need it.

It *does* make me wonder if it’s possible (and also a good idea) to somehow DI the test classes, so you can autowiring them like normal. This public alias thing is a pain, and this type of thing looks very valid to do.

[2017-10-15 16:04] chalasr commented on #24559
I can confirm, it is special to bind.
Referencing the `bar` private service from another public service fixes it also:

[code]

I did not have a deeper look yet.

[2017-10-15 17:03] nicolas-grekas commented on #24543
I propose to add a new after removing pass that would turn private services back to public ones. This pass would be enabled only in test environment. WDYT?

[2017-10-15 19:11] nicolas-grekas commented on #24555
That's by design: the argument resolver is based on a service locator, and service locators are not compatible with scalar args. Changing this would be considered as a new feature, and would need some discussion because we consciously did not allow so.
The workaround is trivial: just inject the scalar on the constructor. In fact, technically speaking, there is no benefit to injecting scalars to ac

[2017-10-15 19:56] nicolas-grekas commented on #24543
The new idiomatic way could also be to leverage #24257, and turn some services public in the kernel, something like:
[code]

[2017-10-15 21:09] yceruto commented on #24555
Then we need an appropriate exception message?

Agree that's what I did, but for DX it should be better IMHO, just:
[code]
vs
[code]
mainly if it's used in a single method ([which is the case](https://github.com/yceruto/symfony-demo/blob/a11e1c2ba68556ac8e886d8318bcd814068026a4/src/Controller/BlogController.php#L85)).

[2017-10-15 22:21] alexpott opened #24567 "Catching deprecations in isolated tests always adds to the Legacy group"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.x

Recently support for catching deprecations in tests run in isolation was added. At present when any silent deprecations are re-triggered by \Symfony\Bridge\PhpUnit\Legacy\SymfonyTestsListenerTrait::endTest() they are always a

[2017-10-16 07:30] javiereguiluz opened #24569 "Unexpected deprecation message related to an entity"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

We're updating the Symfony Demo application to Symfony 3.4 (see https://github.com/symfony/symfony-demo/pull/673). Most of the triggered deprecations make sense, but we're struggling with this one:

![entity-deprecation](https:

[2017-10-16 09:14] stof commented on #24569
@javiereguiluz I think this is related to the autowiring of controller arguments (where you might have a typehint for a Post relying on param converters). As there is no autowirable service for this typehint, the AutowirePass triggers the BC layer to try finding one such service by type.

[2017-10-16 09:18] javiereguiluz commented on #24569
@stof you are right! We use `Post` as a "param converter" in lots of controllers like this one:

[code]

Could this be considered a bug? We want to use `Post` as a param converter, not as a service injection.

[2017-10-16 09:22] iltar commented on #24569
Pretty much anything could be added as arguments there via the new controller arguments event and argument value resolvers. Besides of this, pretty much anything that's being set in the request object can be injected this way, not sure if you can catch all those cases.

[2017-10-16 09:31] SDPrio opened #24572 "How to handle “complex” dynamic forms with multiple possible actions per field?"
| Feature request? | yes
| RFC?                     | yes
| Symfony version  | 2.8

I am working on a Symfony 2.8 based web app project and trying to create a form, which allows to return multiple different results/fields/formats depending on previous selections within the form.

To keep it simple let us assume the web app is a simple address book which allows to manage any number of Contacts. Eac

[2017-10-16 10:39] lyrixx commented on #24501
This proposal looks good to me, and the proposed API is easy to use. I like it.
I guess the translator could be involved here. Like in the validator component.

And yes, the naming will be hard.

Anyway, I'm :+1: with the idea.

Do you want to contribute to this new feature?

[2017-10-16 10:43] aivus commented on #14664
Tried few times, but unfortunately can't to reproduce it again.

Probably could be caused by issues in caching:
https://github.com/symfony/symfony/blob/7a97b49436b20c9664f3e286f8c174bc1aae0364/src/Symfony/Component/Form/AbstractRendererEngine.php#L90

[2017-10-16 11:28] sc0rp10 opened #24574 "Global request variables are missing inside rendered controller"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.9

Inside rendered controller global request variables are broken.
**layout.html.twig**:
[code]
**menu.html.twig**:
[code]

By url `/?foo=bar` I see:
[code]

How can I get request params inside rendered controller? How can I glo

[2017-10-16 11:50] derrabus commented on #24552
The problem is that you're asserting request-related state on a terminated kernel. To me, it feels like this has worked "by accident" so far, but I understand that the reset feature will break quite some tests in many Symfony projects out there. Also, since the BrowserKit client [terminates the kernel immediately](https://github.com/symfony/symfony/blob/e4bfc40d0e58835b0b1c8d5d50065d3ba4ef3c90/src

[2017-10-16 12:36] yceruto commented on #24569
This process is carried out in `AutowirePass` and `RegisterControllerArgumentLocatorsPass`, is there a way to know all the excluded resources there? maybe we could verify it to omit these cases?

[2017-10-16 12:38] iltar commented on #24569
@yceruto no, you can't know this as a lot of things are resolved during run-time execution. You can only know if they are available as service or not.

[2017-10-16 13:44] yceruto commented on #24569
So if we have explicit configuration that excludes resources:
[code]
we can't get this information into `*Pass` to avoid auto-registration of controller typed arguments that aren't available as service?
[code]
this service is defined at compilation-time, so I hope there are some solution for that.

[2017-10-16 14:25] iltar commented on #24574
It's a subrequest so if you want to pass this information to your menu, you will have to do so as arguments in your `controller()` function.

[code]

Afaik this is intended behavior.

[2017-10-16 15:01] sc0rp10 commented on #24574
@iltar i don't want to pass all of global variables inside each rendered controller. is there common way to catch all *global* variables inside *any* template?

[2017-10-16 15:24] yceruto commented on #24574
@sc0rp10 you can access to `request_stack` service to check the master request instance and their vars.

[2017-10-16 16:10] iltar commented on #24574
@sc0rp10 you could probably pass the request object, but personally I would avoid that. Your subrequest shouldn't know about the parent request.

[2017-10-16 16:20] stof commented on #24574
@sc0rp10 the Request is not a global variable in Symfony. This is precisely one of the point about encapsulating it in an object.
There is a single global variable available in the template by default, and it is `app`. the request itself is not available as a Twig global variable. The *current* request can be accessed from `app`

[2017-10-16 16:25] xabbuh commented on #24572
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2017-10-16 16:37] xabbuh commented on #6036
#24523 isn't merged yet

[2017-10-16 16:58] lcp0578 opened #24578 "symfony app in a subdirectory in nginx for an existing site"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.9

I'm use symfony develop my API for an existing site.
but i can't configure my symfony app  like
www.domain.com/sfapi/xxx
www.domain.com/sfapi/xxxxx

here my nginx vhost configure

[code]
main conf

[code]
destoon.conf

[code]

[2017-10-16 17:01] xabbuh commented on #24578
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2017-10-16 17:01] #24578 closed

[2017-10-16 17:02] lcp0578 commented on #24578
thanks, i got support channels

[2017-10-16 17:57] dmaicher commented on #24552
I think when actually using this feature on production it will be fine that it "breaks" writing tests like the ones I mentioned above. So it should then indeed be possible to also use this feature in the `WebTestCase` to not always reboot the kernel but to simply "recycle" it for a configured number of times? So the tests are actually closer to the production setup.

[2017-10-16 20:00] d-ph commented on #24501
I'll take a look the weekend after this weekend.

I'll need to change how `Workflow::apply()` works. Long story short: I stopped calling
[code]
in my code, because this runs the guards twice and I have some slightly not cheap checks in my guards, which I'd rather not run more times than needed during a request. Instead I call `Workflow::apply()` in a try..catch block, catching the Workflow's `Logi

[2017-10-16 20:15] bettinz opened #24580 "Call to a member function has() on null"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Hello, I'm trying to call an action from a controller to another controller.
So I've UserController and "getRegistrationNumberAction(WorkEvent $event)" and from EventController I call

$number= $this->get(UserController::clas

[2017-10-16 20:18] dmaicher commented on #24559
I tried to debug it a bit.

The problem happens when the definition of service `bar` is inlined into `foo`. In that case the argument 0 for `foo` is no longer a `Reference` but a `Definition`.

BUT the bindings of `foo` still contain a `Reference` to service `bar` which has been removed by `RemoveUnusedDefinitionsPass` as it was inlined.

Within `CheckExceptionOnInvalidReferenceBehaviorPass` all b

[2017-10-16 20:30] #24456 closed

[2017-10-16 20:44] bettinz commented on #24580
Solved with this at start of UserController:
[code]
and in getRegistrationNumber:
[code]
Is that the correct way to proceed? Thanks

[2017-10-16 20:51] Tobion commented on #24580
I'm sorry, but in the GitHub repository we only discuss about Symfony bugs and new features. For questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

[2017-10-16 20:51] #24580 closed

[2017-10-16 21:08] ogizanagi opened #24581 "[VarDumper] Code excerpts and trailing commas"
| Q                | A
| ---------------- | -----
| Bug report?      | yesish
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

When using the `DUMP_COMMA_SEPARATOR` or `DUMP_COMMA_SEPARATOR` flags, a trailing comma is added to each line. But when dumping an exception, adding a comma at the end of each line of the code excerpt looks a bit unexpected

[2017-10-16 22:18] weaverryan commented on #24569
So this is one of the big reasons that we removed the auto-registration of services for autowiring in 4.0. So in 4.0, it’s not an issue - the entities are excluded in services.yml, and then are not auto-registered during autowiring.

But yes, the deprecation warning is a problem - a bug that we need to fix somehow.

[2017-10-16 22:18] #24553 closed

[2017-10-16 22:23] weaverryan commented on #24555
Ok, we definitely need a clear error :)

[2017-10-16 22:34] #24487 closed

[2017-10-16 22:53] nicolas-grekas commented on #24555
See #24582

[2017-10-16 23:00] #6036 closed

[2017-10-16 23:00] #12375 closed

[2017-10-16 23:00] #12325 closed

[2017-10-16 23:16] weaverryan commented on #24555
Actually... this is trickier. We can’t throw an exception, because binding a scalar value is legal in general, and having an argument with the same name as a bound value is also legal. All we can do (I think) is not pass the value to that arg. But, that will be quite unexpected: binding works for the constructor, method calls and most controller args (services, but not scalar). This looks like a w

[2017-10-16 23:30] #24558 closed

[2017-10-16 23:41] weaverryan commented on #24543
I don’t know if it should be a legit concern, but making all services public in test makes the envs quite different, and I worry about surprises due to this... but it’s also the nicest solution.

To throw more ideas around:

- configure a service locator in the test env: users could just add their services to it as needed. We would document fetching this service locator from the container to get t

[2017-10-16 23:56] nicolas-grekas commented on #24543
I think that's exactly the same as my proposal just above (turning some service public in the kernel-pass).

[2017-10-17 00:33] steevanb commented on #24269
Ok, to me, that's a bug.

But if you don't think so ...

[2017-10-17 05:16] BoShurik commented on #24553
I still can't use it.

`bin/console` throws an exception
[code]

I tried to remove `ObjectNormalizer` from container. Add to `Kernel` `CompilerPassInterface`
[code]
but no results

[2017-10-17 05:37] SDPrio commented on #24572
Well, I think this more like a feature request, since I do not think that this possible yet, is it?

[2017-10-17 05:44] BoShurik commented on #24553
Got it. I should move compiler pass from kernel to separate class and set priority to maximum (execute before object.normalizer tag pass)
[code]

[2017-10-17 06:09] Aerendir commented on #24501
You can simply create a TransitionException that extends LogicException and that accepts the TransitionError object.

[2017-10-17 06:36] manuelkiessling commented on #24543
I'm curious: Is bringing autowiring (like it happens within the container) something that should be extended to WebTestCases? This way, no workarounds whatsoever would be neccessary - automatic (setter) injection of dependencies would become available in test code classes exactly like it is available in application code classes.

[2017-10-17 07:24] stof commented on #24543
Well, actually, `fos_user.user_manager` is meant to stay public, but I have not yet updated this bundle for new changes...

@manuelkiessling test cases are not something happening inside the app. PHPUnit is calling the kernel, not the opposite.

[2017-10-17 07:24] Karthons opened #24584 "[DI] with ability to use constructor"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Maybe this is already implemented and I did not figure out how to do it. Basically I want to create new instances of my custom object with the logger as Dependency Injection AND I want to be able to use the constructor. A

[2017-10-17 07:31] stof commented on #24584
no, if you do a `new CustomObject()`, it would have the logger. There is no way for the DI container to perform any logic here.
Service definitions have an impact for cases where you get the object from the container, not when you instantiate it yourselves.

[2017-10-17 07:51] pfrenssen commented on #6088
We are having the same problem right now in Drupal. We have recently introduced a system that allows to define routes for data types in a structured way so that they can be discovered automatically and used wherever having paths to certain operations are useful (e.g. to let a module that provides a REST API discover the CRUD routes).

Unfortunately we have a bunch of legacy routes that were alread

[2017-10-17 07:51] Karthons commented on #24584
I apologize, but your answer is not very clear.

Once I create `new CustomObject()`, the logger is set? I was not able to reproduce it though.

[2017-10-17 09:49] gerryvdm commented on #24540
Can confirm, just rendering a template from source seems to crash the profiler.

(1/1) Twig_Error_LoaderUnable to find template "__string_template__9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08" (looked into: /users/vandermaeseng/export/project/skynet/zend/applications/cms-newsletter/app/Resources/views, /users/vandermaeseng/export/project/skynet/zend/applications/cms-newsletter

[2017-10-17 10:43] iltar commented on #24584
No, what's he's saying, is that if you manually create the object, nothing happens. You're not using the container in your example, nor does the container magically influence classes you instantiate. Also, your definition is different from your `CustomObject`.

Anyhow, this seems more as a support question than an actual issue or feature request, so you might want to try https://symfony.com/suppor

[2017-10-17 10:55] Tobion commented on #24584
I'm sorry, but in the GitHub repository we only discuss about Symfony bugs and new features. For questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

[2017-10-17 10:55] #24584 closed

[2017-10-17 11:06] aurelijusrozenas commented on #6088
Not sure about yaml syntax, but with annotations you can do:
[code]

[2017-10-17 11:28] poolerMF opened #24588 "session not working when security disabled"
hello

when I disable security in one of my firewall, then I can not get service session or variable $_SESSION
it's not initialised

[2017-10-17 11:40] stof commented on #24588
well, have you enabled the session layer in FrameworkBundle or no ?

[2017-10-17 12:08] tzfrs commented on #23419
@jrjohnson - Did you find a fix for this? I upated doctrine/annotations to 1.5 but the tests are still slow as hell.

[2017-10-17 12:34] yceruto commented on #24555
Absolutely agree with @weaverryan, throw an exception here is worse.

:+1:

[2017-10-17 12:49] poolerMF commented on #24588
normally I can access to service "session" and it's initialised/not empty  ... or I can access to global variable $_SESSION

@stof I do not understand ... but I think, I have it enabled

[2017-10-17 13:41] jr-k commented on #17799
Still the issue now (3.3), is it possible to include the hack of HeahDude ? Thanks

[2017-10-17 14:42] BjornTwachtmann opened #24593 "[Translation] Crashes when translation for plural form not found in PO file"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.2.0+

I have found a serious bug in Symfony translate 3.2.0+ that causes an InvalidArgumentException to be thrown on a common use case involving PO files.

Esentially when a translation has 2 plural forms (e.g. "There is 1 apple"

[2017-10-17 15:28] Hanmac opened #24595 "[Validator] ExpressionValidator should use OBJECT_TO_STRING to allow value in message"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

ExpressionValidator should use OBJECT_TO_STRING for formatValue,
so i can use `{{ value }}` inside the message and it isn't replaced with just `'object'`

i don't think it's more like a feature request then a pure bug,
so i

[2017-10-17 15:33] tzfrs opened #24596 "PHPUnit tests almost 300% slower after Symfony update"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Our project was running `v3.2.6` and since it isn't supported anymore we wanted to switch to Symfony 3.3. We created a new branch based on our master branch and made some changes to the code (removing deprecated stuff, etc.)

[2017-10-17 16:02] Ocramius commented on #24596
FWIW, the annotation loader should just disappear, assuming that `class_exists()` is a sufficient loader, but that can't be done in annotations 2.x

[2017-10-17 16:40] xabbuh commented on #24588
@poolerMF Can you create a small example then that allows to reproduce your issue?

[2017-10-17 16:42] tzfrs commented on #24596
@Ocramius - Do you think that the things you pointed out are the reason for the long durations and that they would be fixed in a v2 version, so that we "ignore" this issue until then?

[2017-10-17 16:49] stof commented on #24596
@Ocramius see my comment in https://github.com/doctrine/annotations/issues/145#issuecomment-337289305
I think we can apply a BC optimization to the AnnotationRegistry for the case of multiple registration, which would be able to cover this case.

[2017-10-17 16:50] dmaicher commented on #24596
Maybe try https://github.com/dmaicher/doctrine-test-bundle. You can just use the "static cache" feature without the transactional connections.

This reduces the time for my phpunit testsuite by factor 4-5. Also the memory consumption is less than half.

[2017-10-17 16:55] jrjohnson commented on #23419
If you can update to doctrine/annotations 1.5.0 it improves things substantially, but that upgrade requires PHP 7.1+.

Until we drop PHP 7.0 support in our app we have this in our base test class
[code]

[2017-10-17 17:21] tzfrs commented on #24596
I can try stuff out tomorrow since I'm not at work anymore.

[2017-10-17 17:28] Ocramius commented on #24596
No, I don't know for sure - it needs to be profiled.

[2017-10-17 18:00] poolerMF commented on #24588
symfony v 3.3.10

security.yml
[code]

DefaultController:
[code]

Result:
**indexAction** -> OK
**testAction** -> Undefined variable: _SESSION

[2017-10-17 18:16] xabbuh commented on #24588
`$_SESSION` is only accessible when a session has been started before. If you disable the security on a firewall and don't have any other code that requires a session, the session may not have been started yet. But why would you need to access `$_SESSION` in a Symfony controller at all?

[2017-10-17 18:27] tzfrs commented on #23419
Yeah, we use 7.1 and I updated to 1.5. What I meant is, that it's faster, but still not the same speed as on 3.2. It was 300% slower and now it's 180% slower. Also see this: #24596

[2017-10-17 18:56] Tobion commented on #24588
As explained, you need to start the session as it's not started by the firewall. And it's better to use https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Session/Session.php via the session service than to access $_SESSION directly.

[2017-10-17 18:56] #24588 closed

[2017-10-17 19:07] poolerMF commented on #24588
I know how to use session service

I'm using $_SESSION becouse, I want to store some pernament data even if session is cleared

[2017-10-17 20:13] szymach commented on #24546
Hello, sorry for the delay, busy times.

It turned out we were simply referring to index `0` on the files array explicitly, using `reset()` fixed the issue. Your fix does the trick.

[2017-10-17 21:04] enumag commented on #24546
Good. I'll send a PR later this week.

[2017-10-17 23:20] #24470 closed

[2017-10-18 00:05] nicolas-grekas commented on #24555
:+1: also

[2017-10-18 05:55] yceruto commented on #24555
See https://github.com/symfony/symfony/pull/24600

[2017-10-18 06:44] javiereguiluz commented on #24574
@sc0rp10 I'm closing this issue because, as explained in the comments, this is the expected behavior. You can use any of the proposed alternatives, or even use sessions to store those global vars. Thanks!

[2017-10-18 06:44] #24574 closed

[2017-10-18 06:48] javiereguiluz commented on #24581
I didn't know that `DUMP_COMMA_SEPARATOR` exist! What's the reason behind it? If it's to make the dumped contents a valid JSON object, it doesn't look like a valid JSON object yet. If it's pure aesthetics, it's complicating things for no good reason.

I'd propose either to remove this flag ... or improve as `DUMP_AS_JSON_OBJECT`.

[2017-10-18 07:26] tzfrs commented on #24596
@dmaicher - I installed the bundle and used this config:

[code]

This speeds up the tests by 1 minute, they now need 9 minutes and 52 seconds.

[2017-10-18 07:30] dmaicher commented on #24596
@tzfrs ok interesting. For me the difference was more significant.

I don't quite understand the difference between symfony 3.2 and 3.3 for you though. I also recently upgraded my app from 2.8 to 3.3 and for me the test suite performance actually improved slightly and did not become worse :confused:

So why is it slower for you only on 3.3?

[2017-10-18 07:34] tzfrs commented on #24596
That's what we're trying to figure out. There is already sth. I noticed. We currently have multiple bundles and when I run the tests in each bundle on it's own it doesn't matter if I'm on the 3.3 or 3.2 branch. The timings are always the same and together sum up to about ~ 6 minutes. But when I test the whole `src` folder I have the differences when using 3.2 vs 3.3.

[2017-10-18 07:47] javiereguiluz commented on #16432
Let's close this and we can reopen if we get new information or a bug reproducer. Thanks!

[2017-10-18 07:47] #16432 closed

[2017-10-18 07:49] javiereguiluz commented on #17076
Closing as "won't fix" because there haven't been counterarguments to the *"this is probably not needed in modern Symfony versions"* argument. Thanks!

[2017-10-18 07:49] #17076 closed

[2017-10-18 07:55] javiereguiluz commented on #17808
@xabbuh [Symfony 2.3 ended its support on May 2017](https://symfony.com/roadmap?version=2.3#checker) so maybe we can now do the change you proposed here? Thanks!

[2017-10-18 08:04] javiereguiluz commented on #19867
Closing as fixed by #19960.

[2017-10-18 08:04] #19867 closed

[2017-10-18 08:07] javiereguiluz commented on #20527
Closing because of the lack of feedback and because, as mentioned by Nicolas, `ProcessBuilder` has been deprecated by something better and this issue is probably fixed. Thanks!

[2017-10-18 08:07] #20527 closed

[2017-10-18 08:10] javiereguiluz commented on #20042
Closing because this should work as explained by @petertanath. @ro0NL thanks for your help here too.

[2017-10-18 08:10] #20042 closed

[2017-10-18 08:12] Tommy10802 opened #24601 "Problem with share authentification cookies"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2

Hello I have a little problem with authentification cookie value which is created and stored in browser after success login.
I have 2 symfony web aplication hosted on same domains at different subdomain.
When i authentificate on

[2017-10-18 08:17] javiereguiluz commented on #20684
I'm closing this as "fixed" because I've tested this with 3.3 and 3.4 and it works as expected. Replacing the env vars by their actual values should be considered as a different feature. Thanks!

[2017-10-18 08:17] #20684 closed

[2017-10-18 08:21] javiereguiluz commented on #21844
If this is only related to Form extensions, maybe we can close it as "won't fix" because the `extended_type` tag attribute will soon be deprecated. See #24530.

[2017-10-18 08:27] NicoHaase commented on #24596
You could either try johnkary/phpunit-speedtrap to see which tests run slow, or use a profiler like XHProf or Blackfire

[2017-10-18 08:29] NicoHaase commented on #24601
If this is running on the same server, both applications share common sessions. Maybe you should override the session file directory as documented on http://symfony.com/doc/current/session/sessions_directory.html

[2017-10-18 08:29] sroze commented on #24596
For the records, I've experienced the same slowness when upgrading to Symfony 3.3 on a large application.

[2017-10-18 08:41] Tommy10802 commented on #24601
Thanks for fast reply :)

yes, both applications is running on same server.
I dont think this is a problem.
Because of when i logged on server A  with user admin cookie name is
`d06aeb67c2f9e2ce44239977dc1480ad` and its value `362obuc28nl1efev1795d7a7n3`.
On server B cookie name (`438172e6697377a2637835d949dd97bf`) is different, what is good becasue this sessionName is generated base on unique app

[2017-10-18 08:45] tzfrs commented on #24596
@NicoHaase, thanks, I already wrote a custom ResultPrinter. We have some namespaces where tests are now like 1 or 2 minutes longer. I will investigate. These tests are integration/elastic search tests

[2017-10-18 09:21] Tommy10802 commented on #24601
Thanks a lot, it helps :)

[2017-10-18 09:21] #24601 closed

[2017-10-18 09:42] chalasr commented on #24559
See #24602

[2017-10-18 10:03] tzfrs commented on #24596
Ok, I did some assertions and there are like 80 tests which take 1-2 seconds longer, some tests which take 5 seconds longer, some tests which take 10 seconds longer, so it seems like every test got slower. What would really help is to create a cachegrind file for only one method while testing all methods. Is it somehow possible? I only found ways to always profile EVERYTHING.

[2017-10-18 10:08] edmondscommerce commented on #14716
I also need required options. Fair enough not to have them by default and require a little custom code. I took the above and came up with:

[code]

[2017-10-18 10:09] NicoHaase commented on #24596
If you just run a single test, you are able to profile that execution. But be sure to run the test with a warmed up cache

[2017-10-18 10:11] tzfrs commented on #24596
Yes, but the problem is that running tests alone or just on a per bundle basis doesn't yield a different duration for the tests. The tests are only slower when I execute them all at once.

[2017-10-18 10:33] jakzal commented on #24111
@chalasr @TomasVotruba any luck reproducing this?

[2017-10-18 10:37] NicoHaase commented on #24596
Using XHProf, you could start running the profiler in the setup and write out the profile in the teardown of each test

[2017-10-18 13:27] chalasr commented on #24111
I'm unable to reproduce the bug. I wonder if it could have been fixed by https://github.com/symfony/symfony/pull/24199.

@TomasVotruba could you provide a reproducer? Otherwise I think we can close

[2017-10-18 13:30] TomasVotruba commented on #24111
I've resolved in different, cleaner way, so I can't.

Let's close it!

[2017-10-18 13:30] #24111 closed

[2017-10-18 14:17] #24559 closed

[2017-10-18 14:46] jakzal commented on #8321
I just tested this on 2.3, which is the latest branch the fix referenced by @adamelso exists. I can confirm that **both** users are refreshed when exiting the impersonated user.

[2017-10-18 14:46] #8321 closed

[2017-10-18 16:43] IMM0rtalis commented on #18494
+1 for having any solution here.

[2017-10-18 17:37] ogizanagi commented on #24581
It's actually merely aesthetics in my case; I do prefer:
[code]

over:

[code]

but @lyrixx mentioned in the original PR introducing it (#21653) the use case of displaying a dump on one line, hence the comma separator becomes more than an aesthetics thing. But I actually don't know the way he proceeded to display it in one line.

[2017-10-18 18:36] Ocramius commented on #24596
Just profile everything over two runs and compare? It will be a massive
cachegrind file, but it is ok-ish.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Wed, Oct 18, 2017 at 12:04 PM, Theo Tzaferis <notifications@github.com>
wrote:

[2017-10-18 19:13] michalv8 commented on #24596
@tzfrs Do you use Symfony `WebTestCase` (or other classes extending `KernelTestCase` and booting Symfony kernle)? In my company when we were migrating to 3.3 a couple of tests were using it and after Symfony update theirs run time increased on average from 50-200 ms to 2-4 seconds. Our best guess was the [deprecation of ClassLoader component](https://symfony.com/blog/new-in-symfony-3-3-deprecated-

[2017-10-18 19:54] skrosoft commented on #12442
In my case, the problem is that I want to add field, depending of the value of the getData() instance and the EventListener doesnt allow me to add field to the form.

[2017-10-18 20:10] unkind commented on #24493
I'm afraid I don't see decent solution in the current design.

If I generate name for the anonymous service in the `ContainerBuilder`, it's not possible to create valid `Definition` structure because it depends on current service id in the `setDecoratedService`:

[code]

The problem here is that API allows to make alias (`$renamedId`) for decorated service; however, I need to overwrite this alias

[2017-10-19 08:39] lyrixx commented on #24581
Hello.

For the record, I added this feature to be able to write a dump on one line.
It's used in the [ConsoleFormatter.php](https://github.com/symfony/symfony/blob/b935b93c7ae6fc9360765756632472a85f7bda7a/src/Symfony/Bridge/Monolog/Formatter/ConsoleFormatter.php#L78) ; [related PR](https://github.com/symfony/symfony/pull/21705)

[2017-10-19 08:55] iltar opened #24614 "[BC Break][3.4.x] cannotBeEmpty is not applicable to concrete nodes"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.x

This seems to be caused by d40e7e4c2de1c4468714de8006f84aee287aace8.

[code]

My guess is that this should be a deprecation rather than an exception for 3.4.

[2017-10-19 09:05] stof commented on #24614
Can you give the stack trace of the element, to know in which bundle this happens ?

[2017-10-19 09:07] iltar commented on #24614
This happened in 2 custom bundles, so it's easy to fix. As far as I can tell, the exceptions are 100% legit, just shouldn't break compatibility with with 3.3

[2017-10-19 09:48] javiereguiluz opened #24615 "[Form] PRE_SUBMIT constant and value mismatch"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

In [this tweet](https://twitter.com/deguif/status/920936122406113280) @deguif asked:

Should we update the value of the constant?

[2017-10-19 09:49] ro0NL commented on #24614
@iltar you are calling `cannotBeEmpty()` then? Which had no effect before, but is now taken into account.

To be clear; the behavior is correct right?  Throwing the exception can be seen as a new feature i guess, it improves your code no?  Anyway this is why i targeted 3.4 and definitely not lower branches :-)

ref https://github.com/symfony/symfony/pull/20361

[2017-10-19 09:50] iltar commented on #24614
@ro0NL yes, calling that function while it does nothing. I don't know if it's a new feature, it certainly breaks backwards compatibility as it didn't crash before.

[2017-10-19 09:53] ro0NL commented on #24614
The issue i want to solve is exactly this; ppl calling `cannotBeEmpty` while it has zero effect; without you really knowing it / being aware.

Given that i prefer the exception over deprecation; forcing the fix in 3.4. But maybe you're right about a deprecation path. Yet it may be ignored; thus leaves you with dead/wrong code.

[2017-10-19 09:56] ro0NL commented on #24614
Ill have a look ASAP to change the exception in favor of a deprecation.

[2017-10-19 10:05] atailouloute opened #24616 "Upgrade to 3.4-BETA problem"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.0-BETA1

Hello,

I am using Symfony 3.3 on a project in which I am using `TwigRendererInterface` as a dependency for a service, and the injected service is `@twig.form.engine`, it works great since the service implements the me

[2017-10-19 10:58] Tobion commented on #24616
The only solution I see is to deprecate the service twig.form.renderer and introduce a new one with the correct class. But that requires all people to change their DI. TwigRendererInterface is already deprecated since 3.2 so still relying on it seems like an edge case. So not sure who to optimize for.

[2017-10-19 13:30] iltar commented on #24615
We could add a second constant and deprecate the old one in 4.1 (or 3.4 if that's still allowed)

[2017-10-19 13:41] iltar opened #24625 "Deprecations causing big performance hit in dev ProfilerListener"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.x

When you trigger a lot of deprecations, they will be stored in the profiler. However, this causes a massive performance hit on all dev pages triggering those. from 5 to 89 deprecations, causes the profiler listener to go from

[2017-10-19 14:12] stof commented on #24615
The `PRE_SUBMIT` constant cannot be deprecated. This is the name of the event we want (`PRE_BIND` was the old name in early 2.x).

[2017-10-19 14:12] yceruto commented on #24615
The constant name was already changed in 3.0 (with previous deprecation since 2.3) but not its value, not sure why :/ . Most ppl rely on the const name to listen, so maybe we can/should fix its value directly?

[2017-10-19 14:36] javiereguiluz opened #24627 "Twig_Extension::getName() is deprecated"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

After upgrading to Symfony 3.4 beta1, I'm seeing a ton of deprecations like this one:

[code]

@sstok suggested on the Symfony Slack chat to require Twig 1.26 as the minimum version, because that's the one which deprecated `getN

[2017-10-19 14:37] chalasr commented on #24627
Duplicate of #24522 :)

[2017-10-19 14:46] javiereguiluz commented on #24627
Closing then. I'm sorry!

[2017-10-19 14:46] #24627 closed

[2017-10-19 14:48] javiereguiluz commented on #24522
It's not only about `getName()` method. I also see this deprecation when upgrading to 3.4:

[code]

[2017-10-19 14:59] stof commented on #24522
The Debug component now forbids keeping BC with older versions of a library (and also does not support the case where we want to move the method to a new interface, like Twig_Extension_InitRuntimeInterface)

[2017-10-19 15:32] stof commented on #24615
Yeah, I think we could change this in 4.0 without a big impact (btw, I think our BC policy even allows it for this case).

There is one case where people will use the event name rather than the constant: the `kernel.event_listener` tag (and recent versions can even use the constant in YAML files). But this won't be the case for this event, as form events are not dispatched in the main dispatcher a

[2017-10-19 15:52] javiereguiluz opened #24629 "[WebServerBundle] Auto-registration of ServerLogCommand is deprecated"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

[code]

[2017-10-19 17:32] yceruto commented on #24615
See https://github.com/symfony/symfony/pull/24631

[2017-10-19 18:48] #24629 closed

[2017-10-19 18:53] #24615 closed

[2017-10-19 21:57] nicolas-grekas commented on #24625
You should look into *what* is doing "unserialize". I'm not sure it's legitimate to unserialize at all at this stage. Without a real (Blackfire) profile, you're on your own :)

[2017-10-19 23:35] weaverryan opened #24639 "debug:container --types & debug:autowiring can fail with missing deps"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3 (I believe)

Here's the setup:

1) Use Flex
2) Install SensioFrameworkExtraBundle
3) Run `bin/console debug:container --types`

<img width="1279" alt="screen shot 2017-10-19 at 7 26 28 pm" src="https://user-images.githubusercont

[2017-10-19 23:38] nicolas-grekas commented on #24639
What about *not* checking that (but checking that there is a `\` in the id instead?) Would the list be that different?

[2017-10-20 06:18] javiereguiluz opened #24640 "[DX][FrameworkBundle] Simpler route configuration for templates and redirections"
## Context

In #23227 we made this change:

[code]

In #24637 we improved a bit the routes that render a template directly, but I don't think that's enough.

## Proposal

Let's finish #23227 by adding shortcuts for templates and redirections:

### Templates

[code]

### Redirections

If the value of `redirect_to` starts with `/` or `//` or `http://` or `https://`, it's considered a URL redirect. O

[2017-10-20 06:55] weaverryan commented on #24639
Great question! For a Flex app with some basic dependencies installed, the *only* alias that does not have a `\` in it is `Twig_Environment`... which of course also has a `Twig\Environment` alias.

So in practice, if we switched to look for a `\`... that would fix it. But there would be edge-case libraries where we would be in-accurate.

What if we did:

A) If there is a `\`, then we immediately a

[2017-10-20 07:51] chalasr commented on #24640
👍

[2017-10-20 08:04] Simperfit commented on #24581
I can try to make the PR if you want @ogizanagi.

[2017-10-20 08:07] Simperfit commented on #24640
👍

[2017-10-20 08:37] iltar commented on #24625
Hmm you were right about unserialize, this was the result of the second app_dev call, which is from the toolbar. I'm diving into the actual result now and seeing a different result. Sadly I'm still not able to install blackfire io, so I will have to do with webgrind to analyze it. If you want, I can supply the cachegrind files of the screenshots below privately. I believe this issue should be 100%

[2017-10-20 09:58] xabbuh commented on #17808
I think we can close here. The HttpKernel is a requirement of the bridge since #19113.

[2017-10-20 09:58] #17808 closed

[2017-10-20 10:03] stof commented on #24640
These would require making the routing component depend on FrameworkBundle (these special controllers are part of the bundle, but route definitions are handled in the component)

[2017-10-20 10:11] javiereguiluz commented on #24640
@stof there's no need for that. If you have router + frameworkbundle, you can use this feature. If you don't have frameworkbundle and try to use this feature, you'll see an exception. We already do that for lots of Symfony features.

[2017-10-20 14:04] MichaelHindley opened #24643 "[Validator] MetaDataFactory cache is always null, resulting in no cache"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.BETA1

I have a class annotated with Constraints like so:

[code]

When validating the class, the Constraints work as expected.

However, when I want to use the MetaData for the Class, I notice it is not in the Cache.

Breakpoin

[2017-10-20 14:20] stof commented on #24643
The Validator cache is disabled in debug mode currently (because the cache itself does not have a debug mode to auto-refresh it on metadata change):

https://github.com/symfony/symfony/blob/4c414d8136f0684aebd1e92d3f75eab65a6092f9/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L1096-L1098

[2017-10-20 14:27] MichaelHindley commented on #24643
Ah great, thanks for your input!

[2017-10-20 14:34] allfreelancers opened #24645 "OutOfMemoryException"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Error: Allowed memory size of 1610612736 bytes exhausted (tried to allocate 17179869216 bytes)

(1/1) OutOfMemoryExceptionError: Allowed memory size of 1610612736 bytes exhausted (tried to allocate 17179869216 bytes)

--

in

[2017-10-20 14:41] javiereguiluz commented on #24645
@allfreelancers you'll need to provide more information about this error:

* Does it happen when running tests or when loading some page?
* Did it happened before or it happened when upgrading the Symfony version?

[2017-10-20 14:57] xabbuh commented on #24643
closing here as there is no bug

[2017-10-20 14:57] #24643 closed

[2017-10-20 15:09] sstok commented on #24645
A friend of mine had the same problem (on Windows), it seems it's related to the big amount of deprecations detected. He "fixed" it by disabling the Debug component 😅

[2017-10-20 15:15] xabbuh commented on #24645
So this is basically the same as #24625 (just that the latter one did not run into the `OutOfMemoryException`)?

[2017-10-20 15:18] allfreelancers commented on #24645
@javiereguiluz I'm use windows 7 and its happen on load page (this happens often)

Did it happened before or it happened when upgrading the Symfony version?
this occurs before and after the update

[2017-10-20 15:21] nicolas-grekas commented on #24625
How's the log panel like? Can you fully expand one deprecation listed there to see what's nested in the collected stack trace?

[2017-10-20 17:25] pengend opened #24646 "The required option resets the FormView"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.8

My method `buildForm` :
[code]
My method `finishView` :
[code]
I have a strange issue with the option `required`, when I set it to `false`, it seems to reset all view vars on the child, and I have an error like this : `Key "r

[2017-10-20 18:36] iltar commented on #24625
I can provide you the exact data on Tuesday earliest. It's basically the exception message with some additional information and a context stored in it (line numbers etc). From what I can tell, all the data needed for exception messages. Each item in this array had 6~8, maybe more rows per array item, containing at least the context array with multiple rows.

[2017-10-20 18:58] #24555 closed

[2017-10-20 19:17] xabbuh commented on #24645
If it happened before updating I'd say it's rather not related to Symfony as we did not receive any other reports related to such a problem, but caused by your own code or some other package that you are using. Thus, I am going to close here, but we can of course reopen here if we have more information which indicate that Symfony seems to cause the error.

[2017-10-20 19:17] #24645 closed

[2017-10-20 20:26] Ananaskirsche opened #24647 "Symfony crashes after login"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

When following the guide to write a login page in [the Symfony documentation](http://symfony.com/doc/current/security/form_login_setup.html) and loading the users from my database, Symfony returns a HTTP 500 error. After tha

[2017-10-20 20:52] theofidry commented on #24596
A lot of my tests are way slower due to about 8000 deprecated calls made which are getting services from the container in the tests. I understand this is now deprecated as those services may be inlined so they should be made public, but you don't care if it's only for testing purposes. Is there a way to disable those deprecations [regarding private services] in tests?

[2017-10-20 21:56] xabbuh commented on #24647
Are you able to provide a small example project that allows to reproduce your issue?

[2017-10-20 22:06] nicolas-grekas commented on #24596
@theofidry making those services public for the test env, that's the only way to do it.
see discussion on https://github.com/symfony/symfony/issues/24543

[2017-10-21 05:14] TysonAndre opened #24648 "Requiring LazyLoadingValueHolderFactoryV1 causes fatal error due to method signature incompatibility"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | master

Remediation: Fix the file or remove it (or document that it's broken). Since I don't see any pull requests or issues mentioning V1, I assume it's unused.

Noticed via static analysis. This crashes in php 7.0-7.2

[code]

[2017-10-21 06:09] Ananaskirsche commented on #24647
Since I am new to Symfony I don't know how to do that. But I opened a repository [here](https://github.com/Ananaskirsche/SymfonyCrash). I hope this is ok too....

[2017-10-21 06:37] dmaicher commented on #24596
Just to be sure: you have disabled the profiler in your tests?

[code]

Interesting that in my test suite (which is huge and has tons of services retrieved directly from the container) I don't see any performance drop at all due to deprecations.

[2017-10-21 07:13] dmaicher commented on #24596
Something to note: I usually run my tests with `kernel.debug = false` as its quite a bit faster:

[code]
[code]

I cannot easily benchmark using 3.2 currently. But maybe the difference between debug and no-debug is bigger on 3.3 now?

[2017-10-21 07:48] ciaranmcnulty opened #24652 "QuestionHelper autocomplete with trailing backslashes triggers display error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Providing trailing backslashes in an autocomplete value seems to break the console formatting, when using QuestionHelper. I assume this is a result of faulty escaping around the highlighting:

[code]

<img width="202" alt="s

[2017-10-21 07:54] ciaranmcnulty commented on #24652
Additional info from some playing with the prompt.

Initial prompt looks good:
`Enter namespace:`

Typing a match causes the broken display:
`Enter namespace:F[cursor here]oo\</hl>`

Hitting tab to complete actually completes to the wrong value (too many `\`):
`Enter namespace:Foo\\[cursor here]/hl>`

[2017-10-21 16:54] ro0NL opened #24653 "[DI] Improve defaults() structure for PHP config"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.4

Current behavior:

![image](https://user-images.githubusercontent.com/1047696/31853873-9029b394-b690-11e7-8912-d453abfd294b.png)

If i add `->set('foo', 'bar')` under `defaults()` i do end up with a `getFooService.php` (i.e. `

[2017-10-21 19:11] cybernet opened #24654 "Symfony 3.3 documentation is incomplete"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| Symfony version  | 3.3.10

i come from basic PHP programming and never worked with OOP until now ( to my shame )
although i now SQL is very hard for me to understand some things
also working with forms is not easy

For example i want to insert some content in a database based on the logged in user

[2017-10-21 19:44] xabbuh commented on #24648
What did you do to end up with the error? Whether to use `LazyLoadingValueHolderFactoryV1` or `LazyLoadingValueHolderFactoryV2` is decided based on the used version of the `ocramius/proxy-manager` package: https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/ProxyManager/LazyProxy/Instantiator/RuntimeInstantiator.php#L39-L43

[2017-10-21 19:50] xabbuh commented on #24646
Are you able to provide a small project allowing it to reproduce your issue? Since you seem to deal with parent/child relationships of your form types it could be related to how you set the data.

[2017-10-21 20:12] #24648 closed

[2017-10-21 20:14] TysonAndre commented on #24648
This is a false positive, then... I didn't notice that the folders were different

[2017-10-22 00:43] ostrolucky commented on #22970
I've just came to this issue from 3.4 beta changelog. I'm greatly in favor of deprecating add/remove subscriber methods.

@stof How about just extracting functionality of getting list of listeners out of EventSubscriber? Something like new static method `EventDispatcher::getListenersFromSubscriber(EventSubscriberInterface $subscriber)` which will return normalized array of listeners, mostly what's

[2017-10-22 01:00] nicolas-grekas commented on #22970
I'm not in favor of it if there is no technical purpose: we already reverted changes that we thought were favoring better design, when we later on realized that they also broke legitimate use cases. It's really hard to foresee that.

[2017-10-22 01:43] ostrolucky commented on #22970
Are you referring to closure proxy feature which broke use case presented in this issue? That change was done in minor version and nature of that feature indeed made it difficult to foresee this breakage.

I believe Removal of those dispatcher methods is more transparent in what will they do and we can prepare for that better. Additionally, I think I do have legitimate technical reason for doing t

[2017-10-22 01:50] nicolas-grekas commented on #22970
Not specifically this one :)
I suggest you open an RFC if you want to present your point: it's better to discuss in the open, and on an open issue/PR :)

[2017-10-22 05:49] maykino opened #24659 "Single id is not allowed on composite primary key in entity"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | 3.1.10

Hello, the following entity generates the error "Single id is not allowed on composite primary key in entity ListingBundle\Entity\EbayListing" during php bin/console doctrine:schema:update --force

[code]
However when pr

[2017-10-22 07:11] ro0NL commented on #24653
Closing. I was too fast :)

This is the result of fluent interface; the issue is it doenst know about indenting.

[2017-10-22 07:11] #24653 closed

[2017-10-22 11:16] javiereguiluz commented on #24654
You are right that Symfony documentation is incomplete ... but the same happens with the docs of every other software project.

About your other comments, I think they are not true. You said for example that you don't know how to use a Bootstrap theme for Symfony Forms without paying. If you Google that, the first two results are free doc resources explaining Forms and Bootstrap:

![symfoy-form-bo

[2017-10-22 11:16] #24654 closed

[2017-10-22 13:36] ostrolucky opened #24662 "[RFC] Remove addSubscriber/removeSubscriber methods"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.0

Subscriber concept is pretty simple. It's to get list of listeners and attach them to EventDispatcher. This is useful concept, but having this functionality in EventDispatcher itself breaks SRP, makes code harder to maintain, m

[2017-10-22 16:08] dmaicher commented on #24659
I cannot reproduce the issue with the snippet you provided. Works just fine for me.

Can you create a small example project to reproduce this?

[2017-10-22 16:13] ostrolucky commented on #24572
Seems solvable to me. Declare those submit buttons in FormType, then you can find out which one has been pressed inside submit listener and decide which custom model transformer to use. For further discussion use support channels as already advised.

For feature request, your post is too abstract anyway. You are not suggesting any concrete idea. I would close this.

[2017-10-22 17:57] iltar commented on #24659
This does not look like an issue related to Symfony. I recommend to head to https://symfony.com/support so you can ask if it's working as intended. If not, you should probably verify if this is intended behavior in https://github.com/doctrine/doctrine2.

[2017-10-22 21:22] cybernet commented on #24654
why have you close this ? does it looks fixed to you ?

for me to search on google symfony bootstrap form, first i had to get to templating, right now i'm at getting stuff from database and put them in the first place ( with Symfony, not phpmyadmin ... )

so awesome doctrine documentation show me how to insert a row in a table ... but a simple thing like inserting the current user that is using th

[2017-10-23 06:44] javiereguiluz commented on #24654
@cybernet my reasoning for closing this issue was: we take note about your comments (and appreciate them!) but I close this issue because here we are in the repository which holds the Symfony code. We have a dedicated repository for Symfony Docs (https://github.com/symfony/symfony-docs) which is where we should discuss these things. I see you've created an issue there, so let's continue the discus

[2017-10-23 06:59] SDPrio commented on #24572
This is not about having different submit buttons per entry/item but to have different possible return types per entry/item and only one global submit button.

The question is, how to create such a form and how to handle it. Of course I could a custom FormType which includes a choice field (Remove/Assign/Create), a selection box to choose the assigned category and all form fields to create a new c

[2017-10-23 07:19] javiereguiluz commented on #24659
Let's close this issue temporarily and if we can confirm it's a Symfony bug, we'll reopen it. Thanks!

[2017-10-23 07:19] #24659 closed

[2017-10-23 07:23] javiereguiluz commented on #24625
Same here. With just 63 deprecations, the profiler listener more than triples its execution time:

![profiler-listener](https://user-images.githubusercontent.com/73419/31876646-b76e0d12-b7d3-11e7-875a-10bf51cd9d6e.png)

And here is the stack trace of one of those deprecations:

![trace](https://user-images.githubusercontent.com/73419/31876661-c478148a-b7d3-11e7-9efa-09b7c8755a01.png)

[2017-10-23 07:36] curry684 commented on #24654
@cybernet first of all my compliments on choosing the best and most powerful PHP framework around to continue your development journey. As the saying goes however, *"with great power comes great responsibility"*. Symfony is incredibly powerful, but not a starter framework. I've had several team members, with lots of PHP experience, learn Symfony themselves using online resources, and they have nev

[2017-10-23 08:43] javiereguiluz commented on #15028
I'm closing this because at the end it was decided to deprecate the integration of Templating component into Symfony, but not the component itself. So nothing will change for the component itself.

[2017-10-23 08:43] #15028 closed

[2017-10-23 11:49] MatTheCat opened #24669 "[Security] ChainPasswordEncoder"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0

I want to change users encoder so I thought of using the workflow described here: https://pehapkari.cz/blog/2017/02/06/how-to-rehash-legacy-passwords-in-symfony/#comment-3153608090 but for this I need to be able to chain the

[2017-10-23 13:19] jakzal commented on #23209
Thanks! It looks like it was misconfiguration anyway (otherwise we'd have more reports like this one). Closing.

[2017-10-23 13:19] #23209 closed

[2017-10-23 13:34] jakzal commented on #23230
Indeed, this is [a problem with the DOM extension](https://3v4l.org/fET2j):

[code]

will print:

[code]

As stof said the bug is in the dom extension and there's nothing to do in Symfony.

[2017-10-23 13:34] #23230 closed

[2017-10-23 14:10] jakzal commented on #23358
The bug has been fixed in [Apache 2.4.27](https://svn.apache.org/viewvc?view=revision&revision=1800618) (change has been reverted).

[2017-10-23 14:10] #23358 closed

[2017-10-23 15:07] jakzal commented on #22775
Closing this issue since removing cookies is already possible with `$response->headers->clearCookie('login_cookie')` as derrabus pointed out.

[2017-10-23 15:07] #22775 closed

[2017-10-23 15:09] jakzal commented on #18523
Is there anything left to do here?

[2017-10-23 15:29] jakzal commented on #22788
:-1: I don't really see what kind of a problem this would solve. I suggest that decorating a 3rd party service works better than extending it. I'd also prefer to be notified that a 3rd party service has changed by a failing unit test so I could inspect the changes and decide what to do, rather than expecting a framework to handle this situation automagically.

[2017-10-23 15:29] #22788 closed

[2017-10-23 16:08] dialogik commented on #23209
No misconfiguration on my side: I didn‘t use swiftmailer at all and used default config for mail settings.

[2017-10-23 16:15] xabbuh commented on #24669
@MatTheCat You can create a custom service based on the `ChainPasswordEncoder` command into which you inject the other encoders. You may want to take a look at http://blog.michaelperrin.fr/2017/01/17/migrating-users-to-a-secure-hashing-algorithm-in-symfony/ for some inspiration. I am going to close here as this is already possible.

[2017-10-23 16:15] #24669 closed

[2017-10-23 16:18] xabbuh commented on #23209
@dialogik The default config uses Swiftmailer (see https://github.com/symfony/symfony-standard/blob/3.3/app/config/config.yml#L64-L69). If it's not related to Swiftmailer in your case, you would need to provide more information which show that the error is related to Symfony and not caused by the library you use to send mails.

[2017-10-23 17:47] MatTheCat commented on #24669
What is this command?

The solution you mentionned doesn't allow to hash the old hash with the new algorithm though. I don't know myself if it's an issue but the comment I linked make me think so.

[2017-10-23 23:40] hadeelm24 opened #24672 "redirect user to a login form python"
Good Morning
actually I don’t know where is the Error
I want to enter the username and phone number and check this data  to access
I use pymongo inside python code
and HTML

**## Python Code :**
from flask import Flask, redirect, url_for, request
from pymongo import MongoClient
app = Flask(__name__)

@app.route('/success/<name>')
def success(name,Phone):
    return 'welcome %s' %name

@app.route('

[2017-10-24 06:17] iltar commented on #24625
@nicolas-grekas, here's what's actually in there (quite a lot).

![image](https://user-images.githubusercontent.com/1754678/31927214-56c6b476-b893-11e7-8c61-10fb395b2b7c.png)

[2017-10-24 06:28] iltar commented on #24672
![](https://img.memecdn.com/wat-wat-wat-oh-wait-why-im-doing-this_o_2044883.jpg)

Are you looking for https://stackoverflow.com/ ?

[2017-10-24 06:47] javiereguiluz commented on #24672
Closing because this issue doesn't have anything to do with Symfony.

[2017-10-24 06:47] #24672 closed

[2017-10-24 08:33] jakzal commented on #21213
Seems to be [a PHP problem on Windows](https://bugs.php.net/bug.php?id=75199). Is there really anything we could do in Symfony?

[2017-10-24 08:58] jakzal commented on #22381
👎

I agree this is a feature, not a bug. Not being able to switch to a disabled account is more of an edge case and could always be implemented in user land. Doing it the other way around would be harder.

Voting to close.

[2017-10-24 09:21] jakzal commented on #23249
I think this is not possible as it would require making `remote_user` stateful to share the authentication context (see #8614 #18406).  Perhaps you could [leverage guard](https://symfony.com/doc/current/security/multiple_guard_authenticators.html#multiple-authenticators-with-shared-entry-point) in some way to accomplish what you need.

What order are your firewalls registered in?

[2017-10-24 09:24] chalasr commented on #22381
Agree.

[2017-10-24 09:24] #22381 closed

[2017-10-24 09:26] acidjames commented on #18523
@jakzal  I guess this can be closed

[2017-10-24 09:28] javiereguiluz commented on #18523
Closing then. Thanks!

[2017-10-24 09:28] #18523 closed

[2017-10-24 09:41] gander commented on #21616
ping

[2017-10-24 09:43] jakzal commented on #23265
This is a common approach to make compiler passes optional. If the dispatcher is not present, the compiler pass won't be run. Most of compiler passes follow this approach.

Historically, the `RegisterListenersPass` compiler pass has been a part of the HttpKernel component, but was later moved to EventDispatcher (see #9792). Perhaps this check doesn't make sense anymore.

[2017-10-24 10:00] stof commented on #23265
Well, for the event dispatcher, FrameworkBundle does not register the service conditionally. So we might change it. But most compiler passes need to keep the silent skipping, due to features being optional (and so the compiler pass must not fail if the DI extension has not registered the service).
starting to make 1 or 2 passes fail loudly in this case opens the door to broken contributions changi

[2017-10-24 10:15] jakzal commented on #23298
@zacharyzh your English is perfectly fine, no need to apologise.

The MonologBundle merely [configures monolog services](https://github.com/symfony/monolog-bundle/blob/master/DependencyInjection/MonologExtension.php#L308), so if you think the [rotating file handler](https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/RotatingFileHandler.php#L124) misbehaves I think it should rather

[2017-10-24 10:15] #23298 closed

[2017-10-24 10:29] dialogik commented on #23209
@xabbuh Follow my logic:

* I am using the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
* I did not make any modifications to the Swiftmailer configuration in `app/config/config.yml`
* I do not use any mail functions at all, e.g. by calling the Swiftmailer service
* Despite the before mentioned points, my app tries to flush the email queue

Thus: In my opinion there is n

[2017-10-24 10:47] jakzal commented on #23209
Following your steps @dialogik doesn't yield the same results for me.

The spool won't do anything if there's no messages (see https://github.com/swiftmailer/swiftmailer/blob/master/lib/classes/Swift/MemorySpool.php#L78), so something in your app must be sending a message. Otherwise, please provide a full app based on a fresh standard edition project that would help to reproduce the problem.

[2017-10-24 11:00] #21213 closed

[2017-10-24 11:05] javiereguiluz commented on #23258
Closing as "won't fix" because of the mentioned security concerns. Symfony always tries to be "safe by default", so 'm afraid we cannot change this.

[2017-10-24 11:05] #23258 closed

[2017-10-24 11:32] javiereguiluz commented on #20296
@joachim-n I've tested your code and it doesn't work for me:

[code]

It's a bit cumbersome, but you could do this to remove some options:

[code]

My only question would be: is this feature something needed that should be implemented ... or is it an edge-case and we can ignore it? Thanks!

[2017-10-24 12:26] jakzal commented on #21735
@lstrojny the alternative is to [decorate](https://symfony.com/doc/current/service_container/service_decoration.html) or replace the service.

[2017-10-24 12:35] chalasr commented on #24652
Fixed in #24660

[2017-10-24 12:35] #24652 closed

[2017-10-24 12:58] jakzal commented on #20041
Confirmed the output is not available until the process is stopped. @nicolas-grekas is this expected?

[2017-10-24 14:06] jakzal commented on #21247
Since the file that stores this bit of information was first generated the rounding increment has always been [0 for CHF](https://github.com/symfony/symfony/blob/00acb372052d115d36b652c8dad3deb37cf59784/src/Symfony/Component/Intl/Resources/data/currencies/meta.json#L347). I tracked it back to [the source file from the ICU repo](http://bugs.icu-project.org/trac/log/tags/release-59-1/icu4c/source/da

[2017-10-24 14:12] BoShurik opened #24674 "[DependencyInjection] Accessing value of resolved env parameters"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0-BETA1

Hello!

I have following file with secrets:
[code]
In my services.yaml I've got this:
[code]
I don`t want to pass entire secrets to services. I tried following:
[code]
and this work fine, but only in service defi

[2017-10-24 14:20] Taluu opened #24675 "[DI] Monolog Tag + _instanceof with autowiring fails"
| Q                | A
| ---------------- | -----
| Bug report?      | yes ?
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.9

This is a bit related to https://github.com/symfony/monolog-bundle/issues/218 and https://github.com/symfony/monolog-bundle/issues/228. With a service having a `Psr\Log\LoggerInterface` dependency, if the `monolog.logger` t

[2017-10-24 15:07] jakzal commented on #23557
You shouldn't pass the action manually, but rather select the button you want to submit:

[code]

Full example. Given a page with two buttons:

[code]

and a script

[code]

it will dump:

[code]

[2017-10-24 15:07] #23557 closed

[2017-10-24 15:51] javiereguiluz opened #24676 "[TwigBridge] Create impersonation_exit_path() and *_url() functions"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.1

Creating the URL to exit a user impersonation is much harder than expected because even the HTTP query parameter name is configurable (see https://github.com/symfony/symfony/commit/a3253f6db686adbaca39e0e034af49e7ab293ab2). Giv

[2017-10-24 16:01] #24567 closed

[2017-10-24 16:16] thomas-hiron opened #24678 "Autowire CacheItemPoolInterface with default_lifetime"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

The **default_lifetime** configuration doesn't seem to be working with an autowired **CacheItemPoolInterface** (using Filesystem).
Here is the code:
[code]

The configuration:

    framework
        cache:
            app: c

[2017-10-24 16:20] nicolas-grekas commented on #24678
type hinting will provide you the "cache.app" service, but you're setting the default lifetime on service "name" (bad service name btw).

[2017-10-24 16:36] dameer opened #24679 "Symfony\Component\Console\Exception\RuntimeException Not enough arguments (missing: "package")"
Hi!
I'm trying to install Carbon Fields library via composer. One of dependencies is Symfony. Whenever I run composer installation is interrupted by error message reading:

[Symfony\Component\Console\Exception\RuntimeException]
Not enough arguments (missing: "package").

Is that anything relating to Symfony or badly composed JSON?

[2017-10-24 17:02] chalasr commented on #24679
Please paste the exact command you are executing (`composer ...`).

[2017-10-24 17:19] fabpot commented on #24676
Sounds good to me.

[2017-10-24 19:35] nesl247 opened #24683 "Annotations cannot be enabled error occurs when installing anything requiring doctrine/annotations."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0-BETA1

When running `composer require friendsofphp/php-cs-fixer:2.7-x-dev` on Symfony 4, I get the following:

[code]

This is a problem in my opinion because installing php-cs-fixer shouldn't require additional packages to ma

[2017-10-24 19:50] nesl247 commented on #24683
Yes I'm sure. I actually deleted the entire vendor dir, made sure composer.lock was back at it's previous state, aka it's definitely enabled.

I see it's happening because of the default configuration. If I put `annotations: false` in `framework.yaml`, then the error goes away.

I also tested it to make sure:

[code]

[2017-10-24 20:16] kamazee commented on #24683
Looks like fix for this recently landed to master symfony/symfony#24658

[2017-10-24 20:24] nesl247 commented on #24683
That simply adds `doctrine/annotations` to the top-level `composer.json`. The issue is that `doctrine/cache` is needed here to stop the error.

[2017-10-25 06:11] predakanga opened #24687 "Autoconfigure options overridden with PHP config"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10, 3.4.0-BETA1, 4.0.0-BETA1
| Usecase | Legacy codebase, integrating Symfony DI w/o pulling in YAML
| Demo | [repo](https://github.com/predakanga/symfony-autoconfig-testcase)

When using Symfony DI with autoconfiguration, there

[2017-10-25 06:17] friparia opened #24688 "[VarDumper] New Version of Chrome(62.0.3202.66) cannot render dd function in network preview window"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

### Description:
When updated to chrome version 62.0.3202.66, dd function cannot be rendered by chrome network preview window.

![fzr n2qqt 1c4hpj wu6a](https://user-images.githubusercontent.com/3226127/31978542-868ff794-b974-1

[2017-10-25 06:52] dameer commented on #24679
`composer require htmlburger/carbon-fields`

...according to [Quickstart manuals](https://carbonfields.net/docs/carbon-fields-quickstart/?crb_version=2-1-0) of Carbon Fields.

[2017-10-25 07:12] nicolas-grekas commented on #24687
"autoconfiguration" and "instanceof" are two separate things, even if they share some things in common.
Doing "instanceof" configuration in plain PHP is not done using registerForAutoconfiguration, but using `Definition::setInstanceOfConditionals`. But this is not trivial and requires some boilerplate.
It will be much easier using the PHP DSL btw (see fixtures in #23834)

[2017-10-25 07:16] nicolas-grekas commented on #24688
@friparia do you know any way to make it work again? Can it be made to work at all now?

[2017-10-25 07:20] thomas-hiron commented on #24678
Thanks for your help, but I think I am missing something. I changed the configuration to this:

    cache:
        pools:
            app.cache.api:
                adapter: cache.adapter.filesystem
                default_lifetime: 10
Is the same as?

    cache:
        app: cache.adapter.filesystem
        pools:
            app.cache.api:
                adapter: cache.app
                defau

[2017-10-25 07:21] predakanga commented on #24687
Thanks for the reply - I'd say the docs should be updated, but I guess it'd be better to wait for the fluent interface to land.

Is there documentation for `Definition::setInstanceOfConditionals` anywhere? I had tested that too, but saw the same behaviour; I assume I've not got the right boilerplate.

[2017-10-25 07:31] friparia commented on #24688
Well, I have found the newly updated chrome network preview also cannot render pure html document.

It is not a symfony bug, it is a chrome bug.

[2017-10-25 07:31] #24688 closed

[2017-10-25 07:40] nicolas-grekas commented on #24678
cache.adapter.filesystem is already the default so you can use:
[code]
then, there is a missing link yes :)
if you want this app.cache.api pool to be the default when typehinting the interface, you need to alias it yes. Or alternatively you can use regular D configuration and explicitly inject app.cache.api as the first argument of your "AppBundle\Api\MyApi" class/service.

[2017-10-25 07:44] nicolas-grekas commented on #24687
basically, you need to pass a key-value map to setInstanceOfConditionals, where the key is a FQCN, and the value a ChildDefinition that will apply on top only if the service's class is an instanceof this FQCN.
**And this needs to be set for all definitions** where the condition could apply. That's where it's becoming inconvenient and the Yaml/PHP DSL are required.
Better wait for 3.4 yes if you re

[2017-10-25 07:44] #24687 closed

[2017-10-25 07:57] predakanga commented on #24687
This may actually still be a bug, then - I've done as you describe, but it
still overrides public unless I call setChanges([]).

Looking into some of the tests, they seem to take this approach too. See
[ResolveInstanceofConditionalsPassTest::testProcess](
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Tests/Compiler/ResolveInstanceofConditionalsPassTest.ph

[2017-10-25 08:14] NicoHaase commented on #24679
According to https://packagist.org/packages/htmlburger/carbon-fields, there is no dependency upon Symfony components

[2017-10-25 08:35] dameer commented on #24679
How about this one:

![31951532-ad0665b6-b8de-11e7-82ef-2d0b637b4c10](https://user-images.githubusercontent.com/1826261/31988671-2bd02aa8-b970-11e7-80f3-e09172624d2c.png)

[2017-10-25 08:51] jakzal commented on #23647
This should be fixed in documentation whether we implement this feature or not.

I personally don't use config:dump-ref much but this request sounds reasonable to me. However, I think that flex might make this command even less used since we'll have configuration with basic examples done for us. For more advanced configuration we'll still need documentation.

[2017-10-25 08:56] thomas-hiron commented on #24678
Thank you very much, I used the alias solution:

    Psr\Cache\CacheItemPoolInterface:
        alias: 'app.cache.api'

[2017-10-25 08:56] #24678 closed

[2017-10-25 09:08] jakzal commented on #24204
Duplicate of #23416

[2017-10-25 09:08] #24204 closed

[2017-10-25 09:13] nicolas-grekas commented on #23416
See https://github.com/symfony/symfony/pull/24216#issuecomment-336179635
Someone needs to take over if anything should be done.

[2017-10-25 09:28] jakzal commented on #23545
:+1: I'll have a look

[2017-10-25 09:40] NicoHaase commented on #24679
I don't see any connection to Symfony there either.... and without inspecting your composer.json, nobody can give hints

[2017-10-25 09:51] jakzal commented on #23183
@dorcyv you should've run ` symfony new test && cd test && phpunit`

Notice there's no dot at the end. By giving the path you're overriding settings from `phpunit.xml.dist`. Passing a dot makes that phpunit will run ALL the tests it can find in the current directory, including vendors.  Since vendors are installed with no dev dependencies their tests might fail like you observed with some Doctrine

[2017-10-25 09:51] #23183 closed

[2017-10-25 10:05] stof commented on #23545
would it be possible to reuse the benchmark of https://github.com/webmozart/json-res-benchmark to see what happens when using static arrays in shared memory ?

[2017-10-25 10:14] jakzal commented on #18183
Firstly, introducing such an indirection in Symfony itself wouldn't be viable at this point as I can't see how this could be implemented in a BC way without obscuring the code with lots of BC layers.

Secondly, in my own code I'd prefer to explicitly write an adapter from one component to another, rather than have it automatically generated for me. It's almost never as simple as proxying to the de

[2017-10-25 10:24] jakzal commented on #17043
ping @teohhanhui

[2017-10-25 10:28] jakzal commented on #15476
Closing as this is a rather rare use case (given not many contributed to the discussion) and the prototype scope is being removed.

[2017-10-25 10:28] #15476 closed

[2017-10-25 10:29] jakzal commented on #19364
@flip111 nice to haves are nice to have. What would be the use case? Are you willing to work on the PR? Otherwise let's close.

[2017-10-25 10:40] jakzal commented on #22616
You shouldn't be calling `save()` yourself as the framework already takes care of it. If `save()` is called twice, the second time it will throw an exception (which is the reason why you're getting different output in your test).

[2017-10-25 10:47] BoShurik commented on #24679
`composer why-not` accepts argument `package` (https://getcomposer.org/doc/03-cli.md#prohibits-why-not-) (The exception points to this)
Should be:
`composer why-not vendor/package-name`

[2017-10-25 11:17] jakzal commented on #23743
I've just tried the following code:

[code]

which dumps:

[code]

Since the issue can no longer be reproduce I'm closing this issue. Let's reopen if/when there are any new insights.

[2017-10-25 11:17] #23743 closed

[2017-10-25 11:33] chalasr commented on #24679
And this argument is required, thus this is just a misuse of a composer command which relies on the symfony console. Closing

[2017-10-25 11:33] #24679 closed

[2017-10-25 12:14] chalasr commented on #18183
Given the lack of reactions and we are able to solve this problem differently (writing adapters in userland) I don't think it's worth pursuing either.

[2017-10-25 12:37] jakzal commented on #23576
@aumel thanks for taking time to reproduce this issue. Seems that the original problem is replaced by a new one. This is what I'm getting now (on PHP 7.1.10 with PHPUnit 5.7.23):

[code]

The problem is caused by PHPUnit coming with `phpdocumentor/reflection-dockblock`. If you run it as a phar the version might be different to the one installed in your project.

Symfony 2.8 branch relies on `phpdo

[2017-10-25 12:39] backbone87 commented on #18183
No problem, this wasnt a fully thought through idea anyway, but i was curious about responses and maybe others picking up on it.

I am closing this, but just some final note: The primary goal of this idea was to fully remove intercomponent dependencies, which the "half-automatic adapter generation" is an important part of, but not the main purpose.

[2017-10-25 12:39] #18183 closed

[2017-10-25 13:12] jakzal commented on #18183
I'm afraid dependencies would still be there. Just hidden!

[2017-10-25 13:18] javiereguiluz commented on #23653
@HeahDude would you consider this a bug of `$form->handleRequest()` or is this the expected behavior? Thanks!

[2017-10-25 13:24] backbone87 commented on #18183
From an architectural standpoint, the dependencies are gone, but instead you require an implementation (of your own interface). In end ofc, someone "has to do the work".

There was a ticket that proposed separating the TranslatorInferface into an own package, because they required the Translator component just for the interface to be used by the Validator component, but have their own translation

[2017-10-25 13:46] jakzal commented on #23782
@zmorris ping

[2017-10-25 13:51] jakzal commented on #23892
@binhle410 any news?

[2017-10-25 13:54] jakzal commented on #23788
Is this still the case @Taluu ?

[2017-10-25 14:00] jakzal commented on #24005
anything to do here?

[2017-10-25 14:06] nicolas-grekas commented on #24005
Closing as this is expected behavior and there are ways around when it's not the desired one.

[2017-10-25 14:06] #24005 closed

[2017-10-25 14:10] jakzal commented on #20965
Shall we close this and #24044, since most of us agree it's too risky to change and workarounds exist?

[2017-10-25 14:24] jakzal commented on #24430
@Gregoire-M have stof's idea solved your problem?

[2017-10-25 14:45] HeahDude commented on #23653
It may come from the ResizeFormListener if this is about a collection field. But we don't have enough information to be sure of what's actually happening.

@OkieRazorback could you please create a [reproducer](http://symfony.com/doc/current/contributing/code/reproducer.html) for this bug? Thanks!

[2017-10-25 14:45] HeahDude commented on #20965
:+1: for closing.

[2017-10-25 14:57] #20965 closed

[2017-10-25 14:59] jakzal commented on #24044
Thank you for taking time to submit this bug report with the sandbox. Very helpful!

However, as you probably expected Symfony relies on this behaviour, see https://github.com/symfony/symfony/issues/20965#issuecomment-339342545

[2017-10-25 14:59] #24044 closed

[2017-10-25 15:18] jakzal commented on #24534
re #23771

[2017-10-25 15:24] jakzal commented on #24550
@rcwsr are you able to provide more details please? A small, failing test case would be nice.

[2017-10-25 15:48] emodric opened #24690 "Responses are cached with max-age=10800"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0-BETA1

Since upgrading to Symfony 3.4.0-BETA1 fom 3.3.10, suddenly all responses started receiving `Cache-Control` header with `private, max-age=10800, no-cache, private` value and a response code `304 Not Modified`, which mea

[2017-10-25 16:04] Gregoire-M commented on #24430
@jakzal It works, but the resulting code looks too complicated to me. For now, I've resigned myself to execute the `refresh` each time.

[2017-10-25 16:23] xabbuh commented on #24690
Are you sure that you just do not have a listener which adds the `Cache-Control` header in case no session was started?

[2017-10-25 16:23] rcwsr commented on #24550
Sorry, I'll try and put something together tomorrow

[2017-10-25 16:25] emodric commented on #24690
Well, the issue is present on authenticated requests too, so I doubt that's the problem.

[2017-10-25 16:43] nicolas-grekas commented on #24690
Fixed in #24691

[2017-10-25 16:48] fabpot commented on #24534
Closing as a duplicate

[2017-10-25 16:48] #24534 closed

[2017-10-25 16:56] emodric commented on #24690
Okay, after applying #24691, the header is `private, max-age=0, no-cache, private`, but the response is still `304 Not Modified`. Not sure if that is right...

[2017-10-25 17:07] nicolas-grekas commented on #24690
304 can only happen when doing conditional validation, which means something is responding (what?) base on a header sent by your browser (If-Modified-Since of If-Match). Please check on your side.

[2017-10-25 17:40] emodric commented on #24690
@nicolas-grekas I will dig deeper tomorrow to try and find why 304 happens, but the fact is that before #24523, response was `200 OK`, and after it's `304 Not Modified` and in both cases, my request is identical, and contains `If-Modified-Since` header.

[2017-10-25 18:32] emodric commented on #24690
Okay, I think that it might be Apache who sends 304 back to the browser, as I've done tests with Symfony's built in server and no 304 appears.

However, before #24523, response from Symfony was:

[code]

and after:

[code]

and then after #24691:

[code]

If Apache is indeed responsible for 304, duplicated `Cache-Control` headers might be the reason why? WDYT @nicolas-grekas ?

[2017-10-25 19:55] weaverryan commented on #24683
This looks like a legit bug to me. As soon as the Annotations class is available, the annotations system defaults to enabled. But, then the default cache is php_array, which causes this error.

It seems to me that is the presence of the annotations lib activates the annotation system, and because doctrine/cache is optional, it should not fail if it is not there. I think we should default to “none”

[2017-10-25 20:13] weaverryan commented on #24675
Is it important that the tag is added on the instanceof? Do you get the same error if you tag the service directly?

It definitely seems like there’s a legit issue here, in Symfony or MonologBundle

[2017-10-25 20:54] HeahDude commented on #23653
Actually it's not a bug, it is expected that on removal the listener keeps the index of each element.

So using a transformer as proposed by @jvasseur is half a solution because in your case it has to be a model transformer which does not reapply the changes on the view data if the view is generated after submission (invalid or without redirection).

So it must happen in a `SUBMIT` event after the

[2017-10-26 00:46] Tobion commented on #24690
What might happen is that Apache generates an ETag header now due to the presence of the max-age directive.
And then the browser does a conditional get with the etag. Apache then returns 304 as the reponse didn't change.

[2017-10-26 01:19] #24546 closed

[2017-10-26 04:29] predakanga commented on #24687
I can confirm that using setInstanceOfConditionals as described still doesn't work: [see config](https://github.com/predakanga/symfony-autoconfig-testcase/blob/master/di_config.php)

It's set up with only one definition, so it should definitely be covering the registration, but ConsoleApplication still ends up private.

On the bright side, using the fluent interface on 3.4.0-BETA1 worked beautiful

[2017-10-26 05:26] emodric commented on #24690
Although multiple `Cache-Control`headers are supposed to be valid, Apache may also act out due to missing `no-cache` section in the first header.

I can provide HAR files for requests and responses if that would help. In any case, I'm not sure if it is okay to have a `max-age` if users don't explicity say so in their controllers.

[2017-10-26 06:07] nicolas-grekas commented on #24687
Ok, so manual config is missing some boilerplate which the PHP DSL has. No bug here, you're not supposed to use these conditionals when wiring fully manually, because you know the type of your services then, which means there is nothing conditional from the writer pov, isn't it?

[2017-10-26 09:08] predakanga commented on #24687
I honestly don't see anything missing - every directive in the DSL version maps to a directive in the PHP config version. I can't find any examples of this boilerplate that's missing.

As to using the conditionals when I know the types of the services, that's only for the simplified test case. I know I could configure it manually, but I can't in the real code.

[2017-10-26 10:14] nicolas-grekas commented on #24687
The way it works in the DSL is this one:
[code]
See src/Symfony/Component/DependencyInjection/Loader/FileLoader.php

[2017-10-26 10:24] Tobion commented on #24690
whether the no-cache directive is there or not, should not make a difference. max-age=0 should mean the same as an expires header in the past. no-cache would just say, the client needs to revalidate. but that is the case anyway due to max-age=0. no-cache just ensures stale responses are not used as well. but that is not the case anyway since you receive a 304.

so to me #24691 fixes the problem an

[2017-10-26 10:27] #24690 closed

[2017-10-26 10:45] emodric commented on #24690
@Tobion If you say so :) But just to be clear, I experienced this on a developer machine where I have Apache installed with a default configuration, so the chances that many developers run into this is high I'd say. Receiving 304 instead of 200 all of a sudden because of the different caching headers could potentially be considered a BC break in my opinion.

[2017-10-26 10:53] Tobion commented on #24690
What functionality breaks? The page still works doesn't it?

[2017-10-26 11:05] emodric commented on #24690
I was thinking more about the infrastructure if it expects to receive 200 and now starts receiving 304. This is just a wild guess, nothing more. If you say it's a non issue, who am I to argue :)

[2017-10-26 11:51] emodric commented on #24690
Sorry for being a pain, but I've played around with my site with this fix, and sorry to say, but browser still caches my responses in the backend of my custom app, when I'm fully authenticated.

I realize that this is not necessarily Symfony's fault, but many users will not know the difference and will have their apps broken and blame Symfony.

[2017-10-26 17:41] mathieuTripblan commented on #13994
Hi,
@sstok  I was the official doc of symfony. it's seems like we can not customize user checker class with symfony2.7 .
Any Idea?
thanks

[2017-10-26 18:38] persiasama opened #24698 "[Security] cutomize authentification Symfony2.7"
I'm using Symfony2.7 then I would like that when disable users (enabled=0) try to get logged symfony don't reject them.
I tried this but it doesn't work or Symfony2.7
https://symfony.com/doc/current/security/user_checkers.html.

So I think to create my own authentification service to manage it manually?
So is it a bad idea? what are the risks for security.

thanks

[2017-10-26 19:25] mimol91 opened #24700 "[Doctrine] / Symfony Query param is an object instead of scalar."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Symfony version  | 3.3.10

Hello.
Recently I've found very unique bug. Generally speaking doctrine instead of passing ID of entity to query,  pass whole object as a parameter (Look on query 3)
![screen](https://user-images.githubusercontent.com/2659069/32071460-676b36e4-baa0

[2017-10-26 20:06] antalaron opened #24702 "[TwigBridge] Bootstrap 3 horizontal layout not renders correctly the checkbox"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0-BETA1

In 3.4.0-BETA and probably in 4.0.0-BETA, because of the refactorization, and extension of Bootstrap form themes in #21751 the checkbox render is failing for Bootstrap 3.

3.3.10 (good):
![kepernyofoto 2017-10-26 - 21 5

[2017-10-26 21:17] fancyweb commented on #24700
I think I already faced your problem and reported in the doctrine repo (cf https://github.com/doctrine/doctrine2/issues/6073).
I'm also using deserialized entities as query parameters and they are not converted to their identifiers.
Unfortunately, the fix I made wasn't accepted due to the performance loss it would involve.
Try to force the loading of your entity metadata before running your query

[2017-10-26 22:27] dmaicher commented on #24698
As this is not an issue with symfony itself I would suggest to have a look here instead: https://symfony.com/support

[2017-10-26 22:48] chalasr commented on #24698
This is not a bug, nothing we can do for 2.7. Hope you find a workaround on support platforms

[2017-10-26 22:48] #24698 closed

[2017-10-26 22:49] chalasr commented on #24698
Perhaps you can [decorate](https://symfony.com/doc/current/service_container/service_decoration.html) the `security.user_checker` service.

[2017-10-27 01:13] Tobion commented on #22616
This looks like a bug. The NativeSessionStorage does not throw an exception when saving twice. A `session_write_close` on an inactive session is just ignored and does nothing. The mocked session must have the same behavior otherwise the two implementations are inconsistent.

[2017-10-27 01:29] Tobion commented on #24569
This is basically fixed with #24671 when enabled, isn't it?

[2017-10-27 02:18] vudaltsov opened #24704 "[DependencyInjection] PHP configuration doesn't support string factory"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4 and higher

Works:
[code]
Works:
[code]
Doesn't work and says `Cannot dump definition because of invalid class name ('Doctrine\\ORM\\EntityManagerInterface:getRepository')`:
[code]

[2017-10-27 06:41] jakzal commented on #22616
Well, the logic was deliberately introduced in #6362

[2017-10-27 08:04] blacksonic commented on #21534
Will be there a fix for this? I consider the aliasing as a monkey patch, not a real fix.

[2017-10-27 08:17] xabbuh commented on #21534
There shouldn't be any issue if you are using a recent version of the PhpUnitBridge or PHPUnit itself.

[2017-10-27 08:17] ro0NL commented on #24704
not sure it should allow for concatted strings; kinda defeats specialized API.

Inferring a ref might do :+1: so that `factory([ref(EntityManagerInterface::class), 'getRepository'])` equals `factory([EntityManagerInterface::class, 'getRepository'])`. I wouldnt go any further.

[2017-10-27 08:51] mimol91 commented on #24700
@fancyweb Hey,You are right, invoking `getClassMetadata` solve problem.
I am just curious, why it didnt no happen when removing `select count` or using Doctrine repo instead of services., and this Circular reference  which does not show when got doctrine-migrations.

[2017-10-27 08:58] nicolas-grekas commented on #24704
@vudaltsov PR welcomed to fix it, that should be supported IMHO to ease migrating from yaml to php.
@ro0NL those two syntax mean something different (service vs static call).

[2017-10-27 09:03] ro0NL commented on #24704
Note that `args(['@ref'])` also eases migration :) I would favor specialized API and do migration via a new convert command or so.

[2017-10-27 11:50] blacksonic commented on #21534
Using it with PHPUnit itself results in error. I don't know if this bridge works with Silex.

[2017-10-27 12:05] curry684 commented on #21534
But this is the Symfony issue tracker, not Silex'.

[2017-10-27 13:21] xabbuh commented on #21534
@blacksonic Which PHPUnit version and which error?

[2017-10-27 13:39] ro0NL commented on #24540
Thanks for reporting, will look into that :+1:

ref https://github.com/symfony/symfony/pull/24236 / 3.4

[2017-10-27 14:01] RonanSauvage commented on #21789
Hello,

I'm not sure this developement is compliant with SF's best practices but it has the merit of making ChoiceQuestion available with "choices" argument on Windows' CLI.

I've not found similar function to that Console\Helper->getOSTerminal().

I've tried with two differents OS (WIN & LINUX) and results have all been within the expected function questionHelper->ask().

You can see it in : http

[2017-10-27 14:04] jakzal commented on #23545
PHP 7.1.10

Memory & Peak Memory 2048kB in all cases.

Notes:
* used en_GI instead of en_GB as the later's not created anymore
* loaded an additional `meta` file in each benchmark as the `root` file doesn't contain Alpha3ToNumeric anymore

Previous benchmarks in brackets.

Results (opcache disabled)
--------------------------

Benchmark        | .json      | .json array | .res       | .php
-------

[2017-10-27 14:21] persiasama commented on #24698
thanks you a lot @chalasr it's working like a charm

[2017-10-27 14:24] jakzal commented on #23545
I think the reason why json was chosen might've been @bojanz'es comment:

and @rszrama's

[2017-10-27 14:41] javiereguiluz commented on #23545
@jakzal what would be your recommendation? Switch to PHP? Keep things unchanged? Thanks!

[2017-10-27 14:54] elmariachi111 commented on #21026
This one's fixed by https://github.com/symfony/symfony/pull/24036 ! FINALLY! Thank you so much 😘

[2017-10-27 14:55] #21026 closed

[2017-10-27 14:55] chalasr commented on #21026
Closing then

[2017-10-27 16:43] jakzal commented on #23545
@javiereguiluz research in progress ;)

[2017-10-27 17:10] j92 commented on #24507
I have been working on implementing the deprecation of aliases. I applied the same logic as for services, so we can deprecate an alias like this:
[code]

Or we can deprecate an alias providing a deprecation template:
[code]

I submitted a WIP pull request to get early feedback: #24707.

[2017-10-27 18:58] xabbuh commented on #24702
should be fixed by #24711

[2017-10-27 19:03] kbond commented on #24569
#24671 solves this problem for me.

[2017-10-27 22:33] Elsensee opened #24714 "[Console] Console actually is dependent on Dotenv"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

I gave Symfony 4 a go and installed it with composer - everything went well. But when I ran a `composer install --no-dev` the `symfony/dotenv` component got removed and thus the script `cache:clean` returned with error code 255

[2017-10-28 00:32] Tobion commented on #24714
The symfony/console component does not depend on dotenv. What requires it is the console flex recipe: https://github.com/symfony/recipes/blob/master/symfony/console/3.3/bin/console

[2017-10-28 00:45] Tobion commented on #24714
Also installing with --no-dev only makes sense for deployment. But there you should also have the env variables set. And then it will not use the dotenv. So your actions seems strange. i think all we need to do is throw an explicit exception in bin/console when APP_ENV is not set and dotenv not installed to help explain the situation.

[2017-10-28 07:57] xabbuh commented on #24714
I agree with @Tobion. But as this is something that needs to be fixed in the recipes repository I am going to close here.

[2017-10-28 07:57] #24714 closed

[2017-10-28 07:58] #24569 closed

[2017-10-28 08:01] xabbuh commented on #21789
@RonanSauvage It's better to open a pull request with your changes as that eases reviewing the code and you will also see the full result of our test suite on Travis CI and AppVeyor.

[2017-10-28 08:07] xabbuh commented on #13994
@persiasama The easiest move would be to update to Symfony 2.8. Otherwise, you will have to dig into what the SecurityBundle is doing and replace some internal services so that your custom user checker is used.

[2017-10-28 08:23] Mika56 opened #24715 "Failed to start the session because headers have already been sent by "" at line 0"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.27

Hi,
After upgrading from Symfony 2.3 to 2.8, one of my routes stopped working.
This route is called from Javascript, via a XHR request.

The first bug I saw is that the request is done via POST (confirmed by both developer t

[2017-10-28 10:44] ossinkine commented on #24343
@kokmok
Could you please provide more information? I try to reproduce and all work for me.
I've created 2 models and the trait:
[code]
[code]
[code]
I have validated empty User model in the controller:
[code]
And I've got 2 violations:
[code]

[2017-10-28 11:30] antalaron commented on #24702
Yes. I can confirm that.

[2017-10-28 13:51] symio opened #24718 "upgrade 2.8 to 3.3 break"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.3.10

I just passed few hours trying to migrate my sf 2.8(.28) application to 3.3(.10) following both guides :

- http://symfony.com/doc/current/setup/upgrade_major.html
- http://symfony.com/doc/current/setup/upgrade_minor.html (

[2017-10-28 14:08] Simperfit commented on #24715
Could you do the following, so we could get a reproducer ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

[2017-10-28 16:06] #24702 closed

[2017-10-28 19:59] alexmarucci commented on #24537
Thank you @Karthons for creating this bug report!

I just created a fresh 3.3.10 project and I have followed the steps in your description above.
When trying to call the serialize function of the FormError's object I have got the same exception.

I reproduced the bug in the "feature/form_serialization_bug" branch of https://github.com/alexmarucci/symfony-standard/

Status: Reviewed

[2017-10-28 21:10] kejwmen commented on #24718
Hi @symio,
I will try to explain what's going on.

This is 3.3 related - http://symfony.com/blog/new-in-symfony-3-3-webserverbundle and not considered as BC Break. Requires configuration change (you need additional dependency), but don't change any of existing behaviors, so it's fine - `UPGRADE` files (like [this for 3.3](https://github.com/symfony/symfony/blob/master/UPGRADE-3.3.md)) include a li

[2017-10-28 22:09] #24540 closed

[2017-10-28 22:26] vudaltsov opened #24729 "[HttpKernel] Strange controller argument behaviour"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4 (maybe earlier)

With default routing and services configuration create a simple controller with a non-service class like this:

[code]

Expected result: an exception about wrong argument. Actual result:

![image](https://user-i

[2017-10-28 22:35] vudaltsov opened #24730 "[WebProfilerBundle] Redirects are not detected"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

[code]

![image](https://user-images.githubusercontent.com/2552865/32139114-6d946dce-bc49-11e7-8f96-41344cebb900.png)

[2017-10-28 22:54] kejwmen commented on #24730
Is not related to [configuration](https://symfony.com/doc/current/reference/configuration/web_profiler.html#intercept-redirects)?

[2017-10-28 22:58] vudaltsov commented on #24730
@kejwmen, no. Profiler should show `Redirected from ...` regardless of `web_profiler.intercept_redirects`.

[2017-10-28 23:22] johndodev opened #24731 "[security] serialize the user, again"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes/no
| BC Break report? | no
| RFC?             | no
| Symfony version  | silex 2

One more time I have a "Class __PHP_Incomplete_Class has no unserializer" thanks to security component. It is probably caused by a doctrine relation, the security component wants to serialize a proxy or something, I don'

[2017-10-29 06:28] Simperfit commented on #24715
Status: Needs Review

[2017-10-29 06:37] Snake-Tn opened #24734 "[Form] Can not apply ViewTransformer to IntegerType form field"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3

Creating a `viewTransformer` for an `IntegerType` in order to transform it to an entity Object throw an exception.
It's because 'IntegerType'  per default has its own `viewTransformer` called `IntegerToLocalizedStringTransform

[2017-10-29 07:43] Simperfit commented on #24676
I'm working on it

[2017-10-29 08:07] mvrhov commented on #24729
AFAIR this is expected behavior since 3.4 and controller action injection.

[2017-10-29 08:24] Simperfit commented on #24560
Should we update the interface, or maybe change the behaviour when retuning null WDYT ?

[2017-10-29 10:04] vudaltsov commented on #24560
`null` is returned when the form has an empty name. It allows for unprefixed children.

[code]

[code]
We cannot change this behaviour, obviously.

[2017-10-29 10:41] #21222 closed

[2017-10-29 10:50] iltar commented on #24731
The `__PHP_Incomplete_Class` sounds like it can't find your class, perhaps something in the FQCN changed?

I agree that it should be simplified, but there's one thing you can do already: https://stovepipe.systems/post/decoupling-your-security-user

[2017-10-29 11:24] nicolas-grekas commented on #24683
Anyone willing to work on a PR to fix this one?

[2017-10-29 11:27] nicolas-grekas commented on #24675
I don't think this is expected to work out of the box, it's a new feature to me:
the tag means "when a ref to a service named `logger`, pass it this channel"
here, there is no ref to any "logger" service.
Thus, if this should work, it should be as a new feature in MonologBundle.
Closing as such.

[2017-10-29 11:27] #24675 closed

[2017-10-29 11:51] johndodev commented on #24731
Yes that's the blog I was talking about and what I'm doing, but if it is the only solution to have a proper login system it should be on the official doc...

I dont know about my FQCN, i'm not doing any fancy things, just a user with some relations.

:(

[2017-10-29 11:58] dohpaz42 opened #24742 "PropertyAccessor::writeProperty() throws misleading NoSuchPropertyException"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | master

I had (incorrectly) architected myself into a situation where I have an entity without a setter for a property, and when trying to hydrate the entity from a FormType, I would get the following exception:

I'm not always a sm

[2017-10-29 12:00] nicolas-grekas commented on #24674
Using expressions in parameters is not supported, so this cannot work indeed.

[2017-10-29 13:10] BoShurik commented on #24674
@nicolas-grekas maybe I understand this feature incorrectly and accessing env arrays is not supported. Is it possible to access specific keys from secrets file in compile time?

[2017-10-29 14:05] nicolas-grekas commented on #24674
You've got everything right, except that accessing a specific key is not supported...

[2017-10-29 14:53] BoShurik commented on #24674
@nicolas-grekas If I want to set secrets, I should use separate file for any service, e.g. database, redis and so on. I can't store it in one file. Am I correct?
[code]

[2017-10-29 16:07] sroze commented on #24683
Fixed in #24743

[2017-10-29 16:55] nicolas-grekas commented on #24674
Correct

[2017-10-29 17:56] weaverryan commented on #24639
Fixed in #24744

[2017-10-29 20:29] mimol91 opened #24748 "[Routing] Overriding route puts route on end of collection."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes?
| BC Break report? | no
| RFC?             | no
| Symfony version  | all

I am working on application which define different route parameters depending on subdomain (for simplicity lets call them languages)

For example there are `en`, `pl`, `gb` sub domains. Which may override some global routes (d

[2017-10-29 20:53] #24683 closed

[2017-10-29 20:58] #24639 closed

[2017-10-29 21:12] FyiurAmron commented on #8871
is adding

`public function resetDirs() { $this->dirs = []; }`

to `Finder.php` too much to ask?

[2017-10-29 21:18] nicolas-grekas opened #24749 "DST time is making CI fail"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

ping @maidmaid, tests are failing because they cannot handle DST :)

[2017-10-29 21:47] sashaaro commented on #24731
What about introduce to TokenSerializerInterface like that
[code]

[2017-10-30 05:13] Simperfit commented on #24433
@dkarlovi since #24523 has been merged, do you want to implement that feature ?

[2017-10-30 07:41] fancyweb commented on #24734
You can use the `resetViewTransformers` method before adding yours to get rid of the existing one.

I think you can also "force prepend" your transformer (by setting the second argument of the `addViewTransformer` to `true`) so your transformer is actually executed after the existing one (for the view to norm transformation).

[2017-10-30 07:55] dkarlovi commented on #24433
@Simperfit seeing you're doing #23910, I'll do this, yes.

[2017-10-30 09:00] aumel commented on #23576
@jakzal Thanks! I didn't notice the difference between PHPUnit and Symfony 2.8 for `phpdocumentor/reflection-dockblock`.

[2017-10-30 09:13] Richard87 opened #24753 "[Form] empty_data is not used when creating form"
| Q                | A
| ---------------- | -----
| Bug report?      | test
| Feature request? | no
| BC Break report? |
| RFC?             | no
| Symfony version  | 3.3.10

Maybe related to #21890

I ran `symfony new TestManyToOneForm` and copied over my formtypes and DTO's from an existing project and created this: https://github.com/Richard87/TestManyToOneForm

Basically, `empty_data` does not

[2017-10-30 09:29] chalasr commented on #24718
Going from 2.8 to 3.3 is a huge upgrade, you should have a look at UPGRADE-3.0 to UPGRADE-3.3 files, they are in the root directory of this repository.

About the directory structure, updating your dependencies cannot make update it, that's up to you to keep it in sync with best practices.

For `server:*` commands, see the corresponding [upgrade note](https://github.com/symfony/symfony/blob/master

[2017-10-30 09:31] mvrhov commented on #24731
No workarounds serializer interfaces etc, the only proper solution is what @iltar is suggesting.

[2017-10-30 10:06] javiereguiluz commented on #24715
If you need help creating the "bug reproducer", please read this article: https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-10-30 10:07] javiereguiluz commented on #24700
Let's close this because at the moment it looks like a Doctrine bug. We'll reopen if needed after Doctrine fixes it. Thanks!

[2017-10-30 10:07] #24700 closed

[2017-10-30 10:08] persiasama opened #24754 "Facebook API [Login / Security]"
Hi,
I'm developing a website where users can create an account with email + password or just via login with facebook (in one click).
I want to give them to possibility to disable their account but before they must enter their password.
For the first users ( who  create an account with email + password ) it is ok.
But for others (facebook users) I can't ask them for password because they are logged

[2017-10-30 10:08] #24561 closed

[2017-10-30 10:29] #24731 closed

[2017-10-30 10:30] javiereguiluz commented on #24754
@persiasama in this GitHub repository we only discuss about Symfony bugs and new features. For this kind of questions about using Symfony, please use any of the support alternatives shown in https://symfony.com/support Thanks!

[2017-10-30 10:30] #24754 closed

[2017-10-30 12:26] Bukashk0zzz commented on #24270
Any news about this issue? Are there any plan to add ability of using env variables in compile time?

[2017-10-30 14:06] #23576 closed

[2017-10-30 14:15] #24749 closed

[2017-10-30 15:35] dreamer79 opened #24757 "commits break yml parsing when using anchors"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Symfony version  | 2.7

commit faf671db0f7493c15fdcef8446b9472a1ce80445
commit c891413f6c82257777eb3673827eea3ee47f0501

These commits clear $this->refs inside the Symfony\Component\Yaml\Parser\parse method and references to anchors in previously parsed files don't work. Removing the lines solves the problem and configura

[2017-10-30 15:49] jvasseur commented on #24757
References were never supposed to work across files, the fact that it used to work was a bug that is fixed by the commits you linked.

[2017-10-30 16:23] stof commented on #24757
Closing this issue, as things are now working as expected. Parsing 2 separate Yaml files should not impact each other.

[2017-10-30 16:23] #24757 closed

[2017-10-30 16:56] dreamer79 commented on #24757
So you say in config.yml I can't include a file that is linked to anchors in config.yml to override just some of the fields, but have to duplicate the whole structure in the main file? Because the problem I describe is about the following scenario:

config.yml

Import:
      -resource{file1.yml}
      -resource{file2.yml}

File1.yml
Params: &params
     Test: test
     test1: 123

File2.yml
Params

[2017-10-30 17:12] stof commented on #24757
Well, Symfony DependencyInjection has a concept of imports. But this does not means that both YAML files become linked together at the YAML level.

Btw, you don't need to duplicate the whole structure if you just want to override some settings, as the other file is still imported. You just need to configure what is needed for the override.

[2017-10-30 18:03] #24552 closed

[2017-10-30 23:45] BenoitDuffez commented on #3824
Huge thanks, @marcoalbarelli. I even added another parameter: the prototype name, which I needed because I have nested collections (collections of collections) which imply having different prototype names to avoid collision.

[2017-10-31 01:07] issei-m commented on #24753
The `empty_data` is the option used when data submission, the data you specified is used as default value when you empty data is submitted to the form. So not used for form initialization.

Wouldn't be `data` option is what you want?

[code]

[2017-10-31 05:23] Simperfit commented on #23778
@ro0NL Yes I guess that could work, but the goal here is to provide something easy to use and working on all platform the same way.

[2017-10-31 06:40] Herod opened #24765 "Symfony Form fails to validate multiple uniqueEntity fields"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | all

I have a problem in validating `UniqueEntity` with multiple fields.
I have the following code:

    /**
     * @ORM\Entity()
     * @ORM\Table(name="app_languages", uniqueConstraints={@ORM\UniqueConstraint(name="IDX_LANGUAGE

[2017-10-31 06:44] Simperfit commented on #24765
Status: Needs Review

This behaviour occurs when you are doing something like :
`app_id=1&language_id=1` ?

[2017-10-31 06:48] Herod commented on #24765
i have the following cases (database table is empty):
lang_id = 1 app_id = 1 -> saved
lang_id = 1 app_id = 2 -> saved
lang_id = 1 app_id = 2 -> fail

[2017-10-31 07:05] Richard87 commented on #24753
Perfect, that's exactly what I wanted!

[2017-10-31 07:05] #24753 closed

[2017-10-31 07:06] dreamer79 commented on #24757
Look, Christof. I will try to explain why I find the change as a bug- it breaks old code without any sign about it(you just start composer update and all stops working) and somehow breaks the idea about importing files.

 Actually in an YAML if you need to change a single field in a nested structure you can't do it using the Symfony parser. You just lose all the other fields. And maybe you need a

[2017-10-31 07:10] ogizanagi commented on #24729
@vudaltsov : Could you try v3.4.0-BETA2 and setting the [`container.autowiring.strict_mode`](https://github.com/symfony/symfony/pull/24671) to true? It should solve this issue.

Looks a duplicate of https://github.com/symfony/symfony/issues/24569

[2017-10-31 07:35] vudaltsov commented on #24729
@ogizanagi , yes, thank you!

[2017-10-31 07:35] #24729 closed

[2017-10-31 09:27] ossinkine opened #24767 "PHPUnit tests don't detect deprecations appear during container initialization"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

For example YAML configuration contains deprecations, f.e. `config_dev.yml` contains non-escaped expressions:
[code]
In the web panel you can see notices like `Using the unquoted scalar value "!event" is deprecated since versio

[2017-10-31 12:01] mkingbe opened #24768 "autowired service is loosing visibility (gets public)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

If you load a service (autowired) in a Controller via dependency injection and try to use in a console command via ContainerAwareCommand, the service becomes public.
IMO it should not be available from ContainerAwareCommand

[2017-10-31 12:13] chalasr commented on #24768
A private service never becomes public, it's inlined and removed if referenced less than 2 times, kept private otherwise.
If you are able to `get()` such service from the container, it means it has not been removed, and you should get a deprecation notice (should find it by looking at your logs or running the command with `-vvv`), it won't be `get()`able as of 4.0.

[2017-10-31 14:04] ostrolucky opened #24772 "Make exception pages compatible with CSP"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

Currently, we *have to* declare `style-src 'self' 'unsafe-inline'` just because of symfony's exception pages. Without that, it renders page completely messed up. What's worst is that it's not made obvious this is due to CSP, be

[2017-10-31 14:16] nicolas-grekas commented on #24768
In fact, controllers are made public since #24126. This is a requirement, so no bug here.

[2017-10-31 14:26] sroze commented on #24748
@mimol91 FYI, the lines of code you refer to have been introduced by @Tobion in the following PR: https://github.com/symfony/symfony/pull/6120. Maybe he has more context :)

[2017-10-31 15:29] Tobion commented on #24748
It has always been like this even before #6120. Chaning this would be a BC break. And I don't see how to make this easily configurable. @mimol91 can't you just redefine `app_default_catch_all` at the end as well, so that it is put at the end?

[2017-10-31 15:34] chalasr commented on #24768
This is about a service injected in a controller and `get()`ed from a container aware command, not the controller itself, right?

[2017-10-31 15:36] mattwillo opened #24773 "Deprecation and renaming of Request::getRequestFormat"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3.6

I believe the naming of HttpFoundation\Request::getRequestFormat is confusing and can result in people incorrectly assuming this is the format of the request rather than the requested format of the response.

I would propose

[2017-10-31 15:40] sroze commented on #24730
This feature would only work if you have the session enabled as you can see in [the `RequestDataCollector`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php#L134). Can you confirm you have the same issue with sessions enabled?

[2017-10-31 15:48] sroze commented on #24730
Maybe you don't have the session started (anymore?) since @nicolas-grekas' updates. Not sure how we can have this feature working without session tbh...

[2017-10-31 16:24] mimol91 commented on #24748
I just want to show simple example. Of course I could do it how you suggest, but it will require to copy more than one hundred routes. - I think it can be solved by creating some custom route loader.

Maybe just by adding an 'replace' as route option will be enough? Similar like `utf-8` ? (In some future if we agree that there is more benefits to keep route position instead moving it on end set it

[2017-10-31 16:54] vudaltsov commented on #24730
The session was not enabled in the `framework.session` config...

With
[code]
Everything works as expected on 3.4 beta-2.

My fault. But with flex you have to me much more attentive not to forget to enable things.
I was testing other stuff so far and didn't think of the session at all.

[2017-10-31 17:37] mimol91 opened #24775 "[Dependency Injection] No Circular reference warning for Symfony 3.4 & Doctrine"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

Recently I've experienced quite unexpected behavior while using doctrine (https://github.com/symfony/symfony/issues/24700) After some deep investigation it seems that reason is simple -> **Circular references**.

It seems that

[2017-10-31 18:08] med004 opened #24776 "handler in symfony3"
hello,
haw to use handler for invoque data from view and persist object ( for exemple I have input name in test.html.twig .. I send value input name but how to invoque this value in handler ) !!

[2017-10-31 18:13] weaverryan commented on #24730
Yea... this worries me a little bit actually... are there any other spots where not having the session enabled might silently cause some weird issues?

[2017-10-31 22:15] Tobion commented on #24748
Sure a custom route loader can solve that. I don't know how you create the routes with annotation, yaml, php generated. But can't you identify your catch all routes and import them last? So after you overwrote the others.

[2017-11-01 05:30] Simperfit commented on #24776
I don't understand what you want to achieve but github issues are more for bug reporting and new feature, maybe you should ask this on the [#support chan of symfony or in stackoverflow](http://symfony.com/community)

[2017-11-01 05:31] Simperfit commented on #24773
👍 for me, could you provide the pull request ?

[2017-11-01 05:41] Simperfit commented on #23146
So what could we do in symfony to fix this ? @ogizanagi

[2017-11-01 05:45] Simperfit commented on #24775
I think something has to be done to improve the DX, what do you want to have in order to ease the debbuging ?

[2017-11-01 05:58] mimol91 commented on #24748
I m using dynamic loader (which dynamically read yaml files). I think it would be possible (There should be few catch-all routes). However its not the best solution, so I will try add `replace` option I think it should be possible to remember route positions read collection, and then 'sort' it.

What do You think about making this option available in Route? If I am the first one with such problem

[2017-11-01 05:59] Simperfit commented on #23087
I can create a PR, what has to be done in here ?

[2017-11-01 06:00] mimol91 commented on #24775
It would be just great to see this `Circular reference detected ` error in each SF version.

[2017-11-01 06:37] Simperfit commented on #24775
Status: Needs Review

[2017-11-01 07:24] xabbuh commented on #24776
I am closing here as we do not use GitHub for support questions. Thank you for understanding.

[2017-11-01 07:24] #24776 closed

[2017-11-01 07:45] mkingbe commented on #24768
@chalasr yes, I'm using get in a console command and I have the service injected in a controller.

[2017-11-01 08:35] xabbuh commented on #24768
@mkingbe Can you please create a small example project that allows to reproduce your issue?

[2017-11-01 08:57] ogizanagi commented on #23146
Perhaps making the `framework.translator.logging` default value `false` instead of `$this->debug`?
Disabling it only when the profiler is enabled as suggested by @stof?
Or simply update the translation recipe to set `framework.translator.logging` to false.

[2017-11-01 09:20] ad3n opened #24780 "[DOT ENV] Casting Not Work When Working With Config Node"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4-beta2

When using .env in config, the casting is not work.

[code]

![screenshot from 2017-11-01 16-19-53](https://user-images.githubusercontent.com/7464920/32268190-97b6ae3a-bf20-11e7-8990-79732b14bee3.png)

[2017-11-01 09:35] sroze commented on #24780
@ad3n can you give us a sample of your `.env` and the configuration you use (where the `%env(...)%` is) ?

[2017-11-01 09:36] sroze commented on #24730
@weaverryan same. I've proposed this PR to fix the issue: #24774

[2017-11-01 09:52] mkingbe commented on #24768
@xabbuh https://github.com/mkingbe/symfony-24768/commit/693edcc276b994d7551952183c2a50bfea955e1a

[2017-11-01 10:02] nicolas-grekas commented on #24768
This triggers a deprecation, isn't it?

[2017-11-01 10:05] ad3n commented on #24780
`'%env(int:SEMART_RECORD_PER_PAGE)%'` and from `.env` `SEMART_RECORD_PER_PAGE="17"`

even i remove the double quote `"` the result is same

[2017-11-01 10:08] nicolas-grekas commented on #24780
That's unrelated to Dotenv, but that's correct, Config doesn't know about these cast env vars.
This is a duplicate of #22151, with a tentative unfinished fix in #23888.

[2017-11-01 10:12] mkingbe commented on #24768
"User Deprecated: The "AppBundle\MyPrivateService" service is private, getting it from the container is deprecated since Symfony 3.2 and will fail in 4.0. You should either make the service public, or stop getting services directly from the container and use dependency injection instead."

However, you have access to it.

[2017-11-01 10:16] ad3n commented on #24780
@nicolas-grekas : thank you for your confirmation...

[2017-11-01 10:35] garak opened #24782 "Runnable query is not runnable in DoctrineDataCollector"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

This is some kind of re-opening of #20673.
The implementations done in 3b4a8f37300bc0fd48a7359e526eae93b56174f7 missed the point.
Getting a *runnable* query like the following one:
[code]
is pretty useless, because it's obvious

[2017-11-01 10:52] javiereguiluz commented on #24780
Closing as a duplicate then. @ad3n thanks for reporting it!

[2017-11-01 10:52] #24780 closed

[2017-11-01 10:54] javiereguiluz commented on #24773
Before sending a PR for this, I recommend you to wait for more support for this idea. The reason is that HttpFoundation's Request class is super critical and we are very reluctant to make any change on it. Thanks!

[2017-11-01 11:03] dkarlovi commented on #24433
There we go, hope it's OK. :)

[2017-11-01 11:07] nicolas-grekas commented on #24768
Yep, that's expected behavior on 3.4, fixed in 4.0.
Closing as such.

[2017-11-01 11:07] #24768 closed

[2017-11-01 12:57] enumag opened #24783 "[Serializer] Example from documentation does not work"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3

I was reading the documentation of Symfony/Serializer component. [Here](https://symfony.com/doc/current/components/serializer.html#deserializing-an-object) I found info about a new feature in Symfony 3.3, the `allow_extra_attri

[2017-11-01 13:00] Chi-teck opened #24784 "[Console] How provide input stream for ApplicationTester?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| Symfony version  | 3.3.7

I am using the following code to test interactive console application.
[code]
It works well but it is not compatible with Symfony 4 because _setInputStream()_ method has been removed.

The documentation suggests using _StreamableInputInterface::setStream()_ but I could not

[2017-11-01 13:24] enumag commented on #24783
The problem is that [`AbstractNormalizer::getAllowedAttributes()`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php#L206-L210) returns false.

[2017-11-01 14:58] dmaicher commented on #24784
Did you check https://symfony.com/doc/current/components/console/helpers/questionhelper.html#testing-a-command-that-expects-input ? Does it solve your problem?

[2017-11-01 15:24] Chi-teck commented on #24784
@dmaicher, Yes, I did. It works fine with command tester. I need the same for application tester.

[2017-11-01 15:32] weaverryan commented on #24775
Yea, this definitely "smells" weird to me (i.e. a bug) - especially with the different behavior on the different versions and public vs private. Someone needs to dig in a bit.

[2017-11-01 15:54] heximcz opened #24786 "Profiler/Twig Problem - Translation Messages Missing"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Here is bug in web profiler? When I use form_label in twig, profiler not recognize translation. All others translations are ok. On web page all translations are ok inc. title.username and title.password but only profiler sho

[2017-11-01 17:56] Gerfaut commented on #22721
Thanks @adeanzan for pointing this out! Same problem when the composer.json is not deployed! :)

[2017-11-01 18:28] tuxgasy opened #24787 "Failure to extend doctrine command UpdateSchemaDoctrineCommand"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

Hi,

To ignore some entities when running doctrine:schema:update, I extends UpdateSchemaDoctrineCommand like that :

[code]

When I update dependencies with composer, it does not work anymore. I tried with a new installation

[2017-11-01 20:23] #24581 closed

[2017-11-01 21:24] backbone87 opened #24788 "Command logging configuration for dockerized Symfony"
Currently there is no good way to configure logging from Commands for a dockerized Symfony.

If you run Symfony in a PHP-FPM docker container, you will most likely log to stderr for FPM invocations (and therefore forward to docker log deamon with the following default FPM configuration from the official PHP docker images https://github.com/docker-library/php/blob/05fe6f9eb601984e5f95057578ce830a21

[2017-11-01 21:54] validumitruro opened #24789 "Asset Component base URL ignored for some resources"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

There's an issue with the PathPackage class, because the assets.base_url and assets.base_urls settings are completely ignored when dealing with Javascript files. Images are being prepended the correct base URL, but not JS sc

[2017-11-01 22:20] backbone87 commented on #24788
I have noticed that the approach with the console events dont work, because log messages are already trigger during container compilation before the events are triggered.

An alternative i came up with is using the `PHP_SAPI` constant:
[code]

[2017-11-02 01:25] kasra-appscore opened #24790 "Issues in rendering choice type: Array to string conversion (symfony 3.3.10, twig, doctrine)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
Feature request? | no
BC Break report? | no
RFC?| no
Symfony version  | 3.3.10

I am trying to have a simple dropdown with 2 options (admin,csr) in a form, so that the user be able to update the role if necessary. There is no problem when I use a text type and I am able to change and update the value (in DB):

[code]

Twig

[2017-11-02 02:38] weaverryan commented on #24789
Hey @validumitruro!

This seems very odd, as the Asset component doesn't do anything based on the file type (e.g. images versus JavaScript). Can you post your *full* configuration under `framework.assets`? Are you using Encore by change with the `json_manifest_path` option?

[2017-11-02 03:21] #24730 closed

[2017-11-02 04:16] shakaran opened #24791 "DateType storing wrong format date"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.3.10

I am using a custom type based in DateType and when it stores the date in the database is changing the format, even if I indicate the format in the widget.

This is my code:

[code]

Note that using  'format' => 'dd/mm/yyyy

[2017-11-02 06:24] Simperfit commented on #24772
I guess we could say that #24354 is related, if we use VarDumper to show the exception page, we have to take this into condition.

[2017-11-02 06:38] Simperfit commented on #24791
As i'm reading the comments on the preg_match, I followed the link for ICU, if you look at this, it will tell you that you will need to use MMM or MMMM, for exemple you can look [at the test about MMM in de_AT](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Tests/Extension/Core/Type/DateTypeTest.php#L504)

[2017-11-02 08:11] skornev opened #24792 "File Type is now empty when updating (in 3.3)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.3.10

After upgrading from 3.2 to 3.3.  Files collection is now just empty in controller when updating entity without selecting new files. So it just removes the file entities. It used to work before 3.3 now it fails.
Maybe I mis

[2017-11-02 08:25] shakaran commented on #24791
@Simperfit interesting, the problem is that Symfony don't throw or log any message falling in the fallback case, so I didn't notice this until I debug or experience problems with corrupted data in applications. It would be nice if Symfony add at least some warning or even throws a exception if the format is invalid or don't verify the ICU format

[2017-11-02 08:50] javiereguiluz commented on #24783
Given that this is a documentation issue, I've mode this to https://github.com/symfony/symfony-docs/issues/8576 Thanks!

[2017-11-02 08:55] javiereguiluz commented on #24787
@tuxgasy thanks for reporting this. However, this command is not part of Symfony but part of DoctrineBundle. I've moved your issue there: https://github.com/doctrine/DoctrineBundle/issues/728  Thanks!

[2017-11-02 08:55] #24787 closed

[2017-11-02 08:58] javiereguiluz commented on #24789
@validumitruro I've edited your original issue to add code highlighting and as you can see, the YAML code blocks looks weird because they contain TABS instead of spaces. Is this a problem when copying the code into this issue or does your application contain those TABS too?

[2017-11-02 09:24] mattwillo commented on #24773
OK, I will wait for more opinions before I act on this.

[2017-11-02 09:42] validumitruro commented on #24789
Hello, @weaverryan , that is actually the full configuration. No manifest or anything else. For now I'm just using the asset() helper, as that works properly. The PathPackage tho, now that I think about it, I'm not really sure it's supposed to add the actual URL, being a **path** package. But I don't think there's a way to do that with UrlPackage either (e.g.: use the assets.base_url config) unles

[2017-11-02 09:54] enumag commented on #24783
@javiereguiluz Actually I believe that the documentation is correct and the feature should work as described. Meaning it is a code issue rather than doc issue.

[2017-11-02 09:56] javiereguiluz commented on #24783
The I read your issue too fast. I'm sorry.

[2017-11-02 10:14] xabbuh commented on #24789
If the `getUrl()` method's result was inconsistent in regards of the file type being used, that would indeed be an issue. However, I do not see how that could happen. Could you please provide a small project allowing to reproduce this behaviour?

[2017-11-02 10:15] nikophil commented on #15098
Hello,

@podhy i tried your solution. I got no more errors when i'm running the tests, thanks, but it seems that the datas are not passed to the form.
if i give the form such data (in the example, my entityType is multiple, and referes to a ManytoMany:
`
    public function dataProvider()
    {
        return [
            [
                'formData' => [
                    'books' => [

[2017-11-02 10:17] xabbuh commented on #24718
I am going to close here as there is nothing we can actually change. But of course if you think that some of the upgrade instructions could be improved/clarified, please let us know.

[2017-11-02 10:17] #24718 closed

[2017-11-02 10:54] xabbuh commented on #24790
Are you sure that you are using Symfony 3.3? Adding the `choices_as_values` option should not make a difference as `true` is already its default value.

[2017-11-02 10:59] xabbuh commented on #24786
If you use one of the built-in form themes, the label will be passed to the translator by the theme. Thus, passing an already translated string to `form_label()` means that the translated value will be translated again leading to the behaviour you observe.

The following code should produce the result you expect:

[code]

Closing here as there is no bug.

[2017-11-02 10:59] #24786 closed

[2017-11-02 11:03] xabbuh commented on #24782
Related to (or duplicate of) #24700?

[2017-11-02 11:07] xabbuh commented on #24765
Can you create a small example project that allows to reproduce your issue?

[2017-11-02 11:17] xabbuh commented on #24734
I am closing here as there is no bug in Symfony.

[2017-11-02 11:17] #24734 closed

[2017-11-02 11:22] xabbuh commented on #24674
I have relabelled the issue as a feature request. However, I am not sure if we can (or want to) really implement this in a save way.

[2017-11-02 11:22] stof commented on #24734
I think you should be using a model transformer in this case. your model type is your entity, but and the view type a string. But the normalized type of the IntegerType is an integer, and you should keep it this way for your custom child type (and so doing the entity conversion between modal and norm, not between norm and view).
This would solve your issue, as the default ordering for transformers

[2017-11-02 11:24] xabbuh commented on #24742
Can you be a bit more specific of what you would have liked to have instead? I am not sure if I completely got that.

[2017-11-02 11:25] validumitruro commented on #24789
Hmm, sorry, just tried to reproduce this by setting up a whole new project (the original one was based on symfony-skeleton), but could not reproduce the problem any more, so I don't know what happened there. Maybe some faulty config, files not saved correctly by the IDE, or Apache locking files (had an issue with that last night). Sorry for the false alarm, next time I'll definitely set up 2 proje

[2017-11-02 11:25] #24789 closed

[2017-11-02 11:33] BoShurik commented on #24674
Yes. Now I think that I can use old `parameters.yaml` instead

[2017-11-02 13:26] ttimot24 opened #24794 "Yaml component parse object doesn't work"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

The Yaml component doesn't parse into object even if PARSE_OBJECT is set/passed to the function.

[code]

[2017-11-02 13:28] chalasr commented on #24784
There's no reason to not be able to do the same using the application tester.
👍  for `ApplicationTester::setInputs()`.
Might need an internal trait to reuse logic between `CommandTester` and `ApplicationTester`, PR welcomed

[2017-11-02 13:34] xabbuh commented on #24794
Would you mind sharing with us the code that you use and the YAML string that you tried to parse in order to allow us to reproduce the issue?

[2017-11-02 13:50] ttimot24 commented on #24794
Hi!

I updated the issue with the code.

Thanks!

[2017-11-02 14:00] chalasr commented on #24794
Please make your example uses the result of `file_get_contents()` i.e. the concrete yaml you are trying to parse (with dummy values of course).

[2017-11-02 14:01] dohpaz42 commented on #24742
@xabbuh, essentially, I envision the exception appending the value of `$access[self::ACCESS_NAME]` to the existing message. e.g.,

So, the line of code might look like:

(formatted for readability)

    throw new NoSuchPropertyException(sprintf(
        'Could not determine access type for property "%s" in class "%s"%s.',
        $property,
        get_class($object),
        isset($access[self::A

[2017-11-02 14:05] xabbuh commented on #24794
@ttimot24 using

[code]

results in:

[code]

As you can see the result is as expected. Thus, the issue must be related to the input you use.

[2017-11-02 14:08] xabbuh commented on #24742
Would you like to open a pull request with your suggestion?

[2017-11-02 14:10] garak commented on #24782
It's not a duplicate, this case is more general, i.e. it can apply to every time an object is used in a query (not only to an entity used as identifier).

[2017-11-02 14:32] med004 opened #24795 "This form should not contain extra fields"
Hello,
I have submitted Form but I have this error:

code controller:

`<?php

    namespace AppBundle\Controller\Condidate;

    use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
    use Symfony\Bundle\FrameworkBundle\Controller\Controller;
    use Symfony\Component\HttpFoundation\Request;
    use AppBundle\Entity\Skill;
    use AppBundle\Controller\AbstractController;
    use AppBundle

[2017-11-02 14:33] xabbuh commented on #24537
One possible solution could be to throw an exception in the `FormError` constructor if `$cause` is not serialisable.

[2017-11-02 14:52] xabbuh commented on #24795
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2017-11-02 14:52] #24795 closed

[2017-11-02 15:29] binhle410 commented on #23892
yes, recommendations from @sstok  seems to suggest that it was indeed a Cache issue.
Everything is fine now.

[2017-11-02 15:29] #23892 closed

[2017-11-02 15:34] ogizanagi commented on #24537
We store the violation as the cause, which is not serializable, so this cannot be a solution.
The issue is that this very same constraint has the form instance as `$root`, which itself has a reference to the `ValidationListener` -> `Validator` -> `LazyLoadingMetadataFactory` -> `XmlFileLoader` (IIRC). Last one holds a `\SimpleXMLElement[]|null $classes` property.

Not sure what would be the proper

[2017-11-02 15:46] xabbuh commented on #24792
could be related to the changes in #24198 and #24606

ping @enumag

[2017-11-02 15:49] alexmarucci commented on #24537
How about make violation implement serializable and ignore the $root parameter when serialize / unserialize ?

[2017-11-02 16:31] nimasdj opened #24797 "problem with symfony/security with composer"
I am on php 7.0 I want to install symphony/security via composer and I am getting this error:
[code]

my json have problem only with this component, not with any other. here is my json:

[code]
any idea why I should get this error? does it require any particular php directive or extension?

[2017-11-02 16:39] yceruto commented on #24792
https://github.com/symfony/symfony/pull/24606 has not been released yet, so I guess it'll be fixed for 3.3.11

[2017-11-02 16:54] apfelbox opened #24798 "[HttpKernel] Missing dependency to DI component in composer.json"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0-BETA2

Hi,

I am not sure whether this was already discussed here, but the `symfony/http-kernel` has a hard dependency on `symfony/dependency-injection` due to the usage of the `ContainerAwareTrait` in `Bundle`: https://github

[2017-11-02 16:57] enumag commented on #24792
I believe this is a duplicate of #24546 and is fixed by #24606.

@skornev Can you try the change I made in #24606 to confirm?

[2017-11-02 16:58] xabbuh commented on #24797
What is the exact command that you ran? It looks like your project uses HttpFoundation 3.0 and then you try to install version 3.3 of the Security component which itself depends on a higher version of the HttpFoundation component.

[2017-11-02 17:00] benr77 commented on #5136
Based on @vmattila's Form Type solution, I've created a Form Type Extension which will automatically enable this behaviour for all ChoiceType fields, with a single configuration option.

https://gist.github.com/benr77/085fe0ccd2f72f10bb0ad331508e81df

Once enabled you just need to add `'preferred_choices_unsorted' => true` to your form type as required.

It also works for compound form fields, whe

[2017-11-02 17:15] nimasdj commented on #24797
Thanks, with your advise, I discovered the problem was older version of silex that requires older version of http-foundation. I updated silex too.

[2017-11-02 17:15] #24797 closed

[2017-11-02 18:05] fabpot commented on #24798
Closing as explained in the PR.

[2017-11-02 18:05] #24798 closed

[2017-11-02 18:43] umpirsky opened #24800 "Failed to set the session handler because headers have already been sent after upgrade to v3.4"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | v3.4.0-BETA2

Just upgraded from v3.3 to v3.4.0-BETA2.

I have smoke tests for services which iterates them like:

[code]

It errors with:

[code]

May be related to https://github.com/symfony/symfony/issues/24524

[2017-11-02 18:50] nicolas-grekas commented on #24800
Yep, it's a duplicate.

[2017-11-02 18:59] ostrolucky opened #24801 "[Form] Bootstrap 4 - doesn't show validation errors for some form types"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

[code]
[code]

Submitting this will produce following HTML
[code]

But errors don't show up, because following style from bootstrap 4 is applied
[code]

When expanded option is false, html structure is different and display sty

[2017-11-02 19:27] umpirsky commented on #24800
I thought https://github.com/symfony/symfony/issues/24524 is PHP 7.2 specific. I am on PHP 7.1.6.

[2017-11-02 19:37] skornev commented on #24792
Yes, the changes in FileBag  work but there comes another issue. Saving and updating work like a charm.
But If we add another file input without choosing any file,  it fills collection with an entity with null values.
(and later doctrine raises error because my schema does not allow null value)
Should it be treated like a normal behavior and we should check this collection and manually remove thos

[2017-11-02 19:43] enumag commented on #24792
I'm not entirely sure but it's possibly intended. If you update your demo to showcase this new problem I could check it.

[2017-11-02 20:43] alexmarucci commented on #24537
Also if I try to get rid of the $cause and when I try to unserialize I've got an exception.
(" Warning: Class __PHP_Incomplete_Class has no unserializer ").
So I have to set allowed_classes => true in order to make it work properly. I think that's because $cause is a Violation class;

Regarding the Implementation of the Serializable in the ConstraintViolation and ignoring the $root parameter, that

[2017-11-02 21:23] javiereguiluz commented on #24800
Closing as duplicate then. We'll reopen it if that's not true. Thanks!

[2017-11-02 21:23] #24800 closed

[2017-11-02 21:55] nicolas-grekas commented on #23979
https://github.com/symfony/symfony/pull/24671 to the rescue? Can you try setting the parameter? And upgrade to beta2 of course.

[2017-11-02 22:09] kasra-appscore commented on #24790
That is really weird and confusing. If I put anything in the key of choices array other than "Admin", it works fine!

[code]
But if I change the key to "Admin" it throws ("Array to string conversion") error!

[code]
So I fixed it by adding a space at the end "admin "!

Does anyone have any idea why it's happening?

[2017-11-02 22:12] kasra-appscore commented on #24790
@xabbuh you are right, it's deprecated in Symfony 3.3, so I removed it!

[2017-11-02 22:49] chrisguitarguy commented on #24543
I did this recently when trying to upgrade to the 3.4 beta. It works, but I got very concerned that I'd be effectively missing any deprecation warnings in my tests.

Meaning the process of upgrading to 3.4, fixing deprecations, then going 4.X later would not effectively work.

[2017-11-03 02:28] SoftwarePerfectionist commented on #18574
PHP sessions are a complete damn mess. I am on day 2 of trying to fix.

Warning: session_start(): Failed to decode session object. and the other POS notice about session_start already called. AT THIS POINT I AM ABOUT TO ROLL MY OWN DAMN SESSION SYSTEM.

None of the  BS answers online work.
 if (session_status() !== PHP_SESSION_ACTIVE) {
            session_start();
        }

That doesn't work for

[2017-11-03 06:32] xabbuh commented on #24790
You will have to provide a small example project that allows to reproduce your issue then. Otherwise it's impossible to help you.

[2017-11-03 07:23] nicolas-grekas commented on #24543
@chrisguitarguy aliasing instead of turning public?

[2017-11-03 07:25] nicolas-grekas commented on #24543
Or unconditionally turn public btw. There is no real downside to making more services public if you know they're in use somewhere in your code.

[2017-11-03 07:50] nimasdj opened #24803 "Report an asset issue"
As I said here https://github.com/twigphp/Twig/issues/2577#issuecomment-341540954, that's really an issue. Assets should not add a leading slash, but it must be exactly the same as provided in code, otherwise they are not found.

[code]

[2017-11-03 09:05] limitstudios opened #24804 "Webprofiler "Argument 2 passed to Symfony\Bundle\WebProfilerBundle\Twig\WebProfilerExtension::dumpData()" error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.0-BETA2

Using Symfony Flex with version 4.0.0-BETA2 with the composer.json below, when logging in or as anonymous and trying to access the doctrine section or security section of the web profiler returns the following error fo

[2017-11-03 09:26] mikaint commented on #24804
I have the same issue. Can't use profiler.

[2017-11-03 09:38] xabbuh commented on #24804
Can one of you create a small example project that allows to reproduce your issue?

[2017-11-03 09:41] limitstudios commented on #24804
@xabbuh Yep I should be able to create one later this evening once out of work

[2017-11-03 10:01] lcp0578 opened #24806 "can't print error message when a service class have error"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.39

When i make a error in my service, after register it.
In dev environment.
It is blank, http code is 500, not any error message.
When i clear cache
[code]

I hope catch exception.
Thanks

[2017-11-03 10:30] baptistedonaux opened #24807 "Translations not extracted via debug:translation with Flex structure"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0-BETA2
| Flex | yes

My project is based on Flex structure. My application find translation in server mode.

Now, I would like display translations with `debug:translation` I can only displayed bundles translations but not mine

[2017-11-03 10:40] baptistedonaux commented on #24807
Same problem with translation keys extracted from templates, search into `/src/Resources/views` instead of `/templates`

[2017-11-03 10:42] chalasr commented on #24807
See https://github.com/symfony/symfony/pull/24590

[2017-11-03 10:43] limitstudios commented on #24804
@xabbuh had some free time testcase is here  https://github.com/limitstudios/beta2test

Security webprofiler error is very touch and go whether it happens

The doctrine webprofiler error happens logged in or out; or any section with database interaction; I have also added the test login in the README

[2017-11-03 10:47] nimasdj commented on #24803
Thanks for review. When I use {{ asset() }} it prints something like "/twig/css/styles.css" that leading / is a problem to not found css. I defined the path like "twig/css". Assets should not add leading /. The css path must be intact without leading / something like "twig/css/styles.css". When I hardcode this path it works fine.

[2017-11-03 11:35] skornev commented on #24792
It's the same demo but with your patch applied to the FileBag class

[2017-11-03 12:08] enumag commented on #24792
After #24606 the behaviour is the same as it was before #24198 (meaning symfony 3.3.9) so it's not something that was changed by my commit in 3.3.10. I believe it's indeed intentional.

[2017-11-03 12:08] jakzal commented on #24343
Thanks for investing time in trying to reproduce this issue @ossinkine!

@kokmok would you mind to provide code to reproduce your issue please?

[2017-11-03 12:26] javiereguiluz opened #24808 "Performance comparison of 3.3.9 vs 4.0 beta2"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

We're so close to 4.0 release that I wanted to analyze its performance in comparison with 3.3. If my profiles are correct, then I'm disappointed because Symfony 4.0 is significantly slower, both at `dev` and `prod`.

### Context

[2017-11-03 12:26] chalasr commented on #24806
Seems like a problem with your webserver/php configuration, not a Symfony bug.
We use github issues for bug reports and feature requests only, you should find help on [support platforms](https://symfony.com/support). Thanks for your understanding.

[2017-11-03 12:26] #24806 closed

[2017-11-03 12:30] kokmok commented on #24343
Sorry, I forgot to do that. I'll send the code soon.

[2017-11-03 12:39] sstok commented on #24808
Was this test conducted at an SSD based system or harddisk? And was opcache enabled?

[2017-11-03 12:41] xabbuh commented on #24808
Is there a special reason you didn't profile the application with a warmed up cache?

[2017-11-03 13:14] theofidry commented on #24808
@javiereguiluz I think it's important you clarify what kind of performances you are looking for: dev & prod performances.

Obviously dev performances are not as important, although you don't want it to be too slow either.

For production performances, I think the basic optimization steps should be followed otherwise benchmarking them is useless:

- `composer dump-autoload --classmap-authoritative`

[2017-11-03 13:35] chalasr commented on #24069
This should be reported to Doctrine instead (https://github.com/doctrine/DoctrineBundle and/or https://github.com/doctrine/dbal), nothing we can do in Symfony.

[2017-11-03 13:35] #24069 closed

[2017-11-03 13:36] #24225 closed

[2017-11-03 13:36] lcp0578 commented on #24806
thanks

[2017-11-03 13:37] chalasr commented on #24224
Would you be able to open a PR?

[2017-11-03 13:43] chalasr commented on #24138
I think this can be solved using bindings as of 3.4, dunno about 3.3. ping @nicolas-grekas

[2017-11-03 13:44] javiereguiluz commented on #24808
I've updated the description with more information:

@xabbuh not sure what do you mean. I cleared the cache and fully regenerated it before performing each benchmark. In any case, if I did it wrong, I did the same for all benchmarks, so it doesn't matter.

@theofidry prod is more important, but dev is super important. "dev" is what you see all day every day as a developer. It can't be slow.

[2017-11-03 13:54] chrisguitarguy commented on #24543
Oh, that's a good idea!

In this case, I was making the service public just for tests.

For some older apps, things that have been Symfony ~2.5 through 3.3, there service will have to be made public due to the formerly "proper" use of the container in controllers.

[2017-11-03 14:01] chalasr commented on #24279
The buggy thing was to auto register such class as a service, such door should never have been opened and has been closed in 3.3.
Sadly, you were relying on that wrong behavior and I fear we can't do anything more than telling you to instantiate the output locally rather than via dependency injection.
Given 3.3 is stable for a while and nobody else experienced the same, I think we can close.

[2017-11-03 14:03] wouterj commented on #24808
Your PR description only says you cleared the cache, not fully regenerated it. It's better to always start with a freshly warmed-up cache, as that's the case with your prod app normally as well.

[2017-11-03 14:05] #24279 closed

[2017-11-03 14:10] xabbuh commented on #8871
A `reset()` method looks like something that could be added without pain.

@symfony/deciders What do you think?

[2017-11-03 14:12] fabpot commented on #8871
Having a `reset()` method sounds like a possibility. Not a big fan of this solution, but I suppose that's the only "reasonable" thing to do.

[2017-11-03 14:15] javiereguiluz commented on #8871
What about the comment from @J7mbo above?

So we don't need to add a `reset()` method, right?

[2017-11-03 14:17] fabpot commented on #8871
hmm, @javiereguiluz is right. Why would I do `$finder->reset()` instead of `Finder::create()`?

[2017-11-03 14:18] xabbuh commented on #8871
@javiereguiluz The issue with `create()` is that it creates a completely new instance (i.e. dropping all the configuration you did before). As far as I understood comments users seem to want to reuse an instance and only do some "finetuning" before getting the next results.

[2017-11-03 14:18] lyrixx commented on #8871
It's not the same. `create` return a really new finder. You may want to add some initial filter, get all matching files, reset it, then get others file.

[2017-11-03 14:20] javiereguiluz commented on #8871
I see ... but then you are adding a `reset()` method that doesn't truly resets ... it resets some things (`in()`) while not resetting others (all the search criteria). It's confusing to me.

[2017-11-03 14:24] xabbuh commented on #8871
`reset()` may not be the best name (maybe `clearResults()` or something like that). But adding a method like that looks like the only option to solve the reported use case to me.

[2017-11-03 14:26] fabpot commented on #8871
There is another option, `clone`-ing the finder instance before calling `in()`.

I agree the `reset()` is confusing.

[2017-11-03 14:36] lyrixx commented on #8871
I usually use clone indeed ;)
I don't know why but many people don't think to clone PHP Object.

[2017-11-03 14:56] skornev commented on #24792
Yes, @enumag you were right . As for the last issue, I have just checked on 3.2 and behavior is the same.  Looks like it's intentional behavior.

[2017-11-03 14:58] xabbuh commented on #24792
closing here as fixed by #24606 then

[2017-11-03 14:58] #24792 closed

[2017-11-03 15:00] chalasr commented on #23660
In https://github.com/symfony/symfony/pull/23882 we decided to adopt the behavior described here (guard) no matter which listener is used. Closing here.

[2017-11-03 15:00] #23660 closed

[2017-11-03 15:02] FabienSalles commented on #24138
Thanks for your reply @chalasr  :).

Binding feature can actually avoid to use abstract services and inheritance of services (cf my other bug #24183) and solve my problems but there are still "conflicts" between them in my project.

I found these bugs by converting all my services and migrate to Sf 3.3. Now that practically all my services use autowiring, I have less utility to create abstract ser

[2017-11-03 15:11] chalasr commented on #23210
We know that spaces in passwords can lead to weird behaviors, but as said the Form PasswordType itself is flexible on that point.
Pushing to a good practice and mentioning the risks when not following is good thing, even make it default, but forcing to follow is not in my opinion. Nobody forbids you to store passwords in clear for instance, but we strongly recommend to not do so.
Making this opt-i

[2017-11-03 15:11] mcapodacqua opened #24811 "Debug component is not taking a fatal error as exception"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

The next script will generate a fatal error:
[code]
When I execute the script I get this message:

Since I'm starting my script with `Debug::enable();` I expect to see that fatal error as an exception.

Here is an example of

[2017-11-03 15:25] cordoval commented on #24808
don't show percentages, show ms response time for both columns and amount of RAM, percentages are sometimes deceiving

[2017-11-03 15:45] nicolas-grekas commented on #24138
Can't we make autowiring pass to wire abstract services?

[2017-11-03 15:55] darkiron opened #24812 "Routes priority - Extraloader"
Hi,
How to defined route priority in Extraloader.
By default all route defined in ExtraLoaders was first.
I want my programmatically route was first to escape with error :
No route found for "GET /page-de-test".
I can have some tips ?

Thx

[2017-11-03 16:00] Simperfit commented on #24783
Do you want to work on a PR @enumag ?

[2017-11-03 16:08] enumag commented on #24783
@Simperfit Not really.

[2017-11-03 16:10] xabbuh commented on #24803
IMO that's expected and the base path passed to the `PathPackage` constructor must be given from the path of your entry point. You can optionally pass a context if your application is hosted under a subpath of your web root.

[2017-11-03 16:12] nimasdj commented on #24803
Please give example of both ways. Thanks.

[2017-11-03 16:16] xabbuh commented on #24803
You just have to pass an object that implements the `ContextInterface` as the third argument when constructing the `PathPackage`. This interface requires a `getBasePath()` method where you return the base path to your application. If you use Symfony or any other application that makes use of the HttpFoundation component, you can make use of the `RequestStackContext` class which allows to use the c

[2017-11-03 16:21] xabbuh commented on #24812
Which extra loader are you talking about?

[2017-11-03 16:43] mimol91 commented on #24775
@nicolas-grekas
I did git-bisect, and it looks that it stop displaying warning after https://github.com/symfony/symfony/pull/23741
I will try to find a reason, however your help will be invaluable

[2017-11-03 16:46] theofidry commented on #24808
@cordoval a percentage can be consistent from a machine to another whereas the time can greatly differ

[2017-11-03 16:48] cordoval commented on #24808
you need always a scale, just as a reference, when you take a look at google maps you have a horizontal bar of 1 mile or 1 kilometer to give you the idea of the scale, that is.

[2017-11-03 16:54] nicolas-grekas commented on #24775
No idea yet, if someone can look at a reproducer or a fix, that'd be great :)

[2017-11-03 17:00] mimol91 commented on #24775
Seems moving `$this->loading[$id] = true;`
https://github.com/symfony/symfony/pull/23741/files#diff-1df5b32be44d0f592ec285c6bbf386bbL332
to line `301` solve the problem

[2017-11-03 17:01] Simperfit commented on #24783
I'm gonna do it.

[2017-11-03 17:05] nicolas-grekas commented on #24775
@mimol91 could you try to work on a PR, fix the fix and a test case? That'd be the best way to prove your theory :)

[2017-11-03 17:08] mimol91 commented on #24775
Sure, I will tr

[2017-11-03 17:15] xabbuh commented on #24647
Your `User` class looks suspicious to me:

[code]

Your `serialize()` and `unserialize()` methods will call themselves recursively over and over again.

You will probably just want to call PHP's `serialize()` and `unserialize()` functions instead:

[code]

I am going to close here for now. But we can of course reopen if that's not the only issue.

[2017-11-03 17:15] #24647 closed

[2017-11-03 17:48] Simperfit commented on #24784
@Chi-teck Do you want to provide the PR ?

[2017-11-03 18:16] nimasdj commented on #24803
As you said that RequestStackContext implements ContextInterface with getBasePath method, I did so and passed the instance as third parameter to PathPackage. But no changes yet in css path, there is still a leading / that causes problem to not found the css. what wrong I did? Please advise.

[code]

[2017-11-03 18:19] Chi-teck commented on #24784
@Simperfit, I can't work on this at the moment. Feel free to submit the PR if you want.

[2017-11-03 18:35] xabbuh commented on #24803
Well, you not only need to pass an empty request stack to the context, but you need to put the current request onto the stack. Anyway, this is something you should solve using [one of the support channels](https://symfony.com/support). I am going to close here as we do not use GitHub for support. Thank you for understanding.

[2017-11-03 18:35] #24803 closed

[2017-11-03 18:48] xabbuh commented on #24804
Thanks for providing the example. However, this does work for me. The only thing I changed locally was to use SQLite instead of MySQL. Can you debug what is tried to be dumped when you get this error?

[2017-11-03 18:49] nimasdj commented on #24803
Ok, here I posted on SO would you please advise there? I appreciate your time.
https://stackoverflow.com/questions/47084035/how-to-remove-symfony-asset-leading-slash
@xabbuh

[2017-11-03 19:55] mimol91 commented on #24775
Ok,
The problem is with dumping container with ` 'as_files' => true,`.
What happens on SF3.3:
1) Warmup cache
2) Request for loading `doctrine.orm.default_entity_manager` and mark it as lazy
3) Run `CacheWarmerAggregate`
4) Run `getDoctrine_Orm_DefaultEntityListenerResolverService`
[code]

The important part is that if service is not registered in container it call `$this->get('doctrine.orm.defaul

[2017-11-03 20:57] nimasdj commented on #24803
I did a print debug as code below and noticed it returns nothing. I don't know why. I created my own class implementing ContextInterface using HttpFoundation and it works fine now! Thank you. But now the question is that why code below returns nothing?

[code]
@xabbuh

[2017-11-03 21:21] limitstudios commented on #24804
@xabbuh Yep I used MySQL I will get the exact version tomorrow. How would I go about getting the dump contents would the contents of the stack trace be enough? It’s quite large so do you want as a text or attached as a file?

[2017-11-03 21:37] xabbuh commented on #24803
Well, you just pass an empty request stack to the context. So there is no request that could be used to determine the base path.

[2017-11-03 21:39] xabbuh commented on #24804
You could create a gist and link to it here.

If you want to debug this yourself, I suggest to configure Xdebug and add a breakpoint that would allow you to inspect what is going on.

[2017-11-03 21:40] nimasdj commented on #24803
How to pass request stack? Please give example.

[2017-11-03 22:39] Koc commented on #24775
😨 Is it possible extract some variables to make generated code more readable?

[2017-11-03 23:06] bryandatanerds commented on #24224
Yes; I'll create a PR just to do the simpler fix (setting `$this->firstRun` to true).

[2017-11-03 23:56] nicolas-grekas commented on #24775
@Koc the generated code must fit in one expression. Readability is not a criteria.

@mimol91 or better: do the check in the first lines of the generated files? Btw, doesn't this issue exist in 3.4 also, when as_files=false?

[2017-11-04 01:00] ostrolucky commented on #24801
Ok I did some more testing and there is more of such fields. It's also:
- Symfony\Component\Form\Extension\Core\Type\BirthdayType
- Symfony\Component\Form\Extension\Core\Type\CheckboxType
- Symfony\Component\Form\Extension\Core\Type\DateIntervalType
- Symfony\Component\Form\Extension\Core\Type\DateTimeType
- Symfony\Component\Form\Extension\Core\Type\DateType
- Symfony\Component\Form\Extension\Cor

[2017-11-04 06:48] mimol91 commented on #24775
When changing as_files to false to display circular ref error (also
[code]

[2017-11-04 08:41] videni opened #24815 "Form error can't map to hidden form field."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | 3.3.10

# Problem

Form error can't map to  hidden form field.

# How do I get this problem

When I  submit nothing to this form, I can see 4 error messages in the debug tool, and the street error message is succesfully mapped
t

[2017-11-04 09:10] mmshivukumar opened #24817 "how to create customised error page in symfony ?"
Dear Team,

i have followed documentation in symfony in creaating customised errorr page.

[code]

set even

[code]

still custom  page is not displaying
please help to get solution

thanks
shivukumar