[2021-11-11 08:32] Hanmac commented on #43977
@acantepie but isn't that correct? its a text node + a cdata node, technically not connected?

[2021-11-11 09:00] ScaryDonetskiy commented on #43926
We found the reason. Our CompilerPass was added with `TYPE_OPTIMIZE `and runs after `ResolveNamesArgumentsPass`. Now we use default `TYPE_BEFORE_OPTIMIZATION ` type and error is not reproducing. Thanks @nicolas-grekas

[2021-11-11 09:00] #43926 closed, assigned to nobody

[2021-11-11 09:28] Jeroeny commented on #43918
In my reproducer, the return statement on line 389 is hit, because `maxIdLength` is null: https://github.com/symfony/symfony/blob/07a891f6c57d9da513d75402f2aa2da73d897044/src/Symfony/Component/Cache/Traits/AbstractAdapterTrait.php#L389

However, it indeed seems to fix the memory leak. When I add this add line 387 in that same Trait:
`echo 'ids ' . count($this->ids) . PHP_EOL;`
It shows that number

[2021-11-11 13:11] #40797 closed, assigned to nobody

[2021-11-11 14:49] xabbuh commented on #43999
Would you like to give it a try?

[2021-11-11 15:00] xabbuh commented on #44000
Thanks for investigating and for reporting this issue @fdyckhoff. Would you like to give this a try?

[2021-11-11 16:58] epixian opened #44014 "ExpressionLanguage unable to parse decimal numbers without leading zeros"
### Symfony version(s) affected

5.3.7

### Description

ExpressionLanguage is unable to parse decimal numbers without leading zeros.

Invalid expressions:
"-.1"
"0-.1"
"0+.1"
".1"

Valid expressions:
"-0.1"
"0-0.1"
"0+0.1"

### How to reproduce

[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-11 18:40] ghost commented on #44003
I don't understand this issue.
This with `sprintf`:
`Error thrown while handling message %s. Removing from transport after %d retries.`
is the same as this in monolog:
`Error thrown while handling message {class}. Removing from transport after {retryCount} retries.`

[2021-11-11 19:23] michal-lewandowski commented on #44003
No it's not the same, the placeholders {class} and {retryCount} are not replaced, so the logged message looks literally like this:
`Error thrown while handling message {class}. Removing from transport after {retryCount} retries. Error: "{error}"`

[2021-11-11 21:59] 94noni opened #44017 "Empty profiler log deprecation"
### Symfony version(s) affected

5.4.0-beta1

### Description

I am in a process of upgrading a v4.4 to v5.4 app

When checking the profiler > logs > deprecations, I am seeing a line like this, without any explanation in the log:
![Capture d’écran 2021-11-11 à 22 57 26](https://user-images.githubusercontent.com/1358361/141374967-edb904c3-aec5-4f49-8fc2-8e019ff6da2b.jpg)

edit: if I add some dump

[2021-11-11 22:06] xabbuh commented on #44017
Does #43993 fix this?

[2021-11-11 22:11] 94noni commented on #44017
@xabbuh thanks for checking this, and yes indeed it fixes the log display
lets close!

[2021-11-11 22:11] #44017 closed, assigned to nobody

[2021-11-11 22:22] acantepie commented on #43977
@Hanmac Idk, i have tested with JMS/serializer and i got the expected result

Example app ==> https://github.com/acantepie/issue-xml-serializer
My app give a comparison between jms/serializer and symfony/serializer.

[2021-11-12 06:05] leik-software commented on #44006
Update on "I get a json notification from Amazon SNS where I can see that there is no BCC header. ":  I see that amazon never adds bcc header into SNS message even if it works (with SwiftMailer). But the issue still exists, bcc emails don't reach the receiver.

[2021-11-12 08:54] #43918 closed, assigned to nobody

[2021-11-12 08:55] gorenstein opened #44019 "Two equivalent syntax of yaml-Collections produce different output for the same values"
### Symfony version(s) affected

Tested and reproduced on 4.4 and 5.3

### Description

In case the first character of the string is ampersand ```&```, then two equivalent syntax of YAML-Collections produce different output for the same values.

### How to reproduce

Add YAML parameters like:

[code]

Run ```bin/console debug:container --parameters``` and compare output for 'collection_output_corr

[2021-11-12 09:08] #43980 closed, assigned to nobody

[2021-11-12 11:12] rvanlaak opened #44022 "[TwigBundle] Missing serializer service"
### Symfony version(s) affected

5.3

### Description

The serializer service is no hard dependency in `TwigBundle`, but it does get mentioned in the service definitions.

### How to reproduce

* Checkout https://github.com/APY/APYBreadcrumbTrailBundle
* `$ composer install`
* `$ composer test`

### Possible Solution

Make the service definition that links `serializer` as argument conditional, lik

[2021-11-12 11:43] spackmat commented on #41368
Another question: Has anyone found a suitable workaround for this? For now we have that wrong required marking on the 0-to-n collections and live with that.

Making a "lex 0-to-n-collection" inside the form theme is not a suitable workaround from my perspective, because that is the wrong place for such a logical decision and the form theme has to know about a child field is part of such a collecti

[2021-11-12 12:42] ojtibi commented on #27867
I'm just going to add into the discussion here: correct me if I'm wrong. For example: I have an application server sitting behind a AWS load balancer (a dynamic `load-balancer-ip`), which is also behind CloudFlare (a dynamic `cloudflare-ip`). A client application (`client-app-ip`) would attempt to access my application server. So the REMOTE_ADDR on my server and request header would look like thes

[2021-11-12 13:20] RomuloHe4rt commented on #41742
When I try to install ``laminas / laminas-zend framework-bridge``, it gives me an error saying ``Class "1\ApiContentController"`` does not exist.

How do I solve this?

[2021-11-12 13:20] rohlacanna commented on #41742
When I try to install laminas / laminas-zend framework-bridge, it gives me an error saying Class "1\ApiContentController" does not exist.

How do I solve this?

[2021-11-12 13:44] welcoMattic opened #44024 "[Messenger] Denormalization of array with `null` value in `previous` index to `FlattenException` is failing."
### Symfony version(s) affected

5.3

### Description

The denormalization of array with `null` value in `previous` index to `Symfony\Component\ErrorHandler\Exception\FlattenException` is failing.

The denormalize method check if `previous` index is set and not if it is not null. Moreover, the `setPrevious` method of `FlattenException` strictly expect a `FlattenException` instance.

[code]

### Ho

[2021-11-12 13:50] belkanoiv2 opened #44026 "[root@localhost ____]# symfony console make:migration In AbstractPlatform.php line 398: Unknown database type interval day(3) to second(2) requested, Doctrine\DBAL\Platforms\OraclePlatform may not support it."
Buenas tardes.
Alguien a tenido este mensaje de error ?
Estoy armando un proyecto  con centos 7, php 8, symfony 5.3 y oracle 19C.

El erro ocurre al ejecutar esto:
[root@localhost ____]# symfony console make:migration

In AbstractPlatform.php line 398:

  Unknown database type interval day(3) to second(2) requested, Doctrine\DBAL\Platforms\OraclePlatform may not sup
  port it.

Saludos.

//

Buena

[2021-11-12 13:51] bakotiinii commented on #40032
Have the same issue with symfony 5.0 also.

Is there any ideas, why php8.0 lead to error, while the same config on php7.4 works fine?

[2021-11-12 14:31] sylfabre commented on #43941
@nicolas-grekas Here you are!
https://github.com/symfony/symfony/pull/44027

[2021-11-12 14:40] zmitic opened #44029 "Message handler chain"
### Description

Similar to how ``DependentFixtureInterface`` works, add ability to run more messages **before** handler is even instantiated.

**Assumptions:**
- each handler will take long time to run (so $em connection timeout is a problem)
- there will never be any exceptions in any of them
- every DB processing will go thru Doctrine and real entities, not plain SQL

**The problem:**
Let's say

[2021-11-12 14:57] TwanVermeulen opened #44030 "[Cache] sem_remove() warning is thrown when concurrent requests are processed"
### Symfony version(s) affected

v5.4.0-BETA1

### Description

In some cases the lock component fails to acquire a semaphore. In this scenario it will try to remove a non existent semaphore, which results in a PHP warning:

` sem_remove(): SysV semaphore [id] does not (any longer) exist`.

This seems to be related to the recent change in 5.4 to use semaphores instead of flock in the LockRegistry

[2021-11-12 15:01] xabbuh commented on #44026
Please describe your issue in English so that not only people speaking the same language as you understand it.

[2021-11-12 15:06] belkanoiv2 commented on #44026
Describe your problem in English so that not only people who speak the same language as you understand it.

Thank you for your comment, I did not realize. Corrected. @xabbuh

[2021-11-12 15:06] #44026 closed, assigned to nobody

[2021-11-12 15:33] tomasz-kusy opened #44031 "[loco-translation-provider] Improper content type of http request"
### Symfony version(s) affected

5.3

### Description

When using Loco provider is impossible to send single word "data" as a translation.

[code]
When set `Content-Type: text/plain` it works.

### How to reproduce

Tested with symfony/http-client v5.3.10

Push source asset translation: data

### Possible Solution

Workaround:
new CurlHttpClient(['headers' => ['Content-type' => 'text/plain']])

So

[2021-11-12 16:44] elnur commented on #14747
Here's my solution:

[code]

[2021-11-12 16:46] noemi-salaun commented on #32622
I think this issue could be reopened. I don't think @kingschnulli was talking about a context group that serialize everything, like the `*`, but a default group that serialize only properties that don't have a group. Like the `Default` group with JMS Serializer.

See https://jmsyst.com/libs/serializer/master/cookbook/exclusion_strategies#creating-different-views-of-your-objects

@fabpot should I c

[2021-11-12 17:27] noemi-salaun commented on #32622
Thanks. I already have a working POC that use a `null` context group.

I don't know what could be the best option to reduce the BC break.

- A special char, like for the `*`. Could be `_`. (not a fan of this solution)
- A special word, like `Default` in the JMS Serializer (high chance of BC breaks with existing project)
- The `null` value
- The empty string value

`null` or empty string value cann

[2021-11-12 18:09] kingschnulli commented on #32622
This is exactly what I was talking about, makes it way easier to integrate into existing code bases.

[2021-11-12 18:34] #44024 closed, assigned to nobody

[2021-11-12 18:41] #43956 closed, assigned to nobody

[2021-11-12 21:12] arneee opened #44032 "RememberMeToken serializes Doctrine relations of user object in session, breaking the max size on PDO/MySQL"
### Symfony version(s) affected

5.3.10

### Description

I've switched from the native Session Provider to PDO and got an error that the session data was to long for the column. While checking the content of the session data, I've seen that the RememberMeToken included the user object with ALL fetched Doctrine relations.

The session data looks like this:
_sf2_attributes|a:3:{s:14:"_security_main

[2021-11-12 21:22] shude commented on #43999
It just solved in #42502

[2021-11-12 21:22] #43999 closed, assigned to nobody

[2021-11-12 22:17] arneee commented on #44032
It seems like it is a good idea to seperate the security user and the actual user: https://simshaun.medium.com/decoupling-your-application-user-from-symfonys-security-user-60fa31b4f7f2

Shouldn't that be the default way described in the Symfony docs?

[2021-11-12 22:26] Warxcell commented on #44003
You need to enable PSR-3 processor.
E.g.
[code]

[2021-11-12 23:45] yassine-ah commented on #20593
Below is a comment in the bug report opened by @raziel057  (https://bugs.php.net/bug.php?id=73596)

dates on which a DST shift happened for Europe/Malta, and the
clock was forwarded from 00:00 to 01:00, so 00:00 doesn't exist.
Use lenient mode if you have to process such dates.

[2021-11-13 10:07] xabbuh commented on #44019
Can you please try #44034?

[2021-11-13 11:32] #43936 closed, assigned to nobody

[2021-11-13 11:32] xabbuh commented on #44022
The issue is that you make these two service definitions public in your test:

[code]

This in turn leads to the fact that they can no longer be removed by the compiler. Your tests pass once the compiler pass is being disabled.

That being said there is no issue in the Symfony code base, but you will have to adapt your test. So I am going to close here. Thank you for understanding.

[2021-11-13 11:32] #44022 closed, assigned to nobody

[2021-11-13 11:37] xabbuh commented on #43957
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-13 11:37] #43957 closed, assigned to nobody

[2021-11-13 11:38] xabbuh commented on #43951
I am going to close here for now. We can reopen once we are able to reproduce.

[2021-11-13 11:38] #43951 closed, assigned to nobody

[2021-11-13 11:41] xabbuh commented on #43828
Closing with the solution given in https://github.com/symfony/symfony/issues/43828#issuecomment-962707654. If that change doesn't help, please provide a new example that allows to reproduce and we can consider to reopen.

[2021-11-13 11:44] xabbuh commented on #41708
@sajixavier Did you manage to find something?

[2021-11-13 11:45] xabbuh commented on #41025
@chx Can you help us with a simpler reproducer?

[2021-11-13 12:45] 537mfb commented on #42775
Hi @xabbuh
So i made a few fixes in my token verifier class and user repository class (I've commited the changes to the dev branch if you want to take a look) and found something odd (at least i think it's odd):
If I test the site under http, remember me doesn't work - as I explained
But if I test it under https it does work

[2021-11-13 19:06] chx commented on #41025
This has _nothing_ to do with Drupal, it's just easier to use one because it has the container built up. Right now I don't have the time to learn raw Symfony to rebuild the whole thing.

All you need is

        foreach ($this->attributes as $name => $value) {
            $attributes[] = sprintf('%s: %s', $name, str_replace("\n", '', var_export($value, true)));
        }

To have $value self-refer

[2021-11-13 20:02] gimler opened #44039 "[Session] PdoSessionStorageHandler visibility"
### Description

We have the user_id as separate field in the database table for our sessions. So we need to override the `PdoSessionHandler::getMergeStatement` to set it when insert.

Is there any reason why the methods are private?
* `PdoSessionHandler::getMergeStatement`
* `PdoSessionHandler::getUpdateStatement`
* `PdoSessionHandler::getInsertStatement`

### Example

_No response_

[2021-11-14 01:16] chalasr commented on #42973
Got it, event listeners registered on core security events are not traceable anymore.
To reproduce, register an event listener on e.g. `security.interactive_login`. With authenticator manager disabled, the listener is listed in the `Called listeners` profiler panel but with authenticator manager enabled, it is part of `Non called listeners` although it's actually called.

This qualifies as a bug t

[2021-11-14 01:18] ziedlahbib commented on #26277
i am student and i have a project to do with symfony everything is ok after login to home page but after redirect to another page the app.user take null i think that the problem is the session closed when redeirect to another page and i didn't get the solution here with serialze can you pls be more specifique or any solution pls pls pls i have 3 days on this problem

[2021-11-14 08:29] derrabus commented on #41025
I didn't mean to imply that it has.

You see, I'd like to help, but I don't have time to learn Drupal either. That's why I ask for a smaller reproducer.

[2021-11-14 10:43] rvanlaak commented on #44022
Thanks a lot @xabbuh , https://github.com/APY/APYBreadcrumbTrailBundle/pull/66 does indeed make the `master` branch green again.

[2021-11-14 12:26] chx commented on #41025
I am sorry, that did come across as combatative. I really am sorry, I really am just under a lot of time pressure right now.

If you are willing to try Drupal, these steps (I ran them myself right now) will reproduce it:

[code]

At the `cat >` step copy paste the intial few lines:
[code]

You will get an infinite number of

 [warning] var_export does not handle circular references Node.php:56

Yo

[2021-11-14 12:45] tom-combet opened #44045 "[Process] Buggy terminal after interrupting TTY Process"
### Symfony version(s) affected

5.3

### Description

Interrupting a Process with TTY mode in a Command leads to broken terminal: we can't see what we're typing anymore.

It happens only for processes that require user input several times. The bug occurs if there are remaining steps to complete the operation. So if we interrupt the process at the last step, bug doesn't occur.
Typically, my use ca

[2021-11-14 13:11] #40680 closed, assigned to nobody

[2021-11-14 13:11] #40827 closed, assigned to nobody

[2021-11-14 13:46] zacharyzh opened #44046 "The AssetsInstallCommand not worked as what the documentation explained."
### Symfony version(s) affected

4.4.33

### Description

A recommend directory structure in article [Best Practices for Reusable Bundles](https://symfony.com/doc/4.4/bundles/best_practices.html#directory-structure) is:

[code]

But when I put my asset files in `public` directory, then AssetsInstallCommand will not install them. because the bundle class file is under `src` directory.

### How to r

[2021-11-14 16:50] nicolas-grekas opened #44049 "[Cache] Failure with couchbase collection"
### Symfony version(s) affected

5.4

### Description

In the CI we see a warning:
https://github.com/symfony/symfony/runs/4204456225#step:11:28

And a failure:

Failed asserting that true is false.

And a warning:

To be investigated.

@ajcerezo since you contributed support for couchbase collection, maybe you'd like to have a look?

### How to reproduce

-

### Possible Solution

_No response_

[2021-11-14 19:05] meiyasan commented on #42973
@chalasr Thank you so much for confirming the bug and your investigation.
I am very interested in understanding how you will fix this in your PR.
I will surely look at it :)

[2021-11-14 20:32] fazliddin commented on #35365
Wow `.htaccess` solves the problem. But it is strange that Symfony does not have it by default.

[2021-11-14 20:32] fazliddin commented on #37277
Wow, `.htaccess` solves the problem. But it is strange that Symfony does not have it by default.

[2021-11-14 23:16] chx commented on #41025
https://github.com/chx/symfony-41025 you can clone this and run

DRUSH_ALLOW_XDEBUG=1 drush scr bug.php

or just

drush scr bug.php

if you don't need xdebug.

I changed var_export in Node.php to use brick/varexporter and then added empty returns to varexporter at four places to avoid it erroring out. We now have _some_ result but as you can see it's a gigantic mess. I still recommend skipping dum

[2021-11-15 08:20] abogdan commented on #44029
@zmitic  If I'm understanding your issue correctly, you should look into DispatchAfterCurrentBusStamp: https://symfony.com/doc/current/messenger/dispatch_after_current_bus.html

[2021-11-15 08:47] ajcerezo commented on #44049
Hi @nicolas-grekas ,

I am in charge of investigating and solving this problem.

[2021-11-15 08:48] derrabus commented on #41025
If I run this, I get a lot of warnings:

[code]

They originate in the `brick/varexporter` package which is not maintained by us.

I'm really sorry, but the time I can spend on triaging bug reports is limited. Please try to isolate your problem from any non-Symfony libraries and provide steps to reproduce it.

[2021-11-15 09:31] Jurek-Raben opened #44057 ".htaccess FallbackResource deactivated on hosters for security reasons"
### Symfony version(s) affected

all

### Description

The default .htaccess of symfony uses the "FallbackResource /index.php" line. But FallbackResource feature lately has been deactivated on many host providers for security reasons. So then a standard symfony .htaccess file will result in a not working symfony installation, if you follow the current documentation here:
https://symfony.com/doc/cu

[2021-11-15 09:41] gorenstein commented on #44019
Work fine now for quoted string, but still broken for ```!!str```
[code]

[2021-11-15 09:50] mschafr commented on #24325
I know this is a rather old conversation. Nevertheless, I came across the need for Digest authentication in my SmartHome automation project. Some control devices (wifi switches, heating control units) still require this authentication scheme and updates on their side are not to be expected. As the symfony software component is only communicating with these devices over a secure home network, there

[2021-11-15 10:16] dunglas commented on #24325
Yes you can easily create a plugin ("bundle") for that: https://symfony.com/doc/current/security/custom_authenticator.html

[2021-11-15 10:52] n0rbyt3 commented on #44006
Maybe here is why: https://stackoverflow.com/questions/27446357/how-to-add-cc-and-bcc-in-amazon-ses-sendrawemail

[2021-11-15 11:33] ProfChene commented on #40354
Hi there,

Don't know in which repository to post, so I'm copy-pasting my message here too :

[2021-11-15 12:37] leik-software commented on #44006
@n0rbyt3 no this is not related to my issue. I didn't mention that cc receivers works well. And furthermore, I would't know how to build raw email headers since I just use the symfony mailer.

[2021-11-15 13:34] leik-software commented on #44006
I updated the headline and my code because bcc is beeing removed when use DKIMSigner.

[2021-11-15 14:10] fancyweb commented on #44014
Status: reviewed

I looked at this. IMO the problem is on the lexer side. The regex used to detect numbers is not in sync with how PHP can currently cast strings to floats. I recomputed the following regex from https://github.com/php/php-src/blob/ddaf64b56c88f0ae223b1aca25293dd7fec77fc0/Zend/zend_language_scanner.l#L1359:
`/((?:[0-9]+(?:_[0-9]+)*|(?:(?:[0-9]+(?:_[0-9]+)*)?\.[0-9]+(?:_[0-9]+)*|[0-9

[2021-11-15 14:12] nicolas-grekas commented on #44014
I consider this a feature, there's no bug here, the syntax is clear: the leading zero is required :)
Why should we support with no leading zero in the first place?

[2021-11-15 14:17] stof commented on #44014
The ExpressionLanguage lexer is responsible for supporting the ExpressionLanguage syntax, not the PHP one. So there is indeed no bug here. This is more a feature request.

[2021-11-15 15:15] adrienfr commented on #43266
Hi @nicolas-grekas and @stof, I submitted a [PR](https://github.com/symfony/symfony/pull/43803) to fix this

[2021-11-15 15:17] ajcerezo commented on #44049
This problem occurs because couchbase made a change to the ttls calculation.

- SDK 2.3: Set the document expiration time in seconds. If it is greater than 30 days (606024 * 30), the server will interpret it as absolute UNIX time (seconds since 1970-01-01T00: 00: 00).
- SDK 3.0: The relative expiration time in seconds or the DateTimeInterface object for an absolute point in time.

[2021-11-15 15:17] ajcerezo commented on #44049
This problem occurs because couchbase made a change to the ttls calculation.

- SDK 2.3: Set the document expiration time in seconds. If it is greater than 30 days (606024 * 30), the server will interpret it as absolute UNIX time (seconds since 1970-01-01T00: 00: 00).
- SDK 3.0: The relative expiration time in seconds or the DateTimeInterface object for an absolute point in time.

[2021-11-15 15:29] epixian commented on #44014
Thank you for looking into this and for the discussion.

I'm not sure that the syntax is clear.  The [documentation](https://symfony.com/doc/current/components/expression_language/syntax.html#supported-literals) indeed lists the various supported literals, including "numbers - e.g. 103" but without any caveats that says that these literals are not interpreted/treated the same as PHP.  (Perhaps thi

[2021-11-15 15:30] stof commented on #44049
The solution would be that `CouchbaseCollectionAdapter::normalizeExpiry` return a DateTimeImmutable instance instead of an integer when producing an epoch.
Or maybe it should be removed entirely, as Couchbase 3.0 seems to have changed the max relative expiry to 50 years rather than 30 days.

[2021-11-15 15:34] stof commented on #44014
Well, the ExpressionLanguage lexer was originally created based on the Twig lexer (the syntax to access properties and methods is inspired by Twig, with the magic of `twig_get_attribute()` removed to allow compiling the code to a runtime-free expression). And the supported number literals are the same in ExpressionLanguage and Twig. Both require a leading digit.

[2021-11-15 16:19] Herz3h opened #44061 "[Mailer] Ability to specify message size"
### Description

According to this [rfc](https://datatracker.ietf.org/doc/html/rfc1870.html) it is possible to append the  `SIZE` keyword the `MAIL FROM:` like so:

`MAIL FROM:<ned@thor.innosoft.com> SIZE=500000`

However after looking into the code, this doesn't seem to be possible: https://github.com/symfony/mailer/blob/c1f83da2296741110be35dd779f2a9e412cec466/Transport/Smtp/SmtpTransport.php#L2

[2021-11-15 17:34] chx commented on #41025
I will keep hacking Node.php , no problems for me. I tried.

[2021-11-15 18:09] COil opened #44062 "[5.4 beta2] Functional tests, problem with the DI container"
### Symfony version(s) affected

5.4.0 beta2

### Description

I've got this error when runnig my test locally, I am sure it comes from beta2 because it was Ok with beta1. If I revert the beta2 commit and I run `composer install`, the error goes away :

[code]

### How to reproduce

./vendor/bin/phpunit --testsuite='main' --filter='.' --stop-on-failure

### Possible Solution

_No response_

### Ad

[2021-11-15 18:33] nicolas-grekas commented on #44062
Can you please try this patch and let me know if it fixes the issue?

[code]

[2021-11-15 20:02] COil commented on #44062
Hi @nicolas-grekas, it's OK with the patch, ty.

[2021-11-15 20:33] #44062 closed, assigned to nobody

[2021-11-15 20:36] #44030 closed, assigned to nobody

[2021-11-15 23:09] derrabus commented on #40354
Closing in favor of symfony/monolog-bundle#391

[2021-11-15 23:09] #40354 closed, assigned to nobody

[2021-11-16 01:41] lukas-staab opened #44066 "[Process] defaultEnv not properly generated in PHP build-in webserver"
### Symfony version(s) affected

process 5.3.7

### Description

The php-doc says
https://github.com/symfony/symfony/blob/f7d70f1ab4be3bd98432cf9eccc4fa53f9fd36c4/src/Symfony/Component/Process/Process.php#L137
With `$env = null` it will take the Enviroment of the current process. This is not allways true.
Using the [PHP Build-In Webserver](https://www.php.net/manual/en/features.commandline.webserv

[2021-11-16 01:57] lukas-staab commented on #44066
This might be the cause of the issue of the empty `$_ENV`. Quote from (my) default `/etc/php.ini` (php 8.0 on Fedora 35)
[code]
So this might even effect other tools, not only the build-in webserver. For me `php -f` worked, where the build-in webserver did not with the same files, due to unpopulated `$_ENV` (E)

[2021-11-16 07:01] aakashtushar opened #44067 "Serializer Groups not working with Attribute"
### Symfony version(s) affected

5.4.0-BETA2

### Description

Serializer Groups Attribute is being ignored or not working whiling serializing object.

### How to reproduce

[code]

[code]

**Response:**
[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-16 07:26] #43359 closed, assigned to nobody

[2021-11-16 07:31] #43976 closed, assigned to nobody

[2021-11-16 07:51] #44049 closed, assigned to nobody

[2021-11-16 08:40] welcoMattic commented on #43953
I'm working on a fix, but it's more complex than I expected, and it could result on breaking BC. I'll open a PR soon with a first version of the fix.

[2021-11-16 09:28] idriss-code opened #44071 "controller file response add a line break at the begin of the file"
### Symfony version(s) affected

5.3

### Description

controller file response add a line break at the begin of the file

same bug with

new Response($fileContent);

new BinaryFileResponse('/test');

### How to reproduce

$file = new File('/home/tmp/test.tgz');

return $this->file($file);

### Possible Solution

use ob_clean

thx to Jarek Jakubowski
https://stackoverflow.com/questions/39717669/sy

[2021-11-16 10:21] fancyweb commented on #44014
I opened https://github.com/symfony/symfony/pull/44073 since I had already made the "work". Let's see where it goes there :smile:

[2021-11-16 10:32] ovrflo opened #44074 "[DependencyInjection] Preload file fatal error"
### Symfony version(s) affected

5.4.0-BETA2, 6.0.0-BETA2

### Description

Tested beta2 with preloading and got

[code]

It ends up including the main container class file and treating it like it returns an instance of the Container.

### How to reproduce

Generate the cache with preloading. The error will be in `var/cache/prod/App_KernelProdContainer.preload.php` line 4.

### Possible Solution

[2021-11-16 10:34] nicolas-grekas commented on #44074
Can you provide a reproducer? Doesn't the included file return the container?

[2021-11-16 10:35] ovrflo commented on #44074
I really thought I could get away without the reproducer 😁
I'm pretty sure it happens with a vanilla install. Give me a few minutes to try to put it together.

[2021-11-16 10:43] ovrflo commented on #44074
I could reproduce the bug by:
- installing a fresh skeleton -- `symfony new --version=next sf54`
- configuring my local fpm with preload path `opcache.preload=/path/to/sf54/var/cache/dev/App_KernelDevDebugContainer.preload.php`

Got the same error:
[code]

There is one interesting thing though... If you manually run it (e.g: `php var/cache/dev/App_KernelDevDebugContainer.preload.php`) it doesn't t

[2021-11-16 10:49] xabbuh commented on #44067
Can you create a small example application that allows to reproduce your issue?

[2021-11-16 10:52] xabbuh commented on #41708
let's close here for now until we have further insights

[2021-11-16 10:52] #41708 closed, assigned to nobody

[2021-11-16 11:07] rmikalkenas opened #44075 "[HttpClient] Idle timeout reached with StreamWrapper::createResource"
### Symfony version(s) affected

5.3.10

### Description

I'm trying to implement a simple logging http client decorator to log all http calls with info that I would like to track (Implementation: https://github.com/rmikalkenas/idle-timeout-issue/blob/master/src/HttpClient/LoggingHttpClient.php#L17)

It works well while I'm requesting simple data endpoints (for example ones that responds with json

[2021-11-16 12:06] #44075 closed, assigned to nobody

[2021-11-16 12:32] xabbuh commented on #44071
Can you create a small example application that allows to reproduce your issue?

[2021-11-16 13:14] carlobeltrame commented on #35399
We also have this problem, using Symfony 5.3. So yes, still relevant.

[2021-11-16 13:44] laurentmuller opened #44077 "Handle Request and Form"
### Description

In a controller, we use several time a code below:

[code]

### Example

It is not possible to create a function in the AbstractController to handle the request AND the form with code like this:

[code]

So the code is more clean:

[code]

[2021-11-16 13:53] #44077 closed, assigned to nobody

[2021-11-16 14:20] kbond opened #44081 "[Messenger] Autoload problem on PHP 8.1 without serializer component"
### Symfony version(s) affected

5.3+

### Description

Building the container using messenger without serializer causes:

[code]

### How to reproduce

Issue is demonstrated with this [Github Action run](https://github.com/zenstruck/messenger-test/actions/runs/1467219016).

### Possible Solution

_No response_

### Additional Context

Looks similar to https://github.com/symfony/symfony/issues/417

[2021-11-16 14:52] lukas-staab commented on #44066
Thanks for the quick commit f608f0b7241a84f7893a621f7993aff4988306b3 @nicolas-grekas but I do not think this solves the issue. e.g. `'PATH'` is neither in  `$_SERVER` nor in `$_ENV` for me, only in `getenv()` (Server is not empty, as ENV is, but does not hold the PATH variable by [my]  default)

[2021-11-16 14:53] nicolas-grekas commented on #44066
Is that a guess or did you give it a try? To me it should fix the issue... :)

[2021-11-16 15:06] derrabus commented on #44081
`ClassExistenceResource` should not error if a watched class uses an undefined trait, imho. Looks like this has to be fixed in the Config component.

[2021-11-16 15:10] lukas-staab commented on #44066
I reimplemented it, you are right, it works like a charm. I did not expect that the intersection is empty. Thanks for the quick response!

[2021-11-16 15:12] #44066 closed, assigned to nobody

[2021-11-16 15:12] JacquesDurand commented on #43468
Hi, working with @egeloen, I made a reproducer for this issue, which ended up working (as in **not** reproducing the issue): I was able to statelessely switch user behind a firewall created with LexikJWTAuthenticationBundle.

After some more research on why it didn't work in our actual app, I stumbled upon [this comment](https://github.com/lexik/LexikJWTAuthenticationBundle/issues/652#issuecomment

[2021-11-16 18:31] Jayfrown opened #44089 "LDAP authentication should return a meaningful error when the LDAP server is unavailable"
### Symfony version(s) affected

5.3

### Description

In case the configured LDAP server is not currently reachable, the `json_login_ldap` authenticator returns this to the user:

[code]

Internally, a PHP notice is logged:

[code]

and `symfony/ldap` throws `Symfony\Component\Security\Core\Exception\BadCredentialsException`, which doesn't seem quite right.

I think it would make more sense for t

[2021-11-16 18:57] derrabus commented on #44089
Would you like to work on a fix?

[2021-11-16 18:58] Jayfrown commented on #44089
Yeah, I would love to contribute. I do think I would need some pointers on where to start.

[2021-11-16 19:36] derrabus commented on #44089
Pointers:

* Check out the 5.3 branch of `symfony/symfony`.
* Look into the LDAP component and find the `ldap_bind()` call.
* Find the corresponding test for that piece of code.
* Add a test that reproduces your problem.
* Fix the code so your new test passes.

[2021-11-16 21:09] j-bernard opened #44091 "Provide the right flags to IDN methods for HttpClient"
### Symfony version(s) affected

5.3

### Description

Symfony HttpClient supports IDN but does not provide the right flags to the intl IDN methods (`idn_to_ascii` and `idn_to_utf8`) to be fully IDNA 2008 compliant (RFC 5891).
For example, `fußball.test` should be converted as `xn--fuball-cta.test` instead of `fussball.test`.

See [the affected line](https://github.com/symfony/symfony/blob/dd8c1dd

[2021-11-16 21:49] j-bernard opened #44092 "Provide the right flags to IDN methods for email addresses conversion"
### Symfony version(s) affected
5.3

### Description

Symfony Mailer converts the email addresses domain to A-label in order to be compliant with servers that does not support the SMTPUTF8 flag but this conversion is not fully IDNA2008 compliant.

See #44091 that is the equivalent report for HttpClient.

[This line](https://github.com/symfony/symfony/blob/dd8c1dd9bac12563dcd962c9fd7e7ad1af9120b5/s

[2021-11-16 22:23] michaelHottomali opened #44093 "Cannot declare EntityManager & other lazy loaded classes"
### Symfony version(s) affected

5.4.0

### Description

![Screen Shot 2021-11-15 at 4 10 48 PM](https://user-images.githubusercontent.com/62905218/142075615-291f78eb-c4ac-4e77-9884-3c852f3992e4.png)

### How to reproduce

Rebuild schema or perform any API call.

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-16 22:52] j-bernard opened #44094 "Do not accept @ in email address local part unquoted"
### Symfony version(s) affected
5.3

### Description

As per [RFC5322](https://datatracker.ietf.org/doc/html/rfc5322), email address local part cannot contain any [special character](https://datatracker.ietf.org/doc/html/rfc5322#section-3.2.3) unless quoted but Mailer accepts email addresses containing `@`.

### How to reproduce

[code]
If `$to` local-part is unquoted and contains `@` an email add

[2021-11-16 23:00] derrabus commented on #44094
Can you please check again? As far as I know, we haven't released a version 6.5 and we currently have no plans to ever release a version 6.5 either. 🙃

[2021-11-16 23:03] j-bernard commented on #44094
Yes thanks, its 5.3, I made the edit :)

[2021-11-17 04:42] nicolas-grekas commented on #44091
Can you please send a PR, branch 4.4?

[2021-11-17 06:44] shokhaa commented on #43740
https://github.com/symfony/symfony/pull/44097

[2021-11-17 07:44] BlackbitDevs commented on #41006
Is it actually correct that when open_basedir is used, the executable is only searched in the `open_basedir` directories?

Actually the PHP docs say about `open_basedir`:

We actually do not want to access the file with PHP but to get the path of the binary and then execute it via shell. I think this is the difference between `open_ basedir` and `PATH`.

[2021-11-17 08:37] epitre commented on #43828
Hello @a1812 and @xabbuh
I just came back from a looong week-end ^^

So, I did test your solution, and it did not work.

@xabbuh Can you reopen the issue, as it is still here.

[2021-11-17 08:38] niamzor commented on #43828
I can confirm that the above fix is working on the reproduction project.

Is it worth updating the doc ? As it uses the `static::createKernel()` method https://symfony.com/doc/current/console.html#testing-commands

[2021-11-17 08:44] epitre commented on #43828
:thinking:

[2021-11-17 09:10] bastien70 commented on #39763
@Pixelshaped @cztk The problem with this solution is that we have to call it on every request. This means that with each request, the token of the current user will be refreshed, causing performance problems.

Do you still use it that way?

[2021-11-17 09:12] nicolas-grekas commented on #44081
I'm not sure the issue is in Config.
But I'm pretty sure the service should be unregistered when its deps are missing.

[2021-11-17 09:18] Pixelshaped commented on #39763
I'm not sure why you would need to call it on every request. I call it very discreetly in my application whenever I'm sure I can securely change the role of an user without disconnecting him. That's like 2 rare flows of my app.

[2021-11-17 09:27] bastien70 commented on #39763
@Pixelshaped Oh okay yes indeed. You can target a specific user. I thought it only refreshed the current user's token. Under these conditions, we should be able to set up a custom event in which to put the code that refreshes the token, then dispatch it from the places where we change the roles!

[2021-11-17 09:30] nicolas-grekas commented on #44081
(PR welcome ;) )

[2021-11-17 09:32] #44074 closed, assigned to nobody

[2021-11-17 09:35] nicolas-grekas commented on #44081
Re-reading #32395, the issue was in php-src
Since only 8.1 is failing, it might be that the issue reappeared there?
@derrabus would you be able to investigate maybe?

[2021-11-17 09:40] bastien70 commented on #39763
When I use your code to change a user's roles from another user, then I'm logged back in as that user whose roles have been changed.

Which means that this method works if it is the roles of its own user that you change.

Otherwise, as said above, we should set up an event which refreshes the token of the current user on each request.

This is the code I used after updating the roles of user 1 fro

[2021-11-17 09:45] stof commented on #41006
@BlackbitNeueMedien but to determine the existence of the executable, we do access the file on the filesystem (to know that the file exists).
ExecutableFinder is not about executing the binary. It is about finding it.

[2021-11-17 09:53] Pixelshaped commented on #39763
Usually you **will** refresh the current user's token because that's exactly who will be disconnected when the role changes. I use it in my app when a user is finally qualified (and gets access to a part of the app he didn't have access before).

[code]

Refreshing the token of another User doesn't make sense (as it's linked to the cookie the user will receive to keep authentication alive). If you

[2021-11-17 09:57] maximecolin opened #44100 "[symfony/mailjet-mailer] Being able to customize payload when sending mail through mailjet+api"
### Description

Hi. I'm trying to send email through `MailjetApiTransport` using a MailJet template id (in order to ask MailJet to render the body with a template stored on MailJet instead of sending a text/html body).

With SMTP, we can set the `X-MJ-TemplateID` header to specify the template to use.

According to the [MailJet documentation](https://dev.mailjet.com/email/guides/send-api-v31/#add

[2021-11-17 10:00] BlackbitDevs commented on #41006
@stof Ok, but this leads to wrong results. For example when you run PHP in FPM and get to https://github.com/symfony/symfony/blob/41065307c8030f7f2169c82af9ac4e9f7a9a61d0/src/Symfony/Component/Process/PhpExecutableFinder.php#L77-L82 (assuming that all the other env variables have not been set)

There `[\PHP_BINDIR]` gets used as `$extraDirs` in https://github.com/symfony/symfony/blob/41065307c8030

[2021-11-17 10:14] bastien70 commented on #39763
Wow, thank you very much for these explanations! I will be inspired by it to set up my logic!

Basically, my wish to refresh the token of the current user on each request was to avoid wasting time to reconnect each time his roles changed (something which can happen quite often).

One idea could therefore be to keep my code, but to refresh the token only if the user whose roles have been modified i

[2021-11-17 10:24] wouterj commented on #39763
I have to ask: What use case is there where you have to change a user's role quite often?

A "role" represents the "function" of that person on your website. I don't expect someone's function on a website (moderator, regular user, admin, etc) to change that often. See also my blogpost on ["Grant on Permissions, not Roles"](https://wouterj.nl/2020/01/grant-on-permissions-not-roles)

[2021-11-17 10:30] Pixelshaped commented on #39763
I don't think it would be right. Just use `isEqualTo` in every context, that seems the way to go for your usecase.

But I have to second @wouterj : it's quite weird that your users have their role change that often. I get that backoffice superadmin can change user roles and you would maybe not want them to be disconnected (I do disconnect them in that context). But why does that happens so often i

[2021-11-17 10:41] bastien70 commented on #39763
@wouterj @Pixelshaped This often happens because it is an application for companies in which each employee has their own account. In this app there are a lot of features that can be assigned to employees (and be changed) hence this can change.

The point is that it is the head of the company who can mostly assign roles (including his own), that's why I was telling myself that I could use the code

[2021-11-17 10:50] TristanPouliquen opened #44103 "[Security][Access Control] Allow definition of a custom RequestMatcher in access control rules like in firewalls"
### Description

Under a firewall configuration, it is possible to filter requests using all RequestMatcherInterface attributes (pattern, ip, host, methods..) OR by specifying directly the reference to a custom RequestMatcher to be used.

Under the `access_control` configuration, it is possible to define the restrictions based on all RequestMatcherInterface attributes too. The `SecurityExtension`

[2021-11-17 10:58] abdellahrk commented on #33311
Hello devs, any issue here still not solved yet? I'll like to jump in.
Thank you.

[2021-11-17 11:03] wouterj commented on #39763
Seems like the [AclBundle](https://github.com/symfony/acl-bundle/blob/main/src/Resources/doc/index.rst) or writing a [custom voter](https://symfony.com/doc/current/security/voters.html) would be better for this use-case than changing the "role" of a user. The role remains the same in all cases for what I see: employee. But you have to control which permissions an individual employee has.

[2021-11-17 12:00] nicolas-grekas commented on #44081
I just gave it a try, and missing traits are turned into unrecoverable fatal errors since PHP 7.4:
https://3v4l.org/VeEUF

Dunno if @nikic can do something about it?

Anyway, we have only one solution here, which is to conditionally remove the definition.
@kbond ok to send a PR after you'd confirm that this would fix your issue?

[2021-11-17 12:37] fazliddin opened #44107 "Serious problem in error reporting"
### Symfony version(s) affected

5.3

### Description

I have installed `EasyAdmin` and created some class and since I did not like it I deleted it via composer. After that symfony app stoped working giving following weird error:

![Screenshot 2021-11-17 at 17-26-41 Class App Controller CRM ClientsCrudController does not exist in var www vhosts oqila_eap](https://user-images.githubusercontent.com/

[2021-11-17 12:52] fabpot commented on #44100
That's by design. We don't want to expose all features, only the ones that are common for all providers. If you rely on many specific features, then you'd better use the official SDK (as you won't really benefit from the standardization offered by Symfony Mailer anyway).

[2021-11-17 13:13] stof commented on #44107
Regarding the non-existent parent class, a PHP class cannot be defined if its parent class is missing. So the `ClientsCrudController` indeed cannot exist in the PHP process (forcing to load it would trigger a fatal error due to the missing AbstractCrudController).

Regarding the weird error page, `highlight_file` is a core PHP function available since PHP 5: https://www.php.net/highlight_file. So

[2021-11-17 13:17] kbond commented on #44081
Strange we are seeing the issue on 8.1 only, no?

Yes, will do.

[2021-11-17 14:23] maximecolin commented on #44100
@fabpot I feared you answered that 😅  But I understand, that make sens. Thanks for the reply.

[2021-11-17 14:35] AymDev opened #44109 "[Messenger] Cannot listen to exceptions when consuming messages"
### Symfony version(s) affected

5.3

### Description

I need to listen to various events. I can "catch" failures in handlers with `WorkerMessageFailedEvent` but it is not triggered if an Exception is thrown in a custom serializer (just an example).

I tried to add `KernelEvents::EXCEPTION` in my event subscriber but it doesn't work.

### How to reproduce

Register a [custom serializer](https://sy

[2021-11-17 16:01] dr4c4rys commented on #39369
What is the best way to start implementation for that feature? The yml-Reader-Component, or extend the routing component, or both?

[2021-11-17 16:13] stof commented on #39369
Use `type: glob` instead, and it should already work.

[2021-11-17 16:20] epitre commented on #43828
@phillylovepark I just tried it with your example project, and it did not work for me.
I can see the email, but the test fails the same.

Could you check again, please ?

[2021-11-17 16:53] ikamikaz3 commented on #40483
Hello @romaricdrigon,

Can you provide a working example of that customFormType ? I'm trying to do exactly the same thing, I've had a custom form type to handle Dynamic choices with Ajax + Select2 and it's broken since sf5.

Thanks in advance

[2021-11-17 16:54] #44081 closed, assigned to nobody

[2021-11-17 16:59] nikic commented on #44081
We should be able to allow exceptions during trait loading. A bit odd that it's supported for parents and interfaces but not traits.

[2021-11-17 17:36] niamzor commented on #43828
Have you tried the suggested fix ? I just pushed it in the latest commit of the [reproduction repository](https://github.com/phillylovepark/symfony-skeleton/tree/43828_testing_email).

Try to execute the `testExecute()` method from the `App\Tests\Command\SendMailCommandTest`. It works for me.

[2021-11-17 17:39] alex-dev opened #44117 "[Messenger] MessageDecodingFailedException should not delete message from queue"
### Symfony version(s) affected

All

### Description

`MessageDecodingFailedException` should not delete a message from the queue.

[code]

### Issues it causes

- Since decoding is not exactly reverse of encoding with arrays (int vs string keys), legitimate messages end up being dropped.
- Any other kind of dev ops error can mess up the decoding temporarily.

[2021-11-17 18:46] xabbuh commented on #44039
We do not declare methods as protected by design as maintaining them beckmessert nightmare as soon as we need/want  to do changes to these methods.

Can you please show the code that you would have added in your implementation if the methods were protected?

[2021-11-17 18:53] j-bernard commented on #44091
Yes, I'll work on it.

[2021-11-17 20:34] AurelC2G opened #44118 "Enable asserts when in dev mode"
### Description

Since PHP 7, the behavior of the `assert()` function is determined by a couple of configuration directives, zend.assertions and assert.exception. When calling the ErrorHandler component's `Debug::enable()`, these directives get enabled, and assertions are evaluated and throw when broken (https://github.com/symfony/error-handler/blob/5.3/Debug.php#L32).

However, as far as I can't

[2021-11-17 22:31] epitre commented on #43828
Indeed, it works, but what I don't understand, is that you are still using static...
https://github.com/phillylovepark/symfony-skeleton/blob/43828_testing_email/tests/Command/SendMailCommandTest.php#L13

[2021-11-17 22:32] epitre commented on #43828
OMG !
I did not realize that I have to replace create by boot :face_palm:

[2021-11-17 22:50] epitre commented on #43828
I can now confirm it works.
I created a PR to make the change in the symfony docs : https://github.com/symfony/symfony-docs/pull/16118

[2021-11-17 22:50] epitre commented on #43828
@xabbuh Do you want to close it ?

[2021-11-18 04:56] aakashtushar commented on #44067
@xabbuh I figured the issue was with the configuration. I had registered GetSetMethodNormalizer as service.

[code]

Removing this fixes the issue.

[2021-11-18 06:28] #43740 closed, assigned to nobody

[2021-11-18 07:09] #44067 closed, assigned to nobody

[2021-11-18 10:09] mindaugasvcs commented on #9888
Amazing! This still not fixed in 2021! Symfony what you doing with 7 millions?

[2021-11-18 10:55] stof commented on #44118
@nicolas-grekas was this lost when migrating to the runtime component ?

[2021-11-18 11:09] nicolas-grekas commented on #44118
Absolutely not. What's described in this ticket is just wrong...
Here is where the call is done in <= 5.2 app:
https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/5.2/public/index.php

and where it's done since 5.3:
https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Runtime/Internal/BasicErrorHandler.php
(called from GenericRuntime)

I don't know what @AurelC2G m

[2021-11-18 11:28] misterx commented on #36585
I've made some decorator for `PropertyNormalizer` that supports `DiscriminatorMap`.
That's what I've done:
1.  Copied discriminator logic from `ObjectNormalizer` to `getAttributeValue`
2.  Removed only classes restriction in `supportsDenormalization`
3.  Changed object instantiation to `newInstanceWithoutConstructor`

[code]

[2021-11-18 11:38] ricohumme opened #44123 "mailer.envelope.sender / mailer.headers.from not working"
### Symfony version(s) affected

5.3.10

### Description

Hi,
I just found that when working in dev mode these keys are not used to alter the message being sent.

in my dev/mailer.yaml I used the following config
[code]

This resulted in the mail actually being sent to my email address, but the rest of the values (sender, from) remained untouched.
I received the mail with the values I passed when

[2021-11-18 11:46] AurelC2G commented on #44118
I wrote that `Debug::enable()` was not called (anymore) by Symfony, and that seems to be true then (and not "just wrong"). However you're right that `BasicErrorHandler::register()` does the same thing, hadn't noticed that.
The reason why asserts were not working despite that is that setting zend.assertions this way doesn't work anymore (has to be set in php.ini). Nothing we can do about that thoug

[2021-11-18 11:46] #44118 closed, assigned to nobody

[2021-11-18 13:03] SamMousa opened #44124 "Mailers should not depend on Symfony's HttpClientInterface"
### Description

Currently the mailer implementations all have an optional dependency on (among other things) an instance of `HttpClientInterface`.

This is suboptimal for several reasons:
- It hides the fact that some transports actually have a required dependency.
- It forces users of this component to also use Symfony Http Client.

Since anyone using the Symfony HttpClient will also have the PS

[2021-11-18 13:08] stof commented on #44124
well, this would force us to  implement the code against the PSR-18 interface (which then also requires injecting PSR-17 factories) instead of the simpler `symfony/http-client-contracts` interface.

[2021-11-18 13:11] #40462 closed, assigned to nobody

[2021-11-18 13:14] SamMousa commented on #44124
Sure, there will be some changes required; alternatively you could add the http client as a normal dependency to extensions like https://packagist.org/packages/symfony/sendgrid-mailer (currently it is just a dev dependency).

By the way note that the `Psr18Client` class implements those as well: https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/HttpClient/Psr18Client.php

So the co

[2021-11-18 13:16] nicolas-grekas commented on #44124
What @stof is telling is that this in turn would require lasagna layers of psr7+17 dependencies.
Clearly that won't happen.
Thanks for proposing.

[2021-11-18 13:16] #44124 closed, assigned to nobody

[2021-11-18 13:20] stof commented on #44124
Not exactly. It forces to use `symfony/http-client-contracts`. You could build a different implementation of those interfaces if you don't like `symfony/http-client`.

[2021-11-18 13:22] SamMousa commented on #44124
Yeah, I'm aware. It's what I'm doing right now, building an adapter that provides the Symfony interface given some PSR implementations.

(This is where it'll live, for future googlers: https://github.com/SAM-IT/symfony-http-psr18)

[2021-11-18 14:23] surikman opened #44126 "Unable to override autoconfigure for specific service"
### Symfony version(s) affected

5.3.10

### Description

Hi, `autoconfigure` does not work properly when I need to override service in same `service.yml` when `autoconfigure: true` is configured under `_defaults`

### How to reproduce

My Configuration is:
[code]

I expected, that `MySuperSpecialFallback` service will not have `my_tag` but it has.

### Possible Solution

_No response_

### Additi

[2021-11-18 14:35] Xesau opened #44127 "Method base64Encode missing in Symfony\Component\Mailer\DataCollector\MessageDataCollector"
### Symfony version(s) affected

5.4.0-BETA2

### Description

When opening the Emails tab in the Profiler and you have sent at least 1 email, the following error pops up:

```Neither the property "base64Encode" nor one of the methods "base64Encode()", "getbase64Encode()"/"isbase64Encode()"/"hasbase64Encode()" or "__call()" exist and have public access in class "Symfony\Component\Mailer\DataCollec

[2021-11-18 15:02] stof commented on #9888
Well, we solved this partially: we have `All` (already the case when this was opened), `Any` and `AtLeastOneOf`. This is still open, because `Unique` is not there yet.

[2021-11-18 15:18] stof commented on #44127
could it be that you updated WebProfilerBundle without updating symfony/mailer ?

@javiereguiluz we might miss a conflict rule in WebProfilerBundle 5.4 to forbid older versions of symfony/mailer

[2021-11-18 16:28] norkunas commented on #9888
https://symfony.com/doc/current/reference/constraints/Unique.html it's there :)

[2021-11-18 16:46] stof commented on #9888
Indeed. The basic feature of `Unique` is indeed implemented. the part still not done yet is only the `fields` option of it.

[2021-11-18 18:48] xabbuh commented on #44019
You are right. There was an issue with how we handled quoted scalars tagged with `!!str`. #44131 will fix that and your YAML should look like this then to work as expected:

[code]

[2021-11-18 19:03] xabbuh commented on #20593
Let's close here then.

[2021-11-18 19:03] #20593 closed

[2021-11-18 20:14] fazliddin commented on #44107
Sorry, it turns out `highlight_file` function was disabled by my settings

[2021-11-18 20:14] #44107 closed, assigned to nobody

[2021-11-18 20:14] Xesau commented on #44127
It was indeed the case that mailer was not updated to 5.4 yet. My bad.

[2021-11-18 20:18] fazliddin opened #44133 "Error reporter does not show line number. How will we find out what is the problem. It is making debugging almost impossible"
### Symfony version(s) affected

5.3

### Description

![Screenshot 2021-11-19 at 01-17-14 The target-entity App Entity CRM Users cannot be found in 'App Entity CRM Clients#created](https://user-images.githubusercontent.com/5574503/142490341-a1265f53-975a-4fd5-93ed-8e060bc3b289.png)

### How to reproduce

[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-18 21:01] xabbuh commented on #44133
I am not sure if I understand the issue. What did you expect instead?

[2021-11-18 21:04] raziel057 commented on #20593
I'm sorry but then we need to be able to set the lenient mode to true in https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Form/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php, or at least we need to have a way to provide the mode.

Else we can encounter U_PARSE_ERROR for some dates while using the DateTimeToLocalizedStringTransformer.

[2021-11-18 21:06] fazliddin commented on #44133
Well, Symfony says that The target-entity App\Entity\CRM\Users cannot be found in 'App\Entity\CRM\Clients#createdUser', but we do not not which line causes this problem?

For example, can you tell what is the problem for sure by looking this error msg.

[2021-11-18 21:07] xabbuh commented on #44127
Please do not work on this issue. I have someone whom I will guide through the contribution process tomorrow and this looks like a good issue to start with.

[2021-11-18 21:11] xabbuh commented on #44133
The error is reported by Doctrine which gets here analysing the metadata that comes from your mapping configuration. At this point it doesn’t know anything about line numbers as the mapping configuration can come from different sources. Your issue here is that the class that you reference with the $createdUser property references a class named Users which does not seem to exist in the same namespa

[2021-11-18 21:12] xabbuh commented on #20593
Would you be up to investigate what would need to be done in the Symfony code to achieve this?

[2021-11-18 21:20] fazliddin commented on #44133
I think there are too many code generation in symfony that it makes impossible to debug it. Entity generator has generated 150 line code for table fields and now as you say there are also tons of meta data are generated behind scenes.

Actually I already switched to another framework, But I am just curious, how symfony developers solve such problems.

![Screenshot from 2021-11-19 02-14-01](https:/

[2021-11-18 21:23] raziel057 commented on #20593
An easy way is to change the ``$intlDateFormatter->setLenient(false);`` to ``true`` in ``getIntlDateFormatter`` method. As described here, https://www.php.net/manual/en/intldateformatter.setlenient.php, enabling lenient parsing allows the parser to accept otherwise flawed date or time patterns.

What do you think about that?

[2021-11-18 21:32] #44133 closed, assigned to nobody

[2021-11-18 21:55] j-bernard opened #44136 "Correctly implements RFC6531"
### Symfony version(s) affected

5.1

### Description

Commit d057dffcd6265fff49679d46eca9c1a20b42d55b allows non-ASCII local-part in email addresses but this should come with [RFC6531](https://datatracker.ietf.org/doc/html/rfc6531) implementation (SMTPUTF8 extension).
It seems that this is not implemented.

### How to reproduce

[code]

If you try sending an email with non-ASCII email address to

[2021-11-18 22:23] mindaugasvcs commented on #9888
Unique constraint, a basic feature, implemented only in 2019? Still normalizer option is undocumented and not really clear how to use it to be useful. Symfony Form Collection implements only patching approach, what if on form submit I want to replace the collection instead? No luck with Symfony, have to manually check submitted items against values in DB to implement the replace approach.

[2021-11-18 23:48] cztk commented on #39763
@Pixelshaped yes, still using it. As other already exampled, (ab)using this to implement a 2FA validation to allow additional functionality temporarily.
Voter might be technically a cleanere way to achieve this, unfortunally this is nothing I have time to test and validate for that project anytime soon :/

[2021-11-19 09:44] florentdestremau commented on #33394
just had the same problem, found this issue, it very much is still a problem in 5.3

[2021-11-19 10:05] xabbuh commented on #20593
We could do that, but I am not sure if that wouldn't have the unwanted side effect of accepting too many dates that would have otherwise been caught as being invalid.

[2021-11-19 10:14] david-vde commented on #15876
@guilemos Hello! Did you find a solution for this issue ? I encounter the same problem on symfony 3.4. Quite annoying.

Thanks

[2021-11-19 10:16] aelfannir commented on #40862
I'm currently facing the same issue

[2021-11-19 10:24] adrienfr opened #44138 "[Cache] Failed to save key of type array"
### Symfony version(s) affected

5.4.0-BETA3

### Description

When testing SF 5.4, the following warning occurs on entities with `Assert` annotations and `PhpFilesAdapter` cache.

`Failed to save key "App%5CEntity%5CPartner%24name" of type array: Cache key "App%5CEntity%5CPartner%24name" has non-serializable "array" value.`

### How to reproduce

[code]

### Possible Solution

_No response_

###

[2021-11-19 10:26] xabbuh commented on #43828
Thanks to everyone involved here in helping each other and to also improve the documentation. 😍 Closing here now then.

[2021-11-19 10:26] #43828 closed, assigned to nobody

[2021-11-19 10:30] nicolas-grekas commented on #44138
Can you please share a small reproducing app?

[2021-11-19 10:58] adrienfr commented on #44138
[Here](https://github.com/adrienfr/sf-cache-entities-with-assert-annotations) is a small reproducer.
Steps to reproduce :
- `composer install`
- `symfony server:start`
- `php bin/console doctrine:migrations:migrate`
- Go to http://127.0.0.1:8000/index
- Open DebugBar and see Warnings
<img width="1048" alt="Capture d’écran 2021-11-19 à 11 58 06" src="https://user-images.githubusercontent.com/4313

[2021-11-19 11:13] nicolas-grekas commented on #44138
I mean an app that I could install myself on my local machine please?

[2021-11-19 11:13] nicolas-grekas commented on #44138
OH I missed the link, let me try it now!

[2021-11-19 11:19] nicolas-grekas commented on #44138
I'm not able to reproduce the issue, I see no warning here :(

[2021-11-19 11:22] fabifont opened #44148 "Can't create symfony app with composer"
Command: `composer create-project symfony/website-skeleton first-symfony-app`

Output:
[code]

PHP version: `PHP 8.0.12 (cli) (built: Nov 13 2021 20:25:00) ( NTS )`
Composer version: `Composer version 2.1.12 2021-11-09 16:02:04`
OS: `Linux arch 5.15.2-arch1-1 symfony/website-skeleton#1 SMP PREEMPT Fri, 12 Nov 2021 19:22:10 +0000 x86_64 GNU/Linux`

[2021-11-19 11:22] #44127 closed, assigned to nobody

[2021-11-19 11:24] xabbuh commented on #44126
Can you create a small example application that allows to reproduce your issue?

[2021-11-19 11:24] #44091 closed, assigned to nobody

[2021-11-19 11:24] #44092 closed, assigned to nobody

[2021-11-19 11:28] adrienfr commented on #44138
Could you try with PHP 7.3?
[code]

[code]

[2021-11-19 11:33] nicolas-grekas commented on #44138
Same with this, no issue:
PHP 7.3.31-2+ubuntu20.04.1+deb.sury.org+1 (cli) (built: Oct 22 2021 12:34:45) ( NTS )

[2021-11-19 11:37] adrienfr commented on #44138
That was my only lead that could have explained the difference :/

[2021-11-19 11:38] nicolas-grekas commented on #44138
You might want to debug/dump the value that fails to be serialized and figure out where it comes from...

[2021-11-19 11:41] adrienfr commented on #44138
Already tried but couldn't trace why this can't be serialized :
[code]

[2021-11-19 11:47] xabbuh commented on #44123
Can you create a small example application that allows to reproduce your issue?

[2021-11-19 12:07] alexander-schranz opened #44140 "Can not get placeholder Attribute for ChoiceType expanded false, multiple true"
### Symfony version(s) affected

5.3.10

### Description

Currently when trying to have a placeholder attribute for a multi select is not possible. I'm not sure why but it does not end in the twig file. There the placeholder stay as null.

### How to reproduce

[code]

Try to access `placeholder` in the twig file, its `null`.

### Possible Solution

Move logic from placeholderNormalizer to ChoiceT

[2021-11-19 12:41] ricohumme commented on #44123
Hi,

Here is an example project. All you need to do is setup your `MAILER_DSN` in `.env.local` and visit the route `/test`
Maybe update your own email address in `config/packages/dev/mailer.yaml` if you're not interested in spamming me :)
https://github.com/ricohumme/mailer_example

[2021-11-19 12:43] ricohumme commented on #44123
For reference, I use sparkpost to send my emails and this is the error message I receive, which makes perfect sense as the domain email.com is not configured in my account.
[code]

[2021-11-19 13:11] #40815 closed, assigned to nobody

[2021-11-19 13:14] adrienfr commented on #44138
It somehow seems like this is related to `groups` not explicitly defined in `@Assert`. With the following code, there is no more issues:
[code]

[2021-11-19 13:24] vitagon opened #44141 "[symfony/serializer] Empty object after denormalization"
### Symfony version(s) affected

5.3

### Description

Task: deserialize map (associative array) of objects
We have an object:
[code]
What we want to archive:
[code]

Implement `Symfony\Component\Serializer\Normalizer\DenormalizableInterface` interface in entity/dto class and create `denormalize` method. You will notice that the returned value from this method does not have an effect.

### How to

[2021-11-19 13:35] adrienfr commented on #44138
@nicolas-grekas just to double-check, you don't have any warnings at all?
<img width="132" alt="Capture d’écran 2021-11-19 à 14 33 30" src="https://user-images.githubusercontent.com/4313077/142631293-8150edf4-312d-4043-a0af-f81bb6dbf15b.png">

Because with new Profiler re-design, warning are not displayed on main page:
<img width="1223" alt="Capture d’écran 2021-11-19 à 14 33 36" src="https://

[2021-11-19 13:51] stof commented on #44138
@nicolas-grekas could it be related to https://github.com/symfony/symfony/commit/aa4fb0c2c4c3a5ef135ea671c7c6cd03ece56d9e#diff-eadef5e494fbfb85346e70992f4b18994df0b999b7d336c9cece5ab9e9a4a18a unsetting the property ?

[2021-11-19 13:55] derrabus opened #44142 "JS TypeError when replacing the debug toolbar"
### Symfony version(s) affected

5.4.0-BETA3

### Description

When replacing the debug toolbar after an AJAX call using the `Symfony-Debug-Toolbar-Replace` header, a `TypeError` is logged to the console.

[code]

### How to reproduce

tl;dr: Create a controller that emits the `Symfony-Debug-Toolbar-Replace` header and perform an AJAX call to that controller.

Long version: use my reproducer that

[2021-11-19 13:57] AnaRaro commented on #43726
I can take care of this translations 😄

[2021-11-19 14:01] adrienfr commented on #44138
Thanks @stof for this lead!
I confirm that there is no more warnings when I comment `//unset($this->groups)`; and re-add `$knownOptions['groups'] = true;` in `Constraint.php` on both my reproducer and my app

<img width="711" alt="Capture d’écran 2021-11-19 à 15 00 13" src="https://user-images.githubusercontent.com/4313077/142634829-88e80841-1947-4c34-b568-bf489f891181.png">

<img width="131" al

[2021-11-19 14:04] derrabus commented on #44142
The reproducer is bogus, I'll try to make a better one.

[2021-11-19 14:11] derrabus commented on #44142
The reproducer is reproducing the correct error now. I've updated the issue accordingly.

[2021-11-19 14:26] tgalopin opened #44144 "[RFC] New component HtmlSanitizer"
### Description

Following discussions with @DocFX and @nicolas-grekas, I'm opening this PR to request for comments on the idea of creating a new HtmlSanitizer component for Symfony 6.1, based on a package I developed: [html-sanitizer](https://github.com/tgalopin/html-sanitizer).

**Presentation**

html-sanitizer is a package I developed in 2018 as I needed a way to clean HTML while controlling pr

[2021-11-19 14:38] fabpot commented on #44144
That sounds like a great idea :) As you've already mentioned, we should be very clear about the use cases we cover and the problems we don't want to solve (and will never solve). Having the boundaries well defined is key to the success of such a component.

[2021-11-19 14:39] derrabus commented on #44142
Another side effect is that after the AJAX request the box that appears when hovering over the Symfony versions is cut off.

| Before | After |
| --- | --- |
| <img width="389" alt="Bildschirmfoto 2021-11-19 um 15 13 40" src="https://user-images.githubusercontent.com/1506493/142640495-37ba66fc-3aaf-4dcf-b6a2-7a5e5c3a7aed.png"> | <img width="168" alt="Bildschirmfoto 2021-11-19 um 15 35 08" src="htt

[2021-11-19 14:41] javiereguiluz commented on #44144
I like this proposal a lot.

I have a question about the naming. What if we call it `Sanitizer` (and a method like `sanitizeHtml()`) instead of `HtmlSanitizer` (and a method like `sanitize()`) ?

My reasoning is that we could slightly increase the target of this component to not only sanitize HTML.

For example, as https://www.trojansource.codes/ showed recently, in source code files we should alw

[2021-11-19 14:46] derrabus commented on #44142
If I revert the changes of #41257, the error is gone.

/cc @aleho

[2021-11-19 14:51] DocFX commented on #44144
+1 @javiereguiluz that's something I raised too. Decoupling the component from potential connectors (YAML, XML, JSON, etc.) in addition to HTML content would be great (and open to extension).

I think the name could be sth like `WebSanitizer`, `ContentSanitizer` or else.

[2021-11-19 14:56] nicolas-grekas commented on #44138
I confirm I have nothing like that. Anyone else reproducing?

@adrienfr can you please debug the situation a bit more, at least show us the details of the previous `ErrorException`?

[2021-11-19 14:58] tgalopin commented on #44144
I'm fine with opening the package to other languages/formats if we find it useful, especially by just calling it Sanitizer instead of HtmlSanitizer for instance.

However before adding genericity I think it'd be useful to see if we have an actual need for another format, by having an example of another sanitation process that isn't just a function call (str_replace works well in most cases). Do yo

[2021-11-19 15:03] nicolas-grekas commented on #44144
On my side I'm not sure it make sense to have something else than html.
We don't want to build another validator/filter/normalizer component.
Filtering/normalizing HTML is a very specific task.
It's very not like yaml (which can be validated with Config) nor XML (see XSD).
Filtering unicode strings is useful, but I'm also not sure there is anything in common, from an API pov, with filtering HTML.

[2021-11-19 15:05] tgalopin commented on #44144
I tend to agree with Nicolas, especially because most other "sanitation" use cases I can think of are basically a series of smart search and replace.

[2021-11-19 15:15] adrienfr commented on #44138
@nicolas-grekas could this be helpful?

<img width="1048" alt="Capture d’écran 2021-11-19 à 16 12 51" src="https://user-images.githubusercontent.com/4313077/142645718-b942c8e7-0afb-4b75-87b0-58174273fe18.png">

I'm available on Slack (Symfony Devs), username `adrienfr` if you need

[2021-11-19 15:15] DocFX commented on #44144
It's true this is clearly aimed at untrusted user-generated content, which is normally exclusively HTML (especially as long as you're dealing with web applications, which we are).

The only case I would think of is API I/O streams, while importing products and data being exchanged with non-webapps content -usually Java apps with heavy clients- (exporting would mean... "from your app", which is a S

[2021-11-19 15:25] xabbuh commented on #44141
Can you create a small example application that allows to reproduce your issue?

[2021-11-19 15:28] nicolas-grekas commented on #44138
I would really need the "previous" exception.

[2021-11-19 15:31] adrienfr commented on #44138
"User Notice: serialize(): "groups" returned as member variable from __sleep() but does not exist"

[2021-11-19 15:35] adrienfr commented on #44138
Found this related issue but you might remember :) https://github.com/symfony/symfony/issues/28352

[2021-11-19 15:46] nicolas-grekas commented on #44138
OK, I now am able to reproduce. I need to run `bin/console c:c --no-warmup` before refreshing the browser.

[2021-11-19 15:57] stof commented on #44144
I would keep the component focused only on HTML

[2021-11-19 16:08] welcoMattic commented on #44144
I like the idea, but as @fabpot says we need to be very clear and strict about the aim of such a component (i.e: it will not be a firewall against all XSS breaches.).

I would also keep it focused on HTML first, but designing it as `Sanitizer` with only one `HtmlSanitizer` and check later if it is legitimate to write `XmlSanitizer`, etc.

[2021-11-19 16:31] tgalopin commented on #44144
I agree, let's stick to HTML. Should we name it HtmlSanitizer or Sanitizer though? Sanitizer is shorter but less precise, I prefer HtmlSanitizer (like CssSelector).

I actually think it is indeed supposed to be a protection against all XSS breaches, that's the role of the component. It builds an entirely new HTML tree and only populate valid and safe elements from the original HTML. If we detect f

[2021-11-19 16:35] fabpot commented on #44144
HtmlSanitizer seems better.

[2021-11-19 16:51] vitagon commented on #44141
Here:
https://github.com/vitagon/serializer-bug

[2021-11-19 17:00] welcoMattic commented on #44031
Hello @tomasz-kusy, to be sure to understand well the issue, did you run `bin/console translation:push loco` with only `data` in your translation file?

[2021-11-19 17:03] alexander-schranz opened #44147 "Class "Symfony\Component\Security\Http\Firewall\BasicAuthenticationListener" used for service "security.authentication.listener.basic.main" cannot be found."
### Symfony version(s) affected

5.4.0-BETA-3

### Description

When I'm running my testa against Symfony 5.4.0-BETA-3 or current dev we are getting a strange error:

The following package where installed:

[code]

### How to reproduce

https://github.com/massiveart/MassiveSearchBundle/runs/4266812846?check_suite_focus=true

Running on PHP 8.0 and install dev dependencies to run the test against t

[2021-11-19 17:18] fabpot commented on #44148
That's weird. Just tried and it worked for me. Can you try again?

[2021-11-19 17:33] stof commented on #44141
that's totally expected and not a bug, as the `DenormalizableInterface::denormalize` method returns `void`.

Your own implementation is broken as you return a new object instead of assigning the values in `$this`

[2021-11-19 17:33] #44141 closed, assigned to nobody

[2021-11-19 17:36] stof commented on #44148
@fabifont do you have the iconv and ctype extensions in your PHP setup ?

[2021-11-19 17:40] vitagon commented on #44141
Thank you, @stof. It was not mentioned in phpdoc, so I did not find that it returns void

[2021-11-19 17:42] fabifont commented on #44148
@stof I should have them. I saw on Google that on Arch Linux I should uncomment a line in php.ini to enable it. I will check later and give you an answer.

[2021-11-19 21:23] OskarStark commented on #44144
Yes HtmlSanitizer 😃

[2021-11-20 06:28] #43726 closed, assigned to nobody

[2021-11-20 10:35] casahugo opened #44151 "[RFC] Move SECRETS in a new components📦️"
### Description

I really like the principle of symfony secrets, so much that I would like to use it with other frameworks.

In my case, I would like to use it with phalcon and php 7.1. The problem is that I don't need to have all the components of the FrameworkBundle.

I created a repository to extract the implementation of the symfony secrets. I just copied the code but it's not a viable long te

[2021-11-20 10:57] xabbuh commented on #44093
I think we merged something around this recently. Can you check if the issue still persists?

And if so, can you then create a small example application that allows to reproduce it?

[2021-11-20 11:09] xabbuh commented on #38629
Can you create a small example application that allows to reproduce your issue?

[2021-11-20 12:30] nicolas-grekas commented on #44093
See https://github.com/symfony/symfony/pull/44063

[2021-11-20 12:30] #44093 closed, assigned to nobody

[2021-11-20 12:53] jderusse commented on #44117
This is not specific to SQS bridge, but the same implementation for all adapters.

What else can we do?
- The retry mechanism needs to decode the message to be able to retry it.
- if we stop deleting the message, it will be re-consumed infinitely

I don't get your point. If the serializer/unserializer messed up with a payload leading to a corrupted message, then the payload will never be unseriali

[2021-11-20 13:11] #40896 closed, assigned to nobody

[2021-11-20 13:11] #40905 closed, assigned to nobody

[2021-11-20 13:31] Mausino commented on #41234
@carsonbot will nice if will somebody from core team marks it as usable or unusable ticket. If my observation will not relevant, please close the ticket. Thanks

[2021-11-20 15:56] fabifont commented on #44148
`iconv` extension is disabled by default on Arch. After uncommenting it in `php.ini` I can run `composer create-project symfony/website-skeleton first-symfony-app` without errors.

[2021-11-20 15:56] #44148 closed, assigned to nobody

[2021-11-20 16:47] php4fan opened #44162 "I keep getting "The metadata storage is not up to date" even after running "sync-metadata-storage""
### Symfony version(s) affected

5.4.0

### Description

I have a relatively simple project where I've done little more than install and configure a few bundles and run some "make:xxxx" commands.

I had formerly succesfully run "make:user" and made and run the corresponding migration creating a user entity.

Now I installed  the `symfonycasts/verify-email-bundle` bundle, and I ran `make:registrati

[2021-11-20 16:53] #40005 closed, assigned to nobody

[2021-11-20 16:59] php4fan commented on #44162
For some reason the error has gone away by changing in `.env.local`:
[code]
to:
[code]
(I skeptically tried that after googling for the issue and finding lots of answers saying that fixes it, with no explanation whatsoever of why)

However, I had succesfully created and run other migrations before with the setting as it was.

[2021-11-20 18:47] tgalopin commented on #43341
Given that HtmlSanitizer [seems to be an interesting new component](https://github.com/symfony/symfony/issues/44144) and that the component rely on this package, I think it makes sense to require this dependency. If we don't, it would mean installing the HtmlSanitizer component may unexpectedly break tests due to the change of parsing behavior.

I guess we could do this in Symfony 6.1?

EDIT: I op

[2021-11-20 18:51] tyrelcher opened #44168 "[Security] [Remember Me] Improved flexibility for remember me cookies"
### Description

In a project I'm working on I have a user entity and a number of token entities using single_table inheritance. Using this strategy I can store various types of security tokens for a user. So I figured I might as well add remember me tokens to this as well as opposed to Symfony's standalone table.

This requires me to write a custom `RememberMeHandler` which is fine; I can get the

[2021-11-20 22:25] derrabus commented on #44147
It only does that if you use the old authenticator system that has been removed in Symfony 6. We can improve the error message that you receive, but your tests will still fail as long as you don't migrate to the new system.

[2021-11-20 23:07] wouterj commented on #44147
@derrabus is correct and I do expect you would see a deprecation notice about this. Please consider updating the `SYMFONY_DEPRECATIONS_HELPER` env variable that the bundle is using to [something like `max[direct]=0`](https://symfony.com/doc/current/components/phpunit_bridge#direct-and-indirect-deprecations).

Also, I would recommend installing Symfony Flex in the bundle's CI workflow and using the

[2021-11-21 00:05] derrabus commented on #41234
php.ini is the right place for configuring the default timezone. Symfony should not fiddle with that, imho.

[2021-11-21 10:06] fabpot commented on #41234
I agree with what have been said, probably not something Symfony should be responsible for.

[2021-11-21 10:06] #41234 closed, assigned to nobody

[2021-11-21 10:09] fabpot commented on #43341
Thank you for the PR @tgalopin (6.1 is the right target), closing here.

[2021-11-21 10:09] #43341 closed, assigned to nobody

[2021-11-21 11:14] alexander-schranz commented on #44147
Make sense for me maybe a better error message would be great here. Maybe some check for `enable_authenticator_manager` is not set to true and clas `BasicAuthenticationListener` does exist. Tell the user to  use the new authenticator system or when using symfony 6 package. Or we could only allow symfony 5.4 package in combination with the 5.4 bundle, then this kind of dependencies could not be ins

[2021-11-21 11:36] derrabus commented on #44147
In a way, the problem should be gone now because the Guard component (as a mandatory dependency of SecurityBundle) effectivly downgrades the secrity packages to 5.4 because of #44172. I'm not entirely happy with that, I must admit. 🤔

[2021-11-21 12:08] acrobat commented on #41396
I'm also seeing this error with symfony 5.3.10 after a code change in dev (container rebuild), the next page refresh the toolbar renders correctly.

[2021-11-21 12:50] derrabus commented on #44162
I'm moving this to discussions because this does not appear to be something Symfony can solve.

[2021-11-21 12:50] #44162 closed, assigned to nobody

[2021-11-21 13:11] #40916 closed, assigned to nobody

[2021-11-21 13:11] #40925 closed, assigned to nobody

[2021-11-21 13:46] alexander-schranz commented on #44147
Tested and did work after I added a conflict to `5.4.0-BETA1` of the `symfony/security-guard` package. Thank you all for your fast responses and @derrabus thank you for the fix!

Closing as fixed in #44172

[2021-11-21 13:46] #44147 closed, assigned to nobody

[2021-11-21 14:17] PhilETaylor opened #44182 "5.4.0-BETA3 regression, Argument #2 ($haystack) must be of type array, null given"
### Symfony version(s) affected

5.4.0-BETA3

### Description

Im really sorry I dont have a lot of information on why this is happening, but Im open and responsive if you have specific questions.

Normally, my app is totally exception free. After upgrading to Symfony 5.4 Beta3 I get this exception thrown when submitting a form that works fine in Symfony 5.3

Im hoping someone closer to the code m

[2021-11-21 14:21] #44142 closed, assigned to nobody

[2021-11-21 14:25] derrabus commented on #44182
Could this be caused by #44037, @nicolas-grekas?

[2021-11-21 14:32] PhilETaylor commented on #44182
Just one other bit of information that might help is that it was not experienced in 5.4.0-BETA2 and only started with 5.4.0-BETA3

[2021-11-21 14:36] derrabus commented on #44182
Can you provide some insights on which validation constraints are used by your form? Do you use any custom contraints?

[2021-11-21 14:36] PhilETaylor commented on #44182
Some other comments about "groups" here https://github.com/symfony/symfony/issues/44138#issuecomment-974061613 and https://github.com/symfony/symfony/issues/44138#issuecomment-974097965

[2021-11-21 14:39] PhilETaylor commented on #44182
The contraints come from the User entity - there are only 2.

[code]

[2021-11-21 15:21] PhilETaylor commented on #44138
Tagging my stack trace https://github.com/symfony/symfony/issues/44182 as it seems to be relevant

[2021-11-21 17:39] amenk commented on #37570
What is also very useful and needed is to log the message ID of the remote system. See also https://github.com/swiftmailer/swiftmailer/issues/913

[2021-11-21 18:04] drupol opened #44184 "Proposal - Automatic service aliases and bindings"
### Description

The [S.O.L.I.D. principles][41] are a set of five design principles intended to make
software designs more understandable, flexible, and maintainable.

One of these principles is the [Open-Closed Principle][42], which promotes the use
of interfaces instead of concrete implementations.

In Symfony, when injecting services, we usually rely on concrete service implementations
rather

[2021-11-21 18:27] tgalopin commented on #44184
Hi @drupol !

AFAIK, this behavior already happens natively: when an automatically discovered service implements an interface, the interface is aliased to this service so that you can typehint it in a different service. However, when multiple services implement the same interface, this alias isn't created automatically because it's not possible to know automatically which service to alias to.

Thi

[2021-11-21 18:54] drupol commented on #44184
Hi !

Indeed, I use that behavior when there is only one service which implements an interface. However, when we have multiple services (_like Doctrine repositories_), it's not working, and this is why I'm opening this discussion.

I've described further the issue in the [POC bundle](https://github.com/loophp/service-alias-autoregister-bundle/) with concrete examples.

[2021-11-21 19:42] tgalopin commented on #44184
I'm not sure to understand what you are proposing. Do you mean automatically adding [named autowiring aliases ](https://symfony.com/doc/current/service_container/autowiring.html#dealing-with-multiple-implementations-of-the-same-type) based on the service name?

[2021-11-21 19:45] tomasz-kusy opened #44185 "[symfony/translation] Error in readLocalTranslations()"
### Symfony version(s) affected

5.3

### Description

Method readLocalTranslations has wrongly implemented `filterCatalogue` method;
In TranslationTrait
[near line 35](https://github.com/symfony/translation/blob/17a965c8f3b1b348cf15d903ac53942984561f8a/Command/TranslationTrait.php#L35)
we have:
[code]
The problem is:
[code]
If there are more than one domain, after the first run of the loop we got

[2021-11-21 19:47] drupol commented on #44184
Yes, that's exactly that.

I'm proposing to automatically creates those bindings automatically.

[2021-11-21 19:50] derrabus commented on #44184
Thank you for your proposal. I think, we can brainstorm a bit over your idea, but I don't think I like the currently proposed solution.

of interfaces instead of concrete implementations.

A common misunderstanding of this principle is that "interface" in that context means the language construct `interface` in PHP. That is not the case. A class exposes a public interface as well and depending on

[2021-11-21 19:54] tomasz-kusy commented on #44031
Hi!
At the first thank you for the work.
No I'm use this package on my own implementation. The library has/had its shortcomings and flaws (like only auto generated Id's - I see it is avilalble now). Also reported [this]( https://github.com/symfony/symfony/issues/44185)
I have encountered the problem I am reporting. It didn't know what is a problem until an analysis on the loco.biz documentation pa

[2021-11-21 19:55] GavrilovicAleksa opened #44186 "[Messenger] [AMQP] Add arguments to delay queues"
### Description

Currently, amqp-messenger doesn't support input arguments for delay queues. It would be useful if we could add additional arguments.

### Example

[code]

[2021-11-21 20:09] tomasz-kusy commented on #44031
When you call translateAssets() with parameter like:
```$translations = ['assetKey' => 'data']``` and 'Content-Type' will be wrong it will fail.

[2021-11-21 20:09] tgalopin commented on #44184
I think my point of view is close to @derrabus one, but I'll say it differently to be sure: named autowiring aliases are necessary in a vendor environment in which a package needs to define several specific services (based on a specific configuration for instance) while still letting users be able to obtain them easily through autowiring. Because a vendor package cannot create classes on the fly f

[2021-11-21 20:34] derrabus commented on #44184
Good examples of the mechanism @tgalopin describes are Symfony's cache pools or Monolog's log channels.

An application might have multiple caches and loggers. And a class that consumes a logger or a cache does not care about where the log entries and cache items are written to. It could operate on any logger or cache.

I can imagine that an application might have similar classes, but my expectati

[2021-11-21 20:57] GromNaN commented on #44184
I think this feature is already supported when it's relevant in Symfony: there are many services that get a named autowiring alias if we look at [`ContainerBuilder::registerAliasForArgument` usage](https://github.com/symfony/symfony/blob/391b44315dc7252364becde0e7b7cf6af5ae4cdc/src/Symfony/Component/DependencyInjection/ContainerBuilder.php#L1352): logger, sanitizer, http client, lock, messenger, d

[2021-11-21 22:55] jderusse commented on #43866
I'm :+1: for make signal configurable

[2021-11-22 07:13] martinssipenko commented on #41306
This is still an issue. I would be happy to contribute with some guidance on a possible solution from project maintainers, maybe @fabpot can comment on this?

[2021-11-22 08:23] sylfabre commented on #32652
https://github.com/symfony/symfony/pull/41136 should fix it

[2021-11-22 09:05] Warxcell commented on #43866
Where from should I start ? 5.4 ? Not really sure if this is classificed as bug or feature.

[2021-11-22 09:36] meiyasan commented on #41368
Hello guys, I have same issue here. No workaround for the moment.
Any news about it from your side ?

[2021-11-22 10:27] karastras opened #44189 "Symfony console, bugs diplaying special characters [32->47m...."
### Symfony version(s) affected

4.26.9

### Description

Hello

When i use the Symfony/console in my projects, i have some display bugs in my VScode Terminal or in a Git Bash out of VScode.

Some Specials caracters appears and its diffcult to read easly all the text from symfony/console.
As u can see on this picture, it's all right when i use my terminal, but if i use the Symfony console the issu

[2021-11-22 10:41] jderusse commented on #43866
That's a new parameter, and so, a new feature for `6.1` (the branch does not yet exist, you need to target 6.0 for the moment)

[2021-11-22 10:43] meiyasan commented on #41368
Regardless of the "required" parameter. It looks like Collection is at least retuning an empty array..
1/ So I have implemented a custom Collection2 type and used a normalizer to force "required" to be true. (lmfao)
2/ I changed the collection label to not display a "required" flag html wise anyhow.

This is doing the job at least in my application..

[2021-11-22 10:43] nicolas-grekas commented on #44138
Thanks for the details.

[2021-11-22 10:43] #44138 closed, assigned to nobody

[2021-11-22 10:43] nicolas-grekas commented on #44182
Fixed by #44188

[2021-11-22 10:47] adrienfr commented on #44138
Thanks @nicolas-grekas

[2021-11-22 10:51] PhilETaylor commented on #44182
Thanks @nicolas-grekas - really appreciate your work.

[2021-11-22 11:21] spackmat commented on #41368
I think another workaround could be to add a boolean form option like "suppress_required_rendering_workaround" and set that to `true` for those collections, while setting their `required` option to `true`. Then, in the form theme, don't render your required markings, when this option is set and `true`. Through the chest into the eye, as we say in German. ;)

P.S. I have not tried that in hope of t

[2021-11-22 11:32] garak opened #44190 "[Mime] EmailHeaderSame doesn't check for header nullability"
### Symfony version(s) affected

4.4

### Description

in class `Symfony\Component\Mime\Test\Constraint\EmailHeaderSame` there is this method:
[code]

in the last line, the value of `$header` is only checked on `UnstructuredHeader` class. It should be checked at least for not being null (but I guess indeed it should be checked for any class containing the `getBodyAsString` method)

### How to repr

[2021-11-22 13:19] dunglas commented on #44144
For the record, there is now an experimental web standard for sanitizing HTML: https://wicg.github.io/sanitizer-api/
It defines the algorithm to apply as well as a set of interfaces for the web platform: https://developer.mozilla.org/en-US/docs/Web/API/HTML_Sanitizer_API

It would be nice to have such component in Symfony, and especially it if follows the standard.

[2021-11-22 13:28] tgalopin commented on #44144
Interesting, I never heard of this standard before. Do you know how likely it is that this standard is accepted and implemented in browsers?

[2021-11-22 13:40] stof commented on #44144
Well, this web standard returns DOM nodes. I don't think this is a good idea in our case. In the backend, you will store the HTML not the `DOMElement` instances.
And given that the HTML5 library requires using `$htmlParser->saveHTML($node)` instead of `$node->ownerDocument->saveHTML($node)` for proper formatting, we would even leak our parsing implementation if we don't serialize the DOMElement to

[2021-11-22 13:45] BahmanMehrdad commented on #44189
This problem is when you use `PHP` command, it is better to download `Symfony binary` and use `symfony console make:entity` command.
This problem is not related to the Symfony.

[2021-11-22 13:52] karastras commented on #44189
You're right, when i use `symfony console make:entity` there is no problem....
So i will look with the `PHP` command issues.
Thanks to you!

[2021-11-22 13:52] #44189 closed, assigned to nobody

[2021-11-22 14:12] stof commented on #41280
@syurchen you can totally run your tests with debug mode disabled (just make sure that your PHPUnit bootstrap file deletes the existing cache to avoid running tests with an outdated cache)

[2021-11-22 14:17] stof commented on #44189
The weird character you see are control characters for ANSI colors. It looks like the core logic detecting color support fails in your case sometimes.

[2021-11-22 14:18] #41280 closed, assigned to nobody

[2021-11-22 14:53] bobvandevijver commented on #44182
@nicolas-grekas I'm now seeing this issue on a 4.4 project, which I just updated to the latest release (4.4.34):

[code]

[2021-11-22 15:05] dunglas commented on #44144
@stof sure, the public API doesn't fit very well in PHP, but we could adapt it to use strings and stay as close as possible from the standard for everything else, especially the [sanitization algorithms](https://wicg.github.io/sanitizer-api/#sanitizer-algorithms).
Having the ability to provide a context (the parent element) looks very useful.

[2021-11-22 15:05] nicolas-grekas commented on #44182
What is your version of symfony/var-exporter please?
Does this happen even if you remove your var/cache folder by hand?
Please provide a reproducer if you can.

[2021-11-22 15:06] stof commented on #44182
@bobvandevijver is this happening with a clean cache or do you have a cache created with the old version of Symfony ?

[2021-11-22 15:07] stof commented on #44144
@dunglas I totally agree on that part.

[2021-11-22 15:17] bobvandevijver commented on #44182
I actually updated to the latest var-exporter (v4.4.34) as otherwise it spammed the following line:

[code]

But, somehow, the issue disappeared. I was sure I cleared the cache fully, but I guess I cleared the wrong one (`dev` instead of `test`). Sorry for that!

[2021-11-22 15:20] weaverryan opened #44195 "Validator not installable with "enable_annotations" error in 6.0 beta3"
### Symfony version(s) affected

6.0.0-BETA3

### Description

Hi!

On 6.0 only (I'm not sure if this is new to beta 3 or not), you get an error when installing the `validator` component using PHP 8.0. This was caught by the MakerBundle test suite.

### How to reproduce

Using PHP 8.0:

[code]

Result:

[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-22 15:23] stof commented on #44195
the message can only be a lie: you cannot install Symfony 6 on PHP lower than 8, as it requires PHP 8. there is a bug somewhere (probably a bad merge-up or a bad removal of the PHP version check)

[2021-11-22 15:23] nicolas-grekas commented on #44182
Thanks for the feedback, closing then.

[2021-11-22 15:23] #44182 closed, assigned to nobody

[2021-11-22 15:30] fancyweb commented on #44195
https://github.com/symfony/symfony/pull/44196 should fix it

[2021-11-22 15:32] #44195 closed, assigned to nobody

[2021-11-22 15:32] weaverryan commented on #44195
Merged! Woh that was fast!

[2021-11-22 17:06] gorenstein commented on #44019
But what about ```!!str &string```  - ```!!str``` _without_ quoted scalars with the first character ```&```?

Still two equivalent syntax of yaml-Collections produce different output:
[code]

[2021-11-22 17:14] plandolt opened #44197 "[Process] argv array in env resulting in "Array to string conversion" error"
### Symfony version(s) affected

5.3.11

### Description

After upgrading the process component from 5.3.7 to 5.3.11 I sometimes get the following error:
`Notice: Array to string conversion` on https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Process/Process.php#L344

A simple `dump($k, $v)` showed `"argv"` and `[]`.

### How to reproduce

not sure (yet) but version 5.3.11 require

[2021-11-22 18:06] dkarlovi commented on #36482
Yes.

[2021-11-22 18:08] nicolas-grekas commented on #44197
Can you please provide a reproduder for this? I fail to see how this can happen.

[2021-11-22 18:14] xabbuh commented on #44019
You have to quote them. If I do not miss anything, this simply is how it is supposed to be done according to the spec.

[2021-11-22 18:51] rmj-s commented on #44197
I'm also facing this issue. `is_string` check was removed for `$_SERVER` values in #44070, resulting in `argv = []` to be passed here:
https://github.com/symfony/symfony/blob/a8fc556267f7118d1f6922fbb712ff19b8fb956b/src/Symfony/Component/Process/Process.php#L344

[2021-11-22 19:31] kbond opened #44198 "[HttpClient] CurlHttpClient idle timeout"
### Symfony version(s) affected

4.4.34

### Description

After upgrading from 4.4.33 to 4.4.34 `CurlHttpClient` is giving me "Idle timeout reached for..." errors when requesting any url.

### How to reproduce

[code]

[code]

### Possible Solution

Reverting https://github.com/symfony/symfony/pull/43961 fixed the issue for me.

### Additional Context

_No response_

[2021-11-22 20:01] gorenstein commented on #44019
I have nothing against this or that specification. I disagree only with the fact that for the same expression, depending on the form of writing the collection (in one line or column), the parser gives different results.
In my opinion, the result should be the same.
No one expects the parser's result to change when you change the collection's spelling from column to line.

[2021-11-22 20:51] xabbuh commented on #44019
I was under the expression that the first one would now also end with an empty string. If that’s not the case that should be fixed as well.

[2021-11-22 21:41] petrduda commented on #43714
I'll fix this :)

[2021-11-22 21:44] mpiecko commented on #44197
I'm having exact the same Exception "Notice: Array to string conversion" after the update when using `Process::fromShellCommandline()` ... will try to narrow the issue.

![image](https://user-images.githubusercontent.com/209899/142939186-b1811543-e0f4-4078-88eb-33e0dd69a47c.png)

[2021-11-22 21:48] nicolas-grekas commented on #44197
Thank you all but there is no question whether some of you experience this or not.
The question is rather: how do *I* reproduce so that I could fix it?
Alternatively, could you please debug where this `argv` array comes from?
E.g. what does `var_dump($env)` show for you right before the call to `array_intersect_key()` in `getDefaultEnv()`? And just after it?

[2021-11-22 21:52] karaka200 opened #44206 "Can not upgrade outdated packages"
Hi. When I upgrade Symfony 5.3.10 to 5.3.11, and run `composer show -o`, show these packages that outdated. How can I upgrade theme?

[code]

[2021-11-22 21:58] mpiecko commented on #44197
Ok, I dumped the $env array in the loop. and it seems this is the item which fails:
`"argv" => []`

[2021-11-22 21:59] #44206 closed, assigned to nobody

[2021-11-22 22:00] nicolas-grekas commented on #44197
At which line did you dump this please?

[2021-11-22 22:02] mpiecko commented on #44197
Yes, sorry:
https://github.com/symfony/symfony/blob/a8fc556267f7118d1f6922fbb712ff19b8fb956b/src/Symfony/Component/Process/Process.php#L344

![image](https://user-images.githubusercontent.com/209899/142941716-423c26c3-1eae-4a37-9ab3-fc757c806987.png)

[2021-11-22 22:04] nicolas-grekas commented on #44197
OK thanks. Can you please try dumping as I suggested in https://github.com/symfony/symfony/issues/44197#issuecomment-975948285?

[2021-11-22 22:04] mpiecko commented on #44197
This is the only array value from the `$env` variable:

![image](https://user-images.githubusercontent.com/209899/142941900-6139db21-da1d-486d-8e8b-498a029ce18a.png)

[2021-11-22 22:06] nicolas-grekas commented on #44197
Can you please try #44208?

[2021-11-22 22:13] mpiecko commented on #44197
Yes, that fixed it 🎉. Just FYI: both items `argv` and `argc` where available in an $env dump before and after `array_intersect_key()` Comment: [#44197](https://github.com/symfony/symfony/issues/44197#issuecomment-975948285)

[2021-11-22 22:20] nicolas-grekas commented on #44197
Thanks for the help debugging this!

[2021-11-22 22:20] #44197 closed, assigned to nobody

[2021-11-22 22:25] #43714 closed, assigned to nobody

[2021-11-22 22:25] #44198 closed, assigned to nobody

[2021-11-22 23:56] stiffroy opened #44210 "[DEBUG] The method dump() is breaking layout"
### Symfony version(s) affected

5.3.10, 5.3.11

### Description

This is a strange issue that I am facing and can't figure out why. Whenever I am dumping a few values, it is breaking the layout of the error page and the profiler.

When scrolled down of an any page (in image it is an error page):
<img width="1790" alt="Screenshot 2021-11-23 at 00 50 28" src="https://user-images.githubusercontent.c

[2021-11-23 00:37] stof commented on #44210
I think this happens when your dumps are done for the HTTP requests loading the toolbar content (in ajax) and the profiler UI, for which the profiler is disabled and so the dumps are not sent to the DumpDataCollector but to the output.
This can indeed happen when you dump things in a kernel.request listener without any check to choose on which request it happens.

I don't really see what we can do

[2021-11-23 00:43] stof opened #44211 "Support Enum as workflow places"
### Discussed in https://github.com/symfony/symfony/discussions/44203

<div type='discussions-op-text'>

<sup>Originally posted by **stephanvierkant** November 22, 2021</sup>
I've tried the new Enum in PHP 8.1 and I love that Symfony supports this new feature in the Form component.

I'd love to have this support in the Workflow component as well.

I've changed my status attribute from a string to

[2021-11-23 02:28] devsi opened #44212 "ErrorException Array to string conversion in Process.php when looping the envs (start())"
### Symfony version(s) affected

4.4.34

### Description

https://github.com/symfony/process/blob/5.3/Process.php#L342

In the start() method as of 4.4.34 we are now getting an Array to String conversion ErrorException.

This appears to also be present with the latest Laravel Framework update which is what caused us to start getting this issue. Every thing that uses the Symfony start() method is n

[2021-11-23 02:34] devsi commented on #44212
Have added a comment on the line of code that was changed that I believe caused this issue. Hope this helps!

https://github.com/symfony/symfony/pull/44070/commits/f608f0b7241a84f7893a621f7993aff4988306b3#diff-edd51b05bf438c7cdca442e25d68f41dd0a51952a69fa0c5fa912dc31d833ef4L1677

[2021-11-23 04:38] mpiecko commented on #44212
I think this is related to https://github.com/symfony/symfony/issues/44197 (and a fix).

[2021-11-23 05:38] bambi42 opened #44213 "Add an initialize method to workflows"
### Description

At the moment the recommended way to initialize a workflow for an object `$subject` is to call `WorkflowInterface::getMarking($subject)`. Internally this will call the getter for the configured property holding the marking on `$subject`. If this returns null the configured initial marking will be set on `$subject`.
The problem is that if you use typed properties in `$subject::clas

[2021-11-23 07:47] fancyweb commented on #44212
Hello @devsi, thank you for reporting the issue. Can you apply this fix https://github.com/symfony/symfony/pull/44208/files manually please and tell us if it fixes the problem for you?

[2021-11-23 08:13] alexandre-daubois commented on #44211
Looking into it. :+1:
Started to work on 6.0 branch while waiting 6.1 branch (as mentioned in the original issue, this feature is most likely to be included in 6.1). It's coming up together, trying to bring support of both `UnitEnum` and `BackedEnum`. Adding final tests right now.

[2021-11-23 08:26] nicolas-grekas commented on #44212
Closing as duplicate indeed.

[2021-11-23 08:26] #44212 closed, assigned to nobody

[2021-11-23 10:24] mathielen opened #44215 "Invalid Redis socket DSN, the "dbindex" parameter must be a number."
### Symfony version(s) affected

4.4.34

### Description

When the Cache component is configured with a Redis DSN pointing to a socket (eg. `redis:///var/run/redis/redis-server.sock`), an error is thrown: `Invalid Redis DSN: "redis:///var/run/redis/redis-server.sock", the "dbindex" parameter must be a number.`

This is probably due to #43359 with fix #44043 and an incorrect `preg_match` in [L151](

[2021-11-23 10:27] stof commented on #44213
The issue with this `initialize` method is that you will still need to know whether you need to call it or no on your object. If it already has a marking, you don't want to reset it to the original marking. So it would still be your own responsibility to call it only when necessary (the component cannot do it on its own if the goal is to avoid calling `getMarking` before that), which can be quite

[2021-11-23 10:28] nicolas-grekas commented on #44215
/cc @a1812 could you please have a look?

[2021-11-23 10:31] stof commented on #44215
Looks like the code wants to use the URL path both for the unix scoket path and the DB index at the same time

[2021-11-23 10:46] UBERPHP commented on #44215
I have the same issue, my env parameter: `REDIS_DSN=redis://superpass@/run/redis/domain.local.sock?persistent=1`
I was following https://symfony.com/doc/current/components/cache/adapters/redis_adapter.html
v5.3.11 has this issue as well.

[2021-11-23 10:49] nicolas-grekas commented on #44215
Anyone up for a PR fixing this?

[2021-11-23 11:09] stof commented on #44215
I think the fix for the dbindex would be to look for it only if we have `isset($params['host']) && isset($params['path'])`. Also, the `!isset($params['dbindex']` looks weird to me, as `$params` is the output of `parse_url`

[2021-11-23 11:32] greg0ire opened #44217 "ClockMock requires runInSeparateProcess to take effect"
### Symfony version(s) affected

5.3.11

### Description

When using `ClockMock` to mock time in a test, `time()` is mocked in the test all the time, but not always in the SUT.

I found 2 workarounds:
- putting the time-sensitive test first in the test class
- using `@runInSeparateProcess`

### How to reproduce

Clone https://github.com/greg0ire/clock-mock-reproducer
Run `vendor/bin/phpunit`

[2021-11-23 11:37] nicolas-grekas commented on #44217
Not sure we can do anything about it see this for how to work around this limitation:
https://github.com/symfony/symfony/blob/a5aaf2c9dc9cc04e472af32d3427a98c5ecebcb8/src/Symfony/Component/HttpKernel/phpunit.xml.dist#L35

[2021-11-23 11:46] greg0ire commented on #44217
@nicolas-grekas thanks

Given the number of workarounds, I think it's fine, but IMO they should be documented at https://symfony.com/doc/current/components/phpunit_bridge.html#clock-mocking

Also, I tried applying your suggestion, it does not seem to have an effect.

[2021-11-23 12:15] UBERPHP commented on #44215
if we are talking about format like this `redis://password@domain.com?path=/another/socket/domain.sock?dbindex=5&persistent=1&something=else`,
vendor/symfony/cache/Traits/RedisTrait.php
should be something like this:
![image](https://user-images.githubusercontent.com/17860283/143021711-015076d7-4709-4e58-9da2-ef407db26008.png)
and the final result would be:
![image](https://user-images.githubuserc

[2021-11-23 12:36] stof commented on #44217
@greg0ire have you used the right namespace ?

Also, this is already mentioned in the `Troubleshooting` section of the doc: https://symfony.com/doc/current/components/phpunit_bridge.html#troubleshooting

[2021-11-23 12:38] UBERPHP commented on #44215
based on  https://symfony.com/doc/current/components/cache/adapters/redis_adapter.html
![image](https://user-images.githubusercontent.com/17860283/143024901-324544f5-a1cd-4aba-b667-49fca163712b.png)

and using format `'REDIS_DSN' => 'redis://superpass@/run/redis/domain.local.sock?persistent=1&anything=else/db-index=9',`

![image](https://user-images.githubusercontent.com/17860283/143025135-01e31f3

[2021-11-23 12:44] UBERPHP commented on #44215
apologies for spamming (the previous example was wrongly interpreted by me), this should follow the documentation:
![image](https://user-images.githubusercontent.com/17860283/143026007-a5de5172-7ba8-4907-a953-0c971c1fb406.png)
however, it's not covering situation when 'db-index' is not set

[2021-11-23 12:58] greg0ire commented on #44217
Thanks @stof, @nicolas-grekas ' workaround does work, I made 2 careless mistakes:
- I used a class name instead of a namespace
- I copied the class name of the project where I experienced the bug

[2021-11-23 13:02] #44217 closed, assigned to nobody

[2021-11-23 13:05] quazardous commented on #44215
5.3.11 broken for `redis://localhost:6379/` (OK with `redis://localhost:6379` -> no ending slash)
was OK in 5.3.10

[code]

[2021-11-23 13:22] stephanvierkant opened #44218 "Define template in Form Type?"
### Description

Even with many years of Symfony experience, I'm still struggling with custom form types. Over the years I've spent many hours on debugging forms because I forgot to define the new template in `config/packages/twig.php` or having a typo in the block names.

Why can't the template not be set in the form type itself?

### Example

[code]

[2021-11-23 13:25] vodkhard commented on #34483
non news on this feature ?

[2021-11-23 13:30] stof commented on #44218
form types don't have a template each. The rendering is done with form themes.
In my projects, all my custom types have their theme-based rendering defined in the same form theme, not in one per type.

[2021-11-23 13:35] stof commented on #34483
Well, nobody finished the work of implementing it

[2021-11-23 14:26] yceruto commented on #44218
I agree with @stof. Also, a form type is reusable and can be rendered in different ways depending on the form theme where it's used.

[2021-11-23 15:41] tgalopin commented on #44144
Nice, I'll have to dig into the details of the standard to see what's feasible

[2021-11-23 15:47] tgalopin commented on #44144
With a quick look over the algorithms, it seems very close to what the html-sanitizer already does, in terms of algorithms. I'll have to check in details but implementing the algorithms doesn't seem too complicated.

I'm not sure what would be the use-case in PHP, do you have an example in mind? I can understand that in the browser, providing a parent node would help build the structure properly (

[2021-11-23 16:09] dunglas commented on #44144
You may want to store a block of HTML in DB that you will inject in a Twig template. Then you have the exact same constraints as in browsers: the sanitization will depend on the context.

[2021-11-23 16:58] tgalopin commented on #44144
What is the context you have in mind? In the standard, I seem to understand "context" as "parent node": it will be displayed in a div, in a section, etc. I'm not sure how that would affect a backend server: what would change in the sanitizer depending on this context?

[2021-11-23 17:03] stof commented on #44144
@tgalopin aren't they describing the rules that apply for each context ?
I guess that `div` and `section` probably use the same rules. The example in the spec uses `textarea` as the parent.

[2021-11-23 17:12] stof commented on #44144
According to https://wicg.github.io/sanitizer-api/#builtins-justification, this is mostly for cases where the element has special parsing.

[2021-11-23 17:17] stof commented on #44144
@tgalopin maybe https://checkmarx.com/blog/vulnerabilities-discovered-in-mozilla-bleach/ ([bleach](https://github.com/mozilla/bleach) is basically the python equivalent of the suggested HTMLSanitizer component) and the [spec biblio about mutated XSS](https://wicg.github.io/sanitizer-api/#biblio-mxss) can help you

[2021-11-23 17:30] stephanvierkant commented on #44218
I love Symfony because it's very easy to start with and at the same time highly configurable for the advanced user. I think custom form types are the exception.

While it's very easy to change a template in the controller with `->render($templateName)`, changing the template of a form is quite hard. I think this should be made easier.

[2021-11-23 17:37] LaraGastaldi commented on #30746
I am having this issue as well, the database IP that symfony is returning in the exception is the IP of my internet router.
I tried using the aws rds hostname and its IP, and both return the same exception

[2021-11-23 17:45] stof commented on #44218
@stephanvierkant the point is that form types are not responsible for choosing the template at all. The form rendering layer chooses blocks in the form theme for each FormView based on the type. but if each type can reconfigure the form theme, it becomes a huge mess (a form theme would then impact other fields too).

I'm not even sure using the `{% form_theme %}` Twig with anything else than the r

[2021-11-23 17:49] keichinger opened #44235 "[Runtime] Bootstrapping of standalone ConsoleApplication as a globally installed composer package/tool is cumbersome"
### Symfony version(s) affected

5.4

### Description

We're currently in the process of automating some of our more cumbersome tasks when doing deployments (updating the deployed Jira issues to reflect the most recent status). So we've created a small `Symfony\Component\Console\Application`-based standalone application, which we wanted to install globally on our dev machines (`composer global req

[2021-11-23 17:52] keichinger commented on #44235
I've combined 2.5 problems into a single issue. If we should split them into separate issues, then I'll be more than happy to do so.  ✌️

I just thought that they're so closely related that it may (or may not?) make sense to discuss them together as they're all a result of trying to run a standalone console application as a globally installed composer package.

[2021-11-23 17:53] stof commented on #44235
the runtime component has indeed not been designed with the case of `composer global` in mind. So it does not surprise me that it has issues

[2021-11-23 18:30] sanderlissenburg commented on #39294
I got it working without requiring the doctrine/annotations package but I had to add (for example) the following to `config/routes/annotations.yaml` even though I'm using attributes.

[code]

[2021-11-23 18:38] mattjanssen commented on #40684
We'll run into this same issue once we upgrade to Symfony 6.x and stop using `RetryTillSaveStore`.

In our use case, we expect a lock to block for (at most) a few seconds. If waiting takes longer, it means we're experiencing something unexpected (bug, service outage, unaccounted for edge case). This could consume a lot of processes for a long time.

[2021-11-23 19:27] keichinger commented on #44235
Is this use-case common enough to start thinking about it? I mean, technically every standalone console application could be affected by it, as soon as you "put it in the wrong directory" (aka. use `composer global`).

Trying to build something like the Symfony CLI (based on the Runtime component) or the Drupal CLI would become a little bit more tedious. On the other hand, I'm not sure whether the

[2021-11-23 20:01] azjezz commented on #41520
For the past month a lot of libraries have adopted PHP 8.1 fibers ( which are used in PHP 8.0 with the ext-fiber ).

e.g:
 - Amphp ( https://github.com/amphp/amp/tree/v3 )
 - PSL ( https://github.com/azjezz/psl )
 - ReactPHP ( github.com/reactphp/async )

And a new low-level event-loop package that is used by both Amphp, and PSL has been released: https://github.com/revoltphp/event-loop

This allo

[2021-11-23 20:55] willherzog commented on #39943
@Ser5 If you're still looking for a solution, I discovered that this can be accomplished with a form extension that applies to each type directly (e.g. ChoiceType, TextType, etc.) rather than extending FormType. @xabbuh The issue is that FormType is technically a parent form and thus setting required false on it (i.e. in a form extension) overrides that option on *every* form type. It would be nic

[2021-11-23 21:02] bambi42 commented on #44213
Yes it's definitely your own responsibility to call this method your self when it's appropriate. But it's your own responsibility to somehow initialize the marking property on your object anyway, at least most of the time. Even if your marking property is nullable and initialized with null, in many use cases you will have to remember to manually call `WorkflowInterface::getMarking($subject)` to se

[2021-11-24 05:56] pks0268 commented on #44197
Notice: Array to string conversion coming on before response from the version 4.4

[2021-11-24 08:29] stof commented on #44235
Well, the issue is that `composer global` is a single global project where you install all your global dependencies together. So this is *not* a standalone installation. This makes it quite hard to use the runtime component (at least the automatic configuration part of it), as each tool would need its own runtime initialization while we have a single project and so a single runtime.
That's one mor

[2021-11-24 08:46] nicolas-grekas commented on #44235
I think your solution is the right one: the generated `autoload_runtime.php` file is just a helper to help bootstrap php apps, but I get it works only in the common case.
Yet, it's totally optional to use this file and running the app closure can be done in any way that fits.
Of course, if there is some way to make bootstrapping global composer apps easier, we'd be happy to review a PR!

[2021-11-24 09:24] xabbuh commented on #44126
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-24 09:24] #44126 closed, assigned to nobody

[2021-11-24 09:24] xabbuh commented on #44039
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-24 09:24] #44039 closed, assigned to nobody

[2021-11-24 09:24] xabbuh commented on #44071
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-11-24 09:24] #44071 closed, assigned to nobody

[2021-11-24 09:50] Flinsch commented on #15059
**edit**: I mistakenly thought it could work this way (see below). I'll leave it here for documentation purposes. But as @stof correctly pointed out, this isn't a real solution.

---

In one of our projects we have around 90 domains that we wanted to have organized by locale in order to improve the overview a little. As a workaround (which can also be viewed as regular feature usage) we did it lik

[2021-11-24 10:00] stof commented on #15059
@Flinsch this will only load translations for your default locale and not for other locales, which probably defeats the goal of translating (as you will effectively behave as if other locales are not available)

[2021-11-24 10:04] Flinsch commented on #15059
@stof Oh, really? I wasn't aware of that. Damn, then we'll also need another approach soon. Thank you very much for your hint. :(

[2021-11-24 10:05] stof commented on #15059
Well, what you're doing is `default_path: '%kernel.project_dir%/translations/en' (assuming the your `locale` DI parameter has the value `en`).
The DI parameter cannot contain the current locale, unless you redefine it and clear the cache for each request...

[2021-11-24 10:09] Flinsch commented on #15059
Yes, that makes sense to me now too. Sorry for the then quite pointless "contribution". That would be (another) example of how _not_ to do it then.

[2021-11-24 10:40] keichinger commented on #44235
I'd love to create a PR to tackle this use-case, though I have currently no idea what the intended change/fix could/should be so that a `composer global` installation (and potentially the configuration of the runtime options) would work.

If you have any ideas or starting points, I'd love to hear from you :)

[2021-11-24 11:32] loevgaard commented on #44215
We get the error in 5.3.12. Hasn't this been merged into the 5.3 branch?

[2021-11-24 11:35] nicolas-grekas commented on #44215
The patch is in 5.3.12 I confirm.
Looks like #44232 might not be enough?
Please send a PR if you're affected and can figure out the proper fix.

[2021-11-24 11:35] stof commented on #44213
`setInitialMarking` looks a lot more clear to me.

[2021-11-24 11:39] stof commented on #44235
@keichinger due to what I explained in my previous comment, I don't think we can even implement a solution. We cannot generate a `autoload_runtime.php` file that adapts automatically depending on which installed dependency requires it (well, strictly speaking, we _could_ do it as we have a Turing-complete language, but the complexity would be huge, which is not worth it IMO)

[2021-11-24 11:43] keichinger commented on #44235
@stof Yeah, I agree with you.
I'm not sure whether @nicolas-grekas has something specific in mind that he could share.

Otherwise, the only thing I could come up with is a docs PR that explicitly points out the problem with `composer global` and a recommendation to try to bootstrap the app yourself, so people are warned.

[2021-11-24 11:48] spackmat commented on #41368
OK, I implemented my workaround. It works well and looks like this:

1. Implement a form type extension for the workaround

[code]

2. Catch the suppress `suppress_required_rendering_workaround` and override the required var inside the `form_label` block of your custom `fields.html.twig`:

[code]

3. Set your 0..n collection fields as required and the `suppress_required_rendering_workaround` optio

[2021-11-24 12:27] loevgaard commented on #44215
Hi, @nicolas-grekas

This is the diff between 5.3.10 and 5.3.11 (5.3.10 works):

[code]

What was the reason for this change?

[2021-11-24 12:43] benbor opened #44249 "[ErrorHandler] Split class ErrorHandler functionality to independent: PhpErrorHandler, ExceptionHandler, FatalHandler"
### Description

AFAIK Symfony components are introduced as a framework agnostic reusable components.

I really like feature of Symfony\ErrorHandler where we talk about handling PHP Engine errors. Log buffering, different level customisation, etc are very cool stuff.

But for non symfony framework project class ErrorHandler often does too many things.
If project has it's own `exception_handler`  `

[2021-11-24 13:05] nicolas-grekas commented on #44215
What is linked in this issue: see #43359

[2021-11-24 13:07] loevgaard commented on #44215
Okay. Could we reopen this issue?

[2021-11-24 13:11] #40898 closed, assigned to nobody

[2021-11-24 13:11] #40888 closed, assigned to nobody

[2021-11-24 13:19] icanhazstring commented on #43175
I guess this is fixed with symfony 5.4?
https://symfony.com/blog/new-in-symfony-5-4-messenger-improvements#configurable-handlers-with-php-attributes

[2021-11-24 13:37] fancyweb commented on #44249
Hello, thank you for your idea.

Yes but the project exception handler is called after Symfony's ErrorHandler exception handler, so it's not lost. Can you confirm it's working for you?

Splitting the `register` method  in order to use only one or two "handling" is not really possible because the methods are coupled. For example, `handleFatalError()` needs `ErrorHandler::handleException()` as the e

[2021-11-24 14:11] prokki commented on #21168
Same issue like @akalineskou. I am sending a lot of https requests to microservices. It would be nice to use the symfony profiler to get the response content (i.e. json or xml) instead of searching/implenting "workarounds" like other profilers.

[2021-11-24 14:14] stof commented on #21168
@akalineskou @prokki we cannot display it if we don't store it (as there is nothing to display).

[2021-11-24 14:18] TeLiXj opened #44250 "Using HeaderUtils::makeDisposition to download a file with UTF-8 name always use the fallback name"
### Symfony version(s) affected

5.3

### Description

I've using a HeaderUtils::makeDisposition to create the headers to download a file with an UTF-8 name but the name used is always the fallback name.

For example, if the name was `España.pdf` the file downloaded is `Espana.pdf ` (note the `n` instead of `ñ`).

### How to reproduce

[code]

### Possible Solution

I don't know how to fix it beca

[2021-11-24 14:23] sazo opened #44252 "symfony/validation 4.4.31 -> 4.4.33 - Broke validation for URL without TLD"
### Symfony version(s) affected

4.4.33

### Description

URL validation changed between `symfony/validation:4.4.31` and `symfony/validation:4.4.33`. (4.4.32 does not exists)
[code]

Seems like its the changes in https://github.com/symfony/symfony/pull/43388 that broke it.

### How to reproduce

[code]

Outputs
[code]

### Possible Solution

Revert of https://github.com/symfony/symfony/pull/43388?

[2021-11-24 15:01] Pierstoval opened #44253 "[Session, 5.4.0-RC] Can't use session before an HTTP request is made in functional tests"
### Symfony version(s) affected

5.4.0-RC1

### Description

It seems that there were some changes in the Session that change the initialization process in the KernelBrowser or other related services. Not sure if this is a BC break, a bug, or anything else, so reporting it anyway just in case.

### How to reproduce

* Create a Controller that makes some checks on the Session, one `$session->get('s

[2021-11-24 15:24] flack commented on #42921
Anyone?

Composer now warns me that

[code]

and I would like to use symfony/mailer instead, but it just doesn't seem to have the featureset required

[2021-11-24 15:26] flack commented on #42921
The issue in comment 2 seems to be the same as #43255

[2021-11-24 15:47] 537mfb commented on #42775
Well, I found something

I'm using `Ubuntu 21.04`.
It comes with `firefox` pre-installed.
I installed `chromium` now

In `firefox` the remember me cookie only works over https as I mentioned - not sure why as other cookies like session id and sf work fine both in http and https
In `chromium` it works in http but https doesn't let me see the site because of the self-signed certificate - I get `ERR_

[2021-11-24 16:09] Antipov-Anton opened #44254 "[AmazonSqsMessenger] DSN queue name overrides queue_name from options"
### Symfony version(s) affected

5.3

### Description

As example I want to configure transport like

(messenger.yaml)
[code]
and my dsn string looks like
`https://sqs.us-west-1.amazonaws.com/111111111111/my_queue?access_key=***&secret_key=***`

Currently for this case all 3 transports will work with queue named `my_queue` from dsn string.

I expects what options will override dsn values.

Code: h

[2021-11-24 16:16] laurentHCM opened #44255 "[ MIME ] file mime/Header/ParameterizedHeader.php"
Hi,

Currently the setParameter function only accepts a string or null as argument for the  parameter $value
public function setParameter(?string $parameter, string|array $value)

It is not possible to pass an array as argument (for example for a list of items in a shopping cart).

Is it possible to accept also an array ?

public function setParameter(string $parameter, string|array|null $value)

[2021-11-24 17:09] xenatis opened #44256 "Error with cache PhpFilesAdapter.php"
### Symfony version(s) affected

5.3.11

### Description

Hello,
I am having an issue with symfony cache, triggering the firewall of my host (infomaniak.com). The bug appends in PhpFilesAdapter.php, at line 145 `} elseif (\is_array($expiresAt = include $file)) {`.

This bug occure only in prod environnement , not in dev.

 server error log contains these two lines:
`dev2.mtrestauration.ch [Wed Nov

[2021-11-24 17:44] nicolas-grekas commented on #44256
How do you know that the issue happens at this line? Do you see any message that mentions it? If yes can you share it also, with any stack trace if you have one?

[2021-11-24 19:51] xenatis commented on #44256
I know this because I went through the function calls and logged each one until I found this one line.

Here is the result of `debug_backtrack(2)` :
[code]

Is any other data useful?

[2021-11-24 22:35] stable-staple opened #44260 "[Process] Windows REG utility not recognized as an internal or external command"
### Symfony version(s) affected

4.4

### Description

The Symphony component "Process" doesn't recognize the environment variable "Path", which leads to the fact that it's impossible to perform operations with the standard Windows utilities and other programs written in the "Path" variable.

### How to reproduce

Windows-only: run script from a web server with the following code:

[code]

### Pos

[2021-11-25 01:55] ngoyal16 opened #44263 "symfony/process throwing error"
### Symfony version(s) affected

4.4.35

### Description

Fix has been made in the branch but it is not released yet on packgist causing issue when new build is created using CI/CD.

https://github.com/symfony/symfony/pull/44208/files

### How to reproduce

NA

### Possible Solution

Already fixed have to release the version on packgist.

### Additional Context

_No response_

[2021-11-25 07:20] brzuchal commented on #42825
@Tobion I've spent all my day investigating the issue, and I think there is a real bug at line https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Bridge/Amqp/Transport/Connection.php#L555

A small [test script](https://gist.github.com/brzuchal/2999645af9ab63ca13b76b89e38bb0da) shows that in case of using AmqpTransport as a sender on the environment with more than one Trans

[2021-11-25 08:20] xabbuh commented on #43175
Let's close here then. Thank you for the feedback.

[2021-11-25 08:20] #43175 closed, assigned to nobody

[2021-11-25 08:28] fancyweb commented on #44263
Hello, symfony/process v4.4.35 has been released yesterday and it includes the patch from https://github.com/symfony/symfony/pull/44208/files. It is available on packagist (https://packagist.org/packages/symfony/process#v4.4.35). What issue are you facing exactly?

[2021-11-25 08:49] fancyweb commented on #44255
Hello, thank you for your idea. According to all the methods signatures in this class and all the usages in the code, the parameter value must be a string. What is your use case exactly? I don't see how we could convert an array back to a string usable in an header.

[2021-11-25 09:10] brzuchal commented on #42825
For me this worked in `Connection` class:
[code]

[2021-11-25 09:44] raceadmin commented on #40414
Still happens with SF 5.3.10 :)

[2021-11-25 09:45] scorpioniz commented on #40414
Still happens with SF 5.3.10 :/ I using sendgrid transport  (dont know if it's helping). And happens only then using monolog error to send to email :) other ways (never noticed) doesn't happen.

[2021-11-25 09:53] xabbuh commented on #40414
@scorpioniz Would you like to try working on a fix for this?

[2021-11-25 10:28] #44263 closed, assigned to nobody

[2021-11-25 10:37] f2r commented on #44252
I confirm this issue. My URL validators are broken now with some internal URL (docker) : "http://some-internal-domain:8080/api" : KO, but it work without "-": http://nginx:8080/api": OK

[2021-11-25 10:43] stof opened #44268 "[ErrorHandler] Support the @final annotation on constants in DebugClassLoader"
### Description

PHP 8.1 adds support for the `final` modifier on constants, forbidding child classes from overriding that constant. It would be great to support the `@final` annotation on constants in DebugClassLoader, in a similar way that it is supported on methods right now (be careful that interfaces can also define final constants, unlike final methods)

### Example

_No response_

[2021-11-25 11:41] laurentHCM commented on #44255
Hi Thomas,

In fact I am using the Sendinblue’s api v3 for transactional email.
I use the bundle mailer-symfony provided with symfony 5.2
I want to push a list of products ( let’s say product name and quantity).
The way to do that is using ParameterizedHeaders(‘params’,’params’, array $data) .
Everything is perfect if $data are only key, values but it’s not working if the value for a key is an arr

[2021-11-25 12:01] IonBazan opened #44273 "[Serializer] Serializer tries to access initializer property when serializing a Doctrine Proxy object"
### Symfony version(s) affected

5.3.11

### Description

After upgrading `symfony/serializer` from `5.3.10` to `5.3.11` Seralizer starts to access special `$initializer<id>` property in proxies generated by Doctrine instead of letting the proxy initialize with actual objects.

### How to reproduce

**Edit:** Use this repository to reproduce: https://github.com/IonBazan/serializer-proxy-bug

When

[2021-11-25 13:09] stof commented on #40849
Implementing a specific data model for a specific standard looks like something that belongs to a bundle rather than to the core IMO.

[2021-11-25 13:11] stof commented on #40849
to have it implemented in Symfony, you would still need someone working on it. Creating an open-source solution is probably *more* work than creating a proprietary solution (as you cannot afford to do a partial implementation restricted to the needs of one company).
However, it is true that this allows multiple companies to contribute to the cost

[2021-11-25 13:24] stof commented on #41167
@nicolas-grekas could you take a look on that ? requiring write access to the vendor folder looks indeed weird.

[2021-11-25 13:50] nicolas-grekas commented on #41167
5.4 uses semaphores so this should be solved. Please upgrade :)

[2021-11-25 13:50] #41167 closed, assigned to nobody

[2021-11-25 13:55] renanbr commented on #43372
@natewiebe13 I had the same need,

I end up implementing my own `Security` service that provider `isGrantedFor()` methods, which calls `AccessDecisionManagerInterface` internally. I've also created a `is_granted_for()` twig function.

As consequence, I had to update all userland voters to rely on this method instead of the native one.

---

Limitation: if a voter depends on an external decision, i

[2021-11-25 13:58] fabpot commented on #40849
Closing as nobody seems interested in implementing it. The core team won't work on it, so let's see if someone creates a PR.

[2021-11-25 13:58] #40849 closed, assigned to nobody

[2021-11-25 13:59] stof commented on #41167
@nicolas-grekas isn't the filesystem still used as a fallback ?

[2021-11-25 14:02] nicolas-grekas commented on #41167
Sure, but semaphores should always be present on Linux so that's the way to go in the reported case.

[2021-11-25 14:51] nicolas-grekas commented on #44256
Do you catch any exception thrown on those lines? What does it say?
On my side, I'm able to create the object from the file you shared above.
Without more detailed info, there's nothing we could do here unfortunately.

![image](https://user-images.githubusercontent.com/243674/143462534-ccca5d03-0502-45e6-a9d0-6a022df5f8ab.png)

[2021-11-25 15:11] #42616 closed, assigned to nobody

[2021-11-25 15:12] derrabus commented on #43372
@renanbr I don't understand the part with the voters. Voters should not really depend on the authenticated user because they are called with a token.

[2021-11-25 15:32] dkarlovi opened #44275 "Declaration of Symfony\Component\String\Slugger\AsciiSlugger::getLocale() must be compatible with Symfony\Contracts\Translation\LocaleAwareInterface::getLocale(): string"
### Symfony version(s) affected

5.4.0-RC1

### Description

[code]

### How to reproduce

Checking the source code, they seem to be incompatible currently?

### Possible Solution

_No response_

### Additional Context

Versions installed

[code]

[2021-11-25 15:33] afiocre opened #44276 "[Notifier] 1005 error code with AllMySms bridge"
### Symfony version(s) affected

5.3

### Description

The bridge AllMySMS for Notifier send a 1005 error code "body content is invalid"

### How to reproduce

use the example : https://symfony.com/doc/current/notifier/texters.html
with the AllMySms brideg : https://symfony.com/doc/current/notifier.html#sms-channel

### Possible Solution

Add `json_encode()` to the body array

### Additional Conte

[2021-11-25 15:34] fancyweb commented on #44275
Hello, thank you for your report. This issue has already been resolved by https://github.com/symfony/symfony/pull/44246.

[2021-11-25 15:34] #44275 closed, assigned to nobody

[2021-11-25 15:36] dkarlovi commented on #44275
Thanks @fancyweb I did check issues, but didn't consider PRs, sorry for the noise.

[2021-11-25 15:45] 537mfb commented on #22566
Sorry to resurrect this thread, but this is a subject that should be revisited every once in a while - and with version 6 of Symfony already about to be released, I think this a good opportunity for this.

I actually work at a translation agency and our CAT tool can work with xliff just fine, but also works with json, yaml and php - so any of those formats would be fine to receive from a client, a

[2021-11-25 16:12] xenatis commented on #44256
Unfortunately, the only info I can give you are the two lines from my host log, on the first post.

If the error do not come from Symfony, that means that it comes from my host and the php interpreter.
I will investigate in this direction.

Thanks for your time.

[2021-11-25 16:42] nicolas-grekas commented on #44273
Can you please try the following patch? Does it help?

[code]

[2021-11-25 16:44] nicolas-grekas commented on #44273
Whether the patch fixes the issue or not, can you please try submitting a failing test case? That'd help a lot :)

[2021-11-25 16:46] veghoct opened #44278 "symfony/mailer VERP support?"
Hi!

I'm making a switch to symfony/mailer in a project where VERP is being used. I didn't find anything related neither in the codebase, nor in the documentation about this. Do you guys have any built-in support for VERP? If not, is it possible to force through proper VERP messages?

Thanks for the answer.

[2021-11-25 17:30] #44276 closed, assigned to nobody

[2021-11-25 17:36] fancyweb commented on #44253
Hello, thank you for your report and all the details on how to reproduce the issue.

I found out that https://github.com/symfony/symfony/pull/41390/files#diff-2e73c153ff851124cb2a93c1dde4e21be01feeb234ad37a4fdfe4a537726f6dbR72 broke your case and indeed causes a BC break. The session you use in the test is not considered as started because of https://github.com/symfony/symfony/blob/4e7e429b0cc82fc

[2021-11-25 17:43] IonBazan commented on #44273
This patch did not fix the issue. I will try to provide a minimal reproduceable test tomorrow.

Edit: I don't think `PropertyAccessor` causes that problem. It only occurs when I upgrade the Serializer component.

[2021-11-25 17:55] IonBazan commented on #44273
While I'm working on the test case, I can confirm that reverting #44121 fixes the problem for me.

[2021-11-25 18:00] xenatis commented on #44256
After some further testing on my host, it seems that a PHP 7.4.25 error occurs when reading these strings. Weird...

No issue with php 8.0 or 7.3

[2021-11-25 18:00] #44256 closed, assigned to nobody

[2021-11-25 18:18] IonBazan commented on #44273
It seems to be caused because calling `__get` on Doctrine Proxy checks for target object property existence:
[code]

I don't have any better idea than checking if object implements `ProxyManager\Proxy\LazyLoadingInterface` and triggering initialization there.

[2021-11-25 20:44] zip-fa opened #44280 "Add AsciiSlugger getLocale() return type"
### Symfony version(s) affected

5.4.0

### Description

AsciiLogger has no return type in getLocale() function

### How to reproduce

[code]

### Possible Solution

Add return type:

string/Slugger/AsciiSlugger.php:93
public function getLocale(): string

Temp fix, composer.json:
- "symfony/translation": "5.4.*"

### Additional Context

PHP Fatal error:  Declaration of Symfony\Component\String\Slu

[2021-11-25 21:32] gharlan opened #44281 "PHP 8.2: mb_convert_encoding(): Handling HTML entities via mbstring is deprecated"
### Symfony version(s) affected

4.4, 5.3, 5.4, 6.0

### Description

Using the mbstring "encoding" `HTML-ENTITIES` is deprecated since PHP 8.2: https://github.com/php/php-src/pull/7177

These occurrences should be replaced: https://github.com/symfony/symfony/search?q=html-entities

### How to reproduce

Use HtmlDumper from var-dumper component in php 8.2.

### Possible Solution

_No response_

##

[2021-11-25 21:37] derrabus commented on #44281
Confirmed.

[2021-11-25 21:40] derrabus opened #44282 "[Meta] PHP 8.2 Support"
### Symfony version(s) affected

(4.4), ~~5.3~~, 5.4, 6.0, 6.1, 6.2

### Description

In November 2022, PHP 8.2 will be released and we should be prepared. In this PR, I'd like to track the efforts necessary to make all actively maintained branches ready for that release.

Ready means: if an application uses features of PHP 8.2, Symfony must not blow up.

We do already have a GitHub action that te

[2021-11-25 23:31] webmake opened #44283 "[Serializer]"
### Symfony version(s) affected

4.4.35

### Description

After migrating from v4.4.31 to v4.4.35 broke some functionality for private variables.

### How to reproduce

[code]
Occurs an error:
"class@anonymous\/home\/docker\/sample\/src\/Sample.php:51$901a0->get__loaders() method not found"
because in previous version private variables was not supposed to be serialized

### Possible Solution

_No

[2021-11-26 00:38] derrabus commented on #44280
Duplicate of #44246

[2021-11-26 00:38] #44280 closed, assigned to nobody

[2021-11-26 04:45] IonBazan commented on #44283
This seems related to #44273.

[2021-11-26 07:52] benbor commented on #44249
@fancyweb  thank you for fast answer!

I haven't check yet, but if it works, it sounds good for me. Let me close the issue. I'll reopen this again, if find something relevant

[2021-11-26 07:52] #44249 closed, assigned to nobody

[2021-11-26 10:10] acantepie opened #44285 "[doctrine] Install symfony/orm-pack failed on PHP8.1"
### Symfony version(s) affected

5.3

### Description

Topic

### How to reproduce

[code]
[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-26 10:17] nicolas-grekas commented on #44285
It's neither doctrine nor symfony but laminas/laminas-code which didn't tag a PHP 8.1-compatible version yet (but the code is ready afaik).

[2021-11-26 10:17] #44285 closed, assigned to nobody

[2021-11-26 10:39] karaka200 opened #44286 "PHP Deprecated with Symfony CLI version v4.26.9"
I use `Symfony CLI version v4.26.9` and `PHP 8.1'.
When run `symfony check:requirements` show this warnings:

[code]

How can I fix this problem?

[2021-11-26 10:54] stof commented on #44286
This is the wrong repository to report that. This relates to code of https://github.com/symfony/requirements-checker

@nicolas-grekas can you transfer the issue there (and maybe grant write access to the repository to the whole core team) ?

[2021-11-26 10:56] karaka200 commented on #44286
I apologize for inserting this problem in the wrong place

[2021-11-26 12:01] drupol commented on #44184
Thanks all for your valuable comments.

My approach might still be interesting for some use cases, but at this point, I think I don't need it anymore.

However, something that might be useful, would be the following:

[code]

The `interface_iterator` does not exist at this point, but it would be a very useful feature for me.
I currently use that feature by using a tag and I guess that implementing

[2021-11-26 12:39] stof commented on #44184
Well, we explicitly rejected in the past the idea of using a type directly to collect services into an iterator. Using tags to collect services, and then using `_instanceof` or autoconfiguration to apply tags automatically is much better:

- `_instanceof` and autoconfiguration are opt-in feature, allowing config files defining services to decide whether they want to let tags be added automatically

[2021-11-26 12:59] IonBazan commented on #44273
@nicolas-grekas I created a minimal project to reproduce the error: https://github.com/IonBazan/serializer-proxy-bug

[2021-11-26 13:07] nicolas-grekas commented on #44184
There has been #41188 on the topic, which led to #41207, and both have been closed as "won't fix" for reasons listed there.

Maybe this proposal can lead to a different approach, but I'm not sure yet. Eg could an attribute help, similarly to what `AsTaggedItem` does for iterators/service locators? But when we have the name, which interfaces should be put in front of it to create the full alias? Ho

[2021-11-26 14:04] ampaze commented on #44278
Coincidentally I was just asking myself the same question.

[2021-11-26 14:34] stof commented on #44282
To me, this is too early to mark component as compatible in the check list. PHP itself has not done the changes for PHP 8.2, so what your checkbox means for now is compatibility with PHP 8.1 plus a few commits, not with PHP 8.2.

[2021-11-26 14:48] derrabus commented on #44282
We can always un-check components if a new change is introduced to PHP that breaks a component. We did so on #41552 all the time.

But we can turn all those checkboxes into bullet points if that makes the list less confusing.

[2021-11-26 14:56] arudolph-cxt opened #44289 "[Http Client] Sending Binary file data"
Background:

An API i need to send to accepts binary file data through a POST endpoint. The recommended curl command looks like this: `curl --request POST --data-binary "@file.csv" https://api`

Approach:

Using the new http-client, I am trying the naive approach and pass a file handle resource to the body field:

[code]

Problem:

The API responds with a 500 Error because it does not accept this

[2021-11-26 14:58] nicolas-grekas commented on #44289
you need to rewind $body, otherwise the stream is reading from the end, which means you're not sending anything

[2021-11-26 15:06] arudolph-cxt commented on #44289
Thats what i did, altough not inside the sample code. (added it now)

If i use an api-mock service like beeceptor.com i can see the expected data being sent.

[2021-11-26 15:07] ampaze opened #44290 "symfony/mailer multipart structure looks odd"
### Symfony version(s) affected

5.x.x

### Description

In Email.php there is a nice ASCII Chart showing how `symfony/mailer` composes multipart emails:

[code]

May I ask how this was chosen? I find it odd, that the inline image for the html content is "related" to the whole "alternative" part, instead of only the html content. So maybe the chart should look something like this:

[code]

### How

[2021-11-26 15:18] nicolas-grekas commented on #44289
Oh, then you might want to declare the `Content-Length` explicitly as a header. It might be that the remote server doesn't handle chunked body requests?

[2021-11-26 15:28] drupol commented on #44184
Thank you all once again, things are clear now.

[2021-11-26 15:28] #44184 closed, assigned to nobody

[2021-11-26 15:29] arudolph-cxt commented on #44289
I tried that, for this attempt my code looks like:

[code]
the response was a 500 with debug string:
[code]
any idea what else to try with the http-client instead of switching to curl method calls?

[2021-11-26 15:34] 537mfb commented on #22566
The recommendation should be:

If you're using keys go with yaml, otherwise go with xliff
Using dotted notation keys makes more sense with yaml (or php, or json), while using the default text makes more sense in an xliff

[2021-11-26 15:48] nicolas-grekas commented on #44289
The question that we should solve is why `Transfer-Encoding: chunked` is sent.
If you look at the code in CurlHttpClient, `CURLOPT_INFILESIZE` is set if you pass a `Content-Length`.
Can you try debugging the situation and figure out which code path is taken by the code and why `Transfer-Encoding` is sent?

[2021-11-26 15:53] Nyholm commented on #22566
Thank you.
I understand your point of view. For Symfony 6 specifically it is a bit too late Im afraid. But topics like this should be revisited time to time.

XLIFF is [designed to handle translations](https://en.wikipedia.org/wiki/XLIFF). That cannot be said for json or yaml or PHP files. I do understand that some other formats are easier to work with in some situations.

Note that Symfony is not

[2021-11-26 15:54] arudolph-cxt commented on #44289
it doesnt let me set any of the CURL parameters that help me otherwise unfortunately, for example I get `Cannot set "CURLOPT_INFILE" with "extra.curl", use option "body" instead.` but i dont understand why this client is so restrictive. Can i set some flag "i know what im doing, let me write my own code"?

investigating what you mentioned...

[2021-11-26 16:19] arudolph-cxt commented on #44289
So regarding the chunked transfer-encoding, this seems to be an immutable characteristic of the initializer that is called as soon as i access the statuscode or content of the response, because its lazy.
this initializer immediately passes the response chunks through an iterator in \Symfony\Component\HttpClient\Response\CommonResponseTrait::initialize L156 and this seems to internally add the chun

[2021-11-26 16:44] stof commented on #44289
The client does not let you set your own values for any curl option it uses internally, because options cannot have 2 values.

[2021-11-26 16:51] nicolas-grekas commented on #44289
I ran this and I don't see the transfer-encoding header:

[code]

Please ensure $size is not null in your case, and debug why the header faulty is sent...

[2021-11-26 17:35] nicolas-grekas commented on #44289
I'm especially interested in knowing if you hit this line:
https://github.com/symfony/symfony/blob/4e7e429b0cc82fc28278486505601ff2c225eb49/src/Symfony/Component/HttpClient/CurlHttpClient.php#L254

or this one:
https://github.com/symfony/symfony/blob/4e7e429b0cc82fc28278486505601ff2c225eb49/src/Symfony/Component/HttpClient/CurlHttpClient.php#L252

or none of them?

[2021-11-26 17:53] nicolas-grekas commented on #44273
Thanks for the reproducer.
#44295 should fix it (for 4.4, 5.3 coming after merging up).

[2021-11-26 18:01] nicolas-grekas commented on #44283
Can you please confirm #44295 fixes the issue?

[2021-11-26 18:08] 537mfb commented on #22566
Hi @Nyholm

XLIFF was designed to handle translations - true - but that implies the source is the original text.

When using the dotted notation keys then XLIFF is not designed for that, and if used with keys instead of the original text in the source the point of using it for external translation tools/professionals becomes mute, as at that point those professionals can't treat it as an XLIFF any

[2021-11-26 18:50] zacharyzh commented on #44046
also affected 'templates' dir which pointed in the article.

    LoadError:
    There are no registered paths for namespace "xxx" in xxx.twig at line x.

https://github.com/symfony/symfony/blob/079608766d049b66234cd49c8402fc6d502e3e96/src/Symfony/Component/HttpKernel/Bundle/Bundle.php#L111

[code]

[2021-11-26 19:41] wnunezc opened #44296 "Error installing Symfony with writing to directories Windows 10"
### Symfony version(s) affected

5.3.7

### Description

I am starting with symfony and at the end of the installation without having touched anything I get this error:

[![introducir la descripción de la imagen aquí][1]][1]

**my environment:** I am using windows 10 and Laragon (vitaminized xampp)

checking the directory I realize it has this in the attribute:

[![introducir la descripción de la

[2021-11-26 19:55] sxsws commented on #44211
Generally, this is the problem of another component other than the workflow component.

I have a working example of this for yaml. It's relatively simple to monkey-patch.

At the moment, I have this example working:

My enum:

[code]

and part of my workflow.

[code]

The place name is the name string of the enum `Hearts`. If I change it to `.value`, it'd give, from above, `h`.
The value for descr

[2021-11-26 19:58] stof commented on #44211
@sxsws what you are suggesting here is **not** enum support for the workflow component. In your proposal, place names are still arbitrary strings, meaning that there is no benefit of using an enum for that at all.
and there is no need to spend time on implementing your `!php/enum` proposal for the Yaml component (for which the current ticket is the wrong to discuss it). I would immediately give it

[2021-11-26 20:06] sxsws commented on #44211
and what then pray tell is the difference then between an enum and a class of constants for workflow?

[2021-11-26 20:12] stof commented on #44211
@sxsws this ticket is precisely about investigating native support for enums in the workflow component (using an enum for transition name and an enum for place names, or something like that) instead of relying on arbitrary strings (which *can* be stored as class constants, but without type safety about avoiding to use other values)

[2021-11-26 20:34] welcoMattic commented on #22566
Hi @537mfb,

We are using XLIFF with dot notation on all Translation Providers, it works pretty well. All SaaS (Loco, Lokalise, Crowdin for now) are able to treat XLIFF with dot noted source.

I think we should continue to recommend (but not require) using XLIFF, as it's a standard for translation file. But feel free to use json or yaml if it suit better for your needs.

[2021-11-26 20:41] alexandre-daubois commented on #44211
It's pretty challenging to bring native support to workflow component.
After several tries, I have a working solution and currently working to adapt existing tests with enumerations. I'll surely post this in a few days (and when 6.1 branch is a available).
You can follow the development state here: https://github.com/symfony/symfony/compare/6.0...alexandre-daubois:feat/enum-workflow?expand=1

This

[2021-11-26 20:50] 1ed opened #44299 "[PropertyInfo] Attempted to load class "ContextFactory" from namespace "phpDocumentor\Reflection\Types""
### Symfony version(s) affected

5.4@dev

### Description

[code]

### How to reproduce

[code]

### Possible Solution

https://github.com/symfony/symfony/pull/44300

### Additional Context

_No response_

[2021-11-26 20:57] #44296 closed, assigned to nobody

[2021-11-26 23:57] 537mfb commented on #22566
Hi @welcoMattic

I never said dot notation didn't work in XLIFF (I've used it in the past) - I said that's not what XLIFF's where designed for

I was answering @Nyholm where he was pointing out that XLIFF's where designed for translation - and I pointed out that when using dot noted source, that's not what XLIFF's were designed to be anymore.

At that point technically it's not really an XLIFF any

[2021-11-27 00:35] wnunezc opened #44302 "default installation on windows 10 not add .htaccess file"
### Symfony version(s) affected

5.3.7

### Description

after installing, and creating a project I have tried to create a controller.

[code]

get error 404... in testing from browser

the problem is that `.htaccess` file has not deploit to public directory on creation of the project via command line with `--full` argument.

it was necessary for me to execute the following commands:

[code]

Is t

[2021-11-27 08:04] racile commented on #44285
is there a way around or the only option for now is downgrade to 8.0* and wait for laminas/laminas-code?

[2021-11-27 09:26] sxsws commented on #44211
@stof if necessary, it can easily be determined if a constant belongs to a class.

[2021-11-27 10:55] derrabus commented on #44285
[code]

[2021-11-27 11:52] mathielen opened #44304 "A more expressive way to configure the handling of Workflow transitions"
### Description

The Workflow component is great but I am missing an expressive way to define the "handling"-part of a transition.

So, when looking in the workflow configuration, one could see what the actual reaction of a transition is meant to be. Right now you would have to dig into EventListeners and EventSubscribers to find these (if I dont miss anything).

We are using https://github.com/wi

[2021-11-27 13:11] #40941 closed, assigned to nobody

[2021-11-27 13:26] alexandre-daubois commented on #44211
Here is the pull-request: https://github.com/symfony/symfony/pull/44306

[2021-11-27 15:14] fd6130 commented on #44302
I think yeah? You need to `composer require symfony/apache-pack` to install the additional .htaccess .

[2021-11-27 15:40] wnunezc commented on #44302
And why does the installation not do this by default if it is a requirement for the Controller system to function correctly ...?

it is assumed that if I used the `--full` argument it was so that everything would be ready and not have to touch things ... and if not, this should be in the documentation !!! **data that I did not find in that place**

[2021-11-27 17:43] php4fan opened #44308 "Class xxx used for service yyy cannot be found. Symfony completely broken after composer require security."
### Symfony version(s) affected

5.4.0

### Description

I had a perfectly working Symfony project.

I wasn't sure whether or not I had already installed the Security bundle. I thought I had (and I was right) but I wasn't sure, so I ran:
[code]
which, worst case scenario, would say "Bla bla bla is already installed" and do nothing, best case scenario it would update it. Right?

Wrong. Little did I

[2021-11-27 19:01] php4fan opened #44310 "Confusing message in the output of make:auth for LoginFormAuthenticator"
### Symfony version(s) affected

5.4.0

### Description

When you run `bin/console make:auth`, and you choose a login form authenticator, at the end you get this message:

[code]

That, to me, means that I should expect to find a method called `checkCredentials()` in `LoginFormAuthenticator`, hopefully with some comment telling me exactly where I should add the code to check the password.

But the

[2021-11-27 19:07] php4fan commented on #44310
Actually, it seems you don't need to add any code to check credentials. The generated method `authenticate()` seems to already be taking care of that. I've checked that authentication fails with the wrong user identifier and password, and it succeeds with the correct ones, so it's already checking the password.

Pretty sure that line in the output is a leftover from a previous version.

[2021-11-27 19:51] xabbuh commented on #44302
Well, the documentation assumes that you are using the web server provided by the Symfony CLI to serve your application (see https://symfony.com/doc/current/setup.html#running-symfony-applications). If you are using another web server instead, you need to configure it which we cover in https://symfony.com/doc/current/setup/web_server_configuration.html (that chapter is linked at the end of the int

[2021-11-27 19:51] #44302 closed, assigned to nobody

[2021-11-27 19:55] xabbuh commented on #44308
Can you please show the output of `composer show` and your security config (basically what you have in your `config/packages/security.yaml` file)?

[2021-11-27 20:05] Karolis2011 opened #44312 "HTTP Client made using `withOptions` is not tracked in profiler"
### Symfony version(s) affected

5.3.11

### Description

HTTP client created using `withOptions` isn't properly tracked in profiler.

### How to reproduce

1. Inject HTTPClientInterface to a service or a controller.
2. Make a new instance of HTTPClientInterface by calling `withOptions([])`.
3. Make requests using newly created HTTP Client.
4. Take note that client logs it's requests under log, bu

[2021-11-27 22:06] karaka200 opened #44313 "Remaining indirect deprecation notices"
When I run `php ./vendor/bin/phpunit` command, test is ok but display `Remaining indirect deprecation notices`

[code]

ProductControllerTest.php
[code]
@nicolas-grekas  How can I fix this warning?

[2021-11-27 23:07] derrabus commented on #44313
You cannot. This has to be fixed by DoctrineBundle, see doctrine/DoctrineBundle#1429

[2021-11-28 13:10] aderiyenko commented on #44254
Hi @Antipov-Anton ! According to the discussion here https://github.com/symfony/symfony/pull/44291 the DSN precendence is intentional, so it looks like you can remove the queue name from the DSN from the env variable and just specify it explicitly in all the configured transports, including queue1.

Would that work?

[2021-11-28 13:59] nicolas-grekas commented on #41520
Do you have example of when this went wrong already?
Because I was wondering if there shouldn't be an effort to make php core functions compatible with a main event loop.
Are you aware of anyone working on this?

[2021-11-28 14:01] php4fan commented on #44308
This is security.yaml:

[code]

Now I ran `composer update` and it fixed my project, so I guess the output of `composer show` now won't help. I attach it anyway just in case:
[code]

[2021-11-28 14:16] #44273 closed, assigned to nobody

[2021-11-28 14:16] #44283 closed, assigned to nobody

[2021-11-28 15:08] #44260 closed, assigned to nobody

[2021-11-28 15:52] azjezz commented on #41520
I can't give you a specific example, but i had this discussion with Swoole maintainers before.

ref: https://twitter.com/azjezz/status/1379529197035655169?s=20

---

Because I was wondering if there shouldn't be an effort to make php core functions compatible with a main event loop.

PHP doesn't have an event-loop, so this can't happen, unless there's a builtin Event Loop in PHP.

The only way to

[2021-11-28 15:54] azjezz commented on #41520
also to note, my "it was never considered safe to use swoole with Symfony" comment was a response to:  https://github.com/symfony/symfony/issues/41520#issuecomment-853324798

[2021-11-28 16:03] Pierstoval commented on #44253
After having thought about it, it should technically be fine to have such behavior, especially in Symfony 6 (because BC are fine in majors).

After all, Session is supposed to be a Request-based object, and IIRC there's ongoing work to detach the Session from the container (just like the Request was removed from the container in Symfony 2.4).

Updating the Session **before** making an HTTP request

[2021-11-28 16:09] php4fan commented on #40321
I am having the same issue _without_ `always_remember_me`.

I have the `_remember_me` checkbox in the login form:
[code]

and this is my `security.yaml`:
[code]

Login and logout work as expected, but no `REMEMBERME` cookie is generated and (therefore, obviously) the login is not remembered across sessions.

[2021-11-28 16:22] Pierstoval opened #44315 "Introduce the concept of "current" and "future" sessions"
Session is known to be a stateful service/object.

Therefore, if anyone depends on the content of the Session, it means that there will be big differences if you depend on the **current session** or the **future session**.

This means that if **any** app layer modifies the Session, you don't have any way of determining if this corresponds to the current session or the future session.

Also, an app

[2021-11-28 16:23] php4fan opened #44316 "Two PHPSESSID cookies in response from succesful login"
### Symfony version(s) affected

5.4.0

### Description

I have a very basic Symfony project with User entity, registration form, (irrelevant) email verification and `LoginFormAuthenticator`, all pretty much created with `maker` commands according to documentation and SymfonyCasts tutorials.

Login and logout apparently work as expected, but the redirect response after a succesful login systematic

[2021-11-28 16:36] php4fan commented on #40321
Apparently I needed to add a `RememberMeBadge` to the array passed to the passport. I don't see that documented anywhere. At least not here:
https://symfony.com/doc/current/security/remember_me.html
or in the comments in the twig template generated by the maker:

[code]

[2021-11-28 16:59] xabbuh commented on #44308
I am afraid we won't be able to do anything then if we are not able to reproduce. But we can reopen in the future if this happens again and we know how to reproduce it. Thank you for understanding.

[2021-11-28 16:59] #44308 closed, assigned to nobody

[2021-11-28 17:01] xabbuh commented on #44316
Can you create a small example application that allows to reproduce your issue?

[2021-11-28 17:13] php4fan opened #44318 "AbstractLoginFormAuthenticator::supports() always returns false if application lives under a directory"
### Symfony version(s) affected

5.4.0

### Description

Say you have an application deployed to `https://somedomain.com/my/path`, as opposed to just `https://somedomain.com/`.
I think you usually call that an application that "lives under a subdirectory" (or directory, or folder).

I expect EVERYTHING in the framework to work out of the box with ZERO configuration in that scenario. Generally, Sym

[2021-11-28 17:37] OskarStark commented on #44313
You only need to take care of "direct deprecation notices"

[2021-11-28 17:41] OskarStark commented on #44252
Friendly ping @DfKimera as you contributed

[2021-11-28 17:56] php4fan commented on #44316
[symfony-example.zip](https://github.com/symfony/symfony/files/7614050/symfony-example.zip)

This one should do:
- install dependencies
- run migrations
- register at `/register` (you may need to disable email verification or configure a mailer so you don't get errors on registration)
- login at `/login` with valid credentials, that should reproduce the issue

[2021-11-28 18:39] php4fan opened #44320 "REMEMBER_ME cookie has path '/' by default even when application lives under directory"
### Symfony version(s) affected

5.4.0

### Description

Similar to issue 44318, the "Remember Me" feature also doesn't work properly out of the box when the application "lives under a directory", e.g. `https://mydomain.com/some/path`.

In `security.yaml`:
[code]

I know I can set `path: '/some/path'` under `remember_me:` but I shouldn't need to do that like I don't need to have a configuration pa

[2021-11-28 20:19] CaptainFalcon92 commented on #22592
Resurrecting that issue; i just came across this need today myself.

Having the ability to call UniqueEntity constraint from outisde an entity would be the perfect answer.
Especially at the time of writing with ApiPlatform and their DTO implementation.

I'm totally for it too :
[code]

And by doing an assoc array we could eventually indicate the input value to field mapping :
[code]

Reading the e

[2021-11-28 21:09] #44313 closed, assigned to nobody

[2021-11-29 02:10] berkut1 commented on #44318
What about this?
`return 'app_login' === $request->attributes->get('_route') && $request->isMethod('POST');`
We comparing not path, but the name of action.

[2021-11-29 06:38] Nyholm commented on #22566
This issue was opened and closed in 2017. To anyone who reads this: Feel free open a new issue if you want to discuss this again.

I dont want to turn down the discussion but I will close this old thread.

[2021-11-29 08:53] sakalys commented on #40824
I created a PR (see above), but I don't think that the code is going to be enough. Any feedback or suggestions are welcome.

[2021-11-29 09:13] #40824 closed, assigned to nobody

[2021-11-29 09:29] php4fan commented on #44318
That seems conceptually the correct approach. But then you would be hard-coding `'app_login'`.

Currently the `LoginFormAuthenticator` generated by `make` has this:
[code]

Perhaps one solution would be, instead of that, to have a protected method in `AbstractLoginFormAuthenticator`:
[code]
that one can override in `LoginFormAuthenticator`. And get rid of the constant `LoginFormAuthenticator::LOGI

[2021-11-29 09:35] wouterj commented on #44318
Fyi, I'll move this one to GitHub discussions.

This does not seem to be an issue with the authenticator interface - but rather a question about the implementation of the method. If, in the end, you come up with a better solution, you can maybe fix the auto generated code in the [Symfony MakerBundle](https://github.com/symfony/maker-bundle). Good luck! :)

[2021-11-29 09:35] #44318 closed, assigned to nobody

[2021-11-29 10:42] sakalys commented on #26893
Hi all, this should get fixed in symfony 4.4 soon, as there is a merged in PR for that https://github.com/symfony/symfony/pull/44327

[2021-11-29 10:54] stof commented on #44315
The proposed API is confusing IMO. Not being able to read from the session in which you write means you cannot check whether a change is necessary or no (as you cannot check the state of the future session).

[2021-11-29 12:41] tomasz-kusy commented on #44185
Any news? I think that this error is very obvious :)

[2021-11-29 12:51] fabpot commented on #44185
Would you like to submit a PR?

[2021-11-29 13:24] noniagriconomie commented on #44304
IIUC, yes you need to list all event listeners/subscribers attached to your workflow event if you attached logic on it
There is nothing done more than marking change if no listeners/subscribers are involved in your transition

You can also leverage the workflow metadata to contextualise your workflow in its config (human explanation for example)

[2021-11-29 13:25] digilist commented on #38416
We have worked around this problem, but I think the issue in general is still valid.

[2021-11-29 13:26] tomasz-kusy commented on #44185
Sure

[2021-11-29 14:03] nicolas-grekas commented on #44290
I think that's what most email clients accept.
Trying to diverge from the habits usually means breaking some email clients out there.
What would be the motivation to do the change when we know the current structure just works?

[2021-11-29 14:17] fabpot commented on #44290
I agree with Nicolas. I spent a lot of time figuring out what works out there and that's what I came up with. I'm not opposed in fixing what does not work, but it should be well documented.

[2021-11-29 15:06] #43868 closed, assigned to nobody

[2021-11-29 15:06] #44252 closed, assigned to nobody

[2021-11-29 15:10] nicolas-grekas commented on #44289
@arudolph-cxt I'd be happy to gather your feedback here, I'm really not understanding why you experience this behavior and would be happy to figure it out. :pray:

[2021-11-29 15:10] #43648 closed, assigned to nobody

[2021-11-29 15:24] #43953 closed, assigned to nobody

[2021-11-29 15:25] #44299 closed, assigned to nobody

[2021-11-29 15:38] Pierstoval commented on #44315
@stof Then, it could be highly simplified by not applying the "behavioral changes" in the last second list.

Using the second proposal and a `$session->getCurrentImmutableSessionBag()` (or a better naming) would be backwards compatible with all past and future versions, since it would only add one method, and still make the feature available to everyone. It wouldn't even be part of the interface (

[2021-11-29 16:14] 123ValentinM opened #44332 "[TwigBridge] label_attr not work"
### Symfony version(s) affected

5.3.11

### Description

Hi everebody.

Since symfony version 5.3.11 and more specifically twig-bridge version 5.3.11 https://github.com/symfony/twig-bridge/releases/tag/v5.3.11 the label_attr of my symfony form no longer works.

If I go back to twig-bridge 5.3.7 it works normally.

My symfony code :
[code]

My Twig code :

`{{ form_widget(form.type) }}`

### How t

[2021-11-29 16:26] stof commented on #44332
@123ValentinM it looks like you were intentionally relying on the behavior fixed in #42323. and the reason it could be used for you case is that you were not rendering `form_label(form.type)` (or that you were expecting the same classes on that label).

@xabbuh we might need a `choice_label_attr` option to allow configuring the `label_attr` option of each choice in expanded mode (and maybe `choice

[2021-11-29 16:44] adaniloff opened #44334 "[ElasticsearchLogstashHandler] There seems to be an issue with the version 5.3.11 of http-client ?"
### Symfony version(s) affected

5.3.11

### Description

Hello there ; we recently upgrade from `5.2.12` to `5.3.11`.

I'm not really sure what's happening... but logging in ES with `curl` + `ElasticsearchLogstashHandler` is now causing some trouble.

### Our usecase

In our case, while running `doctrine:fixture:load --append`, some (info level) logs are generated. However, we now got an error re

[2021-11-29 17:15] nicolas-grekas commented on #44334
Thanks for the reproducer!
I have `could not find driver` when I follow your instructions :(
But now I read that the reproducer could be simplified.
Can you do it please? The smaller the better.

[2021-11-29 17:29] andreybolonin opened #44337 "Upd symfony from 4.4 to 5.4"
`The service "security.authorization_checker" has a dependency on a non-existent service "security.authentication_manager". Did you mean one of these: "security.authorization_checker", "security.authentication_utils", "security.authentication.manager", "security.authentication.guard_handler"?
`

Any ideas how to fix this?

[2021-11-29 17:38] stof commented on #44337
@wouterj could we have a bug when the new authentication system is not enabled ?

[2021-11-29 17:50] wouterj commented on #44337
At least not in all cases, as I've tested RC1 on our apps (which also still use the old system).

Can you provide a minimal reproducer @andreybolonin ?

[2021-11-29 17:57] adaniloff commented on #44334
Well, I'm on it. I made an update (**not pushed** on my repo yet) but the issue does not happen anymore (I did `composer remove` the doctrine fixtures bundle) !

This is really weird ... I will try to push my tests further...

Regarding your error, do you see those messages (especially the *"Idle Timeout"* one) like on this picture:

![Capture d’écran de 2021-11-29 18-53-34](https://user-images.gi

[2021-11-29 18:00] yceruto commented on #44337
I see on 5.4 still a reference to `security.authentication_manager`:
https://github.com/symfony/symfony/blob/a12336a7cd5df9c2723eee62073bb9dd795a14d1/src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php#L125
while the service id is `security.authentication.manager`:
https://github.com/symfony/symfony/blob/a12336a7cd5df9c2723eee62073bb9dd795a14d1/src/Symfony/Bundle/SecurityBu

[2021-11-29 18:11] adaniloff commented on #44334
I reproduced the issue, without the database.

You can clone https://github.com/adaniloff/symfony-http-client-issue/blob/feat/only-the-cmd/README.md (another branch of the same repo).

**First:** clean your containers with `make down`.

Then do the following:
- checkout on the branch specified above
- `make init && make up && make install`
- `docker-compose exec php bin/console cache:clear`
- `doc

[2021-11-29 18:17] lyrixx commented on #42620
Hello,

I totally missed you comment :/ I'm sorry for the delay!

We already use some metadata information for the rendering: https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/Workflow/Dumper/GraphvizDumper.php#L80

So I guess it's fine to continue this way.

So you can open a new PR for this new feature :)

Thanks

[2021-11-29 18:19] lyrixx commented on #43919
There is one issue with that : Many transition can have the same name.

So I think this is not possible. The only solution would be to return the transition if there is no conflict, and throw an exception in other case. WDYT?

[2021-11-29 18:20] lyrixx commented on #44213
I'm OK with setInitialMarking. Do you want to work on a PR? If it's not possible, I'll do it, no problem

[2021-11-29 18:42] tsantos84 commented on #36093
As commented by @fabpot [here](https://github.com/symfony/symfony/pull/36135#issuecomment-691444579), this discussion was resumed through [this PR](https://github.com/symfony/symfony/pull/38162), but I don't saw the feature implemented in the Symfony's core although.

[2021-11-29 18:45] gjuric opened #44342 "Upgrade to 5.4 failed: Invalid service the class is not set."
### Symfony version(s) affected

5.4.0

### Description

I've just tried updating from latest 5.3.11 to 5.4.0 and after the packages have been updated the container can not be built with complaints about my custom repositories not having a class set.

### How to reproduce

I've created a reproducer here: https://github.com/gjuric/symfony_5_4_bug/

The repositories are defined like this:

[code]

I

[2021-11-29 18:50] wouterj commented on #44342
Hi @gjuric!

Can you provide a [minimal reproducer](https://symfony.com/doc/current/contributing/code/reproducer.html) that shows this error? That'll help someone (or you 😉) to debug this error.

[2021-11-29 18:57] bambi42 commented on #44213
Yes I'll work on a PR some time this week. But thanks a lot for offering your help :)

[2021-11-29 19:00] ghost commented on #44182
I am reproducing this issue on 5.4.0. I have deleted var/cache/* manually to no avail.

`$ composer show symfony/var-exporter`:
[code]

`$ php -v`:
[code]

Here's my trace:

[code]

[2021-11-29 19:13] bobvandevijver commented on #44182
@amacrobert-meq As it looks to be tests for you as well, try to run `bin/console cache:clear -e test`, that seemed to solve it for me.

[2021-11-29 19:21] mhujer opened #44345 "5.4.0: `SessionListener::onKernelResponse` listener is registered twice in test env"
### Symfony version(s) affected

5.4.0

### Description

`Symfony\Component\HttpKernel\EventListener\SessionListener::onKernelResponse()` listener is registered twice in `test` environment.

Our tests for controllers where we set `NO_AUTO_CACHE_CONTROL_HEADER` flag started failing, because the flag is reset on the first call of `onKernelResponse` and the subsequent call overwrites the previously s

[2021-11-29 19:31] ghost commented on #44182
Thanks but that didn't help (nor did deleting `var/cache/test`). It looks like our issues are coming from similar but different places. I wonder if 5.4.0 / 4.4.34 fixed it in one but not both places.

Making this change in /vendor/symfony/form/Extension/Validator/Constraints/FormValidator.php line 126 solves:

[code]

...but I'm not sure if the real issue is caused upstream, and of course I don't

[2021-11-29 19:43] ghost commented on #44182
Alright I fixed in my app code. The `$constraint` that was failing was a custom constraint that extends `Symfony\Component\Validator\Constraint`. Adding `$this->groups = [];` to its constructor solved the issue.

EDIT: Better fix was to call the parent constructor.

[2021-11-29 19:44] BahmanMehrdad opened #44346 "Defect in creating a site by Symfony 6 and PHP 8.1"
### Symfony version(s) affected

6.0.0

### Description

Hi friends.
I am using PHP 8.1 .
When I try to create a web application with `symfony new test --full` command, everything goes well and the following message appears.

[code]

But when I go to the root path, only the following folders and files are installed and it is clear that the symphony is installed incompletely.

[code]

Now when I us

[2021-11-29 19:45] andreybolonin commented on #44337
@stof yes, I using old auth system

I am only upgrade 4.4 version to 5.4 and run the app :)

[2021-11-29 19:50] nicolas-grekas commented on #44346
Yep, laminas/laminas-code is not ready for PHP 8.1, and there's nothing we can do about that on this repo.
See there and try contributing if possible.

[2021-11-29 19:50] #44346 closed, assigned to nobody

[2021-11-29 19:58] andreybolonin commented on #44337
<img width="456" alt="Screenshot 2021-11-29 at 21 57 36" src="https://user-images.githubusercontent.com/2576509/143934174-9b4096b6-5005-425f-ac17-442bd66608d6.png">

I am comment this param and all is ok

[2021-11-29 19:59] #44337 closed, assigned to nobody

[2021-11-29 20:49] tomasz-kusy commented on #44185
@fabpot As I see now it's fixed in 5.4. I'm not sure about versions maintenance policy... Submit PR for 5.3?

[2021-11-29 20:53] nicolas-grekas commented on #44185
Yes please, 5.3 is still maintained.

[2021-11-29 20:55] gjuric commented on #44342
Sure, I will take a look at it tomorrow, I've tried setting up the skeleton app from the linked documentation but it installs v6, after manually downgrading to 5.4 I wasn't able to install the maker bundle because of dependencies and downgrading to 5.3 to get the maker bundle broke the skeleton app because of a missing method in the MicroKernelTrait so I need to take care of that first :)

[2021-11-30 01:55] OskarStark commented on #44345
Friendly ping @alexander-schranz

[2021-11-30 07:43] garak opened #44348 "Could we add an options to summarize deprecations in phpunit bridge?"
### Description

Situation: I prefer to stay on LTS versions of Symfony, so today I tried to upgrade a couple of projects from 4.4 to 5.4
The upgrade worked, my tests are green, but now I'm getting 68 direct deprecation notices + 2324  indirect deprecation notices + 10178 other deprecation notices, for a total of (A LOT OF DEPRECATIONS THAT I CAN'T EVEN COUNT).

This is making really hard to look

[2021-11-30 08:05] fancyweb commented on #44348
Hello, you can disable the verbose output with the verbose option, please check https://symfony.com/doc/current/components/phpunit_bridge.html#disabling-the-verbose-output. You will still see the total deprecations count but not the messages. Please close the issue if it's what you requested, thanks.

[2021-11-30 08:35] signor-pedro commented on #44342
Hi, at our company we're experiencing the same :) thanks @gjuric for the minimal reproducer :)

[2021-11-30 09:02] yann-eugone opened #44352 "Split KernelInterface of HttpKernel"
### Description

We recently had a debate on whether injecting the kernel into a service to access some information it carries is a good idea or not.
I totally agree that a service should rely on the minimum information it requires, and thus not depending on something like a container to extract service, or kernel to access environment.

When we were required to inject all arguments manually, this

[2021-11-30 09:09] derrabus commented on #44352
Injecting the environment as a string is the way to go here. I'm not convinced that we should provide a second solution to achieve the same thing. Neither do I want to encourage anyone to inject the kernel just to extract the environment, no matter how fine-grained we cut the interfaces.

A clear 👎🏻 from my side, sorry.

[2021-11-30 09:17] nicolas-grekas commented on #44352
You can already inject `ParameterBagInterface`, which achieves most of what you describe.
But injecting only the very info that you need as a scalar looks way better from a design pov imho.

[2021-11-30 09:32] mmarton opened #44353 "composer create-project symfony/website-skeleton:5.4 installs old dependencies"
### Symfony version(s) affected

5.4, 6.0

### Description

Not sure if this is the right place or doctrines repo

Installing symfony 5.4 or 6.0 pulls old dependencies because symfony-contracts.

### How to reproduce

$ composer create-project symfony/website-skeleton:^5.4 symfony54

### Possible Solution

_No response_

### Additional Context

[code]

[code]

[code]

[code]

[code]

[2021-11-30 09:42] derrabus commented on #44353
See doctrine/DoctrineBundle#1434

[2021-11-30 09:45] yann-eugone commented on #44352
So you both recommand usage of named bindings for these needs ?

[2021-11-30 09:46] derrabus commented on #44353
And symfony/maker-bundle#1023

[2021-11-30 09:47] mmarton commented on #44353
Thanks. that was the fastest issue resolve i've seen :D

[2021-11-30 10:03] gjuric commented on #44342
I am having trouble generating a minimal reproducer since there using a factory to get the Entity Repository works :(

If I downgrade the `symfony/framework-bundle` package to v5.3.11 and leave all other packages upgraded everything works. The debug output when running `bin/console` is:

[code]

Couple of things to add:

* we are using multiple entity managers
* bundles that define these repositor

[2021-11-30 10:04] nicolas-grekas commented on #44352
Absolutely :)

[2021-11-30 10:09] acantepie opened #44355 "[symfony/doctrine-bridge] 5.4 : auto mapping not working at all"
### Symfony version(s) affected

5.4

### Description

Auto mapping of vendor entity not working anymore.

### How to reproduce

My doctrine config :
[code]

With symfony/doctrine-bridge 5.3.11, Entity living on directory `vendor/foolib/foobundle/src/Entity` was registered.
With symfony/doctrine-bridge 5.4.0, Entity got error :
`The class 'Foo\FooBundle\Entity\BarEntity' was not found in the chain

[2021-11-30 10:13] yann-eugone commented on #44352
Fine, will find another way to achieve this on my own.

Thank you anyway for your recommandations.

[2021-11-30 10:13] #44352 closed, assigned to nobody

[2021-11-30 10:15] alexander-schranz commented on #44345
We did replace the `TestSessionListener` with the new `SessionListener` this actually causing now that the event seems to be registered multiple times.

https://github.com/symfony/symfony/pull/41390/files#diff-2b07ed6c629fe7c7a6ed6a82c36f039b0af6ad1be83d5656787082dd281e6e48R38

A workaround maybe would here that we replace the `SessionListener` with the `TestSessionListener` instead adding a new s

[2021-11-30 10:24] ampaze commented on #44290
My intention is to have the best compatibility with email clients out there, thats why I was asking how and why you chose this structure. How do you know that this structure "just works"? How did you figure out what works? Which email clients and email providers where tested?

We have been using the structure I outlined for many years (with Swiftmailer and a custom message) and have send millions

[2021-11-30 10:40] derrabus commented on #44352
Building a service in userland that fulfills your `KernelEnvironmentInterface` should be trivial, if this is really the way you want to go. But I doubt that you gain anything from that.

[2021-11-30 10:47] chregu opened #44356 "lint:container reports "Invalid service XYZ, method Factory:method() does not exist", when it's called via __call"
### Symfony version(s) affected

5.3 / 5.4 (didn't test for others)

### Description

With the following service definition:

[code]

Symfony during "lint:container" reports
[code]

 The AWS SDK only implements a `__call` method and does the magic there.

It actually still worked in Symfony 5.3 (and I assume older versions), but reported it with "bin/console lint:container", but now even "composer

[2021-11-30 10:57] xabbuh commented on #44355
Can you create a small example application that allows to reproduce your issue?

[2021-11-30 10:59] gisostallenberg commented on #42620
Hi @lyrixx,

Thanks for your response (better a bit later than never 😄 ).
As I understand from your reply you think it is ok to just add this **only** to the GraphvizDumper? Or should I provide it for the others also?
How about a `style_attributes` metadata property which would be the base for the attributes, in which the 'old' properties (like `bg_color`) overwrite (for BC purposes), but the defa

[2021-11-30 11:03] dimiceli opened #44357 "[EventDispatcher] add and dispatch built-in event_dispatcher.pre_dispatch event"
### Description

Hello,

I think it would be useful if the EventDispatcher itself dispatch an event of type event_disaptcher.pre_dispatch so that services can have the possibility to add or remove listeners from the list depending on the context.

For example I would like to restrict listeners to certain routes in an application. For that it would be useful to listen to an event_disaptcher.pre_dis

[2021-11-30 11:12] mhujer commented on #44345
@alexander-schranz yes, commenting out the suggested lines fixes the issue (the listener is registered only once).

If anyone else is facing the similar issue, I added this as a workaround to my Kernel class and the tests are now passing:

[code]

[2021-11-30 11:26] larueli opened #44358 "composer req api fails with Symfony 6"
### Symfony version(s) affected

6.0

### Description

When running a brand new Symfony 6 project with symfony cli v4.26.9 php 8.0.13 and composer 2.1.14, composer can't install api platform

Have I missed something ? Am I in the right place for this issue ? Thanks for your help !

### How to reproduce

1. Create a new symfony project `symfony new --full --webapp --version="6.0" --php=8.0 test`
2.

[2021-11-30 11:37] stof commented on #44358
This is expected, because api-platform has not released a version supporting Symfony 6 yet (they are working on this).

You can follow the progress on their side (for instance by subscribing to https://github.com/api-platform/core/issues/4543 which seems to be the tracking issue AFAICT)

[2021-11-30 11:37] #44358 closed, assigned to nobody

[2021-11-30 11:39] larueli commented on #44358
Thanks ! sorry for the inconvenience !

[2021-11-30 11:50] yann-eugone commented on #44352
I have no issue with the implementation (it's already done).

I understand that you see no benefit on this feature.
This is why I closed the issue.
Again, I don't like named bindings, this is the only benefit for me, but this is enough IMO.

[2021-11-30 12:05] alexander-schranz commented on #44345
@mhujer Thank you for testing this out. So we should make sure that only one session listener is registered.

@jderusse What do you think that we alias `session_listener` to `test.session.listener` then there should only be one listener? Maybe doing it after here: https://github.com/symfony/symfony/blob/60ce5a3dfbd90fad60cd39fcb3d7bf7888a48659/src/Symfony/Bundle/FrameworkBundle/DependencyInjection

[2021-11-30 12:07] alexander-schranz commented on #44345
@mhujer Can you give https://github.com/symfony/symfony/pull/44359 a try?

[2021-11-30 12:25] mmarton commented on #44355
I had the same issue, I tought because I moved to attributes + new bundle structure on my bundles. Addig the mapping info into my doctrine config solved it for me:

[code]

[2021-11-30 12:34] gjuric commented on #44342
I've managed to create a [reproducer](https://github.com/gjuric/symfony_5_4_bug/) and I've updated the issue with additional context.

[2021-11-30 12:40] lyrixx commented on #42620
It's up to you. This is not an issue to support feature on one dumper only.

I don't really know. What would be the best for you as a user?

Note: IIRC, this has already been discussed  in a previous PR. I let you search for it :)

[2021-11-30 13:06] Warxcell commented on #41227
Yes.

[2021-11-30 13:10] aless673 opened #44362 "Deprecation about provider for custom_authenticators"
Hi, i have multiple authenticators written with the new Auth manager system, here a part of my security.yaml config

[code]

I have deprecation since symfony 5.4

`Since symfony/security-bundle 5.4: Not configuring explicitly the provider for the "custom_authenticators" listener on "main" firewall is deprecated because it's ambiguous as there is more than one registered provider`

I don't have pro

[2021-11-30 13:13] stof commented on #44362
can you give the full SecurityBundle config ?

[2021-11-30 13:50] ricohumme commented on #44123
Any update to reproducing this error ?

[2021-11-30 14:07] ro0NL commented on #44357
Checking the route from a listener directly sounds more intuitive to me.

[2021-11-30 14:16] xabbuh commented on #44123
I didn't have the time yet to dig deeper into it.

[2021-11-30 14:18] aless673 commented on #44362
i can give it but maybe am i missing something ?

https://github.com/symfony/symfony/blob/v5.4.0/src/Symfony/Bundle/SecurityBundle/DependencyInjection/SecurityExtension.php#L705

is this deprecation really wanted for the custom_authenticators key ?

[2021-11-30 14:22] stof commented on #44357
And this is probably better for performance, as it allows to keep the pre-sorted list of listeners (sorted at build time) instead of having to sort the list again when dispatching the event due to mutating the list.
Also, dispatching another event before each event might also have a performance impact due to doing more work.

[2021-11-30 14:26] sdespont commented on #44256
Same error today with Symfony 4.4.35 and PHP 7.4.25 at Infomaniak webhost.

[2021-11-30 14:29] acantepie commented on #44355
Yes, you have to manually add mapping of bundle on doctrine.yaml now...

[2021-11-30 14:29] nicolas-grekas commented on #44256
@sdespont please provide a reproducer so we can investigate.

[2021-11-30 14:48] boenner opened #44363 "[Serializer] Make document type nodes ignorable when decoding XML"
### Symfony version(s) affected

4.4, 5.3, 5.4, 6.0

### Description

When decoding XML using the `XmlEncoder`, ignoring the document type node with the `decoder_ignored_node_types` option is not possible.

### How to reproduce

Using the `XmlEncoder` with the document type node included in the ignore nodes

[code]

throws a `NotEncodableValueException` because `Document types are not allowed`.

#

[2021-11-30 14:50] dimiceli commented on #44357
Ok @ro0NL @stof , you've convinced me that's a bad idea. Mainly for performance reasons.

I think the event dispatcher is very powerful to separate responsibilities but sometimes can be a bit dangerous. Because when we add a route there can be a lot of things done by a listener without the developer being aware of it.
I had this experience professionally.

[2021-11-30 14:55] ro0NL commented on #44357
it's the cost of event-driven development. I dont think `event_disaptcher.pre_dispatch` improves that in any way.

[2021-11-30 15:00] #44357 closed, assigned to nobody

[2021-11-30 15:03] jderusse opened #44364 "Typehinted properties on missing class with preloading"
### Symfony version(s) affected

6.0

### Description

I'm using `Symfony\Bridge\Twig\Mime\BodyRenderer` without `League\HTMLToMarkdown\HtmlConverter`.
The code in the constructor allows me to do that.

But in production, with preloading, I'm facing an issue:

[code]

I believe that typehinted property HAVE to be loadable when preloaded

edit: same for `Predis\ClientInterface` in `Symfony\Componen

[2021-11-30 15:04] seb-jean opened #44366 "Add Native Return Types"
### Symfony version(s) affected

6.0

### Description

Hi,
I'm on Windows.
I made the command "vendor\bin\patch-type-declarations.bat" but I have errors:

[code]

### How to reproduce

Type  command "vendor\bin\patch-type-declarations.bat"

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-30 15:14] xabbuh commented on #44316
Status: Reviewed

[2021-11-30 15:23] tacman opened #44367 "Installing stimulus 3 fails (stimulus-bridge)"
### Symfony version(s) affected

5.4

### Description

Installing Stimulus 3 throws an error that stimulus needs to be installed.

### How to reproduce

To reproduce:

[code]

Stimulus 3 installs, but yarn encore dev gives the unusual error:

[code]

Explicitly installing version 2 works okay.

Perhaps a version of encore or something is out of date?

### Possible Solution

_No response_

### Addi

[2021-11-30 15:29] apfelbox commented on #44355
@mmarton adding it manually works, but this issue is explicitly about not needing to do that. 😉

[2021-11-30 15:37] mmarton commented on #44355
@apfelbox I know, it meant to be a temporary solution if you don't want to downgrading dependencies

[2021-11-30 15:37] xabbuh commented on #44355
Could this be related to #43181?

[2021-11-30 15:39] stof commented on #44367
Closing in favor of https://github.com/symfony/stimulus-bridge/issues/52 which is in the right repo

[2021-11-30 15:39] #44367 closed, assigned to nobody

[2021-11-30 15:52] yspef commented on #44355
Same happens with VichUploaderBundle ... the Vich\UploaderBundle\Entity\File is not longer recognized (works with doctrine-bridge 5.3) unless it is manually configured.

[2021-11-30 16:00] #44353 closed, assigned to nobody

[2021-11-30 16:01] martinssipenko opened #44369 "Lock table not create automatically"
### Symfony version(s) affected

5.4.0

### Description

Symfony version 5.4.0 introduced a new `Symfony\Component\Lock\Store\DoctrineDbalStore` which should be used instead of `Symfony\Component\Lock\Store\PdoStore`. In contrast to `PdoStore`, the new `DoctrineDbalStore` no longer creates the lock table automatically in case it does not exist.

### How to reproduce
[code]

[2021-11-30 16:06] fox34 commented on #41797
What's the opinion of the maintainers on this topic? If the idea is generally endorsed, I could start working on a full implementation + test + pull request.

[2021-11-30 16:54] nicolas-grekas commented on #43021
Now closing as resolved, thanks to everyone involved!

[2021-11-30 16:54] #43021 closed, assigned to nobody

[2021-11-30 16:56] nicolas-grekas commented on #44366
Please provide a reproducer that someone else could locally. Alternatively, can you figure out the issue?

[2021-11-30 16:57] nicolas-grekas commented on #44356
Could you please investigate and try to figure out a fix?

[2021-11-30 16:59] nicolas-grekas commented on #44348
We could also limit the number of test cases displayed in the report. There is not point in listing them all, eg only the 10 most triggering ones could be displayed (per deprecation message, since I suppose the number of unique deprecation messages is quite low, isn't it @garak?)

[2021-11-30 17:02] nicolas-grekas commented on #44364
I guess so. @nikic is that correct?

Works for me. The alternative is to ignore these warnings.
Or maybe even to silence them: Unless you're actually working on increasing the ratio of preloaded classes, preload time warnings are not that useful. WDYT? Up to giving it a try?