[2021-06-14 09:57] #41691 closed, assigned to nobody

[2021-06-14 09:59] stof commented on #41691
@adam314315 you should also consider using the built-in Bootstrap themes, as the Symfony community already took care of the work.

[2021-06-14 10:22] adam314315 commented on #41691
Ok. Can you share the link to start looking at the built-in Bootstrap themes?
Are you referring to this documentation : https://symfony.com/doc/current/form/bootstrap4.html

[2021-06-14 10:36] xabbuh commented on #41691
Yes, that document should help you getting things running.

[2021-06-14 10:38] fancyweb commented on #41690
I can agree on the idea but I am not sure about the execution because I think we would need at least one option: to be able to restrict the accepted input format(s) (eg: accept `/frog/017a0a11-838f-41b1-fa7e-5b5566f08cbd` but not `/frog/1BaRufbM9LrGKdQGfoKu4G`).
Also, IIRC @OskarStark you extend Symfony's ULIDs with your own domain class (eg: `class ProductId extends Ulid`), so we would also need

[2021-06-14 10:57] sabat24 commented on #41580
Yes. I will try to create a PR at the end of this week.

[2021-06-14 10:59] sabat24 commented on #41542
I haven't found a clean solution, yet. Need to check what was changed in phpUnit. If I find a solution I will create a PR.

[2021-06-14 11:35] kskrzypkowski commented on #41620
https://github.com/kskrzypkowski/symfony-uuid-issue

[2021-06-14 11:55] PhilETaylor opened #41697 "TypeError on using getUserIdentifier of UserNotFoundException Exception"
**Symfony version(s) affected**: 5.3.1

**Description**

My exact case:
Upgraded to 5.3.1 from earlier version of Symfony, on a production app that has a very long session time and so some users are coming back after not visiting for a while. I forget, I may have changed some session settings too :-( sorry to be vague, but when user returns the firewall is trying to refresh the user (/vendor/symfo

[2021-06-14 12:59] jvasseur commented on #41690
@fancyweb Argument value resolvers can have options since https://github.com/symfony/symfony/pull/37829 I think the long term goal is to completely remove param converters in favor of argument resolvers, we just have a bit more work to do to be there.

[2021-06-14 13:05] fancyweb commented on #41690
But can we make a feature that works only with PHP8 on 5.4?

[2021-06-14 13:07] stof commented on #41690
The case of custom child classes does not require an attribute-based configuration: argument resolvers have access to the typehint to choose the class.

[2021-06-14 13:35] stof commented on #41689
this regex indeed looks outdated, as the lower-level API works fine with `iterable`

[2021-06-14 13:38] tscni opened #41698 "[EventDispatcher] Question about RemoveListenersPass configurability in 6.0"
**Symfony version(s) affected**: 5.3, 6.0

**Description**
Not specifically a Bug report but more of a question about a change.

https://github.com/symfony/symfony/pull/40468 and https://github.com/symfony/symfony/pull/41358 deprecated / remove configurability from EventDispatchers RegisterListenersPass. The default configuration is a bit specific to the FrameworkBundle though (e.g. requires the `

[2021-06-14 13:45] AEdV commented on #39511
Hello,
I have the same problem and the above solution did not work for me ; I'm working with Symfony 5.3.
Does anyone have another idea?

[2021-06-14 13:50] karaka200 opened #41699 "Problem after Upgrade to 5.3.1"
Hi I make an entity user and use username for login ( Username must be 8 digits ):

src\Entity\User.php
[code]

But when I hack codes and add `novalidate `to `<form>` and with empty username field, submit the form, this error show for me:

`Expected argument of type "string", "null" given at property path "username".`

When I use Symfony 5.2 this codes worked but when I upgrade to Symfony 5.3 this

[2021-06-14 14:01] dompie commented on #41671
This is deprecated in favor of using `entry_point` , isn't it?

[2021-06-14 14:02] xabbuh commented on #41699
Can you please show the code of your setter method in the `User` class?

[2021-06-14 14:06] karaka200 commented on #41699
[code]

`@Assert\NotBlank` and `@Assert\Regex` are not worked!

[2021-06-14 14:11] stof commented on #41698
@tscni in a world where auto-configuration is the expected DX rather than manually tagging services to register them, maintaining a separate service being an instance of the EventDispatcher is *significantly* worse than dispatching events in the `event_dispatcher` service registered by FrameworkBundle, because it requires registering listeners manually with a separate tag. That's why reusing the c

[2021-06-14 14:18] xabbuh commented on #41699
Your setter method does not allow `$username` to be `null`. You need to adapt it like this:

[code]

Alternatively, you can set the `empty_data` option to the empty string to let the Form component pass a string instead of `null`.

In any case, this is not an issue in the Form component, but in the code using it. Therefore, I am going to close here. Thank you for understanding.

[2021-06-14 14:18] #41699 closed, assigned to nobody

[2021-06-14 14:25] karaka200 commented on #41699
Thanks @xabbuh

But `@Assert\Regex` not worked and form valid!

[2021-06-14 14:25] StevenCarre commented on #30071
@enriquerene one year later thanks, it worked for me too. Cheers

[2021-06-14 14:28] xabbuh commented on #41699
Please create a small example application that allows to reproduce your issue.

[2021-06-14 14:35] stof commented on #41671
@dompie this `security.enable_authenticator_manager` setting is the one controlling whether the new security system is used instead of the old one. It is not replaced by `entry_point`

[2021-06-14 16:40] ro0NL commented on #25361
Meanwhile https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/707

at this point maybe just close along with #40571, and take a per-concept approach

[2021-06-14 16:49] holloway87 opened #41702 "[Security] Can't use custom password hasher"
**Symfony version(s) affected**: 5.3.1

**Description**
I want to use a custom password hasher for my project.  I can't find any documentation on how to configure it in the security.yaml.  I implemented the interface `UserPasswordHasherInterface` and configured it as described in here: https://symfony.com/doc/current/security/named_hashers.html
When i try a unit test to login my user, i get this e

[2021-06-14 17:03] stof commented on #41702
A custom hasher must implement PasswordHasherInterface, not UserPasswordHasherInterface (UserPasswordHasherInterface is the higher-level API for consuming the component with less boilerplate)

[2021-06-14 17:21] holloway87 commented on #41702
Thank you, when i switch to the `PasswordHasherInterface` interface it works.  The documentation is misleading then, since it says i have to use the `UserPasswordHasherInterface` (At the bottom of the page): https://symfony.com/doc/current/security/named_hashers.html
If you do that you get the error i mentioned above.

[2021-06-14 17:22] ludekbenedik opened #41704 "The configuration "framework.disallow_search_engine_index" with an environment variables not works"
**Symfony version(s) affected**: 5.3.1

**Description**

Hi, when I create an environment variable and use the variable in `framework.disallow_search_engine_index` then two problems occur:

1. Got exception: *Environment variables "not:ALLOW_ROBOTS" are never used. Please, check your container's configuration.*
2. If I fix the first problem by creating a fake parameter `parameters.fake: %env(not:A

[2021-06-14 17:24] derrabus commented on #41690
Yes!

[2021-06-14 17:27] derrabus commented on #41702
Indeed! Do you mind creating an issue (or better: a PR) over at https://github.com/symfony/symfony-docs/ ?

Closing because this is not a bug.

[2021-06-14 17:27] #41702 closed, assigned to nobody

[2021-06-14 19:07] trickeyone commented on #41046
@Pixelshaped I did find a _possible_ work-around. The issue with the CSRF token not being stored to the session seemed to stem from the fact that there wasn't a logged-in session. Since the Session service is being deprecated in favor of getting the RequestStack, then calling to get the Session from the RequestStack. The session from the RequestStack was simply the Session instance from the last R

[2021-06-14 19:54] Pixelshaped commented on #41046
That was one of my previous leads, thanks for posting your whole solution. Pretty sure it always throws in `ensureSessionIsAvailable()`, so you always get the session from `self::getContainer()->get('session')`. Couldn't make it work in my API Calls though, as it seems to unlog the user, but I haven't tested it thoroughly.

[2021-06-14 19:58] trickeyone commented on #41046
Yeah, the current project I'm working on is still in the early staging (hence my just working on the login atm), so I haven't gotten to test it with an authenticated user. However, if you call the `$this->client->loginUser(...)` before call ing to get the token, I think it might still work. If you test with this approach, let me know if it works or not.

[2021-06-14 22:06] allan-simon opened #41707 "Symfony 5.3: the csrf token is invalid on all form protected by CSRF when using "remember me""
**Symfony version(s) affected**: 5.3.1

**Description**

I've upgraded from Symfony 5.2 to 5.3.1 and since then, in production submitting any form protected by CSRF fail with

the csrf token is invalid. please try to resubmit the form

Even form not handle by me (for example I have EasyAdminBundle and they fail too)

**How to reproduce**

1. Install Symfony + EasyAdminBundle
2. for session I use

[2021-06-15 05:39] aschempp commented on #41666
I agree as well 😅 do you have a test case to create a PR or want me to try?

[2021-06-15 06:30] derrabus commented on #41707
Are you able to provide a reproducer application for us?

[2021-06-15 06:34] enzobrigati commented on #41707
Same things for me and I'm not using EasyAdminBundle...

[2021-06-15 06:35] sajixavier opened #41708 "Calling Languages::getNames() getting ResourceBundleNotFoundException"
Hi,

While calling Symfony\Component\Intl\Languages::getNames(), following exception is getting thrown. I have checked the vendor folder and it doesn't have 'root.php' file under languages folder. But the same file exists in currencies folder.

Uncaught exception 'Symfony\Component\Intl\Exception\ResourceBundleNotFoundException' with message 'The resource bundle "/srv/api/vendor/symfony/intl/Resou

[2021-06-15 06:38] derrabus commented on #41707
@Brigat0 Same question for you then. 🙃

[2021-06-15 07:20] CocoJr opened #41709 "Symfony Messenger - memory leak in dev environment"
**Symfony version(s) affected**: 5.2.*

**Description**
When I dispatch a lot of messages (let's say more than 1000) to the queue using doctrine transport, I got a memory leak.
I have already check others issues, some speack about the monolog vendor, and suggest to put the buffer size configuration, but this solution not work for me.

**How to reproduce**
Dispatch a lot of message in a dev environ

[2021-06-15 07:33] jderusse commented on #41709
Because in dev environment all operations are collected to be displayed in the DebugToolBar. ie Events are collected by the TracableEventDispatcher.

[2021-06-15 07:40] CocoJr commented on #41709
Thanks for your reply. Any solution to disable that in a specific part of code ?

[2021-06-15 09:00] wouterj commented on #41528
@guillaumesmo thank you for the reproducer! However, if I check it out locally and follow the instructions in the README, I don't see any memory leak: :confused:

[code]

[2021-06-15 09:56] bradjones1 commented on #40976
I don't necessarily think automatic support for custom installers is a requirement for marginal improvement here. I stumbled upon this issue by way of testing my Drupal application. By way of example, the "self" code in my case is anything in `web/modules/custom` in my repository, while Drupal installs modules (which are basically dependencies installed outside of `vendor/`) in `web/modules/contri

[2021-06-15 10:09] xabbuh commented on #41708
Can you create a small example application that allows to reproduce your issue?

[2021-06-15 10:11] bradjones1 commented on #34388
Related I think to https://github.com/symfony/symfony/issues/40976

[2021-06-15 11:04] mpdude commented on #41666
I have neither test case nor PR, stumbled across this when I investigated other bugs.

If you find the time to work on this before me, leave a note here 📨?

[2021-06-15 11:19] sstok commented on #41528
FYI. PHP isn't run through Docker, so it might be related to one more extensions or how your set-up is configured.
Anything from Opcache to a different PHP version (with a bug itself) might be the culprit here.

[2021-06-15 11:35] guillaumesmo commented on #41528
Indeed, I just tested with PHP 8.0.7 and cannot reproduce it either, while the same causes memory leaks in PHP 7.4.20, so I guess we can assume this is a PHP issue instead

it was misleading that the issue was only happening for `enable_authenticator_manager: true`

in the meantime, I was able to reduce memory usage of the tests by using the new KernelBrowser::loginUser helper

[2021-06-15 12:35] enzobrigati commented on #41707
I found what is going on.
It happens when the prod is in HTTP, if you're using HTTPS CSRF are working

[2021-06-15 12:48] allan-simon commented on #41707
interesting on my side  the production is in https, but it's true my dev environment is not

[2021-06-15 12:49] allan-simon commented on #41707
@derrabus  I will try to make one

[2021-06-15 12:51] Abdull commented on #34950
I'm lost. How to do it correctly?

Transitively following the referenced issues and pull requests, I still couldn't figure out how to do it correctly.

I happened to run into *this reported issue* using the current documentation https://symfony.com/doc/current/components/dom_crawler.html and current latest release `v5.3.0`.

[2021-06-15 13:13] plandolt commented on #35135
Just ran into the exact same thing. I am using the `Country` FormType with the default value of "CH" and defined the surrounding countries as `preferred_choices` including "CH" itself.

But instead of having the "CH" option in the `preferred_choices` selected it has the one in the whole list selected. This makes the `preferred_choices` basically useless as the user needs to scroll to the top to ev

[2021-06-15 13:18] smilesrg opened #41715 "Testing standalone bundle - got 'Could not find service "test.service_container".'"
I'm writing a standalone bundle and trying to test it. But got an error:

`LogicException: Could not find service "test.service_container". Try updating the "framework.test" config to "true".`

I couldn't find anything in the documentation related to this error. How can I fix that?

UPD: I tried obvious solution by creating `config/config_test.yml` and even renamed extension to `.yaml` but it didn

[2021-06-15 13:20] stof commented on #41704
this setting indeed does not support env placeholders, because its effect applies at compile time (adding an event listener when set to `true`).
Making it a runtime configuration would require registering the event listener in all Symfony projects

[2021-06-15 13:21] sajixavier commented on #41708
Hi,

I did the following :

composer create-project symfony/skeleton bookshop-api

cd bookshop-api\

composer require api

composer require symfony/intl

Add a controller

[code]

Go to  symfony\intl\Data\Bundle\Reader\PhpBundleReader.php
var_dump $fileName after line number 31.

You should see "bookshop-api\vendor\symfony\intl/Resources/data/languages/root.php" and it will throw ResourceBundleNot

[2021-06-15 13:57] xabbuh commented on #41715
Can you create a small example application that allows to reproduce your issue?

[2021-06-15 13:58] smilesrg commented on #41715
Sure, you can check out this https://github.com/inspector-apm/inspector-symfony/tree/0b5af59e85766f33fa5045bccc8c1929587bd4d8 and try to launch tests

[2021-06-15 14:06] Nyholm commented on #41704
Oh, that is interesting. Thank you @stof

So the "disallow_search_engine_index" requires an event listener to work. To be more performant, Symfony only register this event listener when `disallow_search_engine_index: true`. So Symfony needs to know at build time if `disallow_search_engine_index` is true or not. But all environment variables are evaluated at runtime.

This is why we cannot use envi

[2021-06-15 14:10] stof commented on #41704
@Nyholm that was already discussed in the past. the hard part is how to implement that in a BC way. If we consider that the default is that env placeholders are forbidden, it breaks BC (as bundles will not have the calls to allow them)

[2021-06-15 14:15] Nyholm commented on #41704
Sorry, I've missed that discussion.

What would happen if we consider the default that env placeholders are allowed?

[2021-06-15 15:04] nicolas-grekas commented on #41715
That's because in 5.3 we unconditionally use the `test.service_container` service to get the session.
This has been fixed on 5.4 in https://github.com/symfony/symfony/pull/41530, we might want to backport part of it.
PR welcome!

[2021-06-15 18:10] chaosben opened #41718 "[yaml] !!timestamp tag leads to ParserException"
**Symfony version(s) affected**: "symfony/yaml": "^5.3"

**Description**
Using the tag "!!timestamp" produces ```Symfony\Component\Yaml\Exception\ParseException```

**How to reproduce**
[code]

[2021-06-15 18:26] xabbuh commented on #41718
Where did you find the `!!timestamp` tag?

[2021-06-15 18:37] chaosben commented on #41718
In the output of the dig-command:
[code]

[2021-06-15 18:40] ro0NL commented on #41718
@xabbuh see https://yaml.org/type/index.html

[2021-06-15 21:15] xabbuh commented on #41718
That's the 1.1 spec, but the Yaml component targets 1.2.

[2021-06-16 06:02] ro0NL commented on #41718
You're right. I'm confusing types and schemas.

IIUC it currently hits https://github.com/symfony/symfony/blob/2fe4442a1a28ea0d78bfe8d00476229e84ccf19c/src/Symfony/Component/Yaml/Inline.php#L723-L724 whereas it shoult hit https://github.com/symfony/symfony/blob/2fe4442a1a28ea0d78bfe8d00476229e84ccf19c/src/Symfony/Component/Yaml/Inline.php#L742

[2021-06-16 06:25] xabbuh commented on #41718
The second code block is for custom tags. Those must be prefixed with one `!`.

The current behaviour indeed is the right one according to the 1.2 spec. Maybe you can tell thee command to export YAML 1.2 compliant output. But there is nothing we can do here. So I'm closing this issue. Thank you for understanding.

[2021-06-16 06:25] #41718 closed, assigned to nobody

[2021-06-16 07:52] YaFou commented on #41709
You can disable collecting events [here](https://symfony.com/doc/current/reference/configuration/framework.html#collect) @CocoJr.

[2021-06-16 10:31] Firtzberg opened #41721 "[DI] Decorate injected not shared service"
**Symfony version(s) affected**: 4.4.17, likely others

**Description**
Injected, not shared services cannot be decorated.

**How to reproduce**

Suppose the following service definitions with a shared service, a service which is not shared and a public service which depends on the other two. While the shared service can be easily decorated causing the public service to receive a decorated instanc

[2021-06-16 10:36] demyan112rv opened #41722 "[Validator] CardScheme Maestro regexp is ok for Discover/Laser"
**Symfony version(s) affected**: v5.2.6

**Description**
Maestro regexp in CardScheme validator is ok for Discover/Laser. Validation for these cards expected as fail

**How to reproduce**
[code]

Card numbers from:
http://support.worldpay.com/support/kb/bg/testandgolive/tgl5103.html
https://www.paypalobjects.com/en_AU/vhelp/paypalmanager_help/credit_card_numbers.htm

[2021-06-16 11:46] adrienlamotte opened #41724 "Authenticator - Multiple firewalls"
**Symfony version(s) affected**: 5.3

**Description**
I just migrated to the new authenticator manager and I have multiple firewalls for differents sections of my app.
Now when I'm logging in one of my firewalls, the user is authenticated in **ALL** of the firewalls. That was not the case before.
I want a separation between my FRONT and my CMS, so a user should not be authenticated in my FRONT if

[2021-06-16 14:20] Abdull commented on #40502
In our case, we require to have our HTML documents both be HTML5- and XHTML-compliant, as one of our downstream HTML document consumers expects XHTML.

Both `<br />` and `<br>` are valid in HTML5 ( https://stackoverflow.com/a/3558200/923560 ), but in XHTML only `<br />` is valid.

Therefore, choosing `<br />` makes sense when crafting HTML documents that shall both be parsable by HTML5 and XHTML p

[2021-06-16 14:37] Abdull opened #41725 "Crawler removes document type definition (doctype)"
**Symfony version(s) affected**:
`symfony/dom-crawler v5.3.0`.

Maybe relevant: `masterminds/html5 2.7.4` is also installed.

**Description**
Parsing an HTML document with `Crawler`, then retrieving the result, removes the leading document type definition, e.g. removes `<!DOCTYPE html>`.

**How to reproduce**

Taken from [`Crawler`'s own documentation](https://symfony.com/doc/current/components/do

[2021-06-16 15:10] stof commented on #41725
Well, getting the `outerHTML` of `document.documentElement` in your browser also does the same. A Crawler is a wrapper around a list of nodes (see what happens when using `->filter()` and so on) and the initial crawler when building from HTML is wrapping a list with a single element (the root node, i.e. `document.documentElement` in JS).
so I would not consider that a bug.

[2021-06-16 16:12] Abdull commented on #41725
Then what is the correct API of loading an HTML document, possibly manipulating it, then exporting it again, leaving doctype intact?

[2021-06-16 16:36] stof commented on #41725
Well, the DomCrawler use case was not actually to perform manipulation (which is why the Crawler API does not have any manipulation method btw). DomCrawler does not have an API to export the whole document.

[2021-06-16 16:39] stof commented on #37726
Closing this as the reproducer repo does not exist anymore, so there is no way to work on that bug anymore.

[2021-06-16 16:39] #37726 closed

[2021-06-16 17:10] derrabus commented on #26046
Idea:

[code]

[2021-06-16 19:12] #39500 closed, assigned to nobody

[2021-06-16 21:37] Crell opened #41726 "Split utilities from AbstractRecursivePass out to a trait for easier reuse"
**Description**

`Symfony\Component\DependencyInjection\AbstractRecursivePass` includes some very nice utility methods, namely `getReflectionMethod()` and `getConstructor()`.  We want to use those in TYPO3 (which uses Symfony DI), but extending `AbstractRecursivePass` to do something completely non-recursive seems wrong.

Those methods should be simple enough to split out to a trait, though, so th

[2021-06-17 05:23] antonmarin commented on #41468
Hi. Still receiving with
[code]
how to solve? is there smth like "symfony/framework-bundle": "5.3.1" ?

[2021-06-17 06:09] fabpot commented on #41528
Let’s close then

[2021-06-17 06:09] #41528 closed, assigned to nobody

[2021-06-17 07:04] Abdull commented on #41725
That wasn't clear to me from reading the current Crawler documentation and API. I expected `html()` and `outerHtml()` to output [either a valid XHTML or HTML5 document](https://softwareengineering.stackexchange.com/a/272220/50363), or at least to keep the output as close to the original input document as possible (compare https://github.com/symfony/symfony/issues/40502#issuecomment-862422261 ).

W

[2021-06-17 07:07] malteschlueter commented on #41468
@antonmarin I think the bugfix was merged one day after releasing `5.3.1`. So you have to wait for `5.3.2` or add `symfony/expression-language` to your composer requirements.

Please correct me if I'm wrong.

[2021-06-17 07:44] peteruu commented on #41322
Any help ?

[2021-06-17 07:44] stof commented on #41725
those methods are outputting the HTML of the node being selected in the crawler object.

[2021-06-17 08:49] wouterj commented on #41528
Thanks for checking @guillaumesmo! If you still have the memory leak, maybe you can try to replicate your environment (php version and modules) in a docker container. That would give us the biggest chance to have a reproducible memory leak

[2021-06-17 09:44] stof commented on #41726
This id is used in a read-only way in those methods, for error reporting. So when extracting an utility, it could receive the service id as argument.

[2021-06-17 09:48] AntonioCS commented on #37334
I've just been hit by this issue on a project running Symfony 5.2
[code]

Relevant data from `composer show`:
[code]

[2021-06-17 09:49] #41725 closed, assigned to nobody

[2021-06-17 10:13] xabbuh commented on #37334
We still need an example application that allows to reproduce this issue.

[2021-06-17 10:19] AntonioCS commented on #37334
@xabbuh Unfortunately I'm working on proprietary code so I can't share the whole application but the class where I'm seeing that is:

[code]

the traits are:

[code]

[code]

[code]

[2021-06-17 10:27] AntonioCS commented on #37334
Well.. I'm not sure this is related directly with this class..
I am serializing a bunch of classes.
Basically getting all `doctrine` entities (using: `$meta = $this->entityManager->getMetadataFactory()->getAllMetadata();`)
and then filtering the ones I want (based on association and certain fields).
I've just changed the code to JUST return the `Brand` class and the serializer had no issue with it

[2021-06-17 10:47] xabbuh commented on #37334
Well, without being able to reproduce it will not really be possible to fix the issue.

[2021-06-17 11:10] fancyweb commented on #41690
@logarytm Do you want to work on it?

[2021-06-17 12:08] #41715 closed, assigned to nobody

[2021-06-17 12:24] Khartir commented on #38398
I opened a PR to fix this by using the `auto_setup` option. @fabien007 would this be an acceptable solution for you?

[2021-06-17 13:09] samdark commented on #37884
@carsonbot likely yes.

[2021-06-17 13:26] bendavies commented on #39504
yes, this appears to still be an issue.

[2021-06-17 13:31] craue opened #41727 "Symfony 5.3: autoloader error with DoctrineTransportFactory"
**Symfony version(s) affected**: >= 5.3.0 (just tested 5.3.0, 5.3.1, 5.3.2-dev#9485292)

**Description**
While running tests with Symfony 5.3 I'm getting [this error](https://travis-ci.org/github/craue/CraueGeoBundle/jobs/774461271#L609):
`RuntimeException: The autoloader expected class "Symfony\Component\Messenger\Transport\Doctrine\DoctrineTransportFactory" to be defined in file "/home/travis/bu

[2021-06-17 13:32] AntonioCS commented on #37334
Well... it's not like it's only coming from me.... but yeah... great....

[2021-06-17 13:48] loevgaard commented on #41672
Hi @wuchen90

Here is what I just did to test your idea:

1. I ran the Behat (locally) right now to verify it still works (when I use SF5.2). It does
2. I removed the constraint on SF5.2 and I am now using SF5.3. I ran Behat (locally) again and it still works.
3. I ran `composer self-update` (it updated to `2.1.3`), removed the `vendor` dir, ran `composer update` and ran Behat and IT FAILED 🎉  wit

[2021-06-17 13:51] VincentChalnot commented on #37334
I had this issue not so long ago, I will try to reproduce it if I can.

[2021-06-17 13:53] #37884 closed

[2021-06-17 14:11] mmarton commented on #39499
No, it is still an issue, I figured out it is based on variable resolving: https://github.com/symfony/symfony/issues/40794

[2021-06-17 14:29] adpeyre opened #41729 "Idea: Use parameter in constraint validator"
Hi,

**Description**
Should be very nice if it was possible to use parameters in constraint validator directly.

**Example**

[code]

what do you think about this idea ?
Could this feature exist?

Thank you

[2021-06-17 14:33] n3o77 commented on #41130
@nicolas-grekas do you think it's possible to have some more checks to display a warning in logs or the profiler? Maybe even throwing an exception instead of a deadlock?

I'm asking because we recently had the same issue. We display some overall statistics which are gathered from more detailed statistics which both are in caches. Under the right circumstances we ran into the same deadlock problem

[2021-06-17 14:48] nicolas-grekas commented on #41130
Can you please try this patch and let me know if it work around the issue?
[code]

If yes, can you please submit it in a PR, with a test case ideally?

This is going to work only if you're using the Process component to launch subprocesses btw.

[2021-06-17 14:51] ro0NL opened #41730 "[RFC][Lock] Metadata aware locks"
Hi,

WDYT about using a cache or metadata aware store to create metadata aware locks?

The use case we have is to store a username along with the lock, to be leveraged in case the lock is acquired.

[2021-06-17 14:56] n3o77 commented on #41130
Sorry if i wasn't clear. This didn't happen to us in a process / command but through a controller action (calling different services which used the cache contract then in a nested manner).

Basically: `Controller` -> `Overall Statistics Service using cache contract` -> `Detailed Statistics Service using cache contract`

[2021-06-17 15:10] Matts opened #41731 "getRootAliases can be null in ORMQueryBuilderLoader"
**Symfony version(s) affected**: 4.4.25

https://github.com/symfony/doctrine-bridge/blob/6.0/Form/ChoiceList/ORMQueryBuilderLoader.php#L72

**Description**
**Somehow**, getRootAliases can return null. This causes issues on the line shown above in the ORMQueryBuilderLoader.
"current() expects parameter 1 to be array, null given"

This issue lays in symfony/form:4.4.25, in 4.4.19 this issue does not

[2021-06-17 15:10] nicolas-grekas commented on #41130
This is not supposed to happen, because a process cannot dead-lock itself. Please share a reproducer if you can!

[2021-06-17 15:13] stof commented on #41731
how is it related to the doctrine-bundle version ? It is not the one defining `QueryBuilder::getRootAliases`

[2021-06-17 15:13] wuchen90 commented on #41672
@loevgaard

I don't know the specific behavior behind whether the function `asset` is available or not.
But I know this is related to https://github.com/symfony/symfony/pull/40140.
This PR uses a method called `ContainerBuilder::willBeAvailable()` to activate or deactivate features (surely `symfony/asset` is impacted).
The issue with this PR is this method uses a new behavior of a method in `compo

[2021-06-17 15:14] Matts commented on #41731
Euh derp. I was still researching and accidently pressed Submit Issue.

[2021-06-17 15:18] stof commented on #41730
to be leveraged for what ?

[2021-06-17 15:18] xabbuh commented on #37334
@AntonioCS PR welcome from anyone experiencing the issue if you have an idea how to fix this.

[2021-06-17 15:28] ro0NL commented on #41730
as far as i can see now, it's for displaying purpose mostly. To show if an item is locked yes/no and by who.

Theoretically we could store it in ORM,  but ideally we bind to a specific lock context (given an item can have many locks for various purposes).

[2021-06-17 15:34] n3o77 commented on #41130
I'll try to reproduce it in the next days. But it wasn't that the same process was blocking itself rather than another request which then caused the lock. Basically the same as the example from @bvklim with the command but on different apache processes. Sorry for not having more details for now. I've deployed calling `LockRegistry::setFiles([])` in `Overall Statistics Service` ~6 days ago and sinc

[2021-06-17 16:18] ro0NL commented on #41726
i tend to prefer `ContainerBuilder::getReflectionMethod` (given we have getReflectionClass already),

for getConstructor i'd be fine with `getReflectionMethod($d, '__construct)` as well

im not sure we should force users to discover a trait first

[2021-06-17 16:33] ro0NL commented on #41687
sounds reasonable :+1:  http://www.yamllint.com/ does the same

[2021-06-17 16:45] ro0NL commented on #41704
ref #28896

[2021-06-17 17:21] Crell commented on #41726
Currently, `getReflectionMethod()` subcalls to `getConstructor()` if the method is a constructor.  I don't really understand why, frankly, but I wasn't going to mess with that logic and leave it essentially intact.  Someone had a reason for doing all that extra work for constructors, but didn't document it obviously.

Moving the logic to `ContainerBuilder` seems better though, I agree, since it's

[2021-06-17 19:18] gnutix opened #41733 "FactoryTrait has a wrong type hint for the factory() method"
**Symfony version(s) affected**: 5.3.2

**Description**
When using PHP configuration files and the `->factory(service(SomeClass::class))` syntax, PHPStan will trigger an error :

[code]

**Possible Solution**
`\Symfony\Component\DependencyInjection\Loader\Configurator\AbstractConfigurator` should be added to `\Symfony\Component\DependencyInjection\Loader\Configurator\Traits\FactoryTrait::factory`

[2021-06-17 19:22] metaer commented on #41697
I have this issue too

[2021-06-17 19:48] 99hops opened #41734 "HttpClient scoped_clients scope does not match by URL"
**Symfony version(s) affected**: 5.3 (tested)

**Description**
When injecting `HttpClientInterface` without respect to `scoped_clients` name definition (ex. $someApi) or by using `HttpClient::create()` **scope** URL does not match when making calls and additional parameters are not applied.
For example if `HttpClientInterface $client` is injected into class constructor and then used to make calls

[2021-06-18 07:37] fancyweb commented on #41734
Status: works for me

`HttpClient::create();` creates a new instance so it's normal.

When you use `HttpClientInterface $httpClient`, I think you get the "default" (created by FrameworkBundle) http client, not your scoped client.

[2021-06-18 07:45] xabbuh commented on #41731
Looking at the code (https://github.com/doctrine/orm/blob/2.9.x/lib/Doctrine/ORM/QueryBuilder.php#L460-L476) I do not really see how that method can return `null`.

[2021-06-18 07:55] Matts commented on #41731
Me neither. I have been breaking my head over this for the past 2 days! Some how it is possible, because otherwise I would not be getting this error. Just cannot pinpoint WHERE. This happened after runnning composer update. These are my updates:

-snip-

[2021-06-18 07:58] xabbuh commented on #41697
see #41740

[2021-06-18 07:59] xserrat commented on #35129
Hi, I think that this issue is related to this one https://github.com/symfony/symfony/issues/30463 . I have the same issue trying to change part of the `messenger.yaml` (adding the argument `x-message-ttl` in the test env) config in another environment. Is there any way to only set those fields that differs?

[2021-06-18 08:11] Matts commented on #41731
Attempting to rollback doctrine dependencies, did not fix the issue

composer require "doctrine/doctrine-bundle:2.2.3" "doctrine/doctrine-migrations-bundle:3.0.2" "doctrine/migrations:3.1.0" "symfony/doctrine-bridge:4.4.19" "doctrine/dbal:2.12.1" "doctrine/inflector:1.4.3" "doctrine/cache:1.10.2" "doctrine/annotations:1.12.1" "symfony/security-acl:3.1.1" -W

- snip -

[2021-06-18 08:21] Matts commented on #41731
After reverting symfony/config symfony/form and uninstalling the php81 polyfill it works. Gonna do a little more research

[2021-06-18 08:26] Matts commented on #41731
The issue lays in symfony/form:4.4.25. When reverting that to 4.4.19 this issue does not occur.

https://github.com/symfony/form/compare/v4.4.19...v4.4.25

current() expects parameter 1 to be array, null given
 /var/www/vendor/symfony/doctrine-bridge/Form/ChoiceList/ORMQueryBuilderLoader.php:69
 /var/www/vendor/symfony/doctrine-bridge/Form/ChoiceList/DoctrineChoiceLoader.php:140
 /var/www/vendor/s

[2021-06-18 08:35] xabbuh commented on #41731
Can you create a small example application that allows to reproduce your issue?

[2021-06-18 08:36] gaetan-petit opened #41742 "Class incompatiblity between symfony/proxy-manager-bridge and laminas/laminas-code"
**Symfony version(s) affected**: 3.4.49

**Description**
Updating dependencies through composer cause incompability with laminas/laminas-code

**How to reproduce**
Running `composer update` with package requiring `ocramius/proxy-manager` like `symfony/proxy-manager-bridge`

**Possible Solution**
As discussed with @Ocramius in https://github.com/laminas/laminas-code/issues/89

seems to use `zendfra

[2021-06-18 08:43] Ocramius commented on #41742
Also relevant:

 * Installing `laminas/laminas-zendframework-bridge`, at the cost of a
performance penalty
 * Adding `maglnet/composer-require-checker` to CI runs: catches these
relatively standard issues

On Fri, Jun 18, 2021, 10:37 Gaëtan Petit ***@***.***> wrote:

[2021-06-18 08:43] xabbuh commented on #41708
I am not sure I understand this part. While it is true that the exception is thrown it is also caught right after and will be discarded. So, is there a real issue that we need to solve here?

[2021-06-18 08:55] #41697 closed, assigned to nobody

[2021-06-18 09:02] 99hops commented on #41734
@fancyweb Right, I agree with both statements but then what's the point of having a "scope" that matches by URL if it can't be used in that manner (like in the example link)? How am I supposed to get advantage of this scope option, say I want to have 50 scoped clients in microservice env that I don't want to inject and apply different options to them when making a call just by matching the scope e

[2021-06-18 09:18] nicolas-grekas commented on #41742
Thanks for the report.
3.4 is not maintained anymore so I'm going to close.
This issue has been fixed in 4.4 by using `friendsofphp/proxy-manager-lts` instead of `ocramius/proxy-manager`.
You should be able to do so in a 3.4 app also.

[2021-06-18 09:18] #41742 closed, assigned to nobody

[2021-06-18 09:23] Ocramius commented on #41742
The problem exists also in mainline:

https://github.com/symfony/symfony/blob/c71c8727cc665c9e9b56e299fcfcc0adfbf02bac/src/Symfony/Bridge/ProxyManager/composer.json
https://github.com/symfony/symfony/blob/c71c8727cc665c9e9b56e299fcfcc0adfbf02bac/src/Symfony/Bridge/ProxyManager/LazyProxy/PhpDumper/LazyLoadingValueHolderGenerator.php

The dependency to `laminas/laminas-code` is not declared.

I know

[2021-06-18 09:37] sajixavier commented on #41708
I was upgrading the symfony application to 5.3. After deployment,  NewRelic started showing this as "Uncaught exception" and thought I did something wrong in configuring the component. If this is an expected exception then I guess it is ok.

[2021-06-18 09:38] gaetan-petit commented on #41742
No you can't as several dependencies are directly requiring on `ocramius/proxy-manager`.
I know that 3.4 is approaching EOL, but if it's has simple as updating dependencies could you consider it?

[2021-06-18 09:42] xabbuh commented on #41708
I wonder why this exception makes it to NewRelic at all since the exception is caught in the calling code. Are you sure that the behaviour can be observed with the exact example that you created?

[2021-06-18 09:43] xabbuh commented on #41687
Sounds reasonable to me as well. @Ostrzyciel Are you up to give this a try (against the `5.4` branch)?

[2021-06-18 09:48] Ostrzyciel commented on #41687
Yeah, I'll have a go at it next week. Thanks for the comments.

[2021-06-18 09:50] xabbuh commented on #41637
closing as explained by @stof

[2021-06-18 09:50] #41637 closed, assigned to nobody

[2021-06-18 09:50] xabbuh commented on #39176
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-06-18 09:50] #39176 closed, assigned to nobody

[2021-06-18 09:51] xabbuh commented on #41618
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-06-18 09:51] #41618 closed, assigned to nobody

[2021-06-18 10:11] martinhartmann commented on #39255
Well of course it's at least undesired behavior.

[2021-06-18 10:14] nicolas-grekas commented on #41742
actually `friendsofphp/proxy-manager-lts` "replaces" `ocramius/proxy-manager` from a composer pov, so it really works even if deps directly require it.

We have to draw a line and stick to it, that's been annouced years ahead...

[2021-06-18 10:18] AntonioCS commented on #37334
@xabbuh What I've determined so far is that only doctrine proxy classes cause the issue. That is why when I returned only the `Brand` class the issues didn't occur, because doctrine gave me the real entity and not a proxy

[2021-06-18 11:26] sajixavier commented on #41708
Let me double check it.

[2021-06-18 11:48] gaetan-petit commented on #41742
Can't do that either it requires `symfony/filesystem ^4.4.17|^5.0|^6.0` and it's incompatible with a 3.4 application.

I understand, we're actually just a step from switching to 4.4. It's just that it'll clearly break many 3.4 from updating dependencies (including possible security update).

[2021-06-18 11:52] wouterj commented on #41742
That's the risk of using a version that reached end of life 8 months ago. There is not much we can do I'm afraid (apart from fixing the bug in currently maintained versions if it's there).

[2021-06-18 11:54] nicolas-grekas commented on #41742
@gaetan-petit indeed, good luck with the upgrade! I realized there is one more thing you can do, which is to stick to laminas/laminas-code < 4.4, which is the version that introduced the change you're seeing.

[2021-06-18 11:57] gaetan-petit commented on #41742
Thanks @wouterj (I guess) but in my previous post I said that we're actually finishing the migration.

[2021-06-18 12:10] beberlei commented on #41742
@gaetan-petit You can fix that yourself by adding `class_alias` calls for laminas code to zend code.

I used this temporary fix:

[code]

[2021-06-18 13:13] #39130 closed, assigned to nobody

[2021-06-18 16:10] sajixavier commented on #41708
I have tried below cases. Not sure why it is showing error for php 7.4

case 1: **No error in newRelic**
--------------------
Composer version : 2
Symfony : 5.3
php : 7.2.5

case 2:  **Error in newRelic**
--------------------
composer version : 2
symfony : 5.3
php : 7.4.19

[code]

[2021-06-18 18:18] Warxcell commented on #41727
Got something similar here: https://travis-ci.org/github/Warxcell/files/jobs/773978302

`ReflectionException: Class Symfony\Component\Messenger\Bridge\Amqp\Transport\AmqpReceivedStamp does not exist`

Not sure if it's connected.

[2021-06-18 19:24] Crell commented on #41726
So is that a `yay` on me filing an appropriate PR?

[2021-06-19 05:48] d1mond opened #41745 "[ErrorHandler] ThrowableUtils::getSeverity doesn't work with SilencedErrorContext"
**Symfony version(s) affected**: 4.4 - 6.0

**Description**
When we create new instance ```ErrorHandler``` with ```BufferingLogger``` and then attach logger via ```ErrorHandler ::setLoggers``` and ```BufferingLogger``` contains ```SilencedErrorContext``` - we are getting error ```Argument 1 passed to Symfony\Component\ErrorHandler\ThrowableUtils::getSeverity() must implement interface Throwable, i

[2021-06-19 07:50] YaFou commented on #39519
Can you provide your `pathtomyxml.xml` file?

[2021-06-19 11:50] ThomasLandauer opened #41746 "[Mailer] Disable verify_peer by default when using localhost URL"
**Description**

Right now, Mailer tries to verify the mail server's certificate by default. I'm suggesting to disable this if a localhost mailer URL is used.

My scenario:
I'm running the mail server on the same machine. It does have a valid certificate and supports STARTTLS. However, when using `MAILER_DSN=smtp://127.0.0.1:25` as a connection string, verifying the certificate can *never* work (r

[2021-06-19 13:53] xabbuh commented on #41708
Do you experience the same with other PHP 7.4 releases (especially the latest 7.4.20)?

[2021-06-19 14:13] simPod commented on #31614
86

[2021-06-19 15:44] Warxcell opened #41748 "[Serializer] Class "Symfony\Component\Messenger\Bridge\Amqp\Transport\AmqpReceivedStamp" does not exist"
**Symfony version(s) affected**: 5.3.*, 5.4.*

**Description**
Caused by
ReflectionException: Class "Symfony\Component\Messenger\Bridge\Amqp\Transport\AmqpReceivedStamp" does not exist

**How to reproduce**
Download https://github.com/Warxcell/files and run tests.

**Possible Solution**
Move https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Messenger/Middleware/RejectRedeliveredMes

[2021-06-19 16:13] apfelbox commented on #39184
@carsonbot not yet.

[2021-06-19 20:45] 99hops commented on #41734
Here is what I am trying to achieve in the end

[code]
[code]
Result is **custom-header: '1234'** not send. Now if HttpClientInterface `$someClient` is injected everything is fine.
My question is how does one inject *generic* client that applies options (headers in this case) just by  matching the scope, is this doable or I am doing something wrong?

Long story short I am trying to make a chained

[2021-06-19 21:27] baetensc commented on #41631
any news on this ?

[2021-06-20 07:29] mojtaba-nematpour opened #41752 "Authentication dosent keep user"
So the point is I wanna create a login for my admin so I create it entity \App\Entity\Admin, controller AdminController, and authenticator AdminLoginAuthentication, and it guard and access-point in security config.

When I log in via 'admin.1@yahoo.com' the login success and redirects to admin_dashboard but the point is authenticator doesn't keep the credentials and the access-point redirect back

[2021-06-20 07:59] xabbuh commented on #41752
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2021-06-20 07:59] #41752 closed, assigned to nobody

[2021-06-20 12:20] dbrumann opened #41753 "[Security] UserPasswordHasherInterface requires getSalt(), not on PasswordAuthenticatedUserInterface"
**Symfony version(s) affected**: 5.3.2 (probably since 5.3.0)

**Description**
When using the `UserPasswordHasherInterface` with a User implementing the `PasswordAuthenticatedUserInterface`, but not the `UserInterface` you might run into the following error:

[code]

**How to reproduce**
1. Create a user implementing the `PasswordAuthenticatedUserInterface`:
[code]

2. Create a new user and call t

[2021-06-20 13:06] keichinger commented on #34965
Yes, please :)

[2021-06-20 14:23] LaurentMarquet commented on #16006
Hi (again) Carson ;)
There's no workaround, 410 should not throw an exception but act as a regular end of the request :)

[2021-06-20 15:39] popovserhii commented on #34965
Me too.

[2021-06-20 16:38] giudicelli opened #41756 "Missing implementation in symfony/amqp-messenger"
**Symfony version(s) affected**: 5.3.0

**Description**

Missing implementation in symfony/amqp-messenger.

Symfony\Component\Messenger\Bridge\Amqp\Transport\AmqpTransport  should implement Symfony\Component\Messenger\Transport\Receiver\QueueReceiverInterface since its receiver actually implements it...

Right now the new "--queues" option is not usage with "messenger:consume" when using AMQP...

[2021-06-20 17:31] bohwaz commented on #32182
Yes, still relevant, stop trying to avoid issues.

[2021-06-20 18:41] OskarStark commented on #41756
cc @lyrixx IIRc you provided this feature?

[2021-06-20 19:19] giudicelli commented on #41756
https://github.com/symfony/amqp-messenger/pull/3

[2021-06-20 19:55] YaFou opened #41757 "[Security] Validating a CSRF token in the test environment doesn't work"
**Symfony version(s) affected**: 5.3

**Description**

Generating a CSRF token in a test and check if it is valid doesn't work.

[code]

[code]

**How to reproduce**

[Reproducer](https://github.com/YaFou/symfony-csrf-test)

**Possible Solution**

I will search one and open a PR if needed

**Additional context**

Is related to #41046

[2021-06-21 06:33] sajixavier commented on #41708
Yes it is same for 7.4.20

[2021-06-21 06:52] xabbuh commented on #41708
Can you try to debug a bit yourself why the exception isn't caught with that setup? I am a bit lost here as I really do not see why this could happen.

[2021-06-21 06:56] sajixavier commented on #41708
Sure will do. Thanks for your time.

[2021-06-21 06:57] #41748 closed, assigned to nobody

[2021-06-21 07:01] yann-eugone commented on #41757
I ran into the same issue (I think).
I've found that the code responsible for the issue is : [SessionTokenStorage::getSession](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Security/Csrf/TokenStorage/SessionTokenStorage.php#L135).
The thing is that at the moment we are generating the token (beginning of a web test case) the request stack is empty.

The workaround proposed in #4

[2021-06-21 07:49] YaFou commented on #41757
A possible solution is to inject a false request in the request stack during tests but it seems to be weird. I don't know how to fix it properly...

[2021-06-21 08:01] yann-eugone commented on #41757
Yeah, but if you inject a fake request during the test, it will become the "main request"... The test might have unexpected results.

Maybe something like

[code]

will do the trick, but this is...

-----

edit, I tried, and no this is will not be a workaround solution (csrf still invalid, even when providing request session object)

[2021-06-21 08:10] wouterj commented on #32182
@bohwaz are you up to fixing the issue?

[2021-06-21 08:15] apfelbox commented on #25738
Yes

[2021-06-21 08:39] wouterj commented on #25738
Is someone up for a PR?

The bot is a sign that progress on this issue has stalled, which is never a good sign for a feature request

[2021-06-21 08:45] benjamin-aubry commented on #29030
This bug is still relevant in version 5.3 with the test above.

I tried to fix it but couldn't manage to keep BC and didn't have enough time to go futther...

[2021-06-21 08:59] wouterj commented on #29030
@benjamin-aubry if you have some time, you may open a PR with "WIP" (Work In Progress) in the title. We're happy to help you with keeping BC :)

[2021-06-21 09:32] derrabus commented on #29030
Looking at the code, I'd say the actual bug is that the default context is not taken into account when denormalizing. Passing that setting via the context to the `denormalize()` call should work.

[code]

[2021-06-21 09:36] guilliamxavier commented on #27441
*Update:* It looks like PHP 8.1 is going to change its order: https://github.com/php/php-src/blob/578b67da49af51b2f796a48782e51ceb62860943/UPGRADING#L334-L341

(https://github.com/php/php-src/commit/72c3ededed45fc8f2ce6f98d11f82adedc5e9763)

🙂

[2021-06-21 11:28] dsentker opened #41759 "Inconsistent controller name validation in make:controller command"
**Symfony version(s) affected**: 5.*

**Description**
The make:controller command is able to receive the Controller Name as an argument. If not provided, the command asks for it interactively.
However, if the Developer wants to place the controller in a subdirectory / sub-namespace (e.g. App/Controller/Foo/BarController) there seems to be an inconsistency with the escaping for the PHP Namespace Se

[2021-06-21 12:20] nicolas-grekas commented on #41745
Thanks for the report, will be fixed by  #41760

[2021-06-21 12:20] #41745 closed, assigned to nobody

[2021-06-21 12:24] nicolas-grekas commented on #41734
This is how things are.

Aka there is no http client service that aggregates all scoped clients, but there is only one default http client, and standalone scoped clients that you can target using named autowiring aliases.

You *can* define a client that does what you describe, but you have to wire it manually.

Closing as there is no bug to keep track of.

[2021-06-21 12:24] #41734 closed, assigned to nobody

[2021-06-21 12:33] nicolas-grekas commented on #41726
Should the pass you want really be non-recursive?
Don't you need to process nested inline definition?

[2021-06-21 12:43] nicolas-grekas commented on #41727
@Warxcell unrelated indeed, and already reported as #41748 and fixed by #41751

@craue you need to require `symfony/doctrine-messenger`, which is not "replaced" by `symfony/symfony`.

[2021-06-21 12:43] #41727 closed, assigned to nobody

[2021-06-21 12:45] craue commented on #41727
@nicolas-grekas, I'm not using the messenger. So why would I need to add it as a dependency?

[2021-06-21 13:01] nicolas-grekas commented on #40220
Closing as duplicate of #41704 (which is more recent but has some useful comments.)

[2021-06-21 13:01] #40220 closed, assigned to nobody

[2021-06-21 13:04] nicolas-grekas commented on #41727
I don't know honeslty. I just can tell you that for some reason, the test suite is trying to load this class, and that the failure can be worked around by adding this dependency...

[2021-06-21 13:08] hoffmann-andras opened #41762 "[Messenger] Add Redis sentinel support"
**Description**
Please, add sentinel support to redis-messenger.

**Example**

This is how it would be configured (similar to what we do today in Cache component):

.env
`MESSENGER_TRANSPORT_DSN='redis:?host[redis1:26379]&host[redis2:26379]&host[redis3:26379]&redis_sentinel=mymaster'`

[2021-06-21 13:08] julienfalque commented on #37419
Yes. I need to find some time to work on #38472.

[2021-06-21 13:10] nicolas-grekas commented on #40129
A stack trace would be useful actually. There is nothing we can do if we don't know what is triggering this.
This might be related to a call to `opcache_compile_file()`, but without a stack trace, that's just a guess.
If my guess is right, the only call to this function is `@`-silenced, so that the warning should be ignored and you might have a configuration issue with your error handler.

Status:

[2021-06-21 13:12] craue commented on #41727
[This line](https://github.com/doctrine/DoctrineBundle/blob/2.4.2/DependencyInjection/DoctrineExtension.php#L1030) seems to trigger loading it.

[2021-06-21 13:12] falkenhawk commented on #27933
I believe it's been covered by https://github.com/symfony/symfony/pull/39399 ?

[2021-06-21 13:30] nicolas-grekas commented on #41727
Thanks for investigating.
I'd suggest replacing this `class_exists()` check by `if (!$container->getReflectionClass(the-class, false)) {`.
PR welcome on DoctrineBundle

[2021-06-21 13:42] ogizanagi commented on #27933
@falkenhawk : No, this PR was about allowing to provide a Serializer context per-property basis (so is about context and metadata).

This issue is about a new feature that'll allow to "normalize" / clean the raw data before being denormalized to an object. Main motivation was trimming strings, as done by the Form component on text inputs for instance, but could be extended to other treatments (tho

[2021-06-21 13:42] craue commented on #41727
@nicolas-grekas, thank you. This change would indeed fix the issue.

[2021-06-21 13:43] nicolas-grekas commented on #40034
Maybe we should simply not enable the cache in debug mode? /cc @dunglas

[2021-06-21 13:50] shyim opened #41764 "[HttpFoundation] Add getString to ParameterBag"
**Description**
After upgrade to 5.3 I have soo many PhpStan issues like
[code]
The ParameterBag has already methods like getBoolean / getInt. But not a getString. This would help to fix those issues really fast.

**Example**
[code]

[2021-06-21 13:56] nicolas-grekas commented on #41529
Please provide a full reproducer if you think there is a bug in Symfony.
I'm closing for now because seeing `#[Autowire]`, it looks like this is not using Symfony's DI container to do the wiring, so that this might not be a Symfony issue.

[2021-06-21 13:56] #41529 closed, assigned to nobody

[2021-06-21 14:00] benjamin-aubry commented on #29030
As I'm not used to symfony prosesses I won't have time do do it, I'm sorry.

[2021-06-21 14:02] shyim opened #41765 "[HttpFoundation] FlashbagAwareSessionInterface"
**Description**
The current `SessionInterface` does not contain the method `getFlashBag`. As the DI way has been deprecated it's difficult to get correctly the FlashBag.

The workaround currently is

[code]

or asserting that is a actual Session object which makes decoration shitty

**Example**

Introduce an additional interface to access the method `getFlashBag` on the interface level and not imp

[2021-06-21 14:02] benjamin-aubry commented on #29030
Yep, there is obvious workarounds that's why it is a minor bug.

[2021-06-21 14:08] n3o77 commented on #41130
I tried to get this reproduced but so far i didn't manage to. But as soon i remove the `LockRegistry::setFiles([]);` within a few hours the problem happens again and all apache requests get stuck in `sending` over time.

What i noticed during testing with the code below is that each request runs longer. So maybe if enough requests are coming in and the "right" cache keys are triggered for a re-cal

[2021-06-21 14:09] wouterj commented on #39302
Let's close. This topic came up only once (at the 2020 conference), so I don't consider it a needed change. If we at any point think differently, this can be done in a backwards compatible way.

[2021-06-21 14:09] #39302 closed, assigned to nobody

[2021-06-21 14:12] nicolas-grekas commented on #40032
@drupol your issue is unrelated. Here is the patch you need to apply to your bundle to make it pass:
[code]

The reason is that because annotations are a dev-dep, you now need to enable them explicitly.

[2021-06-21 14:12] #40032 closed, assigned to nobody

[2021-06-21 14:17] nicolas-grekas commented on #41130
The TTL must not be shorter than the computation time. If that's the case on your system, that's the issue you need to solve.
Do you have a controller that triggers an HTTP request to the same host maybe?

[2021-06-21 14:19] nicolas-grekas commented on #40024
I agree this should be case sensitive. PR welcome.

[2021-06-21 14:22] nicolas-grekas commented on #39924
PR welcome @zmitic

[2021-06-21 14:28] #34883 closed

[2021-06-21 14:29] n3o77 commented on #41130
I will add some more logs to see if a too short TTL is set. As far i'm aware no controllers trigger a request to the same host. Thanks again, much appreciated!

[2021-06-21 14:30] drupol commented on #40032
Oh... ok.

I now feel stupid.

Thanks again Nicolas!

[2021-06-21 14:37] stof commented on #41753
@wouterj is it expected that PasswordAuthenticatedUserInterface does not extend UserInterface ? this seems weird to me. The name of the interface makes me think that a PasswordAuthenticatedUserInterface is always expected to be a UserInterface

[2021-06-21 14:46] zmitic commented on #39924
@nicolas-grekas For ``#[TaggedInterface]``?

If so; would I be allowed to create another class instead of ``ServiceLocator``, and add stubs like in the first comment?

[2021-06-21 14:49] chalasr commented on #41753
@stof Yes it is expected (I’m the author here) and I think it’s fine as is. PasswordAuthenticatedUserInterface could even be moved to password-hasher at some point.

[2021-06-21 14:54] nicolas-grekas commented on #39924
For `#[Tagged(name: 'form.type')]` (see above about `#[TaggedInterface]`)

[2021-06-21 14:57] nicolas-grekas commented on #41006
I didn't check the code, but it looks like you agreed on something to fix? Could you please send a PR @christian-eriksson?

[2021-06-21 15:00] nicolas-grekas commented on #40938
Closing as explained (see links). Thanks for proposing.

[2021-06-21 15:00] #40938 closed, assigned to nobody

[2021-06-21 15:03] nicolas-grekas commented on #40861
I'm closing because this is a compile-time behavior change that won't explode a prod system.
This was also relying on a side-effect that we cannot maintain.
Thanks for opening.

[2021-06-21 15:03] #40861 closed, assigned to nobody

[2021-06-21 15:04] nicolas-grekas commented on #41612
Similar to #40861, this might mean a service is missing an explicit ServiceLocator class.
But looking at the code, I missed finding where. Can anyone have a look, @theravel especially?

[2021-06-21 15:15] ro0NL commented on #41764
See https://github.com/symfony/symfony/pull/37229

and https://github.com/symfony/symfony/issues/40680#issuecomment-812469598

[2021-06-21 15:18] drzraf commented on #34313
No, it has not.
See https://github.com/symfony/console/blob/5.3/Logger/ConsoleLogger.php#L105

[2021-06-21 15:25] stof commented on #34313
To me, there is no reason to make ConsoleLogger expose that as a public API. This algorithm is defined in PSR-3 and various logging libraries have already public implementations for it (for instance, Monolog has the PsrLogMessageProcessor)

[2021-06-21 15:25] nicolas-grekas commented on #40717
I had a look at this behavior when Dotenv was created, and the underlying reason is that implementing what you describe would increase the complexity a lot.
There is a high chance that this might end up being closed as a "won't fix".
But before doing so, please don't mind checking the code!

[2021-06-21 15:26] dunglas commented on #40034
@nicolas-grekas the dev environnement is already very slow on large projects. I'm not sure if it's a good idea (but I'm not strongly opposed to it either).

[2021-06-21 15:39] nicolas-grekas commented on #40469
PR welcome @vudaltsov, let's make this consistent.

[2021-06-21 15:41] nicolas-grekas commented on #40485
I'm not able to reproduce. Has this been solved meanwhile?

[2021-06-21 15:41] Crell commented on #41726
In our use case, no.  What I ended up doing for now is this: https://git.typo3.org/Packages/TYPO3.CMS.git/blob/HEAD:/typo3/sysext/core/Classes/DependencyInjection/ListenerProviderPass.php

But it seems useful to be able to push essentially that `getRefelctionMethod()` (and maybe `getParameterType()`?) up to ContainerBuilder so that they're more usable by everyone, and we can remove that method.

I

[2021-06-21 15:45] #41764 closed, assigned to nobody

[2021-06-21 15:49] nicolas-grekas commented on #40543
Both port and proto should already be working. The code deals with them. There are even test cases for it.

Can you please send us a failing test case maybe?

[2021-06-21 15:52] nicolas-grekas commented on #41726
typo: AbstractRecurisvePass :)

Let's keep as is then, unless more ppl report the same need!

[2021-06-21 15:52] #41726 closed, assigned to nobody

[2021-06-21 15:53] stof commented on #40034
if we don't have resource-tracking to automatically invalidate the cache in debug mode, I would say that we should not enable the cache automatically (but we may still allow to opt-in for the cache in those environment if the devs decide this trade-off is worth the DX loss of having to clear the cache manually)

[2021-06-21 15:53] #40701 closed, assigned to nobody

[2021-06-21 15:55] nicolas-grekas commented on #40654
Closing as duplicate of #40906

[2021-06-21 15:55] #40654 closed, assigned to nobody

[2021-06-21 15:55] moynzzz commented on #40024
Nice I'm working on the PR.

[2021-06-21 15:56] psdesse opened #41769 "Service "security.command.debug_firewall" not found error"
**Symfony version(s) affected**: 5.3.0

**Description**
A application that do not depends on `symfony/console` fails with the error `You have requested a non-existent service "security.command.debug_firewall"`. This only happens with the new Authenticator-based Security.

**How to reproduce**
Create an application that do not depends on `symfony/console`. If you use a new authentication security w

[2021-06-21 16:03] nicolas-grekas commented on #40620
I wouldn't mind adding `MockHttpClient::setResponseFactory()` if that makes things more convenient.

[2021-06-21 16:08] nicolas-grekas commented on #40252
The default recipe and test-pack have changed, this should have fixed this issue.

[2021-06-21 16:08] #40252 closed, assigned to nobody

[2021-06-21 16:09] GaryPEGEOT commented on #40620
I think it would make functional testing easier.

[2021-06-21 16:10] nicolas-grekas commented on #40295
I agree with @stof, you should normalize your input.

[2021-06-21 16:10] #40295 closed, assigned to nobody

[2021-06-21 16:12] ajardin opened #41771 "Fatal error with runtime when compiling the application as a PHAR"
**Symfony version(s) affected**: 5.3.2

**Description**
I'm testing the Runtime component in a Symfony 5.3 project compiled into a PHAR archive with [Box](https://github.com/box-project/box), and I'm getting an error during the compilation.

[code]

It comes from the [autoload_runtime.template](src/Symfony/Component/Runtime/Internal/autoload_runtime.template) file since it requires the content of

[2021-06-21 16:20] jeckel opened #41772 "Enable to generate UuidV4 for Doctrine Ids with symfony 5.3"
**Symfony version(s) affected**: 5.3.1

**Description**
I'm upgrading a project which was using `UuidGeneratorV4`, I replaced with the new `UuidGenerator` service but it always generate UuidV6, even if I configure the default uuid format to v4

**How to reproduce**
Configuration `config/packages/framework.yml`:
[code]

My entity:
[code]

When I try to insert new entity, I get this error:
[code]

I

[2021-06-21 16:25] nicolas-grekas commented on #40573
Thanks for the report, this will be fixed by #41773

[2021-06-21 16:25] #40573 closed, assigned to nobody

[2021-06-21 16:28] nicolas-grekas commented on #41012
Will you be able to have a look @gboubel?

[2021-06-21 16:37] nicolas-grekas commented on #40327
Although it's not exactly the same, adding eg `#[Autoconfigure(bind: '%kernel.debug%')]` on a class works already.

I'm not super sold on this, because bindings are centralized, whereas the proposed attribute would need to be repeated everywhere needed.

I'm still open to discuss this. The implementation should probably take inspiration from #40406.

[2021-06-21 16:44] nicolas-grekas commented on #40642
@vkurdin-aw would you like to work on a fix? Or maybe just on a failing test case first?

[2021-06-21 16:49] nicolas-grekas commented on #40784
@Firtzberg would you be up to work on a PR to improve the error message?

[2021-06-21 16:52] Taluu opened #41774 "[PhpunitBridge] Can't set the composer binary"
**Symfony version(s) affected**: Since 3.4.0 it seems ?

**Description**
If you have let's say composer 1 and composer 2 both installed with different binary paths, you before had the possibility to tell phpunit-bridge what executable it should use.

This is not the case anymore, so it will always fallback (or try to find) a `composer` binary... which can be 1.0, when there can be another binary s

[2021-06-21 16:52] Taluu commented on #41774
Unless there was a specific reason on why this was removed ? @nicolas-grekas

[2021-06-21 16:55] nicolas-grekas commented on #41774
When has it been removed? I'm don't remember anything like that (I don't remember it worked either btw.)

[2021-06-21 17:00] Taluu commented on #41774
On 3.4, there was that : https://github.com/symfony/phpunit-bridge/blob/3.4/bin/simple-phpunit#L68-L74

And since at least 4.0 : https://github.com/symfony/phpunit-bridge/blob/4.0/bin/simple-phpunit#L50-L52

As you can see, the if is now gone, assuming it seems it must look for the composer binary itself.

(Yeah I'm kinda stuck on 3.4 for now :cry: )

[2021-06-21 17:04] nicolas-grekas commented on #41774
Can you find the commit where it's been removed? That might help get the background of the change.

[2021-06-21 17:08] stof commented on #41774
support for `COMPOSER_BINARY` was added in 3.4.40 in https://github.com/symfony/phpunit-bridge/commit/0b83e8ad3247d1ebac4797ce90a0c56a0140be44 (in https://github.com/symfony/symfony/pull/36566)
That's why it is not there in 4.0 (4.0 was already EOMed at that point).
As the code moved to a separate file in 4.3, this new feature was probably lost when merging up in the 4.4 branch.

[2021-06-21 17:09] Taluu commented on #41774
Yep, I pinpointed 4.0 as it was gone from there. but yeah it seems it was added way afterwards and lost after a while.

Here is the commit : https://github.com/symfony/symfony/commit/6dce90d47bc8ff944d670f6b6d418efb1506fa33 and the PR : https://github.com/symfony/symfony/pull/36566

[2021-06-21 17:27] pawelabrams commented on #11886
Bump, thank you and your maker, bot.

What's the procedure here? Should I prepare a POC of sorts?

[2021-06-21 17:37] Firtzberg commented on #40784
@nicolas-grekas I'm honored, but I don't think I'm up to the task.

[2021-06-21 17:57] AntonioCS commented on #37334
Well.. I fixed my stuff by using `createQueryBuilder`.
I basically did this:

[code]
`getAssociations` basically created a joins for all the associations and that forced doctrine to load everything.

The problem is still there in the serializer but I get what I need.

[2021-06-21 18:33] OskarStark commented on #41772
Remove the generator and to the following in the constructor:

$this->id = new Uuid();

No need to be nullable on the property

[2021-06-21 21:43] #41669 closed, assigned to nobody

[2021-06-21 21:43] #41753 closed, assigned to nobody

[2021-06-21 23:00] derrabus commented on #11886
If you can work on a PR, don't hesitate to do so!

[2021-06-21 23:47] theravel commented on #41612
@nicolas-grekas
Please find it here: https://github.com/theravel/symfony-41612
In order to reproduce one need to:
[code]

[2021-06-22 04:29] jeckel commented on #41772
This is a workaround, not a solution. The purpose of the generator is to generate a new Uuid only when required (inserting new entity). En generating a new Uuid is not free

[2021-06-22 07:22] nicolas-grekas commented on #40861
I changed my mind after reviewing #41612, see #41777

[2021-06-22 07:22] nicolas-grekas commented on #41612
Thanks for the reproducer, see #41777

[2021-06-22 07:22] #41612 closed, assigned to nobody

[2021-06-22 07:35] #40126 closed, assigned to nobody

[2021-06-22 08:05] Jeroeny commented on #41771
I've experienced this as well and solved it using the template configuration:

- Copy the `vendor/symfony/runtime/Internal/autoload_runtime.template` file to a committed  directory (e.g. your project dir)
- Adjust the file to make it work for you. What I've done is remove everything related to `$_SERVER['SCRIPT_FILENAME']` and then copy the `new Kernel` initialization from `bin/console` into the t

[2021-06-22 08:22] ajardin commented on #41771
Thanks for your feedback. 🙂

What you have described is almost the same thing as I did on my side, except that I have only created a new template and changed the Composer configuration. But I'm still wondering if this is a workaround or the proper resolution.

[2021-06-22 08:30] sabat24 opened #41778 "DateTime constraint does not accept null and empty values but doc says that it does"
**Symfony version(s) affected**: 5.3.2

**Description**

According to [doc](https://symfony.com/doc/current/reference/constraints/DateTime.html): "As with most of the other constraints, null and empty strings are considered valid values."

I created following constructor

[code]

Then I tried to send following data in request:

[code]

And I received following message:

[code]

Since Symfony 5.1(?

[2021-06-22 08:37] nicolas-grekas commented on #40784
No worries, see #41779

[2021-06-22 08:37] #40784 closed, assigned to nobody

[2021-06-22 08:43] nicolas-grekas commented on #41772
I'm closing because this is not a Symfony issue but a Doctrine issue. The root issue is that there is no simple way to use services in generators. I've implemented a fix in https://github.com/doctrine/DoctrineBundle/pull/1295, but the discussion has led to the conclusion that patching ORM first would be a better approach.
I did not follow up on this. Please do so if you can. Help wanted.

[2021-06-22 08:43] #41772 closed, assigned to nobody

[2021-06-22 09:16] stof commented on #41778
@sabat24 if you apply your validation on your object expecting a `DateTimeImmutable` while receiving a string, it means that the construction of the DateTimeImmutable object (which is the one triggering the error you get) happens *before* validating the input. and so it means you need to handle invalid values in your conversion layer.
If you want to rely on the validator to validate the input stri

[2021-06-22 09:19] devnix commented on #40543
@nicolas-grekas I could, if required. But please, check [testGetPort()](https://github.com/symfony/symfony/blob/15764b42008e41b9100dfbb8f5165074046b7b65/src/Symfony/Component/HttpFoundation/Tests/RequestTest.php#L865-L917). As @stof and @xabbuh confirms, `X-Forwarded-*` headers are implemented, but `Forwarded` is not. Nor in the code, nor in the tests, you can easily check by yourself.

[2021-06-22 09:28] nicolas-grekas commented on #41721
I carefully followed your instructions and I can't reproduce.
Please upgrade and report back if the issue is still there.
Please upgrade before reporting next time, that may save hours for others ;)

[2021-06-22 09:28] #41721 closed, assigned to nobody

[2021-06-22 09:29] nicolas-grekas commented on #41721
Please provide a reproducing test case ideally if the issue is still here btw.

[2021-06-22 09:32] nicolas-grekas commented on #40543
Yes, I've also read the code, and I have a different conclusion than @stof and @xabbuh here: the code does handle that.
Search for `proto=` in that test file.

That's why a failing test case would greatly help.

[2021-06-22 09:33] lyrixx commented on #32422
I don't have time to work on it, and it seems we can live with it. So let's close it for now

[2021-06-22 09:33] #32422 closed

[2021-06-22 09:37] lyrixx commented on #41756
@OskarStark Unfortunately, I did not work on this :/

[2021-06-22 09:38] #41774 closed, assigned to nobody

[2021-06-22 10:02] nicolas-grekas commented on #41620
Thanks for the reproducer. I could not use it because it has networks and external_links entries.
I still booted the app with a dockerized mariadb + the symfony binary.
I did not experience the error you're describing: the profiler was working as expected for me.

Please provide a self-contained reproducer if you can.

[2021-06-22 10:04] devnix commented on #40543
I was refreshing it, and I think you can just replicate it on any project because I'm getting a redirect loop just for rendering the 404 initial page on a brand new symfony project with zero modifications:

- Start Symfony's server: `symfony server:start -d`
- Start a tunnel using `localhost.run` service: `ssh -R 80:localhost:8001 nokey@localhost.run`
- Visit any URL from the tunnel (for example `

[2021-06-22 10:09] kskrzypkowski commented on #41620
@nicolas-grekas
Here is a youtube video that shows the whole error, tested on the repository to which the link is above.
https://youtu.be/iDKKqu1QLTs

[2021-06-22 10:18] vanthao03596 opened #41781 "[OptionsResolver] Required Option that Depend on another Option"
I want to make some option required when another option have some expected value. How i can do that ?.
Thanks for help!

[2021-06-22 10:35] stof commented on #41781
you could use a normalizer on the option to do such dynamic check (without marking the option as required, as it is not always required).
IIRC, some of the symfony form types are doing things like that (but I don't remember which ones).

[2021-06-22 10:37] moynzzz commented on #40024
I find this harder than expected. The search for lowercased "action" string is in `AnnotatedRouteControllerLoader` but it is using the string provided from `AnnotationClassLoader`'s `getDefaultRouteName` function which is always lowercased. We can't actually search for "Action" with capital 'a' when we always have lowercased route name.

The only idea that I have is to override the function `getDe

[2021-06-22 11:11] sabat24 commented on #41778
@stof Yes, you were right about the source of that error. My mistake.

[2021-06-22 11:11] #41778 closed, assigned to nobody

[2021-06-22 11:12] xabbuh commented on #40543
IIRC I was able to reproduce this locally. I will try to find some time to look into it again.

[2021-06-22 11:16] nicolas-grekas commented on #41620
On my side, when I make this request, I see a proper JSON error:
`  "hydra:description": "An exception occurred while executing 'INSERT INTO sample (id, name, is_active, comment) VALUES (?, ?, ?, ?)' with params [\"\\xe5\\x6c\\xb2\\xfc\\x85\\xfc\\x4f\\xd1\\xbb\\xb7\\xd7\\x3d\\x35\\x4e\\xb8\\xe1\", null, 1, \"string\"]:\n\nSQLSTATE[23000]: Integrity constraint violation: 1048 Column 'name' cannot b

[2021-06-22 11:22] nicolas-grekas commented on #41620
For the record, I've used this docker-compose.yml file:
[code]

I then ran `symfony console doctrine:migrations:migrate` and `symfony serve` before hitting `/api`

[2021-06-22 11:44] nicolas-grekas commented on #40024
Thanks for having a look and for the report. I'm proposing a fix in #41782

[2021-06-22 11:44] #40024 closed, assigned to nobody

[2021-06-22 11:48] kskrzypkowski commented on #41620
If possible, please check which one is building from the `docker/Dockerfile`. This image is close to the production environment.

The rest of docker-compose doesn't matter, it's just here to make it easy to get started as I am

[2021-06-22 12:45] vanthao03596 commented on #41781
Thanks for quick reply. I'm thinking about some function call requiredIf. Is it posible ?

[2021-06-22 12:47] Firtzberg opened #41783 "ServiceLocatorTest depends on PHPUnit"
**Symfony version(s) affected**: 5.2.7

**Description**
I noticed that [service-contracts](https://github.com/symfony/service-contracts) has [ServiceLocatorTest](https://github.com/symfony/service-contracts/blob/main/Test/ServiceLocatorTest.php) which extends PHPUnit TestCase. The class is autoloaded since all the content is considered source code.
So you have a source code class extending a class

[2021-06-22 12:59] nicolas-grekas commented on #41620
OK: in order to reproduce the issue, stack traces should contain arguments. I now reproduce after adding `zend.exception_ignore_args=0` to my php.ini.

I think this is an API Platform issue, since that's the piece of code that is trying to turn random arguments into JSON.

API Platform should remove arguments IMHO.

Please report there.

[2021-06-22 12:59] #41620 closed, assigned to nobody

[2021-06-22 13:06] LucileDT commented on #33062
This bug is still relevant.

[2021-06-22 13:08] stof commented on #41783
it is autoloaded only in case something uses it (that's how autoloading works). What is the context in which you get the bug ?

We have many components providing a `Test` namespace with some testing utilities for users of that component.

[2021-06-22 13:09] #38278 closed

[2021-06-22 13:09] #39139 closed, assigned to nobody

[2021-06-22 13:12] YaFou opened #41785 "[Form] Allow hexadecimal colors with 3 characters in `ColorType`"
**Description**

A new option was introduced in #36302 called `html` which validates if the color respects HTML rules about hexadecimal colors. This takes into account colors like `#FFFFFF` or `#06CD8E`.

---
However, it is very common to find colors formatted like the following example: `#FFF`. But this format isn't valid in the `ColorType`. Perhaps, it will be nice to have the support of this fo

[2021-06-22 13:26] theofidry commented on #30920
the bug is still relevant

[2021-06-22 13:29] OskarStark commented on #41756
Oh I thought the QueueReceiverInterface was made by you 😃

[2021-06-22 13:31] derrabus commented on #41785
Does HTML5 allow any of those formats in `<input type="color">`?

[2021-06-22 13:32] Firtzberg commented on #41783
@stof , thank you for the quick response and valuable feedback.
I got the error while running opcache_compile_file() over all the PHP files in vendor/symfony.
For the time being I will skip this particular file.

[2021-06-22 13:36] stof commented on #41783
@Firtzberg but then, you won't only have issues for test base classes but also for other classes relying on optional dependencies

[2021-06-22 13:39] Firtzberg commented on #41783
Yes, I'm facing that right now. You might see few more suggestion from my side during the day.

Feel free to close them as you see fit.

[2021-06-22 13:43] derrabus commented on #41783
@Firtzberg If you did that to collect classes for preloading, note that there is a nicer way to do that: https://symfony.com/doc/current/performance.html#use-the-opcache-class-preloading

Closing as this is not a Symfony bug.

[2021-06-22 13:43] #41783 closed, assigned to nobody

[2021-06-22 13:45] Firtzberg commented on #41783
@derrabus Thanks, this is what I'm looking for

[2021-06-22 13:51] abelncm opened #41788 "Symfony 5.2 Form Prototype Fields not following the form type builder order!!"
Symfony 5.2.1

I'm using data prototype for  embedded forms (CollectionType).
Everything is working as expected, i followed the official documentations.

But data prototype doesn't render the fields according to the order defined in the class form type.

This is my view

[code]

This is included in the parent form type

[code]

And this in the child form (embedded form collection)

[code]

Symfony

[2021-06-22 13:53] derrabus commented on #41788
Hello and thank you for reaching out.

This tracker is meant for tracking bugs and feature requests. If you are looking for support, you'll get faster responses by using one of our official support channels:

* StackOverflow: https://stackoverflow.com/questions/tagged/symfony
* Slack: https://symfony.com/slack

See https://symfony.com/support for more support options.

[2021-06-22 13:53] #41788 closed, assigned to nobody

[2021-06-22 14:05] stof commented on #41785
No it does not. The HTML spec only supports simple colors for this input, which is a concept defined here: https://html.spec.whatwg.org/#simple-colour

[2021-06-22 14:08] deviantintegral commented on #31778
I actually switched to using `jms/serializer` for this project, though I believe this is still an issue. Let's close this if there's no activity next time the bot comes around.

[2021-06-22 14:09] YaFou commented on #41785
Yes I know that the specification considers that only seven characters colors are valid but I think it could be nice to support other common variants of this format.

[2021-06-22 14:11] stof commented on #41785
well, that `html` option is precisely there to allow enforcing that the value is one conforming to this HTML definition for the `<input type="color">`. If that's not what you need, don't enable that option.

[2021-06-22 14:13] YaFou commented on #41785
Do you think that adding another option to support more formats could be an interesting feature?

[2021-06-22 14:14] devnix commented on #40543
Ok, that was my bad again, I'm at work, it has been a while since I've reported the bug, and our exact environment is _very_ tedious to replicate.

First thing wrong: if you start a non-tls server: `symfony server:start --no-tls` and then the tunnel `ssh -R 80:localhost:8001 nokey@localhost.run`, the redirection is gone, and `$request->getPort()` returns `443`. The request was not even reaching th

[2021-06-22 14:15] stof commented on #41785
What other option do you want ? If you don't turn on that option, the Form layer won't perform any validation on its own (btw, you should probably not even use a ColorType because you will want to use a `<input type="text">` to allow inputting other kind of colors in modern browsers). And then, the validation layer is all yours by using custom constraints in the Validation component.

[2021-06-22 14:17] stof commented on #40543
I think that the tls server of the local webserver relies on a trusted proxy too, but one using `X-Forwarded-*` headers

[2021-06-22 14:20] YaFou commented on #41785
I want an option (like `soft_html`) that validates colors like `#FFF`.

[2021-06-22 14:22] YaFou commented on #41785
Yes, of course, I can use the default type and use a regex but I think using the `ColorType` is more appropriate.

[2021-06-22 14:27] derrabus commented on #41785
👎🏻 from me. If HTML5 does not support those formats, then `ColorType` shouldn't either.

Form types should not come with built-in validation. The only reason why `ColorType` does have a built-in validation is because it implements the HTML5 standard that way. No browser on earth implements what you call `soft_html`, so you will end up with a custom form control on the client side anyway.

Differen

[2021-06-22 14:29] dkarlovi commented on #31208
/carsonbot freeze ?

[2021-06-22 15:08] Art4 opened #41789 "[WebProfiler] Strange replacement of `getIntId` to `gettId`"
**Symfony version(s) affected**: 4.4.25

**Description**
This sounds a little bit stupid but I can't help myself: 😅
If I'm using the word `getIntId` inside a deprecation error the WebProfiler will show the word as `gettId`.

**How to reproduce**
Place this deprecation error inside a controller method: `@trigger_error('Use getIntId() instead.', E_USER_DEPRECATED);`

**case sensitivity is important*

[2021-06-22 15:14] Art4 commented on #41789
Ooooooh. I just found out that a stupid browser plugin was the reason for this bug. Sorry! 😓

[2021-06-22 15:14] #41789 closed, assigned to nobody

[2021-06-22 15:40] stof commented on #41785
If you don't use the TextType, browsers won't let you submit other values, because ColorType renders a `<input type=color>`. So in the form component, there is no point about other things.

[2021-06-22 15:47] javiereguiluz commented on #41785
@YaFou thanks for suggesting this proposal, but I'm afraid we must close it. In order to have full compatibility with the fields created by browsers, we need to follow the standard strictly. Thanks for understanding!

However, I understand your needs ... we even have a pending PR to add a more powerful validator for all kinds of CSS colors (see #40168) so that could help you build a custom input a

[2021-06-22 15:47] #41785 closed, assigned to nobody

[2021-06-22 15:49] YaFou commented on #41785
Thank you for the discussion and @javiereguiluz for the provided opened PR!

[2021-06-22 15:53] javiereguiluz commented on #41762
@hoffmann-andras you mean that we're missing this from Symfony Docs?

We mention Redis Sentinel in Cache (here: https://symfony.com/doc/current/components/cache/adapters/redis_adapter.html) but not in Messenger (here: https://symfony.com/doc/current/messenger.html#redis-transport). If that's your question, we'll move this to Symfony Docs repository.

[2021-06-22 18:28] nicolas-grekas commented on #41012
Fixed in #41793, it was non-trivial!
Thanks for opening.

[2021-06-22 18:28] #41012 closed, assigned to nobody

[2021-06-22 19:38] YaFou commented on #39143
Have you tried to use [the two options to ignore a value](https://symfony.com/doc/current/components/serializer.html#ignoring-attributes) @christian-kolb? I don't know if it works...

[2021-06-22 20:09] YaFou commented on #41455
👍🏻 for me because it provides a simple way to detect automatically the user language and adapt the page render.

[2021-06-22 20:31] nicolas-grekas commented on #41455
Likely related to #36507.

[2021-06-22 21:09] m-vo opened #41796 "[DoctrineBridge] DoctrineLoader relies on AutoMappingTrait"
**Symfony version(s) affected**: >= 4.4

**Description**
`DoctrineExtension#loadValidatorLoader` registers the `DoctrineLoader` as a service. This class uses the `Symfony\Component\Validator\Mapping\Loader\AutoMappingTrait` which might not be available.

As soon as this service gets autloaded at container build time* this will produce a fatal error under PHP8.1:

[code]

*) one scenario is for ins

[2021-06-22 23:25] derrabus commented on #41796
Registering a service with a class that cannot be autoloaded is fine in general, as long as you don't wire it. If you think that this service should not be registered at all, please open an issue here: https://github.com/doctrine/DoctrineBundle/issues

If you think that this is a bug of the DependencyInjection component, you're in the right place, however. 🙂

[2021-06-22 23:43] m-vo commented on #41796
You're right I guess. :slightly_smiling_face:  My brain was probably assuming that the extension was part of the `symfony/doctrine-bridge` as well.
I'm going to open up an issue over at `DoctrineBundle`.

Though you could argue that the bridge then should either require its dependencies or tolerate missing them? (Not easy with traits, unfortunately.)

[2021-06-23 06:32] hoffmann-andras commented on #41762
@javiereguiluz  No, it's not a question it's a feature request. Sorry, I mean the description as acceptance criteria.
We would like to use messenger component with [redis sentinel](https://redis.io/topics/sentinel), but it has no support, just plain redis and redis cluster.
So the Feature label was correct I think.

[2021-06-23 06:43] javiereguiluz commented on #41762
OK thanks! I've updated the issue description a bit.

[2021-06-23 06:46] xNarkon commented on #34147
Any update? Messenger currently is capable only for simple cases, above example is nice - good job @ghola. I would love to see Outbox, Reply-To and other mechanisms in the Messenger component.

[2021-06-23 06:54] javiereguiluz commented on #41494
@wouterj what do you think about this proposal? Thanks!

[2021-06-23 07:07] javiereguiluz commented on #41411
The new proposed name is definitely much better and precise! I can understand that this kind of changes are a bit annoying because you need to relearn the new command name and maybe change some things in your projects ... but, at the same time, this change looks like the right thing to do.

Maybe we could rename it to `translation:extract` in 5.4, while keeping `translation:update` as an alias (an

[2021-06-23 07:21] javiereguiluz commented on #41426
I don't know if this proposal will be accepted ... but as an alternative, you can run `php bin/console debug:router --format=json` to get a JSON structure indexed by route name which gives you the route path and other info of all the application routes. Maybe do something in a cache warmer so you always have this file generated and then it's trivial to map the route name to its path.

[2021-06-23 07:28] Aerendir commented on #17875
Yes

[2021-06-23 07:38] welcoMattic commented on #41411
@javiereguiluz that's exactly what I was thinking, in matter of deprecation and alias for 5.4. But I wonder if it's possible to introduce the `:extract`, `:update` alias and deprecation notice in 5.3.x as it's not a breaking change, keep this for 5.4 and completely remove `:update` in 6.0. It will let more time to people to change their applications/infrastructures. WDTY?

[2021-06-23 08:29] derrabus commented on #41796
The latter is the case. The bridge is a collection of glue code for various Symfony components. If we made all dependencies mandatory, the bridge would pull a lot of components that you probably don't use. The alternative would be that we have a `symfony/form-doctrine-bridge`, a `symfony/validator-doctrine-bridge`, a `symfony/uid-doctrine-bridge` and so on. We would end up micro-managing tiny pack

[2021-06-23 08:55] wouterj commented on #41494
I haven't yet completely organized my opinion about this proposal (that's why I was a bit silent). Some unorganized thoughts:

- I think the use-case is valid enough to do something about this
- I'm not sure if a highly split up factory is the way forward. Contrary to Mailer and Notifier, there are just a handful rate limiter policies and there is no reason to believe that we'll have more than 5 d

[2021-06-23 09:01] shyim commented on #41494
Sure I can make a pull request with the interface if that's the way :)

[2021-06-23 09:04] JoshuaBehrens commented on #41494
Just stumbled upon this issue. Looking at the implementations, I am really missing one from our toolset: no-dos rate limiter. We use it to stop ourselves from spamming other systems when their response times drop or their response headers tell us to stop soon. So whenever we would use the Symfony implementation this would be something we'd like to patch in there.

In case this is already possible

[2021-06-23 09:11] fox34 opened #41797 "[Translation] Allow specification of translation key in addition to content string in Twig templates"
**Description**
The [current Symfony Best Practices for Internationalisation](https://symfony.com/doc/current/best_practices.html#use-keys-for-translations-instead-of-content-strings) recommend using translation keys instead of content strings, which has unquestionable advantages. However, using only translation keys when creating new templates is currently rather non-verbose and slow, since the w

[2021-06-23 09:52] ajgarlag commented on #39308
I think that we should answer this question before releasing Symfony 6.0

[2021-06-23 10:18] #41651 closed, assigned to nobody

[2021-06-23 11:14] araab opened #41798 "Psr18Client requires allow_url_fopen"
**Symfony version(s) affected**: 5.3.2

**Description**
Psr18Client from http-client requires allow_url_fopen to be active.
I implemented a test command with the example from the official documentation:
https://symfony.com/doc/current/http_client.html#psr-18-and-psr-17

With allow_url_fopen it works, but when it is disabled I get the following error:

[code]

**How to reproduce**
[code]

[2021-06-23 11:28] stof commented on #41798
Well, the NativeHttpClient indeed needs allow_url_fopen. The CurlClient does not (but it requires the curl extension).

If you forbid opening url with PHP stream functions and you don't have the curl extension, you have no way to make HTTP requests here.

[2021-06-23 11:36] derrabus commented on #41798
I agree. There isn't much we can do here.

[2021-06-23 11:41] jvr-wfs opened #41799 "MAILER_DSN gets changed to https://ses/v2/email/outbound-emails"
Hi

I've been configuring MAILER_DNS using this format:

MAILER_DSN=ses+https://${AWS_ACCESS_KEY}:${AWS_SECRET_KEY}@'ses'?region=eu-west-1

I'm usign Amazon SQS for queuing, so when I run the consumer all my messages fail to be sent because the code is converting the host into 'https://ses', as shown here:

`11:02:58 INFO      [http_client] Request: "POST https://ses/v2/email/outbound-emails"
11:0

[2021-06-23 11:48] gdejong opened #41800 "[HttpFoundation] Mising array return type in Symfony\Component\HttpFoundation\InputBag::get"
**Symfony version(s) affected**: v5.3.2

**Description**
When submitting a form with square brackets after the variable name, [PHP parses it into an array](https://www.php.net/manual/en/faq.html.php#faq.html.arrays).

The type hint in `\Symfony\Component\HttpFoundation\InputBag::get` is set to:
[code]

while the method will can also return an `array`.

**How to reproduce**

Require `symfony/http-f

[2021-06-23 11:49] stof commented on #41798
maybe we can improve the DX by addign a check for `allow_url_fopen` in `HttpClient::create` before creating a NativeHttpClient

[2021-06-23 11:51] stof commented on #41799
if you want to use the default endpoint, it should be `@default`, not `@ses`

[2021-06-23 12:07] araab commented on #41798
but the curl extension is installed and the CurlClient is working. In https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/HttpClient/Psr18Client.php#L60 a CurlClient is created. Isn't the problem in https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/HttpClient/Response/StreamWrapper.php#L74 which returns a symfony:// url?

[2021-06-23 12:30] stof commented on #41798
@araab can you run your command in verbose mode so that we get the stack trace of the error ?

[2021-06-23 13:09] tomasfejfar commented on #39381
Not sure what should I do here... it's a suggestion.

[2021-06-23 13:09] #37168 closed

[2021-06-23 13:15] araab commented on #41798
sure. thanks for your help.

[code]

[2021-06-23 13:44] OskarStark commented on #39560
I don't have so much time right now, lets close this for now 👍

[2021-06-23 13:44] #39560 closed, assigned to nobody

[2021-06-23 13:48] jvr-wfs commented on #41799
Hi Stof

I did try `@default`, but it has the same effect as `@ses`.

Is there anything else I could try?

Thanks

[2021-06-23 14:14] stof commented on #41799
Can you show what you have when using `default` as host ?

[2021-06-23 14:24] drzraf commented on #34313
Fair enough. `Monolog\Processor\PsrLogMessageProcessor` provides a public implementation.

[2021-06-23 14:24] #34313 closed

[2021-06-23 14:28] YaFou commented on #41579
I don't think that this feature should be in the Symfony core. In my opinion, Symfony should not manage SEO features but should be managed by bundles. Perhaps, you can have a look at [this](https://packagist.org/packages/camelot/canonical-url-bundle) 😄

[2021-06-23 14:41] ro0NL commented on #41800
see https://github.com/symfony/symfony/pull/41766

[2021-06-23 14:45] derrabus commented on #41798
Your stack trace tells us that you indeed use the cURL client.

Maybe @nicolas-grekas has some insights here: Would it be very difficult to change the cURL client to not rely on custom steam wrappers?

[2021-06-23 15:00] m-vo commented on #41796
To me it looks like `symfony/validator` does not seem to be needed for the `DoctrineLoader` class - other than for the trait.

It's just a few lines. Wdyt about pulling the code in to make it more resilient?
https://github.com/symfony/symfony/blob/e1b81e39dbc7f581cd6e76ba93bae2c23f1484fd/src/Symfony/Component/Validator/Mapping/Loader/AutoMappingTrait.php#L24-L33

[2021-06-23 15:23] jvr-wfs commented on #41799
Hi Stof

I have to apologise, I've been testing this many times with different MAILER_DSN values.

I must've used an existing docker container which still thought MAILER_DSN had 'ses' as host when I replaced it with 'default'. I've tried again and 'default' works correctly.

Thanks very much

[2021-06-23 15:23] #41799 closed, assigned to nobody

[2021-06-23 15:47] gdejong commented on #41800
Whoops my bad, will close. I must have searched for issues and not pull requests mentioning "InputBag". Thanks!

[2021-06-23 15:47] #41800 closed, assigned to nobody

[2021-06-23 17:05] ThomasLandauer commented on #40912
I'm not sure if this is related, but with this being my `monolog.php`:
[code]
... phpstan is giving me:

[2021-06-23 17:50] crtl opened #41805 "Recipes override existing configurations on update"
**Symfony version(s) affected**: 5.3.*

**Description**
Im currently migrating from symfony 4.3 to 5.3.
While doing so I get notified by composer to update my recipes using `composer recipes:install symfony/any-package-name --force -v` for example.
When running this code all configuration is just overriden and one has to check each configuration file for changes.

**How to reproduce**
`composer re

[2021-06-23 17:57] derrabus commented on #41805
Yes, that is the intended workflow. Usually, you would have some kind of version control system in place (git for example) that produces a diff of the changes Flex has made.

[2021-06-23 18:49] #41689 closed, assigned to nobody

[2021-06-23 18:50] #41133 closed, assigned to nobody

[2021-06-23 18:53] #41733 closed, assigned to nobody

[2021-06-23 19:07] #40233 closed, assigned to nobody

[2021-06-23 19:24] Xbirdfr opened #41806 "CSRF token with form builder using make:auth [5.4.0]"
Hello,
I use make:auth to create a user system with symfony

then i was able to create à user using make:registration-form

and the login system was ok

then, i want to use a Form builder to build my login form, so I create a 'AuthenticateType' form like this :
[code]
I get rid of prefix, set the csrf token name like the one in the FormAuthenticator the command create, and event set the csrf token

[2021-06-23 20:12] christian-kolb commented on #39143
It might. But it's just a workaround with even more work then the current workaround.
The problem is that to much is serialized in the first place 🙂

[2021-06-23 20:59] nicolas-grekas commented on #41798
Thanks for the details, this is fixed in #41807

[2021-06-23 20:59] #41798 closed, assigned to nobody

[2021-06-23 21:24] mask8 commented on #35336
I understand it's good practice to eliminate any notice level errors, but when this notice occurs in third-party library, doctrine for instance, having no control to stop this exception is very annoying.

[2021-06-23 23:00] remif25 commented on #35360
Hello,,

I got the same problem and I found out this middleware which solve the problem for me :
[code]

More information on the official documentation : https://symfony.com/doc/current/messenger.html#middleware-for-doctrine

[2021-06-23 23:06] henrypenny opened #41809 "Form prototype not using custom theme"
**Symfony version(s) affected**: 4.4

**Description**
I am trying to create a prototype for a form collection using a field level theme customisation.

This link contains other people's experiences with this:
[https://stackoverflow.com/questions/7555702/how-to-customize-the-data-prototype-attribute-in-symfony-2-forms](url)

The form field causing me problems looks like this:

[code]

I can do a cu

[2021-06-24 03:09] jjsty1e opened #41810 "delete migrations folder will report error: Event "__section__" is not started."
**Symfony version affected**: 5.4.0-DEV

**Description**
when delete migrations folder, then visit a path whose controller has a forwarding in dev environment will produce this error:

[code]

**something you should know first**
if there is no forwarding, the error message is correct:

[code]
so actually it's not a bug, it's just not that accurate.

**How to reproduce**
1. make sure the project is

[2021-06-24 06:31] carsonbot opened #41811 "Missing translations for Arabic (ar)"
Hello,

There are some missing translation for Arabic (ar). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ar.xlf](https://github.com/symfony/symfony/blob

[2021-06-24 06:31] carsonbot opened #41812 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf](https://github.com/

[2021-06-24 06:31] carsonbot opened #41813 "Missing translations for Bulgarian (bg)"
Hello,

There are some missing translation for Bulgarian (bg). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.bg.xlf](https://github.com/symfony/symfony/b

[2021-06-24 06:31] carsonbot opened #41814 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf](https://github.com/symfony/symfo

[2021-06-24 06:31] carsonbot opened #41815 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf](https://github.com/symfony/symfo

[2021-06-24 06:31] carsonbot opened #41816 "Missing translations for Croatian (hr)"
Hello,

There are some missing translation for Croatian (hr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hr.xlf](https://github.com/symfony/symfony/bl

[2021-06-24 06:31] carsonbot opened #41817 "Missing translations for Czech (cs)"
Hello,

There are some missing translation for Czech (cs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf](https://github.com/symfony/symfony/blob/

[2021-06-24 06:31] carsonbot opened #41818 "Missing translations for Dutch (nl)"
Hello,

There are some missing translation for Dutch (nl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.nl.xlf](https://github.com/symfony/symfony/blob/

[2021-06-24 06:31] carsonbot opened #41819 "Missing translations for Finnish (fi)"
Hello,

There are some missing translation for Finnish (fi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 06:31] carsonbot opened #41820 "Missing translations for German (de)"
Hello,

There are some missing translation for German (de). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.de.xlf](https://github.com/symfony/symfony/blob

[2021-06-24 06:31] carsonbot opened #41821 "Missing translations for Hungarian (hu)"
Hello,

There are some missing translation for Hungarian (hu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.hu.xlf](https://github.com/symfony/symfony/b

[2021-06-24 06:31] carsonbot opened #41822 "Missing translations for Italian (it)"
Hello,

There are some missing translation for Italian (it). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.it.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 06:31] carsonbot opened #41823 "Missing translations for Japanese (ja)"
Hello,

There are some missing translation for Japanese (ja). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf](https://github.com/symfony/symfony/bl

[2021-06-24 06:31] carsonbot opened #41824 "Missing translations for Lithuanian (lt)"
Hello,

There are some missing translation for Lithuanian (lt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf](https://github.com/symfony/symfony/

[2021-06-24 06:31] carsonbot opened #41825 "Missing translations for Polish (pl)"
Hello,

There are some missing translation for Polish (pl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf](https://github.com/symfony/symfony/blob

[2021-06-24 06:31] carsonbot opened #41826 "Missing translations for Portuguese (pt)"
Hello,

There are some missing translation for Portuguese (pt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf](https://github.com/symfony/symfony/

[2021-06-24 06:31] carsonbot opened #41827 "Missing translations for Romanian (ro)"
Hello,

There are some missing translation for Romanian (ro). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf](https://github.com/symfony/symfony/bl

[2021-06-24 06:31] carsonbot opened #41828 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 06:31] carsonbot opened #41829 "Missing translations for Serbian (sr_Cyrl)"
Hello,

There are some missing translation for Serbian (sr_Cyrl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf](https://github.com/symfony/s

[2021-06-24 06:31] carsonbot opened #41830 "Missing translations for Serbian (sr_Latn)"
Hello,

There are some missing translation for Serbian (sr_Latn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sr_Latn.xlf](https://github.com/symfony/s

[2021-06-24 07:02] loevgaard commented on #41579
Hi, @YaFou. Yeah, I probably agree now that I have given it some more thought. With regards to your comment:

This is what I would call a very small SEO feature, and they already do that with the mentioned no index header being applied on dev sites.

The bundle you mention has extra functionality and frankly doesn't focus on the canonical link tag, but the more general concept of canonical urls.

[2021-06-24 07:02] #41579 closed, assigned to nobody

[2021-06-24 07:41] YaFou commented on #16006
Maybe [this](https://symfony.com/doc/current/logging/monolog_exclude_http_codes.html) can help you @LaurentMarquet

[2021-06-24 07:49] LaurentMarquet commented on #16006
Thanks! Yes it can help to avoid receiving emails but there's still the problem: Is 410 a regular end of the request or not? But it's a quite old issue and maybe it will stay long ;)

[2021-06-24 08:00] YaFou commented on #16006
I don't understand what you mean by *a regular end of the request*?

[2021-06-24 08:07] kl3sk opened #41831 "symfony/lock and .env file"
I don't really know if it is a bug or not, But the documentation seems not talking about it.

**Symfony version(s) affected**: 5.3.2

**Description**

`The FlockStore directory "/%kernel.project_dir%/var/lock" does not exists and cannot be created.`

**How to reproduce**

Install lock component with framework bundle

**Possible Solution**

I realize thant `LOCK_DSN` doesn't resolve `%kernel.projec

[2021-06-24 08:26] carsonbot opened #41832 "Missing translations for Romanian (ro)"
Hello,

There are some missing translation for Romanian (ro). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ro.xlf](https://github.com/symfony/symfony/bl

[2021-06-24 08:26] carsonbot opened #41833 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 08:26] carsonbot opened #41834 "Missing translations for Spanish (es)"
Hello,

There are some missing translation for Spanish (es). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.es.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 08:26] carsonbot opened #41835 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.sv.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 08:27] carsonbot opened #41836 "Missing translations for Thai (th)"
Hello,

There are some missing translation for Thai (th). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.th.xlf](https://github.com/symfony/symfony/blob/4

[2021-06-24 08:27] carsonbot opened #41837 "Missing translations for Turkish (tr)"
Hello,

There are some missing translation for Turkish (tr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.tr.xlf](https://github.com/symfony/symfony/blo

[2021-06-24 08:27] carsonbot opened #41838 "Missing translations for Ukrainian (uk)"
Hello,

There are some missing translation for Ukrainian (uk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf](https://github.com/symfony/symfony/b

[2021-06-24 08:27] carsonbot opened #41839 "Missing translations for Vietnamese (vi)"
Hello,

There are some missing translation for Vietnamese (vi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.vi.xlf](https://github.com/symfony/symfony/

[2021-06-24 08:46] AnaRaro commented on #41826
Hi, I can take care of this issue.

[2021-06-24 08:56] LaurentMarquet commented on #16006
Have a look at the issue definition https://github.com/symfony/symfony/issues/16006#issue-108953630 where it's all explained

[2021-06-24 08:56] althaus commented on #41264
Any news how to get this resolved in any way? @YaFou @OskarStark @fabpot

This little issue is blocking as from upgrading from Symfony 4.4.22.

[2021-06-24 09:00] rezendus commented on #41812
I am taking care of it :) @rezehnde

[2021-06-24 09:05] sylfabre opened #41840 "[Workflow] Intention-revealing methods as MarkingStore"
**Description**
Eric Evans recommends using intention-revealing interfaces in his Domain-Driven Design book.

Right now, the only MarkingStore implementation is the `MethodMarkingStore`  which uses a setter like `setCurrentPlace()` which doesn't reveal anything about the business.

I'm wondering if an `IntentionRevealingMethodMarkingStore` would be accepted as a PR?

This marking store would use t

[2021-06-24 09:12] TristanPouliquen commented on #41840
You could either infer the method name or offer a new configuration key under the workflow step configuration to explicitly define the method you want to have executed for each step of the workflow.

[2021-06-24 09:18] logarytm commented on #41690
Yes, absolutely.

[2021-06-24 11:45] Ippey commented on #41831
I wrote .env like below, then I didn't get the above error message.

[code]

But, a lock file created in `public/%kernel.project_dir%/var/lock` because of not resolving parameters.

![capture](https://user-images.githubusercontent.com/471948/123257669-6fbf8880-d52d-11eb-9070-20694606b89d.png)

So, I think we need resolving parameters.

Can I fix [the config YAML file](https://github.com/symfony/re

[2021-06-24 11:55] lyrixx commented on #41840
Exposing all transition in your final entity breaks the concept of the separation of concern: you'll have to code twice the logic:

* in the workflow configuration
* in the entity / DTO

So IMHO, this is a bad idea to do that, so I'm against to put in the code ATM.

But I'm not totally close to the idea. Let's wait a bit to get other feedback before closing this issue.

Any awyway, thanks for tryi

[2021-06-24 12:21] stof commented on #41831
If you want to resolve parameter references in env variables, you need to apply the `resolve` processor when using them with the `%env()%` syntax, indeed.

[2021-06-24 12:23] sylfabre commented on #41840
@lyrixx @TristanPouliquen Thank you for your feedbacks.

If I'm getting this right, there are two ways to implement a workflow logic:
1. Without the component: the entity is the interface, it exposes intention-revealing methods like `waitForReview()`, `reviewed()`, ... and these methods embed as much business logic as desired (including validation on possible or impossible transition)
2. With the

[2021-06-24 12:29] stof commented on #41840
@sylfabre putting everything in the entity would mean that the entity needs to be able to use validation, security checks and dispatch the logic (or at least events) when transitioning. But this would require injecting services into the entity, which is generally quite harder. That's why the component has a Workflow service responsible for that.

[2021-06-24 12:50] YaFou commented on #39143
I don't see the problem with serializing the whole class, it is expected. If we serialize nothing by default, there is something to do. So, what is the balance between both solutions? I think serializing the whole class and excluding properties we don't want seems to be the best solution.

[2021-06-24 13:05] lyrixx opened #41843 "[HttpClient] Add support for configuring cache at framework bundle level"
**Description**
ATM, when we want to use cache with the HTTP Client we need to configure it manually like states [in the doc](https://symfony.com/doc/current/http_client.html#caching-requests-and-responses).

We can also use the DIC to do so, but I guess this not really easy for new comers
[code]

More over, something is not really DX Friendly: I had to duplication the `base_uri` as you can see :/

[2021-06-24 13:06] christian-kolb commented on #39143
I thought about it again it and the two options wouldn‘t work. They can hide properties. But the problem I‘m having is, that the validation methods are interpreted as properties. They are not for hiding methods.

I think the best solution wouldn‘t even be to adapt the object normalized but the property normalizer. It would just need to receive a flag whether to ignore private properties or not.

O

[2021-06-24 13:07] kl3sk commented on #41831
@Ippey Under WSL2 this did nothing unless an error for me

@stof  At least that what i've done, but after some self brainstorming I realize I've forgot the `resolve` processor.
Unless the recipe update, a note may be added in the doc.

[2021-06-24 13:11] nicolas-grekas commented on #41843
That'd be great! Before, I think we should rewrite the caching client. The current one is based on HttpCache and has issues that can't be fixed with the design of HttpCache, which is made to be a proxy-side cache.

[2021-06-24 13:21] sylfabre commented on #41840
@stof Yes I totally get it, I was just stating that the real question is the place of the boundary: if the entity is the only thing within the boundary then it has to handle everything which is quite harder.

The Workflow component helps with the following consequences:
- The component implementation becomes part of the domain context
- The boundary moves away from the entity
- The component becom

[2021-06-24 13:21] #41840 closed, assigned to nobody

[2021-06-24 15:04] yellow1912 opened #41844 "[symfony/security] compatibility with symfony 5?"
Hello,

I have 2 questions:

1. If I already use the framework, do I still need to require security component?
2. The current security component requires kernel component v4 "symfony/http-kernel": "^4.4"(https://github.com/symfony/security/blob/4.4/composer.json)
The latest version of http-kernel for symfony 5 is already 5.3: https://github.com/symfony/http-kernel

[2021-06-24 15:06] araab commented on #41798
thank you for the fast fix

[2021-06-24 15:09] stof commented on #41844
The `symfony/security` package is not available for Symfony 5+, because it has been split into several `symfony/security-*` since years (which are the ones that should be used) and we stopped shipping the bigger package.

[2021-06-24 15:52] dunglas commented on #40359
Isn't this feature (created by @sroze) covering this use case already? https://symfony.com/doc/current/components/serializer.html#serializing-interfaces-and-abstract-classes

[2021-06-24 16:09] kefzce opened #41845 "Incorrect behavior of PropertyAccessor when dynamic property contains dot"
**Symfony version(s) affected**: 5.2.0

**Description**
Attempting to serialize an array which casted to object, if any of these properties contains "." (dot)
PropertyAccess resolvePath(getPropertyPath) behaves weird

https://github.com/symfony/symfony/blob/0758e5929d536bd5abcd2e69b07da7218edc49aa/src/Symfony/Component/PropertyAccess/PropertyPath.php#L88-L90

**How to reproduce**
[code]
Exception

[2021-06-24 16:47] #41844 closed, assigned to nobody

[2021-06-24 19:08] Storkeus commented on #41825
Working on it

[2021-06-24 19:51] ogizanagi opened #41849 "[PhpUnitBridge] Disable interaction during install"
**Symfony version(s) affected**: 5.3.0

**Description**

Whenever using :
1. `<env name="SYMFONY_PHPUNIT_REQUIRE" value="phpspec/prophecy-phpunit"/>` (#40059)
1. with Composer >= 2.1.0 (https://github.com/composer/composer/pull/9542)
1. and running `vendor/bin/simple-phpunit` with PHPUnit 9.5 for the first time

you'll get this warning:

<img width="1319" alt="screenshot 2021-06-24 à 21 29 12" sr

[2021-06-24 20:57] ThomasLandauer opened #41850 "[Validator] Use same validation pattern for `Assert\Email` as Mailer is using for `new Address()`"
**Description**
When entering `foo..bar@example.com` into a form field with `@Assert\Email()`, this is considered valid.
However, `new Address('foo..bar@example.com');` results in the `RfcComplianceException`:

I know that email validation is a difficult topic ;-) But it cannot (or rather should not) be that one part of Symfony is accepting something, and another part is refusing it.

So I'm sugge

[2021-06-25 01:09] Ippey commented on #41831
@kl3sk I'm sorry, I had the wrong environment value. I got the same error you got when I wrote `flock:///%kernel.project_dir%/var/lock`. And adding `resolve` processor in the config file, the error was gone.

@stof In my opinion, I think we can add the `resolve` processor in the recipe's default config file, because It will become easier to configure the Lock component, and we will prevent creatin

[2021-06-25 06:06] kl3sk commented on #41831
Indeed it is an good alternative.

But the documentation should mention it too.

[2021-06-25 07:16] petrduda commented on #41817
Hello, I will work on it.

[2021-06-25 09:24] TristanPouliquen opened #41852 "[Notifier] Create an in-memory transport for functional test purposes"
**Description**
In functional tests, in isolation, I think it could be a great idea to have a Notifier transport that can work as a stub (on the same model with what exists for Guzzle for example).

This would allow to easily run fully functional or e2e tests with a Notifier integration while giving the possibility for the tester to easily assert what messages have been received by the Notifier.

[2021-06-25 09:33] Livda commented on #39519
Hi guys!

I've found a workaround. Just create a new function like this

[code]

[2021-06-25 10:48] xabbuh commented on #41850
Do you experience the same when setting the `mode` option of the `Email` constraint to `strict`?

[2021-06-25 10:49] xabbuh commented on #41731
Let's close here for now. We can still reopen once we are able to reproduce.

[2021-06-25 10:49] #41731 closed, assigned to nobody

[2021-06-25 10:53] xabbuh commented on #41707
Let's close here for now. We can consider to reopen once we are able to reproduce this.

[2021-06-25 11:02] xabbuh commented on #40477
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-06-25 11:02] #40477 closed, assigned to nobody

[2021-06-25 11:06] xabbuh commented on #41401
closing as a duplicate then

[2021-06-25 11:06] #41401 closed, assigned to nobody

[2021-06-25 11:30] xabbuh commented on #41623
I am not sure I fully understand the issue. Could you create a small example that allows to reproduce it?

[2021-06-25 11:32] xabbuh commented on #36706
@magarzon Please open a new issue and add an example application that allows to reproduce your issue to it.

[2021-06-25 11:36] xabbuh commented on #41643
Would any of you like to give this issue a try?

[2021-06-25 11:39] xabbuh commented on #41652
Can you create a small example application that allows to reproduce your issue?

[2021-06-25 12:15] ThomasLandauer commented on #41850
No. So Symfony Mailer is using `egulias/email-validator`? If yes, I'll mention this at https://symfony.com/doc/current/reference/constraints/Email.html#strict and open a new issue to suggest making this the default.

[2021-06-25 12:31] bastien70 opened #41853 "Use the new Authentication Manager to refresh User Token with new roles"
Before **Symfony 5.3**, I had a Listener that listened to requests and checked each time if the roles of the authenticated user had changed, in which case it refreshed its token.

This allowed the user to automatically benefit from its new features if their role were to change (something which can happen very often in my application).

I realized it like this:

[code]

But since Symfony 5.3, we ha

[2021-06-25 14:19] stof commented on #41850
@ThomasLandauer yes, `egulias/email-validator` is used

[2021-06-25 15:39] ThomasLandauer opened #41855 "[Validator] Change default mode of `Assert\Email` to "strict", for consistency with Mailer"
**Description**
Since Symfony Mailer is using `egulias/email-validator` to validate email addresses, I'm suggesting to make this the default for `Assert\Email`.

Why? When using a framework to let users enter their email address, my minimum expectation would be that the very same framework is able to send an email there ;-) In other words: Symfony needs to stay consistent.

See https://github.com/

[2021-06-25 15:39] ThomasLandauer commented on #41850
Closing in favor of https://github.com/symfony/symfony/issues/41855

[2021-06-25 15:39] #41850 closed, assigned to nobody

[2021-06-25 16:06] stof commented on #41855
Changing the default in the validator component would break things for projects that don't have `egulias/email-validator` as dependency.
However, there is already a config option to configure the default strictness of the email validation globally in the project (for cases where the mapping does not configure it explicitly). A way to solve that would be to have a smart default in FrameworkBundle f

[2021-06-25 16:50] abdulrahman19 opened #41856 "UserLoaderInterface interface still use deprecated method loadUserByUsername"
**Symfony version(s) affected**: 5.3.*

**Description**
The documentation referrers to use [loadUserByIdentifier](https://symfony.com/doc/current/security/user_provider.html#using-a-custom-query-to-load-the-user) method, but the interface force you to implement old `loadUserByUsername` method.

**How to reproduce**
Use `UserLoaderInterface` interface inside `UserRepository` it'll force you to impl

[2021-06-25 17:35] Matts commented on #41731
yeah sorry few busy sprints for me. don't have too much time to create a
reproduction scenario atm. For now have just downgraded and locked
symfony/form to 4.4.19.

Will open once I have more time

On Fri, Jun 25, 2021, 12:49 Christian Flothmann ***@***.***>
wrote:

[2021-06-25 18:09] hracik opened #41859 "Validator auto_mapping not working properly on joined properties"
**Symfony version(s) affected**: 4.4.24

**Description**
Validator auto_mapping is too slow on entity with OneToMany/ManyToMany relations. Probably it want to automatically validate all joined objects. I see Doctrine makes additional (and more imporantly not needed) queries for all joined objects (queries are rather slow because database is huge). No reason to validate existing/unchanged objects.

[2021-06-25 18:20] zors1 commented on #41833
I'd like to work on this issue.

[2021-06-25 18:27] OskarStark commented on #41852
Did you check symfony/fake-sms-notifier and symfony/fake-chat-notifier?

I use this in tests and assert that emails have been sent.

I agree an InMemoryTransport could be helpful as well

[2021-06-25 18:28] OskarStark commented on #41843
I mentioned this idea somewhere in an issue already.

Great idea 🙌🙌

[2021-06-25 21:39] stof commented on #41856
Well, *removing* the old method from the interface can only be done in a major version, so it will be done in 6.0

[2021-06-25 22:06] abdulrahman19 commented on #41856
This is so weird for me that the documentation suggests feature does not exist in the code!
I think this is making a huge confusing, I think documentation need to edit

[2021-06-26 03:05] StaffNowa commented on #41824
I will take it 💪

[2021-06-26 07:30] #41833 closed, assigned to nobody

[2021-06-26 07:31] #41817 closed, assigned to nobody

[2021-06-26 07:32] #41824 closed, assigned to nobody

[2021-06-26 07:33] #41812 closed, assigned to nobody

[2021-06-26 07:34] #41825 closed, assigned to nobody

[2021-06-26 07:35] #41826 closed, assigned to nobody

[2021-06-26 07:49] YaFou commented on #39496
I don't know if it has to be Symfony to fix this issue knowing that it is a PHP bug. However I'm 👍🏻 to fix it in Symfony while the bug is fixed. We should wait a review from a maintainer.

[2021-06-26 08:01] #41806 closed, assigned to nobody

[2021-06-26 08:11] xabbuh commented on #39255
Can you create a small example application that allows to reproduce your issue?

[2021-06-26 08:13] xabbuh commented on #33590
I think adding the suggested constants does not really hurt. Looks like a good start to me.

[2021-06-26 08:18] xabbuh commented on #30763
I think it needs someone to look into the code and find out how hard it would be to support alias decoration too.

[2021-06-26 08:20] xabbuh commented on #34965
Anyone up to give this a try?

[2021-06-26 08:26] carsonbot opened #41862 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt_BR.xlf](https://github.com/

[2021-06-26 08:26] carsonbot opened #41863 "Missing translations for Czech (cs)"
Hello,

There are some missing translation for Czech (cs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.cs.xlf](https://github.com/symfony/symfony/blob/

[2021-06-26 08:26] carsonbot opened #41864 "Missing translations for Lithuanian (lt)"
Hello,

There are some missing translation for Lithuanian (lt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.lt.xlf](https://github.com/symfony/symfony/

[2021-06-26 08:26] carsonbot opened #41865 "Missing translations for Polish (pl)"
Hello,

There are some missing translation for Polish (pl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pl.xlf](https://github.com/symfony/symfony/blob

[2021-06-26 08:26] carsonbot opened #41866 "Missing translations for Portuguese (pt)"
Hello,

There are some missing translation for Portuguese (pt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.pt.xlf](https://github.com/symfony/symfony/

[2021-06-26 08:26] carsonbot opened #41867 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blo

[2021-06-26 08:30] xabbuh commented on #31208
@dkarlovi PR welcome if you would like to give it a try

[2021-06-26 08:39] xabbuh commented on #39381
Would you like to give it a try? I am not sure if it's easy enough to extract the needed information, but it might be worth to find out. Maybe that feature should be controllable via an extra option if it turns out that having it by default makes the output less readable.

[2021-06-26 08:42] xabbuh commented on #41805
I am closing here as the observed behaviour is expected as @derrabus explained. Thank you for understanding.

[2021-06-26 08:42] #41805 closed, assigned to nobody

[2021-06-26 08:45] xabbuh commented on #39496
PR welcome if you have an idea how we could work around it.

[2021-06-26 09:13] YaFou commented on #39143
I try to reproduce your issue @christian-kolb but I could not.

Here is my code:
[code]

Tell me if I miss something.

[2021-06-26 11:14] HeahDude commented on #34965
A workaround can be achieved already using the `data` option on the collection field:

[code]
But that would conflict with any initial data prior to render and submit (i.e persisted model data at root level would not be mapped to that collection field).

[2021-06-26 11:26] #41029 closed, assigned to nobody

[2021-06-26 11:31] keichinger commented on #34965
Do you already have an idea or desired solution floating around in your head on how you'd tackle this scenario? Right now I'm not yet 100% sure how to solve this problem as there are many potential solutions and workarounds available.

Personally I like @diegosardina's approch best:

It's super simple, flexible and fits IMO with existing interactions between form components and the underlying data

[2021-06-26 11:47] HeahDude commented on #34965
There is no easy way to "guess" the constraint option defined on a field unless it is set on the field itself. The constraint could be set as part of the graph of the root object, even dynamically or depending on validation groups. So I would say this approach is very fragile for a generic use.
Also trying to trigger explicitly the [validator guesser](https://github.com/symfony/symfony/blob/5.4/sr

[2021-06-26 12:13] YaFou commented on #41264
As @OskarStark, I wait a review from another maintainer for his opinion. However, I will give a try to fix this issue @althaus 😃

[2021-06-26 12:16] diegosardina commented on #34965
[code]

[2021-06-26 13:18] HeahDude commented on #34965
Well this is just covering one of the easiest case, although `$form->getPropertyPath()` should be used instead of `$form->getName()` to avoid WTF moments.
What about handling `inherit data` (though getting parent of parent) with the actual root context, validation groups and dynamic validation groups on submit, merging the graph of underlying data and constraints set via form options?
Then a  prop

[2021-06-26 13:33] keichinger commented on #34965
I've already thought about this and I agree. There's already some discussions and efforts in improving `CollectionType` handling, as far as I can tell: https://github.com/symfony/ux/issues/3

[2021-06-26 13:39] diegosardina commented on #34965
I don't like forms that depend on JavaScript (and currently my form collections work without JavaScript enabled).

It should be javascript-agnostic.

[2021-06-26 14:06] christian-kolb commented on #39143
@YaFou Thanks for your effort to reproduce it. I needed to dig into it, to see why you're not getting the problems I did. I noticed, that my example was wrong. My bad.
The problem **does not** appear if methods have a parameter, but only for the ones without. So here is one where we see how it breaks. The example isn't something I would build like this, but it's what I could quickly come up with a

[2021-06-26 14:07] christian-kolb commented on #39143
@YaFou Using the `PropertyNormalizer` instead would lead to this output:

[code]

Which contains an irrelevant `defaultLocale`.

A `PublicPropertyNormalizer` or a flag for the `PropertyNormalizer` would solve both variants  🙂

[2021-06-26 16:08] YaFou commented on #41435
I can't reproduce your issue. The non-string attributes are still deserialized.

---
Here is my code:
[code]
and the JSON file:
[code]
and finally here is my output:
[code]
---
Can you provide a minimal reproducer, please?

[2021-06-26 16:14] YaFou commented on #41444
Status: Reviewed

I will try to resolve this issue.

[2021-06-26 17:00] vallel commented on #41834
Hello,
I would like to work on this issue.
Thanks

[2021-06-26 17:52] StaffNowa commented on #41867
I think it a false message. I checked what we have all Russian translations in this file.

[2021-06-27 05:56] StaffNowa commented on #41867
Not critical issue https://github.com/symfony/symfony/pull/41872/files

[2021-06-27 06:31] #41862 closed, assigned to nobody

[2021-06-27 06:31] carsonbot opened #41873 "Missing translations for Armenian (hy)"
Hello,

There are some missing translation for Armenian (hy). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.hy.xlf](https://github.com/symfony/symfony/

[2021-06-27 06:31] #41863 closed, assigned to nobody

[2021-06-27 06:31] #41864 closed, assigned to nobody

[2021-06-27 06:31] #41865 closed, assigned to nobody

[2021-06-27 06:31] #41866 closed, assigned to nobody

[2021-06-27 06:31] #41867 closed, assigned to nobody

[2021-06-27 12:35] #41821 closed, assigned to nobody

[2021-06-27 12:35] #41834 closed, assigned to nobody

[2021-06-27 14:12] fabpot commented on #39496
I've just read the issue on PHP (created in 2015). I think this issue should be closed here as I don't think it would make sense to work around it in Symfony.

[2021-06-27 14:26] derrabus commented on #41796
That is not correct. The class implements `LoaderInterface` which also comes from this package. And honestly, without the validator, the whole class is pretty much useless.

[2021-06-27 15:43] #39496 closed, assigned to nobody

[2021-06-28 04:56] antonmarin commented on #41468
5.3.2 released 👍 Thanks

[2021-06-28 06:41] ghost commented on #40483
@xabbuh I believe https://github.com/symfony/symfony/issues/40483#issue-832613095 and https://github.com/symfony/symfony/issues/40483#issuecomment-820703657 have the same cause. This bug was introduced in both 4.4.20 and 5.2.4 by #39659. The fix has however only been applied to version 5 in #40660. Can it also be applied to version 4 please? Thanks.

[2021-06-28 08:26] stof commented on #41856
the new name *is* used (and you get a deprecation warning if you don't implement it).

What is missing in the doc is that the old name must still be implemented too until 6.0 (renaming methods in an interface is a 2-step process)

[2021-06-28 09:19] TristanPouliquen commented on #41852
Yes, I've seen them. But I do not think they serve the minimal viable need, that is to access what messages have been sent to the Notifier.

By transforming it to an email, you'll lose some context & you need to configure your test environment to be able to check that these emails are sent.

[2021-06-28 09:21] boite commented on #26168
The XmlEncoder still does the wrong thing, but nobody, including me, quite knows what is the correct thing to do!

[2021-06-28 09:46] dvesh3 opened #41877 "[Security] Password encoder factory backward compatibility"
**Symfony version(s) affected**: 5.3.x

**Description**
We have a custom password encoder factory that decorates the Symfony encoder factory and allows to delegate building the encoder to a type specific factory which then is able to create a dedicated encoder for a user object.

Until 5.2.x it worked as expected, but on ver. 5.3.x it started throwing exception "No password hasher has been configu

[2021-06-28 09:54] wouterj commented on #41877
I think you need to write a custom compiler pass and modify your decorator service definition to use `security.password_hasher_factory` or `security.encoder_factory` depending on which service exists.

[2021-06-28 09:59] chalasr commented on #41877
Note that the BC layer in place wires `security.password_hasher_factory` *and* `security.encoder_factory` the same way no matter if you configure `encoders` or `password_hashers`, precisely to avoid such issues.
Also the issue mentions that apart from the validator constraint, everything keeps working as expected.
I suspect there is some special service wiring on your side. I'll have a look asap,

[2021-06-28 10:30] stof commented on #41877
@chalasr the fact that both services are wired does not enforce that decorators keep working (if the decorated service is not the one being used)

[2021-06-28 11:44] dvesh3 commented on #41877
@chalasr not really...we use form login for frontend authentication, which in turn uses `security.authentication.provider.dao` service and this was broken too, so we had to override the service to use old encoder factory https://github.com/pimcore/pimcore/pull/9397/files#diff-712497e7295c9c1ab780fe0fbd9fde99837ddee1cb451f776d31e7b8395b1e1dR47

Nope. we just decorate the core service https://github

[2021-06-28 11:53] chalasr commented on #41877
Yes, I misread the beginning of your issue, sorry.
What @wouterj suggests is the way to go for supporting both versions, so I'm going to close this issue.
If you need some guidance on the implementation, I invite you to ping me on the [symfony-devs slack](https://symfony.com/support).

[2021-06-28 11:53] #41877 closed, assigned to nobody

[2021-06-28 12:24] lxregistry opened #41880 "add one more choice field CountryCallingCodeType"
**Description**

Is there a way to have one more Choice Field CountryCallingCodeType like existing CountryType?
Could you add this form type?
**Example**

the same like existing CountryType just adjust it for Country Dialing Code List

[2021-06-28 12:46] leflings opened #41882 "[Feature suggestion/example] Nested translatable objects"
**Description**
As a mostly inexperience Symfony developer, I was happy to find the addition of [translatable objects](https://symfony.com/doc/current/translation.html#translatable-objects) in [Symfony 5.2](https://symfony.com/blog/new-in-symfony-5-2-translatable-objects).

I was eager to see if this construction allowed nesting such objects within one another, something like this:
[code]

Sadly t

[2021-06-28 13:29] ro0NL commented on #41880
https://github.com/odolbeau/phone-number-bundle :)

[2021-06-28 13:30] ro0NL commented on #41882
see #41858, #41136

[2021-06-28 13:50] #26961 closed

[2021-06-28 13:50] #39162 closed, assigned to nobody

[2021-06-28 14:32] 1ma commented on #39393
Alright, wait.

[2021-06-28 15:57] crtl opened #41886 "Duplicate interfaces UserPasswordHasherInterface and PasswordHasherInterface"
**Description**
In symfony 5.3 there are 2 interfaces for password hasher:
- [Symfony\Component\PasswordHasher\Hasher\UserPasswordHasherInterface](https://github.com/symfony/symfony/blob/20de32eabadde889f260caeed12a38ed02dca417/src/Symfony/Component/PasswordHasher/Hasher/UserPasswordHasherInterface.php)
- [Symfony\Component\PasswordHasher\PasswordHasherInterface](https://github.com/symfony/symfony

[2021-06-28 16:12] wouterj commented on #41886
`UserPasswordHasherInterface` is new and uses PHPdoc methods for backwards compatibility reasons. Implementations of this interface will have these methods (a deprecation notice is triggered otherwise). In Symfony 6, these PHPdoc methods are transformed into real method definitions.

`PasswordHasherInterface` does what it says: it hashes a string representing the password. https://symfony.com/doc/

[2021-06-28 16:12] #41886 closed, assigned to nobody

[2021-06-28 16:25] YaFou commented on #39254
Status: Reviewed

**I can confirm this issue. There is a lack of consistency between `cache:clear` and `cache:warmup` commands.**

---
1. Indeed, when I deleted the `var` directory and I executed `cache:clear`, I had this file structure:
![image](https://user-images.githubusercontent.com/33806646/123670746-d4d0f200-d83d-11eb-83e6-da4ff3cbb5d5.png)

2. Then I executed a second time `cache:clear`:
!

[2021-06-28 17:01] martinhartmann commented on #39255
I've pushed a sample project at https://github.com/martinhartmann/symfony_serializer_issue_39255.

[2021-06-28 17:28] #41856 closed, assigned to nobody

[2021-06-28 17:57] elattariyassine commented on #41811
I will look into this.

[2021-06-28 20:18] jameslmoser commented on #35336
I was able to resolve this by changing this to false:
https://symfony.com/doc/current/reference/configuration/framework.html#throw

Hope that helps.

[2021-06-28 21:50] hafkenscheid opened #41890 "[Serializer] Support for denormalizing empty strings to null"
**Description**
I receive XML objects that have empty tags, which in our application should be `null`.
However, the serializer serializes these properties as an empty string (""). This behaviour is being solved for several types (integers, etc.) in the [AbstractObjectNormalizer](https://github.com/symfony/symfony/blob/e34cd7dd2c6d0b30d24cad443b8f964daa841d71/src/Symfony/Component/Serializer/Normal

[2021-06-28 22:03] qurben opened #41891 "Refreshed RememberMe cookie contains invalid data"
**Symfony version(s) affected**: 5.3.2 (with symfony/security-http 5.3.x-dev 81c183fd1527a2d09bd3b5c69bca3fc24ce18527 for another fix in rememberme)

**Description**

The rememberme cookie returned when a rememberme session is renewed is not properly formatted. This causes it to be rejected when it is used again.

**How to reproduce**

1. Given a setup with rememberme enabled
2. Login with remembe

[2021-06-29 03:50] jjsty1e commented on #41810
close issue because:
1. nobody answers me(🤣)
2. it makes no sense for prod

[2021-06-29 03:50] #41810 closed, assigned to nobody

[2021-06-29 05:50] jderusse commented on #41891
Could you check if #41741 fixes your issue?

[2021-06-29 05:54] COil commented on #41765
Agree, I do this, yes, this is a little frustrating :

        // use Symfony\Component\HttpFoundation\Session\Session;
        /** @var Session $session */
        $session = $request->getSession();

[2021-06-29 06:13] jderusse commented on #41765
wait.. nothing told that `$this->get('session')` returns an instance of `Session`. So, replacing `$this->get('session'); // returns mixed` by `$request->getSession() //returns SessionInterface` is absolutely identical. In both case you can't be sure that the returned object will be an instance of `Session` but in both case you can be confident enough, that in the context of your application you'll

[2021-06-29 07:14] QuentinCurtet commented on #35336
You're link helped me to find my solution.
I only add the parameter debug.error_handler.throw_at to 0 in order to have the same behavior between all my envs.

Thanks @jameslmoser

[2021-06-29 07:44] shyim commented on #41765
But the deprecation will remove also `session.flash_bag` from the DI. So it's related for me :D .

[2021-06-29 07:47] lxregistry commented on #41880
Prefer a native instead an unmaintained bundle

[2021-06-29 07:57] arnegroskurth commented on #39496
@fabpot I agree that this issue needs to be fixed in php but one could also argue that the writability check (see: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Filesystem/Filesystem.php#L672) does not add much value anyway. If we'd just skip the check on Windows, this issue would be solved (adding to the value of this component) at the cost of a minimal overhead of actually tr

[2021-06-29 08:01] nicolas-grekas commented on #39496
Please send a PR as we're always better discussing around code.

[2021-06-29 08:32] oliverreese opened #41892 "`json_login_ldap` in chain with `json_login` and new authenticator"
**Symfony version(s) affected**: 5.3.2

**Description**
a combination of json_login_ldap and json_login will not work when the new authentication manager is enabled. They both
on their own work properly but not in combination. When new authentication manager is disabled they work properly together
in a chain.

**How to reproduce**
see attached repository with 4 different configuration cases to rep

[2021-06-29 08:46] qurben commented on #41891
With #41741 this issue  is still there.

[2021-06-29 08:51] qurben commented on #41891
It seems that in `\Symfony\Component\Security\Http\RememberMe\PersistentRememberMeHandler::processRememberMe` the `$tokenValue` variable is normally not base64 encoded, but when the timestamp block is triggered it is. But it might be that it should always be base64 encoded, but that this goes wrong somewhere else.

(or this might not be relevant at all)

[2021-06-29 08:51] arnegroskurth commented on #39496
@nicolas-grekas There you go: https://github.com/symfony/symfony/pull/41893
I'm leaving the PR as a draft as I do currently not have access to a Windows-machine and cannot test the change.

[2021-06-29 09:20] pounard opened #41894 "Serializer handles float builtin type for constructor parameter but not int"
I have the following use case, consider this class:

[code]

If I send the following payload to the serializer:

[code]

I will end up with the following exception: "The type of the "bar" attribute for class "Foo" must be one of "int" ("string" given).", this is true because I have enable `strict_types` here, which prevent type coercion by the engine.

This is not a bug, but it is in my opinion a

[2021-06-29 09:23] YaFou commented on #39504
I can confirm this issue. I will investigate to find a solution.

[2021-06-29 09:26] ro0NL commented on #41880
last commit is 2021-06-28T15:48:50Z. To me that means it's maintained.

my point is this is not an easy topic, see eg. also https://github.com/symfony/symfony/issues/32356

i may agree all this ideally lives under eg. symfony/intl umbrella, but fact is there's lot of existing infrastructure already (AFAIK phonenumber-bundle is heavily spread). As such any potential migration should be proposed ups

[2021-06-29 09:47] qurben commented on #41891
I think I found the culprit, in `PersistentRememberMeHandler` the tokenValue is set on line 92, but this should be the hashed version of the tokenValue as is done in the createRememberMeCookie method. This creates an invalid cookie.

https://github.com/symfony/symfony/blob/1eb5b354dea1ddf27690d994baa579d47ee1936f/src/Symfony/Component/Security/Http/RememberMe/PersistentRememberMeHandler.php#L91-L1

[2021-06-29 09:53] qurben commented on #41891
I can provide a patch for this.

[2021-06-29 11:28] ymc-thum opened #41901 "[Translation] locales always need be be specified when pulling translations from provider"
**Symfony version(s) affected**: 5.3.0

**Description**
When pulling translations using `bin/console translation:pull`, the `--locale` option always needs to be specified even if locales have been defined in `translation.yaml`

**How to reproduce**
- configure a valid translation provider in `translation.yaml`, e.g. for loco
[code]
- run the ` bin/console translation:pull --force`

Expectation: tr

[2021-06-29 13:08] andrewmy commented on #39491
Let's hope https://github.com/symfony/symfony/pull/39623 is happening

[2021-06-29 13:09] stephanvierkant commented on #41661
I'd like to create a PR, but I think I need some guidance. Maybe @dunglas can help?

I see the `NotNull` constraint is handle by the `PropertyInfoLoader`. Should I add a `JoinColumn` to `PropertyInfoLoaderEntity`?

[2021-06-29 13:57] vasilvestre commented on #30287
Let's close this until someone needs it too

[2021-06-29 14:33] danielrestrepo commented on #38613
Same here with a freshly installed Symfony 5.3

[2021-06-29 14:49] danielrestrepo commented on #38658
Maybe try installing `composer require symfony/uid` announced here https://symfony.com/blog/new-in-symfony-5-2-doctrine-types-for-uuid-and-ulid

[2021-06-29 16:56] ro0NL commented on #41890
As long as `setBar('')` is allowed at the domain level, im not sure serializer should cast (or care for that matter). In this case the empty string should be handled at the domain level IMHO (`$this->prop = '' === $v ? null : $v;`)

`DENORMALIZE_EMPTY_STRINGS_AS_NULL => true` + non-nullable property could also be expected to crash IMHO

[2021-06-29 17:20] ro0NL commented on #41894
point taken. My main issue is should it be opt-int? Given `int $bar` may very well mean a strict schema for the payload is intended, eg. `"bar": <int>`

The float handling is different IMHO, given we could have lost a floating point number: https://3v4l.org/MTW4j In this case it does not apply.

[2021-06-29 17:40] ogizanagi commented on #41890
Regarding the use-case, this feature request somehow relates to https://github.com/symfony/symfony/issues/27933 which would enable and explicit this behavior per-property (with a normalizer function converting empty strings to null).

I don't agree this is something that should happen at the domain-level. The signature of the method allowing an empty string does not mean it is expected. At best it

[2021-06-29 17:58] OskarStark commented on #41901
cc @welcoMattic

[2021-06-29 17:59] OskarStark commented on #41892
cc @wouterj

[2021-06-29 20:03] AymDev opened #41906 "Messenger Supervisor graceful shutdown"
### Description:

I have a proposition to perform a graceful shutdown of the `messenger:consume` command with **Supervisor**, especially useful when the **Symfony** application is in a **Docker** container.

Given a **Docker** image which entrypoint uses `supervisord`, stopping it sends a `SIGTERM` signal to **Supervisor** which sends a `SIGTERM` signal to the programs (the `messenger:consume` com

[2021-06-29 20:53] dunglas commented on #41661
I think that support for this case should be added directly to the Doctrine/PropertyInfo bridge (so it will work for all features relying on the PropertyInfo extractor, not only for auto-validation): https://github.com/symfony/symfony/blob/5.4/src/Symfony/Bridge/Doctrine/PropertyInfo/DoctrineExtractor.php#L65

Thanks for working on this!!

[2021-06-29 20:54] hafkenscheid commented on #41890
I like your per-property solution, and will therefore close this one.

[2021-06-29 20:54] #41890 closed, assigned to nobody

[2021-06-29 20:55] hafkenscheid commented on #27933
I like this solution. Are there any plans to start working on this?

[2021-06-30 01:30] rsaylor-strivven commented on #34770
composer require symfony/apache-pack

[2021-06-30 05:28] jjsty1e commented on #41814
I will work on this.

[2021-06-30 06:32] #41822 closed, assigned to nobody

[2021-06-30 06:47] TeLiXj opened #41909 "Route not found with UTF-8 parameter name"
**Symfony version(s) affected**: 5.3.2 (at least)

**Description**
Routes with an UTF-8 parameter name can't be found.

**How to reproduce**
In YAML
[code]
or attributes
[code]
**Possible Solution**
I don't know, I suppose that is a regression because I remember using this on Symfony 2 many years ago.

**Additional context**
I have tried with YAML, annotations and attributes and only in the last 5

[2021-06-30 07:08] pounard commented on #41894
Yes, I agree, that's why I don't consider this being a bug actually.

I'm not sure lots of people do consider strict requirements, if they do I guess they would annotate everything, write their own denormalizers, etc.. Of course, this use case must exist, I do sincerely think that most people don't go that far and are just building API's for most common cases (headless web apps, I guess, sometime

[2021-06-30 07:17] #41757 closed, assigned to nobody

[2021-06-30 07:28] #41814 closed, assigned to nobody

[2021-06-30 08:07] AdrienBr commented on #35098
Hi,
Also interested here !

Thank you

[2021-06-30 08:27] carsonbot opened #41915 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.zh_CN.xlf](https://github.com/symfony/symfo

[2021-06-30 10:56] stof commented on #41909
I don't think UTF-8 parameter names were ever officially supported. If it worked in Symfony 2, it might be due to implementation details that were not doing anything incompatible with them. But the advanced usage of regex introduced in the url matcher rewrite might have changed that.

[2021-06-30 11:37] ogizanagi commented on #27933
Regarding the issues & feature requests that echo to this one and what I encountered in my own projects, I think the use-cases are too narrowed for the PropertyAccess proposition to justify a whole new metadata system in it to handle annotations/attributes. But there is still #38515 which is opened on this regard.

About implementing it in the Serializer, #39399 might have significantly simplify t

[2021-06-30 11:50] nicolas-grekas commented on #41909
We could make it officially supported as a new feature, with proper test cases.
PR welcome @TeLiXj if you want to see it happen and can give it a try.

[2021-06-30 11:54] bpolaszek commented on #38192
Upvote 👍

[2021-06-30 12:47] TeLiXj commented on #41909
Well, I'll try to create a PR for this at the end of week :)

[2021-06-30 13:09] #33622 closed

[2021-06-30 15:05] m-vo commented on #41796
Let's fix this over at `DoctrineBundle` then.

[2021-06-30 15:05] #41796 closed, assigned to nobody

[2021-06-30 16:11] tscni commented on #41698
I see. Thanks for the insight!

[2021-06-30 16:11] #41698 closed, assigned to nobody

[2021-06-30 20:54] welcoMattic commented on #41901
It seems related to https://github.com/symfony/symfony/issues/41501, I had to fix it last week, but I miss time to work on it. I'll try to do my best soon, but if someone wants to open a PR before, please do, I'll review it.

[2021-07-01 04:19] jjsty1e commented on #41915
All translations for zh_CN have ben done at this moment, this issue could be closed, you could [ check procession states](https://symfony-translations.nyholm.tech/) here
![image](https://user-images.githubusercontent.com/5469845/124063856-599e5480-da66-11eb-8e0d-1d6401f8f048.png)

[2021-07-01 06:30] OskarStark commented on #41843
@lyrixx are you working on this topic? I would really appreciate this feature 😃

[2021-07-01 06:34] #41811 closed, assigned to nobody

[2021-07-01 06:34] #41915 closed, assigned to nobody

[2021-07-01 07:22] umulmrum opened #41922 "Throw exception on TemplateCacheWarmer failure"
**Description**
The TemplateCacheWarmer has been ignoring errors since its first release in 2015. But I wonder what the rationale behind this decision is, as a) I'd like errors to pop up as early as possible (i.e. in a CI pipeline where the cache is warmed), and b) other cache warmers do throw exceptions, so ignoring errors doesn't seem to be a general rule in warmers.

Currently all templates wit

[2021-07-01 07:42] lyrixx commented on #41843
Not yet because told us we have to rewrite the cache client before. So I'm waiting for that before

[2021-07-01 08:27] #30287 closed

[2021-07-01 09:07] quazardous opened #41925 "using array_filter in console leads to memory leak (PHP80)"
**Symfony version(s) affected**: 5.3.2

**Description**
Using `\array_filter()` within a concole command leads to memory usage increase.

I'm putting this bug here for now, but I understand it can be misplaced. So I apologized in advance if this turns out to be just noise...

**How to reproduce**
[code]
create `array_filter_bug/array_filter.php`
[code]
Create a test command `array_filter_bug/src/C

[2021-07-01 09:13] stof commented on #41925
Is it actually related to the console component, or to have the whole logic happening inside a function rather than in the global scope ?

side note: your `my_array_filter` is not only adding a foreach and unset compared to `array_filter`. It also has a different signature (it receives the array by reference and modifies it in place)

[2021-07-01 09:45] quazardous commented on #41925
It's probably both, but outside console the memory **never** increase with all the implementations (`$f1` to `$f4`).

Within console in function scope only `$f3` and `$f4` are working without memory increase (it's why I could not keep the same signature).

[code]

But ~~in global scope~~(*) not inside a closure `$f3` is leaking memory too (inside the console) :

(*) EDIT: The console is use `inclu

[2021-07-01 09:50] stof commented on #41925
Then this should clearly be reported to PHP, not to Symfony, as you managed to create a case that leaks without any Symfony code involved.

[2021-07-01 09:55] quazardous commented on #41925
Sorry I've mis explained. It's not global scope. It's file scope. But for the console it's included inside a function of course. What I was pointing is that it's different within a closure. I'll rewrite my comments

[2021-07-01 09:57] stof commented on #41925
but in any case. If you are able to reproduce the leak without any symfony/console code, it is clear that the issue is not in symfony/console but in PHP itself (and then, maybe symfony/console triggers that PHP bug due to the conditions triggering it)

[2021-07-01 10:02] quazardous commented on #41925
I'm not able to reproduce the bug without SF. `$f1` to `$f4` are never leaking memory when called directly with `php`.

[2021-07-01 10:04] stof commented on #41925
does it also happen if you create a pure PHP file that includes your file inside a function and executes that function ?

[2021-07-01 10:25] quazardous commented on #41925
You are right it's leaking with a simple test class.

[code]

I'm filling an issue in PHP and I'll put the link for cross ref.

Thx for your guidance.

[2021-07-01 12:03] rvanlaak commented on #41552
Tried to start making fixes for PHP 8.1, but this test seems to fail locally on PHP 8.0.7 as well.

Same for `Symfony\Component\ErrorHandler\Tests\DebugClassLoaderTest::testVirtualUse`, which seems to fail on the `:` return character:

![image](https://user-images.githubusercontent.com/2707563/124115602-4beccd00-da6e-11eb-998f-da4b734ec45b.png)

Is there anything in my run configuration why this c

[2021-07-01 12:26] nlhommet opened #41927 "Attributes Route does not work with PHP8 in fresh install of 5.3"
**Symfony version(s) affected**: 5.3

**Description**
I have started a new project with the version 5.3 on PHP8.0 and I have nothing more to install.
I create my first test controller:

[code]
And when I use the command `symfony console debug:route`, my route is missing in debug

[code]
In the doc, nothing must be installed to use the route with attributes.
But after research, I had to create the

[2021-07-01 12:48] quazardous commented on #41925
PHP Bug https://bugs.php.net/bug.php?id=81215

[2021-07-01 12:49] chalasr commented on #41925
Closing then, thanks.

[2021-07-01 12:49] #41925 closed, assigned to nobody

[2021-07-01 13:03] Nyholm commented on #38993
Please keep this open

[2021-07-01 14:48] stof commented on #41922
Well, if you want to see template syntax errors in CI, run the `lint:twig` command in your CI.

Also, for templates, making it fail when a template cannot be parsed without errors would require adding a feature to exclude templates from the cache warmer. For instance, the templates shipped in DoctrineBundle for the profiler panels are relying on Twig functions provided by WebProfilerBundle. In a p

[2021-07-01 19:39] kbond opened #41931 "[Console] `lint:command` command or `list --no-lazy` option"
**Description**
As part of my CI build process, I run `bin/console list` as a quick lint to ensure all my commands are configured correctly. In 5.3+, the list command is lazy and doesn't actually instantiate each command. I think this is a great feature but, had I not noticed, would have given me a false sense of security.

The work-around for me was to add `bin/console list --format=xml`. Adding

[2021-07-01 20:40] michaelzangerle commented on #40485
Looks like it! Thanks anyway.

[2021-07-01 20:40] #40485 closed, assigned to nobody

[2021-07-01 21:30] Tobion commented on #41927
Looks like this issue should be reported in https://github.com/symfony/recipes than here

[2021-07-01 22:08] nlhommet commented on #41927
oh yes sorry, I don't have the reflex to check here
I close this issue because it is duplicated with this one this issue https://github.com/symfony/recipes/pull/916

[2021-07-01 22:08] #41927 closed, assigned to nobody

[2021-07-01 22:26] EriCreator opened #41935 "DkimSigner signature is invalid."
#### I am creating and signing emails like this:

[code]

#### And generated my keys like this:
[code]

Now the email successfully reaches the recipient, but the DKIM signature seems to be invalid and I don't know why.
That's the message I got from [mail-tester](https://www.mail-tester.com/)
#### This is your signature:
v=1;
	q=dns/txt;
	a=rsa-sha256;
	bh=LTWs7yVdhHY3n3whr92fAa3xl+k99EMNb5SLV2FQ9J

[2021-07-01 22:59] EriCreator commented on #41935
Is it possible for the signature to fail if I am currently working on a local environment and use images in the email?
The images are hosted locally and therefore the body which is being hashed might look different on my end?

Edit: It has nothing to do with images. the same thing happens with simple text.

[2021-07-02 04:29] shokhaa commented on #41089
https://github.com/symfony/symfony/pull/41939

[2021-07-02 06:26] #41580 closed, assigned to nobody

[2021-07-02 06:39] umulmrum commented on #41922
Ah, I wasn't aware of your second argument, thanks for the pointer. But that also means that `lint:twig` can only be run in `dev` and `test` environments (where the WebProfilerBundle is active by default), and it might happen that arbitrary templates also depend on dev-only functions and explode in `prod`, right? Solutions to this might be more complex for developers so I'm not sure what the "perf

[2021-07-02 07:21] shokhaa commented on #41828
there it turns out everything has already been done!

[2021-07-02 08:27] #41828 closed, assigned to nobody

[2021-07-02 08:33] xabbuh commented on #40129
Let's close here for now until we are able to reproduce the issue.

[2021-07-02 08:33] #40129 closed, assigned to nobody

[2021-07-02 09:11] EriCreator commented on #39354
@metaer  can you share the code of your temporary solution?
I seem to have a similar problem with the DkimSigner

[2021-07-02 09:13] jc-oclock commented on #40034
Thanks for your proposal @monteiro.

I replied to @nicolas-grekas on the other issue.

[2021-07-02 09:30] Brenneisen opened #41940 "[Console] Colors missing in console output"
**Symfony version(s) affected**: 5.3.2

**Description**

After updating to `symfony/console 5.3.2` the colors in the Laravel Tinker console are missing.

**How to reproduce**

Missing colors:

<img width="394" alt="Bildschirmfoto 2021-07-02 um 11 22 37" src="https://user-images.githubusercontent.com/5833477/124253636-85820e80-db28-11eb-8bac-e62d1179c3d7.png">

Downgrade `symfony/console`:

<img wi

[2021-07-02 10:33] xabbuh commented on #39393
@1ma Would you like to give it a try?

[2021-07-02 10:45] stof commented on #41940
this looks weird to me, because the color detection code has not changed. Is PsySF relying on the Symfony detection of color support or is it making its own logic ?

[2021-07-02 10:46] 1ma commented on #39393
Yes, if you don't mind. I was actually halfway through, but I let it slide.

[2021-07-02 10:48] xabbuh commented on #39393
PR welcome :)

[2021-07-02 11:27] Brenneisen commented on #41940
@stof I'm not completely familiar with the code, but to me it looks like the `OutputFormatter` is being used:

https://github.com/bobthecow/psysh/blob/main/src/Output/ShellOutput.php

[2021-07-02 11:58] faizanakram99 opened #41941 "[FrameworkBundle] `Symfony\Contracts\Cache\CacheInterface` is autowired to system cache instead of app cache"
**Symfony version(s) affected**: 5.3.3

**Description**

Want to confirm whether it is intended or a bug.
If I type hint a  constructor argument `$cache` with `Psr\Cache\CacheItemPoolInterface`, app cache is injected into it and if I use `Symfony\Contracts\Cache\CacheInterface` it uses system cache.

Using argument name such as `$poolCache` injects proper cache instance whether type hinted with `S

[2021-07-02 12:01] metaer commented on #39354
@EriCreator for this temporary solution I used swift-mailer bundle: https://symfony.com/doc/current/email.html#installation

Here is my service defenition for custom swift mailer signer plugin for default mailer:

[code]

where `default` can be replaced with your alternative mailer if you use multiple swiftmailer services:
[code]

My custom signer plugin class code example:
[code]

Sending message

[2021-07-02 12:32] sabat24 commented on #37421
I'm not sure why this issue is closed, because that merge didn't solve the core problem.

I created an entity with not null `status` property. Workflow Component is configured to use that property for `marking store`. The `initial_marking` option is set to `draft`.

My entity has always got some status, so that property can't be null. This is why when I want to create new entity I have to provide

[2021-07-02 13:09] #36893 closed

[2021-07-02 13:47] pluk77 commented on #37421
@sabat24 I also would have liked a slightly different solution, but at least there is a work-around, which I have used extensively

I would indeed create an initial place which is set in the constructor and define the first transition to only go from that initial place to draft.

After instantiating your training entity, you apply the draft transition and all is well. A small extra step that will

[2021-07-02 14:07] duboiss opened #41942 "[Console] Hidden option using PHP 8 AsCommand attribute"
**Symfony version(s) affected**: 5.3.0 to current latest 5.3.3

**Description**
I always get a different behavior between hidden option in php 8 attribute (#[AsCommand]) and the `setHidden()` method in configure method even with the fix #41686. Also with `cache:clear`.

**How to reproduce**
I've created a project (see below) to simplify the tests, but :
- Declare the DefaultCommand class in `src/C

[2021-07-02 14:43] xabbuh commented on #41769
looks like this has been solved in the meantime by #41747 and updating to 5.3.3 should help

[2021-07-02 14:43] #41769 closed, assigned to nobody

[2021-07-02 14:50] xabbuh commented on #41756
Hm, I do not really understand why the transport would have to implement this interface. This interface must be present on the receiver instead, right? And the `AmqpReceiver` does implement it.

@dbu As you contributed the `QueueReceiverInterface` in #38973 what do you think about this?

[2021-07-02 14:51] xabbuh commented on #25738
I am going to close here as we never managed to agree on any better solution.

[2021-07-02 14:51] #25738 closed

[2021-07-02 15:44] sabat24 commented on #37421
@pluk77 Your flow is exactly that what I called a "fake" initial status. But in my opinion Workflow should just do it behind scenes. There should be a method named for example `initialize`.

[code]

If my object is already in workflow with it's initial marking defined in `initial_marking` option, `entered` event should be dispatched. It's very clean and simple solution.

[2021-07-02 15:55] crtl opened #41947 "[Serializer] provide functionality to config in php code"
**Description**
At the moment it is possible to define serializer config through:
- xml
- yaml
- annotations

It would be nice to have an interface/method to implement configuration in PHP classes just like Validators `loadValidatorMetadata(ClassMetadataInterface $metadata): void`.

**Example**
[code]

[2021-07-02 16:20] lud commented on #26523
Yes.

[2021-07-02 16:21] lyrixx commented on #37421
IMHO, there is nothing wrong here.

1. if the object does not have a marking, the component will set the marking and dispatch the event
2. if the object has a marking, the component does nothing, because nothing occurred.

And you have well summarized the situation:

If you don't want to let the `null` value, there is nothing we can do.

BTW, I do think leaving `null` is the way to go. Indeed the

[2021-07-02 16:25] epitre commented on #37421
I agree with @lyrixx , if there is already a status, there must be a reason.

the goal here is to _initialize_ the status, not to reset it.

leaving the status property is the way to go, IMHO.

[2021-07-02 16:31] crtl opened #41950 "[Twig] Allow filtering for file extensions in template paths"
**Description**
When providing `paths` configuration for twig templates all files in those paths are handled as templates which leads to `cache:warmup` crashes when paths contain non twig templates because of invalid syntax.

**Example**
[code]

**Context**
I have to serve an angular app through symfony server because the source code should be protected by security firewall.
Angular project is loc

[2021-07-02 19:39] tomasfejfar commented on #26523
https://github.com/symfony/symfony/pull/30969 this one is much further...

[2021-07-02 19:55] sabat24 commented on #37421
The only reason for already existing status is *always-valid paradigm*.

That's my goal, too. I manually initialized status in entity and this is why I wanted to find a way that Workflow was aware about that initialization to dispatch some starting events as "orchestrator".

I understand your point of view, but we can't agree with one crucial point: allowing the entity to not have a marking. For m

[2021-07-02 20:05] wouterj commented on #26523
Is there anyone up to take over that PR or create a new PR for this issue?
It doesn't make sense to keep feature requests stalled for more than 2 years.

If you need help with the contribution process, feel free to hop into the #contribs channel on Symfony Slack.

[2021-07-02 21:51] c33s commented on #32791
will have to retest...

[2021-07-02 22:06] EriCreator commented on #39354
It's indeed working this way. Thank you so much for helping @metaer !!

[2021-07-02 23:06] wouterj commented on #26523
Ah, I see @theofidry restarted the PR himself. Thanks!

[2021-07-02 23:59] tacman opened #41955 "Update make:auth to use the new security system, update docs."
**Description**

Anyone trying to heed the deprecation warnings about using the new security system risks frustration, as there's no documentation or examples of how to actually implement it.

**Example**

bin/console make:auth

generates the old security

https://symfony.com/doc/current/security/form_login_setup.html

describes the old security.

It'd be great if make:auth and the documentation g

[2021-07-03 03:44] vuphuong87 commented on #41839
Let me work on this one.

[2021-07-03 05:07] #41922 closed, assigned to nobody

[2021-07-03 05:21] #41111 closed, assigned to nobody

[2021-07-03 05:34] #39491 closed, assigned to nobody

[2021-07-03 06:30] #41813 closed, assigned to nobody

[2021-07-03 06:30] #41839 closed, assigned to nobody

[2021-07-03 13:03] chr-hertel opened #41958 "[DotEnv] Additional debug command to get more info about the vars and files"
**Description**
While working with multiple dotenv files one might get confused what the current value is and how different files override each other. Besides the already existing `debug:container --env-vars` I would propose to add an additional `debug:dotenv` command that focuses only on the files and isn't tied to the container

**Example**
![Bildschirmfoto von 2021-07-03 14-49-47](https://user-

[2021-07-03 13:09] #39102 closed, assigned to nobody

[2021-07-03 14:46] abunch opened #41959 "Is there a way to get FormLoginAuthenticator to not respond to json_login requests when using the same login route?"
The FormLoginAuthenticator supports() responds with a true to an attempted json_login request when both have the same login route.  Switching to /api/login for json_login fixes the issue, but both could conceivably share the same route if there was a content-type check in supports to either return false when the content was json or true for form data.

BTW - loving the simplicity of the new securi

[2021-07-03 17:34] eailyass commented on #34030
It's been a while I don't know if they did anything to solve it!

[2021-07-03 17:59] javiereguiluz commented on #41931
@kbond if you only need to check if the command exists and it's correctly registered in the app, you can use something like this: https://github.com/EasyCorp/EasyAdminBundle/blob/master/tests/DependencyInjection/ServicesTest.php

If you need to check if the command actually executes as expected, you could run `command --help` and check if the process exited with an error.

[2021-07-03 20:14] aurelijusrozenas commented on #39946
Reproduceable example https://github.com/aurelijusrozenas/sf-console-style-bug

[2021-07-03 21:15] SamMousa commented on #25798
It is still relevant.

[2021-07-03 23:59] chalasr commented on #41931
@javiereguiluz Note that calling `getName()` like in the test you linked does not actually instantiate your command if it is fully lazy (ie. if it declares its description via the `$defaultDescription` static prop or the `AsCommand` attribute), because it is wrapped in a `LazyCommand` instance.
You need to call another method such as `getHelp()`) to actually load the command (see LazyCommand inter

[2021-07-04 04:50] nicolas-grekas commented on #41931
This seems like testing that a service can be created. I'm not sure this makes much sense to have this for commands specifically.

Can you explain why it would?

[2021-07-04 06:54] Ippey commented on #41823
I'll try it.

[2021-07-04 07:49] inzanty opened #41968 "[Console] Bug with multiply entity_managers"
**Symfony version(s) affected**: 5.3.3

**Description**
I need to define two entity managers, and my config looks similar this:
`orm:
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                mappings:
                    Web:
                        is_bundle: false
                        type: annotation

[2021-07-04 08:03] wouterj commented on #41931
An example Kevin mentioned on Slack was defining a non array default for an array option. The service definition is OK (so `lint:container` is green), but the command will produce an error when you try to initialize it.

If there are more things like this, I'm not opposed to add a `lint:commands` command. I don't think the flag makes sense.

[2021-07-04 08:16] nicolas-grekas commented on #41931
We're trying to not grow the list of default commands too much. Since `bin/console list --format=xml` does the job, I don't think it's worth adding a dedicated command.

[2021-07-04 08:48] javiereguiluz commented on #41931
I don't like the proposed flag much either. Wouter's solution seems nice to me.

I think this is important as a quality check. If you are e.g. a third-party bundle and include commands, it's critical to ensure that those commands exist, are registered, can be run, etc.

[2021-07-04 09:00] #40034 closed, assigned to nobody

[2021-07-04 09:22] #40528 closed, assigned to nobody

[2021-07-04 09:37] #38710 closed, assigned to nobody

[2021-07-04 09:37] #41823 closed, assigned to nobody

[2021-07-04 09:45] inzanty commented on #41968
I managed to create an entity by giving it a full name. Example: `php bin/console make:entity Web\Test`, better to clarify this in the documentation [here](https://symfony.com/doc/current/doctrine/multiple_entity_managers.html).

[2021-07-04 11:12] flip111 commented on #34929
yes

[2021-07-04 12:14] plandolt opened #41970 "[Form] Restrict types for the `label` option for form fields"
This is a follow up of https://github.com/symfony/symfony/pull/41717. There we allowed `TranslatableMessage::class` next to `string` and `null` for the form field option `help`. The form field option `label` does currently not have any restrictions for allowed types.

So the question would be: Should we restrict the allowed types for `label` to the same as for `help`?

[2021-07-04 12:32] andimg93 opened #41971 "Collection Filtering to specific key"
Hello,

to get a specific element of a collection we have to iterate it with "filter", but the filter method doesnt stop while finding a matching element.
So while i only want to find one item, that match my criteria and then instantly return it i have no possibility for it.

Laravel has the method "only" https://laravel.com/docs/8.x/collections#method-only for it - So this is a feature request fo

[2021-07-04 12:37] sstok commented on #41935
Maybe related to #39354 ?

[2021-07-04 12:41] andimg93 commented on #41971
"only" is a method with fetching by however identifier, of the related element, u need.
While u only want a specific item by using one info, u could index the collection by a specific criteria and then use a simple get on it.

[2021-07-04 13:09] #34764 closed

[2021-07-04 13:23] sstok commented on #39381
👍🏼  for adding a new option like `--with-aliases`. But properly only for a single service?

[2021-07-04 13:32] nerg4l commented on #27538
Yes.

A possible workaround was already added in the comments.

@xabbuh I'm asking you because you are the one who labelled this issue as a bug. How can we proceed with fixing this issue? Could you mention/involve someone who has the time to have a look on this? I proposed a solution in https://github.com/symfony/symfony/issues/27538#issuecomment-417059507. I would like to provide a PR but I have

[2021-07-04 13:40] sstok commented on #41845
You can try using the `PropertyPathBuilder` with explicitly calling `appendProperty()`.
The property-path string currently doesn't support special-case names.

Status: Reviewed

Or you can try casting an object to an array instead? And use an index-path.

[2021-07-04 14:10] kefzce commented on #41845
Is it possible to do it, when I'm using Serializer directly?
My case was about an exception during serialization
[code]

[2021-07-04 14:25] sstok commented on #41809
You can configure the block-name of your type using the `block_name` option, so you don't have to alias the actual block.

https://symfony.com/doc/current/reference/forms/types/form.html#block-name
https://symfony.com/doc/current/form/form_themes.html#fragment-naming-for-individual-fields

As this isn't really a bug I'd suggest you use the [Slack `#support` channel](https://symfony.com/slack) for

[2021-07-04 16:01] sstok commented on #41845
The `ObjectNormalizer` allows to pass a `PropertyAccessor` instance, unless there is a Framework configuration (I haven't used the serializer myself) you can overwrite (_decorate_) the `ObjectNormalizer` service with a custom `PropertyAccessor` service.

Or we could change the PropertyPath parsing logic to handle special cases like
`"No . way anyone ""Would"" do "" this".'[right?]'"` (using quote

[2021-07-04 16:21] OskarStark commented on #41971
Which Collection do you refer to?
Can you share some example code? Thanks

[2021-07-04 19:09] andimg93 commented on #41971
No need for an example code, cause this relates to any PersistentCollection - So just imagine e.g. a Event where u have a PersistentCollection of Invitations, not my use case but a simple imaginable application example.

[2021-07-04 19:20] OskarStark commented on #41971
Ok exactly that's why I am asking because the `PersistentCollection` is part of Doctrine, not Symfony 🤔

[2021-07-04 19:21] andimg93 commented on #41971
ok, sorry then this is not the right place to ask for a feature request - I guess.

[2021-07-04 19:21] #41971 closed, assigned to nobody

[2021-07-04 22:52] afkernohan commented on #41809
I was sure I had found a bug, but I can see this is not the case now.

What I've learned is that `_<collection>_row `  is the block for the collection. Whereas `_<collection>_entry_row` is the block for a single item within the collection. If you theme `_<collection>_row` it will work in your form, but the prototype will continue to use the default markup. The correct approach would be to theme `_

[2021-07-04 22:54] henrypenny commented on #41809
I was sure I had found a bug, but I can see this is not the case now.

What I've learned is that `_<collection>_row` is the block for the collection. Whereas `_<collection>_entry_row` is the block for a single item within the collection. If you theme `_<collection>_row` it will work in your form, but the prototype will continue to use the default markup. The correct approach would be to theme `_<c

[2021-07-04 22:54] #41809 closed, assigned to nobody

[2021-07-05 00:06] zahitrios commented on #34281
I had the same error in Symfony5, and I **solved** adding `use Exception;` in the first lines of my class (In my case I was building a Service)

[2021-07-05 01:00] a1812 commented on #41853
Maybe this will help

src/Symfony/Component/Security/Http/Authenticator/Token/PostAuthenticationToken.php

replace
`$this->tokenStorage->setToken(new PostAuthenticationGuardToken($sessionUser, 'main', $sessionUser->getRoles()));`
to
`$this->tokenStorage->setToken(new PostAuthenticationToken($sessionUser, 'main', $sessionUser->getRoles()));`

[2021-07-05 08:39] dbu commented on #41756
yep, that change was introduced by me in 81d6a49750fd2734bbb5fcb7efcbc34e22639641

my understanding was that the thing that is put into Worker::receivers is the amqp receiver. then https://github.com/symfony/symfony/commit/81d6a49750fd2734bbb5fcb7efcbc34e22639641#diff-50e65343e6cdefbf7f7153c5200bfbc5a5f7edd6a921065d50a9de531d2fd6ebR75 would work.

is the AmqpTransport injected into the worker? or

[2021-07-05 10:00] oliverde8 opened #41988 "[Lock]Lock keys table is not created automatically with PDO"
**Symfony version(s) affected**: 4.4.26

**Description**

Using mysql for storing my locks. According to the documentation, I don't need to create the table myself, it should create it itself.

But when I try acquiring a lock I get the error:
[code]

The stack trace(see below) shows the call to the save method as documented, but the createTable method is not called.

**How to reproduce**

Configur

[2021-07-05 10:53] kbond commented on #41931
No worries, I'll use my workaround.

If anyone ever stumbles upon this issue, my full workaround is `bin/console list --format=xml > /dev/null`. This hides the stdout from my CI logs but allows any errors to show.

[2021-07-05 10:53] #41931 closed, assigned to nobody

[2021-07-05 11:46] #40241 closed, assigned to nobody

[2021-07-05 11:52] #39393 closed, assigned to nobody

[2021-07-05 13:56] stof commented on #39682
@xabbuh what do you think about this ?

[2021-07-05 14:13] soullivaneuh commented on #40477
@stof The `messenger:stop-workers` is running on the new code base because `current_path` mean the `current` symbolic link that is changed before this command run.

Is that the expected behavior for you?

[2021-07-05 15:33] christian-eriksson commented on #41006
@nicolas-grekas I might have some time later this week, I'm not super familiar with PHP (or testing in PHP) but I could give it a go, and implement what we discussed. Which branch do I branch from (master?) and where to I merge to?

[2021-07-05 18:14] awd-studio opened #41996 "[Serializer] Allow using generic annotations and not parsing them as an array"
**Symfony version(s) affected**: 5.3.3

**Description**
Denormalizer breaks with an error `Data expected to be an array, string given.` when it handles an object, which contains  a generic-like annotation, but is not an array or iterable.

**How to reproduce**
[code]

**Possible Solution**
I digged it in PhpDocTypeHelper, which is part of phpDocumentor, so I don't know how to solve it. :worried:

[2021-07-06 06:37] derrabus commented on #39132
Let‘s keep this issue open since there‘s a WIP PR already.

[2021-07-06 06:48] ajcerezo commented on #39132
Sorry for the delay, but I'm done. thk!

[2021-07-06 08:11] Brenneisen commented on #41940
@stof The error was also discussed here https://github.com/laravel/tinker/issues/127 and seems to be related to this https://github.com/symfony/symfony/pull/41723.

[2021-07-06 08:17] kw-pr opened #41997 "Mailer: Unable to connect with STARTTLS without encryption"
**Symfony version(s) affected**: symfony/mailer v5.2.10

**Description**
I have TLS disabled but the mailer is complaining about TLS. Because it it doing a TLS peer verification.

**How to reproduce**
My connect string:

Returns this error:

**Possible Solution**
It works if I add `verify_peer=0`

I think without TLS encryption there should be no TLS peer verification.

[2021-07-06 09:11] olsavmic commented on #40684
@ogizanagi @jderusse We have very similar use case - we're locking specific actions (like reading from FTP in consumers) and we need to prevent creating an "infinite" (or rather TTL long, which is tens of minutes in some cases) waiting loop since the consumer can do other stuff (or can turn off if not work is to be done).

I'm not saying it cannot be done by fine tuning the lock time and rewriting

[2021-07-06 10:05] carakas commented on #39104
I seem to be having the same issue at the moment

[2021-07-06 10:06] xorgxx commented on #40433
hi, i having the also this probleme !!
Windows 10 64b, wamp 3.2.4, php 7.4.15, apache 2.4.46, SF 5.2.11,

all is working RabbitMq bus,queue, but when i trying to
[code]
them i have this error

[code]
i dont know where or what to do ??

composer

[code]
env
[code]
messenger.yaml
[code]

old_sound_rabbit_mq.yaml

[code]

thak's for any help

[2021-07-06 10:13] BusterNeece commented on #40684
@olsavmic Would you mind reopening this issue? I'd like to make sure that the project maintainers are aware that we're actively using the logic inside the `RetryTillSaveStore`.

[2021-07-06 10:34] CsabaNa opened #42000 "Attempted to call function "array_is_list""
**Symfony version(s) affected**: 5.2-5.3

**Description**

Missing `array_is_list` function

**How to reproduce**

It is a breaking bug so i just can not run the page

**Possible Solution**

Create a similar function until 24th of Nov (php 8.1).
or rollback the algorithm to the previous version

**Additional context**

[code]

![screencapture-localhost-21000-v1-crm-suppliers-2-2021-07-06-11_31_24]

[2021-07-06 10:46] xorgxx commented on #40433
ok so i have find my probleme 👍

solution - on my machine extension was not install

1 - donwload accoding your php server the dll [https://pecl.php.net/package/amqp/1.10.2/windows](url)
2 - aneble     extension=php_amqp.dll extension in php.ini (for me it was update phpForApache.ini AND PHP.INI !! wamp windows !!)
3 - in composer.json ->>>         "ext-amqp": ["*",](url)

now it work perfecte.

[2021-07-06 12:07] dmaicher commented on #42000
Do you have `symfony/polyfill-php81` installed? It should provide a polyfill for that function and is actually a dependency for `symfony/config`: https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Config/composer.json#L24

[2021-07-06 12:08] alexander-schranz commented on #42000
The `symfony/config` requires the `symfony/polyfill-php81` package which does provide this method. Can it be that in your `composer.json` the `symfony/polyfill-php81` is listed under `replaces`?

[2021-07-06 12:53] sstok commented on #41997
According to the changelog the in 4.4:

 * [BC BREAK] removed the `auth_mode` DSN option (it is now always determined automatically)
 * STARTTLS cannot be enabled anymore (it is used automatically if TLS is disabled and the server supports STARTTLS)
 * [BC BREAK] Removed the `encryption` DSN option (use `smtps` instead)

[2021-07-06 12:57] stof commented on #41997
could it be that the server advocates starttls (and so it is used automatically) but does not have a trusted certificate ?

[2021-07-06 12:58] CsabaNa commented on #42000
Yes it is there
this is my compose:
[code]

[2021-07-06 12:59] nicolas-grekas commented on #42000
Just remove it then.

[2021-07-06 12:59] #42000 closed, assigned to nobody

[2021-07-06 13:00] derrabus commented on #42000
If you prevent the installation of the polyfill, your app basically requires PHP 8.1 to run.

[2021-07-06 13:01] stof commented on #42000
Replacing the PHP 8.1 polyfill is only valid if you enforce that your code runs on PHP 8.1+ (so that it indeed has the features without needing the polyfill)

[2021-07-06 13:07] CsabaNa commented on #42000
Thanks guys 👍

[2021-07-06 13:26] kw-pr commented on #41997
I am not able to test this but I sure you are right. Thanks. Together with the change log this does not look a bug after all. Sorry for the noise.

[2021-07-06 13:26] #41997 closed, assigned to nobody

[2021-07-06 13:57] dbrumann opened #42002 "[Messenger] Filesystem-Transport for tests"
**Description**
The provided [InMemoryTransport](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Messenger/Transport/InMemoryTransport.php) is great for making sure messages are sent via an async transport, instead of being handled directly, and for inspecting the messages. It has the downside, that it is hard to write tests that consume the sent messages. While I can work around

[2021-07-06 15:17] sstok commented on #35750
https://symfony.com/doc/current/messenger/dispatch_after_current_bus.html is this what you are looking for?

Otherwise it might be possible to use a different transporter that doesn't queue but handles directly.

[2021-07-06 17:48] craigh commented on #41443
Greetings!

@kbond I am wondering if you found an adequate solution to this problem?

I am wondering if instead of this:
[code]

we simply do this:
[code]

would this work instead?

[2021-07-06 17:54] kbond commented on #41443
Hey @craigh, have you looked into decorating the `session.factory` as @jderusse suggested above (I haven't investigated this method yet).

Also, how do we avoid adding the stateful service (`my_custom_bag`)?

[2021-07-06 17:57] sstok commented on #41443
You could use a custom event (in the decorated factory) like `SessionInitialize` to perform some special operations when a new session is being initialized.

[2021-07-06 18:01] craigh commented on #41443
I have not. To me, this seems like a 'kludgy' solution. Also, I may be reading it wrong, but the session factory seems [immediately deprecated](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Bundle/FrameworkBundle/Session/ServiceSessionFactory.php#L22) and also marked as internal, so this seems like a bad idea.

I've not fully understood stateful vs stateless yet, so I cannot comment full

[2021-07-06 18:03] craigh commented on #41443
perhaps [this is the session factory](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/HttpFoundation/Session/SessionFactory.php) I should have been looking at...

[2021-07-06 18:05] kbond commented on #41443
I think [this is](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/HttpFoundation/Session/SessionFactory.php) the session factory to decorate.

I'm not sure how decorating would work though - there is no `SessionFactoryInterface`. How could it be decorated multiple times (by different bundles for instance)?

[2021-07-06 21:16] OskarStark commented on #42002
Great idea 👍

Not sure if you know https://github.com/zenstruck/messenger-test

[2021-07-06 21:19] BonBonSlick commented on #23956
What about xml?

For example, this one will only ignore 2lvl folder by names, unfortunately, it will try to load as a service any deeper folders in addition to this, cant figure out the synatx for exclude array of rexeps

[code]

such are not accepted

[code]

[2021-07-06 21:25] ogizanagi commented on #23956
@BonBonSlick See the PR's description: https://github.com/symfony/symfony/pull/27075

[2021-07-07 06:16] dbrumann commented on #42002
I didn't know that library. It looks great for what I need. Thanks :+1:

[2021-07-07 07:05] annemiekebuijs commented on #18803
I would really like to have this feature.

[2021-07-07 10:12] olsavmic commented on #40684
Agreed, unfortunately I can't reopen the issue, I guess the question was rather on the author of issue @ogizanagi.