[2021-04-24 17:22] javiereguiluz commented on #40939
Sorry for the nitpick, but should it be a "LabelFormatter" (or "LabelGenerator", etc.) instead of "LabelGuesser" ?  The "label guessing" is what Symfony does because there's no label, so it needs to "guess" it. But this formatter would receive the form type and/or other information to generate/format/process the label, so strictly speaking there's no guessing.

[2021-04-24 17:31] ro0NL commented on #40939
App\Form\LabelProviderExtension? :sweat_smile:

[2021-04-24 19:03] #6602 closed

[2021-04-24 19:26] ThomasLandauer commented on #40806
Yes, indeed, https://github.com/symfony/symfony/pull/31375 fixed it - thanks!
I opened an issue since it's not documented yet: https://github.com/symfony/symfony-docs/issues/15291

BTW: I had hacked support for this into a custom form theme some time ago, so I was missing that PR's improvement. That's why I don't like custom form themes ;-) What about adding a caution box at https://symfony.com/do

[2021-04-24 19:26] #40806 closed, assigned to nobody

[2021-04-24 20:15] arneee opened #40941 "Support Google PHP on Cloud Functions"
Hi All,

Google just released PHP support for their Cloud Functions (FaaS):

https://cloud.google.com/blog/products/application-development/php-comes-to-cloud-functions

It would be amazing to have "out of the box" support in Symfony for this.

I'm not exactly sure yet how that would work and what kind of "wrapper" is required, but let's take this issue as a place for discussion.

Hello World exam

[2021-04-24 21:37] maciejzgadzaj opened #40942 "PhpDocExtractor fails on "true" and "false" properties"
**Symfony version(s) affected**: 5.2.6

**Description**
According to https://docs.phpdoc.org/latest/guide/references/phpdoc/types.html `true` and `false` are valid property types in PhpDoc, but `PhpDocExtractor` fails to extract them properly.

**How to reproduce**
For example `\Symfony\Component\HttpFoundation\Request::$content` is described as `@var string|resource|false|null`, but:

[code]
retu

[2021-04-24 22:12] PaulCombal commented on #40940
I could fix this the issue by adding the reference to the snake_case converter after my custom denormalizer in `services.yaml`. This does not seem affect the other referenced issue. I'll close the issue since I believe it's a mistake of mine. I hope this can help future users!

[2021-04-24 22:12] #40940 closed, assigned to nobody

[2021-04-25 09:47] globdug commented on #33915
Hello, I have same issue with version 4.23.5 .
On GitBash works good, in Terminal inside PHP Storm it doesn't. Is it a bug of Symfony CLI or PHP Storm?
![fUKQLk2gTe](https://user-images.githubusercontent.com/36916646/115988886-da9b2480-a5bb-11eb-888c-da3cc22544b1.png)

[2021-04-25 15:50] xabbuh commented on #40939
You can always write a custom form type extension that adds a label according to your project's convention if the label formatting rules that are applied by default do not match your requirements. I think we don't need another way to achieve this.

[2021-04-25 21:44] ThomasLandauer commented on #40939
Cool, thanks - it's indeed quite easy - here's what I did right now, following https://symfony.com/doc/current/form/create_form_type_extension.html
[code]
EDIT: I now changed the last line to:
[code]
...which isn't perfect either cause `CheckboxType::class` kills radiobuttons (i.e. only "0", "1" shown as label) - so this might need some more tweaking...

[2021-04-26 07:43] javiereguiluz commented on #40939
Let's close as "won't fix" then. Cheers!

[2021-04-26 07:43] #40939 closed, assigned to nobody

[2021-04-26 08:40] lyrixx opened #40948 "Add support for $requestStack->getCurrentRequest(throwOnNull: true);"
**Description**
I have quite often this piece of code in my service layer:
[code]
And it's a bit boring to write this code every time.

**Example**

What do you think about a flag (or another method) to add this feature in the core?

[code]

[2021-04-26 08:56] derrabus commented on #40948
PHP 8 ftw! 😉

[code]

[2021-04-26 08:57] xelan commented on #40888
Already had some use cases for such a feature where i had to use text input parsing of separated values (e.g. Please select -> `1,3,7`) instead.

By the way the UI of Vue-Cli looks a bit confusing IMHO - multiple-choice inputs should have checkboxes, single-select inputs radio buttons.

[2021-04-26 09:00] andrey-helldar commented on #33915
@globdug, "File" > "Settings" > "Tools" > "Terminal"

![image](https://user-images.githubusercontent.com/10347617/116056964-00413000-a687-11eb-88f3-eed83c0d3978.png)

[2021-04-26 09:17] derrabus commented on #40948
I think, this issue also applies to `getMainRequest()`.

Adding a flag would only make sense if we wanted to deprecated calling `getCurrentRequest()` on an empty stack imho. Otherwise IDEs and static analyzers would still complain because the return type has to remain nullable. We wouldn't gain much.

[2021-04-26 11:24] HypeMC opened #40949 "[Runtime] Shebang is printed in the output when bin/console is used"
**Symfony version(s) affected**: 5.3.0-dev
**PHP version(s) affected**: <8

**Description**
When running `bin/console` the shebang is printed in the output:
![image](https://user-images.githubusercontent.com/2445045/116074508-26b89880-a692-11eb-8111-15d4154e8ef7.png)

This happens cause the `bin/console` file is required in the [autoload runtime file](https://github.com/symfony/symfony/blob/896f4a

[2021-04-26 13:08] #38317 closed

[2021-04-26 13:22] zmitic commented on #40937
I don't think it would be a good use of time. Compiled container is not using typehints so Symfony would have to generate ``@var`` and ``@returns`` annotations for psalm to be happy.

It would be even bigger problem when generics are used like ``Generator<array-key, MyInterface, MyReturn>``.

But the real question is: what would we get with it?
Users never work with container any way, and if somet

[2021-04-26 16:07] Nyholm commented on #40949
Thank you for testing beta versions.

I cannot reproduce on osx. Are you running Windows?

<img width="512" alt="Screenshot 2021-04-26 at 18 08 23" src="https://user-images.githubusercontent.com/1275206/116115188-6d21ed80-a6ba-11eb-9f17-e6455195be0e.png">

[2021-04-26 16:15] Nyholm commented on #40941
Wow, exciting news!

I'll have a look. It seams like you already can with SF 5.3. Let me get back to you on this.

[2021-04-26 16:50] HypeMC commented on #40949
@Nyholm Nope, Linux, Ubuntu 18.04 to be precise.

[2021-04-26 17:04] wouterj commented on #40949
I can also not reproduce this (Linux Debian Unstable, PHP 8):

[code]

Can you maybe share a [reproducer application](https://symfony.com/doc/current/contributing/code/reproducer.html) were you can reproduce it?

Status: works for me

[2021-04-26 17:08] HypeMC commented on #40949
@wouterj It's a clean Symfony 5.3 install, just like yours. I'll do some more testing to try to figure it out. PHP 7.4.16 in my case since I forgot to mention it earlier.

[2021-04-26 17:15] HypeMC commented on #40949
@wouterj Just tested it on PHP 8.0.3 & the problem is not present there, so it seems to be a PHP < 8 problem.

[2021-04-26 17:22] derrabus commented on #40949
* I **can** confirm the bug on macOS with PHP 7.4.16.
* I **cannot** reproduce it with PHP 8.0.3 on the same machine.

[2021-04-26 17:23] HypeMC commented on #40949
@derrabus Tnx, I updated the description.

[2021-04-26 17:31] markwatney2016 opened #40953 "[Messenger] Prevent a specific message to be sent to the failure transport"
**Description**

As a developer I want to be able to configure the Messenger on a message class by message class basis whether a failed message should be sent to the failure transport or whether the message should be discarded.

At the moment you can enable/disable the failure transport only globally for all messages.

Alternatively/Additionally it would be nice to be able to prevent/force the sen

[2021-04-26 17:47] a1812 commented on #40949
maybe it will solve

[code]

[2021-04-26 20:02] zatloeri commented on #33466
Any update here? I just ran into the same problem thinking **MaxDepth** would limit the depth no matter the **class**.
I am left with using **groups** for the purpose of limiting the depth when serializing for now, or is there other clever solutions which might stand for **MaxDepth** ?

[2021-04-26 20:38] Nyholm opened #40954 "[Runtime] Autodiscovery does not work on PHP 7.4"
**Symfony version(s) affected**: 5.3

**Description**

Since the `ReflectionNamedType::getName()` will return the actual text in PHP7.4 and not the FCQN, then auto discovery is not working properly..

**Does work**
[code]

**Does NOT work**
[code]

![Screenshot 2021-04-26 at 22 34 08](https://user-images.githubusercontent.com/1275206/116147349-e7b13400-a6df-11eb-9a5c-7c72f7fa1640.png)

[2021-04-26 20:55] Nyholm commented on #40941
I've looked at the `functions-framework-php` package. It seams like they use `vendor/bin/router.php` as main entry point (hard coded). They've also hard coded that `index.php` should exist.

To use with Symfony 5.3 (or any symfony version using the Runtime component) one needs to install this package: https://github.com/php-runtime/google-cloud

It basically is a work around for the hard coded val

[2021-04-26 21:08] TravisCarden commented on #40898
Note: I achieved my _ultimate_ goal by setting the option's default value in `getDefaultInputDefinition()`--an option which, funny enough, I had consciously discarded due to assumptions that were later disproved. I'll leave this issue open regardless, since the behavior still seems incorrect to me, even though there's a better way to satisfy my specific use case.

[2021-04-26 21:35] Nyholm commented on #40954
Oh wait.. Im wrong..

https://3v4l.org/bl0ta

[2021-04-26 21:40] Nyholm commented on #40954
Yes. Im wrong.. It must have been some caching issue or incompetence here..

Anyhow, I fail to reproduce this now.

[2021-04-26 21:40] #40954 closed, assigned to nobody

[2021-04-26 21:43] Webonaute commented on #32357
This is still happening for me. any real solution found so far?

[2021-04-27 10:18] MatTheCat commented on #40949
Looks like https://bugs.php.net/bug.php?id=77561

It is indeed fixed since PHP 8.0.0RC2: https://github.com/php/php-src/commit/896dad4c794f7826812bcfdbaaa9f0b3518d9385

[2021-04-27 13:10] Nyholm commented on #38531
@xabbuh Is this something we could and can fix?

[2021-04-27 13:25] Redawolf opened #40958 "symfony 3 , Variable "form" does not exist when including form into a seperate twig"
hello devs , so i'am using a contact form , into multiple twigs , and i had to seperate it , now the twig that i included the form
in does not recognize the form variable , this is my code  {% include "contact/new.html.twig" %} if you can help i would be gratefull
and thank you

[2021-04-27 13:31] sweoggy commented on #39615
I know this issue is closed, but it was the first search result I got on Google, so I thought I might as well answer.

You need to pass the capture_stderr_separately option as second argument to $commandTester->execute():

`$commandTester->execute([], ['capture_stderr_separately' => true]);`

[2021-04-27 13:55] derrabus commented on #40958
Hello and thank you for reaching out.

This tracker is meant for tracking bugs and feature requests. If you are looking for support, you'll get faster responses by using one of our official support channels:

* StackOverflow: https://stackoverflow.com/questions/tagged/symfony
* Slack: https://symfony.com/slack

See https://symfony.com/support for more support options.

[2021-04-27 13:55] #40958 closed, assigned to nobody

[2021-04-27 14:35] Baptouuuu opened #40959 "[DependencyInjection] Unused bind arguments shouldn't throw in production"
**Symfony version(s) affected**: 5.2.3

**Description**
Unused bind variables (`services._defaults.bind.$variable`) shouldn't throw an exception in `prod` environment as this is not an error that prevents the app from running.

**How to reproduce**
In `services.yml` I have a bound argument `services._defaults.bind.$token` initialized with `null` as I want to make sure it never has a value in the d

[2021-04-27 14:45] stof commented on #40959
this won't actually do anything, as defaults are scoped per files, so your services won't use the `%env(TOKEN)%` value in prod. They will keep using `null`

[2021-04-27 14:55] OskarStark commented on #40625
any progress here @JamesHemery @ke20 ? 😃

[2021-04-27 14:56] Baptouuuu opened #40961 "[DX] Unexpected behaviour due to symfony package as a transitive dependency"
**Symfony version(s) affected**: 5.2.3

**Description**
When requiring a composer package that itself requires a symfony package then it may change the behaviour of the framework without the developer knowing.

**How to reproduce**
- I have guzzle installed
- I run `composer require sentry/sentry-symfony`
- I run my tests and they now fail (reason unknown)

I didn't configured the sentry bundle ye

[2021-04-27 15:04] stof commented on #40961
Well, there is an opt-out: add an explicit `enabled: false` config for the http_client config (the default is to auto-detect based on the installed packages because that's what works for most cases.

[2021-04-27 15:08] nicolas-grekas commented on #40961
I would also recommend you to "replace" "sentry/sdk" in your composer.json file as advised in this readme:
https://github.com/getsentry/sentry-symfony#optional-use-custom-http-factorytransport

The design of the Sentry packages is weird, better opt-out from it.

[2021-04-27 15:08] #40961 closed, assigned to nobody

[2021-04-27 15:09] Baptouuuu commented on #40959
🤔 I thought the files were merged like for the rest of the config

[2021-04-27 17:14] stof commented on #40959
Config *files* are never merged. Importing them impacts the same ContainerBuilder, but they are loaded separately in turn. And so file-scoped features like the defaults apply only to service definitions of that file. The file-level scoping of defaults is what makes them safe to use (other config files cannot impact the default settings, so you stay in control of your service definition).

For your

[2021-04-27 17:55] kbond opened #40965 "[DoctrineBridge] EntityType memory leak in functional tests"
**Symfony version(s) affected**: 5.2 (also 5.1)

**Description**
When running multiple functional tests that request pages that include forms using an `EntityType`, there is a memory leak. Does not occur with `symfony/doctrine-bridge` 5.0.x.

**How to reproduce**
[Reproducer](https://github.com/kbond/entity-type-memory-leak) (readme has instructions).

**Possible Solution**
I'm looking for help tr

[2021-04-27 18:05] kbond commented on #40965
FYI, _disabling reboot_ on your `KernelBrowser` seems to fix but I don't think this should be the _solution_.

[2021-04-27 19:49] ghost commented on #40953
I can spend some effort on this. Can this issue get some feedback from the Core Team so we know this is reasonable to implement?

[2021-04-27 19:51] ToshY commented on #38958
Any updates on this one? Seems like a nice feature to have.

[2021-04-27 20:07] apfelbox commented on #38958
Your link to the source points out that all three versions are correct:

* `<option selected>`
* `<option selected="">`
* `<option selected="selected">`

[2021-04-28 07:41] #40921 closed, assigned to nobody

[2021-04-28 07:54] Baptouuuu commented on #40959
Ok, thank you

[2021-04-28 07:54] #40959 closed, assigned to nobody

[2021-04-28 08:27] herbyxxx commented on #40832
@xabbuh Hi, I already provided my feedback. Can you please remove the label and have a look into it? Thanks.

[2021-04-28 08:41] xabbuh commented on #38531
I remember that I had a brief look into it and that it should be possible to fix it. I try to find some time for it.

[2021-04-28 09:31] NoelLH opened #40969 "[Lock] More explicit inline doc on `LockConflictedException`"
**Description**
I made a silly error recently by ignoring `Lock::acquire()`'s return value, partly because – based on doc block hints – I was catching `LockConflictedException` and made the bad assumption from that exception's doc block description that it would be thrown and left uncaught in the case I was considering.

While the doc is accurate as far as the exception itself goes, I'm proposing

[2021-04-28 09:41] Guikingone commented on #40021
Thanks @norkunas for the answer, it solved my use case 🙂

[2021-04-28 09:41] #40021 closed, assigned to nobody

[2021-04-28 10:16] gilbertsoft commented on #40652
Finally we solved this issue within the TYPO3 Core by using Address::create() instead of new Address().

[2021-04-28 10:23] #40652 closed, assigned to nobody

[2021-04-28 11:24] mbrodala commented on #39259
Notice: the same issue also occurs with `doctrine/doctrine-migrations-bundle` 3.0.x already.

Workaround for now:

[code]

[2021-04-28 11:33] Seldaek opened #40971 "[Security] Add a way to hook into PersistentRememberMeHandler"
## Description
This is related to https://github.com/symfony/symfony/issues/18384 - when using [persistent remember me cookies](https://symfony.com/doc/current/security/remember_me.html#storing-remember-me-tokens-in-the-database) there is currently an issue when multiple requests are processed in parallel, this is the workflow:

- User logs in with remember me enabled, receives cookie with token A

[2021-04-28 14:17] flack opened #40974 "HttpFoundation: Make request->get() behave more like $_REQUEST"
The `get` method of `Request` currently looks at

- custom routing params
- GET
- POST

in that order. It's a bit unfortunate, because in PHP's default config, the order in `$_REQUEST` is the opposite of that, i.e. a parameter in `$_POST` overrides the same parameter from `$_GET` in the `$_REQUEST` superglobal. Which seems more logical: Let's say a user opens some search URL, clicks through a few

[2021-04-28 14:33] stof commented on #40974
Changing the order would be a BC break (with no good way to warn about it).
And making the order dependent on the ini setting would make the order unknown to libraries (as they don't control the ini setting), which would make it a weird API.

If you want an utility method respecting the ini setting, you can implement it in your project as a function getting the Request object as argument. All para

[2021-04-28 14:45] spipu commented on #40893
and also in the TraceableHttpClient too in 4.4

1x: Class "Symfony\Component\HttpClient\TraceableHttpClient" should implement method "Symfony\Contracts\HttpClient\HttpClientInterface::withOptions(array $options)": Returns a new instance of the client with new default options

[2021-04-28 14:48] flack commented on #40974
yes, the BC break is problematic. It would definitely be better as a separate function, the only question is what would be a good name for it...

Regarding weird API: I would say not any weirder than PHP itself, and it's not like nothing else in Symfony changes when php.ini values are changed.

Also, I think the current implementation has significant footgun potential: Let's say you have some POST

[2021-04-28 14:49] spipu opened #40975 "SF4.4 - should implement method HttpClientInterface::withOptions(array $options)"
**Symfony version(s) affected**: 4.4.21

**Description**
when executing my Functional tests:

1x: Class "Symfony\Component\HttpClient\TraceableHttpClient" should implement method "Symfony\Contracts\HttpClient\HttpClientInterface::withOptions(array $options)": Returns a new instance of the client with new default options

**How to reproduce**
instance any http client in sf 4.4.21

**Possible Soluti

[2021-04-28 15:05] jderusse commented on #40975
Dupplicate of #40893

[2021-04-28 15:10] flack commented on #40974
Or to make it more explicit: I send the user a link like `/order?selectedproduct=ultra-deluxe-edition`. User fills out the order form, selects the "free trial" product, and then gets a gigantic unexpected invoice. Looking at GET before POST opens you to all kinds of attacks, I can't currently think of a situation where it would be a good idea to do that

[2021-04-28 15:17] ro0NL commented on #40974
getting the wrong GET param can go equally wrong too. Note the default variable order in PHP is also GP.

IMHO the only sane answer is to deprecate Request::get()

[2021-04-28 15:23] flack commented on #40974
@ro0NL yes, the default order is GP, and

so P takes precedence over G

[2021-04-28 15:23] wongjn opened #40976 "PHPUnit Bridge SYMFONY_DEPRECATIONS_HELPER dependency locations"
**Description**

The `max[self]` or `max[direct]` values for `SYMFONY_DEPRECATIONS_HELPER` are supposed to help filter out deprecations from dependencies. However, it does not seem to account for when the dependency code is outside the `vendor` (or equivalent) directory (this can happen when using `composer/installers`).

It would be nice to be able to let PHPUnit Bridge know about extra dependenc

[2021-04-28 15:27] jderusse commented on #40975
This is a new feature that will be implemented in symfony 5.3.

The `4.4` version of `symfony/http-client` requires contract 2.x which DOES NOT have this method.
BUT, but to provide a migration path for contract 2.x to 3.x we use an annotation on the interface to tell maintainers they have to implement this method if they want to be compatible with contract 3.x this is why you have the deprecation

[2021-04-28 15:31] stof commented on #40976
The current implementation indeed does not support custom installers putting packages outside the composer vendor dir. I don't think that's easy to add though.

[2021-04-28 15:33] stof commented on #40975
@jderusse the webprofiler will still show such deprecation in all projects using 4.4

[2021-04-28 15:50] stof commented on #40974
@flack the fact that PHP itself has a weird API does not mean that Symfony should provide an equivalent. Note that by modern standards of PHP RFCs, the `$_REQUEST` superglobal with a behavior being dependant on an ini setting would probably be rejected.

to me, that's the actual issue. If you know that you want to read a POST data, use the dedicated API doing that.

[2021-04-28 15:51] stof commented on #40974
I would totally vote for it. In my own projects, usages of `Request::get()` have been banned 10 years ago.

[2021-04-28 16:00] flack commented on #40974
Well, if you're using a library, you may not even be aware that you're using it. Also, see my original example with paginated search results. At least in sites I work on, pagination usually makes a query string out of the search form, and to do a new search, you would send the form again, which typically uses POST (at least from what I see). So I would say there's a usecase for POST with a fallbac

[2021-04-28 16:05] ro0NL commented on #40974
adding something that emulates $_REQUEST doesnt help migrating away from it ;)

[2021-04-28 16:07] stof commented on #40974
well, search forms are often implemented as `<form method="GET>` precisely because a search is something where it makes sense to use a GET request with the term in the query string (also, it makes the search result page potentially cacheable)

[2021-04-28 16:11] flack commented on #40974
yeah, like I said, that's mostly from sites I see (or work on), and the rationale for POST in the form is precisely to avoid hitting a cache.

Anyhow, should I make a "Deprecate Request::get()" ticket? If nobody likes my $_REQUEST emulation, I can also implement it on my side, it's only a few lines anyways :-)

[2021-04-28 16:20] spipu commented on #40975
maybe the pb is more in the sf detection of deprecated, here :
https://github.com/symfony/error-handler/blob/5.x/DebugClassLoader.php#L473

normally it may ignore deprecation for the same vendor, but it does not seems to work

[2021-04-28 16:21] kiakahaDZ opened #40977 "Issue when submiting form in symfony"
i have the follow form that contain the ChoiceType bellow and in the choices i have the value and the translation, like this "'-- الاختيار--' =>'app.ui.no_order'", but every time that i submit the form it appeare to me an error
[code]
Eror: {{ value }}" is not valid. Valid choices: {{ choices }}, "-- الاختيار--" is not valid. Valid choices: app.ui.no_order, 1, .

are there any othhers way to assei

[2021-04-28 16:56] dspiegel commented on #40975
Seeing same issue with new project create with --version=LTS and existing 4.4 LTS applications. I would not expect to see any deprecation's from base LTS project. This same warning is now causing Jenkins build errors for our 4.4 LTS production builds but we are unable to fix as issue is with symphony packages.  IMHO Symfony 5.x changes or updates should never affect current LTS code set. 5.x is de

[2021-04-28 17:02] xabbuh commented on #40977
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2021-04-28 17:02] #40977 closed, assigned to nobody

[2021-04-28 17:36] kiakahaDZ commented on #40977
but if you investigate the problem maybe you will see a bug.

[2021-04-28 17:51] derrabus commented on #33311
Not yet, @carsonbot!

[2021-04-28 18:02] xabbuh commented on #40977
If you think that there is a bug, please provide a small example application that allows to reproduce it and we can consider to reopen.

[2021-04-28 21:11] drzraf opened #40978 "notifier: chat/slack + email leads to UnsupportedSchemeException"
**Symfony version(s) affected**: 5.2

**Description**
Running the `chat/slack` notification channel in combination with `email` and a custom MAILER_DSN (`ses+smtp`) leads to an `UnsupportedSchemeException`.

**How to reproduce**
- Install `symfony/slack-notifier` and `symfony/amazon-mailer`
- Env:
[code]
- Config:
[code]
- Code:
[code]

- Backtrace:
[code]

**Possible Solution**
dunno

**Additiona

[2021-04-29 05:16] norkunas commented on #40978
Does it work if you remove `email` from chatter transports? Email channel and transports are automatically registered

[2021-04-29 05:42] Guikingone commented on #40941
Hi @Nyholm 👋🏻

Is there any chances to see a PSR-7 compliant implementation in `Runtime` component? 🤔

[2021-04-29 06:25] Nyholm commented on #40941
Sure. Here they are: https://github.com/php-runtime/runtime#psr-7-and-psr-15

I'll add guzzle in a few weeks after I tag 2.0 of guzzlehttp/psr7

EDIT: I changed my mind. I added support for Guzzle now.

[2021-04-29 08:34] xabbuh commented on #40822
@Cartman34 Do you have any news for us?

[2021-04-29 08:34] xabbuh commented on #40854
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-04-29 08:34] #40854 closed, assigned to nobody

[2021-04-29 08:43] tannyl commented on #36844
I faced the same problem when using two packages with different base_path

After looking into how the base_path is applied, I the simple solution and wanted to share it.

If you have set the _base_path_ for the _admin_ package to **/build/admin/**
then instead of having the manifest.json look like this:

You must do it like this:

[code]

Now using

will work as expected and result in

If you are

[2021-04-29 09:30] flack opened #40984 "HttpFoundation: Deprecate Request::get"
**Symfony version(s) affected**: all I think

**Description**

`Request::get` looks at the following data:

- `$this->attributes`
- `$this->query`
- `$this->request`

in that order. So it checks `$_GET` before it checks `$_POST`. I haven't checked, but I think it might have been implemented this way because of a misunderstanding about how the ini setting `request_order` works: The default there is

[2021-04-29 09:30] flack commented on #40974
closing in favor of #40984

[2021-04-29 09:30] #40974 closed, assigned to nobody

[2021-04-29 10:29] tasiot commented on #37625
Hello everybody,

I am encountering precisely the same problem, so I am providing details since domnuprofesor does not give its details.

Symfony version 5.2.6.

My kernel is very close to the one proposed by Symfony and I inject my Legacy code initialization via a kernel.request event in priority 257.

Sometimes I still need to keep my old renderer still so for the affected controllers I return L

[2021-04-29 11:48] tasiot commented on #37625
I understood and solved my problem. I give here my explanation in case it could help someone.

A -1000 priority `kernel.response` event is declared by Symfony with the name `Symfony\Component\HttpKernel\EventListener\SessionListener::onKernelResponse()`. This method is located in the abstract class `Symfony\Component\HttpKernel\EventListener\AbstractSessionListener` and contains the code `if ($ses

[2021-04-29 12:01] wjzijderveld commented on #40636
As there is already a fix, I didn't want to open a new issue.
But I was wondering when the next patch release is planned, as not only was the `invalid_message` option ignored, the default `invalid_message` was also changed, which I would argue is a BC break from 5.2.3 to 5.2.4, as people depend on these messages in tests and translation files for example.
I made an isolated test case here: [wjzijd

[2021-04-29 12:06] Nyholm commented on #40636
Symfony does a patch release about once per month (usually the end of the month). So soon, real soon. Most likely within the next few days.

[2021-04-29 12:26] lyrixx commented on #33312
@nicolas-grekas What about removing completely the integration between the var dumper and the framework in **test** env?
It will fallback on the "classic" workflow, and work well. Since storing the dump in the profiler does not make sens in test env anyway... (profiler is disabled by default + it does not make sens to let a dump in the normal "path")

[2021-04-29 12:36] #40823 closed, assigned to nobody

[2021-04-29 12:36] nicolas-grekas commented on #33312
That's worth a try @lyrixx!

[2021-04-29 12:39] stof commented on #33312
@lyrixx can you try removing DebugBundle from the test env ? I think that's all needed to remove that integration.

[2021-04-29 13:00] lyrixx commented on #33312
@stof Indeed it works 👍🏼 but we'll loose too many things with this move, isn't?

**EDIT**: ho, it looks like it's not the case! The bundle deal only with the dumper. I'll make a PR

[2021-04-29 13:04] lyrixx commented on #33312
I opened a PR: https://github.com/symfony/recipes/pull/940

[2021-04-29 13:09] TheCelavi commented on #26494
This is my bad, I have fix, just could not find the time to send a patch... Sorry...

[2021-04-29 13:12] #33312 closed

[2021-04-29 13:12] Cartman34 commented on #40822
I created a test project but I am unable to reproduce this issue on it.
But I am able to reproduce en 2 real projects, it seems there is another factor producing this issue.

[2021-04-29 14:02] spackmat opened #40988 "Document custom channels for or add a generic messenger channel to Notifier to support Messengers with an ID instead of a phone number (like Threema)"
**Description**
Hi, I'm implementing notifications via [Threema Gateway](https://gateway.threema.ch) in my application and I want to use the Notifier abstraction for it. While implementing I discovered that this won't work, because Threema uses IDs instead of a phone number and the SmsChannel only works with phone numbers and the ChatChannel only sends to channels and not to individual users.

I t

[2021-04-29 14:23] drzraf commented on #40978
Yes, `slack` works if I remove `email`. Both work independently, but not if combined.

[2021-04-29 14:51] javiereguiluz commented on #40835
GitHub adds this to pages served via the default `github.io` domain ... but it doesn't add it if GitHub Page is served via a custom domain. See https://github.blog/changelog/2021-04-27-github-pages-permissions-policy-interest-cohort-header-added-to-all-pages-sites/

[2021-04-29 15:14] MatTheCat opened #40990 "[DependencyInjection] The file "../src/" does not exist (in: "config/packages")."
**Symfony version(s) affected**: ≥ 5.1 I guess

**Description**
I tried to create an app using only PHP config files (using ConfigBuilder) which made me simplify `Kernel::configureContainer` to

[code]
This last line then triggers a `FileLocatorFileNotFoundException` saying

<details>
<summary>Stacktrace</summary>

[code]
</details>

**How to reproduce**
Run `composer install` or `bin/console c:c`

[2021-04-29 15:18] nicolas-grekas commented on #40835
PR submitted at #40989

[2021-04-29 15:37] norkunas commented on #40988
Custom channels are supported, we have a custom doctrine channel to store notifications in database :)

[2021-04-29 15:38] n3verlate commented on #31902
not working :(

[2021-04-29 15:39] norkunas commented on #40988
that's not true, you can set the recipient via message options :)

[2021-04-29 15:50] hktr92 commented on #40663
That's a good idea. We've had to implement custom logic during logout process, so we had to research for 4h and dig through the source code to better understand how to do it.

So we've implemented the `public function onSymfonyComponentSecurityHttpEventLogoutEvent(LogoutEvent $logoutEvent): void` method and register it in `services.yaml` which performs the custom processing (e.g. remove cookies, d

[2021-04-29 15:59] hktr92 commented on #40662
This would be a great feature of the framework. We needed to authenticate the user after register, so we've created a custom service which handles the authentication by injecting `LoginFormAuthenticator`, `GuardAuthenticatorHandler` and `RememberMeServicesInterface` to make it work.

I'm not sure about code's stability, though, since we kind of bypass the authentication mechanism (by manually call

[2021-04-29 17:49] derrabus commented on #40984
On the one hand: Using `Request::get()` is almost always a bad idea, so deprecating it will help me maintain my sanity as a code reviewer in the future.

On the other hand: Migrating a mature codebase away from that method is a **huge** PITA. Been there, done that, won't recommend. 🙈

[2021-04-29 18:17] ro0NL commented on #40984
what i like about this deprecation is it moves decision taking to the user's side (aka the "use instead" part)

A) i'll use the correct input source explicitly, B) i'll inline `get()` into a one-liner using nested $default args

Both acceptable to me, preferring A most likely :) overall i think it's worth forcing users to make the intentions more expressive.

[2021-04-29 20:54] flack commented on #40984
maybe an interim step could also be to deprecate accessing POST in that function. i.e. add a deprecation notice here:

https://github.com/symfony/symfony/blob/68a97d6e9a18100280a2906c4a5193bfcd323e54/src/Symfony/Component/HttpFoundation/Request.php#L718

Because like I said, I don't see how you could use this safely for POST forms

[2021-04-29 21:27] belackriv commented on #18008
Adding to this: another cause I found is that a 'dump()' command was running out of memory and causing the token to not generate, but the actual request was successful.

[2021-04-29 21:56] major200322 opened #40995 "Using console commands in controller"
Hi community,

Why using console commands in controller if I can use directly a normal controller?

I can't find any reason for uses console commands in controller :) is there any advance using this feature ?

thanks :)

[2021-04-29 21:59] jderusse commented on #40995
Hello and thank you for reaching out.

This tracker is meant for tracking bugs and feature requests. If you are looking for support, you'll get faster responses by using one of our official support channels:

* StackOverflow: https://stackoverflow.com/questions/tagged/symfony
* Slack: https://symfony.com/slack

See https://symfony.com/support for more support options.

[2021-04-29 21:59] #40995 closed, assigned to nobody

[2021-04-29 22:00] Taminoful commented on #40995
From the Symfony documentation where you can read more about this use case: https://symfony.com/doc/current/console/command_in_controller.html

[2021-04-29 22:25] Taminoful commented on #40485
I wasn't able to reproduce this error using the instructions you provided on my machine. Even deleting the cache folder manually before running the command twice didn't have any effect on the command in my case.

Used for the following for testing
---
OS:
`Windows 10 Version 2004 Build 19041.928`

PHP Version:
[code]
Composer Version:
`Composer version 2.0.13 2021-04-27 13:11:08`

Symfony CLI:
`Sy

[2021-04-30 08:12] robbertstevens opened #40996 "Deprecation Notice Symfony\Component\HttpClient\ScopingHttpClient"
**Symfony version(s) affected**: 5.2.*

**Description**
When I have run a console command I get the message

When I look in the `Symfony\Component\HttpClient\ScopingHttpClient` class it indeed doesn't have the `::withOptions` method.

**How to reproduce**
I think you can reproduce it by requiring the `symfony/http-client@5.2.6` package

**Possible Solution**
I guess it's adding this method

**Addi

[2021-04-30 08:14] nicolas-grekas commented on #40996
Duplicate of #40975

[2021-04-30 08:14] #40996 closed, assigned to nobody

[2021-04-30 08:27] nicolas-grekas commented on #40984
The method starts with the following disclaimer:
[code]

And looking at the codebase, this method is exactly used for that: fetching a value either in the route, query or body.

Before considering deprecating, we should ensure that these use cases can be updated and that the change would make sense.

[2021-04-30 08:56] flack commented on #40984
@nicolas-grekas Well the thing is that the disclaimer is wrong IMO: It doesn't provide flexibility, it just introduces uncertainty. Because making POST data overrideable by GET just opens you to all sorts of trouble from external parties

[2021-04-30 09:02] nicolas-grekas commented on #40984
Please have a look at the codebase. The places where `get()` is used look aligned with the disclaimer to me.

[2021-04-30 09:13] flack commented on #40984
I don't doubt that it is used correctly in this repo, I'm more worried about external code of varying quality. Who's to say that every dev using this function read and fully understood the disclaimer? The point is that it's just very easy to get it wrong and introduce vulnerabilities, so to me at least the function seems badly designed. If you want to keep it for use in this repo, maybe tag it as

[2021-04-30 09:49] KDederichs opened #40997 "[Form] Inconsistant display in TimeType (array mode)"
**Symfony version(s) affected**: 5.2.6 (at least)
**Description**
When you use the `TimeType` in forms with the `input` type set to `array` and then you set different `view_timezone` and `model_timezone` options the conversion will be inconsistant. When you load save it the timezone is correct but when you load it it's off.

**How to reproduce**

1. Get a TimeType form field
2. Set input to array

[2021-04-30 10:04] spackmat commented on #40988
That is good news. I only found that in the documentation of the component: "The notifier component supports the following channels:" and an exclusive list of the channels SMS, Chat, Mail and Browser. Not mentioned is a way to implement other channels and no "built in" or "at the moment".

Is there any documentation on how to implement a custom channel? How do I register it so that the component f

[2021-04-30 10:06] KDederichs opened #40999 "[Form] Passing a reference date causes the DateTimeToArrayTransformer to set minutes/hours when the stored value is 0"
**Symfony version(s) affected**: 5.2.6 (probably others)

**Description**
If you pass a reference time to a TimeType field with input type array it will assume the time properties of the reference date when the field value was 0

**How to reproduce**
1. Get a TimeType form field
2. Set input to array
3. Add a reference_date
4. Try to set it to 0

**Possible Solution**
It's caused by https://github

[2021-04-30 10:12] norkunas commented on #40988
Your custom channel must implement `Symfony\Component\Notifier\Channel\ChannelInterface` and then register it as a service for example:
[code]

For example you could create a `ThreemaOptions` class and implement the `Symfony\Component\Notifier\Message\MessageOptionsInterface` where getRecipientId would return your required `ID` instead of phone number and your ThreemaTransport class then would rel

[2021-04-30 10:35] nicolas-grekas commented on #40984
I would welcome a PR that removes using the method from the codebase. That could be a nice exercise to practice the proposal and get some more food for thoughts.

[2021-04-30 11:19] flack commented on #40984
out of curiosity, I added `xdebug_print_function_stack` to the top of the `get` function and ran the test suite. It showed the following call sites:

[code]
(take that list with a grain of salt though: I get tons of errors & failures when running the test suite)

Side question: does anyone know a static anaylzer that can find all call sites for a function? I'm looking for this for some other proje

[2021-04-30 11:23] derrabus commented on #40984
PhpStorm? 🙃

[2021-04-30 12:53] ro0NL commented on #40984
Please consider different naming otherwise. We have +- 60 calls, and im totally not amused about it :D

[2021-04-30 13:13] #36006 closed

[2021-04-30 16:25] tjveldhuizen opened #41005 "[Security] PasswordMigratingListener fails if UserInterface::getPassword returns null"
**Symfony version(s) affected**: 5.2.x

**Description**
[UserInterface::getPassword()](https://github.com/symfony/symfony/blob/92b6458f601135c23c139ef7626439115c70991a/src/Symfony/Component/Security/Core/User/UserInterface.php#L57) is allowed to return a null value. In case it does, [PasswordMigratingListener::onLoginSuccess](https://github.com/symfony/symfony/blob/92b6458f601135c23c139ef762643911

[2021-04-30 16:34] nicolas-grekas commented on #41005
Would you mind sending a PR to fix this please?

[2021-04-30 16:45] christian-eriksson opened #41006 "ExecutableFinder attempts access outside of `open_basedir` directive, producing unnecessary errors/logs"
**Symfony version(s) affected**: 5.x

**Description**
The `find()` function in [`Component/Process/ExecutableFinder.php`](https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/Process/ExecutableFinder.php) attempts to find executables outside of the `open_basedir` array if the `open_basedir` directive is set in `php.ini`.

This is an issue as PHP will throw an error if the application

[2021-04-30 16:48] stof commented on #41006
@christian-eriksson if the application uses an error handler that is not compatible with the silencing operator, that's an issue of the error handler, not of the code using the `@` operator (which would have to be banned entirely according to that logic).

[2021-04-30 16:52] christian-eriksson commented on #41006
@stof If the error was not an error I'd agree with you. But in this case I believe it is an issue where there is an error in the framework code that is being hidden by the `@` operator and then bubbles up in applications dependent on the framework. Or don't you agree that it is wrong to explicitly look for files outside of the `open_basedir`?

[2021-04-30 17:21] goetas opened #41007 "[Messenger] Retry strategy causes potentially exponential message duplication when more than one queue is connected to the same exchange"
**Symfony version(s) affected**: 5.x

**Description**

Consider the following scenario:
- there is one exchange (`picture_uploaded` as example)
- there are two topic/fanout queues binded to the exchange (`resize_picture` and `check_is_duplicate_picture`) with independent workers (to improve scalability as example...)

If for some reason one of the two workers fails to process the message, the curr

[2021-04-30 18:09] goetas commented on #41007
One issue i see is that it seems not know from which queue is arriving a message that is delayed for re-delivery.

[2021-04-30 19:24] stof commented on #41006
To me, the whole handling of `open_basedir` is wrong in that method actually. currently, it uses that to replace the `PATH` environment variable. But that might end up *adding* directories in the PATH (and that's also how this confusion about `$extraDirs` happens, as this variable is about adding extra directories as if they were in the PATH).

the proper solution should probably still take the PA

[2021-04-30 19:54] a-menshchikov opened #41011 "[FrameworkBundle] Reboot kernel on warmup is needed for ConfigBuilderGenerator"
When I run `cache:warmup` command with existing cache, `\Symfony\Component\Config\Builder\ConfigBuilderGenerator` build SecurityConfig without any listeners configs (e.g. `\Symfony\Config\Security\FirewallConfig\FormLoginConfig`). This is because `ConfigBuilderGenerator` call `SecurityExtension::getConfiguration` without first execute `SecurityExtension::addSecurityListenerFactory` (that only exec

[2021-04-30 20:01] christian-eriksson commented on #41006
I can see that searching in the entries common to the collection of `[ $PATH, $extraDirs ]` and the list in `open_basedir` (given the `open_basedir` is set) might be a more reasonable approach for this method, rather than searching in the `open_basedir` directly. That way should also solve this issue as it wouldn't search outside of whats allowed in `open_basedir`.

[2021-04-30 20:30] gboubel opened #41012 "[Cache] cache:pool:clear fails if Redis uses prefix"
**Symfony version(s) affected**: 4.4.21

**Description**
The `cache:pool:clear` command does not delete any keys when using a `Redis` connection with prefix set.

**How to reproduce**

I'm using the [Redis](https://github.com/phpredis/phpredis) extension as the `cache.adapter.redis` adapter's connection and setting a prefix on the `Redis` class with the following services.yaml lines:

[code]

This

[2021-05-01 05:13] msrumon commented on #38958
All versions are correct and they work, but recommended way is to use the first one (and second one if you do it programmatically).

[2021-05-01 05:29] #41005 closed, assigned to nobody

[2021-05-01 08:55] #34207 closed

[2021-05-01 09:56] nicolas-grekas commented on #41012
Thanks for the description, that makes sense. PR welcome.

[2021-05-01 14:23] #40901 closed, assigned to nobody

[2021-05-01 14:25] #40863 closed, assigned to nobody

[2021-05-01 14:25] fabpot commented on #40863
Note that we will have issues with languages where plural is more complex.

[2021-05-01 15:56] derrabus opened #41020 "[PasswordHasher] Custom encoders broken after upgrade"
**Symfony version(s) affected**: 5.3.0-BETA2

**Description**
I have an application that uses a custom implementation of `PasswordEncoderInterface`. After upgrading that application to Symfony 5.3, I cannot log in anymore. Instead, I get the following exception:

**How to reproduce**
See https://github.com/derrabus/encoder-reproducer for a reproducer. You should encounter the error when trying to

[2021-05-01 17:56] bobvandevijver opened #41021 "Generated release notes on blog are missing characters"
More specifically, one character before every underscore is being dropped.

For example, the latest line of the [5.2.7](https://symfony.com/blog/symfony-5-2-7-released) release notes mention "htt _cache" instead of "http_cache".

[2021-05-01 18:16] derrabus commented on #41021
In #41018, the generated release notes are fine. So something must have happened when posting them to the blog. @javiereguiluz, can you have a look?

[2021-05-01 18:37] javiereguiluz commented on #41021
Thanks for reporting! Sadly this is a well-known issue. There's a pending fix in the private symfony.com repository ... but we haven't merged it yet. Sorry!

[2021-05-01 18:37] #41021 closed, assigned to nobody

[2021-05-01 21:34] derrabus opened #41024 "[PasswordHasher] EncoderFactory broken if a custom hasher is configured"
**Symfony version(s) affected**: 5.3.0-BETA2

**Description**
If an application configures a custom `PasswordHasherInterface` implementation, the old `EncoderFactory` and `UserPasswordEncoder` services become unusable.

**How to reproduce**
Reproducer: https://github.com/derrabus/encoder-factory-reproducer

Launch the application, enter some text into the input field and hit the submit button. The

[2021-05-02 04:04] chx opened #41025 "ContainerAwareTrait can't be var_export()'d"
**Symfony version(s) affected**: all, as far as I am able to tell

**Description**

If a service uses ContainerAwareTrait , the container will be stored in a property, the container contains all services including the current one and when the truly wonderful debug feature of Twig Node tries to var_export it, we get a "var_export does not handle circular references" error.

**How to reproduce**

Th

[2021-05-02 06:16] Nyholm opened #41026 "Missing translations for Afrikaans (af)"
Hello,

There are some missing translation for Afrikaans (af). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.af.xlf](https://github.com/symfony/symfony

[2021-05-02 06:16] Nyholm opened #41027 "Missing translations for Albanian (sq)"
Hello,

There are some missing translation for Albanian (sq). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.sq.xlf](https://github.com/symfony/symfony/

[2021-05-02 06:16] Nyholm opened #41028 "Missing translations for Arabic (ar)"
Hello,

There are some missing translation for Arabic (ar). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.ar.xlf](https://github.com/symfony/symfony/bl

[2021-05-02 06:16] Nyholm opened #41029 "Missing translations for Armenian (hy)"
Hello,

There are some missing translation for Armenian (hy). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.hy.xlf](https://github.com/symfony/symfony/

[2021-05-02 06:16] Nyholm opened #41030 "Missing translations for Azerbaijani (az)"
Hello,

There are some missing translation for Azerbaijani (az). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.az.xlf](https://github.com/symfony/symfo

[2021-05-02 06:16] Nyholm opened #41031 "Missing translations for Basque (eu)"
Hello,

There are some missing translation for Basque (eu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.eu.xlf](https://github.com/symfony/symfony/bl

[2021-05-02 06:16] Nyholm opened #41032 "Missing translations for Belarusian (be)"
Hello,

There are some missing translation for Belarusian (be). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.be.xlf](https://github.com/symfony/symfon

[2021-05-02 06:16] Nyholm opened #41033 "Missing translations for Bosnian (bs)"
Hello,

There are some missing translation for Bosnian (bs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.bs.xlf](https://github.com/symfony/symfony/b

[2021-05-02 06:16] Nyholm opened #41034 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.pt_BR.xlf](https://github.co

[2021-05-02 06:16] Nyholm opened #41035 "Missing translations for Bulgarian (bg)"
Hello,

There are some missing translation for Bulgarian (bg). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.bg.xlf](https://github.com/symfony/symfony

[2021-05-02 06:16] Nyholm opened #41036 "Missing translations for Catalan (ca)"
Hello,

There are some missing translation for Catalan (ca). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.ca.xlf](https://github.com/symfony/symfony/b

[2021-05-02 06:16] Nyholm opened #41037 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.zh_CN.xlf](https://github.com/symfony/sym

[2021-05-02 06:16] Nyholm opened #41038 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.zh_TW.xlf](https://github.com/symfony/sym

[2021-05-02 06:16] Nyholm opened #41039 "Missing translations for Croatian (hr)"
Hello,

There are some missing translation for Croatian (hr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.hr.xlf](https://github.com/symfony/symfony/

[2021-05-02 06:16] Nyholm opened #41040 "Missing translations for Czech (cs)"
Hello,

There are some missing translation for Czech (cs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.cs.xlf](https://github.com/symfony/symfony/blo

[2021-05-02 06:16] Nyholm opened #41041 "Missing translations for Danish (da)"
Hello,

There are some missing translation for Danish (da). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.da.xlf](https://github.com/symfony/symfony/bl

[2021-05-02 06:16] Nyholm opened #41042 "Missing translations for Dutch (nl)"
Hello,

There are some missing translation for Dutch (nl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.nl.xlf](https://github.com/symfony/symfony/blo

[2021-05-02 06:16] Nyholm opened #41043 "Missing translations for Finnish (fi)"
Hello,

There are some missing translation for Finnish (fi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.fi.xlf](https://github.com/symfony/symfony/b

[2021-05-02 06:16] Nyholm opened #41044 "Missing translations for Galician (gl)"
Hello,

There are some missing translation for Galician (gl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.gl.xlf](https://github.com/symfony/symfony/

[2021-05-02 06:16] Nyholm opened #41045 "Missing translations for German (de)"
Hello,

There are some missing translation for German (de). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.de.xlf](https://github.com/symfony/symfony/bl

[2021-05-02 06:39] COil opened #41046 "[5.3 beta2][Security] Can't validate manual CSRF (test env only)"
**Symfony version(s) affected**: 5.3 beta2

**Description**
A csrf token put inside a twig template with the `csrf_token()` helper can't be validated any-more. This only occurs when using the test environment (PHPUnit 7.5.20) .

**How to reproduce**

Twig :

    <input type="hidden" name="_token" value="{{ csrf_token('delete'~event.id) }}">

Controller :

        if ($this->isCsrfTokenValid('delet

[2021-05-02 07:18] javiereguiluz commented on #41046
Starting from 5.3, CSRF tokens are randomized (transparently to the developer) to avoid security issues. See https://github.com/symfony/symfony/pull/39919. Maybe it's related somehow?

[2021-05-02 08:00] jderusse commented on #41046
~is it expected to have 2 différents intentions? `delete` in controller and `delete1` in test~
NVM I missed the controller logic

[2021-05-02 08:16] Nyholm opened #41047 "Missing translations for Greek (el)"
Hello,

There are some missing translation for Greek (el). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.el.xlf](https://github.com/symfony/symfony/blo

[2021-05-02 08:16] Nyholm opened #41048 "Missing translations for Hebrew (he)"
Hello,

There are some missing translation for Hebrew (he). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.he.xlf](https://github.com/symfony/symfony/bl

[2021-05-02 08:16] Nyholm opened #41049 "Missing translations for Hungarian (hu)"
Hello,

There are some missing translation for Hungarian (hu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.hu.xlf](https://github.com/symfony/symfony

[2021-05-02 08:16] Nyholm opened #41050 "Missing translations for Indonesian (id)"
Hello,

There are some missing translation for Indonesian (id). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.id.xlf](https://github.com/symfony/symfon

[2021-05-02 08:16] Nyholm opened #41051 "Missing translations for Italian (it)"
Hello,

There are some missing translation for Italian (it). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.it.xlf](https://github.com/symfony/symfony/b

[2021-05-02 08:16] Nyholm opened #41052 "Missing translations for Japanese (ja)"
Hello,

There are some missing translation for Japanese (ja). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.ja.xlf](https://github.com/symfony/symfony/

[2021-05-02 08:16] Nyholm opened #41053 "Missing translations for Latvian (lv)"
Hello,

There are some missing translation for Latvian (lv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.lv.xlf](https://github.com/symfony/symfony/b

[2021-05-02 08:16] Nyholm opened #41054 "Missing translations for Lithuanian (lt)"
Hello,

There are some missing translation for Lithuanian (lt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.lt.xlf](https://github.com/symfony/symfon

[2021-05-02 08:16] Nyholm opened #41055 "Missing translations for Luxembourgish (lb)"
Hello,

There are some missing translation for Luxembourgish (lb). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.lb.xlf](https://github.com/symfony/sym

[2021-05-02 08:16] Nyholm opened #41056 "Missing translations for Mongolian (mn)"
Hello,

There are some missing translation for Mongolian (mn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.mn.xlf](https://github.com/symfony/symfony

[2021-05-02 08:16] Nyholm opened #41057 "Missing translations for Norwegian (no)"
Hello,

There are some missing translation for Norwegian (no). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.no.xlf](https://github.com/symfony/symfony

[2021-05-02 08:16] Nyholm opened #41058 "Missing translations for Norwegian Bokmål (nb)"
Hello,

There are some missing translation for Norwegian Bokmål (nb). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.nb.xlf](https://github.com/symfony/

[2021-05-02 08:16] Nyholm opened #41059 "Missing translations for Norwegian Nynorsk (nn)"
Hello,

There are some missing translation for Norwegian Nynorsk (nn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.nn.xlf](https://github.com/symfony

[2021-05-02 08:16] Nyholm opened #41060 "Missing translations for Persian (fa)"
Hello,

There are some missing translation for Persian (fa). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.fa.xlf](https://github.com/symfony/symfony/b

[2021-05-02 08:16] Nyholm opened #41061 "Missing translations for Polish (pl)"
Hello,

There are some missing translation for Polish (pl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.pl.xlf](https://github.com/symfony/symfony/bl

[2021-05-02 08:16] Nyholm opened #41062 "Missing translations for Portuguese (pt)"
Hello,

There are some missing translation for Portuguese (pt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.pt.xlf](https://github.com/symfony/symfon

[2021-05-02 08:16] Nyholm opened #41063 "Missing translations for Romanian (ro)"
Hello,

There are some missing translation for Romanian (ro). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.ro.xlf](https://github.com/symfony/symfony/

[2021-05-02 08:16] Nyholm opened #41064 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.ru.xlf](https://github.com/symfony/symfony/b

[2021-05-02 08:16] Nyholm opened #41065 "Missing translations for Serbian (sr_Cyrl)"
Hello,

There are some missing translation for Serbian (sr_Cyrl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.sr_Cyrl.xlf](https://github.com/symfony

[2021-05-02 08:16] Nyholm opened #41066 "Missing translations for Serbian (sr_Latn)"
Hello,

There are some missing translation for Serbian (sr_Latn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.sr_Latn.xlf](https://github.com/symfony

[2021-05-02 08:21] cwiesenekker commented on #41042
I'll take it

[2021-05-02 08:42] mouadziani commented on #41028
Hello,
I'll look into the Arabic translations.

[2021-05-02 09:04] mouadziani commented on #41028
@Nyholm Check this PR https://github.com/symfony/symfony/pull/41068

[2021-05-02 09:41] gggeek commented on #40974
My 2c: search forms in an ideal world should use GET 99% of the time, but sometimes they hit max length of URL allowed by browsers, proxies, reverese-proxies or webservers, esp. when adding in faceting. This is often found after the initial build, and quick-fix is then to switch the search form to POST, possibly even in JS. This is one of the cases where being able to conflate GET with POST on the

[2021-05-02 09:42] gggeek commented on #40984
Plus one for deprecating that function. I agree that conflating get/post params can lead to subtle bugs, often with security implications, and should not be something so easily available to end developers. What's more, I always found it name confusing, as in my mind `get()` is too close to $_GET

[2021-05-02 09:43] cybernet commented on #41063
I'll take a look :)

[2021-05-02 09:46] flack commented on #40984
aside from being overly long, I think a good name for this function would be `getAttributeOrQueryOrRequest`: It tells you exactly what it does and also kind of conveys why it's usually a bad idea to use it.

[2021-05-02 10:55] dborsatto commented on #40948
I've dealt with a fair share of functions that could either return null or throw an exception depending on a flag parameter, and let me tell you, it's the worst of both worlds. A function in an external class should always treated as a black box and if it says that it returns `Request|null` and can throw an exception, you must check for both regardless of what parameter you pass to it.

In my opin

[2021-05-02 14:36] apfelbox opened #41071 "[Session] Not possible to set prefix/ttl in RedisSessionHandler settings via DSN"
**Symfony version(s) affected**: 5.2.x

**Description**
The `RedisSessionHandler` allows to set two options: `prefix` and `ttl`.
Unfortunately, it looks like these settings are not properly based in the calling code:

https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/SessionHandlerFactory.php#L53-L62

Instead, only the options `["lazy" => true

[2021-05-02 14:45] lyrixx commented on #40948
Fair point. We could add this behavior in symfony, isn't ? With the current method (and a migration path) or a ne method?
But it may not worth it. I Don't know

[2021-05-02 15:34] danielTiringer commented on #41049
Hi,
I'll knock this one out.

[2021-05-02 16:16] jschaedl commented on #41062
@AnaRaro Interested?

[2021-05-02 16:17] jschaedl commented on #41034
@mrezende Interested?

[2021-05-02 19:16] goetas commented on #41007
I believe that this is related to https://github.com/symfony/symfony/issues/37794 and https://github.com/symfony/symfony/issues/36196

[2021-05-02 19:24] #41049 closed, assigned to nobody

[2021-05-02 19:25] #41063 closed, assigned to nobody

[2021-05-02 20:01] #41028 closed, assigned to nobody

[2021-05-02 20:06] mrezende commented on #41034
Hi @jschaedl , tks for invinting me. But now, i cant work on this.

[2021-05-02 20:29] ShiroRyokoshi commented on #41061
I would like to do that issue.

[2021-05-02 20:39] jschaedl commented on #41034
@mrezende no problem. Maybe @rezehnde is interested as well?

[2021-05-03 06:16] Nyholm opened #41081 "Missing translations for Slovak (sk)"
Hello,

There are some missing translation for Slovak (sk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.sk.xlf](https://github.com/symfony/symfony/bl

[2021-05-03 06:16] Nyholm opened #41082 "Missing translations for Slovenian (sl)"
Hello,

There are some missing translation for Slovenian (sl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.sl.xlf](https://github.com/symfony/symfony

[2021-05-03 06:16] Nyholm opened #41083 "Missing translations for Spanish (es)"
Hello,

There are some missing translation for Spanish (es). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.es.xlf](https://github.com/symfony/symfony/b

[2021-05-03 06:16] Nyholm opened #41084 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.sv.xlf](https://github.com/symfony/symfony/b

[2021-05-03 06:16] Nyholm opened #41085 "Missing translations for Tagalog (tl)"
Hello,

There are some missing translation for Tagalog (tl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.tl.xlf](https://github.com/symfony/symfony/b

[2021-05-03 06:16] Nyholm opened #41086 "Missing translations for Thai (th)"
Hello,

There are some missing translation for Thai (th). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.th.xlf](https://github.com/symfony/symfony/blob

[2021-05-03 06:16] Nyholm opened #41087 "Missing translations for Turkish (tr)"
Hello,

There are some missing translation for Turkish (tr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.tr.xlf](https://github.com/symfony/symfony/b

[2021-05-03 06:16] Nyholm opened #41088 "Missing translations for Ukrainian (uk)"
Hello,

There are some missing translation for Ukrainian (uk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.uk.xlf](https://github.com/symfony/symfony

[2021-05-03 06:16] Nyholm opened #41089 "Missing translations for Uzbek (uz)"
Hello,

There are some missing translation for Uzbek (uz). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.uz.xlf](https://github.com/symfony/symfony/blo

[2021-05-03 07:01] rezendus commented on #41034
Yeah! sure @jschaedl I going to take this ;) @Nyholm

[2021-05-03 07:02] rezendus commented on #38710
I'll look into the Portuguese translations.

[2021-05-03 07:30] timfennis commented on #38056
I've updated to 3.1.x and I'm still getting this issue, am I going insane?

---

Edit: Running with `--env` prod as a temporary workaround.

[2021-05-03 07:44] nicolas-grekas commented on #38056
You might hit #39259

[2021-05-03 08:24] stof commented on #41021
@nicolas-grekas @fabpot could you review that pending fix ?

[2021-05-03 08:37] mhujer commented on #40863
It is also problem in Czech (discovered it when working on https://github.com/symfony/symfony/issues/41040)

[2021-05-03 09:14] nicolas-grekas commented on #40949
For 7.4, see https://github.com/php/php-src/pull/6934
For 7.3/7.2, dunno what to do...

[2021-05-03 09:28] HypeMC commented on #40949
@nicolas-grekas It could work by adding output buffering to `autoload_runtime.php` around `require $_SERVER['SCRIPT_FILENAME']`. Don't know if that's an option.

[2021-05-03 10:59] derrabus opened #41094 "Phase out Serializable"
**Description**
Due to its broken behavior, PHP is phasing out the `Serializable` interface currently.

See:
* https://wiki.php.net/rfc/custom_object_serialization
* https://wiki.php.net/rfc/phase_out_serializable

The replacement are the magic methods `__serialize()` and `__unserialize()` that have been introduced with PHP 7.4. As long as our implementations of `Serializable` also implement those

[2021-05-03 11:18] stof commented on #41094
For routing, I suggest we also tag the serializable methods as `@internal`, which will allow us to migrate to `__serialize`

[2021-05-03 13:50] jvancoillie opened #41095 "[VarDumper] dump function already defined by "Tracy""
The `dump` function was not created because it already defined by the tracy library installed as a dependency of rector.

I'm guessing this is due to the autoload order which calls tracy's function file before the var-dumper dump.php file.

[code]
is there a way to prioritize var-dumper functions file ?

[2021-05-03 15:16] tobiasthaden commented on #40835
https://github.com/laravel/framework/commit/c42988a551ffdae0e70aa15959969732265789c0

[2021-05-03 15:42] derrabus commented on #41094
They are already `@internal` and `final`. Sorry, I missed that. 😓

[2021-05-03 15:51] nicolas-grekas commented on #41094
That was my plan yes!

This should be fixed!

[2021-05-03 15:53] derrabus commented on #41094
#41096

[2021-05-03 17:10] JohJohan commented on #38873
Hi, the workarround is to just pass the value directly but then you have 2 config values. Let me know if you want me to pick it up i think solution 1 is the most neat one

[2021-05-03 20:28] #41042 closed, assigned to nobody

[2021-05-03 20:28] #41045 closed, assigned to nobody

[2021-05-04 05:47] makraz commented on #41083
Hi @Nyholm,
this is PR #41100 about the missing translations for Spanish.

[2021-05-04 06:15] Nyholm opened #41101 "Missing translations for Dutch (nl)"
Hello,

There are some missing translation for Dutch (nl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.nl.xlf](https://github.com/symfony/symfony/blo

[2021-05-04 06:15] Nyholm opened #41102 "Missing translations for German (de)"
Hello,

There are some missing translation for German (de). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.de.xlf](https://github.com/symfony/symfony/bl

[2021-05-04 06:40] slash686 commented on #41064
Happy to take a look at this.

[2021-05-04 06:42] slash686 commented on #38710
I'll look into the Russian translations.

[2021-05-04 06:56] derrabus commented on #40835
https://twitter.com/taylorotwell/status/1389352459487825922

[2021-05-04 06:59] derrabus commented on #41102
Didn't I just do that? 🤔

[2021-05-04 07:16] ovrflo commented on #40953
There already is such an exception
`throw new \Symfony\Component\Messenger\Exception\UnrecoverableMessageHandlingException();`

There is also the opposite:
`throw new \Symfony\Component\Messenger\Exception\RecoverableMessageHandlingException();`

[2021-05-04 08:33] #41101 closed, assigned to nobody

[2021-05-04 08:33] #41102 closed, assigned to nobody

[2021-05-04 08:59] slash686 commented on #41064
Hello, the Russian language has non-obvious pluralization rules that require the usage of [ICU Message Format](https://symfony.com/doc/4.4/translation/message_format.html) which requires message domain file to be suffixed with +intl-icu string, so that **security.ru.xlf** should be renamed to **security+intl-icu.ru.xlf**. I'm wondering if this could possibly break someone else's existing code?

[2021-05-04 09:28] stof commented on #41064
@slash686 no. Russian does not require the usage of ICU. The old pluralization system also support Russian rules.

I think the actual issue here is that new security translations don't actually use pluralization but separate keys.

[2021-05-04 09:39] Tomanhez opened #41103 "Method isAllowedProperty on ReflectionExtractor class can return int type"
**Symfony version(s) affected**: 5.2.4

**Description**
Method `isAllowedProperty` on `ReflectionExtractor` class should returns  `bool` type, but returns `int`:
<img width="1440" alt="Screenshot 2021-05-04 at 10 01 24" src="https://user-images.githubusercontent.com/39232096/116985272-87685680-accc-11eb-85c3-1da5e90bc485.png">

It occurred in in Sylius

[2021-05-04 11:07] ro0NL opened #41106 "[Messenger] Message attributes"
Eg.

[code]

As replacements/alternatives for

[code]

and `MessageHandlerInterface` :zany_face:

Perhaps it's considerable to expose some tools in a contract package, for other bus implementors to leverage. But Messenger component will do i guess. We could even think of a interop messge bus contract.

[2021-05-04 13:07] #38881 closed, assigned to nobody

[2021-05-04 13:13] #25676 closed

[2021-05-04 14:09] xabbuh commented on #40822
Okay, thanks for the feedback. Let's close here then for now and we can consider to reopen when there is a reproducer.

[2021-05-04 14:09] #40822 closed, assigned to nobody

[2021-05-04 14:15] xabbuh commented on #41103
In Sylius this was an issue as they are using strict types. That doesn't apply to the Symfony code so the current implementation will work as expected (see also https://3v4l.org/hQuFcd).

[2021-05-04 15:32] #40969 closed, assigned to nobody

[2021-05-04 16:03] #41040 closed, assigned to nobody

[2021-05-04 16:03] #41083 closed, assigned to nobody

[2021-05-04 16:05] chalasr commented on #40975
Fixed in #41075.

[2021-05-04 16:05] #40975 closed, assigned to nobody

[2021-05-04 17:27] COil commented on #41046
Hello, I am closing this. Generating the CSRF token manually in the test wasn't really clean. I switched to a better functional test where I submit the form, and now it's OK.

    $form = $crawler->selectButton('event_delete_1')->form();
    $client->submit($form);

Thanks for the help. 🙂

[2021-05-04 17:27] #41046 closed, assigned to nobody

[2021-05-04 17:31] stof commented on #41046
@COil what you were trying to do previously in your test was basically bypassing the CSRF protection to make a CSRF attack work :smile:

[2021-05-04 17:48] COil commented on #41046
Yes, indeed!!! 😅

[2021-05-04 17:56] #41087 closed, assigned to nobody

[2021-05-04 17:56] #41062 closed, assigned to nobody

[2021-05-04 17:56] #41020 closed, assigned to nobody

[2021-05-04 17:56] #41024 closed, assigned to nobody

[2021-05-04 21:54] ghost commented on #40953
@ovrflo I think the author wants to mark a message as unrecoverable on the message class level. Throwing UnrecoverableMessageHandlingException requires having the whole code in every handler in try...catch block that catches \Exception or \Throwable. Whats more, a handler's  __invoke() method can be typed with a message parent class or interface. This way the message type can differ and you want t

[2021-05-04 22:02] ovrflo commented on #40953
I'm not sure such a feature belongs in core. It might. I hope some contributors will drop by with some thoughts on this :)

While this feature is out of the core, you could write your own retry strategy
[code]

That Retry Strategy class could then decide whether messages should be retried, how many times and how frequently. Setting this stuff in `messenger.yaml` under `routing` might be cool, but

[2021-05-05 00:00] ghost commented on #40953
Retry strategy is not the way to go in this problem. We need to remove the message completely. Retry strategy does not decide whether a message should be discarded (removed forever) but it decides whether a message should be moved to the failed transport or retried again in the current transport.
What's more, if one thought about some kind of message discarding in RetryStrategyInterface implementa

[2021-05-05 00:05] ovrflo commented on #40953
You are indeed correct. Sorry for being somewhat off-topic :)

[2021-05-05 07:22] ro0NL commented on #38873
See also #40906, beforeNormalization is up for debate :)

[2021-05-05 07:54] pelikan7 opened #41110 "[symfony/cache] Older versions of redis are not supported"
**Symfony version(s) affected**: symfony/cache v4.4.22

**Description**
After updating from symfony/cache v4.4.21 to v4.4.22, Redis suddenly stopped working. It doesn't show any message other than "Redis connection "HERE_IS_CONNECTION_STRING" failed" (it should add an error message in the end of this message).

After debugging I found out that our version of php-redis (which is 4.2.0-1) accepts 6

[2021-05-05 09:06] nicolas-grekas commented on #41110
Should be fixed by #41099

[2021-05-05 09:39] lyrixx opened #41111 "[Validator] Add shortcut to create a new ConstraintViolationList with one Constraint"
**Description**
It's very common to do that in Symfony Application:

[code]

Note: The last line is not related, but will help to better undertand

As you can see, it's a bit boring and really not straightforward to create this piece of code E_TOO_MANY_PARAMETER

What do you thing about something like:

[code]

---

If it's OK for you, I'll do the PR

[2021-05-05 09:50] petermanders89 commented on #40890
As a work around we adjusted the `login_throttling` parameter to a higher number specifically in the test environment.

[2021-05-05 11:20] loevgaard opened #41112 "Debug bar erroring with 404"
**Symfony version(s) affected**: 5.2

**Description**
When I launch a freshly installed Sylius installation the debug bar doesn't show up. It seems that it errors with a 404, but when I try to open the URL it's trying to fetch, there is no 404. I have made a video showing the error:

https://www.youtube.com/watch?v=yupDNtIQryg

[2021-05-05 11:57] spackmat commented on #40988
That worked! I implemented a ThreemaChannel, a ThreemaTransportException, a ThreemaMessage, a ThreemaNotification, a ThreemaRecipient and a ThreemaE2EETransport and use that service configuration:

[code]

Then I create those notifications:

[code]

Alternatively I can create the ThreemaMessage directly:

[code]

Btw. the official Threema PHP SDK doesn't work well with composer projects, so I use

[2021-05-05 12:27] wouterj commented on #40890
I think it was not intentional (I think I would have added it to the PR description if such a removal was intentional).

[2021-05-05 13:10] Korbeil commented on #38093
Yes, just didn't had time to work on this lately ~

[2021-05-05 13:13] wouterj commented on #38275
Yes!

[2021-05-05 14:02] Dryobs commented on #38988
Hi, no, I no longer need these changes anymore, even if the dependency to the ORM still useless. Thanks

[2021-05-05 14:47] OskarStark commented on #40644
I am running into the same issue:
![CleanShot 2021-05-05 at 16 45 28@2x](https://user-images.githubusercontent.com/995707/117160417-6170ae00-adc1-11eb-9ce7-bf94cb94a6e0.png)

I have different scoped clients and want to wrap them into a CachingHttpClient.

Any idea were this needs to be fixed?

cc @nicolas-grekas @Nyholm

[2021-05-05 15:12] nicolas-grekas commented on #40644
But @stof is right, there is nothing to fix here, the caching decorator must be put after the URL is fully resolved.

[2021-05-05 15:12] #40644 closed, assigned to nobody

[2021-05-05 15:59] stof commented on #40644
@OskarStark what you should do is having multiple scoped clients wrapping a CachingHttpClient instead (they could even wrap the *same* caching client so that the cache can be shared)

[2021-05-05 16:22] spipu commented on #41110
i have exactly the same pb, and i also have the same conclusion about this commit https://github.com/symfony/symfony/commit/a1e0408d08a793aab1e14fb1c50ab901d3354583

[2021-05-05 16:28] Gemorroj commented on #40644
[code]

[2021-05-05 16:40] AlexeyKosov opened #41114 "Console QuestionHelper: throws a notice when input has no tty"
**Symfony version(s) affected**: 5.2.7

**Description**
The QuestionHelper throws a notice (which results in an ErrorException in dev env) when input is not a terminal.

**How to reproduce**
In dev env, run a command detached from a terminal (e.g. `nohup bin/console app:test -vv &`)
[code]

Check out the nohup.out file:

[code]

**Possible Solution**
Add a check if the input is actually interactiv

[2021-05-05 16:58] stof commented on #40644
@Gemorroj here is the way to have them decorated in the right order

[code]

@nicolas-grekas I think this `HttpClient::createForBaseUri` shortcut is the main source of confusion here, because it hides the fact that the scoping client is a decorator and forbids injecting intermediate decorators.

[2021-05-05 17:03] derrabus commented on #41112
Can you please report this to Sylius instead? The output in the video says that processing the request took 12 seconds which is a lot for a fresh installation. And this also explains why fetching the toolbar times out at first and why can be fetched manually afterwards.

[2021-05-05 17:03] #41112 closed, assigned to nobody

[2021-05-05 17:24] loevgaard commented on #41112
Hi @derrabus. I absolutely see your point, but I still believe it would make sense if the retrying of the toolbar used some kind of backoff strategy instead of just retrying every second or whatever it does now. What do you think about such an idea? Then I will make a PR to fix it.

[2021-05-05 18:10] derrabus commented on #41112
Sure, go ahead. 😃

[2021-05-05 18:17] ro0NL commented on #41111
IMHO `createSingleConstraint('...')` implies the same as `new ConstraintViolation('...')`, and then `new ConstraintViolationList([new ConstraintViolation('..')])` isnt that bad.

[2021-05-05 19:30] loevgaard commented on #41112
There you go, have a great evening and thanks for your swift response!

[2021-05-05 20:17] ramundomario commented on #41051
I'll do it :wink:

[2021-05-06 06:35] #41034 closed, assigned to nobody

[2021-05-06 06:54] remialvado opened #41118 "[Validator] PHP8, Constructor Property Promotion and Constraint's target"
Hi,

I'm using Constructor Property Promotion for the first time along with Constraint and I'm trying to do something like this :

[code]

phpstan throws me an error :
[code]

After reviewing `NotBlank` class, it seems that changing
[code]
by
[code]
will do the trick. Obviously, it would require to change the old annotation style as well as the new attribute one.

But I'm not sure about a few thin

[2021-05-06 07:13] nicolas-grekas commented on #41118
Does the code work? If yes, then this is an issue with phpstan, not Symfony.

[2021-05-06 07:45] ghost opened #41119 "The "Access Denied" page don’t handle arrays as subject"
**Symfony version(s) affected**: 5.2.7

**Description**

The "Access Denied" page don’t handle arrays as `subject` when displaying it.

**How to reproduce**

Use PHP8 attribut and give an array to $subject :

[code]

If the voter gives the acces, no problem, but if the voter deny the access :

![access_denied](https://user-images.githubusercontent.com/295478/117261148-1b166000-ae50-11eb-9ff1-a2ad3

[2021-05-06 08:37] dborsatto opened #41120 "[HTTP Foundation][Session] Reverting the session service deprecation and finding a better approach"
Hello,

yesterday a [blog post](https://symfony.com/blog/new-in-symfony-5-3-session-service-deprecation) was published announcing that the session service would be deprecated in 5.3 and removed in 6.0. While I agree that the current approach is problematic for the reasons explained in the blog post, I believe that the change introduced in #38616 does not go in the way of actually fixing the proble

[2021-05-06 09:01] stof commented on #41119
The error happens in `Sensio\Bundle\FrameworkExtraBundle\EventListener\IsGrantedListener` according to the stack trace. So you need to report it to `sensio/framework-extra-bundle`. It is not a bug in Symfony.

[2021-05-06 09:01] #41119 closed, assigned to nobody

[2021-05-06 09:43] derrabus commented on #41118
See phpstan/phpstan#4418

[2021-05-06 09:43] #41118 closed, assigned to nobody

[2021-05-06 09:44] ghost commented on #41119
Thank you, I opened an issue on the correct project : https://github.com/sensiolabs/SensioFrameworkExtraBundle/issues/725

[2021-05-06 10:57] jderusse commented on #41120
First of all, thank you for opening this RFC!

There are 2 distinguishes topics here:
- removing the state from the Container
- removing Session out from HttpFoundation

The purpose of #38616 and #40285 was to remove stateful services from the container and address only the first topic.
I don't have a strong opinion about the second topic and won't talk about it in this comment.

I think the main

[2021-05-06 11:12] #40895 closed, assigned to nobody

[2021-05-06 11:13] #41103 closed, assigned to nobody

[2021-05-06 12:00] MatTheCat commented on #40890
Well I found https://github.com/symfony/symfony/pull/38308#discussion_r495497150 but if a limiter takes the username into account, creating a new account won’t reset it.

[2021-05-06 12:08] wouterj commented on #40890
Ah, now I remember. Good find!

Hmm, I feel like the drawbacks (this issue) are much higher than the advantages of not resetting. I'm happy reviewing a PR readding it

[2021-05-06 12:09] OskarStark commented on #40644
I agree, while reading this @stof it makes sense.
Before you can use an easy yaml to define different scoped clients, now you need to do a lot of work in the services.yaml to combine all these things together. Its straightforward in PHP but not in yaml.

I am thinking about a new option for the scoped_clients section `cache_store: '@http_cache.store'` which gets me the correct decorated `ScopingHt

[2021-05-06 12:37] derrabus commented on #41120
I think there are two things that we should not mix up here:

* A service that maintains a state (stateful service)
* A service that represents the state itself.

The latter is especially problematic because if the state changes, services that depend on that service cannot be updated once they're constructed. This is why the request has been removed from the container a long time ago, why the curr

[2021-05-06 12:48] MatTheCat commented on #40890
I can do it. Would this be considered a bugfix or a new feature?

[2021-05-06 12:57] wouterj commented on #40890
I would say a bugfix (let's see what other core team members think when the PR is created).

[2021-05-06 13:13] MatTheCat commented on #40890
Would it be possible to only reset the local limiter on successful login? :thinking:

[2021-05-06 13:33] dborsatto commented on #41120
The difference between `RequestStack` and the other services you mention is that those are implementations details over higher level abstractions, whereas `RequestStack` (as the name says) is an implementation of a stack data structure, with a couple convenience methods added to it. `ArrayAdapter`, `TraceableEventDispatcher`, and `FingersCrossedHandler` are instances of an implementation which hap

[2021-05-06 13:40] lyrixx opened #41121 "`bin/console debug:config XXXX` does't work when the config is not defined in the **application**"
**Symfony version(s) affected**: 4.4.*

**Description**

[code]

**How to reproduce**

Drop all the configuration of a bundle

**Possible Solution**

Dump the real configuration, even if the app definition does not exists.

**Additional context**

[code]

The help says it dump the **current**configuration, it means the configuration defined in the application merged with the default one (I know it

[2021-05-06 14:56] kshida commented on #41052
Hi, I'd like to work on this issue :)

[2021-05-06 15:07] garak commented on #36956
Sorry to bump old issue, but I just hit this problem again (even if I have a similar configuration working).
So, is there something else I can check, after the following?
- Symfony 4.4
- symfony/amazon-mailer v5.2.0
- async-aws/ses 1.4.0
- properly configured env vars, with credentials checked in a smtp test tool, password urlencoded

The error is the infamous "The request signature we calculated

[2021-05-06 15:34] Nyholm commented on #41052
Great. Please do!

[2021-05-06 16:11] chalasr commented on #40971
👍 for this. I would personally prefer the event-based approach.
I won't be able to work on this for 5.3, but I'd be glad to review a PR and push towards merging it in 5.3 as a last minute improvement for the 5.3 remember-me feature.

[2021-05-06 16:30] derrabus commented on #41120
And they don't need to because even if you add requests to it or if you flush it completely and handle an entirely new main request, it's still the very same request stack.

You lost me here, sorry.

Your description fits either a cache or a database. Storing data is **not** the point of a session. A session maintains state over a stateless protocol.

We cannot because without the request we would

[2021-05-06 16:44] #41052 closed, assigned to nobody

[2021-05-06 17:05] ro0NL commented on #41121
i think i broke this unintendedly in #30648

ideally we'd solve this from the debug command somehow, or put different im not sure we should start processing empty config to get a default for this purpose :thinking:

[2021-05-06 17:16] derrabus commented on #36956
@garak Can you please bump amazon-mailer to the latest 5.2 release?

[2021-05-06 17:17] SaliBhdr opened #41123 "Bug - Custom AccessDecisionManager not getting list of voters as first argument in __construct"
**Symfony version(s) affected**: 5.2.*

**Description**
After I write my own `AccessDecisionManager` and extend it from the security bundle's `Symfony\Component\Security\Core\Authorization\AccessDecisionManager`, all voters logic were not working anymore. What I expect is to get $voters array as the first argument of __construct like the parent `AccessDecisionManager`.

**How to reproduce**
Make y

[2021-05-06 17:43] pounard commented on #41120
This were I strongly disagree:

-  whereas an ArrayCacheAdapter has a state, it's an application-wide state, it's not supposed to be related to current-request-only context data or state, if it's used otherwise, then I guess it should not be in the container as a service in the first place, but only exist as a service decorator somewhere that could be replaced or changed by something else at anyti

[2021-05-06 19:03] ghost commented on #41123
Could you provide a reproducer app so we can see the big picture? You could do something wrong in other part of your configuration.
For fast checks please inspect what `debug:container security.access.decision_manager` returns. Secondly you can inspect `Symfony\Bundle\SecurityBundle\DependencyInjection\Compiler\AddSecurityVotersPass::process()` (personally, I use xdebug for a such problems debuggi

[2021-05-06 19:04] ro0NL commented on #41120
i think theoretically we could push any request onto the stack yes, hence i believe session as a service cannot work

[2021-05-06 19:19] #40237 closed, assigned to nobody

[2021-05-06 20:13] connorhu opened #41124 "[String] wrong plural form of "conspectus""
**Symfony version(s) affected**: 5.2.6

**Description**
Pluralize method of EnglishInflector said plural of conspectus is conspecti.
As you can see the correct plural form is conspectuses:
https://en.wiktionary.org/wiki/conspectus

**How to reproduce**
[code]

[2021-05-06 20:48] derrabus commented on #41124
PR welcome, against the Inflector component on 4.4.

[2021-05-06 22:37] sven-communitales opened #41126 "Symfony\Bridge\Twig\Mime\TemplatedEmail should allow TemplateWrapper as html and text template"
**Description**

The `Symfony\Bridge\Twig\Mime\TemplatedEmail` currently only allows a string a param which contains the path to the twig template.

The `Symfony\Bridge\Twig\Mime\TemplatedEmail`  should additional allow `Twig\TemplateWrapper` for the methods:

[code]

The BodyRenderer uses internally `$this->twig->render()`. This method allows the usage of string and TemplateWrapper as param.

As

[2021-05-07 06:08] OskarStark commented on #40644
I get it (almost) working with the following code:
[code]

It results in:
![CleanShot 2021-05-07 at 08 06 29@2x](https://user-images.githubusercontent.com/995707/117405035-41e59c80-af0b-11eb-8396-aec9b8015836.png)

As far as I can tell this looks correct, but nothing is written to the store 🤔

[2021-05-07 06:26] OskarStark commented on #40644
Ok maybe this is related to #36858, as my response sends the following headers:
![CleanShot 2021-05-07 at 08 25 31@2x](https://user-images.githubusercontent.com/995707/117406788-d3eea480-af0d-11eb-8838-4eb5ea359f31.png)

Am I right, that these responses are not cacheable yet, even when I explicitly want it?

[2021-05-07 06:36] #41051 closed, assigned to nobody

[2021-05-07 06:36] #41061 closed, assigned to nobody

[2021-05-07 06:43] n0rbyt3 commented on #40746
@mrsombre I guess you are mixing two different things: You are *not* trying to denormalize into an exising object, because you are passing an array and you are *not* denormalizing an normalized array because it contains an object.

Denormalization is the process of converting normalized data (=an array of simple types) back into an object.

I guess your case is not supported by the serializer comp

[2021-05-07 06:53] OskarStark commented on #40644
Jupp, sendend appropriate cache headers solves this issue

[2021-05-07 07:11] garak commented on #36956
@derrabus thanks for your suggestion: tried with amazon-mailer 5.2.6, no luck :-(

[2021-05-07 07:30] jderusse commented on #36956
If you use DSN, could you please check that the credentials are encoded?

AWS, often generates KEYs and SECRETs with special chars like `+` and `/`. When you copy-paste these credentials in the DSN  (ie. `ses://mykey:my+secret@default`) the `+` is url_decoded and interpreted like a space (` `) as a result the credential used to signs the payload is invalid.

[2021-05-07 07:31] garak commented on #36956
@jderusse already mentioned above: "password urlencoded"

[2021-05-07 07:43] jderusse commented on #36956
Having `"535 Authentication Credentials Invalid" if I use ses+smtp://` let me think this is related to the env var or credentials and not only the `amazon-mailer` bridge

After using the SMTP transport in debug mode, the `SentMessage` object contain a `debug` property that should contain all the command executed, maybe it can help to troubleshoot what's going on

[2021-05-07 07:45] garak commented on #36956
I now tried again with `ses+smtp://`, but forcing region by appending `?region=eu-central-1`. It's working for now, but I', not sure if I can keep it like so (or if it's better using `ses+api://`)

[2021-05-07 07:55] xabbuh commented on #38988
still relevant IMO

[2021-05-07 08:31] mrsombre commented on #40746
@n0rbyt3 yeah, thx for the explanation. I'm using a serializer for object mapping, ie populating properties without actually call setters. Custom normalizer sounds reasonable for me now.

[2021-05-07 08:31] #40746 closed, assigned to nobody

[2021-05-07 08:48] M0ustach3 opened #41127 "[LDAP] Modifying an entry crashes when having permissions set within Active Directory"
**Symfony version(s) affected**: At least 5.2.6
**Symfony/LDAP version affected**: At least 5.2.*

**Description**
I have an LDAP/Active Directory user which is made to modify only specific attributes on the LDAP/AD server. When using the update method, all the attributes are sent with the query, thus crashing the app because the user is not allowed to modify any other attribute than the one I wan

[2021-05-07 09:14] Gemorroj commented on #40644
@OskarStark ye, however I can't change the cache headers sended by google in my case 😪

[2021-05-07 09:33] ke20 commented on #40625
Hi @OskarStark !

Not really again... I've start a first little approach but when I wanted to test that I had some errors, but I don't know why at the moment.

My error is :
[code]

 I don't understand why `EntityManagerInterface` is not injected into the class `FakeSmsTransportFactory` automatically when the `MailerInterface` is...

 Someone know if an explicit configuration is required ?

 **Edi

[2021-05-07 09:39] OskarStark commented on #40625
Check FrameworkExtension.php

[2021-05-07 09:44] ke20 commented on #40625
Ok thank you I'll look that !

[2021-05-07 11:10] a-menshchikov opened #41128 "Warnings while cache:clear with prod environment"
**Symfony version(s) affected**: 5.3.0-BETA2

**Description**
When I'm running `bin/console cache:clear --env=prod`, I have the following output:
[code]
The same time, all ConfigBuilders that used in configs from config/packages are generated (all expect TwigConfig).

[2021-05-07 11:17] derrabus commented on #41128
@Nyholm Can you have a look?

[2021-05-07 11:21] Nyholm commented on #41128
I see you get a `ServiceNotFoundException` exception. What does that one say?

[2021-05-07 11:31] a-menshchikov commented on #41128
Hmm. Debugging shows that these exceptions don't belong to the listed bundles. Inside `ConfigBuilderCacheWarmer::dumpExtension` thrown `ServiceNotFoundException` with message `You have requested a non-existent service "security.context_listener.0".`, but warning text is somewhat confusing IMO.

[2021-05-07 11:33] Nyholm commented on #41128
True, did you get any other warnings from anywhere else?

What is the stacktrace of the `ServiceNotFoundException`?

[2021-05-07 11:35] Nyholm commented on #40999
Could you help me understand why you would set the `reference_date` to 0? Im not familiar with that feature.

[2021-05-07 11:39] KDederichs commented on #40999
Not the reference_date, the minutes or hours, but it's related to this: https://github.com/symfony/symfony/pull/40998
So all of this only happens if you set a reference_date with differentiating input and model timezones in array mode.
As I described in that issue though I'm not 100% sure if it should be a thing you can do anyways.

[2021-05-07 11:41] xabbuh commented on #40999
I think adding a test for a use case that would currently fail in #40998 would help understanding and judging this issue.

[2021-05-07 12:08] #41064 closed, assigned to nobody

[2021-05-07 12:11] a-menshchikov commented on #41128
There are no other warnings.
One important thing: all of this happens when there is no prod cache.

This exception thrown from https://github.com/symfony/symfony/blob/v5.3.0-BETA2/src/Symfony/Bundle/SecurityBundle/DependencyInjection/Compiler/SortFirewallListenersPass.php#L61 (`$id = 'security.context_listener.0'`). As I see, on the first run of SortFirewallListenerPass the service exists in the c

[2021-05-07 12:35] #41110 closed, assigned to nobody

[2021-05-07 12:38] nicolas-grekas commented on #40937
I'm :-1: on this one, this is generated code, it wouldn't benefit from static analyses.

[2021-05-07 12:43] xabbuh commented on #40832
Thank you for providing the example application. I looked into it and this looks related to what happens under the hood in Doctrine. The input that is passed to it is the same in both environments. But as you already noticed the executed query is different. This seems to be related to the difference in how class metadata are handled in these environments. I don't know how easy it would be to fix t

[2021-05-07 12:43] #40832 closed, assigned to nobody

[2021-05-07 12:43] nicolas-grekas commented on #41012
Related to https://github.com/phpredis/phpredis/issues/548 and a new SCAN_PREFIX option in 5.3: https://github.com/phpredis/phpredis/pull/1649

But since we want to keep compat with a broader set of versions, we should prefix scans ourselves.

Up for working on this @gboubel?

[2021-05-07 12:44] nicolas-grekas commented on #41012
Alternatively, we might close as "won't fix, bump and use SCAN_PREFIX instead", wdyt?

[2021-05-07 13:02] xabbuh commented on #40745
I don't know why the listener was initially implemented that way. But we will probably break some use cases if we break that flow.

[2021-05-07 13:22] #40659 closed, assigned to nobody

[2021-05-07 13:31] wouterj commented on #40937
In that case, let's close this issue. I would be -1 on adding PHPdocs (even option based) - that's a huge effort to accomplish.

As always, feel free to continue this thought experiment by running Psalm on the compiled files and let us know if you found a working use-case :)

[2021-05-07 13:31] #40937 closed, assigned to nobody

[2021-05-07 14:02] #40622 closed, assigned to nobody

[2021-05-07 14:04] #40942 closed, assigned to nobody

[2021-05-07 14:09] bvklim opened #41130 "Using nested cache contracts can cause deadlock between processes"
**Symfony version(s) affected**: 5.2.*

**Description**
Using nested cache contracts can cause deadlock between processes

**How to reproduce**
test-deadlock.php:
[code]
composer.json:
[code]
memcached daemon should be running on localhost
run
`composer install`
if you then run the scripts sequentially,
`php test-deadlock.php test a`
`php test-deadlock.php test b`
then they exit correctly, after 2

[2021-05-07 14:17] sylfabre commented on #32652
@ro0NL @stof I'm working again with intl and came across this issue again.

I'm thinking about decorating/modifying `IntlFormatter` to run a first parsing of the string to properly "translate" all the placeholders with date, time, or currency with the right timezone and currency using https://www.php.net/manual/en/class.intldateformatter.php and https://www.php.net/manual/en/class.numberformatter.

[2021-05-07 14:18] #40865 closed, assigned to nobody

[2021-05-07 14:58] lyrixx commented on #38901
Yes, I planned to do that soon

[2021-05-07 18:15] ro0NL commented on #41120
we can think of a `ProxySession` pattern, but there's no guarantee such implementation is always wired eventually.

IMHO eg. `SessionValueResolver` is _the_ legit "in-between" glue, which is 100% bound to current request

i agree RequestStack::getSession is bit of indirection, overruled at the language level with `$stack->getCurrentRequest()?->getSession() ?? throw ...`

[2021-05-07 18:34] gboubel commented on #41012
I like the idea of patching for a broader set of versions (who knows what php versions are tied to older phpredis on what distros!) I'll put in a PR this weekend with a fix.

[2021-05-07 18:47] pounard commented on #41120
@ro0NL I agree regarding resolvers but one thing it doesn't solve is the listener services dépendency, no matter how hard we always end-up with a tainted service in container (most notable exemple being the request stack).

Hence the need, at one point or another to try conceiving another way of passing those state objects to listeners, for exemple as properties in event themselves. As pure argume

[2021-05-07 18:56] SaliBhdr commented on #41123
@marbulk

when I use default decision manager the `debug:container security.access.decision_manager` returns this:

[code]

After using custom decision manager the `debug:container security.access.decision_manager` returns this:

[code]

I used **xdebug** on custom access decision manager and the process never enters the `process()` method of `Symfony\Bundle\SecurityBundle\DependencyInjection\Comp

[2021-05-07 19:47] Androbin opened #41133 "Cannot access parent:: when current class scope has no parent"
**Symfony version(s) affected**: 4.4

**Description**
If `$p->getDefaultValueConstantName()` starts with `parent::`, `defined` interprets it relative to the wrong base class.

**How to reproduce**
Minimal reproducing [test project](https://github.com/symfony/symfony/files/6309935/test-project.zip), only need to run `composer install`

**Possible Solution**
See #40774

**Additional context**

[code

[2021-05-07 19:52] ro0NL commented on #41120
RequestStack is an implementation detail for us, if you consider eg. `$kernel->handle(new Request())`

what i dont see yet, is how we replace RequestStack as an extension point for general purpose solutions. If we ignore its mutability, is it a bad service? Its state doesnt change within a kernel lifecycle.

of course we generally prefer the active scope if possible, eg. kernel event, controller a

[2021-05-07 21:45] ro0NL commented on #32652
actually the spec recommends to format params separately: https://unicode-org.github.io/icu/userguide/format_parse/messages/#format-the-parameters-separately-recommended

im not sure we shoud start exending it :) From a i18n POV having different category locales _globally_ feels odd, if not invalid sort of.

Note there should be many general purpose formats available upstream: https://unicode-org.

[2021-05-07 21:49] #40949 closed, assigned to nobody

[2021-05-08 07:36] ghost commented on #41123
Thank you. I forgot that in a dev environment the security.access.decision_manager service is decorated with a traceable manager. Please check `debug:container debug.security.access.decision_manager.inner --show-arguments` output.
The information about AddSecurityVotersPass never being entered is worrying (PS. remember that the compiler passes are executed only when any of so called resources have

[2021-05-08 08:30] a-menshchikov commented on #41128
It seems like this issue may be related to #41011. In both cases problem caused by non-booted kernel.

[2021-05-08 08:53] meiyasan opened #41135 "Twig template priority (server crash)"
**Symfony version(s) affected**: 5.2.7

**Description**
It seems there is a priority inconsistency in the priority given to the template chosen by twig
Including an infinite loop that makes server crash..

**How to reproduce**
My attempt (thanks to @xabbuh's help) to replace the original form_div_layout is not working.
1. The entries in "form_themes" are not prioritized, therefore I haven't found

[2021-05-08 09:12] sylfabre commented on #32652
@ro0NL This point is indeed to format params separately.

I've made a (very) quick POC: https://github.com/symfony/symfony/pull/41136 as some lines of code may be clearer that a lot of words!

[2021-05-08 09:39] ro0NL commented on #32652
I think why ICU reccomends separate formatting at the user level, is so we dont have to couple an implementation to a global currency locale nor specific parameter types. You can provide these values from the outside to any MessageFormat implementation (let this one be in PHP core).

Im generally curious about the use case for having a different currency locale _globally_, i tend to believe it bre

[2021-05-08 10:10] SaliBhdr commented on #41123
@marbulk

Thank you for your reply.

Here is the output of `debug:container debug.security.access.decision_manager.inner --show-arguments`:

[code]

### New Update:
As you said in the previous comment, I added a comment to `AddSecurityVotersPass` and the process entered the `process()` method of `AddSecurityVotersPass`. So in line 38 :
[code]
The condition returns `true` so the code hits `return;`

[2021-05-08 11:27] OskarStark commented on #40890
👍🏻 bugfix

[2021-05-08 12:52] ghost commented on #41123
I can't see a tag with a name `security.access.decision_manager` in the Security Bundle so it's awkward it's working. I think you unconsciously did something that made it work but I can't see it as you are providing only small chunks of your configuration.

However I can see some inaccuracies. In the issue description you have:
[code]
but then you declare a class `App\Security\AccessDecisionManage

[2021-05-08 13:25] ghost commented on #41123
Ok, I know what is the case. When configuring custom decision manager in security.yaml the `security.access.decision_manager` service is removed from Container Builder's definitions array and this string becomes an alias to your custom manager. This way the if statement at the beginning of  AddSecurityVotersPass will resolve to true as there is no `security.access.decision_manager` definition any

[2021-05-08 14:58] ro0NL commented on #41120
what could work is if we abstract the protocol, eg. SessionAware::getSession for stateful data, and SessionProvider::getSession at the service layer (respectively Request and RequestStack for HTTP).

Perhaps it does introduce better semantics :+1:

[2021-05-08 16:10] SaliBhdr commented on #41123
@marbulk

Well, do you think this kind of behavior is not strange? I mean doesn't it suppose to be registered from the beginning and not removed until the end of the application? Why is it needed to be added and then removed and cause this kind of behavior?

What I'm trying to say is that if Symfony allows us to register a custom `AccessDecisionManager`  it should behave as default decision manage

[2021-05-08 17:42] Alexandre-T opened #41138 "When using ux-turbo, FormInterface is unabled to detect which button is clicked on a form with multiple buttons"
**Symfony version(s) affected**: 5.3+

**Description**
When UX-TURBO is activated,
```$form->get('submit')->isClicked``` is always returning ```false```
```$form->getClickedButton()``` is always returning ```null```

**How to reproduce**

1. Start a full skeleton symfony project,
2. Create a controller [with a form and multiple buttons](https://symfony.com/doc/current/form/multiple_buttons.html)
3

[2021-05-08 17:51] hacfi commented on #10169
I think this should be fixed at some point. Might look into this myself at some point but currently too busy.

[2021-05-08 18:58] ghost commented on #41123
When setting
[code]
you are basically telling Symfony "_I don't want your manager. I have my own manager and please use it._". However during the container compilation, bundles and you app can manipulate the content of the container and for that reason Symfony doesn't know what the actual manager will be in the end and it has to have some kind of "link" to the manager it will fetch from the contai

[2021-05-08 20:23] sylfabre commented on #32652
@ro0NL First of all, thank you for your time on this matter 👍

I believe the Translation component within the Symfony framework does an amazing job at:
- handling all translation files with a large range of formats
- taking care of performance with caching (both in code with https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/Translation/Formatter/IntlFormatter.php#L36 or during cach

[2021-05-08 23:19] hacfi commented on #41135
@xKZL Placing `form_div_layout.html.twig` in your templates directory makes it impossible to access the one provided by the `symfony/twig-bridge` package. So if you want to extend the original file just name your template differently (`my_form_div_layout.html.twig` as I showed you in my example) and then use `{% extends 'form_div_layout.html.twig' %}` (I don't see a benefit of using `{% use ..%}`

[2021-05-08 23:46] hacfi commented on #41135
But you have one point here I think:
The path `vendor/symfony/twig-bridge/Resources/views/Form/` gets added as a non-namespaced directory. This prevents us from accessing it via `@!form/form_div_layout.html.twig` even if we use the path `templates/form_div_layout.html.twig`.

[2021-05-09 01:51] makraz commented on #41138
Hi @Alexandre-T,
I faced the same issue with ux-turbo.
I fixed it with a small hack, I gave my buttons values, and after that, you will have the same result like without ux-turbo. It seems that turbo doesn't send the empty fields.

[2021-05-09 06:26] meiyasan commented on #41135
Hi, I think we already discussed this point on slack.

So adding a my_form_div is not satisfying. If I want to add a custom form the documentation is pretty clear, but here I don't want to to this.

My point is that there is no satisfying way to override the initial form_div template anyway. I want to implement additional widget and I don't have full access to all forms (e.g in bundles).

The seco

[2021-05-09 06:33] meiyasan commented on #41135
Additionally copypasting the entire twig form directory doesn't make sense: it prevents people of using changes in the default files. After years files are just lost in an inappropriate place, this is bad practice for maintenance and so on..

[2021-05-09 08:55] ro0NL commented on #32652
we are still coupling an implementation to specific parameter types. It breaks compatibility.

If we reuse the same message eg. client-side we may need a translator supporting the same feature set, which is far from ideal IMHO.

Other translators cannot opt-in, and our translator also cannot opt-out from handling such parameter types. To me it sounds like a dead-end, if not a rabbit hole.

I think

[2021-05-09 09:29] #39257 closed, assigned to nobody

[2021-05-09 10:08] ro0NL commented on #32652
i tend to agree PHP translators can support eg. `['value' => new TranslatableCurrency(100, 'EUR'[, 'xx_XX'])]`, meaning we can translate it more lazy based on the translator's locale by default.

`TranslatableCurrency::fromMoney()` Because Money is wildly used (13M downloads) ;)

[2021-05-09 13:57] rmbl opened #41140 "Console not loading environment from files"
**Symfony version(s) affected**: 5.3.0-BETA2

**Description**

bin/console does not load env variables from .env.local when being run. This leads to errors when trying to `composer install --no-dev` in a production environment.

**How to reproduce**

Use 5.3.0-BETA2, add `APP_ENV=prod` to .env.local and run `bin/console cache:clear`. On 5.3.0-BETA2 this displays the following:

` [OK] Cache for th

[2021-05-09 14:45] ismail1432 opened #41142 "[RFC] Prefix Abstract on every abstract class"
**Description**

According to the [coding standards](https://symfony.com/doc/current/contributing/code/standards.html#naming-conventions), all `abstract` classes should be prefixed by `Abstract`. Documentation said:

I would like to take advantage of the new major version (6.0) to not have to respect the BC breaks and prefix the concerned classes with `abstract`

Pros: all code base respect standa

[2021-05-09 15:11] Alexandre-T commented on #41138
Thank you so much @makraz

Your answer helps me a lot. As soon as I added a value, this issue was fixed.

[code]
I don't close this issue, we should update the documentation of ux-turbo.

Next week, I will submit a PR to @weaverryan

[2021-05-09 17:24] nicolas-grekas commented on #41140
Thanks for the report.
The issue will be fixed by #41148

[2021-05-09 19:30] rmbl commented on #41140
I applied the patch manually and it worked great!

Thanks!

[2021-05-09 20:28] chalasr commented on #41121
The command could fallback to the old way of getting the default config

[2021-05-09 20:43] arnolem opened #41149 "[Symfony/Mailer] mailer.envelope.recipients configuration does not work with sendmail"
**Symfony version(s) affected**: 5.2.7 / 6.0.1

**Description**
Symfony/Mailer : The recipients feature ("Always Send to the same Address") does not work with sendmail

**How to reproduce**
[code]

The email is sent to "to" instead of "recipient"

[2021-05-09 23:11] #41142 closed, assigned to nobody

[2021-05-10 05:21] acha5066 opened #41151 "LoginLinkHandler options should be able to be overridden programmatically"
Currently the LoginLinkHandler class reads the lifetime config value from security.yml but does not provide a way that I can see to override it. I would like the ability to override this value at the point that I call createLoginLink.

My use case is to make a link expire on a particular date that is set when an event is created, so that people can login up to that point.

[code]

Some ways we cou

[2021-05-10 05:54] COil commented on #40860
Hello, I am closing this. This OK with 5.3 beta3. Thanks.

[2021-05-10 05:54] #40860 closed, assigned to nobody

[2021-05-10 07:19] Nyholm commented on #41011
Hm. Im not sure why the security listeners are loaded only on Kernel reboot. Maybe @wouterj knows if calling `reboot()` in the acheWarmupCommand makes sense?

[2021-05-10 08:23] senaria opened #41152 "[Serializer] Allow max depth of 0"
**Description**

Feature:
Max depth can be defined set to 0.

Usecase:
A `user` object that has the property `parentUser`. That parent user should be represented as string rather than an object as it would be with `maxDepth=1` on the first level.

**Example**

[code]

Before:
[code]

After:
[code]

[2021-05-10 08:44] dvdknaap opened #41153 "Form getData function give default data instead of posted data"
**Symfony version(s) affected**: 5.2.7

**Description**
When you create a form with default values from an data array (not entity) and you change some values in te value and submit the form it will return the default data not the form posted data.

**How to reproduce**
[code]
The result of ``` $formData['field'] = 'defaultValue' ``` instead of the value i have filled in the form on the website.

*

[2021-05-10 08:47] xabbuh commented on #41153
Can you create a small example application that allows to reproduce your issue?

[2021-05-10 08:53] #41140 closed, assigned to nobody

[2021-05-10 09:00] #40890 closed, assigned to nobody

[2021-05-10 09:35] sylfabre commented on #32652
@ro0NL Thank you for all your inputs.

I'll work on it with my team and come back with a PR or something!

[2021-05-10 09:51] lyrixx commented on #40948
Let's use the solution provided by @derrabus https://github.com/symfony/symfony/issues/40948#issuecomment-826647177

[2021-05-10 09:51] #40948 closed, assigned to nobody

[2021-05-10 09:57] lyrixx commented on #27824
What about this plan

* Add a new context key to keep the same behavior
* user can flip the value to use a more decent behavior
* the default value will generate a deprecation notice en 5.4
* in 6.0 we use the best value to handle property such case

[2021-05-10 11:08] virtualize commented on #40483
We too need to get "new"/"invalid" values that are not in the ChoiceList.

Our solution was to add our own PRE_SUBMIT event listener with a higher priority then the one in ChoiceType.
This way we can store new values before the event listeners in ChoiceType remove them.

`$builder->addEventListener(FormEvents::PRE_SUBMIT, [$this, 'preSubmit'], 1024);`

[2021-05-10 13:08] chalasr commented on #39027
Still relevant.

[2021-05-10 13:18] vipex commented on #39388
Any update?

[2021-05-10 13:35] Warxcell commented on #40745
Yeah, so I guess that behaviour should be either removed or this issue closed, as nothing will change. For me it's a bit strange why security listener have dominance in terms of exception handling.

[2021-05-10 13:48] dsentker opened #41158 "Command "make:test" is not defined."
**Symfony version(s) affected**: 5.2.x

**Description**
According to [The docs](https://symfony.com/doc/current/testing.html#application-tests), after installing symfony/test-pack i am able to use the maker to create a application test with `bin/console make:test`. This command does not exist and `bin/console list make` does not show `make:test` . `make:unit-test` and `make:functional-test` does w

[2021-05-10 14:36] #41124 closed, assigned to nobody

[2021-05-10 14:53] ostrolucky opened #41162 "[Runtime] Doesn't respect APP_ENV=prod"
**Symfony version(s) affected**: 5.3.0-beta3

**Description**
APP_ENV=prod set in .env file is ignored and turned into APP_ENV=dev during runtime

**How to reproduce**
bin/console
[code]
.env
[code]
reproducer trigger:
[code]

**Possible Solution**

**Additional context**
I have went as far as debugging symfony/dotenv and this component correctly parses APP_ENV=prod, but is then skipped here https

[2021-05-10 14:57] ostrolucky commented on #41162
Sorry, I should have looked harder. Looks like this was already reported at https://github.com/symfony/symfony/issues/41140

[2021-05-10 14:57] #41162 closed, assigned to nobody

[2021-05-10 15:01] stof commented on #41158
The various `make:*` commands are part of the MakerBundle, not of Symfony itself. To use `make:test`, make sure you use at least version 1.29 of the bundle. Older versions indeed don't have it.

[2021-05-10 15:01] #41158 closed, assigned to nobody

[2021-05-10 19:12] fliespl opened #41167 "[Lock][AppArmor][Uncertain] Redo LockRegistry, so that it doesn't require write/lock access to vendor files"
**Description**
While implementing AppArmor policies we have discovered that symfony requires from time to time (cache cleanup / clear) write/lock access to `vendor/symfony/symfony/src/Symfony/Component/Cache/Adapter/*.php` files. Even though it didn't break application, it flood apparmor logs with DENIED logs.

[code]

While I understand purpose for this implementation (cache stampede), I am curi

[2021-05-10 19:32] SylvanoTombo commented on #36706
Hey, i use the skeleton template for version 5.2 and i still have the bug! is there a workaround?

[2021-05-10 22:28] longwave opened #41169 "symfony/dependency-injection has a hard dependency on symfony/config under PHP 8"
**Symfony version(s) affected**: 5.3.0-beta3

**Description**
symfony/dependency-injection now appears to have a hard dependency on symfony/config when running under PHP 8.

**How to reproduce**
[code]

This is because `PassConfig::__construct()` calls `new RegisterAutoconfigureAttributesPass()`, where the constructor instantiates `YamlFileLoader` via reflection - and `YamlFileLoader` is a subclas

[2021-05-11 04:43] #34674 closed

[2021-05-11 07:10] dsentker commented on #41158
Thanks, upgrading the composer.json entry from 1.21.1 to 1.29.* has done the job.

[2021-05-11 08:17] SaliBhdr commented on #41123
@marbulk

Yes, you're right. Thanks for the reply. I think we can close this issue now. have a  nice day.

[2021-05-11 08:17] #41123 closed, assigned to nobody

[2021-05-11 08:26] nicolas-grekas commented on #41169
Does Drupal use autoconfiguration? A simple solution here might be to skip this pass when the config component is not found.

[2021-05-11 08:39] nicolas-grekas commented on #41169
See #41170 if not.

[2021-05-11 08:53] senaria commented on #41152
@javiereguiluz  Just for you notice I would be also happy to contribute it if symfony wants it

[2021-05-11 08:54] stof commented on #41158
@dsentker you should really use `^1.29` rather than `1.29.*` to let composer update to the latest version of the bundle (1.29 is *not* the latest version)

[2021-05-11 09:29] longwave commented on #41169
Drupal doesn't use autoconfiguration, so #41170 works for us :+1:

[2021-05-11 12:40] #41169 closed, assigned to nobody

[2021-05-11 12:56] froemken commented on #15100
Damn...what an old ticket ;-)

IMO there are more than 3 big OS Upgrades on the meantime and I have switched from bash to ZSH.

I close this ticket for now. If I have any news I can reopen it. OK?

Nice greetings from germany

Stefan

[2021-05-11 13:13] #37354 closed

[2021-05-11 13:13] #38526 closed, assigned to nobody

[2021-05-11 14:33] Seldaek commented on #28314
I opened https://github.com/symfony/symfony/pull/41175 which aims to fix this issue, if anyone wants to help out or take a look at least.

[2021-05-11 14:37] Seldaek commented on #28314
@skylord123 one part I don't understand about your feedback though, is that in my experience the session id and token only change when remember-me is being used to authenticate. Do you not store sessions at all in your code, and rely purely on persistent tokens for authentication on every request? If so that should be improved already in 5.3.0 by https://github.com/symfony/symfony/pull/40972 which

[2021-05-11 14:48] skylord123 commented on #28314
@Seldaek `PersistentTokenBasedRememberMeServices` always refreshes the token on every request whereas the default `TokenBasedRememberMeServices` does not.

Check the `processAutoLoginCookie` function in both of those classes. You will see for the `PersistentTokenBasedRememberMeServices` it has these lines:

[code]
 Whereas if you look at the exact same function inside of `TokenBasedRememberMeServi

[2021-05-11 15:19] Seldaek commented on #28314
@skylord123 I can not reproduce this, for me PersistentTokenBasedRememberMeServices::processAutoLoginCookie only gets called if I delete my session cookie, it gets called once while the reauthentication happens and then not anymore on subsequent requests. I'm using Symfony 5.2 and the new Authenticator stuff, not sure if that makes a difference, but IMO the PersistentTokenBasedRememberMeServices s

[2021-05-11 15:37] nicolas-grekas commented on #39259
Will be fixed by #41176

[2021-05-11 15:59] #39259 closed, assigned to nobody

[2021-05-11 16:11] skylord123 commented on #28314
@Seldaek That is strange. I am running 5.2 using the latest security setup as well. I am for sure logged into my app (deleting the remember me token and I stay logged in). I put a dump on `$this->tokenStorage->getToken()` and it returns null for some reason (despite when I comment that out I am for sure logged in).

[2021-05-11 16:24] skylord123 commented on #28314
@Seldaek So I noticed my firewall had the `lazy` option set to `true`. When I set this to `false` the token stops updating on every request and `$this->tokenStorage->getToken()` returns my token.

So maybe this is just broken for lazy sessions?

[2021-05-11 16:38] nicolas-grekas commented on #40868
Fixed in #41177

[2021-05-11 17:00] #40868 closed, assigned to nobody

[2021-05-11 19:17] mikkoaf commented on #41043
I'll look into these translations.

[2021-05-11 19:43] maxim-dovydenok commented on #41106
I like the idea to configure transport using attributes. I will create a PR with the "Senders" attribute. I called it Senders instead of Route, because as I understand "routing" concept is part of the Framework bundle, and in the Messenger, there're only senders. If it's not right, then I'll change it in the pull request.

As for Handlers, I'm not sure that it's the right solution. From my point o

[2021-05-11 19:51] Nyholm commented on #41043
Great. Thank you

[2021-05-11 20:03] maxim-dovydenok commented on #39087
It can be done without BC break using a separate interface for guessMinLength method, can't it? I can create a pull request with this interface

[2021-05-12 07:31] rmanibus opened #41185 "Allow to Group Form Items"
**Description**
Allow to create groups of form items to ease the rendering of multiple items at the same time.

**Example**
[code]
[code]

[2021-05-12 08:00] Skiwa commented on #20532
This might help :

In my case, I simply changed  `Locale::getDisplayRegion($cc, 'fr'));` to `\Locale::getDisplayRegion($cc, 'fr'));`

[2021-05-12 08:20] ro0NL commented on #41106
You are right. Im not sure what `#[Handler]` would actually be conveying from the message POV :sweat: probably only creating some bidirectional relation.

What if an attribute could replace MessageHandlerInterface on the handler side, eg. to classify any handler callable. Perhaps it enables more interop value ...

[2021-05-12 08:27] elfring commented on #41185
I am also curious how the software will evolve further according to grouping of items.

[2021-05-12 08:58] maxim-dovydenok commented on #41106
We can add `AsMessageHandler` attribute as a replacement for a marker interface `MessageHandlerInterface`. There're `AsCommand`, `AsEventListener`, [`AsController`](https://github.com/symfony/symfony/pull/40555/files) attributes already.

[2021-05-12 09:13] Seldaek commented on #28314
@skylord123 ok that is interesting, indeed I have `lazy:false`.  I'm not familiar enough with lazy mode to know if or how this could be fixable sorry. This does sound to me like a bug though, as recreating the remember me token (or even the cookie if using remember me without token_provider) seems pretty broken.

[2021-05-12 09:43] garak opened #41188 "Define alias with an attribute"
**Description**

Scenario: you have a concrete class that implements an interface. Currently, you need to add an alias in your services configuration,
The idea is to avoid it with a new php8 attribute, that can be applied to the class.

**Example**
[code]

the following then can be avoided:

[code]

[2021-05-12 09:57] nicolas-grekas commented on #41188
This issue with this approach is that many classes can have the attribute, which will create collisions.
Also, the class might implement many interfaces. Which ones should be aliased?
Maybe all these questions mean that the attribute should be on the interface instead.
Or how would you solve these concerns?

[2021-05-12 10:07] jennevdmeer opened #41189 "[TwigBridge] bootstrap_3_layout ChoiceType's expanded label_html does not work"
**Symfony version(s) affected**: 5.1 not sure exactly but its this commit https://github.com/symfony/symfony/blob/239fe04ff9c2ce9c36d7a5ecb103d1db05f25e2e/src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig#L102

**Description**
In the nested ternary the `|raw` output is escaped non the less and thus still printed as plain text.

**How to reproduce**
Use bootstrap 3 form them

[2021-05-12 10:40] garak commented on #41188
We could ask for a mandatory parameter in case of multiple interfaces.
About the possibility of collisions, I guess that it already exists now (I hope it's handled by container).
I don't like the idea of putting annotation on the interface itself, since it can be out of your control

[2021-05-12 11:45] oleg-andreyev opened #41191 "[Serializer] ArrayCollection is not denormalised (from json to object)"
**Symfony version(s) affected**: 5.2.7

**Description**
When a model has as a collection described with ArrayCollection<Model>, it's deserialize into array not ArrayCollection

**How to reproduce**
[code]

**Actual result**
[code]

**Expected result**
[code]

[2021-05-12 12:35] andrii-bodnar commented on #41088
Hello @Nyholm,

I want to add these missing translations for the Ukrainian language.

[2021-05-12 12:43] Nyholm commented on #41088
Great. Please do

[2021-05-12 13:21] arnegroskurth commented on #12097
The bug still reproduces with PHP 7.4 and `symfony/process` 5.2.7.

Any news on this?

[2021-05-12 13:40] #41043 closed, assigned to nobody

[2021-05-12 14:19] lyrixx opened #41198 "[FrameworkBundle] Conflict between generated services ID"
**Symfony version(s) affected**: all

**Description**

Symfony used to namespace all generated ID but it's not the case for some services
* HttpClient: https://github.com/symfony/symfony/blob/aea15bc04f4a350c8caec9d6d4a9740249e114eb/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L2240-L2249
* https://github.com/symfony/symfony/blob/aea15bc04f4a350c8caec9d6d4a9740249e

[2021-05-12 14:56] Coffelius opened #41200 "Symfony 4.4.23 still referenced as containing vulnerabilities by security advisor"
**Symfony version(s) affected**: 4.4.23

**Description**
It's not possible to update Symfony to a version that is not referenced by a security advisory despite this changelog claims to be fixed:
https://symfony.com/blog/cve-2021-21424-prevent-user-enumeration-in-authentication-mechanisms

**How to reproduce**
In a 4.4.22 Symfony project run `composer update "symfony/*" --with-all-dependencies`

Th

[2021-05-12 15:09] jderusse commented on #41200
Should be fixed by https://github.com/FriendsOfPHP/security-advisories/pull/563

[2021-05-12 15:56] Gregoire-M commented on #41200
Thanks!

[2021-05-12 16:04] jderusse commented on #41200
Should be fixed. Could you confirm @Gregoire-M or @Coffelius

[2021-05-12 16:06] #41200 closed, assigned to nobody

[2021-05-12 17:02] Coffelius commented on #41200
confirmed. the issue is solved! thanks so much

[2021-05-12 18:25] nicolas-grekas commented on #41188
Actually not, there is no need for such a mechanism currently as no collision can happen, since only one service or alias can be named "foo".

Can you review actual use cases of yours and give us some examples where such aliases are need, both when you have control over the interface, and where you don't?

Because putting the alias on the interface would really be the most appropriate.

Maybe we c

[2021-05-13 00:29] wucdbm opened #41208 "[Notifier] Custom Chatter instances have a *VERY* unexpected behaviour"
**Symfony version(s) affected**: 5.2.4

**Description**

When configuring custom Chatter instances like so

[code]

The problem is this code within the Chatter

[code]

And the fact that its $bus argument gets autowired as my configuration has autowiring enabled in defaults.
I had to add  `autowire="false"` to my service, which is quite un-intuitive given I was using a custom setup of the componen

[2021-05-13 00:49] arderyp commented on #38121
@gjuric does ORM 2.8 require symfony 5?  I tried updating to it on symfony 4.4 project, and it caused all sorts of autowiring issues.

[2021-05-13 06:55] garak commented on #41188
Indeed, in yaml it's impossible just because you can't use the same keys twice.
But I just tried with PHP configuration:
[code]
And it's allowed: the first alias is overwritten by the second one.

The typical use case is when the interface is in a vendor.
But also when it's under my control, in my typical project (using DDD) I keep interfaces in the Domain layer and concrete classes in the Infrast

[2021-05-13 07:14] quazardous commented on #36910
I'm using messenger to process data synchronisations between two softwares. The master software sends lots of webhooks when an item is modified (title, status, etc). So I'm trying to aggregate the messages at consume time because I don't need to sync many times the same item in a row.

I've look at the `messenger:consume` worker command and it uses subscribers to handle limits (`-l`, `-m`, `-t` op

[2021-05-13 07:38] meiyasan commented on #41135
I have found a way to override this from a bundle, but this is to my mind very complicate, compared to what might be proposed to the user. I have a "base-bundle", where I redefine some basic classes. So this is extracted out of my bundle.. To be adapted maybe.
[code]
[code]

[code]

[2021-05-13 09:09] jschaedl opened #41212 "Command aliases configured via the new `#[AsCommand]´ attribute are ignored"
**Symfony version(s) affected**: 5.3

**Description**
Command aliases configured via the new `#[AsCommand]` attribute are ignored. The reason for this, as far as I can tell, is that these Commands are lazy by default and the aliases are not yet set. The same happens when you implement a command using the static defaultName and defaultDescription properties. (https://github.com/symfony/symfony/issu

[2021-05-13 09:44] HypeMC commented on #41188
There's also the case when the alias is not an interface, but a arbitrary string. This and then case when you don't have control over the interface make me think it's better to use this attribute on a concrete implementation since you can't cover every case on the interface. You could make this attribute work on both interface and classes to cover this cases, but that makes the usage inconsistent

[2021-05-13 09:52] mewejo opened #41215 "Incorrect ContainerInterface deprecation warning"
**Symfony version(s) affected**: 5.2.8

**Description**
On a new application, I have a service which is using a [service subscriber](https://symfony.com/doc/current/service_container/service_subscribers_locators.html#defining-a-service-subscriber), implementing `Symfony\Contracts\Service\ServiceSubscriberInterface` and depending on `Psr\Container\ContainerInterface` in its constructor.

When runni

[2021-05-13 10:00] Nyholm commented on #41212
Thank you. You are a true star for testing 5.3 before it is released.

Can you confirm that #41214 is fixing the issue?

[2021-05-13 10:10] jschaedl commented on #41212
@Nyholm I just tested @nicolas-grekas fix locally and I can confirm that it fixes the alias issue.

[2021-05-13 10:11] Nyholm commented on #41212
Great!

[2021-05-13 10:33] OskarStark commented on #41208
Hi exactly the code snippet you are complaining about received a fix in https://github.com/symfony/symfony/pull/40982

Can you please update notifier to the latest release and check again?

In Symfony 5.3 we also added a feature to be able to disable the message bus. Its a PR made by @jschaedl

Hope this helps

[2021-05-13 10:35] #41212 closed, assigned to nobody

[2021-05-13 10:56] jschaedl commented on #41208
@wucdbm You could try out https://github.com/symfony/symfony/pull/39353 and check if this fixes your problem.

@OskarStark https://github.com/symfony/symfony/pull/39353 is not merged yet unfortunately.

[2021-05-13 11:08] kozlice opened #41217 "[DependencyInjection] `Autoconfigure` attribute does not auto-tag services"
**Symfony version(s) affected**: 5.3.0-BETA4

**Description**
[The announcement in blog]() says that the new `Autoconfigure` attribute can be used to tag services instead of using `registerForAutoconfiguration` in the kernel.

**How to reproduce**
- Clone the repository: https://github.com/kozlice/symfony-autoconfigure-bug
- Run `bin/console debug:container --tag=app.my_service`. Command shows the

[2021-05-13 11:23] makraz commented on #41071
Hi @derrabus and @apfelbox, I have the same use case. I'm working on a PR to fix this issue.

[2021-05-13 11:45] nicolas-grekas commented on #41217
Thanks for the reproducer!

The reason is that the interface is not discovered by the container, this does it:
[code]

Not sure if this is the best behavior or not, but this how it works right now :)

[2021-05-13 11:46] OskarStark commented on #41208
You are right it will be released in 5.4

[2021-05-13 12:00] wucdbm commented on #41208
#40982 Does not solve my issue, it being that messages (by default) are channeled through the bus, not the transport, which afterwards uses the default bus, rather than my transport OR being able to configure an alternative channel to send a message to on a per-message basis

#39353 looks like this will help - I can then configure the message bus to something invalid and force null in the Chatter

[2021-05-13 14:21] kozlice commented on #41217
Oh, okay, got it now. Thanks!

Do you mind if I try to make it work without explicit interface mentioning? On the one hand, I think it would provide better developer experience, but on the other hand I see how implementing it might become an issue. Maybe you already know if this is futile :)

[2021-05-13 14:56] devsigner-xyz commented on #22318
Hello, for me it also would be a useful feature. The `placeholder_attr` option sounds like a great idea.
Like @elHornair said it would be useful when user has selected a choice and you don't want the user unselect it.

[2021-05-13 15:55] nicolas-grekas commented on #41217
I don't know :)
Which means to me that we'd better wait to gain some more experience on the topic before acting.

[2021-05-13 16:11] OskarStark commented on #41208
@fabpot as you are the inventor of this component, does this sounds familiar to you?

[2021-05-13 16:39] Guikingone commented on #38643
Hi 👋🏻

It depends, should we work on this issue @sroze and/or @nicolas-grekas?

[2021-05-13 16:54] nicolas-grekas commented on #38643
I don't think adding OptionResolver as a dependency is desired. Closing therefore. Thanks for opening.

[2021-05-13 16:54] #38643 closed, assigned to nobody

[2021-05-13 18:33] PedroFTW opened #41219 "Receiving a HTTP/2 400 Bad Request when trying to pass a body to CurlHTTPClient"
When trying to pass a body to a Symfony HttpClient, wich I've verified to be a CurlHttpClient, I get a HTTP/2 400 Bad Request response.

It doesn't happen when I pass an empty body array.

Here's the example code:
[code]

Any ideas?

-- Edit --

I this case, my getMethod is returning POST and my getUrl is returning a valid URI, wich I won't share due to company policy issues. But it is a valid URI

[2021-05-13 20:27] mynameisbogdan opened #41220 "[HttpClient] query configuration is no longer respected in 5.2.8"
**Symfony version(s) affected**: 5.2.8

**Description**
Setting a `query` configuration for a scoped client is no longer respected in 5.2.8

**How to reproduce**
[code]

**Possible Solution**

**Additional context**
Reverting back to 5.2.7 it works as indented, as in `queryCode` is sent in the request.

[2021-05-13 20:58] arderyp opened #41221 "CVE-2021-21424 fix for 4.4"
**Symfony version(s) affected**: 4.4.x

**Description**
GH is reporting a vulnerability associated with this CVE, and suggests bumping `symfony/security-http` from 4.4.22 to 4.4.23.  And yet, I don't see a 4.4.23 version here: https://github.com/symfony/security-http/releases

I see this CVE references on this monolith repo, in a changelog file suggesting a fix has only been implemented on the 5.3

[2021-05-13 22:40] KDederichs commented on #40999
I did add a test case to both of them that would fail without the fix, took me a while to get to it sorry.

[2021-05-14 02:26] bykclk commented on #41220
This has been modified in https://github.com/symfony/symfony/pull/40047. I guess it deliberately deleted it.

[2021-05-14 06:16] #41054 closed, assigned to nobody

[2021-05-14 06:31] mynameisbogdan commented on #41220
The only recent change is #41160

[2021-05-14 07:56] lindelius opened #41223 "Symfony/finder no longer handles patterns like **/vendor/**"
**Symfony version(s) affected**: 5.2.8

**Description**
The gitignore pattern parsing no longer handles patterns like `**/vendor/**`, which are respected by `.gitignore` and have also been working perfectly fine with the `symfony/finder` component up until now.

**Possible Solution**
Revert and rethink the "fix" that rewrote the gitignore parsing in `symfony/finder` ([this commit](https://github.c

[2021-05-14 08:15] fabpot commented on #41221
Fixed now. `symfony/security-http` has been removed from the original advisory and moved to a new one at https://github.com/symfony/symfony/security/advisories/GHSA-g2qj-pmxm-9f8f

[2021-05-14 08:15] #41221 closed, assigned to nobody

[2021-05-14 08:34] nicolas-grekas commented on #41220
Thanks for the report, this is fixed in #41224

[2021-05-14 09:42] Ocramius commented on #41221
Note: the downstream advisories feed (https://github.com/advisories) will not be updated unless github support is contacted directly. I asked them if this is a common scenario, and they told me this needs to happen, for now, when advisories are modified post-publication.

[2021-05-14 09:48] dbrekelmans opened #41225 "[Framework] Service "http_cache" only accepts 4 parameters, 5 provided."
**Symfony version(s) affected**: 5.2

**Description**
We wrote our own container validation command that does some sanity checks and enforces some custom rules in our CI.

The command has discovered that there are 5 parameters provided to `http_cache`, while the class constructor only accepts 4.
The following code is the culprit in `FrameworkExtension.php`.

[code]

It looks like this was a workar

[2021-05-14 09:49] dbrekelmans commented on #41225
By the way, I understand if this gets a "won't fix". Just wanted to raise awareness in case this is something you want to change.

[2021-05-14 09:52] nicolas-grekas commented on #41225
That's a "won't fix" indeed, as that's on purpose.

[2021-05-14 10:00] marcelkorpel opened #41226 "The class «Entity» was not found in the chain configured namespaces in production mode"
**Symfony version(s) affected**: 5.2.7

**Description and How to reproduce**

For a project I use separate databases and entity managers. My `doctrine.yaml` looks like
[code]
(only one database and entity manager is currently used, but this is to be extended in the future).

When I try to get the repository class of an entity within a controller using
[code]
everything is fine, regardless of in wh

[2021-05-14 10:00] #41225 closed, assigned to nobody

[2021-05-14 12:39] n0rbyt3 commented on #41217
@kozlice By default, the services.yaml registers all classes in the ```App``` namespace as service. Did you remove these lines by accident?

services.yaml
[code]
You don't need to register your services manually then.

[2021-05-14 12:53] n0rbyt3 commented on #41191
It's the expected behavior. The JSON string ```[]``` is an ```array```, not an ```object```. The ```ArrayCollection``` will be serialized like every other class as an object with its named properties, which is ```{"elements":[{"id": "1"}]}``` in your example.

[2021-05-14 12:57] oleg-andreyev commented on #41191
@n0rbyt3 I'm doing denormalization which is from JSON to Object.

[2021-05-14 13:07] n0rbyt3 commented on #41198
@lyrixx There will be some BC changes then.

From the ```HttpClient``` documentation:

The documentation at this point clears it out: It's better to use ```<name>.client``` as naming strategy for scoped clients so they can be injected by name. Previous examples should be adapted (```github.client``` instead of ```github```) to work around this bug.

If the service gets a prefix, it will break auto

[2021-05-14 13:13] #28140 closed

[2021-05-14 13:13] n0rbyt3 commented on #41191
@oleg-andreyev Yes, but you are denormalizing a simple PHP array, not an object of type ```ArrayCollection```. Also everything implementing ```\ArrayAccess``` is **not** an array but an object.

```{"elements":[{"id": "1"}]}``` => ArrayCollection (object with a property elements holding an array with an object at key 0 with a property id having the value "1" of type string)

```[{"id": "1"}]``` =>

[2021-05-14 13:17] Warxcell opened #41227 "[Serializer] set context for property by Property Info Extractor"
**Description**
Feature:

Currently, when serializing object - you have no way to set per property context (this is fixed in 5.3)
[code]
But still, it would be nice these to happens automatically, with zero configuration, by writing custom property extractors that can fill context.

Above will be equivalent to:

    /**
     * @ORM\Column(type="time") <= extractor will set H:i:s because it knows i

[2021-05-14 13:19] oleg-andreyev commented on #41191
Similar issue: https://github.com/symfony/symfony/issues/37832

[2021-05-14 13:22] oleg-andreyev commented on #41191
@n0rbyt3 when serializer collection property information it matches `ArrayCollection<InnerModel>` as an collection but does not respect the annocation, it's explistly is defined `ArrayCollection of InnerModel` not `array of InnerModel`.

[2021-05-14 13:35] BenMorel commented on #38381
@numerogeek I have the same problem, but setting `stop_buffering: false` in the monolog handler only fixes half of the problem: when a new message is handled, I suddenly get in the log all the `WorkerRunningEvent`s that have been dispatched in between the 2 messages.

Any idea?

[2021-05-14 13:55] n0rbyt3 commented on #41133
This snippet is easier to understand the issue:

[code]

Edit: StructedMessage extends Message

[2021-05-14 14:38] drzraf commented on #32877
Isn't @vudaltsov idea (see his gist) worth a PR?
Seems simple and powerful.

[2021-05-14 15:19] jderusse commented on #38837
Implemented in #38392 and #39031

[2021-05-14 15:19] #38837 closed, assigned to nobody

[2021-05-14 15:38] jderusse commented on #41198
:+1: for deprecating these services. With autowiring and named autowiring alias they are not needed IMHO

[2021-05-14 15:47] arderyp commented on #41221
thanks for the info @Ocramius.  Unfortunately, I don't really follow what you're saying.  What is happening here?  Is this CVE exposure fixed on the 4.4 branch?  if so, what version is required?

[2021-05-14 15:48] makraz commented on #41071
@derrabus, do you think we can create a Trait for parsing DSN to use it in RedisTrait.php and SessionHandlerFactory.php, DsnParserTrait looks like this:
[code]

[2021-05-14 15:55] n0rbyt3 commented on #41198
@jderusse I disagree. The HttpClient is very special. It's decorated multiple times in FrameworkExtension. Also every client gets a special tag for the profiler. Everything is handled with configuration: simple and easy.

The namespace is missing to allow this kind of autowiring. I am working on a project calling multiple APIs and all need their scoped client. How do I inject the specific client i

[2021-05-14 16:10] Ocramius commented on #41221
The advisory at https://github.com/advisories/GHSA-5pv8-ppvj-4h68 (github main feed), which was mirrored from the advisory @ https://github.com/symfony/symfony/security/advisories/GHSA-5pv8-ppvj-4h68 (symfony repo advisories), will **not** be updated unless github support is explicitly poked about it.

[2021-05-14 16:15] derrabus commented on #41221
@arderyp The 4.4 branch of `symfony/security-http` was never affected and thus did not receive an update. The report you've received is a false positive and we're currently trying to resolve this.

[2021-05-14 16:40] nicolas-grekas commented on #41198
For the record, this was discussed at the time and was a conscious decision, to not create any convention. You configure HTTP clients and cache pools giving them a plain service ID and that's the only knowledge you need to have.

I agree there is an inconsistency with how eg workflows are wired, but my preference would be to actually deprecate the suffix/prefix convention there. Eg right now I'm f

[2021-05-14 16:41] PedroFTW commented on #41219
Adding information.

While testing, I swapped out the HttpClient::create() method with a new instance of the NativeHttpClient. Using the Native client the requests worked alright.

Now I would like to understand why doesn't it work properly when the HttpClient returns an istance of the CurlHttpClient. This is my curl -V

[code]

[2021-05-14 16:44] nicolas-grekas commented on #41219
Please have a look at the output of `$response->getInfo('debug')` in both cases to compare them, this might give you a clue. Eg maybe the remote server requires a Content-Length header on the request.

[2021-05-14 18:08] pixelplan-digitalweb commented on #38416
I think I may have found a workaround for this

I discovered this PR https://github.com/symfony/symfony/pull/30335 and although there's no documentation yet for it this could be used to give priority to extract the types from constructor, internally this new `ConstructorExtractor` will call the method `getTypesFromConstructor` of the other extractor. To use it we just have to declare it has a serv

[2021-05-14 18:19] dpinheiro commented on #38416
I think I may have found a workaround for this

I discovered this PR https://github.com/symfony/symfony/pull/30335 (available for Symfony 5.2) and although there's no documentation yet for it this could be used to give priority to extract the types from constructor, internally this new `ConstructorExtractor` will call the method `getTypesFromConstructor` of the other extractors. To use it we just

[2021-05-14 19:06] arderyp commented on #41221
Thanks for the very clear explination @derrabus, much appreciated!

[2021-05-14 20:10] I-Valchev commented on #38710
I'll work on the Bulgarian translations.

[2021-05-14 21:04] MichaelBrauner opened #41232 "symyonf console make:entity returns error after asking to "mark this class as an API Platform resource""
**Symfony version(s) affected**: 5.3.0-BETA2

**Description**

[code]

[code]

**Additional context**

[2021-05-14 21:20] marbulk commented on #41232
This issue should be reported in the MakerBundle repository.

[2021-05-15 08:05] #41220 closed, assigned to nobody

[2021-05-15 10:27] adrianrudnik commented on #40918
Just had the same problem with a Vue.js based frontend towards a simple Symfony API backend used for UI interactions.

I also read through the comments in #29729, and I'm pretty confused now.

- The command `debug:config security` documents a `json_login.remember_me` setting that defaults to true, but it does not seem to work?
- Is `JsonLoginAuthenticator` assumed to be stateless or not by default

[2021-05-15 10:53] jderusse commented on #41094
note we might already remove the Interface from internal/final method by using `__sleep` and `__wakeup` as a workaround for 7.1 like we do for `AuthenticationException`

edit: nvm, none of the class are internal/final

[2021-05-15 11:08] fd6130 commented on #41037
I will work on this issue.

[2021-05-15 11:08] fd6130 commented on #41038
I will work on this issue.

[2021-05-15 11:44] Nyholm commented on #41038
Aweome!

[2021-05-15 12:03] Mausino opened #41234 "Set in configuration optional default UTC datatime for doctrine + autohandle by user defined optional user UTC"
**Description**

Will nice if will easy to set up somewhere in Symfony configuration the optional default UTC time which use the application, that Symfony with doctrine by default to store datatime to database.

Now i only know that doctrine for datatime use the config php.ini and set the time in this UTC as default.
Will nice if Symfony help us handle it easy for us and we dont care about php.ini

[2021-05-15 12:10] tarlepp commented on #41234
Personally I'm not sure if it's good idea to do this by default - handling datetimes are usually application domain specified thing - and I don't think that there is "one" solution to rule them all.

This is documented in - https://www.doctrine-project.org/projects/doctrine-orm/en/2.8/cookbook/working-with-datetime.html#working-with-datetime-instances - so maybe it's just enough to link this doc p

[2021-05-15 12:31] Mausino commented on #41234
@tarlepp sorry, maybe i wrote wrong.. **i wanted that will possible do this in option but will not mandatory**

I changed the ticket :) from default to optional... my English is not so good

For people as me entry-level of Symfony will much easier handle  this if will possible easy set up so tough(hard) parts as time zones.  I see that is similar to UUID/ULID which was long time as bundle and you

[2021-05-15 13:12] #41035 closed, assigned to nobody

[2021-05-15 13:12] #41088 closed, assigned to nobody

[2021-05-15 13:13] #38607 closed, assigned to nobody

[2021-05-15 14:46] phansys opened #41237 "[Security] Patch change in `UserAuthenticationProvider` is breaking BC"
**Symfony version(s) affected**: 4.4.23

**Description**

Prior to https://github.com/symfony/symfony/commit/7e1a5269333d0d5a4844f03e11e4c41299e71f26, I was able to extend `AccountStatusException` and override the `getMessageKey()` in order to provide a specific message related to my app's business logic.
After this commit, I'm always receiving the generic "Invalid credentials." message from the `

[2021-05-15 14:55] derrabus commented on #41237
Did you set `hide_user_not_found` to `false` in your security.yaml?

[2021-05-15 15:07] OskarStark commented on #41223
cc @mvorisek

[2021-05-15 15:25] mvorisek commented on #41223
I can confirm the issue, I will try to adjust the code to pass the tests.

[2021-05-15 15:28] phansys commented on #41237
I wasn't aware about that setting. I can confirm using `false` in this option only solves the issue about the status code.
Thank you so much.

[2021-05-15 15:30] OskarStark commented on #41223
Thank you

[2021-05-15 16:04] phansys commented on #41237
Running my test suite, I see that setting `hide_user_not_found` is producing other changes that I'd like to avoid:
[code]
Note that this message is exposing the existence of a user, while in my use case the status code (412) was shown only when the user is found and the verification process was not complete.

[2021-05-15 17:51] derrabus commented on #41237
… which is also giving away information about registered users. The problem is that the framework can't possibly know where those exceptions to the rule are acceptable for you. The options that you have are:

* Set `hide_user_not_found` to `true` which means that the error message of a login failure is generic and does disclose *why* the authentication failed.
* Set `hide_user_not_found` to `false

[2021-05-15 18:02] dontub commented on #38629
The issue still exists.

[2021-05-15 19:26] lindelius commented on #41223
Thanks!

[2021-05-15 19:36] ghost commented on #36831
One of my ambitions is to improve my knowledge of `DependencyInjection` and working on this feature could be a great opportunity. Do you want these changes after thinking about it @derrabus ?

[2021-05-15 19:40] ghost commented on #36831
Btw, I like option `D` regarding the yaml configuration.
[code]

[2021-05-15 21:20] phansys commented on #41237
Yes, I think it will be the better choice I have.
We could close this issue, unless you think there is a way to make these changes explicit in the documentation.

[2021-05-15 21:34] derrabus commented on #36831
Sure, give it a try if you like.

[2021-05-15 21:40] nicolas-grekas commented on #36831
Maybe we should reverse the logic and deprecate accessing parameters at runtime? Then, for eg the router, we should figure out if we can compute the list at compile time. And for debug / profiler, we could have a dedicated service that'd be accessible only in dev.

[2021-05-16 06:57] ghost commented on #36831
I think I got it, simple question but could we allow to keep parameters *public* (e.g. `my_param: !public value`) and indicate that as generally a bad practice?

[2021-05-16 08:40] derrabus commented on #41094
I think, we don't need a workaround here. If we implement `__serialize()` and `__unserialize()` (which is what we do), recent versions of PHP ignore `Serializable` and the deprecation will not be triggered. On Symfony 6, we can drop `Serializable` completely.

[2021-05-16 08:50] ghost commented on #36831
@derrabus

Look at my precedent comment.

When `->getParameter()` is called on non-existant parameter, can we add a precision to exception?
[code]
I'm not convinced by the error message but it's an idea. Perhaps a link to the documentation should be provided as there are several ways to configure depending on the format.

[2021-05-16 09:06] lyrixx commented on #41198
Even without a suffix it has to be "discovered/teached/learned". People are not strick with this knowledge 😇
And it is also a convention. To be a configuration, the node should be called "ServiceID" or "service" and not name.

But I agree with you about the hardcoded suffix that is less flexible.

[2021-05-16 09:56] nicolas-grekas commented on #36831
I think this is the important question.

I agree about perf and size, this should not be significant. Yet, I think the technical outcome of this RFC should be that parameters could be removed from the compiled container. This would make it easier for us to maintain parameters. Right now, when we introduce a new one, we're kinda blocked as we don't have a smooth path to remove them. I think this ma

[2021-05-16 10:44] ghost commented on #36831
Let me know if you want me to work on this task once you agree with each other.
Until then I will take the time to look at how the component works in more depth.

[2021-05-16 12:13] marcel-jonquieres commented on #36831
How do you figure this implementation out? @nicolas-grekas

[2021-05-16 12:22] fabpot commented on #41221
I've just sent a support request to Github, hopefully, they will update things soon.

[2021-05-16 12:24] #41223 closed, assigned to nobody

[2021-05-16 13:15] #40887 closed, assigned to nobody

[2021-05-16 13:56] kbond commented on #41185
I have similar functionality in an old bundle of mine (no longer actively maintained). Here are the [docs for grouping](https://github.com/kbond/ZenstruckFormBundle/tree/compat-sf5#group-type), the [group form type](https://github.com/kbond/ZenstruckFormBundle/blob/compat-sf5/Form/Extension/GroupTypeExtension.php), and the [class to wrap your grouped form](https://github.com/kbond/ZenstruckFormBun

[2021-05-16 15:30] chalasr commented on #13994
Fixed in https://github.com/symfony/symfony/commit/2a581d22cc621b33d5464ed65c4bc2057f72f011.

[2021-05-16 15:30] #13994 closed

[2021-05-16 19:11] derrabus commented on #36831
I agree with your motivation. However, removing parameters from the compiled container does not quite fix that issue because people might still wire those parameters via CI. So we'd still be blocked.

[2021-05-16 19:14] derrabus commented on #34373
I've added the "help wanted" label because I find this feature really useful.

[2021-05-16 21:19] nicolas-grekas commented on #36831
I think it's going to be much easier to deal with because at compile time, we know exactly and ahead of time when a parameter is going to be used. For runtime, not at all. That makes a huge difference to me.

[2021-05-16 21:28] maxhelias commented on #34373
@derrabus I think the `@Ignore` attribute introduced in 5.1 should be enough.

https://symfony.com/blog/new-in-symfony-5-1-serializer-improvements#added-ignore-annotation

[2021-05-16 21:28] nicolas-grekas commented on #36831
Before engaging into that, we should figure out the plan for places that use the parameter bag. Most importantly the router.

[2021-05-16 21:38] derrabus commented on #34373
Oh, indeed! Let‘s close this issue then!

[2021-05-16 21:38] #34373 closed

[2021-05-16 22:39] marcel-jonquieres commented on #40357
@herbyxxx
I think it has nothing to do with the trailing slash configuration, prefix or the redirection. Probably it is not intended to generate the path only for a special parameter, here `_locale` because this kind of parameter is guessed at the time of matching?

This test fail:
[code]

But this work:
[code]

[2021-05-16 22:44] marcel-jonquieres commented on #40357
@herbyxxx
I think it has nothing to do with the trailing slash configuration, prefix or the redirection. Probably it is not intended to generate the path only for a special parameter, here `_locale` because this kind of parameter is guessed at the time of matching?
If trailing slash is not take into account, is it necessary to generate locale eg `/en`?

This test fail:
[code]

But this work:
[code

[2021-05-17 01:04] Pictor13 commented on #22592
Wondering if this could be worked out (or worked-around) on Doctrine side.

Wouldn't it make sense to configure/extend from Doctrine Bridge to make it aware that a DTO corresponds to a specific Entity?

This way the UniqueEntity constraints would work transparently and wouldn't need to care if the variable is an actual Entity or a representation of that (DTO).

[2021-05-17 03:54] ExodusHT opened #41248 "symfony/security-http cannot update"
my project remind me must to Upgrade symfony/security-http to version 4.4.23 or later,  when i  to Upgrade symfony/security-http to version 4.4.23 or other Higher version,  compser remind me Could not find package symfony/security-http in a version matching 5.0.0  can you tell me how to solve this problem. I will be very grateful

[2021-05-17 05:27] derrabus commented on #41248
See #41221

[2021-05-17 05:27] #41248 closed, assigned to nobody

[2021-05-17 06:04] krissss opened #41249 "HttpClient not support upload file with chinese name"
**Symfony version(s) affected**: 4.4.13

**Description**

HttpClient upload file with chinese name, but server cannot accept it.

**How to reproduce**

client:

[code]

server:

[code]

The right result should have `$_FILES`, but no.

**Possible Solution**

I log formData info use this: `file_put_contents(__DIR__ . '/a.txt', $formData->toString());`, and get

[code]

When I change
    `Content-Dis

[2021-05-17 08:37] xabbuh commented on #41189
@jennevdmeer Up for a PR against the `5.2` branch?

[2021-05-17 08:41] xabbuh commented on #41215
Can you create a small example application that allows to reproduce your issue?

[2021-05-17 08:47] xabbuh commented on #41226
Can you create a small example application that allows to reproduce your issue?

[2021-05-17 08:50] xabbuh commented on #41153
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-05-17 08:50] #41153 closed, assigned to nobody

[2021-05-17 08:57] xabbuh commented on #41133
@n0rbyt3 I am not sure how this is related to Symfony. This seems to be invalid PHP code per se: https://3v4l.org/hB7Rr

[2021-05-17 09:02] n0rbyt3 commented on #41133
@xabbuh Sorry, I missed ```StructuredMessage extends Message``` (which is equal to the code of the library). This is valid code: https://3v4l.org/m9Por

[2021-05-17 13:42] johnkrovitch opened #41250 "[OptionsResolver] Add function arguments to options resolver to improve usability with bigger configuration"
**Description**
Hi,

I wanted to know if it is acceptable to change the signature of the `setDefault` and `setRequired` methods in the options resolver component. I'm using it a lot, and when the configuration is quite huge, the resolver can be not very readable.

I propose to add an allowed types options and a normalizer options (default to null) to the `setDefault` and `setRequired` methods to a

[2021-05-17 15:07] chalasr commented on #41237
Issue/PR welcome on symfony-docs to explain the behavior of this option if it is not already.
Thank you.

[2021-05-17 15:07] #41237 closed, assigned to nobody

[2021-05-17 15:18] simonberger opened #41251 "[Security] Access Control behavior with strategy unanimous (Question/Bug)"
Symfony version 4.4.23

We recently switched our access_decision_manager to strategy unanimous.
We need different voters to all grant access.

[code]

I compare two different areas of voting (in our application).
1. the security.yml access_control entries giving access to a path with 1 .. n roles
2. annotations (IsGranted and Security) vote on a specific action

Voting on the second case works lik

[2021-05-17 15:30] renta opened #41252 "roave/security-advisories conflict with symfony/security-bundle:v4.4.22 and symfony/security-http"
**Symfony version(s) affected**: 4.4.22

**Description**

Symfony security bundle (4.4.22) is incompatible with roave/security-advisories (dev-latest). Security issue here?

**How to reproduce**

composer.json of our bundle:
[code]
I got this error when tried to install packages inside composer1.9 container (inside bundle directory run docker run -ti --rm -v ~/.ssh:/root/.ssh/ -v ${PWD}:/app -w /a

[2021-05-17 15:37] simonberger commented on #41252
There is a release 4.4.23 of Symfony and here you can see why version 4.4.22 and below have security concerns.
https://github.com/FriendsOfPHP/security-advisories/blob/master/symfony/symfony/CVE-2021-21424.yaml

[2021-05-17 15:38] straschek-io opened #41253 "Clarify failures with missing proc_open function"
If `proc_open` does not exist (or is excluded via PHP's `disabled_functions` setting), a helpful exception could help with debugging.

https://github.com/symfony/symfony/blob/23147f993c63c9eaafe3fa7ac0363a2e42d66a22/src/Symfony/Component/Mailer/Transport/Smtp/Stream/ProcessStream.php#L41

Compare to https://github.com/symfony/process/blob/98cb8eeb72e55d4196dd1e36f1f16e7b3a9a088e/Process.php#L143

[2021-05-17 15:39] stof commented on #41252
symfony/security has a 4.4.23 release containing the security fix. So there is no issue there.

however, you are still using composer 1 (as shown by the warning appearing in the composer output) and packagist.org now has a longer delay before releases get available for composer 1: https://blog.packagist.com/deprecating-composer-1-support/
but even then, I see them available for composer 1. So make

[2021-05-17 15:39] #41252 closed, assigned to nobody

[2021-05-17 15:44] marcelkorpel commented on #41226
Of course. It's at https://github.com/marcelkorpel/symfony-autowiring-bug

Instructions are in `README.md`.

[2021-05-17 16:10] ThomasLandauer opened #41255 "[HttpClient] Add self-signed certificate authority (CA)"
**Description**
For development, the best practice is to become your own CA, add it to the browser's list of trusted CA's, and then create certificates for your localhost address, isn't it? See https://stackoverflow.com/a/60516812/1668200

So I'm suggesting to create a way to add that CA to HttpClient's CA list.

The currently available solutions/workarounds each have their drawbacks:

* Disabling

[2021-05-17 16:13] derrabus commented on #41251
The documentation is a bit inaccurate here. One of the reasons might be that the `unanimous` strategy is rarely used and most applications stick to the default `affirmative` strategy.

If you present an array of attributes in the access control rules, what will happen is that all voters will be asked to cast their votes on _each_ of the attributes individually. So assuming, you vote on `['ROLE_USE

[2021-05-17 16:15] renta commented on #41252
@simonberger @stof Thanks for replies.

Also, when I've uppdated symfony/security-bundle to 4.4.23 in my deps - there is still this error, I've posted above.

As I see https://github.com/FriendsOfPHP/security-advisories/blob/master/symfony/symfony/CVE-2021-21424.yaml there is a strict restriction for version < 4.4.22. But https://github.com/symfony/security-http/releases which is a dependency of s

[2021-05-17 16:59] stof commented on #41255
Well, if you add them to your system list of trusted CA's, this should work out of the box as PHP relies on the system CA store (since 5.6+)

[2021-05-17 17:03] ro0NL commented on #41250
the new fluent interface should be preferred IMHO

https://symfony.com/blog/new-in-symfony-5-1-optionsresolver-improvements#fluent-interface

[2021-05-17 17:07] simonberger commented on #41251
@derrabus  Thank you for your detailed response. I debugged the current behavior as well and I think updating the documentation would be helpful.
Still I want to at least question why the behavior has been changed in that way.
To be  precise what I mean here the scenarios in more detail.

1. Vote on an action with an expression for ROLE_USER or ROLE_ADMIN

    **What happens?**
    - Voter1 grants

[2021-05-17 17:08] derrabus commented on #41252
See also #41221.

symfony/security-http 4.4.22 is not affected by the recently pusblished CVE and thus hasn't received a release. The corresponding conflict rule in `roave/security-advisories` should be reverted. Can you please report the issue to `roave/security-advisories`?

[2021-05-17 17:10] chalasr commented on #41250
I agree with @ro0NL here.

[2021-05-17 17:12] renta commented on #41252
@derrabus I'll do it.

[2021-05-17 17:15] renta commented on #41252
Already done. https://github.com/Roave/SecurityAdvisories/issues/71

[2021-05-17 17:36] derrabus commented on #41251
The big difference is that with

[code]

you trigger a vote on that expression and not directly on the roles itself. This totally bypasses the voter strategy because `ExpressionVoter` decides how the individual votes for both roles will be combined into a single atomic vote for the whole expression. By the way, if that solves your problem, you can just use expressions in your access control list:

[2021-05-17 17:39] derrabus commented on #41251
I'm going to close this issue now because the current behavior is expected and we can hardly change it now without breaking existing applications in very harmful ways. 🙈

Please feel free to open an issue on the symfony-docs repository. A PR to fix the documentation is also more than welcome, of course.

[2021-05-17 17:39] #41251 closed, assigned to nobody

[2021-05-17 22:00] johnkrovitch commented on #41250
Ok thanks !

[2021-05-17 22:00] #41250 closed, assigned to nobody

[2021-05-17 23:28] ajakov commented on #41066
Hey, I would like to contribute.

[2021-05-17 23:28] ajakov commented on #41065
Hello, I would like to contribute.

[2021-05-18 06:11] n0rbyt3 commented on #41255
@ThomasLandauer For me this is not related to Symfony but Curl. The HttpClient component is built on top. You can either use the ```cafile``` **or** ```capath``` option and yes, **it will replace** the default options in php.ini (like ```curl_setopt``` does).

If the HttpClient wants to be more clever, it has to copy all certificates from preconfigured capath to a temporary (cache) directory. Then

[2021-05-18 06:58] n0rbyt3 commented on #41198
@nicolas-grekas If you want to deprecate suffix/prefix convention, you need to think about logging, too. Right now you can inject ```LoggerInterface $fooLogger``` to log to channel ```foo``` without specifying a ```monolog.logger``` tag.

[2021-05-18 07:34] armanddebesse opened #41260 "Error when I use 'Composer update' : cache:clear failed"
Hi,
In a symfony project, I have this error when I use 'composer update' :
![image](https://user-images.githubusercontent.com/73818074/118610070-afbb7f00-b7bb-11eb-8d42-e167faa35663.png)

I'm using a single command application so I think that the problem is `bin/console` can't run other command than the command I have specified.
But I really have no ideas to solve this problem.
If someone know how

[2021-05-18 08:03] xabbuh commented on #41260
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2021-05-18 08:03] #41260 closed, assigned to nobody

[2021-05-18 08:58] deguif commented on #39961
I encountered the same issue than @lyrixx while testing Symfony 5.3.0-BETA4

[2021-05-18 09:55] Nyholm commented on #41253
That sounds like a great idea. Do you mind submitting a PR?

[2021-05-18 10:08] lyrixx commented on #39961
@deguif You may need to require the package `symfony/doctrine-messenger` explicitly if you are using `symfony/symfony`

[2021-05-18 10:13] althaus opened #41264 "[Mime][BCBreak] Change of expected behaviour in address quoting since #39866"
**Symfony version(s) affected**: 4.4.23

**Description**

In PR #39866 a bugfix was introduced to add quoting of sender names to the `Address::toString` method. This breaks our current code which expects unquoted names. I understand why the change was applied, but I don't think that it should change the current behaviour of the `toString` method. We also rely on this for proper displaying where qu

[2021-05-18 11:50] deguif commented on #39961
Yes I'm using `symfony/symfony`. Thanks @lyrixx for the tip.
Is there a proper solution to avoid this error without requiring the package `symfony/doctrine-messenger`?
Maybe it's time to drop `symfony/symfony` requirement on my side and instead require individual symfony packages ;)

[2021-05-18 12:43] lyrixx commented on #41198
**warning**: There is a confusion here between the alias for argument registered, and the service ID.

1️⃣ Here, I was initially talking about the service ID only. This service id is used:

* when configuring DI and when **not** using autowire;
* when people want to decorate the service.
* in custom compiler pass

2️⃣ The alias for argument is fine, even if I think can enhance it. But the feature

[2021-05-18 12:53] stof commented on #41198
the tricky things about not having a prefix in service ids is that the names you give to your HTTP clients, your cache pools and your messenger transport must now avoid conflicts with all service ids of the container. If you have a cache pool named `github` and a HTTP client named `github`, one of them will be overwritten by the other (depending on the order in which FrameworkBundle configures the

[2021-05-18 12:54] stof commented on #41198
The WTF behavior might even be worse, as the `HttpClientInterface $github` autowiring alias would still exist, but referencing a cache pool...

[2021-05-18 12:55] lyrixx commented on #41198
@stof you are totally right, that's why I created the issue initially and want to get ride of this! And you are also right about 🅰️ and 🅱️. I'm gonna fix my previous comment. Thanks

[2021-05-18 13:28] #40907 closed, assigned to nobody

[2021-05-18 14:11] stefankleff commented on #37794
We would like to see that feature

[2021-05-18 15:53] VincentLanglet commented on #40789
What do you think about adding documentation to https://symfony.com/doc/current/components/dom_crawler.html ?

[2021-05-18 15:56] javiereguiluz commented on #40858
I agree with Yonel and I think the current priority system is enough for our needs. It's like CSS `z-index` property, which doesn't provide "semantic sorting" either but ti's used to design all kinds of websites.

First/last is easily achievable in simple forms with `1` and `-1` priorities. For complex forms, use the same values that we use in `z-index`: `99999` and `-99999`

About "before/after"

[2021-05-18 16:08] DoobleD commented on #28518
Not a bug indeed and sure there are ways of implementing it, but an option allowing differentiation between empty strings and null would no doubt be valuable for API builders.

Or as @zanbaldwin mentioned make it the default behavior, though there might be good reasons the current behavior was chosen in the first place that I'm not aware of.

[2021-05-18 16:12] stof commented on #40789
@VincentLanglet I suggest you open a PR on https://github.com/symfony/symfony-docs/ :smile:

[2021-05-18 16:51] yoannrenard opened #41267 "[Maker] List also not listened events when running `bin/console make:subscriber`"
**Description**
When one runs the command `bin/console make:subscriber` the list of suggested events does not show the ones that are not listened yet.

**Example**
Let's say I've just created my `MyBrandNewEvent()` event, when I run the `bin/console make:subscriber` command it would help to see it along with the ones that are already listened

[code]

**Possible solution**
The idea would be to reg

[2021-05-18 17:58] keichinger commented on #40858
@javiereguiluz I disagree. Like mentioned many times before, if you have a larger form with more than three fields (or possibly one from a third party) you'd need to give all fields a priority. And honestly, your example adds unnecessary complexity, which hurts DX in my opinion.

Honestly, we wouldn't need the priority system at all, we could also just add all fields in the correct order, but here

[2021-05-18 19:20] a-menshchikov commented on #41128
@Nyholm is there any news about this issue?

[2021-05-19 06:13] spipu commented on #40651
hello,

i see that lots of deprecated message are concerning deprecated in the same vendor that the source of the deprecated definition. for example, doctrine on doctrine, or facebook on facebook. but normally, the deprecated system in symfony must ignore the deprecated in the same vendor.

example: The "Facebook\WebDriver\Local\LocalWebDriver::createBySessionID()" method will require a new "bool

[2021-05-19 06:16] spipu commented on #40651
example:
![image](https://user-images.githubusercontent.com/10595905/118764868-772eaa80-b87a-11eb-943e-8ca5fd85aa9e.png)

[2021-05-19 06:30] #41037 closed, assigned to nobody

[2021-05-19 06:30] #41038 closed, assigned to nobody

[2021-05-19 07:45] #40971 closed, assigned to nobody

[2021-05-19 07:46] #28314 closed

[2021-05-19 07:53] Nyholm commented on #41128
I think you cracked it down that it is because if #41011.

Im not sure how to fix #41011. Maybe it is as simple as rebooting the kernel.

[2021-05-19 08:19] Nyholm opened #41270 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.zh_CN.xlf](https://github.com/symfony/sym

[2021-05-19 08:19] Nyholm opened #41271 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.zh_TW.xlf](https://github.com/symfony/sym

[2021-05-19 08:38] smolowik commented on #36439
Any solution for that? Beside changing vendor code ;)

[2021-05-19 09:05] nicolas-grekas commented on #41255
I agree we cannot do this in HttpClient. There is no way to add to the list of certs from there.
This should be handled at the OS level.

[2021-05-19 09:05] #41255 closed, assigned to nobody

[2021-05-19 09:09] nicolas-grekas commented on #41217
Closing for now as this has been answered. Thanks for opening.

[2021-05-19 09:09] #41217 closed, assigned to nobody

[2021-05-19 09:11] nicolas-grekas commented on #41130
I'm not sure we can fix this in Symfony itself.
What you need to do is to call [`LockRegistry::setFiles([])`](https://github.com/symfony/symfony/blob/69a0b29fab688f4a34ed59fa51fe77fc2d0f1ef9/src/Symfony/Component/Cache/LockRegistry.php#L67) from within your subprocesses to disable locking in them.

[2021-05-19 09:15] nicolas-grekas commented on #41120
About the initial request of reverting the new method, I'm :-1:. The new method is a pragmatic solution to the most important issue, which is about injecting a stateful object as a direct dependency of session consumers. RequestStack creates just the right indirection that allows mutating the session as needed without having to resort to so called scoped services.

The rest is theory. Please give

[2021-05-19 09:34] ben29 opened #41273 "Form Errors on Bootstrap 5 layout"
when using` bootstrap_5_layout.html.twig`

the error will not appear.

<img width="918" alt="Screen Shot 2021-05-19 at 12 32 00" src="https://user-images.githubusercontent.com/343681/118790322-537d5b80-b89e-11eb-92de-b55dfe7e9ae9.png">

changing to  `bootstrap_4_layout.html.twig `will show the errors

using Symfony 5.3 BETA

[2021-05-19 09:35] nicolas-grekas commented on #41249
Thanks for the report. This is issue is for the `Mime` component, which is the one that creates the `Content-Disposition` header.
Generating only a `filename*=` looks like the issue to me.

When submitting this file, neither Chrome nor Firefox generate the `filename*=` variant, although it's the only standard form.
Chrome generates `filename="中文.txt"` and Firefox `filename="\u4e2d\u6587.txt"`.

I

[2021-05-19 09:36] nicolas-grekas commented on #41249
We should also give feedback at https://trac.ietf.org/trac/httpbis/wiki/ContentDispositionProducers

[2021-05-19 10:14] fd6130 commented on #41270
Hi, is this duplicate of #41037?

[2021-05-19 10:14] fd6130 commented on #41271
Hi, is this duplicate of #41038?

[2021-05-19 10:24] Nyholm commented on #41270
Yeah. The script to open these needs some tuning.

[2021-05-19 10:24] #41270 closed, assigned to nobody

[2021-05-19 10:24] #41271 closed, assigned to nobody

[2021-05-19 10:59] VincentLanglet commented on #39943
I just found this issue, and it's really confusing @xabbuh, I think it should be reopen.

There is often a `*` used in order to tell if a field is required or not.
When I use a CollectionType, I do not want this `*` since adding a row to the collection is not required
![image](https://user-images.githubusercontent.com/9052536/118800656-74df4700-b8a0-11eb-966f-8985669ac38b.png)

But if I use `requi

[2021-05-19 11:54] #41065 closed, assigned to nobody

[2021-05-19 11:56] #41066 closed, assigned to nobody

[2021-05-19 12:01] Nyholm commented on #41011
I see that the description of `cache:warmup` says:

@a-menshchikov, can you confirm that this error does not happen if the cache is empty?

------

I would appreciate if other people knowledge about the `cache:warmup` and container builder to have a look at this issue.

[2021-05-19 12:13] codedge opened #41277 "RedirectException although max_redirects not reached"
**Symfony version(s) affected**: 5.1

**Description**
When using the `max_redirects` option for a scoped client, set it to `1` and call `$request->getHeaders()` I would expected to not get a `RedirectingException` thrown when the first redirect happens.

I know, that calling `getHeaders` leads to exceptions, as [stated in the docs](https://symfony.com/doc/current/http_client.html#handling-exceptio

[2021-05-19 12:37] syurchen opened #41280 "Validator not using cache"
**Symfony version(s) affected**: 5.2.3

**Description**
I have found out that framework.validator.cache is not being used.

I'm getting Symfony\Component\Validator\Validator\TraceableValidator via Symfony\Component\Validator\Validator\ValidatorInterface (tried both from container and from DI). And Symfony\Component\Validator\Mapping\Factory\LazyLoadingMetadataFactory that is being build inside of

[2021-05-19 12:54] a-menshchikov commented on #41011
At the moment I see that error don't reproducing (regardless of the cache state).
But when I run `cache:warmup` with empty cache, I have a sequence of warnings that I described in #41128.

[2021-05-19 12:58] stof commented on #41280
the cache option is indeed ignored now, as the mapping cache is fully managed by Symfony now, using the system cache.
The reason you see it null is because you run in debug mode, which disables the validation mapping cache.

[2021-05-19 13:11] syurchen commented on #41280
@stloyd Thank you! so, if I have APP_ENV=prod, the cache will be enabled? is there another way I can have val cache working? The project has a lot of validation tests and I don't want them taking 10+ mins

[2021-05-19 13:13] #38639 closed, assigned to nobody

[2021-05-19 13:15] PF4Public commented on #36439
@fabpot Please comment on this issue.

[2021-05-19 13:36] codedge commented on #41277
This works as expected. There is sth. else wrong with my app, not the fault of the http client. All good.

[2021-05-19 13:36] #41277 closed, assigned to nobody

[2021-05-19 14:00] alexislefebvre commented on #41221
Updating to these versions fixed the false positive:

[code]

Update: actually I add to update more dependencies:

[code]

---

`composer update` should work too if you can upgrade all your dependencies.

[2021-05-19 15:41] ThomasLandauer commented on #41255
Thanks guys, the information I was missing is that HttpClient uses the system's CA store. I opened a PR to add this to the docs: https://github.com/symfony/symfony-docs/pull/15362

[2021-05-19 16:27] sylfabre commented on #32652
Hello @ro0NL
I've updated the PR https://github.com/symfony/symfony/pull/41136
Let me know if I going in the right direction, I'll then work on the tests :slightly_smiling_face:

I have several questions about it:
- I'm not sure if `TranslatableMessage` should be moved to a dedicated `Translatable` folder with its 2 new friends
- I'm not sure if I should update the master `composer.json`, the comp

[2021-05-19 16:45] stof commented on #41255
@ThomasLandauer HttpClient uses whatever PHP uses. And as of PHP 5.6, PHP uses the system CA store by default.

[2021-05-20 02:35] drzraf commented on #39864
Probably related: https://github.com/symfony/symfony/issues/33680

[2021-05-20 02:58] berkut1 opened #41305 "Debug toolbar not showing on Symfony exception pages"
**Symfony version(s) affected**: 4.4.22-24 (or 4.4.21-24)

**Description**
After upgrading to Symfony 4.4.24, the Symfony Exception pages no longer have the Debug Toolbar.
![4 4 24](https://user-images.githubusercontent.com/13355990/118912167-08138d80-b930-11eb-8b07-78b098a9413a.png)

How it was in 4.4.19

![4 4 19](https://user-images.githubusercontent.com/13355990/118912200-1497e600-b930-11eb-8a

[2021-05-20 05:37] martinssipenko opened #41306 "[ExpressionLanguage] Notice generated when expression contains a reference to undefined field"
**Symfony version(s) affected**: 5.2.7

**Description**

In cases where expression contains a reference to a field that is not set in the data being evaluated a notice is generated.

**How to reproduce**

[code]

**Possible Solution**
This could be checked in `GetAttrNode#evaluate()` and there are two options I see we could do:
1. Throw `RuntimeException` if trying to access an undefined property/

[2021-05-20 06:11] Slamdunk opened #41310 "[Console] Use class names as canonical name for Helpers by default"
[code]

## Why

1. Less typing thanks to IDE autocompletion, immediate understanding and reference on the actual helper in use
2. To ease static analysis tools, which could infer the `$formatter` type to be the Helper name without additional maps to be maintained (or dynamically gathered by an additional `getName()` call or other calls to HelperSet)
3. To ease further `$formatter` IDE autocompleti

[2021-05-20 06:51] n0rbyt3 opened #41315 "[Console] Command usage output invalid if argument name is a reserved style"
**Symfony version(s) affected**: >=4.4

**Description**
If you name an console input argument "info" and try to use the command without arguments, the help output is incorrect.

**How to reproduce**
[code]

Command line:
[code]

**Possible Solution**
Do not print the arguments as tags, use another delimiter instead or the output should not get formatted.

[2021-05-20 07:20] wcs-gilliaard opened #41317 "[Validator] AtLeastOneOf default message property is not translated."
**Symfony version(s) affected**: 5.2.8

**Description**
When default locale of the framework is set on for example **dutch** the following example will be returned:
`This value should satisfy at least one of the following constraints: [1] Deze waarde moet leeg zijn. [2] Deze waarde is te lang. Hij mag maximaal 100 tekens bevatten.`
As you can see the languages are mixed.

**How to reproduce**
Set

[2021-05-20 07:53] mhujer commented on #41305
Same for me - toolbar is not loading and I'm getting `Uncaught TypeError: Sfjs.loadToolbar is not a function` in Chrome Dev Tools console (on 5.2.8).

EDIT: I guess it may be related to https://github.com/symfony/symfony/pull/41168

[2021-05-20 07:55] staabm opened #41320 "[VAR-DUMPER] syntax error in 5.2.8 using php 7.2"
**Symfony version(s) affected**: 5.2.8

**Description**
using symfony/var-dumper on php 7.2 triggers a php syntax error

[code]

per https://packagist.org/packages/symfony/var-dumper#v5.2.8  it should support php 7.2

it seems there is some array-destructuring used which requires php 7.4 in https://github.com/symfony/var-dumper/blob/d693200a73fae179d27f8f1b16b4faf3e8569eba/Cloner/AbstractCloner.ph

[2021-05-20 07:57] nicolas-grekas commented on #41320
This file is perfectly fine on 7.2, see eg https://3v4l.org/ROube

[2021-05-20 07:58] nicolas-grekas commented on #41320
Output for 7.0.0 - 7.0.33
    Parse error: syntax error, unexpected '=' in /in/ROube on line 316

[2021-05-20 08:00] staabm commented on #41320
ohh my.. you are right.. the code is invoked via php 7.0 - thx for the headsup
(because someone uses an old url)