[2016-11-17 16:13] stof commented on #20549
This has nothing to do with Symfony. Please ask to the Doctrine support

[2016-11-17 16:13] #20549 closed

[2016-11-17 16:25] andrescevp commented on #20549
Thanks

[2016-11-17 17:56] quentinus95 commented on #20486
ping @csarrazi ping @lyrixx

[2016-11-17 18:08] csarrazi commented on #20486
Hi @quentinus95. Actually, this does not work for all cases. Indeed, LDAP structures do not only store users, but may actually contain one or multiple trees representing an organization and its sub-entities, as well as user groups.

The UID key is actually very specific to the security component, and entries should not be aware of that.

[2016-11-17 19:07] quentinus95 commented on #20486
Hi, thanks for your answer.

I'm not sure to really understand your explanation. Do you have an example where the `$uidKey` given to the `LdapUserProvider` is not describing an attribute of the searched user ?

Maybe I'm wrong but I guess that the uidKey will be the field describing the user's username (and you've set the default value for the filter to `({uid_key}={username})`).

My idea is only

[2016-11-17 19:35] appeltaert commented on #20542
I can imagine.. Well i got stuck in a situation where i needed to validate an array holding data, and another array holding the constraints for keys in the data array. Couldn't rebuild this, its part of a larger subsystem that dynamically builds everything based on definitions that are linked to other relations of users, yadayada..

For complex situations with no Class or file holding the constrai

[2016-11-17 20:19] csarrazi commented on #20486
Sorry if that was not clear on my side. What I mean is that everything in LDAP is represented as the same type of object: an `Entry`. Basically, you can compare an `Entry` to a vertex in a graph, or a node in a tree.

When reading your answer, I actually thought you were suggesting to add a $uidKey in the `Entry`, and not the `LdapUserProvider`, which surprised me.

There's nothing wrong about cha

[2016-11-17 20:24] quentinus95 commented on #20486
Yes, it would not make any sense to add it to the `Entry` :smile:

I will open a PR soon.

Thanks !

[2016-11-17 21:19] quentinus95 commented on #20486
I've just created the PR.

[2016-11-17 22:13] jerryladoo commented on #19149
@xabbuh  thanks for that, but I still have a question. From execution order perspective, the extension where config gets processed will be called first and then compiler pass. Besides, from the name of method `getExtensionConfig`, it tells me that I should expect to have identical config in compiler pass, in fact it is not. Instead the config in compiler pass seems reverting back to its original s

[2016-11-17 23:36] Flippsus commented on #20459
I think I lost my concentration on it. I just ignored the behaviour, in order to get back to it later. In the meantime I had to implement another rendering algorithm (for a dynamically created form). The problem did not occure anymore. I am not sure, what the real reason was. Thank you, for the hint with error_bubbling. I will comment back in this thread, if I get to know something new. Let's just

[2016-11-18 07:16] spreling commented on #19297
This would be a created addition for the cache component. Any idea on when it get released? Can't wait to test it

[2016-11-18 07:26] peterrehm commented on #20459
If it does not occur any more you can close the issue and reopen if it happens again.

[2016-11-18 07:27] javiereguiluz opened #20556 "Symfony 3.2-RC1 errors in the Symfony Profiler"
In https://github.com/symfony/symfony-demo/pull/403 I've just updated the Symfony Demo app to Symfony 3.2-RC1 and Twig 1.28. I have a lot of issues in the Symfony profiler:

1) The few profiler panels that work right mess up the entire sidebar menu:

![error_1](https://cloud.githubusercontent.com/assets/73419/20422117/a74a5fe2-ad68-11e6-9a04-964d7d3069f9.png)

![error_2](https://cloud.githubuserco

[2016-11-18 08:14] javiereguiluz commented on #20556
I've just upgraded an internal Symfony app to 3.2-rc1 and I'm getting the same errors.

[2016-11-18 08:19] Cydonia7 commented on #20556
Status: Reviewed

I reproduced the bug on symfony demo upgrading `symfony/symfony` to `dev-master`. Thanks @javiereguiluz for reporting such an important issue.

[2016-11-18 08:48] zacharyzh commented on #20526
@HeahDude

Did you mean the model validation will be done before data transformation?

PS:
I never used the php comments as the "annotation". That's could be lost after the code compression.

[2016-11-18 09:43] #20459 closed

[2016-11-18 09:57] catch56 commented on #20534
This issue was opened as a spin-off from a Drupal issue, see the discussion in https://www.drupal.org/node/2827084 which led to it being opened. We have a workaround for Drupal, but the lack of specificity in Symfony's exceptions precluded a less intrusive approach that was suggested, hence this issue.

[2016-11-18 11:28] martinbertinat opened #20557 "Symfony 3.2-RC1 error in the Logger panel in Symfony Profiler"
Hello, I'm trying Symfony 3.2.0-RC1. It's a fresh install.

I have the same error as @javiereguiluz https://github.com/symfony/symfony/issues/20556

But there is another error in the logger panel:

![sf32rc1](https://cloud.githubusercontent.com/assets/1635368/20428626/e70c7b6a-ad68-11e6-8c4e-3a08ad1e09a9.png)

[2016-11-18 14:06] #20514 closed

[2016-11-18 15:29] kgilden commented on #10035
ping @stof

[2016-11-18 15:35] ShinDarth commented on #11279
it looks like this is still an issue

[2016-11-18 15:53] derrabus commented on #20556
I can reproduce this on the 2.7 branch as well. This commit by @fabpot seems to be the one that breaks everything: https://github.com/symfony/symfony/commit/b8f7614388ad567b647f64650271bc51e7a9c624

If I simply revert that commit on 2.7, everything's fine again.

[2016-11-18 16:58] namaless opened #20560 "Error in v3.2-rc1 and HTTP cache in production"
I have a small personal project made with the latest dev version but I found a bug with the http cache, this is my sources:

[code]

Kernel: https://github.com/nunopress/sf-micro-edition/blob/master/app/MicroKernel.php

If I use `$kernel = new MicroCache($kernel);` get error:

[code]

If I enable the `AppCache` and disable `$kernel->loadClassCache();` working but not all 2 in the same time.

For c

[2016-11-18 17:34] derrabus commented on #20556
I have created PR twigphp/Twig#2269 that fixes this issue. But maybe we should revert the commit I've mentioned above until the issue is fixed in Twig.

[2016-11-18 17:38] derrabus commented on #20557
This issue can be closed as a duplicate of #20556. Same cause, same fix. :-)

[2016-11-18 17:38] wimleers opened #20562 "2.8.x broke BC for `Request::isMethodSafe()`"
Symfony broke BC in a patch release. Causing CORS (via `asm89/stack-cors`) support in Drupal 8.2 to break: https://www.drupal.org/node/2823687.

Introduced at https://github.com/symfony/symfony/commit/140460707201665bec2d3e625e93b02f43aacd38 — https://github.com/symfony/symfony/pull/19321 (July 9, 2016)

Fun fact: Symfony <em>also</em> discovered this is a problem, and that is <em>why</em> it intr

[2016-11-18 17:57] stof commented on #20556
I don't think we need reverting this, as Symfony 2.7 does not have an impacted release yet. We just need to release Twig 1.28.1 before the next Symfony 2.7 patch release (which is under our control as @fabpot is doing releases on both sides)

[2016-11-18 18:42] javiereguiluz commented on #20557
Closing it as duplicate of #20556.

[2016-11-18 18:42] #20557 closed

[2016-11-18 19:01] Guite opened #20563 "3.2.0-RC1: Problem with redis provider service"
I am trying to update the Zikula core to Symfony 3.2.0-RC1. When running composer I receive the following error:

[code]

The `appDevDebugProjectContainer.xml` file contains the following service definition:

[code]

Is this a problem which must be fixed in our config file? If yes, how to do that (couldn't find anything about it in the cache component docs)?

[2016-11-18 21:32] #20399 closed

[2016-11-18 22:08] HeahDude commented on #20526
@zacharyzh In fact, the validation format (e.g annotations, xml...) does not change what's happening in the form validation process.

You attached a model transformer and the constraint on the collection field.

But when the collection is submitted:

 1. it is first transformed from view data to norm data (both arrays in this case)
 2. it submits all of its children, each of them are then transfor

[2016-11-18 22:30] HeahDude commented on #20563
This is about a dependency which tries to get a not yet defined service in a compiler pass `Matthias\SymfonyServiceDefinitionValidator\Compiler\ValidateServiceDefinitionsPass` from your trace.

Maybe related to https://github.com/symfony/symfony/pull/20533, but what's weird is that it's already part of RC1.

@nicolas-grekas any thought?

[2016-11-18 23:41] derrabus opened #20565 "[FrameworkBundle][Process] 3.2.0 RC1: Webserver as run configuration in PhpStorm/IntelliJ"
It has always been handy for me to configure the `server:run` command as a run configuration in PhpStorm. This way, I can launch the webserver with a single click and relaunch or stop it from within the IDE.

<img width="594" alt="bildschirmfoto 2016-11-19 um 00 35 16" src="https://cloud.githubusercontent.com/assets/1506493/20450376/5867abb8-adf0-11e6-8077-0af74e04e43b.png">

After upgrading to Sy

[2016-11-19 05:51] #20556 closed

[2016-11-19 13:29] garak opened #20568 "Using the dot notation on an instance of Twig_Template is deprecated since version 1.28 and won't be supported anymore in 2.0"
I'm getting such deprecation message in tests, since I upgraded Twig a couple of days ago.
I'm on Symfony 2.8.13 with Twig 1.28.1
I tried to dig into Twig source to understand the reason of such deprecation, but I couldn't understand. Moreover, I couldn't find a mention of such deprecation in Twig files (e.g. in deprecated.rst)
The stranger thing is that I'm not getting any logged deprecation in d

[2016-11-19 15:12] fabpot commented on #20568
The deprecation (for which the message is indeed not very clear) is when you are trying to call a method on a template instance with the dot notation in a template. For instance, `template.renderBock('foo')`. That's deprecated now, and you should use `block('foo', template)` instead. Of course, it can also comes from a third-party bundle or the Symfony web profiler if it is not updated to the late

[2016-11-19 15:14] niels-nijens commented on #20538
I've created an [InteractiveProcess](https://github.com/niels-nijens/accompli/blob/617a807d0502259136ac89b7ed8574bf125da669/src/Process/InteractiveProcess.php) class that writes into an input stream and reads data directly from the pipes. It is used as a wrapper for the linux SSH command.

When I read the data with `Process::getIncrementalOutput` by replacing the body of `InteractiveProcess` with

[2016-11-19 15:27] garak commented on #20568
Indeed, I'm using monologbundle 3.0.1. I also tried to upgrade from symfony 2.8.13 to 2.8.14-DEV, but I still don't see deprecations in debug toolbar.
About `block`/`renderBlock`, trying a `grep -lr renderBlock vendor/` is resulting in files from `vendor/symfony` and `vendor/twig` dirs only, so there's no third-party bundle involved

[2016-11-19 16:50] zacharyzh commented on #20526
@HeahDude

That's looks pretty good! I need to learn more about the FormType extending.

Thank you very much. That's what I need. 😄

[2016-11-19 18:49] fabpot commented on #20568
see twigphp/Twig#2270

[2016-11-19 18:50] fabpot commented on #20568
Sorry, 3.0.1 has the bug, try with 3.0.0 which does NOT have the bug.

[2016-11-19 19:27] tsifra opened #20570 "Symfony2 swiftmailer dependent problem with smtp transport and CLI"
This problem is related to swiftmailer, monolog and symfony2. I believe roots of the problem are somewhere in symfony2. I've faced exactly the same problem as [follows](http://stackoverflow.com/questions/36730347/cant-send-e-mail-through-command-line-php-script-swiftmailer). But this guy had it 7 months ago. And i found it only after recent update.

So sending mail works fine from controllers but

[2016-11-19 20:20] HeahDude commented on #20526
So I suggest to close here since there is already enough hooks IMHO to validate data in a form.

The Form component provides `Form::addError` to play with the validation process, and by extension this is delegated to the Validator component thanks to a `ValidationListener` from the core component, configured in the full stack, and based on models.

From there, two possibilities: build custom const

[2016-11-20 09:34] javiereguiluz commented on #20526
Closing it because of the reasons explained by @HeahDude.

[2016-11-20 09:34] #20526 closed

[2016-11-20 12:10] chalasr commented on #16960
👍

[2016-11-20 17:41] arnucci opened #20572 "Profiler directory is absent from the cache after running cache:clear"
Hello
In upgrading from version 2.7.19 to 2.7.20, I noticed that logs are absent from the logger pannel in the web debugger interface.
After running a few tests, I realized that logs are present when I simply run the bash command rm -rf * in the cache/dev directory and absent when I run php app/console cache:clear.

I observed that in the second case, the profiler directory is absent from the cach

[2016-11-20 19:36] nicolas-grekas commented on #20259
Linux and Windows are two different OSes and we can't completely abstract them out.
PHP wraps all process in a shell by default. On Linux, you can replace this shell by your actual command by prefixing it with `exec` (eg. `exec command --arg` instead of `command --arg`).
This is not something we can fix in Symfony actually and unfortunately.

[2016-11-20 23:30] patrick-mcdougle commented on #20517
Look into the real path cache. I know that has bit us in deploying our PHP websites.

[2016-11-21 07:23] nicolas-grekas commented on #20300
We don't want to support detached processes. These are called zombie processes in fact.
Note that we do support background processes, which is something different.

[2016-11-21 07:23] #20300 closed

[2016-11-21 07:24] nicolas-grekas commented on #20347
Can you try again with latest release?

[2016-11-21 07:34] nicolas-grekas commented on #20560
Can you check where the ResponseHeaderBag class is loaded from the first time? bootstrap.php.cache? Autoloading somewhere (where then?)

[2016-11-21 07:37] nicolas-grekas commented on #20517
So, does 3.1.7 fix the issue for you?
Otherwise, can you try by replacing `'/.'` by `'/'`? (removing the dot) a few lines above?

[2016-11-21 07:40] nicolas-grekas commented on #20513
I don't know how we could wait for the process to be actually spawned. Yet, as stof said, zombie processes (ie processes without parent) are not supported because they are not portable and thus unreliable. Instead, you should do background processes, which means managing them from the parent, and be sure that children process have finished before exiting the parent. This is the only stable way.

[2016-11-21 07:46] nicolas-grekas commented on #20445
This is unsupported on Symfony Process because the behavior of the OSes is different. There is no way I'm aware about to abstract these differences unfortunately. It doesn't mean you can't achieve it on your setup, it just mean nobody wrote such portable code for Symfony (and I doubt PHP provides the required primitives).
For this reason, running a processing surviving yourselves is a won't fix fo

[2016-11-21 07:47] nicolas-grekas commented on #20434
Fixed

[2016-11-21 07:47] #20434 closed

[2016-11-21 07:48] nicolas-grekas commented on #20423
ping @lyrixx

[2016-11-21 07:51] nicolas-grekas commented on #20563
@Guite can you try #20537 see if it fixes your issue?

[2016-11-21 07:52] nicolas-grekas commented on #20400
Maybe do you have xdebug enabled with var_dump overloading enabled?

[2016-11-21 08:46] nicolas-grekas commented on #20565
This must be related to #19174.
Can you try two different things please?
1. replace setTty by setPty in src/Symfony/Bundle/FrameworkBundle/Command/ServerRunCommand.php => works? if yes, can you see colored output?
2. apply #20576 => removes the notice?

[2016-11-21 09:17] kunsttorsten commented on #20568
Importing a bundle of macros by using {% import "..." as varname %} also throws exception "Using the dot notation on an instance of Twig_Template is deprecated" now. How to use it now?

[2016-11-21 09:19] karlbuckland commented on #20568
I'm getting the same when trying to set up a recursive macro, eg:
`{% import _self as twigdebug %}`
`{{ twigdebug.recursiveTree() }}`

Then within the macro twigdebug:
`{{ _self.recursiveTree() }}`

Is there an equivalent of block() for calling a macro?

[2016-11-21 09:27] nicolas-grekas commented on #20201
See https://github.com/symfony/symfony-standard/pull/1025
I know this is not exactly what you're asking for here, yet decided to *not* require this file all the time, because it looked overkill.
Instead, I'm proposing to add this file to autoload-dev in the standard edition, which is generally where symfony/symfony is used to replace individual components.

[2016-11-21 09:31] Guite commented on #20563
@nicolas-grekas doesn't seem to change anything. Not sure though whether I did it correctly: I ran `composer update`, manually merged your changes and ran `composer update` again.

[2016-11-21 09:32] derrabus commented on #20565
Replacing `setTty` by `setPty` works first. This is the output I get:

<img width="701" alt="bildschirmfoto 2016-11-21 um 10 17 44" src="https://cloud.githubusercontent.com/assets/1506493/20476973/e243249a-afd3-11e6-81db-910950eca2e7.png">

So, no colored output if I use the run configuration. But the output is colored, if I use `server:run` inside a normal console. But note that after this change

[2016-11-21 09:35] nicolas-grekas commented on #20565
Then #20576 is the way to go. Thanks!

[2016-11-21 09:47] felixfbecker commented on #20347
Fixed

[2016-11-21 09:47] #20347 closed

[2016-11-21 10:09] lyrixx commented on #20423
Hello.

I see at lease two solution here:

1. Patch (with a PR) the third party code to use the the `%kernel.cache_dir%` folder
2. Add a static method / property to configure the fallback.

[2016-11-21 10:12] nicolas-grekas commented on #20423
Should we do something in LockableTrait?

[2016-11-21 10:14] nicolas-grekas commented on #20563
This is a false positive in https://github.com/matthiasnoback/symfony-service-definition-validator
Yet, we maybe able to do something about it in #20577

[2016-11-21 10:15] nicolas-grekas commented on #20565
PR updated to fix tests, can you please check again?

[2016-11-21 10:45] lyrixx commented on #20423
Actually, there is a much more simpler solution. `sys_get_temp_dir()` already read the `TMPDIR` environment value. So you can simple add the following line `putenv('TMPDIR=/foobar');` in your front controller.

[2016-11-21 10:59] javiereguiluz commented on #20423
Let's close this as "fixed" thanks to the tip provided by @lyrixx (which by the way, it's being added to the Symfony Docs too. See https://github.com/symfony/symfony-docs/pull/7150)

[2016-11-21 10:59] #20423 closed

[2016-11-21 11:14] namaless commented on #20560
Hi, after investigate more in depth I see the problem come with the `file response`, you can found my project here: https://github.com/nunopress/sharex-hosting-uploader

The problem working with `export SYMFONY_ENV=prod` and use the `app.php` file when you try to see a files (after cache created) with `return $this->file($file, $filename, 'inline');` : https://files.nunopress.com/view/21-11-2016-1

[2016-11-21 11:32] namaless commented on #20560
Ok I think the problem come with `composer dump-autoload --optimize` because with the latest dev-master without run this command the app working fine in production, but when use this the problem writed here come back. I don't know why on the v3.1.7 (updated now) working fine with composer optimize and with v3.2 not working ...

[2016-11-21 12:30] Belgacem-TLILI opened #20578 "[Form] DateTimeToLocalizedStringTransformer - reverseTransform returns wrong \DateTime Object"
**Symfony 2.8.13**

Below is my form date field

[code]

After last merge the constraints GreaterThanOrEqual and LessThanOrEqual  are not working anymore as the DateTimeToLocalizedStringTransformer returns different value than the user input

below is the dump of the transformed value (submitted value is 01-01-20033)

![screen shot 2016-11-21 at 4 00 53 pm](https://cloud.githubusercontent.com/asse

[2016-11-21 14:13] jclg commented on #20233
Hi

First create a new symfony project (currently 3.1.7)
`symfony new my_project`

Launch the webserver
`php bin/console server:start`

Add the following at the end of app/config/security.yml

[code]

Then browse to http://localhost:8000/
"InsufficientAuthenticationException: Full authentication is required to access this resource." Got 500 but 403 expected.

[2016-11-21 14:14] tristanbes commented on #20513
Ok I understand. @nicolas-grekas imo this should be added in the documentation because this will lead to other misunderstanding

Something like
"Running an asynchronous process is not the same than running a processing surviving yourselves."
"You process **will** be killed as soon as the cycle of request/response is finished"

And maybe add a hint like @stof said that only works with php-fpm.

Wou

[2016-11-21 14:15] nicolas-grekas commented on #20513
Sure we would accept such a PR!

[2016-11-21 14:24] derrabus commented on #20565
Yes, the PR still works for me.

I still have that problem with the command exiting suddenly after some reloads, though. But it seems to be independent from how I run it and whether I apply your patch or not, so I'll file a separate bug report about it. Right now, the PR makes things better for me. 👍

[2016-11-21 14:26] nicolas-grekas commented on #20565
that's a segfault, we can't do anything about it on Symfony side, this is a php engine issue...

[2016-11-21 14:29] javiereguiluz commented on #20513
I've created https://github.com/symfony/symfony-docs/issues/7151 to not forget about improving this doc. Therefore, I'm closing this issue as "fixed". Thanks!

[2016-11-21 14:29] #20513 closed

[2016-11-21 14:35] BourotBenjamin opened #20579 "Symfony YAML parser doesn't handle complex YAML format"
As described here :
http://yaml.org/spec/1.2/spec.html#id2760395

But, when I try to load a valid YAML file using complex mappig, I got an error :

My file content :

[code]

As PECL YAML extension ( https://pecl.php.net/package/yaml ) exists, works fine and seems more complete than symfony's one, wouldn't be more simple to replace Symfony's YAML component by php extension ?

What do you think ?

[2016-11-21 14:38] fabpot commented on #20565
@derrabus If you are using PHP 7.1RCx, the segfaults are indeed a bug in PHP.

[2016-11-21 14:40] derrabus opened #20580 "[FrameworkBundle][Process] server:run command exits after reload"
How to reproduce:
* Check out the 3.2 branch of the symfony-standard repository
* Update the vendors. (Symfony is at 2094715)
* Run `bin/console server:run`
* Point the browser to `http://localhost.8000/`
* Hit reload.

If I do this, the command exits with the following output:
[code]

If I downgrade Symfony to 3.1.6, everything's fine.

Environment: macOS 10.11.6, php 7.1 RC6

[2016-11-21 14:42] fabpot commented on #20580
I think that this is a bug in PHP 7.1. I had the same issue and downgrading to PHP 7.0 fixed the issue.

[2016-11-21 14:43] derrabus commented on #20565
I've opened #20580 for this issue. I can try to reproduce it with php 7.0 later, if that helps.

[2016-11-21 14:52] derrabus commented on #20580
I can confirm, that the issue is gone after switching to php 7.0.13.

[2016-11-21 14:57] fabpot commented on #20580
Can you report this issue to PHP? And close this issue then.

[2016-11-21 15:22] emirb opened #20581 "[YamlFileLoader] Error: Undefined class constant 'PARSE_CONSTANT'"
## Overview
I tried to test my code readiness for Symfony 3.2-RC1. I've set my `minimum-stability` to `dev` and ran `composer update symfony/symfony --with-dependencies`. The update itself went well, however I found out that my functional tests are failing.

It seems that the problem is not specific to my code, but happens in 3.2.0-RC1 in general.

Versions:
[code]

## Steps to reproduce
1. Instal

[2016-11-21 15:26] stof commented on #20579
We cannot replace the Symfony component by the PHP extension, as it would force people to install an uncommon PHP extension to use Symfony, which is a no-go (even the much more common ``mbstring`` can be an issue for some people, so my answer is *not* a wild guess).

And as the Symfony parser is turning mappings to associative PHP arrays, it cannot support using arrays as keys for instance. This i

[2016-11-21 15:36] Guite commented on #20563
@nicolas-grekas I confirm that #20577 fixes this issue :tada:

[2016-11-21 15:40] derrabus commented on #20580
https://bugs.php.net/73575

[2016-11-21 15:40] #20580 closed

[2016-11-21 16:04] ogizanagi commented on #20581
I wasn't able to reproduce the issue following your steps 😕

[2016-11-21 16:26] javiereguiluz commented on #20233
@jclg this is what's happening when you use the code that you shared:

1) The URL is protected, so the firewall correctly throws a AccessDeniedException (code 403) thanks to this code:

[code]

2) The Security component has an exception listener to handle in some special way the exceptions related to security.

3) In this case, the listener executes the `handleAccessDeniedException()` method. In p

[2016-11-21 16:39] derrabus commented on #20581
PHPUnit bundles its own version of the YAML Component. My best guess is, that somehow PHPUnit's version of the YAML Component is loaded instead of the one from your vendors.

[2016-11-21 16:40] fabpot commented on #20581
@derrabus You are right, that's exactly what happens here.

[2016-11-21 16:47] Cypaubr commented on #20233
@javiereguiluz In my case I am using an authentication mechanism (form login) and I still see a 500 error...

[2016-11-21 16:50] nkirstein commented on #20423
@javiereguiluz @nicolas-grekas @lyrixx Sorry for being a pain in the a.. but I don't see how this solves the issue that I was raising. I was suggesting that in a situation where you're deploying a third-party Symfony-based app on a shared webserver, it would be useful to have a way of configuring a temp directory without having to modify the source code of the third-party app. The solution offered

[2016-11-21 16:55] jakzal commented on #20233
@Cypaubr in that case please provide steps to reproduce your issue. Steps provided by @jclg (thank you!) are not sufficient as @javiereguiluz explained.

[2016-11-21 16:55] #20233 closed

[2016-11-21 16:55] javiereguiluz commented on #20423
@nkirstein you are right ... but @lyrixx proposal to `putenv()` in the front controller was just an example. You can define the `TMPDIR` environment variable using the deployment script, the web server, etc.

[2016-11-21 21:58] emirb commented on #20581
@derrabus Thanks for clarifying! Requiring `phpunit/phpunit` and running it from `vendor/bin/phpunit` works correctly.

[2016-11-21 21:58] #20581 closed

[2016-11-21 23:55] #20563 closed

[2016-11-22 00:00] #20565 closed

[2016-11-22 00:16] #15642 closed

[2016-11-22 05:57] johnpancoast opened #20588 "[Serializer] Fatal error: Class 'Symfony\Component\PropertyAccess\PropertyAccess' not found"
Using `symfony/serializer: "~3.1"` in my project and got that error when using the ObjectNormalizer. Seems that serializer component is [dependent on PropertyAccess](https://github.com/symfony/serializer/blob/3.1/Normalizer/ObjectNormalizer.php#L15) but there's [no requirement](https://github.com/symfony/serializer/blob/3.1/composer.json#L18) in composer.

[2016-11-22 06:07] johnpancoast commented on #20588
Hmm I guess the docs say that you need to add the dependency on property access yourself if you want to use the resolver.

[2016-11-22 08:59] derrabus commented on #20580
@fabpot You said, you could reproduce the problem as well? Did you also use the php packages from Homebrew? The thing is, if I force Homebrew to build php 7.1 RC6 from source, the problem is gone as well. As soon as I reinstall their binaries, the segfault is back.

[2016-11-22 10:36] xabbuh commented on #20579
What should be possible is to detect the case of complex mappings and provide a more meaningful exception messages.

[2016-11-22 10:54] jakzal commented on #20445
As a result of #20513 [a docs issue was raised](https://github.com/symfony/symfony-docs/issues/7151) to clarify this behaviour in the documentation.

[2016-11-22 10:54] #20445 closed

[2016-11-22 11:26] nkirstein commented on #20423
@javiereguiluz True, but my point is that none of these options may be available or feasible. Please remember: I'm not speaking from a developer's perspective. I'm taking the perspective of someone who is running a website with, say, Contao 4 on a shared hosting webserver. (I'm using Contao 4 as an example because it actually uses the LockHandler). Let's say the webserver is running Apache and PHP

[2016-11-22 11:35] javiereguiluz commented on #20423
The solution I was thinking for your case was putting this in your `.htaccess` file:

[code]

You say that it doesn't work ... maybe that's an Apache config error?

[2016-11-22 12:39] nkirstein commented on #20423
Yes, that's really strange. It only works with that extra bit of PHP code. There is a discussion about this here: http://stackoverflow.com/questions/13186069/ but no clear evidence as to whether it's an Apache or a PHP issue.

Another solution would be to set `sys_temp_dir=/path` in the php.ini or `php_admin_value sys_temp_dir "/path"` in the Apache configuration. But that's not available in my sc

[2016-11-22 12:41] arthursp opened #20593 "Date Transformer Problem"
There is a problem on formating some dates in DateTimeToLocalizedStringTransformer.php with the php extension Intl, It depends on date.timezone specified ( Here for example Europe/Malta )

[code]

This return :

[code]

This is not linked directly to symfony, but the functionnality is used in symfony to transform date. So can we change the functionnality on next versions of symfony ?

[2016-11-22 13:06] raziel057 commented on #20593
Verified - Online test: https://3v4l.org/Ut0DM

[2016-11-22 13:25] twifty opened #20594 "[Process] timeout not triggered when using process as iterator"
As the title says, When using `Process::getIterator` execution hangs regardless of the timeout value. This doesn't happen when using a callback supplied to `Process::wait`.

Shouldn't the `getIterator` method internally call `checkTimeout`?

A workaround is to call `getIterator` with the `ITER_NON_BLOCKING` flag, and manually call `checkTimeout`.

[code]

[2016-11-22 14:07] Shoplifter commented on #20472
Here is the link to the above mentioned stackoverflow question:
http://stackoverflow.com/questions/38196679/impersonating-users-in-symfony-when-authenticating-with-a-guard

That is not meant to be reporting a security issue or bug, just asking, if there is an easy way to impersonate users when using Guard (and if so, may I suggest a cookbook article about it?) or if not some clarification about th

[2016-11-22 15:07] fabpot commented on #20580
Indeed, I installed PHP 7.1 via homebrew.

[2016-11-22 15:30] Wirone opened #20596 "[TwigBridge] AppVariable doesn't know HTTP host in forwarded requests"
I found this issue after migrating to Silex 2.0. I have app under VHost `http://custom.loc` and home route `/` which invokes `DefaultController::indexAction()`:

[code]

In Twig's default layout I have:

[code]

Which produces `APP.baseUrl = 'http://localhost'` ONLY in that forwarded route, everywhere else `APP.baseUrl` is generated properly. It produces errors when accessing some API/ajax resourc

[2016-11-22 15:33] Wirone commented on #20596
@fabpot I would like to make PR, but before that I would like to know what do you think about it - if it's something to fix, or it should be done on app's side (like example solutions above).

[2016-11-22 15:50] xabbuh commented on #19149
In fact there is no difference between a compiler pass and the extension class. Both only no that there is some kind of config provided by the user. The processed configuration isn't stored anywhere. Actually, it even is not a must to process the configuration at all (though there's limited use without it).

[2016-11-22 16:03] stof commented on #20596
This is because the new request is created without inheriting the current info for SERVER into, and is not using a full URL either (as you don't generate it as absolute).

So there is no issue in AppVariable. There is only an issue in the Request object you created (which is a localhost one). When forwarding requests to a different controller, Symfony takes care of building the request properly: h

[2016-11-22 16:09] stof commented on #19149
@jerryladoo ``getExtensionConfig`` returns you exactly the same config that the one you receive in your extension (except that the extension receives it as argument as the call to ``getExtensionConfig`` is done before calling the extension itself).

[2016-11-22 16:10] Wirone commented on #20596
@stof I am aware of that what you wrote, solutions above address it. Maybe issue name is misleading, I was thinking about extending `AppVariable` with something that would make accessing master request possible. It could be new proxy method `getMasterRequest()` or argument in `getRequest()` (with current request as default return value).

[2016-11-22 16:13] stof commented on #20596
IIRc, we explicitly rejected adding ``getMasterRequest`` in the past. In most cases, accessing the master request is a bad idea, because it breaks the encapsulation of the request handling.
The only use case we received for adding this method until now was the same one than the one you gave here: working around badly constructed sub requests. And the right solution for this is not to access the ma

[2016-11-22 16:16] Wirone commented on #20596
@stof OK, I understand.

PS. What about those exceptions? It does not correspond to Silex 2.0, should I submit it in `silex/silex`?

[2016-11-22 16:20] stof commented on #20596
@Wirone http://silex.sensiolabs.org/doc/master/cookbook/sub_requests.html gives the right info to build the subrequest without loosing important info from the master request (see the second code block)

[2016-11-22 16:36] Wirone commented on #20596
@stof yeah, I read it already and now I'm forwarding like this:

[code]

[2016-11-22 16:36] #20596 closed

[2016-11-22 17:01] gnat42 opened #20597 "[HttpFoundation] Google Data Saver Issue with X-Forwarded-For and Forwarded Header"
Hello,

  So recently we discovered an issue with one site we built when using android chrome with the data saver mode turned on. Basically data saver mode uses a google proxy. The main page would load, but all 'sub' pages returned a 404. Digging around we found an exception in the prod.log.

[2016-11-22 09:16:29] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\BadRequ

[2016-11-22 17:04] Oliboy50 commented on #20517
we'll try this within the next few days, and i'll give you feedbacks here

[2016-11-22 20:47] chalasr commented on #20594
Status: reviewed 👍

See #20600

[2016-11-22 22:20] jerryladoo commented on #19149
@stof, the fact is I am getting a different result between what `getExtensionConfig` returns and the one in `Extension`, one with default value attached, one doesn't.

[2016-11-22 22:23] xabbuh commented on #19149
@jerryladoo As said you are comparing the config that you passed to the process method. You need to compare the raw config passed to the Extension class with the value you can access in the compiler pass. There is no difference then.

[2016-11-22 23:29] jerryladoo commented on #19149
If I output `$configs` before `$config = $this->processConfiguration($configuration, $configs);`, I saw the same result as what `getExtensionConfig` returns in compilerPass. I understood this part(if this is what you guys kept saying as 'raw config'). And I took @xabbuh 's suggestion, set the config into `container` after `$config = $this->processConfiguration($configuration, $configs)` like so:
[

[2016-11-23 06:07] twifty commented on #20594
Wow, That was a quick fix

![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2016-11-23 10:07] wimleers commented on #20562
From a BC POV, this means that `Request::isMethodSafe()` was effectively renamed to `Request::isMethodCacheable()`.

Before #19321 + #20205:
[code]

After #19321 + #20205:
[code]

I'm +100 for following RFCs closely. It means shared understanding/expectations. It's super valuable. But it's not okay to do this after it's worked this way the entire Symfony 2.x cycle, and then change this just in som

[2016-11-23 10:10] wimleers commented on #20562
Everybody makes mistakes. Drupal 8 has had accidental BC breaks too. But we fixed them after they were reported.

I think this is nothing more and nothing less than an accidental BC break.

[2016-11-23 10:32] javiereguiluz commented on #20562
@wimleers thanks for reporting this issue and for the thorough explanation.

I'm asking you to please wait a bit before our maintainers review this issue. I'm afraid it's one for those tricky cases when it's hard to tell if this is a bug fix or a BC break (or both!). Thanks for your patience.

[2016-11-23 11:24] xabbuh commented on #20562
In my opinion, using `isMethodSafe()` to determine whether or not a request can be cached is actually a bug in Drupal. The fact that a HTTP method is safe simply means that the request will not trigger any modifications.

By the way, why didn't this break in Drupal before? I mean as far as I understand your problem, a HEAD request would have been led to a cache entry that doesn't contain the respo

[2016-11-23 11:26] dmaicher commented on #20562
@xabbuh :+1:

That's why we also fixed that in the Symfony HttpCache within https://github.com/symfony/symfony/pull/20205

[2016-11-23 11:32] xabbuh commented on #20597
@gnat42  Can you check if this is the same as #20215?

[2016-11-23 11:53] catch56 commented on #20562
@xabbuh Drupal's cache layer always stores the full response internally and handles HEAD requests when serving, so supporting both GET and HEAD is fine for us.

The issue here is not whether isMethodSafe() is correct for caching or not, it's whether the change should have been made in a patch release.

HttpCache having to be fixed due to the patch release change shows exactly why it should have be

[2016-11-23 12:03] xabbuh commented on #20562
I do not agree with that. Patch releases are exactly for these kind of things (i.e. fixing bugs). And a method that addresses a part of the RFC, but doesn't do it properly is a bug. Thus, it's behaviour was fixed do that the code actually reflects what the method claimed to do. I understand that this broke Drupal and I feel sorry for you about the inconvenience this is causing for you. However, wh

[2016-11-23 12:04] xabbuh commented on #20562
And the fact that we misused our own API does not mean that the fix was wrong. It just shows that we made the same mistake that Drupal did.

[2016-11-23 12:19] twifty commented on #19792
I've also just encountered this. In my case I have a process which can be called from both a console command and an internal method (indirectly called from build cache). I do believe `Process::setTty` should make an additional call to `php_sapi_name` or similar to check if actually being run from a terminal.

[2016-11-23 12:32] nicolas-grekas commented on #19792
Isn't this solved by https://github.com/symfony/symfony/pull/20576?

[2016-11-23 13:09] nicolas-grekas commented on #20562
My 2cts here: #20602

[2016-11-23 13:37] EmyJ opened #20604 "deprecation Absolute template path support"
hi,

I have a Deprecation, and I do not know where it comes from.

I followed this pull request #18034.

But I always the deprecation.

I was told that it was because I used "@Template()" in my controllers, I use them with parameters.

but if I delete "@Template", I have this error :

[code]

Thank you for your help

[2016-11-23 14:03] gnat42 commented on #20597
It sure is. Closing as duplicate of #20215

[2016-11-23 14:03] #20597 closed

[2016-11-23 14:15] stof commented on #20604
``@Template`` should not be using absolute path for templates, but template names. If it returns an absolute path, it is a bug in SensioFrameworkExtraBundle which should be reported there

[2016-11-23 14:47] EmyJ commented on #20604
How i can know, Whether it takes an absolute path or not for templates?

ps: It is not me who have written the code.

[2016-11-23 14:50] twifty commented on #19792
@nicolas-grekas That was pushed just 2 days ago, didn't update for at least 7. I'll give it a run now.

[2016-11-23 15:35] sh4ka commented on #19363
Hi @evillemez try this please and let me know if it helps:
$ sudo setfacl -R -m u:www-data:rwx -m u:`whoami`:rwx var/cache var/logs
$ sudo setfacl -dR -m u:www-data:rwx -m u:`whoami`:rwx var/cache var/logs
Good luck.

[2016-11-23 16:06] johndodev opened #20606 "[security] Class __PHP_Incomplete_Class has no unserializer"
Hello,

It is a pretty weird bug as always for this one.

I use silex, not symfony, but the problem is on the securityComponent, so not especially related to silex.

- The message is :

    Warning: Class __PHP_Incomplete_Class has no unserializer in /var/www/project/vendor/symfony/security/Core/Authentication/Token/AbstractToken.php on line 164

- The class it is talking about is *DoctrineProxies

[2016-11-23 17:45] kiler129 opened #20608 "[DI] Custom service definition classes are not supported"
Commit https://github.com/symfony/dependency-injection/commit/ec7e70fb2b1a8c6263528b5ffa1f065e510e4f88 by @nicolas-grekas introduced additional check, which from my understanding should prevent adding `DefinitionDecorator` services definitions. However the way this bug was fixed also breaks all implementations where `Definition` is extended by custom class. The example use case in my code is addin

[2016-11-23 17:51] stof commented on #20608
What is your use case for using a custom class ?

[2016-11-23 17:52] nicolas-grekas commented on #20608
Would you mind opening a PR so that we can have the discussion alongside
with the code?

[2016-11-23 17:52] stof commented on #20608
and btw, this does not prevent their usage when you compile the container. It prevents their usage only when you use the ContainerBuilder to instantiate the service

[2016-11-23 17:58] gnat42 commented on #20215
I can confirm that the google data saver mode proxy sends both headers. I dumped them via apache_get_headers() in the exception message they were:

The headers being sent were:
Array
(
[Host] => www.example.com
[Accept] => text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,/;q=0.8
[Accept-Encoding] => gzip, deflate, sdch
[Accept-Language] => en-US,en;q=0.8,fr-CA;q=0.6,fr;q=0.4,es;q=0

[2016-11-23 18:03] kiler129 commented on #20608
@nicolas-grekas: See https://github.com/symfony/symfony/pull/20609
@stof: I'm implanting DIC into very very very old system so custom service definition contains additional check for class passed to implement old logic used before refactoring code to use Symfony DIC. The additional thing which we do is assigning custom parameters to service which are later processed by custom compiler pass and rew

[2016-11-23 18:38] evillemez commented on #19363
@sh4ka "Operation not supported".

I think I actually figured out what the issue is, though.  At least partially.  I'm using `vagrant`, and unbeknown to me, the sync method for the filesystem was changed from `nfs` to whatever the default implementation is.

Previous attempts to change the ownership and permissions on files in the project directory would execute without error - but upon further in

[2016-11-23 20:11] ogizanagi commented on #20308
See https://github.com/symfony/symfony/pull/20611

[2016-11-23 20:52] xabbuh commented on #20604
@EmyJ Please show the full stack trace for the deprecation.

[2016-11-23 22:44] raziel057 commented on #20593
For information I also reported the issue on bug.php.net:
https://bugs.php.net/bug.php?id=73596

[2016-11-24 00:42] #20562 closed

[2016-11-24 01:10] #20594 closed

[2016-11-24 09:02] #20604 closed

[2016-11-24 09:14] thewilkybarkid opened #20615 "Untrusted host leads to a 500 response"
`Request::getHost()` throws a `UnexpectedValueException` if the host is invalid/untrusted. This is not caught, leading to a `FatalErrorException` and a `500 Internal Server Error` response.

This should be a `400 Bad Request` response instead (it's a client not a server error; the [description mentions deceptive request routing](https://tools.ietf.org/html/rfc7231#section-6.5.1)).

(For comparison

[2016-11-24 09:17] thewilkybarkid commented on #20615
I had a (_very_) quick stab at this. Turning a new exception type into a `BadRequestHttpException` is trivial, but I ran into the `RouterListener` triggering the host match failure _again_ on `kernel.finish_request`. I'll try and take a longer look at this soon, but any pointers would be appreciated.

[2016-11-24 09:34] johndodev commented on #20606
News:

I have a listener on KernelEvents::REQUEST which had a priority of 255 to load the currentCompany on the request attributes from the subdomain.

The bug disappear if I change the priority to 8 max. Since 8 is the priority of the firewall, I guess I shouldn't load a Company entity before firewall job (but I don't know why).

You can close the issue, I think I can handle the sides effects of

[2016-11-24 10:19] RenaudParis commented on #20568
I am only using Twig (not Symfony) and I have the same issue here when using macros.

[code]

The faulty line is:
[code]

This is not very kind to throw an exception for a deprecated feature. A mere notice is more suited.

I'm going to rollback to 1.27 because the exception throwing is not described in the changelog and there is no described alternative for macros.

[2016-11-24 10:26] stof commented on #20568
@RenaudParis can you provide us a reproducing test case ? Because macros are meant to work without triggering this deprecation (and they do in the testsuite)

[2016-11-24 10:33] RenaudParis commented on #20568
Hi @stof mmmh ok I'll try to create a minimalist template and copy/paste it here. FWIW my template is extending a layout, and the import is in the layout. brb.

[2016-11-24 10:35] stof commented on #20568
well, this is your issue then: you need to import macros in the template using them, not in the parent. (We have to improve the deprecation warning for this case)

[2016-11-24 10:38] #20608 closed

[2016-11-24 10:42] RenaudParis commented on #20568
It always worked. Why wouldn't it anymore? I don't see anything about that in the changelog.

Am I now also forbidden to create variables in the layout too? Because I'm making heavy use of this as well :)

In any case I rollbacked to 1.27 and I no longer plan on upgrading versions. Too risky. But I'd be glad to help you anyway!

Here are my test templates if necessary:

[code]

[code]

[code]

[2016-11-24 10:49] stof commented on #20568
@RenaudParis it was never *meant* to work. I worked only thanks to an implementation detail (we were not even aware it was working until we made a change breaking it and had to delay it until 2.0 instead).
Your `macros.heroic('toto')` call is not compiled as a macro call here, but as an attribute access to the template (which is slower than compiling it as a macro call btw). This works only thanks

[2016-11-24 10:57] iltar commented on #20606
The problem is that you're storing entities in your session: https://stovepipe.systems/post/decoupling-your-security-user

[2016-11-24 11:05] RenaudParis commented on #20568
@stof well then I'm glad that this "bug" existed until 1.28 :) because it allows me to import my macros only once in the layout and use them freely in any template extending this layout. Also I don't care about compilation speed because in production I am using cached templates obviously :)

In Template.php:222 (the line that you can see in my error log) I see this: "throw new Twig_Error_Runtime()

[2016-11-24 11:17] #20606 closed

[2016-11-24 11:23] stof commented on #20568
@RenaudParis I'm not talking about the compilation speed. I'm talking about the runtime speed of the compiled code (the compile code is not the same for a macro call or for an attribute access).

It is fine to turn notices into exception in an error handler (Symfony does it to in dev) as long as you take care to respect the error reporting level in the error handler, to avoid breaking the ``@`` op

[2016-11-24 11:29] RenaudParis commented on #20568
@stof isn't the `@` handled by php internally? I'll have a look at my error
handler to see if I can improve it somehow, but I have already been using
it for quite some time with no problem.

In any case, isn't `@` supposed to be a bad practice as a general rule?

Le jeu. 24 nov. 2016 12:23, Christophe Coevoet <notifications@github.com> a
écrit :

[2016-11-24 11:40] stof commented on #20568
@RenaudParis error handlers are still called for silenced errors (allowing to log them for instance). But ``error_reporting()`` would report ``0`` in the error handler for this case.
``@`` does not disable the error handler. It changes the error reporting level temporarily.

[2016-11-24 13:08] Romain commented on #13411
Hi,

Sorry to reopen this, but I'm using Symfony 2.8.13, and I face the same issue.
This error has been occurring for the previous versions of Symfony 2.8, and I can't manage to fix it.

Here is the exact error message:

It's a bit annoying to have an error occuring from time to time that I can't fix.
Does anyone have a clue of what could be done to stop this?

Thanks for your help.
Romain

[2016-11-24 13:10] Romain opened #20619 "Lock wait timeout exceeded occuring sporadically"
Hi,

Sorry to reopen an issue closed a year ago or so  (#13411), but I'm using Symfony 2.8.13, and I face the same issue.
This error has been occurring for the previous versions of Symfony 2.8, and I can't manage to fix it.

Here is the exact error message:

It's a bit annoying to have an error occuring from time to time that I can't fix.
Does anyone have a clue of what could be done to stop this?

[2016-11-24 13:43] miisieq commented on #20329
The` composer.json` property `symfony-web-dir` is used only for post-install and post-update script handling.

If you want to install assets in a specific target directory, the only option is to run the command with `target` parameter `php bin/console assets:install --target=public`.

[2016-11-24 15:42] javiereguiluz opened #20620 "Redesign the Symfony exception pages"
The design of the Symfony exception pages hasn't been updated in years. After the [Symfony Profiler redesign](http://symfony.com/blog/new-in-symfony-2-8-redesigned-profiler) introduced in Symfony 2.8, updating their design is more needed than ever.

I've created this issue to tell you that we've already started working on this and that we'll show the result in a few days, after the [SymfonyCon Ber

[2016-11-24 16:20] lyrixx commented on #20620
Please, re-introduce this [PR](https://github.com/symfony/symfony/pull/10729) ;)

[2016-11-24 16:47] noahheck commented on #19851
One thing that is different between your tests is that when running the console commands, you will be executing those as whichever user you are logged in as, while running your test from the browser will execute the `unlink` and `rmdir` instructions as the webserver user (www-data / apache). I wonder if you are simply having file system permissions issues.

I've experienced issues with the VBox sh

[2016-11-24 18:50] YaoOcelotl opened #20624 "Wrong property path for validation when using view transformer"
When you use a view transforme in an embedded form, child leaf forms have a property path '[name]' and the ViolationMapper can not mach the path.

[2016-11-24 20:00] ogizanagi commented on #19506
Should we close this one as 2 different PRs were rejected independently from the implementation?

[2016-11-24 20:10] stof commented on #19506
Yeah, closing this as we rejected the feature (see PRs for the explanations)

[2016-11-24 20:10] #19506 closed

[2016-11-25 00:14] Tobion commented on #20619
My proposed solutions in https://github.com/symfony/symfony/issues/13411#issuecomment-82453656 still apply. It's just not easy to do generically. When you use the default lock timeout of 50 seconds, it's highly unlikely it's actually affecting a real user. So you could exclude this exception from your logs.

[2016-11-25 08:16] sstok commented on #20593
It seems this is caused by the absence of timezone information prior to 1975
https://3v4l.org/j09RB

[2016-11-25 09:55] xabbuh commented on #19363
@evillemez You could override the `getCacheDir()` method in your application kernel and let Symfony write the cache outside of your shared folder.

[2016-11-25 10:21] ReenExe opened #20631 "Routing match api category tree"
It is possible merge 3 to 1 in native config&
[code]
Searched in:
https://github.com/symfony/symfony/blob/5129c4cf7e294b1a5ea30d6fec6e89b75396dcd2/src/Symfony/Component/Routing/Tests/Matcher/UrlMatcherTest.php#L241

[2016-11-25 10:51] mvrhov commented on #20568
@stof if this is true than this is very very bad BC break.
We also utilize this heavily as macros that are used in most templates are only imported in a top most parent. Importing 3-4 macros in each template it troublesome.

[2016-11-25 11:13] javiereguiluz commented on #20631
I don't fully understand the question: do you want to define just 1 route which is equivalent to the 3 routes that you showed?

[2016-11-25 11:45] stof commented on #20568
@mvrhov relying on macros being accessible as object attribute access forces to do several weird things in Twig, and prevents doing performance optimization for macros (it even created security issues in the past, requiring more weird things to fix the security issue without breaking BC for cases not being insecure).
What kind of macros are used in almost all your templates ?
Btw, you could look i

[2016-11-25 12:13] ReenExe commented on #20631
@javiereguiluz, ye

[2016-11-25 12:20] javiereguiluz opened #20633 "Rename framework.ide = symfony to framework.ide = browser"
In #19973 @jeremyFreeAgent introduced a cool option to open files in the browser itself instead of your IDE/editor. This is activated when `framework.ide` is no configured or when you set `framework.ide` to `symfony`.

Given that this option opens a file in a browser and given that this is used outside of Symfony (for example [in this Silex code](https://github.com/silexphp/Silex-WebProfiler/commi

[2016-11-25 12:57] mvrhov commented on #20568
Mostly form ones they are theme specific e.g semantic-ui, bootstrap...

[code]

[2016-11-25 13:01] Romain commented on #20619
Ok, thanks @Tobion.
So you think this error is only generated by robots?

[2016-11-25 13:56] RenaudParis commented on #20568
@stof as far as I'm concerned, I primarily/only use macros in emails. And
they are used in every email: tr/td creation with inline style, a-href
creation with inline style, buttons, you name it. I could use includes
instead, but I decided to use macros at the beginning because I found the
markup to be easier/lighter.

Le ven. 25 nov. 2016 14:51, Christophe Coevoet <notifications@github.com> a
écri

[2016-11-25 14:03] nicolas-grekas commented on #20633
open a PR, we'd better have the discussion on the actual code

[2016-11-25 14:20] javiereguiluz commented on #20633
@nicolas-grekas but the usual workflow is to propose an idea/change via an issue and if it's accepted, then create the PR.

Moreover, I looked into #19973 and I couldn't see where the `symfony` string is hardcoded. I don't know if it's a bug or I'm missing something.

[2016-11-25 14:30] nicolas-grekas commented on #20633
you're right! in fact, the description is outdated: the default is to open in the browser, see https://github.com/symfony/symfony-demo/pull/392/files

[2016-11-25 15:02] javiereguiluz opened #20635 "[RFC] Consider versioning the XSD files"
For those developers using XML config in their Symfony apps, don't you think we should start versioning the XSD files?

For example, in [this recent PR](https://github.com/symfony/symfony/pull/11394/files#diff-bf0f08e3953ad533af3316e3674f7a35) we changed a lot the contents of `routing-1.0.xsd`  ... but the file continued being the `1.0` version instead of bumping it to `1.1`.

Should we care about

[2016-11-25 15:06] jeremyFreeAgent commented on #20633
Yes that right @nicolas-grekas

[2016-11-25 15:09] sstok commented on #20635
It should yes, whenever the schema changes (removal of old options, like pattern/path in routing).
For the actual functioning of Symfony this is not really important as schema's are loaded locally (and never remote), but PHPStorm allows to fetch the XSD for code suggestions and validation.

[2016-11-25 15:13] javiereguiluz commented on #20633
I'm closing this issue then because the `symfony` option does not exist.

[2016-11-25 15:13] #20633 closed

[2016-11-25 15:22] Tobion commented on #20631
It's currently no possible because `{_format}` is required in your case. Optional, multiple parts only work at the end of the path.

So the following should work without the format and defaults for each variable:

[code]

Then you would only need one route. Your use-case would be covered with #5424

[2016-11-25 15:25] #20631 closed

[2016-11-25 15:54] ReenExe commented on #20631
@Tobion, thanks

[2016-11-25 16:20] jameshalsall commented on #19363
@xabbuh's recommendation is actually a good idea anyway on a shared filesystem. Symfony reads a lot from the cache directory so moving that to someone like `/tmp` which is native to the VM will give better performance.

[2016-11-25 18:30] ABM-Dan opened #20637 "Profiler link from redirect page is resetting the panel selection"
When you inspect a page that was reached through a redirect, you can see a line like
"302 Redirect from  POST @example_route (123def)", with the "123def" token being a link to that page inspection, but unlike other parts of the navigation (like the latest button), clicking on it brings you to the "Request / Response" tab instead of the tab you're currently looking at.

[2016-11-25 21:40] xabbuh commented on #20624
@YaoOcelotl Can you please fork the Symfony Standard Edition and make the needed changes to reproduce your issue?

[2016-11-25 21:45] xabbuh commented on #20570
Without some more detailed information it will unfortunately be hard to help you. Best would be if you could come up with a fork of the Symfony Standard Edition where you made the needed changes to reproduce your issue.

[2016-11-26 01:08] YaoOcelotl commented on #20624
Hello @xabbuh,

I have submitted a patch with the required test needed to check for this bug.

[2016-11-26 10:10] ro0NL opened #20643 "[RFC] How to deprecate ContainerBuilder::get before compilation, again?"
So, back at square one i guess :)

https://github.com/symfony/symfony/pull/20533 reverted the integrity check for accessing services, before the container builder is actually compiled. Making it real tricky, yet convenient. However, it is done for the right reasons, for now.

Where does that leave us? Will it be put back? And what is the alternative/right approach?

Imo. we all agree the check is

[2016-11-26 12:42] tkleinhakisa opened #20645 "[Security] Integration with form for login"
Hello,

I was wondering if it could be interesting to provide a intergration between the security and form components for the login part.
The security listeners for login work with the request object directly. It's easy to create a formType class and use it to display the form, but it will never be submitted.

I see two main benefits of using a formType for the login:
* templating: use the same ma

[2016-11-26 12:48] HeahDude commented on #20645
Hi @tkleinhakisa, you can see an attempt to do so in #https://github.com/symfony/symfony/pull/20426.

[2016-11-26 13:06] tkleinhakisa commented on #20645
Thanks @HeahDude , i've addressed my comments there, i think this issue can be closed.

[2016-11-26 15:19] iltar commented on #20643
This would be my choice. In 3 years time with Symfony 2 and up, I've done some spooky things, but I've never needed services at compile-time, there's always another way around it.

[2016-11-26 15:22] iltar commented on #20620
Big plus from my side, their design is a bit off now.

_Sneaky advert for the last few tickets for SymfonyCon?_ 😄

[2016-11-26 15:29] javiereguiluz commented on #20645
Closing as "duplicate" of #20426.

[2016-11-26 15:29] #20645 closed

[2016-11-26 16:03] ro0NL commented on #20643
Added an extra option (5), coming from an ongoing discussion in #20533

I tend to go with option 2 as well, however it could be cool to allow configuring those services somehow using a DI container.

For example it allows tagging compiler passes.. :scream: how cool is that?

[2016-11-26 22:43] nicolas-grekas commented on #20643
I'm :-1: for this deprecation. I don't now if we can find some bootstrapping procedure that could allow to safely get some early services to help building the next ones. But for now, I'm really fine with this sentence: "with great power, comes great responsibility".

[2016-11-27 08:45] tsifra commented on #20570
You're right. I've forgot to put detailed info on this.
symfony/symfony v2.8.14
symfony/swiftmailer-bundle v2.4.0
symfony/monolog-bundle 2.12.0
swiftmailer/swiftmailer v5.4.4
symfony/swiftmailer-bundle v2.4.0

One detail i also forgot to mention that i have to use dirty hack in swiftmailer code to allow usage of self signed certificate on server. Like described [here](http://stackoverflow.com/ques

[2016-11-27 10:08] ro0NL commented on #20643
To be honest, for the DI component i find it a no-brainer adding it.

The DI component does exactly that..., ie. i really think doing it in 2 steps makes sense. In theory we could initialize the actual container from the booting container (having a container as a service). Endless possibilities..

[2016-11-27 10:20] xabbuh commented on #20643
One idea I have in mind is making it possible to extract a subset from  the DI graph. That is ask the container builder for a definition and all its dependencies. This subset (sub-container) could be compiled independently from the passed container builder and the resulting container could then be used to call `get()` while leaving the initial container builder untouched. If we made that approach

[2016-11-27 10:25] iltar commented on #20643
I guess one way could be instead of extending the container, simply decorate it (once done). A few benefits I see here:
 - The incomplete state would never enter the actual container, thus consistent behavior between the first and second request of an application if the first is doing a build
 - What @xabbuh suggested could be a container builder only feature which doesn't even use the container

[2016-11-27 10:40] ro0NL commented on #20643
Imo. we should not rely on a container that is being / going to be build. Resolving dependencies, means it must be compiled, means we're done. Compiling a sub graph may still be an incomplete sub graph from the user pov.

[2016-11-27 10:51] HeahDude commented on #20643
Why not using a new constant of [`PassConfig`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Compiler/PassConfig.php#L30) to register passes that are run at last?

[2016-11-27 11:22] ged15 opened #20650 "Profiler router panel errors when no route params present"
Steps to reproduce:

[code]

The exception:
[code]

And the `ContextErrorException` points to `vendor/symfony/symfony/src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php:280`.

[2016-11-27 11:36] ro0NL commented on #20643
Added to the list. Could actually work :+1:

[2016-11-27 11:43] HeahDude commented on #20643
Those type of passes should be limited in the way they can modify the current state or another process of optimization should run (virtually two containers would be built).

[2016-11-27 11:46] wouterj commented on #20650
Thanks for the detailed reproduce steps! I can confirm this bug and submitted a fix in https://github.com/symfony/symfony/pull/20652

status: reviewed

[2016-11-27 11:55] #20650 closed

[2016-11-27 12:09] javiereguiluz commented on #20643
A while ago I had this problem in a bundle that used compiler passes (since then I replaced the compiler pass with a cache warmer and the problem disappeared). In any case, at that time, the proposal by @HeahDude is exactly what I needed: give me the chance to do things in the container after Symfony has finished all its work and just before the container is frozen.

[2016-11-27 12:22] ged15 commented on #20650
@wouterj wow, fantastic! Thanks for the amazing work!

[2016-11-27 12:36] javiereguiluz opened #20653 "[3.2 RC2] Profiler includes "ghost panels""
After upgrading the Symfony Demo to 3.2.0-RC2 (https://github.com/symfony/symfony-demo/pull/405) the Symfony profiler shows two "ghost panels":

![profiler-ghost-panels](https://cloud.githubusercontent.com/assets/73419/20648406/4ba1b74a-b4a6-11e6-9d82-d24b203ad451.gif)

The reason is that the HTML wrongly includes the panels for Ajax (we only show this in the debug toolbar) and Memory (we merged i

[2016-11-27 12:55] javiereguiluz opened #20654 "[Debug] Warning: Class __PHP_Incomplete_Class has no unserializer"
I'm not sure if this is a Symfony issue or something on my side ... but when upgrading to/from 3.2-RC2 and 3.1, I'm getting a lot of these errors:

[code]

[2016-11-27 12:58] wouterj commented on #20654
I think this happens quite often when upgrading versions. The cache files are not always backwards compatible.

The problem with `cache:clear` is that before clearing the cache, the cache is first used to boot the Symfony CLI. As cache is not BC, this will error. The only solution afaik is to clear the cache yourself using `rm -rf var/cache/`.

[2016-11-27 13:03] iltar commented on #20643
I think that pass might actually work out

[2016-11-27 13:27] GuilhemN commented on #20643
@HeahDude shouldn't using `PHP_MAX_INT` as priority be enough?

[2016-11-27 14:19] HeahDude commented on #20643
@GuilhemN the way I see it, it's not enough to determine internally if the pass is able to call `get` safely without triggering a deprecation notice or an exception.

[2016-11-27 14:39] GuilhemN commented on #20643
@HeahDude i get it, looks legit :)

To make it even safer, my proposal would be: when a service is fetched in an `uncompiled` container, everything related to the service should be "locked" (can't be updated anymore), that's near @xabbuh's proposal but more radical. `get` should only be called during the phase proposed by @HeahDude or other passes may try to update locked definitions, which would

[2016-11-27 14:54] adityarai opened #20655 "file not found ApcClassLoader.php in bootstrap.php.cache in hosting server"
[27-Nov-2016 19:29:05 Asia/Kolkata] PHP Warning:  require(/home/nadiarafl/public_html/var\..\vendor\symfony\symfony\src\Symfony\Component\ClassLoader\ApcClassLoader.php): failed to open stream: No such file or directory in /home/nadiarafl/public_html/var/bootstrap.php.cache on line 1780
[27-Nov-2016 19:29:05 Asia/Kolkata] PHP Warning:  require(/home/nadiarafl/public_html/var\..\vendor\symfony\symf

[2016-11-27 15:11] fabpot commented on #20654
@wouterj is right, nothing we can do on our side.

[2016-11-27 15:11] #20654 closed

[2016-11-27 15:17] #14105 closed

[2016-11-27 15:18] #10103 closed

[2016-11-27 15:21] nicolas-grekas opened #20656 "[DI] Support generating interface-bound proxies"
May it be useful to make the container able to generate interface-bound proxies?

I see 3 benefits to do so:
- hiding the concrete class to the consumer, to create a safeguard and enforce talking to its dependency only through the interface-defined contract;
- these kind of proxies could also be able to instantiate their concrete implementation lazily, in a much simpler way than the generic lazy-p

[2016-11-27 15:35] nicolas-grekas opened #20657 "[DI] Support getter-based dependency injection"
A concept well described in e.g. this thread:
http://www.theserverside.com/news/thread.tss?thread_id=26205

Basically, one could then be able override the `getConnection` method of such a class:
[code]

with a generated proxy (`$this->container` auto-injected by some to-be-defined mean):
[code]

in XML, this could defined with something like e.g.:
[code]

so that `$container->get('foo')` returns a

[2016-11-27 17:06] nicolas-grekas opened #20658 "[DI] Replace container injection by explicit service locators"
In some cases, there is no better way than injecting the container itself and use it as a service locator.
The issue then is that one can access *any* public service, thus it is almost impossible to track service dependencies for such code.

I'd like to propose a first class service locator concept, with mandatory and explicit dependencies declaration. Such code would have first to explicitly decl

[2016-11-27 19:27] BR0kEN- opened #20659 "[YAML] Parser does not handle empty lines before comment and document separator"
### Story

I was wanting get the information about using colors for languages from GitHub.

![BR0kEN-/cibox continuous integration toolbox](https://cloud.githubusercontent.com/assets/2760616/20651097/0491a824-b4e7-11e6-9b54-27ec510911a6.png)

Have found [public repository](https://github.com/github/linguist) where this information conveniently stores in single [YAML file](https://github.com/github

[2016-11-27 19:33] javiereguiluz commented on #20659
Instead of the empty line, I think the problem is what the error message says. In `Symfony\Component\Yaml\Parser.php` you can see the following:

[code]

So YAML files that define multiple documents are not supported. In this case the solution is simple because the file that you mentioned doesn't really have multiple documents. So you can safely do a `str_replace('---', '')` before processing the

[2016-11-27 19:36] BR0kEN- commented on #20659
Make sense, @javiereguiluz, I've thought about this. I've made a PR, take a look at changes there, please - they are allow to handle such cases.

[2016-11-28 05:00] xabbuh commented on #20656
To me this is sounds like a good idea. :+1:

[2016-11-28 05:17] xabbuh commented on #20655
It looks strange that your path contains backslashes while your filesystem seems to be UNIX-based. Did you warm up the cache on a Windows system?

[2016-11-28 05:50] patrick-mcdougle commented on #20578
Are you running a 32-bit or 64-bit version of PHP?

[2016-11-28 05:54] patrick-mcdougle commented on #20593
Might be helpful to include if this is 32-bit or 64-bit, in-case it's relevant. (1970 is the earliest representable date when using 32-bit timestamps)

[2016-11-28 05:57] patrick-mcdougle commented on #20619
Is it possible that people are opening multiple connections to your website at the same time (multiple tabs perhaps)? Are you preventing concurrent connections of the same session?

[2016-11-28 06:04] adityarai commented on #20655
I'm using windows in my local system and its working fine there. But in hosting server (LINUX) it shows error.

[2016-11-28 06:08] xabbuh commented on #20655
Where did you warm up the cache? On your local system or on the server?

[2016-11-28 06:09] adityarai commented on #20655
In my local system actually,. i have no option to clear cache in my shared hosting..

[2016-11-28 06:14] xabbuh commented on #20655
Does it work if you just remove the cache and let Symfony spin it up on the first request?

[2016-11-28 06:16] adityarai commented on #20655
you mean the cache  folder inside var?

[2016-11-28 06:26] xabbuh commented on #20655
@nicolas-grekas It looks like we are using `DIRECTORY_SEPARATOR` somewhere when storing class file paths in the bootstrap cache. Do you remember if that was done on purpose and we didn't normalise them using `/` intentionally?

[2016-11-28 07:57] raziel057 commented on #20593
@patrick-mcdougle I have the same issue with Ubuntu 16.10 64 bits.

[2016-11-28 08:46] Taluu commented on #20657
How about trying to check all abstract methods too, if we have a service on a abstract class ? We would of course have to define the abstract methods in the service declaration

[code]

And the proxy would be

[code]

for about the same service declaration you mentionned

[2016-11-28 08:50] nicolas-grekas commented on #20657
You should read the link I posted, you'll find exactly this example :) So yes, it will work by nature.

[2016-11-28 08:57] xabbuh commented on #20368
@pinkeen Can you check if #20664 solves your issue?

[2016-11-28 08:58] mvrhov opened #20665 "setting templating to false generates chain loader fo twig which makes no sense"
If one sets the templating to false, the code generated for twig.loader makes no sense. I've checked the 3.1 and 3.2, don't know for others.

[code]

[2016-11-28 09:46] MatTheCat opened #20667 "[HttpKernel] _route_params can be empty"
Looking at the web profiler in Silex I saw

under **Route Parameters**.

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/DataCollector/RequestDataCollector.php#L280

The matching route didn't have any parameter.

Don't know why https://github.com/symfony/symfony/commit/2e404d07021d4c01f9ca831a7bb222efc15bed70 introduced this.

Dumping `$data->getRawData()` shows
[co

[2016-11-28 09:56] javiereguiluz commented on #20667
@MatTheCat thanks for reporting this issue. I think this is a duplicate of #20650 which was fixed yesterday by #20652.  I'm closing this as "fixed", but if you still have problems, please reopen it. Thanks!

[2016-11-28 09:56] #20667 closed

[2016-11-28 10:03] MatTheCat commented on #20667
Woops I searched for `HttpKernel` and `RequestDataCollector` but found nothing, sorry for the noise.

[2016-11-28 10:42] nicolas-grekas opened #20668 "Consider deprecating ClassCollectionLoader & co."
Calling for feedback + experiment from the community on this topic:

on a Symfony standard edition, prod env, no-debug, PHP 7, composer -o (ie normal setup for prod),
if I comment the line requiring `bootstrap.php.cache` and the call to `$kernel->loadClassCache();` in `web/app.php`, it looks like my setup is *not* slowed down, if not a bit faster.
I used `ab` for benching.

That could mean we don'

[2016-11-28 10:51] mvrhov commented on #20658
You mean this: https://github.com/liip/LiipContainerWrapperBundle ?

[2016-11-28 11:06] nicolas-grekas commented on #20658
@mvrhov not far from this! Except that I'd move the configuration responsibility to the user land side, adding a dedicated interface to do that (return the list of required services, and optionally their type so that autowiring could use that info to do its job).

[2016-11-28 11:10] stof commented on #20658
@nicolas-grekas the service container should still be injectable in these service locators services. Otherwise, it breaks the main use case for injecting the container: keeping the instantiation lazy until this service is retrieved from the service locator.
You don't want to instantiate all your controllers and all their dependencies just to instantiate the controller resolver for instance, as eac

[2016-11-28 11:13] nicolas-grekas commented on #20658
As I see these service locators, they should just call $container->get internally, after checking if the service name is allowed. This mean lazy instantiation would work out of the box the same as today.

[2016-11-28 11:18] javiereguiluz commented on #20658
I'm not sure about the need for this feature:

1) If you inject `service_container` in your own service, it's probably because of some rare edge-case or because you have lots and lots of dependencies (this is probably an architecture error in your app that you'll fix when you have time for that).
2) If Symfony forces you to inject `service_container` somewhere (I'm not sure we have that case), the

[2016-11-28 11:22] stof commented on #20658
@javiereguiluz the third case being the case of service locators wanting lazyness (event dispatcher and controller resolver are such cases in the core, but the core is not special for this and other parts may have similar needs)

[2016-11-28 11:30] javiereguiluz opened #20669 "Don't trim strings in the VarDumper dumps of the profiler"
Although I **love** the use of VarDumper in the 3.2 RC2 profiler, we should tweak it a bit to hurt its DX. Specifically, we should never trim strings:

![trimmed-strings-1](https://cloud.githubusercontent.com/assets/73419/20666755/1a549890-b566-11e6-89e5-d7cd60c30813.png)

![trimmed-strings-2](https://cloud.githubusercontent.com/assets/73419/20666757/1c584a06-b566-11e6-800b-076d72a5fa1e.png)

Afte

[2016-11-28 11:36] tyx opened #20670 "[Serializer] Wrong deserialization with object as constructor parameter"
Hello,

I start with a bug before a PR because I have no time for now and it looks very weird.

In the latest RC this line looks very weird : https://github.com/symfony/symfony/blob/v3.2.0-RC2/src/Symfony/Component/Serializer/Normalizer/AbstractNormalizer.php#L340

I don't get how it could work (and it definitively do not work in my app).

We should run a `denormalize` operation instead of  `deser

[2016-11-28 12:03] tyx commented on #20670
I get it in tests : https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Serializer/Tests/Fixtures/DenormalizerDecoratorSerializer.php#L39

Yes we replace deserialization by denormalization so I get why test are green. Do we do the same kind of "hack" in our serializer construction ?

Here is mine for now
[code]

[2016-11-28 12:11] tyx commented on #20670
Here is a gist to reproduce the problem https://gist.github.com/tyx/ed50f6e525494909249b571c76360c36

[2016-11-28 13:17] PeterFour commented on #20572
I'm having sor of the same issue. The profiler directory always stays empty, and cause the WDT to crash with the alert. Everything is set in term of permissions, but it only affect one of my symfony project.

[2016-11-28 13:39] Romain commented on #20619
@patrick-mcdougle, yes it's possible to open the website in multiple tabs while being connected to it, even though I don't see why they would to it. Could this be a problem?
I don't have a specific system for preventing concurrent connections of the same session. What do you recommend?
Thanks for your help.
Romain

[2016-11-28 14:13] alcaeus commented on #20580
@derrabus if the problem only occurs when downloading binaries from homebrew-php, this could be fixed by recompiling the bottles. You could create a ticket at [homebrew/homebrew-php](https://github.com/homebrew/homebrew-php) for this.

[2016-11-28 14:26] kubawerlos opened #20672 "Suspicious HTTP redirect with redirectToRoute and DELETE method"
I have request call with DELETE method and try to redirect to action with GET and getting this problem:

Having controller:
[code]

For request
[code]

I'm getting:
[code]

Is that suppose to happen? If so, why?

[2016-11-28 14:35] stof commented on #20672
which kind of client is doing the request ? Is it a browser or another tool ? And which one ?

[2016-11-28 14:41] kubawerlos commented on #20672
It's Postman

[2016-11-28 14:42] garak opened #20673 "DoctrineDataCollector does not output objects in queries"
The method [`sanitizeParam`](https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Doctrine/DataCollector/DoctrineDataCollector.php#L159) in DoctrineDataCollector is currently returning the name of the class for objects. It would be nice if it would return a string representation of that object, e.g. replacing `sprintf('Object(%s)', get_class($var))` with `(string) $var`.

The followin

[2016-11-28 14:55] stof commented on #20672
I suspect that postman implements 302 redirects as described in the initial HTTP spec (keeping the original method) rather than as being implemented by all browsers out there (i.e. changing the method to GET).
The HTTP spec recognized that the Internet relies on the existing browser behavior since a long time, and standardized 307 as being a redirection keeping the same method.

I suggest you to o

[2016-11-28 15:22] patrick-mcdougle commented on #20593
@raziel057 even if the OS is 64bit, PHP might still be 32-bit. Can you run a `phpinfo()` to check?

[2016-11-28 15:35] patrick-mcdougle commented on #20619
@Romain Try opening like 10-20 tabs to computationally expensive controllers that write to the session. A simple controller that would suffice would do the following:

1. Write to session
2. Sleep for 10 seconds
3. Send response

[2016-11-28 16:21] stof commented on #20668
Yeah, the composer optimized autoloader kinds of defeat this, as it does not need any stat call to identify the file to be loaded.
And then, OPCache takes care of the loading of the file itself.

I'm all 👍 for deprecating this.

The question then is whether we should really ship the new ``addAnnotatedClassesToCompile`` in 3.2 if we want to deprecate the whole system in 3.3

[2016-11-28 16:30] javiereguiluz commented on #20668
Even if we don't use it much, I'd say it's too late to remove `addAnnotatedClassesToCompile()` for 3.2 (which is due in just a few days).

[2016-11-28 16:39] flip111 commented on #20643
@xabbuh this is in another wording what i was trying to discuss in https://github.com/symfony/symfony/pull/20533#issuecomment-261987053 . I think stof and OP misunderstood it somewhat because `(5) Detect which services are safe` sounds very sophisticated, it was more meant as `define which compiler pass does what` to `making it possible to extract a subset from the DI graph`.

[2016-11-28 16:48] flip111 commented on #20579
@BourotBenjamin possibly it should be possible to make a wrapper around the pecl extension which implements the interface needed by symfony. Then you could replace the yaml class yourself.

[2016-11-28 16:57] BourotBenjamin commented on #20579
As my problem was created by an external service ( OneSky ) that exports complex yml event when you don't need complex keys, and I used a bundle to import and export files ( OpenClassrooms/OneSkyBundle ), I thought the best idea was to handle the problem in this bundle.

So I made a pull request to asks to install pecl_yaml with this bundle and made it laod the file by the pelc_yaml loader but exp

[2016-11-28 17:00] stof commented on #20643
@GuilhemN freezing definitions would not solve the issue that you can get weird failures when getting a service which is not ready yet.
And this could make things hard as getting a service early might freeze lots of services, preventing optimizing the container or even resolving them (what if you freeze a service before applying the service decoration on it ?). It opens the door for badly-written

[2016-11-28 17:12] Romain commented on #20619
Thanks @patrick-mcdougle,
The first 8 tabs loaded properly, then 2 tabs displayed the following:

Then the remaining 10 tabs acted like if I've been logged out and redirected me to the home page.
Thanks for your help.

[2016-11-28 17:25] GuilhemN commented on #20643
@stof that's why freezing services should only be done after symfony's work.
If a service isn't ready yet when getting it, you'll either have an exception thrown by it (might be a weird failure i agree but i don't think we can do something about that even with other solutions) or thrown by a pass triing to update it later: so a container based on a service that was fetched while not ready won't co

[2016-11-28 17:35] stof commented on #20643
@GuilhemN but most compiler passes run before Symfony's work, as adding new dependencies in the graph must be done before optimizing the graph (otherwise, optimizations would break things).
In most projects, the Symfony compiler passes are the last ones to run.

[2016-11-28 17:38] ro0NL commented on #20643
Not sure, how i see @HeahDude's approach;

[code]

[2016-11-28 17:52] stof commented on #20643
@javiereguiluz many compiler passes I saw getting services are using them to configure other services, and so they cannot run after Symfony's work.

If you want to run after everything was done in the container compilation, this indeed looks like a use case for a cache warmer rather than a compiler pass.

[2016-11-28 18:03] GuilhemN commented on #20643
@stof that's a fair point.
We could optimize parts of the container before freezing them to allow using `get` before Symfony's work but I don't think that's doable without modifying the concept of optimization passes... let's see if other proposals are simpler to implement :)

[2016-11-28 18:04] dmaicher commented on #20668
I just tested it on one of my bigger projects (so not on a Symfony Standard Edition).

I used `composer install --optimize-autoloader --classmap-authoritative --no-dev` and `ab -n 5000 -c 1` on `PHP 7.0.13` with the following (dev) opcache settings:

[code]

First 3 runs without any changes:

1. Time per request:       36.808 [ms] (mean)
2. Time per request:       36.782 [ms] (mean)
3. Time per re

[2016-11-28 19:53] nicolas-grekas commented on #20655
@adityarai can you please try #20676?

[2016-11-28 21:13] theofidry commented on #20658
Like @javiereguiluz, I'm not sure this should be added to the core, but maybe it's something that could be pushed into third-party bundle ([LiipContainerWrapperBundle](https://github.com/liip/LiipContainerWrapperBundle)?) and promoted in the doc rather.

[2016-11-28 21:31] chalasr commented on #20669
Indeed. Commenting out [this line](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/VarDumper/Caster/ClassStub.php#L32) fixes it, but not sure about how it could be for the profiler only :/

[2016-11-28 21:34] nicolas-grekas commented on #20658
@javiereguiluz this is also targeting all classes that use `ContainerAwareTrait`. To me this has two major drawbacks:
- too broad access to existing services;
- no prior knowledge about which services are actually used, which makes it impossible to to verify/match the actually existing services and the actually used one in such code.

The goal of this RFC is to fix these two issues with their exac

[2016-11-28 21:36] nicolas-grekas commented on #20658
Note also that if everything goes well with #20657, it *might* very well have the potential to remove the need for any container injection. Which means we should first work on #20657 then revisit this one.

[2016-11-28 21:46] nicolas-grekas commented on #20669
These are CSS ellipses indeed, and personally I find it more convenient to have them than having long lines that spans on several lines and make it hard to read the important info, which is the class name, not its namespace...

[2016-11-28 21:53] wouterj commented on #20669
Can we maybe readd the previous behaviour of class names in the profiler? (showing only the class name, with the FQCN as title)

[2016-11-28 22:20] nicolas-grekas commented on #20669
Note that the fqcn is still the title, and that it is also copy-pasteable.

[2016-11-29 05:28] adityarai commented on #20655
Yes, Its working fine now,... thank you,..

[2016-11-29 06:56] nicolas-grekas commented on #20657
I just realized that getter-injection would have another big benefit: immutability! (if no corresponding setter exists of course)

[2016-11-29 07:54] martixy opened #20678 "[Twig] form_theme _self removes global variables"
It is basically issue #5284 to the letter.

On two seperate projects, these last couple of months, I've encountered this problem.

It's still alive and well.
The workaround is to put the template in a separate file. But this prevents the use of `{{ parent() }}` forcing me to copy-paste code.

Symfony version is 3.0.something up to the current 3.1.7.

[2016-11-29 07:58] iltar commented on #20668
If it will be deprecated, I will remove the class load features for the kernel in #20107

[2016-11-29 08:08] #20653 closed

[2016-11-29 08:14] #14639 closed

[2016-11-29 08:16] #20655 closed

[2016-11-29 08:33] karousn commented on #13417
when i dump the form in the block date_widget i got my global form object instead of my date form

ps : no feedback until now (for a 12 days ago )!

[2016-11-29 08:41] Belgacem-TLILI commented on #20578
@patrick-mcdougle: PHP Version 5.6.23  64-bit

[2016-11-29 08:43] stof commented on #20643
@GuilhemN we simply cannot optimize the container earlier, as optimization relies on knowing the dependency graph to identify things which can be inlined or removed.
Once optimization passes are done, the only change you can do safely is removing stuff. If you add anything (adding an argument to a service, adding a new service referencing another service, etc...) is likely to break if the referenc

[2016-11-29 09:18] nicolas-grekas commented on #20669
What about changing the color of the namespace instead?
E.g. using the "default" color on dumps:

![capture du 2016-11-29 10-16-29](https://cloud.githubusercontent.com/assets/243674/20703737/1ea37bf2-b61d-11e6-96b8-9767d9589ef9.png)

[2016-11-29 09:25] javiereguiluz commented on #20669
When redesigning the profiler for Symfony 2.8 I also thought about displaying some information in a compact way (e.g. the logger panel). However, I think this is wrong.

The profiler is where you go when something is wrong, so you need all information at once. We don't need to make information compact and it doesn't matter if a log line spans 4 or 5 rows. Of course we can apply "intelligent design

[2016-11-29 10:08] xabbuh commented on #13417
@karousn We are all doing Symfony stuff in our spare time. So please be patience when asking for help. Added to this, I suggest that you open a new issue instead of commenting on one that was already resolved. You should then also provide some more details about how to reproduce your issue. The best is to fork the Symfony Standard Edition and make the minimum set of changes that are necessary to r

[2016-11-29 11:13] pamil commented on #20656
I'd love to see it 👍

Btw. shouldn't `<argument type="service" proxy="Ns\FooInterface">foo</argument>` be `<argument type="service" proxy="Ns\FooInterface" id="foo" />`?

[2016-11-29 11:24] stof commented on #20656
This should not be in the argument configuration, as this would mean that injecting the same service in 2 different places would inject different objects (depending on whether they are proxied or no), which can creates nasty behaviors (as the DIC currently enforces that getting a shared service always return the same instance).

Regarding the implementation, I'm not sure we should get rid of Proxy

[2016-11-29 11:28] pinkeen commented on #20368
Sorry for the late response. Yes, it solves the issue (2nd test passes). The first test still fails although as you noticed I use empty key (without constraints) which is unsupported.

[2016-11-29 11:30] xabbuh commented on #20368
Thank you very much for the confirmation @pinkeen!

[2016-11-29 11:37] pamil commented on #20656
@stof totally agreed, on both points made.

[2016-11-29 11:40] pinkeen commented on #20368
I realized I have pulled wrong version of the validator component. Retested the proper version. Both tests pass, even with the key without constraints. Tried few other variations - changing order, changing the validators - all green! Thank you for the fix!

[2016-11-29 12:54] arthursp commented on #20593
@patrick-mcdougle If the problem was coming from there, we should also have the problem for any other date before 1970 right ?

[2016-11-29 12:56] fbourigault commented on #20668
Same results here. `Time per request:       10.540 [ms] (mean)` => `Time per request:       9.437 [ms] (mean)` on a Symfony/API Platform/Sonata application.

[2016-11-29 13:13] raziel057 commented on #20593
@patrick-mcdougle Please find here my PHP version:
[code]
This is the PHP of the official Ubuntu repository.

From phpinfo I don't have more precision on the php build. I just have:
[code]

[2016-11-29 13:21] raziel057 commented on #20593
php -r 'echo (strlen(decbin(~0)) == 64 ? "64bit" : "32bit")."\n";'
64bit

[2016-11-29 13:28] stof commented on #20668
Then deprecating looks sensible to me.

[2016-11-29 14:20] magnusnordlander opened #20682 "Router does not handle env var parameters."
Since #19681 was merged there is a kind of regression in routing configuration. In the routing config files, parameters on the form `%env(FOO)%` are interpreted like regular old parameters, rather than environment parameters (i.e. they always use the value set in e.g. parameters.yml). This is confusing for users.

Ideally we'd want to fix this so that env var parameters work here too, but seeing a

[2016-11-29 14:38] stof commented on #20682
We should forbid it.

Adding support for env vars there would be very hard, because most of these places are used at time of dumping the matcher (embedding them into bigger regexes), and cannot be changed at runtime (the scheme is probably the only case where it could be possible).

[2016-11-29 15:18] GeoffreyHervet opened #20683 "Annotation + Group use declarations - PHP7"
Hello,

got the following bug in symfony 3.1.5:
[code]

The error is: `[Semantical Error] The annotation "@ParamConverter" in class CategoryController was never imported.`

When I dont use the use group feature of PHP, it works.

Best,
Geoffrey

[2016-11-29 15:21] stof commented on #20683
This must be reported to https://github.com/doctrine/annotations which is the library implementing support for annotations

[2016-11-29 15:21] #20683 closed

[2016-11-29 15:43] javiereguiluz opened #20684 "Improve %env()% parameters in debug:config output"
## Problem

When using runtime env variables for config:

[code]

The output of `debug:config` looks like this:

[code]

Although the output is technically precise, it looks weird and even like an error.

## Solution

Could we keep the original value of those parameters? (Maybe displaying their default values too)

[code]

[2016-11-29 16:18] ahungry opened #20685 "PSR-6 cache issue with RecursiveContextualValidator.php"
In the RecursiveContextualValidator.php file, it makes the class metadata map, with propertyName as a key for the caching.

This has a bad bug when a key (property name) is re-used between nested class instances, such that the value of the key is included in the cache name - however, if multiple entities / nested object instances have the same key/value pairs, this causes a collision and gives an

[2016-11-29 16:35] jul6art opened #20686 "how to add a xml node to a symfony Crawler()"
I need to manage xml documents in symfony.

I've got no problem to get the xml into a Crawler() instance, modify existing node and after it, put the xml into a file.

But i can't add new node.

When i try to add a new node with appendChild method to the parent, i've got:

And when i try the add method to the crawler, i've got:

What can i do to add a simple node to an existing crawler?

Thanks for

[2016-11-29 16:39] javiereguiluz commented on #20686
@jul6art I'm really sorry but I need to close your issue. The reason is that in the GitHub repository we only discuss about reported Symfony bugs and proposed new features.

For this kind of questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

[2016-11-29 16:39] #20686 closed

[2016-11-29 16:45] stof commented on #20686
the Crawler component is not about modifying the underlying DOM document

[2016-11-29 16:56] ahungry commented on #20685
I think this is primarily an issue when `@Assert\Valid` is used on non-object properties (or mixed case ones that could be a non-object or an object).

This is a minimum testing file to illustrate the exception thrown (the test used here will not pass):

[code]

With the change I posted in the initial post, this test will pass fine without an error.

The test also passes on sub 3.1.5 versions (3.0

[2016-11-29 16:58] ahungry commented on #20685
Also - in actual program usage, with debug set to true in the second AppKernel parameter, this does not result in an exception being thrown, but without (debug set to false) it does, which seems odd.

[2016-11-29 17:10] nicolas-grekas commented on #20682
See #20687

[2016-11-29 17:37] nicolas-grekas commented on #20684
See #20688 for the unresolved part.
If someone wants to give it a try, displaying could be done using a combination of `$container->resolveEnvPlaceholders()`' `$usedEnvs` arg + `$parameterBag->all()` to get the default values.

[2016-11-29 17:52] nicolas-grekas commented on #20685
ping @dunglas I guess

[2016-11-29 20:06] ogizanagi commented on #20670
Hi @tyx. Thanks for reporting the issue and providing the code to reproduce it. See https://github.com/symfony/symfony/pull/20690 for a possible fix.

Anyway, the bug is confirmed to me.

Status: Reviewed

[2016-11-29 20:24] nicolas-grekas commented on #20684
I don't know if the Yaml dumper supports dumping comments as in the suggested excerpt.
I think it'd be much easier to dump the parameter section with default values for all env params that have one.
Btw, we don't display the value of other params, so why doing so for env params?

[2016-11-29 20:29] ogizanagi commented on #20669
Does https://github.com/symfony/symfony/issues/20679 closes this one or is there anything else to do?

[2016-11-29 20:35] nicolas-grekas commented on #20669
Done

[2016-11-29 20:35] #20669 closed

[2016-11-29 20:51] chalasr commented on #20684
@nicolas-grekas `debug:config` actually dumps the config with resolved values for non-env parameters, not their placeholders. But maybe I misunderstand

[2016-11-29 21:26] theofidry commented on #20656
@nicolas-grekas sorry I couldn't check properly the issue, I've got a few question regarding it but it might be better to ask in person at the SfCon ;)

[2016-11-29 21:35] jul6art commented on #20686
Thank you for your response :-)

Le 29/11/2016 à 17:45, Christophe Coevoet a écrit :

[2016-11-29 22:55] jeffclemens opened #20692 "UniqueEntity constraint does not prevent UniqueConstraintViolationException"
The [UniqueEntity documentation](https://symfony.com/doc/3.1/reference/constraints/UniqueEntity.html) states:

In a single-user application, it does that just fine (when combined with the [Handling Forms Submissions](http://symfony.com/doc/3.1/forms.html#handling-form-submissions) example).  In a concurrent user environment, I think this statement is misleading.

The issue is that a particular ema

[2016-11-30 07:15] #20682 closed

[2016-11-30 08:20] iltar commented on #20692
I think adding the warning to the docs would be the best solution. There will _always_ be a racing condition. What I personally would do in cases like this, is catching the exception and adding a form error on the field in question. _Note that this closes your entity manager._ Luckily you usually don't really have to use that entity manager because it's either re-rendering the the data you already

[2016-11-30 09:17] yakobe commented on #18874
Can someone have a look into this issue? It's still causing problems for us and making us do some horrible hacks to get around it 😞 .

[2016-11-30 09:19] yakobe commented on #18874
We would be happy to take a look at fixing it if we know that the solution will be considered. Even if it is just a way to cleanly override the default functionality.

[2016-11-30 09:42] barryvdh commented on #10240
Isn't it an option to add a `widget` option for the NumberType (similar to DateType), with a default of `text`, but add an option for `number`. That could be without BC breaks, right?

[2016-11-30 12:06] chalasr opened #20696 "Env parameters are not resolved using debug:container"
Checking out the demo on 3.2 and running `debug:container --parameter "env(DATABASE_URL)"` gives the following:

![](http://image.prntscr.com/image/db6005dcac8c43dcb361d13f5cafacf2.png)

Running `debug:config --parameters` works but display the default value of the parameter, which is not enough imho.

I hope #20618 helps to display the actual value of env parameters in both `debug:container` and

[2016-11-30 12:10] #20672 closed

[2016-11-30 14:19] Padam87 opened #20698 "Exception after 3.2 upgrade"
Hi,

It seems there is a problem with form serialization in 3.2.

[code]

Disabling the profiler or downgrading to `"symfony/form": "3.1.*"` "fixes" the problem.

https://gist.github.com/Padam87/dfbfd4a63064b0ac45068ad06bcc4876

[2016-11-30 14:51] msarris commented on #9128
I worked around this issue by extending the BinaryFileResponse class as follows:

[code]

[2016-11-30 16:41] Saint-Cyr opened #20703 "ParseError: Invalid numeric literal"
When using Symfony 3.1.2 to 3.1.7 + PHP 7.0.8 and simply write the line of code in a controller :

[code]

generate the following error: Notice also that even the condition if(09 == 09) generate the same error

<details>
    <summary>Parse error: Invalid numeric literal  (click to see details)</summary>

Stack Trace (Plain Text)
[1] Symfony\Component\Debug\Exception\FatalThrowableError: Parse erro

[2016-11-30 17:25] theofidry commented on #20656
I think proxy generation, interface bound or not, are far from trivial so I would prefer to keep everything in ProxyManager instead. This IMO is a missing feature from ProxyManager, not Symfony itself (although Symfony will need to change a bit its integration for this new feature).

Regarding where to enable it, I'm more tempted by the second approach for several reasons:

- I find it more flexib

[2016-11-30 18:37] ogizanagi commented on #20237
Confirmed and patch applied in https://github.com/symfony/symfony/pull/20704.

Status: Reviewed

[2016-11-30 19:44] ogizanagi commented on #20698
@Padam87 : Could you fork the standard edition with the minimum changes to reproduce this issue?

[2016-11-30 19:54] unkind commented on #20703
It is not related to Symfony at all.

[2016-11-30 19:54] Padam87 commented on #20698
I will try, but the project I updated has a lot of dependencies, I was hoping someone else has ran into this.

[2016-11-30 20:29] lauradean opened #20706 "YAML DUMP_MULTI_LINE_LITERAL_BLOCK question, possible bug"
In outputting an array to YAML, my multi-line strings were not being output as literals, but I found that if I changed the line in Dumper.php from

[code]

to

[code]

then it works perfectly.

Is there a reason for checking for `$inline > 1`?

[2016-11-30 22:08] Padam87 commented on #20698
After some digging I found out that I only get these errors on forms rendered in a subrquest.

Submitted a PR which fixes the problem, but IDK if it is the preferred way to solve this.

[2016-12-01 00:57] Tobion commented on #20703
Plain PHP 7 change. `08` was interpretated as `0` before PHP 7.

[2016-12-01 00:57] #20703 closed

[2016-12-01 02:13] sc0rp10 opened #20709 "[YAML] Cannot parse ::class constant"
Following YML produced error `The constant "DateTime::class" is not defined`
[code]

[2016-12-01 08:42] ogizanagi commented on #20709
This is explained by the fact `::class` is not a real constant, but a php keyword triggering a compilation time transformation: http://php.net/manual/en/language.oop5.basic.php#language.oop5.basic.class.class

We could surely add the `::class` support in the parser, but I wonder how relevant it'll be, considering you'll have to type the entire FQCN in the yaml file anyway?

i.e:

[code]

vs

[code

[2016-12-01 09:04] sc0rp10 commented on #20709
@ogizanagi I think variant with '::class' better: unknown class will not pass and threw compilation error.

[2016-12-01 09:14] ogizanagi commented on #20709
That's [a wrong assumption](http://php.net/manual/en/language.oop5.basic.php#language.oop5.basic.class.class) unfortunately 😅  (unless we add a check ourself):

The class name resolution using ::class is a compile time transformation. That means at the time the class name string is created no autoloading has happened yet. As a consequence, class names are expanded even if the class does not exist.

[2016-12-01 09:22] xabbuh commented on #20709
I am :-1: on changing anything here. As @ogizanagi explained you need to specify the FQCN anyway. So using the `class` constant simply is more inconvenient than just typing the class name.

[2016-12-01 09:25] Oliboy50 commented on #20517
@nicolas-grekas `3.1.7` does not fix this issues

But I have more information about this:

- This only occurs during deployments on multiple servers
- This can occur multiple times during a single deployment (the most we've seen is 3 errors during a deployment on 15 servers... each error thrown by a different server... errors occured in a time period of less than 100ms).
- This is probably due to

[2016-12-01 09:31] xabbuh commented on #20706
@lauradean Thank you for reporting this issue. Can you please also show us the code you used to dump as well as the array to be dumped?

[2016-12-01 09:35] kix commented on #20468
A hacky solution, but looks like it should work: you can wrap the `\Doctrine\DBAL\Connection` with a decorator that would get the `debug_backtrace()`, process it somehow and find the topmost caller that implements `\Doctrine\Common\Persistence\ObjectRepository`.

[2016-12-01 11:00] czigor opened #20711 "CssSelector does not handle more complicated :not() pseudo-elements"
CssSelector fails with this selector:

[code]

with an exception

[code]

The issue is that selectors with a space inside the `:not()` seem to be unsupported.

[2016-12-01 11:01] czigor commented on #20711
Oh, that's the whole code I'm using:
[code]

[2016-12-01 11:01] ogizanagi commented on #20665
https://github.com/symfony/symfony/pull/20712 should solve this.

Status: Reviewed

[2016-12-01 13:18] Shoplifter commented on #20472
Sorry, turned out that impersonation didnt work for a totally different reason. I just had to make the token shared between firewalls (using the `context` property of each firewall) to make it work.

[2016-12-01 13:18] #20472 closed

[2016-12-01 14:36] chalasr commented on #20684
@nicolas-grekas In fact, we are rights together: they are only half resolved
See #20714

[2016-12-01 15:05] nicolas-grekas commented on #20684
So, in #20704, I fix the buggy part, yet env vars are not replaced by their actual values for now.
To me, resolving the values, being for remaining unresolved regular params or env vars should be discussed and changed in 3.3. The current behavior is also useful so I don't know what's the best as far as DX is concerned.

[2016-12-01 17:49] PhilETaylor commented on #20698
I get the same Exception error in a different place...

vendor/symfony/symfony/src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php
 line 49

gives

`Serialization of 'Closure' is not allowed`

This is something to do with `SplObjectStorage->serialize()` from the backtrace - but is beyond me to resolve, for now I have had to revert to 3.1.7

The problem is intermittent on some pages, e

[2016-12-01 17:52] ogizanagi commented on #20698
@PhilETaylor : Could you show us a stacktrace?

[2016-12-01 17:59] Padam87 commented on #20698
@PhilETaylor Hi. Is your form created via a subrequest?

[2016-12-01 18:08] PhilETaylor commented on #20698
@ogizanagi Stacktrace: https://gist.github.com/d361c5b86f03b4e75e8a57463fb8a830

@Padam87 I dont believe this is form based for me, certainly it is broken on pages with several ajax requests on, more than just a basic login page form page.

I have quite a few things in my project including mysql doctrine & redis and I lost the will to dig too deep :(

[2016-12-01 19:41] nicolas-grekas commented on #20517
You're warming up the cache while the server is running? Are your clearing the cache beforehand? How? Can you describe your deployment process so that we can figure out how the race condition is met a bit?

[2016-12-01 21:32] bwegrzyn commented on #19469
I am wondering about this as well.

AddRequestFormatsListener is running after the Firewall listener, which means the authentication process does not have access custom formats that are defined. This is turn means that I cannot decode the username/password in a custom format before it reaches the Firewall listener.

[2016-12-01 21:45] smilingthax opened #20718 "SplCaster shows wrong iteration mode"
From https://github.com/symfony/symfony/blob/b1e2dedf9ed103d4498f7ab0302f12f4589f15f7/src/Symfony/Component/VarDumper/Caster/SplCaster.php#L67 :

[code]

Problem is that `\SplDoublyLinkedList::IT_MODE_KEEP == 0` (AFAIK on both php and hhvm). So `($mode & IT_MODE_KEEP) == ($mode & 0) == 0`, i.e. always falsy, and `IT_MODE_KEEP` is never printed, even for default-constructed `\SplDoublyLinkedList`s,

[2016-12-01 22:34] nietzcheson opened #20719 "[BUG] - Extra parameters in parameters.yml are deleted when updating composer"
I'm using Symfony 2.8.*.

The parameters into an normal applications the Symfony are:

[code]

If I add an extra parameter when updating the project with *composer update* these parameters are deleted from this file.

Any ideas?

[2016-12-01 22:57] lauradean commented on #20706
Here is the line of code to create the Yaml:

`$yaml = Yaml::dump($result, 3, 4, Yaml::DUMP_MULTI_LINE_LITERAL_BLOCK);`

The real array is too long and contains sensitive information and html that will not display properly, but here is something similar, as would be output by print_r:

[code]
Here is the desired YAML output, which worked after I put in the above code change:

[code]

(I did not te

[2016-12-01 23:48] snpy commented on #20698
I've been struggling today with this issue and finally after stumbling on this Issue I've decided to create simplest possible case where this appears.
Turns out easiest way to reproduce this it to use twice the same sub request (with form).
Form type can be bare (nothing but interface requirements) and we're getting serialization issue.

Below I'm adding output generated by `git format-patch` comm

[2016-12-01 23:58] jeffclemens commented on #20692
If we must also separately catch the exception\add the form error, is the UniqueEntity constraint useful?  Why not just do the latter?  Can\should UniqueEntity simply operate this way?

I suppose UniqueEntity is useful if the entity has multiple unique fields (ex. username and email address).  In that case, it may not be possible to deduce the problematic field from the exception.  If the form is

[2016-12-02 00:49] YuraLukashik commented on #20719
@nietzcheson you have to add new paramters to parameters.yml.dist.
This files is copied to paramteres.yml during the installation process

[2016-12-02 01:15] YuraLukashik commented on #20719
@nietzcheson there is an option to keep parameters from parameters.yml not declared in parameters.yml.dist after install or update. Just go to composer.json and add "keep-outdated": true option under "incenteev-parameters"(look at example).
`    "extra": {
        "symfony-app-dir": "app",
        "symfony-web-dir": "web",
        "incenteev-parameters": {
            "file": "app/config/parameter

[2016-12-02 03:59] nietzcheson commented on #20719
Thanks @YuraLukashik. I close this issue...

[2016-12-02 03:59] #20719 closed

[2016-12-02 07:40] yellow1912 opened #20720 "Exception when the new annotations.map"
In the latest version 3.2+ version of Symfony, I see that we have a new function to get and dump the classes for caching.

[code]

The problem with this is, say for example if before running this method we call class_exist method with the default $autoload option set to true (http://php.net/manual/en/function.class-exists.php) then this class, existing or not, will be registered to the list of spl

[2016-12-02 08:32] ogizanagi commented on #20698
Great. I can reproduce it thanks to your patch 🎉

So the bug exists when rendering two forms with the same name in 2 or more subrequests.
Given that you may generate some form from your controller with the form builder without explicitely giving it a name (so defaults to `form`), this issue may be quite common and annoying.

Status: Reviewed

[2016-12-02 08:39] javiereguiluz commented on #20709
@sc0rp10 thanks for reporting this issue. Sadly I need to close it as "won't fix" because, as explained by @ogizanagi and @xabbuh, in this particular case, the use of `!php/const:` is very inconvenient and actually worse that not using it. Thanks for understanding it.

[2016-12-02 08:39] #20709 closed

[2016-12-02 08:41] sc0rp10 commented on #20709
@javiereguiluz yes, I agree - you're right! thanks!

[2016-12-02 09:33] PhilETaylor commented on #20698
Ok some more information for you. I have worked back through the releases to see which releases would work

If my composer.json has `"symfony/symfony": "v3.2.0-BETA1",` then the profiler is working perfectly

If my composer.json has `"symfony/symfony": "v3.2.0-RC1",` then the profiler is broken most of the time

it works at commit 0896b02be073b8fa60fe6e8b3cf5d4f81b748bf8 which is the last one on t

[2016-12-02 09:37] javiereguiluz opened #20721 "[RFC] Rename the "config:dump-reference" command"
I've never liked the `config:dump-reference` command name. It looks unnecessarily hard to understand and it forces you to use two different commands for very similar operations:

[code]

Given that this command just displays the default values for the config options, could we for example merge it with the `debug:config` command?

Something like this:

[code]

or this:

[code]

Or something else pr

[2016-12-02 09:37] nicolas-grekas commented on #20698
Does #20707 fix the issue for all or some of you?

[2016-12-02 09:38] snpy commented on #20698
#20707 worked for me (in case presented above).

[2016-12-02 09:41] PhilETaylor commented on #20698
nope #20707 never worked for me, I still get

[code]

where the toolbar should be in the footer

[2016-12-02 09:52] ogizanagi commented on #20698
#20707 only fixes the issue for the `FormDataCollector`.

I think the issue reported by @PhilETaylor is a totally different one.

[2016-12-02 09:56] PhilETaylor commented on #20698
Totally different, yet the same final error and the same head-banging-on-desk annoying result :)

[2016-12-02 10:20] ogizanagi commented on #20721
One of the first drawbacks I see with this, is that the `config:dump-reference` allows to dump the reference using different formats (xml or yaml), which is not proposed by the `debug:config` command, which simply choose yaml as a way to represent the processed config array in the console (it does not reflect exactly the format used for writing the configuration).

[2016-12-02 10:30] chalasr commented on #20721
@ogizanagi Wouldn't it be doable to propose `xml` as output format? Actually it's either json or yaml.

[2016-12-02 10:31] ureimers commented on #6036
@TerjeBr Thumbs up for not letting this one go for four years now!

[2016-12-02 10:55] OnekO opened #20723 "[WebProfilerBundle] JS error using Request as window.fetch param"
If you try to use a Request object as window.fetch param, js will crash because:
[code]

One easy solution is something like this before that line  (line ~246, /symfony/symfony/src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig)
[code]

At least that's working for me, but it needs more testing.

[2016-12-02 10:57] stof commented on #20723
Can you open a pull request with the fix (targeting the 3.2 branch) ?

[2016-12-02 10:59] OnekO commented on #20723
Sure!

[2016-12-02 11:04] OnekO commented on #20723
https://github.com/symfony/symfony/pull/20724

[2016-12-02 11:39] SkyAgency commented on #20698
Same error: Exception in FormDataCollector.php line 274: Serialization of 'Closure' is not allowed, on 3.1.x it works.

[2016-12-02 11:39] #20665 closed

[2016-12-02 11:55] #20237 closed

[2016-12-02 13:39] nicolas-grekas commented on #20698
Does #20700 fix your issue @PhilETaylor ?

[2016-12-02 14:28] PhilETaylor commented on #20698
@nicolas-grekas Yes, I believe #20700 has resolved my issue I was having after I manually patched the files, the problem I had has been resolved.

[2016-12-02 14:47] athos99 commented on #20655
J'ai le même probleme, je travail sous Windows et génère tou mon projet pour produire un livrable, mais le livrable est prévu pour tourner sous linux et j'ai un problèeme depuis la version 3.1.7
Le fichier bootstrap.php.cache qui est généré sous windows contient à la dernière ligne.

namespace {require __DIR__.'\\..\\vendor\\symfony\\symfony\\src\\Symfony\\Component\\ClassLoader\\ApcClassLoader.ph

[2016-12-02 15:02] xabbuh commented on #20655
Please use English to describe your problem so that everybody is able to understand your issue.

[2016-12-02 16:10] 4rthem opened #20726 "[TwigBundle] FilesystemLoader cannot set the $rootPath"
The `Symfony\Bundle\TwigBundle\Loader\FilesystemLoader` is overriding `\Twig_Loader_Filesystem`'s constructor without passing the `$rootPath`.

Since Twig 1.28 it causes a cache warmup issue. See https://github.com/twigphp/Twig/issues/2281.

[2016-12-02 22:51] rodush commented on #20560
I observe similar issue in production (Heroku), when using latest 3.2 (which is released, right?)
Can reproduce it locally as well. Experimented, found out that if I comment out this string
`include_once __DIR__ . '/../var/bootstrap.php.cache';` in `app.dev` file, it works fine.
This is strange that issue is not reported yet...

[2016-12-03 08:44] xabbuh commented on #20678
@martixy Would you be able to create a reproducable example (best by forking the Symfony Standard Edition and making the needed changes there)?

[2016-12-03 08:45] xabbuh commented on #18874
@webmozart @HeahDude Would you mind looking into this?

[2016-12-03 09:41] xabbuh commented on #19874
Is there still anything to do here? I mean can one of you give an example of a YAML string that would not be parsed as expected?

[2016-12-03 09:56] dbrumann commented on #20711
I can confirm the SyntaxErrorException being raised. I'm not sure if this should be considered a bug though as this is the behaviour I would expect from the [Selectors Level 3 specification](https://drafts.csswg.org/selectors-3/#negation):

The behaviour you are trying to achieve might be what is described in the [Selectors Level 4 specification](https://drafts.csswg.org/selectors-4/#selector-list

[2016-12-03 10:07] KonstantinCodes opened #20733 "[RFC] Default Custom Date and DateTime pattern"
In the Form Component, `\IntlDateFormatter` is used to parse Date(Time) strings and to format `\DateTime` Objects into strings based on the Date formats _FULL_, _LONG_, _MEDIUM_ and _SHORT_ as well as the Time format counterparts.

Custom Date Patterns can be explicitly set in the Options of Form Components. This however leads to Applications having to set the Pattern for all Components.

Much eas

[2016-12-03 10:08] xabbuh commented on #20706
I think you are right. See #20732 which will resolve your issue.

[2016-12-03 10:29] jzawadzki commented on #18700
I just tried to replicate that issue and I can confirm it, however I'm not sure if it can be easily fixed.

Issue here is when there is an entity validated that have both `getter` and `isser` of same form field - in that situation constraints are taken from both methods, but their are validated againts value of getter.

In @AdriwanKenoby example there was form field `url` based on entity `Test` wh

[2016-12-03 10:50] #19901 closed

[2016-12-03 11:00] derrabus commented on #20580
The problem seems to be gone with Homebrew's php 7.1.0 binaries.

[2016-12-03 11:00] fabpot commented on #20580
Great news!

[2016-12-03 11:29] pixeltreiber commented on #20572
@arnucci For me the profiler folder is deleted both in 2.7.19 and 2.7.20 when you do a cache clear. You say that logs are still there even if you run "rm -rf *" in the cache/dev directory. If you then still have the profiler data I think your app does not run in the dev environment. Another possibility would be that your rm command fails without returning an error. I had that problem with virtualb

[2016-12-03 11:34] #12547 closed

[2016-12-03 11:36] #20706 closed

[2016-12-03 11:48] wouterj opened #20739 "[3.2][Validation] BC break in ValidatorCacheWarmer when class should not be used"
For the complete context: https://github.com/symfony-cmf/routing-bundle/issues/370

In short, there are classes that should not be used in some cases (for instance, the PHPCR document referenced in the issue if PHPCR is not installed and disabled). This class definition relies on some PHPCR interfaces, which do not exists.

As the cache warmer tries to load all metadata, this results in errors. Th

[2016-12-03 11:56] nicolas-grekas commented on #20698
Could anyone provide a reproducer using the standard edition and share it here?

[2016-12-03 11:58] nicolas-grekas commented on #20739
Does #20725 fix this issue?

[2016-12-03 12:03] pixeltreiber commented on #19363
Perhaps it's that problem: [https://www.virtualbox.org/ticket/8761](https://www.virtualbox.org/ticket/8761) I also had that problem on cache clear using virtualbox shared folders. There can be a silent error when you delete files. So when the folder should be removed it fails as there are still files inside. In the past I did a small patch that checked after delete of the file again if file still

[2016-12-03 12:07] jzawadzki commented on #19441
I was able to confirm that issue.

Currently updating input arguments values on command event doesn't work (even tho we are able to access method `$event->getInput()->setArgument($name,$value)`) inside the listener.
As @lainosantos said those values are updated again with input from the command line just before command run.
Current behaviour:
1. In https://github.com/symfony/symfony/blob/master/sr

[2016-12-03 12:26] jzawadzki commented on #20698
@nicolas-grekas here you go: https://github.com/jzawadzki/symfony-standard/commit/1235dfde8cb72ca557d92f93f38092f6fedbb961
It's in situation when you put object with Closure as translation argument.
I can also confirm that fix #20700 resolves it.

[2016-12-03 12:29] nicolas-grekas commented on #20698
For translation it's OK. What about forms? Reproducer that fails without https://github.com/symfony/symfony/pull/20707?

[2016-12-03 12:31] snpy commented on #20698
@nicolas-grekas https://github.com/symfony/symfony/issues/20698#issuecomment-264331542 contains patch that applied to standard-edition will reproduce the error.

[2016-12-03 12:46] jzawadzki commented on #20698
yeap - confirming that patch from @snpy reproduces the error.
Just in case - here is fork with patch applied: https://github.com/jzawadzki/symfony-standard/commit/a28366eea8a2d4f2934ff8eac3ce7ba1650869ee

[2016-12-03 12:53] l3l0 commented on #20578
@Belgacem-TLILI basically this is issue with DateTime itself http://php.net/manual/en/datetime.construct.php#95610 create date time with "01-01-20033" will not cause error but give you date like "01-01-2003". I am not sure what we can do with that, maybe using createFromFormat instead of date time constructor can helps.

Reproduce that in sf standard edition: https://github.com/l3l0/symfony-standa

[2016-12-03 12:55] pixeltreiber commented on #20041
It's not a problem of InputStream but of getOutput(). If you do a small change to your bash script you will see that input is passed to your bash script.

[code]
If you run this with
[code]

A foo and a bar file will be created but your output will still only be
[code]

Problem is that you only will get the complete output of the process after process has stopped.
Just try to uncomment the stop ca

[2016-12-03 13:07] ogizanagi commented on #20698
A minimalistic patch:

[code]

[2016-12-03 13:09] uwej711 commented on #12302
See https://github.com/symfony/symfony/pull/20740 for a possible fix

[2016-12-03 13:56] Guite opened #20742 "Hardcoded dependency to glyph icons"
In Zikula we use FontAwesome instead of GlyphIcons. Thus our bootstrap version does not include the glyph icons in order to avoid unneeded stuff wasting bandwidth.
We just discovered (https://github.com/zikula/core/issues/3243) that the Twig bridge uses a glyph icon for error messages in `Symfony/Bridge/Twig/Resources/views/Form/bootstrap_3_layout.html.twig`:
[code]

As this is a hardcoded depende

[2016-12-03 14:01] Guite commented on #20742
For the moment we can use this workaround: https://github.com/zikula/core/pull/3244

[2016-12-03 14:09] PaperCoder commented on #20338
@stivenllupa I tried to confirm your issue with a reduced test case by forking the symonfy-standard but I'm not having your described issue. Could you plz give us more information or extend the fork to get your described problem?

https://github.com/pixelart/symfony-standard/commit/f685151d82faa0d9b4f5b4f0b2145aa60c58f51c

[2016-12-03 14:24] HeahDude commented on #20179
@ttibensky Could you please confirm that https://github.com/symfony/symfony/pull/17771 is fixing your issue as well? Thanks!

[2016-12-03 14:37] nicolas-grekas commented on #20698
Thanks for the reproducers, I'm now able to debug that issue. I'm going to check asap.

[2016-12-03 14:49] javiereguiluz commented on #20742
@Guite thanks for reporting this issue and for explain it nicely.

You are right about the "hard dependency" with GlyphIcons. However, I consider this a "feature" and not a "bug". Bootstrap 3 has this dependency and it uses Glyphicons everywhere ... and this form theme is for Bootstrap 3 only.

Bootstrap 4 dropped this dependency entirely and you are now free to use anything you want. Therefore, s

[2016-12-03 14:52] mtrojanowski commented on #20188
I proposed a change how the consistency can be met without breaking BC.

[2016-12-03 15:46] javiereguiluz commented on #19792
@twifty any news here? Did #20576 solve the problem? Thanks!

[2016-12-03 16:09] javiereguiluz commented on #19170
@poolerMF thanks for proposing this improvement. I think it makes sense. However, this is something to be implemented in the DoctrineBundle ... so I've opened an issue there to discuss about it: https://github.com/doctrine/DoctrineBundle/issues/588  Thanks!

[2016-12-03 16:09] #19170 closed

[2016-12-03 18:05] evillemez commented on #19363
@pixeltreiber Interesting - that does look like it could be it, or at least part of it.  I didn't run into this until recently probably because I switched vagrant from nfs to shared folders.  Apparently nfs can't be used with encrypted home directories, which is a bummer.

Also interesting, I saw @lsmith77 tweet about this happening in a Docker context a couple days ago.  Don't know any more detai

[2016-12-03 19:46] GuilhemN commented on #19874
- `{foo:{bar}}` will cause a parse error.
- `{pomm:default: true}` will parse as `{ "pomm": "default:true" }` while it should be parsed as `{ "pomm:default": true }`.

[2016-12-03 22:40] weaverryan opened #20746 "Behavior Change: Incorrect controller arguments no longer throw exception"
Hi guys!

The commit sha: 9c48756a19a930ce4dc13eb47a50b89de9e3b921 (cc @iltar) changed some behavior in all versions of Symfony, I think on accident.

Consider the following:

[code]

Previously, this would have thrown the following error:

But after this commit, it does not throw the error, and instead `$id2` is set to null in all cases. The specific problem is this block: https://github.com/symf

[2016-12-03 23:10] twifty commented on #19792
@javiereguiluz All working now. Sorry, completely forgot about this issue.

[2016-12-03 23:26] wouterj commented on #20739
I didn't try, but I don't think it does. It only modifies the `AnnotationCacheWarmer`, while the bug reported in this issue is about the `ValidatorCacheWarmer` (warming up the cache for XML and Yaml mappings). But maybe they can be fixed in sort of the same way?

[2016-12-04 06:45] #19792 closed

[2016-12-04 06:48] nicolas-grekas commented on #20739
Indeed :) so if someone would like to give it a try, please do!

[2016-12-04 10:29] iltar commented on #20746
@weaverryan I think this is an unintended side-effect. As the method name implies, it does allow null, but this only for cases where no type-hint is given. Is this only on php7 or also on php5?

[2016-12-04 12:09] wouterj commented on #20739
I tried to fix this, but it's a lot more complicated and I don't know how to fix it. As the class implements a non-existing interface, a `Fatal error: Interface 'xxx' not found` error. I can't think of a way to hide this error?

[2016-12-04 12:46] thomasez opened #20748 "Simpler roles check in AuthorizationVoters"
Using Symfony 3.2 with FosUserBundle and needing to check the roles in a voter I followed the instructions in the documentation. http://symfony.com/doc/master/security/voters.html#checking-for-roles-inside-a-voter

Warming up the cache in the dev environment workes and the voter seems to work aswell.

In "prod" on the other hand, I get this one:

  Circular reference detected for service "security

[2016-12-04 13:25] AlkisStamos commented on #20746
Hello
i've noticed this behavior on 3.1 and 3.2 but not on 3.0. It seems to be coming from the Symfony\Component\HttpKernel\Controller\ArgumentResolver\DefaultValueResolver::resolve method since it yields a value in any case (even null).
Changing the
`yield $argument->hasDefaultValue() ? $argument->getDefaultValue() : null;`
to
`if(!$argument->hasDefaultValue())
{
    return null;
}
yield $argumen

[2016-12-04 14:41] iltar commented on #20746
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/Controller/ArgumentResolver/DefaultValueResolver.php#L30

This line should probably check whether a type is set, as: `fooAction($something);` allows to call: `$controller->fooAction(null);`

[2016-12-04 19:05] xabbuh commented on #20748
Isn't the real issue we have to solve "simply" that we need to find out why in your case you get the (not expected) circular reference exception?

[2016-12-04 19:55] thomasez commented on #20748
I ran away from the circular reference issue by just playing with the token roles and then being annoyed by it not handing me all available roles for that login/user.

I guess this is two issues in one and the circular reference was more a digression in this issue, but it may as well be a bug.

I reintroduced the decisionManager to my voter (by pure cut&paste from the docs) and then it's back. I w

[2016-12-04 20:19] webmozart commented on #4833
I will close this issue. It's been open for a while and I don't think that this is something that the OptionsResolver really should support. I also don't see a way to do this without making the implementation overly complex.

[2016-12-04 20:19] #4833 closed

[2016-12-04 20:35] arnucci commented on #20572
Hello pixeltreiber

Regarding you're answer and my first post, it seems that i was not very explicit. So I try again with more details.

In both version, (v2.7.19 and 2.7.20) when I run the cache:clear command, the profiler dir is remove from the cache.

But when I browse my app again, with v2.7.19, the profiler dir is "rebuilt" and I see new log in the web profiler.
On the other hand with v2.7.20

[2016-12-04 21:04] weaverryan commented on #20746
@iltar Yep, I'm using 5.6, so it definitely is an issue there.

It's tricky because now that there's been a release with the behavior change, we've sorta already accidentally broken BC. If we're going to unbreak it back, we should probably do it quickly - it's already been included in 2.7.19, 2.7.20 and 2.7.21, for example, for the 2.7 releases.

@iltar are you able to make a patch that does the c

[2016-12-05 05:42] iltar commented on #20746
First thing I'll do when I arrive at work

On Sun, 4 Dec 2016, 22:04 Ryan Weaver, <notifications@github.com> wrote:

[2016-12-05 05:52] Herod opened #20753 "Error bootstrap.php.cache after 3.2 upgrade"
HI,

I have updated to 3.2 but I get the following error:

 `PHP Fatal error:  Cannot redeclare class Symfony\\Component\\HttpKernel\\HttpKernelInterface in /var/www/application/var/bootstrap.php.cache on line 1309
`

I cleared the cache but without success.
When I removed the bootstrap.php.cache file everything worked as expected. After the composer update the bootstrap file was regenerated with

[2016-12-05 06:12] nicolas-grekas commented on #20753
Do you call addClassesToCompile in your bundle? Did you put AppKernel in the list? Then that may be the issue.

[2016-12-05 07:29] helfd opened #20754 "Cannot close debug bar after update to 3.2"
After the update from Symfony 3.1 to 3.2 i cannot close the Symfony debug bar with the [X] button anymore.
The problem occurs in Firefox 50.0.2 on Xubuntu 14.04 64 Bit.
The Firefox console shows a javascript error on click "ReferenceError: event is not defined".
When i use Chromium 53 the close button works as expected, i tested this behavior with an existing and a fresh 3.2 project.

[2016-12-05 07:45] iltar commented on #20748
@xabbuh the whole issue here is that people need the access decision manager/authorization checker to see if a certain implicit role is present. This means that every `isGranted('ROLE_*')` check will trigger the (re)calculation of the roles in the hierarchy.

As roles are part of the authentication and not authorization (used to identify), I don't see why the role hierarchy should be calculated do

[2016-12-05 07:49] fabpot commented on #20746
👍 for fixing this as a bug.

[2016-12-05 07:54] #20746 closed

[2016-12-05 08:32] alsar commented on #20754
This was already fixed: https://github.com/symfony/symfony/pull/20717

[2016-12-05 08:33] #20754 closed

[2016-12-05 09:24] ShinDarth commented on #5946
so there was a PR for this and then it was closed, is it still valid?

[2016-12-05 09:29] blacksaildivision opened #20758 "open_basedir restriction after upgrading to 3.2"
Hi there,

We recently decided to upgrade whole our stack from 3.0 to latest version (`3.2.0`). We went through migration guide from `3.0` -> `3.1` -> `3.2`. In logs we don't have any deprecation warnings. However `_profiler` doesn't work at all.

It loads just fine when everything in cache is cleared. We can see profiler panel. But once you make a request to normal backend and try to check out pr

[2016-12-05 09:40] nicolas-grekas commented on #20758
Thanks for the report.
Can you please try adding an `@` in front of the call to is_file in src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php?
If it fixes the issue, would you mind opening a PR against 3.2?

[2016-12-05 09:42] Herod commented on #20753
I don't think i know about the addClassesToCompile and where this should be put.

[2016-12-05 09:50] blacksaildivision commented on #20758
Thank you for super quick response:) Yes, it actually fixes the issue. I will open a PR

[2016-12-05 10:31] rodush commented on #20753
Hi! I've gotten similar problem with one of my applications, so I was wondering what makes it different from another, which worked perfectly fine after upgrade to 3.2
I took a look at (symfony demo application's composer.json)[https://github.com/symfony/symfony-demo/blob/master/composer.json]
... and found that in my composer.json I had these lines:
[code]
so after I changed `files` to `classmap`

[2016-12-05 11:34] weaverryan commented on #20746
Wow! That was crazy fast fix and merge - thank you @iltar!

[2016-12-05 13:02] iltar commented on #20746
@weaverryan I feel responsible for changes that I contribute to and thus find it important to provide some after-care when I can

[2016-12-05 13:10] #20110 closed

[2016-12-05 13:13] #20726 closed

[2016-12-05 13:16] geoffrey-brier opened #20759 "[3.2][Form] Empty strings instead of null in CountryType"
After upgrading in 3.2, when I submit a form which contains some `CountryType` elements and I don't submit those ones, then the value saved is an empty string while in 3.1 and below it was null.

According to the documentation of the `CountryType`, it's the intended behaviour but my tests are telling me that something changed.

[2016-12-05 14:00] HeahDude commented on #20759
Hey @geoffrey-brier, have some time to add the minimum of code in a fork of symfony standard to reproduce this? I'll have a look when I can, thanks!

[2016-12-05 14:18] lbayerl opened #20761 "[3.2][Validation] New ValidationCacheWarmer incorrectly handles empty validation.yml"
As were using annotations for our validation meta data we don't use yaml validation definitions.
But we still have an empty validation.yml in OurBundle/Resources/config/ - this wasn't an issue until Symfony 3.2.

But obviously with the new ValidationCacheWarmer this file is being parsed and to be merged with other validations here: https://github.com/symfony/symfony/blob/6bdaf0bceba3605c0bc4c83d85

[2016-12-05 15:05] nicolas-grekas commented on #20698
Could you please try #20762? Does it fix the issue?

[2016-12-05 15:07] Ocramius commented on #20668
O say kill it with :fire:. This particular cache has only caused a huge load of bugs on my end, so far...

[2016-12-05 15:12] lisachenko commented on #20668
It's end of epoch of pre-compiled class cache files! Burn them all! :fire:

[2016-12-05 15:14] lisachenko commented on #20753
This could be solved by #20668 )

[2016-12-05 15:53] nikita2206 opened #20763 "[Logging] Exception logging is not very extendable or readable"
Currently it is very hard to extend `Symfony\Component\Debug\ErrorHandler`. And at the same time it produces log messages that are not particularly readable. Here's an example of a log message this handler produces:
[code]
UPD: I realized it's not clear why this is not readable... In our case when there's a context for a log message, it will be rendered as a json value so when there is the whole s

[2016-12-05 16:21] tifabien opened #20764 "[FrameworkBundle] Is TagAwareAdapter declared as a service?"
After upgrading in 3.2 I'm trying to use the new cache tag based invalidation in the fullstack framework.
My first thought was to inject the default cache.app service and call the new invalidateTags method but it seems the default cache.app didn't change.
So I tried to use the TagAwareAdapter but there is no service declared for the Symfony\Component\Cache\Adapter\TagAwareAdapter class.

My questi

[2016-12-05 16:25] edwinhageman opened #20765 "Non existing @var type declaration"
Hi there,

Found a type declaration in the abstract ConstraintValidator class for the context property that makes my IDE throw warnings.
The context property is typed as ExecutionContextInterface2Dot5, this should probably be ExecutionContextInterface.

[2016-12-05 16:35] Padam87 commented on #20698
@nicolas-grekas It is working in my case :) Thank you!

[2016-12-05 16:36] nicolas-grekas commented on #20764
You're right, there is no existing service using it, so if you need it, it's up to you to wire it.
Maybe using a decorated service?
http://symfony.com/doc/current/service_container/service_decoration.html

[2016-12-05 18:31] Ziiweb opened #20770 "SUBMIT ad POST_SUBMIT form events: change the data of a submitted form."
Hi,

it is said at [Form Events docs](http://symfony.com/doc/current/form/events.html) that inside `SUBMIT` and `POST_SUBMIT` event listeners:

so when I have this code:

[code]

I get this error:  `You cannot change the data of a submitted form.`.

but **I can do this without any warning or error**:

[code]

Is this a bug or it is kind of allowed to change the submitted data that way?

[2016-12-05 18:32] #20765 closed

[2016-12-05 21:34] Padam87 opened #20771 "[Form] BC break in choice based form type extensions"
3.2 changed the way that choice based types load choices. They now use `choice_loader` instead of `choices`. This caused all type extensions which used to override choices to break, because the choice loader takes priority.

**As a simple fix we can add `'choice_loader' => null,` as default to our extensions.**

Effected types are:
- `CountryType `
- `CurrencyType`
- `LanguageType `
- `LocaleType

[2016-12-05 22:23] HeahDude commented on #20770
Hi @Ziiweb. This is an expected behavior.

In fact you can add/remove fields on every events but this does not make sense in `POST_SUBMIT`.

However regarding data:
[code]

In any case (excepted `POST_SUBMIT`), in you want to modify data, you should never call `$form->setData()` as this is handled internally.

But you can use `$event->setData()` instead.

This issue can be closed then, I hope it h

[2016-12-05 22:29] HeahDude commented on #20771
Hi @Padam87, thanks for reporting this, but it seems weird, `choices` option always have precedence on `choice_loader` but it looks like it does not happen for extensions in your case.

Could you fork symfony standard and add a minimum of code to reproduce this? Thanks!

[2016-12-05 22:36] theofidry commented on #20656
As discussed at the SymfonyCon, it is true that an interface bound proxy is way simpler (approximate code):

[code]

It might still be easier to have a dependency on Zend/Code to generate the proxy though.

I'm still less convinced about the argument proxy and would prefer to split this RFC in two to treat them separately, but I'm +1 for the first one.

There is also the question of if this could

[2016-12-05 22:56] HeahDude commented on #20485
ping @adetwiler :)

[2016-12-05 23:02] Padam87 commented on #20771
Hi,

I think `choice_loader` has priority: https://github.com/symfony/symfony/blob/5129c4cf7e294b1a5ea30d6fec6e89b75396dcd2/src/Symfony/Component/Form/Extension/Core/Type/ChoiceType.php#L411

[2016-12-05 23:08] HeahDude commented on #20771
Oh yes, you're right, `choices` has priority only for `EntityType`, https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php#L121.

Hmmm, not sure how we should handle this BC break then :/

[2016-12-05 23:09] HeahDude commented on #20771
Can I ask what your use case for your extension?

[2016-12-05 23:24] Padam87 commented on #20771
I like to override the choice list for these types in all of my projects. :)
Most of the time, it is localization / configuration...

LocaleType: Only show available (translated) locales based on config param
CountryType: Only show countries where the client does business

[2016-12-06 00:13] Padam87 opened #20774 "[Workflow] Questions and ideas"
Hi,

I decided to give the workflow component a try, and I have a couple of questions and suggestions.

![graph](https://cloud.githubusercontent.com/assets/776488/20907033/e37f864a-bb4b-11e6-95ad-27a9fac6fa49.png)

I have started out with this workflow. I used to do these type of jobs with https://github.com/yohang/Finite, but the new component looks awesome :)

### Events

https://github.com/symf

[2016-12-06 00:27] HeahDude commented on #20771
Ok, thanks :)

You could override the `choice_loader` option very easily thanks to the feature of 3.2 that comes with the BC break, you don't need to implement the `ChoiceLoaderInterface` to lazy load that call:
[code]

[2016-12-06 07:30] #20753 closed

[2016-12-06 07:58] #20770 closed

[2016-12-06 08:07] nicolas-grekas commented on #20656
Because we decided to *not* have a hard requirement on ProxyManager (and I'm really fine with this), lazy services are second zone citizen.
I forgot to mention it: this RFC is also targeted at making them first class citizen, by seeking for a way to make them so with simpler logic, which I believe this RFC allows (as you spotted).
This means interface-proxy generation should be done in the compone

[2016-12-06 08:12] nicolas-grekas commented on #20656
Of course, we should also deal with references (as arg and as return values).
But I think we don't have to deal with PHP5-style variadics (that use func_get_args()).

[2016-12-06 08:48] tifabien commented on #20764
Thanks @nicolas-grekas it works when I decorate the cache.app service. Btw I think it's weird to have access to the tag method in CacheItem without having the possibility to invalidate items in the default cache.app adapter.
I would expect to have the invalidateTags method by default. What do you think?

[2016-12-06 08:57] nicolas-grekas commented on #20764
Having the method always present would mean checking for tags for any single cache check, thus hurting performance even when no tags are expected.
Glad it works, thanks for the feedback!

[2016-12-06 08:57] #20764 closed

[2016-12-06 09:20] tifabien commented on #20764
Understood for the performance impact.
Thanks again for your help!

[2016-12-06 09:51] fredplante opened #20775 "[Console] Throwable exceptions not handled properly, exit code is 0"
Given an new symfony 3.2 project, with this simple Command :

[code]

Running under PHP 5.6.24 :
[code]

Running under PHP 7.0.8 :
[code]

[2016-12-06 10:24] #20698 closed

[2016-12-06 10:26] dsentker opened #20776 "Feature request: Show service definition location in debug output"
Hey folks. I want to add the suggestion to show an more detailed `debug:container` output. It would be great to see WHERE a service was defined.

# How it currently works
`php bin/console debug:container validator`

Output:

[code]

# Proposed Change
`php bin/console debug:container validator`

Output:

[code]

It would be easier to inspect and override existing definitions.

[2016-12-06 10:26] ylastapis commented on #16150
Thanks @k0pernikus, same as above with latest configuration

[code]

[2016-12-06 10:42] stof commented on #20776
there is no way to display this:
- loaders don't store this info in the Definition
- definitions can be altered in many places (for instance by compiler passes) and so are not defined in a single place.

[2016-12-06 11:18] jakzal commented on #19935
ping @miguelsimoes

[2016-12-06 11:27] jakzal commented on #14276
@flack closing due to lack of feedback. We'll reopen as soon as you manage to provide code to reproduce your issue.

[2016-12-06 11:27] #14276 closed

[2016-12-06 11:35] flack commented on #14276
Ys, that's alright with me. I've tried reproducing it with current Symfony, but I could only manage to do so if I had a slightly buggy converter. So either the problem has been fixed sometime between last year and now, or it has been an error on my part all along

[2016-12-06 12:07] jakzal commented on #19396
I removed the "Unconfirmed" label. Stof has indicated what's the real problem here:

[2016-12-06 12:09] MrMitch commented on #19396
@jakzal thank you
@stof let me know if there's anything I can do to help

[2016-12-06 12:18] javiereguiluz commented on #19396
@MrMitch have you tried adding the following config?

[code]

[2016-12-06 12:59] ShinDarth opened #20778 "[VarDumper] Tests failing"
[code]

[2016-12-06 13:01] nicolas-grekas commented on #20778
This is because you have xdebug enabled.
We'd a PR to skip these tests when debug is enabled.
Could you do that please?

[2016-12-06 13:03] ShinDarth commented on #20778
@nicolas-grekas do you mean testing that PR? where is it?

[2016-12-06 13:06] nicolas-grekas commented on #20778
there is no PR, someone has to write it :) would you like to give it a try?

[2016-12-06 13:15] ShinDarth commented on #20778
Oh sorry I misunderstood. However... sure! but I'm a beginner here so I need a hint first :D

[2016-12-06 13:32] pengend opened #20779 "ChoiceValidator trigger error"
In ChoiceValidator.php, an error is triggered when the options strict is false
`
        if (false === $constraint->strict) {
            @trigger_error('Setting the strict option of the Choice constraint to false is deprecated since version 3.2 and will be removed in 4.0.', E_USER_DEPRECATED);
        }
`

But the option is set to false by default in Choice.php
`
    public $strict = false;
`

[2016-12-06 13:35] Sander-Toonen opened #20780 "[FrameworkBundle] Don't seed cache pool namespaces with kernel debug"
I was wondering whether there was a specific reason to include ``kernel.debug`` in the cache pool namespace seed. Imho setting/unsetting the debug flag should not have an effect on the workings of a program.

https://github.com/symfony/symfony/pull/18544 added the ``kernel.name``, ``kernel.root_dir``, ``kernel.environment`` and ``kernel.debug`` to the cache pool namespace.

Consider this scenario:

[2016-12-06 13:37] #20637 closed

[2016-12-06 13:39] tyx commented on #20670
Thanks @ogizanagi it works !

[2016-12-06 13:39] #20670 closed

[2016-12-06 13:45] nicolas-grekas commented on #20780
I guess you mean kernel.debug. Please open PR (against on 3.1?) so that we can discuss that there. Looks fine to me. Please also open one against DoctrineCacheBundle since it has the same issue since https://github.com/doctrine/DoctrineCacheBundle/pull/105

[2016-12-06 13:48] Sander-Toonen commented on #20780
@nicolas-grekas Oops, yes. I changed it.

Ok. I will.

[2016-12-06 14:01] Isinlor opened #20784 "[Form] How to know with certaintity if $form->getData() returns valid data?"
[Submitted and disabled form is always valid.](https://github.com/symfony/form/blob/master/Form.php#L724) So in the situation:
[code]

Is it expected that code depending on `$form->getData()` is able to handle [complete lack of data](https://github.com/symfony/form/blob/master/Form.php#L506) even if the from is valid? Or should I always check that form is not disabled? So instead recommended `if (

[2016-12-06 14:28] HeahDude commented on #20784
@Isinlor Why a disabled form should be invalid?

A disabled form is always (virtually) submitted so it is validated. I don't really get your point here.

[2016-12-06 14:39] Isinlor commented on #20784
The code here https://github.com/symfony/form/blob/master/Form.php#L506 is ignoring submitted data and isValid method will consider the data valid even if it does not contain required values etc. therefore code depending on `$from->getData();` to be without errors can fail if form is disabled and still submitted for some reason. It did happen to me when user submitted the same form twice from the

[2016-12-06 14:42] stof commented on #20784
@Isinlor a disabled form does not let the user submit a new value for the field (a browser is not even required to post the value for a ``<input disabled>``).
If the data is invalid when the form is disabled, it means that your data was invalid before creating the form (and so you already have corrupted data)

[2016-12-06 14:46] nicolas-grekas commented on #12154
Closing as the ext is not going to be supported on PHP 7, thus it will die eventually.

[2016-12-06 14:46] #12154 closed

[2016-12-06 14:47] #12747 closed

[2016-12-06 14:48] Isinlor commented on #20784
@stof The submitted data is valid on the first time then becomes invalid and the form is disabled. But if user have open the form in the other tab or someone else did open the not disabled form at the same time before the first submit then the data submitted second time are invalid.

[2016-12-06 14:52] HeahDude commented on #20784
This doesn't make any sense.

It looks like you have a race condition, so I can't see how the framework could fix your issue.

[2016-12-06 15:03] ShinDarth commented on #20778
@nicolas-grekas edit: done https://github.com/symfony/symfony/pull/20785

[2016-12-06 15:07] Isinlor commented on #20784
Yes, it is a sort of race condition and the fix is simple check `if ($form->isSubmitted() && $form->isValid() && **!$from->isDisabled()**) {` before handling the data, but it is not nice gotcha, since `$form->isValid()` is effectively laying to me. That's what I'm trying to point out.

[2016-12-06 15:14] HeahDude commented on #20784
Solving this race condition by checking it this way looks very fragile. But I don't think the component should support this case.

The form should not be responsible for validating the model pre set data, one can use the validator directly.

Anyway even in that case, if the view send some outdated data in a disabled field it will hydrate the model data. So maybe you could just unmap that field usi

[2016-12-06 15:27] Isinlor commented on #20784
I'm not sure if we are on the same page. The problem is not lack of validation of pre set data, but submitted data.

The documentation of `isDisabled` method is saying that `The validation of modified disabled forms should fail.`:

[code]

but implementation of `isValid()` method will never fail:
[code]

[2016-12-06 15:35] ggabrovski opened #20788 "Workflow "can" function checks only first valid transition"
Function can($subject, $transitionName) in Workflow.php need to returns true if the transition is enabled,
but getTransitionForSubject return only the first transition in transitions that is valid for the object.
And in the example below the only valid transition is "feedback". The other two "review" and "close" are missing. If the initial place is "opened".
![test1](https://cloud.githubuserconten

[2016-12-06 15:45] HeahDude commented on #20784
I understand the confusion, but the component considers the field as submitted without actually submitting it (ref https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Form.php#L508), thus it considers it validated without considering the actual validation.

I'm not sure how we should handle this, and without breaking BC.

[2016-12-06 15:56] Isinlor commented on #20784
I was thinking that this BC could be introduced [alongside of the deprecation of calling `isValid` without submitting the form for Symfony 4.0](https://github.com/symfony/form/blob/master/Form.php#L727). Seems like there will be no better moment for that. In the old version it could just be better documented.

[2016-12-06 15:59] HeahDude commented on #20784
Such deprecation would be triggered internally, https://github.com/symfony/form/blob/master/Form.php#L767.

[2016-12-06 16:05] #20778 closed

[2016-12-06 16:13] MetalArend commented on #20784
Maybe we should also deprecate a call to isValid in the case of a disabled form field?

I would also think that a disabled form field can never be submitted anyway, and if would have been submitted nonetheless, that would be a breach of contract that should trigger an error.

[2016-12-06 16:34] Padam87 commented on #20788
Are you sure? `getTransitionForSubject` recieves an array of transitions already filtered by the name, so this should not be a problem...

I wrote a test locally that confirms this

[code]

[2016-12-06 16:36] Padam87 commented on #20788
@ggabrovski Oh, i just took a second look at your config.

All from states are evaluated, so in your case `review` and `close` are not applicable, if your marking only has `opened`.

[2016-12-06 16:43] Padam87 commented on #20788
I believe this needs a new feature: ability set the match type of from states to `one` or `all` ... on it

[2016-12-06 16:46] BPScott opened #20791 "[FrameworkBundle][Translation] Don't add Translation into DI when it is disabled in Config"
More of request for comments rater than a "hey this is certainly a bug"...

Using Symfony 3.2 I have disabled translation, validation and form in my [FrameworkBundle config](http://symfony.com/doc/current/reference/configuration/framework.html) as I do not require these items in my application (it's a JSON API). I have confirmed this by running `app/console debug:config FrameworkBundle` and noting

[2016-12-06 16:59] ogizanagi commented on #20775
I can confirm the issue.

The thing is in PHP 5, errors were thrown in the wild and handled by the error handler. The status code then is 255. But in PHP 7, those errors are in fact `\Error` exceptions handled by the error handler. The native one will exit with a 255 status code, but using the fullstack framework, the `DebugHandlersListener` is registered and replace it in order to output the erro

[2016-12-06 17:15] #20718 closed

[2016-12-06 17:42] lyrixx commented on #20788
Hello.

There is no bug here.
In your case, you should use a StateMachine if you want to perform all transitions.
By default, The workflow use a PetriNet implementation and rules to be able to transition are more complex: You need to be in all states "from" a transition.

So you should update your config like that:
[code]

In invite you to read the [documentation on wikipedia](https://en.wikipedia

[2016-12-06 17:42] #20788 closed

[2016-12-06 17:46] lyrixx commented on #20774
## Event

From my point of view, it's a best practice to flush in the controller and note in a listener. If you flush in the listener, your model could be corrupted.  For example, if you plan to send an email after a transition, nothing can guarantee you the email was send. But it's too late because you already save into the DB the new marking.

[2016-12-06 17:47] lyrixx commented on #20774
## Transition parameters

I'm not sure about this use case. You are mixing the concern here. I mean: You are using the event as a data bag and IMHO this is not the right place do it.

In your example, the tracking number should be a property of the Order. With the new implementation, the tracking number is volatile, and IMHO, it's not a good idea.

[2016-12-06 17:49] Padam87 commented on #20774
Check the issues in finite... many people had problems with these there.

[2016-12-06 17:50] lyrixx commented on #20774
### One workflow, or multiple state machines?

In this example, and after a very quick read of it, I would use a workflow and not a state machine to let the Engine decide if a transition can be enabled or not.

[2016-12-06 17:50] lyrixx commented on #20774
@Padam87 Having only **big** issue for many question is really not easy :/

[2016-12-06 17:53] Padam87 commented on #20774
Yep, that was a bad idea :)

I still think all of these are valid features, parameters come in handy in the real world, even if it does not make sense in an ideal word.

One time I had to pass parameters from an API call result, and on time from an rabbit RPC request.

[2016-12-06 18:13] Simperfit commented on #20779
As settled in the [UPGRADE-3.2.md](https://github.com/symfony/symfony/blob/master/UPGRADE-3.2.md#validator), I think this is intended because it will change in 4.0.

@nicolas-grekas, did I understand that wrongly ?

[2016-12-06 18:26] pengend commented on #20779
@Simperfit  If this is indended, `strict` option becomes necessary for every choice annotation, not  very convenient if bridge is enabled...

[2016-12-06 18:32] zhekaus commented on #19293
@aitboudad ,
It doesn't solve the problem completely :(

vendor.bundle.js:183 C:\webProj\proj1\web\node_modules\@types\node\index.d.ts
(73,13): error TS2300: Duplicate identifier 'require'.errors @ vendor.bundle.js:183sock.onmessage @ vendor.bundle.js:1732EventTarget.dispatchEvent @ vendor.bundle.js:3452(anonymous function) @ vendor.bundle.js:6552SockJS._transportMessage @ vendor.bundle.js:6550Eve

[2016-12-06 18:49] ggabrovski commented on #20788
Thank you very much, type: state_machine perform all transitions. Thank also for the link, I will read the documentation on wikipedia.

[2016-12-06 18:51] Padam87 opened #20794 "[Workflow][FrameworkBundle] Multiple transitions with the same name"
The workflow component allows to have multiple transitions with the same name, but the framework bundle's configuration makes that impossible to use.

https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php#L298

https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.ph

[2016-12-06 19:46] xabbuh commented on #19874
@GuilhemN This example is not valid according to the spec. You would have to quote the key then.

[2016-12-06 19:58] GuilhemN commented on #19874
@xabbuh [from what I see](http://www.yaml.org/spec/1.2/spec.html#ns-plain-char(c)) it is as long as `:` is followed by a safe character.

[2016-12-06 20:02] Simperfit commented on #20779
@pengend I found the PR, you can check it to understand the goal of this deprecation : #19257

[2016-12-06 20:03] peterrehm commented on #20779
@pengend This was the only way to properly switch over to a strict handling which is what you want in general.

[2016-12-06 20:55] Geolim4 opened #20798 "Block "toolbar" on template "@WebProfiler/Profiler/base.html.twig" does not exist"
Hi,

Since i upgraded to 3.2@dev, I'm getting this error:

Stacktrace:

[code]

Cheers,
Georges

[2016-12-06 21:00] xabbuh commented on #19874
@GuilhemN only if they are the first character in a plain string if I don't misunderstand to which part of the spec you refer to.

[2016-12-06 21:13] GuilhemN commented on #19874
I don't think so, i'll detail my research:
- first, in the [flow mapping section](http://www.yaml.org/spec/1.2/spec.html#id2790832)
- [its entries](http://www.yaml.org/spec/1.2/spec.html#ns-s-flow-map-entries(n,c)), then only [one of its entries](http://www.yaml.org/spec/1.2/spec.html#ns-flow-map-entry(n,c))
- [implicit entry](http://www.yaml.org/spec/1.2/spec.html#ns-flow-map-implicit-entry(n,c))

[2016-12-06 21:25] #20779 closed

[2016-12-06 22:31] sbuzonas opened #20802 "WebProfilerBundle 3.1.7 depends on TwigBridge 3.1.7 or Twig 1.28"
There was a commit https://github.com/symfony/web-profiler-bundle/commit/f14fd5c7e0ffcbd22961a93bc8bf54a2d6d75ce6 that bumped the minimum requirement of `twig/twig` to `1.28`.  A non-functional set of packages can be installed as initially reported in composer/composer#5945.

The twig templates in `symfony/web-profiler-bundle` use the `with` tag introduced in `twig/twig v1.28`.  This dependency is

[2016-12-07 05:32] SimonHeimberg opened #20803 "[HttpKernel] Irritating behaviour when automatic cache warmup fails"
When running with an empty cache (after deleting the cache, after creation, while? running "[ab]??/console cache:clear"), warmUp of cache_warmer service is called automatically in [Symfony\Component\HttpKernel\Kernel::initializeContainer](../blob/a4edafbd7d82ccea983f04ade3dc220e72f340e2/src/Symfony/Component/HttpKernel/Kernel.php#L496) (for dev environment). When the warmup fails, the cache is see

[2016-12-07 05:44] dunglas commented on #20685
@ahungry can you confirm that #20745 fix your problem please?

[2016-12-07 08:04] javiereguiluz commented on #20635
Versioning these files would be complex both for Symfony and for the applications using them ... so another solution could be to remove the versioning entirely and name these files `routing.xsd` instead of `routing-1.0.xsd`, etc.

[2016-12-07 08:08] javiereguiluz commented on #18149
@wouterj @nicolas-grekas after your work integrating VarDumper in the Profiler, I'd say we can close this as "fixed". Or do you plan to add the VarDumper features to the remaining components (OptionResolver, Config, etc.) ?

[2016-12-07 08:51] xabbuh opened #20804 "[ClassLoader] Link to Composer documentation (when that part is finished there)"
Instead of mentioning the `composer install --apcu-autoloader` command in the deprecations introduced in #20777 we should link to the (to be written) documentation about this (see composer/composer#5947 for the related Composer issue).

[2016-12-07 09:27] dominikzogg opened #20805 "Symfony 3.2 isValid always return false"
the following code worked within symfony 2.8 (patch action), after updating to symfony 3.2 i always get into the if statement, even if there are no errors. calling the validator myself, would tell everything is fine.

[code]

Do i missed a change, that does not throw an exception, but ends in this strange behavior?

I already refactored the createForm to:

[code]

[2016-12-07 09:36] rcwsr opened #20806 "DateTimeToLocalizedStringTransformer ignoring time during reverse transform between timezones"
Updating from symfony v2.8.9 to v.2.8.10 one of my project's tests has started to fail, it looks like it was introduced here https://github.com/symfony/symfony/commit/c951bb6e970a41bcd2dd81a70558f560c0199659

I'm not entirely sure if it's a bug with symfony or my project, as it looks like that commit purposely ignores datetime strings without a time.

I have reproduced my project's failing test in

[2016-12-07 09:48] HeahDude commented on #20805
Hi @dominikzogg, you should read the [3.2 upgrade file](https://github.com/symfony/symfony/blob/master/UPGRADE-3.2.md#form) and call:
[code]

Does it solve your issue?

[2016-12-07 09:55] dominikzogg commented on #20805
@HeahDude no it does not, i saw within sample, but as you can see within submit() $this->submitted = true; will always be set

[2016-12-07 09:57] dominikzogg commented on #20805
[code]

doing it this way works perfect, which tells me validation works

[2016-12-07 10:04] HeahDude commented on #20805
Hmm, looks weird. Could you please fork symphony standard and add at the minimum of code to reproduce this? Thanks!

[2016-12-07 10:09] digilist opened #20807 "[DX] [Session] Improve error message when session write fails"
I got the following error message with Symfony, because a session write failed:

It took me some to figure out the cause for this. It has nothing to do with the save_path, but this was the first thing I looked into, when trying to solve the issue. However, the actual reason for this error was a wrongly configured memcached host. So the connection to memcached failed and I didn't remember that I ha

[2016-12-07 10:13] digilist commented on #17845
I ran into the same error, but for a different reason. I use the memcached session handler and configured the wrong host which resulted in the exact some error message. The error indicates there is an error with the file system write, but that is actually not the case, because the memcached connection fails. Maybe this helps someone who made the same mistake :smile: (I opend an issue to improve th

[2016-12-07 11:15] jakzal commented on #20400
@Einenlum would you mind responding to Nicolas' question?

[2016-12-07 11:18] nicolas-grekas commented on #20400
Closing because this must be related to xdebug, which is fixed now. Please reopen if that's not the case.

[2016-12-07 11:18] #20400 closed

[2016-12-07 13:05] laurensvandeput opened #20815 "[Workflow] No ability to implement my own MarkingStore?"
It seems I cannot implement my own MarkingStore in Symfony 3.2, besides using SingleStateMarkingStore and MultipleStateMarkingStore.

Our use case (which is a state machine) requires some mapping of the places within the state machine. In our domain, the workflow which sets a "status" is an enumeration while our entity holds numeric values (due to legacy reasons) for this status.

Implementing a M

[2016-12-07 13:06] abdallahmaali commented on #20450
i have this problem too after i updated  my composer   ,what i should do to fix this issue ?

[2016-12-07 13:16] Hanmac commented on #20805
you shouldn't use submit, which seems to be the problem.

this is how i do it on my systems:
[code]

use this to get the Request:
[code]

[2016-12-07 13:17] Simperfit commented on #20450
@abdallahmaali Are you using symfony 3.1.7 ?

[2016-12-07 13:21] abdallahmaali commented on #20450
3.2

[2016-12-07 17:41] Pherserk opened #20819 "D.I. is ignoring parent service definition if in yml file"
I have this issue, but I'm following documentation guidelines.
http://stackoverflow.com/questions/41020396/invalid-argument-key-nameoftheargument-found-symfony3-extending-an-abstract-s

what am I wrong?

[2016-12-07 23:20] lyrixx commented on #20815
Hello @laurensvandeput

Sorry for the late reply.

You can see all allowed configuration with the following command
`bin/console config:dump framework`.

[code]

So in your case, you have to register a new symfony service, and use it like
that:

[code]

[2016-12-08 02:44] laurensvandeput commented on #20815
Thanks @lyrixx!

[2016-12-08 03:08] ahungry commented on #20685
Looks good, thanks!

[2016-12-08 07:17] #20815 closed

[2016-12-08 07:23] #20780 closed

[2016-12-08 07:31] adityarai opened #20821 "phpunit file assumed as infected malware on shared server hosting"
Reason for the port block

During our regular scans, we have found malicious files in your account which may be infected with malware.
Here is the list of files our scanning has identified :

/home/nadiarafl/public_html/osandbox/ledgerbook/vendor/symfony/symfony/phpunit
Please clean up files listed above using virus/malware scanners. DO NOT delete the files directly as they may be important for yo

[2016-12-08 07:34] fabpot commented on #20821
Not sure what this is about, but this has nothing to do with Symfony. Your scanner gives you a false positive apparently.

[2016-12-08 07:34] #20821 closed

[2016-12-08 07:46] javiereguiluz commented on #20819
@Pherserk in the GitHub repository we only discuss about Symfony bugs and new features. For this kind of questions about using Symfony, it's better to keep using any of the support alternatives shown in http://symfony.com/support By the way, your question on StackOverflow already got answered. Thanks!

[2016-12-08 07:46] #20819 closed

[2016-12-08 08:54] fxOne opened #20822 "ControllerResolver::getArguments is no longer called"
I'm currently upgrading my Symfony 3.0 Project to 3.2 and wondering why my implementation of [`ControllerResolver::getArguments`](https://github.com/symfony/http-kernel/blob/master/Controller/ControllerResolver.php#L101) is no longer get called.

As far as i can see the issue is the change from [`$arguments = $this->resolver->getArguments($request, $controller);`](https://github.com/symfony/http-k

[2016-12-08 08:58] dsmink opened #20823 "Key "type_class" for array with keys "id, name, view_vars, children" does not exist in @WebProfiler/Collector/form.html.twig at line 460."
Is this issue related to: [Exception after 3.2 upgrade #20698](https://github.com/symfony/symfony/issues/20698) ?

The issue occurs opening the Form panel in the Profiler.

[2016-12-08 08:58] xabbuh commented on #20748
@iltar That could indeed be a good idea. But IMO that would be a new feature then and thus wouldn't help @thomasez here.

[2016-12-08 09:00] laurensvandeput commented on #20815
When adding a service to a state machine, I get the following exception:
`[InvalidArgumentException] "arguments" and "service" cannot be used together.`

The culprit seems to be the following code:
[code]

A possible fix could be:
[code]

[2016-12-08 09:10] thomasez commented on #20748
Well, it would fix what I was asking for in this issue :=) The bug was really a digression I should have dropped. (But it was the reason I felt the need of all roles from the token.)

Maybe it's better to split  this into two, this one with the original subject, aka "All roles (on that user) in $token->getRoles()" and  a new issue with "Circular reference detected for service "security.access.deci

[2016-12-08 09:12] javiereguiluz opened #20824 "Deprecate the use of objects as security roles"
As discussed in https://github.com/symfony/symfony/pull/20801#issuecomment-265688920 we're ready to deprecate the use of objects as security roles and start using simple strings as roles.

[2016-12-08 09:16] stof commented on #20824
Note that the handling of the user switching needs to be refactored as it currently relies on a special role class. but the good news is that I implemented a similar feature at work in a way not relying on a custom role class. So I can refactor the Symfony system too.

[2016-12-08 09:20] ogizanagi commented on #20822
As states the UPGRADE-3.1 file:

    be removed in 4.0. If you have your own `ControllerResolverInterface`
    implementation, you should inject either an `ArgumentResolverInterface`
    instance or the new `ArgumentResolver` in the `HttpKernel`.

You should inject an instance of `ArgumentResolverInterface` in the `HttpKernel`.
But simply setting this argument to `null` will use your controller re

[2016-12-08 10:04] fxOne commented on #20822
In the case that I overwrite the `http_kernel` service definition to set the last parameter to null you should remark that i also must overwrite the `debug.controller_resolver` service definition to set the `$argumentResolver` to `null` if i want to use the Symfony debug environment.

[2016-12-08 11:19] xabbuh commented on #20748
@thomasez I agree with you. So for your second issue it would be wonderful if could come up with a fork of the Symfony Standard Edition containing the changes that are necessary to reproduce your issue.

[2016-12-08 11:19] nicolas-grekas commented on #20758
ping @blacksaildivision would you like to create the PR (and get the credit ;) )?

[2016-12-08 11:20] iltar commented on #20824
That info could also be stored in the token attributes

[2016-12-08 11:24] stof commented on #20824
@iltar this is exactly what my own implementation is doing. And it works totally fine (the hard part will be the BC layer)

[2016-12-08 11:32] iltar commented on #20824
What could be done if I'm understanding its inner workings:
 - Add the info to attributes
 - Throw a deprecation when it is an object
 - if it's not an object and matches the string variant, check the attributes, else the role and throw a deprecation that the attribute should be set instead and a string role should be used

But I have to admit, never used the user switcher before, only a system wh

[2016-12-08 11:41] stof commented on #20824
@iltar the complexity of the BC layer is related to the parts allowing to check whether we are currently switching or no (which should not be handled by a role at all)

[2016-12-08 11:53] jstuhli commented on #20775
Also confirming the issue. It's impossible to rely on status code to determine if the console application exited properly.
This breaks many queueing libraries using workers that fork before doing the job, and inspect the childs status code in order to determine if the job was successful.

[2016-12-08 12:11] ShinDarth opened #20829 "Toolbar error when using dev-master"
The dev toolbar is broken in dev-master, it gives error:

``` Block "menu" on template "@WebProfiler/Profiler/base.html.twig" does not exist in @WebProfiler/Profiler/base.html.twig at line 17.```

that happens only  when using:

``"symfony/symfony": "dev-master",``

problem is not there using:

``"symfony/symfony": "~3.2.0",``

[2016-12-08 13:04] stof commented on #20829
@javiereguiluz I suspect this is rleated to using Twig 2.x, which does not allow rendering non-existent blocks anymore.

[2016-12-08 14:20] mvar commented on #20815
Is it ability if it's not working? IMHO, this issue should be left open until problem mentioned by @laurensvandeput will be fixed.

CC @lyrixx

[2016-12-08 14:40] HeahDude commented on #20815
@laurensvandeput This is expected. `arguments` is used for injection in default marking stores. If you use a service you can handle the injection in its own definition.

[2016-12-08 14:45] laurensvandeput commented on #20815
@HeahDude Agreed, but if you define a service within the context of a workflow, the arguments array seems to be empty which results in firing the exception. The following snippet reproduces the issue:

[code]

[2016-12-08 14:49] HeahDude commented on #20815
Indeed #20760 solves this issue.

[2016-12-08 15:01] ShinDarth commented on #20829
thanks for the PR, but unfortunately the problem persists

[2016-12-08 15:04] ogizanagi commented on #20398
This one can be closed as the related PR has been merged.

[2016-12-08 15:05] #20685 closed

[2016-12-08 15:10] #20398 closed

[2016-12-08 15:10] ShinDarth commented on #20829
Thanks for the PR, unfortunately the bug persists.

[code]

[code]

[2016-12-08 15:21] #20739 closed

[2016-12-08 15:22] #20720 closed

[2016-12-08 15:28] #20696 closed

[2016-12-08 15:32] stof commented on #20829
@ShinDarth the fix is in 2.7, 2.8, 3.1 and 3.2 branches, but not yet in master. Test it with the Symfony 3.2 branch

[2016-12-08 15:32] #20829 closed

[2016-12-08 15:58] #20761 closed

[2016-12-08 16:02] ShinDarth commented on #20829
@stof as I said in the report, there is no problem using 3.2 (even before the PR)

[2016-12-08 16:03] #20758 closed

[2016-12-08 16:08] nicolas-grekas commented on #20823
If you're on 3.2.0, the fix should be already merged in the 3.2 branch and 3.2.1 will be OK.
If you're on the latest commit on the 3.2 branch, the please provide a reproducer.

[2016-12-08 16:09] nicolas-grekas commented on #20798
Should be fixed

[2016-12-08 16:09] #20798 closed

[2016-12-08 16:52] ogizanagi commented on #16239
I've created https://github.com/symfony/symfony/pull/20834 in case this is at least something useful for the `connection` attribute.

[2016-12-08 17:12] stof commented on #16239
even this may not be BC (as connection names can be any string)

[2016-12-08 17:13] ogizanagi commented on #16239
@stof : Agree, but it's unlikely to have a connection named `%something%`.

[2016-12-08 17:18] Geolim4 commented on #20798
This was an issue on 3.0.2@dev ?

[2016-12-08 17:24] nikita2206 commented on #20763
Irrelevant after 3.2.0, 8f24549 added exceptions to the context so it's all possible now

[2016-12-08 17:24] #20763 closed

[2016-12-08 17:30] stof commented on #20798
@Geolim4 this is an issue when using Twig 2.x@dev (due to the deprecations added in 1.29, which were removed in the 2.x branch in between).
As the 3.0 branch is not maintained anymore for bugfixes, stick to a stable release of Twig instead of using the moving dev version of Twig (next major version)

[2016-12-08 19:26] murat11 opened #20837 "ArrayDenormalizer::supportsDenormalization, array denormalizer"
The code from [Here](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Serializer/Normalizer/ArrayDenormalizer.php#L70)

[code]

Why the array is sent to `$this->serializer->supportsDenormalization`? Should not we send the item of array? Or it's supposed that my _object denormalizer_ checks arrays also?

Thanks

[2016-12-08 23:09] YaoOcelotl commented on #20624
The example is ready see:
https://github.com/YaoOcelotl/symfony-standard/tree/example/compound-form-and-data-transformer

The root form does not use the data transformer and sets the data_class to class name ,and the child forms use the data transformer and sets the data_class to null.

Submit an empty form and the error at root level are as expected but for the childs the error bubbles.

[2016-12-09 02:24] simshaun opened #20838 "[Workflow] A Transition with an array of $froms is not handled properly (Symfony 3.2)"
$builder->addTransition(new Transition('save', 'init', 'draft'));
    $builder->addTransition(new Transition('publish', ['init', 'draft'], 'active'));

- The initial state is "init".
- Applying "save" works fine.
- Attempting to apply "publish" (after applying "save") results in an error.

This is caused by this method in `Workflow.php`:

    private function getTransitionForSubject($subject, Mark

[2016-12-09 02:58] kmark commented on #20838
Mentioned this in the PR thread, but again, thanks for your help in addressing this bug.

[2016-12-09 03:24] simshaun commented on #20838
@kmark brought up a good point in IRC. Both scenarios produce (practically) the same graph.

If this issue isn't actually an issue, I suppose there is a bug in the GraphvizDumper?

**Scenario 1:**

    $builder->addTransition(new Transition('save', 'init', 'draft'));
    $builder->addTransition(new Transition('publish', ['init', 'draft'], 'active'));

![image](https://cloud.githubusercontent.com/a

[2016-12-09 03:31] simshaun commented on #20838
Look at the PullRequest example given in the docs @ https://symfony.com/doc/master/workflow/state-machines.html.

It shows the **update** transition being valid from `[coding, travis, review]`.

I take that to mean:

So maybe this bug report actually is valid? lol

[2016-12-09 06:50] HeahDude commented on #20838
Hi @simshaun

A workflow implies to be in all "Froms" to get to the "Tos".

This is indeed the solution, but you're now defining a state machine which is a subset of workflow and implies transitions with one "From" to one "To".

So to ease the implementation of state machines it has been allowed to have transitions with the same name to handle many "Froms" to one "To".

[2016-12-09 07:09] HeahDude commented on #20771
Reading this issue again, I don't get why you use a type extension instead of a custom type. It would do the same job while keeping the possibility to use the real `LocaleType` and would avoid this BC break.

You just need to replace:
[code]

by:
[code]

[2016-12-09 07:33] #20802 closed

[2016-12-09 07:44] xabbuh commented on #19874
@GuilhemN I think you are right. See my attempt in #20841 to fix this.

[2016-12-09 08:29] HeahDude commented on #20838
Let's close here as well.

[2016-12-09 08:56] #20838 closed

[2016-12-09 10:37] Koriit commented on #6036
I fail to understand why this issue hasn't been resolved for 4 whole years now while it seems to me like an obvious bug!

There surely is a notice in Symfony documentation:

While my reaction was "Well, sure, that's obvious thing to do" it never occured to me that reading data from non existent session(no session cookie) would first **create** empty session and only then try to check if the data I

[2016-12-09 11:11] araines opened #20845 "[Console] Cannot call setCode with static closures"
Following this commit:
https://github.com/symfony/console/commit/9f7a193bb99947d8b226f4ef3917135b7209a975#diff-25a75e093c4a0d5564a36cebbb1384b3R290

I believe a BC break was introduced in Symfony 2.8 (and remains there) which means that it is no longer possible to use non-static closures with the console component.

Simplified example based on some of my code:

[code]

Results in:
[code]

This is

[2016-12-09 11:11] kubawerlos opened #20846 "[CI] [PHP7.1] fabbot.io wants space after nullable parameter type"
[code]
http://fabbot.io/patch/sensiolabs/SensioFrameworkExtraBundle/445/e4c023dda3c6a5966b18256f97ae12e5979b5006/cs.diff

[2016-12-09 11:17] stof commented on #20846
should be reported to PHP-CS-Fixer.

this repository is not about developing fabbot.io

[2016-12-09 11:17] #20846 closed

[2016-12-09 11:27] kubawerlos commented on #20846
@stof PHP-CS-Fixer doesn't seem to have problem with this.

[2016-12-09 11:34] araines commented on #20845
Managed to find the PR in question which introduced this issue: https://github.com/symfony/symfony/pull/14431

I'm going to look to prepare a patch

[2016-12-09 11:52] stof commented on #20846
well, then maybe fabbot.io needs to update its PHP-CS-Fixer version. But anyway, this repo is not where it is maintained.

[2016-12-09 11:56] kubawerlos commented on #20846
Any place to report it?

[2016-12-09 13:46] golpesareirooni opened #20848 "how to run symfony in my share host"
hi
i copied all symfony's folders and files in my host.
then import my database in phpmyadmin's host.
but nothing show, just my favicon!
how can i resolve this problem?
and how can check requirement of my symfony?

[2016-12-09 13:51] javiereguiluz commented on #20848
@golpesareirooni in the GitHub repository we only discuss about Symfony bugs and new features. For this kind of questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

By the way, this article should answer all your questions --> http://symfony.com/doc/current/setup.html

[2016-12-09 13:51] #20848 closed

[2016-12-09 15:09] tucksaun commented on #20846
Hello @kubawerlos.
This should be fixed when fabbot will use PHP-CS-Fixer 2.
I'm working on it so it should be there soon :)

[2016-12-09 15:41] ttibensky commented on #20179
@HeahDude I'm not using PATCH method, but yeah, it does the thing. For me this ticket is done.

[2016-12-09 15:50] robinvdvleuten opened #20850 "[FrameworkBundle] Incompatible use of dynamic environment variables when configuring framework.cache.default_redis_provider"
Hi there,

When I am trying to configure the default cache provider for the new cache implementation;

[code]

I get the following exception when clearing the cache;

[code]

Which is a bit strange as it seems to look like a very good use case of using the new env functionality to me.

[2016-12-09 15:52] nicolas-grekas commented on #20850
You need to have the redis:// out of the env param, e.g.:
`default_redis_provider: "redis://%env(REDIS_HOST)%"`

[2016-12-09 15:53] nicolas-grekas commented on #20850
closing since this is not a bug, see http://symfony.com/support
(but you should have the answer anyway  :) )

[2016-12-09 15:55] robinvdvleuten commented on #20850
Thanks @nicolas-grekas for the explanation! I thought I stumbled upon a bug, so please excuse me for that :)

[2016-12-09 15:56] HeahDude commented on #20850
@nicolas-grekas I got the same error trying to use an env variable to define `mailer_transport`, I'm not sure this is not a bug though.

[2016-12-09 16:01] nicolas-grekas commented on #20850
it's not a bug for sure, it's what it says, an incompatible use of dynamic environment. You can't inject an env var anywhere. Any place that is reading the value of a parameter at compile time (in a DI ext or a compiler pass) is not compatible with env vars.
See e.g. for a PR that move using the value of a param from compile to runtime to allow using env vars there:
https://github.com/symfony/symf

[2016-12-09 16:05] HeahDude commented on #20850
Understood! Thank you for the explanation :)

[2016-12-09 16:05] robinvdvleuten commented on #20850
@nicolas-grekas ok so you suggest to create a PR to have this functionality on runtime for the default cache provider? As it is very required to have because Heroku and other SAAS providers out there prepend `redis://` to their urls.

[2016-12-09 16:07] stof commented on #20850
@nicolas-grekas it would indeed be useful to support env variables for redis URLs for the cache, as this is a common case for using URLs on PaaS

[2016-12-09 16:34] nicolas-grekas commented on #20850
We could have a new `default_redis_url` to do that yes. @robinvdvleuten if you'd like to submit a PR for that, please do.
Meanwhile, you can define the service yourself:
[code]

[2016-12-09 16:47] HeahDude commented on #20179
Thank you @ttibensky for confirming this :)

[2016-12-09 17:29] simshaun commented on #20838
Did you see my last comment here? The docs are contradictory to your statement, no?

[2016-12-09 17:35] HeahDude commented on #20838
Please open an issue in the docs if you feel something is too misleading. Thanks!

[2016-12-09 17:41] nicolas-grekas commented on #19728
See #20851 for an implementation of the `CacheItem::getTags()` method

[2016-12-09 17:45] stof commented on #20838
@simshaun the graphviz dumper indeed does not handle properly workflows where transition names are not unique (due to the fact that uniqueness was a requirement at the time we implemented the dumper based on this assumption, and the requirement was removed later)

[2016-12-09 18:13] peterrehm opened #20853 "[BC Break][Bug] Form is validating constraints of wrong validation group in 3.1.4 / 3.2"
#19388 introduces a BC break which just hit me.

I am having an application where FOSUserBundle is used and I have a form manipulating some fields of the custom user entity. Since the above mentioned PR the validator insists on constraints which are not  in the same validation group.

E.g. the `plainPassword` constraint (https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/confi

[2016-12-09 18:42] Simperfit commented on #20837
@murat11 IMO You don't want to send the item, because you want to check if the serializer supports denormalization for the value you sent.

[2016-12-09 19:41] robinvdvleuten commented on #20850
@nicolas-grekas sure! I'll do it in the upcoming days. Thanks for your help!

[2016-12-09 20:56] murat11 commented on #20837
@Simperfit Thank you for comment, but not sure what you mean.
We are in `ArrayDenormalizer`, `$data` is array.
`$this->serializer->supportsDenormalization` supposed to find some _object denormalizer_ and send `$data` there for denormalization i.e it will send array to denormalizer not supposed to process arrays.
I think we must do something like
[code]
You can check `denormalize` method in same cl

[2016-12-10 05:56] 3zzy opened #20854 "DomCrawler issue with XPath Query"
[code]

Error:

[code]

[2016-12-10 10:15] Simperfit commented on #20837
What is your case about that ?
It is something that does not work ?

I don't understand why you would want to do that.

[2016-12-10 12:58] dunglas commented on #20837
It looks like a bug, I agree that elements of the array should be tested, not the array itself. WDYT @derrabus?

[2016-12-10 13:11] ogizanagi commented on #20837
In practice you rely on the `$type` argument.
In most cases the `$data` argument has no value for deciding if a denormalizer supports it (because it requires too much work, like checking each required property exists in the normalized array, or something similar. You'll throw a logic or runtime exception when trying to denormalize non properly "formatted" data instead).

The `$type` argument preva

[2016-12-10 13:13] Simperfit commented on #20854
Could you please do the following ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard
- Do the minimum modification to reproduce the bug
- Post the link in here

Could you please also give us the version of Symfony ?

We will test that and confirm the bug.

[2016-12-10 13:13] dunglas commented on #20837
For instance you can check if some special keys (like JSON-LD ones) are defined.

[2016-12-10 13:21] ogizanagi commented on #20837
Ok, but is it really the responsibility of `supportsDenormalization`?
You explicitly asked for the `$type` and `$format` (JSON-LD). The data are no longer relevant for the denormalizer to say it should try denormalize it or not. It should try and throw a proper exception if something went wrong.

Taking your example, imagine you want to deserialize a request containing a collection of JSON-LD enco

[2016-12-10 14:25] murat11 commented on #20837
@ogizanagi

Default behavior of `json_decode` and [JsonDecode Symfony decoder](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Serializer/Encoder/JsonDecode.php#L21) is to create stdClass objects (not assoc arrays) and I also came to decision not to use assoc arrays when the item supposed to be object. But even if `item of $data` is assoc array I think that `supportsDenormaliz

[2016-12-10 14:40] ogizanagi commented on #20837
@murat11 : Thank you for your examples.

Again, I think it's not the `supportsDenormalization` responsibility to return `true` or `false` for such checks (which will lead to a generic `UnexpectedValueException: Could not denormalize object of type GoalAPI\SDKBundle\Model\Tournament, no supporting normalizer found.`), but instead `denormalize` that should throw a proper exception, with the maximum

[2016-12-10 14:45] murat11 commented on #20837
@ogizanagi

[2016-12-10 14:49] ogizanagi commented on #20837
If we consider this as a bug fix however, it may have a little impact on performances, as it'll call `supportsDenormalization` for each items in the collection and normalizers. Another argument for not doing expensive work or extra checks with `$data` inside `supportsDenormalization`.

[2016-12-10 17:15] yakobe commented on #20853
I'm not sure I understand your example. Could you add some more information so i can understand your issue?

[2016-12-10 17:34] dmaicher commented on #20854
Your xpath expression seems invalid to me. It starts with `(` and its never closed?

[2016-12-10 20:11] Simperfit commented on #20854
@dmaicher Didn't saw that in the first place but your are right !
@3zzy could you test without the parenthesis ?

Status: Reviewed.

[2016-12-10 22:05] ogizanagi opened #20864 "[RFC][DependencyInjection] Deprecate Definition::get/setFile() to be removed in 4.0"
The DependencyInjection component allows to require a file before instantiating a service. This feature is documented on the `Definition` page: https://symfony.com/doc/current/service_container/definitions.html#requiring-files.

[code]

or

[code]

Will generate using the PhpDumper:

[code]

This feature exists since the very beginning (https://github.com/symfony/symfony/commit/65d075016888e202cc2

[2016-12-11 09:54] javiereguiluz commented on #20776
@dsentker although your proposal is legit, I'm afraid that we must close it as "won't fix" because, as explained by @stof, it's not technically possible to implement it. In any case, thanks for proposing improvements for Symfony and please, keep doing that. Thanks!

[2016-12-11 09:54] #20776 closed

[2016-12-11 09:56] javiereguiluz commented on #20791
👍

This goes along changes like the one we introduced recently in FrameExtraBundle to not enable unnecessary things: https://github.com/sensiolabs/SensioFrameworkExtraBundle/issues/427

[2016-12-11 10:01] Simperfit commented on #19948
@dunglas this can be closed ?

[2016-12-11 10:13] #19948 closed

[2016-12-11 10:32] ogizanagi commented on #20776
Adding this information to the Definition from the file loaders would not be hard, though.

But it's probably not worth it. Using the PhpStorm Symfony plugin, you're already able to jump to a service definition from a class, and I don't think it has much usefulness to add this information in the debug output.

[2016-12-11 11:13] derrabus commented on #20837
Thanks adding me to the discussion, @dunglas.

Thinking about it, passing back the whole array breaks the semantics of the `supportsDenormalization()` method. But as @ogizanagi pointed out, you normally check for the `$type` parameter.

The purpose of `supportsDenormalization` is to find a suitable denormalizer for a piece of data. It is okay if the denormalizer finds out that the data is malforme

[2016-12-11 11:39] ogizanagi commented on #20771
I had the same issue and indeed switched back to `ChoiceType::class` as parent instead. I had no reason to have `LocaleType` as parent, appart from pseudo semantic.

However, I think it'll be great to ask for a subset of locales, languages, countries (...) through an option. This would ease creating some dedicated types scoped to the application needs (even if the implementation of those types is

[2016-12-11 11:48] HeahDude commented on #20771
@ogizanagi see https://github.com/symfony/symfony/issues/11847 and https://github.com/symfony/symfony/pull/18334 to try a more global approach.

[2016-12-11 12:27] iltar commented on #20864
So I learned something new today! I think this comes from a pre-PSR autoloading era. Personally I have no problems with this being removed.

[2016-12-11 13:06] chalasr commented on #20864
Same here, I never seen this anywhere and I would be curious to see a use case where the need is not solvable through autoloading.

👍  burninate it!

[2016-12-11 14:57] ogizanagi commented on #20837
Option 3 looks the best.

Should we challenge the `$data` argument in `supportsDenormalization` for Symfony 4.0?

As you said, it still looks like something to avoid and en error in the initial design of this interface.

[2016-12-11 15:49] Simperfit commented on #20864
Never seen that either ;).

Remove it ! :p

[2016-12-11 20:31] sebastianlp commented on #19532
So... there is any solution to this?

[2016-12-11 20:46] javiereguiluz commented on #19532
Indeed this is an incredible annoying issue. I wish we could do something ... but I'm not sure is technically possible form our side :(

[2016-12-11 20:48] sebastianlp commented on #19532
Such a pity :( How can I run my tests without this?

[2016-12-11 20:56] javiereguiluz commented on #19532
@sebastianlp the solution is to not use the PHPUnit PHAR and instead, do a Composer + require-dev + phpunit/phpunit and execute your tests via `./vendor/bin/phpunit` (or `./bin/phpunit` depending on your Symfony config).

[2016-12-11 20:59] nicolas-grekas commented on #19532
The even better solution is to require Symfony's php unit bridge and use the simple-phpunit wrapper instead.

[2016-12-11 21:08] sebastianlp commented on #19532
Thank you @javiereguiluz & @nicolas-grekas!!! Using the bridge it's all OK!

[2016-12-11 22:35] vudaltsov opened #20872 "[Profiler][Forms] Adding to form after ->createForm() leads to an exception in Profiler"
I have a controller with the following code:
[code]

When I go to the profiler, it throws an exception `Key "type_class" for array with keys "id, name, view_vars, children" does not exist in @WebProfiler/Collector/form.html.twig at line 460.`

So adding elements to the created form (not form builder) leads to this problem.

Btw, is it a bad practice to add buttons (specific for controller action)

[2016-12-12 04:08] MicWit commented on #19851
We are now using a different directory for all logs, cache and session data anyhow, so this is no longer an issue for us. I think the issue is coming back to the fact that the files are on a windows machine so the permissions look pretty screwed from the Linux end. We didn't save them on the virtual machine and samba as our unix team requested we didn't for security and support reasons.

To get ar

[2016-12-12 07:33] javiereguiluz commented on #20872
@vudaltsov thanks for reporting this issue. It looks like a duplicate of #20823 which has already been fixed in the 3.2 branch and it will be available in the upcoming 3.2.1.

Regarding the question about buttons, the Symfony Best Practices book mentions this in http://symfony.com/doc/current/best_practices/forms.html#form-button-configuration  and you can always ask others in the support channels

[2016-12-12 07:33] #20872 closed

[2016-12-12 09:05] jvasseur commented on #20864
I'm a bit :-1: for removing it, I never used it but i see a valid use case for it : requiring a generated php file (a service could be generated from some configuration and dumped as a php class). Such a case could not be easily handled by the composer autoloader.

[2016-12-12 10:17] derrabus commented on #20837
Removing the `$data` argument would make `supportsDenormalization` cachable for the serializer. That would be a good thing I guess.

[2016-12-12 10:27] ogizanagi commented on #20837
As `$context` will soon be available in `supports*` method, actually, it won't be cachable (https://github.com/symfony/symfony/pull/19371) ^^'

[2016-12-12 10:58] #20823 closed

[2016-12-12 11:02] lsmith77 opened #20873 "[Var-Dumper] improve search-ability of data"
Using the var-dumper component in a debugging tool that outputs multiple (deserialized) JSON documents via the var-dumper. Generally as long as the data structures are not expanded they are not searchable via the browser search. Using ctrl+click, I can expand one dump at a time.

It would be nice if there would be some way to output input fields to easily search across individual dumps as well as

[2016-12-12 12:10] vudaltsov opened #20874 "[Profiler][Forms] Exception when two identical forms are rendered on the same page"
Symfony 3.2

I have a system of widgets submitted via Ajax. Sometimes I can have the same form rendered twice on the same page by the same embedded controller.

When this happens, the profiler doesn't start correctly, throws a js alert with 404 and "Exception in FormDataCollector.php line 274: Serialization of 'Closure' is not allowed" is shown right at the end of the page.

For right now fixed it

[2016-12-12 12:15] javiereguiluz commented on #20874
@vudaltsov thanks for reporting this issue ... but this is too a duplicated of another reported issue: #20698  This is now fixed in the repository and it'll be available in the upcoming 3.2.1 version. Thanks!

[2016-12-12 12:15] #20874 closed

[2016-12-12 12:29] derrabus commented on #20837
😳 😱

[2016-12-12 12:36] lyrixx commented on #20873
I usually, use the following syntax: `dump([$obj1, $obj2, $obj3])` and then I click on the root node and finally use the ctrl+click feature on the root node to expend everything.

[2016-12-12 12:43] nicolas-grekas opened #20875 "[DI] Add "lazy collection" type"
I was looking at #12521 then #20039. Both deal with lazyness in the event dispatcher.
The issue is having event listeners/dispatchers be instantiated only when actually needed.
`ContainerAwareEventDispatcher` partially works around the issue, but in a non generic way (bound to Symfony's DI  container and not compatible with private services).

But let's imagine we add a new lazy collection type to