[2017-12-07 09:57] dkozickis commented on #25372
Second that. Trying to trace an issue. For whatever reason after handleRequest my Entity has one of the fields as null. Trying to swap around order of entity parameters in Form - parameter in some position ([2] in my case) gets the null

[2017-12-07 10:08] xabbuh commented on #25372
I am sorry, but without further information we won't be able to help you. We would at least need a description of steps that one must perform to reproduce the issue (best would be a project one could just check out).

[2017-12-07 10:35] wtorsi commented on #25326
@xabbuh  Sorry, forgot one moment.  Here is my framework config, I have added the cache section, without it everything works fine.

[code]

[2017-12-07 10:35] wtorsi commented on #25326
Yep, I have understood, I use apcu cache :(

[2017-12-07 11:09] alcaeus commented on #25329
@xabbuh not trying to rush you, but do you have a rough idea when a fix might be available?

[2017-12-07 12:55] #23910 closed

[2017-12-07 13:08] benyang2015 opened #25374 "how to update symfony"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.10

WANT TO UPDATE TO 3.3.14,use composer update symfony/symfony:3.3.14,can't work,it update to 3.4.1,how can I do?

[2017-12-07 13:09] parthiv2585 opened #25375 "Symfony 3.4 +One of listeners must count and slice given target"
I have Upgrade 2.8 to 3.4 and i have get below error.

![screenshot-2017-12-7 one of listeners must count and slice given target 500 internal server error 1](https://user-images.githubusercontent.com/3072019/33716899-e214c722-db7d-11e7-83ad-d42482c5a9be.png)

My Composer.json

[code]

Please help me to fixed issue.

[2017-12-07 13:19] xabbuh commented on #25329
@alcaeus You can find the current state of my fix at https://github.com/xabbuh/symfony/tree/issue-25329. I appreciate any feedback, but I still have to add some more tests and think about some edge cases. I want to be careful here to not introduce other new issues.

[2017-12-07 13:22] xabbuh commented on #25375
I am sorry, but I am closing your issue as the problem is not related to Symfony, but to the KNP Paginator component (which is used by the KnpPaginatorBundle). This component is not part of the Symfony core and they have [their own repository](https://github.com/KnpLabs/knp-components).

[2017-12-07 13:22] #25375 closed

[2017-12-07 13:22] xabbuh commented on #25374
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2017-12-07 13:22] #25374 closed

[2017-12-07 13:41] alcaeus commented on #25329
I’ll take a look later on, thanks!

[2017-12-07 13:44] xabbuh commented on #25329
Thanks, and of course everyone else involved in this thread: please test your applications as well.

[2017-12-07 13:50] xabbuh commented on #25326
Status: Reviewed

[2017-12-07 13:57] pdugas commented on #25368
Working on getting an example going.  What I have now is on an internal GitLab host and contains some proprietary stuff.  I'm working today on a fork of the [starter-project](https://github.com/GoogleCloudPlatform/appengine-symfony-starter-project) that demonstrates my issues.  Standby...

[2017-12-07 14:11] binano commented on #21204
arf... an error returns every morning at 2:20 AM. It's googlebot that triggers this error :
[Thu Dec 07 02:20:34 2017] [error] [client 66.249.64.19] [host www.binano.fr] (104)Connection reset by peer: AH10143: FastCGI: comm with server "/homez.53/binano/www/viewtopic.php" aborted: read failed
[Thu Dec 07 02:20:34 2017] [error] [client 66.249.64.19] [host www.binano.fr] AH10149: FastCGI: incomplete

[2017-12-07 14:14] binano commented on #21204
Arf... now I have a mistake every morning at the same time. this error is triggered by googlebot every morning at 2:20 AM, every day.

[Thu Dec 07 02:20:34 2017] [error] [client 66.249.64.19] [host www.binano.fr] (104)Connection reset by peer: AH10143: FastCGI: comm with server "/homez.xx/user/www/viewtopic.php" aborted: read failed
[Thu Dec 07 02:20:34 2017] [error] [client 66.249.64.19] [host ww

[2017-12-07 14:26] antalaron opened #25377 "File links leave empty blank pages in browser"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | from 3.2

I configured my IDE (subl) under the framework configuration.

When I click on for example the name of a listener class in the Security panel in the profiler, it opens a new tab in my browser, and then opens the IDE. W

[2017-12-07 15:15] leotiger commented on #25338
@sroze,

I've tested your fix and it works as expected throwing a circular reference exception. Thx.

[2017-12-07 15:53] dbankmann opened #25379 "YAML parser: No Escaping of single quotes before newline?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  |  dcf3a9dfac146a0e10757a91de0b541fcd79de4f

Hi, with the following yaml file
[code]
I get the  Malformed inline YAML string exception. The file should be valid yaml though.

[2017-12-07 16:03] #25335 closed

[2017-12-07 16:06] #25338 closed

[2017-12-07 16:10] #25334 closed

[2017-12-07 16:13] #25214 closed

[2017-12-07 16:17] #23416 closed

[2017-12-07 16:52] #25326 closed

[2017-12-07 16:55] #24782 closed

[2017-12-07 18:06] fabpot commented on #21386
Closing as won't fix for reasons explained in #24667

[2017-12-07 18:06] #21386 closed

[2017-12-07 18:35] gnutix commented on #25334
Thanks Nicolas for the fix. So the idea is that the AppKernel.php codes enables it, and behind the scene it's disabled for PHP < 7. Guess that's alright for such a "not-well-know" optimization parameter, but still I find it a bit strange. We do have PHP 7 conditions in app.php/app_dev.php so it's explicit. Why not in AppKernel too ?

[2017-12-07 18:44] #25307 closed

[2017-12-07 18:50] pdugas commented on #25368
Ended up starting a new project rather than fork that one so I could start as clean as possible.

See [pdugas/appengine-starter](https://github.com/pdugas/appengine-starter).  The [Current Status](https://github.com/pdugas/appengine-starter#current-status) section in the README explains where things currently stand. I've not yet added Doctrine and JMS Serializer and other stuff to the effort yet t

[2017-12-07 22:29] theofidry commented on #25368
@pdugas regardless of that possible issue you are facing IIRC Google allows you to ship a machine with your own container in which case you could have complete control of what's going on instead of relying on their machines with a deprecated version of PHP.

[2017-12-07 22:35] pdugas commented on #25368
Yes @theofidry, quite correct.  Their "Flexible PHP" environment can use current PHP, allows filesystem access, and removes a number of other limitations.  However, it also dramatically increases the cost for the service since it doesn't scale down to zero so during development, it can cost about $40/month.  Using the more limited Standard Environment cost $0 unless it starts really getting used.

[2017-12-08 01:28] spectrelb opened #25387 "how to Solve password_verify response time too long"
I use  BCryptPasswordEncoder.php generate password , When I implement the login api , i find  response time too long , The reasons are as follows：

    /**
     * {@inheritdoc}
     */
    public function isPasswordValid($encoded, $raw, $salt)
    {
        return !$this->isPasswordTooLong($raw) && password_verify($raw, $encoded);
    }

i find password_verify response time too long,  500ms ！！！
I

[2017-12-08 02:23] weaverryan commented on #25256
Yea, I agree with @sroze: I'm not sure this is really possible (the missing Twig function is a good example) by calling a `setMissingComponent` method everywhere necessary. But yea, maintaining this list and causing extra traffic on the main repo is legitimate.

One option would be to create a new repository that contains *just* this data and add that as a dependency to `frameworkbundle`. That wou

[2017-12-08 06:08] noniagriconomie commented on #25387
Hi, with a cost of 15, no problem on all of my projects
php 7.1
are you sure it is this method ?

[2017-12-08 06:34] curry684 commented on #25387
500ms is pretty normal and acceptable in general. You are aware password hashing is supposed to be slow?

[2017-12-08 07:22] xabbuh commented on #25387
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2017-12-08 07:22] #25387 closed

[2017-12-08 08:14] mcfedr commented on #25329
If it helps, another example that has broken:

[code]

[code]

[2017-12-08 08:16] xabbuh commented on #25329
@mcfedr Would that example also be fixed by the patch I referenced in https://github.com/symfony/symfony/issues/25329#issuecomment-349964566?

[2017-12-08 08:42] mcfedr commented on #25329
@xabbuh Yes its fixed.

[2017-12-08 10:07] Simperfit commented on #25379
I can reproduce this, @dbacc Do you want to provide a PR to fix this behaviour ?

[2017-12-08 10:13] xabbuh commented on #25329
Can everyone affected by the described issue confirm that #25389 fixes it?

[2017-12-08 10:14] xabbuh commented on #25341
@dereklopes Can you confirm that #25389 fixes your issue? Sorry for the inconvenience.

[2017-12-08 10:17] xabbuh commented on #25379
I suggest to not invent any time here. I have a pending patch for #25239 locally which will probably fix this issue too.

[2017-12-08 10:18] Simperfit commented on #25379
Ok @xabbuh thanks ;)

[2017-12-08 10:28] PatrickLEBON974 opened #25390 "Old default value"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.x

Hi,
it's just a little missing thing in the v4, for the HttpFoundation component, in the request.php line.315,
the default HTTP_USER_AGENT is still 'Symfony/3.X'

[2017-12-08 10:46] Soullivaneuh commented on #11879
I agree with the issue. Currently, if we wan't to properly handle it, we have to do tricky things like exception message compare. Not very reliable.

Having an `AlreadySwitchedUserException` or something like that would be largely enough and not hard to implement IMHO.

If the end user have multiple windows of your website containing this button, he will ran on the issue in any case.

[2017-12-08 11:01] manseuk commented on #24178
@stefandoorn What was the fix ? we are having the same issue

[2017-12-08 11:06] pableu opened #25393 "Cookie-Names are prefixed with "Set-Cookie:" by AbstractSessionHandler::destroy"
When creating cookies using setcookie() whilst having a session started, our own cookies are prefixed by "Set-Cookie".

I think the issue becomes quite obvious by reading AbstractSessionHandler::destroy:
https://github.com/symfony/symfony/blob/ecf54d5aa06cc3e26bfa554cd3dac70cc07dea1f/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/AbstractSessionHandler.php#L159

In line 143, all head

[2017-12-08 11:14] maidmaid opened #25394 "[Form] Bug in debug:form command"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0

[code]

[2017-12-08 11:24] stefandoorn commented on #24178
@manseuk It had something to do with some services that shouldn't have been cleaned up between tests (kernel/http_kernel). My issue got solved by updating my Sylius base installation, so I'm not 100% sure what is the exact fix in this case.

[2017-12-08 12:40] nicolas-grekas commented on #23718
See #25288, which could be used instead.

[2017-12-08 12:40] emodric commented on #25329
@xabbuh Fixed it for me! :+1:

[2017-12-08 12:42] Simperfit commented on #25394
@maidmaid I can reproduce but only on 4.0.*, on 4.1@dev it does not trigger an error. I don't see any differences in the code.

I'm will be trying to provide a fix, but it seems that we could do better than what I though, by searching to root cause instead of fixing the error directly. Creating the PR just now.

[2017-12-08 12:43] Simperfit commented on #25394
Status: Reviewed

[2017-12-08 12:51] Simperfit commented on #25393
Do you want to provide the Pull Request ?

[2017-12-08 12:52] Simperfit commented on #25372
Could you do the following, so we could get a reproducer ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

In case you need some help you can read this blog post : https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-08 13:39] pableu commented on #25393
Does #25398 work?

[2017-12-08 13:46] xabbuh commented on #25181
Status: Reviewed

[2017-12-08 13:57] xabbuh commented on #25181
This is related to your association being defined as eager. As we already have an existing issue for this (see #23961) I am going to close here. Thanks for the reproducer.

[2017-12-08 13:57] #25181 closed

[2017-12-08 14:01] yceruto commented on #25394
I can't reproduce the bug either. @maidmaid could you please show a full dump output before this line?
https://github.com/symfony/symfony/blob/d6d187d26e0921a428c7ecc423d4f915c8f72c14/src/Symfony/Component/Form/Console/Descriptor/TextDescriptor.php#L156

[2017-12-08 14:03] nicolas-grekas commented on #25393
Perfectly, thank's for it, and congrats for your first PR!

[2017-12-08 14:03] #25393 closed

[2017-12-08 14:13] yceruto commented on #25394
@maidmaid does this problem happen only with `ChoiceType`?

[2017-12-08 14:17] Simperfit commented on #25393
Congrats for the first PR !

[2017-12-08 14:18] xabbuh commented on #23961
I am going to close here as this is something that is related to how Doctrine behaves when you make use of eager loading. Either disable eager loading for your associations or create a custom repository method that you use in your unique constraint that does not use eager loading.

[2017-12-08 14:18] #23961 closed

[2017-12-08 14:21] Simperfit commented on #25394
The dump of options
[code]

The whole stack with DateType :
[code]

@yceruto with the patch provided it does fix it, but I feels like it's not the right fix ;).

[2017-12-08 14:29] yceruto commented on #25394
Yep, I also feel it. The great news is that I see the problem now:
[code]
So I'm working on the solution, thanks for the `dump`.

[2017-12-08 14:38] GromNaN opened #25400 "Add a lock store using SQL databases functions (get_lock, pg_advisory_lock)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.1

The lock component supports local stores : Semaphore and Flock.
For locking over distributed servers, remote stores require Memcached or Redis.

MySQL/MariaDB and PostgreSQL are database server typically used by Symfony applica

[2017-12-08 14:39] Vinorcola opened #25401 "[Validator] Bad path starting with 'data'"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.1

When using the validator with `@Callback()` annotation, there is an issue with path being preprended by `data.`.

[code]

The error is displayed at top-level since it is attached to the root form. It seems to come from the p

[2017-12-08 14:39] Vinorcola commented on #25401
Other remarks:

It seems the documentation is out of date since the path convention as changed.
https://symfony.com/doc/current/reference/constraints/Callback.html#the-callback-method
The path is no longer the attribute names, but `children[attributeName]` in order to work.

[2017-12-08 14:41] pacid commented on #23175
Btw, clearing cookies help to get rid of this problem.

[2017-12-08 15:12] #25329 closed

[2017-12-08 15:33] yceruto commented on #25394
See https://github.com/symfony/symfony/pull/25404

[2017-12-08 15:45] yceruto commented on #25394
Since the debug command was not registering with all the information it needs (fixed in https://github.com/symfony/symfony/pull/25396), we found this error, so every cloud has a silver lining! :)

[2017-12-08 16:28] Seb33300 commented on #25331
I am trying to create a test but I am not able to make it working.

In `Symfony\Component\Form\Tests\Extension\Validator\Constraints\FormValidatorTest`

I would like to create a form with a single field and submit it a blank value (in order to check if the `NotBlank` constraint is properly working)

Then we should have to change the submit by `$form->submit(array(), false);` to reproduce the issue

[2017-12-08 17:02] nicolas-grekas commented on #25286
@raziel057 I'd be happy to review the PR to go to SF4, please ping me when you've opened it.
Cheers

[2017-12-08 17:05] pableu commented on #25393
Great! Thanks for accepting it so quickly :-)

[2017-12-08 17:52] xabbuh commented on #25401
Can you create an example project that allows to reproduce your issue? The `data` part of the property path is coming from the form validator so with a quick glance this looks expected to me.

[2017-12-08 19:19] Majkl578 opened #25405 "YAML BC break caused by #25389"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| Symfony version  | master
| Broken in | #25389

The PR #25389 introduced a change that now breaks Doctrine ORM's test suite.

Here's the stack trace:
[code]

Here's the YAML file causing the error:
[code]

Sorry for not specific issue title, I have absolutely no idea what t

[2017-12-08 19:49] nicolas-grekas commented on #14969
Closing as won't fix.
The linked PR failed, so this is not trivial.
If someone that actually needs that want to make it, please do.

[2017-12-08 19:49] #14969 closed

[2017-12-08 21:32] xabbuh commented on #25405
Thanks for reporting so quickly. I will take a look at it so that this will be fixed before the next release.

[2017-12-08 22:07] raziel057 commented on #25286
@nicolas-grekas Thanks for your review.

New PR is here: https://github.com/TechEmpower/FrameworkBenchmarks/pull/3139

[2017-12-08 23:03] fiher opened #25406 "Command for generating login and register."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.1

First off - Thank you for developing and managing Symfony! This is my first ever contribution after using symfony for more than a year.

At the beginning of my experience with Symfony and currently after the new version I hav

[2017-12-09 00:30] Rudloff commented on #24924
Is there is no easy fix for this, would it be possible to throw an exception that explains that PHP needs to be non-thread safe?
I find the current behavior very confusing.

[2017-12-09 01:15] #25372 closed

[2017-12-09 08:23] nicolas-grekas commented on #24596
Can you try something else?
In the debug component, file ErrorHandler.php, there is a line like this one:

if you change that 100 to a 10000, does it change anything?

[2017-12-09 10:07] nicolas-grekas commented on #8703
Fixed in #25408

[2017-12-09 10:20] ro0NL commented on #25370
In general this is not how the config component works. An array node defines a fixed structure (semantic), its default value is resolved from child nodes. Thus in your case;

[code]

IMHO the current error is just fine; preferring a single way of doing things.

[2017-12-09 12:07] nicolas-grekas commented on #14569
I'm closing because this is old, nobody else complained, and I just tested with recent pgsql+php and didn't reproduce the issue.
Please provide a reproducer if you still gave it.
Here is mine:
[code]

[2017-12-09 12:07] #14569 closed

[2017-12-09 13:23] TomasVotruba commented on #21699
With bold news in Symfony 3.3 like PSR-4 service autodiscovery, I think this makes more sense to current coding context now.

Why? Because I cannot use this awesome PSR-4 autodiscovery on most of my services :(

Instead, I have to write them manually all one by one.

[code]

### I'd love something like this

- explicit
- time-saving
- typo-proof
- make use of PSR-4 way

[code]

What do you think?

[2017-12-09 13:24] TomasVotruba commented on #22755
What do you think about making this optional? Like autowiring
https://github.com/symfony/symfony/issues/21699#issuecomment-350466329

[2017-12-09 13:27] nicolas-grekas commented on #21699
You can already use bindings https://symfony.com/blog/new-in-symfony-3-4-local-service-binding
Or use the parameter bag as a service in 4.1 since #25288.

[2017-12-09 13:41] TomasVotruba commented on #21699
Wow, thanks! :clap:

I never thought that could be used this way, even though I've read the post.

Also ParamBag as service is great, I have the same bundle for ages :+1:

[2017-12-09 17:07] nicolas-grekas commented on #16980
Fixed in #25408

[2017-12-09 17:08] unckleg opened #25411 "RuntimeException | Stream Socket: Broken pipe"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

Assigning value of Symfony\Component\HttpFoundation\File()  to entity file property leads to partial rendered view and bad exception printing on the same.

`$entity->setPhoto(new File(null, false));`

[2017-12-09 18:03] iltar commented on #25406
This sounds pretty much like the [FOS User Bundle](https://symfony.com/doc/current/bundles/FOSUserBundle/index.html).

However, if you wish to create some sort of a generator, I would highly advice to make the generated code follow good practices, thus [not having an entity implement the UserInterface](https://stovepipe.systems/post/decoupling-your-security-user).

[2017-12-09 19:40] javiereguiluz commented on #25390
Closing as fixed by #25392.

[2017-12-09 19:40] #25390 closed

[2017-12-09 20:09] fiher commented on #25406
@iltar Thank you for this article. I indeed didn't know that implementing the UserInterface is a bad practice. As for FOSUserBundle - You don't really generate login and register...you just download them with the bundle. The one thing I dislike about FOSUserBundle is that to a new user it looks like magic. It looks like magic anyway, but with FOSUserBundle it is even more so.

My idea with the gen

[2017-12-09 22:28] nicolas-grekas commented on #24767
Would you mind trying #25413 and telling if it works better?

[2017-12-10 06:32] felixfbecker opened #25414 "Exclude non-essential files from Composer package"
I noticed all the Symfony components include the tests in the Composer package, which for all components amounts to multiple MB, which bloats distribution packages, container image sizes etc. It would be nice to [exclude them in a .gitattributes file](https://www.reddit.com/r/PHP/comments/2jzp6k/i_dont_need_your_tests_in_my_production/).

[2017-12-10 09:39] tzfrs commented on #24596
@nicolas-grekas

I did the tests (without the replacement of `registerLoader` to `registerUniqueLoader`)

Result with 100: `Time: 14.5 minutes`
Result with 10000: `Time: 15.68 minutes`

So it doesn't seem like it changed anything.

[2017-12-10 09:55] nicolas-grekas commented on #24924
Fixed in #25417

[2017-12-10 10:13] goetas commented on #25368
Regarding the JMS serializer, the v2.3.0 release introduced cache warm up feature (https://github.com/schmittjoh/JMSSerializerBundle/pull/615)  that should solve the issue

[2017-12-10 12:03] ossinkine commented on #24767
@nicolas-grekas It works for me

[2017-12-10 12:17] garak commented on #25361
Why in the core? IMHO a dedicated component (or bridge/bundle) would be better

[2017-12-10 12:27] javiereguiluz commented on #25414
@felixfbecker this has been discussed before a lot of times: #13521, #16174, #20057, #6605, #6374, etc.

This proposal still causes a heat debate and there's no general consensus about what to do.

[2017-12-10 12:29] javiereguiluz commented on #25411
@unckleg thanks for reporting this issue. However, to be able to help you, we need some code able to reproduce this bug. Here you can find more information about this: https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-10 12:34] javiereguiluz commented on #25406
It's not a bad practice. Iltar thinks so ... and others agree ... but some others disagree.

In any case, I like your comments a lot. Recently we [introduced a new Symfony Maker Bundle](https://symfony.com/blog/introducing-the-symfony-maker-bundle) where we are creating commands that generate boilerplate code. One of our TODO things is to add commands that simplify the security part of Symfony app

[2017-12-10 12:34] #25406 closed

[2017-12-10 14:31] glensc opened #25418 "Symfony/Lock doesn't work as expected"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 3.4.1

so, great, i discovered this component:
- https://symfony.com/blog/new-in-symfony-3-3-lock-component
- [symfony/lock](https://symfony.com/doc/3.4/components/lock.html) seems to have timeout support, and blockin

[2017-12-10 14:42] glensc commented on #25418
I created gist demonstrating this https://gist.github.com/glensc/95d0c8964d4ab5d28145dc8cf905a3fd:

1. test with blocking mode, ttl 3 seconds. i'd expect second and third process locked at most 3 seconds, and. or at least throw if wait time was exceeded. reality: 2nd waits for x seconds, 3rd waits for y seconds, no exception thrown.
[code]

[2017-12-10 14:46] glensc commented on #25418
2. test with non-blocking mode. i would expect first one take the lock, second and third one get exception or return false. exception is not thrown, and method can't return false because by api it's declared void. this effectively makes non-blocking mode destructive, because lock is given even if acquiring it really did not succeed.

[code]

[2017-12-10 14:59] ruby-lys opened #25419 "FatalErrorException Compile Error: ContainerAJuv3B3\srcProdProjectContainer:"

[2017-12-10 15:32] pdugas commented on #25368
Yes @goetas, thanks for that. Works fine.

[2017-12-10 15:49] nicolas-grekas commented on #25418
Ping @jderusse

[2017-12-10 15:53] Simperfit commented on #25419
Could you please provide more information ? This is not enough for us to help you.

[2017-12-10 16:00] iltar commented on #25414
Could've prevented issues like #25358 if the files were excluded.

[2017-12-10 16:03] nicolas-grekas commented on #25414
I'm still waiting a PR to mark classes in Tests as internal... :)

[2017-12-10 16:04] #25419 closed

[2017-12-10 16:23] bitgandtter commented on #25361
I agree with @garak but only if this new bridge or bundle is set as a dependency of the FrameworkBundle

[2017-12-10 16:25] pdugas commented on #25368
I've upgraded things to 3.4.1 and the error has changed.  Not it can't load Symfony\Component\Form\FormRenderer instead of TwigRenderer.  Feels like it's still the same root cause.

[2017-12-10 16:27] nicolas-grekas commented on #25361
This is not going to happen: splitting is a significant effort. Unless *you* want to make it happen...
Either it's in core and this makes the life of the core team easier while making the annotation more widespread, or this stays in IMHO.

[2017-12-10 16:34] jderusse commented on #25418
Hello @glensc

Thank for the feedback, I'll try ot help you. But first, there are some misconception in the bellow statments:

The biggest one, is that flock does not supports TTL: TTL is a mechanism dedicated to expiring lock (see http://symfony.com/doc/3.4/components/lock.html#expiring-locks) and flock is not expirable (see the comparison table https://github.com/symfony/symfony-docs/blob/3.4/co

[2017-12-10 18:42] steve-todorov commented on #23343
How exactly should I start the `server:start` command if I would like to test the `prod` environment?

[code]

It doesn't seem like you could export the SYMFONY_ENV and then execute the symfony command at all?

[2017-12-10 21:24] javiereguiluz opened #25423 "[DX][Console] Improve error message when the parent constructor is not called"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.1

If you add a constructor in your command and forget to add the `parent::__construct()` call, you'll end up with this misleading error:

[code]

This was not a very important issue in the past, but now that adding a constructor

[2017-12-10 21:53] tobiasehlert opened #25424 "getAllKeys for Memcached"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.x

Somehow, I can't use `getAllKeys()` functionality, as it exists in normal PHP.

How I've made a workaround my connecting to memcached over a separate php file, but would be nice to be able to retrieve all keys somehow.

Could

[2017-12-10 22:45] elislenio commented on #18305
think I can. i'll git it a try.

[2017-12-11 07:01] Simperfit commented on #25202
Could you do the following, so we could get a reproducer ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

In case you need some help you can read this blog post : https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-11 07:03] Simperfit commented on #25245
@skluck does the PR #25333 fix the issue you are facing ?

[2017-12-11 08:12] n-for-all commented on #25202
Here you go:
http://symfony-icu090792703.codeanyapp.com/

And this is the controller:

https://codeanywhere.com/editor/#P8Ap4SrXMntU8YEAnj82dRIVn47iGGxrwOY8tP3GlchfiBdITq1ZgBty1BCCU51k

just click submit on the form and you will see the error.

[2017-12-11 08:33] Simperfit commented on #25202
Thanks we will look at it!
Le lun. 11 déc. 2017 à 09:12, Naji Amer <notifications@github.com> a écrit :

[2017-12-11 08:35] xabbuh commented on #25202
@n-for-all Can we see the code anywhere too?

[2017-12-11 08:41] xabbuh commented on #25202
By the way, your example application uses Symfony 3.0.4 which dropped support long time ago. Are you able to reproduce the issue with Symfony 3.3 or higher?

[2017-12-11 10:06] n-for-all commented on #25202
https://codeanywhere.com/editor/#P8Ap4SrXMntU8YEAnj82dRIVn47iGGxrwOY8tP3GlchfiBdITq1ZgBty1BCCU51k

i didn't modify or edit any of symfony's settings or code, i only added the html form which contains the file input in (test.html.twig) and the above controller.

The container is a new container on codeanywhere that installs with symfony framework, not sure why codeanywhere installs version 3.0.4 an

[2017-12-11 10:32] fduch commented on #25370
Hi @ro0NL , i see your point, but default values for child nodes are not the case sometimes.

Let's make an addition to my initial example: it can be reasonable to force the user to specify the class XOR service name for provider (class or service, but not the both). To achive this, we add validation rule:
[code]

If i add default value for _class_ node, this node will be always non-empty and thus

[2017-12-11 11:11] xabbuh commented on #25202
I am sorry, but I do not see any code there as codeanywhere asked me to create an account.

[2017-12-11 11:17] n-for-all commented on #25202
yes well, they require to create an account to share, though creating an account is free, if you don't want to create an account, below is a screenshot of the controller:

![image](https://user-images.githubusercontent.com/171367/33828644-6328004e-de86-11e7-8a87-88a705da11b6.png)

[2017-12-11 12:19] enricog84 commented on #25329
@xabbuh
I still have an issue when I have a non-indented empty line e.g. like this YAML:

[code]

[2017-12-11 12:33] xabbuh commented on #25329
@enricog84 Sorry for that. I am working on this as part of #25405.

[2017-12-11 12:39] iltar commented on #25423
That's probably because the `configure()` must be called and this is done via the constructor. Instead of telling the developer to add an extra call to the parent constructor, would it be possible to somehow call this configure in a static context? This would allow even lazier commands in certain conditions. I'm not sure if the current proposal is easy to detect.

Ideally I'd not see the parent cl

[2017-12-11 12:39] xabbuh commented on #25202
If you want to perform a subrequest, you will need to call the `Request::duplicate()` method instead of manually trying to create the request. You can take a look at the `forward()` method from the `ControllerTrait` to get some inspiration. I am closing here as this is not a bug.

[2017-12-11 12:39] #25202 closed

[2017-12-11 13:08] nicolas-grekas commented on #25423
@iltar the issue is that any static is out of any service layer. I know that some projects do fetch configuration of their commands via a DB call. And that's fine. So, "object oriented" is a requirement here.

[2017-12-11 13:15] iltar commented on #25423
Both methods could be supported, my proposal would be merely feeding the actual command class with information, which can be cached during container building and would thus make them very lazy. As the current situation is still possible, it wouldn't make an existing solutions impossible to build.

[code]

[2017-12-11 13:15] n-for-all commented on #25202
duplicating the request without params throws internal server error, i just changed the code to the below:

![image](https://user-images.githubusercontent.com/171367/33832438-98f283de-de95-11e7-8d3a-18b07fc31494.png)

if i use $request->duplicate(null, null, null, null, $request->files->all(), null), it throws the same error.

"An uploaded file must be an array or an instance of UploadedFile"

how

[2017-12-11 13:17] din-gi opened #25435 "[Symfony 4] Where is the 'Method' annotation for controllers endpoints?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

Hello,
I am trying to upgrade to Symfony 4,
Having some issues..

One of them is to understand where did the Method annotation go?

I have the following code:
[code]

Now `Route` and `Method` annotatation classes used to be:
[c

[2017-12-11 13:41] xabbuh commented on #25202
I am sorry, but we do not use GitHub for support. I suggest you ask for me help on one of the [support channels](https://symfony.com/support).

[2017-12-11 13:46] n-for-all commented on #25202
i am not asking for support, i just did what you asked me to do which doesn't work, so instead of ignoring the issue and rushing to close it, Please look into it and propose a solution if you don't want to solve it.

Thanks.

[2017-12-11 13:50] mRoca opened #25436 "[Routing] BC break on the annotated route loading"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.3.14

Hello, while updating a `3.3.13` project to `3.3.14`, I've an issue with the following routing declaration:
[code]

The error is :
[code]

The problem :
The `AnnotatedRouteControllerLoader` is called after the `AnnotationDi

[2017-12-11 13:50] fduch commented on #25370
I suppose normalization and validation features were disigned for another purposes. So yes, i can do so, but it can be treated only as workaround (with limitations though, see sentence below), since there are separate methods for dealing with default values.

The very first drawback i see with usage of normalization/validation techniques is that i am not allowed to use methods like addDefaultsIfNo

[2017-12-11 13:58] din-gi commented on #25435
so I found out that instead of:
[code]

On Symfony 4 it needs to be:
[code]

Nothing stated in the docs regarding this change to the annotations..

[2017-12-11 13:59] iltar commented on #25435
The annotations are from the Framework Extra Bundle, not the Symfony core.

[2017-12-11 14:00] din-gi commented on #25435
So what I notated isn't valid? and I should install the FrameworkExtraBundle?

[2017-12-11 14:02] iltar commented on #25435
If you wish to use the `@Method` annotation, yes. But you can also see in the namespace that it doesn't come from Symfony.

[2017-12-11 14:04] din-gi commented on #25435
Yes I know.. but is the Route annotation from `Symfony\Component\Routing\Annotation\Route` won't suffice for limiting the Method of the controller as well?

Thanks

[2017-12-11 14:05] mikeSimonson commented on #25405
The parser doesn't fail if you remove the blank line number 12.

And in this other case, it's the blank line number 20 that needs to be removed.
[code]

[2017-12-11 14:05] xabbuh commented on #25202
I cannot tell you more than that you using `Request::duplicate()` is the way to go. Without more information I guess that if calling this method leads to an internal server error in your code, there must be something wrong in how you call the method. However, that's just guessing without seeing the real underlying error (you would have to look into the logs for it). And if that error proves to be

[2017-12-11 14:31] iltar commented on #25435
These 2 route annotations are identical for routing purposes. The only additional feature the bundle one gives, is a service definition on controller level (but obsolete as of sf 3.3).

[2017-12-11 14:35] din-gi commented on #25435
Got it..

Thank you very much my man!

[2017-12-11 14:35] #25435 closed

[2017-12-11 15:04] Seb33300 opened #25437 "[Form] UniqueEntity constraint fails on a EntityType field"
I am encountering an issue with the validation of a form which fails on a `UniqueEntity` constraint attached to an `EntityType` field.

Why is a `UniqueEntity` constraint failing on an `EntityType` since it is a field used to select existing entities? (not to create an entity)

On my example, `members` field is an array, not an entity.
The `UniqueEntity` error message is displayed on each `member`

[2017-12-11 15:08] dmaicher commented on #25424
Can you elaborate where exactly you want this functionality to be available?

[2017-12-11 15:09] Simperfit commented on #25199
@fnxnet Could you please explain more the options you will need.

[2017-12-11 15:23] nicolas-grekas commented on #25423
I just create a command with the maker bundle, added a constructor that didn't call the parent, and this is the message I'm seeing:

Looks perfect to me, nothing to do here. What did I miss?

[2017-12-11 15:26] kenorb commented on #21750
Related: #11921

[2017-12-11 15:30] backbone87 commented on #25327
how about reducing the verbosity by adding "service template parameters":
[code]

[2017-12-11 15:50] xabbuh commented on #25405
@Majkl578 @mikeSimonson Can you please test #25438?

[2017-12-11 15:50] xabbuh commented on #25329
@enricog84 Can you please test #25438?

[2017-12-11 16:02] placid2000 commented on #25114
Thank you @vudaltsov I'll give it a try.

[2017-12-11 16:03] xabbuh commented on #25436
Can't you update to SensioFrameworkExtraBundle 5?

[2017-12-11 16:05] Majkl578 commented on #25405
@xabbuh That fixes the issue found in Doctrine's test suite. 👍

[2017-12-11 16:19] xabbuh commented on #25437
I am not sure I follow what you are trying to achieve. Would you mind to create a small example project that allows to reproduce your issue?

[2017-12-11 16:42] mRoca commented on #25436
I can also update my routing file by using the `resource: '@FooBarBundle/Controller/UserController.php'` format, and it's what I did : it works without problem.

I've created the issue to track the bug : indeed we can also update to SensioFrameworkExtraBundle 5, but as there are at least 2 bc breaks between the 3 and the 5 version, there is still a potential bc break problem for other sf3.3 users.

[2017-12-11 16:49] #25405 closed

[2017-12-11 17:01] Simperfit commented on #12100
@kojiDev Could you please provide a reproducer so we can work on this and fix the behaviour ?

[2017-12-11 17:05] tobiasehlert commented on #25424
Hi @dmaicher,

Yes, the reason for this that I don't keep a record on which keys I have in memcached. The thing I want to get out from this is that I want to be able to see which those are, since I use mostly use TTL keys over a pretty short period of time.
That is basically it :)

Regards,
Tobias

[2017-12-11 17:19] xabbuh commented on #25436
I am not completely sure how @fabpot wants to handle releases for FrameworkExtraBundle before 5. But IMO that would be the only way to entirely fix it.

[2017-12-11 17:22] ptomulik opened #25440 "Typo"
https://github.com/symfony/symfony/blob/efc19fc6d7df6979ac34d7fd864370d722b1cb2c/src/Symfony/Component/Ldap/Adapter/ExtLdap/Query.php#L76

I believe, it should refer to ``$this->options['scope']`` (currently it refers ``$this->options['scopen']`` (extra ``n``)).

[2017-12-11 17:29] Simperfit commented on #25440
@ptomulik Do you want to provide a pull request for this ? It seems like a typo for me too ;)

[2017-12-11 18:12] dmaicher commented on #25424
Sorry still very unclear **where** this functionality should be added. Are you talking about `MemcachedAdapter`?

[2017-12-11 18:50] iltar commented on #25327
@backbone87 then I'd still have to define each and every dependency, while I would want to utilize autoconfigure for this

[2017-12-11 19:05] shinework opened #25444 "[Serializer] Object attributes are cached when there are attributes and groups fields in context"
| Q                | A
| ---------------- | -----
| Bug report      | yes
| Feature request | no
| BC Break report | no
| RFC             | no
| Symfony version  | 3.3.14

Issue related to #25185

With group context filled, attributes are cached even if there is the `attributes` within context. Steps to reproduce (based [on this test](https://github.com/symfony/symfony/blob/v3.3.14/src/Symfony/Com

[2017-12-11 19:06] SimplyCorey opened #25445 "http-kernel is causing a higher than expected version of http-foundation to be pulled in"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4

Currently, the Symfony Kernel is forcing a higher version than it should be when pulling in version 3.3.* of http-foundation.

This was causing some breaking changes that was unexpected in my application because the wrong vers

[2017-12-11 19:10] greg-1-anderson opened #25446 "Consider reverting Windows-only backwards compatibility break in Process 3.4"
| Q                | A
| ---------------- | -----
| Bug report?      | Yes
| Feature request? | No
| BC Break report? | Yes
| RFC?             | Yes
| Symfony version  | 3.4.0

In #23708, a Windows-only backwards compatibility break was introduced in Symfony/Process. The claim was that [Windows processes were already failing w/out a cwd](https://github.com/symfony/symfony/pull/23708#issuecomment-3

[2017-12-11 19:43] fabpot commented on #25436
I'm more than willing to merge a pull request that would fix version 3 and 4 of FrameworkExtraBundle.

[2017-12-11 19:52] skluck commented on #25245
Yep, with the change 3.3, 3.4, and 4.0 all seem to work as expected, giving the same results.

[2017-12-11 20:02] dmaicher opened #25448 "[HttpFoundation] BC break for Cache-Control headers"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.1

Today I deployed an upgrade of my biggest app from symfony 3.3 to 3.4.1. So far so good but unfortunately there seems to be a BC break regarding some `Cache-Control` headers that are being sent now for some reason once a ses

[2017-12-11 20:02] Simperfit commented on #25359
Could you add a failing test case so we can see the issue and maybe help you to fix it ?

[2017-12-11 20:06] #21531 closed

[2017-12-11 20:06] nicolas-grekas commented on #25446
BC break should be fixed by #25447, can you please confirm?
But note that this is still deprecated so you'd need to ensure the cwd exists when you'll want to have v4 compat.

[2017-12-11 20:09] #25440 closed

[2017-12-11 20:28] #25342 closed

[2017-12-11 20:28] #25196 closed

[2017-12-11 20:30] #25446 closed

[2017-12-11 20:40] #25245 closed

[2017-12-11 20:43] fnxnet commented on #25199
I mean the **MemcachedAdapter**. As far as I saw when you define pool it's created by factory using the **createConnection** static function from the provided adapter. Unfortunately I did not find any option to pass options to poll configuration so they can be passed over to createConnection. I guess that would be useful if possible.

[2017-12-11 20:52] #14629 closed

[2017-12-11 20:55] #19078 closed

[2017-12-11 21:00] nicolas-grekas commented on #25199
You should be able to provide the options as part of the DSN: `...?foo=bar`
Unless you have a more specific need, I don't think there is anything else to do here.

[2017-12-11 21:04] #25377 closed

[2017-12-11 21:07] nicolas-grekas commented on #25448
The description is correct. If you want to opt-out from sending the header, you need to set the        `'cache_limiter'` option to `'0'`.
BUT: what's the meaning of "public" when a page has been using the session to be generated? How can it be public anymore?

[2017-12-11 21:15] nicolas-grekas commented on #25445
I don't think there is any issue here, the 3-cross-4 requirement is expected.
But you need to be more explicit in your own requirements:
- either you need to put an upper boundary to `symfony/http-foundation` in your comopser.json
- or you may require symfony/lts ^3, which will achieve the same for all components at once (see https://github.com/symfony/lts)

[2017-12-11 21:16] #8703 closed

[2017-12-11 21:16] #16980 closed

[2017-12-11 21:16] dmaicher commented on #25448
Shouldn't this be opt-in then for BC reasons? I will try setting `cache_limiter`.

I would have to debug where and why a session is started for those pages actually. Seems weird indeed but nevertheless the Cache-Control headers are correct and should be effective.

[2017-12-11 21:17] nicolas-grekas commented on #25448
The behavior change is a bug fix actually...

[2017-12-11 21:18] xabbuh commented on #25445
What exactly is the BC breaking change you experience between 3.3 and 3.4?

[2017-12-11 21:20] nicolas-grekas commented on #25424
Assuming this is for the Cache component (please be more explicit in your reports @tobiasehlert ...):
you can already call getAllKeys if you get access to the connection object. Doing so is possible by e.g. manually creating it, then injecting it to the constructor of your cache adapter.

Note that fetching all keys is not a recommended practice because it doesn't scale.

[2017-12-11 21:22] nicolas-grekas commented on #25445
Actually: which version is pulled? If a v4, that's "normal".

[2017-12-11 21:25] #24767 closed

[2017-12-11 21:28] fnxnet commented on #25199
Sorry my bad - not the header but the client option. In MemcachedTrait I have:
` $client->setOption(\Memcached::OPT_BINARY_PROTOCOL, true);` which in my case does not work properly and causes delay in communication with memcache therefore only setting this to false would be any help.

[2017-12-11 21:30] nicolas-grekas commented on #25199
did you try adding `?binary_protocol=0`

[2017-12-11 21:36] fnxnet commented on #25199
no as I didn't know it will be parsed from the DSN. According to doc https://symfony.com/blog/new-in-symfony-3-3-memcached-cache-adapter there is nothing like that possible. Now I see in the code that should work:
[code]
It's worth mention in the documention I guess.

[2017-12-11 21:37] nicolas-grekas commented on #25199
Please open a doc PR :)
I'm closing here as this should be resolved now.

[2017-12-11 21:37] #25199 closed

[2017-12-11 21:51] dmaicher commented on #25448
Hmm ok.

Is there any easier way of setting that option? Seems its not supported on `framework.session.cache_limiter`. The value of `session.cache_limiter` from php.ini is ignored/overwritten by Symfony.

So doing this in a compiler pass works:

[code]

Then the behavior is indeed like it was before :+1:

[2017-12-11 21:57] nicolas-grekas commented on #25448
Could be added. But I'm not sure it makes sense, unless in specific cases maybe. Why allowing a "public" C-C when the session is used. I still don't get it... (but you have your solution so you don't need me to understand :) )

[2017-12-11 22:05] tobiasehlert commented on #25424
@dmaicher as of today, I can do this:
[code]
But I would like to run this:
[code]
Well, I could rewrite a little of this and remove the adapter stuff and choose to run the query directly. But I like to use the isHit() function to see if I got a hit. I could possibly create my own, but thought extending the current tool with a new function would be nice.

In addition, this is in purpose of a status

[2017-12-11 22:05] dmaicher commented on #25448
Ok after some debugging I found the reason the session is started :yum:

We have a locale listener that stores the locale in the session.

Thanks for your help anyway :+1:

[2017-12-11 22:05] #25448 closed

[2017-12-11 22:10] #23791 closed

[2017-12-11 22:18] nicolas-grekas commented on #25424
You can and should both objects at once. I don't think we should have getAllKeys in core.

[2017-12-11 23:19] dereklopes commented on #25341
@xabbuh It doesn't seem like my issue has been fixed. Is it because I am still on v3.4.1? I am using composer to manage packages and I did a clean install of all my dependencies and it still isn't working.

[2017-12-11 23:27] #24593 closed

[2017-12-12 00:07] tobiasehlert commented on #25424
Alright, so basically, when removing the symfony adapter stuff, I can like run all my stuff I want. But with it, I can't do everything. I guess then I got no more extra use, except for the isHit function? :)

[2017-12-12 07:01] nicolas-grekas commented on #25424
When using the adapter, you gain all the properties of PSR 6. That is: abstraction over the actually data storage, accurate error handling, etc.
As said before, you can use both objects at once if you need Memcached specific features and generic ones at the same time.
Closing as there is no issue to track here.

[2017-12-12 07:01] #25424 closed

[2017-12-12 07:07] adam-nielsen commented on #25005
Just to follow up with this, one possible solution appears to be to modify `Client::request()` so that it captures the PHP output buffer, then in the event that a `StreamedResponse` is returned, it converts that into a normal response object.

This is some pseudocode based on how I am doing this now:

    ob_start();
    // Do normal request stuff here
    $r = $client->getResponse();
    if (get_

[2017-12-12 07:14] enricog84 commented on #25329
@xabbuh  Yes, with the changes it works for me. Thanks!

[2017-12-12 07:19] xabbuh commented on #25329
Thanks you for confirming.

[2017-12-12 07:31] xabbuh commented on #25341
For the moment you would need to try 3.4.2@dev until the next patch release is there or modify the file in your `vendor` directory temporarily.

[2017-12-12 09:04] xabbuh commented on #23788
ping @Taluu :)

[2017-12-12 09:06] Taluu commented on #23788
Nope seems to do just fine. Closing. :}

[2017-12-12 09:06] #23788 closed

[2017-12-12 09:25] krushnaghodke opened #25457 "User Deprecated: Passing "false" as the second argument to Symfony\Component\HttpKernel\Kernel::getBundle() is deprecated as of 3.4 and will be removed in 4.0."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.1

when i update symfony version from 3.3. to 3.4. Showing deprecation as

[▼
  "exception" => ErrorException {#312 ▼
    #message: "User Deprecated: Passing "false" as the second argument to Symfony\Component\HttpKernel\Kernel:

[2017-12-12 09:56] iltar commented on #25457
Can you post the stack trace? This is not really meaningful.

[2017-12-12 10:04] krushnaghodke commented on #25457
/Users/INV15092015/Work/projects/invcoachrack/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php:237 {▶}
  /Users/INV15092015/Work/projects/invcoachrack/vendor/liip/theme-bundle/Locator/FileLocator.php:185 {▶}
  /Users/INV15092015/Work/projects/invcoachrack/vendor/liip/theme-bundle/Locator/FileLocator.php:135 {▶}
  /Users/INV15092015/Work/projects/invcoachrack/vendor/liip/theme-bun

[2017-12-12 10:08] xabbuh commented on #25457
This code is part of LiipThemeBundle (see https://github.com/liip/LiipThemeBundle/blob/master/Locator/FileLocator.php#L185). Please report the issue in their repository. Thank you for understanding. :)

[2017-12-12 10:08] #25457 closed

[2017-12-12 10:22] dkarlovi opened #25459 "[Meta] Introduce a static code analyzer (like PHPStan) to the build process"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | master

Having a tool like [PHPStan](https://github.com/phpstan/phpstan) introduced to the build process would mean we'd be able to have much more instances like #21802 caught all over the codebase. It would require fewer resources

[2017-12-12 10:39] krushnaghodke commented on #25457
@xabbuh  ok thanks :)

[2017-12-12 12:00] nykopol opened #25462 "[Form] Form name validation does not accept dot"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? |no
| RFC?             | no
| Symfony version  | 3.4

The method `FormConfigBuilder::isValidName` check the validity of the `name` attribute in forms. Actually this attribute must start with a letter, a digit or an underscore and contains letters, digits, numbers, underscores, hyph

[2017-12-12 12:49] benjaminrau commented on #21971
h2. About
I am not sure if i understand the issue right but i stumpled over this post when i searched for existing tickets for my issue - which sounds quite similar.

If context::$host is empty, fx if you generate url from a command, then the $hostTokens are not replaced because this foreach loop is nested inside a condition which checks if host is set.

This means that although you have set defau

[2017-12-12 12:59] benjaminrau opened #25464 "Default value for route host is not used if context::$host is empty (fx in command)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.1.6

Relates: #21971

## About
@xabbuh @Tobion I am not sure if i understand the issue right but i stumpled over this post when i searched for existing tickets for my issue - which sounds quite similar.

If context::$host is empty

[2017-12-12 13:16] Koc opened #25465 "[DependencyInjection] Add ability reference tagged services as service locator"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1

It would be nice allow inject tagged services as `ServiceLocator` instead of `iterable`. For example we have set of report generators, all of them implements `ReportGenerator` interface. We have tagged them with tag `app.repor

[2017-12-12 13:19] Koc commented on #25465
We could get rid of some passes like this https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/DependencyInjection/Compiler/FilterPass.php#L28

[2017-12-12 13:21] Simperfit commented on #25459
I guess I would be 👍 because we implemented it in Api-Platform and in our clients project and it's quite nice.

But it could be alot of work to get everything to green, we should ensure that this cause no BC too.

[2017-12-12 13:35] dkarlovi commented on #25459
[PHPStan's level system](https://github.com/phpstan/phpstan#rule-levels) is meant for exactly that purpose: you're able to gradually ramp up your code quality over time, but have new code conform to the level once reached.

[2017-12-12 14:01] ondrejmirtes commented on #25459
Hi,
author of PHPStan here 😊 I think that introducing PHPStan to the codebase would be very beneficial because it brings PHP much closer to compiled languages, i. e. in testing, you can focus on actual business logic because

PHPStan is already used by Doctrine, CakePHP, Prooph and other popular open-source libraries.

CakePHP introduced PHPStan around a year ago, with level 0 and they gradually i

[2017-12-12 14:14] dkarlovi commented on #25459
@ondrejmirtes thanks for the exhaustive answer. :+1:

My suggestion here is definitely the framework itself, I'm using PHPStan on my Symfony project already and see HUGE benefits from doing it, it's not even a question if you should be doing it (from my POV, anyway).

If you're talking about the container-related extension, agreed that it would be quite useful (it's already tracked at https://gith

[2017-12-12 14:17] javiereguiluz commented on #25459
(Note: I use PHPStan and I think it's a very nice tool)

The problem with introducing PHPStan is that the current codebase doesn't comply with its analysis, so it would take us a lot of time to make all branches pass all PHPStan checks ... and if we don't make the branches pass the analysis, we can't activate it for new pull requests because you'll find lots of unrelated issues.

The same happens

[2017-12-12 14:21] ondrejmirtes commented on #25459
I think that once we integrate PHPStan at least with level 0 (which is very basic and the errors pointed out are objectively bugs), it's benefitial that also all the branches and pull requests are also analysed and correct before merging - that means that no new bugs are introduced because there are guards set up by CI and PHPStan.

[2017-12-12 14:25] dkarlovi commented on #25459
That's exactly my suggestion here, it should be rather easy to start from here and attach PRs to increase the level once possible.

[2017-12-12 14:26] pdugas commented on #25368
Digging into the extended version of [`Twig\Environment`](src/AppBundle/Twig/Environment.php) and it looks like the issue it's addressing is that the version of PHP is part of the hash for cached templates so they've overridden the baseclass to remove that. The version of PHP in `prod` is almost certainly different that on the local machine where the cache warmup is happening. However, when I warm

[2017-12-12 14:31] craue opened #25466 "[HttpFoundation] remaining UploadedFile size deprecation notices"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.1

After #25324, using file form fields (via `Symfony\Component\DomCrawler\Field\FileFormField::upload()` for testing) still triggers deprecation notices like `Passing a size in the constructor is deprecated since 4.1 and will be

[2017-12-12 14:36] roukmoute opened #25467 "[HttpKernel] Replace \Exception with \Throwable?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.x

I've just seen that the entire application is [try\catch](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/HttpKernel.php#L65-L78) with an `\Exception` not with `\Throwable`.
Are you interested wi

[2017-12-12 15:39] Koc opened #25468 "[DependencyInjection] Couldn't inject autowired service into ServiceLocator"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.1

We have created `App\Report\BasicGenerator` class and trying to register it inside service locator:
[code]

But this produces an exception: `The "App\Report\BasicGenerator" service or alias has been removed or inlined when th

[2017-12-12 15:43] nicolas-grekas commented on #25468
remove the dash?

[2017-12-12 15:44] nicolas-grekas commented on #25468
oups nvm

[2017-12-12 15:47] jrodshaffer opened #25469 "Dotenv: fatal error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.1

Doing a clean install of Symfony 4.0.1 I get the following error.

[Tue Dec 12 09:43:46.643701 2017] [:error] [pid 2954] [client 192.168.6.39:50707] PHP Fatal error:  Uncaught TypeError: Return value of Symfony\\Component\\Do

[2017-12-12 15:49] mathroc opened #25470 "[Console] invalid default returned from ChoiceQuestion on non interactive mode when using SymfonyStyle"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.x

the choice index is returned instead of the choice value when a default choice is specified and the command is executed with `-n`

the default value is set to the choice index here : https://github.com/symfony/symfony/blob/ma

[2017-12-12 16:53] Simperfit commented on #25469
You seems to have the wrong version of PHP, what PHP version are you using ?

[2017-12-12 16:55] jrodshaffer commented on #25469
PHP 7.1.12-2+ubuntu16.04.1+deb.sury.org+2 (cli) (built: Dec  7 2017 20:12:04) ( NTS )
Copyright (c)
1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.1.12-2+ubuntu16.04.1+deb.sury.org+2, Copyright (c) 1999-2017, by Zend Technologies

[2017-12-12 16:59] Simperfit commented on #25469
Is it the same as the one running the server ?

[code]
because `void` here is not interpreted by php, which means that the server is not in 7.1 but in 7.0 since void return types [has been introduced in 7.1](https://wiki.php.net/rfc/void_return_type)

[2017-12-12 17:07] xabbuh commented on #25469
@Simperfit is right here. This is the kind of error you get when running PHP code using the `void` return type hint on PHP 7.

[2017-12-12 17:07] #25469 closed

[2017-12-12 17:12] Simperfit commented on #25466
This was forgotten I think, I've created a new PR which fix this and add a test to ensure that we have not this behaviour back.

[2017-12-12 17:23] Taluu opened #25472 "[DI] Can't dump container if undefined constants (e.g ext not installed)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0+ ?

I'm currently working on a bundle which can support another service if an extension is installed (amqp's pecl). So I made a service that can use `AMQP_` constants.

The thing is, if the extension is *not* installed, and if

[2017-12-12 17:40] Taluu commented on #25472
Note ; to solve this, I had to remove the array constant `TYPES` in the `PeclBroker` and port this into a static var in the `declare()` method.

But still, as the file is loaded and scrutinized, even if the class is not destined to be loaded if the extension is missing, having this error is not really expected. I'll let you close if you think it is not really worth it.

[2017-12-12 17:43] nicolas-grekas commented on #25472
This means the service has not been removed, even if it's broken (because the ext is missing as you said).
Can't you remove this service conditionally (or make it private so it's garbage collected?)

[2017-12-12 17:45] Taluu commented on #25472
It's actually private, but for BC reasons I need a public alias on it. But removing it in the extension would be an option, will have a look.

[2017-12-12 17:46] nicolas-grekas commented on #25472
Actually it might still fail. You'll tel me :)

[2017-12-12 19:21] iltar commented on #25472
Keeping the Alias will for sure make it crash, I had a similar issues this week.

[2017-12-12 21:13] Taluu commented on #25472
Removing the definition in the extension works. I'll let you close if you don't think it's worth the trouble to look for a fix as this kind of an edge case imo.

[2017-12-12 21:29] nicolas-grekas commented on #25472
OK, thanks for checking, looks the best IMHO.
We could actually do something in `ReflectionClassResource` to make it resilient to broken consts.
BUT, as far as I tried, this would introduce a significant complexity.
I'd say it's not worth it now. Closing.
Thanks for the feedback.

[2017-12-12 21:29] #25472 closed

[2017-12-12 21:33] matt-usurp commented on #25359
So I looked into writing a test and potentially fixing this (if it were a bug). But actually while looking at the tests surrounding this method it is clear that what I expected this method to do and what is actually does is different.

I expected that when using `useAttributeAsKey('name', false)` and supply this:
[code]
I would expect the following output:
[code]
Note that the key that key was add

[2017-12-12 21:59] nicolas-grekas commented on #25468
Are you actually sure you're using this locator, and not the main service locator instead?
I guess this is thrown when calling `->get()` in another service. How does this other service definition look like?
Could you share a reproducer (if the previous didn't help?)

[2017-12-12 22:05] Bubelbub commented on #20532
I still have this issue with Symfony 3.4 LTS.

[2017-12-13 00:12] Koc commented on #25468
You are right, I forgot specify correct service locator to the my service. Maybe we should deprecate autowiring of service locators?

But now I got another exception: `Controller "App\Controller\Report\GenerateAction" cannot be fetched from the container because it is private. Did you forget to tag the service with "controller.service_arguments"?`. My previous workaround still works.

Will try cre

[2017-12-13 01:16] Nemo64 opened #25475 "[HttpFoundation] etag handling with mod_deflate"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0

If apaches mod_deflate is used, it adds a suffix to the etag. something like: `73832eb3-gzip`. The Problem is that this is passed to the php script so the etag comparison fails every time. Now I'm not sure if this is an issue

[2017-12-13 05:29] nicolas-grekas commented on #25468
This one looks legit to me. Controllers must be public.

[2017-12-13 05:43] alexpts opened #25477 "DI - problem with resolve env after update from 3.3 to 4.0.1"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.1
| Dump/cache container| no

After update from 3.3 to 4.0.1 env values from sub array not resolve to real value on compile container with $resolveEnvPlaceholders=true.

Example yml config:
[code]

Class:
[code]

inline://static

[2017-12-13 07:51] arthurkirkosa opened #25479 "MongoDbSessionHandler doesn't set the sessionName needed by the AbstractSessionHandler"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | yes
| Symfony version  | 3.4, 4.0

https://github.com/symfony/http-foundation/commit/55ca8d885e7e0790a24ad8b2c9253bdb68035e89#diff-846e1ea5ef360822097501b7ca01cdeaR132

This causes an error LogicException with message ’Session name cannot be empty, did yo

[2017-12-13 08:17] lukaszwit commented on #20450
@Ere5 have you created or found new issue for that because I've got the same problem on latest 3.2

[2017-12-13 09:32] chalasr commented on #25467
Already proposed and rejected in https://github.com/symfony/symfony/issues/22128, because errors are managed by the Debug component.
I don't think we changed our mind, I let @nicolas-grekas confirm

[2017-12-13 09:34] imsheng commented on #25281
https://github.com/imsheng/symfony-standard

[2017-12-13 09:52] nicolas-grekas commented on #25467
Yes, the current code is really fine and on purpose.

[2017-12-13 09:52] #25467 closed

[2017-12-13 10:20] roukmoute commented on #25467
@nicolas-grekas Debug component is loaded by default in Symfony3.x?

[2017-12-13 10:26] nicolas-grekas commented on #25467
Here: https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php#L64

and when it's not, the low level idea is that errors should not be dealt with the same way as exceptions.
So letting them throw is in fact much better. Don't catch Throwable in your own code base, unless you actually want to deal with raw errors ( but you don't, that's too big mistakes

[2017-12-13 12:14] mickaelw opened #25481 "More readable error in the console"
I'm on Symfony 3.2, when I have an error in the console is unreadable.

For example:
![screen shot 2017-12-13 at 13 10 19](https://user-images.githubusercontent.com/23268376/33938312-5eeb5eea-e007-11e7-8a2a-a53b7311e35f.png)

Maybe it's corrected on next version?

[2017-12-13 12:16] xabbuh commented on #25462
The source of truth here is the PHP code. We cannot reflect all the limitations in the schema definition (the same applies to the semantic configuration of bundles for example).

[2017-12-13 12:17] xabbuh commented on #25462
To clarify: I do not think there is anything that needs to be fixed here.

[2017-12-13 12:18] #25462 closed

[2017-12-13 12:20] xabbuh commented on #24320
I am closing here as explained.

By the way, as a best practice I would configure as few constraints as possible in forms (the only use case for them IMO is to define them on unmapped fields). Defining constraints in your data classes allows to reuse them.

[2017-12-13 12:20] #24320 closed

[2017-12-13 12:58] Simperfit commented on #25481
Hey @mickaelw What terminal are you using ?

[2017-12-13 13:36] mickaelw commented on #25481
I use the terminal of Intellij IDEA last version

[2017-12-13 14:19] notaphplover opened #25483 "Missing services when running php bin/console debug:autowiring"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.0

Hi, i´m using a test project generated using composer:
[code]
i run the following commands:
[code]
when i run:
[code]
I don´t see all the aliases of the services. I´m missing, at least, the service "sesion" (Symfony\Componen

[2017-12-13 14:39] althaus opened #25484 "[Cache] Cannot redeclare class Acme in /path/to/Acme.php"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.1
| PHP version | 5.6.x

After upgrading to Symfony 3.4.1 I'm encountering strange caching issues.

In dev I get "Cannot redeclare class EventSubscriberInterface" with a fresh cache after the first successfull page load. In that

[2017-12-13 14:41] kaanbasal commented on #24543
I think the solution is not ideal in any way. We are not defining our services in config.yml and designing everything for not to be able to define it in config.yml/service.yml. So just only to use services in integration tests, we should add them?

For the sake of the decoupling, the best way as you say is also not viable. At least give users a proper example like, defining those services under ea

[2017-12-13 15:49] anthonyrossetto commented on #25216
UP

[2017-12-13 15:55] derrabus commented on #24543
Just to clarify: By "we are not defining them" you mean, you use PSR-4 autodiscovery to define them? Otherwise, I'd be confused: Services that haven't been defined are not in the container because, well, they haven't been defined. 😉

No, the suggestion is that you in your test environment you add public aliases to your private (autodiscovered?) services to make them available in your integration t

[2017-12-13 15:57] derrabus commented on #24543
By the way, for people who don't like the public alias solution, I have drafted a solution that uses tags and a separate container for integration tests.

https://github.com/symfony/symfony-docs/issues/8097#issuecomment-348963302

Maybe, other people in this thread find this helpful as well.

[2017-12-13 16:13] SimplyCorey commented on #25445
Thanks for getting back to me,

The issue is with the new abstract class that `MongoDbSessionHandler` extends in `3.4`.  This wasnt the case in `3.3`.  The new logic within the abstract class `destroy` method is different from the old logic.  This new logic checks if a $sessionName exist and throws an exception if it doesn't.

https://github.com/symfony/symfony/blob/3.4/src/Symfony/Component/HttpF

[2017-12-13 16:15] SimplyCorey commented on #25445
To get around the issue for now; I have added symfony/http-foundation 3.3.14 to my composer.json file.

[2017-12-13 16:18] xabbuh commented on #25483
Did you enable sessions in the config?

[2017-12-13 16:19] xabbuh commented on #25481
Duplicate of #24125?

[2017-12-13 16:38] notaphplover commented on #25483
Ahh, i´m sorry, that was my fault. No, i did not. Now i can see the service.

Thank you!

[2017-12-13 16:43] xabbuh commented on #25483
okay, closing then :)

[2017-12-13 16:43] #25483 closed

[2017-12-13 16:45] nicolas-grekas commented on #25445
Do you know why "open" is not called? Is that legimitate to call "destroy" without calling "open" first? It looks like a broken life-cycle to me, but maybe you have some insight and it's not?

[2017-12-13 16:46] edurenye opened #25485 "Token is anonymous in AccessListener after authentication."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

I use Symfony with FOSUser but seems like the problem is with Symfony, I created this firewalls:

[code]

And I added custom Controllers for login from the admin firewall, when I try to login from admin it calls a controller th

[2017-12-13 16:50] kaanbasal commented on #24543
Yes, we are using PSR-4 based service discovery, and on the higher levels of our application we are avoiding to define services one by one in services.yml. I hope this is clear now 😉

Actually I checked all of the suggestions and the comment you sent and the problem is not always about your own services which you defined, autowired, or configured. The problem is 3rd party bundles. In integration t

[2017-12-13 17:18] derrabus commented on #24543
If the 3rd party bundle declares them public, you can use them straight away. If the bundle defines them as private, it is kinda odd to access them directly, but if you have to, it's the same as with your own.
* You can add a public alias to the third-party service to your test environment.
* You can add a compiler pass that sets the third-party service to public (not recommended).
* If you use my

[2017-12-13 17:25] kaanbasal commented on #24543
All of the suggestions would work. But as I thought all of the suggestions require us to know which services we will use in tests. if they are distributed over bundles it gets more complicated.
Thanks for the answers, I will check if I can make it easy to work with 👍

[2017-12-13 17:36] weaverryan commented on #25368
@bshaffer (who works at Google) is aware of this, and even has/had a PR on Twig to fix it (but I think it was closed)

[2017-12-13 18:41] xabbuh commented on #25485
I have some difficulties to understand what problem you are actually trying to solve. Could you create a small example project that allows to reproduce your issue?

[2017-12-13 18:48] dmaicher commented on #25436
@fabpot I created a PR for backporting the fix from 5 to 3: https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/543

There seems to be no branch for version 4 though?

[2017-12-13 19:02] er0sion opened #25488 "Guard not calling start() after getCredentials()"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Symfony version  | 3.3.14

Guard doesn't seem to be calling start() after getCredentials.
Assume user is not logged in (anonymous) when visiting route.  Everything else works fine.
Expected output should be '**here1**';
fiewall:

[code]

controller:

[code]

--------------
authenticator:

[code]

[2017-12-13 19:37] dmaicher commented on #25246
See https://github.com/symfony/symfony/pull/25489

WDYT?

[2017-12-13 20:08] ibasaw commented on #19834
need same thing...but don't know how to do it.

i try to do a multi domain website on same code, all change with the domain url.

i got a parameter.php file, inside this file, i define some parameters by domain.

I got a problem with the cache, the configuration is only the first time run, because it read again in the cache.

How to disable cache for parameters.php ?

[2017-12-13 20:18] SimplyCorey commented on #25445
Im not 100% sure open isnt being called, I haven't dug that far into the laravel-mongodb session handlier.  $sessionName was never set with mongodb before 3.4.

This seems to be the same ticket: https://github.com/symfony/symfony/issues/25479

[2017-12-13 20:20] nicolas-grekas commented on #25445
Looks like the same yes. Can you provide a reproducer?

[2017-12-13 20:21] nicolas-grekas commented on #25479
This can only happen if the "open" method is not called, which looks suspicious. Can you investige why it isn't?
If you can provide a reproducer, we could also have a look.

[2017-12-13 20:22] SimplyCorey commented on #25445
I can get one to you in the morning.

[2017-12-13 20:26] SimplyCorey commented on #25445
Reading some docs though, it looks like the open function was really only ever meant for a file session handlier.  It is normal not to call open at all if you are not writing  to a file based system.

[code]

[2017-12-13 20:28] SimplyCorey commented on #25445
The same is for the close.  These are only meant to be used for drivers that need to support locking.

[2017-12-13 20:37] glensc commented on #25418
ok, i see, no real solution available.

you may wish to look discussion of similar problem in other project: https://github.com/malkusch/lock/issues/6

[2017-12-13 20:37] #25418 closed

[2017-12-13 20:43] nicolas-grekas commented on #25445
Wow strange statement there. All drivers need locking. The lock not a feature needed per driver, but is needed to have correct session management.
The fact that not all drivers handle a lock is actually a bug that opens for race conditions.
Yes, most non-file-based drivers don't have locks. But look at eg sncredis, they did the job correctly.
I hope we'll be able to fix that bug Symfony soon also.

[2017-12-13 20:48] jderusse commented on #25418
If you need to define a blocking timeout, I suggest to implement a loop until you acquire the lock or timeout is reached.

[code]

[2017-12-13 21:05] nicolas-grekas commented on #25445
Actually we may disagree or not with the usefulness of "open", technically it's the only way for the driver to have access to the session name... So it should be called really.
I think the issue should be fixed on the caller side.

[2017-12-13 21:07] nicolas-grekas commented on #25479
Actually the discussion is pretty advanced on the same topic in #25445. Closing as duplicate. Please come to this other issue if you want to participate. From what it looks like to me for now, it's a bug on the caller side.

[2017-12-13 21:07] #25479 closed

[2017-12-13 21:21] Simperfit commented on #25445
@nicolas-grekas should the drivers be implementing open or it's ok to just let them in the Abstract ?

[2017-12-13 21:23] nicolas-grekas commented on #25445
The implementation in the abstract is fine as is for many drivers.

[2017-12-13 21:44] jgrygierek commented on #13994
I'm using SF 4 and this problem still exists. `isAccountNonLocked()` method should be checked before authentication and should stay in `checkPreAuth` but rest of methods (`isEnabled()` and `isAccountNonExpired()`) maybe should be moved to the `checkPostAuth`?

[2017-12-13 22:04] pdugas commented on #25368
Been looking and can't find that PR. Any chance someone could point me toward it?

[2017-12-13 22:07] nicolas-grekas commented on #25445
So, the caller is Laravel core, in https://github.com/laravel/framework/blob/5.5/src/Illuminate/Session/Store.php

Given the statement in the doc ("open [...] is simply a fact of poor interface design"), I'm not really confident this can be patched upstream. I personally think it should, but my pov doesn't count there.

If anything, we could workaround that by forcing an "open" before "read".

WDY

[2017-12-13 22:31] SimplyCorey commented on #25445
@nicolas-grekas Thanks for taking the time to look at this.  I believe you have a really strong point on all drivers *should* be using locks.   I should have been more clear that was in the Laravel docs and not PHP.

[2017-12-13 22:33] SimplyCorey commented on #25445
It might be worth me opening a bug on Laravel

[2017-12-13 22:47] Tobion commented on #25445
`\SessionHandlerInterface` is tied to how the PHP session life-cycle works. The PHPs session always calls open(). So if people use the same interface, they need to respect how the interface is meant to be used. That includes calling open(). I'm not saying the PHP session system is well designed. But it's how it works.

So IMO we should not add workarounds for wrong usages. The same problem applies

[2017-12-13 23:14] #25481 closed

[2017-12-14 00:19] #24742 closed

[2017-12-14 00:30] #25266 closed

[2017-12-14 00:52] kocsismate commented on #25159
Thank you @ostrolucky for the thorough investigation! I am open to suggestions in to improve my benchmark. :) And @javiereguiluz I'll change the line saying "my test is better than the last one was" because it sounds a bit arrogant. :S

My idea to measure "cold", "semi-warm" and "warm" performance came after Ocramius' suggestion (https://github.com/kocsismate/php-di-container-benchmarks/issues/4#i

[2017-12-14 04:55] jhkchan commented on #22151
I am sharing my hack here. If you really want to get your expected type from env, here is what I do:

[code]

but I agree with @fabpot after I read his design, I updated my code and did not need this use-case anymore.

[2017-12-14 06:33] arthurkirkosa commented on #25445
`MongoDbSessionHandler` is provided by symfony and it's not calling `parent:open`.

I fiddled around with the source, and if I call `parent::open(null, 'something')` in the `__constructor`, it works as expected;

[2017-12-14 07:02] Simperfit commented on #25445
Since the issue was close, I did not push it, but I have a commit that add
the parent call to the constructor.

[2017-12-14 07:03] Simperfit commented on #25470
@mathroc Could you make a PR for this ? I think this should be a bugfix since the behaviour is wrong right now.

[2017-12-14 07:04] Simperfit commented on #25475
@Nemo64 Do you want to provide a PR for this ?

[2017-12-14 07:44] Guite commented on #23538
:+1: for deprecation

[2017-12-14 07:57] javiereguiluz commented on #25159
@kocsismate I just copied your literal words in the benchmark page, where you say that the previous benchmark was bad and yours is better. I don't think that's arrogant: some things are better than others. You are not insulting the other one:

![better-benchmark](https://user-images.githubusercontent.com/73419/33981335-b4bb3b1a-e0ac-11e7-82cb-20dc6f03b512.png)

[2017-12-14 08:22] javiereguiluz commented on #25484
In the Symfony Demo repository we're also getting reports about similar issues: *"Cannot declare class XXX because the name is already in use"*: https://github.com/symfony/demo/issues/411#issuecomment-342176785

[2017-12-14 08:23] javiereguiluz commented on #25475
Could we first check how do other frameworks solve this (not necessarily PHP frameworks because this looks like a universal problem). Thanks!

[2017-12-14 08:25] nicolas-grekas commented on #25445
@SimplyCorey would you mind opening the issue on Laravel side?

@arthurkirkosa @Simperfit sorry but this make no sense: the open function must be called just before the session is first read, and must be provided the correct session name. Calling in the constructor is just bad and breaks things.

[2017-12-14 08:25] althaus commented on #25484
I got it sorted out once by removing the boostrap.cache file. I have to check if this is the cure, if it happens again.

[2017-12-14 08:27] jakzal commented on #20532
@Bubelbub can you provide a full stack trace to show where's the error coming from?

[2017-12-14 08:29] nicolas-grekas commented on #25484
This issue is generally due to this: conflicting inlining strategies between `boostrap.cache.php`, `classes.php` and now maybe the inlined "include" in the container. Fortunately, we deprecated the two former, so this will die soon. Just don't use them and done.

[2017-12-14 08:29] #25484 closed

[2017-12-14 08:30] edurenye commented on #25485
Simplifying it, just after the login, when doing a redirect, AccessListener token has still the anonymous user instead of the logged in. This happens because after Symphony 2.1, the security logic is executed after the routing logic.

[2017-12-14 08:30] nicolas-grekas commented on #20532
I would close here: this is the same as #25484, where I stated:

[2017-12-14 08:30] nicolas-grekas commented on #20532
This issue is generally due to this: conflicting inlining strategies between boostrap.cache.php, classes.php and now maybe the inlined "include" in the container. Fortunately, we deprecated the two former, so this will die soon. Just don't use them and done.

[2017-12-14 08:31] jakzal commented on #20532
Ok. @Bubelbub please try Nicolas' suggestion and come back if it didn't make your issue go away.

[2017-12-14 08:31] #20532 closed

[2017-12-14 08:33] nicolas-grekas commented on #25475
100% agree with Javier: this behavior of mod_deflate is strange. It needs to be investigated, and I don't think there is anything to do on Symfony side: we should just deal with HTTP, not with things that alter its semantic for unknown reasons.

[2017-12-14 08:42] kocsismate commented on #25159
Yeah, I know they are mine :) But I didn't like them at all when I saw them again. Maybe the sentence is not arrogant, but inelegant.

[2017-12-14 08:44] benjaminrau commented on #25464
Maybe i am wrong and i simply have overseen some parameters.yml settings.
But i still dont find them in documentation, nor i understand how they are injected.

After setting request_context default values in parameters.yml everything is fine:
[code]

[2017-12-14 08:51] xabbuh commented on #25485
But can you give an example of a use case you have that is failing with the current behaviour?

[2017-12-14 09:03] althaus commented on #25484
How? I just upgrade from 3.3 to 3.4 and did all relevant upgrades from UPGRADE-3.4.md. There's nothing stated about those files?

[2017-12-14 09:05] chalasr commented on #25470
Can you give a [simple reproducer](https://symfony.com/doc/current/contributing/code/reproducer.html#reproducing-simple-bugs) so that we can confirm it's a bug?

[2017-12-14 09:17] sroze commented on #25464
@benjaminrau I think you are right, this is a bug. I've raised #25491 for a fix.

[2017-12-14 09:21] edurenye commented on #25485
A use case is just have a redirect in the login target controller that if the user has a role redirects to one place else to another one, login with a user with that role and it will redirect to the wrong page due to this issue.

[2017-12-14 09:29] Simperfit commented on #25445
This is why I didn't pushed It, I just tested it and it breaks the feature.

2017-12-14 9:25 GMT+01:00 Nicolas Grekas <notifications@github.com>:

[2017-12-14 09:37] sroze commented on #25488
In 3.3, returning `null` on the `getCredentials()` method is a special case that says to the authenticator "please skip me": https://github.com/symfony/symfony/blob/3.3/src/Symfony/Component/Security/Guard/Firewall/GuardAuthenticationListener.php#L104-L107
In 3.4 such usage is deprecated and is removed in 4.0.

If you want to authenticate this user, I'd suggest you return some credentials instead

[2017-12-14 09:38] xabbuh commented on #25485
Please show some concrete code. How did you try to implement the redirect?

[2017-12-14 10:00] althaus commented on #25484
Ok... just killing the bootstrap file isn't the solution. Redoing all caches still falls back to the exception.

btw: I'm currently pinned on PHP 5 and as far as I understand the app*.php files, dropping the bootstrap file is for PHP 7 only.

[2017-12-14 10:04] nicolas-grekas commented on #25484
v3.4.2 will embed a fix for this so that no action will be required anymore. See #25363

[2017-12-14 10:05] VaN-dev opened #25494 "Web Debug Toolbar 404"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4

just install a fresh symfony 4 project, added the profiler recipe. the debug tool bar displays, but contains the following error : An error occurred while loading the web debug toolbar. Open the web profiler.

when clicking the l

[2017-12-14 10:11] sroze commented on #25494
Erm... I can't reproduce. What do you have in the `routes` folder? 🤔

Also... did you clear the cache? This would cause the profiles to disappear. What is the result of the `/_profiler/` page?

[2017-12-14 10:15] VaN-dev commented on #25494
my routes folder contains the following :

- dev
-- twig.yaml
-- web_profiler.yaml
- annotations.yaml

web_profiler.yaml contains the following :
[code]

I did clear the cache, even if the recipes already perform it.

/_profiler/ also returns a 404

[2017-12-14 10:17] sroze commented on #25494
Did you change anything? Like the `.env` file? How do you run the web server?

[2017-12-14 10:19] althaus commented on #25484
Okay, thanks!

I'll got for setting `container.dumper.inline_class_loader` to `false` and see if the issue vanishes for me, too.

[2017-12-14 10:20] VaN-dev commented on #25494
didn't change anything to .env file. contains the following :
[code]

As a web server, i use a local apache with the following vhost :
[code]

[2017-12-14 10:38] xabbuh commented on #25494
Can you share your log?

[2017-12-14 10:38] VaN-dev commented on #25494
closing this issue, i solve dthe problem by following the current doc : https://symfony.com/doc/current/setup/web_server_configuration.html

didn't I had to install an apache recipe

[2017-12-14 10:40] #25494 closed

[2017-12-14 10:52] seblegall commented on #25334
Thx for the fix @nicolas-grekas. We just crashed the all Meetic website due to this error. :-) I guess we will wait for the 4.4.2 to be release before upgrading to sf 3.4.

[2017-12-14 10:54] sroze commented on #25334
@seblegall You mean 3.4.2, right? 😄

[2017-12-14 11:16] benjaminrau commented on #25464
Great, looks very good!

[2017-12-14 11:29] seblegall commented on #25334
Yeah, of course. ;-)

[2017-12-14 12:24] iltar commented on #25477
You should first upgrade to 3.4, fix all deprecations and _then_ go to 4.0. Does it work in 3.4? Do you have deprecations in 3.4 that might tell you how to solve this?

[2017-12-14 12:27] chalasr commented on #25488
Closing as explained by @sroze, that's the expected behavior.

[2017-12-14 12:27] #25488 closed

[2017-12-14 12:29] alexpts commented on #25477
I did not check 3.4.
I checked it only 4.0.1.

[2017-12-14 12:32] javiereguiluz commented on #25488
Just asking: should returning `null` in 3.3 trigger a deprecation notice?

[2017-12-14 12:36] edurenye commented on #25485
The thing is that after logging in the controller I try to do that, but $user is NULL:
[code]
Then I tried with:
[code]
And $user exists but it's roles are empty.

[2017-12-14 12:49] webmastard opened #25496 "[Translation] Add support for parsing constants in yaml translation files"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.1

[2017-12-14 12:51] alexpts commented on #25477
Can you check it yourself?

[2017-12-14 12:51] alexpts commented on #25477
Can you check it yourself?

[2017-12-14 12:59] thejahweh commented on #24154
Is it possible to get this change into Symfony 4?
It would require 2 more lines at `\Symfony\Component\Translation\Translator::computeFallbackLocales`.

[2017-12-14 13:02] iltar commented on #25477
You can check it, I can't. If you want to upgrade to 4.0, you first have to do 3.4, that's how it goes. If you skip 3.4, there's not much the community can do to check if this is an issue in Symfony without a lot of knowledge of the code in question.

[2017-12-14 13:12] thejahweh opened #25498 "Locale fallback split on dash for BCP47"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

Is there a reason for not supporting a BCP47 locale fallback.
As far as I see it would only require 2 more lines at `\Symfony\Component\Translation\Translator::computeFallbackLocales`.

There was something similar for version 3

[2017-12-14 13:14] alexpts commented on #25477
I dont understand how it relation.

Suppose I updated to 3.4 and did not notice this problem. Then I updated to 4 and found the problem, but I still did not exactly reproduce it on 3.4.

[2017-12-14 13:16] alexpts commented on #25477
If the described example is not enough. I can prepare clean repo with problem without other code for reproduce it.

[2017-12-14 13:25] sroze commented on #25488
That might be good to backport that from 3.4, you're right.

[2017-12-14 13:33] chalasr commented on #25488
Why? That's the way to go for skipping an authenticator in 3.3, no alternative. In 3.4, it's deprecated with alternative (new api).

[2017-12-14 13:33] xabbuh commented on #25485
I am sorry, but this is not enough information to reproduce your issue. Can you please create a small example project that allows to be able to experience the wrong behaviour?

[2017-12-14 13:36] alexpts commented on #25477
Ok, I will prepare clean repo for reproduce.
I will link here to repo.

[2017-12-14 13:41] sroze commented on #25488
Oh yes, sorry I thought the alternative was introduced before 🤦‍♂️

[2017-12-14 13:46] xabbuh commented on #24154
@thejahweh I can see the change in Symfony 4: https://github.com/symfony/symfony/blob/4.0/src/Symfony/Component/Intl/Locale.php#L70

[2017-12-14 14:13] DylanDelobel opened #25500 "[VarDumper] Stub could not be converted to string"
| Q                | A
| ---------------- | -----
| Bug report?      | Yes
| Feature request? | No
| BC Break report? | Yes
| RFC?             | No
| Symfony version  | 3.2.13

From the profiler page, the Doctrine panel ran into this error
[code]
From the logs

[code]
at `vendor\doctrine\doctrine-bundle\Resources\views\Collector\db.html.twig line 264 `

The error disappear if i remove `|doctrine_r

[2017-12-14 14:15] nicolas-grekas commented on #25500
3.2 is not maintained anymore. Please upgrade to lastest 3.3 or 3.4, this may have been fixed already.

[2017-12-14 14:30] #25500 closed

[2017-12-14 14:30] er0sion commented on #25488
Thanks for clearing it up, I found what I needed once I dug deeper in to AbstractFormLoginAuthenticator

This part of the documentation is confusing:

**start(Request $request, AuthenticationException $authException = null)**
This is called if the client accesses a URI/resource that requires authentication, but no authentication details were sent. Your job is to return a Response object that helps

[2017-12-14 15:34] ibasaw commented on #19834
found it ! i use an array and pass it to the kernel, in the kernel i set up different cache dir depends on the array configuration

[2017-12-14 15:36] indapublic opened #25501 "Incompatible types of Request in Symfony tests"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.13

I have legacy code which use overrided Symfony\Component\HttpFoundation\Request

[code]

So controllers look like

[code]

I want to write some simple tests for these controllers, but I'm received errors about incompatible ty

[2017-12-14 15:52] edurenye commented on #25485
With the following I worked around the problem:
[code]
The problem is that this is just a work around, once you are logged in the system should give you the user rightly, so the issue is not fixed.
I don't have time to provide a example project as FOSUserBundle still does not support Symfony 3.4 and I don't have time to implement all the logic of a working example.
The main problem we have is that

[2017-12-14 16:18] xabbuh commented on #25485
Okay, let's close here then for the moment. We can consider to reopen in the future when we have a reproducer for the wrong behaviour.

[2017-12-14 16:18] #25485 closed

[2017-12-14 18:34] fabpot commented on #22151
I'm closing this one as we do have support for casting values now.

[2017-12-14 18:34] #22151 closed

[2017-12-14 18:35] fabpot commented on #23538
I'm still in favor of deprecating the checkdns altogether.

[2017-12-14 18:40] xabbuh commented on #25496
closing as explained in the linked PR

[2017-12-14 18:40] #25496 closed

[2017-12-14 19:04] fabpot commented on #25436
v3.0.29 is out with the fix. Version 4.0 is not supported as it was a short-lived version, so one should jump from 3 to 5 directly.

[2017-12-14 19:04] #25436 closed

[2017-12-14 19:17] Tobion commented on #25501
I'm sorry, but in the GitHub repository we only discuss about Symfony bugs and new features. For questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

[2017-12-14 19:17] #25501 closed

[2017-12-14 19:41] alexpts commented on #25477
Clean repo for reproduce this bug - https://github.com/alexpts/bug-symfony-di
It reproduce in 3.4 and 4.0.

[2017-12-14 19:57] #25246 closed

[2017-12-14 19:59] sroze commented on #25477
You are correct, this was merged 3 days ago

[2017-12-14 19:59] alexpts commented on #25477
https://github.com/symfony/symfony/issues/25245

[2017-12-14 20:00] alexpts commented on #25477
Ok, Thanks! Will wait new fix version

[2017-12-14 20:17] Tobion commented on #25445
It's does not need to call parent:open because open() is not overwritten.

[2017-12-14 20:52] xabbuh commented on #25281
Your data is set to `null` inside the event listener of the built-in `FileType` that we introduced in #24993 for security reasons. So you need to adapt your form type to account for these changes. I am going to close here as there is no bug to fix. Thank you for understanding.

[2017-12-14 20:52] #25281 closed

[2017-12-14 20:53] xabbuh commented on #25211
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-14 20:53] #25211 closed

[2017-12-14 20:54] xabbuh commented on #25221
I am closing here for now as this does not seem to be caused by the Form component. Of course, we will reopen if new information pops up that hints otherwise.

[2017-12-14 20:54] #25221 closed

[2017-12-14 20:54] xabbuh commented on #24844
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-14 20:54] #24844 closed

[2017-12-14 20:55] xabbuh commented on #24646
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-14 20:55] #24646 closed

[2017-12-14 20:57] xabbuh commented on #23305
I am going to close here as several concerns were raised against supporting this feature. Thank you for proposing it and starting the initial discussion anyway @mikaelcom.

[2017-12-14 20:57] #23305 closed

[2017-12-14 20:58] chalasr commented on #25423
Can we close? I can't reproduce either

[2017-12-14 21:01] #19021 closed

[2017-12-14 21:04] xabbuh commented on #25216
Can you create a small project that allows to reproduce your issue?

[2017-12-14 21:05] xabbuh commented on #25331
@Seb33300 You can just create a small example project that allows to reproduce your issue if you struggle to come up with a real test case. We can then look into it and see if there's actually any work to do.

[2017-12-14 21:08] #25423 closed

[2017-12-14 21:15] xabbuh commented on #10070
I am closing here as the observed behaviour is not a bug and it's probably not going to be changed in the future.

[2017-12-14 21:15] #10070 closed

[2017-12-14 22:32] mikaelcom commented on #23305
Okay so, is there any chance to get an answer to my previous questions:

Can I configure a service at any level that would allow me to use my own implementation of FormConfigBuilder, that would inherit from the original FormConfigBuilder, in order to override the isValidName method?

By decorating a service? Which one?
Thanks

[2017-12-15 08:10] ad3n commented on #23564
I have this issue with Symfony 4.0.2

[code]

I'm sure the class is exist and having right namespace...

[2017-12-15 08:18] TPete opened #25509 "IdentityTranslator does not consider delimiter characters (%)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8 - 4.0

The [IdentityTranslator](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Translation/IdentityTranslator.php) does not respect delimiter characters (%) when replacing parameters. If the parameter is fo

[2017-12-15 09:33] dcshiman commented on #15350
you can set a new status code for the current response in kernel.response event subscribers
`public function onKernelResponse(FilterResponseEvent $event) {
        $response = $event->getResponse();
        $response->getStatusCode() !== \Symfony\Component\HttpFoundation\Response::HTTP_UNAUTHORIZED ? :
	        	$response->setStatusCode(\Symfony\Component\HttpFoundation\Response::HTTP_OK);

[2017-12-15 09:36] ansidev commented on #15350
Please beautify your code snippet!

[2017-12-15 09:38] dcshiman commented on #15350
that was a fast response, i was working on it

[2017-12-15 09:41] ansidev commented on #15350
Use Markdown syntax ```php to highlight PHP code

[2017-12-15 10:39] pribeirojtm commented on #25280
Hello, first time posting in symfony world, so sorry if I'm not making it right reporting a situation.

I have an issue that seems related with this topic, or this one https://github.com/symfony/symfony/pull/25255

Symfony version: 3.4.1
What I am trying to to: Executing a command from a Controller, following https://symfony.com/doc/3.4/console/command_in_controller.html example.
In this case , th

[2017-12-15 10:51] nanofelis opened #25511 "[Process] ContextErrorException | Array to string conversion"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.2

Environnement variables passed to `proc_open()` in https://github.com/symfony/symfony/blob/v3.4.2/src/Symfony/Component/Process/Process.php#L334 throw a `ContextErrorException "Array to string conversion"`

The reason seems

[2017-12-15 10:59] pribeirojtm commented on #25280
****

[2017-12-15 11:00] pribeirojtm commented on #25280
@nicolas-grekas can you help me on this?

[2017-12-15 11:02] nicolas-grekas commented on #25280
Just upgrade.

[2017-12-15 11:05] stof commented on #25509
`strtr` does not have this behavior: https://3v4l.org/IIdI6

so this report looks really weird to me (especially when you says that `strtr` shows the same behavior)

[2017-12-15 11:05] pribeirojtm commented on #25280
Can you explain more please?

[2017-12-15 11:08] nicolas-grekas commented on #25280
Your report shows that the code is using "require", which is not the case anymore in more recent version.
You should upgrade to v3.4.2
And you might need to clear the cache using "rm var/cache/*" instead of cache:clear

[2017-12-15 11:11] nicolas-grekas commented on #25511
How can that happen?
non-strings are filtered in https://github.com/symfony/symfony/blob/v3.4.2/src/Symfony/Component/Process/Process.php#L1723
Can you provide a reproducer?

[2017-12-15 11:16] pribeirojtm commented on #25280
I've just upgraded, cleared cache via CLI, worked fine.
But executing comming from a controller, still gives me the same error :(
I've removed var/cache/*

[2017-12-15 11:34] xabbuh commented on #14727
This one is tricky as IMO PHP is the part that is acting wrong here. We would need to find a way to discover whether the parsed year is the same as the one given in the original string.

[2017-12-15 11:58] stof commented on #23564
please show the content of this file

[2017-12-15 12:13] Simperfit commented on #25445
@Tobion @nicolas-grekas should we improve the message when it's called by an implemeted method that does not implement open ? adding something like:
[code]

[2017-12-15 12:14] nanofelis commented on #25511
Apparently the filter only applies to values fetched from $_ENV but the argv array is already present in $env from the line `$env = getenv();` line. Yes, I'll provide a reproducer today.

[2017-12-15 12:16] Simperfit commented on #25468
@koc Did you have the time to create the reproducer ?

[2017-12-15 12:19] ad3n commented on #23564
[code]

[2017-12-15 12:20] ad3n commented on #23564
only like that @stof  and i call in controller as construct parameter

[2017-12-15 12:21] valix opened #25515 "[WebServerBundle] server not work after update"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.2

After "composer update" to migrate from 3.3. to 3.4, the WebServerBundle no longer works.

When i open the site in bowser, i have this error:

PHP Warning:  require(index.php): failed to open stream: No such file or director

[2017-12-15 12:34] TPete commented on #25509
Thanks for checking!

It actually was a feature in our setup, which allows us to leave out the delimiters, that caused my misinterpretation. Sorry for bothering.

[2017-12-15 12:34] #25509 closed

[2017-12-15 12:47] abzolv commented on #25515
Same here. I upgraded from 3.4.1.

[2017-12-15 13:05] xabbuh commented on #23564
Please show how you configured your services. Since you are not using the `App` namespace there must be a customised config.

[2017-12-15 13:34] ad3n commented on #23564
[code]

I just change the `App` to `KejawenLab\Application\SemartHris`

[2017-12-15 13:37] emodric commented on #25448
@nicolas-grekas @dmaicher The exact same thing happens for me even if no session is started.

But even if there is a session, still, public response with shared max age is perfectly valid for example in eZ Platform usecase, which caches the pages in Varnish even if there is a session, because the cache variation is not done on session itself, but on user group ID.

[2017-12-15 13:44] xabbuh commented on #23564
Looks good on a quick glance so far. Can you create a small project that allows to reproduce your issue?

[2017-12-15 14:00] jjenly commented on #24262
I have the same issue.
At first it was strange behavior when im try to set cookies, its was autocomplited with: 'Set-Cookies'+NAME
update http-foundation (v4.0.1 => v4.0.2): help solve this, but then request start be empty on get cookies and post request, get method works
`<?php
namespace App\Controller;

use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;

[2017-12-15 14:02] Rudloff commented on #24924
Unfortunately, I can still reproduce the same issue with Symfony 3.4.2.

[2017-12-15 14:04] ad3n commented on #23564
@xabbuh ok i will upload as soon as possible... i need to create small skeleton and make sure it... i found the error is gone after restarting my laptop... but i don't use apc or anything related to memory cache and i'm on development environment not staging or production...

[2017-12-15 14:18] nanofelis commented on #25511
Ok after some enquiry it seems we have a weird server behavior on our side that makes `getenv()` always include argc and argv. It has nothing to do with Symfony, sorry about that !

[2017-12-15 14:18] #25511 closed

[2017-12-15 15:01] remindbg commented on #25515
Same here, fresh new installs

[2017-12-15 15:27] Nemo64 commented on #25475
The reason for adding the suffix is simple. It factors in reverse proxies
and clients which might not accept compression. If a client can't handle
compression it gets an uncompressed version with a different etag so that
the reverse proxy knows that those are 2 different responses. And php just
gets the raw headers and therefore sees the suffix. I haven't put effort
into creating an issue for apac

[2017-12-15 16:47] MonsieurBon opened #25517 "Where has the SimplePreAuthenticatorInterface gone?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.2

Hi all

I implemented an authentication system with API keys in Symfony 3.3 following [this guide](https://symfony.com/doc/3.3/security/api_key_authentication.html). Today I tried upgrading to Symfony 4 after upgrading to 3.4

[2017-12-15 17:27] RonnieRocket147 commented on #24988
I think there are serious implications here. I too spent 2 hours figuring out why Chrome and Safari are not respecting my Cache-Control settings.

In my Response I set the following to avoid 304 Not Modified requests/responses:

[code]

However both Chrome and Safari kept on sending requests. After inspecting the headers I noticed two Cache-Control headers:

[code]

The first header is sent by Sym

[2017-12-15 17:29] nicolas-grekas commented on #24988
See #25448, it contains everything on the topic.

[2017-12-15 17:39] RonnieRocket147 commented on #24988
Thanks for pointing my to that issue.

[code]

This is want I want BUT only for this specific Response (otherwise browsers will not cache to response as intended). For all other responses the current Symfony default (```cache_limiter=''```) is perfectly fine.

How to accomplish that?

[2017-12-15 17:44] nicolas-grekas commented on #24988
Not sure you can.
But instead of looking for that, I'd suggest to look *why* is the session used on that page.

[2017-12-15 17:45] goetas commented on #24988
I also had the same need, it was per-url/path

(serving cacheable images only to authorized users was the case...)

[2017-12-15 17:58] RonnieRocket147 commented on #24988
Same here, authorized users may only access the media file. How did you solve it?

[2017-12-15 18:44] chalasr commented on #25517
None of them are gone https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Http/Authentication/SimplePreAuthenticatorInterface.php, part of the `symfony/security-http`(and security, and security-bundle).

[2017-12-15 20:32] MonsieurBon commented on #25517
Ok, so I need to install that additional package. This should be noted in the documentation.

Next I'm getting this exception:
`method "__construct()" references interface "Symfony\Component\Security\Core\Authorization\AuthorizationCheckerInterface" but no such service exists. It cannot be auto-registered because it is from a different root namespace.`

The interface and the implementing class is

[2017-12-15 20:32] raziel057 commented on #25286
@nicolas-grekas PR https://github.com/TechEmpower/FrameworkBenchmarks/pull/3139 is ready to be merged.

https://github.com/TechEmpower/FrameworkBenchmarks/pull/3139

Do you know if it's a good idea to use the same #FastCGI optimizations that are applied for ngnix config of Laravel ? https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/PHP/laravel/deploy/nginx.conf

I don't hav

[2017-12-15 21:21] Taluu commented on #25517
Actually it is... https://symfony.com/doc/current/components/security.html

[2017-12-15 22:15] chalasr commented on #25517
You are probably moving to flex which is all about installing only what you need.
Run `composer req security` and it should be ok.
If you think there is a doc issue, please report it on https://github.com/symfony/symfony-docs if there is no similar issue. Thanks

[2017-12-15 22:15] #25517 closed

[2017-12-16 00:09] iquito opened #25518 "TranslationLoader deprecation message in Symfony 3.4.2"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

In my application I get the following deprecation message:

    The class "Symfony\Bundle\FrameworkBundle\Translation\TranslationLoader" is deprecated since version 3.4 and will be removed in 4.0. Use "Symfony\Component\Trans

[2017-12-16 01:50] cyberhorse opened #25520 "[ExpressionLanguage] Allow custom Lexer"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0

It should be possible to set a custom Lexer (extended from the Lexer class) to modify how expressions are written and parsed.

Example use case - allow variables to be escaped in different ways. If for business reasons variab

[2017-12-16 02:58] fabpot commented on #25520
We made a conscious choice to not allow a different Lexer or Parser for this component. It has been proposed in the past to make it more "flexible" but it was always rejected. So, I'm closing this issue. Thanks for proposing.

[2017-12-16 02:58] #25520 closed

[2017-12-16 04:21] Simperfit commented on #25515
Could you please post a reproducer on github ? Because i've test both symfony-standard and flex on fresh install and they are both working.

[2017-12-16 04:56] Simperfit commented on #25498
Like @xabbuh said the changes seems to be already in, what do you need ?

[2017-12-16 04:59] Simperfit commented on #25401
Could you do the following, so we could get a reproducer ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

In case you need some help you can read this blog post : https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-16 05:01] Simperfit commented on #25400
Do you want (and have time) to implement  this feature @GromNaN ?

[2017-12-16 05:51] Simperfit commented on #25470
@chalasr Reproducer and bugfix added.

[2017-12-16 09:51] RonnieRocket147 commented on #24988
I found a work-around for my use-case. I added
[code]
before returning the response, which overwrites the Symfony ```header()``` for that specific response only.

I really believe Symfony should avoud using the ```header()``` function and place the headers in the Response instead so it can be overwritten.

[2017-12-16 10:19] nicolas-grekas commented on #24988
I'm sorry but I still fail to understand. As soon as a resource is public, it can be served directly to next users, bypassing any authentication.
This conflicts with the fact that the session is read, which means that the resource is possibly different for some/any users.
So again, why are you accessing the session in the first place to render immutable resources?
Hacking the CC header looks like

[2017-12-16 10:31] RonnieRocket147 commented on #24988
```public``` indicates the content may be cached by proxy servers, which is what I want to further reduce traffic. It may as well be ``private```, that is not the real issue here.

The session is needed because these media files may only be served to authenticated users.

[2017-12-16 10:47] nicolas-grekas commented on #24988
This makes no sense to me. As soon as a resource is served by a reverse proxy- which "public" allows, it cannot be authenticated anymore. How do you resolve that?

[2017-12-16 10:54] RonnieRocket147 commented on #24988
So I change ```public``` to ```private``` which probably makes more sense, I agree with you.

Then my original point still stands: 304's can't be avoided by the default Symfony ```header()``` usage without resorting to ```cache_limiter='0'``` with all its implications or my ```header()``` overwrite hack.

Do you understand my issue here?

[2017-12-16 10:56] nicolas-grekas commented on #24988
I understand your issue, but I'm challenging its reality. We just agreed that private is correct and public is buggy.
Now revalidate: how do you ensure that the authenticated resource is not reused after logging out?

[2017-12-16 11:18] RonnieRocket147 commented on #24988
I can't ensure that so it can be reused even if the user is logged out. This is no different than the ```must-revalidate``` as per RFC before it becomes stale:

```If the response includes the "must-revalidate" cache-control directive, the cache MAY use that response in replying to a subsequent request```

[2017-12-16 11:34] abzolv commented on #25515
Here is all you need to do on your local development computer to reproduce the bug:

symfony new testapp 3.4.2 <Enter>
cd testapp <Enter>
composer require symfony/web-server-bundle <Enter>
./bin/console server:run <Enter>

In your web browser address bar, type http://127.0.0.1:8000 and press Enter.

[2017-12-16 12:00] Simperfit commented on #25515
Same as flex :
[code]

By the way, if you use the symfony installer you don't need to require de web-server-bundle since it requires symfony/symfony (so the whole framework).

Event following what you said still cannot reproduce. I get an error, I can't run the server.

@valix could you please send us the steps to get this error ? Are you using windows or linux ? Do you a have empty public folder

[2017-12-16 12:30] abzolv commented on #25515
@Siperfit, why are you testing this under V4.0.2? The problem is in 3.4.2. The web server works perfectly in 3.4.1. It is broken in 3.4.2.

[2017-12-16 12:36] Simperfit commented on #25515
I'm not testing this under 4.0.2, it's using the composer it install 4.0.2, not using composer you have already the webserver installed and it works.
<img width="400" alt="capture d ecran 2017-12-16 a 13 35 37" src="https://user-images.githubusercontent.com/3451634/34070425-2a3163f0-e266-11e7-9466-b3aa43c4d431.png">

[2017-12-16 12:50] abzolv commented on #25515
Here is what I do and what I get:
-----------------------------
symfony new testapp 3.4.2
 Downloading Symfony...
[snip]
 Preparing project...
 ✔  Symfony 3.4.2 was successfully installed. Now you can:
    * Change your current directory to /data/testapp
    * Configure your application in app/config/parameters.yml file.

    * Run your application:
        1. Execute the php bin/console server:ru

[2017-12-16 13:06] Simperfit commented on #25515
@abzolv Thanks! With the version of PHP I can reproduce the bug. Ill try to look into this to understand why with this version of php the behaviour is wrong.

[2017-12-16 14:06] Simperfit commented on #25515
So,

I debbuged the behaviour and it seems to affect only php 7.0 (with php >= php 7.0).
What we can see is tha the `putenv` https://github.com/symfony/symfony/blob/3.4/src/Symfony/Bundle/WebServerBundle/WebServerConfig.php#L35 does not work because the `getenv`
returns false.  Only on 3.4 (I did not test 4.0 atm)

@fabpot @nicolas-grekas  Do you have an idea on how to fix this since it seems that

[2017-12-16 14:20] Simperfit commented on #25394
@xabbuh This issue can be closed since the PR has been merged.

[2017-12-16 15:16] yceruto commented on #25394
Still open #25404 which guarantees that there will be no empty groups in the future.

[2017-12-16 15:22] ostrolucky commented on #21378
This is a duplicity of https://github.com/symfony/symfony/issues/9888

[2017-12-16 16:00] chalasr commented on #25515
Could using `$_ENV` help?

[2017-12-16 16:00] pacogomezarnal commented on #25515
I'am developing with php 5.6.31 and I have the same problem

[2017-12-16 16:03] pacogomezarnal commented on #25515
php symfony new project 3.4
 Downloading Symfony...

    6.1 MiB/6.1 MiB ============================================================  100%

 Preparing project...

 OK  Symfony 3.4.2 was successfully installed. Now you can:

php bin/console server:run

Warning: require(index.php): failed to open stream: No such file or directory in C:\symfony4\project\vendor\symfony\symfony\src\Symfony\Bundle\WebS

[2017-12-16 16:04] Simperfit commented on #25515
Thanks for the report, I think this is the same bug @pacogomezarnal.

[2017-12-16 16:04] pacogomezarnal commented on #25515
Thanks

[2017-12-16 16:26] Simperfit commented on #25515
@chalasr I'm trying a fix with `$_ENV`

[2017-12-16 16:41] Simperfit commented on #25515
Thanks @chalasr it's working !

[2017-12-16 16:47] rafayexalter commented on #24924
I'm getting this same 'empty outputs on IIS' issue...

[2017-12-16 17:09] goetas commented on #24988
@nicolas-grekas as explained [here](https://github.com/symfony/symfony-docs/issues/8784#issuecomment-348151883) this is one of many thickets dealing with a similar issue...
 all ot them pointing to the fact that symfony is using the `header` function instead of the  `Response` object.

Using the `header` function forces us to use also that function to override the symfony's assumptions on how sess

[2017-12-16 17:37] abzolv commented on #25515
@Simperfit, just to potentially safe you a lot of headscrathing... according to http://php.net/manual/en/function.putenv.php#98540 putenv/getenv and $_ENV are two completely distinct environment stores.

[2017-12-16 17:42] nicolas-grekas commented on #24988
@goetas you're right, that's how it should be. That's not how it works today, so PR welcome. I'm not in a hurry to fix this myself, especially as it looks like getting correct CC headers is hard/easy to get wrong (see above.) By providing full flexibility, a new solution should also provide guidance to correct semantic.

[2017-12-16 18:02] Simperfit commented on #25515
@abzolv Thanks but I did know that ^^

[2017-12-16 18:21] goetas commented on #24988
@nicolas-grekas Great to hear! Was interested to know what is the general direction!

[2017-12-16 20:02] mvrhov commented on #24988
Why does `cache_limiter` require a special parameter and doesn't use the same behavior as other parameters e.g.

[code]

[2017-12-17 01:21] ostrolucky commented on #22592
Here's more generic solution we are using https://gist.github.com/ostrolucky/7b4a7133e51f6b5ffcb598a287acb5f7

Also, can we give this issue more appropriate title please?

[2017-12-17 01:34] ostrolucky commented on #17884
Duplicity of https://github.com/symfony/symfony/issues/9888. Linked issue contains proposal for Unique constraint.

[2017-12-17 07:37] Simperfit commented on #24977
So could we add this value by default only when we are using a custom loader ?

[2017-12-17 10:14] sstok commented on #25414
We should have PHP-CS-Fixer for this :) but not sure how to configure this properly - I guess any class in the `Tests` namespace can be automatically marked `@internal` 🤔 it's not the same as final so should be safe to do.

[2017-12-17 10:57] Simperfit commented on #25470
Status: Reviewed

[2017-12-17 11:32] ro0NL commented on #25465
Think im :-1: we discussed many variants for this feature, and eventually settled with a straightforward implementation; inject services by tag, ordered by priority. Anything else is more or less opinionated / bloats the syntax, and should be done in a custom compiler pass IMHO.

For sure we could think of something like `!tagged { tag: some, key_attribute: id }`. Which probably looks better in XM

[2017-12-17 11:36] pacogomezarnal commented on #25515
Looking for inside code, the bug is in
proyecto3_4\vendor\symfony\symfony\src\Symfony\Bundle\WebServerBundle\Resources\router.php
require $script;

If you do a var_dum($script), the result is index.php and is incorrect, because the correct file is app_dev.php

[2017-12-17 11:36] sergeyfedotov opened #25524 "[Serializer] Extract types of constructor parameters from docblock comment"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | ?

Currenly PhpDocExtractor works only with class properties. It's not possible to clarify the type of the constructor parameter through docblock comment.

[code]
Expected result:
[code]

Actual result:
[code]

[2017-12-17 11:37] pacogomezarnal commented on #25515
But if you print APP_FRONT_CONTROLLER from WebServerConfig, the enviroment variable is correct because it prints app_dev.php

[2017-12-17 12:00] Simperfit commented on #25515
Yes please check #25523. It fixes the bug

[2017-12-17 12:41] pacogomezarnal commented on #25515
OK. Thank you

[2017-12-17 12:44] pacogomezarnal commented on #25515
Checked and working

[2017-12-17 13:03] Koc commented on #25468
trying to do it now

[2017-12-17 14:02] Koc commented on #25468
All works as expected and even better! https://github.com/Koc/symfony-issue25468/commit/3a77327a6f654a50f41ac0e1b919bb21729d039b . No need mark my controller as public. Sorry for wrong issue, maybe I do something wrong before.

@nicolas-grekas only one question - how my controller creates as **public** service automatically? I like it, but where can I find line with code where it doing? My control

[2017-12-17 14:02] #25468 closed

[2017-12-17 15:30] nicolas-grekas commented on #25468
The controller.service_arguments is added in services.yaml, and it makes the service public also.

[2017-12-17 16:12] unckleg opened #25527 "Logout removes all session active providers"
**Security.yml** configuration is below
[code]

Login for Admin and Front providers works correctly, but if I'am logged in on both providers and logout let's say from admin provider I got logged out also from Front provider, If I logout from Front provider I got logged out from Admin provider also.

I think the problem is with the provider **regex** patter, but I'm not sure.

[2017-12-17 16:44] goatfryed opened #25528 "[DI] Service Definitions are not merged with previous ones when importing from resources"
| Q                | A
| ---------------- | -----
| Bug report?      | I think so
| Feature request? | maybe
| Symfony version  | 4.0.1

Service Definitions loaded by resource imports are not merged with previously defined definitions for the same service. All Definitions, that are defined after are properly merged.
I'm not sure, whether this is unintended and shouldn't be relied on, but I'd expec

[2017-12-17 18:01] goatfryed commented on #25528
Okay, it occured to me, that the definitions aren't merged at all. If the class is not defined, the service name is assumed to be the class and the later definition replaces the previous one completely.

Since I hadn't defined the class, I assumed that the definitions merged.

[2017-12-17 18:01] #25528 closed

[2017-12-17 18:08] nicolas-grekas commented on #25528
Correct, that's what we tried to hint in the last line here:
https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/3.3/config/services.yaml

[2017-12-17 19:05] Vinorcola commented on #25401
Unfortunatelly, starting from a new project does not reproduce...
I will try to understand why in this specific project it work differently.

[2017-12-17 20:24] xabbuh commented on #25401
Thank you for the response. Let's close for now then. We can reconsider this decision when more details pop up.

[2017-12-18 01:30] ad3n commented on #23564
@xabbuh : https://github.com/KejawenLab/KawulaCms

That is my repo to reproduce this error...

[2017-12-18 02:52] ad3n commented on #23564
@xabbuh : sorry i catch the problem and then is solved... The problem is not related to Symfony... Thanks

[2017-12-18 05:48] ad3n opened #25534 "Yaml Constant Error On Symfony 4.0.2"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yno
| RFC?             | no
| Symfony version  | 4.0.2

When using constant in yaml like ```!php/const:App\Kernel::SEMART_VERSION```

in Symfony 4.0.2 is catching an error

```Notice: Uninitialized string offset: 69 in <yaml file path>```

When use 3.4.2 version, the error is gon

[2017-12-18 06:01] ad3n commented on #25534
```!php/const App\Kernel::SEMART_VERSION```

Change to space in version 4.0.X

[2017-12-18 06:01] #25534 closed

[2017-12-18 08:56] sroze commented on #23564
@ad3n can you explain quickly what was the issue? It might help other users having similar issues.

[2017-12-18 09:16] ad3n commented on #23564
@sroze : it's my mistake, i use optimize autoload and classmap authoritative by default, so when i adding new class, i need to rebuild autoload, so i removed

[2017-12-18 09:30] stof commented on #24977
Well, `resource` is what makes it an import rather than a route.

[2017-12-18 09:42] Toyinster commented on #25511
This issue just cropped up over here, same as OP, `getenv()` is including the `argv` as an array. and it's causing a Array to string exception.

@nicolas-grekas There isn't any validation on what `getenv()` returns. If you are on a high enough PHP version.

Reverting back to v3.4.1 fixes the issue for me.

[2017-12-18 10:55] lockland opened #25535 "bin/console has not auto complete commands"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | x.y.z

bin/console is an awesome tool for people whose use symfony but remember all possible commands is not productive. Thus I believe if you implement auto complete for its options, it would be perfect for these users, like git.

[2017-12-18 11:27] ro0NL commented on #25535
https://github.com/bamarni/symfony-console-autocomplete works pretty well =/ Im not sure this is easy / worth implementing out-of-the-box.

[2017-12-18 11:28] apfelbox opened #25537 "[Routing] Duplicate slashes in URL"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.2

Hi,

I have an issue with routing and using an explicit PHP file as frontend controller.

Please take a look at the example project: https://github.com/apfelbox/symfony-slashes

The gist is:

#### Files setup

[code]

[code]

[2017-12-18 11:37] apfelbox commented on #25537
Hmm, I can reproduce this in Symfony 3.3.14.

[2017-12-18 11:45] apfelbox commented on #25537
Okay, so I can reproduce this way back to 3.2 (I stopped testing there).

The interesting thing though is that generating an URL for `"index"` will produce an URL **with** the slash, so even if you start out at the URL without slash, clicking one link will bring you back to the one with the slash.

[2017-12-18 12:14] lockland commented on #25535
Amazing. It worked very well for me. But if this tool comes with symfony installation would be interesting.

[2017-12-18 12:15] hlb-schmidt opened #25538 "fetch() with URL object errors: "url.match is not a function""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | dunno
| RFC?             | dunno
| Symfony version  | 3.3.10

to reproduce, open a page that has the symfony profiler, and then in browser devtools javascript console run following:

- `fetch("https://symfony.com")` works as intended, we get a CORS error.

- `fetch(new URL("https

[2017-12-18 12:56] hlb-schmidt commented on #25538
for a quick fix i added locally:

[code]

before https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig#L244

i guess for a real fix we want to use `paramType`...

[2017-12-18 13:21] unckleg commented on #25527
**invalidate_session** did the trick.

By default, when users log out from any firewall, their sessions are invalidated. This means that logging out from one firewall automatically logs them out from all the other firewalls.

The invalidate_session option allows to redefine this behavior. Set this option to false in every firewall and the user will only be logged out from the current firewall and

[2017-12-18 13:21] #25527 closed

[2017-12-18 16:19] fabpot commented on #17884
Closing as a duplicate then.

[2017-12-18 16:19] #17884 closed

[2017-12-18 16:25] TonyBogdanov opened #25540 "[DomCrawler] Can't override createSubCrawler()"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | -
| Symfony version  | dev

As seen in the following code, one cannot override the private method `createSubCrawler()`:

https://github.com/symfony/symfony/blob/5f72ecff1534b9a677a3b2016dc2ddd0bfda5b21/src/Symfony/Component/DomCrawler/Crawler.php#L1145-L11

[2017-12-18 16:27] fabpot commented on #21378
Closing as a duplicate then.

[2017-12-18 16:27] #21378 closed

[2017-12-18 16:45] WesDowney opened #25541 "Periods Handling in URL Parameters"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 3.3.2

We ran into a bug in the handling of periods in an API end point URL.

This query wouldn't work due to the period in faculty.position.  This is the expected behavior since this is how it works in production.
`$respons

[2017-12-18 17:32] SwanMougnoz opened #25542 "[Form] Wrong cause constraint associated with top level form errors"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | /no
| RFC?             | no
| Symfony version  | 2.8

Hi,

I'm trying to attach `payload` options to several form constraints in order to provide error codes in addition to messages with my API.

When the form is submitted, payloads are successfully attached to the corresponding

[2017-12-18 18:14] keradus commented on #25459
note: SCA is already performed via fabbot.io.

[2017-12-18 18:55] dmaicher commented on #25541
Interesting bug indeed.

[code]
==>
[code]

Internally it uses http://php.net/manual/en/function.parse-str.php

[2017-12-18 18:57] nicolas-grekas commented on #25541
yep, no something we want to fix imho

[2017-12-18 19:40] MikSDigital commented on #24394
@stof hello!
Installing `symfony/templating` did not help.
`{
    "type": "project",
    "license": "proprietary",
    "require": {
        "php": "^7.1.3",
        "ext-iconv": "*",
        "sensio/framework-extra-bundle": "^5.1",
        "symfony/console": "^4.0",
        "symfony/flex": "^1.0",
        "symfony/framework-bundle": "^4.0",
        "symfony/lts": "^4@dev",
        "symfony/maker-b

[2017-12-18 19:54] #25470 closed

[2017-12-18 21:41] empiricalx commented on #17271
I have been going nuts trying to solved this problem, to find out is a bug, Using a the work around is just overkill, I solved the issue with jquery.

[2017-12-19 00:17] fideloper opened #25543 "Trusted Proxy raises ConflictingHeadersException if FORWARDED and X-Forwarded-For present (no matter what)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

I'm testing [a package](https://github.com/fideloper/TrustedProxy) that helps with setting Trusted Proxies in Laravel apps. It's included in Laravel out of the box as of Laravel 5.5.

For Symfony 4, which Laravel 5.6 will be

[2017-12-19 07:41] Simperfit commented on #25537
@apfelbox Do you want to (or have time to) propose pull request for this ?

[2017-12-19 07:48] vasilvestre opened #25544 "Increase RTL (right to left) support in form"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | yes
| RFC?             |no
| Symfony version  | all

There's a simple way to make textarea and input compatible with both RTL and LTR languages.
Add dir="auto" do the trick ! Here's a really complex demo : https://codepen.io/anon/pen/ooBpxV

It's a simple feature, yet useful. I c

[2017-12-19 08:01] xabbuh commented on #25542
Can you create a small example project that allows to reproduce your issue?

[2017-12-19 09:34] apfelbox commented on #25537
@Simperfit I can send a PR, but I am not sure about where to fix this.

The issue finally manifests here:
https://github.com/symfony/symfony/blob/4058f2f284c6943e459a83e6bc368d3984da1c57/src/Symfony/Component/Routing/Generator/UrlGenerator.php#L240

The `$requestContext->getBaseUrl()` is `/app_dev.php/` and the generated `$url` starts with `/...`.

The request context comes untouched from `$reques

[2017-12-19 09:51] apfelbox commented on #25537
For reference, I am using a regular default configured nginx locally (for an example configuration see here): https://www.nginx.com/resources/wiki/start/topics/examples/phpfcgi/
But I can reproduce it using the built-in PHP webserver `php -S localhost:8000`

And as I read it, these tests are wrong: https://github.com/symfony/symfony/blob/2b725ca200dfcb52b5cc11b943e49cee48970b6e/src/Symfony/Compone

[2017-12-19 10:01] SwanMougnoz commented on #25542
Thank for your reply. Here is a repository with a reproduction of the problem : [https://github.com/SwanMougnoz/symfony_issue](https://github.com/SwanMougnoz/symfony_issue)

As described in the `README.md`, just visit the `/` url and submit the form. An unrelated cause constraint will show up for the additional field error.

I was unable to reproduce the second case however. It could be from my pr

[2017-12-19 10:17] iltar opened #25546 "[Bug] Valid constraint on non object alters property path behavior"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3 (perhaps lower)

My form looked like this (files pasted in bottom):
 - AddClientType with contact and a boolean field. Both fields had `@Valid()`
 - contact was a type of ContactInfoType, which binds to a data object, ContactInf

[2017-12-19 10:40] ostrolucky commented on #25459
You guys said issues found on level 0 are objectively bugs. So far it doesn't seem so. PhpStan does wrong assumptions.

[2017-12-19 10:41] stof commented on #25540
the decision to make it private is because we **always** make things private, unless we explicitly decide to make it a supported inheritance-based extension point. And we don't do it without a clear use case where we decide that such extension point is indeed the right solution (inheritance-based extension have a *huge* cost regarding our BC policy)

[2017-12-19 10:51] TonyBogdanov commented on #25540
I understand your point.

However, if this is the case then, why not make the class `final`, it surely won't break any BC if it was never meant to be extended, but would properly convey the *you should not extend this* message to developers.
Or perhaps you only meant it for the sub-crawler feature?

Can you think of a use-case where one would want to extend the crawler with additional functionalit

[2017-12-19 10:58] dkarlovi commented on #25459
@ostrolucky in what way wrong? There's only one false positive found as of yet, IIRC (I'm on mobile)

[2017-12-19 10:58] stof commented on #25540
Well, `new static` was used in the code *before* the introduction of the private method (where initialization code was not copying the private properties but only calling the constructor).
I'm not sure inheritance-based extension of the crawler ever worked fine for some use cases. But the introduction of a private `createSubCrawler` did not made anything worse (it stayed exactly the same).

Here,

[2017-12-19 11:05] Garnethouse opened #25548 "How to clear Symfony apcu cache by tags"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.6

I set cache item and this works well
[code]
But clear cache by tag not working ([Symfony cache component - Cache Invalidation](http://symfony.com/doc/3.3/components/cache/cache_invalidation.html))
[code]
That is
[code]
What am

[2017-12-19 11:05] hlb-schmidt commented on #25538
i guess this could be a proper fix
[code]
ps. i know nothing about symfony internals!

[2017-12-19 11:07] hlb-schmidt commented on #25538
or, to follow the `if` before:
[code]

[2017-12-19 11:16] ondrejmirtes commented on #25459
AFAIK PHPStan works according to the rule levels I described. If there’s
something that does not meet this criteria, file a bug please.

My view of this is that the code in question in traits is weird or wrong in
some ways - the rule of thumb is that if a developer has problems
understanding the code, so will PHPStan, so it’s a valuable feedback either
way.

On Tue, 19 Dec 2017 at 11:58, Dalibor K

[2017-12-19 11:20] sroze commented on #25541
Well... I think we should. Having dots in the query parameters is completely legitimate and works well with the "web-based" version (i.e. from `$_GET`). It just doesn't work when parsing the URI while calling `create($uri)` which looks weird.

[2017-12-19 11:44] TonyBogdanov commented on #25540
I guess the only real use case would be if one wants to associate some kind of data with a node, but that can easily be achieved with something like `SplObjectStorage` and generally shouldn't be of the crawler's concern.

Like you said, less extension points, less things to worry about, so I suppose it is OK as it is right now.

Should I close this?

[2017-12-19 11:47] abzolv commented on #25515
I want to ask a question here that's been bugging me for a few days.

Does this issue perhaps reveal an important gap in Symfony's quality assurance processes?

Most people would *not* use the leading or bleeding edge versions of either Symfony or PHP to develop large production systems. Most people would use the latest LTS versions.

This bug was caused by a combination of PHP and Symfony version

[2017-12-19 12:06] nicolas-grekas commented on #25459
Can we move on? The code is working as expected and perfectly right for the purpose.
I understand why phpstan raises this notice, and I'm fine with it. But it doesn't write the code itself, we do.

[2017-12-19 12:07] enima-web opened #25550 "SF4- Compile Error: Script clear cache"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 4.2

When i want to for example make "composer require profiler"
i sse this =>

[code]

**what can i do to get : Executing script cache:clear [OK] ==> and install the package**

[2017-12-19 12:15] ro0NL commented on #25538
Status: reviewed

[2017-12-19 12:23] nicolas-grekas commented on #25541
In PHP, you cannot add dots to query params since v1.
I don't think this is a limitation of any kind: just use a naming scheme that is compatible with the way things work.
Fixing this would mean reimplementing parse_str in userland.
Better not IMHO.

[2017-12-19 12:30] nicolas-grekas commented on #25515
@abzolv WebServerBundle is a pure dev dependency. The thing that is broken is a helper that never runs at prod time. It may happen that this is less tested than the more critical parts of the code (every other part of the code base is more critical for sure.)

[2017-12-19 15:22] wadjeroudi commented on #25280
Still having the problem on 3.4.2 :
https://github.com/Sylius/Sylius/issues/9028

[2017-12-19 15:31] nicolas-grekas commented on #25280
I think this is now  bug in Sylius.
I don't know what the sylius:install command does, but if it plays with several containers, it should take extra care now.

[2017-12-19 15:32] pribeirojtm commented on #25280
Hi Nicolas. I'm still having that issue in 3.4.2. Can you help me on this?

[2017-12-19 15:51] Vinorcola commented on #25546
Maybe this is indeed related to #25401.

In my buggy project, I'm using FormDTOs as underlying data. I've tried to reproduce #25401 from scratch project, but without using FormDTOs, and with no success to reproduce the bug.

Unfortunatelly, I don't have much time rigth now to investigate. I'll try to do my best to do some review and help.

[2017-12-19 15:57] pribeirojtm commented on #25280
I've also tried a not recomended way of executing commands from controllers, and returns the same error.
I've attached an img if you could check and see the cacheClearAction(). Tried both methods of clearing cache, using the recommended way from symfony and also executing shell_exec, with no success.
But calling it via commandline works normally.

![cacheclearaction](https://user-images.githubuser

[2017-12-19 16:42] sproctor commented on #24533
I am still experiencing this issue with Symfony 3.4.2, but not with 3.3. I used the documentation from https://symfony.com/doc/3.4/components/form.html to create a simple test.

https://gist.github.com/sproctor/7a5d5a322cc89b6839cf4d414822c316

[2017-12-19 17:03] stof commented on #25280
that's expected, as fatal errors cannot be turned into exceptions by an error handler at the time they are triggered. The FatalErrorException is used only by the special handler for fatal errors to wrap the error to be able to use the same error reporting code (which works for exceptions).

it is indeed executed. And this is precisely the reason why you get this error: the handling of the request

[2017-12-19 17:06] pribeirojtm commented on #25280
Hum... And how can I avoid this exception? Or is not a good ideia executing this command via controller?

[2017-12-19 17:13] stof commented on #25280
it is clearly not a good idea to execute the cache clearing command from inside a controller (and totally untested).

[2017-12-19 17:13] nicolas-grekas commented on #25280
It is not a good idea to run this command from a controller :)
Or you need to be able to switch container *live*, which is AFAIK very tricky if possible at all.

[2017-12-19 17:14] pribeirojtm commented on #25280
I was asking this because I had this action working on symfony 3.3.

[2017-12-19 17:15] pribeirojtm commented on #25280
OK, thanks for your help.

[2017-12-19 17:19] pribeirojtm commented on #25280
By the way, It is recommended that this command is executed with no activity on the site? I mean with apllication offline, no use? Can I have problems executing this command via cli on a live appliation? Do you recommend a release procedure for this?

[2017-12-19 17:25] nicolas-grekas commented on #25280
there is something you can try in your controller, which is deleting the `var/cache/dev/srcDevDebugProjectContainer.php` file (and nothing else - exact file name to be properly computed, I'll let you do that :) )

[2017-12-19 17:26] nicolas-grekas commented on #25280
about your other question, see https://symfony.com/doc/current/deployment.html

[2017-12-19 17:37] pribeirojtm commented on #25280
Still in doubt on how and when cache:clear should be executed. I'll try to scheduled the execution of that command via cron job when it was previously requested by an admin (like a queue). E.g: Admin says that this command shoulb be executed at midnight to update translations of the site, for example.

[2017-12-19 17:52] pribeirojtm commented on #25280
@J-who try instead call the command via cron that executes . Do not call it from a controller or from a command that execs a shell script that runs php cli cache:clear.
php bin/console cache:clear --env=prod --no-debug --no-warmup; php bin/console cache:warmup --env=prod

[2017-12-19 18:06] jakzal commented on #23545
@javiereguiluz do you remember which page were you profiling exactly?

[2017-12-19 18:07] dmaicher commented on #24533
@sproctor true! Unfortunately the documentation is outdated :cry:

I will create a PR to update it accordingly.

With this it works?

[code]

[2017-12-19 18:16] J-who commented on #25280
@pribeirojtm This command gets triggered whenever there's a deployment, so it's not really ideal for a cron job.

[2017-12-19 18:20] pribeirojtm commented on #25280
@J-who ok, I'm my case, for a full deploy of app, I'll have a shell script that must be executed manually, with all the steps, git pull included and works as expected. I was suggesting this for clearing cache only, for refreshing files for example with updated translations that were updated on demand by admins/translators.

[2017-12-19 18:27] sproctor commented on #24533
@dmaicher That did it! Thank you!

[2017-12-19 18:51] dmaicher commented on #25548
You need to save your item using the `TagAwareAdapter` as well:

[code]

So imho not a bug on Symfony and this issue can be closed? Or do you think the documentation needs to be more clear?

[2017-12-19 19:23] din-gi opened #25555 "JMS Serializer having problem loading it's annotations?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.2

I have problem with the load of JMS serializer,
I am using the jms bundle `"jms/serializer-bundle": "^2.3"` which states that it supports symfony 4^.

But still when ever I run my symfony command for the first time everythin

[2017-12-19 20:15] iltar commented on #25555
JMS is not in this repository, nor are the annotations:
 - https://github.com/schmittjoh/serializer
 - https://github.com/doctrine/annotations

Sounds to me like an issue related to the jms serializer though.

[2017-12-19 20:24] din-gi commented on #25555
Yes I know.. has noted.. this is not a problem due to JMS. this is a problem with Symfony which in it's cache directory doesn't load the annotations of JMS well..

I had no problem regarding this annotations with symfony 3 up until I fresh updated to symfony 4

[2017-12-19 22:50] dinbrca commented on #25555
after investigating deeper..

the following post solved my problem:
https://stackoverflow.com/questions/25937261/autloading-not-working-correct-using-autoloader-php-in-vendor-directory

on symfony 3.4 and lower adding the following line to the autoload.php solves the problem:
[code]

on symfony 4 the following line on the `srcDevDebugProjectContainer.php` file in the cache solves the problem:
[cod

[2017-12-19 23:20] GromNaN commented on #25400
I don't have time at the moment.

[2017-12-20 03:11] #25538 closed

[2017-12-20 05:09] Simperfit commented on #25550
Could you please past the composer.json ?

[2017-12-20 05:11] Simperfit commented on #25444
Do you want to work on this bug ?

[2017-12-20 05:34] Simperfit commented on #25411
@unckleg Could you please do what @javiereguiluz suggested ?

[2017-12-20 06:41] Simperfit commented on #24454
I agree, I think it could be great to have this in the workflow component. Do you still want to implement it ?

[2017-12-20 08:12] iltar commented on #25555
I'm not sure, but I think @nicolas-grekas does know a lot more about this than I do

[2017-12-20 08:23] nicolas-grekas commented on #25555
Jms should use the annotation reader service provided by Symfony, I think that's the issue (or it should register the annotation loader itself.)

[2017-12-20 08:48] dkarlovi commented on #25459
Closing as it seems the current code is fine as-is. See #25536 discussion for details.

[2017-12-20 08:48] #25459 closed

[2017-12-20 08:57] din-gi commented on #25555
On the environment cache directory I have the following files:
<img width="946" alt="screen shot 2017-12-20 at 10 30 09 am" src="https://user-images.githubusercontent.com/29832557/34198890-8c38dd7e-e574-11e7-9526-1b99fee654a5.png">

Which files should I take a look regarding this annotation loader?

[2017-12-20 09:06] acidline commented on #25511
Hi,

I have the same problem than @nanofelis, the getDefaultEnv() method preserves the "argc" & "argv" parameters from  `$env = getenv();`

For me, the trick is as follow (radical) :

[code]
What is the "good way" to avoid this problem ?

Nicolas

[2017-12-20 09:07] vasilvestre commented on #25544
@javiereguiluz I can make a PR for that ?

[2017-12-20 09:12] javiereguiluz commented on #25544
Sadly nobody has commented on this proposal yet. This is common for Form related issues, which lots of them are ignored.

If you consider that the pull request is small and you don't mind wasting a bit of time in case it's ultimately rejected, you can make the PR. If it's a complex PR, I'd wait. Thanks for your patience and for wanting to contribute to Symfony!

[2017-12-20 09:19] Vinorcola commented on #25401
Ok, I've been able to reproduce: https://github.com/Vinorcola/sf-form-validation-bug
Load the home page and submit the form.

I've added some javascript to auto trigger an error: https://github.com/Vinorcola/sf-form-validation-bug/blob/master/templates/Main/home.html.twig#L68-L70
This will alter a choide value and trigger an invalid value from the ChoiceType.

This gave me the tips on how the vali

[2017-12-20 09:21] Vinorcola commented on #25546
@iltar I've updated #25401 with a reproducer. I'm not sure your issue is related though...

[2017-12-20 09:22] xabbuh commented on #25544
Can the `dir` attribute be added to all forms without any drawback? Is this something that must be configurable through options?

[2017-12-20 09:34] ro0NL commented on #25535
symfony/console could add a suggest entry to composer, then again this is as simple as googling `symfony console autocomplete` :thinking:

Im not sure there's any motivation to transfer this into core... could be cool :)

[2017-12-20 09:36] iltar commented on #25546
No, I don't think so. I was unable to use your fix yesterday, didn't work for me.

[2017-12-20 09:43] vasilvestre commented on #25544
I could/should be configurable. In fact  I think this could be for everyone knowing that it's just improve the app. There's no bad thing that can happen.. And it work on nearly all browser, even the old versions.
I can make it configurable but it's not really useful. I still can :)

[2017-12-20 10:06] xabbuh commented on #25544
Well, if there is no harm in adding this attribute, I think we could just update the existing form themes.

[2017-12-20 10:15] Lavoaster commented on #25511
Alrighty then. This is a bit weird.

If a script accesses `argv` from the `$_SERVER` variable at any point in the script REGARDLESS of if it is called, PHP will make it available in the `getenv` output. HOWEVER, If you have xdebug installed, it won't affect you.

In my case this is actually caused because of a composer file include in `psy/psysh `, https://github.com/bobthecow/psysh/blob/master/sr

[2017-12-20 10:21] vasilvestre commented on #25544
That's what I would like to do 😄

[2017-12-20 10:35] hakebi commented on #22151
I still believe this is an issue, for example, in a fresh installation of symfony/skeleton if we edit our `.env` file and add `APP_DEBUG=false`, we will have a problem.

The `public/index.php` file will read `APP_DEBUG` and it will treat it as true, because as we know "false" as string evaluates true.

This means that there is actually no way of disabling debug with the env variable `APP_DEBUG` be

[2017-12-20 10:36] nicolas-grekas commented on #22151
@hakebi APP_DEBUG is one of those very early used env var that won't ever have any kind of preprocessing. Just use `APP_DEBUG=0` in fact.

[2017-12-20 10:43] lyrixx commented on #24454
Sure.

[2017-12-20 10:43] javiereguiluz commented on #23545
I don't remember, so I profiled several pages again. The time spent on this `json_encode()` is pretty constant, so it has a high impact on fast pages:

Blog index: http://symfony-demo.test/en/blog/
Profile: https://blackfire.io/profiles/f50e1db0-1024-409c-b606-a0cd7461a7b5/graph
Total time: 191 ms
json_decode: 3.21 ms  (1.6% of total)

Blog show: http://symfony-demo.test/en/blog/posts/lorem-ipsum-

[2017-12-20 11:00] lockland commented on #25535
I disagree with you because I believe that our job is to simplify users life. So, even is simple use google to found a solution for it, a framework should come with all facilities and, of course, provides an easy configuration for.

Of course that many people can use google to access the solution, but we need to know which words use and what solution will work as expected. Therefore, if a solution

[2017-12-20 11:01] xabbuh commented on #25544
If you'd like to create a pull request, I'd say just do so. :)

[2017-12-20 11:15] jvahldick commented on #25311
Hi guys, do you have some update here?

I have the issue here, and for some reason when I try to run the tests isolating the processes I get it as an invalid test.

[code]

[2017-12-20 11:20] nicolas-grekas commented on #25511
Thanks for the hints. Fixed by #25559

[2017-12-20 11:22] nicolas-grekas commented on #25535
should we do something in a recipe ?

[2017-12-20 11:39] stof commented on #25511
this should probably be reported as a bug to PHP though

[2017-12-20 11:41] zico4reel opened #25560 "Session times out like immediately Symfony 3.3.9"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | 3.3.9

Hi, please I need help,I have gone through several issues raised, but still no luck, i Have tried almost everything, looked elsewhere online still no solution, The issue my session sometimes logs me out immediatel

[2017-12-20 11:55] iltar commented on #25560
Sounds like you have no permissions to write the sessions

[2017-12-20 12:04] zico4reel commented on #25560
@iltar Please its on my laptop am using window 10, how is  it that I don't have permission? am using redis and not the native file, switched since that didn't work, the support link doubt it will work being searching since yesterday

[2017-12-20 12:20] BoShurik opened #25561 "Why ServiceSubscriberInterface uses only PSR-11-based service?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0

Sometimes its not possible to use FQCN-based service names
[code]
[code]

[2017-12-20 12:22] stof commented on #25561
ServiceSubscriberInterface is here to ask for a mapping between a local name and a *type*, not a local name and a name in the main container.

[2017-12-20 12:22] stof commented on #25561
not however that you can wire a ServiceLocator instance manually with the different clients in it.

[2017-12-20 12:28] BoShurik commented on #25561
So it must be `TypeSubscriberInterface` :)

[2017-12-20 12:29] enima-web commented on #25550
composer.json
[code]
when i do "rm -r var/cache" it work fine, but when i refresh the web page and type "php bin/console cache:clear" i get the same error

[2017-12-20 12:37] netbull opened #25563 "SF4 doctrine.orm.namig_strategy is always underscore in prod environment"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

*naming_strategy* is always *underscore* in production if *doctrine.orm.metadata_cache_driver* is set.

Currently I changed packages/doctrine.yaml to:
[code]

and it works as expected under dev environment, but on prod it's a

[2017-12-20 13:04] netbull commented on #25563
Sorry my bad.. I had to clear the doctrine's metadata cache after making the change in the config..

[2017-12-20 13:04] #25563 closed

[2017-12-20 13:21] Lavoaster commented on #25511
Following @stof's comment I filed this https://bugs.php.net/bug.php?id=75712

Thanks for the fix @nicolas-grekas, do you know when it will be tagged?

[2017-12-20 14:29] #25515 closed

[2017-12-20 14:31] OndraM opened #25564 "[Process] Setting empty environment variable no longer work since 4.0.2"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

[code]

[code]

Symfony 4.0.0, 4.0.1:
[code]

Symfony 4.0.2:
[code]

This is probably related to PHP bug https://bugs.php.net/bug.php?id=71868 and was perhaps caused by changes in https://github.com/symfony/symfony/pull/25417

[2017-12-20 14:44] Simperfit commented on #25560
@zico4reel Could you please post a reproducer so we can see if we find a bug or another problem ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

In case you need some help you can read this blog post : https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-20 15:27] nicolas-grekas commented on #25564
Thanks for the report, should be fixed with #25567

[2017-12-20 18:09] jakzal commented on #23545
I made some profiling too, but with 2-3ms overhead for json_decode it's hard to observe significant differences:
* https://blackfire.io/profiles/compare/6f6e0384-e8fe-4389-80f8-2006c712f28a/graph
* https://blackfire.io/profiles/compare/cf24f004-aea5-442e-9ff2-2ee7c3afaae3/graph

Still, [my previous raw tests](https://github.com/symfony/symfony/issues/23545#issuecomment-339980958) show that php for

[2017-12-20 18:16] nicolas-grekas commented on #23545
After being loaded, is the translation array ever modified? Like merged with other or entries added before being used? If yes, that should be fixed first: this would kill all the potential benefit.

[2017-12-20 18:19] jakzal commented on #23545
It's returned right away without modifications: https://github.com/symfony/intl/blob/master/Data/Bundle/Reader/PhpBundleReader.php#L54

[2017-12-20 19:15] mvrhov commented on #23545
Yeah, but this is wrong.  AFAIR there is an issue opened by me. Stating that since we have the external data the data is wrong for some locales as it is not merged anymore.

Take a look at those files sr_Latn.json and sr_Latn_*.json sr_Latn should be taken as a base an then data from sr_Latn_*.json shoul overwrite the one in sr_Latn.json and be written out as sr_Latn_*.json

[2017-12-20 19:24] mvrhov commented on #23545
Will this still get merged then `sr_Latn_BA.json` with `sr_Latn.json`?

[2017-12-20 20:57] nicolas-grekas commented on #23545
It's surprising that the memory usage doesn't drop, that's why I'm asking. Should be double checked to ensure the return value itself is not triggering COW. (Sorry can't check now)

[2017-12-21 08:32] Sydney-o9 commented on #12100
@stof Quick questions, is there a reason why this is the case?

I can confirm `cookie_domain` is not taken into account. Testing authenticated user across subdomains does not seem to be possible, any ideas?

[code]
All cookies are like the following

[code]

[2017-12-21 08:48] emodus opened #25569 "SF 3.4.2 Console commands infinity loop (after update from 3.4.1)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Symfony version  | 3.4.2 (production setup)

php version: PHP 7.1.12 (cli), CENTOS 7.4.1708

After upgrading symfony/symfony from 3.4.1 to 3.4.2 all commands are  executed from crontab  (every 1 min, every 15 min, every 1 hour, etc).

After some working time randomly and unpredictable commands start use maximum CPU resour

[2017-12-21 08:56] iltar opened #25570 "Writing functional tests outputs logs in tests since 3.4"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4

When using a kernel, booting it and fully running it, logging is now on by default and outputting everything on your console. This means that in every kernel I define, I'll have to add the following line of configuration:
[cod

[2017-12-21 09:27] OndraM commented on #25564
@nicolas-grekas Great, thanks for the superfast fix! 👍

[2017-12-21 09:28] unckleg commented on #25411
I will in two days.

[2017-12-21 11:11] Simperfit commented on #25569
The diff you provided does not work, could you modify it or provide a reproducer ?

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

In case you need some help you can read this blog post : https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-21 11:16] xabbuh commented on #25570
If you turn down the shell verbosity (like done here: https://github.com/symfony/recipes/blob/master/symfony/phpunit-bridge/3.3/phpunit.xml.dist#L16), you should only see errors.

[2017-12-21 11:21] iltar commented on #25570
It's still a manual step that I have to take between 3.3 and 3.4. I expect this to be backwards compatible and throw a deprecation if I don't pass it. For 4.0 it's fine.

[2017-12-21 11:32] tjurdzinski opened #25572 "Redirection loop after validate redirect targets - Logging in to a different domain"
| Q                | A
| ---------------- | -----
| Feature request? | yes
| Symfony version  | 3.2.13 and never

After this change: https://github.com/symfony/symfony/commit/52b06f1c21c69a4557ab3716afe56dea4815dfdf#diff-76577aed100434c043a441fee636edad

I have a problem with redirection to a login page that is under a different domain.
Regex detects a different domain in login path and sets up a

[2017-12-21 11:45] xabbuh commented on #25572
Could you set up a small example project that allows to reproduce your issue?

[2017-12-21 12:10] jbfewo opened #25573 "DateTime Validator accepts invalid date string"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | yes/no
| RFC?             | no
| Symfony version  | 3.2.1

I used `'constraints' => new DateTime(['format' => 'd.m.Y'])` on a `FormType\HiddenType::class,`  which accepts **12.12.201** as valid input but `new DateTime('12.12.201')` throws an exception.

[2017-12-21 12:54] xabbuh commented on #25573
Why should the date be invalid? And by the way, the `DateTimeValidator` makes use of the `createFromFormat()` method of the `DateTime` class which handles this case quite fine: https://3v4l.org/7GRHY

[2017-12-21 13:48] skornev opened #25575 "env var APP_FRONT_CONTROLLER empty after upgrading from 3.3 to 3.4 (the same issue is on fresh 3.4 installation)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | yes
| Symfony version  | 3.4.2

 PHP 7.0.19-1
After upgrading from 3.3 to 3.4 (even on a fresh installed symfony 3.4) there is no way to start application. The webserver returns 500 error. The problem is that APP_FRONT_CONTROLLER env variable
 is empty.

[2017-12-21 14:32] nicolas-grekas commented on #25575
Fixed by #25523, will be in next release.

[2017-12-21 14:32] #25575 closed

[2017-12-21 14:39] KDederichs opened #25576 "Cache clear, cannot declare class"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.14

Hey,
I've been seeing a strange thing where the clear cache command cannot declare classes on it's first execution if there is no previous cache.

On the first execution it will always fail with something like
`
PHP Fatal er

[2017-12-21 15:51] hokkaido commented on #18803
@csarrazi Regarding this statement:

I think one of the easier ways to to enable this is to open up `LdapUserProvider`and expose most private fields so people can extend the class on their own.

[2017-12-21 16:21] Simperfit commented on #25535
I agree with adding this to a recipe, should it be contrib one or official one ?

[2017-12-21 16:32] enima-web commented on #25550
any help

[2017-12-21 17:18] Simperfit commented on #25550
Ill look at it asap
Le jeu. 21 déc. 2017 à 17:32, enima-web <notifications@github.com> a écrit :

[2017-12-21 17:30] Aerendir commented on #25227
Just an update...

I've tried to comment the `if (is_array($val) && 1 === count($val))` to see what happened and saw that this is a BC change.

In this case, infact ALL the nodes become `array`s as that code ensure that nodes that have only one element have the name of the node as key.

An example worths thousands of words:

[code]

while removing the `if (is_array($val) && 1 === count($val))` the

[2017-12-21 21:03] ebuildy commented on #7104
Woa, cannot believe this bug is still here with Symfony 4! I have just copy/paster security.yaml from official documentation, and the bug is here, cannot logout:

https://stackoverflow.com/questions/47932614/symfony-security-logout-not-clearing-rememberme-token

The `LogoutListener` is called **before** the `RememberMeListener`, hence, there is no token to clean :/

[2017-12-21 21:51] Warxcell commented on #25572
I had same problem. I had user.example.com and login was at example.com. I had to set cookie domain to '.example.com' in order to have proper redirect.

[2017-12-22 01:42] GromNaN commented on #25400
Some more inspiration:
- https://github.com/sonots/mysql_getlock/blob/master/lib/mysql_getlock.rb
- https://github.com/liamoehlman/mr-potato-head/blob/master/index.js

[2017-12-22 08:42] staabm opened #25580 "[Process] Rsync + Multiplexing, command sometimes hangs after 100% of data transfered"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? no
| BC Break report? | no
| RFC?             | no
| Symfony Process version  | Reproduced on 3.3.6 & 3.4.2

Sometimes a process started does not return, seems like some kind of race condition.

we run deployer, which under the hood does an rsync utlizing this php-class (which is a simple wrapper for the

[2017-12-22 10:00] kironet commented on #24891
Ok, what will happen if you upgrade to 4.0?
It will broke a project right? Because this parameter is useless on 4.0(as I read somewhere)..?

[2017-12-22 10:05] xabbuh commented on #25550
Can you describe which steps you performed that ended in this behaviour?

[2017-12-22 10:23] iluuu1994 commented on #24891
@kironet No. This flag disables the compatibility mode which is not present in Symfony 4.0. Thus this error will not occur in Symfony 4.0 projects.

[2017-12-22 10:42] staabm commented on #25580
I can reproduce the same problem with `scp`.

running those commands in the bash does not make the bash hang.

[2017-12-22 11:44] ro0NL commented on #25535
The required setup is adding `eval "$(/path/to/symfony-autocomplete)"` in your bash profile. So typically it would be a global composer install. Not sure what a recipe would do..?

Perhaps add a note in docs?

[2017-12-22 13:25] xabbuh commented on #25540
Let's close then.

[2017-12-22 13:25] #25540 closed

[2017-12-22 13:42] Toflar commented on #24988
Although I agree with @nicolas-grekas that if you start a session a response should be considered to be private, the implementation like it is now is inconsistent.

I think we must always suppress the `NativeSessionStorage` from generating any headers by default. Otherwise the `Cache-Control` header never makes it to the proper Symfony HttpFoundation `Response` object and is thus missed by `kernel

[2017-12-22 14:03] xabbuh commented on #25555
I am closing here as this looks like an issue that needs to be fixed in JMSSerializerBundle instead.

[2017-12-22 14:03] #25555 closed

[2017-12-22 14:37] xabbuh commented on #25331
@Seb33300 I am closing for now, but please leave a comment when you have a reproducer and we can reopen.

[2017-12-22 14:39] xabbuh commented on #25437
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-22 14:39] #25437 closed

[2017-12-22 14:39] xabbuh commented on #25216
@anthonyrossetto Any chance for a reproducing example?

[2017-12-22 14:41] Seb33300 commented on #25331
The project I created on my original issue is still valid to reproduce the issue:
https://github.com/symfony/symfony/issues/9998#issuecomment-32113154

[2017-12-22 14:44] xabbuh commented on #25120
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-22 14:44] #25120 closed

[2017-12-22 14:45] xabbuh commented on #12954
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-22 14:45] #12954 closed

[2017-12-22 14:49] xabbuh commented on #19364
It doesn't seem that there is much interest in having this. I suggest to close here.

[2017-12-22 14:52] xabbuh commented on #23966
@tlorens Do you think you can provide a full example that allows to reproduce the issue? Otherwise I am afraid that we cannot do much here.

[2017-12-22 14:55] xabbuh commented on #24254
Closing here as this does not look like a bug. If that's not the case, please provide some more information on how to reproduce.

[2017-12-22 14:55] #24254 closed

[2017-12-22 14:56] #23204 closed

[2017-12-22 14:56] xabbuh commented on #23204
closing here as there is no more activity

[2017-12-22 14:58] xabbuh commented on #22759
@adrianraeuchle Do you think you can collect some data in your application (e.g. some add some logging) that allows to isolate some test cases for which the constraint is failing? Otherwise I am afraid there is not much we can do.

[2017-12-22 14:59] xabbuh commented on #22508
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2017-12-22 14:59] #22508 closed

[2017-12-22 15:28] xabbuh commented on #25445
@Simperfit I am not convinced that adding this overhead on every request is worth it.

[2017-12-22 15:31] Tobion commented on #25550
Maybe related to #25576

[2017-12-22 15:37] xabbuh commented on #25576
Can you provide steps that allow to reproduce your issue?

[2017-12-22 16:10] enima-web commented on #25550
[code]

I create **PagesController** & edit **routes.yaml** file =>
PagesController :
[code]
routes.yaml:
[code]

[code]
I go to ==>  **localhost/sf-app/public/**

All work well 👍

I go back to commande

 **I get this ERROR**

[code]

[2017-12-22 17:31] alex-billetsca opened #25586 "Simple Cache - cannot set non-expiring entry when a cache has a default lifetime."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

When a cache has a default lifetime it seems impossible to set a non-expiring entry (no ttl).

The Symfony\Component\Cache\Traits\RedisTrait supports 0 as a ttl for non-expiry:
[code]

But when the ttl gets normalized Symfony

[2017-12-22 17:38] enima-web commented on #25576
composer create-project symfony/skeleton sf-app 3.4

[code]
cd sf-app

I create PagesController & edit routes.yaml file =>
PagesController :

[code]
routes.yaml:

[code]
composer require server

[code]

All work well 👍

I go back to commande

composer require annotations

I get this ERROR

[code]

[2017-12-22 20:24] zico4reel commented on #25560
Thanks @Simperfit and Thanks to everyone that participated. I got a solution to my problem

[2017-12-22 20:24] #25560 closed

[2017-12-22 20:35] iltar commented on #25560
Mind sharing your solution? In case someone has the same issue and ends up here.

[2017-12-22 20:48] zico4reel commented on #25560
Basically the person should try to setup using apache rather than using the default php in built server while in development.

[2017-12-22 20:59] nicolas-grekas commented on #25586
Actually I think this is expected by PSR6/16. There's no way to express infinite TTL per the standard.
So the only way is either to set a very long TTL, or configure the adapter to default to "infinite" TTL by setting defaultLifetime to zero (the constructor is not covered by the PSR so this is not violating it)

[2017-12-22 21:16] stevespages opened #25587 "Following the Databases and the Doctine ORM guide results in an SQL error"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

I created a new Symfony 4 skeleton project and carefully followed the Databases and Doctrine ORM guide up to the following command:

steve@Dell ~/doctrine-guide $ php bin/console doctrine:migrations:migrate

[2017-12-22 21:37] #25564 closed

[2017-12-22 22:08] jbfewo commented on #25573
Ok, its right DateTime::createFromFormat() works fine, but new DateTime('12.12.201') throws an exception. I'm not sure if this is intended behavior or a php bug.

My assumption straight from the docs was, that I could pass a validated string to the DateTime constructor.

[2017-12-23 09:28] xabbuh commented on #25573
That's intended. PHP doesn't know anything about the format that you used for the validation constraint. So I am closing here as this is not a bug. But please feel free to open an issue in the documentation repository if you think that the docs could be improved.

[2017-12-23 09:28] #25573 closed

[2017-12-23 09:56] nicolas-grekas commented on #25586
Closing as explained. We're bound to a standard and that a strength :)

[2017-12-23 09:56] #25586 closed

[2017-12-23 09:58] nicolas-grekas commented on #25570
You need to change SHELL_VERBOSITY in phpunit.xml, as done here:
https://github.com/symfony/recipes/blob/master/symfony/phpunit-bridge/3.3/phpunit.xml.dist#L16

[2017-12-23 10:04] nicolas-grekas commented on #25465
We wondered about that with @ro0NL a few months ago an concluded what he says: because there is no single way to set names of the ids, we cannot generate service locators from tagged services.

[2017-12-23 10:06] nicolas-grekas commented on #25548
Closing as this is not a bug. PR welcome on the doc of course to improve things.
For support questions, please use http://symfony.com/support

[2017-12-23 10:06] #25548 closed

[2017-12-23 10:10] nicolas-grekas commented on #25561
too bad this is too late, would have been worth discussing...
closing as there is no bug here, @stof is right.

[2017-12-23 10:10] #25561 closed

[2017-12-23 10:25] nicolas-grekas commented on #25576
@enima-web this is not the same error - yours is tracked in #25550
Here, it's about a service lazy-proxy - might be subtly different - no need to post twice the reproducer (but thank you for it btw!)

[2017-12-23 10:30] nicolas-grekas commented on #25550
Sorry, I didn't manage to reproduce: I followed you steps (ran `bin/console server:start` + opened the browser after "composer require server".

Here is the setup:
[code]

[2017-12-23 10:31] nicolas-grekas commented on #25550
can you spot a difference with your setup or provide other steps to reproduce?

[2017-12-23 10:50] csarrazi commented on #18803
Actually, thing is, the authentication logic should be separate from the authorization logic.
Having both at the same place is what is problematic in Symfony in the first place, which means that we should not care about having the user permissions or roles in the user object.
This means that you cannot rely on having separate authentication and authorization systems right now, without implementing

[2017-12-23 11:23] iltar commented on #25570
@nicolas-grekas I'm aware of that for 4.0, but for 3.4 it should remain unchanged, should it not? Extra output is imo a change of behavior and thus a BC break.

[2017-12-23 17:16] brucepc opened #25590 "Set custom project dir"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4

With this feature we can write a functional application test to some library/SDK in development in another path (e.g. tests/Application).

[code]

[2017-12-23 17:22] xabbuh commented on #25590
What would be the difference compared to overwriting the `getProjectDir()` method of the kennel?

[2017-12-23 18:09] nicolas-grekas commented on #25543
I confirm the issue, branch 4.0 only (works OK on 3.4)
Anyone willing to have a look?

[2017-12-23 18:52] nicolas-grekas commented on #25576
@KDederichs the fact this in on branch 3.3 means this bug is unseen to me.
I'd be happy to try a reproducer you could provide. Thanks.

[2017-12-23 18:53] nicolas-grekas commented on #25550
just tried on Windows PHP 7.1, no issue. Would be happy to try another reproducer.

[2017-12-23 18:58] mvrhov commented on #25587
This has nothing to do with Symfony. You posted this into the wrong issue tracker.

[2017-12-23 19:24] brucepc commented on #25590
When we install the bundles to create a basic symfony application into some subtree of project, the [Symfony/Flex](https://github.com/symfony/flex) copy/create/update files into project dir, files such as bundle.php and configuration files. In case of a test application, the path is not the same of the compose.json file, where they aways create/update/copy the files specified into the respective [

[2017-12-23 20:14] JoshuaEstes commented on #13450
Hoping this will help someone. I'm using the Liip Functional Test Bundle and was getting this issue. The way I solved it was to save the session before a request was made.

Example:

[code]

---

config_test.yml
[code]

Symfony Version: 3.4.2
Liip Functional Test Version: 1.9.0

Hope this helps

[2017-12-23 21:22] xabbuh commented on #25590
I am not sure if I understand what problem you want to solve. Can you give a more concrete example?

[2017-12-23 23:01] stevespages commented on #25587
Can you advise which issue tracker would be the correct one?

[2017-12-23 23:46] psren commented on #6584
Is this still under consideration?

[2017-12-24 00:16] Koc opened #25592 "[RFC][DependencyInjection] Allow set DI attributes using annotations"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1

For the now we could create class that implements some specific interface and created service automatically will be tagged with DI tag. Also new service could recieve other services via constructor. 0-line configuration.

But

[2017-12-24 02:33] brucepc commented on #25590
Let's assume that the lib is all in ```src/``` my application test should be created in ```test/Application/```
to create the test app we have to install ```symfony/framework-bundle``` and some others bundles

To enable symfony flex we execute
[code]

To add the basics bundles to symfoy 4 app we execute
[code]
After that Symfony Flex has already configured some files into project path as the same

[2017-12-24 08:21] xabbuh commented on #25590
Thanks for the example. I think I now understand what you want to achieve. However, this is something that needs to be done in Flex and we already have an issue for this. So I am going to close here in favour of symfony/flex#196.

[2017-12-24 08:21] #25590 closed

[2017-12-24 08:44] cybernet commented on #25587
https://github.com/doctrine/doctrine2 :)

[2017-12-24 10:30] ro0NL commented on #6584
@psren see https://github.com/symfony/symfony/pull/23663#issuecomment-332454382

 I tried a PR but it's rejected for now. Actually i see this issue for the first time :-) so it looks like there's a common need for it.

IMHO we should either close this issue or re-open the PR.

[2017-12-24 11:21] FGM opened #25595 "Class loading error in createAccessDeniedException()"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 4.0.2

Error still present in FrameworkBundle at commit 0be83d70d0cbef4837d595f30c248f6e8eddf2dc.

When using the Flex skeleton, the generated code includes the framework bundle, in which ControllerTrait reads:
[code]
However, this

[2017-12-24 12:44] ro0NL commented on #25541
IMHO it doesnt make really sense when using the 2nd arg with parse_str (which is what SF does), yet this is how things work indeed.

From a HTTP pov you can; https://3v4l.org/AEhLD

[2017-12-24 13:47] helmidridi commented on #20532
I  have this issue with Symfony 3.4.

[2017-12-24 16:22] walterdolce opened #25596 "Updated URL validator pattern broke URL validation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | >v3.2.13

Hi,

Looks like [this update](https://github.com/symfony/validator/commit/ea91e49c40a943fd44bf515397dd4d88e0fd1374) broke the URL validator.

Before the pattern update, the following URLs would be deemed as valid:
- examp

[2017-12-24 17:02] #25596 closed

[2017-12-24 20:40] Koc opened #25598 "[DependencyInjection] Services decoration doesn't work for FQCN as decoration service id"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

I've tryed to decorate some service:
[code]
but this doesn't work. My newly created service is just removed as non used private service. I've tryed old way and it works as expected:

[code]

Is it ok?

[2017-12-24 20:46] carnau commented on #25587
Anyway, before adding a new issue in the doctrine project check that you added the correct annotation information. I've tried this and works as expected, description is defined as text and the migration should try to create a LONGTEXT field instead CLOB.

[2017-12-25 09:45] petforsberg opened #25600 "Twig extensions without autowiring"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

I get the "Cannot autowire service method "__construct()" must have a type-hint or be given a value explicitly" error.

I created a Twig Extension which requires injecting my own service before (in other words, Twig extensio

[2017-12-25 09:49] nicolas-grekas commented on #25600
I think you'd need to disable autoconfiguration, thus use `autoconfigure: false` instead.

[2017-12-25 09:54] petforsberg commented on #25600
Am I forced to do this for the whole app?

Because when I add the "autoconfigure: false" to the services, the error still appears. And when I put it under the _defaults section, the app works, but I guess I won't be able to use the autoconfiguration option in future...

    # with disabling "autoconfigure" for the whole app in the services.yaml, the app works
    _defaults:
        autowire: true

[2017-12-25 10:21] nicolas-grekas commented on #25595
The solution is 3-bis: throw a LogicException. See other methods in the trait that do this already in similar situations. PR welcome, thanks in advance for it.

[2017-12-25 11:46] enima-web commented on #25550
thanks for all your effort 👍
the problem was i used  **cygwin64 terminal with fish** to excute command.
i tested with **GIT Bash** all things work well 👍

[2017-12-25 12:32] #25550 closed

[2017-12-25 12:33] xabbuh commented on #25550
Thanks for the feedback.

[2017-12-25 19:30] romainneutron commented on #25561
So bad nobody mentioned an existing way to solve this issue :

[code]

[2017-12-25 21:41] Dmytro4 opened #25602 "Can't install symfony properly"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | ?
| Symfony version  | 4.0.4

Mine installation log is - https://gist.github.com/anonymous/92753a558b7532694b84b84cee472f30
Normal installation log is - https://gist.github.com/tarlepp/3f64633c4c4dc98df1cd43b90dfb26d2

My installation creating only "Vendor

[2017-12-25 22:02] ostrolucky commented on #25602
You should create this issue on [symfony/flex](https://github.com/symfony/flex)

[2017-12-25 22:07] ostrolucky commented on #25602
Make sure composer version is up to date

[2017-12-25 23:12] Dmytro4 commented on #25602
it is, v1.5.6

[2017-12-26 00:14] Tobion commented on #25602
I'm sorry, but in the GitHub repository we only discuss about Symfony bugs and new features. For questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

[2017-12-26 00:14] #25602 closed

[2017-12-26 03:05] Tobion commented on #25587
Closing as not related to symfony.

Btw this seems quite self-explaining. There is an option called default on columns that you can set.

[2017-12-26 03:05] #25587 closed

[2017-12-26 03:10] Tobion commented on #25365
Please open this issue on https://github.com/symfony/symfony-docs instead

[2017-12-26 08:41] mertingen opened #25603 "APP_FRONT_CONTROLLER empty and index.php can not found into web directory at Symfony 3.4 installation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.*

I installation Symfony 3.4 with installer and webserver not working and error the APP_FRONT_CONTROLLER env variable is empty and it want to find index.php into web directory and then it is not found.

`bin/console s:r`
`Warni

[2017-12-26 08:43] #25603 closed

[2017-12-26 09:33] ektarum commented on #22151
@hakebi @nicolas-grekas it's not exactly the same problem.

the problem is in index.php

[code]

if you declare APP_DEBUG, $debug is a string and kernel wait a boolean...

code would be :

[code]

[2017-12-26 10:02] zerkms commented on #22151
@ektarum

[code]

[2017-12-26 10:07] maerlyn commented on #25541
Yes, from a http PoV it is certainly possible, just not in php. This is an old remnant of register_globals, some name mangling was neccessary to convert GPC input to something that conforms to the php variable naming scheme. With register_globals long behind us it is not technically neccessary, but still kept for BC reasons.

[2017-12-26 10:11] FGM commented on #25595
Just did a class_exists check, since no specific service check seemed relevant. Also, maybe this should add symfony/security to the suggest hash in composer.json ?

[2017-12-26 12:18] unckleg commented on #25600
You can define it per service.

[2017-12-26 12:42] javiereguiluz commented on #25600
@petforsberg is the problem solved if you make this change?

[code]

[2017-12-26 16:50] raziel057 commented on #25286
I think you can close this ticket as TechEmpower/FrameworkBenchmarks#3139 is merged. Round 15 will use SF 4.0.2 with Flex.

[2017-12-26 20:57] #25365 closed

[2017-12-26 20:58] #25286 closed

[2017-12-26 21:42] nicolas-grekas commented on #25286
Thanks for your work and help @raziel057!

[2017-12-26 23:48] Koc commented on #25600
I also had similar problem recently but in another component, not in twig. And my service was added twice: first autoconfigured without any constructor args, second passed from `services.yaml`, relates to #25594

[2017-12-27 04:03] johnrivelt commented on #25515
I have still the same issue.
It seems that symfony lts still indicates old dependencies which has a bug.

php: 7.0.0 / 7.2.0
os : windows 10

php symfony new project lts     => 3.4.2

php bin/console server:run

Warning: require(index.php): failed to open stream: No such file or directory in ~\vendor\symfony\symfony\src\Symfony\Bundle\WebServerBundle\Resources\router.php on line 42

Fatal error: r

[2017-12-27 04:49] Sydney-o9 opened #25607 "Allow Custom Request object with Guard Authenticator"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

We can [override the request](http://symfony.com/doc/current/components/http_foundation.html#overriding-the-request) - that's great.

For example, one would simply extend symfony base request class.

[code]

However, is doesn

[2017-12-27 07:43] xabbuh commented on #25600
Can one of you create a small example project that allows to reproduce your issue?

[2017-12-27 07:46] xabbuh commented on #25515
The PR solving this was not part of a release yet. You would need up to depend on `3.4@dev` for now.

[2017-12-27 08:43] Simperfit commented on #25576
@KDederichs Could you please help us reproducing the bug by providing a little project.

- Fork the [Symfony Standard Edition](https://github.com/symfony/symfony-standard)
- Do the minimum modification to reproduce the bug
- Post the link in here

In case you need some help you can read this blog post : https://symfony.com/doc/current/contributing/code/reproducer.html

[2017-12-27 09:00] Pierstoval commented on #25535
This does not work the same way depending on the platform, so I'm not sure it's a good idea to integrate this in Symfony.

[2017-12-27 09:03] Pierstoval commented on #25570
By the way, using SHELL_VERBOSITY will still show the errors. If one expects a 404 exception, for example, it'll be shown in the console output.

Only solution is to use a NullLogger, I'm not sure it's the best option though 😕

[2017-12-27 10:37] Koc commented on #25600
of course, will try, but not at this week.

[2017-12-27 10:41] nicolas-grekas commented on #25592
Starting with just tag attributes will end up calling for full DI configuration in annotations.
I think DI configuration in annotations has been rejected in the past.
I'm personally :-1: as this is not the proper place to do DI configuration IMHO.

[2017-12-27 10:48] Koc commented on #25592
🤣 cann't disagree with you.

We already have `ServiceSubscriberInterface::getSubscribedServices()`, `EventSubscriberInterface::getSubscribedEvents()`, what about adding something similar for autoconfiguration: `AutoconfiguredServiceInterface::getAutoconfiguration()`?

[code]

[2017-12-27 10:53] nicolas-grekas commented on #25592
@Koc not really the same: `ServiceSubscriberInterface` and `EventSubscriberInterface` add meta-information to the inner working of the classes implementing them. DI uses that added semantic to help wire them.
But `AutoconfiguredServiceInterface` would not be of the same kind - it wouldn't help know more about the current class independently of how it is wired. Instead, it just tells how to wire it

[2017-12-27 12:13] Koc commented on #25592
Agree that `ServiceSubscriberInterface` really about how to it is wired. But `EventSubscriberInterface` about how to wire subscriber:

[code]

[2017-12-27 12:15] biozshock opened #25609 "[SecurityBundle] Merging configuration requires access_decision_manager to be in every configuration"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

In an application i need to change `access_decision_manager.strategy` to "unanimous".

After the change https://github.com/symfony/security-bundle/commit/06393dac7bcf60912e999c41884d72dd66fd6ab4#diff-5382c0b1af9e9c09693d49cd3

[2017-12-27 12:50] keradus commented on #25210
Regardless that I would be happy having it even in `lts` directly, I could understand the reasoning why not to do it.
`symfony/force-version` would be really great in that case indeed, now I see ppl adding crap to their CI config like manually update every single Sf dependency they have, `lts` is not fixing that fully (due to discussion above), and this new package would ease that a lot.

Eager to

[2017-12-27 13:25] KDederichs commented on #25576
Hey sorry for the lack of replies, Christmas and such.
Here is a link with the minimum modification I needed to reproduce the bug:

https://github.com/KDederichs/symfony-standard/tree/issue_25576

It will occur when you do a `bin/console cache:clear` on a fresh cache or if you previously deleted the cache.

[2017-12-27 14:06] alsar commented on #25576
It's some kind of incompatibility with `JMSDiExtraBundle`. If you disable the bundle the problem is gone.

[2017-12-27 14:15] bruno-ds commented on #25246
Hello,
maybe the doc. should include :
[code]

ie in : https://symfony.com/doc/current/http_cache/esi.html  it sohuld be added to :
[code]

may here also :  https://symfony.com/doc/current/reference/twig_reference.html#render-esi

[2017-12-27 14:26] dkarlovi commented on #23354
IMO this is significant enough to warrant a consideration: you're trying to make the **cache** folder read-only, but the **cache** pool is in your way so you'll move the **cache** pool out of **cache** folder. :)

Anyway, this is obviously a misnomer situation: there's obviously different requirements on file-system storage by various subsystems (build-time, run-time) with varying read/write and v

[2017-12-27 14:34] dkarlovi commented on #23354
BTW segmenting files by when, how and by whom they are being written also play nicely with established runtime environments such as SELinux where you have "contexts" in which certain paths ([files properly labeled](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/selinux_users_and_administrators_guide/sect-security-enhanced_linux-working_with_selinux-selinux_contexts_l

[2017-12-27 15:05] KDederichs commented on #25576
So it's their bug and not cache:clear related?

[2017-12-27 15:11] #23441 closed

[2017-12-27 15:53] fancyweb opened #25610 "[Twig][Exception] Unknown filter instead of real exception message"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

Since 3.4 (bug is not there in 3.3), if one of my app Twig extensions throws an exception, I end up with the following message instead of the real exception message :
[code]

From what I've found, this is because my app Twig ex

[2017-12-27 16:04] fancyweb commented on #25610
You can see the bug if you use this project : https://github.com/fancyweb/symfony-standard/tree/issue-25610.

Start the server and go on the default page.

[2017-12-27 19:44] ChrisWesterfield commented on #7104
I can confirm this as well.
BBug is still Existing!

[2017-12-27 21:07] zlikavac32 opened #25612 "[Security] Form authentication throws error on non string username"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

`\Symfony\Component\Security\Http\Firewall\UsernamePasswordFormAuthenticationListener` trusts that submitted data will contain string as username.

In case that provided data is array, `trim` (that's used on the input values) w

[2017-12-27 21:13] ebuildy commented on #25612
I am wondering why the ``Form`` firewall from ``Security`` component is not using a Symfony form? (to take advantage of Form validation etc...)

[2017-12-27 21:48] ebuildy opened #25613 "Security component should explain when logout user"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | 4.0.2

``ContextListener`` (https://github.com/symfony/security/blob/master/Http/Firewall/ContextListener.php#L176) should give a reason why the token is cleaned, I think something in the session like ``_security.logout_reason``