[2016-02-29 12:27] hcomnetworkers opened #17958 "TemplateNameParser breaks compatibility in 2.7.10"
Symfony\Bundle\FrameworkBundle\Templating\TemplateNameParser received a new regular expression in 2.7.10, breaking the use of template names that are not in Resources/views.

E.g. a template in "src/My/SuperBundle/Whatever/Template.html.twig" could be found with "@MySuperBundle/Whatever/Template.html.twig" as template name until 2.7.9.

As of 2.7.10 the new regex in the TemplateNameParser matches

[2016-02-29 12:33] robfrawley commented on #17958
Duplicate. See pull request #17894 and issue #17683.

[2016-02-29 12:35] hcomnetworkers commented on #17958
Thanks

[2016-02-29 12:35] #17958 closed

[2016-02-29 12:49] hcomnetworkers commented on #17683
Template names starting with "@" are also broken (see ticket #17958). Are they also considered absolute paths, or should I reopen the other ticket?

[2016-02-29 12:55] jakzal commented on #17683
@hcomnetworkers they're not considered absolute paths, but I'm fixing them as part of #17894 (that's why it's not merged yet).

[2016-02-29 12:57] jakzal commented on #17955
@compains we don't have access to your application. You'll need to provide steps how to reproduce this issue in a standard symfony edition project.

[2016-02-29 14:20] Seb33300 opened #17960 "Unable to save entity with CollectionType if unique constraint and reorder"
For instance, we have 2 entities: `Website` and `Domain`.
`Website` have a `OneToMany` relation to `Domain`:
[code]
 And `Domain` have a ManyToOne relation and a unique constraint on the domain name field:
[code]

I have 2 forms: `WebsiteType` and `DomainType`.
`WebsiteType` have a CollectionType of DomainType:
[code]

I can save a new website with domains automatically created.
I can update websi

[2016-02-29 14:28] HeahDude commented on #17960
Hi @Seb33300, I think it's a duplicate of https://github.com/symfony/symfony/issues/7468

[2016-02-29 16:20] romainneutron commented on #17667
Hello @havvg

With latest symfony/process@master you can execute a callback whenever the output is disabled, so you just could do (without clearing output):

[code]

[2016-02-29 16:22] #17905 closed

[2016-02-29 16:35] havvg commented on #17667
@romainneutron This helps me in no way, when the **input** is too big.

[2016-02-29 16:36] Nemo64 opened #17962 "UniqueEntityValidator in SingleTableInheritance"
I have multiple kinds of entities within a single table inheritance. The UniqueEntityValidator fails in that scenario as it uses `get_class($entity)`. It instead should use the class on which it is defined.

Example:
[code]

[code]

Validating the `Collaborator` will now only check for other `Collaborator`s with the same email.

I'm using symfony `2.7.10`.

[2016-02-29 20:33] kleijnweb commented on #15748
Been a while, anyone want to weigh in on this or should I consider it a lost cause?

[2016-02-29 20:50] dunglas commented on #17935
Should we really add that to the core?
Client-side (JS/TypeScript/whatever) and server-side (PHP) code are more and more isolated in different apps.
IMO it's not a good signal sent to developers, it encourages mixing JS and PHP.
As we refused to integrate CKEditor as part of the core (the main argument was: the server-side code should be JS-agnostic), we should not merge such things unless there i

[2016-02-29 23:23] mmucklo opened #17966 "Use protected vs private variables in Profiler.php and EnvParametersResource.php"
Recently I've had the need to override Profiler (in order to export the hash used), and EnvParametersResource (in order to do a clever dotenv integration).

I'm finding that overriding these classes requires me to copy quite a few private variables.

e.g.

[code]

Could I request that these private member variables be made protected to allow people to easily extend these classes without a lot of c

[2016-03-01 01:25] TomasVotruba commented on #16572
Ok, what needs to be done here?

[2016-03-01 04:32] dosten commented on #16572
@TomasVotruba there's an open PR here #16583

[2016-03-01 05:51] Dam-Deng opened #17967 "symfony 2.8 form entity type can not dynamic add choice?"
Recently I try to upgrade the symfony from 2.6 to 2.8 ,then I met a problem .
That Country that I have a large data, so I have to get the all data use a API .

Example:
[code]

[code]

so that I can loading data asynchronously.
But , when I select a country and submit the form , the form is not valid, and show up this error: This value is not valid!

**But It is work in symfony 2.6!
And It is not

[2016-03-01 06:03] HeahDude commented on #17967
Hi, @Dam-Deng, if you think t's a bug, could you explain how in the process of the form you add the choice ?

[2016-03-01 06:30] Dam-Deng commented on #17967
Hi @HeahDude ,  sorry  ,It's the first time use the github issues, so I do some mistake ,HAHA.
Whatever, I update my problem description. Hole your can help me. Thx.

[2016-03-01 07:15] HeahDude commented on #17967
Are you using symfony 2.8.3 released yesterday ?

[2016-03-01 07:23] #16925 closed

[2016-03-01 07:26] Dam-Deng commented on #17967
Yes , I am using PHP 7.0.1 and Symfony 2.8.3 now

[2016-03-01 07:39] HeahDude commented on #14072
Considering #17968 and #17609, I propose to use two patterns for options in types managing nested types like `ChoiceType` or `CollectionType` :
`item_passive` or `active_group` which gives `choice_*nested_option` or `handle_option*_choices`.

For `CollectionType` we get `entry_*nested` or `handle_entries` or maybe `handle_collection`.

Some proposed options could be added to both types like `filte

[2016-03-01 07:43] HeahDude commented on #17967
Could you please try the code below ?

[code]

[2016-03-01 07:56] Dam-Deng commented on #17967
I try your code and still not work.

In addition, If I not set the `query_builder ` and not use API ,It will be work

[2016-03-01 07:58] HeahDude commented on #17967
Ok then please now try :

[code]

If the values you got in 2.6 are numeric indexes do the following :

[code]

[2016-03-01 08:21] Dam-Deng commented on #17967
It still not work...

But I have to say something,
If my `query_builder ` get the result is return `UK`, and then I select the `UK` ,It's work.
But If I select other value ,such as `US` or 'CN' ( It get form the API ),  Its not work, and

Submitted Data in symfony 2.8 toolbar

But  in symfony 2.6 toolbar is follow
Submitted Data

[2016-03-01 08:37] stof commented on #17966
Well, we use private by default everywhere, because anything protected must then be covered by our BC policy, and BC layer for inheritance are the worse to implement, making it a maintenance nightmare.
So we won't be increasing visibility without a clear explanation of the use case (allowing us to decide whether there is a better way to handle this use case rather than switching to protected). Wit

[2016-03-01 08:44] webmozart commented on #17967
Hi @Dam-Deng, thank you for reporting this issue! :) Unfortunately this is not a bug. Limiting the query builder to 1 means that your choice field allows to select precisely one choice. I understand that you worked around this somehow in 2.6, but this is not some functionality that is officially supported by the component, so we cannot guarantee BC either.

I would recommend to add an empty choice

[2016-03-01 08:44] #17967 closed

[2016-03-01 09:00] webmozart commented on #14072
Reusing the same choice list and filtering it elsewhere violates the separation of concerns in the component. From the perspective of a choice field, the choice list contains all choices that are displayed and selectable. Any filtering, caching etc. should be done while loading the choice list. How to do that, what to cache etc. is of course a different topic. But it should not be done outside the

[2016-03-01 09:02] swordbeta commented on #17922
@javiereguiluz `$_SERVER['SERVER_SOFTWARE']` is always `Google App Engine`, so something along the line of `if (0 === strpos($_SERVER['SERVER_SOFTWARE'], 'Google App Engine')...` might be the way to go.

[2016-03-01 09:03] webmozart commented on #17935
@dunglas Very good points. Any other opinions?

[2016-03-01 09:05] HeahDude commented on #14072
Yes, understood.

My idea was to bind the logic the factory not to the form "lists" like `ChoiceList`.

It will be easier to talk about it on a WIP as you suggested :)

[2016-03-01 09:10] HeahDude commented on #17935
I think it can be very useful.

If symfony deciders don't consider this consistent within the core, it should be easy to make a `Twig_Extension` in a tiny, easy to support bundle with #17963 implementation and talk about it in the docs.

[2016-03-01 09:14] brechtdewinne opened #17969 "View location bug with Symfony 2.8.3"
When upgrading Symfony from 2.8.2 to 2.8.3 I have noticed that the following no longer works:

[code]
Directory structure: `/src/Base/SubDir/Resources/views/view.html.twig`

Symfony throws an exception saying that the view cannot be found inside `app/Resources/views`.

[2016-03-01 09:15] javiereguiluz commented on #17935
I like @egeloen's proposal. The idea of not mixing up PHP and JS is OK, but there are some ubiquitous form fields which can't work without JavaScript (editors and date pickers).

And this could also help us fix the issue of Symfony not allowing to add new forms dynamically, and forcing the user to write their own JavaScript over and over again, as explained here: http://symfony.com/doc/current/coo

[2016-03-01 09:31] gnugat commented on #15748
I've created a POC to see what it would look like: [MicroFrameworkBundle](http://gnugat.github.io/micro-framework-bundle/)

[2016-03-01 09:52] gadelat opened #17970 "[Form] required false default option overrides children specific required option"
[code]
When called createView, symfony will create 'testField' with required false, even though we specified it's true. "Default" required option in this case overrides field specific option.

This doesn't happen in reverse (default true, field option false).

Tested on Symfony 2.7 and Symfony 3.0.3

[2016-03-01 09:56] iltar commented on #17970
One possible option could be that the parent is not required thus the child cannot be required, but I'm not sure if that's the case.

[2016-03-01 09:58] iltar commented on #17969
I'm not sure if that was ever supported as the default structure would've been loading templates from your view directory.

[2016-03-01 10:01] brechtdewinne commented on #17969
It have been using this long before 2.8 :)

[2016-03-01 10:03] iltar commented on #17962
I think you're correct, the validator uses the following checks:
 - `$class = $em->getClassMetadata(get_class($entity));`
 - `$repository = $em->getRepository(get_class($entity));`

Do you happen to have a different repository defined? You could try to see if the `repositoryMethod` in the constraint will fix this for you.

[2016-03-01 10:04] jakzal commented on #17954
The `profiler` configuration can be optionally enabled. The config node [is set up](https://github.com/symfony/symfony/blob/25f735f78aa24e01702fab08393b418e377ada7f/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Configuration.php#L274) with the [`canBeEnabled()`](http://api.symfony.com/3.0/Symfony/Component/Config/Definition/Builder/ArrayNodeDefinition.html#method_canBeEnabled) method. Its

[2016-03-01 10:04] #17954 closed

[2016-03-01 10:04] jakzal commented on #17954
If you think there's something missing in the documentation, please submit and issue (or better, a pull request) to https://github.com/symfony/symfony-docs

[2016-03-01 10:07] iltar commented on #17969
That doesn't mean it's a supported notation though, I wasn't aware that this was possible in the first place. Supported notations are here: http://symfony.com/doc/current/book/templating.html#template-naming-and-locations

If this is intended to work, it should be fixed of course.

[2016-03-01 10:15] brechtdewinne commented on #17969
Unless support for this has been removed and I missed that along the way.

[2016-03-01 10:18] #17724 closed

[2016-03-01 10:18] #17878 closed

[2016-03-01 10:19] iltar commented on #17969
You could add your own twig namespace: http://symfony.com/doc/current/cookbook/templating/namespaced_paths.html

[2016-03-01 10:21] brechtdewinne commented on #17969
And why would I want to that when it worked perfectly fine before?

This sounds more like a workaround for a bug then anything else...

[2016-03-01 10:31] iltar commented on #17969
I'm not saying you'd want to do that. I'm saying you could do that to get it to work in the newer version. If it's a bug, it can be fixed. If it was something that was possible but not intended to be, your solution will keep your system working. However, I recommend to stick to the documentation or best-practices regarding template locations.

[2016-03-01 10:54] stof commented on #9310
How would the added choice value be transformed to a model value though ?

[2016-03-01 11:03] Jean85 commented on #17969
I think this is the same as #17777

[2016-03-01 11:10] iltar commented on #17969
In that case, @brechtdewinne can you try if this fix works for you? symfony/symfony#17894

[2016-03-01 11:17] jakzal commented on #17969
Indeed, this should be fixed by #17894.

The problem in my view is that people were relying on few unsupported cases, which obviously were not covered by tests.

[2016-03-01 11:17] #17969 closed

[2016-03-01 11:27] brechtdewinne commented on #17969
@iltar Yes that fixes the issue!
CC: @Jean85 @jakzal

[2016-03-01 11:37] qpautrat commented on #14917
This is useful in CQRS context.
I  validate my commands. But I have to create a custom `UniqueEntity` validator like @desarrolla2 did.

[2016-03-01 11:43] HeahDude commented on #9310
@stof, the same way you actually deal with `empty_data`. @webmozart already suggested to rename it to something like `create_data` in #5939.

[2016-03-01 11:50] Nemo64 commented on #17962
@iltar Why should it? It would then call the repository method on the `CollaboratorRepository`. I could probably create a method there which would also return normal `User`s but that wouldn't be really nice would it? ;)

[2016-03-01 11:53] napestershine opened #17972 "How to Implement multiple option correct question answer quiz?"
Hi
I have a question
I have Question Entity and Answer Entity.
For each question there are 4 choices.
and there is Is_correct for choice with Multiple Option Correct Choice
so How will I implement it?

![d](https://cloud.githubusercontent.com/assets/8603325/13426724/6255588a-dfd5-11e5-8475-23ac6e5bc315.png)
![v](https://cloud.githubusercontent.com/assets/8603325/13426725/625b6662-dfd5-11e5-8696-07

[2016-03-01 11:55] iltar commented on #17962
@Nemo64 I'm just proposing possible solutions to get your code running. If your entities share the same repository, it shouldn't matter. If they have a different repository, you might want to define the one of the parent entity/class to be the correct one.

[2016-03-01 12:15] Nemo64 commented on #17962
@iltar I know and thanks for that. I hope I don't sound harsh, that wasn't my intention.

But I have the feeling i'm missing something. The `UniqueEntityValidator` uses `->getRepository(get_class($entity))`. Therefor doctrine will create an instance of `EntityRepository`  which is configured to give me instances of that class. I can overwrite that class to so doctrine creates a  `UserRepository` b

[2016-03-01 12:33] gadelat commented on #17970
@iltar seems to be correct assumption

[2016-03-01 14:36] Preovaleo opened #17975 "assets:install => resolve symlink"
hi,
I want to add a feature to resolve symlink in the Ressources/public directory
for example :

I want to add the components/jquery package in my project
i can add a package which have a symlink for example

and when i do assets:install (Hard copies mode) it will copy

What do you think about that?
Have a nice day !

[2016-03-01 15:44] dosten commented on #14521
@fabpot I'm not sure if we should close this issue because talks about deprecating the `Date` and `Time` constraints in favor of the `DateTime` constraint + `format` option.

IMO the pros are:

- More powerful
- Less constraints to maintain
- Reduces the learning curve of the Validator component (I do not need to remember if I need the `Date`, `Time` or `DateTime` constraints)
- Don't require to l

[2016-03-01 16:11] dosten commented on #14521
Well, actually there is a veeeery small performance gain of 0,20% so the item about performance can be omitted.

[2016-03-01 17:22] romainneutron commented on #17667
Oh, I read a bit fast your report. I now get it, it's about input. I'm gonna check this

[2016-03-01 17:28] #17972 closed

[2016-03-01 17:30] #16236 closed

[2016-03-01 17:30] #16604 closed

[2016-03-01 19:00] tkleinhakisa commented on #17935
i think it would be a great addition and would ease the use of modern forms (dynamic add/delete, editors, datepickers, plugins to enhance selects elements...) and any custom complex form type
It only provides the ability to add some javascript linked to a form type but does not add a single line of javascript into core. Integrating something like ckeditor would require some javascript code, so in

[2016-03-01 20:11] xabbuh commented on #14521
If we do not deprecate the `Date` and `Time` constraint, we should imo add the `format` option to the `Date` constraint too.

[2016-03-01 20:13] schorsch3000 opened #17977 "New DUMP_MULTI_LINE_LITERAL_BLOCK doesn't indent at all"
Hi,
i've tested the new DUMP_MULTI_LINE_LITERAL_BLOCK which got into master a few days ago with eff69028e7e8081ff7bf5b681eba7ba8d54b2da2. It seems it doesn't indent the literal block at all as it should.

i've used this simple example:
[code]
while requiring  "symfony/yaml": "dev-master"

the string in $yaml is:
[code]

it should be:
[code]

that's because the parser throws:

[code]

I don't think

[2016-03-01 20:19] schorsch3000 commented on #17977
Sorry, seems like i've set indentation to 0 which clearly leads to no indentation at all.
i've got that idea from the testcase:
[code]
which i've copied straight away without thinking about what i do.

So, that test-case seems odd to me.
Also, it it okay that i can choose to not indent at all which will break the syntax?

[2016-03-01 20:24] dosten commented on #14521
@xabbuh but how this format will work? like the `DateTime` constraint? so, if I do:

[code]

this will work? so, we will have two constraint that works exactly the same but with a different name?

[2016-03-01 20:26] xabbuh commented on #17922
What is the alternative to `tempnam()` with GAE then?

[2016-03-01 20:34] swordbeta commented on #17922
@xabbuh `tempnam()` works on GAE, `FileSystem::tempnam` does not because of the `x+` flag in `fopen`.

[2016-03-01 20:37] xabbuh commented on #17977
@schorsch3000 Well, when using the `Dumper` class you would pass the indentation to the constructor. The `$indent` argument of the `Dumper::dump()` method is only used internally. However, I agree with you that we should prevent users from being able to do that at all. So I opened #17978 and #17979 to throw exceptions then.

[2016-03-01 20:37] #17977 closed

[2016-03-01 20:42] schorsch3000 commented on #17977
@xabbuh Everything seems fine now that i handle the dumper right, Thanks for working on that, and thanks for that fast support that late!

[2016-03-01 20:47] xabbuh commented on #17977
@schorsch3000 You're welcome. And thanks once again for testing. :)

[2016-03-02 07:16] dunglas commented on #17935
I fail to understand why? You can easily add editors and date pickers without mixing PHP and JS (e.g, add a class to add fields requiring such editors, and detect it in JS).

The user will require a different JS code anyway depending of the JS stack it uses. This must not be done the same way depending if you use React, Angular or  Ember. Not even taking into account moderner alternatives to JS...

[2016-03-02 08:02] javiereguiluz commented on #17960
Closing it as duplicated, as explained by @HeahDude.

@Seb33300 for now, the solution would be to define a `setDomains()` method and use it instead of `addDomain()` as explained in the comments of #7468.

[2016-03-02 08:02] #17960 closed

[2016-03-02 08:08] javiereguiluz commented on #17955
@compains it's been two days and we have received no other complaints about this. And our test suite passes without errors. So it's very unlikely that this is a Symfony issue.

Maybe some patch/diff went wrong and a leading `+` was left somewhere by mistake? Can you try to find with your IDE or editor all the `+` characters in the source code of your application to see if you find something wrong?

[2016-03-02 08:18] aferrandini opened #17983 "onKernelException response replacement"
When an `onKernelException` event is fired, if you set a new `Response` the response content is replaced but the status code is not replaced.

[code]

[code]

When you request a route that generates `404` status code, the response should be replaced  with a `200` status code response, but this is what happens:

[code]

As you can see, the response content is replaced but the response status code i

[2016-03-02 08:31] javiereguiluz commented on #17983
Apparently you can solve this issue with a magic feature provided by Symfony via the `X-Status-Code` HTTP header (see https://github.com/symfony/symfony/issues/12343) Maybe we should work to finally remove this magic feature as proposed by @Tobion.

[2016-03-02 08:48] webmozart commented on #17935
I guess @dunglas is right. The problem @javiereguiluz describes can be solved in a different way - namely by providing a standard JavaScript-kit for jQuery+Symfony. People who use jQuery could use that kit (=easier than right now). Everybody else could still write their own (=same as right now). However, the `*_javascript` block is not a prerequisite for that feature and hence it's probably better

[2016-03-02 08:56] webmozart commented on #14521
@dosten The issue you reference (#12389) was actually *not* implemented and closed because we concluded that it's better to have several specialized constraints that are easy and intuitive to use, even if they partially overlap in functionality.

On the other hand, I think that dates/times should mostly be stored inside value objects anyway, which makes the two constraints a bit useless.

[2016-03-02 08:59] webmozart commented on #17970
@iltar Yes, that's correct.

It's a matter of perspective: If you add an embedded form to an outer form and set `required` to `false` for the embedded form, then *none* of the fields in the embedded form should be required, no matter what their actual configuration is.

I understand that you could see this from the perspective that you are describing here too, but we decided to take another route.

[2016-03-02 08:59] #17970 closed

[2016-03-02 09:09] jakzal commented on #17955
In the meantime I'll close this issue.  @compains feel free to provide more information and we'll reopen if this is proved to be a problem with Symfony. To be honest this is highly unlikely as we'd have far more bug reports like this.

[2016-03-02 09:09] #17955 closed

[2016-03-02 09:13] webmozart commented on #9310
That could work. However, automatic construction using the `data_class` and population using the data mapper should work as well as a default mechanism, just as it does everywhere else.

This might be a bit complicated to implement though.

[2016-03-02 09:20] aferrandini commented on #17983
Thank you @javiereguiluz maybe we should argue if this is how it should work or if this is an issue and how can we solve it.

[2016-03-02 09:25] HeahDude commented on #14260
@webmozart Thanks for this heads-up, I'd love to try as it's quite challenging for me.

Be aware I may not be able to handle it though. Keep you posted ASAP :)

[2016-03-02 09:40] aferrandini commented on #17983
Sorry, the documentation shows how to solve the issue.

http://symfony.com/doc/current/reference/events.html#kernel-exception

[2016-03-02 09:55] #16885 closed

[2016-03-02 10:38] jakzal commented on #17983
Closing as this is currently an expected behaviour and we already have a ticket to discuss chaning it (#12343).

[2016-03-02 10:38] #17983 closed

[2016-03-02 12:05] fabpot commented on #17935
I'm :-1: for this addition for the reasons explained by @dunglas. Symfony devs should be able to use whatever frontend tools they need. jQuery? With all the buzz around new ways to write JS, I'm not sure this is even a good idea.

[2016-03-02 12:18] stof commented on #17935
I'm -1 for this as well. Javascript should rather be written in a way where you load a single JS file and the initialization is done in this file based on a class placed on the form inputs needing this initialization rather than putting inline JS for each field. The ``datetime_javascript`` example given above is the way JS was written years ago, not the way it should be written today (CSP forbids

[2016-03-02 12:30] compains commented on #17955
We have rolled back to 2.7.9 (and forced Symfony to stay there) and continued with our roadmap. No plans to upgrade again to 2.7.10. If we do, well test it on pre-production and inform about any issue.

@javiereguiluz no missing `+` were found in the app. Neither in php classes or twig files. As this symbol appeared in html pages and json responses seems to be related with the response management.

[2016-03-02 12:42] #17935 closed

[2016-03-02 13:23] egeloen commented on #17935
I'm OK to not put it in the core but I think I will go with this solution in IvoryCKEditorBundle... And so, it will be documented this way in the bundle...

[2016-03-02 13:25] #13703 closed

[2016-03-02 13:42] #17614 closed

[2016-03-02 14:43] #11583 closed

[2016-03-02 15:31] fabpot commented on #10707
I think we should go with option 2.

[2016-03-02 17:08] rvanlaak opened #17987 "[Serializer] Allow to pass flags to XmlEncoder"
Ever since we upgraded our server, libxml was upgraded to `2.9`, which introduced a protection on [the max text length](http://www.xmlsoft.org/html/libxml-parserInternals.html#XML_MAX_TEXT_LENGTH).

We have one single route for which we want to add `LIBXML_PARSEHUGE` to the `XmlEncoder`, because an external party delivers us huge text nodes. Our problem is that the decoding happens (and makes the

[2016-03-02 17:19] macintoshplus opened #17989 "Case mismatch between class and real file names on mac os x"
Hi,

I just update to SF 2.8.3 and my project does not work anymore.
This exception is throws on some file.
[code]

System : `Darwin server.local 14.5.0 Darwin Kernel Version 14.5.0: Tue Sep  1 21:23:09 PDT 2015; root:xnu-2782.50.1~1/RELEASE_X86_64 x86_64`
Os X : `10.10.5`
Symfony version : 2.8.3
PHP Version :
[code]
Installed from homebrew.

trace :
[code]

[2016-03-02 17:21] nicolas-grekas commented on #17989
Somewhere in your code you should be using Symfony/Component/Security/Core/**u**ser/UserProviderInterface instead of Symfony/Component/Security/Core/**U**ser/UserProviderInterface (note the lowercase vs uppercase "U")

[2016-03-02 21:35] merorafael opened #17992 "[3.0][Form] Entity construct linked to a form "prototype" does not work"
Hello guys,

I'm a question that is probably a bug of the framework.

I have two forms: "ReservaType" and "HospedeType".

The form "ReservaType" has a collection(CollectionType field) of "HospedeType", "HospedeType" is a form linked a entity "Hospede" and entity "Hospede" has the __construct method, which inserts the default values for each field.

The problem I found is related to calling this me

[2016-03-03 00:00] TomasVotruba commented on #16388
What needs to be done here?

[2016-03-03 00:56] TomasVotruba commented on #12063
For forthcoming, check PR #16438 16438

[2016-03-03 01:08] TomasVotruba commented on #12300
3.0 is already here.
What's current state of this? What would be the suggested replacement?

[2016-03-03 01:29] TomasVotruba commented on #12839
@JHGitty I agree. E.g. [Laravel already did it](https://github.com/illuminate/session).

What do you think about it? I might try to decouple it.

[2016-03-03 01:37] TomasVotruba commented on #15060
:+1: Often used feature

[2016-03-03 02:04] TomasVotruba commented on #12269
@Crell Thanks for implementation. This would be really great in standalone bundle.

Also it would be really nice to have this as an option.
Already done internally by:

- event dispatcher

[code]

- console commands

[code]

Externally by any tag system as written by @dosten and @dawehner

[2016-03-03 08:02] jakzal commented on #17989
Indeed, PHP doesn't care about case sensitivity but Symfony's autoloader does. You can find the problem with grep: `grep -R 'Core\\\\user' src/`.

[2016-03-03 08:02] #17989 closed

[2016-03-03 08:25] webmozart commented on #17992
Hi @merorafael, thank you for reporting this issue :) Can you try setting the `prototype_data` option to `new Hospede()`?

[2016-03-03 08:33] webmozart commented on #12300
@TomasVotruba The problem is, as @stof said, that we can only deprecate these constraints if we remove the `'' !== $value` checks from all *other* constraints validators. Otherwise empty strings will be ignored by all validators.

Any other solutions or can we only do this as part of the 4.0 release?

[2016-03-03 08:48] webmozart opened #17993 "PropertyAccessDecorator should not accept callable strings"
Right now, PropertyAccessDecorator [treats callable strings as callables, not as strings](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/ChoiceList/Factory/PropertyAccessDecorator.php#L87). Consequently the following code does not behave as expected:

[code]

This code results in a fatal error. The `end()` function exists (is callable), hence the string is not treated as

[2016-03-03 09:05] DavidGarciaCat opened #17994 "Built-In server verbose output"
Hello there,

Is there any reason to get ` ERR ` always then we run the `server:run -vvv` command (even when we get the `200` status code? Maybe it needs to be fixed?

Regards,

![screen shot 2016-03-03 at 09 04 40](https://cloud.githubusercontent.com/assets/7809429/13489457/0fcf449a-e11f-11e5-86c4-c9c0845d4d6e.png)

[2016-03-03 09:07] mnapoli commented on #12063
@TomasVotruba FYI I had open #13946 at the time too.

[2016-03-03 09:52] friizer commented on #17154
Same issus here,

I have tried to use Doctrine Event Listener with onFlush.

Once I comment the $collection->clear() line inside the listener, the removed association appears in unitOfWork, and can be queried by $uow->getScheduledCollectionUpdates(), getDeleteDiff() as an entity, when a form posted with empty association data.

[2016-03-03 10:08] macintoshplus commented on #17989
Thank's. Search return no result.
I reboot my Mac and error disappear... Magic reboot like on Windows !

[2016-03-03 10:28] javiereguiluz commented on #17994
Apparently, PHP built-in server outputs its logs to `stderr`. There is [an open issue](https://bugs.php.net/bug.php?id=68334) in PHP repository and [lines like this one](https://github.com/php/php-src/blob/2e874114a235e3ecabe044d2b8768e693f3cec5a/sapi/cli/php_cli_server.c#L699) in the PHP source code seems to confirm this.

[2016-03-03 10:38] WouterJ commented on #17994
There is nothing wrong with logging to `stderr` though. It's not important information and it surely doesn't need to be piped to the next command.

I think the process helper should not make stderr message so error-like. stderr isn't about errors, it's about information that shouldn't be piped.

[2016-03-03 10:44] Taluu opened #17996 "[Config] Allow infinity values in IntegerNode"
Curently, the `IntegerNode` does not seem to support `INF` value (I guess the float type does though), because `INF` is represented as a float.

Maybe having an option or always allowing to use / detecting `INF` values could be useful in IntegerNodes ?

[2016-03-03 10:59] stof commented on #17994
I totally agree with @WouterJ here. The name ``stderr`` is misleading about its actual purpose (btw, I have not found any bash doc naming it ``stderr``). Errors are denoted by the exit code, not by the place where it writes some messages.

[2016-03-03 10:59] craue commented on #17962
Is this considered to be a bug and will be fixed or do I have to add a custom validator instead?

@Nemo64, in your code example, `@UniqueEntityValidator` should be `@UniqueEntity` instead.

[2016-03-03 11:02] javiereguiluz commented on #17994
[According to Wikipedia](https://en.wikipedia.org/wiki/Standard_streams#Standard_error_.28stderr.29), "stderr" is *"to output error messages or diagnostics"*. But it's true that developers no longer respect the original purpose of stderr.

[2016-03-03 11:04] stof commented on #17994
@javiereguiluz log messages are diagnostics

[2016-03-03 11:08] Nemo64 commented on #17962
@craue you are right, didn't notice. I updated the example. thanks.

[2016-03-03 12:34] merorafael commented on #17992
@webmozart It's works with the form before is submitted. However, after its submitted, the framework seems to try execute __construct method separately for each entity in the hierarchy.

**Example:**
I own an entity "Hospede" with a Many-To-One relationship with the entity "Pessoa". The entity "Hospede" has a method __construct with the initial charge which defines the  attributes needed of the me

[2016-03-03 13:01] #17777 closed

[2016-03-03 13:01] #17683 closed

[2016-03-03 13:13] #17342 closed

[2016-03-03 13:15] #17666 closed

[2016-03-03 13:18] backbone87 commented on #17996
there is no INF value for php integers. PHP_INT_MAX can be used in most cases as a replacement.

[2016-03-03 13:19] Taluu commented on #17996
There is one : https://3v4l.org/btDsB

[2016-03-03 13:28] fabpot opened #17999 "Deprecate support for absolute path in templating"
see #17894 and related.

[2016-03-03 13:52] teohhanhui commented on #16529
@fabpot https://github.com/symfony/symfony/pull/17800#issuecomment-191753027

Are you saying that the user must not use a service as the `_controller` value? See dunglas/DunglasApiBundle#325 and FriendsOfSymfony/FOSHttpCacheBundle#249 - is the use case not supported?

[2016-03-03 13:54] fabpot commented on #16529
No `_controller` is controlled by Symfony, so that's not a problem. I'm only talking about user-controlled attributes that are not standardized by Symfony itself.

[2016-03-03 14:01] HeahDude commented on #17939
Hi @MichaelMackus, there were many `ChoiceType` bugs fixed in the last release of 2.8. Could you please update to the current 2.8.3 and confirm your issue ?

Some pieces of your form type implementation might help if so.

[2016-03-03 14:01] teohhanhui commented on #16529
So it's still a Symfony bug that needs to be fixed.

[2016-03-03 14:03] stof commented on #17996
Look at it again, INF is not an integer. It is a float.. so @backbone87 is right.

[2016-03-03 14:06] teohhanhui commented on #16529
And there probably should be documentation to discourage putting non-scalar values in the Request `attributes` ParameterBag :smiley:

[2016-03-03 14:10] TomasVotruba commented on #12300
@webmozart Ok, that sound clear to me. Can prepare PR if this gets accepted.

[2016-03-03 14:14] TomasVotruba commented on #12063
@mnapoli Thanks for reference.

[2016-03-03 14:19] #14664 closed

[2016-03-03 14:24] Taluu commented on #17996
On a semantic point of view, it is not really a float either... but it is indeed recognized as a `float` value by php. It should not even be a `float` actually imo

[2016-03-03 14:31] #14806 closed

[2016-03-03 16:30] francoispluchino commented on #17777
@jakzal, @fabpot You close this issue while the PR #17894 is not merged into the `3.0.x` branch (and `^2.3)`. Is it not better to keep this issue open until all the branches be merged?

[2016-03-03 16:48] Babacooll commented on #17996
Well as float allows bigger values than integer infinite is considered as a float in PHP. It's the same behavior for a lot of things in PHP (ceil(), floor(), ...) for good reasons.

[2016-03-03 17:01] stephanvierkant opened #18000 "[3.0] AsseticBundle compatibilty"
Symfony/AsseticBundle has still no support for 3.0. A new release was promised months ago, but there is still no update: https://github.com/symfony/assetic-bundle/issues/401. Some people asked if we (as part of the community!) can help, but even that outstretched hand hasn't been answered.

For me, this issue isn't only about the AsseticBundle anymore: not answering questions from the community fo

[2016-03-03 17:03] shopblocks opened #18001 "[3.0.3] [console] Notice on QuestionHelper"
If I define my code as follows:

[code]

If i run this question and then press the up arrow, I get undefined offset '0' error.

I want to be able to number these options myself. If i dont number, then everything is fine, but if i do number then this is the result we get.

Full error: `PHP Notice:  Undefined offset: 0 in /.../console/vendor/symfony/console/Helper/QuestionHelper.php on line 302`

[2016-03-03 17:10] iltar commented on #18000
Is the bundle not working with 3.0? [According to the 2.7.1 composer.json it supports 3.0](https://github.com/symfony/assetic-bundle/blob/v2.7.1/composer.json).

[2016-03-03 17:26] lividgreen opened #18003 "Symfony can't read HTTP headers with dots"
Symfony is using $_SERVER superglobal for getting headers.
But if we have header like 'my.custom.header', the header is converted (probably by most CGI engines) to `$_SERVER['HTTP_MY_CUSTOM_HEADER']`

`$request->heades->hasHeader('my.custom.header')` will return false in this case because Symfony normalizes headers only with `strtr(strtolower($key), '_', '-')`

Probably, the solution may be: use r

[2016-03-03 17:29] jakzal commented on #17777
@francoispluchino in our workflow issues are closed as soon as a related PR is merged. There's no need to keep them open. Older branches are merged into newer ones on a regular basis.

[2016-03-03 17:30] backbone87 commented on #17996
There is another reason why this is a bad idea:
In php 7 you can typehint against `integer` that would cause type error when an `IntegerNode` allows INF values.

[2016-03-03 17:31] stof commented on #18000
@iltar there is some issues in the released versions to due forgotten deprecations. the master branch should be working

[2016-03-03 17:31] francoispluchino commented on #17777
@jakzal Ok, thank you for the precisions!

[2016-03-03 17:38] nicolas-grekas commented on #17749
An other option: https://github.com/editorconfig/editorconfig/issues/228

[2016-03-03 17:39] jvasseur commented on #18003
`php://input` contains the request body so it can't be used to get the request headers.

[2016-03-03 17:43] lividgreen commented on #18003
correct, sorry

instead there is `apache_request_headers` function
http://php.net/manual/en/function.apache-request-headers.php

[2016-03-03 17:48] nicolas-grekas commented on #17749
I also just sent this message to github support:

Is there a way to get a ZIP that includes ALL files (i.e. that is built without taking .gitattributes into account?)
That would be really great because that would allow us to have packages for our project: one for humans (with the full source) and one for robots/ci-scripts (the current one).

If anyone has the answer (or could push for making this

[2016-03-03 17:49] MichaelMackus commented on #17939
@HeahDude I just updated my repo to 2.8.3, and the problem persists:

![2016-03-03-094717_1272x463_scrot](https://cloud.githubusercontent.com/assets/737162/13503612/2accddba-e125-11e5-88f9-0809751e6bc5.png)

![2016-03-03-094725_468x152_scrot](https://cloud.githubusercontent.com/assets/737162/13503615/2dde2d4c-e125-11e5-99a2-07d3a7b3fa13.png)

[2016-03-03 18:19] HeahDude commented on #17939
Thanks for the update. Could you please provide a sample of your builder config ? Especially the parts where you define choices, and default data.

[2016-03-03 18:30] nicolas-grekas commented on #17749
An other option would be to add a feature to composer to clean paths specified in the `archive.exclude` option in composer.json files.

[2016-03-03 18:58] MichaelMackus commented on #17939
All the code is in my repo:

- [Form builder](https://github.com/MichaelMackus/symfony-sandbox/blob/symfony-bug-default-choice-data/src/AppBundle/Controller/DefaultController.php#L20-L24)
- [Form type](https://github.com/MichaelMackus/symfony-sandbox/blob/symfony-bug-default-choice-data/src/AppBundle/Form/MyChoiceType.php)

[2016-03-03 19:40] Taluu commented on #18000
It supports 3.0, but it still doesn't have a tagged release, that;s the whole point. And having to require `dev-master` isn't really reassuring...

[2016-03-03 22:07] Zoopme commented on #7468
I have come round this issue on the client side by modifying the Javascript/Jquery code given in the Symfony Documentation.

Instead of numbering the new elements by counting the sub-elements, I am looking at the last element's id and extracting its index with a regular expression.

When adding an element, I am incrementing the last index by 1. That way, I never use the same index.

Here is my cod

[2016-03-03 22:30] angelk commented on #7468
@Zoopme you could use twig filters "keys -> last".
Your solution won't fix the errors from https://github.com/symfony/symfony/issues/7468#issuecomment-60705768

[2016-03-03 23:09] zoundfreak commented on #7468
I wasn't aware of the keys filter until now, but I ended up using something like the code below instead:

[code]

I have a javascript that binds dynamic form handling to each dynamicForm element. In the javascript I use and modify the next-index data parameter. The next-index is increased on every addition and never decreased. I've managed to get this working automatically for any number of nested

[2016-03-04 00:04] Tobion commented on #17749
One more reasons to exclude tests:

Composer beta

[2016-03-04 00:28] patrick-mcdougle commented on #18003
in hasHeader and getHeader, can we do the same normalization?

[2016-03-04 00:34] mmucklo commented on #4976
In certain contexts it makes sense to allow for parallel requests (think API).

In these cases locking the entire bag/session will block other requests.

I think the suggestion made by @schmittjoh to have "row"-level session locking is the right way to go.

What should happen is the ability to do a get with a read and a get with a read+lock.

Example:

[code]

-- delete, update, and get then shoul

[2016-03-04 03:20] iget-master commented on #15075
Though this behavior is expected, it should have an oficial way to escape it!

Maybe allow to escape the `:` character someway!

My workarround is prefix this kind of messages with an tag, but isn't clean enough!

[2016-03-04 06:58] mevdschee commented on #4976
@mmucklo: You say that you want to "allow for parallel requests (think API)". This is certainly recognized by PHP and PHP7 now supports read-only sessions with the "read_and_close" option (see: http://php.net/manual/en/function.session-start.php). This allows for parallel requests as long as you don’t write to the session (which is typically the case when an API call is made).

This operates on th

[2016-03-04 07:08] fabpot commented on #18000
I'm closing this issue as AsseticBundle is not managed by the Symfony core team and an issue exists in the bundle repository. I'm very sorry that there is not yet a release compatible with Symfony 3, but there is nothing I can do on y side. @stof said in the related issue that he would make a release, hopefully he will find some time to make it happen soon.

[2016-03-04 07:08] #18000 closed

[2016-03-04 07:24] fabpot commented on #17996
@Taluu Can you explain why you need this?

[2016-03-04 07:25] #17856 closed

[2016-03-04 07:53] webmozart commented on #7828
See https://github.com/symfony/symfony/pull/13116#issuecomment-180273056 which contains another detailed comment about this issue.

[2016-03-04 07:58] nicolas-grekas commented on #17749
Here is my reasoning pro keeping tests where they are and also in the .zip
archives:

1. Some of us want the tests out, either because e.g "they pollute their
autocompleter, or their code searches or just their filesystem".
2. Some of us want the tests in, because e.g. "having them always at hand
enables this coding workflow of looking at tests to know how the code
behaves and how it should be use

[2016-03-04 08:09] webmozart commented on #17939
@MichaelMackus Thanks for reporting this issue! What you experience is not a bug: Symfony compares the choices in the `data` option and the choices you provide in `choices` using strict equality comparison. This is good, because `false !== null`, but `false == null`. However, when dealing with objects, this also means you must pass the same instance.

Second, Symfony will never automatically cast

[2016-03-04 08:09] #17939 closed

[2016-03-04 08:13] iltar commented on #17749
How many people actually spend time diving into tests and trying to understand them (which is usually more complicated than looking at the code)? If people really want to see the tests while they are developing they can choose already: `--prefer-source`. If this is too slow for them, they can also view the files on github.

By packaging the tests, people who don't use them or don't need them (My g

[2016-03-04 08:25] webmozart commented on #17992
@merorafael I see, thank you for the explanation! I *guess* this can be fixed by setting the `empty_data` key in `entry_options` to `prototype_data` by default, unless an `empty_data` key was set explicitly.

[2016-03-04 08:25] webmozart commented on #17992
Status: Reviewed

[2016-03-04 08:32] mmucklo commented on #17966
So for EnvParametersResource -

   It would be nice to able to customize the isFresh() function to look at the timestamp of a **.env** file in root of the source tree.

For Profiler.php -

   I'd like to get access to the hash produced so that it could possibly be used to generate a profiler URL out of band (such as in an API request that returns json where you don't have the luxury of styles and

[2016-03-04 08:40] #17881 closed

[2016-03-04 09:09] peteward opened #18007 "Container - stripComments can still use a huge amount of memory"
Hi,

A while ago I contributed on trying to reduce memory consumption in building the container through #17377. This impacted me because I use Platform.sh with Sylius, a heavy application in a limited RAM environment.

However, despite the above PR, a growth in our Sylius application meant that we recently started swapping on container compile and could not deploy to Platform.sh because any attemp

[2016-03-04 09:28] Taluu commented on #17996
On an integer node, I need to represent a "limit".... that can be "removed". I could use `PHP_INT_MAX`, but the thing is, this can change depending on the architecture, and I'm not really seeing myself having a limit that can vary ; semantically speaking, having a `null` or `INF` really shows the "no limit" I'm trying to achieve here.

But with an `INF`, I do not have to bother myself with `$limit

[2016-03-04 09:31] javiereguiluz commented on #17996
@Taluu I know that `INF` is not the same as `PHP_INT_MAX`. But in practice, in your real applications, would it make any difference to use `PHP_INT_MAX` instead of `INF`?

[2016-03-04 09:34] IMM0rtalis commented on #5136
+1 for implementing a solution

[2016-03-04 09:42] Taluu commented on #17996
Yup, because the thing is, even if I will never reach the `PHP_INT_MAX` value, what should I send from my application if I want to say alter my limit ? Sending a big number such as `PHP_INT_MAX` ? What if this limit is reached "one day" ? I'm not sure I agree on such a behavior... While using `INF` is really meaning "no limit" (such as `null`, but an integer node cannot have a null value too)

But

[2016-03-04 09:42] iltar commented on #18007
Isn't this related? https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/Kernel.php#L717

[2016-03-04 09:43] #16603 closed

[2016-03-04 09:45] nicolas-grekas commented on #17996
The issue here is that once you reach PHP_INT_MAX, you can't deal with integers anymore, and neither the comparison nor the addition work as expected. E.g. `(PHP_INT_MAX + 1) === (PHP_INT_MAX + 2)` is TRUE. This means that you're going to have much more trouble than just the one you're talking about the day you reach PHP_INT_MAX and this shouldn't be handled by using INF to me.

[2016-03-04 09:48] peteward commented on #18007
That was my initial contribution to release memory for processing _after_ this stripComments, but it's irrelevant if token_get_all itself can eat 290mb in a single php func call and push you into swap.

[2016-03-04 09:53] Taluu commented on #17996
Maybe `(PHP_INT_MAX + 1) === (PHP_INT_MAX + 2)`, but `(PHP_INT_MAX + 3) < INF` still returns `true` (and returns `false` on `<=`).

I haven't tested it yet, but since PHP 5.6, there is the operator overloading on the gmp extension (cf https://wiki.php.net/rfc/operator_overloading_gmp), that can then go beyond the `PHP_INT_MAX`. But as I said, I need to test it first.

... But guessing that the pro

[2016-03-04 09:57] #17996 closed

[2016-03-04 11:07] Grimbode opened #18008 "dump() causes "Token not found" in profiler"
Here is the short version of the code:

[code]

It would appear the dump line is causing the issue. If I comment the dump() line then there is no problem.

Is there a certain kind of string that would cause this problem? Or is there a max limit on dumps?

![uzwprfk](https://cloud.githubusercontent.com/assets/243674/13526230/fa86122e-e206-11e5-9434-3ceb3d840691.png)

[2016-03-04 11:39] javiereguiluz commented on #18008
That error only happens to me when I'm in the profiler, execute a `rm -fr app/cache/*` and try to keep navigating in through the profiler pages.

The "token" in this case refers to the stored profile data. Somehow your profile data has been deleted.

[2016-03-04 11:43] Grimbode commented on #18008
@javiereguiluz That was my first thought and I tried `php console/bin cache:clear` before posting. I just tested  `rm -fr app/cache/*` and as long as I have the `dump($elem);` it still causes the same "Token not found" in the profiler.

[2016-03-04 11:47] nicolas-grekas commented on #18008
@Grimbode do you see any error in your php error log, like a fatal error? Is this code executed in an internal or external subrequest? What's the page before you see this error?

[2016-03-04 11:54] Grimbode commented on #18008
@nicolas-grekas there are no errors. If I comment the dump, everything works perfectly fine. External request. I send a post request to my controller that runs that service. The page is just a view with one button to run the process.

[Screen shot of my view](http://imgur.com/9Oq81j6)

[2016-03-04 12:59] merorafael commented on #17992
@webmozart I tried to fix the problem by adding `empty_data` in `entry_options` and it did not work. I tried adding `empty_data` in `HospedeType` form class and it did not work. If `HospedeType` and `entry_options` does not have `empty_data`, also does not work.

The problem only happens after submit.

Analyzing the error trace below, the component receives submitted data and does not use the obje

[2016-03-04 14:02] jakubbialas3a opened #18011 "Form submission (with relations) slows down after upgrade from 2.7.9 to 2.7.10"
Form fields "entity" and "collection" are probably loading whole collection of target entities when form is submitted. In previous version (2.7.9) it was loading only one selected entity.

My form for adding new orders:

[code]

And now I have over 15k clients, and they are all loaded as entities when I submit form, so it takes some unnecessary time and memory. Accually I get memory exhausted erro

[2016-03-04 15:02] smurfy opened #18013 "[Finder] File listing broken on non Filesystem (ftp in my case) due to 2.8.3 changes"
The commit cba206ab18b8705bf82d32f1c3a811cbd5f630ec removes the RecursiveDirectoryIterator check and only does the FilesystemIterator check in ```FilterIterator``` in the ```rewind``` method

This breaks file listing on ftp connections and probably all non Filesystem listings.

[code]

Solution would be revert this part of the commit.

[2016-03-04 15:14] mogoman commented on #18013
+1 for example this breaks the following:

[code]

[2016-03-04 15:31] jakzal commented on #14260
@HeahDude have you done anything regarding this issue? I have started working on it, and then noticed you planned to try it yourself.

[2016-03-04 16:02] HeahDude commented on #14260
@jakzal, Not yet, I've been polishing some other PRs. Feel free to continue, when __webmozart__ told me about this issue, I read that you were waiting for a volunteer.

As you said, I could only "try" since I don't know yet how to handle it, but like my other works on symfony, I consider it a very good way to learn.

Feel free to continue, I'll have a look anyway just for myself :) thanks.

[2016-03-04 17:16] jakzal commented on #14260
Just FYI, travis still runs with ICU 4.8.1.1 :(

Not sure if we could do anything to run Intl tests on travis apart from compiling it ourselves (see https://github.com/travis-ci/travis-ci/issues/3616).

[2016-03-04 21:24] backbone87 commented on #17992
Your description leaves missing links in your form type structure and model structure.

Please specify and verify:
- `ReservaType` with data_class `???`
- `HospedeType` with data_class `Hospede` entity
- `???Type` with data_class `Pessoa` entity
- `HospedeType` is used inside a `CollectionType` field inside `ReservaType`
- `Pessoa` entity requires (one? multiple?) `Hospede` entity for its construc

[2016-03-04 21:28] backbone87 commented on #18011
Take a look at the ChoiceLoader interface,
you can implement partial/lazy loading there

[2016-03-04 21:45] lrlopez commented on #5013
Thank you! I'll give it a try, it's an excellent opportunity to dig into the Symfony internals. As I stated before, I think this feature would be rather useful to many people.

[2016-03-04 22:32] Exadra37 commented on #18003
@lividgreen and what happens when we run in Nginx server, instead of Apache with your suggested alternative?

[2016-03-04 23:27] romainneutron commented on #17667
Hello @havvg

I've submitted a patch in #18015. Could you try it and confirm me it solves your issue?

[2016-03-04 23:28] robfrawley commented on #18003
@lividgreen Why not simply follow the common convention of using an alphanumeric string with underscores as separators for your custom header name?

I am sure there are valid reasons for the use of only `strtr(strtolower($key), '_', '-')` to normalize these values, and some basic research shows it has worth.

This method correctly normalizers the names of all the official headers, as defined by th

[2016-03-04 23:39] robfrawley commented on #17999
Absolute paths seem like an awfully limiting choice. Using the "Symfony syntax" allows for both core and users to change defaults in directory structure in future releases painlessly, as it wouldn't affect the actual callouts within templates. It's also shorter to type. ;-)

I'm not too familiar with the handling of template resolution and loading within the framework, but based on my experience w

[2016-03-05 00:49] lrlopez commented on #5013
@webmozart Can you check PR #18016 when you have some spare time? I've implemented custom getters/setters/adders/removers through property annotations instead method ones. There is still much work to do (i.e. supporting YAML/XML/PHP metadata), but I think is a good starting point.

[2016-03-05 01:27] smilesrg opened #18017 "[Validator] Failed to validate URL with dashes in path"
This URL ```https://ru.wikipedia.org/wiki/Римский-Корсаков``` fails validation, but it's a valid URL.
Checked on 2.5 and 2.8

[2016-03-05 09:50] Exadra37 commented on #18003
@robfrawley It was my intention to arrive to your point, after the reply to my question, but you have been heaven more detailed that i would be...  :+1: for your detailed explanation.

[2016-03-05 11:52] Tobion commented on #17993
Exactly this was changed in #15561. To me, the behavior could be unexpected in both ways. But since people can just pass a `PropertyPath` instance directly if there is a conflict in name and the `callable` is the original contract, I thought it's better to change it to the current behavior.

If you think we should revert that, we could just do it as a hotfix as well I assume.

[2016-03-05 12:32] Tobion commented on #18003
@lividgreen does `apache_request_headers` return the correct headers for you?

This is also used in https://github.com/zendframework/zend-diactoros/blob/master/src/ServerRequestFactory.php and dots are not normalized there as well.

[2016-03-05 14:32] Exadra37 commented on #18003
@Tobion as per doc block is present only for simplify mocking, as per https://github.com/zendframework/zend-diactoros/blob/9fff83e9aa7d639863e6128782873b4a8ba96807/src/ServerRequestFactory.php#L29-L34

[2016-03-05 15:58] romainneutron commented on #17937
I've submitted a patch in #18023

[2016-03-05 15:58] romainneutron commented on #17937
Thanks for reporting this !

[2016-03-05 17:23] jakzal commented on #18007
The only issue I see with using `php_strip_whitespaces()` is that it puts everything in a single line. This could potentially cause debugging problems. Any problem with the container would be logged as caused in line 1.

[2016-03-05 17:34] peteward commented on #18007
yes indeed, _if_ you do need to debug your container in production that's the downside - and most likely the reason why it wasn't used originally.

[2016-03-05 18:12] jakzal commented on #18017
I have just tried it with the following code:

[code]

2.3-3.0 returns no violations. Could you provide a usage example when this would fail?

[2016-03-05 18:25] iltar commented on #18007
Except that debugging is discouraged in production

[2016-03-05 18:37] jakzal commented on #18007
By "debugging" i meant analysing logs more than actually debugging.

[2016-03-05 19:12] iltar commented on #18007
How often would you actually need the "prod" container? I think it's neglectable, worst case scenario you can throw a prettyfier over it.

[2016-03-05 19:28] javiereguiluz commented on #18007
Another potential issue is that putting the entire container in one line could make it fail for very long containers (I guess PHP limits this length).

[2016-03-05 19:55] iltar commented on #18007
@javiereguiluz did some googling but I don't think this matters for PHP. Line endings are nothing more than a whitespace character and probably stripped away.

[2016-03-05 22:24] lrlopez commented on #9336
@webmozart I've been studying how metadata gets loaded by other Symfony components (i.e. Validator, Routing, etc.) and you're right: there is a lot of overlapping. I'm about to try replicating the loader code from the Validator component while taking out any unneeded feature as a first approach.

Later we can figure out how to extract all metadata loaders their own independent component. The libra

[2016-03-05 23:19] TomasVotruba commented on #18017
@jakzal It looks like versions 2.5 and 2.8 were reported

[2016-03-05 23:26] lrlopez commented on #9336
Ouch! I've just noticed that the Symfony Serializer component includes some mapping magic. I'll have a look into it.

[2016-03-05 23:33] jakzal commented on #18017
@TomasVotruba 2.5 is not supported anymore. As I said earlier all supported versions from 2.3 to 3.0 do not return any violations.

[2016-03-05 23:35] TomasVotruba commented on #18017
@jakzal Oh sorry, my bad. I read 2.3.3

[2016-03-06 06:08] billsworld opened #18027 "[Security] getDefaultSuccessRedirectUrl should have access to the token"
Using the new Guard component I am redirecting the user to a page like /user/{username}. The problem is I cannot access the user token in ```getDefaultSuccessRedirectUrl```. I am proposing that the ```$request``` and ```$token``` get passed to ```getDefaultSuccessRedirectUrl```

Without the token I have to adjust my authenticator like this

[code]

This is not so good b/c I have to define getDefau

[2016-03-06 08:13] fabpot commented on #9336
Just a quick note: `jms/metadata` cannot be used due to licensing issues.

The loader from the Validator component is the one that we need to get rid of. All the other components are already using a standardized way.

[2016-03-06 08:15] Ocramius commented on #9336
It's not something for ORM 2.x anyway. We are crunching on it, but far from getting anywhere soon, sorry.

[2016-03-06 08:39] sstok commented on #9336
https://github.com/rollerworks/metadata/ MIT licensed, documentation is missing currently.
You can see a working implementation in https://github.com/rollerworks/search-metadata

Feel free to reuse my work and move it Symfony :+1:

[2016-03-06 09:11] javiereguiluz commented on #17994
I'm closing this issue because, according to previous comments, the current behavior is not wrong. Moreover, Symfony recently made all Console helpers use `stderr` for their output ([see details](https://github.com/symfony/symfony/commit/ce60be5729755df392dff709a211e15c71d313f6)).

[2016-03-06 09:11] #17994 closed

[2016-03-06 09:20] #18017 closed

[2016-03-06 10:17] #17667 closed

[2016-03-06 10:34] ogizanagi commented on #17962
Related to #15002 (+issues) and #16969 (+PRs: #16978 & #16981)

[2016-03-06 10:38] #14260 closed

[2016-03-06 10:47] jakzal commented on #18017
@smilesrg what was the problem in the end?

[2016-03-06 10:49] WouterJ commented on #17994
@javiereguiluz then we still need an issue to make stderr output less error-ish in the process helper.

[2016-03-06 10:53] lrlopez commented on #9336
Thanks @fabpot for the hint. I had already changed my mind and used the Serializer mapping as the implementation reference because I found its code much cleaner. Anyway, it hurt a lot copying so many LOCs, it just doesn't seem right.

@sstok, I'll have a look into it, I really appreciate your offer.

[2016-03-06 10:56] javiereguiluz commented on #17994
We could replace `ERR` by `LOG`

[2016-03-06 11:04] WouterJ commented on #17935
I still like this issue very much, it's a problem we are facing with the CmfTreeBrowserBundle as well.

The issue seems to be very generic, while the arguments against it seems to focus on some specific things that shouldn't be part of the feature:

 * The feature **doesn't imply any front-end design technique, framework, library**, whatever. It provides a generic way for form types to define some

[2016-03-06 12:55] HeahDude commented on #17154
Have you tried to set the `empty_data` option to add an empty value.

That way the count wouldn't be "0" and the `allow_delete` option should take care of it.

[2016-03-06 14:14] lividgreen commented on #18003
@Exadra37, manual tells us that `apache_request_headers ` works well with FastCGI starting from PHP 5.4.0 and even with internal php server starting from php 5.5.7. But the question requires more investigation.

@robfrawley as i know there is no convention that restricts using dots in custom http header names. Please correct me if there is one.

Btw, I would like to use dashes instead of dots, but

[2016-03-06 19:20] merorafael commented on #17992
@backbone87 @webmozart I created a demonstration project to show the bug occurred. You can access the repository using the link below.

https://github.com/merorafael/SymfonyFormExample/tree/master/src/AppBundle

[2016-03-06 19:33] Alsatian67 opened #18035 "[router] Does not take additional GET parameter in account if it has a default value."
In a Controller, I have two actions :

[code]

In twig, I generate routes to these actions with an additional GET parameter 'p' :

[code]

Result :

[code]

The first one, totally ignore the value assigned on 'p'.

Bug reproduced here :

https://github.com/Alsatian67/symfony-standard

(index page shows the two paths)

[2016-03-06 19:41] dunglas commented on #17987
I've opened a pr to make the encoder configurable: #18036

However I'm not sure that exposing this configuration trough the framework bundle is a good idea: changing options globally through this configuration option will impact all usages of this encoder. For instance if someone enable non-safe options to fit its own need with a custom development, it will also impact API Platform that uses encod

[2016-03-06 21:57] flip111 opened #18038 "DomCrawler ArrayAccess interface"
Would it be acceptable for the DomCrawler to implement the ArrayAccess interface? That way `foreach` can be used instead of `each()`. The closure needs to make explicit which outer variables to use (with `use`) and is more verbose. Also instead of `->eq(0)` just `[0]` can be used. Possibly both interfaces could co-exist

[2016-03-07 03:26] Sydney-o9 opened #18041 "Symfony2 blog article - HTML encoding issues"
This blog article displays special characters incorrectly: [Is Symfony too slow for real world usage](http://symfony.com/blog/is-symfony-too-slow-for-real-world-usage)

There may be others so just wanted to report it here quickly.

<img width="718" alt="screen shot 2016-03-07 at 2 23 10 pm" src="https://cloud.githubusercontent.com/assets/1480617/13560141/2be06368-e470-11e5-8831-7da7951a7ea5.png">

[2016-03-07 06:38] backbone87 opened #18042 "[Security] $attributes can be anything, but RoleVoter assumes strings"
There are no limitations on the $attributes voted on, but the RoleVoter assumes the attributes are strings. The ExpressionVoter for example expects Expression(s) as attributes. The only reason the RoleVoter does not warn on the "blind" strpos, is because Expression has a __toString method.
So currently, one cant use classes (`Permission`) as attributes that dont implement __toString.
I dont know i

[2016-03-07 07:27] javiereguiluz commented on #18041
Closing it as fixed ... but I'm afraid that we can't fix all the old blog posts (this one is from 2007!!)  Thanks for understanding it.

[2016-03-07 07:27] #18041 closed

[2016-03-07 07:28] backbone87 commented on #17992
The form component is not meant to handle such constructs without some "manual" work.
The easiest way is to add the missing setters for pessoaFisica in Hospede and pessoa in Fisica and specify the empty_data option in PessoaType, either directly via $resolver->setDefault() in the PessoaType (if the factory callback is to be used in general) or at the pessoa field in FisicaType. Then you can also r

[2016-03-07 07:49] javiereguiluz commented on #12583
In #18019 we've updated the internationalization data to its latest version. @nurikabe could you please verify if this issue has ben fixed? Thanks!

[2016-03-07 08:24] rvanlaak commented on #17987
@dunglas agree with you, my usecase just concerns a single route. If your PR and overriding or decorating the `BodyListener` via `services.yml` will be able to solve this I'm fine with that. :+1:

[2016-03-07 08:28] HeahDude commented on #17992
What about `PessoaType` ? There is no fields for it in your repository.
This the one you should set the `empty_data` as its constructor needs a subfield, you can define this with a closure :

[code]

The options `empty_data` will override the default `new $class()` in `Form` and pass the right argument in your constructor thanks to the closure.

[2016-03-07 09:15] egeloen commented on #17935
For the record, I will create the IvoryFormExtraBundle which will provide a `form_javascript` and `form_stylesheet` and then suggest to use it if you want to take benefit of this feature. For now, I have a working bundle but some more tests need to be added. A release is planned in the next days...

[2016-03-07 10:20] HeahDude commented on #17488
Fixed by #17668 ?

[2016-03-07 11:13] HeahDude commented on #17938
@portey any news ?

[2016-03-07 11:32] xabbuh commented on #18038
We would then also have to support unsetting nodes. Not sure how you would implement that.

[2016-03-07 11:42] flip111 commented on #18038
`$href->parentNode->removeChild($href);` i guess ^^

[2016-03-07 11:43] xabbuh commented on #18013
What error do you get now?

[2016-03-07 11:44] xabbuh commented on #18008
@Grimbode Can you fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-03-07 11:44] jakzal commented on #18038
Removing nodes is something we don't support on purpose. DomCrawler's a tool for crawling documents, not modifying them.

[2016-03-07 11:46] xabbuh commented on #17938
I am closing here for now due to the lack of feedback.

@portey We can consider to reopen when you can provide more details for your issue. So feel free to leave a comment in that case.

[2016-03-07 11:46] #17938 closed

[2016-03-07 11:47] flip111 commented on #18038
That will make it even more easier, just return the method immediately or throw an exception.

[2016-03-07 12:08] mvrhov commented on #4976
You can't do uploads from javascript with custom headers.

[2016-03-07 12:21] smurfy commented on #18013
not sure what you mean. Currently you won't get an error/exception, but you also get no listing of ftp remote streams.

[2016-03-07 12:38] mogoman commented on #18013
Full example:

[code]

[code]

Output

[code]

[code]

As you can see in SF 2.8.3 the Finder doesn't find everything...

[2016-03-07 13:58] xabbuh commented on #18035
Does this only happen if both routes are configured for the same path?

[2016-03-07 14:08] merorafael commented on #17992
Tks @backbone87 and @HeahDude, the event `PRE_SET_DATA` fix it. But the component should not set initial form data(even after submit) with the value setted in parameter `empty_data`?

[2016-03-07 14:13] peteward commented on #18007
I thought the second question was more interesting - Is it even worth stripping the container if opcache is pretty standard now and Symfony 3 requires >= PHP 5.5.9 anyway?

Anyone using PHP in production nowadays without Opcache has probably got more to worry about than just a stripped container...

Based on my minimal knowledge of opcache, I would vote for just not stripping at all.

Does anyone

[2016-03-07 14:25] webmozart commented on #17992
@merorafael The fix provided by @HeahDude should work without needing to listen to PRE_SET_DATA. The `empty_data` option is only used during submission of a form *if* that form is empty. If a form is prepopulated (i.e. data was passed before), that option is not used. In that case, you should implement a custom data mapper instead. You can do that in you form type:

[code]

[2016-03-07 14:35] mirandaguillaume commented on #17845
I currently have the same issue ...
But it's only from 2 or 3 days as I've had to destroy and recreate my VM with vagrant

[2016-03-07 15:06] backbone87 commented on #17992
@webmozart the problem he has, is that there are no setters for tipo in Pessoa, pessoa in Fisica and fisica in Hospede, so the default data mapper cant map freshly constructed empty_data back into the parent object. All these fields are populated on construction of each object (outside in / no IoC). but the form components constructs empty_data inside out according to IoC.

[2016-03-07 15:07] webmozart commented on #17935
@WouterJ AFAIU it should be sufficient to add one single JavaScript to all pages in questions and do the checks for different field types in that script?

[2016-03-07 15:13] jakzal commented on #18007
@peteward I guess we need a performance test to see what's the impact. Since you've already got an app with a huge container, perhaps it'd be easy for you to perform a comparision with blackfire?

Btw, docblocks wouldn't be stripped unless `opcache.save_comments` is set to `false`. However, for applications using annotations it needs to be set to `true`.

[2016-03-07 15:20] webmozart commented on #18011
This should be fixed by #17990. Could you please verify?

[2016-03-07 15:23] backbone87 commented on #10316
The registration is called "username/password" not "identifier/password" or "email/password". you **do** have a username and thats the email. `return $this->getEmail();`

A better clarification imho would be to rename the `UserInterface` to `UsernamePasswordIdentityInterface`, which also hints the fact, that this *should not* **be** your entity/model, but something that is *derived* from it. it al

[2016-03-07 15:27] smurfy commented on #18013
I created a gist (https://gist.github.com/smurfy/42490192431342614797)  to reproduce.

Breaks on php 5.4.16 (cent os) and php 5.5.9 (ubuntu)
Does not break on 5.5.30 (osx), gets catched by the PHP Version check added by the same commit.

[2016-03-07 15:33] peteward commented on #18007
OK that was the more informed point right there :+1:  I was thinking comments would be stripped as standard from opcache but annotations are a good reason why not to.

Still, the containers comment blocks are all very formulaic:

[code]

There should be more memory efficient ways of stripping these out and leaving the rest to opcache.

I will try to do some performance tests this week.

[2016-03-07 15:45] xabbuh commented on #18038
Imo that it is not behaviour someone would expect when a class claims to implement the `ArrayAccess` interface. That being said I am :-1: on making this change.

[2016-03-07 15:48] nicolas-grekas commented on #18007
@peteward could you please check #18048

[2016-03-07 15:48] egeloen commented on #17935
@webmozart The issue with such approach is that the IvoryCKEditorBundle, GenemuFormBundle, DatetimepickerBundle and CmfTreeBrowserBundle should not exist at all and the user should manage JavaScript itself without any integration...

Is it what you mean by `do the checks for different field types in that script`?

[2016-03-07 15:52] peteward commented on #18007
looks good, will give it a try later.

[2016-03-07 16:00] havvg commented on #17667
Just wanted to let you know @romainneutron, it's working. Thank you very much!

[2016-03-07 16:13] merorafael commented on #17992
@webmozart, I fix the problem using `PRE_SET_DATA` in `HospedeType`. I see no need to have a "set" method when an attribute will receive a single value and will never be changed. Do you agree?

**Code added:**
[code]

Now, you do not think the `empty_data` should not have this behavior after the submit?

[2016-03-07 16:14] mmucklo commented on #4976
Headers may work - @mvrhov what about XMLHTTPRequest.setRequestHeader?

However if we're talking about BFF cases, it seems more like the actual session is what we want as it can be easily tied to the browser.

In that case I'm thinking key-level locking could be advantageous...

Then again if you allow that, what's next, transactions?  Transactions truly might then be needed if you then want to up

[2016-03-07 16:37] xabbuh commented on #18003
Is PHP's behaviour (replacing `.`with `_`) documented somewhere?

[2016-03-07 16:47] iltar commented on #17935
@webmozart You mean everything in 1 big file?
http://webpack.github.io/docs/code-splitting.html

[2016-03-07 16:51] iltar commented on #18007
That's actually a very nice work-around, :+1: for the idea!

[2016-03-07 17:07] jakzal commented on #12583
@javiereguiluz I just confirmed this is indeed a bug. Locale aliases are currently not considered as valid locales.

[2016-03-07 17:21] tristanbes commented on #17856
Very useful when debugging voters, was wondering myself why it wasn't already here last week.

[2016-03-07 17:33] TheCelavi opened #18050 "Help needed for lazy developers"
Simple problem -> Entity with 15 properties, 2-3 Assertions per property in average.

Need to validate only 14 in one use case, all 15 in other.

I know - validation groups, but is there any neat solution to this? Like -> "define new validation group from default group which does not exclude certain rules?" in runtime? Or something similar? That I do not need to code too much? :)

[2016-03-07 17:35] Ener-Getick commented on #13609
Or a different approach in https://github.com/symfony/symfony/pull/18022 :-)

[2016-03-07 17:49] Ranmus commented on #17154
Yes, i've tried but it's not working. Tried also to add new empty entity as empty_data, but i dont see any change.

[2016-03-07 17:51] Alsatian67 commented on #18035
No, that's just to point on the bug. It is always so.

[2016-03-07 18:11] xabbuh commented on #18050
Sorry, but I am closing here @TheCelavi. We use GitHub only for bug reports and to discuss new features. Please use [one of the support channels](http://symfony.com/support) to seek for help. Thank you for understanding.

[2016-03-07 18:11] #18050 closed

[2016-03-07 20:34] javiereguiluz commented on #12583
@jakzal thanks for working on this and for contributing a solution!

[2016-03-07 22:52] dosten commented on #14521
@webmozart Well, I don't find easy and intuitive the proposal of #12389.

Can you explain a bit more your point about value objects?

[2016-03-08 05:53] Sydney-o9 opened #18052 "Use symbolic link for vendor directory"
To speed up my vagrant machine, I'm using a symlink to take away the vendor directory from the NFS synced folder exactly like explained [here](http://jeremybarthe.com/2015/02/02/speed-up-vagrant-environment-symfony2/)

I get the following symlink which is expected:
<img width="647" alt="screen shot 2016-03-08 at 4 51 55 pm" src="https://cloud.githubusercontent.com/assets/1480617/13593306/1f6ff240-

[2016-03-08 06:13] HeahDude commented on #17154
Would this be acceptable to fix your use case and keep performance:
[code]

??

[2016-03-08 07:07] webmozart commented on #17992
@merorafael Yes, you don't need a setter.

I can't say much more than what I already said :( Basically, this thread can be summarized to the following rules:

* If you have a **no-arg constructor** and typical setters/getters, use standard Form functionality
* If you do **not** have a no-arg constructor or non-typical setters/getters, choose one of two:
 * Create the object in `empty_data` if it's

[2016-03-08 07:07] #17992 closed

[2016-03-08 07:25] webmozart commented on #17935
@iltar I'm no JavaScript expert, but I'm thinking about one entry point that lazily loads other required code in a way similar to what you just linked.

@egeloen If a developer using those bundles needs to explicitly take care of loading the JavaScript, that means they can also optimize how those scripts should be bundled. If bundles do that automatically, that's a bit more complicated. Users woul

[2016-03-08 07:44] webmozart commented on #14521
I was talking about `DateTimeImmutable` or similar classes.

I reread this thread and related threads now. I agree with you that using the `DateTime` constraint with the `format` option is easy enough to use and more flexible than `Date` or `Time`. For me it's fine to go ahead and deprecate them.

[2016-03-08 07:50] webmozart commented on #14521
One more thing: What do you think about extracting the `format` option of `DateTime` into a new constraint `FormattedDate` which accepts string dates/times only? Then we can deprecate `DateTime` also.

I think it's a bit weird that `DateTime` accepts both strings and `DateTime` instances, which kind of contradicts the purpose of validation (asserting that a specific constraint is met). Also, you c

[2016-03-08 08:06] javiereguiluz commented on #14521
I agree with @xabbuh's previous comment. I'd like to have a `format` option for each date constraint and use it like this:

[code]

[2016-03-08 08:07] webmozart commented on #14521
@javiereguiluz In that case, all three constraints have the 100% same implementation. Nothing would prevent you from passing "Ymd" to `Time`.

[2016-03-08 08:14] javiereguiluz commented on #14521
@webmozart I don't mind. We also have IbanValidator, IpValidator, IsbnValidator and IssnValidator which are (more or less) a specialized RegexValidator.

[2016-03-08 08:19] #12583 closed

[2016-03-08 08:20] flip111 commented on #14521
make DateTime Validator parent class of Date and Time Validator classes

[2016-03-08 08:39] HeahDude commented on #16491
@iltar @guilhermeblanco see #18053 for a BC implementation.

[2016-03-08 09:38] clytemnestra opened #18056 "DEV toolbar crashing when trying to get user from token storage in kernel.request listener"
Using SF 2.8.3 and having the following class and its configuration:
[code]

[code]

My DEV environment always crashes with the toolbar asking me to be opened in a dialog. However, PROD works just fine, so the problem is with the Symfony toolbar

[code]

I've tried with a fresh new 2.8.3 project with no vendor bundle aside the standard ones, just this listener and getting the same error.

[2016-03-08 09:45] backbone87 commented on #17580
@webmozart can you review this? if my proposed behavior gets accepted, i can provide a PR for it

[2016-03-08 10:28] jvasseur commented on #18056
In a standard symfony installation, the wdt is behind a disabled firewall (https://github.com/symfony/symfony-standard/blob/master/app/config/security.yml#L14) so the security token is always null.

You shouldn't blindly call `getUser` on the token without checking that it isn't null.

[2016-03-08 10:45] jakzal commented on #18056
Closing as you should indeed check if a token is returned. `TokenStorageInterface::getToken()` [might return null](https://github.com/symfony/security-core/blob/a364ded58d4697a7e18f10f2457c36761baf1370/Authentication/Token/Storage/TokenStorageInterface.php#L26). It doesn't happen on production as you most likely don't have any production routes with no authentication (toolbar should be disabled).

[2016-03-08 10:45] #18056 closed

[2016-03-08 10:46] HeahDude commented on #13459
The `ObjectChoiceList` class has been deprecated in 2.7 and removed in 3.0. The current `ChoiceListFactory` allow dynamic parameters.

Should be closed as fixed by #14050 imo.

[2016-03-08 10:53] jakzal commented on #13459
@flip111 I'll close this for now. If you'd like some other property visibility to be changed, please provide a justification (a use case). Thank you.

[2016-03-08 10:53] #13459 closed

[2016-03-08 10:56] HeahDude commented on #13318
A possible workaround would be to increment the value of a hidden field `_attempts` on each submission and add the desired field when necessary.

Form events should allow to do this without much work.

[2016-03-08 11:13] zdenekdrahos opened #18058 "Upgrade 2.8/3.0 - missing information about Finding deep items in ParameterBag::get()"
Information about deep items in `ParameterBag` is mentioned only in [http-foundations's changelog](https://github.com/symfony/http-foundation/blob/master/CHANGELOG.md#280).

It's big BC (controller doesn't work is SF3), so I think, that it should be mentioned in upgrade guides [2.8](https://github.com/symfony/symfony/blob/2.8/UPGRADE-2.8.md) and [3.0](https://github.com/symfony/symfony/blob/master

[2016-03-08 11:30] clytemnestra commented on #18056
Thanks for the help.

[2016-03-08 12:55] JorisH commented on #5906
+1

[2016-03-08 13:15] J7mbo opened #18060 "Missing auto wiring configuration for TranslatorInterface"
Referring specifically to [this comment](https://dunglas.fr/2015/10/new-in-symfony-2-83-0-services-autowiring/#comment-98235):

@dunglas wrote:

So here's a BUG for that! Can I please type hint for this `TranslatorInterface` and be able to get an instance of `"@translator.default"` injected?

[2016-03-08 13:18] HeahDude commented on #12244
What if there is some GET parameters that are not related to the form ?

They would be always submitted whereas they are meant for other purpose.

Would this even work in that case without setting `allow_extra_fields` to `true` ?

It seems impossible to distinguish different cases, I don't see how this could be handled globally by the component.
I think it should be up to the dev to know what to d

[2016-03-08 14:21] tykayn opened #18062 "[feature suggestion] use browser sync in the server:run command"
it would be great if the embedded webserver could implement hot reloading like we can have it with gulp + browser-sync.
and it would be great to not have to setup more dependencies to do so.
This feature would be very welcome :)

[2016-03-08 15:23] javiereguiluz commented on #18062
@tykayn thanks for opening this issue to propose a new feature.

When you talk about "hot reloading", are you referring to application assets?

[2016-03-08 15:27] sustmi opened #18063 "[Form] FormValidator still contains code for `cascade_validation` option removed in 3.0"
Form option `cascade_validation` has been removed in 3.0 (https://github.com/symfony/symfony/commit/17cedd343529efb07bd577385d6006d48569e21f), but `FormValidator` still contains code for handling it: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Validator/Constraints/FormValidator.php#L141

I think this can now be removed .
And (I guess) `allowDataWalking()` m

[2016-03-08 15:47] jakzal commented on #18013
@smurfy @mogoman thanks for digging into this

I just tried @smurfy's example and can confirm the behaviour is different depending on PHP version.

status: reviewed

[2016-03-08 15:52] javiereguiluz commented on #15130
I'm closing this because the access decision strategy is a feature we don't want to change in Symfony. I've opened https://github.com/symfony/symfony-docs/issues/6339 to try to improve the docs of this feature. Thanks!

[2016-03-08 15:52] #15130 closed

[2016-03-08 15:55] javiereguiluz commented on #15007
@jakzal after upgrading ICU data to 55 version (https://github.com/symfony/symfony/pull/18019), do you think there could be a way to use in Twig's `localizedcurrency` filter the same ICU data as in the rest of the Symfony application? Thanks!

[2016-03-08 16:07] jakzal commented on #18013
Looks like three first files are always excluded (just confirmed this with another ftp). I'll work on a fix.

[2016-03-08 18:33] guilhermeblanco commented on #16491
@HeahDude thanks for working on it! =)

[2016-03-08 20:21] jakzal commented on #15007
Symfony 2.3-dev on a system with ICU 55.1:

[code]

Symfony 2.3-dev on a system with ICU 52.1:

[code]

Symfony 2.3.36 on a system with ICU 55.1:

[code]
Symfony 2.3.36 on a system with ICU 52.1:

[code]

[2016-03-08 21:27] lividgreen commented on #18003
@xabbuh, sorry, but I didn't find any related specification. But here is the small test using PHP internal server:

[code]

Try sending header like 'test.with.dot: 1'. The result will be something like that (PHP 5.5.14):

[code]

Sorry, I'm not so good in PHP source code to show you the actual place that converts dots to underscores.

[2016-03-08 21:30] ovrflo opened #18067 "[Form] INT64 cast to float in IntegerType on reverseTransform"
Hello,

I found a bug in the IntegerType of the Form (Symfony 2.8, btw). My setup includes a Doctrine Entity and an associated FormType. The entity includes a BIGINT field which brings me to the problem. When I'm submitting the form, most (but not all) values I enter in the BIGINT field get decremented by 1 (maybe even 2 sometimes, I'm not sure).

I traced the issue down to `NumberToLocalizedStrin

[2016-03-08 21:59] #10707 closed

[2016-03-08 22:08] dosten commented on #14521
@webmozart I'm :+1: on deprecating also the `DateTime` constraint in favor of a constraint that accept strings only, but I don't like too much the `FormattedDate` name :/

@javiereguiluz I find a bit confusing to have three constraints that can do the same thing, think about a new Symfony user. The main idea of this issue (IMO) is simplification.
Also, I think that your example is incorrect, any o

[2016-03-08 22:18] jakzal commented on #15007
Twig will always use the ICU data installed on the system to format the currency. However, getting the currency symbol alone is not exposed through the intl **extension**, so Symfony needs to load it from ICU data bundled with the intl **component**.

We'll have the same issue when using the intl **extension** classes directly if the ICU version installed on the system is different to the one bund

[2016-03-08 22:50] alexislefebvre commented on #4124
The [idea](https://github.com/symfony/symfony/issues/4124#issuecomment-13229362) from @sstok is nice. Is there a new way to do the same thing?

I'm looking for a way to get a form through `Client`, add data by using the `$form` array and in the same request add some fields not present in the DOM.

Here is a convenient way to submit a form with data (it works with Symfony 2.8):

    $crawler = $cli

[2016-03-08 22:54] kainjow commented on #17845
From what I've seen, this isn't a Symfony issue, it's an nginx/PHP-FPM issue. PHP-FPM runs its pools as a certain user, so you need to figure out what that use is and either change it to be the "vagrant" user for development with vagrant, or figure something else out. NFS synced folders can't have permissions changed, so an rsync synced folder was what I had to use to get this to work while mainta

[2016-03-08 22:59] alexislefebvre commented on #3824
I had the same question and I found this issue.

I'm looking for a way to get a form through `Client`, add data by using the `$form` array and in the same request add some fields not present in the original page (those created by Javascript).

Let's say I have a form with simple fields (a text field that is always present) and dynamic fields (created with Javascript).

Here is a convenient way to

[2016-03-08 23:01] rvaliev commented on #17845
@kainjow if it was a nginx/php fpm issue only, then Symfony 3.0.1 should have the same problem.

[2016-03-08 23:11] kainjow commented on #17845
@rvaliev not unless it was a (security) bug with how permissions were handled with that version.

[2016-03-09 01:40] alu commented on #7555
:+1:

[2016-03-09 05:03] HeahDude commented on #14521
I feel more comfortable using:
[code]

[2016-03-09 06:31] peterrehm commented on #18063
I would say the lines can be removed but `true` must remain as default. Is this the last part where cascade_calidation is mentioned?

[2016-03-09 06:42] kent99 commented on #7555
:+1:

[2016-03-09 06:46] peterrehm commented on #18052
The problem is most likely this setting in your composer.json

[code]

I am using rsync instead of NFS to avoid all those related issues, maybe one can help you in getting any further feedback on how to get this working. Eventually a symlink from /tmp/vagrant-cache/app/AppKernel.php to /var/www/SyVagrant/app/AppKernel.php might resolve your issue.

[2016-03-09 07:26] javiereguiluz commented on #15007
Closing for the reasons given by @jakzal. Thank you very much for this amazingly detailed analysis!  I've opened https://github.com/symfony/symfony-standard/issues/952 to consider adding that warning message when there is an ICU version mismatch. Thanks!

[2016-03-09 07:26] #15007 closed

[2016-03-09 07:45] iltar opened #18070 ""Did you mean" functionality within Symfony"
Working on some internal code, I was having trouble understanding certain error messages. The main reason was because I wrote a "parameter" instead of "parameters". To save others some time, I wanted to show a nice possible alternative value that _is_ allowed instead. I know that Symfony has a lot of those messages and they add value to the Developer Experience.

So I wanted to implement this and

[2016-03-09 08:00] javiereguiluz commented on #18070
My first impression is that this is too tiny to be a component.

[2016-03-09 08:01] jaytaph commented on #18003
@xabbuh @lividgreen I'm not sure if it's documented, but it's easily found in the source:

filling of the apache sapi $_SERVER settings:
http://lxr.php.net/xref/PHP_5_6/sapi/apache/mod_php5.c#254
which ultimately calls:
http://lxr.php.net/xref/PHP_5_6/main/php_variables.c#98

here, the key is ltrimmed, and any spaces and dots are replaced with a `_`.

`apache_request_headers()` function:
http://lx

[2016-03-09 08:03] iltar commented on #18070
I agree on that point but then I couldn't place it in existing components which could be used in smaller libraries and applications.

[2016-03-09 08:04] javiereguiluz commented on #18058
Closing it as fixed by #18064.

[2016-03-09 08:04] #18058 closed

[2016-03-09 08:05] javiereguiluz commented on #18070
Yes. This is the code that would normally go to "Symfony Commons" library used by other components. But we don't have "Symfony Commons".

[2016-03-09 08:38] iltar commented on #18070
Is there a lot of code that could potentially be in this "common" package?

[2016-03-09 08:46] friizer commented on #17154
Yes, it's working with the $collection->map(....

[2016-03-09 08:58] webmozart commented on #17579
Thanks for reporting this issue! I *think* this can be solved quite easily in userland by overriding the `_widget` block of the field in question:

[code]

Can you try that?

[2016-03-09 09:00] webmozart commented on #17580
Thank you for reporting this issue @backbone87! :)

I don't find any information related to that in your description? What behavior do you propose?

[2016-03-09 09:17] webmozart commented on #13318
@ogizanagi It should be possible to solve the validation issue by putting the option

[code]

onto the embedded form.

This use case should actually not be *that* complicated to solve. To expand on the previous example, I would attempt the following solution:

[code]

Something like this should work.

[2016-03-09 09:17] #13318 closed

[2016-03-09 09:23] webmozart commented on #5906
For the record, this problem can be worked around with a custom type extension for TextType:

[code]

Register that class in the DIC with the tag `form.type_extension`. [Here's the documentation about that](http://symfony.com/doc/current/cookbook/form/create_form_type_extension.html).

[2016-03-09 09:24] ghostika commented on #13318
@webmozart thanks, I will try this out

[2016-03-09 09:26] webmozart commented on #12244
@HeahDude I agree. The fix I described in the issue should be good enough for those rare cases.

[2016-03-09 09:26] #12244 closed

[2016-03-09 09:32] webmozart commented on #18067
@ovrflo Thank you for submitting that issue! :)

Can you reproduce this bug in a test case for IntegerType? If yes, I'd say go ahead and fix it.

[2016-03-09 09:33] webmozart commented on #18067
Status: Reviewed

[2016-03-09 09:45] webmozart commented on #14521
@javiereguiluz That comparison doesn't work. The constraints you mention are specialized. They differ from each other (even if only slightly). Here we are talking about three constraints with a 100% equivalent implementation. I agree with @dosten that this is unexpected and confusing. From my experience, users would expect different constraints to validate different things.

@HeahDude You put `@va

[2016-03-09 09:52] webmozart commented on #18063
I *think* this should be save to remove.

[2016-03-09 09:54] webmozart commented on #15007
@jakzal @javiereguiluz :+1:

[2016-03-09 09:54] webmozart commented on #13318
Let me know if you face any more problems. :)

[2016-03-09 10:25] javiereguiluz commented on #14521
I didn't know that the three constraints would be exactly the same. Thanks for the explanations. I fully agree with you and we'd only need one constraint.

However, from the DX (developer experience) point of view, I can't understand why a "simple" option like the date format forces me to use a new constraint. This would be to me like having to use `Ip6Validator` instead of `IpValidator` if I want

[2016-03-09 10:31] backbone87 commented on #17580
always consider compound forms that have no children as rendered

[2016-03-09 10:35] backbone87 commented on #17579
I use a similar workaround, that works. but the point was to have something like this included in the component itself.

[2016-03-09 10:37] sstok commented on #18070
To tiny? :) the https://github.com/symfony/symfony/tree/master/src/Symfony/Component/OptionsResolver is only two actual classes (excluding exceptions).

I would rather have a hundred small packages then one big common package, what is common? What is core? I would love to see the XmlUtils class to have it's package so I don't have to copy it every time I want to use it outside of Symfony.

Behold

[2016-03-09 10:39] jenkoian commented on #18070
+1 small packages (another small package in case more evidence is needed https://github.com/bangpound/callable-compiler-pass)

[2016-03-09 10:46] iltar commented on #18070
I too favor small packages, but it can be a management/version dependency hell. In symfony every package would be bumped the same versions, even if nothing is changed. This already reflects issues present in things like the ACL component/assetics bundle. If desired it could always be a small package which follows its own versioning which doesn't even have to be in the symfony repository. This woul

[2016-03-09 10:48] fabpot commented on #18070
We've made a strong decision from day 1: one repository, one predictable schedule, multiple subtree splits. It works very well and the downsides are really small. I'm all in favor of creating more decoupled components where it makes sense. Some components started with just one class and more were added afterwards (I think it was the case for the Debug, and it was definitely the case for HttpFounda

[2016-03-09 11:45] HeahDude commented on #14521
@webmozart yes, definitely wrong :) I was trying to explicit the fact that whatever the string format is, I commonly use `\DateTime` objects to deal with them. So I tend to agree with @javiereguiluz that it feel more natural to use `DataTime` as constraint name.

But the fact that I got confused in my own example makes me realise that it may be far more understandable to use `FormattedDateTime`. F

[2016-03-09 11:46] Seb33300 opened #18073 "Unable to override EntityType query_builder option"
Hello,

I am trying to override the query_builder option, keeping over options values of an EntityType form field:

[code]
This is not working, the new query builder set, seems to not be taken into account:

[code]

It seems that something in the options is the problem because this is working:

[code]

Any idea?

[2016-03-09 11:58] backbone87 commented on #18073
iirc, there is another option that is derived from query_builder on option resolution. so the options you get from `$form->get('fieldname')->getConfig()->getOptions()` already contain this derived option, ignoring the new query_builder value on resolution.

[2016-03-09 12:01] javiereguiluz opened #18074 "[RFC] Create a new ValueExporter component"
### Context

As @fabpot said in https://github.com/symfony/symfony/issues/18070#issuecomment-194238478, if some code is repeated in several parts, we can extract it to a new component, no matter how big or small it is.

### Problem to solve

In Symfony this need is very common: *"given an arbitrary variable, return its best possible representation as a string"*.

### Current situation

Today we so

[2016-03-09 12:20] HeahDude commented on #18073
@backbone87 is right.

When a form reach a `PRE_SUBMIT` event, it is already built.

So `EntityType` has already built its `choice_loader` and cached the `choice_list` depending on `query_builder` option.

The only way to set this option is to use the same logic as your working `preSubmit` method but in the `buildForm()` method instead.

[2016-03-09 12:30] Koc commented on #18074
Have same needs for my library https://github.com/Koc/Sphinxy/blob/38429e049ee8498bb619c33a75af39a33fe978cd/Logging/TraceLogger.php#L30 . ValueExporter component is a good idea!

[2016-03-09 12:31] fabpot commented on #18074
VarDumper is also probably a good way to solve some use cases.

[2016-03-09 12:37] nicolas-grekas commented on #18074
I was about to write it: this component exists, it's called VarDumper.

[2016-03-09 12:39] Koc commented on #18074
@nicolas-grekas how it possible get string representation of the variable using VarDumper in easy way? http://symfony.com/doc/current/components/var_dumper/advanced.html#dumpers looks too verbose

[2016-03-09 12:51] Koc commented on #18074
Also VarDumper adds html or ansi escape codes to output. It doesn't needed for use cases where ValueExporter used.

[2016-03-09 12:58] nicolas-grekas commented on #18074
@Koc VarDumper provides interfaces and algorithms to extract the state of any var, then represent it using a "Dumper". Writing one or more suited for the envisioned use cases is what's needed.

[2016-03-09 13:06] fabpot commented on #18074
Indeed, this is what I had in mind with my first comment. Re-using the VarDumper infrastructure to be able to dump values when we need them without all the fancy decoration added by the current dumpers.

[2016-03-09 13:08] #18013 closed

[2016-03-09 13:12] #18007 closed

[2016-03-09 13:18] HeahDude commented on #18074
When I look at the origin of `ValueExporter::exportValue()` it appears to be as close to `var_export` as `dump()` is close to `var_dump`.

What do you think about having something like `value_export($data)` ?

[2016-03-09 13:30] WouterJ commented on #18074
Fyi, I was already trying to make DataCollectors use the HtmlDumper of VarDumper to dump their values. That will be much nicer for objects than `Object ( Some\Fqcn )`. I planned to work more on this during the hackday saturday.

I think all that's needed is add a new class to the VarDumper component that is able to transform [`Data`](https://github.com/symfony/var-dumper/blob/master/Cloner/Data.ph

[2016-03-09 13:38] HeahDude commented on #17154
@friizer Thank you for the feedback :)

[2016-03-09 13:42] dosten commented on #14521
So, all of us agree to deprecate the `Date` and `Time` constraints, great!
I like more the `DateTime` name but @webmozart have some interesting points, any feedback? @fabpot  @xabbuh @stof

[2016-03-09 13:51] WouterJ commented on #14521
I'm on @webmozart's side here, `@DateTime` would make me think I'm validating a DateTime object, but the reality is that a string is validated. On the other side, `@FormattedDate` sounds a bit strange.

What about keeping the `@Date` constraint? This is easy to understand, consistent with PHP's `date()` function, a nice short name and it doesn't cause confusion with the DateTime object.

[2016-03-09 13:56] dosten commented on #14521
@WouterJ LGTM

[2016-03-09 14:07] javiereguiluz commented on #14521
@WouterJ so if you want to validate a `time`, you must use a `@Date` constraint? And the same for a `DateTime`? To me DateTime looks "inclusive" (give me a date, a time or a datetime) but Date looks exclusive (this is only for dates, no times or datetimes allowed).

[2016-03-09 14:11] WouterJ commented on #14521
@javiereguiluz I agree with you if we purely look at it from a language point of view. However, Symfony is a PHP framework and if you want to display a time with PHP, you would do `date('H:i')`.

[2016-03-09 14:33] hhamon commented on #18035
I would say that's a normal behavior. The second argument of the `path` function is meant to replace the placeholders in the url patterns. So if the url doesn't have a `{placeholder}` but you have a default hardcoded value set, then it's taken. The extra GET parameters are only added for parameters / placeholders that are not defined in the route definition.

[2016-03-09 14:41] hhamon commented on #18001
I confirm this notice error message when trying your code on Symfony 3.0.3.

[2016-03-09 15:37] Seb33300 commented on #18073
Thanks. I just had to unset them to solve the problem:
`unset($options['choice_list'], $options['choice_loader']);`

[2016-03-09 15:37] #18073 closed

[2016-03-09 15:46] nicolas-grekas commented on #17667
@havvg can you please check #18066 and confirm it still works for you?

[2016-03-09 16:55] javiereguiluz opened #18079 "Should we provide a tool to fix YAML deprecations?"
### Problem

[YAML deprecations](http://symfony.com/blog/new-in-symfony-2-8-yaml-deprecations) in Symfony 2.8 are a pain for lots of developers. Some of them are wondering if they can use a tool to automatize these changes:

![rdohms_twitter](https://cloud.githubusercontent.com/assets/73419/13643174/de1daaf8-e61f-11e5-8a1a-360ab7f08521.png)

### Solution

Given that this Saturday [there is a Hack

[2016-03-09 17:22] #18001 closed

[2016-03-09 17:28] shopblocks commented on #18001
I see the merge references 2.7, does  this automatically get ported to 3.0 too?

[2016-03-09 17:29] Alsatian67 commented on #18035
I don't thing its normal.

Default means value when not defined.
So I can't immagine the default is overwriting the submitted one.

[2016-03-09 17:36] fabpot commented on #18079
Sounds reasonable to me and it should be quite easy to do. A very good feature to develop during a hack day anyway!

[2016-03-09 17:53] jakzal commented on #2468
Few clarifications:
* Symfony doesn't "mangle language codes". It uses a locale, which might be a language code but it doesn't need to be. It [is defined as](http://symfony.com/doc/current/reference/constraints/Locale.html) (also [here](http://symfony.com/doc/current/book/translation.html)):

* BCP47 is not an accepted standard yet. As far as I know there's no data or libraries we could import and

[2016-03-09 17:53] #2468 closed

[2016-03-09 17:57] jakzal commented on #2131
Am I missing something, or is this already possible with the [chain user provider](http://symfony.com/doc/current/cookbook/security/multiple_user_providers.html)?

[2016-03-09 18:15] jakzal commented on #3246
Closing as it's been over four years since this issue was created, and no one seems to be eager to pick it up.

[2016-03-09 18:15] #3246 closed

[2016-03-09 18:16] jakzal commented on #18001
@shopblocks not automatically, but we merge older branches to the newer ones regularly, so the fix will eventually get to 3.0.

[2016-03-09 18:30] iltar commented on #18079
Sounds nice to have, I have dozens of projects that will need this fix for both 3.0 and 3.1.

[2016-03-09 18:55] peterrehm commented on #18063
Just submitted the PR with this removal.

[2016-03-09 19:22] sustmi commented on #18063
I don't think you can just remove the whole `while`, @peterrehm .

In 2.7 the `allowDataWalking()` returned `true` only for forms that were root or had all its ancestors with `cascade_validation` option set to `true`.

Now (in 3.0) the `getOption('cascade_validation')` always returns `null` (because it is not defined), so the `allowDataWalking()` method return `true` only for root forms.

Your PR

[2016-03-09 19:26] sustmi commented on #18063
Also there are still references to `cascade_validation` option in tests.

[2016-03-09 19:36] sustmi commented on #18063
@webmozart What is the expected behaviour? Should be the validation cascaded in all forms or in none?

[2016-03-09 21:20] jandreasn commented on #17386
Still seeing these errors in 3.0.3 I'm afraid.

[2016-03-09 21:30] peterrehm commented on #18063
Thanks for your feedback, mind having a look again and comment in the PR directly?

[2016-03-09 21:31] dcanob opened #18082 "invalid numeric literal on PHP 7.0.4"
Error at create form with field money.

Symfony 2.7.9
PHP 7.0.4

if change 9223372036854775808 to 9223372036854775807 problem solved.

[code]

[2016-03-09 22:02] jakzal commented on #17386
@jandreasn are you able to provide more details? The fix was included in 3.0.2, and you're possible hit by another edge case.

[2016-03-09 22:32] jandreasn commented on #17386
The error messages we get are very similar to those of the original poster here, but the `X-Forwarded-For` header contents vary some over time. The latest error messages logged looks like this:

[code]

[2016-03-10 06:50] videni opened #18083 "Unable to use apcu to cache validator mappings"
As we know apc is deprecated,  I try to use apcu cache using following steps , it works in dev environment ,   but no matter what I try , it doesn't work in production.  I  removed app/cache/prod using  `app/console cache:clear --env=prod --no-debug` command. it still shows this error:

[code]

[code]

[2016-03-10 07:38] javiereguiluz commented on #18082
[According to PHP manual](http://php.net/manual/en/language.types.integer.php) the value `9223372036854775808` used as an integer produces an overflow with undefined results.

As you can see [in these lines of code](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php#L235-L253) Symfony checks if the given value is within the allowed range d

[2016-03-10 07:50] webmozart commented on #17580
@backbone87 This is already the case (see https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/FormView.php#L70). Your problem is that your form *contains* a child, namely "components". That child is never rendered though.

Your problem can be fixed by passing the `render_rest` option to `form_end()`:

[code]

I don't think there's anything we can fix on our side.

[2016-03-10 07:52] webmozart commented on #17579
@backbone87 I see. You could create a PR that renders the `placeholder` in an expanded choice field if it is empty. This could be a good solution.

[2016-03-10 07:58] webmozart commented on #14521
@WouterJ I think `@Date` is a good alternative to `@FormattedDate` from a PHP developer's point of view. @javiereguiluz is right that the language is not the right one. But `date()` is common enough for this to be easily understandable, I think. We can blame PHP for that. :)

[2016-03-10 08:06] webmozart commented on #18063
@sustmi It is sufficient if `allowDataWalking()` returns `true` for root forms only:

1. Nested objects will be discovered by the validator itself by traversing the properties constrained with `@Valid` constraints.
2. Nested forms that contain objects disconnected from the root object (and hence cannot be discovered through 1.) can be validated by setting the `constraints` option to `new Valid()`.

[2016-03-10 08:12] javiereguiluz commented on #18062
@tykayn please provide more details about what you'd expect from this "syncing feature". Thanks!

[2016-03-10 08:51] jakzal commented on #17386
@jandreasn I'd appreciate if you confirmed #18084 fixes your issue :)

[2016-03-10 08:59] WouterJ commented on #18042
Given that passing objects as attributes is already used with the ExpressionVoter, I think we should add a check for string (or object implementing `__toString()`) in the RoleVoter and RoleHierarchyVoter.

[2016-03-10 09:05] jakzal commented on #18083
The exception comes from `Symfony\Component\Validator\Mapping\Cache\ApcCache` which you don't seem to be using. Could you check if there's no alternative configurations in your prod config file? Would be easier for us if you provided an example application (simple standard edition fork) with this problem exposed so we could reproduce it.

[2016-03-10 09:40] rodnaph commented on #17993
I just ran into this as a regression when upgrading my Symfony version. In my case I was accessing a property called `range` on an `EntityType` field (which ended up calling the core `range` function as pointed out in the original description).

I'd agree this is confusing behaviour.

[2016-03-10 09:48] javiereguiluz opened #18088 "[Hack Day] Issue for newcomers (1)"
**NOTE** this issue has been prepared for the [Virtual Symfony Hack Day](http://symfony.com/blog/virtual-symfony-hack-day-march-12th) which will take place on March 12th. Please, don't create a pull request for this issue before the Hack Day.

---

### Introduction

This issue is **exclusively for developers who have never contributed to Symfony**. It's very easy to solve, so you just need to foll

[2016-03-10 09:52] javiereguiluz opened #18089 "[Hack Day] Issue for newcomers (2)"
**NOTE** this issue has been prepared for the [Virtual Symfony Hack Day](http://symfony.com/blog/virtual-symfony-hack-day-march-12th) which will take place on March 12th. Please, don't create a pull request for this issue before the Hack Day.

---

### Introduction

This issue is **exclusively for developers who have never contributed to Symfony**. It's very easy to solve, so you just need to foll

[2016-03-10 09:58] javiereguiluz opened #18090 "[Hack Day] Issue for newcomers (3)"
**NOTE** this issue has been prepared for the [Virtual Symfony Hack Day](http://symfony.com/blog/virtual-symfony-hack-day-march-12th) which will take place on March 12th. Please, don't create a pull request for this issue before the Hack Day.

---

### Introduction

This issue is **exclusively for developers who have never contributed to Symfony**. It's very easy to solve, so you just need to foll

[2016-03-10 10:00] jandreasn commented on #17386
@jakzal Perfect. Seems to work. Thanks!

[2016-03-10 10:04] javiereguiluz opened #18091 "[Hack Day] Issue for newcomers (4)"
**NOTE** this issue has been prepared for the [Virtual Symfony Hack Day](http://symfony.com/blog/virtual-symfony-hack-day-march-12th) which will take place on March 12th. Please, don't create a pull request for this issue before the Hack Day.

---

### Introduction

This issue is **exclusively for developers who have never contributed to Symfony**. It's very easy to solve, so you just need to foll

[2016-03-10 10:06] COil commented on #17386
:+1:

[2016-03-10 10:30] javiereguiluz opened #18092 "[Hack Day] Issue for newcomers (5)"
**NOTE** this issue has been prepared for the [Virtual Symfony Hack Day](http://symfony.com/blog/virtual-symfony-hack-day-march-12th) which will take place on March 12th. Please, don't create a pull request for this issue before the Hack Day.

---

### Introduction

This issue is **exclusively for developers who have never contributed to Symfony**. It's very easy to solve, so you just need to foll

[2016-03-10 10:36] teohhanhui commented on #18003
It's documented for the request parameters:

http://php.net/variables.external

Dots and spaces in variable names are converted to underscores. For example <input name="a.b" /> becomes $_REQUEST["a_b"].

Also see http://stackoverflow.com/questions/68651/get-php-to-stop-replacing-characters-in-get-or-post-arrays

[2016-03-10 10:54] Taluu opened #18094 "[Yaml] Not parsing integers with separation correctly"
in the [yaml specification](http://yaml.org/type/int.html), it is shown that `123_456_789` should be a valid number (see part on validation). In Symfony, this is interpreted as a string, but it should be interpreted as a valid integer.

[2016-03-10 11:00] alexislefebvre commented on #3824
Here is a working code where a value is added to a form without checking the existing fields:

    // Get the form.
    $form = $crawler->selectButton('Save')->form();

    // Set some values of existing fields.
    $form['task[description]'] = 'Lucas';

    // Add some data.
    $values = array_merge_recursive(
        $form->getPhpValues(),
        array(
            'task' => array(

[2016-03-10 11:06] Taluu commented on #18094
But it looks like the `,` is used as a delimiter, even though the yaml specs says it should be a `_`

[2016-03-10 11:10] jakzal commented on #3824
@alexislefebvre unfortunately adding an argument to the `submit()` method would be a [BC break](http://symfony.com/doc/current/contributing/code/bc.html#changing-classes). We'll probably need a new method to add additional fields to the form.

[2016-03-10 11:11] xabbuh commented on #18094
The specification you linked to is for YAML 1.1. Are you sure that the same applies for YAML 1.2 too (see also http://yaml.org/spec/1.2/spec.html#id2803828)?

[2016-03-10 11:14] aitboudad commented on #18060
I think yes since 2.8.3, see https://github.com/symfony/symfony/pull/17703

[2016-03-10 11:20] Taluu commented on #18094
Good point, it is not mentionned anywhere. But I can see that in the 1.2 spec, some links are made to the 1.1 types : http://yaml.org/spec/1.2/spec.html#id2761292

So I'm guessing these are still valid ?

[2016-03-10 11:33] jakzal commented on #17258
The default encoding for XML documents is actually either UTF-8 or UTF-16. So this would be a bug fix for XML documents with no encoding attribute. Since the default for [html5 is UTF-8](http://www.w3schools.com/html/html_charset.asp) we set the default wrong here as well. We could potentially recognise the document type and apply the right default.

[2016-03-10 11:34] ondrejmirtes commented on #17258
I'd vote for less autodetection magic and more deterministic behaviour.

On Thursday, 10 March 2016, Jakub Zalas <notifications@github.com> wrote:

--

Ondřej Mirtes

[2016-03-10 11:51] jorge07 commented on #18062
I use to configure the live-reload via gulp/grunt.
90% of my symfony apps doesn't have frontend anyway.
Nodejs is the recommended tool to process assets on the symfony doc, so livereload.js is just another package to install, like uglifyjs, configure the watchers and you are done.

[2016-03-10 11:53] #18060 closed

[2016-03-10 11:54] dunglas commented on #18060
Closing because it's already fixed as pointed out by @aitboudad. Feel free to reopen if there is another issue.

[2016-03-10 12:01] jakzal commented on #18062
It's really unclear what you're asking for guys.

[2016-03-10 12:20] havvg commented on #17667
@nicolas-grekas works for me, too!

[2016-03-10 12:26] alexislefebvre commented on #3824
@jakzal Thanks, I didn't know that adding an argument with a default variable was a BC break. I'll add a method as you suggest.

[2016-03-10 12:58] HeahDude commented on #17154
@webmozart Any lead here ?

Is there a problem of configuration ?
This should be handled by `allow_delete` option, right ?

Maybe we could pass this option to the constructor as for `MergeCollectionListener` and apply my fix dynamically ?

[2016-03-10 13:00] alexislefebvre commented on #3824
@jakzal I followed your advice and I added a new method. I'm not sure it's ready for a PR so I put it in a PR on my fork: https://github.com/alexislefebvre/symfony/pull/3/files

Feedback is welcome.

[2016-03-10 13:26] yellow1912 opened #18097 "How to enable the debug toolbar/profiler in production mode?"
I understand this should not be done, but I'm having a very weird issue:

Recently, I have just upgraded to PHP7 and since then my application refuses to run without at least 1GB memory_limit in php. This only happens in production mode however, the dev mode runs fine with 1/4 of the memory (which seems to be against normal thinking)

So I need to be able to view the profile in production mode wit

[2016-03-10 13:33] #17386 closed

[2016-03-10 13:40] yellow1912 commented on #18097
never mind, i think i managed to do it, seem like a stupid error on my end when i pointed to test domain to the wrong server. Shame.

[2016-03-10 13:40] #18097 closed

[2016-03-10 14:17] dcanob commented on #18082
Hola, tal vez no me hice entender, el error se dispara al crear el input tipo money en php 7, no es al usarlo, no lo puedo usar si symfony aun no lo ha creado, tengo dos proyectos uno con php7 y otro con php5.6, el error solo se dispara en php7.
Si vemos en el log cuando se esta crando el input, symfony llama la funcion spl_autoload_call ('NumberFormatter')  que usa $int64Range y llena la clave ne

[2016-03-10 14:34] javiereguiluz commented on #18082
Thanks @dcanob. Reopening.

[2016-03-10 14:53] javiereguiluz commented on #12412
@jakzal sorry to ping you again about ICU data ... but since you worked recently on these things, could you please check if this issue was fixed after your ICU updates and fixes? Thanks!

[2016-03-10 14:55] jakzal commented on #12412
@javiereguiluz no worries, ping me whenever you need :)

[2016-03-10 15:00] jakzal commented on #12412
@mvrhov @SoboLAN I'll need your help here. How to reproduce your issue?

[2016-03-10 16:24] weaverryan commented on #18079
There is a tool - but they're stuck in *this* exact issue - someone might be able to help out: https://github.com/umpirsky/Symfony-Upgrade-Fixer/pull/18

[2016-03-10 16:44] MaxEndter commented on #5489
In Symfony 2.8 the following works for me:

[code]

[2016-03-10 16:50] berdyshev commented on #17845
confirm. this bug has been reproduced with php7-fpm + nginx and symfony 3.0.3

[2016-03-10 17:09] backbone87 commented on #17580
@webmozart Its about inconsistency: using the tpl code from the OP, we observe 2 cases:

- form.components has children (the for loop gets called for each of them and output them with form_row): form_end will just close the form tag, because it considers form.components to be rendered, because form.components is compound and all children are rendered.
- form.components has no children (the for loo

[2016-03-10 17:12] backbone87 commented on #17579
@HeahDude is already working on one: https://github.com/symfony/symfony/pull/17609

[2016-03-10 17:16] mvrhov commented on #12412
Just define your locale as sr_latin.. and it should return the text in latin alphabet.
It's probably the same bug with all locales that have different than country suffix.

For the test the comparison with the data that integrated Intl returns could be made.
From the top of my head as I don't have the code before me I think that I was calling `getLanguageNames('sl_latn')`

[2016-03-10 17:21] backbone87 commented on #18042
something else which i discovered around $attributes: the new abstract class Voter explicitly grants as soon as one attribute is granted (logical **OR**), but this behavior is nowhere mentioned neither it is dictated by the VoterInterface

[2016-03-10 17:33] backbone87 commented on #17580
a similar reasoning for checking compound vs. checking number of children is given here:
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Form.php#L549

[2016-03-10 17:36] WouterJ commented on #18042
@backbone87 the abstract class is for some very specific use cases (which turns out to be the most common use cases btw). For all other use cases, people can implement the interface themselves.

The behaviour is mentioned in the code: `// grant access as soon as at least one attribute returns a positive response` and in [the docs](http://symfony.com/doc/current/cookbook/security/voters.html): `You

[2016-03-10 17:50] backbone87 commented on #17580
compare this to: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/FormView.php#L68

my proposed change:
[code]

[2016-03-10 18:03] jakzal commented on #12412
[code]
returns `srpski`.

`српски` is returned for `sr` locale.

[2016-03-10 18:21] jakzal commented on #12412
@mvrhov this is not my experience. Can you please paste the output of the following script?

[code]

My output:
[code]

[2016-03-10 18:46] mvrhov commented on #12412
I'll update the whole stack tomorrow to latest 2.7, but for now the live website is running symfony 2.7.3

[code]

[2016-03-10 18:48] jakzal commented on #12412
You've been using the old version. The fix was merged few days ago and is not present in any released version, so you'll need to wait for the next release. Thanks for feedback!

[2016-03-10 18:48] #12412 closed

[2016-03-10 20:10] Ener-Getick commented on #17957
This error comes from [here](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L665).
I don't know if this should be considered as a bug or if you should extend the base ``Translator`` class.

[2016-03-10 20:31] julienfastre opened #18103 "[DX] add a method `addTranslatedFlash` on Controller"
Hi!

I love the method ´addFlash` on `Symfony\Bundle\FrameworkBundle\Controller\Controller` and I would love having a method `addTranslatedFlash` which would allow to add translated flash in one method.

Currently, we have to call the translator within the method :

[code]

I think this shortcut would be welcome :
[code]

The signature of this method would copy the one from `Symfony\Component\Tran

[2016-03-10 20:32] backbone87 commented on #17957
you shouldnt use the parameter to just swap out the service implementation. creating your own service and properly configuring and injecting it (overriding the translator service alias to point to your translator service, insteadof the "translator.default" service), is "cleaner".

[2016-03-10 20:57] backbone87 commented on #18103
Why dont you translate the flash message on output in the template?

[2016-03-10 22:17] HeahDude commented on #17579
#17609 is just an example of implementation.

To defend it, I would say it tries to solve this globally (expanded or not, multiple or not) with a dedicated view var, configurable through the option `empty_choices` that can be easily transposed to the `CollectionType` (`empty_collection` ?) which I think has the same issue when there is no items.

I find it handy to define a default message directl

[2016-03-10 22:48] backbone87 commented on #17579
@HeahDude i agree with your approach, but ultimately the symfony deciders have to agree. maybe i would rename the option to `empty_message` to keep a common DX, if it would be used in collection type, too (maybe in a later PR).

[2016-03-10 23:23] HeahDude commented on #12262
So it should happen in `Form::submit()` after the `PRE_SUBMIT` event has been processed to take into account dynamic addition of fields, right ?

[2016-03-10 23:42] antkowiakit commented on #17845
Same problem. Comment
session_write_close();
in
Symfony\Component\HttpFoundation\Session\Storage\NativeSessionStorage
Sloving problem..

[2016-03-11 01:54] weaverryan commented on #18027
@billsworld Hmm, yes I see! The whole point of implementing `onAuthenticationSuccess` for you was to alleviate the annoying code for getting the target path from the session. However, we just introduced a new trait (https://github.com/symfony/symfony/pull/17714/files#diff-81156d593cb42fd30da1fc35a7a4d056R43) that makes this very easy. I propose that we deprecate `getDefaultSuccessRedirectUrl()` -

[2016-03-11 02:39] billsworld commented on #18027
@weaverryan I actually implemented onAuthenticationSuccess more to have access to the TokenInterface. I agree onAuthenticationSuccess could be deprecated but it definitely should not be required by making it abstract in the base class

[2016-03-11 03:29] videni commented on #18083
@jakzal ,thanks,  I do have a  alternative configurations in the prod config file, I didn't realize it is overrided.

[2016-03-11 03:29] #18083 closed

[2016-03-11 04:14] patrick-mcdougle commented on #17845
Commenting out or deleting `session_write_close()` is not a solution. Please stop suggesting this. This will break all session data in your app, flashes, csrf, etc.

[2016-03-11 07:16] javiereguiluz commented on #18103
As @backbone87 said, the common practice in Symfony is to translate these flash messages in the template, alongside the rest of the contents of the page. I'm :-1: because we try to minimize the shortcuts added to the base controller.

[2016-03-11 08:12] jakzal commented on #18103
I'm :-1: as well. Translation is something closer to the presentation layer.

[2016-03-11 08:12] julienfastre commented on #18103
I do understand the need of delegating the flash message to the template. But how do you communicate the parameters to the template ? The actual method signature is `protected function addFlash($type, $message)`.

[2016-03-11 08:23] javiereguiluz commented on #18103
@julienfastre you pass the variables as regular template variables and then use them as arguments of the `trans` filter/tag. If you can't do this, the solution is to use the code that you showed in your previous comment:

[code]

[2016-03-11 08:37] julienfastre commented on #18103
@javiereguiluz passing the variable as a regular template variables is not possible : we regularly use flash message before redirecting after a successfull create / update action. In this case the flash message is displayed on the next request. The whole code is :

[code]

That's why having the possibility to give parameters to the flash messages would be useful.

Another possibility would be to a

[2016-03-11 09:08] iltar commented on #18103
If you want lazy translations, I've done this the following way:

[code]

[code]

This could be narrowed down to less boiler plate but we haven't had the need to do this yet. This makes it possible to translate lazily based on parameters. The big advantage is that you won't have to inject your translator everywhere and can simply handle it in the template.

[2016-03-11 09:24] antkowiakit commented on #17845
You can move session to memcached. It sloving problem.

Terminal:
`sudo apt-get install php-memcached`
config.yml:
[code]
parameters.yml:
[code]
services.yml:
[code]

[2016-03-11 09:53] berdyshev commented on #17845
yes, I've made this already, but this doesn't fix the bug with native sessions :smile:

[2016-03-11 10:02] jakzal commented on #13465
This has been recently fixed by #18080

[2016-03-11 10:06] julienfastre commented on #18103
@iltar Thanks. The way you are working sounds good. I am going to suggest this to my colleagues.

[2016-03-11 10:06] javiereguiluz commented on #18103
Let's close this because most people seem to be against it and there are alternative solutions.

@julienfastre this time your proposal didn't make it, but please keep sending proposals to improve Symfony. Thanks!

[2016-03-11 10:06] #18103 closed

[2016-03-11 10:11] tykayn commented on #18062
@javiereguiluz the idea is, i run the command server:run ,
my default browser opens a tab to the app_dev.php page, and when i save a change in my IDE on a php file, a twig file or a config (yml) file, the tab reloads automatically.

I use gulp with a browser-sync task and watchers on some src/ and app/ files normally for that, but a built in feature would be great.
Is it clearer this way ? :)

[2016-03-11 10:11] julienfastre commented on #18103
@javiereguiluz No problem for closing this. Thanks for your encouragement. And the idea I gathered here are useful.

[2016-03-11 10:13] jakzal commented on #13465
Closing as I can't reproduce getting an empty response when throwing the `HttpException` (neither on 2.3 nor 2.7). In dev environment an exception page is shown, while in prod the standard error page.

[2016-03-11 10:13] #13465 closed

[2016-03-11 10:13] iltar commented on #18103
@javiereguiluz @julienfastre what about the implemention I just posted but hidden inside a FrameworkBundle variant of the flash-bag? It could internally perform this check and translate if desired before returning the value.

This would be a very easy to implement feature (hack-day *hint*).

[2016-03-11 10:16] andrewtch commented on #17739
@yakobe , I ended up with the thought that current approacs is fine, and if you need custom approach, you must implement your own translation infrastracture (processing javascripts, twig and php files).

[2016-03-11 10:40] jakzal commented on #12744
@eugene-dounar this behaviour can be disabled in php.ini by setting [`default_mimetype`](http://php.net/manual/en/ini.core.php#ini.default-mimetype) to an empty value. At least this is what docs say. Setting it to an empty value will make PHP returns an empty `content-type` header (contrary to what documentations claims that it won't include the hader at all).

Anyway, closing here since this is a

[2016-03-11 10:40] #12744 closed

[2016-03-11 11:20] JHGitty commented on #10316
Identity sounds better! :+1:

[2016-03-11 11:59] arjenm opened #18106 "UrlGenerator has incorrect scheme-validation"
Hi, I was looking at the code from the UrlGenerator::doGenerate and noticed something odd about the code which validates the scheme.

I.e. this piece of code

[code]

When the current scheme doesn't match any of the required schemes, it uses `current($requiredSchemes);`

The foreach moved the pointer of that array _past_ the last element, so current will return false.

See the output of this small

[2016-03-11 13:44] xabbuh commented on #17957
@backbone87 is right about the fact that you shouldn't replace a service just by changing its class parameter (we removed them in 3.0 by the way).

@althaus You wrote that you worked around it and ran into other problems. Can you confirm that just replacing the `translator` alias to point to your own implementation doesn't work neither?

[2016-03-11 14:42] backbone87 commented on #11266
@giosh94mhz you can use the eclipse xml catalog to get rid of the warnings:
window > preferences > xml > xml catalog > add:
location: path/to/your/local/symfony/services.xsd
key type: schema location
key: http://symfony.com/schema/dic/services/services-1.0.xsd

after that clean and full rebuild projects

i use this as a temporary workaround

[2016-03-11 14:45] CoolGoose opened #18108 "Validator Documentation"
Hi Guys,

This commit https://github.com/symfony/validator/commit/6a03b55076d6af83f326a6ff3220ca2d3ffb81d8 removed the validator readme docs that provided a short and clear way on how to use the validator without a symfony form.

The documentation from https://symfony.com/doc/current/book/validation.html doesn't have anything like that.

Should I open a pull request on the main doc regarding this,

[2016-03-11 14:50] javiereguiluz commented on #18108
@CoolGoose you are right. I'm sorry about this deleted documentation.

I'm closing this issue because we're already trying to add the docs for the Validator component in https://github.com/symfony/symfony-docs/pull/5661  I'll try to help them finish and merge that soon. Thanks!

[2016-03-11 14:50] #18108 closed

[2016-03-11 15:25] javiereguiluz commented on #11266
I'm glad to say that this issue has been finally fixed. The file http://symfony.com/schema/dic/services/services-1.0.xsd is now in sync with Symfony's file. We are taking measures to prevent this issue from happening again in the future. Thank you all for the patience.

[2016-03-11 15:25] #11266 closed

[2016-03-11 15:48] giosh94mhz commented on #11266
@backbone87 This is exactly what I did :)
@javiereguiluz Thank you! Please, consider also changing `1.0` version to `$symfonyVersion` for future releases, if it makes sense.

[2016-03-11 15:52] Gladhon commented on #11266
@javiereguiluz as @WouterJ pointet out, you really need to update the version of xml, if there are changes. Perhaps you can introduce this with sf3

[2016-03-11 16:37] HeahDude commented on #17579
It sounds like a good idea to use the same option name through different types which could also use by default the same `empty_row` (?) block in the templates.

It may be a way to be able to use it with compound custom form types when no fields show up, I'm thinking about dynamic forms.

It might even be an approach to fix #17580 in the process since an empty compound form could actually be render

[2016-03-11 17:11] backbone87 commented on #17579
sounds fine to me in general.

[2016-03-11 17:43] yceruto opened #18109 "[Form][Validator] How to disable one transformer validation error dynamically?"
Some time ago I created [this question](http://stackoverflow.com/questions/35507960/how-to-disable-one-transformer-validation-error-dynamically-in-symfony2) in stackoverflow (no answer yet)

Some expert could help me?

[2016-03-11 18:05] alexislefebvre commented on #18109
As xabbuh said in [this other issue](https://github.com/symfony/symfony/issues/18050#issuecomment-193375272):

I suggest you to close this issue and follow xabbuh's advice by asking for some help on the recommended support channels.

[2016-03-11 18:18] #18109 closed

[2016-03-12 06:31] backbone87 opened #18115 "[form] use the same csrf token id for all forms by default"
currently each form uses a separate csrf token id (based on the forms name or its type's class name). as far as i understand, this doesnt provide much more safety than using the same token id for all forms (or for the whole app). the major problem is with long living sessions and a potential access to many different forms, causing the session to get spammed with tokens.

i know this can be solved

[2016-03-12 12:03] weaverryan commented on #18052
I would *love* if this worked, but it's a shortcoming in Composer. Check out your `vendor/composer/autoload_psr4.php` file. It starts like this:

[code]

The problem is that `$baseDir`: if you autoload *any* of your own files (e.g. `app/AppKernel` or event `src`), then Composer looks in the directory above it for where those should live. If you've symlinked the vendor directory, then it looks in t

[2016-03-12 12:03] #18052 closed

[2016-03-12 12:11] weaverryan commented on #18035
It's weird because `defaults` is meant really to fill in the `{wildcard}` values. So the whole example looks strange - why add a `defaults` and then want to have query parameters added?

That being said, I would agree it's a bug - though really edge-case. The intention is that if there is no wildcard to fill in, the extra parameters are added as query parameters. In this case, the first route has

[2016-03-12 12:14] maryo commented on #17674
I made a bundle if someone was interested
https://github.com/vaniocz/vanio-di-extra-bundle

It adds the mentioned `getByType` method and a posibility to inject services (and parameters) using Inject annotation into public properties of ContainerAwares (Controllers, ContainerAwareFixtures, ...).

[2016-03-12 12:24] weaverryan commented on #18008
@Grimbode if you temporarily move `$kernel->terminate()` above `$response->send()` in `app_dev.php`, you might be able to see an error that's happening:

[code]

These errors are hard to debug because they happen *after* the response is sent to the user, so you might not see an error that's occurring.

[2016-03-12 14:36] weaverryan commented on #18011
I just created a fresh 2.7.10 project with a Client entity and added 15000 rows. Initially, when submitting, it took 1200 ms every time. When I switched the code to the latest 2.7 branch - which included #17990 - it fixed the issue: my load time went down to about 100ms.

This issue can be closed.

[2016-03-12 14:37] #18011 closed

[2016-03-12 15:39] javiereguiluz opened #18128 "Consider improving the "branch" row in the PR table"
Today a lot of newcomers are contributing for the first time to Symfony. They are doing it great ... except for one minor thing. Most of them leave the original message of the `Branch` row in the PR table:

![pr_branch](https://cloud.githubusercontent.com/assets/73419/13723816/d9e74996-e870-11e5-8e87-64472604ab71.png)

Maybe someone native, such as @weaverryan, can help us reword this message so u

[2016-03-12 15:40] dolbertz commented on #8106
To clearify: Symfony 3.0.3 renders NumberType as type="text", and IntegerType as type="number"

[2016-03-12 15:46] patrick-mcdougle commented on #18115
What if I opened two browser tabs, Tab A and Tab B (two separate forms)? I submit the form on Tab A, now when I go to submit form B I get a CSRF validation error. I feel like UX might suffer if this was implemented as a global change.

[2016-03-12 16:17] dolbertz commented on #16429
I confirmed on PHP 5.6.18, that `SplFileInfo::getRealPath()` does return `false` for an FTP path:
[code]

This returns `false` for the first var_dump call and returns `'ftp://username:password@hostname/filename.xml'` for the second one.

`SplFileInfo::getRealPath()` is used in the DateRangeFilterIterator on this line:
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Finder/Iter

[2016-03-12 16:29] dolbertz commented on #16429
Status: Reviewed

[2016-03-12 16:54] patrick-mcdougle commented on #16819
@iltar Where would you recommend a MXChecker as you've proposed move to? It doesn't look like anything else in the validator component does anything like that. I'm on board for the inhibit_external (not convinced on naming) strategy.

[2016-03-12 16:57] poneymagique opened #18132 "autowire on servicecontainer"
I found a strand behavior with servicecontainer and autowire.

When I inject a service container and autowire it, the parameter bag is not resolved.

Basicly, with this definition of my service

[code]

I am able to get parameters like:

`$this->serviceContainer->getParameter('my.param')`

But when I use autowire like this

[code]

on the same service, the parameter bag is not resolved and i get a

[2016-03-12 17:09] Koalabaerchen commented on #14727
*scratches head*

Could not repoduce it in 3.0.3, 2.8.3, 2.7.10, 2.6.13, 2.3.38

Can confirm that 2.6.7 behaves weird.
[code]
I have no idea how that is even possible.
But "current" 2.6 version (2.6.13) throws an error as expected.

[2016-03-12 17:20] weaverryan commented on #18132
This should already be fixed by #17261, which is released on 2.8.2 and 3.0.2. @poneymagique what version of Symfony are you using?

[2016-03-12 17:25] poneymagique commented on #18132
it was 3.0.3

[2016-03-12 17:31] weaverryan commented on #18132
Ah, then did you type-hint with `Container $container`? The fix is only for type-hinting with `ContainerInterface`

[2016-03-12 17:34] weaverryan commented on #18027
I opened a PR to deprecate the function (would also makes the `getDefaultSuccessRedirectUrl` not abstract anymore): #18135

[2016-03-12 17:37] HeahDude commented on #18128
We could maybe add a "?" => `Branch?` as for the others ? or rename in to the more common `Version?` ?

[2016-03-12 17:39] HeahDude commented on #18128
Or a choice `Version? master (for features and deprecations) | 2.3 | 2.7 | 2.8 | 3.0`

[2016-03-12 17:43] #18088 closed

[2016-03-12 17:45] weaverryan commented on #18132
See #18137 for the fix

[2016-03-12 17:45] weaverryan commented on #18132
Status: Reviewed

[2016-03-12 17:49] #18090 closed

[2016-03-12 17:50] javiereguiluz commented on #18079
I'm closing this because, as @weaverryan said, there is already an open-source tool for this and they are struggling with this very same feature. So let's focus our efforts towards that tool.

[2016-03-12 17:50] #18079 closed

[2016-03-12 17:50] #18092 closed

[2016-03-12 17:52] #18091 closed

[2016-03-12 17:53] #18089 closed

[2016-03-12 17:54] javiereguiluz commented on #17262
I'm closing this issue for the reasons given by @jakzal:

  * This feature is less common than it looks.
  * There is already a bundle which solves this (`JMSI18nRoutingBundle`) and it works great.
  * We (usually) only add to the Symfony core the features used by the overwhelming majority of developers. For example we don't even include the features provided by FOSUserBundle, which are used by lo

[2016-03-12 17:54] #17262 closed

[2016-03-12 17:55] javiereguiluz commented on #13542
@weaverryan do you think we could take some ideas from this contribution of yours (http://symfony.com/blog/new-in-symfony-2-8-dx-improvements#easier-custom-authentication-errors) to solve this issue? Or are they totally different things? Thanks!

[2016-03-12 18:00] javiereguiluz commented on #15060
I'm closing it because this won't be part of the Symfony core (it could be part of Swiftmailer as Fabien said) and it would be really hard to implement (as Stof showed). Thank you all for the discussion.

[2016-03-12 18:00] #15060 closed

[2016-03-12 18:01] #18132 closed

[2016-03-12 18:01] TomasVotruba commented on #15060
@javiereguiluz Thank you for opening the discussion and moving a bit further.

[2016-03-12 18:07] javiereguiluz commented on #16618
@nicolas-grekas could you think about this feature request? If implemented, we could use VarDumper whenever we need to dump variables in Symfony (which is a very common need, as explained in #18074). Thanks!

[2016-03-12 18:10] javiereguiluz commented on #17460
@chippyash do you think that this could be solved with the new XSD showed by @xabbuh? In case it is, this issue will be easy to solve. Thanks!

[2016-03-12 18:12] javiereguiluz commented on #17139
This is a truly difficult issue to solve. There is a disparity of opinions and the standard doesn't define this behavior explicitly.

What should we do? Leave things as they are? Thanks!

[2016-03-12 18:15] poneymagique commented on #18132
The code is at work, but i guess i type hinted with Container, so your Pr will fix it.

[2016-03-12 18:18] dolbertz commented on #15998
I wrote the following TestCase on Symfony 3.0.3 and PHP 5.6.19:
[code]

Executing the test via `phpunit tests/AppBundle/Controller/SimpleControllerTest.php`results in
[code]
`$_SERVER` has some other keys like `HOME` but neither `HTTP_HOST` nor `X-TEST` are available. Browsing through the code of `Symfony\Bundle\FrameworkBundle\Client` I found no use of `$_SERVER` at all. All the tests for this cl

[2016-03-12 18:20] javiereguiluz commented on #15439
Closing this because it's hard to work with "meta-issues" which last a long time. Most of the things listed originally have already been implemented. The others are either not essential or very hard to implement, so we'll deal with them in separate PRs. Thanks!

[2016-03-12 18:20] #15439 closed

[2016-03-12 19:36] TomasVotruba commented on #18070
As for "Did you mean feature", there might come some inspiration: https://github.com/nette/utils/commit/298e955ad903c212dc766aa3f9f8ca840b6936eb

I'm also for creating a new component. It makes sense to put it all in one place.

[2016-03-12 19:40] javiereguiluz commented on #18070
My concern is that the core of this component would be five lines of code:

[code]

Implementing a "Did you mean" feature is trivial: just call the `levenshtein()` function. The hard part is collecting the list of potential alternatives. And that's totally different for console commands, controllers , templates, etc. I don't know how a component would help us with this.

[2016-03-12 20:07] TomasVotruba commented on #18070
I wonder, this feature could also help the PropertyAccess component with inflector pluralization.

[2016-03-12 20:17] J7mbo commented on #8871
Sorry for the old post, but providing a "reset" method would be useful here.

[2016-03-12 20:21] WouterJ commented on #18128
Please also note that the current sentence is 1 word too long, making it impossible to remove in one go (using shift + end only moves to the end of the input box, not until the next new line). I think this is a bit annoying

[2016-03-12 20:22] TomasVotruba commented on #11761
What needs to be done here?

[2016-03-12 20:26] TomasVotruba commented on #10529
This seems like a good feature proposal. Since Symfony components are integrated in Drupal 8, it would make even more sense.

What needs to be done here?

[2016-03-12 22:27] WouterJ commented on #18106
There is a small difference between your small test and the actual situation: `$requiredSchemes` is a function parameter in the actual situation. And this makes all the difference for PHP <7.0: [test script run with function parameter](https://3v4l.org/bRqfa) and [test script run with local variable](https://3v4l.org/jsMNh). This means that there is *no bug* in this script.

However, I agree with

[2016-03-12 22:28] WouterJ commented on #18106
Status: Works for me

[2016-03-12 23:25] backbone87 commented on #18115
form submission doesnt invalidate the token. the same token per form and session is used, but it would suffice to use only one token for any form per session.

[2016-03-12 23:32] backbone87 commented on #18115
a small proposal on how this can be achieved:
- add a `security.csrf.default_token_id` config variable to the security bundle's config (with a default value of `default` or `symfony` or `app` or ...)
- inject this into the token factory. this token id is used, when a `null` is passed as the id on any factory method.
- change the `csrf_token_id` (and `intention` for 2.x) option's default value to `

[2016-03-12 23:48] patrick-mcdougle commented on #18115
OWASP says that per request tokens are the most secure: https://www.owasp.org/index.php/CSRF_Prevention_Cheat_Sheet

[2016-03-13 00:21] backbone87 commented on #17460
@xabbuh's XSD wont work as one could provide multiple imports (because he can repeat the choice to add one or zero imports)

what would work is this:
[code]
(i use the group just as a little macro)

[2016-03-13 00:58] chippyash commented on #17460
Chaps, as I say - happy to help but I need to know where to put code, etc.  It appears that this is a problem.  Need guidance from Symfony Central I guess ;-)

[2016-03-13 02:06] backbone87 commented on #17460
i just noticed that my provided schema isnt valid in this form. the schema processor says ambiguous, but accepts the following form, which i originally had, but i liked the other ordering more.
i still dont see the ambiguity in the other form.
[code]

[2016-03-13 02:21] backbone87 commented on #17460
a PR to change https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Loader/schema/dic/services/services-1.0.xsd is needed.

according to https://github.com/symfony/symfony/issues/11266 the file at http://symfony.com/schema/dic/services/services-1.0.xsd gets updated then ;)

[2016-03-13 02:35] backbone87 commented on #18115
well they also mention the caveats after your quoted part. but symfony doesnt use per-request tokens, but per-form tokens.
maybe we should consider using https://www.owasp.org/index.php/CSRF_Prevention_Cheat_Sheet#Double_Submit_Cookies as a default csrf protection strategy in symfony

[2016-03-13 03:15] leonelvsc opened #18145 "[Enhancement] RouteCollection and UrlMatcher Performance"
Hi all, first than anything my english it's not so good so i apologize and this is just a suggestion.

Reading the RouteCollection class i saw that currently you store the routes in an array and then in the UrlMatcher you iterate the routes array until you find a match.

My suggestion is that you use a Hash structure in the array for optimizing performance , i.e if the app has 100000 routes that l

[2016-03-13 04:15] natechicago opened #18146 "[Validator] EmailValidator cannot extract hostname if email contains multiple @ symbols"
Consider the following email:  "hello@world"@google.com.  Per RFC-5322, this is definitely a valid email address.  It also passes Symfony's default email validation.

However, when the validator attempts to parse the hostname (for the MX & hostname checks), it slices up the email addressed based on the location of the *first* `@` symbol rather than the *last* one.

[2016-03-13 09:33] AlmogBaku commented on #17139
@javiereguiluz I suggest to not specify caching headers on redirect 301. Let the client decide, and remove this burden from us.

The current approach create new issues with some clients, i.e. OkHttp (native client for Java): some time you wish to cache the requests in order to access them offline, the `no-cache` header prevent the client to do so without interception of the response.
The best appr

[2016-03-13 09:43] javiereguiluz commented on #18038
I'm closing this as "won't fix" because of the concerns expressed by some Symfony Core members. In addition, this would add a new way to solve a problem, and that's something we usually try to avoid.

@flip111 this time your proposal didn't make it, but please keep sending proposals to improve Symfony. Thanks!

[2016-03-13 09:43] #18038 closed

[2016-03-13 09:49] sstok commented on #18145
Does this also happen with the dumped UrlMatcher? Or is this optimization for when you don't dump the UrlMatcher.

[2016-03-13 09:56] javiereguiluz opened #18149 "Improve VarDumper to use it as a value exporter"
### Problem

In Symfony this need is very common: _"given an arbitrary variable, return its best possible representation as a string"_.

Today we solve this problem at least in 6 different ways across different bundles and components:
- [x] [ValueExporter class](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/DataCollector/Util/ValueExporter.php) (in `Symfony\Compon

[2016-03-13 09:56] javiereguiluz commented on #18074
Closing it in favor of #18149, which asks to improve VarDumper so we can use it for this. Thanks!

[2016-03-13 09:56] #18074 closed

[2016-03-13 10:00] nicolas-grekas commented on #18149
@javiereguiluz do you need html or text output? Because if you need pure-text output, it's already implemented: just use the CliDumper with colors off. See e.g. VarDumperTestTrait who does exactly that.

[2016-03-13 10:15] WouterJ commented on #18149
@nicolas-grekas but it still requires you to open a file stream, read the stream, etc. Ideally, I would like to have a new entry point using an export class or the like (so we have dumpers and exporters). This way, you would do:
[code]

[2016-03-13 10:21] javiereguiluz commented on #18149
Here are some of the use cases that need to be covered:

1) Simple array of values formatted like this:

![](https://cloud.githubusercontent.com/assets/73419/13603450/98a87e54-e53d-11e5-87d9-ca2a954f81a3.png)

2) Simple variables of lots of types: strings, integers, objects, Doctrine objects, etc. (for Doctrine objects we display the `id` if available,; if not, the `__toString()` method; otherwise

[2016-03-13 10:26] nicolas-grekas commented on #18149
I looked at each formatter linked above. formatCallable should be excluded imho, it's really tailored to specific context. For the other ones, we'd need an inventory of expected behaviors. E.g. afaik all listed use cases represent only the class name of objects. For arrays, most generate a recursive representation, but at least generates a simple `array`.
The question is: is there a one size fits

[2016-03-13 10:33] javiereguiluz commented on #18149
@nicolas-grekas I agree. We need to find a format that fits all (each of them will need to make concessions).

About the colors ... it will probably be better. But we'll need a "light" color scheme because the default "dark" scheme doesn't fit the design of the profiler. Thanks!

[2016-03-13 11:09] #18128 closed

[2016-03-13 11:10] WouterJ commented on #18149
I think using HtmlDumper for the profiler would make things very nice (Especially when using objects as values, which is done in the CMF project a lot). It seems like varToString in the DataCollector class is used for 2 things: "Serializing" it to save in the profiler storage and for displaying it in the profiler.

I think "serializing" should be replaced with real serialize and displaying should

[2016-03-13 11:32] nicolas-grekas commented on #18149
Shapes good :-) To get precise control over what is put in the profile, we could VarCloner as serializer.

[2016-03-13 14:01] leonelvsc commented on #18145
I think that the only use for this enhancement is when you don't dump the UrlMatcher. If I'm not mistaken sf group routes when you dump right?

[2016-03-13 14:39] Tobion commented on #18035
Duplicate of #10940

[2016-03-13 14:39] #18035 closed

[2016-03-13 19:15] Alsatian67 commented on #18035
@weaverryan

Let me explain my usage :

It's a search page with many optional parameters :

?page=1&name=&sortby=&date=&category= ...

Each of them are optional and mostly not used.

So I don't like a route like /{page}/{name}/{sortby} ...

But I want to set defaults like page = 1, name = "", sortby = "name"

;)

[2016-03-13 21:07] xabbuh commented on #15998
Actually I am not sure if I understand the issue. @bjoernfal can you give a concrete example of what you are trying to do and what happens instead of what you expected?

[2016-03-13 21:14] xabbuh commented on #14727
Closing as the problem seems to be fixed.

@peter17 @Maxooo Feel free to comment with some steps to reproduce your problem if the issue still persists for you and we can reopen this.

[2016-03-13 22:27] natechicago opened #18156 "[Validator] In "strict" mode, email validator inaccurately claims certain valid emails are invalid"
Symfony's email validation constraint `symfony/src/Symfony/Component/Validator/Constraints/EmailValidator.php`can be configured in one of two modes.  Non-strict mode (default) will cause the validator to compare an email address against a trivial `'/^.+\@\S+\.\S+$/'` regex.  It's sufficient for most traditional email addresses.  Strict mode, on the other hand, delegates validation to an external l

[2016-03-13 22:49] natechicago commented on #18156
@webmozart it looks like you originally integrated `Egulias\EmailValidator\EmailValidator` into Symfony's email validator.  Any thoughts on this issue and the best way forward?

[2016-03-14 01:54] patrick-mcdougle commented on #18082
You might have found a PHP bug. Check this out:

[code]

Status: Confirmed

[2016-03-14 02:29] patrick-mcdougle commented on #18082
Opened a bug to PHP: https://bugs.php.net/bug.php?id=71816

[2016-03-14 05:04] devsdmf opened #18158 "Symfony DI cannot factory a service with SessionHandlerInterface in class definition"
Hello everyone,

In my current production build I have a custom session handler to manage my sessions between development, stagging and production environments, and in my current application I have a working service that overwrite the default symfony framework session handler that uses the DI component to inject the custom handler, my service is configured like other factories but just in this cas

[2016-03-14 07:49] webmozart commented on #17154
As far as I understand, this is nothing we can (should?) fix. Calling `clear()` seems like the proper thing to do if all items of a collection were removed. I think you are looking for a solution to catch `clear()` events, but that seems more of a Doctrine issue.

/cc @beberlei

[2016-03-14 08:03] xabbuh commented on #18158
Does the issue persist when you remove the leading backslash from the interface name?

[2016-03-14 08:05] webmozart commented on #17580
@backbone87 Sounds reasonable. The change should only affect `form_rest()` (or `form_end()`) statements, which aren't commonly used to render rows in the first place, so the implication on existing applications should be minimal.

[2016-03-14 08:06] webmozart commented on #17579
@HeahDude We already have this option name. It's called `placeholder`, which is why I suggested to use it. :)

[2016-03-14 08:21] HeahDude commented on #17579
@webmozart Forgive me as I just love to debate and I don't fully agree with you on this one.

`placeholder` is a `ChoiceType` option only and can be displayed whether there is some choices or not, has a very specific normalization and commonly says something like `"Please choose"` which makes no sense when there is nothing to choose.

Having another option would answer globally to the case any com

[2016-03-14 08:21] webmozart commented on #17579
@HeahDude I realized the mistake in my comment already and deleted it. Thanks for pointing it out.

[2016-03-14 08:43] webmozart commented on #12262
Thinking about the BC impacts of this change, there could be forms that contain a collection form only and are allowed to be submitted without items being added to the collection. Those forms would then trigger warnings if submitted without fields, even though that is a normal situation for them. Implementing more functionality to suppress the warnings doesn't justify the (small) benefit IMO.

[2016-03-14 08:43] #12262 closed

[2016-03-14 09:16] javiereguiluz commented on #17265
Closing it because of the lack of feedback. Please reopen it if the error persists. Thanks!

[2016-03-14 09:16] #17265 closed

[2016-03-14 09:26] ihsanudin opened #18159 "[Security] Class Does Not Exist"
`https://github.com/symfony/symfony/blob/master/src%2FSymfony%2FBundle%2FSecurityBundle%2FTemplating%2FHelper%2FSecurityHelper.php#L14`

I check the `FieldVote` class is not exist

[2016-03-14 09:27] bjoernfal commented on #15998
Sure!

I'm implementing functional tests with HTTP requests, so I am using the createClient method to create a WebTestCase Client. My Bundle uses $_SERVER["HTTP_HOST"] to identify a request, so it has to be set when conducting the tests (otherwise I get the "unidentified index" error). I rewrote my tests to use non-insulated tests (other than I stated before), but that seems to make no difference

[2016-03-14 09:30] WouterJ commented on #18159
You have to install the `symfony/security-acl` package when you use ACL in Symfony.

[2016-03-14 09:51] jean-pasqualini opened #18160 "[BUG] sharedMaxAge calculation problem a page with one of the s-max-age is null"
Symfony 2.3.16
PHP 5.4.41-0+deb7u1 (cli) (built: May 28 2015 18:22:26)

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/HttpCache/ResponseCacheStrategy.php#L79.

**In the case of a page /example-1**
- Page (s-max-age: 86400)
    - block A (s-max-age: null)
    - block B (s-max-age: 0)

The s-max-age injected by symfony in the response is not 0 but 86400.

Validation

[2016-03-14 09:55] Koc commented on #18149
some of this formatters using for logs, and easy to read logs without html

[2016-03-14 09:56] peter17 commented on #14727
I still have this problem with Symfony-2.8.3.

Here is the code in my Form Type:
[code]

What I type in the field is: `21/03/20107`.

When I use `var_dump($myObject->getDateEnd())`, I get:
[code]

What is persisted in the MySQL table is: `2007-03-21`.

In my opinion, Symfony's `Date` validator should reject `21/03/20107` since it will not give a valid PHP date (and also it does not match the `form

[2016-03-14 10:00] jakzal commented on #15998
The browserkit client doesn't modify the global state (namely it doesn't modify the `$_SERVER` global). Otherwise you'd have tests influencing each other, while they should be independent. In Symfony, you shouldn't access global variables either, but use the Request class instead. This way you can run your tests in isolation without side effects.

I'm going to close this as there's nothing to fix

[2016-03-14 10:00] #15998 closed

[2016-03-14 10:20] jakzal commented on #14727
@peter17 I just tried your example and it works fine for me (I get a validation error). Could you please fork symfony standard edition and reproduce your issue on a new branch?

[2016-03-14 10:38] ihsanudin commented on #18159
@WouterJ : thanks you very much :+1:

[2016-03-14 10:38] #18159 closed

[2016-03-14 10:51] xabbuh commented on #17139
Not sending the header looks reasonable.

[2016-03-14 11:26] xabbuh commented on #18160
In your example what do "block A" and "block B" refer to? Can you fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue? And please also make sure that the issue persists with the latest path version of Symfony 2.3 (2.3.39 which was released yesterday).

[2016-03-14 11:32] javiereguiluz commented on #17808
@xabbuh you excel at spotting issues with dependency versions, so could you please check if this issue is legit? Thanks!

[2016-03-14 11:47] netdudes-automatic commented on #17739
The current approach would be ok, if the names of the commands are improved. Otherwise it is misleading. I dont think it makes sense to reimplement the complete tranlation infrastructure when a small change would allow us to extend this.

[2016-03-14 11:52] nud opened #18161 "Translations: no "fuzzy" support for the gettext (.po) reader"
The traditional `gettext` tools usually try to find similar strings when updating translations.

This results in some strings having a translation but being marked as "fuzzy":

[code]

The expected result when a string is marked as fuzzy is that it should not be used by the translation system. Using symfony, though, the translations are used, which can result in "funny" messages being displayed in

[2016-03-14 12:05] peter17 commented on #14727
@jakzal sorry, I'm not totally sure about what you expect from me: should I

- create a new Symfony project with just a controller and a form type?
- or try to create a new failing test in Symfony's unit tests?

----

When I add `20107-03-21` to the `getValidDates` or the `getInvalidDates` methods in `Symfony/Component/Validator/Tests/Constraints/DateValidatorTest.php` and run the unit tests, I in

[2016-03-14 12:53] jakzal commented on #14727
Yes, this will do. I tried your example and it works fine for me. This let me to think there might be something about you configured the project that exposes this problem.

[2016-03-14 13:50] peter17 commented on #14727
@jakzal I created a new minimal Symfony project here: https://github.com/peter17/DateTypeTest

Here are the results of the tests I made:
![test1](https://cloud.githubusercontent.com/assets/752832/13746471/ec3c3e7e-e9f3-11e5-8bd9-bff7879caa83.png)

----

![test2](https://cloud.githubusercontent.com/assets/752832/13746463/e3717584-e9f3-11e5-8823-5bf4b104fa54.png)

----

![test3](https://cloud.github

[2016-03-14 14:04] noniagriconomie opened #18162 "[Validator][Bug] Email Validation"
Hi,

Just to know why a validation on email let

```email1@gmail.com ; email2@me.com```

pass as a valid email ?

I am on sf 2.8.2

Many thanks :)

[2016-03-14 14:06] jakzal commented on #14727
I don't have this issue on my OS X running PHP 5.5.30. However, I just tested this on PHP 5.5.30 and 5.6.14 on Linux and confirmed the invalid behaviour. It seems to depend on the platform.

[2016-03-14 14:08] peter17 commented on #14727
I forgot to mention that I use PHP-5.5.29 on Linux.

[2016-03-14 14:09] jakzal commented on #14727
It just occurred to me, should we really treat 20107 as an invalid year?

[2016-03-14 14:19] jean-pasqualini commented on #18160
https://github.com/jean-pasqualini/symfony-standard/pull/1/files

[2016-03-14 14:52] Triiistan commented on #18162
Are you using the email validation with strict option? See here for more details: http://symfony.com/doc/current/reference/constraints/Email.html#strict

[2016-03-14 14:54] fritzmg opened #18163 "error handler does not catch deprecated notice in production environment"
I have created a Symfony app (initialized using `composer create-project`) and for some reason deprecated notices are shown in the frontend for the _production environment_. As far as I know, this shouldn't happen by default. I am using the default monolog settings (generated by the `create-project` command). So for the dev environment the following settings are used:
[code]
and for the production

[2016-03-14 15:08] noniagriconomie commented on #18162
@Triiistan hi ty

I think not, i will check and come back
But why is this false by default? it is an error or a required logic that 2 emails are valid

[2016-03-14 15:09] xabbuh commented on #17808
We could add conflict rules in all maintained branches of the MonologBridge in 2.x to conflict with HttpKernel >= 3.0. However, this will not solve the issue as Composer then would still install MonologBridge 2.4 which wouldn't get updated due to our update policy. Probably the best we can do is add conflict rules to all maintained branches and then wait until Symfony 2.3 reaches the end of suppor

[2016-03-14 15:19] ABM-Dan commented on #3622
+1.

[2016-03-14 16:15] xabbuh commented on #18160
Thanks for providing this great reproducable example. I can confirm that the behaviour doesn't seem to be correct. Can you please check if the fix I proposed in #18164 actually fixes the problem for you?

Status: Reviewed

[2016-03-14 16:31] peter17 commented on #14727
It could be valid or invalid, or up to the users...

The problem here, as I explain above, is that when the date is a DateTime object, the DateValidator does not check it at all...

[2016-03-14 16:44] MartinRosserEB opened #18165 "[process][question / feature request] destructor stops command line command early"
I want to run asynchronous word - to - thumbnail processing. I am currently offloading the entire processing to a shell command similar to:
process("libreoffice convert inFile to temporaryPdf && convert pdf to img && rm temporaryPdf")

The destructor of this class stops the running process with SIGTERM followed by SIGKILL after a timeout. To achieve what I want, I currently commented out $this->st

[2016-03-14 16:51] iltar commented on #18162
The best (and probably only) way to validate an email, is by sending an email towards it. Otherwise the strict=true will be sufficient. It's false by default as it requires a 3rd party library.

[2016-03-14 17:26] stof commented on #18038
btw, one of your claim was wrong

``ArrayAccess`` has nothing to do with ``foreach``. You are confusing with ``Traversable``, and the crawler is already an iterator.

[2016-03-14 17:48] flip111 commented on #18038
@stof ah yes. Actually i forgot to mention something important ... `foreach` works but returns the raw nodes instead of wrapping it in a crawler. So now foreach comes with it's own boilerplate code having to wrap the nodes again manually ... Why not have a method `getNodes` to get an array of nodes, because when walking through the DOM you are more likely gonna need new domcrawlers to specificy yo

[2016-03-14 17:52] xabbuh commented on #14727
From what do you deduce that the DateValidator isn't called at all? Did you confirm this by using a debugger or something like that?

[2016-03-14 17:54] teohhanhui opened #18166 "[PropertyInfo] Singularize array mutator in ReflectionExtractor"
`ReflectionExtractor` currently supports array mutators (`add`, `remove`) but it's not very useful as the singular method name is not being checked.

If we can use `doctrine/inflector` to singularize the property name, we'll be able to pick up a lot more useful information in many cases. I'll open a PR if this is desirable (looking at the `composer.json` of Symfony components, I understand that it

[2016-03-14 17:54] teohhanhui commented on #18166
@dunglas

[2016-03-14 18:24] natechicago commented on #18156
Also, the same issue was previously reported here: https://github.com/egulias/EmailValidator/issues/20

From the author of the library:

[2016-03-14 18:39] devsdmf commented on #18158
No, in that case, it throws a different error:
[code]

[2016-03-14 18:53] xabbuh commented on #18158
This looks weird. Can you please fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-03-14 20:47] backbone87 commented on #18156
i would deprecate the strict option in the EmailValidator and introduce a variable `mode` with a value of `simple` (symfony internal regex), `rfc` (external non-strict) or `strict` (external strict). the strict option then maps to `simple` if `false` and `strict` if `true`.

[2016-03-14 22:26] devsdmf commented on #18158
@xabbuh I found a way. I changed the service definition like the Symfony 3.0 documentation and that worked.

[code]

[2016-03-14 22:40] Koalabaerchen commented on #18161
What I learned today: XML (xliff) is better at something.

I can confirm the behaviour. It happens in master.

From http://www.gnu.org/software/gettext/manual/gettext.html#PO-Files
`This flag can be generated by the msgmerge program or it can be inserted by the translator herself. It shows that the msgstr string might not be a correct translation (anymore). Only the translator can judge if the tra

[2016-03-14 22:54] estahn opened #18170 "[Process] Weird behaviour of ProcessBuilder and Process"
_Title needs to be redefined. I'm not sure about the exact issue._

In our project we're using PHPUnit to run functional tests. Some functional tests need to populate Elastisearch before they can be executed. We have a method `populateElastica` in our `Base` test which does that. This method uses `Process` and `ProcessBuilder` to build up the symfony command `./console fos:elasticsearch:populate .

[2016-03-15 00:05] maryo commented on #17975
I've made this as a composer script (requires php7)
https://github.com/vaniocz/symlink-handler

But your idea is not bad, not sure where it fits better.

[2016-03-15 06:06] #18160 closed

[2016-03-15 07:38] dunglas commented on #18166
IIRC, the singularized adders and removers should already be used: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/PropertyAccess/PropertyAccessor.php#L684-L687

[2016-03-15 07:39] dunglas commented on #18166
Looks like a bug to me. Maybe can we use our own inflector: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/PropertyAccess/StringUtil.php#L147

[2016-03-15 07:42] teohhanhui commented on #18166
`symfony/property-info` does not require `symfony/property-access`. So you mean we should suggest `symfony/property-access` just to use its `StringUtil`?

I suspect `doctrine/inflection` would be superior...

[2016-03-15 07:43] teohhanhui commented on #18166
Of course, the alternative would be just to copy the `StringUtil` from PropertyAccess component, and add a note to keep them in sync.

[2016-03-15 07:58] dunglas commented on #18166
PropertyInfo and PropertyAccess components are often used together. They must have exactly the same behavior regarding singulars, so they must rely on the same inflection backend.

I'm not a fond of copy/pasting the class. Maybe can we extract the StringUtil class to its own tiny component? /cc @fabpot @webmozart

[2016-03-15 08:10] xabbuh commented on #18170
Which Symfony version do you use? Are you able to fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-03-15 08:36] peter17 commented on #14727
Please read what I wrote above:

So, yes, it is called, but since its argument is a `DateTime` object, it just returns without trying to validate that argument.

[2016-03-15 08:42] xabbuh commented on #14727
Yeah, I read that. But this means that the validator actually is not skipped. It just doesn't do anything with the given value as this already is a `DateTime` object which seems pretty straightforward to me (PHP would complain about invalid dates, wouldn't it?). The actual transformation happens in the [DateTimeToStringTransformer](https://github.com/symfony/symfony/blob/master/src/Symfony/Compone

[2016-03-15 08:43] xabbuh commented on #15617
[code]

https://ci.appveyor.com/project/fabpot/symfony/build/1.0.7036#L964

[2016-03-15 09:31] MartinRosserEB opened #18171 "[Process][Enhancement] Callback allowing parameters"
`Process->start()` allows to pass a callback function.

It should be possible to pass variables to the callback function as follows:

[code]

`Process::buildCallback()` is currently optimized to evaluate stdout and stderr. For this reason, it seems not to allow passing variables to the callback function. This would be a very useful addition.

[2016-03-15 10:03] peter17 commented on #14727
I am not discussing whether 20107 should be treated as a valid year or not.

What we observed is that on some platforms, there is a validation error on those dates and on some others, none. Also, on some platforms, the dates with years > 9999 are accepted and DateTime object does not have the correct date (20107 becomes 2007).

Now, I am trying to reproduce the latter on a minimal project.

[2016-03-15 10:57] nud commented on #18161
Well, anyone used to dealing with gettext expects fuzzy translations not to be displayed, because they are likely incorrect.

People only dealing with gettext through the symfony tools will never encounter "fuzzy" tags, because the symfony tools don't generate them. People using other tools (xgettext and msgmerge, poedit and the like) will expect correct behaviour and will get annoyed by the curre

[2016-03-15 11:07] nud commented on #15104
Same feature exists in gettext: https://www.gnu.org/software/gettext/manual/html_node/Contexts.html

[2016-03-15 11:32] stayeronglass commented on #12189
any progress?

[2016-03-15 11:49] dmaicher opened #18173 "[Form] ChoiceType error since update to 2.7.10"
I just upgraded to Symfony 2.7.10 and ran into the following problem:

[code]

Its caused by this field:

[code]

The thing is that I'm using a OneToMany relation but in some cases only want the user to select one entity (hence `'multiple' => false`). I'm using a ModelTransformer then to transform the collection to one entity and vice versa:

[code]

This used to work fine with Symfony 2.7.9. Sinc

[2016-03-15 11:50] redjanym opened #18174 "Error: Nesting level too deep - recursive dependency? on array_unique function"
Hello, i just upgraded from Symfony 2.5 to Symfony 2.7 and i'm having this issue. On:
[code]
i get the error **Error: Nesting level too deep - recursive dependency?**  every time i call the array_unique function for removing duplicates out of an array of objects.
I changed the xdebug.max_nesting_level from 100 to 2000, restarted the services and also disabled xdebug but i still get the same error.

[2016-03-15 11:58] javiereguiluz commented on #18174
@redjanym thanks for reporting this issue.

In order to help you, we'll need more information about the error. Ideally, you could fork the Symfony Standard Edition, add the minimum amount of code to reproduce this issue and then share the link with us.

[2016-03-15 12:04] HeahDude commented on #18173
Hi @dmaicher, thanks for reporting this issue.

You're right, this commit breaks the calls to data transformers, there is nothing wrong with your code.

I'm working on a new patch though. Changing to a `POST_SET_DATA` event is indeed a possible workaround.

Sorry for that, it will be fixed very soon!

[2016-03-15 12:04] HeahDude commented on #18173
Status: Reviewed

[2016-03-15 12:12] HeahDude commented on #18173
Please also not that if this a not the proper way to fix it, because in that case your choices will never be pre selected by the data mapper.

[2016-03-15 12:27] sampart commented on #5136
Another workaround is to reorder the array passed to `choices` - the "extracted" choices retain their order from there.  Here's an example:

[code]

[2016-03-15 12:47] HeahDude commented on #18173
In fact, I just realise something about your code. Since you're defining `choices` options, you don't need to use the `EntityType` which is made to load choices from `class` option. You should use directly the `ChoiceType` instead.

So, if I understand correctly you just want to select the first option ? So you should do it with the `data` option:
[code]
Could you please try this code which remove

[2016-03-15 13:03] dmaicher commented on #18173
Thanks for the fast reply ;)

Well I think I will need a DataTransformer because in the model its always a Collection. In some cases I want to display radio buttons where users can only select exactly one entity with `'multiple' => false`. So I will have to transform the selected entity to a Collection with one element and vice versa.

[2016-03-15 13:05] nicolas-grekas commented on #18156
I like @backbone87's proposal, so this would be a new feature. I also suggest to add an `html5` mode that validates the email against the HTML5 email validation regexp.

[2016-03-15 13:07] redjanym commented on #18174
Thank you @javiereguiluz for replay. I will do it asap.

[2016-03-15 13:19] HeahDude commented on #18173
@dmaicher `ChoiceType` supports `\Traversable` like `ArrayCollection`. The `EntityType` is just an "extension" to load choices. If choices are already loaded the last one is useless.
In your case you already defines `choices` options so you should do it directly on the `ChoiceType` since the logic of `EntityType` is not used and `multiple` option is false by default.

Defining which choice is pre

[2016-03-15 13:20] HeahDude commented on #18173
Wich is wrong by the way

[2016-03-15 13:35] dmaicher commented on #18173
Well I think I cannot "just" use `ChoiceType` because how would it know how to transform an entity to an ID for the view and an ID back to an entity when coming from the view? That's pretty much why I use the `EntityType`.

So `$question->getIndividualQuestionOptions()` is actually an ArrayCollection that contains entities.

I would have to add some logic then via transformers or existing options

[2016-03-15 13:37] dmaicher commented on #18173
This:

[code]

leads to:

`The value of type "object" cannot be converted to a valid array key. `

[2016-03-15 13:41] #13646 closed

[2016-03-15 13:43] #17999 closed

[2016-03-15 13:46] HeahDude commented on #18173
By default it will use an incrementing index for view value, but you can indeed set it to the id with a string property path or a closure:
[code]

But you're right, in your case calling `$form->getData()` will return a single entity which you would need to wrap in an `ArrayCollection`, so if you don't want to do that when handling data after submission (in a controller ?) you would need a transfor

[2016-03-15 13:48] #15584 closed

[2016-03-15 13:48] HeahDude commented on #18173
Ok just saw your other post:

What is the line responsible for this exception ? because it should be handled [here](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/ChoiceList/ArrayChoiceList.php#L68).

[2016-03-15 13:51] dmaicher commented on #18173
The stack trace:

[code]

[2016-03-15 13:55] HeahDude commented on #18173
misses `'choices_as_values' => true` :)

[2016-03-15 13:56] #10870 closed

[2016-03-15 13:57] HeahDude commented on #18173
Note that there is already a transformer so you need to code one, but it's only added by default when `EntityType` is multiple: `Symfony\Bridge\Form\DataTransformer\CollectionToArrayTransformer`

[2016-03-15 14:04] dmaicher commented on #18173
Ok at least this renders the page again :)

[code]

Submitting does not work though because it tries to set an entity on the model but the model expects a collection (thats why I had the transformer).

If I add back the transformer then it seems to work though:

[code]

Although it should also work with the `EntityType` even if its not needed here? :)

[2016-03-15 14:08] javiereguiluz opened #18177 "[RFC] Simplify the Email Validator"
### Problem

  * Validating email addresses is absurdly complex.
  * We've received [tens of issues](https://github.com/symfony/symfony/issues?utf8=%E2%9C%93&q=email+validation) in the past years about this validation.

### Solution

  * Let's simplify the email validator to just check that email addresses "look valid" using a good regexp.
  * If you need to validate that the email is real, send a

[2016-03-15 14:15] HeahDude commented on #18173
Yes but it adds not needed extra logic.

Some suggestions:
[code]

[2016-03-15 14:24] Taluu opened #18178 "[Yaml] `,` should not be interpreted as a valid number group separator"
According to http://yaml-online-parser.appspot.com/, when a `,` is used in a number, it is interpreted as a string.

I don't think I saw anywhere the it should be used as a number separator (for visibility), while in #18096, we can make assumptions that `_` is valid (and also according to the online parser).

But removing this (as it is used only in floats ?) could be a BC break though...

[2016-03-15 14:32] desarrolla2 commented on #18177
cc/ @egulias

[2016-03-15 14:33] Pierstoval commented on #18177
IMO, the `checkMX` and `checkHost` should still be available and set to `false` by default. Some private companies / governments want to use these features so it could be good to keep them even if set to `false` by default.

[2016-03-15 14:39] dmaicher commented on #18173
The `CollectionToArrayTransformer` is a bit different from my `ChoiceToQuestionOptionTransformer` ;) Does not really work.

With this addition it now works again for me:

[code]

[2016-03-15 14:39] nicolas-grekas commented on #18177
:+1: but we should take care of BC breaks, that's the difficult part...

[2016-03-15 14:39] dmaicher commented on #18173
To me its seems a bit as a BC break but maybe I was just using the `entity` type wrong ;P

[2016-03-15 14:45] HeahDude commented on #18173
The Form Component has evolved a lot with 2.7 and 2.8, you should read the corresponding upgrade files since there are indeed a few BC breaks.

Thank you for your feedback, I may need it again to confirm my patch will work for your use case :)

[2016-03-15 15:45] javiereguiluz commented on #18178
If we currently support something that is wrong according to the Yaml spec, it's OK to deprecate it (and add a BC break in Symfony 4.0), as we did with lots of Yaml features in Symfony 2.8: http://symfony.com/blog/new-in-symfony-2-8-yaml-deprecations

[2016-03-15 15:49] #18067 closed

[2016-03-15 16:57] #18161 closed

[2016-03-15 17:17] xabbuh commented on #18171
I am not sure if we need to add this explicitly as you can already achieve this with an anonymous function like this:

[code]

[2016-03-15 17:54] nicolas-grekas commented on #18171
I agree with @xabbuh , using a closure is the way to go.

[2016-03-15 17:54] #18171 closed

[2016-03-15 20:23] backbone87 opened #18183 "[RFC][DI] Decoupling through type mapping"
The feature I will describe is meant to solve complex component coupling by using dynamic (configuration-assisted) delegation and/or decoration.

I dont know if the presented solution will be viable from different points of view, but that is up to discussion here.

The solution reuses and extends concepts that are also applied on service autowiring and the feature itself may have been described be

[2016-03-15 21:47] dmaicher commented on #18173
@HeahDude just to let you know: https://github.com/symfony/symfony/pull/18180 fixes the problem without any changes to my code :+1:

[2016-03-15 21:49] dmaicher commented on #18173
Regarding BC breaks: Yes I'm aware of them ;) But with a "patch" release 2.7.9 to 2.7.10 I was not expecting any ;)

Anyway thanks for the fast feedback & help! :+1:

[2016-03-15 22:16] patrick-mcdougle commented on #16819
This issue will be remedied by #18181 and should be closed when it is merged.

[2016-03-15 23:14] egulias commented on #18177
Hi there.
There are two things you should not use a RegExp for
* parsing HTML
* validating emails

That being said, of course HTML5 one will be "valid" for more of the cases. But, just as an example, that RegExp is saying that `example.@example.com` is valid, which is not. An of course you are not allowing UTF8 emails.
One of the issues, I guess, with the email validation in Symfony is the fact th

[2016-03-15 23:29] egulias commented on #18156
I agree with @natechicago 's proposal 1.
Yes, warnings need a thought but the fix could probably improve.
I'm working on v2 of the lib to admit several strategies (something similar to https://github.com/egulias/EmailValidator4J#validation-strategies), instead of flags in the `isValid`method, which could provide all the functionality @backbone87 proposes.

[2016-03-16 09:13] iltar commented on #18183
*I think* I understand what you mean. Let me expand on that example:
 - The validator component would provide a TranslationInterface
 - This interface would implement only what's needed in the package
 - An object implementing this interface would delegate the calls to the TranslatorInterface implementation
   - https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Validat

[2016-03-16 09:37] HeahDude commented on #18173
@dmaicher thank you very much for your feedback :)

[2016-03-16 09:38] hason opened #18188 "[DI] Autowiring causes a fatal error for optional services"
I use Symfony components and bundles without forms. Autowiring causes the fatal error for [``twig.form.engine``](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/TwigBundle/Resources/config/twig.xml#L124) service from TwigBundle:

```PHP Fatal error:  Class 'Symfony\Component\Form\AbstractRendererEngine' not found in ...```

We should replace [``ReflectionClass``](https://github.c

[2016-03-16 09:39] backbone87 commented on #18183
@iltar you understand it correctly in terms of decoupling, but the main benefit would be that the container can generate the delegator/decorator and its factory for you. you should only need to assist it via configuration on ambiguous or non-trivial delegation cases. thats also the reason why this pattern is tightly coupled to the use of a DI component and cant be implemented "in a generic" way. F

[2016-03-16 09:47] iltar commented on #18183
In theory you can reverse engineer a class based on the reflection data, so that should be only an implementation/automation detail.

[2016-03-16 10:06] yapro opened #18189 "Symfony doesn't use Monolog to log info about ServiceNotFoundException"
I expect see error in file app/logs/prod.log but see error in file /var/log/nginx/site.local.error
[code]
It means that ErrorHandler is not yet registered and this is bad, why you not register ErrorHandler befor fail.

[2016-03-16 10:28] xabbuh commented on #15617
Ah, looks like that test simply always fails on Windows.

[2016-03-16 10:48] sebastianbergmann opened #18190 "[Console] ProgressBar does not work with PHP 7"
`ProgressBar` does not redraw the progress bar but instead prints the update on a new line when used with PHP 7.

#### `composer.json`
[code]
#### `example.php`
[code]
#### Output with PHP 7
[code]
#### Output with PHP 5.6
[code]

[2016-03-16 11:08] xabbuh commented on #18190
@sebastianbergmann On which OS did you run the example script?

[2016-03-16 11:18] sebastianbergmann commented on #18190
[code]

[2016-03-16 13:00] iltar commented on #18190
Hm for me this works.

[code]

[code]

[code]

[2016-03-16 13:04] Taluu commented on #18190
Works fine for me too

[code]

[code]

[code]

[2016-03-16 13:07] xabbuh commented on #18190
Maybe depending on the use shell/terminal. What's the value of the `$TERM` and `$SHELL` variables?

[2016-03-16 13:12] trofimchouk opened #18192 "Can not authorize using LDAP component: ldap->bind never fires."
Helo,

I try to authorize in Active directory following this doc: http://symfony.com/blog/new-in-symfony-2-8-ldap-component
I also added a simple login form: http://symfony.com/doc/current/cookbook/security/form_login_setup.html
But after form submission user is still Anonymous with no error displayed.
I added some output to Ldap component and find that ldap->bind never fires.

All the setings are

[2016-03-16 13:16] fabpot commented on #18192
ping @csarrazi

[2016-03-16 13:17] sebastianbergmann commented on #18190
[code]

[2016-03-16 14:22] csarrazi commented on #18192
I've answered on stackoverflow. The form is not set to post to the correct route.

Indeed, you are submitting the form to the `login` route, instead of the `login_check` route.

[2016-03-16 14:28] trofimchouk commented on #18192
Thank you! Yes, this is my mistake. Issue can be closed.

[2016-03-16 14:29] #18192 closed

[2016-03-16 14:36] javiereguiluz commented on #18190
In case it's useful, this same behavior happens when the console window is shorter than the progress bar. See #13019.

[2016-03-16 15:02] #16819 closed

[2016-03-16 15:58] #12937 closed

[2016-03-16 16:57] Jean85 commented on #16461
This introduced an error in my case.

When you have an alias of an alias, it overwrites just the first alias, without cascading.
This helped me uncover a bug, and I fixed it setting directly the root service instead of the alias; but I'm not sure if it creates a BC.

Example: Doctrine default EM

[code]

[2016-03-16 17:05] Babacooll commented on #17777
@xabbuh  @jakzal I'm sorry to bother you with this, has this been fixed in Symfony 2.8 ? I've seen a release for Symfony 2.3 but not higher. Thanks !

[2016-03-16 17:07] dunglas commented on #18188
Instead of using phpdocumentor/reflection (it's slow...), maybe can we just check that the class exist before creating the ReflectionClass, or add a try/catch.

[2016-03-16 17:07] jakzal commented on #17777
Indeed, only Symfony 2.3 was released recently. Don't worry though, 2.7-3.0 will be released soon and will include this fix.

[2016-03-16 17:09] dunglas commented on #18188
But the question is: why the autowiring system try to parse the class of `Symfony\Bridge\Twig\Form\TwigRendererEngine` as this is not an autowired service?

[2016-03-16 17:33] mickaelandrieu commented on #5906
@webmozart thanks for the workaround. Any chance to see your suggest merged in Form component ?
I mean, it's real bug: what the point if everyone have to create his own "TextareaType" extension to reflect common behavior needed by customers ?

[2016-03-16 17:40] xabbuh commented on #18188
@hason Would you be able to create an example project that makes it possible to reproduce your issue?

[2016-03-16 18:29] dawehner commented on #12430
I would still like to open up this issue again. Maybe we could even add some way to not restrict the arguments to strings by default via some flag (not sure how this would exactly look like). This is quite a major DX issue for Drupal

[2016-03-16 18:31] phenaproxima commented on #12430
Agreed, it's annoying.

[2016-03-16 18:34] hason commented on #18188
@dunglas It is necessary to check existence of all parent classes and interfaces => static reflection :smile:. Try/catch is unable to catch Catchable fatal error.

Autowiring is enabled for my controllers and so it has to analyze all registered services. Unfortunately, even unused services.

[2016-03-16 18:36] dunglas commented on #18188
It's weird that it analyses arguments of an usused service. Can you provide a failing test to help us debugging?

[2016-03-16 18:41] hason commented on #18188
No, it analyses arguments of my controllers only. But has to know all types of all services https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php#L136

[2016-03-16 18:55] dunglas commented on #18188
Ok got it. I'll open a PR with a fix tomorrow.

[2016-03-16 19:37] Tobion commented on #12430
Would loosing the requirment check in Symfony 3.1 be enough for Drupal? Or does it need to be a hotfix in older Symfony versions to be usable for Drupal? Because I'm afraid changing that in older Symfony versions would go against the BC promise.

[2016-03-16 19:51] dawehner commented on #12430
I'd be totally happy with 3.1
On 16 Mar 2016 2:37 p.m., "Tobias Schultze" <notifications@github.com>
wrote:

[2016-03-16 20:42] csarrazi commented on #17682
Ping @Seb33300. Can we close this issue?

[2016-03-16 22:07] dunglas commented on #18177
Just my 2 cents. Use filter_var for the simple case and fix it upstream if applicable.

[2016-03-16 22:12] dunglas commented on #18062
I like the idea. But it should be implemented as a bundle (or maybe just as a Node.js package) and not in core.

[2016-03-16 23:07] ahmed-araby commented on #18190
works fine with php 5.4.45 same machine , same terminal , same environment

but with me on fedora 22 , I got the same strange output
PHP 7.0.2
Linux lap.araby.name 4.0.7-300.fc22.x86_64 #1 SMP Mon Jun 29 22:15:06 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
With fish zsh , bash , ...

[2016-03-17 00:02] ahmed-araby commented on #18190
okay it was strange so I wanted to trace it down
You are just missing php-process to enable php posix module

[2016-03-17 00:04] ahmed-araby commented on #18190
https://github.com/symfony/console/blob/master/Output/StreamOutput.php#L99

[2016-03-17 01:40] cirovargas opened #18207 "Single quote and slashes bug"
I'm customizing the crud generator in symfony and came across the following problem:

Trying to compare strings with single quote:

    {% if data.filterWidget == 'FormFilterTypes\TextFilterType' %}

In the data.filterWidget have the same string but this returns false to me.

Escaping with doble slashes it's ok, but it seems a fault when compared to the PHP core.

     {% if data.filterWidget == '

[2016-03-17 02:38] patrick-mcdougle commented on #12269
Why aren't all the breadcrumb builders registered as listeners to a build breadcrumb event? If a listener returns a breadcrumb, can't you just stop propagation and return? Or am I misunderstanding the purpose of the breadcrumb manager?

[2016-03-17 04:20] Enleur commented on #18189
This error happens before the boot stage, where injects a monolog logger to the ErrorHandler. You should catch this kind of errors on the deployment stage(cache warmup for instance)

[2016-03-17 04:36] dawehner commented on #12269
@patrick-mcdougle Well, of course this could work as well, BUT conceptually I think having a custom interface for generating breadcrumbs for example is better than an event.

[2016-03-17 06:01] sebastianbergmann commented on #18190
Thank you, @ahmed-araby. Installing `php-process` solved the issue.

[2016-03-17 06:01] #18190 closed

[2016-03-17 06:44] patrick-mcdougle commented on #12269
But you're describing a custom dispatcher that has attached listeners, aren't you?

[2016-03-17 09:04] romainneutron commented on #17937
@OndraM Patch has been merged in 2.7
It will soon be available in other branches and it will be released in the upcoming version of each branch.

Thanks again and sorry for the inconvenience

[2016-03-17 09:04] #17937 closed

[2016-03-17 09:39] Seb33300 commented on #17682
I solved my problem by importing all users in my database schema as provider and using LDAP connection as a firewall only.

But I still think that even if LDAP is used as a provider, user password should be check by trying to connect.

[2016-03-17 09:51] csarrazi commented on #17682
Nope. Checking the password is the responsibility of the authentication provider, not the user provider.

If you want to check against the Ldap server, you can actually use both the user provider and the authentication provider. But for that, you need to use either `form_login_ldap` or `http_basic_ldap` in your firewall section.

Using any other provider will actually try to authenticate using pas

[2016-03-17 09:54] #17682 closed

[2016-03-17 10:34] javiereguiluz commented on #18082
PHP project replied that this is not a bug and you shouldn't use `-9223372036854775808` and expect things to work. Should we update Symfony's code then?

[2016-03-17 11:12] nicolas-grekas commented on #18082
@dcanob could you please test with #18216?

[2016-03-17 11:51] csarrazi commented on #16823
I'm mentioning PR #17813 as another way to improve DN management using a previous search.

I will start from your current PR (#16827), improving it and implement both approaches as a single feature. Unfortunately, this will have to wait until next week, as I first intend to work on the documentation for the Ldap component, and a cookbook explaining how to use the Ldap component.

[2016-03-17 14:14] sustmi opened #18218 "[Validator] [docBlock] Is constraint defined on option or property?"
Here: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Constraint.php#L22
the docblock says:

What does applying constraint on *an option* mean? Shouldn't it say on *a property*?

[2016-03-17 14:26] #18146 closed

[2016-03-17 14:31] patrick-mcdougle commented on #18082
Does this code even work on 32 bit systems? Perhaps this whole thing should be smarter and detect 32 vs 64 bit and just use PHP_INT_MIN and PHP_INT_MAX in the code.

[2016-03-17 14:32] nicolas-grekas commented on #18082
Yes it does, appveyor runs a 32b PHP.

[2016-03-17 15:20] c33s commented on #11572
### workaround

command definition:
[code]

in the execute method
[code]

console
[code]
code example:
[code]

[2016-03-17 15:20] ro0NL opened #18219 "Update symfony screenshots"
The screenshot(s) at http://symfony.com/logo should be updated with the awesome new profiler look.. right?

[2016-03-17 16:38] ScreamZ commented on #12442
+1, passed so many time, unable to handle case with prototype...

[2016-03-17 17:22] HeahDude commented on #12442
Hi @ScreamZ, there has been a lot of issues opened about that and they are all closed.

The 'PRE_SET_DATA' listener of an entry form of a `CollectionType` is called for every entry including the prototype when `prototype` option is not `false` and `allow_add` option is `true`.

Consider using the workaround mentioned in https://github.com/symfony/symfony/issues/6128#issuecomment-65076206 if you ar

[2016-03-17 18:07] stof commented on #18207
There is no symfony bug here. Backslashes must always be escaped in Twig to represent them in string literals. you need to understand that your Twig template is not written in PHP, but in Twig, which is a different language.

[2016-03-17 18:44] javiereguiluz commented on #18219
@ro0NL you are right. Thanks for the heads up. I'll take care of it.

[2016-03-17 20:35] javitoxhz opened #18221 "Form DateTimeType is not calling the entity setter"
I have an entity like this:

[code]

And a form type like this:

[code]

But I cannot make the form call the setter. When i do the same thing with another type, like a string property, the setter is called, but not when it's a datetime.