[2021-11-30 17:05] garak commented on #44348
You're right, a lot of them are repeated

[2021-11-30 17:07] jderusse commented on #44364
well, those are fatal error in my case. (maybe an error handler converted it I to exception somewhere, I had to downgraded to 5.4)

[2021-11-30 17:10] nikic commented on #44364
Prior to PHP 8.1, yes. Since PHP 8.1 property types do not matter for preloading.

For `require`-based preloading these are fatal errors, otherwise warnings.

[2021-11-30 17:11] ytilotti commented on #16026
Same issue here on 5.3. There is solution using `@isGranted` for exemple but not solve the issue:
[code]

In my case, I don't use `denyAccessUnlessGranted()` but:
[code]

[2021-11-30 17:13] garak commented on #44348
Well, I tried to change my value in PHPUnit config from `<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>` to `<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;verbose=0"/>`, it changed nothing

[2021-11-30 17:16] wouterj commented on #44342
Thanks a lot @gjuric!

The lines you mention in the PR description haven't been changed for years. However, if I use Symfony 5.3 I get `$class = 'Doctrine\ORM\EntityManager';`, whereas it's `null` in Symfony 5.4.

Would be cool if someone can dig deeper into this :)

[2021-11-30 17:18] fancyweb commented on #44348
I tried the option this morning and it worked for me. Is it maybe overridden in `.env.test`?

[2021-11-30 17:21] garak commented on #44348
I don't use Dotenv component nor any .env file. I just put my variables in the environment.

[2021-11-30 17:40] nicolas-grekas commented on #44364
Oh, good to know thanks!

Then we have to revert all those typed props I suppose @jderusse, isn't it?

[2021-11-30 17:43] nicolas-grekas commented on #44364
Ideally we would even have a CI check for that. It's just not going to be trivial since it needs to combine info from the AST with info from composer files... Or does such a tool already exist somewhere? Anyone?

[2021-11-30 17:44] chregu commented on #44356
Totally not enough into symfony. Tried to replace the last part in `\Symfony\Component\DependencyInjection\Compiler\AbstractRecursivePass::getReflectionMethod`

with
[code]

but then it fails later with
[code]
(which makes sense)

So I don't have a quick solution and most certainly won't further investigate.

It certainly also would be fine, if that's just documented behaviour, that this will (fac

[2021-11-30 17:46] fancyweb commented on #44342
Looks like a bug on 4.4 here https://github.com/symfony/symfony/blob/382cde28c1206d357ef717ac4f254194aa0b6062/src/Symfony/Component/DependencyInjection/Compiler/AbstractRecursivePass.php#L137. `$class` can be null, even with `$required = false`, `getConstructor()` ends up throwing.

`getConstructor()` is called here https://github.com/symfony/symfony/blob/a12336a7cd5df9c2723eee62073bb9dd795a14d1/s

[2021-11-30 17:48] YetiCGN opened #44371 "[DependencyInjection] Fatal error when using ExceptionInterface"
### Symfony version(s) affected

5.3.11, 5.4.0, 6.0.0

### Description

The `ExceptionInterface` extends both `Psr\Container\ContainerExceptionInterface` and `\Throwable`. The `ContainerExceptionInterface` itself extends `\Throwable` already since `psr/container` 1.1.0. This leads to the following error:

[code]

### How to reproduce

Run `vendor/bin/typo3cms` from TYPO3 10.4.21 with `symfony/depe

[2021-11-30 17:49] YetiCGN commented on #44371
PhpStorm points it out as well:
![image](https://user-images.githubusercontent.com/447119/144100666-6b02e8e7-ec91-46f1-9903-a1a4bb849023.png)

[2021-11-30 17:49] nicolas-grekas commented on #44371
Please send a PR :)

[2021-11-30 17:50] ThomasTr opened #44372 "Session config with redis url broken after update to 5.4.0"
### Symfony version(s) affected

5.4

### Description

Configured session handler_id as `handler_id: 'redis://localhost/2'`. This worked for me until i updated to 5.4.0. Now i get this error:
[code]

### How to reproduce

Use this config in framework.yaml with symfony 5.4.0
[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-11-30 17:50] YetiCGN commented on #44371
Coming up later today. 🙂

[2021-11-30 17:52] nicolas-grekas commented on #44372
On which file+line is this error triggered?

[2021-11-30 17:54] ThomasTr commented on #44372
Triggered here:

symfony/http-foundation/Session/Storage/Handler/SessionHandlerFactory.php (line 33)

[2021-11-30 17:58] derrabus commented on #44371
Duplicate of php-fig/container#30

Implementing a previously announced interface is fine since PHP 7.4, see https://3v4l.org/o7hOj.

[2021-11-30 17:58] #44371 closed, assigned to nobody

[2021-11-30 18:04] derrabus commented on #44371
… just for the record: If you use an earlier version of PHP, you should neither have Symfony 6.0.0 nor psr/container 1.1.2 installed. ☝🏻🤓

[2021-11-30 18:04] victortodoran opened #44373 "Routes configured with native PHP attributes do not work without the doctrine/annotations bundle."
### Symfony version(s) affected

5.4.0

### Description

Routes configured with native PHP attributes do not work without the doctrine/annotations bundle.

By looking at the docs I would expect routes configured using PHP attributes to work without the need to install the doctrine annotations bundle.

### How to reproduce

Machine details:
-
- Ubuntu 20.04
- PHP cli 8.0.13
- Symfony 5.4.0 (skeleto

[2021-11-30 18:23] ben29 opened #44374 "Symfony config load PHP config"
### Symfony version(s) affected

5.*

### Description

I move my configuration to PHP format instead of YAML.

for now all the routes with php ext working fine.

but when I create for examples:

config/packages/webpack_encore.php:

with the content:

[code]
I'm getting error:

`The child config "output_path" under "webpack_encore" must be configured: The path where Encore is building the assets -

[2021-11-30 19:20] michaljusiega commented on #44316
I can confirm that in my apps this issue are occurs

[2021-11-30 19:41] xabbuh commented on #44374
Can you create a small example application that allows to reproduce your issue?

[2021-11-30 19:48] dmaicher commented on #44372
Seems this is caused by https://github.com/symfony/symfony/pull/41268/files#diff-8d7580406c9830c020792bbbb6841e34724efbc106a13ac1bf85cec39d9c75eeR33

`$connection` might be an object there as the phpdoc suggests

[2021-11-30 21:20] mbabker commented on #44373
What's your routing configuration look like?  I know there are some changes in the Flex recipe for 6.0 to make this work, but I think the 5.x recipe might still be based on the annotations package (since 5.x supports PHP 7).

[2021-11-30 21:23] derrabus commented on #44373
Correct, you have to enable attribute-based routing yourself on 5.4.

[2021-11-30 21:23] #44373 closed, assigned to nobody

[2021-11-30 21:28] ben29 commented on #44374
it will take time...
you can just create php config file with some config and see it's not loading the file.

[2021-11-30 21:29] aless673 commented on #44362
@stof here a light repo to test this issue : https://github.com/aless673/sf_auth_provider_issue

you just have to start symfony server, navigate http://127.0.0.1:8000/ and then watch log deprecations (http://127.0.0.1:8000/_profiler/latest?panel=logger)

here a copy of the security.yaml

[code]

[2021-11-30 22:21] gnito-org commented on #44372
Shouldn't it be configured as follows?

[code]

[2021-11-30 22:52] YetiCGN commented on #44371
You're right, target server still has PHP 7.3 even though I requested an upgrade to 7.4 last week. 😬 Didn't know about that! Thanks.

[2021-11-30 22:57] YetiCGN commented on #44366
Please check if you have `doctrine/dbal` 3.x. The ImportCommand had been deprecated for a long time now and has been removed. Explicitly requiring DBAL ^2.13.6 should bring it back for now.

[2021-11-30 23:07] chalasr commented on #44372
See #44739

[2021-11-30 23:47] chalasr commented on #44362
Unfortunately, this is on purpose.
If we don't force setting the configuring explicitly, your authenticator ends up with the first configured provider injected, which may lead to undesired (and dangerous) behaviors in case your authenticator does make use of the injected provider.
This was done in https://github.com/symfony/symfony/pull/43835 as follow-up of a security report that we didn't consid

[2021-12-01 00:12] aless673 commented on #44362
There is no existing configuration to set provider(s) for the option `custom_authenticators`, so how can we achieve it ?

[2021-12-01 00:58] thirdwheel commented on #37213
I had this error when running composer install on another project. I changed out iconv for mbstring and it worked.

[2021-12-01 07:59] xabbuh commented on #44332
@stof see #18318 and #16834

[2021-12-01 08:27] davidblack007 opened #44384 "Undefined constant AccessDecisionManager::STRATEGY_UNANIMOUS"
### Symfony version(s) affected
6.0

### Description
`Undefined constant Symfony\Component\Security\Core\Authorization\AccessDecisionManager::STRATEGY_UNANIMOUS`
When i logged in, i clicked to profiler security tab and it crashed.

security-bundle/Resources/views/Collector/security.html.twig:line 395

![s1](https://user-images.githubusercontent.com/8114447/144198262-423a12c4-c778-4574-ae52-c01e172

[2021-12-01 08:31] keichinger commented on #44355
@xabbuh I've created a very quick reproducer using the Symfony CLI and @yspef's recommendation re `viche/uploader-bundle`, since I didn't have an OSS lib lying around with an entity in it that was PHP 7.4 compatible (I haven't upgraded my machine to 8.1 yet).

https://github.com/keichinger/symfony-reproducer-automapper

Within the README, I've mentioned the following steps are necessary in order t

[2021-12-01 08:55] fancyweb commented on #44342
Actually, let's catch the exception, that's what we do everywhere else, I'll submit a patch.

[2021-12-01 09:38] ThomasTr commented on #44372
@gnito-org this is one way. The other way via url is not very well documented as i see. Fabien is doing it in his book: https://symfony.com/doc/current/the-fast-track/de/31-redis.html

I think we should include this possibility in the documentation? If ok i will open issue in doc.

[2021-12-01 09:51] AndrewStarkov opened #44387 "Http Client unable to connect from docker container to another container"
### Symfony version(s) affected

5.3

### Description

Hello, maybe curl set up in client has something broken. Or requires specific configuration for docker containers.
This bug occured after updating old code from native curl to symfony http client.

Executing curl from terminal or browser results in response 200.

[code]

executing with symfony http client return  error
[code]
solr is in docker

[2021-12-01 10:01] stof commented on #44387
When you say that executing the request with curl or the browser works, are you talking about doing that inside your container or on the host ?
Exposing a container port to the host does not automatically expose it to other containers. Trying to reach `127.0.0.1:8983` inside your container tries to use the port 8983 of that container, not of the host.

[2021-12-01 10:17] stof commented on #44366
@nicolas-grekas does the patching script handle properly classes that have an undefined parent class ? DoctrineBundle registers is proxy ImportCommand conditionally based on the existence of the DBAL class, but loading the file unconditionally in the script would produce a broken inheritance chain.

[2021-12-01 11:17] gassan opened #44390 "Regression in RememberMe(Handler/Listener)"
### Description

The primary source of all my users is an Keycloak (OAuth) instance (KCI)

I have implemented OAuthRememberMeToken, that uses refresh token with unlimited lifetime to retrieve User from KCI. I do not need to know $userClass or/and $userIdentifier at all, I need only to know realm name and user refresh token.

With an old RemeberMeServicesInterface I has full access to $authenticate

[2021-12-01 11:40] smilesrg commented on #39986
Adding additional info: URLs with line breaks passes validation: `"https://google.com\n"`. It leads to warning while redirecting: `Warning: Header may not contain more than a single header, new line detected`

[code]

[2021-12-01 11:47] seb-jean commented on #44366
I have `doctrine/dbal` 3.2.0

My project is a project initialized yesterday via the command:
`symfony new my_project_name --full`

[2021-12-01 11:56] ljack-adista opened #44391 "[FrameworkBundle / SecurityBundle] Symfony 6.0: `isGranted` unable to access `security.authorization_checker` service"
### Symfony version(s) affected

6.0+

### Description

The `Symfony\Bundle\FrameworkBundle\Controller\AbstractController::isGranted` method checks if the container has the `security.authorization_checker` service before using it (https://github.com/symfony/framework-bundle/blob/6.0/Controller/AbstractController.php#L189)

The problem is that this service has been made private in Symfony 6.0: http

[2021-12-01 12:09] AndrewStarkov commented on #44387
@stof  outside / inside app container

[code]
browser I mean the google chrome, webkit, which we use to open websites :)

question now, why native curl was working executing localhost solr, but http client  vendor/symfony/http-client/CurlHttpClient.php line 110
refused to connect.
What the cause of it? Could it be related how curl http client executes in async curl_multi_setopt / curl_multi_exec /

[2021-12-01 12:17] AndrewStarkov commented on #44387
@stof  yup, this issue occurs only in http client, here is working code executed inside docker "app" container

[code]

[2021-12-01 12:18] AndrewStarkov commented on #44387
So its definetely related to how http client handles multi connection to host or smth.
[code]
and composer.json of used http client package
[code]
we use:
- PHP 7.4
- http2
- cURL
[code]
I recall there were some issues in some tickets related to http version 2 and curl version.

Note: all outer requests from the container with HTTP client seem to work properly. Eg calling dev/prod solr instance wo

[2021-12-01 12:44] Aerendir opened #44392 "[symfony/dependency-injection] It only supports psr/container:^2"
### Symfony version(s) affected

6.0.0

### Description

Fatal error: Declaration of Symfony\Component\DependencyInjection\ContainerInterface::has($id) must be compatible with Psr\Container\ContainerInterface::has(string $id): bool in /home/runner/work/bundle-features/bundle-features/vendor/symfony/dependency-injection/ContainerInterface.php on line 63

This error seems to happen due to a differen

[2021-12-01 13:01] xabbuh commented on #44392
According to https://github.com/Aerendir/bundle-features/runs/4362660359?check_suite_focus=true#step:8:57 the error happens on version 4.4.9 but not 6.0.

[2021-12-01 13:05] xabbuh commented on #44392
But I fail to see why you get `psr/container` in version 2 installed. The DI component was only compatible with 1.x: https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/DependencyInjection/composer.json#L20

[2021-12-01 13:08] xabbuh commented on #44391
Can you create a small example application that allows to reproduce your issue?

[2021-12-01 13:29] stof commented on #44392
The GitHub Actions output linked above seems to run 2 composer updates one after the other (the second one probably triggered by a plugin or a script AFAICT).
The first one properly installs `psr/container` 1.0. The second one installs `psr/container` 2.0.2, probably in a different vendor folder and it looks like those versions get loaded instead of the one from the project.

[2021-12-01 13:31] nicolas-grekas commented on #44392
The first one installs symfony/dependency-injection with psr/container v1
The second one installs phpunit with psr/container v2
Then, loading autoload.php of both runs won't work.
Closing as there is no issue in our deps.

[2021-12-01 13:31] #44392 closed, assigned to nobody

[2021-12-01 13:37] ljack-adista commented on #44391
Unable to reproduce on a new Symfony 6 project, must be something I missed in the upgrade process...

[2021-12-01 13:48] bbuehrle opened #44393 "[Mailer] "dh key too small" error"
### Symfony version(s) affected

^4.4|^5.0|^6.0

### Description

I am trying to connect `symfony/mailer` to [Network Solutions](https://www.networksolutions.com) for sending emails.  When connecting, openssl throws an error:

[code]

Stack Overflow suggests that the solution is to reduce the security level of openssl to 1. [See question here](https://askubuntu.com/a/1233456/909866).  Instead of r

[2021-12-01 13:50] niklasnatter commented on #40404
I think this is a duplicate of https://github.com/symfony/symfony/issues/25609 and should be fixed by https://github.com/symfony/symfony/pull/43901

[2021-12-01 13:52] liarco commented on #40404
Thank you @niklasnatter, I'm gonna try that out as soon as I can.

[2021-12-01 13:56] stof commented on #44393
I suggest you report this to Network Solutions too, as the best fix would be for their server to be compatible with a secure configuration of openssl (there's a good reason why openssl disables those by default).

[2021-12-01 13:59] xabbuh commented on #44391
Thank you for the feedback. Let's close here for now then.

[2021-12-01 13:59] #44391 closed, assigned to nobody

[2021-12-01 14:07] tacman commented on #44374
I think this might be relevant:

From https://symfony.com/doc/current/configuration.html

I changed src/Kernel.php to

[code]

and it is now working for me.

[2021-12-01 14:08] ruudk commented on #39122
FWIW, I was just looking into this. I would solve this by assigning the error to the `src/Kernel.php` as it originates from there and without a line number (optional, otherwise 1).

[2021-12-01 14:46] bbuehrle commented on #44393
I absolutely agree, @stof!

[2021-12-01 14:54] #44372 closed, assigned to nobody

[2021-12-01 14:55] stof commented on #44357
to me, it even makes this worse, as it makes it harder to find listeners registered for an event (as that list would be dynamic)

[2021-12-01 14:57] #44345 closed, assigned to nobody

[2021-12-01 15:10] #44369 closed, assigned to nobody

[2021-12-01 15:23] bbuehrle commented on #44393
I absolutely agree, @stof!  If it were up to me, I would have our company off of this provider due to their web UI alone, much less their lack of security. [SSL Labs](https://www.ssllabs.com/ssltest/analyze.html?d=networksolutionsemail.com&hideResults=on) ranks it as "B" on security and lights up all kinds of orange and red, so I don't think they care much about their user's security.  Fortunately

[2021-12-01 15:52] gjuric opened #44396 "Document changes to PreAuthenticatedToken in 5.4"
### Description

`Symfony\Component\Security\Core\Authentication\Token\PreAuthenticatedToken` changed it's signature from [v5.3](https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenticatedToken.php#L31)

[code]

to this in [v5.4](https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Security/Core/Authentication/Token/PreAuthenti

[2021-12-01 15:54] lgeorgiev opened #44397 "Upgrade to Symfony 5.4 - the web profiler does not work"
### Symfony version(s) affected

5.4.0

### Description

Return value of Symfony\Component\HttpKernel\DataCollector\MemoryDataCollector::getMemoryLimit() must be of the type int, float returned

php.ini - memory_limit = 2G
OS: Windows
PHP: 7.4.16

### How to reproduce

[code]

2147483648.0

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-12-01 15:56] derrabus commented on #44396
PR welcome.

[2021-12-01 15:58] Aerendir commented on #44392
Thank you: I will investigate it further...

[2021-12-01 15:59] dimiceli commented on #44357
@ro0NL @stof  good arguments, i closed the ticket without regreats, thanks for your time.

[2021-12-01 16:29] fjgarlin commented on #34894
Hi, I have the exact situation described above. Multiple `->in(...)` directories and I want to exclude only some folders in some of those locations, which may exist on others (if specified as relative).

Having a `notAbsolute` or `excludeAbsolute` or something similar would definitely help. Could this issue be re-opened?

[2021-12-01 16:41] derrabus commented on #44397
Are you using a 32bit PHP binary?

[2021-12-01 16:43] zip-fa opened #44400 "[Messenger] Could not acknowledge redis message with BatchHandlerInterface"
### Symfony version(s) affected

5.4.0, 6.0.0

### How to reproduce

I have MessengerHandler which makes http requests (_**with only one parallel consumer**_):

messenger.yaml:
[code]

TestMessageHandler.php:
[code]

cli:

```MESSENGER_CONSUMER_NAME=test php bin/console messenger:consume test```

Code works okay, but when i hit ctrl+c before script finished and start it again, it throws me an erro

[2021-12-01 16:55] lgeorgiev commented on #44397
32bit - PHP_INT_SIZE = 4

[2021-12-01 17:02] albangonzalez opened #44401 "Symfony 6.0 - Web Profiler broken using dump()"
### Symfony version(s) affected

6.0.0

### Description

It looks like the Web Profiler doesn't work when I pass an **Entity** as a parameter of `dump()` function
The toolbar will show _An error occurred while loading the web debug toolbar._ and trying to access the Profiler page will show the same **error**: `Typed property Symfony\Component\HttpKernel\Debug\FileLinkFormatter::$requestStack must

[2021-12-01 17:03] #44342 closed, assigned to fancyweb

[2021-12-01 17:14] derrabus commented on #44401
#44402

[2021-12-01 17:18] derrabus commented on #44397
That explains it. We can certainly remove the return type here, but then again, you cannot actually allocate 2 GiB of memory on a 32bit system, can you?

[2021-12-01 17:25] albangonzalez commented on #44401
Thank you @derrabus! I tried your PR and it worked, faster than light ⚡

[2021-12-01 17:27] #44401 closed, assigned to nobody

[2021-12-01 17:45] StuTheBearded opened #44403 "EventDispatcher addListener union type inconsistency"
### Symfony version(s) affected

6.0.0

### Description

I've noticed in the latest version of EventDispatcher that the addListener method has picked up a union type for the $listener parameter. This causes me a bit of an issue with my reflection based dependency injection container as ReflectionUnionType doesn't have a getName() method which it needs to determine type, now I realise this that bit

[2021-12-01 17:51] nicolas-grekas commented on #44403
It's by design:
`array` is required because the `EventDispatcher` implementation
is able to deal with lazy callables that look like: `[Closure, 'method']`

[2021-12-01 17:51] #44403 closed, assigned to nobody

[2021-12-01 17:52] lgeorgiev commented on #44397
I'm not sure if I can.

Thanks for the reply!

[2021-12-01 18:42] ghost commented on #44387
Please limit the chaos in your comments. It's hard to understand where you are in your talk.

As stof mentioned, when you are inside a container then 127.0.0.1 is the container's scope, not your host (your computer).
Tomcat exposes port 8983 to your host, not to "everyone" outside tomcat's container.

I recommend putting containers that talk one to another in the same docker network. Then instead

[2021-12-01 19:36] webmake commented on #44283
Yes, it seems that patch fixes somehow :+1:  when we can expect at 4.4?

[2021-12-01 20:39] zaneevat commented on #41032
I will do.

[2021-12-02 01:30] ad3n commented on #44397
https://github.com/php-runtime/runtime/issues/106

We use Macbook Pro and also get error for profiler, i use swoole runtime

[2021-12-02 05:22] laraveladmin-cn opened #44406 "The relative file path is generated incorrectly"
### Symfony version(s) affected

5.4

### Description

[2021-12-02 13:18:15] local.ERROR: symlink(): No such file or directory {"exception":"[object] (ErrorException(code: 0): symlink(): No such file or directory at /var/www/laravel/laraveladmin/vendor/laravel/framework/src/Illuminate/Filesystem/Filesystem.php:315)
[stacktrace]
#0 [internal function]: Illuminate\\Foundation\\Bootstrap\\HandleExcep

[2021-12-02 05:51] chen-gloria commented on #24817
Does that mean the documentation is wrong? https://symfony.com/doc/current/controller/error_pages.html#example-404-error-template

Since it doesn't have `views` in the folder.

[2021-12-02 05:59] chen-gloria opened #44407 "Where are the default error page templates?"
In this documentation: https://symfony.com/doc/current/controller/error_pages.html I was looking for the templates of the default error page. I installed the TwigBundle `composer require symfony/twig-pack`, but I couldn't find the `error.html.twig` or any other exception/error twigs according to this documentation.

I tried to create `templates/bundles/TwigBundle/Exception/` directory to overwrite

[2021-12-02 07:58] nikophil commented on #42825
nice to see this fix
on our side we've fixed by forcing the connection to disconnect when a `TransportException` occurs in `AMQPTransport`

[code]

but I think @brzuchal  is cleaner

[2021-12-02 07:59] xabbuh commented on #44406
Can you create a small example application that allows to reproduce your issue?

[2021-12-02 08:21] grosfaignan opened #44408 "composer bug with symfony"
### Symfony version(s) affected

4.25.5

### Description

when using composer command like `composer -v` :

[code]
### How to reproduce

don't know how to reproduce it but i have this config :
-php 7.0.0 ts
-xdebug php_xdebug-2.7.0beta1-7.0-vc14-x86_64 (for php 7 ts)
-Composer version 2.1.12
-mysql 8

it seems to don't have this issues with php 8

### Possible Solution
remove `?` before `string `

[2021-12-02 08:27] nicolas-grekas commented on #44408
Flex requires PHP 7.1 minimum, you cannot use it on PHP 7.0

[2021-12-02 08:27] #44408 closed, assigned to nobody

[2021-12-02 08:27] grosfaignan commented on #44408
ok thanks :)

[2021-12-02 08:31] derrabus commented on #44408
Please use GitHub discussions for support questions. Thanks.

[2021-12-02 08:32] grosfaignan commented on #44408
ok

[2021-12-02 09:43] stof commented on #24817
@chen-gloria no. the doc is right for the Symfony 5+ folder structure. The one in this ticket from 2017 is based on the old folder structure from Symfony 3.

[2021-12-02 09:47] spackmat commented on #40988
I think a generic messenger channel or a documented was to implement messengers with ID instead of a phone number would be a nice thing for the messenger component. Until that, this issue documents one possible way for Threema.

[2021-12-02 09:49] chen-gloria commented on #24817
I actually just used the [doc](https://symfony.com/doc/current/controller/error_pages.html#example-404-error-template) trying to overwrite error page this afternoon (I'm using Symfony 5.3). I did `composer require symfony/twig-pack` as what the [doc](https://symfony.com/doc/current/controller/error_pages.html#example-404-error-template) said. But I found no Twig in the vendor. So I guess the [doc]

[2021-12-02 09:53] kschnekenburger commented on #37615
Hi,
I have a same issue since 5.4, can you have a solution or i tried to push PR ?

[2021-12-02 09:57] stof commented on #44387
Your comment https://github.com/symfony/symfony/issues/44387#issuecomment-983579842 proves that this is not an issue with the Symfony HttpClient. Using curl inside your container also fails to access your solr. This is an issue in your understanding of how docker networking works, and @javaDeveloperKid and I already explained it in comments.

I'm closing this issue as there is no issue to be solve

[2021-12-02 09:57] #44387 closed, assigned to nobody

[2021-12-02 09:58] xabbuh commented on #24817
Can you create a small example application that allows to reproduce your issue?

[2021-12-02 10:00] stof commented on #24817
@chen-gloria make sure you follow the doc from the start of the section about customizing error pages: https://symfony.com/doc/current/controller/error_pages.html#overriding-the-default-error-templates
If you don't have Twig in your vendor folder, it means you haven't done the first step.

[2021-12-02 10:00] nicolas-grekas commented on #37615
Please send a PR if you can yes! Don't miss adding test cases :pray:

[2021-12-02 10:05] kschnekenburger commented on #37615
Thanks for anwser @nicolas-grekas but, this PR is not suffisant ?
https://github.com/symfony/symfony/pull/37622/commits/47bd0180d17cbaa3409de909020901820d89b047#diff-dfb05643a203ab1fe4371836643686b0540a3298b6e96b14b98d7768442fb3e8

[2021-12-02 10:05] Kocal opened #44414 "[Translation][Loco] Consider sending `If-Modified-Since` or `If-None-Match` header when pulling translations"
### Description

In [their documentation](https://localise.biz/help/developers/api-rate#etag), Loco recommends to send header `If-Modified-Since` (with the previous value of `Last-Modified` response header) or header `If-None-Match` (with the previous value of `ETag` response header), if you need to download changes very regularly (which can be the case in local or CI).

By implementing this, we c

[2021-12-02 10:08] nicolas-grekas commented on #37615
This PR is already merged, but you're the one saying that the issue still exists on 5.4 :)

[2021-12-02 10:12] xabbuh commented on #37615
@kevcomparadise That particular commit was reverted as it seems to cause a regression. So it looks like a potential bugfix would also have to take https://github.com/symfony/symfony/pull/37622#issuecomment-683392308 into account.

[2021-12-02 10:52] jpswade opened #44415 "getContent on StreamedResponse shouldn't return false"
### Symfony version(s) affected

all

### Description

When trying to debug an issue with the StreamedResponse, and trying to getContent, you get a false, however, you would expect an exception, rather than false, as you get an exception when you try to set content, which makes it clear.

If you can't getContent on an object, it should throw an exception, because it's exceptional circumstance rath

[2021-12-02 10:57] AndrewStarkov commented on #44387
@javaDeveloperKid can you please add a configuration refference? Calling tomcat:8983/sorl fails even though its configured as you mentioned
[code]

@stof but this code **works** fine from the same app, just replaced client code lines with curl
[code]

that one is broken.
This issue occured after replacing old code(curl) with symfony http client. Reverting changes to curl() solves "connection refus

[2021-12-02 11:50] brzuchal commented on #41796
I don't use Validator component in my project but this issue hits me, looks like the loader is loaded anyway.

---

Bumping up `doctrine/doctrine-bundle` to v2.4.3 helped me.

[2021-12-02 13:05] theofidry commented on #41482
No

[2021-12-02 13:08] simPod commented on #40540
yup

[2021-12-02 13:18] ivansrdic opened #44417 "[PropertyInfo] Namespace use s"
### Symfony version(s) affected

5.4.0,6.0.0

### Description

If we have a class which has `use` statements which use a namespace instead of a class/interface, `\Symfony\Component\PropertyInfo\PhpStan\NameScope::resolveStringName` throws an exception.

### How to reproduce

[code]

[code]

run `bin/console cache:clear` and you will get an exception like this

[code]

### Possible Solution

I thin

[2021-12-02 13:24] kschnekenburger commented on #37615
Done
https://github.com/symfony/symfony/pull/44419

[2021-12-02 13:24] nicolas-grekas commented on #44417
Must be related to #40457 /cc @Korbeil WDYT?

[2021-12-02 13:38] nicolas-grekas commented on #44313
The deprecation we had in the Symfony codebase has been fixed in https://github.com/symfony/symfony/pull/44319
For inspiration maybe.

[2021-12-02 13:59] Korbeil commented on #44417
Thanks for your report @ivansrdic and your ping @nicolas-grekas.
I made a reproducer: https://github.com/Korbeil/symfony/commit/33f8d1758e1b8e3167d784c2fe3da3972ae1fef9 and will try to find a fix as soon as I can :pray:
I tried with your suggestion but it doesn't seem to fix the issue.

[2021-12-02 14:13] #44396 closed, assigned to nobody

[2021-12-02 14:42] dvdknaap commented on #44384
I got the same issue in 6.0

on vendor/symfony/security-bundle/Resources/views/Collector/security.html.twig:395
[code]

it's checking for a constant which doesn't exist anymore and php is throwing the exception

The twig constant function is using twig_constant in
vendor/twig/twig/src/Extension/CoreExtension.php:1304
[code]
Below this twig functing (which is not in the documentation) to check if a

[2021-12-02 16:08] derrabus commented on #44384
see #44424

[2021-12-02 16:17] #44384 closed, assigned to nobody

[2021-12-02 16:18] noniagriconomie commented on #44407
the default source files are here https://github.com/symfony/error-handler/tree/5.4/Resources/views
it should work with twig override, `None of them work.` can you be more precise?

[2021-12-02 16:23] #44407 closed, assigned to nobody

[2021-12-02 16:31] fabpot commented on #44414
Looks like a good idea to me. Up for a PR?

[2021-12-02 16:33] ivoba opened #44426 "[PhpUnitBridge] Cannot declare class DeepCopy\DeepCopy, because the name is already in use"
### Symfony version(s) affected

5.4.0

### Description

When running Functional tests in a symfony project that has DeepCopy as service and dependency this error occurs:

[code]
I suppose it is because Phpunit also requires DeepCopy and the PhpUnitBridge somehow mixes dependencies?

The tests outputs the symfony error page.

### How to reproduce

Have a project that uses DeepCopy and run a functi

[2021-12-02 16:42] welcoMattic commented on #44414
Looks good to me too @Kocal, go ahead for a PR

[2021-12-02 17:26] fancyweb commented on #44426
Hello, can you create a small example application that allows to reproduce your issue please?

[2021-12-02 17:34] Kocal commented on #44414
I will try to open a PR ASAP. Should `Last-Modified` be stored inside the `.xlf` file?

Should I target branch 5.3 or 6.1? To me that's a new _internal_ feature that won't be visible to the end user, so I'm more in favor of 5.3.

[2021-12-02 17:44] ben29 commented on #44374
@tacman yes this why I do to make it work.
but it should be loaded. without override the fie

[2021-12-02 18:30] ro0NL commented on #44315
IIUC we could track all mutator calls, to then create a new accessor, eg. `hasCurrent`

[2021-12-02 19:42] fabpot commented on #44414
Not a bug, do 6.1.

[2021-12-02 20:27] poolerMF commented on #40918
+1

[2021-12-02 20:39] andreo-code opened #44429 "Autowiring inherit interfaces marked with the Target attribute"
### Description

Hi.

[code]
Is it possible to register aliases of inherited interfaces?

Best Regards. Andrew

### Example

[code]

[2021-12-02 21:45] vlastv opened #44431 "[PropertyInfo] PhpStan FQSEN error"
### Symfony version(s) affected

5.4, 6.*

### Description

PhpStanExtractor incorrect detect class with different namespace. PhpDocExtractor work correct.

#40457

### How to reproduce

[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-12-02 21:46] chen-gloria commented on #24817
I turned off the dev environment and it works now. I guess it is just because I was in dev mode. The Twig overwrite works fine.
I just added  `APP_DEBUG=0` to my `.env` file. Thanks a lot!

[2021-12-02 21:46] chen-gloria commented on #24817
Turned off the DEBUG mode and it works now. Thanks!

[2021-12-03 00:03] chen-gloria commented on #24817
Direct you to [this discussion](https://github.com/symfony/symfony/discussions/44425) where I just explained what I've done with my problem. Thank you all!

[2021-12-03 06:24] dvdknaap opened #44432 "inputbag doesn't allow array's"
### Symfony version(s) affected

6.0

### Description

This bug was already mentioned in https://github.com/symfony/symfony/pull/41766#issuecomment-876248038

The issue is still not fixed and get a 'Message: Input value "fieldname" contains a non-scalar value.' error now.

The set function is accepting an error and even \Stringable but the accept doesn't have the same check and is inconsistent now

[2021-12-03 06:55] andreo-code commented on #44429
I'm sorry my mistake

[2021-12-03 06:55] #44429 closed, assigned to nobody

[2021-12-03 08:03] ro0NL commented on #44432
Still, this is by design: https://github.com/symfony/symfony/pull/41766#issuecomment-865083005

[2021-12-03 08:22] dvdknaap commented on #44432
That comment doesn't make sense because it was working in the past and now it's not working anymore.

[2021-12-03 08:25] ro0NL commented on #44432
Well, it was deprecated in 5.x, removed in 6.0.

[2021-12-03 09:22] micheh opened #44433 "[HttpKernel] Wrong template is rendered when configuring an exception status code"
### Symfony version(s) affected

5.4.0

### Description

@lyrixx added a way to configure the status code of an exception (in #42244). When configuring the status code of an exception, the HTTP status code of the response is set as expected. However, the rendered HTML template does not seem to take the configured status code in account and Symfony will render the template as if the status code was

[2021-12-03 09:45] lyrixx commented on #44433
Thanks for the feedback. I'll have a look this weekend

[2021-12-03 10:03] simonchrz opened #44434 "[HttpKernel] wrong usage of SessionUtils::popSessionCookie AbstractSessionListener"
### Symfony version(s) affected

5.4.0

### Description

On Kernel reponse we currently get two Set-Cookie header == one generated by php because of a session_start() call and the other one created by the symfony SessionListener. The parent class AbstractSessionListener wants to remove possible other Set-Cookie header by using the SessionUtils::popSessionCookie function. This doesn't works right n

[2021-12-03 11:33] swnjfn opened #44439 "[Mailer] HTML-Mail with TWIG Template and async transport"
### Symfony version(s) affected

5.*

### Description

Trying to send a html mail with twig template (https://symfony.com/doc/current/mailer.html#html-content) with async transport (https://symfony.com/doc/current/mailer.html#sending-messages-async).

[code]

### How to reproduce

The Problem occure in my case when putting an entity in the context of the mail object

[code]
In my case there are so

[2021-12-03 11:35] adaniloff commented on #44334
Hi, any news on this issue ?
I'd be happy to contribute but I've no clue what's really going on.

[2021-12-03 11:52] ivoba commented on #44426
Hi @fancyweb
see: https://github.com/ivoba/phpstan-test

[2021-12-03 12:09] vlastv commented on #32900
This is relevant, the problem is urgent.

[2021-12-03 12:13] xabbuh commented on #32900
@vlastv I suggest that you urgently implement this feature then and send a PR.

[2021-12-03 12:18] xabbuh commented on #44426
@ivoba I cannot reproduce this:

[code]

[2021-12-03 12:18] fancyweb commented on #44426
I cannot reproduce the error on my side, even in your Docker container. Also in this issue you say the error occurs on PHP 7.4, but the Docker container runs PHP 8.0.

[2021-12-03 12:41] Nebucatnetzer commented on #27333
I would like to add some more information.
We ran into this with the `InputArgument` because we have string inputs which can start with a hyphen.
The current workaround is now to make the argument an option which is actually wrong in our use case because it isn't really optional.
However because `--something="-stringwithhyphe"` works we went with that for the moment.

[2021-12-03 12:43] ivoba commented on #44426
It happens on both 7.4 and 8.0.
I have it happen even in bitbucket pipelines, not just in this Docker container.

I cleared the test cache hard : `rm -rf var/cache/test` and then tests pass.

Then i run `bin/console cache:clear --env=test` and then the error occurs again.
Maybe this helps. Thanks.

[2021-12-03 12:48] fancyweb commented on #44426
Thanks for the further steps to reproduce, I have the error too now.

[2021-12-03 13:06] noniagriconomie commented on #44439
IIUC, you put the entire email in the message envelope and you dispatch it?
If yes, I would recommend to compute the entire mail payload in the handler instead, and passing to the handler just the bare data :)

[2021-12-03 13:11] swnjfn commented on #44439
i am sorry but i dont know what you mean with `IIUC`.

do i have a choice? I just `send` the mail. What then is happen is done by Mailer.

[2021-12-03 13:15] fancyweb commented on #44426
The functional test uses the dumped PHP container. During the controller instantiation, the `DeepCopy` class file is included:
`include_once \dirname(__DIR__, 4).'/vendor/myclabs/deep-copy/src/DeepCopy/DeepCopy.php';`

But it already exists and it was included with a different path (`./vendor/bin/.phpunit/phpunit-9.5-0/vendor/myclabs/deep-copy/src/DeepCopy/DeepCopy.php`) so it fails. I guess it co

[2021-12-03 13:19] ThauEx opened #44443 "[BrowserKit] When uploading files, body is a Generator and no string"
### Symfony version(s) affected

4.4.25

### Description

I noticed today that when uploading a file in a behat test with Goutte 4, it fails to detect the uploaded file.

After some research I found this line: https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/BrowserKit/HttpBrowser.php#L87
It returns a Generator for the uploaded file.
But when checking the response class here https

[2021-12-03 13:35] xepozz opened #44444 "[Translations] Lokalise adapter is working incorrect"
### Symfony version(s) affected

At least ^5.3

### Description

I have a large file with translations (about 130 messages) and when I trying to push or pull translations I fail with error:

[code]

Due to request is too long as said lokalise server:

[code]

Because of the adapter is trying to send all keys to lokalise in https://github.com/symfony/symfony/blob/5.3/src/Symfony/Component/Translati

[2021-12-03 13:41] xepozz commented on #44444
Nice issue ID 😉

[2021-12-03 13:45] iquito opened #44445 "Preloading error because of CsrfTokenManagerInterface in Form component"
### Symfony version(s) affected

6.0.0

### Description

I am using the form component, but not the security component, and when trying to use preloading in my application (by including the preloading file generated by Symfony) it fails with:

[code]

### How to reproduce

Create a project with the Symfony form component and Symfony DI + Framework components (but without the security component), d

[2021-12-03 13:57] nicolas-grekas commented on #44445
Closing as duplicate of #44364
See #44380 for a possible fix.

[2021-12-03 13:57] #44445 closed, assigned to nobody

[2021-12-03 14:01] iquito commented on #44445
Thanks! Sorry for the duplication, I guess I looked for the wrong type of issue.

[2021-12-03 14:08] welcoMattic commented on #44444
Hello @xepozz, thank you for reporting it.

In fact with many translations this feature does not work as expected.
Would you open a PR to fix the problem by filtering locally as you suggest?

[2021-12-03 14:11] noniagriconomie commented on #44439
IIUC :> If I Understand Correctly

i do not know what mailer does from its side on async logic, i send async email like i've described to you :)

[2021-12-03 14:41] keichinger commented on #40858
I'd still love to get this improved :)

[2021-12-03 15:05] Reivax47 commented on #26277
@ziedlahbib

I've had the same issue today. For me, it was a pretty stupid mistake :
in services.yaml I used // instead of # for comments.
`parameters:
    session_max_idle_time: 1800 // en secondes !`
So, the SessionHandler did shut down the session on the first redirect.

[2021-12-03 15:24] gisostallenberg commented on #42620
@lyrixx I think I found the specific comment (did not take me 3 days 😎): https://github.com/symfony/symfony/pull/29538#discussion_r241770962
Then your opinion was "Let's be simple 👍🏽 ", so not adding an additional level in the metadata. So I will just add the possibility to set the `shape` under `metadata` and add tests.

[2021-12-03 15:35] villfa opened #44450 "[PhpUnitBridge] Remove return type of MockeryTestCase"
### Description

Hi,

When the `SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT` env variable is set to *true* the code of the PHPUnit's TestCase is altered.

It would be great to do the same with MockeryTestCase if present.
`setUp()` and `tearDown()` are overridden in [a trait](https://github.com/mockery/mockery/blob/7a02141/library/Mockery/Adapter/Phpunit/MockeryTestCaseSetUp.php).

That way PHPUnit-Brid

[2021-12-03 16:10] xabbuh commented on #44432
Closing here as explained above. We deliberately made this design change.

[2021-12-03 16:10] #44432 closed, assigned to nobody

[2021-12-03 17:14] the-conqueror-97 commented on #43536
Hi, i just got the same issue.
I get this issue on the registration page after doing make:registration-form

I'm sure, the problem comes from $roles property that returns json data.

I have no way to fix it. Any temporary solution until the fix release ?

[2021-12-03 17:52] alexislefebvre commented on #44094
Could you please share an example of an email string that match with your issue?

[2021-12-03 18:01] derrabus commented on #43536
Please read the previous posts or use GitHub discussions if you need further assistance.

[2021-12-03 19:11] EmilMassey opened #44455 "[PropertyInfo] Incorrect handling of pseudo-types"
### Symfony version(s) affected

4.x, 5.x, 6.0

### Description

Since static-analysis tools like PHPStan or Psalm became more popular, it is not uncommon to see usage of pseudo-type like:
[code]
Some pseudo-types are currently supported (see #43916 introducing `list` type) but others are not. We can add support for popular custom types used by PHPStan or phpDocumentor (see #44451) but there will

[2021-12-03 21:44] aderiyenko commented on #44433
Hi @lyrixx and @micheh!

Not sure I did it correctly, but tried to fix it in [here](https://github.com/symfony/symfony/pull/44456). Could you have a look if and when you have a moment?

[2021-12-04 00:59] Ysandor commented on #40918
I'm also building a SPA which uses a Symfony application on the server and I am facing the same issue.
I don't understand the position of Symfony saying that a SPA should be stateless, or at least I'm not convinced by the arguments given until now.
Stateless applications are built stateless to answer some technical or functional requirements but that doesn't mean that all applications need to be b

[2021-12-04 01:18] yceruto commented on #44433
We should also take care of `SerializerErrorRenderer` for API exceptions response body.

[2021-12-04 01:25] yceruto commented on #44433
What if we wrap the original exception (if it's mapped) into a `HttpException` with the mapped status code before handling the exception subrequest in `ErrorListener`? Thus, no change is needed on any ErrorRenderer implementation.

Otherwise, even the custom error renderers will have to worry about this exception mapping strategy on their own to fix the response body info.

[2021-12-04 04:59] BusterNeece opened #44457 "[Console] Default command `DumpCompletionCommand` referring to possibly-empty $_SERVER["PHP_SELF"]"
### Symfony version(s) affected

5.4.0

### Description

The `DumpCompletionCommand`, one of the commands registered by default when initializing the Symfony Console, appears to now have a check in version 5.4.0 for `$_SERVER["PHP_SELF"]`, with no fallback if that value is empty or not set.

This causes strict tests to fail in CLI environments, where that variable often _isn't_ set. Per the PHP do

[2021-12-04 07:59] n0rbyt3 commented on #44457
The value always exists. Quoting the PHP docs (https://www.php.net/manual/en/reserved.variables.server.php):

Even if I run code via ```php -r``` command line, the value is set as ```Standard input code```.

[2021-12-04 08:07] n0rbyt3 commented on #44443
Without any code, this is hard to reproduce. The private function ```getBodyAndExtraHeaders``` returns a tuple with ```$body``` as ```iterable``` like you have mentioned. But this is passed to the ```HttpClientInterface``` which can handle those iterables.

Also the ```Response``` class of the ```BrowserKit``` component can only be instantiated with ```string $content``` and the variable is privat

[2021-12-04 08:25] aderiyenko commented on #44433
Thanks for the idea, @yceruto . Let me think of it and try to do. But not sure if I should do it as a separate PR and then we select which one to merge? Just to have both ideas side-by-side. Give me some time, I'll try to come up with something and thanks for the idea!

[2021-12-04 08:56] GromNaN commented on #44457
`$_SERVER["PHP_SELF"]` is also required to show the help of any command.

https://github.com/symfony/symfony/blob/v5.4.0/src/Symfony/Component/Console/Command/Command.php#L597

How do you get with an environment without this variable set? Can you provide more context?

[2021-12-04 13:11] #38873 closed, assigned to nobody

[2021-12-04 13:11] #40953 closed, assigned to nobody

[2021-12-04 14:58] #31245 closed

[2021-12-04 16:48] cluis13915 commented on #24775
Just in case someone is struggling with this yet, I found that getting repository from services constructor throws "Segmentation fault (core dumped)" when clearing the cache. Removing `getRepository()` calls from constructors makes the error goes away.

Bad:
[code]
Good:
[code]

[2021-12-04 17:13] chalasr commented on #44362
Got it, the message is ambiguous. See #44460 for the fix

[2021-12-04 18:24] UtechtDustin commented on #44346
@nicolas-grekas
It would help if the symfony binary would show a error message at least.
Because it looks like anything is fine and then the half of the project is broken.
If you don't run the composer command manually you don't even know what the reason is.

The best would be if symfony could check if you can create a new symfony project with the local setup with a short success/error message.

[2021-12-04 18:31] tarlepp opened #44461 "[Console] Autocomplete feature is not working when using alias"
### Symfony version(s) affected

5.4.0

### Description

If I use bash alias like;
[code]

then autocomplete feature doesn't work when I try following;
[code]

but it works as expected when I use it like;
[code]

### How to reproduce

See the description.

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-12-04 19:56] aless673 commented on #44362
If i have a firewall with 2 custom authenticators with 2 different providers, how should i configure it ?
Normally, looking at the doc, the provider should now be set directly in the authenticator class

https://symfony.com.ua/doc/current/security/experimental_authenticators.html#creating-a-custom-authenticator

[2021-12-04 20:34] tarlepp commented on #44461
Also noticed that if I add that `/app/bin` to `PATH` env it doesn't work as expected.

[2021-12-04 20:54] mjpvandenberg commented on #41544
Could you elaborate on this please @nicolas-grekas? ULIDs especially seem perfectly fine.

[2021-12-04 21:14] VincentChalnot commented on #41544
UUID/ULIDs, when used as primary keys will end up being used as foreign keys in your other tables which can increase disk usage and memory consumptions in queries. I could'nt find any other evidence regarding this issue anywhere on the net.

On a slightly out of topic note, you also end up arguing endlessly with your manager about the actual benefit of using U*IDs when nobody seems to care about e

[2021-12-04 22:17] erlangparasu opened #44462 "[Runtime] GenericRuntime: body data from php://input"
### Description

Currently body data extracted from global variable `$_POST`,
i think will be better if `$_POST` as 'fields',
then `php://input` as 'body'
Thank you

https://github.com/symfony/symfony/blob/1d64ab2e5bbe8002a01bb044e8d9087c4db256a7/src/Symfony/Component/Runtime/GenericRuntime.php#L171

### Example

[code]

or

[code]

[2021-12-04 23:17] GromNaN commented on #44433
@yceruto That would be a breaking change. If any `ErrorRenderer` uses the class of the exception, it would receive an `HttpException`.

Current behavior:
![image](https://user-images.githubusercontent.com/400034/144727465-9dc5c52e-7cfa-4176-8d76-d00102b45dd8.png)

Your suggestion:
![image](https://user-images.githubusercontent.com/400034/144727468-8191ff34-a2a8-4032-8ede-d2f8959ba236.png)

[2021-12-05 00:48] BusterNeece commented on #44457
I looked into it, and the place I'm getting a `$_SERVER` superglobal with no "PHP_SELF" in it is by calling `getServer` on a `Symfony\Component\BrowserKit\Request`. A workaround to this issue in my case is just to supply that value, but it's interesting that it isn't present there.

[2021-12-05 08:01] GromNaN commented on #44457
Great finding. I understand that you are running `Console\Application`, especially the `DumpCompletionCommand` in the context of a HTTP request, and it fails when you test it with `BrowserKit`.

[2021-12-05 09:00] michaelKaefer commented on #20837
Hi @derrabus, the only thing missing is a decision if I understand right. After the decision you are going to implement it. So there is no reason for a `Help wanted` label, or?

[2021-12-05 10:04] derrabus commented on #20837
Apparently, the discussion stalled. If someone would work in a PR, I think that would help moving this issue forward. I won't have time to do that right now.

[2021-12-05 11:13] ThauEx commented on #44443
I will check this next week again, maybe I can provide an example.

[2021-12-05 12:04] GuilhermeMReis commented on #37005
For me it was the missing php module `pcntl` from my Dockerfile.

Fixed adding them in. (given that you're image is the  `php:fpm`)

`Dockerfile`
[code]

I hope more people like me can get the fix done

[2021-12-05 14:43] vudaltsov opened #44465 "Preloading problems in Symfony 6"
### Symfony version(s) affected

6.0.0

### Description

Context: I have no `symfony/expression-language` package, because I don't need it.

Nevertheless, PHP preloading fails, because `ExpressionLanguage` is explicitly used in `ExpressionValidator` (`validator.expression` service) and in `ContainerBuilder`. To solve the first problem I can tag `validator.expression` with `container.no_preload` or

[2021-12-05 14:46] yceruto commented on #44433
@GromNaN Yes, that's exactly what I meant :) and I think it's fine, the exception class is debugging information, and as we can see in the 2nd screenshot the original exception is still displayed, and it will also be included in the FlattenException as the previous exception.

To be more accurate we could even create a specific HTTP exception for this mapping strategy, something like `MappedHttpEx

[2021-12-05 15:55] baumerdev commented on #40918
If you want to have a stateless login, just set the firewall to `stateless: true`, otherwise Symfony uses cookies for storing the state.

But the problem in this issue is Symfony having an incomplete implementation of the RememberMe feature in its JsonLogin. You e.g. have the config option in Symfony\Config\Security\FirewallConfig\JsonLoginConfig but the the rest is missing a pointed out in my exa

[2021-12-05 16:46] alessandro-podo commented on #44461
bin/console se [TAB] works
php bin/console se [TAB] not working

[2021-12-05 16:57] #44362 closed, assigned to nobody

[2021-12-05 17:18] chalasr commented on #44362
When set at the firewall level, the provider is the default for all authenticators of that firewall.
By design, custom authenticators are not configurable (quite similar to Guard authenticators).
The way for an authenticator to become configurable (and so to accept a provider) is to be wired via an authenticator factory, and then it's not a custom authenticator anymore but a named one.

So in your

[2021-12-05 17:42] derrabus commented on #44465
Related to #44364?

[2021-12-05 17:44] vudaltsov commented on #44465
@derrabus, yes, thank you!

[2021-12-05 17:44] #44465 closed, assigned to nobody

[2021-12-05 18:02] pableu commented on #37588
@walva I ended up just writing simple decorator for the `Mailer`. I just added my custom logic to pick the transport there. Not very pretty but very pragmatic.

[2021-12-05 20:37] #44185 closed, assigned to nobody

[2021-12-05 21:07] wouterj commented on #44461
Hi! Thanks for the reports. Unfortunately, both of them are "can't fix" issues. As "application writers", the only thing we can do is provide a completion script to the shell. In the end, it's up to the shell's logic to run our completion script in the correct cases.

In bash, you configure the bash completion utility using the `complete` command: https://github.com/symfony/symfony/blob/d2600e8be8

[2021-12-05 21:10] tarlepp commented on #44461
Imho - we should at least keep this open a bit more - maybe someone who has some insights for this would spot this easier.

[2021-12-05 21:13] tarlepp commented on #44461
Previously I used - https://github.com/bamarni/symfony-console-autocomplete - for this and it worked with `PATH` and `alias` solution - maybe there is something that could help with this one.

[2021-12-05 21:19] wouterj commented on #44461
That's interesting. Which install method did you use for the autocomplete functionality?

[2021-12-05 21:23] tarlepp commented on #44461
Just couple of things on my `Dockerfile_dev` - this is just for development and not used on production;

[code]

or did you mean how I setup  that Symfony autocomplete feature in my setup?

[2021-12-05 22:36] chalasr commented on #44316
Could this be related to #44437 somehow?

[2021-12-05 22:51] drzraf commented on #39864
I think #37897 which allows `X-SES-CONFIGURATION-SET` offers a workaround (needs to be tested/confirmed) since one can make the setup in Amazon SES and use that configuration-set. But OP is also talking about two extra-headers.

I think that `The amazon transport currently has no way to add additional params to the request,` is the main problem (in the long-run) that will leads to recurring _Pleas

[2021-12-06 07:31] ThauEx commented on #44443
I tried to have a deeper look, but the curl client is quite complex...
In my case, the client opens a page with a form, attaches a file and submits it. When the file got uploaded, it's all good.
When I check inside the controller the content of `$request->files`, it's:

[code]

But when I change it to `bodyToString`, it's
[code]

What would be the test way to provide an example? I think this would

[2021-12-06 07:53] ivanbogomoloff commented on #33342
@carsonbot I could send fix to routing component, but i guess it might be incomptatable with "symfony way", but it works.
So, I tell about fix here and what i did.

1. Add "special" parameter to "defaults" option in route description to all routes which might be without slash. Special parameter name is `_trailing_slash` and it must be boolean type.
2. Check "_trailing_slash" parameter in `Symfony\

[2021-12-06 08:25] webmake commented on #44283
@nicolas-grekas ping

[2021-12-06 08:47] xabbuh commented on #44443
Yes, please create a small application that allows to reproduce your issue.

[2021-12-06 10:35] gjuric commented on #44342
@nicolas-grekas @fancyweb any chance of 5.4.1 being released with this fix in it?

[2021-12-06 10:51] mindaugasvcs commented on #34101
Agreed, this is a Symfony Router bug.
Even though I have not defined routes such as /index.php and /index.php/anything
Symfony is happy to provide the home page and "anything" page.

And NO, it has nothing to do with server (Nginx) misconfiguration, the problem here is that the Router component sniffs every possible server variable instead of just one - $_SERVER['REQUEST_URI'];
$_SERVER['REQUEST_U

[2021-12-06 10:55] xabbuh commented on #44342
Patch releases are usually done regularly once a month.

[2021-12-06 10:57] xabbuh commented on #44283
Patch releases are done once a month.

[2021-12-06 11:01] xabbuh commented on #41532
Can you create a small example application that allows to reproduce your issue?

[2021-12-06 11:01] mindaugasvcs commented on #44461
Are you aware that autocomplete feature is provided by the shell at OS level?

[2021-12-06 11:03] abraovic opened #44470 "[Secrets]: decryption fails on a different machine"
### Symfony version(s) affected

5.3

### Description

Hi,

I'm having problem decrypting the prod credentials on a different machine. I have generated prod keys using:
`php bin/console secrets:generate-keys --env=prod`
and put some values in the vault using:
`php bin/console secrets:set VAR_NAME --env=prod`

When I run:
`php bin/console secrets:list --reveal --env=prod`
on the machine where value

[2021-12-06 11:05] tarlepp commented on #44461
Yes, I know that - but when I was using that - https://github.com/bamarni/symfony-console-autocomplete - autocomplete also worked with `PATH` and `alias` use, so I think that `./bin/console completion bash` is missing something.

[2021-12-06 11:05] xabbuh commented on #44406
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-12-06 11:05] #44406 closed, assigned to nobody

[2021-12-06 11:06] xabbuh commented on #44374
closing here as that's the expected behaviour as explained in https://github.com/symfony/symfony/issues/44374#issuecomment-983674652

[2021-12-06 11:06] #44374 closed, assigned to nobody

[2021-12-06 11:07] xabbuh commented on #44366
Can you create a small example application that allows to reproduce your issue?

[2021-12-06 11:14] stephanvierkant opened #44471 "Accept @return string[] annotation for array return type"
See https://github.com/doctrine-extensions/DoctrineExtensions/issues/2362 for an example.

A `@return string[]` annotation has been added to the `getSubscribedEvents` method, but we still get this message:

It is possible to accept `@return string[]` instead of `@return array` to suppress this message?

[2021-12-06 11:23] garak opened #44472 "Nonce is not used in profiler page"
### Symfony version(s) affected

4.4 5.4 6.0 6.1

### Description

My webserver (nginx, but I guess it doesn't matter) is configured with a strict CSP that allows only self and nonces.
All is fine when I browse pages, since the web debug toolbar is correctly rendered with proper nonces.
The problem is when I click on WDT to open the profiler: here the style and the script are blocked.

I see that,

[2021-12-06 11:28] fancyweb commented on #44471
Any `@return` PHPDoc should suppress the message. I think your issue has been fixed in https://github.com/doctrine-extensions/DoctrineExtensions/pull/2355. Can you close if it's the case, thanks.

[2021-12-06 11:31] stephanvierkant commented on #44471
I'm sorry, you're right!

[2021-12-06 11:31] #44471 closed, assigned to nobody

[2021-12-06 11:38] derrabus commented on #44472
Do you want to work on a PR?

[2021-12-06 12:07] seb-jean commented on #44366
Here is a small example application that allows to reproduce issue:
https://github.com/seb-jean/my_project_name_sf

[2021-12-06 12:20] #44434 closed, assigned to nobody

[2021-12-06 13:06] apfelbox commented on #34101
@mindaugasvcs I think you should be able to prevent access to index.php/… by setting the location as internal:

https://nginx.org/en/docs/http/ngx_http_core_module.html#internal

[2021-12-06 13:11] #41114 closed, assigned to nobody

[2021-12-06 13:30] mindaugasvcs commented on #34101
It's one of possible solutions.
The real problem now is serving Twig 404 error page directly via Nginx, in dev environment we have /_error/404 route but in prod env is not available.
Anyway we should not be doing this kind of workaround, the problem here is Symfony Router.

[2021-12-06 13:40] soullivaneuh commented on #35575
I'll add my two cents here because I am experimenting the same kind of issue under 4.x.

On dev env running under Docker, I have hundreds of deprecation line each time I refresh a page:

[code]

As for any PHP application, I start by using `error_reporting` to remove the deprecation report  on the `public/index.php`, before kernel loading.

I also tried configuring php-fpm directly with the `log_l

[2021-12-06 14:32] apfelbox commented on #34101
I would not agree that this is an issue in Symfony itself, as this should be fixed in the web server config, like mentioned above: https://github.com/symfony/symfony/issues/34101#issuecomment-545982874

IMO: Symfony works correctly here and the feature is indeed important.

[2021-12-06 14:44] Flinsch commented on #15059
Just to close the loop with regard to my previous "solution", which could not work at all, this is how we have now solved it:
[code]
Actually that easy. This feature seems to have been around for a while (though not yet in 2015, but soon after). I don't know to what extent this would still contribute to this thread or even the initial issue, and I'm sorry if I've got something up again that might

[2021-12-06 14:49] mindaugasvcs commented on #34101
Can you elaborate as of reasons why this bug is needed?

[2021-12-06 15:06] apfelbox commented on #34101
There are cases where you have no rewriting in the web server available, and without that you wouldn‘t be able to visit any page in the project. The `index.php/path` setup works without any special config anywhere.
Sometimes you need that.

And for all other cases you should have default web server config that properly solves that.

[2021-12-06 15:50] stof commented on #15059
@Flinsch In your case, you still need to name the files `messages.en.yaml` and `messages.de.yaml`. And nothing forbids you to put the `.de.yaml` file inside the `translations/en` folder. The locale of the file is still controlled by the file name rather than the folder name. you could name you folders `translations/foo` and `translations/bar` if you want.

[2021-12-06 16:00] Flinsch commented on #15059
@stof Yes, I know. For us it was primarily a matter of keeping the files of different locales in separate subdirectories in order to organize them at least a little. That the subdirectories then are called, for example, "de" and the files again, for example, "messages.de.yaml" is redundant in terms of the coding of the locale, that's true, and an inattentive developer could create inconsistent dir

[2021-12-06 16:38] mindaugasvcs commented on #34101
Still not clear, what cases? Examples?
Usually, in a shared hosting environment you get Apache server with access to .htaccess config file in a web directory where you can direct all traffic to non existing files to index.php (rewrites etc.).

BTW, shared hosting is not meant for Symfony projects anyway.

[2021-12-06 17:07] gnito-org opened #44486 "[Upgrade-6.0] Duplicate list items"
In the HttpFoundation of https://github.com/symfony/symfony/blob/6.0/UPGRADE-6.0.md, there are duplicate list items:

[code]
and

[code]

[2021-12-06 17:39] caugner opened #44477 "[HttpClient] Idle timeout reached with negative default_socket_timeout"
### Symfony version(s) affected

5.4.0

### Description

We have set PHP's configuration directive [`default_socket_timeout`](https://www.php.net/manual/en/filesystem.configuration.php#ini.default-socket-timeout) to `-1` (meaning infinite timeout), and noticed that all requests created with `symfony/http-client` failed with a "Idle timeout reached" exception.

This looked like https://github.com/s

[2021-12-06 17:45] chalasr commented on #42973
For the record, I started working on a patch for this. The tricky part is that the per-firewall dispatcher services are created at a stage where we cannot use decoration (runs after DecoratorPass), I need to figure out how to make them traceable.
I will be back on it asap.

[2021-12-06 17:48] caugner commented on #44477
Probably, the easiest solution would be to either update `HttpClientTrait` to set `$options['timeout']` to `INF` (or `null`?) if `ini_get('default_socket_timeout'))` is negative, or to update `TransportResponseTrait` to ignore negative timeout values.

[2021-12-06 23:33] ThomasLandauer opened #44485 "[Controller] Convenience method `redirectToCurrentRoute()`"
### Description

What's the best practice for redirecting to the *current* route (e.g. when following the Post/Redirect/Get pattern)? I'm using
[code]
...but since https://github.com/symfony/symfony/pull/42392, `Request::get()` is marked `@internal`.

So what about a new convenience method `AbstractController::redirectToCurrentRoute(int $status = 302/303)`?

Or am I missing something and there is

[2021-12-07 04:31] norkunas commented on #44485
`$request->attributes->get('_route')` ?

[2021-12-07 06:47] youssefsaoubou commented on #44485
if the _route is on the attribute you can fetch it directly from $request->attributes

[2021-12-07 08:59] ThauEx commented on #44443
Here is the sample project to reproduce the issue: https://github.com/ThauEx/symfony-issue-44443
If you have any questions, tell me. When I applied my change to this project, it was working, without it not.

[2021-12-07 09:32] javiereguiluz commented on #44486
@gnito-org thanks for reporting this issue. However, this should be fixed in the code repository of Symfony, so we're transferring your issue there.

[2021-12-07 09:46] j-bernard commented on #44094
`em@il@example.test` is invalid but is considered valid: this is the issue.
`"em@il"@example.test` is the valid form and is correctly considered as valid.

[2021-12-07 09:55] iosifch opened #44487 "[Messenger] Allow defining a transport for the retry mechanism"
### Description

Currently, messenger defines the delays exchange/queues on the same transport from where consumes messages.
### Use case
Many times, an application is required to consume messages from an external queue/exchange from a RabbitMQ server that is not managed by the consumer application. In a situation like this, messenger will create the delays exchange/queues on that external RabbitM

[2021-12-07 11:38] #44486 closed, assigned to nobody

[2021-12-07 12:56] #44461 closed, assigned to nobody

[2021-12-07 13:01] ostrolucky opened #44491 "[PropertyInfo] PhpStanTypeHelper doesn't support ConstTypeNode"
### Description

After updating from Symfony 5.3 to Symfony 5.4, our code started to crash. This is because new PhpStanExtractor was introduced that was prioritized above older extractors. This extractor started to return `null` type and hence serializer failed to denormalize our objects.

It returns null, because this is a UnionTypeNode containing ConstTypeNode and IdentifierTypeNode (null). Howe

[2021-12-07 13:02] marforon opened #44492 "[DependencyInjection] Support first-class callable syntax for factory service configuration"
### Description

It would be nice if we could use a closure for factory definition.

### Example

[code]
instead of:
[code]

[2021-12-07 13:05] abarkine commented on #38200
still waiting for PR review

[2021-12-07 13:11] #10169 closed

[2021-12-07 13:21] ostrolucky commented on #44491
Similar issue is for `@var non-empty-array<int, string>` with error like
[code]

[2021-12-07 13:51] xabbuh commented on #44492
Wouldn’t this mean that your factory method would be executed when the container is compiled instead of at runtime only when the service is actually needed?

[2021-12-07 14:10] marforon commented on #44492
Maybe using ReflectionFunction to covert it into array?
[code]
We would get rid of string methods references this way.

[2021-12-07 14:19] GromNaN commented on #44492
This is a [new syntax of PHP 8.1](https://www.php.net/releases/8.1/en.php#first_class_callable_syntax) that we should try to support in 6.1

Do you want to open a PR @marforon?

[2021-12-07 14:53] marforon commented on #44492
@GromNaN I will give it a try, thanks :)

[2021-12-07 14:57] stof commented on #44492
The hard part about using a closure is that we cannot support arbitrary closures there (as we cannot dump them in the compiled code).
So we would have to find a way to detect cases corresponding to first-class callables for a static method or a function, and extract the original callable from them. I fear that the proposal of @marforon is incomplete, as I think you would get a similar result when

[2021-12-07 16:22] kbond commented on #40965
Taking another look at this. Confirmed that #30994 caused the issue and found the culprit:

`Symfony\Component\Form\ChoiceList\Factory\Cache\AbstractStaticOption` statically caches choice type options. In the case of `EntityType`, one of the options is the entity manager so these just pile up for each test.

`Symfony\Component\Form\ChoiceList\Factory\CachingFactoryDecorator` has a `kernel.reset` t

[2021-12-07 16:28] karaka200 opened #44495 "Profiler show `Deprecations` in all pages"
### Symfony version(s) affected

6.0.0

### Description

I Use Symfony 6.0 and profiler show `Deprecations` in all pages:

[code]

### How to reproduce

Read description ...

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-12-07 16:43] stof commented on #44495
This is a new deprecation in Doctrine DBAL 3.2+ (released a few days ago).
Work is in progress in DoctrineBundle to migrate to the new way. See https://github.com/doctrine/DoctrineBundle/issues/1431 and https://github.com/doctrine/DoctrineBundle/issues/1429 for the work to migrate away from the SQLLogger interface (the DbalLogger class itself won't be changed to stop using the interface, but it wi

[2021-12-07 17:18] stof commented on #40965
the `kernel.reset` tag is indeed not meant to handle cases where a service is responsible for resetting a state hold *elsewhere*, where that state could exist even when the tagged service was not used.

[2021-12-07 17:43] Guuzen opened #44498 "preg_match PHP 8.1 deprecation in getProtocolVersion call on request from trusted proxy"
### Description

If there is no "Via" header then call will be deprecated because of null parameter for preg_match
This code branch executed (and deprecation triggered) only for requests from trusted proxies.

Deprecation message
`Deprecated: preg_match(): Passing null to parameter #2 ($subject) of type string is deprecated in vendor/symfony/http-foundation/Request.php on line 1518`

[2021-12-07 18:33] GromNaN commented on #44498
Hello @Guuzen, thanks for reporting this issue. Can you provide a reproducer, ideally with a test case in `RequestTest`.

[2021-12-07 19:02] marforon commented on #44492
@stof You are right. I think there is no way to detect a first-class callable. The only thing we can do is to detect if Closure is calling a static method or not and ignore possible instance call. The downside is it could confuse someone. Feel free to close it.

[2021-12-08 07:26] #44495 closed, assigned to nobody

[2021-12-08 08:08] simonchrz opened #44500 "[HttpKernel] session.cookie settings from php.ini are not used on AbstractSessionListener"
### Symfony version(s) affected

5.4.0

### Description

If i choose to use php.ini (or NativeSessionStorage class) to configure the session.cookie_* settings, the AbstractSessionListener doesn't use them (possibly after refactoring on https://github.com/symfony/symfony/pull/41390) as expected, but i'm forced to set them on framework.yaml configuration.
On symfony/http-kernel 5.3 this works as exp

[2021-12-08 08:27] Guuzen commented on #44498
Sorry, maybe later. I am too lazy
But for anyone who more interested it is probably not very hard. You can try to add something like
`'trusted with null via' => ['HTTP/2.0', true, null, 'HTTP/2.0'],` dataset to `protocolVersionProvider` in `RequestTest`

[2021-12-08 08:29] ivoba commented on #44426
@fancyweb Is there any workaround possible?
Or can you point me to where a possible fix can be applied, so i can give it a try.

[2021-12-08 10:46] deoomen commented on #39388
It happened to me yesterday. Symfony 5.3.12, PHP 8.0.13, Xdebug 3.1.2. Workaround with `XDEBUG_MODE=off` works well.

[2021-12-08 10:47] #44498 closed, assigned to nobody

[2021-12-08 11:19] Nek- opened #44504 "[Router] Route attribute containing kernel parameters generated on build time"
### Symfony version(s) affected

5.4.0

### Description

We are using Heroku to run our application. Recently we needed to add a new route using a controller that requires a path as an attribute and uses the parameter `kernel.project_dir`.

Since Heroku builds the app inside a folder then moves it to another... The path generated inside the routing endup being wrong.

### How to reproduce

I'm usi

[2021-12-08 12:31] stof commented on #44504
Well, the way this works in the cached container is that it rewrites paths to dump them using `__DIR__`. For the dumped router files, there is no such logic as using paths there was never considered (not that using DI parameter in defaults is also a FrameworkBundle-only feature).

I think in your case, it might make more sense to inject the path in the controller than in the route.

[2021-12-08 13:12] Seldaek commented on #40662
Nope, but https://github.com/symfony/symfony/pull/41274 is on the case 👍🏻

[2021-12-08 13:17] dmolineus opened #44505 "Console auto completion for arguments with default value"
### Symfony version(s) affected

5.4|6.x

### Description

The new console auto completion feature is awesome but unfortunately doesn't work quite well with arguments defining default values.

Given is a console command with two argument `command [<task=default> [<dir>]]` where the first argument `task` has a default value.

*Expected behaviour:* If I enter `command <TAB>` I expect to the the sugg

[2021-12-08 13:29] Nek- commented on #44504
@stof I'm not saying it's blocking me in any way. But it's unexpected and should not happen (since the whole Sf codebase is designed to make a build that can run in any other place).

To me, it's a minor issue, but still, an issue.

[2021-12-08 13:39] stof commented on #44504
@Nek- as said, the usage of paths in route defaults was never considered in the work AFAICT.

[2021-12-08 14:37] Nyholm commented on #44504
Thank you.
This is indeed an interesting issue. I want to lift it "one level higher": I want to ask for a feature to be able to move the build directory or the full Symfony application after we warmed the container.

That will solve this issue AND it will solve issues I have with Lambda. Ie, I warm up my application on CI and then deploy a warm Symfony cache to a new filesystem on AWS Lambda.
The

[2021-12-08 14:48] dochne opened #44507 "[DependencyInjection] Introduce caching to AbstractRecursivePass"
### Description

I'm looking at upgrading one of our larger projects to be built entirely on the back of Symfony rather than the more flakey foundations it's currently on.

As the documentation notes, with larger projects, the Autowirer struggles on dev (this one has 5000 classes to chew through).

Looking at the flame graph [1], the bulk of the time seems to be spent chewing through the `Abstract

[2021-12-08 16:24] svscherpenseel opened #44508 "Successful login doesn't redirect to requested page"
### Symfony version(s) affected

5.4.*

### Description

When requesting a secured page, I'm redirected to the login page as expected. However, after a successful login, I'm not being redirected to the previously requested page. I'm redirected to the homepage.

The session does seem to have the required attribute to make this work:

[code]

Somehow, it looks like the referrer is being used, even t

[2021-12-08 16:50] maldoinc commented on #40327
The goal here is to have services be self contained rather than having their declarations be split into multiple files.

Parameter binding creates a argument name -> symfony parameter mapping which you have to memorize or look up when creating services, maybe this is fine for a small amount of parameters but for large applications I feel this would get out of hand.

The attribute would indeed be r

[2021-12-08 17:49] chalasr commented on #44508
We'll need [a full reproducer](https://symfony.com/doc/current/contributing/code/reproducer.html) in order to help.

[2021-12-08 18:29] tobias-93 commented on #44355
I have looked into this for the `VichUploaderBundle`, and I think the situation might be similar for other bundles using the 'best practices' directory structure found here: https://symfony.com/doc/current/bundles/best_practices.html#directory-structure.
For this structure to work the bundle path needs to be overwritten to the parent directory of the one containing `AcmeBundle.php`.
Unfortunately,

[2021-12-08 20:21] Philipp91 opened #44513 "Typed property Symfony\Bridge\Monolog\Handler\ChromePhpHandler::$response must not be accessed before initialization"
### Symfony version(s) affected

6.0.0

### Description

I'm in the process of upgrading to Symfony v6. When I want to access any page (from Chrome), I get this:

[code]

Surely this is caused by some underlying error, but I can't see that one because the ChromePhpHandler fails.

### How to reproduce

Can't say, presumably just run any app with the latest version, including ErrorHandler and Chrome

[2021-12-08 20:25] chalasr commented on #44513
Would you mind sending a PR changing that statement to `if ($this->response ?? false) {` on the 6.0 branch?

[2021-12-08 20:35] Philipp91 commented on #44513
Is that better than `isset()`?

[2021-12-08 22:04] lugosium opened #44515 "Issue with lint command and cache.adapter.redis after upgrade to 5.4.0"
### Symfony version(s) affected

6.0.0

### Description

After upgrading to 5.4.0, everything is working fine except the lint command which gives:

[code]

### How to reproduce

Use redis as cache for system and app:

[code]

Launch lint command:

`./bin/console --env dev lint:container`

### Possible Solution

_No response_

### Additional Context

If i comment app and system keys, it's OK with t

[2021-12-08 22:33] gabrielpl opened #44516 "CSS Selector fail to select element with colon char in ID"
### Symfony version(s) affected

5.4.0

### Description

I´m using DomCrawler and CssSelector components to parse XML pages.
If the ID attribute of a tag has a colon char, the ID selector (#) fail to find the element.

### How to reproduce

[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-12-08 23:25] guillaumesmo commented on #43266
I was able to workaround the issue like this

replace the second loginUser:
[code]

with this:
[code]

not optimal but that seems to be the smallest change to keep existing tests working

[2021-12-08 23:39] notana commented on #42350
Hey guys,

Just wondering if anyone has looked into this yet? Looks like quite a substantial performance improvement in form processing for larger forms. Would be awesome to see those improvements in a tagged version :).

I would love to help, but as OP said, would prefer not to waste time if it is likely to be rejected.

[2021-12-09 09:01] #44513 closed, assigned to nobody

[2021-12-09 09:37] henrikac commented on #42793
@fmonts not sure if this is still an issue but I had a similar problem the other day where I wanted to customize the *"Bad credentials"* message. What I did to change the error message was to modify my `LoginFormAuthenticator::onAuthenticationFailure` method

[code]

In your situation, if I understand your issue correctly, you could do something similar but changing `if ($exception instanceof BadC

[2021-12-09 09:56] simonchrz opened #44521 "[HttpKernel] session.cookie_secure=auto leads to session secure flag to be always true"
### Symfony version(s) affected

5.4.0

### Description

If i set session.cookie_secure=auto on framework.yaml the expected behaviour, to set session cookie secure flag related to used http schema, doesn't work anymore.

### How to reproduce

- set session.cookie_secure=auto on framework.yaml
- do a non-HTTPS request
- session.cookie_secure is set to true

### Possible Solution

The session.cookie

[2021-12-09 10:04] milikamel commented on #44491
no one seems to be interested to reply here!

[2021-12-09 11:13] gnito-org commented on #44508
It is probably something in your Symfony config that's causing this behavior.

I'm using the vanilla built-in authenticator system of 5.4, and the redirect after login to the requested page works for me.

[2021-12-09 11:28] simPod opened #44524 "`$request->query->get()` should support arrays"
### Symfony version(s) affected

5.4.0

### Description

`InputBag::get` has typed @return as `string|int|float|bool|null` but it can return array as well.

### How to reproduce

`/run/route/?query[]=1.1.1.1&query[]=2.2.2.2` and in controller inspect the Request object.

`$request->query->get('query')` returns `list<string>`

### Possible Solution

Add `array` type to return and `$default` types f

[2021-12-09 11:34] stof commented on #44524
Returning array is deprecated (see the deprecation message). You should use `all()`

[2021-12-09 11:42] #44524 closed, assigned to nobody

[2021-12-09 11:53] lukepass opened #44525 "Typed property App\Entity\User::$email must not be accessed before initialization"
### Symfony version(s) affected

5.4

### Description

When using typed properties I use the constructor to require the properties, something like the following class.
As you can see `email` and `password` are required so I pass them using the constructor.

[code]

When using the command `php bin/console translation:extract` I am receiving the following error:

[code]

It seems that this command i

[2021-12-09 12:25] stof commented on #44525
I see no reason for `translation:extract` to use your entity class at all.
can you provide the full stack trace (run the command in verbose mode so that `bin/console` displays it) ?

[2021-12-09 12:39] chalasr commented on #44515
I'm on it.

[2021-12-09 12:49] xabbuh commented on #44525
I cannot reproduce the reported issue. Something is missing from the instructions that you gave. Please provide a small example application that allows to reproduce it.

[2021-12-09 12:56] simPod commented on #44524
Ah ok. I expected the information to be in a signature/doc, did no read the method implementation.

Is there any way this could be fixed in a feature, I mean to be documented in method doc?

Thanks

[2021-12-09 13:11] #40745 closed, assigned to nobody

[2021-12-09 13:17] Guikingone commented on #39719
Hi 👋🏻

Small update thanks to `carsonbot`, should this issue still open as the discussions as stalled since June?

Maybe moving it to a dedicated discussion?

WDYT @nicolas-grekas and / or @kbond?

[2021-12-09 13:42] stof commented on #41606
@fabpot @nicolas-grekas should we migrate to the recommended format of RFC 7231 in Symfony 6.1 ?

[2021-12-09 13:58] sidz opened #44531 "[Validator] Sequence constraint can not be applied onto class as an attribute"
### Symfony version(s) affected

5.4 \ 6.0

### Description

Sequence constraint can not be applied onto class as an attribute.

### How to reproduce

[code]

### Possible Solution

_No response_

### Additional Context

More details in PR: https://github.com/symfony/symfony/pull/44448

[2021-12-09 14:00] fabpot commented on #41606
6.1 seems like a good target indeed. Let's do it. Anyone willing to create a PR?

[2021-12-09 14:02] lukepass commented on #44525
Hello, here is a basic public repository:

https://bitbucket.org/lukepass/issue-44525/src/master/

The issue is coming from the `__toString` method of the User entity.

Thanks.

[2021-12-09 14:24] Philosoft commented on #43266
Thank you @guillaumesmo Workaround confirmed https://github.com/Philosoft/symfony-login-as-bug/pull/5

[2021-12-09 14:41] xabbuh commented on #44525
This is related to SonataAdminBundle. The `AbstractAdmin` class uses `Instatiator::instantiate()` inside `createNewInstance()` which then in turn uses reflection to create an instance of your `User` class while bypassing the constructor. There's nothing we can do here about it.

[2021-12-09 14:41] #44525 closed, assigned to nobody

[2021-12-09 14:50] lukepass commented on #44525
Thanks @xabbuh I will ask on their repository.
Just a couple of side questions:

1. Is the constructor method correct with typed properties which are requires?
2. Would a simple `isset` inside the `__toString` method suffice?

Thanks.

[2021-12-09 14:50] rbaarsma opened #44534 "[Process] ARGV array in env resulting in "Array to string conversion" error"
### Symfony version(s) affected

5.4.0

### Description

See https://github.com/symfony/symfony/issues/44197

Only difference is that ARGV is coming in with capital letters and therefore not caught by the if statement on Process.php line 343

[code]

### How to reproduce

We are following the standard approach for liuggio/fastest bundle, executing our tests with this command:

[code]

A simple deb

[2021-12-09 14:59] xabbuh commented on #44525
If you mean your `User` class then yes, that looks correct.

Well, it would work around the issue you experience. But it might hide other issues (for example you wouldn't be able to call the getter without running into the same error).

[2021-12-09 15:01] alexandre-daubois commented on #41532
@xabbuh I'm looking into this.

[2021-12-09 15:19] metaer opened #44535 "[Lock] Too few arguments to function Symfony\Component\Lock\Store\DoctrineDbalPostgreSqlStore::putOffExpiration()"
### Symfony version(s) affected

5.4.1

### Description

`\Symfony\Component\Lock\Store\PostgreSqlStore::putOffExpiration` calls `\Symfony\Component\Lock\Store\DoctrineDbalPostgreSqlStore::putOffExpiration` and passes only one argument, but two arguments are required.

[code]

[code]

### How to reproduce

Use PostgreSqlStore and call `$lock->acquire(true);`

### Possible Solution

_No response_

[2021-12-09 15:36] aetxebeste commented on #43419
I'll do this translation.

[2021-12-09 16:04] metaer commented on #44535
This commit seems to be related to the issue: https://github.com/symfony/lock/commit/97215a91#diff-c3cff1d4763c5a1e1dd7e76a0759db5e2005126c9027c1f2daa5015aa1f579c8R146 @GromNaN

[2021-12-09 16:14] mbabker opened #44536 "[Cache] `LockRegistry::compute()` does not acquire a lock and gets into a recursive loop with semaphores"
### Symfony version(s) affected

5.4

### Description

Our application has `AsyncAwsBundle` and `LiipImagineBundle` installed, and when there are multiple (almost concurrent) requests to the `liip_imagine_filter` route, we're seeing a recursive loop in `Symfony\Component\Cache\LockRegistry::compute()` when the AsyncAws client is trying to fetch the credentials from its cache provider (this is in i

[2021-12-09 16:39] GromNaN commented on #44535
Thank you for reporting this bug; here is a fix: #44539.

As a workaround, you should switch to `DoctrineDbalPostgreSqlStore`. Using `PostgreSqlStore` with a DBAL connection is deprecated.

[2021-12-09 17:01] #44535 closed, assigned to nobody

[2021-12-09 17:04] m-wisniewski commented on #44334
Hi! I'd like to notice, that the same problem appears in my project, but I'm using `PHP 8.0.13`, `Symfony 5.4.0`, and `http-client 5.4.0`. I'm using docker as well, with Symfony, caddy, rabbitmq, elasticsearch, and kibana services separated individually in containers.
I've noticed the very same thing - sometimes the problem does not occur, but there is no schema.
Both elasticsearch and PHP contain

[2021-12-09 17:13] andimg93 opened #44540 "Collection Validation Bug by reindexing related Keys"
### Symfony version(s) affected

x, 5.3.X, 5.4.0 - I just tested some 5.3 versions and 5.4.0, where the bug still exists

### Description

If you use the collection type in Forms and want to make the elements manageable for the user (via allow_add/allow_delete each to true) you get a prototype on the element, as you know.
This must now be added for new elements via Javascript. By default, the resp

[2021-12-09 17:14] metaer commented on #44535
Actually I use `PostgreSqlStore` with DSN (according to documentation). `DoctrineDbalPostgreSqlStore` requires _"A Connection instance or Doctrine URL"_

[2021-12-09 17:30] acantepie opened #44541 "[Authenticator] Invalid CSRF token (BC with SF 5.4)"
### Symfony version(s) affected

5.4.1

### Description

Can't authenticate with `FormLoginAuthenticator`.

### How to reproduce

[code]

Symfony app is serving by a nginx running on docker,

if i try to login using a hostname :
=> [foo.local:8001/login ](http://foo.local:8001/login)
Got error :
[code]

if i try to login using a hostname :
=> [foo.local:8001/login ](http://127.0.0.1:8001/login) :

[2021-12-09 17:36] silverbackdan opened #44542 "[Security] PasswordAuthenticatedUserInterface and UserInterface are not compatible"
### Symfony version(s) affected

5.4

### Description

I am unable to implement both the UserInterface here:
https://github.com/symfony/security-core/blob/5.4/User/UserInterface.php

And the PasswordAuthenticatedUserInterface interface here:
https://github.com/symfony/security-core/blob/5.4/User/PasswordAuthenticatedUserInterface.php

The getPassword signatures will not match because PasswordAuthe

[2021-12-09 18:00] stof commented on #44535
well, are you using a PDO DSN or a URL ? If you reach this code, it probably means you were actually using a URL rather than a PDO DSN, and so relying on doctrine (check your deprecation warnings).

[2021-12-09 18:05] emmanuelballery commented on #44508
I'm using the `form_login` authenticator and I also lose my session right after I login since upgrading from `5.4.0` to `5.4.1`.

I reverted the change made in 36b466e0f2a7c4045e66ee27691721ea188afe76 and my app is now working as expected but I can't seem to reproduce this in a simple demo app - it must be related to another configuration (https://github.com/emmanuelballery/test-bug-login).

I als

[2021-12-09 18:06] metaer commented on #44535
I use such format of string: `'postgresql://user:password@host:port/dbname'`

There is example in 6.0 documentation: https://symfony.com/doc/current/components/lock.html#postgresqlstore
Is that example correct?

[code]

[2021-12-09 18:08] stof commented on #44535
Well, this is a case where the documentation has not been updated yet. Those URLs rely on DBAL to support them. They are not PDO DSNs.

[2021-12-09 18:10] metaer commented on #44535
So, I should use `DoctrineDbalPostgreSqlStore` with such kind of string, right?

[2021-12-09 18:11] stof commented on #44535
yes

[2021-12-09 18:13] metaer commented on #44535
Thank you

[2021-12-09 18:25] gnito-org commented on #44508
Mine works fine with 5.4.1 and 6.0.1. I've tried with and without remember me.

Could you please post the output of your ``./bin/console debug:config security`` of the app that loses the session?

[2021-12-09 18:38] gnito-org commented on #44508
@emmanuelballery Isn't [this](https://github.com/emmanuelballery/test-bug-login/blob/dab9e5a0c857ad2fd21eef5f42c6e0a72f8bbb30/config/packages/security.yaml#L25) the source of your issue? It's used to [ignore](https://symfony.com/doc/current/security/form_login.html#always-redirect-to-the-default-page) the previously requested URL.

[2021-12-09 18:55] emmanuelballery commented on #44508
Thank you, I'm aware of this option ; in my case the session is completely lost after login even though I can find its related file in my disk. I actually also used this `always_use_default_target_path` option to track the session right after a successful login and it was empty.

I'm actually curious to see if @svscherpenseel can remove his `framework.session.cookie_secure` config or locally rever

[2021-12-09 19:20] gnito-org commented on #44508
If I cannot reproduce the issue, and neither can you using a small vanilla app, it probably suggests that it's something in your  app's config and/or code. Perhaps it's a carry-over from 4.4 that only now stopped working?

[2021-12-09 20:16] peter17 opened #44544 "[HttpClient] Not handling timeouts asynchronously"
### Symfony version(s) affected

5.4.0

### Description

Very often, I use the Symfony HttpClient to perform N requests on N URLs asynchronously. By doing so, the total time to complete the N requests is greatly decreased.

However, the same effect is not observed when the remote server does not respond. For instance, if the timeout is set to 5 seconds, performing 10 requests will take 50 seconds.

[2021-12-09 20:59] gnito-org opened #44545 "[Security][RFC] Manual reset of login throttle"
### Description

I can see a use case where login throttling is set to longer periods (e.g., 10 minutes), and you want to give support staff the ability to manually reset a fat-fingered user's login throttle instead of telling the person to make a sandwich and wait.

Perhaps something like a ``LoginThrottlingResetListener``?

### Example

_No response_

[2021-12-09 22:00] stof commented on #44545
I see 2 reasons not to do it:

- it is quite hard to implement, because the way to actually reset the throttling depends on the implementation of the rate limiter (and the rate limiter component does not have any way to do that right now, and that would be hard to put in the interface too)
- from a security point of view, this is weakening your security, as the efficiency of your throttling is now

[2021-12-09 22:06] chalasr commented on #44542
Can you please show your User class? I suspect this is the same issue as https://github.com/symfony/symfony/issues/41519.

[2021-12-10 01:21] jkobus commented on #36538
IMHO the solution would be to catch this exception (and other, connection related errors like [this one](https://github.com/php-enqueue/enqueue-dev/issues/1162#issuecomment-854351192)) inside the `\Symfony\Component\Messenger\Transport\AmqpExt\Connection` and use internal flag (for example, `(bool) reconnect`) and not to rely only on `AmqpChannel::isConnected`.

One could then catch this exception

[2021-12-10 02:26] berkut1 commented on #44541
I have the same problem, but I don't use firewalls -> enable_csrf

I check csrf inside of LoginFormAuthenticator like it shows in symfony doc https://symfony.com/doc/current/security/custom_authenticator.html#passport-badges

Also the problem is only in the remote server (no domain, only IP). I cannot reproduce this locally.

I can't find solution, so, I rolled back to 5.4.0

[2021-12-10 03:45] berkut1 commented on #44541
I found that break it.
This pull https://github.com/symfony/symfony/pull/44437 if revert it CSRF token starts to work.
Friendly ping @simonchrz @derrabus

[2021-12-10 04:14] berkut1 commented on #44541
I'm trying to figure out why there was a pull, but I can't catch it.
if we look into the SessionUtils::popSessionCookie()
https://github.com/symfony/http-foundation/blob/5dad3780023a707f4c24beac7d57aead85c1ce3c/Session/SessionUtils.php#L32
we can see, that `$sessionId` expected like url ($sessionCookiePath), but not id.
Sorry, if I wrong.

[2021-12-10 07:12] emmanuelballery commented on #44508
Please considere that I'm only here to see if there are common grounds between our issues. As I said, my apps are already patched, the culprit being something related to cookies and the `framework.session.cookie_secure` configuration. Reverting from `5.4.1` to `5.4.0` is fine ; removing this configuration is also working.

Feels like 36b466e0f2a7c4045e66ee27691721ea188afe76 is not something we sho

[2021-12-10 07:47] jokaorgua commented on #44443
@xabbuh seems to me the label 'Awaiting feedback' can be removed. just a hint

[2021-12-10 08:00] thewalkingcoder commented on #44541
I have the same issue when i upgrade symfony 5.4.0 to 5.4.1

On local developpement i use

[code]
My session config was

[code]

Since ***5.4.1*** To resolve problem (environment dev only) i change ***cookie_secure***

[code]

[2021-12-10 08:04] verng95 opened #44546 "Session is not being created after upgrade to 5.4.1"
### Symfony version(s) affected

5.4.1 or 6.0.1

### Description

After upgrading to version 5.4.1/6.0.1, the session stopped working. As a result of the search, I realized that the problem was with this [https://github.com/symfony/symfony/pull/44437](https://github.com/symfony/symfony/pull/44437), if you roll it back, it became normal.

### How to reproduce

if `framework.session.cookie_secure: a

[2021-12-10 08:11] emmanuelballery commented on #44541
I think those issues are all about `cookie_secure` set to `auto` and change made in 36b466e0f2a7c4045e66ee27691721ea188afe76 :
- #44546
- #44521
- #44508

[2021-12-10 08:12] nicolas-grekas commented on #44546
Thanks for the details. Would you like sending a PR with the fix and a test case?

[2021-12-10 08:15] verng95 commented on #44546
Ok, I guess I'll do it.

[2021-12-10 09:03] adaniloff commented on #44334
@m-wisniewski you can try to `composer require http-client:5.2.*` to temporarily fix your issue. This is not ideal, but it works :man_shrugging:.

[2021-12-10 09:28] berkut1 commented on #44541
We can also add information about the environment in which the problem can be reproduced. Maybe it will be helpful.
Everything works correctly in docker + debian + php8.0 + nginx (this is my local dev env)
The problem exist in my prod dedicated server (no docker) with ubuntu 20.04 + php 8.0 + nginx.

[2021-12-10 10:15] wucdbm commented on #41208
Could very well still be relevant, we did workaround this.

[2021-12-10 10:20] acantepie commented on #44541
I confirm, revert this PR solve the problem :)

[2021-12-10 10:28] #44545 closed, assigned to nobody

[2021-12-10 10:44] verng95 commented on #44508
May be my problem also applies here #44546

[2021-12-10 11:24] svscherpenseel commented on #44508
Thanks for looking into this guys! I apologize for the delayed reply.

I thought I had misconfigured my firewall, but it does seem to be related to `framework.session.cookie_secure`. I had this set to `true`, while my local development environment doesn't use HTTPS. Changing this to `auto` seemed to have fixed the problem. I hope this is also the fix for the other guys.

Thanks @emmanuelballery fo

[2021-12-10 12:24] cedriclombardot opened #44550 "Typed property Symfony\Component\HttpKernel\Debug\FileLinkFormatter::$requestStack must not be accessed before initialization"
### Symfony version(s) affected

6.0.0

### Description

Error in profiler https://127.0.0.1:8000/_wdt/7899b7 with php 8.1

Typed property Symfony\Component\HttpKernel\Debug\FileLinkFormatter::$requestStack must not be accessed before initialization

### How to reproduce

PHP 8.1

symfony php -v

PHP 8.1.0 (cli) (built: Nov 28 2021 14:43:54) (NTS)
Copyright (c) The PHP Group
Zend Engine v4.1.0, Co

[2021-12-10 12:36] Hanmac commented on #43986
@fabpot can you comment on what the "symfony cli" should do with the APP_SECRET ? should it be commited or not?

currently the cli is doing the first commit which does include the secret, and changing the commit again is ugly

[2021-12-10 12:53] norkunas opened #44551 "[Validator] AtLeastOneOf validation fails with an array and IsTrue/IsFalse constraints"
### Symfony version(s) affected

All since 5.1

### Description

I have an array that should contain only boolean values and cannot get to validation work with IsTrue/IsFalse constraints.

Example:
[code]

### How to reproduce

Failing test [norkunas/symfony@aee65ed](https://github.com/norkunas/symfony/commit/aee65ed023245973634f1b6705337af78ae3daa3)

### Possible Solution

_No response_

### Addi

[2021-12-10 12:59] truchot opened #44552 "[DependencyInjection] Container class generated must not contains dot in class name"
### Symfony version(s) affected

5.3.*

### Description

It seems like Container class generated with dot in the classname triggers a fatal error.

### How to reproduce

The problem seems to be ContainerBuilder::hash() function replace '/' and '+' by '.' and '_'.
Example : some strings like local path file generates Container classname with dot (in custom Container).

### Possible Solution

We can

[2021-12-10 13:11] #39087 closed, assigned to nobody

[2021-12-10 13:28] arjenm commented on #44308
We have the same issue (although without the debug-version)
[code]

Our composer.json only depends on symfony/security-bundle (5.4.1)

These are the security-related Symfony packages that get installed in our system:
[code]

The problem exists due to 5.4.1 (or .0) code being technically compatible with both the deprecated logic and the new logic, but it does allow a state where it expects the depr

[2021-12-10 13:41] devnix opened #44553 ""Cannot change the ID of an active session." after upgrading to 5.4"
### Symfony version(s) affected

5.4.0, 5.4.1

### Description

We have a legacy application that we are slowly migrating to Symfony, which we did following this guide with good results since 5.0: https://symfony.com/doc/current/session/php_bridge.html

Since we upgraded to 5.4.0 from 5.3.*, we are observing a `Cannot change the ID of an active session.` intermitently.

### How to reproduce

I've

[2021-12-10 13:50] javiereguiluz commented on #44553
Thanks for creating such a great issue report, with a bug reproducer and insights about the possible cause of this issue!

[2021-12-10 13:59] fritzmg commented on #44508
The Contao Managed Edition already uses `framework.session.cookie_secure: auto`. While the session is still created over a secure connection, any log in attempt via `http://` for example does not create a session (and thus logins do not work for example) due to the changes in https://github.com/symfony/symfony/commit/36b466e0f2a7c4045e66ee27691721ea188afe76.

[2021-12-10 14:05] fritzmg commented on #44546
@verng95 can you confirm, that this currently only affects `http` connections and not secure connection via `https` (assuming you use `framework.session.cookie_secure: auto`)?

[2021-12-10 14:10] kevin-verschaeve opened #44555 "[Proposal] Automatically inject the user in an entity"
### Description

Hello,
I was wondering if having a solution to automatically inject the current logged in user into an entiy on save would be a good idea.

In my project, I have several entities for which I need to store the current user in a property, so we use entity listener.
As I think this is a common case, I think it could be done by Symfony.

I made a POC in FrameworkBundle to try this, an

[2021-12-10 14:11] verng95 commented on #44546
@fritzmg Yes, indeed. Now I turned off `framework.session.cookie_secure` and it worked. So the problem is in `auto`.

[2021-12-10 14:28] acirulis commented on #40644
Why is this issue closed?

I started to use HttpClient component with scoped_client and it works great. Now I needed a cache for one service and documentation says - "CachingHttpClient decorator" - so decorator extends functionality of an specific instance, not removes it.

After I wrote a basic implementation:
[code]
I stumbled across base_uri missing problem, which lead me here - even if the exp

[2021-12-10 14:32] fritzmg commented on #44546
Just to clarify - what we observe is the following:

if `framework.session.cookie_secure: auto` is set, then:

* `https` connections will create a session
* `http` connections will not create a session

[2021-12-10 14:45] zmitic opened #44556 "Allow TaggedLocator autowiring via enums"
### Description

[code]

works with strings and integers, but not with ``BackedEnum``. A simple change to

[code]

could improve static analysis and autocomplete.

### Example

Tag:

[code]

Service that gets them works as before:

[code]

[2021-12-10 14:49] p-golovin commented on #37980
Have the same problem.

Configuration is nginx + php-fpm.

Trusted proxies are configured.
HTTPS headers are ok.

![image](https://user-images.githubusercontent.com/7702213/145592929-57afaf2d-37f6-4646-9da7-80903de7386e.png)

[2021-12-10 15:15] exeba opened #44557 "Easier encoder configuration for symfony/mailer"
### Description

Using the old swift mailer I was able to do:
[code]
So far, the only way I found to do the same thing with `symfony/mailer` is to extend `Symfony\Component\Mime\Email`. in particular this method:
[code]

### Example

It would be maybe nice to extend the current text() method and add an encoder param?
[code]

[2021-12-10 15:34] romaricdrigon commented on #44553
Same issue here - we have random session failures, and the patch solves it.

Related to #44546 I believe

[2021-12-10 15:39] wucdbm commented on #43866
++ need that

[2021-12-10 15:46] Korbeil commented on #44431
This is duplicate of https://github.com/symfony/symfony/issues/44417 and was fixed in https://github.com/symfony/symfony/pull/44430

[2021-12-10 16:35] Adi-18 commented on #41707
I am on Symfony 6.0.0 and have this error.

I see both setcoockies from public/index.php

I cannot use https  because of internal local access without certificate

What have I to do to solve this problem? I am not much familiar with symfony.

[2021-12-10 19:21] GromNaN commented on #44555
Using a Doctrine EventListener is a good first step. To detect entities that needs this behavior, I would use an interface implemented only by involved entity class.

This is how the Blamable behavior works. https://github.com/KnpLabs/DoctrineBehaviors/blob/v2.0.8/docs/blameable.md

[2021-12-10 19:25] #44555 closed, assigned to nobody

[2021-12-10 19:41] chr-hertel commented on #39588
for my case it worked to go with this glob:

[code]

[2021-12-10 23:08] X-Coder264 commented on #44550
This has already been fixed in 6.0.1 -> https://github.com/symfony/symfony/pull/44402

[2021-12-10 23:36] ThomasLandauer opened #44563 "[Routing] Support PHP 8.1 enums as route `name`"
### Description

I'm trying to avoid strings as Route `name`, so I've created a `Page` class that holds `const`s for it:

[code]
Controller:
[code]
I think this would be a perfect use-case for a **pure enum:**
[code]
Controller:
[code]
Right now, this leads to:

### Example

_No response_

[2021-12-11 00:32] ThomasLandauer opened #44564 "[Validator] Allow PHP 8.1 enums as `Assert\Choice`"
### Description

Allow using a backed enum as `choices` for the `Choice` assertion.

### Example

[code]
Or as in [EnumType](https://symfony.com/doc/current/reference/forms/types/enum.html#class)
[code]

[2021-12-11 07:20] #44550 closed, assigned to nobody

[2021-12-11 08:00] nicolas-grekas commented on #44563
Why? I feel like there would be no benefits to use an enum here personally. At least I don't see any yet.

[2021-12-11 08:58] GromNaN commented on #44563
The purpose might be to remove this "SomeUselessStringThatNobodyNeeds".

If route name can be enum values, the UrlGenerator will have to support them. And that add a new challenge to generate a URL in Twig.

[2021-12-11 11:17] chr-hertel commented on #39588
so i think we have two options here:

**option a:** exclude only works with glob patterns (current behavior)
-> documentation should be updated, potentially a warning at runtime/config as well?

**option b:** implement an exclude mechanism for annotations while loading entire directories
-> change FileLoader to handle exclude - AnnotationDirectoryLoader potentially not needed anymore
-> extend Loa

[2021-12-11 11:55] trsteel88 commented on #44123
Keen for an update on this. I think this could relate to https://github.com/symfony/symfony/pull/41150

[2021-12-11 12:12] ThomasLandauer commented on #44563
Benefits:
1. Gut feeling :-) From my understanding, enums were invented for cases like this; while having a class that contains just `const`s feels like misusing the class idea.
2. Indeed, getting rid of the overhead of having to define some string value (which the user doesn't need).
3. Built-in check for uniqueness: Duplicate values might happen with `const`s:
[code]
    ... but are forbidden in

[2021-12-11 12:57] stof commented on #44563
The URL generator uses route names as array keys in the dumped cache code, allowing to get the route info in `O(1)` when generating URLs. So supporting enums there will be hard.

[2021-12-11 13:19] nicolas-grekas commented on #44563
To me, enums are useful to restrict possibilities to a range of limited values. Route names don't fall in this category.
Using enums here would look like a hack to me and given the technical complication (eg what should `debug:router`, etc), I'm not convinced we should do it.

[2021-12-11 14:10] #40070 closed, assigned to nobody

[2021-12-11 14:37] #44534 closed, assigned to nobody

[2021-12-11 14:39] #43266 closed, assigned to nobody

[2021-12-11 14:42] #41606 closed, assigned to nobody

[2021-12-11 14:44] #37615 closed

[2021-12-11 14:54] #44444 closed, assigned to nobody

[2021-12-11 15:16] #28391 closed

[2021-12-11 15:22] #38586 closed, assigned to nobody

[2021-12-11 15:50] derrabus commented on #44563
As much as I'd like to explore the possible uses of enums further: I agree with @nicolas-grekas that enums are not useful here. I wouldn't store route names in constants either, btw. The proposed changed would introduce complexity for now real benefit.

[2021-12-11 15:56] derrabus commented on #44563
Let's close because we aready have downvotes from several core team members. Thanks for the proposal though.

[2021-12-11 15:56] #44563 closed, assigned to nobody

[2021-12-11 15:58] nicolas-grekas commented on #44556
IIUC, while nothing would enforce it, this would allow creating a convention to limited list of possible service ids, isn't it?
Would you like sending a PR to give this a try?

[2021-12-11 16:01] zmitic commented on #44556
Yes, gladly. Expect by Wednesday, just to get around writing tests and keep BC with <8.1.

[2021-12-11 16:21] apfelbox commented on #39192
@carsonbot unchanged, yes. 😊

[2021-12-11 16:35] nicolas-grekas commented on #44544
Thanks for the report and the reproducer. Fixed in #44571

[2021-12-11 16:37] ThomasLandauer commented on #44563
Yeah, closing is OK. Just one more question: How do you guys manage your route names then? I was thinking the `const`s are a good idea, they're also mentioned at https://tomasvotruba.com/blog/2020/12/21/5-new-combos-opened-by-symfony-52-and-php-80/#2-Route-Names-Can-be-Constants

[2021-12-11 16:37] #41032 closed, assigned to nobody

[2021-12-11 16:49] #44544 closed, assigned to nobody

[2021-12-11 17:36] ppodds opened #44572 "x-forwarded-prefix doesn't work properly"
### Symfony version(s) affected

5.3

### Description

I use Nginx as my reverse proxy of my laravel project and use the following setting.

[code]
While x-forwarded-host, x-forwarded-port, and x-forwarded-proto work perfectly, x-forwarded-prefix doesn't. This problem might result from the method named getTrustedValues ( in /Symfony/Component/HttpFoundation/Request.php)

Below is the original code

[2021-12-11 22:34] derrabus commented on #44564
Duplicate of #43047.

[2021-12-11 22:35] #44564 closed, assigned to nobody

[2021-12-12 08:18] xabbuh commented on #44572
Did you configure your application so that `X-Forwared-Prefix` is treated as a trusted header? Can you create an example application that allows to reproduce your issue?

[2021-12-12 08:46] back-2-95 commented on #37980
The solution by @michaelKaefer works for my Traefik 2 + Symfony Docker + Symfony 6 setup. Thank you Sir!

[2021-12-12 09:31] ppodds commented on #44572
I found the problem result from laravel framework.

laravel not support x-forwarded-prefix header in `/src/Illuminate/Http/Middleware/TrustProxies.php`

I can use the following code to solve the problem.

[code]

The code in symfony works properly. Thank you.

[2021-12-12 09:31] #44572 closed, assigned to nobody

[2021-12-12 18:16] Warxcell opened #44579 "[RFC] Make Log dir nullable"
### Description

In context of containers - one of best practices is to write logs in stdout and stderr, rather than in files.
unfortunately - log dir is required - even if not used.

Proposal is to either add new interface like `LoggableKernel` which requires `getLogDir` or make `getLogDir` nullable. In both cases: disable checks on logs dir.

### Example

_No response_

[2021-12-12 19:37] scorpioniz commented on #41707
I'm having same issue on Symfony 5.4. (actually started to get, after update from 5.3 to 5.4) But I notice that when I open prod, I instantly have PHPSESSID cookie set :)
when I open my dev env site, I have no cookies at all.
[code]

[2021-12-12 19:48] redeemerr opened #44580 "Installation failing"
### Symfony version(s) affected

6.0

### Description

Unable to install symfony 6.0

### **Ruining**
[code]

### **php verstion**
[code]

### **Output**
[code]

### How to reproduce

just run
[code]

### Possible Solution

_No response_

### Additional Context

_No response_

[2021-12-12 21:38] wouterj commented on #44580
Hi!

The output shows that `psr/cache` 3.0 is installed, which does come with the correct signature: https://github.com/php-fig/cache/blob/3.0.0/src/CacheItemInterface.php#L89

So there must be something wrong with your environment. Did you by any chance installed the php-psr extension? This extension is *not* officially supported and is known to cause these type of type mismatches ([ref](https://

[2021-12-12 21:38] #44580 closed, assigned to nobody

[2021-12-12 21:40] arnolem commented on #41149
Hello,
I can reproduce this problem with `symfony/mailer": "6.0.1"` and **PHP 8.1**.
My test email is send to `to+fail@mail.com` but I want to force `to+success@mail.com`

Environment :
 - Apache 2 + mod_apache + PHP 8.1.0
 - Postfix

[2021-12-13 00:35] dennned commented on #41707
Hello, I am Symfony 5.4.1, i don't have {"message":"Invalid CSRF token."} on my dev env but on prod i reproduced it
ps : @allan-simon  hey

[2021-12-13 04:12] azjezz commented on #41520
I did an experiment tonight, where i tried to make `symfony/templating` safe to use concurrently.

previously, if you use `azjezz/psl:2.0.x`, and write the following code:

[code]

where `index.php` contains:

[code]

and `contact.php` contains:

[code]

You won't get the result you are expecting, Symfony will fail at rendering the `index.php`, but will successfully render `contact.php`, as it use

[2021-12-13 07:07] m-wisniewski commented on #44334
@adaniloff Actually I've disabled sending debug level logs to elasticsearch handler. I still have those saved to file and kinda don't need it for now, since I'm working on the project locally and have xdebug. Nonetheless, thanks a lot for your advice!

[2021-12-13 08:11] #44551 closed, assigned to nobody

[2021-12-13 08:44] herman-aka-wouter commented on #33394
I have the same issue on 5.3

[2021-12-13 09:13] tchapi commented on #40906
Relevant to me too; And the documentation at https://symfony.com/doc/current/configuration/env_var_processors.html#built-in-environment-variable-processors is still wrong, as far as I understand ...

[2021-12-13 10:15] trsteel88 commented on #41149
I'm having the same problem

[2021-12-13 10:25] leonboot opened #44588 "Default route annotations defined twice when adding ORM to project"
### Symfony version(s) affected

6.0.0

### Description

Not sure if this issue was introduced since Symfony 6, but I noticed when adding ORM to my project (`composer require orm`), the doctrine/annotations package was added and the default routing configuration was added to config/routes/annotations.yam, while it was already present in config/routes.yaml.

### How to reproduce

- Create a new Sym

[2021-12-13 11:25] leonboot opened #44590 "The `exclude` option does not seem to have any effect in annotation routing definitions"
### Symfony version(s) affected

5.*, 6.0

### Description

When trying to exclude certain controllers from being parsed for routing annotations using the `exlude` option, it does not seem to have any effect; the routes are still added.

### How to reproduce

- Create a new Symfony 6 project: `symfony new my-project --version=6.0`
- Add annotations support (`composer require doctrine/annotations`)

[2021-12-13 11:27] leonboot commented on #44588
I can confirm this was introduced in 6.0, I've tried my reproduction steps with 5.4 and the config/routes.yaml file only contains a few remarked example lines there.

[2021-12-13 12:34] xabbuh commented on #44552
Can you create a small example application that allows to reproduce your issue?

[2021-12-13 12:37] xabbuh commented on #44508
What is the state here? I have some difficulties actually rereading the issue if the problem persists and how to reproduce it if it hasn't been solved.

[2021-12-13 12:45] xabbuh commented on #44540
Can you create a small example application that allows to reproduce your issue?

[2021-12-13 12:48] emmanuelballery commented on #44508
@xabbuh This issue is one in the many related to `framework.session.cookie_secure: auto` and is a duplicate of #44546 #44521 #44541

[2021-12-13 12:49] xabbuh commented on #44590
Is this related to (or even the same as #39588)? Does the solution suggested in https://github.com/symfony/symfony/issues/39588#issuecomment-991245221 help?

[2021-12-13 12:52] xabbuh commented on #44508
Thanks for the feedback. Let's close here then as we already have issues opened for this issue.

[2021-12-13 12:52] #44508 closed, assigned to nobody

[2021-12-13 13:11] #41191 closed, assigned to nobody

[2021-12-13 13:34] jonnott commented on #41997
With symfony/mailer ^5.4, I'm finding that whenever connecting via port 587, I always get an error like this, *unless* I add `?verify_peer=0`..

[code]

Example DSN would be something like `smtp://username:password@smtp.server.com:587?verify_peer=0`

Until my recent switch to symfony/mailer I was using Swift Mailer with auth_mode=login, port 587 and never had any problems sending, on the very same

[2021-12-13 13:57] stlrnz opened #44594 "Unsetting Constraint::$groups in constructor is a bit hacky"
### Symfony version(s) affected

6.0.1

### Description

In https://github.com/symfony/symfony/commit/aa4fb0c2c4c3a5ef135ea671c7c6cd03ece56d9e you removed the usage of dynamic properties in Symfony.
While I'm a huge fan of this the new behaviour of the `$groups` property in `Constraint` seems a bit hacky (and confusing) to me. It is
* declared as public -> part of the API of this class
* typed as

[2021-12-13 14:02] nicolas-grekas commented on #44594
See #44037, which links to https://wiki.php.net/rfc/deprecate_dynamic_properties, which explains that this is the way to go.

[2021-12-13 14:02] #44594 closed, assigned to nobody

[2021-12-13 14:36] kgonella opened #44595 "[Translation][Loco] Consider handling the special status "blank translation""
### Description

Currently, the adapter only handles the status "translated" when pulling translations. In loco, there is a special status "blank translation" which allows to say that this key is translated but empty. This status is useful because you cannot save an empty key with the status "translated". The export API allows you to combine the statuses if you separate them with "," like in the e

[2021-12-13 14:53] kgonella commented on #44595
I forgot to ping the right guy => @welcoMattic

[2021-12-13 14:55] welcoMattic commented on #44595
Hi @kgonella. Good catch, I guess you can open a PR to add the status in the HTTP parameters of the export request

[2021-12-13 15:13] ThomasLandauer opened #44596 "[Form] EnumType: Use the enums `value` as default label (instead of `name`)"
### Description

Right now, `EnumType` uses the enum's *name*  as default `<label>` for the `<input>`, see https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/Form/Extension/Core/Type/EnumType.php#L34

But since PHP only allows a very limited set of characters for enum names (ASCII, no blanks, etc.), it might be better to use the enum's *value* by default?

This would be a BC break.

[2021-12-13 15:17] leonboot commented on #44590
@xabbuh you're absolutely correct! I guess I need to work in my search skills, I believe I checked for existing issues, but that one would have been hard to miss 🤦‍♂️

Thanks for pointing it out, I'll close the issue!

[2021-12-13 15:17] #44590 closed, assigned to nobody

[2021-12-13 15:27] derrabus commented on #44596
Absolutely not. The value is for machines, the name for humans. And since we support plain unit enums, we might not even have a value.

Using the name as label is a reasonable default.

It isn't.

This is the way to go, imho. The closure that you would have to use here is really trivial.

Do you want to provide a PR to fix the docs?

[2021-12-13 15:50] ThomasLandauer commented on #44596
I agree with all you're saying, except this. Take this example:

[code]
Sure you can refactor this to `yes/no` or `true/false`, or whatever. But there is just no way to use the nicely formatted "I agree" as name.

Sure, see https://github.com/symfony/symfony-docs/pull/16179

[2021-12-13 15:51] kgonella commented on #44595
Done @welcoMattic. I wasn't sure if I need to handle some tests as well because there is no real call to the api, everything is mocked.

[2021-12-13 16:12] derrabus commented on #44596
And the purpose of the value is not to provide nice human-readable values either. It is meant for serialization purposes as documented in https://www.php.net/manual/en/language.enumerations.backed.php.

Sure, you _can_ store your label here, but it's just not a good practise. And I refuse to make a bad practise the default behavior and I am very reluctant to add boolean flags to switch to a bad pr

[2021-12-13 16:57] nicolas-grekas commented on #44334
Thanks for the reproducer, that allowed me to focus on finding a fix (which took me a few hours and will lead to a few more hours to try removing a circular loop I found meanwhile)

See #44601

Dropping https://github.com/sponsors/nicolas-grekas/ here just in case ;)

[2021-12-13 17:12] ThomasLandauer commented on #44596
OK, so let's close this. But what would you say is a good practice then? Having some short string as value and a dedicated method for the label?:
[code]

[2021-12-13 17:12] #44596 closed, assigned to nobody

[2021-12-13 17:44] #44334 closed, assigned to nobody

[2021-12-13 17:55] derrabus commented on #44596
Yes. If the enum should be aware of labels, this is probably your best option. 👍

[2021-12-13 18:24] #43602 closed, assigned to nobody

[2021-12-13 19:09] wnunezc commented on #44313
status of it???

[2021-12-13 19:49] ThomasLandauer commented on #44596
OK, I see what you mean. But I certainly wouldn't call it a bad practice if somebody does it the other way:
[code]
Takes a few bytes more storage space, but (depending on the number of records) that might be irrelevant.

[2021-12-13 20:08] alexislefebvre commented on #44516
If someone else wonder: yes, `test:colon` is a [valid ID](https://stackoverflow.com/questions/1077084/what-characters-are-allowed-in-dom-ids/1077111#1077111).

[2021-12-13 20:11] alexislefebvre commented on #44485
The doc is managed on another repo: https://github.com/symfony/symfony-docs

---

Update: My bad, I didn't saw the link above.

[2021-12-13 20:14] alexislefebvre commented on #44348
Did the `&amp;` comes from a copy paste? The documentation shows usage with `&`, not `&amp;`: https://symfony.com/doc/current/components/phpunit_bridge.html#making-tests-fail

[2021-12-13 20:19] wouterj commented on #44313
It clearly says "has been fixed", in case you really want a status (which I think you do, because you just typed a comment containing an incomplete sentence followed by 3 question marks to indicate that you really need these people to do more free work for you).

[2021-12-13 20:26] wnunezc commented on #44313
I wonder why it says fixed; but when updating the package it is not updated and in the current version the notice continues to appear ...

![image](https://user-images.githubusercontent.com/1207306/145883288-6f8e96f0-6d41-489e-8471-11e884628bed.png)

![image](https://user-images.githubusercontent.com/1207306/145883323-00f89044-8c11-4a10-8f7d-d1c2f8beb1fa.png)

![image](https://user-images.githubus

[2021-12-13 20:29] evertharmeling commented on #44313
As stated in this comment https://github.com/symfony/symfony/issues/44313#issuecomment-980803836 the deprecation message comes from a 'third-party-bundle' (not symfony), for the status check the referenced issue ;)

[2021-12-13 22:02] derrabus commented on #44485
Does @norkunas' answer work for you? I don't feel like we should add the proposed method.

[2021-12-13 22:17] ThomasLandauer commented on #44485
Yeah, thanks, works - see my docs PR: https://github.com/symfony/symfony-docs/pull/16211

Convenience method: My point is that this is a little lengthy, given how often people are needing it:
[code]
This would just be shorter:
[code]
But if you don't think it's worth it, you can close this :-)

[2021-12-13 22:40] derrabus commented on #44485
Okay, let's close. Thanks for the docs PR!

[2021-12-13 22:40] #44485 closed, assigned to nobody

[2021-12-14 07:56] Helo3615 opened #44605 "ProfilerListener mutate response onKernelResponse"
### Symfony version(s) affected

5.4

### Description

My controller call a repository to remove an item.

**Controller :**
[code]
**Repository :**
[code]
**Problem :** At the very end the response is not the same (type "text" instead of "json" for exemple) because it is mutate after the controller's return.

After looking for every listener that happen after the return I found `\Symfony\Component

[2021-12-14 08:31] adaniloff commented on #44334
Thanks @nicolas-grekas for the fix. By the way great job at the Symfony Live :+1:

[2021-12-14 08:43] derrabus commented on #44605
I'm moving this to support because without a reproducer this bug ticket is not actionable.

[2021-12-14 08:43] #44605 closed, assigned to nobody

[2021-12-14 09:00] shyim opened #44607 "[Mail] Add interface to final class Transport"
### Description

Since Symfony 5.4 the class `\Symfony\Component\Mailer\Transport` is final. We use this to build mail transports based on user configuration saved in the database. I would suggest here, that the class should have an interface, so we can archive the same method signatures.

### Example

See example decoration https://github.com/shopware/platform/blob/trunk/src/Core/Content/Mail/Ser

[2021-12-14 09:14] derrabus commented on #44607
Can you elaborate why you need to extend the `Transport` class to implement your factory logic?

[2021-12-14 09:23] norkunas commented on #28608
Also that HtmlSanitizer is now proposed as new Symfony component (https://github.com/symfony/symfony/issues/44144) `@SafeHtml` constraint could be also included after :)

[2021-12-14 09:32] shyim commented on #44607
The problem for us is to be stay compatible to changes to the Transport class. Currently, it is called by the di config https://github.com/symfony/symfony/blob/6.1/src/Symfony/Bundle/FrameworkBundle/Resources/config/mailer.php#L36

When now a new method is added and this one is called, our code would break. Thats the reason why an interface could help here

[2021-12-14 09:58] snipershady opened #44610 "Maker bundle write deprecated and not working code."
### Symfony version(s) affected

5.4.1, 6.0.1

### Description

Creating a new project from basic starting steps will produce a not working code.
Registration doesn't works. It reports invalid CSFR token so the $form->isValid() method returns "false".

This issue involves both the latest versions of Symfony.

Moreover, the **Security/Authenticator**
is still using `$request->request->get()` instea

[2021-12-14 10:01] stof commented on #44610
Using `$request->request->get()` is not deprecated at all. It is even *recommended* over `$request->get()` when we specifically want to read from the POST values instead of allowing multiple sources.

and the authenticator has nothing to do with the CSRF validation on the user registration, so I don't understand your report.

[2021-12-14 10:03] snipershady commented on #44610
@stof  login doesn't work, too.
That's why I've reported information about Authenticator and Registration.

Please, try to reproduce all steps and let me know if you are able to understand

[2021-12-14 10:13] xabbuh commented on #44610
This looks like a duplicate of #44541.

[2021-12-14 10:35] truchot commented on #44552
Yes, of course !

I bring to your attention that I don't use Symfony but only their components in this project.
I omit some parts not relevant but I create a custom Kernel like this :

[code]

As you can see in `getContainerHash` method  :
`return \str_replace('.', '_', ContainerBuilder::hash($this->getKernelFile()));`

I override `ContainerBuilder::hash()` return because it can generate dot in ha

[2021-12-14 10:37] snipershady commented on #44610
I was just posting that, watching https://github.com/symfony/symfony/issues/44541
registration problem is because CSRF cannot access "session" because of cookies in the local environment.

Login and Authentication, too

[2021-12-14 11:11] xabbuh commented on #44610
Does that mean we can close this one as a duplicate of #44541?

[2021-12-14 11:18] xabbuh commented on #44552
Well, that's your custom kernel class that generates a class name based on the hash. So I have to admit I do not really understand the issue that you see inside the code provided by Symfony.

By the way, the Symfony `Kernel` class uses this approach:

[code]

[2021-12-14 11:30] ecwio commented on #44401
How do I use your pr in composer please ?

[2021-12-14 11:30] nicolas-grekas commented on #44552
There's no bug here, that's your code returning an invalid class name. Of course classnames can't contain dots.

[2021-12-14 11:30] #44552 closed, assigned to nobody

[2021-12-14 11:33] albangonzalez commented on #44401
Update to Symfony 6.0.1 as it was merged in that release

[2021-12-14 11:36] ecwio commented on #44401
@albangonzalez thank you

could you please let me know what I should change in my composer ? I don't really understand how symfony dependencies work and if I should update just the package or something else too ? I already have `6.0.*` everywhere so that should work ?

[code]

[2021-12-14 11:38] albangonzalez commented on #44401
Simply type `composer update` in your project folder where your composer.json is located at

[2021-12-14 11:44] thinkawitch commented on #44553
edited: my mistake, posted in wrong window.

[2021-12-14 12:07] derrabus commented on #44401
I'm locking this issue now. Please use GitHub discussions for support, thanks.

[2021-12-14 12:07] truchot commented on #44552
🤔  I just don't understand why it's not the responsibility to `ContainerBuilder::hash()` method to do this ?

[2021-12-14 12:09] ivansrdic commented on #44417
@Korbeil
Any update to this? Is the PR intentionally left with the failing test for the return type patch until someone reviews it, or are the reviewers waiting for that test to be fixed?
Can I help somehow maybe?

[2021-12-14 12:09] devnix commented on #44553
Hi @thinkawitch, I think your PR is not related to this one.

[2021-12-14 12:12] Korbeil commented on #44417
The failing test is not related to the PR, I'm just waiting for someone to review / merge the pull request.

[2021-12-14 12:21] AndreasA opened #44612 "[YAML] Access enum value (php 8.1) like is already possible for constants using !php/const by adding e.g. !php/enum syntax"
### Description

Hi,

now that PHP has enum support it would be nice, if one could access its value like one can already do with constants using `!php/const`.

### Example

[code]

[code]

or similar

[2021-12-14 12:33] stof commented on #44612
Using `!php/const` already allows accessing enum cases, because they are accessible as PHP constants. So there is nothing to do here. It already works.

[2021-12-14 12:33] #44612 closed, assigned to nobody

[2021-12-14 12:34] stof commented on #44612
Note however that for support of enums in the dumped DI container, you need to use Symfony 5.4+

[2021-12-14 12:36] AndreasA commented on #44612
@stof Sorry. My fault. I thought the project was already 5.4 but that was another project. The project where I tried is only 5.3 currently. So it failed with debug:container to parse it.

Because that was what I tried initially :smile: (using !php/const)

[2021-12-14 12:37] #44610 closed, assigned to nobody

[2021-12-14 12:49] AndreasA commented on #44612
@stof One minor question though, accessing the value of the enum `->value` instead of the type is not possible this way, is it, though in that case a normal constant probably makes more sense anyway :smile:

[2021-12-14 12:54] stof commented on #44612
@AndreasA indeed. If what you need is the backing value and not the enum case, it means that what you need is a normal constant, not an enum. That's why the feature proposal to allow accessing the backing value from Yaml has already been rejected.

[2021-12-14 12:57] stof commented on #44552
Because `ContainerBuilder::hash` is not responsible for providing a valid class name (and it is not used only in places building a class name).

[2021-12-14 13:06] AndreasA commented on #44612
@stof Thanks for the fast response. And, of course, you are correct regarding it works already. Created the ticket a bit too fast.

[2021-12-14 13:12] truchot commented on #44552
Thanks for your answer.

[2021-12-14 14:08] johannes85 opened #44616 "Session id/cookie keeps being generated if session is empty"
### Symfony version(s) affected

5.4.1, 6.0.0, 6.0.1

### Description

When sessions are enabled, and read for example by the "app.flashes('notice')" twig extension Symfony keeps creating and deleting session cookies.

[code]

And so on.

This is caused by this change: https://github.com/symfony/http-kernel/commit/8983be5ffb4701f61bb24cefcf1207dbe2b77cd5#diff-f78b66c251522e67fb27c1dbea2a7e22f210e7

[2021-12-14 14:18] peter17 opened #44617 "[HttpClient] Crash for some URLs"
### Symfony version(s) affected

6.0.1

### Description

Some URLs produce an error with Symfony HttpClient. The error is:

[code]

### How to reproduce

Here is an example:

[code]

The output:

[code]

I believe that some kind of firewall is blocking the request hence causing an invalid (or at least weird) response:

[code]

### Possible Solution

_No response_

### Additional Context

Thanks a

[2021-12-14 14:44] #44417 closed, assigned to nobody

[2021-12-14 15:23] Cartman34 opened #44619 "LessThanOrEqual is not formatting compared value in error"
### Symfony version(s) affected

5.4.1

### Description

When using a LessThanOrEqual constraint on MoneyType field, the compared_value is not well formatted for user.
The shown error is
"Cette valeur doit être inférieure ou égale à 72.74."
instead of one acceptable text :
"Cette valeur doit être inférieure ou égale à 72,74."
"Cette valeur doit être inférieure ou égale à 72,74 €."

### How to repr

[2021-12-14 15:44] fancyweb commented on #44619
It's a known limitation. There are many related/same issues such as https://github.com/symfony/symfony/issues/36784. There is no way to easily customize how the violation parameter values are formatted.

[2021-12-14 16:21] nicolas-grekas commented on #44617
Fixed in #44623, thanks for the report and for the reproducer.
Note that the server is answering with `HTTP/1.1 000 `, which is not legal in HTTP.

[2021-12-14 16:21] #44617 closed, assigned to nobody

[2021-12-14 16:24] ro0NL commented on #44619
LessThanOrEqual does not know about money values either.

#41136 could help

or formatting the argument at the message level: https://unicode-org.github.io/icu/userguide/format_parse/messages/#argument-formatting

[2021-12-14 16:33] florentdestremau commented on #33394
@xabbuh since you reopened this issue, what are the next steps for this ? We have been using messenger in production for a couple of weeks and being stuck with php-serialization instead of json-based message body is unfortunate. Regarding @Wirone 's comment https://github.com/symfony/symfony/issues/33394#issuecomment-791295930 there seem to be a solution but we need a maintainer's input. I would b

[2021-12-14 18:27] derrabus commented on #44607
Well the idea of the `Transport` class is that it receives a list of transport factories that it iterates over to create the actual transport. For those factories, we provide an interface `TransportFactoryInterface` because that is the intended extension point.

Providing your very own implementation of the `Transport` class only makes sense if that extension point does not work for you. And in th

[2021-12-14 21:19] andimg93 commented on #44540
I see no need for that, its very simple to reproduce as I described and I have just seen that the problem has been reported since 2013 again and again in different ways, see for example here https://github.com/symfony/symfony/issues/7468

You can link my report with that problem, but please put more priority on this problem which has been going on for over 8 years now 😖

[2021-12-14 21:31] #44540 closed, assigned to nobody

[2021-12-14 21:52] lugosium commented on #44515
My bad @chalasr, it's only on v6.0.0 that the problem occurs.

[2021-12-14 22:03] chalasr commented on #44515
@lugosium No worries, I guessed it as the real type declaration has only been introduced on 6.0.

[2021-12-14 22:23] chapterjason commented on #37304
I use a `BufferedOutput` as workaround like this:

[code]

[2021-12-14 22:56] alexander-schranz commented on #44546
@verng95 Thank you for the report. It seems currently `auto` is not correctly handled here: https://github.com/symfony/symfony/blob/3a1f34ae4b9c3b637ff26ef90b97269a9401f919/src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php#L140

If `$sessionCookieSecure` would be `auto` we need to handle that. I need first check where `cookie_secure: auto` was handled before. But I'm defin

[2021-12-14 23:02] alexander-schranz commented on #44541
Can you try out #44518 if this fixes your issue?

[2021-12-14 23:04] alexander-schranz commented on #44616
Thx for the issue. Can you check if #44518 maybe does fix your issue?

[2021-12-14 23:05] alexander-schranz commented on #44546
Can you try out #44518 this should fix the issue with `cookie_secure` not being handled.

[2021-12-15 03:23] #41532 closed, assigned to nobody

[2021-12-15 03:48] alexander-schranz commented on #42633
We changed the cookie handling in 5.4 when HttpKernel is used. The cookie is not longer set by PHP itself now. It is now set manually by Symfony over the `AbstractSessionListener`. Would be interesting if this does also solve your problem. https://github.com/symfony/symfony/blob/d8fd632134d576e2d8152356ac2bce0068ff768e/src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php#L165

[2021-12-15 04:11] alexander-schranz commented on #44553
@devnix Thx for the reproducer :+1: great issue.
Can you give #44634 a try? To check if that would fix your issue in your project also?

[2021-12-15 05:35] bradjones1 commented on #42633
I'm sure that would; Drupal 9 uses Symfony 4 at the moment but Drupal 10 will be Sf 5/6 compatible; see https://www.drupal.org/project/drupal/issues/3197482

Thanks for the pointer.

[2021-12-15 07:15] devnix commented on #44553
Hi @alexander-schranz, thank you!

It solves the first part of the issue, which is the title of the ticket. The problem is that the PHPSESSID cookie is regenerated every two requests. I think this is the responsible part of that behavior: https://github.com/symfony/symfony/blob/v5.4.0/src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php#L136-L183

[2021-12-15 09:11] johannes85 commented on #44616
No the problem is still present.

[2021-12-15 09:29] GromNaN opened #44635 "[Messenger] Support Google Pub/Sub transport"
### Description

[Pub/Sub](https://cloud.google.com/pubsub/docs/overview) is a queueing service of Google Cloud.

It should use the official [google/cloud-pubsub](https://github.com/googleapis/google-cloud-php-pubsub).

**This issue is waiting for a contributor.**

[2021-12-15 09:34] GromNaN commented on #44635
Existing enqueue provider: https://github.com/php-enqueue/gps

[2021-12-15 10:16] alexander-schranz commented on #44553
@devnix thank you for testing it out so quickly! I will try to have a look at the other issue at the evening.

[2021-12-15 10:20] ampaze commented on #44290
Any news on this?

[2021-12-15 10:40] johannes85 commented on #44616
I also created a Docker container to reproduce the problem in 5.4 and 6.0: https://gist.github.com/johannes85/4ca8c660c7643b01d35aeb0fd43e77fe
Run it like that: ```docker build . -t symtest && docker run --rm -it symtest```

[2021-12-15 10:53] nayzo commented on #44536
I'm encountering the same issue with Redis after upgrade from Symfony v5.3 to Symfony v5.4
PS; I'm using PHP 7.2 on Debian 8

[2021-12-15 11:09] #44531 closed, assigned to nobody

[2021-12-15 12:21] derrabus commented on #44282
Here you go, no more component checkboxes.

[2021-12-15 12:37] Jelle-S commented on #44541
I can confirm this as well

[2021-12-15 12:38] alexander-schranz commented on #44541
@Jelle-S did you try out the changes of #44518 if that would fix your issue?

[2021-12-15 12:44] Jelle-S commented on #44541
@alexander-schranz I should've read _all_ the comments! Yes, that seems to do the trick too. Thanks!

[2021-12-15 12:46] alexander-schranz commented on #44541
@Jelle-S Thank you for testing!

[2021-12-15 12:50] simonchrz commented on #44521
will be solved by https://github.com/symfony/symfony/pull/44518

[2021-12-15 13:02] fritzmg commented on #44546
I can confirm that #44518 would fix the problem for us.

[2021-12-15 13:11] #40357 closed, assigned to nobody

[2021-12-15 13:38] fritzmg opened #44644 "[HttpKernel] cookie_secure: auto does not work correctly"
### Symfony version(s) affected

4.4.35

### Description

The [session problems in 5.4.1](https://github.com/symfony/symfony/issues/44546) prompted me to investigate another issue we noticed with sessions over `http://` connections in Symfony 4.4. It seems `framework.session.cookie_secure: auto` does not work correctly in Symfony 4.4 either. If a session is created in Symfony 4.4, the following re

[2021-12-15 13:43] #44595 closed, assigned to nobody

[2021-12-15 14:31] fritzmg commented on #44644
Never mind, I tested wrong. The `secure` flag is in fact not set.

[2021-12-15 14:31] #44644 closed, assigned to nobody

[2021-12-15 16:09] xabbuh commented on #44540
This is open source. I am happy to review your contribution around this problem that takes all the concerns raised in the related issues into account.

[2021-12-15 16:13] andimg93 commented on #44540
@xabbuh check https://github.com/symfony/symfony/pull/39438 - There is already an open contribution, don't know why it is added and removed from the Symfony releases as you can see.

[2021-12-15 18:36] ro0NL commented on #44579
You could throw an exception also isnt it, that should spot any call. AFAIK `%kernel.logs_dir%`is a widespread semantic in bundles, recipes, everywhere :) making it nullable/optional has a cost.

[2021-12-15 18:42] acantepie commented on #44541
@alexander-schranz It does the job :)

[2021-12-15 18:45] Warxcell commented on #44579
But why? The aim here is to be able to remove usage of it, rather than hacking it with **/dev/null** or **/dev/stdout** or **/dev/stderr**. And isn't it used internally by symfony only? Why would bundle use it?

In our case - we just set it to some random string anyway, because we know it's not used anywhere. And in symfony I see only one usage of it - as default path of Monolog path configuration

[2021-12-15 18:57] bjornpost opened #44654 "Setting session causes 'cannot modify header information' warning"
### Symfony version(s) affected

5.4.1

### Description

When I call `$session->set()`, I get a "Cannot modify header information" warning.

### How to reproduce

[code]

### Possible Solution

The warning disappears when I remove [L52-55 in SessionUtils.php](https://github.com/symfony/symfony/blob/v5.4.1/src/Symfony/Component/HttpFoundation/Session/SessionUtils.php#L52-55), but that's probably no

[2021-12-15 19:11] xabbuh commented on #44654
Can you create a small example application that allows to reproduce your issue?

[2021-12-15 19:20] cs278 opened #44655 "[Form] `AbstractChoiceLoader` can return invalid results"
### Symfony version(s) affected

5.1.0, 5.4-dev, 6.1-dev

### Description

I've discovered a design issue with `AbstractChoiceLoader` which manifested itself in a form failing to recognise a valid submitted value.

In our application this causes problems when the (new in 5.1) `choice_filter` option is used with the `expanded => true` option, initially I thought this was something specific to us (w

[2021-12-15 19:21] acantepie commented on #44355
I have created a dummy bundle (teapot-bundle) to reproduce issues :

[code]

[2021-12-15 19:25] cs278 commented on #44654
`return $response->send();` should just be `return $response;` which should fix the problem?

[2021-12-15 19:43] acantepie commented on #44355
@mbabker can you take a look ?

[2021-12-15 19:46] bjornpost commented on #44654
@cs278 Oof, you're totally right! Stupid oversight-- sorry for the noise.

[2021-12-15 19:46] #44654 closed, assigned to nobody

[2021-12-15 21:12] derrabus commented on #44579
I think, this is a reasonable proposal. Logging should not default to the filesystem anymore, so a mandatory log dir setting does not feel right anymore.

[2021-12-15 21:32] Warxcell commented on #44579
It's totally ok to keep current behaviour as default - I'm just asking to be able to remove the current behaviour afterwards.
The problem is in the Kernel::buildContainer: https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/HttpKernel/Kernel.php#L625

as it requires folder to be writeable at the time of **cache:clear**, which even is not a guarantee to be writable afterwards - for ex

[2021-12-15 22:21] alexander-schranz commented on #44553
@devnix I'm not able to reproduce to lose sessions after every second requests tested on http and https:

![session-php-bridge](https://user-images.githubusercontent.com/1698337/146273900-201d0d29-08a0-4acc-808a-6b2b680d0a57.gif)

Do you have any hints? PHP Version, PHP Session settings?, PHP Cookie Settings?

[2021-12-15 23:29] alexander-schranz commented on #44616
@johannes85 Thx for the steps to reproduce. PS: A pusht repository makes it easier to checkout then docker image over gists ;)

Can you give https://github.com/symfony/symfony/pull/44657 a try. If that works also for you?

[2021-12-16 00:30] alexander-schranz commented on #44253
Could be related to: https://github.com/symfony/symfony/issues/44553

@Pierstoval can you give a try:

 - https://github.com/symfony/symfony/pull/44634

The reproducer seems to require a heavy load of docker build. I could not get it to work that it could connect to the database.

There are currently also some other fixes about sessions which could fixes the problem:
 - https://github.com/symfony/

[2021-12-16 00:35] alexander-schranz commented on #42633
@bradjones1 Thx for the fast response. Keep us up2date when compatibility to Symfony 5.4 is in Drupal and you could test it, so we can close this issue then :)

[2021-12-16 07:13] ghost commented on #44521
The same behaviour could be reproduced in Symfony 6.0.1 running on nginx with php-fpm 8.1.0

[2021-12-16 08:12] TristanPouliquen commented on #44103
hello, I'm bumping this issue to see if this would be accepted if I were to work on it.

And if so, could I give some guidance as to exactly where the ACL are built so I'm doing it right the first time? :-)

[2021-12-16 09:34] supryantowp commented on #40383
I also got the same error like this. but I'm using pimcore version 6.5 and I don't know how to fix it. please help me please i've been almost a week

[2021-12-16 10:12] zmitic commented on #44556
@nicolas-grekas I made PR but given this is the first one, I probably made some mistakes in the process. I would really appreciate if you could ELI5 them so I don't repeat them in the future with more complex features.

[2021-12-16 10:18] xabbuh commented on #44103
This looks reasonable to me.

@wouterj What do you think about this idea?

[2021-12-16 10:19] xabbuh commented on #44542
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-12-16 10:19] #44542 closed, assigned to nobody

[2021-12-16 10:20] stof commented on #44556
Well, this proposal is using enums as a way to store backing strings that are used to actually index the service locator. This seems like an abuse of enums. That's not how enums are expected to be used (enums are providing type safety if you use the enum, not its backing value). Here, you are still using the string when reading from the service locator

[2021-12-16 10:29] zmitic commented on #44556
@stof
That's a good point, I didn't think of that.

But `Symfony\Component\DependencyInjection\ServiceLocator::get(string $id)` wouldn't allow me to pass enum case. I could remove that typehint and cast `$id` to string (with check for >=8.1); do you think it is a good idea to do?

[2021-12-16 10:36] tgalopin commented on #44144
For the record, I'm working on the improved component based on the standard here: https://github.com/tgalopin/symfony/tree/html-sanitizer/src/Symfony/Component/HtmlSanitizer

You can find a README with usage example. Feel free to send me feedback :) !

[2021-12-16 10:49] stof commented on #44556
We can't. That `get` method is defined by psr/container, and we don't want to deviate from that.

[2021-12-16 11:18] stof commented on #44144
@tgalopin having a mutable Config object seems weird to me. We tried to avoid that in recent components, as it makes things harder to reason about (the config could be mutated at runtime). You should have an immutable config object, with either cloning mutators or a mutable builder object create that config at the end.
Also having the config based on method calls is nice for standalone usage. But

[2021-12-16 11:18] shyim opened #44662 "[Dotenv] Failure tolerant env loading"
### Description

It is pretty stupid to set up a dotenv loading as template base to work in all situations

- .env exists
- .env.dist exists and .env not
- .env.local.php exists but .env not
- no file exists as docker container env

Idea: Add a mode to NOT throw an exception if a file does not exists

### Example

_No response_

[2021-12-16 11:20] jkabat commented on #41667
Yes, this bug is still relevant (at least on v4.4). No workaround found yet.

[2021-12-16 11:29] umpirsky opened #44663 "Symfony v4.4.35 is not compatible with Twig v2.13.0"
### Symfony version(s) affected

4.4.35

### Description

The problematic line of code is https://github.com/symfony/symfony/blob/v4.4.35/src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php#L210 where `Twig\Environment::supports()` is called, but it's not defined in https://github.com/twigphp/Twig/blob/v2.13.0/src/Environment.php.

https://github.com/symfony/symfony/blob/v4.4.35/comp

[2021-12-16 11:40] stof commented on #44663
This line is calling the `supports` method on the `templating` service, not on the `twig` service. So please provide an actual reproducer.

[2021-12-16 11:55] umpirsky commented on #44663
Sorry, I had a bad unit test, please ignore.

[2021-12-16 11:55] #44663 closed, assigned to nobody

[2021-12-16 13:05] wongjn commented on #40976
No.

[2021-12-16 16:51] nicolas-grekas commented on #41130
See #44669 for a fix.

[2021-12-16 17:41] nicolas-grekas commented on #44312
Please give #44671 a try

[2021-12-16 18:37] deepika-maj opened #44675 "[Session] issue with the visibility of properties in SessionFactory class"
### Description

On 5.4 branch, I think the properties of `Symfony\Component\HttpFoundation\Session\SessionFactory` class should be set to `protected` in order to write our own `SessionFactory` class by extending it and without re-writing everything.

### Example

_No response_

[2021-12-16 18:54] ajgarlag opened #44676 "Upgrading from Symfony 4.x to Symfony 5.x logouts all users"
### Symfony version(s) affected

5.x

### Description

The `Symfony\Component\Security\Core\Role\Role` and `Symfony\Component\Security\Core\Role\SwitchUserRole` classes were [deprecated](https://github.com/symfony/symfony/pull/22048) in Symfony 4.3 and [removed](https://github.com/symfony/symfony/pull/31723) in Symfony 5.0.

But if you are using PHP sessions to keep users logged in and you are usi

[2021-12-16 19:08] derrabus commented on #44676
That would indeed be an unfortunate blocker for an upgrade. I haven't investigated yet, but maybe we can change the serialization on 4.4 to not include the role class? Would you be able to work on a PR?

[2021-12-16 19:32] wouterj commented on #44676
I'm not sure if we should fix this in Symfony to be honest. As this is about the update from 4.4 to 5.x, people have been facing this for 2 years already. To my knowledge, this is the first report. Which indicates to me that it's not considered important for many users of Symfony.

Even more, @ajgarlag already provided a working solution. So the issue can be fixed without changing anything in the

[2021-12-16 19:40] gmponos commented on #44676
Just an FYI that I also have faced this issue upgrading from one version to another.. can't remember which.. I think it was on a minor 5.x upgrade. But as you said it was not of a big importance and I haven't reported it.. I remember that it had to do something with changing the serialization changes.. not sure...

[2021-12-16 20:08] sylfabre opened #44678 "[Composer] Cannot composer install to contribute"
### Symfony version(s) affected

6.1

### Description

Hello

I'm trying to install Symfony locally to run the test before submitting a PR.

I've checked out the 6.1 branch and `composer update` fails

[code]

The same goes with the 6.0 branch

### How to reproduce

Follow the instruction of https://symfony.com/doc/current/contributing/code/tests.html

1. Pull the symfony repository
2. Checkout br

[2021-12-16 20:26] nicolas-grekas commented on #44678
The reason is that composer is not able to detect the version of Symfony that is checked out.
Do you have a branch named `6.1` locally?
`COMPOSER_ROOT_VERSION=6.1 composer u` should work also

[2021-12-16 20:27] chalasr commented on #44676
For people using only LTS versions, it's rather 1 month.

Changing how the token is serialized on 4.4 is likely to break someone else's code though, I agree we should not fix this.
Thank you for the report and the public workaround.

[2021-12-16 21:32] sylfabre commented on #44678
@nicolas-grekas Thank you for checking and yes I have

I tried several things while on my 6.1 branch
`COMPOSER_ROOT_VERSION=dev-master composer u`
[code]

`COMPOSER_ROOT_VERSION=6.1 composer u`
[code]

`COMPOSER_ROOT_VERSION=6.1.x-dev composer u`
[code]

`cat .git/HEAD`  outputs `ref: refs/heads/6.1`

And on my 6.0 branch
`COMPOSER_ROOT_VERSION=6.0 composer update`
[code]

[2021-12-16 21:33] ro0NL opened #44680 "[Lock] Update factory contract"
### Description

LockFactory returns SharedLocksInterface's

https://github.com/symfony/symfony/blob/98e0fa4e0d0fe306ab875f06bad97f2c472db4af/src/Symfony/Component/Lock/LockFactory.php#L44-L47

https://github.com/symfony/symfony/blob/98e0fa4e0d0fe306ab875f06bad97f2c472db4af/src/Symfony/Component/Lock/LockFactory.php#L56-L62

https://github.com/symfony/symfony/blob/98e0fa4e0d0fe306ab875f06bad97f2c4

[2021-12-16 21:49] #44312 closed, assigned to nobody

[2021-12-16 22:01] #44536 closed, assigned to nobody

[2021-12-16 22:08] derrabus commented on #44676
I recall that we've fixed similar problems in the past. And imho, apps should be able to upgrade from 4.4 to 5.4 without all active sessions being terminated. Maybe my idea was not the best one, but if we can do something to ease the upgrade here, I think we should.

[2021-12-16 22:16] #44433 closed, assigned to nobody

[2021-12-16 22:36] tgalopin commented on #44144
I applied the updates and opened https://github.com/symfony/symfony/pull/44681

[2021-12-16 23:28] mbabker commented on #44355
Unfortunately I doubt I’ll have much time to look at this until after the holiday between work deadlines and taking some time off to see family this year.

[2021-12-17 07:25] ajgarlag commented on #44676
That was my first option: avoid roles serialization in `AbstractToken` and create new instances of `Role` when the token is unserialized, but I think it will break any app using custom role classes extending `Role`

This is my case.

I see two options here:

1. Fix it in Symfony code: we can introduce back the `Role` and `SwitchUserRole` classes in SF 5.3, with any method throwing `LogicException`

[2021-12-17 07:39] filiplikavcan opened #44686 "Reseting object properties to uninitialized state"
### Description

I propose extending Property Accessor with an optional feature that could enable checking whether object setter has a non-nullable parameter and would call unset($object->parameter) instead of $object->setParameter($value) if $value is null and $object implements __unset() method.

If it makes sense I would create PR for this. I prototyped it and it works but I want to discuss the

[2021-12-17 09:13] Guikingone commented on #44635
Hi 👋🏻

If I'm right, this idea was discussed back in the days but discarded as Google use a "all-in-one" package that force Symfony to use the OAuth authentication (and searching for the credentials file, not to mention that Sf cannot use HttpClient here as the internal client is built within the library), the solution was to use the REST API: https://cloud.google.com/pubsub/docs/reference/rest.

[2021-12-17 09:28] ro0NL commented on #44680
Addiotionally having `NoLock implements SharedLockInterface`, provided if `$factory->test === true` would be nice, for testing purposes

[2021-12-17 09:39] silverbackdan commented on #44542
Hi, I'm sorry to take so long to reply! It was indeed the same issue. Thank you for your prompt response.

[2021-12-17 09:50] devnix commented on #44553
@alexander-schranz I'm still trying to replicate on my reproducer, but right now it's only happening only on my project. I'll let you know if I archieve to isolate it.

Anyway, while debugging, I see that the cookie is explicitly removed if the session is considered empty:
![image](https://user-images.githubusercontent.com/1777519/146524700-c4ede48f-3ca0-48d6-bffe-ce60469fa9b0.png)
![image](https:

[2021-12-17 09:57] GromNaN commented on #44635
Thank you for the pointer @Guikingone, I did't found the closed PR.
Since the situation did not change since 2019, I close the issue.

Could be re-open if a libary for Google API of created, on top of `symfony/http-client`.

[2021-12-17 09:57] #44635 closed, assigned to nobody

[2021-12-17 12:48] jontjs commented on #33342
Firstly, many thanks to @nicolas-grekas for your input into this problem, especially the suggestion to use

- `@Route("/hello{_</(?!/)>}", name="hello1")` for the trailing-slash URL
- `@Route("/hello{_<(?!/)>}", name="hello2")` for the non-trailing-slash URL

to allow both the trailing-slash and non-trailing-slash URL variants to exist, which I found in https://github.com/symfony/symfony/issues/32

[2021-12-17 13:00] amigian74 opened #44689 "Hard wired FieldVote in Twig extension isGranted"
### Symfony version(s) affected

5.4.0

### Description

I wanted to create a complex authorization system using voters for my symfony project. This system is is similar to ACL but I dind'nt want to use the acl package. Unfortunately the SecurityExtension for twig needs the FieldVote class (which is only available in the acl package). In my opinion this is not a very good design decision, because

[2021-12-17 13:11] #37794 closed

[2021-12-17 14:18] devnix commented on #44553
It's still not replicated in the reproducer because `$session->isStarted()` evaluates to `false`: https://github.com/symfony/symfony/blob/v5.4.0/src/Symfony/Component/HttpKernel/EventListener/AbstractSessionListener.php#L109

In my project is happening because of the security bundle starting the session, so I'm trying to add the same behavior in the reproducer repository.

[2021-12-17 14:20] elfring opened #44690 "Checking the application of the configured session storage directory"
### Symfony version(s) affected

6.0

### Description

I am trying the setting “`session.save_path = "/var/lib/php8/sessions"`” out in the file “/etc/php8/cli/php.ini” at the moment.

### How to reproduce

I constructed a tiny script for a test like the following.

[code]

[code]

I am trying the following settings out in the file “config/packages/framework.yaml” in an example application (which w

[2021-12-17 14:27] alexander-schranz commented on #44553
@devnix you can also use the https://github.com/symfony/demo as a start point. That already has security in it.

[2021-12-17 14:32] devnix commented on #44553
Reproduced! https://github.com/devnix/symfony-sessions-messed-up/commit/00f37fc21186d9c0183e39e236d7a9371c2f1620

Enabling a ` - { path: ^/, roles: PUBLIC_ACCESS }` line in `access_control` starts this behavior if Symfony session bags are empty. In that case, Symfony will destroy the whole session cookie, even if it is used by other applications.

[2021-12-17 16:13] xabbuh commented on #44690
Cannot reproduce, closing here. Please provide a full example application that allows to reproduce it.

[2021-12-17 16:57] ro0NL opened #44693 "[FrameworkBundle] validator.auto_mapping always applies something"
### Symfony version(s) affected

4.4.31

### Description

I have `framework.validation.auto_mapping` set to an empty array (default), yet `AddAutoMappingConfigurationPass` always reaches.

`doctrine.orm.default_entity_manager.validator_loader` is the first ID found, which seems to explain why a random UniqueEnitty validation is triggering on our side. Which is the bug im bumping into :)

### How t

[2021-12-17 18:23] 94noni opened #44696 "[Profiler] HTML email preview ko"
### Symfony version(s) affected

6.0.1

### Description

Hi,

I am playing with Symfony 6 + PHP 8 on the Symfony Demo app, and wanted to test
https://symfony.com/blog/new-in-symfony-5-4-profiler-improvements#html-email-preview
(https://github.com/symfony/symfony/pull/43751)

I got this:
<img width="1295" alt="Capture d’écran 2021-12-17 à 19 16 35" src="https://user-images.githubusercontent.com/1

[2021-12-17 18:30] nicolas-grekas commented on #44693
Can you please have a look at why and submit a fix?

[2021-12-17 18:30] #41709 closed, assigned to nobody

[2021-12-17 18:35] nicolas-grekas commented on #44678
I don't reproduce. Maybe you're running an old version of composer?

[2021-12-17 18:38] nicolas-grekas commented on #41667
@jkabat would you be able to have a look at the code and figure out a fix?

[2021-12-17 18:44] nicolas-grekas commented on #44655
I see that you have a possible fix for this. Could you please send a PR (with a test case) so that we can discuss it?

[2021-12-17 18:47] nicolas-grekas commented on #44290
Nothing to add on my side, I don't have the answers to your questions.

[2021-12-17 18:50] nicolas-grekas commented on #44492
That's not possible as explained by @stof

[2021-12-17 18:50] #44492 closed, assigned to nobody

[2021-12-17 18:55] nicolas-grekas commented on #44507
Caching/partial updates is not possible because a minor change in a file can spread to many files with eg compiler passes and tracking those dependencies is too heavy.

I'm afraid we won't be able to do anything here.

Maybe disabling autowiring could help in your case, but I get that would break some part of the DX...

[2021-12-17 18:56] nicolas-grekas commented on #44507
You might want to use blackfire.io to find possible optimizations btw.

[2021-12-17 20:17] ro0NL commented on #44678
[code]

[2021-12-17 20:20] Nozyka31 commented on #31080
Hi !
I have the same issue, working with Symfony.
Trying to deploy my Symfony app on my OVH website. 👍

`Installing dependencies from lock file (including require-dev)
Verifying lock file contents can be installed on current platform.
Nothing to install, update or remove
Generating optimized autoload files
composer/package-versions-deprecated: Generating version class...
composer/package-versions-

[2021-12-17 20:31] kubawerlos opened #44697 "Symfony\Component\Finder\Finder::getIterator return type annotation removed"
### Symfony version(s) affected

6.0.0

### Description

During one of the [Merge branch '5.4' into 6.0](https://github.com/symfony/symfony/commit/3cdca3da7cef1b1cdff368c86150d23c78aea7e2#diff-2bc950b86f14d810335e527fea65a68f1f718f6038ef1ce44febc1a59aa9d905L604) the PHPDoc return annotation (`@return \Iterator<SplFileInfo>`) got removed from `Symfony\Component\Finder\Finder::getIterator` method.

[2021-12-17 20:47] wouterj commented on #44678
I can reproduce this in containers without `git` installed. Can you check if that is your case as well?

[2021-12-17 20:48] nicolas-grekas commented on #44678
Composer uses git to determine the current version so that's a very good question indeed!

[2021-12-17 23:53] barell commented on #31490
I know it is old issue but I encountered the same error message and thought it is worth to put my comment here for the future.

In my case I have installed Symfony Serializer compontent as `composer require symfony/serializer` but uninstalling and installing as `composer require symfony/serializer-pack` solved the issue.

[2021-12-18 00:11] siguycmo commented on #44553
I have also started getting this issue on symfony 5.4 after upgrading from 5.2, used in a legacy system that already handled sessions using native PHP functions. It was happening for me everytime when I would logout. I managed to get this resolved by removing a session check in my legacy app which looked like this:
[code]
I know this wont work for everyone, but it may be worth checking that the le

[2021-12-18 07:01] JENNYPCHEN commented on #30575
i had a similar problem that i forgot all use new All but now after adding it, it creates a problem. even though i have set it to require false, every time when i not upload a file; it said ' This value should be of type iterable.' could anyone so kind to give me a hint what to do please

[2021-12-18 10:05] ro0NL commented on #44678
`COMPOSER_ROOT_VERSION=dev-master` should do the trick btw

[2021-12-18 12:10] sylfabre commented on #44678
@ro0NL On the 6.1 branch, `COMPOSER_ROOT_VERSION=dev-master composer update` outputs

[code]

Installing git solved my issue.

[2021-12-18 12:10] #44678 closed, assigned to nobody

[2021-12-18 13:03] filiplikavcan commented on #44686
Related: https://github.com/symfony/symfony/pull/37520

[2021-12-18 16:25] Art4 opened #44703 "[WebProfilerBundle] Symfony\Component\Mailer\DataCollector\MessageDataCollector::base64Encode(): Argument #1 ($data) must be of type string, null given"
### Symfony version(s) affected

^5.4 and ^6.0

### Description

The mailer panel in WebProfiler throws a TypeError: `Symfony\Component\Mailer\DataCollector\MessageDataCollector::base64Encode(): Argument #1 ($data) must be of type string, null given`.

### How to reproduce

Send a text mail (without HTML content), then try to view it in WebProfiler.

### Possible Solution

The reason for this is t

[2021-12-18 16:29] flotti455 commented on #40502
Yes.

No.

[2021-12-18 16:52] derrabus commented on #44697
The annotation was removed because I believed it to be redundant after the native return types had been added. The `@implements` should be enough imho, but apparently Psalm thinks otherwise. PR welcome to restore the return types to `getIterator()` and friends where necessary.

[2021-12-18 17:13] nicolas-grekas commented on #44697
It'd be great to know if psalm is buggy or not before adding the annotation.

[2021-12-18 17:52] derrabus commented on #44697
Let's find out: vimeo/psalm#7187

[2021-12-18 18:08] Art4 commented on #44696
This seems to be caused by #44703.

[2021-12-18 18:48] derrabus opened #44705 "[RFC] Abandon FrameworkExtraBundle"
### Description

Since Symfony 2 `sensio/framework-extra-bundle` is the solution for adding annotation-magic to the application. Since then, some functionality has been moved to the core (e.g. annotation-based routing) and other functionality has been obsoleted by a core feature (param converters Vs. argument value providers).

FrameworkExtraBundle feels like a core-bundle but it's not as well mai

[2021-12-18 19:09] fabpot commented on #44705
I agree.

[2021-12-18 19:52] javiereguiluz commented on #25361
Closing in favor of #44705.

[2021-12-18 19:52] #25361 closed

[2021-12-18 20:12] ro0NL commented on #40794
I would consider the reverse route instead, thus a `compile:` prefix. Another question i'd have is, should the resolved value be compiled into the dumped container actually.

[2021-12-18 20:30] derrabus commented on #25361
Oh right, there was already an issue open. 😅

[2021-12-19 01:07] dennned commented on #44541
thank you

[2021-12-19 07:48] garak commented on #44705
I don't get the logic. There's a set of optional features in a bundle that is not well maintained. The solution should be maintaining that bundle, not putting optional features in the core.

I think a strong point of Symfony is having a slim base and modularity, I hope it's not going to transform in a copy of Laravel.

[2021-12-19 08:42] wouterj commented on #44705
Let's not act as if moving 3 annotations as native PHP attributes to core will upset anyone please.

That being said, "the solution should be maintaining the bundle" is nicely said but not the practice. Apparently nobody is interest in maintaining the bundle (for years now).
So either it will be dead, we'll remove them from the official docs and that's it. Or we see value in some features and move

[2021-12-19 08:51] javiereguiluz commented on #44705
@garak generally speaking I agree with you ... but in this particular case, I think the bundle was "wrong" since day one. I mean, these were so useful and common features that I never felt them as "extra features". In my opinion, they should've been "core/built-in features" since day one.

[2021-12-19 10:38] ro0NL commented on #40794
The first issue i encounter is we cannot process the env vars at compile time, as the processors come from DI itself.

For that we should re-consider making `container.env_var_processors_locator` a build artifact, eg. provided at bundle/extension level.

[2021-12-19 12:41] thomas2411 commented on #44215
I have the same problem as @loevgaard with 5.3.12 What is weird in one project it works OK, in another one it doesn't work, while on both of them I have symfony/cache 5.3.12
I use REDIS locally with MAMP PRO: `CACHE_DSN='redis:///Applications/MAMP/tmp/redis.sock'`

[2021-12-19 13:11] #41327 closed, assigned to nobody

[2021-12-19 13:27] derrabus commented on #44697
Apparently, the problem is that we used a covariant return type here. The return type enforced by PHP is `Traversable`, but we narrowed that down to `Iterator`. Both, Psalm and PHPStan are confused by that and need the annotated return type. I'd be in favor of adding back the annotations.

Related: phpstan/phpstan#6217

[2021-12-19 14:14] 94noni commented on #44696
@Art4 hum unsure as my $html is filled [here](https://github.com/symfony/demo/blob/ba7109e4a7023c1080d20a67051e9bbd950f7d96/src/EventSubscriber/CommentNotificationSubscriber.php#L64)

for your error, maybe an `{% if message.htmlBody is not null %}` condition should be added around the `HTML Preview`

[2021-12-19 14:23] j-schumann commented on #35129
This is still unresolved.

[2021-12-19 14:27] nicolas-grekas commented on #35129
@j-schumann could you please send a PR to fix the issue?

[2021-12-19 14:57] nicolas-grekas commented on #44356
Your patch was almost good :)
See #44710

[2021-12-19 15:00] nicolas-grekas commented on #44210
Nothing we can do here: there are places where collecting the dump cannot work, eg because it's too early or too late for the collection logic to work.

[2021-12-19 15:00] #44210 closed, assigned to nobody

[2021-12-19 15:01] nicolas-grekas commented on #44397
I think we need to fix the return type, it should be `int|float`.
Can you please submit a PR?

[2021-12-19 15:03] nicolas-grekas commented on #44415
This is by design. The return type of the method is documented as `string|false` on `Response::getcontent()` precisely to cover this need for streamed responses.

[2021-12-19 15:03] #44415 closed, assigned to nobody

[2021-12-19 15:04] nicolas-grekas commented on #44450
That's a bit later to resist adding `void` to those methods :)
Can't you fix your codebase instead?

[2021-12-19 15:06] nicolas-grekas commented on #44470
I'm sorry but I've no idea why this happens.
I cannot reproduce the behavior on my machine so can't help.
I'm closing because this is very likely an issue on your side, although I can't anticipate which one :(

[2021-12-19 15:06] #44470 closed, assigned to nobody

[2021-12-19 15:08] jpswade commented on #44415
Yes I'm aware it's by design and that the document says that, however, the issue is that it's a poor design and implementation, hence raising this issue.

As `getContent` is not implemented, precisely for this reason, it should say so, rather than failing silently.

[2021-12-19 15:09] nicolas-grekas commented on #44477
I never considered the timeout could be set to a negative value (I'm not sure it makes sense either to use infinite timeouts...)
I'd be fine turning them into something long enough. A (few) day(s) is already long enough IMHO, no need to use `INF` IMHO.
PR welcome.

[2021-12-19 15:12] nicolas-grekas commented on #44415
I'm afraid changing this would be a too costly change for what it's worth (taking BC/FC into account of course.)

[2021-12-19 15:24] jpswade commented on #44415
I'm not sure I understand how you've calculated that cost, but it doesn't seem costly to me as the method is unusable.

The interface shouldn't need to change as the return type wouldn't change.

Only it would instead now, correctly throw an exception in an exceptional circumstance (ie: when the method is not implemented).

In this situation, `getContent` always returns false, so adding an excepti

[2021-12-19 15:32] nicolas-grekas commented on #44415
But there are no situations where returning false is genuine. Throwing an exception will break existing code that deal with false to detect when the body is streamed instead. We would require a way to tell these existing codes that the behavior is going to change in V7. But since this API dates from 10 years back, the impact is likely high. I don't have numbers and won't be able to have any, but t

[2021-12-19 15:52] jpswade commented on #44415
If the content can never be genuinely false, then that's more the reason to get rid of it.

I think you'd be hard pushed to find an example in the wild of the implementation you mention.

I understand what it means to maintain backwards compatibility, I worked on backwards compatibility libraries when we moved from PHP4 to PHP5, however it didn't stop the language from progressing, I don't see why

[2021-12-19 16:01] wouterj commented on #44415
Backwards compatibility means we have to stay backwards compatible. Immediately throwing an exception isn't backwards compatible. If you have any suggestion to warn users (using deprecation notices) that they should change

[code]

to

[code]

feel free to create a PR (btw, looking at the code, I'm not sure if the exception really is a better API?).

However, it's clear that at least 3 core team m

[2021-12-19 16:30] mbabker commented on #44355
I put a little thought into things this morning between errands and packing for my trip.  I don't have any great solutions at the moment, but hopefully, this can help nudge somebody in the right direction.

Ultimately, `Symfony\Bridge\Doctrine\DependencyInjection\AbstractDoctrineExtension::detectMetadataDriver()` needs two filesystem paths for it to work after my changes from #43181:

- The bundle

[2021-12-19 19:13] GromNaN commented on #44457
Closing, since the issue occurs in a very specific usage and can be fixed by setting de var.

[2021-12-19 19:13] #44457 closed, assigned to nobody

[2021-12-19 19:28] Art4 commented on #44696
@94noni you are right, the demo app uses a HTML email, #44703 is about raw text.

[2021-12-19 20:03] nicolas-grekas commented on #44366
Thanks for the reproducer. Fixed in #44719

[2021-12-19 20:03] #44366 closed, assigned to nobody

[2021-12-19 21:22] fabpot commented on #44705
These feature were in a bundle as annotations in phpdocs were controversial back  then. Now that we have native annotations, it makes sense to move them to core. Add simple as that.

[2021-12-19 22:39] chregu commented on #44356
Cool. thanks a lot already

[2021-12-19 22:43] #44356 closed, assigned to nobody

[2021-12-20 03:08] krissss commented on #41249
Not solved

[2021-12-20 07:44] juanwilde commented on #43718
I would like to take care of this one. As I see I should checkout to 4.4 create the tasks and then open a PR against that branch, right?

[2021-12-20 07:58] fancyweb commented on #43718
Hello, please take care of it :-) 4.4 is the good branch yes. Read https://symfony-translations.nyholm.tech/#pr for an example.

[2021-12-20 08:58] #44680 closed, assigned to nobody

[2021-12-20 09:10] ThauEx commented on #44443
Any updates on that?

[2021-12-20 09:22] #43718 closed, assigned to nobody

[2021-12-20 09:28] #44500 closed, assigned to nobody

[2021-12-20 09:29] #44541 closed, assigned to nobody

[2021-12-20 09:30] #44546 closed, assigned to nobody

[2021-12-20 09:30] #44521 closed, assigned to nobody

[2021-12-20 09:32] peteruu commented on #41322
Hi no i did not find a workaround and it is still relevant. Some help would be really nice because as I said in new version it is fixed.

[2021-12-20 10:02] dochne commented on #44507
Was worth a try! Thanks for getting back to me!

[2021-12-20 10:02] #44507 closed, assigned to nobody

[2021-12-20 10:05] nicolas-grekas commented on #44697
@kubawerlos can you please send a PR, branch 5.4?

[2021-12-20 10:17] stof commented on #44678
To me, there is no need to solve that: git is necessary to contribute anyway

[2021-12-20 10:19] kubawerlos commented on #44697
@nicolas-grekas it's missing only o 6.0 branch, it's present in 5.4: https://github.com/symfony/symfony/blob/5.4/src/Symfony/Component/Finder/Finder.php#L606

[2021-12-20 10:19] sylfabre commented on #44678
@stof I use git on my host and I have two Docker containers: one for PHP 7, one for PHP 8

As of 2 days ago, git wasn't installed in both my containers where composer runs

[2021-12-20 10:31] ro0NL commented on #44678
@stof still, one needs a container with a proper env to run tests. Then contributing/VCS lingo happens from the host.

Or, assuming ppl run php on the host, then this is maybe mostly an issue when majors are bumped :) thus now :)

At least this is my experience.

[2021-12-20 10:32] nicolas-grekas commented on #44426
You can set the `container.dumper.inline_class_loader` parameter to false in the test env:

[code]

I'm closing here because we won't be able to do anything in the short term.
Thanks for the details. We need to do something about it at some point.

[2021-12-20 10:32] #44426 closed, assigned to nobody

[2021-12-20 10:44] villfa commented on #44450
Thanks for your answer.

To give you more context I've encountered this issue by helping a library to be compatible with PHP 7.0 up to 8.1: https://github.com/Adldap2/Adldap2/pull/795
I ended up dropping MockeryTestCase entirely.

I'm closing this issue since I'm not even convinced it's worth to be treated.

[2021-12-20 10:44] #44450 closed, assigned to nobody

[2021-12-20 11:08] ro0NL opened #44724 "[VarExporter] export to primitive array"
### Description

I have this quirky piece of PHP code running in prod, to serialize any arbitrary PHP value, for logging purposes.

[code]

I'd like to replace this with something like `VarExporter::toPrimitive($value)` (naming TBD).

WDYT?

### Example

_No response_

[2021-12-20 11:25] derrabus commented on #44697
6.0 is the correct target.

[2021-12-20 11:28] nicolas-grekas commented on #44462
Hi, thanks for the suggestion but I would advise against doing that.
The reason is that `php://input` might be arbitrary long and we'd better not buffer that stream in memory by default.
Also because I prefer to keep things as close as possible to PHP in this `$context` array.
Of course, using a value object could be a nice idea to improve the experience when dealing with inputs. This is what type

[2021-12-20 11:28] #44462 closed, assigned to nobody

[2021-12-20 12:00] Nyholm commented on #44705
I agree with this as well.

@derrabus will you do/coordinate the work?

[2021-12-20 12:02] johannes85 commented on #44616
Yes, this solves the problem

[2021-12-20 12:14] stof commented on #44705
As several features have not been migrated yet to the core, we cannot abandon the bundle yet (we probably cannot abandon it fully before the end of the 5.4 LTS, as the 5.4 branch won't have replacements).

However, I'm also in favor of bringing the remaining features to the core to abandon the bundle in the future

[2021-12-20 12:35] nicolas-grekas opened #44726 "[RFC] Help fade out "composer/package-versions-deprecated""
Discussed with @Seldaek on Slack: it'd be great if we could help fade out this package by not requiring it in either `symfony/*` or `doctrine/*`. Instead, we should use the API provided by Composer 2.

Let's start from the most downloaded packages as listed here:
https://packagist.org/packages/composer/package-versions-deprecated/dependents?order_by=downloads&requires=require

[2021-12-20 12:37] stof commented on #44726
Given that Symfony 6 requires composer 2, we can use the native API in our own packages

[2021-12-20 12:39] stof commented on #44726
For doctrine pacjages, this should be discussed with the doctrine team though

[2021-12-20 12:56] derrabus commented on #44726
Doctrine DBAL 3.3 will require Composer 2 and drop the dependency: doctrine/dbal#5078

[2021-12-20 13:11] #39875 closed, assigned to nobody

[2021-12-20 13:11] #41253 closed, assigned to nobody

[2021-12-20 14:31] GromNaN commented on #44505
I confirm the bug.

Given this command class:
[code]

When I hit `bin/console demo |`, I get the suggestions for the 2nd argument (incorrect).

[code]

Then `bin/console demo dir|` suggestion values for the 1st argument (correct)
[code]

[2021-12-20 14:32] stof commented on #44726
OK, then I guess it is fine for other Doctrine projects to do the same kind of change

@nicolas-grekas I updated the packagist URL to list only packages having a require constraint. `require-dev` are much less impactful for the ecosystem

[2021-12-20 14:37] wouterj commented on #44505
In case someone wants to look at this, this is probably an issue in `CompletionInput`. You can check this by adding a (hopefully failing) test to `Symfony\Component\Console\Tests\Completion\CompletionInputTest`.

[2021-12-20 14:42] GromNaN commented on #44505
I'm looking.

[2021-12-20 14:47] #41249 closed, assigned to nobody

[2021-12-20 14:49] simPod commented on #31614
Bro

[2021-12-20 14:51] nicolas-grekas commented on #31614
Keeping this open is not useful.
Please submit a PR if you want.

[2021-12-20 14:51] #31614 closed

[2021-12-20 14:54] simPod commented on #31614
@nicolas-grekas I did not receive any real feedback so I don't want to invest time into PR if I don't know if it gets accepted. That's why I have opened this issue but the bot was abusing me here.

[2021-12-20 14:55] nicolas-grekas commented on #44724
This looks like a very custom type of serialization. It also looks a lot like json-encode. I'm not sure this makes sense in VarExporter. Maybe in monolog since this is for logs? Or as a custom processor of your own I guess...

[2021-12-20 14:56] nicolas-grekas commented on #31614
Sending a PR is the best way to get feedback :)

[2021-12-20 15:00] ro0NL commented on #44724
please help :crying_cat_face: https://3v4l.org/gdPWl#v8.1.1

[2021-12-20 15:03] ro0NL commented on #44724
The goal is we'd know how to reconstruct a class its properties.

[2021-12-20 15:03] nicolas-grekas commented on #39192
Solved by https://github.com/symfony/symfony/pull/43481:

use this:
[code]

[2021-12-20 15:03] #39192 closed, assigned to nobody

[2021-12-20 15:05] nicolas-grekas commented on #43986
Closing is duplicate of #38021
See there for discussion on the topic.

[2021-12-20 15:05] #43986 closed, assigned to nobody

[2021-12-20 15:07] nicolas-grekas commented on #40327
I'm closing here this is moot on my side. PR welcome if you think we should really do it.

[2021-12-20 15:07] #40327 closed, assigned to nobody

[2021-12-20 15:15] nicolas-grekas commented on #44504
This feature is already implemented, I use it everyday when I deploy Symfony apps.

But somehow we forgot looking for paths in generated route info.

PhpDumper does the work for the container, looking for the current path and replacing it with paths relative to `__DIR__`.
I guess we can do the same in the router dumping logic.

Or we can do nothing also, because I fear this might be too involving

[2021-12-20 15:16] #44690 closed, assigned to nobody

[2021-12-20 15:16] xabbuh commented on #44690
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2021-12-20 15:26] xabbuh commented on #41322
Would you be able to contribute a test case for the Mailer component that succeeds with 5.1 but fails on 4.4? That could make it easier for someone else to contribute a fix for this issue.

[2021-12-20 15:28] nicolas-grekas commented on #44289
Closing here as we didn't spot any issue in the component so this might be related to another part of your stack.
Please provide more info if you can and we can reopen.

[2021-12-20 15:28] #44289 closed, assigned to nobody

[2021-12-20 15:29] nicolas-grekas commented on #44281
@gharlan would you be able to work on a PR to get rid of this deprecation? It should target branch 4.4

[2021-12-20 15:29] #44281 closed, assigned to nobody

[2021-12-20 15:31] derrabus commented on #44281
@nicolas-grekas Why did you close the issue?

[2021-12-20 15:36] nicolas-grekas commented on #43860
Any news @maartendekeizer ?

[2021-12-20 15:37] maartendekeizer commented on #43860
@nicolas-grekas waiting on a new raspberry to do some tests with; but getting one is hard these days

[2021-12-20 15:38] nicolas-grekas commented on #44281
Bad button :)
But now that I think about it, we don't need an issue about that.
We already have a deprecation log in the CI.

[2021-12-20 15:43] stof commented on #44724
@ro0NL reconstructing a class with its properties is quite complex to handle all cases, which is why both `var_export` and the VarExporter component are generating PHP code doing that, not an associative array.

[2021-12-20 15:49] nicolas-grekas commented on #43074
You might want to have a look at `AddSecurityVotersPass` and pass a `TaggedIteratorArgument` when calling `findAndSortTaggedServices`.
PR welcome @tdumalin

[2021-12-20 15:55] ro0NL commented on #44724
Understood, i mean we humans could infer the context further from say typed properties.

I understand this is maybe out of scope, unless we consider it a certain export format. But seeing VarExporter actually obtain the values of interest made me think it could be shared logic perhaps.

[2021-12-20 15:55] ondrejmirtes opened #44729 "[Console] Autocompletion problems"
### Symfony version(s) affected

5.4.1

### Description

I'm trying out the new autocompletion feature on a console app. I've put `eval "$(/Users/ondrej/Development/phpstan/bin/phpstan completion bash)"` into my `~/.bash_profile` file.

I'm trying to autocomplete various things like option names and command names, but unsuccessfully. This is how the output looks like:

[code]

And after pressing e

[2021-12-20 15:57] nicolas-grekas commented on #37361
Relaxing this would work for me. Please send a PR.

[2021-12-20 16:04] stof commented on #44724
@ro0NL I would say that what you are looking for is rather the normalizer part of symfony/serializer

[2021-12-20 16:16] GromNaN commented on #44505
The `help` command is affected by this bug too. Here is the fix: #44730

[2021-12-20 16:21] ro0NL commented on #44724
@stof you are absolutely right. My goal was to not rely on global state, config et al, but never realised i could leverage ObjectNormalizer actually :100:

[code]

Works :rocket:

[2021-12-20 16:21] #44724 closed, assigned to nobody

[2021-12-20 16:23] #39027 closed, assigned to nobody

[2021-12-20 16:25] wouterj commented on #44729
Thanks for the issue!

The actual issue raises from `$application->getVersion()` returning an empty version. This is because `bin/phpstan` doesn't work fully as expected when inside the phpstan-src repo. It can be "fixed" using this change:

[code]

---

However, this issue made me realize that we probably forgot about the standalone app usage when implementing `--symfony`.

This option is used to

[2021-12-20 16:43] GromNaN commented on #44729
:+1: for adding a completion version that is incremented only when there is a breaking change. Like composer does for plugins.

[2021-12-20 16:58] stof commented on #44729
yeah. either that or we should use `\Composer\InstalledVersions::getVersion('symfony/console')` to get the version (but then, that will be a pain when using a dev version of `symfony/console`).

[2021-12-20 17:11] ondrejmirtes commented on #44729
After patching bin/phpstan like this:

[code]

I'm getting this when I try to autocomplete:

[code]

[2021-12-20 17:15] stof commented on #44729
@ondrejmirtes this patch is not the solution, as the script still expects to have something matching the version of symfony/console

[2021-12-20 17:17] ondrejmirtes commented on #44729
Maybe something under the `completion` command could be used to output the Symfony version, like `bin/phpstan completion -v`, instead of relying on the custom Console Application's version.

[2021-12-20 17:30] dkarlovi commented on #44729
The suggestion by @stof was exactly the solution I had in mind when I suggested this flag: we need to know which version of Symfony Console created the **completion script**. This means the version of Symfony Console should always get hardcoded into the resulting (Bash, Zsh, Fish) script, if that currently doesn't happen in any scenario (framework, just the component, etc), it's a bug.

IMO if it

[2021-12-20 17:35] dkarlovi commented on #44729
@wouterj it should **not** pass PHPStan's version here because it will not make sense to the Symfony completion command (which will in the future notify the user the completion script needs to be updated), it should in all cases be `symfony/console` which produced the completion shell script.

Alternative to this is PHPStan also overriding the `completion` command and then making sense out of its

[2021-12-20 17:42] wouterj opened #44733 "[Console] Completion version should not use application's version"
### Symfony version(s) affected

5.4

### Description

From https://github.com/symfony/symfony/issues/44729

Possible fixes:

From @GromNan:

From @stof:

Let's investigate how hard dev versions are here. That seems the most simple solution here.

[2021-12-20 17:45] wouterj commented on #44729
For clarity, let's keep discussions separate :)

I've moved the `--symfony` discussion to https://github.com/symfony/symfony/issues/44733

---

Unless that issue is fixed, we're now focusing on testing PHPstan completion with the application's version. For this, the patch used by @ondrejmirtes is correct.

The `bash: __ltrim_colon_completions: command not found` error seems to be from a missing `b

[2021-12-20 18:52] zerodeux opened #44734 "Native file-based sessions fail with write exception in 1 out of 1000 requests on Debian systems"
### Symfony version(s) affected

6.0

### Description

On Debian systems, to prevent session hijacking, the default `session.save_path` is not listable by PHP. This is a sound security feature. In order for this to work :
- session gc must be blocked in the HTTP context (SAPI = CGI or FPM)
- session gc must be handled by an external, privileged process (a root cronjob on Debian)

Thus Debian ships

[2021-12-20 21:09] Martin-P opened #44735 "security.token_storage only available when using autowire"
### Symfony version(s) affected

6.0.1

### Description

When `autowire` is set to `false` and you manually inject the `service_container`, the `security.token_storage` service is not available in `Symfony\Bundle\FrameworkBundle\Controller\AbstractController` and causes a LogicException:

[code]

When `autowire` is set to `true` all is fine again and works as expected.

### How to reproduce

/conf

[2021-12-20 21:23] colinodell opened #44736 "[Cache] Psr16Cache incompatible with non-Symfony cache pools"
### Symfony version(s) affected

6.0.0+

### Description

#42025 added types to all private properties, including [`Psr16Cache::$createCacheItem`](https://github.com/symfony/symfony/commit/3516fc6eb7680a052124cdb5f4f3f4d7078343ac#diff-4e3b93c8e20c404218ce1976303fbdb08f373dd5b193bf797d1c511c157f99a4). The constructor will only set this property if the `$pool` also implements `Symfony\Component\Cach

[2021-12-20 22:11] colinodell opened #44738 "[Cache] Psr16Cache not compatible with psr/simple-cache 3.0 in older Symfony versions"
### Symfony version(s) affected

<6.0.0

### Description

On older, supported versions of Symfony (4.4, 5.3, and 5.4) the `Psr16Cache` class is not compatible with `psr/simple-cache:3.0.0`. Trying to use those versions together results in this error:

Users must either upgrade to Symfony 6.0 or downgrade `psr/simple-cache` to 1.x or 2.x.

Composer does not currently prevent users from installing t

[2021-12-20 23:02] nicolas-grekas commented on #44738
Or leave as is...
Adding a conflict won't work because older versions don't have it and composer will install then instead. And moving to require is no go since this is an optional dep.
Leaving as is is fine IMHO. Throwing an explanatory exception would be better. Maybe with a condition before the class declaration?

[2021-12-20 23:31] colinodell commented on #44738
This is certainly true in many cases, but thankfully not in mine.  Let me provide some more context here (I probably should have done that originally - my apologies!)

My company maintains an internal package (that provides custom `CachePoolInterface` implementations) used by other internal projects.  Our cache package uses these requirements:

[code]

We would like to allow `psr/simple-cache` 3.0

[2021-12-21 03:44] erlangparasu commented on #44462
Without `php://input`, how we get JSON data? (eg. request header content-type `application/json`)

[2021-12-21 04:22] nommyde commented on #36735
There is a real case related to this issue. When an email is sent through the messenger using alternative mail transport and if this mail transport fails then modified email is pushed to the queue for the next try (without X-Transport header). The second try takes default mail transport whether you want it or not.

In this case I believe the method \Symfony\Component\Mailer\Transport\Transports::s

[2021-12-21 04:24] nommyde commented on #36735
@carsonbot this is still relevant

[2021-12-21 07:09] nommyde opened #44741 "[Mail][Messenger] losing email's transport header on error"
### Symfony version(s) affected

5.4

### Description

When an email is sent through the messenger using alternative mail transport and if this mail transport fails then modified email is pushed to the queue for the next try (without X-Transport header). The second try takes default mail transport whether you want it or not.

### How to reproduce

https://github.com/Nommyde/mailer-messenger-bug

r

[2021-12-21 07:10] nommyde commented on #36735
I've created a separate issue for the email case: https://github.com/symfony/symfony/issues/44741

[2021-12-21 08:11] nicolas-grekas commented on #36735
Would you mind sending a PR to the doc @Nommyde or @tjveldhuizen?
Or have a look at the code to see what we can do about that?

[2021-12-21 09:21] peteruu commented on #41322
Sorry but i don't have such a skills i only tried it with such a versions of mailer component and I know where it works and where it doesn't that is all, but I can not update to 5.1 because of other packages in my project