[2017-12-28 01:15] rehoehle opened #25615 "PHPUnit Test header already send by "phpunit-5.7/src/Util/Printer.php""
| Q                           | A
| ----------------- | -----
| Bug report?          | yes
| Symfony version  | 3.4.1
| PHPUnit                | 5.7.26

I have a problem after the upgrade to symfony 3.4. I have a login in my unit test. I've implemented the login like the documentation describes here:

https://symfony.com/doc/current/testing/http_authentication.html

I use that code for years now a

[2017-12-28 11:28] javiereguiluz commented on #25541
@WesDowney even if what you reported is true, I'm 👎 on fixing it for the reasons given by Nicolas: this is not possible because of PHP, so we'd need to reimplement `parse_str()` inside Symfony. We can fix minor PHP issues or inconsistencies ... but we can't fix/change something so important.

I'm afraid I must close this as "won't fix" because of the downvotes from the Core Team members.

[2017-12-28 11:28] #25541 closed

[2017-12-28 11:42] javiereguiluz commented on #25535
I was thinking about creating a recipe ... but then I realized that this autocomplete utility:

* Must be installed globally, not per project
* It doesn't work depending on your operating system and shell
* It requires to make some changes in your shell profile

For all these reasons we cannot include it in Symfony and we cannot create a recipe because the installation cannot be automated. However

[2017-12-28 11:42] #25535 closed

[2017-12-28 11:49] javiereguiluz commented on #25498
@Simperfit is referring to [this comment](https://github.com/symfony/symfony/issues/24154#issuecomment-351714866) where @xabbuh says that these changes are already present in Symfony 4.0: https://github.com/symfony/symfony/blob/4.0/src/Symfony/Component/Intl/Locale.php#L70

@thejahweh for this reason I'm closing this as "not needed to fix" ... but if we missed something, please reopen it. Thanks!

[2017-12-28 11:49] #25498 closed

[2017-12-28 11:51] lsmith77 commented on #25535
BTW there is also an accessability dimension to supporting this out of the box. Some developers, due to physical impairment, heavily rely on auto complete to be able to get work done.

[2017-12-28 11:52] lsmith77 commented on #25535
so yeah if we cannot find a good out of the box solution .. then we should at least make an effort to make it easy to set this up via the docs

[2017-12-28 11:57] andreybolonin opened #25618 "Container extension "framework" is not registered"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2
[code]

<img width="1359" alt="screen shot 2017-12-28 at 1 56 43 pm" src="https://user-images.githubusercontent.com/2576509/34410160-f81c436a-ebd6-11e7-8427-1515413370a0.png">

[2017-12-28 12:00] xabbuh commented on #25618
Did you forget to enable the FrameworkBundle?

[2017-12-28 12:05] andreybolonin commented on #25618
no, I am forget add symfony/console ))

<img width="609" alt="screen shot 2017-12-28 at 2 03 03 pm" src="https://user-images.githubusercontent.com/2576509/34410328-13021258-ebd8-11e7-8fb4-d458e346c0a9.png">

@xabbuh thx for answer)

[2017-12-28 12:05] #25618 closed

[2017-12-28 12:52] sroze commented on #25615
Can this be a duplicate of https://github.com/symfony/symfony/issues/24524 ?

[2017-12-28 13:07] rehoehle commented on #25615
It looks similar. I've testet die options in the ticket with APP_ENV=test but it's already in my PHPUnit XML file. There should be a fix merged to 3.4 it's a bit strange. Perhaps i've made something wrong but i've tried not a lot to find the problem.

[2017-12-28 14:11] avo7 commented on #25610
Happened to me as well, in Symfony 4.0, right after running Ubuntu update. PHP was not updated (7.1.7), so I'm not sure what's the reason.

[2017-12-28 14:51] sstok commented on #25615
FYI. PHPUnit doesn't (by default) overwrite env variables that are already set. You can use the force="true" option to force this (requires PHPUnit v6.3 - sebastianbergmann/phpunit#2723)

[2017-12-28 15:16] xabbuh commented on #25610
You are right. This will be fixed by #25601. However, I am closing here anyway as we already have #25256 to keep track of it.

[2017-12-28 15:36] damienalexandre commented on #25515
With Symfony 3.4, you can also run `APP_FRONT_CONTROLLER=app.php php bin/console server:start` instead of installing a not tagged version.

[2017-12-28 15:46] iltar commented on #25592
Seems heavily related to an issue I have: #25327

[2017-12-28 16:42] abzolv commented on #25613
I think this is a very good idea.

[2017-12-28 16:55] nicolas-grekas commented on #25600
I'm closing here as AFAIK there is no bug.
@Koc please open separate issue with reproducer if you found any.

[2017-12-28 16:55] #25600 closed

[2017-12-28 16:57] nicolas-grekas commented on #25598
Can you share a short reproducer? Or debug the issue?

[2017-12-28 17:22] nicolas-grekas commented on #25576
I managed to reproduce. As far as I tried correctly, the issue is not new to 3.3.14 specifically. On which version of Symfony did this work last? I would open an issue on JMS Di-extra instead, as I'm not sure the issue is on symfony/symfony's side.

[2017-12-28 17:23] xabbuh commented on #25607
Well, this is simply how PHP works. By following the [Liskov substitution principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle) you cannot restrict the argument type of a method in a child class. What you would have to do is not changing the type hint but throw an exception instead if the given object is not an instance of your custom request class. I am closing here as there is

[2017-12-28 17:23] #25607 closed

[2017-12-28 17:24] nicolas-grekas commented on #25569
@emodus can you try with `3.4@dev`? I don't know why this is happening since 3.4.2, but since branch 3.4 contains several fixes already, maybe one could fix that? Otherwise a reproducer would be great (or better: some more debugging info you could inspect for us?)

[2017-12-28 17:25] nicolas-grekas commented on #25524
@lyrixx maybe something you'd like to do since you're in that kind of business these days? :)

[2017-12-28 17:27] nicolas-grekas commented on #25475
Can you try using [strong etags](https://en.wikipedia.org/wiki/HTTP_ETag#Strong_and_weak_validation)? Does it change anything?

[2017-12-28 17:31] nicolas-grekas commented on #25518
Does the issue go away when you remove `JMSTranslationBundle`? If yes, I'd suggest to open an issue there instead. Otherwise, can you please provide [a short reproducer](https://symfony.com/doc/current/contributing/code/reproducer.html)?

[2017-12-28 17:36] iltar commented on #25613
I agree, this was something I tried to solve when fixing the logout issue, but I couldn't come up with anything decent enough. My own idea back then was to set it the same way as the authentication errors, meaning you don't have to change the front-end to get the last authentication error.

https://github.com/symfony/security/blob/930ab82d4485e83ab3f05c09c62afd3d5651267b/Http/Authentication/Authen

[2017-12-28 17:38] iltar commented on #25598
I'm curious as well, because when changing my config to 3.4+ with autowiring, I double checked that this notation worked using the compiled XML schema in the cache.

[2017-12-28 17:41] nicolas-grekas commented on #25075
@Xenofexs I'm sorry your file on wetransfer expired, I cannot download it. You can upload files as attachments to github comments I think instead.

[2017-12-28 17:54] abzolv commented on #25613
If this feature is approved, would you please also add it to V3.4?

[2017-12-28 17:56] acasademont commented on #24210
Yes, a search user and search password should be provided when using the queryString option, and perform a first bind for the search. Then, if the query if successful, bind again with the provided form credentials.

[2017-12-28 17:56] nicolas-grekas commented on #25343
I think we make this non-optional: the parent constructor used to be called with a ParameterBag instance previously at the very beginning of the overridden constructor. Let's always call `parent::__construct` with no arguments. PR welcome.

[2017-12-28 18:04] iltar commented on #25613
New features go into 4.1, unless it's considered a bug fix (which I doubt).

[2017-12-28 19:05] anthonyrossetto commented on #25216
It works with a small project.

I'll try to find the bug with a more complicated example that is not my full Symfony project ;)

[2017-12-28 19:07] mvrhov commented on #25576
Oh, he's using JMS di-extra. IMO he should get rid of it.

[2017-12-28 19:11] anthonyrossetto commented on #25216
1) Create a new Symfony project (3.4)
2) Open the zip attached to this message and replace **app**, **src**, **web** folders of your project.
3) Clear the cache
4) Enjoy

[app.zip](https://github.com/symfony/symfony/files/1591914/app.zip)

[2017-12-28 19:16] abzolv commented on #25613
An alternative solution could be for the framework to simply emit an event before automated logout, so that the application can subscribe to the event and then do whatever user-friendly stuff it wants to do.

[2017-12-28 20:18] rehoehle commented on #25615
I've tested my case with PHPUnit 6.3 but same error. The Printer print the buffer on the line 110 and then you have an output before the session is started.

[2017-12-29 00:47] zorn-v commented on #25569
Dear scientists. At me, which year, in a subfield happens underground knock. Please explain how it happens.

[2017-12-29 01:08] enekochan opened #25620 "[YAML] Parse error with comments before scalar value inside collection"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.14

Given:

[code]
I get:

[code]

I got this error just after upgrading from Symfony 3.3.13 to 3.3.14 inside my httplug config section. I followed instructions in its documentation example in http://docs.php-http.org/en/latest/

[2017-12-29 07:30] kironet opened #25621 "Attribute "autowire" on service "SERVICE_NAME" cannot be inherited from "_defaults" when a "parent" is set. Move your child definitions to a separate file"
Hi,

I'm not sure if this is a bug or I'm just dumb, but how and where could I define new services2.yml file in symfony 3.4? Because I'm trying to create service that has a parent but getting this error:

My service:

[code]

[2017-12-29 08:52] nicolas-grekas commented on #25350
Hello thanks for your report. This is not a bug, but follows the policy we have for optional dependencies:
the `time.html.twig` template is not enabled by `WebProfilerBundle`, but by `FrameworkBundle`, so that it's not a *requirement* of `WebProfilerBundle`. Same reasoning applies to  `FrameworkBundle`: `time.html.twig` is not always enabled especially when `WebProfilerBundle` is not installed.
`t

[2017-12-29 08:52] #25350 closed

[2017-12-29 09:28] nicolas-grekas commented on #25620
This should have been fixed already by #25438, can you please try 3.3@dev?

[2017-12-29 10:00] nicolas-grekas commented on #25543
Should be fixed by #25623

[2017-12-29 11:51] ebuildy commented on #25613
hello @iltar , you are right, I forgot this thing. So I have just to feed ``Session[Security::AUTHENTICATION_ERROR]`` actually, this makes sense.

Do you want I make a PR or something more complex is planed by the team?

Thanks you,

[2017-12-29 11:59] iltar commented on #25613
If you wish, you can make a PR, I think it's a good idea from a UX perspective and I think the core team will agree. The PR itself shouldn't be hard, but just make sure it's backwards compatible and that the target branch is the master (4.1) for now.

[2017-12-29 12:00] enekochan commented on #25620
Yes, it's fixed in 3.3@dev :) Thanks!

[2017-12-29 12:00] #25620 closed

[2017-12-29 12:32] AmineBelais opened #25625 "Warning: require(index.php): failed to open stream: No such file or directory in C:\www\myproject\vendor\symfony\symfony\src\Symfony\Bundle\WebServerBundle\Resources\router.php on line 42"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

After installing **Symfony 3.4.2** and starting the built-in server (server:run) (on Windows 10, **PHP 7.0.10**) and navigating to 127.0.0.1:8000, results in this errror:

The same project and version seems to run smoothly on

[2017-12-29 12:33] nicolas-grekas commented on #25625
Should be fixed already on 3.4@dev

[2017-12-29 13:05] #25625 closed

[2017-12-29 13:51] #25595 closed

[2017-12-29 20:46] #25543 closed

[2017-12-30 00:07] unkind opened #25630 "[RFC] [DependencyInjection] Custom container configurators (fluent PHP format)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1 (?)

So far we have extensions for custom and simplified configurations, e.g.

[code]

which is fine in many cases, but it doesn't use all capabilities of PHP. I'd be happy to have native custom configurator like the following,

[2017-12-30 09:29] ScreamingDev opened #25632 "Console: Running default command causes invalid hasAnArrayArgument state"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

Got an exception

When I run `php my-script.php`.
Seems like a bug to me because no matter how I order the arguments the problem still occurs.

Expected:

Actual:

Caused by `Symfony\Component\Console\Input\InputDefinition::a

[2017-12-30 09:55] empiricalx commented on #25211
You can close it, I have solved the issue, thank you.

[2017-12-30 11:05] iltar commented on #25630
Though I really like the idea, won't this be double bookkeeping with the configuration nodes?

[2017-12-30 11:06] mvrhov commented on #25630
Maybe then we can deprecate the configuration

[2017-12-30 11:12] nicolas-grekas commented on #25630
I think you can already achieve what you want very easily:
[code]

Nothing required from core. WDYT?

[2017-12-30 11:43] #25256 closed

[2017-12-30 12:03] sroze commented on #25256
@fabpot what's the way forward to improve the DX here?
On Sat, 30 Dec 2017 at 12:43, Fabien Potencier <notifications@github.com>
wrote:

[2017-12-30 12:23] unkind commented on #25630
I think it's possible that bundle might want to inject some additional dependencies/parameters.
Also we have about hundred of config files in our project, if we want to use our custom configurator we have to copy-paste it many times, it's annoying.

[2017-12-30 13:49] unkind commented on #25630
There is no violation of DRY if I understand you point correctly. Configuration nodes is attempt to make abstraction layer over all formats, but even in the current state it is leaky abstraction (e.g. there is `fixXmlConfig` method). It is OK for array-like configs, but fluent PHP is different. They may have similar keywords, nesting, etc., but it doesn't mean they are the same, so it's OK to supp

[2017-12-30 15:18] weaverryan commented on #25256
Well, it was solved for Twig filters/functions specifically.... So the question now is: can/should we just continue to solve these issues one-at-a-time as we discover them? Or should we add a more over/arching system.

Right now... I can’t be sure... but I think we may be able to solve this on a case-by-case basis.

[2017-12-30 17:52] antonmedv opened #25634 "[VarDumper] v4.0.2 dump() breaks all API calls"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | v4.0.2

On xhr request `dump()` spoils the response:

[code]

[2017-12-30 18:11] jgrygierek opened #25635 "[Form][Bootstrap 4 template] form-control class is duplicated"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

Hi, the "form-control" class is added twice.

![obraz](https://user-images.githubusercontent.com/3065409/34456387-08b5116a-ed95-11e7-8e25-9db9c997d6fc.png)

[2017-12-30 20:45] jgrygierek opened #25638 "[Form][Bootstrap 4 template] btn class is duplicated"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

Hi, the "btn" class is added twice, if button is rendered in form type class.

![obraz](https://user-images.githubusercontent.com/3065409/34457204-29ecc714-edaa-11e7-9690-356b0c96cd59.png)

[2017-12-31 03:38] #22101 closed

[2017-12-31 04:44] #23538 closed

[2017-12-31 05:59] #18305 closed

[2017-12-31 07:08] #25394 closed

[2017-12-31 07:09] antonmedv opened #25643 "Move dotenv from require-dev to require"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

Hi,

Consider moving dotenv dependency from require-dev to require by default.

Yes, I read docs about .env for development and setting environmental parameters on system.

But I don't think what there is some profit in it at

[2017-12-31 11:24] jakzal commented on #25643
What's your goal? Even if you don't use mod-php or docker there's usually a way to set environment variables.

If you don't want to use environment variables to configure your apps, simply use configuration parameters. Just like before we supported `.env`.

[2017-12-31 12:09] tristanbes opened #25645 "Cache collector doesn't show data on the right Request on the profiler"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | -
| RFC?             | -
| Symfony version  | 3.4.x

First of all, sorry if it's not a bug, but it's worth creating an issue;

I've noticed that the profiler never shows the information about my pools in the right Request.

**Facts**:
- The cache call are made on the main request

[2017-12-31 12:43] antonmedv commented on #25643
Run two different application on same machine. Or two instances of same app but with different environmental params.

And it is an ugly solution. Take a look at setting env inside php-fpm `env[APP] = something` pool config.

12lve factor app isn't a silver bullet, don't pray on it. Consider developer experience first.

I will. But I don't understand why complicate thinks for newcomers? Why not mak

[2017-12-31 14:12] xabbuh commented on #25645
Can you create a small example project that allows to reproduce your issue?

[2017-12-31 14:24] xabbuh commented on #25638
Can you show some code that you used that led to this result?

[2017-12-31 14:24] xabbuh commented on #25635
Can you show some code that you used that led to this result?

[2017-12-31 14:29] xabbuh commented on #25524
Isn't this related to #25605?

[2017-12-31 14:58] jgrygierek commented on #25635
Config:
[code]

Form type class:
[code]

View:
[code]

And my bad - duplication only appears, if field has validation error.

[2017-12-31 15:26] jgrygierek commented on #25638
Sorry, after more digging it seems to be my mistake (caused by template inheritance inside my custom template).

[2017-12-31 15:26] #25638 closed

[2017-12-31 15:39] sergeyfedotov commented on #25524
@xabbuh AbstractNormalizer already extracts this kind of information through reflection without the PropertyInfo component. It uses the extracted types to instantiate an object. The change proposed in the #25605 doesn't affect the current behaviour.

[2017-12-31 16:33] petforsberg commented on #25600
Well, defining by a service (assuming autoconfigure setting to false) won't work if you want a global autoconfigure set to true.

[2017-12-31 16:45] xabbuh commented on #25600
What do you mean with a global autoconfigure?

[2017-12-31 16:46] petforsberg commented on #25600
I mean _defaults, as above:

_defaults:
    autoconfigure: false

[2017-12-31 16:47] xabbuh commented on #25600
Sorry, I don't follow. Can you give a more detailed example of what you tried but didn't work?

[2017-12-31 17:00] xabbuh commented on #25635
Are you sure this is not caused by the same as #25638?

[2017-12-31 17:01] xabbuh commented on #25634
Is this the same as #17043? Would you be able to provide a reproducing example project?

[2017-12-31 17:49] jgrygierek commented on #25635
No, I disabled my custom boostrap template and this error still exists.

[2017-12-31 18:00] xabbuh commented on #25635
maybe related to #24802

@ostrolucky Would you like to take a look at it?

[2017-12-31 21:48] ostrolucky commented on #25635
I can confirm this issue. Nevertheless, it's pretty insignificant.

It's not worth to work more on these templates until there is main bootstrap 4 release, only then we can be sure stuff won't have to be re-done.

status: reviewed

[2018-01-01 16:05] #25592 closed

[2018-01-01 17:17] sproctor commented on #25099
You can set the `'label_attr' => array('class' => 'checkbox-inline')`

Then create the form like:
[code]

In my opinion, the `form_row` shouldn't have a `form-check` instead of `form-group` for checkboxes like the examples at https://getbootstrap.com/docs/4.0/components/forms/#checkboxes-and-radios

[2018-01-01 17:42] chalasr commented on #25632
Thanks for the report, I can confirm the bug exists starting from 2.7. After a quick look, I think passing arguments to a custom default command just never worked. I will try to fix that asap.

[2018-01-01 18:01] chalasr commented on #25612
The username must be a string here. The only relevant change would be to throw an exception for DX but I'm not sure it's worth it, let's see what others think.

[2018-01-01 18:04] xabbuh commented on #25612
Well, I agree so far that the user should not be able to cause an internal server error by submitting malformed data. It's not too critical, but since you will probably treat 5xx errors in production differently than client errors, we should IMO still fix this.

[2018-01-01 20:29] FlorianKromer commented on #25615
Symfony version | 4.0.2
-- | --
PHPUnit | 6.5

I had got the same error, solved by enabling : session.storage.mock_file
**config/packages/tests/framework.yml**
[code]

[2018-01-01 21:45] szymach opened #25651 "Uninstalling Encore removes your package.json and Webpack config"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3+

I have been using Webpack for a while now, so I have decided to give the Encore bundle a try. After some tinkering I have decided against using it and have removed it via composer (with Flex). To my surprise, I have found tha

[2018-01-02 09:01] theofidry commented on #20955
Well, for now it displays the information of the original service with a mention that the service requested is an alias for it. Maybe this could be improved by listing all the aliases there with the message but I don't have time for it atm so let's close this :)

[2018-01-02 09:01] #20955 closed

[2018-01-02 09:40] behradkhodayar commented on #25334
Right after installing a `SF 3.4.1` it worked fine, but **only after a server restart** everything crashed getting the same error!

[2018-01-02 10:42] ostrolucky commented on #25651
related: https://github.com/symfony/flex/issues/213

[2018-01-02 13:57] coudenysj opened #25654 "Compile error after cache clear and warmup"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | -
| RFC?             | no
| Symfony version  | 3.4.2

This is related to #24885.

[code]

I run a couple commands during deployment, clear cache, warm cache, other commands, and always get a Fatal Compile Error after the cache warmup:

[code]

[2018-01-02 14:18] andrzejpakula opened #25655 "Bootstrap 4 layout - MoneyType bug"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4

Hi. In new bootstrap 4 layout,  input-group-addon class does not exist. Instad of this, you should use 'input-group-prepend' and 'input-group-text' . Please  looks it https://getbootstrap.com/docs/4.0/components/button-group/ . A

[2018-01-02 14:34] nicolas-grekas commented on #25654
Would you be able to try with 3.4@dev? I think this is fixed already.
Otherwise, can you provide a reproducer?

[2018-01-02 14:35] coudenysj commented on #25654
So the problem probably lies in the fact that the supervisor processes still look at the old container folder (in memory problem).

[2018-01-02 14:38] rehoehle commented on #25615
@FlorianKromer ok yes that works. Perhaps some should add a note to the documentation.

[2018-01-02 17:24] chalasr commented on #25612
See #25657

[2018-01-02 18:54] ch22843 opened #25658 "After filter and handleRequest() issue"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | no
| BC Break report? | no
| Symfony version  | 3.4.2

Hi. I have a edit form and event subscriber. Event subcriber executing after controller method executed.

[https://symfony.com/doc/3.4/event_dispatcher/before_after_filters.html](url)

I am resetting user roles in this event.

`$user = $person->ge

[2018-01-02 19:08] xabbuh commented on #25658
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2018-01-02 19:08] #25658 closed

[2018-01-02 19:09] xabbuh commented on #25518
I am closing here as this issue does seem to be related to JMSTranslationBundle. But we can of course reopen here if there is evidence that this behaviour is related to Symfony itself.

[2018-01-02 19:15] xabbuh commented on #25621
You need to be a bit more explicit here like this:

[code]

I am closing here as there is no bug.

[2018-01-02 19:15] #25621 closed

[2018-01-02 19:39] iquito commented on #25518
I tried it out without JMSTranslationBundle - the problem still persists. It occurs on any page of my project, no matter if any translations are loaded/used or not.

Basically, somewhere somehow both `Symfony\Bundle\FrameworkBundle\Translation\TranslationLoader` and `Symfony\Component\HttpFoundation\Session\Storage\Handler\WriteCheckSessionHandler` classes are loaded (WriteCheckSessionHandler is s

[2018-01-02 19:45] xabbuh commented on #25518
Can you create a small example project that allows us to reproduce your issue?

[2018-01-02 19:49] iquito commented on #25518
I can try. That is probably a lengthy process though, which I cannot do right now. Is there any way of getting a full stack trace of a deprecation in Symfony? That would be so much easier.

[2018-01-02 20:37] urg commented on #25518
I'm having a similar issue - just tracked it down to this line: https://github.com/symfony/framework-bundle/blob/3.4/DependencyInjection/FrameworkExtension.php#L1121 - commenting it out removed the warning for me.

[2018-01-02 20:44] iquito commented on #25518
That doesn't do it for me - still occurs. Would also be weird if it was solved by that, because that does not actually use the service, just sets it to private for the service container. Somewhere the TranslationLoader has to be used & included for the error to occur.

[2018-01-02 20:47] Avariya opened #25659 "Form extension back compatibility broken at 3.4"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | nope?
| Symfony version  | 3.4.2

Hi, vendor I using expected that `twig.form.renderer` service is implementing `TwigRendererInterface`. It was removed at Symfony4 and marked as deprecated at 3.4.
But at Symfony 3.4 already FormRendererInterface implementa

[2018-01-02 20:50] Avariya commented on #25659
Related: https://github.com/symfony/symfony/issues/24616

[2018-01-02 22:43] alekitto opened #25660 "Cannot register extension from Kernel::build"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

`ContainerBuilder::registerExtension` calls are ignored if called from Kernel build method, thus the extensions are not merged into the final container.

[2018-01-02 23:29] Reflex14 commented on #25643
This really bothers me too, for another reason. I am a system administrator for mostly Symfony websites.

You can not assume that every Symfony user knows how to properly configure a safe web server.

On badly configured shared hosting servers, a local attacker could try to read the virtual host directory (Apache or NginX) and database credentials would  be exposed.

Some users might leave a phpin

[2018-01-03 03:38] nesl247 opened #25661 "Form templates overrides do not work in /templates"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

With #24179 the `default_path` configuration key was added. Part of this was to allow bundle overrides in `/templates/<BundleName>`. However, this doesn't appear to be working for Form templates.

Specifically templates in `t

[2018-01-03 03:48] xabbuh commented on #25661
Can you create a small example application that allows to reproduce the issue?

[2018-01-03 07:47] #19364 closed

[2018-01-03 07:58] fabpot commented on #25572
@Warxcell is correct. Closing as this is not a bug.

[2018-01-03 07:58] #25572 closed

[2018-01-03 07:58] javiereguiluz commented on #25643
@antonmedv you tell @jakzal to not consider 12factor a silver bullet ... but he told you precisely that you don't need to follow 12factor if you don't want. Besides, you say that using parameters "complicates things" and we should think of developer experience. However, using parameters simplify everything. In Symfony 4 I use regular Symfony params (like in Symfony 2 and 3) and I don't use env var

[2018-01-03 08:02] javiereguiluz commented on #25651
@szymach as @ostrolucky showed, this is the expected behavior. I know it may be surprising at first but Flex installation/uninstallation is symmetric, so uninstalling something removes all files/dirs created during its installation.

In theory this may sound even dangerous ... but in practice this should be safe because it should be impossible for a real application to not use Git or similar to av

[2018-01-03 08:02] #25651 closed

[2018-01-03 08:04] #12315 closed

[2018-01-03 08:04] #20477 closed

[2018-01-03 08:04] #21706 closed

[2018-01-03 08:27] szymach commented on #25651
Well it also removes files which were not created during installation. Is there no option to list created / deleted files with for example the `--verbose` flag? Manually checking which files it removed or added via `git status` does not seem very elegant.

[2018-01-03 08:31] fabpot commented on #25651
@szymach Which files were removed that were not installed? If there are some, it might be a bug.

[2018-01-03 08:33] szymach commented on #25651
@fabpot what I meant is that these files (`package.json` and `webpack.config.js` existed prior to me using Webpack Encore and were removed anyway. I understand the limitation of the tool, what I ask for is more information on what is being done.

[2018-01-03 08:34] javiereguiluz commented on #25327
@iltar sadly I must close this proposal as "won't fix" because of the downvotes from the Core Team, but I hope you keep sending proposals to improve Symfony. Thanks!

[2018-01-03 08:34] #25327 closed

[2018-01-03 08:34] fabpot commented on #25651
Ah, ok, understood. Well, being more verbose when using `-v` is certainly possible. Would you like to try making the needed changes in Flex?

[2018-01-03 08:35] szymach commented on #25651
Sure, I will take a shot somewhere this week. Will let you know if I get anywhere.

[2018-01-03 08:36] fabpot commented on #25651
Thank you

[2018-01-03 08:36] javiereguiluz commented on #25360
Adding such a button is not trivial because even with the JavaScript clipboard support, there's still permission issues in some browsers. Let's keep using the always-working text select + copy and let's focus our resources on bigger features. Thanks!

[2018-01-03 08:36] #25360 closed

[2018-01-03 08:53] antonmedv commented on #25643
@javiereguiluz okay, lets update docs and say what is okay to use `.env` or `paramelers.yaml` on production. Not only environmental parameters.

[2018-01-03 08:54] antonmedv commented on #25643
@jakzal see, @Reflex14 and @javiereguiluz both using files for storing credentials 😃

[2018-01-03 09:34] javiereguiluz commented on #25371
@Strate thanks for your proposal. To make a decision about this, we'd need to answer to:

1) Is TeamCity popular enough among our users?
2) Would this integration be simple or at least not very complex or requiring lots of changes?

This is what we evaluate about for any integration (that's for example why we integrate Bootstrap and Foundation but not other CSS frameworks). My guess is that the an

[2018-01-03 09:39] poolerMF opened #25664 "[FORMS] validation_groups and group_sequence_provider bug ?"
RecursiveContextualValidator:501

[code]

- **groupSequenceProvider** is working only when **validation_groups** contains default group '**Default**'
- I dont think, this solution/logic is good .. it sounds weird for me, that I need tu put group '**Default**' if I want to use **groupSequenceProvider**

I'm validating entity and setting custom **validation_groups** into form (for example **[update,

[2018-01-03 09:48] javiereguiluz commented on #24116
I'm closing this old issue because if it's a problem of public/private services, you can do what @stof said: create an alias of the private service and make the alias public. See https://symfony.com/doc/current/service_container/alias_private.html

If the problem is about the Doctrine DBAL logger, it's better to ask about that in the repository of Doctrine DBAL. Thanks!

[2018-01-03 09:48] #24116 closed

[2018-01-03 10:16] WhiteEagle88 opened #25665 "PDO session timestamps out of range for MySQL"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes/no
| RFC?             | no
| Symfony version  | 2.6+

After fix [#24456](https://github.com/symfony/symfony/issues/24456), problem arose for MySQL. Because MySQL cast the result of the expression to unsigned types and in the case where sess_time <  current time. Mysql throws

[2018-01-03 10:28] poolerMF opened #25666 "[Validator] Url and Email validator possible bug"
hello

if there is in DNS record *.domain.com and I want validate url or email with fourth domain level (something.dev.domain.com) then validator is not working properly

[2018-01-03 10:32] javiereguiluz commented on #25666
If you refer to the Url validator and `checkDNS` option, I'm afraid that we just deprecated them (https://github.com/symfony/symfony/pull/25516) and they will be removed in Symfony 5.0.

[2018-01-03 10:40] javiereguiluz commented on #23810
Closing this generic issue in favor of these specific PRs fixing things: #25653, #25649, #25648, etc.

[2018-01-03 10:40] #23810 closed

[2018-01-03 11:04] votemike commented on #23737
For anyone finding this issue because they think `preload` isn't working in a 3.3 application (or one not using Flex), as @thomas-dotworx said, you need to enable web_link in your config file.
[code]
In applications using flex instead of the symfony bundle as a whole, it seems to be enabled by default.

[2018-01-03 11:12] fancyweb commented on #25654
So I had the same error showing up when deploying on prod since I updated to 3.4. I took the time to investigate this problem and found how to reproduce it.

Use this command on a fresh Symfony standard edition :

[code]

Works fine on 3.3, fails on 3.4.

![untitled](https://user-images.githubusercontent.com/3658119/34518312-2acda07c-f07f-11e7-898d-dde8e8da70f4.png)

Also I can confirm you that us

[2018-01-03 11:14] poolerMF commented on #25666
now this bug should be fixed ... or just update documentation, that validator is not working for fourth domain level

[2018-01-03 12:52] fancyweb commented on #25654
@nicolas-grekas You were right, I just tested it on 3.4@dev and the error is gone.

@coudenysj IMHO, this issue can be closed.

[2018-01-03 13:01] coudenysj commented on #25654
I'll have a look at 3.4@dev.

Currently having the issue in v3.4.2 (29961b693fa2).

[2018-01-03 13:26] xabbuh commented on #25666
Can you give an example of a domain that would allow to reproduce the issue?

[2018-01-03 13:28] coudenysj commented on #25654
I upgraded (https://github.com/symfony/symfony/compare/29961b693fa2157a3f349d1a801f9f8742be4e03...1b36d0324681090ff1ca0d1d397b9f45c67612ed), but still have the issue. It is probably due to the fact that processes still look at the old container.

I'll look in to it later and reopen this issue if it is a problem in Symfony.

[2018-01-03 13:49] poolerMF commented on #25666
![domain](https://i.imgur.com/bir6WXt.png)

DNS records:
https://goo.gl/mUQG38
https://goo.gl/y2AkwC
https://goo.gl/iZPLgX

finally I see, it's DNS record type is RRSIG

[2018-01-03 15:13] iltar opened #25670 "[WDT] Small styling issue in route matcher logs"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.2

When having long paths, and long names, it becomes really tight:

![image](https://user-images.githubusercontent.com/1754678/34525612-d7480944-f09f-11e7-9875-6e7f05f83cd4.png)

While the breaking of the path is not really an

[2018-01-03 16:24] carusogabriel opened #25673 "[RFC][Console][SymfonyStyle] Deprecated listing to add two new list methods"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 5.0
### Background
Recently, in #25616 @javiereguiluz [explained me](https://github.com/symfony/symfony/pull/25616#issuecomment-354243140) the whole purpose of `SymfontStyle` class as I'm new to the community. We should not allow c

[2018-01-03 17:05] yceruto commented on #25661
This looks like the referenced bundle use Templating Component and its syntax to load the form theme template [`EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig`](https://github.com/excelwebzone/EWZRecaptchaBundle/blob/06fc8c00937687f615b5797ae7760d1f4e841cb5/src/DependencyInjection/EWZRecaptchaExtension.php#L50) which is not compatible with the overriding mechanism of Twig (i.e they are dif

[2018-01-03 17:22] ebuildy opened #25674 "EmailValidator should use filter_var in strict mode if Egulias library is missing"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes/no
| Symfony version  | 4.0.0

``Egulias\EmailValidator\EmailValidator`` is not really perfect (``toto@toto.___c`` is valid whereas it's not for HTML5 or filter_var), so I propose to use ``filter_var`` with ``FILTER_VALIDATE_EMAIL`` if Egulias is not i

[2018-01-03 18:01] #25464 closed

[2018-01-03 18:14] nesl247 commented on #25661
Aah gotcha. I completely forgot about the format differences in the template name. That would definitely explain it. I'll go ahead and close this issue.

I had resolved it already by using `src/Resources/EWZRecaptchaBundle/views`, so at least that works.

[2018-01-03 18:14] #25661 closed

[2018-01-03 18:50] jvasseur commented on #25674
:-1: having the behavior of the constraint change based on the presence of a dependency looks like a bad idea.

We could add another validation mode that is based on `FILTER_VALIDATE_EMAIL` but I'm not sure if it's worth it since `FILTER_VALIDATE_EMAIL` doesn't match any standard (that's why we stopped using it).

[2018-01-03 20:16] mohamedaymenkarmous opened #25675 "passing an object from an EntityType to another EntityType (Controller -> ParentType -> ChildType)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3-dev

Hi,

I want to pass an object from an EntityType to another EntityType called in a Controller.

I found that there is two methods to do this:

**First method : Through the constructor**
This works fine the objects that the

[2018-01-03 21:28] Reflex14 commented on #25643
@antonmedv well no. But that's not the point. I really do think you should use environment configurations. It makes it so much faster to scale or deploy a new staging server in my case.

But how easy is it for an experienced developer to disable the dotenv package, and how hard is it for newcomers to figure out how to properly use environment configurations?

[2018-01-03 21:35] bitgandtter commented on #25643
I will add a personal use case, im a docker user and i have clusters of swarm and k8s both supports secrets which are more secure than env variables, those secrets are created at runtime on each container so i use them as .env and move dotenv to my required section so that way i dont leak env variables on configurations and the flow between development and production is seamless. IMHO will bring m

[2018-01-03 21:37] nicolas-grekas commented on #25643
@bitgandtter good news, your use case is already covered, see https://symfony.com/blog/new-in-symfony-3-4-advanced-environment-variables

[2018-01-03 21:37] iltar commented on #25675
This looks like a question you should ask through https://symfony.com/support instead. It's not really an issue in Symfony, the community can help you with this.

[2018-01-03 21:46] bitgandtter commented on #25643
Yes, and always its a balance between what you gave and what you put on developers hands.

1* Update and configure prod/config.yaml to extract the env from the gaven on the file
2* Include dotenv on required and change nothing

for us was better option 2, i understand this does not have to be everybody way but less configurations leave to less issues between dev env and prod env

[2018-01-04 01:02] kejwmen opened #25676 "Document default symfony logger behavior and suggest how to configure it for tests"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Documentation request? | yes
| Symfony version  | 3.4+

In last weeks I noticed that default logger behavior is confusing.

Test kernel setup results in additional (usually unwanted) console output with phpunit, etc.

Questions about it are pretty comm

[2018-01-04 05:36] cyx-veera commented on #25515
When I generated a new Bundle I faced this problem : How can I resolve it for symfony 3.4

Warning: require(index.php): failed to open stream: No such file or directory in C:\wamp64\www\symfony_project\vendor\symfony\symfony\src\Symfony\Bundle\WebServerBundle\Resources\router.php on line 42

Fatal error: require(): Failed opening required 'index.php' (include_path='.;C:\php\pear') in C:\wamp64\www

[2018-01-04 07:02] antonmedv commented on #25643
I agree with @bitdagger
Moving dotenv to require from require-dev is much better solution. We don't need to do anything.
ping @fabpot

[2018-01-04 08:27] ebuildy commented on #25674
Yes you are right, I should declare the bug on the library ``Egulias\EmailValidator`` instead.

We are using ``FILTER_VALIDATE_EMAIL`` in lot of projects, do you have sources saying it's bad?

Thanks you, I am closing the issue so.

[2018-01-04 08:27] #25674 closed

[2018-01-04 08:52] jennevdmeer opened #25677 "Composer run scripts do not respect 'extra.symfony-public-dir' value when using %PUBLIC_DIR% var"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

For me the command:
`"assets:install --symlink --relative %PUBLIC_DIR%": "symfony-cmd"`

Triggers an error when my public directory is not `./public`, as the variable always returns 'public' and not the value of `extra.symfon

[2018-01-04 09:12] jvasseur commented on #25674
@ebuildy you can look at the references in the PR that removed the use of `filter_var` : https://github.com/symfony/symfony/pull/9140

[2018-01-04 09:15] #25675 closed

[2018-01-04 09:24] nicolas-grekas commented on #25576
Closing as this is an issue with JMS di-extra.

[2018-01-04 09:24] #25576 closed

[2018-01-04 09:35] mvrhov commented on #25643
For those arguing in moving from -dev to require.
Why am I being forced install a dependency I do not need, because you are too lazy to write `composer req "symfony/dotenv"`

[2018-01-04 11:03] antonmedv commented on #25643
@mvrhov it's okay, I would like to metion it in docs what it is okay to do that.

It's not an antipattern.

[2018-01-04 11:17] Simperfit commented on #25515
@cyx-veera like @damienalexandre said, or wait for a new release containing the patch.

[2018-01-04 11:47] iltar commented on #25676
I think it's confusing and it shouldn't be doing this by default: #25570

If I write a test that's failing on purpose to get a 404, I still get output in my test results, even though it passed. The only solution I've found, was to decorate the logger with a null logger for tests...

[2018-01-04 11:55] Nijusan opened #25679 "[Translation] Missing Alias for Services (Writer, Reader, Extractor)"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.4.+

I lately updated a legacy Command to the new auto wire feature which needs the Translation Services.

After Updating the Command with:
`
public function __construct(
        TranslationWriterInterface $writer,
        Transl

[2018-01-04 12:12] garak opened #25681 "interactive shell activated by default"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.32

I'm getting while running my continuous integration, specifically Bitbucket pipelines. As you can see in attached screenshot, interactive shell is triggered even without passing `-s` flag. Even worst, passing `-n` is also in

[2018-01-04 14:41] Sozialarchiv opened #25683 "non-existent service "security.csrf.token_manager""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.0

I followed https://symfony.com/doc/current/security/csrf.html. But i always get the message

`The service "security.authentication.listener.form.main" has a dependency on a non-existent service "security.csrf.token_manager".`

[2018-01-04 14:43] nicolas-grekas commented on #25683
you need symfony/security-bundle also
where did you get the suggestion to install symfony/securty-csrf instead?

[2018-01-04 14:57] nicolas-grekas commented on #25681
isn't this an issue for https://github.com/doctrine/DoctrineBundle?

[2018-01-04 15:01] garak commented on #25681
I don't think so.
Doctrine commands are just extensions of Symfony ones, and I can't find anything specifically related to interactive shell in them.

[2018-01-04 15:04] xabbuh commented on #25683
Let's fix the docs (see https://github.com/symfony/symfony-docs/pull/8955#issuecomment-355304835). I am going to close here as this is something that cannot be fixed in the code.

[2018-01-04 15:04] #25683 closed

[2018-01-04 15:05] Sozialarchiv commented on #25683
https://symfony.com/doc/current/security/csrf.html

[2018-01-04 15:08] Sozialarchiv commented on #25683
The security-bundle is installed, too.

[2018-01-04 15:17] alexpott opened #25684 "weak_vendors mode and isolated test"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.0

If you set SYMFONY_DEPRECATIONS_HELPER to weak_vendors and then have a test uses the `@runTestsInSeparateProcesses` annotation and does not have an `@group legacy` even though deprecations are triggered from non-vendor code,

[2018-01-04 15:23] zmitic commented on #25276
@vudaltsov In case you are still looking for a solution, check the bundle I released today:

https://github.com/zmitic/rewire-bundle

It works by adding one annotation in your route and I didn't notice any perfomance issues for a page with around 100 links (didn't test for more).

Feedback is  more than welcome.

[2018-01-04 15:25] greg0ire commented on #25684
I think that will imply changing how this method: https://github.com/symfony/symfony/blob/96e53f8837255d4f9ad3c7d2c68dcda1abbb0cb5/src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php#L64-L86

Right now it accepts only one file, maybe it should accept the whole trace, and then we should go one step up in the trace if the file happens to be the trait.

[2018-01-04 15:30] greg0ire commented on #25684
The offending piece of code, for reference: https://github.com/symfony/symfony/blob/96e53f8837255d4f9ad3c7d2c68dcda1abbb0cb5/src/Symfony/Bridge/PhpUnit/Legacy/SymfonyTestsListenerTrait.php#L261-L273

[2018-01-04 15:32] weaverryan commented on #25683
Yea, I don’t think the security bundle is the problem - after all, the service that’s throwing the errors is from the security bundle.

Did you enable the csrf_protection in framework.yaml?

[2018-01-04 15:36] #24772 closed

[2018-01-04 15:36] Sozialarchiv commented on #25683
Thank you that was is.  I changed
[code]
to

[code]

Thanks a lot to all for your fast help.

[2018-01-04 16:47] nicolas-grekas opened #25686 "Add ServiceProviderInterface"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1

Would be sibling to `ServiceSubscriberInterface`.
Could be added to `ServiceLocator`, to provide reflection on the inner of the locator.

`ServiceProviderInterface::getProvidedService()` would return an array, keyed by service

[2018-01-04 18:25] xabbuh commented on #25666
How did you configure the `Url` constraint?

[2018-01-04 18:26] HeathNaylor opened #25687 "stty: stdin isn't a terminal in PHP Storm (Console)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.2

This is a problem specific to Symfony Console and the Questions Helper. This appears to only be a problem when I set the question input to be hidden using the `Question` class method `setHiddent(true)`. When executing tests

[2018-01-04 18:37] xabbuh commented on #25664
That's the expected behaviour. How your particular problem can be solved is depending on the context you are using this in. However, I suggest you use on of the [support channels](https://symfony.com/support) to seek for help with your problem.

I am closing here as there is no bug in the code. Thank you for understanding.

[2018-01-04 18:37] #25664 closed

[2018-01-04 19:37] mohamedaymenkarmous commented on #25675
Hi,

I resolved this problem thanks to the support team symfony-devs on Slack especially a special thank to @gerryvdm .

The problem was that the ParentType class contains an embeded form and to pass any option (even a custom one) to the ChildType, the option should be in the 'entry_options' row of the third argument of the buildForm:add(). Otherwise the option will be sent to the CollectionType a

[2018-01-04 20:36] vudaltsov commented on #25276
@zmitic , thanx. I will try it later and give feedback!

[2018-01-04 21:20] chalasr commented on #25679
Adding these aliases in core sounds good to me.

[2018-01-05 00:13] amcastror commented on #25267
Thanks everyone!

[2018-01-05 01:18] ksn135 commented on #23257
So, @lyrixx seven months passed...
Many people still waiting for “metadata” in workflow component “from the box”...
May be you could make it ? It will be nice.

[2018-01-05 09:33] sroze commented on #25632
@ScreamingDev But... even if you got the expected error... you won't be able to pass the arguments to the command as you'd have a "command X not found" exception. I'm not sure how you expect it to work 🤔

[2018-01-05 09:35] sroze commented on #25615
@rehoehle that would be nice. Maybe you could submit a PR on the symfony-docs repository, to add a quick note where you believe it would be the best?

[2018-01-05 09:51] sroze commented on #25615
The issue can be closed, right?

[2018-01-05 09:54] rehoehle commented on #25615
Yes thx i can change the documentation.

[2018-01-05 09:54] #25615 closed

[2018-01-05 09:56] sroze commented on #25537
Interesting. That's weird. Not something we can fix within Symfony though, so I'd close the issue...

[2018-01-05 10:11] Simperfit commented on #25634
@antonmedv Do you have some time to provide a reproducer or do you want me to help you doing it ?

[2018-01-05 10:15] Pierstoval opened #25693 "[RFC][Dotenv] Add a convenient way to retrieve env vars"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.x, 4.x

We can access env vars in several ways, and the `Dotenv` class is already capable of handling env vars in all possible ways:

https://github.com/symfony/symfony/blob/f95ac4f8090f12283ef4efcccb2e05d2fef87bea/src/Symfony/Co

[2018-01-05 10:17] nicolas-grekas commented on #25634
I'm not sure a reproducer is needed: the description is clear enough and has been discussed in #17043.
"dump()" is like "echo": it (mostly) doesn't know about the content-type of the response.
What would be the expected behavior here? I'm not sure there is anything to do personally (again, see #17043.)

[2018-01-05 10:17] xabbuh commented on #25693
I am not sure this would really solve such issues. Because this would mean that you would always have to install the Dotenv component. Otherwise, your front controller's code would lead to errors in environments where you set the env vars through your vhost settings or anywhere else outside `.env` files.

[2018-01-05 10:18] #25537 closed

[2018-01-05 10:20] nicolas-grekas commented on #25693
same as @xabbuh
just use "%env(FOO)%" and free your services from knowing anything about where their configuration comes from.
bootstraping files are very different and need to be standalone.

[2018-01-05 10:20] Pierstoval commented on #25693
I updated my proposal because you're right about dev&prod and env vars elsewhere: that's why a `Dotenv::exists` would also have to be mandatory

[2018-01-05 10:22] Pierstoval commented on #25693
@nicolas-grekas It's not only about the DI componentand the services, it's also about setting up the project in the front controllers.

Today, environment is based on `APP_ENV`, which is absolutely mandatory if you want a working app. And this var cannot be solved by the DI, so we need something to make it available clearly and avoid PHP flaws that set the env vars in different places and make get

[2018-01-05 10:37] AntoineLemaire commented on #25654
I had the same error, I upgraded to v3.4.3 in prod and problem seams to be fixed

[2018-01-05 10:37] MustaphaGhlissi commented on #24048
Hi every body ,

I got started recently a new project using Symfony 4

I have a problem ,

I am using FOSUserBundle works fine but I need to override the FOS SecurityController
Previously we use getParent() function but  this feature was deprecated and which alternative solution can use in my case ??

Regards

[2018-01-05 10:45] Pierstoval commented on #24048
You have to create your own controller and recreate the route you want to override, I think it's the only way.

[2018-01-05 10:46] javiereguiluz commented on #24048
@MustaphaGhlissi the solution is what @Pierstoval said and it's explained here: https://symfony.com/doc/current/bundles/override.html

[2018-01-05 10:56] MustaphaGhlissi commented on #24048
Thanks guys,

[2018-01-05 11:04] althaus opened #25694 "[Security] LogoutListener has private properties"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.x

I've got an issue with the usage of the `LogoutListener`. I'm trying to add some customized handling, but got stopped by the `requiresLogout()` method. It's protected and the docblock reads:

I've created a custom class exte

[2018-01-05 11:42] mcnilz opened #25695 "You have requested a non-existent parameter "container.build_id"."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.3

since #25671 JMSSecurityExtraBundle is broken because a service is used at compile time. Other libraries could be broken too.

[code]

[2018-01-05 12:11] nicolas-grekas commented on #25695
Fixed by #25696

[2018-01-05 12:22] nicolas-grekas commented on #25695
Note that this exception can also be triggered when using `matthiasnoback/symfony-service-definition-validator`.
But this is not something that is unsupported on Symfony's side: such validation logic basically breaks the separation of runtime vs compile-time, by evaluating parameters/expressions/services (in expressions) at compile time. You should just remove them.

[2018-01-05 12:23] enekochan commented on #25620
Definitely fixed in Symfony 3.3.15

[2018-01-05 12:25] ostrolucky commented on #25655
That's a change in bootstrap 4 beta 3. Current template was optimized for bootstrap 4 beta 2. I recommend downgrade to bootstrap beta 2, until there is support for more recent version.

[2018-01-05 12:47] Simperfit commented on #25681
This has been fixed in https://github.com/symfony/symfony/releases/tag/v2.7.40 could you please update to this version ?

[2018-01-05 12:48] garak commented on #25681
As you can see in above screenshot, I'm currently on Symfony 2.8.32

[2018-01-05 13:03] xabbuh commented on #25681
Does updating to 2.8.33 help?

[2018-01-05 13:14] garak commented on #25681
I was a bit skeptical, but it did the trick! Thanks for suggestions

[2018-01-05 13:14] #25681 closed

[2018-01-05 13:21] xabbuh commented on #25694
I don't see anything wrong with adding something like the token storage as a property in your custom listener class to be able to use it. That can be easily achieved and you just forward all the other constructor arguments to the parent class' constructor.

[2018-01-05 13:47] iltar commented on #25570
So this is also causing a lot of issues in commands with monolog:

[code]

Even when using the `--raw` it's being displayed, which makes it 100% useless right now.

![image](https://user-images.githubusercontent.com/1754678/34611795-308660ea-f227-11e7-88c6-8aa17c3fefc4.png)

[code]

[2018-01-05 14:00] Simperfit commented on #25598
I tried to reproduce the problem, but I can see in the debug:container that the service seems to be aliased correctly :
[code]

https://github.com/Simperfit/symfony-reproducer/commit/811e89ca80f2dacd18dfbd0e71a62e68a917d169

[2018-01-05 14:02] xabbuh commented on #25598
I am closing here for now as this does not seem to be an issue and due to the lack of feedback. But we can of course reopen when there is further information.

[2018-01-05 14:02] #25598 closed

[2018-01-05 14:06] anthonyrossetto commented on #25216
UP ;)

[2018-01-05 14:10] Simperfit commented on #25679
@Nijusan Do you want to provide the pull request? It seems like an easy pick to me ;).

[2018-01-05 15:07] tristanbes commented on #25645
Ok,

I understand what's happening.

The cache call are made on the main request.
On the application, the menu is rendered via a `{{ render }}` call.

After spending some time on understanding what was happening, I discovered that the data is showing on the profiler of the **SUB REQUEST** instead of the request itself.

**to reproduce:** https://github.com/tristanbes/symfony-cache-profiler-bug

Sc

[2018-01-05 15:33] rimas-kudelis opened #25697 "Calling handleRequest() after setData() on a form may cause unhandled exceptions"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | ?
| RFC?             | no
| Symfony version  | 4.0.3

I have a form configured as a service, and reused from the controller. When I try to update an existing entity with empty submitted data, an unhandled Exception is thrown, because the form attempts to set object's property to

[2018-01-05 15:49] thejahweh commented on #21204
@mneuhaus Is there any existing PR for this fix?

Currently it isn't possible to use sendHeaders with output buffering on, without having multiple headers sent.

[2018-01-05 15:59] mneuhaus commented on #21204
@thejahweh no, there is no PR yet, because i can't really tell the implications, because this is quite deep in the core of Symfony. i could open one of course.

[2018-01-05 16:17] adamquaile opened #25698 "Session indirectly started by RequestDataCollector in HttpKernel"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | *

In any environment where the profiler is enabled, I noticed Cache-control headers were not working correctly. This seems due to this bit of code, marking all requests in sessions as private with a max-age of 0 https://github.com/

[2018-01-05 16:26] poolerMF commented on #25666
I just use checkDns ... "problem" is with function checkdnsrr that checks it ... it looks like, it's not supporting RRSIG

how to check rrsig (found, not tested):
https://github.com/datenknoten/check-rrsig/blob/master/check-rrsig.php

[2018-01-05 16:45] nicolas-grekas commented on #25698
Actually that's expected behavior: this page is not cachable - it used the session to be generated.
See #24774, which *fixed* the `isStarted` check.

[2018-01-05 16:53] adamquaile commented on #25698
@nicolas-grekas I don't quite understand, then. As my code didn't explicitly start and doesn't need it, can I disable the session functionality completely or is that required by the profiler too function?

[2018-01-05 16:55] xabbuh commented on #25697
What do you mean with "this fails"? Do you get an error? If yes, what is the error?

[2018-01-05 17:00] nesabra commented on #25192
Hi guys, sorry for commenting here after a month but I'm bumping into the exact same problem and tried everything without success, I still get the missing arguments in the constructor error. I've described my problem [in this StackOverflow question](https://stackoverflow.com/questions/48105124/symfony4-dependency-injection-not-working-on-controller) maybe you guys will help me out. The thing is th

[2018-01-05 18:11] mvrhov commented on #25698
@nicolas-grekas: This is what I was talking about when you started the session refactoring. The framework or it's debug components shouldn't start the session unless it has been started by the developer's code explicitly.

[2018-01-05 18:24] ostrolucky commented on #25694
Constructor overriding as an only way to access injected services in classes designed for inheritance increases likehood of BC break. Any signature change in constructor might break subclass which only passes these arguments over to parent.

So I think it would be better to give easier access to these services in such classes. It reduces impact of such changes and improves DX.

[2018-01-05 22:19] iltar commented on #25697
How do you create your form? Because usually you don't make your forms a service, you use the form factory to make them.

[2018-01-06 02:16] Tobion commented on #25698
This looks like a huge bug to me introduced with #25583. RequestDataCollector always starts the session  and then SaveSessionListener will always mark the request uncachable due to #25583. So even if you don't use a session, the no cache headers will be set automaticall.

[2018-01-06 08:01] nicolas-grekas commented on #25698
As stated above, this is not a bug to me, and this is totally independent from #25583.
See #24774 and #24730: the profiler cannot work without the session, so it has to use it.
This is just normal behavior and a side effect of using the profiler. Not doing so means re-introducing #24730.

[2018-01-06 08:56] Nijusan commented on #25679
@Simperfit i tried :) please correct me if i did something wrong

[2018-01-06 09:57] rimas-kudelis commented on #25697
@xabbuh by "this fails", I mean this throws an exception. Here's the stack trace:
[code]
I could catch the exception of course, but I wonder if this is the expected course of events.
Also, if I call `handleRequest()` with same Request content, but without calling `setData()` and passing an object to it first, no exception is thrown.

Like I said, during `handleRequest()`, the form appears to be se

[2018-01-06 10:02] SamuelSSalazar commented on #25677
Did you found a solution ??
I´m having the same problem and i have already double check the documentation posted in here:

https://symfony.com/doc/current/configuration/override_dir_structure.html#override-the-public-directory

[2018-01-06 10:05] rimas-kudelis commented on #25697
@iltar the form and the controller are described in `services.yaml` like this:

[code]
The constructor for `CustomerController` looks like this:
[code]

This is my first Symfony project, so I can't rationalize too much here, but that's what my senior programmers with Symfony certificates and years of experience told me to do (and what they seem to be doing in their other projects), so I comply.

[2018-01-06 11:11] iltar commented on #25697
I guess registering your form like that is possible, but I wouldn't recommend it. This will give every form where it's injected, the same instance, rather than a unique and isolated instance. It also prevents you from properly binding your data.

Besides of that, could it be that your field is empty? It seems like you want strictness (entity is my guess), but you're using your entity as a form obj

[2018-01-06 12:03] rimas-kudelis commented on #25697
Yes, the field is empty, and the object requires it not to be. I mentioned teat in my initial report.

Like I said, it's not my choice to turn forms into services. I personally find it unnecessary, but that's not what this ticket is about. It's about whether it's indeed expected that the form will recklessly try setting entity properties without validating them first, or expecting such action to f

[2018-01-06 12:10] iltar commented on #25697
It fills the object with the values and _then_ validates, which is what my blog posts are about.

[2018-01-06 12:12] rimas-kudelis commented on #25697
I'm reading the blog posts now, but filling and then validating doesn't sound like a logical approach to me. Is there anything preventing the form from performing these actions in reverse order?

[2018-01-06 12:13] iltar commented on #25697
No, that's just how it works, hence you should probably use DTOs and fill your entities after the validation.

[2018-01-06 12:18] rimas-kudelis commented on #25697
Okay, thanks for the pointers. One last question: was it "No" as in "No, there's nothing preventing the form from performing these actions in reverse order", or was it "No" as in "No, that is not possible to do in reverse order"? :)

[2018-01-06 12:21] iltar commented on #25697
No, you can't do it in reverse order.  Your form type tells what your input should be mapped to (either array or object). The property access maps those properties to the object. The validator then validates the object (or array ofc). This due to model and view transformations that might happen.

[2018-01-06 12:38] rimas-kudelis commented on #25697
OK, thanks once again!

[2018-01-06 12:52] poolerMF commented on #25666
but when using UrlValidator, you can not specify DNS record type

    if ($constraint->checkDNS) {
            $host = parse_url($value, PHP_URL_HOST);

            if (!is_string($host) || !checkdnsrr($host, 'ANY')) {
                $this->context->buildViolation($constraint->dnsMessage)
                    ->setParameter('{{ value }}', $this->formatValue($host))
                    ->setCode(Ur

[2018-01-06 13:11] curry684 commented on #25666
That is by spec, wildcard records in DNS define a single level. A.b.c.d will never resolve on *.c.d, you need to define your own subzone explicitly for that.

[2018-01-06 14:16] adamquaile commented on #25698
This make a little more sense to me now, so

A session is required for the profiler to work (to catch redirects I believe)

A session being started (even for an indirect reason such as this) means the response should be considered private, even if this could sometimes be inconvenient.

But, do we really need to `setMaxAge(0)` and override what a dev has specified as the cacheability for a response

[2018-01-06 15:15] nicolas-grekas commented on #25698
Actually, this may be fixable: we should just not use the session to forward the `sf_redirect` array from one request to another, and just use a json_encoded cookie!
@adamquaile would you like to give it a try?

[2018-01-06 15:59] dmaicher commented on #25659
If we revert the service definition change on 3.4 (so keep using the deprecated `TwigRendererInterface`) then it might be fine for all people who expect an instance of `FormRendererInterface`.

An issue is that the twig runtime would also change again and possibly introduce problems again for projects that adapted to the non-deprecated class.

See https://github.com/sonata-project/SonataAdminBundl

[2018-01-06 16:09] chalasr commented on #25694
We don't do breaking changes in constructor signatures, only adding optional argument at last position is allowed, a BC layer must be added otherwise (deprecation notices).
Protected things are way more impacting regarding maintenance, I agree with @xabbuh here.

[2018-01-06 16:30] Nyholm commented on #25210
What is the status on this issue? Should we ask @fabpot to create the repo and package?

[2018-01-06 17:46] Smolky opened #25702 "[Console] Change TypeHinting array to iterable in public methods"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | -
| RFC?             | -
| Symfony version  | -

This issue is related to the use of the **console component as standalone**.

The methods ```setHeaders```, ```setRows```, etc expects an ```array``` as parameter by type hinting, but I think this approach limit how we can use this

[2018-01-06 17:48] ostrolucky commented on #25694
Well I know it's your policy and you try hard, but you do breaking changes in constructors in patch releases from time to time anyway

https://github.com/symfony/symfony/commit/860575a88240a1eca46fc9a660212816827d32df#diff-9d2030564e7539d11d2a4923b6ae96b4R34
https://github.com/symfony/symfony/commit/baaff20f4aa3b587617c05e201208527922871fd#diff-40ba7de9e4147b219f8ed3a42dede24dR89
https://github.co

[2018-01-06 17:59] tomzx commented on #25702
The issue with moving from `array` to `iterable` is that you cannot address arrays directly (use keys) anymore as an iterator is going to return values one by one. This would thus require calls to [iterator_to_array](http://php.net/iterator_to_array) to obtain the same result while making the code less readable (and a bit slower).

[2018-01-06 18:01] tomzx commented on #25687
Hello @HeathNaylor, would it be possible for you to provide an example test case to make it easier for others to debug?

[2018-01-06 18:02] ostrolucky commented on #25702
No, that would be BC break for subclasses https://3v4l.org/UloRM.  Symfony does not do such changes without deprecation path.

[2018-01-06 18:25] ostrolucky commented on #25210
This is slippery slope. In CI, I would like a way to lock to specific minor version too.

Just use similar snippet [I used in DoctrineBundle](https://github.com/doctrine/DoctrineBundle/blob/4ab04c00f1c6449c4aaa3fc60d57c3238ea3530e/.travis.yml#L38). Much more flexible.

[2018-01-06 19:15] Smolky commented on #25702
Understood. Thanks.

[2018-01-06 19:15] #25702 closed

[2018-01-06 20:18] ostrolucky opened #25703 "[Cache] Document \Symfony\Component\Cache\CacheItem properties"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

Please document these properties https://github.com/symfony/symfony/blob/ebf3f0e051d7286eb5667bea5f3873d0db0e8fe8/src/Symfony/Component/Cache/CacheItem.php#L23-L31

I can't even say what units does `$defaultLifetime` use.

I'

[2018-01-06 20:51] #25697 closed

[2018-01-06 20:51] xabbuh commented on #25697
I am closing then as there is nothing to fix.

[2018-01-06 21:01] ostrolucky commented on #25693
Ah yes, situation regarding $_SERVER/$_ENV/getenv()/putenv() is a mess. There were already ton of bugs based on confusion between these and more will come.

https://github.com/symfony/symfony/pull/25559
https://github.com/symfony/symfony/pull/25523
https://github.com/symfony/symfony/pull/25162
https://github.com/symfony/symfony/pull/24686
https://github.com/symfony/symfony/pull/24113
https://githu

[2018-01-06 23:40] marc-siramy opened #25706 "ParameterNotFoundException "debug.container.dump" while using app_dev.php"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Symfony version  | 3.3.6
| Ubuntu | 16.04
| Apache | 2.4.18
| PHP | 7.1.12-3+ubuntu16.04.1+deb.sury.org+1

I have an issue in my first Symfony demo project:
when I run the project in 'dev' mode on my locale machine, the browser displays the following error:

[code]

This is the result of composer show:
[code]
I did severa

[2018-01-07 06:42] nicolas-grekas commented on #25706
Please upgrade, 3.3.6 is old already.

[2018-01-07 07:11] nicolas-grekas commented on #25703
But you shouldn't care: you don't have access to them. Only the methods are part of the contract and they have full doc blocks...
Anyway, just send a PR if you really think we should doc these :)

[2018-01-07 08:07] #25679 closed

[2018-01-07 10:50] ostrolucky commented on #25703
I would send PR, but I don't know how it works. That's why I created this issue. Someone who knows how it works should document it.

I explained why I care even though I don't have access there. I was tracking down the bug I had, got to this class and was suddenly lost.

[2018-01-07 11:31] sroze commented on #25698
It's a tradeoff: using a cookie would mean that both the redirection and the target page will not be cachable (because of the `Set-Cookie` to set the `sf_redirect` and the one to clear it).

IMHO that might confuse developers, but there are less hidden moving parts, so this might be a good idea, you've got my 👍 on this one.

Depending on the feedback, I'm happy to help going to either direction by

[2018-01-07 13:48] Pierstoval commented on #25693
We could get inspiration from components like [oscarotero/env](https://github.com/oscarotero/env/blob/master/src/Env.php) or [vlucas/phpdotenv](https://github.com/vlucas/phpdotenv/blob/master/src/Loader.php#L325-L336). This is "just another env library" like it is right now.

Maybe another `Env` component can be created. Then, `Dotenv` would require it, but all other Symfony components would possi

[2018-01-07 15:43] weaverryan opened #25708 "Add a Simple CacheInterface autowireable service"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1.0

Hi guys!

Awhile ago, I talked with Nicolas about adding a "simple-cache" service to the container (we would just wrap `cache.app` with our PSR16 adapter and make `cache.app.simple`. Then, we could add an alias so that `Psr\

[2018-01-07 16:11] sroze commented on #25708
Definitely 👍, it would be a great DX improvement.

[2018-01-07 16:23] boite commented on #25643
As alluded to by @mvrhov, if your project depends on dotenv then you really should make that dependency explicit: `composer require symfony/dotenv`.

[2018-01-07 17:46] ptrm04 commented on #15534
ping @weaverryan - any ideas why that document was removed? It'd be nice to have one for Symfony 4 as many users will find it useful.

[2018-01-07 17:51] xxorax commented on #24461
loadFromExtension does not work for if there is already defined firewalls.

Also, because the firewalls rules order is important, you should take care to insert firewall rule at the good place:
[code]
Still waiting for a better way to fix it...

[2018-01-07 18:54] adamquaile commented on #25698
I think a URL parameter might be the simplest here, because there's no need to really clear it. I can imagine browser extensions or settings potentially causing more problems with cookies too. Happy to help on this when I next get a chance too, if that's the way people want to go.

[2018-01-07 19:16] nicolas-grekas commented on #25708
Let's go.
Should be doable in very few lines, just wrapping the `cache.app` service with a `Symfony\Component\Cache\Simple\Psr6Cache`.
Anyone?

[2018-01-07 19:35] dmaicher commented on #25708
See https://github.com/symfony/symfony/pull/25710

[2018-01-07 20:20] ThomasTr commented on #25643
I am now in the process to deploy my App. What‘s the best prächtige to usw. the eng vars in booth, the web app and the console? For the web app i Place them in the nginx config. For my console commands i can put them to  etc/environment. So all variables are stored twice. I thonk for dB credentials etc/environment is not  the best place.

[2018-01-07 22:49] codedmonkey opened #25711 "Period in URL crashes profiler"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             |  no
| Symfony version  | 4.0.3

I'm currently experiencing an issue where the Profiler crashes when a period is used in the URL. I came across https://github.com/symfony/symfony/issues/25541, but it seems to be a bit different, although related.

My route

[2018-01-07 23:54] zlikavac32 opened #25712 "[TwigBundle] TemplateCacheWarmer may pass objects into loadTemplate"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4

`TemplateCacheWarmer` passes `TemplateReference` into `loadTemplate` which can cause error if for certain reason `Twig_Environment` is to be extended, `declare(strict_types=1)` is used in the extending class and `$name` is pass

[2018-01-08 01:53] tomjowitt commented on #19363
We just had the same issue (non-VM EC2 instance):

```Jan 08 12:36:54 ip-xxx-xx-x-xx prod.log: [2018-01-08 01:36:54] console.ERROR: Error thrown while running command "cache:clear --env=prod --no-debug --no-warmup". Message: "Cannot rename "/var/symfony/cache" to "/var/symfony/cach~"." {"error":"[object] (Symfony\\Component\\Filesystem\\Exception\\IOException(code: 0): Cannot rename \"/var/symfony

[2018-01-08 07:23] KamilPesek commented on #24246
Unfortunately no change for me. It still doesn't work in 3.4.3.
And I am pretty sure that I have everything right, because:
1) when i remove groups from
[code]
 it works
2) it also works with any other validation constraint, eg. NotBlank

Any suggestions?

[2018-01-08 08:57] klausbreyer opened #25713 "*.symfony.com certificate expired"
I wanted to use https://symfony.com/installer in my ansible script, but it seems your certificate is expired.

![screen shot 2018-01-08 at 09 56 32](https://user-images.githubusercontent.com/32771/34664058-468b72ce-f45a-11e7-8ab7-66206e3b6597.png)

[2018-01-08 08:58] Mohammadtrabelsi opened #25714 "Symfony Unable to load the TwigRenderer runtime"
| Q                | A
| ---------------- | -----
| Symfony version  |3.4.2

I upgraded from Symfony 3.2 to 3.4.2. and i got this error on page bundle:

## Unable to load the "Symfony\Bridge\Twig\Form\TwigRenderer" runtime.

I tried to upgrade the twig bundle to the latest version (at the time of writing this line) v2.4.4 but in vain. any help please.

This is the error stack trace:

[2018-01-08 09:07] javiereguiluz commented on #25714
We fixed the docs about this a few days ago. See: https://github.com/symfony/symfony-docs/pull/8908

You must remove `use Symfony\Bridge\Twig\Form\TwigRenderer;` and replace it by `use Symfony\Component\Form\FormRenderer;`

Please reopen this issue if this doesn't fix the error. Thanks!

[2018-01-08 09:07] #25714 closed

[2018-01-08 09:16] Mohammadtrabelsi commented on #25714
I should open this issue in sonata paga bundle repo
This error is fixed by upgrading sonata page bundle to 3.7.1

[2018-01-08 09:23] xabbuh commented on #25677
This is indeed an issue of the documentation (see symfony/symfony-docs#8766).

[2018-01-08 09:23] #25677 closed

[2018-01-08 09:27] xabbuh commented on #25711
Would you mind creating a small example application so that we can easily debug where exactly this is breaking?

[2018-01-08 09:34] xabbuh commented on #24246
@KamilPesek Please open a new issue and best also provide an example application that allows to reproduce your issue.

[2018-01-08 09:39] xabbuh commented on #25706
Closing here for now. We can consider to reopen if you still experience the same issue with Symfony 3.3.15.

[2018-01-08 09:39] #25706 closed

[2018-01-08 09:53] Denys-Bushulyak commented on #18608
@CharlyPoppins, how did you solved https issues?

[2018-01-08 10:00] CharlyPoppins commented on #18608
Hello I don't remember exactly but it was something like I couldn't create sessions on unsecured http, but I could create session on **https**.

Not sure if it was due to Symfony configuration or server configuration.

[2018-01-08 10:24] Kwadz commented on #13952
Where this issue is now followed please?

[2018-01-08 10:51] TomasVotruba commented on #13952
Symfony uses "symfony" set from https://github.com/friendsofphp/php-cs-fixer

[2018-01-08 11:01] Kwadz commented on #13952
@TomasVotruba, I understood the goal of this issue is to be able to see the errors highlighted directly in IDEs like PhpStorm, if I am not wrong only PHP_CodeSniffer allows that.

[2018-01-08 11:10] bodik commented on #25713
i encountered exactly the same during puppet CI, you can use composer as workaround
[code]

[2018-01-08 13:05] HornskovVindberg opened #25716 "[Process] setCommandLine() with SSH command causes process to hang"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

A laravel project calls Process setCommandline with an ssh command. This causes system to
hang.  Changed back to 3.4.2 and it works.

[2018-01-08 13:11] codedmonkey commented on #25711
The reason I didn't was because it was very easy to replicate on my development machine. I'm currently trying to replicate it on a second machine but I'm unable to do so. Will report back if I can find the real culprit tongiht. Thanks :)

[2018-01-08 13:18] #25708 closed

[2018-01-08 13:21] #25695 closed

[2018-01-08 13:33] fancyweb commented on #25610
@xabbuh #25601 was merged and released in 3.4.3 but the problem I described is still the same. Could you reopen please ?

[2018-01-08 13:39] sobhan93 opened #25717 "GroupSequences execute next group if first fail"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

When form is submitted, both groups "Users' and 'Strict' are validated even if there are violations in 'Users'.

When put something like "123" on username and password,expected "This value is too short. It should have 6 chara

[2018-01-08 13:47] MvanRietschoten commented on #25643
Just keep this in mind when making decisions.

https://12factor.net/dev-prod-parity

For me it is use dotenv all the way or don't use dotenv at all.
However, with the awesome symfony flex defaults that add these variables for me... from a developers perspective it is indeed easier to use dotenv all the way.

[2018-01-08 13:56] xabbuh commented on #25610
Do you mean you don't get the more helpful error message?

[2018-01-08 13:57] xabbuh commented on #25717
Would you be able to provide a fully working example application that allows to reproduce your issue?

[2018-01-08 14:05] fancyweb commented on #25610
I get this
![1](https://user-images.githubusercontent.com/3658119/34674085-db645454-f484-11e7-8e91-9f71f9a3a77f.png)

instead of my exception.

[2018-01-08 14:09] fancyweb commented on #25654
I still have the problem too after upgrading to 3.4.3. My reproducer works but not my real code.

[2018-01-08 14:13] xabbuh commented on #25610
Can you create a small example project that allows to reproduce the issue?

[2018-01-08 14:14] fancyweb commented on #25610
The link is in the second message of this issue.

[2018-01-08 14:19] AntoineLemaire commented on #25654
Same problem here, I can observe the problem in production, we have many logs with Sentry. But I didn't managed to reproduce it yet, Sentry is not very helpful and I don't know what throw the error

[2018-01-08 14:20] stof commented on #25610
hmm, if the instantiation of Twig extensions is triggering exceptions, this would indeed leave Twig in an unusable state (and so create issues when trying to use it to render the custom exception page)

[2018-01-08 14:51] marc-siramy commented on #25706
After upgrade to 3.4.0,
I can run the project in 'dev' mode on my locale and remote environment. That are the good news.

But the error appears again if I browse to `app_dev.php` (in both local and remote environment) `kernel.debug: true` in `app/config/config.yml`. I'm not sure that it's symfony comportment expected.

So now, I have the following configuration:
[code]

[2018-01-08 14:52] mjanser opened #25718 "[Console][FrameworkBundle] Broken exception handler on console"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.3

#25255 introduced an own exception handler in `Console/Application.php` before the kernel is booted. During kernel boot and if the framework-bundle is installed, it registers the exception handler of the debug component (`De

[2018-01-08 14:52] dzuelke commented on #25677
So which is it now? `config.public-dir` or `config.extra.public-dir`?

[2018-01-08 14:53] dzuelke commented on #25677
Ah, looks like `extra.public-dir`: https://github.com/symfony/flex/blob/5e610d4b66a1f17736f6025fc81fd794d8ac69d6/src/Flex.php#L353

[2018-01-08 14:58] TomasVotruba commented on #13952
CodeSniffer features are very limited compared to combination with PHP CS Fixer or EasyCodingStandard.

Why do you need to highlight errors that a tool fixes for you?

[2018-01-08 15:29] unkind commented on #25694
Regarding the design of the class, it could've been done like this:
[code]
There is no need to deal with inheritance.

[2018-01-08 15:38] dbu commented on #25718
The [while loop](https://github.com/nicolas-grekas/symfony/blob/27dc9a6c7c894a0460321ee0f6183f5544f5410d/src/Symfony/Component/Debug/ErrorHandler.php#L565-L574) could additionally check if the handler is still changing or staying the same. Or have a same-count to abort after a while if the handler keeps being the same. That would cover situations like the newrelic plugin messing with restore_excep

[2018-01-08 15:39] aik099 commented on #13952
That depends on used ruleset. I personally peffer to write code correctly styled in the 1st place instead of writing it without style and running fixed to fix standard violations.

Because PHPStorm highlights errors inline for its own inspections (e.g. calling method with more parameters, then in declaration) and for stuff PHP_CodeSniffer finds as well.

As PhpStorm offers integration with PHP_Cod

[2018-01-08 15:40] ostrolucky commented on #25694
With that approach, you don't have any guarantee you will get same tokenStorage object that is injected in LogoutListener. But it's offtopic. I just wanted to improve policy regarding classes **meant** for inheritance.

[2018-01-08 16:00] sroze commented on #25698
The obvious problem is the URL parameter is that it requires the user to generates the URL using Symfony's router, and would require the HttpKernel component to know about it... which is not going to work well IMHO. The Cookie option _seems_ to be the only suitable alternative.

[2018-01-08 16:08] sobhan93 commented on #25717
[Download example application](http://www.mediafire.com/file/m56hmru2kqh2c47/symfony-issue-25717.zip)

[2018-01-08 16:11] sroze commented on #25698
See #25719

[2018-01-08 16:52] fabpot commented on #25713
Fixed now.

[2018-01-08 16:52] #25713 closed

[2018-01-08 17:22] unkind commented on #25694
Why? You inject `tokenStorage` and use the same instance within closure.

[2018-01-08 17:32] TomasVotruba commented on #13952
For me it's easier to run :

[code]

before commiting, rather than:

- setup PHPStorm,
- see what it highlights,
- read caretuflly each message,
- open Sniff classes, when the message it not clear to me,
- fix all of that manually,
- be limited only to PHP_CodeSniffer

And for each project doing the same redundant work. I have better things to do :)

[2018-01-08 18:29] #25698 closed

[2018-01-08 18:54] aik099 commented on #13952
We're bit off track here 😉 .

The part of showing errors in PhpStorm was purely my interpretation (see https://github.com/symfony/symfony/issues/13952#issuecomment-82439773) of @FractalizeR question in the issue.

That unfortunately mislead @Kwadz in https://github.com/symfony/symfony/issues/13952#issuecomment-355937078 comment into thinking that error highlighting in PhpStorm is all this issue is

[2018-01-08 19:27] TomasVotruba commented on #13952
@aik099 I was reactig to the question in title + one after issue was closed.

It is PHP_CodeSniffer as well. All 3 of them actually ;)

[code]

[2018-01-08 19:45] iltar commented on #25711
When you open your network tab, does it show anything? It could be related to an .htaccess setting if you're using that.

[2018-01-08 21:29] xabbuh commented on #25717
Status: Reviewed

[2018-01-08 23:52] Alsatian67 opened #25722 "[HttpFoundation] Remove X-Sendfile internal http headers once they were used ?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

I'm using X-Accel with Symfony & nginx

By https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/BinaryFileResponse.php#L210

If I unterstand how it works, when I do something like this :

[code]

[2018-01-09 01:45] codedmonkey commented on #25711
After some debugging, I found that for whatever reason if I add a period to the URL, I end up with a completely different `$_SERVER` variable. Hopefully can somebody explain to me where these parameters come from:

      "REQUEST_TIME_FLOAT" => 1515461685.9981
      "REQUEST_TIME" => 1515461685
      "APP_SYMFONY_VERSIONS" => "2.3;2.7;2.8;3.4;4.0;master=4.1"
      "USER" => "codedmonkey"
      "XD

[2018-01-09 08:19] rakodev opened #25723 "bin/console required Memcached 2.2"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

When I execute this command:
`php bin/console`

I have this response:
<pre><code>Symfony 4.0.2 (kernel: src, env: dev, debug: true)

In MemcachedTrait.php line 84:
  Memcached >= 2.2.0 is required
</code></pre>

But the last

[2018-01-09 08:20] mvrhov commented on #25722
Symfony can't remove those headers. It's nginxes/apaches job to do that.
The nginx/apache wouldn't know that it has to use the X-accel without them!

[2018-01-09 08:33] nicolas-grekas commented on #25723
2.2.0 is the minimum version of the *extension*! if you think the message could be improved, PR welcome.

[2018-01-09 08:35] rakodev commented on #25723
Ok I found it, it's because I don't have this line in my /etc/php/7.1/cli/php.ini file:
<code>extension=memcached.so<code>

[2018-01-09 08:35] #25723 closed

[2018-01-09 09:02] rakodev opened #25724 "Swiftmailer spool send try to connect to localhost instead of gmail"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

İn my .env file I have a configuration like this:
<code>MAILER_URL=gmail://username:password?encryption=tls&auth_mode=oauth</code>

My swiftmailer.yaml file:
<pre><code>swiftmailer:
    url: '%env(MAILER_URL)%'
    spool:

[2018-01-09 09:22] stevro opened #25725 "Ajax file upload broken in v2.7.38"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7.38

In v2.7.38 it was introduced a security fix to uploaded files.
PR: https://github.com/symfony/symfony/pull/24993

The problem is that if you upload the files using ajax and you use the javascript below for ajax upload:
[code

[2018-01-09 09:49] KamilPesek opened #25726 "@Assert\Valid() doesn't work with groups"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Symfony version  | 3.4.3

I need to use conditional validation for some property, so I added **validation groups** to **Valid constraint** (see below). But this validation is not called.
I tried it without groups option and for another constraint (NotBlank) and that's workin

[2018-01-09 09:51] KamilPesek commented on #24246
@xabbuh oppened here #25726

[2018-01-09 10:35] xabbuh commented on #25725
Having an array of `UploadedFile` objects looks right when your file type is configured as being multiple. Do you maybe have one form that is rendered, but use another form to process the input? Otherwise, would you be able to create a small example application that allows to reproduce your issue?

[2018-01-09 10:38] xabbuh commented on #25724
Swiftmailer is not part of the Symfony core. I suggest you open an issue on the [Swiftmailer](https://github.com/swiftmailer/swiftmailer) or [SwiftmailerBundle](https://github.com/symfony/swiftmailer-bundle/) repository instead.

[2018-01-09 10:38] #25724 closed

[2018-01-09 10:41] stevro commented on #25725
The fix you introduced expects an array with just one level of nesting, like this:
[code]

But I'm getting a double nested array:

[code]

I'll try to setup an online example. It might be because in javascript I'm not submitting directly the serialized form but instead I use var formData = new FormData($(this)[0]);, as this way I managed to send the files via ajax.

[2018-01-09 10:43] xabbuh commented on #25725
Ah sorry, I missed that. The nested array indeed looks wrong to me.

[2018-01-09 10:57] marc-siramy commented on #25706
When trying to install the application on a third machine this morning (from git), I have again this weird error:
[code]
Please reopen the issue, I will try to investigate diffs. betwenn

[2018-01-09 10:58] pzienowicz commented on #25695
Any workaround until next release?

[2018-01-09 11:31] WubbleWobble opened #25727 "Symfony 3.4 installation oddity"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

I visited https://symfony.com/download and grabbed the project creation command-line with the intention of creating a 3.4 LTS project.

The command given on the download page was:
`composer create-project symfony/skeleton my_

[2018-01-09 11:36] javiereguiluz commented on #25727
We discussed a bit about this on Symfony Docs repo last week: https://github.com/symfony/symfony-docs/pull/8886

I agree this is confusing. Maybe we can tweak somehow the composer.json file provided by Symfony Skeleton 3.4? https://github.com/symfony/skeleton/blob/3.4/composer.json

[2018-01-09 11:45] WubbleWobble commented on #25727
The gist I get from your discussion there is that skeleton is good for installing major versions but can't install specific minor versions (e.g. you ask for 3.3 and end up with 3.4 packages)

So I just want to point out that I did actually get 3.4 packages as expected (see below), but that the directory structure was just completely wrong for a 3.4 project, and so if I were to try to follow the 3.

[2018-01-09 11:48] xabbuh commented on #25727
I think we need to make a decision whether we want to show the Flex way or the old way using the installer for Symfony 3.4. Right now, this is inconsistent as you end up using Flex when using the command displayed on the download page, but all the docs contents still refer to the old structure as we only adapted the 4.0 docs for the Flex way.

[2018-01-09 11:49] xabbuh commented on #25727
So IMO we should still show the installer command for 3.4 on the download page *or* backport most of the changes we did for the 4.0 docs to the 3.4 branch.

[2018-01-09 11:55] WubbleWobble commented on #25727
My five pence would be to go for the "show the install command for 3.4" option, as 4.0 is where you've introduced Flex, and going from 3.* to 4.* is where I expect to have to study and learn new things.

If you backported your 4.0 docs to 3.4, then you'd end up messing up those with different use cases,  such as users who were simply upgrading from 3.3 to 3.4.

[2018-01-09 12:58] codedmonkey commented on #25711
Continued discussion here https://github.com/symfony/skeleton/issues/53

[2018-01-09 12:58] #25711 closed

[2018-01-09 13:48] dkarlovi opened #25729 "[Serializer] allow ObjectNormalizer to provide ConstraintViolationListInterface from ExtraAttributesException"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.3

Currently, I'm using API platform with the Symfony serializer and `ALLOW_EXTRA_ATTRIBUTES=false`

If my request produces a constraint violation, the error looks like:

[code]

But, if I provide an invalid attribute, the messag

[2018-01-09 13:49] AlexandreKilian commented on #13589
Any recommendations that aren't as hacky as ModelTransformers or Listeners? Yes, `is_string()` is doing what it is doing correctly, but this can't be the expected behavior for a CheckboxType... This should be much strikter and use a blacklist rather than basically passing this through as "true" whenever the field is not missing... 0 and '0' and 'false' or just an empty string should not be transfo

[2018-01-09 13:50] jkhaled opened #25730 "Validating form with UniqueEntityValidator throws exception v => 4.0"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0

### Description

Using EntityReposiroty as service 'autowiring' with UniqueEntityValidator produce exception
[code]
### Steps to Reproduce

1. I have a UserEntity  with unique entity validator
[code]
2.  with repository class (

[2018-01-09 13:59] xabbuh commented on #25730
I think your problem is the leading backslash in the `repositoryClass` config (the class name given there must match the service ID). Try changing it to something like this:

[code]

[2018-01-09 14:07] jkhaled commented on #25730
@xabbuh  the  ```UniqueEntityValidator ``` try to call the Reposiroty without DIC (container) , and tha leads to the exception  because the ```EntityManager``` is not injected

[2018-01-09 14:20] xabbuh commented on #25730
@jkhaled Since doctrine/DoctrineBundle#727, the repository can be fetched from the container. Did you try if changing the `repositoryClass` option changes anything?

[2018-01-09 14:21] sroze commented on #25729
That would couple the Serializer component with the Validator one... If it's a soft-dependency (i.e. there is this behaviour only if the `ConstraintViolationListInterface` interface exists) then that would make sense to me 👍

[2018-01-09 14:24] jkhaled commented on #25730
@xabbuh yes it works , thank you

[2018-01-09 14:25] dkarlovi commented on #25729
Of course, that's the intention.

That's just a property on my entity, it's not significant here beside it being a context in which the validator is being run (an by which being able to properly name all properties).

[2018-01-09 14:27] #25730 closed

[2018-01-09 14:45] nicolas-grekas commented on #25654
@fancyweb @AntoineLemaire could you please confirm that your case is fixed by #25733?

[2018-01-09 14:46] nicolas-grekas commented on #25654
@coudenysj also :)

[2018-01-09 15:10] leberknecht commented on #13589
Hm, but thats what HTTP defines :/ :D But the solution with introducing an optional argument to define falsy values sounds good to me!

[2018-01-09 15:21] sobhan93 commented on #25717
when will this bug be solved ?

[2018-01-09 15:28] xabbuh commented on #25717
There is no schedule for when bugs are fixed. At some point, someone will decide to work on an issue and submit a PR. But that depends on how complicated things are, how many people are affected and so on. If more people are affected by an issue, changes are high, that one of them will invest some time themselves to fix the code.

[2018-01-09 17:12] xabbuh commented on #25726
The nested object is only validated in the group(s) that you specified with the `Valid` constraint (i.e. `extended` in your example). So you need to add these groups to the constraints of your nested object too.

By the way, you also had an issue in the implementation of your `getGroupSequenceMethod()`. It must not return a nested array:

[code]

I am closing here as the observed behaviour is expe

[2018-01-09 17:12] #25726 closed

[2018-01-09 21:53] Alsatian67 commented on #25722
May be I'm wrong, but I unterstand it so :

The Controller set "X-Sendfile-Type" and "X-Accel-Mapping" only to inform Symfony that Symfony has to create a third header "X-Accel-Redirect" (the name of this header is the value of the "X-Sendfile-Type" header, and its value is found using the "X-Accel-Mapping" description.

The server knows nothing about "X-Sendfile-Type" and "X-Accel-Mapping" header

[2018-01-09 21:54] Alsatian67 commented on #25722
But I'm not a security expert, and I don't know if it is a problem to expose these internal headers to the end client.

[2018-01-10 00:17] Tobion commented on #25727
If you are upgrading a project, you don't go to the download page.
Also you can use flex with SF 3.3 even. But most people associate flex with sf 4. And it might be too confusing to explain all these things when you just want to download something.

[2018-01-10 04:24] wenmingtang opened #25736 "Auto add the `cache-control` headers?"
| Q                | A
| ---------------- | -----
| Bug report?      | Maybe
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

hello everybody,

I need my CDN service cache my website, so I set

[code]

then the `cache-control` header is `cache-control:max-age=0, must-revalidate, private, s-maxage=3600`

It contains the `max-age=0, must-revalidate,

[2018-01-10 06:21] #25670 closed

[2018-01-10 06:38] nicolas-grekas commented on #25736
That's because your page is using the session, so that it's different per-user, and thus cannot be shared.

[2018-01-10 08:09] fancyweb commented on #25654
It doesn't fix it for me but I guess the problem could also be in the way I deploy or in my setup.
I use a shell script with the following content :
[code]
I use runsv to run commands continually. The `stop_sv_services` and `start_sv_services` scripts are used to restart them when I deploy. I changed it recently to try to fix this problem but back in 3.3 I had only one script that restarted them a

[2018-01-10 08:25] mvrhov commented on #25722
If this is true, then you of course are correct and those two headers should be removed.

[2018-01-10 08:32] wenmingtang commented on #25736
@nicolas-grekas, Thanks.

But I not login my account, I want to shared,  Because  I need CDN cache my pages, can't be implemented?

[2018-01-10 08:38] nicolas-grekas commented on #25736
I guess you need to understand where the session is used, and then figure out a way to not call that code.

[2018-01-10 08:45] Strate commented on #25371
@javiereguiluz I can agree, that TeamCity possible is not popular enough. So, I can change my proposal - we can add ability to change format of remaining deprecations output.

[2018-01-10 09:17] enumag opened #25738 "[Form] Form::getErrors() method is confusing for new symfony users"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.0

Several times now I saw new inexperienced symfony users getting confused by the `Form::getErrors()` method. The problem is the boolean `$deep` parameter with a `false` default value. Usually it goes like this:

1. `$form->isVa

[2018-01-10 09:45] WubbleWobble commented on #25727
What I generally mean to say is that if you backport the documentation to make the 3.4 documentation flex-style, then you are messing it up for those who are used to non-flex style (such as those who already have a non-flex style 3.4 project, or are upgrading from 3.3)

Or put another way, having the 3.4 documentation remain non-flex style would benefit many more people than backporting things to

[2018-01-10 10:09] hchonov opened #25739 "Recursive validation might be broken with reused constraint validators"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | all?

We've encountered an issue in Drupal 8 where the constraint validator instances are shared and not newly instantiated for each started validation. The constraint validators get the current execution context injected through `\

[2018-01-10 10:22] xabbuh commented on #25739
Would you be able to provide a failing test case?

[2018-01-10 10:28] Taluu opened #25740 "[DI] Service autodiscovery + autowire conflicting with non-fqcn services declaration"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

I have the psr-4 discovery feature activated with the following services.yaml :

[code]

But then, it tries to register the `App\Foo\EventDecorator` service and doesn't know what to do with the `$decorated` argument, as it's

[2018-01-10 10:33] hchonov commented on #25739
Unfortunately I am not familiar enough with Symfony to prepare a test case. I've only reported the issue as the recursive validation in Drupal and Symfony looks pretty similar and I think that there is a high chance that Symfony has the same issue.

[2018-01-10 10:51] ajtis commented on #25695
@fabpot can You please merge it into **symfony:2.4**

[2018-01-10 11:19] giovannialbero1992 opened #25742 "refernce to a require dev's class into symfony/security/Core/Authorization/ExpressionLanguage.php"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

is it right have a reference to Symfony\Component\ExpressionLanguage\ExpressionLanguage in symfony/security/Core/Authorization/ExpressionLanguage.php that is a dev-dependency ? Becuase with a composer.json like this:
[code]
I

[2018-01-10 11:31] xabbuh commented on #25695
@ajtis that's done now

[2018-01-10 11:40] ajtis commented on #25695
Thank You @xabbuh

[2018-01-10 12:04] oradwell opened #25743 "All requests hang with New Relic module as of v2.8.33"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.8.33

Using Symfony 2.8.33 with New Relic PHP module on PHP 5.5.9 causes all web requests to hang. 2.8.32 did not have any issues.

[2018-01-10 12:34] nicolas-grekas commented on #25718
That's a bug in the New Relic extension, isn't it? it changes the original behavior of the engine.
Is there a way to detect this? What's the returned value, instead of `null`?

[2018-01-10 12:34] nicolas-grekas commented on #25743
Same as #25718 isn't it?

[2018-01-10 12:36] dbu commented on #25743
most likely. for us it happened during deployment already, because there where some hidden errors (`@unlink()` calls) during a composer task.

[2018-01-10 12:42] dbu commented on #25718
it sounds like a dangerous feature in new relic. i guess they really don't want to be unhooked, so that they can always report bugs...

given how hacky the while loop is, i think it should have some sort of safety valve to realize such a thing - a specific check for newrelic would not work for other extensions that might do the same thing, and could break anytime if newrelic renames their callback

[2018-01-10 14:17] mjanser commented on #25718
I agree with @dbu, just for completeness: the exception handler of New Relic is a function named `newrelic_exception_handler`, so this string is returned by `set_exception_handler`.

[2018-01-10 14:29] anthonyrossetto commented on #25216
UP :)

[2018-01-10 14:36] xabbuh commented on #25742
Using the expression language in the Security component is totally optional. But we could indeed provide a meaningful exception when the class is used without the ExpressionLanguage component being present.

[2018-01-10 14:37] wodka opened #25746 "Route prefix is duplicating"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             |  no
| Symfony version  | 4.0.3

If loading multiple templates via glob with a prefix the prefix is beeing duplicated because RouteCollectionBuilder::build is called multiple times.

Example:

[code]
[code]

and then in the Kernel:
[code]

will create the r

[2018-01-10 14:39] sroze opened #25747 "[RFC] Create a dedicated WebProfiler tab for the Session"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1

There are a lot of issues related to the "Cache". The "cache" is not working... because the users are using a session, for whatever reason.

I suggest we do two things:
1. Move the "Session" in its own tab within the profiler,

[2018-01-10 14:43] javiereguiluz commented on #25747
About this:

We should change it to follow the common toolbar logic:

* If there is no session: don't show the panel
* If there's a session: show the panel (no green color because the session can't succeed/fail as doctrine, forms, etc.)

[2018-01-10 14:43] wodka commented on #25746
it's important to have multiple files matching for glob -> each new file will add another duplicate to the prefix

[2018-01-10 14:45] giovannialbero1992 commented on #25742
@xabbuh in api-platform/core the class `\ApiPlatform\Core\Security\ExpressionLanguage` use `Symfony\Component\Security\Core\Authorization\ExpressionLanguage`, can be useful move from require-dev to require the bundle "symfony/expression-language" (into api-platform/core composer.json) ?

[2018-01-10 14:48] xabbuh commented on #25742
@giovannialbero1992 That's something that you would need to propose in the API Platform repository.

[2018-01-10 14:56] yceruto commented on #25738
Could we deprecate the `false` default instead and change it to `true` later?

[2018-01-10 15:04] michellesanver commented on #25742
I'd love to get involved and this seems like a nice thing to do. Are you working on it, or can I start?

[2018-01-10 15:09] giovannialbero1992 commented on #25742
@michellesanver i'll open a PR in next hours.

[2018-01-10 15:09] sroze opened #25748 "[RFC] `server:run` starts Encore"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.1

The work that has been done on Encore is great, it's a smooth entry for developers not much familiar with webpack and all these things. But there is one thing they need to do: start it. On most of my `Encore`d projects, I've go

[2018-01-10 15:10] xabbuh commented on #25742
You can take a look at the [ControllerTrait](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/Controller/ControllerTrait.php) for some inspiration on how usually word such exceptions.

[2018-01-10 15:22] enumag commented on #25738
@yceruto You mean as first step deprecating `getErrors` call without parameter and later on allowing it again with opposite default value? Yeah I think that might be possible as well.

[2018-01-10 16:12] zmitic commented on #22161
@ScreamingDev Take a look at this bundle, works very similar to what you want with just one extra annotation:

https://github.com/zmitic/rewire-bundle

[2018-01-10 16:48] jvasseur commented on #25748
This means you wouldn't be able to start the server without encore. Maybe create another command "bin/console start" that starts everything needed in the project ?

[2018-01-10 16:55] yceruto commented on #25738
Yep, _exactly_, with `!func_get_args()` we can do the trick, if so, we should also suggest to pass `false` explicitly during this transition to avoid breaking things.

[2018-01-10 17:49] kbond opened #25754 "[WebServerBundle] Under certain conditions, APP_ENV is an empty string"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4+

Steps to reproduce:

1. `composer create-project symfony/skeleton my-project`
2. `cd my-project`
3. `composer require --dev profiler webserver`
4. `bin/console server:start`
5. Navigate to http://127.0.0.1:8000/foo/bar
6. You

[2018-01-10 17:53] nicolas-grekas commented on #25754
or if (empty(...))
but where does the empty string come from?

[2018-01-10 17:56] nicolas-grekas commented on #25743
what does `var_dump(set_exception_handler('var_dump'))` display when new relic is enabled?

[2018-01-10 17:57] kbond commented on #25754
I think in that linked diff, setting `APP_ENV` to `false` - if I remove that line (and restart the webserver) it works as expected.

[2018-01-10 17:59] fabpot commented on #25754
Setting `APP_ENV` to `false` is wrong. We should fix that line.

[2018-01-10 18:04] nicolas-grekas commented on #25743
Can you please confirm that #25755 fixes the issue?

[2018-01-10 18:05] kbond commented on #25754
If you inspect the `$_SERVER` variable at the top of the front controller without the `public/foo` dir it doesn't contain any `APP_*` keys but with the `public/foo` dir, it shows all the `APP_*` keys (but with with `APP_ENV => ""`)

[2018-01-10 18:07] oradwell commented on #25743
@nicolas-grekas
[code]
I'll test and come back to you

[2018-01-10 18:11] iltar commented on #22161
@zmitic interestingly enough, your objects when creating routes does almost the same as my bundle. Seems like it could be enhanced using my bundle for that part

[2018-01-10 18:13] oradwell commented on #25743
@nicolas-grekas yes, it works!

[2018-01-10 18:52] timwhitlock opened #25758 "[Translation] Add name attribute to XLIFF 2.0"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

For XLIFF 1.2 the `XliffFileDumper` correctly adds translation keys into the `resname` attribute, but  does not populate the equivalent `name` attribute for XLIFF 2.0.

Although optional, the [specification](http://docs.oasis

[2018-01-10 18:54] giovannialbero1992 commented on #25742
@xabbuh is not the same thing. Because here the error is raise by the class implementation, there is an `extends` of a not existing class. I think on a possible solution.

[2018-01-10 19:00] xabbuh commented on #25742
Sorry, I missed that. In fact, then there isn't anything we can do about that in the Symfony code itself.

[2018-01-10 19:31] nicolas-grekas commented on #25742
What about wrapping the class in an "if"?

[2018-01-10 19:36] giovannialbero1992 commented on #25742
I’ve supposed a possible solutions with a “if” that wrap entire class but I
thought that is a dirty solution.

Il giorno mer 10 gen 2018 alle 20:31 Nicolas Grekas <
notifications@github.com> ha scritto:

--
*Giovanni Albero*
+393661860916
giovannialbero.solinf@gmail.com
full-stack developer
Skype: giovanni.albero
Linkedin: https://it.linkedin.com/pub/giovanni-albero/64/465/bba
Twitter: @albero92

[2018-01-10 21:15] jakzal opened #25760 "[DependencyInjection] ArrayNodeDefinition::canBeEnabled() doesn't make the configuration disabled by default"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 2.7

Consider the following configuration:

[code]

**Expected behaviour**

If the section wasn't provided in configuration, it will be disabled.

**Actual Behaviour**

The section is enabled unless it was explicitly disabled.

**Su

[2018-01-10 21:17] maroecheverria commented on #20922
In my case, it just was beacuase by muy fault I was using the QueryManager instead of EntityManager.

[2018-01-10 22:22] apetitpa commented on #25748
Or maybe not starting Encore by default but only when using `bin/console server:start --with-encore` ?

[2018-01-10 22:28] emodric commented on #25736
@nicolas-grekas I still don't understand the rasoning behind this. Why force those headers in the first place? In eZ Platform, it's possible (and on Symfony 2.8 behaves that way) to have a single HTTP cache for two different users, since eZ Platform varies the cache not by cookie, but by user policies, by using `X-User-Hash` header from FOS HTTP Cache bundle and varying on it instead on cookie. So

[2018-01-10 22:36] jvasseur commented on #25748
The advantage of a separate command is that it could be implemented as an extension point where bundles (or your project with a config option) could add commands to run.

Some example use cases:
 - Start a background worker
 - Use PHP-PM instead of the WebServerBundle
 - Use another frontend build tool

It also have the advantage to work if you use encore but not the WebserverBundle.

[2018-01-10 22:52] jvasseur commented on #25742
Maybe we could do `if (!\class_exists(BaseExpressionLanguage::class)) throw new \LoginException('Install symfony/expression-language');` before declaring the class, it's cleaner than wrapping the whole class (the class is not indented) and we can give a meaningful message if someone try to require the class.

[2018-01-10 23:35] curry684 commented on #25748
Which I definitely don't want in my current project, I use `yarn encore dev-server --port 8080`. Some people use dev, others use dev-server. Those often want to specify the port. Which may vary depending on the number of projects you have open, and therefore sometimes during the day.

If I were using Phoenix in this case it would be making an opinionated choice for me I don't want. Symfony's core

[2018-01-11 07:44] xabbuh commented on #25343
see #25762

[2018-01-11 09:05] tristanbes commented on #25645
Do I need to provide more context/information on this @xabbuh or is it ready to be reviewed ?

[2018-01-11 10:08] coudenysj commented on #25654
This is exactly where the problem lies. If you have long running processes, you will hit this error.

The processes have a path to the old container in memory, which doesn't exist anymore after a cache rebuild.

I try to solve it by stopping the long running processes (Symfony commands) before I rebuild the cache, and start them again afterwards.

This still sometimes gives me an error when someon

[2018-01-11 10:10] sroze commented on #25748
If the users need to write a bash script or a Makefile for the very basics of writing an application, there is something wrong here IMHO. That was Assetic's power, not to have to run any watcher or anything.

My point is that a lot of "backend developers" are not used to these things such as grunt, gulp or webpack. In fact, maybe they should not even have to know the details and run a separate com

[2018-01-11 10:15] javiereguiluz commented on #25748
Let's not exaggerate about this:

You don't need to write anything to work with Symfony ... but if your application has many "moving parts" that must be started before you can work on your app ... then you can put those commands in a bash script and just run `./start` everyday before starting on your app.

Moreover, most people don't work alone on projects, so there's probably a script like that a

[2018-01-11 10:18] nicolas-grekas commented on #25654
There is no fix to this on Symfony's side: if the underlying code changes, you must restart your long running processes, no way around.

[2018-01-11 10:20] sroze commented on #25748
Yeah, it was a bit strong on purpose, I have to admit 😄I got your PoV though. I still believe we can improve this because as you say, teams or individuals usually have to create a script for such things.

[2018-01-11 10:20] nicolas-grekas commented on #25654
(it could happen with any class really)
The good news is that the name of the cache folder should be immutable for the same configuration now, so that clearing the cache while not actually changing anything should not break your long running processes.
If the name is not stable, look at non-core bundles.

[2018-01-11 10:21] fancyweb commented on #25654
The processes are restarted (stopped before cache:clear and then started again). Also why the error doesn't appear when the script is directly executed ?

[2018-01-11 10:24] dunglas commented on #25729
Hi,

2. should definitely be fixed. We should store the path in the context in case of recursive normalization.
1. is ok as is IMO, `violations` is a proprietary (and optional) property added by API Platform. It's not part of the spec (but the spec allows extra custom attributes, so it's ok). Returning violations would be ok if we return a list of errors. This is currently not the case because we

[2018-01-11 10:28] coudenysj commented on #25654
Just as a clarification for users having the same issue:

The problem lies in the fact that Symfony changes the class name of the generated container (and thus changes the filename).

When you have long running scripts, they have the old container file open (in memory), but it does not exist anymore. You could check this with `lsof -p PID`.

The process keeps running, until you ask it to do someth

[2018-01-11 10:28] #25654 closed

[2018-01-11 10:34] nicolas-grekas commented on #25654
Actually, it was not loaded again: the old file was still loaded and used for the whole life of the process.
Thus, it contained potentially obsolete service factories, potentially leading to other kind of bugs on for these processes (less visible ones.)

[2018-01-11 10:41] GuigZ- opened #25766 "Process are differents, before and after cache ?"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

Hi,

(Sorry for my bad english, i hope that you understand my issue 😄 )

I use doctrine on my project to set a dispatcher with different key. To apply this, i use a wrapperClass in doctrine.

So for my map, i need the request

[2018-01-11 11:10] nicolas-grekas commented on #25654
@fancyweb btw you snippet is strange: `cache:clear` should have `--no-warmup` if you warmup just after (but note that it's also fine since 3.3/3.4 to just `cache:clear` and let it are about warmups.
The second thing that is strange is running migrations before clearing the cache.

[2018-01-11 12:26] xabbuh commented on #25766
Are you accessing the request stack in the constructor of your service?

[2018-01-11 12:36] curry684 commented on #25748
Given that webserver has its own bundle nowadays and its own Flex recipe it's actually trivial to give it its own best-practice configuration for dev environments:
[code]
I'm open to that as long as I can disable it once forever, and the config is only considered if Encore is actually installed.

[2018-01-11 14:19] Soullivaneuh opened #25768 "Add a ProcessSignaledException"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | v3.4.3

As for `ProcessTimedOutException`, it would be great to have an exception when a signal has been sent to the sub-process.

Basically, on this line: https://github.com/symfony/symfony/blob/1df45e43563a37633b50d4a36478090361a0

[2018-01-11 14:58] GuigZ- commented on #25766
At the first process, RequestStack is empty... but when the cash was built yes ...

[2018-01-11 15:04] fancyweb opened #25769 "Custom exception handler in command"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4

Hello, first of all excuse me if this is not a BC break or if my code is really bad but the exception / error handling is something I don't master at all.

So in one of my project command, I did this :
[code]
 to execute someth

[2018-01-11 15:08] JoydS commented on #25695
I still have the error.
I see a call in https://github.com/symfony/framework-bundle/blob/3.4/DependencyInjection/FrameworkExtension.php#L1632

[2018-01-11 15:42] paq85 opened #25770 "[Security] AuthenticationException not implementing ExceptionInterface"
Is there any reason why `\Symfony\Component\Security\Core\Exception\AuthenticationException` does not implement `\Symfony\Component\Security\Core\Exception\ExceptionInterface`?

I would like to be able to catch all kind of Security related exceptions simply by using
[code]
and I'm not able to catch for example `\Symfony\Component\Security\Core\Exception\BadCredentialsException` using that `catch`

[2018-01-11 15:46] xabbuh commented on #25766
This doesn't answer the question whether you are trying to access the request stack in the constructor of your service.

[2018-01-11 15:56] nicolas-grekas commented on #25769
Can you check if #25753 changes that?

[2018-01-11 16:10] ajtis commented on #25695
@JoydS it is not related to part of code You have pointed.

Those changes fixes bug.
https://github.com/symfony/symfony/commit/f66f9a7b377d8eca20b2ba63e42446df10174877

[2018-01-11 16:15] fancyweb commented on #25769
No it doesn't fix it.

If it can help, this is the output I get for :
[code]

![exc](https://user-images.githubusercontent.com/3658119/34834644-d3b58f82-f6f2-11e7-94b8-e181c83ca25d.png)

The first run is 3.4, the second 3.3.

[2018-01-11 16:22] liverbool commented on #14716
@edmondscommerce `$option->isValueRequired()` can't represent the required options it just require option's value.

It should be like this:
[code]

[2018-01-11 17:22] GuigZ- commented on #25766
Oh sorry,

yes i try to access in my constructor.

[2018-01-11 17:28] xabbuh commented on #25766
Then the solution is not to do that. With dependency injection, you don't have much control on when your service is created. So other parts of the application may not yet be in the state that you expect. Just store the request stack in a property and access it when you actually need it.

I am going to close here as there is no bug.

[2018-01-11 17:29] sroze commented on #25770
Oups, that's a good point. I think this should be fixed as it's this way for the other components.

[2018-01-11 17:31] sroze commented on #25770
See #25772

[2018-01-11 17:44] GuigZ- commented on #25766
Why ... sf has not a same process ...

`class Dispatcher
{
    /**
     * @var Request
     */
    private $request;
    /**
     * @var array
     */
    private $apiKeys;

    /**
     * @param RequestStack $request
     */
    public function __construct(RequestStack $request, array $apiKeys)
    {
        $this->request = $request;
        $this->apiKeys = $apiKeys;
    }
}
`

I store request

[2018-01-11 18:03] xabbuh commented on #25766
In this case, we will need some example application that allows to reproduce your issue.

[2018-01-12 00:58] kejwmen commented on #25727
Maybe we can just call 4.0 docs `3.4 with flex/4.0`?
Alternatively, could 3.4 docs point out that 3.4 is actually 4.0 without deprecated features, so people installing 3.4 with flex (preferred way) can safely use 4.0 docs?

[2018-01-12 01:29] murilolobato commented on #25727
For now, what should we do as a work around? Install 3.4 LTS and look at the 4.0 docs?

[2018-01-12 06:25] prasanth1522 commented on #23428
but i got this [OK] No assets were provided by any bundle.
instead of this
[OK] All assets were successfully installed.

please help me with this.... i got stuck here for 2 days...

[2018-01-12 08:37] tkolodziej commented on #24772
This fix has very bad style. If I set CSP Header on some resource that mean I want to have it, even if error occure. There should not be any headers removal in such a way. By removing CSP header you've created vulnerability on the sites thats need it.

[2018-01-12 08:53] lyrixx commented on #25768
Hello @Soullivaneuh
This is a good idea.
Do you want to submit the PR?

[2018-01-12 09:12] unkind commented on #25770
@paq85 I'm curious, what's the use case?

[2018-01-12 09:29] GuigZ- commented on #25766
[code]

[2018-01-12 09:39] emodus commented on #25736
Yes, on SF 3.4.3 varnish skipping cache.

[2018-01-12 09:47] sroze commented on #25746
So you have the duplication when calling `build`, correct?

[2018-01-12 09:50] blackarcanis commented on #25695
@ajtis I still have the error too, this fix change nothing to me :/

[2018-01-12 09:58] Soullivaneuh commented on #25768
Hey @lyrixx sure, I'll do it ASAP! :+1:

[2018-01-12 10:02] nicolas-grekas commented on #25736
@emodric that's very likely, yet Symfony doesn't know about this logic in eZ. Not sending this header was a bug, on which eZ relied apparently. This should be fixed on eZ side.

[2018-01-12 10:08] dkarlovi commented on #25729
@dunglas I'm not talking about adding `violations` specifically, but instead of having an opportunity to.

With this feature, it would at least give the developer a chance to do it, also fixing https://github.com/api-platform/core/issues/1637 (as mentioned before). Without it, the error message is for human consumption only (which is weird since this is in serializer context).

Of course, this sho

[2018-01-12 10:13] emodric commented on #25736
Agreed, but nevertheless, it breaks the way eZ worked for years.

Forcing these headers should at least be configurable.

[2018-01-12 10:14] nicolas-grekas commented on #25736
Symfony should respect HTTP semantic by default, this is not an option IMHO.

[2018-01-12 10:19] GuigZ- commented on #25766
So, i fix my bug with multiple manager for one connection ... but multiple db.

Sorry for my issue.

[2018-01-12 10:25] emodric commented on #25736
I'd rather say Symfony should first respect what user/developer intended to do with the Response object in his controller. Symfony overriding something user might've explicitly set in his controller is not a good thing IMO, without being able to disable it.

Is there a standard or RFC specifying that these headers must be set if session cookie is present?

[2018-01-12 10:27] nicolas-grekas commented on #25736
It's "if session cookie is present", it's "if the session is read". See HTTP RFC.

@emodric you should open an issue on eZ really. The behavior here is correct.

[2018-01-12 10:33] stedekay commented on #25518
Also getting the same deprecation message and like @urg it will go away after commenting out line 1121 of the FrameworkExtension.

@iquito: Did you cleared your cache after commenting out that line? Because without clearing the cache the message still appeared for me.

[2018-01-12 10:52] andrerom commented on #25736
@nicolas-grekas Noot looking in depth on this, but when was it introduced?
From the sound of it be aware this breaks FOSHttpCache _(which is what we are using/extending)_.

[2018-01-12 10:59] andrerom commented on #25736
That said, I agree on the RFC, however to really follow it we all need to look at this from a system perspective.

Where we want this behaviour is from the reverse proxy and out.
Not from app breaking reverse proxy behaviour on current applications and installs out there. In today's world we _(frankly anyone using Varnish and touching it's VCL really)_ have custom logic in between app and reverse

[2018-01-12 11:27] Nyholm opened #25774 "Stuck in a loop"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | v4.0.3

I got a use case where Im stuck in this loop:

https://github.com/symfony/symfony/blob/v4.0.3/src/Symfony/Component/Debug/ErrorHandler.php#L567-L576

[code]

For each iteration I the `$handlers` array get one more item in th

[2018-01-12 11:27] nicolas-grekas commented on #25774
Votes pending on #25755 :)

[2018-01-12 11:27] #25774 closed

[2018-01-12 11:28] Nyholm commented on #25774
Wow, you are quick... It took me a week to find this issue.

[2018-01-12 11:37] Simperfit commented on #25760
Do you want to submit a PR to fix this behaviour ?

[2018-01-12 11:42] #25766 closed

[2018-01-12 11:43] wodka commented on #25746
I'm not calling build myself - figured out that by manually calling build I can further duplicate the prefix

[2018-01-12 11:46] Simperfit commented on #25703
What do you want to say on the properties ? most of them seems self-explanatory to me, and looking a the code, you can understand what it does. Where were you lost ?

I kind of agree if you think it needs to be updated then I guess It can for the DX.

[2018-01-12 11:47] jakzal commented on #25760
@Simperfit I haven't got the time to find the root cause of the problem yet. Feel free to pick it up if you're available :)

[2018-01-12 11:51] Simperfit commented on #25754
@kbond Do you want to provide a PR to fix this behaviour ?

[2018-01-12 12:10] Simperfit commented on #25569
@emodus could you either try to use 3.4@dev or create a reproducer ?

[2018-01-12 12:13] AlexandreKilian opened #25776 "security json_login doesn't allow login_path"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Symfony version  | 3.4

Over a year ago, a new json_login firewall option was introduced (see [here](https://symfony.com/blog/new-in-symfony-3-3-json-authentication)). Unfortunately, this does not allow the parameter login_path in order to redirect users to login if they acc

[2018-01-12 12:22] Simperfit commented on #25747
I agree with this feature, it will be better for developers. 👍

[2018-01-12 12:25] Simperfit commented on #25722
@Alsatian67 Do you want to provide the PR ?

I guess we can remove these two headers safely.

[2018-01-12 12:40] nicolas-grekas commented on #25722
What about https://www.google.fr/search?q=X-Accel-Mapping?

[2018-01-12 12:51] kbond commented on #25754
What should the fix be? I'm also not sure why the existence of the subfolder causes the issue.

[2018-01-12 13:22] ostrolucky commented on #24772
Please describe such potential vulnerability in more detail. I don't see why would there be a need for CSP header on Exception pages.

[2018-01-12 13:31] ssaki opened #25778 "[DoctrineBundle] [Profiler] Explain query is broken"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

Hitting the "Explain query" link in the Doctrine's profiler screen reports "An error occurred while loading the query explanation." with request to profiler controller reporting 500 status.

It's caused by `vendor/doctrine/do

[2018-01-12 13:38] paq85 commented on #25770
@unkind I have a controller where I'm authenticating user.
That requires a couple of things. Among them I'm using `\Symfony\Component\Security\Core\Authentication\AuthenticationProviderManager` and I would like to know in case of a failure if that was the Security component that failed or was it for example an issue with the database or some other service.

[2018-01-12 13:39] Simperfit commented on #25613
@ebuildy Do you have time to work on this ?

[2018-01-12 13:53] #25778 closed

[2018-01-12 14:04] ssaki commented on #25778
As this is actually in the bundle and not in the bridge I've opened an issue in DoctrineBundle's repo.
Apologies for the extra noise

[2018-01-12 14:06] dbu commented on #25736
with FOSHttpCache, we explicitly set cache-control headers. unless you set a response to be cacheable, it will still be no-cache. is the current implementation in the response object preventing the application from explicitly setting cache-control headers or does it merely change defaults when there is a cookie?

[2018-01-12 14:08] nicolas-grekas commented on #25736
Here is the most recent fix on this, it should give you the answers: #25699

[2018-01-12 14:09] emodric commented on #25736
@dbu As far as I understand, this prevents and overrides headers set by the app in controllers, no questions asked (presuming session is present and started)

[2018-01-12 14:14] nicolas-grekas commented on #25736
That's correct, you need a listener registered after the SessionListener to override this behavior.
There is no way around internally, so you should do with.

[2018-01-12 14:15] achristodoulou opened #25779 "FormResponse with auto submission"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | `no`
| Symfony version  | x.y.z

I had the need inside a controller action to return a Response object that will automatically do form submission on client side, but I could not find something so I have created a class (called FormResponse, I got the idea

[2018-01-12 14:23] dbu commented on #25736
ugh. well i think it makes sense in all cases except when we do special things where it does make sense to maybe cache a response. its not "hardcoded" in the Response itself, we can still overwrite it. we could put the FOSHttpCacheBundle listener to `-1001` - but then if you just configure cache control rules that match on paths, but not use the user context system, we could re-introduce the cache

[2018-01-12 14:29] unkind commented on #25770
@paq85 you show user that it's his fault or something? Because this exception is from the Security component?

[2018-01-12 14:48] paq85 commented on #25770
@unkind it's usefull for me to handle the error the way I want (log properly, take some "rescue" action) and to decide what message should I show the client/user

[2018-01-12 16:12] acasademont commented on #25612
Yes please, full stack traces for this errors are unnecesary

[2018-01-12 19:25] iltar commented on #25779
I honestly fail to see the use of this, especially in the core framework. Why would you want to automatically submit a form? Forms are meant for user-interaction.

[2018-01-12 20:05] xabbuh commented on #25779
I agree with @iltar here. I don't see a use case for this.

[2018-01-12 22:59] Alsatian67 commented on #25722
@nicolas-grekas

I also searched on google and found that : https://github.com/symfony/symfony/issues/13502

-> Symfony API has been synchronised with ruby/rack.

So I think "X-Accel-Mapping" is a common framework trick to deal with nginx which want a url. The framework use it only to build an url from the real file path.

X-Accel headers are nginx specific, and the nginx doc, doesn't mention "X-A

[2018-01-13 00:41] curry684 commented on #14727
It's definitely Symfony's fault, but not in the Validator, nor in the specific class @xabbuh pointed at - it's in `DateTimeToLocalizedStringTransformer` instead, which far more naively, and wrongly, tries to convert dates. I have tested a fix which happily does persist the date in 20107, now working on a backport to 2.7 for PR.

[2018-01-13 01:14] curry684 commented on #14727
Scrap that, I had it working in a form, but the unit tests blow up all over the place because PHP's support for 5+ digit years is just too inconsistent amongst all functions to rely on:
[code]
I'll just make it throw instead, at least then it's consistent.

[2018-01-13 03:05] kejwmen commented on #25760
@jakzal could you provide us a reproducer?

I tried at d78a98d793c2846d6decbff652d63f981e4f32f4 with test cases like this:

[code]

[code]

And these work just fine.

Either I misunderstood your issue or it's not configuration component issue,but something higher.

[2018-01-13 04:13] jtleon opened #25782 "in addition to route `/`, i can't got `query` with any other router"
| Q                | A
| ---------------- | -----
| Bug report?      | uncertain
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.2

**In addition to route `/`, i can't got `query` as shown below:**

[code]
![no](https://user-images.githubusercontent.com/9757844/34902574-6b897e42-f859-11e7-8741-bab538c2aebd.jpeg)

[code]
![yes](https://user-images.gi

[2018-01-13 07:38] curry684 commented on #25782
What is in the controller code? Did you configure anything in security.yaml? Did you configure routes in routing.yaml?

[2018-01-13 08:59] jtleon commented on #25782
@curry684 without any configure, just `dump in controller`.

[code]

[2018-01-13 09:41] #25743 closed

[2018-01-13 10:47] jakzal commented on #25760
@kejwmen try the same in a full Flex project.

[2018-01-13 11:23] ostrolucky commented on #25703
I think you might be right. After getting some sleep and looking at it again I think it might be clear enough

[2018-01-13 11:23] #25703 closed

[2018-01-13 14:23] ostrolucky commented on #25747
Can you reference those issues which gave you incentive to create this RFC? I'm not aware of them and I am not sure from the description how would this proposal solve those.

For now I'm 👎 , I don't think there is enough useful information regarding sessions to create new profiler section. Even more against I am for creating new item in *toolbar*. That space is very constrained and this doesn't br

[2018-01-13 17:09] ostrolucky commented on #13676
This issue seems outdated, there have already been PRs which improve performance. ping @javiereguiluz

[2018-01-13 17:15] javiereguiluz commented on #13676
OK, let's close as "fixed" ... and we can create new issues for other specific issues about translator performance. Thanks!

[2018-01-13 17:15] #13676 closed

[2018-01-13 18:42] ScreamingDev commented on #25632
I expect an

@sroze or execution of this command when all arguments are given.
That's what `$app->setDefaultCommand('mite:pdf');` mediates to me.

[2018-01-13 19:14] ebuildy commented on #25613
Maybe tomorrow, I keep you posted here.

[2018-01-13 20:24] jvasseur commented on #25782
This looks like an URL rewriting problem, since the front controller is `index.php` going to `/` skips url rewriting.

[2018-01-13 21:26] alexpott opened #25786 "Can't parse YAML that the parser used to be able to parse"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | first occurred in 3.3

Symfony 3.2 is able to parse yaml that looks like this:
[code]

Symfony 3.3+ it results in `Uncaught Symfony\Component\Yaml\Exception\ParseException: Unable to parse at line 2 (near "{}")`

Using git bisect s

[2018-01-13 21:29] xabbuh commented on #25786
Which patch version of Symfony 3.3 did you use when the error occurred? Does it still exist in 3.3.15?

[2018-01-13 21:38] alexpott commented on #25786
@xabbuh it occurs on the 3.3 branch and 3.4 - so the development branches.

[2018-01-13 22:56] chalasr commented on #25632
I think what @sroze means is that the first passed argument would be considered as the command name, that would fail. Still have to dig into it but I think he is right, meaning that arguments just don't work for a default command. I'll have a look asap if nobody does.

[2018-01-14 07:02] alexpott commented on #25786
Over in https://github.com/symfony/symfony/pull/25787 I managed to show that the following YAML also works on 3.2 but fails on 3.3 and 3.4:
[code]

[2018-01-14 08:11] rakeev commented on #25754
Another case:
@Route("/{path}")

GET http://127.0.0.1:8000/foo
env=dev

GET http://127.0.0.1:8000/foo.json (dot present)
env= (empty)

[2018-01-14 11:26] dkozickis commented on #25779
There's actually a use case for this - lot of banks (at least in Baltics) require POST data during purchase process. Depending on how the project is structured and how the payment process is flowing - developers will sometimes end up returning blank page with hidden form and auto submitting it.

Then again - this shouldn't be part of the framework.

[2018-01-14 15:40] dmaicher commented on #25782
@jtleon can you add this into your controller for both cases and post the output here?

[code]

[2018-01-14 16:52] Soullivaneuh opened #25788 "Missing final keywords on Process class for v4"
| Q                | A
| ---------------- | -----
| Bug report?      | yes (kindof)
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

The following methods should be final since v4.0:

- `run`:
https://github.com/symfony/symfony/blob/ddb602b36b14a1ec7d31329c9a4cdc4db3aba64c/src/Symfony/Component/Process/Process.php#L195-L197
- `mustRun`:
https://gi

[2018-01-14 17:14] chalasr commented on #25788
The final annotation means that we won't ensure BC for inheritance use cases starting from the major version which comes next to the minor version where the annotation has been added on the method/class. Most of the time we won't make it truly final, but you're on your own if you keep extending it, and you get a deprecation notice until you stop.

[2018-01-14 17:17] Soullivaneuh commented on #25788
So my second question is coming: why? :smiley:

[2018-01-14 17:20] jvasseur commented on #25788
@Soullivaneuh not making them truly final allow creating proxies or mocking the class if needed.

[2018-01-14 17:21] chalasr commented on #25788
Because we consider that final is a very strong statement which shouldn't be used unless using the element a is dangerous for end users, especially because symfony is a framework. People are advertised and can still do what they want.

[2018-01-14 18:08] Soullivaneuh commented on #25788
That's the issue to me. If library maintainers keep the override anyway, we have no way to remove the deprecation warning.

The @jvasseur argument make more senses to me BTW.

[2018-01-14 18:09] greg0ire commented on #25788
advertised is what you'd call a *faux ami* :P

[2018-01-14 22:18] chalasr commented on #25788
I don't get your point. Library maintainers should stop extending them as soon as they get the corresponding deprecation notices, a notice is just smoother than a fatal error. Even if they are not truly final on the next major, inheritance can break at any time starting from it (e.g. argument type change in method signature), hence you are on your own if you keep extending them. Not making them tr

[2018-01-14 22:19] ostrolucky commented on #25788
Symfony, thank you for being sensible and not marking (most) classes truly final. Not offering BC compatibility and discouraging inheritance of a class, but still have a way to override behaviour if userspace REALLY want to do is most sensible approach. I don't see any advantages from making it truly final.

This doesn't make sense, what deprecation warning? @chalasr probably meant warning in form

[2018-01-15 03:34] jtleon commented on #25782
@dmaicher have the same affect.

![_20180115113423](https://user-images.githubusercontent.com/9757844/34926064-18301252-f9e8-11e7-9394-824da9cbbb83.png)

[2018-01-15 05:53] antonmedv commented on #25643
Also I think this is bad to be default:
[code]

We should avoid this and only check existence of dotenv package.

[code]

[2018-01-15 07:14] xabbuh commented on #25782
@jtleon Can you create a small example project that allows to reproduce your issue?

[2018-01-15 07:20] xabbuh commented on #25779
I am closing here for the reasons given. But thanks anyway for suggesting the feature @achristodoulou.

[2018-01-15 07:20] #25779 closed

[2018-01-15 08:14] dmaicher commented on #25782
@jtleon sorry I meant dumping `$_SERVER['QUERY_STRING']` :yum:

I also suspect that this is a webserver rewriting issue as you can see that even `$_GET` is empty.

[2018-01-15 09:27] Garnethouse commented on #25548
Working but new problem. Cache hit only for one page load.

i.e this code working in method which is called 30 times. first time isHit() = false, rest 29 times is true. If page reload the situation repeats itself.

so the cache is not stored in memory for long

help please, @nicolas-grekas @dmaicher

[2018-01-15 09:47] curry684 opened #25790 "[RFC] [Form] [Validator] Support 5+ digit years"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | all

As discussed in #25781 Symfony's Form and Validator components are pretty much hardcoded all over to support only 4 digit years. This made sense when they were written as PHP had no support whatsoever for large dates, and righ

[2018-01-15 09:53] sroze commented on #25746
I can reproduce the bug you've mentioned.

Status: Reviewed

[2018-01-15 10:07] achristodoulou commented on #25779
Hi, the use case is as dkozickis described it but its ok no problem it was just a suggestion.

[2018-01-15 10:12] ostrolucky commented on #25790
DateValidator has hardcoded support for dates with 4 digit year if input is string, I'll give you that. Changing that is just a matter of two keystrokes in regex pattern. But transfomers aren't hardcoded. If they don't support > 4 digits, that's done implicitly, because 'Y-m-d' in DateTime constructor doesn't preserve 5 digits. They work when you pass a timestamp.

PHP 7 has nothing to do with it.

[2018-01-15 10:38] sroze commented on #25746
@wodka I've managed to fix it on my side with this: #25791. Can you confirm the following fix works for you as well?

[2018-01-15 10:47] sroze commented on #25444
This has been fixed by #25185, right?

[2018-01-15 10:49] sroze commented on #25206
@qzminski it looks like this issue is pretty old and you did not came back on it... As this been fixed by #20621?

[2018-01-15 11:12] curry684 commented on #25790
There are far more places where we just do `new \DateTime($string)` or use `strtotime`. Both cause corruption or exceptions.
[code]

[Tell W3C that](https://www.w3.org/TR/NOTE-datetime):

Indeed, just tested a bunch of conversions, and every one I tried either completely functioned in all supported versions, or broke down identically. The breaking down part is worrying though  😉

It is actually th

[2018-01-15 11:36] tkolodziej commented on #24772
In my case I have to be compatible with some security standards, which force me to set up CSP headers on all html resources in my site. But I can imagine error pages (cause exception page is in fact error page) with content which can be used to attack like list of contacts on facebook error page e.g. https://www.facebook.com/dfasfsafdfsa

Of cource you have to break another protections to insert m

[2018-01-15 11:38] vulkodava opened #25792 "Question about Norsk language support"
Hello, this is not a bug just a question.

Can I ask why from 2.2 to 2.8 versions, and beyond, language support for Norsk changes from NO to NB and back to NO (the two variations)? And is it possible to actually have support for the both?

Thank you in advance for your time :)

[2018-01-15 11:55] antondachauer opened #25793 "Symfony 2.3: The “actions” extension is not enabled"
I am currently updating a Symfony 2.1 project to Symfony 2.3 (and later to 3.4).

I just got the error message The "actions" extension is not enabled.. Can someone tell me where I can find the fault? Google could not help me unfortunately....

thanks Anton

[2018-01-15 12:00] ostrolucky commented on #25790
Yes, that's why I said transformers are broken implicitly. Not by intent. Only DateValidator requires mask to have 4 digits.

Where does it say it cannot have more than 4 digits? The citation you linked deals with Year 2000 problem, not year 10000.

https://en.wikipedia.org/wiki/ISO_8601#Years

[2018-01-15 12:01] kejwmen commented on #25760
@jakzal reproduced, thanks ;)

[2018-01-15 12:10] #25444 closed

[2018-01-15 12:14] xabbuh commented on #25792
Can you explain which component's translations your are talking about?

[2018-01-15 12:14] xabbuh commented on #25793
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2018-01-15 12:14] #25793 closed

[2018-01-15 12:17] vulkodava commented on #25792
Yes, I am sorry :) Basically, this question includes all the translatable components of Symfony, but the particular issue I've stumbled on was with validator's messages in the Form component.

[2018-01-15 12:23] curry684 commented on #25790
Mostly implicitly indeed. This RFC is the "should we bother" question to write a ton of breaking tests and fix the underlying code. Just adding a date in 20107 to the [test sets](https://github.com/symfony/symfony/blob/6781e53f86997634566c0f9cdef597ab1795d231/src/Symfony/Component/Form/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php#L53-L82) breaks 10+ tests, I tr

[2018-01-15 12:29] Garnethouse commented on #25548
this was my mistake,
Thank you very much for your help

[2018-01-15 12:36] qzminski commented on #25206
The fix you are referring to removes the request attributes from the request trace and actually breaks the correct behaviour. It causes the web profiler to output the incorrect route matching logs because the trace lacks the route query attributes. I understand that some request attributes (like mentioned closure) could cause problems but the query should be safe to store.

[2018-01-15 13:18] JoydS commented on #25695
From my point, the problem come from the declaration of this service : cache.adapter.system
During the initialisation of this service, arguments are :
  #arguments: array:5 [
    0 => "DRuFIO3LLC"
    1 => 0
    2 => Symfony\Component\DependencyInjection\Parameter {#2606
      -id: "container.build_id"
    }
    3 => ".../meero/app/cache/dev/pools"
    4 => Symfony\Component\DependencyInjection\Re

[2018-01-15 13:19] derrabus commented on #25792
Since Symfony does not offer two Norwegian translations (which would be NB and NN, if Wikipedia did not lie to me), using the more generic NO seems like the correct choice to me.

So, your suggestion would be creating a NB language file with an exact copy of the NO file? What problem would that solve?

[2018-01-15 13:23] vulkodava commented on #25792
Hello, well, my question was if Symfony could support both Norwegian locales, but if not, of course, we could extend them in our app :) But since it was core Symfony functionality I thought it might have been a good idea to not override and mask it. :) And it was just a question :)

[2018-01-15 13:50] rmdefi opened #25796 "AnnotationFileLoader fail with anonymous class inside a trait"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

The class Symfony\Component\Routing\Loader\AnnotationFileLoader does not properly parse a file containing a trait which define an anonymous class.

Here is a minimal example that trigger the bug:

[code]

If I put that in a t

[2018-01-15 13:59] derrabus commented on #25792
My previous statement was wrong, Symfony actually offers two Norwegian language files: NO and NN. Sorry, I shot too early.

And I was only asking questions as well. I was just trying to find out what you want to change and how that would help you. I don't know enough about Norwegian to form an opinion so I'm asking questions to understand your motivation. I'm just curious, that's all. 😃

The chang

[2018-01-15 14:12] vulkodava commented on #25792
Thank you :) Haha, it is awesome to be curious :D I am as well :) Didn't mean to sound harsh, sorry about that :).
But, yes I do need both language variations. The interesting thing is that I cannot find the validatiors.nn.xlf file in both 2.8 and 3.4 versions, just the one validators.no.xlf. So for those two versions we will just add the needed file in our codebase, not in the lib :)

Thank you a

[2018-01-15 14:16] sroze commented on #25796
I can't reproduce the issue you describe but do reproduce the following (expected) exception:

 

[2018-01-15 14:18] vulkodava commented on #25792
Hmm, but `nn` actually works :) Will have to investigate this a bit more :) Thanks again

[2018-01-15 14:22] vulkodava commented on #25792
Well, this was all misleading. I wrote Form component, but the problem lies also in the Validator component as well. Which looks a bit weird to me, though is that Validator component has both `no` and `nn` files and Form component has only `no` file.

[2018-01-15 14:25] vrGn opened #25797 "Session lost all values after form->isSubmitted"
| Symfony version  | 3.4.2

I have an issue, may be i didn't understand some thing. But any way, here is the thing:
I have a registration form where i want to put some values which i have stored in session, and all will be good if after check `if ( $form->isSubmitted() ) {` all values are `null`

[2018-01-15 14:26] curry684 commented on #25797
Please provide more relevant code on how your controller is implemented.

[2018-01-15 14:31] rmdefi commented on #25796
Which version of symfony did you try it with?

I don't understand how you end up with that result, but this is still wrong, because TestTrait is a trait, not a class, so `findClass()` should not return it.

[2018-01-15 14:31] vrGn commented on #25797
`<?php

namespace AppBundle\Controller;

use AppBundle\Entity\RegistrationForm;

use AppBundle\Form\RegistrationFormType;

use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Symfony\Component\HttpFoundation\Request;

class PageController extends Controller
{
    use FormTrait;
    use CommonTrait;

    public function indexAction(Request $request)
    {
        return $this->render('App

[2018-01-15 14:32] xabbuh commented on #25792
So duplicating the NO file in the Form component for NN would be a solution?

[2018-01-15 14:32] rmdefi commented on #25796
Also, I am testing this with PHP 7.0.27

[2018-01-15 14:52] nicolas-grekas commented on #25695
to anyone still having this issue, please provide a stack trace of the error (similar as above)

[2018-01-15 14:54] JoydS commented on #25695
In ParameterBag.php line 102:

  [Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException]
  You have requested a non-existent parameter "container.build_id".

Exception trace:
 Symfony\Component\DependencyInjection\ParameterBag\ParameterBag->get() at /vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/ParameterBag/EnvPlaceholderParameterBag.php:57
 Symfony\Compone

[2018-01-15 14:57] nicolas-grekas commented on #25695
@JoydS thanks. This issue with `JMS\AopBundle` should have been fixed by #25696. Please provide a reproducer if not for you.

[2018-01-15 15:00] stof commented on #25695
@nicolas-grekas but this fix is not released yet, so it requires running the dev version of Symfony to test it (which most people don't do).

[2018-01-15 15:01] SamMousa opened #25798 "[filesystem] copy_on_windows option for mirror() is misleading"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | ^4.0

The option `copy_on_windows` suggests the option is either Windows only or behaves differently for Windows.
As far as I can tell all the option does is enable symlink traversal. Symlink traversal can make sense on other OSes a

[2018-01-15 15:11] vulkodava commented on #25792
Well, as I am not Norwegian I also cannot say if in this particular case this would be enough, since the two variations NO and NN do have a lot of differences but I am not sure about the strings in Symfony's components. I will fix our cases by coping all the Symfony's components' translations and extend them in our code base and will give them to our Norwegian colleagues to do the actual translati

[2018-01-15 15:21] xabbuh commented on #25792
Maybe @valisj as the creator of #17785 can help us here.

[2018-01-15 15:21] xabbuh commented on #25792
@andrerom maybe has some good input for us too :)

[2018-01-15 16:26] valisj commented on #25792
Hi @vulkodava! To answer the first question -- I can't really comment on what happened with the Norwegian translations before my PR (#17785), but as far as I can see from what I did 2 years ago, this is what happened:
- I renamed the `src/Symfony/Component/Validator/Resources/translations/validators.no.xlf` to `src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf`, because the

[2018-01-15 16:52] funcphp commented on #25534
Thakns! @ad3n
Also why we use space instead of dots in Symfony 4?

[2018-01-15 17:04] xabbuh commented on #25534
that's how one should use tags in regard to the specification

[2018-01-15 18:20] joshlopes opened #25800 "Usort and PHP5.* exception "array was modified by the user comparison function""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | no
| Symfony version  | 3.4.3

I'm getting this issues every time one E_DEPRECATED notice comes from the usort. This seems to be a bug known to php https://bugs.php.net/bug.php?id=50688 and has been fixed for 7.* but it happens across all 5.*. It only hap

[2018-01-15 19:03] pierredup commented on #25796
I can reproduce this issue and created a test project at https://github.com/pierredup/sf-25796 (Exception message is `Class AppBundle\Controller\f does not exist in /Users/pierre/projects/test/router-test/src/AppBundle/Controller/`)

[2018-01-15 21:32] dspiegel commented on #25695
@stof @nicolas-grekas  So this last symfony/symfony change has broke symfony/symfony 3.4 LTS. Problem did not exist in sysmfony/symfony 3.3 (minor release). I did no other changes to my composer file other than symfony/symfony 3.3 to symfony/symfony 3.4. That is a [BC] break for a minor version. You suggest to run dev version for a LTS release seems very odd!! I had to role back to Symfony 3.3. Wh

[2018-01-16 02:00] jtleon commented on #25782
@dmaicher i think so, and dump `$_SERVER['QUERY_STRING']` got `""`

[2018-01-16 02:25] loxK opened #25802 "Process doesn't process command as expecting"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4.3

The error returned contains everything:

[code]

When running the exact same command (copy/paste) from command line or from php using the `exec()` command, it returns:
[code]

Code:

[code]

[2018-01-16 05:21] natepage opened #25803 "[PropertyInfo] Extractors `getProperties()` always returns array even if nothing found"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

Currently implementing an API using [Api Platform](https://api-platform.com/docs/core) component, I'm having an issue during the "denormalization" process. The ApiPlatform component uses [Serializer](https://symfony.com/doc/c

[2018-01-16 05:25] hellostudios commented on #25695
@nicolas-grekas Still getting this same issue today on a fresh install of both symfony v3.4.3. Has this fix been realised to production or just dev version?

[2018-01-16 05:58] nicolas-grekas commented on #25695
The fix will be part of the next release, by the end of the month.

[2018-01-16 07:09] #25746 closed

[2018-01-16 07:12] #25612 closed

[2018-01-16 07:24] andrerom commented on #25792
On first look the changes seems fine, at least I can see we have been mapping `nor_NO, aka Norwegian (Bokmål)`, the main one, to `no` for [5 years already](https://github.com/ezsystems/ezpublish-kernel/blame/7584fd58f1246e469566cc32d1dc2449f10ca348/eZ/Bundle/EzPublishCoreBundle/Resources/config/locale.yml#L33-L34).

However searching around to double check locales it seems this is not that clear,

[2018-01-16 07:55] dmaicher commented on #25782
ok @jtleon so this is not a symfony issue and can be closed, right?

[2018-01-16 08:23] javiereguiluz commented on #25800
I'm missing some information in the issue description: where have you put the failing `usort()` code? What do you disable to make the app work: the entire debug bundle? thanks

[2018-01-16 08:25] #25782 closed

[2018-01-16 10:10] averichev opened #25805 "How i can add requirements to routing prefix in Symfony?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.6

Example yml:

[code]

[2018-01-16 10:15] glye commented on #25792
Officially, Norwegian is _one_ language, with _two_ written forms, of equal official status. In practice, nearly 90% use bokmål. (Don't ask, it's a long story, and wars have been fought over less. See the wiki page @andrerom linked to.)

I agree with @andrerom that `nb` for bokmål is the most correct, and `no` refers to both (inclusive). Using `no` for bokmål may offend the more vocal part of the

[2018-01-16 10:18] #25805 closed

[2018-01-16 10:54] Rebolon opened #25806 "Security + JSON_LOGIN return an HTTP 500 instead of an HTTP 403"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

I'm using the Security component with the (marked as experimental) **json_login** system that has been introduced in Symfony 3.3

It works quite well, but when i access a route protected by this firewall i get a 500 Symfony\C

[2018-01-16 11:01] valisj commented on #25792
@andrerom Some translation files used `no`, some `nb`, some had bokmål in `nn`. So, it was kind of a mess to begin with.

As for the `nb` vs. `no` discussion, I agree that `nb` would be more suitable if the `nn` standard is also present.

[2018-01-16 11:10] andrerom commented on #25792
@xabbuh unsure if this cleared up things for you? It's at least clear to me why the changes where made, so unless you want to cleanup the inconsistency in a non breaking way I guess only issue here is lack of `nn`, and as a starting point they can be created by using `no` but we should probably try to find someone who can contribute to it so it's fixed up.

[2018-01-16 11:26] AboElnuoR commented on #18996
I had had the same problem.
Then I found this solution
https://stackoverflow.com/a/39258774/6163727

[2018-01-16 11:35] xabbuh commented on #25792
:+1: so if one of you wants to create the PR, that would be great

[2018-01-16 11:46] derrabus commented on #25792
Does any of you know Nynorsk well enough to update/correct the NN files?

[2018-01-16 11:51] andrerom commented on #25792
In my case no, as @glye said we are both in the `nb` region.

[2018-01-16 12:12] valisj commented on #25792
My case is the same as @andrerom's.

@vulkodava You mentioned that you had Norwegian colleagues. Maybe they could help out if they know nynorsk?

[2018-01-16 12:25] glye commented on #25792
Speak for yourself ;) I am `nn` by birth if not environment. I know it well enough for a semi-decent translation and have done it for eZ in the past. But what's the size of the job? @andrerom may not appreciate me spending days/weeks on this.

[2018-01-16 12:35] andrerom commented on #25792
Someone able to setup initial PR so we see how many strings we need to deal with?

[2018-01-16 12:36] glye commented on #25792
Judging from https://github.com/symfony/symfony/search?utf8=%E2%9C%93&q=filename%3Ano.xlf&type= it's not much at all, just 3 small files. I could do that.

[2018-01-16 12:41] andrerom commented on #25792
So can anyone confirm that is all affected files? If so 👍

(also assuming the one nn file is relevant here for course: https://github.com/symfony/symfony/search?utf8=%E2%9C%93&q=filename%3Ann.xlf&type=)

[2018-01-16 12:41] vulkodava commented on #25792
Nice, I would like to thank all of you, guys for the time and the extra effort. I saw @glye would take care of the `nn` translations so I guess it is not needed for me to seek my Norwegian colleagues :)

Thank you, @glye, for that :)

[2018-01-16 12:43] glye commented on #25792
YW. Is it agreed that we rename all `no` to `nb`, then copy to `nn` and translate?

[2018-01-16 12:47] chrisguitarguy opened #25807 "[Serializer] AbstractObjectNormalizer Does Not Pass Context to the Type Extractor"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4, 4.X

When invoking `PropertyTypeExtractorInterface::getTypes`, the `AbstractObjectNormalizer` does [not passing the context](https://github.com/symfony/symfony/blob/d81f43fc368de04f862c76e17fa1c31fea5d72a8/src/Symfony/Component

[2018-01-16 12:52] vrGn commented on #25797
Is there is some ideas
It's bug, feature or my straight hands?

[2018-01-16 12:58] vulkodava opened #25808 "PHP Requirements for Symfony 4.x question"
Hello, I do have another Symfony related question. (Maybe here is not the best place for questions, if so, could you point me the right place for this? Thanks)

I am writing another Symfony based application and I intend to use Symfony 4.x, since it will be in lts by the end of this year, it kinda makes sense to start the new app on it). The thing is that we intend to use lts trusted software whic

[2018-01-16 12:58] xabbuh commented on #25797
Could you create a small fully working application that allows to reproduce your issue? Just by looking at these two classes I don't see anything that could cause this. But I could as well just miss something.

[2018-01-16 12:59] chrisguitarguy commented on #25807
My own use case of this is actually taken care of by the new `ClassDiscriminatorResolverInterface`.

I still think this is a good idea to do, but maybe it would mean having two ways to do one thing.

[2018-01-16 13:09] derrabus commented on #25792
Shouldn't we rather we keep the `no` files as exact copies of the `nb` ones, so that developers may use either locale? Also, I don't want to break applications that already rely on the `no` locale being available.

[2018-01-16 13:26] stof commented on #25806
Well, the message says it received a `App\Security\AccessDeniedHandler` instance in an argument expecting a `Symfony\Component\Security\Http\Authentication\AuthenticationFailureHandlerInterface` (see the error message at the beginning of the JSON response, before the stack trace).
Your own failure handler is buggy. It does not implement the AuthenticationFailureHandlerInterface and so it is not a

[2018-01-16 13:32] stof commented on #25792
we indeed cannot remove support for `no` as it would be a BC break.

What we can do is having both of them with the same content. If this is the case, please add a unit test in the corresponding component ensuring that the no and nb files stay in sync (this is easy to automate, and very hard to remember to enforce manually otherwise).

[2018-01-16 13:40] fancyweb commented on #25808
AFAIK Symfony 4 is PHP 7.1+. Where did you find the `"php": "^7.0.8"` ?

If you have more questions, you should join us on Slack (cf https://symfony.com/community) and ask them there.

[2018-01-16 13:42] vulkodava commented on #25808
Great, thanks for the link. I saw the `"php": "^7.0.8"` in the composer.json file resulted from running the commant `composer create-project symfony/skeleton .` after it breaks because of the PHP requirement. I will use the slack channel :)

[2018-01-16 13:46] nicolas-grekas commented on #25808
Only 3.4 is LTS, so that if you have PHP 7.0, you need to do:
`composer create-project symfony/skeleton:3.4`
Closing as this is not a bug.

[2018-01-16 13:46] #25808 closed

[2018-01-16 13:47] glye commented on #25792
Anyone who wants to share the job? 😉 I can start on `nn` translation since that is independent of the bokmål copy & test.

[2018-01-16 13:47] vulkodava commented on #25808
Certainly, yes, I just wanted to start my app in 4.x as at the end of app development the Symfony 4 should be in lts. But, yes, this is not a bug I agree :)

[2018-01-16 13:49] xabbuh commented on #25808
Symfony 4.4 will be an LTS release which will be published in November 2019 (see http://symfony.com/roadmap?version=4.4#checker).

[2018-01-16 13:51] vulkodava commented on #25808
Oh, haha, my mistake, I live in 2019 :D Ok, thank you again.

[2018-01-16 13:52] stof commented on #25808
@vulkodava if your plans are for versions being LTS in the end of 2019, why using the Ubuntu version from 2016 ? The Ubuntu LTS will be 2018.4 at that point too (and this one ships with PHP 7.1+ (it currently ships with 7.1. I hope they update to 7.2 before the release though)

[2018-01-16 13:56] vulkodava commented on #25808
No, no, my mistake was I misread the roadmap. I thought November 2018 rather than 2019 would be the LTS for Symfony 4. That's my bad :)

[2018-01-16 14:08] joshlopes commented on #25800
I'm not sure if this is a BC anymore or if you can do anything about it. Basically now that the container throws warnings / notices when we attempt to grab a private service, it is also exploding my app due to the fact that php5.* can't handle this notices inside the usorts.

[2018-01-16 14:17] Rebolon commented on #25806
@stof, yes indeed i've seen this error, but my AccessDeniedHandler implemented the AccessDeniedHandlerInterface because it's in the documentation here : https://symfony.com/doc/current/security/access_denied_handler.html

But in fact, when i've face that error, i've changed my AccessDeniedHandler to implement the AuthenticationFailureHandlerInterface (sorry i missed to afdd that informations) and

[2018-01-16 14:23] stof commented on #25806
@Rebolon the doc also says to configure it under `access_denied_handler`, not under `failure_handler`. Configuring an AccessDeniedHandler inside `failure_handler` will never work (and trigger this invalid argument type error)

[2018-01-16 14:29] nicolas-grekas commented on #25800
We could workaround this with this patch I guess. But is it legitimate enough?
[code]

[2018-01-16 14:36] wodka commented on #25746
works for me

[2018-01-16 14:44] Rebolon commented on #25806
@stof not sur ethat the documentation is up to date and compatible with json_login coz it returns this:
[code]
Whereas with the failure_handler (defined in symfony/security-bundle/DependencyInjection/Security/Factory/JsonLoginFactory.php L90

And if i move it under `firewalls.vuejs` instead of  `firewalls.vuejs.json_login` then it does nothing and i stil get my 500

[2018-01-16 14:55] derrabus commented on #25792
Copying files and creating unit tests? That sounds like I don't need to speak Norwegian for this task. I'll do it.

[2018-01-16 15:06] glye commented on #25792
`nn` PR: https://github.com/symfony/symfony/pull/25809

[2018-01-16 15:08] stof commented on #25800
I would say that the issue is the usage of `usort`on PHP 5.x (triggering any notice in the callback breaks it, by being detected as an array modification, which is non-sense). Btw, I think throwing exceptions inside the callback has the same kind of issues.

Trying to stop any notice from appearing anywhere in Symfony to avoid issues with the buggy behavior of usort on PHP 5 would force us to stop

[2018-01-16 15:36] andrewtch opened #25810 "[DI][Proposal] Annotation-based autowiring"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 4.0

I propose to introduce `@Autowire` annotation that will inject services into private / protected properties (the same way as Doctrine does with entities) instead of passing them to constructor. This can work like so:

[code]

[2018-01-16 15:38] stof commented on #25810
I'm -1 for providing direct autowiring into private properties. This would mean that your class is unusable in a normal way.

and btw, injecting a service into a Doctrine entity is a bad signal about the architecture...

[2018-01-16 15:47] andrewtch commented on #25810
@stof - sorry, my bad, I meant "inject the same way as doctrine does". Entities are unrelated here, sorry for the confusion.

Class with 3-4 constructor arguments is also unusable in "normal way".

See http://www.baeldung.com/spring-autowire

[2018-01-16 16:15] stof commented on #25810
@andrewtch it is not unusable. It is unfriendly. this is not the same.

Forcing to use reflection to use a class means that your class is restricted to be used by systems bypassing the API of your class (btw, it also means that such class is almost untestable as you would not use the DIC to initialize it in tests...).

And btw, this cause another sort of issue: PHP properties cannot be typed, so t

[2018-01-16 16:16] andrerom commented on #25792
@derrabus Maybe deprecate `no` then in 4.x and add a explicit note in all involved files that changes to strings should be reflected across both `no` and `nb` until `no` is removed in 5.0.

Or someone add some kind of alias feature to translation system so we can setup `no` as alias for `nb` :P

[2018-01-16 16:23] nicoschoenmaker opened #25811 "[FrameworkBundle][Twig] findAllTemplates not returning all templates"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.3

TL;DR; `Symfony\Bundle\FrameworkBundle\CacheWarmer\TemplateFinder` doesn't find templates inside the `templates/` folder.

This is because the `TemplateFinder` is unaware of the `paths` setting in the `twig` config. Changing

[2018-01-16 16:48] derrabus commented on #25792
I'm not sure about this. I could imagine two scenarios:

1. Multilingual application: I have an application that has been translated into 20 languages and Norwegian is one of them. I most likely won't ever support a second Norwegian locale. Using `nb` instead of `no` here would probably confuse developers and users alike although it would be the more precise language code.

2. An application that

[2018-01-16 17:21] derrabus commented on #25792
See #25812 for the new `NB` locale.

[2018-01-16 17:25] #25769 closed

[2018-01-16 17:26] #25718 closed

[2018-01-16 20:11] fracz opened #25814 "DI Container should be used to instantiate integration tests"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | yes
| Symfony version  | 3.4

IMO, testing of services from DI container deserves some love. Currently, some workarouds are being planned so testing a private service is still possible in Symfony 4.x and does not throw deprecation errors in 3.2+. See: http

[2018-01-16 21:49] dunglas commented on #25810
When we designed the 2.8 version of the autowiring mechanism, we tried hard to avoid such solution because of the arguments mentioned by @stof, and because the classes should know nothing about the DIC (and basically the way they are initialized). The only exception (and I'm not fond of it is `@required` for setter injection).

I'm 👎 to add this too. It will be slower and encourage bad design.

[2018-01-16 21:50] dunglas commented on #25810
Regarding properties's types and PHPDoc parsing, we can use the PropertyInfo component for that (it has a cache layer for performance). But as said previously I wouldn't go this way.

[2018-01-16 21:56] dunglas commented on #25807
It looks sensitive to me. Because the PropertyInfo context isn't the same thing than the Serializer context, maybe the serializer context should be injected trough a `serializer` key?

[2018-01-16 22:50] hafssaeloiaabane opened #25815 "Unable to find template in symfony3; I don't know what is the problem please someone help me"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | x.y.z

[2018-01-16 22:58] curry684 commented on #25815
Please change the title to something concise and readable, and put the issue description in the content of the ticket. The error itself may make perfect sense, you will need to provide some more information on how you are requesting that template and where it is located in your project.

[2018-01-17 01:10] curry684 commented on #25808
It's also trivial to run PHP 7.1 and 7.2 on Ubuntu and Debian with packages from the official maintainer: https://launchpad.net/~ondrej/+archive/ubuntu/php

[2018-01-17 02:17] jtleon commented on #25782
problem with my nginx configuration, use the [cnf](https://symfony.com/doc/current/setup/web_server_configuration.html#nginx), it working, and thanks @dmaicher @xabbuh @jvasseur @curry684 @carsonbot

[2018-01-17 04:58] pierredup commented on #25796
This has been fixed in #25801

[2018-01-17 05:29] #25796 closed

[2018-01-17 07:12] #25792 closed

[2018-01-17 07:24] #25099 closed

[2018-01-17 07:27] iltar commented on #25810
Similar proposals have been rejected for said reasons: #22467 & #21103, possibly some more.

[2018-01-17 07:29] iltar commented on #25814
Why would you test this specifically? You can already test the classes as units (unit-tests), but you can also initiate the kernel or even make fake web requests to trigger your application as a whole (functional tests), via `WebTestCase` and `KernelTestCase`.

[2018-01-17 07:31] iltar commented on #25815
Have you tried https://symfony.com/support and ask for help? Github is meant for actual issues while the mentioned supports channels are for support.

[2018-01-17 07:49] chalasr commented on #25810
:-1: as well, closing.

[2018-01-17 07:49] #25810 closed

[2018-01-17 07:55] xabbuh commented on #25815
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2018-01-17 07:55] #25815 closed

[2018-01-17 08:03] #23964 closed

[2018-01-17 08:13] #14727 closed

[2018-01-17 08:19] dunglas commented on #25810
Anyway, it can be done as a community bundle.

[2018-01-17 08:35] fracz commented on #25814
Functional tests are pretty slow when compared to directly testing of services fetched from DI. Moreover, if the Controllers provide API for web clients only, the whole functional testing boils down to making a request and checking if the retured JSON/XML contains appropriate data. The whole Crawler* classes are useless in such cases.

Why would I integration test some services? Well, all cases th

[2018-01-17 08:44] iltar commented on #25814
But that's not the case. If you want to use the container, you have to compile it. To compile it, you have to boot the kernel.

It basically boils down to this:
 - Create the kernel
 - Boot the kernel
 - Get the container from the kernel

Yes, it's slow(ish). However, if you want to make use of the DIC and test stuff, that's how you do it.

[2018-01-17 09:22] bahatron opened #25817 "[ErrorException] mkdir(): No such file or directory"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 4.0.5

I'm trying to install a new Symfony4 project using composer create-project on a Windows 10

running the command `composer create-project symfony/skeleton my_project`
results in:
[code]

I'm using Windows 10
composer v1.6.2
ph

[2018-01-17 09:30] MUCHZER commented on #25817
Same here with win10, PHP 7.1.7, Composer version 1.4.2 and powershell

[2018-01-17 09:40] MUCHZER commented on #25817
This probably come from here : https://github.com/symfony/flex/commit/c233143ef550f6acbe033fe63d15dad15ca8566a

[2018-01-17 09:48] szymach commented on #25817
Also, can you please run the command with `-v` flag and post the output?

[2018-01-17 09:53] MUCHZER commented on #25817
Here you go
[code]

[2018-01-17 09:53] bahatron commented on #25817
It worked about 2 weeks ago when i started a new Symfony 4 project

[code]

[2018-01-17 10:03] szymach commented on #25817
Can you try using [this code](https://github.com/szymach/flex/commit/c9afc783b53180db109d2c25d786ed3a39166a73) and see if it helps?

[2018-01-17 10:13] PACMAN49 commented on #25817
same here with php 7.1.7 composer 1.6.2 and cygwin

[2018-01-17 10:34] MUCHZER commented on #25817
@szymach I tried to modify Path.php will other files were downloading but mkdir error still show

[2018-01-17 10:37] tristanbes commented on #25645
ping @xabbuh :-)

[2018-01-17 10:43] szymach commented on #25817
@MUCHZER can you please give me the directory path it tries to create [here](https://github.com/symfony/flex/blob/master/src/Configurator/CopyFromRecipeConfigurator.php#L62)?

[2018-01-17 11:00] MUCHZER commented on #25817
@szymach string(69) "/C:\Users\l.grand\workspace\silicon-tv/config/packages/framework.yaml" with the Path.php you gave me

[2018-01-17 11:14] Soullivaneuh commented on #25788
@chalasr That the point, they may does not. :wink:

I understand, just my two cents about the possible cons.

@ostrolucky The `@final` annotation makes Symfony producing a warning when you call the `parent` method: https://github.com/cpliakas/git-wrapper/issues/147

But not if we just make a inherithance without parent call: https://github.com/cpliakas/git-wrapper/pull/144 That's quiet weird BTW.

[2018-01-17 11:17] Soullivaneuh commented on #22553
@nicolas-grekas Well, the issue is solved and release on 3.x version of `phpdocumentor/reflection-docblock` and this is not directly related to Symfony so I think we can close it.

[2018-01-17 11:17] #22553 closed

[2018-01-17 11:25] szymach commented on #25817
@MUCHZER Please try [this](https://github.com/szymach/flex/commit/b054b6f7da54f0846663d48bd680490cc3da0ce1), while I will try to find where that initial slash comes from.

[2018-01-17 11:31] szymach commented on #25817
@MUCHZER ok [this](https://github.com/szymach/flex/commit/addb09f2b788fb4175e01701a1ca1fbbc2aaabb5) should do it, disregard previous comment.

[2018-01-17 11:36] nicolas-grekas commented on #25788
That should haven been the correct fix :)

Are you 100% sure of that? That's not intended - and looking at the code and at corresponding test, I'm very unsure this is correct. Can you please check again?

[2018-01-17 11:39] MUCHZER commented on #25817
@szymach

Its working!
But now I have a new error

[code]

[2018-01-17 11:42] szymach commented on #25817
Do you have Dotenv component in you composer.json?

[2018-01-17 11:43] szymach commented on #25817
NVM silly question, I will look into it, but this may be unrelated to my changes.

[2018-01-17 11:55] szymach commented on #25817
@MUCHZER can you please try removing files (except for the modified `flex` in vendor and `composer.json`) and re-run the install command? The `.env` file may simply not be created due to some mixed state of files in your current project.

[2018-01-17 11:56] szymach commented on #25817
And of course do it with the `-v` flag and please provide the output if any errors occur.

[2018-01-17 12:00] ostrolucky commented on #25788
So? It's their problem. Symfony don't need to concern with such use cases and they can still extend it. Seems like win-win for me. Symfony doesn't gain anything by making it truly final.

[2018-01-17 12:26] chalasr commented on #25788
Library maintainers either to me.

Just tried, not on my side,  and I don't see how could that happen as the class loader doesn't know about the body of the method.

[code]

[2018-01-17 12:37] stefantalen opened #25820 "[Security] Deprecation warning in_memory user with autowiring"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.3.15

In my current application I'm getting the following deprecation warning in my logs:

    Autowiring services based on the types they implement is deprecated since Symfony 3.3 and won't be supported in version 4.0. You should

[2018-01-17 12:48] SimonHeimberg opened #25821 "out of memory exception while creating container"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes? (seems to work with 3.3.14)
| RFC?             | no
| Symfony version  | 3.4.3
| php version | 7.0.19-1

how to reproduce:
[code]

after doing following changes, the containter is created in short time:
[code]

But `EntityManagerInterface` is used in several places... Why do

[2018-01-17 12:52] szymach commented on #25817
ping @MUCHZER https://github.com/symfony/flex/pull/300

[2018-01-17 12:56] vrGn commented on #25797
git@github.com:vrGn/example.git

[2018-01-17 13:13] chalasr commented on #25820
Can you try to set a `container.autowiring.strict_mode` parameter to `true` and see if it fixes the issue?

[2018-01-17 13:19] chalasr commented on #25806
`access_denied_handler` is a per firewall node, not per listener as opposed to `failure_handler` for the ones that support it. You're looking for `json_login.failure_handler` which must implement `AuthenticationFailureHandlerInterface`.

[2018-01-17 13:20] chalasr commented on #25806
Documentation may be lacking (see https://github.com/symfony/symfony-docs/issues/4258)

[2018-01-17 13:58] sylfabre commented on #21204
I'm having the same issue with Symfony 4.0 and PHP 7.1

[2018-01-17 14:37] stefantalen commented on #25820
Added the parameter, the warnings are still there

[2018-01-17 15:08] e-xiste commented on #25817
Hi, same issue for me on windows server 2016 Datacenter. #298

[2018-01-17 15:11] e-xiste commented on #25817
With the error
Exception trace:
 () at C:\Users\iwaklachatte\Documents\ex\projets\UpTo\sources\vendor\symfony\flex\src\Configurator\CopyFromRecipeConfig
urator.php:62
 Composer\Util\ErrorHandler::handle() at n/a:n/a
 mkdir() at C:\Users\iwaklachatte\Documents\ex\projets\UpTo\sources\vendor\symfony\flex\src\Configurator\CopyFromRecipeC
onfigurator.php:62
 Symfony\Flex\Configurator\CopyFromRecipeCon

[2018-01-17 15:29] chalasr commented on #25806
@Rebolon My guess is that removing the `@Security` annotation would make your failure handler reached. There are a number of incompatible/conflicting features between Symfony and SensioFrameworkExtraBundle... If I'm right, this should probably be reported on SensioFrameworkExtraBundle

[2018-01-17 15:50] Polaris-BS commented on #25817
I have the same issue with Php 7.1.9 and composer 1.5.2

[ErrorException]
  mkdir(): No such file or directory

For many machine Linux and windows 10

[2018-01-17 16:01] Rebolon commented on #25806
@chalasr so you mean i should remove this annotation and do it programatically ? i'll give it a try and give you a feedback

[2018-01-17 16:03] chalasr commented on #25806
yea, just to confirm the issues comes from there. Thanks

[2018-01-17 16:13] Rebolon commented on #25806
Here is the action:
[code]

And my handlers are still not used (and i get the same exception as before).

Should i set my AccessDeniedHandler in my services.yaml ? i don't think so coz the security.yaml should declare it as listeners thanks to configurations `access_denied_handler` and `failure_handler`

[2018-01-17 16:23] Rebolon commented on #25806
Hey, maybe i've found why my handler (based on configuration failure_handler) is not managed:

Symfony\Component\Security\Http\Authentication\CustomAuthenticationFailureHandler::_construct L31 it checks if it has a setOptions methods

[code]

I'll confirm this (but why a programatic checks, instead of a hard typing based on Interface ? AuthenticationFailureHandlerInterface should not deinfe the se

[2018-01-17 16:29] Rebolon commented on #25806
Argh
Now the handler is added to the CustomAuthenticationFailureHandler, but it's still not used.
I'm like Sherlock Holmes looking for a solution...

[2018-01-17 19:33] viion commented on #25817
Same problem, just randomly started happening

[code]

If you are outside the directory (eg you run: `composer create-project symfony/skeleton my-project`) it will complain about no `composer.json` found, if you navigate into your repo and try do `composer install` it will show the above output

**This has completely broken fresh installs of SF4**, I wonder how this didn't get tested?

[2018-01-17 19:47] dh9325 commented on #25817
It seems to work with symfony/flex 1.0.61. I have run:
`composer create-project --no-install symfony/skeleton your-dir` then cded into it and changed symfony/flex dependency to 1.0.61. When I ran `composer install` it worked perfectly fine.

[2018-01-17 19:50] #25817 closed

[2018-01-17 19:55] dmaicher commented on #25814
@iltar I think what @fracz is pointing out is that non-public services cannot be tested like this anymore as retrieving them from the container directly in tests is not possible

So he suggests to use DI to inject the needed services (so they don't need to be public) into the test classes if I understood correctly.

[2018-01-17 20:11] #13589 closed

[2018-01-17 20:38] hoaxer commented on #25817
Same here... Php 7.2.1 composer 1.6.2 . Executing: d:\Apache24\htdocs>composer create-project symfony/skeleton buddha -v

Output:
`
d:\Apache24\htdocs>composer create-project symfony/skeleton buddha -v
Installing symfony/skeleton (v4.0.5)
  - Installing symfony/skeleton (v4.0.5): Loading from cache
 Extracting archiveCreated project in buddha
Loading composer repositories with package information

[2018-01-17 20:41] fabpot commented on #25817
You need to upgrade to Flex 1.0.63

[2018-01-17 21:10] viion commented on #25817
Great work! All working here: Flex 1.0.63

[2018-01-17 23:10] fracz commented on #25814
@dmaicher this is exactly what I meant, thank you for clarification.

[2018-01-18 00:29] curry684 commented on #25740
I don't think this should be classified as a bug.

That's not what you're declaring - the PSR-4 discovery just scans and adds all classes. It was never intended to be smarter than that because it knows, as you note correctly, that all private unused services will be trashed anyway during final compilation stages. Even if it wanted to be smart it couldn't because it has no clue what other definitio

[2018-01-18 00:33] curry684 commented on #25802
This is not a bug, as your parameters include their own escaping, which the Process component is also trying to do for you, thus causing the error.

This should work fine if you're not imploding yourself and just pass the array:
[code]
Ref. https://symfony.com/doc/current/components/process.html#usage

[2018-01-18 00:40] greg-1-anderson opened #25825 "[Console] ArgvInput::hasParameterOption confused by short options with values"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| RFC?             | yes
| Symfony version  | 3.4.2 (and others)

#24987 introduced a bug in hasParameterOption. If a short option has a value, then hasParameterOption will search the value for additional short options.

#25487 submitted a fix for this bug, but the fix appear

[2018-01-18 00:41] Taluu commented on #25740
Nope, it's really the decoration I need, as I need actually to "replace" some services in api platform (namely the normalizers, as I have to handle multiple formats). And in order to do so, I need to use the decoration.

And I need to use the same decorator, because I need to apply things that are common to both formatters, and having two  classes which are exactly the same is a no go IMO.

To sol

[2018-01-18 00:41] greg-1-anderson commented on #25825
@Simperfit your analysis here would be appreciated.

[2018-01-18 01:09] curry684 commented on #25740
That was the context I was missing, then it makes sense   😄

But yes, I think it's not a bug, like you say adding a proper exclude to the PSR4 loader fixes it. It was just doing as it was told before.

[2018-01-18 03:29] askuiop opened #25826 "Symfony 4 : Response head auto add private and max-age=0. How to fix it ?"
Not all the page use session .  so this function is not necessary !

[2018-01-18 06:15] nicolas-grekas commented on #25826
As soon as the session is used once anywhere to generate a response, it becomes non cache able.
You should debug to find where the session is used and figure out a way to not use the session if you want a different Cache-Control.

[2018-01-18 08:30] xabbuh commented on #25820
This looks like the same as #23188.

@stefantalen Can you create a small example application that allows to reproduce your issue?

[2018-01-18 08:39] iltar opened #25827 "kernel.exception is not triggered when (e.g.) new relic registers an error handler"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| RFC?             | no
| Symfony version  | 3.4 (probably lower as well)

After @nicolas-grekas dug in this for me on slack, it turns out that the Symfony error handler is not registered because new relic already registers on.

Related issue seems to be an old one: https://di

[2018-01-18 08:40] nourheine opened #25828 "choice_widget_collapsed override seems to be not working in symfony 3.4"
| Q                | A
| ---------------- | -----
| Bug report?      | yes/no
| Feature request? | yes/no
| BC Break report? | yes/no
| RFC?             | yes/no
| Symfony version  | x.y.z

I encountored a problem when i override the choice_widget_collapsed (select option to an ul tag),i got this error:
Variable "required" does not exist. and it pointing to this line code :
{%- if required and pla

[2018-01-18 09:02] Simperfit commented on #25825
Why should we revert #24987, it does fix a bug.

We have to implement a method that will respect the consistency of both method and fix the bug by checking this format too.