[2016-07-19 08:11] javiereguiluz commented on #19385
Thanks for reporting this error. In the past we've tried several times to improve the email validator. This is the latest attempt: https://github.com/symfony/symfony/issues/18177  But for different reasons, we never implement those changes.

[2016-07-19 08:54] mathroc commented on #18494
@javiereguiluz how could you do that ? you can only have the password when the user login or update his password

[2016-07-19 08:56] xtuc commented on #18494
@mathroc He meant with a custom controller.

[2016-07-19 09:20] xabbuh commented on #19385
Are you sure that this address is valid? Even the `egulias/email-validator` library seems to consider it invalid.

[2016-07-19 09:22] fabpot commented on #19385
Indeed, this is not a valid email address.

[2016-07-19 09:22] #19385 closed

[2016-07-19 10:15] stof commented on #18494
@xtuc which controller ? No controller is called when the login form is submitted. The request is handled by the security system.

[2016-07-19 10:22] stof commented on #19385
Note that if you don't run the email validation in strict mode, this will indeed not be detected as invalid, but this is expected. When not using the strict validation, lots of invalid emails will go undetected (this is why we use a dedicated library in strict mode)

[2016-07-19 10:40] xtuc commented on #18494
@stof yes, I meant the controller handling the login form.

[2016-07-19 11:19] nyluje opened #19386 "SYMFONY FORM isClicked() issue (depending Browser) when mixed with JavaScript - JQuery: event.preventDefault() and event.target.submit()"
The whole topic is documented in that StackOverflow question: http://stackoverflow.com/questions/38456587/symfony-form-isclicked-issue-depending-browser-when-mixed-with-javascript

[2016-07-19 12:00] iltar commented on #19386
If you've already opened a question on stack overflow, there's no need to open one here as well unless it's a bug.

[2016-07-19 12:01] senaria opened #19387 "[Validator][GroupSequence] GroupSequence validation ignores PropertyMetadata of parent classes"
GroupSequences do not seem to run property validations of parent classes. Class constraints are recognized correctly and run without problem but not those on the `Parent::$property`'s.

For example:
[code]

When I run the validation on `Child` the group sequence will run `@Assert\ParentClassConstraint()` of `Parent`, `@Assert\ChildClassConstraint()` of `Child` and `@Assert\NotNull(groups={"Extra"}

[2016-07-19 12:12] nyluje commented on #19386
It does look like a bug to me because what I want works on Chrome but not on Firefox and Edge. Did you have a look at it; Do you have any thought?

[2016-07-19 12:16] fabpot commented on #19386
As there is no JS in Symfony, I don't think the issue comes from Symfony.

[2016-07-19 12:26] stof commented on #19386
The issue in your case is that you are **not** submitting the form by clicking on the button. You are submitting it by submitting the form itself directly in JS.
So to me, the browser having a bug is Chrome

[2016-07-19 13:34] monbro commented on #15431
I had the same issue and it solved for me when I added the option when creating the silex app `$app = new Silex\Application(['debug' => true]);`

[2016-07-19 14:13] nyluje commented on #19386
Ok stof thanks for the feedback, it got me on a roll again and I found a solution; Thru trying around I've determined that using JQuery event.stopPropagation() (instead of event.preventDefault()) did the trick and it let the id of the isClicked button go all the way thru Symfony  on all 3 browsers. Issue is closed.

[2016-07-19 14:41] nyluje commented on #19386
issue closed

[2016-07-19 14:41] #19386 closed

[2016-07-19 14:48] stof commented on #19386
I'm not even sure why you try to stop the propagation, in case you want to let the browser perform the submission (and you should remove ``event.target.submit()`` in this case to avid doing 2 submissions)

[2016-07-19 15:08] nyluje commented on #19386
You are right, I took away the event.target.submit() too and it works. So now I do `event.stopPropagation()`, unset the `required` input and do a submit() of the form on which I don't stop the `propagation` this time.

[2016-07-19 15:19] Daskul commented on #19381
yeah Im thinking of annotation mapping, and hopefully it can also be integrated with the validation after resolving the entity and return a response. not really sure how difficult it will be though.

[2016-07-19 21:17] jameshalsall commented on #19363
Does your OS support FACL?

[2016-07-20 03:42] crmpicco commented on #11089
As @richard-keller said, explicitly set a `port` in `parameters.yml`:
[code]

This worked for me.

[2016-07-20 09:33] Nyorai commented on #19357
Thanks for that @lyrixx. Creating an enter event that resets the marking does the trick.

[2016-07-20 09:33] #19357 closed

[2016-07-20 10:18] ro0NL commented on #19232
If the initial problem is solved one way or another, i would close it for now. Changing the serializer behavior is out of scope anyway. Maybe i can do a PR in the near future..

[2016-07-20 11:00] Navi2016 commented on #19336
Same problem with ab!

[2016-07-20 12:42] MichaelMure commented on #19378
I build a minimal example project from Symfony Standard and it turns out that it is working as expected.

The origin of my problem was the use of `'mapped' => false`  field in some subform, maybe in conjunction with `'constraints' => array(new Valid())`.

So I don't think it's a bug, just a bad code in my side. Sorry for the noise !

[2016-07-20 12:42] #19378 closed

[2016-07-20 13:31] maennchen opened #19390 "[HttpFoundation] HttpCache doesn't refresh stale responses containing an ETag"
# Problem

HttpCache doesn't refresh stale responses containing an `ETag` and is also not able to increment the `Age` header of the cached response.

# Affected Version

I tested the Problem on `v3.1`, but it seems to be around since a long time.

# Scenarios

## Scenario with an `ETag`

1st Call, Cleared Cache:

[code]

2nd Call after a few seconds (not the `Age` which is still 0):

[code]

*The

[2016-07-20 13:51] TomasVotruba commented on #17850
I confirm this work for symfony-standard with:

- Symfony 3.0
- Symfony 3.1

I probably got issue somewhere else.

Can be closed. Thank you.

[2016-07-20 14:32] TomasVotruba commented on #17674
@maryo Thank you for this feature. I really miss this simple method in Container.

It can be used for Commands, EventListeners, EventDistpachers or any actually <Some>Provider.

I use it for most of my packages when I need to have extensibility without need to change the core package.

Here in Symplify/ModularDoctrineFilters [to collect all filter services](https://github.com/Symplify/ModularDoctr

[2016-07-20 14:34] TomasVotruba commented on #19161
This is must have. Already know it from other DI frameworks.

[2016-07-20 14:39] TomasVotruba commented on #17783
I needed this feature to be simple, so I created this bundle: https://github.com/Symplify/DefaultAutowire#multiple-service-of-one-type-set-preferred-one

[2016-07-20 17:52] #17850 closed

[2016-07-20 19:10] SimonHeimberg opened #19393 "log and WebDebugToolbar show only one event for kernel.request"
In symfony 3.1.2 `Symfony\Component\EventDispatcher\Debug\WrappedListener` hides the real events.

The debug toolbar lists only one event for kernel.request, the `...\WrappedListener`.

In the logs, there are several DEBUG entries for the event kernel.request, but each for the '...\WrappedListener`.

### How to reproduce: ###
 * Take any project running with symfony 3.1.2 (or probably any version

[2016-07-20 19:39] raziel057 commented on #19359
@xabbuh Thanks for your reply

[2016-07-20 19:51] electrolinux opened #19394 "Can't generate a working crud for an entity named Url"
How to reproduce:

    symfony new foo 2.8
    cd foo
    vim app/config/parameters.yml app/config/config.yml # config pdo...
    app/console doctrine:generate:entity --entity=AppBundle:Url \
        --format=annotation --fields="name:string(128) href:string(255)"  \
        --no-interaction
    app/console doctrine:generate:entities AppBundle:Url
    app/console doctrine:generate:crud --with-writ

[2016-07-20 19:59] javiereguiluz commented on #19394
@electrolinux thanks for reporting this issue. You did it perfectly and the steps to reproduce it are very clear! However, the fix to this error must be done on the SensioGeneratorBundle, which is the tool that generates the CRUD for entities.

Sadly I can't move this issue to the corresponding repository: https://github.com/sensiolabs/SensioGeneratorBundle/issues  So, could you please create a ne

[2016-07-20 21:15] MrMitch opened #19396 "Twig asset() helper ignores router.request_context.base_url parameter"
Hi !

When the `asset` helper is used in a twig template to generate urls, it does not take into account the `router.request_context.base_url` parameter set in `config.yml` (or `config_*.yml`).

I've created a **[sample project](https://github.com/MrMitch/symfony-assets-base-url)** (based on [symfony/symfony-standard](https://github.com/symfony/symfony-standard)) to illustrate this.

The project d

[2016-07-20 21:18] MrMitch commented on #19396
The relevant commit is https://github.com/MrMitch/symfony-assets-base-url/commit/f4de6cae206059794859eec1a6e802657fa5632a

[2016-07-21 06:14] xabbuh commented on #19396
What happens if you wrap the `asset()` call in [absolute_url()](http://symfony.com/doc/current/book/templating.html#linking-to-assets)?

[2016-07-21 06:53] MrMitch commented on #19396
This produces a full URL (including scheme and host), which is not really the desired effect. Moreover, the base-url is still missing.

The new list :
[code]

produces :
[code]

commit : https://github.com/MrMitch/symfony-assets-base-url/commit/f8b5ee8ec147ad032b0db49fd17058a1ca911ab9

[2016-07-21 06:57] javiereguiluz commented on #19396
@MrMitch is the `asset()` used in a template rendered via web or via a console command? The `router.request_context.*` parameters are ignored by the web and used by the CLI.

[2016-07-21 06:57] maennchen commented on #19390
This seems to be a duplicate of #6746.

[2016-07-21 07:06] MrMitch commented on #19396
Hi @javiereguiluz, as mentionned in the issue description, the template is rendered via a [console command](https://github.com/MrMitch/symfony-assets-base-url/blob/assets-base-url/src/AppBundle/Command/GenerateAssetsListCommand.php).

[2016-07-21 08:01] chalasr commented on #15294
See #19398

[2016-07-21 08:45] jakzal commented on #18769
@egeloen without the code that would reproduce this behaviour it'll be hard to fix this

[2016-07-21 10:08] stof commented on #19396
This is because the ``Asset`` component has nothing to do with the router, and so it ignores settings configuring the routing RequestContext.

What we are missing is a way to configure the default base path in the Asset component, when we don't have a Request in the RequestStack and we use the request-based context

[2016-07-21 10:50] electrolinux commented on #19394
@javiereguiluz that's what I was thinking initially, but after further investigation, it really seems to me that it has nothing to do with the generator, which always produce the same output excepted for the classes names.
Furthermore, dumping the formView in each template seems to show almost the same structure, again excepted for the names.
So it really seems related to either Twig or the TwigBu

[2016-07-21 11:04] 1ed commented on #19396
Why don't you set the assets base URL like this?

[code]

[2016-07-21 12:29] JoeKre commented on #19256
@steevanb
This issue isn't limited to 3.1.2.
2.8.8 is also affected. Quite irritating when the Debug Toolbar shows an error because this one key is missing while all actually used keys are defined or fallbacks.
![translation_error](https://cloud.githubusercontent.com/assets/9037466/17022638/6a4c2728-4f4f-11e6-89dd-84594fb1b12d.png)

[2016-07-21 13:31] jakzal commented on #19308
Did you actually experience any problems, or your concerns are coming from static analysis of code? Most validators consider both `null` and empty string as empty values. ChoiceValidator expects an array, therefore doesn't make a check for an empty string.

[2016-07-21 15:18] jakzal commented on #19353
I don't think it's worth it. It would potentially complicate code (haven't looked into it, perhaps someone could prove me wrong with a simple and elegant PR). I vote for a single way of doing things to avoid confusion.

[2016-07-21 15:35] poolerMF commented on #17884
my solution for checking same item in collection:

**CollectionSameItem.php**

    /**
     * @Annotation
     * @Target({"CLASS", "ANNOTATION"})
     */
    class CollectionSameItem extends Constraint
    {
        const ERROR_PATH_FORM = 'form';
        const ERROR_PATH_FIELD = 'field';

        public $message = 'Item already exists in collection "%collectionName%" .'; // %variable%
        pub

[2016-07-21 16:46] jakzal commented on #19000
Closing as it's apparently end user's mistake. @kcaporaso if you think this is really a bug, we will reopen this issue once you provide details how to reproduce it on Symfony SE.

[2016-07-21 16:46] #19000 closed

[2016-07-21 17:58] kcaporaso commented on #19000
@jakzal , thanks guys, honestly, I had to just go back to 2.7 until I find the time to debug what bundle was causing this issue.  I'll get there at some point and will update this thread at that time.  Obviously others haven't reported hitting the conflict, so it's clearly something specific to my bundle collection.

[2016-07-22 08:11] nezarfadle opened #19403 "HttpException return code 0 as Exception Code"
I always get ```Exception Code 0``` when I try to test the exception code, is ain't that the ```Status Code``` and the ```Exception Code``` should be the same !!!

[code]

[code]

File: [HttpException.php](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/Exception/HttpException.php)
[code]

[2016-07-22 10:07] xelan commented on #19403
IMHO this is intended behaviour. The Exception code can/should be something application-specific (e.g. 4711 - page found, but unpublished), while the status code is one of the  HTTP_* constants.

In the example above, the exception would be logged with the correct exception code, but the user gets the 404 error page.

[2016-07-22 11:31] xDaizu commented on #17641
@arjenm

But that won't work, you'd have to turn it into: Forwarded: for=U.X.Y.Z, proto=https

I'm confused, I can't see the difference between those two...

[2016-07-22 11:36] arjenm commented on #17641
The 'and' is not optional in that second sentence

[2016-07-22 13:11] electrolinux commented on #19394
In fact, it's really a crud generator limit, and I will open an issue there, maybe. One must override the getBlockPrefix for any form type which is named as a built-in type (like Url)

[2016-07-22 13:11] #19394 closed

[2016-07-22 13:24] xabbuh commented on #19403
@xelan is right. Thus I am closing here.

[2016-07-22 13:24] #19403 closed

[2016-07-22 13:42] theofidry commented on #19291
cc @webmozart @dunglas

[2016-07-22 15:07] Kern046 commented on #13400
Hello there.

I rather comment an old closed issue instead of creating a new one for the moment.

I just had the same problem with the dashes in route parameters, as told in this [stackoverflow topic](http://stackoverflow.com/questions/38528566/symfony-route-is-found-but-not-matched).

I'm not writing this to ask to allow dashes in placeholders, but the described behaviour in my message slowed me

[2016-07-22 17:24] qlarin commented on #19308
Yes, exactly as you wrote. I have problems when i am trying to pass empty array to this validator. But this is not an exception. I've noticed that some problems occurs with validators that extend `AbstractComparisonValidator`.

[2016-07-23 03:53] fernandobandeira commented on #19336
I have a similar issue after updating the symfony/proccess to 3.0.8 i started to get the following error when i composer update my laravel project:

[code]

Downgraded to 3.0.7 and i don't have the problem anymore, maybe this is a related issue? Also running.
Windows 10 x64,

[2016-07-23 05:51] xabbuh commented on #19308
How would the validator actually act differently with the changes you suggest then?

[2016-07-23 06:49] qlarin commented on #19308
When the validator will get an empty array, or an empty string (or whatever function is considered as an empty value) will not conduct any further validation. At this point, this happens only if the null will be given explicitly.

[2016-07-23 06:52] xabbuh commented on #19308
But for a constraint that acts on collections there is no difference when the collection is empty. And for all other constraints they should simply not get passed arrays imo (you can use the `Type` constraint if you want to check the type of a property using the Validator component). Using `empty()` for the initial check is too weak due to what is actually considered an empty value.

[2016-07-23 07:06] qlarin commented on #19308
Let me give you another example, what if the developer uses `GreaterThanOrEqualValidator` (which inherits the `AbstractComparisonValidator`). Set the conditions that he wanted to was `optional`, and values must be greater than 1? If you do not give any value, despite the fact that the validator is `optional`, you will get an error validation. (Because it did not provide explicitly `null`).

[2016-07-23 07:16] qlarin commented on #19308
Perhaps `empty()` is too general method. I wonder is not it better to give the opportunity to check such a condition in a class that inherits. In abstract would only be a reference to the method for example. `CheckIfEmpty()`. Method would return `Boolean` value. Main method `validate()` does not interested in what would happen inside the method that is responsible for checking empty values. This g

[2016-07-23 12:53] xabbuh commented on #19308
What do you understand as making the validator optional?

[2016-07-23 14:57] zomberg opened #19407 "[ProxyManagerBridge][Bug] Used feature from PHP 7 in fixtures"
Used return type declaration which from PHP 7 in fixtures:

/src/Symfony/Bridge/ProxyManager/Tests/LazyProxy/Fixtures/php/lazy_service_with_hints.php
[code]

Can it be a problem or it is just fixture?

[2016-07-23 15:13] stany99 commented on #19256
@JoeKre yep, I confirm that.
2.8.8

[2016-07-23 15:34] Tobion commented on #19407
Its a test for proxy manager 2 which requires php 7: https://github.com/Ocramius/ProxyManager/blob/2.0.x/composer.json#L22

[2016-07-23 15:34] #19407 closed

[2016-07-23 16:51] DarthPestilane opened #19414 "Symfony3 route 404 with Nginx server"
I followed the book of documentation to create my first page : http://symfony.com/doc/current/book/page_creation.html.

And I configured an Nginx web server for symfony according to :
http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html#web-server-nginx

But all pages turned out to be an 404 error except the homepage.
Please help.

[2016-07-23 18:08] Tobion commented on #19414
# #
I'm sorry, but in the GitHub repository we only discuss about Symfony bugs and new features. For questions about using Symfony, please use any of the support alternatives shown in http://symfony.com/support Thanks!

[2016-07-23 18:08] #19414 closed

[2016-07-23 18:42] kachkaev commented on #15007
Hi guys. I got here from symfony's `config.php

[2016-07-23 18:45] kachkaev commented on #15007
Hi guys. I got here from symfony's `config.php` and I'm pretty confused with this:

`In most cases you should be fine, but please verify there is no inconsistencies between data provided by Symfony and the intl extension. See https://github.com/symfony/symfony/issues/15007 for an example of inconsistencies you might run into.
`

What should one do? What commands  or scripts to run to see the diffe

[2016-07-23 20:52] qlarin commented on #19308
Set in `optional` collection validator.

[2016-07-23 23:55] #5180 closed

[2016-07-24 04:07] fernandobandeira opened #19416 "symfony/process throws error when trying to unlink temp file on windows since 3.0.8"
This occurs when i try to composer update a laravel project:

[code]

Downgrading to 3.0.7 fix this issue.

Results from debugging:
This issue is caused since this change #19118 and may be related to issue #19336

Thrown in the line 62 of src/Symfony/Component/Process/Pipes/WindowsPipes.php
[code]

The PHP function ``` is_writtable ``` returns ``` true ``` to both ``` $file ``` and ``` $tmpDir ```

[2016-07-24 11:49] poolerMF opened #19417 "add actual object as parameter into validator violation"
I think many people appreciate if there will be parameter "object" or "this" for messages in every validator violation

so I can write messages like:
"Length for variable with name {{ this.name }} is required"
"Length for variable with name {{ this }} is required" -> (object must have method __toString)
...

[2016-07-24 12:35] xabbuh commented on #19308
Can you please show how you configured your constraints, what data you validate and which error you get in that case? I think I still do not properly understand your issue.

[2016-07-24 18:05] scheb commented on #12298
Just ran into that issue when iterating over a list of XML nodes and doing a bunch of XPath queries on each list item. Sample document was ~2,5MB.

The filterRelativeXPath() creates a sub-crawler for each XPath query. Then, when the query is executed on the sub-crawler, it has to execute the very slow discoverNamespace() method, because the namespace cache ($namespace attribute of the Crawler clas

[2016-07-24 20:11] jakzal commented on #12298
@scheb could you please provide the script and the document that exhibit the issue?

[2016-07-24 22:10] kix commented on #19381
First, such a feature should definitely require an annotation, because if such a behaviour is introduced automagically (like, as a framework core feature), it gets quite hard to figure out why is the object hydration happening, for an unprepared user. Since adding complexity to the framework feels like a no-go, then annotation it is. What could it look like? How would you make it fit all the useca

[2016-07-24 22:33] kix commented on #19291
Looks like your link got somehow broken, here it is once again: https://github.com/symfony/symfony/blob/3bec8138b51a66ca2835784670b233f18245b9a9/src/Symfony/Component/Serializer/Normalizer/ObjectNormalizer.php#L99

On the core subject: I personally think that `PropertyAccess` is somehow used for the wrong case here. It does fit at this moment, but not for your use case, unfortunately. Basically, w

[2016-07-24 23:00] theofidry commented on #19291
Fixed

I couple of thoughts on the fly: There is two problems at hand: instantiating the object and populating it. And in this part (`setAttributeValue`) we are talking of populating it (which is what an hydrator is about correct?). If you have no "mutator" (I'm putting quotes as I'm including withers or any equivalent here) but are putting everything in the constructor, there this case has alread

[2016-07-25 06:51] kix commented on #19291
@theofidry, on second thought, the `PropertyAccess` is not actually the case for immutable models, since it's a constructor and not an accessor anymore. It's just the naming, but the naming and its interface suggests that it should be accessing properties of a single object, whereas `withSmth` would return a new object each time. So it looks like some other component should be involved here :)

[2016-07-25 08:15] PhlegmaticGuy opened #19419 "browser-kit client redirects w. lowercase method name."
When the browser-kit Client follows a 302 or 303 redirect, the request is with the GET method name in lower-case. The http 1.1 definition defines the method names as case-sensitive.

Where the method name is set to 'get' instead of 'GET':
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/BrowserKit/Client.php#L478

The relevant section in the HTTP protocol.
https://www.w3.org/Pr

[2016-07-25 08:37] azatyan opened #19421 "[Routing] Add naming strategy configuration"
Hi

What you tink about adding naming strategy config here?

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php#L200

[2016-07-25 08:37] HeahDude commented on #19355
@xabbuh see https://github.com/symfony/symfony/pull/19420.

[2016-07-25 08:37] scheb commented on #12298
Here's a script to reproduce:

[code]

[2016-07-25 08:42] jakzal commented on #19393
@SimonHeimberg I just tried to reproduce this issue but everything seems to be working just fine.

I Installed Symfony with `symfony new issue19393` and the debug toolbar shows all the events properly in both events and logs tabs.

![image](https://cloud.githubusercontent.com/assets/190447/17095358/f94524da-524b-11e6-8030-339966712fef.png)

![image](https://cloud.githubusercontent.com/assets/19044

[2016-07-25 08:42] #19393 closed

[2016-07-25 08:46] jakzal commented on #19347
Adding a new argument would be a BC break. You can update permissions after file has been moved, so what's the use case for this change?

[2016-07-25 08:49] javiereguiluz commented on #19347
@jakzal you are right ... but this proposal would make it more convenient. We just need to decide if updating permissions is a common enough scenario (and then add this feature in the next Symfony version) or not (and then reject this proposal).

[2016-07-25 08:58] iltar commented on #19421
I think you should always give a route a name manually.

[2016-07-25 09:02] cdekok opened #19423 "Documentation link for workflow is broken"
https://github.com/symfony/workflow
It links to: https://symfony.com/doc/current/components/workflow/introduction.html
is it not ready yet or is the link incorrect?

[2016-07-25 09:05] javiereguiluz commented on #12298
@scheb I've tested the change that you propose:

[code]

And the performance improvement is astonishing:

![comparison](https://cloud.githubusercontent.com/assets/73419/17095999/934bc0ce-5257-11e6-9254-f2a3e866bf0f.png)

Now @jakzal and others will evaluate if this change is appropriate. Thanks!

[2016-07-25 09:21] Th3Mouk opened #19424 "[Form][Intl] Money type is always in prepend mode"
Hello everyone.

I've found something that I don't understand in form, intl components, and bootstrap3 bridge.

I try to render a money field on a Bootstrap3 design, but with the currency symbol after the input.
In UK an amont is render like that `£10` but in France `10€`.

First of all, in bootstrap bridge, I think there is a mistake, and before making a PR, I prefer to check with you.
As you can

[2016-07-25 09:27] azatyan commented on #19421
@iltar  it can save too much time on large projects and this is not a mandatory. we only need 2-3 nice strategies to implement.

[2016-07-25 09:29] jakzal commented on #19423
It hasn't been written yet. See symfony/symfony-docs/issues/6677

[2016-07-25 09:29] #19423 closed

[2016-07-25 09:32] iltar commented on #19421
@azatyan I know all about large projects, being verbose in those large projects is extremely important. If you let one of the strategies define the name, you will have to guess the name if you want to link to that action or use the `debug:container` command all the time.

[2016-07-25 09:33] jakzal commented on #19421
👎 I also prefer do be explicit. Relying on automatically generated route names might look like a time-saver, but what it really does is it couples your route names to controller/action/path names. As a result it makes refactoring harder. Route name is there to decouple from those, so you can change one without changing the other.

[2016-07-25 09:34] stof commented on #12298
@javiereguiluz the change is totally legitimate. I opened a PR already to apply it.

[2016-07-25 09:34] taviroquai commented on #19347
My 2 cents...

If setting permissions is not on the scope of this function, then, line 230 does not make sense.
If it really needs to set file permissions, then, the third argument makes a lot of sense.

[2016-07-25 09:39] jakzal commented on #19347
The method already sets permissions, which are appropriate defaults for a file. Umask is also applied, so you can turn on/off some permissions (i.e. `022` will disable write permissions for group & others). In my experience this is sufficient. That's why I asked for your use case, to understand why this change is needed.

[2016-07-25 09:48] stof commented on #19424
@Th3Mouk are you sure it always return the same result for all locales ?

[2016-07-25 09:49] azatyan commented on #19421
It's a developer's choice like human rights.  If you prefer manually you can write manually.

[2016-07-25 09:51] iltar commented on #19421
Consider it a recommendation of experienced developers to write them out manually. For RAD development I think the current strategy is fine, mainly because refactoring is costly.

[2016-07-25 09:52] azatyan commented on #19421
it can be

"{class}_{action}"   - 1 main bundle
"{prefix}_{action}"  - App name - action
"{bundle}_{class}" - Rest (no action name required)

[2016-07-25 09:52] Th3Mouk commented on #19424
@stof as I see [here](https://github.com/symfony/symfony/blob/8356d15dfa2a7bc13ac500079c6e3223f8682e88/src/Symfony/Component/Intl/NumberFormatter/NumberFormatter.php#L352) yes. But I haven't check manually.

[2016-07-25 09:53] taviroquai commented on #19347
@jakzal
The use case is simple:

1. Using Laravel
2. Uploading a file
3. Setting file permissions 664

Having the third argument, the third step would not be needed.

[2016-07-25 09:55] azatyan commented on #19421
Also this can be bundle-level configuration

[2016-07-25 10:16] iltar commented on #19421
How would you configure this per bundle?

[2016-07-25 10:43] patie commented on #19039
Hi @stof, if i understand where problem is, this - http://symfony.com/doc/current/reference/configuration/assetic.html#full-default-configuration is probably not good example of assetic config, right?

Maybe its good idea change this:

[code]

into something like this

[code]

what you think?

[2016-07-25 10:51] azatyan commented on #19421
there is many ways, maybe in Bundle Class, with some pattern setting

[2016-07-25 11:26] stof commented on #19039
Well, this is showing the *default* config. This is not the same than the recommended config. the recommended config is to whitelist only bundles needing Assetic.

[2016-07-25 11:45] patie commented on #19039
ok, understand

[2016-07-25 12:12] ogizanagi commented on #19421
@azatyan If you don't bother about naming your routes yourself, that means to me that you don't bother about their names in the application.
So why would you need having different strategies ?

[2016-07-25 12:20] xabbuh commented on #19347
@taviroquai But this should already happen when you set your umask to `022`.

[2016-07-25 12:47] taviroquai commented on #19347
@xabuuh
Sorry, I don't understand. Where do I set the umask 022?

[2016-07-25 13:06] ogizanagi commented on #19424
I'd say it's the `Symfony\Component\Intl\NumberFormatter\NumberFormatter::formatCurrency()` which is wrong, because the php native implementation will properly return the proper result with different locales.

However, as you mentioned, the bootstrap form theme seems wrong.

[2016-07-25 13:27] MrMitch commented on #19396
Hi @stof, thanks for the clarification. Do you recommend something I can fix in my code or does the `Asset` component have to be updated to include a way to configure the base path when we use the request-based context and we don't have a Request in the RequestStack ?

[2016-07-25 13:36] Th3Mouk commented on #19424
@ogizanagi thanks for the help.

I don't want to tweak this form type on a decade of projects, only the position of the currency is wrong with the bootstrap bridge, not a blocking bug. I simply use the `MoneyType` of Symfony, that use `formatCurrency()` method.
After tweaking the bridge, I looked a little further into the components.

[2016-07-25 14:14] ogizanagi commented on #19424
@Th3Mouk : AFAIU, there is nothing to do on the component side. The `Intl`component is a replacement layer for the native php intl extension. And the docs state:

— http://symfony.com/doc/current/components/intl.html

So if you have the `intl` extension, you shouldn't suffer from the issue mentioned below.

[2016-07-25 14:18] Th3Mouk commented on #19424
I got the `intl` extension activated, but the € symbol is prepend.

So all `intl` extension users must create their own `MoneyType` ?

[2016-07-25 14:31] ogizanagi commented on #19424
I think there is a confusion: the currency being prepended or appended only depends of the configured locale, not the currency:

[code]

Or do you think there is another issue ?

The line you linked will not be used if you have the intl extension, because the stub provided by Symfony won't be registered, and your code will use the native `\NumberFormatter`.

[2016-07-25 14:38] javiereguiluz commented on #19421
@azatyan I'm afraid that relying on "auto-magic" route names is a very bad practice because even the slightest change in your controllers will break the application entirely.

We added this feature because sometimes a controller doesn't have to be mapped to a route (e.g. when the controller is always used inside `render(controller('...'))` calls). You can think of this as an "anonymous route" ...

[2016-07-25 14:42] Th3Mouk commented on #19424
@ogizanagi thanks !

It's exactly the information that I missed.
If you had a link of piece of code where I can learn a little more.

This issue can be closed in same time of the PR.

[2016-07-25 14:45] ogizanagi commented on #19424
@Th3Mouk Everything you need to know about that is explained in the [component documentation installation section](http://symfony.com/doc/current/components/intl.html#installation).

Glad I helped 😉

[2016-07-25 14:56] azatyan commented on #19421
@ogizanagi  to have choice, for example one dev loves some scheme, other, other...

[2016-07-25 14:58] azatyan commented on #19421
@javiereguiluz  if we create right model, it can be usable for example, auto route name,  like   "shop_view", "shop_edit",  "app_index" "app_about" .

About automation - it should be fully controllable

[2016-07-25 16:37] nicolas-grekas commented on #18611
@boite can't you just decorate a Process instance instead of extending it?

[2016-07-25 16:38] #19390 closed

[2016-07-25 16:38] #6746 closed

[2016-07-25 16:39] nicolas-grekas commented on #19424
@Th3Mouk should be closed? What's remaining? Worth describing in a new issue?

[2016-07-25 16:43] #19424 closed

[2016-07-25 16:44] #19419 closed

[2016-07-25 19:20] #18791 closed

[2016-07-25 20:20] nicolas-grekas commented on #19416
This error shoudn't happen: the call to unlink is prefixed by the silencing operator. It looks like your error handler is broken...

[2016-07-25 20:24] nicolas-grekas commented on #19341
I guess this should be reported on the swiftmailer repos, which is the component triggering the error

[2016-07-25 20:37] nicolas-grekas commented on #19336
Could you please try #19427?

[2016-07-25 20:39] nicolas-grekas commented on #19416
Anyway, could you please try #19427?

[2016-07-25 23:13] sunra commented on #8614
+1 for making this possible/easier out of the box

[2016-07-26 00:46] fernandobandeira commented on #19416
Tried, now the error message gave a full stacktrace:

[code]

I'll download a new php.exe version from http://windows.php.net/download/ and try it again with php 7.0.9

[2016-07-26 04:03] nicolas-grekas commented on #19416
You must have xdebug.scream enabled in your php.ini, isn't it? Then you should disable it, this is only a debugging option that can't be compatible with normal runtime behavior of any php apps.

[2016-07-26 08:05] sagikazarmark commented on #7555
One possible solution  for the "docker problem": create an entrypoint which clears the cache upon every container start (and apply @beberlei's fix). Haven't found a better way so far.

[2016-07-26 08:17] mcfedr commented on #7555
That probably necessary at the moment.
Ideally the cache would be created as part of the build step and so when a container is started its already got the cache - that would give the fastest possible start up time.
I am currently thinking for my own services to inject a getter instead of the parameter directly, that way it will always refer to the environment - but this wont work for existing bund

[2016-07-26 08:22] UlrichEckhardt opened #19429 "Clearing the cache fails because the cache is outdated"
There is a cyclic dependency between the `cache:clear` command and the cached service container itself, causing it to sometimes fail when the services are adjusted.

In order to reproduce this, consider these steps:
1. Create a normal Symfony setup.
2. Create a command using dependency injection (i.e. `services.yml` or similar).
3. Run that command. This will cause the cached service container to

[2016-07-26 08:24] sagikazarmark commented on #7555
The problem is that you cannot determine the VALUE for the environment variable during build time. So when you want to use service discovery, you need to recompile the cache anyway. I agree that it somewhat violates the docker philosophy, but the only solution would be if we could use dynamic parameters (which you can with the library linked by @stof, but it feels hacky to me). Since the environme

[2016-07-26 09:00] jakzal commented on #19162
@aight8 would you mind having a look at #19430? :)

[2016-07-26 09:40] taviroquai commented on #19347
@xabbuh
I suppose you refering setting the umask at system level.

This request is to allow the application to set custom file permissions when moving the uploaded file, giving more flexibility without the need for the developer to repeat the chmod command after moving the file.

Line 230 already has this purpose, set file permissions, in a hard-coded way, which I think is a very bad way. Adding t

[2016-07-26 09:50] stof commented on #19347
@taviroquai but your feature request still respect the system umask. So even if you pass ``0664`` as permission, you will still get ``0644`` as actual permission when applying the ``0022`` umaks (which is the default umask in all Linux distributions I know of)

[2016-07-26 09:50] stof commented on #19347
and not respecting the system umask would be considered a security issue btw.

[2016-07-26 10:03] taviroquai commented on #19347
@stof
That is true.

So, you are giving arguments to not let the application changing the uploaded file permissions using Symfony framework, leaving to the developer to add another operation to change it. Is that right?

[2016-07-26 10:13] SimonHeimberg commented on #19393
@jakzal your images show that this is not a general problem, but only on my installation. I retried today and I'm almost sure the problem showed up on the first try. But when I wanted to dig into it, the problem was gone. Now debug toolbar shows everything as in your images.

Therefore I confirm this bug as closed. And I can not add any details when it could occur.

[2016-07-26 10:14] iltar commented on #19429
I've never seen this before to be honest, it's correct that you get an exception because 1 argument is missing. If you would've changed the service definition, the container has to be rebuild either way and in dev will be done automatically.

I agree. They are loaded because the instance is required to return the name of the command. There are alternative ways to do so (tagging, static functions f

[2016-07-26 10:16] stof commented on #19347
Well, I'm saying that your own proposal will not solve your use case.

[2016-07-26 11:32] pkruithof opened #19431 "[cache] Filesystem adapter sets incorrect timestamps"
The new Cache component uses the filesystem adapter by default.

[code]

The modification date is incorrect here: 9223372036854775807. When I stat it, I also get this date:

[code]

Test that it's incorrect:

[code]

[2016-07-26 13:18] stof commented on #19429
@iltar this is the common issue about using the console to clear the cache: in a non-debug environment, this requires to boot the kernel in the new codebase, but with the old cache (as it does not check for freshness).
This is impossible to fix as long as we want to keep ``app/console cache:clear`` instead of using a standalone script to clear the cache (independent from the kernel being booted to

[2016-07-26 13:18] stof commented on #19429
btw, there are a bunch of other changes which can cause similar issues. So only catching exceptions during the registration of commands will not help

[2016-07-26 13:37] iltar commented on #19429
I have to admit that I simply use `rm -rf var/cache/*`.

I guess this simply emphasizes the need of metadata about commands.

[2016-07-26 14:14] theofidry commented on #19291
@kix I would say it still is. You are write, "wither" and so are actually non-static factories. However because they are non-static, they require an instantiated factory which is the instance itself.

To me this would still fall within the responsibility of an hydrator: you have an object and properties to populate, and you and a populated object. That the populated object is the same or not than

[2016-07-26 14:20] nicolas-grekas opened #19436 "Invalid Yaml accepted"
`{1:""}` [is invalid yaml](http://yaml-online-parser.appspot.com/?yaml=%7B1%3A%22%22%7D&type=json), but our parser accepts it.
It should be `{1: ""}` (space after `:`)

[2016-07-26 14:28] stof commented on #19436
how does it parse it currently ?

[2016-07-26 14:30] boite commented on #18611
Thanks for the suggestion @nicolas-grekas, I will give it a go.

[2016-07-26 14:33] nicolas-grekas commented on #19436
[code]

[2016-07-26 15:19] mcfedr commented on #19001
I just came across this issue today, I am also injecting the `name` into the command.

When looking at the `AddConsoleCommandPass` - I dont see the need for the alias that it adds - why not just use the user given `id` of the service, it already uniquely identifies the command

[2016-07-26 15:49] Ener-Getick commented on #19001
@mcfedr the alias is used in ``Bundle`` to detect if the command has already been loaded (as they don't need to be registered as services).

[2016-07-26 18:42] Haehnchen opened #19440 "[FrameworkBundle] Move AddConsoleCommandPass to Console component"
After i integrated `console.command` tags into Shopware https://github.com/shopware/shopware/pull/559 we hade a discussion about `Symfony\Bundle\FrameworkBundle\DependencyInjection\Compiler\AddConsoleCommandPass` and its FrameworkBundle dependency.

A project with `symfony/console` and `symfony/dependency-injection` need to copy this CompilerPass. @bcremer and @xabbuh had some ideas to move this c

[2016-07-26 19:13] HeahDude commented on #19355
Let's close here.

[2016-07-26 19:24] xabbuh commented on #19436
I'll look into it.

[2016-07-26 20:24] #19355 closed

[2016-07-26 21:01] lainosantos opened #19441 "Input values setted by console.command event are cleared"
The input values setted by console.command event are cleared by Symfony\Component\Console\Command\Command::bin() called by Symfony\Component\Console\Command\Command::run()

[2016-07-27 06:34] iltar commented on #19440
This class can indeed be outside of the `FrameworkBundle`.

If you want to optimize the information of the command, you'll have to somehow make the configuration static or extract it all together. This makes it possible to lazy-load the commands.

[2016-07-27 07:04] mcfedr commented on #7555
I agree, its complete safe to rebuild, but it takes time and it would be nice to avoid that. As far as I can tell, without a serious overhaul of the DI component rebuilding will remain necessary.

[2016-07-27 07:12] bcremer commented on #19440
I would like to move `Symfony\Bundle\FrameworkBundle\DependencyInjection\Compiler\AddConsoleCommandPass` to
`Symfony\Component\Console\DependencyInjection\AddConsoleCommandPass`.

This would be consistent with the existing compiler passes in other components like `Symfony\Component\HttpKernel\DependencyInjection\FragmentRendererPass` or
`Symfony\Component\EventDispatcher\DependencyInjection\Regist

[2016-07-27 08:56] jjanvier opened #19444 "[Intl] Minimum stability problem of the component Intl"
Is there any reason why intl is declared as "mininum-stability: dev" on all its tags?

It seems really weird as now you recommend to replace `symfony/icu` by `symfony/intl`.

[2016-07-27 09:00] stof commented on #19444
``mininum-stability`` is a root-only setting. It only affects composer when the package installs its own dependencies for testing purposes. And we always run our tests against dev version of our dependencies in Symfony.

The ``mininum-stability`` has strictly no impact on the usage of the component.

[2016-07-27 09:00] #19444 closed

[2016-07-27 10:00] k0pernikus opened #19445 "[ExpressionLanguage]: Lexer should provide information to malformed file and/or expression on SyntaxError"
If a malformed expression syntax is provided in a yaml service config, e.g:

[code]

(The `r` should be a `'`)

The SyntaxError looks like:

[code]

There's no information provided what file caused the error, nor the line, nor the faulty expression is echoed so I had to start a xdebug session to find out the yml file in error.

I would have expected the information to read like:

[code]

[2016-07-27 11:25] JuliusKoronci commented on #16879
Hi, I am using the UrlGeneratorInterface and still the path is relative

[2016-07-27 12:44] stof commented on #19445
The ExpressionLanguage has no knowledge about about where the expression string was created (and adding such context would be a nightmare actually).
But adding the expression itself in the error message would indeed already help (note that the expression is only ``service(rba.context.factory').create()``; ``@=`` is not part of it, it is only the syntax the DI YamlFileLoader uses to know that the a

[2016-07-27 12:50] TobiasXy opened #19447 "No $errorNames in UniqueEntity constraint"
It seems all (or at least most) of the base validation constraints (Symfony\Component\Validator\Constraints) set an error code when they are building the ConstraintViolation.

But: The UniqueEntity constraint (\Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity) does not.
I currently create an API where I want to provide the users error codes with every constraint violation.
How am I suppo

[2016-07-27 13:12] jakzal commented on #19447
Which error code do you mean? The UniqueConstraintValidator [sets the error code](https://github.com/symfony/symfony/blob/36ec08563e616e6e73f153cca5e77c964dce433f/src/Symfony/Bridge/Doctrine/Validator/Constraints/UniqueEntityValidator.php#L138) just like other validators:

[code]

[2016-07-27 13:16] HeahDude commented on #19447
https://github.com/symfony/symfony/pull/19309 will be part of next releases.

[2016-07-27 13:16] HeahDude commented on #19447
and https://github.com/symfony/symfony/pull/19333 as well.

[2016-07-27 13:18] jakzal commented on #19447
Cool, closing than :)

[2016-07-27 13:18] #19447 closed

[2016-07-27 13:37] TerjeBr commented on #6036
@fabpot Any input on how to solve this? Should I update my #6388 pull request?

[2016-07-27 13:51] dunglas commented on #19440
It can be a soft dependency: test if the pass class exists with class_exists before registering it. If the console component is not installed, the pass will not be registered.

[2016-07-27 14:07] bcremer commented on #19440
@dunglas I did something similar in the pull request: https://github.com/symfony/symfony/pull/19443/files#diff-687bdbb38a4dc672ca2a79f23e764892R95

What about `Symfony\Bundle\FrameworkBundle\DependencyInjection\Compiler\AddConsoleCommandPass`? Should it be removed?

If it stays and it can be deprecated but we cannot delegate to the new pass since it might not be present.

[2016-07-27 14:41] dunglas commented on #19330
@goetas Indeed the Symfony Serializer doesn't (and will probably never) support advanced XML features such as namespaces. You need to use another tool for that.
However it is very good to export PHP structures to a 1:1 structure in a standardized format. For instance take a look at we've done in the v2 of API Platform: a graph of entities can be exposed in a bunch of standard formats using content

[2016-07-27 14:47] theofidry commented on #19330
@dunglas I remember seeing this comment it would indeed be a very nice opportunity to both improve drastically performances of the Serializer and rework the extend points.

I think we should include https://github.com/symfony/symfony/issues/19291 in the loop as well, in your comment you are talking of changing some things in `PropertyAccessor`, I think it's worth checking how we could do that to a

[2016-07-27 14:53] jjanvier commented on #19444
@stof it has an indirect impact for us.

Imagine you have a package A that uses symfony/intl. Package A minimum stability is stable.
The package B requires package A. Package B minimum stability is also stable.

Now we have to change the package B composer.json to add symfony/intl.

[2016-07-27 14:56] stof commented on #19444
no, you don't. ``minimum-stability`` is root only. It does not mean that you can only use dev versions of symfony components. The requirement constraints used in the component totally allow to fulfil them with stable release.

I think you are misunderstanding how composer works

[2016-07-27 16:00] k0pernikus commented on #19445
@stof I will work on a PR to add the expression text in the exception.

[2016-07-27 22:33] syrinesa opened #19453 "Conflict ICU Symfony 2.8"
Configuration Checker

This script analyzes your system to check whether is ready to run Symfony applications.

RECOMMENDATIONS
To enhance your Symfony experience, it’s recommended that you fix the following:

intl ICU version installed on your system (57.1) should match the ICU data bundled with Symfony (55.1)
In most cases you should be fine, but please verify there is no inconsistencies between

[2016-07-28 01:33] Tobion commented on #19453
Closing as there is no problem description except the copy pasted text from the config checker.

[2016-07-28 01:33] #19453 closed

[2016-07-28 07:16] #16777 closed

[2016-07-28 07:16] #19336 closed

[2016-07-28 07:17] #19416 closed

[2016-07-28 09:59] Marcpepe opened #19462 "Profiler - DateTime::__construct(): Failed to parse time string"
Hi,

I am getting an error in the Profiler :

[code]

It refers to [this line](https://github.com/symfony/symfony/blob/3.0/src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/layout.html.twig#L33) (I'm using version 3.0).

Any idea were it might be coming from ?

If it's any help, I am having the problem on both 5.5.28 and 5.6.24 versions..

Any help is appreciated !

[2016-07-28 11:23] Fuzzyma opened #19463 "hiddeninput.exe not testable with interactive input"
I wrote a console command which makes use of the `setHidden` feature to enter passwords.
When I wanted to test this command I came across a strange issue. My phpunit was stopping and hanging in the `hiddeninput.exe` process. Obviously the console was waiting for input.
`hiddeninput.exe` ignored my input given by

[code]

I then was able to "unfreeze" my console by just giving the desired input to

[2016-07-28 11:25] stof commented on #19463
This is logical, because ``hiddeninput.exe`` does not use stdin to ask for the value (because stdin cannot be hidden on windows)

[2016-07-28 11:26] Fuzzyma commented on #19463
Is there any way to test this properly?

[2016-07-28 14:53] ruttencutter opened #19467 "StreamedResponse creates Duplicate Response Headers with small message body"
I'm running into an issue using a StreamedResponse to return a file to the user that can be limited in size by a post parameter.  In some cases, we return 10,000 rows, and in others only 4.

Since upgrading to Symfony 3.x our tests related to small sized files have broken on our front end because of duplication of the Symfony-Derived HTTP headers:

apiVersion (we inject this one time via a kernel.

[2016-07-28 15:21] ohaag opened #19469 "[FrameworkBundle] AddRequestFormatsListener priority not enough high for RouterListener"
Hello!

I was wondering about priority problems in _FrameworkBundle_ in Symfony 2.8 at least.

Both of them listen on _kernel.request_ but [_RouterListener_](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/HttpKernel/EventListener/RouterListener.php) has a 32 priority and [_AddRequestFormatsListener_](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/HttpKernel/Ev

[2016-07-28 17:13] Jakobud opened #19471 "VarDumper Parse Error: Expected String when dumping JSON"
I have a decoded JSON string that I am dumping using VarDumper. Actually I'm using Laravel's `dd()` method (dump & die) but it uses VarDumper in the background. Here is the framework code:

https://github.com/laravel/framework/blob/be353964453ee0f750e6562419a32d387e8909f0/src/Illuminate/Support/helpers.php#L508

Anyways, here is a screenshot of what I'm getting:

![screen shot 2016-07-28 at 11 09

[2016-07-28 17:24] stof commented on #19471
what is this Error thing displayed here ? Where does it come from ?

[2016-07-28 19:32] Jakobud commented on #19471
I assumed it was part of VarDumper. Is it not? Here is the DOM:

![screen shot 2016-07-28 at 1 31 48 pm](https://cloud.githubusercontent.com/assets/87356/17226654/bd7e1dde-54c7-11e6-8055-c5d6491ee629.png)

If this is not apart of VarDumper I apologize.

[2016-07-28 19:38] Jakobud commented on #19471
Ah man this was some stupid chrome extension I had installed. Sorry I thought this was part of VarDumper. Sorry!

[2016-07-28 19:38] #19471 closed

[2016-07-29 06:46] xabbuh commented on #19436
see #19472

[2016-07-29 08:02] #19431 closed

[2016-07-29 08:47] SebastienTainon commented on #19318
In fact, every time an exception is thrown while a command is being executed, the exit status code is 0.

That does not make great sense, because it means the command resulted in a success, which it didn't.

Instead if an exception in thrown in a command, the exit status code should be greater than 0 so that the programs that read the output of the command can understand that there was a failure.

[2016-07-29 09:35] andkirby commented on #11572
Yeah, this is really overhead to check such options...
[code]
Is there any simpler way?..

[2016-07-29 09:40] anacicconi opened #19475 "Bus error on composer install"
One of my colleagues is having a problem running composer install on his computer. I'm not sure it's a bug related to Symfony but, as I can't find any information on internet, I would like to know if anybody have already had this issue and know how to solve it.

    Sensio\Bundle\DistributionBundle\Composer\ScriptHandler::clearCache
    Bus error
    Script Sensio\Bundle\DistributionBundle\Compose

[2016-07-29 09:56] #19095 closed

[2016-07-29 13:42] aledeg opened #19477 "[Workflow] documentation link is not working"
In the https://github.com/symfony/workflow repository, the link to the documentation is not working.
The current link is https://symfony.com/doc/current/components/workflow/introduction.html which returns a 404.

[2016-07-29 13:55] stloyd commented on #19477
It will be correct after official release of Symfony 3.2 in which this component will be introduced, cause if you go to "master" (documentation for upcoming release) you will see it's working: http://symfony.com/doc/master/components/workflow.html

[2016-07-29 13:57] lyrixx commented on #19477
Duplicate of #19423

[2016-07-29 13:57] #19477 closed

[2016-07-29 14:44] carbontwelve opened #19479 "[3.1][Filesystem] Copy not able to write to a writable path"
I am running version 3.1 of the Symfony Filesystem library on a desktop running PHP 5.6.24 (cli) (built: Jul 20 2016 21:19:24) on Windows 7.

When trying to copy a file from one location to another via `$filesystem->copy(..., ...)` it throws a IOException saying that the _target file could not be opened for writing_.

I have confirmed that the target can be written to via using `file_put_contents`

[2016-07-29 15:26] carbontwelve commented on #19479
Closing this because after some additional poking about I discovered I was using `copy` wrong.

[2016-07-29 15:26] #19479 closed

[2016-07-29 16:50] drm opened #19482 "FileSystem::makePathRelative is broken when resolving less than two path elements"
Running:

[code]

gives:

[code]

Expected is: `../home/user`.

However,
[code]

gives the expected `../../home/user/drm/`

[2016-07-29 17:14] lecneri opened #19483 "HTTP Status header if we prefix route"
Hi,

Imagine you have a controller FooController and you want to prefix all routes from this controller of it with /foo. Eg.: /foo/bar, /foo/foo, etc.

I don't know if I'm doing wrong but I use @Route annotation at class declaration, and works very well for me. Today when I was creating a test class, happened to isSuccessful() from Response was returning false, and I found out that was because the

[2016-07-29 18:03] Tobion commented on #19482
`home/user` is correct. Why do you expect something else?

[2016-07-30 03:43] bhavin-nakrani commented on #19483
Can you paste code how you generate url for ```/foo```?

[2016-07-30 06:43] andho commented on #8703
Happened to me today. Fixed after running `./bin/console cache:clear`.

Also when running `php -S 0.0.0.0:8000 ../vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Resources/config/router_dev.php` from withing the web folder, symfony was able to display the error.

Another thing to note is, nothing goes into the symfony log. I didn't turn on php error log though.

[2016-07-30 06:53] andho commented on #8703
False alarm (bug not fixed). `./bin/console cache:clear` did fix the issue with `$foo->bar()`. But the real error caused by `$form->handleRequest($request);` which ended up with the following fatal error `PHP Fatal error:  Call to a member function add() on null` was not shown by Symfony.

Also note that display errors is on.

Symfony 3.1.2

php -v:
PHP 5.6.11-1ubuntu3.4 (cli)
Copyright (c) 1997-2

[2016-07-30 09:33] krisdante commented on #16823
Wouldn't it be better to extend LdapBindAuthenticationProvider the way how LdapUserProvider is configured already - so it accepts searchDn with the password, and then filter to find user's DN based on condition like (uid={username})?
This way Authentication will be independent of Provider.

If you think that would be reasonable I can implement that.

[2016-07-30 17:14] jameshalsall commented on #19318
@SebastienTainon this isn't true...

[code]

@breathbath your test is wrong, you are using `&&` to combine the console command *and* the echo into a single operation, so the `echo $?` isn't returning the exit code of the console command, try this:

[code]

and you will see the exit code is 255

[2016-07-30 17:17] jameshalsall commented on #19483
A 301 response code is not in the class of status codes that indicates a successful response (2xx): http://www.restapitutorial.com/httpstatuscodes.html

[2016-07-30 19:17] drm commented on #19482
I expect the behaviour to describe as "when I am in `/var`, how would I cd to `/home/user`".

[2016-07-30 21:08] Tobion commented on #19482
You probably misinterpret `/var/` and `/var`. The above output is correct.

[2016-07-30 22:57] drm commented on #19482
You are "probably" misinterpreting the issue here.

First, the slash makes no difference. Please investigate your assumptive claims before you make them
Second, if you feel this is good and consistent behavior, please explain it to me so we can at least improve the documentation.

[code]

output:
[code]

[2016-07-30 23:37] kalti opened #19493 "Symfony\Component\Console\Style\SymfonyStyle::ask fails formatting output correctly if last character of $question or $default is an escaped Backslash"
[code]

This code snippet will print the following in command line:
[code]

- symfony/console v3.1.3
- php v7.0.9
- Mac OSX v10.11.6

[2016-07-31 00:00] ghost opened #19494 "BirthdayType Field: Incorrect option text with default years parameter"
Symfony: 2.8.*
PHP: 5.6

I didn't see someone report this bug. Excuse me if it's already listed.

When I use BirtdayType Field and use the default years parameter or set higher than 114 years, the select option text is not correct.

[code]

[code]

[2016-07-31 00:10] Tobion commented on #19482
All I can say is that

is correct according to RFC 3986 (I assume the same is also true for filesystems).

This looks wrong as it then should be `../me`

[2016-07-31 03:05] #19318 closed

[2016-07-31 09:04] javiereguiluz commented on #19463
If someone can think of a trick to test this, please share it. Otherwise, we'll add a note in the docs explaining that this cannot be done. Thanks!

[2016-07-31 14:03] sstok commented on #19463
Basically you would have to extend the QuestionHelper (set hidden to false) and overwrite it in the HelperSet.

We did this for maxAttempts in Gush https://github.com/gushphp/gush/blob/0ae54b1da803767112dbe509dcb96545539cd964/src/Helper/GushQuestionHelper.php (hmm, return value of `getName()` is wrong)

[2016-07-31 19:30] lecneri commented on #19483
@jameshalsall  but the code I used above returns header 301, and I'm here to discuss if the example above shouldn't be in success class.

@bhavin-nakrani You meant /foo root? If so, all u gotta do is use only / in @Route annotation above the action
`
/**
 * @Route("/")
 */
public function indexAction()
{
   return new Response("index Action");
}
`
Sorry be this short but type code using tablet is

[2016-07-31 19:45] lecneri commented on #19475
Try using with -vvv which is more verbose and will give u more details

[2016-08-01 07:29] javiereguiluz commented on #19421
I'm closing this issue as "won't fix" because it received some `-1` votes from Symfony Core members and they provided technical reasons.

@azatyan it's sad when a proposal doesn't make it ... but please keep sending them because technical discussions about anything are always a good thing! Thank you.

[2016-08-01 07:29] #19421 closed

[2016-08-01 08:44] anacicconi commented on #19475
Hi @lecneri, thanks for your answer but this is already the output we have when we run the command with verbose mode. The only information is: Script Sensio\Bundle\DistributionBundle\Composer\ScriptHandler::clearCache handling the post-install-cmd event terminated with an exception

[2016-08-01 15:53] adamelso commented on #16930
I had the same issue. It's reproducable if one of the container parameters is set to `\e[C` - the result of me accidently pressing control keys when providing distribution parameters during composer install.

[2016-08-01 16:20] MacDada opened #19500 "Missing PhpDocs for object fields"
Example: https://github.com/symfony/symfony/blob/v3.1.3/src/Symfony/Component/Security/Core/Authentication/AuthenticationProviderManager.php#L33

Could be like:

    /**
     * @var AuthenticationProviderInterface[]
     */
    private $providers;

Or at least:

    /**
     * @var array
     */
    private $providers;

Adding PhpDocs would ease up reading the code, as one could just see the type

[2016-08-01 18:48] robfrawley commented on #19482
Per RFC 3986:

This RFC has no applicability to local file systems; in fact it doesn't mention them in any complicity. The behavior described by @drm is indeed not what *anyone* would expect for a file system utility.

[2016-08-01 19:34] iltar commented on #19500
Your IDE can already determine the type based on the constructor argument provided actually. In your example that would be: https://github.com/symfony/symfony/blob/v3.1.3/src/Symfony/Component/Security/Core/Authentication/AuthenticationProviderManager.php#L40

Imo docblocks should only be added if they add something. This could be scalar types, collection/generic type (`Foo[]`) or types otherwise

[2016-08-01 19:53] robfrawley commented on #19500
@iltar I agree with the first point in your post, but I take issue with

Assuming the symfony teams wants open source collaboration, pull requests, etc (which I'm sure they do) they need to make sure their code is easy to understand, and this absolutely includes property types.

[2016-08-01 20:10] georaldc commented on #19494
This sounds like a 32bit issue. The code that generates the choices for your dropdown makes use of the php function gmmktime, which is basically the mktime function that takes in a GMT date (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Core/Type/DateType.php#L311).

According to mktime (http://php.net/manual/en/function.mktime.php), regarding the ```year``` a

[2016-08-01 20:26] Tobion commented on #19482
If the path is not ending with a slash the last segment is the file and nor a directory. That is convention in every file system. Closing because the given result is correct and changing it would be a BC break anyway.

URIs have a "file` scheme to reference files. And every web server uses URIs to reference and resolve relative paths to static files. Guess how you reference assets like images. I d

[2016-08-01 20:26] #19482 closed

[2016-08-01 20:50] georaldc commented on #19494
Hmm, I did a bit more digging and well, I'm not really sure but I think the part that may be causing dates to shift forward to 2037 is when the DateType class formats the timestamps it receives by creating a DateTime instance and extracting the year value out of it. Problem is negative timestamps that go past 1902 return unexpected results. On my local machine, it spits out 2037 and will probably

[2016-08-02 04:19] RoSk0 opened #19502 "Allow Workflow code reuse"
I want to extend Symfony\Component\Workflow class to make my specific workflow.
The only thing that I need to change is doCan() method, but I can not do it because it is **private**. So my question is should I create completely new class copying all the code and modifying small bit(which seems wrong) or I can submit a pull request to change methods visibility? I'm pretty new with Symfony so sorry

[2016-08-02 04:27] robfrawley commented on #19482
Hence an RFC specifically about URIs is not applicable to file systems.

Again, URIs !== file systems. Also, I know what a web server is, irrespective of your tone.

Let the authors of NTFS, BtrFS, XFS, ext[2,34], etc know, as this is not how any file system behaves.

[2016-08-02 04:39] robfrawley commented on #19502
I have no authority with regard to accepting PRs for this project, but I can point out that several PRs of the same character have recently been accepted. I'd just go for it and create one. Unless there is a reasoned issue to obfuscate/limit extensibility (such as sensitive data like you'd find in a security-related component), there shouldn't be an issue.

[2016-08-02 04:44] robfrawley commented on #19482
@Tobion I think I understand the disconnect after reviewing this. To @drm and myself, a method named "make**Path**Relative" should operate on paths. You assert it should strip what **could** be a file, without any way to reason whether this is true or not. Perhaps this method should be renamed to `makeFilePathRelative` and a new method named `makeDirPathRelative` should be created, with `makePathR

[2016-08-02 07:19] xdemoor commented on #19494
You're right. If I use PHP 7 on my WampServer 3 (64bit), I have PHP_INT_SIZE = 8 (64bit). But If I'm using PHP 5.6, I have PHP_INT_SIZE = 4 (32bit).

[2016-08-02 08:05] nicolas-grekas commented on #19500
The policy about phpdoc blocks is: only when it adds value. Since "adding value" is a subjective thing, we deal wth it on a case by case basis. E.g. when some docblock duplicates some obvious signature method, we prefer not adding it. etc.

Closing as this issue is too broad for this reason.

@MacDada if you find some comments that are missing and add clear value, please open PRs. But experience,

[2016-08-02 08:05] #19500 closed

[2016-08-02 08:21] ad3n opened #19505 "[ASK] Show Profiler in Production When Logged In As Super Admin"
I read this article

[code]

And try to show profiler even in production but only for Super Admin.

My Step:

1. I move `new Symfony\Bundle\WebProfilerBundle\WebProfilerBundle(),` to global bundle (not only on test or dev)

2. I follow this tutorial `https://symfony.com/doc/current/profiler/matchers.html#creating-a-custom-matcher`

The problem:

My profiler always show, not only for super admin.

[2016-08-02 08:33] sstok commented on #19505
Please use one of the support channels to get support: http://symfony.com/support

Make sure you clear the cache `bin/console cache:clear --env=prod --no-debug` whenever you change the configuration for production.

[2016-08-02 08:36] noniagriconomie opened #19506 "[DX][WDT] Link to last 10 into navbar"
Hi all

It would be great if from the WDT, we could access this url
_profiler/{token}/search/results?ip=&limit=10 direclty (the last 10)

In fact, my use case is, when I want to check my "post" request, which actually redirect to a "get" one, i have to click on the route status 200, then last 10, then find my "post" request. A long process.

Or better if it is possible, have the link as well to th

[2016-08-02 08:40] ad3n commented on #19505
Sorry, it is my mistake

[2016-08-02 08:40] #19505 closed

[2016-08-02 08:54] mpyw commented on #19162
👍

[2016-08-02 09:15] unkind commented on #19502
If you really need to replace default behaviour of `doCan`, think about it in this way: it probably means that `Workflow` should have some kind of strategy and you want to replace default strategy with another one:
[code]
It's way better than solve your issues with inheritance:
[code]

[2016-08-02 09:46] COil commented on #17273
I am facing the same issue, in a twig extension I inject the request stack, but at the 1st call, the `getGlobals()` function tries to get the current request of the request stack property and it's null. (Symfony 3.1.3) , how to do in this case ? (I want to access the server parameter bag)

[2016-08-02 10:16] #19162 closed

[2016-08-02 10:20] xabbuh commented on #17273
@COil Do not use the request stack when registering your custom stuff, but only refer to it when some of your functions/variables are actually being called.

[2016-08-02 10:45] yellow1912 commented on #13821
I need this as well, for getting the original configurations of a specific route since the URLGenerator does not expose its routeCollection. I wonder if using decorator is the right approach in this case?

[2016-08-02 10:46] #19436 closed

[2016-08-02 12:20] COil commented on #17273
@xabbuh Well I switched from a twig global to a twig function and it is now ok.

[2016-08-02 13:10] rvanlaak commented on #3622
@ABM-Dan in addition I'd assume that `AddressType` should be usable outside of the scope of your situation too right? We have other pages that should be able to use the type. So ideally, we do not want to change the `validation_groups` on the entity or type for every scenario.

Next to that, we also want to validate them dynamically [using a closure as documented here](http://symfony.com/doc/curre

[2016-08-02 13:14] drm commented on #19482
Only too often do discussions like these end up in semantics :)

Whether or not you want to follow the RFC, doesn't really matter much. The point is that currently the component behaves inconsistently and whatever the chosen solution is, I don't really care too much, even though I have a slight preference for only supporting directories for the second argument (simply naming the second argument to

[2016-08-02 13:56] MacDada commented on #19500
@iltar Not always. [EventDispatcher](https://github.com/symfony/symfony/blob/v3.1.3/src/Symfony/Component/Security/Core/Authentication/AuthenticationProviderManager.php#L35) is not constructor–injected but [setter–injected](https://github.com/symfony/symfony/blob/v3.1.3/src/Symfony/Component/Security/Core/Authentication/AuthenticationProviderManager.php#L61). Good luck with IDE guessing.

Anyway,

[2016-08-02 14:03] iltar commented on #19500
Whether or not setter injection is good, is definitely debatable

[2016-08-02 14:04] hackeurtalibe opened #19509 "accessing protected member in the class CacheItem without setter"
in the construct of the ArrayAdapter class in the Cache colmponent the protected member in the CacheItem class are accesssed directly

[2016-08-02 14:29] iltar commented on #19509
So what's the problem?

[2016-08-02 16:03] georaldc commented on #19494
Related issue found here if you want to do more reading on it

https://github.com/symfony/symfony/issues/5227

[2016-08-02 16:53] dprocaccini opened #19513 "Links for documentation not consecutive (prev/next links)"
There are few articles whose "« previous" link do not actually match the article that came before it.
Examples:

Breadcrumb | Link | Previous | Next | Errors/Notes                                      
|:---|:---|:---|:---|:---|
Home / Documentation / Routing | http://symfony.com/doc/current/routing.html | « The Routing Component | Controller » | Since this is the Routing page under "Getting Start

[2016-08-02 16:56] xdemoor commented on #19494
Thank you. It's marked to fixed for 32bit, but it's not the case.

In the documentation, I see the warning for this bug, but only If I use input timestamp. In this case, I use the default option (datetime).

Or maybe I missed something ?

[2016-08-02 17:28] georaldc commented on #19494
Looking at the fix, it was supposed to prevent dates from wrapping around since it skips gmmktime calls that return false. While still not exactly the best outcome for 32 bit setups, it should have constrained your years dropdown to just 1902 - 2037 so I'm not sure how yours continued to wrap around.

I'm not too familiar with these components so hopefully someone else can point you better to the

[2016-08-02 17:35] xdemoor commented on #19494
I'm not familiar too. :)

[2016-08-02 17:43] georaldc commented on #19494
If I were to guess, the rule should state:

[code]
```choice``` is the default for widget value for BirthdayType

[2016-08-02 18:05] MrMitch commented on #19396
ping @stof @javiereguiluz : do you have any suggestion as to how I can fix this in my code or if it has to be fixed in the `Asset` component ?

[2016-08-02 18:15] mysterty opened #19514 "Group choices when expanded is true"
Hello,

Actually choices are grouped when using the `group_by` capability only if expanded is `false`.
It should be also possible to group choices also when expanded is `false`:

[code]

http://symfony.com/doc/current/reference/forms/types/entity.html#group-by

[2016-08-02 19:19] iltar commented on #19513
Can you reopen this issue in the docs repository? https://github.com/symfony/symfony-docs/

[2016-08-02 23:24] hackeurtalibe commented on #19509
The problem is that a protected property cant be accessed directly in a class that does not extend that class as you know it

Envoyé de mon iPhone

[2016-08-02 23:25] hackeurtalibe commented on #19509
If you look at the class ArrayAdapter in the constructer you'll see

Envoyé de mon iPhone

[2016-08-02 23:26] hackeurtalibe commented on #19509
And even phpstorm signals this error

Envoyé de mon iPhone

[2016-08-02 23:30] RoSk0 commented on #19502
@unkind Your totally right and it already have - **Definition** and **MarkingStore**. I didn't completely got how it supposed to work from the beginning and bug my code that was creating definition got me to that state. Now when I have fixed that bug and got better understanding of the process it makes more sense why the **Workflow** class is so restricted to extension - there is no need in it.

[2016-08-02 23:30] #19502 closed

[2016-08-03 02:21] behramcelen commented on #5827
👍  for weight on core. probably weight will be more useful then after/before. Also symfony event subscribing works with weight logic.

[2016-08-03 05:57] iltar commented on #19509
That's because it uses the closer bind method to reach them: https://ocramius.github.io/blog/accessing-private-php-class-members-without-reflection/

[2016-08-03 08:20] drm commented on #19482
@Tobion this really is not solved yet.

[2016-08-03 08:52] steevanb opened #19516 "Double validation for constraints on Interface"
Hi !

I have this kind of code :
[code]
If i create a constraints validator on AbstractBar, like this :
[code]
MyConstraint is called once.

But if i just change AbstractBar by FooInterface in config :
[code]
MyConstraint is called twice !

I can't search why for now, someone could do it please ?

[2016-08-03 10:39] javiereguiluz commented on #19513
Moved to https://github.com/symfony/symfony-docs/issues/6836.

[2016-08-03 10:39] #19513 closed

[2016-08-03 10:41] javiereguiluz commented on #19514
@mysterty just to make things more clear. Do you think this is a bug we should fix or better explain in the docs ... or are you asking to add this feature to the Form component? Thanks!

[2016-08-03 11:36] pascalwacker opened #19517 "500 Error: The required option "class" is missing when using form with EntityType as parent"
@wouterj  I think, I found the same bug as mentioned in https://github.com/symfony/symfony/issues/17299 in Symfony 3.1.3

What I try to do, is to have a custom file uploader.
FormField:
[code]

My Entity contains:
[code]

And the view file looks like this
[code]

The Form:
[code]

When rendered with a `ChoiceType` as parent, it renders the form, but the controller says, that the form isn't valid.

[2016-08-03 12:25] stickyhands commented on #19467
+1 met the same problem few days ago

[2016-08-03 13:16] HeahDude commented on #19517
@pascalwacker The problem comes from your type which has `EntityType`as parent so it inherits its option, and `class` is required in that case.

When you set `ChoiceType` as parent the value of your hidden field (in your example "1") should match a string value of one of the choices passed through the `choices` option in your field, and it seems you don't passed any.

[2016-08-03 13:37] cdekok opened #19518 "Call to protected method Symfony\Component\Console\Helper\Helper::strlen()"
Ok this is a bit weird as i can see the strlen helper is a public method?
But I get this error comming from grumphp.

When i remove the Helper::strlen call in Progressbar it does work, what is even stranger is that when i dump $this->max

I see the following:
[code]
So the first time it goes in with a 0 no prob, then on 1 it bails out, anybody have a clue what this could be?

[code]

Full stacktra

[2016-08-03 14:47] ABM-Dan commented on #3622
@rvanlaak I'm not entirely sure what you mean by that. My example described a small and pretty common occurrence in which having validation groups for @Valid would be useful.

[2016-08-03 15:11] yanict commented on #10108
Hi,
even after investigating during hours, I don't see a correct solution to this.
could @lavoiesl  or @aitboudad give some inputs ?

I'm working on symfony 2.7.
I have a choice field and its labels need to be translated in plural.
I was thinking to use the %count% parameter but still, I don't understand how I can pass a parameter to the translation there.

Thanks a lot for your help.

[2016-08-03 15:39] mysterty commented on #19514
According to the doc, it's a bug, cause it isn't said it works only when `expanded` is `false`.
But as i know you and symfony, i think it's more a request to add this feature ;)

[2016-08-03 15:45] jhdxr opened #19520 "Windows 10 does not support console colors any more"
#18385 introduced CLI color suport under Windows 10, and I confirm that works when I use win 10.0.10586.

However, I upgrade to the redstone version (10.0.14393), it seems the color support has been removed.

[2016-08-03 16:02] jameshalsall commented on #19518
What symfony version? I'm assuming 3.0 or 3.1?

Can you post your code that is using the ProgressBar?

[2016-08-03 16:04] jameshalsall commented on #19520
I imagine this is because Ubuntu bash has been added in this release.

[2016-08-03 16:15] peteraba commented on #19475
@anacicconi I'm almost certain that it has to do with the a volume being linked from the host. try the following:

1. tty into the container (docker exec -it containerhash bash)
2. copy `composer.json` into `/tmp` (for example);
3. run composer install
4. move the `vendor` directory back to the source directory.

[2016-08-03 17:20] rvanlaak commented on #3622
Yes I agree to your scenario, what I meant to say is that we have an `Address` without specific validation groups that simply is used to add addresses.

Next to that, we also have a page where we can apply multiple scenarios on that same `AddressType`, but we want to apply a `validation_group` to the `Address` there so it can be combined with other fields related to the scenarios.

[2016-08-03 17:35] xabbuh commented on #19518
Please give us some code that makes it able to reproduce your issue and also paste the full stack trace for this error.

[2016-08-03 17:40] xabbuh commented on #19516
Can you please fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-08-03 17:41] xabbuh commented on #19509
Closing here as this is not a mistake. Note that you may have to change your PhpStorm settings (the PHP version used for validation) to not display any errors here.

[2016-08-03 17:41] #19509 closed

[2016-08-03 17:47] xabbuh commented on #19483
I do not understand how you are actually accessing your application when you get this error (probably a functional test?). Can you please fork the Symfony Standard Edition and make the changes that are necessary to reproduce your issue?

[2016-08-03 17:51] xabbuh commented on #19441
Please provide some more details about the issue you are experiencing (what did you expect, what happened instead) and how to reproduce it.

[2016-08-03 17:52] xabbuh commented on #18611
@boite Did you make some promising progress?

[2016-08-03 18:28] ste93cry commented on #19520
I have the same problem after upgrading to Windows 10 Anniversary Update. The issue affects Composer as well (https://github.com/composer/composer/issues/5542)

[2016-08-03 18:57] steevanb commented on #19516
I've made this temporary github project :
https://github.com/steevanb/symfony-bug-19516

You will find everything in README.md : installation process, how to show issue, how to change Symfony version (2.8, 3.0 and 3.1 have same issue).

[2016-08-03 19:04] boite commented on #18611
@xabbuh As yet I have not had time to dedicate to it, but I hope to soon and will certainly provide an update on progress; please bear with me.

[2016-08-04 02:17] lainosantos commented on #19441
It occurs when:

1. Create a console.command listener;
2. In the listener onCommand method, get the input object (InputArgv) and set an valid option for intended run command;
3. In cli execute the intended command without set that option;
4. In execute method of intended command get that option value (setted by listener) ;
5. The option value will be empty, because before call execute method, run

[2016-08-04 05:29] jhdxr commented on #19520
@jameshalsall if so, microsoft made a very silly desicion. I don't want to setup my development enviroment again...

[2016-08-04 06:06] alcohol commented on #19520
Does [this](https://github.com/composer/composer/issues/5323#issuecomment-220871883) help?

[2016-08-04 06:47] ste93cry commented on #19520
No, I'm using the non-legaci console and it doens't work

[2016-08-04 06:51] cdekok commented on #19518
hi @jameshalsall  & @xabbuh I have updated the issue with all i could find, it's actually not mu code where it happends but grumphp but it seems to occur in the progressbar.

Though i cannot see any reason why this should happen as the method is public and the value is an int perhaps it is an issue with php rather then library.

[2016-08-04 06:58] xabbuh commented on #19518
@cdekok Can you create and upload a project that makes it possible for us to reproduce your issue?

[2016-08-04 07:10] cdekok commented on #19518
Hi sorry i figured it out, it seems this is an autoloading issue.
I was working on a library inside a project, so my working path was:

project/vendor/lib/vendor

In here it was public, but in:

project/vendor it was static, i guess somehow either composer / grumphp got confused about which vendor dir to use, when i move the lib from the vendor dir it works fine no issue with the code.

[2016-08-04 07:10] #19518 closed

[2016-08-04 08:38] nicogies commented on #19475
Hello, here is the workaround we use:

[code]

Best,
Nicolas

[2016-08-04 10:46] sagikazarmark opened #19525 "Recompile container manually"
I am working on a Docker container setup with symfony (can be found [here](https://github.com/webplates/symfony-standard)). The most common problem is how to inject parameters runtime into a symfony application. So far I simply cleared the cache upon container start, but I realized that in some applications this might be a heavy operation. My idea now is to recompile the DI container only: https:/

[2016-08-04 10:56] alexpott opened #19526 "Duplicate keys in Yaml fail silently"
When the yaml parser reads
[code]

It will return an array with the first key. This is unfortunate for a couple of reasons.

1. It is not to spec. The Yaml spec is clear that duplicate keys should be treated as an error - see http://yaml.org/spec/1.2/spec.html#id2759572
2. The current behaviour of choosing the first key is pretty unique. See:
[code]
Also it is the opposite behaviour to the PECL ya

[2016-08-04 11:12] alexpott commented on #19526
So reading the links from the Symfony Yaml component where there are tests for this behaviour it links to http://yaml.org/spec/1.1/#id932806

So what I think we are missing is _and issuing an appropriate warning_

[2016-08-04 11:19] denisvmedia opened #19528 "Running vi with Process"
Is that anyhow possible? I can run that with passthru(), but not with Symfony/Process.

Here is what I do:
[code]

Here is what I get:
[code]

[2016-08-04 11:20] javiereguiluz commented on #19526
This is the PR that introduced this behavior: #10902 and in other issues we've been discussin about this behavior too: #14512.

@xabbuh is the main Yaml component maintainer, so let's see what he thinks about introducing changes related to this. Thanks!

[2016-08-04 11:20] sstok commented on #19526
Would it be possible to use a silenced warning or a flag to throw/warn on a duplicate key?

[2016-08-04 11:35] yurii-mysak commented on #19363
Have the same issues with annotations instead of twig. Using symfony 3.1.2 . I set 777 permissions for cache directory during machine provision, so that composer scripts should have enough rights to clear the cache and it works for prod.

[2016-08-04 11:54] sstok commented on #19528
It depends on what you are trying to do, are you using vi(m) to pass commands using php or do you want to open it for external editing?

[2016-08-04 12:05] alexpott commented on #19526
@sstok I was just coding up a PR to introduce a new parse flag PARSE_EXCEPTION_ON_DUPLICATE

[2016-08-04 12:17] yurii-mysak commented on #19363
And it also looks like that this is what is responsible for this behaviour: https://github.com/doctrine/common/issues/430 .
I tried renaming some of the long filenames and the error switched to another folder:
`/var/www/html/var/cache/de~/annotations/fd` -> `var/www/html/var/cache/de~/annotations/44`
for example. So it looks like command is able to process the first folder, but then fails on the s

[2016-08-04 12:29] bckp commented on #19520
Colors still work on PowerShell, but not in CMD

[2016-08-04 13:34] sstok commented on #19528
OK, that should work. We are using it in Gush (any editor as configured with $EDITOR), but it will only work when it's opened as an external program (GUI). When you open vim in the background it will not work as there no interaction possible (or there is, how these things work always amazes me).

Maybe you need to use `setTty` instead of `setPty` but I'm not sure.

It's best to ask this in one of

[2016-08-04 14:20] gharlan opened #19530 "include(annotations.php): failed to open stream: No such file or directory"
With current master I always get two "silenced errors" in symfony profiler:

![screenshot 2016-08-04 16 18 50](https://cloud.githubusercontent.com/assets/330436/17405505/07ddea24-5a60-11e6-8931-f3a013d71f3f.png)

I guess it is related to #18533, ping @tgalopin.

[2016-08-04 14:23] tgalopin commented on #19530
It is, indeed. If you run `bin/console cache:clear`, it should disappear (it's a file created on warm-up).

[2016-08-04 14:26] gharlan commented on #19530
It does not disappear, and there is no `annotations.php`, only a `annotations.map`.

[2016-08-04 14:30] gharlan commented on #19530
Yeah, sorry.

[2016-08-04 14:30] yurii-mysak commented on #19363
It is definitely cache filename generation issue in Doctrine, I went `Doctrine\Common\Cache\FilesystemCache` and changed extension to reduce filename and it allowed me to clear cache.

Doctine Cache uses SHA-256 to generate filenames. Check `Doctrine\Common\Cache\FileCache` `getFilename($id)` method. There they have checks for the filename length, which should work but in some cases it turns out t

[2016-08-04 14:37] sh4ka commented on #19363
Nice, do you think this is no longer a Symfony problem? This could be closed?

[2016-08-04 14:39] Jean85 opened #19531 "[Form] DateType fails parsing when midnight is not a valid time"
In some timezones, **midnight may not be a valid date**; this happens when the DST change was done on midnight. It's a poor choice, and it was done only in the past. If you enter those dates in a `DateType`, it gets rejected as invalid.

Under the hood, the issue is with the `\IntlDateFormatter` that is initialized with the current timezone, when with a simple date it can be avoided... Here: https

[2016-08-04 14:56] Tabetha opened #19532 "YamlFileLoader - Undefined class constant 'PARSE_CONSTANT'"
Hi, I found this behavior on Symfony dev version for **3.2**.

Problem is in file **Symfony/Component/DependencyInjection/Loader/YamlFileLoader** on line **396**. There is PHP no able to get constant **PARSE_CONSTANT** (see in error log).

[code]

[code]

[2016-08-04 15:00] yurii-mysak commented on #19363
Symfony uses `file_exists` in `Symfony\Component\Filesystem\Filesystem`, which does not remove a file if it's name is longer than 255 characters. And when cache:clear executes - it passes long file names, often around 280 characters, because it's an absolute filename. Probably most of it can also be covered with using relative path with `file_exists`? Not sure, how it will behave.

Not 100% sure n

[2016-08-04 15:05] sh4ka commented on #19363
Related: https://github.com/symfony/symfony/issues/19429

[2016-08-04 15:13] jameshalsall commented on #19363
You could also set your `umask` to 000 in `bin/console` and `web/app_dev.php` / `web/app.php`, and then do `chmod -R 777 var/cache/* var/logs/*` until it's fixed

[2016-08-04 15:50] sfeni commented on #18871
We have the same probleme here. We have many many dn_string for the different users.

- Searching for a user, and binding against the resulting DN

Would be a very nice solution because if I find the user I can use his dn and do not need to create the dn myself (with the dn_string config option).

use_ldap_result_dn_string: true (default: false)
or something like that.

[2016-08-04 16:31] mbeccati commented on #19531
For reference, I've closed the php.net bug as ICU returns an error and there's little we can do in the intl extension. Sure, ICU could be smarter, but its behaviour can't be altered.

In any case, think that the error lies in the way the date is parsed though. Since we're not talking about date+time, the date-only should be parsed using UTC, then eventually converted to a \DateTime in the local ti

[2016-08-04 18:15] yurii-mysak commented on #19363
@sh4ka until it's fixed - yeah, no real option there for me.

@jameshalsall Unfortunately, it does not work or help in this case as it's not a permissions issue.

[2016-08-04 19:48] lecneri commented on #19483
@xabbuh Hi, sorry, I think language may being a barrier here, because english is not my main language.

I realize that the header only changes with one  route (/). Which makes sense for me, but anyway I made this Foo Project with a simple test that shows what I was talking about. https://github.com/lecneri/Foo.

Another thing I noticed while I was doing this example is when I generate Controller u

[2016-08-04 20:01] ab2llah opened #19536 "ServiceNotFoundException "debug.security.all.decision_manager""
hi.my symfony website was just fine.suddenly i saw this error:

    ServiceNotFoundException in ContainerBuilder.php line 771:
    You have requested a non-existent service "debug.security.all.decision_manager".

env=prod works just fine but when i try to open any page on env=dev i see this error.
 please help i did everything to fix it

[2016-08-04 20:02] denisvmedia commented on #19528
@sstok magically setTty() works! Thank you!

[2016-08-04 20:02] #19528 closed

[2016-08-04 20:03] javiereguiluz commented on #19536
@ab2llah thanks for reporting this issue. Please tell us:

1) Your current Symfony version
2) If this error happened after updating your Composer dependencies

[2016-08-04 20:07] javiereguiluz commented on #19532
It's strange because Yaml master version has `PARSE_CONSTANT` defined [in this line](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Yaml/Yaml.php#L31):

![yaml_master_constant](https://cloud.githubusercontent.com/assets/73419/17416725/cfc6817a-5a8f-11e6-93b2-468ca5fca3ff.png)

[2016-08-04 20:11] javiereguiluz commented on #19525
In my experience, messing with these things is always tricky and leads to fragile solutions. If you want to inject parameters at runtime, you may check out [OpenSkyRuntimeConfigBundle](https://github.com/opensky/OpenSkyRuntimeConfigBundle).

In any case, this issue looks like a question about advanced Symfony usage instead of a bug report or feature request, so I'm closing it for now. Please consi

[2016-08-04 20:11] #19525 closed

[2016-08-04 20:22] ab2llah commented on #19536
i use version 3.1.2
i updated my composer dependencies just now.
the update fixed my problem! thanks!

[2016-08-04 20:22] #19536 closed

[2016-08-04 20:25] Tabetha commented on #19532
I know this, and I agree, its strange. However I was not able to find proper solution or source of bad behavior, so I wrote it here. Weird is, only this constant is not working, so maybe problem with name. I try some more tests tomorrow.

[2016-08-04 20:54] maryo opened #19537 "Make format in template names optional"
Currently `Symfony/Bundle/FrameworkBundle/Templating/TemplateNameParser` expects template names in format `{bundle}:{namespace?}:{name}.{format}.{engine}`

I'm wondering why is the `{format}` mandatory? I have a template for FOSUserBundle containing two blocks - one for html email and one for plaintext email. Forcing to choose the format does not make sense here. Althrough I see it's kind of a wei

[2016-08-04 20:57] nicolas-grekas commented on #19532
Phpunit embeds its own version of the yaml component. Are you using it when you get this exception? Then that's the cause...

[2016-08-04 21:01] Tabetha commented on #19532
Yes, I think this happened only running tests. But not 100% sure.

[2016-08-04 21:06] sagikazarmark commented on #19525
@javiereguiluz although you are right about this being a question, since the Dependency injection is a separate component too, I think it would be nice if there was an official recommendation about this. Personally I think that cache warmers should not store any parameters in custom cache files.

Just for reference, we are talking about this part of the code: https://github.com/symfony/symfony/blo

[2016-08-04 21:20] sagikazarmark commented on #19525
http://stackoverflow.com/questions/38777550/recompile-symfony-container-manually

[2016-08-05 05:57] xabbuh commented on #19526
I guess that the current behaviour was implemented based on the assumption that duplicate keys are allowed (see the quoted part of the spec at https://github.com/symfony/symfony/issues/19526#issuecomment-237524176). However, as you can this part is from the YAML 1.1 spec, but we do follow the YAML 1.2 which does forbid duplicate keys (see the issue description).

With this in mind I suggest to dep

[2016-08-05 06:34] javiereguiluz commented on #19526
@xabbuh I agree: deprecate in 3.2; exception in 4.0.

[2016-08-05 07:55] anacicconi commented on #19475
Thanks @peteraba and @nicogies !

[2016-08-05 07:55] #19475 closed

[2016-08-05 08:18] alborq opened #19542 "[PropertyAccess] AccesorPrefix can, mayI ..."
Hello,

Prefix of accessor is actually [get|is|has|__get] but, accessor name depend of context. we cant personalize this list ?

In my case i have :
**Entity**: Printer
**Property Definition** : printer [true|false] can print into a photo paper.
**PropertyName** : printOnPhotoPaper
**Method** : canPrintOnPhotoPaper | setPrintOnPhotoPaper

I can't use it.

[2016-08-05 09:04] theofidry commented on #19542
@alborq it's not configurable, however you're free to register your own property access depending on the task.

[2016-08-05 09:12] mnapoli commented on #11867
Hi, I've been facing this issue too. Our use case: we want to enable Rollbar only in production env and when it's configured. When no token is configured the whole app completely fails, which means:

- impossible to run the "prod" environment locally
- impossible to disable Rollbar in production
- we also deploy several time our application with different config: we can't enable Rollbar only on on

[2016-08-05 09:13] Jean85 commented on #19531
Thanks for the PR!!
It includes a test that reproduces the bug, we're good to go!

Status: reviewed

[2016-08-05 09:57] javiereguiluz commented on #19542
Yesterday I was talking about this exact same feature with a Symfony developer who would have need this feature in his project.

[2016-08-05 10:06] theofidry commented on #19542
Somehow related to https://github.com/symfony/symfony/pull/19374#issuecomment-233515204

[2016-08-05 10:09] theofidry commented on #19291
As discussed in off, there is not need for that as it can be solved by ensuring the object is properly populated when instantiating it. The only edge case that would not work would be if a property should be set with a `withX` but can't be set with a constructor/factory, in which case a "fix" is easy.

[2016-08-05 10:09] #19291 closed

[2016-08-05 11:06] hensoko opened #19545 "Allow arrays being denormalized in AbstractObjectNormalizer"
Heyho,

I currently work on a problem when using the ObjectNormalizer with an multidimensional array as input. My array looks like this:

[code]

I defined the following classes the data of this array should be passed to:

[code]

When using the Serializer-Component of Symfony to denormalize the input-array I expected to get the following result:

[code]

but instead I get the following:

[code]

[2016-08-05 11:41] podarcis opened #19546 "[VarDumper] Parse error when dumping stdClass object"
When dumping an object of stdClass, VarDumper shows a parse error.

Minimal example code:
[code]

Error displayed in box:
[code]

PHP-Version: PHP 7.0.4-7ubuntu2.1
VarDumper-Version: 3.1.3 and dev-master

[2016-08-05 11:48] nicolas-grekas commented on #19546
This error is displayed by one of your browser extension (already reported and confirmed as such).

[2016-08-05 11:48] #19546 closed

[2016-08-05 11:49] nicolas-grekas commented on #19546
See #19471

[2016-08-05 11:49] nicolas-grekas commented on #19546
Please fill a bug report to the author of the extension...

[2016-08-05 12:03] podarcis commented on #19546
Oh dear, sry for the noise. The extension seems to be "JSONView". Thanks!

[2016-08-05 12:13] ivoba opened #19547 "[WebProfilerBundle] fetch calls are not shown in ajax toolbar"
When using window.fetch the ajax calls do not appear in the toolbar.

Information about window.fetch:
https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
https://developers.google.com/web/updates/2015/03/introduction-to-fetch

We encountered this when using https://github.com/github/fetch which will use window.fetch if the browser supports it, which latest FireFox and Chrome do.

If you con

[2016-08-05 12:34] acoquoin opened #19548 "[WDT] 404 on postLoad Doctrine event with File"
Hello :)

I have a very simple code which generates a 404 for the WTD (symfony 3.1.1).
I have a postLoad Event from Doctrine, here the code :

[code]

My problem is, when i call File, the WDT seems fail and boom : 404 on the WDT.
I dunno if the problem is symfony, my code or Doctrine :/
Any idea ?

[2016-08-05 14:07] theofidry commented on #19545
Has been solved in https://github.com/symfony/symfony/pull/19277 but sadly will only be available in `3.2` unless you accept to use `dev-master`

[2016-08-05 14:26] javiereguiluz commented on #19547
@ivoba thanks for reporting this issue. You are right ... but we already had an earlier issue reporting this (#17444), so I'm going to close this as duplicated.

Yes, please! We confirmed the issue but sadly nobody volunteered to solve it. If you are willing to do it, we'll appreciate it a lot! Thank you.

[2016-08-05 14:26] #19547 closed

[2016-08-05 14:28] javiereguiluz commented on #19537
I'd say that having a mandatory format is a good practice to not mess things in templates. In your case, maybe you can use HTML format, given that the plain text content won't break the HTML syntax.

[2016-08-05 14:29] pascalwacker commented on #19517
@HeahDude I have the `EntityType` as parent, as it should act like an `EntityType`. I would like to be able to link `File` Entities (`\AppBundle\Entity\File`). The goal is, to have in the view an ajax uploader and a modal to select existing `File` entities.

The point about the `class` property, is that if I simply use
[code]
it is able to auto detect the necessary `class`, but it doesn't in the c

[2016-08-05 14:32] javiereguiluz commented on #19548
@acoquoin in the GitHub repository we only discuss about Symfony bugs and new features. For now, this looks like a Symfony usage question and not a confirmed bug. Please use any of the support alternatives shown in http://symfony.com/support to ask the community about this. If the Symfony bug is confirmed, we'll reopen your issue. Thanks!

[2016-08-05 14:32] #19548 closed

[2016-08-05 14:35] javiereguiluz commented on #19545
@theofidry in your opinion, should this be considered a bug or a new feature? Thanks.

[2016-08-05 14:44] theofidry commented on #19545
Well it never really worked and has never been documented either so I'm not sure we can consider it being a bug. That said it's a change with a limited impact and not having it can be a serious limitation, so it *could* be passed as a bug and backported to be released in a patch version rather than waiting months for the 3.2.

But I think @dunglas is more qualified than me to make a decision on th

[2016-08-05 14:49] javiereguiluz commented on #19206
`12-12-2090` corresponds to the `3816716400` timestamp, which overflows on 32bit systems because `PHP_INT_MAX` is `2147483647`.

Anyone can suggest a solution for this issue? Or is it "impossible" and the only solution is to upgrade to 64bit? Thanks!

[2016-08-05 15:11] HeahDude commented on #19517
Where does it come from? I think your statement is wrong, isn't it?

[2016-08-05 15:14] yceruto commented on #19517
@pascalwacker The `class` option is guessed when the form type is `null` and this property has association, see https://github.com/yceruto/symfony/blob/master/src/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.php#L51

[2016-08-05 15:31] pascalwacker commented on #19517
I see, then it's my fault and not a bug!

A little off topic, but since I already explained, what I try to achieve and what the related code is, is there a way to not pre load all possible entities for the form? With files (images in the most cases), I fear, that there will soon be a few thousand entries in the DB. The Javascript part of the frontend will render a modal, which has some paging to s

[2016-08-05 16:48] iltar commented on #19532
I've seen this issue come by before on `#symfony` and this developer was on dev-master as well. I can try to run the dev-master in a project next week to see if I can reproduce it to confirm this.

[2016-08-05 17:18] Renrhaf commented on #19297
Excellent, I was also thinking that such a data collector might be really useful when using the new cache component.

[2016-08-06 03:44] dunglas commented on #19526
I agree too. Duplicate keys can be a pain to debug anyway.

[2016-08-06 06:24] xurshid29 opened #19553 "Can't get json() method working"
Hi,
I'm trying to use a new method `json` from `Contorller` class, and JmsSerialiser bundle also has been installed, but it is giving me the error :
`Type error: Argument 3 passed to JMS\Serializer\Serializer::serialize() must be an instance of JMS\Serializer\SerializationContext, array given, called in /home/xurshid29/Projects/sl-classic/source/vendor/symfony/symfony/src/Symfony/Bundle/FrameworkB

[2016-08-06 07:21] sstok commented on #19553
The JmsSerializer and the Symfony serializer are not the same.
And the JmsSerializer actually has it's own service name: http://jmsyst.com/bundles/JMSSerializerBundle

[2016-08-06 08:07] xurshid29 commented on #19553
@sstok https://github.com/schmittjoh/JMSSerializerBundle/blob/master/Resources/config/services.xml#L178

[2016-08-06 08:34] wouterj commented on #19553
Both do not use the same API, so you can't use it like this.

As stated in the line you referenced, the `serializer` alias in the JMSSerializerBundle is here only for backwards compatibility reasons and you should disable the alias in the config and use `jms_serializer` instead.

[2016-08-06 08:34] wouterj commented on #19553
Anyway, this issue can be closed as it's not related to Symfony core, but to a third party bundle.

[2016-08-06 08:38] xurshid29 commented on #19553
ok

[2016-08-06 08:38] #19553 closed

[2016-08-06 12:40] chalasr commented on #19175
ATM it seems the only available way is to make our service overridable as easy as possible, so users can override arguments by creating child services, as needed.

Closing because of the lack of comments

[2016-08-06 12:40] #19175 closed

[2016-08-06 12:59] maryo commented on #19537
That's what I did and it's quite OK but I'm not sure I like it. But OFC it's not so important :)

[2016-08-06 17:33] dequeues commented on #19520
MS removed ANSI from the native command line, at least in the latest build 14393.10, version 1607.

[2016-08-06 17:37] ste93cry commented on #19520
while I trust you, do you have any reference where this is confirmed officially?

[2016-08-06 17:42] dequeues commented on #19520
I don't, I've been looking myself. I'll keep looking and if I get any resources I'll let you know.

[2016-08-06 17:45] ste93cry commented on #19520
I really hope Microsoft did not remove officially the colors from the cmd, adding support for them was one of the best things they could do for Windows 10. I prey for this being just a regression

[2016-08-07 05:48] menzow opened #19557 "What direction is Symfony heading in?"
Hello,

After almost 1.5 years of not using Symfony, I have a new project that I would like to use symfony for. But after reading up on the best practices for 3.x, and looking at the directory structure I noticed some differences.

For embedding assets into your project, it is now advised to use the `/web` directory "because it makes the lives of designers and frontend developers easier" .
Now wha

[2016-08-07 08:18] ro0NL commented on #19557
Relax! It's all good ;-) However i strongly recommend you to read some [documentation](https://symfony.com/doc/current/index.html).

For assets;
You can still put them in your bundles, its even good practice to keep them together and somehow compiling/making them available in your web directory. For example, look at `bin/console assets:install` or assetic. See also the [frameworkbundle](https://gi

[2016-08-07 08:20] ro0NL commented on #19557
Your last proposal structure would indeed not work for _symfony_ bundles. You would have a `UserBundle` and `ProductBundle`, living in your app/vendor namespace..

[2016-08-07 08:42] menzow commented on #19557
@ro0NL Thank you for your response. But I don't think you fully understood my questions.
I did read the documentation, and I know it's possible for templates to be overridden through the /app directory and assets to be placed in the Bundle folder.

My question is about the recommendations given by Symfony. The best practices etc.
If you look [here](http://symfony.com/doc/current/best_practices/web

[2016-08-07 08:59] menzow commented on #19557
After reading best practices for 3.1 it's become clear that it's recommended to have only one AppBundle, and that it's not supposed to be shared independently. So you always store the whole project source in git. Making it a lot more logical why you would use /web for your assets and /test for your tests.

[2016-08-07 08:59] #19557 closed

[2016-08-07 09:07] ro0NL commented on #19557
Exactly, the app bundle is not intended to be a reuseable bundle. For reusable bundles you'd still have a separate repository, on what level you're separating concerns is up to you. However it somehow needs to end up in your /web dir to be functional. (compiling, symlinking, or just physical and not being part of bundle).

[2016-08-07 09:09] menzow commented on #19557
Yes that is correct. I closed the issue, and thanks for your help on clarifying this. :)

[2016-08-07 09:12] sstok commented on #19557
"If UserBundle cannot be used "as is" in other Symfony apps, then it shouldn't be **its own** bundle."

Notice the "its own", in the past many developers have created bundles that depended heavily on each other, "InvoiceBundle depends on ProductBundle" but if you only want the InvoiceBundle then you also need the ProductBundle and thus there is coupling between the two.

If the InvoiceBundle can b

[2016-08-07 09:17] menzow commented on #19557
@sstok thank you for your in depth reply. It goes a little bit out of the scope of what was initially asked, but it might help some people.

I closed this issue because the question I asked has been answered.

[2016-08-07 09:44] ro0NL commented on #19330
If symfony serializer could replace jms one day, i would be soooo happy.

Ie. i think in the long run it's worth standardizing this (basically object hydration) once and for all, according to symfony standards, preferably well designed :angel:, but most important being maintained.

[2016-08-07 10:51] steevanb commented on #19516
@xabbuh : have you tried to reproduce bug ?

[2016-08-07 13:18] ydenizyamac opened #19560 "Symfony on Manjaro Linux"
Hi guys; Im using manjaro and getting this error on default project;

Neither the property "ip" nor one of the methods "ip()", "getip()"/"isip()" or "__call()" exist and have public access in class "Symfony\Component\HttpKernel\Profiler\Profile" in @WebProfiler/Profiler/layout.html.twig at line 71

I thought it was turkish letters but it may be not.Cause i tried export lc_all,lang to en_US.UTF-8 a

[2016-08-07 14:33] Tobion commented on #19560
The method exists: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/Profiler/Profile.php#L111

You could debug why it doesn't find this method. And what symfony version do you use?

[2016-08-07 14:41] ydenizyamac commented on #19560
Currently im using  3.1.3 (i tried 2.8 too no difference) . app.php and localhost:8000 no errors now. (now lang=en_us.utf-8) . app_dev.php still same. How can i debug it?

[2016-08-07 15:12] ydenizyamac commented on #19560
var/logs/dev.log when i tried open app_dev.php;
[2016-08-07 17:10:27] request.INFO: Matched route "{route}". {"route":"homepage","route_parameters":{"_controller":"AppBundle\\Controller\\DefaultController::indexAction","_route":"homepage"},"request_uri":"http://localhost/Blogger/web/app_dev.php/","method":"GET"} []

[2016-08-07 17:10:27] security.INFO: Populated the TokenStorage with an anonymous

[2016-08-07 16:43] jakzal commented on #19516
@steevanb I just tried your code (there's app/autoload.php missing btw). It confirms the bug exists, thanks! I'm not sure what's the cause just yet.

[2016-08-07 16:50] steevanb commented on #19516
Sorry for app/autoload ! I will add it as soon as possible.

[2016-08-07 18:34] ro0NL commented on #19396
Had a quick look today and im not sure whats the best way to solve it. Currently there's a `RequestStackContext`, bridging the HttpFoundation component. There's no `RequestContextContext` bridging the Routing component. Havent looked at implementation level yet..

However implementing a `RequestContextContext` is tricky because i have no idea how to go from baseurl to basepath in a generic way.

B

[2016-08-07 19:20] patrick-mcdougle commented on #19526
Does this effect the ability to include other config files? Like how the config_prod.yml file loads the config.yml file? Or is that a different concept that does that?

[2016-08-07 19:36] patrick-mcdougle commented on #19542
Just rename your accessor to `hasAbilityToPrintOnPhotoPaper()` and setter to `setAbilityToPrintOnPhotoPaper()`?

[2016-08-07 20:05] alborq commented on #19542
@patrick-mcdougle sure i can, but you know like me, it's complex to find a good name of all properties, and in this case, we can find other good name like your exemple, but i thinks in specific case, link with job specification, we cant change name.

I'm not locked with this issue, i just thinks, it can be a problem. (like migrate legacy)

[2016-08-07 23:10] xabbuh commented on #19526
@patrick-mcdougle That's a different concept which is specific to how the DependencyInjection and Routing component handle the merging of configuration files that have been parsed by the parser from the Yaml component.

[2016-08-08 07:33] mvrhov commented on #19206
AFAIR it's been upgrade to 64bit since forever.

[2016-08-08 08:03] Navi2016 commented on #19336
Hi,

I updated to the latest version of process, same thing occured!

I commented out the exception again and it runs along fine.

Navi.

[2016-08-08 08:04] xabbuh commented on #19516
@steevanb Sorry for not replying earlier, but I am on holidays and thus were not able to reproduce your issue. I'll look into it after my return if @jakzal did not solve the issue before. :)

[2016-08-08 08:12] steevanb commented on #19516
Have a nice holidays, and don't worry for this bug ;)

[2016-08-08 10:06] hensoko commented on #19545
Actually I'm not able to test it, because the profiler of 3.2-dev let's Chrome and Firefox eat up all my memory... But it would be nice to have this feature in 3.1 branch aswell...

[2016-08-08 10:34] schristiaans opened #19566 "@UniqueEntity Constraint on superclasses"
@stof @weaverryan @fabpot @totophe @genexp @rquadling @nud I am wondering if Symfony 3 has fixed the problem with unique constraints on super- and subclasses since it does not work for me...

For example, I have 2 sub-entities that are derived from an abstract parent entity and I gave the parent 2 unique constraints like this:

[code]
There are 2 subclasses that are derived from the superclass:

[

[2016-08-08 10:55] hensoko commented on #19545
Ok, just got it working, but I think the fix in #19277 does not fit my case.
My property should get an array passed with instances of a perticular class and not just one instance.

[2016-08-08 10:59] theofidry commented on #19545
What does it give you instead of an array of two nested resources ?

[2016-08-08 11:26] hensoko commented on #19545
Something like this:

[code]

But what I expected was this:
[code]

When I do a dump of `$type`-variable in `AbstractObjectNormalizer` Line 255 I get the following result:

[code]

So I think the class-type is correctly figured-out by the property type extractor but data being an array of classes is not handled properlt.

[2016-08-08 11:27] theofidry commented on #19545
I'll take a look at this when I'll have a bit of time. In the meantime I'm afraid a custom normalizer will be the solution.

[2016-08-08 11:29] hensoko commented on #19545
Ok, thanks alot :)

[2016-08-08 12:50] nicolas-grekas commented on #19336
The "sf_proc_00*" files should not exist anymore and the error message has been update, so this can not produce *the same* thing. What's your exact error message?

[2016-08-08 12:53] Navi2016 commented on #19336
Left it running for a while, with the exception commented out, these warnings appear in the process:

PHP Warning:  fopen(C:\Webserver\phptemp\sf_proc_01.out): failed to open stream: Permission denied in C:\DATA\vhosts\spl.itypo.nl\typo3conf\ext\spl_launchpad\laravel\vendor\symfony\process\Pipes\WindowsPipes.php on line 63
PHP Warning:  fopen(C:\Webserver\phptemp\sf_proc_01.out): failed to open st

[2016-08-08 13:03] shawnmckinney commented on #18803
Here is the LDAP schema for apache fortress:
https://github.com/apache/directory-fortress-core/blob/master/ldap/schema/fortress.schema

It is not using a standard schema although we have discussed frequently the idea of standardizing it and maybe one day we will.  As it stands it supports RBAC (ANSI INCITS 359) and ARBAC policies which is probably more than you need here.  This includes hierarchic

[2016-08-08 19:47] dmaicher commented on #19516
I had a quick look and it seems something goes wrong when parsing the meta data from yaml and merging the constraints together into the ClassMetadata.

This is the dumped metada (`$validator->getMetadataFor($object)`). As you can see one constraint (the one for the interface) is duplicated:

[code]

[2016-08-08 20:06] dmaicher commented on #19516
Ok I found the issue :wink: I will try to put together a PR tomorrow and keep you updated. Too tired today :stuck_out_tongue_winking_eye:

[2016-08-08 20:31] ro0NL commented on #19537
I guess a template representing one format is by design, and good practice anyway. Ie. i would switch from blocks per format, to templates per format. But off course you can also just name your format `mixed` or something or talk with twig directly ;-)

[2016-08-08 22:39] guzzlefry opened #19571 "[Form] Translator gives a missing message error for empty string when required option is set to false"
Version: 3.1.3

To reproduce:
Create a form with a ChoiceType field with option 'required' set to false. Render in template.

![8hrsnqd](https://cloud.githubusercontent.com/assets/3201334/17498779/67023f0c-5d97-11e6-8d23-26dfe8f95886.png)

[2016-08-09 09:28] PlamenVasilev opened #19572 "Serialization of 'Symfony\Component\HttpFoundation\File\UploadedFile' is not allowed"
I'm trying to write white unit test to test my API with file uploads.

I'm following the [docs about this ](http://symfony.com/doc/2.8/testing.html#working-with-the-test-client) using basic client request, not crawler.

The unit test is:

[code]

When I execute the test I receive an error:

[code]

Posting files is not working as it is described in the docs.

Any ideas?

[2016-08-09 09:49] PlamenVasilev commented on #19572
I have found the solution :

adding

fixed the problem, but why it is not working in insulated mode ?
Is this a bug?

[2016-08-09 10:07] poltaev1993 opened #19573 "A circular reference has been detected in Symfony"
I run into problem tied to circular reference in Symfony. I think caused by serializer and I have found any answers yet. Above you can look at my created entities, route and controller. I hope you can help.
**throw new CircularReferenceException(sprintf('A circular reference has been detected (configured limit: %d).', $this->circularReferenceLimit));**
**User.php**
[code]

**Dieta.php**
[code]

**

[2016-08-09 10:19] arno14 opened #19575 "deprecated LazyChoiceList"
Since I upgraded to SF 3.1.3 I have multiples warning when I run phpunit
[code]
I did not have them in SF 3.1.1 and I use the "choice_loader" options in multiple forms.

This is related to commits 98621f4355c65b6f8a8a63c80f9168fa639d7459 (and fix deb12ae1b5f27b1a276ba6f215261de945d2e622) by @tgalopin

As the construction of LazyChoiceList is hardcoded in DefaultChoiceListFactory I don't see how I

[2016-08-09 11:22] tgalopin commented on #19575
That's indeed an issue, I should have check for usages of this deprecated class in Symfony core. I'll work on a PR to fix that.

[2016-08-09 11:51] pzaj2 commented on #19573
Isn't that caused by

`public function __construct()
            {
                $this->user = new ArrayCollection();
            }`

in your Dieta entity? since you use OneToMany / ManyToOne relation, user should not be an ArrayCollection.

[2016-08-09 11:56] pzaj2 commented on #19573
Seems like Dieta objects in $dietaDatas contain references to User, which contains references to Dieta objects and so on. I'd suggest going with Query Builder instead and retrieve dietas excluding User.

Besides:
`public function __construct()
            {
                $this->user = new ArrayCollection();
            }`

in Dieta is not neccessary, since OneToMany relation is used and User is

[2016-08-09 12:14] stephadz opened #19577 "event "kernel.request" not stopped after SF upgrade (2.8.8 to 2.8.9) and (3.1.2 to 3.1.3)"
Hello,

We use NelmioCorsBundle, and we have a problem with event propagation after sf upgrade.
The issue is also posted on the NelmioCorsBundle Repos with more informations.
https://github.com/nelmio/NelmioCorsBundle/issues/64

Any ideas?

Thanks in advance.

[2016-08-09 13:26] jakzal commented on #19347
Closing as the related PR was rejected.

[2016-08-09 13:26] #19347 closed

[2016-08-09 13:36] #19315 closed

[2016-08-09 13:45] #19526 closed

[2016-08-09 13:56] nicolas-grekas commented on #19336
@Navi2016 I don't get how the warnings can be triggered: there is a local error handler that should catch them. See https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Process/Pipes/WindowsPipes.php#L56
Any idea?

[2016-08-09 14:09] jakzal commented on #15007
@kachkaev I think the current message is confusing, could you please have a look at https://github.com/sensiolabs/SensioDistributionBundle/pull/274 to see if it's any better? I'd appreciate some feedback.

[2016-08-09 14:21] nicolas-grekas commented on #19336
@Navi2016 can you please test #19579? Does it work better?

[2016-08-09 14:49] jakzal commented on #19483
see https://github.com/sensiolabs/SensioGeneratorBundle/pull/494

[2016-08-09 14:50] HeahDude commented on #19575
Since the same choice list is returned from the default choice loader and this is tested (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Tests/ChoiceList/LazyChoiceListTest.php#L60), I don't understand why you get those warnings.

Are you using the `choice_loader` option somewhere?

[2016-08-09 15:31] veloxy commented on #6919
Is this going to be fixed/what is the status on this? It has been open since 2013 ...

I'm running into this issue in several places, one of those places is the TwigBundle error views. I'm not able to override them with my own.

The docs [mention](https://symfony.com/doc/current/controller/error_pages.html#overriding-the-default-error-templates) I can override the error page views the same way you

[2016-08-09 16:42] jakzal commented on #19532
To reproduce this install phpunit 4.8, and run the following test:

[code]

As nicolas-grekas said, this is because phpunit comes with its own version of the Yaml component, which is loaded before the version you use in the project.

There's not much we can do about it.

[2016-08-09 16:44] jakzal commented on #19517
Closing as this is a user error after all.

[2016-08-09 16:44] #19517 closed

[2016-08-09 17:05] nicolas-grekas commented on #19532
See some more discussions about this at https://github.com/sebastianbergmann/phpunit/pull/2264

[2016-08-09 17:05] #19532 closed

[2016-08-09 17:08] jakzal commented on #19566
possible duplicate #4087

[2016-08-09 18:24] chrisgittings opened #19581 "[2.7] HTTP Foundation: MongoDB Session Expiration Logic"
We are using MongoDB for session management. We explicitly disable PHP garbage collection (as described in the file reference below) via:

[code]

We have our own session listener, which is expiring sessions (for non-Admin users) after 30 mins. However, after upgrading to symfony 2.7, the logic in `MongoDbSessionHandler` is invalidating sessions after 24 mins (1440 secs), for any user.

I think th

[2016-08-09 18:32] jameshalsall commented on #19483
@lecneri your problem is that on this line: https://github.com/lecneri/Foo/blob/master/src/AppBundle/Controller/FooController.php#L15 your route definition should be

`@Route("")`

then you won't see a 301 from your test but a 200

[2016-08-09 18:41] #11752 closed

[2016-08-09 19:51] poltaev1993 commented on #19573
Sorry for the late reply. I corrected my contruct. I fixed error by
deletting getUser method in the User class. I try grasp my solution.
Thanks you for the help!

2016-08-09 13:56 GMT+02:00 pzaj2 <notifications@github.com>:

--
--

Best regards,
Ruslan Poltayev

Mob.: +7 (708) 206 31 04 <%2B7%20%28727%29%20279%2056%2012>
poltaev1993@gmail.com

[2016-08-09 20:12] valotvince opened #19582 "HttpCache trying to cache OPTIONS requests"
Hi,

I ran into a problem earlier this day when trying to test the production environment with Symfony 3.1 and HttpCache. I use Symfony3 as a REST API and OAuth2 Provider (FOS, FOS).

Whenever I wanted to hit the API to get an access token on login, I got a CORS error saying that some headers weren't allowed. This is two chained requests:
OPTIONS /oauth/v2/token
POST /oauth/v2/token

The pre-fligh

[2016-08-09 20:20] valotvince commented on #19582
This one, just under my nose --' #19577

[2016-08-09 21:15] ogizanagi commented on #19566
I confirm this is a duplicate of #4087 (and many others).

We're missing opinions on both #15002 and #16969 proposals.

[2016-08-09 22:53] Jaswinder00 opened #19583 "Symfony 2.8 security setup with LightSamlPhp Bundle - Multiple Login Methods"
Hi, I am running into an issue with setting up Authentication in Symfony 2.8 with Saml plugin (https://www.lightsaml.com/SP-Bundle/Getting-started/).
Problem:
I want to able to login via SAML and via going to admin page. The /admin/login page works fine, I see the user authenticated from the database. However, when I try to go through the Saml process, I always land on the /discovery page. When I

[2016-08-10 06:50] jacobchristensen79 commented on #19582
Hello, same here. Request Options is transformed to a "GET" request ( last update v2.8.9 )

[2016-08-10 08:04] mvrhov commented on #6919
What's more interesting is that when @ notation was introduced was said that his will be the recommended way of accessing the templates and the old one will be deprecated.

[2016-08-10 08:34] jakzal commented on #19573
@poltaev1993 can this be closed?

[2016-08-10 08:37] jakzal commented on #19583
We only use github for development. Please seek help on one of our support channels: http://symfony.com/support

Thanks for understanding!

[2016-08-10 08:37] #19583 closed

[2016-08-10 09:34] mlocati commented on #19520
Color support is still available in Windows 10 Console.
The problem is that for Windows 10.0.10586 it was enabled by default, but with Windows 10.0.14393 (Anniversary Update) it must be explicitly enabled by the program.

I already asked the PHP core team to enable it for `php.exe`: see https://bugs.php.net/bug.php?id=72768

[2016-08-10 09:56] poltaev1993 commented on #19573
Yes, it can, thanks

On Aug 10, 2016 10:35 AM, "Jakub Zalas" <notifications@github.com> wrote:

[2016-08-10 10:05] #19573 closed

[2016-08-10 10:54] jacobchristensen79 commented on #19582
In Symfony 2.8.9 I've the same issue but after reverting this line to the "old"
->  return in_array($this->getMethod(), array('GET', 'HEAD'));
the bootstrap.php.cache file is build correctly and the request are now replying with "options" request again.

[2016-08-10 12:40] mkruk-u2 opened #19589 "[DoctrineBridge] doctrine:database:create command cannot create a database without a database"
Creating a database using `doctrine:database:create` command in the `prod` environment when there is no cache, fails with a message:

[code]

i.e. you need a database to create a database (!)

Steps to reproduce this problem:

1. create new project
[code]

1. generate simple entity class
[code]

1. remove cache
[code]

1. try to create `prod` database
[code]

Interesting thing is that trying to cr

[2016-08-10 12:41] ro0NL opened #19590 "[MonologBridge] Check header size before logging to firephp"
Firephp makes debugging harder, in a way that when it crashes you'll need to to investigate that first as in my case i only got `502 Bad Gateway`. Eventually the problem was an undefined variable. Not cool :)

Maybe i can work on a fix later, but for now i'll leave this here for future reference.

[code]

[code]

While actually the problem was
[code]

edit: maybe this should be fixed over at [Seld

[2016-08-10 13:10] dosten commented on #19589
The commands belongs to the DoctrineBundle, please open an issue in https://github.com/doctrine/DoctrineBundle

[2016-08-10 13:11] arno14 commented on #19575
As said in my first message I do use the "choice_loader" option.
The method used is then "Symfony\Component\Form\ChoiceList\Factory\DefaultChoiceListFactory::createListFromLoader" which return a LazyChoiceList.
When using the "choices" option, the "Symfony\Component\Form\ChoiceList\Factory\DefaultChoiceListFactory::createListFromChoices" method is used and this one return an ArrayChoiceList.

To b

[2016-08-10 13:21] HeahDude commented on #19575
There is nothing wrong with tests. If you use a custom choice loader, it has the responsibility to return a `ChoiceListInterface`, and before this choice list was stored in the lazy choice list instance which is now deprecated.

So your loader should now cache the list to return the same instance in order to get rid of the deprecations warning.

[2016-08-10 13:30] SvetlinStaev opened #19592 "Validation YAML files not loaded from Resources/config/validation folder"
I upgraded a project from Symfony 2.8 to 3.1 and the validation constraints stopped loading for all bundles when they are defined in the `Resources/config/validation` folder of the bundle.

I checked the `FrameworkExtension` which loads the files and it seems that the `getRealPath` method of the `$file` in the `getValidatorMappingFiles` method is returning empty string rather than the path itself.

[2016-08-10 13:59] xabbuh commented on #19517
@pascalwacker For example, you can use form events to populate only the choices that match the user's choice.

[2016-08-10 14:41] jakzal commented on #19590
This is really an issue with your [web server config](https://gist.github.com/magnetikonline/11312172#determine-fastcgi-response-sizes).

[2016-08-10 14:55] pascalwacker commented on #19517
@xabbuh I've solved it in the meantime using this bundle: https://github.com/Alsatian67/FormBundle and the solution here: http://stackoverflow.com/q/38792355/2989952

[2016-08-10 15:03] mkruk-u2 commented on #19589
I've created an issue in DoctrineBundle: https://github.com/doctrine/DoctrineBundle/issues/561.

Is this still a problem for this repository as it happens with `cache:clear`? If no, I'll close this issue.

[2016-08-10 15:05] ro0NL commented on #19590
Thx. This is actually [documented](https://github.com/symfony/symfony-standard/blob/master/app/config/config_dev.yml#L25). Crazy.

[2016-08-10 15:05] #19590 closed

[2016-08-10 15:18] jakzal commented on #19589
Even though the doctrine cache warmer is part of this repo, it's not a problem with the cache warmer. It merely calls the doctrine code which in turn connects to db while it shouldn't.

[2016-08-10 15:18] #19589 closed

[2016-08-10 15:34] steevanb commented on #19256
Hi,

It's not fixed in 3.1.3. So i can't update Symfony since 3.1.1 :(
Could you please have a look, and tell us when it will be fixed ?

Thanks !

[2016-08-10 15:36] cadavre opened #19593 "MicroKernelTrait is having old directory structure"
For Symfony >3.0 we have default directory structure as declared in:
https://symfony.com/doc/current/configuration/override_dir_structure.html

But when using `MicroKernelTrait` the directory structure is as in old Symfony <3.0 and also as described in documentation:
https://symfony.com/doc/current/configuration/micro_kernel_trait.html

My suggestion is to unify directory structure for framework a

[2016-08-10 16:00] wouterj commented on #19593
Are you aware that this is exactly what is done in the Standard Edition in Symfony 3? https://github.com/symfony/symfony-standard/blob/master/app/AppKernel.php#L36-L44

One of the big things in Symfony is that it doesn't enforce any directory structure. Use whatever structure you're comfortable with, especially when using the micro kernel trait.

[2016-08-10 16:11] jakzal commented on #19593
This is not a workaround, but precisely the thing you should do. We cannot change implementations of these methods in Symfony as it would be a BC break.

[2016-08-10 16:23] ro0NL commented on #18563
@wouterj what about [this](https://github.com/symfony/symfony/pull/19586#discussion_r74277611) approach?

[2016-08-10 16:33] jakzal commented on #19256
@steevanb Previously the message wasn't translated which was a bug (#15479). Since all the error messages go through the translator, why this one shouldn't?

[2016-08-10 16:43] steevanb commented on #19256
Cause if i don't use a FileType in my form, why this message should be translated ?

[2016-08-10 17:21] gremo commented on #19520
Same problem here. How to switch back to the "uncolored" version without the weird characters?

[2016-08-10 17:30] wouterj commented on #19520
@gremo for the moment, passing `--no-ansi` with each command should work.

[2016-08-10 17:34] mlocati commented on #19520
Before updating the Console code I'd wait to see what happens with https://bugs.php.net/bug.php?id=72768: if they implement what I suggest there for the various PHP versions we can keep using colors on Windows

[2016-08-10 17:35] gremo commented on #19520
@wouterj thanks, I was hoping in a "global" solution (i.e. compatibility mode or other stuff).

[2016-08-10 17:42] aitboudad commented on #19256
Hi, a possible fix (#19595) but not sure if it will be accepted ;)

[2016-08-10 18:14] ro0NL commented on #19593
Eventually it's a documentation issue. Ie. we could add the `get*Dir` methods to the example code, or explain it's left out (probably) for readability (hence the different directory structure).

[2016-08-10 18:25] lecneri commented on #19483
@jameshalsall Yeah, I never thought that an empty route would do the trick. Thanks man! Well, that being clarify I think we can close this issue.

@jakzal thank you for the info!

[2016-08-10 18:25] #19483 closed

[2016-08-10 19:10] Ener-Getick commented on #19161
I opened #19191, please review it in case you see something to change :)

[2016-08-10 19:43] fabpot commented on #19593
I agree with @ro0NL that this is a doc issue. @cadavre Can you open an issue on symfony/symfony-docs and close this one? Thanks.

[2016-08-10 21:33] AAstakhov commented on #19467
@ruttencutter I've been trying to reproduce with the given example, but I don't see duplicated headers.
Why do you have Set-Cookie header? The code in your example doesn't set any cookie.

[2016-08-11 06:53] nicolas-grekas commented on #19336
ping @Navi2016 I'd really appreciate some feedback here, thanks!

[2016-08-11 07:37] xabbuh commented on #19592
@SvetlinStaev Does this even happen on a fresh installation of the Symfony Standard Edition?

[2016-08-11 07:49] Navi2016 commented on #19336
Hi,

I'm working on the project tomorrow again, i will do some testing and let you know!

[2016-08-11 08:39] cadavre commented on #19593
Thanks for answers! All make sense, I'll issue docs repo.

[2016-08-11 08:39] #19593 closed

[2016-08-11 12:37] SvetlinStaev commented on #19592
@xabbuh I haven't tried it on a fresh installation. Yesterday I reinstalled PHP 7 on my machine and it started working. I assume it must be related to the environment rather than the framework.

[2016-08-11 15:06] Xatenev opened #19597 "Symfony2 Routing dies on encoded slash."
Hello,

I've hit the following bug after some conversations on IRC:

Route definition:

[code]

appDevUrlMatcher.php

[code]

I call the URL like:
/1/nutrition/search/text/Mais%2C%20Grieß%20%2F%20Polenta:43lqqcqe6n39glub9pgtdadkt3
=> no route found!
/1/nutrition/search/text/Mais%2C%20Grie%C3%9F%20/%20Polenta:43lqqcqe6n39glub9pgtdadkt3
=> route found!

So when I use the encoded /, the regex in requ

[2016-08-11 15:25] jakzal commented on #19597
see #6442

[2016-08-11 15:28] Xatenev commented on #19597
@jakzal  Hey, thanks for the reply - he says "For your use case, simply change the requirement for the palceholder to something like .+ and you can have the slash (encoded or not) in it." - I am not 100% sure how I can use that for my issue? I am using "[^\:]*" which should be all characters **except** double colon.

[2016-08-11 15:32] AssortedParrot opened #19598 "Cannot add a violation to the correct path if a constraint is applied to the form itself"
I'm using Symfony 2.8.9 with PHP 5.6.10.

The following code will cause the violation to be added at path `data.type` instead of `children[type].data` (like it would happen if the constraint was applied to an individual field). This causes the error message to show up in the wrong place. I need to apply the constraint to the whole form because I have to validate a field depending on the value of a

[2016-08-11 15:41] Xatenev commented on #19597
I workarounded this by simply converting my parameter to a base64 value and transform it back after routing.

[2016-08-11 16:07] ro0NL commented on #19597
For me this works as advertised in #6442 on 3.2.0-DEV, could perhaps give steps to reproduce?

[code]

Hit `/foo%2Fbar`

Got
![image](https://cloud.githubusercontent.com/assets/1047696/17595713/69a4ca96-5fee-11e6-91e9-614b2308b7e3.png)

[2016-08-11 16:10] escopecz commented on #18744
@zdenekdrahos thanks for your solution! I built my code on top of it, but I'm getting
[code]
when `\Symfony\Component\Console\Output\StreamOutput` is used. Did you find solution to that?

@Tobion Why would anyone want to render output of ProgressBar as stderr? I can't even extend the ProgressBar class, because it's full of `protected` properties and even methods. Symfony 2.8 broke the BC with this

[2016-08-11 16:30] zdenekdrahos commented on #18744
I didn't get `getVerbosity` error. I don't think that it is caused by `StreamOutput`. Every output implements [this method](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/Console/Output/OutputInterface.php#L62), so [$this->output should not be null](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/Console/Helper/ProgressBar.php#L58) in pure `ProgressBar`.

[2016-08-11 17:08] HeahDude commented on #19598
You should try `$this->context->buildViolation($constraint->message)->atPath('[type]')->addViolation();`

[2016-08-11 18:40] aitboudad commented on #19571
Can you please fork the Symfony Standard Edition and make the changes to reproduce the issue?

[2016-08-11 19:51] kassner opened #19599 "[Finder] ExcludeDirectoryFilterIterator does not like trailing slashes"
Hi!

With PHPCPD (https://github.com/sebastianbergmann/phpcpd/issues/135) I found out that `ExcludeDirectoryFilterIterator` does not exclude a directory if it is informed with a trailing slash (very common to happen if you're using bash autocomplete).

Looks like just `rtrim($directory, '/')` [here](https://github.com/symfony/symfony/blob/904279e1420e8b31c7b1cde71bf352b9fff70f31/src/Symfony/Compon

[2016-08-11 21:31] julienfastre commented on #18817
Hi. I could solve my problem by adding an empty_data value on the Choice Field (see the new line 34 at https://framagit.org/Chill-project/Chill-CustomFields/commit/affeae238c3e5f4bbadc3b2c6761a356b7e33596#2bc73e1658e8d593840b67db8b0ea0777f5486f4_33_34)

I still do not know why the default empty data does not work, but if I was the only one to observe this behaviour, I may assume everything is ok :

[2016-08-11 21:43] HeahDude commented on #18817
Thanks for the feedback :)

[2016-08-12 05:12] guzzlefry commented on #19571
Well, I can't seem to reproduce this on either the master branch or the v3.1.3 tag. It's likely something odd with my current application.  Closing unless I find a way to reproduce this on a fresh checkout.

[2016-08-12 05:12] #19571 closed

[2016-08-12 07:58] Xatenev commented on #19597
@ro0NL: Most likely because my requirements regex is another than yours, try to reproduce the route exactly as mine, for example: `/{foo}:{bar}` and the same regex as I have above.

[2016-08-12 09:11] kleijnweb opened #19600 "[YAML] Arrays of objects fail to parse when separated by empty line"
[code]

Without the space between the two array items, it parses fine. Also parses when I indent the empty line with 2 spaces.

In 3.1.3 *and* master.

[2016-08-12 09:46] Renrhaf commented on #19441
I'm not sure if it's realted to the original issue. But at the moment it's not easy to add application wide options to the commands. I have a use case where I need to add some global options to all commands, splitted in various listeners, and I'm having a hard time.

I think the command needs one more event :

1. An event dispatched before the "mergeApplicationDefinition" and "bind" methods are ca

[2016-08-12 12:28] kgilden commented on #10035
I would like to work on resolving this. Yep, @weaverryan's suggestion works. However, wouldn't it be nice to simply configure both HTTP Basic and HTTP Digest and have them *just work*? Possible use cases seem few and far in between except for feature completeness. Another one would be to provide a graceful way to migrated from one method to the other (i.e. for REST API-s).

[code]

These authentic

[2016-08-12 14:37] AssortedParrot opened #19603 "Sample JS code for collections may submit two entries with the same name"
The documentation chapter [How to Embed a Collection of Forms](http://symfony.com/doc/current/form/form_collections.html) contains [sample code](http://symfony.com/doc/current/form/form_collections.html#allowing-new-tags-with-the-prototype) to demonstrate how to add the possibility for users to create additional entries in the collection.

The problem is with this piece of code:

[code]

This assu

[2016-08-12 15:03] arno14 commented on #19575
You are right.
When returning always the same instance in ChoiceLoaderInterface::loadChoiceList, no warning are displayed.

thanks

[2016-08-12 15:03] #19575 closed

[2016-08-12 15:59] ro0NL commented on #19597
Still works like a charm ;-)

[code]

![image](https://cloud.githubusercontent.com/assets/1047696/17628508/d847051e-60b5-11e6-9ad1-1f51fb283f14.png)

Can you fork symfony standard and work on a reproduceable scenario?

[2016-08-12 17:06] Nyholm opened #19605 "[Workflow] Digging in to the workflow component"
I just started to dig in to the workflow component in order to add some documentation. I noticed some strange behaviors and I would like to ask @lyrixx (or someone else) about these.

The workflow has the concept of "places" which I first intrepid as "states". The main issue is that you can be on two places at once.

[code]

When preforming **t1** I will be in both place 'b' and 'd'. There is no w

[2016-08-12 20:47] Nyholm commented on #19605
I added a test for this issue in: https://github.com/symfony/symfony/pull/19607

[2016-08-12 20:57] ProPheT777 commented on #19572
I think it's because the UploadFile class contains a stream for the file, and you can't serialize an object containing a stream. So it's not a bug but a limitation due to php.

[2016-08-13 09:01] ro0NL commented on #19599
Can you show whats `$directories` looks like in your case? I think this makes sense :-)

[2016-08-13 09:05] kassner commented on #19599
@ro0NL

[code]

[2016-08-13 10:10] ro0NL commented on #19599
Here's the test https://github.com/symfony/symfony/compare/master...ro0NL:finder/rtrim-excluded-dirs

I can PR this if you want.. but maybe you have something going on already. The class is complex though.. i cant really visualize it how it works in recursive state (ie `::$isRecursive`) as this is untested :-) (ie maybe it's only needed for the `if` part.

[2016-08-13 10:35] kassner commented on #19599
@ro0NL you can PR it, I'm not that far with my test.

[2016-08-13 17:15] ro0NL opened #19609 "[VarDumper] HtmlDumper+WDT broken in master?"
@nicolas-grekas, https://github.com/symfony/symfony/commit/998ff33e8931a0ed10ffc54a5135f9ba91093a29 breaks the WDT toolbar in master on chrome 52.0.2743.116 (the request is never finished, calling it directly works ok though), but it's a client issue i guess.

It's a bit weird, these [2 lines](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php#L292

[2016-08-13 18:47] #19531 closed

[2016-08-13 20:45] nicolas-grekas commented on #19609
Please report the error on chrome, there is nothing wrong on our side...

[2016-08-14 07:21] mbeccati commented on #19531
Thanks @fabpot

[2016-08-14 07:31] ro0NL commented on #19609
No error... tab just freezes and needs to be force quit. However here some specs;

- https://github.com/ro0NL/symfony-standard/commits/issue/19609
- Add `console.log('entering for');` right [here](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/VarDumper/Dumper/HtmlDumper.php#L278) (above `for (i = 0; i < len; ++i) {`)
- Visit `/app_dev.php/` (for me private mode in chrome 52.

[2016-08-14 10:22] lyrixx commented on #19605
Hello @Nyholm

Yes you can. But indeed with the default configuration it might be not so easy as the data is stored in a json. But you can use one of the following solution:

* PostgresSQL (and maybe more RDBMS) has a native support for JSON, so it's easy to query it.
* update the DomainObject::setMarking(array $marking) to store each places as single Boolean properties
* update the DomainObject::

[2016-08-14 10:36] Bilge opened #19611 "[Process] Process::stop() does not work on Ubuntu 12.02 (Travis environment)"
As shown by [this job output](https://travis-ci.org/ScriptFUSION/Porter/jobs/152178993) `Process::stop()` does not stop a PHP web server process (`php -S`).

The following command output shows the web server process, started by `Process` during the test run, is still running even after the test suite has completely finished.

`Process::getStatus()` mistakenly reports `terminated` immediately after

[2016-08-14 12:24] webjobs commented on #19603
I spotted same problem long time ago. To solve it, I had to figure how S2 works internally with keys; in short, newly added collection elements can have **any** key, they don't have to be in order.

For example, you could have keys like **0, 1, 10, my_key_15000** and so on.

When form is generated for the first time, your collection will have ordered keys like 0, 1, 2... On submission, if any of t

[2016-08-14 14:50] chrisguitarguy opened #19612 "[Routing] Route Name Prefixing"
This is a feature request/suggestion.

It would pretty nifty to be able to prefix route IDs/names on import. The idea is that the same routing resource could be imported multiple times and generate unique route names.

For example: if you have a typical form login on one host for a UI and a stateless API token authentication on another. You might want to share the same routing config for your API

[2016-08-14 15:13] Nyholm commented on #19605
Okey, fair. I guess I need to include that in the documentation.

Cool. Thank you. It really does makes sense in your use case. I guess my mind has been too much on state machines.

I think that is a good idea. Correct me if Im wrong but I would like to consider a state machine as a special case of a workflow. With a transaction title one could use the workflow as a state machine, it is just a mat

[2016-08-14 15:34] ameur-frikha commented on #17288
Symfony installer or composer are the same,  just install composer and run composer update

[2016-08-14 15:41] ogizanagi commented on #19605
The "transition title" looks like an intention. What do you think about naming it `intent` instead of `title` ?
Unless there is another appropriated naming convention for this in the Petri net standard definition.

[2016-08-14 16:14] jameshalsall commented on #19609
@nicolas-grekas I am seeing the same issue on `dev-master` too.

[2016-08-14 16:15] poolerMF opened #19613 "group_sequence_provider not working if parent validation_groups setted"
example:

Class **Article** has oneToMany **Tag**
Class **Tag** is implementing GroupSequenceProviderInterface and function **getGroupSequence** still return ['validate_if_id']
in ArticleForm there is form 'tags' with type CollectionType

[code]

When I set option validation_groups to **['whatever']** while building ArticleForm, then "group_sequence_provider" will **not be called**

When I set opt

[2016-08-14 16:31] jameshalsall commented on #19600
Shouldn't they be indented by 2 or 4 spaces?

[2016-08-14 17:51] jameshalsall commented on #19417
Implementing this would break BC as it would require a change to `Symfony\Component\Validator\ConstraintValidatorInterface::validate()` to pass in the object, so it would not be before 4.0

[2016-08-14 18:24] kleijnweb commented on #19600
Not per se. The issue, as the error describes, is that the parser thinks the current context is an object node, when it should still be the same array as the previous item was declared in. An empty line should not affect that.

[2016-08-14 18:42] nicolas-grekas commented on #19609
On Firefox also?

[2016-08-14 18:48] jameshalsall commented on #19600
An empty line doesn't affect that, both of the following work fine for me and evaluate to the same:

[code]

[code]

However if I don't indent my properties then I get an exception in the file loader due to bad YAML.

[2016-08-14 18:56] jameshalsall commented on #19609
Yes, Firefox (41) and Safari (9.1) also have the same issue.

The `Sfdump` function defined in `HtmlDumper` is being called continuously, which ends up killing the tab in the browser.

[2016-08-14 19:34] kleijnweb commented on #19600
An empty line affects that in the example in the bug report, which is valid YAML. What is your point?

[2016-08-14 19:35] poolerMF commented on #19417
I don't think that this is question of ConstraintValidatorInterface
maybe it should be automatically in ExecutionContext::buildViolation ..

[2016-08-14 19:37] jameshalsall commented on #19600
My point is your properties should be indented. The reference file from the YAML website shows this:

http://www.yaml.org/start.html

Your YAML isn't valid.

[2016-08-14 19:40] jameshalsall commented on #19417
Parameters for messages are set in the constraints themselves, see https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Constraints/LanguageValidator.php#L48 for an example.

[2016-08-14 19:43] poolerMF commented on #19417
yes ... but I just think this should be AUTOMATICALLY passed ... so you
dont need to pass it in ConstraintValidator
my opinion

2016-08-14 21:40 GMT+02:00 James Halsall <notifications@github.com>:

[2016-08-14 19:58] sc0rp10 opened #19615 "[DI] Autowiring fails for services that have parent"
My services.yml
[code]
[code]

When I ran `$this->getContainer()->get('app.baz');` I got error:
[code]
[code]

[2016-08-14 19:58] kleijnweb commented on #19600
Be serious now, that is an *example*, not a language reference.

If this is in fact not valid YAML I would be very very very surprised.

Both this Ruby, as this Python linter think it is fine:

[code]

This online linter thinks it is fine: http://www.yamllint.com/
This online parser thinks it is fine: http://www.json2yaml.com/

Hell, even the PECL extension thinks it is fine:

[code]

[2016-08-14 20:13] poolerMF commented on #19613
as I see ... validator is not "respecting" custom **validation_groups**  .. it still passed root validation_groups  into every children for validation

it doesn't matter if I use group sequence ... when I pass another validation_groups into TagForm, groups will be not applied

[2016-08-14 20:51] kleijnweb commented on #19600
The reference AST builder in Haskell  ([YamlReference](https://hackage.haskell.org/package/YamlReference)) won't compile, but as it turns out there is also an official online reference parser: http://ben-kiki.org/ypaste/

It will also show you an HTML AST of pasted YAML. From the looks of it, it is a Perl wrapper around `yaml2yeast > yeast2html`. See `"http://yaml.org/#/'YAML Resources'/'YAML Refe

[2016-08-15 06:16] ro0NL commented on #19609
Firefox 48

![image](https://cloud.githubusercontent.com/assets/1047696/17657057/93657a72-62c0-11e6-9695-5c3c9a588a2f.png)

[2016-08-15 07:44] jameshalsall commented on #19600
👍 that's definitely news to me, I always understood that nested properties should be indented, I'll have a look through the spec and see what it says

[2016-08-15 07:45] nicolas-grekas commented on #19611
Unless I misunderstood the issue, this is expected and documented behavior:
http://symfony.com/doc/current/components/process.html#process-signals

[2016-08-15 08:29] Alsatian67 commented on #19337
The problem only come when a normalizer doesn't allow to inject resolved options.

Is was so by DoctrineMongoDBBundle : DocumentType

Because the DocumentType set 'em' option, but don't allow to pass this option by form construction.

So I trick my code to preprocess the options and remove the em option when i'm using the DocumentType.

https://github.com/Alsatian67/FormBundle/blob/master/Form/Ext

[2016-08-15 08:29] #19337 closed

[2016-08-15 10:07] Navi2016 commented on #19336
Sorry for the delay, have tested it and it seems to stay running OK now!

[2016-08-15 17:15] Bilge commented on #19611
How is that an acceptable solution? It's not even documented in the right way. I am not "using signals", I am merely calling `stop()`.

[2016-08-15 17:42] fabpot commented on #19600
Keep in mind that the Symfony YAML component goal is NOT to implement the full YAML spec, but only a subset that is useful for configuration purposes. Even if your example is valid, it's not supported by Symfony and I don't expect us to support it (except if someone come up with a PR that implements this easily).

[2016-08-15 18:03] nicolas-grekas commented on #19611
I don't know what is acceptable to you. If you think things should be otherwise, both the documentation and the code are open for pull requests. Closing because this is how things are, no offense.

[2016-08-15 18:03] #19611 closed

[2016-08-15 19:00] dmaicher commented on #19370
Not sure I understand what you want to do. So if the user does not enter any date you want it to not be set to `null` on your model but keep `\DateTime('+1 day')`?

Also in `POST_SUBMIT` you should not add/remove any form fields: http://symfony.com/doc/current/form/events.html#c-the-formevents-post-submit-event

[2016-08-15 22:45] #19140 closed

[2016-08-16 00:02] ideal-it-solutions opened #19620 "Entities passed to the choice field must be managed. Maybe persist them in the entity manager?"
What i need to achieve is when i select a category, then the Skills relating to that category is made available to choose from in the form. the relationship between category and skills is a manytomany rel. also i have followed this tutorial from here https://symfony.com/doc/current/form/dynamic_form_modification.html#form-events-submitted-data and have arrived at the following.

    class ProjectT

[2016-08-16 01:27] RoSk0 opened #19621 "Introduce Symfony\Component\Workflow\TransitionInterface ?"
I have integrated Workflow component into Drupal 7 website and because of custom config storage it will be really useful for me to have an ability to use my own class as Transition class to have some custom properties and methods.
I think that it wouldn't be too complicated to introduce Symfony\Component\Workflow\TransitionInterface but I see one thing that I have no idea how to handle. In Symfony

[2016-08-16 05:31] marfillaster commented on #19370
@dmaicher `POST_SUBMIT` is the only way to add fields based on submitted value of existing field.

The example posted allows an optional future date when checkbox postponed is ticked. The problem is when the form is submitted, the default value( new day) is replaced with an empty value. Aside from interepting the request data on `PRE_SUBMIT`, another workaround is to add the field during setup and

[2016-08-16 06:09] kleijnweb commented on #19600
I see. I didn't realize how limited the component's ambitions are.

[2016-08-16 06:24] iltar commented on #19620
This issue tracker is not meant for help with your code. You could ask this question on Stack Overflow or IRC instead: http://symfony.com/support

[2016-08-16 06:33] kleijnweb commented on #19600
I realize that this isn't the forum for it, but does anyone know of a native PHP YAML parser that *is* 1.1 compliant, or at least aspires to be? Much appreciated.

[2016-08-16 06:44] ro0NL commented on #19620
@ideal-it-solutions see http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/working-with-associations.html#transitive-persistence-cascade-operations
@iltar then close :-)

[2016-08-16 06:47] ro0NL commented on #19621
Cant you couple custom logic by transition name, and hook in using events? Ie. why do you need a custom class? From the workflow pov it's just a simple VO.

[2016-08-16 06:56] novoss opened #19622 "EntityType should have option to have setter / add method called"
Here's my situation: A `Parent` entity has a `OneToMany` relationship with some `Child` entities. The form for `Parent` has an `EntityType` field, with options `['class'=>Child::class, 'multiple'=>true, 'expanded'=>true]`.

When calling `$form->handleRequest($request)`, I expected `Parent->addChild()` to be called, like it is with `CollectionType` if the `by_reference` option is set to `false`.

I

[2016-08-16 07:25] jxmallett commented on #19622
I've gotten around this for the moment by adding a `POST_SUBMIT` form `EventListener`.

^ @novoss and I are the same person. Work account...

[2016-08-16 07:49] jakzal commented on #19600
@kleijnweb http://php.net/YAML

[2016-08-16 07:53] kleijnweb commented on #19600
Thanks, I am aware of the PECL extension, I was hoping for a native PHP solution.

[2016-08-16 08:39] HeahDude commented on #19620
Since you populate the skills using the `choices` option, what happens if you use a choice type instead of an entity type?

[2016-08-16 08:53] MatTheCat opened #19625 "[Routing] build query string with PHP_QUERY_RFC3986"
[UrlGenerator](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Routing/Generator/UrlGenerator.php#L269) doesn't use [`http_build_query`](http://php.net/manual/en/function.http-build-query.php) fourth parameter, thus encoding spaces as `+` because of the *application/x-www-form-urlencoded* media type.

As route extra parameters aren't used in a form context I think `PHP_QUERY_R

[2016-08-16 08:54] Tobion commented on #19625
:+1:

[2016-08-16 09:09] lyrixx commented on #19621
Hello @RoSk0

I usually don't like to add interface on simple POP / value object.

Then If you store your "workflow schema" outside the config.yml (or something similar in drupal), you have to create everything by hand. It's really easy. So IMHO, there is no need for the TransitionInterface

[2016-08-16 10:29] sruj opened #19626 "How to find a Github project (website) made with Symfony (I want to look at good example as a pattern to refactoring my project)"
I just want to look at ONE, well done, website made with Symfony as a pattern to refactoring my project.

(other than https://github.com/symfony/symfony-demo - it's just too small)

If this is not a proper place to ask about that please suggest me better place before you remove this question.

[2016-08-16 10:33] Michal-sk opened #19627 "Filesystem rename overwrite not working on directory"
When i try to use the `rename` function with `$overwrite` set from the Filesystem class, on a directory, I get a  `File exists` error message from the PHP core, which makes trigger a Symfony `IOException`.

[2016-08-16 10:47] armellin commented on #19256
Actually, I am facing a double translation (I have a default_locale set). The first one regularly done from English to Italian by the Form component,  and then another failed attempt from Italian to Italian.

[2016-08-16 10:53] aitboudad commented on #19256
@armellin not sure if it's related, if not please provide a fork of Symfony Standard Edition that reproduce your issue.

[2016-08-16 11:29] Nyholm commented on #19605
I solved this issue by adding a new interface and a new marking class. See #19629

[2016-08-16 13:17] ro0NL commented on #19626
Well, basically in its core, that is the demo/standard edition. As it shows you all/most common symfony patterns on a lowest level. Or see http://symfony.com/doc/current/best_practices/index.html if you want.

So unless you're not specific about what you want to refactor.. this is really hard to answer, but maybe you can look up one of these guys on github; https://symfony.com/showcase/

I always

[2016-08-16 14:01] Lisennk opened #19632 "Config checker doesn`t say to fix permissions in var/sessions"
I'm using latest version of Symfony and after i installed the framework, i visit config.php page and saw, that i don't have correct permissions on `var/logs` and `var/cache`. After i executed:
[code]
Symfony config checker was OK, but site was still broken. Then i executed this command:
[code]
And everything started to work.

So, i think, symfony config checker must check the `sessions` dir permis

[2016-08-16 14:10] ro0NL commented on #19632
Good catch. However, having the `var/sessions` directory is optional, it depends on how your setup is [configured](https://github.com/symfony/symfony-standard/blob/05bca699ef631d03d4b114b4366ad0c180b55ecb/app/config/config.yml#L30).

I think this is a documentation issue, as `config.php` doesnt know the path, it can by any or none maybe. This is different for the logs+cache directories, they are t

[2016-08-16 14:14] sruj commented on #19626
ok, thanks,

(I will remove this post tomorrow.)

[2016-08-16 14:18] ideal-it-solutions commented on #19620
@HeahDude let me try that and get back

[2016-08-16 14:23] fabpot commented on #19626
Closing as you should use the proper support channels as mentioned by @ro0NL

[2016-08-16 14:23] #19626 closed

[2016-08-16 14:25] fabpot commented on #19620
Closing as you should use the proper support channels. Thank you for your understanding and I hope @HeahDude suggestion fixes your issue.

[2016-08-16 14:25] #19620 closed

[2016-08-16 14:34] jameshalsall commented on #19632
Another problem here would be detecting the web user, as the permissions need to be set for both the CLI user and the web user. You can detect the web user automatically I guess, but it would have to work from both the CLI and the web requirements checker.

[2016-08-16 14:40] ro0NL commented on #19632
There's a separate tool for that; `bin/symfony_requirements` which executes the same checks.

Agree on you, for checking the requirements as documented;

[2016-08-16 14:46] fabpot commented on #19600
@kleijnweb AFAIK, Symfony YAML is the pure PHP lib that supports most of the YAML features.

[2016-08-16 14:46] #19600 closed

[2016-08-16 19:00] mvrhov opened #19641 "[Cache][BUG][PHP 7.1]Always set default lifetime"
Looking at cache.xml, there is a parameter/argument named `default lifetime`.
It seems that this is not set as the container contains `''` as a value for a parameter that's clearly supposed to be an integer.
This is a problem in php 7.1 as `''` is not a valid integer and thus php emits a warning `Warning: A non-numeric value encountered`

This can be clearly seen when running app/console cache:cle

[2016-08-16 20:13] poolerMF opened #19642 "[Form] children builder should have data"
example:

Controller:

    $form = $this->createForm(AtricleFormType::class, $article);

AtricleFormType:

    function buildForm($builder, $options) {

        // $builder->getData() = $article;

        $builde->add('tags', CollectionType, [
           'entry_type' => TagFormType::Class,
            ...
            without setting data ...
            ...
        ]);
    }

TagFormType:

    fun

[2016-08-16 21:26] chalasr commented on #19615
Confirmed, `autowire` just doesn't work in abstract services, neither set from the parent nor in the child directly.
See #19643

Status: reviewed

[2016-08-17 05:12] HeahDude commented on #19642
Hi @poolerMF, I don't think we should allow that, since it's not the builder responsibility to set data to children forms from the data passed as argument by some `create*Form` method.

DataMappers do that.

If you need to build forms dynamically depending on data values you should use listeners instead.

[2016-08-17 08:26] dunglas commented on #19545
Your solution is good @hensoko. Adding brackets after the class name for arrays is how the serializer work since #14756.

[2016-08-17 08:57] jameshalsall commented on #19641
I'm not seeing this on a default symfony standard install. Can you provide your config?

[2016-08-17 09:24] hensoko commented on #19545
I created a custom ObjectNormalizer that now checks explicitly for an array. I realisized that `$type->getCollecntionValueType()` returns null if the given type is not a collection so my fix from above will raise an PHP error. Furthermore I now use a loop to iterate through each array-entry because I found it a bit nasty to simply add square-brackets to the class-name but this could be of course t

[2016-08-17 09:36] dunglas commented on #19545
I'll open a PR soon to fix this (it is very similar to your last example).

[2016-08-17 09:48] mvrhov commented on #19641
Just checkout the master of symfony standard run composer update and then `bin/console cache:clear`

[2016-08-17 10:37] marcoalbarelli commented on #3824
@Nemo64 's solution is fine.
I just propose a small improvement to make it more ready to use
[code]

replacing the string `__name__` is more adherent to the cookbok recipe
http://symfony.com/doc/current/form/form_collections.html#allowing-new-tags-with-the-prototype
and this way you can choose how many new elements you want to add

Also, this works well with file uploads as well:
[code]

I think t

[2016-08-17 11:40] nicolas-grekas commented on #19641
See #19650

[2016-08-17 12:29] luxifer commented on #19582
same issue in symfony `2.8.9` I had to rollback to `2.8.8`

[2016-08-17 12:32] stof commented on #19582
The issue to me seems that the HttpCache always execute a GET request here. It should execute a request with the original method

[2016-08-17 14:37] lyrixx commented on #15753
May be it's too late to discuss about this PR / issue but I'm against it. I really don't see the value added by this (all all stuff related into the PSR + Monolog).

My point of view:

It's very useful for message with a level superior to the level that trigger the cross finger (ie warning / error or more). But for others (debug / info) errors it's IMHO useless. It's useless because there is no ne

[2016-08-17 14:45] valotvince commented on #19582
That's it !

[2016-08-17 15:24] tgalopin commented on #19582
Can you check https://github.com/symfony/symfony/pull/19651 fixes this please?

[2016-08-17 16:52] #19641 closed

[2016-08-17 17:14] yvoloshin commented on #6587
Hi @jarofgreen ,
Thank you for introducing this patch! I'm trying to implement it by creating an extension of TimeType (named MyTimeType) in my project and adding your changes to the extension. MyTimeType was added to config.yml under `doctrine: dbal: types: time: 'MyTimeType\location'`. The problem is that the property I'm trying to enter in 12-hour format belongs to DateTimeType, not TimeType. A

[2016-08-17 18:31] #19582 closed

[2016-08-17 20:30] Aerendir commented on #11293
I've the same issue: there are some translations that are marked as unused while they are used in form types and in controllers.

JMStranslationBundle doesn't have debug features (and I think it shouldn't): it is an helper to write translations, but I think that Symfony itself should check for the completeness as the tool used to write translations is irrelevant: someone may also like to write the

[2016-08-18 01:15] #19625 closed

[2016-08-18 06:26] bjcullinan opened #19652 "Descriptive config error message don't show up"
Please explain to me the purpose of MainConfiguration.php.  A perfect example of my issue is right here: https://github.com/symfony/symfony/commit/04508658b52274dfd7a6d7502d565c764e569e5d#diff-b17a1d8367613749bf70e5c1fa67235e

When a configuration setting changes names for no apparent reason, there are specific parts of that code that indicate the change such as the lines: The "intention" option f

[2016-08-18 07:42] iltar commented on #19652
The error you've described is triggered in the listener, that means that the wrong options have been configured. However the configuration is validated and throws the exception because something is wrong. Configuration is compiled and the compiler passes/extensions configure the listener. So this error is not triggered because the configured already catches it.

The option "identity" is not mentio

[2016-08-18 09:51] rquadling opened #19654 "Is it possible to show a relationship in options?"
Hi.

I'm wondering if it is possible to use the Symfony/Console component to build a set of options that satisfy this command line help.

script command [--limit=n] [[--target=n [--reverse-order]] | [--date = ccyyddmm ]]

So only a `--target` can be in `--reverse-order`, but both `--target` and `--date` can have `--limit`.

I know I can implement the internal validation logic, but it would be nice

[2016-08-18 09:51] iltar opened #19655 "[HttpKernel] Support querystring in action arguments"
One feature I'm often missing, is the ability to fetch query parameters directly from the method arguments. With the refactoring I've made it easier to add functionality, I was thinking to use this if the feature would be decided.

**Current scenario**

[code]

**Proposed scenario**

[code]

This should also support arrays and optional values for example:

[code]

Would this be something I can add

[2016-08-18 10:01] HeahDude commented on #19655
There is already http://symfony.com/doc/master/bundles/FOSRestBundle/annotations-reference.html, wouldn't an argument value resolver mess with it?

[2016-08-18 10:07] iltar commented on #19655
The other solution would be to add the parameters in Symfony elsewhere, meaning they end up in the attributes. This would make it possible to create a parameter converter for `?post=1` where the 1 gets converted into a Post object.

[2016-08-18 12:03] arodiss opened #19658 "Profiler storage lifetime"
According to [3.0 documentation](http://symfony.com/doc/3.0/reference/configuration/framework.html#lifetime), `profiler` configuration can specify `lifetime`
However, in [code for 3.0.9](https://github.com/symfony/framework-bundle/blob/v3.0.9/DependencyInjection/Configuration.php#L194) I see no such node.

Thus, attempt to use it in my application triggers `Unrecognized option "lifetime" under "fr

[2016-08-18 12:04] stof commented on #19658
This should be reported to the documentation issue tracker. This config setting was removed in 3.0, but it looks like it was not removed from the doc.

[2016-08-18 12:05] chalasr commented on #18563
According to [this line](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L789), this issue should concern the bundle's `translations` directory too.

Some solutions are actually proposed in #19606 and #19646 (Only tested with #19646 and it indeed fix it as it makes bundle instances available from any extension).

[2016-08-18 12:10] ro0NL commented on #18563
To clarify; this is also not about moving things from extensions to compilers (it could be legit though) as in both cases there's no context whatsoever available. Extensions are just part of a compiler.

[2016-08-18 12:52] arodiss commented on #19658
@stof
Thank you for clarification.
Created https://github.com/symfony/symfony-docs/issues/6889

[2016-08-18 12:52] #19658 closed

[2016-08-18 14:35] bjcullinan commented on #19652
Thank you, sorry I typed the word identity, but I meant intention.  I figured that out eventually, but what I am really wondering is how do we get those messages to describe the error instead?  I don't understand why MainConfiguration 2.8 has a bunch of helpful error message, but they are under the 'logout' section, is that in the wrong place?  Is MainConfiguration incomplete in the 2.8 branch?  C

[2016-08-18 15:17] fabpot commented on #19655
It has been rejected in the past. Being able to get the value of routing parameters is ok (`/:foo`), but being able to get anything passed by the user is a no-go in terms of security.

[2016-08-18 15:28] iltar commented on #19655
But wouldn't it be the exact same thing as reading the request query manually? It would merely be a shortcut. I could also add bogus info there or in the route Paramus, wouldn't make a difference as far as I can tell. I could even make a parameter converter that already does this so I fail to see which security issues this would raise.

[2016-08-18 16:27] iltar commented on #19652
So what's the actual issue then? I don't quite get it.. Was the feature removed in 2.8 (while it shouldn't have been) after you upgraded from 2.7 to 2.8?

[2016-08-18 16:43] bjcullinan opened #19661 "Allegedly transparent changes are being made to MainConfiguration that are not transparent"
Steps to reproduce error:
1) Setup symfony 2.8
2) Use the configuration setting security: firewals: main: form_login: intention:
3) Observe that **none** of the error messages intended to help correct the deprecated setting show up, only the generic error is reported, negating the utility of the 20 lines committed to fix this setting.

[code]

Lines 51 through 60 in UsernamePasswordFormAuthenticat

[2016-08-18 16:58] iltar commented on #19661
Regardless of whether or not you agree with this change, these lines of code are necessary for the component. People can use the component without the framework so those "unnecessary" lines of code are most certainly necessary.

Which symfony version are you using? Because you shouldn't be getting this error in 2.8 afaik.

[2016-08-18 16:59] sstok commented on #19661
Related to #19652 (I would even consider this a duplicate as the same issue discussed).

[2016-08-18 17:17] stof commented on #19661
your error message talks about an unrecognized ``identity`` setting, which has nothing to do with the renaming of ``intention`` to ``csrf_token_id``

[2016-08-18 17:35] bjcullinan commented on #19661
As I already discussed I mistakenly used the word identity because on
CSRFToken($id, $value) is designated even though it use to be called
intention.  So MainConfiguration is not used when using the component as a
standalone? Then why doesn't MainConfiguration call some
ConfigurableInterface within each module so you only have to check the
$options variable once?  Your literally avoiding abstracti

[2016-08-18 17:38] bjcullinan commented on #19661
And it is a burden because Mr iltar and Mr nicolas had to come along and
make the commit to MainConfiguration. If this was all I one place Mr Jakzal
would have been able to fix it himself originally.

On Aug 18, 2016 10:35 AM, "Brian Cullinan" <bjcullinan@bjcullinan.com>
wrote:

[2016-08-18 17:41] bjcullinan commented on #19661
Fuck you stof, Open Code of Conduct is deprecated.  "Update: We will not be continuing work on the open code of conduct. See our followup post for more information."

[2016-08-18 17:43] iltar commented on #19661
It seems like you just came here to rage. Nobody is forcing you to use Symfony so stop acting like a 10 year old.

[2016-08-18 17:55] bjcullinan commented on #19661
Agreed, 100%.  Fix it, or don't.  I don't care anymore because no one here has the ability to look past "tone of voice" and actually spend 5 minutes acknowledging the problem.  Open source sucks because people make commits without writing tests and checking other people's work.  Case in point.  I tried to check someone's work and got zero helpful feedback.  There's no place in this community for m

[2016-08-18 18:04] iltar commented on #19661
I actually tried to help you despite your tone. You should understand a few points here:
 - Shouting at people and saying things like "fuck you" will not get you anywhere
 - You still haven't told me which symfony version you are using and how this issue suddenly arises
 - If this was really a problem, I would've seen more issues about it and I didn't
 - Feel free to add a test-case to cover your

[2016-08-18 18:05] ro0NL commented on #19661
As i understand correctly, we have a pretty big BC issue right now..we get an exception instead of a (expected) deprecation notice...

[2016-08-18 18:24] ro0NL commented on #19661
Problem found i guess;

`form_login.intention` is not deprecated from 2.7 to 2.8 (perhaps other factories are affected as well), compare;

- 2.7: https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginFactory.php#L32
- 2.8: https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/

[2016-08-18 18:31] bjcullinan commented on #19661
https://github.com/symfony/symfony/pull/19662

[2016-08-18 18:32] bjcullinan commented on #19652
NEWS FLASH!  AddOptions needs to include old and new configuration names in order to fall through to more descriptive error messages.
https://github.com/symfony/symfony/pull/19662

[2016-08-18 18:50] jameshalsall commented on #19652
Looks like you have upgraded from 2.x to 3.x, read the upgrade guide (https://github.com/symfony/symfony/blob/master/UPGRADE-3.0.md) and it clearly states that the `intention` configuration option was changed to `csrf_token_id`

[2016-08-18 18:59] jameshalsall commented on #19627
Can you post your code snippet?

[2016-08-18 19:08] ro0NL opened #19664 "[SecurityBundle] no deprecation for form_login.intention"
- 2.7: https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginFactory.php#L32
- 2.8: https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FormLoginFactory.php#L32

is a BC break.

[2016-08-18 20:14] nicolas-grekas commented on #19192
ping @ro0NL since you're in the DI business these days, any chance you could look at implementing this one? :)

[2016-08-18 20:53] ro0NL commented on #19192
@nicolas-grekas can you explain a bit (im not really familiar with proxy managers on a low-level). But reading

im not really sure how we would even do that.. the [contract](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/ContainerInterface.php#L34) is clear on this right?

[2016-08-18 20:55] nicolas-grekas commented on #19192
**Overwriting** a non synthetic service should be deprecated.

[2016-08-18 21:15] ro0NL commented on #19192
At the first looks of it, [this](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Container.php#L177) needs to be deprecated.

However.. it's getting late. Im lost.. it's probably their for some reason. I wasnt really aware of this to be honest. Ill have a look tomorrow (lets see what tests are gonna fail :))

[2016-08-18 22:17] ro0NL commented on #19655
@iltar you're right, it's the same when reading _manually_. However, that's the risk in terms of security, we just should not advertise with "add a method argument, and it's automagically populated by the user" (whereas route arguments are controlled by the developer). Eventually we create a backdoor entrance, the risk of writing "bad" code that is.

[2016-08-19 05:42] HeahDude commented on #19370
As said @dmaicher you should use `PRE_SUBMIT` event to handle dynamic field base on to-be submitted data otherwise it won't have any effect. `POST_SUBMIT` let you access the model data modified by submission but won't change the form and this is expected, so I don't see any issue here.

[2016-08-19 05:50] Michal-sk commented on #19627
[code]

if `$fpDirCp` dir already exists i get the error.

[2016-08-19 05:52] iltar commented on #19655
In that case, would it be an idea to white-list query string parameters in the route config?

[2016-08-19 06:41] #19520 closed

[2016-08-19 06:50] ro0NL commented on #19655
Could work. Not sure how intuitive that is, not everybody uses annotations/comments to clarify.

Personally i was thinking more along the lines of;
`public function someAction(Request $request, Param $bar)`

Think `$bar->isQuery()`, `$bar->isGiven()`, etc.

If we go this way, we need a whitelist. Period :)

[2016-08-19 10:05] TiMESPLiNTER opened #19670 "[Yaml] Missing new line break at the end of folded style"
A folded style block should always have a line break at the end (as long as there is no [chomping operator](http://yaml.org/spec/1.2/spec.html#id2794534) set like `>-`). So the follwong folded style block in YAML:

[code]

should (according to the YAML lang spec) end up in:

[code]

(with a line break at the end)

but actually ends up in:

[code]

(without line break at the end)

[2016-08-19 14:16] COil commented on #8703
Hi, very weird, I am facing a similar issue, when calling a non existent method, I've got a blank page with Symfony 3.1.3 while with Symfony 2.8.9 I've got the good correct error page (in debug mode).
When triggering a notice, I've got the good debug page with both versions.  When enabling xdebug, I've got the error stack trace in the apache logs.

And in error.log , apache crashes:

    [Fri Aug

[2016-08-19 14:41] TiMESPLiNTER commented on #19670
PR  #19671

[2016-08-19 15:07] #19664 closed

[2016-08-19 15:07] #19661 closed

[2016-08-19 15:07] #19652 closed

[2016-08-19 15:13] #19545 closed

[2016-08-19 15:59] #19615 closed

[2016-08-19 19:11] mvrhov opened #19677 "[PHP 7.1] Latest master is crashing in ArgumentResolver"
RuntimeException in ArgumentResolver.php line 77: Controller "AppBundle\Controller\DefaultController::indexAction()" requires that you provide a value for the "$request" argument (because there is no default value or because there is a non optional argument after this one).

[2016-08-19 20:51] GuilhemN opened #19678 "[Console] Add a RepeatedQuestion"
Actually when I want to ask several times the same question with `SymfonyStyle` i have a very verbose output:

[code]

I propose to introduce a `RepeatedQuestion`. It could be implemented like that:

[code]

It would be used like that:

[code]

And the command output would be:

[code]

WDYT?

[2016-08-19 23:25] dunglas commented on #19677
Can you post a code snippet to reproduce the problem?

[2016-08-20 05:22] mvrhov commented on #19677
No need. use symfony-standard master and composer update

[2016-08-20 08:51] wouterj commented on #19677
I can't reproduce this on PHP 7.1.0-beta2 on Windows.

Status: works for me

[2016-08-20 09:01] ro0NL opened #19680 "[DI] Dumping shared private service is deprecated?"
Consider the following container;

[code]

`$dump` looks like;
[code]

Calling `$dumpedContainer->get('shared_private_dep1')` gives
[code]

I've got something running on this, but i want to be sure this doesnt work as intented currently.

[2016-08-20 15:49] mvrhov commented on #19677
I have beta3.

[2016-08-20 16:00] wouterj commented on #19677
status: reviewed

I can reproduce this with PHP 7.1-beta3. However, this is probably a bug in PHP, as it's working as expected in all PHP versions except 7.1-beta3?

[2016-08-20 16:14] mvrhov commented on #19677
It might be. I have no crash if I switch back to 7.0. However symfony might do something that's not allowed anymore.

[2016-08-20 16:18] wouterj commented on #19677
The problem is that in PHP 7.1-beta3, `ReflectionParameter::getType()` is returning a FQCN (with leading `\`), while we're `===` comparing it with `Request::class`, which does not include the leading `\`.

Reported the bug at PHP, to see if this can be reverted or at least more explicitely documented: https://bugs.php.net/bug.php?id=72906

[2016-08-20 16:20] dunglas commented on #19677
The API Platform test suite also fail for other reasons with the latest 7.1 (it was green before the beta 3). PHP even segfault. The last beta looks buggy, I think we should only allow failure for 7.1 until it becomes more stable.

[2016-08-20 16:25] mvrhov commented on #19677
Take a look at the last comment from @nikic in php/php-src#2068 The BC seems intentional to support nullable types.

[2016-08-20 16:55] wouterj commented on #19677
The feature will be reverted in PHP: https://bugs.php.net/bug.php?id=72906#1471710916

For now, please downgrade your PHP version to PHP 7.1.0-beta2 or PHP 7.0.9. This issue can be closed.

[2016-08-20 19:01] mvrhov commented on #19677
I'm going to take just this one out of the context as it probably should be solved in 3.2. The new nullable types would probably need to be supported in argumetresolver and through the framework as I imagine a lot of ppl will now use them.  That's the main reason I'm even running the betas.

[2016-08-20 19:36] iltar commented on #19677
This class should probably receive a compatibility update for the nullable: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/ControllerMetadata/ArgumentMetadataFactory.php

My guess is that it should give a default value with null, meaning `hasDefaultValue()` should do more than checking just return `$parameter->isDefaultValueAvailable();`. However, I expect PHP to k

[2016-08-20 19:37] iltar commented on #19678
Looks like a valid case to me

[2016-08-20 20:00] Ener-Getick commented on #19678
BTW it could also be used for things like multiline answer. Maybe we should choose a name showing this use case as well ?

[2016-08-20 21:13] wouterj commented on #19677
@iltar thing is, `ReflectionType#__toString()` will [prefix the FQCN with `?` when the class is nullable](https://github.com/php/php-src/blob/master/ext/reflection/php_reflection.c#L3040-L3054). So the `===` check doesn't not make much sense anymore. I'm not sure if they are going to revert only the `\` change, or also the `?` change. If both are reverted, there is no work to do in Symfony. If onl

[2016-08-20 21:30] iltar commented on #19677
I will try to find a 7.1-beta3 monday if I can so I can build a patch for it (please do remind me if you can)

[2016-08-20 22:34] tgalopin commented on #5098
This has been fixed by https://github.com/symfony/symfony/pull/14050 and should be closed IMO.

[2016-08-21 01:11] weaverryan commented on #19175
@chalasr for the record, I agree :). Security is difficult, due to firewalls. But in general, the purpose of most bundles is to provide services, and the bundle configuration is the way that the user is able to control how those services are instantiated/configured. Why should services for security be any different? Use the bundle configuration to configure the service, then use the service as you

[2016-08-21 03:15] wakqasahmed opened #19688 "Fix the calendar exception to handle null"
Fix the calendar exception to handle null, error was raised while exporting from akeneo

The Symfony\Component\Intl\DateFormatter\IntlDateFormatter::__construct() method's argument $calendar value NULL behavior is not implemented. Only the GREGORIAN calendar is supported. Please install the "intl" extension for full localization capabilities.

<img width="1279" alt="81f951cc-57e0-11e6-9f6f-e231bbf

[2016-08-21 05:14] mvrhov commented on #19677
This took unexpected turn. It seems that I wasn't clear enough. If they do revert the patch there is nothing to do from the symfony side, you are correct.
What I meant when I quoted the part of message is it would still be nice if symfony would support nullable types in 3.2 in "all" resolvers. e.g. `?Foo $foo`  woudn't throw exception but null would be injected if necessary.

[2016-08-21 05:32] #5098 closed

[2016-08-21 06:47] wouterj commented on #19677
Everything has been reverted: https://github.com/php/php-src/commit/8855a2ce76e8bfba1d2eea1345c765fde7a9a441 this can now be closed

[2016-08-21 08:11] iltar commented on #19677
@mvrhov can you open a new issue for that? I think this is something that has to be merged into 3.1 and 3.2.

[2016-08-21 09:17] sstok commented on #19688
You only mention a problem, but not how to solve it 😄

Are you suggesting to default to the `GREGORIAN` calender when NULL is passed?

[2016-08-21 10:36] ro0NL commented on #19688
[This](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.php#L154) conflicts with https://secure.php.net/manual/en/intldateformatter.setcalendar.php

So normalizing here makes sense.. (lets dont rely on PHP constructors and nulls). Not sure why we limit to GREGORIAN only (let PHP try to decide it?).. could be there for a reason :)

[2016-08-21 13:45] wakqasahmed commented on #19688
I have submitted a pull request for the fix. The fix is as simple as locale (e.g. default: "en")

https://github.com/symfony/symfony/pull/19691

[2016-08-21 14:49] trowski commented on #19677
As noted by @wouterj, I've reverted the changes so that `ReflectionType::__toString()` is now identical to 7.0, including *not* prepending a `?` for nullable types. The method is now just an alias of `ReflectionNamedType::getName()`.

`ReflectionType::__toString()` should be discouraged for code generation going forward, as it seems there's just not a way to add type features in a BC way. My attem

[2016-08-21 15:26] Koc commented on #19655
Ref #3254

[2016-08-21 17:15] andig opened #19693 "[HttpFoundation] Authorization header not available via headers()"
I'm using Apache 2.4 and php 7.0 configured as module and HttpFoundation 3.0.9. I've read https://github.com/symfony/symfony-docs/pull/2529/files#r3886789 and added the RewriteRule although not running PHP through CGI.

When calling app with a `Authorization: Bearer ....` header, it's not available via `headers()`. It is however visible via `apache_request_headers()`.

Why isn't Symfony picking up

[2016-08-21 18:43] jameshalsall commented on #19678
This can easily be implemented in user land with `Question`

[2016-08-21 18:47] jameshalsall commented on #19627
Does the user running the code have permission to write to the target directory?

[2016-08-21 19:41] ro0NL commented on #19693
Symfony uses `$_SERVER['HTTP_*']` to get the headers.. have a look at https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/ServerBag.php#L28

Perhaps you can debug from here, as there are some [edge cases](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/ServerBag.php#L78).

[2016-08-21 19:42] keyboardSmasher opened #19695 "Class level violations not added to path without some code contortionism."
Before the validator change, I used to be able to do this:
[code]

With the new `Symfony\Component\Validator\Context\ExecutionContextInterface` I try this:

[code]

I must do this:
[code]

Notice I have to use `data.city`, not just `city` in order for it to work. (thank goodness for xdebug)

[2016-08-21 19:46] Ener-Getick commented on #19678
@jameshalsall how would you do that ? That's not that easy and would probably need some hacks.
Anyway even if that's doable in userland i don't understand why it wouldn't be supported by the core to make it easier to use.

[2016-08-21 20:24] Abam opened #19696 "Serializer: Empty groups handling consistency"
With default Symfony configuration for the serializer service, ObjectNormalizer is used as default normalizer.  When the serializer is called with context `['groups'=>[]]` (groups is an empty array), every objects are serialized to empty arrays.

But when the GetSetMethodNormalizer is activated, all attributes are shown.

What is the right behavior between ObjectNormalizer  and GetSetMethodNormali

[2016-08-21 20:42] #19696 closed

[2016-08-21 20:44] andig commented on #19693
@ro0NL I can confirm that no corresponding `HTTP_AUTHORIZATION`variable or similar is set in the `$_SERVER` array.

[2016-08-21 20:55] andig commented on #19693
See https://github.com/symfony/symfony/pull/7649 for a PR that didn't get merge and was apparently covered by a documentation update. Unfortunately that seems valid for CGI use only.

Even if this is a PHP defect- it would make sense to patch it in Symfony?

[2016-08-21 20:58] ro0NL commented on #19693
There is an [`ApacheRequest`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/ApacheRequest.php).. perhaps we could merge in headers from `apache_request_headers` here.

[2016-08-21 21:03] andig commented on #19693
I've also opened https://bugs.php.net/bug.php?id=72915 to get some further insights.

[2016-08-22 03:42] teohhanhui opened #19697 "[DependencyInjection] Decorating event listeners"
Currently, decorating event listeners (`kernel.event_listener`) makes the decorated service private:
https://github.com/symfony/dependency-injection/blob/5d4f4ff02a3a5b24a7c81bb7e22f2e57c7526ee2/Compiler/DecoratorServicePass.php#L47-L58
resulting in an exception being thrown here:
https://github.com/symfony/symfony/blob/94078a09aceeb5b890288a4ae088c5aeee0b1724/src/Symfony/Component/EventDispatcher

[2016-08-22 06:02] Michal-sk commented on #19627
Would that return the `File exists` error?

[2016-08-22 07:40] sstok commented on #19678
Depending on there relationship this is not as easy as it seems, in https://github.com/rollerworks/SkeletonDancer I started with a collection of questions, but then I wanted to add support for conditional questions (only ask when x) and then it become complicated.

So Instead of adding all to a collection, each question is asked by a Questioner that keeps track of all questions, but instead of usi

[2016-08-22 08:39] jameshalsall commented on #19678
@Ener-Getick at a simple level off the top of my head...

[code]

[2016-08-22 08:41] Ener-Getick commented on #19678
@jameshalsall yes but as i said that's very verbose.

[2016-08-22 08:55] jameshalsall commented on #19678
it's no more verbose than your suggested implementation, imo

[2016-08-22 08:57] Ener-Getick commented on #19678
@jameshalsall the output in the console is verbose, not the call to `ask`  :P

[2016-08-22 09:13] steevanb opened #19698 "EntityType with manytoMany does not call setters"
Hi !

I have 2 entities, Site and Tag, linked with a multidirectional manyToMany. Site is the owning side, tag is the inverse side :
[code]

[code]
[code]

[code]

I have a simple FomType, like this one :
[code]

When i call
[code]
Tag::setSites() is not called.
But in FormEvents::POST_SUBMIT event, i have selected Site in Tag.

Problem : as Tag is not the owning side of the relation, linked Site

[2016-08-22 09:22] stof commented on #19697
The issue IMO is the order of compiler passes: registering listeners should be done before resolving service decoration, so that the decorated service is registered as a listener with its original id (and so the decorator service will then be used when calling the listener) instead of registering it with its internal generated id (which would not call the decorator service, even if we keep it publ

[2016-08-22 10:33] dguhl commented on #11572
@andkirby You might want to use an array for the call.

[code]

[2016-08-22 11:40] poolerMF opened #19701 "RequestDataCollector error after login"
after upgrading SF to version 3.1.3 I'm getting error after login

**Notice: Array to string conversion**
RequestDataCollector.php at line 378

when I dump $controller in RequestDataCollector->parseController at first line in function:

![error](https://cloud.githubusercontent.com/assets/4276289/17853606/e87d3fba-686d-11e6-81b7-385dc30b99ea.png)

[2016-08-22 13:01] sstok commented on #19678
@jameshalsall Good point, that's actually something I want to do in the long run :) but that will take some time.

[2016-08-22 15:05] Gladhon commented on #11752
@NinoFloris  why this is closed now ?

[2016-08-22 15:09] jakzal commented on #19654
@rquadling Marking this as a feature request as this is currently not possible. Not sure if anyone's willing to work on this (and if the solution would be simple enough, with no BC breaks, to be accepted)

[2016-08-22 15:16] #11764 closed

[2016-08-22 15:32] tgalopin opened #19705 "[RFC] Future of the Symfony HttpCache and its usage in production"
Hello everyone,

I open this issue as a request for debate around the Symfony HttpCache and especially about its usage in development and production.

A few days ago, I stumbled upon the issue https://github.com/symfony/symfony/issues/4871 (HttpCache files getting too big) which is a problem only because the HttpCache is used in production.

Philosophically, the Symfony HttpCache was designed as b

[2016-08-22 15:36] stof commented on #19705
Integrating the HttpCache stats in the debug profiler might be hard, because the debug profiler is part of the app code running only on cache miss. What kind of deeper integration are you thinking about ?

[2016-08-22 15:38] tgalopin commented on #19705
I don't have a specific implementaton in mind. What I propose is to clearly define HttpCache as a debug tool, by including it in the debug tools (somehow) and by removing its usage in the app.php file (in production).

[2016-08-22 15:40] pies opened #19706 "Dumper does not output file/line"
When I use dump() I'd like to be able to tell where was it called at.

It's not difficult to add to output and I'd like to contribute it if approved by community.

[2016-08-22 15:43] stof commented on #19706
The issue is not to add it to the output, but to determine these file and line. The only way (AFAIK) is to use ``debug_backtrace`` and then to extract a meaningful location from it (which is not easy, as the meaningful layer is often not the first one, due to the ``dump()`` function wrapper or the Twig integration layer)

[2016-08-22 15:44] wouterj commented on #19706
Please note that this information is shown when dumping to the web dev toolbar.

[2016-08-22 15:45] jpauli commented on #19705
I think that sitting some PHP code, in front of a PHP designed application, just to prevent running it; is really silly.

PHP's request startup / shutdown time is way slower than a dedicated tool such as Varnish (which has been designed for that, so its source code has been oriented with just one goal, aka it got hugepage support, sendfile() support, IPC support and everything needed for such a ta

[2016-08-22 15:46] vschoener commented on #19705
@tgalopin May be it will be better to push them using a real Proxy Cache as Varnish ?

HttpCache is great to understand the usage and how things work, but to deal in production with high traffic for example or heavy process that doesn't required to execute all the code process anytime, this should not be used.

I think the option 4 is the one but with a deeper explanation and some use case example

[2016-08-22 15:47] pies commented on #19706
@stof That's correct, I intended to use `debug_backtrace()` for this task.
@wouterj I use dumper with Silex and without a debug bar.