[2020-10-10 10:38] nicolas-grekas commented on #38503
I would take the order as a property we can rely on. Unlike Go, PHP preserves the order of hash maps. We'll run tests, PHP also has tests, and I'm pretty sure they alreay rely on the order.

[2020-10-10 11:04] ethanliu commented on #36753
@stof thank you for the right direction, indeed it was caused by ext-intl.

after update to php 7.4 and all of the rest extensions, the bug seems still exists.
disable the intl module then polyfill works just fine.

[2020-10-10 19:01] Jibbarth opened #38509 "[Http Client] RetryableHttpClient, HttplugClient and sendAsyncRequest issue"
**Symfony version(s) affected**: 5.2.0-BETA1

**Description**
I tried the "RetryableHttpClient". It work perfectly when it decorate the HttpClient. when I using it inside a HttplugClient with `sendRequest`, everything is ok. But with `sendAsyncRequest`, I got a strange error :

[code]

It don't call nor on the `onFullfilled` and the `onRejected` methods

**How to reproduce**

Simple reproducer :

[2020-10-10 20:29] derrabus commented on #38503
This variant would be very easy to migrate once we have nested attributes.

Yes, that might get confusing.

That's something that you will need to get used to. There are reasonable non-hacky use-cases for arrays in attribute declarations, e.g.:

[code]
or
[code]

[2020-10-10 22:33] wtorsi opened #38511 "[Controller] adding Actions as an invokable objects"
Hi all

I want to propose some changes to `AbstractController` and it's behaviour, i suppose it can increase the overall performance of controllers.

**The goal**
1. The main idea is to make a controller as slim as possible, therefore I suggest adding responses as objects, which looks as a `standalone controllers` and remove `subscribedServises` from the root controller at all (if it is not needed

[2020-10-10 23:38] ahmed-bhs opened #38512 "Symfony Messenger: Send logged messenger errors per email (via swift_mailer)?"
I've configured monolog to send errors via email as described in the symfony docs here: https://symfony.com/doc/4.3/logging/monolog_email.html

Works well with all errors happing during a request, as well as console command errors.
But it does not send emails for errors which occurred during the handling of a messenger message.

Errors are shown when running the consumer `bin/console messenger:con

[2020-10-11 00:47] pizzaminded commented on #38511
IMHO Your problem can be solved by using some DI and [Action-Domain-Responder](https://github.com/pmjones/adr) pattern:

Symfony supports invokable controllers, so there is no need to use controller as a "middleware" for actions. You can define invokable class as a action directly:

[code]
It would be autowired and executed like any other action, no need to wrap them in additional non-invokable cl

[2020-10-11 05:31] ghost opened #38513 "TranslatableMessage not found"
Hello,

**Symfony version(s) affected**: 5.2

**Description**
After update via composer :
An exception has been thrown during the rendering of a template ("You cannot use the "Symfony\Bridge\Twig\Extension\TranslationExtension" as the Translation Component is not installed. Try running "composer require symfony/translation".").

 {{ t('btn.forgot',[], 'login')|trans }}

composer json : "symfony/tr

[2020-10-11 06:30] Nyholm commented on #38513
Thank you.

Could you do a `composer show | grep symfony`?

[2020-10-11 06:33] ghost commented on #38513
[code]

[2020-10-11 06:34] Nyholm commented on #38513
Thank you. I see that you are running `symfony/twig-bridge 5.x-dev` and `symfony/translation v5.2.0-BETA1`

The `TranslateableMessage` is not part of 5.2-beta1. (See [here](https://github.com/symfony/translation/tree/v5.2.0-BETA1)).

Try run all beta versions or all 5.x-dev versions and you will be fine.

[2020-10-11 06:34] #38513 closed, assigned to nobody

[2020-10-11 06:35] Nyholm commented on #38513
Pro tip:

3 backticks (`) will make your github comment properly formatted.

Example with "forward ticks":

´´´
my code
´´´

[2020-10-11 06:48] ghost commented on #38513
Ok thanks, flawless, I would know for next time ;)

[2020-10-11 07:16] Nyholm commented on #38509
I can confirm this bug. I've tried fixing it but I didn't get far..

Ping @jderusse maybe you can help?

[2020-10-11 07:20] Nyholm commented on #38504
I think this is the expected behavior.. isn't it?

Which means that your client sent a request to `example.com:2345/login/`, if Symfony should tell the client to go somewhere else on this server, it should also include the same port (`example.com:2345/login`).

If Symfony did add that port then the client would use port `2345` in the first request and then `80`(?) in the next, which does not make

[2020-10-11 08:10] nicolas-grekas commented on #38503
We can have a base class or an interface. We can also imagine a syntax dedicated to nested constraints:

[code]

We don't have to use `newInstance()` to create such instances. We should not actually, for the reason you listed.

But for nested constraints, the IDE will work as expected. Their options are discoverable, unlike  when using `::class`.

I don't know how this proposal works for the [`Col

[2020-10-11 08:15] nicolas-grekas commented on #38503
we can also decide to go for an all-arrays syntax, with only one attribute:

[code]

The benefit of this syntax is that we could revert all the code we added in constraint classes to support both styles of annotations (docblock+attributes). The new `Assert` attribute would act as a bridge.

[2020-10-11 08:16] nicolas-grekas commented on #38503
3rd and last comment: we could decide to NOT support nested constraints when using attributes, and contribute to php-internals to add support for them.

[2020-10-11 09:39] Aerendir commented on #38497
This seems to me a common use case. Why force someone to copy and paste the same classes in many projects to solve those common use cases and force to maintain different versions of the exactly same functionality?

Doing this seems to me like boilerplate and boilerplate should be avoided and made easier to manage.

[2020-10-11 09:43] Nyholm commented on #38497
I dont really think so.

And I already showed you config that does not use insanely large numbers but you still get your messages stored for 30+ years. My two "config only" examples would very well fit the scenario you describe.

[2020-10-11 09:46] Aerendir commented on #38497
Ok, then maybe a mention in the docs about this config could be useful.

[2020-10-11 09:49] Nyholm commented on #38497
I agree with you. Here is a part of the documentation that describes how to set these parameters: https://symfony.com/doc/current/messenger.html#retries-failures

[2020-10-11 09:49] #38497 closed, assigned to nobody

[2020-10-11 10:31] Aerendir commented on #38511
I think you should never have private methods in controllers: if a method is private, then maybe you need to refactor it in some services and inject the services instead of writing the code in the controller directly.

[2020-10-11 10:45] salirzv opened #38514 "Why does Symfony throws deprecation warning logs about it`s own classes"
**Symfony version(s) affected**: 5.1.7

**Description**
So my symfony 5.1.7 is giving me a deprecation log :
`User Deprecated: Since symfony/framework-bundle 5.1: The "session.flash_bag" service is deprecated, use "$session->getFlashBag()" instead.`

that is related to :
`{▼
  /home/ali/Desktop/exchangeProject/var/cache/dev/ContainerEsfHCzk/getSession_FlashBagService.php:22 {▼
    ContainerEsfHCzk

[2020-10-11 11:37] derrabus commented on #38503
We could even use an attribute for that. 🙃

[code]

This syntax gets messy if we want to modify the properties of the composite constraint itself. I'd prefer to use the composite constraint itself as start marker.

Right. The reflection API should give us everything we need to do the constructor call ourselves and it would be pretty straightforward to insert the nested attributes into the construc

[2020-10-11 13:45] jkufner commented on #38503
Not allowing the nested attributes is a huge flaw in PHP. We should fix that. It is the only good solution to this problem.

[2020-10-11 13:48] jkufner commented on #38414
Multiple classes in a single file is a bad practice. It degrades code quality over time. Do we want to support that?

[2020-10-11 19:43] michaelKaefer commented on #33311
I hope someone can guide me on implementing this task: `putting requests in the "Performance" tab would be great (all timings are already in the collected "info")`

The times in the "Performance" tab are measured by calling `Stopwatch::start()` and `Stopwatch::stop()` (so I suppose this has to be done for every request and the collected "info" does not help here).

The `Stopwatch::start()` can be

[2020-10-12 06:39] AkashicSeer commented on #35388
How do we test classes that are dependency injected into other services, controllers etc?
I've figured out how to set the environmental variables.
 I've figured out how to set them as secrets in the vault.
 I have figured out how to get these values passed to my classes that need them with the services.yaml file.
 I have figured out how the Dependency Injection works etc. etc. etc. etc.
 I have no

[2020-10-12 07:05] nicolas-grekas commented on #35388
Here is the pointer to the doc about env vars:
https://symfony.com/doc/current/configuration.html#configuration-based-on-environment-variables

Maybe this could help:
https://symfony.com/doc/current/testing.html#accessing-the-container

I don't know if you realize it, but this comment completely ruins any will to further communicate with you. If you're looking for psychological bias, you could hav

[2020-10-12 07:57] #38509 closed, assigned to nobody

[2020-10-12 08:31] xabbuh commented on #38514
Can you create a small example application that allows to reproduce this?

[2020-10-12 08:32] xabbuh commented on #38399
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-12 08:32] #38399 closed

[2020-10-12 08:32] xabbuh commented on #37948
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-12 09:32] dbrumann commented on #38511
As @pizzaminded (nice username btw 😄 ) mentions, you are already quite free in how you want to create your controller. You do not have to use the AbstractController provided by Symfony and pretty much anything callable can be a controller for Symfony.

I doubt that you will generally get better performance from your approach. Symfony employs lazy loading for the services in the controller, so as l

[2020-10-12 09:34] fabpot commented on #38511
Closing as explained.

[2020-10-12 09:34] #38511 closed, assigned to nobody

[2020-10-12 12:05] salirzv commented on #38514
@xabbug

https://github.com/salirzv/testSymfony

I made this small app , check the src/Service folder , the deprecation warning is coming from that file

[2020-10-12 12:15] Riimu opened #38526 "[Finder] Symlinks that do not point to anything are considered both files and directories"
**Symfony version(s) affected**: 5.1.7

**Description**
A symlink that does not point to any actual file or directory seems to be considered both a file and a directory by the Symfony Finder component (i.e. it matches both `files()` and `directories()` filters).

It would be expected that such symlink is considered only either a file or a directory or even more likely, neither. It seems unlikely t

[2020-10-12 12:47] stof commented on #38514
you should be injecting the SessionInterface, not the FlashBagInterface

We probably need to deprecate the `FlashBagInterface` autowiring alias too.

[2020-10-12 13:03] Sicaa opened #38527 "[DomCrawler] The "less-than" sign truncates content"
Package version: `v3.4.35`

I'm aware that this is not the last version, but this is the one used in some of my projects and I did not found this issue mentioned anywhere. Correct me if I've missed something.

Seems that the `<` sign (not the `&lt;` version) makes the content to be truncated.

Reproduction:
[code]

Note that the `>` does not cause any trouble:

[code]

[2020-10-12 13:14] salirzv commented on #38514
@stof

so how should I add flash messages inside services?

[2020-10-12 13:22] stof commented on #38527
that's related to the behavior of libxml (which is used by PHP when using `DOMDocument->loadHTML()`). It does not support unescaped `<` (note that older browsers have the same limitation, as the recovery of an unescaped `<` is defined only as part of HTML 5, not in HTML 4).

There is 2 solutions for that:
- make the Crawler use the HTML 5 parsing. This is done by installing `masterminds/html5` and

[2020-10-12 13:23] salirzv commented on #38514
I figured it out how to add flashes from service :

[code]

closing the issue , thanks for your time

[2020-10-12 13:23] #38514 closed, assigned to nobody

[2020-10-12 13:37] Sicaa commented on #38527
Understood. Thank you for your quick help!

[2020-10-12 14:41] Sicaa commented on #38527
Reopening because I just tried what you suggested and it doesn't work either.

Installed `masterminds/html5` (version `2.7.4`)
Tried:
[code]

Am I missing something?

[2020-10-12 14:47] akalineskou commented on #21168
I stumbled upon this post because I was looking into how to see the response content in the profiler.

While I agree that html content would be hard to display, what about `json` responses?
Could the profiler just show the dumped json response there? This could be a new setting which defaults to false (if someone is concerned about the profiler size, but since this is used locally most of the time

[2020-10-12 14:53] stof commented on #38527
hmm, I missed the fact that you are using Symfony 3.4. Support for using the `masterminds/html5` parser has been added in 4.3

[2020-10-12 15:39] Sicaa commented on #38527
Ok. I'll fix that the other way. Thank you.

[2020-10-12 15:39] #38527 closed, assigned to nobody

[2020-10-12 16:24] hracik opened #38531 "Form field name guessing which work for mapping values to/from entity - does not work for mapping errors to field"
**Symfony version(s) affected**: 5.1.7

**Description**
When entity has property "discountPrice" then Form where the data_class is set to that entity accepts and maps correctly both fields "discountPrice" and "discount_price" to that property. However when that property has any type of Assert on it, then this error is not mapped back to field if the field name is not exact match.

I think that if

[2020-10-12 19:24] Nyholm commented on #38531
I can confirm that this is happening on 4.4 and 5.1.

When you use `$builder->add('discount_price');` it seams to refer to your methods `getDiscountPrice()`/`setDiscountPrice()`. That is why you get the form rendered properly.

But when your validation fails, it knows it is the path `"data.discountPrice"` (because it looks at your property with "Assert"), it now looks at your form and it cannot fi

[2020-10-12 19:33] burned42 commented on #38197
I just saw the same warning message and adding `class_exists(TranslatorTrait::class);` to `vendor/symfony/twig-bridge/Extension/TranslationExtension.php` as suggested does indeed solve the issue.

[2020-10-12 19:39] nicolas-grekas commented on #38197
Can you send a PR please? Branch 5.1

[2020-10-12 20:01] connorhu commented on #37354
Here is a repo with a test file:
https://github.com/connorhu/symfony-serializer
https://github.com/connorhu/symfony-serializer/blob/master/test.php

[2020-10-12 20:01] burned42 commented on #38197
@nicolas-grekas here's the requested PR: https://github.com/symfony/symfony/pull/38533 :)

[2020-10-12 22:10] broberts-dev opened #38536 "No Method of Testing for Undefined or Nonexistent Identifier in Expression Language Expression"
**Symfony version(s) affected**: 4.4.15

**Description**
When a Symfony Expression Language expression contains references to potentially undefined or nonexistent identifier(s), there appears to be no means by which to test the identifier(s) within the expression itself so as to prevent an Expression Language Exception from being thrown.  This is particularly problematic if the expression operates

[2020-10-13 02:14] ad3n commented on #28501
how about this error? i also have this error and i checked the folder `Resources/views` is not exist

[2020-10-13 03:18] emteknetnz opened #38537 "symfony/translation composer.json allows incompatible symfony/translation-contracts"
**Symfony version(s) affected**: v4.4.15

**Description**
symfony/translation composer.json requires "symfony/translation-contracts": "^1.1.6|^2"

symfony/translation-contracts ^2 has an incompatible function signature with symfony/translation v4.4.15

**symfony/translation-contracts - LocaleAwareInterface.php**
[code]

**symfony/transation - TranslatorInterface.php**
[code]

This leads to the PHP

[2020-10-13 04:05] emteknetnz commented on #38537
Actually ignore this, we worked out this happened because I ran composer install using php 7.3, though ran the code on a vagrant box running php 7.1.  Changing the vagrant box to php 7.2 resolved this issue.

We believe it's related to this PHP feature that was released on 7.2 https://www.php.net/manual/en/migration72.new-features.php#migration72.new-features.param-type-widening

[2020-10-13 04:05] #38537 closed, assigned to nobody

[2020-10-13 06:37] aschempp commented on #38339
Thanks for the hint @ro0NL, it took me a while to realize what you meant (because I never use XML). I've created a draft PR in https://github.com/symfony/symfony/pull/38540 to attempt a new feature 🙃. Should this issue be closed then?

[2020-10-13 07:54] nicolas-grekas commented on #38129
Fixed in a580688ee5

[2020-10-13 08:00] nicolas-grekas commented on #38129
Note that I think this is a bug in PHP: curl resources are turned into integers at shutdown time.
Maybe PHP 7.4 fixed that since curl resources are now objects.
Please report back if you experience an issue on 7.4 (please upgrade if using < 7.4)

[2020-10-13 09:08] nicolas-grekas commented on #34042
About APP_MODE instead of APP_ENV, I tried in #37584. This is doable but I fear the cost will be too high for the community. We'll live with both names for years to come if we do it. I'd suggest abandoning this part of the proposal.

[2020-10-13 09:13] #34042 closed

[2020-10-13 09:30] MichaelS86 opened #38541 "Lock with RedisStore: LockAcquiringException on second acquisition of lock within the same process (after TTL)"
**Symfony version(s) affected**: 5.1.7

**Description**
If I want to acquire and release twice within the same process whereby the second acquisition is attempted after the TTL, there is a LockAcquiringException which is the result of a LockExpiredException.
It seems that a lock can expire after it has been released which is an obstacle to a later re-acquisition.

IMHO it should be possible to acq

[2020-10-13 13:24] BoShurik opened #38547 "Exception while clearing cache in 5.2.0-BETA1"
**Symfony version(s) affected**:5.2.0-BETA1

**Description**
Exception  `Cannot rename because the target ".../var/cache/de~" already exists.`

**How to reproduce**
Every second run `bin/console c:c` will fail

**Possible solution**
The problem is in

https://github.com/symfony/symfony/blob/5.x/src/Symfony/Bundle/FrameworkBundle/Command/CacheClearCommand.php#L164-L173

[code]

`$oldBuildDir` and `

[2020-10-13 14:05] adryyy10 commented on #31508
I've changed the type of "roles" in User entity from json to string and then change it in my migration from JSON NOT NULL to VARCHAR(180) NOT NULL too, and it worked

[2020-10-13 14:14] stof commented on #31508
DBAL should already adapt itself to the right version of MariaDB. So make sure that the configured `serverVersion` in your project is the right one (be careful that if you specify a server version inside your url, it wins over the specific field).

[2020-10-13 14:25] Nyholm commented on #38547
I added a patch here: #38548 will that fix your issue?

[2020-10-13 15:19] Nyholm commented on #38541
Thank you for this issue. The reproducer script was really helpful.

To the best of my understanding after reading the [documentation about expiring locks](https://symfony.com/doc/current/components/lock.html#expiring-locks) and the source code. I think this is the expected behavior.

[code]

This will create a lock that should be valid (or auto released) after 2 seconds. Time starts when you acqu

[2020-10-13 15:37] stof commented on #38541
Well, trying to acquire it again after you released it yourselves should work IMO. I don't think there is anything preventing to re-use a lock object to acquire. btw, in the reproducing script, the lock gets released before it expires AFAICT. So this should not be a case of an expired lock.

[2020-10-13 15:37] stof commented on #38541
/cc @jderusse

[2020-10-13 15:39] MichaelS86 commented on #38541
Thanks for your comments!

IMHO  it should not matter if a lock is manually released or "auto-released" due to expiration in terms of a re-acquisition later on. The documentation just says that it is auto-released after the expiration time.
A lock should be able to be acquired again after release anyway, no matter when or why it was released.

[2020-10-13 15:43] MichaelS86 commented on #38541
Yes, it is released before expiration. I.e. in this case, the expiration time only affects the second acquisition of that lock and does not even have an effect on the first one.

[2020-10-13 15:57] jderusse commented on #38541
This is a bug. It should be possible to acquire several time in a row the same lock. And releasing the lock should not prevent acquiring it again.

[2020-10-13 16:01] Nyholm commented on #38541
Hm.. Okey.

I'll look into it more then.

[2020-10-13 17:16] dragosprotung commented on #38416
Because reflection was moved down into the list of guessers all others take precedence not only the getter

[2020-10-13 18:02] #38547 closed, assigned to nobody

[2020-10-14 03:55] natepage opened #38558 "[Messenger] Automatic schema updates with redis transport requires redis to run during database migrations"
**Symfony version(s) affected**: 5.1.7

**Description**
The event subscriber for [Automatic schema updates](https://symfony.com/blog/new-in-symfony-5-1-automatic-schema-updates) will loop over the messenger transports and check if they are Doctrine transports, if yes then it will run the schema update, great feature! However, we're having some issues with the Redis transport.

Locally, we're using

[2020-10-14 05:42] Nyholm commented on #38558
If you use the lazy option in your Redis dsn, then it will work exactly as you want.

Edit:
Oh, the "lazy" option is only for the cache component.... I'll see if I can make a PR to fix this.

[2020-10-14 05:58] #38541 closed, assigned to nobody

[2020-10-14 08:39] Nyholm commented on #38558
@natepage Can you try out my patch in #38563? Please confirm that it works for you.

[2020-10-14 10:53] wouterj commented on #38496
@fabpot "only fail if the signal registry is used". Do you have an idea how this should be done? When looking at `Application`, there are 2 ways its used: https://github.com/symfony/symfony/blob/9f6d604b5205e090aac5d76e55e4ef1c053c482e/src/Symfony/Component/Console/Application.php#L288-L289 https://github.com/symfony/symfony/blob/9f6d604b5205e090aac5d76e55e4ef1c053c482e/src/Symfony/Component/Conso

[2020-10-14 11:24] natepage commented on #38558
@Nyholm I've replied in the PR directly but yes! It works like a charm! Thank you 👍

[2020-10-14 13:28] maxgorovenko opened #38568 "Validator Regex always pass empty string"
**symfony/validator**: 4.3

**Description**
I have a validator constraint Regex with not empty pattern '/^[a-f0-9]{24}$/i'. I believe this pattern should not pass zero length string, but it does.

**How to reproduce**
This constraint should not pass empty string, It should pass only strings that matches the pattern (exactly 24 characters of a-f, A-F and 0-9):
new Regex(['pattern' => '/^[a-f0-9]{24

[2020-10-14 14:12] #38558 closed, assigned to nobody

[2020-10-14 14:14] xabbuh commented on #38568
That's intended. All core constraints abstain then to allow values to be optional. You need to combine the `Regex` constraint with `NotBlank` in your case.

[2020-10-14 14:14] #38568 closed, assigned to nobody

[2020-10-14 14:15] yellow1912 commented on #28041
Very weird but I still have this exact issue on my controller service which has the tags controller.service_arguments, with autowire and autoconfigure set to true.

The error is:

A binding is configured for an argument of type "string" named "$storeId" under "_defaults" in file "/path/services.yml", but no corresponding argument has been found. It may be unused and should be removed, or it may ha

[2020-10-14 14:38] Wirone commented on #24935
Would be great if this could work with `!tagged` so variadic arguments could be injected automatically, without listing them explicitly in `arguments`.

[2020-10-14 15:08] yellow1912 opened #38569 "Bind argument was not found in any of the services error"
**Symfony version(s) affected**: 4.4.15

**Description**

I have a controller service with a __construct method that expects a parameter passed to it. The parameter is $storeId.

The __construct method looks like this:

[code]

The controller service is automatically generated (inside a Bundle's Extension's `load` method) (It should be noted that I'm still using the Bundle structure migrated from

[2020-10-14 15:18] jazzzpor opened #38570 "$opsLimit must be 3 or greater for legacy encoder with low time_cost."
**Symfony version(s) affected**: 4.4.15

**Description**
When using a time_cost < 3 for a legacy encoder, \Symfony\Component\Security\Core\Encoder\NativePasswordEncoder throws an InvalidArgumentException "$opsLimit must be 3 or greater.".
It is now seemingly impossible to migrate passwords from this legacy encoder.

**How to reproduce**
Use the following config in security.yaml:

[code]

**Possibl

[2020-10-14 17:31] #38295 closed

[2020-10-14 18:00] henry2778 opened #38572 "[FrameworkBundle] Deserialize json in AbstractController"
**Description**
Hi! Sorry in advance if that issue is a duplicate (didn't find anything like it). What if we add new method in AbstractController to deserialize from json (opposite to `AbstractController::json()`) ? AbstractController already has lots of methods, but still this opertation seem to be routine one while developing APIs :)

**Example**
[code]
If OK, I would like to implement it.

WDYT

[2020-10-14 19:21] derrabus commented on #38572
#38224 was added recently which allows fetching the JSON content of the response as array. But as far as I know, there's no shortcut for fetching the response content normalized into an instance of a specific class. But I'm not sure if the `AbstractController` is the right place for that.

[2020-10-14 19:27] fabpot commented on #38572
I don't think this should be part of core. Thanks for proposing.

[2020-10-14 19:27] #38572 closed, assigned to nobody

[2020-10-14 20:31] Nyholm commented on #38569
When you are using the `_defaults` key then it is only "defaults" for that file. Not globally.

If you write something liket his, then it will work:

[code]

[2020-10-14 20:32] Nyholm commented on #38569
You can also add more stuff with wild cards:

[code]

[2020-10-14 23:06] jderusse commented on #38458
I never had a use case where I need to inject the same instance of lock in 2 services.

I'm :+1: with deprecating the lock service.

PR #38576 opened

[2020-10-15 03:18] yellow1912 commented on #38569
Ah I see, I get what you mean now.  I was thinking that the top level services.yml file will push down the configurations to every other file, I was wrong.

[2020-10-15 03:18] #38569 closed, assigned to nobody

[2020-10-15 04:50] #38458 closed, assigned to nobody

[2020-10-15 05:24] fabpot commented on #38496
/cc @lyrixx Any ideas?

[2020-10-15 08:09] juanmiguelbesada commented on #37982
Same issue here,  in symfony 4.3.11 still works

[2020-10-15 08:23] mickael-danjoux commented on #37982
Hello, I have the same problem with a Collection of product prices that I would like to order by rate code id.
It works when I do `product->getPrices()` : all my prices are order by rate code id.
But when I use my product entity in a Symfony form, on submit I have this error:

`No mapping found for field 'rate_code_id' on class 'App\Entity\Price'. ` while the dump result work perfectly

I use a Sy

[2020-10-15 08:30] jderusse opened #38583 "[Semaphore] Check if key is expired"
In lock component, I setup a mechanism to check if key is expired while trying to acquiring it (ie, because of latency in network, it took more time than expected, and the key expired during the process).

In most of case it never happens, but the probability increases when:
- the TTL is low
- the Store needs several operation to acquire the lock (ie. CombinedStore)
- the backend is frozen (SGDB l

[2020-10-15 09:38] stof commented on #28140
According to the code, only the `WARNING` word should be yellow (and bold). Maybe something is broken to reset the styles there, or maybe the Powershell terminal has issues with bold.
https://github.com/symfony/symfony/blob/b3a1851d43617c88aff68948554b0398fcdab07e/src/Symfony/Bundle/FrameworkBundle/Command/AssetsInstallCommand.php#L165-L169

[2020-10-15 10:03] lyrixx commented on #38496
Is it not possible with the follow method?
https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/EventDispatcher/EventDispatcherInterface.php#L74

---

If not, I propose the following path:

We should not listen any signal by default, and so empty this array: https://github.com/symfony/symfony/blob/9f6d604b5205e090aac5d76e55e4ef1c053c482e/src/Symfony/Component/Console/Application.php#L

[2020-10-15 10:06] staabm opened #38585 "console: auto activate ansi colors in github actions"
**Symfony version(s) affected**: 4.x

**Description**
[Github Actions added support for ansi colors recently.](https://github.blog/2020-09-23-a-better-logs-experience-with-github-actions/)

it turns out that symfony console based apps don't auto-enable syntax coloring.
initially I had reported this issue on https://github.com/composer/composer/issues/9269 but jordi would instead want a fix in symf

[2020-10-15 10:09] wouterj commented on #38496
That would require restricting the event dispatcher type. At the moment, it uses the event dispatcher contract, which only has a `dispatch()` method: https://github.com/symfony/symfony/blob/5.x/src/Symfony/Contracts/EventDispatcher/EventDispatcherInterface.php

Your proposal makes sense to me (someone who doesn't know anything about console signals). :)

[2020-10-15 10:21] derrabus commented on #38585
Is there a way we could auto-detect color support without building a workaround specific to GitHub actions? I understand that this is kind of what you're asking in actions/runner#750 already.

I don't feel confident about solely relying on that env variable. One scenario I could imagine here: You would use the Process component to run another Symfony Console based tool (e.g. your tool calls Compos

[2020-10-15 10:45] derrabus opened #38586 "CI for macOS"
Currently, we automatically run tests on Ubuntu Linux provided by Travis and on Windows provided by AppVeyor. macOS is missing here. That is unfortunate for several reasons:

* macOS is rather popular for web development.
* The Symfony CLI webserver encourages developers to run Symfony applications natively on their dev machine.
* Console tools are often run on the dev machine rather than the (vir

[2020-10-15 11:15] stof commented on #38585
env-based detection are a bad idea. they would break scripts running things like `some-comment > output.txt`, as it would consider that output.txt supports ANSI colors...

[2020-10-15 12:19] noniagriconomie commented on #38512
As the messenger worker is a background process that « never » stop until stopped/killed, i think logs are buffered and not streamed by email directly

When the worker stop, did you get those emails?

[2020-10-15 12:32] derrabus opened #38588 "[DependencyInjection] Cannot declare interface Stringable"
**Symfony version(s) affected**: 5.1.7

**Description**
I'm currently testing some applications for php 8 compatibility. Because I'm switching the runtime from 7.4 to 8.0 back and forth, it might happen, that I'm working on 8.0 with a cache that has been warmed up on 7.4. In that case I am greeted by the following exception.

<img width="1080" alt="Bildschirmfoto 2020-10-15 um 14 20 01" src="https

[2020-10-15 12:36] apphancer commented on #35138
Here's my problem with this: Application is running on Symfony 5.0 and files between 3-4 MB need to get attached. In the development environment, we are using Mailhog on a Docker container - the former being notoriously slow at processing emails with attachments. In this scenario, we are getting a `["/app/vendor/symfony/mailer/Transport/Smtp/Stream/AbstractStream.php","Connection to "localhost:102

[2020-10-15 12:40] nicolas-grekas commented on #38588
We could add a class_exists check around the class definition in the polyfill.
I'm :-1: for any generic solution, they're too costly to implement for too little benefit.

[2020-10-15 12:40] ahmed-bhs commented on #38512
In fact monolog `swift_mailer` type use <a href="https://github.com/symfony/symfony/blob/4.4/src/Symfony/Bridge/Monolog/Handler/SwiftMailerHandler.php">SwiftMailerHandler </a>
wish also implements reset interface and use memory spool by default wish keep all emails in buffer until it is destructed, so till  the end of request :
* onKernelTerminate
* onCliTerminate
* OR till reset method is called,

[2020-10-15 12:40] #38512 closed, assigned to nobody

[2020-10-15 13:00] chalasr commented on #38496
Alternative proposal in #38589

[2020-10-15 15:04] mikaint opened #38590 "Issue with Https when running symfony with istio"
When using trusted proxies (app running on EKS with ELB) as per [documentation](https://symfony.com/doc/current/deployment/proxies.html#solution-settrustedproxies), things working fine. When enabling istio though, the application even though is accessible on https, `$request->isSecure()` always returns false.

I tried several ways, including the following one which I believe it should be working b

[2020-10-15 15:19] #35358 closed

[2020-10-15 16:07] juanmiguelbesada commented on #37982
As a workaround you can use `@Assert\DisableAutoMapping` to disable AutoMapping validator on associations with custom indexBy.

BTW, it also fails on Symfony 4.3, but as AutoMapping is not enabled by default, the exception do not throw

[2020-10-15 16:16] juanmiguelbesada commented on #37982
I keep investigating. Is this related to https://github.com/symfony/symfony/issues/25834??

[2020-10-15 18:03] alexander-schranz opened #38591 "Types of request param in KernelBrowser are now string instead of integer"
**Symfony version(s) affected**: 5.2.0-beta2

**Description**

In the request stack does now only contain strings instead of integer like before:

**How to reproduce**

I did test sulu against the newest 5.2.0-dev and some tests are failing now a basic example looks like this:

[code]

If we then debug the value is now a `string`, in 5.1.7 its correctly a `integer`:

[code]

Before this was a inte

[2020-10-15 18:50] Matts commented on #38281
Will look at this.

[2020-10-15 19:53] Nyholm commented on #38590
I don’t know of istio, but if that is a proxy you need to set it to the request to show that you trust it. Doing 0.0.0.0/0. Doesn’t work (if I remember correctly).

If you print all the http headers in the request and you will see the Ip of your proxy.

[2020-10-16 04:52] #38496 closed, assigned to nobody

[2020-10-16 05:02] #38281 closed

[2020-10-16 05:08] fabpot commented on #38586
I agree... I can see that you **really** like challenges; I like it a lot ;)

[2020-10-16 05:11] fabpot commented on #38591
IMHO, you should fix your tests as everything coming from a request is a string (that's what we fixed in 5.2).

[2020-10-16 08:22] xabbuh commented on #37982
I tried to create a test case to reproduce the issue, but failed to do so. Could anyone of you create a small example application that allows to reproduce it?

[2020-10-16 08:23] saadux opened #38594 "Symfony ContextErrorException: Warning: unserialize() has been disabled for security reasons in /home/"
Hi Guys,

Im using symfony and i migrate my project from my localhost to my production server,

When i execute my projet have this message error on my project

ContextErrorException: Warning: unserialize() has been disabled for security reasons in /home/xxxxx.com/bxxxxxx/htdocs/vendor/symfony/symfony/src/Symfony/Component/Config/ConfigCache.php line 76
![erreur symfony](https://user-images.githubu

[2020-10-16 08:24] xabbuh commented on #38504
closing as explained by Tobias

[2020-10-16 08:24] #38504 closed, assigned to nobody

[2020-10-16 08:29] juanmiguelbesada commented on #37982
I'm on it

[2020-10-16 08:34] xabbuh commented on #37573
Please have a look at #38595. Does it work for you?

[2020-10-16 08:45] xabbuh commented on #37801
You need to change your `CompanyType` and `UserType` like this (currently, the `label_format` option set there overwrites the format defined in your `PremiumType`):

[code]

[code]

[2020-10-16 08:45] #37801 closed

[2020-10-16 09:07] juanmiguelbesada commented on #37982
Here we go
https://github.com/juanmiguelbesada/symfony-issue-37982

EDIT: I reproduce it on symfony 5, but it fails on 4.3 and 4.4 as well

[2020-10-16 09:12] alexander-schranz commented on #38591
@fabpot In our case we are testing a JSON Api. Is there an option on the client that its able to set the client send the requestBody as json so its handled like before? Else I think it will be a lot of refactoring for some projects changing this.

[2020-10-16 09:47] alexander-schranz commented on #38591
Some background we are using the `FOSRestBundle` which converts the `json` into the `Request::request` object with its BodyListener. I think it would help many devs to introduce some kind of `jsonRequest` into the BrowserKit then. I created a PR for it #38596.

[2020-10-16 10:33] Nyholm commented on #38594
Hey!

It seams like your PHP environment has removed the `unserialize` function. You should ask around on [slack or stackoverflow](https://symfony.com/support).

Im closing this as it is not a bug or issue with symfony.

[2020-10-16 10:33] #38594 closed, assigned to nobody

[2020-10-16 10:42] wouterj commented on #38570
Hi @jazzzpor! Thanks for creating an issue.

I'm not sure if I can completely follow you. The `time_cost` and `memory_cost` are used when *hashing* passwords, not when *verifying* them (the encoder will use the options specified in the password hash).

In fact, the `auto` encoder is able to handle all argon and bcrypt passwords and migrate to the latest settings. So I think the following config is

[2020-10-16 10:55] saadux commented on #38594
thanks

[2020-10-16 10:57] saadux opened #38598 "compatibility symfony 2.4 and php 7"
Hey,

I would like to know if symfony 2.4 is compatible with php 7, if not what is the right way to migrate the project.

thanks

[2020-10-16 11:24] dbrumann commented on #38598
It's possible to install it on PHP 7 according to the composer.json, but it is very likely there will be issues. Upgrading to a new major version is probably the best way to go. Depending on your dependencies it is possible you will not be able to upgrade to the newest version, but hopefully you can at least get to 4.4, the current LTS release. There is a page in the docs that goes into some detai

[2020-10-16 11:26] #38598 closed, assigned to nobody

[2020-10-16 11:30] KDederichs opened #38599 "[DoctrineBridge] Ulid on Postgres throws error on insert"
**Symfony version(s) affected**: 5.2.0

**Description**
I tried to insert an ULID into a Postgres database but uppon doing so it will error out like this:
`Doctrine\DBAL\Driver\PDO\Exception: SQLSTATE[22P02]: Invalid text representation: 7 ERROR:  invalid input syntax for type uuid: "01EMRHA3S6SZRG41BKZEAKCRVE"`

**How to reproduce**
Insert a ULID into a Postgres Database

**Possible Solution**
Se

[2020-10-16 11:49] nicolas-grekas commented on #38599
Sure, why would an ulid fit into an uuid field? Calling toRfc4122 is the correct way to disguise an ulid as an uuid for the db.

[2020-10-16 12:43] KDederichs commented on #38599
Blegh actually I ran into a differen issue as well:
The doctrine `setParameter` on query builders will just string cast this again.
To my knowledge there isn't a a way to hook into that one?

Tbh 2 options here:

1. Require the dev to manually cast all `setParameter` usages with `toRfc4122`
2. Make that the default toString value

Oppinions?

[2020-10-16 12:54] stof commented on #38599
That's not true. It depends on which DBAL type is used. As the ORM does not know about the UlidType of Symfony, it cannot automatically guess it when you don't pass a type. But it you use the third argument of `setParameter` to tell Doctrine that your parameter is an UlidType, things should work.

[2020-10-16 12:54] desjob opened #38603 "Content-Type header is lost when using the built in HTTP Basic Auth"
**Symfony version(s) affected**: 4.4.x

**Description**
Content-Type header is lost when using the built in HTTP Basic Auth.
After the initial redirect response is followed, `$request->getContentType()` returns `null`.
Also, when inspecting the $_SERVER superglobal, the 'Content-Type' is no longer there.

When inspecting $_SERVER at the intial request (the one returning the redirect as part of the

[2020-10-16 12:57] KDederichs commented on #38599
Ah indeed it does work.
But that still doesn't make it intuitive/convenient.

[2020-10-16 13:09] #38599 closed, assigned to nobody

[2020-10-16 13:31] lyrixx commented on #38583
Ohhh I understand better the lock component and this feature! I did not understand why there was this piece of code in the Lock component in the first place, that's why I did not "ported" it to the semaphore component.

So to answer your question: it looks like this feature is required in the **lock component. So I would keep it.**

But in the Semaphore component, we have only one backend (redis)

[2020-10-16 13:32] ro0NL commented on #38591
I suggested to support json payloads in $request->request consistently: https://github.com/symfony/symfony/pull/38224#issuecomment-694719959 but it was ignored :)

I agree with @fabpot, the only supported usecase is x-form-www-urlencoded data e.g. $_POST.

[2020-10-16 13:38] stof commented on #38599
@KDederichs passing `null` as parameter type (which is the default when omitting the argument) tries to guess the right type. But the Doctrine ORM currently does not provide any extension point to extend the guessing logic to support custom types.

[2020-10-16 13:48] jderusse commented on #38583
Thanks for your explanation.
Closing this issue as "not -yet- needed" in semaphore.

[2020-10-16 13:48] #38583 closed, assigned to nobody

[2020-10-16 14:08] KDederichs commented on #38599
@stof yeah I do get that.
I'm just saying it's unintuitive in a sense that for all the other 'first party' symfony doctrine mappings you do not have to think about appending that parameter. Just this one needs it (which probably should be mentioned in a doc somewhere).
But yeah since you can not extend that particular Doctrine behavious the only way of keeping the behavious consistant with all the

[2020-10-16 14:19] xabbuh commented on #37982
Can you confirm that #38604 fixes the issue?

[2020-10-16 14:19] stof commented on #38599
The only DBAL types provided in Symfony are the UlidType and UuidType. So I think that the other types you think about are not provided by Symfony, but are the core Doctrine types
And as far as the Doctrine ORM is concerned, Symfony is *not* a first party but a third party.

[2020-10-16 14:24] KDederichs commented on #38599
Hmm I guess yeah.
I was under the impression Symfony did have more types but I guess not.
My bad.

[2020-10-16 15:07] chiqui3d commented on #33303
same problem! :(

[2020-10-16 16:06] alpha1125 opened #38607 "bootstrap_4_layout.html.twig unnecessary css class injection."
**Symfony version(s) affected**: 5.1.7

**Description**
(1) the template injects the class "col-form-label" but is not injected on other non-compound labels, causing misalignment issues with labels/fields.

https://github.com/symfony/twig-bridge/blob/5.x/Resources/views/Form/bootstrap_4_layout.html.twig#L217

This causes a styling issue with multiple form elements in a row...
say: BirthdayType::cl

[2020-10-16 16:33] alpha1125 commented on #38607
The code sniplet for mangled... trying again:
`
 <div class="form-row">
                                        <div class="col-md-6">
                                            {{ form_row(newUserForm.birthday, {}) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(newUserForm.pr

[2020-10-16 20:47] codedmonkey commented on #27961
I don't understand why this got closed. We're not talking about a "client error" we are talking about an exception that's uncatchable because it's from a Symfony event listener.

I agree that its likely bots that are causing this problem, a modern browser prevents submitting an empty username in a properly configured login form, but it should not cause an exception. I have an idea in mind to fix i

[2020-10-16 21:50] moynzzz opened #38609 "Unable to use `auth_bearer` option with Login with Amazon [HttpClient]"
**Description**
Unable to use `auth_bearer` option in `HttpClient` with [Login with Amazon](https://developer.amazon.com/apps-and-games/login-with-amazon) access token.

**How to reproduce**
The problem is that a Login with Amazon access token contains the following character `|` which is not from the base64 alphabet.

In order to reproduce you just need to pass a token like this:
[code]
The error

[2020-10-16 22:02] wouterj commented on #38609
Related, but different: https://github.com/symfony/symfony/pull/38248

@nicolas-grekas what do you think about removing the complete regex check here? Seems like there are quite some services out there that do not follow the Oauth RFC bearer format.

[2020-10-17 12:58] michaelKaefer commented on #10169
If it should be done should the configuration look like this?
[code]

And if there are multiple entity managers:
[code]

But this has to be done in `doctrine/doctrine-bundle`, or not?

Or should there be a general solution for `doctrine/doctrine-bundle`, `doctrine/mongodb-odm-bundle`, etc.?

[2020-10-17 17:18] chalasr commented on #38301
Situation improved on 5.2 thanks to #38394.

[2020-10-17 17:18] #38301 closed

[2020-10-17 17:28] chalasr commented on #38170
Can you create a [minimal app that reproduces the issue](https://symfony.com/doc/current/contributing/code/reproducer.html#reproducing-complex-bugs)?

[2020-10-17 17:51] chalasr commented on #38412
The problem is that using env vars for this config option is not supported.
Config options are not all meant to be set via env vars.

Given that the default value for this option depends on the debug mode being enabled or not, I don't see the need for changing its value dynamically without clearing caches.

What is your use case? Can't you use a (non-env) container parameter?

[2020-10-17 19:01] 94noni opened #38613 "[Uid] Fail using Uuid as Doctrine type on 5.2.0-BETA2"
Hi,

On a personal app, after successfully upgraded to https://github.com/symfony/symfony/releases/tag/v5.2.0-BETA2,
I also wanted to test this feature https://symfony.com/blog/new-in-symfony-5-2-doctrine-types-for-uuid-and-ulid

But I have this error (web):

[code]

On cli when using `symfony console doc:sc:validate`:

[code]

-----------------

What is missing? Either my config or the documentat

[2020-10-17 19:16] nicolas-grekas commented on #38613
Can you please try with v5.2-dev? We might have fixed this already.

[2020-10-17 21:15] craigh opened #38615 "problem with new translation component config in BETA2"
**Symfony version(s) affected**: 5.2.0-BETA2

**Description**
[new php configuration](https://github.com/symfony/symfony/pull/37258) changes the #3 argument from

            <argument type="collection" />

to

                abstract_arg('translation loaders ids'),

This causes problems with (at least) willdurand/BazingaJsTranslationBundle because they use a [compiler pass](https://github.com/wi

[2020-10-17 21:28] craigh commented on #38615
I'm sure it would be incorrect to do so, but for argument sake, if I change

            ->args([
                abstract_arg('translation loaders locator'),
                service('translator.formatter'),
                param('kernel.default_locale'),
                abstract_arg('translation loaders ids'),
                [
                    'cache_dir' => param('kernel.cache_dir').'/transl

[2020-10-18 11:18] Kenny1911 commented on #36664
I think, this is because the property `$key` is `private`:

[code]

To resolve this problem, you can:

1. Make property `$_key` protected.

2. Use annotation `@SerializedName` on `getKey()` method.

[code]

[2020-10-18 11:37] chalasr commented on #37069
See #38618

[2020-10-18 12:14] chalasr commented on #38341
I'm 👎  on this for the reasons explained above.

[2020-10-18 12:37] bpolaszek commented on #38341
Alright, closing then.
Thank you all for your feedback! 🙏

[2020-10-18 12:37] #38341 closed

[2020-10-18 13:01] chalasr commented on #37489
This issue is getting old and did not receive much attention so far (which hints that it does not impact much people).
Feel free to open a PR for changing `putenv()` to another alternative.
Closing meanwhile. Thanks everyone.

[2020-10-18 13:01] #37489 closed

[2020-10-18 13:29] thelem opened #38621 "[PropertyAccessor] Original exception not always passed to throwUnexpectedTypeException"
**Description**
https://github.com/symfony/symfony/pull/18210 introduced throwUnexpectedTypeException()
https://github.com/symfony/symfony/issues/34899 extended this to wrap the original exception, and passed the original exception while inside the setValue function

However, by the time this came to be merged into 4.3:
https://github.com/symfony/symfony/commit/7f2d9c2b1ef7b1a5cec148243c388b339902

[2020-10-18 13:32] thelem commented on #38621
Problem was reproduced in 4.4.13, but looking at the source code I can see it is still an issue in 5.1

[2020-10-18 14:27] chalasr commented on #37459
I'm going to close this one for the reason given in the linked PR. Thanks

[2020-10-18 14:27] #37459 closed

[2020-10-19 06:27] #37069 closed

[2020-10-19 06:40] juanmiguelbesada commented on #37982
I'm not really sure it fixes complete the bug. In the repro project, applying the patch directly it still throw an exception.

`Argument 1 passed to Symfony\Bridge\Doctrine\PropertyInfo\DoctrineExtractor::getPhpType() must be of the type string, null given, called in /Users/juanmi/Projects/Personal/symfony-issue-37982/vendor/symfony/doctrine-bridge/PropertyInfo/DoctrineExtractor.php on line 103`

[2020-10-19 07:05] xabbuh commented on #37982
Thank you for the feedback. I am going to investigate. There might be more edge cases to fix.

[2020-10-19 07:09] xabbuh commented on #38603
Can you create a small example application that allows to reproduce your issue?

[2020-10-19 08:04] Jeroeny commented on #37609
@thiagomp Yes something like that would be nice 👍.

[2020-10-19 09:13] Bonemeijer opened #38627 "Event classes can not be mocked because they are final"
**Symfony version(s) affected**: 5.1.5

**Description**
Certain event objects can not be mocked with phpunit because they have the "final" keyword.

And you will get the following error;
`Class "Symfony\Component\HttpKernel\Event\ControllerEvent" is declared "final" and cannot be mocked.`

This happens for
* \Symfony\Component\Form\Event\SubmitEvent
* \Symfony\Component\Form\Event\PreSetDataEvent

[2020-10-19 09:14] Bonemeijer commented on #38627
Perhaps this should be an "improvement" and not a bug

[2020-10-19 09:28] wouterj commented on #38627
I think this is intended. An event class is just a data object, you shouldn't mock these in your tests. As a general practice, it's often good to only mock interfaces and not implementations.

[2020-10-19 09:30] MichaelS86 commented on #38541
Thanks for fixing that issue! When is the next release planned that contains that fix?

[2020-10-19 09:35] derrabus commented on #38627
I agree with @wouterj. I don't really see why I would want to mock event classes.

[2020-10-19 09:39] #38627 closed, assigned to nobody

[2020-10-19 10:04] #37618 closed

[2020-10-19 10:13] Bonemeijer commented on #38627
Fair enough. I would agree in most cases.

Please consider the situation where you're writing a test for an event listener that requires `\Symfony\Component\HttpKernel\Event\ControllerEvent`. The event listener is only interested in the `isMasterRequest()` method.

Option 1: You could instantiate the `ControllerEvent` and pass the following arguments:
* a mock of `KernelInterface`
* some void call

[2020-10-19 10:34] juanmiguelbesada commented on #37982
Here is my PR https://github.com/symfony/symfony/pull/38628

@xabbuh can you review it?

Thanks

[2020-10-19 12:26] MatTheCat commented on #38462
Opened https://trac.nginx.org/nginx/ticket/2063

[2020-10-19 13:25] dontub opened #38629 "[DoctrineBridge] Removing and re-adding of lazy loaded listeners by object not possible"
**Symfony version(s) affected**: 3.4-5.1

**Description**
Removing and re-adding of lazy loaded doctrine listeners by object is not possible. Though it is be possible using the service id, but a listener that removes and re-adds itself should not need to know its service id.

**How to reproduce**
Use a lazy listener similar to this one:
[code]

When re-adding the listener the same hash must be use

[2020-10-19 13:52] derrabus commented on #38627
Option 1 is usually what I do in my tests. Although I rather subscribe to the request event if I don't care about the controller.

[2020-10-19 13:53] redayoub opened #38630 "[Messenger] Consume a queue from fanout exchange"
**Description**
I have a microservice 1 from where I need to dispatch a command and then consume it from different microservices 2, 3, ... using different handler logic. The most convinient way to achive this is to use a rabbitmq exchange of type fanout that will dispatch the message to every queue linked to that exchange. This is my config for this:

[code]
The problem is that symfony messenger o

[2020-10-19 15:27] BoShurik opened #38631 "[HttpClient] Missing response content in profiler after adding retryable http client"
**Symfony version(s) affected**: 5.2.0-BETA2

**Description**
Before
[code]
After
[code]

Is this a bug or expected behaviour?

[2020-10-19 15:46] jazzzpor commented on #38570
Hi @wouterj ,

Thanks for looking in to this. You are absolutely right, it works perfectly with the suggested configuration.
I will look into setting the memory cost to fit our servers.

[2020-10-19 15:46] #38570 closed, assigned to nobody

[2020-10-19 15:56] Nyholm commented on #38630
Thank you for a detailed issue.

If I understand you correctly. You have a producer application A that puts messages to exchange "ms". That exchange is "fanning out" messages to queue "ms1", "ms2" and "ms3". What I fail to understand is why application A would also need to consume these messages form the queue. Isn't that the job for application B, C and D?

Yes, that seams about right. But your m

[2020-10-19 15:58] Nyholm commented on #38631
Thank you for trying out the beta release. <3

Ping @jderusse, Do you know on the top of your head? or should I try to investigate?

[2020-10-19 16:08] dcmbrs opened #38632 "[ChainCacheAdapter] TTL not correctly set"
**Symfony version(s) affected**: 5.1.7 (not tested on other version)

**Description**

I will only talk about TTL in this issue because it's more easy to show problem, but it can be with all properties who can be set in ItemInterface. I work with [CacheContracts](https://symfony.com/doc/current/components/cache.html#cache-component-contracts)
When we set manually TTL for an item (like in documenta

[2020-10-19 16:09] jderusse commented on #38631
I'm on it @Nyholm

[2020-10-19 16:30] jderusse commented on #38631
Issue is:

1) RetryableHttpClient -> decorates TracableHttpClient -> decorate CurlClient.
2) RetryableHttpClient use AsyncResponse.
3) Body reported in Profiler is buffered when user call `$response->getContent/toArray`

When user call `AsyncResponse::getContent()` it don't call `decoratedReponse->getContent()`, it steams the response instead.

The `TracableResponse::getContent` method is never ca

[2020-10-19 16:34] Nyholm commented on #38631
Lovely. Thank you.

@BoShurik Does this patch work for you?

[2020-10-19 16:36] 94noni commented on #38613
Hi @nicolas-grekas

What do you mean by `v5.2-dev`?

I've tried to use the `https://github.com/symfony/symfony/blob/5.x/link` file to link the latest `symfony/*` codebase with my project locally, and the problem is still here after clearing cache etc

[2020-10-19 16:43] nicolas-grekas commented on #38613
I mean the code in `5.x` yes

[2020-10-19 17:01] 94noni commented on #38613
@nicolas-grekas FYI I had to add manually to make it works with current `5.x` codebase:

[code]

Is this required as process or the framework should take care of it?
(maybe should be added inside the blog post)

Edit: @nicolas-grekas It appears that the `RegisterUidTypePass` is not called in the doctrine bundle, waiting next release

Many thanks

[2020-10-19 18:45] timotheemoulin opened #38634 "MicroKernel configureRoutes wrong parameter"
https://github.com/symfony/framework-bundle/blob/66583f3fdda7346a76dc9998be55128d7f617bf2/Kernel/MicroKernelTrait.php#L190

`MicroKernelTrait` call to `configureRoutes` should pass a `RoutingConfigurator` object instead of the given `RouteCollectionBuilder`.

Or have I missed something ? This now result (in my case) in no route being defined.

Deprecated: Since symfony/framework-bundle 5.1: Using

[2020-10-19 19:01] #38613 closed, assigned to nobody

[2020-10-19 19:08] wouterj commented on #38634
It [does pass the `RoutingConfigurator`](https://github.com/symfony/framework-bundle/blob/66583f3fdda7346a76dc9998be55128d7f617bf2/Kernel/MicroKernelTrait.php#L196), unless your method is still using the old signature and trying to typehint for `RouteCollectionBuilder`. The lines you're linking to are the BC layer that is used in that case.

Btw, when migrating from the routing collection builder

[2020-10-19 19:38] Nyholm commented on #38632
Awesome issue. Thank you.

I used your reproducer scripts and tried to figure out what was wrong. I've created a PR here: https://github.com/symfony/symfony/pull/38635

[2020-10-20 06:14] #38489 closed, assigned to nobody

[2020-10-20 06:52] xabbuh commented on #37553
In this case I think a proper solution still would be to transform choice labels first and then pass that with the `choices` option. As I don't think we are going to add this extra complexity to the component I am going to close here. Thank you for understanding.

[2020-10-20 06:52] #37553 closed

[2020-10-20 07:33] dborsatto commented on #38503
Came here to leave my 2 cents after reading the blog post.

Waiting for nested attributes to be added to PHP is fine IMHO. Everything else feels a bit hacky and not a proper solution. Support for annotations won't be dropped until attributes reach feature parity (I believe) so it's fine to keep a bit of the old until the new can 100% replace it, otherwise I'm afraid people would migrate it to a te

[2020-10-20 08:15] jacekwilczynski opened #38639 "Implement ListableReceiverInterface in AmazonSqsTransport"
**Description**
I would like to be able to peek at a few failed messages using the `messenger:failed:show` command but can't because `\Symfony\Component\Messenger\Bridge\AmazonSqs\Transport\AmazonSqsTransport` does not implement `\Symfony\Component\Messenger\Transport\Receiver\ListableReceiverInterface`.

Amazon SQS has a `receiveMessage` endpoint but it does not allow free listing or searching th

[2020-10-20 08:22] jacekwilczynski opened #38640 "Use DI & SRP to make Amazon SQS Messenger more extensible"
## Description

This issue is here in case #38639 is rejected and I have to implement `ListableReceiverInterface` in my application code with decoration or inheritance. However, it might be useful in other scenarios as well.

The `amazon-sqs-messenger` component instantiates dependencies in dependants, which is a problem for extending the component.
* `AmazonSqsReceiver` and `AmazonSqsSender` are

[2020-10-20 08:33] quentinus95 commented on #38503
Having a way, in a constraint class, to define a composition of nested constraints could be a simple first iteration that would allow:
- new projects to avoid using doctrine annotations
- old projects to etiher get the composite constraints out of their entities to the a constraint class or wait for PHP support for nested annotations
- incentive developers to get complex constraints configuration

[2020-10-20 09:01] michaljusiega opened #38641 "[FrameworkBundle] Optional bridges for Notifier are required(?)"
**Symfony version(s) affected**: 5.2.0-BETA2

**Description**
`  Invalid service "notifier.transport_factory.linkedin": class "Symfony\Component\Notifier\Bridge\LinkedIn\LinkedInTransportFactory" does not exist. `

**How to reproduce**
`root@76973e319c21:/var/www/intranet# php bin/console lint:container`

[code]

**Possible Solution**
The problem is that configuration of `FrameworkBundle` always e

[2020-10-20 09:01] #38634 closed, assigned to nobody

[2020-10-20 09:18] BoShurik commented on #38631
@Nyholm Is there easy way to test PR on existing project? I tried a [patch](https://github.com/symfony/symfony/pull/38633.patch) but it's for `symfony/symfony` not `symfony/http-client`

[2020-10-20 09:22] Nyholm commented on #38631
The simplest way is just to copy the few lines from the PR.

If it was a larger PR or your really wanted to do the "proper" way. Then you need to clone symfony/symfony, pull the fork and then use the `link` command.
See [the docs](https://symfony.com/doc/current/contributing/code/pull_requests.html#use-your-branch-in-an-existing-project) for more details.

[2020-10-20 09:28] jderusse commented on #38639
The purpose of `ListableReceiverInterface` is to deal with failed messages.
I'm fine with the solution `1)`, because you shouldn't have traffic on these queues.

I'm :+1: for using Sqs to store failed messages but documentation should warn the user about the drawbacks:
- listing messages dequeues and requeues all messages (order may vary) which impact other workers
- fetching a specific message re

[2020-10-20 09:40] nicolas-grekas commented on #38609
yes, we can remove the check... PR welcome.

[2020-10-20 09:55] nicolas-grekas commented on #38588
See https://github.com/symfony/polyfill/pull/295

[2020-10-20 09:55] #38588 closed, assigned to nobody

[2020-10-20 11:54] bitgandtter commented on #38503
Given that nested annotations support, if the RFC even gets accepted and implemented; will not get till 8.1 at least which will be at nearly 2021 year ends means that Symfony will need to wait till 5.4 => 6.0 this means two new versions without this feature. I agree that will be de ideal path but it feels too long.

The
[code]
Feels ok imo and yes it's a complete diff way of doing it comparing it

[2020-10-20 12:00] Guikingone opened #38643 "[Messenger] OptionsResolver for transport options"
**Description**
Hi everyone 👋

Small question about the usage of options in Messenger transports/connections, is there any limitations for the usage of `OptionsResolver`, as discussed here: https://github.com/symfony/symfony/pull/38624, maybe the transports can benefit of using OptionsResolver to define and validate the options passed through the factories?

**Example**

I don't have any specific

[2020-10-20 12:34] xabbuh commented on #38641
see #38644

[2020-10-20 12:42] xabbuh commented on #38621
see #38645

[2020-10-20 13:03] xabbuh commented on #38609
see #38647

[2020-10-20 14:19] fivetide commented on #38047
Please let me chime in here: It seems like from a security perspective, using any user provided path would be a bad idea, remote or local. Grabbing the .env seems just as bad. But from a developer perspective this just takes the gun off the table, but leaves a shotgun to shoot ones foot with. ->attach(fopen($url, "r")) would still work, but pollute the messenger queue with all the attachments cont

[2020-10-20 16:53] UBERPHP opened #38650 "Filesystem remove() function not throwing exception"
**Symfony version(s) affected**: 4.4.15

**Description**
remove method should throw an exception when fails to remove the file due to permissions problem.

**How to reproduce**
`composer require symfony/filesystem`

[code]

**Possible Solution**
https://github.com/UBERPHP/symfony/commit/81cbacb03043224e12149b88cdd4dd759f6a7e4b
However, I'm not really sure about behaviour here, especially  `&& file

[2020-10-20 17:03] #38641 closed, assigned to nobody

[2020-10-20 17:18] #38621 closed, assigned to nobody

[2020-10-20 17:55] iant-ee commented on #38621
Great to see this turned around so quickly. Thanks @xabbuh, @derrabus, @jderusse and @fabian - a great first experience of the symfony issue queue.

[2020-10-20 19:31] michaljusiega opened #38651 "[BrowserKit] BC-Break with casting parameters to string"
**Symfony version(s) affected**: 5.2.0-BETA2

**Description**
My CI/CD tests are crazy after upgrade to Symfony 5.2.0-BETA2. So...
All parameters as `null` value are casting to string. So `(string) null is '' (empty string)`.

**How to reproduce**
[code]
[code]

**In Symfony 5.2-BETA2**:
[code]
**In Symfony 5.1 and lower**:
[code]

**Possible Solution**
Workaround and ignore nullable values:

[cod

[2020-10-20 20:51] Nyholm commented on #38651
Big thank you @michaljusiega for testing the beta versions and writing so many great tickets.

Just a quick question:
How would a HTTP request look like for you to be able to do `dd($request->query->all());` and get the following result:

[code]

[2020-10-20 20:58] michaljusiega commented on #38651
You mean what the URL would look like before `HttpFoundation Request` parse it ?

[2020-10-20 21:16] derrabus commented on #38651
`http://www.example.com/some/path?string_value=string&nullable_value`

[2020-10-20 21:25] flythenimbus commented on #38503
This is the best way to go about this, imo.

Some of the proposed solutions look very good, but all of them have significant drawbacks. Helping PHP reach nested attributes would have the least impact in current codebases that rely on Doctrine's nested annotations. Asking people to update their code twice may lead to dev dissatisfaction.

[2020-10-20 21:30] Nyholm commented on #38650
I can confirm that this is an issue.

It happens because the directory is unreadable. We are trying to remove a file in it and we fail but since `file_exists()` return false (since we cannot read the directory) it just plays along.

Have a look at https://github.com/symfony/symfony/pull/38652, will that patch solve your issues?

[2020-10-20 21:34] Nyholm commented on #38651
Yes, That is what I meant. URL or full HTTP text.

@derrabus No, not really.

<img width="642" alt="Screenshot 2020-10-20 at 23 32 44" src="https://user-images.githubusercontent.com/1275206/96646571-9ee18280-132c-11eb-85db-f277f01fb186.png">

-------

My point here is: If there is no URL or HTTP request that can generate a `dd()`-dump like that, then I think the current behaviour makes sense.

[co

[2020-10-20 21:44] derrabus commented on #38651
Oh right. 🙈

I agree with @Nyholm. If there is no way we can trigger a `null` inside `$_GET` via a HTTP request, it doesn't make much sense to allow to emulate it.

[2020-10-20 22:37] juanmiguelbesada commented on #37982
@derrabus  this bug is not fixed by that commit...

[2020-10-21 04:18] michaljusiega commented on #38651
Maybe you have a right, changes can be confusing so We should add `[BC break]` information to `UPGRADE-5.2.md` ?

[2020-10-21 04:37] #38650 closed, assigned to nobody

[2020-10-21 07:12] igorbga opened #38654 "LDAP deprecated functions still in use in LTS 4.4"
**Symfony version(s) affected**: 4.4.15

**Description**
Some PHP ldap functions have been deprecated and will dissapear in PHP 8.0. This issue has been already addressed in issue #38352 and the changes seem to be present in branch 5.x, but not in branch 4.4, which is the current LTS version.

Although this doesn't affect functionality it pollutes the log output. In my case and using it from a com

[2020-10-21 07:34] W0rma commented on #38654
@igorbga The mentioned symfony version 4.4.15 was released before https://github.com/symfony/symfony/pull/38392 was merged. The fix will be part of the next minor release.

[2020-10-21 07:53] chalasr commented on #38654
Indeed, the patch will be part of the upcoming 4.4.16 release.

[2020-10-21 07:53] #38654 closed, assigned to nobody

[2020-10-21 08:01] mikaint commented on #38590
It looks like envoy proxy removes the X-FORWARDED-* headers (proto & port) and as a result Symfony does not consider the request as trusted. I didn't find a way to handle this on envoy so as a temporary solution i just inject those missing header through the Istio's VirtualService.

[2020-10-21 08:01] #38590 closed, assigned to nobody

[2020-10-21 08:36] romain-neil opened #38655 "Unable to send email to other servers with SwiftMailer"
**Symfony version(s) affected**: 5.1.2

**Description**
I can send email to our local domain using exchange's smtp server to local users (ex: user_a@our_local_domain) but when I try with a gmail address, I got the following error:
(Swift_TransportException)

Expected response code 354 but got code "503", with message "503 5.5.2 Need rcpt command
"

**How to reproduce**
`
$message = (new Swift_Mess

[2020-10-21 08:37] s3bul commented on #33342
In my opinion url with `/` must be distinguished.
I have a situation in my router config
[code]
and my controller looks like this
[code]
and in my swagger (i using nelmio/api-doc-bundle:^3.4) i have
![Zrzut ekranu z 2020-10-21 10-35-58](https://user-images.githubusercontent.com/6891296/96694856-42f91700-1389-11eb-8ea0-0664072c1589.png)
it doesn't make sense...

[2020-10-21 09:07] redayoub commented on #38630
@Nyholm You're right, I don't need to consume the message from application A. The application B will almost have the same config as what you specified but I don't understand why you removed the routing section, I think it's required to have it if I want to consume the PublishMessageCommand message in the Application B.

I do understand that we always consume from a queue, but what I don't understa

[2020-10-21 09:21] SergioNodriza opened #38656 "Error "Notice: Undefined variable: values" while make:migration in Symfony 5: The Fast Track"
**Symfony version(s) affected:** 5.0.11

**Description**
The `$values` variable is not being loaded as an array thru the preg_match function when enclosed into `assert`, thus throwing an error of undefined in later uses, but splitting the code with assignation of the result of preg_match works. Suspected to be a PHP bug.

**How to reproduce**
Following "Symfony 5: The Fast Track" when trying step

[2020-10-21 09:31] nicolas-grekas commented on #38656
Fixed in https://github.com/doctrine/dbal/pull/4364

[2020-10-21 09:31] #38656 closed, assigned to nobody

[2020-10-21 09:37] fabpot commented on #38655
I'm sorry but we are only using the GitHub repository to discuss bugs and new features. For this kind of questions, please use any StackOverflow.

Thanks!

[2020-10-21 09:37] #38655 closed, assigned to nobody

[2020-10-21 09:38] Nyholm commented on #38630
Are you sure about that? If I recall correctly, routing is only used when producing messages.

Could you elaborate why you need an exchange that fans out the messages if the same application is reading them back? I cannot understand that. In my mind, if you have a transport and define multiple queues, then it is only used for publishing messages. Never to consume it (or, I dont a scenario where yo

[2020-10-21 09:42] #37573 closed

[2020-10-21 09:42] romaricdrigon opened #38657 "[Security][BC] Erroneous and inconsistent behaviour of authentication with anonymous users"
**Symfony version(s) affected**: 5.1+, using the new "authenticator" system

**Summary**

When using the new authenticator based system, and `http_basic` firewall, User who did not provide any credentials get an `AccessDeniedException` instead of an `AuthenticationCredentialsNotFoundException`.
HTTP side, it means User will get a 403 "Forbidden" error instead of a 401 "Unauthorized" error. So no a

[2020-10-21 10:30] apfelbox commented on #37573
Looks great, thanks @xabbuh ! 🎉

[2020-10-21 10:38] aleho commented on #35082
Out of curiosity I tried to get the PhpExtractor to handle FormTypes but adding the path to twig setup.

[code]

Using `$label = new TranslatableMessage('Password');` in my Types the extractor seems to pick everything up correctly.

Maybe pointing PhpExtractor to FormTypes could make it into 5.2?

[2020-10-21 11:49] secit-pl opened #38658 "Doctrine UUID/ULID types not recognized"
**Symfony version(s) affected**: 5.2.0-BETA2

**Description**
As blog post and documentation says the UUID/ULID types should be automatically registered in doctrine when symfony/uuid component is used

https://symfony.com/blog/new-in-symfony-5-2-doctrine-types-for-uuid-and-ulid
https://symfony.com/doc/current/components/uid.html#ulids

The feature was introduced in https://github.com/symfony/symfo

[2020-10-21 11:54] elhayadi commented on #31902
1- use statements:

[code]

2- send simple email:
[code]

[2020-10-21 12:44] gennadigennadigennadi commented on #38658
https://github.com/doctrine/DoctrineBundle/blob/master/DoctrineBundle.php#L47
It's just not released yet.

[2020-10-21 12:51] #38658 closed, assigned to nobody

[2020-10-21 13:22] #38631 closed, assigned to nobody

[2020-10-21 14:57] xabbuh commented on #38651
refs #38591

[2020-10-21 16:34] derrabus commented on #33331
~~On PHPUnit 9, our `TestListener` is broken.~~

Nevermind, that's actually the test listener of the polyfills package. I should've read the error message more carefully. 🙈

[2020-10-21 18:01] mcfedr commented on #38503
Some of the PHP tests rely on the order such as this one: https://github.com/php/php-src/blob/master/Zend/tests/attributes/004_name_resolution.phpt#L36

But I also agree with other comments, just as in PHP it was decided to not deal with the extra complexity of nested attributes in the first round, I think its fine to continue without them in Symfony, and continue to use a mix of native and doctri

[2020-10-21 21:41] marcin-kruk opened #38666 "XmlEncoder: unexpected type of decoded float attributes which start with zero"
**Symfony version(s) affected**: 3.4

**Description**
If an XML attribute contains a positive float value which starts with `0`, e.g. `0.123`, XmlEncoder will decode it as a string.
If a float value starts with some other number, or is negative, then it is decoded as a float.

**How to reproduce**
[code]

Note that:
[code]

**Possible Solution**
It looks like this behaviour was introduced in #3243

[2020-10-22 04:30] cybernet opened #38672 "Twig random behaviour"
**Symfony version(s) affected**: 4.4.15

**Description**
Twig weird behaviour

I have this code into a base template
`<meta name="description" content="{% block meta_desc %}{{ meta_desc }}{% endblock %}">`

That gets rendered into this
`<meta name="description" content="<div id="sfwdt`

`{{ meta_desc }}` is a global variable with static content, like `meta_desc: 'best html5 page'`

php error log i

[2020-10-22 07:16] Nyholm commented on #38672
I strongly think that you assigned some other value to `meta_desc`. Can you try the following things. Which ones will help?

1. Rename the block
[code]

2. Rename the variable
[code]
Also rename your global variable value in the config. `meta_desc_foobar: 'best html5 page'`

3. Search for `meta_desc` in your project. Do you find anything that assign a value to that variable?

[2020-10-22 07:21] chalasr commented on #38640
I'm 👍  to make it easier to decorate some pieces of the transports. Are you willing to work on the topic?

[2020-10-22 07:28] jacekwilczynski commented on #38640
Yes, with pleasure :-) I'll get to it after I make a PR for #38639.

[2020-10-22 10:17] SylvanoTombo opened #38676 "Error when debugging twig with name argument"
**Symfony version(s) affected**: 4.4.15

**Description**
When i run bin/console debug:twig 'form_path', it's give an error like below:

 Argument "name" not supported, it requires the Twig loader "Twig\Loader\FilesystemLoader".

[2020-10-22 10:31] alexandru-burca commented on #18338
I was able to accomplish this with "**exec**". But I am also interested into a solution using ProcessBuilder in symfony 5.

`exec('php '.$this->getParameter('kernel.project_dir').'/bin/console app:command > /dev/null 2>&1 &')`

[2020-10-22 11:33] zazoomauro opened #38677 "Symfony 4.4.15 installation goes wrong because ocramius version"
**Symfony version(s) affected**: 4.4.15

**Description**
Symfony installs a wrong version of Ocramius Proxy Manager for my current php version 7.3.15

**How to reproduce**
my composer.json looks like:
[code]

**Possible Solution**
_symfony/proxy-manager-bridge_ needs to install the right Ocramius version for PHP7.3

[2020-10-22 11:49] derrabus commented on #38677
Composer will pick a ProxyManager version that fits your php version. We can't do much about it.

[2020-10-22 11:49] #38677 closed, assigned to nobody

[2020-10-22 12:05] zazoomauro commented on #38677
My PHP version is blocked at **7.3.*** (Check my composer.json). Your used Ocramius version is for **php 7.4**!

[2020-10-22 12:19] kundukundu commented on #33976
On Ubuntu, I did

` composer update`

And it's working well now.

[2020-10-22 12:36] simPod commented on #36225
Wrks, thanks!

[2020-10-22 12:56] javiereguiluz commented on #38672
By the way, the `<div id="sfwdt` fragment is the `<div>` used by the Web Debug Toolbar.

[2020-10-22 13:55] jderusse commented on #38677
The `symfony/proxy-manager-bridge` version `4.4` [requires](https://packagist.org/packages/symfony/proxy-manager-bridge#v4.4.15) `ocramius/proxy-manager: ~2.1` which [is compatible](https://packagist.org/packages/ocramius/proxy-manager#2.2.3) with `php: ^7.1.0`

I tried on a new project and it works well.

Reproduct case
[code]

[2020-10-22 14:11] derrabus commented on #38677
@zazoomauro If you run composer with php 7.3, you should only get packages that indicate compatibility with php 7.3.

For further questions, I'd like to direct you to Ocramius/ProxyManager#455 where your issue is explained and discussed thoroughly.

[2020-10-22 14:13] Nyholm commented on #38672
Interesting. Thank you.

[2020-10-22 14:16] javiereguiluz opened #38683 "Performance comparison between 5.1 and 5.2 beta2"
The Symfony Demo app is [running on Symfony 5.2 beta2](https://github.com/symfony/demo/pull/1163) so we can find deprecations or bugs. I decided to also check the performance differences between 5.1 (5.1.7) and 5.2 (beta2).

I took two non-trivial pages ("blog index" and "edit post form") and I took care to run `rm -fr var/cache/*` and `composer dump-autoload -o` before each run. These are the res

[2020-10-22 14:35] wouterj commented on #38683
If I use the GitHub search, the only usage of `ReflectionReference::fromArrayElement()` is here: https://github.com/symfony/symfony/blob/6844cb8685abb7ab2899d5bf368cc50e1e75ae22/src/Symfony/Component/VarDumper/Cloner/VarCloner.php#L69

[2020-10-22 14:41] blry commented on #37948
Hi guys, sorry for the delay, have too much work at the moment(

[2020-10-22 14:48] Nyholm commented on #38676
Do you have TwigBundle installed?

In there is a service defined like this:

[code]

It defined the FilesystemLoader and tags it with `twig.loader`. The TwigBundle will make sure your TwigEnvironment gets that loader and you will not see the error message again.

[2020-10-22 15:01] nicolas-grekas commented on #38683
About the perf in "dev", the diff is only found in VarCloner: we might have more data to clone for the profiler in 5.2. About the diffs in "prod", I don't see anything special to explain it. This might just be noise...

[2020-10-22 15:23] stof commented on #38683
or the usual small slow-down due to additional conditions to handle BC layers...

[2020-10-22 15:26] stof commented on #38672
the toolbar is injected in the place of `</body>`. could it be that you have that in your `meta_desc` block for some reason ?

[2020-10-22 15:39] cybernet commented on #38672
not a chance :)

here is a gist

https://gist.github.com/cybernet/a3a581954b5a6204b874bd1b7964396d

[2020-10-22 16:13] Nyholm commented on #38672
What was the result of my three suggestions?

[2020-10-22 16:38] cybernet commented on #38672
same result-ish - first it did a 502 gateway timeout, then it reverted to previous error - it's a new project, the only place the variable is used is in base.html.twig.
I have replaced the var with `meta_desc_tag` ( see gist )

also replaced in services.yaml & twig.yaml

i'm willing to provide access to the project if one would know what to look for ...

[2020-10-22 17:13] Nyholm commented on #38683
Thank you @javiereguiluz for testing and getting back with the results.

I looked too. I didn't find anything particular.

[2020-10-22 17:55] Nyholm commented on #38672
Sure. I'll have a look for you if you want.

[2020-10-22 18:37] marcortola commented on #38008
IMHO it is not the responsibility of doctrine, it is the responsibility of the validator Metadata Factory.

I think an additional check should be added before reaching the get_class function:
https://github.com/symfony/symfony/blob/76c22fab021c006262a6ef20532c052072a2cebe/src/Symfony/Component/Validator/Mapping/Factory/LazyLoadingMetadataFactory.php#L74-L78

As a temporary fix, I have chosen to de

[2020-10-22 20:46] dunglas commented on #33393
For the record, API Platform is bite by this problem again. Our workaround doesn't work anymore because typehints have been added: https://github.com/api-platform/core/blob/89c0f30d188b0ff4f15302d1ee901353417663e3/features/bootstrap/HttpHeaderContext.php#L35

[2020-10-22 21:22] cuongmits commented on #35404
Sorry guys, everything was correct, I missed `->toString()` as @dompie mentioned above.

[2020-10-22 21:32] Nek- commented on #34373
A good way to exclude fields is to use the annotation Group. See documentation here: https://symfony.com/doc/current/serializer.html#using-serialization-groups-annotations

Is there any problem with this feature or should this issue be closed?

[2020-10-22 21:33] Nek- commented on #8747
@webmozart I assume this issue could be closed?

[2020-10-22 21:52] RazaChohan commented on #27298
@jmoralespestana I am facing the same issue on Symfony 3.4.40 can you kindly recommend how can I solve the issue ? Upgrading to Symfony 3.4.9 is not easier for me

[2020-10-23 04:25] #38666 closed, assigned to nobody

[2020-10-23 04:32] #8747 closed

[2020-10-23 04:38] #38615 closed, assigned to nobody

[2020-10-23 08:01] x8core opened #38689 "Documentation and understanding "how to cook symfony" is weakest side of framework"
For example https://symfony.com/doc/current/service_container/tags.html#tagged-services-with-priority
There we can see example of setting priority. But no description possible values of priority and how this value processing, and how it affects order of tagged elements.

But instead of previous article here this description presents.
https://symfony.com/doc/current/reference/dic_tags.html

Also ma

[2020-10-23 14:06] Bilge opened #38692 "Rename Twig "app" global variable"
**Description**
I cannot access the ["app" global variable](https://symfony.com/doc/current/templates.html#template-variables) because I'm already using that name in my templates for something else. I discovered this feature afterwards because Symfony lets me override this variable name without any warning or indication that data is being masked away. Obviously I could rename all my usages, howeve

[2020-10-23 14:12] jvasseur commented on #38692
Making it configurable would means that any bundles that use this variable would break as soon as you change its name.

[2020-10-23 14:18] Bilge commented on #38692
@jvasseur Not if it merely made the same data available at an additional name. Considering there are no consequences for overriding the default name it seems fairly harmless to leave it as is, regardless of this configuration setting.

[2020-10-23 14:32] rgeraads opened #38693 "Opcache fails because of uncaught Preloader exception"
**Symfony version(s) affected**: 5.1.7

**Description**
I couldn't manage to get opcache working for a small application that uses api-platform. The only thing that I got was php exiting with error code 70.

After some digging I found the following:
Preloader catches \ReflectionException, but in some cases a parent exception can be thrown.
https://github.com/symfony/symfony/blob/5.x/src/Symfony/Co

[2020-10-23 14:43] ghost opened #38694 "SF 5.2 doctrine/persistence"
**Symfony version(s) affected**: 5.2

**Description**
Hi,

Just to point out that with each update of 5.2 via composer, I am forced after to redo a composer req doctrine/persistence, otherwise I have errors with the default user registration system. The login is fine, but each time it has an impact on the registration and the lost password.

**How to reproduce**
composer update
I suspect updating

[2020-10-23 14:49] javiereguiluz commented on #38692
I think @jvasseur is right. In a third-party bundle called EasyAdmin for example we use things like this in some templates:

[code]

So this would break if the application changes the name of the `app` global variable. I know that it's a bummer, but you should probably change the name of your own global variable instead.

[2020-10-23 14:53] Bilge commented on #38692
@javiereguiluz
1. My variable is local from the controller, not global.
2. https://github.com/symfony/symfony/issues/38692#issuecomment-715371238

[2020-10-23 15:12] andreybolonin opened #38695 "[HttpClient] Uncatchable ClientException"
[code]

How to catch this Exception?

I try this, but is not working:
<img width="790" alt="Screen Shot 2020-10-23 at 6 11 34 PM" src="https://user-images.githubusercontent.com/2576509/97021256-480dc000-155b-11eb-881d-5dd72d0c8c72.png">

Any ideas?
Thx

[2020-10-23 15:16] derrabus commented on #38695
The respose is lazy. The `request()` method won't throw. You'll get the exception when accessing its properties like the headers or the response body.

[2020-10-23 15:16] #38695 closed, assigned to nobody

[2020-10-23 15:43] stempora opened #38697 "ErrorHandler Component Missing ::setTemplate"
Last version of the component its missing

// If you want a custom generic template when debug is not enabled
// HtmlErrorRenderer::setTemplate('/path/to/custom/error.html.php');

[2020-10-23 15:45] ashceo opened #38698 "[DependencyInjection] Preload on php 8"
**Symfony version(s) affected**: 4.4.* and i think 5.* to.

**Description**
[code]

**How to reproduce**
PHP 8.0.0rc1 + symfony 4.4.15

With symfony cli:
`symfony new --version=lts --full sf4php8 && cd sf4php8 && echo '8.0.0' > .php-version && symfony serve`

**Possible Solution**

**Additional context**
In PHP 8, ReflectionType does not have an isBuiltin() method.

There is issue in on bugs.php.n

[2020-10-23 15:50] derrabus commented on #38698
Looks like you're using union types already, don't you? 😃

[2020-10-23 15:55] ashceo commented on #38698
Actually i dont use them explicity in the code, only in the phpdocs (and this is allowed in any php version). I'am just trying to run same project which is sf 4.4 which works fine on php7.4 but fails on php8. Check bug on php.net because on php8 this behavior is different and there is no method isBuiltin() on ReflectionType, only on ReflectionNamedType class which is subtype of ReflectionType.

[h

[2020-10-23 16:24] derrabus commented on #38698
All right, but then I wonder where this union type is coming from. Either way, we need to fix this. I'll look into it.

[2020-10-23 16:44] yceruto commented on #38697
Same as https://github.com/symfony/symfony/issues/38374 ?

[2020-10-23 17:14] derrabus commented on #38698
Can you test #38699 for me please?

[2020-10-23 17:37] stempora commented on #38697
Seems to be in the branch 5.x but it wasnt published yet for composer.

[2020-10-23 17:37] yceruto commented on #38697
Did you mean the new method `HtmlErrorRenderer::setTemplate()` that will be available in 5.2?

[2020-10-23 17:38] stempora commented on #38697
Yep, i installed the standalone component and didnt see its for 5.x.

[2020-10-23 17:38] yceruto commented on #38697
It's in beta version, 5.2 is not released yet.

[2020-10-23 17:42] yceruto commented on #38697
Check your composer constraint, you might be installing the stable version rather than the beta or dev version of the component.

[2020-10-23 17:46] Nyholm commented on #38694
Hey.
I don't really understand this issue. Does your app use `doctrine/persistence`? if so you should have it in your composer.json.

Are you saying that you get an error from a symfony class because you are missing `doctrine/persistence`?

[2020-10-23 17:49] ashceo commented on #38698
Looks like error is gone, but i am confused isn't a fix should look like:

[code]

or i am wrong?

[2020-10-23 17:50] Nyholm commented on #38692
I agree with @jvasseur and @javiereguiluz

If your variable is local form your controller, then I suggest you change that variable name in your controller. The effects of changing the Symfony variable name is greater.

To make things work properly for your app, make sure you add the service called `twig.app_variable` to your Twig environment as a global variable.

[2020-10-23 17:50] #38692 closed, assigned to nobody

[2020-10-23 17:51] Nyholm commented on #38697
Thank you for this issue.

Try out with dev-master instead of beta and you will be fine.

[2020-10-23 17:51] #38697 closed, assigned to nobody

[2020-10-23 17:54] derrabus commented on #38698
There's still the `if (!$t->isBuiltin()) {` inside the `foreach` loop. That should be sufficient.

[2020-10-23 17:54] Bilge commented on #38692
@Nyholm Why does everyone keep assuming the only solution is to ***change*** the Symfony variable name. As I [already described](https://github.com/symfony/symfony/issues/38692#issuecomment-715371238), there are *at least* two other alternatives, including *copying* the variable to an *additional name* and exposing other mechanisms to access the same information, such as an accessor function.

Of

[2020-10-23 17:55] yceruto commented on #38374
@killerwolf check also https://github.com/symfony/symfony/issues/38697, in 5.2 we've added a new method to change this template.

[2020-10-23 17:58] derrabus commented on #38698
I've extended the fixtures a bit to verify the `isBuiltin()` check still works.

[2020-10-23 18:03] yceruto commented on #38692
@Bilge you already can "change" the `app` name globally for your application:
[code]
https://symfony.com/doc/current/templating/global_variables.html#referencing-services

edit: and `app` will keep working too.

[2020-10-23 18:07] Bilge commented on #38692
@yceruto Good post, thank you. 👍

[2020-10-23 18:17] Nyholm commented on #38692
Thank you Yonel for giving an example of what I explained.

[2020-10-23 18:18] ghost commented on #38694
Error list:
vendor/doctrine/persistence/lib/Doctrine/Persistence/Mapping/Driver/AnnotationDriver.php line 178
Can use "yield from" only with arrays and Traversables
Warning: Invalid argument supplied for foreach() resetpasswordrequest
When execute composer req doctrine/persistence, all errors disappear.
My composer :
[code]

[2020-10-23 18:24] Nyholm commented on #38694
Thank you. Can you also show me a stack trace?

[2020-10-23 18:37] ghost commented on #38694
I managed to reproduce one.
To reproduce it a simple composer update
[code]

[2020-10-23 19:57] ashceo commented on #38698
Im am only cofusing about that because if on php8 $t will be exactly \ReflectionType it will not have method isBuiltin(), but this method always exist in php 7.x in any subclass of \ReflectionType. So if in php8 $t will be exactly \ReflectionType (not \ReflectionUnionType) with ur fix script will go inside loop with [$t = \ReflectionType] and isBuiltin() of \ReflectionType will be called (because

[2020-10-23 21:08] derrabus commented on #38698
This won't happen. `$t` is either a `ReflectionNamedType` or a `ReflectionUnionType`. In the latter case, we unpack the union which gives us an array of `ReflectionNamedType` instances. So either way, on php 8.0, we can be sure we have a `ReflectionNamedType` in the body of the loop.

[2020-10-23 21:59] derrabus commented on #38698
Also, let's move the code review to the actual PR. 😃

[2020-10-24 02:47] #38698 closed, assigned to nobody

[2020-10-24 05:37] cybernet commented on #38672
let's have a chat - t.me/<meta name="author">

[2020-10-24 07:35] Saryon61 opened #38700 "Access flashbag form AbstractFormLoginAuthenticator"
Symfony version: 5.1.7

When using a form authenticator (AbstractFormLoginAuthenticator), the method "onAuthenticationSuccess" output a redirection.
After this redirection, I would like to display a message of success for the user who successfully logged in.

The use of the flashbag from the authenticator would have been nice for this use case, and that's what I have implemented through injecting

[2020-10-24 07:48] balzacLeGeek opened #38701 "Can't gessExtension for .exe file (application/x-msdownload)"
**Symfony version(s) affected**: 5.16

**Description**
I try to upload an UploadedFile and before move it i need  to set the new file name. For this, i need to get the original file extension with *guessExtension()* but this return NULL

This is the dump of my UploadedFile
[code]

The above dump shows that the *mimeType* is **application/x-msdownload** and result of *getMimeType()* is **applicatio

[2020-10-24 07:57] Nyholm commented on #38672
Sure. Im available at the Symfony slack channel, ping me directly if you want.

https://symfony.com/support

[2020-10-24 09:45] #38609 closed, assigned to nobody

[2020-10-24 11:55] nicolas-grekas opened #38705 "GHA failures"
In https://github.com/symfony/symfony/runs/1302020775
there are two failures to investigate:

and

Help wanted /cc @derrabus maybe :)

[2020-10-24 12:01] derrabus commented on #38705
Is the flex problem related to the Composer 2 release? Maybe we can force Composer 1 temporarily until we know why the setup-php action is failing suddenly.

[2020-10-24 12:08] #38632 closed, assigned to nobody

[2020-10-24 12:24] derrabus commented on #38705
Forcing Composer 1 doesn't really help: https://github.com/derrabus/symfony/runs/1302071945

I can't look into the issue any further right now. Maybe I'll find some time tomorrow.

[2020-10-24 13:02] nicolas-grekas commented on #38705
Fixed in #38707

[2020-10-24 13:02] #38705 closed, assigned to nobody

[2020-10-24 16:08] ghost commented on #38694
For completed :
Composer update today doctrine/annotations
link reset-password
[code]
If it can help

[2020-10-25 08:38] Nyholm opened #38710 "Help adding translations"
Hey!

My very first contribution to Symfony was [adding some Swedish translations](https://github.com/symfony/symfony/pull/11561). These translations are helpful for everyone that runs a Swedish Symfony website.

Symfony core uses translations mostly for error messages. When new error messages are added, so is English translations. But there is also a continuous effort to translate these new strin

[2020-10-25 10:16] derrabus commented on #38710
I'll look into the German translations.

[2020-10-25 11:57] derrabus commented on #38710
I think, your documentation on how to update translations would be a helpful addition to the official docs: symfony/symfony-docs#14481

[2020-10-25 13:35] michaelKaefer commented on #38239
### Related issues
- https://github.com/symfony/symfony/issues/28726
- https://github.com/symfony/symfony/issues/28519

### Reproducer
I created a reproducer:
[code]

No message with:
[code]

With the following you get the message "THE ERROR HANDLER HAS CHANGED!", although in `phpunit.xml` file has line: `<env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />`:
[code]

### Fix
I can try to fi

[2020-10-25 13:42] Nyholm opened #38720 "Missing translations for Afrikaans (af)"
Hello,

There are some missing translation for Afrikaans (af). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.af.xlf](https://github.com/symfony/symfony/blob/4

[2020-10-25 13:47] Nyholm opened #38722 "Missing translations for Albanian (sq)"
Hello,

There are some missing translation for Albanian (sq). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sq.xlf](https://github.com/symfony/symfony/blob/3.

[2020-10-25 13:47] Nyholm opened #38723 "Missing translations for Arabic (ar)"
Hello,

There are some missing translation for Arabic (ar). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ar.xlf](https://github.com/symfony/symfony/blob/3.4/

[2020-10-25 13:47] Nyholm opened #38724 "Missing translations for Armenian (hy)"
Hello,

There are some missing translation for Armenian (hy). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.hy.xlf](https://github.com/symfony/symfony/blob/4.

[2020-10-25 13:47] Nyholm opened #38725 "Missing translations for Azerbaijani (az)"
Hello,

There are some missing translation for Azerbaijani (az). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.az.xlf](https://github.com/symfony/symfony/blob

[2020-10-25 13:47] Nyholm opened #38726 "Missing translations for Basque (eu)"
Hello,

There are some missing translation for Basque (eu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.eu.xlf](https://github.com/symfony/symfony/blob/4.4/

[2020-10-25 13:47] Nyholm opened #38727 "Missing translations for Belarusian (be)"
Hello,

There are some missing translation for Belarusian (be). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.be.xlf](https://github.com/symfony/symfony/blob/

[2020-10-25 13:47] Nyholm opened #38728 "Missing translations for Bosnian (bs)"
Hello,

There are some missing translation for Bosnian (bs). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.bs.xlf](https://github.com/symfony/symfony/blob/4.4

[2020-10-25 13:47] Nyholm opened #38729 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.pt_BR.xlf](https://github.com/symfo

[2020-10-25 13:47] Nyholm opened #38730 "Missing translations for Bulgarian (bg)"
Hello,

There are some missing translation for Bulgarian (bg). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.bg.xlf](https://github.com/symfony/symfony/blob/3

[2020-10-25 13:47] Nyholm opened #38731 "Missing translations for Catalan (ca)"
Hello,

There are some missing translation for Catalan (ca). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ca.xlf](https://github.com/symfony/symfony/blob/4.4

[2020-10-25 13:47] Nyholm opened #38732 "Missing translations for Chinese (zh_CN)"
Hello,

There are some missing translation for Chinese (zh_CN). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.zh_CN.xlf](https://github.com/symfony/symfony/bl

[2020-10-25 13:47] Nyholm opened #38733 "Missing translations for Chinese (zh_TW)"
Hello,

There are some missing translation for Chinese (zh_TW). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.zh_TW.xlf](https://github.com/symfony/symfony/bl

[2020-10-25 13:47] Nyholm opened #38734 "Missing translations for Croatian (hr)"
Hello,

There are some missing translation for Croatian (hr). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.hr.xlf](https://github.com/symfony/symfony/blob/4.

[2020-10-25 13:47] Nyholm opened #38735 "Missing translations for Czech (cs)"
Hello,

There are some missing translation for Czech (cs). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.cs.xlf](https://github.com/symfony/symfony/blob/3.4/s

[2020-10-25 13:47] Nyholm opened #38736 "Missing translations for Danish (da)"
Hello,

There are some missing translation for Danish (da). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.da.xlf](https://github.com/symfony/symfony/blob/4.4/

[2020-10-25 13:47] Nyholm opened #38737 "Missing translations for Dutch (nl)"
Hello,

There are some missing translation for Dutch (nl). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.nl.xlf](https://github.com/symfony/symfony/blo

[2020-10-25 13:47] Nyholm opened #38738 "Missing translations for Estonian (et)"
Hello,

There are some missing translation for Estonian (et). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.et.xlf](https://github.com/symfony/symfony/blob/4.

[2020-10-25 13:47] Nyholm opened #38739 "Missing translations for European Portuguese (pt_PT)"
Hello,

There are some missing translation for European Portuguese (pt_PT). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.pt_PT.xlf](https://github.com/symfon

[2020-10-25 13:47] Nyholm opened #38740 "Missing translations for Finnish (fi)"
Hello,

There are some missing translation for Finnish (fi). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.fi.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 13:47] Nyholm opened #38741 "Missing translations for French (fr)"
Hello,

There are some missing translation for French (fr). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.fr.xlf](https://github.com/symfony/symfony/blob/3.4/

[2020-10-25 13:47] Nyholm opened #38742 "Missing translations for Galician (gl)"
Hello,

There are some missing translation for Galician (gl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.gl.xlf](https://github.com/symfony/symfony/blob/4.

[2020-10-25 13:47] Nyholm opened #38743 "Missing translations for Greek (el)"
Hello,

There are some missing translation for Greek (el). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.el.xlf](https://github.com/symfony/symfony/blob/4.4/s

[2020-10-25 13:47] Nyholm opened #38744 "Missing translations for Hebrew (he)"
Hello,

There are some missing translation for Hebrew (he). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.he.xlf](https://github.com/symfony/symfony/blob/4.4/

[2020-10-25 13:47] Nyholm opened #38745 "Missing translations for Hungarian (hu)"
Hello,

There are some missing translation for Hungarian (hu). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.hu.xlf](https://github.com/symfony/symfony/blob/4

[2020-10-25 13:47] Nyholm opened #38746 "Missing translations for Indonesian (id)"
Hello,

There are some missing translation for Indonesian (id). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.id.xlf](https://github.com/symfony/symfony/blob/

[2020-10-25 13:47] Nyholm opened #38747 "Missing translations for Italian (it)"
Hello,

There are some missing translation for Italian (it). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.it.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 13:47] Nyholm opened #38748 "Missing translations for Japanese (ja)"
Hello,

There are some missing translation for Japanese (ja). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ja.xlf](https://github.com/symfony/symfony/blob/3.

[2020-10-25 13:47] Nyholm opened #38749 "Missing translations for Latvian (lv)"
Hello,

There are some missing translation for Latvian (lv). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.lv.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 13:47] Nyholm opened #38750 "Missing translations for Lithuanian (lt)"
Hello,

There are some missing translation for Lithuanian (lt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.lt.xlf](https://github.com/symfony/symfony/blob/

[2020-10-25 14:51] abozhinov commented on #36720
Anyone fix this issue?

[2020-10-25 15:08] Nyholm opened #38752 "Missing translations for Luxembourgish (lb)"
Hello,

There are some missing translation for Luxembourgish (lb). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.lb.xlf](https://github.com/symfony/symfony/bl

[2020-10-25 15:08] Nyholm opened #38753 "Missing translations for Mongolian (mn)"
Hello,

There are some missing translation for Mongolian (mn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.mn.xlf](https://github.com/symfony/symfony/blob/4

[2020-10-25 15:08] Nyholm opened #38754 "Missing translations for Norwegian (no)"
Hello,

There are some missing translation for Norwegian (no). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.no.xlf](https://github.com/symfony/symfony/blob/4

[2020-10-25 15:08] Nyholm opened #38755 "Missing translations for Norwegian Bokmål (nb)"
Hello,

There are some missing translation for Norwegian Bokmål (nb). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.nb.xlf](https://github.com/symfony/symfony

[2020-10-25 15:08] Nyholm opened #38756 "Missing translations for Norwegian Nynorsk (nn)"
Hello,

There are some missing translation for Norwegian Nynorsk (nn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.nn.xlf](https://github.com/symfony/symfon

[2020-10-25 15:08] Nyholm opened #38757 "Missing translations for Persian (fa)"
Hello,

There are some missing translation for Persian (fa). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.fa.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 15:08] Nyholm opened #38758 "Missing translations for Romanian (ro)"
Hello,

There are some missing translation for Romanian (ro). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ro.xlf](https://github.com/symfony/symfony/blob/4.

[2020-10-25 15:08] Aerendir commented on #38747
I'm going to translate this language.

[2020-10-25 15:08] Nyholm opened #38759 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 15:08] Nyholm opened #38760 "Missing translations for Serbian (sr_Cyrl)"
Hello,

There are some missing translation for Serbian (sr_Cyrl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sr_Cyrl.xlf](https://github.com/symfony/symfon

[2020-10-25 15:08] Nyholm opened #38761 "Missing translations for Serbian (sr_Latn)"
Hello,

There are some missing translation for Serbian (sr_Latn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sr_Latn.xlf](https://github.com/symfony/symfon

[2020-10-25 15:08] Nyholm opened #38762 "Missing translations for Slovak (sk)"
Hello,

There are some missing translation for Slovak (sk). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sk.xlf](https://github.com/symfony/symfony/blob/4.4/

[2020-10-25 15:08] Nyholm opened #38763 "Missing translations for Slovenian (sl)"
Hello,

There are some missing translation for Slovenian (sl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sl.xlf](https://github.com/symfony/symfony/blob/4

[2020-10-25 15:08] Nyholm opened #38764 "Missing translations for Spanish (es)"
Hello,

There are some missing translation for Spanish (es). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.es.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 15:08] Nyholm opened #38765 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sv.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 15:09] Nyholm opened #38766 "Missing translations for Tagalog (tl)"
Hello,

There are some missing translation for Tagalog (tl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.tl.xlf](https://github.com/symfony/symfony/blob/4.4

[2020-10-25 15:09] Nyholm opened #38767 "Missing translations for Thai (th)"
Hello,

There are some missing translation for Thai (th). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.th.xlf](https://github.com/symfony/symfony/blob/4.4/sr

[2020-10-25 15:09] Nyholm opened #38768 "Missing translations for Turkish (tr)"
Hello,

There are some missing translation for Turkish (tr). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.tr.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 15:09] Nyholm opened #38769 "Missing translations for Ukrainian (uk)"
Hello,

There are some missing translation for Ukrainian (uk). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.uk.xlf](https://github.com/symfony/symfony/blob/3

[2020-10-25 15:09] Nyholm opened #38770 "Missing translations for Vietnamese (vi)"
Hello,

There are some missing translation for Vietnamese (vi). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.vi.xlf](https://github.com/symfony/symfony/blob/

[2020-10-25 15:09] Nyholm opened #38771 "Missing translations for Welsh (cy)"
Hello,

There are some missing translation for Welsh (cy). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.cy.xlf](https://github.com/symfony/symfony/blob/4.4/s

[2020-10-25 15:24] wcervini opened #38772 "doctrine:migration:create not create a database with a specific charset"
**Symfony version(s) affected**: 4.4.15

**Description**
when try to create a database  on console, take the default charset default on MySQL Database.

**How to reproduce**
Udpate the doctrine.yaml file (See screenshot1):

**Possible Solution**
- run on console octrine:migrations:generate
- add in the public function up on the created migration file (See Screenshot2):

**Additional context**

![S

[2020-10-25 15:28] derrabus commented on #38772
The Doctrine integration is not maintained in this repository. Please open your issue here: https://github.com/doctrine/DoctrineBundle/

[2020-10-25 15:28] #38772 closed, assigned to nobody

[2020-10-25 15:35] tarlepp commented on #38740
I'll take care of that `src/Symfony/Component/Security/Core/Resources/translations/security.fi.xlf`

[2020-10-25 16:01] TheGarious commented on #38741
Hello @Nyholm,

I can work for translation for French.

Nice initiative 👍🏻

Thanks for this issue :D

[2020-10-25 16:05] Nyholm commented on #38741
I think @zairigimad just made some in this PR: https://github.com/symfony/symfony/pull/38719

Could you review that and make sure it is correct?

[2020-10-25 16:05] TavoNiievez commented on #38710
I'll look into the Spanish translations.

[2020-10-25 16:06] Nyholm commented on #38764
@TavoNiievez just started to work on this

[2020-10-25 16:09] Holicz commented on #38735
Hi @Nyholm, I would love to look into czech translations.

[2020-10-25 16:10] Nyholm commented on #38735
Awesome!

[2020-10-25 16:36] Nyholm opened #38774 "Missing translations for Portuguese (pt)"
Hello,

There are some missing translation for Portuguese (pt). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Security/Core/Resources/translations/security.pt.xlf](https://github.com/symfony/symfon

[2020-10-25 16:48] gabiudrescu commented on #38758
I'll do it for Romanian

[2020-10-25 17:10] TheGarious commented on #38741
Yes @Nyholm,

I look him PR.

[2020-10-25 17:14] Nyholm commented on #38720
A long long time ago @pierredup added the initial version of these translations.

Maybe you would like to make another PR?

[2020-10-25 17:23] derrabus commented on #38770
Paging @jschaedl 😃

[2020-10-25 18:00] #38723 closed, assigned to nobody

[2020-10-25 18:02] #38747 closed, assigned to nobody

[2020-10-25 18:10] Nyholm opened #38788 "Missing translations for Italian (it)"
Hello,

There are some missing translation for Italian (it). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.it.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-25 18:13] Nyholm opened #38789 "Missing translations for Arabic (ar)"
Hello,

There are some missing translation for Arabic (ar). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ar.xlf](https://github.com/symfony/symfony/blob/3.4/

[2020-10-25 18:14] abozhinov commented on #36720
<img width="1680" alt="Screenshot 2020-10-25 at 20 13 47" src="https://user-images.githubusercontent.com/1404839/97115292-a58e4200-16fe-11eb-86df-b2639485e42b.png">

[2020-10-25 18:15] JohJohan commented on #38737
I will work on this issue

[2020-10-25 18:17] #38789 closed, assigned to nobody

[2020-10-25 18:17] #38730 closed, assigned to nobody

[2020-10-25 18:17] #38788 closed, assigned to nobody

[2020-10-25 18:24] adielcristo commented on #38729
Hello Tobias,

I'd like to work on this issue.

[2020-10-25 18:24] andrewmy commented on #38710
Will look into Latvian

[2020-10-25 18:27] Nyholm commented on #38729
Excellent. Thank you

[2020-10-25 18:27] Nyholm commented on #38749
@andrewmy will work on this

[2020-10-25 18:53] stephanvierkant commented on #38737
Te veel onjuiste inlogpogingen, probeer het later nogmaals.

Ongeldige of verlopen ~login-link~ inlog-link.

[2020-10-25 18:59] #38740 closed, assigned to nobody

[2020-10-25 18:59] #38770 closed, assigned to nobody

[2020-10-25 19:00] tarlepp commented on #38740
@derrabus that PR is only _partial_ fix for this, so please open this.

[2020-10-25 19:02] wucdbm opened #38792 "[Messenger | ErrorHandler] error in serialization/deserialization or FlattenException::getTraceAsString incorrect return type"
**Symfony version(s) affected**: 5.1.7

**Description**

The issue stems from a failed Messenger message. I have a failed Doctrine transport configured. Messages, together with a serialized trace are being saved. However, when attempting to print the error via `./bin/console messenger:failed:show 6 -vv`, the command fails with an error in ErrorHandler's FlattenException class:
[code]

I did manual

[2020-10-25 19:05] ben29 commented on #38710
I will do Hebrew translation if still needed ...

[2020-10-25 19:05] JohJohan commented on #38737
@stephanvierkant i think it is `login link` instead of `login-link` maby another dutchman can confirm

[2020-10-25 19:06] mamontovdmitriy commented on #38759
If nobody wants this, I can do it

[2020-10-25 19:07] Nyholm commented on #38744
@ben29 will work on this

[2020-10-25 19:08] Nyholm commented on #38759
That would be great. Thank you

[2020-10-25 19:09] ben29 commented on #38744
The last commit it’s from me
So few things left to do
Will do it soon as possible

Thanks

[2020-10-25 19:14] sstok commented on #38737
Both are English words, so no need to use a connection symbol.

Google even suggests to make it a single word 🤔 but I think two words is more common.
https://translate.google.com/?hl=nl#view=home&op=translate&sl=en&tl=nl&text=Invalid%20or%20expired%20login%20link

[2020-10-25 19:14] stephanvierkant commented on #38737
(let's have this discussion in Dutch, since this makes no sense to non-Dutch speakers)

Het moet natuurlijk **inloglink** zijn.

~Login~Inlog is geen bijvoeglijk naamwoord in dit geval, dus zou het volgens mij aan elkaar moeten. Het is ook inlogsysteem, inlogpoging, etc.

Een streepje mag er tussen als het de duidelijkheid (leesbaarheid, uitspraak) (mogelijk) vergroot.

[2020-10-25 19:19] sstok commented on #38737
https://woordenlijst.org/leidraad/12/1
https://www.gynzy.com/nl/verwerking/leergebieden/taal/leerlijn/koppelteken-in-engelse-leenwoorden/
https://woordenlijst.org/leidraad/12/1

"Het moet natuurlijk inloglink zijn." 👍🏼

😄 ik spreek vandaag de dag meer Engels dan Nederlands.

[2020-10-25 19:28] Nyholm commented on #38792
Wow, This is an excellent issue. Thank you.

I agree with your possible solutions. I'll try to make a PR to fix this problem for you.

[2020-10-25 19:36] JohJohan commented on #38737
Thanks, I updated my pull request 👍

[2020-10-25 19:46] wucdbm commented on #38792
Tyvm for the quick response. It's not that urgent right now, I had just discovered https://github.com/symfony/symfony/pull/35453 before looking into this, because of Doctrine errors failing any subsequent jobs.

Just that I spent a considerable amount of time tracing random behaviour in the app and I won't be able to continue debugging due to the deadlines -.-

[2020-10-25 19:50] Nyholm commented on #38792
Just a quick question. What serializer are you using?

[2020-10-25 20:13] wucdbm commented on #38792
[code]

[2020-10-25 20:16] Nyholm commented on #38792
Thank you.

I can confirm that I saw this bug in 5.1.7.
But when Im trying to reproduce with the latest changes in 5.x then everything is working fine.

[2020-10-25 20:19] wucdbm commented on #38792
eg 5.1.8 should be fine?
In that case let's hold on until it's released and I'll test again with our current setup, otherwise I guess I'll have to prepare a dummy project where it happens

[2020-10-25 20:23] Nyholm commented on #38792
Actually no.. hm

5.2.0 will be fine. I need to dig deeper into this to make sure the fix is also in 5.1.8.

[2020-10-25 21:38] erickr commented on #38765
@Nyholm I'll give it a go! :)

[2020-10-25 21:39] Nyholm commented on #38765
Great. Thank you

[2020-10-25 22:15] Nyholm commented on #38792
I added one PR to start with. (#38800)

The issue is that the `FlatternException` does not unserialize very well. In 5.2 dont use FlatternException on the RedeliverStamp, but on the ErrorDetailsStamp which is why I could not reproduce the error.

[2020-10-25 23:01] #38741 closed, assigned to nobody

[2020-10-25 23:09] wucdbm commented on #38792
Awesome work, thanks again.

Whilst we're at it, is there any way to plug into Messenger's handlers and have an error subscriber (besides failed queue), in order to store exception logs somewhere else?
Maybe some sort of middleware, looking for aforementioned `ErrorDetailsStamp`?

If not, I think that'd be a nice addition in the future as it's currently very hard to debug, especially those elusive

[2020-10-25 23:24] #38729 closed, assigned to nobody

[2020-10-25 23:24] #38759 closed, assigned to nobody

[2020-10-25 23:24] #38765 closed, assigned to nobody

[2020-10-26 00:14] derrabus opened #38803 "AppVeyor build broken on 4.4"
**Symfony version(s) affected**: 4.4-dev

**Description**
Our AppVeyor build is currently broken. Each test suite fails with the following error:

[code]

The reason for that is a failed platform check enforced by Composer 2. That check for `ext-mbstring` is installed because PHPUnit explicitly asks for the extension:

https://github.com/sebastianbergmann/phpunit/blob/e936ac1a54a49d1636f05e6c8871f

[2020-10-26 00:55] #38749 closed, assigned to nobody

[2020-10-26 05:14] Nyholm opened #38806 "Missing translations for Brazilian Portuguese (pt_BR)"
Hello,

There are some missing translation for Brazilian Portuguese (pt_BR). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.pt_BR.xlf](https://github.com/symfo

[2020-10-26 05:14] Nyholm opened #38807 "Missing translations for Finnish (fi)"
Hello,

There are some missing translation for Finnish (fi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.fi.xlf](https://github.com/symfony/symfony/blob/4.4

[2020-10-26 05:14] Nyholm opened #38808 "Missing translations for French (fr)"
Hello,

There are some missing translation for French (fr). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.fr.xlf](https://github.com/symfony/symfony/blob/3.4/

[2020-10-26 05:14] Nyholm opened #38809 "Missing translations for Latvian (lv)"
Hello,

There are some missing translation for Latvian (lv). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.lv.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-26 05:14] Nyholm opened #38810 "Missing translations for Russian (ru)"
Hello,

There are some missing translation for Russian (ru). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.ru.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-26 05:14] Nyholm opened #38811 "Missing translations for Swedish (sv)"
Hello,

There are some missing translation for Swedish (sv). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.sv.xlf](https://github.com/symfony/symfony/blob/3.4

[2020-10-26 05:14] Nyholm opened #38812 "Missing translations for Vietnamese (vi)"
Hello,

There are some missing translation for Vietnamese (vi). These should be added in branch 3.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.vi.xlf](https://github.com/symfony/symfony/blob/

[2020-10-26 05:41] Ippey commented on #38748
Hi,
I'm trying to translate for Japanese.
Then I found that "src/Symfony/Component/Validator/Resources/translations/validators.ja.xlf" is lack for translation.

validators.en.xlf has `<trans-unit id="97">` and `<trans-unit id="98">` , but validators.ja.xlf doesn't have them.

I can also translate 97, 98.
Should I translate them in same branch? Or create another issue and PR?

Thank you.

[2020-10-26 05:53] #38746 closed, assigned to nobody

[2020-10-26 06:44] #38806 closed, assigned to nobody

[2020-10-26 06:44] #38735 closed, assigned to nobody

[2020-10-26 06:44] #38808 closed, assigned to nobody

[2020-10-26 06:45] #38809 closed, assigned to nobody

[2020-10-26 06:45] #38810 closed, assigned to nobody

[2020-10-26 06:45] #38811 closed, assigned to nobody

[2020-10-26 06:45] #38812 closed, assigned to nobody

[2020-10-26 06:55] Nyholm commented on #38740
@tarlepp you are correct. But a new issue is automatically opened if there are still missing translations: https://github.com/symfony/symfony/issues/38807

In fact, these issues are also automatically closed =)

[2020-10-26 07:02] Nyholm commented on #38748
Hey.

That would be great. Thank you

You can create just one PR. Do it for branch 3.4.

[2020-10-26 07:18] Ippey commented on #38748
@Nyholm Thank you.
Then I'll start to translate.

[2020-10-26 08:05] stof commented on #38698
there is still a check in the loop

[2020-10-26 08:36] mikerobertson-7916 commented on #38807
I would like to take this, thanks!

[2020-10-26 08:37] MatTheCat commented on #38462
I do not have the environment to test it but as https://github.com/docker-library/php/issues/878#issuecomment-938595965 says, disabling `fastcgi.logging` could do the trick.

[2020-10-26 08:37] #38462 closed, assigned to nobody

[2020-10-26 08:50] CarolineDirat opened #38815 "HTTP Cache - Etag validator : The Response::isNotModified() method return always false"
**Symfony version(s) affected**: 5.1.*

**Description**
$response->isNotModified($request) return always false because of of added quotation marks in $response->getEtag()

**Indeed**:
- **$response->getETag()** return '"etag"' (with **added quotation marks**)
- **$request->getETags()** return [ 0 => 'etag'] (etag values without quotation marks)

So, in [$response->isNotModified($request)](https://

[2020-10-26 08:53] Nyholm commented on #38807
Awesome

[2020-10-26 09:57] stof commented on #38803
No need for a hack. Composer has a built-in way to disable platform checks through the config: https://getcomposer.org/doc/06-config.md#platform-check

[2020-10-26 10:07] derrabus commented on #38803
Oh, good to know. PhpUnitBridge could apply that setting while installing PHPUnit.

[2020-10-26 10:44] adrienfr commented on #30321
Same issue here, the only workaround I found is to disable metadata cache with redis before any entity modification/deletion.
A possible solution would be to flush redis's doctrine cache but when deploying, this redis cache would be warmed up again (with already deployed entity metadata) and cache clear / asset install would fail.

[2020-10-26 11:17] lyrixx opened #38820 "[Console] Signal does not work with Question"
**Symfony version(s) affected**: 5.2.x

I broke symfony, sorry !

**Description**

Signal handling does not work well with question!

**How to reproduce**

Use `bin/console make:controller` and then press <kbd>CTRL+C</kbd>
=> it does not work anymore until you press <kbd>enter</kbd>

**Possible Solution**

Empty this list https://github.com/symfony/symfony/blob/5.x/src/Symfony/Component/Console/Ap

[2020-10-26 12:08] #38748 closed, assigned to nobody

[2020-10-26 12:08] #38803 closed, assigned to nobody

[2020-10-26 12:45] miromichalicka commented on #38762
Working on this now.

[2020-10-26 13:07] Comrade42 commented on #38769
Hi, I'll take this.

[2020-10-26 13:08] Nyholm commented on #38769
Cool cool cool.

Thank you

[2020-10-26 13:39] michaelKaefer commented on #38239
Related issues:
- https://github.com/symfony/symfony/issues/28726
- https://github.com/symfony/symfony/issues/28519

[2020-10-26 13:46] shehi commented on #38239
I vote for this solution. The minimalist in me says there is no need to invent tons of stuff for a simple thing such as this.

[2020-10-26 14:53] chalasr commented on #38820
Good catch. Not subscribing to any signal by default makes sense to me 👍

[2020-10-26 15:02] lyrixx commented on #38820
@chalasr, but if we do that, the whole system with Symfony Event could not work anymore. What about my proposal ?

[2020-10-26 15:07] a-shafaat commented on #38757
Hi,

I want to help solving this issue.

[2020-10-26 15:09] Nyholm commented on #38757
Awesome.

Thank you

[2020-10-26 16:05] rogamoore commented on #38416
Anything that can be done here? Was the breaking change intentional? Or could we revert the behaviour?

[2020-10-26 16:26] pavlakis commented on #38743
I will take a look at the Greek translations :)

[2020-10-26 16:31] Nyholm commented on #38743
Cool. Thanks

[2020-10-26 17:29] kefzce commented on #38769
@Comrade42 could you also please fix this
https://github.com/symfony/symfony/blob/56316c43862ff6833bfff588fcbe15f5c50669d7/src/Symfony/Component/Validator/Resources/translations/validators.uk.xlf#L115

[code]
as far as I see there are many inconsistencies between the original phrase and Ukrainian translate above and below 😞

[2020-10-26 18:14] Comrade42 commented on #38769
@kefzce okay, I'll check the rest of translations as well.

[2020-10-26 18:24] erickr commented on #33311
@michaelKaefer did you get going on this? I'm also interested to learn more, perhaps we can dig together if you want some assistance or sparring of course..  😎

[2020-10-26 18:57] jderusse commented on #33311
@michaelKaefer , @erickr the StopWatch has already been implemented https://github.com/symfony/symfony/pull/38688

[2020-10-26 19:02] abame commented on #38722
I'd like to take over this issue :smiley:

[2020-10-26 19:15] Nyholm commented on #38722
Please do.
Thank you

[2020-10-26 20:04] BrunoAlou commented on #38774
Hello Tobias,

I'd like to work on this issue.

[2020-10-26 20:17] Nyholm commented on #38774
Great. Thanks

[2020-10-26 21:04] TavoNiievez commented on #38764
@Nyholm happy to help 😄
maybe this can be closed now.

[2020-10-26 21:11] Nyholm commented on #38764
Yes sir!

Thank you

[2020-10-26 21:11] #38764 closed, assigned to nobody

[2020-10-26 22:28] brunosinister commented on #38774
Hello Bruno, I can help you, I have the form validators already translated.

[2020-10-26 22:54] brunosinister commented on #38739
@Nyholm this issue is the same #38774 .

[2020-10-26 22:55] brunosinister commented on #38739
@Nyholm I can work in that, but what the difference for #38774 ?

[2020-10-26 23:46] Nyholm commented on #38739
Nice

[2020-10-26 23:47] Nyholm commented on #38739
It is a different dialect I guess.

We might not need to translate all keys. Only those that are different from pt

[2020-10-27 05:38] adhocore opened #38836 "Preload fails with error related to reflection in PHP8.0rc2"
**Symfony version(s) affected**: 5.1.7

[code]
**Description**

**How to reproduce**
Just trying to preload the framework generated preload file in cache dir.

[2020-10-27 05:47] derrabus commented on #38836
~~Duplicate of #38693.~~

Wrong link, see below.

[2020-10-27 05:47] #38836 closed, assigned to nobody

[2020-10-27 06:30] #38737 closed, assigned to nobody

[2020-10-27 06:30] #38757 closed, assigned to nobody

[2020-10-27 07:48] vittore opened #38837 "ldap - pagination"
**Symfony version(s) affected**: 4.4.*

**Description**
Ldap on large directory don't considers pagination

**How to reproduce**
Microsoft Active Directory with > 1.000 users (tested on 2k and 3k users domains)
[code]

[2020-10-27 09:02] brunosinister commented on #38739
There are 2 dialects for Portuguese:  Brazilian Portuguese and European Portuguese. So I believe that this one is unnecessary

[2020-10-27 09:09] Nyholm commented on #38739
Thank you for clarifying.

Symfony translation works like this:

If the locale is `pt_PT`, Symfony will look for a file named `validators.pt_PT.xlf` and then `validators.pt.xlf`.
If the locale is `pt`, Symfony will just look for a file named `validators.pt.xlf`.

So what is the "main" dialect? Those translations should be added to `validators.pt.xlf`. If there is any "typical" Brazilian translatio

[2020-10-27 09:15] brunosinister commented on #38739
Thank you for clarifying.

Now I understood :D . I will work in it.

[2020-10-27 09:53] #38769 closed, assigned to nobody

[2020-10-27 09:55] #38768 closed, assigned to nobody

[2020-10-27 09:55] #38722 closed, assigned to nobody

[2020-10-27 10:04] chalasr commented on #38820
@lyrixx Sorry, I missed that part. I see now, enabling the feature from the command (typically worker) sounds good.

Could we rely on `SignalableCommandInterface` to automatically subscribe to default signals? Or do we need another one?

[2020-10-27 10:04] velreine opened #38840 "AbstractNormalizer does not return all AllowedAttributes properly."
**Symfony version(s) affected**: 5.1

**Description**

Comparing AbstractNormalizer from Symfony 5.0 to Symfony 5.1, the method:
 getAllowedAttributes($type, $context, $attributesAsString)

Used to return all attributes, when using the annotation @SerializedName("..."), however now the "new" name is not returned from getAllowedAttributes, in my case i use the SerializedName("password") annotation

[2020-10-27 10:05] #38693 closed, assigned to nobody

[2020-10-27 10:10] jschaedl commented on #38766
Ping @ocrampete16 :-)

[2020-10-27 10:15] #33393 closed

[2020-10-27 11:08] CarolineDirat commented on #38815
Mea Culpa, problem solved [by passing ``true as the second argument to the setEtag() method](https://symfony.com/doc/current/http_cache/validation.html#validation-with-the-etag-header).
`$response->setEtag($phone->computeEtag(), true) `

Sorry...

[2020-10-27 11:55] adhocore commented on #38836
while they seem related, probably not duplicate.
this one is for php8 and not related to exception but reflection:
`unknown method ReflectionUnionType::isBuiltin()`

[2020-10-27 11:57] nicolas-grekas commented on #38836
Wrong link, here is the fix #38699

[2020-10-27 12:17] derrabus commented on #38836
Right, sorry. 🙈

[2020-10-27 12:57] fabpot commented on #38837
Do you want to work on a fix?

[2020-10-27 13:19] lyrixx commented on #38820
IMHO, we need another one, because one may want to use only event, without bothering with handling manually the signal.

I'll propose a PR soon

[2020-10-27 13:44] natepage commented on #38640
Hi guys, would that feature allow us to extend/override the `Connection` as well?

I believe that most of the time we create the SQS queue upfront, we configure messenger transport using a DSN then we deploy the code but still.. Each time we send the first message to SQS we have to request it to get the queue URL 😄 I know it's no big deal but still I think that it would be nice to bypass that requ

[2020-10-27 13:50] zmitic opened #38843 "New events for BeforeHandle and AfterHandle"
**Description**
I have SAAS application with each company identified by subdomain like ``company1.example.com``, ``company2.example.com``. Via ``RequestEvent``, I can easily enable [Doctrine filters](https://www.doctrine-project.org/projects/doctrine-orm/en/2.7/reference/filters.html).

But for async work, I have to pass ``company_id`` like this:

[code]

Handler would read value from ``getCompany

[2020-10-27 14:39] fd6130 commented on #38733
I will work on this translation.

[2020-10-27 14:39] fd6130 commented on #38732
I will work on this translation.

[2020-10-27 14:43] Nyholm commented on #38732
That is great. Thank you!

[2020-10-27 15:03] chalasr commented on #38640
@natepage `Connection` should remain an internal implementation detail.
About your need, the transport already supports passing a SQS queue url as `dsn` since https://github.com/symfony/symfony/pull/37306, but it still calls `getQueueUrl()` internally.
Feel free to open a dedicated issue or PR for that, otherwise I'll do it asap.

[2020-10-27 16:15] ibotdotout commented on #38767
Hi, I will work on this.

[2020-10-27 16:18] Nyholm commented on #38767
Thank you

[2020-10-27 17:01] #38820 closed, assigned to nobody

[2020-10-27 20:42] michaelKaefer commented on #33311
So I am out here. Current state:

- the panel UI could be improved I suppose, e.g. a tooltip on hover in the toolbar
- ~~putting requests in the "Performance" tab would be great (all timings are already in the collected "info")~~ #38688
- ~~response bodies are not collected yet~~ #35407
- when a transport error occurs, (ie the "error" info is populated) we should maybe have a better display too?
-

[2020-10-27 22:10] natepage commented on #38640
@chalasr Thank you for your reply, I'm gonna create a dedicated issue, I'm happy to work on a PR but I would prefer asking some questions first about how you would see that implemented, cheers.

[2020-10-27 22:21] natepage opened #38849 "[Messenger][SQS] Prevent calling getQueueUrl() when DSN is a SQS queue URL"
**Description**
In #37306 we added the support for SQS queue URL as DSN, however we're still calling getQueueUrl() internally, we could prevent that request as we already know the queue URL in that case.

I'm happy to work on a PR for this, but I would like to have some feedback about how we would like this to be implemented 😄

**Idea**
In `Connection`, to allow this to work with both `fromDsn()`

[2020-10-27 22:21] natepage commented on #38640
@chalasr I've created the issue #38849

[2020-10-27 23:28] jderusse commented on #38849
Hey @natepage thank you for the issue, it was on my TODO list. No need to add a new property. We already have one, we just need to allow user injecting a value in `__constructor`.

I opened #38850 would you mind to have a look ?

note: Instead of adding a new parameter, I prefer using the DSN when it looks like a queueUrl which is already supported by the component.

[2020-10-28 00:43] natepage commented on #38849
The `setup` method calls `SqsClient::queueExists()` which call the `GetQueueUrl` API operation. This can not be removed, because it's the purpose of the method: We have to check if the queue exists (even if the DSN is a queueUrl) to decide if a queue need to be created.

User can (should) disable it with `auto_setup=false` to prevent this.

[2020-10-28 05:24] #38733 closed, assigned to nobody

[2020-10-28 05:24] #38732 closed, assigned to nobody

[2020-10-28 06:50] Nyholm commented on #38807
Note that we should target 4.4 now

[2020-10-28 06:50] Nyholm commented on #38767
Note that we should target branch 4.4 now

[2020-10-28 06:51] Nyholm commented on #38774
Note that we should target branch 4.4 now

[2020-10-28 06:51] Nyholm commented on #38739
Note that we should target branch 4.4 now

[2020-10-28 09:47] masitings commented on #38754
I'll take this issue.. Thanks.

[2020-10-28 10:04] #38840 closed, assigned to nobody

[2020-10-28 10:11] BogdanMantescu commented on #37980
I solved by putting in nginx.conf fastcgi_param HTTPS 'on';
it worked for me ( haproxy + nginx)

[2020-10-28 10:16] Nyholm commented on #38754
Awesome. Thank you.

Make sure you make the PR to branch 4.4

[2020-10-28 11:22] masitings commented on #38745
i got this too... same to 4.4 branch right ?

[2020-10-28 11:26] tannyl opened #38861 "symfony/doctrine-bridge 4.4.16 breaks indexBy funtionality"
**symfony/doctrine-bridge version(s) affected**: 4.4.16

**Description**
After updating from version 4.4.15 to 4.4.16 the Symfony app Sylius breaks with the following error:
[code]

This is due to the use of `indexBy` here: https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/ProductVariant.orm.xml#L40

After the changes here https://github.com/

[2020-10-28 11:28] Nyholm commented on #38745
Yes sir.

[2020-10-28 11:28] nicolas-grekas commented on #38861
Can you check if #38628 fixes the issue?

[2020-10-28 12:16] masitings commented on #38763
Can i take this aswell ?

[2020-10-28 12:17] Nyholm commented on #38672
After some checks and discussions. We failed to reproduce this.

@cybernet, feel free to correct me if Im wrong. But I think we can close this.

[2020-10-28 12:17] #38672 closed, assigned to nobody

[2020-10-28 12:19] Nyholm commented on #38763
@masitings Do you speak Norwegian, Hungarian and Slovenian?

If so, that is impressive =)

[2020-10-28 12:20] masitings commented on #38763
I'll try my best to do that.. i know a bit but hopefully that would be help.

[2020-10-28 12:25] Nyholm commented on #38763
Okey.

It is important that we get human translations. Machine translations are not preferred.

If you do your best try for Slovenian then we can ask somebody else than me proof read it.

Thank you

[2020-10-28 12:25] tannyl commented on #38861
@nicolas-grekas It does not seem to change anything at all. It still works as described above, and changing back to "channelCode" just results in the same error again. (`Cannot find a field....`)

[2020-10-28 12:53] Nyholm commented on #38734
Could I maybe ask @MarioBlazek for some help with this? =)

[2020-10-28 13:00] enriquerene commented on #30071
I replaced `function setUp ()` by `function setUp (): void` and worked for me (PHPUnit 8, Synfony 5.1).

[2020-10-28 14:08] abarkine commented on #38200
@javiereguiluz  , @weaverryan I can create a PR for this feature request. Do you think that it is a valid feature that can be added to messenger?

[2020-10-28 14:12] HypeMC commented on #38734
@Nyholm I can help with this one if need.

[2020-10-28 14:26] Nyholm commented on #38734
Awesome. I didn’t know you spoke Croatian :)

[2020-10-28 15:38] subcores commented on #38700
Its not a bug. Just use this in the onAuthenticationSuccess method:
`$request->getSession()->getFlashBag()->add('login_successfull', 'message_login_form_valid');`

[2020-10-28 16:33] MarioBlazek commented on #38734
@Nyholm I can jump in, @HypeMC ping me if you need any help.

[2020-10-28 17:16] xabbuh commented on #38700
For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2020-10-28 17:16] #38700 closed, assigned to nobody

[2020-10-28 17:28] xabbuh commented on #38694
Could you please create a small example application that allows to reproduce your issue?

[2020-10-28 17:30] xabbuh commented on #34373
Closing here for now. Please leave a comment if the suggested groups do not solve your use case.

[2020-10-28 17:30] xabbuh commented on #38676
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-28 17:30] #38676 closed, assigned to nobody

[2020-10-28 17:30] xabbuh commented on #38170
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-28 17:30] #38170 closed

[2020-10-28 17:31] xabbuh commented on #38412
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-28 17:31] #38412 closed

[2020-10-28 17:31] xabbuh commented on #38603
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-28 17:31] #38603 closed, assigned to nobody

[2020-10-28 17:31] xabbuh commented on #32756
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2020-10-28 17:31] #32756 closed

[2020-10-28 18:01] xabbuh commented on #36720
Can you please check if #38869 fixes this issue?

[2020-10-28 18:09] #38767 closed, assigned to nobody

[2020-10-28 18:13] #38762 closed, assigned to nobody

[2020-10-28 18:20] Nyholm commented on #38694
I've seen this too on 5.1. It is related to doctrine annotations I think. But I've never been able to reproduce it. I've only seen in in production logs...

[2020-10-28 19:31] JohJohan opened #38873 "[Bundles] Passing parameter value to bundle `integerNode` value you get string value instead of defined value"
**Symfony version(s) affected**: 4.4 (probably others to)

**Description**
When writing configuration for a bundle and you use a `integerNode` you cannot use paramater values to set this configuration because the value that is passed is a string. Also when you use `beforeNormalization` to parse string values you will get the parameter name instead of the parameter value you have set for that param

[2020-10-28 21:45] fyrye commented on #36538
Have you attempted to use the [`doctine_ping_connection`](https://symfony.com/doc/current/messenger.html#middleware-for-doctrine) middleware configuration?

[2020-10-28 21:47] #38807 closed, assigned to nobody

[2020-10-28 21:47] #38766 closed, assigned to nobody

[2020-10-28 21:56] a-menshchikov opened #38874 "[Ldap] Warning on reset pagination"
**Symfony version(s) affected**: 5.1.8

**Description**
After #38392 \Symfony\Component\Ldap\Adapter\ExtLdap\Query::resetPagination returns warning from Adapter/ExtLdap/Query.php::239

[code]

I can suppose that cause is on Adapter/ExtLdap/Query.php::177

[2020-10-28 21:56] a-menshchikov commented on #38874
@lucasaba Could you watch this?

[2020-10-28 22:12] X-Coder264 commented on #38734
@Nyholm It's his native tongue, but I wouldn't go so far as to say that he speaks Croatian - I expect the amount of typos in his upcoming PR to be [over 9000](https://i.kym-cdn.com/entries/icons/original/000/000/056/itsover1000.jpg) :joy:

[2020-10-28 22:16] HypeMC commented on #38734
@X-Coder264 That's why I have you to double check everything, now stop spamming :smile:

[2020-10-28 23:57] Nek- commented on #38874
Hello @a-menshchikov does this ( https://github.com/symfony/symfony/pull/38875 ) fix your problem as expected?

[2020-10-29 00:10] Nek- commented on #36538
Hello,

First, you may configure your HA Proxy another way to make it work. But there's also some things that are not documented at all in the Symfony documentation: you can add options to your amqp connection. And here is a list of options:

https://github.com/php-amqp/php-amqp/blob/96cd5cb5eddd3db2faaa3643dad2fe4677d7c438/stubs/AMQPConnection.php#L27-L53

You may be interested in the `heartbeat`

[2020-10-29 00:30] Nek- commented on #38837
Isn't this related to https://github.com/symfony/symfony/issues/38874 ?

[2020-10-29 05:33] ghost commented on #38694
I cannot reproduce the bug on the test application. I will see to provide you with that this weekend. I have the bug on my application but not on the test. I'll do a toggle and provide you with the basics of the bugging app.

[2020-10-29 06:31] Nyholm opened #38876 "Missing translations for Finnish (fi)"
Hello,

There are some missing translation for Finnish (fi). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.fi.xlf](https://github.com/symfony/symfony/blob/4.4

[2020-10-29 07:04] timglabisch commented on #37850
We've the same issue. these lines are taking 7m in my setup. (v4.4.15 with xdebug2).

[2020-10-29 07:06] vittore commented on #38837
Not now and in a few days.
:( Sorry.

[2020-10-29 07:14] Nyholm commented on #38876
@gzumba maybe you want to have a look at this too?

[2020-10-29 08:14] lucasaba commented on #38874
@a-menshchikov  I'm on it. But that's quite strange: how is the resource supposed to change and become an int ?

[2020-10-29 08:19] Nyholm commented on #38876
Oops =)

Here is a PR: https://github.com/symfony/symfony/pull/38865

[2020-10-29 09:53] rimas-kudelis commented on #34373
The idea was I wanted to designate fields as not serializable by default (as in, not in the Default group).

Groups are a nice feature, but if I go that way, I have to tag all the other properties of the object (and probably its relations) with a specific group, which seems like a huge overkill when you just want to exclude a couple fields from default serialization.

[2020-10-29 09:54] #38876 closed, assigned to nobody

[2020-10-29 10:42] ro0NL commented on #38861
Same, it's a BC break not a bug.

Given `<one-to-many field="items" target-entity="App\Entity\Some" mapped-by="mapped" index-by="some"/>` and `<field name="some"/>`

i get the breakage. The patch in #38628 doesnt work neither.

[code]

[2020-10-29 10:54] timglabisch commented on #37850
i have taken a closer look at the problem, because the compile time has increased dramatically. in an old branch it was 16 seconds, suddenly it was 7m

it looks like the logic for resolving the CircularReferences is not very efficient, because he always goes through all services and checks the complete path. I don't understand the implementation 100% yet but probably there is some room for improve

[2020-10-29 11:38] jderusse commented on #37850
The title and the description if this issue are **misleading** and an important detail is missing:

Your are talking about time to compile the container, which occurred only **once in a lifetime** of production environment and only when a service change in dev environment.

While, in my opinion, what matters is the performance in a production environments, in that case, we should compare performan

[2020-10-29 11:59] onionpsy opened #38880 "[Serializer] Not able to ignore constructor when instantiating object through normalizer"
**Symfony version(s) affected**: 4.4

**Description**
hey. I'm trying to keep track of all properties changed when instantiating a new object through serializer (and normalizer) but values are being unset once normalized. My class has parameters in the constructor so it goes through [this part](https://github.com/symfony/serializer/blob/6f5ac2d398a025e2b064d80a0ccd55f12b02dbd2/Normalizer/AbstractN

[2020-10-29 13:41] kinucris commented on #31765
Hello I change my _bootstrap.php_ but does working ::sad::

change this:
    `(new Dotenv())->bootEnv(dirname(__DIR__).'/.env');`
for then:
    `(new Dotenv(true))->loadEnv(dirname(__DIR__) . '/.env');`

[2020-10-29 14:23] a-menshchikov commented on #38874
@Nek- yes, your fix helped.

[2020-10-29 14:27] Vanawy commented on #38629
I "fix" it by using static::class as id, but it will be great if someone make possible just pass object to add/removeEventListener functions

[2020-10-29 17:39] flaushi opened #38881 "[Lock] Checking if a lock is acquired should be atomic"
**Symfony version(s) affected**: >4.4

**Description**
As stated in the official docs, checking if a lock is available must be done with
[code]
I am experiencing the problem, that the time in Point X seems to sometimes be so long that a race condition exists. I have described this situation here : https://stackoverflow.com/questions/64594133/maintenance-mode-using-lockcomponent

**How to reproduce

[2020-10-29 19:43] jderusse commented on #37850
Could you please have a look to this PR to check if perfs are better? https://github.com/symfony/symfony/pull/38882

[2020-10-29 20:04] ostrolucky commented on #37850
They are not, both explicitly state *compilation*.

Both matter. 10sec+ compilation times very much kill dev productivity. Especially for code that is not even used in request. There is not many PHP developers who would be willing to bear such times. This is a Symfony specific problem, I don't know about any other PHP project doing these compilations.

And yes we all know this is because of circul

[2020-10-29 20:16] emarref commented on #37588
Correct me if I'm wrong or misunderstanding, but isn't the cloned message delivered? Which means that the event listener will be able to modify the cloned message?

[code]

I think the reason for cloning the message is so that any reference to the message in the calling code will not be able to modify the message once it is sent. But event listeners should have access to the cloned message, which

[2020-10-29 20:19] jderusse commented on #38881
Hello, the issue is: the application acquires the lock to check if the lock is acquired.. Meaning, When 2 requests are performed at the same time, they both try to acquire the lock and locks each other...

The solution would be to use SharedLock from the upcoming Symfony 5.2 (acquire a "ReadLock" to check if the lock page is in maintaince mode, and acquire a WriteLock to put the page in maintainan

[2020-10-29 20:24] flaushi commented on #38881
Yup ReadLock seems to be what I need. Thanks for that.

Concerning the `isCurrentlyAcquired`: inspecting the redis natively, I can see that a key is stored that just has the resource name. I think it would be just fine to check if this key exists (using the Lock-API), and not caring about its value. The fact that a redis entry with that name exists already implicates that someone has acquired the

[2020-10-29 20:28] jderusse commented on #37850
Hmm weird, initial implemented the patch on 4.4 (code here: https://github.com/jderusse/symfony/blob/perf-circular-44/src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php) and rebased onto 5.5. Are you using the same project uploaded in the issue?

[2020-10-29 20:29] nicolas-grekas commented on #37850
I'm sad reading such comments about the supposed "good old days". There is no need to be emotional, but we are human beings. About these good ol' days: nothing changed, circular refs by constructors are still detected using the same logic as before, and they're detected very quickly since always.

The logic we're talking about is meant to detect loops created "via other means, eg. setter.". These

[2020-10-29 20:34] jderusse commented on #38881
Yes, it's pretty easy on redis (and some other store) But:
1) I don't know if it's possible on all stores (zookeeper, mongodb) and thank to you usecase, I realize that we ca't provide safe fallback.
2) I fear people will use it like this `if (!$lock->isCurrentlyAcquired()) { $lock->acquire(); $this->business(); }` which is dangerous!!

[2020-10-29 20:43] flaushi commented on #38881
Well, and now we have `isAcquired()` which i misunderstood in exactly the same way.

[2020-10-29 20:54] bwach commented on #38861
This can occur when we treat "indexBy" as column name rather than field name, so when we have a indexBy=foo but the column name is bar_bar, it will fail too.

@tannyl your problem seems to be that if you set indexBy to "channel_code" (the column name), the indexing doesn't work as it expects indexBy to be a field name

[2020-10-29 21:49] pableu commented on #37588
Thanks for taking the time to look at my issue. I think you're on to something, but I beg to differ.

1. The code in the Mailer is `$clonedMessage = clone $message;` (so the clone is assigned to a new variable and the original still exists).
2. The `$clonedMessage` goes into the MessageEvent which is given to the event dispatcher.
3. But it's the **original** `$message` that is passed to the Messa

[2020-10-29 21:55] emarref commented on #37588
Sorry, I've been looking at 4.4 branch.

https://github.com/symfony/mailer/blob/4.4/Mailer.php

It seems the 5.x branch introduces your issue

https://github.com/symfony/mailer/commit/f62d7ebdc095f6a3e0922317d963765279be115c#diff-f3cbd3bd5920e440654a822116a6e7cc2407bd61f72415ade9b495e139b07672
https://github.com/symfony/mailer/commit/be41599ea773ccf5ee205d350b58123206349dfb#diff-f3cbd3bd5920e44065

[2020-10-30 06:17] #38745 closed, assigned to nobody

[2020-10-30 06:17] #38754 closed, assigned to nobody

[2020-10-30 07:14] tannyl commented on #38861
@bwach the changes in 4.4.16 made it so you have to use the column name instead of field name otherwise it won't work. But it seems somewhere else in the doctrine_bridge code it still expects a fieldname when trying to assign keys to the final collection you get back from doctrine. And since you can't use a fieldname anymore, they keys don't get assigned with the expected values.

[2020-10-30 08:28] COil commented on #28023
@iquito But `@Psr\Log\NullLogger` is not defined right? You have to declare it before:

[code]

[2020-10-30 09:26] jeroennoten commented on #23937
@nicolas-grekas is this issue still relevant? It seems that the class TraceableCache was deprecated in Symfony 4.3:

[code]

And in the 5.x branch, the TraceableCache class is gone.

[2020-10-30 09:32] nicolas-grekas commented on #23937
Correct, thanks, let's close. If someone has the issue on 4.4 and wants to fix it, PR welcome.

[2020-10-30 09:32] #23937 closed

[2020-10-30 09:59] iquito commented on #28023
I didn't make an explicit service for `@Psr\Log\NullLogger`, and it still works (I am using newest Symfony version, 5.1.8). Not sure if Symfony creates it automatically.

[2020-10-30 10:05] pkruithof commented on #33720
I was actually waiting for a feature like this since I learned about `tagged_iterator`. Sorry to bring up an old issue, but is there any chance to re-evaluate this feature? And how is a feature determined to be "must wanted"? Is there a possibility to vote on it or something?

[2020-10-30 10:52] siemendev opened #38885 "JUnit format support for lint:twig (and possibly other CI commands)"
**Description**
We're using linting commands in our CI/CD pipelines (in our case bitbucket.org) as many others here probably do. Most CI/CD providers (including Jenkins, Bitbucket and many more) provide support for JUnit XML Outputs which unify test results file-based.
It would be really handy to have JUnit output for the linting commands (at least for the ones that lint file based, like lint:twig

[2020-10-30 10:59] garak opened #38886 "symfony/mime requires phpdocumentor/reflection-docblock but doesn't use it"
**Symfony version(s) affected**: 5.2

**Description**

In [1a5636c](https://github.com/symfony/mime/commit/1a5636cbf45cbf1d9c1c9b3716f680340b0a826b) a dependency has been introduced, even if mime library doesn't use directly phpdocumentor library.

**Possible Solution**

Remove phpdocumentor/reflection-docblock from dependencies of symfony/mime

[2020-10-30 11:03] nicolas-grekas commented on #38886
Please send a PR

[2020-10-30 11:03] mees-van-wel opened #38887 "Symfony mailer not working in 5.1.8"
Today I updated my symfony packages from `5.1.7` to `5.1.8` and found out that the Symfony mail is not working anymore.
I tested it with the sample code from this [article](https://symfony.com/doc/current/mailer.html#creating-sending-messages).
In my dev log I get the following:
- Email transport "Symfony\Component\Mailer\Transport\Smtp\SmtpTransport" starting
- Email transport "Symfony\Component\

[2020-10-30 11:14] VincentLanglet opened #38889 "[Symfony/Phpunit-bridge] Issue with phpstan"
**Symfony version(s) affected**: 4.4.16

**Description**
When running
[code]

I get the following issue (and [I'm not the only one](https://github.com/getsentry/sentry-symfony/issues/383#issuecomment-717299643))
[code]

I'm using the symfony phpunit bridge. And there is some config to load the
[code]
file with phpstan.

I tried to use phpunit/phpunit directly instead of the bridge and there is no

[2020-10-30 11:26] stof commented on #38885
We already have a `--format` option in this command (currently supporting `txt` and `json`). Adding support for a `junit` format would totally fit in there.
So to me, contributions are welcome to implement this.

[2020-10-30 11:30] bwach commented on #38861
It seems although doctrine doesn't validate the "indexBy" field annotation (you can put anything there) and the docs aren't clear on that, it expects the field name:

https://github.com/doctrine/orm/blob/c1943624ab1260c629316bab104dc5130c060154/lib/Doctrine/ORM/Mapping/ClassMetadataInfo.php#L516

but since column names follow the namingStrategy usually, it works in most cases, until the column nam

[2020-10-30 11:56] enumag opened #38890 "[DoctrineBridge] Massive memory usage increase in 5.1"
**Symfony version(s) affected**: 5.1

**Description**

After upgrading to 5.1 my tests suddenly started failing on memory limit. So I ran them through blackfire and found out that between Symfony 5.0 and 5.1 the memory usage in my tests increased from < 500 MB to over 1.2 GB.

Then I tried to upgrade just a few packages at a time to find out which one was causing it and the culprit is `symfony/doc

[2020-10-30 12:02] garex commented on #30259
@chalasr Then it's not true consumer, that not visible in rabbit admin panel.

You should design another command, that do what it should do -- report that it's consumer, be visible in admin panel but without those useless `--time-limit/--memory-limit` options.

[2020-10-30 12:22] cybernet commented on #38890
+1

[2020-10-30 12:25] enumag commented on #38890
Fixed it in my test suite by calling this in `tearDown()`

[code]

[2020-10-30 12:53] javansolo opened #38892 "improve php doc"
hi
Function name must be callable - a string, Closure or class implementing __invoke, currently \Symfony\Component\HttpFoundation\Session\SessionInterface or callable on phpdoc

https://github.com/symfony/symfony/blob/9aac4f444a3cae77759d096b086acf3c11be262d/src/Symfony/Component/HttpFoundation/Request.php#L187
change to
SessionInterface|callable

![](https://user-images.githubusercontent.com/1136

[2020-10-30 12:54] mees-van-wel commented on #38887
I tested it with other SMTP credentials and it looks like the problem was with the SMTP server.

[2020-10-30 12:54] #38887 closed, assigned to nobody

[2020-10-30 12:57] chalasr commented on #30259
@garex Those "useless" options is the best we could provide with all concerns taken into account around the design of the component (which has been experimental for 3 minor releases before being considered stable and proven useful).

Please keep in mind that nothing is owed here. Anyone can contribute and propose changes, you included.
Our process for feature requests starts by opening a ticket de

[2020-10-30 13:22] tyx opened #38893 "[Messenger] Add serializer usage to InMemoryTransport"
**Description**

Use $serializer inside the InMemoryTransport.

Currently the in memory transport does not use the serializer compared to the others.

This removes the possibility in tests with messenger to test to the end the chain when a custom serializer is provided (in this case https://github.com/Happyr/message-serializer).

I've created my own transport and I wonder if it could be implemente

[2020-10-30 13:28] chalasr commented on #38893
Looks sensible to me.

[2020-10-30 13:39] Nyholm commented on #38893
I agree with this.
Sure it will "just take time", but it makes my development environment a bit more similar to how it works in production.

👍

[2020-10-30 13:41] Nyholm commented on #38893
Could we make this configurable with `in-memory://?serialse=true`?

Just make sure we use the configured (or default) serializer.

[2020-10-30 13:50] garex commented on #30259
@chalasr do you have some links, where to research why you choosen only read-once model instead of read-always?

[2020-10-30 13:56] bryxfr opened #38896 "Multiple selection in an entity form"
Hi everyone,

I come to you because I cannot find my answer among the many results. There must be too many. How can I make a multiple selection in my form without SQL query, I mean to have the selected in the HTML?

[code]

The values have been well selected. However, as you can see below, this form does not do it.

[code]

Thank you for your help,
Sincerely, Bryx

[2020-10-30 14:05] derrabus commented on #38896
Hello!

Thanks for reaching out. This issue tracker however is not meant for support questions. You can find all offered support channels here: https://symfony.com/support

[2020-10-30 14:05] #38896 closed, assigned to nobody

[2020-10-30 14:55] #38886 closed, assigned to nobody

[2020-10-30 15:06] Nyholm commented on #38892
Excellent.
Thank you for this issue.

It is fixed in 4.4 and will soon (the next few days) be merged up to 5.1 and 5.x.

[2020-10-30 15:06] #38892 closed, assigned to nobody

[2020-10-30 15:08] #38753 closed, assigned to nobody

[2020-10-30 15:08] #38755 closed, assigned to nobody

[2020-10-30 15:08] ossinkine commented on #38889
@VincentLanglet I've also faced this issue. Did you fix it?

[2020-10-30 15:09] Nyholm commented on #38743
Fixed in https://github.com/symfony/symfony/pull/38829

[2020-10-30 15:09] #38743 closed, assigned to nobody

[2020-10-30 15:11] Nyholm commented on #38736
Hey, @henrikbjorn can you help me ping somebody who could help with this?

[2020-10-30 15:13] Guikingone commented on #38893
What about adding a `FilesystemTransport` ?

This way, the `InMemoryTransport` can stay as it and we can use a new transport dedicated to `test` env?

[2020-10-30 15:13] Nyholm commented on #38738
Hey @Sheitak, could you help out with these too?

[2020-10-30 15:13] VincentLanglet commented on #38889
I fixed it by adding a conflict `composer >= 2` to my `composer.json`.
Seems like the `.phpunit/vendor/composer` folder was different from the `vendor/composer` one.

Do you think the issue should be re-opened ?
I'm not sure it should be fixed by phpunit bridge.

Maybe by composer ? or sentry/symfony, which use https://github.com/Jean85/pretty-package-versions...

[2020-10-30 15:14] tyx commented on #38893
Yes indeed ! Love this idea

[2020-10-30 15:14] Nyholm commented on #38771
Hey @houdmont, could you help me out with this ticket?

[2020-10-30 15:14] Nyholm commented on #38758
Awesome. Thank you.

Let me know if you need any help.

[2020-10-30 15:15] Nyholm commented on #38761
@tambait could you help out again please?

[2020-10-30 15:16] Nyholm commented on #38752
Maybe @evxzibit could help out?

[2020-10-30 15:18] Nyholm commented on #38750
Could I ask @rmikalkenas or @gautierderuette to have a look at this?

[2020-10-30 15:18] Nyholm commented on #38744
Awesome. Let me know if I can help you in any way.

[2020-10-30 15:19] lyrixx opened #38901 "Let's talk about Exception and Log"
This issue is a bit long, and cover **two topics**, to please read it all before
commenting.

## 1️⃣ Do not log anymore 4XX exceptions

With a fresh Symfony (5.1) but it's the same for older version, all exceptions
are logged. It could be are at `error` level or at `critical` level.

I created a simple controller:

<details>

[code]

</details>

And when I hit the application, I got the following

[2020-10-30 15:19] Nyholm commented on #38742
Friendly ping to @Lutacon, could I get your help on this?

[2020-10-30 15:21] garex commented on #30259
https://www.cloudamqp.com/blog/2020-07-14-rabbitmq-basic-consume-vs-rabbitmq-basic-get.html

https://www.rabbitmq.com/consumers.html#fetching

[2020-10-30 15:21] Nyholm commented on #38756
Ping @themilanfan, There is already Bokmål added, could you have a look at the Nynorsk?

[2020-10-30 15:22] Lutacon commented on #38742
Sure, not a problem. I will take a look today after work.

[2020-10-30 15:22] Nyholm commented on #38731
Hey @rogerguasch, could you help out with this?

[2020-10-30 15:23] Nyholm commented on #38728
Hey @tambait, I saw that you recently added some translations. Could you add a few more? Please =)

[2020-10-30 15:23] Nyholm commented on #38742
That is awesome. Thank you!

[2020-10-30 15:24] Nyholm commented on #38727
Hey @vtsykun, you did quite some work on these last year, could I ask you to add a few more missing translations?

[2020-10-30 15:25] Nyholm commented on #38726
Hey @cluster28, could I ask you to look at this ticket please?

[2020-10-30 15:25] tambait commented on #38761
@Nyholm Good timing, I was about to push missing translations for SR (Latn & Cyrl) as well as BS :)

[2020-10-30 15:26] garex commented on #30259
https://livebook.manning.com/book/rabbitmq-in-depth/chapter-5/11

[2020-10-30 15:26] Nyholm commented on #38725
Wow, @seferov, you did your first contribution back in 2013. =)

Could I ask you to help out with some more translations?

[2020-10-30 15:27] Nyholm commented on #38761
Hehe, nice!

I will be happy to review that =)

[2020-10-30 15:28] seferov commented on #38725
@Nyholm :) sure, you can assign this to me.

[2020-10-30 15:28] Nyholm commented on #38720
Or maybe @samicemalone can help out?

[2020-10-30 15:29] Nyholm commented on #38724
Hey @DevAly, could you help out with translations again?

[2020-10-30 15:29] Nyholm commented on #38725
Awesome. Thank you

[2020-10-30 15:32] julienfalque commented on #38901
means my code is good, the request is not. => There is nothing I can do to
fix it

This is generally true, but sometimes it shows that one of your page contains a broken link (404) or that a server-side validation does not match the way a form or API endpoint is implemented (400). For that reason I think it would be nice to:
* not have those errors at the same place as other errors because it most

[2020-10-30 15:50] dunglas commented on #38901
A big 👍  on my side.

@julienfalque this kind of analytics is better done at the web server level.

[2020-10-30 16:26] rogerguasch commented on #38731
Hi,
this three files are already translated, isn't it?

[2020-10-30 16:28] Nyholm commented on #38731
Yes, but if you look at the English versions of those 3 files, you will see that some translations are missing.

[2020-10-30 16:31] tyx commented on #38893
InMemory is not already dedicated to test env ?

[2020-10-30 16:33] Guikingone commented on #38893
You're right, my bad, I was thinking about a new transport as IMHO it's easier to maintain and improve rather than adding a new option and impacting the existing `InMemoryTransport`.

[2020-10-30 16:41] derrabus commented on #38893
IIRC think that idea was discarded in the past because you could basically use a Doctrine transport on an SQLite file to achieve a "filesystem transport".

[2020-10-30 16:59] #38728 closed, assigned to nobody

[2020-10-30 16:59] #38760 closed, assigned to nobody

[2020-10-30 16:59] #38761 closed, assigned to nobody

[2020-10-30 17:06] rogerguasch commented on #38731
Ok, working on!

[2020-10-30 17:54] lyrixx commented on #38901
@julienfalque  I agree with @dunglas here. 404 should be monitored with [nginx|apache|lb|varnsih] logs. Or your can use externals tools like https://redirection.io/

About 400, I usually monitor that from the client POV (JS)

An automatic conversion of NotFound to 404, AccessDenied to 403, etc. Like it's now

[2020-10-30 19:06] aadmathijssen opened #38904 "[Console] Too many arguments message contains an incorrect number of missing arguments"
**Symfony version(s) affected**: 5.1.8 (and earlier)

**Description**

Whenever a Symfony Console command is called with too many arguments, a "Too many arguments" error is shown on the CLI. This message also states _which_ arguments are expected. But this message always contains `"command"` as an extra argument. This can be confusing for the user, as the reported number of arguments is one off wi

[2020-10-30 19:16] Lutacon commented on #38742
PR Done 👍🏼

[2020-10-30 19:52] aadmathijssen opened #38906 "[Console] Synopsis in error message contains <command> as non-option argument"
**Symfony version(s) affected**: 5.1.8

**Description**

When an exception occurs while validating or running a Symfony Console command, an error message is shown to the user.
The last line of the error message is a synopsis of how the command should be called. This synopsis is incorrect: it states that the first non-option argument should be `<command>`. But the command itself is already shown at

[2020-10-30 20:09] ghost commented on #38694
I only copy my vendor folder, the files from the Entity folder and Repository. By repeating the test, the bug reproduces well on my side. Include vendor folder in the git : https://github.com/wolpheus/sftest

Edit : Link -> reset-password

[2020-10-30 20:16] rmikalkenas commented on #38750
@Nyholm done!

[2020-10-30 20:20] ghost commented on #38694
Following the various tests, to resolve the problem apparently would be to delete the vendor folder and do a composer install to put everything back. The bug no longer occurs afterwards.

Edit : 31/10 :  The problem is always present.
Attach file my config phpinfo
[phpinfo.zip](https://github.com/symfony/symfony/files/5468931/phpinfo.zip)

[2020-10-30 21:39] Nyholm commented on #38904
Hm.. I think there is a terminology confusion here.

The actual command/program/binary you are running is `bin/console`. The first argument to that command is "symfony-command-name", (ie a cli name of a class extending `Command`).

When you are running:

[code]

It is the `bin/console` command/program/binary that says: "Hey, too many arguments, Im only expecting a symfony-command-name."

Does it m

[2020-10-30 22:12] aadmathijssen commented on #38904
Well, I think the problem is that the contents of the error message depend on the command that is used. More precisely, the names of the actual expected arguments (except from `"command"`) only make sense for the command that was supplied.

So I think it is better to formulate the exception in the context of the command that is used, i.e. use something like

[code]

instead of

[code]

[2020-10-30 22:30] Nyholm commented on #38904
Yeah. I can agree with that. Or even better:

[2020-10-31 05:31] stempora opened #38914 "[Serializer] XmlEncoder value & attributes"
Hello,

I want to generate an xml like
`<test>
    <component attr="value">some content</component>
</test>`

Any way to achieve that ? Some content if i leave without a key it will generate an `<item key="0">some content</item>`

Thanks

[2020-10-31 05:41] FallDi opened #38915 "DoctrineBundle config parameter "doctrine.dbal.logging" didn't work with value passed via env"
**Symfony version(s) affected**: 5.1.8

**Description**
DoctrineBundle `doctrine.dbal.logging` configuration parameter couldn't be set via `env` parameter.

**How to reproduce**
symfony + doctrinebundle

[code]

[code]

[code]

Actual result: SQL queries are logged
Expected result: SQL queries are NOT logged

**Possible root cause***
https://github.com/doctrine/DoctrineBundle/blob/6b1620354863f1f0

[2020-10-31 06:17] Nyholm opened #38916 "Missing translations for Mongolian (mn)"
Hello,

There are some missing translation for Mongolian (mn). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf](https://github.com/symfony/symfony/b

[2020-10-31 08:40] derrabus commented on #38916
Haven't we just merged a PR addressing MN translations?

[2020-10-31 09:00] Nyholm commented on #38916
Some is still missing

[2020-10-31 10:42] ro0NL commented on #38901
what's the proposed namespace/package for NotFoundException & co?

i've always created custom exceptions (either super specific, or generic) to be used at the domain level. Then convert them to HTTP context, yes.

see also https://github.com/api-platform/core/issues/3294, maybe it's related on high level.

[2020-10-31 10:48] julienfalque commented on #38901
Agreed, but I would still keep the ability to log them via Symfony in a separate chanel, in case e.g. one cannot access logs of the webserver.

[2020-10-31 10:57] ro0NL commented on #38901
btw, what semantically bugs me is

[code]

just looking at it, it's confusing already :}

[2020-10-31 12:38] #36720 closed

[2020-10-31 12:48] simonberger commented on #36720
I tried to reproduce the error in our tests after removing the workaround (without this patch) but it didn't break with this error anymore. Tests might have changed.

[2020-10-31 12:49] aadmathijssen commented on #38904
Yes that's even better. Thanks for the PR, @Nyholm!

[2020-10-31 13:03] derrabus commented on #38901
You cannot generalize this assumption. I've worked in projects where we 100% owned the clients that interacted with the Symfony app (REST-API for an SPA or mobile app). So in that case, a 4XX in most cases means:

* Someone's trying to do nasty things.
* The client submitted something broken. This is a problem that needs to be fixed.
* The 4XX error is a false positive and the Symfony app has to b

[2020-10-31 15:49] lucasaba commented on #38874
Just to confirm that I've added the error. As @jderusse pointed out in #38875 , I've changed a method with the wrong name.

[2020-10-31 17:41] AnneKir commented on #38736
Hey, I can do this

[2020-10-31 17:44] Nyholm commented on #38736
Nice!

[2020-10-31 17:51] nicolas-grekas commented on #37758
I gave this a try. I have a locally rewritten history of the polyfill classes. But I have one blocker: `NumberFormatter` uses the data from `Currencies`, which is only found in symfony/intl.
Looks like a dead end. WDYT?

[2020-10-31 18:02] nicolas-grekas commented on #37758
See https://github.com/symfony/polyfill/pull/310

[2020-10-31 18:23] stof commented on #37758
@nicolas-grekas the fallback NumberFormatter implements English only, and only needs 2 info about the currencies: the symbol and the fraction digits. We could bundle that (much smaller) info in the polyfill package (without exposing it to the outside, as that's what `Currencies` from `symfony/intl` does).

[2020-10-31 18:32] stof commented on #38915
Env variables are precisely meant to be resolved at runtime and not during the compilation of the container. The initial requirement of designing that feature was that changing the value of the env variable does not require clearing the cache to recompile the container.
And so this indeed means that any configuration setting of a bundle which affects the way services are wired (rather than argumen

[2020-10-31 18:55] 94noni opened #38929 "[UId/Doctrine] Entity repository error "ConversionException""
**Symfony version(s) affected**: 5.2.0-beta3

**Description**

Entity repository failed to retrieve an entity with an Uid property with method `findOneBy`

[code]

**How to reproduce**

See code after

**Possible Solution**

If I replace the doctrine `findOneByUuid` with a personal repo method `findMyHumidorWithUuid` it works.

**Additional context**

I am using Messenger and pass the object uuid

[2020-10-31 20:32] nicolas-grekas commented on #38929
Shouldn't this be an instance of `UuidV4` instead of a plain string?

[2020-10-31 20:38] Jean85 commented on #38889
IMHO this should be reopened. `jean85/pretty-package-versions` is only triggering the issue, not causing it, because it's asking for the `InstalledVersions` info; if a different version of Composer is temporarily used, you'll get dependencies and those will assume that the Composer 2 API is present, which may not, if you're still using Composer 1.

Upgrading to Composer 2 will make the issue go aw

[2020-10-31 22:13] wouterj commented on #38889
The PHPunit bridge uses whatever Composer is installed locally: https://github.com/symfony/symfony/blob/176f52d6308ba2c8a2c08109ecd60f05cf20ba35/src/Symfony/Bridge/PhpUnit/bin/simple-phpunit.php#L156-L161

I'm not sure what the error is here and how the PhpUnitBridge is involved in all of this. You shouldn't run your static analyser for the `.phpunit` directory (you should analyse only your own co

[2020-10-31 22:21] VincentLanglet commented on #38889
Since I don't require phpunit (and only the bridge) in my vendors, Phpstan need to load the phpunit directory to not throw an error "class not found" or "function not found" (because methods are not the same depending on the phpunit version).

I think the issue is in the order.
- I use composer 1
- I have a dependency https://github.com/composer-unused/composer-unused/blob/main/composer.json, whic

[2020-10-31 23:19] wouterj commented on #38889
Hmm, but if I understand that script correctly, it should never use the one from `vendor/`:

1. The first condition checks for `<getcwd()>/composer.phar`
2. The 2nd for a globally installed `composer.phar` that exists in the PATH variable
3. The 3rd for a globally installed `composer` that exists in the PATH variable
4. The 4th for a `composer.phar` in the root of the current git project
5. And ot

[2020-11-01 01:01] #38720 closed, assigned to nobody

[2020-11-01 01:01] #38742 closed, assigned to nobody

[2020-11-01 02:02] acantepie commented on #38412
@chalasr I can use a (non env) parameters. I can override config using packages/prod

But i have a strange behaviour if i am trying to doing this :

[code]

disallow_search_engine seems always setted to true even if DISALLOW_SEARCH_ENGINE_INDEX was setted to false.

[2020-11-01 05:29] FallDi commented on #38915
Thanks for reply 👍 ! It's really clear now.

I just look from the side of a new symfony user:
* Configuration allows to use Env https://symfony.com/doc/current/configuration.html#configuration-based-on-environment-variables
* DoctrineBundle used Env to configure `dbal.url`
As result assumption is that it's possible to use Env to configure other parameters 😃

Just little proposal to make a life of

[2020-11-01 06:18] Nyholm opened #38933 "Missing translations for Afrikaans (af)"
Hello,

There are some missing translation for Afrikaans (af). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.af.xlf](https://github.com/symfony/symfony/blob/4

[2020-11-01 06:18] Nyholm opened #38934 "Missing translations for Galician (gl)"
Hello,

There are some missing translation for Galician (gl). These should be added in branch 4.4.
See https://github.com/symfony/symfony/issues/38710 for details and [this page](https://symfony-translations.nyholm.tech/#pr) for an example.

These are the files that should be updated:
- [src/Symfony/Component/Form/Resources/translations/validators.gl.xlf](https://github.com/symfony/symfony/blob/4.

[2020-11-01 09:12] wkania opened #38935 "Not well-formed translation file for Galician (gl)"
**Symfony version(s) affected**: 4.4

**Description**
Introduced by https://github.com/symfony/symfony/pull/38905
Pull request tests didn't report any error but cache clear did.
`vendor/symfony/form/Resources/translations/validators.gl.xlf"; Errors: [ERROR 1843] Elemen
  t '{urn:oasis:names:tc:xliff:document:1.2}body': Character content other than whitespace is not allowed because the content type

[2020-11-01 09:13] 94noni commented on #38929
@nicolas-grekas you mean using?

[code]

I will try this, thank you for your answer

[2020-11-01 09:47] jderusse commented on #38412
all parameters does not accept env variable.
see explanation in similar issue https://github.com/symfony/symfony/issues/38915#issuecomment-719971021

[2020-11-01 10:29] Nyholm commented on #38935
Excellent. Thank you for reporting and fixing this.

[2020-11-01 10:29] #38935 closed, assigned to nobody

[2020-11-01 10:39] michelmelo opened #38937 "Too many arguments, expected arguments "command". LARAVEL 5.7"
**Symfony version(s) affected**: 4.4.0

**Description**
Too many arguments, expected arguments "command".
Too many arguments, expected arguments "command". {"exception":"[object] (Symfony\\Component\\Console\\Exception\\RuntimeException(code: 0): Too many arguments, expected arguments \"command\". at /XXX/vendor/symfony/console/Input/ArgvInput.php:172)

**How to reproduce**

**Possible Solution**

[2020-11-01 10:45] #38933 closed, assigned to nobody

[2020-11-01 10:45] #38750 closed, assigned to nobody

[2020-11-01 10:45] #38934 closed, assigned to nobody

[2020-11-01 10:46] xabbuh commented on #38937
see #38904

[2020-11-01 10:46] #38937 closed, assigned to nobody

[2020-11-01 11:34] jkufner commented on #38901
404 errors matter when you want to know about broken links. However, it is enough to know about this link once. For such a scenario it would be useful to have a hash table, where URL and HTTP code are the key. The stored values would be a counter, how many times the error happened, and first and last time of occurrence.

[2020-11-01 11:54] 94noni commented on #38929
@nicolas-grekas works fine, many thanks
closing

[2020-11-01 12:18] derrabus commented on #38901
@jkufner Clustering of log messages is a feature of a good log management system. I don‘t think that the app should take care of this.

[2020-11-01 13:07] ghost commented on #38694
I think I have found, the problem comes from cleaning the cache after the passage of composer. You have to do a clean cache so that everything comes back in place. Now I don't know why.
Note: I started again from 0 still with the same concerns. However the cache folder is in full permission.
I reinstalled composer in case it came from a configuration.

[2020-11-01 13:26] PabloKowalczyk commented on #38843
Can't you just use decorator pattern on Handler to achieve your goal?

[2020-11-01 14:17] zmitic commented on #38843
@PabloKowalczyk

I did but there is lots of code before and after this particular part. What I did was to simply copy&paste existing code into new class and add these 2 events. Take a look at code, decorator doesn't help.

[2020-11-01 15:43] lars-feyerabend commented on #38929
@nicolas-grekas Hi Nicolas. Even though the original poster closed this thread having found a workaround, I do think he was on to something. I'm currently struggling with a broken ParamConverter on 5.2.0-BETA3, and while I don't fully understand the specifics of it, I think it has to do with your PR #38605. In a standard controller (created via make:crud), the DoctrineParamConverter will not trans

[2020-11-01 16:09] derrabus opened #38942 "[Finder] SortableIteratorTest fails on macOS when sorting by access time"
**Symfony version(s) affected**: 4.4-dev

**Description**
Running the Finder test suite on macOS produces a reproducible test failure for `SortableIteratorTest::testAccept()` where the iterator tries to sort by access time (`SortableIterator::SORT_BY_ACCESSED_TIME`).

**How to reproduce**
Run the Finder test suite on macOS

**Additional context**
Discovered while working on #38620.

https://github

[2020-11-01 16:20] Nyholm commented on #38942
I will have a look at this issue.

[2020-11-01 16:26] #38736 closed, assigned to nobody

[2020-11-01 17:04] ben29 commented on #38744
@Nyholm
validators.he.xlf - looks good and ready.
security.he.xlf - I finish it , waiting for pull request approval.
validators.he.xlf -  I don't see something wrong. and it's completed.

[2020-11-01 17:08] Nyholm commented on #38744
Awesome. Thank you.

Have a look at this page: https://symfony-translations.nyholm.tech/#pr

You need to copy the translation keys from the English file.

[2020-11-01 17:11] nicolas-grekas commented on #38929
Thanks for the feedback @lars-feyerabend, I missed this use case when I submitted #38605
I'm fine reopening to discuss this.

Anyone else has an opinion on this? @stof maybe?

[2020-11-01 17:40] #38904 closed, assigned to nobody

[2020-11-01 17:44] derrabus opened #38946 "[Process] ProcessTest::testTTYCommand fails on macOS in non-interactive shells"
**Symfony version(s) affected**: 4.4-dev

**Description**
When running the Process test suite on macOS in a non-interactive shell, two tests fail with the following error message.
[code]

This is for instance the case on GitLab's CI or when running the tests with PhpStorm.

**How to reproduce**
Run the Process test suite in PhpStorm.

**Additional context**
Discovered while working on #38620.

htt

[2020-11-01 19:06] leo95batista opened #38949 "Symfony Finder: Get all the files with a specific extension and all the directories within a specific directory"
Hi, I'm sorry to ask my question here, but from my country I can't use Slack. I am using the ```Symphony Finder``` component to get all the files with a certain extension and all the directories in a specific directory.

[code]
In this way, this method returns only all the files with extension ```.php``` or ```.json``` within a certain directory. For example, the directory structure I am looking i

[2020-11-01 19:12] PabloKowalczyk commented on #38843
It will be better to decorate Handler returned by this line: https://github.com/symfony/messenger/blob/5.x/Middleware/HandleMessageMiddleware.php#L62

[2020-11-01 19:16] Nyholm commented on #38949
Hey.
You cannot :(

Because the directory names do not match "*.json" or "*.php". You need to create another finder instance and only get directories.

Something like this maybe:

[code]
See https://symfony.com/doc/current/components/finder.html#files-or-directories

----

Also note that stackoverflow is excellent for questions: https://symfony.com/support

[2020-11-01 19:16] #38949 closed, assigned to nobody

[2020-11-01 19:18] Nyholm commented on #38946
I'll have a look at this

[2020-11-01 19:22] ben29 commented on #38744
It’s the same keys from en file
What i miss?