[2019-04-01 16:23] stof commented on #30822
What is your use case ?

[2019-04-01 16:27] yceruto commented on #30822
I'm not sure that it's a common case to access the master request from templates, but we could expose this feature as `app.master_request`.

Meanwhile, you can create your global service that also has access to the master request. https://symfony.com/doc/current/templating/global_variables.html

[2019-04-01 16:31] fabpot commented on #30822
I'm 👎 for adding this in core. It's easy enough to add if you need to (as explained by @yceruto), the use cases should be rare enough, and we are trying to not leak the master/sub-requests information in the view.

[2019-04-01 16:31] #30822 closed

[2019-04-01 16:35] ptrm04 commented on #12025
Are voters supported in `access_control` in `security.yaml`?

[2019-04-01 16:37] linaori commented on #12025
Yes, it's confusing as it's called "roles", they are actually the "attributes" that are passed to voters.

[2019-04-01 17:03] ptrm04 commented on #12025
Thanks @linaori - I've searched for this in the docs but no mention of `access_control` (https://symfony.com/doc/current/security/voters.html, https://symfony.com/doc/current/best_practices/security.html#security-voters)
So you can have something like:
[code]

[2019-04-01 17:12] linaori commented on #12025
Correct! I've proposed to change it to "attributes" before, but isn't much clearer. Perhaps we should name it "is_granted" instead?

[2019-04-01 17:38] dmaicher commented on #30763
Can confirm this also for Symfony 3.4.

But wondering if it should be even possible to decorate an alias :smile:

[2019-04-01 17:56] malarzm commented on #30763
Personally I think that decorating an alias should decorate the aliased service. If that'd be a desired course of actions I can try fixing this

[2019-04-01 18:41] fabpot commented on #30763
Should we really support alias decoration?

[2019-04-01 19:37] malarzm commented on #30763
@fabpot I think that depends on how we look at the decorators. In my example the `EventDispatcherSpy` is not supposed to care which event dispatcher it is decorating, it just needs to remember what events were called. Thus it is decorating any dispatcher the app might be using at the moment. With this approach swapping the dispatcher is as easy as pointing the "interface alias" to another implemen

[2019-04-02 00:47] Aerogirl10 opened #30828 "SQLSTATE[HY000]: General error: 1832 Cannot change column 'user_id': used in a foreign key constraint 'FK_2AEFE01 7A76ED395'"
**Symfony version(s) affected**: x.y.z
4.2.3
**Description**

I am getting following error:
[code]

LONG VERSION
[code]

It happens when I add
`* @ORM\JoinColumn(nullable=false)`
in Post Entity and try to make a migration.

I have previous migrations in my folder and some data made with Fixtures in a database. **And** that seems to be the problem (?)
I've found info that the thing is that foreign

[2019-04-02 07:27] vudaltsov commented on #12025
`requires_granted`?

[2019-04-02 08:13] Guikingone commented on #30540
Small question, what about adding a `filesystem` transport in the component? (without using an external library).

[2019-04-02 08:27] fabpot commented on #30540
@Guikingone I would not add such a transport, which is very fragile. We already have Doctrine and in memory, I think that's more than enough.

[2019-04-02 08:32] Toflar commented on #30540
PDO/Doctrine and SQLite basically is filesystem. Why re-inventing the wheel? :)

[2019-04-02 08:35] Guikingone commented on #30540
Enqueue has both 😄

In fact, the idea was to have a dedicated `filesystem` transport in order to get rid of Doctrine/RabbitMQ/Redis usage in test env but as fabpot says, the `in-memory` transport is already in place 😃

[2019-04-02 09:06] ktherage opened #30830 "[Var-Dumper] Automatically add an hyperlink to the file in CliDumper"
**Description**
During few days, i had to use the `dump()` function in order to debug failing unit test.
In order to see where i placed dumps (and don't forget to remove them after the fix) i used to add the following argument to my dumps `dump(__FILE__.' l.'.__LINE__, $myVar)`.

** Possible solution **
I made a POC which uses the `debug_backtrace` to get file and line and add those attributes to

[2019-04-02 09:12] Raulnet commented on #30782
**context:**
symfony/profiler-pack and his dependencies "twig\Bundle" are loaded
`"require-dev": {
        "symfony/profiler-pack": "^1.0"
    }`
And could not be installed on context "prod"

**solution:**
If you want to use "Twig\Bundle" in other context you sould load separately with:
`composer require symfony/twig-bundle`.
Now TwigBundle is in "require" and symfony/profiler-pack in "require-dev

[2019-04-02 09:27] ro0NL commented on #30830
ref #28395

now that files can be linked, the visual output will be shorter. And actually the same feature is available in web already.

i agree having a file/line reference in CLI is handy. I've been searching my dumps() before :sweat_smile:

[2019-04-02 10:05] #24275 closed

[2019-04-02 10:06] mikemeier opened #30832 "[Symfony/Form] Tag 3.4.23 (latest) not up2date with branch 3.4 / PHPUnit 8 Fix"
**Symfony version(s) affected**: 3.4.23

**Description**
It looks like the PHPUnit 8 Version is now compatibel with all Symfony Versions. On the Branch 3.4 for example https://github.com/symfony/form/blob/3.4/Test/FormIntegrationTestCase.php the TestCaseSetUpTearDownTrait is already used.
On the other hand for the tag v3.4.23 (latest on 3.4 branch at the moment) is this code not released yet: http

[2019-04-02 10:30] githublirui opened #30833 "The router.options.generator_base_class removed in 4.0"
Hi
The Class parameters have been deprecated and will be removed in 4.0.

   * router.options.generator_class
   * router.options.generator_base_class

I want to custom generateUrl   ,How Can I configure The generator_class

Thanks

[2019-04-02 10:32] Igor9n opened #30834 "May not inherit from final class"
**Symfony version affected**: 4.2

**Description**
Can't use PHPUnit 8.0, because this error appears

"PHP Fatal error: Class Symfony\Bridge\PhpUnit\Legacy\TestRunnerForV7 may not inherit from final class (PHPUnit\TextUI\TestRunner) in /home/NIX/kruhliak/Projects/second/vendor/symfony/phpunit-bridge/Legacy/TestRunnerForV7.php on line 22"

[2019-04-02 11:03] GILMorgan opened #30835 "Deprecated message with the PantherTestCase"
**Symfony version(s) affected**: x.y.z

**Description**
Deprecated message : The "Symfony\Component\Panther\Client::submit()" method will require a new "array $serverParameters" argument in the next major version of its parent class "Symfony\Component\BrowserKit\Client", not defining it is deprecated.

**How to reproduce**

<?php

namespace App\Tests\Functional;

use Symfony\Component\Panther\Pant

[2019-04-02 11:06] stof commented on #30833
What kind of customization do you want to do ?

[2019-04-02 11:12] stof commented on #30834
The PHPunit bridge is not yet compatible with PHPUnit 8. This is tracked in https://github.com/symfony/symfony/issues/30055 (and https://github.com/symfony/symfony/pull/30085 is a WIP for this particular issue)

[2019-04-02 11:15] EresDev commented on #30782
"require-dev": { "symfony/profiler-pack": "^1.0" }
And could not be installed on context "prod"

I understand it and this is how it should be. But it is not.  config/bundles.php is generated with `Symfony\Bundle\TwigBundle\TwigBundle::class => ['all' => true],` instead of `Symfony\Bundle\TwigBundle\TwigBundle::class => ['dev' => true, 'test' => true],` When you only require-dev profiler.

I don't

[2019-04-02 11:21] stof commented on #30782
Well, you can edit the bundles.php file to change when TwigBundle gets registered.

Currently, Flex does not try to detect whether the package got installed due to a dev requirement (which is far from being trivial) when registering the bundle. But it will preserve any modification you do.

[2019-04-02 12:24] ktherage commented on #30830
@ro0NL i didn't see why this PR had been closed.

[2019-04-02 14:06] Igor9n commented on #30834
Thank you for answer.

[2019-04-02 14:06] #30834 closed

[2019-04-02 15:47] nesk commented on #25609
This bug is still present in 4.2, is there any way we can help to solve this? I'm not sure where to start to fix this by myself. 😕

[2019-04-02 19:09] dmaicher commented on #30832
`3.4.24` was released just now :wink:

https://github.com/symfony/form/blob/v3.4.24/Test/FormIntegrationTestCase.php

[2019-04-02 20:27] cacharrin opened #30840 "Form validation breaks after upgrading from 3.4.12 to 3.4.24"
**Symfony version(s) affected**: 3.4.24

**Description**
After upgrading from Symfony 3.4.12 to 3.4.24 the form type throws validation errors.

**How to reproduce**
I have this entity:

[code]

And the corresponding FormType (Note i'm not enforcing any data type)
[code]

Then, I have a controller where I get a json content like this:
[code]

And I process it like this:
[code]

This code works perf

[2019-04-02 20:38] Aerogirl10 commented on #30828
I think I've got it! 😄 Just add **ONE** silly thing...
`     * @ORM\JoinColumn(nullable=false, `**onDelete="CASCADE"**`)
`

Links that helped me:
[this](https://github.com/doctrine/data-fixtures/issues/261)
[this](https://stackoverflow.com/questions/8065279/deleting-a-foreign-key-in-symfony-doctrine)
[and this](https://github.com/doctrine/orm/issues/5665)

I must say that I saw it before but I did

[2019-04-02 20:40] #30832 closed

[2019-04-02 20:48] dmaicher commented on #30840
This seems to be the same issue as reported in multiple other issues.

https://github.com/symfony/symfony/issues/30125
https://github.com/symfony/symfony/issues/29841
https://github.com/symfony/symfony/issues/29905
...

caused by https://github.com/symfony/symfony/pull/29307

[2019-04-02 21:56] yceruto commented on #25905
@Simperfit I looked at this code and I think I found a way to solve it, I need to do some test first but I'm already preparing the PR.

[2019-04-03 00:39] git00000 opened #30841 "Access denied even after new role added"
**Symfony version(s) affected**: 4.2

**Description**
I am building an affiliation system in my app. After user registered as an affiliate a new ROLE_AFFILIATE is added to the user. But user is denied access to route even after updating the isEqualeTo method. I have to logout first then login again in order to get things work.
Thanks you !

[2019-04-03 09:21] chalasr commented on #30809
Can you create a small app that reproduces the issue? (I use almost the same config with no problem)

[2019-04-03 09:26] davidkmenta opened #30845 "A dot in the name of an environment causes problems"
**Symfony version(s) affected**: 4.2.5

**Description**
A dot in the name of an environment causes problems with cache loading.

[code]

**How to reproduce**
Set the APP_ENV to the `test.env` for example... or run console with `--env=test.dev`.

[2019-04-03 11:54] enumag commented on #29605
@xabbuh I ran into the same problem. In my case the dependencies are like this:

- The console command needs to render something to it requires Twig.
- Twig has \Symfony\Bridge\Twig\Extension\LogoutUrlExtension.
- LogoutUrlExtension requires \Symfony\Component\Security\Http\Logout\LogoutUrlGenerator.
- LogoutUrlGenerator requires \Symfony\Component\Routing\Generator\UrlGeneratorInterface which is

[2019-04-03 11:59] #29977 closed

[2019-04-03 12:06] ArnaudTarroux opened #30848 "[Serializer] Serialization versioning"
**Description**
Sometimes we need to have a version control on the properties which are serialized.
Currently the Symfony Serializer don't provide a simple and scalable way to do it.

**Example**
As JmsSerializer do, it would be great to provide two annotations `@Since` and `@Until` who require the version as value (cf. example below):

    class User
    {
	    /**
	     * @Since("1.1.0")
	     *

[2019-04-03 12:09] xabbuh commented on #29605
This seems logical. If the router needs the token when a URL is generated, it will of course start the session in the end to retrieve the token from the session.

[2019-04-03 12:12] enumag commented on #29605
I don't think we actually generate such link in this command. It's just that the dependency chain triggers `NativeFileSessionHandler::__construct()` which causes the error.

The only thing in the chain that should have lazy dependencies is the `LogoutUrlExtension` - it doesn't make sense to load all dependencies of all twig extensions whenever you use twig anywhere. It's unlikely that you will act

[2019-04-03 12:15] sstok commented on #30841
This seems more like a support question. https://symfony.com/support

Note that roles are stored in the Authentication Token and that if you add new roles to a User entity this will not automatically update the token, if you added the `isEqualTo` method you also need to implement the `Symfony\Component\Security\Core\User\EquatableInterface` for this to take effect.

[2019-04-03 12:17] enumag commented on #29605
Why is the `ini_set()` in `NativeFileSessionHandler::__construct()` anyway? In my opinion it should only be called right before `session_start()`. (I don't think session is actually started in my setup.)

[2019-04-03 12:21] fabpot commented on #29605
I agree with @enumag, we could probably defer any `ini_set()` calls until just before the session start, right?

[2019-04-03 12:29] xabbuh commented on #29605
@enumag Sorry, I misunderstood your use case then. I thought you were actively using the `logout_url()` function in your Twig templates.

[2019-04-03 12:33] xabbuh commented on #29605
Isn't it too late to call `ini_set()` in `open()` as the path is an argument of that method?

[2019-04-03 12:36] enumag commented on #29605
Yeah, that is most likely too late. I don't think we can solve this correctly in a class that extends `\SessionHandler`. Is there a reason why it isn't handled in `NativeSessionStorage`?

[2019-04-03 12:36] sukei opened #30849 "[RFC] env processor language"
**Description**
While reading the blog post about the nice addition of the `url` and `query_string` env processor, I have spotted that the syntax was quite hard to read. There is two main issues IMHO:

* The processors are wrote and chained from left-to-right while read by the user from right-to-left. `%env(key:user:url:MONGODB_URL)%` is written as "fetch the *key* named *user* from the parsed *ur

[2019-04-03 13:18] #29280 closed

[2019-04-03 13:18] #28596 closed

[2019-04-03 14:01] zmitic commented on #29662
Shouldn't that happen with all resettable services?

[2019-04-03 14:08] nicolas-grekas commented on #30568
I think the proposed syntax would be confusing. The passed expression applies to "money", not to `$input`. To me, it looks like the issue is using a `Collection` constraint here.

[2019-04-03 14:28] sstok opened #30850 "[Mailer][RFC] KernelTestCase Assertion send messages"
**Description**
For functional tests it's sometimes necessary assert if some emails were "sent", for example a password reset or user registration email.

Currently there is no standard way to handle these assertions, for Swiftmailer in the past I used the profiler information but this required the profiler is actually enabled during testing. And it was less than optimal.

Now with the introductio

[2019-04-03 14:30] yceruto commented on #25905
PR sent https://github.com/symfony/symfony/pull/30851

[2019-04-03 16:06] odolbeau opened #30854 "[DI] Bug with services declared in separated file"
**Symfony version(s) affected**: 4.2.4 (not tested on previous versions)

**Description**
Services declared in a separate file imported in `services.yaml` are not initialized correctly.
It looks like the `autowire: false` is not taken into account? :thinking:

**How to reproduce**
See relevant commit in this dedicated repository:
https://github.com/odolbeau/symfony_dic_bug/commit/97d710645efae62d0

[2019-04-03 16:10] ogizanagi commented on #29662
Resettable services are only reset on next kernel `boot()` call. Also, only for requests (`\Symfony\Component\HttpKernel\Kernel::handle`). So it won't happen in CLI. This feature request is about clearing the manager while the worker command is executing.
Clearing it between each handling inside a middleware will provide state isolation and save memory.

[2019-04-03 16:21] mbabker commented on #30854
This is expected behavior.  As the note says on [this line](https://github.com/odolbeau/symfony_dic_bug/blob/97d710645efae62d0fe1c50b586b96f46a6f8767/config/services.yaml#L12) the `_defaults` node only applies to the current file.  So you'd have to redeclare that in each file.

[2019-04-03 16:34] nicolas-grekas commented on #30854
@mbabker is right, that's why things are robust: they're local.

[2019-04-03 16:34] #30854 closed

[2019-04-03 16:39] odolbeau commented on #30854
You can add:
[code]
in the imported file, the problem remains the same.

As I said it works when I include the given file from the Kernel instead of from the existing `services.yaml` file. Which means, the `_defaults` is not the problem here I guess?

ping @nicolas-grekas

[2019-04-03 16:43] odolbeau commented on #30854
BTW, declared services do not use autowiring at all.

[2019-04-03 16:44] dTrimon opened #30855 "Can't install http-foundation on a new symfony 2.8"
**Symfony version(s) affected**:2.8.49

**Description**

On my way to upgrade a 2.7 project, I first migrate it to 2.8
Then I encounter a problem with http-foundation so I tried a project from scratch...

**How to reproduce**
php composer.phar create-project symfony/framework-standard-edition my_project_name "2.8.*"
php  -d memory_limit=-1 composer.phar require symfony/http-foundation

The result

[2019-04-03 16:45] nicolas-grekas commented on #30854
That's because the last declared service wins, which happens to be the one that the `App\` line loads in services.yaml - after the import.

Here is an idea that should solve the issue:
[code]

[2019-04-03 18:57] RSalo opened #30856 "Exception: "You must configure the check path to be handled by the firewall using form_login in your security firewall configuration.""
**Symfony version(s) affected**: 4.2.5

**Description**
Hi. I try to do simply auth with guard without form_login as described in manual.
Exception:
[code]
and redirect to /login_check

**How to reproduce**
[code]

**Possible Solution**
Idk

[2019-04-03 19:07] odolbeau commented on #30854
OK, makes sense!
Sorry for this useless issue and thanks for your explanations! :)

[2019-04-03 20:16] #30856 closed

[2019-04-03 20:37] Taluu commented on #30854
Then shouldn't in the generated appkernel from the recipe include the services.yml *first* and then only the ones included in `config/packages` ?

[2019-04-04 01:48] vajiralasantha opened #30859 "Form data stripped"
I have a Symfony 2 form which POST data to change password of users. However during testing I found out some characters entered in password field get escaped when it hits validator.

Ex:
User enters a password like `RzB&EUgbrhqJRt$Y2`
In validator this value becomes `RzB&amp;EUgbrhqJRt$Y2`

Notice that `&` has escaped to `&amp;`

This simply breaks some of my validation rules. I could not find why

[2019-04-04 06:27] troxxs commented on #28501
Hi there,

I have the exact same prolbem as @thedomeffm  described and I am pretty sure it has to to with the user restriction, since my user actually only sees from /myProject as @yceruto mentioned. Is there a solution for this?

Thank you

[2019-04-04 08:56] Raulnet commented on #30855
Symfony 2.8 require ` "php": ">=5.3.9" ` but the last version "4.2.5" of symfony/http-foundation require `"php":" ^7.1.3"`
add the version for your requirement can solve it.
`composer require symfony/http-foundation:2.8.49`

[2019-04-04 09:10] stof commented on #30855
if you make `composer require symfony/http-foundation`, it will probably apply a requirement on version 4.2 of the component. But a project based on the standard edition already depends on `symfony/symfony`, which contains symfony/http-foundation. So you won't be able to install a different version (btw, the composer error message would probably mention that, but you truncated it when providing it

[2019-04-04 09:10] nicolas-grekas opened #30861 "[Console] broken terminal after running tests"
On 3.4, 4.2, master:

When I run the tests of the Console component, my terminal ends up being broken.
Running this is enough to reproduce:
`./phpunit src/Symfony/Component/Console/ --filter testCommandWithQuestionsButNoInputs`

If I revert #30271, the issue is gone.
ping @chalasr if you have any idea why

[2019-04-04 09:28] Raulnet commented on #30845
the Cache use the environnement for create the name of Class cache. An the name of class is broken by the dot. Change the dot with an underscore `test.dev` => `test_dev`
`class srcApp_KernelTest.devDebugContainer extends Container`
 `class srcApp_KernelTest_devDebugContainer extends Container` and that fix the problème

[2019-04-04 09:56] marc-romera opened #30863 "[Routing] Missing redirection when route param does not accept trailing slash"
**Symfony version(s) affected**: 4.2.4

**Description**
Symfony 4 does not redirect in a route ending with a param which does not accept a trailing slash. Route can disallow a trailing slash if configured as shown here. Symfony 4 should detect that the route is invalid with a trailing slash (but valid without it) and so return a redirect response to the same route without the slash.

**How to repr

[2019-04-04 10:07] nicolas-grekas commented on #30863
Related to #30013
The logic behind this is complex and I'm not sure your requirements don't conflict with some others expressed in the issues linked to this PR.

[2019-04-04 10:27] marc-romera commented on #30863
The related issue you provide allow trailing slashes, while the problem here is when these are not allowed, so requirements don't conflict.

One difference can be easily seen in the profiler. With my example the routing profiler says the path does not match (although it finally reinterprets it somehow and returns a 200):
![image](https://user-images.githubusercontent.com/18640998/55548840-b4ed0b00

[2019-04-04 10:37] stof commented on #28501
have you removed the composer.json file in the project dir ? I think that this might be related to the guessing logic of `getProjectDir`

[2019-04-04 11:12] nicolas-grekas commented on #30855
Closing as there is no bug here.

[2019-04-04 11:12] #30855 closed

[2019-04-04 11:15] nicolas-grekas commented on #30849
I think that makes little difference once you're used to it. Also that complex expressions should be avoided so that optimizing the syntax is not a needed, and lastly but very technically: the string is parsed at runtime, which means the simpler to parse the better to me.

[2019-04-04 11:56] troxxs commented on #28501
How can composer.json be related to the guessing logic? I don't see the point...

[2019-04-04 12:41] dTrimon commented on #30855
In fact It try to install version 3.4 of http-foundation.
I can't find any http-foundation on a standard project after installation!
:
Using version ^3.4 for symfony/http-foundation
 - Installation request for symfony/http-foundation ^3.4 -> satisfiable by symfony/http-foundation[v3.4.0, v3.4.1, v3.4.10, v3.4.11, v3.4.12, v3.4.13, v3.4.14, v3.4.15, v3.4.16, v3.4.17, v3.4.18, v3.4.19, v3.4.2, v3.4.

[2019-04-04 13:27] lyrixx opened #30865 "[DI] Have a better DX for excluded resources"
**Description**

This [configuration](https://github.com/symfony/recipes/blob/1b63c59684594dad836e277eac931c04993afa6e/symfony/framework-bundle/3.3/config/services.yaml#L17-L21)  does not scale very well.

We end up creating smaller section by feature.
[code]

But At some point, it becomes complicated to maintain and we finish with something like:
[code]

Instead, I could be nice to be able to use

[2019-04-04 13:35] nicolas-grekas commented on #30865
What about https://github.com/symfony/symfony/pull/27075?

[2019-04-04 13:36] nicolas-grekas commented on #30865
Looks like a doc issue/PR is missing ;)

[2019-04-04 13:36] lyrixx commented on #30865
Exactly what I needed. I missed this one :)
Thanks

[2019-04-04 13:36] #30865 closed

[2019-04-04 13:37] lyrixx commented on #30865
@nicolas-grekas In my case a blog post. I don't read the doc so much ... :)

[2019-04-04 13:51] xabbuh commented on #30855
The `symfony/symfony` package already provides the HttpFoundation component. Older Composer versions accidentally allowed to install a replaced package in a different version but this bug has been fixed in Composer and this is not possible anymore. You either need to keep using HttpFoundation 2.8 for now, update the `symfony/symfony` to 3.4 or require all components explicitly in the version you n

[2019-04-04 14:10] xabbuh commented on #30840
closing as explained by @dmaicher

[2019-04-04 14:10] #30840 closed

[2019-04-04 14:13] xabbuh commented on #30828
I am closing here then as it seems that the problem was solved.

[2019-04-04 14:13] #30828 closed

[2019-04-04 14:18] xabbuh commented on #30859
Can you please create a small example application that allows to reproduce the issue you experience?

[2019-04-04 14:37] xabbuh commented on #30841
This looks like a duplicate of #12025.

[2019-04-04 14:37] #30841 closed

[2019-04-04 16:38] meshenka commented on #28885
Any updates on the best way to set delivery_mode ?

[2019-04-04 16:52] liveisdestiny opened #30866 "Wrong parameters for RuntimeException in Repository"

[2019-04-04 17:01] #30866 closed

[2019-04-04 17:19] stof commented on #28501
Well, the default logic to identity the project root is based on finding the place where the composer.json is.
If you don't deploy your composer.json alongside your code, you need to overwrite the `Kernel::getProjectDir()` method in your AppKernel

[2019-04-04 23:39] jderusse opened #30867 "[HttpClient] + [BrowserKit] wrong ContentType"
**Symfony version(s) affected**: 4.3

**Description**
When using BrowserKit with the new HTTP client, form submited don't use the `application/x-www-form-urlencoded` anymore.

**How to reproduce**
[code]

Using goute:
[code]

Using HttpClient
[code]

The requested server (an 3rd party app behind a Microsoft IIS) accept the first one, but reject the second

[2019-04-05 02:10] liberpater opened #30868 "[Mailer] Set ESMTP Socket Stream Timeout"
**Description**
There isn't a way--that I could see--to set the SocketStream's timeout when using the ESMTP Transport.  Some mail servers have delays for spam prevention purposes and one of my clients Exchange servers requires a 30 second delay for any emails to an external address.  This causes it to timeout every time.

[2019-04-05 06:09] fabpot commented on #30867
Both are valid. What does "reject" mean? What is the error message?

[2019-04-05 06:13] fabpot commented on #30868
Use `$mailer->getStream()->setTimeout()`

[2019-04-05 06:13] #30868 closed

[2019-04-05 06:36] jderusse commented on #30867
indeed, both are valid, but the second one does not act like a real browser. When using BrowserKit to crawl a 3rd party website, this one does not recognize the submited form.

Here is a reproduct case:
[code]

diff /tmp/a /tmp/b
[code]

The request with `HttpBrowser` didn't trigger the "invalid username/password" meaning that the server (sorry, I don't have logs) did not recognize the posted form

[2019-04-05 06:41] fabpot commented on #30867
Without any more information, I would not change anything to the current implementation.

[2019-04-05 07:18] enumag commented on #29605
Ah, the code with `ini_set` is only needed if the native `\SessionHandler` is used which is why it's in a class that extends it.

We could add our own interface extending `\SessionHandlerInterface` and containing an `onStart` method that would be called by the storage when starting the session. But I'm not sure if this is a good solution.

[2019-04-05 07:54] xabbuh commented on #30684
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-05 07:54] #30684 closed

[2019-04-05 07:54] xabbuh commented on #30636
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-05 07:54] #30636 closed

[2019-04-05 08:03] oenie commented on #24178
@manseuk did you solve your problem way back ? Probably too long ago :)
Seeing the same during a transition from Symfony 2 over Symfony 3 to Symfony 4

[2019-04-05 08:35] manseuk commented on #24178
@oenie I honestly cannot remember how we fixed the issue - but its no longer an issue for us. Let me have a dig around commits during that time and see what changes we made

[2019-04-05 08:52] manseuk commented on #24178
I think (looking at old commit messages around the issue) that we were having issues where previous test objects we're still hanging around, so adding `\Mockery::close();` in `tearDown` seemed to resolve the issue. I seem to remember running the tests in isolation didn't show the issue whereas running as part of a suite cause the issue to surface

[2019-04-05 08:54] oenie commented on #24178
OK, thanks. I'll do a quick test to see if it could be something similar.
I might skip Symfony 3 and go straight to S4 hoping it might solve the issue too.
Thanks for the effort !

[2019-04-05 09:22] Raulnet commented on #30750
Can you get more details ?
after several tries, everyone worked for me.
on project from scratch 4.2 and php7.2
object:
[code]
-1 test without overide datetime
[code]
2- test with overide datetime
[code]
3- test without objectPopulate
[code]

[2019-04-05 09:23] jderusse commented on #30867
Agreed with you, that both content-type should be handled by the servers.
But fact is, it's not the case, and given I don't own theme, I can't fix theme. Here are a liste of other services that don't handle the BrowerKit's payload.

* newrelic.com // Ignore input
* stackoverflow.com // TIMEOUT
* connect.symfony.com // 503

Combining BrowserKit with HttpClient, does not **truly** "emulate" a web br

[2019-04-05 09:28] nicolas-grekas commented on #30867
Can you send a PR? It should be possible to use multipart only when a file upload is needed.

[2019-04-05 09:43] noniagriconomie commented on #27401
@xabbuh friendly ping, no way to propose this for 3.4 ? as an LTS, and i really think this is a bug

[2019-04-05 09:50] enumag commented on #29605
Another alternative is to add the ini_set calls to container initialization. This might be better in my opinion.

[2019-04-05 10:04] nicolas-grekas commented on #27401
There is nothing to expose as nobody sent a PR implementing what @xabbuh suggested ;)
Then sorry but that's a new feature, so for master only.

[2019-04-05 10:16] nicolas-grekas opened #30870 "NotPwnedValidator should convert passwords to UTF-8"
Before computing the hashes, we must ensure the passwords are encoded/converted in UTF-8, as expected by the remote DB/API.

[2019-04-05 10:17] nicolas-grekas opened #30871 "How to use NotCompromisedPasswordValidator in tests/dev?"
Asked on https://symfony.com/blog/new-in-symfony-4-3-compromised-password-validator
What's the recommended way to test/dev with the validator added on entities via annotations?

[2019-04-05 10:20] antonch1989 commented on #30848
Probably it would also be handy to have this `version` parameters in a configuration like this to set a value globally.

framework:
     serializer:
           version: '%env(APP_VERSION)%'

[2019-04-05 10:26] stof commented on #30871
Maybe we could register a no-op ConstraintValidator for that constraint in testing mode (not sure about dev mode though)

[2019-04-05 10:27] nicolas-grekas commented on #30871
Using a MockHttpClient could do it also, not sure how easy it would be though.

[2019-04-05 11:23] vasilvestre commented on #30540
What do you think about allowing empty "type" headers to allow simpler message?
Use case: Having a queue with one class only that's used to receive a small message and dispatch notification

[2019-04-05 11:48] fabpot commented on #30867
@jderusse Fair enough.Let's only use the multipart enctype only when dealing with files. The patch should be quite easy. Up for a PR?

[2019-04-05 11:49] ArnaudTarroux commented on #30848
@antonch1989 yes maybe to set a default version.
The goal of this feature is to deal with different versions, I cannot see any benefit to set the version globally.
By example in the case of an API versioning, we have to define the version dynamically on runtime (example: extract the requested version from the request header, from query params,  …).

To go further in this way, maybe we can imagine

[2019-04-05 11:53] Moskito89 opened #30872 "ChoiceType with 'multiple' => true results in Notice: Array to string conversion"
**Symfony version(s) affected**: 4.2.5

**Description**
When adding a ChoiceType to a form with `'multiple' => false` the array of choices needs a value of `null`.

**How to reproduce**

This one is working:
[code]
This one is not working:
[code]
But this one is working:
[code]

The second example results in a `Notice: Array to string conversion` coming from `Symfony/Form/ChoiceList/ArrayChoiceLis

[2019-04-05 11:57] jderusse commented on #30867
sure!

BTW testing symfony connect is a good use-case because it also return a 503 when the request is chunked

[2019-04-05 12:17] xabbuh commented on #30872
Can you please create a small example application that allows to reproduce your issue?

[2019-04-05 13:59] lyrixx commented on #30871
It would be nice to be able to use DIC parameter:
[code]

[2019-04-05 14:18] AcerxX commented on #26200
I have the same problem as sitetester. I have a new services-xyz.yaml  file imported in services.yaml. Everything defined in services-xyz.yaml is not working. I get the same error:

In DefinitionErrorExceptionPass.php line 54:
  Cannot autowire service "App\Service\SomeService": argument "$someString" of method "__construct()" is type-hinted "string", you should configure its value explicitly.

[2019-04-05 14:19] javiereguiluz opened #30874 "Provide alternative config options for deprecated templating options"
**Description**
In #21035 templating was deprecated, so we need to provide alternatives for some config options such as `framework.templating.hinclude_default_template`.

This is the full config dump of `templating`:

[code]

[2019-04-05 14:30] xabbuh commented on #26200
https://github.com/symfony/symfony/issues/26200#issuecomment-475386643 applies as well. If you still think there is a bug, we need a concrete example that allows to reproduce.

[2019-04-05 14:31] oenie commented on #24178
Apparently, in our case, it is something during AppKernel.php shutdown method.

We have some code that implements container cleanup, which is giving me the error.
Going to dig down to see what is causing it, could be some old forked project that i need to work on.

[2019-04-05 14:39] stof commented on #30871
Well, this `enabled` option is in the Validator, not in the constraint. So you would not apply it in the annotation.
But FrameworkBundle could indeed have a configuration option to disable the validation logic (similar to what we do for the strict mode of the email validator)

[2019-04-05 15:01] jschaedl commented on #30774
When you follow the symfony docs to create a `ChoiceQuestion`:

[code]

it will display the same output for `bin/console test` or `bin/console test -n`

See https://symfony.com/doc/current/components/console/helpers/questionhelper.html#let-the-user-choose-from-a-list-of-answers for more information and try to update your code to:

[code]

[2019-04-05 15:28] liberpater opened #30875 "[mailer] S/MIME Support"
**Description**
It would be great if the symfony/mailer component supported S/MIME.

**Example**
SwiftMailer currently supports it, to provide an example: https://swiftmailer.symfony.com/docs/messages.html#signed-encrypted-message

[2019-04-05 15:36] noniagriconomie commented on #27401
@nicolas-grekas ok, will try to do it then, event if for 4.x

[2019-04-05 16:00] chalasr commented on #30774
The inconsistent result happens when using string keys for choices, the `ChoiceQuestion` default validator returns the key if it’s a string: https://github.com/symfony/console/blob/f6f44ce1c9513a37b8826ce7f3edd26d6ab7bf09/Question/ChoiceQuestion.php#L160
The difference is that the validator is not called in non-interactive mode, which is inconsistent.
I will submit a patch.

[2019-04-05 17:35] ThHareau commented on #30774
Thanks :+1:

[2019-04-05 17:43] Tobion commented on #27351
I pushed the solution I created to https://github.com/Tobion/encrypted-secrets-bundle that we could use as a discussion base for the hackathon. How it works:
- Developers just configure the encrypted secrets using the config like the following

[code]

- The bundle then decrypts these secrets at runtime using the encryption_key (that MUST NOT be commited) and exposes those secrets as DI parameters

[2019-04-05 17:47] chalasr commented on #30861
Test green on my side (OSX), same on travis/appveyor.
Looks like a platform issue, is there anything special in your setup? e.g. non stable php version?

[2019-04-05 19:12] aequasi commented on #27351
For the adapter side of this conversation, I did start work on a library (before I knew there was an interest in the Symfony community): https://github.com/secretary/php

And a matching Symfony bundle: https://github.com/secretary/symfony (readme for this isn't up to date. I just copied it from the `php` repo...)

[2019-04-06 05:56] legoktm opened #30877 "[Console] Terminal::getWidth() may repeatedly shell out to stty in some cases"
**Symfony version(s) affected**: v3.4.24 is where we originally noticed it, but the problematic code exists in master.

**Description**
There's an expectation that the code `(new Terminal())->getWidth()` would only shell out to stty in `initDimensions()`/`getSttyColumns()` once, since it is supposed to cache the result in `self::$width`. However, if shelling out to stty fails for whatever reason (

[2019-04-06 07:42] weaverryan commented on #30540
That will be possible in 4.3 like this:

1) Create a custom serializer that reads in your JSON and converts it into a message. This class could be dead-simple, as you could use the `serializer` service to deserialize right into whatever object you want.

2) Set that custom serializer as the serializer for some transport - because in 4.3 it's possible to set serializers on a transport-by-transport

[2019-04-06 08:49] Tobion commented on #27351
I want to work on this at the EUFOSSA Hackathon. You can find me at the main entrance at the big table.

[2019-04-06 08:57] dmaicher commented on #22616
Investigating this again as part of the #eu-fossa hackathon.

I cannot reproduce this anymore on Symfony 3.4+.

Also with recent changes in `Session` we will not call `save` on the storage if the session is not started (anymore):

https://github.com/symfony/symfony/blob/4.2/src/Symfony/Component/HttpFoundation/Session/Session.php#L196

So I think we can close this @jakzal @Tobion ?

[2019-04-06 09:01] #24562 closed

[2019-04-06 09:02] mpdude commented on #27351
Just joining this on FOSSHackathon. Not read all of it yet - just for the record, this is how Puppet manages this: https://github.com/voxpupuli/hiera-eyaml

[2019-04-06 09:07] sstok commented on #27351
Coming back to my previous comment, having authenticated (signed) encrypted is always needed, because when the encrypted value is corrupted it would return garbage that cannot be used safely.

[2019-04-06 09:09] sstok commented on #30875
I will try to work on this :+1: I did the initial work for this feature.

#eu-fossa

[2019-04-06 09:18] #30774 closed

[2019-04-06 09:30] chalasr commented on #30402
👍 for the intend. IIUC the steps needed are:
- Add the tag (+ autoconfiguration interface perhaps)
- Update ServiceRouteLoader so that it takes a ServiceLocator as 2nd constructor arg (the locator contains only tagged route loaders)
- Update `getServiceObject` to make it trigger a deprecation notice in case the new locator doesn't know about the given `$id` + use the DIC as fallback
- Stop using t

[2019-04-06 09:31] Simperfit commented on #30861
I'm taking this one for the euchackaton

[2019-04-06 09:33] hhamon commented on #27654
For this use case, why not having a `RuntimeResourceLoaderTranslator` that decorates the original `Translator` object. This way the inner translator would use the Symfony cache while the decorator would perform the logic to load catalog at runtime and cache keys in memory.

[2019-04-06 09:35] deguif commented on #30835
#eufossa

[2019-04-06 09:36] #29040 closed

[2019-04-06 09:36] NAYZO commented on #27351
For encryption & decryption purposes, I recommend:
- https://github.com/nayzo/NzoUrlEncryptorBundle

The **NzoUrlEncryptorBundle** is a Symfony Bundle used to Encrypt and Decrypt data and variables in the Web application or passed through the URL to provide more security to the project. Also it prevent users from reading and modifying sensitive data sent through the URL.

_Features include_:

- Co

[2019-04-06 09:47] Nyholm commented on #28086
Thank you for this issue. I have reviewed this and discussed it many times but the solution is more tricky that you first expect.

I do agree that there is an issue. However the implementation is intentional. We **really** want the error messages in the labels because that helps screen readers and blind users.

At #eu-fossa we were a bunch of people that sat done and discussed this to find a solut

[2019-04-06 09:52] #30835 closed

[2019-04-06 09:54] nicolas-grekas commented on #30402
Looks good to me, let's remove the container.

[2019-04-06 09:57] sstok commented on #27351
@NAYZO Thanks for sharing, but this issue is about ENV variables not a URI's 😄

Secondly https://github.com/NAYZO/NzoUrlEncryptorBundle/blob/master/UrlEncryptor/UrlEncryptor.php#L86 NEVER! (Wording chosen carefully) use trim to remove the padding of an decrypted value! Always a proper padding algorithm, which is best be done by crypto expert, these are extremely easy to get wrong and even harder t

[2019-04-06 09:58] yceruto commented on #28587
@kejwmen Are you checked it?

This worked for me:
[code]

[2019-04-06 10:00] sstok commented on #30875
I guess this should be part of the Mime component instead 🤔

[2019-04-06 10:00] fancyweb commented on #30402
Alright I'm gonna work on it this week-end!

[2019-04-06 10:04] Tobion commented on #27351
Let's start by defining our goals:

- Keep secrets in a file committed to the repository
- Those secrets must be encrypted
- The injection of the decrypted secrets must be at runtime (not at container compilation time). This allows people to compile/warmup the cache in an untrusted environment like CI server that will not expose the decrypted secrets in anyway. And only later when starting the app

[2019-04-06 10:13] #30861 closed

[2019-04-06 10:18] #29950 closed

[2019-04-06 10:23] meshenka commented on #30259
Thanks for the insight, i was wondering why my consumer does not appears in RabbitMQ

[2019-04-06 10:25] #28646 closed

[2019-04-06 10:29] deguif commented on #29963
I had a look a look at this issue for #eufossa
It's not possible to dump plural form for PO/MO file as plural form can't be determined from the translations catalogue, (plural and singular in PO/MO are different keys) that's why it's not implemented.

[2019-04-06 10:31] nicolas-grekas commented on #29963
Makes sense, please submit a PR if you think otherwise ;) I'm closing for now.

[2019-04-06 10:31] #29963 closed

[2019-04-06 10:49] k0d3r1s opened #30885 "[HttpClient][FrameworkBundle] Invalid service "http_client""
**Symfony version(s) affected**: 4.3.x-dev

**Description**
When updating to symfony package versions listed below, error gets thrown on page load:
[code]
problematic service is defined in vendor/symfony/framework-bundle/Resources/config/http_client.xml:13:
[code]

**How to reproduce**
Update to these versions of symfony packages:
[code]

**Additional context**
Stacktrace:
[code]
Commenting out th

[2019-04-06 11:03] NAYZO commented on #27351
@sstok No the bundle is for encryption & decryption any sort of data including ENV vars :laughing:
But Sure i will take your suggestions into consideration to make it better :+1:

[2019-04-06 11:30] Simperfit commented on #30885
I'm looking into this one within the euchackaton.

[2019-04-06 11:30] chalasr commented on #30782
As explained, this is a flex limitation. Closing.

[2019-04-06 11:30] #30782 closed

[2019-04-06 12:06] mpdude commented on #27351
Here's what @jderusse, @Tobion and me agreed upon after some discussion at FOSSHackathon:

1. We'd like to be open for different or future "Secrets Provider" (or "backend"? or "storage"?) that can be added or plugged in at a later time. Each one has a name and its individual configuration, depending on the particular implementation.

Example:
[code]

2. We'd like to use an `env_var_processor` for

[2019-04-06 12:32] Simperfit commented on #30885
Are you able to provide a reproducer for it ?
if not could you please test on your project and tell me if it's working ?

Thanks.

[2019-04-06 12:43] AurelienPillevesse opened #30891 "Error during "symfony new --full myprojet""
**Symfony version(s) affected**: 4.2

**Description**
When I execute " symfony new --full myprojet". I have an error :
[code]

[2019-04-06 12:43] sroze commented on #30558
This (retries and delays) has been implemented for the AMQP and Doctrine transports. I'm closing this RFC then. Let's open another one for more specific points :) Thank you @weaverryan!

[2019-04-06 12:43] #30558 closed

[2019-04-06 12:57] #30536 closed

[2019-04-06 12:57] sroze commented on #30463
Indeed, it wouldn't work. We don't use the `performNoDeepMerging` option at all within the FrameworkBundle configuration for the simple reason that if the expected behaviour of "merging" will be different depending on the use-case.

Instead, you have two options:
1. Use a parameter and change it on test.
[code]

2. Copy again the entire options in your test YAML file.

[2019-04-06 12:57] #30463 closed

[2019-04-06 12:59] sroze commented on #30342
Could you explain why it would be a good thing? What's your use-case? We are moving way from these "names" (think about the changes with the FormType, EventDispatcher, etc...) so I'm not convinced we should do this, to be honest.

[2019-04-06 13:03] Simperfit commented on #30891
What happens before the Aborted error ? Did you cancel or did you press enter ?

[2019-04-06 13:04] sroze commented on #30118
It's been fixed recently 🙌

[2019-04-06 13:04] #30118 closed

[2019-04-06 13:10] drupol commented on #30845
I just reproduced the issue.

Log: https://pastebin.com/azNGLLiG

[2019-04-06 13:11] k0d3r1s commented on #30885
this fixed it :)

[2019-04-06 13:18] chalasr commented on #30891
The issue cannot be reproduced as the `doctrine-cache-bundle` contrib recipe has been reverted (so you don't have to make a choice again)...

[2019-04-06 13:23] maidmaid commented on #30725
I take that one for the #eufossa.

[2019-04-06 13:45] xabbuh commented on #27524
see #30895

[2019-04-06 13:47] tgalopin commented on #30870
Working on this as part of the #eu-fossa.

[2019-04-06 13:55] curry684 commented on #30099
I reviewed this and I don't think there's an actual issue here. The XHR request itself contains no usable indication that the redirect response is not valid, so Symfony is correct in following up with the redirect based on its configuration. And as @dimabory said you can/should just remove that config line which fixes your issue correctly.

The `return` statement may be a real issue but it has its

[2019-04-06 14:00] #30099 closed

[2019-04-06 14:11] xabbuh commented on #29029
Since the `ValidatorTypeGuesser` guesses the `input` option things will work differently. So it doesn't seem like there is anything to fix anymore and I am going to close here.

If you still think there is something to fix, please provide a small example application that allows to reproduce. Thank you for understanding.

[2019-04-06 14:11] #29029 closed

[2019-04-06 14:27] sroze commented on #29067
Anybody willing to look at this? :)

[2019-04-06 14:37] Tobion commented on #27351
Here is some good explanation of what rails does and how it changed over time: https://blog.capsens.eu/rails-5-2-imperfect-credentials-4ef03934aea4
With rails 6 they introduced environment specific credentials.

[2019-04-06 14:39] javiereguiluz commented on #27351
It would be great if you could show a full realistic example of the workflow you propose to work with secrets. For example:

1. How can a developer uses this feature to encrypt the database password? Please, show the actual command to execute, etc.
2. How's the deployment process when using secrets? Please, explain things in detail.
3. How's the common need of updating the secrets value from time

[2019-04-06 14:46] aequasi commented on #27351
Imo, the should separate logic between a bundle and a component too.

[2019-04-06 14:49] sroze commented on #28568
I'm closing because we didn't see any activity for a long time and it seems like [the explicit order of middleware is enough](https://github.com/symfony/symfony/issues/28568#issuecomment-423896908).

[2019-04-06 14:49] #28568 closed

[2019-04-06 14:52] sroze commented on #28468
You can configure the [`flags` option](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php#L73) to override the default (which [is durable](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Messenger/Transport/AmqpExt/Connection.php#L376)). This should fix your issue :)

[2019-04-06 14:52] #28468 closed

[2019-04-06 14:53] sroze commented on #28386
Closing as it's been moved to [the `Worker` class](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Messenger/Worker.php#L109). Thank you for suggesting this though 👌

[2019-04-06 14:53] #28386 closed

[2019-04-06 14:55] sroze commented on #28053
Closing as https://github.com/symfony/symfony/pull/30008 has just been merged.

[2019-04-06 14:55] #28053 closed

[2019-04-06 15:19] pborreli commented on #10467
we already closed #6759 for the following reason : [Internet Explorer Won’t Allow Cookies On (sub)domains With Underscores](https://ma.ttias.be/internet-explorer-wont-allow-cookies-subdomains-underscores/ ) should we close this again ?

[2019-04-06 15:19] #10467 closed

[2019-04-06 15:23] sroze commented on #28885
Proposed implementation in #30913 :)

[2019-04-06 15:25] jewome62 commented on #30145
I take this #EUFOSSA

[2019-04-06 15:26] webmozart commented on #21717
I'm :-1: on this feature. The problem solved here can easily be solved by sorting the choices before passing them to the `choices` option (either with `usort()` or - better - in the database).

[2019-04-06 15:28] curry684 opened #30914 "[RFC] Symfony Security rework tracking issue"
After discussions at EU FOSSA Hackathon we have some ideas on how to rework the Security component. I'm writing this "tracker issue" to gather up the info and choices made thus far.

The biggest functional issues have been discussed frequently over the years (https://github.com/symfony/symfony/issues/10316 and others) that the authentication makes some shortcut assumptions no longer valid in 2019:

[2019-04-06 15:35] curry684 commented on #10316
We're looking at redesigning the entire authentication part of security for 5.0 which would outright drop both `UserInterface` and its `getUsername` method as it looks now.

(disclaimer: given the amount of legacy we'd likely provide a B/C layer with the old interface)

As the discussion is being centralized at #30914 I think we can close this issue.

[2019-04-06 15:39] #10316 closed

[2019-04-06 15:39] Simperfit commented on #30623
@dvdknaap is it ok for you ?

[2019-04-06 15:43] curry684 commented on #12025
We are centralizing discussions on authentication at #30914. As in the proposed changes the Roles would no longer be an integrated part of the UserInterface it would be easier to handle situations like this, and this issue itself is no longer a structural problem. As fixing it in 4.x would be a potentially breaking change in authorization I don't think we need to keep this issue open separately.

[2019-04-06 15:44] #12025 closed

[2019-04-06 15:49] curry684 commented on #30765
Related to https://github.com/symfony/symfony/issues/30914

[2019-04-06 15:50] #30845 closed

[2019-04-06 15:55] curry684 commented on #30623
I completely agree with @mdeboer that the scenario you describe sounds like something that should be handled using signed JWT tokens, best distributed using OAuth. Otherwise if you really want to hack it into your code directly implementing a user provider is indeed the way to go.

I don't really see a feature request here, the tools you need are already there in the framework.

[2019-04-06 15:57] xabbuh commented on #30623
Closing as explained, please refer to one of the [support channels](https://symfony.com/support) if you need further help. Thank you for understanding.

[2019-04-06 15:57] #30623 closed

[2019-04-06 16:02] xabbuh commented on #21717
I agree with @webmozart. Closing here, thank you for understanding.

[2019-04-06 16:02] #21717 closed

[2019-04-06 16:14] curry684 commented on #30871
Given that this issue will come up more frequently now that we have an HTTP client - shouldn't we introduce some global setting that disables all external dependencies, that defaults to `framework.testing`?

[2019-04-06 16:16] frostieDE commented on #28086
Sounds like a great solution to me :-) Is there an ETA for the implementation of this solution?

[2019-04-06 16:19] curry684 commented on #30891
It would seem you're running this in a Windows shell unable to ask interactive questions. Which shell are you using?

[2019-04-06 16:19] drupol commented on #30891
I guess we can close this ?

[2019-04-06 16:22] curry684 commented on #30609
Agreed that, for DX, there should always be a token, and `is_granted` should never throw.

Perhaps @wouterj could integrate this request into https://github.com/symfony/symfony/issues/30765?

[2019-04-06 16:25] xabbuh commented on #30891
I am closing here since the contrib recipe for DoctrineCacheBundle has been removed and thus this shouldn't happen anymore. In any case, if you still experience issues with the Symfony binary, please report them in [its dedicated repository](https://github.com/symfonycorp/symfony-cli-issues/). Thank you for understanding.

[2019-04-06 16:25] #30891 closed

[2019-04-06 16:35] #30725 closed

[2019-04-06 16:37] #30885 closed

[2019-04-06 16:39] Simperfit commented on #30521
@moynzzz Are you still working on it ?

[2019-04-06 16:43] curry684 commented on #6087
This was actually fixed along the way in december 2013    😆

[2019-04-06 16:43] #30656 closed

[2019-04-06 16:45] #6087 closed

[2019-04-06 16:46] #30059 closed

[2019-04-06 16:47] Simperfit commented on #29952
You can still provide us the command so we can test by ourself ;).

[2019-04-06 16:48] curry684 commented on #8614
@weaverryan I think you should take a look at the comment above as I think the docs are right here.

[2019-04-06 16:48] Simperfit commented on #29876
@mhujer Do you want to work on something like this ?

[2019-04-06 16:49] Simperfit commented on #29866
ping  @dunglas

[2019-04-06 16:50] curry684 commented on #10047
Should we still consider this relevant in 2019? The scenario you describe with authentication servers is standardized with OAuth2 these days, and that wouldn't cause these issues. So I'm not really sure we have a need to disclose this any more, and as shown in #23599 it's not quite trivial to adapt.

[2019-04-06 16:55] curry684 commented on #11006
@wouterj this request makes sense, can it be integrated into your work at https://github.com/symfony/symfony/issues/30765?

[2019-04-06 17:05] curry684 commented on #30830
It was closed because it would also cause a lot of extra output in situations where it was needed at all, as such having a detrimental effect on the debugging experience (more scrolling, less overview).

I'd be open for another attempt, but it would need to have some way of determining when useful or not.

[2019-04-06 17:06] theofidry opened #30920 "[Console] Broken tags with long words in a block"
**Symfony version(s) affected**: 4.2+

**Description**
When a long word is wrapped between tags _in a block_, if the word is longer than its window, the wrapping tag will be broken breaking the whole formatting.

**How to reproduce**

Create a new Symfony command with:
[code]

Depending of the window size (typically when smaller than the word in-between the tags), you will have something along the

[2019-04-06 17:07] xabbuh commented on #27477
I am closing here as the behaviour is consistent with the Bootstrap behaviour.

[2019-04-06 17:07] #27477 closed

[2019-04-06 17:15] #30092 closed

[2019-04-06 17:22] yceruto commented on #29895
This look a misuse of the `empty_data` option, I think can be closed.

[2019-04-06 17:31] xabbuh commented on #25831
@flaushi Can you confirm that #30922 fixes this issue?

[2019-04-06 17:32] eilsongithub commented on #21749
Dear Sirs. I have an api in cpanel (composer 1.8.4; php7.2; symphony 4) to which I am consulting with postman, however I get this error:

![image](https://user-images.githubusercontent.com/44086967/55673007-b26eea80-5867-11e9-81df-0cb04f9c735c.png)

in local I get this

![image](https://user-images.githubusercontent.com/44086967/55673026-f104a500-5867-11e9-9ee5-e3e84bfe0534.png)

Can someone give

[2019-04-06 17:42] henri9813 commented on #28468
Thanks it should be, i will try it in my future's project. Currently i was forced to use RabbitMqBundle by amqp-lib.

Thanks @sroze for your answer ! :+1:

[2019-04-06 17:50] Nyholm commented on #28086
As far as I know. Nobody is correctly working on it. Feel free to write a PR. If you do, please make a comment here.

[2019-04-06 17:55] #30870 closed

[2019-04-06 18:01] #27524 closed

[2019-04-06 18:02] AndreasA commented on #29040
Thanks for the new transport.

[2019-04-06 18:04] chalasr commented on #10047
I'm going to close this issue as it's 5 years old and it didn't bring much reactions from the community. You can still write your own `logout_success_handler` to solve this on your end.

[2019-04-06 18:04] #10047 closed

[2019-04-06 18:05] #29194 closed

[2019-04-06 18:07] #25831 closed

[2019-04-06 18:10] Simperfit commented on #30669
ping @fabpot I think we can close this one.

[2019-04-06 18:10] #30669 closed

[2019-04-06 18:15] Simperfit commented on #29989
@coreoas Firstly thanks you for the report, do you want to work on this ?

[2019-04-06 18:16] drupol commented on #30703
Hi @beutelsend,

I'm trying to replicate the issue but I'm unable to trigger an error, maybe I'm doing something wrong ?

Here's my very uber super basic test case:

[code]

Let me know if I missed something.

Thx

[2019-04-06 18:17] Simperfit commented on #29710
That could be a nice first issue IMHO.

[2019-04-06 18:19] Simperfit commented on #29657
@ant5 Could you please submit a pull request with this patch so we can look into and tell you if it's the right way to do this.

[2019-04-06 18:19] #29970 closed

[2019-04-06 18:21] #29895 closed

[2019-04-06 18:28] Simperfit commented on #29160
@nclavaud or @gido are you still working on this, do you want some help, if so could you please open a PR to see what needs to be done or if everything is OK.
Thanks :).

[2019-04-06 18:29] flaushi commented on #25831
Perfect, thanks!!!

[2019-04-06 18:30] Simperfit commented on #29018
@Jean85 Do you want to work on it ?

[2019-04-06 18:31] xabbuh commented on #25831
Thank you for the confirmation. 👍

[2019-04-06 18:32] #28979 closed

[2019-04-06 18:35] Simperfit commented on #28771
what can we do about this one so ? is there anything to code ? @ogizanagi

[2019-04-06 18:36] sroze commented on #29970
Thank you @xabbuh !

[2019-04-06 18:37] #27600 closed

[2019-04-06 18:38] #28886 closed

[2019-04-06 18:41] nicolas-grekas commented on #29595
That's not really an issue as it legal per the RFC, right?
Merging the headers before sending them might be difficult.
I'm closing therefore, please comment if you think this is really a bug.

[2019-04-06 18:41] #29595 closed

[2019-04-06 18:41] #30145 closed

[2019-04-06 18:43] yceruto commented on #28518
There is no bug here. The behavior is expected and the related document has been updated already.
Also if you want to change the current behavior it's possible through a form type extension with ease.

[2019-04-06 18:44] #28518 closed

[2019-04-06 18:48] jewome62 commented on #30082
You say

But is not Symfony but into [PSR-1: Basic Coding Standard](https://www.php-fig.org/psr/psr-1/)

[2019-04-06 19:02] #30867 closed

[2019-04-06 19:05] xabbuh commented on #30082
I am closing here as I don't think that we will add support for this as explained. Thank you for understanding.

[2019-04-06 19:05] #30082 closed

[2019-04-06 19:18] #28885 closed

[2019-04-06 19:19] #29962 closed

[2019-04-06 19:19] yceruto commented on #27185
I've the same opinion as @ostrolucky about this proposal, this custom type is very simple to be created by anyone.

Also extending it from `ChoiceType` will require validating the `multiple` option and maybe others that don't apply.

[2019-04-06 19:20] xabbuh commented on #13837
I am closing this old issue as it seems nobody is interested in making it happen.

[2019-04-06 19:20] #13837 closed

[2019-04-06 19:20] xabbuh commented on #12068
I am closing this old issue as it seems nobody is interested in making it happen.

[2019-04-06 19:20] #12068 closed

[2019-04-06 19:21] fabpot commented on #27185
Let's close then.

[2019-04-06 19:21] #27185 closed

[2019-04-06 19:23] #30871 closed

[2019-04-06 19:24] xabbuh commented on #17762
I am closing this old issue as it seems nobody is interested in making it happen.

[2019-04-06 19:24] #17762 closed

[2019-04-06 19:28] curry684 commented on #7709
I don't think there ever was consensus on what was correct. The amount of things that could go wrong in projects all over the world are huge, and likely only a handful of them could be found by unit tests as it's a superficial template change - albeit with potentially huge consequences. I'm not really sure that balances the need to fix it to be honest.

Perhaps we should consider an alternative ap

[2019-04-06 19:38] jderusse commented on #27351
Theire are 2 way to handle it:
- Encrypt the `DATABASE_URL`
- Or encrypt only the `DATABASE_PASSWORD` and use `env(resolve:PLAIN_TEXT_DATABASE_URL)`
[code]

This command will generate a file in `./config/secrets/DATABASE_PASSWORD.bin`

Then user user should update his config file:

[code]

first of all: The material to decrypt secrets should be available on every servers runing the application.
It

[2019-04-06 19:39] yceruto commented on #30088
I'm taking a look at this...

[2019-04-06 19:44] webmozart commented on #7709
@curry684 I agree.

[2019-04-06 19:44] #7709 closed

[2019-04-06 19:47] #26129 closed

[2019-04-06 19:53] greg0ire commented on #28791
I cannot reproduce, do you maybe have a global composer.json specifying a high minimum-compat?

[2019-04-06 20:09] Jean85 commented on #29018
I'm not sure if I have other time to dedicate, I tried debugging it a bit but I couldn't find the root cause.

[2019-04-06 20:30] ktherage commented on #30830
@curry684, well so what about adding a function to get a list of placed dumps. 🤔

[2019-04-06 21:09] Tobion commented on #22616
I still think it should not throw an exception in https://github.com/symfony/symfony/blob/a84842b519c1d334376f62f5a56fcad30de2d5ff/src/Symfony/Component/HttpFoundation/Session/Storage/MockFileSessionStorage.php#L91 but just `return;`. But since the original issue is not reproducible and `save` is not called anymore when the session has not been started, there is no point in changing the mock stora

[2019-04-06 21:09] #22616 closed

[2019-04-06 21:25] curry684 commented on #30830
Make a reasonable proposal and it will be considered :+1:

[2019-04-06 22:00] CharlotteDunois commented on #30804
In my opinion, whether similar commands should be executed or net, should be exclusively opt-in, or at least configurable.

The probably easiest way is to add a constructor argument to `Application` with a default value and adjust line 237 to either use `get` or `find`, depending on the configured behaviour.
https://github.com/symfony/symfony/blob/50c22b3d58e3d96ecb5015b01462af84e66acbe9/src/Symfo

[2019-04-06 22:15] mpdude commented on #27351
Here's a write-up of what I took away from today's discussion at the #EUFOSSA #FOSSHackathons

https://www.webfactory.de/blog/storing-secrets-for-symfony-applications

[2019-04-06 22:17] mpdude commented on #27351
@javiereguiluz maybe this 👆🏻answers some of the questions. (That's how I would address the issue with what I know today, not speaking for @jderusse 😉🍻.)

[2019-04-07 06:55] fancyweb commented on #30304
The RFC has been accepted. I will implement this feature today. #eufossa

[2019-04-07 06:58] mpdude commented on #30849
(Why) does the string (really?) have to be parsed at runtime?

I agree that the syntax can cause some headaches when you’re not used to it. Also, you can use `%env()%` to read files at runtime, without using env vars at all... so the name may really be misleading

[2019-04-07 07:20] deguif commented on #27636
I'm taking this one #eufossa

[2019-04-07 07:22] Simperfit commented on #30920
I'm looking into it for the #FOSSHackathons and #EUFOSSA

[2019-04-07 07:23] #30493 closed

[2019-04-07 07:29] javiereguiluz commented on #27351
@jderusse fantastic explanation! Thanks.

I only have a minor question about this phrase:

Are you saying that Symfony can store the unencrypted value in the cache (usually, a file in the filesystem)? Would that be a potential security problem?

[2019-04-07 07:35] deguif commented on #27636
This can be closed, as it was implemented in https://github.com/symfony/symfony/pull/28997

[2019-04-07 07:39] #27636 closed

[2019-04-07 07:41] xabbuh commented on #18613
So if I understand this correctly, we need to fix the generator command of the Intl component instead?

[2019-04-07 07:44] xabbuh commented on #18777
Since this issue is quite old and didn't get much traction I guess we can safely assume that there isn't much interest from other developers. Let's close here.

[2019-04-07 07:44] #18777 closed

[2019-04-07 07:44] dmaicher opened #30948 "[DoctrineBridge] dependency on symfony/property-info missing?"
**Symfony version(s) affected**: master

**Description**
Since https://github.com/symfony/symfony/pull/27735 it seems there is a composer dependency from `symfony/doctrine-bridge` on `symfony/property-info` missing.

**How to reproduce**
Take `symfony-demo` app.

Change it to use `dev-master` symfony components:
[code]

And run `composer up`:

[code]

**Possible solution**

Add a hard dependency o

[2019-04-07 07:46] chalasr commented on #30920
Relates to https://github.com/symfony/symfony/pull/26296

[2019-04-07 07:47] deguif commented on #20430
This can probably be closed, following @nicolas-grekas last comment as https://github.com/symfony/symfony/pull/28937 was merged.

[2019-04-07 07:51] chalasr commented on #26293
Duplicate of #30920

[2019-04-07 07:51] #26293 closed

[2019-04-07 07:55] #20430 closed

[2019-04-07 07:57] jderusse commented on #27351
yes, that's what we mean.

If attackers are able to read the cache folder, indeed, they are able to read the clear value.
**BUT** if they can do that, they can also able to read the master.key and be able to decrypt the files by their own, so what can we do?
To enforce security (but low the performances) users may inject an arrayAdapter.

Do you think about a specific security issue.

[2019-04-07 08:09] yceruto commented on #30088
Okey, the deprecation warning is about Twig templates only, so if you have PHP templates in `src/Resources/views` no problem, it's already supported for PHP templates, so you can ignore that deprecation message until 5.0 where it is gone as well as the support to load Twig templates from `src/Resources/views` directory.

I'm updating the deprecation message to be more clear about this. https://git

[2019-04-07 08:14] jderusse opened #30954 "[http-client] pending request throws exception on __destruct and hide the original exception"
**Symfony version(s) affected**: 4.3

**Description**
When starting 2 async requests, and ignoring the second request for instance because the first request fails and we are dealing with it.
Then, if the 2nd request fails too, it triggerrs an exception that hide the previous one.

**How to reproduce**
[code]
Here, the caller get a `ClientExceptionInterface` related to the 2 request. Wheras the `bo

[2019-04-07 08:14] Simperfit commented on #30874
Taking it for the EUFOSSA

[2019-04-07 08:20] #27090 closed

[2019-04-07 08:22] #30315 closed

[2019-04-07 08:40] #30088 closed

[2019-04-07 08:40] lyrixx commented on #30954
I already had this bug. I can confirme it. Thanks for the reproducer

[2019-04-07 09:04] #21669 closed

[2019-04-07 09:29] Simperfit commented on #29765
Is there something to do in here ?

[2019-04-07 09:32] yceruto commented on #27217
I'm agree that according to this comment in `isDisabled()` method:
https://github.com/symfony/symfony/blob/0d365a8c7fa0ef8822625d7ff4b5c725dfd07169/src/Symfony/Component/Form/FormInterface.php#L240-L241

The next check in `isValid()` is contradictory:
https://github.com/symfony/symfony/blob/0d365a8c7fa0ef8822625d7ff4b5c725dfd07169/src/Symfony/Component/Form/Form.php#L746-L748

We all agree with th

[2019-04-07 09:32] Simperfit commented on #28680
doing it for the  EUFOSSA

[2019-04-07 09:35] Deuchnord commented on #29710
Taking this for the EUFOSSA hackaton

[2019-04-07 09:36] xabbuh commented on #30948
I am looking into it.

[2019-04-07 09:45] Deuchnord commented on #28680
Taking this for EUFOSSA Hackaton :)

[2019-04-07 09:49] deguif commented on #28178
This may probably be closed. #eufossa

[2019-04-07 09:52] #28178 closed

[2019-04-07 09:56] curry684 commented on #30804
This issue report is incorrect, I think you're confusing a few of the mechanisms. It most certainly does not execute a random command based on similarity:
[code]
It will autocomplete a command if there is *no ambiguity*:
[code]
It will however not even autocomplete when there is:
[code]
The current behavior makes sense and is depended on by many Symfony Console applications out there. I don't real

[2019-04-07 10:01] xabbuh commented on #30948
@dmaicher Can you confirm that doctrine/DoctrineBundle#950 helps?

[2019-04-07 10:04] lyrixx commented on #30804
I agree with @curry684 here

[2019-04-07 10:07] Deuchnord commented on #28680
Could you please provide a reproducer for this, please?

[2019-04-07 10:08] frostieDE commented on #28086
I will give it a try next week :-) But I have one question regarding the `errors_in_labels` option. How will this option be set? Will this option be made available as configuration option of the twig bridge component? Or is there another way of setting such option?

[2019-04-07 10:12] pierredup commented on #29067
I'm unable to reproduce this (tried with version 4.1.6, 4.1.11 and 4.2.5).

I've created a test repo at https://github.com/pierredup/symfony-messenger-test, @zeves095 can you please check if it matches your setup or if there is anything else that needs to be added to be able to reproduce this.

[2019-04-07 10:18] lyrixx commented on #29067
For your information, you can find memory leak thanks to https://github.com/BitOne/php-meminfo

[2019-04-07 10:27] #27828 closed

[2019-04-07 10:32] rudiedirkx commented on #30804
Who said anything about random or ambiguity..? Not me.

The issue report IS correct. Exactly what @curry684 said. If ONE 'matching' alternative is found, it's run WITHOUT question. That's what I don't like, and would want to make optional.

I disagree, hence the issue. Any console app shouldn't do something you didn't ask for literally. How freaky would it be if Bash did this? If you do like that,

[2019-04-07 10:36] rudiedirkx commented on #30804
Would a PR with a protected property be seriously looked at, or just closed if someone doesn't understand the issue?

Could someone please answer my protected vs private questions? Is protected frowned upon, or acceptable?

[2019-04-07 10:44] curry684 commented on #30745
Picking this up at EUFOSSA.

[2019-04-07 10:57] chalasr commented on #30804
Changing properties/methods visibility require a strong motivation because of the maintenance cost it has, not every methods/properties are meant to be extension points.
About the proposed feature, I can imagine that the automatic resolution is not desirable for everyone (you might want strictness).
I think this one deserves a bit more time/discussion, reopening if you don't mind.

[2019-04-07 10:57] curry684 commented on #30804
The way you wrote this implies through the word "similar" that `cache:claar` would work, as it's similar. The similarity search is only performed when an existing command could not be autocompleted. Autocomplete and similarity checks are different mechanisms in this.

Autocomplete itself is a vital functionality - everybody uses that, from `bin/console doctrine:schema:upd` to `composer upd`. That'

[2019-04-07 11:04] curry684 commented on #30804
Best implementation methinks would be to just add it to the command configuration, something like:
[code]
And it would then do something like:
[code]

[2019-04-07 11:22] rudiedirkx commented on #30804
Yes, "strictness" is a much better word.

A command can't choose to be strict, can it? Or should that be the new option? I like it, BUT it's still not giving the power to the app developer who uses (others people's) commands. The person who makes the application (who selects/combines the commands) should be able to choose how strict the app is.

I would NOT change the default. But the option doesn

[2019-04-07 11:28] curry684 commented on #30804
That seems like an esoteric requirement, but is actually already possible by listening for `ConsoleEvents::COMMAND` events. The event contains both the resolved Command and the `InputInterface`, so you can check in there and disable the execution to your liking.

See the docs here https://symfony.com/doc/current/components/console/events.html

[2019-04-07 11:42] Simperfit commented on #28141
@kaznovac did you find time to do this ?

[2019-04-07 11:42] Simperfit commented on #28140
@patrick-mota did you find anything about this ? Could you help us debugging it again ?

[2019-04-07 11:49] curry684 commented on #30745
I fixed the first issue in https://github.com/symfony/symfony/pull/30973

The second issue just sounds like GIGO to me - you're "corrupting" the data to something it shouldn't ever contain. Not something I really think we can make the profiler resistant to.

[2019-04-07 11:50] Simperfit commented on #27786
@rtek can you test with last master ? we made some changes about this.

[2019-04-07 11:56] curry684 commented on #28868
The work on 2FA should be part of updating Symfony Security as a whole, and is tracked in https://github.com/symfony/symfony/issues/30914. I like the discussions here so I'll recommend we keep it open and link it from there.

[2019-04-07 12:06] curry684 commented on #28461
Given that we just introduced the `SUCCESS_SENSITIVE` event through that PR I don't think we have fundamental issues with that. Essentially once you get to the point where you can hijack a PreAuthenticationEvent you could've also just hijacked `kernel.request` to the same effect.

However that also raises the reverse point - wouldn't this event be pretty much identical to just listening to `kernel

[2019-04-07 12:13] curry684 commented on #28229
No the issue is real and #30423 is in itself the proper fix.

[2019-04-07 12:23] #30400 closed

[2019-04-07 12:28] dmaicher commented on #30948
@xabbuh should we close here as its only really related to DoctrineBundle? I can open a new issue there?

[2019-04-07 12:34] #30948 closed

[2019-04-07 12:36] derrabus opened #30975 "[HttpClient] CurlHttpClientTest::testHttp2Push is not executed"
**Symfony version(s) affected**: 4.3-dev

**Description**
The unit test `Symfony\Component\HttpClient\Tests\CurlHttpClientTest::testHttp2Push()` is never executed. The reason for that is that the used annotation `@requires extension curl 7.61` targets the version of the curl _extension_ (which is usually equal to the php version) and not (as it probably was intended) the version of the libcurl lib

[2019-04-07 12:54] xabbuh commented on #30804
@rudiedirkx Can you confirm that the approach outlined by @curry684 does work? In this case, I'd say we can close here. At least as of now we haven't received any more requests to make this happen and I think we then don't need to add this feature in the core if it can be easily implemented in userland code.

[2019-04-07 12:58] curry684 commented on #9255
@javiereguiluz I cannot reproduce this right now, did you actually succeed with it in Jan 2017?

I'm tempted to say this must've been a session initialization bug in PHP native session handler at the time, it had lots...

[2019-04-07 13:00] drupol commented on #30872
I'm unable to reproduce the issue on the master branch.

I also checked ArrayChoiceList.php from master and yes, it has been fixed (see https://github.com/symfony/symfony/blob/47e571b3fc51e13f3742b822afcb3b1beb84f239/src/Symfony/Component/Form/ChoiceList/ArrayChoiceList.php#L68).

[2019-04-07 13:05] yceruto commented on #30872
I reseach about this too and I concluded that the 2nd example is expected if you pass an `array` as default value:
[code]
the `multiple` option is `false`, all `choices` values are castable to string but the given choice don't `[]`.

can be closed IMO.

[2019-04-07 13:07] xabbuh commented on #30872
@Moskito89 Indeed, I missed that. The passed array is not interpreted as the options (which you probably intended to configure), but the data your form is bound too. So I am closing here then as there is nothing to fix.

[2019-04-07 13:07] #30872 closed

[2019-04-07 13:28] Deuchnord commented on #29710
@javiereguiluz could you please provide a reproducer?

[2019-04-07 13:38] Simperfit commented on #27824
As discussed with @stof and @dmaicher the provided fix is not relevant and it's a BC Break,

What we can do is to catch this exception in the ObjectNormalizer, add more context and re-throw something that it is less blocking for the users and do the same thing in API-Platform.

[2019-04-07 13:40] patrick-mota commented on #28140
@Simperfit Yes sure, but unfornatelly it was at work and I don't have access to my env. from home.
Tomorrow I can give you the name of the software used.

[2019-04-07 13:57] chalasr commented on #27786
Fixed by #30883.

[2019-04-07 13:57] #27786 closed

[2019-04-07 14:02] Simperfit commented on #28140
Thanks !

Le dim. 7 avr. 2019 à 15:40, Ganon <notifications@github.com> a écrit :

[2019-04-07 14:43] mhujer commented on #29876
@Simperfit feel free to work on it :-) My comment above was just an idea how to resolve it, not a plan to work on it.

[2019-04-07 14:47] curry684 commented on #29876
@stof should just fix his bundle :wink:

[2019-04-07 15:11] ostrolucky commented on #27217
Only when form was modified

[2019-04-07 16:13] garak commented on #30850
Instead of `assertNoEmailsSent()`, I would prefer something like `assertEmailsSent(int $number)`.
Then you can also use `assertEmailsSent(0)`.

[2019-04-07 16:44] fabpot commented on #30850
I think having an assertion about email sent is not possible as most of the time, emails will now be sent asynchronously.

[2019-04-07 16:52] chalasr commented on #27473
As explained in #30971, the error is legitimate here.

[2019-04-07 16:52] #27473 closed

[2019-04-07 17:03] garak commented on #30850
@fabpot so maybe we can assert that emails are put in the queue?
Even now (with SwiftMailer) you can send emails asynchronously, yet you can do assertions about sent/not sent via profiler

[2019-04-07 18:00] chalasr commented on #30804
I agree as well.

[2019-04-07 18:17] xabbuh commented on #9255
Let's close this old issue then. We can reopen if someone is able to reproduce.

[2019-04-07 18:17] #9255 closed

[2019-04-07 19:01] umulmrum commented on #28461
Well, listening to `kernel.request` means to execute the listener on each and every request which is something to avoid because of the performance impact.

Listening to authentication success or failure is also not possible. I'd like to stop attackers from even attempting to login by implementing the device cookie protocol (https://www.owasp.org/index.php/Slow_Down_Online_Guessing_Attacks_with_Dev

[2019-04-07 19:03] nicolas-grekas commented on #30830
adding caclickable caret `^` like done now next to class names, butat the beginning of dumps now?
but we should bench if computing the caller file/line would be fast enough also.

[2019-04-07 19:18] kaznovac commented on #28141
@Simperfit sorry I haven't got much time lately (became a father 2.5 moths ago)

I've looked into it, scratched it out, and figured out that I need a XSD refresher course (how to import elements from another schema for providers, see this dynamic definition for providers section https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/SecurityBundle/DependencyInjection/MainConfiguration.p

[2019-04-07 19:19] Simperfit commented on #28141
Thanks for the response ! Congratulation, I’m a father since 1 month in 3
days, I understand :).

Le dim. 7 avr. 2019 à 21:18, Marko Kaznovac <notifications@github.com> a
écrit :

[2019-04-07 19:50] nicolas-grekas commented on #30849
maybe there is no absolute not definitive reason, but I can tell that's how the current thing works and it's really complex already.

[2019-04-07 20:05] curry684 commented on #28461
I'm not sure that approach is viable to embed deeply into the current security system. @wouterj plans to do some work on tokens that could be a better fit for that. If you can present a viable approach with PreAuthenticate used in a way that's not currently easily available the event is acceptable to me.

[2019-04-07 20:47] nicolas-grekas commented on #30975
let's remove the annotation then and replace it with a runtime check (see the one in CurlHttpClient)
the test is green locally :)

[2019-04-07 20:57] nicolas-grekas commented on #29710
E.g. when trying to cache a `Closure` I think.

[2019-04-07 21:07] derrabus commented on #30975
At least it was red when I tried to run it without the annotation. I'll make the change and see what Travis says.

[2019-04-07 21:19] nicolas-grekas commented on #29876
A solution would be to add some context in the deprecation message itself. That would help defeat aggregation.
PR welcome.

[2019-04-07 21:27] nicolas-grekas commented on #30804
Thanks for exploring the topic.

[2019-04-07 21:27] #30804 closed

[2019-04-07 21:34] OskarStark commented on #30920
If I remember correct, there is an open PR with sth called PrettyWordWrap or similar... 🤔

[2019-04-07 22:11] webgear88 commented on #30948
Hi All, can i know how to solve it ? or any workaround, urgently need this. thanks a lot!

[2019-04-07 22:47] maxhelias commented on #30948
@webgear88 you can downgrade your DoctrineBundle to 1.10 version for fix it quickly but i think the PR will be quickly merged and you will be able to upgrade the Bundle

[2019-04-07 23:16] moynzzz commented on #30521
@Simperfit Yes, I am. Sorry for the delay I was a little busy last month.

[2019-04-08 00:02] HypeMC opened #30996 "default_locale not passed to UrlGenerator"
**Symfony version(s) affected**: >=4.1

**Description**
Symfony 4.1 introduced [Internationalized routing](https://symfony.com/blog/new-in-symfony-4-1-internationalized-routing).
After defining a route with multiple locale I tried to generate a url with a command and got the following error:

[code]

The route:

[code]

The code that generates the url:

[code]

After some playing around I realized

[2019-04-08 05:27] ogizanagi commented on #28771
@Simperfit : Already a work in progress in https://github.com/symfony/symfony/pull/28927 :)

[2019-04-08 05:30] fancyweb commented on #30996
IIRC, it is possible to have an i18n route "my_route" (so its names are technically my_route.en, my_route.hr, etc.) and an unrelated route with the name "my_route".

Passing the default locale to the UrlGenerator would be a BC break because it would generate another route than currently with the default value.

I think we need to deprecate having a route with the same name than an i18n route so we

[2019-04-08 05:36] Simperfit commented on #30920
@OskarStark ya, we were talking about that with @chalasr yesterday, I think we should commit to that and finish that PR. I think it would fix.

[2019-04-08 05:43] Simperfit commented on #29876
I'm looking into it.

[2019-04-08 05:52] OskarStark commented on #30920
Would be nice to have but that’s a lot of code just for this, not sure its worth though .... or if it can be a bit simplified

[2019-04-08 05:58] Simperfit commented on #30920
I think the whole block logic has to be reworked, it seems to complicated for me at the moment.

[2019-04-08 06:14] #28093 closed

[2019-04-08 06:33] quentinus95 commented on #30914
Following your comment on #28868, I wanted to add what I wrote there about authentication.

The current implementation considers authentication as a binary state (authenticated / not authenticated), and we use additional roles and rules (IS_AUTHENTICATED_FULLY) to determine the amount of trust we give to the authenticated principal.

The main issue is that we use authorization to describe somethin

[2019-04-08 07:16] dhaarbrink opened #30998 "setCircularReferenceHandler() is deprecated"
**Symfony version(s) affected**: 4.2.5

**Description**
When I enable a circular reference handler in my framework.yaml, I get a deprecation warning in my logs

**How to reproduce**
Enable a circular reference handler in your framework.yaml:

[code]

**Possible Solution**
The FrameworkExtension reads the config, and calls `setCircularReferenceHandler()` on `AbstractNormalizer`, but instead it shou

[2019-04-08 07:23] fabpot commented on #30850
@garak Sure, I just wanted to mention that this assertion was fragile when "most" emails are sent aync. Asserting that an email was queued is probably better abstracted in an assertion that asserts that an instance of a class was sent to the bus.

[2019-04-08 07:25] xabbuh commented on #27217
@HeahDude @stof @yceruto and me discussed this yesterday at the hackathon. I think we now better understand what is going on here and this indeed looks like a bug. I created a small example which allowed me to reproduce it. I am working on a fix now.

[2019-04-08 07:32] Moskito89 commented on #30872
Thanks for your hint, @yceruto, I was able to find that problem here! In this case it was caused by an empty object as second parameter in `createForm()`.
Also thanks for your kind and fast help @xabbuh and @drupol – have a nice week!

[2019-04-08 07:44] drupol commented on #30872
Status: Closed

[2019-04-08 07:53] HypeMC commented on #30996
Not sure it would be a BC break since the problem is that there's inconsistent behavior between the web and cli contexts. The route exists when generated in a web request cause it gets the locale from the request context (`$this->context->getParameter('_locale')`):

[code]

[2019-04-08 07:54] X-Coder264 commented on #30996
Currently the same route generation call behaves differently depending on the context it's being run in (WEB or CLI). In a WEB context the above route would be generated just fine, while in CLI it'd throw an exception. The system does not behave consistently and I don't see how this can be treated as anything but a bug.

Another solution which would avoid this "breaking change" and allow us to mak

[2019-04-08 08:29] curry684 commented on #30914
@quentinus95 interesting thoughts. You should however remember that the process of authentication itself is handled by Tokens, so the process of how an authentication chain ends up at a certain level of trust should be handled there. This is even already being improved by the proposal at https://github.com/symfony/symfony/issues/30765.

In a nutshell right now we're pretty limited with the Remembe

[2019-04-08 08:43] ovrflo commented on #30745
@curry684 thank you very much for your fix :)
Also, you're probably right on the second issue. It also seems to reproduce randomly. I actually don't think I saw it happen after reporting it here. If I manage to reproduce it and get to the bottom of it, I'll open a new issue.

Thanks again !

[2019-04-08 08:44] sukei commented on #30849
Just looked into the `Container:getEnv()` method, and it looks like the container itself is dependent of the `:` based syntax. It would require to change the whole thing. I understand why it seems hard to do.

[2019-04-08 08:48] nicolas-grekas commented on #30849
Thanks for your understanding.

[2019-04-08 08:48] #30849 closed

[2019-04-08 08:52] ovrflo commented on #30849
Sorry for barging in after closing, but this sounds like a great opportunity for optimization :)
Wouldn't it be great if that `env` expression would be parsed and compiled in the container ? Dumping the container would write all the code necessary for resolving that value from ENV.

Also, while I kinda got used to the current way of writing those expressions, I wouldn't mind @sukei 's idea, or, ma

[2019-04-08 08:57] #30745 closed

[2019-04-08 08:57] nicolas-grekas commented on #30849
My thoughts: using words it's appealing, using code I'm waiting for a PR :)

[2019-04-08 09:05] curry684 commented on #30914
Updated RFC with some minor things:
- Added trust levels to authorization section
- Renamed Identity to Context to comply with Spring terminology and to reduce confusion with .NET which implement Identity a bit differently)
- Clarified object level permission description to explicitly mention CRUD, there should be some easily usable extension to Voters to implement CRUD functionality at object/ent

[2019-04-08 09:34] stof commented on #30996
Adding this new parameter looks good to me.

[2019-04-08 09:53] HypeMC commented on #30996
@stof Hm, but would we then have two different parameters/configuration options for the same thing, `framework.default_locale` & `router.request_context.defaut_locale`?

[2019-04-08 10:04] Wirone commented on #27351
@Tobion In [your comment](https://github.com/symfony/symfony/issues/27351#issuecomment-480362689) is there one encryption key for all secrets, regardles if they are for `test` or `prod`? It's not acceptable IMO. In our company developers don't have access to production, all deploys are done with admins team (dev teams have to prepare installers, deploy instructions etc.), so developers don't / can

[2019-04-08 10:25] stof commented on #30996
We don't have `framework.default_locale`. We have `framework.translator.default_locale`, which will not exist at all if you don't enable the translator. So we cannot make it a hard dependency.

[2019-04-08 10:32] HypeMC commented on #30996
@stof Not sure what you mean, I was referring to the [FrameworkBundle configuration](https://symfony.com/doc/current/reference/configuration/framework.html#default-locale), which is set as [kernel.default_locale](https://github.com/symfony/framework-bundle/blob/4.2/DependencyInjection/FrameworkExtension.php#L180).

[2019-04-08 10:33] stof commented on #30996
hmm indeed. I confused things. Using the `kernel.default_locale` would indeed make sense then.

[2019-04-08 10:41] dkarlovi commented on #27351
Yes, the use case where the dev team never gets access to the prod secrets to commit them should be taken into account.

[2019-04-08 11:07] nicolas-grekas commented on #27351
It is already: configuration is Symfony-env dependent - and so are env vars.

[2019-04-08 11:13] dkarlovi commented on #27351
@nicolas-grekas I was referring to the workflow where you "commit encrypted secrets to the repo" part, don't know how crucial that is to the overall current design direction.

[2019-04-08 11:15] nicolas-grekas commented on #27351
Oh, sure. We discussed about defaulting to storing secrets in `config/secrets/%kernel.environment%/`, for the reason that has been highlighted.

[2019-04-08 11:17] dkarlovi commented on #27217
@xabbuh can you point out which part specifically wasn't clear enough before the discussion?

I was pretty sure it was communicated clearly already, but if not, I'm alway happy to learn what I could have communicated better to begin with. :smile:

[2019-04-08 11:35] SulivanDotEu opened #31004 "[Routing] inject complex values based on complex expression in routes"
**Description**

I would like to propose a new feature for the Routing Component. Being able to **remap the routes variables** or to **inject complex values based on complex expression**.
Based on what is described in this documentation "[How to Configure a Redirect without a custom Controller](https://symfony.com/doc/current/routing/redirect_in_config.html)", there is no possibility to **inject c

[2019-04-08 11:36] vudaltsov commented on #30914
@curry684 , this is a great list, thank you!

I have some thoughts:
- Manual authentication. Useful when authenticating user right after he has signed up.  This is a common question which is usually solved by copying https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Security/LoginManager.php and a hackish compiler pass for remember me into the project.
- A centralized token invalidatio

[2019-04-08 11:39] xabbuh commented on #27217
@dkarlovi As far as we now understand the issue the wrong behaviour is that there are validation constraints on the underlying model that did not lead to the form being treated as invalid (the reason for that is that validation is never triggered). At least for me that's not something that I understood from reading the issue (and the related ones). Did I summarise this correctly from your POV?

[2019-04-08 11:48] dkarlovi commented on #27217
Yes, I'd say so.

The "keyword" I should have used seems to be

Noted for future, thanks @xabbuh. :+1:

[2019-04-08 11:52] xabbuh commented on #27217
Usually I try to ask for a reproducible example application. I am sure that would have made things clear
immediately. Sorry for not asking here.

[2019-04-08 11:55] xabbuh commented on #30996
this looks related to #30010

[2019-04-08 11:59] asentner opened #31006 "[VarDumper] Stub has no unserializer"
**Symfony version(s) affected**: 3.4.24 / 4.2.5

**Description**

Profiler broken after update to 3.4.24, see exception below:

[code]

in `vendor/symfony/symfony/src/Symfony/Component/HttpKernel/DataCollector/DataCollector.php at line 53`
[code]

From the logs:
[code]

It appears this commit may have introduced the breaking change:

https://github.com/symfony/var-dumper/commit/2159335b452d929cbb9

[2019-04-08 12:07] nicolas-grekas commented on #31006
The low-level serialization format has changed, which means you cannot use old serialized profiles with new versions of the code.

[2019-04-08 12:14] asentner commented on #31006
Ah ok, I'll have a look. Missed that deprecation.

[2019-04-08 12:35] mpdude opened #31007 "[RFC][HttpKernel] Make downstream HTTP caches expire on deployments"
In several projects, we are using Content Delivery Networks in front of Symfony applications. In those cases, most of the controllers are able to send `Last-Modified` headers along with the responses. Often this is derived from some database information, for example the time a record has last been saved. Also, there is some infrastructure (bundles, annotations) in place to make validation via `If-

[2019-04-08 13:00] rudiedirkx commented on #30804
I haven't checked yet, but I believe @curry684. And agree that's a nicer solution. IF it's possible to get the list of commands from the very private `Application`.

The command specific strictness is still a cool idea, but that's another (new, not mine) issue.

[2019-04-08 13:09] nicolas-grekas commented on #31007
There are three parameters that could help achieve this:
    'container.build_hash'
    'container.build_id'
    'container.build_time'

Would that be enough?

[2019-04-08 13:18] mpdude commented on #31007
Great, wasn’t aware of them. So that would be solved out of the box.

The remaining question then is: Should the HttpKernel take control of Last-Modified information in this way, possibly overriding the value set in controllers?

What about ETag-based validation?

[2019-04-08 13:27] javiereguiluz commented on #31006
Closing because this is probably not a bug but an internal format change. @asentner if you test this and doesn't work, we can reopen this as a bug. Thank you!

[2019-04-08 13:27] #31006 closed

[2019-04-08 13:28] stof commented on #31007
Expiring the ETag-based validation would involve modifying the Etag generated by the controller, to include some info related to the build in it, alongside the original value.

But if your Etag is based on a hash of the content, this might not be needed.

Note that using an event listener might be easier to maintain than doing that directly in the kernel

[2019-04-08 14:07] antonch1989 commented on #30848
@ArnaudTarroux do you want to work on this feature? I could create a PR otherwise

[2019-04-08 14:09] #30874 closed

[2019-04-08 14:19] ArnaudTarroux commented on #30848
@antonch1989 Yes, I already started to work on it. I will open a PR soon

[2019-04-08 14:25] #30701 closed

[2019-04-08 14:26] stof opened #31009 "[VarDumper] Internal state of the HTTP client should not be dumped when dumping a response"
The dump of the response is huge currently, as it contains the internal state of the client.

This should probably wait for #30967 as that changes the internals.

[2019-04-08 14:37] javiereguiluz commented on #31007
@mpdude those parameters weren't documented, so we're adding some docs form them in https://github.com/symfony/symfony-docs/pull/11361

[2019-04-08 14:58] nicolas-grekas commented on #31009
I already added a caster for responses, that cut the "multi" property. What else do you mean?

[2019-04-08 15:17] mpdude commented on #31007
Now that I see what they were added for, I am not so sure anymore we can use them for this purpose:

Imagine events happen in this order:

- New (Docker) image of the application is built, including the cache/container and compiled Twig templates
- Database record that governs the Last-Modified is updated
- Page is rendered with the *old* Twig template being used, goes into downstream cache
- New

[2019-04-08 15:20] nicolas-grekas commented on #31007
If the application is the same (ie built_time), then can't you suppose the cached items are the same also, within the boundaries of their own expiration dates?

[2019-04-08 15:22] fabienlem commented on #30091
Hello there,

I still experiment strange behaviours. I'm on symfony 3.4.24. I tried to downgrade DI component to 3.4.22 and 3.4.22 without any success. Is there another workaround ?

Thank you,

Fabien

[2019-04-08 15:34] Raulnet commented on #30998
@dhaarbrink the argument `circular_reference_handler` should be define on the `$context` params
not on the config;
ex:
[code]
Status: Waiting feedback

[2019-04-08 15:44] arsonik opened #31010 "[Process] Missing extra dir when open_basedir returns"
**Symfony version(s) affected**: 4.2.5

**Description**
Parameter `$extraDirs` ignored if `ini_get('open_basedir')` returns content

**Possible Solution**
see PR

[2019-04-08 15:45] mpdude commented on #31007
Yes, you can (I would).

The edge case is if you build the new version, but then serve a response with the *old* one and have a Last-Modified *after* the build time. If you *deploy* only then, the code above would not change anything.

(My assumption is that DI container build and cache warming happen on a CI and go into a Docker image, which is *deployed* sometime later. This might be totally wro

[2019-04-08 15:58] stof commented on #31009
This was based on a discussion in the train yesterday when going back from Brussels. Maybe the feedback I got came from someone using the HttpClient before you patch :smile:

[2019-04-08 16:02] nicolas-grekas commented on #31009
Or using VarDumper <=4.2 yes, see https://github.com/symfony/symfony/blob/4e1244ecdbada0d29cdec412e4d01621dc88cae6/src/Symfony/Component/VarDumper/Caster/SymfonyCaster.php#L44

I'm closing then, please tell if there is something wrong.

[2019-04-08 16:02] #31009 closed

[2019-04-08 16:03] dhaarbrink commented on #30998
Well, according to the [docs](https://symfony.com/doc/current/components/serializer.html#handling-circular-references), you should use `setCircularReferenceHandler()`. So, there's a mismatch between the code and the docs. One of them contains a bug.

And then there's the 'circular_reference_handler' config option in the FrameworkBundle, which is passed to the `setCircularReferenceHandler()` method

[2019-04-08 16:14] #31010 closed

[2019-04-08 16:42] curry684 commented on #30804
You wouldn't need the command list as you have the Command and the original input, so you would only need to compare name to what was entered.

[2019-04-08 16:52] nicolas-grekas opened #31016 "Replace Argon2idPasswordEncoder by SodiumPasswordEncoder"
#31014 makes no sense to me: we added a class for which we cannot guarantee that it will work depending on a default that is under control of libsodium only.
To me this is the sign that we should adopt the approach of libsodium instead: we should replace `Argon2idPasswordEncoder` by `SodiumPasswordEncoder` and align to its recommendation: trust them to always select the best default in the future.

[2019-04-08 17:39] asentner opened #31017 "[Form] TransformationFailedException with JSON submitted data"
**Symfony version(s) affected**: 3.4.24 / 4.2.5

**Description**
TransformationFailedException thrown when JSON is submitted through HiddenType field. I have one form that is passing a JSON which is a canvas map of a captured signature.

This commit creates the breaking change for us:

https://github.com/symfony/form/commit/4f7d286bf5b237796cd646ffcd1c4461a145ed02#diff-9c65c1fe9e9fce8398f48544b0bb

[2019-04-08 18:02] chalasr commented on #31016
See #31019

[2019-04-08 18:23] HeahDude commented on #31017
Hello @asentner, thank you for opening this issue.

I don’t really understand the necessary steps to reproduce. It seems to me than submitted some json means submitting a string that should not break a hidden field submission. How do you handle transformation exactly?

[2019-04-08 18:41] ro0NL opened #31022 "[RFC][Intl] Support alias locales by default"
In #28846 i noticed the following logic:

https://github.com/symfony/symfony/blob/9a7a2767da03e7b7ce0bd70aa70bbcb1a4f4c2c2/src/Symfony/Component/Validator/Constraints/LocaleValidator.php#L52

Here the `LocaleValidator` allows both locales and aliases. I think it makes sense.

I propose to support aliases by default in the new `Locales` data accessor

- `Locales::exists($alias)`
- `Locales::getName

[2019-04-08 18:46] joelwurtz commented on #30818
Do you want me to merge #30960 #30980 #30956 into the same PR for better visibility, or do you prefer to keep concept separated ? /cc @dunglas @fabpot

[2019-04-08 19:16] patrick-mota commented on #28140
@Simperfit I saw at work it was SSH Secure Shell V 3.2.9 (Build 283) but it was with Symfony 2.8 !
Sorry didn't saw the version earlier, I will try to reproduce with Symfony 4+ maybe it's already fixed.

[2019-04-08 19:50] kaznovac commented on #30091
seems like its introduced in #30046

[2019-04-08 21:44] dmaicher commented on #31017
This seems to be the same issue as reported in

https://github.com/symfony/symfony/issues/29809
https://github.com/symfony/symfony/issues/29841

?

[2019-04-08 23:13] HeahDude commented on #31017
Yes we should close here.

[2019-04-09 00:10] darrenoh commented on #25541
We often use Symfony to interact with third-party services for which we don’t get to define the query parameter names. This bug exists because parse_str() can be used to set variables in the current scope. We do not use parse_str to do this. It does not make sense to keep HTTP handling broken for an obsolete PHP behavior.

[2019-04-09 05:22] xtac opened #31029 "[VarExporter] export result broken when string ends with '\n"
**Symfony version(s) affected**: 4.2.4

**Description**
export result broken when string ends with '\n

**How to reproduce**
[code]
expects '\\'FANCY YOU\\''."\n" but '\\'FANCY YOU\"\n"

**Possible Solution**
[code]

**Additional context**

[2019-04-09 06:01] fabpot commented on #31017
Closing as a duplicate then.

[2019-04-09 06:01] #31017 closed

[2019-04-09 06:02] #31016 closed

[2019-04-09 06:34] Wirone commented on #27351
@nicolas-grekas should it be Symfony-env dependent? In our case, where developers don't have access to production and production config it would mean that they won't be able to test application in production mode (because they won't have password/token to decrypt production config). And it's not good since these Symfony-envs are different (for example Sentry integration is for `prod`).

Right now

[2019-04-09 06:45] nicolas-grekas commented on #27351
It's configuration depend: remove the envelope from the oath above and done. Fits all styles. By default it should be env-dependent I think yes.

[2019-04-09 07:54] xabbuh commented on #30998
We need to update the docs and fix the code.

[2019-04-09 08:14] RrOoSsSsOo opened #31032 "Profiler ID not reported for AJAX call into Web Debug Toolbar if there is a dump()"
**Symfony version(s) affected**: 4.2.5

**Description**
If in the controller (that is called remote) there is a dump(), then into Web Debug Toolbar is not reported the Profiler ID for AJAX request.

**How to reproduce**
Try to do an AJAX call

![image](https://user-images.githubusercontent.com/1734343/55783995-ea686e80-5aaf-11e9-9dab-23082404dfc2.png)

Then add a `dump()`

![image](https://user-im

[2019-04-09 08:16] jderusse commented on #27351
@Wirone using intermediate parameters would allow you to configure different strategy per environment / host.

commited in project
[code]

only on production servers
[code]

[2019-04-09 08:43] jderusse commented on #27351
on other solution would be to configure the location of the keys and secrets per a new env variable instead of `kernel.environement`
[code]
and using the same service configuration for every environements
[code]
Then generating secrets for each `SERVER`:
[code]
the `encryption_developper-team.key` could be commited (or shared to developpers / ci), and the `encryption_production.key` should be manu

[2019-04-09 08:46] dkarlovi commented on #27351
@jderusse wouldn't it also be possible to configure the secret per environment?

So you have something like

[code]

[2019-04-09 08:47] kevinpostma commented on #30529
I have a lot of webtestcases to test the input and output of my API. All my tests where running fine untill i started registering doctrine entitylisteners to my entities. After registering a entity listener i got the following message:

[code]
I am on symfony version v.4.2.5

[2019-04-09 09:00] RrOoSsSsOo commented on #31032
The problem seem solved installing `symfony/debug-bundle`

`composer require symfony/debug-bundle`

(I have already installed the `symfony/var-dumper` package...)

[2019-04-09 09:34] drupol opened #31035 "[HttpClient] Add tests - update code style nits."
**Description**

Add an extra test for `HttpClientTrait::normalizePeerFingerprint()`.

Also update small code style here and there.

[2019-04-09 09:48] drupol commented on #30850
I don't know if it's a good idea, but there is maybe a way to do that using Docker and MailHog.

[2019-04-09 09:52] drupol commented on #31035
Thanks!

[2019-04-09 09:52] #31035 closed

[2019-04-09 10:04] althaus commented on #21717
I understand the decision, but this makes a flaw in the form component for me. Groupable lists in combination with l10n of the items is quite a hazzle and the unreliable behaviour of the  `group_by` option doesn't help on it.

[2019-04-09 10:27] patrick-mota commented on #28140
Still having the problem in last version of Symfony.

I found a way to fix it using tput.

Maybe should we add a tput helper ?
What do you think @Simperfit @nicolas-grekas  ?

[2019-04-09 10:50] rsukonovs opened #31036 "Symfony ``cache.serializer`` pool clearing does not work in prod env"
**Symfony version(s) affected**: v3.4.24

**Description**
Symfony ``cache.serializer`` pool clearing does not work in prod env.

**How to reproduce**
[code]
Error message:
[code]

[2019-04-09 11:10] asentner commented on #29809
Workaround for now is to add multiple = true in your resolver for the custom type. I really don't like this so I hope to see a fix very soon. This is definitely a breaking change on a minor release.

[2019-04-09 12:03] Wirone commented on #27351
IMO new core parameter, like `kernel.deployment_target`, would be better than `kernel.environment` because it would allow to use the same configuration values regardless of `APP_ENV`. Developers would use own deployment target (known decryption key, the same values for `dev` and `prod` environment) while for other instances like development, stage or production this deployment target would be diff

[2019-04-09 12:44] nicolas-grekas commented on #31007
anything to do in core? shall we close?

[2019-04-09 14:08] mpdude commented on #31007
Ok, I can understand that – closing for now.

[2019-04-09 14:08] #31007 closed

[2019-04-09 14:13] Toflar commented on #31007
I've quickly discussed this with @aschempp and to be honest, I don't think this is something for core either. Caching is such a complex topic and I don't think there's a one-size-fits-all solution here.
I suggest you try to find a solution for your use case first and then we might continue the discussion over at https://github.com/FriendsOfSymfony/FOSHttpCache which - in case we find something uni

[2019-04-09 14:50] pierredup opened #31037 "[RFC][Routing] Specify route guard in routing config"
**Description**
I want to get some feedback on an idea, will create the PR if the idea is acceptable.

Currently, there are various ways of preventing access to a specific route/controller, each with their own benefits and drawbacks, but I'm missing a simple way to do it inline with the route configuration. So I want to propose to add a new `guard` option to the routing config, where you can speci

[2019-04-09 16:14] dg opened #31038 "[Form] reversal of an error message when a CSRF token is invalid"
If form is sent with an invalid CSRF token, this error message will be displayed: `The CSRF token is invalid. Please try to resubmit the form.`

This message is in fact instruction on how to bypass CSRF protection. This wording makes protection to be more like an attacker collaborator ;-)

Please change message to something like `Your session has expired. Please return to the home page and try aga

[2019-04-09 16:30] Devristo opened #31039 "[BrowserKit] BC-break since Client has been renamed to Browser"
**Symfony version(s) affected**: 4.3.x-dev

**Description**
Since https://github.com/symfony/symfony/pull/30541 the inheritance hierarchy of `\Symfony\Component\BrowserKit\Client` has changed. Notably the `test.client` no longer is an instance of `\Symfony\Component\BrowserKit\Client`.

This breaks breaks at least https://github.com/FriendsOfBehat/SymfonyExtension and https://github.com/minkphp/Mi

[2019-04-09 16:55] mayro opened #31041 "Expected argument of type "array or (\Traversable and \ArrayAccess)", "string" given"
Symfony version(s) affected: 3.4.24

Hello,
When I upgrade my project from 3.3 to 3.4.24, I have some errors with form field and transformer.
with symfony 3.3 I had this code :

          ` ->add('labels', TextType::class, ['property_path' => 'labels']);
`
With a viewTransformer to transform ( I receive an array and i register a string in my database)

[code]

With the 3.4.24, i have an invalid va

[2019-04-09 16:55] mayro commented on #30622
@xabbuh  Done https://github.com/symfony/symfony/issues/31041  Thank you

[2019-04-09 17:16] nicolas-grekas commented on #31039
Deprecating the test.client service in favor of test.browser might work also
PR welcome

[2019-04-09 17:33] xabbuh commented on #28485
@8-3 it's this comment: https://github.com/symfony/symfony/issues/28485#issuecomment-421936013

@iltar changed their username to @linaori some time ago (I updated my comment)

[2019-04-10 00:09] cybernet opened #31045 "MimeType for symfony twig template"
**Description**
Do you think that twig template should deserve a place in MimeType extensions guesser ?
One might want to upload a twig template...

At the moment [MimeTypeExtensionGuesser](https://github.com/symfony/symfony/blob/74ca91deaa014a4e776671bfc523bd10077a52eb/src/Symfony/Component/HttpFoundation/File/MimeType/MimeTypeExtensionGuesser.php) doesn't "support" uploading Twig templates

**Su

[2019-04-10 02:29] xuanquynh opened #31046 "[Console] StringInput removes backslashes from a normal string"
**Symfony version(s) affected**: 2.8+

**Description**
StringInput removes backslashes from a normal string.

For example:
1. I pass the php string "search SomeNamesapce\\SomeClass" to the StringInput constructor.
2. In StringInput::tokenize() method, "SomeNamesapce\\SomeClass" matches StringInput::REGEX_STRING, so it is passed into `stripcslashes` function.
3. Finally, I got "SomeNamespaceSomeCla

[2019-04-10 04:53] Simperfit commented on #29710
So I made a little SF command to reproduce:
[code]

[2019-04-10 05:47] Simperfit commented on #29567
@fabpot I think we can close this too.

[2019-04-10 05:48] Simperfit commented on #29556
maybe @weaverryan can help on this ?

[2019-04-10 05:50] Simperfit commented on #29451
@weaverryan is this fixed ?

[2019-04-10 05:52] Simperfit commented on #29230
We discussed that with @stof at the Hackathon, I think this is handy feature and it will close multiple issues.

I'm going to take this ;).

[2019-04-10 05:59] #29567 closed

[2019-04-10 06:13] dhaarbrink commented on #30998
Okay, so the docs are fixed. Thanks for that @javiereguiluz!

Now I think there is one bug left: calling `setCircularReferenceHandler()` from the `FrameworkExtension`.

[2019-04-10 07:11] nicolas-grekas commented on #30954
To reproduce the code above needs to run in a method/closure. I don't there is anything we can do here: if you hit endpoints that return 4xx/5xx, you must deal with them yes. The fact that technically this has more precedence over the userland exception is also legit as it saves you from accidentally missing a call that you might have expected to succeed otherwise.

You can take over this by check

[2019-04-10 07:31] tezvi commented on #29230
Nice! That will come handy :)

[2019-04-10 07:32] althaus opened #31050 "[HttpKernel] LoggerDataCollector crashes on empty deprecation.log"
**Symfony version(s) affected**: 4.2.x

**Description**

We encountered an issue with the `LoggerDataCollector` resulting in an error. We simply had an empty (aka zero bytes) deprecation.log file.

[code]

The reason is the direct unserialization of the file's content. There's just a check if the file exists:

https://github.com/symfony/symfony/blob/5aa0967f9f0ab803ededefb040d48a0ebc7a27a6/src/Sym

[2019-04-10 07:47] ktherage commented on #30830
@nicolas-grekas you mean adding a caret which drops down the flle path and line in the terminal ?
Or just like i did in the Gif file but adding the kind of tooltip with the flle path and line on a caret?

[2019-04-10 08:15] jderusse commented on #30954
I don"t get any use-case where user forsake a reponse but expect it to trigger exceptions. :-(

IMHO Checking the statusCode (either manually with `getStatusCode()` or automatically with `getContent(true)`/`getHeaders(true)` should be the only way to deal with server's response.

[2019-04-10 08:33] malarzm opened #31051 "[BCBreak][DoctrineBridge] Listeners lazy loading is not transparent"
**Symfony version(s) affected**: 4.2.5

**Description**
If some listeners are removed from `ContainerAwareEventManager` before being initialized they can not be added back if any event was dispatched in the meantime. This happens because [`dispatchEvent` marks specific groups of events as initialized](https://github.com/symfony/symfony/blob/2243bf5bc11e3908f975f92551bd869a61211999/src/Symfony/Brid

[2019-04-10 08:34] antoniocambados opened #31052 "[Form] 4.2+ form type extensions configuration does not consider using a parameter as the given class"
**Symfony version(s) affected**: 4.2+

**Description**
When using a parameter as the class given to a service Definition, the FormPass will trigger a deprecation warning or throw an Exception for not being able to ensure method `getExtendedTypes` exists.

**How to reproduce**

Create a form type extension:

[code]
Set up the configuration:

[code]
Now, when running your app, you'lle get this **dep

[2019-04-10 08:38] jderusse commented on #30954
closing as `$client->request(..)` is also a valid way to perform a request without taking care about the response BUT expecting to be notified in case of issue.

[2019-04-10 08:38] #30954 closed

[2019-04-10 08:41] malarzm commented on #31051
Actually the fact that `ContainerAwareEventManager::getListeners` may return an array of strings breaks original `EventManager::getListeners` return type which is `object[]|object[][]`. I'm leaning towards intializing listeners during `getListeners` call.

[2019-04-10 08:58] friendlypetite commented on #31038
David, please stop copying code from Symfony into Nette, further selling it as Nette. You raise over 100k CZK monthly (thanx to Nubium primarily) to develop Nette and it's clear to me that all you do is copying code over. Opening this issue it's clear to me that you even don't know what you are doing. You should let Nette die. Your framework is at least 5 years behind the rest of the world. Your d

[2019-04-10 09:02] dg commented on #31038
@friendlypetite not funny. This is a serious security problem, so please do not take attention here.

[2019-04-10 09:02] nicolas-grekas commented on #31050
Could you please send a PR fixing the issue?

[2019-04-10 09:04] javiereguiluz commented on #31038
@friendlypetite please, let's focus the discussion on the technical side. We don't talk about non-tech things in this repository. Of course we respect your freedom of speech, but this is not the right place, so if you want to discuss about this, please use Symfony's Slack (https://symfony.com/slack). Thanks for understanding!

[2019-04-10 09:07] stof commented on #31032
I think this might be related to VarDumper displaying its output early and forbidding to set extra headers after that, in case you don't use its integration with the web profiler (which is what DebugBundle is about)

[2019-04-10 09:07] nicolas-grekas commented on #31038
@dg please do not the comment from @friendlypetite as representative of anyone else than them.

[2019-04-10 09:09] nicolas-grekas commented on #31038
is that really the case? what's the behavior in case of a csrf? do we pre-populate the form with the data submitted without the token? if yes, that's bad - if not, I don't see the issue. Can you please elaborate?

[2019-04-10 09:21] dg commented on #31038
@nicolas-grekas Sure, I'm used to it :-)

The problem is that it's (IMHO) impossible to distinguish between session expiration and CSRF attack.

- In case of session expiration you want to pre-populate the form with the submitted data.
- In case of CSRF you want the opposite.

So it is crazy 🤦‍♂️

But:
- In case of session expiration, the user knows that he was submitting the form. He may try to r

[2019-04-10 09:24] linaori commented on #31038
If I understand the issue correctly, you mean that after an XSS attempt has been made, the user will see the form and will receive a valid token, while the form is unchanged, and can thus easily re-submit the "attack" data by pressing submit?

[2019-04-10 09:27] dg commented on #31038
@linaori exactly!

[2019-04-10 09:30] xelan opened #31054 "[Validator] Make API endpoint for NotCompromisedPasswordValidator configurable"
**Description**
The new `NotCompromisedPasswordValidator` is a very nice feature which greatly improves the security of user accounts.

Having a look at the source file for pwnedpasswords.com (`pwned-passwords-sha1-ordered-by-count-v4.txt`), providing the same basic API for range check endpoints is quite trivial.

Making the API endpoint configurable instead of a hardcoded constant (`NotCompromise

[2019-04-10 09:33] linaori commented on #31038
I see, that makes a lot of sense. I'm personally not a fan of the suggested replacement message, but it's a very valid point. As this is about security, I think it's important to warn the user of what's going on if this is considered a security issue, there's not much we can fix besides of the message in the code/flow.

What about something like: _"The security to verify your identity is invalid,

[2019-04-10 09:40] soukicz commented on #31038
@linaori visitor has no clue about security tokens - that is internal magic. It should probably be something more direct like "Possible security issue detected - do you really want to submit this form?"

[2019-04-10 09:41] fmasa commented on #31038
@linaori Loging out does not help to mitigate CSRF attack, so I would omit the last sentence.

[2019-04-10 09:46] stof commented on #31054
I don't think it should be part of the annotation. This looks better as a constructor argument of the validator, defined in the project config.

[2019-04-10 09:51] linaori commented on #31038
I'm not 100% sure how dynamic the csrf token is, if it's the same during the entire session life-cycle (even if it's per form), it could very well be that the attacker has managed to extract this token after the page load (could be done via framesets?), hence I suggest the relog to refresh this token. However, this does not solve the fact that you're in a frame, this should probably be solved by u

[2019-04-10 09:52] xelan commented on #31054
Ah, yes you're right, thanks. So similar to the `validation.disable_not_compromised_password` config value, and therefore the configuration is part of the `FrameworkBundle`?

[2019-04-10 10:02] stof commented on #31054
yes

[2019-04-10 10:04] stof commented on #31054
btw, if we add that, we should rework the validation to look like

[code]

That way, settings of the `not_compromised_password` validator are grouped together. As `disable_not_compromised_password` is only available in master and not in a release, we can still rename it without having to do a BC layer, if we do it now.

[2019-04-10 10:06] xelan commented on #31054
This proposal sounds great :+1:

[2019-04-10 10:24] linaori opened #31056 "Missing stopwatch component gives inaccurate message in profiler"
**Symfony version(s) affected**: 3.4+

**Description**
When you are missing the stopwatch component, you can't see the timings in the webdeveloper toolbar. When you navigate through the WDT via the "n/a" timings, you will arrive at a page saying: _"No timing events have been recorded. Are you sure that debugging is enabled in the kernel?"_. While this message is a good hint, my application _is_ ru

[2019-04-10 10:25] malarzm commented on #31051
This actually might have been an issue hidden for a longer time and exposed by making all listeners lazy as a default in https://github.com/symfony/symfony/issues/27661

[2019-04-10 10:32] althaus commented on #31050
@nicolas-grekas Sure, what'd be your preferred solution? And what should be done if the check fails? Just silently do nothing?

[2019-04-10 10:34] althaus opened #31057 "[Form] BirthdayType and dates before 1583"
**Symfony version(s) affected**: 4.2.x

**Description**

We encountered an issue with the BirthdayType and dates before the Gregorian calendar changes took place. I don't know the reason, but it maybe just an issue with php-intl. When using January, 1st 1582 as a birthday the view format (using German format in the screenshot) goes nuts:

![birthday](https://user-images.githubusercontent.com/10597

[2019-04-10 10:35] althaus commented on #31057
Pressed enter a little too early. :(

Gimme a sec to fix this.

[2019-04-10 10:35] stof commented on #31039
Well, deprecating the service will not solve the BC break, where the different Client BC classes are not child of each other anymore.

[2019-04-10 10:39] nicolas-grekas commented on #31050
Ignoring silently looks fine to me.

[2019-04-10 10:40] stof commented on #31056
@linaori can you send a PR with your patch ?

[2019-04-10 10:46] linaori commented on #31056
I'll make a PR

[2019-04-10 10:48] Devristo commented on #31039
@stof see the discussion in https://github.com/symfony/symfony/pull/31040. We have concluded the same and came with a different approach.

[2019-04-10 11:18] mayro commented on #31041
Hello,

it's the same issue https://github.com/symfony/symfony/issues/29809. I fixed by addiding a custom Type with
$resolver->setDefaults(array(
            'compound' => false,
            'multiple' => true,
        ));

Fixed by https://github.com/symfony/symfony/commit/000e4aab5e60f2500a5781e5ad85ef9db003d047

Thank you

[2019-04-10 11:26] Deuchnord commented on #29710
Thank you for these details @Simperfit, I'll take a look to this and make a PR :)

[2019-04-10 11:37] Napche commented on #30259
My solution was adding my own RabbitMQTransportFactory and RabbitMQTransport.
It would have been cleaner if properties in AmqpTransport would have been protected instead of private ;-)

[code]

[code]

[2019-04-10 11:52] stof commented on #31039
yeah, I saw it after commenting here.

[2019-04-10 12:15] eliecharra commented on #30700
@nicolas-grekas Maybe I'm missing something, but could you explain why not ? Actually when running `vendor/bin/simple-phpunit`, env vars defined in phpunit.xml taken into account with following config :

[code]

[code]

The problem here is a forced env override from `bin/phpunit` :

[code]

Maybe this "default" could be moved to `phpunit.xml.dist` in flex reciepe and removed from bin/phpunit wrapp

[2019-04-10 12:21] nicolas-grekas commented on #31054
PR welcome :)

[2019-04-10 12:25] Simperfit commented on #31054
@xelan Do you want to try to contribute this ?

[2019-04-10 12:31] Simperfit commented on #31041
@mayro does this mean you don't any problem anymore ?

[2019-04-10 12:37] cre8izm commented on #7828
Any progress on this one?

[2019-04-10 12:44] xelan commented on #31054
Yes, I'm already working on it :smile:

[2019-04-10 12:47] xabbuh commented on #7828
@cre8izm I don't think anyone is working on this currently. So feel free to to start a pull request if you would like to give it a try.

[2019-04-10 13:10] Simperfit commented on #28873
@henri9813 do you want to work on this ?

[2019-04-10 13:52] jewome62 commented on #31036
Status: Reviewed

[2019-04-10 14:05] jewome62 commented on #31036
@nicolas-grekas I have reproduce this error.
if i change public="false" to public="true", the command work well in env prod
https://github.com/symfony/symfony/blob/84814be4c795bba6b0bc72138167e6e66307a3c7/src/Symfony/Bundle/FrameworkBundle/Resources/config/cache.xml#L18-L28

[2019-04-10 14:33] darius-v commented on #21610
I had made a bug when copying service description xml  and left alias unchanged from another validator. Is that a feature or bug that it calls wrong validator if alias wrong?

[2019-04-10 15:10] #30769 closed

[2019-04-10 15:14] #31056 closed

[2019-04-10 15:36] chalasr commented on #31041
Closing as fixed, feel free to reopen.

[2019-04-10 15:36] #31041 closed

[2019-04-10 16:10] mayro commented on #31041
@Simperfit Yes I fixed it with  a customType with multiple option, and i added a ModelTransformer to convert the array to string.
 It seems to work fine Thanks

[2019-04-10 16:47] umpirsky opened #31066 "UrlMatcher BC break"
**Symfony version(s) affected**: 4.1.11

**Description**
With version `4.1.2`, urls with trailing slash were not matched, in `4.1.11` they are. I guess it's related to https://symfony.com/doc/4.1/routing.html#routing-trailing-slash-redirection, but it's a BC break.

**How to reproduce**

I created demo project https://github.com/umpirsky/SUMT which makes it easy to prove this two versions are not

[2019-04-10 16:54] nicolas-grekas commented on #31066
Please upgrade to 4.2 as 4.1 is not maintained anymore and this might have been fixed already.

[2019-04-10 17:00] gharlan commented on #30975
I can confirm the error after removing the annotation:

![Screenshot 2019-04-10 18 58 17](https://user-images.githubusercontent.com/330436/55898371-b9c52980-5bc2-11e9-9a03-6204f98889db.png)

[2019-04-10 17:00] umpirsky commented on #31066
Reproduced with `4.2.5`:

[code]

[2019-04-10 17:31] nicolas-grekas commented on #31066
Is this the same as https://github.com/symfony/symfony/issues/30863?

[2019-04-10 17:42] aequasi commented on #27351
i assume any of the possible edge-cases could be solved by updating a `kernel.secrets_dir` parameter, to have them stored wherever you would like

[2019-04-10 19:28] yceruto commented on #26448
It's part of https://github.com/symfony/symfony/pull/31065 too

[2019-04-10 20:03] drupol opened #31068 "[http-client] The logged URL is not the same as the one which is requested"
**Symfony version(s) affected**: 4.3-dev (master branch)

**Description**
I'm using the new symfony component httpclient, when you do a simple request, I noticed that logged URL doesn't match the requested URL when using the NativeHttpClient.

When doing a request to `http://query.wikidata.org/sparql`:

the logged URL will be:

[code]

**How to reproduce**
Do a request to `http://query.wikidata.or

[2019-04-10 20:37] 94noni commented on #27995
Can be done like the workflow transition blocker?
https://symfony.com/blog/new-in-symfony-4-1-workflow-improvements#added-transition-blockers

[2019-04-10 22:38] umpirsky commented on #31066
This does not have to do anything with redirection, but route matching. This can be related to https://github.com/symfony/symfony/issues/30863, but I'm not sure if it is.

[2019-04-10 22:42] Aerendir commented on #30830
Se may also add another function like cli_dump().

After all, we already have dd() and dump(): adding cli_dump() (and, maybe, cli_dd()), will close the circle.

This way, anyone will be free to use whichever function (s)he likes.

[2019-04-11 07:26] #31068 closed

[2019-04-11 07:49] ro0NL commented on #31057
related to #29610?

[2019-04-11 08:22] apfelbox commented on #31057
Yep, seems to be the same issue.

[2019-04-11 11:09] enumag opened #31075 "[Messenger] Passing stamps to message Handler"
**Description**

When working with symfony/messenger I sometimes find myself implementing a message handler where I would need some of the stamps that are attached to the message. Currently the [HandleMiddleware](https://github.com/symfony/symfony/blob/15fedec58b68ae35acd4c073d4daf38735f215b2/src/Symfony/Component/Messenger/Middleware/HandleMessageMiddleware.php#L65) only passes the message itself

[2019-04-11 11:15] nicolas-grekas commented on #31075
This has been proposed several times, but right now we always figured out the such info should be inside the message, if they are needed in a handler. Does that make sense? If not, why?

[2019-04-11 11:25] #30998 closed

[2019-04-11 11:37] althaus commented on #31050
Making the fabbot happy takes longer than @nicolas-grekas to review the change. 😁

[2019-04-11 11:45] #31050 closed

[2019-04-11 12:44] enumag commented on #31075
It does make some sense but ultimately these things are still sort of metadata and not a direct part of the Command or Event. Moreover they are usually only added to the message later and not right away. Adding such metadata as a Stamp makes more sense then creating a new instance of Command/Event (because those are obviously immutable). I did store them in a `$metadata` array inside the message u

[2019-04-11 12:59] ro0NL commented on #31075
why not transfer stamps from the envelop to its message? Or fill pure message properties with it?

I tend to believe a message handler should remain scoped to a message.

[2019-04-11 13:01] enumag commented on #31075
I believe I already answered that with this:

[2019-04-11 13:04] fmonts opened #31077 "[Twig\Debug] {{ dump() }} on any entity exhausting memory"
**Symfony version(s) affected**:
4.2.5, but the issue started many versions ago

**Description**
When using dump() on a Twig template to dump an instance of some entity, it fails for memory exhaustion (ex.: `PHP Fatal error:  Allowed memory size of 536870912 bytes exhausted (tried to allocate 268451840 bytes`)

**How to reproduce**
Controller:
[code]
Twig:
    `{{ dump(myItem) }}`

If I use `dd($m

[2019-04-11 13:08] ro0NL commented on #31075
hm, maybe i misunderstood

that's exactly what i proposed; handle the message using e.g. `$command->withStamps($envelop->stamps())`.

At least i think the user should be responsible for coupling domain code with infrastructure, and should be possible to opt-out from if we make a move here.

[2019-04-11 13:12] enumag commented on #31075
Yes but then the `$command` needs to have a `withStamps` method, effectively making it something more than a simple command. Which is exactly what I'd like to avoid:

[2019-04-11 13:15] weaverryan commented on #29451
It is not, but is interesting.

[2019-04-11 13:25] sstok commented on #31038
The CSRF is shared between form types (uses the form name and falls back to the Type name if no form name was set). So having two duplicate forms (on different pages) will share the same token.

Then again if someone can extract the token using a frame you properly have a bigger problem! You already have to deal with an XSS vulnerability.

One improvement might be to remove (or refresh) the token

[2019-04-11 13:38] yassinechabli commented on #26723
i go the same error, but it's resolved when i try to clear the cache manually by deleting the cache dir .

[2019-04-11 13:47] ro0NL commented on #31075
We could pass the envelop along i guess, maybe using a `EnvelopeAwareInterface` to op-tin, but im curious what's considered best practice regarding coupling to infrastructure in a message handler.

[2019-04-11 13:55] #30743 closed

[2019-04-11 13:55] xabbuh commented on #30743
fixed in #30389

[2019-04-11 14:01] enumag commented on #31075
Yeah, I'm interested in that too. I do understand the reasons against passing the envelope and stamps to some extent so I think I'll use my own HandleMiddleware to pass the envelope for now. I do dislike the coupling between messenger and my own code. Maybe I'll come up with something else. No need to pollute symfony for now.

[2019-04-11 14:04] ro0NL commented on #31077
Could you share a reproducer app? I wasnt able to reproduce it using one of my own entities.

[2019-04-11 14:10] ro0NL commented on #31075
i disliked `MessageHandlerInterface` already :D but it keeps the handler fairly portable (i.e. you can always remove this marker interface without touching other business logic)

when either the message or handler is coupled to a stamp, it makes it much harder to port. Hence i suggested pure message properties /  or keep a specific infrastructural middleware.

Of course the porting is very hypothe

[2019-04-11 14:46] xabbuh commented on #28791
Closing here for now. We can reopen once we are able to reproduce.

[2019-04-11 14:46] #28791 closed

[2019-04-11 14:46] xabbuh commented on #30859
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-11 14:46] #30859 closed

[2019-04-11 14:47] xabbuh commented on #30809
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-11 14:47] #30809 closed

[2019-04-11 14:58] enumag commented on #31075
Yeah, that makes sense. Thanks for your input. I'll try to think more about how to decouple things on my side. Will reopen this if I figure out something.

[2019-04-11 14:58] #31075 closed

[2019-04-11 15:22] stof commented on #28791
This was solved when changing the way to install PHPUnit in the bridge in https://github.com/symfony/symfony/pull/29265 (in November 2018). Before that PR, we were indeed always using the dev version, as we were getting the github branch.

[2019-04-11 15:24] enumag commented on #31075
@ro0NL An idea just occurred to me. After reevaluating my use-cases it seems that I don't actually need different stamps in different handlers. All my cases like that make more sense as middlewares. For handlers I just need to pass the message itself + an application-specific context which will be present in some stamp but not the message itself. So a possible solution would be for the `HandleMidd

[2019-04-11 15:39] ro0NL commented on #31075
i see :) that could be worth exploring ... it's a bit like controller action arguments IIUC.

However i think `handle(Known $message)` is a very valuable and clear semantic. Introducing more state might cause diversion in implementations.

Would wrapping your message, in another message of yours, be more clean?

[2019-04-11 15:52] leofeyer opened #31078 "ESI requests break persistent remember me tokens"
We are using the [`PersistentTokenBasedRememberMeServices`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Http/RememberMe/PersistentTokenBasedRememberMeServices.php) service together with the [`DoctrineTokenProvider`](https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Doctrine/Security/RememberMe/DoctrineTokenProvider.php) class to manage "remember me

[2019-04-11 15:53] teohhanhui commented on #30914
Relevant comment on password rehashing: https://github.com/symfony/symfony/pull/31019#issuecomment-482171738

[2019-04-11 15:54] leofeyer commented on #31078
Related: symfony/symfony#27910 @paragonie-scott

[2019-04-11 15:55] stof commented on #31078
No, they should not, as that's not how ESI works when using Varnish or other reverse proxies. Reading response cookies to update the cookies sent in subsequent requests is something done by the browser, not by ESI-capable reverse proxies.

[2019-04-11 15:58] stof commented on #31078
#27910 is not related to this. Storing a hash of the value rather than the value itself is entirely orthogonal to the fact of changing the value on each usage.

[2019-04-11 15:59] leofeyer commented on #31078
Ok, but then the ESI request will trigger the auto-login process again and delete the "remember me" cookie (see above). So you are implying that we cannot use persistent tokens together with ESI, aren't you?

[2019-04-11 16:03] enumag commented on #31075
Since the diversity would be caused by custom, bus-specific callback, I don't think it matters too much.

From the purely academical point of view, possibly. From practical point of view, definitely not because I'd have to unpack the message in every handler, annotate / assert the objects for IDE to know the classes etc.

[2019-04-11 16:10] ro0NL commented on #31075
or unpack from a middleware, which brings us to your proposal i guess :)

i agree this creates custom (local) message handlers that follow a different semantic; but by choice :+1:

[2019-04-11 16:17] bohdanyurov-gl opened #31079 "PHPUnit exception with WebTestCase and HttpException"
**Symfony version(s) affected**: 4.2.5

**Description**
![image](https://user-images.githubusercontent.com/47155283/55973465-4daff780-5c8e-11e9-8e4a-c23197daa5a4.png)
![image](https://user-images.githubusercontent.com/47155283/55973497-602a3100-5c8e-11e9-99d4-0ce0c8ccd40c.png)

Instead of correct test passing I observe this:
There was 1 error:
1) ......\OauthProxy\Tests\Controller\ProxyControllerT

[2019-04-11 16:21] enumag commented on #31075
So adding an optional `HandlerArgumentsStamp` which the `HandlerMiddleware` would try to use before falling back to simply pass `$envelope->getMessage()`? Yeah that's an upgrade to my proposal. 👍

[2019-04-11 17:43] D4rkMindz opened #31080 "SF4 Deployment to Prod "Script cache:clear returned with error code 255""
**Symfony version(s) affected**: 4.2

**Description**
While deploying to production, i get following error:
[code]

**How to reproduce**
Checkout the named repo and run following commands
[code]
Result:
[code]

**Possible Solution**
No clue, sorry.

**Additional context**
The complete code can be found here:
https://github.com/wavetrophy/wavetrophy

[2019-04-11 18:03] PReimers commented on #31080
@D4rkMindz

You added the `doctrine/fixtures-bunde` as development requirement. While deploying you're running `composer install` using the `--no-dev` flag.

This is not related to symfony.

[2019-04-11 18:08] D4rkMindz commented on #31080
Shouldn't this line say to not use the Bundle in prod:
[code]
Can be found in [/config/bundles.php](https://github.com/wavetrophy/wavetrophy/blob/62956799ad68595f53255f65afb1fa15ec5bf9ce/config/bundles.php#L23)

[2019-04-11 18:09] PReimers commented on #31080
Your problem is the `--no-dev` in:
[code]

[2019-04-11 18:20] PReimers commented on #31080
Never mind, I just tried to reproduce it.

Can't get the error.

<img width="527" alt="Bildschirmfoto 2019-04-11 um 20 18 40" src="https://user-images.githubusercontent.com/1785288/55981480-12fe8d00-5c97-11e9-91af-ca046721ef13.png">

[2019-04-11 18:28] D4rkMindz commented on #31080
[code]

[2019-04-11 18:48] D4rkMindz commented on #31080
In production i get a 255 error code

[2019-04-11 18:58] D4rkMindz commented on #31080
Closing due to many misleading information

[2019-04-11 19:22] D4rkMindz commented on #31080
If you do not get any output from the console, try to set
[code]

[2019-04-11 19:30] #31080 closed

[2019-04-11 19:37] 12rambau opened #31081 "remove phpunit/phpunit"
**Symfony version(s) affected**: 4.2.3

**Description**
following the courses of [openClassroom](https://openclassrooms.com/fr/courses/4087056-testez-et-suivez-letat-de-votre-application-php/4419436-mise-en-place-dun-outil-pour-implementer-ses-tests-unitaires) I've starting using PHPUnit but at the end of the installation of the dependencies the framework throw a warning and strongly suggest to us

[2019-04-11 21:37] williamjehanne commented on #31081
Can you try
`composer remove --dev phpunit/phpunit --no-scripts`

[2019-04-12 06:02] rsukonovs commented on #31036
Interesting thing is, that you can clear, for example, ``cache.annotations`` in prod env event if it is private service, but not ``cache.serializer``.

[2019-04-12 06:11] ismail1432 commented on #31037
My 2 cents, I’m not sure that ˋRouting` should handle some Security configuration.

Since the `skeleton` we have a good separation of components. I mean the routing should just match ˋurl, requirements...` and call the good `Controller`.
If you need some Security control using `@Security` or `access_control` is enough.

[2019-04-12 07:01] curry684 commented on #30914
@vudaltsov first one is already on the list as manual authentication, second one added, thanks!

@teohhanhui given that in that issue "the framework" has made a choice on the subject I'm not seeing an RFC item there. It's of course a valid discussion but not something to have here right now I think.

[2019-04-12 07:32] nicolas-grekas commented on #29790
Maybe that's beacuse I tried with 4.2.5, but following the instructions posted above, I don't reproduce the issue. Please provide a full reproducer we could clone to see the problem and start working on it.

[2019-04-12 08:12] xabbuh commented on #31079
Can you please create a small example application that allows to reproduce your issue?

[2019-04-12 08:12] 12rambau commented on #31081
It works but that was only hiding the problem because any time I send the `composer update` command I get the error again.

I've search and the problem was coming from the installation. The course suggest to use the `composer require phpunit/phpunit` so the command `composer require --dev phpunit/phpunit` was unable to remove everything. I installed it again and use the command without the `--dev`

[2019-04-12 08:34] #31081 closed

[2019-04-12 08:59] fabpot commented on #31037
Having some security configuration in the routing is something that has been discussed in the past and rejected. In any case, this is also a chicken and egg problem. Closing. Thank you for proposing.

[2019-04-12 08:59] #31037 closed

[2019-04-12 09:11] #28048 closed

[2019-04-12 09:39] ro0NL commented on #31016
didnt happen (yet?)

[2019-04-12 09:40] ruudk opened #31087 "[Intl] Maximum execution time of 10 seconds exceeded in BundleEntryReader.php"
**Symfony version(s) affected**: 4.2.3

**Description**
We're seeing timeouts when using `Intl::getRegionBundle()`:
[code]

**How to reproduce**
Make sure to install ICU 64.1.

I'm running:
[code]

Use this test script:
[code]

Run it with `php test.php`

**Possible Solution**
No idea.

**Additional context**
Working version:
[code]

Broken version
[code]

[2019-04-12 09:41] ruudk commented on #31087
It seems that updating from Symfony 4.2.3 to 4.2.5 solved the issue. I just created this issue so that people that have this problem know what to do.

[2019-04-12 09:42] stof commented on #31087
Closing the issue, as this is already fixed in a released version.

[2019-04-12 09:42] #31087 closed

[2019-04-12 09:44] ruudk commented on #31087
What would be the best way to mitigate these issues? If for whatever reason I get a new ICU version on my machine, than my Symfony Intl supports, will I get these problems in the future? How would you recommend to keep ICU and Symfony Intl in sync?

[2019-04-12 10:00] megawilddaddy opened #31089 "Infinite loop in BundleEntryReader after updating php7.2-intl to 7.2.17 which installs libicu64"
PHP 7.2.17-1+ubuntu18.04.1+deb.sury.org+3
SYMFONY: Symfony 4.2.4

locale_parse('root') now return an empty array as opposed to previos php versions which makes the Symfony\Component\Intl\Data\Bundle\Reader loop through fallback locales as

"en" => "root" => "" => "root" => "" and so on without it becoming null to break the loop

when reading from the regions because in the Symfony\Component\Intl\L

[2019-04-12 10:30] teohhanhui commented on #30914
@curry684 Not the PR, but my comment. Well, I should just put it here:

https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/html5/#pe-dpe
https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/api/org/springframework/security/crypto/password/DelegatingPasswordEncoder.html
https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/api/org/springframework/security/cr

[2019-04-12 10:47] curry684 commented on #30914
Hmm interesting, thanks  👍

[2019-04-12 10:52] ro0NL commented on #31089
confirmed :+1: PR welcome i guess :)

[2019-04-12 11:39] enricog84 commented on #31089
I just had the same issue after upgrading to php version 7.1.28 from 7.1.27.
Using latest symfony 3.4.24 fixed the issue. Imo the additional check in Location.php in the pull request #30781 fixed the issue.

[2019-04-12 11:51] ro0NL commented on #31089
So this is fixed in 4.2.5, @megawilddaddy can you try upgrading to see if it solves your issue as well?

[2019-04-12 12:05] megawilddaddy commented on #31089
Yes, upgrading to 4.2.5 fixed the issue.
Thanks guys!

[2019-04-12 12:05] #31089 closed

[2019-04-12 12:32] chalasr commented on #31016
On it :)

[2019-04-12 13:18] dvdknaap opened #31092 "Deprecated LegacyTranslatorInterface still in use"
**Symfony version(s) affected**: 4.2.5

**Description**
I've created an translator decorator, the decorator needs interface TranslatorInterface.
The Symfony\Component\Translation\TranslatorInterface is deprecated but when you want to use the new interface you get an error in prod mode with the deprecated TranslatorInterface this only happens in prod mode in dev mode i don't see an error.

An quick

[2019-04-12 14:17] Simperfit commented on #28896
What's the status of this @ro0NL ?

Thanks.

[2019-04-12 14:28] Simperfit commented on #27748
Do we want to continue on this ?

[2019-04-12 14:32] Simperfit commented on #27479
can we close this ? @stof @alquerci.

[2019-04-12 14:33] #28326 closed

[2019-04-12 14:34] #30393 closed

[2019-04-12 14:34] #29628 closed

[2019-04-12 14:52] bohdanyurov-gl commented on #31079
Additional info: this only affects symfony/skeleton, not symfony/webapp-skeleton

[2019-04-12 15:03] ro0NL commented on #28896
no progress yet :)

it's more or less matter of exposing https://github.com/symfony/symfony/blob/770c7ddec42d797bfd7b312601594f89e46ff915/src/Symfony/Component/Config/Definition/BaseNode.php#L466-L469

as `forbidEnvironmentVariables()`, and the current `allowPlaceholders()` would tell if this new method is applicable for a node.

[2019-04-12 15:10] 9ae8sdf76 commented on #23447
@nicolas-grekas

My apologies for digging up an old ticket. But, my question is directly related to your comment on [Aug 5](https://github.com/symfony/symfony/issues/23447#issuecomment-320445452) where you state that you shouldn't use `_instanceof` on an abstract service.

However, in my case I do have abstract services that are used with concrete services, and I want to set up `_instanceof` to au

[2019-04-12 15:15] nicolas-grekas commented on #28895
Closing as not a bug, thanks.

[2019-04-12 15:15] #28895 closed

[2019-04-12 15:50] nicolas-grekas commented on #31092
Correct, that's required to preserve BC, see last comment in #31025.

[2019-04-12 15:50] #31092 closed

[2019-04-12 15:56] nicolas-grekas commented on #23447
@9ae8sdf76 This looks like a support question indeed :) to split in several files, you can also use "import" - but remember that lastly declared services completely replace any previous one with the same id, and that whatever is inside `_defaults` applies only to the very file where it is found. Maybe you can share a small app that one could start and that would help understand where you're blocke

[2019-04-12 16:52] nicolas-grekas commented on #31066
I think we're not going to change the current behavior. There have been many back and forth on the topic and things are pretty stable right now around the current behavior. Sorry to ask you to do so, but please update/reorder your routes to make them work.

[2019-04-12 17:00] umpirsky commented on #31066
I'm using `UrlMatcher` directly, I built a tool around it and relied on stable API. I need trailing slash urls to behave differently then regular ones, like they did in the old versions, no route reorder can prevent matching trailing slash urls.

If I define route with path `/foo/{bar}`, I expect it to match `/foo/bar` and not `/foo/bar/`.

[2019-04-12 17:12] saminet commented on #29215
In your class under tests folder, just replace this line
use Symfony\Bundle\FrameworkBundle\Tests\TestCase;
By this
use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;
And it will work fine

[2019-04-12 17:36] dmaicher commented on #31051
@malarzm I agree that this seems a bit odd.

Can you try this patch? Does it make sense to you?

[code]

[2019-04-12 19:32] joeyhub opened #31096 "Symfony uninstall not working"
When I try to uninstall symfony using composer it doesn't work.

Steps to reproduce:

```composer remove symfony/symfony```

[2019-04-12 19:54] 12rambau opened #31098 "cannot executing php bin/phpunit"
**Symfony version(s) affected**: 4.2.3

**Description**
following the courses of [openClassroom](https://openclassrooms.com/fr/courses/4087056-testez-et-suivez-letat-de-votre-application-php/4419436-mise-en-place-dun-outil-pour-implementer-ses-tests-unitaires) and following your advice I've starting using PHPUnit-bridge. At the end of the installation, the shell suggest me to use the command `php

[2019-04-12 20:38] juuuuuu commented on #31096
@joeyhub What is the error reported when you execute this command?

[2019-04-12 20:55] juuuuuu commented on #31098
Could you give more information about what you mean when you say `it stops`?
Also, can you give us all the steps that lead you to this point (which commands did you use)?

[2019-04-12 22:03] malarzm commented on #31051
@dmaicher I can give it a spin on Monday although my tests may still fail. I noticed that we also have logic for blocking chosen listeners, for which an `instanceof` check is performed on listeners returned by `ContainerAwareEventManager::getListeners`  and those can fail if service returns strings instead of actual objects. I think that listeners should be initialized in the `getListeners` method

[2019-04-12 22:06] 12rambau commented on #31098
**Symfony Version affected:** 4.2.3
**php version:** 7.1.2

**command executed so far:**
`composer require --dev symfony/phpunit-bridge` (installation of the version 4.2)
`php bin/phpunit`

**output:**
[code]
Test report from phpUnit should be following (according to the documentation) but for me `it stops` (I have no other words to describe it).

I've dig into the `simple-phpunit` file  and what

[2019-04-12 22:29] joeyhub commented on #31096
```Error: Not uninstall working, exiting.```

[2019-04-13 06:03] Simperfit commented on #31096
@joeyhub Could you please post the whole stacktrace ?

[2019-04-13 06:13] Simperfit commented on #27724
I agree with @Taluu it looks like a bug to me if we don't use flex and don't need fragments.
Bump that and I think we should go with 1.

[2019-04-13 06:46] Simperfit commented on #27665
Do we want to go forward with this feature ? @stof @linaori

[2019-04-13 07:08] nicolas-grekas commented on #27665
Nope on my side.

[2019-04-13 07:25] fabpot commented on #27665
That's a no-go for me as well, closing.

[2019-04-13 07:25] #27665 closed

[2019-04-13 07:55] Simperfit commented on #27639
What about this one @fabpot ?

[2019-04-13 07:56] Simperfit commented on #27635
@mathroc do you want / have time to work on a fix ?

[2019-04-13 07:57] Simperfit commented on #27624
Can we close this one @javiereguiluz

[2019-04-13 08:00] Simperfit commented on #27607
@timostamm could you provide a pull request about this bug ? so we can check the provided fix directly.

Before doing could you check again against master since some work has been done on the serializer lately.

[2019-04-13 08:03] Simperfit commented on #27588
@monojp do you want to create a Pull request link to both issues ?

[2019-04-13 08:05] Simperfit commented on #27534
@cejen do you want to work on this ?

[2019-04-13 08:09] Simperfit commented on #27428
@mnavarrocarter Sorry to bump you on this, do you have some time to do this or do you want someone to take it ? Or is it already done and the PR is not linked ?

[2019-04-13 08:11] Simperfit commented on #27426
@lyrixx do you want to work on a fix so we can move forward with this ?

[2019-04-13 09:07] xabbuh commented on #31096
And please also show the complete output you get.

[2019-04-13 11:09] raziel057 commented on #27624
Without the ability to set persistent connections on Doctrine the benchmarks gives bad results and lot of errors. We need to wait for Doctrine Dbal 3.0 to be released to fix this.

[2019-04-14 05:39] Dersoncarlos commented on #20284
version php > 5

[2019-04-14 07:57] methodeprog opened #31104 "User Deprecated: The spaceless tag is deprecated since Twig 2.7, use the spaceless filter instead"
**Symfony version(s) affected**: 4.2.5
Dear value member, i need help !
**Description**

Try to deploy on Heroku by Bitbucket.
After the Build on Bitbucket, i'm facing issue on the deployement on Heroku.

ocramius/package-versions: ...done generating version class
Executing script cache:clear [KO]
// Clearing the cache for the prod environment with debug
// false
PHP Fatal error:  Allowed memory s

[2019-04-14 09:26] xabbuh commented on #31104
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2019-04-14 09:26] #31104 closed

[2019-04-14 10:24] dvdknaap commented on #31092
@nicolas-grekas ok, so there is no solution? and what me concern the most is how come prod working differently then dev ? I've got the same thing with custom  authentication which is working on dev but on prod it fails.

[2019-04-14 11:32] scuben opened #31105 "[Mailer] stream_socket_enable_crypto php warning about crypto type"
**Symfony version(s) affected**:
4.3-dev

**Description**
When using the `EsmtpTransport` transport with `tls` encryption I receive a PHP warning:
[code]

**How to reproduce**
[code]

**Possible Solution**
Honestly I have no clue on how `stream_socket_enable_crypto` should work, sorry.

[2019-04-14 11:42] scuben commented on #31105
After reading the documentation and doing a test the third parameter should be `STREAM_CRYPTO_METHOD_ANY_CLIENT`.

[2019-04-14 15:05] vytsci opened #31106 "Locale::getFallback returns false instead of null and infinite loop begins"
**Symfony version(s) affected**: 3.x, 4.x

**Description**
Due to update in php-intl library this loop is infinite.
https://github.com/symfony/symfony/blob/95932df2ac5edd98db521bb6507d22edcdc602c6/src/Symfony/Component/Intl/Data/Bundle/Reader/BundleEntryReader.php#L81

**How to reproduce**
Update php-intl to the latest version and try to get country names for en locale for example.

**Possible Sol

[2019-04-14 15:35] nicolas-grekas commented on #30863
Fixed in #31107

[2019-04-14 15:40] nicolas-grekas commented on #31066
With #31107, `/foo/{bar}` will `/foo/bar/` redirect to `/foo/bar`, unless a preceding route takes over.

[2019-04-15 04:40] Simperfit commented on #27517
PR welcomed, if someone wants to work on a fix, if not, ill try to do it :p.

[2019-04-15 04:42] Simperfit commented on #27408
@vbartusevicius do you want to work on this ?

[2019-04-15 05:20] Simperfit commented on #27401
PR has been done, since it has changed alot since the issue, could you please confirm that the implementation is linked to what you had in mind @xabbuh ?

[2019-04-15 06:45] ro0NL commented on #31106
duplicate of #31089?

[2019-04-15 07:49] nicolas-grekas commented on #31045
do you have a use case for that yourself?
why would this be required to allow twig files to be uploaded?

[2019-04-15 08:29] umpirsky commented on #31066
Yes, and that is a BC break.

If it's not going to be fixed I have two options:

1. Stick with `4.1.2`
1. Add some ugly workaround like this in my code:

[code]

[2019-04-15 08:30] ktherage opened #31111 "Split the logic of Response::isNotModified()"
**Description**
Just a short question about `Response::isNotModified()` (https://github.com/symfony/symfony/blob/4.0/src/Symfony/Component/HttpFoundation/Response.php#L1059), can we split his logic into two differents functions and use them in it?

I mean that, IMO, it is confusing with HTTP Specification to have on method checking `If-Modified-Since` request headers which is associated with `Last

[2019-04-15 08:52] nicolas-grekas commented on #31066
Or updating the routes you define I believe. Without knowing more about your use case and your route collection, I'm not sure I can help you more, but the behavior change is likely not going to be reverted..

[2019-04-15 09:03] charj commented on #27517
Do it! I'll help test and code review! :+1:

[2019-04-15 09:12] umpirsky commented on #31066
OK, let's imagine https://github.com/umpirsky/SUMT/blob/master/src/Umpirsky/SUMT/UrlMatcherTest.php is my use case. How can route update keep the tests pass?

[2019-04-15 09:19] nicolas-grekas commented on #31066
With #31107, tests pass on my machine.

[2019-04-15 09:42] #29659 closed

[2019-04-15 09:44] umpirsky commented on #31066
What version of Symfony?

[2019-04-15 09:46] umpirsky commented on #31066
Great, thanks!

But it will never be perged into `4.1`, right?

[2019-04-15 09:52] nicolas-grekas commented on #31066
Nope: https://symfony.com/roadmap/4.1

[2019-04-15 10:04] Imunhatep opened #31113 "[Request] Request::hasPreviousSession() inits session driver"
**Symfony version(s) affected**: 4.2.x/master

**Description**
Connection to session storage (e.g. redis) initialized by calling Request::hasPreviousSession() method.

**How to reproduce**
Misconfigure session handler with incorrect endpoint, make a request and check previous session

**Possible Solution**
Check if session name cookie is in request and it's value is not empty, do not touch Session

[2019-04-15 10:07] umpirsky commented on #31066
:(

[2019-04-15 10:47] vytsci commented on #31106
Yep sorry, I think so.

[2019-04-15 10:50] #31106 closed

[2019-04-15 11:52] #18368 closed

[2019-04-15 12:54] jakzal commented on #31106
@vytsci the fix is present in the 3.4 branch.

[2019-04-15 13:27] vytsci commented on #31106
@jakzal yes Ive already found it. ty

[2019-04-15 13:34] mathroc commented on #27635
@Simperfit I don't know how this should be fixed properly

[2019-04-15 13:43] maximsamoilov commented on #27465
I have one question. Seems symfony 4 load all routes from files which located in config/routes folder?

[code]
[code]

[2019-04-15 13:53] yceruto commented on #27465
Yes, although you are free to change that behavior in your `Kernel.php`
https://github.com/symfony/recipes/blob/c466e7a6cfa12b61a8e73537df518b4008a8f1c7/symfony/framework-bundle/4.2/src/Kernel.php#L45-L52

[2019-04-15 13:58] stephanvierkant commented on #26989
There is even more information that could be relevant, like performance metrics, (deprecation) logs count, Doctrine query (time, count), method type (xhr, fetch), etc.

Showing all information would make the page a mess, but there is already some logic to give the toolbar icons an other color if something's wrong (yellow/red). Maybe use that logic to show extra information in the profile list?

[2019-04-15 14:26] stof commented on #26989
@stephanvierkant making the toolbar item red or green is something controlled by each panel when rendering them item. There is no way to know what this panel uses to decide that. So we cannot really build that info in this list, where we don't even load the full data for each listed profile.

[2019-04-15 14:26] cybernet commented on #31045
it’s exactly that !
you can either accept the pull request or you don’t.
you are the maintainers of the app, so you should do what you think it’s best
after all, it’s “your” MimeType.
... that’s all folks:)

[2019-04-15 14:31] weaverryan commented on #29556
Re-opened at https://github.com/symfony/webpack-encore/issues/566

[2019-04-15 14:31] #29556 closed

[2019-04-15 14:31] sterichards opened #31116 "generate:bundle adding incorrect syntax to example into ./Bundle/Resources/config/services.yml file"
**Symfony version(s) affected**: 3.4

**Description**
When using `bin/console generate:bundle` the example entry that gets added to ./Bundle/Resources/config/services.yml is using double quotes where is should be single quotes. Double quotes are deprecated for use in services.yml in Symfony 3.4

**How to reproduce**
`php bin/console generate:bundle`

**Possible Solution**

**Additional context**

[2019-04-15 14:44] dmaicher commented on #31116
Actually the generator functionality is provided by this bundle: https://github.com/sensiolabs/SensioGeneratorBundle

[2019-04-15 15:19] #31116 closed

[2019-04-15 18:06] Simperfit commented on #27395
@weaverryan can this be closed ?

[2019-04-15 18:32] Simperfit commented on #27333
I can confirm this issue. But I don't know how to fix this, it seems really complicated to fix this. @okdana do you have something in mind ?

This is because of https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Console/Input/ArgvInput.php#L100 for the first part (when only using -x -1) since it's only 1 char (strlen count more than 1 char) it then tries to add a short option wit

[2019-04-15 18:34] Simperfit commented on #27289
Does this stays in the won't fix or did you fix this with @greg0ire @nicolas-grekas ?

[2019-04-15 18:36] Simperfit commented on #27276
Can we move on this RFC ?

[2019-04-15 18:42] j4nr6n opened #31119 "Configuring framework.ide when xdebug.file_link_format is set causes exception."
**Symfony version(s) affected**: 4.2

**Description**
I did this:
[code]
and this:
[code]
and got this:
![image](https://user-images.githubusercontent.com/3661151/56157087-a59b7680-5f8c-11e9-9768-ae8ca683b793.png)

I'm not sure what I expected to happen. I didn't expect an exception by overriding an environment variable though.

**How to reproduce**
The good news is, there's a [reproducer app](htt

[2019-04-15 19:33] dimabory commented on #27517
@charj @tienvx Please read more about verbosity levels to understand why `isVerbose` method call responds with either `false` or `true`. It returns `true` only in the case when actual verbosity value is more than `OutputInterface::VERBOSITY_VERBOSE`.

https://symfony.com/doc/current/console/verbosity.html

[2019-04-15 19:34] okdana commented on #27333
I've only just glanced at it, so this is straight off the top of my head, but could the `parse*Option()` methods just pass back some indication that the next token should be an argument? e.g.:

[code]

[2019-04-15 20:14] fabpot commented on #31045
I agree with both https://github.com/symfony/symfony/pull/31109#discussion_r275458302 and https://github.com/symfony/symfony/pull/31086#issuecomment-483010007, so let's close.

[2019-04-15 20:14] #31045 closed

[2019-04-15 20:15] #31039 closed

[2019-04-15 20:33] greg0ire commented on #27289
I didn't continue working on that tool, but might if there is still a need, but apparently phpunit is starting to integrate with phpscoper: https://github.com/sebastianbergmann/phpunit/issues/2015#issuecomment-476665100 this should fix autoloading conflict issues

[2019-04-15 20:51] nicolas-grekas commented on #27289
phpunit is just one tool. The general issue remains: deps of tool should not mangle one deps. phpscoper won't really help here as ppl will still continue to use composer to control the version of their tools that their apps need.
Let's continue that require-tool we talked about :)

[2019-04-15 22:17] phansys opened #31120 "[ProxyManagerBridge] Lazy services declaring the same class are not being constructed properly"
**Symfony version(s) affected**: 4.2.5

**Description**
Lazy services declaring the same class are not being constructed properly with `symfony/proxy-manager-bridge`

**How to reproduce**
[Reproducer ref.](https://github.com/phansys/skeleton/blob/3d9e50194d33377a85ef57b7d9d5f624249c1621/config/services.yaml#L29-L41).
[code]

You can also checkout the reproducer and execute [this test](https://gith

[2019-04-16 04:27] tienvx commented on #27517
Thank you for clarify it @dimabory +1

But I think this is still a bug, right?

[code]

This code print empty string

[2019-04-16 04:33] tienvx commented on #27517
In order to help debugging, here are commands to reproduce the bug:
[code]
Here is the code https://github.com/tienvx/mbt-api-bundle/blob/master/src/Controller/ModelController.php#L146

Hope it help!

[2019-04-16 06:30] Simperfit commented on #27266
Is there something to do here ?

[2019-04-16 06:32] Simperfit commented on #27262
So I if understand properly only the 1. and the  Serializer normalizers is missing ?

[2019-04-16 06:40] Simperfit commented on #27204
This is more linked to FrameworkExtraBundle, can we close this one and reopen it on the right repo ?

[2019-04-16 07:09] dimabory commented on #27517
@tienvx I don't think this is a bug. Could you explain what do you actually expect from the command (please add command's code as well to above comment)?

[2019-04-16 07:22] ogizanagi commented on #27262
Indeed. Also, feature requests as https://github.com/symfony/symfony/issues/17843 might benefit from recent changes to display more info interactively on the graph.

[2019-04-16 07:36] charj commented on #27517
@dimabory There is no verbose output despite the flag being added

[2019-04-16 07:54] dimabory opened #31126 "[PropertyAccessor] [DX] - Use bitmask arguments to set up throwExceptionOnInvalidIndex and throwExceptionOnInvalidPropertyPath"
**Description**
I'd like to have a bitmask argument in the `PropertyAccessor` constructor. Currently, it's hard to understand on the first sight what each argument means while initializing `PropertyAccessor`. I know that PropertyAccessor intended not to be used in the application code, but it doesn't prevent to use it anyway.

**Example**

***Before***:
[code]
***After***:
- By default:
[code]

-

[2019-04-16 08:13] stephanvierkant commented on #27995
Yes, that's what I mean! In Symfony 4.3 there are even more features: [New in Symfony 4.3: Workflow improvements](https://symfony.com/blog/new-in-symfony-4-3-workflow-improvements#added-workflow-transition-blockers-twig-function). The recently added `workflow_transition_blockers()` Twig function could have a SecurityVoter equivalent: something like `security_voter_blockers()`, which returns the re

[2019-04-16 08:25] secit-pl opened #31127 "Duplicated attributes while rendering form with null block prefix"
**Symfony version(s) affected**: 4.2.6

**Description**
Rendering form with null block prefix duplicates the form default attributes in rendered html. This is major problem if we'd like to add id attribute to it as id should be unique in whole HTML document.

**How to reproduce**

Create form as follows

[code]
Pass it to the twig as follows:

[code]
And than render it using Twig

[code]

The resu

[2019-04-16 08:42] dimabory commented on #27517
In the description of the issue you've provided this
[code]

[2019-04-16 09:22] johnillo commented on #30192
@javiereguiluz , I'd like to take this one as my good first issue.

[2019-04-16 09:57] javiereguiluz commented on #30192
@johnillo great! Thank you very much. If you need any help, please ask us in Symfony's Slack.

[2019-04-16 10:33] bohdanyurov-gl commented on #19655
@fabpot I am still curious about whitelisting GET query parameters. Shouldn't it resolve your security concerns?

[2019-04-16 11:51] derrabus commented on #31111
What would be the use-case of such a change?

[2019-04-16 12:18] #27204 closed

[2019-04-16 12:21] dimabory commented on #30703
@drupol Works well as well on my side.

But I think @beutelsend has mentioned about the following case:

[code]

In that case, only the first value will be set into the `property`.

[2019-04-16 13:32] dron-alterpost opened #31129 "Cookie expiration time in server time"
**Symfony version(s) affected**: ^3.4|^4.0.

**Description**
When I pass expiration time to \Symfony\Component\HttpFoundation\Cookie, it converts to timestamp.
It is not possible to set cookie with defined TTL (max-age) in client's timezone.
It is required when relative time is needed.

**How to reproduce**
[code]

[2019-04-16 13:43] stof commented on #31127
`null` is not a valid block prefix. The signature of the method in the interface is `@return string`. So this cannot be considered as a bug in Symfony.

If you want to have a form with an empty root name, the solution is to use `\Symfony\Component\Form\FormFactory::createNamed`, not to use `null` as the block prefix (the block prefix is used the the *default* name, but it controls much more than t

[2019-04-16 14:00] Tobion commented on #27266
I'm fine with adding the `,` to the decoded chars similar to https://github.com/symfony/symfony/pull/12223/files.

[2019-04-16 14:26] xabbuh commented on #30703
@dimabory I am fine with adding support for this as a new feature.

[2019-04-16 14:54] charj commented on #27517
@dimabory Apologies, I have corrected my orignal post.

[2019-04-16 14:58] nicolas-grekas commented on #31036
Maybe the `cache.serializer` pool is never used in this setup, so there is nothing to cache nor clear and the service is optimized out? Can anyone have a look?

[2019-04-16 15:08] nicolas-grekas opened #31135 "Prepare for PHP 7.4: use ReflectionReference in VarCloner"
In VarDumper's `VarCloner`, we use some black magic tricks to work with PHP references (called "hard references" in the code, i.e. `$b = &$a`).

In PHP 7.4, this will break with typed properties, because of the `$cookie` trick that is used to detect these references.

But PHP 7.4 has a solution: [`ReflectionReference`](https://wiki.php.net/rfc/reference_reflection)

So, when PHP 7.4 is used, we ca

[2019-04-16 15:10] Tobion commented on #27266
I opened a PR for this.

[2019-04-16 15:10] dimabory commented on #27517
@charj Please re-read this comment - https://github.com/symfony/symfony/issues/27517#issuecomment-483387520

`bin/console verbose:test -q` = `OutputInterface::VERBOSITY_QUIET`
`bin/console verbose:test` = `OutputInterface::VERBOSITY_NORMAL`
`bin/console verbose:test -v` = `OutputInterface::VERBOSITY_VERBOSE`
`bin/console verbose:test -vv` = `OutputInterface::VERBOSITY_VERY_VERBOSE`
`bin/console ve

[2019-04-16 15:22] stof commented on #31120
Well, you are asking to get a service implementing `App\Service\BazInterface`, not a service being a `App\Service\Foo`. So the lazy proxy will implement the interface, but it has no reason to extend the class `App\Service\Foo`

[2019-04-16 15:43] phansys commented on #31120
I think you're right. The exposed scenario is product of a misconfiguration, but the thing is that misconfiguration was working in previous versions. Even, this is working if `symfony/proxy-manager-bridge` is not used or if the "lazy" option is removed.
IMHO we should avoid this situation early as we can, at compile time if possible. At least, the behavior between the variants previously mentioned

[2019-04-16 15:46] stof commented on #31120
Well, if `symfony/proxy-manager-bridge` is not used or `lazy` is removed, no proxy object is created. So the instance will use whatever class your factory will return.
In case of a lazy proxy, the *inner* object of the proxy will still be whatever your factory returns, but not the service instance itself.

[2019-04-16 15:55] #31129 closed

[2019-04-16 15:57] javiereguiluz commented on #31127
I'm closing this as "fixed" because of the reasons given by @stof. Thanks.

[2019-04-16 15:57] #31127 closed

[2019-04-16 15:58] JarJak opened #31136 "[3.4.25][BC Break] 403 instead of 401 for unauthorized users"
**Symfony version(s) affected**: 3.4.25

**Description**
Symfony now returns 403 instead of 401 for unauthorized users.

**How to reproduce**
1. Create controller with a security voter like `$this->denyAccessUnlessGranted(...)`
2. Try to access this route with an unauthorized user
3. Observe different status codes (401 in 3.4.24 vs 403 in 3.4.25)

**Possible Solution**
Undo this change, or at leas

[2019-04-16 16:21] phansys commented on #31120
I understand, the lazy proxy's _inner_ object will not be unwrapped while autowiring or checking against `instanceof` operator.
Given your description, IIUC, I guess the lazy definition was ignored in previous versions; otherwise I don't know how it was working.

[2019-04-16 17:28] ro0NL commented on #28836
I tend to believe we should remain practical, and support both PHP or Intl timezones. That's an extra cost though, but saves us the deprecation hassle or being opinionated for that matter :grin:

Also, m really unsure how common (or uncommon) the Intl timezone IDs in the community really are. For languages, currencies, etc. this was more obvious.

It's also harder to translate the PHP timezones, a

[2019-04-16 18:05] TomAdam commented on #31036
By default serialiser annotations are disabled so there isn't anything to cache. Setting `framework.validation.enable_annotations` to true fixes the issue. I haven't yet figured out why the behaviour is different in the dev env.

[2019-04-16 19:00] yceruto commented on #30359
As both RPs were rejected, I think this can also be closed

[2019-04-16 19:21] Simperfit commented on #31111
I would like to see a real case that needs this to be changed. Could you explain why you would need it ?

[2019-04-16 19:44] TomAdam commented on #31036
It is of course the cache profiler that makes it work in the dev env.

[2019-04-16 19:47] nicolas-grekas commented on #31036
Thanks for investigating, this means no but then, the error message said it all, right?

[2019-04-16 20:29] TomAdam commented on #31036
Yes, no actual bug here. I think the DX could be better in terms of the error message but I can't see a way to do so without catching the `ServiceNotFoundException` and emitting a more contextual exception. This would however hide genuine container exceptions. If a cache is registered using the normal tag then this can't happen as it is within the `Psr6CacheClearer` and therefore available to the

[2019-04-16 20:44] dimabory commented on #31126
@javiereguiluz

Even better than this
[code]

vs

[code]

[2019-04-16 20:49] curry684 commented on #31136
It's most certainly more correct according to protocol.

[2019-04-16 21:06] JarJak commented on #31136
But it's a BC break and not a security issue.

[2019-04-17 06:26] Simperfit commented on #26992
@linaori do you have time to implement this ?

[2019-04-17 06:29] Simperfit commented on #26989
@Toflar Do you time to work on this ?

[2019-04-17 06:32] Simperfit commented on #26969
Maybe the PR can be merged and this closed, everything seems ready.

[2019-04-17 06:33] Simperfit commented on #26966
Do we need to do something here then ?
@weaverryan

[2019-04-17 07:14] linaori commented on #26992
I can help if needed, don't have time to work on this myself. Any desired code can be grabbed from https://github.com/linaori/http-bundle and used. When implemented, I can deprecate this package and refer to symfony

[2019-04-17 07:29] curry684 commented on #31136
I agree, I [even mentioned it before](https://github.com/symfony/symfony/pull/30423#issuecomment-480510058) that it's a BC break because of the behavioral change. I didn't foresee it would cause the other return code though, nor did any of the other reviewers apparently.

I'd say revert it in 3.4 an 4.2 and ship the change with documentation for 4.3.

[2019-04-17 07:46] nicolas-grekas commented on #31136
A BC break wouldn't be more acceptable in 4.3 than in 3.4.25.
And any bug fix in a BC break for someone.
We have to decide where we stand between these two lines.

[2019-04-17 07:57] althaus commented on #26989
I'd be happy with just this.

[2019-04-17 08:12] JarJak commented on #31136
@nicolas-grekas it depends what you define by bug fix... this one was only about status code change from 403 to 401 and definitions of these codes are soft... it is more an improvement than a bug fix

[2019-04-17 08:32] Aerendir commented on #27204
@xabbuh , was this reopened in the right repo?

[2019-04-17 08:36] nicolas-grekas opened #31139 "Built-in password hash migrations"
#30955 is proposing adding a new event to hook into the password verification process and allow listeners to deal with clear text passwords. Thinking a bit about this approach, I have a different one to propose here.

The most important drawback of #30955 is that it's still up to the application to implement some custom code to run a "needs rehash" logic then a "persist new encoded password" one.

[2019-04-17 08:36] xabbuh commented on #27204
@Aerendir I thought the issue linked in https://github.com/symfony/symfony/issues/27204#issuecomment-387671517 was the good one. If that's not the case, can you please open one in the FrameworkExtraBundle repository?

[2019-04-17 09:40] aschempp commented on #31139
Would the `UpgradablePasswordInterface` be implemented by the user object? I think that could be problematic because the user object is not a service, so it possibly does not have access to the database. Maybe it should be on the `UserProvider` and get the user object in the method signature?

[2019-04-17 09:59] teohhanhui commented on #31139
`upgradePassword` needs the plaintext password to do its job.

[2019-04-17 10:00] teohhanhui commented on #31139
Calling `isPasswordValid` should not produce side effects. The caller should be in charge.

[2019-04-17 11:41] Guojunzhou-git opened #31141 "which version should i use if my php version < 7.1 and i need overload ?"
I need to use overload method to overwrite vars from .env file instead vars in OS env;
so I upgrade symfony/dotenv from ^3.4 to ^4.2;
then I deployed to test env, but our php version is 7.0.30 in test env;
[code]
then I found Type Void is supported in php 7.1;

so is upgrade my php the only way to sovle this? or do we have a version supported overload with php version lt php7.1?

[2019-04-17 11:42] fabpot commented on #31136
I think it should have been merged in master instead.

[2019-04-17 11:45] dkarlovi commented on #31139
How do you deal with several "generations" of users, some of which have their password in `algo1` (they haven't logged in since the upgrade to `algo2`), some in `algo2` (they have) and now you're moving to `algo3`.

Also, a comment I agree with here https://github.com/symfony/symfony-docs/issues/9356#issuecomment-369172755 points out you wish to rehash passwords (hashes) ASAP. This means passwords

[2019-04-17 12:00] curry684 commented on #31136
Yes we decided then to ignore the behavioral break per the "it's a break for everyone" argument, but nobody correctly foresaw the functional break. 403 instead of 401 could cause far greater breakage, ie. in external API clients etc.

[2019-04-17 12:13] gander commented on #28350
Did you try `composer install --no-dev`?

[2019-04-17 12:24] teohhanhui commented on #31139
See https://github.com/symfony/symfony/issues/30914#issuecomment-482525127

[2019-04-17 12:26] JarJak commented on #31136
@fabpot can it be reverted in 3.4.26 ?

[2019-04-17 12:34] nicolas-grekas commented on #31139
there is nothing to do for passwords encoded/verified with`password_hash()` and `libsodium` as these strategies already know about many algos. Then, a chain encoder would provide migration from message-digest/pbkdf2/etc to them.

[2019-04-17 12:35] nicolas-grekas commented on #31136
Please send PRs

[2019-04-17 12:54] JarJak commented on #31136
@nicolas-grekas It's just about reverting https://github.com/symfony/symfony/commit/fd1408b13869a381fbebf9b9967f7a80e8b141d3 on 3.4 branch. @curry684 do you agree?

[2019-04-17 13:09] chalasr commented on #31136
See #30423.

[2019-04-17 13:21] charj commented on #27517
Thanks for the info @dimabory I'll investigate later today when I have some more time.

[2019-04-17 13:24] dmaicher commented on #31141
So first of all I would suggest you to use the same php version locally on testing and also on production :blush: Otherwise there can always be interesting surprises like the error you mentioned above.

And yes, Symfony 4.2 requires php >= 7.1.3

https://github.com/symfony/symfony/blob/4.2/src/Symfony/Component/Dotenv/composer.json#L19

So you need to downgrade the symfony packages or upgrade your

[2019-04-17 13:45] #30359 closed

[2019-04-17 13:54] fabpot commented on #7502
I don't think we will ever implement this in core. Let's close.

[2019-04-17 13:54] #7502 closed

[2019-04-17 13:57] fabpot commented on #11573
Closing as there is no traction on this issue. If one wants to submit a PR for that feature, that would be great.

[2019-04-17 13:57] #11573 closed

[2019-04-17 14:01] aschempp commented on #31139
@teohhanhui rehasing several algorithms is not a problem. Whenever the user logs in, you **already** have the clear text password.

We have currently implemented such a solution in Contao (https://github.com/contao/contao/blob/master/core-bundle/src/Resources/contao/library/Contao/User.php#L498-L510), as this already existed before we integrated Symfony. We have successfully migrated from SHA1 to

[2019-04-17 15:15] teohhanhui commented on #6088
I'm working on migrating https://github.com/Sylius/SyliusShopApiPlugin to API Platform, and here's our use case:

Sample output from `bin/console debug:router`:

[code]

Being able to alias `sylius_shop_api_register` to `api_register_customer_requests_post_collection` would be perfect.

Without route aliases, if we want to keep the old route name (for BC with clients that use route names), we are

[2019-04-17 15:25] Abdelmonem-BEN-NACEUR commented on #24647
@xabbuh thank you :D, you saved my time.

[2019-04-17 15:28] stof commented on #31139
I don't think that should be implemented in an interface extending PasswordEncoderInterface. The common way to switch algo for older users is to switch the PasswordEncoder selected by the factory (thanks to the EncoderAwareInterface on the User, which is precisely meant for that). In that case, the encoder cannot implement that interface. Doing that in a PasswordEncoder would actually require dupl

[2019-04-17 15:36] #30863 closed

[2019-04-17 15:36] #31066 closed

[2019-04-17 15:37] #31136 closed

[2019-04-17 15:38] #30192 closed

[2019-04-17 15:58] chalasr commented on #28229
Patch reverted, reopening.

[2019-04-17 16:09] stof commented on #6088
@nicolas-grekas the difference between (deprecated) aliases and creating a second deprecated routes is that aliases would be available only during URL generation, but would not impact the matcher. Creating a second deprecated route with the same pattern would impact the matcher (and may have weird effects in it)

[2019-04-17 16:17] stof commented on #6088
We have 2 entry points for the routing component: matching and url generation. We need to evaluate how each use case would happen:

- what would a deprecated route mean for URL matching ? We cannot trigger deprecations in the client sending us the HTTP request. I'm not sure what deprecating a route should mean for the matching
- for URL generation, I see 2 separate use cases:
    - renaming routes

[2019-04-17 16:41] proArtex commented on #30854
@nicolas-grekas but it works fine if I declare the service inside services_dev.yaml for example. Does it win by declaring last? Changing Kernel's loading order doesn't make sense, so it works fine even if services_dev.yaml goes first.

[2019-04-17 16:44] proArtex commented on #30854
I would expect autowiring has less priority than services defined by hands independently from the declaration order.

[2019-04-17 16:47] jeromegamez opened #31149 "[HttpKernel] Invalid VERSION_ID in Kernel"
**Symfony version(s) affected**: 2.8.50

**Description**

`Symfony\Component\HttpKernel\Kernel::VERSION_ID` is an unquoted `2.8.50` instead of `20850`, causing a PHP Syntax error.

**How to reproduce**

[code]

**Possible Solution**

[code]

:octocat:

[2019-04-17 16:47] fabpot commented on #31149
fixed now

[2019-04-17 16:47] #31149 closed

[2019-04-17 16:48] nicolas-grekas commented on #31139
I don't think my answer is wrong, so maybe I was not clear enough. Anyway, I'll make it work and that should settle what's possible or not ;)

[2019-04-17 17:04] proArtex opened #31150 "[DI] Service defined in separate file is ignored"
**Symfony version(s) affected**: 4.2.5

**Description**
Issue is related to #30854
A Service defined in separate file (but not services_{env}.yaml) loose to autowiring in services.yaml

**How to reproduce**
[code]

[code]
Then I got a message `Cannot resolve argument $foo of "App\Controller\DefaultController::index()": Cannot autowire service "App\Foo": argument "$bar" of method "__construct()" is

[2019-04-17 17:11] nicolas-grekas commented on #31150
Duplicate of #30854, not a bug, see answer there, isn't it?

[2019-04-17 17:12] tgalopin commented on #31139
@stof I think you're saying the same thing.

[2019-04-17 17:34] Taluu commented on #31150
I already reported that a year ago or so. I think it's a bug, that "wildcard" definitons (such as `App\` should not try to load services already defined. Especially iif `services.yaml` (and consorts `services_*.yaml`) are loaded last in the Kernel. See https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/4.2/src/Kernel.php#L41-L42

[2019-04-17 17:53] teohhanhui opened #31151 "[PropertyInfo] Extract write-only properties from constructor"
**Description**
Currently, if we have write-only properties that are passed as constructor arguments, they are not extracted by any of the default extractors when calling `PropertyListExtractorInterface::getProperties`.

**Example**
[code]

[2019-04-17 18:06] greenphp opened #31152 "Update to 4.2.7 - Fatal error: Interface 'TranslatorInterface' not found"
**Symfony version(s) affected**: 4.2.7

**Description**
After my composer update from 4.2.6 to 4.2.7 I get the following fatal error.

[code]

**How to reproduce**

Upgrade from  4.2.6 to 4.2.7 via composer update.

[2019-04-17 18:11] proArtex commented on #31150
@nicolas-grekas isn't really. You said "That's because the last declared service wins", but why does the definition work inside services_dev.yaml then? Changing the App\Kernel resources loading order doesn't make sense, so it's not absolutely correct statement. It seems like App\ has more priority. Could you please clarify this behaviour?

[2019-04-17 18:33] jsamouh commented on #31152
same error

[2019-04-17 18:54] jmunozco commented on #31152
same error

[2019-04-17 19:01] fdbatista commented on #31152
does anyone have a solution for this? update seems fine, but i´m getting this problem when trying to issue php bin/console doctrine:cache:clear

[2019-04-17 19:02] TomaszGasior commented on #31152
https://github.com/symfony/symfony/pull/31108#issuecomment-484184993

[2019-04-17 19:09] fdbatista commented on #31152
thanks!

[2019-04-17 20:15] dqblanco commented on #31152
Same error. For the moment we go back to version 4.2.6.

[2019-04-17 20:18] TomaszGasior commented on #31152
Mailbox spammed by thousands of "same error" mails won't help them to fix it up. ;)

[2019-04-17 20:23] nicolas-grekas commented on #31152
Thanks @Gemorroj for providing this workaround.
I'll have a look tomorrow, unless someone submits a PR meanwhile.

[2019-04-17 20:42] goetas commented on #31152
I have the same issue.

The problem here is that `LegacyTranslatorProxy` exits, but it implements `Symfony\Component\Translation\TranslatorInterface` and `Symfony\Contracts\Translation\TranslatorInterface` that can be not available`, thus a fatal error is triggered in that case since is not possible to load the interfaces to complete `LegacyTranslatorProxy` defintions.

[2019-04-17 20:45] jsamouh commented on #31152
class_exist(LegacyTranslatorProxy::class) is the problem :-D.

[2019-04-18 00:18] zhurinvs commented on #16671
@webmozart, in this case, i can't understand, how Valid constraint validator works? It's a one constraint, but it must be validated through miltiple groups. Why RecursiveContextualValidator not skips it after validation through first group?

[2019-04-18 05:37] Simperfit commented on #31126
IMHO it's better with the const, I have a better understanding of what is passed to the Accessor like this.

[2019-04-18 05:49] Simperfit commented on #26640
@nicolas-grekas @fancyweb what can we do about this ?

[2019-04-18 05:49] notrix commented on #31152
Same error here

[2019-04-18 05:50] Simperfit commented on #26623
@MonsieurLanza  did you see why it fails ?

[2019-04-18 05:52] Simperfit commented on #26699
ping @dunglas @joelwurtz

[2019-04-18 05:53] Simperfit commented on #26637
@nicolas-grekas what do you think of such a warning ? @FroggDev do you still want to create the PR ?

[2019-04-18 05:57] Simperfit commented on #26523
Can  we move forward on this ?
I feel that could be really useful.

[2019-04-18 06:05] xabbuh commented on #31152
see #31156

[2019-04-18 06:14] xabbuh commented on #31141
You either need to upgrade to PHP +7.1.3 (which I'd highly recommend) or implement the method in your own code. I am going to close here as there is nothing to change on our side. Thank you for understanding.

[2019-04-18 06:14] #31141 closed

[2019-04-18 06:24] xabbuh commented on #31096
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-18 06:24] #31096 closed

[2019-04-18 06:25] xabbuh commented on #31079
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-18 06:25] #31079 closed

[2019-04-18 06:25] xabbuh commented on #29790
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-18 06:25] #29790 closed

[2019-04-18 06:25] xabbuh commented on #31077
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-18 06:25] #31077 closed

[2019-04-18 06:25] xabbuh commented on #28680
I am going to close here for now due to the lack of feedback. Please let us know when you have more information and we can consider to reopen.

[2019-04-18 06:25] #28680 closed

[2019-04-18 06:26] xabbuh commented on #30689
I am closing here for now. We can still reopen when we are able to reproduce. Thank you for understanding.

[2019-04-18 06:26] #30689 closed

[2019-04-18 06:36] Guojunzhou-git commented on #31141
Thanks for your advice. Finally, I upgrade my php version on testing same to my local.

[2019-04-18 06:38] nicolas-grekas commented on #26623
Old issue + one shouldn't store big amount of data in the session.

[2019-04-18 06:38] #26623 closed

[2019-04-18 06:40] #31152 closed

[2019-04-18 06:41] xabbuh commented on #31150
`services_dev.yaml` is loaded after `services.yaml` and thus is able to override definitions from there. If you want your `extra.yaml` file to take precedence, you can change your kernel to have this file loaded last.

[2019-04-18 06:54] Simperfit commented on #26432
Do close here and create the issue in the doc repo or is there something todo in core ?

[2019-04-18 06:56] Simperfit commented on #26405
@myqa It will be hard for me to reproduce since I don't use IIS at all and I don't have any env to try this, could you try to fix it or maybe provide a docker setup to try this ?

[2019-04-18 07:56] bambucha4 opened #31157 "Serializer object with ReflectionClass throws ReflectionException: does not have a prototype."
**Symfony version(s) affected**: 4.2.7, maybe later versions

**Description**
Any array of objects with methods (getters and setters) passed to ControllerTrait::json as $data, throws a PHP ReflectionException: does not have a prototype.

**How to reproduce**
Stacktrace points to the problem in PropetyAccess used in Symfony Serializer and finally in ControllerTrait::json.

**Possible Solution**
I m

[2019-04-18 08:09] AbdelilahJbr opened #31158 "symfony/routing: "Notice: Undefined offset: 1""
**Symfony version(s) affected**: 4.2.7

**Description**
When I updated to 4.2.7, I can't access to my routes if I add a '/', it gives me a Notice: Undefined offset: 1.
I cleared the cache using : bin/console cache:clear, doesn't work
then I deleted the folder var/cache : doesn't work

**How to reproduce**
If I access to "/api/collaborators" it works but accessing to "/api/collaborators/" gives the

[2019-04-18 08:42] proArtex commented on #31150
@xabbuh the definition inside services_dev.yaml works even if services_dev.yaml loaded before services.yaml. That is why I said something else is going on there.

The second thing I'd like everyone to think about is this: what if introduce such a thing as priority and always give it to services defined (no matter in which file) by hands. Inside both groups we can still use "last defined win" rule.

[2019-04-18 08:49] stof commented on #31157
Can you share a reproducing case ?

[2019-04-18 08:56] xabbuh commented on #31150
Can you create an example application that shows this?

[2019-04-18 09:00] fmonts commented on #31077
I tried but unfortunately I've not been able to reproduce the issue in a new application.

There is some loop happening on \vendor\twig\twig\src\Extension\DebugExtension.php on line 61, and it doesn't happen if I remove linked entities ($item->setUser(null), where User is a ManyToOne relationship.

I'll try again when I have more time

[2019-04-18 09:26] jean-gerard opened #31159 "[TWIG] File input, visible but no text"
**Symfony version(s) affected**: x4.2.7

**Description**

The bootstrap file input field is visible but has no text in it.

![image](https://user-images.githubusercontent.com/49748492/56350654-935b4b80-61cb-11e9-8261-121985399fee.png)

But if I add

[code]
The text is visible but the ugly button is too.

![image](https://user-images.githubusercontent.com/49748492/56350760-ca316180-61cb-11e9-9247-1

[2019-04-18 09:29] bambucha4 commented on #31157
I found a problem on my side, but I do not know why he depends on inheritance. TestClass inherits from the AbstractDTO class, in which there is one of many methods: getReflectionClass. This method indicates **static::class** and so the call on the TestClass object will retrieve the **ReflectionClass** of this object. I need a method to avoid duplicating the code to check some data. Not important -

[2019-04-18 09:44] pamil opened #31161 "FrameworkBundle v4.2.7 assumes "translator" service implements the contract's translator interface"
**Symfony version(s) affected**: 4.2.7

**Description**
SyliusThemeBundle overrides default `translator` service with the one that implements `Symfony\Component\Translation\TranslatorInterface` but not `Symfony\Contracts\Translation\TranslatorInterface`. This causes `Symfony\Component\Validator\Util\LegacyTranslatorProxy` to fail because it expects `translator` service to implement the contract's

[2019-04-18 09:50] stof commented on #31159
It looks like the label inside the Bootstrap 4 custom-form-file is set based on the `placeholder` attr in the form theme. As you don't set one, this is why it is empty

[2019-04-18 10:12] stof commented on #31157
hmm, maybe the serializer is trying to serializer the ReflectionClass too, by calling the public `getReflectionClass` method ? By default, the ObjectNormalizer will look at all public getters

[2019-04-18 10:19] bambucha4 commented on #31157
It looks like it, but it should not change the state of the object in a significant way. Changing the visibility to the protected one has solved the problem.

[2019-04-18 10:19] stof commented on #31139
@nicolas-grekas you said there is nothing to do for these password hashes. I'm precisely saying that **there is** something to do for them. If the API tells us the password needs to be rehashed with the newer algo, we do need to handle it.

[2019-04-18 10:27] proArtex commented on #31150
I double checked that and seems like it was just cache. Sorry for bothering guys.
I'll close this issue and create new feature request just about priority.

[2019-04-18 10:27] #31150 closed

[2019-04-18 10:39] jean-gerard commented on #31159
Thanks for your answer.
So, it seems that the `placeholder` attribute is needeed, So it display something when I do this :

[code]

Other option :

[code]

But the placeholder is not updated with the filename.
I guess i need to copy the JS from https://github.com/symfony/symfony/pull/27919#issuecomment-404163495 ?

[2019-04-18 10:57] proArtex opened #31163 "[DI] Give services defined by hands higher priority than wildcard defined ones."
**Description**
This feature request is related to #31150.
Semantically I expect services defined by hands in any loaded file (independently from order) to override wildcard definition, because that services defined for a reason.

**Example**
This will cause an exception, because wildcard defined service win as defined last. Same applies to hand definition in separate file (again because of the or