[2015-06-28 11:52] WouterJ opened #15130 "[Security] Allow to override access decision strategy in isGranted"
While rewriting the access decision strategy documentation, I discovered that it probably is quite strange to have this configured at a global level. To me, it makes more sense to specify the strategy on a usage basis.

For instance, imagine a `PersonalPost` object. 2 voters are related to this object: `UserIsAuthorOfPostVoter` and `UserIsAdminVoter`. If one of these grants access, the user is all

[2015-06-28 13:00] OskarStark commented on #15103
could be solution and should technically be possible, but do we want this?

what do you think @fabpot ?

[2015-06-28 13:26] xabbuh commented on #15094
@gnorby88 #15048 has been merged. So I'm going to close here. Please let me know if the fixed provided there does not solve your issue.

[2015-06-28 13:26] #15094 closed

[2015-06-28 13:30] xabbuh commented on #15044
The `doctrine:schema:update` command is part of the [DoctrineBundle](https://github.com/doctrine/DoctrineBundle). Please report any issues with this bundle in their repository.

[2015-06-28 13:30] #15044 closed

[2015-06-28 14:00] xabbuh commented on #15046
@jonathanbull Unfortunately, I was not able to reproduce your issue. Does this happen for all form types? Could you provide a fork of the Symfony Standard Edition that reproduces this?

[2015-06-28 14:48] jonathanbull commented on #15046
@xabbuh Sorry, I realised shortly after I opened the issue that this only affects checkboxes:

    {{ form_widget(form.fooCheckbox) }}
    {{ form_label(form.fooCheckbox, 'Foo') }}

Could you please give it another go? If you're still unable to reproduce it, I'd be happy to provide that fork.

[2015-06-28 15:15] xabbuh commented on #15046
@jonathanbull The checkbox type is a bit special when using the Bootstrap theme as the label will already be handled by the widget. So `form_label()` will render nothing and you will have to pass label options to `form_widget()`:

[code]

[2015-06-28 15:15] #15046 closed

[2015-06-28 15:16] xabbuh commented on #15046
By the way, this will soon be reflected in the documentation on symfony.com when symfony/symfony-docs#5460 is merged.

[2015-06-28 16:26] xabbuh commented on #11803
@Sorbing Are you able to provide a failing test case?

[2015-06-28 16:59] xabbuh commented on #14772
@Galosoft Can you provide a fork of the Standard Edition that show the issue?

[2015-06-28 17:02] xabbuh commented on #15023
This should be fixed with the next release given the changes in #13851.

[2015-06-28 17:02] #15023 closed

[2015-06-28 17:09] fabpot commented on #15103
I agree with @stof that depending on the context, one or the other might be better. So, I think keeping the current way is better.

[2015-06-28 17:36] #15021 closed

[2015-06-28 17:37] OskarStark commented on #15103
:+1:

[2015-06-28 17:37] #15103 closed

[2015-06-28 17:40] Richtermeister commented on #15060
Glad to see this discussion happening, since I too struggle with this and usually end up implementing a FOS-inspired Twig Mailer with mixed results.

Just to add to this discussion, regardless of how the actual template/email is rendered, it would be nice to see some overall abstraction of the process. I think Sylius did a great job there:

https://github.com/Sylius/Sylius/tree/master/src/Sylius/C

[2015-06-28 18:42] weaverryan commented on #14869
I just tested it, and I don't think there's a bug, you can turn off the serializer by omitting its configuration entirely *or* setting `enabled: false`.

Closing this guy - @guilhermeblanco happy to say that none of us need to create a PR ;)

[2015-06-28 18:42] #14869 closed

[2015-06-29 06:58] Gladhon commented on #15097
yes, I just think it could be nice, if symfony-xml's can be validated as common

[2015-06-29 06:58] xabbuh commented on #14332
@mrbase Well, the empty string is no valid URL.

[2015-06-29 07:02] xabbuh commented on #15055
maybe related to #15037?

[2015-06-29 07:17] xabbuh commented on #15092
Passing the constraint to the callback sounds like a good idea to me.

[2015-06-29 07:26] xabbuh commented on #9203
@kostiklv I'm closing here as we cannot reproduce your issue. Feel free to reopen if you can provide more information.

[2015-06-29 07:26] #9203 closed

[2015-06-29 07:36] mrbase commented on #14332
@xabbuh yeah, that is obvious - bit it still breaks bc

[2015-06-29 07:41] xabbuh commented on #14332
@mrbase As explained in https://github.com/symfony/symfony/issues/14332#issuecomment-92311039, that use case was not supported. I see that this is a bit inconvenient for you, but I don't see anything we can do about that.

[2015-06-29 07:43] xabbuh commented on #14939
@MacDada I am not sure if I completely understood your issue. Could you please have a look at #7104 and check if that issue is describing the same thing?

[2015-06-29 07:51] Rvanlaak commented on #15060
Big +1 on this one, did also have to implement an abstraction layer to solve attachments and i18n.

@stof 's point on Twig's error handling in my opinion is one of the biggest concerns I can't overcome right now.

I don't see why you should use Twig blocks for from/to/subject, and think that also could be solved using an `OptionsResolver` but don't know or you want to add an extra dependency.

[2015-06-29 07:59] Rvanlaak commented on #15099
:+1: on translation keys, but that would introduce the translator as a dependency to every component right? ;-)

[2015-06-29 08:29] fabpot commented on #15099
Let's add a dot and done.

[2015-06-29 09:20] MacDada commented on #14939
@xabbuh Yep, it's the same thing, closing as duplicate.

[2015-06-29 09:20] #14939 closed

[2015-06-29 09:24] MacDada commented on #7104
Copy-paste from my issue. If any kind of solution is decided, I can implement it.

----

IMHO `LogoutListener` should be called last, after other listeners, which might authenticate user before he/she is logged out. Otherwise none of the handlers are called.

In my situation it is crucial that `RememberMeServices` (as `LogoutHandlerInterface`) + `CookieClearingLogoutHandler` get called, because Sy

[2015-06-29 09:56] Wirone commented on #15099
@fabpot I insist on class' constant, because then it's possible to use it elsewhere, like `if ($message == AccessDeniedException::DEFAULT_MESSAGE)`. Using hardcoded strings may sooner or later be "problem" for someone, for example when you decide to remove the dot ;-)

[2015-06-29 09:57] fabpot commented on #15099
I'm against the constant for the exact reason you mention. You should never compare an exception message, it's not reliable.

[2015-06-29 10:10] iltar commented on #15130
If I understand it correctly, the caller should now know about what's going to vote. IMO that's the wrong and the voter should determine whether it should or should not vote and what it should vote for the type of object passed along.

[2015-06-29 10:37] WouterJ commented on #15130
Hmm, you have a good point there, @iltar. But then, is there not another way we unglobal this. I don't believe a global setting is correct in this case.

[2015-06-29 11:28] fabpot commented on #15130
The is indeed not really configurable as changing the default value can lead to weird behavior with third-party bundles. That's probably a setting that we not document prominently; use cases are only when not using the security layer in Symfony itself.

[2015-06-29 11:28] n0rbyt3 opened #15140 "[Translation] Disable translation of labels when expanded is used and choice_translation_domain is false"
Hi,

I use an entity field type and the choice_label option to render the label of the field "title". The "title" column contains a fully localized string, but when using the {{ form_label }} inside twig, the title will be translated using the messages domain (and marked as missing in the profiler). This can result to unexpected labels.

[code]

There should be a way to disable the translation of

[2015-06-29 12:50] Tobion commented on #15140
What  symfony version are you using?

[2015-06-29 12:50] aitboudad commented on #15140
Hi @n0rbyt3
The issue is not only for `choice_label` and I think we must provide a way to skip translation for form field at all.

I would propose to  disable translation when `translation_domain` is set false something like `choice_translation_domain`

[2015-06-29 12:53] Tobion commented on #15140
I don't see why `choice_translation_domain: false` shouldn't do the trick here. Maybe you have a custom form theme, overwritten form blocks?

[2015-06-29 13:03] Wirone commented on #15099
I would not dare to argue with you, @fabpot, but still I think class' const would at least guarantee consistency between `FrameworkBundle` and `Security` component (`denyAccessUnlessGranted()` should - in my opinion - always use the same default message as `AccessDeniedException`, class const would be simplest solution for that). I am convinced that nobody will remember this relation between 2 str

[2015-06-29 13:09] n0rbyt3 commented on #15140
@Tobion I use symfony 2.7.1

I don't have a custom form theme and I don't want to use one. The disadvantage is that the whole ```form_label``` widget has to be overriden. If symfony changes the logic, I have to change it, too. It's too much overhead. And I also don't override any existing form block.

The current ```form_label``` widget contains the logic for not rendering labels (if label is set

[2015-06-29 13:21] stof commented on #15140
Well, ``choice_translation_domain`` is meant to handle exactly this case. So it looks weird if it does not (unless you are using the ``expanded`` option to display it as radio buttons, as this indeed does not use the ``choice_translation_domain`` at all).

[2015-06-29 13:24] Wirone commented on #15099
@Rvanlaak as far as I see there are other exceptions in `Security` component which already have implemented `getMessageKey()` method and translations are in component's resources. So maybe `AccessDeniedException` also could have translation key.

[2015-06-29 13:35] n0rbyt3 commented on #15140
I use checkboxes, sorry, I missed ```expanded => true``` and ```multiple => true``` in my options. But independant of that the label should never gets translated when ```choice_label``` is used.

[2015-06-29 13:38] stof commented on #15140
@n0rbyt3 saying it should never be done seems wrong to me. We have no idea what the callable could be. It is perfectly valid to return translation keys from there.
``choice_translation_domain`` is what controls whether translations are used for choice labels or no (and the ``entity`` type disables translations by default).
We should fix the case of expanded forms to use this option though.

[2015-06-29 14:20] Rvanlaak commented on #15140
The `choice_translation_domain` handling also seems to be wrong for the `birthday` field type.

[2015-06-29 14:21] stof commented on #15140
Well, the birthday field type is not a choice type. It does not have a ``choice_translation_domain`` option. I think your issue there is a different one @Rvanlaak

[2015-06-29 14:52] Rvanlaak commented on #15140
Okay, you're right. But shouldn't the translation domain be implemented for many more types then?  The `DoctrineType` for instance does make use of the `choice_translation_domain` but I can not seem to get it working:

https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php#L310

[2015-06-29 15:00] stof commented on #15140
The doctrine type is a special choice type.

and as I said previously, the ``choice_translation_domain`` currently does not work for expanded choice forms, only for non-expanded ones (which is why I tagged this as bug and renamed the title a bit).

[2015-06-29 15:06] arturmelo commented on #15140
I've actually also stumbled upon this issue last friday and just made a [quick fix](https://github.com/Restless-ET/symfony/commit/5980156a39b57146744e953d7fd9501814179687) on [my fork](https://github.com/Restless-ET/symfony/tree/fix-choices-translation-for-expanded-choice-type).

I don't know if this is the best solution for this, but I can create a PR from this if you guys want.
I didn't make one

[2015-06-29 15:06] Restless-ET commented on #15140
I've actually also stumbled upon this issue last friday and just made a [quick fix](https://github.com/Restless-ET/symfony/commit/5980156a39b57146744e953d7fd9501814179687) on [my fork](https://github.com/Restless-ET/symfony/tree/fix-choices-translation-for-expanded-choice-type).

I don't know if this is the best solution for this, but I can create a PR from this if you guys want.
I didn't make one

[2015-06-29 15:11] jvasseur commented on #15140
I have a fix in mind that i think would be a bit more clean, i will make a PR when i come back from work.

[2015-06-29 15:27] fantoine commented on #14712
:+1: for 2.7 patch

[2015-06-30 05:44] #15099 closed

[2015-06-30 05:48] #15140 closed

[2015-06-30 07:36] pawansingh123 commented on #12068
The option "datalist" does not exist occurred when i tried the same code

[2015-06-30 08:41] bonswouar commented on #6857
Thanks for your little bundle @toaotc, that might be useful.

Though, there is no plan to include this kind of functionality in Symfony ?
I know this behavior is "normal" but it's not very user-friendly..

[2015-06-30 11:50] #12507 closed

[2015-06-30 12:47] #14915 closed

[2015-06-30 12:50] shehi opened #15152 "[Translation] Azerbaijani language pluralization rule is wrong"
In AZ, as in TR, pluralization is always 0:

0 kitab (zero books)
1 kitab (1 book)
3 kitab (3 books)
104 kitab (104 books)

Apparently ZF ruleset was wrong in the first place :)

[2015-06-30 13:39] nickshanks commented on #12141
Hi. I've just ran into bug #4322 as well. I have a bundle prefix of /foo and wanted to specify a resource in the bundle's routing file at `/foo`, not at `/foo/`, but was unable to. I suggest also supporting `~` (YAML's null value) as an equivalent to `""` for the path. I am not keen on the trailing_slash suggestions posted—just allow an empty string to be concatenated to the prefix, to refer to a

[2015-06-30 13:49] Tobion commented on #12141
The thing is you know that you import `my_bundle_index` under a prefix, which is why you can use a  `null` path. But for bundles providing routes it doesn't make sense to have a `null` path since they cannot assume how it's going to be used. So we have to treat each routing file as it could also be used standalone, which is why I said `'' == '/'`.

[2015-06-30 14:01] nickshanks commented on #12141
Well that's simple to solve logically—in fact I can think of two obvious solutions. 1) Any bundle that has a empty route path, throws an exception when loaded if it's not loaded under a prefix. It's a condition of use of such bundles that they be imported under a prefix. Or 2) once all paths are loaded, any full path which resolves to an empty string is upgraded to "/" and treated as if it were sp

[2015-06-30 14:20] Tobion commented on #12141
Again, this still doesn't provide a way of the route user to configure trailing slashes. To me, the one that uses the routes should be in control of how the routes look like (trailing slash or not). Thus my proposal. But your proposal only gives control for the one who defined the routes.

[2015-06-30 14:41] pjordaan opened #15156 "Symfony 2.7 upgrade breaks twig function asset() with version property"
In my project I upgraded to Symfony 2.7. After doing this it seems that the twig function asset() broke for me

I had
[code]

After the upgrade I had to write:
[code]
If I didn't it returns in an error in AssetExtension, method getLegacyAssetUrl() line 111
It does ```$f = new \ReflectionProperty($currentVersionStrategy, 'format');``` there. $currentVersionStrategy is an instance of EmptyVersionStr

[2015-06-30 15:08] Hacker-CB opened #15157 "Bug in Request::createFromGlobals() when 80 port was explicitly specified"
We need to request http://192.168.0.1:80/test/

Usually this request is submitted like:
GET /test/

But some clients provides full path inside request body like:
GET http://192.168.0.1:80/test/

In this case:

$request=Request::createFromGlobals()
$request->server->parameters['QUERY_STRING'] contains value "80"

Seems that there is a bug.

How to represent:

export http_proxy="http://192.168.0.1:8

[2015-06-30 16:18] jeremylivingston commented on #14641
Also getting this error. Is there a recommended solution? I'd be happy to provide a PR if one is needed.

[2015-06-30 16:25] phansys commented on #15157
According [IETF's RFC-2616](http://tools.ietf.org/html/rfc2616#section-5.1.2), the request URI is required to be absolute when the request is being made to a proxy; so it would be supported.

[2015-06-30 20:25] Icode4food commented on #14712
:+1: for 2.7 patch. This should be documented as a BC break with a suggested solution at the very least.

[2015-07-01 09:01] shehi commented on #6009
Question: I came here searching for gender-specific translation capability - is this topic being actively discussed and/or developed?

[2015-07-01 12:14] coudenysj opened #15162 "[Form][Twig] form_theme in the view doesn't select the correct theme"
I have multiple form themes in a project, but I'm struggling with the "selection" process of the correct theme.

In my `config.yml` file I've registered all themes (without this, the `form_theme` selection is ignored al together):
[code]

In the twig views, I use `{% form_theme form 'common/form/forms.html.twig' %}` and `{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}` to select th

[2015-07-01 12:27] stof commented on #15162
Themes registered are **all** used (Symfony will search the block in all of them until it finds the necessary block). ``{% form_theme form '...' %}`` is not about selecting a theme. It is about registering one more theme just for this form (but the themes registered globally will still be used as fallback in case your theme does not define theming for all blocks but other themes do)

[2015-07-01 12:38] coudenysj commented on #15162
Thanks @stof for replying.

What you say makes sense, but when I remove the Sylius themes from the list the `form_theme` does not use the requested theme.

I'm using `{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}`, added a syntax error in the template file, removed my cache dir and still the default bootstrap theme is being used.

[2015-07-01 15:02] zanderbaldwin opened #15165 "[HttpKernel][DX] Question: Unsupported Environments"
Would there be any benefit to add something like `EnvironmentNotSupportedException` to the HttpKernel component? Would it be an improvement or just a wasted class?

**Context**: We have a console tool that spins up instances of a Symfony application with PHP's built-in server for testing, specifying the environment as an argument rather than a front-controller for each environment.

It would also

[2015-07-01 15:57] phansys commented on #15157
@Hacker-CB, which version are you using (Symfony / PHP)?
I tried to reproduce your issue but in my case, ```QUERY_STRING``` still empty:
[code]
[code]

[2015-07-01 16:26] stof commented on #15157
Well, I guess it has something to do with the config of your webserver, as it is the one sending such info to PHP.

[2015-07-01 17:41] phansys commented on #15157
Yes, maybe @Hacker-CB could try this test directly with the built-in server?

[2015-07-01 19:31] hiddewie opened #15168 "[Form][Translation] Translate entity options"
I have the following setup.
- A form with a single `entity` field (`multiple = false`, `expanded = false`).
- An array of `Role` entities, with at least the propery `name`. The property `name` is untranslated and contains the key of the translation.
- Symfony 2.7.1

I want to translate the options of the rendered `select`, just like the thing which happens normally when using a `choice` with norma

[2015-07-01 19:58] #13891 closed

[2015-07-01 20:28] weaverryan commented on #14590
I don't have a lot of experience with the core functional tests, but I give this at least enough :+1: to see a pull request and to discuss it there :)

[2015-07-01 21:35] Tobion commented on #15168
Enable the choice_translation_domain: http://symfony.com/blog/new-in-symfony-2-7-form-and-validator-updates#added-choice-translation-domain-domain-to-avoid-translating-options

[2015-07-01 21:35] #15168 closed

[2015-07-01 21:53] rokity opened #15169 "Error: Undefined class constant 'END_OF_MAINTENANCE' Symfony 2"
0
down vote
favorite

I'm developing the functions of an existing project. The project is developed using Symfony 2. And I created a virtual host Apache (Ubuntu and LAMP) to turn it. When the boot gives me this error. "FatalErrorException in ConfigDataCollector.php line 276: Error: Undefined class constant 'END_OF_MAINTENANCE'". I can not update the composer because if I would do when I would do a

[2015-07-01 22:05] xabbuh commented on #13736
see #15170

[2015-07-01 22:19] xabbuh commented on #15169
Could you show the complete stack trace of the exception as well as the output of `composer show -i` for your project?

[2015-07-02 04:00] estahn opened #15171 "[Serializer] Alias for attributes"
It would be very helpful to have the possibility to specify an alias for an attribute. This is the same as `serialized_name` in JMSSerializer".

[code]

Here is an example YAML:

[code]

I wonder about the general take on this.

This was also mentioned in #14924 .
##

My current workaround is using a custom NameConverter.

[code]

[2015-07-02 06:47] iltar commented on #15156
Possibly related to #14692

[2015-07-02 07:52] rokity commented on #15169
This is the output:
[code]

[2015-07-02 08:40] xabbuh commented on #15169
No, that's the contents of the composer.json file. This does not indicate which versions you actually have installed.

[2015-07-02 09:35] rokity commented on #15169
I resolved with the owner of web page. I did composer update and all work but now we have a problem with git push and other things. Thank you for the help.

PS: I'm sorry the output is of json , the correct output is of phar

[2015-07-02 09:46] #15169 closed

[2015-07-02 10:47] stof commented on #15169
@rokity regarding your file permission issues, read http://symfony.com/doc/current/book/installation.html#checking-symfony-application-configuration-and-setup for the way to setup permissions to make things work.

[2015-07-02 10:53] sberlinches opened #15177 "router:match throws a ResourceNotFoundException if route doesn't match"
I'm with SF2.7.1 and according to documentation:
http://api.symfony.com/2.0/Symfony/Component/Routing/Router.html#method_match

$router->match('/nonexistent-path/');
Must return false, but throws a ResourceNotFoundException.

[2015-07-02 10:57] jvasseur commented on #15177
You are looking at an old verions of the documentation, the documentation for Symfony 2.7 (http://api.symfony.com/2.7/Symfony/Component/Routing/Router.html#method_match) gives the correct method signature.

[2015-07-02 11:07] sberlinches commented on #15177
An alternative to avoid an exception?
I need handle that behaviour.

[2015-07-02 11:07] #15177 closed

[2015-07-02 11:14] dragu opened #15178 "[Form][PhpEngine] Breaking path change?"
Hi,

I've updated symfony forms from 2.6.4 to 2.7.1 and I get Exception: **No block "form_start" found while rendering the form.**

My form starts with: *$view['form']->start($form);* and this line causes problem. I took a deeper look and found that PhpEngine loads file *form_start.html.php* from *symfony/framework-bundle/Symfony/Bundle/FrameworkBundle/Resources/views/Form/form_start.html.php* in

[2015-07-02 11:22] MacDada commented on #14490
@klaascuvelier I've made PRs, but neither is merged yet: https://github.com/symfony/symfony/issues/14822

[2015-07-02 11:53] stof commented on #15178
@dragu how does your code configuring the form theme looks like ?

[2015-07-02 12:15] dragu commented on #15178
![image](http://replygif.net/i/1216.gif)

You've got the point. My TemplateNameParser was initiated with old path. Thanks

[2015-07-02 12:15] #15178 closed

[2015-07-02 13:06] stof commented on #15178
@dragu I suggest you to avoid hardcoding the path to where FrameworkBundle get installed, and get it from the location of the code instead. You can have an example in https://github.com/symfony/symfony/blob/564c8e1ebe81231f678f431f6ff41b182c7dfe7f/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L670-674 for instance, where FrameworkBundle looks for the path to the Val

[2015-07-02 13:37] zacharyzh opened #15179 "[2.7] FormTypeInterface.setDefaultOptions used OptionsResolverInterface (deprecated)"
OptionsResolverInterface will be removed in 3.0, but FormTypeInterface.setDefaultOptions still use this expired interface. How can I use the new class (OptionsResolver) to replace it?

Files:
Symfony\Component\OptionsResolver\OptionsResolverInterface
Symfony\Component\Form\AbstractType
Symfony\Component\Form\FormTypeInterface

Sorry for my bad english.

[2015-07-02 13:41] Tobion commented on #15179
Use `configureOptions(OptionsResolver $resolver)` method instead. Also please use Stack Overflow for support questions.

[2015-07-02 13:41] #15179 closed

[2015-07-02 13:42] phansys commented on #15179
You should use ```configureOptions()``` instead: https://github.com/symfony/symfony/blob/v2.7.0/src/Symfony/Component/Form/FormTypeInterface.php#L76-L78.

[2015-07-02 14:13] dunglas commented on #15171
I've started a POC about that. It's very similar to what you describe. It uses a new name converter that `alias` (was named `serializedName` in my POC but `alias` looks better) metadata.

[2015-07-02 14:34] xabbuh commented on #15177
@sberlinches You could still catch the exception and do whatever you need to do in case the route does not match.

[2015-07-02 15:01] dunglas commented on #5236
IDN support in PHP doesn't work at all. I've added support in https php/php-src#890 but I still need to create a RFC for that.

[2015-07-02 15:40] amyboyd opened #15180 "[Console] Closing stdout with >&- causes an error"
When closing the stdout in bash, using `>&-`, this error occurs in Symfony 2.7:

	$ app/console debug:config >&-
	PHP Warning:  fopen(php://stdout): failed to open stream: operation failed in /home/citypantry/project/api/vendor/symfony/symfony/src/Symfony/Component/Console/Output/ConsoleOutput.php on line 51
	PHP Fatal error:  Uncaught exception 'InvalidArgumentException' with message 'The StreamO

[2015-07-02 15:43] alaczi opened #15181 "[Form] DefaultChoiceListFactory::flatten disrespects choices with same label different value"
With Form version 2.7+

Imagine a situation of an expanded grouped choice field:

[code]
With some templating magic you can come up something like this (and so, there is a reason to use grouping with expanded choices)..

![grouped_expanded_choice_list](https://cloud.githubusercontent.com/assets/3229101/8480836/e380bbc4-20d7-11e5-8e9e-635fdbee0527.png)

Now, the problem is that DefaultChoiceListFac

[2015-07-02 15:49] stof commented on #13448
I will implement it after my vacations (so after July 14th)

[2015-07-02 17:04] Tobion commented on #15181
Fixed by #15061

[2015-07-02 17:04] #15181 closed

[2015-07-02 21:08] xabbuh commented on #15156
@pjordaan Can you please test if the changes from #15183 fix your issue?

[2015-07-02 22:15] stof commented on #13448
Actually, I implemented it before, given it was very easy

[2015-07-03 00:29] estahn commented on #15171
@dunglas Kevin, do you want me to contribute the code? It should be fairly simple to implement i assume.

[2015-07-03 05:36] dragu commented on #15178
@stof quite a good idea, thanks

[2015-07-03 08:16] hiddewie commented on #15168
Thank you, I probably overlooked that new option.

[2015-07-03 08:17] stof commented on #15162
Well,  the issue is that ``SyliusWebBundle:Backend:forms.html.twig`` is not a proper form theme. It does not define any blocks. so rendering is forced to fallback to global themes to find something
If it is intended to be a form theme, there is a bug in Sylius.

[2015-07-03 08:24] coudenysj commented on #15162
So the problem lies in the fact that [SyliusWebBundle:Backend:forms.html.twig](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/WebBundle/Resources/views/Backend/forms.html.twig) includes [SyliusWebBundle:Common:forms.html.twig](https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/WebBundle/Resources/views/Common/forms.html.twig) and [SyliusResourceBundle::forms.html.twig](

[2015-07-03 08:34] stof commented on #15162
yeah. If they want to combine other form themes, they should use ``{% use %}`` to import their blocks rather than ``{% include %}`` (which includes the output of the template)

[2015-07-03 08:34] stof commented on #15162
however, this would also require changing the other templates a bit to be traitable

[2015-07-03 09:45] Rbn3D opened #15189 "[Router] 'options' added in in parent route definition are forwarded to child routes, but cached routing doesn't reflect them"
I have a problem when setting options for a group of routes by declaring 'options' on the parent definition:

**routing.yml**
[code]

Then I want to know, given a route name, if it is tagged as a certain group, something like:

[code]

But options array doesn't contain my custom option at runtime. If I debug the route loader (while warming cache) the options are added to each route correctly, the

[2015-07-03 09:47] stof commented on #15168
yeah, the ``entity`` type disables translations for choices by default, because returning a translation key from there is quite uncommon. so disabling them is a better default.

[2015-07-03 10:11] timwhitlock opened #15190 "Translation: XliffFileDumper metadata"
Would it be possible to add "generator" metadata to XLIFF exports from the Translator component?

I'm thinking something like this, using the specified [`<tool>`](http://docs.oasis-open.org/xliff/v1.2/os/xliff-core.html#tool_elem) element:
[code]
This will allow other software to handle specific intentions of the format. I currently export three different variations of XLIFF from my software, incl

[2015-07-03 12:05] rrajkomar opened #15191 "Form builder renders attritbute required even with required set to false in default options"
Hello,

I have the following code in my custom Form Type  which include choice lists, inputs and textareas and even though this code is present and in the profiler the required option and variables correctly resolve to false, all fields in my form have the required attribute set to required.

public function configureOptions(OptionsResolver $resolver)
	{
		$resolver->setDefaults([

            'da

[2015-07-03 12:12] rrajkomar commented on #15191
Edit : I found the cause of my issue, the rendering of the form is also based on the doctrine entity annotations (nullable :true/false).
Based on that information, how can I define a filtering form where the non-nullable fields would still be allowed a null value (no required attribute rendered)

[2015-07-03 12:25] razmo opened #15192 "Form choice: choices group break on 2.7.1"
Hi,

I recently upgrade from 2.6.9 to 2.7.1 and found a issue when use the choice form type.

I define an array of choice and add the form type  :
[code]
This works fine in 2.6.9 but not in 2.7.1.
The id of sub-option "Sous activité B" of group "Fitness" is wrong.
It product only there are sub-options with same name in different group

Here with the version 2.6.9
[code]
Here with the version 2.7.1

[2015-07-03 12:44] stof commented on #15189
you should not use ``->getRouteCollection()`` on the router as this will be a performance killer (it is not cached).

route options are meant to provide hints to the route compiler only. If you want something available after matching, putting it in the ``defaults`` is a better solution.

[2015-07-03 12:45] jeroendesloovere commented on #14020
My Web Debug Toolbar also throws error popup... I've searched the internet and did not find a fix.
![schermafbeelding-2015-07-03-om-14 41 03](https://cloud.githubusercontent.com/assets/588616/8499351/33e45b88-2192-11e5-9cd2-8cf7cff5c788.jpg)

[2015-07-03 14:02] Tobion commented on #15192
Should be fixed by #15061

[2015-07-03 16:06] timwhitlock opened #15195 "Translation: Literal pipe escaping"
It seems that plural choices can't include a literal pipe character. Looking at the [message chooser](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/Translation/MessageSelector.php#L54) confirms it does a basic split operation.

I know it's a bit of an edge case but escaping the pipe should be possible, e.g. `"one: foo\|bar|other: baz"` which would print out `"foo|bar"` for the

[2015-07-03 18:40] bnd170 opened #15197 "Security bug? on HttpException"
I recently upgraded my version of Symfony from 2.3 to 2.7.

On my project I have a sidebar, which show the login and, if the user is logged, their user panel, with his avatar, his nickname and a couple of options like edit profile.

I have installed FOSUserBundle for it.

When Symfony2 launch an 404, 500, 401... exception error, randomly, the avatar and nickname displayed on the control panel, mod

[2015-07-03 18:56] phansys commented on #15197
Symfony doesn't handle these concepts ("avatar", "nickname", "control panel"). Please, ask for help in the issue tracker of [FOSUserBundle](https://github.com/FriendsOfSymfony/FOSUserBundle/issues) if you think there is a issue in the bundle.

[2015-07-03 19:16] bnd170 commented on #15197
The problem is not with "avatar", "nickname" or "control panel" is with security context, because it showing data of another user when an exception throwed.

If im loged with my account for example, "bnd170", when Symfony throws a 404 error, on user panel shows "ivan" for example. Its so randomly.

[2015-07-03 19:33] phansys commented on #15197
Which user provider you're using? Can you try to reproduce it with ```in_memory``` provider by instance?

[2015-07-03 19:43] bnd170 commented on #15197
To reproduce it with ´in_memory´ ill must to change a lot of things.

There is my provider:

´´´
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email
´´´

[2015-07-03 20:32] dosten commented on #15197
If this is a security issue, this is the wrong place to discuss. @bnd170 please send an email to security [at] symfony.com

[2015-07-03 21:04] stevenmusumeche opened #15199 "Twig Error in 2.7.1 - "assets" extension is not enabled"
I have a PHPUnit test which is intended to trigger an exception in a controller.  After upgrading to to 2.7.1, I am getting the following error:

[code]

[2015-07-03 21:25] bnd170 commented on #15197
Ok, thanks a lot @dosten

[2015-07-04 01:24] mickaelandrieu commented on #15060
possible duplicate of https://github.com/symfony/SwiftmailerBundle/issues/108

[2015-07-04 11:08] #15156 closed

[2015-07-04 21:35] xabbuh commented on #15199
@stevenmusumeche Does it change anything when the FrameworkBundle is enabled in your test environment?

[2015-07-04 21:44] xabbuh commented on #15190
@timwhitlock Do you have an example how other frameworks/tools handle this?

[2015-07-04 22:21] xabbuh commented on #15024
I don't know the reason for the way this is implemented (attributes are processed one after another here). However, what is the reason this makes a difference for you? Do you process more than one attribute at the same time in your voter?

[2015-07-04 22:24] xabbuh commented on #14607
@spackmat Can you check if #15027 fixes your issue?

[2015-07-05 09:19] javiereguiluz commented on #15152
This issue can be closed because it was fixed in #15150.

[2015-07-05 09:25] javiereguiluz commented on #15165
@zanderbaldwin thanks for proposing this improvement. At Symfony project we're always looking for ways to improve error messages, so this is something to be considered.

However, the main problem I see it that environments are not formally registered anywhere. Front controllers can be named as you wish (`app_<env name>.php` is a convention, not a mandatory thing) and configuration files can also b

[2015-07-05 09:45] #15152 closed

[2015-07-05 11:47] dmaicher commented on #15087
Is this still an issue? Can we see the full ```ReturnItemsType``` class?

[2015-07-05 12:40] timwhitlock commented on #15190
Below is exported from my install of XCode 6.2

[code]
Note that I've removed XCode's incorrect usage of the `build-num` attribute.

[2015-07-05 14:13] unkind opened #15203 "[DependencyInjection] Inlining of large parameters"
Sometimes parameters can be large (long text, auto-generated maps, etc.) and we've noticed some performance impact because of inlining (the same parameter was injected in several services).

Does it make sense to introduce some kind of inlining strategy for `PhpDumper`? For instance, if value is larger than 1 KB, then do not inline parameter (i.e. use `$this->getParameter('large_parameter')` metho

[2015-07-05 16:03] stevenmusumeche commented on #15199
No it does not, I get the same error when I add FrameworkBundle to the test environment.

[2015-07-05 16:57] xabbuh commented on #15199
Could you create a form of the Symfony Standard Edition that makes it possible to reproduce your issue?

[2015-07-05 21:31] wouterj opened #15207 "[Security] Rename provider key"
As also explained in https://github.com/symfony/symfony/pull/15141 , provider key is a very confusing term in the Security component. A lot of people (including me a week ago) don't know what this property does and what value it should have.

I think renaming this property and adding better PHPdocs can improve things a lot on this subject. However, finding a good name is not easy. This is were I n

[2015-07-06 06:41] iltar commented on #15207
I would like to add a small note of why I agree with 'context'.

In the firewall configuration, the name of the firewall will be the 'context' as mentioned here. However, you're able to provide a 'context' option per firewall which allows you to group firewalls under the same 'context' so tokens can be shared.

http://symfony.com/doc/current/reference/configuration/security.html#firewall-context

[2015-07-06 06:49] sstok commented on #15060
The issue in the SwiftmailerBundle repository is younger so its not a duplicate :) other issue is a duplicate.

[2015-07-06 06:52] javiereguiluz commented on #15207
@WouterJ I appreciate your efforts to improve both the code and the documentation of the security component. However, I don't know if this is the best strategy. You are proposing a lot of independent and small changes (like the rename done in #15141). I'd prefer if we could think of a "big picture" of the new security component and layout all the needed changes.

I'd like to have three different w

[2015-07-06 06:53] #12426 closed

[2015-07-06 07:52] spackmat commented on #14607
@xabbuh Hi, I inserted the changed lines from #15027. Doesn't fix the issue.

[2015-07-06 08:18] Rbn3D commented on #15189
@stof Same problem with defaults, the only default that the route contains after getting it from ->getRouteCollection() it's '_controller'. I'm using the same setup as above but using defaults instead of groups, also tried string values instead of arrays.

[2015-07-06 08:23] WouterJ commented on #15207
@javiereguiluz there are already very big PRs fixing the "fast track". For instance, https://github.com/symfony/symfony/pull/13062 (direct authentication) and https://github.com/symfony/symfony/pull/14673 (guard).

These PRs are there to fix just the minor things that are causing headages when using the Security component. I've seen questions about the provider key often enough on IRC to know that

[2015-07-06 08:29] mickaelandrieu commented on #15060
@sstok OK, I close the other issue :)

[2015-07-06 08:30] javiereguiluz commented on #15207
I'll try to explain it again with an example.

In this PR you propose to rename this thing to `context` and that certainly seems the right thing to do. But if you create a meta-issue listing the 15 small changes we plan to introduce in the security component, we'll have the whole perspective to decide if `context` is the best rename or not.

[2015-07-06 08:41] fabpot commented on #15207
I don't see how `context` would be better than `providerKey`. `context` is one of those overloaded keyword that does not convey any special meaning.

[2015-07-06 08:45] iltar commented on #15207
@fabpot going by that logic, would it be an interesting idea to rename the configuration option something else, together with the variable?

[2015-07-06 08:49] WouterJ commented on #15207
@fabpot that's also why I like "providerGroup" more. I think it holds more meaning than "providerKey" (personally, I was thinking about one provider when talking about "key", while "group" kind of makes you think about multiple providers).

[2015-07-06 09:45] matudelatower opened #15208 "Entity Type send "" in request"
When submit a form with a entity field type throws  invalid input syntax for integer: ""

My Type:

[code]
AND:

[code]

My create action:

[code]

Trhows:
![Image exception]
(https://dl.dropboxusercontent.com/u/7777639/Symfony2_7_bug_15208/Captura%20de%20pantalla%20de%202015-07-06%2006%3A19%3A30.png)

[2015-07-06 09:52] liuggio opened #15209 "[RFC] New component bootstrap.php.cache"
It would be great to have a new component that incorporate the features that  bootstrap.php.cache  have with some improvements.

The key features:
- It could be used without a Symfony project.
- Ability to define userland classes into it (maybe into the [composer extra fields](https://getcomposer.org/doc/04-schema.md#extra)? )
-  It could be used only on production.

[2015-07-06 10:01] iltar commented on #15209
There is already a similar mechanism to "cache" code in the cache directory. The bootstrap is rather "hard"-coded at the moment. Maybe those features can be combined into a new component?

I'm not sure if it's a loose component at the moment.

[2015-07-06 10:44] Tobion commented on #15208
Fixed by #14950. Please use the search.

[2015-07-06 10:44] #15208 closed

[2015-07-06 10:49] matudelatower commented on #15208
Apologies , I looked and did not find

[2015-07-06 10:54] Rvanlaak opened #15211 "[DX][Translator] Annotation to mark translation domain for controller"
Twig already has the `trans_default_domain` since the beginning of 2012 via https://github.com/symfony/symfony/commit/ce6399e254d57fda8b4a98eab52bf79c57597507. It would be great if Controllers can also be marked to follow a certain translation domain, so the following code for translating Controller status messages can be cleaned up:

[code]

[code]
Because calling the translator service directly

[2015-07-06 11:08] dawehner opened #15212 "Support UriInterface in RedirectResponse"
It would be nice if RedirectResponse could support UriInterface when you pass it in

[2015-07-06 11:28] mahagr commented on #15070
The issue with #14722 is repeating \" inside the value causing regexp to use megabytes of stack when parsing the value. This will eventually cause segfault when the stack runs out.

[2015-07-06 11:37] pjordaan commented on #15156
yes, it was fixed, thx!

[2015-07-06 13:07] nothingaa opened #15213 "Symfony 2.7 Translating Constraint Messages not supporting locale"
I just updated my Symfony from 2.5 to 2.7. I have an Entity, in this case `Product` that has a some properties with some constraints, for example `year`.

[code]

My message is getting translated from the `app/Resources/translations/validators.en.yml` file. But now, it doesn't respect the locale anymore. I have 2 files the `en` version and the `fr` version but now it only gets the `en` version.

I

[2015-07-06 13:50] isabellebruchet commented on #14877
Hi,
Same problem here. It's seems to be like that : when you have an entity type with the option "expanded" to true, after upgrading to 2.7 you have an exception (the same as in the previous message). Adding the data_class option fix the problem, but this option is not required when you look in the documentation.

[2015-07-06 13:53] XWB commented on #14877
@isabellebruchet Fully correct
@webmozart Private project, I cannot uploaded a fork

[2015-07-06 14:25] jakzal commented on #14877
@XWB we don't need your private project. What we need is your problem reproduced on a fresh Standard Edition project. While preparing it you'll be able to roll out problems specific to your project or configuration, and might be you'll even find the cause of the problem. Surely, it'll be much easier for us to debug the issue.

[2015-07-06 14:28] Imunhatep opened #15214 "[Security] Ability to customize how token is serialized"
Even if developer provides custom authentication listener, default ContextListener is the one responsible for serializing tokens.

I want to serialize tokens to json. Currently it could be achieved by configuring custom authentication provider as stateless and then manually register listener on "onKernelResponse", same as ContextListener does it. Is this official way to go or I'm missing something

[2015-07-06 14:40] jakzal commented on #15214
Tokens [are serialized with PHP's built in mechanism](https://github.com/symfony/security-http/blob/master/Firewall/ContextListener.php#L84). TokenInterface extends [Serializable](http://php.net/manual/en/class.serializable.php). All you need to do is to provide your own TokenInterface implementation, with a custom [serialization logic](https://github.com/symfony/Security/blob/master/Core/Authenti

[2015-07-06 14:53] OskarStark commented on #15211
:+1: like the idea

[2015-07-06 16:37] stevenmusumeche commented on #15199
I have done this with a fresh install of the Symfony Standard edition and the problem does not occur.  However, it is still occuring in my environment after upgrading to Symfony 2.7.1.  The problem does not occur in 2.6.  Is there some sort of upgrade to TwigBundle that I need to perform?  One thing I noticed is that my composer.json file has an entry for `"twig/extensions": "~1.0"`. Here is my cu

[2015-07-06 16:46] stevenmusumeche commented on #15199
Here is the exception trace:

[code]

[2015-07-06 16:48] stevenmusumeche commented on #15199
I manually cleared my test environment cache and the exception went away.

[2015-07-06 16:48] #15199 closed

[2015-07-06 16:59] Crell commented on #15212
You mean the PSR-7 UriInterface?

[2015-07-06 17:01] dawehner commented on #15212
Yes, exactly, which maybe even works given __toString

On Mon, Jul 6, 2015 at 5:59 PM, Crell <notifications@github.com> wrote:

[2015-07-06 18:26] jakzal commented on #14995
I have tried to reproduce your issue on 2.7, but failed. Have a look at my [attempt](https://github.com/symfony/symfony-standard/compare/2.8...jakzal:2.7-issue14995?expand=0), and provide code example that would show how to reproduce the problem. The easiest is to create a new branch on a symfony/symfony-standard fork.

[2015-07-06 20:56] flip111 opened #15215 "Missing check in Finder component for WindowsPipes.php"
Composer does not work anymore here, i get this message:

[code]
(not sure why i am getting terminal codes, that's another issue)

I extracted the `composer.phar` and placed some debug points around fopen statements. Seems that this call fails `tempnam(sys_get_temp_dir(), 'sf_proc_stdout')` [here](https://github.com/symfony/Process/blob/e42521d38b122a2ad8a0efb4f9ccaad9dd04b90b/Pipes/WindowsPipes.p

[2015-07-07 02:24] nothingaa commented on #15213
If I look in the Translation section of my Profiler, a part of the translation are in English and the rest is in French.

[2015-07-07 06:47] xabbuh commented on #15213
Do you somehow change the locale in your own code? Can you reproduce your issue on a fresh Symfony Standard Edition or can you provide a fork of it with the necessary changes to reproduce your issue?

[2015-07-07 06:51] xabbuh commented on #15189
@Rbn3D Can you provide some steps to reproduce your issue with route defaults (or even better provide a fork of the Symfony Standard Edition)?

[2015-07-07 07:08] xabbuh commented on #15190
@timwhitlock Thanks

I'm not sure if this will help many people. But at the least it really does not hurt anyone and if it makes some peoples' lifes easier, I am not against this. :)

@aitboudad What do you think?

[2015-07-07 07:15] aitboudad commented on #15190
me too I am not against, @timwhitlock can you work on it  ?

[2015-07-07 07:19] aitboudad commented on #15211
this look a nice idea, but we should provide a way to save the default domain in translator and then we can add Annotation in `SensioFrameworkExtraBundle`.

[2015-07-07 07:20] xabbuh commented on #15215
Indeed, looks like checking the return value of the `tempnam()` calls and providing better error messages would be more convenient.

[2015-07-07 07:26] xabbuh commented on #15211
@aitboudad Is that needed? The solution could be to decorate the translator service with a custom one that makes it possible to exchange the default message domain (which could be done through the kernel events). But I agree that this should be done in SensioFrameworkExtraBundle if it gets implemented.

[2015-07-07 07:29] fabpot commented on #15209
Everything you mention here is already possible:

* the "magic" is in the ClassLoader component
* in a Symfony project, you can add classes to a cache file in extensions.

[2015-07-07 07:29] #15209 closed

[2015-07-07 07:33] aitboudad commented on #15211
@xabbuh decorate the translator look good to me, who wants to work on it ? if no one I can work on it next week ^^

[2015-07-07 07:38] Rvanlaak commented on #15211
Also don't think the default translator should be touched. Do not know a lot about compiler passes or tagging services, but is that the way to go?

Decorating the `translator` replaces it with another one right? How will this work for the `LoggingTranslator` on `DEV`?

[2015-07-07 07:40] jakzal commented on #9886
Let's close as there are few ways of solving this already (an event listener, a data transformer). It seems to be a rare edge case anyway.

[2015-07-07 07:40] #9886 closed

[2015-07-07 07:40] xabbuh commented on #15203
Not sure if that really makes sense. Imo this sounds more like a use case where container parameters are simply not the right solution.

[2015-07-07 07:42] xabbuh commented on #15211
@Rvanlaak The logging translator also just decorates the configured one.

[2015-07-07 07:44] timwhitlock commented on #15190
OK, I'll have a go. Thanks.

[2015-07-07 07:48] fabpot commented on #15203
I agree with @xabbuh here.

[2015-07-07 07:48] aitboudad commented on #15211
@Rvanlaak right now we decorated the translator by two classes and I think it should be decorates after `LoggingTranslator` and `DataCollectorTranslator` (the last one as possible) to make sure we log the right domaine.

[2015-07-07 07:51] Rvanlaak commented on #15211
Is decorating the translator as late as possible just a matter of setting priority in the service definition? Or how can we do this, since the [Decorating Services chapter](http://symfony.com/doc/current/components/dependency_injection/advanced.html#decorating-services) does not say anything about that.

[2015-07-07 07:59] aitboudad commented on #15211
setting priority for the compiler pass and not decorating, just registering `SensioFrameworkExtraBundle` after `FrameworkBundle` can solve the issue.

[2015-07-07 08:12] Rvanlaak commented on #15211
Then I'll dive into that, can't promise it will work but want to get a better understanding in creating annotations, decorating and compiler passes :+1:

There also should be some sort of `enterNode` and `leaveNode` functionality as in https://github.com/symfony/symfony/commit/ce6399e254d57fda8b4a98eab52bf79c57597507 , should this happen based on the [`KernelEvents::REQUEST`](https://github.com/sy

[2015-07-07 08:56] liuggio commented on #15209
Yes it is, but the RFC was about a new explicit component to improve the expensive time autoloading classes.

[2015-07-07 09:19] samgavinio commented on #15024
@xabbuh yes, the voter is coded in such a way that it uses both the attributes at the same time. It may really be the case that I'm misusing the voter attribute variable.

[2015-07-07 09:29] Rvanlaak opened #15216 "[Form] expanded EntityType requires `data_class` option"
Since we've updated to `2.7.1` the `EntityType` with `expanded: true` does not accept an entity as a default value anymore. A `LogicException` occurs when the user goes back to edit the entity, where `defaultData` is added to the builder:

[code]

The exception can be solved in two ways, by setting `expanded` to `false` or by defining `data_class`:

[code]
Looks like a BC break, think `EntityType`

[2015-07-07 09:41] Rbn3D commented on #15189
Finally started over again on a clean branch, making sure I flush cached after each change, and it worked.

There are the most important parts of my setup (I renamed some things):

**app/config/routing.yml**
[code]

**@MyBundle/Controller/Api**
[code]

Then I use this method on a RouteController that provides info of these tagged routes...

Sorry guys about the confusion and thanks for all.

[2015-07-07 09:41] #15189 closed

[2015-07-07 09:50] zanderbaldwin commented on #15165
I think that adding this exception to the framework would be good for people who wish to code in the functionality themselves. This wouldn't bring in any backwards-compatibility issues.

There would then be an opportunity to formalise environments in versions `2.8` or `3.0`.
An alternative to formalising environments would be to add something similar to the following in the [`symfony/symfony-stand

[2015-07-07 10:26] Imunhatep commented on #15214
Thanks, but actually I can just apply [jsonSerializable](http://php.net/manual/en/class.jsonserializable.php) interface and use json_encode. serialize() is php built-in function, but it's Symfony2 that uses it, and there is no way (officially) to change this behaviour.

I want to use json cause generally it's shorter.

[2015-07-07 11:34] bestform commented on #14020
I can confirm a problem with the newly wrapped listeners in debug mode.
It boils down to the same issue, where listeners are being called twice when in debug mode. Tried it with symfony 2.7.

[2015-07-07 11:54] unkind commented on #15203
Of course there are other ways, we can use some kind of "config" dependency with lazy loading, etc., but can you clarify why it is "simply not right solution"? It works well without inlining, just pure infrastructure issue.

[2015-07-07 12:28] XWB commented on #15216
You are not the only one experiencing this bug / BC break.

https://github.com/symfony/symfony/issues/14877

[2015-07-07 14:05] clubdesarrolladores opened #15221 "On unmatched route the app.user is null"
Hi, when i throw a HttpNotFoundException within a controller, a 404 error page is rendered. That is ok, i can show to the user a message like: "Hi USERNAME, are you lost?"
But if the exception is thrown by the kernel when it can't resolve a controller (route not found), the 404 error page is rendered but without the user in the twig's app.user variable. "Hi NULL, are you lost?"
It is ok this behav

[2015-07-07 14:08] jvasseur commented on #15221
This appends because the routing is done before the security listener reloads the user from the session, so you don't have access to the user in the 404 page.

I'm not sure if there is a reason they are done in this order or if you can switch the priority of the listeners.

[2015-07-07 14:10] MatTheCat opened #15222 "[Form][Translation] Date components are translated"
When using a `date` field, say

[code]
all options are translated:

| State | Locale | Domain | Id | Message Preview |
| ------- | --------- | ---------- | --- | ------------------------ |
| missing | fr | forms | 2015 | 2015 |
| missing | fr | forms | 2016 | 2016 |
| missing | fr | forms | 2017 | 2017 |
|  |  |  |  |  |
| missing | fr | forms | janvier | janvier |
|  |  |  |  |  |
| missing | fr

[2015-07-07 14:13] pandy06269 commented on #14350
I'm also having difficulty getting my head around the ArrayChoiceList class.  I have an array which contains a list of objects, keyed by the object ID.  I.e.

[code]

I want to display this in a select so that the "name" property of each object is the label of the select, and the ID (the array key) is the value.

When a user submits the form, I want the actual object to be returned from my form.

[2015-07-07 14:31] pandy06269 commented on #14350
http://symfony.com/blog/new-in-symfony-2-7-choice-form-type-refactorization

After a bit more Google'ing, turns out I needed the 'choice_label' option - very confusing.

Why can I customise the value in a callback to ArrayChoiceList, but not the label?

Why can I then use the 'choice_label' option to specify the property the label is read from, but have to use a callable when I create my ArrayChoi

[2015-07-07 15:01] loicfavory opened #15224 "translator service use a different class between prod & dev environments"
I'm using this example to create a LocaleListener to persist the locale during all the session : http://symfony.com/fr/doc/current/cookbook/session/locale_sticky_session.html

First, since Symfony 2.7 this example is not working anymore with ajax requests.
The locale is set in french in the request object in my Controller, but the locale of the translator service stay in english.

So I change the

[2015-07-07 15:05] Rvanlaak commented on #15216
Thanks @XWB I'll close this one

[2015-07-07 15:06] #15216 closed

[2015-07-07 15:06] Rvanlaak commented on #14877
Since we've updated to `2.7.1` the `EntityType` with `expanded: true` does not accept an entity as a default value anymore. A `LogicException` occurs when the user goes back to edit the entity, where `defaultData` is added to the builder:

[code]

The exception can be solved in two ways, by setting `expanded` to `false` or by defining `data_class`:

[code]
Looks like a BC break, think `EntityType`

[2015-07-07 15:38] nothingaa commented on #15213
I was using a version of the code on http://symfony.com/doc/current/cookbook/session/locale_sticky_session.html in the "Setting the Locale Based on the User's Preferences" section. I tried with the original code. When I dump the `$this->session->get('_locale')` after the `if`, it displays `fr` but part of my site is still loading in `en`.

On 2.5, the following code and it was working fine
[code]

[2015-07-07 16:24] gharlan commented on #12360
What is the state of this issue? Am I correct that with #14733 it is possible to use `AccessDecisionManager` when implementing `VoterInterface` directly, but not when extending `AbstractVoter` because you do not have access to the token there?

[2015-07-07 16:29] xabbuh commented on #15224
In the dev environment, Symfony the `translator` service is decorated by a different implementation that is able to collect information about translations being used in order to add the translation section to the debug toolbar.

@loicfavory So this is totally expected. Did you experience any issue with this behaviour?

[2015-07-07 16:35] loicfavory commented on #15224
@xabbuh I thank you for this answer. I had an issue because I was using the DataCollectorTranslator type in the constructor method of my LocaleListener. So it was working in dev but not in prod. I changed it using the TranslatorInterface type, it's working now on both environment, but I'm glad to understand why it was different.

So no issue in fact.

[2015-07-07 16:35] #15224 closed

[2015-07-07 16:56] xabbuh commented on #15224
@loicfavory Indeed, it's always a good idea to rely on an interface as long as you don't need a concrete implementation.

[2015-07-07 17:13] nothingaa commented on #15213
It seems to be working now. The problem was that I was calling this listener
[code]
and now I moved the content of the `setLocaleForUnauthenticatedUser` function in the `onKernelRequest` function of the listerner.
[code]
It seems like the request that I was using for unauthenticated users is now called later and was impacting the locale defined by the users preferences. I'm gonna do some more test

[2015-07-07 17:47] xabbuh commented on #15203
Well, the parameters are part of the container which will be loaded on every request. So having large parameters makes the container really big which isn't something you should usually do imho.

[2015-07-07 19:22] nykopol opened #15227 "[Console][Progress] regression of the progress bar"
Actually, the regression of the progress bar is impossible :  [LogicException]  You can't regress the progress bar

I think this should be possible. It would make sense for example to show the memory usage of a long command against the memory limit. In this case, the regression of the progress bar make sense when the memory is released.

If you think this enhancement can be added, i can do the PR.

[2015-07-07 20:20] #15213 closed

[2015-07-07 22:13] unkind commented on #15203
I think large parameters are not bad per se, but inlining them is. Having 5 KB parameter may be OK, but having 2 services with this parameter results in additional 10 KB (default value + 2 inlined ones), and moreover, PHP creates this parameter again (in case of `$this->getParameter('large_parameter')` PHP would use copy-on-write).

Also container can handle large parameters transparently. For exa

[2015-07-07 23:19] chandon opened #15228 "[2.7] Twig_Error_Runtime: "The "native_profiler" extension is not enabled"
I'm using the templating service to internaly render mail templates in my application.

Since Symfony 2.7, when i do :

    this->get('templating')->render("TDP:Report:reportemailtemplate.html.twig")

i got this error only on "test" environment (but not with "dev" or "prod") :

    request.CRITICAL: Uncaught PHP Exception Twig_Error_Runtime: "The "native_profiler" extension is not enabled in "TDP:

[2015-07-07 23:48] jakzal commented on #15033
After a long debugging session, I figured out that the a reference to `$_SESSION` is lost after a call to `session_regenerate_id()`. We store the reference in session bags, so we don't have to operate on the `$_SESSION` directly.

I believe this is a PHP bug and reported it here: https://bugs.php.net/bug.php?id=70013

[2015-07-07 23:53] thornycrackers opened #15229 ".htaccess file turns POST request into GET request"
I'll provide a link to my Stack Overflow question if anyone is interested in more details. To sum it up I'm using postman to send POST requests to **app.php/myroute/login** which are converted into GET requests. If I post to just **/myroute/login** everything works fine. I post to the original url but move the .htaccess file and xdebug shows the method as being post. I don't think many people will

[2015-07-08 00:36] Tobion commented on #15229
The htaccess https://github.com/symfony/symfony-standard/blob/2.8/web/.htaccess#L48 redirects requests from /app.php/* to the path without app.php because app.php in the path should not be accessible to remove duplicate content sites. It's true that this is also done for POST, which will of course results in a redirect with GET.

The only alternative we had would be to return an error response for

[2015-07-08 00:36] #15229 closed

[2015-07-08 04:43] fabpot commented on #15203
I don't think having a 5k parameter is ok. Parameters are simple key/value pairs for making your app configurable. I fail to see how a configuration value could be as large as 5k.

[2015-07-08 05:55] #14384 closed

[2015-07-08 06:06] fabpot commented on #15165
As explained by @javiereguiluz, we don't "manage" environments in Symfony per se. And as demonstrated by your example above, that's something that you can easily add if that makes sense for you, no need to have built-in support in Symfony.

[2015-07-08 06:06] #15165 closed

[2015-07-08 06:39] xabbuh commented on #15055
ping @ZCJ

[2015-07-08 06:43] xabbuh commented on #14772
maybe related to #14995

[2015-07-08 06:43] xabbuh commented on #14995
maybe related to #14772

[2015-07-08 06:52] ZCJ commented on #15055
@xabbuh ... I still need to submit a fork with the reproduced error .. I will try and have it ready by next week.

[2015-07-08 06:57] xabbuh commented on #15055
@ZCJ cool, thank you :)

[2015-07-08 07:09] nicolas-grekas opened #15230 "Travis deps=high tests not always testing the highest versions"
This is an issue we have on symfony/symfony and I can't find a solution for now:

While on branch 2.8, I want to test one single component A.
Lets say A depends on B, but I don't know if it's B(2.8) or B(3.0).
In case it's B(2.8), I want to provide an alternative (patched) source package.
In case it's B(3.0), the upstream version is fine (as published by packagist).

What we do now in symfony is p

[2015-07-08 07:11] nicolas-grekas commented on #15230
This is a question for composer, I posted on the wrong repos...
Here is the composer issue: https://github.com/composer/composer/issues/4226
I let this open because the issue is experienced here and is the root reason for e.g. https://github.com/symfony/symfony/pull/15182

[2015-07-08 08:36] unkind commented on #15203
Event listeners configuration can be more than 5 KB, routing configuration, etc. By now, you don't see doubled big parameter with listeners configuration, because it compiled into several method calls:
[code]
But with the following PR it will be simple parameter: #12521. It means that listeners configuration will be doubled (default value + inlined argument of `CompiledEventDispatcher`).

[2015-07-08 09:03] narcoticfresh opened #15231 "[Form] Frustration and miracles"
Hi guys..

The Form Component really is something. I guess you know that. Trying to understand what works how is just an seemingly impossible task; and I'm quite experienced at browsing through codebases.. But man, the Form component.. OMG :octopus:

**TLDR;**
Below are details, this issue tries to ask
* Is it possible to replace the class `\Symfony\Component\Form\Form`?
* Or: How to easily get *a

[2015-07-08 09:08] zanderbaldwin commented on #15165
Fair enough! It was a suggestion that I found useful in my own projects for the benefit of console end-users, so I'll keep using it - but since most developers wouldn't even bother using the exception themselves I can see that its addition to the framework doesn't have that much merit. Thanks for the feedback, @javiereguiluz and @fabpot! :)

[2015-07-08 09:12] greg0ire opened #15232 "[DoctrineBridge]Implement container aware EntityListenerResolver"
The doctrine documentation shows an example of entity listener resolver :

[code]

This looks a lot like something that could be done in the doctrine bridge, allowing people to use services id instead of classnames when configuring their entity listeners, making the injection of services like, for instance, a mailer, very easy.

At the moment, if I need to use some services in an event, I use an e

[2015-07-08 09:23] Tobion commented on #15231
Please use stack overflow for support questions. We use github issues for bugs or concrete feature requests. Thanks.

[2015-07-08 09:23] #15231 closed

[2015-07-08 09:45] unkind opened #15233 "[3.0] Final classes by default"
There is a rule in Symfony to make all non-public class members `private` by default, not `protected`:

by @jakzal (#14923).

I suggest to make BC policy more strict for Symfony 3: require `final` on every new class by default. Reasoning is simple: if you don't think that class should be inherited, then don't leave it opened for inheritance, it would allow to keep BC better. Sometimes I see PRs wh

[2015-07-08 09:48] lyrixx opened #15234 "[Yaml] Invalid yaml does not always raise an exception"
Reproducer:

[code]

This code block generate a "php warning". It should instead throw an exception.

[code]

[2015-07-08 09:49] fabpot commented on #15233
:-1:

[2015-07-08 09:54] cfuerst opened #15235 "[2.7][Asset] unwanted ? at the end of path if 2.6 config is used"
Hi

In Symfony 2.7.1 if i have no specific version settings enabled there is a issue when just using:
`
{{ asset('foldername/cat.gif', 'packagename') }}
`

this will result in:
`
somepath/foldername/cat.gif?
`

this is especialy a problem when just rendering the path to a folder
`
somepath/foldername/?
`

for me the usecase is a angular js template where the actual asset (cat.gif) is added by angu

[2015-07-08 10:26] Ocramius commented on #15233
@unkind only for classes implementing interfaces and ONLY the interface methods as public API.

[2015-07-08 10:41] xabbuh commented on #15233
In my opinion we don't need to introduce this as general rule, but we could indeed spent some time about thinking whether or not a new class really deserves to be extendable (removing `final` is backwards compatibe).

[2015-07-08 10:48] unkind commented on #15233
@Ocramius yes, it can sound like that, less strict, but still reasonable. However, I usually mark almost every class in my projects. Why do you need to inherit value objects like `RgbColor`, for example? It has no separate interface, but leaving it open to inheritance is weird for me.

[2015-07-08 11:30] hvt opened #15236 "InsufficientAuthenticationException is thrown and results in a 500 when I expect a 403"
I'm using Symfony 2.3 and written something very similar to this cookbook entry (http://symfony.com/doc/2.3/cookbook/security/voters.html). I think my issue very much looks like https://github.com/symfony/symfony/issues/8467, although I believe my use case is different, as I am not using a user provider at all.

Now, `InsufficientAuthenticationException` is thrown with `AccessDeniedException` as a

[2015-07-08 11:32] cfuerst commented on #15235
the problem only occured with the old 2.6 config for templating assets:

[code]

changing to framework assets fixed the issue

[2015-07-08 11:51] Creaternal opened #15237 "[Security] Using 0 as username"
UserAuthenticationProvider not allow username "0"

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Core/Authentication/Provider/UserAuthenticationProvider.php#L65

[2015-07-08 12:05] Ocramius commented on #15233
In a framework, it is very hard to foresee what users are going to use your classes for.
If it's private and internal API (php lacks `protected` class scope, sadly), then yes, feel free to use `final`.
If the class doesn't match an interface (completely), and it is going to be used in userland, then don't mark it as `final`, as that's just asking for trouble.

[2015-07-08 12:22] unkind commented on #15233
Symfony has `@api` tag for public classes/interfaces: http://symfony.com/doc/current/contributing/code/bc.html

IMO, it makes sense to allow `final` for:
* classes without `@api` tag;
* classes "implementing interfaces and ONLY the interface methods as public API".

[2015-07-08 12:41] Ocramius commented on #15233
@unkind that's good enough for me :-)

[2015-07-08 12:49] mickaelandrieu commented on #15234
How about a check on line 235 to check if value is a string ?

[code]

[2015-07-08 14:38] Azenet opened #15238 "[2.7] Some parameters are not loaded"
Hi,

I used to have (with Symfony 2.6) parameters in app/config/config.yml in this form :
[code]
I was able to access these using `ContainerInterface->getParameter('my-parameter');`, however this now throws an InvalidArgumentException with the message "The parameter "my-parameter" must be defined." starting from Symfony 2.7.
There's no trace of this change in the change log nor in the UPGRADE-2.7.

[2015-07-08 14:40] fabpot opened #15239 "Use random_bytes() in Symfony"
As of PHP 7.0, `random_bytes` "generates cryptographically secure pseudo-random bytes". We are doing something similar in `Symfony\Core\Component\Security\Util\SecureRandom::nextBytes()` as we should probably use the build-in function for PHP7.

Also, @paragonie-scott maintains paragonie/random_compat, a compat lib for PHP 5.x, which we can use for non-PHP7 installations.

ping @symfony/deciders

[2015-07-08 14:50] javiereguiluz commented on #15238
Does the error remain if you use this other config?

[code]

[2015-07-08 14:51] Azenet commented on #15238
@javiereguiluz Yes, the error remains.

[2015-07-08 15:18] dunglas commented on #15239
:+1:

[2015-07-08 15:25] jakzal commented on #15033
Reopened since PHP guys don't treat it as a bug... See https://bugs.php.net/bug.php?id=70013:

[2015-07-08 15:27] weaverryan commented on #15239
So for 5.x users, they would probably get an exception to install the `paragonie/random_compat` library?

What does this affect? At a quick check, looks like `UserPasswordEncoderCommand`, `UriSafeTokenGenerator` and `PersistentTokenBasedRememberMeServices`, which don't seem that huge of a deal (though I'm not sure exactly where `UriSafeTokenGenerator` is used - if it's in forms, that would mean th

[2015-07-08 15:32] fabpot commented on #15239
We did a similar thing with `ircmaxell/password-compat` in the past.

[2015-07-08 15:35] weaverryan commented on #15239
Good point - and I at least personally never head any complications/complaints about this. :+1:

[2015-07-08 15:37] phansys commented on #15239
I think these libraries should only check if the environment has the native support for those functions and just bypass the task if that is the situation, in the same way that [```ircmaxell/password-compat```](https://github.com/ircmaxell/password_compat/blob/master/lib/password.php#L12) does. Otherwise, if we mark this as a conflict, the usage of these dependencies could be very problematic in en

[2015-07-08 16:10] fabpot commented on #15212
I'm closing this issue as we already have a meta issue on PSR-7 in Symfony.

[2015-07-08 16:10] #15212 closed

[2015-07-08 16:31] jakzal commented on #15033
Even if PHP is not going to fix it on their side, I think there's a solution. I'll send a PR later on.

[2015-07-08 16:46] alexgurrola opened #15242 "PDOSessionHandler fails in Prod Env in 2.7"
I have followed instructions according to the article, [How to Use PdoSessionHandler to Store Sessions in the Database](http://symfony.com/doc/current/cookbook/configuration/pdo_session_storage.html) to implement Sessions into a MySQL Database in Symfony 2.6.  This worked perfectly ~~in Symfony 2.6~~, but ~~after updating to Symfony 2.7~~, upon the expiration of a session, a user is unable to log

[2015-07-08 19:12] Tobion commented on #15221
This is a known limitation: http://symfony.com/doc/current/cookbook/controller/error_pages.html#avoiding-exceptions-when-using-security-functions-in-error-templates and #10159

[2015-07-08 19:12] #15221 closed

[2015-07-08 19:18] xabbuh commented on #15238
@Azenet Could you fork the the Symfony Standard Edition an make the minimum set of needed changes to reproduce your issue?

[2015-07-08 19:34] xabbuh commented on #15242
Does that mean that anything works for you if switch to, for example, the native session handler when using Symfony 2.7?

[2015-07-08 19:40] xabbuh commented on #15239
Switching to this library when it has proven to be good (however we judge that) sounds like a good idea to. Though this means that we will either have to add it as a dependency or that we will need to be clear about the new dependency for PHP 5.x users when they update their Symfony version.

[2015-07-08 19:47] xabbuh commented on #15235
@cfuerst Thank you for open the issue and for providing some information on how to "fix" it.

However, I think we should at least investigate if this is a real bug and whether or not we can provide an easy fix for people who upgrade their old applications and don't want to bother with updating their configs right now. So I'm gonna reopen here.

[2015-07-08 19:50] xabbuh commented on #15232
It looks to me that you are looking for the [entity listener support of the DoctrineBundle](http://symfony.com/doc/master/bundles/DoctrineBundle/entity-listeners.html).

Feel free to reopen if I misunderstood your issue. :)

[2015-07-08 19:50] #15232 closed

[2015-07-08 20:09] greg0ire commented on #15232
Oh, indeed, it seems to solve my problem! Thanks a lot!

[2015-07-08 20:23] utilisezlinux commented on #15228
Clear your cache when switching environment…

[2015-07-08 21:01] chandon commented on #15228
Of course, the cache was cleared ! that's not the point... the problem is elsewhere

[2015-07-08 21:06] utilisezlinux commented on #15228
Ok, I was just giving my experience, I had the same problem until I cleared the cache between dev and prod switching. I did the thing twice, on 2 different servers… so there must be something else if it doesn't work for you.

[2015-07-08 21:32] Azenet commented on #15238
@xabbuh done here: https://github.com/Azenet/symfony-standard/commit/0f6c5d5000c3fc6f8e4739628133bc3ee3a4ffd3

[2015-07-08 21:46] weaverryan commented on #15239
@xabbuh agreed - it wouldn't be a hard dep, and we could deprecate the use of the old functionality (before having a version where it requires you to have that lib installed). Anyways, those sound like implementation details, so I think we're still seeing mostly +1's for this being available for someone to do.

[2015-07-08 21:49] xabbuh commented on #15239
@weaverryan Well, we need to decide how we actually do the change, don't we? When using these functions in core code, we would need to depend on the third-party library. And we could only deprecate some functions if we provided alternatives (which we use in our own code so in turn we must use the new library again, right?).

[2015-07-08 21:55] xabbuh commented on #15238
@Azenet Thank you for providing the fork. I can confirm that this does not work with Symfony 2.7. It even does not work with Symfony 2.6.9.

[2015-07-08 21:58] weaverryan commented on #15239
@xabbuh The alternatives that we use during deprecation would simple be to use the existing code we have inside `nextBytes()`, right? So, look for the PHP7 function, else look for the presence of the 3rd library and use its code, else use the code we have now (but throw a deprecation warning).

[2015-07-08 22:02] xabbuh commented on #15238
Okay, I had a closer look at this and the "issue" simply is that you define the `parameters` key twice (the first occurrence is on line 8 when the `locale` parameter is defined). This is due to a bug with how the Yaml component handled duplicated keys (in contrary to the specs) which was only merged into the `2.5` branch (see #10902). So I'm going to close here.

[2015-07-08 22:02] #15238 closed

[2015-07-08 22:03] xabbuh commented on #15238
by the way, see also https://github.com/symfony/symfony/blob/2.8/UPGRADE-2.5.md#yaml-component

[2015-07-08 22:05] xabbuh commented on #15239
@weaverryan Yeah, of course you're right. Actually looking for the PHP7/for the presence of the library would even be done in the same step (calling `function_exists()` I assume).

[2015-07-08 22:15] Azenet commented on #15238
@xabbuh Thanks, I missed this change.

[2015-07-08 22:19] paragonie-scott commented on #15239
The random_compat does the function_exists() checks internally. If
random_bytes() and random_int() exist (i.e. PHP 7), the lib will not
attempt to redefine them. So naively loading it should be safe on any
functioning platform.

random_compat will select the most optimal backend available for the
current platform. Priority is given to reliably secure CSPRNGs:
/dev/arandom, /dev/urandom, mcrypt, CA

[2015-07-08 23:32] weaverryan commented on #15239
@paragonie-scott thanks for chiming in - very helpful! You've done much of the work for us then :).

So again, I think this has a :+1: for someone to get a pull request going at least. I don't want to have too much conversation here and cloud that this is actionable.

Cheers!

[2015-07-09 00:47] addixon commented on #14995
Jakub,

Sorry for the delay.  I will spin up my server tomorrow and recreate the
error with examples.

Thanks,
adam

On Mon, Jul 6, 2015 at 2:26 PM, Jakub Zalas <notifications@github.com>
wrote:

[2015-07-09 06:33] cfuerst commented on #15235
thanx @xabbuh i slightly modified title and description to match the config issue

[2015-07-09 06:52] xabbuh commented on #14607
@spackmat Looks like your issue is a bit different from #14583. Can you please provide some more information about how your scenario looks like to make it possible to reproduce your issue (or even provide a fork of the Symfony Standard Edition that reproduces it)?

[2015-07-09 06:54] cfuerst opened #15244 "[2.7][Asset] ssl vs http asset package urls"
Hi,

Im not really sure if its a bug or not, but i dont really understand the meaning of how this code behaves.

Lets assume following config where both SSL and HTTP urls are defined:

[code]

Now the ```Symfony\Component\Asset\UrlPackage``` collects ALL base urls into ```$this->baseUrls ``` in [see code](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/Asset/UrlPackage.php#L59)
a

[2015-07-09 07:07] xabbuh commented on #15244
I am not sure if I understood this. Could you elaborate this with the example configuration given?

[2015-07-09 07:11] #15033 closed

[2015-07-09 07:17] cfuerst commented on #15244
In short: if [this line](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/Asset/UrlPackage.php#L78) does not match (because its a http call) following will happen with the config given obove:
[code]
[code]

Both asset urls are used and mixed depending on the magic ```chooseBaseUrl``` makes

[2015-07-09 07:25] xabbuh commented on #15244
Yeah, but what's wrong with this behaviour in your opinion? What kind of result did you expect instead?

[2015-07-09 07:33] cfuerst commented on #15244
I expected that in ssl context only ssl urls are used and in http context only non ssl urls are used if given.

My problem is im serving multiple sites with a core bundle (which injects the asset configs via DI-Extension) and some domains have ssl and others do not.

I can always handle the issue by removing the ssl asset urls in the projects themselves which do not have ssl support.

I was just w

[2015-07-09 07:43] xabbuh commented on #15244
I think so. There's nothing wrong with referring to SSL URLs in a non-SSL context (the other way around would be an issue, that's why the secure context is handled first).

@fabpot What do you think (as you initially implemented this behaviour)?

[2015-07-09 07:49] spackmat commented on #14607
I thought about this issue again after a while: I think the problem is, that the guessing taking place until Symfony 2.6 is broken in 2.7. In 2.6 a property of an Doctrine-Entity, that is not nullable, is considered as required by the Form. In 2.7, it's not anymore.

As a workaround, I could simply add explicit `NotNull` Asserts inside the model definition for all of those properties, but on the o

[2015-07-09 07:57] cfuerst commented on #15244
thanx @xabbuh for looking at this, maybe its a bit an edge case to have this in a base bundle configured, i just liked the fact that the server guys could switch to ssl or to non ssl (at server level) without me changing any config.

[2015-07-09 08:39] kiler129 opened #15245 "ParseError in PHP 7 results in uncaught TypeError"
I found that sometime Symfony prints exception as below:

[code]

Problem was of course caused by typo in my code, but it should be catched ;) Correct me if I'm wrong but I think there's a problem because PHP 7 introduced `Throwable` along with `BaseError`.
Does Symfony 2.7 supports PHP 7?

[2015-07-09 08:42] jvasseur commented on #15245
I think this was fixed in #14959.

[2015-07-09 08:53] jaytaph opened #15246 "[console] Adding a "default" color"
At the moment, only the standard 8 ansi colors (black, red,... white) are supported within the console output formatter. However, this has some issues in some terminals. For instance, on iTerm2 with a background image, having a "black" background (ansi code 40) will result in a black background, not the default transparent background.

If you do not specify a background color when defining a new f

[2015-07-09 08:56] kiler129 commented on #15245
You're right. Strange, should I be getting latest 2.7 release with `"symfony/symfony": "~2.7@beta"` entry? With `2.7-dev` I'll get `dev-master`.

[2015-07-09 09:05] jvasseur commented on #15245
It's not in the last released 2.7 version yet, you should be able to get it with a constraint like "2.7.*@dev".

[2015-07-09 09:58] #15245 closed

[2015-07-09 13:12] greg0ire commented on #15232
@xabbuh : turns out it does not work at all. Can you reopen this issue ? The problem is that my listener has a dependency, and that the default entity resolver builds my listener without its dependencies, like this :

[code]

[2015-07-09 15:42] xabbuh commented on #15232
@greg0ire I don't understand your issue. [Here](https://github.com/doctrine/DoctrineBundle/blob/master/DependencyInjection/Compiler/EntityListenerPass.php#L55) the service you configured is registered as an entity listener. So `resolve()` should not create a new instance of your listener class. But anyway if there is an issue with the existing compiler pass, you are better off with reporting it on

[2015-07-09 15:49] greg0ire commented on #15232
I guess I misused it somehow, probably because I tried registering the entityListener in the entity mapping with a classname. Maybe I should try again with a service id instead.

[2015-07-09 15:57] greg0ire commented on #15232
Ok, turns out my version of doctrine-bundle is too old, I don't even have this compiler pass. This explains that, sorry for the noise.

[2015-07-09 16:12] #15246 closed

[2015-07-09 19:06] craue opened #15253 "[CssSelector] wrong conversion of CSS pseudo-classes to XPath"
I'm getting some strange results (using Symfony 2.6.9) when calling `CssSelector::toXPath('...')` with CSS pseudo-classes:

| argument | result | comment | expected result |
| --- | --- | --- | --- |
| `input[type="checkbox"]` | `descendant-or-self::input[@type = 'checkbox']` | OK |  |
| `input[type="checkbox"]:enabled` | `descendant-or-self::input[@type = 'checkbox' and ((@href and (name(.) = 'a'

[2015-07-09 21:15] weaverryan commented on #14049
It could certainly be done without a BC break.

@danrot I think your setup is pretty typical - where you have multiple voters, but only 1 voter ever votes at any time. So, the count is always 1 for access granted, and everyone else abstains. Is this accurate?

So in this case, I keep the default strategy - it works fine. I think the only problem would be if I screwed up, and 2 voters voted, but th

[2015-07-10 01:12] paragonie-scott commented on #15237
It looks like if `getUsername()` fails, it is going to return `null`. Could this solve the problem?

[code]

[2015-07-10 04:04] mayeco opened #15254 "Error in FrameworkBundle"
https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L830

Thank you, please fix

[2015-07-10 04:06] mayeco commented on #15254
@fabpot ping

[2015-07-10 04:07] dosten commented on #15254
The fix has been applied to the 2.7 branch, so i guess that we should wait until someone merge the 2.7 into the 2.8 and master branches.

[2015-07-10 04:09] mayeco commented on #15254
I just realised, thank you @dosten... closing this.

[2015-07-10 04:09] #15254 closed

[2015-07-10 06:16] xabbuh commented on #15253
It looks to me like there is some room for improvements. Though I did not dig to deep into the CssSelector component to judge if that could be easily achieved or if we should rather update the documentation.

[2015-07-10 06:26] craue commented on #15253
Since there are implementations for at least `:enabled`, `:disabled`, and `:checked` in [HtmlExtension](https://github.com/symfony/symfony/blob/e6cc4918bf2844ee7f6475d295bb95817cdc1117/src/Symfony/Component/CssSelector/XPath/Extension/HtmlExtension.php), I guess they are meant to be supported. But the results not only look way to complex, they also don't match the desired elements. I stumbled upon

[2015-07-10 07:41] zacharyzh opened #15255 "[2.7] A redirect response dead loop in dev environment"
I create a kernel.request event listener like this:

    if ($this->requestStack()->getCurrentRequest()->attributes->get('_route') != '...') {
        $response = $this->httpUtils->createRedirectResponse( ... );
        $event->setResponse($response);
    }

There is a dead loop instead of error debugging page when an error occurs.

[2015-07-10 08:10] danrot commented on #14049
@weaverryan The problem was that there was the possibility that two voter could vote, but one has a higher priority. So if the higher prioritized voter has an opinion, take this value, if not, try the next voter in the list.

Sadly I can't remember the exact use case, and in a fast search I also didn't find the location in the code anymore... But if I remember correctly I have solved this issue wi

[2015-07-10 08:13] danrot commented on #14049
Right after I pressed comment I realized the exact problem again :smile:

We have a security context, which describes an area in the application (e.g. this user is allowed to enter the content area). Additionally we are using an ACL for single pages in the content area, which overrides the previous right. So even if a user is missing the right to enter the content area, he can edit a single page,

[2015-07-10 08:34] boekkooi commented on #15237
So the check should become `if (empty($username) && $username !== '0')`

[2015-07-10 09:32] christian-kolb opened #15256 "Override a symfony service tag with a compiler pass does not work for data collectors"
I'm trying to override a tag in a symfony service definition with a compiler pass. The service as an example would be `data_collector.translation`.

The goal is to deactivate the data collector service to disable the element in the symfony web developer toolbar. To do this, I have to set the `priority` of the `data_collector` tag to `0`.

I could also override it in my own service definition:
[cod

[2015-07-10 10:02] jpauli commented on #15239
One could also detect and use openssl_random_pseudo_bytes() if available.
Many PHP installations are bound to OpenSSL, if not, PHP can't open https:// URLs for example, so many PHP installations provide OpenSSL nowadays.

[2015-07-10 10:15] xabbuh commented on #15239
@jpauli If I don't misunderstand @ircmaxell, [he strongly argues against doing that](https://twitter.com/ircmaxell/status/618865310549057536):

[2015-07-10 12:50] iltar commented on #15256
Have you tried using a service decorator?

[2015-07-10 12:59] weaverryan commented on #14049
@danrot hmm, but there are no priorities in voters, right? The fact that one is first is sort of "accidental" irrc. In you case - just playing devil's advocate - the strategy that allows access if *any* voter says "Granted" would also work I think.

[2015-07-10 13:20] christian-kolb commented on #15256
Isn't a decorator mainly for making private services public or adding configuration to them? I just want to change one specific parameter of it. Also one of the goals of the compiler pass is, that I don't need to know about the construction of the data collector service (like which arguments it takes). I would still need to know this here. Also the question is: Is it a bug in Symfony, that the dat

[2015-07-10 15:05] danrot commented on #14049
@weaverryan No, it would not, because if the acl denies access, but the user has access to the general area, I would like the result to be denied.

But you are right, looks like I've confused something... There are really no priorities on voters, but IMO this concept would still be interesting.

[2015-07-10 15:11] razmo commented on #15192
I just re-tested now and it seems that it's not fixed in version 2.7.1 :-(

Here is a basic code to reproduce the issue.
In the controller:
[code]

In twig template:
[code]
It seems that this bug appears only when there is identical labels (here "Sous activité B").

[2015-07-10 16:25] chrisguitarguy opened #15258 "[Console] No Nice Way to Add Custom Helpers to the Console Application"
It doesn't seem like there is a nice way to add custom console helpers to the [Framework Bundle Application](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bundle/FrameworkBundle/Console/Application.php).

Would it be possible to allow helpers to be added with a container tag -- `console.helper` or something like that? Would probably be very close to the way commands are tagged and checke

[2015-07-10 18:41] bassrock opened #15259 "DynamoDB Session Handling"
I am currently using AWS DynamoDb as my session handler with the following config:

[code]

AWS recommends disabling locking as with AJAX requests it can cause a lot of write requests to DynamoDB and increase the pricing.

However with locking enabled my ajax requests end up timing out and redirecting to the login page.

With locking disabled, my ajax forms end up with CSRF invalid errors on submi

[2015-07-10 18:50] bassrock commented on #15259
Heres the AWS guide on Sessions with their session handler

https://aws.amazon.com/blogs/aws/scalable-session-handling-in-php-using-amazon-dynamodb/

[2015-07-10 20:22] chrisguitarguy commented on #15258
Assuming this gets a :+1: from someone on the Symfony team, I can build it.

[2015-07-11 00:29] razmo commented on #15192
it produce also with a simple list like this:
[code]

I think it's due to the method ```flattenFlipped``` of ```DefaultChoiceListFactory``` class.

[2015-07-11 02:37] Tobion commented on #15259
Please ask support questions on stack overflow. What could help you is using CSRF protection without a session. But that is not implemented yet. See #13464

What I don't get is how there can be so many parallel form requests of the same user via AJAX? Seems strange.

[2015-07-11 02:37] #15259 closed

[2015-07-11 02:42] bassrock commented on #15259
There are multiple form requests because I load a few forms dynamically via Ajax because they can be triggered via popovers and I needed them a bit modular as they are reused on different pages.

[2015-07-11 05:56] linkinkin opened #15260 "Unable to retrive data from a class with hyphen"
Hi,

I'm trying to get data from a div with css "profile-info" but the error "Expected selector, but delimiter "-" at 14 found" was shown.

It is possible to get the information from this div? How?

Thanks

[2015-07-11 06:16] #15260 closed

[2015-07-11 07:12] webmozart commented on #15192
This is fixed in Symfony 2.7.2.

[2015-07-11 07:12] #15192 closed

[2015-07-11 11:23] chx opened #15261 "Container::__clone is missing"
When writing a unit test for Drupal, I found the parameter bag was not cloned so at least

    public function __clone() {
        $this->parameterBag = clone $this->parameterBag;
    }

but that's nowhere near enough as services , scopes etc needs to be cloned too.

[2015-07-11 16:22] timon-schroeter commented on #4087
For everyone else affected by this: Another workaround is documented here:
http://jayroman.com/blog/symfony2-quirks-with-doctrine-inheritance-and-unique-constraints

[2015-07-11 21:05] axiac opened #15262 "[HttpFoundation] 'proxy-revalidate' is not a header on its own but a 'Cache-Control' directive"
`Symfony\Component\HttpFoundation\Response::mustRevalidate()` checks if `$this->headers->has('proxy-revalidate')`. This way it treats `proxy-revalidate` as a response header but it is not a header; it is just a directive of the `Cache-Control` header.
See http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9

The method should read:

    public function mustRevalidate()
    {
        retu

[2015-07-12 13:29] sstok commented on #15211
Be careful though with internal services (used during the controller execution that use the Translator service and don't provide an explicit domain for `trans()`.

What Twig does is set an internal variable thats used for every call to a translator method (just like passing the domain explicit when calling `trans()`) so it doesn't really change the original translator.

[2015-07-12 14:13] stevenmusumeche commented on #15227
+1

[2015-07-12 15:33] ludekbenedik commented on #15211
What about:

[code]

[2015-07-12 16:44] iltar commented on #15227
I don't agree with this in a progress bar nor is it the definition of progress. It sounds more like a percentage or absolute number bar that you're looking for.

[2015-07-12 18:00] Tobion commented on #15227
I think that not allowing regression seems like a limitation for no gain. So I'm :+1: to remove that.

[2015-07-13 02:38] nykopol commented on #15227
@iltar if we think about a progress bar where the total number of task to treat is not predetermined. For example at the start of de command the total number of item to import is 50 but during the importation, the number increase of 200. The progress meaning is respected, but the requested functionality remain the  same when the total number of tasks increase because the printed bar is a percentag

[2015-07-13 09:17] pieter2627 opened #15265 "Validation groups on submits and on the form type"
I am not sure if this is a issue with me trying to do something that is not possible or a bug, but I have the following case.

A multi-stage form that embeds other forms. Some of the embeded forms has dynamic validation groups set via the 'validation_groups' callback in their type. But trying to set the 'validation-groups' option on a submit (for the multi-stage to work) to the name of these embed

[2015-07-13 09:37] rvanlaak opened #15266 "[Request] Let hasPreviousSession take REMEMBERME cookie into account"
## Problem

The `Request::hasPreviousSession` check currently does not take the remember-me cookie into account. We show account buttons on our website, but only 5% of the users are logged in (eg. need a session). When users login and enable 'remember me', all is okay for that session, but in case of `IS_AUTHENTICATED_REMEMBERED` (eg. expired session) the proper buttons aren't shown.

[code]
## So

[2015-07-13 14:26] pascallapointe commented on #14877
You can install the 2.7 branch of my symfony-standard fork:
https://github.com/pascallapointe/symfony-standard.git

Once it's done, add manually some companies and create some employees.

The exception will occur in the 'edit' view once you have linked an employee with a company.
Unlinked entities will not throw any exception.

Hope it will help, thank you in advance for taking a look at it!

[2015-07-13 14:52] qferr commented on #14704
Up

[2015-07-13 15:11] Pierre-Henri-Bourdeau commented on #15087
Hello, sorry for the late reply.

Yes this is still an issue

[code]

[2015-07-13 15:14] Pierre-Henri-Bourdeau commented on #15087
Sorry it was my mistake, I edited ReturnItemType instead of ReturnItemsType :s

[2015-07-13 15:14] #15087 closed

[2015-07-13 16:52] alexgurrola commented on #15242
Correct.  I have not been able to recreate the bug in Native, so far, but I will be running the servers on Native for a few days to see if it shows up for anyone.

[2015-07-13 18:53] weaverryan commented on #14804
I can confirm this. Make sure you have the `php` engine enabled when trying it (if you don't, I think it uses the Twig engine, and the path works fine).

[2015-07-13 18:55] danielrose28 commented on #11702
I'm kind of new to this symfony triage initiative and would love to help with whatever I can. What would be a good next step for this issue? Thanks for any help/advice?

[2015-07-13 19:55] marcojanssen commented on #4849
@Tobion @Seldaek This issue is almost 3 years old, is this still relevant?

[2015-07-13 19:56] ogizanagi commented on #15256
@christian-kolb : Is your CompilerPass registered **before** the [`ProfilerPass`](https://github.com/symfony/symfony/blob/2.7/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ProfilerPass.php) ?

If the bundle in which is added your compiler pass in the ContainerBuilder is declared after the `FrameworkBundle` in your `AppKernel`, your compiler pass will effectively change the priori

[2015-07-13 20:21] gadelkareem commented on #13288
I am having the same issue trying to run Symfony project on Nginx with HHVM + PHP-FPM failback. ``` composer run-script post-update-cmd``` generates different files if HHVM is running. Therefore stopping HHVM makes PHP-FPM produces: ```Notice: Object of class Symfony\Bundle\FrameworkBundle\Templating\TemplateReference could not be converted to int```

Disabling Symfony debug mode disables this err

[2015-07-13 21:48] Seldaek commented on #4849
I guess not.. At least I haven't had such need that I can remember because
it's easy enough to get the current url from Request.

[2015-07-14 00:01] jperovic opened #15268 "[Doctrine] [Bridge] UniqueEntity validator should add "{{ value }}" message placeholder"
When validating uniqueness fails, UniqueEntityValidator does not add "{{ value }}" message placeholder, as other validators do.

This might be useful when printing what went wrong during the validation.

So, instead of:
[code]

we should probably have:

[code]

[2015-07-14 06:55] jakzal commented on #14877
@pascallapointe thanks for your work. I confirmed your fork reprodues the issue.

[2015-07-14 07:05] marcojanssen commented on #4849
@Tobion @Seldaek So we can close it right?

[2015-07-14 07:24] #4849 closed

[2015-07-14 07:26] fabpot commented on #15261
Indeed, a Container is not meant to be cloned. Not sure if we want to support this use case. Can you tell us a bit more about why you want to clone a Container?

[2015-07-14 09:12] zerustech opened #15270 "[config] Error occurs when the key attribute is removed from the child node and only a key named 'value' is left there"
When the key attribute is removed from a child node of a prototyped array node, if there is only one key named 'value' left in the child node, the child node will be degenerated from an array into a string.
When processing the config tree, an 'Symfony\Component\Config\Definition\Exception\InvalidTypeException' is thrown.

The root cause of this issue is:
before the degeneration, the prototype of t

[2015-07-14 09:25] chx commented on #15261
This (test)[http://cgit.drupalcode.org/drupal/tree/core/tests/Drupal/Tests/Core/DependencyInjection/Compiler/BackendCompilerPassTest.php?id=5e15b9be293b36cacd4f04c7706989e7c052bbb3] uses it. Yes, it's broken, it's being refactored at https://www.drupal.org/node/2531408

[2015-07-14 10:05] pjcdawkins commented on #15032
This affected me too

[2015-07-14 10:09] matthiasnoback commented on #15032
There is something of a BC-break here. Previously, the default validator of `ChoiceQuestion` always returned the value, not the key, from the `$choices` array. Since 2.7 (not sure about the exact version) it returns the value *only* if the array is numerically indexed. If it's an associative array, it returns the key.

[2015-07-14 10:16] gadelkareem commented on #13288
The files responsible for this error are app/cache/dev/appDevUrlGenerator.php.meta and app/cache/dev/appDevUrlMatcher.php.meta. Any idea why these files are different on HHVM than PHP-FPM?

[2015-07-14 10:59] amsolucionesweb commented on #14712
:+1: for 2.7 patch. Unfortunately there wasn't fixed in version 2.7.2

[2015-07-14 12:39] sstok commented on #15032
It seems allot more got broken https://github.com/symfony/symfony/pull/15271
With the PR I opened the tests hangs.

[2015-07-14 12:55] tumbochka commented on #15228
The twig native profile extension is turned on automatically if the debug mode is on and turned off if the debug mode is off. So if you warming up the cache with debug mode on the twig templates are rendered with the profiler enabled.
But if a test runs with debug off (for example Kris Wallsmith solution is used) the extension is disabled in the tests (but still enabled in pre-rendered templates),

[2015-07-14 13:41] gadelkareem commented on #13288
I think HHVM has a bug with serialize/unserialize producing different results for metafiles like appDevUrlMatcher.php.meta

This is the unserialize result of appDevUrlMatcher.php.meta after generating it with HHVM
HHVM unserialize:
[code]

PHP unsrialize:

[code]

On the PHP output there is a repeated call to ```Symfony\Bundle\AsseticBundle\Factory\Resource\FileResource```

[code]

[2015-07-14 14:55] Waigie opened #15273 "[2.7] Expanded Entity Form Element with negative id values"
Since 2.7 using expanded Entity Form Elements, which allow multiple selections (checkboxes) with data having negativ IDs is not possible anymore, because the new naming conventions prohibit names starting with a '-'

### Example
#### Database Table

ID | Name
---|-------
-1 | Foo
1 | Bar
2 | Baz

#### Code

[code]

Creating this form with the Symfony Form Builder will generate the following Error:

[2015-07-14 15:06] jakzal commented on #14804
Tests for the TemplateNameParser contain some cases which I'm not totally sure how should be handled. @weaverryan  @WouterJ could you confirm the following rules?
* `$this->render('/path/to/section/name.php')` => /path/to/section/name.php
* `$this->render('name.php')` => views/name.php
* `$this->render('name')` => views/name

[2015-07-14 15:30] korvinko opened #15274 "Entity with name 'sort'"
If I named field of entity 'order' I will get error:

Uncaught PHP Exception Doctrine\DBAL\DBALException: "An exception occurred while executing 'INSERT INTO menu_items (title, link, order, menu_type) VALUES (?, ?, ?, ?)' with params ["test", "http:\/\/example.com", 1, "top_menu"]:  SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that

[2015-07-14 15:40] jakzal commented on #15268
@jperovic would you like to send a PR implementing this improvement?

[2015-07-14 15:49] Waigie commented on #15274
order is a reserved keyword in sql, so using it as unescaped column name would not work. You can change your column definition and escape it though.

[code]

To escape the column name surround it with `` as seen above

[2015-07-14 15:51] weaverryan commented on #14804
@jakzal I'm not familiar with the first rule - the absolute `/path/to` - but that certainly makes sense.

But the second 2 look correct to me (assuming `views/name.php` means `app/Resources/views/name.php`). If these are in the test, and the test is passing (which of course it is), then it looks like there *isn't* a bug (but I know from trying it myself that there is).

[2015-07-14 15:53] phansys commented on #15274
@korvinko, this "issue" isn't related to Symfony, please close it and do your questions in the appropiate place ([Doctrine issue tracker](http://www.doctrine-project.org/jira/browse/DDC) by instance).
Thanks in advance.

[2015-07-14 15:56] jakzal commented on #14804
Sorry, I was writing this up in a hurry and didn't explain it very well.

Currently for all three mentioned templates, the path is resolved as is (name.php => name.php). I propose to change this to fix this bug, as I expect these test cases are incorrect. They were introduced in https://github.com/symfony/symfony/pull/12894/files#diff-ee3107cee707eac6126b48a367e831e9R67.

[2015-07-14 16:22] #15274 closed

[2015-07-14 17:41] LionsAd opened #15276 "ContainerBuilder is instantiating private shared services again and again"
There is a bug in ContainerBuilder in regards to the $this->shareService() logic:

If a service is private but injected in 2 or more services then the container pass will keep the Reference around instead of putting a Definition object in arguments, however the Reference will still have public: false.

Therefore the ContainerBuilder will then use createService() to create the service, but then not

[2015-07-14 17:42] jakzal commented on #15273
Reproduced [here](https://github.com/symfony/symfony-standard/compare/2.7...jakzal:issue15273).

[2015-07-14 17:48] jakzal commented on #15273
re #14050

[2015-07-14 19:52] jperovic commented on #15268
Yes, I have code changes ready to post, with passed tests. I'll send it in next hour or so, if that's ok...

[2015-07-14 21:37] sn0opr opened #15278 "Symfony\Component\Process\Process Bug in Windows Server"
I'm using the wkhtmltopdf.exe command line program to generate PDF from HTML
I'm using it through *Knp/Snappy* package which is using ```Symfony\Component\Process\Process``` to run the program in the cmd.
It works fine in my computer (Win 8.1 64bit and Win 7 32bit) but not in the deployment machine (Windows Server 2012 R2, 12GB, Intel Xeon 2.4 Ghz)

here is the code using Process class:
[code]
I g

[2015-07-14 22:33] chandon commented on #15228
@tumbochka thanks for the tip. It was indeed linked to "debug" mode.

I was testing by creating the kernel without any parameter. I've turned off debug while creating the kernel in my tests classes :

    WebTestCase::createKernel(array('debug' => false));

This solve my issue.

[2015-07-14 22:33] #15228 closed

[2015-07-14 22:39] #9448 closed

[2015-07-15 07:46] marcojanssen commented on #14142
@gkawka @Tobion It does seem to break the expected behavior that all values should be escaped by default, why does this have to be an exception?

[2015-07-15 07:56] nickygerritsen opened #15281 "ChoiceFormField: multiple select without [] does not work"
I want to submit a form that has the following select field:

[code]

I.e. the field is named `test` and not `test[]`

If I want to submit such a form using BrowserKit, it will be submitted as (assuming I selected both options):
[code]

But that does not work. It should be submitted as:
[code]

Is it possible to fix this somehow?

[2015-07-15 12:06] christian-kolb commented on #15256
That's it. Putting my bundle first in the `AppKernel`solves the problem. Setting it to `0` doesn't disable it, but also doesn't show it in the developer toolbar. And that's what I tried to archive.

[2015-07-15 12:06] #15256 closed

[2015-07-15 13:26] LorisZ opened #15283 "Update 2.7.2 broke ChoiceQuestion"
I wrote a Command that uses ChoiceQuestion like shown in the docs [here](http://symfony.com/doc/current/components/console/helpers/questionhelper.html). It worked just fine before i updated to 2.7.2 and works again after a downgrade.

The Error: "Notice: Undefined index: <index>" where <index> is always the selection i made.

Code where it happens:
[code]

Just from looking at the changelog, I'm s

[2015-07-15 13:49] cordoval commented on #15283
this has been resolved and it is a duplicate @LorisZ please close

[2015-07-15 13:50] cordoval commented on #15283
related #15271

[2015-07-15 14:23] LorisZ commented on #15283
oh, sorry. Apparently i only searched the open issues.

[2015-07-15 14:23] #15283 closed

[2015-07-15 14:48] stof commented on #15261
IMO, we should rather forbid cloning the container rather than trying to support cloning of containers, which will be a huge pain (and even more if we want to support cloning ContainerBuilder as we would have to clone everything in it, but preserving circular references between cloned Definition objects, which is a huge pain)

[2015-07-15 16:27] jleck opened #15284 "[HttpFoundation]"
Hi,

A recent change to Response.php in HttpFoundation has stopped compatibility with HHVM 3.3:

https://github.com/symfony/HttpFoundation/commit/82b63202be55551ad882fe1a6fbc681b6da345b3

[code]

The variable PHP_OUTPUT_HANDLER_REMOVABLE is not defined. I changed the line to `$flags = -1` and all is working again. I assume the version check just needs editing to exclude HHVM 3.3.

[2015-07-15 19:42] sn0opr commented on #15278
up

[2015-07-15 20:19] zimzim62000 opened #15287 "feature switch user fail exit on 2.6.10 not on 2.6.9"
Hello,

I use this nice feature.

Today, i update composer and i get symfony 2.6.10.

i use the default setting same the exemple on this page :
(http://symfony.com/doc/current/cookbook/security/impersonating_user.html)

The feature work when i switch to a another user but when i try to switch out ( EXIT ), i'am automatically redirect on my login page and always logued with the another user.
I decr

[2015-07-15 21:29] xabbuh commented on #15287
Could you share some related logs or could you provide a reproducible fork of the Symfony Standard Edition? Could also, by any change, check if reverting the change made in 01ee3f6cdae036caa839375f8854b41118e68ffd fixes your issue?

[2015-07-15 23:17] #15273 closed

[2015-07-15 23:46] alexgurrola commented on #15242
So far, adding the line below in the ```config.yml``` file seems to have solved the issue.

[code]

I noticed that the sessions were being created in our Database in the production environment by the PDO Handler, but for some reason the **cookie** wasn't being set, which I theorize has something to do with the variable not being present in the YAML file creating an odd call to the ```setcookie()``

[2015-07-16 00:15] fabpot commented on #15284
Can you submit a pull request for that change?

[2015-07-16 00:22] negreanucalin opened #15289 "Cookie date issue"
This might be a php version issue but couldn't find any issues.
When building the Cookie object and dates are way in the future like 2085 (Imdb site has this big value).
DateTime object is created successfully
```$date->getTimestamp(); //returns false```
I managed to 'fix' this as follows in Cookie.php:
[code]
}
Any thoughts?

[2015-07-16 03:40] chx commented on #15261
I agree with @stof : throwing an exception forbidding such cloning is a good solution.

[2015-07-16 05:36] changloong commented on #14086
any update ?

[2015-07-16 07:27] ro0NL commented on #15237
Just my2cents.. the TokenInterface documents a string return value (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.php#L67)

empty() should be avoived, imho.. as it makes things messy/unclear. Based on the documentation we should be able to just use `$token->getUsername()`, however if the username is optional we should expect

[2015-07-16 07:38] iltar commented on #15289
Are you running on a 32bit machine/compilation?

https://en.wikipedia.org/wiki/Year_2038_problem

[2015-07-16 07:38] #13277 closed

[2015-07-16 08:45] nicolas-grekas commented on #15284
See #15291

[2015-07-16 09:01] jaytaph commented on #15278
The actual command that will be executed by the process component might differ from what you expect. The reason for this has to do with some of the workarounds that is needed to capture output on file descriptors on windows systems.

You can display the ACTUAL executed command by added a simple `print` statement here: https://github.com/symfony/symfony/blob/5f36605e0e2264a1f52a8caa4bbe35a6f4ece8b4

[2015-07-16 09:16] dawehner opened #15292 "Provide a method to retrieve a safe request URI."
Let's assume you have some template pseudo code like this:

[code]

You'd think this is safe code, but it opens up a potential bug for attackers to disclose information, as the URL might contain double leading slashes and so browsers would POST to a different domain.

Drupal discussed that in https://www.drupal.org/node/2504141#new and Zend fixed it like this: https://security.drupal.org/system/fi

[2015-07-16 09:48] Tobion commented on #15292
What browser interpret is a so called "uri reference" as defined in the uri standard. So I would call this "safe" version as

[code]

So in case the request path starts with two slashes, then the returned uri reference cannot be an absolute path, but must be a network path or absolute uri, i.e. include the current host.

[2015-07-16 10:24] fabpot commented on #14086
@changloong We've fixed a bunch of other errors, but not all of them. If you have some time, can you help us finish this one?

[2015-07-16 10:39] aderuwe commented on #14704
+1

[2015-07-16 11:05] stof commented on #14704
but wouldn't your fix break the rendering of expanded choice forms ?

[2015-07-16 11:38] dawehner commented on #15292
I doubt that developers will find that

[2015-07-16 12:06] #15284 closed

[2015-07-16 12:22] #15261 closed

[2015-07-16 12:53] ghost opened #15294 "[DX][Security] Introduce a class representing a/the current firewall"
This issue came up: https://github.com/symfony/symfony/issues/11134#issuecomment-110008899, https://github.com/symfony/symfony/issues/14435#issuecomment-110004138, https://github.com/scheb/two-factor-bundle/issues/13#issuecomment-104435069

As of Symfony 2.6 we have `Symfony\Component\Security\Http\Firewall` which is actually a listener and `Symfony\Bundle\SecurityBundle\Security\FirewallContext`.

[2015-07-16 12:55] qferr commented on #14704
When a checkbox or radio is not created from an expanded choice form, `parent_label_class` is `NULL`. So default we should retrieve the class : `label_attr.class`.

I suggest a new fix:

[code]

Thanks

[2015-07-16 13:45] digilist commented on #10707
I just ran into this issue, too. It was really annoying, to understand that the session has to be started afterwards. I currently see two options to fix this:

1. Call the `initialize()` method of the SessionBag from within the registerBag() method of the SessionStorage if the session was already started (similar to the code in `loadSession()`). Something like this:

[code]
    The `loadSession()`

[2015-07-16 14:35] rrajkomar commented on #15191
I just tried to solve this issue by adding a separate model layer to avoid the doctrine orm annotations on my validation classes and the issue stil appears everytime I use SF Assert annotations, the required options is not taken into account and neither are the specified validation groups : the required attribute gets generated everytime I use an Assert annotations.

Any advice on how to fix this

[2015-07-16 15:54] weaverryan commented on #1338
:-1: I think we should fix this in the docs. Simply: the biggest use would be with the EntityUserProvider, and it has too many edge cases

[2015-07-16 16:11] changloong commented on #14086
Hi @fabpot

I think I can work on this and make some pull request when I pass my local test:)

[2015-07-16 16:29] nesl247 opened #15296 "Make kernel.root_dir usable in routing.yml to support bundleless apps."
When using Symfony without bundles, the only thing making it difficult is that in `routing.yml`, you can't reference the `kernel.root_dir` parameter. Without this, you have to always have your resource definitions be relative to the config file, which is pretty ugly.

[2015-07-16 16:33] Alsatian67 opened #15297 "[Dependency Injection - Profiler] Wrong exception throwed when a service class doesn't exist"
I had an error in a yaml service container.
The class was wrong.

But the error that occurs is "cannot redeclare class ..." instead of a not found exception.

[2015-07-16 16:36] weaverryan commented on #15296
The idea would be to add something like this:

[code]

[2015-07-16 16:36] MacDada opened #15298 "[Forms] Set choice_translation_domain to false for DateType?"
I use `BirthdayType` (for which parent `DateType` so the problem is the same).

[code]

On Symfony 2.7.3 I get gazillion (more than 100) `missing message` warnings.

If I uncomment `choice_translation_domain` – the option is not recognized.

If I uncomment `translation_domain` – the warnings disappear, but my label does not get translated.

I believe, `DateType` and `BirthdayType` should have `cho

[2015-07-16 16:48] nesl247 commented on #15296
Wouldn't it be better to use `%kernel.root_dir%` like it is everywhere else though? `@Something` seems to be reserved for bundles.

[2015-07-16 16:52] weaverryan commented on #15296
@nesl247 In a perfect world, yes - but there's a technical problem. We *could* make `%kernel.root_dir%` work for routing files, but it's impossible to make it work for the rest of the configuration files, since Symfony is still - at that point - processing and loading the parameters themselves. In theory, %kernel.root_dir% is always defined earlier, but if we added parameter support to the imports

[2015-07-16 16:57] nesl247 commented on #15296
Without understanding Symfony's loading of parameters, how is the loading/processing or parameters not done before all other configuration is processed considering you can use parameters in the other parts of config?

[2015-07-16 17:00] Alsatian67 opened #15299 "[voter] Unable to check if the user has an inherited role in a custom voter ?"
In this example I tried to make a custom voter giving access when the user has role 'ROLE_ADMIN' or the inherited 'ROLE_AUTHOR' and is the owner of the entity.

Accessing user roles thrue UserInterface $user->getRoles(), I can't do if(in_array('ROLE_AUTHOR',$roles), because ROLE_AUTHOR is inherited.

It is also not possible to inject the security context, because custom voters are injected in.

Co

[2015-07-16 17:06] stof commented on #15296
@nesl247 files are defining parameters. So the values of parameters cannot be known before all files are imported. This is why using parameters is not possible in imported resources.
On the other hand, the configuration is processed after loading files, so parameters are available at this time (it is one of their goal)

[2015-07-16 17:38] weaverryan commented on #1338
Closing as this has a -1 vote from 2 core members (Fabien and I). But, i've opened a docs issue - symfony/symfony-docs#5534 as there are some people that seem to be looking for this.

[2015-07-16 17:38] #1338 closed

[2015-07-16 17:50] weaverryan commented on #15299
This is related to #12360, and part of it is already fixed for 2.8 (in 2.8, you should be able to inject the `security.authentication.manager` service into your voter (which is really what you should use to check whether something "isGranted" from inside a voter - though for practical terms, using the security context / newer authorization checker is the same).

For now, you'll need to inject the

[2015-07-16 17:50] #15299 closed

[2015-07-16 17:51] weaverryan commented on #15297
@Alsatian67 can you post some code that can be used to reproduce the bad exception?

[2015-07-16 18:00] stof commented on #14049
@danrot we have priority on voters (the component does not as it expects to register the voters in the order in which they will be called)

[2015-07-16 19:39] Alsatian67 commented on #15297
Sorry, the problem occurs when the namespace is wrong in the class !

example :
[code]

With that services.yml :
[code]

Not a big bug since my class was wrong, but the exception made me search for an eventual double ...

[2015-07-16 19:41] Alsatian67 commented on #15299
OK thank you for your help.
I had already changed my app with splited security context, but here I sadly forgot to use authorization_checker.

[2015-07-16 19:49] Alsatian67 commented on #15299
I think the easiest way for me at this time were to copy the full role hierarchy in a custom service.

[2015-07-16 22:15] GrahamCampbell commented on #14086
The debug component needs updating to correctly display throwables. This came up in laravel 5.2.

[2015-07-16 22:15] fabpot commented on #14086
@GrahamCampbell That's probably something for @nicolas-grekas :)

[2015-07-16 22:16] GrahamCampbell commented on #14086
Great. :)

[2015-07-16 22:26] nicolas-grekas commented on #14086
I'll fix that asap :-)

[2015-07-16 22:28] GrahamCampbell commented on #14086
Loosing the exception typehint from non-private methods on non-final classes is a bigish breaking change though. Does this mean many of the changes can only be made on symfony 3.0?

[2015-07-17 07:13] qferr commented on #15297
You must respected [PSR-4](http://www.php-fig.org/psr/psr-4/):

So your namespace should be `AppBundle\Security` whether the file location is `AppBundle\Security` or moves your file in the new directory named `Voters` in `AppBundle\Security`.

[2015-07-17 08:13] stof commented on #15297
@Alsatian67 the issue will happen because the class loader will load the file, and then try again the next time it is asked to load the class, as the first load will not have defined the class.

And this case is not one which is detected by the DebugClassLoader /cc @nicolas-grekas

[2015-07-17 08:45] Alsatian67 commented on #15297
Ok it would be nice if the autoloader throws an exception :

The autoloader expected class "AppBundle\Security\AdminMembersVoter" to be defined in file AppBundle\Security\AdminMembersVoter.php". The file was found but ...

When it load the file for the first time.

[2015-07-17 08:47] stof commented on #15297
Well, actually, it should.

which Symfony version are you using ?

[2015-07-17 08:50] stof commented on #15297
and do you have the debug class loader enabled ? (i.e. to you have the ``Debug::enable()`` call in your front controller as in https://github.com/symfony/symfony-standard/blob/v2.7.2/web/app_dev.php#L21 ?)

[2015-07-17 10:51] NadjibBELLOUNDJA opened #15300 "Failed to Install Data-Fixtures with Doctrine and Symfony2"
I added the docrtine-fixtures and the doctrine-fixtures-bundle to my dependencies in the composer.json, as follow:

{ "require": { "php": ">=5.3.3", "symfony/finder": "2.3.*",
"doctrine/orm": "~2.2,>=2.2.3",
"doctrine/doctrine-bundle": "~1.2",
"doctrine/data-fixtures": "~1.1",
"doctrine/doctrine-fixtures-bundle": "~2.2"
}

And then I did php-cli composer.phar update, which worked and displayed the

[2015-07-17 11:11] aitboudad commented on #15298
the same as #15222, I'll fix that.

[2015-07-17 12:09] aitboudad commented on #15222
Closing as duplicate of #15298 and fixed by #15301.

[2015-07-17 12:09] #15222 closed

[2015-07-17 13:09] mickaelandrieu opened #15302 "regression on Symfony Console component in 2.7.2 (ChoiceQuestion)"
Since Symfony 2.7.2, the answer to multichoice question does'nt work as expected.

![regression](https://cloud.githubusercontent.com/assets/1247388/8747719/b6e85ac6-2c95-11e5-8b9a-6fb57bb89a95.png)

[code]

refs: https://github.com/certificationy/certificationy-cli/issues/9

As you can see, the same code works with Symfony 2.7.1 and lower.

[2015-07-17 13:50] jderusse opened #15303 "Change the default value of framework.session.cookie_httponly"
Actually, the default value of `framework.session.cookie_httponly` is `false`, which allows javascript to read the sessionId.

To improve security, I think, we should add a BC Break by inverting this parameter.

[2015-07-17 14:33] digitalkaoz opened #15304 "[DependencyInjection] Parameter Expansion in Service Ids"
It seems Parameter Expansion is not activated everywhere:

[code]

this throws:

[code]

this example is simplified. in my application the parameter comes from the ENV vars.

[2015-07-17 17:10] Tobion commented on #15304
This can be done with aliases. No need for such a feature.

[2015-07-17 17:22] phansys commented on #15300
@NadjibBELLOUNDJA, please ask for support in the corresponding place. Based on your description, your issue has nothing to do with Symfony, but with composer.
Please close this ticket. Thank you.

[2015-07-17 17:24] sn0opr commented on #15278
@jaytaph Sorry for the late,
here is the ```$commandeline``` print output:
[code]

[2015-07-17 17:50] xabbuh commented on #15304
Agreed, I don't see a real benefit for this feature.

[2015-07-17 18:41] digitalkaoz commented on #15304
No it cant be done with aliases if the injected Services are autogenerated
aswell depending on some variable configuration. Take foselasticabundle for
example. Index and Type based Services are generated depending on the Index
Name which itself is configurable.

Christian Flothmann <notifications@github.com> schrieb am Fr., 17. Juli
2015 19:51:

[2015-07-17 18:44] digitalkaoz commented on #15304
And in my eyes its a Bug because Parameters gets expanded everywhere else

Robert Schoenthal <seroscho@gmail.com> schrieb am Fr., 17. Juli 2015 20:41:

[2015-07-17 18:46] fabpot commented on #15304
It was done on purpose. Making everything configurable is not always desirable. In this case, it would make it impossible to introspect the Container easily as ids would then be dynamic, which is something I don't want to happen. Aliases were created to give some flexibility here. Anyway, the uses cases are really edge and I don't us adding such a feature as it has some drawbacks.

[2015-07-17 18:49] #15300 closed

[2015-07-17 19:04] digitalkaoz commented on #15304
yeah but it cant be solved with aliases here...so whats the proposed solution?

[2015-07-17 19:07] digitalkaoz commented on #15304
as everything dynamic...creating a compiler pass and writing 20lines of boiler plate code maybe solves it, but thats clearly not a flexible solution as it would me the extend the pass everytime i inject such a dynamic service elsewhere...

[2015-07-17 19:08] digitalkaoz commented on #15304
not service would be dynamic just references so i dont see your point

[2015-07-17 19:49] Tobion commented on #15304
Using aliases and a compiler pass is done by many bundles and it has some important advantages: validation, documentation etc.
Using parameters for magically changing services has been discouraged already some time in symfony. For this reason the class parameters of services have been removed in symfony 3.0.

Also, for exactly for your use-case, there is already a shortcut available: http://symfon

[2015-07-17 20:31] Tobion commented on #15191
You have to set required = false on each individual field (inputs etc), and not on the compound form type.

[2015-07-17 20:42] gnilekaw opened #15307 "Case mismatch between loaded and declared class names"
Case mismatch exception raised with `MyNameController`

[code]

But no exception is raised with `MynameController`

[code]

[2015-07-18 02:25] enzolutions opened #15308 "[Console] Enable option to two have two or more array arguments"
Right now is impossible to setup a command with two Array arguments in a comment, if you try to do something like this

[code]

You get an error like this.

[code]

Would be great have this option in the near future.

[2015-07-18 09:42] Alsatian67 commented on #15297
I'm using Sf 2.7.1 and the debug is enabled.

I just have seen that this wrong file produce the same invalid exception (here the class name is not like the file name [missing s]) :

[code]

[2015-07-18 10:51] jaytaph commented on #15278
@sn0opr No worries.You notice a different commandline here (including the redirections to some temp files). What happens when you run this EXACT command directly (so everything, including the "cmd").

[2015-07-18 13:34] NadjibBELLOUNDJA commented on #15300
Ok. Sorry about that then.

[2015-07-18 18:02] Chi-teck opened #15309 "Notice in getDefaultValidator()"
[The code sample](http://symfony.com/doc/current/components/console/helpers/questionhelper.html#let-the-user-choose-from-a-list-of-answers) from the documentation produces the following errror.
`PHP Notice:  Undefined index: blue in vendor/symfony/console/Question/ChoiceQuestion.php on line 165`

This error does not appear on 2.6 version.

[2015-07-19 03:12] harikt commented on #15309
could you show your gist, so we can reproduce it ?

[2015-07-19 06:11] Chi-teck commented on #15309
[code]

[2015-07-19 07:05] harikt commented on #15309
Your above example works fine in 2.6. I have tested this.

[code]

Is there any other way you are running ?

[2015-07-19 08:06] Chi-teck commented on #15309
@harikt, the problem exists on 2.7 only. Sorry if I was not explicit enough. I just updated the first message.

[2015-07-19 09:17] almacbe commented on #9242
:+1:

[2015-07-19 09:35] harikt commented on #15309
@Chi-teck couldn't replicate this on my machine :( .

[2015-07-19 09:36] OskarStark commented on #15268
thank you @jperovic

[2015-07-19 12:14] iltar commented on #15297
I can confirm this issue is real as I experienced it myself, sadly don't remember which version nor the code that triggered it.

[2015-07-19 12:18] iltar commented on #15296
I like this idea, no idea about `@Kernel` though. What about `@App`, as this is the same location and would solve the issue when your bundle is the kernel.

[2015-07-19 12:27] xabbuh commented on #15309
looks like this was introduced by #15271

[2015-07-19 14:54] harikt commented on #15309
ok, so it was in `2.7.2` . The one I installed was `2.7` .

[2015-07-19 19:02] sn0opr commented on #15278
@jaytaph I did the same exact command and I no output, just I wait about 1s and nothing happens
[code]

[2015-07-19 19:28] jaytaph commented on #15278
There should be output some in the temp files (`c:\windows\temp\sf_EC50.tmp` and `c:\windows\temp\sf_EC51.tmp`).

[2015-07-20 05:25] dawehner opened #15313 "Why uses the event dispatcher call_user_func"
Maybe I'm blind but is there a reason why the event dispatcher can't just use a direct method call instead of using call_user_func?

[2015-07-20 06:59] xabbuh commented on #15300
moved to composer/composer#4270

[2015-07-20 07:14] xabbuh commented on #13277
@iltar Isn't this an issue anymore?

[2015-07-20 07:20] digitalkaoz commented on #15304
@Tobion you dnt get it. its not about class parameters. its about dynamic services based on some configuration or environmental name. as this wouldnt be "dynamic service ids" per se, it only expands service ids in references. so the removal in 3.0 is not affected by this. @fabpot see the PR #15305 for the fix and its affection. i dont see why this shouldnt be merged. it doesnt have any side effect

[2015-07-20 07:44] rrajkomar opened #15314 "Validation Groups not taken into account with NotBlank Annotation when generating a form"
When creating a form type class with a default validation_group (using validation_groups key in default options array), I found that the specified group is not taken into account when generating the form for the NotBlank assert annotation (and most liekly the NotNull one as well).

When adding a NotBlank assert annotations to a model (or entity) class with a group application filter (groups attrib

[2015-07-20 07:45] rrajkomar commented on #15191
Actually, I found out that the Doctrine annotations wasn't responsible for this issue but the fact that the validation_groups is not taken into account when generating the form for the NotBlank annotations.

see #15314

[2015-07-20 07:45] #15191 closed

[2015-07-20 07:49] marcojanssen commented on #8077
@fabpot a full patch as in the entire yaml spec? Or am i misreading the comment

[2015-07-20 07:59] iltar commented on #13277
@xabbuh, not sure as it is fixed by setting the security with trailing slash as well. The behaviour in symfony is too complex to fix this specific behaviour because of when this controller is determined.

Maybe this is an issue, but the way its fixed makes sense.

[2015-07-20 08:21] jakzal commented on #11803
@Sorbing are you able to provide a failing test case @xabbuh was asking for, or perhaps a little snippet of code so we could reproduce your issue?

[2015-07-20 09:46] shehi opened #15315 "[Question] [Translator] Why not add to explicit rules list?"
The following line in the code:

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Translation/MessageSelector.php#L63

adds translation bits such as:

```$bit = "guest: Welcome|registered: Welcome, :name!";```

to standard rules. Why not capture the leading ```guest:``` part and add that bit to explicit rules? That way, one could easily add text-based modifiers for, let's say g

[2015-07-20 09:55] iltar commented on #15313
I assume you're talking about this? https://github.com/symfony/symfony/blob/4133aadd0c0be199b21ce5e171038e5d03bc818b/src/Symfony/Component/EventDispatcher/EventDispatcher.php#L165-L173

[code]
It's possible, but I don't know why it's not done like this. Perhaps older PHP Versions?

[2015-07-20 10:00] digitalkaoz commented on #15304
my complete use-case:

[code]

[code]

this would expose services like

[code]

these services needed to be injected somewhere else.

as the complete naming of the services depends on an **ENV**  variable, on **configurational** Type  Names and some string *Concatenation* inside the bundle im lost with the current implementation. The attached (in PR) 3 Lines fixes it so i can do the following:

[c

[2015-07-20 10:10] xabbuh commented on #15313
This is need to support PHP 5.3 (see, for example, http://3v4l.org/hr7le).

[2015-07-20 10:10] #15313 closed

[2015-07-20 10:12] stof commented on #15313
And even on PHP 5.4+, ``$listener()`` does not work for all types of callables. PHP 5.4 added support for *most* kind of callables, but it missed one.

[2015-07-20 10:16] iltar commented on #15313
How far would PHP 5.5 be supporting this? For the master (3.0) this could be supported.

[2015-07-20 10:18] jvasseur commented on #15313
The one not supported by PHP 5.4+ is a callback in the form ```'EventListener::onEvent'```, it is only fixed in php 7 (http://3v4l.org/SjSJN).

[2015-07-20 10:18] stof commented on #15313
@iltar PHP 5.6 and even PHP 7 still don't allow calling all callables this way, which is exactly why we still use ``call_user_func`` and ``call_user_func_array`` in master (@nicolas-grekas already checked all places where we could safely stop using it)

[2015-07-20 10:19] stof commented on #15313
ah looks like PHP 7 actually fixed it. yeah!

[2015-07-20 10:35] dawehner commented on #15313
Ah cool. Great to know. Thank yoU!

[2015-07-20 10:35] nicolas-grekas commented on #15313
https://bugs.php.net/bug.php?id=68475

[2015-07-20 11:04] xabbuh commented on #15304
I don't see why you would need a pass for that example.

Instead of

[code]

you could use:

[code]

[2015-07-20 11:36] digitalkaoz commented on #15304
your solutions has two disadvantages:

1. i need to create a second service (with all injections) again, those injections are dynamic again. (just to tag this new service)
2. i would need to do this with permutations of service names

[2015-07-20 11:42] jvasseur commented on #15304
@digitalkaoz I don't understand why you give your index a name based on an environment variable, why not giving it a fixed name an using it everywhere ?

[2015-07-20 11:59] digitalkaoz commented on #15304
because the app is distributed for many languages and countries. so we have `foo_es`, `foo_en`, `foo_de` and so on...

[2015-07-20 12:02] jvasseur commented on #15304
But you are only using one at the same time in the app ?

[2015-07-20 12:03] digitalkaoz commented on #15304
yes...currently, dont know what might happens in the future...i guess you are thinking of using the alias feature of the foselasticabundle?

[2015-07-20 12:07] jvasseur commented on #15304
I'm thinking that what you are trying to do is setting the index name in Symfony to change the index name in elasticsearch.
You can use a different name in symfony and elasticsearch with the index_name option.

[2015-07-20 12:23] digitalkaoz commented on #15304
mh good catch...that would work as long as its only 1 index...

but the idea of my PR is still relevant :)

[2015-07-20 13:04] fredck opened #15316 "[Form] WYSIWYG editor in core"
This is a follow up on a F2F talk with @lsmith77 and @webmozart.

I'm proposing including a wysiwyg editor (CKEditor) as part of Symfony's core, in my understanding as part of the Form component.

## Rationale

Rich text editing on web forms is a common requirement. Unfortunately there is usually little attention to the quality of this feature in the PHP world.

There are several solutions for thi

[2015-07-20 13:07] jakzal commented on #15302
Have you tried the latest 2.7 branch?

[2015-07-20 13:08] xabbuh commented on #15302
looks like it is related to #15309

[2015-07-20 13:12] mickaelandrieu commented on #15302
@jakzal broken on 2.7.2, I didn't test for 2.7-dev

[2015-07-20 13:18] jakzal commented on #15309
@Chi-teck thanks for providing an example. The issue is fixed in the latest 2.7, so it only affects 2.7.2.

[2015-07-20 13:19] jakzal commented on #15302
I just tried the example from #15309 and that issue is fixed in the latest 2.7 (dev).

[2015-07-20 13:20] jakzal commented on #15309
Closing. Feel free to reopen if you manage to reproduce this on the latest 2.7 branch.

[2015-07-20 13:20] #15309 closed

[2015-07-20 13:21] jakzal commented on #15302
Closing. Feel free to reopen if you manage to reproduce this on the latest 2.7 branch.

[2015-07-20 13:21] #15302 closed

[2015-07-20 13:25] mickaelandrieu commented on #15302
@jakzal nice news, when the 2.7.3 will be bumped ? I don't want to rely on dev-master branch :)

[2015-07-20 13:43] GromNaN commented on #15316
Indeed wysiwyg editor is a must-have for a lot of applications.

I've just found [`CKEditorBundle`](https://github.com/Ikimea/CKEditorBundle) that simply adds a form type `CKEditorType` ; isn't it enough ?

[2015-07-20 13:45] jakzal commented on #15304
@digitalkaoz I suspect you felt a need for dynamic IDs, because the elastic search bundle uses them for two things: a service id and an index id. It's a smell to me. This is also an edge case which hardly ever happens, and should be rather avoided.

Since you have now a more elegant way of solving your problem (explicitly define the index name), others already explained their concerns, and we don'

[2015-07-20 13:45] #15304 closed

[2015-07-20 13:48] jakzal commented on #15316
There's few solutions out there. Some of them are more advanced then others, which I think shows complexity of this problem. I'm reluctant to support this in the core to be honest, especially if there are existing solutions available already.

[2015-07-20 13:51] webda2l commented on #15316
Already multiples bundles (http://knpbundles.com/search?q=ckeditor) with two majors https://github.com/trsteel88/TrsteelCkeditorBundle & https://github.com/egeloen/IvoryCKEditorBundle.

In my opinion, support an official bundle yes, integrate a new one to the core, no...
And the fact that Drupal use Ckeditor is not enough, will be somes questions likes why not a markdown editor, why not tinyMce, w

[2015-07-20 13:56] lsmith77 commented on #15316
based on open tickets I searched for, CKEditor and TinyMCE has the most tickets mentioning them .. but that was only 4 and 5 times respectively. Other editors I didn't really find mentioned as at all. Looking in the community the CMF and afaik also Sonata prefers CKEditor atm. So I think IF there is a winner atm it would be CKEditor but not sure if its lead is clear enough to give such strong pref

[2015-07-20 13:59] fabpot commented on #15316
The question is: what do we need in core to support those editors? As there are some bundles out there, I suppose that there is nothing to add in core to make it possible in a bundle. that's a classic problem we have. Wouldn't it be better to officially approve one bundle and add it to the official documentation?

[2015-07-20 14:00] Xosofox commented on #14015
Some thing happened here, on a Win7/xampp install. Here is what ended up in parameters.yml

{ parameters: { database_host: 127.0.0.1, database_port: null, database_name: foo, database_user: bar, database_password: batz, mailer_transport: smtp, mailer_host: 127.0.0.1, mailer_user: null, mailer_password: null, secret: 31db4b7fb9014c0be76798c1c18c224d, database_driver: pdo_mysql, database_path: null

[2015-07-20 14:04] digitalkaoz commented on #15304
mh ok its not an edge as even doctrine does that, but ok. if nobody every felt the need for this, im ok with it. @jakzal

[2015-07-20 15:01] fredck commented on #15316
I know we're talking about different software, but I'll take Drupal as an example. They had like 10 different editor solutions and insisted that there should be no default one. They then decided to go with a "preferred" option, which was compatible with like 10 different editors. There was a big mess because too many options made people confused. And none of them were precisely optimized. Very bad

[2015-07-20 15:30] liuggio commented on #15316
The SF2 philosophy does not push for any architectural or infrastructural choices
(whether it be right or wrong)
and let you develop without third party software.
I'd vote for no on this one,
but this would open a discussion about adding a layer over the SF core with explicit choices ...

[2015-07-20 16:04] stof commented on #15316
@fredck the point is, there is nothing to do in Symfony for a rich text field in forms, given that it is just a textarea from a backend PoV. The clean way to mark a field as needing a rich editor IMO is just to put an HTML class on the field to let the JS know it should initialize an editor here.
And contrary to Drupal, Symfony does not provide any JS for your interfaces. Making a choice in Drupal

[2015-07-20 16:12] weaverryan commented on #15296
@iltar "when your bundle is the kernel"? What do you mean? You will *always* have a kernel, but you may not have a directory called `app` (or `App`) and you may also not have any bundles.

[2015-07-20 16:14] nesl247 commented on #15296
I'd much rather `@Kernel` than `@App`.

[2015-07-20 16:35] fredck commented on #15316
(1: User need) Let's exemplify this with core field types like "country" or "currency". They could also have been implemented by js, including a class on plain select elements. Still a user need has been identified and a dedicated solution provided. So let's leave apart the UI aspect for a moment and just see this as a field with a very specific purpose: rich editing that outputs HTML. I think we

[2015-07-20 16:51] iltar commented on #15296
@weaverryan A bundle is nothing more than a small mini-kernel for your specific bundle. The naming for your kernel is usually `AppKernel`, which implies it's the kernel for `App`. If you have multiple kernels, it becomes unclear which kernel.This sort of brings me to the next point. Is the naming standard for `app/AppKernel.php` still the recommended one in this case?

If it becomes `app/Kernel.ph

[2015-07-20 17:15] stof commented on #15296
@iltar AppKernel will be kept IMO, because you still need different class names in a multi-kernel app. so you would have ``app/AppKernel.php`` and ``portal/PortalKernel.php``

[2015-07-20 18:03] weaverryan commented on #15296
@iltar When Symfony boots, there is always exactly 1 kernel. So there's never a question of "which" kernel - because you're always booting inside of *one* of them. I realize your point though - if you're searching through a `config.yml` file in some multi-kernel project, you'll see `@Kernel` and wonder which of your kernels that relates to. But I think that's something you need to keep straight if

[2015-07-20 18:08] iltar commented on #15296
I suppose the amount of people with multiple kernels will be too small to actually matter for this case. `@Kernel` will be fine but I like to throw different names into the suggestion to see if it's really the right name for this :)

[2015-07-20 18:21] LionsAd commented on #15276
Can't reproduce with 2.8 => closing.

[2015-07-20 18:21] #15276 closed

[2015-07-20 18:38] jakzal commented on #15157
@Hacker-CB any feedback?

[2015-07-20 22:27] AntoineLemaire opened #15318 "[2.7] Twig_Error_Runtime: "The "native_profiler" extension is not enabled"
My issue is the same as https://github.com/symfony/symfony/issues/15228

[code]

But clear cache on all environment (or only one) does not work.

[code]

Still have the problem on prod environment

[2015-07-21 07:08] paxal commented on #15308
I think the mode `InputOption::VALUE_OPTIONAL | InputOption::VALUE_IS_ARRAY` is forbidden. Choose either one of them.

[2015-07-21 07:09] iltar opened #15319 "[DX] Reducing direct dependencies on the Router"
I've noticed one common piece of code when I have to write a redirect:

[code]

What I would like to write is something similar to:

[code]
The actual route would be generated at a later stage and use the default router.

[2015-07-21 07:25] javiereguiluz commented on #15319
The name of the new class may be `RedirectToRouteResponse()` to be consistent with `redirectToRoute()` helper.

[2015-07-21 07:26] javiereguiluz commented on #15319
I lnow that it will never be accepted, but I'd like to see the following:

[code]

[2015-07-21 07:51] iltar commented on #15319
That would make it very consistent with Symfony 1, but requires an argument change in the redirect response itself.

[2015-07-21 08:02] yguedidi commented on #15316
@fredck Do you mean something like an official form type that provide a textarea with common parameters as HTML data attributes like buttons in toolbar, allow upload, show source, etc...? Then each JS editor will use those attributes to configure itself.

If there is a common standard to configure JS editors, then a dedicated form type makes sense in core (like country or currency as they are a "f

[2015-07-21 08:08] lsmith77 commented on #15316
if I understand @fredck he is suggesting defining a form type for wysiwyg editors along with sensible options for this form type. the actual configuration would then be done inside a template for one specific wysiwyg editor we decide is the go to option (@fredck obviously hopes this will be CKEditor).

now the question is if we can find "sensible options" .. one thing that would make sense here is

[2015-07-21 08:17] andrescevp opened #15320 "Better assets integration"
When i try to add some JS library, like require.js I must install a specific bundle with a lot files like this repo:

https://github.com/hearsayit/HearsayRequireJSBundle

I think that all js assets must be more transparent, other example I try to add Ace editor and the problem was when I was try add a extension for this editor, the JS files not index correctly between them.

[2015-07-21 08:46] parhamdoustdar opened #15321 "[Filesystem] LockHandler not injectable because of constructor argument"
I have a method, `run()` on a class called `CommandRunner`. `CommandRunner::run()` needs to create a lock based on an argument it receives. This makes me unable to inject the `LockHandler` class because the argument of `run()` is actually the constructor argument to `LockHandler`.

In my humble opinion, having a `LockHandlerFactory::create($filename)` will fix this. Of course, I could create this

[2015-07-21 10:08] WouterJ commented on #15237
:+1: for changing `empty(...)` to `null === ...` (which is also more common in the Symfony code-base).

[2015-07-21 10:28] GromNaN commented on #15319
This could be implemented with a response listener that converts the route + parameters to an URL.

[2015-07-21 10:43] stof commented on #15319
The issue with this is that your ``RoutedRedirectResponse`` cannot be a Response object. It stores information needed to generate a Response at a later time.

If you want something like that, the way to go would be to use a *different* object and then have a kernel.view listener converting it into a Response. and btw, this already exists in a bundle: https://github.com/QafooLabs/QafooLabsNoFramewo

[2015-07-21 15:47] Alsatian67 commented on #15299
@weaverryan , in 2.8 with the security.authentication.manager is it possible to check if a user beeing edited (not the current user) has an inherited role ?

[2015-07-21 15:54] weaverryan commented on #15299
@Alsatian67 You could certainly just collect the full role hierarchy yourself and check - like the appraoch in #12360.

By using the security system "normally"? In theory, yes you could do this (though I've never tried it). But you'd need to inject the `AccessDecisionManager` class (service id `security.access.decision_manager`), create some sort of a Token (e.g. UsernamePasswordToken) that contai

[2015-07-21 17:05] florida63 opened #15325 "[Question][Form] date Field Type limitation"
Hello,

Why a date field with the options below is it limited. Choice available between 1902 and 2037?

[code]

documentation says:

Is it normal that the option datetime have the same limitation?
For information i use symfony 2.3

Thank you for this great framework.

[2015-07-21 18:40] xabbuh commented on #15237
see #15326

[2015-07-21 19:33] jibran commented on #15001
FYI: Related drupal 8 issue https://www.drupal.org/node/2536736

[2015-07-22 02:54] videni opened #15329 "It would be better if we can pass closure to the property option of entity type"
The reason why we need this  is because there are lots of cases that the label for entity type is  not a simple combination of properties of   a model, sometimes  that transform involves a dedicated service, we don't want to pass a service to model, which makes a model  dependent on upper level object. any body have a alternative to resolve this problem, please?

[2015-07-22 03:16] fabpot commented on #15001
I'm :+1: with removing the leading `\`

[2015-07-22 03:23] fabpot commented on #15319
I'm :-1: on this one as I was :-1: on the `redirectToRoute`, which I found unnecessary and against what people refer to "best practices".

TLDR: I really prefer the explicit way and having only one way to do things.

[2015-07-22 03:24] fabpot commented on #15320
What are you suggesting here?

[2015-07-22 05:12] iltar commented on #15319
For one of my Applications it would mean roughly 50 direct dependencies less on the router. Another solution could be a Response factory which could be reused in the `Controller` that Symfony provides, as well as wrapping around the  template engine to cover the basic render methods in there.

It might be more work than worth it though.

[2015-07-22 06:40] xabbuh commented on #15329
With Symfony 2.7, you should be able to pass any callable to the `choice_label` option of the choice type (which is extended by the entity type). Didn't that work for you?

[2015-07-22 06:50] videni commented on #15329
Thanks, I forgot to mention that  I am using symfony 2.5, is there a alternative in this version, I am not ready to upgrade ?

[2015-07-22 06:56] xabbuh commented on #15329
No, you will have to upgrade or backport the code on your own.

By the way, please be aware that Symfony 2.5 will even not receive any security related updates by the end of this month.

[2015-07-22 06:56] #15329 closed

[2015-07-22 06:58] xabbuh commented on #15329
You can check the support state of the Symfony version you use with [the Symfony version checker](http://symfony.com/roadmap#checker).

[2015-07-22 07:06] videni commented on #15329
I see, thanks for your reminder.

[2015-07-22 08:00] #15237 closed

[2015-07-22 08:11] Alsatian67 commented on #15299
There is somethin I don't understand in #12360.
By :
[code]

Why can't we put directly $user->getRoles() in the parenthesis ?
Are the user roles different to the token roles ?

[2015-07-22 08:25] #15230 closed

[2015-07-22 09:20] fredck commented on #15316
Yes, I think @lsmith77 described this perfectly.

As for the options, I would go with the basic needs that serve most of the users and have them as part of the SF2 documentation, leaving an additional "pass-through" option which would be delivered as is as editor configuration options so one could have deeper control of it, if needed.

The point is bringing an out-of-the-box well optimized solutio

[2015-07-22 10:03] RicardoVIRT opened #15331 "Missing removal of deprecated classes in UPGRADE-3.0.md"
I'm getting these deprecation notices about classes that will be removed in 3.0. They aren't listed in the UPGRADE-3.0.md yet.

<code>DEPRECATED - The Symfony\Component\Form\Extension\Core\ChoiceList\SimpleChoiceList class is deprecated since version 2.7 and will be removed in 3.0. Use Symfony\Component\Form\ChoiceList\ArrayChoiceList instead.</code>

And

<code>DEPRECATED - The Symfony\Component\

[2015-07-22 10:17] data219 commented on #9939
Anybody still working on this bug?

[2015-07-22 10:18] jaytaph commented on #15180
The fact that somebody or something closed a descriptor, should we reopen that handle?

[2015-07-22 12:56] weaverryan commented on #15299
@Alsatian67 You'd have something like this (assuming `$otherUser` is the user you're working with):

[code]

I see that the code from #12360 was a little unclear :).

[2015-07-22 13:03] andrescevp commented on #15320
I mean that the assets system should be more flexible, it's just a suggestion for nexts versions.

Currently add complex JS sometimes it's really complex and not friendly.

[2015-07-22 13:20] Alsatian67 commented on #15299
OK perfect.
This issue is now definitively closed.

[2015-07-22 14:04] yceruto opened #15334 "[Form] Default value option"
Hi! I propose to add an option called 'default' for form fields:

Before:

    $builder->add('assignedTo', 'entity');
    $builder->addEventListener(
            FormEvents::PRE_SET_DATA,
            function (FormEvent $event) use ($authenticatedUser) {
                /** @var Issue $issue */
                $issue = $event->getData();

                if (null === $issue->getAssignedTo()) {

[2015-07-22 14:11] nickshanks commented on #12141
I'm not quite sure what you mean by "the one who uses the routes" and "the one who defines the routes". At the moment, we can't choose "no slash" because the root of a bundle always has a slash added to it. Instead, we are forced to put some of the prefix in the bundle, which puts some of the path in a place it doesn't belong:

[code]

[code]

[2015-07-22 14:22] janedbal opened #15335 "[Validator] Callback constraint not called when applied to getter"
Following example does not produce any output, but when the constraint is used on property (instead of its getter), is does.

[code]

Tested on symfony/validator 2.7.2

[2015-07-22 14:27] jonag commented on #15334
Isn't what the option [data](http://symfony.com/fr/doc/current/reference/forms/types/entity.html#data) do ?

[2015-07-22 14:43] yceruto commented on #15334
The documentation says otherwise: The default values for form fields are taken directly from the underlying data structure (e.g. an entity or an array). The data option overrides this default value.

The data option is "default value" if the instance is null, otherwise overrides this instance in my case.

[2015-07-22 14:49] stof commented on #15335
You are missing a ``@`` in your code, so there is no annotation in your snippet

[2015-07-22 14:50] stof commented on #15334
Well, why not setting the default value in the underlying object before binding the form ? This way, there would be no need for anything special.

[2015-07-22 14:52] janedbal commented on #15335
@stof Sorry about that typo. The problem is with correct annotation of course. I've fixed it in example.

[2015-07-22 15:00] yceruto commented on #15334
@stof True. That would be an option, but when we use Sonata or EasyAdmin have to overwrite controllers to handle this default value and would not be a good choice.

[2015-07-22 15:03] znerol opened #15336 "[ DependencyInjection] Container::getServiceIds() missing from any interface"
The public method `Container::getServiceIds()` is not declared in any interface. This method is used by several Symfony bundles both in test as well as in production code. It is also required in Drupal.

I guess an appropriate place for the method declaration would be in `IntrospectableContainerInterface`.

Could this go into 2.8 or should I only open up a PR for master?

[2015-07-22 15:11] stof commented on #15336
Adding it in an existing interface is not possible (it is a BC break). But we could indeed add a new interface for that.

[2015-07-22 15:13] znerol commented on #15336
Even if the interface lacks the `@api` tag?

[2015-07-22 15:15] yceruto commented on #15334
@stof In some cases it's solved in the controller of the entity but when we need to access a service then it gets ugly.

[2015-07-22 15:15] znerol commented on #15336
Background on the `IntrospectableContainerInterface`: #3557

[2015-07-22 15:20] stof commented on #15336
@znerol adding methods in an interface is always a BC break. Even though non-api interfaces may be allowed to do such BC break according to our policy, we also have a note sayign that it should be avoided whenever possible. In the current case, it does not deserve a BC break IMO (thus we should probably tag IntrospectableContainerInterface as ``@api`` btw).
Thus, getting the list of service ids do

[2015-07-22 15:24] yceruto commented on #15334
@stof it's also good practice to encapsulate this job within the form type (for reusability)

[2015-07-22 15:26] znerol commented on #15336
Diffing the container class and the interface I found some more which do not seem to be declared anywhere:

[code]

Before I will cook up an interface for `getServiceIds()`, do you think that any of those methods is related enough such that I can include it also?

[2015-07-22 15:28] fabpot commented on #15336
I don't see why all methods should be in an interface.

[2015-07-22 15:29] znerol commented on #15336
Perhaps at least those which are used by other bundles/component/projects?

[2015-07-22 15:34] fabpot commented on #15336
But then again, why? what does it bring to the table? I mean, you can only type hint by one interface, so adding another one would not help, right?

[2015-07-22 15:38] ianfp commented on #15318
I'm a little concerned that, since upgrading to 2.7, clearing the cache "wrong" can (and has) broken my production server.

[2015-07-22 15:40] AntoineLemaire commented on #15318
Have you found a solution for your production ?

[2015-07-22 15:41] fabpot commented on #15318
@ianfp Not sure I understand what "incorrectly" means here. You should never use the same cache in dev and prod, and as a matter of fact, it did not work before. I think I'm missing something here.

[2015-07-22 15:42] ianfp commented on #15318
@AntoineLemaire I have a shell script that completely destroys the contents of the app/cache directory:

    rm -rf app/cache/*

I ran that and it seems to do the trick.

[2015-07-22 15:49] ianfp commented on #15318
@fabpot I think I may be the person who's missing something here. As you can see from my comment to @AntoineLemaire, I've been clearing the cache in an atypical manner for a long time now. I've simply been destroying everything in the `app/cache` directory and then letting it rebuild itself the first time a user accesses the site.

But I've never been using the same cache for dev and prod, as far

[2015-07-22 15:54] stof commented on #15336
``compile`` does not make sense in the interface IMO. It is only useful during container building

[2015-07-22 15:59] stof commented on #15318
@fabpot I think this may be another case where cache:clear boots the kernel with the old cache during the cache:clear command, which might lead to weird behavior. If removing the cache manually solves the issue, it is very likely.

[2015-07-22 16:40] MaxGrenier commented on #15213
Hi, I'm currently having a similar problem : since I updated from Symfony 2.3 to 2.7, translations are partially done on my pages. Just as you mentioned it, translations aren't done if they're before a render(controller(...)) in template files.
I have a LocaleListener class with a "setLocale" method, here is the service definition of it :

		<service id="locale.listener" class="%locale.listener.cl

[2015-07-22 19:32] yceruto commented on #15334
@stof Even the option is useful although there is no object associated with the form.

Inside controller:

    $form = $this->createFormBuilder()
            ->add('filter', 'checkbox', ['default' => false])
            ->getForm();

    $form->handleRequest($request);

    if ($form->get('filter')->getData() === true) {
        //do something...
    }

In this case the filter field would show fal

[2015-07-22 20:06] dunglas commented on #15316
CKEditor is definitely the best WYWYWG editor available, however IMO Symfony must be 100% agnostic of JavaScript technologies and libraries. (I think that forms should be directly rendered in standalone Javascript apps than with server-side HTML generation but it's another topic.)

- until now, Symfony is not opinionated about frontend technologies. If we choose to promote CKEditor as "the officia

[2015-07-22 20:09] sebastianblum commented on #12141
In the discussion, we have the pro and cons with "the one who uses the routes" and "the one who defines the routes".

The main problem is in my opinion, that the path of the homepage is the slash

    my_bundle:
        prefix: /folder
    index:
        path: /

If we define instead of path: / something like path: ~ or a different character, then we can say
* path: ~ is the same as / without a pr

[2015-07-22 20:20] xabbuh commented on #15180
What does `>&-` do?

[2015-07-22 20:22] amyboyd commented on #15180
It closes a file descriptor. See http://blog.apokalyptik.com/2007/10/24/bash-tip-closing-file-descriptors/

exec 0>&- # close stdin
exec 1>&- # close stdout
exec 2>&- # close stderr

[2015-07-22 20:22] xabbuh commented on #15320
@andrescevp Yeah, but what exactly would make it easier for you?

[2015-07-22 20:45] andrescevp commented on #15320
Will be cool if we can add assets without content rewrite, for example if you want add BootStrap (twitter) you must specify the routes like: 'bundles/some/..." if you try access it with "@AppController/..." the content is rewrited and you miss the glyphicons config. Or if you want add some extra JS and it have some dependency... my last experiment was with ace code editor and I try add some extens

[2015-07-22 20:57] BentCoder opened #15341 "Mapping random key-value pair of XML payload in Symfony2"
Hi,

I've open [an issue in here](https://github.com/schmittjoh/JMSSerializerBundle/issues/470) but since I'm not sure which place is the most appropriate one, I'm posting it here too. I hope no one gets annoyed by this, if so, I do apologise. Example uses `"jms/serializer-bundle": "0.13.0"` and based on Symfony app.

Thanks

[2015-07-22 22:39] adamziel commented on #15335
http://symfony.com/doc/current/reference/constraints/Callback.html

Defining Assert\Callback for class method will call that method. You want to define this constraint on the class level:

[code]

[2015-07-22 22:50] adamziel commented on #15334
@yceruto You could listen to PRE_SET_DATA event dispatched by every form on it's creation:

https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/Form/Form.php#L484

[code]

[2015-07-22 23:13] adamziel commented on #15325
Something must be wrong in another place in your project, this is what I get on default Symfony 2.3 project:
![Sf2.3](https://cloud.githubusercontent.com/assets/205419/8839647/04871e02-30d8-11e5-9679-0342d2913d78.png)

[code]

[2015-07-22 23:25] stof commented on #15316
@fredck the comparison with the country and the money types are not fair. These types are not only about the client-side UI but also about the way the form is processed:
- the country type defines the choices as the list of countries
- the money type applies a data transformer on the submitted value

[2015-07-22 23:28] adamziel commented on #15321
Why do you need to inject `LockHandler` instance?

[2015-07-22 23:30] adamziel commented on #15321
What `LockHandlerFactory::create($filename)` solves that `new LockHandler($filename)` doesn't?

[2015-07-22 23:48] adamziel commented on #15315
These are "tags" and are described in here:

http://symfony.com/doc/current/components/translation/usage.html#pluralization

    The tags are really only hints for translators and don't affect the logic used to
    determine which plural form to use. The tags can be any descriptive string that
    ends with a colon (:). The tags also do not need to be the same in the original
    message as in the

[2015-07-23 00:05] adamziel commented on #15314
AFAIK Validator component is completely separate from the form framework. The "required" attribute is explained in here:

http://symfony.com/doc/current/book/forms.html#field-type-options

Basically you either need to mark the whole form as "novalidate" if you are not interested in HTML5 validation, or set `"required" => false` on each individual field in your form Type class or in the twig templa

[2015-07-23 00:12] adamziel commented on #15303
+1

[2015-07-23 00:29] adamziel commented on #15325
DateTime handling of things should be fine on a 32bit system:

[code]

You may have found a bug

[2015-07-23 00:41] adamziel commented on #15325
The root cause is in here:

https://github.com/symfony/symfony/blob/05f3c3db7b6b46ba10a2b54178f97a21bf4161a8/src/Symfony/Component/Form/Extension/Core/Type/DateType.php#L292

Those list* methods will only list those dates that are valid in terms of `gmmktime`, and on 32bit system it only handles the range you mentioned (`Fri, Dec. 13, 1901 8:45:54 p.m. GMT and Tue, January 19, 2038 3:14:07 GMT`).

[2015-07-23 00:47] adamziel commented on #15307
What is the controller class name?

[2015-07-23 00:55] stof commented on #15320
@andrescevp when talking about content rewrite, this makes me think you are referring to Assetic. Assetic is not mandatory at all to include assets. If you don't want the assetic features, build the assets the way you want (using grunt or gulp as build tools for instance, or writing directly assets in the format used by the frontend), and then just use the Symfony asset system to reference them

[2015-07-23 01:00] adamziel commented on #15307
Btw not sure if it's useful but I think in the ControllerNameParser thing:
`https://github.com/symfony/symfony/blob/2aeaa22e3171b5e1f10f2cc2a7ff7f6608b65f9d/src/Symfony/Bundle/FrameworkBundle/Controller/ControllerNameParser.php`

You can find calls to `class_exists` in the end (after parsing your string). And `class_exists` is case-insensitive **if your class is already loaded**. If it's not then

[2015-07-23 02:07] #13448 closed

[2015-07-23 02:35] videni opened #15342 "form can't map violation to corresponding form field automatically"
As I know , an unmapped form filed , its value won't be validated,so I have to validate it manuallly, the purpose of  step 1 to demonstrate a child form named userContact is not mapped.
#1. unmapped child form

[code]
#2. Map error manually:

[code]
# Question

I have set up validation rules for UserContact entity, one of the rule is to ensure that its userName is not empty.
When I submit empty us

[2015-07-23 05:16] parhamdoustdar commented on #15321
1. It makes my code more testable: I want to mock my `LockHandler` to return true once, and false the next time. I want to see if `release()` was called or not. i can't do this when my code is `new LockHandler($filename)`.
2. It makes my dependencies clearer: when you look at my constructor, you see that `LockHandlerFactory` is included, which means it has something to do with locking a filesystem

[2015-07-23 06:03] janedbal commented on #15335
@adamziel Thanks for explanation, but is that really expected (and wanted) behaviour when I explicitly define the ```callback``` option?

[2015-07-23 07:40] elzekool commented on #14712
for 2.7 patch!

[2015-07-23 08:05] shehi commented on #15315
Yea, I know there would be BC implications since it's a grand change to API and lib. And your approach indeed sounds reasonable. Instead of chasing different types of modifiers and later passing them as arguments to ```transChoice()```, why don't I just create different nested keyword-based translations? The result will be the same: for the former case the second argument determining the modifier

[2015-07-23 08:29] andrescevp commented on #15320
Okey thanks very much for your comments, any way will be nice if someone can review this and give better native support in the framework for not need other tools.

[2015-07-23 08:34] funivan opened #15343 "ChoiceQuestion undefined index"
Try to use ChoiceQuestion. Failure in any case
State:
[code]
How to reproduce:
create directory
`mkdir /tmp/cons && cd  /tmp/cons`
install console component
`composer require "symfony/console:^2.7"
`
create `test.php`
[code]

Run `php test.php color`
Select any color.

My result:
`
Notice: Undefined index: yellow in /tmp/cons/vendor/symfony/console/Question/ChoiceQuestion.php on line 165
`
More ba

[2015-07-23 08:40] iltar commented on #15341
It looks like this is about JMS Serializer and not Symfony.

[2015-07-23 08:40] znerol commented on #15336
I examined the usage of the other methods mentioned in one of my comments above. Those are indeed only used inside the component.

Regarding `getServiceIds()`, my goal is to understand whether it makes sense to declare that in some interface in Symfony. This is in order to make it possible for Drupal to specify what kind of container it requires. Since over there we also use `initialized()` a lot,

[2015-07-23 08:53] florida63 commented on #15325
Thank you for the clarification.

In all cases, it is necessary to update the documentation.

[2015-07-23 08:55] AntoineLemaire commented on #15318
@ianfp Thanks, I'm usually reluctant to do that in prod

So, problem 'solved' :+1:

[2015-07-23 09:10] fabpot commented on #15336
`initialized()` is indeed the only method that should have been in the interface, but it's not because it was added late in the game. I propose to add it to the interface in Symfony 3.0.

[2015-07-23 09:12] pinoniq opened #15344 "File input should not use html5 required tag"
version: 2.7.1

I have a Form that adds a required image:

    $builder->add('picture', 'file', array(
            'required' => true,
    ));

The problem is that this get's rendered as

    <input type="file" required="required" />

When we now use this form to edit an existing entity that allready has a file. We are unable to submit the form because of the `required="required"` tag, unless we u

[2015-07-23 09:16] #15180 closed

[2015-07-23 09:29] romaricdrigon commented on #14712
@fabpot this BC break is there since 2.7.0 and it's getting annoying.
Nothing is really planned for 2.7? The PR was refused and postponed to 2.8.

[2015-07-23 09:31] fabpot commented on #14712
I would be more than happy to merge a PR that fixes this regression.

[2015-07-23 10:07] znerol opened #15346 "[DependencyInjection][3.0] Add initialized() to the ContainerInterface"
The `initialized()` method has been added to the container in order to check whether a service is already initialized quite late during Symfony 2 development (#3557). In order to prevent a BC break a new interface was added (`IntrospectableContainerInterface`).

Let's clean that up in 3.0 and move `initialized()` to the `ContainerInterface` and drop `IntrospectableContainerInterface`.

[2015-07-23 10:09] znerol commented on #15336
Filed #15346

@fabpot Does this mean that this issue here is a wont-fix?

[2015-07-23 10:45] AntoineLemaire commented on #15318
Finally, I re-open the issue because:

`rm -rf app/cache/*` works well,
I do `app/console cache:warmup --env=prod --no-debug --no-interaction` after, still working..

Now, if I go to a page with app_dev.php, or if I do `app/console cache:warmup --env=dev`, the problem is here again

[2015-07-23 10:46] Ascarius commented on #15344
That's actually the only purpose of the `required` option.

Note that this option will not result in server-side validation : [See "The required option"](http://symfony.com/doc/current/book/forms.html#field-type-options)

You should probably use validation groups and `NotNull` constraint instead of `required`.

[2015-07-23 11:42] Sorbing commented on #11803
Hmm, I tried to reproduce the error but all works fine.. And I can not remember what I used a bunch of packages.
It's example works:
[code]
File `example.html`:
[code]
I think the issue can be closed. Thank you for your time.

[2015-07-23 11:49] #11803 closed

[2015-07-23 11:59] adamziel commented on #15321
If I understand correctly, you need to pass an argument to the LockHandler, and the value of this argument is only available in the runtime. So, unless I am missing something important, it is not possible to define it as a service beforehand.

[2015-07-23 12:03] adamziel commented on #15321
Ah I see, you want to pass the factory instance to the constructor. It makes sense, I could issue a PR with this change if someone closer to the core team approves the idea.

[2015-07-23 12:21] stof commented on #15318
@AntoineLemaire this looks weird. The prod and dev caches are separate.

[2015-07-23 12:24] 94noni opened #15348 "[DX] WDT to long"
Hi all,

It could be very pleasant if this item in the WebDebugToolbar was much smaller, so the bar will be rendered in one line.

![wdt_to_long](https://cloud.githubusercontent.com/assets/1358361/8850210/747f076a-3146-11e5-9cba-9a1972163fc6.jpg)

FYI I am on 13' display

Thank you,

[2015-07-23 12:34] romaricdrigon commented on #14712
I've been taking a look at this, and stof on his PR comment nails the point: PHP allow only integers or string as array keys. And eventually only strings/integers can be used as the view (HTML form) value.

Without going into all details, the model data and choices data will go through different paths, that will end up in different times for casting. No way it equals after, no matter you use `choi

[2015-07-23 12:41] AntoineLemaire commented on #15318
@stof I know.
I'll do tests this night on production. I've no problem on local or preproduction.

[2015-07-23 12:58] javiereguiluz commented on #15348
You are right!

In [the new toolbar](https://github.com/symfony/symfony/pull/15160) that will (hopefully) be included in 2.8 and 3.0, most of these space problems will be solved. For the existing toolbar, I doubt we'll make any change because it's a lot of work and we already updated the toolbar for newer versions.

[2015-07-23 13:19] alex-ception opened #15349 "[DX] Summarize form errors for debugging"
I'm currently debugging a form (including other forms), I consider the getErrors method counter intuitive when debugging a form. Sometimes it could be really useful to have all error of the form (and children form) as a string (or something less complex than now).

It could be really productive to have them with a method called getErrorsAsString (following the convention of getTraceAsString of Exc

[2015-07-23 13:21] Filix opened #15350 "cannot change http statusCode to 200 in the ExceptionListener"
I have an ExceptionListener, in the onKernelException function I init a new Response, and set statusCode to 200, but the page always returns a 500 statusCode.
How to change the statusCode to 200?

I tried setting to other status code works well, such as 400, 502.. It seems that only 200 does not work

[code]
the statusCode:
![image](https://cloud.githubusercontent.com/assets/2655567/8851173/5502a4

[2015-07-23 14:13] stof commented on #15349
There is a deprecated function ``getErrorsAsString`` https://github.com/symfony/symfony/blob/49959000fc1cbec68a34f69bc5521cf74a5737ff/src/Symfony/Component/Form/Form.php#L849

and ``getErrors`` allows to get all errors of the form by changing the values of arguments (which is exactly what the deprecated ``getErrorsAsString`` method does btw).

For API-oriented projects, you would not want to retur

[2015-07-23 14:13] #15349 closed

[2015-07-23 14:16] issei-m commented on #15350
You can set the status code by setting `X-Status-Code` to the header:

[code]

[2015-07-23 14:29] yceruto commented on #15334
@adamziel In the header code use PRE_SET_DATA event.

There are many ways to configure a default value in Symfony:
- In the constructor of the entity (provided they have not used services or other entities instances),
- In the controller action, in the underlying object before binding the form,
[code]
- In a form type, using the PRE_SET_DATA event,
- Or making a form type extension that adds the `

[2015-07-23 14:38] placid2000 commented on #4124
I've faced the same a few times now and ignored it ill now.. Still no solution there? The workarounds don't seem to work for me neither

[2015-07-23 14:45] issei-m commented on #15350
btw, `X-Status-Xode` header is used in `HttpKernel::handleException` internally, and is removed in there. So it is never sent to the client.
See [doc](http://symfony.com/doc/current/reference/events.html#kernel-exception) for detail.

[2015-07-23 14:51] mickaelandrieu commented on #14086
@stof I met some issues with ParameterBag / ContainerBuilder too. I will try to make a relevant issue asap :/

[2015-07-23 15:23] ianfp commented on #15318
@AntoineLemaire You haven't overridden the cache directory (as described [here](http://symfony.com/doc/current/cookbook/configuration/override_dir_structure.html#override-the-cache-directory)), have you? Are there separate subdirectories under `cache/` for prod and dev?

[2015-07-23 15:26] sstok commented on #4124
[code]

Are property-paths, a property-path cannot be used for the DOMCrawler.

fnagel's solution works as it doesn't actually use the DOMCrawler but creates the request directly instead.

[2015-07-23 16:38] ifmi commented on #15343
This will only work if your key will be same as value.

In this color calse the array you are providing for ChoiceQuestion needs to be:

['red' =>'red', 'blue' => 'blue', 'yellow' => 'yellow']

[2015-07-23 18:13] hugohenrique commented on #14614
I am also the same problem.

[2015-07-23 18:25] stof commented on #15281
``test=123&test=456`` means that PHP will see only 1 value though, because it will reuse the same key. So we would have to submit only ``456`` actually in this case.
This might be a bit hard to implement in the current system though

[2015-07-23 18:32] stof commented on #15346
Dropping IntrospectableContainerInterface in 3.0 would mean that it is harder to write code compatible with both 2.8 and 3.0 and wanting to know whether it can introspect the container.
Should we drop it in 3.0 or no ?

[2015-07-23 18:33] stof commented on #15346
The issue here is that the interface cannot be deprecated in 2.x, so it would mean it is a removal without deprecation, which is bad for the upgrade.

I suggest keeping the interface (with no extra method in it) in 3.x but deprecating it.

[2015-07-23 18:35] stof commented on #14614
``configureOptions`` does not work on Symfony 2.6. It is only for 2.7+

[2015-07-23 18:38] hugohenrique commented on #14614
I'm using ~2.7

[2015-07-23 19:30] nWidart commented on #15343
I'm having the same issues here.

[2015-07-23 22:08] xabbuh commented on #15343
This looks like a duplicate of #15309 which was fixed by #15271.

[2015-07-23 22:08] #15343 closed

[2015-07-24 03:07] Filix commented on #15350
@issei-m Thanks a lot! It works!

[2015-07-24 03:07] #15350 closed

[2015-07-24 03:46] AntoineLemaire commented on #15318
@ianfp Nop, is default configuration

I just run some tests. And I don't know where, and when the problem is occurred
Start with `rm -rf app/cache/* && php app/console cache:warmup --env=prod --no-debug --no-interaction`

No bug, perfect.
Go to a page with app_dev, still nothing.
Try warmup with env dev, still nothing x_X

Wait some minutes, try to check everywhere. During this time, my production

[2015-07-24 04:59] nWidart commented on #15343
It's not fixed for me.

[2015-07-24 05:58] funivan commented on #15343
@ifmi yes. With string keys it works fine even if array contain one sting key ` array('red'=>'red', 'green', 'blue' ) ` it will be good to rewrite documentation or fix this bug ;)
@xabbuh ok I write next comments in #15309

[2015-07-24 06:01] funivan commented on #15309
@jakzal  can you reopen this issue. I can reproduce this bug on 2.7.2 branch (as i can see this is latest stable release)

[2015-07-24 06:01] sergiusd opened #15351 "ClassMapGenerator find class without name"
If use PHP 5.6 structure CLASS::class in code such as

    \Client\CommonApiV02C_Push::class

then method

    \Symfony\Component\ClassLoader\ClassMapGenerator::findClasses

find class with empty name

    array (
        0 => 'Client\\Common\\Api\\V02\\Test\\C\\PushTest',
        1 => 'Client\\Common\\Api\\V02\\Test\\C\\',
    )

Need to check for empty class name, or change the order of analysis

[2015-07-24 06:12] xabbuh commented on #15309
@funivan The patch will be part of Symfony 2.7.3.

[2015-07-24 06:27] funivan commented on #15309
@xabbuh great, thanks.

[2015-07-24 06:36] xabbuh commented on #15318
Do you have (background) jobs that do weird things with the cache directory?

[2015-07-24 06:38] AntoineLemaire commented on #15318
Normaly not. Just stupids jobs to send mails, or populate documents into ElasticSearch

[2015-07-24 06:51] xabbuh commented on #15325
@florida63 Can you please open an issue on [the docs repository](https://github.com/symfony/symfony-docs)?

[2015-07-24 06:52] xabbuh commented on #15341
Yeah, it looks like you have an issue with either the JMS Serializer or with its bundle. So I'm gonna close here. Feel free to reopen and provide more information if you think it's actually in issue in Symfony.

[2015-07-24 06:52] #15341 closed

[2015-07-24 06:54] xabbuh commented on #15344
As @Ascarius said that's expected behaviour. So I'm going to close here. Thanks anyway for reporting the issue @pinoniq even if it turned out to not to be one. ;)

[2015-07-24 06:54] #15344 closed

[2015-07-24 06:59] xabbuh commented on #15318
And jobs executed via cron? Would it be possible to disable all these jobs temporarily and do the same search for this issue (that you explained above) again?

[2015-07-24 07:03] AntoineLemaire commented on #15318
Unfortunately no, this is our real production, with all our clients.
And this don't happen in our preproduction server, or in local.

But, juste wake up (again), and saw that in our second front server, the problem was here without app/cache/dev folder, only prod....

I don't understand anything...

[2015-07-24 07:10] pinoniq commented on #15344
Required itself behaves as expected. but if the only impact is frontend. It should simply not have it's own value but just be part of attr array. no? Kind of confuses imho.

[2015-07-24 07:38] marcojanssen commented on #12990
@Sander-Toonen Could you please add the test so we can merge it? If you don't have time at the moment let me know i'll add it for you

[2015-07-24 07:46] Sander-Toonen commented on #12990
@marcojanssen To be honest, I have no idea how I could test this. My PHPUnit knowledge doesn't reach very far. If you could write a test or point me in the right direction, I would very much appreciate that.

[2015-07-24 08:57] marcojanssen commented on #12990
@Sander-Toonen Looked at it and think we should add a test covering the streaming file.

https://github.com/Sander-Toonen/symfony/blob/2.7/src/Symfony/Component/HttpFoundation/Tests/BinaryFileResponseTest.php#L156

Is the test for a file, so if we add a test the same way with a stream we should be there right?

We could create a stream as with php://memory then server that to the prepare method, n

[2015-07-24 09:17] Soullivaneuh commented on #14382
@fabpot @xelaris Having again exactly the same issue since upgrading from 2.7.1 to 2.7.2.

Any idea?

[2015-07-24 09:55] acpbytron opened #15352 "Login loop after upgrading from 2.3.30 to 2.3.31"
After upgrading from 2.3.30 to 2.3.31, when a user logs into the site they are redirected back to the login page even if the authentication was successful.

[2015-07-24 10:09] rcousens opened #15353 "Symfony2 security defaults for cookies"
Hi,

Just seeking enlightenment regarding the default values for cookies with Symfony2.

http://symfony.com/doc/current/reference/configuration/framework.html#cookie-httponly

Documentation here states the default value for cookie's created by the framework are for httponly to be set to false.

I've personally encountered numerous Symfony2 apps where existing XSS injection vulnerabilities resultin

[2015-07-24 14:56] timglabisch commented on #15353
+1 for setting `httponly: true` by default.

[2015-07-24 15:47] ianfp commented on #15318
@AntoineLemaire Did this problem begin after you upgraded to 2.7? I never saw this before then.

[2015-07-24 15:50] AntoineLemaire commented on #15318
@ianfp Yes. I did some test today, but this is WE, let's see monday is it's working !

[2015-07-24 16:26] ianfp commented on #15318
I just took @xabbuh's suggestion and checked my cron jobs, and sure enough, there was one running without `-e prod`. Perhaps the one time I saw this error, it was that cron job that initialized the cache.

But why would that make a difference? If the dev and prod caches are stored in different directories, why would a cron job initializing the dev cache have any effect on Apache, which uses the pr

[2015-07-25 02:53] a939638621 opened #15358 "Running v2.7.2 symfony error occurred"
I just run the following command :

[code]

If you don't open the page, please see the following:

[code]

With regard to 2.7.2 symfony, I have not made any changes to the setting of the initial time.
I don't know how to solve this problem, I hope you can help me.

[2015-07-25 06:54] sstok commented on #15358
You need to set the timezone in your system's php.ini
https://stackoverflow.com/questions/16765158/date-it-is-not-safe-to-rely-on-the-systems-timezone-settings

In future please try to Google the error message first before opening an issue :+1: most errors are very common and can be easily solved.

[2015-07-25 07:19] sstok commented on #15353
:+1: This is already the case for Security `remember_me`

[2015-07-25 09:07] xabbuh commented on #15270
@zerustech I am not sure I understand your issue. All your entries contain a `name` and a `value` key, don't they?

[2015-07-25 10:14] xabbuh commented on #15353
I agree with you, but I'm closing nonetheless as this a duplicate of #15303.

[2015-07-25 10:14] #15353 closed

[2015-07-25 10:15] timglabisch commented on #15303
:+1:

[2015-07-25 10:56] greg0ire opened #15359 "[FrameworkBundle] Move session files outside the cache"
In ea84bb025b4679903d31919c509638930f74318f , the default location for the session files was set to `%kernel.cache_dir%/sessions`. It means that every time the cache is cleared, everyone is logged out. The location is configurable though, so [working around this problem is quite easy](http://vvv.tobiassjosten.net/symfony/keep-symfony2-sessions-through-cache-clear/). Nevertheless, I think the defau

[2015-07-25 11:36] denisvmedia opened #15360 "After upgrading from 2.6 to 2.7 https via CloudFlare stopped working for me"
I use CloudFlare in front of my Symfony application. On my server I have nginx with `set_real_ip_from` setting set to the IPs of CloudFlare. So that Symfony gets real user IP, not the trusted proxy's one. In my Symfony application I have `access_control` policy set to `requires_channel: https`. And now when I upgraded to 2.7 my app stopped working: I'm getting circular redirects from https url to

[2015-07-25 12:31] xabbuh commented on #15234
see #15361

[2015-07-25 12:43] xabbuh commented on #15360
@denisvmedia Can you debug if and why `isSecure()` in the `Request` class returns `false`?

[2015-07-25 12:43] denisvmedia commented on #15360
@xabbuh yes, it returns false.

[2015-07-25 12:45] denisvmedia commented on #15360
@xabbuh it returns `false`, because the IP I'm getting is not in the `trusted_proxies` array (as it is changed by nginx to the real user's IP), but the thing is that it worked before 2.7.

[2015-07-25 12:49] denisvmedia commented on #15360
Check the code:

[code]

The request is not from Trusted Proxes, and as such, all other conditions are not checked anymore. `$this->server->get('HTTPS')` is obviously not set (as internally nginx runs in non-secure http).

[2015-07-25 13:19] ninsuo commented on #14425
Same here.

- Opened a question on SO without success: http://stackoverflow.com/questions/31125630/how-to-get-a-stacktrace-with-deprecated-method-calls

- error_reporting set to E_ALL

But no stack traces for deprecated calls.

Did somebody find a solution?

[2015-07-25 16:50] iltar commented on #15359
I think that `var/sessions` is a good location as default in 3.0.

[2015-07-25 16:57] greg0ire commented on #15359
Ok. I'll work on master since this probably should be considered backwards-incompatible (deployment scripts could need some work, for instance).

[2015-07-25 17:09] iltar commented on #15359
You could make it configurable in the Kernel and make the default setting in 2.x still use the cache dir as standard.

[2015-07-25 17:09] greg0ire opened #15363 "Unable to run some of the tests"
For some reason, I can't seem to be able to run the test suite. I pinpointed the problem to this particular test :
[code]

[2015-07-25 17:12] greg0ire commented on #15359
It is already configurable (see link to blog post in my initial comment). For the moment, I'm kind of stuck because [I cannot run the test suite](https://github.com/symfony/symfony/issues/15363)

[2015-07-25 17:13] greg0ire commented on #15363
Here is my global composer.json (I suspect this might have to do with [this bug](https://github.com/sebastianbergmann/phpunit/issues/1757)) :

[code]

[2015-07-25 18:22] kminh opened #15364 "[Translator] Translator warmup doesn't dump fallback locales"
Using Symfony 2.7.2.

When fallback locales for the Translator service are set to `[en, fr]` for example, if I run `app/console cache:clear` (or via API), cached catalogues for `en` and `fr` are not dumped.

The line causing this issue is: https://github.com/symfony/symfony/blob/2.7/src/Symfony/Component/Translation/Translator.php#L338

It seems that fallback catalogues are generated on the fly to

[2015-07-25 21:35] #15358 closed

[2015-07-25 22:04] xabbuh commented on #11583
Is this still an issue given the changes that were made in #14166?

[2015-07-25 22:06] xabbuh commented on #15360
Which version did you run before updating to Symfony 2.7? Did that version contain the changes from #14166? If not, does your application on the old version still work when you apply the changes from #14166 manually?

[2015-07-25 23:37] zerustech commented on #15270
@xabbuh
Assume the original data parsed from YAML is as follows:
[code]
If the 'parameters' node is defined as a prototyped array and its key attribute is 'name', then the data will be changed to:
[code]
Now, because there is only one key named 'value' left in its child nodes, which is a special name as per the specification, the data is supposed to be further simplified to:
[code]
But, if you try

[2015-07-26 01:12] miraage opened #15368 "[Console] Correct max width for ChoiceQuestion"
https://github.com/symfony/Console/blob/2.7/Helper/QuestionHelper.php#L160

Here is a wrong calculation for cyrillic values.

[code]

[2015-07-26 06:35] xabbuh commented on #15289
ping @negreanucalin

[2015-07-26 07:08] RusAlex commented on #15368
Indeed, I also interested what is the policy in symfony
components. Where unicode allowed multibyte string functions have to
be used?

On Sat, Jul 25, 2015 at 06:12:52PM -0700, Mikhail Osher wrote:

--
Mr Alexander Pletnev
Development & Support
Viber: +79109209300
www.Benchmark54.com

[2015-07-26 07:57] JFOC commented on #15316
Redactor Editor is nice, might be need OEM license.

[2015-07-26 08:13] denisvmedia commented on #15360
It was some dev commit of Symfony 2.6, bust yesterday I switched to 2.7.*. The version I used didn't contain the changes #14166 (as it was older). To be precise, this change affects the problem:

[code]

This worked for me before because I have something on the list of `trusted_proxies`, but now when you started checking if the actual request really came from the proxy, it stopped working for me.

[2015-07-26 08:16] znerol commented on #15346
Fine, PR updated.

[2015-07-26 08:53] fabpot commented on #15359
In the Symfony SE 3.0 directory structure, sessions are under the var directory, so there is no change to be made in Symfony itself.

[2015-07-26 09:02] #15234 closed

[2015-07-26 09:03] #15331 closed

[2015-07-26 09:06] fabpot commented on #15303
Sounds reasonable to me for 2.8 or 3.0.

[2015-07-26 09:10] WouterJ commented on #15316
@dunglas do not forgot that Symfony form does already favor front-end libraries over other libraries, Bootstrap for instance.

However, just as with bootstrap, I don't think it makes sense to include this feature into core. Symfony forms is more about handling request data than handling form rendering and for the request handling part, a WYSIWYG editor is just a textarea.

If there is a popular bu

[2015-07-26 09:55] greg0ire commented on #15363
It really is related to the phpunit bug : removing `sismo/sismo` make the bug go away.

[2015-07-26 10:09] greg0ire commented on #15363
Closing since this is not really a symfony bug.

[2015-07-26 10:09] #15363 closed

[2015-07-26 10:32] greg0ire commented on #15359
Ok, I guess this can be closed then.

[2015-07-26 10:32] #15359 closed

[2015-07-26 11:01] moldcraft opened #15370 "Redirect loop on login page on AccessDenied when user is authenticated remember_me"
After I started authenticating the users with remember_me, when a logged in user opens a page that throws AccessDenied, it is redirected to login page, then that page throws AccessDenied, because only anonymous users can access it `@Security("not is_authenticated()")`, and a redirect loop happens.

I debugged the problem and reached [this line](https://github.com/symfony/symfony/blob/58efb98c6fa6d

[2015-07-26 11:10] iltar commented on #15316
I agree with @WouterJ on this one. I think it's better to document a recommended Bundle for things like this, than put it in the core. Most people have a dependency on `symfony/symfony`, why should they get a WYSIWYG editor along with it? Out of perhaps 10 big Symfony 2 applications my company has, only 1 needs one of those editors.

My recommendation:
 - Work together with the community/developer

[2015-07-26 11:16] marcojanssen commented on #14444
@stof considering both fixes have been merged i assume this ticket can be closed?

[2015-07-26 11:20] WouterJ commented on #14444
@marcojanssen the first ticket is not relevant to this one (it just mentions that the build in that PR is failing because of the volatile test in this issue). The second ticket was rejected, as it was not testing the method.

Tldr: Nothing has been fixed around this afaics.

[2015-07-26 15:23] Mondane opened #15371 "Can't inject Request in __construct of controller"
With symfony 2.7 and this controller:

[code]

Why does it give this error:

[code]

But when I add the Request to the indexAction like this, I do get the Request object?

[code]

[2015-07-26 15:26] ninsuo commented on #15371
You should declare your controller as a service and inject the request.
http://symfony.com/doc/current/cookbook/controller/service.html

[2015-07-26 15:49] Mondane commented on #15371
I tried it as shown here: http://stackoverflow.com/a/20502945/1025437 , in that function, it does get injected, but only if I use the controller as a service. Accessing a route doesn't seem to trigger the call to setRequest. For now, I changed all my actions to:

[code]

That works :).

[2015-07-26 15:49] #15371 closed

[2015-07-26 18:10] #15346 closed

[2015-07-26 18:12] fabpot commented on #14425
ping @nicolas-grekas

[2015-07-26 18:22] timglabisch commented on #15316
i am :-1: to support third party wysiwyg editors.
for me, it's fine to add a cookbook article how to use some third party wysiwyg editors.

[2015-07-26 18:51] razmo commented on #15316
I think that it should not be integrated in symfony core.
:+1: for @iltar recommendations.

[2015-07-26 20:14] iltar commented on #15370
@moldcraft I think that's the wrong way to check authentication. I think you could solve this by using `IS_AUTHENTICATED_FULLY` or `IS_AUTHENTICATED_REMEMBERED`: http://symfony.com/doc/current/cookbook/security/remember_me.html

[2015-07-26 21:33] moldcraft commented on #15370
I get it

[code]

Thank you

[2015-07-26 21:33] #15370 closed

[2015-07-27 02:56] ihsanudin commented on #15316
:+1: for @WouterJ, i agree with you

[2015-07-27 06:30] xabbuh commented on #15371
@Mondane Type-hinting a method argument with `Request` is indeed the recommended way to access the current request in your controller. If you need to access it in a service, you should use the [request stack](http://symfony.com/blog/new-in-symfony-2-4-the-request-stack).

[2015-07-27 07:48] ricardclau commented on #15360
@denisvmedia Since you cannot know the IPs (as they may change) of your ELBs in a Cloud environment this is as good as it gets when you are running a Symfony2 application behind such load balancers architecture.

Essentially, you are saying: "Yes, my application runs behind a set of ELBs and I trust them all".

Hope this helps!