[2019-02-12 10:03] javiereguiluz opened #30154 "[Validator] Add the missing translations for the Welsh ("cy") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:04] javiereguiluz opened #30155 "[Validator] Add the missing translations for the Danish ("da") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.da.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:05] javiereguiluz opened #30156 "[Validator] Add the missing translations for the German ("de") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:08] hoebelix commented on #29950
The dead-letter exchange feature seems to work like this:

`framework:
    messenger:
        transports:
            amqp:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    ...
                    queue:
                        ...
                        arguments:
                          x-dead-letter-exchange: Name of dead letter exchange`

[2019-02-12 10:09] javiereguiluz opened #30158 "[Validator] Add the missing translations for the Greek ("el") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:10] javiereguiluz opened #30159 "[Validator] Add the missing translations for the Spanish ("es") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:11] javiereguiluz opened #30160 "[Validator] Add the missing translations for the Estonian ("et") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.et.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:12] javiereguiluz opened #30161 "[Validator] Add the missing translations for the Basque ("eu") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:13] javiereguiluz opened #30162 "[Validator] Add the missing translations for the Persian ("fa") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:13] javiereguiluz opened #30163 "[Validator] Add the missing translations for the Finnish ("fi") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.fi.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:16] javiereguiluz opened #30164 "[Validator] Add the missing translations for the French ("fr") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:16] javiereguiluz opened #30165 "[Validator] Add the missing translations for the Galician ("gl") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:18] javiereguiluz opened #30166 "[Validator] Add the missing translations for the Hebrew ("he") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.he.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:18] javiereguiluz opened #30167 "[Validator] Add the missing translations for the Croatian ("hr") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:19] javiereguiluz opened #30168 "[Validator] Add the missing translations for the Hungarian ("hu") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:20] javiereguiluz opened #30169 "[Validator] Add the missing translations for the Armenian ("hy") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.hy.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:20] javiereguiluz opened #30170 "[Validator] Add the missing translations for the Indonesian ("id") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:21] javiereguiluz opened #30171 "[Validator] Add the missing translations for the Italian ("it") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:21] javiereguiluz opened #30172 "[Validator] Add the missing translations for the Luxembourgish ("lb") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:22] javiereguiluz opened #30173 "[Validator] Add the missing translations for the Lithuanian ("lt") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:22] javiereguiluz opened #30174 "[Validator] Add the missing translations for the Latvian ("lv") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:23] javiereguiluz opened #30175 "[Validator] Add the missing translations for the Mongolian ("mn") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.mn.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:23] javiereguiluz opened #30176 "[Validator] Add the missing translations for the Norwegian Bokmål ("nb") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.nb.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:24] javiereguiluz opened #30177 "[Validator] Add the missing translations for the Dutch ("nl") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:24] javiereguiluz opened #30178 "[Validator] Add the missing translations for the Norwegian Nynorsk ("nn") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.nn.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:25] javiereguiluz opened #30179 "[Validator] Add the missing translations for the Norwegian ("no") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:25] javiereguiluz opened #30180 "[Validator] Add the missing translations for the Polish ("pl") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:26] javiereguiluz opened #30181 "[Validator] Add the missing translations for the Portuguese ("pt") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:26] javiereguiluz opened #30182 "[Validator] Add the missing translations for the Brazilian Portuguese ("pt_BR") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:27] javiereguiluz opened #30183 "[Validator] Add the missing translations for the Romanian ("ro") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:27] javiereguiluz opened #30184 "[Validator] Add the missing translations for the Russian ("ru") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:28] javiereguiluz opened #30185 "[Validator] Add the missing translations for the Slovak ("sk") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.sk.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:28] javiereguiluz opened #30186 "[Validator] Add the missing translations for the Slovenian ("sl") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.sl.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:29] javiereguiluz opened #30187 "[Validator] Add the missing translations for the Albanian ("sq") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:29] javiereguiluz opened #30188 "[Validator] Add the missing translations for the Serbian (Cyrillic) ("sr_Cyrl") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.sr_Cyrl.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Re

[2019-02-12 10:30] javiereguiluz opened #30189 "[Validator] Add the missing translations for the Serbian (Latin) ("sr_Latn") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:30] javiereguiluz opened #30190 "[Validator] Add the missing translations for the Swedish ("sv") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:31] javiereguiluz opened #30191 "[Validator] Add the missing translations for the Thai ("th") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.th.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Request

[2019-02-12 10:31] javiereguiluz opened #30192 "[Validator] Add the missing translations for the Tagalog ("tl") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:32] javiereguiluz opened #30193 "[Validator] Add the missing translations for the Turkish ("tr") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:32] javiereguiluz opened #30194 "[Validator] Add the missing translations for the Ukrainian ("uk") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:33] javiereguiluz opened #30195 "[Validator] Add the missing translations for the Vietnamese ("vi") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:33] javiereguiluz opened #30196 "[Validator] Add the missing translations for the Chinese ("zh_CN") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/C

[2019-02-12 10:34] javiereguiluz opened #30197 "[Validator] Add the missing translations for the Chinese (Taiwan) ("zh_TW") locale"
If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

-----

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Component/Validator/Resources/translations/validators.zh_TW.xlf` file is missing the following translations compared to the original English file:

[code]

**Possible Solution**

A Pull Requ

[2019-02-12 10:34] DelanoueMartin commented on #30164
i want to make it :)

[2019-02-12 11:30] nicolas-grekas commented on #30147
Could you please submit a failing test case on `UrlMatcherTest` on the lowest branch where you can reproduce this? That should help (me) work on this. Thanks!

[2019-02-12 11:33] jakewhiteley commented on #30025
@arnegroskurth Did you find a solution? I have this exact same issue - trying to start the built in server when running PHPUnit and `Process` is just causing everything to hang no matter what I try.

Running the process manually using:

[code]

Will start the server correctly, but offers no real solution for closing it down again after the script has finished (short of searching for the pid).

I t

[2019-02-12 11:50] ElectricMaxxx commented on #30147
No worries, when pushing a test i would also provide a fix, i just need to know if it our fault. But .. yes, the best way is to write a test. I'll try it tonight.

[2019-02-12 12:02] arnegroskurth commented on #30025
@jakewhiteley In my case the server starts properly in the background and I just want to known when it is ready so I currently solve my problem by just sleep()ing for a second. Havent tested that on windows though.

[2019-02-12 12:05] Vynder commented on #30194
I'll take this one

[2019-02-12 12:21] mertingen commented on #30193
I'm interested in fixing this issue.

[2019-02-12 12:25] reyostallenberg commented on #30177
I like to pick this one

[2019-02-12 12:40] JellyBellyDev commented on #30171
can I reserve?

[2019-02-12 12:41] #30164 closed

[2019-02-12 12:46] #30181 closed

[2019-02-12 12:46] javiereguiluz commented on #30171
@JellyBellyDev yes! It's yours if you want :) Thank you.

[2019-02-12 13:30] behnoushnorouzi commented on #30162
I'll do it

[2019-02-12 13:57] ikhsan017 commented on #30170
Hi @javiereguiluz

I just created a pull request for this issue, kindly review it at #30204

Thanks!

[2019-02-12 13:59] MusterOhneWert commented on #29810
I ran into this error when I transferred some files from one workstation to another. I wasn't aware of different versions of dependency-injection.  The solution by jkabat, donwgrading to version 4.1.8 helped. The source has Version 4.1.7 and the recieving one 4.1.11. I was even unable to catch the exception with try-catch.

This is the triggering line of code:

`public function getDataByItemId($id

[2019-02-12 14:08] nikossvnk commented on #30158
I'll take it

[2019-02-12 14:38] antonch1989 commented on #30184
I'd like to take it

[2019-02-12 15:19] recchia commented on #30159
Taken

[2019-02-12 15:29] javiereguiluz commented on #30159
@recchia I'm afraid this was taken by another member of the community: #30198. I'm sorry.

[2019-02-12 15:31] javiereguiluz commented on #30149
Done in #30205.

[2019-02-12 15:33] recchia commented on #30159
@javiereguiluz , it's a shame, thanks for let me know it

[2019-02-12 15:34] zmitic commented on #28054
In case someone is interested in swoole, I played with [k911/swoole-bundle](https://github.com/k911/swoole-bundle). And oh boy it it is fast! Please try, you will love it.

I do have a problem of hot-reload not working (https://github.com/k911/swoole-bundle/issues/30) but memory is much bigger problem. Is there something on Symfony end that takes so much memory when running under swoole? I had sam

[2019-02-12 15:35] javiereguiluz commented on #30159
There will be more opportunities to contribute. If you need any help finding some good first issue or with the actual contribution process, please ask us (preferably on Symfony Slack). Thanks!

[2019-02-12 16:04] stof commented on #29810
which file did you transfer ?

[2019-02-12 16:10] tacman commented on #29810
FWIW, I've locked my composer.json at

"symfony/dependency-injection":
"4.2.x-dev#e4adc57a48d3fa7f394edfffa9e954086d7740e5",

and that solved the problem for me.

On Tue, Feb 12, 2019 at 11:05 AM Christophe Coevoet <
notifications@github.com> wrote:

[2019-02-12 16:11] hariszukanovic commented on #28054
What is the memory problem exactly?

[2019-02-12 16:19] zmitic commented on #28054
When in dev mode, memory under FPM in around 2MB. But under swoole, it goes up to 30+ MB.

[2019-02-12 16:38] moon-deer opened #30211 "Wrong parameters at AbstractSessionHandler - destroy - setcookie"
**Symfony version(s) affected**: 4.2.3

**Description**
User authentication causing this error:
`request.CRITICAL: Uncaught PHP Exception ErrorException: "Warning: setcookie() expects parameter 3 to be int, array given" at /.../vendor/symfony/http-foundation/Session/Storage/Handler/AbstractSessionHandler.php line 133 {"exception":"[object] (ErrorException(code: 0): Warning: setcookie() expects par

[2019-02-12 16:52] nicolas-grekas commented on #30211
That line 133 runs only on PHP 7.3, and on PHP 7.3, `setcookie()` accepts an array as 3rd argument.
Which means I don't get how this can happen. Can you try debugging further and check what is wrong here?

[2019-02-12 17:15] sousatg commented on #30182
I can do this :)

[2019-02-12 18:36] kylekatarnls commented on #16256
It should not! As explained @ghost 1.5 is singular in French, plural in English, so you can't have both working if you force the integer cast, remove this typing please:

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Translation/IdentityTranslator.php#L57

@fabpot There is still a linguistic bug about decimal, this should be re-open and decimal numbers should be properly han

[2019-02-12 18:46] IllyaMoskvin commented on #24688
**Issue 930061: DevTools Network Preview no longer displays a preview of HTML content**
https://bugs.chromium.org/p/chromium/issues/detail?id=930061

I think this is the relevant issue. Assigned 4 days ago.

[2019-02-12 18:56] pierredup opened #30213 "Add HTML5 Boilerplate to symfony/website-skeleton"
**Description**

The `symfony/website-skeleton` flex recipe is meant to be used when building a full-blown web app/site with all the bells and whistles. Currently, it includes a very [minimal Twig template](https://github.com/symfony/recipes/commits/master/symfony/twig-bundle/3.3/templates/base.html.twig). Usually when building a web application, there are a lot more configuration that needs to be

[2019-02-12 19:16] dominikhajduk commented on #30180
OK so let me try https://github.com/symfony/symfony/pull/30214

[2019-02-12 19:40] kylekatarnls opened #30215 "[Translation] Floating number plural broken"
**Symfony version(s) affected**: 4.2.3

**Description**
Decimal number between 1 and 2 produces incorrect plural in English.

**How to reproduce**
[code]

It outputs:
[code]

It should output:
[code]

**Possible Solution**
int typing here should be removed, it's a float, numbers should not be truncated:
https://github.com/symfony/symfony/blob/32aa969dfff52adfc8f8efac8e7cd21b719f9ac0/src/Symfony/Co

[2019-02-12 19:40] #30180 closed

[2019-02-12 19:41] #30171 closed

[2019-02-12 19:43] #30165 closed

[2019-02-12 19:44] #30156 closed

[2019-02-12 19:46] #30149 closed

[2019-02-12 19:46] felipyamorim commented on #30182
I can do too, of course, if @sousatg does not.

[2019-02-12 19:46] kylekatarnls commented on #30215
Here are some additional sources:
https://english.stackexchange.com/questions/2139/should-we-use-plural-or-singular-for-a-fraction-of-a-mile
https://en.wikipedia.org/wiki/Plural
http://mathforum.org/library/drmath/view/57224.html
http://www.antimoon.com/forum/t1070.htm

All I find tend to define 1.5 as plural in English but Symfony no longer do (it was the cas before the typing was added).

[2019-02-12 19:48] #30154 closed

[2019-02-12 19:50] #30168 closed

[2019-02-12 19:51] #30159 closed

[2019-02-12 19:53] #30193 closed

[2019-02-12 19:55] #30170 closed

[2019-02-12 19:58] #30184 closed

[2019-02-12 20:01] #30177 closed

[2019-02-12 21:06] fatonh commented on #30187
I'll take this one :)

[2019-02-12 21:28] moosti commented on #28302
Yeah this was a javascript issue with twig form blocks, where opened and closed

[2019-02-12 21:53] BentCoder opened #30218 "[Messenger] DLX configuration issue"
**Symfony version(s) affected**: 4.2.2

Hi,

Since there is no single entry in the documentation around AMQP Dead Letter Exchange, I am asking to find out if this is a bug or not. If it is an expected behaviour then please answer the question below. Much appreciated.

I am trying to automatically configure DLX exchange `image_crop_dlx_ex` and a queue `image_crop_dlx_qu` to go with it. However, the

[2019-02-12 21:54] BentCoder commented on #29950
Thanks @hoebelix - I've opened up an issue regarding to it. https://github.com/symfony/symfony/issues/30218

[2019-02-12 22:38] curry684 commented on #30177
@javiereguiluz any idea how number 84 went missing? I suggested it [in the original PR](https://github.com/symfony/symfony/pull/28069#issuecomment-412506777) and it [was merged like that](https://github.com/symfony/symfony/pull/28069/files#diff-f3454c7ac1f23445fa184088ba6e1d2eR321). So I'm pretty surprised it got lost along the way as it was most recently missing before this issue today...?

[2019-02-12 22:40] curry684 commented on #30177
Hang on I see, the feature went into `master` and this PR is targetting 3.4, why are we backporting translations to versions that don't contain their usage?

[2019-02-12 22:46] voku commented on #30134
yep :+1:  I set the header twice

PS: if someone had the problem that the header is not set (in HttpFoundation\Response) because of headers already sent, maybe you have to remove a {% flush %} from twig :yum:

[2019-02-12 22:46] #30134 closed

[2019-02-13 06:04] ElectricMaxxx commented on #30147
While running Debugger on Routing tests i found that the compiled route in original got regexes like `#^/ ... /$#sD` which are fine. We mock the compiled route at all, which is an other issue (@dbu ping), cause for me the look like value objects. And a quick fix in our mocking: https://github.com/symfony-cmf/Routing/pull/232/commits/8b449f81e65227f48226a629149291fe2e55e0a3 fixed our tests. But at

[2019-02-13 06:46] ikerib commented on #30161
I'll take it

[2019-02-13 07:05] javiereguiluz commented on #30177
@curry684 yes, to make things easier to maintain, it's been decided to include all translations in the lowest maintained branch ... even if those are not used in that branch. Thanks.

[2019-02-13 07:06] #30187 closed

[2019-02-13 07:08] #30162 closed

[2019-02-13 07:15] edylcrm commented on #29772
@crazy-genius was right.
https://symfony.com/doc/master/bundles/DoctrineBundle/configuration.html
![image](https://user-images.githubusercontent.com/20055276/52693604-e0942480-2fb2-11e9-8c56-7d773ee708a8.png)
it work

[2019-02-13 07:16] fabpot commented on #30213
Having a better HTML boilerplate code sounds nice to me. "Installing" it via a recipe sounds good as well. But I would not go further than that: so no Apache config (could be in another recipe), no JS libs, ... The main.css could be included I suppose.

[2019-02-13 07:26] #27698 closed

[2019-02-13 07:28] #30114 closed

[2019-02-13 07:38] #30194 closed

[2019-02-13 07:40] fancyweb opened #30221 "[Debug][DebugClassLoader] Reflect on the same vendor concept"
The `DebugClassLoader` don't trigger deprecations for classes that are considered in the same vendor. The definition of being in the same vendor is hardcoded as both first namespaces parts (before the first `\`) being equals. However, this is not always true.

For example, in Drupal, you write your custom code in modules. Your custom module namespace **must** be `Drupal\your_module_name\`. Drupal

[2019-02-13 07:43] #29633 closed

[2019-02-13 07:43] #17739 closed

[2019-02-13 07:55] #28686 closed

[2019-02-13 07:56] MusterOhneWert commented on #29810
@stof: I transferred the whole src folder. Both systems are dev stations, one is win10 desktop, the other macbook with latest OS. I did this transfer many times before, without problem. Maybe a teammate updated the macbook system and didn't tell me.

[2019-02-13 07:59] curry684 commented on #30177
Ah ok, wasn't aware of that, thanks for clarifying  👍

[2019-02-13 08:01] wtorsi opened #30222 "[Validator] Improve URL validator pattern"
1. The current pattern used in URL validation constraint allows invalid URLs.
Pattern `([\pL\pN\pS\-\.])+(\.?([\pL\pN]|xn\-\-[\pL\pN-]+)+\.?)` for domain allows to pass domains like
`-a.com` which are invalid according to [RFC 1035](https://tools.ietf.org/html/rfc1035) domains can't start and end with the hyphen.

2. `\p{M}` is allowed and should be added to pattern.  `à.com` will be transformed

[2019-02-13 08:12] hoebelix commented on #30218
You can reject a message by throwing an exception which implements RejectMessageExceptionInterface (see the loop in https://github.com/symfony/messenger/blob/master/Transport/AmqpExt/AmqpReceiver.php). In my opinion there should be a configuration option whether only exceptions implementing RejectMessageExceptionInterface should cause a rejection (as it is now) or whether other or all exceptions s

[2019-02-13 08:47] rogerguasch commented on #30152
Fix with this PR: https://github.com/symfony/symfony/pull/30224

[2019-02-13 08:52] BentCoder commented on #30218
I've done the exception bit you mentiomed before but there are two problems with it:
- It caises the terminal commamd to die so messages are not consumed anymore.
- Rejected message won't go to DLX because it doesn't exist as I mentioned above.

[2019-02-13 08:57] hoebelix commented on #30218
First problem: The terminal command should not run a long time anyway. I have wrapped it in a systemd service which is restarted automatically when it dies.

Second problem: Yes, that is true.

[2019-02-13 09:38] #30152 closed

[2019-02-13 09:39] #30161 closed

[2019-02-13 10:00] BentCoder commented on #30218
I agree with that and I mentioned it somewhere here but cannot remember where so the command should take an argument to say max how many job it should process rather than running forever. Then it is developer's responsibility to bring it back up with a process controller such as supervisord etc.

[2019-02-13 10:04] unckleg commented on #30189
Sending PR today :hand:

[2019-02-13 10:04] unckleg commented on #30188
Sending PR today :hand:

[2019-02-13 10:35] moon-deer commented on #30211
Yeah, I'm embarrassed.
Of course it's about the PHP version.

To someone else who could fool himself with such issue:
I was using docker and I was using the PHP(-FPM) 7.3.0-dev image, which was not updated for some time. Once I've upgraded to the latest stable 7.3.2 version, everything is working as expected.

[2019-02-13 10:41] keichinger opened #30226 "[Cache] FilesystemAdapter cache uses different pool ids between console commands and executed via PHP-FPM"
**Symfony version(s) affected**: At least 4.2.3

**Description**
Using the `FilesystemAdapter` from a Symfony CLI command will write the cache to a different pool than doing so via PHP-FPM/your browser

**How to reproduce**
Reproducer code: https://github.com/keichinger/symfony-filesystem-cache-issue

1. After installing the project as usual (`git clone`, `composer install`, local webserver config

[2019-02-13 10:48] keichinger commented on #30226
I'm suspecting it's due to some service container misconfiguration, as PhpStorm offers me a few service definitions for the `FilesystemAdapter` class:

![image](https://user-images.githubusercontent.com/439899/52706007-a0b64880-2f84-11e9-9da1-a3594448f89a.png)

The first and second lead to:

[code]

But now the most interesting one, the third one:

[code]

The first argument is indeed the one matc

[2019-02-13 11:05] nicolas-grekas commented on #30211
Great, thanks for the feedback.

[2019-02-13 11:05] #30211 closed

[2019-02-13 11:10] nicolas-grekas commented on #30226
Can you try setting the `prefix_seed` option and see if that fixes it? See
https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/3.3/config/packages/cache.yaml#L5

[2019-02-13 11:25] keichinger commented on #30226
@nicolas-grekas that has indeed fixed the issue! Is that expected behaviour then?

[2019-02-13 11:49] nicolas-grekas commented on #30226
That's why there is this setting :)
It's not required when the cli and fpm see the same path, but it looks like that's not your setup.
Closing then.

[2019-02-13 11:49] #30226 closed

[2019-02-13 12:23] mcatirau-avantajprim commented on #20017
As @jkobus pointed, this can make a security issue if second validator make a request in database

[2019-02-13 13:03] LubenZA commented on #30151
I have translated and created pull request

[2019-02-13 13:44] yceruto commented on #29085
I did not change the issue reference after splitting the PR so it should probably remain open waiting for https://github.com/symfony/symfony/pull/30120

[2019-02-13 14:18] youssefbenhssaien opened #30228 "[4.1.7][Form] EntityType with choice_value not working if multiple set to true"
**Symfony version(s) affected**: 4.1.7

**Description**
Overriding an EntityType value with **choice_value** works if `multiple => false`

        $builder->add('vlan', EntityType::class, [
                'class' => ConfigVlan::class,
                'label' => 'Vlan',
               'choice_value' => 'name',
               'required' => false
          ])

works fine and result name in value htm

[2019-02-13 15:09] chiqui3d commented on #29590
@nicolas-grekas Do you have some example?, i don't  find in the router documentation .

[2019-02-13 15:11] nicolas-grekas commented on #29590
Would https://github.com/symfony/symfony-docs/pull/10790/files help?

[2019-02-13 15:44] keichinger commented on #30226
Ah wow, after further investigation based on the config key, we've figured out that macOS's case-insesitive file system has trolled us (again): In Nginx's config I used `/Users/kaieichinger/WebServer/` instead of `/Users/kaieichinger/Webserver/`, which then resulted in a different Base64 hash.

Thanks for your time!

[2019-02-13 15:46] lelledaniele commented on #30104
Hi @nicolas-grekas,

thank you for your quick response.
Sorry, I still not get it.
From this blog post (https://symfony.com/blog/new-in-symfony-4-1-simpler-service-testing) I should be able to get private services from the special container `$container = self::$container;` without replicate the declaration of the service for the test env.

Thanks,
Lelle

[2019-02-13 17:55] xabbuh commented on #30215
Your use case only used to work accidentally based on the fact that we were not able to use scalar type hints on older Symfony versions. The count value always was expected to be an integer. Decimals are currently not supported.

[2019-02-13 18:01] xabbuh commented on #29774
Thank you for proposing. I am closing here nonetheless as this duplicated #10088. Thank you for understanding.

[2019-02-13 18:01] #29774 closed

[2019-02-13 18:10] kylekatarnls commented on #30215
Before the typing, rules != 1 (english) and <2 (french) were accurate and able to work with floats. Nothing specified decimals were not supported and as far as I know, there were no bugs with floats. So despite it worked accidentally. Forcing integer and limit the support to integers was actually a regression.

So unless float causes real problems. It should not be forbidden. If so pluralization r

[2019-02-13 18:44] xabbuh commented on #30215
The interface defined that the number had to be an integer: https://github.com/symfony/symfony/blob/13d1d7673a1f309ae97d26b8830781161b0af52b/src/Symfony/Component/Translation/TranslatorInterface.php#L37-L50

Since I have no idea if this works for all supported I would not be in favour of adding this feature.

[2019-02-13 18:58] chiqui3d commented on #29590
Hello @nicolas-grekas

[code]

![Icompiled routers](https://image.prntscr.com/image/BpS7XSG_R5G0UGzghFfcrA.png)

I understand that what you have added is for one to make one's own system, if I want to continue using the Symfony system for the routes in a CMS I have to continue using the following command to regenerate the routes, Right?

` $router->warmUp($this->kernel->getCacheDir());`

Another d

[2019-02-13 19:08] nicolas-grekas commented on #29590
You still have to create that `$routes` collection and cache the resulting `$compiledRoutes` yes. `$router->warmUp()` is not the only way to do so, you can build any logic.

when you call its `match()` method yes.

[2019-02-13 19:18] chiqui3d commented on #29590
Perfect, all understood, thank you very much again.

[2019-02-13 19:22] nicolas-grekas commented on #29590
If you feel like the doc can be improved, please submit a PR to https://github.com/symfony/symfony-docs/ ;)

[2019-02-13 19:25] chiqui3d commented on #29590
ok, I'll do it

[2019-02-13 19:25] xabbuh commented on #30228
I cannot confirm your issue. Can you please create a small example application that allows to reproduce it?

[2019-02-14 04:13] afidosstar opened #30235 "Form submit don't process validation"
**Symfony version(s) affected**:  4.2.2

**Description**
When i submit form manually  validation don't work. According  to documentation , one submit manually the form is validate

**How to reproduce**

[code]
**Possible Solution**

**Additional context**

[2019-02-14 06:17] xabbuh commented on #30235
What does "doesn't work" mean? What happens and what did you expect to happen instead?

[2019-02-14 07:13] koutja commented on #30235
$form->isValid() always true?

[2019-02-14 07:15] xabbuh commented on #30235
Your code example doesn't show which values you submit and which validation constraints should cause violations. We would need an example application that allows to reproduce what you observe.

[2019-02-14 07:20] afidosstar commented on #30235
When I try to register a user the validation constraint is ignored.Here is the code of my FormType
[code]

[2019-02-14 07:51] koutja commented on #30235
same in 3.4.22

Entity
[code]

[code]

In controller $submitData is not correct.
If I create from like this, than form->isValid()=false. It ok
[code]

If I create from like this, than form->isValid()=true. It's not ok
[code]

[2019-02-14 09:03] ismail1432 commented on #30228
I can confirm on my side

[2019-02-14 09:06] kylekatarnls commented on #30215
You can put the `int` typing inside each plural rule except English which will have `float`, then change `int` to `float` in `getPluralizationRule` first argument. This way, you fix the English plural with no change in any other language.

Then it can be fixed language per language afterward and it will allow custom plural rule that would now be able to handle floating numbers.

Having correct plu

[2019-02-14 09:14] xabbuh commented on #30228
@ismail1432 Can you upload the project somewhere?

[2019-02-14 09:14] evxzibit commented on #30172
Hi guys i would like to work on this one.

[2019-02-14 09:15] thorne51 commented on #30148
I'd like to work on this issue please

[2019-02-14 09:16] youssefbenhssaien commented on #30228
I'm writing a small example I need some time :)

[2019-02-14 09:31] ismail1432 commented on #30228
@xabbuh https://github.com/ismail1432/error-form

[2019-02-14 10:12] youssefbenhssaien commented on #30228
Cannot reproduce the bug !
@ismail1432  you forgot to mention choice_value instead choice_label

Closing this issue ..

[2019-02-14 10:22] deverad commented on #30183
PR: https://github.com/symfony/symfony/pull/30239

[2019-02-14 10:22] xabbuh commented on #30228
Thanks for the confirmation @youssefbenhssaien!

[2019-02-14 10:22] #30228 closed

[2019-02-14 10:23] xabbuh commented on #30070
@vasilvestre Any chance for such an example?

[2019-02-14 10:27] jakewhiteley commented on #30025
@arnegroskurth After a bit more investigation, I can confirm that the process is starting on windows as well, and that I am experiencing the same issues as yourself.

I would also like to add that using `$process->mustRun();` will also always throw a `ProcessFailedException`, regardless of if the process started successfully.

[2019-02-14 10:29] youssefbenhssaien commented on #30228
still having this strange behaviour .....

I added die to the choice_value to test :
![image](https://user-images.githubusercontent.com/7301643/52780945-a7f45980-304b-11e9-871e-ddadaeab3287.png)

The function never called when having multiple true, and called when having multiple false !

Any idea !

[2019-02-14 10:36] youssefbenhssaien commented on #30228
Found the problem source :)
expanded is by default set to true, with `multiple = true` symfony render it as a choice or radio html element which doesn't need to set the value.....

I guess EntityType should have expanded by default set to false instead true !! as Entity select data from database and by default has key => value !

[2019-02-14 10:45] xabbuh commented on #30228
Maybe you have some form type extension changing the default behaviour. But `expanded` by default is `false`.

[2019-02-14 11:35] ossinkine commented on #30047
[`DeprecationErrorHandler::getMode()`](https://github.com/symfony/symfony/blob/v4.2.2/src/Symfony/Bridge/PhpUnit/DeprecationErrorHandler.php#L48) is called first time when error `include(/app/.env.local.php): failed to open stream: No such file or directory` is thrown in [`bootstrap.php`](https://github.com/symfony/recipes/blob/481ce0a9f1619c0bea95d1b37c4477a9880f7039/symfony/framework-bundle/4.2/

[2019-02-14 11:56] #30151 closed

[2019-02-14 12:09] nicolas-grekas commented on #29471
The core idea applies to `cache:clear` also btw.

[2019-02-14 12:16] jlemesh commented on #30173
I'll take it. :)

[2019-02-14 12:16] jifer opened #30240 "[3.4.21 -> 3.4.22] Entities are detached from UnitOfWork"
**Symfony version(s) affected**: 3.4.22

**Description**

**How to reproduce**
HCSPData is fetched in service, this service is used in Subscriber pinned with Doctrine prePersist.
It was like that since I remember.
Updating Symfony version resulted in above error. Lowering version to .21 and everything works again.
Doctrine package is the same, so I believe this is not Doctrine problem.

For **3.4.

[2019-02-14 12:40] ro0NL commented on #30240
see #30091  :}

[2019-02-14 12:49] xabbuh commented on #30240
Thank you for reporting, closing here as a duplicate of #30091.

[2019-02-14 12:49] #30240 closed

[2019-02-14 13:05] afidosstar commented on #30235
Example
My Entity
[code]

My FormType
[code]

In my controller

[code]

[2019-02-14 13:16] xabbuh commented on #30235
@afidosstar Your constraint is part of the `register` validation group, but you are validating your form in the default validation group.

[2019-02-14 13:25] xabbuh commented on #30235
And if your example from the initial description belong to the last snippets you posted please create a fully working example application that allows to reproduce your issue. That's currently not possible with the few bits you posted.

[2019-02-14 13:38] nicolas-grekas commented on #30047
I think we should try fixing this in the bridge if possible, by not resolving the mode until a deprecation is actually triggered. Doable?

[2019-02-14 13:46] kiler129 commented on #30222
rel. 3:
I don't think it's sensible. New TLDs are added pretty frequently nowadays. I cannot count how many times I wasn't able to register with my e-mail in `.pro` domain and how many mail servers are simply rejecting e-mails because of an invalid TLD.

Today you have `.google` and `.ovh`, tomorrow we may have 10 different companies registering TLDs. I'm :-1: for TLDs validation.

[2019-02-14 14:13] flackovic commented on #30104
The thing is, service is not used anywhere in the project, so "RemoveUnusedDefinitionsPass" removes it from container.

Try to inject it in some of your controllers, just so Symfony think it is used, and then it should work.

I am not sure why does it behave like that in test container, since it is making TDD approach difficult.

@nicolas-grekas are there any plans to change this behaviour in test

[2019-02-14 14:15] nicolas-grekas commented on #30104
Nope, no plans to do so, `RemoveUnusedDefinitionsPass` is absolutely required, keeping unused services would create a wide range of failure cases.

[2019-02-14 14:20] flackovic commented on #30104
@nicolas-grekas I see. Thanks for clarifying.

[2019-02-14 15:43] lelledaniele commented on #30104
Thank you, both.

[2019-02-14 15:54] mendonca89dalton commented on #20532
It gave me a similar problem and in the end I used php version 7.0.13 and symfony 3.1

[2019-02-14 15:56] ossinkine commented on #30047
@nicolas-grekas Yes, I'll create a PR.
Which branch should be target for this fix?

[2019-02-14 15:56] nicolas-grekas commented on #30047
3.4!

[2019-02-14 16:07] afidosstar commented on #30235
Sorry, it's a mistake to have validation groups.Even without it, validation does not work.

[2019-02-14 16:07] afidosstar commented on #30235
xabbuh, are checked ???

[2019-02-14 16:08] NicoHaase commented on #20532
Have you tried updating both PHP and Symfony? Using completely outdated and no longer supported versions does not sound good

[2019-02-14 16:08] afidosstar commented on #30235
Example
My Entity
[code]

My FormType
[code]

In my controller

[code]

[2019-02-14 16:09] afidosstar commented on #30235
I check twice.

[2019-02-14 17:10] Arkemlar commented on #27828
I just updated symfony:
`- Updating symfony/dependency-injection (v4.2.2 => v4.2.3): Loading from cache`
Before update I had no errors about unused default bindings, but after update they appeared.

[2019-02-14 19:28] chalasr commented on #30138
I confirm it hangs when *no input is given to the question* (that is a bug).
However, it works as expected if you set the proper inputs.
Can you show the tested command ? Note that, as in a regular cli context, a multi-select input must be only one string with coma-separated values, i.e:

[code]

And if your command asks multiple questions, an input string must be set for all of them (using an emp

[2019-02-14 22:34] sylfabre commented on #10088
@xabbuh @fabpot We have developed a DomainValidator at AssoConnect. Would you accept a PR for this validator or is it out of Symfony scope?

[2019-02-15 07:12] cuchac commented on #30140
Hi,
if I understand the original issue correctly, there was problem with losing Symfony errorHandler for example in logger classes. It seems to me the problem should be solved in loggers, because code should always "clean-up" error handler to previous state.
If it is not possible to fix in Loggers (it is error in PHP if there is no such issue in HHVM), let's work around it by restoring error handl

[2019-02-15 07:23] ismail1432 opened #30250 "Add variable name dumped to the `dump` result"
**Description**
I know that it can be done with X-debug or other tools but it will also good if the `VarDumper` can also provide the original `$var` name.

**Example**
[code]

[2019-02-15 09:12] xabbuh commented on #30235
Does this happen only when the field is not submitted at all (i.e. it is not part of the request)? So does it behave as expected when the field is submitted, but is an empty string? And does the behaviour also change when you pass `true` as the second argument to `submit()`?

[2019-02-15 09:40] juuuuuu commented on #30250
That's a great idea! Will you do the PR @ismail1432?

[2019-02-15 09:42] ismail1432 commented on #30250
Yep I can give a try

[2019-02-15 09:54] chalasr commented on #30129
Closing as explained.

[2019-02-15 09:54] #30129 closed

[2019-02-15 10:41] ReSpawN opened #30252 "RequestContext ignores headers, query and request"
**Symfony version(s) affected**: 4.2.3

[code]

**Description**
When using conditional matching for a specific route, the complete query, request and header ParameterBag is being ignored, ergo empty. The following has no adoption for these parameters whatsoever.

The underneath is from `vendor/symfony/routing/Matcher/UrlMatcher.php`.

    /**
     * @internal
     */
    protected function createR

[2019-02-15 10:43] RevisionTen opened #30253 "[Form] Date\TimeType marked as invalid on request with single_text and zero seconds"
**Symfony version(s) affected**: 3.4 up to 4.2

**Description**
Submitting a TimeType without seconds and with input option set to "string" causes an TransformationFailedException.

**Possible Solution**
Change 'H:i:s' to $format in src/Symfony/Component/Form/Extension/Core/Type/TimeType.php at line 167

**Additional context**
[code]

[2019-02-15 10:56] xabbuh commented on #30253
This is not a bug. When using a string as the input data it currently is expected to be in the format `hour:minute:seconds`. We could think about adding support for a new `input_format` option tough (similar to #29887).

[2019-02-15 11:04] xabbuh commented on #30137
I am not too much in favour of adding this. The parser already is quite complex and that won't become better if we start to also try to detect syntax elements that were interpreted differently in YAML 1.1 (the handling of unquoted yes/no/on/off isn't the only difference).

I would rather search for a dedicated tool that you could use in your CI to detect these things.

[2019-02-15 11:09] RevisionTen commented on #30253
Or always add seconds if they are missing, similar to this:

[code]

[2019-02-15 11:14] RevisionTen commented on #30253
I prefer your solution though, If I want to save the time as a string I want control of how the string looks.

[2019-02-15 11:18] xabbuh commented on #30253
Can you show how you currently build your form?

[2019-02-15 11:23] RevisionTen commented on #30253
Like this:
[code]

[2019-02-15 11:44] xabbuh commented on #30253
Adding the above mentioned event listener when `with_seconds` is enabled or the input format is a string would solve the issue, right?

[2019-02-15 11:49] ro0NL commented on #30137
I'm using `yamllint` to lint all YAML stuff in my app. It has a nice `truthy` rule which IIUC solves this: https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.truthy

[2019-02-15 11:58] RevisionTen commented on #30253
In theory yes, but for some reason the event listener is not called.

Tried it with this:
[code]

[2019-02-15 12:46] cuchac commented on #30140
Following change can fix this issue https://github.com/symfony/symfony/commit/130d6f0717c54d9d6e84c3161cb2b0c7dc70765e

[2019-02-15 12:54] spackmat commented on #27828
@Arkemlar In my case (also updated to 4.2.3), the error is simply wrong, as the bound parameter is used by a service. In this case:

services.yaml:

    services:
        _defaults:
            autowire: true
            autoconfigure: true
            public: false
            bind:
                string $defaultLocale: '%kernel.default_locale%'
        App\EventSubscriber\:
            resource

[2019-02-15 13:09] evs-xsarus opened #30256 "Var-dumper; easily copy text shown on hover"
When I use `dump()` to display a class, the full class name can be shown when hovering the first element. Copying this part isn't possible in a browser. Could an method be added so one can copy this text shown in the hover?

In the screenshot, it's the marked text.

![image](https://user-images.githubusercontent.com/44158071/52858674-18be7300-312b-11e9-9ea0-a5b908a4cb3c.png)

NB This request holds

[2019-02-15 13:14] xabbuh commented on #30253
Rereading the initial description now: Are you sure this happens on submission of the form? This rather looks like it is related to passing the wrong format when the initial data is set.

[2019-02-15 14:09] tinogo opened #30259 "[Messenger] Consumers not showing in RabbitMQ admin?!"
**Symfony version(s) affected**: 4.2.0 - 4.2.3

**Description**
When running the `messenger:consume-messages` command, the registered consumer(s) will not show in admin area of RabbitMQ, although the messages get consumed.

**That's the current state:**
![Actual](https://user-images.githubusercontent.com/3515498/52861504-eca6f000-3132-11e9-9cdc-87ca3bcbbdf9.png)

**And this is how it should look l

[2019-02-15 15:22] dugajean commented on #30138
Good! Thank you!

Well, I provided wrong input - input that wasn't part of the `$choices`. That resulted in a hang as well.

Yes, I'm aware that you need to provide an answer for each question. Above you can see 6 answers (`This` x 6) for my 6 questions in the command. I will provide the command later today.

[2019-02-15 15:56] kgronkowski opened #30260 "[Translation] replaceAttribute of not existing attribute (The index "6" is not in the range [0,4])"
**Symfony version(s) affected**: 4.2.3

**Description**
After latest deployment of our application we started to encounter issue with symfony/translation.
`composer install --no-dev`  triggers `cache:clear` which gives following error:
[code]
My own investigation determined following commit to be couse of this issue:
https://github.com/symfony/translation/commit/83008de5cdad1e014b4b3903309c611bc18

[2019-02-15 16:18] xabbuh commented on #30260
Thank you for reporting, this will be fixed by #30261.

[2019-02-15 17:13] nallias opened #30263 "404 sometimes ignored"
**Symfony version(s) affected**: 3.4

**Description**
Some url are correctly handled to 404 error, some (having a dot at the end) doesn't.

**How to reproduce**
1. extend fosuser. The login path is /login
2. handle error page on production: https://symfony.com/doc/3.4/controller/error_pages.html

Now the cases:

- `app_dev.php/login`: HTTP200, page displayed : as expected
- `app_dev.php/login1`: H

[2019-02-15 17:20] xabbuh commented on #30263
Can you please create a small example application that allows to reproduce the issue you experience?

[2019-02-15 17:32] afidosstar commented on #30235
The data I sent to test is object json without attribute.like this
[code]
<img width="964" alt="capture d ecran 2019-02-15 a 18 30 31" src="https://user-images.githubusercontent.com/14033862/52873704-ef640e00-314f-11e9-8549-2457ba77cc1e.png">

[2019-02-15 18:25] inmarelibero commented on #29858
putting `display: inline;` instead of `display: inline-block;` seems working to me

so the proposed modification is:
[code]

at https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/toolbar.css.twig#L517

I can produce a PR if needed

[2019-02-15 18:33] inmarelibero commented on #29757
my 2cents:
- `--method=GET` can be useful, for multiple values I personally prefer `--method=GET|POST`
- `--scheme=http` filter is not useful for me
- `--host="*.example.com"` filter is not useful for me

as a proposal, implement a filter on:
- regex for route name, eg. `--name=admin`, `--name="^\/admin"`, `--name="^homepage$"`
- regex for path, eg. `--path=admin`, `--path="^\/admin"`, `--path="^\

[2019-02-15 18:48] xabbuh commented on #30235
Thank you for the feedback. In this case I am going to close here. Not because this report is invalid, but we do in fact already have an open issue for this (see #24453). Thank you for understanding.

[2019-02-15 18:48] #30235 closed

[2019-02-15 18:50] xabbuh commented on #30235
I have to correct myself. In your case, even a fix for #24453 would not solve what you experience. The behaviour is actually correct here as you define the constraints on the form field. Passing `false` as the second parameter to `submit()` means that all fields that are not part of the request will not be submitted and thus never validated. This is the expected behaviour as this is needed to prop

[2019-02-15 19:20] afidosstar commented on #30235
It does not change

I submitted a php array

[2019-02-15 19:25] xabbuh commented on #30235
Based on your input I created a small example application. You can find it at https://github.com/xabbuh/issue-30235. Please fork it and make the changes that are necessary to reproduce your issue.

[2019-02-15 20:00] xabbuh commented on #24453
Can you confirm that the changes proposed in #30265 will fix this issue?

[2019-02-15 20:00] xabbuh commented on #30011
Can you confirm that the changes proposed in #30265 will fix this issue?

[2019-02-15 20:07] xabbuh commented on #11493
Can you confirm that the changes proposed in #30265 will fix this issue?

[2019-02-15 20:08] xabbuh commented on #20805
Can you confirm that the changes proposed in #30265 will fix this issue?

[2019-02-15 20:09] xabbuh commented on #19788
Can you confirm that the changes proposed in #30265 will fix this issue?

[2019-02-15 20:16] afidosstar commented on #30235
https://github.com/symfony/symfony/issues/30235#issuecomment-464158265
It works, thank you.
That's because I put the second  option of ```submit ()```  to ```false```

[2019-02-16 00:07] xabbuh commented on #19494
I tried to debug this issue in #30266. On AppVeyor we have a 32bit PHP. But  looking at the generated choices there the selection starts at 1902.

So it looks like the bug doesn't exist anymore. If I am wrong here, please leave some feedback on how to reproduce it (the best would be to submit a PR with a failing test case). In the meantime I am closing here (we can reopen if we get some more infor

[2019-02-16 00:07] #19494 closed

[2019-02-16 10:17] xabbuh commented on #8106
will be implemented in #30267

[2019-02-16 10:48] xabbuh commented on #30133
I could imagine that we could find a solution to get the value without calling the getter. But I am not convinced that this really is a good fix. In your case this will then mean that the following comparison is done with a value that may not be comparable at all. My guess is that you are better off by trying to perform the comparison only if the value to compare with is actually of the expected t

[2019-02-16 10:49] PabloKowalczyk opened #30268 "[DependencyInjection] Dumper with container.dumper.inline_class_loader flag doesn't generate multiple files"
**Symfony version(s) affected**: 3.4+ and 4.2+

**Description**
I'm using Symfony's DI component in Crunz (https://github.com/lavary/crunz) and i would like to improve performance and reduce I/O a little bit by using `container.dumper.inline_class_loader` flag on container, but for some reason dumper doesn't generate multiple files and everything is stored in file `CrunzContainer.php`

**How to re

[2019-02-16 10:58] fancyweb commented on #30140
@ondrab1 Can you please apply this patch (https://github.com/symfony/symfony/commit/a8b34348e714395bf15c88299adae1779253bb67.patch) and confirm that it fixes the problem ? On my side, I confirm that the "logger problem" is still fixed with it.

[2019-02-16 11:18] fabpot commented on #26231
I'm going to close this issue as I agree with @stof, it's probably something that can be developed outside of Symfony first.

[2019-02-16 11:18] #26231 closed

[2019-02-16 11:44] #30172 closed

[2019-02-16 11:46] #30173 closed

[2019-02-16 11:48] #30183 closed

[2019-02-16 11:56] #29085 closed

[2019-02-16 12:28] artur2000 opened #30269 "event subscriber gets registered and called twice"
**Symfony version(s) affected**: 4.2.3

**Description**
Depending on how I define an Event Subscriber as service it gets registered once or twice. Its listener methods gets then called once or twice.

**How to reproduce**
If I define the service like this it gets registered twice.

[code]
But if I define it like this it gets registered only once.

[code]
I check the registered listeners here: Symf

[2019-02-16 12:35] xabbuh commented on #30269
Do you use the standard `services.yaml` file? In this case, that file is already registering a service definition for you class with the id `App\EventListenerSubscriber\OauthSubscriber`. You first example will just add another service definition which is basically the same as the one registered by the default config so you will end up with have two identical services and thus two event listeners.

[2019-02-16 12:44] artur2000 commented on #30269
Thx, That is logical then.

But I still consider it a bug, that the alias name is not resolved and matched correctly with an existing key through its "class" attribute.

[2019-02-16 12:45] speller opened #30270 "Container::set method description is wrong"
**Symfony version(s) affected**: 4.2

**Description**
The `Symfony\Component\DependencyInjection\Container::set` annotation states the following:

But this is impossible to do because only synthetic services can be set to null. It is impossible to dispose a regular public or private service instance when using with app servers like PHP RoadRunner which doesn't finish scripts. In this case DB conne

[2019-02-16 12:46] xabbuh commented on #30269
What alias name do you mean?

[2019-02-16 12:52] artur2000 commented on #30269
I mean this another key "app.subscriber.oauth".
Doesn't the attribute "class: App\EventListenerSubscriber\OauthSubscriber" make it technically the same service?
May be I misunderstood the concept behind the "class" and "alias" attributes.
What would be the use case to define a different subscriber using the same class?

[2019-02-16 12:57] xabbuh commented on #30269
Event subscribers are not the only type of service. For many other use cases it makes sense to have more than one service for a single class (think of HTTP clients for different API, a Doctrine entity manager for different database connections and so on).

[2019-02-16 13:03] artur2000 commented on #30269
True. It is confusing though at least in case of event listeners / subscribers. May be that detail could get a special mention in the docs about event listeners?

[2019-02-16 13:04] artur2000 commented on #30269
Thank you!

[2019-02-16 13:04] #30269 closed

[2019-02-16 13:14] xabbuh commented on #30269
Sure, feel free to open a pull request in the documentation repository. :)

[2019-02-16 14:16] hyperclock commented on #29609
I have all my development on named hosts, such as _www.mynewsite.home_ then I turn on the server within symfony and in the browser, I do:      **_www.mynewsite.home:8000_** instead of _127.0.0.1:8000_

This works very well for me.

[2019-02-16 17:20] alamirault commented on #27185
Would it be better if BooleanType parent is ChoiceType ?

[2019-02-16 17:23] #30140 closed

[2019-02-16 17:40] chalasr commented on #30138
Providing a wrong input to a choice question leads to the question being asked again, except if the question has no validator or if `$question->setMaxAttempts(1)` has been called, hence it behaves as a missing input (since no input is set for the second attempt).
Still, tests should never hang. #30271 fixes it, would be nice to have your confirmation.

[2019-02-16 18:46] #30260 closed

[2019-02-16 18:48] nicolas-grekas commented on #29203
Implemented in #30257, please have a look.

[2019-02-16 18:51] #30047 closed

[2019-02-16 18:55] zmitic commented on #29203
This is amazing! Just checked the code and I really like that method name is specified in TaggedIteratorArgument.
Thank you all.

[2019-02-16 21:33] chalasr commented on #30268
Are you looking for the `as_files` option of `PhpDumper`?  i.e. `$dumper->dump([..., 'as_files' => true]);`

[2019-02-17 07:24] PabloKowalczyk commented on #30268
Exactly, thanks. Maybe it will nice to add some information about it to https://symfony.com/doc/current/components/dependency_injection/compilation.html page?
For me issue is ready to close, thanks again.

[2019-02-17 08:40] wtorsi commented on #30222
@kiler129  Sure, confirm it.
Actually I'm working on pattern based on RFC 5892 mixed with other RFCs for labels right now, so can provider a PR in the nearest future.

[2019-02-17 09:55] chalasr commented on #30268
Yes, issue/PR welcome on [symfony/symfony-docs](https://github.com/symfony/symfony-docs) I think.

[2019-02-17 09:55] #30268 closed

[2019-02-17 10:22] dfridrich commented on #30153
I'll do it :)

[2019-02-17 11:03] emirb opened #30275 "[Validator] Add the missing translations for the Bosnian ("ba") locale"
**IMPORTANT**: this issue is reserved for new contributors, because we want to give the opportunity to people who want to contribute to Symfony but never found the right issue to do that.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

**Symfony version(s) affected**: 3.4

**Description**

The `src/Symfony/Componen

[2019-02-17 14:42] xabbuh commented on #27185
In the solution proposed in https://github.com/symfony/symfony/issues/27185#issuecomment-387350490 the parent type is `ChoiceType`.

[2019-02-17 17:03] ostrolucky commented on #27185
Btw my opinion on the matter is this issue cannot be satisfied in generic, non-opinionated way. Some people will want it to be checkbox instead of radios, some dropdown, other people something else than yes/no labels. Having own type for this is few lines of codes and guarantees it's the way user wants. Trying to customize such booleanType that would be shipped officially doesn't save much. So in

[2019-02-17 20:40] iliyaZelenko opened #30280 "Var-dumper; html format with live or hot reloading"
**Description**
I use `symfony/var-dumper` with [dump server](https://github.com/symfony/symfony/pull/23831) and with `html` format, I am wondering if there is a way to watch this html file online, so as not to reload the page (live / hot reloading). Is there a ready-made solution in a Symfony?

**Example**
For example, I need to show debug information when requesting to the REST API or when I exe

[2019-02-17 21:49] ThomasLandauer opened #30281 "[TwigBridge] Suggestion: Add HTTP username and password to `absolute_url`"
**Description**
Allow generating URL's containing username and password: http://foo:bar@example.com/

**Example**
[code]

This would be useful in cases where the website is (still) hidden behind some basic HTTP auth, e.g. during development or on a staging server.

Should be easy to implement, just add two optional parameters to [HttpFoundationExtension::generateAbsoluteUrl()](https://github.com/s

[2019-02-17 23:08] befabry opened #30283 "[Form] Boolean not initialized with database value when using form event on child entity"
**Symfony version(s) affected**: 3.4.21

**Description**
Using this logic / tutorial : https://symfony.com/doc/current/form/dynamic_form_modification.html
When dumping the content of the form, it is correctly initialized with the data from the database. When I check a CheckboxType, It loads a new form with a related entity. However the booleans from the already persisted entities are wrongfully po

[2019-02-18 06:31] nick-zh commented on #30133
@xabbuh thanks for getting back to me on this. My actual use case is this:
I use the symfony validator, i do have two fields that i want to compare with the GreaterThanOrEqual constraint. I also have constraints to ensure the type of the fields (int), but since all constraints are evaluated, i never get the Type validation error, but rather the TypeError from GreaterThanOrEqual.
I do agree though

[2019-02-18 07:18] ondrab1 commented on #30140
@fancyweb Yep, it fixes the problem.

[2019-02-18 07:51] OskarStark commented on #30281
You need to be careful, as username and password could already be used as parameters... I know the chance is low but possible.

But for the idea itself 👍🏻👌🏻

[2019-02-18 07:57] nallias commented on #30263
@xabbuh I hoped that would not be necessary ; I will work on this on my leisure time and update tihs issue once it is ready

[2019-02-18 08:17] befabry commented on #30283
Hold on it might be because I am using CraueFormFlow Bundle. I'll update this later.

[2019-02-18 08:24] xabbuh commented on #30263
Can you in the meantime show the output of `bin/console debug:router login` (where `login` is the name of your route pointing to `/login`)?

[2019-02-18 08:28] xabbuh commented on #30133
Thank you for explaining me your use case. If I understand you correctly, this is a perfect example for using [group sequences](https://symfony.com/doc/current/validation/sequence_provider.html). So you would first check all the needed types and only if these checks succeed, the comparison validator will be executed.

[2019-02-18 08:33] nallias commented on #30263
Precision: the standard route works perfectly, it is the addition of a dot at the end that is problematic on app.php

Here it is:
[code]

[2019-02-18 08:53] xabbuh commented on #30070
I am closing here for now. We can reopen once we have a real example.

[2019-02-18 08:53] #30070 closed

[2019-02-18 08:54] xabbuh commented on #29746
@nesk That might indeed be a good idea.

[2019-02-18 09:08] caalholm commented on #30179
I can handle this

[2019-02-18 09:16] javiereguiluz commented on #30275
@emirb thanks for creating this issue! However, I can't find the `validators.ba.xlf` file in the current Symfony repository (I can't find it on any branch, from 3.4: https://github.com/symfony/symfony/tree/3.4/src/Symfony/Component/Validator/Resources/translations to master: https://github.com/symfony/symfony/tree/master/src/Symfony/Component/Validator/Resources/translations).

If this is correct,

[2019-02-18 09:17] emirb commented on #30275
@javiereguiluz Correct, I will add a completely new file to 3.4 branch.

[2019-02-18 09:18] javiereguiluz commented on #26640
@pmontoya are you still interested in fixing this bug ... or do you prefer to "release" it so others can take it over? Thanks!

[2019-02-18 09:20] RevisionTen commented on #30253
Yes, this happens when the form is submitted in the browser.

The value that is produced by the `<input type="time">` element is apparently supposed to be in the h:i format, which means that the missing seconds definitely need to be appended if the time types underlying data is always supposed to be in the h:i:s format.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time#Time_val

[2019-02-18 09:34] javiereguiluz opened #30285 "[Validator] Fix a repeated error code in a Constraint class"
**IMPORTANT**: **this issue is reserved for new contributors**, because we want to give the opportunity to people who want to contribute to Symfony but never found the right first issue to fix.

If you want to work on this issue, add a comment to assign it to yourself and let others know that this is already taken. Thanks!

- - - - -

### Context

Each Symfony Validator Constraint class define sev

[2019-02-18 09:35] javiereguiluz commented on #26883
@hilovska thanks a lot for reporting this issue. I think it's perfect for a "first Symfony contribution", so I've transformed this issue into a "curated issue for newcomers" in #30285. I'm closing this in favor of the new one. Thanks a lot!

[2019-02-18 09:35] #26883 closed

[2019-02-18 09:44] evertharmeling commented on #30071
https://github.com/symfony/symfony/pull/30124

[2019-02-18 09:45] nesk commented on #29746
Here's the video: https://www.dropbox.com/s/zqm3flmqvj5nj5y/symfony%3Asymfony%2329746.mov?dl=0

And here are the command outputs you see in the video:

<details>
<summary>Output when appending 50 rows in a 30 rows tall terminal</summary> <br>

[code]
</details>
<br>

<details>
<summary>Output when appending 40 rows in a 30 rows tall terminal</summary> <br>

[code]
</details>
<br>

<details>
<summa

[2019-02-18 09:49] nesk commented on #29746
This is not showcased in the video, but I think it could have value:

<details>
<summary>Output when appending 29 rows in a 30 rows tall terminal</summary> <br>

[code]
</details>
<br>

It starts working well with 28 rows.

[2019-02-18 09:52] nick-zh commented on #30133
@xabbuh thank you very much, i didn't know about that. I am closing this, i think the adjustment and group sequences covers this quite nicely.

[2019-02-18 09:52] #30133 closed

[2019-02-18 10:00] stof commented on #30270
I think the phpdoc was not updated properly when deprecating that behavior.

There is a `reset` method on the container, which resets all instances (resetting only a single instance does not work to release, as it might still be referenced by other instantiated services depending on it).

[2019-02-18 10:06] xabbuh commented on #30253
I am sorry, but I cannot reproduce this issue. Can you create a small example application that allows to reproduce?

[2019-02-18 10:07] javiereguiluz commented on #30281
According to [RFC 3986 - Uniform Resource Identifier (URI)](https://tools.ietf.org/html/rfc3986):

[code]

Considering that -> `"user:password" in the userinfo field is deprecated` I'm voting 👎 to this proposal.

[2019-02-18 10:07] xabbuh commented on #30071
I think we can close here now that the related PRs were merged.

[2019-02-18 10:07] #30071 closed

[2019-02-18 10:43] lyrixx commented on #30250
Note for thoses who don't want to wait :
[code]

I use this all the time

And the JS way:

[code]

[2019-02-18 10:44] javiereguiluz commented on #28122
Closing as fixed by #30007.

[2019-02-18 10:44] #28122 closed

[2019-02-18 10:48] nicolas-grekas commented on #30250
`dump(compact('myVar'))` ;)

[2019-02-18 10:50] javiereguiluz commented on #28141
@kaznovac sorry for the lack of response. I'm trying to fix this ... but I can't find the `security.xsd` or `security-1.0.xsd` file anywhere in Symfony's code. Do you know where I can find the XSD for `http://symfony.com/schema/dic/security`? Thanks.

[2019-02-18 10:57] befabry commented on #30283
Misuse of my part, it was loading the (wong) data from the session instead of the database. Not an error on Symfony's end.

[2019-02-18 10:57] #30283 closed

[2019-02-18 10:59] javiereguiluz commented on #28021
@xabbuh I don't understand how the mentioned issues are related. Do you mean that this is expected and the user must define the shell verbosity config to fix it? Thanks.

[2019-02-18 11:01] javiereguiluz commented on #28129
Let's close this for the reasons given by the maintainers. Also, an alternative solution was given by @yceruto. Thanks.

[2019-02-18 11:01] #28129 closed

[2019-02-18 11:08] xabbuh commented on #28021
I guess I misread the description back then. The related issues are about the error output.

@ChangePlaces But the tests are failing aren't they?

[2019-02-18 11:10] xabbuh commented on #28141
As far as I know we do not have a schema definition file for the SecurityBundle config.

[2019-02-18 11:15] ThomasLandauer commented on #30281
I know that it's a security risk.

My use case: When testing payment methods, you need to give an url to which they can send their payment notification (e.g. PayPal). When you run this on a (hidden) staging/testing server, what can you do? Right now, I'm passing it in the form `http://{{ stage_username }}:{{ stage_password }}@stage.example.com/notification-url`

[2019-02-18 11:17] vasilvestre commented on #30070
I actually have no time, I will try later

[2019-02-18 11:23] vasilvestre opened #30287 "[Validator] Load configuration file for array"
**Description**
Allow develop to configure an array constraint through YAML PHP or XML. It's actually possible to specify class so it gets bind to the class, but it could be useful to make it work with more data structure.

**Example**
[code]
And kind of this :
[code]

[2019-02-18 11:32] danaki opened #30288 "workflow_all_transitions() twig function to list all transition not just enabled"
I want to show all transitions available for an object, but some of them make disabled and not clickable. `workflow_transitions()` returns the list of only available transitions. I don't want to hardcode the list of any transitions nor in my twig templates nor in forms, iterate over the list taken from workflow definition is just fine. Is it possible to add `workflow_all_transitions()` to achieve

[2019-02-18 11:47] RevisionTen commented on #30253
You were correct, this happened because the initial data was not in the expected format. Sorry for wasting everyones time.

[2019-02-18 11:47] #30253 closed

[2019-02-18 11:49] xabbuh commented on #30253
Thank you for the feedback. 👍

[2019-02-18 11:51] javiereguiluz commented on #28064
I'm closing this one because, as you can see in https://stackoverflow.com/questions/35208299/symfony-3-0-1-csrf-token-present-but-invalid, it's (probably) not a Symfony bug but a configuration issue (session dir is not writable, cookies are using HTTPS but in local environment you are using HTTP, etc.)

If you can reproduce this in a Symfony app without any of those config issues, please share the

[2019-02-18 11:51] #28064 closed

[2019-02-18 12:31] #30179 closed

[2019-02-18 13:03] speller commented on #30270
Thank you for the answer. What about adding the `reset` method to the `Symfony\Component\DependencyInjection\ContainerInterface`?

[2019-02-18 13:04] ro0NL commented on #30270
@speller it's in `ResettableContainerInterface` already :)

[2019-02-18 13:11] speller commented on #30270
Yes, the only addition is:

Also, I've found I have two files implementing this interface: `c:\...\vendor\symfony\contracts\Service\ResetInterface.php` and `c:\...\vendor\symfony\symfony\src\Symfony\Contracts\Service\ResetInterface.php` (under Windows). Is it correct that files are duplicated?

[2019-02-18 13:17] ro0NL commented on #30270
oh, oops. It's `ResetInterface` now yes.

Yes, `symfony/contracts` is a standalone composer package, but split from this repo. When autoloading it will be used from the first location.

[2019-02-18 13:25] ro0NL commented on #30250
from `dd($var)` can we even detect the `"var"` part? In a sane way...

[2019-02-18 13:42] iluuu1994 opened #30289 "[Form] Exclude templates with form_theme"
I have multiple form themes configured in my **twig.yaml**:

[code]

I need to exclude one of these templates (**form/form_checkbox_radio.html.twig**) for a single form field. Because `form_theme` adds templates by default, I need to use the `only` flag:

[code]

One small annoyance is that, since I must use the `only` flag to remove a template, I need to repeat all the templates that I have speci

[2019-02-18 13:49] fbourigault opened #30290 "[RFC][Framework][Validator] Decouple validator cache from kernel.debug parameter"
Currently, validator caching is only enabled when `kernel.debug` is `false`.

https://github.com/symfony/symfony/blob/98693beca4845be9ce4ce5484d2c7cc20f376801/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/FrameworkExtension.php#L1161-L1163

Having the validation cache enabled while running tests would save a lot of time re-parsing validation metadata.

In my application, I added this in `

[2019-02-18 13:55] picks44 opened #30291 "MariaDB with Symfony 3.4"
**Symfony version(s) affected**: 3.4.22

**Description**
Trying to implement the `server_version` config of Doctrine DBAL as explained in the doc : _If you are running a MariaDB database, you must prefix the server_version value with mariadb- (e.g. server_version: mariadb-10.2.12)._ ([here](https://symfony.com/doc/3.4/reference/configuration/doctrine.html#doctrine-dbal-configuration))

[code]

Get

[2019-02-18 14:28] derrabus commented on #30137
We already do handle the affected boolean literals differently in the dumper, though.

I wouldn't aim for completeness. The boolean literals change is from my point of view the most significant one, especially with regards to how php's implicit type casts work: For instance, `off` would evaluate to `false` when parsed with YAML 1.1 rules mode and to `"off"` when parsed with YAML 1.2 rules. And `(b

[2019-02-18 14:38] derrabus commented on #30291
You need at least DBAL 2.7 to use the `mariadb` prefix in `server_version`. You should upgrade to DBAL 2.9 if possible.

If for some reason you want to keep an old (and unmaintained!) version of DBAL, you can use `server_version: '5.6'` which should do just fine.

[2019-02-18 14:43] stof commented on #30291
`composer require doctrine/dbal:2.7` would require 2.7.0 exactly. You should use `^2.7` (or `2.7.*`) as constraint to allow a range.

[2019-02-18 14:45] picks44 commented on #30291
@stof @derrabus thanks guys!
Hope this doesn't have side-effects, lt's try.

Could also be nice to update the doc about this ;)

[2019-02-18 14:45] #30291 closed

[2019-02-18 15:01] versh23 opened #30293 "Messenger - Use different Serializer"
Hello

I have a 2 transports and i need own serializer for each transports. is it possible?  ( one in JSON format, one in XML for example)

[2019-02-18 15:42] xabbuh commented on #30022
I agree with this reasoning. We should probably check which other exceptions we have that extend `AuthenticationException` but also indicate application errors.

[2019-02-18 15:53] linaori commented on #30293
Heya, for support questions, please check one of the support channels on: https://symfony.com/support, thanks!

[2019-02-18 16:15] stof commented on #30137
the thing is, the literal `off` is not a syntax error at all. In YAML 1.2, it is a string literal.

The linter command is simply using the parser and reporting any syntax error. Nothing else.
What you are asking here is a linter enforcing *extra* rules than the syntax (similar to what eslint does for JS for instance). And the YAML component does not provide such a tool.

[2019-02-18 16:55] Guikingone commented on #30281
I think that you should generate the URL in the controller/a dedicated service and send it to the view in the final "version", your view should not contain sensible information (as explained here: https://github.com/symfony/symfony/pull/30229)

So like @javiereguiluz, that's a 👎 for me.

[2019-02-18 16:56] Guikingone commented on #30281
Plus, if it's a external service like Paypal, you probably should consider building a local route which receive the user request/credentials and prepare the credentials before redirecting to this external service.

[2019-02-18 16:57] javiereguiluz commented on #30290
@fbourigault the performance gain (-43% CPU time) is mind-blowing! Thanks for taking the time to prepare this proposal.

[2019-02-18 16:57] derrabus commented on #30137
Right, that's the problem.

Yes, see my description above. I would like to add a flag that makes the parsing stricter than the standard, disallowing those old literals. That would be a safety feature that can be enabled when interacting with systems that still operate on YAML 1.1, similar to what has been done in #13209 and #13262.

The lint command would then receive an option to allow the user t

[2019-02-18 17:01] Guikingone commented on #30259
It could happen if you use Docker, sometimes, the channel is created and never receive any message.

This is due to a configuration issue:

- Sometimes, Messenger can accept the service name or ask for the local IP (which can change depending on Docker-Machine usage, etc).

Plus, when you use `messenger:consume-messages`, you're actually requesting Messenger to consume the messages aka cleaning th

[2019-02-18 17:30] ro0NL commented on #30287
we could extract the constraint factory from the loader implementation, then it could be something like

[code]

where `fromArray` returns a new collection constraint.

[2019-02-18 18:32] ostrolucky commented on #30137
Not in favor of this. You already have yamllint as suggested.

[2019-02-18 18:45] xabbuh commented on #30290
We could possibly observe similar differences for other parts of Symfony where we make use of caching (the container, Twig etc.). So I am not sure that doing a change only for constraints is the right solution or if we should rather document this and suggest to run tests with the debug flag disabled instead.

[2019-02-18 18:46] iluuu1994 commented on #30289
Are there any objections/suggestions? If not I'll implement this as described and send a PR.

[2019-02-18 19:04] GiacomoLaw opened #30297 "dotenv issue"
**Symfony version(s) affected**: 4.2

**Description**
Hi all, I am having an issue where .env is working on local host however not on my Hostwinds server.

**How to reproduce**
`Fatal error: Uncaught TypeError: Return value of Symfony\Component\Dotenv\Dotenv::populate() must be an instance of Symfony\Component\Dotenv\void, none returned in /home/kjzotpry/public_html/server.com/vendor/symfony/doten

[2019-02-18 19:09] stof commented on #30290
Well, to be honest, the biggest improvement I ever made for my testsuite is to disable the debug mode for all functional tests. This forced me to force clearing the cache in the PHPUnit bootstrap script to preserve DX (not requiring to clear it manually to avoid using cache from an old test run), but that's all (and here is the code: https://gist.github.com/stof/fb45ca5940159b2741081e1cb2dae3b0).

[2019-02-18 19:50] dmaicher commented on #30297
Seems like that server is not running php >= 7.1?

[2019-02-18 20:01] ThomasLandauer commented on #30281
Maybe I should have explained the use case better in my initial post ;-)

* I have a staging server with `.htaccess` `AuthType Basic`.
* I want to test PayPal Sandbox payments with it.
* PayPal requires that you pass your notification url as a hidden form field value upon payment initialization: `<input type="hidden" name="notify_url" value="http://foo:bar@stage.example.com/notification-url">`.
@G

[2019-02-18 20:14] kaznovac commented on #28141
@javiereguiluz I was suspecting that there is no schema, and @xabbuh confirmed that.

We need to write it (if structure defined in `Symfony\Bundle\SecurityBundle\DependencyInjection\MainConfiguration` allows it).
I can assist, hope I can find some time this weekend or the next one...

[2019-02-18 20:19] inri13666 commented on #27909
Hello all :)
Possibility to use symlink was broken here https://github.com/symfony/symfony/commit/a14153a4fd6d3379d60a85af882dc8aefea08c7d
and then the possibility to use symlinks for the cache was finally broken here
https://github.com/symfony/symfony/commit/599dbca3cde76e729deab6b0750a81eab32143e4
because __DIR__ for file within symlinked folder will return realpath

[2019-02-18 20:23] GiacomoLaw commented on #30297
@dmaicher hmmm, odd. I will contact support and see if they can sort it out on the server.

Thanks

[2019-02-18 20:27] GiacomoLaw commented on #30297
Nevermind, it is running 7.2

![image](https://user-images.githubusercontent.com/9038673/52975010-98627100-33bb-11e9-806f-625ba6891e0c.png)

Any other reason this could be happening?

[2019-02-18 20:43] GiacomoLaw commented on #30297
Upgraded to 7.2, now getting this error:

[code]

[2019-02-18 21:31] kiler129 opened #30298 "[YAML] Bogus { } is not treated as an error"
**Symfony version(s) affected**: 4.2.3

**Description**
Given the following YAML:
[code]

The output should be an error, while instead the code is parsed info

**How to reproduce**
[code]

**Possible Solution**
I'm not confident to dig into the YAML component parser ;)

**Additional context**
The actual output looks like the following:

![image](https://user-images.githubusercontent.com/1227834/52

[2019-02-18 21:33] kiler129 opened #30299 "[Security] Validate IPs in Access Control"
**Description**
The feature to [use `access_control` for IP validation](https://symfony.com/doc/current/security/access_control.html#matching-access-control-by-ip) is very convenient. However it doesn't validate IPs, which may lead to confusing debugging scenarios (e.g. #30298)

**Example**
Putting anything that it's not an IP or a subnet mask should result in an exception.

[2019-02-19 03:25] xabbuh commented on #30297
This is a configuration is that needs to be solved on the server side. There is nothing we can do about that in Symfony.

[2019-02-19 06:53] fbourigault commented on #30290
Thank you for the tip @stof. I switched to this ultimate optimisation for an extra 15% gain.

I wrote the following bootstrap script for Behat:
[code]
I know this is an hacky solution, but it avoid having some cache-not-fresh issues when running Behat tests at development phase.

Did I miss something that could make my cache outdated and not refreshing?

Is there something we can do to ship this t

[2019-02-19 07:49] GiacomoLaw commented on #30297
Seems like I have an issue with the user who is logging in. I’ll take a look in phpmyadmin and see what I can do.

[2019-02-19 07:49] #30297 closed

[2019-02-19 07:56] xabbuh commented on #30298
While you are right that the parser currently is not able to parse structures like these I am still closing here as this is about the same cause (inline notation spanning multiple lines) as #25239. Thank you for understanding.

[2019-02-19 07:56] #30298 closed

[2019-02-19 08:50] mente commented on #30071
Wasn't #30124 merged only into 3.4 branch only? This bug report is about 4.2

[2019-02-19 08:54] xabbuh commented on #30071
We regularly merge lower branches up into branches for all still maintained Symfony versions. So the bugfix will also be part of the next 4.2 patch release.

[2019-02-19 08:55] alexander-schranz commented on #30071
@mente all fixes for 3.4 will also be part of the 4.2 release.

[2019-02-19 08:58] dugajean commented on #30138
@chalasr The test passes now. Thanks a lot!

[2019-02-19 08:58] #30138 closed

[2019-02-19 09:01] chalasr commented on #30299
👍 PR welcome

[2019-02-19 09:21] ralfkuehnel commented on #30285
@javiereguiluz I'm gonna try to fix it tonight, it will be my first contribution to Symfony

[2019-02-19 10:09] vasilvestre commented on #30287
the fromArray code already exist, it could be easy to create

[2019-02-19 10:12] videni opened #30300 "public alias is still being removed or inlined, why?"
I  add an alias to a service, this alias is public, but when I try to get it from container , it says it is removed or inlined, how could this happen?

[code]

Debug info
[code]

[2019-02-19 10:27] javiereguiluz commented on #30293
As @linaori said, this looks like a support question, so we must close it. If you try to do this with the help provided by the community and it doesn't work, then we can reopen this as a possible Symfony bug. Thanks.

[2019-02-19 10:27] #30293 closed

[2019-02-19 10:39] javiereguiluz commented on #30285
@ralfkuehnel great! Thanks! If you need any help during the contribution process, please tell me!

[2019-02-19 10:40] xabbuh commented on #30300
Maybe there are other compiler passes fiddling with this alias. Can you create a small example application that allows to reproduce?

[2019-02-19 10:47] tinogo commented on #30259
Hi @Guikingone,

thank you for your reply.
We've debugged this a little bit further now and the culprit lies in `Symfony\Component\Messenger\Transport\AmqpExt\Connection::ack()` resp. `Symfony\Component\Messenger\Transport\AmqpExt\AmqpReceiver::receive()` in Line 62.

So - the messenger library doesn't actually consume messages the "RabbitMQ-way". Hence the `Connection` should provide a `consume`-

[2019-02-19 11:36] inri13666 commented on #27909
P/S : https://bugs.php.net/bug.php?id=77639

[2019-02-19 14:10] kiler129 commented on #30299
I will happily deliver a PR :)

[2019-02-19 14:15] pmontoya commented on #26640
@javiereguiluz : Sorry, I forgot this issue. I'll work on it tomorrow.

[2019-02-19 14:37] crtl opened #30302 "[Validator] IdenticalTo only usable for objects not arrays"
**Description**
With the current state of the validator package its a pain to validate arrays.
For example all the IdenticalTo, EqualTo validators have a `propertyPath` option which is only usable for objects.
So I dont have any possibility to validate an value based on all inputs values because `CallbackValidator` does not pass the whole input but only the value.

Given the following example:

[c

[2019-02-19 15:07] nicolas-grekas opened #30304 "[Debug] Actively discourage using Serializable by triggering a deprecation notice"
When `DebugClassLoader` is registered, we could make it unconditionally trigger a deprecation notice when it loads a class that directly `implements Serializable`.

We should wait for https://wiki.php.net/rfc/custom_object_serialization to be resolved before.

[2019-02-19 15:47] seb-jean commented on #6587
This feature would be really cool!

[2019-02-19 16:13] AmsTaFFix opened #30306 "Controller::generateUrl() must be of the type string, null returned"
**Symfony version(s) affected**: 4.2.2

**Description**
method `\Symfony\Bundle\FrameworkBundle\Controller\ControllerTrait::generateUrl` has return value `: string`. This method delegates call to
`\Symfony\Component\Routing\Generator\UrlGenerator::generate()`, then to `\Symfony\Component\Routing\Generator\UrlGenerator::doGenerate()` and method `doGenerate` can return `null`  on lines `170` and `22

[2019-02-19 18:57] edurodriguesdias commented on #24688
Same issue here.
Chrome Version: 72.0.3626.109

[2019-02-19 21:36] ismail1432 commented on #30280
I don't think Symfony provides this functionality, you can take a lokk at https://xdebug.org/

[2019-02-20 02:26] videni commented on #30300
@xabbuh , thanks,  I am sure it is not, please look the debug info below.

[code]

Debug
=====

[code]

[2019-02-20 03:26] videni commented on #30300
I solved the problem myself, create alias in php, we have to call  the setPublic method , otherwise it the alias is private.

[code]

[2019-02-20 03:26] #30300 closed

[2019-02-20 03:30] yceruto opened #30310 "[RFC][OptionsResolver] Add a new "addNormalizer()" method and normalization hierarchy"
The normalization procedure is the last step of the option resolution algorithm, it allow us to change the default or passed value after validating it.

## Problem

Currently, we have the possibility to configure only one normalizer per option. For example, this is a form type definition that belongs to a third-party package:
[code]
Note that the `dummy` instance is used in the normalizer closure.

[2019-02-20 07:23] #30158 closed

[2019-02-20 07:24] #30182 closed

[2019-02-20 07:38] fancyweb commented on #30304
unconditionally = for all PHP versions and not only for the buggy 7.3 right ?

[2019-02-20 07:43] nicolas-grekas commented on #30304
All PHP versions yes.

[2019-02-20 10:27] nicolas-grekas commented on #29966
Help wanted.
Please have a look at #29985 for ideas about how to fix this.

[2019-02-20 11:05] stof commented on #30300
yeah, or use the second argument of the constructor. Default value is to make thngs private in Symfony 4

[2019-02-20 11:11] javiereguiluz opened #30315 "[Form] Improve the group_by option for choices"
**Description**
In Symfony 2.7 (with `choices_as_values` set to `false`) it was possible to have choices in different choice groups that shared the same labels, this is not possible anymore.

Instead of [this hack](https://github.com/symfony/symfony-docs/issues/5905) proposed in Symfony Docs, @Tobion wondered [in this comment]() if this use-case be better solved by allowing `group_by` option to re

[2019-02-20 12:37] ThomasLandauer opened #30316 "`.env`: Make MAILER_URL and DATABASE_URL consistent"
**Description**
Use either the form `username:password@server` **or** `server?username=&password=` for all connection url strings in `.env`

https://symfony.com/doc/current/doctrine.html#configuring-the-database says

whereas https://symfony.com/doc/current/email.html#configuration says

And (weirdly enough), the `.env.dist` file itself contains this example:

So I'm suggesting to make it consiste

[2019-02-20 13:17] jvahldick commented on #28646
I saw a workaround for this in a project, and one idea I took from it would be adding two methods on the MessageBus: attach($message) and commit(), then it would be up to the developers decide when the messages are dispatched. I am not sure whether it makes sense here or not.

[2019-02-20 13:28] ChangePlaces commented on #28021
The tests fail because an exception is thrown.

Anyway, can't be of anymore help as I've discovered go

[2019-02-20 13:34] xaro93 opened #30318 "Add X-Robots-Tag in header of response in dev mode"
**Description**
For security, you can automatically add the **X-Robots-Tag: noindex** header in developer mode. Sometimes it happens that someone will make such a website available on the Internet. I think it would be better for search engines to not index such websites.

[Robots meta tag and X-Robots-Tag HTTP header specifications](https://developers.google.com/search/reference/robots_meta_tag?hl

[2019-02-20 14:01] antonch1989 commented on #30315
@javiereguiluz I could try to handle this one

[2019-02-20 14:01] javiereguiluz commented on #30318
I like this proposal a lot!

We already include `<meta name="robots" content="noindex,nofollow" />` for anything related to the profiler ... but I think it makes sense to add `X-Robots-Tag: noindex, nofollow` to the entire site if it's being run in dev environment. Anyone see any potential drawback?

[2019-02-20 14:04] xabbuh commented on #28021
Okay, let's close here then. If someone experiences the same and can provide a small example that allows to reproduce, we could reopen here.

[2019-02-20 14:04] #28021 closed

[2019-02-20 14:07] xabbuh commented on #30316
Well, the issue is that these URLs are interpreted by different systems which follow different formats. To be able to have a universal format would mean that we would have to somewhere transform them which will probably sooner or later lead to confusion when the format used here does not match the format used in the documentation of the used libraries.

[2019-02-20 14:14] ThomasLandauer commented on #30316
OK, thanks, so it's not done centrally ;-)

What about opening an issue at Doctrine bundle or Swiftmailer bundle to change the format? Which format would you say is better: `username:password@server` or `server?username=&password=`?

Any why didn't the guys who invented this, make it consistent in the first place? ;-)

[2019-02-20 14:21] javiereguiluz commented on #30315
@antonch1989 great! Thank you.

If you estimate that this task will be very complex or if you think multiple different implementations are possible, you can ask here for advice to people like @vudaltsov @HeahDude and @xabbuh who are experts in Symfony Forms and are willing to help the community.

[2019-02-20 15:24] JoydS opened #30321 "Doctrine cache used on symfony clear cache or assets install"
**Symfony version(s) affected**: 3.4

**Description**
When using doctrine cache (metadata + query), the clearCache and installAssets use the doctrine cache.
The problem is that when we remove a column of an entity, the composer install use the doctrine cache, and throw an error :

So we need to clear the doctrine cache but I need my vendors to do so... Why does symfony use the doctrine cache when

[2019-02-20 16:31] pmontoya commented on #26640
I'm sorry but without using the 4.1 feature with twig extension priority, I don't see how to fix this BC Break without removing #25756 changes

[2019-02-20 17:03] fancyweb commented on #26640
That's what I'm trying to say since the beginning of this issue. Also does it really worth it to fix this regression 18 patches versions later ? 🤔

[2019-02-20 17:27] PlanetGamingGG opened #30322 "[HttpFoundation] Ability to modify namespaced session"
**Background**
So I read the docs about Attributes and Namespaced Attributes which allows syntax like `test/c`.
https://symfony.com/doc/current/components/http_foundation/sessions.html#attributes
So I tried it to **modify** an existing key but it did not work, instead it creates a new session key.

Code :
[code]
Running the code above will create this session keys : `test`, `test/a`.
This frustrat

[2019-02-20 20:59] weaverryan commented on #29784
From @xabbuh

That's the core of the problem. Basically, when you're under `/register`, there are NO firewalls active. And each firewall behaves like an independent security system. So basically, Guard attempts to authenticate you on whatever firewall is active when you are currently on `/register` - it tries to authenticate you on the current firewall (there is actually none). So now, if you go b

[2019-02-20 22:03] Cosmologist commented on #13370
+1

[2019-02-21 00:49] przemyslaw-bogusz commented on #27828
@spackmat In your example you are binding by type and name, so the exception message is correct, because your initial configuration indicated, that you wanted to bind a certain value to an argument named `$defaultLocale`, but only when it was typehinted as `string`.

If you put just:
[code]
in your configuration, it would also solve the problem as the value would be bound to any argument named `$d

[2019-02-21 06:59] xabbuh commented on #30322
This should already be the case. At https://github.com/xabbuh/symfony/tree/issue-30322 you can take a look at a test that shows the current behaviour which as far as I understand you is what you would like to have.

[2019-02-21 07:00] xabbuh commented on #30146
I am closing here for now. We can reopen once we are able to reproduce though. Thank you for understanding.

[2019-02-21 07:00] #30146 closed

[2019-02-21 07:33] #24453 closed

[2019-02-21 07:36] #30285 closed

[2019-02-21 07:39] #28964 closed

[2019-02-21 08:11] Guikingone commented on #30259
Ok, I understand the main problem.

Maybe we can improve this feature by calling the correct method, @sroze don't know if it's something that we can improve?

I can take a look if you want.

[2019-02-21 08:17] Guikingone commented on #30281
_Even if Paypal do bad things, I continue to think that we shouldn't add this feature_ 😄

Seriously, I think that this is something related to your internal logic and not to a missing feature, you can probably call a macro which generate the link (or even a twig block) not to mention that this type of usage is already possible by passing an array to the generated URL (the format isn't the one that

[2019-02-21 08:18] #8106 closed

[2019-02-21 08:24] fabpot commented on #30281
I'm closing this issue as this is not a feature I'd like to add to Symfony core. Thanks for proposing.

[2019-02-21 08:24] #30281 closed

[2019-02-21 08:51] #23343 closed

[2019-02-21 08:54] Guikingone commented on #30118
Maybe checking the given transport for a specific dsn could be even better?

In this specific case, `amqp` is used but what about `redis`?

I know that in this case, it could be a good idea to use EnqueueBundle but I think that using the `messenger-adapter` library, it could be a good idea to check if this library is installed and if not, noticing or throwing an error about installing it?

[2019-02-21 08:59] #30148 closed

[2019-02-21 09:14] makasim commented on #30259
You can use `enqueue:consume` command with https://github.com/php-enqueue/messenger-adapter/blob/master/MessageBusProcessor.php. The command uses amqp consume method under the hood.

[2019-02-21 09:21] antonch1989 commented on #30315
![it-works](https://user-images.githubusercontent.com/8297194/53157595-e1d8d900-35d2-11e9-8b58-4e068d834777.png)
The issue was create a long time ago. Does this problem still exist? I ask because I don't see with `"symfony/form": "4.2.*"` in my composer.json

[2019-02-21 09:22] PlanetGamingGG commented on #30322
Dear @xabbuh, Now that I've tested it, it works as expected.. It changes the values as expected.
Sorry for this and thanks for the reply.

When I discovered this issue, it was around 2AM and I suspected that when I var_dump the SESSION which I did not cleared of previous construct with `AttributeBag` instead of `NamespacedAttributeBag`, and I mistook it as It does not modify the values.

[2019-02-21 09:22] #30322 closed

[2019-02-21 09:22] xabbuh commented on #30315
@antonch1989 Can you share the configuration of your form type?

[2019-02-21 09:23] antonch1989 commented on #30315
`$builder = $this->createFormBuilder();
        $builder->add('country', ChoiceType::class, [
            'choices' => [
                'Top' => [
                    'FR' => 'France',
                    'DE' => 'Germany',
                ],
                'All' => [
                    'AT' => 'Austria',
                    // ...
                    'DE' => 'Germany',
                    // .

[2019-02-21 09:50] kevin-verschaeve commented on #29757
PR closed, so I'm closing this issue also.

Thanks for  feedback and reactions

[2019-02-21 09:50] #29757 closed

[2019-02-21 09:50] xabbuh commented on #30315
But you are not using the `group_by` option here at all. :)

[2019-02-21 09:52] xabbuh commented on #29883
implemented in #29887

[2019-02-21 09:52] #29883 closed

[2019-02-21 09:56] xabbuh commented on #27928
I am closing here as nobody came up with a PR yet. This doesn't mean that we won't review a PR that would provide this seems, but we don't have to keep this issue open if noone is interested in contributing this new theme.

[2019-02-21 09:56] #27928 closed

[2019-02-21 09:58] xabbuh commented on #27185
@ostrolucky I don't think that really is an issue. This can be customised through the options inherited from the `ChoiceType`.

[2019-02-21 10:02] ostrolucky commented on #27185
So can ChoiceType. User isn't saving much.

[2019-02-21 10:13] antonch1989 commented on #30315
@xabbuh sorry, I don't get it :) In the documentation diff created by @webmozart  was written that it doesn't work with this configuration. That's why the hack with `choice_label` was suggested. Afterwards a proper solution with adding more functionality to `group_by` was proposed by @Tobion. But if it works then why we need this? Could you clarify a bit, probably I missunderstood the situation.

[2019-02-21 10:36] fabpot commented on #28282
IIUC, the performance issue is only at compilation time. Making it possible to configure which files are parsed globally is not possible as it would break current usages. So, I'm closing as won't fix.

[2019-02-21 10:36] #28282 closed

[2019-02-21 10:52] fabpot commented on #30137
For all reasons discussed here, I think we can close as won't fix.

[2019-02-21 10:52] #30137 closed

[2019-02-21 10:56] kix opened #30328 "Starting a server does not work"
**Symfony version(s) affected**: 4.2.*

**Description**
Server does not start in a new Symfony project.

**How to reproduce**
1. `$ php -v` → `PHP 7.3.1 (cli) (built: Jan 10 2019 13:15:37) ( NTS )`
2. `$ composer create-project symfony/website-skeleton server-poc`
3. `$ cd server-poc && bin/console server:start` yields:

[code]
...and no server is running on port 8001. `bin/console server:run` wor

[2019-02-21 11:06] stof commented on #30137
this would not make parsing stricter. It would making parsing non-compliant with the spec, as it would make `off` an invalid value, while it is valid in Yaml.

These PRs were about choosing the way we *dump* YAML, by selecting the representation which is safer to use by taking these parsers into account. That's entirely different, as it does not make us non-compliant.

The thing is, a linter enfor

[2019-02-21 11:13] ant5 commented on #29657
Patch fo symfony 4.2

[2019-02-21 14:13] ant5 opened #30332 "Ability to avoid session creation for anonymous page hit (with patch)"
**Description**
Sites (with statefull Firewall) with secured area always start session for any anonymous hit of url in secured area. This is related to PathTrait feature. Every hit generate a session which store initial URL (PathTrait) that may be used later to redirect user to initial page after authentication. But in the case that this was a bot/anonymous/DoS hit the session just left in session

[2019-02-21 14:17] lyrixx opened #30333 "[RFC][Monolog] Consider adding a hard limit on log buffered in dev"
**Description**

When running consumer / worker in dev env, they leaks a lot. Symfony buffer all logs (mainly for the profiler). In CLI I'm not sure it makes sens.

So IMHO we could disable this feature in CLI or at least add an hard limit.

WDYT ?

[2019-02-21 14:36] ThomasLandauer commented on #30281
@Guikingone: Pass an array to what? To `absolute_url()`? How? Don't understand...

BTW: PayPal documentation is one big mess. Here's an example of the sort of PayPal button I'm talking about: https://stackoverflow.com/q/13415964/1668200

[2019-02-21 14:38] Guikingone commented on #30281
@ThomasLandauer

You can pass an array to `path()`:

[code]

For Paypal, why not using Stripe?

[2019-02-21 15:06] ThomasLandauer commented on #30281
@Guikingone: Still don't get it :-( If I do:
[code]
...I get:

How can I use `format()` to "move" `foo` and `bar` from the query string to between `//` and `example`?

Customer requirement ;-)

[2019-02-21 15:37] spackmat commented on #27828
@przemyslaw-bogusz Sorry, my "wrong" was misleading. Of course there was an error in my code. It was meant from the point of view that before 4.2.3, it worked even with this kind of mistake.

[2019-02-21 16:46] Guikingone commented on #30281
Maybe using something like this:

[code]

[2019-02-21 17:12] UFTimmy commented on #30073
@nicolas-grekas The problem was up until this change, sharing sessions among Symfony versions worked great. I have a suite of 15 Symfony applications ranging from 2.7 to 3.4 and they all shared sessions for security happily. We have years of work built around that assumption, because up until now they had been working fine.

But then this patch version happened that broke backwards compatibility.

[2019-02-21 17:28] PlanetTheCloud opened #30336 "[HttpFoundation] The ability to add a new elements to an array without key"
**Description**
Adds a new array element without setting the key. Equivalent to `$array[] = 'Stuff I wanted to add';`.

**Example**
[code]

[2019-02-21 17:46] derrabus commented on #30073
So a Symfony 2.7 and a Symfony 3.4 application are sharing the same session? Assuming that serialized objects remain compatible if you switch the major version of a library sounds pretty unsafe to me. I'm actually surprised that it has worked so far.

I mean, you can fork Symfony 2.7 and apply the patch there. That might get you a compatible version, but there's no guarantee that this won't break

[2019-02-21 17:54] UFTimmy commented on #30073
I don't think I assumed anything would work the same across major versions. Nor even minor versions. We tend to test out major and minor versions very heavily before going forward with them.

However, I did not expect a core thing to change across a patch version.

[2019-02-21 19:25] makasim commented on #30259
https://github.com/symfony/symfony/pull/26632#discussion_r179053385

[2019-02-21 20:19] tinogo commented on #30259
Hi @makasim,

thank you for the - this got my a good insight, why the current approach has been chosen.
And after reading this comment https://github.com/symfony/symfony/pull/26632#discussion_r179084995, I think now is time to reevaluate on this topic and hopefully add the approach using the `consume`-method. :) ;)

[2019-02-22 08:09] jmalinens commented on #30073
we have the same issue.
We use symfony for huge multi-purpose website which consists of 10+ products with version range from 2.8 to 3.4. We are not ready to update all these websites at once. it will be nightmare to manage this

[2019-02-22 08:33] linaori commented on #30336
While certainly possible (see property accessor), I'm unsure of the DX this brings. Looking at the first example, I know the type and how to use it. In the second, it's unclear. In the first example, there's no guarantee the key is set or that this value is an array though, so you rely on php's error-handling/behavior for this. In the second case, Symfony would have to reproduce the php behavior a

[2019-02-22 08:38] linaori commented on #30333
Instead of not logging, what if we add a future to limit messages in memory and force a flush after X messages?

[2019-02-22 08:41] linaori commented on #30332
This does make sense for anonymous pages, but in order to be anonymous, it has to have verified that you're not logged-in first in case of authenticators, which requires the session unless stateless. How do you propose to address that?

@javiereguiluz can you switch the HttpFoundation with a Security label? :smile:

[2019-02-22 09:21] ant5 commented on #30332
It doesn't affect anonymous sessions. This is only for case of secured area when firewall trigger "authentication required" state.  To be more precisely it affect only startAuthentication() function.

I've slightly modified my patch to be more clear:
https://gist.github.com/ant5/e81f94cea7404ca8e520d0367ef27427

The only real change is:
-        if (!$this->stateless) {
+        if (!$this->statel

[2019-02-22 09:23] rahulspnd opened #30337 "Read Error on connection"
Recently I am upgrading my application from Symfony 3.4 to Symfony 4.2. I am encountering error telling that `read error on connection` .

Here is the stack trace:

[code]

Please look into the problem

[2019-02-22 09:29] lyrixx commented on #30333
@linaori I'm sorry if I was not clear enough, but I'm not talking of not logging, but instead I would like to disable the buffering.

Anyway, I will have a look at this this morning

[2019-02-22 09:34] compains opened #30338 "When I throw a NotFoundException within a controller I get a http 200 Ok status code"
**Symfony version(s) affected**: 4.2.3

**Description**
I have a single front controller that receives all the requests. For each request it gather's some data an decide if there should be a response or a not found 404 response. I have done this using
[code]

and this

[code]
and this

[code]

but in all cases the http status code is 200.

**How to reproduce**
Symply create a controller that throw

[2019-02-22 09:40] PlanetGamingGG commented on #30336
Good point @linaori ,
I wanted to make the code a bit more elegant and shorter.
About the guarantee that it will return an array and in a scenario where you believe this can either be an array or a string, I can propose this:
[code]
Example 1 and 2 assumes you DID NOT KNOW the data type.

In Example 1, the colon after the key name is the type you wanted. In the example it was set to `array`. It ca

[2019-02-22 09:52] compains commented on #30338
Just found the cause. There was an empty space at the top of my public/index.php file that causes headers_sent() return true so the logic in Response::sendHeaders() is no triggered.

I'm closing this. Sorry for the inconvenience.

[2019-02-22 09:52] #30338 closed

[2019-02-22 10:01] linaori commented on #30332
Authorization happens _after_ authentication, as Authorization triggers the requirement for authentication. Due to this sequence, there will always be an attempt of authentication, which requires the session.

[2019-02-22 10:09] PlanetGamingGG commented on #30336
Regarding my comments above, I just realized that catching Exceptions would be the new problem....
Either `$session->get('anArray:array');` would return an empty array or whatever it is casted to an array.

Assuming `anArray = []`.
`$session->get('anArray:array');` = `[]`
`$session->get('anArray:string');` = `''` Empty string
`$session->get('anArray:bool');` = `false`
And yeah this requires more c

[2019-02-22 10:18] lyrixx commented on #30333
actually I have no issue with finger crossed since it is not enabled in dev by default :)

[2019-02-22 10:30] ant5 commented on #30332
I think you've confused by function name "startAuthentication()". Despite it name it is for "begin login process". So  "an attempt of authentication" is not affected.

When "an attempt of authentication" is negative Symfony begin login process by calling "startAuthentication()". The login process implicity autostart a session only for storing initial URL. My patch is for take control over the sess

[2019-02-22 11:25] nikic opened #30341 "Typo in SimpleFormAuthenticationListener"
The check https://github.com/symfony/security/blob/baa22f665a7ea04c2bfb4d6236a2020a25979f10/Http/Firewall/SimpleFormAuthenticationListener.php#L100 should be one of

[code]

As currently written, the second condition will always be false.

Noticed this while looking into an opcache optimization bug caused by this piece of code :)

[2019-02-22 11:36] Guikingone opened #30342 "[Messenger] Message informations for handling"
**Description**
Allow to specifying a "message name" which define the type of message that can be handled.

**Example**

Simple use-case where my main message can be extended:

[code]

The RandomMessage children:

[code]

Now the handler:

[code]

This method (the name should be improved but for me, that's like the `EventSusbscriberInterface` one) can ease the process when a message can be extende

[2019-02-22 11:40] nicolas-grekas commented on #30341
Thanks, the fix should be submitted on branch 3.4, with a test case if possible.
I'm labelling as "good first issue" if anyone wants to take it.

[2019-02-22 12:56] Doqnach opened #30343 "[YAML] flag to keep refs between calls to parse()"
**Description**
For structuring Yaml files we want to use a custom include tag (in our case `!inc/file 'my_file.yml'`). This is working just fine by having a custom `YamlFileLoader` that recursively parses any `TaggedValue` and having it make a `new Parser()` to handle the sub-document (or `self::load()` on the sub-document).

[code]

But if your parent document has references, e.g.: `&foo` and yo

[2019-02-22 13:20] chalasr commented on #30341
Same for https://github.com/symfony/symfony/blob/848a83078cc4b3927d614c9497456193bf4f5cea/src/Symfony/Component/Security/Http/Firewall/UsernamePasswordFormAuthenticationListener.php#L88

[2019-02-22 13:20] Guikingone commented on #30342
**22/02/2019 - 14:20:** Example added for a new interface.

[2019-02-22 13:49] cardillomarcelo opened #30346 "[Messenger] Use transport agnostic exceptions instead of throwing AMQPException"
**Description**
If using AMQP, and RabbitMQ is not available, for example, dispatching a message through the bus will throw AMQPExceptions. I think this should be hidden for the client code that uses the bus, since the actual transport may vary.

**Example**
[code]

[2019-02-22 15:06] burnmaniac commented on #30189
As there's no PR yet, I would like to take this, if I may?

[2019-02-22 15:19] ThomasLandauer commented on #30281
@Guikingone: I doubt that it will work this way cause `format()` expects the `%s` **before** the `|`.
However, thanks to your insisting :-) I started to think about other ways and finally created a custom filter: https://stackoverflow.com/q/54830022/1668200

[2019-02-22 15:21] Guikingone commented on #30281
Sorry, could benefit from the `replace` function, `format` isn't adapted 😄

[2019-02-22 16:35] Doqnach commented on #30343
A bit scary work-around:

https://github.com/Doqnach/miraizou-core/blob/master/src/ModifyParentPrivates.php
https://github.com/Doqnach/miraizou-yaml/blob/master/src/YamlParser.php

[2019-02-22 16:37] stof commented on #30343
I don't think that's something we want to implement, as that's not how YAML references are meant to work. YAML references are resolved inside the YAML document.

[2019-02-22 16:40] xabbuh commented on #30337
I am sorry, but I have to close your issue as we use GitHub issues only to discuss new features and for bug reports. For support, please refer to one of the [support channels](https://symfony.com/support). Thank you for understanding.

[2019-02-22 16:40] #30337 closed

[2019-02-22 17:18] cardillomarcelo commented on #30341
I'd like to take it if possible. Should be able to do it over the weekend.

[2019-02-22 17:19] xabbuh commented on #30341
@cardillomarcelo I am sorry but someone already opened a pull request (see #30347).

[2019-02-22 17:20] cardillomarcelo commented on #30341
np :+1:

[2019-02-22 17:52] Doqnach commented on #30343
That, I surely understand. YAML itself of course does not support 'sub documents'/includes, so references are by definition only applied to the (main) document itself.

Another approach would be to be able to give the parser handlers for custom tags that are bound to the context (`$this`) of the parser? Because now all custom tag handling can only be done after the parser has finished (in my case

[2019-02-22 21:14] ismail1432 commented on #30328
It works with `php 7.2.1` did you try with an upper PHP version ?

[2019-02-23 05:16] BonBonSlick opened #30353 "Access control does not work for admin routes when path passed as parameter"
params
[code]

security

security:
[code]

used docs:
- https://symfony.com/doc/current/reference/configuration/security.html
- https://symfony.com/doc/current/security.html#denying-access-roles-and-other-authorization
- https://symfony.com/doc/current/security/access_control.html

Tell me please what I am missing?
Should we create custom handlers for access control?
https://symfony.com/doc/curren

[2019-02-23 09:07] antonioperic commented on #30167
I will add this :)

[2019-02-23 10:14] #30167 closed

[2019-02-23 10:39] xabbuh commented on #30253
For the records: with #30358 we will also be able to customise the input format for the `TimeType`.

[2019-02-23 14:09] alterphp opened #30359 "[TwigBundle] Default overriden bundle path should be processed in a compiler pass"
**Symfony version(s) affected**: 4.2

**Description**
- I use EasyAdmin bundle for admin interfaces.
- I also use an extension bundle `alterphp/EasyAdminExtensionBundle` that overrides all templates by adding its templates path to `EasyAdmin` namespace in a compiler pass.
- Above this stack, I use another company-owned admin-bundle that also overrides EasyAdmin templates by adding its path to `Eas

[2019-02-23 14:31] #29966 closed

[2019-02-23 14:32] #30341 closed

[2019-02-23 14:36] #29601 closed

[2019-02-23 14:36] #29877 closed

[2019-02-23 14:37] #10240 closed

[2019-02-23 17:15] #30189 closed

[2019-02-24 00:02] skalpa opened #30362 "[Debug] DebugClassLoader breaks with classes defined in eval()'d code on Mac/Darwin"
**Symfony version(s) affected**: 3.4

**Description**
When loading a class defined in eval()'d code [`DebugClassLoader::darwinRealpath()`](https://github.com/symfony/symfony/blob/9202d9ed3eecd8e75fdf423930588151d87ca989/src/Symfony/Component/Debug/DebugClassLoader.php#L399-L413) is unable to determine the real path of the file and a notice is triggered by the `return $real .= $dirFiles[$kFile];` s

[2019-02-24 00:22] #29440 closed

[2019-02-24 10:38] chiqui3d commented on #29590
@nicolas-grekas Here I am again. I'm turning it around, and I think and still don't understand why there is no method to append a new router to the cache file that Symfony generates without having to generate these completely again. Really if it wasn't for the annotations that I use for backend, really dump the routing file wouldn't do me any good, because if I really have to apply it myself witho

[2019-02-24 12:44] quazardous opened #30366 "Support boolean parameters in Route condition"
**Description**

Using parameter substitution with boolean is not allowed in route condition.

**Example**

So this is not possible:

[code]

Exception is here :

[code]

[2019-02-24 14:37] nicolas-grekas opened #30367 "[RFC] add middleware to pass the request context through a Messenger transport"
When a message is sent to a worker via a Messenger transport, we provide no easy way to serialize the context provided by the request. By context, I can think of e.g host, locale, or even user session/token, maybe also request stack.

What about providing a middleware that would do so, eg by appending a stamp on messages that need that context? (another stamp could be used as a flag to ask for the

[2019-02-24 15:44] #30362 closed

[2019-02-24 16:30] nicolas-grekas commented on #30366
Would you like to send a PR doing so? I'd suggest casting booleans to the `"0"/"1"` string.
That should target master as it's a new feature and it should come with test cases of course ;)

[2019-02-24 16:33] nicolas-grekas commented on #30336
Keys are opaque strings - ie they're not parsed. I think that's an important design choice we'd better keep as is: less code to maintain, less idiomatic to teach, better reuse of basic and common language features everyone should better learn that this kind of new syntax here.

Not convinced on my side.

[2019-02-24 16:35] nicolas-grekas commented on #30316
because separate individuals don't share the same brain ;) If you think this should be done, I think you should send a PR. That's the best way to prove your point, as always in OSS ;)

[2019-02-24 16:40] nicolas-grekas commented on #30280
The `server:dump` command could listen on some port and write HTML dumps live when a browser connects there. That's a lot of work though I fear. Because of that, I'm not sure it should be provided in code. Maybe a third-party bundle could provide that if anyone wants to give it a try. Of course, a PR on Symfony would always be considered also if you don't agree with this plan.

[2019-02-24 16:43] nicolas-grekas commented on #30270
PR welcome: we should add the "synthetic" word at the beginning to improve that, isn't it?
`Setting a synthetic service [...]`
The PR should be submitted on branch 3.4, because that's the only non-deprecated behavior there also.

[2019-02-24 16:45] nicolas-grekas commented on #30256
Somewhat related: #30301
I don't know how we could achieve the described behavior.
What would be your proposal @evs-xsarus?

[2019-02-24 16:47] nicolas-grekas commented on #30252
Did it ever work? If not, that'd be a new feature. Would you like to give it a try?

[2019-02-24 16:49] nicolas-grekas commented on #30250
I don't think so. To me, this issue is impossible to implement in any "sane" way. Yes, we can inspect the trace then use token_get_all to extract the source code and then the variable name. But this is going to be quite complex and quite fragile I fear.

Not worth it to me. I may be wrong of course.

[2019-02-24 16:53] nicolas-grekas commented on #30221
That could be configured as an argument to the enable() method.
What should be the argument? I don't know exactly. A map maybe, with original namespace as key and remapped namespace as value - the check would be done on remapped values? All I know is that this should be fast :)

[2019-02-24 16:57] nicolas-grekas commented on #30215
Is this a regression or did it always work that way?
Since 4.2, we provide the intl+icu format for message, which is able to deal with decimal properly.
Could you please give it a try?
See https://github.com/symfony/symfony-docs/issues/10264

[2019-02-24 16:59] nicolas-grekas commented on #30147
The format of the compiled regexp is quite strict, supporting more fancy formats could be a lot of work for little benefit. As long as the proper format is generated, you can define it on your own. But here, mocks where wrong for sure. Closing then, thanks for the details.

[2019-02-24 16:59] #30147 closed

[2019-02-24 17:02] nicolas-grekas commented on #30089
@B-Galati would you like to give it a try?

[2019-02-24 17:02] #30054 closed

[2019-02-24 17:04] nicolas-grekas commented on #30036
I'm closing as PHP8 is a remote and moving target. Test suite will tell us where we'll need to update, as done for previous versions.

[2019-02-24 17:04] #30036 closed

[2019-02-24 17:04] nicolas-grekas commented on #29977
Would you like to send a PR doing so?

[2019-02-24 17:05] nicolas-grekas commented on #30099
@Jontsa would you be able to debug why?

[2019-02-24 17:05] nicolas-grekas commented on #29970
Is this something you would like to send a PR for?

[2019-02-24 17:06] nicolas-grekas commented on #29963
Would you like to send a PR to achieve so? That'd be welcome and the best way to make it happen if you need it.

[2019-02-24 17:09] nicolas-grekas commented on #29919
If HtmlDumper could compute the nonce and dump it, would it fix the issue?
Could you please send a PR doing so?

[2019-02-24 17:11] nicolas-grekas commented on #29858
Please send a PR yes.

[2019-02-24 17:12] kunicmarko20 commented on #29970
I proposed a solution in the second comment if there are no better ideas I can provide a PR for that.

[2019-02-24 17:15] nicolas-grekas commented on #29603
The container has a method called `getRemovedIds()` that should allow building this. PR welcome.

[2019-02-24 17:16] nicolas-grekas commented on #29585
Closing as there is nothing specific to keep track of.
Please send PRs adding links if you spot more places where it would make sense.

[2019-02-24 17:16] #29585 closed

[2019-02-24 17:17] nicolas-grekas commented on #29468
When flex is installed globally, then the // downloader is used, isn't it?
If confirmed, I think we can close this PR.

[2019-02-24 17:19] DonCallisto commented on #29603
@nicolas-grekas I didn’t checked again the code but I’m pretty sure that if container is not compiled, and is not (see my last comment), there will no way to retrieve those informations.

[2019-02-24 17:25] nicolas-grekas commented on #29124
As the message explains, compile time cannot process variables because services are not ready yet.
And the solution provided by the message is good also: you should be able to compute this value using a compiler pass, or provide an already processes env var. Closing as this is not a bug.

[2019-02-24 17:25] #29124 closed

[2019-02-24 17:27] quazardous commented on #30366
I'll give it a shot but not in the next couple of weeks. Too much on my plate 😅

[2019-02-24 17:27] nicolas-grekas commented on #29603
These commands deal with a local container created for the command itself and loaded from an XML description of services. This is the one you may be looking at. There is also the real container that can be accessed using DI. This one should contain the missing info.

[2019-02-24 17:38] nicolas-grekas commented on #28698
Could this be provided as a third party bundle? That'd be best to iterate and adapt to future RFCs on the topic. I'm therefore closing. Please post a link to the bundle/lib if you manage to create one.

[2019-02-24 17:38] #28698 closed

[2019-02-24 17:52] redayoub opened #30369 "Disable security for routes using annotation"
I have some urls in my API that doesnt need to be secure but they are under a secure firewall because of the patern, so instead of having to add each route to the security file and use security: false, I think it will be helpfull if I can just use an annotation inside my controller in order to disable the security for the route like this : @Security(enable="false").

[2019-02-24 18:59] chalasr commented on #29603
The local container compiles without removing passes on purpose (for having removed/inlined definitions and aliases listed, https://github.com/symfony/symfony/pull/22385) which is useful for service discovery. Not sure about hidding them by default :)

[2019-02-24 19:27] kylekatarnls commented on #30215
@nico-incubiq, it's the result for symfony 4.2, `1.5 liter`, it must output `1.5 liters` to be linguistically right. As long as you have the `int` typing, you won't be able to apply both correct French and English rules for decimals (and obviously many others). I will try with the version before the typing was added for comparison if I've some times.

[2019-02-24 20:32] yceruto commented on #30310
I just created the complete proposal here https://github.com/symfony/symfony/pull/30371

In addition, I've added a new argument `$forcePrepend` to the new `addNormalizer()` covering another use case. Reviews are always welcome, Cheers!

[2019-02-24 22:15] secretpow opened #30372 "Make credentials accessible in AuthenticatorInterface#createAuthenticatedToken()"
**Description**
Today I tried to convert my old `simple_preauth` authenticator to use the new Guard system for API key authentication.

While implementing my new Guard authenticator, I ran into a problem: I need access to the credentials (i.e. the API key) in `AuthenticatorInterface#createAuthenticatedToken()`. However, `createAuthenticatedToken()` only has the `$user` and a `$providerKey` as para

[2019-02-25 00:08] iliyaZelenko commented on #30280
@nicolas-grekas @ismail1432 Hi, thanks for the replies. I worked all this week on resolving this issue and created my github package in which this feature is implemented, it complements the `server: dump` 👍 .

Here's a video of how this works: https://www.youtube.com/watch?v=OERq-XUUxZQ

I think it can help many developers. I would be very grateful if you post a link to this package somewhere in t

[2019-02-25 07:01] fabpot commented on #30215
For the record, plural in French starts at 2. So, it's "2 litres" but "1.5 litre". So, nothing is obvious when it comes to languages :)

[2019-02-25 07:30] B-Galati commented on #30089
@nicolas-grekas Definitely!

[2019-02-25 07:33] antonch1989 commented on #30369
I could take this one, in case this feature is needed

[2019-02-25 08:39] evs-xsarus commented on #30256
A possibility would be to use CSS tooltips instead of the 'text' attribute. This could be done completely in CSS.

- https://www.w3schools.com/howto/howto_css_tooltip.asp
- https://www.bitdegree.org/learn/css-tooltip
- https://cssreset.com/create-a-simple-yet-stylish-tooltip-using-css/

[2019-02-25 08:43] nicolas-grekas commented on #30256
I think https://github.com/symfony/symfony/pull/30301 provides a less intrusive solution: click to source then copy paste.

[2019-02-25 08:45] vasilvestre opened #30373 "ichrusciel/api-test-case not compatible with phpunit bridge"
**Symfony version(s) affected**:4.2

**Description**
After require of api-test case I got this error :
[code]

**How to reproduce**
New flex install
composer require --dev phpunit
composer require --dev lchrusciel/api-test-case
Launch a test that extend api test case

[2019-02-25 08:48] ro0NL commented on #30373
see #30085, #30055

[2019-02-25 08:49] kylekatarnls commented on #30215
Yes @fabpot it's exactly the point. Singular in French is `-2 > x < 2`, in English, it's `x !== -1 and x !== 1`.

Those rules include decimal numbers, so you can't be accurate using `int` typing.

NB: `1.0 miles` is also plural while `1 mile` is singular. But I guess this very particular case could be omitted.

[2019-02-25 09:01] vasilvestre commented on #30373
Hm okay, thanks. Is there a temporary workaround?

[2019-02-25 09:07] nicolas-grekas commented on #28423
:-1: on my side: "declare strict" is a purely internal thing with no practical implication on the API side, except unwanted ones (see the previous comment). The hard part in maintaining Symfony is moving the public API forward - internal strictness is almost never an issue - and if it is, it is usually quickly spotted and fixed.

[2019-02-25 09:12] nicolas-grekas commented on #28148
Closing as there is no activity here.

[2019-02-25 09:12] #28148 closed

[2019-02-25 09:14] nicolas-grekas commented on #28305
Closing as it seems this has been resolved as "nothing to fix".

[2019-02-25 09:14] #28305 closed

[2019-02-25 09:24] evs-xsarus commented on #30256
That's true I believe. Will have to see if that solution is suffice. The reason I want to copy the tooltip is so I can lookup the class in my IDE.

[2019-02-25 09:29] nicolas-grekas commented on #27949
If anything, this could be handled at the recipe level: we could set `display_errors` to `0` during early bootstrap, then turn it to `1` once the kernel is created (of just before it is). If this is considered too risky, we could do that only for the `bin/console` script, so that at least there is one place that screams.
I'm closing as there is nothing to fix in Symfony itself.
PR welcome on https

[2019-02-25 09:29] #27949 closed

[2019-02-25 09:32] nicolas-grekas commented on #30256
Perfect, this is resolved then. Thanks for proposing.

[2019-02-25 09:32] #30256 closed

[2019-02-25 09:33] #27615 closed

[2019-02-25 09:45] #27419 closed

[2019-02-25 09:48] nicolas-grekas commented on #27354
Doc PR welcome.

[2019-02-25 09:48] #27354 closed

[2019-02-25 09:50] nicolas-grekas commented on #27242
Doc PR welcome.

[2019-02-25 09:50] #27242 closed

[2019-02-25 09:52] nicolas-grekas commented on #26822
Closing due to lack of activity.

[2019-02-25 09:52] #26822 closed

[2019-02-25 09:54] nicolas-grekas commented on #26673
Is this still the case with recent projects? Flex and recipes changed a lot recently in related parts.

[2019-02-25 10:05] nicolas-grekas commented on #25693
Closing as this won't get approved.

[2019-02-25 10:05] #25693 closed

[2019-02-25 10:06] nicolas-grekas commented on #25371
Closing due to lack of activity, please send a PR if this is important enough to you.

[2019-02-25 10:06] #25371 closed

[2019-02-25 10:09] nicolas-grekas commented on #25362
Closing due to lack of activity.

[2019-02-25 10:09] #25362 closed

[2019-02-25 10:10] nicolas-grekas commented on #25173
Env vars are by definition for runtime. If you need something configurable that should be used at compile time, you can use parameters instead.
Closing as this is the expected behavior.

[2019-02-25 10:10] #25173 closed

[2019-02-25 10:12] #25139 closed

[2019-02-25 10:12] fancyweb commented on #30221
Providing a custom callable that does the comparison would be too slow I guess?

[2019-02-25 10:14] nicolas-grekas commented on #25005
Closing as everything is well described here, and that's how things work.

[2019-02-25 10:14] #25005 closed

[2019-02-25 10:15] nicolas-grekas commented on #30221
Slow and more importantly too complex to use to me: it's not like there are thousands of ways to filter namespaces - or maybe there are but we should first seek for the simplest way to solve the issue, DX wise.

[2019-02-25 10:18] #24117 closed

[2019-02-25 10:20] nicolas-grekas commented on #23771
Too much work, too little benefit, and too little activity.

[2019-02-25 10:20] #23771 closed

[2019-02-25 10:23] fabpot commented on #23771
One can use the new Symfony CLI as well: https://symfony.com/download.

[2019-02-25 10:24] ismail1432 commented on #30250
I tried many things without any success :cry:
I will close this one in favor of @lyrixx tips :smile:

[2019-02-25 10:24] #30250 closed

[2019-02-25 10:24] #22118 closed

[2019-02-25 10:26] #21355 closed

[2019-02-25 10:27] lenar commented on #14716
One phrase comes to mind: Rename "Options" to "Named Arguments"or something like that without the
ordering requirement of standard arguments. That way the semantics of word 'options' won't be showstopper. Much more useful.

[2019-02-25 10:28] nicolas-grekas commented on #19856
Is there any Ci provider out there we could use to test on ARM?
If not, then someone could contribute the fix, but we are blind on the topic right now, so we should close.

[2019-02-25 10:29] #19706 closed

[2019-02-25 10:31] #17201 closed

[2019-02-25 10:38] nicolas-grekas commented on #14380
Is this still relevant?

[2019-02-25 10:39] nicolas-grekas commented on #14459
so, we'd need `->listNode()`?

[2019-02-25 10:40] stof commented on #30221
another idea: rely on the file location of the class, and consider files from the same composer package ?
We would have to see how that affects Symfony (we might have cross-component deprecations getting hidden today due to that) but that might be good to solve that, especially as we want our components to allow installing next major of their deps when possible.

[2019-02-25 10:40] javiereguiluz commented on #25303
I'm closing this as "won't fix" because it's been solved differently: simplifying docs and encouraging to use Guard authenticators instead of the old fomr_login config, which is where we showed this config.

[2019-02-25 10:40] #25303 closed

[2019-02-25 10:41] fancyweb commented on #30221
Can you explain your idea of passing an array with original namespace => remapped namespace with my example plz because I don't get what I would put as the remapped namespace.

Just passing an array of namespaces that always trigger the deprecations seems like the easiest way to me. In my example you would do `Debug::enable(['Drupal\your_module_name'])`

[2019-02-25 10:48] nicolas-grekas commented on #9226
Closing as there is nothing to keep track of in the Symfony repo. See php bug above.

[2019-02-25 10:48] #9226 closed

[2019-02-25 10:49] nicolas-grekas commented on #9226
ping @jpauli or @pmmaga maybe if you want to have a look at the PHP bug?

[2019-02-25 10:52] nicolas-grekas commented on #10557
What about adding `RequestStack::getSession()` to fix this issue?

[2019-02-25 10:54] mpdude commented on #14380
I'd suggest we close it. The project I was working on back then currently has other priorities. If this comes back to my agenda, I'd open a new issue?

[2019-02-25 10:57] javiereguiluz commented on #15873
Closing as fixed:

* SimpleFormAuthenticationListener was deprecated in Symfony 4.2: https://github.com/symfony/security/blob/4.2/Http/Firewall/SimpleFormAuthenticationListener.php#L32
* SimplePreAuthenticationListener was deprecated in Symfony 4.2: https://github.com/symfony/security/blob/4.2/Http/Firewall/SimplePreAuthenticationListener.php#L34

[2019-02-25 10:57] #15873 closed

[2019-02-25 10:57] nicolas-grekas commented on #14380
Thanks, sure.

[2019-02-25 10:57] #14380 closed

[2019-02-25 10:58] lyrixx commented on #10557
@nicolas-grekas Initially, I thought about `SessionStorage::getSession()`, but the `RequestStack` is a very good idea :+1:

[2019-02-25 11:01] javiereguiluz commented on #16548
I'm closing this as "won't fix" because I think that in modern controllers we are very far from this ContainerAware thing and accessing the entire container ... but please reopen this if you think my reasoning is wrong. Thanks.

[2019-02-25 11:01] #16548 closed

[2019-02-25 11:15] nicolas-grekas commented on #30221
@stof, unfortunately, that wouldn't fix the case of Drupal, which is the one this issue has been created for.

@fancyweb E.g. `['Drupal\your_module_name' => 'your_module_name']` - the right side doesn't need to exist - it would only be used to group prefixes together. In this case for moving a specific subnamespace out of a root one, but it could also allow for joining a subnamespace with a root o

[2019-02-25 11:22] #28872 closed

[2019-02-25 11:34] javiereguiluz commented on #8606
Closing as fixed by #14673. It's not fixed "automatically" (you must implement the actual code yourself) but #14673 provides the means to do so more easily than before.

[2019-02-25 11:34] #8606 closed

[2019-02-25 11:37] fabpot commented on #28423
👎 from me as well on `declare strict`.

[2019-02-25 11:41] tarjei commented on #26673
@zairigimad  I seem to remember that it wasn't just an issue with the webserver bundle not being enabled, but that the webserver bundle hardcoded the environment somehow.
T

[2019-02-25 11:58] javiereguiluz commented on #11158
Closing as fixed by #14673 thanks to the `authenticateUserAndHandleSuccess()` method: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Guard/GuardAuthenticatorHandler.php#L87

[2019-02-25 11:58] #11158 closed

[2019-02-25 12:01] alcaeus commented on #28423
While I don't agree with them, I accept your opinions. - maybe we can revisit this when the last Symfony version that supports PHP < 7 is no longer supported.

[2019-02-25 12:01] #28423 closed

[2019-02-25 12:09] nicolas-grekas commented on #27787
@gonzalovilaseca correct!

[2019-02-25 12:17] linaori commented on #10557
The Session is bound to your HTTP layer, so whenever you need it somewhere, you can _always_ pass it as method argument if you really need to modify the session contents in another layer. If you _really, really_ want to modify the session in listeners that do not have a direct access to the request, you can always retrieve it from the current request via the request stack.

If the events do not co

[2019-02-25 12:28] Koc commented on #29468
Will check later, but setup doc doesn't say that Flex should be installed globally:
* https://symfony.com/doc/current/setup.html

* https://symfony.com/doc/current/setup/flex.html

[2019-02-25 12:39] nicolas-grekas commented on #29468
Installed globally, Flex will not install recipes, that's why you need it in your project.
But when installed globally, it will still provide the // downloader.

[2019-02-25 12:41] nicolas-grekas commented on #10557
We should then ensure subrequests have the session, or tell about `getMasterRequest()->getSession()` instead. Any blocker to deprecate the session service then? PR welcome if not.

[2019-02-25 12:49] linaori commented on #10557
Considering there are enough work-arounds, it seems that that it can be deprecated as service. Worst case scenario, provide an alternative solution to show how to register the Session as service using a factory in the DIC.

[2019-02-25 13:05] lyrixx commented on #10557
Yes, it's a shortcut, but a convenient one. That's why I'm in favor to add it to the request stack

[2019-02-25 13:12] mathroc commented on #25173
@nicolas-grekas I understand that's the expected behavior, this was a feature request to add support for using env vars at compile time, eg: for a docker image I'd like to use environment variables when compiling the app container instead of having to create a paramters.yaml file

I thought that the `%compile:env(MY_VAR)%` would make it clear that this env var would not be read at runtime

the env

[2019-02-25 13:13] fabpot commented on #10557
I like the `RequestStack::getSession()` shortcut as well.

[2019-02-25 14:03] dsentker commented on #30289
I suggest "without" instead of "with not". It's easier to read and easier to understand.

[2019-02-25 14:59] LeoWyatt666 opened #30376 "Add CardScheme "MIR""
**Description**
Add CardScheme ["MIR"](https://en.wikipedia.org/wiki/Mir_(payment_system))

[2019-02-25 15:32] fabpot commented on #30376
Can you create a pull request? Nobody will do it otherwise.

[2019-02-25 15:33] #30174 closed

[2019-02-25 16:04] #20824 closed

[2019-02-25 16:04] oliverde8 commented on #30369
I don't agree with this, the security shouldn't be configured on the route.

[2019-02-25 16:06] fabpot commented on #30369
And anyway, this is not possible to implement. So, let's close.

[2019-02-25 16:06] #30369 closed

[2019-02-25 16:43] iluuu1994 commented on #30289
I chose `with not` for two reasons:

1. Both are already keywords and used extensively in Twig
2. By having two keywords you add and remove templates simultaneously `{% form_theme ... with [...] not [...] %}`

[2019-02-25 16:51] Rbtsv2 opened #30378 "SYMFONY 4.2.3 [Security] JSON login is not working as expected"
**Symfony version(s) affected**: 4.2.3

**Description**

In the POSTMAN software I write in the body the identifiers and password in json format to receive a JWT security token. Recently, I receive this type of message:

_The controller must return a "Symfony\Component\HttpFoundation\Response" object but it returned null. Did you forget to add a return statement somewhere in your controller?_

**H

[2019-02-25 16:58] iluuu1994 commented on #30289
I created a [POC](https://github.com/symfony/symfony/compare/master...iluuu1994:feature/form-theme-not) a few days ago. Not sure if this will be possible without a BC break.

[2019-02-25 16:58] derrabus commented on #10557
If we remove the service, can we make it so that controller actions that type-hint for `SessionInterface` still receive the session?

[2019-02-25 17:01] linaori commented on #10557
@derrabus What do you mean exactly? The `SessionInterface` will not be removed

[2019-02-25 17:20] antonch1989 commented on #30376
@LeoWyatt666, @fabpot  I've created the pull request. Sorry if I did this too fast, next time I'll notify an issue creator before starting working on it

[2019-02-25 17:27] ThomasLandauer commented on #30316
I updated the Swift Mailer docs about the special characters: https://github.com/symfony/symfony-docs/pull/11054

And I suggested to change the syntax in Swift Mailer Bundle: https://github.com/symfony/swiftmailer-bundle/issues/276
Main reasons for suggesting Swift Mailer to adopt Doctrine's syntax (and not vice versa):
* Swift Mailer is inconsistent in itself, since it's already using the Doctrin

[2019-02-25 17:27] #30316 closed

[2019-02-25 17:54] derrabus commented on #10557
@linaori No, but the `SessionInterface` service will. I wasn't sure if controllers type-hinting for the interface depend on autowiring via `controller.service_arguments` to receive the session, but this is apparently not the case thanks to `Symfony\Component\HttpKernel\Controller\ArgumentResolver\SessionValueResolver`. So, those controllers will continue to work without the session service. 👍

[2019-02-25 18:40] dmaicher commented on #30366
See https://github.com/symfony/symfony/pull/30379

[2019-02-25 19:12] Rbtsv2 commented on #30378
I found a temporary solution but not pretty :

   /**
    * @return Response
    */
    public function login(Request $request)
    {
      if ($request->isMethod('post')) {

        $user = $request->request->get('username');
        $pass = $request->request->get("password");

        $user = $this->getDoctrine()
            ->getRepository('App:Utilisateurs')
            ->findOneBy(['email' =>

[2019-02-25 20:54] xabbuh commented on #30378
Can you create a small example application that allows to reproduce your issue?

[2019-02-25 21:02] xabbuh commented on #30315
@antonch1989 If I understand the request correctly, the goal would be that instead of

[code]

you could use this:

[code]

[2019-02-25 21:39] xabbuh commented on #16368
I am a bit lost here. I tried to reproduce but did not manage to do so. Can any of you create a small application that allows to reproduce it?

[2019-02-25 21:40] chalasr commented on #30378
The request `Content-Type` header must be set to `application/json` when using the `json_login` listener.

[2019-02-25 21:52] patrick-mota commented on #28140
I got a bug like this one recently (but more weird with a custom color making console unreadable) in a ssh client in Windows 10.
I'm gonna try to fix it this week and if I can't I'll post my results.

[2019-02-25 22:04] patrick-mota commented on #19856
We could use docker to build an arm container into a x64 system. ( https://play-with-docker.com ) could do the trick.
Otherwise using a Raspberry Pi ?

[2019-02-26 00:37] Rbtsv2 commented on #30378
The request is good "application/json" in Postman.

[2019-02-26 02:34] nicolas-grekas commented on #19856
Would you like to give it a try?

[2019-02-26 06:02] mekras commented on #16368
@xabbuh, as I've [wrote](https://github.com/symfony/symfony/issues/16368#issuecomment-159249951) issue is reproducible only with specific ICU and PECL timezonedb combinations. I'll try to create Docker file to reproduce this.

[2019-02-26 06:37] fox-hellraiser commented on #30376
@fapbot, @xabbuh, @javiereguiluz supporting MIR is the same as supporting world terrorism and help to avoiding sanctions imposed by the governments of EU and USA to Russia Federation. Citate from Wikipedia:

There is no place for politics, so just google WHY these sanctions were imposed.

[2019-02-26 07:40] javiereguiluz commented on #30376
@fox-hellraiser we don't talk about politics in this repo, so I'm not going to reply to this message. Sorry.

Also, I propose to lock this conversation because it's easy for this kind of discussions to end up in heated debates. We don't want to bring in politics to this tech project. Sorry again.

Note: we respect your freedom of speech so, if you want, you can continue this debate about "politics

[2019-02-26 08:28] inmarelibero commented on #29858
@nicolas-grekas here you are: https://github.com/symfony/symfony/pull/30383

[2019-02-26 08:50] kix commented on #30328
@ismail1432, PHP version affected is `7.3.1`

[2019-02-26 09:29] ro0NL opened #30384 "Dumping Twig_Environment broke"
**Symfony version(s) affected**: 4.3 aka master

**Description**

Consider

[code]

In 4.2 the service is correctly dumped to screen, since 4.3 i get:

[code]

The invalid callback at this point is:

[code]

cc @nicolas-grekas

[2019-02-26 10:18] patrick-mota commented on #19856
Sure, I'll do it in a Raspberry Pi directly because if I go with docker I'll have to install qemu and I'm not sure I can do it in the labs website.

[2019-02-26 11:52] javiereguiluz commented on #20076
I agree with the latest comment from @xabbuh. This is also one of the "best practices" recommended by Symfony about i18n: https://symfony.com/doc/current/best_practices/i18n.html#translation-keys Including the original content in all translation files may look convenient at first ... but if you have several translation files, it's cumbersome ... because whenever you want to tweak the original tran

[2019-02-26 11:52] #20076 closed

[2019-02-26 12:01] javiereguiluz commented on #24862
Closing as "fixed" because the most recent MimeTypes class contains this:

https://github.com/symfony/symfony/blob/91c5b14d8b6e9016c31d46ad8576ecf0ce836221/src/Symfony/Component/Mime/MimeTypes.php#L901

[2019-02-26 12:01] #24862 closed

[2019-02-26 15:32] lyrixx opened #30386 "Parse YAML file and inject it at build time"
**Description**

I saw many application with YAML parsing at runtime. I think we could help people with that, by parsing the file for them and inject the result instead.

**Example**
[code]

WDYT ?

[2019-02-26 16:10] mekras commented on #16368
I've found case which is reproducible without timezonedb installed. Tested with latest [symfony/form](https://github.com/symfony/form) and ICU 63.

[code]
Outputs:
[code]

[2019-02-26 16:23] xabbuh commented on #16368
This looks expected to me as the timezone of your `DateTime` object is probably not `Europe/Moscow`. Everything should be working as expected if you properly set it:

[code]

[2019-02-26 16:26] mekras commented on #16368
No, this does not help:
[code]
Output:
[code]

[2019-02-26 16:29] xabbuh commented on #16368
In https://github.com/xabbuh/symfony/tree/issue-16368 I have added a test case. This one passes on my computer. Can you check if that fails on yours?

[2019-02-26 16:39] mekras commented on #16368
@xabbuh, OK, but only tomorrow.

[2019-02-26 18:45] xabbuh commented on #30336
I tend to agree with @nicolas-grekas. However, if you really need this, writing a layer on-top of the `Session` class that leverages the PropertyAccess component should be doable in userland code.

[2019-02-26 23:53] GregOriol opened #30389 "[PropertyAccess] PropertyPathBuilder remove/append/remove fails by not resetting indexes"
**Symfony version(s) affected**: 4.2 and likely older (up to 2.x ?)

**Description**
I'm trying to use the PropertyPathBuilder and found this strange behavior: when you remove the last item from the path, append a new one and try to remove it, you get the "The offset %s is not within the property path", which doesn't seem correct

**How to reproduce**
[code]

**Possible Solution**
Having looked at

[2019-02-27 07:10] antonch1989 commented on #30315
oh, I see. I'll try again in this case, thanks for clarifying

[2019-02-27 07:57] xabbuh commented on #30389
Would you like to send a pull request (targetting the 3.4 branch)?

[2019-02-27 07:58] xabbuh commented on #30353
We simply do not evaluate parameters here if I don't miss anything. That would be a new feature.

[2019-02-27 08:45] bendavies opened #30391 "Decoration and autoconfigure exhibit poor DX with tagged services."
**Symfony version(s) affected**: 4.2.3

**Description**
I've come across an odd case which may be entirely "intended", but results in very poor DX which is hard to debug.

Basically,
1. if you decorate a service,
2. the decorated service has a tag
3. autoconfigure is enabled for your decorated service

you get some strange results which are confusing at first

**How to reproduce**
Reproducer:
http

[2019-02-27 10:23] dunglas commented on #30391
It looks like a bug to me. Only the outer service of the decoration hierarchy should be kept.

[2019-02-27 10:27] xabbuh commented on #30391
To me this looks expected. When decorating a tagged service, the tags of the service being decorated must not be lost.

[2019-02-27 10:30] dunglas commented on #30391
@xabbuh but service decoration is intended to replace the decorated service by the decorator. Here it's not what happens, because the same instance is registered two times. It affects the Serializer, but I'm sure it also affects many other passes using tags.

There is at least a bug in the Serializer, but I think that the issue is broader. What we could do is to exclude from internal compiler pass

[2019-02-27 10:34] mekras commented on #16368
@xabbuh, see [failures.txt](https://github.com/symfony/symfony/files/2909790/failures.txt)

[2019-02-27 10:35] tecnocat commented on #25157
Our solution was tricky, we _overwrapped_ the Symfony Environment variables (and DotEnv) component with a custom EnvVarProcessor, all our microservices always have 4 services inside up and running: **PHP-FPM**, **Nginx**, **Consul** and **Memcached**, with this scenario we follow this simply steps:

In **bin/console** we put this line (api is the name of the microservice):

[code]

In **bin/phpuni

[2019-02-27 10:41] xabbuh commented on #16368
What is the output of `php -i | grep ICU` on your system? Looks like this for me when tests are passing:

[code]

[2019-02-27 10:43] mekras commented on #16368
[code]

[2019-02-27 10:48] xabbuh commented on #16368
What I find weird is that not only the new test fails but also a lot of the already existing ones.

[2019-02-27 10:52] mekras commented on #16368
May be I'm doing something wrong? I ran tests using [this doc](https://symfony.com/doc/current/contributing/code/tests.html).

[2019-02-27 10:54] tecnocat commented on #24865
May be this help:

https://github.com/symfony/symfony/issues/25157#issuecomment-467811636

[2019-02-27 10:54] tecnocat commented on #25010
May be this help:

https://github.com/symfony/symfony/issues/25157#issuecomment-467811636

[2019-02-27 10:55] tecnocat commented on #24927
May be this help:

https://github.com/symfony/symfony/issues/25157#issuecomment-467811636

[2019-02-27 10:58] baer95 opened #30393 "[PhpUnitBridge] ClockMock does not mock gmdate()"
We would need this feature, and I can create a pull request to add it.

[2019-02-27 10:59] nicolas-grekas commented on #30393
Please do :)

[2019-02-27 11:05] markitosgv opened #30394 "Debug form type extensions in console"
Debugging form in console

[code]

Appears many times as type extensions configured with new getExtendedTypes method. May cause confusion thinking you've got this extension registered twice or something like that. I think a good option is to put nearby these lines the extended type.
What do you think?

Now

Type extensions
---------------

 * App\Form\Extension\HTMLPurifierTextTypeExtension
 * App

[2019-02-27 12:07] yceruto commented on #30394
I'd suggest display an unique list there since the main page is about general information only.

It'll be good to have this one too for type extension information.
[code]

Status: Reviewed

[2019-02-27 12:16] markitosgv commented on #30394
@yceruto thats a good idea

[2019-02-27 12:28] yceruto commented on #30394
Tip: All you need to solve the problem is to move this line out of the `foreach`:
https://github.com/symfony/symfony/blob/c0323bd24be5e35c7209735732798edc63a994f8/src/Symfony/Component/Form/DependencyInjection/FormPass.php#L107

Would you like to make the change?

[2019-02-27 12:34] yceruto commented on #30394
The target branch is `4.2` where the `getExtendedTypes` method was introduced.

[2019-02-27 13:19] stof commented on #30391
the issue here is that the original `serializer.normalizer.datetime` is tagged with some priority and registered accordingly. The fact that it gets decorated means that the App normalizer gets injected there (that's index 2 in your final array). but your own `App\Serializer\Normalizer\DateTimeNormalizer` is *also* tagged (by the autoconfiguration, and without priority). And so both `serializer.nor

[2019-02-27 13:20] stof commented on #30391
`bin/console debug:container --tag serializer.normalizer` does not allow debugging this case fully, because the original `serializer.normalizer.datetime`(reassigned to `App\Serializer\Normalizer\DateTimeNormalizer.inner` by the decoration pass) got inlined, and so does not appear in the output.

[2019-02-27 13:34] dunglas commented on #30391
It looks like the more pragmatic fix. Thanks for investigating!

[2019-02-27 13:42] nicolas-grekas commented on #30391
Looks sensible to me!

[2019-02-27 13:55] zim32 opened #30395 "Cache error while using anonymous class inside controller"
**Symfony version(s) affected**: 4.2.3

**Description**
I got error **Uncaught PHP Exception Symfony\Component\Cache\Exception\InvalidArgumentException: "Cache key "@anonymous" contains reserved characters {}()/\@:**
In my controller action method I am using anonymous class

[code]

I was able to fix this by using ordinary, not anonymous class, but I think it should be fixed somehow

[2019-02-27 14:11] markitosgv commented on #30394
ok @yceruto I make the change

[2019-02-27 15:26] tiagosimoesdev commented on #24688
72.0.3626.119 too ..

[2019-02-27 15:33] eborges78 commented on #30252
Hello, I tried to reproduce the bug but it works perfectly on my side.
Do you have more information to reproduce this bug?

[2019-02-27 15:42] xabbuh commented on #30395
Are you able to create a small example application that allows to reproduce this issue? That would probably help a lot in identifying the root cause for this.

[2019-02-27 16:26] zim32 commented on #30395
The issue is specific. I was trying to provide data to form using anonymous class, which serves as a data wrapper. I think somewhere in form code, it is trying to work with cache, and throws this error. Only in prod env.

Please tell me if you need example application if you don't figure out how to reproduce.

[2019-02-27 16:54] cybernet opened #30398 "Symfony Form doesn't like special characters when expanded = true"
**Symfony version(s) affected**: 4.2.3

**Description**
Symfony Form doesn't like special characters when expanded = true in a EntityType field

**How to reproduce**
[code]

**Possible Solution**
change expanded to false
it would work with the same data

**Additional context**
I have a category name that contains " **!** "

[2019-02-27 17:05] xabbuh commented on #30395
Yes, please create such an example application.

[2019-02-27 17:06] xabbuh commented on #30398
What do you mean with "doesn't like special characters"? What's the behaviour you see? What did you expect instead? How can we reproduce it?

[2019-02-27 17:16] cybernet commented on #30398
![expanded](https://user-images.githubusercontent.com/125879/53508975-c37f4b80-3ab2-11e9-8ad2-59185cee6a4a.png)

1. Create a Form
2. Add a field ( EntityType )
3. make sure that what you choose to show has " **!** " in it's name ( like " **My F!rst Category** " )
4. set expanded = **false**

_it will work flawlessly_

go back to step number 4
change expanded = **true**
now you should see the scree

[2019-02-27 17:46] yceruto commented on #30398
If expanded = true the name becomes the HTML `<input name />` attribute of the radio input (or checkbox if multiple) which deals with some ASCII limitations according to W3 standard and so this behavior is expected.

Probably what you wnat to use `choice_label` option instead?

[2019-02-27 18:45] cybernet commented on #30398
so i can' create radio buttons with special characters ? really ?

[2019-02-27 18:56] philraj commented on #14716
The fact that arguments can be optional makes it hard to believe the argument that "options" are for optional values and arguments are better for required values. "Named arguments" is a better term, like @lenar and others suggest.

[2019-02-27 19:33] dmaicher opened #30400 "[Cache] ProxyAdapter & TagAwareAdapter don't work together"
**Symfony version(s) affected**: 3.4 until master

**Description**
When wrapping an adapter inside a `ProxyAdapter` its impossible to use it within a `TagAwareAdapter`.

**How to reproduce**
[code]

==>

[code]

So the actual value of the cache item is replaced by its tags.

@nicolas-grekas I tried to have a look and it seems to be related with the mysterious `$innerItem` of a `CacheItem`. If you

[2019-02-27 19:34] yceruto commented on #30398
Yes, you can, try with `choice_label` option instead of `choice_name`.

[2019-02-27 19:45] stof commented on #30398
`choice_name` controls the name of the child Form object, and we indeed have restriction on valid form names.
You almost never need to customize that one for a ChoiceType. And you need to account for its restriction. Labels (`choice_label`) and values (`choice_value`) can be what you want though (but be careful that EntityType has some builtin optimization when you let it use the primary key for `

[2019-02-27 21:51] inmarelibero commented on #23779
I tried to replicate the bug here, with:

[code]

but option `--no-ansi` seems to work correctly

without `--no.ansi`:
<img width="641" alt="schermata 2019-02-27 alle 22 48 11" src="https://user-images.githubusercontent.com/254808/53525449-16bcc280-3ae2-11e9-89c2-f605ba9de74c.png">

with `--no.ansi`:
<img width="713" alt="schermata 2019-02-27 alle 22 48 33" src="https://user-images.githubuserconte

[2019-02-27 22:12] fancyweb opened #30402 "[Routing][ServiceRouterLoader] Use a private service"
When using a service router loader (`type: service`), the service has to be `public`. It would be nice if it was not mandatory (to follow Symfony good practices).

The implementation I thought of would be to tag custom router loader services with a new tag, to be able to inject them in the `ServiceRouterLoader` service in a second "private" service locator. Creating another loader for private serv

[2019-02-28 06:43] ismail1432 opened #30404 "[Validator] Get good values"
**Description**
When validate an array with the `All Constraints`  There is no native way to get good values. I propose to add a method to get them

**Example**
[code]

WDYT ?

[2019-02-28 09:08] eborges78 commented on #30384
Hello, I can't reproduce the bug
In 4.2 and 4.3, the service is correctly dumped to screen.
Do you have more information to reproduce this bug?

[2019-02-28 09:34] ro0NL commented on #30384
try `symfony/var-dumper:^4.3` :)

[2019-02-28 09:35] xabbuh commented on #30378
Can you then please create a small example application that allows us to reproduce what you experience?

[2019-02-28 09:38] ro0NL commented on #30384
https://github.com/ro0NL/symfony-issue-30384

[2019-02-28 09:41] Rbtsv2 commented on #30378
Yes I can but,
This is a very big project, can you specify the files to transmit ? ( composer.json .. all controllers  ..)

[2019-02-28 09:54] xabbuh commented on #30378
I think the best would be to start with the Symfony website skeleton and modify it as needed to be able to experience the issue you describe.

[2019-02-28 10:25] Rbtsv2 commented on #30378
Exactly, I will initiate a new project with the necessary extensions and target the problem, perhaps due to a confrontation or misconfiguration on my part. I'm trying to do it quickly before the end of this week.

[2019-02-28 11:23] zim32 commented on #30395
Unfortunately I have no time to create separate application.
The problem is that Cache system can not work with anonymous classes.

Maybe this is not a bug but just requirement not to use anonymous classes with cache system at all.

Screenshot
http://i67.tinypic.com/wcog1y.png

[2019-02-28 11:42] nicolas-grekas commented on #30395
Can you please share the full stack trace of the error?

[2019-02-28 12:32] zim32 commented on #30395
Yeah. But only in image format, sorry.
https://ibb.co/fkhZg5h

[2019-02-28 12:41] fbourigault opened #30407 "[Serializer] Deprecate PropertyNormalizer::isAllowedAttribute"
I would like to deprecate `PropertyNormalizer::isAllowedAttribute` as this method should not be override the `AbstractNormalizer::isAllowedAttribute`.

The extra `$reflectionProperty->isStatic()` check could easily introduced in `PropertyNormalizer::extractAttributes` (like in other normalizers).

I tried to implement this but don't know how to deprecate the `PropertyNormalizer::isAllowedAttribute

[2019-02-28 14:06] eborges78 commented on #30384
OK, I can reproduce this bug only if the debug-bundle package is installed :-)

[2019-02-28 14:59] #29858 closed

[2019-02-28 15:01] albingi commented on #25736
You can add this header'Symfony-Session-NoAutoCacheControl' in the response to force to use your Cache-Control :
https://github.com/symfony/http-kernel/blob/master/EventListener/AbstractSessionListener.php#L83-L90

[2019-02-28 15:39] SerheyDolgushev commented on #28339
I came across this issue today. Spend almost all day trying to debug it. And at this point, it doesn't look like it is something PSR-4 related.
I assume all of us are using `Symfony\Component\Console\Command\Command` in order to run some `pthreads` magic. As latest (v3) `pthreads` works only in PHP `cli` mode. So if i put following code at the top of `execute` of my command, it fixes the issue:
[c

[2019-02-28 16:07] fholbrook commented on #28339
After spending a few days on it, I gave up. I ended up reworking my code to use rabbitmq and the messenger component to handle async tasks.

[2019-02-28 16:08] SerheyDolgushev commented on #28339
Sorry, do you have an old copy of your code? Just to check if `
setExceptionHandler(null)` fixes it?

[2019-02-28 16:59] lolmx commented on #30367
Indeed it would be nice!

I'm not really fan about custom transport just for context serialization, this sounds to me like a 100% middleware job. Also if in one's project there already is a custom transport he wouldn't have any benefit and would still need to handle it by himself.

I like the idea of a `RequestContextStamp` to access that data, we do not change message, but enrich envelope.

Would

[2019-02-28 17:04] SerheyDolgushev commented on #28339
If somebody is still interested, we made a bundle: https://packagist.org/packages/contextualcode/threads#v1.0.0

[2019-02-28 17:07] versh23 opened #30411 "[PhpUnitBridge] SYMFONY_DEPRECATIONS_HELPER env is empty in bootstrap"
**Symfony version(s) affected**: 4.2.3

**Description**
i run a `bin/phpunit` and see a deprecation message
`Remaining deprecation notices (12)`.

i want to disable it and i edit .env.test
`SYMFONY_DEPRECATIONS_HELPER=disabled`
but the message is still appears.

so, i dumped here
https://github.com/symfony/phpunit-bridge/blob/master/bootstrap.php#L38
and SYMFONY_DEPRECATIONS_HELPER return false.

[2019-02-28 17:34] ro0NL commented on #30384
Btw, discovered while dumping a value that holds a twig env instance. So should be checked for too :)

I tried following the code path, but gave up eventually :}

[2019-02-28 18:35] fancyweb commented on #30221
Thank you, I get your idea now. I like since it gives more flexibility. I will work on the implementation.

[2019-02-28 18:44] patrick-mota commented on #19856
Didn't had time to try on my raspberry but I tried on my phone via termux (what a time to be alive).

I did the following (like symfony doc testing)
1- Clone symfony repository
2- composer update
3- php ./phpunit symfony

And got some errors:
FAILURES!                                               Tests: 1221, Assertions: 2247, Failures: 6, Skipped: 345.

I'm gonna post more details when I get my

[2019-02-28 22:53] rybindmitriy opened #30412 ""This value should be of type array." on multiple select field"
**Symfony version(s) affected**: 4.2.3

**Description**
Submitting form with multiple select generates error "This value should be of type array." on this select.

**How to reproduce**

Product entity:

[code]

Category entity:

[code]

Product type:

[code]

Category repository:

[code]

**Possible Solution**

**Additional context**

[2019-02-28 23:58] TomasVotruba commented on #30054
@nicolas-grekas Thanks for spreading the word :+1:

@adigoun2005 You're request and need is legit!

This is for you: [How to Upgrade Symfony 2.8 to 3.4](https://www.tomasvotruba.cz/blog/2019/02/28/how-to-upgrade-symfony-2-8-to-3-4/)

[2019-03-01 09:20] xabbuh commented on #30412
What is the data that you submit? Can you create an example application that allows to reproduce?

[2019-03-01 09:20] nicolas-grekas commented on #28628
See #30413

[2019-03-01 09:21] #28628 closed

[2019-03-01 09:25] Nsbx opened #30415 "[Console] Corrupt output"
First i'm sorry if an issue already exist i made research but i have found nothing about this. (And the problem is so strange that I didn't really know what to type to find something similar)

**Symfony version(s) affected**: 4.2.3

**Description**
Sometime when i use the symfony console, the output is completly corrupt like this :
![image](https://user-images.githubusercontent.com/8930930/5362847

[2019-03-01 09:34] rybindmitriy commented on #30412
[code]

That's all

[2019-03-01 09:44] dunglas commented on #30391
Can you test if #30417 fix your issue @bendavies please?

[2019-03-01 09:56] xabbuh commented on #30412
I would really appreciate if you could create a small example application that allows to reproduce the issue. Wiring this ourselves is quite cumbersome and not likely to happen soon.

[2019-03-01 12:19] javiereguiluz commented on #30415
As you have guessed, without a "bug reproducer" it's going to be very hard to try to fix this ... unless someone using Windows faced the same issue in the past and can provide a hint to us. Let's wait and see.

[2019-03-01 12:45] mehlichmeyer opened #30420 "The LogicException in WebTestCase.php is not correct."
**Symfony version(s) affected**: 4.2

**Description**
In the WebTestCase class there is an error with the LogicException that is being thrown. The message is hardcoded to "You cannot create the client used in functional tests if the BrowserKit component is not available. Try running "composer require symfony/browser-kit".".
This error can however also occur if the browser-kit is installed.

**How

[2019-03-01 12:59] rybindmitriy commented on #30412
Can i upload my local files to github and send link?

[2019-03-01 13:01] xabbuh commented on #30412
Sure, you can create a new repository and link to it.

[2019-03-01 13:13] Nsbx commented on #30415
Yeah i know :(
I will try this week-end to find a way to replicate the bug.

[2019-03-01 13:56] ro0NL commented on #30420
Can you explain how the `test.client` service definition is related to _phpunit configuration in phpstorm_? What exactly did you had to do besides installing browser-kit?

[2019-03-01 14:27] Rmy5 opened #30421 "Custom GuardAuthenticator doesn't set remember me cookie"
**Symfony version(s) affected**: 4.2.0

**Description**
The GuardAuthenticator doesn't set a remember me cookie although  `supportsRememberMe()` returns `true` and `remember_me` is activated in the firewall.

**How to reproduce**
The route :
[code]
The GuardAuthenticator:

[code]

The security config:

[code]

**Possible Solution**

**Additional context**

[2019-03-01 14:37] rikojilani opened #30422 "this is my code compare to yours please http://henurl.com/code.zip"
this is my code compare to yours please
http://henurl.com/code.zip

[2019-03-01 14:51] bendavies commented on #30391
@dunglas it does

[2019-03-01 15:01] dimabory commented on #30099
@nicolas-grekas Do you aware something about this [`return`](https://github.com/symfony/symfony/blob/ff1727e2ee44d966a64379e90c58b5c54dc87140/src/Symfony/Component/Security/Http/Firewall/ExceptionListener.php#L134) statement? Looks like this produces an issue not only with redirecting, but also with custom access deniend handler (see #28229).

[2019-03-01 16:11] nicolasnoble commented on #30422
This is a malware. Please delete this issue.

[2019-03-01 16:22] #30422 closed

[2019-03-01 18:16] xabbuh commented on #30420
I think the error can also occur when the test client isn't enabled in the framework bundle config.

[2019-03-01 18:47] seritools commented on #27607
Even in 4.2 and master, this is still unresolved and makes the discriminatorMap pretty much unusable.

[2019-03-01 23:38] rybindmitriy commented on #30412
https://github.com/rybindmitriy/symf.git

[2019-03-02 03:36] antfarmer opened #30424 "Cannot use constructor dependency injection on autowired / lazy command"
**Symfony version(s) affected**: 3.4.22

**Description**
I would like to use dependency injection of services (logger, entityManager, etc.) via the constructor of some of my commands. The problem is when I declare a constructor (with or without including the name argument), the command is no longer automatically auto-registered in the container. I expect that because I'm using auto-wiring, the con

[2019-03-02 03:38] bravik opened #30425 "Comparing Users Manually with EquatableInterface"
**Symfony version(s) affected**: 4.2.3

**Description**
Documentation for user providers in section ["Understanding how Users are Refreshed from the Session"](https://symfony.com/doc/current/security/user_provider.html#understanding-how-users-are-refreshed-from-the-session)  says:

And then in next section:

However,
However the `UserInterface $user` passed to `isEqualTo()` comes not from serialli

[2019-03-02 07:39] xabbuh commented on #30424
Are your commands registered as services? Are they properly tagged as console commands? What output do you get when running `bin/console debug:container "AppBundle\Command\VersioningCommand`?

[2019-03-02 07:41] xabbuh commented on #30425
`$this->user` inside the token must be the old user when it calls `isEqualTo()`. Can you create an example application that allows to reproduce what you experience?

[2019-03-02 16:13] chalasr commented on #23779
I can't reproduce either, seems like this has been fixed meanwhile (https://github.com/humbug/php-scoper/issues/128 confirms it). Closing

[2019-03-02 16:13] #23779 closed

[2019-03-02 17:10] antfarmer commented on #30424
I get the no services found error, even when declaring the following in services.yml:
[code]
From this doc, https://symfony.com/doc/3.4/console.html#registering-the-command and https://symfony.com/doc/3.4/console/commands_as_services.html , I don't believe I even have to manually register the command; it should be auto-tagged as the resource directive should tell the container to pick up the comma

[2019-03-02 20:11] xabbuh commented on #30424
This doesn't look right to me. Can you create an example application that makes it possible to reproduce?

[2019-03-03 02:01] diepm opened #30426 "[TwigBridge][DebugCommand] Attempted to call an undefined method named "getNamespaces" of class "Twig_Loader_Chain"."
**Symfony version(s) affected**: 4.1 and 4.2 (have not tried with other versions).

**Description**

This happens when I use multiple Twig loaders and run `./bin/console debug:twig`. The error message is

    In DebugCommand.php line 249:

       Attempted to call an undefined method named "getNamespaces" of class "Twig_Loader_Chain".

**How to reproduce**

* Start a new Symfony project `composer

[2019-03-03 11:46] wouterj commented on #10557
So, I started working on this as I thought "it should not be that hard". But discovered the `\Symfony\Component\HttpKernel\EventListener\AbstractSessionListener` class, which does exactly the opposite of what is discussed here: if a session service is initialized, it makes sure it's set on the master request.

So that means we deprecate the `session` service in favor of `masterRequest#getSession()

[2019-03-03 12:11] AchillesKal commented on #30421
Hey @Rmy5
I looked at it a little bit and I found this:
[code]
So, I think you need to have a remember me checkbox or you need to have the `` always_remember_me: true `` configured in your firewall.

[2019-03-03 12:26] marcospassos opened #30428 "[DependencyInjection] Anonymous services are not removed along with the parent service"
**Description**
When a definition is removed, I expect nested anonymous services to be removed as well:

**How to reproduce**
[code]

Extension:
[code]

Compiling the container without `option` results in:

[code]

[2019-03-03 14:18] Rmy5 commented on #30421
Hi @AchillesKal

Ah, didn't see that in the docs:
https://symfony.com/doc/current/security/guard_authentication.html#guard-auth-methods

From what I understand a listener is waiting for the (by defautl) `_remember_me` param key to be set in the request.

In my case a solution would be to add the `?_remember_me=1` param to my urls.

[2019-03-03 15:11] sstok commented on #30415
I can remember a similar issue 🤔 are you using a different kind of encoding for your filesystem?

[2019-03-03 15:17] sstok commented on #30415
https://github.com/symfony/symfony/issues/22327

Try removing the vendor folder, and running composer install again. Clear the cache by removing the var/cache folder completely. I can't remember the original issue but I believe it had something to do with FTP binary mangling the file contents.

[2019-03-03 15:24] sstok commented on #30428
Due to the way services are parsed by the https://github.com/symfony/symfony/blob/101bfd79bfc9853e7935f2c87411516eda0a8b2f/src/Symfony/Component/DependencyInjection/Loader/XmlFileLoader.php#L417 (and Yaml also) Anonymous services are registered as regular services but with a unique id to reference them, so they are not embedded in the actual service that uses them.

I don't think this something th

[2019-03-03 15:35] yceruto commented on #30426
This bug can be solved if we ignore the information related to the loader when this is an instance of `ChainLoader`, but it would be better if we could iterate over the contained loaders (which is not possible now) and show the information of all `Twig\Loader\FilesystemLoader` registered. For this, we would need to do `ChainLoader` iterable or add a new `getLoaders()` method inside it.

Another al

[2019-03-03 15:58] marcospassos commented on #30428
In fact, the nested services will be removed as part of the optimization step. My point is that warning about a missing parameter is side effect, and completely unexpected.

[2019-03-03 16:19] nicolas-grekas commented on #30428
In a similar situation (AutowiringPass if I'm not wrong), we use `Definition::setError()` to solve this case. It should work here also if someone wants to have a look.

[2019-03-03 17:54] fabpot commented on #30426
In one of my project, I have something like this where I need to get the first filesystem loader:

[code]

I think it would make sense to expose the loaders from a Chain loader. I'm going to create a PR on Twig for that.

[2019-03-03 17:57] fabpot commented on #30426
see twigphp/Twig#2858

[2019-03-03 21:53] derrabus commented on #10557
@wouterj Either way, the session needs to be initialized somehow. At the moment, the container does this and the objective (as I understand it) would be to move that initialization somewhere else. That listener could be the place we're looking for.

Since the `session` service needs to be kept in Symfony 4 in order not to break BC, that listener will probably be kept as-is for now. All other servi

[2019-03-03 23:20] diepm commented on #30426
I expect the `getLoaders()` method as well. Thanks!

[2019-03-04 06:34] #30366 closed

[2019-03-04 06:36] #30389 closed

[2019-03-04 07:10] #28051 closed

[2019-03-04 08:04] steevanb opened #30432 "OptionsResolver error message with string[] as allowedTypes"
**Symfony version(s) affected**: 3.4, maybe other versions too (not tested)

**Description**
Error message when allowedTypes is an array contains `[]` but should not:
`The option "testme" with value array is expected to be of type "string[]", but one of the elements is of type "integer[]".`
It should be:
`The option "testme" with value array is expected to be of type "string[]", but one of the ele

[2019-03-04 08:25] xabbuh commented on #30432
Good catch, would you like to send a PR?

[2019-03-04 08:49] #30391 closed

[2019-03-04 09:07] virtualize commented on #30091
Symfony 4.2.4 was just released and I can confirm the this horrible bug still exists. Getting two different EntityManagers when using constructor injection in two different services (in my case a controller and an event listener).
Downgrading to symfony/dependency-injection": "4.2.2" solves it temporarily

I wonder why not more people report here, I guess this breaks a lot of applications...

[2019-03-04 09:17] #29775 closed

[2019-03-04 09:25] dimabory commented on #30099
@Jontsa Btw, you can just make `form_login: false` to prevent redirection https://github.com/Jontsa/security-http-example/blob/afee744e4b46e54275bfeee24adf66630024efd2/config/packages/security.yaml#L13

[2019-03-04 10:53] #30346 closed

[2019-03-04 11:23] dimabory commented on #30432
@xabbuh I took a look at **OptionsResolver** component. Can you or someone else confirm how an error message should look like?

For instance, the current implementation implies that this code
[code]

will throw an exception with message `The option "foo" with value array is expected to be of type "int[][]", but one of the elements is of type "boolean[][]".`
If we are good to go with `..., but one

[2019-03-04 11:32] xabbuh commented on #30432
For the example from the PR description the correct error message IMO indeed should be:

[2019-03-04 11:37] dimabory commented on #30432
I got it. Confirm case when allowed types consist multidimensional array notation (e.g. `string[][]`) and message should look like:

[2019-03-04 11:42] xabbuh commented on #30432
I would have expected an error message containing all invalid types:

[2019-03-04 11:44] dimabory commented on #30432
Hm, seems like it requires a huge effort. But I will see what I can do with it.

[2019-03-04 12:10] ro0NL commented on #30404
im not sure this belongs to the scope of a validator.

You can infer the good values from the bad ones thru `$uuidViolations` already.

[2019-03-04 12:25] yceruto commented on #30426
Draft PR in progress - waiting for the new Twig release https://github.com/symfony/symfony/pull/30440

[2019-03-04 15:50] xabbuh commented on #30398
I am closing here as there is nothing to change in the code. But we are trying to clarify this a bit in the documentation (see symfony/symfony-docs#11082).

[2019-03-04 15:50] #30398 closed

[2019-03-04 16:08] xabbuh commented on #30412
Thank you for providing this reproducer. Actually, what you experience is not a bug but just a misuse of the `Choice` constraint. This constraint can only validate arrays. If you remove this constraint (which is not needed as the `EntityType` will validate the submitted choices), everything will work as expected. So I am going to close here as there is nothing to fix.

[2019-03-04 16:08] #30412 closed

[2019-03-04 16:10] xabbuh commented on #30395
Just looking at the stack trace I don't know what causes this error or how to prevent it. Will you be able to provide an application that allows us to reproduce? Otherwise I suggest we close here as there isn't much we can do right now.

[2019-03-04 16:21] dimabory commented on #30252
I couldn't reproduce as well.

[2019-03-04 16:45] dtfafard opened #30443 "Translation File Generation"
Hi guys,

very small bug but that took me 4 hours to find the fix. When generating the files using :

`php bin/console translation:update --dump-messages --force fr`

It generates the files with the extension "yml" by default.

According to : [https://symfony.com/doc/current/translation.html#translation-resource-file-names-and-locations](https://symfony.com/doc/current/translation.html#translation

[2019-03-04 16:51] javiereguiluz commented on #18313
Closing as a duplicate of #13464.

[2019-03-04 16:51] #18313 closed

[2019-03-04 16:55] xabbuh commented on #30252
I ma closing here then. However, we can consider to reopen once we are able to reproduce. Thank you for understanding.

[2019-03-04 16:55] #30252 closed

[2019-03-04 18:39] antfarmer commented on #30424
Agreed, and this also seems to affect the auto-tagging of Twig Extensions as well. The app was upgraded from symfony 2.8 while using the Ocramius/ProxyManager for lazy loading. There must be some artifact from that setup that is affecting this. Another point is my commands extend from my own AbstractCommand class to centralize common functions; not sure if that has anything to do with it. Do I nee

[2019-03-04 18:45] xabbuh commented on #30424
Would it be possible to get access to the code of your application?

[2019-03-04 19:38] inmarelibero commented on #26714
Hi all, I'm currently working on https://packagist.org/packages/inmarelibero/gitignore-checker

can I try to propose an implementation of this issue?

[2019-03-04 20:07] #30306 closed

[2019-03-04 20:43] #30318 closed

[2019-03-04 21:07] GaryPEGEOT commented on #30443
Has been done on https://github.com/symfony/symfony/pull/27935 :)

[2019-03-04 21:41] alfidinouhail commented on #30196
Hello, as it is my first contribution on Symfony project, I'll take this one.

[2019-03-04 22:33] rybindmitriy commented on #30412
How can i change error message?

[2019-03-05 01:15] amaabdou commented on #26714
Hi @inmarelibero
I worked on implementation for this feature couple of days ago when I saw @nicolas-grekas tweet about help needed issues
but did not submit it because I can not find a place that have git-ignore to regex in any language checker to port to php, so I was trying to write as many tests as possible
when I saw your comment I got excited and pushed the code created MR maybe you have more

[2019-03-05 06:33] xabbuh commented on #30412
Try the `invalid_message` option.

[2019-03-05 06:36] bravik commented on #30425
I'm sorry. After a couple of days I couln't reproduce it. Everything is working as expected. Please delete this issue (

[2019-03-05 06:39] xabbuh commented on #30425
Thank you for the feedback. If you are experiencing this again, we can still reopen.

[2019-03-05 06:39] #30425 closed

[2019-03-05 07:52] rybindmitriy commented on #30412
Where i can read about this option? Because https://symfony.com/doc/current/reference/forms/types/entity.html says nothing :(

[2019-03-05 08:19] xabbuh commented on #30412
This is one of the options provided by the base `FormType` class: https://symfony.com/doc/current/reference/forms/types/form.html#invalid-message

[2019-03-05 09:50] ro0NL commented on #29574
For those interested: https://github.com/ro0NL/symfony-http-responder

[2019-03-05 09:59] #30196 closed

[2019-03-05 10:13] linaori commented on #29574
Thanks @ro0NL !

[2019-03-05 10:16] #28796 closed

[2019-03-05 10:47] zim32 commented on #30395
Ok I'm closing due to very specific cache usage (anonymous classes)

[2019-03-05 10:50] inmarelibero commented on #26714
@amaabdou ah great

I decided to implement a stand alone library (also due to the comment of @SpacePossum https://github.com/symfony/symfony/issues/26714#issuecomment-408604768) in order to be reusable everywhere and not too tied with Symfony

hint: unfortunately rules cannot be synthetized only with regex, as `.gitignore` does not follow straight regexes

we could split the work btw: you could wo

[2019-03-05 10:51] nicolas-grekas commented on #30395
Reopening, I'd like to have a look.

[2019-03-05 10:59] ghost opened #30449 "[WebProfilerBundle] ajax icon remains in red after success call"
Symfony version(s) affected: 3.0, 4.0

**Description**
When interacting with the UI and producing a ajax call that results in error, the ajax icon changes to red. After fixing the error and producing another ajax call which results in success (without refreshing the whole page), the toolbar icon remains in red, instead of changing to grey.

**Possible Solution**
Change the toolbar icon depending o

[2019-03-05 11:51] ro0NL commented on #30449
Currently it's red if at least one request failed, that's a reasonable point of view IMHO.

[2019-03-05 11:52] Tom32i commented on #27262
Hi there! I just submitted a draft pull request to implement the SVG graph renderer (4th point of the issue).

I'm still working on it and I welcome any thoughts or ideas on the subject.

[2019-03-05 12:05] deverad commented on #30449
I don't think the best solution for the developer UX. More than once I thought the request still fails, but only after hovering over the icon you see that it actually succeeded.

It that's the desired functionality by design, I will close the issue. Thanks

[2019-03-05 12:07] ro0NL commented on #30449
We can discuss it :) just pointing out the reason behind the current approach.

Played with this situation a bit and i can only understand your request :)

little tip: you can pin the ajax block (click on the icon), then it's always grey and you see incoming requests on the fly.

[2019-03-05 12:09] deverad commented on #30449
That's a nice touch.

[2019-03-05 13:53] makoso opened #30451 "Notice in dev environment using PUT with big request body"
**Symfony version(s) affected**: 4.2.2

**Description**
Notice in dev environment using PUT with big request body

**How to reproduce**
Make PUT request with long content (in my case content length: 17667)
Notice is generated there: https://github.com/symfony/http-foundation/blob/master/Request.php#L1526
with message Notice: file_get_contents(): file created in the system's temporary directory

In

[2019-03-05 14:34] evs-xsarus commented on #29628
@xabbuh is this issue waiting for my feedback or is someone else currently assigned to try to find the cause for this problem?

[2019-03-05 14:59] xabbuh commented on #29628
The bug is confirmed. But so far nobody cared enough (or at least didn't comment here) to look into the cause and try to fix it.

[2019-03-05 15:29] arnaud-lb opened #30452 "[DX] Is DX is focused on IDE autocompletion ?"
It's awesome to see Symfony having a goal of improving developer experience (DX). However, as seen on the communication around the new HttpClient and on the related [PR](https://github.com/symfony/symfony/pull/30413), it appears that this effort is mainly focused on making IDEs auto-completion nicer by reducing the number of symbols exposed to the user.

In order to support this effort, it appears