[2015-12-19 12:37] Tobion commented on #17072
You should use http://symfony.com/doc/current/cookbook/request/load_balancer_reverse_proxy.html so that symfony sees the requests as https. Then you do not have this problem.

[2015-12-19 12:53] WouterJ commented on #17030
@jakzal, why did you close this issue, as it's still a valid issue, isn't it?

[2015-12-19 13:45] jakzal commented on #17030
@WebDevTmas is it? The original reporter said it's not a Symfony issue. We also don't have a reproducible scenario.

[2015-12-19 15:08] xavierleune commented on #17054
@ewgRa for sure your proposition is interesting. But actually adding a new filter / parameter will ask a lot of code. And this will make more code to maintain.

@Nicofuma unfortunately, this doesn't work.

@jverdeyen thks for the link, it's interesting! I'd rather have this into a native standard edition.

[2015-12-19 17:56] iltar commented on #17054
I've never need the functionality before to be honest. In my opinion you should avoid overriding and extending 3rd party bundle templates and use embedding instead.

[2015-12-19 18:16] xabbuh commented on #17068
This indeed looks like a bug to me. The error message is:

[2015-12-19 19:06] xavierleune commented on #17054
@iltar Actually I surely can understand why you never used this functionality. But there is many cases where you need to override third party bundles (i.e look at sonata).
And to be completely honest, I need it everyday to override my own bundles. I think a lot of companies can have the same use case. For example when you produce an internal bundle but you need to customize a little the templating

[2015-12-19 20:16] iltar commented on #17054
@xavierleune I understand your point of view and my company had the same. We've decided to solve it differently though.
 - Is it a stand-alone template and doesn't require to extend the main template? Can be a self-sufficient template in the bundle with a controller.
 - Is it like a small re-usable part you'd like to include but with logic? Same as above but without extending anything
 - Same as a

[2015-12-19 20:52] IngwiePhoenix opened #17075 "Symfony/Yaml: objectSupport is ignored."
Testcase:
[code]

Output:
[code]
[code]

It seems that the documented `objectSupport` option is not being taken into consideration.

[2015-12-19 21:44] elnur opened #17076 "Add support for no alias in Doctrine ORM mapping"
In the case of entities out of bundles, I want to be able to have no alias at all. So that instead of `AppBundle:User` or `App:User` I could just use `User`. It just doesn't make sense to require an alias just for the sake of having one when you don't really need it. Doctrine itself supports it, so it should be possible to make it work with Symfony too.

Here's an example of what the configuration

[2015-12-19 23:29] ogizanagi commented on #17064
Hi @luispabon.
You should give a look to the book on symfony.com about ["Validating Values and Arrays"](http://symfony.com/doc/current/book/validation.html#validating-values-and-arrays).

In sf 3, you should simply use the `validate` method:
[code]

I guess the README.md file of the `symfony/validator` component should indeed be updated, though.

[2015-12-19 23:37] WouterJ commented on #17075
What you want is setting `objectForMap` (4th argument of `parse()` to true).

The objectSupport means that values starting with `!!php/object:` are treated as serialized objects.

[2015-12-20 00:21] IngwiePhoenix commented on #17075
I did a local change to my testcase above and set the fourth option to true - same result.

[2015-12-20 00:32] lainosantos opened #17077 "Add support to get env in custom router at server:start/server:run"
The commands server:start/server:run from FrameworkBundle have option to a custom router, however is not possible get the env options at the custom router.

[2015-12-20 03:12] dosten commented on #11742
@javiereguiluz Maybe we can create a new issue with the pending issues or rename this one to target 4.0

[2015-12-20 07:51] javiereguiluz commented on #11742
@dosten I think it would be better to create a new issue.

[2015-12-20 07:58] xabbuh commented on #17076
This configuration is part of the DoctrineBundle. Please suggest new features and report bugs in [their issue tracker](https://github.com/doctrine/DoctrineBundle).

[2015-12-20 08:14] xabbuh commented on #17075
I tried your example and this looks indeed like a bug to me.

Status: Reviewed

[2015-12-20 10:30] jakzal commented on #17065
How did you configure date type to get this exception? Indeed this is an invalid format as "m" means minutes here.

[2015-12-20 10:47] elnur commented on #17076
Are you sure about that? The logic is in the bridge: https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Doctrine/DependencyInjection/AbstractDoctrineExtension.php#L115-L119

[2015-12-20 11:11] tgabi333 commented on #17051
I think the question is: If i have a symfony application and a want to implement some real-time feature, how could i do it?

Long-poll ajax? Come on, nineties are gone.

Anyway we must change the webserver configuration for using websockets. No matter if we use nodejs or php.

In our symfony app we have everything we need for real-time: orm, services, response classes. I definetly want to use them

[2015-12-20 11:27] WouterJ commented on #17075
See https://github.com/symfony/symfony/pull/17079 for a fix

[2015-12-20 11:29] jakzal commented on #17077
Currently a router corresponds to a specific environment. What are you trying to do?

[2015-12-20 12:13] piotrantosik commented on #11293
Is there a agreement on adding extraction translations from PHP files, for example, controllers?
It needs this functionality, and I can write it.

[2015-12-20 13:28] weaverryan commented on #11293
I think we need this, and moreover a system where you can add your own extractors (I don't know if this exists now). If there's some external library (I'm not talking about JMS) that already does this well that we can leverage, all the better.

[2015-12-20 13:44] bitgandtter commented on #17034
Maybe the best way is to use the in_memory section of user defined and use it. That way no new sections need to be introduced and its all integrated. For SF will be really easy to read those users and its roles and display it on the toolbar

[2015-12-20 13:52] bitgandtter commented on #17051
I agree with @stof the main issue is how this two tech are used and certainly there is no good on introduce any websocket implementation into base SF when it does not fit into the apache or fpm/fast-cgi delivery system. In the other hand ReactPHP does provide non-blocking func event driven approach and Ratchet to provide websocket integration. At the end you can easily integrate Ratchet/ReactPHP w

[2015-12-20 15:44] yellow1912 commented on #17051
I don't think PHP at the moment is fit to run well with websocket, PHP is not (yet) working well in this type of environment. In our system we fallback to nodejs (and now GO) for this when we need it :)

[2015-12-20 18:34] david-fanin opened #17081 "[2.8][Form] Form type as a service in a controller"
Hello!

I updated a Symfony Project version 2.7 to version 2.8 and try to resolve all deprecations  by following this guide : https://github.com/symfony/symfony/blob/2.8/UPGRADE-2.8.md

I have this deprecation:

Due to the following code:
[code]

To remove this deprecation, I must indicate the FQCN like this:
[code]

But I need to pass a service to my form type.

So I tried to turn my form type as

[2015-12-20 18:38] nicolas-grekas commented on #17081
Shouldn't you use form_type as tag name, instead of formtype?

[2015-12-20 18:39] nicolas-grekas commented on #17081
Reading on my email so I may have missed some details thought

[2015-12-20 18:57] Nek- commented on #17081
As you defined your form-type as service. You need to use it as standard form type. That means in your conctroller:

[code]

Depending on its name.

Notice that this issue tracker is not a support forum. Please prefere using stackoverflow.

**This thread can be close, there is no bug here.**

[2015-12-20 19:01] Nek- commented on #17081
Status: Works for me

[2015-12-20 19:14] IngwiePhoenix commented on #17075
Great! Hoping for a merge soon :)

[2015-12-20 19:50] david-fanin commented on #17081
Works for you ?

Because that does not work for me. That's the first thing I tried. I have the following error:

My Symfony project is up to date.

Here is the code of my form type:
[code]

I'll do a test on a new instance of Symfony 2.8 and coming back to you.

Thank you for your answer.

[2015-12-20 19:58] david-fanin commented on #17081
In the Cookbook : http://symfony.com/doc/current/cookbook/form/create_custom_field_type.html#using-the-field-type

They pass "GenderType::class" to the method "FormBuilder::add". This should be similar for the method "CreateForm" and "FormFactory::create" ?

[2015-12-20 20:06] david-fanin commented on #17081
Works for me! I made a typo (service name).

[2015-12-20 20:06] #17081 closed

[2015-12-20 21:04] lainosantos commented on #17077
It's ok. But when to run the commands server:start/server:run and set the option -r, anything request is routed to the new router file, and it's ok too. However in the new router file, don't have access to the --env argument, because any request,
independently of environment, is routed to the same file, and that don't have how recover the env argument to decide the correct front controller file.

[2015-12-21 03:34] GromNaN commented on #17034
This is what I started working on.

https://github.com/symfony/symfony/pull/14458

[2015-12-21 09:15] rvanlaak commented on #17034
Also tried this myself in #17037 but as long as the collector can't reach the configuration parameters this isn't possible (yet).

[2015-12-21 09:26] stof commented on #16989
Well, the debug mode of the kernel precisely controls whether the cache is checked for freshness of no. This is almost the *only* thing which depends directly on the debug mode (many config settings have a default value which depends on this flag, but it is only a default configuration).

So using the kernel in no-debug mode in tests *is* the way to make your testsuite faster in this case.

[2015-12-21 09:50] EVODelavega opened #17084 "Typo in changelog file is causing PR builds to fail"
In the changelog file, there's a typo in the line `* feature #16692 [Form] Drop remaing CsrfProviderAdapter/Interface mentions (nicolas-grekas)` that fabbot.io is complaining about. _"remaing"_ should be _"remaining"_.

The fix is in [PR 17083](https://github.com/symfony/symfony/pull/17083)

[2015-12-21 10:43] stof commented on #17034
@bitgandtter your suggestion works only if the memory provider is used. And most projects probably load the users from a database rather than from an hardcoded list in the config

[2015-12-21 10:45] J7mbo commented on #17051
@tgabi333 The problem with shoving websockets into the framework core is that many of the things you provided as an example are blocking. Doctrine ORM, awesome (but slow) and blocking. Any HTTP calls you make have to be coded non-blocking and asynchronously.

As soon as you add something like that to the core, all the extra libraries the user chooses need to support that to avoid blocking the even

[2015-12-21 11:01] #17084 closed

[2015-12-21 11:01] tsantos84 commented on #17034
I agree with @stof. Using only the in_memory provider will not meet all needs. I see two ways to achieve this issue: A list of predefined users that we can choose one of them on WDT or an input field where we only type the user we can switch to as tried by @GromNaN.

[2015-12-21 11:03] stof commented on #17051
@Sander-Toonen I ended up using pusher.com to handle the websocket stuff (and the fallback for IE)

[2015-12-21 11:19] JHGitty commented on #5489
+1

[2015-12-21 12:17] pschultz opened #17088 "How to update form integration tests in 2.8"
During our update to 2.8 we noticed that the [cookbook article on form tests][1] is outdated.

It still says

[code]

however, passing type instances to `FormFactoryInterface::create` is deprecated in favor of FQCNs.

The simple example in the article is trivial to update, but we can't figure out how to do it for form types that have dependencies. Following the article back in the days, we have wr

[2015-12-21 12:26] EVODelavega opened #17089 "Form tests are failing because of missing options"
Currently, the unit tests for the forms are failing because none of the `configureOptions` methods are setting the legacy options _"type"_ and _"options"_ correctly. These keys are being passed (eg in `CollectionTypeTest::testLegacyPrototypeData`), causing the OptionsResolver to throw an `UndefinedOptionsException`.

Proposed fix: add both keys to the defaults in `FormType` (options defaults to an

[2015-12-21 12:33] Ener-Getick opened #17091 "[Validator] Wrong php docs"
The old ``ValidatorInterface`` implementation is still used in two places:
* [in the ``Validation`` class](https://github.com/symfony/symfony/blob/3.0/src/Symfony/Component/Validator/Validation.php#L27)
* [in the ``ValidatorBuilderInterface``](https://github.com/symfony/symfony/blob/3.0/src/Symfony/Component/Validator/ValidatorBuilderInterface.php#L166)

[2015-12-21 13:10] tai2 commented on #16989
Thank you for a reply.

It sounds good for me.

Our ordinal workflow is here:

1. Implement some features or fix some bugs.
2. Run tests.
3. Go to 1.

Now let's assume we run the tests with no-debug mode.
When we add some *services* to the container at step 1, the tests will fail because cached settings are used. This can make developers confused.

So if we use no-debug mode, we should clear the c

[2015-12-21 13:14] stof commented on #16989
@tai2 you can totally have something in your testsuite clearing the cache at the beginning of the whole suite

[2015-12-21 13:18] tai2 commented on #16989
Okay, I'll try it. Thanks!

[2015-12-21 13:54] JHGitty opened #17093 "GroupBy feature for Many-To-Many relations"
[code]

Important is this line:
[code]

**I am not sure about the following statement. This is just an assumption.**

This is not working because there is a Many-to-Many relation between ``Contact`` and ``ContactGroup``.

If a ``Contact`` would only have 1 group it should work. **Am I right with this?**

I think this is right because I get the following error:
[code]
(Yes: ``ContactGroup`` contain

[2015-12-21 14:19] webmozart commented on #15666
See https://github.com/symfony/symfony/pull/15659#issuecomment-166315513 for a solution.

[2015-12-21 14:20] #15666 closed

[2015-12-21 14:23] alxishin commented on #17066
Thank you, this is bug in IMAGLdapBundle. I think issue must be closed.

[2015-12-21 14:24] #17066 closed

[2015-12-21 16:29] jakzal commented on #16989
@tai2 can we close this issue?

[2015-12-21 16:37] tai2 commented on #16989
@jakzal Yes. I'll make another issue if I meet a problem.

[2015-12-21 16:37] #16989 closed

[2015-12-21 16:40] harikt commented on #17051
I have played with https://github.com/hoaproject/Websocket which is a nice library. So if people need, they still can use and integrate. If there is something better, yes, everyone can push that also.

[2015-12-21 17:37] stof commented on #17051
To be complete, here is the website of the Websocket library based on ReactPHP: http://socketo.me/

Regarding the hoa library, it looks like it is a synchronous server though. Am I right ?

[2015-12-21 17:47] #17064 closed

[2015-12-21 17:57] Tobion commented on #17088
Create a form extension (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Test/FormIntegrationTestCase.php#L34) that returns your form type with the mocked dependencies.

[2015-12-21 17:57] Sander-Toonen commented on #17051
Before we get a listing of each and every library or service; The point is that these require people to build two separate web stacks. And then one might as well choose a technology that doesn't block in every possible way.

Some daydreaming: Wouldn't it be neat if we could somehow create a performant server in PHP that could asynchronously handle connections and io. This server could then even bo

[2015-12-21 18:02] WouterJ commented on #17088
See https://github.com/symfony/symfony-docs/issues/6053

The documentation will be updated very soon: https://github.com/symfony/symfony-docs/pull/6059

[2015-12-21 18:08] #17088 closed

[2015-12-21 18:10] Huskynarr opened #17096 "Import HTTP Status Code 451"
HttpFoundation/Response.php missing the Status Code 451.

[2015-12-21 18:12] liuggio commented on #17096
there's a PR https://github.com/symfony/symfony/pull/17095

[2015-12-21 18:14] Huskynarr commented on #17096
Yes, have seen first now. Sorry.

[2015-12-21 18:14] #17096 closed

[2015-12-21 18:50] Tobion commented on #16980
That would be the first step yes.

[2015-12-21 18:55] stof commented on #17051
@Sander-Toonen this does not solve the issue. You still need a server listening on 1 port for HTTP and another server listener on the other port for websocket.
They probably cannot run on the same port as they talk a different protocol. And PHP-FPM is not only the issue. You would not have to reimplement CGI, but HTTP (replacing NGinx).

and anyway, this is a huge paradigm shift if you run a CGI o

[2015-12-21 22:50] ProPheT777 commented on #17051
I work since a long time on [WebsocketBundle](https://github.com/GeniusesOfSymfony/WebSocketBundle) with reactphp and ratchet.

some point back to my experience from websocket bundle :

* Ratchet is a no go because he is outdated (Since php5.5 brings generator), doesn't support 100% of websocket protocol (no binary, no heartbeat) and no new development since long time :(
* As pointed out @stof, we

[2015-12-22 00:02] leggetter commented on #17051
Some really good points above. A few additional relevant points that are worth looking at:

## How does Laravel approach this?

Laravel provides an abstractions for [Event Broadcasting](http://laravel.com/docs/5.1/events#broadcasting-events) where the underlying broadcaster implementation is decoupled. Right now it has [three implementations](https://github.com/laravel/framework/tree/5.2/src/Illum

[2015-12-22 00:04] ProPheT777 commented on #17093
This is not related to symfony, you should ask to doctrine https://github.com/doctrine/doctrine2

[2015-12-22 02:59] am-kzl opened #17100 "[2.8][Debug] Error open swiftmailer debug panel when send E-mail with Attachment"
I can't open swiftmailer debug panel cause showed some errors.
When I send e-mail use \Swift_Message and set attachment (\Swift_Attachment).

My symfony version : 2.8.0

[ error ]
[code]

Is this a bug ??

[2015-12-22 03:54] stof commented on #17100
This should be reported to SwiftmailerBundle (and giving the bundle version too)

[2015-12-22 03:54] #17100 closed

[2015-12-22 06:09] am-kzl commented on #17100
thank you to reply!
I did reported to SwiftmailerBundle.

[2015-12-22 06:47] Hanmac commented on #17093
i think its more a general problem because how do you search after a groups name if the Contact can have many of them?

what you can do is group by is after the count of groups, or if possible join the group names into a single string and use group_by on that, but i don't know if that is what you want

[2015-12-22 06:50] nikos90 opened #17101 "Check if command is running"
Is there any way to check if a symfony command is already running?
I have a command that runs without timeout and consuming data and i need to know if the command is already running.

[2015-12-22 07:00] iltar commented on #17101
Hello @nikos90

There is no build-in way to check this. For questions about symfony that are not issues, feature request etc, please use one of the support channels: [IRC](http://symfony.com/irc) & [Stack Overflow](http://stackoverflow.com/questions/tagged/symfony2).

[2015-12-22 07:01] nikos90 commented on #17101
Ok thanks.

[2015-12-22 07:28] alekitto opened #17102 "[PropertyAccess] PropertyPathBuilder::replace does not keep the order of elements"
This test fails:

[code]

generating `new1.new2.old2.new3` instead of `new1.new2.new3.old2`.

`PropertyPathBuilder::replace` modifies the elements array correctly, but does not re-sort the array.
A foreach is then executed against `$this->elements` to create the `PropertyPath` object, resulting in a wrong path to be generated.

A simple `ksort` at the end of the `replace` method should be sufficie

[2015-12-22 08:05] #17101 closed

[2015-12-22 08:52] stof commented on #17102
@webmozart please take a look at this to confirm

[2015-12-22 09:02] vschoener opened #17103 "VarDumper - Settings on php.ini cause no info with children array"
Hi,

I didn't find any post about it, but is it possible to set extra settings on this component directly in the php.ini ?

My real problem, I got an array but I can't see more than the first entry lvl..

Array [
...
  "attributesListSelected" => array:1 []
  "attributePrice" => array:14 []
]

This was working properly when project is set under symfony but not globally.

I use it that way (globall

[2015-12-22 09:19] nicolas-grekas commented on #17103
By default, we dump [max 2500 items](https://github.com/symfony/symfony/blob/7491c2550b8e64506c84d12371164f8033f4c6b1/src/Symfony/Component/VarDumper/Cloner/AbstractCloner.php#L118), could this be the reason in your case?
There is no ENV/php.ini way to configure this for now.

[2015-12-22 09:22] vschoener commented on #17103
Event with an array with on element having childrens this problem persist.. I have to dump my array that way when I want ti see more : dump($attributePrice[0]); for example.

[2015-12-22 09:26] vschoener commented on #17103
Here is a part of the screenshot for the problem :
http://imgur.com/qTliqZJ

[2015-12-22 11:11] javiereguiluz commented on #16938
The "empty Doctrine panel" bug is being fixed in https://github.com/doctrine/DoctrineBundle/pull/508

[2015-12-22 11:16] JHGitty commented on #17093
I would prefer to have a list where the users are duplicated if there are in multiple groups. This could be filtered out later again. But yes, I understand your issue.

There should be a warning (exception) in this case to let the user understand that this is currently not possible. Or there should be just a fix for this.

[2015-12-22 11:52] Hanmac commented on #17093
i  investigate a bit, i think the change does need to be done for [DefaultChoiceListFactory::addChoiceViewGroupedBy](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/ChoiceList/Factory/DefaultChoiceListFactory.php#L191)
that it does allow that an array is returned and the choice entries can be duplicated.

but i does not suspect such a change happen in <= 3.0 maybe 3.1 or

[2015-12-22 11:54] JHGitty commented on #17093
A change for >= 3.1 would be ok, hopefully it will just be fixed. :smile:

[2015-12-22 11:56] Hanmac commented on #17093
i for my self would not count that as bug that should be fixed, but more like a feature that would be nice to be implemented.

[2015-12-22 11:59] armpogart commented on #16933
So is it expected behavior that now I can do `$node->filterXPath('//div')` but not `$node->filterXPath('//div/text()')`. My application was using `/text()` xpath selector intensively, what are you suggesting - to use older version? Will full xpath syntax be supported in any future version?

[2015-12-22 12:52] urtziu opened #17107 "Symfony/filesystem Cant access to an AS400 (iSeries) repository (path)"
Hi everyone!

I’m trying to get some .pdf from an AS400 (not a database, only a repository (windows) from the server) using filesystem from the controller, but I can’t get them. I’m guessing since the server has a login, do I need to pass the user and the password when creating the path?

The path actually is a simple one \\\ip\foldername\year\filename.pdf (I had try with this same path with a non

[2015-12-22 13:04] Tobion commented on #17102
@alekitto please create a PR for it as you already did the implementation and test.

[2015-12-22 13:17] EdgarPE commented on #16933
Hopefully the Pull request will be merged soon. If you need to update to 2.8 or 3.0 now, one workaround is to select the supported node (//div), get the DOMElement object, then than use xpath to filter the DOMText object. It's not ideal, but it works.

[2015-12-22 13:37] armpogart commented on #16933
Thanks for your quick response, I will be glad if you also show me how to get the `DOMElement` object and use xpath on it. I don't get it, isn't filtered node always of type `Symfony\Component\DomCrawler\Crawler`? I couldn't find any way there to get the DOMElement.

Also does that mean if your PR will be merged `/text()` will work on 2.8 and 3.* also or 3.* will break the compatibility?

[2015-12-22 13:49] Tobion commented on #17107
Please ask support questions on stackoverflow.
Btw, if you need to access non-local filesystems, I would look at http://flysystem.thephpleague.com/ which might be better suited.

[2015-12-22 13:49] #17107 closed

[2015-12-22 13:54] urtziu commented on #17107
Oh, sorry about that.
But thanks for the hint! I will check it right now.
Thank you.

[2015-12-22 14:35] murnieza opened #17110 "hasReference() does not work with aliases."
`hasReference()` uses [`getDefinition()`](https://github.com/symfony/symfony/blob/e93ef5d2b8649802ee573659b8240c2b7a915a79/src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php#L1152) which does not resolve aliases and throws exception when alias is provided.

IMHO `findDefinition()` should be used. Opinions?

[2015-12-22 14:36] stof commented on #16933
@armpogart ``->getNode(0)`` gives you the underlying DOM node (change the argument to get other indexes of course). And the iterator also gives you DOM nodes.

[2015-12-22 14:38] stof commented on #17110
Aliases are already resolved to definitions by a compiler pass. Are you trying to dump a non-compiled container ?

[2015-12-22 14:43] murnieza commented on #17110
In dependency injection extension I add method call with reference to alias. My alias is created by custom compiler pass.

[2015-12-22 14:50] stof commented on #17110
is your compiler pass registered as a late one, running after optimizers ? This might be an issue (but it would also mean that it would detect the reference as broken when validating the container)

[2015-12-22 14:51] #15606 closed

[2015-12-22 14:52] #17072 closed

[2015-12-22 14:57] murnieza commented on #17110
[This is part](https://github.com/ongr-io/FilterManagerBundle/blob/6921be1c07816bac486fd230dc740cd5d76292bf/DependencyInjection/ONGRFilterManagerExtension.php#L147) where I create reference. And [this is](https://github.com/ongr-io/FilterManagerBundle/blob/6921be1c07816bac486fd230dc740cd5d76292bf/DependencyInjection/Compiler/FilterPass.php#L49) where I create alias. [This](https://github.com/ongr-

[2015-12-22 15:48] Tobion commented on #17093
In some ticket (that I cannot find) I suggest to be able to have `group_by` callable be able to return an array of groups. Then the choice could be put into multiple groups. This should indeed solve this use-case.

But the description of the ticket with `'group_by' => 'groups.name',` makes no sense as `groups` returns a traversable that does not have a `name` property. This cannot work obviously.

[2015-12-22 15:56] stof commented on #17093
@Tobion As of Symfony 2.7 (i.e. the new ChoiceType system), passing a callable to ``group_by`` is already supported (property paths are converted to callables using the property accessor).

So you can already to whatever you want for the grouping.

I'm closing this issue, as the code behaves as expected. The error message tells you that ``getName`` is missing in ``Doctrine\ORM\PersistentCollection

[2015-12-22 15:56] #17093 closed

[2015-12-22 16:05] #17091 closed

[2015-12-22 16:11] Tobion commented on #17093
@stof yes you can use callable. But what this issue is about is that the `callable` should be able to return an ARRAY instead of a single group label to support many-to-many-relationships. So IMO this should be reopened.

[2015-12-22 16:15] cboden commented on #17051
@ProPheT777

0.4 is almost complete with binary messaging and heartbeat check. Generators are nice but not needed. Otherwise, Ratchet's job is to do WebSocket I/O...adding more features such as authentication are a job for another package on top of Ratchet, not the library itself.

@leggetter Awesome! I agree, having a loosely coupled spec for Symfony is the way to go. Let the user choose their as

[2015-12-22 16:21] stof commented on #17093
Well, you should return a string representing what the grouping is. An array would still not work, as it cannot be casted to string to create the group.
what you could do is using ``implode(', ', $groupNames)`` as grouping identifier for instance

[2015-12-22 16:25] JHGitty commented on #17093
I just need a generic solution to do something like this. I don't think that I am the only person who needs it.

I have ``Contact`` which is a real person (Name, Street, City, ..). I also have ``ContactGroup``. There is a many-to-many relationship between ``Contact`` and ``ContactGroup``.

I like to have a page where I have all ``Contact`` but grouped by ``ContactGroup``. Every ``Contact`` should

[2015-12-22 16:25] harikt commented on #17051
Sorry, I don't know more about it. I would like @Hywan to look into the issue if he is interested in it.

[2015-12-22 16:36] webmozart commented on #17102
I could reproduce this bug.

Status: Reviewed

[2015-12-22 17:10] Tobion commented on #16106
The values from `\DateTimeZone::listIdentifiers()`, e.g. `America/Panama` are the IDs. These should not be translated as it does not make sense to translate IDs which would then not be valid anymore. Neither Drupal nor http://unicode.org/repos/cldr/trunk/common/main/es.xml has translations for them.

If you need translations, then just do not display the IDs but the names, e.g. "Central European S

[2015-12-22 17:10] #16106 closed

[2015-12-22 17:13] ProPheT777 commented on #17051
@cboden Glad to hear that ! (Sorry if I seemed rude against ratchet, if it was not my intention. I just realized it while reading myself ... :kissing:).

I'm also in favor to offer a gateway and let user choose his implementation and not be coupled to symfony framewok. Also I don't think popularized redis as transport is a good thing, I mean lot of protocol / software are very well at this job (TC

[2015-12-22 17:25] stof commented on #13662
even better implementation: setting a default ``group_by`` which chooses the right grouping closure based on the other option instead of choosing each time a timezone is grouped

[2015-12-22 17:26] Tobion commented on #17093
@stof the idea is to duplicate the choice into each group name of the array.

[code]
And if array element is string castable, you could even just do `'group_by' => 'groups'`.

[2015-12-22 17:30] Tobion commented on #17093
Again, `group_by` only supports MANY-TO-ONE currently. But not MANY-TO-MANY.

[2015-12-22 17:31] stof commented on #17093
@Tobion well, choices cannot be duplicated by the ``group_by`` option. It would be weird to me to create new choices in a grouping feature. Duplicating choices involves creating several subtypes, and so does not impact only the view.

[2015-12-22 17:37] Tobion commented on #17093
group_by only influences the view. So to me it's senible that a `ChoiceView` could be added to several `ChoiceGroupView`s.

[2015-12-22 18:03] #17102 closed

[2015-12-22 18:14] nicolas-grekas commented on #16980
The exception is logged on two different channels (php and request). Do you think it matter? We should only log on the php one then?

[2015-12-22 19:23] redayoub commented on #17028
Thanks @Hanmac

[2015-12-22 20:42] paragonie-scott opened #17115 "Proposal: Better Remember Me Tokens"
https://github.com/fabpot/symfony/blob/f88e600833b6822db5873e25deaefd14948e4878/src/Symfony/Component/Security/Http/RememberMe/TokenBasedRememberMeServices.php#L32-L65

Storing a bunch of data, even with a MAC, in the user's cookie strikes me as dangerous.

I've previously outlined a zero-knowledge, side-channel resistant design for a [remember me implementation](https://paragonie.com/blog/2015/04

[2015-12-22 20:44] paragonie-scott commented on #17115
Also https://github.com/fabpot/symfony/blob/f88e600833b6822db5873e25deaefd14948e4878/src/Symfony/Component/Security/Http/RememberMe/TokenBasedRememberMeServices.php#L80

It might be a good idea to adopt `StringUtils::safeStrlen()` here.

https://github.com/fabpot/symfony/blob/f88e600833b6822db5873e25deaefd14948e4878/src/Symfony/Component/Security/Core/Util/StringUtils.php#L78

[2015-12-22 20:48] EmanueleMinotto commented on #17065
sorry, my mistake

[2015-12-22 20:48] #17065 closed

[2015-12-22 20:51] JHGitty commented on #17093
@stof What would you do to do the thing I've described?

[2015-12-22 23:05] tacman opened #17116 "Yaml comments no longer parsing"
[code]

This used to parse just fine, now I'm getting

![image](https://cloud.githubusercontent.com/assets/619585/11968125/e53f76e4-a8d6-11e5-92f5-3a2162ee10fd.png)

[code]

[2015-12-23 06:41] #16988 closed

[2015-12-23 08:14] Nek- commented on #17116
Hello,

I just tested your yaml on symfony 2.7 and it works.
![capture du 2015-12-23 09 13 47](https://cloud.githubusercontent.com/assets/972456/11973084/836250de-a955-11e5-97f5-5eb2fb221d79.png)

What is your Sf version ?

[2015-12-23 08:18] Nek- commented on #17116
Status: Works for me

[2015-12-23 08:27] xabbuh commented on #17116
I think this is caused by the changes made in #16860 which is not included in any stable release yet. I'll work on a fix.

Status: Reviewed

[2015-12-23 09:14] rvanlaak commented on #13662
Did some related changes myself, found out that quite some countries only have one timezone. That would make grouping them by country less useful.

We decided not to group by offset, but to sort by offset. There even are offsets of 15 minutes, so that also made grouping quite unclear.

So I'd say that the only useful grouping would be to group by region or name. :+1:

[2015-12-23 10:32] placid2000 commented on #12931
Just had the same issue. @webdevilopers solution worked for me too. Thank you

[2015-12-23 10:34] placid2000 commented on #12931
Just had the same issue. @webdevilopers solution worked for me too. Thank you

[2015-12-23 11:36] murnieza commented on #17110
I've done some more investigations. Problem is that my aliased service is public and it does not get past the check in [`ReplaceAliasByActualDefinitionPass`](https://github.com/kriswallsmith/symfony-scoped-container/blob/ba17fd9502df264dfa20df7638dd232ca554669a/src/Symfony/Component/DependencyInjection/Compiler/ReplaceAliasByActualDefinitionPass.php#L32) and is not resolved to service.

After chan

[2015-12-23 12:14] llewellynthomas opened #17122 "$container->get('request_stack')->getCurrentRequest() === null in service created from factory"
I can wondering if there is any new changes with the request_stack service that it does not contain a request when you're trying to create a service using a factory method:

[code]

On first page load we have this problem on second page load problem goes away, but if I delete cache (rm -rf app/cache/*) the problem re-appears

In symfony 2.5.5 we don't have this problem. I've change over to using t

[2015-12-23 13:13] stof commented on #17122
it depends *when* your service is created (and this was always the case). If you retrieve the service very early, the Request might not be in the container yet.

If this happens only when the cache is built, this may be because you retrieve this service in a cache warmer, which will indeed run before the handling of the request.

In any case, retrieving the request in the constructor of your servi

[2015-12-23 14:00] ruudk opened #17123 "InlineFragmentRenderer should create subrequest based on input request"
In our project we have created our own `Request` object. This works great except when we are doing fragment renders in twig:

[code]

But now

[code]

fails because it is given a `Symfony\Component\HttpFoundation\Request`.

I found out that the problem is in https://github.com/symfony/symfony/blob/161f12ce0246c34a264e8bf0b8ce832fe31f861d/src/Symfony/Component/HttpKernel/Fragment/InlineFragmentRend

[2015-12-23 16:25] iltar commented on #17123
You have the object so you should be able to call it as `$request->create()` in this case.

_I think the underlying problem is, that we need a RequestFactory of some sort and not have the request being responsible for this. This way the Request is nothing more than an implementation such as the PSR variant._

[2015-12-23 16:27] iltar commented on #17122
@stof I think you mean '_a bad idea_'?

My tip: only get the request from the stack when you need it.

[2015-12-23 16:27] ruudk commented on #17123
Yep but `create` is static. That's why I call it static.

[2015-12-23 16:34] iltar commented on #17123
As far as I know it's perfectly legit to call a static method from an object PoV.

[2015-12-23 17:21] #16933 closed

[2015-12-23 18:29] unexge opened #17127 "[VarDumper][WebProfilerBundle] Wrong positioning on Dumped result"
![screen shot 2015-12-23 at 20 18 50](https://cloud.githubusercontent.com/assets/16212576/11982435/c4482dcc-a9b3-11e5-9193-ccf18be069e4.png)

User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36

[2015-12-23 18:59] jakzal commented on #17110
@murnieza if a definition is public, we cannot replace the alias as the service could be accessed by its id.

What are you trying to achieve as I don't fully understand what's the issue?

[2015-12-23 19:25] xabbuh commented on #17110
@murnieza Maybe it's best if you can fork the Symfony Standard Edition and make the smallest amount of changes that is needed to reproduce the behaviour you experience if you think this behaviour is a bug.

[2015-12-23 23:57] JHGitty opened #17128 "Translation:Update should throw warning if directory is missing"
I've executed the command ``translation:update de --force`` on Windows 7 x64.

Because the ``translations`` directory did not exist the translation file was also not created.

**But I've got no error message.**

Two solutions:
a) There should be an error message.
b) The folder should be automatically created if possible. Otherwise there should be an error message.

[code]

[2015-12-24 00:23] JHGitty commented on #2172
This is the oldest open bug of Symfony :smile:
@daum Do you like to investigate it?

[2015-12-24 08:15] sstok commented on #17127
This should be already fixed in 2.7-dev https://github.com/symfony/symfony/pull/16825

[2015-12-24 09:29] aitboudad commented on #17128
This has been fixed by  https://github.com/symfony/symfony/pull/17085

[2015-12-24 11:38] llewellynthomas commented on #17122
@stof & @iltar, thanks for you're help, the class was written for symfony 2.0 and things have changed since then, I'll refactor it and inject the request object with a listener, probably saver.

[2015-12-24 11:38] #17122 closed

[2015-12-25 08:33] LukaszStrzyzowski commented on #16303
I've checked last version of 2.7.x and 2.8. Problem still persists.

[2015-12-25 12:43] rufinus commented on #16840
i have the same problem - as soon as i request twig_env from the container this runtime exception is thrown.
see http://stackoverflow.com/questions/34372446/twig-environment-in-service-class-leads-to-dic-runtimeextension-only-when-unitte

[2015-12-25 12:49] olix21 commented on #16349
No Ajax panel for me yet

[2015-12-25 15:03] xabbuh commented on #16349
@olix21 Can you please open a new ticket and provide some more information about your Symfony version?

[2015-12-25 15:42] xabbuh commented on #16303
Can you fork the Symfony Standard Edition and make the minimum needed set of changes to reproduce your issue?

[2015-12-25 19:05] olix21 opened #17137 "[3.0][WebProfilerBundle] Ajax toolbar block not showing up"
Hello,

I have an issue with the display of the ajax block in the profiler.
I've an ajax request, but the profiler don't show anything.

<img width="1680" alt="capture d ecran 2015-12-25 a 19 57 39" src="https://cloud.githubusercontent.com/assets/3217330/12004149/8e68852c-ab42-11e5-8ce4-6ae28f496384.png">

I can't explain why but I think it's not normal

[2015-12-25 19:13] javiereguiluz commented on #17137
In 3.0.0 version there was an issue that prevented the Ajax panel to be displayed (see https://github.com/symfony/symfony/pull/16953). This is already fixed and it will be available in 3.0.1.

[2015-12-25 20:03] raziel057 commented on #17027
For information, to solve the same problem I created a PR a while ago: https://github.com/symfony/symfony/pull/16054

[2015-12-25 22:21] jakzal commented on #17127
@unexge can you confirm please?

[2015-12-25 22:33] jakzal commented on #17137
@olix21 can you try the dev version of 3.0 and confirm this works for you please?

[2015-12-26 07:26] unexge commented on #17127
i've Symfony 3.0.0 and issue still continues.

even if ```z-index: 99999``` applied the dumped element

![screen shot 2015-12-26 at 09 00 46](https://cloud.githubusercontent.com/assets/16212576/12005518/0d98c8ce-abb2-11e5-9dd6-87f8178cca0e.png)

seems like, this happen because, [stacking context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_co

[2015-12-26 08:02] xabbuh commented on #16840
@rufinus I answered on StackOverflow.

For anyone else interested in the problem: When using the `KernelTestCase` class as a best class for your functional tests (either directly or by extending the `WebTestCase` class), you shouldn't boot the kernel in the constructor, but rather use the `setUp()` method for this. Otherwise, your tests won't run with a properly booted kernel as booting would only

[2015-12-26 08:28] rufinus commented on #16840
@xabbuh thanks. this indeed fixes the problem.

[2015-12-26 08:38] jakzal commented on #17127
@unexge the fix is not present in any released version yet. You'd need to try a dev version or wait for next 2.7 or 3.0 release.

[2015-12-26 09:54] unexge commented on #17127
@jakzal now i try with fresh install of `3.1.0-dev`, issue still continues for me.

![screen shot 2015-12-26 at 11 49 15](https://cloud.githubusercontent.com/assets/16212576/12005952/2954bbee-abc7-11e5-9d34-1c0d0cc40ef2.png)

in https://github.com/symfony/symfony/issues/17127#issuecomment-167292250, i try to say, i applied changes from https://github.com/symfony/symfony/pull/16825 manually, sorry

[2015-12-26 11:50] AlmogBaku opened #17139 "301 Redirect should be always cached"
Currently 301 sends `no-cache`, although it's permanently redirect, therefore it should be cached.

[2015-12-26 12:09] #17075 closed

[2015-12-26 12:21] #9105 closed

[2015-12-26 12:44] jakzal commented on #17139
I don't think this is a good idea. You can get into troubles if you ever change your mind as many browsers cache redirects with no expiry date. I'm not saying you shouldn't use cache headers with redirects. It just shouldn't be the default.

[2015-12-26 17:00] peterrehm commented on #17137
@olix21 Since 3.0.1 is released now can you check against this version?

[2015-12-26 17:02] dosten commented on #17137
@peterrehm yes

[2015-12-27 09:39] acrozes opened #17148 "How to Log Notice error in Prod ?"
Is add ```Debug::enable(E_ALL, false); ```the right way to log PHP Notice errors in prod (sf 2.8) ?
I don't find any doc about the customization of logs in prod ...

[2015-12-27 10:11] jakzal commented on #17148
Have a look at http://symfony.com/doc/current/reference/configuration/monolog.html and please use other [available channels](http://symfony.com/support) for support questions. Github is only used for development.

[2015-12-27 10:11] #17148 closed

[2015-12-27 10:20] acrozes commented on #17148
This config don't log PHP Notice but PHP Notice have a warning level, so it should ?

[code]

[2015-12-27 12:10] Disparity commented on #17139
This is the key difference: for 301 status can not be "change your mind" to redirect, as opposed to 302 status.

[2015-12-27 13:18] olix21 commented on #17137
Problem not solved in my configuration
<img width="1680" alt="capture d ecran 2015-12-27 a 14 14 45" src="https://cloud.githubusercontent.com/assets/3217330/12010374/3924027c-aca4-11e5-8ca5-7886bac89c2d.png">

[2015-12-28 05:43] ruFog commented on #17139
That behaviour is not defined explicitly in [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.2). And some browsers already [cache 301 redirect](http://stackoverflow.com/questions/9130422/how-long-do-browsers-cache-http-301s). Strict implementation of extra Cache header in Symfony might be like reinventing the wheel.

[2015-12-28 08:46] javiereguiluz commented on #17137
I can confirm that this bug is fixed in my own applications after upgrading to 3.0.1. Example:

![ajax_profiler](https://cloud.githubusercontent.com/assets/73419/12016145/c8ba2c92-ad47-11e5-98d6-33b9dda5316b.gif)

@olix21 does your application define a custom value in the `web_profiler.excluded_ajax_paths` configuration option?

[2015-12-28 08:58] olix21 commented on #17137
I have no web_profiler.excluded_ajax_paths in my configuration file. I don't know why it's not working

[2015-12-28 09:11] javiereguiluz commented on #17137
[These lines](https://github.com/symfony/symfony/blob/master/src/Symfony/Bundle/WebProfilerBundle/Resources/views/Profiler/base_js.html.twig#L210-L255) log the Ajax calls. Maybe you can add some `console.log()` calls to debug what's happening inside that code.

[2015-12-28 09:29] Ranmus commented on #16303
I'm sorry, but i didn't checked precisely. This problem was already fixed here: https://github.com/symfony/symfony/commit/d209d1c35aa6219611b8d2b815f5485f5ea6e224

Issue can be closed.

[2015-12-28 09:34] #16303 closed

[2015-12-28 09:38] olix21 commented on #17137
Okay, I have detected a conflict between the pace javascript library (http://github.hubspot.com/pace/docs/welcome/) and the symfony profiler ajax block, but i don't know why nor how to resolve this.
Is it possible that there is a conflict between two eventListener?

[2015-12-28 09:50] stof commented on #17137
It looks like Pace replaces the whole XMLHttpRequest object instead of overwriting only the methods they want to change. This may be the reason why things fail, as the WDT might end up extending the Pace object rather than the native object, and the method on the Pace object might not be called when there is a change on the wrapped native object.

[2015-12-28 10:49] artjomsimon commented on #17116
FYI 2.7.8 got released which included this issue :(
Broke some of our YMLs, which is how I found this.

[2015-12-28 10:52] xabbuh commented on #17116
@artjomsimon Sorry about that. :( I was blocked by Christmas but working on a patch right now.

[2015-12-28 11:07] appeltaert opened #17153 "[Config] isRequired fields on a canBeEnabled array"
Explicitly setting a arraynode to false, still results in validating the other child nodes.

For example:

[code]

Not setting the mail node at all gives the desired result, but explicity setting enabled to false triggers errors on the fields below.
I realize that this use-case doesnt happen often, why set it to false if the intention is to not enable it, but still--minor point of improvement.

[2015-12-28 11:11] Ranmus opened #17154 "MergeDoctrineCollectionListener breaks use of Entity Listener with many-to-many associations"
I want to use Doctrine's functionality called Entity Listener for tracking some entity changes. I have two entities named Sensors and Parameters. Each Sensor can have multiple Parameters and same Parameters can be also used with different Sensors, so i use many-to-many association between them. Next, i would like to allow add/remove some/all Parameters from Sensor any time and track history of the

[2015-12-28 11:45] xabbuh commented on #17116
@artjomsimon Can you give an example string that isn't parsed for you?

[2015-12-28 11:58] artjomsimon commented on #17116
Yes, the problem seems when the hash symbol (''#') is the first character in a line.
As a workaround, moving the # to the right so that the parser sees the indentation before the #, seems to help. Example from OP's code:

Broken:
[code]

Workaround:
[code]

Thank you!

[2015-12-28 12:02] xabbuh commented on #17116
@artjomsimon I try to create a failing test case, but the thing with that example is that the parser doesn't get to the comment line because of the whitespace before `ImportSource`.

[2015-12-28 12:04] pleamon opened #17155 "generate:doctrine:crud"
I want generate crud by oneToOne entity, but console tell me is error.
[code]

[code]

[code]

i found the error is here
vendor/sensio/generator-bundle/Generate/DoctrineFormCommand.php:103
[code]

vendor/sensio/generator-bundle/Resources/skeleton/form/FormType.php:29
[code]

oneToOne field is not in metadata->fieldMappings.

[2015-12-28 12:09] xabbuh commented on #17155
The `generate:doctrine:crud` command is part of the [SensioGeneratorBundle](https://github.com/sensiolabs/SensioGeneratorBundle) and there already is a fix proposed for this issue (see sensiolabs/SensioGeneratorBundle#431).

[2015-12-28 12:09] #17155 closed

[2015-12-28 12:51] pleamon commented on #17155
thanks :)

[2015-12-28 12:53] nicolas-grekas commented on #17089
This has been already fixed isn't it?

[2015-12-28 12:55] xabbuh commented on #17116
@tacman @artjomsimon If you cannot extract a failing example, you can just create a gist containing the whole file content.

[2015-12-28 13:15] xabbuh commented on #17068
closing as a duplicate of #11109

[2015-12-28 13:15] #17068 closed

[2015-12-28 13:22] nicolas-grekas commented on #15617
1) Symfony\Component\Process\Tests\ProcessTest::testZeroAsOutput
Failed asserting that null is identical to '0'.
/home/travis/build/symfony/symfony/src/Symfony/Component/Process/Tests/ProcessTest.php:465

[2015-12-28 13:23] nicolas-grekas commented on #15617
PHP --enable-sigchild enhanced=1
1) Symfony\Component\Process\Tests\ProcessTest::testCallbacksAreExecutedWithStart
Failed asserting that null is identical to 'foo
'.
/home/travis/build/symfony/symfony/src/Symfony/Component/Process/Tests/ProcessTest.php:147

[2015-12-28 14:14] artjomsimon commented on #17116
@xabbuh here's a MWE:
[code]

[2015-12-28 14:18] xabbuh commented on #17116
@artjomsimon Thank you very much. This is indeed really useful.

[2015-12-28 14:34] GrahamCampbell commented on #17139
:-1:

[2015-12-28 14:57] AlmogBaku commented on #17139
@ruFog you right, most of the clients/browsers cache 301, but since we send "no-cache" they doesn't!
We don't need to specify anything on 301 redirects

[2015-12-28 16:04] JHGitty opened #17157 "Session save_path not working"
[code]

The directory ``var/sessions`` exist.

I use Windows 10 x64 with Xampp 3.2.2 (PHP 7).

Symfony use the ``session.save_path`` from the ``php.ini`` file and not from my configuration. Why?

[2015-12-28 16:05] iltar commented on #17157
Like this? #16898

[2015-12-28 16:07] JHGitty commented on #17157
@iltar Thanks! This PR will fix my issue: https://github.com/symfony/symfony-standard/pull/904

[2015-12-28 16:08] #17157 closed

[2015-12-28 16:11] cyberomulus opened #17158 "[2.X] Using a translation into another translation"
Hello,

I would use a translation into another translation

Sample (in yml file):
[code]
Is it possible ?
Thank

[2015-12-28 16:21] iltar commented on #17158
No that's not possible, not sure if it's desired to have but I personally would like to have it.

[2015-12-28 19:27] xabbuh commented on #17116
@tacman @artjomsimon Can you please check if #17159 fixes your issues?

[2015-12-28 20:14] GuilhemN opened #17160 "[DependencyInjection] Create a new trait or class to resolve values with the container"
Actually, to resolve a value we can use [`ParameterBag::resolveValue()`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php#L170) which is accessible [in the `Container`](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Container.php#L113).
This works fine but the problem is when we want to

[2015-12-28 22:10] Ener-Getick commented on #17158
:+1:
IMO we should use the same syntax used for the container parameter:
[code]

[2015-12-29 00:52] The-Don-Himself commented on #16876
I can now confirm it was not a Symfony issue (apologies) but a mis-configuration with my session handler which is SncRedisBundle

Had to configure
''''
        use_as_default: false
''''
That saved me an average 75% on response time.

[2015-12-29 02:31] ihsanudin commented on #17026
@yellowmamba :

[code]

Where is `$data` come from?

[2015-12-29 06:57] iltar commented on #17158
Isn't that syntax already recommended for parameters? I think this would cause too much overhead for something run-time and should be compile time only. This could probably be done when building the cache by adding a second pass that iterates over translations (recursively).

This would leave out parameterized translations though.

[2015-12-29 07:59] fabpot commented on #17158
What is the use-case? I mean, translations only make sense for whole sentences; translations of words rarely make sense.

[2015-12-29 08:07] iltar commented on #17158
A telephone number for example, you could put your companies number in a variable which you can then  sub-translate in a bunch of messages. It could also go for specific domain words such as "Webhosting" vs "Hosting". They can be used to ensure a certain level of consistency through your application.

I'm not saying this is a "must have" feature as there's a lot of different ways you can achieve t

[2015-12-29 08:36] xabbuh commented on #17158
How do you see this process happen? Will the translator pass any translated message that contains some special characters back to the translator? Or do you like to pass some additional "parameters" instead?

[2015-12-29 08:43] iltar commented on #17158
I'm not quite familiar with those concepts but my best guess is that it will check for a specific character in the message and if so, resolve that value by pre-translating it already. If that message also contains a special character, resolve that etc.

[2015-12-29 09:12] aitboudad commented on #17158
:+1:  see #17164

[2015-12-29 09:26] Hywan commented on #17051
@stof @harikt `Hoa\Websocket` is not synchronous. It relies on `stream_select`, which is asynchronous. It is better to add quotes around “asynchronous” here because `stream_select` allows async stuffs but not ones as we usually mean.

[2015-12-29 09:58] xabbuh commented on #17160
Generally, this would be possible. We would need something like a `ParameterResolver` service. The only issue I see is that the `ContainerInterface` and the `ParameterBag` class have different ways to access a value. So we would need to create the resolver with a callback which knows how to retrieve the underlying value. We can then reuse this class in the `ParameterBag` itself.

[2015-12-29 09:59] FabriZZio opened #17165 "Translator's setConfigCacheFactory isn't part of interface breaking default FrameworkBundle DIC config on override"
In the FrameworkBundle's translation.xml DIC configuration, the `setConfigCacheFactory` is being called using `callMethod` here:

https://github.com/symfony/symfony/blob/586c58a354932711bb71fcedca17f86ae5119d2a/src/Symfony/Bundle/FrameworkBundle/Resources/config/translation.xml#L17

This method isn't part of the `Symfony\Component\Translation\TranslatorInterface`, so when using another instance as

[2015-12-29 10:18] iltar commented on #17165
@FabriZZio overriding `translator.class` is deprecated and in the future those parameters will be removed. If you want to implement your own translator, you will either have to replace the definition (or alias it), or use service decoration.

[2015-12-29 10:20] derrabus commented on #17165
The `*.class` parameters are a bad extension point and this is why they have been removed in Symfony 3. There is no guarantee that a service definition only calls methods defined in a generic interface. In fact, service definitions are always implementation-specific, since usually the interface does not define the dependencies of a class.

[2015-12-29 10:21] #17165 closed

[2015-12-29 10:31] FabriZZio commented on #17165
Ok, thank you!

[2015-12-29 12:24] jvahldick opened #17167 "[Form] Binding null on object property"
I´m trying to use label as a field, but always bind a null value on object.

*FormType*

[code]

*Model*

[code]

When I change getLabel method to _"return $this->label"_, no problem happens.
The forms expect this "null" result or there's something wrong?

**EDITED**
I forgot a detail, the null is returned when the previous field "name" has the same value.

[2015-12-29 14:21] JHGitty opened #17169 "[Feature] Cron Component / Task Scheduling"
A lot of web applications need to run tasks as cronjobs. That because Laravel integrated a very nice "Task Scheduling": https://laravel.com/docs/5.1/scheduling

I think we should create something similar as own Symfony component.

[2015-12-29 14:58] kniziol opened #17170 "form_theme form _self causes "Method <property> for object FormView not exist" Twig_Error_Runtime"
##### Info:
I want to customize one of fields using theme inside template where form is rendered (as described here http://symfony.com/doc/current/cookbook/form/form_customization.html#how-to-customize-an-individual-field). Cannot to this because of error. Details below.

#### View:
[code]

#### Form's Type:
[code]

#### composer.json:
[code]

#### Error:

[2015-12-29 15:35] nicolas-grekas commented on #15617
1) Symfony\Component\Process\Tests\ProcessTest::testSetStreamAsInput with data set #6 ('fwrite(STDOUT, $in = file_get... $in);', 1024)
Symfony\Component\Process\Exception\ProcessTimedOutException: The process "exec /usr/bin/hhvm --php -r 'fwrite(STDOUT, $in = file_get_contents('\''php://stdin'\'')); fwrite(STDERR, $in);'" exceeded the timeout of 5 seconds.
/home/travis/build/symfony/symfony/src/Sy

[2015-12-29 16:03] kniziol commented on #6428
Same problem here. Replacing
[code]
with
[code]
resolves the problem

[2015-12-29 16:13] Tobion commented on #17170
What does your form theme look like and the templates?

[2015-12-29 16:21] cn007b opened #17172 "Sorry"
Sorry i added this issue, and then found solution for my issue...

Sorry...

[2015-12-29 16:26] kniziol commented on #17170
Here we go:
* Theme is a dummy block. Nothing special.
* Other templates are below
* Is this related to using variable `trans_default_domain` with `trans_default_domain` instead of concrete domain?

#### Theme
[code]

#### Templates
**MyAnotherBundle:Something:Else/my_template.html.twig**
[code]

**MyAnother2Bundle:Something:update.html.twig**
[code]

[2015-12-29 16:28] jvahldick commented on #17172
Look at:
https://github.com/symfony/symfony-standard/commit/2bee277feb6c6a02e4828f772cd0945d841f6c51

You can install it like a component:
https://github.com/symfony/assetic-bundle

[2015-12-29 16:35] geoffrey-brier commented on #16802
@stof @webmozart Just upgraded in 2.8 and I'm facing the same issue. Seems like it comes from the expanded option being set to true, it's as if the data wasn't properly cleaned in the ChoiceType class.

The following code fixes the problem, but I'm really not sure if that's the way to fix it.

[code]

[2015-12-29 16:36] cn007b commented on #17172
Yeah, i found it, thank you!)

[2015-12-29 17:04] jvahldick commented on #17170
I did the example without problems.
Did you check form vars with {{ dump(form) }}?

[2015-12-29 17:26] dosten commented on #17172
Can you close this?

[2015-12-29 17:44] #17172 closed

[2015-12-29 20:05] kniziol commented on #17170
@jvahldick Thanks for tip.

Problem solved. Reason? Name of block: `form_widget`. Remember, if you're using `{% form_theme form _self %}` to mark template as source of form's theme, don't call block same as one of the "system" blocks from `Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig`, e.g. `{% block form_widget %}`.

Gosh, silly mistake.

[2015-12-29 20:05] #17170 closed

[2015-12-30 02:10] ihsanudin commented on #17034
Better way is switch role not switch user

[2015-12-30 08:53] #16792 closed

[2015-12-30 09:23] iltar opened #17178 "[WebProfiler] request object passed to url generator"
in [this commit](https://github.com/symfony/symfony/commit/4bffacc942a071ace5e7e6f2e04eaba9590b6a02#diff-8865c310993bd11e65b844f7439a34c8R356) @rvanlaak has added the request object as argument for the route generator. This is a BC break for a package I wrote which accepts objects as arguments. Can I remove this argument as objects are not being handled by the symfony url generator anyway? Current

[2015-12-30 09:34] stof commented on #17178
this indeed looks like a mistake

[2015-12-30 09:41] rvanlaak commented on #17178
The router needs all query parameters for the filtering to work. Based on [the](https://github.com/symfony/symfony/blob/4bffacc942a071ace5e7e6f2e04eaba9590b6a02/src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php#L112) [other](https://github.com/symfony/symfony/blob/4bffacc942a071ace5e7e6f2e04eaba9590b6a02/src/Symfony/Bundle/WebProfilerBundle/Controller/ProfilerController.php#L1

[2015-12-30 09:42] dunglas commented on #17169
Can we reuse the Laravel component instead of creating a new one?

[2015-12-30 09:59] stof commented on #17169
@dunglas their scheduling system is highly coupled with their own Console and Container system

[2015-12-30 10:01] stof commented on #17169
However, there are many libraries related to crons already: https://packagist.org/search/?q=cron

I don't think Symfony needs to build yet another one. Just use one of the existing libraries.

[2015-12-30 10:10] iltar commented on #17178
@rvanlaak it's only an issue when generating urls. In your case you are rendering templates which is all fine as far as I can tell

[2015-12-30 10:36] xabbuh commented on #17167
To be honest, I do not understand your question. Do you think you found a bug? And if so, what did you expect but what happened instead?

[2015-12-30 10:56] assoum891 commented on #17167
@jvahldick which is null precisely?
*the null is returned when the previous field "name" has the same value*
same value as what?

[2015-12-30 11:04] tgabi333 commented on #17116
i have the same problem after upgrading to 2.8.1.

[2015-12-30 11:19] jvahldick commented on #17167
@xabbuh Yes, I think it´s a bug.

@assoum891
I have 2 form fields: "name" and "label".
I fill the fields with the same value, like "foo".

![img-01](https://cloud.githubusercontent.com/assets/1113015/12049914/ea0fff1e-aed4-11e5-9f2f-d4aa770a6408.png)

The Request object it´s exactly I am expecting.
![img-02](https://cloud.githubusercontent.com/assets/1113015/12049920/02e549fe-aed5-11e5-89f0-f7b458

[2015-12-30 11:20] xabbuh commented on #17116
@tgabi333 Can you also check the changes in #17159?

[2015-12-30 11:22] xabbuh commented on #17167
@jvahldick Could you please fork the Symfony Standard Edition and make the minimum set of required changes to reproduce your problem?

[2015-12-30 11:29] DonCallisto opened #17180 "[Form Collections] NotBlank constraint on collection edit"
We are facing a strange "issue" (don't know if really is) about form collections. Let's take into account the following entities

    class Foo
    {
      /**
       * @ORM\OneToMany(targetEntity="Bar", mappedBy="foo", cascade={"persist"}, orphanRemoval=true)
       * @Assert\Valid
       */
      protected $bars;
    }

    class Bar
    {
      /**
       * @ORM\ManyToOne(targetEntity="Foo", in

[2015-12-30 11:38] #17178 closed

[2015-12-30 11:41] jakzal commented on #17169
:-1:

I agree with stof here.

[2015-12-30 11:47] xabbuh commented on #17180
This is how the `required` option is intended to work (also take a look at [the related documentation](http://symfony.com/doc/current/reference/forms/types/form.html#required)):

[2015-12-30 11:47] #17180 closed

[2015-12-30 12:17] jvahldick commented on #17167
@xabbuh ty for help.

done at: https://github.com/jvahldick/symfony-standard
branch issue/17167

https://github.com/jvahldick/symfony-standard/commit/17db8b17cb0ec3ef164f27a9dd9043a129aafb64

[2015-12-30 12:42] xabbuh commented on #17167
Ah, now I understand your issue. The thing is that your `name` property is handled first and due to how your getter method is implemented the `label` property is considered to be not changed in the data mapper: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Extension/Core/DataMapper/PropertyPathMapper.php#L92-L94

I do not think that we should consider this to be a bug.

[2015-12-30 12:47] mboron83 opened #17182 "[3.0.1][CRUD] CamelCase error inside newAction"
During crud generation with generate:doctrine:crud command there is a CamelCase bug inside newAction of generated controller. For instance, when my entity name is "DefinitionCategory" during crud generation inside newAction my object variable has name $definitionCategory. But couple lines below there is try to use undefined object variable $definitioncategory. After submiting form an error "Notice

[2015-12-30 12:58] DonCallisto commented on #17180
@xabbuh it seems to me or this is a very weak approach?

I mean, what if I expose that route with a RESTful approach? Do I need to validate manually posted data?

[2015-12-30 13:07] jakzal commented on #16180
@jfsimon do you remember why the kernel name needed to be changed as your comment in https://github.com/symfony/symfony/commit/cc3a40ed7868d537fa2c59a6adf437795467ca5f#diff-ba3117e514933eed435af61c69ae9830R158 doesn't explain this?

[2015-12-30 13:16] assoum891 commented on #17167
@jvahldick  thx for the explanation :)
@xabbuh thx for the anwser, yes apparently if the data in the form is not different from the data returned by the propertyAccessor, the update is not proceeded...

[2015-12-30 13:20] assoum891 commented on #17167
@jvahldick thx for the explanation :)
@xabbuh thx for the anwser, yes apparently if the data in the form is not different from the data returned by the propertyAccessor, the update is not proceeded if the $data is not an object

[2015-12-30 13:20] assoum891 commented on #17167
@jvahldick thx for the explanation :)
@xabbuh thx for the anwser, yes apparently if the data in the form is not different from the data returned by the propertyAccessor, the update is not proceeded...

[2015-12-30 13:23] xabbuh commented on #17182
The `generate:doctrine:crud` command is part of the [SensioGeneratorBundle](https://github.com/sensiolabs/SensioGeneratorBundle/). Please report any issue with it their.

[2015-12-30 13:23] #17182 closed

[2015-12-30 13:57] jvahldick commented on #17167
Thanks for explanation guys..
Interesting class.

http://symfony.com/doc/current/reference/forms/types/form.html#by-reference solves my problem, but I really don´t know why.

It is it?
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/PropertyAccess/PropertyAccessor.php#L169-L179

[2015-12-30 13:59] jfsimon commented on #16180
@jakzal I guess it's because both kernels are started at the same time, but I don't remember exactly!

[2015-12-30 14:02] jakzal commented on #16180
The kernel name is used to generate the container class name, so indeed it needs to be different :+1:

[2015-12-30 14:47] yapro opened #17185 "I see the error in two places /var/log/nginx/site.error.log and app/logs/dev.log"
I set breakpoint to 1 string of function \Symfony\Component\Debug\ErrorHandler::handleFatalError and when breakpoint stoping process I see error in /var/log/nginx/site.error.log

Don't understand because in above the function handleFatalError declared as a shutdown handler:
[code]
According to this, no errors should not put into php://stderr

[2015-12-30 15:01] xabbuh commented on #17185
@yapro Which PHP version do you use?

[2015-12-30 15:03] yapro opened #17186 "Why the Symfony is writing the same error twice"
**Read this trace from the bottom up.**

and now again the error is written to the log file, for what?
[code]
ErrorHandler:490 has $this->loggers[$e['type']][0]->log() which recorded error, but see above (next)
[code]

[2015-12-30 15:03] HeahDude opened #17187 "[Config] arrayNode::addDefaultChildrenIfNoneSet() always add children"
I've already post a question on stack overflow (see [here](http://stackoverflow.com/questions/34387676/weird-behaviour-using-arraynodedefinitionadddefaultchildrenifnoneset)), found nothing about `addDefaultChildrenIfNoneSet()` in the doc [there](http://symfony.com/doc/master/components/config/definition.html#array-nodes) and used IRC with no answer yet.

Can someone confirm or not that this is a b

[2015-12-30 15:04] yapro commented on #17185
[code]

[2015-12-30 15:32] tjaadvd commented on #14704
This fix doesn't seem to be working for me.
![schermafbeelding 2015-12-30 om 16 32 00](https://cloud.githubusercontent.com/assets/171732/12052802/e9d24848-af12-11e5-9b4a-d49fd0616d09.png)

[2015-12-30 15:42] jakzal commented on #17186
Which PHP version do you use? Might be you're hit by #16980.

[2015-12-30 15:50] yapro commented on #17186
@jakzal may be it implementation of http://symfony.com/doc/current/reference/events.html#kernel-exception

[2015-12-30 15:52] xabbuh commented on #17187
What do you mean by "But when I add some other versions and then try to delete 1 it comes back after processing config."? Can you show some example code?

[2015-12-30 15:54] nicolas-grekas commented on #17186
same reason than #16980, the monolog channel is different, I'm not sure we should fix anyting. Or at least I'm not sure how :)

[2015-12-30 16:07] HeahDude commented on #17187
@xabbuh when I use form or edit yaml file directly to change `versions`

[2015-12-30 16:21] yapro commented on #17186
also I see 2 errors in file /var/log/nginx/site.error.log
[code]
please note this: php.CRITICAL and request.CRITICAL

[2015-12-30 16:28] dfredriksen opened #17188 "Cache files should be group writable"
I believe the cache/log files should be group writable when written by the browser/console by default so that one can configure group permissions on a user and avoid the annoying cache permissions errors when attempting to clear cache from the console.

[2015-12-30 16:52] stof commented on #17188
Well, there are many different way to handle the shared cache. The doc explains them all: http://symfony.com/doc/current/book/installation.html#checking-symfony-application-configuration-and-setup

Forcing to write a group-writable cache would be a bad idea:
- we don't know for sure that the browser and the console are in the same group (so following your idea, it should be done world-writable ins

[2015-12-30 17:50] HeahDude commented on #17187
I've finally found a workaround by adding `->performNoDeepMerging()`.
Is that a normal behaviour ? The doc should mention something about it

[2015-12-30 19:17] IngwiePhoenix commented on #17075
Updated to `2.8.1` (that is what Composer said) and Parser.php line 236 and 237 fail. They both try to access `$data` as array, whilst it may as well be an object. Please re-open and/or re-review.

Lines: https://github.com/symfony/yaml/blob/2.8/Parser.php#L236-L237

[2015-12-30 19:19] xabbuh commented on #17075
@IngwiePhoenix Can you please provide a failing example?

[2015-12-30 19:27] IngwiePhoenix commented on #17075
From the top of my head:

[code]

[2015-12-30 19:50] xabbuh opened #17190 "[Yaml] Regression in object support parser fix"
The fix for #17075 done in #17079 introduced a regression.

The following example:

[code]

Is failing with the following exception:

[code]

[2015-12-30 19:51] xabbuh commented on #17075
@IngwiePhoenix I can confirm this error (see #17190). Thanks for reporting this. I am working on a patch.

[2015-12-30 23:49] Ener-Getick commented on #17160
I created a new ``ParameterResolver`` in #17192 if you could review it @xabbuh :smile:

[2015-12-31 02:19] Tobion commented on #17186
Closing as duplicate.

[2015-12-31 02:19] #17186 closed

[2015-12-31 02:22] #17188 closed

[2015-12-31 02:27] Tobion commented on #17169
Closing this meta issue. If no existing cron library is good enough then feel free to make a POC PR with a detailed comparison.

[2015-12-31 02:27] #17169 closed

[2015-12-31 07:43] stof commented on #15261
@lastzero the compilation step does half of the work of building the container (maybe even more than that depending on the cases). We cannot allow redoing the second part of the work (it would require saving the state of the ContainerBuilder before that, which would be a nightmare as all the object graph is mutable)

[2015-12-31 10:01] xabbuh commented on #17190
@IngwiePhoenix Can you please check if #17197 completely fixes the issue for you?

[2015-12-31 10:43] IngwiePhoenix commented on #17190
@xabbuh It seems to work. I had to learn how to pull in PRs, but I found ways to get there. I used this as a test:

[code]

and it does print an `stdClass` object now. I will run this against a much bigger config file and tell you how that went.

[2015-12-31 10:44] IngwiePhoenix commented on #17190
Success. Works like a charm now. :)

[2015-12-31 10:45] xabbuh commented on #17190
@IngwiePhoenix Great, thanks for confirming. Next time I would just make the changes locally in your `vendor` directory (at least when the changeset is just so small). :)

ping @symfony/deciders

[2015-12-31 11:04] nicolas-grekas commented on #15617
With PHP 5.5
1) Symfony\Component\HttpKernel\Tests\HttpCache\HttpCacheTest::testAssignsDefaultTtlWhenResponseHasNoFreshnessInformationAndAfterTtlWasExpiredWithStatus304
Failed asserting that 'public, s-maxage=3' matches PCRE pattern "/s-maxage=2/".
/home/travis/build/symfony/symfony/src/Symfony/Component/HttpKernel/Tests/HttpCache/HttpCacheTest.php:650

[2015-12-31 11:07] CharlyPoppins commented on #14224
Just for remembering :
[code]
has to be
[code]
or
[code]
etc...

[2015-12-31 11:09] yapro commented on #16980
Yes, you should log Fatal error only once. I don't want to see the same error 2 times, it only clogs up the logs. Thank you.

[2015-12-31 11:10] yapro commented on #17186
@Tobion you should writing Fatal error only once. I don't want to see the same error 2 times, it only clogs up the logs. Thank you.

[2015-12-31 14:58] xabbuh commented on #15098
Isn't it simply enough to let your test case class extend the [TypeTestCase class](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Form/Test/TypeTestCase.php) and there return a [DoctrineOrmExtension instance](https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Doctrine/Form/DoctrineOrmExtension.php) in the `getExtensions()` method?

[2015-12-31 15:29] stof opened #17201 "Reconsider the CS rule for returning null in functions"
currently, our CS mandate to use `return;` to return `null` from a function.

But there is 2 different cases actually:
- a function without any return value (returning void), for which `return;` makes sense
- a function returning something or `null`, for which `return null;` would be more meaningful

The original discussion said that PHP had no concept of `void` and so that our CS should not disti

[2015-12-31 15:32] stof commented on #17201
Note that if this is accepted, the existing return fixer in PHP-CS-Fixer will need to be disabled (see https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1638 for a discussion about it), and a new fixer might be created to automate the new rule (allowing to update our whole codebase in an automated way).

[2015-12-31 16:03] phansys commented on #17201
IIUC, `return;` is only used when the function must return an early void, but if the function doesn't return anything, `return` must be omitted: https://symfony.com/doc/current/contributing/code/standards.html#structure

[2015-12-31 16:17] phansys commented on #17201
So, just as a recap for your 2 points, this should be the current CS:

`return` statements are fully absent.

`return;` statement only present if the return is required before the end of function's flow (early return inside a condition by instance).

As far as I can see, both cases are taken into account with the current spec.

[2015-12-31 16:22] stof commented on #17201
anything or void is the same. It is just that PHP calls this void (because other languages call it void too)

you are confusing the case of returning ``null`` early and returning ``void`` early. Your comment assumes they are the same. They are not (and this is precisely my point).

[2015-12-31 16:49] phansys commented on #17201
You're right @stof, I misunderstood your point. Thank you for the clarification.

[2016-01-01 08:15] yellowmamba commented on #17026
@ihsanudin Why? It doesn't matter, the point is to set an array with the key `form_name` in the request so it can be processed in `handleRequest`.

[2016-01-01 15:17] dereckson opened #17242 "Remove semicolons prepent by spaces"
In some languages like French, the natural punctuation is "lorem ; ipsum". But both in English and Symfony code base, the syntax "lorem; ipsum" is used.

For better coherence, it could be convenient to harmonize the code base and code comments.

[2016-01-02 11:22] derrabus commented on #17201
I never liked this specialty of Symfony's coding standard, so if you want to change it: :+1:

There's no direct need to change it, though. Code with the current CS will run fine under php 7.1 as long as a function is not declared as `void`. And it will take some time untill Symfony can set php 7.1 as a minimum requirement in order to make use of the `void` return type – we're probably talking abou

[2016-01-03 00:34] layanto opened #17245 "[WebProfilerBundle] Add support to display different info for @media >768px and >1024px"
Profiler toolbar css currently supports "sf-toolbar-info-piece-additional-detail" class to only be displayed for >1024px and hidden otherwise. But what if I want to display different info for <1024px and >1024px instead of just displaying the same info plus additional info?
For example for StashBundle (https://github.com/tedious/TedivmStashBundle/pull/90), would like to show hit ratio as percentag

[2016-01-03 07:19] xabbuh commented on #14246
The `chmod()` is still not present in 3.0 (the change wasn't merged from `2.8`into `3.0` in 9c2dbb608418bc46d648b50cd6e9db485d38f793).

[2016-01-03 08:46] javiereguiluz commented on #17245
In the old toolbar this was achieved with the `sf-toolbar-info-piece-additional` class, which is also maintained in the new toolbar. Please test it and report back if it doesn't work as expected. Thanks!

[2016-01-03 09:46] layanto commented on #17245
@javiereguiluz I know of ```sf-toolbar-info-piece-additional``` where anything enclosed with this tag will only be displayed for >1024px and hidden for <1024px. I am actually looking for something opposite, a tag which is displayed for <1024px and is hidden for >1024px. Does it exists?
For example with web debug toolbar of doctrine, it shows number of queries for <1024px and for >1024px number of

[2016-01-03 10:00] layanto commented on #17245
Actually I was using ```sf-toolbar-info-piece-additional-detail```, will try with ```sf-toolbar-info-piece-additional```.

[2016-01-03 14:25] tgabi333 commented on #17116
@xabbuh No, I'm sorry, #17159 does not fix all of my issues, i still have exceptions for literal and folded styles:

[code]

Can i use sf 2.8.1 with a working yaml component somehow?

[2016-01-03 16:12] GrahamCampbell commented on #17201
PHP 7.1 has already done this.

[2016-01-03 19:53] xabbuh commented on #17116
@tgabi333 Thank you for the feedback. I added your example as an additional test case and made some improvements in #17159. Would you mind to check again?

[2016-01-03 22:28] dunglas commented on #17201
:+1:

[2016-01-03 22:55] CrackHD opened #17251 "UserPasswordEncoder instance for use in service, controller or DataFixture code"
Implemented working custom user provider (user entity and authentication provider), configured in `security.yml`. That `User` entity implements basic fields like `username`, `salt` and `password`.

When i push new `User` entity to my database, i need to set password, encoded with random salt and global encoder options. I have specified `bcrypt` with 18 iterations inside `security.yml`. Symfony use

[2016-01-04 01:21] CrackHD commented on #17251
Answer to this question was found accidentally, in [docs page](symfony.com/doc/current/bundles/DoctrineFixturesBundle/index.html#using-the-container-in-the-fixtures). I think this must be linked or explained in "How to Create a custom User Provider" manual.

To let fixtures access symfony container, we only add `ContainerAwareInterface` to the fixture class and implement its `setContainer()` funct

[2016-01-04 01:21] #17251 closed

[2016-01-04 04:47] ihsanudin opened #17252 "Circular Reference When Using @service_container on autowiring mode"
[code]

Before i comment the arguments, the service is work. After that i try to use auto wiring mode and got error

[code]
And then i try to add auto wire type

[code]
 and i got another error

[code]

[2016-01-04 06:10] xabbuh commented on #17251
@CrackHD Please open an issue in [the documentation repository](https://github.com/symfony/symfony-docs) if you think the documentation for this could be improved.

[2016-01-04 07:19] devekko commented on #17051
could this C websockets low level library go upstream to PHP?
https://github.com/warmcat/libwebsockets

on the other end of the spectrum

there is an Apache websockets module
https://github.com/disconnect/apache-websocket

[2016-01-04 08:11] zender opened #17254 "[Validator] Email Validator does not work properly"
I am trying to validate email: some,name@gmail.com which is invalid email but it is validated as valid one.

I set these options: strict: true, checkMX: true, checkHost: true.

SF version: 2.7.4

[2016-01-04 08:13] xabbuh commented on #17254
When the strict mode is enabled, the `Email` validator uses the [egulias/email-validator](https://github.com/egulias/EmailValidator) library to validate e-mail addresses. Please report any issue with their validation in their bug tracker.

[2016-01-04 08:13] #17254 closed

[2016-01-04 08:18] sstok commented on #17251
@CrackHD Please note that the salt option is deprecated for the bCrypt encoder.

And I seriously hope that `md5(uniqid(null, true))` is only because you are generating fixtures!
Because I can't even describe how horribly insecure this is :scream:

[2016-01-04 09:11] stof commented on #17115
@paragonie-scott the code you linked in StringUtils does not exist anymore. It looks like you reviewed @fabpot's fork instead of the main repo, which is totally outdated (the repo is used to create feature branches to open PRs)

[2016-01-04 09:14] paragonie-scott commented on #17115
Wow. I feel like a doofus.

[2016-01-04 09:14] #17115 closed

[2016-01-04 09:22] tgabi333 commented on #17116
@xabbuh :+1: thank you!

[2016-01-04 09:27] stof commented on #17252
Well, the second case is expected: you are telling the container that ``app.menu`` should be injected inside autowired services needing a ContainerInterface.

It looks like the autowiring does not handle the case of injecting the container itself (but you should avoid doing that though)

[2016-01-04 09:37] xabbuh commented on #17201
:+1: Sounds reasonable to me.

[2016-01-04 09:51] ihsanudin commented on #17252
@stof : :+1: great

[2016-01-04 10:16] dunglas commented on #17252
I'm opening a PR to support autowiring of the `service_container` (even if it's a bad practice IMO, and the autowiring is here to avoid doing that when possible).

[2016-01-04 10:18] ihsanudin commented on #17252
@dunglas : :+1: thank you very much

[2016-01-04 10:19] tacman commented on #17116
Fixed for me too, thanks!

On Mon, Dec 28, 2015 at 7:56 AM, Christian Flothmann <
notifications@github.com> wrote:

[2016-01-04 10:29] stof commented on #17251
@CrackHD Injecting the whole container is a bad idea, because it means your dependency is the whole container. It is better to inject only the service you need

[2016-01-04 10:30] #16940 closed

[2016-01-04 10:39] fesor commented on #17051
@devekko, i'll prefer to have some abstraction layer which can use several backends (like this libwebsockets extension or amphp based solutions with message queue).

[2016-01-04 11:01] #17116 closed

[2016-01-04 11:20] devckonem opened #17256 "Issue: findTaggedServiceIds() searches only in $definitions"
Hi,

I've coded 2 services:
1) The concrete service
[code]
2) The exposed service
[code]

When I try to get the services with the tag "find.by.this.tag" in a CompilerPass it returns a empty array.
[code]

And the reason is because it iterates over ContainerBuilder::getDefinitions() and it ignores the $aliasDefinitions.

[2016-01-04 12:27] xabbuh commented on #17256
In my opinion you shouldn't be able to add tags to aliases at all. Being able to do so means that the alias would work in a different way than the aliased service which completely defeats the purpose of an alias. I think we should rather catch this when aliases are parsed.

[2016-01-04 12:31] stof commented on #17256
Well, you can't add tags to them (look at the Alias class). But the loader seems to ignore them silently instead of warning the user.

[2016-01-04 13:24] nicolas-grekas commented on #16980
Should be fixed by #17202, could you please confirm?

[2016-01-04 14:20] ondrejmirtes opened #17257 "Symfony\Component\Console\Application::renderException() should accept \Throwable"
Because of PHP 7, `Symfony\Component\Console\Application::renderException()` should also accept `\Throwable` type.

[2016-01-04 14:35] ondrejmirtes opened #17258 "[Crawler] Default charset should be UTF-8"
When "charset" is not provided in $type argument of Crawler::addContent, it should default to UTF-8, which is already pretty widespread.

[2016-01-04 14:45] Tobion commented on #17257
The same problem applies to HTTP request/response cycle with events (`GetResponseForExceptionEvent`). Ref #16980

[2016-01-04 14:56] Tobion commented on #17201
:+1:

[2016-01-04 14:59] GrahamCampbell commented on #17201
For what it's worth, :-1: from me because of the fact that any assignment of the result of the function will still be `null`.

[2016-01-04 16:51] #17190 closed

[2016-01-04 16:52] #17242 closed

[2016-01-04 17:16] #16180 closed

[2016-01-04 17:56] CrackHD commented on #17251
@stof Could you provide an example? Very need this to be done in best conditions. If so.

[2016-01-04 20:38] twencl opened #17259 "[2.8][BC Break][Assets] Property Symfony\Component\Asset\PathPackage::$versionStrategy does not exist"
After upgrading from 2.5 to 2.8 I started getting:

[code]
This is the same issue as https://github.com/symfony/symfony/issues/14692 just a in a different file. I will submit a PR with the fix.

[2016-01-04 22:04] layanto commented on #17245
Tried ```sf-toolbar-info-piece-additional``` and basically does the same as ```sf-toolbar-info-piece-additional-detail```.
Maybe easier to describe the issue with examples:

Use Case 1
Would like to display the following on debug toolbar
<1024px ```icon XX```

Use Case 1 above is easily satisfied with ```sf-toolbar-info-piece-additional-detail``` around ```YY ZZ``` such that ```YY ZZ``` will only

[2016-01-05 02:56] davidwdan commented on #17051
For anyone that's interested, we've built a realtime bundle for symfony that uses WAMP (Web Application Messaging Protocol).  We've made some pretty cool applications with it.

https://github.com/voryx/ThruwayBundle

[2016-01-05 08:18] imulot opened #17262 "[Routing] Add i18n feature"
Hi,

Is it possible to add i18n routing feature directly in symfony stack framework ?

i18n routing example :
3 i18n routes for the same controller action :
- /fr/contact/
- /en/contact/
- /de/kontakt/

As Symfony have Router and Translater component, It would be logic that these 2 components works together to provide i18n routing capability.
A few extra bundles provide this feature (like JMSI18nR

[2016-01-05 08:20] thewilkybarkid commented on #17201
:+1: for clarity.

[2016-01-05 08:32] devckonem commented on #17256
So what would be the next steps? Allow the user to add tags to an alias? IMHO I think you should can add tags to alias services (but I dont know the effects).

[2016-01-05 08:34] jakzal commented on #17262
In my experience this is not really as common as it might look. Anyway, if there's already a good bundle, why duplicating efforts in the core?

[2016-01-05 08:36] xabbuh commented on #17256
The next step is to improve the loaders to issue warnings when tags are used on aliases.

[2016-01-05 08:41] nicolas-grekas commented on #17201
:+1:

[2016-01-05 10:08] SoboLAN commented on #17051
@davidwdan At this moment is it stable enough to be used in production ?

[2016-01-05 10:37] #17167 closed

[2016-01-05 13:01] imulot commented on #17262
I am currently creating a website which need i18n capabilities.
To improve webranking for my customers I would have liked this feature in symfony standard edition.
Router and Translation are included into core package and It is not senseless to implement i18n routing without use of an extra packages with all related drawbacks (deprecated call, less support, ...).

Even if today I choose JMSI18nRou

[2016-01-05 13:30] dbuton opened #17265 "Bug when updating 2.7.6 in 2.7.7 with choice fields"
I have an API with the stack : NelmioApiDoc, FosRestBundle and JmsSerializer.
We have a route to display a form configuration (I know, it's bad), like that :

### Route:
/forms/payments

### Response:
[code]

But when we update Symfony in 2.7.7, we have an Error.
[code]

And after investigation to fix it, I must add an empty_value equals to '' for each choice type fields because without that I thi

[2016-01-05 13:50] jakzal commented on #17262
My point is, if there's a third party bundle that does the job well, there's no need to duplicate efforts in the core as it will only add to the already busy schedule of the core team. Symfony's flexibility that lets you to extend it easily is one of its main strengths.

Anyway, how would you envision this feature? So far you only described it in basic terms.

[2016-01-05 14:03] javierugalde opened #17266 "An exception has been thrown during the rendering of a template ("Notice: unserialize(): Error at offset 86 of 137 bytes")"
Hi guys,

## **First of all, Happy New Year 2016 !!!**

Ok, i'm having some problems with my project in symfony 2.7.7, the output error is:

This error occurs on every route I try to enter.

I searched this error in google but without any solution to my problem. What could be happening?

I really appreciate any help that you can provide me to solve this error as soon as possible.

Thank you very m

[2016-01-05 15:34] #17252 closed

[2016-01-05 16:09] iltar commented on #17266
This seems more of an issue in Sonata than symfony.

[2016-01-05 16:11] iltar commented on #17256
You could always decorate the service and add tags to your decoration.

[2016-01-05 16:23] stof commented on #17256
@devckonem IMO, tagging aliases does not make sense. The next step would indeed be to warn the user in loaders when doing it.

[2016-01-05 16:35] #17266 closed

[2016-01-05 16:54] jakzal commented on #16421
@wasinger can you give me an example how to reproduce this behaviour?

[2016-01-05 16:57] jakzal commented on #16417
@boekkooi the new behaviour was reverted where it makes sense in #17035

[2016-01-05 17:39] leonardola commented on #8703
Guys i had this same problem here with php 5.5.30 and apache 2.4.16, the solution was to just rise the amount of memory php is allowed to use. so if you could not fix it yet try rising the amount of memory on php.ini

[2016-01-05 18:28] Congelli501 opened #17268 "Log file not closed causing "failed to open stream: Too many open files" using phpunit-bridge"
When running a large phpunit test with phpunit-bridge installed, the log files (`app/logs/test.log`) is not closed and the php process ends up failing with the `failed to open stream: Too many open files` error.

`lsof | grep '^php' | grep 'test.log$' | wc -l` returns 700+ results.

This bug only appear when `symfony/phpunit-bridge` is installed.
Removing it from my composer.json and running the t

[2016-01-05 18:56] davidwdan commented on #17051
@SoboLAN I would consider it beta right now.  We've been using it in production, but it still needs some work, especially around debugging.

[2016-01-05 18:57] nicolas-grekas commented on #17268
Thanks for the detailed report and the analyze. Did you try to re-enable the gc?

[2016-01-05 19:00] stof commented on #17268
This might totally be related, as the GC is needed to clean circular object graphs.

@nicolas-grekas I don't think that the bridge should force disabling the gc. This should be done only in the Symfony testsuite (or even not at all if we don't have segfaults because of it anymore, as this might have been fixed in PHP)

[2016-01-05 19:12] sgilberg opened #17269 "2.8.1 not BC with 2.8.0 - missing 'class' for collections using 'entry_type' of EntityType"
I had diligently updated all my deprecated methods and options after upgrading to 2.8.0, and then when I ran composer and it moved to 2.8.1, all my forms that used collections of related entities broke. I had updated 'options' to 'entry_options' in all my form builders. Now I see the error "The required option "class" is missing." I have 'class' defined in my entry_options. It appears 'entry_optio

[2016-01-05 19:35] Rattler3 opened #17270 "[Form] ChoiceType undefined index issue when using $resolver->setNormalizer('choices',"
In 2.7.8 using setNormalizer to update 'choices' in a Form causes the below error:

[code]
A new fork has been created to show this issue. This can be found [here](https://github.com/Rattler3/symfony-standard/tree/example).

[2016-01-05 19:36] xabbuh commented on #17269
We had a regression in 2.8.1 which was fixed by #17162 (this isn't released yet but will be part of 2.8.2). Can you confirm that that patch works for you too?

[2016-01-05 19:53] xabbuh commented on #17270
Did this work for you with any patch version of the 2.7 release?

[2016-01-05 19:54] gseidel commented on #17270
I have the same issue with Symfony version 2.8.1

[2016-01-05 19:58] rasanga opened #17271 "[Form][2.8] Type "entity" not setting selected data when choice_value is a string attribute"
I have the following code:

[code]

When I select a category it does not give me the selected category entity, but when I changed ```choice_value``` to be ```id``` it worked fine. There seem to be an issue when the ``` choice_value ``` is a string attribute

NOTE:
```Ras\Bundle\DomainBundle\Entity\Category``` entity has following attributes: ```id, name, label```

[2016-01-05 20:01] sgilberg commented on #17269
Ah, thanks @xabbuh ! Sorry I missed that one. That works for me.

[2016-01-05 20:01] #17269 closed

[2016-01-05 20:04] gseidel commented on #17270
It only occurs if you also have a choice field define before your custom type which use the ```setNormalizer``` function.

https://github.com/Rattler3/symfony-standard/blob/example/src/AppBundle/Controller/DefaultController.php

If you changed the order ```choice``` and ```choiceTwo```it works for me. Maybe this helps for now if the order of the builder doesn't matter.

I guess it has something to

[2016-01-05 20:05] xabbuh commented on #17270
What do you mean with that?

[2016-01-05 20:10] xabbuh commented on #17271
Why do you want to change the `choice_value` property to `name`? Since the `name` property is apparently not the identifier of your `Category` entity, the entity type will not be able to find an entry for the submitted values.

[2016-01-05 20:11] gseidel commented on #17270
Look at the DefaultController in the example. If you remove

[code]

It works also if you change the order like that.

[code]

Please remind that i didn't try that with Rattler3 example, but on my issue that works before. I only transfer that behaviour i found to this example.

[2016-01-05 20:13] gseidel commented on #17270
Maybe @Rattler3 can confirm that behaviour.

[2016-01-05 20:14] rasanga commented on #17271
thank you for the quick response :+1:

I thought it should be able to find entries by given ```choice_value``` field. can we add this as a feature I can make a PR?

[2016-01-05 20:21] xabbuh commented on #17271
What is the advantage of that instead of just using the id?

[2016-01-05 20:35] rasanga commented on #17271
When you use ```GET``` method to send form data it would great have to have URL query parameters in human readable manner

For example ```example.com/search?category=php``` is better than ```example.com/search?category=2```

See the difference?

[2016-01-05 20:40] xabbuh commented on #17271
I understand your use case, but I do not think that a choice or entity type is what you should use for that imo.

[2016-01-05 21:01] Tobion commented on #17271
The entity tyoe is using the primary key to look up the doctrine entity which of course won't find it with `name`. You can use a custom query builder for that.

[2016-01-05 21:01] #17271 closed

[2016-01-05 21:22] gondo commented on #17269
just the note for everyone else looking for a fix:
#17162 was merged 7days ago, latest release was S2.8.1 released 10days ago, so this will be fixed in the next releass S2.8.2

[2016-01-05 22:08] Rattler3 commented on #17270
@xabbuh This worked in the previous version (2.7.7) also not working when I tested in 2.8.0.

I can also confirm what @gseidel is saying. This only happens if both choice fields are present and the choice field with the setNormalizer is the second item. This can be seen in the example [controller](https://github.com/Rattler3/symfony-standard/blob/example/src/AppBundle/Controller/DefaultController.

[2016-01-05 23:28] layanto commented on #17245
Worked around this for StashBundle:
For \<1024px icon A/B
For >1024px icon A XX/B YY
This can be done with ```sf-toolbar-info-piece-additional-detail``` around XX and YY

Issue still exists if someone wants to display completely different information for \<1024px and >1024px.

[2016-01-05 23:29] #17245 closed

[2016-01-06 00:04] Congelli501 commented on #17268
@nicolas-grekas I re-enabled gc, and this is definitely the source of the unclosed files.

I added these lines at the beginning of the first run test:

[code]

With symfony/phpunit-bridge enabled:
[code]

Without symfony/phpunit-bridge:
[code]

@stof I agree that gc should be enabled for unit tests. I expect the tests to be run in an environment as close as possible to production. If the code make

[2016-01-06 05:43] trsteel88 opened #17273 "$requests in RequestStack is empty for first request."
I have created an example of this issue here: https://github.com/trsteel88/symfony-standard/tree/feat-request-bug

The example integrates a Twig loader that uses the RequestStack object. When making the first request (after editing the config), the $requests var inside RequestStack is always empty. A reload fixes the issue. However, editing the config causes the issue once again.

To replicate the

[2016-01-06 06:00] rasanga commented on #17271
I used a query builder as follows but I had no luck:

[code]

[2016-01-06 06:32] xabbuh commented on #17273
Simply do nothing with the injected request stack in the constructor of you loaded class. When the object is created before the event listener for the request stack has run, you will see the described effect.

[2016-01-06 06:32] #17273 closed

[2016-01-06 06:44] Haehnchen opened #17274 "[2.8][3.0] Missing purge button in new Profiler"
The new profiler does not provide a "Purge Button" inside "Profile Search" for calling `/_profiler/purge`.

Suggest adding directly right to result count:
![profiler](https://cloud.githubusercontent.com/assets/1011712/12136527/11cd4c90-b449-11e5-8f31-1a8e4d6a5719.png)

[2016-01-06 07:18] trsteel88 commented on #17273
@xabbuh, the above example was just 1 example.

I have another example where with the following services.

1. SiteFactory with a get() method.
2. Site (retrieved depending on the hostname, dir etc).
3. Another Service which depends on Site context.

The 3rd service is being initialised and injecting a Site (which is created by the Factory from the RequestStack). Since the $requests are empty, it c

[2016-01-06 08:13] xabbuh commented on #17273
Please create a fork of the Standard Edition that reproduces your other issue then.

[2016-01-06 08:46] trsteel88 commented on #17273
Done @xabbuh.

You will notice that the Exception (https://github.com/trsteel88/symfony-standard/blob/feat-request-bug/src/AppBundle/Factory/SiteFactory.php#L21) will now be thrown for the first request. All subsequent requests work. Changing the config.yml will revert it to throwing an Exception again because the RequestStack::$requests is empty.

[2016-01-06 08:58] fabpot commented on #17274
That was done on purpose, the profiler should not modify server side data directly. That's also why we don't have the import/export feature anymore.

[2016-01-06 09:41] xabbuh commented on #17273
Well, this use case isn't better either. Your `app.context.site` service now depends on when it is retrieved and depends on the request. You rather should not register that service, but add something like a `getCurrentSite()` method to your `SiteFactory` class and the use that method at runtime to retrieve a `SiteInterface` instance.

[2016-01-06 09:55] trsteel88 commented on #17273
Yes I know. However, this problem has only come up since upgrading to 2.8 from 2.7.

The context site is already used across multiple bundles on different applications so it's going to be a bit of a BC break to change it.

[2016-01-06 10:02] #17268 closed

[2016-01-06 10:02] devckonem commented on #17256
@stof Yeah your right. Thanks for the reply.

[2016-01-06 10:04] nicolas-grekas commented on #15541
Closed by #17275

[2016-01-06 10:04] #15541 closed

[2016-01-06 10:06] xabbuh commented on #17273
In my opinion you just have been lucky that the code worked before and this is no BC break.

[2016-01-06 10:13] trsteel88 commented on #17273
That really doesn't help me. Don't you think it's strange that it works in 2.7 and not 2.8?

See https://github.com/trsteel88/symfony-standard/tree/feat-request-bug-27

Exact same code. Works in 2.7, doesn't work in 2.8. Is that not a BC break?

[2016-01-06 10:23] xabbuh commented on #17273
As said the code you have was never expected to work and you simply were lucky that it was not breaking before (it completely depends on when the service is actually created which makes it fragile as you now noticed).

[2016-01-06 10:25] trsteel88 commented on #17273
Why would this be happening though? The Kernel has the Request object. Why isn't it available?

[2016-01-06 10:30] stof commented on #17273
@trsteel88 the fact that it worked before is just luck: it only means that none of the object depending on your own service was instantiated before the request was available. It was already possible to break it in 2.7 (it depends on any service defined in the container).
and the kernel does things before it starts handling the service (anything happening during boot does not have the Request yet a

[2016-01-06 10:32] trsteel88 commented on #17273
Hmm, that's a bit disappointing. Guess I'll add a deprecation trigger to get() and create a new getCurrentSite() method.

Thanks guys.

[2016-01-06 10:32] romainneutron commented on #17201
:+1:

[2016-01-06 10:34] stof commented on #17273
Well, this was a broken design from the start. It just happened to work by luck (and your own code might have triggered the same issues than the one triggered by some code change in 2.8 btw)

[2016-01-06 10:36] trsteel88 commented on #17273
It's just weird that it hasn't happened in 2.7 before. I've tested it in quite a few different places and can't replicate.

[2016-01-06 10:48] stof commented on #15541
Note that DoctrineBundle already does this now

[2016-01-06 14:54] macintoshplus opened #17284 "PdoSessionHandler with SQLSRV PDO driver and SQL server 2008 not work"
The PdoSessionHandler not work with SQL Server 2008 or greater.

The query [MERGE](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/PdoSessionHandler.php#L674) use twice every param.

The error returned by the driver is
[code]

How to use the PDO session handler ?

[2016-01-06 15:04] leofeyer commented on #17201
+1

[2016-01-06 15:57] Tobion commented on #17284
http://stackoverflow.com/questions/25208804/pdo-count-field-incorrect-or-syntax-error
http://stackoverflow.com/questions/10113562/pdo-mysql-use-pdoattr-emulate-prepares-or-not

[2016-01-06 20:04] rogeriolino opened #17285 "[Question] SerializerInterface as standard"
I'm writing a code that implements a serializer interface but I dont want (dont need) to include all Symfony Serializer implementation code to my project, therefore I've just copied SerializerInterface.php to my project to use it.

Then my question is to create a packagist library for `SerializerInterface` to use as standard (like PSR-7) and add this "new" library as dependency of `symfony/seriali

[2016-01-06 21:48] huebs commented on #17201
+1

[2016-01-07 09:54] fvsch commented on #15320
@andrescevp If I understand your request correctly, what is not working well for you *with Assetic* is using JS libraries that need to dynamically request other files (images, JS files etc.) from a given folder.

For instance if you have a UI lib looking like this:

[code]

If you put this lib somewhere in a bundle and reference `.../cool-lib/cool-lib.min.js` with Assetic (using a `{% javascripts

[2016-01-07 10:48] SarramegnaG opened #17288 "FatalErrorException in ProxyGenerator.php line 62"
Greetings,

I'm using Centos 7 with PHP 5.4.16 (provided by Centos).

It seems like a change in Symfony 2.8.1 removes the compatibility with old PHP versions (at least for the dev version using app_dev.php).

Newly integrated Doctrine Common 2.6.1 implements ::class in ProxyGenerator.php line 62 and then throw an error for php version older than 5.5 :
syntax error, unexpected 'class' (T_CLASS), ex

[2016-01-07 10:53] stloyd commented on #17288
No, it's not. Seems like you try to run composer install on lock that was created at PHP 5.5, it's not possible to get this otherwise as Doctrine 2.6 already forces the requirement of PHP 5.5 & composer would block you from installing it.

[2016-01-07 10:57] javiereguiluz commented on #17288
@SarramegnaG you are right. The Symfony 2.8 version delivered via the Symfony Installer includes a Doctrine version which requires PHP 5.5. We'll fix it for the next version. For now, the solution is to run `composer update` just after creating the new Symfony project.

[2016-01-07 11:03] SarramegnaG commented on #17288
@stloyd I used the Symfony Installer, not composer.
@javiereguiluz For your information, I ran "symfony new my-project 2.8" command. I will just fall back on "symfony new my-project 2.8.0" for now.

Thanks for the replies.

[2016-01-07 11:24] BartDuch opened #17291 "asset function Twig not working in 3.0.1?"
Hallo,

I switched a project from symfony 2.8 to 3.0.1, I got everything working except that for some reason the twig function asset is not working any more, every where I use it I get an error:
[code]

[2016-01-07 11:27] stof commented on #17291
You need to enable the asset system in the configuration of FrameworkBundle to have it in 3.0 (the symfony-standard edition does it: https://github.com/symfony/symfony-standard/blob/34abc7efb5035f1e92c6c9fca59aa8daeeab9082/app/config/config.yml#L34 )

[2016-01-07 12:19] BartDuch commented on #17291
Thank you, this solved the problem :+1:

[2016-01-07 12:20] #17291 closed

[2016-01-07 12:47] ivoaz opened #17292 "[Form][Bug][2.7.8+] Bug when using `false` as a value in an optional choice field"
After upgrading from 2.7.7 to 2.7.8 I noticed that some choice fields didn't display the empty value.

Example code:
[code]

Before:
![image](https://cloud.githubusercontent.com/assets/407855/12170811/144496ea-b54d-11e5-9a28-a44c9f48ddd5.png)
After:
![image](https://cloud.githubusercontent.com/assets/407855/12170840/3e399e5a-b54d-11e5-9032-4e0d49fe2a37.png)

So far I've found out that the `false`

[2016-01-07 13:26] #14246 closed

[2016-01-07 14:56] wideawake opened #17294 "'Etag' should be 'ETag' in Response.php"
Hi everybody,

as in subject.

Please take a look:
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Response.php#L859

[2016-01-07 15:05] stof commented on #17294
Well, header names are case insensitive in HTTP (and Symfony handles them case-insensitively). So there is no bug there

[2016-01-07 15:05] #17294 closed

[2016-01-07 15:29] boekkooi commented on #13496
Why not implement a normalizer for this? Something like https://gist.github.com/boekkooi/5a7d59981739fa0ea5f0

[2016-01-07 15:56] XWB commented on #17089
I believe it was fixed in https://github.com/symfony/symfony/commit/bd686cd1eecad01e38794bf4ee65566e24f844b9

@fabpot When can you release Symfony 2.8.2, the `CollectionType` is broken in 2.8.1.

[2016-01-07 16:10] #17089 closed

[2016-01-07 16:12] Tobion commented on #17288
https://github.com/symfony/symfony-standard/issues/858

[2016-01-07 16:12] #17288 closed

[2016-01-07 16:14] #17274 closed

[2016-01-07 17:04] boekkooi opened #17296 "Unable to login with check_path & app.php"
Hi,

So i was stuck on a very interesting `Access denied, the user is not fully authenticated; redirecting to authentication entry point.` debug message when trying to login.

I was using the `console server:start --docroot=web/` and url `127.0.0.1:8000/app.php/login` and the security.yml contained:
[code]

When trying to login this just returned me to the login page every time without a message/e

[2016-01-07 17:11] danieledangeli opened #17297 "[MicroKernel][2.8.0]"
Hi,
I was trying to enable one medium project with a MicroKernel.
I've encountered this problematic.
My goal was (at least for now) starting to remove the routing files and keep only:
- config_{env}
- services.yml
- security.yml

The error is this one:

"[Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException]
  The service "security.authentication.retry_entry_point" has a depe

[2016-01-07 17:22] jakzal commented on #17297
It would be better understand if this is a bug if you provided more code, so we could reproduce your issue.

Did you load the framework configuration? For example:

[code]

[2016-01-07 18:01] #17259 closed

[2016-01-07 18:19] dunglas commented on #13496
Yes it can be done that way. Groups can even be supported (iterate over the resulting array and remove keys not in applicable groups).

Do you want to work on a PR?

[2016-01-07 18:29] boekkooi commented on #13496
I wish I had the time to work on this but I'm sorry to say that I really don't have the time.
I just had this code so I wanted to point out a way to do this.

[2016-01-07 18:35] AlexandreHagen opened #17299 "[Form][Bug][2.8.1] Bug (The required option "class" is missing) when using CollectionType with option 'entry_type' => EntityType::class"
Hi !

Under Symfony 2.8.0 everything are working. But with Symfony 2.8.1 I got this error:
[code]
I have compared 2.8.0 vs 2.8.1 modifications ([link to compare!](https://github.com/symfony/symfony/compare/v2.8.0...v2.8.1?diff=split&name=v2.8.1)), and maybe issue comes from CollectionType.php. But I can be sure.

Could you please check if 2.8.1 introduce a new bug or help me to close this issue?

[2016-01-07 18:54] WouterJ commented on #17299
This is indeed a bug on Symfony 2.8.1 and this will be fixed in 2.8.2. Please use 2.8.0 or 2.8-dev for now.

[2016-01-07 20:49] jakulov opened #17300 "Strange behaviour of \Symfony\Component\Process\Process::start on MacOS"
Hi, i'm trying to run custom command in background from controller.
Here's my simple code

    $cwd  = '/path/to/project';
    $command = new Process(
         'bin/console admin:settings_test',  $cwd, null, null, 3600
    );
    $command->start();

When I run this, process isn't starting. I've tried to pass callback function to start – no effect.
So i've changed start method like this:

    $this

[2016-01-07 20:53] jakulov commented on #17300
Forgot to notice, that when I'm using run method, it works fine, but I need non blocking fork of my process.

[2016-01-07 21:04] AlexandreHagen commented on #17299
Thanks @WouterJ! I will do that. But I am a curious guy and I wish to understand that bug (I tried to solve this problem for three hours). Could you tell me in which class are involved? There are already a commit or a pull request to fix that bug?

[2016-01-07 21:07] WouterJ commented on #17299
@AlexandreHagen the bug was fixed in this PR: https://github.com/symfony/symfony/pull/17162 and introduced in https://github.com/symfony/symfony/pull/17044

[2016-01-07 21:08] AlexandreHagen commented on #17299
Thanks a lot !

[2016-01-07 21:09] #17299 closed

[2016-01-08 01:01] Tobion commented on #17285
Duplicate of #6129

[2016-01-08 01:01] #17285 closed

[2016-01-08 01:36] dosten commented on #17158
Given the feedback received in the related PR maybe this can be closed right?

[2016-01-08 04:26] ihsanudin opened #17301 "[HTTP Kernel] kernel.controller event execute after method action call"
My Event Listener

[code]

My Service

[code]

My Expected result: I can get the controller then use the controller in other event listener method but **onKernelController** is called after **onFilterQuery**

Note:

onFilterQuery is filter/event inside action method

[2016-01-08 04:34] ihsanudin commented on #17301
[code]

The screen shoot

[2016-01-08 06:01] ihsanudin commented on #17301
/home/aden/Pictures/Screenshot from 2016-01-08 11:31:06.png

[2016-01-08 06:03] ihsanudin commented on #17301
![Screen shoot](https://cloud.githubusercontent.com/assets/7464920/12191477/0462de42-b608-11e5-9cfe-11ac4023f220.png)

From documentation:

http://symfony.com/doc/current/cookbook/event_dispatcher/before_after_filters.html#before-filters-with-the-kernel-controller-event

[2016-01-08 06:06] #17301 closed

[2016-01-08 06:35] #17158 closed

[2016-01-08 08:27] apoberez opened #17302 "Use form validation_group in embedded form"
I have embedded form type with validation group which is important for parent form, but according to this http://symfony.com/doc/current/reference/forms/types/form.html#cascade-validation it's not considered. Is there some way to force it's usage?

[code]

[2016-01-08 08:53] hboomsma opened #17303 "[Filesystem] dumpFile() ignores umask settings"
`dumpFile()` will always create a file with `0666` permissions if the file system supports these file permissions.

Analog to the behavior of `file_put_contents` and other file handling functions, one would expect that the umask setting will be taken into account.

[2016-01-08 09:27] matthbull commented on #16784
Im still getting this error on 2.8. Not sure if thats expected, but looking at this thread it doesnt seem so.

  A colon cannot be used in an unquoted mapping value at line 72 (near "check_email: Изпратихме писмо с линк за активация на посочения
   E-mail адрес: %email%. Ако не откривате писмото проверете и в папка СПАМ.").

*Filename: FOSUserBundle.bg.yml*
[code]

[2016-01-08 09:29] benji07 commented on #16784
@matthbull you got a colon just after "адрес"

You need to quote the whole line

[code]

[2016-01-08 09:45] nicolas-grekas commented on #15856
See #17305

[2016-01-08 09:58] nicolas-grekas commented on #17103
Can you give us your global .composer.lock file please?
Can you share a simple reproducer?

[2016-01-08 10:37] vschoener commented on #17103
Hi,

Where is located the global one ? I didn't see him in my home directory but I can provide you one among my projects I have.

I got this problem in every project I use and I tried to move out my composer initialization code from my php.ini to a project, the problem persist

I found out a way to display my sub array info using CTRL + click on the root arrow, this allow me to expand / collapse e

[2016-01-08 10:48] nicolas-grekas commented on #17103
wait, the data is here, it's just hidden but you see it. Then if you CTRL+click on that arrow, it opens up and you see the content?
Then the bug is a missing arrow next to each array, nothing more.
Can you share a simple html page with a dump inside?

[2016-01-08 10:58] vschoener commented on #17103
Yes ! I found out this when I was inspecting element and find the shorcut on click reading the documentation.

The arrow is displaying at the very begining of the rendering and is hidden right after.

Did you have access to this URL (my first pen :))

http://codepen.io/vschoener/pen/JGNWNp

[2016-01-08 10:59] vschoener commented on #17103
Ok I just tried using 'incognito' mode and the code is working great, I'm suspecting one of my chrome plugin...

[2016-01-08 11:02] scaytrase opened #17306 "Paths with % in them does not supported"
Getting an exception when calling cache:clear on path with '%'. My build server urlencodes branches when deploing them to stage, so paths become like `/var/www/projects/test/feature%2Ftest_branch/`

[code]

[2016-01-08 11:02] danieledangeli commented on #17297
Thanks @jakzal for the quick response.

I've solved it.
The problem was related on my confusion on using the MicroKernelTrait.
Basically the funcitons: "configureRoutes" has never been called because I was overwriting "registerContainerConfiguration" from the previous normal "AppKernel".

I'm sorry to have raised a ticket. But probably can help someone with the same problem!

[2016-01-08 11:03] vschoener commented on #17103
And the winner is "Emoji Input by EmojiStuff.com"... Something I tried out a couple days before I report this bug..

Thanks for your time and replies. And sorry I didn't find out this before.

[2016-01-08 11:35] #17297 closed

[2016-01-08 11:46] aimeos opened #17308 "Fatal error with composer --no-dev"
Creating a Symfony project fails when adding "--no-dev":
```composer create-project --no-dev symfony/framework-standard-edition my_project_name "3.0.*"```

It also fails when installing first with development packages and try to remove them in production environment:
[code]

Both throw the following error message:
[code]

[2016-01-08 12:21] rtarnaud opened #17309 "Assets fail to load after a Composer update"
Hello,

I doubt my issue is purely related to Symfony but I post here nonetheless as I feel it is the most appropriate place to do so.

I recently performed a Composer update on my Symfony project to get a rid of a package I stopped using. Here is my composer.json:

[code]
In the same time, several packages including Symfony have been updated by the Composer update command:
- Twig
- Symfony
- Asse

[2016-01-08 12:57] dosten commented on #17308
The SensioGeneratorBundle is a requiered dep in the dev or test directory by default, if you do not install the deps, you need to make sure that you are using the "prod" env

[2016-01-08 13:01] konrados opened #17310 "Validator - an error in debug tools, regarding a field sticked to a non-validated group"
Hi,

These are my first days with Symfony, so I'm not really sure if this is a bug or not. But I believe it is.

I have an entity "User" and a variable:

    /**
    * @Assert\NotBlank
    * @Assert\Length(max = 4096)
    */
	private $plainPassword;

As you can see it doesn't belong to any group.

Now, in a controller I have this:

    $user = new \AppBundle\Entity\User();
    $form = $this->creat

[2016-01-08 13:07] aimeos commented on #17308
When ```composer update  --no-dev``` is executed, you have no influence on what environment is used. Seems like the Symfony composer scripts should add ```--env=prod``` if composer isn't in "dev" mode

[2016-01-08 13:29] jakzal commented on #17308
Yes, you do:

    SYMFONY_ENV=prod composer create-project --no-dev symfony/framework-standard-edition my_project_name "3.0.*"

For future, please use [other channels](http://symfony.com/support) for support questions.

[2016-01-08 13:29] #17308 closed

[2016-01-08 13:31] tristanbes commented on #16587
Still happening, has to put down version in

[code]

But I don't know if I have to put 10.0 because I use MariaDB, or put 5.6, because it's based on a 5.6 mysql engine...

[2016-01-08 13:36] tristanbes commented on #16587
I've found the issue : https://github.com/doctrine/dbal/issues/990
Opened in 2014 by @stof

[2016-01-08 13:40] silverjebs commented on #16784
Hi, i was getting it from a comment in config.xml in 2.8 while running phpunit... solved thanks to this issue :)
<pre>
fos_oauth_server:
    db_driver: orm       # Driver availables: orm, mongodb, or propel
</pre>

[2016-01-08 14:01] stof commented on #17310
@konrados the error shown in the WDT comes from the validation performed in the form, not from the validation triggered by your own code (which is not tracked by the WDT). And your form is still running validation in the default group, not in the registration group.

[2016-01-08 14:03] stof commented on #17310
and please use the [support channels](http://symfony.com/support) to ask for support. The github issue tracker is meant to track bugs and feature requests. It is not a support forum (which would make it impossible to manage).
so I'm closing this issue

[2016-01-08 14:03] #17310 closed

[2016-01-08 14:16] konrados commented on #17310
Hi, thanks for answering.

I was pretty sure it's bug, this is why I added this issue. It wasn't supposed to be a question.

I know you guys prefer StackOverflow or irc as the support channels, this was  irc where I was suggested to file an issue.

And yes, I started with StackOverlow ( http://stackoverflow.com/questions/34673472/custom-validaton-messages-not-working-on-symfony-3 ) where I did not

[2016-01-08 14:20] rtarnaud commented on #17309
Forgot to mention that the fatal error is preceded in the logs by the following warning:
PHP Warning:  Uncaught exception 'ErrorException' with message 'require_once(C:\Users\XXX\Desktop\PROJECT\vendor\...\some_file.php): failed to open stream: Too many open files' in C:\Users\XXX\Desktop\PROJECT\vendor\symfony\symfony\src\Symfony\Component\Debug\DebugClassLoader.php:...

[2016-01-08 15:32] stof opened #17311 "[Suggestion] Link to the Symfony support page from the exception page and the profiler"
Many people are opening issues on github to ask for support. I suspect that at least some of them don't know what our actual support channels are.

What do you think about linking to http://symfony.com/support on the exception page (the one displayed in debug mode) and in the profiler UI, so that people can know more easily how to ask for support ?

[2016-01-08 15:47] jakzal commented on #17311
:+1: excellent suggestion

[2016-01-08 15:53] TomasVotruba commented on #17311
:+1:

[2016-01-08 16:08] mvhirsch opened #17312 "[Validator] CacheInterface uses concrete implementation instead of abstraction"
Hi,

I just realized (while writing unit-tests in my own code) that the [CacheInterface](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/Cache/CacheInterface.php#L44) does depend on the concrete implementation instead of the interface ClassMetadataInterface.

I think this is a bug, is it?
I could easily provide a patch (exchanging ClassMetadata with ClassMeta

[2016-01-08 16:18] aimeos commented on #17308
Nevertheless, it would be great if the Symfony composer scripts could add ```--env=prod``` automatically so it works without additional environment variables.

[2016-01-08 16:28] mheki commented on #15368
solution is not that straightforward,  as `sprintf` doesn't count properly multibyte strings length. PR is on its way

[2016-01-08 16:43] stof commented on #17312
Changing the signature of the interface is not an easy patch: it is a BC break and so can only be done in major versions.

[2016-01-08 17:41] jakzal commented on #17309
This has more to do with your system configuration, rather then Symfony. Disable xdebug if you have it enabled as I've seen it causing such problems. I'd advice you to check your ulimits if you were on linux, but since you're on windows I don't know if there's even such a setting there ;)

If you think there's a bug with assetic, report it either to [AsseticBundle](https://github.com/symfony/asset

[2016-01-08 17:41] #17309 closed

[2016-01-08 18:05] stof commented on #17309
If you be great to debug which package update is causing the issue though, to know which package is leaking file descriptors

[2016-01-08 18:13] jakzal commented on #17300
What happens is [the destructor stops your process](https://github.com/symfony/symfony/blob/f20f2f06cc4510bdcfc0794edd45580a0b96e244/src/Symfony/Component/Process/Process.php#L173). You need to `wait()` for the process to finish.

[2016-01-08 18:27] jakzal commented on #17302
If I understood your report correctly this is a duplicate of #3622.

The group is always propagated to the cascaded object with the `Valid` constraint. See https://github.com/symfony/symfony/issues/9650#issuecomment-55465073 and https://github.com/symfony/symfony/issues/9650#issuecomment-59475670

[2016-01-08 18:27] #17302 closed

[2016-01-08 18:36] jakulov commented on #17300
jakzal, so there's no way to run non blocking background process?
Now i've found a way of using fastcgi_finish_request() before wait() call to send response to the client and close connection. So in next request i can check if process is running and show it's progress to the client. And this is what I want, because process execution can take several minutes and I won't keep opened connection for s

[2016-01-08 18:46] stof commented on #17300
@jakulov you cannot have a child process living longer than its parent process. So no, you cannot launch a background process intended to keep running after your main process exits.

[2016-01-08 18:49] stof commented on #17300
If you look at how ``server:start`` works, it forks the PHP process (with ``pcntl_fork``), sets the fork as session leader (so that it does not depend on the main process anymore) and runs the subprocess in the fork only.

[2016-01-08 18:52] jakulov commented on #17300
Thank you for help.

[2016-01-08 18:52] #17300 closed

[2016-01-08 19:49] MatTheCat commented on #7709
Is there a chance to see this fixed one day?

[2016-01-08 19:59] iltar commented on #17311
:+1:

[2016-01-08 22:22] alex88 commented on #6857
It seems also not possible, with multiple host requirements for different urls, generate a url from a domain to the other http://stackoverflow.com/questions/34687016/symfony-2-generate-route-with-domain-restrictions-from-another-domain

[2016-01-08 23:23] toaotc commented on #6857
@alex88 i assume you use the [toaotc/ToaFrameworkExtraBundle](https://github.com/toaotc/ToaFrameworkExtraBundle). the thing is that it recycles the `subdomain` from the request and so it overrides the defaults given in the route configuration. A quick win could be to use different parameter names like `subdomain0` and `subdomain1` f.e. in your route configurations to prevent the default override

[2016-01-08 23:26] alex88 commented on #6857
I'm not, anyway, just figured out my issue is something different, the firewall wasn't actually being correctly matched and so it was generating the url for another domain, sorry

[2016-01-09 10:23] fabpot commented on #17311
:+1:

[2016-01-09 10:24] WouterJ commented on #17311
:+1: I like this suggestion

[2016-01-10 01:16] reypm opened #17324 "Deploy a Symfony2 application causes fatal error with SensioGeneratorBundle at AppKernel.php"
I have created a new Symfony 2.8 app using Symfony installer by running: `symfony_installer new test 2.8`. After that I ran: `composer update`. And everything is fine until there. Now I want to deploy this app for production environment so I am following the steps as in docs [here][1] so the first command I am running is the following: `composer install --no-dev --optimize-autoloader` but I am get

[2016-01-10 01:46] Tobion commented on #17324
The solution is actually desribed just in the docs you followed: http://symfony.com/doc/current/cookbook/deployment/tools.html

[2016-01-10 01:46] #17324 closed

[2016-01-10 01:47] Tobion commented on #17324
Also please use the channels for support questions as described in http://symfony.com/support

[2016-01-10 10:47] dmaicher commented on #16791
Why would you not return in that case? I mean it iterates over all fields that are specified to be unique ;)

So your unmapped "awegresg" field will not be one of them.

Where is your `validation.yml` file located? is it loaded?

[2016-01-10 10:55] dmaicher commented on #16543
Can't you not simply put the constraint on the `User` (as a class constraint)? Then you have access to the User instance and can validate the dependant properties easily.

[2016-01-10 11:32] poolerMF commented on #16791
In my described case ignoreNull is true and fields contains unmapped _"awegresg"_. Description of ignoreNull in documentation:

__ignoreNull__
type: boolean default: true
If this option is set to true, then the constraint will allow multiple entities to have a null value for a field without failing validation. If set to false, only one null value is allowed - if a second entity also has a null val

[2016-01-10 16:38] peterrehm commented on #17311
I just submitted a proposal here #17327.

[2016-01-11 09:46] Nyholm opened #17329 "[WebProfiler] .svg icon file must have a height propery"
When you use a .svg file for the toolbar icon it must have `height="24"` or the toolbar will render strangely. The attached images will show an example of this render error.

![screen shot 2016-01-11 at 10 19 40](https://cloud.githubusercontent.com/assets/1275206/12229997/3c9b7d04-b84d-11e5-9a8f-51143dfe5cd3.png)
![screen shot 2016-01-11 at 10 19 18](https://cloud.githubusercontent.com/assets/1275

[2016-01-11 10:08] #17306 closed

[2016-01-11 10:12] qferr commented on #14704
@stof ping

[2016-01-11 11:18] nightmarepl commented on #17030
Same here, but I'm not using vagrant nor NFS folders. It happened right after upgrade to 2.8 and happens only when there are sub-requests.

[2016-01-11 13:53] nicolas-grekas commented on #17103
Great, the fix was easy :)

[2016-01-11 13:53] #17103 closed

[2016-01-11 13:55] vschoener commented on #17103
Yes ahah :)

[2016-01-11 16:06] Ninir opened #17331 "[Security] Voter with AccessDecisionManager & isGranted calls"
Hello,

I created a voter following the [documentation](http://symfony.com/doc/2.8/cookbook/security/voters.html), injecting the AccessDecisionManager to check the current token roles as in the "[checking for roles inside a voter](http://symfony.com/doc/2.8/cookbook/security/voters.html#checking-for-roles-inside-a-voter)" section.
However, when calling `is_granted` from a Twig Template (or isGrant

[2016-01-11 16:17] rtarnaud commented on #17309
It appears that Symfony (symfony/symfony) is the package causing this issue starting from version 2.7.8 (works fine with 2.7.7). The error also occurs with 2.8.*.
I also tested assetic on a blank project with this composer.json but could not reproduce the error though.
Do you have any clue about what changes in 2.7.8 could have brought this kind of issue (or just maybe revealed a mistake in my own

[2016-01-11 16:21] Ninir commented on #17331
Guess it is related to:

[2016-01-11 16:24] rtarnaud commented on #17309
@jakzal
Thanks for your answer but I had already come across the leads you mentioned while googling:
- xdebug is not responsible although the php errors in the log are more detailed when it's activated
- I do not either about the file limits in Windows but even that was the direct cause of the error, it would still be unsatisfactory (to say the least) to increase those limits as this overflow is c

[2016-01-11 16:35] jakzal commented on #17309
@rtarnaud as stof said it would be nice to debug which package causes the error. I can't help myself, unless you can provide a project that would be also failing on OS X or Linux (I don't have access to Windows).

Without steps to reproduce we can't help much. It might not be assetic at all. Perhaps updating packages one by one (or enabling bundles one by one) would help you identify which depende

[2016-01-11 16:39] jakzal commented on #17030
@nightmarepl if you're able to provide code that would reproduce your issue, we can reopen here.

[2016-01-11 16:46] rtarnaud commented on #17309
@jakzal
Well as I said, Symfony is the package causing the error and not Assetic. With the same (old version) of Assetic and a newer version of Symfony, the error shows up.
When I talked about leads to investigate, I thought that maybe you had in mind some changes in 2.7.8 and above that might be causing this issue but I understand it's hard to give any tips with so little material.
I will eventua

[2016-01-11 20:12] davelima opened #17335 "[HttpFoundation] "Symfony/2.X" HTTP_USER_AGENT on Symfony 3"
So, i think this is not a problem, but while dumping a request made with Symfony\Component\HttpFoundation\Request on Symfony 3.0.1, the user agent used on request was Symfony/2.X.

I've searched for any issues about this but didn't found nothing. There is a reason for it to remains 2.X on 3.X releases, or can we update it to Symfony/3.X on this version? What do you guys think?

[2016-01-11 21:31] imulot opened #17336 "Missing argument 1 when injecting parameter in FormType"
Hello,

Here my service definition :
services:
    petapp.form.type.species:
        class: PetAppCoreBundle\Form\Type\SpeciesType
        arguments: ['%locale%']
        tags:
            - { name: form.type }

In config.yml
parameters:
    locale: en

In my Species Type :
    /**
     * Default locale
     *
     * @var sting
     *
     */
    private $default_locale;

    /**
     * Constructo

[2016-01-11 21:46] xabbuh commented on #17336
I am sorry that your code doesn't work as expected but I will close here anyway as we use GitHub to track the development of Symfony. Please use one of the [support channels](http://symfony.com/support) to get help with your problem. Thank you!

[2016-01-11 21:46] #17336 closed

[2016-01-11 23:37] jakzal commented on #17309
It's a far fetched statement, as the problem doesn't reveal itself in most Symfony installations. So far you're the only one reporting this bug, so your code might as well be at fault. I still count you're get into bottom of this :)

[2016-01-12 00:30] catch56 commented on #16830
I don't see any mention of the classloader in https://github.com/symfony/symfony/pull/16822, and for me at least, it's important to keep the classloader and actual cache systems separate - the classloader is required long before the container is available.

[2016-01-12 08:33] fabpot commented on #17335
Indeed, can you create a PR to change the value to 3.X?

[2016-01-12 11:20] xabbuh commented on #16791
I agree with @poolerMF. The exception should be thrown.

[2016-01-12 12:17] bauer00 opened #17339 "[Form] CollectionType entry_option "required => false" ignored in prototype since 2.8.1"
I use the following code, where the Number-Field of 'scale' is required and the Number-Field of 'values' can be empty.
[code]

The generated HTML for existing fields is correct:
[code]

But the data-prototype is not, both fields are required:
[code]

I've found this issue: #15544
As far as I see, to fix this issue, the required-attribute of the child-field is overridden by the required-attribute o

[2016-01-12 12:26] xabbuh commented on #17331
Can you fork the Symfony Standard Edition and make the needed changes to reproduce your issue?

[2016-01-12 13:14] dmaicher commented on #16791
@poolerMF  sorry now I understand what you mean.

I agree and it should indeed always throw the exception in case an unmapped field is in the list.

Lets say we have a class `A` with two properties `a` and `b`.

This record is already in the database: `a=1, b=NULL`.

If we now validate the record `a=1, b=NULL` with `ignoreNull=true` it would be valid, right?
Maybe it should behave more like a uniq

[2016-01-12 13:32] matthbull commented on #16784
@benji07 yes, I know it needs quoting, but its in a vendor bundle so I cant.  And seeing as it seems to be the same initial issue I thought Id mention it.

[2016-01-12 13:39] xabbuh commented on #16784
@matthbull Looks like this was fixed in FOSUserBundle with FriendsOfSymfony/FOSUserBundle#1990.

[2016-01-12 15:13] kshitizlondon opened #17341 "PHP7 compatibility issue with symfony 2.7"
Hi, I have a basic symfony 2.7 installation on server with php7 installed.

I see this error:
Compile Error: Cannot use 'String' as class name as it is reserved

Can you please tell me, is sysmfony 2.7 version compatible with PHP7.

If not, please tell me which version should I use?

[2016-01-12 15:15] HeahDude commented on #17339
it's weird because the following test in 2.8 works fine :

[code]

[2016-01-12 15:36] HeahDude commented on #17339
I made a fork of symfony-strandard and used your scenario but could not reproduce your issue, it's working as expected

[2016-01-12 15:45] stof commented on #17341
Which class is it (which namespace, or which file) ? Are you sure it comes from Symfony ? AFAIK, we have deprecated classes named True and False (but they are optional and should not be used anymore, especially if you plan to use PHP 7 as they cannot work there), but not String class.

[2016-01-12 15:59] Ninir commented on #17331
@xabbuh Ok just dit it. A minimal setup on the standard edition could not lead to the problem.

For those looking into the same issue: I investigated further, and it is totally related to the SecurityExtraBundle from JMS. Disabling (for testing purposes) the bundle fixed the circular dependency issue.
I Guess it needs more stuff to be matching SF 2.8 at least. Will investigate more to fix it on th

[2016-01-12 15:59] #17331 closed

[2016-01-12 16:16] brunoroux opened #17342 "[WebProfiler] adding a condition in routing.yml breaks the router panel"
Adding a condition (using a regex match on the HTTP_HOST of the request) in my routing.yml breaks the WebProfiler router panel.

My routing.yml is as follows :
[code]

The minimum reproducing repo can be found here : https://github.com/brunoroux/symfony-standard/tree/bug/profiler

Accessing : http://dev.local/app_dev.php/_profiler/6ae9ed?panel=router throws a Twig_Error_Runtime :
`An exception has

[2016-01-12 16:56] paradajozsef commented on #17342
Is it valid?
[code]
Because of the backslash, I get this exception:

After removing it, or adding a plus backslash, I can't reproduce the error at ?panel=router.

[code]

[2016-01-12 17:15] brunoroux commented on #17342
I think it is valid : I used evaluate method from ExpressionLanguage class to validate the condition and it was ok.

How did you get the `ParseException` ? Cause I didn't get any.

I tried your solution : using
[code]
I still have the same exception

[2016-01-12 17:20] #17335 closed

[2016-01-12 17:27] Xeyos88 commented on #16665
This is a complete example also with authentication form? Why I can not authenticate.
Before I make a bind anonymous and should then perform the bind for the form but not function.

[2016-01-12 17:35] yapro commented on #17185
I think it error of php.

[2016-01-12 17:35] #17185 closed

[2016-01-12 18:15] imulot commented on #17336
Hello,

I tried  documentation example but It does not work either.
http://symfony.com/doc/current/cookbook/form/create_custom_field_type.html#creating-your-field-type-as-a-service

It seems a bug related to new 2.8 form feature where we do not need to change controller to access field as a service.

Error come from :
in vendor/symfony/symfony/src/Symfony/Component/Form/FormRegistry.php at line 90

[2016-01-12 18:22] imulot commented on #17336
May be an issue due to my php version. I am in 5.4.45-0+deb7u2.
Syntax ::class in formbuilder not working since this is possible only with php 5.5
I will try to upgrade my php version to fix this issue.

[2016-01-12 18:43] xavierleune commented on #17054
@iltar thanks for you feedback and sorry for the lag. I understand your point of view, but actually the more I think to this, the more I think I really need this kind of extension.
Actually we are working on major websites across 11 languages. These websites will share some "sections" of sites. So my bundle can provide a lot of actions (so a lot of templates). Without the ability to override the t

[2016-01-12 18:51] imulot commented on #17336
FYI : After upgrading php to 5.5 and changing syntax to ::class, error still present.

[2016-01-12 19:43] omerida opened #17343 "[EventDispatcher] Missing closing parenthesis in EventSubscriberInterface documentation"
In the docBlock for the getSubscribedEvents method, the third example item is missing a closing parenthesis .

[code]

Expanded to have the opening / closing parentheses line up better:

[code]

[2016-01-12 20:46] cjmaio opened #17345 "ServerBag assumes the use of PHP_AUTH_USER denotes Basic authentication"
I use the Laravel framework, which makes use of `symfony/http-foundation`.

We developed an API, and recently moved to using a Shibboleth IdP. When we send through our header to Laravel, `Authorization: Bearer 123456.....` it was being stripped and replaced with `Authorization: Basic 123456.....`.

I couldn't determine why it was being stripped. After hours of thinking it was my own code, I finall

[2016-01-12 22:00] xabbuh commented on #17336
Please create a fork of the Symfony Standard Edition with the needed changes to reproduce your issue if you think you found a bug.

[2016-01-13 09:00] stof commented on #17342
The error from @paradajozsef is that the ``\`` indeed needs to be escaped in YAML double quoted strings (2.8 will throw a deprecation warning and 3.0 will reject such Yaml content).

@brunoroux please provide the full backtrace of exceptions (you should have a section of the error page giving it as plaintext at the bottom of the page IIRC)

[2016-01-13 09:12] JHGitty opened #17349 "date_format year should use uppercase Y"
[code]
[code]

The letter "y" should be uppercase "Y". A lowercase "y" is used for double-digit years (16 instead of 2016, see http://php.net/manual/de/function.date.php). But the current output has 4 digits (2016).

This would result into a BC break. That because I suggest to allow "Y" and deprecate "y".

[2016-01-13 10:17] bauer00 commented on #17339
I've installed a clean Symfony 2.8.1 project with the Symfony installer and tested your testcode with PHPUnit and it fails:
[code]
Revertet this project back to Symfony 2.8.0 and the test passes. Also tested it with clean 3.0.1 and 3.0.0, both passed.

[2016-01-13 11:54] xabbuh commented on #17296
maybe related to #14468

[2016-01-13 12:02] HeahDude commented on #17339
@bauer00 alright, but test seems to pass on 2.8.2-dev, could you please confirm.
Also here's a fix for 2.8.1

Replace line 31 of `\Symfony\Component\Form\Extension\Core\CollectionType.php` by :
[code]

[2016-01-13 12:19] xabbuh commented on #17339
This is a known regression introduced in Symfony 2.8.1 which was fixed in the meantime by #17162 and will be included in the 2.8.2 release.

[2016-01-13 12:19] #17339 closed

[2016-01-13 12:46] boekkooi commented on #17296
@xabbuh could have been the problem but it wasn't it was a typo on my end I just discovered sorry!

[2016-01-13 12:46] #17296 closed

[2016-01-13 12:47] bauer00 commented on #17339
You're right, it's fixed in 2.8.2-dev. I didn't found #17162, thx for the hint.

[2016-01-13 13:59] kshitizlondon commented on #17341
@stof ,

You are right I guess:

check this, i think it is twig and mongodb-odm issue:

[code]
What should I do? Any advice on this issue will be appropriated!!!

[2016-01-13 14:11] stof commented on #17341
There is not issue in Twig, as the class name is ``Twig_Loader_String`` (same in PHPUnit btw).

For the MongoDB ODM, the ``String`` annotation is deprecated in favor of ``Field(type="string")``. So simply avoid using the deprecated API and it will work on PHP 7.

[2016-01-13 14:11] brunoroux commented on #17342
Okay thanks for pointing out the escaping part.

[code]

After looking at the stack trace a bit more closely it seeems that the request is null

[2016-01-13 14:56] pculka opened #17351 "[2.7+][WebTestCase] HTTP_USER_AGENT for client is ignored"
Imagine a scenario, where you need to follow redirects based on user_agent, having the default user_agent set in phpunit.xml. But for the sake of this, let's just remove the phpunit.xml UA definition

now following:
[code]

ends up with `$_SERVER['HTTP_USER_AGENT']` being not set, resulting in an exception in the MainController and killing the testing process with a Fail.

I tried to trace down th

[2016-01-13 15:11] stof commented on #17351
``$_SERVER['HTTP_USER_AGENT']`` will not be set. You need to use the Request object to access request info, not superglobals. The browserkit client does not overwrite global variables.

[2016-01-13 15:16] pculka commented on #17351
oh god, thanks for the info. Now it works

[2016-01-13 15:16] #17351 closed

[2016-01-13 15:19] stof commented on #17351
The WebTestCase does not perform actual requests, but only calls the kernel directly thanks to the request encapsulation. This works only when your code does not break this encapsulation. Any usage of the request superglobals (``$_GET``, ``$_POST``, ``$_COOKIES``, ``$_FILES``, ``$_SERVER`` or ``$_REQUEST``) is making your code incompatible with such testing (and also with the usage of subrequests)

[2016-01-13 15:25] pculka commented on #17351
yup, that sounds logical now, would be cool to make a note on this in the Testing cookbook?

[2016-01-13 16:47] aguidis opened #17352 "[Form][2.8.1] Feature "Allowed to return null for query_builder" not available"
Hi,

This post [Symfony blog post](http://symfony.com/blog/new-in-symfony-2-8-form-improvements#allowed-to-return-null-for-query-builder) announced the feature **Allowed to return null for query_builder** has been introduced by commit [#13990](https://github.com/symfony/symfony/commit/e0a1294a44ca4ba902af6af4b4ddfc0dabf8a30d), but this commit [Fix "[Form] Add flexibility for EntityType"](https://g

[2016-01-13 16:57] fbourigault opened #17353 "[DependencyInjection] PhpDumper, abstract service and factory."
While using Symfony 2.7.6 (composer update won't let me update to 2.7.8 even with a ^2.7.0 dependency :/) and [csa/guzzle-bundle](https://github.com/csarrazi/CsaGuzzleBundle) 2.0.4 and [guzzlehttp/guzzle](https://github.com/guzzle/guzzle) 6.1.1 I encountered a bug that lead to generate the following code in `appDevDebugProjectContainer.php` (I removed some sensitive data):
[code]

The service is d

[2016-01-13 17:00] fbourigault commented on #17353
I upgraded to symfony/symfony 2.8.1 and the code generated is fine.

[2016-01-13 17:16] #17341 closed

[2016-01-13 19:02] imulot commented on #17336
I have reproduced bug on 2.8 branch of this fork  https://github.com/imulot/symfony-standard.git
  URI /

Warning: Missing argument 1 for Test\TestBundle\Form\Type\BarType::__construct()
I try to inject %locale% parameter in BarType Form service.

Thank you for your help.

[2016-01-13 19:46] xabbuh commented on #17343
solved by #17344

[2016-01-13 19:46] #17343 closed

[2016-01-13 19:55] xabbuh commented on #17336
The FQCN of your form type is `Test\TestBundle\Form\Type\BarType` but your registered service's class name is `TestBundle\Test\Form\Type\BarType`.

[2016-01-13 20:55] imulot commented on #17336
You are right !
Thank you. Mistake was so obvious that I didn't see it.
I will update stackoverflow case.

Thanks again.

[2016-01-13 21:48] dodysw commented on #14350
I noticed that ArrayChoiceList convert false values to empty string, which conflicted with with placeholder hiding logic. Placeholder is not generated if one of choice's value  already has an empty value. Is this related to this issue or shall I open a new issue?

[2016-01-13 21:51] paradajozsef commented on #14350
@dodysw There is already an issue about that: #17292

[2016-01-13 21:53] dodysw commented on #14350
You're right. Thanks, should've search first before posting.

[2016-01-13 22:33] seeschloss commented on #16776
It works for me, are you sure you are using UTF-8?

[2016-01-14 01:33] Tobion commented on #17352
The test (https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bridge/Doctrine/Tests/Form/Type/EntityTypeTest.php#L225) is still there and seems to pass. So what is the problem you are experiencing?

[2016-01-14 01:37] Tobion commented on #17352
Based on https://github.com/symfony/symfony/blob/2.8/src/Symfony/Bridge/Doctrine/Form/Type/DoctrineType.php#L168 maybe it's then querying everything that exists (instead of having an empty list)?

[2016-01-14 01:56] Tobion commented on #17349
`date_format` must be one of the `IntlDateFormatter` constants or a IntlDateFormatter pattern. This is not related to the `date` format. See http://php.net/manual/de/intldateformatter.create.php and http://userguide.icu-project.org/formatparse/datetime

[2016-01-14 01:56] #17349 closed

[2016-01-14 01:59] Tobion commented on #16776
Cannot reproduce as well: https://3v4l.org/5hXSH

[2016-01-14 01:59] #16776 closed

[2016-01-14 05:58] EAnushan commented on #17292
Confirming bug is present in Symfony 3.0.1. Using `false` as a value sets value to empty.

If the ChoiceType in question has a constraint such as `NotBlank()`, it is impossible to submit the form with the `false` option selected.

Removing the constraint allows form submission, and correctly maps to `false`, but the placeholder logic is still broken since `false` is being treated as empty, and pla

[2016-01-14 07:22] webmozart commented on #14350
Hi all! Just to clear up some confusion in case somebody else reads this thread: I don't recommend to use ArrayChoiceList. With the `choice_*` options you can solve all of your problems.

@pandy06269 You can achieve this in this way:

[code]

@herodrigues You can pass the property path to the `choice_label` option now, as in the example I just gave.

In general, the API documentation should give y

[2016-01-14 07:25] webmozart commented on #14350
Actually the current documentation isn't so bad: http://symfony.com/doc/current/reference/forms/types/choice.html

[2016-01-14 07:48] webmozart commented on #14350
See also https://github.com/symfony/symfony-docs/issues/6144

[2016-01-14 07:58] #15753 closed

[2016-01-14 08:06] #15368 closed

[2016-01-14 08:27] SimonSimCity commented on #16776
@seeschloss, @Tobion Could you imagine what setting in PHP could be responsible for that? I just tried it using different PHP versions on both Linux and Mac OS X.

It works, as you said, on Linux though ... but it doesn't on OS X.

Can you please double-check that?

[2016-01-14 08:28] nicolas-grekas commented on #16776
I think it's related to your locale

[2016-01-14 08:33] SimonSimCity commented on #16776
@nicolas-grekas Are there different defaults for charsets on OS X and Linux? I called `php -i` on both and compared the outcome: there were some extensions installed on the one that weren't on the other, but nothing related to charsets or locales.

[2016-01-14 08:38] fbourigault commented on #17353
Looks like it was fixed by d3a4a77 that depends on feature introduced in #14984.

I will try to upgrade my project to 2.8

[2016-01-14 08:53] mbrodala opened #17360 "Enforce console color output"
Currently support for console [color output support is verified](https://github.com/symfony/console/blob/82acbe7244a2f628875fa2c5b1e05199f3098bc4/Output/StreamOutput.php#L93) by checking a few environment variables on Windows systems or the `posix_isatty()` function on other systems.

However, there may be cases where a console application is executed in a *nix environment which doesn't expose the

[2016-01-14 08:54] steevanb opened #17361 "[Form][2.8.1] entry_options are not passed to sub forms"
In Symfony\Component\Form\Extension\Core\Type\CollectionType::buildForm(), $options['entry_options'] where merged un final $options variable. But in 2.8.1, this key is not merged, so all entry_options specified in FormType are not passed to sub forms.

Old code (2.8.0) :
[code]

New code (2.8.1), at line 5, $options['options'] is used but it's $options['entry_options'] instead :
[code]

How to rep

[2016-01-14 09:02] seeschloss commented on #16776
@SimonSimCity try typing ```locale``` in a terminal?

The variables shown should all say something like en_US.**UTF-8**, otherwise your terminal is probably giving input to PHP in something else than UTF-8. I have no idea what could be the default charset on OS X (and there isn't really a default charset on Linux, it all depends on the choices of your distribution).

Also I don't think anything on

[2016-01-14 09:15] webdevilopers opened #17363 "Form has errors of non mapped fields"
My original issue started here:
https://github.com/craue/CraueFormFlowBundle/issues/186

I have a camel cased property `mountingType` in my entity:
[code]

Accidentally - before I realized it - I used it the underscored property in my form (built with `CraueFormFlowBundle` by @craue ):
[code]

I didn't realize the naming problem because my form was still correctly rendered AND populated after subm

[2016-01-14 09:25] aguidis commented on #17352
Hello @Tobion, thanks for your answers,

My current project use Symfony 2.8.1 and tried to use this new feature but I noticed that I didn't have an empty list but the complete list of my entities in my select box (if I check the database queries in the profiler I have a SELECT * query on my entity table which is the default behavior of the EntityType).

After digging into the PR and the commits of

[2016-01-14 10:02] xabbuh commented on #17361
This is already fixed by #17162 and will be part of the 2.8.2 release.

[2016-01-14 10:02] #17361 closed

[2016-01-14 10:32] javiereguiluz opened #17366 "Let's make Symfony tests faster"
### Problem

Thanks to the work of @nicolas-grekas and the community, Symfony tests are faster every day. But we can do better.

I've analyzed the Symfony 2.3 test suite and I've found that **some tests are very slow**. I can think of 3 reasons for a slow test:

1. It's slow because the tested Symfony feature is slow. Let's try to fix that feature.
2. It's slow because the test code is not good en

[2016-01-14 11:00] SimonSimCity commented on #16776
@seeschloss To proof it's not dependent on the input-locale, I serialized it first:

    var_dump(parse_url(urldecode("http%3A%2F%2Flocalhost%2F2+-+English+title+2+%28%EF%AC%81%29+%D0%B7%D0%B4%D0%B5%D1%81%D1%8C.mp3%3Fdownload%3D1")));

This still returns the reported result on OS X and the expected one on my Linux machine.

On my OS X machine, I have the locale-settings `LC_*="C"` but on the linux

[2016-01-14 12:08] BentCoder opened #17369 "Forwarding request to another controller with constructor parameters"
Hi,

Is it possible to pass constructor parameters when calling `handle` in another controller to forward request? Or is there a different way? Currently I'm getting error below. I don't see any example in [documentation][1].

Thanks

    Catchable Fatal Error: Argument 1 passed to My\Bundle\Order\ApiBundle\Controller\ReceiverController::__construct() must implement interface Symfony\Component\Sec

[2016-01-14 12:26] Tobion commented on #16776
Maybe your console cannot display those chars. If you have a reproducible test case you should report the bug to the PHP bug tracker. It's not specific to symfony.

[2016-01-14 12:29] BentCoder commented on #17369
Sorted with: `'_controller' => 'my_api.controller.receiver:givItToMeAction',`

[2016-01-14 12:29] #17369 closed

[2016-01-14 13:28] poolerMF opened #17376 "SF3 security-bundle -> missing parameters for listeners"
hello ...

I'm trying to update symfony 2.7 -> 3.0.1 and I see that in security listeners/configs there are no parameters for classes

it's bad merge ? bug ? or I really can not update actual listeners/classes/configs ?

[2016-01-14 13:37] nicolas-grekas commented on #16868
@peteward could you please try with #17377?

[2016-01-14 13:51] xabbuh commented on #17376
All the class parameters were removed intentionally (see #14070). There are better ways to customise core services (for example, by using [service decoration](http://symfony.com/doc/current/components/dependency_injection/advanced.html#decorating-services)).

[2016-01-14 13:51] #17376 closed

[2016-01-14 14:06] poolerMF commented on #17376
thank you for response @xabbuh

can you give me advice ? in which file, should I decorate services ?

[2016-01-14 14:21] peteward commented on #16868
Thanks Nicolas, I'll try to give it a go tonight.

[2016-01-14 14:26] Taluu commented on #16296
Sorry for making this up (as this issue is still open and concern this though), but I think there's a slight problem with allowing only FQCN as the type on factories... What if your formtype has a dependency not on a service but on a value object ? e.g, I have a formtype which works on an entity, which depends on the parent entity.

I cannot declare this form type as a service (And thus inject my

[2016-01-14 14:58] sstok commented on #17366
`testDumpWithTooManyRoutes` is slow because it generates allot of routes (32770 to be exact), so I doubt that one can be optimized :) (except for unwinding the loop to a separate file, but that will be quit big! approx 2.23 MiB and will still generate a big amount of objects).

[2016-01-14 15:01] javiereguiluz commented on #17366
@sstok OK, let's forget about that test then and let's focus on the other ones.

[2016-01-14 16:11] smatyas commented on #17366
@sstok I think that test is about the dumper, so maybe the urlgenerator part could be left out. It could be enough i.e. to check the last line of the dumped file, if that contains the expected data. Or the total lines/size of the dumped file. I think it would speed up the test. What do you think?

[2016-01-14 16:12] xabbuh commented on #17352
@nicolas-grekas Do you remember the reason for eb08baa9fcb6db3863c795ea54e324ced68d56ea?

[2016-01-14 19:34] iBasit commented on #14060
Is there example for this? or it needs to be extended by another type? I need to solve this as well for our application.

[2016-01-14 19:57] poolerMF opened #17381 "FORMS -> CollectionType bug ?"
when using SF3:

GroupFormType:

    $builder
        ->add('code', TextType::class)
        ->add('roles', CollectionType::class, [
            'entry_type' => RoleFormType::class,
            'entry_options' => [
                'data_class' => '...Entity\Role'
            ]
        ]);

form.roles shows correctly ...

when I remove entry_options and in form **RoleFormType** in function **config

[2016-01-14 20:01] xabbuh commented on #17381
This will be fixed with 3.0.2 which will include the fix from #17162 (you can observe the same behaviour when using Symfony 2.8.1 instead of 2.8.2).

[2016-01-14 20:01] #17381 closed

[2016-01-14 21:08] colinodell commented on #14060
Yeah, I ended up resorting to that same workaround due to time constraints.

I really wish there was a better way to clear errors without restoring to this workaround, writing form type extensions, or complicating my view logic to sometimes hide them.

[2016-01-14 21:17] peteward commented on #16868
Hi @nicolas-grekas, I patched these changes onto my copy of 2.7.8 running on php 7.0.2.

Unfortunately they didn't really make any noticeable difference after running numerous tests on a full cache:clear of my app.

Memory usage remained identical both for the full cache:clear process and either side of stripComments.

Similarly time was quite variable between 16 and 19 seconds for a full clear bu

[2016-01-14 21:20] iBasit commented on #14060
+1

[2016-01-14 22:14] tvlooy commented on #16872
If you really want to get rid of it you could overwrite the service. Eg:

services.yml
[code]
AppBundle\DependencyInjection\NullTwigService.php
[code]

Tested and works with SensioLabs Insights.

[2016-01-14 22:15] tvlooy commented on #16242
See here for a fix https://github.com/symfony/symfony/issues/16872#issuecomment-171798705

[2016-01-14 23:46] herodrigues commented on #14350
Thanks @webmozart :+1:

I actually did that, but I forgot to comment it here.

[2016-01-15 08:19] SimonSimCity commented on #16776
If someone stumbles over this, see: https://bugs.php.net/bug.php?id=52923

[2016-01-15 08:26] peteward commented on #16868
I reported a PHP bug but this was explained as a feature of the new memory manager as discussed here: https://bugs.php.net/bug.php?id=70098

After introducing `gc_mem_caches()` the full memory usage is returned:

[code]

The time taken to do this is around 0.02 seconds so the benefit of reclaiming this memory seems clear.

However, the 120MB is not a full benefit to the total memory consumption of

[2016-01-15 09:20] DavidGarciaCat commented on #16872
Hi Tom,

Many thanks for your message.
I'm going to try this update. Hope it helps my SensioLabs Insight checks.

Cheers,

[2016-01-15 09:40] nicolas-grekas commented on #16830
Fixed by #17358

[2016-01-15 09:40] #16830 closed

[2016-01-15 09:42] nicolas-grekas commented on #3570
I'm closing this one since we are in 2016 now and we've made great progress towards offline cache warmup in the latest versions. Feel free to open an other issue if there is still something to fix.

[2016-01-15 09:42] #3570 closed

[2016-01-15 10:03] mhnrm commented on #15098
xabbuh: Could you please provide an example?

[2016-01-15 12:26] JHGitty commented on #15294
+1 :+1: I was going to create an issue about adding firewall information to the Profiler but then I found this issue. Hopefully this will be done.

[2016-01-15 12:48] JHGitty commented on #17262
@jakzal Sometimes it could be useful to add is as extra compontent to Symfony like it happened with the Ldap component. For sure Ldap support could be added by a bundle but it was added as official Symfony component. We also have a full ACL support and not everybody really need it. That because not always we should decline such feature requests.

I also agree to add full i18n support for routes in

[2016-01-15 12:54] JHGitty commented on #17258
As I understand in the Symfony documentation currently the default charset is ISO-8859-1. Right?
Source: http://symfony.com/doc/current/components/dom_crawler.html#adding-the-content

[2016-01-15 12:55] ondrejmirtes commented on #17258
Yep.

[2016-01-15 13:08] xabbuh commented on #17258
The character set is tried to be read from the meta tag and falls back to ISO-8859-1 because that's the default in the HTTP 1.1 specification:

[2016-01-15 13:10] ondrejmirtes commented on #17258
I think it would be more practical to use UTF-8 as the default since this is year 2016 and not 1999. Consider it as part of the [Symfony DX initiative](http://symfony.com/blog/making-the-symfony-experience-exceptional).

[2016-01-15 13:14] JHGitty commented on #17258
So should we follow RFC2616 or should we do a DX initiative here to change the default to UTF-8?

[2016-01-15 13:15] mhnrm commented on #15098
Nevermind, I got it working...

For anybody coming across this, searching for a solution: I basically followed Nicolas Macherey's Blog post on http://blog.ucs-labs.com/tester-ses-formulaires-symfony2-avec-le-type-de-champs-entity/. There are some minor issues with his suggestion, and the article is written in french - but you get the idea.

[2016-01-15 13:16] ondrejmirtes commented on #17258
I would vote for that although that's not up to me but to maintainers.

[2016-01-15 13:22] nicolas-grekas commented on #17258
changing the default would be a bc break, isn't it?

[2016-01-15 13:23] JHGitty commented on #17258
As I understand RFC 7230 (which replaces RFC2616) does not contain ``ISO-8859-1`` as default anymore.

   encoding that is a superset of US-ASCII [USASCII].

.. and ..

   ISO-8859-1 charset [ISO-8859-1], supporting other charsets only
   through use of [RFC2047] encoding.  In practice, most HTTP header
   field values use only a subset of the US-ASCII charset [USASCII].
   Newly defined header fi

[2016-01-15 13:52] COil opened #17386 "IpConfig->checkIp6() generates PHP warnings"
Hi, I have found these logs:

    [Fri Jan 15 11:28:23 2016] [error] [client 10.114.101.16] PHP Warning:  inet_pton():  in /vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/IpUtils.php on line 116
    [Fri Jan 15 11:28:23 2016] [error] [client 10.114.101.16] PHP Notice:  Undefined offset: 1 /vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/IpUtils.php on line 122

The related

[2016-01-15 13:57] xabbuh commented on #17258
This is only about the header values and not about the contents of the HTTP messages.

Anyway, as @nicolas-grekas said changing the default value would be a BC break and could only be done with Symfony 4.0 (and we would still need to find a proper upgrade path).

[2016-01-15 13:58] xabbuh commented on #17386
Not sure what we could do about this without a failing example.

[2016-01-15 14:09] COil commented on #17386
@xabbuh Updated

[2016-01-15 14:23] tyx opened #17387 "[Process] missing behavior explained in phpdoc ?"
Currently in Process.php we have a behavior detailled:
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Process/Process.php#L243-L245

But I don't find anything in the present code that could make this behavior working (and no test). And indeed it is not working for me.

FYI this phpdoc was implemented [a long time ago](
https://github.com/symfony/process/commit/3523cab07ca9a4a

[2016-01-15 14:30] robinvdvleuten opened #17388 "[Routing][Bug] File contents of class is used in exception message"
When you try to load an abstract class with annotations, the [following code](https://github.com/symfony/symfony/blob/2.3/src/Symfony/Component/Routing/Loader/AnnotationClassLoader.php#L121...#L124) throws an exception;

[code]

But the $class variable is now a ReflectionClass instance and the complete class file contents are shown in the exception.

[2016-01-15 14:44] xabbuh commented on #17386
And how do you pass that value to `inet_pton()`?

[2016-01-15 14:47] jakzal commented on #17262
@JHGitty that's precisely why I'm reluctant whenever there's a proposal to add a new component. Ldap doesn't seem to be finished nor stable (see #16735), and ACL is in a process of removing from the core (see #15013).

Anyway, I'll repeat myself:

[2016-01-15 15:17] avindra opened #17390 "[Process] currently not suitable for running processes with large output"
By default, [PHP uses a memory_limit of 128M](http://php.net/manual/en/ini.core.php#ini.sect.resource-limits).

Since Symfony/Process stores all output in ```private $stdout;``` and ```private $stderr;```, this means that as soon as the output hits 128MB, your PHP script using Symfony/Process will fatally error out with:

[code]

You can test this pretty quickly by just doing this (assuming you ha

[2016-01-15 15:20] michaelperrin commented on #17352
Hello,

I can confirm the issue @aguidis reported.

The test @raziel057 introduced in 317d30b didn't fail when @nicolas-grekas commited eb08baa (I can't see the reason of this commit too) as the test has always passed, @nicolas-grekas therefore didn't see the regression.
The reason is that no fixtures are loaded during the test, so an empty array is always compared to an empty array, whether the f

[2016-01-15 16:16] avindra commented on #17390
Changing this function solves my issue:

[code]

Is this valid to have in the core code?

[2016-01-15 16:47] COil commented on #17386
You must set the X-Forwarded-For header.

[2016-01-15 16:49] #17388 closed

[2016-01-15 16:52] #16868 closed

[2016-01-15 17:27] avindra commented on #17390
Confirming that tests still pass with this change:

Before:

[code]

After:

[code]

[2016-01-15 18:59] xabbuh commented on #17386
Sorry, I do not seem to follow. Can you provide the steps I would have to do to reproduce your issue?

[2016-01-15 19:00] Ener-Getick opened #17392 "[HttpFoundation] Refactor the Request / Response classes to use the standard interfaces from php-fig"
As discussed [here](https://github.com/symfony/symfony/pull/17379#issuecomment-171905787), it may be the time to think about refactoring the ``Request`` and the ``Response`` classes to follow the ``php-fig`` standards.

You can see this interfaces [here](https://github.com/php-fig/http-message).

Message from @iltar:

Actually, I've been thinking of converting the current Request/Response objects

[2016-01-15 19:05] Tobion commented on #17392
Duplicate of #15414

[2016-01-15 19:09] stof commented on #17392
This is impossible without creating a new incompatible framework (even though you keep the name, which only makes things harder).
Just look at closed issues talking about PSR-7 and at the Symfony blog (even though some of the discussion also happened privately in the core team, I think we posted our conclusions publicly).

this is why we have a PSR-7 bridge allowing to convert between PSR-7 and Ht

[2016-01-15 19:12] Ener-Getick commented on #17392
@Tobion @stof right sorry I didn't see this issues...

To be closed then.

[2016-01-15 19:12] #17392 closed

[2016-01-15 20:22] codykrainock opened #17394 "Implement PSR-7 for Request and Response objects"
The PSR-7 standard has been introduced, and it would be beneficial if the framework followed these guidelines for interoperability purposes between libraries.

* Symfony\Component\HttpFoundation\Request
* Symfony\Component\HttpFoundation\Response

We are currently using the Symfony HttpFoundation classes for OAuth2 implementation. Since Slim 3 and others have moved to a PSR-7 standard, we are expe

[2016-01-15 20:35] Tobion commented on #17394
Pleaes use the search. Thanks

[2016-01-15 20:35] #17394 closed

[2016-01-15 22:32] codykrainock commented on #17394
@Tobion - can you clarify? I searched existing issues on this repo and didn't find anything.

[2016-01-15 22:43] xabbuh commented on #17394
@codykrainock You can take a look at #15414 and #17392 for some background information.

[2016-01-16 04:59] fabpot commented on #17390
ping @romainneutron

[2016-01-16 08:46] HeahDude commented on #17187
I have answered my question on stack overflow as I was re-reading the doc about config component, this sentence appeared to be clear :

When the value is also defined in a second configuration array, don't try to merge an array, but overwrite it entirely

[2016-01-16 08:46] #17187 closed

[2016-01-16 11:51] iltar commented on #17363
If I understand it right, this is only an issue where the property is not mapped properly in the error path as the rest seems to work, or am I wrong?

[2016-01-16 12:29] NothingWeAre commented on #12141
I agree with @sebastianblum solution.
And this issue is rather unnerving when i'm trying to create REST API.
Fo example dealing with list retrival
/orders rediretcs to /orders/
so i have to define routes fo orders retrival in root route file to avoid such behavior.

[2016-01-16 12:35] paradajozsef commented on #17366
@javiereguiluz  I could optimize on ```XmlFrameworkExtensionTest```, ```YamlFrameworkExtensionTest``` and ```PhpFrameworkExtensionTest``` under ```Symfony\Bundle\FrameworkBundle\Tests\DependencyInjection\```

I'll propose a PR in a moment.

[2016-01-16 13:11] webdevilopers commented on #17363
In the end you are right. Twig will render the form fields anyway since it is based on the fields added to the form builder.
And the constraints check all the fields defined in the Entity.

But it took me some time to actually see the issue I caused by using different naming conventions.

The "Cause" says `...Form.data.mountingType = null`. And that is correct! But it looked to me as if there was

[2016-01-16 14:19] #17256 closed

[2016-01-16 15:04] WouterJ commented on #17366
`Symfony\Component\HttpFoundation\Tests\Session\Storage\MetadataBagTest::testInitialize` can't be optimized, as it's based on time and thus has to use `sleep(1)` a couple times in order to verify the timing features.

Btw, to be honest I don't think fixing this issue will improve any of the speed. When using the parallel PHPunit execution (which everyone can use by just doing `php ./phpunit symfon

[2016-01-16 15:15] javiereguiluz commented on #17366
@WouterJ on Travis tests take between 3 and 6 minutes for each Symfony version and around 18 minutes in total. This initiative can help us get faster feedback from Travis, which is always nice.

Besides, you are right ... and that's another way of making tests faster: removing unneeded or redundant tests. For example, yesterday I was looking at `NumberFormatterTest`. Don't you think that in [these

[2016-01-16 18:20] xabbuh commented on #16667
see #17405 which tackles upgrades coming from deprecations in 2.7

[2016-01-16 21:31] webdevilopers commented on #8293
Any news on this?

[2016-01-16 23:16] xabbuh commented on #8293
Can you give a use case for which you would need such a form type?

[2016-01-17 00:59] paradajozsef commented on #17270
I can confirm this behaviour. It occurs in 2.7.9 and 2.8.0. I proposed a PR: #17406. @gseidel has been right with this statement:

[2016-01-17 09:47] Guite opened #17407 "Combining template overriding with inheritance"
It would be great to have a functionality which allows to remove uncustomised Twig blocks from a template override. All blocks existing in the override template should be used from there, while the remaining ones should be used from the original template in the bundle.

This would further simplify customisation as you could do something like this.

Bundle template:
[code]

Override:
[code]
So you

[2016-01-17 12:06] Koc commented on #8293
@xabbuh for ajax loaded data like autosuggests - when choice list is too big

[2016-01-17 13:00] webdevilopers commented on #13005
I tried setting the `property_path` to `dormerType.id` but get an error:
**Expected argument of type "object or array", "NULL" given
[code]

Here is the full profiler screen:
![dormertype_form_error](https://cloud.githubusercontent.com/assets/3479626/12377575/a18896dc-bd22-11e5-9624-21afb5d3758d.png)

Does anyone have an idea what is going on here?

[2016-01-17 14:15] webdevilopers commented on #13005
I've just recognized this examle by @superdav42:
https://github.com/symfony/symfony/issues/14877#issuecomment-126570460

I've improved my service class to inject doctrine:
[code]

The data transformer seems to work fine now. `EntityType` seemed to be the correct type to extend.

For some reason Twig isn't yet populating the checkboxes when submitting the form.
But closing the orignal issue now.

[2016-01-17 15:18] webdevilopers commented on #13005
Whatever I try with Symfony `2.6` I cannot get the radio button checked inside my template:

[code]

Following several attempts from:
* http://symfony.com/doc/current/reference/forms/twig_reference.html#selectedchoice-selected-value
* http://symfony.com/doc/current/reference/forms/types/choice.html#field-variables
* http://stackoverflow.com/a/30851707/1937050

But no access. Any idea?

[2016-01-17 16:10] xabbuh commented on #8293
Not sure that we need a complete new form type for this. Having an additional option (maybe provided by a form type extension) looks sufficient to me.

[2016-01-17 17:06] Koc commented on #8293
yes, @xabbuh see #15053

[2016-01-17 17:10] mkluczka commented on #16930
I have the same issue, the reason - invalid characters in parameter secret. My secret: "fdlkjah3wi4uy0rawtrgi4b\e[13~2\e[15~9q7g245!". After changing it to [a-zA-Z0-9]+ no error occurs. My symfony version is 2.6.11

[2016-01-17 17:25] webdevilopers commented on #13005
In the end I found this tutorial:

The main problem was caused by my twig batch filter. Instead of running them on the choices it should be on the form var.

The final solution:
[code]

[2016-01-17 17:25] #13005 closed

[2016-01-17 17:42] smatyas commented on #17366
I'm working on optimizing `FilesystemTest`, PR will be made soon.

[2016-01-17 18:09] javiereguiluz commented on #17366
@smatyas cool! I've updated the list to let others know that you are working on this.

[2016-01-17 18:35] WouterJ commented on #17366
I think all Functional tests (FrameworkBundle and SecurityBundle ones) can be removed from this issue. They are functional tests, which are by definition much slower than the fastest unit test in the code base (booting Symfony and requesting a page takes time).

[2016-01-17 19:05] javiereguiluz commented on #17366
@WouterJ you are right of course. But we could also investigate why functional tests are so slow (or "not fast enough"). And maybe we could also try to make Symfony boot faster.

[2016-01-17 22:11] Tobion commented on #8293
Closing as duplicate of #6602

[2016-01-17 22:11] #8293 closed

[2016-01-18 07:44] xabbuh commented on #16930
@mkluczka Please update your application to a supported Symfony version (the secret you mentioned works like a charm on Symfony 3.0).

@malas I am closing here for now. Feel free to provide more information about how to reproduce your issue and we can reopen here again.

[2016-01-18 07:44] #16930 closed

[2016-01-18 09:04] javiereguiluz opened #17413 "[DX] Improve generation of absolute URLs"
### Problem

In Symfony 2.x this is how you generate an absolute URL:

[code]

This is how you do the same in Symfony 3.x:

[code]

To me, the new version looks infinitely worse than the old one.

### Solution

I guess Symfony Core won't accept bringing back the boolean argument, so we could add a new `generateUrl()` method:

[code]

Thoughts? Better ideas? Thanks!

[2016-01-18 09:10] sensorario commented on #17413
And, ... isn't a route a value object? Could Symfony core introduce VO in route generation?

[code]

[2016-01-18 09:57] Pierstoval commented on #17413
@sensorario This is not the subject of the issue, actually...

Using `generateUrl` is a good idea but actually, having aliases like in Twig may be much better: `generatePath` and `generateUrl` are more "verbose" IMO.

[2016-01-18 09:59] iltar opened #17415 "[Form Profiler] Custom Types overlapping content in profiler"
I've just updated ~60 form types to use the new way of defining the type. When I checked the profiler, I noticed that the names of the forms are now displayed incorrectly. Besides of adding the subtypes to the builder, this form type doesn't define any specific methods.

![](http://i.imgur.com/DS7uuww.png)

I've tried playing around but I cannot find a compromised way of showing types. This is an

[2016-01-18 10:01] fbourigault commented on #17353
It's working using 2.8.1/2.8.2

[2016-01-18 10:42] peterrehm commented on #17413
@javiereguiluz To make it more clear `generateAbsoluteUrl` might be more intuitive.

[2016-01-18 10:44] sensorario commented on #17413
@Pierstoval ok =) thanks.

[2016-01-18 11:09] xabbuh commented on #17413
@javiereguiluz The "new" way (i.e. passing the constant from the interface instead of hardcoded values) works the same in Symfony 2 and should always be preferred to avoid issues when upgrading (we updated the docs for this recently).

[2016-01-18 11:12] xabbuh commented on #17413
But yeah, having shortcut methods with meaningful names (like `generateAbsoluteUrl()`) for the different values might be a good idea.

[2016-01-18 12:14] Tobion commented on #17413
Just make it the same as the twig shortcuts (url, path) but from the base controller/trait.

[2016-01-18 12:16] javiereguiluz commented on #17413
@Tobion yes, but we also want to improve DX for any code using the URL generator outside a controller.

[2016-01-18 12:19] WouterJ commented on #17413
I think the new version is infinitely better. Given there are more than 2 reference types (absolute url, absolute path, relative path and network path), using boolean values don't make any sense here.

I fail to see how it can be much worse. Apart from the fact that you need to type/know the FQCN. However, FQCN can be autocompleted (which is why we use the FQCN for form types now as well...). So i

[2016-01-18 12:25] Tobion commented on #17413
:-1: On adding a helper method on the router/generator itself. First it cannot be added to the interface because thats a bc break. Secondly, it does not make sense to have two methods for the same thing.

[code]

IMO the second signature is way more self-explanatory than the first and thus better DX.

[2016-01-18 12:29] javiereguiluz commented on #17413
@Tobion the long version is more expressive. But the problem is that it's too long (`UrlGeneratorInterface::ABSOLUTE_URL` has 35 chars!! and it requires you to add an import).

[code]

[2016-01-18 12:31] Tobion commented on #17413
Clarity is more important that shortness. For shortness there are IDEs you can use. But for clarity you cannot have tools.

[2016-01-18 12:32] Tobion commented on #17413
Otherwise you could also propose to remove every constant from symfony. The values are usually shorter (like integers) than the constant.

[2016-01-18 12:34] javiereguiluz commented on #17413
@Tobion I won't propose to remove constants ... but I'd like some of them to be shorter.

[2016-01-18 12:35] Tobion commented on #17413
Shorter constant names?

[2016-01-18 12:58] alexandresalome commented on #17413
What about ``->generate('route_name', $routeParams, 'absolute')``?

Would it be acceptable to add a ``if (is_string($referenceType))`` block at the beginning?

[2016-01-18 13:04] sensorario commented on #17413
@Tobion is new method in an interface a bc? How can new method cause failing in other components?

[2016-01-18 13:05] iltar commented on #17413
@javiereguiluz one thing you could do, is shorten the class name:
[code]
Additionally you could split them:
[code]
In fact, the URL generator has mainly options to generate paths at the moment.

[code]

This would be a lot shorter and friendlier to write from a DX perspective.

[2016-01-18 13:18] WouterJ commented on #17413
@javiereguiluz you are free to use `UrlGenerator::ABSOLUTE_PATH`, which saves some characters. Imports don't matter, these are autocompleted (and required imports were not rejected for form types, which are much more commonly used than url generation).

[2016-01-18 13:58] javiereguiluz commented on #17413
@Tobion in my opinion constants mostly used by developers (and not by internal code) should be as short as possible. In the past we did [some changes](https://github.com/symfony/symfony/pull/12074) to achieve that. For example:

[code]

[2016-01-18 14:38] HeahDude commented on #16576
Closing as it's the wrong place for reporting and I could not reproduce this issue on a clean install

[2016-01-18 14:38] #16576 closed

[2016-01-18 15:27] javiereguiluz commented on #13675
This seems like a quick win: the new behavior seems reasonable and the needed code changes are minimal (according to the linked proof of concept).

[2016-01-18 15:28] romainneutron commented on #17390
We could think about storing this in a `SplTempFileObject` ? I'm gonna try this

[2016-01-18 15:33] avindra commented on #17390
@romainneutron : What are your thoughts on not storing any of the data if a user passes a closure? The PR I've referenced does exactly that and fixes the issue.

In my opinion, this shouldn't be considered BC because in the documentation ```->run($closure)``` and ``->run(); ->getOutput()``` are clearly defined as two separate examples.

In the case that you would consider this BC, can we get an op

[2016-01-18 15:35] DemonTPx commented on #17303
I've run into the same problem.

`dumpFile` uses the `tempnam` method to generate a temporary filename, which always creates files using mode `0600`. See: http://php.net/manual/en/function.tempnam.php

In symfony/filesystem <3.0, this was not a problem, since a `$mode` parameter was present with the default value of `0666`.

[2016-01-18 15:41] DemonTPx commented on #17303
Oh, wait a minute... I see that my problem has already been fixed in master (not in 3.0.1). Thanks for that! :+1:

[2016-01-18 15:43] xabbuh commented on #17303
@DemonTPx Indeed, this was fixed in #17063 which will be included in 3.0.2.

[2016-01-18 15:46] romainneutron commented on #17390
Sorry, I missed your PR. Actually, this is a BC break.

To be more precise about my proposition: `SplTempFileObject` is not that good, a temporary stream is a better idea.

[2016-01-18 15:47] romainneutron commented on #17390
This is a BC break because the previous behavior (using a callback and `Process::getOutput` at the same time) is currently possible

[2016-01-18 15:48] javiereguiluz commented on #14358
A forward performed with the `forward()` shortcut uses this code:

[code]

I don't know how could we differentiate this request from other regular sub-requests to display it as a forward. If anybody knows, please tell me and I can try to add something to the Symfony Profiler.

[2016-01-18 15:55] avindra commented on #17390
Makes sense. What about adding an option to ```Process``` to prevent storing the output data internally? Would that just make the api messier / better to wait for Symfony4 to make a change like this?

[2016-01-18 16:13] romainneutron commented on #17390
As I mentioned above, I'm currently working on a stream-based store for these data, you should not be annoyed by this limit in the future

[2016-01-18 16:14] javiereguiluz commented on #14260
Could someone with experience in this take care of this issue? The latest version of ICU is 56.1 (http://site.icu-project.org/download) but Symfony is two versions behind (we use 54.1).

There is a [update-data.php](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Intl/Resources/bin/update-data.php) script in the Intl component which should make this task "not complicated".

[2016-01-18 16:18] avindra commented on #17390
Sure, thank you. For anyone else who needs a fix immediately (using the BC change where registering a closure stops the internal string variables from being populated), feel free to use this class

[code]

And just use ```ProcessEnhanced``` instead of ```Process```.

[2016-01-18 16:19] javiereguiluz commented on #14679
I haven't experience the mentioned issue. @kayvanbree could you please provide more information of confirm if the error is gone? Thanks!

[2016-01-18 16:34] romainneutron commented on #17390
I just opened a PR regarding this issue

[2016-01-18 16:55] avindra commented on #17390
Btw, it seems that there really isn't any way to get around the 2GB PHP string limit, so that should probably be documented as a caveat for ```getOutput```

[2016-01-18 16:57] romainneutron commented on #17390
Now that we're near to a stream-based storage, it's easy to implement a new feature : `Process::getOutputAsStream` for example that would ease reading data when it exceeds 2GB

[2016-01-18 16:59] romainneutron commented on #17390
Moreover, we can increase performance by allowing a callback whenever output is disabled.

[2016-01-18 17:04] stof commented on #17413
@sensorario The issue is that it forces all implementations of the interface to implement the new methods, otherwise they don't respect the interface anymore.

Btw, this is also why I think shortcut methods should not be in the router itself: they don't play well with composition at all. A class providing shortcuts should wrap the router instead of being the router itself

[2016-01-18 17:14] Tobion commented on #17413
IMO we can close this issue in favor of #16863. Just create a RouterTrait with those shortcuts like silex does.

[2016-01-18 17:29] Tobion commented on #13675
AFAIK default values on a DB are not supported by doctrine portably across RDBMS. So it's not reliable to assume that the default is used when you persist an entity using the form.

[2016-01-18 17:34] nicolas-grekas commented on #14260
I'm not sure it's required now: the version we use is the one shipped with 5.5.9, which is exactly our lowest php requirement. Good enough IMHO, WDYT?

[2016-01-18 17:41] Tobion commented on #13675
This is why using default values at the PHP level is usually recommended. Maybe we could use http://php.net/manual/en/reflectionclass.getdefaultproperties.php and then mark a field as non-required if it has a default value != null.

[2016-01-18 21:42] romainneutron commented on #17390
@avindra I pushed https://github.com/symfony/symfony/issues/17427 that would allow you to disable output and use your own callback to avoid buffering data in filesystem.

[2016-01-18 23:44] avindra commented on #17390
@romainneutron : Thanks, that looks great. Can you verify that this would be the way to use a future version of ```Process``` that won't explode from excessive memory usage?

[code]

[2016-01-19 07:39] #14290 closed

[2016-01-19 08:03] javiereguiluz commented on #14260
@nicolas-grekas I agree with you. Thanks for the info. Given that we won't upgrade the minimum PHP requirement at least until the end of 2017 (when Symfony 4.0.0 is released), should we close this issue?

[2016-01-19 08:11] xabbuh commented on #16667
We should compare the upgrade files for 2.4, 2.5, and 2.6 too.

[2016-01-19 08:26] sstok commented on #14260
Actually I do need 56.1, as that's the version installed by Homebrew.
Unless there is another way? I couldn't find anything in the docs about this issue.

[2016-01-19 08:39] #15839 closed

[2016-01-19 09:29] COil commented on #17386
For example I have an API and a front application, when setting manually the X-Forwarded-For when querying the API like this:

            $attack = <<<EOT
    }__test|O:21:\"JDatabaseDriverMysqli\":3:{s:2:\"fc\";O:17:\"JSimplepieFactory\":0:{}s:21:\"\\0\\0\\0disconnectHandlers\";a:1:{i:0;a:2:{i:0;O:9:\"SimplePie\":5:{s:8:\"sanitize\";O:20:\"JDatabaseDriverMysql\":0:{}s:8:\"feed_url\";s:48:\"print

[2016-01-19 09:57] sandrokeil opened #17436 "[Config] Support for dynamic array node definitions"
To increase the interoperability it would be useful to have an option for dynamic array definitions in the configuration node builder. Framework agnostic libraries validates the configuration in the factory classes, so there is no need to redefine it for Symfony.

It exists a [Symfony Interop Bundle](https://github.com/proophsoftware/prooph-interop-bundle/blob/master/src/Config/Definition/DynamicA

[2016-01-19 10:13] conradkleinespel commented on #15092
I recently realised, I could use a getter to validate what I needed validated. This seems concise and avoids hacking around the callback validator.

Here's a fictitious example of what I use in the `validation.yml` file:

[code]

In the class `SocialNetwork\MainBundle\Entity\Group`, I have something like this:

[code]

I hope this helps.

[2016-01-19 10:20] javiereguiluz commented on #17342
I've investigated this problem and the error occurs in these lines of `RouterController.php` in WebProfilerBundle:

[code]

If I remove that line, or if I remove the expression in the routing condition, everything works right. This the dump of the `$matcher` variable:

![matcher_dump](https://cloud.githubusercontent.com/assets/73419/12415898/8b9fc020-be9e-11e5-929c-a44759276421.png)

[2016-01-19 10:46] mnapoli commented on #17360
FYI the is the `--ansi` option to force colorized output.

[2016-01-19 10:55] lokhman commented on #8658
Any updates on this? The issue still exists, and I wonder why it was closed.

[2016-01-19 11:05] mbrodala commented on #17360
@mnapoli I guess this must be passed through explicitly? E.g.

[code]

[2016-01-19 11:07] mnapoli commented on #17360
For PHPUnit they use a different option (probably for historical reason): `--colors=always`.

[2016-01-19 11:54] romainneutron commented on #17390
I don't see any problem with the snippet you mention if my PR is merged in master. It will available in Process 3.1 and it would save lots of memory in your case

[2016-01-19 11:54] mbrodala commented on #17360
Thanks, that actually did the trick. :-)

[2016-01-19 11:54] #17360 closed

[2016-01-19 12:18] #17270 closed

[2016-01-19 12:33] fabpot commented on #16804
This one can be closed as `_self` has been un-deprecated now.

[2016-01-19 12:42] Strate opened #17439 "[DX] Add ability to disable AddClassesToCachePass compiler pass"
There is no way to disable AddClassesToCachePass compiler pass.
It generates `classes.map` file, and then `ClassCacheCacheWarmer` always generated `classes.php` file.
So, if I do `app/console cache:warmup` for my dev environment I got a `classes.php` file *always*, wihtout exceptions. But I want to disable that, as it described in http://symfony.com/doc/current/cookbook/debugging.html (my IDE is n

[2016-01-19 12:44] mnapoli commented on #17413
How about a new "enum" kind of class that would only contain the constants?

Before:

[code]

After:

[code]

[2016-01-19 12:52] iltar commented on #17413
@mnapoli see my suggestion

[2016-01-19 12:54] mnapoli commented on #17413
@iltar Ah right sorry I thought you had just aliased the `UrlGeneratorInterface` to `Path` ;)

[2016-01-19 13:10] #16804 closed

[2016-01-19 13:10] iltar commented on #17439
Can't you simply exclude the var (or app/cache) directory from indexation? It shouldn't be a problem to an IDE to have this. I've personally never encountered a problem with this (or the above solutions provided).

[2016-01-19 13:55] Strate commented on #17439
I do not want to exclude `app/cache` directory from index - I want to have an indexed generated container/router/twig/etc files.
My ide (PhpStorm) can not exclude one file.

And one more thing, in cookbook entry http://symfony.com/doc/current/cookbook/debugging.html there is a section which describes how cache file could be renamed:

This is definetely does not work now, because `classes.php` is h

[2016-01-19 14:06] iltar commented on #17439
I'm using phpstorm and I've never had those issues before. Even if you mark it as excluded, you won't have issues with the symfony plugin.

![](http://i.imgur.com/neXLuIm.png)

[2016-01-19 14:08] aivus commented on #17439
@iltar what happens when you try to debug code, which in cache?
I think main reason in it.

[2016-01-19 14:11] Strate commented on #17439
I will try to developing with excluded cache folder, but inconsistent cookbook entry still an issue (and BC for developing)

[2016-01-19 14:13] aivus commented on #17312
@stof I think we can expand signature without any issues.

[2016-01-19 14:15] Pierstoval commented on #17413
I like your idea @iltar !

[2016-01-19 14:50] matthbull opened #17443 "[form][2.8.1] new 'entry_options' not making it to underlying formtype"
In trying to fix some 2.8 deprecation warnings and I've come across an issue where entry_options are not passing to the underlying `formType`.  I'm not sure if this is me or its a bug, but I'll try to explain as clearly as I can.

using a `CollectionType` form field as follows:

**Parent form**
[code]
**child form**
[code]

**error**:

Using xdebug to see whats being passed where, it seems that th

[2016-01-19 15:07] pimolo commented on #17413
:+1: @javiereguiluz
- IMO using theses current constants is not instinctive ;
- I don't like long constants because it encourage most of developers to make more hard wraps* to respect team conventions.

And I think we could deepen the @iltar suggestion because it don't brings BC breaks.

*Ok, lots of hard wraps are not bad in itself, but it would be great if we could reduce their using as possible

[2016-01-19 15:14] ooflorent opened #17444 "[WebProfiler] Proxy `fetch` calls"
More and more JavaScript applications use `fetch` to load remote data. Currently the Web Profiler does not proxy this function and cannot hook into its calls.

I would be pleased to contribute it if such improvement would be accepted. What do you think about adding this functionality?

[2016-01-19 15:21] andrerom opened #17445 "[Cache] ArrayAdapter in current form not safe for anything but unit tests"
Same issue in php-cache: https://github.com/php-cache/array-adapter/issues/3
Discussion started on: https://github.com/symfony/symfony/pull/17408#discussion_r50109119

## Stale cache
In current form ArrayAdapter is not really safe for applications where cache can not be stale, where stale is defined as the data placed in cache has been updated in the backend, before cache expiry time is reached.

[2016-01-19 15:22] stof commented on #17444
this looks like a good idea.

[2016-01-19 15:39] HeahDude commented on #17443
Hi @matthbull this is fixed in 2.8.2, see #17162

[2016-01-19 15:48] jakzal commented on #17345
`PHP_AUTH_USER` is set based on the `AUTHORIZATION` header, only for basic and digest authentication methods. How's that possible you've got it set for a bearer authentication?

[2016-01-19 15:51] cjmaio commented on #17345
We are using JWT for keeping logged in on a mobile application, using Laravel (and therefore this Symfony module) as the API. Our servers however use Shibboleth / mod_shib for authentication, which sets PHP_AUTH_USER.

[2016-01-19 15:52] jakzal commented on #17351
@pculka feel free to submit a PR to https://github.com/symfony/symfony-docs if you think an improvement would be cool :)

[2016-01-19 15:58] BentCoder opened #17447 "Storing Symfony2 sessions in memcached but the prefix is wrong"
Hi,

Prefix of my session handler in memcached is supposed to be `sess_` but for some reason it appears to be `session_` as you can see below. Do you guys know what the reason could be?

Thanks

Inspired from [Storing Symfony2 sessions in memcached][1]

Testing via: `http://symfony.dev/app_dev.php/`

**Memcached content**

    Server 127.0.0.1:11211
    ITEM mc[session_mifkhmgs62j4h3mp2cfl47oi94][

[2016-01-19 16:13] matthbull commented on #17443
awesome. thanks for that

[2016-01-19 16:13] #17443 closed

[2016-01-19 16:25] xabbuh commented on #8658
@lokhman Which Symfony version do you use? Do the changes made in #16747 improve your situation?

[2016-01-19 16:25] jakzal commented on #17387
This part was never implemented. See #3681 for the original PR.

If no one is eager to implement this behaviour we should remove that comment.

[2016-01-19 16:28] stof commented on #17387
We should simply remove it in all versions. Even if this gets implemented, it would be a new feature and so go in master, not in maintenance branches.

[2016-01-19 16:31] xabbuh commented on #17447
Please use [StackOverflow](http://stackoverflow.com/questions/tagged/symfony2) for support questions.

[2016-01-19 16:31] #17447 closed

[2016-01-19 16:34] jakzal commented on #17387
Indeed.

[2016-01-19 16:48] jakzal commented on #17345
@cjmaio it doesn't sound right. Could you point me to the Shibboleth documentation that would help me understand why they are setting `PHP_AUTH_USER`?

[2016-01-19 17:05] BentCoder commented on #17447
@xabbuh [I already did](http://stackoverflow.com/questions/34881174/storing-symfony2-sessions-in-memcached-but-the-prefix-is-wrong)

[2016-01-19 17:16] lokhman commented on #8658
@xabbuh It was 2.7.7. Updated to 2.7.9, and now it's fixed. Thank you for reference. The issue was resolved a week ago and released with [**v2.7.9 #17367**](https://github.com/symfony/symfony/issues/17367).

[2016-01-19 19:00] xabbuh commented on #8658
@lokhman Thanks for the confirmation.

[2016-01-19 19:44] xabbuh commented on #17444
Sounds like that could add valuable information to the WDT.

[2016-01-19 20:38] xabbuh commented on #17386
@COil Please provide some precise steps how to reproduce your issue. With a default Symfony 2.7 installation and the following request I cannot reproduce it:

[code]